[2018-03-31 14:19] Beep6581 commented on #4478
https://github.com/Beep6581/RawTherapee/tree/testoutputprofile/rtdata/iccprofiles/output

The files in commit f3c4546 use curves with 4096 points. There is an ongoing discussion about whether to use 1024 or 4906 points: https://discuss.pixls.us/t/feature-request-save-as-floating-point/5696/119

[2018-03-31 14:52] Desmis commented on #4478
I know, and I say in forum :

"By default it is LCMS that fixe this value

#define MAX_NODES_IN_CURVE 4097 in cmsgamma.c"  ==> all profiles generate with LCMS have 4096 points.

[2018-03-31 14:55] TooWaBoo commented on #4479
@Beep6581
I've followed your instuctions.
I think I found the culprit. It's the Profiled Lens correction -> Vignetting correction
I've uploaded the .lcp-file to the link above too.

How to reproduce:
1. Apply Neutral
2. Check Highlight reconstruction
3. Select P330...lcp
4. Uncheck Distortion correction for better preview
5. Check Vignetting correction
6. The sky becomes posterized

There's anothe

[2018-03-31 15:04] Beep6581 commented on #4479
Confirmed both issues.
There is a third issue - using neutral, there are strong magenta highlights.

[2018-03-31 15:07] Beep6581 commented on #4479
The posterized highlight transition is unrelated to LCP.
Simply apply neutral and set white-point correction to 2.
![screenshot_20180331_170745](https://user-images.githubusercontent.com/5844619/38164506-0ca0d24c-3506-11e8-8f6e-8f7d19a6a37d.png)

[2018-03-31 15:08] TooWaBoo commented on #4479
The strong magenta highlights will disappear by acivating highlight reconstruction.

[2018-03-31 16:08] cuniek commented on #4479
Isn't that the result of unbounded processing?
EDIT: Scratch that, this is wrong white point (as @Beep6581 wrote). I made the comment because I am evaluating unbounded processing which introduced pink highlights in cameras that do not suffer from wrong whitepoint.

[2018-03-31 16:13] Beep6581 commented on #4479
I measured the white/black levels, tried this and that, and the white level number which eliminates magenta is nowhere near what I measured, even after scaling the measured value to 14-bit... @iliasg help, could you explain how to measure this file correctly?

[code]

[2018-03-31 16:33] agriggio commented on #4479
could be a side effect of unbounded processing, if you don't enable highlight reconstruction. RT used to clip highlights, now it doesn't unless told so (ie by enabling highlight recovery). I see a couple of options, but I'm open to suggestions:

1. restore the old behaviour
2. introduce a new highlight reconstruction mode "clip"
3. live with this, as there are workarounds

(I'm fine with 3 persona

[2018-03-31 19:24] TooWaBoo commented on #4479
I vote for 1. restore the old behaviour
I've tried to get the same results with the new behaviour, but I could'nt get it identical. (I've compared with RT5.3)

[2018-03-31 20:08] agriggio commented on #4479
@TooWaBoo what do you mean compared with 5.3? what I described above happened after 5.4, so the reference point should be 5.4 -- otherwise the issue is different... can you confirm that with 5.4 everything works as you expected?

[2018-03-31 20:10] TooWaBoo commented on #4479
@agriggio
I'll test with 5.4 tomorrow.

[2018-03-31 23:23] Beep6581 commented on #4479
RT 5.3:
![imgur-2018_04_01-01 15 13](https://user-images.githubusercontent.com/5844619/38168366-2a797a78-354a-11e8-8489-846ab1a6e90e.png)

RT dev 69c38b45 (before the unbounded merge):
![imgur-2018_04_01-01 16 19](https://user-images.githubusercontent.com/5844619/38168376-5f2bce24-354a-11e8-9698-537fa2de50c8.png)

RT dev ed21c4ee
![imgur-2018_04_01-01 18 17](https://user-images.githubusercontent.c

[2018-04-01 03:33] iliasg commented on #4479
@Beep6581

Where did this WL = 12200 came from !!

On the heavylly overexposed areas the clipping is at 4094 (just one down from the 12bit top 4095 !!) .. I would put it a bit lower (say 4080) to be on the safe side

@agriggio
But with RT 5.4-84-gc4933e36 we have a problem with DNG where adobe converts the NRW to 16bit DNG BL=3200, WL=65000 (not sure if this is already OK after Alberto's related t

[2018-04-01 04:42] TooWaBoo commented on #4479
@agriggio
I've tested with 5.4 and everything is fine.

[2018-04-01 07:39] agriggio commented on #4479
so is the pink building the desired behaviour?
how about a checkbox in the raw tab that lets the user decide whether to clip or not?

[2018-04-01 07:49] TooWaBoo commented on #4479
@agriggio
As long as I get the old behaviour back, you can do what ever you want. 😁
Now serious: I don't understand the benefit of the new behavior.

[2018-04-01 07:56] TooWaBoo commented on #4479
There is an issue in the shadows too.
dev (new)
![grafik](https://user-images.githubusercontent.com/13800920/38171078-5dfaf9ec-3592-11e8-97cc-c227d25ed8d5.png)

5.4 (old)
![grafik](https://user-images.githubusercontent.com/13800920/38171088-b723d82c-3592-11e8-89f3-a2a8862bed49.png)

[2018-04-01 08:56] agriggio commented on #4479
@TooWaBoo https://filebin.net/qxlzm3k1w6g087je/DSCN0760-2.jpg
For the shadows part, could you please attach a RAW file and a pp3, so that I can have a look? Thanks!

[2018-04-01 10:17] TooWaBoo commented on #4479
Here it is: https://filebin.net/08j6p7pn1btgx5ms

[2018-04-01 10:26] Beep6581 commented on #4479
Exactly, but when I tried 4094 and 3894, it was as if RT ignored it. Then I tried scaling that value to a 14-bit range, RT didn't ignore it, but it still showed magenta.

[2018-04-01 10:40] cuniek commented on #4479
@TooWaBoo Change input profile from "Camera standard" to any icc, dcp, or "No profile". The problem is gone.

[2018-04-01 10:42] TooWaBoo commented on #4479
@cuniek
But this wouldn't really help. I'm using the P330...dcp from Adobe and the problem still exists with latest dev.

[2018-04-01 11:39] cuniek commented on #4479
@TooWaBoo
Here is a set of screenshots. I have tested different profiles (Nikon d750, Sony 580, Minolta 7D, even AdobeRGB), and 90% of them give smooth shadows. There are few that give wrong shadows, so... This is either color profile related, or black point in RT is wrong, but some color profiles are correcting that.

Notice, that Raw Black Points are fixing it too.

![2018-04-01_133652](https://

[2018-04-01 11:41] Beep6581 opened #4480 "LCP vignetting correction applied even when PLC set to "None""
1. Open this raw, set the PP3 to neutral, use this LCP:
http://rawtherapee.com/shared/test_images/amsterdam.pef
https://filebin.net/bic7wmbwl6g6uptc/PENTAX__smc_PENTAX-DA_50-200mm_F4-5.6_ED__-_RAW.lcp
2. Set Profiled Lens Correction to LCP, notice strong vignetting (the LCP file is not for that lens, to make the bug more clear).
3. Set Profiled Lens Correction to None. Bug: the vignetting correcti

[2018-04-01 11:46] agriggio commented on #4479
btw, I don't want to advocate the change at any cost (in fact I think a checkbox in the raw tab is the way to go), but similar posterization can be obtained using 5.4 on different shots, at least as far as I remember -- I'll dig deeper once I get back to my machine

[2018-04-01 11:48] Beep6581 commented on #4479
Three different issues are being discussed:

1. Problem 1: incorrect white levels. Setting `"white": 4080` works fine for the NRW but not for DNG in `dev` (`5.4-127-g`ed21c4ee at the time of writing).
2. Problem 2: LCP vignetting correction is applied even when profiled lens correction is set to "None" - I opened issue #4480
3. Problem 3: highlight transition to clipping is not smooth.

Let's plea

[2018-04-01 12:31] cuniek commented on #4479
@Beep6581
About problem 3 - I guess I have found the cause

line 1112

https://github.com/Beep6581/RawTherapee/commit/15813abbedb6079a0f3ec627675dcf8385939de1#commitcomment-28366769

[2018-04-01 12:34] agriggio commented on #4479
@cuniek according to @TooWaBoo the problem occurs with "blend", not "colour propagation"...

[2018-04-01 12:48] cuniek commented on #4479
Last post for today, I promise:

@agriggio You are (somehow) right, I made some comparisons and ALL HR methods are giving posterized highlights after unbounded was commited. Still the issue I mentioned adds even more posterization in case of colour propagation.

Happy Easter!

[2018-04-01 12:59] agriggio commented on #4479
@cuniek no problem, please feel free to add as many comments you feel appropriate!
Regarding the posterization: the "trick" is to use highlight compression. Do you see posterization in the file I posted above? (https://filebin.net/qxlzm3k1w6g087je/DSCN0760-2.jpg). The pp3 is here:
https://filebin.net/qxlzm3k1w6g087je/DSCN0760-2.jpg.out.pp3
It looks fine from here (but again, I'm on a crappy screen

[2018-04-01 14:32] Beep6581 commented on #4479
There is a test image for examining transitions from unclipped to all-clipped:
http://rawtherapee.com/shared/test_images/overexposed_sky.pef

Neutral

* 5.3
![screenshot_20180401_161227](https://user-images.githubusercontent.com/5844619/38174094-5e19d52a-35c8-11e8-873f-ef110d33fd07.png)
* 5.4
![screenshot_20180401_161304](https://user-images.githubusercontent.com/5844619/38174097-68939626-35c8-11e

[2018-04-01 14:39] Beep6581 commented on #4479
Neutral + color propagation

* 5.3
![screenshot_20180401_163736](https://user-images.githubusercontent.com/5844619/38174288-4261fc74-35cb-11e8-8e2d-e30ebc630742.png)
* 5.4
![screenshot_20180401_163805](https://user-images.githubusercontent.com/5844619/38174293-4634f766-35cb-11e8-8bfd-0b81498111ef.png)
* 69c38b45 (the commit before `unbounded-processing` was merged into `dev`)
![screenshot_20180401

[2018-04-01 15:07] agriggio commented on #4479
I will add the checkboxes to let the user decide whether to clip (default old behaviour)

[2018-04-02 12:21] ClaesGitHub opened #4481 "Core dump RL convolution followed by Contrast+"
In RT's file browser:
1. Select image (either RAF or TIFF)
2. Apply Neutral
3. Open

Now in RT's Editor:
4. Zoom to 100%
5. Detail tab

6. Activate Sharpening ->  RL Deconvolution
7. Set Damping to 0

8. Activate Contrast by Detail levels
9. Contrast+

This results in SIGSEGV. See debug dump below.

[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/1868041/AboutThisBuild.txt)
[log

[2018-04-02 14:30] harshula opened #4482 "Colour-target shots from Sony A7iii"
The following files:
sony-a7m3-daylight-DSC00117.ARW
sony-a7m3-tungsten-DSC00169.ARW

are uploaded to:
https://filebin.net/srwsy7h7170maiv9

They are licensed under CC0 license (https://creativecommons.org/about/cc0)

tungsten: 75 watt light bulb ~2.4m distance from the colour chart

[2018-04-02 15:54] Beep6581 commented on #4482
Thanks @harshula, the shots look good, but we need to wait for Adobe DNG Converter to support this format first.

[2018-04-02 16:20] Beep6581 commented on #4481
Reproduced. I had to click Contrast+ several times, then it crashed.
Using http://rawtherapee.com/shared/test_images/colortarget/FUJIFILM%20X-T1%20daylight.raf

[2018-04-02 16:21] Beep6581 commented on #4481
Reproduced also using `amsterdam.pef`, same procedure.

[2018-04-02 17:01] heckflosse commented on #4481
Reproducible in dev, but not in pixelshift_fixes, which is 26 commits behind dev.
This at least reduces the number of bisect steps ;-)

[2018-04-02 19:57] heckflosse commented on #4481
Bisected to https://github.com/Beep6581/RawTherapee/commit/b42a45b4817ca838d0d8490638da9f94f35d9b71

ping @agriggio

[2018-04-02 21:20] agriggio commented on #4481
I'll look into this once I'm done with #4479
But please feel free to work on it :-)

[2018-04-02 22:03] agriggio commented on #4479
No need for extra checkboxes. Here's the patch that solves the problem for the highlights:

[code]

For the shadows, I'm still testing my current solution -- I'll commit (both) once I'm happy

[2018-04-02 22:27] heckflosse commented on #4479
@agriggio

somehow looks familiar

[2018-04-02 22:28] agriggio commented on #4479
meaning?

[2018-04-02 22:33] heckflosse commented on #4479
@agriggio Alberto, that was just a thought, as I remembered that I used the same pattern shortly ago for a different part of rt code...

[2018-04-02 22:34] agriggio commented on #4479
ah, ok... I thought I made some silly mistake :-)

[2018-04-02 22:39] heckflosse commented on #4479
@agriggio Alberto, it was this, which is still wip

https://github.com/Beep6581/RawTherapee/pull/4444/commits/e03646fc5b0b8746eed1540ddb5137691565dba1#diff-e653e67851b47e016aa6492071be7b5fR2429

[2018-04-02 23:24] Benitoite opened #4483 "Compilation error during CA_correct_RT.cc"
Compiling CA_correct_RT.cc gives off this error using Mac/clang 3.9.1

[code]

[2018-04-03 06:53] Floessie commented on #4483
Here's a patch:

[code]

Best,
Flössie

[2018-04-03 06:58] Floessie commented on #4483
@heckflosse Ingo, there's also an interesting warning from Clang:

[code]

While the truncation is true and might be wanted, the note should not be followed (better use `std::fabs()`). Could you take a look, if the truncation is beneficial here or if it's really a bug?

Thanks,
Flössie

[2018-04-03 10:23] heckflosse commented on #4483
@Floessie https://github.com/Beep6581/RawTherapee/commit/16679296b77429c4d11a9b82edc5af187c899957

[2018-04-03 13:52] Benitoite commented on #4483
@Floessie Your patch works on Mac/Clang 3.9.1! 🖥

[2018-04-03 13:58] Floessie commented on #4483
@Benitoite Thanks for testing! :+1: I'll push tonight.

[2018-04-03 14:28] Beep6581 opened #4484 "Dynamic Processing Profile does not apply"
Hello

I am new to the Dynamic Processing Profile feature and in order to update the documentation I gave it a try. I wanted to see whether the camera name is case-sensitive, so I created two rules, one for "Pentax K10D" and one for "PENTAX K10D", each applies a different bundled profile. When I right-click on the `amsterdam.pef`'s thumb and select "Processing profile operations > Reset to default

[2018-04-03 14:45] agriggio commented on #4484
Do you have "(Dynamic)" set as the default profile for raw files?
BTW, the matching is case insensitive

[2018-04-03 14:47] agriggio commented on #4482
FYI, a new version of the DNG converter is out, with A7III support:
https://supportdownloads.adobe.com/detail.jsp?ftpID=6321

[2018-04-03 15:05] Beep6581 commented on #4484
@agriggio I missed that, thank you.

[2018-04-03 15:05] #4484 closed, assigned to nobody

[2018-04-03 15:38] TooWaBoo commented on #4479
@agriggio
It's different now but still not fixed.

5.4 (Nikon D90)
![2](https://user-images.githubusercontent.com/13800920/38259373-20d3cc22-3765-11e8-8fc4-48de6fab394d.png)

dev (5.4-133-g16679296) (Nikon D90)
![1](https://user-images.githubusercontent.com/13800920/38259437-51a7452c-3765-11e8-8b28-ef205fd0f8ae.png)

5.4 (Nikon P330)
![4](https://user-images.githubusercontent.com/13800920/38259457

[2018-04-03 15:55] Beep6581 commented on #4479
`5.4-133-g`16679296 looks fine here:

Neutral:
![screenshot_20180403_175407](https://user-images.githubusercontent.com/5844619/38260531-229d2136-3768-11e8-8fe0-884afe138df0.png)

Neutral with color propagation:
![screenshot_20180403_175420](https://user-images.githubusercontent.com/5844619/38260534-2698fd50-3768-11e8-8d7b-03e8129e3d20.png)

[2018-04-03 16:02] agriggio commented on #4479
@TooWaBoo can you send them in a private message maybe? (on pixls)

[2018-04-03 16:18] TooWaBoo commented on #4479
@agriggio
Message sent on pixls

[2018-04-03 17:50] ClaesGitHub commented on #4481
ping @agriggio

CIao Alberto,

I have a hunch that it is the
_Set Damping to 0_
that is the culprit here, i.e. if
Damping > 0, there is no problem (?).

Cordiali Saluti,
Claes a Lund, Svezia

[2018-04-03 18:14] heckflosse commented on #4481
@ClaesGitHub Setting the damping to != 0 avoids the crash because it implicitely avoids negative Lab L values before the next processing step. Bisecting clearly shows the responsible commit and RL deconvolution code was not changed with this commit afaik.

[2018-04-03 18:39] #4483 closed, assigned to Floessie

[2018-04-03 19:46] agriggio commented on #4481
yes sorry, it's a side effect of unbounded processing. I knew it would happen sooner rather than later :-)

[2018-04-03 21:30] #4482 closed, assigned to Beep6581

[2018-04-04 06:56] agriggio commented on #4479
@TooWaBoo I just pushed a fix -- hopefully this time I covered all cases :-)

[2018-04-04 07:07] agriggio commented on #4481
@ClaesGitHub can you try again with the latest dev? I pushed some changes that might have made this go away -- I just tried and was unable to reproduce

[2018-04-04 08:56] ClaesGitHub commented on #4481
@agriggio
Ciao!
Thank you. I have just checked the latest dev and I can _not_ reproduce the error.
/Claes

[2018-04-04 11:36] #4480 closed, assigned to agriggio

[2018-04-04 14:27] heckflosse opened #4485 "Lens data in Exif shows incorrect information for manual focus Nikon lenses"
When using MF AI/AIS lenses on some Nikon cameras one can dial in the lens data.
While this lens data is shown correctly in info dialog, it's incorrect in Exif Lensdata:

![grafik](https://user-images.githubusercontent.com/13733487/38312736-c80a5ade-3822-11e8-896e-cf83595fb820.png)

[2018-04-04 14:28] #4485 closed, assigned to heckflosse

[2018-04-04 14:30] heckflosse commented on #4481
@agriggio Fix confirmed :+1:

[2018-04-04 14:30] #4481 closed, assigned to agriggio

[2018-04-04 15:32] Beep6581 commented on #4485
Fantastic pharmacy sliding door artwork idea!

[2018-04-04 16:47] TooWaBoo commented on #4479
@agriggio
The posterize effect has gone but the "Highlight reconstruction" in RT5.4 is better. I prefere a checkbox old/new behaviour. ;-)
https://filebin.net/oe21qgngapz49ytk

5.4
![5 4](https://user-images.githubusercontent.com/13800920/38321356-b3195f16-3837-11e8-8de2-fbc1fbcb6ae1.png)

dev
![dev](https://user-images.githubusercontent.com/13800920/38321362-bba0e7b2-3837-11e8-974b-3791e041b93d.p

[2018-04-04 18:08] #4408 closed, assigned to heckflosse

[2018-04-04 18:16] agriggio commented on #4479
Just be a bit more generous with highlight compression

[2018-04-04 23:58] TooWaBoo commented on #4479
Another example with "Color propagation"

Highlight compression = 0
![1](https://user-images.githubusercontent.com/13800920/38340556-61929814-3874-11e8-81ee-38a017f22e50.png)

dev Highlight compression = 150
![3](https://user-images.githubusercontent.com/13800920/38340584-801d44d2-3874-11e8-86b1-119f9770c4e3.png)

5.4 Highlight compression = 150
![2](https://user-images.githubusercontent.com/13800

[2018-04-05 06:00] Floessie commented on #4479
I must admit, I had to go back to 5.4 for a job recently due to the problems with current HLR. So I'm very pleased that @TooWaBoo keeps on bothering and Alberto keeps on optimizing. Whether the whole thing is worth it, I don't know, as the benefits discussed on pixls weren't immediately obvious to me. But I'm no expert here, just a user...

@agriggio @TooWaBoo Please continue to struggle for a sol

[2018-04-05 07:38] agriggio commented on #4479
I'm working on a solution

[2018-04-05 12:02] agriggio commented on #4479
Here you go:

![screenshot from 2018-04-05 14 00 14](https://user-images.githubusercontent.com/11982086/38364676-e3418b62-38d9-11e8-8161-a0482e5d4c38.jpeg)

I hope this makes everyone happy :-)
(this is already in `dev`, btw)

[2018-04-05 12:20] Beep6581 commented on #4479
I like to hover the mouse over a widget and click it to see what changes, which could take a few seconds, then click again to change back, eyes on the preview the whole time. Large tooltips get in the way, obscure and distract. Issue #2221, which nobody responded to, is about moving them away from active widget elements and moving them onto labels where you wouldn't normally statically hover the c

[2018-04-05 12:31] agriggio commented on #4479
@Beep6581 sure, no problem. I wasn't even aware that #2221 existed, otherwise I wouldn't have added the tooltip in the first place...

[2018-04-05 13:03] kznsq opened #4486 "__SSE2__ blocks"
Hi!
Why there is a code like this (CA_correction_RT.cc line 387):
[code]
If we have defined __SSE2__ when it will execute twice (SIMD and plain C code)?

[2018-04-05 13:06] heckflosse commented on #4486
@kznsq You missed the fact that col is initialized outside. If SSE2 is defined, the non SSE2 part will process only the remaining pixels

[2018-04-05 13:11] kznsq commented on #4486
@heckflosse Thanks, now it is clear :)

[2018-04-05 13:18] #4486 closed, assigned to nobody

[2018-04-05 15:35] TooWaBoo commented on #4148
New update:
[code]

[2018-04-05 16:19] TooWaBoo commented on #4148
After the update, the folder panel in the file browser doesn't work anymore.

[2018-04-05 16:22] TooWaBoo commented on #4479
@agriggio

Thanks for adding the checkbox. I'm happy now.
... but the checkbox has no effect. It doesn't switch between the two modes.

[code]

[2018-04-05 16:26] heckflosse commented on #4148
@TooWaBoo Still works fine here (on Win7/64). But I didn't make clean and built after the update.
Doing that now. I will report when build is completed.

[2018-04-05 16:26] TooWaBoo opened #4487 "GTK3 3.22.29, folder panel in the file browser doesn't work anymore."
After updateing to GTK3 3.22.29, the folder panel in the file browser doesn't work anymore.
It only shows the drives. Clicking has no effect.

![grafik](https://user-images.githubusercontent.com/13800920/38378926-7250aeb2-38ff-11e8-80a0-b660edffc6d1.png)

[2018-04-05 16:51] heckflosse commented on #4487
@TooWaBoo Issue confirmed. In my Win7 it still works partly, but I can't access all folders.

[2018-04-05 17:04] gaaned92 commented on #4487
@TooWaBoo  @heckflosse

After updating to GTK3 3.22.29-1, here it works as usual.

If you want to test this build:

uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-04-05 17:14] TooWaBoo commented on #4487
@gaaned92
I've tested your build but the folder panel doesn't work. It's the same like my build.

[2018-04-05 17:14] heckflosse commented on #4487
@TooWaBoo I had to revert glib2 using
[code]
to fix the issue.

[2018-04-05 17:34] gaaned92 commented on #4487
I revert also glib2.
If you want avoid update go to /etc/pacman.conf and add
IgnorePkg =mingw-w64-x86_64-glib2

[2018-04-05 17:39] heckflosse commented on #4487
On my system I had to revert glib2 and gtk3 using

[code]

Just reverting glib2 without reverting gtk3 didn't work (RT didn't start)

[2018-04-05 18:46] heckflosse commented on #4486
@kznsq btw: you are not the first one who was confused by this. But I really like this pattern because it simplifies writing and reading the code (the non SIMD part is just a few lines away for better readability).

[2018-04-05 19:43] Beep6581 commented on #4251
Closing for lack of interest.

[2018-04-05 19:43] #4251 closed, assigned to nobody

[2018-04-05 20:16] gaaned92 commented on #4487
I reverted the two packages and updated the dev build.
I wonder what is the reason why GTK3.22.29 worked on my W10 system and not on @TooWaBoo W10?

[2018-04-05 22:53] Beep6581 opened #4488 "Supersede "default processing profile for" with dynamic profiles"
Now that RawTherapee has the ability to dynamically apply profiles based on rules, I think we should remove "Default processing profile for (non-)raw photos" and use dynamic profile rules instead.

Attached is a draft of new rules which RT could ship by default.
[dynamicprofile.cfg.txt](https://github.com/Beep6581/RawTherapee/files/1882111/dynamicprofile.cfg.txt)

[2018-04-05 22:54] Beep6581 commented on #4282
Solved by issues #4456 and #4488

[2018-04-05 23:24] heckflosse commented on #4282
Reopened because the changes are not committed

[2018-04-05 23:46] Beep6581 commented on #4488
There is a difficulty in shipping default rules which the user should be able to change or delete, as our CMake files are currently unaware of the path to the user's `options` file.

There are at least two possible paths for the `options` file: one uses the `RT_SETTINGS` environment variable, the other looks in `g_get_user_config_dir`/`CSIDL_LOCAL_APPDATA`.

`rtdata/options/options.lin`, for examp

[2018-04-06 05:01] agriggio commented on #4488
note that currently dynamic profile rules lack a way to distinguish raw from non-raw images. this would be needed if we want to replace the default mechanism

[2018-04-06 11:40] TooWaBoo commented on #4487
Perhaps @Hombre57 should check if this is a bug in GTK3 or something that has to be fixed in RT.

[2018-04-06 15:04] zmnpl opened #4490 "Add Canon G7X Mark II (Sample Photos)"
Hi,

I recognized that my G7X Mark II is not yet included so I tried to follow [these instructions](https://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) to provide you guys with the shots you need to add it.
This is the filebin link: https://filebin.net/4si5zra3ho3i77c8/g7xmarkii.zip

If you need anything more, I'm happy to help.

Best regards
Simon

[2018-04-06 15:07] zmnpl opened #4491 "Add G7X Mark II (Sample Photos)"
Hi,

I recognized that my G7X Mark II is not yet included so I tried to follow these instructions to provide you guys with the shots you need to add it.
This is the filebin link: https://filebin.net/4si5zra3ho3i77c8/g7xmarkii.zip

Hope I did it correctly. If you need anything more, I'm happy to help.

Best regards
Simon

[2018-04-06 15:07] zmnpl commented on #4491
Sorry for double posting!

[2018-04-06 15:07] #4491 closed, assigned to nobody

[2018-04-06 21:23] Beep6581 commented on #4299
Maybe now would be a good time to go ahead with this.

[2018-04-06 22:41] Hombre57 commented on #4299
@Beep6581 I'm not at home until Sunday night, with limited access to my laptop, so if not too late, I'll try that on Monday or Tuesday.

[2018-04-07 04:02] dnw3039 opened #4493 "RT 5.4 segfault with HDR dng file."
I am getting a segfault using some older HDR.dng files.
To replicate open attached  .dng file click "Auto-Match Tone curve" click Auto-Levels - segfault.

gdb trace produces -
[code]

[_1DW1254-1256.dng.zip](https://github.com/Beep6581/RawTherapee/files/1886031/_1DW1254-1256.dng.zip)

Version: 5.4-141-g426380e8d
Branch: dev
Commit: 426380e8d
Commit date: 2018-04-04
Compiler: cc 7.2.0
Processor: co

[2018-04-07 08:16] heckflosse commented on #4493
Works fine here on Win7/64

[2018-04-07 12:09] Benitoite commented on #4493
And no crash on macOS... maybe you have an associated `.pp3`?

[2018-04-07 12:39] dnw3039 commented on #4493
Sorry no .pp3 it crashes before creating the .pp3 file.

On Sat, 7 Apr. 2018, 10:09 pm Benitoite, <notifications@github.com> wrote:

[2018-04-07 21:08] heckflosse opened #4494 "When opening an image after starting RT, wavelet tool always is expanded"
To reproduce:

1) Start RT
2) Open an image
3) Go to Advanced tab
4) Collapse Wavelet Levels
5) Open preferences dialog
6) Click the button 'Save tools collpased/expanded state now'.
7) Close RT
8) Start RT
9) Open an image
10) Go to Advanced tab

=> Wavelet tool is expanded though it should be collapsed

Fixed with this patch

[code]

[2018-04-07 22:26] #4494 closed, assigned to heckflosse

[2018-04-07 22:57] #4443 closed, assigned to heckflosse

[2018-04-08 00:20] dnw3039 commented on #4493
I will compile a debug version and try again for a better error trace.

[2018-04-08 01:54] dnw3039 commented on #4493
I compiled a debug version and a release version of the current dev branch and their was no problem with the HDR files. So it looks like a a transitory problem with either commit 426380e or my system.

[2018-04-08 01:54] #4493 closed, assigned to nobody

[2018-04-08 12:51] tribut opened #4495 "Processing Profiles dropdown unnecessarily scrolls"
When I open the Processing Profiles dropdown menu, the initial state is "scrolled down" for some reason like this:

![screenshot from 2018-04-08 14-40-45](https://user-images.githubusercontent.com/719105/38467589-4079a3b0-3b3b-11e8-9ffe-37641392ebe4.png)

I need to hover above the "up" arrow for a short while before I can use the menu:

![screenshot from 2018-04-08 14-44-42](https://user-images.gi

[2018-04-08 13:08] heckflosse commented on #4495
Works fine here, but I have a similar issue when selecting a Lens in `Profiled Lens Correction`.

![grafik](https://user-images.githubusercontent.com/13733487/38467878-75db03f2-3b3e-11e8-83d0-0c332956b5e9.png)

[2018-04-08 17:21] Beep6581 commented on #4494
I requested that the Wavelet tool be automatically expanded (only the main tool, not the sub-tools) back when it was in its own tab. The reason was so that you can instantly see whether any sub-tools are enabled without having to expand it every time.

[2018-04-08 17:23] Beep6581 commented on #4443
Does it affect only the Vibrance tool?
Could you please explain what issues this bug caused from the user's perspective?
i.e. if an image looks different in 5.5 than it did before, what will look different?

[2018-04-08 17:31] Beep6581 commented on #4495
FWIW, I read about something similar in a discussion in a GTK+ bug report, and the GTK+ devs wrote that such behavior was by design.

[2018-04-08 17:46] heckflosse commented on #4443
@Beep6581 Hard to explain. The code is used to bring an image in gamut. It's used at some places in RT iirc. The condition in the old code matches the case that all colours are clipped while the comment said it should not match in this case. Jacques and I agreed that it would be correct to change the behavour instead of changing the comment.

[2018-04-08 17:48] heckflosse commented on #4494
@Beep6581

Now, that's not in it's own tab anymore, do you agree with my fix (to be consistent with other tools)?

[2018-04-08 19:06] Beep6581 commented on #4494
@heckflosse yes.

[2018-04-08 20:49] tribut commented on #4495
Starting on the currently active item maybe - but surely not starting with an empty(!) list as in the first screenshot which one has to scroll up from?
But if that is indeed the case, maybe RawTherapee should use a different type of widget here. It is quite annoying to use.

[2018-04-09 07:57] Floessie commented on #4495
@Beep6581

For anyone interested, it's [bug 129463](https://bugzilla.gnome.org/show_bug.cgi?id=129463).

[2018-04-09 20:03] Beep6581 opened #4496 "Linear DNG (demosaiced) image white-points too bright"
-- edit: skip to https://github.com/Beep6581/RawTherapee/issues/4496#issuecomment-379892123 for the cause of the problem.

This applies to FUJIFILM X100S converted to DNG. Specifically, tested using Adobe DNG Converter 10.3 and converted to linear DNG. The DCP's look table is completely broken when applied to the DNG, but works fine for the RAF.

http://rawtherapee.com/shared/test_images/colortarg

[2018-04-09 20:08] Beep6581 commented on #4496
The colors are also very broken when using the matrix.

![screenshot_20180409_220618](https://user-images.githubusercontent.com/5844619/38520254-8ee56f86-3c42-11e8-82e2-ef6cef10f38c.png)
![screenshot_20180409_220714](https://user-images.githubusercontent.com/5844619/38520260-94697a2e-3c42-11e8-861e-25523c4f34cc.png)

[2018-04-09 20:12] Beep6581 commented on #4496
For reference, the same shot but in RAF format, DCP on the left and matrix on the right.
![screenshot_20180409_221148](https://user-images.githubusercontent.com/5844619/38520409-04dfbab6-3c43-11e8-811e-0787e0b45c3c.png)

[2018-04-09 20:23] Beep6581 commented on #4496
The same issue with FUJIFILM X100T.

[2018-04-09 20:29] Beep6581 commented on #4496
Same with FUJIFILM X-Pro2.

[2018-04-09 20:36] Beep6581 commented on #4496
Same with FUJIFILM X-T1.

[2018-04-09 20:56] heckflosse commented on #4496
Could be related to #4129

[2018-04-09 20:58] Beep6581 commented on #4496
I was off on the wrong track.

The color issues were caused by curve auto-matching failing:
![screenshot_20180409_225412](https://user-images.githubusercontent.com/5844619/38522447-eeae0e40-3c48-11e8-8675-97c348cc7d9c.png)

I guess the curve matching failed because of the difference in bit depth between the "linear DNG" and RAF files - the linear DNGs load overexposed.

If I apply the "Standard Fi

[2018-04-09 21:08] Beep6581 commented on #4496
The same happens with "linear DNG" (i.e. demosaiced) DNGs from all other makes I tried - Canon and Nikon. They all open too bright, and need white-point correction 0.25 to match the real raws.

Neutral applied to all:
![imgur-2018_04_09-23 13 29](https://user-images.githubusercontent.com/5844619/38523405-a84c7632-3c4b-11e8-95d6-a2099a0c79ac.png)

[2018-04-10 06:10] agriggio commented on #4496
so, do I understand correctly that the failure in curve matching is caused by the wrong white point, and so the title of the issue is still right?

[2018-04-10 08:14] morosakubek opened #4497 "Suggestion: Colouring of overexposed areas"
Dear programmers, maybe an interesting option and I think that many people would like to be able to colorize (single color, or best gradient) overexposed areas (out-of-gamut).

cheers,

[2018-04-10 08:27] Beep6581 opened #4500 "Camera model alias matching support for DCPs"
In order to avoid having the same DCP file duplicated under several names, RT should have a file which maps the name of the DCP to all possible aliases a given camera make and model uses.

Only Canon, Minolta and Panasonic use aliases (ctrl+f for "aliases"):
http://rawspeed.org/CameraSupport.html#canon

Currently needed mappings:
https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/dcpprofiles/

[2018-04-10 08:27] agriggio commented on #4497
you mean like this?
![clipping](https://user-images.githubusercontent.com/11982086/38545190-c7c634ea-3ca9-11e8-9c0c-83faf3b0a46e.jpeg)

[2018-04-10 08:32] Beep6581 commented on #4496
I can only guess as to that being the cause of the curve fail, but what is clear is that linear DNGs use the wrong white level in RT, i.e. this issue is a not-solved duplicate of #4129.

[2018-04-10 08:39] Floessie commented on #4500
I already have a working implementation. Will branch and push tonight.

[2018-04-10 08:40] agriggio commented on #4496
I think more related is #4472
Did you try this patch? https://github.com/Beep6581/RawTherapee/issues/4472#issuecomment-376566111

[2018-04-10 08:46] Beep6581 commented on #4496
I will try it this evening.

[2018-04-10 14:17] morosakubek commented on #4497
No, in output. I mean that if I have an overexposed sky and it is pink and blue, I would like the stain to have a colour of my choice. Or I have a bonfire and I would like the burnout to be yellow.

[2018-04-10 14:26] morosakubek commented on #4497
And to make it work only on the out-of-game parts, and not on all the highlights zones.

[2018-04-10 14:27] agriggio commented on #4497
@morosakubek this similar to what the "Colour propagation" highlight reconstruction mode does to some extent, if I correctly understand what you are describing.

IMHO, anything fancier than that is much better handled by GIMP and friends than RT...

[2018-04-10 14:29] morosakubek commented on #4497
@agriggio Yes, only with your own choice of color (not the one assumed by the algorithm).

[2018-04-10 14:34] Desmis commented on #4478
I push a commit with :

* add ACES to working profile (which is D60). This profile needs to take a precaution, by adaptating Bradford D50 D60 matrix, I elaborate with my personal spreadsheet

constexpr double d50_d60[3][3] =  {
    { 1.034368,  0.016908, -0.037658},
    {0.021752,  0.992183, -0.012785},
    { -0.006971,  0.011377,  0.812150}
};

constexpr double d60_d50[3][3] =  {
    { 0.96743198

[2018-04-10 14:49] agriggio commented on #4478
@Desmis Jacques, any reason why you didn't use the new facility to add working profiles using a JSON file, as explained [here](http://rawpedia.rawtherapee.com/Color_Management#Adding_Custom_Working_Profiles)? This does the adaptation automatically, and there's no need to hard-code anything in the code... assuming what I implemented is correct of course :-), but if not I would greatly appreciate yo

[2018-04-10 15:05] Desmis commented on #4478
@agriggio

I know your work :) you have want to know my opinion.
But I think it is good to have in "fixed working profile", this new ACES

If I calculated, my matrix - with my profiles or if I extracted from ACES.icm
the matrix is
//Matrix ACESc from LCMS calculation same as ACES.icm
constexpr double xyz_ACESc[3][3] = {
    {0.99089,  0.01224, -0.03893},
    {0.36189,  0.72252, -0.08441},
    {-0.

[2018-04-10 15:22] agriggio commented on #4478
@Desmis does that mean that my computation is wrong somewhere? In that case, can you tell me where exactly? the code is supposed to to the adaptation from the white point of the profile to D50 -- so in case of ACES that should be D60 to D50... or am I missing something?

[2018-04-10 15:24] agriggio commented on #4478
BTW:

assuming we can fix the computation (if it is wrong), you can have ACES as "built-in" by simply shipping a default JSON file to be installed by default by RT...

[2018-04-10 15:32] Desmis commented on #4478
yes sure :)

[2018-04-10 15:39] Desmis commented on #4478
Where have you found your ACES profile ?

[2018-04-10 15:43] Desmis commented on #4478
I think you used, Elle Stone profile, that gives different XYZ values
My profile has same values that ACES.icm
When I used, Elle Profile and apply inverse Bradford (D50 D65) I obtain your matrix

I think, to verify, you must use direct Bradford and D60 to D50

[2018-04-10 15:44] agriggio commented on #4478
I'm not sure which ACES profile you are referring to... if you mean the example in the rawpedia page, it's the "ACEScg" that comes from Elle. But you can actually use any ICC profile. It would be great if you could take a look at the code, it's all there in `rtengine/iccstore.cc`

[2018-04-10 15:45] agriggio commented on #4478
I took the math from here:
www.brucelindbloom.com/Eqn_RGB_XYZ_Matrix.html

[2018-04-10 15:46] agriggio commented on #4478
Here's the same thing in a Python script:

[code]

[2018-04-10 15:52] Desmis commented on #4478
I don't know Python, but the code seems good in particular there is
d60 = numpy.array([0.95265198, 1.00000000, 1.00881958]), I don't see in your.
The matrix used is the same as mine at epsilon... but diffrent from those whe can read in profile Elle.

[2018-04-10 15:57] agriggio commented on #4478
ok, I'll try to describe what the code does later tonight... hopefully we can find the bug :-)

[2018-04-10 15:57] Desmis commented on #4478
And what is the result in terms of XYZ after adaptation ?
A good test : when you change the working profile, image will not change or a little if there is out of gamut.

[2018-04-10 16:04] agriggio commented on #4478
Here are the results of running the script:

[code]

I agree that there is something wrong, because I see some changes in the image. But I'd like to understand *what* is wrong...

[2018-04-10 16:10] Desmis commented on #4478
If I verify with my own calculation, that are some more complex (with openoffice)
the matrix is near of
[[ 1.03413627  0.01679692 -0.03741888]
 [ 0.02160997  0.99222861 -0.01270332]
 [-0.00692622  0.01130544  0.81332956]]

     { 1.034368,  0.016908, -0.037658},
    {0.021752,  0.992183, -0.012785},
    { -0.006971,  0.011377,  0.812150}

But I think you must inverse this matrix and leads to
   {

[2018-04-10 16:13] Desmis commented on #4478
All calculation are made with Spectral datas and I can set the temp to 6005K, which can explain these smal diffrences ==> but it is details

[2018-04-10 16:19] agriggio commented on #4478
Jacques, I think I might simply have swapped the source and target white points -- I'll double check tonight, now I'm on my phone...

[2018-04-10 16:28] Desmis commented on #4478
but apart from this problem what do you think of the ICC profile generator, V2, V4, FOIP ?

[2018-04-10 18:38] coyotechido opened #4501 "Compiling rawtherapee with centos 7"
Any ideas on what libs are missing ??

[code]

[code]

[2018-04-10 19:00] agriggio commented on #4478
@Desmis Jacques, I found the problem! Quoting from Bruce Lindbloom's webpage (http://www.brucelindbloom.com/index.html?Eqn_RGB_XYZ_Matrix.html):

So, my mistake was that I didn't read the docs about ICC profiles carefully enough :-(
I thought that the matrix inside the ICC was relative to the white point, but in fact it is already adapted to D50. So, no need of further adaptation. This makes the c

[2018-04-10 19:38] agriggio commented on #4478
Here's a patch that disables the chromatic adaptation when importing custom working profiles from ICC files. I'm including it here just for reference, I'll commit (to dev) in a moment:

[code]

[2018-04-11 00:53] Beep6581 commented on #4501
Do not compile as root.

Instructions updated:
http://rawpedia.rawtherapee.com/Linux#CentOS

CMake finds the self-compiled libtiff-4.0.9 but compilation still fails on `PHOTOMETRIC_CFA`, though it succeeds if you rename it to `PHOTOMETRIC_RGB` for instance, so something with the custom libtiff is still not right.

[2018-04-11 09:08] Desmis commented on #4478
@agriggio

Alberto
I tried another time ACES with the matrix you gave
 0.99089050  0.01223755  -0.03892517,
 0.36189270  0.72251892  -0.08441162,
-0.00271606  0.00825500   0.81936646
then calculate his inverse necessary in some part of the code

After compiling and test, the image and the histogram change when you select  ACES in "Working profile" while that does not change with all the others wor

[2018-04-11 09:13] tribut commented on #4495
Thanks for the link. It seems that the behavior is indeed expected. The cursor is supposed to point to "(Custom)" when the button is clicked. But because that is the last item and I work with RawTherapee maximized, the menu is shown expanded downwards with no item actually visible.

Sorry for the noise, closing as upstream bug. I'll go upvote #3043 now :grin:

[2018-04-11 09:13] #4495 closed, assigned to nobody

[2018-04-11 09:23] Beep6581 commented on #4478
About ACES,

[2018-04-11 11:22] Desmis commented on #4478
I just merge with dev, and curiously, now, with  ACES, histogram and image change a little in function of image and output profile ??

[2018-04-11 11:22] TooWaBoo commented on #4487
Found this on the web.
https://bugs.archlinux.org/task/57984

https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/gtk3&id=4ac05111e37186cebac1c4fa22610abddb1c2d52

The filechooser has problems too. As far as I understand, it's a problem with the enabled cloudproviders in gtk3 3.22.29 but I've no clue how to fix this.

[2018-04-11 11:28] TooWaBoo commented on #4148
New update
[code]
[code]
I did the whole update. Issue still exists. I had to copy "libfribidi-0.dll" to the build folder for RT to run.
Tried to revert the update with no luck.

[2018-04-11 12:05] Desmis commented on #4478
I checkout with dedce5d, and there are differences in some cases.

With my habitual image test, no differences...ACES and others profiles for image and histogram
For others images as colorspace_flowers.pef, there are differences on the white and in histogram

With the "merge with dev"
With my habitual image test, small differences...ACES and others profiles for histogram, no visible for image
For

[2018-04-11 12:22] Desmis commented on #4478
Or is it a particularity of ACES to change "a little" some colors, in the "same way" as CIECAM ??

[2018-04-11 12:34] Desmis commented on #4478
I will try with the matrix found in internet ACES

[2018-04-11 12:40] agriggio commented on #4478
@Desmis Jacques, if I use the ACES matrix as found in Elle's profile, which is already adapted to D50, I see no colour cast nor any other strange behaviour

[2018-04-11 12:42] agriggio commented on #4478
@Desmis can you try with the latest dev an this `workingspaces.json` file? (just change the path to the `ACES.icc` file shipped with RT to the correct one)

[code]

[2018-04-11 12:43] Desmis commented on #4478
@agriggio
When I used ICC profile inspector, or Exiftool, and the profile "Elle" which are on his web or in iccprofiles, the values are
//from Elle Stone
constexpr double xyz_ACESc[3][3] = {
    {0.68988,  0.14977, 0.12456},
    {0.28452,  0.67169, 0.04379},
    {-0.00604,  0.01001,  0.82094}
};

constexpr double ACESc_xyz[3][3] = {
    {1.592666,  -0.351803, -0.222887},
    {-0.675936, 1.639273,

[2018-04-11 12:47] agriggio commented on #4478
@Desmis Jacques, here's what I get:

[code]

The relevant tags are `rXYZ`, `gXYZ` and `bXYZ`, therefore:

[code]

transposing, they give the following matrix:

[code]

which looks reasonable to me...

[2018-04-11 12:49] agriggio commented on #4478
to cross-check, just try the same on `sRGB-elle-V2-g10.icc`, and you get essentially the same matrix as the one of RT (`xyz_sRGB` in `iccmatrices.h`)

[2018-04-11 12:54] Desmis commented on #4478
That is different with values display by utilitaries : ICC profile inspector, etc.
For me, with these (yours) values (those I used before Bradford D60), much images are bad or very bad...

I just commit and push a change with the values of the normalization ACES2065-1 (I think it's good)
constexpr double ACESc_xyz[3][3] = {
    {0.9525523959, 0.3439664498, 0.0},
    {0.000000, 0.7281660966  , 0.0}

[2018-04-11 12:59] Desmis commented on #4478
I think, it's only my responsibility, that
1) for working profile, we must used the norm ACES2065-1
2) for ICC profiles V2, V4 we must work with actual profiles, those of Elle, or mine for which utilities give the same XYZ results as you
:)

[2018-04-11 13:17] Desmis commented on #4478
But the question is, why with the same primaries, and same white, there are diffrences betwwen calculations made with LCMS and the norm ?
Probably (sure) LCMS  is not perfect for this "special" working space.

[2018-04-11 13:22] coyotechido commented on #4501
Thanks a lot

Now it is compiled, I just follow the instructions in the link, and twee it a little bit.

So, what it worked for me was.....

#as root
yum remove gtk2-devel gtk2-2 gtkmm24-devel gtk2-immodule  gtkmm24  libcanberra-gtk2

yum install centos-release-scl-rh
wget http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
rpm -ivh epel-release-latest-7.noarch.rpm
yum install le

[2018-04-11 13:37] Beep6581 commented on #4501
@coyotechido what about `PHOTOMETRIC_CFA`?.

[2018-04-11 13:57] agriggio commented on #4478
Jacques, I'm not sure I understand this:

The values I provided above *should not* require any Bradford adaptation -- they are already adapted to D50. I have tried with a bunch of different pictures and I see no difference wrt. ProPhoto...

[2018-04-11 14:35] Desmis commented on #4478
Me also I don't understand.
In preview, with the matrix coming from ICC profiles, images are quasi always bad, some are acceptables

They are less bad, with D60 adaptation, even there is no need (cf B.Lindbloom ... but it does not speak of  ACES... ) for current profile sRGB, Prophoto,...), but if you look at the values of the matrix, this modified by D60 adpatation is near "norm"

They are pretty

[2018-04-11 14:56] agriggio commented on #4478
Jacques, are you using the `dev` branch?
Here are a couple of screenshots (neutral profile, only changed the working space):
![prophoto](https://user-images.githubusercontent.com/11982086/38624763-32d04ae6-3da9-11e8-8620-778b29f3a70b.jpeg)
![aces](https://user-images.githubusercontent.com/11982086/38624768-3615eecc-3da9-11e8-848a-bd89b68159c0.jpeg)
![prophoto2](https://user-images.githubuserconten

[2018-04-11 15:09] coyotechido commented on #4501
Opps ! Do I 'M missing something?

I though that insatlling nija-build and tiff-4.09.9 would be enough for the
missing libraries.

After installing this 2 pkgs  and and exporting the libraries above ...I
did get no more errors , when compiling . the application is build and it
started.

How can I test if  PHOTOMETRIC_CFA is working in the application?

Thanks

On Wed, Apr 11, 2018 at 9:37 AM, Beep

[2018-04-11 15:16] Desmis commented on #4478
Effectively when I load XYZ with workingspaces.json, the result is good
Why when the same matrix is in "iccmatrices.h" the result is bad ??

[2018-04-11 15:19] agriggio commented on #4478
Jacques, I don't know... I can try taking a look at your branch, but I can't promise that I will find the explanation :-)

[2018-04-11 15:22] Desmis commented on #4478
there is no special thing, only the XYZ values...

For me it is a great mysteries :)

I will suppress, it is easy, ACES from "testoutputprofie", but I don't like to not understand someting

:)
Jacques

[2018-04-11 15:24] agriggio commented on #4478
@Desmis I agree 100% with you -- we want to understand this and not just hide the problem, so please leave ACES there, I'll try to take a look ASAP

[2018-04-11 15:25] Desmis commented on #4478
OK :)

jacques

[2018-04-11 16:07] TooWaBoo commented on #4487
Could make it work. The culprit is "libgio-2.0-0.dll". I've replaced libgio-2.0-0.dll v2.56.0.0 with libgio-2.0-0.dll v2.54.3.0 (before the GTK3-update) and this fixed it.
(see latest update https://github.com/Beep6581/RawTherapee/issues/4148)

[2018-04-11 16:08] TooWaBoo commented on #4148
It works now: https://github.com/Beep6581/RawTherapee/issues/4487

[2018-04-11 16:10] Desmis commented on #4478
I just try to put in workingspaces.json, the values of norm, all works well...Curious :)
{"working_spaces": [
    {
        "name" : "ACES",
        "file" : "G:/code/rtdev/build/release/iccprofiles/output/ACES.icc"
    },
    {
        "name" : "ACESNorm",
        "matrix" : [0.9525523959, 0.0, 0.0000936786, 0.3439664498, 0.7281660966, -0.0721325464, 0.0, 0.0, 1.0088251844]
    }
]}

[2018-04-11 16:11] agriggio commented on #4478
ok, I don't understand what's going on... @heckflosse @Floessie can you also take a look? (Just read the conversation above to get some context)

[2018-04-12 05:54] Desmis commented on #4478
I just tested to change the place of "ACES" in the table and the name in iccmatrice.h
const double(*wprofiles[])[3]  = {xyz_sRGB, xyz_adobe, xyz_prophoto, xyz_widegamut, **xyz_CESc**, xyz_bruce, xyz_beta, xyz_best, xyz_rec2020};
const double(*iwprofiles[])[3] = {sRGB_xyz, adobe_xyz, prophoto_xyz, widegamut_xyz, **CESc_xyz,** bruce_xyz, beta_xyz, best_xyz, rec2020_xyz};
const char* wpnames[] = {"sR

[2018-04-12 06:05] Desmis commented on #4478
I spoke too fast, with some images there are still drifts of colors ??

[2018-04-12 06:49] agriggio commented on #4478
Jacques, I found the problem: you have inverted `xyz_ACESc` and `ACESc_xyz` :-)
Just swap the contents of the matrices and everything works fine: `xyz_ACESs` should be the "forward matrix", i.e. *from RGB to XYZ*, and `ACESc_xyz` the inverse one... those matrix names in RT are definitely misleading!

[2018-04-12 07:46] Desmis commented on #4478
@agriggio

Oups, there was 2 errors
1) first I swap xyz_ACES and ACES_xyz
2) I invert line and colomns
Thank you very much, I will post a commit, with others changes, this day

:)
jacques

[2018-04-12 08:07] Desmis commented on #4478
The paradox is that I put the right matrix in workingspaces.json
it's probably a beginning of senility :)

[2018-04-12 08:31] Desmis commented on #4478
I just push a commit, with
1) changes above, thanks to Alberto
2) put in primaries, the values of the norm for ACES

Now, from my point of view, as now it works fine, ACES is the better default choice for RT, because diagram xyY almost exactly matches human vision. It is not the case of Prophoto neither Widegamut, neither Rec_2020,...

But to verify by usage :)

jacques

[2018-04-12 08:43] agriggio commented on #4478
@Desmis isn't it a problem that ACES contains a lot of imaginary colours (and in fact also many with negative coordinates towards the blues)?
Here is what Elle told me when I asked:
https://discuss.pixls.us/t/working-profile/6862/5

[2018-04-12 08:49] Desmis commented on #4478
yes but  less than Prophoto (I think, to verify...).
in all cases, the choices are imperfect and pose many problems almost insoluble, as CIECAM which is smaller than sRGB
The best is to test, now it is possible, with "ACES norm", include in working profile

[2018-04-12 08:58] Desmis commented on #4478
In fact ACES, is in general bigger than Prophoto, but with a better repartition

[2018-04-12 09:24] agriggio commented on #4478
well the whole point of supporting arbitrary custom working spaces from a JSON file is to allow everybody to experiment at will, without hardcoding more working spaces in the RT code. so, I'm :+1: for experimenting, but :-1: for hardcoding aces and/or making it the default (at this point at least)

[2018-04-12 09:30] Floessie commented on #4500
Merged in #4502. Closing.

[2018-04-12 09:30] #4500 closed, assigned to Floessie

[2018-04-12 09:45] Desmis commented on #4478
Is not the purpose of a branch to test?

For this branch ,I name "testoutputprofile", users can test
1) FOIP - Full Output Integrate Profile, with free primaries, and free TRC
2) generation of V2 or V4 profile, derivate from FOIP
3) ACES working profile

and also, profile generate with code "Elle Stone"

[2018-04-12 11:59] agriggio commented on #4478
Jacques, absolutely. But I thought you were asking for an opinion... In that case, I'm :+1: for points 1 and 2, and :-1: for point 3, or at least for point 3 as implemented now (i.e. "hardcoded"). In fact, I think we should get rid of all the hardcoded profiles except maybe just sRGB, and ship instead a `workingspaces.json` configuration file with a few reasonable choices.

But this is just my opi

[2018-04-12 12:16] RawConvert opened #4504 "Colour artefact with new Local Contrast tool"
Using RawTherapee 5.4-79 it seems a colour glitch can occur when the Local Contrast tool is turned on.  The attached screen grab shows a red area at the top of the arch of the bridge.  This is not present until the tool is switched on with default settings.  Other areas are affected too, I rock near the centre of the image gets a blue area when the tool is turned on.  Increasing the "Amount" cause

[2018-04-12 12:19] Desmis commented on #4478
My opinion is for workingspaces.json
* it is a very good "tool" to add / test new profiles, or to test some changes, thank you for this good tool :)
* it seems dangerous for a general usage, as everybody can change easely the values inside, without control and then get curious result

[2018-04-12 12:31] agriggio commented on #4504
I can't reproduce with the latest `dev`. Can you upload more info please? OS, `AboutThisBuild.txt` and your `options` file? Thanks!

[2018-04-12 12:32] agriggio commented on #4504
(sorry, my bad -- something is going on somewhere...)

[2018-04-12 12:46] Beep6581 commented on #4478
0. Branch `testoutputprofile` compiled fine, with this warning:
[code]

1. The working profile combobox is still changeable, so what exactly do you mean by "hardcoded ACES working profile"?

2. What is ACES**c**?

3. What is "Free output integrate profile" (FOIP)? Nothing on google.

4. When the FOIP frame is disabled, all the options inside the frame are disabled except for "Generate ICC profile"

[2018-04-12 12:53] Beep6581 commented on #4504
Minimal reproducible PP3, can reproduce in any photo:
https://filebin.net/ywycsuywi90cgo6e/lc_artifacts.pp3

Related to the Lab CL curve setting high chroma on blacks:
![screenshot_20180412_145200](https://user-images.githubusercontent.com/5844619/38678386-2810c672-3e61-11e8-9478-0767fa6ae455.png)

[2018-04-12 12:57] agriggio commented on #4478
I mean that there is a pair of matrices in the code, in `iccmatrices.h`, and a hardcoded "ACES" in the list in `iccstore.cc`. For other hardcoded profiles, there are also a couple of `if (params.icm.working == "PROFILE XX")` statements around in the code, which I don't like that much...

Same problem as not having an input icc/dcp profile, a clut, an LCP file, a darkframe, a flat field, ...
I agre

[2018-04-12 12:59] agriggio commented on #4478
Also, RT already allows users to add/modify entries in `camconst.json`, and this can also have a quite visible impact on the output, but no visible impact on the pp3...
(BTW, the working profile is saved in the pp3 already)

[2018-04-12 13:01] agriggio commented on #4504
@Beep6581 thanks! I'll take a look ASAP. I'm not worried much by the artifact -- the curve is weird after all -- but this causes a segfault here, and this is bad.

[2018-04-12 13:18] RawConvert opened #4505 "Enhance perspective correction"
Following my post here -
https://discuss.pixls.us/t/feature-suggestion-converging-verticals/5670
and more recent discussion here -
https://discuss.pixls.us/t/perspective-conversion/7206/9
this issue puts the suggestion in the correct place for possible consideration.

In summary, the current RT correction process is rather slow, involving iterations of horiziontal or vertical correction together w

[2018-04-12 13:25] RawConvert commented on #4504
Why is it weird?! - I'm making the green moss stuff greener and the mud browner!

[2018-04-12 13:28] agriggio commented on #4504
It's weird that you want to increas the chromaticity of black... I'd use something like this:

![curve](https://user-images.githubusercontent.com/11982086/38680278-33135b7a-3e66-11e8-8bbe-771bbb988c5a.jpeg)

But your curve is definitely not invalid -- it should not make RT crash!

[2018-04-12 13:35] Beep6581 commented on #4505
The way perspective correction works in Autopano Pro/Giga is amazingly easy to use and efficient. Basically it's as @RawConvert described it in the last line - you draw two (or more, but two can be enough) lines, and these are made parallel. They can be horizontal, vertical, or both (4 lines).
https://youtu.be/voVBTiRxcLk?t=39

[2018-04-12 15:09] Desmis commented on #4478
I was away, this afternoon...

ACESc ==> I was hoping this question, because there are at least 2 working profiles ACES !
I was waiting the first works , thanks to Alberto, to improve the list of working profiles

In fact there is 2 primaries, P0 which is very very big, and P1 which is bigger than Adobe, near Widegamut but different

FOIP ==> sure there is nothing on Google, otherwise I would be f

[2018-04-12 15:10] Desmis commented on #4478
I just push a change with some GUI changes (little), and add ACES P1, and rename ACES P0

@agriggio
In fact for me the good working space, is "ACES P1", but this morning my response was embarrassed because I was not sure I could make ACES P1

[2018-04-12 15:50] Desmis commented on #4478
here a link with ACES P0, ACES P1, etc.

http://duikerresearch.com/wordpress/wp-content/uploads/2015/09/ACEScg-Digipro-2015_header.jpg

[2018-04-12 15:59] TooWaBoo commented on #4148
New update
[code]
Copy ` libfribidi-0.dll` to your build
Replace ` libgio-2.0-0.dll` with `libgio-2.0-0.dll` **version 2.54.3.0**

[2018-04-12 19:51] gaaned92 commented on #4148
glib2 being updated, libgio-2.0-0.dll is now at version v2.56.1.0.
Such short update time could be the sign of a bug correction.

[2018-04-12 19:57] agriggio commented on #4504
I've fixed the crash in f8c06863fe97759b6681f2c0589998227db590bd. The artifacts remain, but for that it's enough to use a "less weird" (please note the quotes :-) curve...

[2018-04-12 19:58] gaaned92 commented on #4487
@TooWaBoo
perhaps the bug is corrected with new update.

[2018-04-12 20:12] TooWaBoo commented on #4487
@gaaned92
No, the bug still exists.

[2018-04-12 20:13] TooWaBoo commented on #4148
@gaaned92
No, the bug still exists.

[2018-04-13 08:55] Desmis commented on #4478
I just fixed a bug in V2 acesp1 ICC profile

[2018-04-13 09:52] RawConvert commented on #4504
hi, well I'm not sure the curve with the very steep rise is that much less "weird" then mine.  However I've had a play with this and I still think there's something odd going on.  As per screen grab, I put a sample point where it goes red and watched what happened when L.C. is turned on.
Firstly, with your curve: This cures the red problem, so you're kind of right!  Turning LC on takes the sample

[2018-04-13 10:41] RawConvert commented on #4504
I was just thinking, if I'd done the Local Contrast first, then increased the chromaticity in the dark areas, my question might be "why has the Lab CL curve done this strange thing?"  rather than "point the finger" at Local Contrast...  :)

[2018-04-13 13:17] agriggio commented on #4504
Hi,

Maybe @Desmis can jelp?

[2018-04-13 13:46] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-curl`

[2018-04-13 14:43] heckflosse commented on #4504
The Lab CL curves changes Chromaticity C in dependance of Lightness L
Moving the left curve point upwards means the Chromaticity of the dark points will be increased.
That's perfectly fine.
The question is: Why does the Lightness L increases as well?

[2018-04-13 14:47] Desmis commented on #4504
All the curves in Labadjustements have been focus some years ago (at least 4 or more) by exchanges with users, especially with Michael. After numerous exchanges we have reached these settings, but I do not see any problem in changing them if necessary. But for what ?

Jacques

[2018-04-13 16:36] Desmis commented on #4504
@heckflosse

Ingo
I don't say it is normal that L change, but I think so :)

The values display take into account conversion Lab RGB at the end, if output profile is small, calculation  are done by the profile, and can increase L
If you check "avoid color shift", this effect is reduce
Jacques

[2018-04-13 18:34] RawConvert commented on #4504
Some more on Local Contrast.  Please load the jpeg below into RT with neutral profile and note all the red dots have the same colour and L value. Likewise green and blue. Now apply local contrast at say 100 radius and .3 amount.  Note that it alters the L value for the red and blue dots across the gradient.  BUT the L for the green dots hardly changes.  Surely this isn't right?
![dots](https://use

[2018-04-13 18:46] aferrero2707 commented on #4505
I implemented something similar in PhotoFlow, but the code is actually derived from Darktable:
https://www.youtube.com/watch?v=RCbpjyrtXLc

Here is where the perspective correction is computed: https://github.com/aferrero2707/PhotoFlow/blob/stable/src/vips/perspective.cc#L226

I can give you some hints if you are interested.

[2018-04-13 18:57] RawConvert commented on #4504
Taking the dots jpeg and applying my CL curve, there are some artefacts top left -
![cl curve and dots](https://user-images.githubusercontent.com/16868433/38752702-1171c328-3f54-11e8-9938-1c2423e9aedc.png)
However to muddy the waters, I suspect that Gimp has introduced noise.  I used Gimp to create the gradient and draw the dots.  When I drew the gradient I left a small border left and right.  I h

[2018-04-13 21:37] gaaned92 opened #4507 "New "nightly" tag crashes WindowsInnosetup"
The presence of a  "nightly" tag is incompatible with WindowsInnoSetup

[code]
For the branch new-shadows-highlights, in the generated windowsInnoSetup.iss we have
[code]

In line 42 we have
VersionInfoVersion={#MyAppVersionNumeric} which  crashes with incompatible "nightly.3" value

So could you delete the tag?

[2018-04-13 22:39] Beep6581 commented on #4507
@gaaned92 there is nothing wrong with the tag `nightly`
https://git-scm.com/docs/git-check-ref-format

Sounds like this section needs to be updated to avoid this problem:
https://github.com/Beep6581/RawTherapee/blob/dev/UpdateInfo.cmake#L57

[2018-04-14 06:07] Desmis opened #4508 "Compilation impossible because Canon EOS Digital Rebel XsI.icc is missing"
I want to merge dev with testoutputprofile, all is good except to generate Rawtherapee.exe
The compiler says me "cannot find :Canon EOS Digital Rebel XsI.icc

If I look in Github, branch dev, in rtdata/iccprofiles/input, no file of this type

Is I am missing someting ?

[2018-04-14 07:06] Floessie commented on #4508
The files in `rtdata` are gathered with a cmake glob pattern. Run `cmake [...]` in your build dir again, that should fix it.

HTH,
Flössie

[2018-04-14 07:12] Desmis commented on #4508
@Floessie
Ok now it works, but for me it is Chineese :)
Excuse me, but as I said, I am a very poor "Computer scientist", and I don't understand why ? For All things with Cmake, etc.  I am as a monkey !

:)
jacques

[2018-04-14 07:35] gaaned92 commented on #4507
I didn't wanted to say that. I was just surprised by the appearance of this tag without notice (at least known by me).
Furthermore, I don't see what issue this new tag solve, at least for windows builds. Previously we knew from what stable release the dev or feature build was derived. This information is lost.

more drastic:

[code]

VersionInfoVersion is used to identify the file version of insta

[2018-04-14 08:41] Desmis commented on #4508
But should we update Rawpedia ?

[2018-04-14 08:53] Beep6581 commented on #4508
@Desmis running `cmake` should pick up changes in the tree and update the list of things to compile, link, etc. In this case the tree changed and the old "recipe" was no longer valid. Re-running cmake is usually enough, but in extreme cases (e.g. switching from our GTK2 branch to the GTK3 branch) you might need to delete/rename the `build` folder.

I checked RawPedia and it seems fine to me. Can w

[2018-04-14 09:08] Desmis commented on #4508
Ok, you can close, but excuse my incompetence
* I do not see anywhere to say in which cases it is necessary to re-execute cmake
* why does we not add this files to rtdata by  ;  git add rtdata/xxxx ?

jacques

[2018-04-14 09:58] Floessie commented on #4508
@Desmis @Beep6581 The culprit is the use of `GLOB` in [`rtdata/CMakeLists.txt`](https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/CMakeLists.txt#L2). When `cmake` is run it will pick up those files. But if a file is added or removed, CMake cannot detect that. This is a known ["problem"](https://stackoverflow.com/questions/32411963/why-is-cmake-file-glob-evil/32412044) with globbing, and that

[2018-04-14 09:59] Beep6581 commented on #4508
I deleted the file intentionally, it was a renamed copy of `Canon EOS 450D.icc`.

RawPedia instructions are for end users, and I want them to be simple to follow, fool-proof with no unnecessary branching, so they recommend always re-running CMake to avoid problems.

I updated the "Updating RawTherapee" section:
http://rawpedia.rawtherapee.com/Linux#Update_RawTherapee

For you as a developer, you s

[2018-04-14 09:59] #4508 closed, assigned to nobody

[2018-04-14 10:23] Desmis commented on #4508
In conclusion, it is not obvious, your remarks prove it

But, now , I will always re-run Cmake :)

jacques

[2018-04-14 10:50] Desmis commented on #4508
Another question
I want to be considered a developer, but as I said before I'm in this kind of exercise (compilation, Link, ..) close to the monkey
When you say "RawPedia instructions are for end users", but if compilation failed, how they do ? they try as with a surprise pouch ?

[2018-04-14 11:07] Beep6581 commented on #4508
@Desmis if users follow RawPedia instructions and [compilation fails](https://github.com/Beep6581/RawTherapee/issues?utf8=%E2%9C%93&q=is%3Aissue++label%3ACompilation+), they open an issue in GitHub or post in the forum.

Someone knowledgeable about the whole compilation process does not have to follow RawPedia verbatim, they can cut corners here and there if they know what they're doing. RawPedia

[2018-04-14 11:08] Desmis commented on #4508
ok :)

[2018-04-14 12:15] Beep6581 commented on #4004
@Hombre57 @Floessie
![screenshot_20180414_135821](https://user-images.githubusercontent.com/5844619/38768072-448a4c04-3fee-11e8-96c1-04e88af1973f.png)
![screenshot_20180414_135828](https://user-images.githubusercontent.com/5844619/38768073-47e7c200-3fee-11e8-916c-89a893760541.png)

[2018-04-14 13:45] Beep6581 opened #4509 "Tag "nightly" makes version in AboutThisBuild handicapped"
If you checkout `dev` and compile, you will get this in AboutThisBuild:
[code]

[code]

`dev` currently is at:
`5.4-205-g`c3739694

Commit f8c06863 was tagged `nightly`

`git describe --tags` shows:
`nightly-4-g`c3739694

`git describe` shows:
`5.4-205-g`c3739694

@aferrero2707 is the `nightly` tag really needed? I presume the tag will be moved to HEAD every day or every week - if so, what purpose

[2018-04-14 14:16] Beep6581 commented on #4509
This patch has only been tested with the latest `dev` checked out. I can do more testing once answers to the questions above are known.

[code]

[code]

[2018-04-14 15:07] aferrero2707 commented on #4509
@Beep6581 a tag has to be given each time a new release is created... that was the main reason I had for keeping the "nightly" packages in a separate repository.

Anyhow, the "nightly" tag is created only once. When new package are pushed to the nightly release, the tag is not updated. Therefore it should be enough to give the current dev branch a new tag in order to have it shown again in the Abo

[2018-04-14 15:13] Beep6581 commented on #4509
Is this for GitHub's purposes, or why? And how does that tie-in to the tag having to be created only once? A tag points to a commit - if it's not updated, it keeps pointing to the same old commit, so how does that help with the "nightly" concept?

[2018-04-14 15:13] aferrero2707 commented on #4462
Some time ago I played with RT and RawSpeed, and came to the point where I could open and decode a RAW file with RawSpeed in RT. If you are interested, I can push my code in a dedicated branch in the next days...

[2018-04-14 16:00] Desmis commented on #4478
there is a "big big" bug, in using V2 and V4 profile...since 6 days, before it works. I will try to find why !

[2018-04-14 19:11] heckflosse commented on #4462
@aferrero2707 great :+1: But keep in mind that we will need to support both for a while. Our dcraw code has some specialities, which are not covered by rawspeed code. This has to be solved before we can cut off dcraw.

[2018-04-14 19:17] aferrero2707 commented on #4509
In fact, releases are normally used to distribute a specific version of the software, that gets "labelled" by the tag. By distributing in a single release some nightly binaries that evolve over time, we are "forcing" the concept of release, because in this case the tag does not make much sense (the binaries are even corresponding to more than one branch).

However, releases are the only practical

[2018-04-14 22:04] chaevvi commented on #4505
It is not always convenient to carry out two lines.  I like the visual way of transforming perspective, as in the GIMP editor - pulling the image with the mouse. At the same time, you focus on a rectangular grid on the image.
I propose to implement this method in RawTherapee. It is also possible to implement other convenient ways - at the choice of the user. The current method of correcting the pe

[2018-04-14 22:06] gaaned92 commented on #4509
@aferrero2707
`In fact, releases are normally used to distribute a specific version of the software, that gets "labelled" by the tag`

In my opinion, it is certainly true for "stable "releases but not for rolling releases (unstable releases, nightly builds as you want to name them)

An other solution adopted by the RT dev to distribute releases corresponding to different branches and different ver

[2018-04-14 22:18] heckflosse commented on #4412
Can we close this issue?

[2018-04-14 22:36] #4378 closed, assigned to heckflosse

[2018-04-14 22:43] mbajor opened #4510 "Tag nightly broke CI build of deb packages"
The error is:
`dpkg-source: error: version number does not start with digit`

nightly~git.20180414.23.g38d8fbfcc is not proper version.

How should I versioning deb packages now?

[2018-04-14 22:48] heckflosse commented on #4510
@mbajor Marcin, we hopefully solve this soon: #4509

[2018-04-14 23:10] mbajor commented on #4510
@heckflosse I'm affraid that this patch will not help.
I have limited possibilities to download sources for CI build. OBS doesn't have access to Git data. Only sources are downloaded without .git folder.

Downloading and versioning is defined in file
https://build.opensuse.org/package/view_file/home:rawtherapee/rawtherapee-unstable/_service?expand=1
Now the version pattern is
`@PARENT_TAG@~git.%cd

[2018-04-15 00:19] rnalrd commented on #4412
No objection for me, thanks

Il sab 14 apr 2018, 18:18 Ingo Weyrich <notifications@github.com> ha
scritto:

[2018-04-15 07:10] gaaned92 commented on #4507
https://github.com/Beep6581/RawTherapee/issues/4510

[2018-04-15 07:42] aferrero2707 commented on #4510
I think the best is to associate this tag (which was automatically created by github when creating the nightly release) to a dedicated branch, instead of `dev`. I can take care of this a bit later today.

The tag is needed to reference the release with the github API that is used to automatically upload the packages...

[2018-04-15 07:56] mbajor commented on #4510
@aferrero2707 @heckflosse I found that I can filter tags by "match-tag" parameter in OBS.
\*.\* pattern is enough so OBS CI works again.

[2018-04-15 07:56] #4510 closed, assigned to nobody

[2018-04-15 09:11] Desmis commented on #4478
I think (I hope) all bugs are fixed now (problem with Tags LCMS), and I think GUI is quite good :)

[2018-04-15 11:13] Beep6581 commented on #4509
@aferrero2707 I still don't understand why the need to make a `nightly` tag in the `dev` branch, if that tag points to some arbitrary commit (specifically, commit f8c06863), and never changes. Could you explain that please? Where does this requirement come from?

[2018-04-15 11:22] Beep6581 commented on #4509
One way of avoiding this problem entirely is to make the tag point to a commit before 5.4 was released, or to the 5.4 release itself.
[code]

[2018-04-15 11:28] #4412 closed, assigned to nobody

[2018-04-15 11:32] Beep6581 commented on #4507
@gaaned92 I too don't yet understand why the tag is needed, but that's a separate issue. The question here is whether `VersionInfoVersion` is needed even if the `nightly` tag problem didn't exist.
http://www.jrsoftware.org/ishelp/index.php?topic=setup_versioninfoversion

It seems that `VersionInfoVersion` really is unnecessary, as you wrote.

Any objection to remove it @gaaned92 @sguyader @Hombre5

[2018-04-15 11:47] Beep6581 commented on #4510
@mbajor what was the previous value of `match-tag`?

[2018-04-15 13:44] aferrero2707 commented on #4509
I modified the tag as you suggested, now the `nightly` tag in the "Nightly Builds" release points to `a5e8eb9c`:

<img width="696" alt="screen shot 2018-04-15 at 15 45 11" src="https://user-images.githubusercontent.com/6229237/38779090-e10b9a30-40c3-11e8-9b14-896a3273baef.png">

GitHub requires a tag to be associated to a given release, because that's how the corresponding page is accessed. For ex

[2018-04-15 14:10] Beep6581 commented on #4509
Branches and tags are both refs, which are pointers to commits. The difference is that tags don't move, while branches do.

I just tried tagging a branch, and it seemed to work:
[code]

Anyway, I think we can close this. I'll wait till tomorrow.

[2018-04-15 17:12] gaaned92 commented on #4507
@Beep6581
I rechecked and  `VersionInfoVersion` appears only in the "properties" panel of exe installer:

![rtproperties](https://user-images.githubusercontent.com/13785581/38781045-ec68f776-40df-11e8-914e-4c5e784c5ac7.jpg)

See "version du fichier" (file version). I doubt if anybody ever looked at that!
So for me it'OK to do a commit to remove it from windowsInnoSetup and UpdateInfo.cmake

[2018-04-15 17:18] gaaned92 commented on #4507
@aferrero2707
Thanks for modification. Version is ok now.
As soon as @Beep6581 make a decision about VersionInfoVersion we can close this thread.

[2018-04-16 06:27] Desmis commented on #4478
I just add 3 primaries to build ICC profile
BestRGB, BetaRGB, BruceRGB

[2018-04-16 08:05] mbajor commented on #4510
@Beep6581 The value was not set in config, becasue @PARENT_TAG@ has always been a version number.
Now I have to filter tags excluding other than \*.\*

[2018-04-16 14:55] aferrero2707 commented on #4510
@mbajor do you still have issues after the `nightly` tag was modified to point to a commit prior to `5.4` (as explained [here](https://github.com/Beep6581/RawTherapee/issues/4509#issuecomment-381398749))?

[2018-04-16 15:11] gaaned92 commented on #4487
`No, the bug still exists.`
Yes and it affects all the panels where we want to read or write a file (DCP, curve...)
So stuck to glib2 2.54.3-1 and GTK3 3.22.28-1

Are there some news?
I

[2018-04-16 15:19] gaaned92 commented on #4487
`No, the bug still exists. `

It affects all panels where we want access or read files (DCP, curves..)
I am still stuck on previous versions of glib2 and gtk3
Are there some news?
The archlinux ticket is closed without correction in MSYS2 and I dont feel confident to open a new ticket.

Edit : not longer able to make a working build!
I reverted also Pango to 1.40.11-1

[2018-04-16 20:15] Hombre57 commented on #4299
@Beep6581 @Floessie I've made some test with the `git mv` command. Files has been moved, but all `include` statment related to the moved files has to be updated, and I don't know what will happen when merging this branch to dev, regarding the other opened branches. This is too much work for me. So unless you have a magical cmake command to add the the new subfolder to the include search path, I'd

[2018-04-17 06:26] Beep6581 commented on #4299
First, do we have a consensus that the proposed structure in the first post is the way to go?

[2018-04-17 09:12] falket opened #4511 "HUAWEI WAS-LX1A Open Camera (app) DNG"
I'm trying to open a dng created with open camera app and taken with a Huawei p10 lite

Colors are really off (bayer filter rotated?)

https://we.tl/7ZTPw32MRl

(it's not mine, as soon as i'll get it i'll upload an horizontal file to raw.pixls.us)

Thank you,

[2018-04-17 09:55] Beep6581 commented on #4511
Another smartphone camera with a broken-by-design DNG. Though this is not the cause of the wrong colors, the illuminants are in the wrong order, and you should report this to Open Camera.

[2018-04-17 11:17] RawConvert commented on #4504
@agriggio , @Beep6581 , @heckflosse , @Desmis , hi, do you have any thoughts on my comments above, perhaps I should have tagged ppl when I posted.

[2018-04-17 12:26] heckflosse commented on #4504
@RawConvert

But the L value of the red dots is not the same as the L value of the green or blue dot.

For your example the calculation is roughly
[code]
Furthermore the vertical distance between the dots is < the radius (100) you set. That means for example the gaussian blurred L value of a point inside a green dot is influenced by the L values of the blue and red dot below and above and not just

[2018-04-17 14:02] falket commented on #4511
Done -> https://sourceforge.net/p/opencamera/tickets/431/

A raw will soon be avaible to raw.pixls.us.

Why "a broken-by-design DNG"?

Thank you.

[2018-04-17 15:29] Desmis commented on #4478
I fixed another big bug in output profile
And I try a new ==> possibility to generate ICC V4 profile, with a choice illuminant
eg, you can choose "primaries"=Adobe, and Illuminant D41, it will generate, an ICC V4 profile with D41 instead of D65
or primaries=acesP1 and Illuminant D80, etc.
But only to generate ICC V4 profiles

Jacques

[2018-04-17 16:04] RawConvert commented on #4504
Thanks @heckflosse , I darkened the green spots and played with the radius and I see what you mean.  So that puts to bed the stuff about the dots.
However I just noticed something else... not trying to be a nuisance here, honestly,  I cropped my test image to remove the dots and noticed a sudden change in the histogram going from radius 69 to 70 -
![hist-r69](https://user-images.githubusercontent.

[2018-04-17 17:36] Beep6581 commented on #4511
In the sense that it wasn't broken by the software which downloads photos from the smartphone nor by some downstream DNG converter, but by the program which created it.

[2018-04-17 19:09] heckflosse commented on #4504
@RawConvert You don't waste my time. The sudden change for radius 70 is because we use double precision instead of single precision floating point for gauss from that radius upwards.
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/gauss.cc#L1146

Edit: Maybe we could lower that threshold (70) a bit...

[2018-04-18 00:16] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-04-18 06:07] #4497 closed, assigned to nobody

[2018-04-18 06:14] Beep6581 commented on #4507
`AppVersion` is accurate, `VersionInfoVersion` is not - removed.

[2018-04-18 06:14] #4507 closed, assigned to Beep6581

[2018-04-18 06:15] Beep6581 commented on #4509
Closing as fixed.

[2018-04-18 06:15] #4509 closed, assigned to Beep6581

[2018-04-18 07:02] Desmis commented on #4478
Here a link where you can compare : AdobeRGB (D65), with AdobeD41 and AdobeD80
https://imgur.com/vl7UQmj

[2018-04-18 07:24] Desmis commented on #4478
In fact Primaries and xy diagram are a flat representation, when you change luminance gamut change
Here the "cut" is at L67 and show a best response to compare to standard D65, for D41 in blue and red, and lees in  yellow

[2018-04-18 08:43] stefan-i opened #4512 "Lensfun distortion correction unnecessarily upsamples images"
Hi,
I noticed that when using the lensfun distortion corrections, the resulting images are upsampled to the original dimensions of the raw file, which is IMO really a waste of resources and space and probably (depending on the upsampling algorithm) also harms image quality. This is especially noticeable with images that require a large distortion correction. E.g. from the output of my Canon G7 X (

[2018-04-18 09:09] Beep6581 commented on #4512
![screenshot_20180418_104951](https://user-images.githubusercontent.com/5844619/38921615-8142ae92-42f6-11e8-84b0-da0306ef847c.png)

![screenshot_20180418_105001](https://user-images.githubusercontent.com/5844619/38921626-84db138c-42f6-11e8-900f-f40be2b4a58f.png)

![screenshot_20180418_105050](https://user-images.githubusercontent.com/5844619/38921636-880e8cdc-42f6-11e8-965c-36da024a7d70.png)

![sc

[2018-04-18 14:21] TooWaBoo commented on #4512
I agree to @stefan-i
This happens to the lcp-correction too.
e.g. If an image has 4000px x 3000px and after the lens correction there would be a cut off of 10% each side, the image should be saved at 3200px x 2400px and not upscaled to 4000px x 3000px.

[2018-04-18 18:29] Bezierr commented on #4505
I support chaevvi in this. Perspective correction for anything more complex than a slight tilt of the camera is something that I, too, do in Gimp. I like the way it is done there, with one exception: when choosing "forward" correction, the grid should not move with the image but remain stable (i.e. rectangular), so the image can be adjusted to the grid.
So, it would be great if this could be done

[2018-04-18 18:55] chaevvi commented on #4505
Regarding Bezierr comment: when adjusting the perspective in GIMP, you need to enable and select the grid size on the image. Then the undistorted rectangular grid and the mesh deformed during perspective correction will be displayed at the same time.

[2018-04-18 19:00] Beep6581 opened #4514 "GIMP RawTherapee plugin cannot find executable in Windows"
Windows users report GIMP's RT plugin cannot find the RT executable. They also report dt works correctly, so maybe our plugin code needs to be synced with dt's.
https://bugzilla.gnome.org/show_bug.cgi?id=790740#c8

Ping @agriggio

[2018-04-18 20:39] agriggio commented on #4514
Sorry I have no windows experience. This however seems pretty bad behaviour:

Hopefully some regular windows user can help?

[2018-04-18 20:59] heckflosse commented on #4514
Without showing the "Press any key to exit..." stuff, the console window would be automatically closed after writing the version information or the help when rt is not started from console. Just add -w parameter.

[2018-04-18 21:45] #4456 closed, assigned to heckflosse

[2018-04-19 05:40] Beep6581 commented on #3547
https://standards.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html

[2018-04-19 05:52] agriggio commented on #4514
ingo, thanks for the clarification! :+1:
this is some windows console madness I suppose, right? :-)

[2018-04-19 06:35] muellesi commented on #4514
Isn't this exactly how it works for the linux version?
putting `rawtherapee -v` in a bash script and then executing it via the file manager (e.g. Nautilus) causes the terminal window to pop up and then close itself immediately after that. I would have expected to see the exact same behavior on Windows. This is also how it looks for dt on Windows.

Edit: I just tried the following: `rawtherapee.exe

[2018-04-19 07:42] gaaned92 commented on #4514
ON W10

-  double click on rawtherapee.exe (or through a shortcut): no RT console
- execution from bash console or dos console
  rawtherapee. exe : no RT console opens: OK
  rawtherapee.exe -v : RT console opens: KO must add -w to suppress console
  rawtherapee.exe -h:  console opens: KO
  rawtherapee.exe -h -w: console opens:KO

Rawtherapee.exe-debug : no console opens. OK

The -mwindows flag sho

[2018-04-19 12:48] heckflosse commented on #4514
I take this.

That's a bug. I will fix it.

When the bug is fixed, you can even skip -w parameter and use
[code]
which redirects stdout **and** stderr. In this case the console window won't be opened.

[2018-04-19 13:17] Beep6581 commented on #4509
If you are still experiencing the problem that RT builds with a description such as `nightly-43-g3ee1ecf61`, pull `dev`, delete the `nightly` tag, pull `dev` again to pull in the fixed tag, and merge `dev` into your branch if you have one.

Steps:
[code]

[2018-04-19 14:30] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-04-19 14:34] heckflosse commented on #4514
@gaaned92

rawtherapee. exe : no RT console opens: OK
rawtherapee.exe -v : RT console opens: KO must add -w to suppress console
rawtherapee.exe -h: console opens: KO
rawtherapee.exe -h -w: console opens:KO

Here we have to distinguish between dos console (cmd.exe) and bash console.
I agree that when started from bash console no new console window should be opened (I'm currently fixing that) if RT

[2018-04-19 14:39] marcolaux commented on #4367
every image is definitely blurry on HiDPI. When comparing with Darktable at HiDPI it's a massive difference. It seems like RT is scaling everything up.

Would it be possible to just scale the UI but not the images? They should be pixel perfect.

EDIT: btw this is not the case when using LowDPI monitors.

[2018-04-19 14:45] Beep6581 commented on #4367
Until RT gets HiDPI support, which is handled by issue #3547, you can always turn scaling in your operating system off (100% zoom).

[2018-04-19 14:46] marcolaux commented on #4367
I'm sorry - I thought it's already HiDPI ready as the UI is scaling. Thank you for the information.

Nice hint with geeqie btw.

[2018-04-19 14:52] heckflosse commented on #4514
Here's a patch

[code]
When started from msys2 (bash) console no additional console should open now.

When started from cmd.exe and redirecting output to a file, you also have to redirect stderr to a file or NULL or use the -w switch.

[code]

[2018-04-19 15:17] agriggio commented on #4514
@heckflosse isn't it possible to have "-v" activate also "-w" by default? If not, why?

[2018-04-19 15:32] heckflosse commented on #4514
When I call `rawtherapee -v` from cmd.exe I want to see the version information.
As soon as I start rawtherapee.exe it is decoupled from the cmd.exe console and can't write the version info there.
For that reason RT opens a console in that case to show the version information. Same for -h
Calling `rawtherapee -v -w` without redirecting stdout and/or stderr makes no sense. It's just a nop.

[2018-04-19 15:58] agriggio commented on #4514
@heckflosse what I meant is that RT should not detatch itself from the console if `-v` is given... are you saying that this is technically not possible?

[2018-04-19 16:40] heckflosse commented on #4514
@agriggio at least I don't know how to do that.

[2018-04-19 16:49] heckflosse commented on #4514
@agriggio from [here](https://docs.microsoft.com/en-us/windows/console/allocconsole)
[code]

[2018-04-19 17:21] agriggio commented on #4514
why can't you just enforce an implicit -w when -v is given?

[2018-04-19 17:36] heckflosse commented on #4514
@agriggio because then the console window would not be opened and the output would not be visible.
What do I expect if I call `rawtherapee -v` from the console (cmd.exe)?
I expect to see the version information.
Because RT is detached from console it opens its own console and shows the version information.
To let me read the version information, it waits for a key press before the console closes.

[2018-04-19 17:39] heckflosse commented on #4514
@agriggio another possibility is to build rt for windows as console application (without the -mwindows flag). But then, when starting rt from windows explorer or desktop or start menu, always a console is opened. We can close this console immediately but it is still visible for a short time, which is annoying.

[2018-04-19 17:57] heckflosse commented on #4514
Let my try to explain more detailed the current situation (if the patch from above is applied) for windows builds.

1.) when starting from bash, no new console window is opened (has been opened before patch)

else {

2) when starting from cmd.exe or windows explorer or..., a new console window is opened when needed. For example, if you call `rawtherapee -v` a console window is opened to show the v

[2018-04-19 18:55] agriggio commented on #4514
ok, thanks for the clarification. Windows is a funny os indeed... :-)

[2018-04-19 19:06] heckflosse commented on #4514
@gaaned92 please try the patch from above if your time permits. Though I'm usually building rt without -mwindows, in this case I build with using -mwindows (with the patch applied), and all worked as designed.
But I also may miss some things...

[2018-04-19 20:35] gaaned92 commented on #4514
@heckflosse
With patch and -mwindows

- MSYS2 console : all is ok,no RT console, text written in MSYS2 console or redirected to file as required

- DOS console
     rawtherapee.exe no console opens
     rawtherapee.exe -v : no version text, RT Console opens
     rawtherapee.exe -v >tt.txt: text written in tt.txt, Empty RT console opens(absolutely nothing in it)
     rawtherapee -v -w  nothing hape

[2018-04-19 21:05] gaaned92 commented on #4514
With patch without -mwindows
- MSY2 console : ok same as above

-DOS console : same as above

So the -mwindows flag could be useless?

[2018-04-19 21:11] heckflosse commented on #4514
@gaaned92

No, I found no way to completely suppress the console window when build without -mwindows. It still shows up for a short time, which is annoying :(

[2018-04-19 21:26] heckflosse commented on #4514
@gaaned92

    MSYS2 console : all is ok,no RT console, text written in MSYS2 console or redirected to file as required

    DOS console
    rawtherapee.exe no console opens
    rawtherapee.exe -v : no version text, RT Console opens
    rawtherapee.exe -v >tt.txt: text written in tt.txt, Empty RT console opens(absolutely nothing in it)
    rawtherapee -v -w nothing hapens
    rawtherapee -v -w >tt

[2018-04-19 21:42] heckflosse commented on #4514
@gaaned92

Confirmed. Will fix that

[2018-04-19 21:44] heckflosse commented on #4514
@gaaned92

typo? > ts.txt should not write tt.txt

[2018-04-19 21:57] gaaned92 commented on #4514
1-
`No, I found no way to completely suppress the console window when build without -mwindows. It still shows up for a short time, which is annoying :(`

I didn't succeed to view this  transient console on my machine

2-
[code]

Explanation
the version info is like this:
[code]
The RT console shows only
[code]
Which is the same thing displayed by `rawtherapee.exe -h` , so I think it is not version

[2018-04-19 22:03] heckflosse commented on #4514
@gaaned92

For builds without -mwindows I get the transient console always when starting rt from Start menu  / Explorer / Desktop Shortcut on Windows 7

[2018-04-19 22:17] heckflosse commented on #4514
@Beep6581 @gaaned92 Just a silly thought: We have a [manpage](https://github.com/Beep6581/RawTherapee/blob/dev/doc/manpage/rawtherapee.1)
Why don't we use them instead of hardcoding help information in rt ?

[2018-04-20 05:30] Desmis commented on #4478
I add "A" illuminant - T=2856K Incandescent to generate ICC V4 :)

[2018-04-20 07:02] Beep6581 commented on #4514
It would be easier to maintain, and less duplication.

[2018-04-20 08:13] Bezierr commented on #4505
Ah - didn't know that (I don't use Gimp all that often). Still, I think the following logic would be, ehm, more logical:

- Forward correction: Grid stands, image moves.
- Backward correction: Image stands, grid moves.

[2018-04-20 08:52] stefan-i commented on #4512
Thank you for your analysis. What you say makes sense, so it seems I had a wrong conception how distortion correction and auto-fill work.
However, I don't understand what you mean by "Having auto-fill work when using profiled lens correction could be a valid feature request for other reasons, if that's at all possible." Isn't it already enabled and working by default?

[2018-04-20 08:54] Beep6581 commented on #4505
1. Have you tried the 2-lines method, and if so, in which program?
2. Could you show a video (screen recording) where using the grid is easier than drawing two lines? Thanks.

[2018-04-20 09:00] Beep6581 commented on #4512
I meant having the "Auto-fill" checkbox "work", i.e. being able to toggle the "Auto-fill" option.

[2018-04-20 10:04] gaaned92 commented on #4514
About lensfun version
As all the versions old or recent  have the same version nulmber, it is not at all informative.
Much interesting is the timestamp in the DB.

Ok for -mwindows, but I cannot observe here the same behaviour. The safer is thus to use -mwindows.

[2018-04-20 12:40] heckflosse commented on #4514
It turned out that it's more difficult as I thought...

When started from msys2 console, output is only visible when using std::cout. Output generated by using printf will be visible when a std::cout follows. I already tried [this](http://www.cplusplus.com/reference/ios/ios_base/sync_with_stdio/), but failed.

When started from cmd.exe and a console is opened (because for example verbose=true in p

[2018-04-20 13:12] agriggio commented on #4514
@heckflosse try to set both `stdout` and `std::cout` to no buffering

[2018-04-20 13:34] heckflosse commented on #4514
@agriggio I just tried
[code]
Still the same :(

[2018-04-20 13:57] RawConvert commented on #4505
In my experience, it's usually pretty obvious where the key lines are for correction, and drawing them in is therefore quick and easy, and the rest is automatic and mechanical, the computer does it.  In the rare case where you have a strange image which still doesn't look quite right even though its lines are geometrically correct (or at least as correct as your lens aberrations allow), I imagine

[2018-04-20 15:41] heckflosse commented on #4514
Here's a better patch.
Now most things work as expected.
The exception is the verbose mode on Windows which still has the same issues as before.
Please test thoroughly.

@gaaned92 I still have to check how to get the lensfun database timestamp. Maybe @agriggio knows.

[code]

[2018-04-20 16:02] agriggio commented on #4514
@heckflosse I would actually kill the info about lensfun from the output of `-v` -- I think it doesn't belong there

[2018-04-20 16:16] heckflosse commented on #4514
@agriggio ok, will do that later. Off to beer garden now.

[2018-04-20 17:29] Desmis commented on #4478
I can also, if need (??) give the possibilty to choose it's own primaries :)

[2018-04-20 18:38] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-gettext-0.19.8.1-3`
Folder bug still exists.

[2018-04-20 19:03] chaevvi commented on #4505
1. Unfortunately I don't know how to make video from screen. 2. In GIMP, I just move the picture with the mouse to get the desired effect, directing the initial stationary grid. 3. Method two lines I have not tried it and not even know about it. Probably there are many more convenient methods of perspective correction. My suggestions are based on what I've already tried. I will only be happy if th

[2018-04-21 10:42] gaaned92 commented on #4514
@heckflosse
Until this thread, my builds were made without -mwindows.
I always run them in verbose mode.
When running from shortcut or double-clicking on explorer, RT starts without opening any Console.

Now, with your last patch and with -mwindows, When running in verbose mode, a RT console opens containing only what follows:

[code]
If I close the main window, the console stay open.

All my futu

[2018-04-21 12:38] heckflosse commented on #4514
@gaaned92 rawtherapee-cli should be build without -mwindows

Edit: our default CMakeLists.txt already adds -mwindows for the release builds of non cli rawtherapee target.
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/CMakeLists.txt#L239

[2018-04-21 13:06] heckflosse commented on #4514
@gaaned92

Now, with your last patch and with -mwindows, When running in verbose mode, a RT console

In past verbose mode on Windows only worked for debug builds. Now it also works for release builds.
I can revert to old behaviour because I'm not sure if the new behaviour is desired.

Edited because I quotet the wrong part.

[2018-04-21 17:09] gaaned92 commented on #4514
@heckflosse
mwindows : OK, I forgot that.

In past,verbose mode worked also if RT started from console.
The new behaviour should not collide with requirement for GIMP plugin.

@heckflosse or @agriggio
when several RT versions are installed, is there an easy way to choose the version launched by the plugin?

[2018-04-21 18:52] heckflosse commented on #4514
@gaaned92

The new behaviour should not collide with requirement for GIMP plugin

In past I never started RT from cmd.exe or double click in explorer or startmenu...
I always started from msys2 console.

Does the new behaviour collide with the requirement for the GIMP plugin?
If so, I have to fix that.

[2018-04-21 20:42] gaaned92 commented on #4514
Test of dev branch, verbose mode, without mwindows

- Direct opening by double clicking ,  "Open with rawtherapee" in context menu
RT console opens with verbose text, initialisation steps not described (pp3 reading, lensfun DB reading..), doesn't close when closing main window (seems to be a bug)
I suggest to come back to old behaviour. If we want the verbose text we have to start from a console

[2018-04-21 20:52] heckflosse commented on #4514
@gaaned92

agreed, will change that :+1:

[2018-04-21 21:02] ror6ax opened #4516 "Film simulation dropdown is not working."
Running Fedora 26 and RT 5.2.

Film simulation dropdown works once, I can choose the profile, if gets applied.

After that clicking won't affect the dropdown. Rest of RT seems to work fine after that, I can disable the film simulation. But effectively it means a restart every film simulation preset change.

[2018-04-21 21:03] heckflosse commented on #4514
@gaaned92

rawtherapee -h: useless verbose text for initialisation and help at the end KO

That's independent on my changes I guess. Nevertheless I can try to fix that

[2018-04-21 21:08] heckflosse commented on #4516
@ror6ax
Can't reproduce on current RT 5.4

[2018-04-21 21:38] Tibor-GH opened #4517 "Canon CR2 input not working"
My computer, Win7-64, i5, 16G RAM.
I testing RawT W64 5.4, 5.3, 5.1, 4.1,
Just load Canon CR2 file, AffinityPhoto & Faststone view correct, but RawT not.
Tibor Kiraly

![2018-04-21_231008 raw-therapee_5 4_w64](https://user-images.githubusercontent.com/38594494/39088970-7ef398ae-45bc-11e8-8a8c-6954ca60db15.png)

[2018-04-21 22:12] heckflosse commented on #4517
Looks like a Canon Mraw/Sraw file. Though without having access to the 'raw/or not raw' file we still have to guess...

[2018-04-22 00:07] dnw3039 opened #4518 "Nikon DPC's produced poor results when tone curve is enabled."
I am not sure if this is RT bug or just a problem with the Adobe Nikon DCP.

I have two cameras, a Nikon D7000 and a Panasonic TZ-110. I have been trying to use the Adobe DCP files for these cameras. The Panasonic works well. But with D7000, with RT set to neutral, in color management, the "Nikon D7000 Camera Standard.dcp" profile selected, and tone curve ticked, Auto Levels selected. The effect i

[2018-04-22 07:42] TooWaBoo commented on #4518
I never use Auto Levels. It looks like it's ignoring the tone curve.

[2018-04-22 07:59] aferrero2707 commented on #4516
@ror6ax an easy way to test the latest 5.4 release on your system might be to download and run the corresponding appimage package, available from [here](https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-releases-5.4.AppImage).

Here are the simple steps to follow for running the appimage from the terminal:
* `wget https://github.com/Beep6581/RawTherapee/releases/downloa

[2018-04-22 08:25] Floessie commented on #4518
As @TooWaBoo I experienced that Auto Levels ("histogram matching") and DCP tone curve is either/or. Both are trying the same thing (applying some sort of S curve), so enabling both will lead to the effect you are seeing. Either take the fixed curve from the DCP or the dynamically matched one from histogram matching and take [snapshots](http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Snapshots

[2018-04-22 08:35] Floessie commented on #4516
Seems to be a duplicate of #3967.

[2018-04-22 08:47] agriggio commented on #4518
@Floessie auto levels and histogram matching are two different things. the former ignores the DCP tone curve, the latter does not. if you see otherwise, that's a bug...

[2018-04-22 09:03] Floessie commented on #4518
@agriggio @dnw3039 Ah, then sorry for the noise. I didn't have the UI in front of me, so I confused the two things.

[2018-04-22 10:30] Beep6581 commented on #4478
To merge this branch into `dev`, we need to know how to test it, how to objectively verify that it works correctly - test cases. Could you explain that please?

[2018-04-22 11:06] Beep6581 commented on #4505
So you have not tried it, you don't know how it works, but [you are of the opinion](https://github.com/Beep6581/RawTherapee/issues/4505#issuecomment-381363833) that it's no good and that GIMP's antiquated method is better, did I get that right?

[2018-04-22 11:58] Desmis commented on #4478
This question is very surprising for me :)

How do you compare before, Prophoto, sRGB, etc. in working profile, and how do you compare before Output profile , or how do you compare Elle Stone profiles ? What led to choosing sRGB as output, and Prophoto as input ?

However, I'm working on "free primaries", and I'm going to give a brief user guide. Purpose question: in french in Rawpedia or simplifi

[2018-04-22 12:19] Bezierr commented on #4505
I haven't tried the "two lines" method, either, since none of the software I use offers it.

The big drawbacks of the "conventional" perspective correction method, as implemented in RT, but also in LR and others, are that a) the image is severely cropped (and I have no control over where this cropping should occur), and b) I don't have any control over overall compression or stretching, frequently

[2018-04-22 12:26] Hombre57 opened #4519 "Pink highlights in output file (HDR image) with unclipped HL in Exposure"
To reproduce, generate the output file of [the "Fenetre" DNG and pp3 file](https://filebin.net/ny91vzfy52oqscl0). As you can see, the sun is a pink highlights, while the preview in RT show it white.

I'm using `No ICM: sRGB output` for output profile, and my monitor profile is set to sRGB as well.

Enabling `Clip out-if-gamut colours` solve the problem in the output file.

I don't know enough abou

[2018-04-22 12:27] Hombre57 commented on #4519
Forgot to mention : something for you @agriggio ?

[2018-04-22 15:17] Beep6581 commented on #4478
@Desmis all good questions, and I think they should not be rhetorical.

1. How do you choose a good working space in a program with a floating-point engine?
2. Maybe the addition of new working spaces is fine **if** the supported working spaces all function correctly, which takes us to the second question: how do we test each individual working and output space? As mentioned a few comments above,

[2018-04-22 16:02] chaevvi commented on #4505
Two-line perspective correction can be very effective for some shooting scenarios. But not everyone. For example, for landscapes and other artistic compositions the choice of such lines is not always obvious. Moreover, it is not always necessary to do exactly parallel lines of geometric perspective. Sometimes this greatly worsens the frame, for example, the volume effect.
Therefore, a more univers

[2018-04-22 16:17] Desmis commented on #4478
I will post soon, a commit with "free primaries", with somme GUI difficulties (at least for me!)

For all question and my comments, tomorrow I will be away, my grandson are in Frejus, and as weather is very fine, we go to the beach, walk etc.  - so all comments, in this issue - with my bad english, probably for thuesday :)

[2018-04-22 17:05] Beep6581 commented on #4505
Example 1: https://filebin.net/383qwo5xw7tyfjzh/vid-2018-04-22_19.00.29.mp4
Example 2: https://filebin.net/383qwo5xw7tyfjzh/vid2-2018-04-22_19.04.00.mp4

[2018-04-22 20:46] chaevvi commented on #4505
I agree - perpendicular lines is a good mechanism. As I already wrote, above-I highly appreciated it. I am in favour of implementing this wonderful mechanism.
However, I like to watch and evaluate how the picture changes in dynamics when I move it with the mouse.
In addition, there are pictures which when aligned in straight lines on them (the corners of buildings, boundaries, paths...) become unn

[2018-04-22 21:22] RawConvert commented on #4519
The sun is not pink on my system (RT 5.4-79) with your PP3.  However is it possible the white point in camconst.json is too agressive?  I say this because when I just tried the DNG with Neutral profile, the sun was white, but changing the white point correction in the Raw  tools from 1 to just .99 was enough to make it go pink.  (But it isn't pink at value 1).

[2018-04-22 22:28] Tibor-GH commented on #4517
Yes I shot Canon M-Raw. I can send original raw file, 25 MB.

[2018-04-23 06:21] Desmis commented on #4478
A first approach - in french, it not describe how to in detail, but why !

Le choix des profils de sorties et des profiles de travail n'est pas un sujet simple. Le management des couleurs est tout sauf simple,  certaines parties sont empiriques, d'autres sont liées à des lois mathematiques complexes, fondées sur le calcul matriciel à partir de données spectrales.

Ainsi, un profil ne se résume pas

[2018-04-23 07:21] agriggio commented on #4519
@Hombre57 I'd say this is a bug: regardless of the settings, the preview should match the output here -- either you get the pink blob in both, or in none of the two. I'll take a look (when time permits)

[2018-04-23 09:16] Beep6581 commented on #4519
@Hombre57 were the white levels correct in HDRMerge when you created this DNG?

![screenshot_20180423_110534](https://user-images.githubusercontent.com/5844619/39117633-b76bffa6-46e7-11e8-9e2b-9df599fde4c0.png)
![screenshot_20180423_110832](https://user-images.githubusercontent.com/5844619/39117634-b78b7cf0-46e7-11e8-80cf-75475e0d62d7.png)

I had to set the white level to 14600 to have the white a

[2018-04-23 09:23] #4516 closed, assigned to nobody

[2018-04-23 09:26] Beep6581 commented on #4517
Duplicate of #3533

[2018-04-23 09:26] #4517 closed, assigned to nobody

[2018-04-23 09:38] ror6ax commented on #3967
@mlaverdiere  - did you follow this up with mutter/kwin developers? I am having the same issue on Fedora.

[2018-04-23 09:43] ror6ax commented on #4516
Can't repoduce in 5.4. appimage either.

I think updating the version in Fedora official repo might be in order in such case.

Anyway, thanks for help and your work on RT!

[2018-04-23 12:49] iliasg commented on #4519
@agriggio Alberto, it must be the "unbounded process" which turns clipped highlights to magenta .. I just tried with an older version (5.4-84) which is before unbounded process commit and there is no problem.
With the latest RT versions the clipped highlights get magenta_colorized.

A tip .. with RT5.4-127 I get no coloration If I choose "no profile" at color management
Looks like something is mis

[2018-04-23 13:29] agriggio commented on #4519
@iliasg thanks for the feedback. The point of the "unbounded mode" is to try to leave the "out of gamut" channels untouched, and only clip at the end if needed (ie. when saving to jpg or 16-bit tiff). This however *can* create artifacts, this is sort of expected :-)
"Unbounded" must be considered an advanced setting, for people who know what they are doing. That's why I put a big tooltip initially

[2018-04-23 13:31] iliasg commented on #4478
@Desmis Jacques, why do you choose ACES_P1 as optimal instead of rec.2020 ?. They are very close in CIE coverage and the rec2020 has the bennefits of 1) no imaginary colors 2) better compatibility with devices (rec2020 is the "go to" standard for displays ..)

On the other side .. Prophoto is by default used as target space with dcp profiles ..

A grey region to me is the "relative colorimetric" a

[2018-04-23 13:46] Beep6581 commented on #4519
`Fenetre.dng` using the neutral profile shows magenta in the light blob in `5.4-243-g`5374afe6 but not in 5.4, regardless whether "Clip out-of-gamut colors" is enabled or not.

![screenshot_20180423_154215](https://user-images.githubusercontent.com/5844619/39130432-590fe334-470d-11e8-95e9-01414cfe4bbb.png)

![screenshot_20180423_154308](https://user-images.githubusercontent.com/5844619/39130445-5e

[2018-04-23 14:38] agriggio commented on #4519
Here's a patch to restore the 5.4 behaviour when "clip OOG" is checked (I forgot to restore this behaviour when I introduced the checkbox):

[code]

Unless there are objections I'll try to commit later (or tomorrow)

[2018-04-23 15:18] heckflosse commented on #4519
@agriggio The patch fixes the issue reported by @Beep6581 using neutral profile, but not the issue reported by @Hombre57 (preview shows white but saved shows pinkish highlights using his pp3 file)

[2018-04-23 15:26] Beep6581 commented on #4519
"Clip out-of-gamut colors" now has an effect, and when using neutral the preview now generally matches the saved image with this exception (notice the band around the main blob):
![screenshot_20180423_171911](https://user-images.githubusercontent.com/5844619/39135977-81178190-471a-11e8-9a2b-20a9914ddd46.png)

![screenshot_20180423_171918](https://user-images.githubusercontent.com/5844619/39135978-

[2018-04-23 15:34] agriggio commented on #4519
@heckflosse yes, I confirm that the patch is only for @Beep6581's bug. I still need to find some time to look at the preview mismatch issue

[2018-04-23 15:38] Desmis commented on #4478
I choose ACES_P1 for two reason
a) it's slightly big, and the area with imaginary color is very small
b) it is in D60 instead of D65
But I can build any profile, between rec2020 and ACESP1, an in D50...

Grey region, perhaps, I am not sure, to verify :)

[2018-04-24 04:50] Tibor-GH commented on #4517
Thank you.

Tibor

2018-04-23 11:27 GMT+02:00 Beep6581 <notifications@github.com>:

[2018-04-24 05:22] Desmis commented on #4478
Utilisation
Quand vous cochez "FOIP", Free Output Integrate Profile, vous autorisez plusieurs fonctionnalités
1) possibilité de générer un profil ICC de type V2 directement intégré (Foip) au fichier de sortie (TIF, JPG), sans le charger dans une liste de profils
2) créer des profils ICC V2 qui vont être écrits sur disque, ils seront identiques au profil FOIP
3) créer des profils ICC V4 qui vont êt

[2018-04-24 13:39] mlaverdiere commented on #3967
No, I didn't and I'm not in the best position to
      follow up on this bug, as I'm not really using RT anymore.

       

      Marco Laverdière

    Le 2018-04-23 à 05:38, Gregory
      Reshetniak a écrit :

      @mlaverdiere
        - did you follow this up with mutter/kwin developers? I am
        having the same issue on Fedora.
      —
        You are receiving this because you were mentio

[2018-04-24 14:12] Beep6581 commented on #3967
I wrote a document to ease dealing with this:
http://rawpedia.rawtherapee.com/Wayland

[2018-04-24 17:01] Echolon commented on #4473
Hi,

I know it's picky but as far as I recognised you closed this issue without switching on HTTPS :cry:

Cheers

Edit: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-04-25 01:20] wtanmdt commented on #4204
Here is a picture taken on the color target of X-Rite ColorChecker Passport:

http://www.weldpass.com/upload/DSCF0002.RAF

[2018-04-25 06:49] Beep6581 commented on #4204
Hi @wtanmdt

The above photo was shot on an overcast winter's day on a reflective yellow surface, and it's quite small in the frame.

Please follow these shooting guidelines and release both daylight + tungsten shots into the public domain for inclusion in RT:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target

[2018-04-25 17:25] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-04-26 12:12] suslikk opened #4520 "Canon EOS 4000D"
Need best support for Canon EOS 4000D
[IMG_4402.zip](https://github.com/Beep6581/RawTherapee/files/1951055/IMG_4402.zip)

[2018-04-26 14:06] heckflosse commented on #3533
I take this. First result:
![grafik](https://user-images.githubusercontent.com/13733487/39310803-a964c182-496b-11e8-8466-45491c082ee4.png)
Now trying to fix the upper and left border...

[2018-04-26 14:32] agriggio commented on #4519
Here's the best I could do. It's still not completely accurate, but I'm afraid getting better could be difficult -- there are too many factors involved (with different cms transforms and different pipelines), so I wouldn't know what to do exactly... help is welcome though :-)

[code]

[2018-04-26 16:28] Benitoite commented on #4520
It seemed to work.

[2018-04-26 17:50] heckflosse commented on #3533
I just detected that mRaw files from `Canon EOS 6D Mark II` also don't work.
Tested using https://raw.pixls.us/getfile.php/1624/nice/Canon%20-%20EOS%206D%20Mark%20II%20-%20sRAW1%20(mRAW)%20(3:2).CR2

I will try to find a generic solution for the mraw stuff.

[2018-04-26 18:55] cuniek commented on #4520
go to COLOR TAB -> COLOUR MANAGEMENT -> CUSTOM
click it to open dialog that allows to select color profile. Find folder with color profiles (program files -> rawtherapee -> dcpprofiles). Select Canon 400D. Enjoy.

PS
I don't know why it is not selected by default and why Camera Standard looks so bad.

[2018-04-26 18:59] aferrero2707 commented on #4519
I have been also confronted with the problem of adapting the RAW processing steps to the unbounded case, and I came up with the following steps that seem to yield optimal results in all cases:
* decode de RAW data, subtract the black point, and normalize according to the white level (I will assume a normalization to the [0..1] range for simplicity)
* multiply the normalized RAW values by the WB co

[2018-04-26 19:21] Beep6581 commented on #4520
@cuniek 4000D not 400D.

[2018-04-26 19:22] RawConvert commented on #4519
hi @aferrero2707 , I guess the steps above are for Photoflow.  To check my understanding, is everything prior to "color conversion..." done with linear gamma?
Suppose this was in Rawtherapee and you applied a camera DCP, and you had the working space set to say Prophoto.  Would a conversion to Prophoto take place after the last bullet point?

[2018-04-26 19:40] aferrero2707 commented on #4519
Yes, everything before "color conversion" happens in the linear camera colorspace.

Regarding the second question, the answer depends on the definition of "working RGB colorspace" in RT... does the conversion to ProPhoto happen before or after the the one to Lab colorspace?

In fact, in the case of a conversion from camera to Lab the clipping is maybe not needed. The most critical values are negat

[2018-04-26 20:09] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-04-26 21:05] heckflosse commented on #3533
Here's a first experimental patch which already works for all the mRaw files I found on raw.pixls.us
I didn't try to solve the border issues for EOS 80D mRaw files. My intention was to provide a generic solution to avoid hardcoding of image dimensions for mRaw files in future.
I will post a better patch (less code) soon.

[code]

[2018-04-26 21:25] Thanatomanic commented on #196
Let me dust off this old feature request, because I have been looking for a way to implement this myself. It seems to be rather easy to do (except for the fact that I don't know yet how to make a dedicated toggle for it in the GUI).

My first attempt was to make a logarithmic scaling of the y-axis, by simply editing `rtgui\histogrampanel.cc`. I needed to add `#include <cmath>` in the header and mo

[2018-04-26 22:53] heckflosse commented on #196
@Thanatomanic

Absosultely! Don't hesitate to to ask for help.

[2018-04-26 22:55] heckflosse commented on #196
@Thanatomanic doesn't double click on histogram work already?

[2018-04-27 06:48] Thanatomanic commented on #196
@heckflosse I'll see what I can do for the pull request. Currently if you double click the histogram you toggle the 'full' vs 'cutoff' mode, which is a different solution to showing more of the interesting parts of the histogram.

[2018-04-27 09:06] heckflosse commented on #3533
Here's a simpler patch:

[code]

[2018-04-27 09:37] Floessie commented on #3533
@heckflosse I don't really understand, why you initialize the first element of `ratio`: Isn't it only set in the first `while` when `index` is `0`? So the access in the second `while` can only happen if it is definitely set. I must be missing something...

[2018-04-27 09:43] heckflosse commented on #3533
@Floessie Your're right. Thanks for the hint :+1:
Fixed

[2018-04-27 10:02] heckflosse commented on #3533
@Floessie The fix for the wrong borders of the 80D mRaw files is a bit more complicated.
Currently I got crashes [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimage.cc#L765), if I set top_margin/left_margin.

Imho we should review this code in a new issue, because it's also for foveon and demosaiced DNG files, not only for mRaw.

Objections to push the patch from above?

[2018-04-27 11:04] Floessie commented on #3533
@heckflosse

No, but I was thinking about the `20`. I guess it's arbitrarily chosen but `index` depends on it the first `while`. Wouldn't it be more concise to use a flexible `std::vector<>` here, perhaps with a `struct` containing both `ratio` and `dimension`? Then you wouldn't need `index` anymore but `emplace_back()` and `empty()`. Anyway, the code is fine as is.

Why not, though I need some en

[2018-04-27 11:04] Beep6581 commented on #3533
@heckflosse compiled and tested on all mRaw files from RPU (hint: you can search RPU for "mraw", you don't have to search by model).

Tested:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-04-27 11:54] heckflosse commented on #3533
@Beep6581 With the files from RPU the black borders are only for
EOS 80D - sRAW1 (mRAW) (3_2). CR2

[2018-04-27 12:00] heckflosse commented on #3533
@Floessie

That's old code from the time before I started contributing. It never has been tested on 3-channel files with top_margin or left_margin > 0 because usually these files don't have borders.

Unfortunately there are exceptions...

[2018-04-27 12:16] heckflosse commented on #3533
@Floessie Here's a patch using std::vector

[code]

[2018-04-27 12:36] Floessie commented on #3533
@heckflosse What a pleasure. :+1:

Only a nitpicking: `emplace()` is meant to be fed with the parameters to `T`'s constructor, otherwise it decays to an `insert()`/`push_back()`. So, if I'm not mistaken, the line should read:
[code]

Best,
Flössie

[2018-04-27 13:02] heckflosse commented on #3533
@Floessie How about this one?

[code]

Because there is the 1.5f constant in the calculation I see ne need for a cast at all, or do I miss something?

[2018-04-27 13:18] Floessie commented on #3533
@heckflosse Phew, I don't know by heart. Just give it a try...

[2018-04-27 13:47] #3533 closed

[2018-04-27 20:25] heckflosse opened #4522 "Fix wrong borders for Canon EOS 80D mRaw files"
Canon EOS 80D mRaw files show a black border top and left

Here's a first experimental patch:

[code]

[2018-04-28 09:06] Beep6581 opened #4524 "NIKON D800 and D800E wrong white levels"
The Nikon D800E seems to have a wrong white point:
https://filebin.net/qx96cau83ue809n3

This probably applies to the D800 as well.

[2018-04-28 16:16] Beep6581 opened #4527 "High quality and fast on-demand preview"
Often it is necessary to save an image multiple times, tweaking it a little after every save, before one ends up with the perfect result. I currently abuse the "Open image in external editor" feature by having RT [send it straight to Geeqie](http://rawpedia.rawtherapee.com/Preferences#Linux). It works, but it's slow, and it's not aligned over the preview.

It struck me that there is a solution whi

[2018-04-29 02:25] wtanmdt commented on #4204
Hi @Beep6581
I just retake the photos as below:

http://www.weldpass.com/upload/Fujifilm-DBP-for-GX680-daylight.RAF
http://www.weldpass.com/upload/Fujifilm-DBP-for-GX680-tungsten.RAF

Thanks.

[2018-04-29 12:34] iliasg commented on #4524
The WLs R:16300, G1-G2:15700, B:16300 .. are correct if we are talking about per channel raw clipping (G1,G2:15783 - R,B 16383)
 .. but looks like current RT is not handling the per channel WLs correctly ..(If I remember correctly .. I think when Torger first implemented the per channel WLs RT was working fine .. then some changes about highlight handling resulted in pinkish highlights ..

On all

[2018-04-29 12:48] heckflosse commented on #4524
I just checked with an old 5.3 version and also with 5.4 release. There it works fine...

[2018-04-29 13:08] iliasg commented on #4524
@heckflosse Ingo, with 5.3x .. what RGB values do you read at the bottom-left whitish patches of ..DyLght.nef ?. with 5.4-84 (just before unbounted process) I read R=1.000 G=0.9765, B=1.000 ..

I think the change of highlight handling I mentioned (author was Anders Torger ..) is alot older .. I recall that after that change we started having magenta highlights even when we have a slight error in W

[2018-04-29 13:34] heckflosse commented on #4524
@iliasg Ilias, you're right. With 5.3 it's still a bit magenta R = 1.0000 G = 0.9765 B = 1.0000, but better than 5.4.258 where R = 0.9725 G = 0.9451 B = 1.0000

I have to search a bit to answer your question

[2018-04-29 15:47] Desmis commented on #4478
I push a change,
* I add gamma TRC to working profile, for only build in profiles (sRGB, Prophoto, etc.)
* this can be used for exampl to generate image with gamma=1, or act on shadows
*...
You can change gamma from 0.4 to 6. and slope from 0 to 40.
By defaut settings are sRGB TRC

[2018-04-29 17:31] Beep6581 commented on #4204
Thank you for the shots @wtanmdt , they look good, unfortunately neither RawTherapee nor Adobe DNG Converter can open them yet.

[2018-04-29 18:01] Beep6581 opened #4528 "Segfault in gaussianBlur (USM)"
`5.4-258-g`5d27eea8
https://filebin.net/sitr9sambhk8znk2
Add the raw file via dedicated fast export to the queue, start the queue, and eventually it crashes:
[code]

[2018-04-29 19:49] heckflosse commented on #4528
This patch should fix the crash:

[code]

[2018-04-30 09:06] Bezierr commented on #4505
@Beep6581 , thanks for the examples. It's what I expected from the name, and clearly this is *much* better (easier to use, better results) than the current solution. I guess I could use it for 95% of my perspective corrections, and for the remaining 5% -- well, there is still Gimp.

[2018-04-30 10:20] Hombre57 opened #4529 "Eclipse talk"
Following [this message](https://github.com/Beep6581/RawTherapee/pull/4523#issuecomment-385316713) (ping @Floessie), this issue is a host for discussion around the Eclipse IDE.

I'm opening the thread by asking about the Oxygen version of Eclipse, which seem to have a serious regression compared to Neon. I'm thinking about the project's `Properties` page, where the `Preprocessor Include Paths, Mac

[2018-04-30 12:16] #4514 closed, assigned to heckflosse

[2018-04-30 13:06] Floessie commented on #4529
I'll chime in on Wednesday.

[2018-04-30 13:22] Hombre57 commented on #4519
@agriggio Your 2 patch gives more consistent result. If no one objects, could you commit them ?

[2018-04-30 13:32] Beep6581 commented on #4528
@heckflosse unfortunately it still crashes. New backtrace coming soon.

[2018-04-30 14:32] Beep6581 commented on #4528
[code]

[2018-04-30 14:42] Beep6581 opened #4530 "Take --help info from man page"
`rawtherapee --help` currently prints its own info from `main*.cc`
We have the same info in the man page, and I wouldn't be surprised if the two were no longer identical. It would be nice if `--help` used the text from the man page:
* less maintenance,
* less chance of one being outdated,
* probably easier to write.

To output the info from the man page in readable plaintext:
`man -P cat doc/manpa

[2018-04-30 14:52] heckflosse commented on #4530
:+1:, but we need an msys2 `man` command for windows builds.

[2018-04-30 14:54] heckflosse commented on #4528
@Beep6581 please try this patch instead of the last one

[code]

[2018-04-30 15:45] agriggio commented on #4519
@Hombre57 sure, committing now

[2018-04-30 15:52] Desmis commented on #4478
After research by trial errors with LCMS, I find why "cmsCreateTransform" works with TYPE_RGB_16 and very bad with TYPE_RGB_FLT, I change especially "Imagefloat::ExecCMSTransform";

Now all works normally, I have change some settings - gamma from 0.4 to 8 and slope from 0 to 80

jacques

[2018-04-30 16:17] Hombre57 commented on #4505
In a GUI point of view, there is 2 ways to implement what you're talking about.

1.  **Freeform deformation** : with this method, you could place some helper line in the image, showing actual angle, then pick one of the for corner of the image to deform it at will, with a visual feedback of the result (and updated angle for the helper lines), and possibly not totally suppressing the perspective. Y

[2018-04-30 19:12] j03jones opened #4531 "Canon EOS M50 CR3 raw support"
Hello,
I am having issues with support for the Canon EOS M50. The camera outputs a new .CR3 file extension. I have uploaded a sample photo from the camera to https://raw.pixls.us/ and was told to open an issue here from Google Plus to better help. RawTherapee fails to recognize the new .CR3 when attempting to view photos.

**RawTherapee Version:**
Branch: default
Version: 4.2.0
Changeset: c81d9026

[2018-04-30 19:52] Beep6581 commented on #4505
No, the example is from Autopano Giga which is proprietary. I suspect Hugin could have code which does just that (the UI in Hugin works differently, placing two lines is not so simple, but aside from the UI the engine does the same job), but currently I cannot point you to it.

[2018-04-30 20:04] agriggio commented on #4531
Hi @j03jones,
currently CR3 raw files are not supported by RT. We don't have a decoder yet. BTW, are you aware that you are using an "ancient" version of RT? The current one is 5.4 (though it won't change anything regarding the M50, a lot has changed since 4.2...)

[2018-04-30 20:10] j03jones commented on #4531
Thank you for your response and information about the decoder. I will have to update the repo to the official. My version was pulled from Ubuntu repository.

[2018-04-30 22:28] gaaned92 commented on #4530
On windows, I think it should be converted during build process, as it is the only time where a man command is available from MSYS2.

[2018-04-30 23:08] wtanmdt commented on #4204
I wish it will be supported in future RawTherapee release.
Many thanks for your work @Beep6581

[2018-05-01 08:00] Hombre57 commented on #4505
@Beep6581 At least I think I can find it myself in Hugin now, thanks.

Should the methods be cumulative, i.e. do you want a `Method` combo to still have access to the old method + new one(s) but only one at a time, or do you want to be able to apply all of them in a single shot ? I'd prefer enabling only one.

[2018-05-01 08:19] Desmis commented on #4478
I fix a bug in ExecCMSTransform for non raw files...
The I merge with dev
:)

[2018-05-01 10:27] heckflosse commented on #4530
@gaaned92 Oh, I didn't find man on msys2. Can you tell me how to get it?

[2018-05-01 11:14] Beep6581 commented on #4505
@Hombre57 great that you found the relevant section. All things considered, I vote for not-cumulative.

[2018-05-01 11:25] Beep6581 commented on #4530
Does MSYS2 install `groff`/`troff`/`nroff`? They can be used to translate the man page to plaintext.

[2018-05-01 11:27] Beep6581 commented on #4528
That fixed it @heckflosse

[2018-05-01 11:32] Beep6581 commented on #4527
A full processing of the above photo takes 14 seconds. Using the dedicated fast export pipeline at my preview size's resolution, it took just 3 seconds.

[2018-05-01 12:21] #4528 closed, assigned to heckflosse

[2018-05-01 12:48] gaaned92 commented on #4514
@heckflosse
W10
- `Nevertheless I can try to fix that`
It is not fixed in last dev

- I tried to launch the RT plugin with no success. I put the path of dev rawtherapee.exe in %path% . launched GIMP2.10. RT is not registered as a plugin.
I would like to know what is inside the  `rawtherapee_stdout` variable. how I can print it?
Do you know how to build fie-rawtherapee.exe?

- To locate the RT exe,

[2018-05-01 12:56] gaaned92 commented on #4530
@heckflosse  I only typed `man -h` in mingw64 shell and the typed @Beep6581 command above.

Perhaps it comes with some package!

[code]

@Beep6581  yes.
exemple:

[code]

[2018-05-01 13:02] agriggio commented on #4530
my 2 cents: I think it's easier to start from a structured text and have a cmake script that translates to both a c string and a man page at compile time from the same master

[2018-05-01 13:22] heckflosse commented on #4514
@gaaned92

Imho it was not related to this issue. I will try to fix that now.

I can't even launch GIMP2.10 without getting hundreds of messageboxes.

What's that?

The Darktable choice seems to be the recommended one. that should be feasible with windows installer.

agreed

[2018-05-01 13:46] RawConvert commented on #4505
I'm not clear what it will look like following the two posts above, for example how many tools would there be once implemented.  If you correct using two drawn lines, will this populate the existing horizontal, vertical and rotation tools?  That is, if you wanted to tweak the rotation slightly, could you just go to that tool and alter the value a little?
@Beep6581 @Hombre57

[2018-05-01 13:47] heckflosse commented on #4514
@gaaned92

Fix pushed, but only for rawtherapee, not for rawtherapee-cli

[2018-05-01 14:23] RawConvert commented on #4505
Some more on this - just my 2 cents - I know it's not me building it!...
Answering my own question, I don't think there is a new tool or tools!  I see it as analogous to the current straight line "icon".  You draw the line, but how does RT see it? - in the history, it's a Rotation, presumably likewise in the PP3.  The "fundamental" "tools" at play here are Rotation, Horizontal  and Vertical.  You

[2018-05-01 14:33] heckflosse commented on #4514
@gaaned92

About printing rawtherapee_stdout see line 305 of file-rawtherapee.c

 I found this in file-rawtherapee.c
[code]
Does that mean the presence of RT is only checked at gimp installation time?

[2018-05-01 15:09] aferrero2707 commented on #4514
@heckflosse not at installation time, but only once the first time you run a new version of GIMP, and therefore it re-creates the plug-in cache.

Putting the code in the `init()` function forces GIMP to check for the existence of the RT executable every time it is started, and not only the first time.

[2018-05-01 15:15] heckflosse commented on #4514
@aferrero2707 Then the current file_rawtherapee.c should be correct as it's already in the init() function.

[2018-05-01 16:23] gaaned92 commented on #4514
- `Fix pushed, but only for rawtherapee, not for rawtherapee-cli`
Thanks

- `I can't even launch GIMP2.10 without getting hundreds of messageboxes.`

I installed Partha's build. I did'nt really yet use it but it launches ok (except for RT plugin!)

- `Then the current file_rawtherapee.c should be correct as it's already in the init() function.`
Yes I assume that.

- Do you know how to build file-r

[2018-05-01 18:52] Hombre57 commented on #4519
@agriggio I'm reopening the issue since the pink HL is still there, and I have new informations (feel free to close again if nothing can be done in RT) : when using the `RT_ACEScg-V4-g22` output profile of the `testoutputprofile` branch (might be the case with ACES output profile of `dev` branch, if available), then the pink HL is gone in the output file (not the gray "crown" though), meaning that

[2018-05-01 18:54] agriggio commented on #4519
@Hombre57 I'm not sure I understand what you are saying... do you mean that the preview and the output are different?

[2018-05-01 18:57] Hombre57 commented on #4519
@agriggio Yes, specifically with ACES output profile, with output image seen in IrfanView, CMM enabled.

[2018-05-01 19:18] agriggio commented on #4519
@Hombre57 what I don't understand of your comment is this part:

what do you mean exactly? Clipping definitely occurs when generating the output image for display, because we convert to 8 bits. Some clipping also occurs internally, even when "clip OOG" is not set to true. This happens to allow "smooth" transitions between unclipped and clipped colours. It might also be possible that some tools are

[2018-05-01 19:25] agriggio commented on #4519
**EDIT** to my comment above: it seems that the posterization I was talking about depends on the viewer... It occurs in Geeqie, but not in GIMP 2.10. Both are colour managed, use the same screen profile and the same rendering intent. Here are a couple of screenshots:

- Geeqie

![geeqie](https://user-images.githubusercontent.com/11982086/39489502-090497fc-4d86-11e8-9b32-cb4f06fdcd6b.png)

- Gimp 2

[2018-05-01 19:56] Beep6581 commented on #4478
I tested `5.4-319-g`bab093b0 using:
* http://rawtherapee.com/shared/test_images/tracteur.dng
  [tracteur.dng.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1964796/tracteur.dng.pp3.txt)
* http://rawtherapee.com/shared/test_images/blackcat.dng
[blackcat.dng.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1964800/blackcat.dng.pp3.txt)

Output images:
https://filebin.net/25i114p1rf2huc

[2018-05-01 20:41] Hombre57 commented on #4505
@RawConvert Yes, that helps, thought I don't know if using this feature with successive occurrence will lead to a predictable result. But we should go the way you just explained IMHO.

[2018-05-01 21:07] Hombre57 commented on #4478
9. I think using `custom` instead of `free` (everywhere it's used) would be more correct too

[2018-05-01 21:51] chaevvi commented on #4505
I agree that the implementation of perspective correction with the help of lines should be put as a priority. Will receive great benefits.

In this case, the lines can be conducted and not necessarily parallel.

This is a relatively easy job compared to the implementation in GIMP. And it will bring the greatest initial benefit to RawTherapee, given the small Speed of rawtherapee image transformati

[2018-05-02 06:27] Floessie commented on #4529
Hi @Hombre57,

I've fired up my Eclipse Oxygen.3 VM and installed RT. Everything is fine, including the "Paths and symbols" page. Here's how I set it up:

1. Cloned RT to `~/src/rawtherapee` and installed dependencies.
2. Created `~/src/rawtherapee/build` and ran `cmake` there.
3. Fired up the freshly installed Eclipse Oxygen.3.
4. File -> Import -> Git -> Projects from Git -> Existing local repos

[2018-05-02 07:05] Desmis commented on #4478
Thank you for testing :)

The remarks are very much about the form, of course I accept them, even if for me at this stage, it is not essential.
There are plenty of places inside the RT code, where this one (names of variables, functions and totally unexplained for me, too long, british abbreviation, etc.), of course I am a grumpy old man :)

* I will try to solve some of these GUI problems (bad en

[2018-05-02 07:49] Beep6581 commented on #4478
@Desmis I can try to help you with the UI if you need help, and with the icons if they are required.

If we are to include this branch in 5.5 then we need to polish it and merge soon.

Yes, but I wrote about Rec. 2020+, not Rec. 2020.

Also known as Rec2020+,  AP1 primaries are slightly larger than Rec. 2020 and it’s the AP1 Primaries that are used in ACEScc, ACEScg and the Resolve specific ‘DaVin

[2018-05-02 08:31] Desmis commented on #4478
I you can furnish the icon fot small and big gamut :)

Then
* I will suppress all output profile not need , I think it will remain about 12 or 10
* i will try to enhance GUI,
* I will try to replace the name of some variables
:)

[2018-05-02 11:19] Desmis commented on #4478
Excuse me but, I will make some changes, even if some seem superfluous to me, but not all
I will change "wprimari" with "wprimaries", but what is the added value ??

For ACES I think we should not confuse, "at the level of standards normalisation" - if there is one in this case - the color space and the primaries
If I try to read english, there is 2 primaries, AcesP0 (big), and AcesP1 (near Rec202

[2018-05-02 14:10] agriggio commented on #4478
Just a random thought (feel free to ignore): wouldn't be possible to have this as a separate, stand-alone tool for generating output profiles, rather than having it as a subtool of RT? This might be more generally useful also to other people, and I was thinking that mabye you don't create a specific output profile for each image you are processing... or did I misunderstand the intended usage of th

[2018-05-02 14:53] Desmis commented on #4478
You must read the documentation in french above :)

If I speak of "FOIP" - Free Output Integrate Profile - it is because you can directly "Integrate in the file TIF/JPG" a profile with a very good result. Much better than in loading an ICC v2 separate profile - same quality as v4 (evaluate with Histogrammar Guillermo Luijk)

It is by default the main option, if you want a custom profile....differe

[2018-05-02 20:11] heckflosse commented on #4505
@chaevvi

really?

[2018-05-02 20:24] Beep6581 commented on #4505
https://www.paypal.me/rawtherapee

[2018-05-02 21:03] Hombre57 opened #4532 "Pentax's HDR file in PEF format not recognized as HDR"
Title say it all.

[2018-05-02 21:04] Hombre57 opened #4533 "16 bits floating point image shown as 32 bits image in Quick Info"
e.g. files out of HDRMerge.

[2018-05-02 21:56] Hombre57 commented on #4529
@Floessie I'll try asap, thanks for the detailed info.

[2018-05-02 22:26] gaaned92 opened #4534 "Rawtherapee as a GIMP plugin"
- Thanks to commit 483c0ae3e5bbc5854a8f0a6e66f39c827e40793c from @heckflosse in dev branch, Rawtherapee can now be registered as a raw plugin if  .exe path is provided in PATH variable.

Do you know how to choose  raw program? DT is always choosen.

- as suggested here: https://bugzilla.gnome.org/show_bug.cgi?id=790740#c10, a registry key could be used.

The patch hereunder shows how  to include t

[2018-05-02 22:29] heckflosse commented on #4534
\o/

[2018-05-03 05:57] Desmis commented on #4478
I just push a change for GUI
Result is substantially as requested, except Icons for gamut

jacques

[2018-05-03 07:06] Beep6581 commented on #3558
`5.4-266-g`a84ce624

[2018-05-03 07:11] Beep6581 commented on #4533
Yeah confirmed.

[2018-05-03 13:25] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-03 14:33] Desmis commented on #4478
I will begin the documentation in Rawpedia
My english is so bad, that I will write in french
I will suppress the chapter "Espace de sortie Output profile" in Gestion de la couleur supplément" and I would add a few paragraphs to the module "Gestion de la couleur"

Remark : when you choose "ICC v4" in "Generate ICC profile"
1) obviously a ICC profile v4 is generate in the folder of Rawtherapee.exe
2

[2018-05-03 14:42] Beep6581 commented on #4478
No problem, I can use Google Translate and/or ask for help via the forum when translating to English.

That's not possible in Linux if RT is installed system-wide, and it could cause errors in Windows too. IIRC RT requires admin permissions to run in (some versions of) Windows. Requiring admin permissions to run RT should be considered a bug or at least a problem with the design, and so this behav

[2018-05-03 15:05] Desmis commented on #4478
If it is not possible - if I understand what you say (??) where can we put this file ? in another folder ??

"Generate custom profile" does not fit what it does 1) it "generate profil" on disk (see above) 2) it embeded (integrate) in the current TIF / JPG file

[2018-05-03 15:22] Desmis commented on #4478
It is not a problem to change the folder, it is very easy to change, for example put the ICC Profile in
release/iccprofiles/output .
In this case, does it works on Linux ?

[2018-05-03 15:31] Desmis commented on #4478
I think, I am sure, language is a big problem in some cases, in french we say "faux amis". That is to say, an expression which make sense in french, is incomprehensible in English or with a different meaning. It is not tomorow a "robot" can translate all the subtlities of a language :)

[2018-05-03 15:35] agriggio commented on #4478
Call me stubborn (I won't be offended), but I still think that this would work much better as a stand-alone tool...

[2018-05-03 15:38] Desmis commented on #4478
That's not possible in Linux if RT is installed system-wide, and it could cause errors in Windows too. IIRC RT requires admin permissions to run in (some versions of) Windows. Requiring admin permissions to run RT should be considered a bug or at least a problem with the design, and so this behavior should not be intentionally prolonged.

[2018-05-03 15:38] Desmis commented on #4478
I don't know what happens with my computer, but it seems crazy...and add lines,...;)

[2018-05-03 15:42] Beep6581 commented on #4478
I would first have to understand (1) when it generates the profile, and (2) what it uses the generated-and-saved profile for - that's not entirely clear to me yet. My initial thoughts are that it should save it either alongside the image (if it's a one-time thing), or to the cache folder (if it's to be reused).

Ok, the word to use is "embed", not "integrate". Even though they can be similar in me

[2018-05-03 15:46] Desmis commented on #4478
OK, in this case, as I see no interest in doing a "stand alone tool" , and even less to maintain it. I proposed to stop here, this branch if there is no solution :)

[2018-05-03 15:47] agriggio commented on #4478
Jacques, are users expected to generate a different custom output profile per image? Or is the expected usage that you generate one (or a few) output profile that suits your needs and then you reuse them?
In the first case, how can a user decide how to generate the profile? (how to pick the gamma, the primaries, etc.)? Are there guidelines? Is this dependent on the contents of the image and/or the

[2018-05-03 15:47] Beep6581 commented on #4478
What happens currently if I want to use "Custom Output Integrate Profile" to embed a custom profile to 1000 images - does the profile get generated 1000 times?

[2018-05-03 15:49] agriggio commented on #4478
Also, please forgive if I may sound negative -- I am just trying to provide my 2 cents of feedback :-)
(unfortunately it's hard to express tone when writing comments on github...)

[2018-05-03 15:52] Desmis commented on #4478
If the "Custom Output Intergate profile" is on "none", no ICC profile is generate , and ICC V4 or V2 is "embeded " in the file TIF / JPG

For my information, how works pp3, this files are write on disk, near TIF or JPG or in cache ?

[2018-05-03 15:53] Beep6581 commented on #4478
@agriggio

@Desmis

Since the tool is already in RT, instead of aborting, let's look at an alternative solution.

So if "Custom Output Intergate profile" is on "none", the profile **is** generated, but not saved to disk as a separate file. Correct?

The problem seems to be that the user should be able to generate a custom ICC profile and then embed it in many images without having to re-generate i

[2018-05-03 15:56] Desmis commented on #4478
Excuse my bad english, but I think I don't understand 1)
For 2) why, with a filechooser, Linux will works and not with others folders ??

[2018-05-03 16:05] Beep6581 commented on #4478
@Desmis

The ICC profiles listed in the "Output Profile" combobox come from two places that I know of:
1. `iccprofiles/output/`
2. The folder set in "Preferences > Color Management > Directory containing color profiles", which in Linux is usually is `/usr/share/color/icc/` and requires root permissions to write to, that's why RT cannot save there.

If the user is forced to manually save the genera

[2018-05-03 16:07] agriggio commented on #4478
@Beep6581 I think what you propose would be ok, yes.

[2018-05-03 16:11] Desmis commented on #4478
Ok, if I understand, I am not sure !
If I put a file chooser - instead of folders as release or or others, it will works ?

Now, there is the problem of the batch mode to solve !

[2018-05-03 16:22] Beep6581 commented on #4478
@Desmis no problem with batch mode, since the output profile must either use a bundled profile or point to an existing file on disk.
e.g.
[code]

[2018-05-03 16:26] Desmis commented on #4478
Ok, but you say
"What happens currently if I want to use "Custom Output Integrate Profile" to embed a custom profile to 1000 images - does the profile get generated 1000 times?"
I must be solved !

I reformulate my question, if I put a filechooser, does that solve the problem - yes or no ? :)

And how works pp3, and in another way "mip" files in locallab, nobody says that does not work ?

[2018-05-03 16:32] Beep6581 commented on #4478
Yes, because the ICC profile generator will be its own separate tool - see point 2 here: https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-386343919
So to use a custom ICC profile, the user must first generate and save the ICC file to disk.

[2018-05-03 16:32] agriggio commented on #4478
if you ask me, no. one solution is to not put this in a pp3 at all -- and I believe this is also what drslony is suggesting. if not, he will correct me :-)

[2018-05-03 16:43] Desmis commented on #4478
Oh I see we don't understand at all. My question is not to put ICC in pp3, but pp3 are write on disk without problems.

Ok, if "YES" SURE - in this case, tomorrow, I will add a filechooser :)

when I tell everyone I'm a bad computer guy, I think you finally believe me. I am a (old) scientist, sociologist, taking pleasure in developing algorithms, but the basics of computing sometimes reveal for me

[2018-05-03 16:53] Beep6581 commented on #4478
A large part of the difficulty making the right choice is in understanding when and why someone would use this tool.

This profile generator can function as an independent tool, independent of any specific photo, but it can also be tuned to a specific photo. Do we treat it as independent or not?

I see two possibilities:
1. Treat it as an independent tool not tied to any specific photo, settings n

[2018-05-03 17:00] Desmis commented on #4478
thank you
Sleep on it :)

[2018-05-03 21:01] gaaned92 commented on #4148
`Folder bug still exists.`
Yes until  mingw-w64-x86_64-glib2 is upgraded to 2.56.2. When?

[2018-05-04 05:59] Desmis commented on #4478
I push a  commit with
* replace "Custom Output Integrated profile" with "Custom Output Embedded Profile"
In french, if I use the google translation : Embedded = intégré, Integrated = intégré

* I don't create a filechooser (complex for GUI and user), but put the file near pp3 (or mip files) are store in "options.cacheBaseDir", thats to say "cache"...I can change that after if need. I I understand,

[2018-05-04 07:13] Desmis opened #4535 "In windows8 the console does not work in release and debug"
Since some days, when I run from msys2

./rawtherapee w

the console does not work in release and debug...
With older compilation (20 days ago) no problem all works fine

with that it is almost impossible to develop a program :)

[2018-05-04 07:27] Desmis commented on #4535
I try with "dev"  - "5d27eea"  - April 28, all works fine

[2018-05-04 07:30] Desmis commented on #4535
I think it is due to commit 483c0ae
GIMP RawTherapee plugin cannot find executable in Windows #4514

Or perhaps no ?? It's probably else where

[2018-05-04 08:37] Desmis commented on #4535
Afer verification and different compilation

In branch "testoutputprofile" all works fine (compilation, dispaly in console)
with
git checkout ccf642b ==> OK
git checkout 5a91377 ==> Ok
git checkout 3ebbdf ==> OK

git checkout 483c0ae ==> Does not work

[2018-05-04 08:41] Beep6581 commented on #4478
@Desmis @agriggio and I discussed this and we feel that this tool would best fit as independent of any specific image.
* It would need to go either into a new main notebook tab (File Browser, Queue, Editor, ICC Generator), or into a new File Browser notebook tab (Filter, Inspect, Batch Edit, Fast Export, ICC Generator). @Hombre57 @Floessie @heckflosse do you have a preference whether it should be

[2018-05-04 08:50] Desmis commented on #4478
@Beep6581

I never said that :  "we feel that this tool would best fit as independent of any specific image."

[2018-05-04 08:51] gaaned92 commented on #4535
It seems to me that the behaviour is now in conformity with the help obtained with `./rawtherapee -h`.

-w suppresse the `Windows` console so there is no effect if run from a msys2 console.

if run from msys2 console
-  ./rawtherapee
 verbose=false: no verbose text displayed in MSYS2 console; RT opens
 verbose = true: verbose text displayed in MSYS2 console. idem with -w (as -w has no effect). RT

[2018-05-04 09:00] Desmis commented on #4535
@gaaned92
sometimes ago, there is a change and with Ingo, he says to me to run Rawtherapee in Msys2 console
with : ./rawtherapee w
It does not work, it is probably normal, but for me, no

I just try in DOS console, and > Rawtherapee  w
It works :)

Thank you

[2018-05-04 09:10] Desmis commented on #4478
Saw the way it takes, I propose - at least for me - to stop the development of this branch, you can do what you want
jacques

[2018-05-04 10:08] agriggio commented on #4478
Jacques, I really don't understand this. Can you please elaborate? What is wrong in having this as an independent tool? It would still be inside RT, only just not specific to any single image. Or do you have reasons to believe it would work better as a tool that operates on individual images? If so, can I ask you to have some patience with me and explain why it is so?

Thanks!

[2018-05-04 10:44] Desmis commented on #4478
I have a lot of patience. Currently, there are - apart from "testoutputprofile" - 4 branches which for 2 of them have been open for 2 1/2 years without any significant update from me for about 1 year, an 2 about 1 year and 5 month.. I am told we will do this just after 5.0 (for the 2 olds) .., then before the end of 2017... but as we say in France "sister Anne do not you see anything coming ?"

Fo

[2018-05-04 11:29] Beep6581 commented on #4478
This is a misunderstanding. [I wrote](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-386539058) that @agriggio and I agreed, and I addressed that message to you.

We are aware of that.
I got involved in this issue to prevent that number from becoming 5, to help get this feature into a form which:
1. works correctly (find and fix bugs),
2. has a UI which is clear to the user (and

[2018-05-04 11:45] heckflosse commented on #4535
@Desmis Jacques, sorry for being late to the discussion.

Can you tell me what does not work when calling `rawtherapee` in msys2 console?

[2018-05-04 11:52] Desmis commented on #4535
In msys2 console with
./rawtherapee w
The system begin, but no console at all :)

In DOS, all works fine

[2018-05-04 12:42] agriggio commented on #4478
@Desmis
Jacques, first of all I sincerely apologize once more if the contents or the tone of my messages were offensive to you. I certainly did not mean that, it's just that sometimes I find it very difficult to express precise technical opinions in an online forum and at the same time convey the right tone to my words -- if we were talking in person I believe it would be easier, but unfortunately

[2018-05-04 12:51] heckflosse commented on #4535
@Desmis Jacques

with this patch you should get your printfs in msys2 console when starting rt from msys2 console.
Does that solve your issue?

[code]

[2018-05-04 13:35] Desmis commented on #4535
I am not at home. I will test soon.
Thank you :)

Le ven. 4 mai 2018 14:51, Ingo Weyrich <notifications@github.com> a écrit :

[2018-05-04 14:53] Desmis commented on #4535
I just test the patch

It does not work !

But no problem, I will use DOS console :)

Thank you

[2018-05-04 15:03] heckflosse commented on #4535
@Desmis Jacques, what do you mean by `it does not work`?
The intention of the patch is **NOT** to open a console, **BUT** showing the output from printf in msys2 console when RT is started from msys2 console, which didn't work correctly before.

[2018-05-04 15:26] Desmis commented on #4535
@heckflosse

Ok now I see, and it works :)

Thank you
jacques

[2018-05-04 16:45] Desmis commented on #4478
@Beep6581
this is not the kind of answer I was waiting for. However, I have no personal resentment against you or anyone else, it is the collective process of the project that is in question (during my professional life I gave training in management, change management, project management, human factors, startegy,..  we are very, very far !!)

 I am not get upset, but tired and weary, I'm no longer

[2018-05-04 18:02] #4535 closed, assigned to nobody

[2018-05-05 02:53] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-05 10:56] Hombre57 commented on #4478
@Desmis No doubt that your training and change management was very efficient and fruitful, however it was most certainly in a capitalist ("survival money" driven) and pyramidal organization (I consider SNCF as such). We're all volunteer here, working on our spare time, so maybe the social and management rules are not the same (and that's why I appreciate spending my time here).

The weakness (or s

[2018-05-05 11:20] Desmis commented on #4478
@Hombre57
Pour ton information, mes activités de consultant - sociologue, ne concernaient pas la SNCF - ou très peu - mais des organismes et entreprises extérieures dont les structures n’avaient rien de verticales. C'est justement le but de ces formations / interventions d'éclairer les personnes sur ce qu'est réellement l'organisation - qui ne se résume pas à une structure, mais je ne vais pas fai

[2018-05-05 13:10] Desmis commented on #4478
Regarding the different branches - they are in very different complexity terms

1. **newlocallab** is complex due to numerous factors, you know - Hombre - very well I think this problematic, and you can directly works on this branch without problem, but I know there are many problem to solves.

2. **waveletnew**, is only complex and difficult, for the part "merge files", I have already proposed to

[2018-05-05 14:04] Hombre57 commented on #4478
@Desmis Je me suis permis d'éditer ton commentaire pour le mettre en forme et en améliorer la lecture, j'avais 2mn à perdre, j'espère que tu ne m'en voudra pas.

Concernant le nom des variables, je ne disais pas que ce n'était toujours pas correct, mais que nous aimerions ne pas avoir à te le demander. Y'a pas mort d'homme non plus, et ce n'est qu'une demande pour nous permettre de mieux comprendr

[2018-05-05 14:28] Desmis commented on #4478
Pas de problèmes.
Merci pour tes commentaires modifications

Le sam. 5 mai 2018 16:04, Jean-Christophe <notifications@github.com> a
écrit :

[2018-05-05 18:16] gaaned92 opened #4536 "Error when building autowblocal and cat02wb for W32"
When building these branches for W32, I get this error:

[code]

It builds for W64

[2018-05-05 18:29] Hombre57 commented on #4478
To go back to the topic, I'll try to see what's possible with the code of this tool to get the best out of it in a usability point of view **only**.

[2018-05-05 22:11] pzemlyan commented on #3569
I uploaded a few raw samples from HERO6, it should be the same as HERO5. https://raw.pixls.us/getfile.php/2556/nice/GoPro%20-%20HERO6%20Black%20-%2016bit%20(4:3).GPR

Also .GPR to .DNG converter is published on GoPro's github: https://github.com/gopro/gpr

[2018-05-05 22:34] heckflosse commented on #3569
@pzemlyan I will have a look at the .GPR to .DNG converter code to get this into RT. But that will take some time.

Ingo

[2018-05-06 06:40] Desmis commented on #4536
@gaaned92
I ignore totaly why :)

[2018-05-06 10:13] Thanatomanic opened #4537 "Resizable histogram"
For some image manipulations it is worthwhile to pay close attention to the histogram. Unfortunately, the current histogram panel is rather limited in size / aspect ratio (procedure is set in `get_preferred_height_for_width_vfunc()` in `histogrampanel.cc`.) It does not seem to be possible to manually set the height of the panel using a stylesheet, so I would like to request to make the histogram r

[2018-05-06 13:26] heckflosse opened #4538 "Using Tone curve type standard sometimes leads to artifacts in preview"
Example:
![grafik](https://user-images.githubusercontent.com/13733487/39673735-d4d2a450-5141-11e8-90b4-e4d31e0a70a5.png)

[2018-05-06 13:43] #4538 closed, assigned to heckflosse

[2018-05-06 15:16] Hombre57 commented on #4532
@Beep6581 @heckflosse Changeset ec2181f should solve this issue.

PS: ... in `hdr-pef` branch.

[2018-05-06 15:16] Hombre57 commented on #4533
@Beep6581 @heckflosse Changeset ec2181f should solve this issue.

PS: ... in `hdr-pef` branch.

[2018-05-06 15:23] Hombre57 commented on #4529
@Floessie Tested and approved, though there's more work necessary compared to previous version of Eclipse, especially adding the include folders and macros. I hope that the cmake devs will update their generator so it can provide ready to use `.project` & `.cproject` files. At least, I can work again on RT or any cloned repo with your method, so thanks again.

Please keep this issue opened.

[2018-05-06 18:20] Desmis commented on #4536
@gaaned92

André
J'ai lu la documentation de MSYS2  qui n'est pas claire
Si je veux développer/ compiler en 32 bits est ce que
a) il faut installer 2 versions, par exemple Mingw64 sur Msys64 et Mingw32 sur Msys32
b) il y a un moyen simple à partir de Mingw64 de compiler en 32 bits

En dehors des ajouts -DCMAKE_C_FLAGS="-mstackrealign" -DCMAKE_CXX_FLAGS="-mstackrealign"

merci

jacques

[2018-05-06 19:35] gaaned92 commented on #4536
- perhaps t@heckflosse @Floessie @agriggio  could help?

- When you install MSYS2, you should get 3 shells: msys2 shell, mingw32 shell and mingw64 shell.
msys2 shell should be used for updating the whole MSYS2.

- To build for 32bit,  first you have to install all required packages with pacman (see rawpedia windows). they are prefixed by mingw-w64-i686.
Second you use the mingw32 shell (NOT mingw6

[2018-05-06 19:52] heckflosse opened #4539 "Fix 'Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.' when selecting `Open with windows default viewer (queue processed) and file is not queue processes (Windows only)"
For windows builds there is a menu in filebrowser to open an image in windows default viewer.
Doing this on a file which is not queue-processed results in a non-modal message dialog and the above mentioned output in console.
Please test on Linux as well

[code]

[2018-05-06 19:55] Beep6581 commented on #4532
Confirmed that 16-/24-/32-bit floating-point HDR DNGs are now detected correctly.

[2018-05-06 19:56] Beep6581 commented on #4533
Confirmed that 16-/24-/32-bit floating-point HDR DNGs are now detected correctly.

[2018-05-06 19:58] #4532 closed, assigned to Hombre57

[2018-05-06 19:58] #4533 closed, assigned to Hombre57

[2018-05-06 20:23] Hombre57 commented on #4539
@heckflosse Build and run fine on Windows.

[2018-05-06 21:09] gaaned92 commented on #4539
I just get that in console

[code]

What I miss to get your message?

[2018-05-06 21:12] Hombre57 commented on #4539
@gaaned92 Those are expected error message, since those files doesn't exist. This patch solve the `Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.` error. We don't have it anymore.

[2018-05-06 21:13] heckflosse commented on #4539
@gaaned92 I got the 'Gtk-Message:.....' when closing RT (because of stdout buffering in gtk I guess)

[2018-05-07 05:36] Floessie commented on #4529
Hey @Hombre57,

I'm glad that this solved the problem for you. The above is my preferred way of attaching Eclipse to any project as I'm dealing with cross-compilation a lot. It's a bit more work, you're right, and I keep my fingers crossed, that the CMake generation method will soon work for you again.

Best,
Flössie

[2018-05-07 06:59] gaaned92 commented on #4539
@heckflosse
W10 : builds ok. GTK-Message suppressed.

[2018-05-07 07:12] Floessie commented on #4536
@gaaned92 Could you try this patch on `autowblocal`?

[code]

Best,
Flössie

[2018-05-07 08:14] gaaned92 commented on #4536
@Floessie  Builds and runs on 32 bits
ok also on 64bits
Thanks

[2018-05-07 08:41] Desmis commented on #4536
@Floessie
Thank you, for this good analyse. It is clearly a "merge" problem. But why it compile in W64

@gaaned92
I will push to commit, one for "autowblocal" and one for "cat02wb"
Thank you to have found this error :)

jacques

[2018-05-07 08:47] Desmis commented on #4536
@gaaned92
The 2 push are done :)

[2018-05-07 08:51] Floessie commented on #4536
@gaaned92 Thanks for testing!

@Desmis De rien. :smile:

The problem is in a part of the code where `__SSE2__` is *not* defined, which isn't the case for x86-64/AMD64. So we don't see it on a 64bit PC-OS like W64 or Linux/amd64. I couldn't even reproduce it on Linux/i386, because RT was configured with SSE2 support.

Best,
Flössie

[2018-05-07 09:49] Desmis commented on #4478
I just did several comparative tests in "batch" mode

1) old "Free gamma" or "Output gamma" which is present in all branches - except of course "testoutputprofile", by comparing the "normal" mode, ie neither "free gamma" is checked, nor "Output gamma" is different from "default", and the mode where "free gamma" or "Output gamma" is selected
This functionnality is here from 5 years ago, and this ca

[2018-05-07 11:12] dpawson opened #4540 "Panasonic GX9 color profile"
https://filebin.net/ktdcj5hptq1x3x1t  daylight image.
I have the data files associated with this image if needed.
Charge: R170112

Tungsten file added - 194

[2018-05-07 11:21] Beep6581 commented on #4540
@dpawson thank you but that shot does not meet the quality requirements. Please follow the shooting instructions at http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target and submit both daylight + tungsten shots.

[2018-05-07 11:24] dpawson commented on #4540
Tungsten added. What else is wrong?
OK, very precise. Will try again later today.

[2018-05-07 12:31] dpawson commented on #4540
Try again
https://filebin.net/ktdcj5hptq1x3x1t

Wolf Faust C1 Din A4, IT8.7
  Supporting files available

[2018-05-07 12:35] Beep6581 opened #4542 "camconst.json typo?"
I'm trying to figure out how Panasonic black levels work for #4540 and found this:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L1640
I suppose the "15" is just a random typo? The entry is too old to find who wrote it, history ends on commit d5ca351c2080bc18f401ff9993e09d0289352dde in 2015.

[2018-05-07 12:59] Beep6581 commented on #4540
@dpawson take 2 is much better, but it seems the shot marked as tungsten is actually also daylight.

The shot is now evenly lit, not distorted, fills not more and not less than ~1/3rd of the frame, has a non-reflective background, in-focus, low ISO, good aperture. All good.

Remaining areas of improvement:
1. I could increase exposure by +1.3EV without clipping. Would be perfect if you could brack

[2018-05-07 13:18] Beep6581 commented on #4540
`camconst.json` so far, white levels need to be improved:
[code]

[2018-05-07 13:22] dpawson commented on #4540
tungsten.0 and tungsten.1 (+1ev) uploaded, same location.

[2018-05-07 13:26] Beep6581 commented on #4540
@dpawson in addition to the color target shots, we also need to find out where the sensor clips so that clipped white stays white instead of getting a magenta cast. Maybe this data can be copied from some other Panasonic model - @iliasg is the expert.

If you would like to go ahead and take the required shots to measure the white levels, the instructions are here:
http://rawpedia.rawtherapee.com/A

[2018-05-07 13:48] Beep6581 commented on #4540
@dpawson there is too much glare in the tungsten shot (over 1.5 stops) and a clear light fall-off from the top-right corner to the bottom-left:
![screenshot_20180507_154836](https://user-images.githubusercontent.com/5844619/39705250-1ff94f84-520e-11e8-8a96-306d5a6afcfc.png)

[2018-05-07 13:51] heckflosse commented on #4542
ping @iliasg

[2018-05-07 13:54] dpawson commented on #4540
"white frame"? What is meant by that?
Under daylight and tungsten?

The 'fall off' is due to my avoiding glare. Suggestions please how to set up to avoid fall-off
and glare?

Sorry, you asked for location. 52.5695° N, 0.2405° W - mid UK

[2018-05-07 14:04] Beep6581 commented on #4540
The light used for white-frames is irrelevant, as long as the entire frame is clipped white.

See the link.

and glare?

First, position yourself and the light source in such a way that there is no glare. Then, if due to this the light fall-off becomes too strong, move the light source further away but keep the same angle.
I usually have the lamp 2 meters behind me, at an angle of 10-30 degrees.

[2018-05-07 14:15] dpawson commented on #4540
I was unable to find a definition of 'white' in the link? Can I use the reverse of the ref card?

10-30 degrees gives me glare, hence the movement. I'll try, but no promises.
 IMHO daylight would be easier than a tiny tungsten. I'll wait until tomorrow.

[2018-05-07 14:24] Beep6581 commented on #4540
I was referring to this link:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
But let's leave that for now until the target shots are done. Maybe in the meanwhile @iliasg might decide that the white-frames are necessary.

What do you mean?

[2018-05-07 14:43] dpawson commented on #4540
Note the white to black line at the bottom of the target?

On 7 May 2018 at 15:24, Beep6581 <notifications@github.com> wrote:

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-07 14:50] dpawson commented on #4540
On 7 May 2018 at 15:24, Beep6581 <notifications@github.com> wrote:

wider? Less reflections, less degradation.

Regards Dave​

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-07 16:31] dpawson commented on #4540
Two sets of full range of wb uploaded. wb1 to wb16, first half is inc wb, second decreasing.
I suspect first half may not be sufficiently illuminated?
   Taken under Tungsten light.

[2018-05-07 16:56] iliasg commented on #4542
@Beep6581 Hi .. I came back home yesterday so in the next days I'll be able to update camcost.json with many new models. A lot of work is near completion so I think I will be ready for the weekend ..

It was me who pushed Ingo for this solution some years ago which is same as how D.Coffin implemented in Dcraw.c

The black level of Panasonic has two parts
BlackLevelRed/Green/Blue and
BlackLevel1/2/

[2018-05-07 17:25] iliasg commented on #4540
@dpawson, because GX9 looks a bit different from other Panasonics .. in order to have better support in RT ..
Please, if possible, provide two sets of white frames at ALL ISO settings available as described in 1) and 2) at http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats .. "Needed Photos"

An easy way is to make your full display area bright white, then shoot with a lens which h

[2018-05-07 17:28] gaaned92 commented on #4536
I think it can be closed

[2018-05-07 17:28] #4536 closed, assigned to nobody

[2018-05-07 17:32] dpawson commented on #4540
You have two sets there iliasg? Either describe what you want more clearly
or expect something else.

http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats needs a good overhaul if you want 'amateurs' to help you with new cameras.

[2018-05-07 17:52] Beep6581 commented on #4540
@dpawson the article seems clear to me, but if something is unclear to you, you're welcome to list specific improvements and to point out specific issues.

Quoting from the article:

How can I make that more clear?

Here is an example of what is needed:
https://filebin.net/hz77wksih4jhwc1n/DSC07209.zip?t=nf3kyyeu

Turn [Long Shutter Noise Reduction](http://eng-ca.faq.panasonic.com/app/answers/deta

[2018-05-07 17:57] Beep6581 commented on #4542
Excellent!

Confirmed. ExifTool-10.72 prints those values using for example the Panasonic DMC-GX7 RW2 converted to DNG:
https://filebin.net/7llyuoukc4lzzk97/panasonic_lumix_dmc_gx7_15.dng?t=6s3kan43
[code]
ExifTool-10.94 does not:
[code]

I can't check with the latest ExifTool, because it's still hosted on SourceForge and SF is of course currently out of order... :roll_eyes:

For going forward, it

[2018-05-07 18:09] dpawson commented on #4540
I will try and re-write the b/w section from my viewpoint (knowing
nothing of all this).

IMHO - leave all post processing to another section.
List what to do as a sequence.
Colour, White, Black.
Prep, exposure constraints, cautions.
(e.g. is it possible to test for light drop off top L to bottom R?)
This to stop an enthusiast having to repeat everything as I am.

Your assumption for example

Each

[2018-05-07 19:02] Floessie commented on #4540
Yes, please.

Completely.

Take your time.

Only when there's daylight.

As stated.

No.

You can also use a red, a green, and a blue lamp at once.

Not necessarily.

As needed.

Yes.

It's all white.

You're asking funny questions. The two sentences you quoted above have all the answers (maybe except for the defocusing).

Don't know how @Beep6581 is viewing this, but I think anyone who's ever tak

[2018-05-07 20:00] iliasg commented on #4542
Hmm .. interesting that Adobe use +15 as offset .. we'll need to take a look at some black frames for as many as possible Panasonic models .. :( .. let's start with gx9 ..

[2018-05-07 20:39] dpawson commented on #4540
On 7 May 2018 at 20:02, Floessie <notifications@github.com> wrote:What if
my light isn't very bright?

​Maybe they do for you. Not for me. Not knowing the destination, I must
question each step of the journey?​

​If it would (and was clear to all) then I would agree.

As I say, you view the instructions having done the procedure and
understand it?
I see it as instructions to be followed blindly, h

[2018-05-07 23:38] TooWaBoo commented on #4148
New update
 `mingw-w64-x86_64-binutils-2.30-3`
Folder bug still exists.

[2018-05-08 07:12] Desmis commented on #4478
@Hombre57
I found a bug when I replace variables by more readable variables.
When I replace "Free" by "Custom"  for "Tone response curve", I have not make this change in "Iccstore.cc"
This leads to a bug and very bad results if you select "none" in Generate ICC profile
There are 2 changes to do :
* line 1045 and line 1626 replace "Free" by "Custom"
Can I push this little change, or must I wait you

[2018-05-08 09:39] Beep6581 commented on #4478
I [wrote](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-386362647):

This profile generator can function as an independent tool, independent of any specific photo, but it can also be tuned to a specific photo. Do we treat it as independent or not?

@agriggio @Floessie @heckflosse @Hombre57 through email exchanges with @Desmis I just learned something which very much surprised me

[2018-05-08 09:51] Desmis commented on #4478
I can comment these screen shots
If you used instead of a generate ICCV2 as **output profile,** the profile sRGB present in system - in Windows his name is "**sRGB Color Space profile**", you have **the same result (bad)** as the first screenshot, load a V2 profile from disk
I have already show these differences 5 years ago :)

jacques

[2018-05-08 10:33] agriggio commented on #4478
@Beep6581 thanks for clarifying this -- indeed it was not clear at all to me. I agree with your assessment, we should try to investigate why this happens. Is this something app/CMS specific, or does it happen all the time? Could this be a problem with the tool used to view the images, or can this difference in quality be reproduced using different viewers? Are there instructions for checking this?

[2018-05-08 10:35] agriggio commented on #4478
Sorry, I just realized the problem in likely on RT's side, not the viewer side.
So, let me modify my question: is this a problem with LCMS? Shouldn't we try to contact Marti Maria and ask him about this?

[2018-05-08 10:52] Desmis commented on #4478
I don't know, but this problem is the same as 5 years ago, even output process has been (slightly) change - not by me !
Is it a problem with LCMS ? I don't know ! I just constaed these differences 5 yeras ago :)

[2018-05-08 11:31] agriggio commented on #4478
Well my suggestion remains the same then -- let's ask the LCMS guy!

[2018-05-08 11:37] Desmis commented on #4478
For me no problem :)

[2018-05-08 12:21] Hombre57 commented on #2357
I tried to implement 16-bit float support for TIFF image, but despite that I set sampleformat to `SAMPLEFORMAT_IEEEFP` and sample bit depth to 16, libtiff wrote 16-bit interger data in the output file.

At least we can read/write 32 bit float with RT, I'd concentrate on integrating **OpenEXR** (see #1895), which derives from TIFF format, support 16-bit float data and many more things, and is an in

[2018-05-08 12:30] Beep6581 commented on #2357
@Hombre57 have you seen this?

https://www.awaresystems.be/imaging/tiff/tifftags/sampleformat.html
https://www.awaresystems.be/imaging/tiff/tifftags/bitspersample.html

[2018-05-08 13:05] Hombre57 commented on #2357
@Beep6581 I know, read my previous comment again. [Here is example files](https://filebin.net/ni7tykrpks7lzmqy) where `sampleformat` tag doesn't seem correspond to the real data type, which seem to be 16-bit integer. Could you confirm that ?

I tried to read those files in RT but values are only correctly handle when I'm forcing RT to read 16-bit integer. So I'm a bite lost here.

[2018-05-08 13:10] Hombre57 commented on #4478
@Desmis

You can push them.

[2018-05-08 13:13] Desmis commented on #4478
Ok thank you :)

2018-05-08 15:10 GMT+02:00 Jean-Christophe <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966

[2018-05-08 13:13] iliasg commented on #4478
@Desmis @agriggio @Beep6581
Is n't the reason for misbehaving of the current RT output icc's (as Elle detected) the substandard way LCMS handles the primaries and the TRCs stored in icc (fixed point hex). Elle built her "well behaving" profiles for this reason .. I wonder how their histogrammar looks ?

Are we sure that Histogrammar does a proper decoding of icc data ?.

As I recall LCMS author re

[2018-05-08 13:25] Desmis commented on #4478
@Hombre57
I just psuh a commit :)

@iliasg
I tested Elle profile, they give the same "bad" result :)

For Histogrammar , it is a good question, but why it works well for
* ICC embedded v2
* ICC embedded v4
* ICC V4 load from  disk
The only exception is ICC V2 load from disk
I examine the profiles with  Exiftool;
a) extract from the file where "embedded" is present ==> profil "emb.icc"
b) directly

[2018-05-08 13:25] Hombre57 commented on #4478
If the problem is the creation time of the profile, I had in mind to cache e.g. 4 profiles (the same way the Inspector cache works), as it's highly likely that one will use the same working/output profile for a whole batch of files, right?

We'll only have to compare the parameters of that tool (the profile creation part), and if one already exist in the cache, reuse it, otherwise delete the first

[2018-05-08 13:34] Desmis commented on #4478
@Hombre57
I am not sure to all understand, but yes if you can detect and use a cache, it may be a good solution, for not generate ICCv4 - perhaps can be just put a tooltip not recommending this operation with ICCv4

Of course this assumes to keep the principal of the current "embedded" profile for "none" or ICCv2
But I don't know if Marti Maria want or not to modify his code, or say us what to do

[2018-05-08 14:01] Desmis commented on #4478
I make another test
* I extracted - with Exiftool- the file "embedded v2"==> "emb.icc" - in the TIF that give good result with Histogrammar
* I put this fille "emb.icc" in iccprofiles/output
* then I run the same NEF file, and use in Output profile "emb.icc"

I examin the new TIF with Histogrammar => "bad" result
Of course we can say, it is the fault of Histogrammar, but it is very unlikely  :)

[2018-05-08 14:05] iliasg commented on #4478
@Desmis Jacques, this sounds like LCMS misbehaviour .. we'd better call the author to give his opinion

BTW .. is there any chance that the calculated TRC is not only restricted as gamma-slope but also include log or even something more complex .. I have in mind the upcoming standards as Perceptual Quantizer and Hybrid Log-gamma
https://en.wikipedia.org/wiki/Hybrid_Log-Gamma
https://www.smpte.org/

[2018-05-08 14:26] Desmis commented on #4478
@iliasg

The TRC are "classical" and calculate by me, with a software derivated from Dcraw "calcgamma"
We have a linear part, then a pow part.

In LCMS it is write sometig as

 GammaTRC[0] = GammaTRC[1] = GammaTRC[2] = cmsBuildParametricToneCurve(nullptr, Z, Parameters);
With "Z" = 4 => you passed 5 parameters calculated by "calcgamma"  for example for gam=2.4 and slope=12.92
            ga[0] = 2

[2018-05-08 14:30] Desmis commented on #4478
@iliasg  @agriggio
My english is soo bad, I can not make myself understood by you - see the example of "integrate" and "embedded"
So, I do not see myself contacting Marti Maria  :)
this seems to me obvious.
jacques

[2018-05-08 14:38] Desmis commented on #4478
If you read in a v4 profile generate by Rawtherapee you can see these parameters
For example with a sRGB TRC
With ICC Profile Inspector
Curve Tag - rTRC  ==> gamma=2.4 a=0.9479 b=0.05214 c=0.07739 d=0.03929 e=0. f=0.

[2018-05-08 15:09] agriggio commented on #4478
@Desmis Jacques we can work together on a message for Marti Maria if you want. I don't claim my English is perfect but I'll do what I can...

[2018-05-08 15:11] Desmis commented on #4478
@agriggio

Ok, you can begin, and I will correct (if I undrestand), and add comments if necessary :)

[2018-05-08 15:16] Desmis commented on #4478
I think more and more than perhaps this misbehaviour is due to those parameters deducted from
ga[5] = 0.0;
ga[6] = 0.0;

* they are take into account in v4 - embedded and ICCv4 on disk
* they are take into account in v2 embedded - and not in ICCv2 on disk ? but why ?

And perhaps it's not that !

[2018-05-08 15:25] agriggio commented on #4478
Jacques, I'll have a look at the code and try to draft something, but it can take me a few days -- I am traveling for work...

[2018-05-08 15:28] Desmis commented on #4478
@agriggio

No problem at all :)

I just change to try (re try my work 5 years ago) and suppress the 2 last parameters ga5, ga6...The result with "embedded" is good - no fish bone histogram

[2018-05-08 18:21] Hombre57 commented on #4478
@Desmis @agriggio I'll do my changes in another branch then. Please avoid or tell me if you're updating the GUI part.

[2018-05-08 19:13] Beep6581 commented on #2357
@Hombre57 I created a 16-bit floating-point image using GIMP and it matched your sample images.

Info about your images from various tools:

ExifTool:
[code]
ImageMagick:
[code]
TiffInfo:
[code]

I uploaded two more images to your bin.

So it looks to me like your two images are valid 16-bit floating-point images.

[2018-05-08 19:16] Beep6581 commented on #2357
Except that your images look corrupt, and make RT `dev` `5.4-271-g`fde0dccd crash.

![screenshot_20180508_211558](https://user-images.githubusercontent.com/5844619/39777862-0fbab3b8-5305-11e8-9a6d-516d2743d37d.png)

[2018-05-08 19:22] Beep6581 commented on #4478
We really should get a second opinion regarding the saved images' histograms, so we can exclude a bug in Histogrammar.

[2018-05-08 20:35] heckflosse commented on #4478
About the differences in histograms of saved images, as a first step we can count the number of different colours in the images. That should gave at least a hint. I can do that, if someone provides two tiffs.

[2018-05-08 21:39] Hombre57 commented on #2357
@Beep6581 Yes, the tag says it's 16-bit float data, however libtiff don't know how to save this data and wrote 16-bit integer. Apply this patch that force recognition of 16-bit float image (looking by the tags) at 16-bit integer :

[code]

RT show the correct image then this prove that libtiff doesn't save what I ask it to save.

[2018-05-09 06:06] Desmis commented on #4478
I will post soon

 4 TIF with obvioulsly the same Raw (NEF..not too big!) - for the nEF - all settings default
a) _ASC4145embed-sRGB.TIF  : " Custom Output..." checked, TRC = Custom g=2.4 s=12.92310 iilu=Default  generate ICC profile =ICCv2  ==> this configuration generate a) the TIF with "embedded v2 profile" generate ICCV2
b)_ASC4145-sRGB.TIF: "Custom output unchecked", Output profile ICCv2 gene

[2018-05-09 06:37] Desmis commented on #4478
Here the link for the 4 TIF
https://filebin.net/hpxnqyw8wsmosj5u

[2018-05-09 07:04] Desmis commented on #4478
An now the NEF, and 5 screen shot from Histogrammar
https://filebin.net/nymepw6vk9x3rvaw

If you compare
a) "sRGB-1-v4.jpg" (TIF generate with IIC v4) and "embed-1-v4.jpg" (TIF with embedded v4 profile")
Settings histogrammar : Zoom X = 1/32x   Zoom Y = 16x
* No visible differences in this "part" of the histogram : no fish bones
* very very small diffrences if you look the "Stats" in top-left abou

[2018-05-09 09:13] Desmis commented on #4478
I did some comparisons with between _ASC4145embed-sRGB.tif and _ASC4145-sRGB.tif
* AstiffTagviewer : no differences
* PhotoME - specialy ICC : no differences

PhotoShop CS  with Layers comparison differences: there are differences (often small) but for quasi all pixels, and strong in some cases I think where we are near of gamut.
Always with Phtoshop, if I compare _ASC4145embed-sRGB.tif with _ASCC

[2018-05-09 11:09] heckflosse commented on #4478
I compared '_ASC4145-sRGB.tif' with '_ASC4145embed-sRGB.tif'
using an extreme brightness curve on the absolute difference between the files:

![grafik](https://user-images.githubusercontent.com/13733487/39811654-c291c466-5389-11e8-9eed-f139b495f8fc.png)

[2018-05-09 11:45] heckflosse commented on #2357
@Hombre57 I guess we need to generate the 16bit float. libtiff just writes what you give it.
If the format is the same as in 16bit float dng, then this function maybe useful:
https://github.com/jcelaya/hdrmerge/blob/0333ba1266ca87e08a1ba2c19dfd3015175ed655/src/DngFloatWriter.cpp#L403

[2018-05-09 12:14] heckflosse commented on #2357
@Hombre57 I will see what I can do.

[2018-05-09 13:30] heckflosse commented on #2357
Can someone please try this tif in latest gimp. There is still something wrong, but it should read it.
https://filebin.net/b657wkmku7fw21bo/amsterdam-6.tif?t=d21edjf8

[2018-05-09 13:33] heckflosse commented on #2357
Here's the patch which I used to produce the tiff from above:

[code]

As I don't have a running version of latest gimp I let @Hombre57 complete the work ;-)

[2018-05-09 15:09] Beep6581 commented on #2357
I don't have GIMP-2.10, but it looks fine in GIMP-2.9.8 and in G'MIC.

[2018-05-09 16:29] gaaned92 commented on #2357
Looks fine in GIMP-2.10, no warning message

[2018-05-09 17:11] Beep6581 commented on #4478
I was very curious about what the histograms look like when viewed in some other program, preferably open-source. Thanks to @dtschump this can easily be done using G'MIC:
[code]

I uploaded PNG histograms to the original filebin:
https://filebin.net/hpxnqyw8wsmosj5u

[2018-05-09 20:29] #4539 closed, assigned to heckflosse

[2018-05-09 20:42] iliasg commented on #4478
@Desmis Jacques, look at the stats histogrammar provides ..
In your jpeg screenshots, I see different populations at Black and Burned levels between the sRGB_v4 vs embed_sRGB ..
Also different are the "Black/Sat thersholds" at bottom right .. (I don't know if this is a control affecting the Black/Burned stats reported).

By not mentioning anything about the complex sRGB TRC I suspect histogrammar

[2018-05-09 21:48] iliasg commented on #4478
@Desmis Jacques, maybe our friend Clinton Ingram found something interesting (and distracting I'd say :-1 ) about LCMS ..
https://photosauce.net/blog/post/making-a-minimal-srgb-icc-profile-part-4-final-results
(see down at "The Reference CMS(s)" chapter .. I read ..

[2018-05-09 23:03] wtanmdt commented on #4204
Sorry that I delete the snapshot since I do not have the permission from Alex to publish it before testing.

[2018-05-10 00:24] wtanmdt commented on #4204
One thing to note:
The raw converted resolution is 5430 x 3845.
If I shoot JPG format, the resolution is up to 7648 x 5408.

And the color profile needs improvement since the color target shot was not utilized.

[2018-05-10 06:21] Desmis commented on #4478
The purpose of this comparison is not to measure the capabilities of Histogrammar or the exacts values of some pixels- as Elle Stone pointed out, it is a remarkable tool that should be available in source code especially to clarify some points of operation.

But to compare the results all things being equal - which is the case in the comparison I made.

Sure, you can realize the cascade of transfo

[2018-05-10 07:56] aferrero2707 opened #4543 "Build error with current dev branch"
My automated AppImage builds are failing for the `dev` branch, with the following error:

[code]

The full build log is accessible here: https://api.travis-ci.org/v3/job/377019747/log.txt

[2018-05-10 08:28] JeanLucCoulon commented on #4543
The definition of openDefaultViewer is conditionaly set (#ifdef Win32) but this reference is not.

[2018-05-10 08:44] #4543 closed, assigned to nobody

[2018-05-10 08:49] Beep6581 commented on #4204
I tried to find the LibRaw commit which introduces this change, but it's not in the repo:
https://github.com/LibRaw/LibRaw/commits/master

I found [this post](https://www.libraw.org/comment/4059#comment-4059) from Alex from 2015:

[2018-05-10 09:06] Beep6581 commented on #4540
@dpawson how are the tungsten shots of the color target coming along?
To avoid confusion, this issue is only about shots of the color target. We can continue the white-frame and black-frame discussion in a new issue.

[2018-05-10 09:39] Beep6581 opened #4544 "NIKON D50 neutral image has whack white balance"
Applying (Neutral) to the NIKON D50 NEF/DNG results in a completely failed white balance:
![screenshot_20180510_113652](https://user-images.githubusercontent.com/5844619/39863297-8ade414e-5446-11e8-8c1c-c4370d8b7f4b.png)

When I manually pick the WB, the thumb does not match the main preview:
![screenshot_20180510_113721](https://user-images.githubusercontent.com/5844619/39863318-96141868-5446-11e

[2018-05-10 10:20] aferrero2707 commented on #4543
Fix confirmed.

[2018-05-10 10:44] heckflosse commented on #4543
Thanks for reporting and fixing. Mea culpa

[2018-05-10 11:56] dpawson commented on #4540
On 10 May 2018 at 10:06, Beep6581 <notifications@github.com> wrote:

​Done and posted ​

Covers black to white - bottom row. I think the data gives true colour
values for that range, as well as the colours?

Dave​

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-10 12:13] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-10 12:32] iliasg commented on #4544
I have an old D50 sample which is rendered correctly !! ?? (uploaded in the above filebin folder ..)

Something goes wrong with the cc24 file because both Dcraw.cc and DNGconverter interprete wrongly the  AsShotWB ( 0.031 0.032 1)
- exiftool reports WB_RGGBLevels = 544 256 256 350 which should give 0.4758 1 0.7314 (RGB) AsShotWB

Some Nikon Utilities give such damaged NEFs when the user pass them

[2018-05-10 12:48] wtanmdt commented on #4204
@Beep6581

Alex told me that RawDigger is difficult to support this sensor.

[2018-05-10 13:12] heckflosse opened #4545 "Freeze or crash using the AWB temperature bias adjuster"
To reproduce:
1) open amsterdam.pef
2) apply neutral profile
3) set white balance to automatic
4) move the AWB temperature bias adjuster like a maniac

=>

either a freeze without console output
or a freeze with this console output
[code]
or a segfault with this console output
[code]

Version information:
[code]

[2018-05-10 13:33] heckflosse commented on #4545
Maybe related: When moving the adjuster around zero I sometimes get this
![grafik](https://user-images.githubusercontent.com/13733487/39872167-72760ff8-5467-11e8-98c6-45efc0a3f64f.png)

[2018-05-10 13:43] dpawson commented on #4540
From the target I bought. If any of these files are of use, please say.

R170112.eps and R170112.hist provide the spectral data of the target.
  The files can be used with the X-Rite ColorShop V2.x and
  ColorShop X software. A full functional but time limited demo version
  of the software can be downloaded from the X-Rite site at
  http://www.x-rite.com. Note that the ColorShop file only contain

[2018-05-10 16:23] Floessie commented on #4545
The relevant threads (non-debug build):

[code]

HTH,
Flössie

[2018-05-10 16:49] Floessie commented on #4545
@heckflosse Ingo, this fixes it for me:

[code]

Best,
Flössie

[2018-05-10 17:16] Beep6581 commented on #4540
@dpawson

Where? It's difficult making sense of your replies, as things get jumbled when you reply by email.

[2018-05-10 17:28] Beep6581 commented on #4544
Ping @Floessie , as the shot is from him. @Floessie how were the shots downloaded from the memory card?

@iliasg I confirm that both your files open fine.

[2018-05-10 18:16] heckflosse commented on #4545
@Floessie Fix confirmed. :+1: for commit. Thank you!

[2018-05-10 18:18] Floessie commented on #4544
@Beep6581 @iliasg

Hm, I took the SD card from the camera, put it in my SD card reader and used Thunar to copy the files. I guess those Nikon Utilities are made for Windows, which I don't have.

Have you compared the firmware versions?

[2018-05-10 18:19] Floessie commented on #4545
Okay, I'll push...

[2018-05-10 18:23] #4545 closed, assigned to nobody

[2018-05-10 20:05] Hombre57 commented on #2357
@heckflosse Here is a patch that _should_ work but crash RT miserably in `Imagefloat::computeHistogramAutoWB`. The image data values goes beyond 1.0, something like 1.12xx, but not the value you'll find in the debugger. I don't understand what happens.

[32-bit-output-cli-03.txt](https://github.com/Beep6581/RawTherapee/files/1993068/32-bit-output-cli-03.txt)

[2018-05-10 22:20] Hombre57 commented on #2357
Patch above committed to `32b-tiff-output-cli` branch. Loading 16-bit float image still crash...

[2018-05-10 22:54] heckflosse commented on #2357
On IRC with @Hombre57 we agreed to work togehter on solving the issue of loading 16-bit float tif files.
Stay tuned...

Ingo

[2018-05-11 06:30] dpawson commented on #4540
On 10 May 2018 at 18:16, Beep6581 <notifications@github.com> wrote:

​Same place you said to use?

https://filebin.net/ktdcj5hptq1x3x1t

Dave​

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-11 08:02] strump opened #4546 "Switching between images goes through blank space"
[code]

OS: Windows 10, v.1709, x64, Russian
RawTherapee: http://rawtherapee.com/releases_head/windows/RawTherapee_5.4_WinVista_64.zip

### Steps to reproduce:*

1. Open any image in RawTherapee 5.4;
2. Switch to the next image in list (hitting F4 or double clicking).

**Actual result:** current image is hidden for a split second. Next image is displayed.
**Expected result:** Next image is display

[2018-05-11 10:00] Floessie commented on #4546
Hi @strump,

Thanks for the detailed bug report. I'm afraid, this is a duplicate of #4476. But gladly, this has already been fixed in #4523. :smile:

Best,
Flössie

[2018-05-11 10:00] #4546 closed, assigned to nobody

[2018-05-11 10:02] Floessie commented on #4476
Fixed in #4523.

[2018-05-11 10:02] #4476 closed, assigned to nobody

[2018-05-11 11:44] Desmis commented on #4478
I have found not why, but how when we used "Output profile" the result is less good.

If you add this code in iplab2rgb.cc just after  the line
        oprof = ICCStore::getInstance()->getProfile(icm.output);

Code add
[code]
the values are set to those I use for sRGBtrc g=2.4 s=12.92
 parameters => 2.4 - 0.947858 - 0.052142 - 0.077399 - 0.039293 - 0. -0.

And in this case, the result is good :)
I

[2018-05-11 14:49] MacTerrassa opened #4547 "5.4 crash on macOS 10.11.6"
Version 5.4 downloaded from <http://www.rawtherapee.com/shared/builds/mac/RawTherapee_OSX_10.9_64_5.4.zip> crash on my iMac.
The log of crash is:

[code]

The machine is a iMac 20 inch, 2007. 2GHz Intel Core 2 Duo, with 6 GB RAM, ATI Radeon HD 2400 XT 128 MB

Previous version 5,3, I have not used it almost then still I am knowing the program, but it open and it does not give any problem me. At lea

[2018-05-11 15:05] Hombre57 commented on #4478
@Desmis Je vais ajouter un patch à testoutputprofile avec des noms de paramètres renommés (j'ai déjà commencé). Peux-tu attendre 1h ou 2 avant de coder ton patch ?

[2018-05-11 16:33] Desmis commented on #4478
pas de problème :)

2018-05-11 17:05 GMT+02:00 Jean-Christophe <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966

[2018-05-11 17:54] klimentyev opened #4548 "HaldCLUT doesn't work"
In RawTherapee 5.3 and 5.4 on Linux (Calculate Linux 64 bit based on Gentoo), film simulation doesn't work. It was correct in v 4.x. I choose a film from the list, but nothing happens in "live" mode. After processing nothing happens too...
P.S. For last AppImage 5.4, the behavior is the same.

[2018-05-11 18:14] heckflosse commented on #4548
Works fine on Windows7/64

[2018-05-11 19:11] klimentyev commented on #4548
What additional information can I provide? I choose different film and have no effect. The path to HaldCLUT is correct, the list of film is correct too.

[2018-05-11 19:36] Benitoite commented on #4547
Thanks for reporting.  What is your system language and region set to?   I will try to reproduce on 10.11.6 later and try to see what’s going on with lcms.

[2018-05-11 19:37] heckflosse commented on #4548
Just to exclude it: Is the tool enabled?
![grafik](https://user-images.githubusercontent.com/13733487/39943520-7070b03a-5563-11e8-8ed7-0653441ea89f.png)

[2018-05-11 19:41] klimentyev commented on #4548
Thank you very much! I switched on it after your comment.

[2018-05-11 19:41] #4548 closed, assigned to nobody

[2018-05-12 08:05] falket opened #4549 "Rawpedia missing tools"
I just checked rawpedia and it lacks info about hdr tone mapping and local contrast.

Since they are great and interesting features it would be cool to have a good explanation of the various sliders!

Thank you!

[2018-05-12 08:14] Beep6581 commented on #4547
@MacTerrassa lots of missing info, see http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-05-12 08:17] Beep6581 commented on #4476
Thank you!

[2018-05-12 08:43] Beep6581 commented on #4549
I'm slowly working on that.
Duplicate of #4243 and of #4245

[2018-05-12 08:43] #4549 closed, assigned to nobody

[2018-05-12 09:05] Beep6581 opened #4550 "Panasonic DC-GX9 white and black levels"
White and black levels for the Panasonic DC-GX9 to be handled here.
Forked from https://github.com/Beep6581/RawTherapee/issues/4540#issuecomment-387063973

[2018-05-12 09:17] Beep6581 commented on #4540
@dpawson once more, the shot labeled "tungsten" is actually daylight:
https://filebin.net/ktdcj5hptq1x3x1t/Panasonic.GX9.tungsten.rw2?t=tsc2hsaf

Please upload a shot of the target taken using a tungsten incandescent light bulb, with the same framing as your latest shots but making sure that there is no glare, and making sure that it was actually taken using a tungsten light bulb. You can upload t

[2018-05-12 10:13] Beep6581 commented on #4544
@Floessie

I don't know how to do that, haven't seen the right tag in the metadata. Thunar is safe though.

RT is not alone, @atorger 's LumaRiver Profile Designer v1.0.4 also has a problem opening these raw files:
![screenshot_20180512_121237](https://user-images.githubusercontent.com/5844619/39956296-c8d24d22-55dd-11e8-8a76-b50c8c5c806b.png)

[2018-05-12 10:37] Desmis commented on #4478
I have done all the changes, and now there are no differences between "embedded" and "load from disk" ICCv2 profile.
It cost some times (about some milliseconds...), and does not prevent to call Marti Maria. Because it is not "normal" to call the same process...while the TIFF are identical. Probably it's internal interpretation of CmsToneCurve (which seems complex  !)

Hombre helps me for reading

[2018-05-12 10:50] Hombre57 commented on #4478
@Desmis You can commit your patch, I have to restart mine from scratch, I messed things up because I've done some changes before your email answer. It's fast to refactor variable name with Eclipse, so no problem for me.

[edit] ... and on a side note, please set your editor to use 4 spaces instead of tabs.

[2018-05-12 11:02] Desmis commented on #4478
@Hombre57

Ce sera demain, car cet après midi je profite du beau temps pour aller me baigner :)

[2018-05-12 12:16] Floessie commented on #4544
@Beep6581

Oh, I expected it to be in the EXIFs. Strange. If I'm not mistaken the display said "1.00". Very early in other words. Quickly searching the web reveals there were never downloadable firmware updates for the D50, though.

[2018-05-12 12:49] agriggio commented on #4478
ping @mm2 (the relevant discussion about LCMS usage starts at https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-387345465)

[2018-05-12 14:15] Benitoite commented on #4547
Indeed this is not reproducible on 10.11.6 without more specific info.

[2018-05-12 14:30] mm2 commented on #4478
Hi, that's Marti. Make sure what you are embedding is a V2 profile, having seen #4478 it seems to me is a V4. Otherwise you are only seeing quantification coming from V2 file format, which is a good reason to avoid it. V4 have parametric curves, which are much better than the tables  V2 is forced to use. LCMS keeps the best possible internal representation for a profile until you force a save to a

[2018-05-12 16:17] Desmis commented on #4478
I just push a change that solves - only for ICCv2 profile build by Rawtherapee - the problem of difference of quality with "embedded" and also ICCv4

Now, the quality "analyzed with Histogrammar" is the same with ICCv2 from disk, ICCv2 embedded, and ICCv4

Of course, ICCv2 has not the same "potentiel" as ICCv4 :)

I will make tomorrow a text that explains how I did it

jacques

but I have not chan