[2018-10-11 20:57] gaaned92 commented on #4326
`but it will give me more excuses to blame the user's wrong choice of parameters for the bad results ;-)`

 I fear I irritated you. Sorry. As I don't understand the algorithm, I am perhaps asking something impossible! :confused:

Forgive me if  I insist. If you can get a depth map as the one below and use it as a mask to blend the corrected image with original image, there should not be any modifi

[2018-10-11 21:04] agriggio commented on #4326
@gaaned92 no, don't worry, everything is good. I'm not upset, just a bit frustrated because I've spent the last few days tweaking parameters and implementing various ideas, without much success. I feel like I need a break from this for a while, because I'm not being productive anymore. I hope someone else might give the paper a read (it's not hard), have a look at the code, and come up with some s

[2018-10-11 21:22] heckflosse commented on #4859
That sounds like a fallout from my latest optimizations. I will take a look

[2018-10-11 22:24] #4859 closed, assigned to heckflosse

[2018-10-12 00:16] sguyader commented on #4326
@agriggio thanks for your work. I understand your frustrations. I wasn't complaining when I showed the results I got. I was just reporting, in case you could find an "easy" solution. But I agree that it may not be the best tool and that you should not loose time and energy for marginal improvement.
I still think that with your implementation, at strength 50-70 it improves hazy images, we just have

[2018-10-12 05:24] agriggio commented on #4326
fwiw, also darktable will produce artifacts if you push it too far. that said, I still have a couple of things to try before giving up. they are shots in the dark, but don't require too much work, so let's see...

[2018-10-12 08:02] Floessie commented on #4858
It's obivous that there's a intermediate state where the backbuffer is corrupted. This doesn't lead to a crash here on Linux, though.

[2018-10-12 08:20] framctr opened #4860 "Add Flatpak package"
[https://github.com/flathub/flathub/wiki/App-Submission](https://github.com/flathub/flathub/wiki/App-Submission)

Actually Flatpak has [better support](https://kamikazow.wordpress.com/2018/06/08/adoption-of-flatpak-vs-snap-2018-edition/) in major distros then Snap.

[2018-10-12 08:43] Floessie commented on #4860
Apart from the fact that this is not really a duty for our development team, I [just read](http://flatkill.org/) that flatpack has some problems.

[2018-10-12 09:18] Beep6581 commented on #4860
Additionally, we already have AppImages.

[2018-10-12 10:16] Beep6581 opened #4861 "Auto-activate tool when activating color picker"
When activating a curve pipette, it would be nice if RT automatically activated the tool.

[2018-10-12 10:18] Beep6581 commented on #4859
@heckflosse thank you, I confirm the fix.

[2018-10-12 10:48] Thanatomanic commented on #4861
Related and more general I think: #4744

[2018-10-12 10:49] Thanatomanic commented on #4858
@Floessie I have seen distorted thumbnails appearing too, always as a precursor to a crash

[2018-10-12 14:14] agriggio commented on #4326
I've just pushed some more tweaks. If you have the chance, let me know if they improve the situation.

[2018-10-12 16:29] RawConvert commented on #4851
Ok, well in this fairly extreme case, the curve does indeed go wild, though I'm wondering if you could have put the two blocker points closer together (might have helped, not certain).

[2018-10-12 16:59] Benitoite opened #4862 "mac clang 3.9.1 error on initialize variable-sized array"
I am receiving this error with clang 3.9.1:
[code]
Introduced in @heckflosse https://github.com/Beep6581/RawTherapee/commit/bf13654a67320a73ef778b047c5f44fcb3f6927e#diff-230d9b623490c3e055ae81276bf45dd2R808

@heckflosse Had a solution for this before also:
https://github.com/Beep6581/RawTherapee/commit/b762804b809889e8e1fd81a244820d2e3d27cdd8

[2018-10-12 18:26] Hombre57 commented on #4803
Still working on this, just to let you know. I managed to compile my poo (you'll understand soon), I hope something valuable can emerge out of it.

[2018-10-12 18:54] #4862 closed, assigned to heckflosse

[2018-10-12 19:21] Benitoite commented on #4862
Thx @Floessie fix compiles!

[2018-10-12 19:33] Floessie commented on #4862
@Benitoite Yeah, tested it with Clang 3.9.1 under Linux. :smile:

[2018-10-12 19:35] sguyader commented on #4326
@agriggio Yeas Alberto, it clearly improves the situation. Now I don't see the loss of contrast I mentioned in the earlier version. Playing with the depth and detail helps fine tuning according to the image. Great work Alberto!

[2018-10-12 21:15] Lowkus opened #4863 "Batch Edit Fails"
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarati

[2018-10-12 21:46] heckflosse commented on #4863
nice :+1:

[2018-10-13 07:20] Thanatomanic commented on #4858
Here's a more complete backtrace using a debug build:
[log.txt](https://github.com/Beep6581/RawTherapee/files/2475192/log.txt)

[2018-10-13 08:00] Thanatomanic opened #4864 "Auto-crop in Lens/Geometry does not work properly for rotations"
If I rotate an image and press "Auto-Crop" the expected behavior is that the cropbox never extends outside the image. However, it does.

![image](https://user-images.githubusercontent.com/6567747/46902979-c8aa7800-cece-11e8-80c8-a726bbfae664.png)

[2018-10-13 08:14] Thanatomanic opened #4865 "Crop should be scaled when using Auto-fill in Lens / Geometry"
This taps into a very old and unresolved issue #198. I assume that whenever a crop is used, this is to focus on a specific region of interest of an image. Therefore, when I have an active crop, and toggle "Auto-fill" in the Lens / Geometry group, I would expect the crop to scale up/down to make sure my region of interest is preserved. Currently, the crop stays the same with respect to the availabl

[2018-10-13 08:27] Thanatomanic commented on #3970
I think this can be closed. Cannot reproduce on Win 10 with latest dev build.

[2018-10-13 08:48] Thanatomanic commented on #3494
Cannot reproduce in latest build using Gtk+ 3.22.2

[2018-10-13 08:59] TooWaBoo commented on #4782
@heckflosse
This issue is fixed and can be closed.

[2018-10-13 11:50] Benitoite commented on #4326
Nice work @agriggio
Here's a look at Soderasen_1.hdr.dng using the tool as compiled from branch `dehaze`:

Neutral
![neutral](https://user-images.githubusercontent.com/17919239/46904879-4dca6880-cea0-11e8-8f0e-5de2ee29ac8b.jpg)

W/Default Haze Removal
![default](https://user-images.githubusercontent.com/17919239/46904907-7ce0da00-cea0-11e8-9fe5-df3a683e32da.jpg)

********

Just the automatched ton

[2018-10-13 12:05] Benitoite commented on #4326
Here's a look at Amsterdam.pef:

Neutral
![neutral](https://user-images.githubusercontent.com/17919239/46905109-b830d800-cea3-11e8-99ed-9bd24d8a0d6f.jpg)

Default Haze Removal
![default](https://user-images.githubusercontent.com/17919239/46905121-f4643880-cea3-11e8-9a09-f9a6ea32d6cf.jpg)

********

Neutral
![neutral2](https://user-images.githubusercontent.com/17919239/46905185-f2e74000-cea4-11e8-8

[2018-10-13 18:47] heckflosse commented on #3970
I'm just updating my msys2. When that's completed I will report...

[2018-10-14 09:36] heckflosse commented on #4148
I just updated msys2 toolchain and reverted lensfun and libjpegturbo.
Then I made a fresh build of latest dev code in a clean folder.
Unfortunately rt does not run anymore now.
I get this error in console:

[code]

running rt in gdb I get this:
[code]

Any ideas how to solve this?

Edit: after downgrading to
[code]
it works

[2018-10-14 10:01] heckflosse commented on #4782
Fix confirmed

[2018-10-14 10:01] #4782 closed, assigned to nobody

[2018-10-14 10:04] heckflosse commented on #3970
Still does not work on my Win7

Before full screen (good):
![grafik](https://user-images.githubusercontent.com/13733487/46915238-14315480-cfa9-11e8-8bef-35bc32c5e158.png)

After enabling full screen (good):
![grafik](https://user-images.githubusercontent.com/13733487/46915245-1eebe980-cfa9-11e8-9be7-d28d9021838f.png)

After disabling fullscreen (bad):
![grafik](https://user-images.githubuserconten

[2018-10-14 10:04] TooWaBoo commented on #4148
@heckflosse
Look at my comment 16 days ago. ;-)

[2018-10-14 16:16] gaaned92 commented on #3970
@heckflosse what version of GTK3 do you use?

[2018-10-14 16:37] gaaned92 commented on #4148
@heckflosse  As you just reinstalled MSYS2, could you provide an up to date list of packages to install?

[2018-10-14 17:03] heckflosse commented on #4148
@gaaned92 I did not reinstall. I did pacman -Syuu

[2018-10-14 17:05] heckflosse commented on #3970
@gaaned92
gtk3-3.22.30

[2018-10-14 17:32] gaaned92 commented on #3970
@heckflosse  my dev builds are ok on W10. Did you try one on W7?

[2018-10-14 17:34] gaaned92 commented on #4148
Ah! I misunderstood! too bad !

[2018-10-14 17:42] heckflosse commented on #3970
@gaaned92

As I wrote above `Still does not work on my Win7` ;-)

[2018-10-14 17:48] heckflosse commented on #3970
@gaaned92 Using yor dev build on Win7:

just started (no fullscreen)
![grafik](https://user-images.githubusercontent.com/13733487/46920132-fc2df500-cfe9-11e8-9f2a-d60b3cffef89.png)

enabled fullscreen
![grafik](https://user-images.githubusercontent.com/13733487/46920135-08b24d80-cfea-11e8-9f0b-0b2b96f9c7ab.png)

disabled fullscreen
![grafik](https://user-images.githubusercontent.com/13733487/46920

[2018-10-14 20:52] heckflosse opened #4866 "Auto-calculate dual-demosaic contrast threshold"
When using dual demosaic, finding a good contrast threshold is not automated.
Currently the user has to change the threshold and verify the result until a good threshold is found.
This takes a lot of time because for each change the image has to be demosaiced again.

I'm just working on an auto-calculation of dual-demosaic contrast threshold to find a good value.
First results are promising, as is

[2018-10-15 09:22] ff2000 commented on #4864
For  me it seems to work perfectly fine.
I only can force such borders if I change Demosaic -> Border **after** pushing Auto-Crop.
This is with 16MP RAWs from my Panasonic G81, tested both landscape and portrait orientation.
(I am currently on the shadow-highlight-branch, just in case it matters, and I can't rebuild dev due to memory restrictions...)

[2018-10-15 09:36] Thanatomanic commented on #4864
I see. I think the auto-crop should account for any raw border that has been set.

[2018-10-15 09:41] ff2000 commented on #4864
As I understand it the Auto-Crop button only does a calculation once it is pressed and ignores subsequent changes that might result in overlap of the crop frame.
Changing this button to a toggle button or checkbox IMO would make sense, so the crop is recalculated.
I never liked the auto fill option as it upscales the image.
Hmm... Probably a combobox would be the better approach? Select either fil

[2018-10-15 09:57] Beep6581 commented on #4863
Hi @Lowkus

I cannot reproduce the problem.

Please write the steps to reproduce with more details, and include the following info:
* A screenshot of Preferences > Image Processing
* A screenshot of Preferences > Dynamic Profile Rules
* A screenshot of Preferences > Batch Processing
* Which specific tool and sliders you used.

A video recording would be best.
https://getsharex.com/

[2018-10-15 11:53] Beep6581 commented on #3494
Still reproducible in `5.4-946-g`81dd3dc3d using `gtk+-3.22.30` (I had trouble getting the vertical scrollbar to appear at all when it should, but once it appeared, it was in the wrong place)
![screenshot_20181015_135206](https://user-images.githubusercontent.com/5844619/46949380-8c6b4900-d081-11e8-95fb-06c9994ef6d2.png)

[2018-10-15 19:03] Beep6581 opened #4868 "32-bit int and float and 16-bit float TIFF files do not appear in File Browser"
32-bit floating-point and integer and 16-bit floating-point files (all uncompressed) do not appear in the File Browser, and nothing in the console.

Samples:
https://filebin.net/ibf01swz2pxw3avu

[code]

@Hombre57 mentioned that 32-bit files should be supported as input, so tagging this as a bug.

[2018-10-15 19:10] heckflosse commented on #4868
Confirmed for uncompressed files

[2018-10-15 19:22] Beep6581 commented on #4868
The alpha channel caused the file to be skipped.

Could RT handle files with an alpha channel, just ignore it? They are extremely common, in fact now that GIMP-2.10 is available we have the option of automatically adding an alpha channel when opening an image.

[2018-10-15 20:50] Hombre57 commented on #4868
@Beep6581 @heckflosse Fix is in the `gimp-hdr-files` branch. I've added support (i.e. ignoring) of alpha channel for LogLuv data format too, untested.

[2018-10-15 20:51] TooWaBoo commented on #4625
@heckflosse
Looks like this is fixed. Issue can be closed

[2018-10-15 21:11] Beep6581 commented on #4868
Fix confirmed in 16-bit float and int and 32-bit float (LogLuv not tested), thank you @Hombre57

[2018-10-15 21:21] #4868 closed, assigned to nobody

[2018-10-15 22:13] mandree opened #4869 ""rawtherapee-cli -" crash (uncaught out-of-range exception) in command line parser"
I have compiled RawTherapee 8a18300a7 on Fedora 28 amd64.

Running `rawtherapee -` crashes the command line parser. Console output:
[code]

Relevant part of backtrace:
[code]

[2018-10-15 22:25] heckflosse commented on #4869
Confirmed.

[2018-10-15 22:38] #4869 closed, assigned to heckflosse

[2018-10-15 22:51] Barugon commented on #4171
Is there any reason that it can't be done for x-trans sensors too?

[2018-10-15 23:35] mandree commented on #4869
We also need to fix `rawtherapee-cli -` - sorry for not making clear that both were affected:

[code]

[2018-10-16 08:27] Benitoite commented on #4869
`rawtherapee -` and `rawtherapee-cli -` fixed on Mac build after https://github.com/Beep6581/RawTherapee/commit/601ef585e175f5061dbf6fc8ec72b2519c371468

[2018-10-16 14:51] Kakupakat commented on #4083
I would like to second this.
In programs such as GIMP and Inkscape, the entire image is moved by pressing the mouse wheel and dragging. In RawTherapee, by press the left mouse button and dragging. In the interest of standardization, would it be possible to copy the behavior of GIMP and Inkscape in RawTherapee?
In RawTherapee movement while dragging is accelerated, therefore it would be good to int

[2018-10-16 21:11] Barugon commented on #3923
I tried this in RawTherapee-dev-5.4-948-g8a18300.AppImage and when I scroll to the bottom of the thumbnails, it always jumps back up at least one row as soon as I remove my fingers from the touchpad (using two finger, natural scrolling). Also the sensitivity is way too high. Barely any movement causes it to scroll multiple pages.

[2018-10-16 21:24] agriggio commented on #4326
I've just pushed a changeset with significant simplifications and tweaks to the algorithm. I think now it's reasonably useable. Let me know if you have comments!

[2018-10-16 21:24] heckflosse commented on #4866
Before I create the branch I will tell you what it does:

1) it uses the demosaiced output of the low contrast demosaicer (vng4 for bayer and fast for xtrans) to determine the most flat 80x80 px region of the demosaiced raw file
2) then it uses that region to calculate the contrast threshold

That works very very well if a flat region exists. In my tests the calculated threshold is off by +-1 at m

[2018-10-16 21:26] agriggio commented on #4866
:+1: , the less parameters to tweak the better :-)

[2018-10-16 22:01] Thanatomanic commented on #4866
Agreed with @agriggio here. Just call it "Ingo's Magic Dual Demosaic" and feel proud of it :smile:

[2018-10-16 22:04] Thanatomanic commented on #3923
Let's leave this thread closed, because other things have changed in the meanwhile. Please see #4663

[2018-10-16 22:22] heckflosse commented on #4866
I just created a branch which calculates the dual demosaic contrast threshold when a dual demosaicer is used and logs the value in console output. It does not use the value yet, You have to look up the value from console and use it in gui. Feel free to test.

[2018-10-17 08:29] ff2000 commented on #4866
I gave it a try. And it seems to work quite well with my 16 MP mFT RAWs. :+1:
For some higher-ISO-shots I first thought the threshold was too high as it also rendered my main subject with VNG4 instead of AMAZE. But after playing with NR and sharpening a bit it actually didn't really affect detail but resulted in an overall cleaner image.
Another observation: I use amaze+vng4 since quite a while. A

[2018-10-17 08:52] cuniek commented on #4866
I gave it a brief test. I was worried that some VNG4 artifacts may be introduced on fine patterns if Your algorithm was setting the treshold too high, but it seems to be quite conservative. I've noticed no problems. Good work.

Still I am a fan of keeping the slider, in case of some rare problems (or for creative purposes).

[2018-10-17 09:30] Beep6581 commented on #4866
When the automatic detection fails because the image is overall too sharp or too noisy, that's a good automatic indication that demosaicing should switch from dual to single because there is nothing to gain from dual on that image and it would just waste time.

[2018-10-17 10:02] cuniek commented on #4866
That is true only if all the photographers have the same taste and goal and agree on how the final image should look like. Isn't it?

As I wrote I was surprised to see how well the auto settings works. At the same time there were situations where I had to use green equilibration tool to get rid of some artifacts, altough my camera has a typical bayer color filter (the same green pixels across the

[2018-10-17 10:23] heckflosse commented on #4866
I guess you had enabled raw ca-correction before but not when starting from neutral profile.

[2018-10-17 10:54] ff2000 commented on #4866
@heckflosse Yes, seems you are right. Toggling Auto CA Correction increments/decrements threshold by 1.

[2018-10-17 12:35] sguyader commented on #4326
@agriggio Alberto, I don't know what you changed, but the results are really awesome now! Almost no halos!
There's just one strange thing, when I try it on one of @gaaned92 's images (WZ4A7192.CR2 from
 https://keybase.pub/gaaned92/haze) it doesn't do anything anymore (it used to do something in the previous version of the tool). The depth mask is all black. Can you test on your machine to see if

[2018-10-17 12:44] Beep6581 opened #4871 "TP_GAMMA_OUTPUT in Preferences > Batch Processing"
Preferences > Batch Processing shows an entry "TP_GAMMA_OUTPUT"

[2018-10-17 13:58] agriggio commented on #4326
@sguyader thanks for testing. It should work now

[2018-10-17 15:34] sguyader commented on #4866
I just tested the branch on X-trans files, works great, very useful (I didn't really know how to find the best threshold value).

[2018-10-17 16:50] Beep6581 commented on #3558
`5.4-959-g`009c1082f

[2018-10-17 18:06] Beep6581 opened #4873 "Clicking thumbs and switching tabs very slow"
I deleted my `options` file and the `cache`, then compiled and ran `5.4-959-g`009c1082f

Switching tabs when I start RT is instant, but clicking thumbs or switching tabs takes about a second once I select a thumb.

Here's a video:
https://filebin.net/e5nn147lq268xmyc/vid1-2018-10-17_20.00.51.mp4?t=immwchw6

[code]
`gtk+-3.22.30`

[2018-10-17 18:30] Beep6581 commented on #4873
Just tried in `5.4-957-g`7388a9a5e and it's fine there, so it was something in PR #4857 which caused this.
@Floessie can you reproduce, and is there any other info I can provide?

[2018-10-17 18:49] Beep6581 commented on #4873
I just compiled `5.4-961-g`a7f64a53a and can no longer reproduce...
Will close this issue tomorrow if I still can't reproduce.

[2018-10-17 19:04] heckflosse commented on #4866
Thanks for testing @cuniek @ff2000 @sguyader :smile:

There seems to be a consensus that the auto calculation mostly works fine.
Though I also had cases (very high ISO or overall sharp images) where the calculation was wrong.
For this cases we need a fallback to the more contrasty demosaicer to avoid artifacts caused by the low contrast demosaicer working on high ISO/overall Sharp images.

There a

[2018-10-17 19:11] agriggio commented on #4866
3. let the user handle this "by hand". why is this not an option? how is this different from e.g. using amaze on very noisy images? (not to discourage you, by all means if you have a good idea go for it, but IMHO a manual intervention is totally acceptable in this case)

[2018-10-17 19:15] heckflosse commented on #4866
@agriggio The difference is, that it may fail not only on very noisy images, but also on low-iso images which don't have a flat region. Of course, there's no reason to dual-demosaic those images, but when applying dual-demosaic in batch for a bunch of low-iso images, a fallback would be better than using the dual-demosaic

[2018-10-17 20:48] heckflosse commented on #4866
@agriggio Alberto, I'm still with you about eliminating the contrast threshold adjuster for dual demosaic!

[2018-10-17 22:07] gaaned92 commented on #4326
@agriggio
That's now really better! impressive improvement with awesome result.
The depth mask is significantly different from previous version and seems now coherent with the perception of foregroud/background.
same remark as @sguyader  for WZ4A7192.CR2. The depth mask is black thus no correction. Perhaps it is normal with this photo.
Could you briefly decribe what you did?
Waiting for commit.

[2018-10-17 23:27] wtanmdt commented on #4204
@Beep6581
Just wanted to let you know that LibRaw Release 0.19.0 has supported this RAW file as found in dcraw_common.cpp

[2018-10-18 04:45] ff2000 commented on #4873
I also observed some weird behaviour since that change:
Scrolling in the File Browser is wonky.
Sometimes scrolling down with the mouse will scroll the view upwards. I thought twice I spotted a pattern but that wasn't true.
// edit: made an error when branching. Need to recompile once again which will unfortunately take quite some time... Sorry for the noise!
// edit 2: reverted 2125f42 and the pr

[2018-10-18 05:36] agriggio commented on #4326
@gaaned92 when did you test? I pushed a fix for that corner case after @sguyader's report, now also the above pic should be corrected (though the effect is still subtle).

[2018-10-18 06:50] agriggio opened #4874 ""processing profile -> reset to default" and "processing profile -> clear" seem broken"
The above functions from the film strip contextual menu seem to be broken. Nothing happens. I suspect this is a side-effect of the new optimizations to avoid reprocessing thumbnails. Since "reset to default" is currently the only way to force the re-application of a dynamic profile, I'll mark this as urgent.
Ping @heckflosse

[2018-10-18 07:05] gaaned92 commented on #4326
I used:

[code]

- applying neutral and after dehaze, mask is black
- if I apply HR with exposure/highlight compression, dehaze works.
So it is also ok for this photo.

[2018-10-18 07:21] Floessie commented on #4873
@Beep6581 @ff2000 I know this big change looks scary at first, but the changes are about making it harder to do something stupid. Thus it should theoretically contain less errors than before. But of course there can be new regressions that I introduced. That said, please keep on testing the new code. I'll be back on Monday and will try to sort things out.

Best,
Flössie

[2018-10-18 07:56] Beep6581 commented on #4873
When I ran into this problem I tried rebooting and could still reproduce after rebooting several times.

I stopped being able to reproduce once I recompiled. Several reboots later and with a web browser and VirtualBox running, I still cannot reproduce, so closing.

[2018-10-18 07:56] #4873 closed, assigned to nobody

[2018-10-18 09:14] heckflosse commented on #4874
I will have a look

[2018-10-18 09:41] #4874 closed, assigned to heckflosse

[2018-10-18 10:06] agriggio commented on #4874
Thanks for the quick fix! :+1:

[2018-10-18 11:40] Thanatomanic opened #4875 "dcraw.cc compiler warnings"
When I try to build RT on Win10 using an up to date MSYS2, I was used to getting the following message:
[code]

However, recently (unsure as to when exactly), two more warnings started popping up.
[code]

Seems pretty harmless, but I guess it would be nicer if it didn't happen.

[2018-10-18 14:08] TooWaBoo commented on #4148
New update
[code]

[2018-10-18 15:25] TooWaBoo commented on #4875
I don't get these two more warnings. Did you do a clean compilation?

[2018-10-18 15:28] Thanatomanic commented on #4875
Forgot to mention that this only happens when I make a `debug` build (or `relwithdeb`)

[2018-10-18 15:53] danwalmsley opened #4878 "Building on Ubuntu 18:04 works but cannot open any files"
I managed to build the dev branch on 18:04 and run it.

However when I try to browse to a folder with images in it, none are shown.

The version i installed with apt-get install rawtherapee works btw.

Any ideas what could be the problem? Thanks

[2018-10-18 16:02] Beep6581 commented on #4878
@danwalmsley you haven't provided any useful information.
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-10-18 16:10] danwalmsley commented on #4878
1) dev branch
2)
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic

Step 1) build
Step 2) run rawtherapee
Step 3) locate in the folder browser a folder containing image files. (our file attached)
[card.zip](https://github.com/Beep6581/RawTherapee/files/2492688/card.zip)
Step 4) see no files shown in the folder browser.

![screenshot from 2018-10-18 17-09-33](ht

[2018-10-18 16:12] danwalmsley commented on #4878
again installing official build, it works,

but when I build myself it doesnt, I also tried some other tagged versions and they dont work either.

not sure what other information I can provide?

[2018-10-18 16:13] Thanatomanic commented on #4878
I can at least verify that your file can be opened in my own dev build.

[2018-10-18 17:15] danwalmsley commented on #4878
Is there a log or something I can provide, could it be a missing dependency wrong verision library, btw there are no exceptions or error messages printed out to console either.

[2018-10-18 18:39] Beep6581 commented on #4878
@danwalmsley try
[code]

Then ensure that Preferences > Parsed Extensions includes your file types.

[2018-10-18 18:40] Beep6581 commented on #4878
User support is via the forum.

[2018-10-18 18:40] #4878 closed, assigned to nobody

[2018-10-18 19:46] Benitoite commented on #4326
Nice work @agriggio
Here's a look at Soderasen_1.hdr.dng using the tool as compiled from branch `dehaze`, comparison between old and new codes:

Neutral
![neutral](https://user-images.githubusercontent.com/17919239/46904879-4dca6880-cea0-11e8-8f0e-5de2ee29ac8b.jpg)

W/Old Default Haze Removal
![default](https://user-images.githubusercontent.com/17919239/46904907-7ce0da00-cea0-11e8-9fe5-df3a683e32d

[2018-10-18 19:53] Benitoite commented on #4326
Here's a look at Amsterdam.pef:

Neutral
![neutral](https://user-images.githubusercontent.com/17919239/46905109-b830d800-cea3-11e8-99ed-9bd24d8a0d6f.jpg)

Old Default Haze Removal
![default](https://user-images.githubusercontent.com/17919239/46905121-f4643880-cea3-11e8-9a09-f9a6ea32d6cf.jpg)

New Default Haze Removal 5933964
![screen shot 2018-10-18 at 12 48 08 pm](https://user-images.githubuserco

[2018-10-18 20:15] heckflosse commented on #4866
I improved the detection a bit:

If there is no flat 80x80 region with <=1 variance now an additional pass is made which checks 40x40 regions. That leads to an improvement if there is no large flat area. Still the threshold is only spit out to stdout. You have to apply it yourself. But that's indented currently.

[2018-10-19 06:45] Desmis commented on #4871
fixed with commit 726990

[2018-10-19 08:25] Beep6581 commented on #4871
For reference, the commit:
https://github.com/Beep6581/RawTherapee/commit/72699902a3f8064aee1fd1c2fbaae8a19f9368b2

Ah! Thank you @Desmis :)

[2018-10-19 08:25] #4871 closed, assigned to nobody

[2018-10-19 12:01] danwalmsley commented on #4878
The rm command fixed the issue, thank you for your excellent developer support.

[2018-10-19 12:35] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-harfbuzz-2.0.0-1`

[2018-10-19 15:07] heckflosse commented on #4866
I thought again about whether we still need the threshold adjuster when auto threshold is available.

Reasons to keep it:

1) You may want to use the same threshold for all images of a stitch.
2) When there are no flat regions in the image, the auto calculated threshold will be wrong.
3) You may want to set the value manually because you don't like the auto calculated value.

Reasons to remove it:

[2018-10-19 15:45] sguyader commented on #4866
Agreed, I just stitched an image today and I was glad to have the slider to give the same threshold to all the image.

[2018-10-19 16:28] heckflosse commented on #4866
In case the auto calculations leads to a wrong value (that's detectable at runtime if the variance is larger than a value I still have to determine), we need a fallback.

Possibilities:

1) fall back to first demosaicer
2) fall back to second demosaicer
3) use value from adjuster as fallback value
4) use value from adjuster as upper limit for the auto calculated value

I added 4. to the list of po

[2018-10-19 19:35] agriggio opened #4880 "Nikon Z7 initial camconst entry"
Colour matrix from the Adobe DNG converter 11.0, and PDAF lines info from Bill Claff:

[code]
The PDAF info can be used to fix the banding affecting shadows of the Z7 under some circumstances -- RT is currently the only tool that can do that autmatically (more info [here](https://www.dpreview.com/forums/post/61814192))

[2018-10-19 20:29] #4880 closed, assigned to nobody

[2018-10-19 21:56] heckflosse commented on #4880
I added a `Camera Support` Label to available labels and assigned it to the issue

[2018-10-20 06:50] Desmis commented on #4866
@heckflosse
I just tested and results are very good
And I think choice 4 is good :)
jacques

[2018-10-20 11:09] Beep6581 commented on #4880
Hi @heckflosse
The intention behind the already-existing "[raw](https://github.com/Beep6581/RawTherapee/issues?q=is%3Aopen+is%3Aissue+label%3Araw)" label is to apply to issues related to [support for raw formats](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) - dcraw, camconst, etc. Do we need a new label?

[2018-10-20 11:48] heckflosse commented on #4880
@Beep6581 I thought the "raw" label was for issues related to raw processing. My bad.

[2018-10-20 11:59] SaturnusDJ opened #4881 "Add undo steps for changing the same parameter multiple times"
Let's say you are trying to find the ideal tone curve...
You create a certain curve and start perfecting it...
One moment you decide you want to undo the last little adjustment.

Well, when pressing ctrl + z, **all** of the parameter changes will be undone.

Simpler example:
Exposure:
Starting from 0,00.
Moving to 0,20.
Moving to 0,40.
Moving to 0,65.
Executing ctrl + z / undo.
Expected result: ba

[2018-10-20 20:38] thirtythreeforty opened #4882 "Crash when stopping output queue"
I get a crash (SIGABRT) when I have a series of images in the output queue, and flip the big switch in the top left to OFF.  It seems RT finishes its current image, hangs for a few seconds, then crashes.

Steps:
1. Put several images to the output queue.  I am using raws from a Fuji X-T10.  The profile does not seem to make much difference.
2. Go to the Queue tab and flip the switch to ON.
3. Wait

[2018-10-20 20:46] thirtythreeforty commented on #4882
It looks like GTK code is being called from a separate thread.  I am not all that familiar with GTK, but with most GUI toolkits I am familiar with, that is usually disallowed.

[2018-10-20 21:00] thirtythreeforty commented on #4882
Simple patch which seems to fix the issue is as follows.  This is my first time touching RT code so it may not be the best place to stick the lock.  But it works for me:

[code]

[2018-10-20 21:34] heckflosse commented on #4882
I confirm the crash. Didn't test your patch, but will do that tomorrow. Thanks for reporting and providing a patch. Very much appreciated :+1:

[2018-10-21 14:25] ff2000 commented on #4784
re GTK_SMOOTH_SCROLL:
I often get a delta of 0.0 which results (in thumbbrowserbase) in the view scrolling up instead of down.
I am on Linux (Gentoo) with gtk+-3.24.1.

[2018-10-21 16:32] TooWaBoo commented on #4148
New update
[code]

[2018-10-21 18:22] heckflosse commented on #4866
I just pushed a new version for dual demosaic auto contrast threshold.

If auto threshold is enabled, it calculates the threshold and uses the value of the adjuster as an upper limit for the the auto-calculated value. The used value is shown above the adjuster value.

If auto threshold is disabled, it uses the value of the adjuster as contrast threshold.

ui is still a bit ugly, and, as usual, I s

[2018-10-21 20:03] Thanatomanic opened #4883 "Zoom to 1:1 does not update the view"
This has been happening recently. Whenever I work in 'fit crop' mode, or otherwise zoomed out and then go to 1:1 zoom, the image zooms but stays pixelated. So the processing pipe isn't run?
When I pan the image, it does get updated.

Side-note: this is now the 600th active issue. Hurray? 😉

[2018-10-21 20:24] heckflosse commented on #4883
Sounds like a fallout from my recent optimizations. Though I can not reproduce here.

[2018-10-21 22:14] heckflosse commented on #4882
@thirtythreeforty Tested. Works fine. Shall I commit your patch or do you want to open a pull request?

[2018-10-21 23:44] TooWaBoo commented on #4883
I can't reproduce it either.

[2018-10-22 05:40] Floessie commented on #4882
While this is a good catch and a quick fix, isn't the mechanism behind `GThreadLock` deprecated?

[2018-10-22 06:06] thirtythreeforty commented on #4882
Feel free to commit it. I'm just glad to have it fixed, I don't need my name in the commit history for such an easy patch.  Thanks!

[2018-10-22 06:52] Desmis commented on #4866
@heckflosse
Ingo
I tested this new version.
For me, the result and also the GUI is good. I like the calculate value of contrast threshold
Perhaps auto threshold must be by default to enable ?

Good work

Jacques

[2018-10-22 07:23] Desmis commented on #4866
@heckflosse
Ingo
I tested this new version
For me, algorithm and GUI are good :)
I like the value calculated shown above the adjuster value

Perhaps, "auto threshold" must be enabled by default

Jacques

oh, I suppose something wrong on my computer...My first message was not displayed ???

[2018-10-22 09:11] Beep6581 commented on #4866
Hey

I haven't had a chance to test this yet, so I'm just going by what is written here. If auto-threshold (AT) uses the value of the adjuster as the upper limit, that means the user can unknowingly break the auto-detection if they set the adjuster to some random value before running auto-detection. Knowing this will require reading the documentation, and I was under the impression that the purpos

[2018-10-22 09:55] heckflosse commented on #4882
@Floessie Afaik you're right. But shouldn't we apply this quick fix nevertheless?

[2018-10-22 10:30] heckflosse commented on #4866
@Beep6581

The upper limit is an attempt to solve the cases where there is no flat area in the image, which leads to a too large AT value.
Usually an upper limit can be set per camera and ISO. That can be done with dynamic profiles.
For example I would set the upper limit for D700 ISO200 to 15 to avoid loss of details when there is no (or too small) flat region in the image.
I see your point about

[2018-10-22 12:24] agriggio commented on #4866
Hi,
My two cents -- keeping in mind that I also haven't tested this yet.

:+1: to this, with the following (maybe too simplistic?) motivation: dual demosaic is about extracting the max detail possible while preserving smoothness in uniform areas, right? If so, high ISO/high noise shots have neither to begin with...

[2018-10-22 12:25] heckflosse commented on #4866
With last commit I switched to solution 1. (fallback to more detailed demosaicer if no flat region was found).
This was possible by improving the detection of flat regions.

[2018-10-22 12:40] heckflosse commented on #4866
@agriggio

exactly

[2018-10-22 13:01] Desmis commented on #4866
@heckflosse
It seems to me obvious (??) that dual-demosaic is for image with low iso (or with less noise)
And so I think "auto" mode should be prefered.... in most cases where there are flat areas (sky...)

[2018-10-22 13:23] Beep6581 commented on #4866
I tried to write a comment a few hours ago, and it was also eaten by Microsoft.

[2018-10-22 13:23] heckflosse commented on #4866
@Desmis Jacques, "auto" mode is default for new images (which don't have a pp3 file). For images with "old" pp3 files I set it to off for backwards compatibility.

[2018-10-22 13:26] Beep6581 commented on #4866
Err, weird, I just replied to @Desmis about Microsoft also eating my previous comment, and when I hit the green "Comment" button GitHub now showed my previous comment from a few hours ago, but ate this most-recent comment...

Heads-up that if weird things happen in GitHub, it's not your browser.

[2018-10-22 13:42] Desmis commented on #4866
@heckflosse
Ingo
OK thank you :)

[2018-10-22 13:43] Thanatomanic commented on #4866
There have been server problems: https://status.github.com/messages

[2018-10-22 14:00] heckflosse opened #4886 "Batch edit is broken"
I bisected. 009c108 broke it.
ping @Floessie

[2018-10-22 14:08] heckflosse commented on #4866
I need some help from more experienced gui developers to beautify this part:

![grafik](https://user-images.githubusercontent.com/13733487/47297184-b0480500-d614-11e8-89ac-0ef33435025b.png)

[2018-10-22 14:38] thirtythreeforty commented on #4882
I'd agree the quick fix should be applied to not block 5.5.  But I'd also be interested in helping eliminate GThreadLock throughout the codebase, since [it is in fact deprecated](https://developer.gnome.org/gdk3/stable/gdk3-Threads.html#gdk-threads-enter) with no real replacement.

[2018-10-22 15:53] Thanatomanic commented on #4883
Here's an example of what happens: https://filebin.net/2lx13ph0si57dalv
I also notice that when I have gone to 1:1 the cursor behaves strangly, as if there is some hidden element blocking input.

[2018-10-22 15:54] Thanatomanic commented on #4883
FWIW:
[code]

[2018-10-22 16:40] TooWaBoo commented on #4883
I did a clean compilation. Can you test it if it has the same bug, please? I still can't reproduce the bug.
https://filebin.net/6xtoxilonr6qoc1c
It's a zip file, no installer.

[2018-10-22 16:57] TooWaBoo commented on #4148
New update
[code]

[2018-10-22 17:13] Thanatomanic commented on #4883
@TooWaBoo I could not reproduce the problem in your build... How is that possible? 😕

As an aside, I notice some other interesting things:
1) double clicking in the film strip does not work immediately. I have to triple click (single click = select, double click = open). This is not the behavior I see in my own latest dev-build.
2) ~~Zoom factors are retained when opening a new image. If I am at 1

[2018-10-22 17:17] heckflosse commented on #4883
@Thanatomanic
![grafik](https://user-images.githubusercontent.com/13733487/47307313-075ad380-d62f-11e8-9e1f-ba0b87a8f7df.png)

[2018-10-22 17:19] Thanatomanic commented on #4883
@heckflosse Thanks for showing me again that options exist for a good reason...

[2018-10-22 18:04] Thanatomanic commented on #4883
@TooWaBoo On IRC @heckflosse and I have found the cause of the problem. If I set the 'Preview Demosaic Method' to 'As in PP3' everything works as expected.

[2018-10-22 18:07] heckflosse commented on #4883
I will take this. Most likely a fallout of my optimizations...

[2018-10-22 18:13] heckflosse commented on #4883
I could reproduce. Trying to fix now

[2018-10-22 18:19] heckflosse commented on #4883
This should fix it:

[code]

[2018-10-22 18:32] #4883 closed, assigned to heckflosse

[2018-10-22 18:56] heckflosse commented on #4883
@Thanatomanic Thanks for pushing the fix :+1:

[2018-10-23 05:43] Floessie commented on #4886
@heckflosse Thanks for bisecting. Can you provide me with easy steps to reproduce?

[2018-10-23 06:19] Floessie commented on #4886
Reproduction: Changing e.g. EV doesn't change thumb. Looking...

[2018-10-23 06:53] Floessie commented on #4886
Here's the fix:

[code]

Actually, the best solution would be using `override` throughout.

[2018-10-23 07:13] Thanatomanic opened #4887 "Hardcoded dcraw overrides -> camconst.json?"
In `rtengine/rawimage.cc` there is a bunch of overrides for specific camera models. Instead of hardcoding them, wouldn't it make more sense to move these to `camconst.json`?

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimage.cc#L818

[2018-10-23 07:31] Thanatomanic commented on #4875
After some digging, I believe that the `#define`'s in `dcraw.cc` are not necessary. The header `string.h` is included, which already contains this tidbit:

[code]

So the aliases seem to get defined anyway. Commenting them out gives no errors in compiling on my MSYS2 environment.

Actually, the proper functions to be used for case-insensitive string comparison seem to be `_stricmp` and `_strnicmp`

[2018-10-23 08:04] Thanatomanic commented on #4246
@Kildor There have been newer builds now, does the problem still persists?

[2018-10-23 10:52] heckflosse opened #4888 "DNG files from DJI FC6310 open extremely slow"
DNG files from the DJI FC6310 (Phantom 4 Pro) open extremely slow caused by a wrong number of DNG opcodes. I tested with a file from https://raw.pixls.us/

This fixes it:
[code]

[2018-10-23 11:45] heckflosse commented on #4886
@Floessie Fix confirmed. Thank you :+1:

[2018-10-23 11:54] Floessie commented on #4886
@heckflosse You're welcome. Please push it, as I can't ATM. Thanks.

[2018-10-23 11:58] Thanatomanic commented on #837
@agriggio I guess this is no longer a valid issue?

[2018-10-23 12:39] agriggio commented on #837
this is so ancient that it's now totally inapplicable, yes.
(This doesn't mean that the new code is always free from artifacts -- but I would rather close this and open a new issue if/when problems with the new implementation arise)

[2018-10-23 12:46] Thanatomanic commented on #837
Agreed. Some cleaning up of old issues is never a bad thing right? :wink:

[2018-10-23 12:46] #837 closed

[2018-10-23 12:57] Thanatomanic commented on #1596
This was implemented more or less as described above by #4618

[2018-10-23 12:57] #1596 closed

[2018-10-23 12:59] Thanatomanic commented on #3624
This is an old issue, but I will close it because:
1) It is unclear what the RGB indicator should show for a selected pixel. The underlying RAW values have been 'compromised' by the demosaicing process.
2) Combining the RAW and RGB histograms clutters the histogram big time. I also fail to see any practical advantage of showing them together.

[2018-10-23 12:59] #3624 closed

[2018-10-23 13:16] heckflosse commented on #3655
The "white_max" has to be "white". Also the changes to dcraw.cc have to be made. I will take this one.

[2018-10-23 13:36] #4886 closed, assigned to nobody

[2018-10-23 13:42] Beep6581 commented on #3655
Apologies, I don't remember why I was under the impression that these changes were already committed...

[2018-10-23 13:43] #4888 closed, assigned to heckflosse

[2018-10-23 13:54] #3655 closed

[2018-10-23 14:17] Beep6581 commented on #4866
This is how CIECAM02 handles it:
![8g4cazo](https://user-images.githubusercontent.com/5844619/47366985-0e411f00-d6df-11e8-9848-92fa085393a6.png)

Whatever we choose should be consistent.

[2018-10-23 14:47] agriggio commented on #4866
@heckflosse @Beep6581 FYI (in `rtgui/adjuster.h`):

[code]

[2018-10-23 14:51] heckflosse commented on #4866
@agriggio Thanks for the hint. I will try that now.

[2018-10-23 16:55] Thanatomanic opened #4889 "Automatically determined parameter should always be able to be overriden by user"
There is some discussion on how the GUI should look and behave when a checkbox exists that enables some automatic behavior. See e.g. @heckflosse and @agriggio in https://github.com/Beep6581/RawTherapee/issues/4866#issuecomment-432278164_

My opinion is that whenever an 'Auto' checkbox exists it should have the following simple behavior:
1) If it is checked, the corresponding slider should move to

[2018-10-23 17:00] TooWaBoo commented on #4148
New update
[code]

[2018-10-23 17:55] heckflosse commented on #4866
Now it looks so:
![grafik](https://user-images.githubusercontent.com/13733487/47380384-99311200-d6fd-11e8-9fea-fd1dbd3f0641.png)

[2018-10-24 07:22] Beep6581 commented on #4472
Hey @agriggio
Any chance you could update the patch to apply to dev so we could test it?

[2018-10-24 08:00] agriggio commented on #4472
ok, I'll try later today

[2018-10-24 09:06] Beep6581 commented on #4472
Regarding the default white level when not explicitly specific by the `WhiteLevel` tag, the 1.4.0.0 spec has this to say:

And page 77 has more info on mapping:
https://www.adobe.com/content/dam/acom/en/products/photoshop/pdfs/dng_spec_1.4.0.0.pdf

Does RT follow the spec in that regard?

[2018-10-24 10:05] agriggio commented on #4472
This should apply on `dev` -- Note that I didn't test though.

[code]

[2018-10-24 11:54] TooWaBoo commented on #4148
New update
[code]

[2018-10-24 12:38] ff2000 commented on #4889
I don't really like that unlabeled checkbox. You have to hover it in order to get to know what it does. A togglebutton labeled "Auto" would make more sense to me.
Probably could be replaced with a normal button for things that really get calculated just once.

[2018-10-24 12:41] Thanatomanic commented on #4889
@ff2000 Do you know DxO PhotoLab and how they handle the automatic stuff? I'm quite a fan of their approach:
![ddtmo52](https://user-images.githubusercontent.com/6567747/47430851-cd0e4500-d79a-11e8-876f-ba083f465f6e.jpg)

[2018-10-24 12:52] ff2000 commented on #4889
I don't know DxO (Linux is all I have). But that is different!
It uses a wand to signal that some automagic stuff is happening, I am quite sure this wand is only used for this specific use of an "auto" state. A checkbox is just a general widget that, especially if it isn't placed near a label. Of course we could use a specially styled checkbox. Or a togglebutton with that "wand" icon instead of an

[2018-10-24 13:14] #4866 closed, assigned to heckflosse

[2018-10-24 15:48] heckflosse opened #4892 "Review idle_register.add() calls"
There are a lot of idle_register.add() calls in rtgui which are coded a bit overcomplicated.
This issue is to review them. I created a [new branch](https://github.com/Beep6581/RawTherapee/tree/review-idle_register-calls) and already added fixes for wavelets, colortoning and ciecam02.

[2018-10-24 16:51] Beep6581 commented on #4889
I agree that a checkbox by itself is vague, even though one quickly learns what it does from the tooltip.

I don't know about DxO, but our "auto" state is persistent, so a checkbox is semantically perfect for the role.

I see three paths we could take:
1. Leave it as is.
2. Replace it with a toggle-button icon.
3. Prepend an "Auto" label.

My opinions:
* I don't mind 1.
* The problem with 2 is tha

[2018-10-24 19:44] ff2000 commented on #4889
If it is a unique icon like a magic wand or a wizard's hat it will be recognized, I think. Probably there will be more such automagic values in the future.
Another option would be to use those auto values as a default value and simply use a "reset to default" icon instead...

[2018-10-25 00:25] TooWaBoo commented on #4881
How should RT know when your edit is finished? I often use the +/- buttons. Clicking 10 times will result in 10 history entries. This makes this feature useless in most cases.

Use the snapshot feature to remember your edits.

[2018-10-25 06:00] Floessie commented on #4892
@heckflosse Great idea. I'll join you on this branch to review the `IdleRegister` class for the already mentioned deleter and another thing I have in mind. Okay? You can still continue to simplify the code, I'll take care of the necessary adjustments.

[2018-10-25 06:12] Floessie commented on #4889
We could turn Ingo's avatar into an icon which would make the wizardry immediately clear. :grin:

[2018-10-25 06:13] agriggio commented on #4881
I think the proposal makes sense for curves, but not for sliders or other kind of controls, for the reasons explained by @TooWaBoo.

[2018-10-25 07:26] SaturnusDJ commented on #4881
Then group the same parameter edits in a container in the history.

E.g. rolling over a curve entry in the history will unfold a little menu that shows all the curve edit steps.

[2018-10-25 07:30] Thanatomanic commented on #4881
I think that what @SaturnusDJ is proposing does make sense, even if you make such small steps. Each modification, in principle, is worth undoing. However, is there any other similar software that does this with such a degree of fine control?

FWIW, darktable also has snapshots, and it works splendidly.

[2018-10-25 15:05] heckflosse commented on #4882
I had to remove the lock because queue processing now deadlocks sometimes.

[2018-10-25 15:26] thirtythreeforty commented on #4882
That's unfortunate.  Which threads deadlock?

[2018-10-25 15:54] heckflosse commented on #4882
Didn't test yet. Debug build is still compiling...

[2018-10-25 15:57] heckflosse commented on #4882
Hmm, how can I check which threads deadlock? I'm on windows. ctrl-c in gdb does terminate gdb here :(

[2018-10-25 16:03] thirtythreeforty commented on #4882
Can you provide steps to trigger the deadlock?  I can look.  Not sure about Windows debug, that sounds pretty dumb...

[2018-10-25 16:06] heckflosse commented on #4882
Simply put the same image (using neutral profile) 7 times into the queue, close rt, start rt, start the queue. Sometimes it freezes after the first image, sometimes later but I never managed to process all 7 images without a freeze.

[2018-10-25 16:18] thirtythreeforty commented on #4882
Zero issues running through the queue like that on eee683738 for me.  Maybe it's a Windows-specific issue?  Perhaps you could try [these suggestions](https://stackoverflow.com/q/711086/1830736), those people seem to have your same problem.  Or do a Visual Studio build, they have a world-class debugger.  (And I say that as a staunch Linux user :)

[2018-10-25 19:46] Floessie commented on #4882
@thirtythreeforty @heckflosse George, Ingo, as this must be solved differently in the long run because of the deprecation, how about this approach: Instead of querying `qStartStop` directly, connect a signal which feeds a function that stores the "active" state in an atomic bool. Then in `BatchQueuePanel::canStartNext()` use that bool to make a decision and handle the `false` case via `IdleRegiste

[2018-10-25 20:26] thirtythreeforty commented on #4882
@Floessie that's a more forward-facing approach.  I will see if I can hack something up.

[2018-10-25 23:53] Beep6581 opened #4894 "Allow resizing to physical dimensions"
Every once in a while someone asks how to resize an image in RawTherapee to a physical dimension in centimeters or inches based on pixels per inch (PPI). I tried to solve that problem.

[2018-10-25 23:56] Beep6581 commented on #4894
Duplicates:
* #834
* #630
* #2426
* #2419
* https://discuss.pixls.us/t/save-jpg-file-for-printing/7675
* https://discuss.pixls.us/t/output-file-dpi-changeable/1046
etc.

[2018-10-26 00:15] Beep6581 commented on #4894
Branch [`hihowdoisaveaphotoat300dpi`](https://github.com/Beep6581/RawTherapee/tree/hihowdoisaveaphotoat300dpi) implements a working solution.

![screenshot_20181026_022533](https://user-images.githubusercontent.com/5844619/47537552-a3ead300-d8c6-11e8-925f-0f82b707d840.png)

The scaling is based on pixels, so dimensions in centimeters and inches are not stored, just calculated when needed. Only the

[2018-10-26 00:26] Beep6581 commented on #4894
Notes to self, review language keys when merging: `TP_RESIZE_ALLOW_UPSCALING` (capitalization), delete all `TP_RESIZE_W` and `TP_RESIZE_H`

[2018-10-26 07:31] Thanatomanic commented on #4894
Just to say, love your branch name.
What I would prefer from a GUI point of view is to try and reduce the crowding. What I think I have seen elsewhere is a toggle (or tabs) that shows you either the pixel values, or the DPI + physical sizes, not both at the same time.

[2018-10-26 07:46] Thanatomanic commented on #4889
@Beep6581 I agree with your reasoning. My proposal would modify the current behavior slightly so that the persistance could easily be cancelled by the user. Woud you be okay with that?

[2018-10-26 09:27] iliasg commented on #4887
Most of these are already in camconst.json .. just forgot to clean up rawimage.cc .. let me some days to check again some details and then clean up ;)

[2018-10-26 12:53] Beep6581 commented on #4889
@Thanatomanic I agree with your proposal.

[2018-10-26 12:56] TooWaBoo commented on #4803
@Hombre57
I've tested your "hidpi-icons" branch and it looks really good. One thing I'm missing is, that the font size is not contained in the calculation. The "base em" font size is 9pt (9pt = 12px). The "font multiplier" is calculated by `font-size / 9`
The whole scaling formular then looks like this: `dpi-scale-multiplier * (font-size / 9)`.

[2018-10-26 14:53] heckflosse commented on #4633
It's weekend. I will push some speedups.
I test using a 24 MP ARW file on an AMD FX8350
Processing times as usual measured in queue by taking the median of 7 measures.

Before changes: 1000 ms

[2018-10-26 14:55] heckflosse commented on #4633
d53e44d
Processing time: 960 ms

[2018-10-26 15:10] heckflosse commented on #4633
c44b8ca
Processing time: 880 ms

[2018-10-26 15:30] Thanatomanic commented on #4633
Fun to follow you work on this :smiley:

[2018-10-26 20:21] heckflosse commented on #4633
1b291ae
Processing time: 860 ms
Now I'm out of ideas, at least for today...

[2018-10-26 20:33] heckflosse commented on #4633
I will pr this now. If further speedups are possible, we can do them for 5.6

In case of interest:
[Here](https://github.com/Beep6581/RawTherapee/blob/vng4-speedup/rtengine/vng4_demosaic_RT.cc#L237) is one hotspot

[2018-10-26 21:17] heckflosse commented on #4398
As this is still set as a 5.5 blocker, I would like to get opinions how to proceed because no one tested my patch, which makes it risky to commit it for 5.5.

I've no objections to move it to 5.6 milestone.

[2018-10-26 21:53] heckflosse commented on #4892
Currently I gave priority to other issues. Are you ok for adding this to 5.6 milestone?

[2018-10-27 07:47] Floessie commented on #4892
I have the slight feeling that 5.5 is due when #4893 is done as a final additional feature for this round. Changing such basic things like the `IdleRegister` so late seems risky to me, so tagging this 5.6 appears opportune.

Nevertheless, this is something we must tackle soon, because overly complicated code is never nice to maintain and the leaks are real. This weekend I'm focused on another proj

[2018-10-27 08:00] Floessie commented on #4633
@heckflosse

I've no quick idea, but the double indexing could be a problem. Maybe the data layout isn't very cache friendly. Did you have a look at the assembly?

[2018-10-27 08:09] Floessie commented on #4398
One way to gain a better test coverage is to move this patch into a branch, turn that into a PR and fix it there. It's a pitty this patch got lost during the 5.5 cycle, though I'm also to blame as I could have tested it. :disappointed:

[2018-10-27 09:04] eprovst commented on #4804
About #4893:

@Thanatomanic As far as I can tell it's actually fairly difficult to achieve the same effect as the color wheels using this method (and as far as I can tell even impossible to achieve the exact effect of gamma).

Does this lower the necessity of color wheels? Yes it does, however I think that color wheels have a use as a primary color correction, the fine-grained control that this op

[2018-10-27 09:43] agriggio commented on #4804
I didn't follow the conversation fully, but did you have a look at the new colour correction module of darktable? maybe that's something we can borrow...

[2018-10-27 11:52] agriggio commented on #4472
There was a typo in the previous version, here's a fixed one:

[code]

[2018-10-27 16:46] #4633 closed, assigned to heckflosse

[2018-10-27 17:24] #4882 closed, assigned to heckflosse

[2018-10-27 19:49] heckflosse commented on #3289
Still valid? Or can we close?

[2018-10-28 05:13] Thanatomanic commented on #3289
Just for reference: it might have been fixed by #4576 or is related to the open #4732.

[2018-10-28 07:40] gaaned92 opened #4899 "Windows 32 bits compilation error"
When compiling last dev branch for Windows 32 bit (so without SSE2), I get these errors:

[code]

[2018-10-28 08:05] agriggio commented on #4899
my bad, sorry. Just add `#include <assert.h>` at the beginning of the file

[2018-10-28 08:15] agriggio opened #4900 "improve support for float DNGs"
Currently, the support for DNG files with floating-point data is very limited, essentially the bare minimum to handle what HDRMerge produces. This is issue aims at improving the situation, and cover more cases.

Reference discussion (with more info and sample images):
https://discuss.pixls.us/t/help-with-a-floating-point-dng-file-and-processing-it-in-rt

I will create a branch `floatdng` to work o

[2018-10-28 08:38] ff2000 commented on #4899
I know assert.h usually works but the C headers in C++ got their own compatibility headers, here `<cassert>`. No idea how strict you are about this.

[2018-10-28 11:01] Floessie commented on #4892
@heckflosse I've started working on this.

[2018-10-28 11:07] Floessie commented on #4899
@ff2000 You're absolutely right.

Those `<c...>` headers usually mean that the C functions will be inside namespace `std`, but this is not the case for the `assert` macro. Thus there's no `std::assert()` and including `<assert.h>` is just fine, IMHO.

But sure, this is a special case.

HTH,
Flössie

[2018-10-28 12:17] Floessie commented on #4892
@heckflosse Yet another mass commit. This was done in a hurry, I hope I didn't break a thing. Please review the diff. Thanks.

[2018-10-28 12:19] Floessie commented on #4892
BTW: Tested also with Clang on Linux. Adds 60k to the release binary built with GCC on AMD64.

[2018-10-28 12:56] agriggio commented on #4899
I'm personally not very strict about this. in my daily activities, I mix c and c++ fairly often (either directly or via libraries), so I just don't see the point of the c-prefixed headers. but if you want to use that, no problem

[2018-10-28 16:00] gaaned92 commented on #4892
W10/MSYS2/GCC8.2.0

[code]

[code]

[2018-10-28 18:37] Floessie commented on #4892
@gaaned92 André, thanks for testing. I've tried to fix the Windows build, but did so blindly.

[2018-10-28 19:38] heckflosse commented on #4633
13abcd0
Processing time: 845 ms

[2018-10-28 20:45] heckflosse commented on #4892
@Floessie builds fine now on Windows

[2018-10-28 21:16] heckflosse commented on #4892
@Floessie

We could get some of this back by marking all functions in rtgui/preferences.* as 'cold' ;-)

[2018-10-28 22:47] Beep6581 commented on #4472
Raw files for testing:
https://filebin.net/mbqlsv9vtskb76cg
Feel free to add more to the bin.

[2018-10-28 23:03] Beep6581 commented on #4472
![imgur-2018_10_29-00 00 52](https://user-images.githubusercontent.com/5844619/47623147-be62bd80-db0d-11e8-81ad-07fdd92b76ac.png)

[code]

Without the patch the "linear (demosaiced)" DNG is too bright and has a magenta cast (wrong black levels?).
With the patch it has a correct brightness, but still has the magenta cast. Since it's already demosaiced, RawTherapee doesn't show the Raw Black Points

[2018-10-28 23:09] Beep6581 commented on #3289
I just saved a HDR DNG from HDRMerge into a folder which I had open in RT's File Browser, and RT crashed.
This was using branch `colortoning-labregions` commit 50c623802.

[2018-10-28 23:40] Hombre57 commented on #4803
Hi @TooWaBoo,

This branch is still under development. I wanted to merge dev into it, so had to commit it.

About the scaling formula, GTK gives me the screen's _resolution_ (DPI), which is not a font size. Gtk take care of scaling the _point_ of the font size based on the new resolution, so I guess that my calculation is correct for the icons.

[2018-10-28 23:51] Hombre57 commented on #4894
@Beep6581 I'll have a look at the `pedited` problem tomorrow. Great that you added this feature :+1:

[2018-10-29 00:25] Beep6581 commented on #4398
These RTC and PP3 files cause RT `5.4-1012-g`5cb42f29e to crash:
https://filebin.net/j8d0dg5y945z15ne

The RTC files cause it to crash right after they're loaded, while the PP3s make RT crash when you click in the curve area after loading the PP3.

`parametric_4.pp3` does not make RT crash, and the parametric sliders are set to the values from the PP3, but the curve remains linear until you touch

[2018-10-29 02:10] TooWaBoo commented on #4803
@Hombre57
What I mean is, that you have to include the user selected font size in the formular, so the the icon size follows the font size. Font size and icon size should be in sync.
e.g.
if you are on 96dpi and font size 9pt the icon size is 24px
if you change the font size to 12pt the icon size should be 24px * (12pt / 9pt) = 32px
if you change the font size to 8pt the icon size should be 24px *

[2018-10-29 04:38] agriggio commented on #4472
thanks, I'll take a look. btw I'll continue development on the `floatdng` branch

[2018-10-29 06:54] Floessie commented on #4892
@heckflosse

Or defaulting to `-Os`. :grin:

[2018-10-29 08:38] agriggio opened #4901 "Improved GUI for "image type" in dynamic profile rules"
I think a combo box works better for specifying image types (STD, HDR, or PS) in dynamic profile rules. Here's a patch that does that. Screenshot:

![screenshot from 2018-10-29 09 35 32](https://user-images.githubusercontent.com/11982086/47638242-496ba400-db5e-11e8-9c7f-e2b96ea91fc9.jpeg)

[code]

[2018-10-29 08:46] Hombre57 commented on #4803
@TooWaBoo Ok, I understand your point now, but where should I get the base font size from ?

[2018-10-29 10:09] Beep6581 commented on #4472
Great, less compiling :)

[2018-10-29 10:18] Beep6581 commented on #4901
@agriggio would a catch-all "raw" and "non-raw" filter be possible? That's with regard to #4488

[2018-10-29 10:21] Beep6581 commented on #4282
Assigning a dynamic profile to HDR files is already possible, and #4901 makes that even easier.

[2018-10-29 10:21] #4282 closed, assigned to nobody

[2018-10-29 11:59] heckflosse commented on #4398
@Beep6581 I'm working on the RTC stuff now

[2018-10-29 12:44] Floessie commented on #4398
@heckflosse Here's my take:

[code]

This still crashes in `LUT<>::...`, but that seems to be a different problem. I didn't know where to place `sanitizeCurve()`, so please move it to where it's more suitable.

HTH,
Flössie

[2018-10-29 12:55] heckflosse commented on #4398
@Floessie If the curve is type parametric, the values 1 to 3 of the vector must be ordered ascending and no two of this values be equal.

Something like this would be a fallback for parametric curves:
[code]

[2018-10-29 13:44] heckflosse commented on #4398
@Floessie

I enhanced your patch:

[code]

[2018-10-29 14:49] Floessie commented on #4398
@heckflosse Thanks! I'm still not content with the current location of `sanitizeCurve()`. Any idea where to put it?

[2018-10-29 16:05] TooWaBoo commented on #4803
The base font size is always 9pt. :-)

[2018-10-29 16:05] heckflosse commented on #4398
@Floessie

No

[2018-10-29 17:29] TooWaBoo commented on #4148
New update
[code]

[2018-10-29 18:18] abertens opened #4903 "Queue can not be started with only one image."
Hi there!

Today I downloaded last git commit 5cb42f29e3773e7ef454037e717418a2a64a61a0, from Oct 28, 2018.

I found a problem with Queue: if I put only one image on Queue, I can not activate the start button. With two or more, it works.
It worked with my previous download from Oct 25 (fef2f73aa7d8d413551ca0a777164835afbe3445).

Best regards,
Andres Bertens

Version: 5.4-1012-g5cb42f29e
Branch: 5.4

[2018-10-29 18:23] Thanatomanic commented on #4903
Thanks for the quick notice, but people are already working on it: #4902

[2018-10-29 18:23] #4903 closed, assigned to nobody

[2018-10-29 18:43] gaaned92 commented on #4803
`btw: @gaaned92 doesn't deliver the SVGs with his builds.`

I didnt paid attention to that!
Do you want I copy the Adwaita/scalable? and in that case, do we still need the png?

[2018-10-29 20:00] TooWaBoo commented on #4803
@gaaned92
That's all you need.
![grafik](https://user-images.githubusercontent.com/13800920/47676741-af3b4880-dbbd-11e8-8770-5e18e63916e9.png)

[2018-10-29 21:10] Hombre57 commented on #4894
@Beep6581 Before looking at the `pedited` problem, the Crop tool already has a PPI spin button for information purpose only, with informational label. I think those should be moved to the Resize tool and updated when the Crop tool is changed.

Instead of adding 2 supplementary spin button not handled in the `ProcParams`, the `unit` combobox should simply tell the unit of the actual `width` and `he

[2018-10-29 21:44] agriggio commented on #4901
I think it should be possible, yes. but how should it be combined with the current image types?

[2018-10-29 23:56] Hombre57 commented on #4803
@TooWaBoo I think I misunderstood you again, you were talking about `Options::fontSize` I guess. I've added this parameter to the formula, but will commit once that damn Gtk warnings will be solved.

[2018-10-30 03:44] agriggio commented on #4472
Is this how it is supposed to look like?

![screenshot from 2018-10-30 04 41 18](https://user-images.githubusercontent.com/11982086/47694473-17118380-dbfe-11e8-9977-f407701fdd8b.jpeg)

How to do that:
[code]

Explanation: we have a special case for "Adobe DNG Converter", which is meant to solve the other problem we used to have, namely that DNG and native raw files were rendered differently. We ch

[2018-10-30 09:49] Beep6581 commented on #4894
@Hombre57 I see no need for the PPI stuff being in the crop tool, but that's one of several separate issues with the crop tool, let's not mix those here.

I will consider the other suggestions.

[2018-10-30 11:52] Floessie commented on #4398
@heckflosse @Beep6581 Successfully tested with all RTCs from the filebin above. No crashes anymore.

[2018-10-30 12:46] heckflosse commented on #4633
894fb8d
Processing time: 800 ms

[2018-10-30 13:01] heckflosse commented on #4398
@Floessie @Beep6581 Shall we commit for 5.5 or is it too risky?

[2018-10-30 13:41] #4269 closed, assigned to heckflosse

[2018-10-30 13:58] agriggio commented on #4472
I pushed a new tweak (in the `floatdng` branch -- see #4900). Can you please test whether it works properly and without breaking anything? Thanks!

[2018-10-30 15:05] Beep6581 commented on #4472
@agriggio yes, it should look like that. I convert all my ARWs to DNGs using Adobe DNG Converter, though of course I convert them to still-raw files - this "linear (demosaiced)" image was just for testing.

"Linear (demosaiced)" DNG files have `PhotometricInterpretation=Linear Raw`, and no camera produces those that I know of.
Maybe the solution then is to use `camconst.json` only if
[code]

[2018-10-30 15:06] Beep6581 commented on #4472
P.S. A real raw DNG has `PhotometricInterpretation=Color Filter Array`

[2018-10-30 15:13] heckflosse opened #4904 "Get rid of aehistogram files in RT cache?"
Currently RT writes one 32kb aehistogram file per image into the Cache folder.
Afaik this file is only needed to be able to preview changes of the auto-levels clip percentage
![grafik](https://user-images.githubusercontent.com/13733487/47728350-78693f00-dc5e-11e8-927a-fc57b2a0ee48.png)
in the thumbnail.

Is writing a 32kb cache file for this single feature really needed?

Edit: currently we use th

[2018-10-30 16:54] Beep6581 commented on #4398
@heckflosse let's commit.

[2018-10-30 16:58] TooWaBoo commented on #4148
New update
[code]
[code]
After the update I had to logout/-in from my pc to run mingw64.

[2018-10-30 17:03] Thanatomanic commented on #4904
Could you elaborate slightly on why this procedure is the way it is?

[2018-10-30 17:31] heckflosse commented on #4904
I can only guess because I didn't code that:

To be able to auto-level exposure in batch (on thumbs in filebrowser) one needs a histogram of the image data or the already calculated auto-level values.
Because there is one variable (the clip%) we can't store the calculated values in cache as they would change when changing clip%. To avoid loading the raw file again to get the image data when applyi

[2018-10-30 17:41] Thanatomanic commented on #4904
Honestly, I've never even tweaked the 0.02% (is it really 0.02% or actually 2%?).

How much of a difference will there be between a thumbnail at 0% and a value of 0.1 (let's take that as an extreme). If it matters only slightly, I don't think its reasonable to store the aehistogram.

[2018-10-30 17:52] heckflosse commented on #4904
@Thanatomanic

Same here

[2018-10-30 17:57] heckflosse commented on #4904
Some additional information:

The auto-level values calculated from the thumb are only used for the thumb. When opening a file or processing a file they are calculated again (more accurate) in case auto-levels is enabled.

[2018-10-30 18:27] Beep6581 commented on #4904
Just wanted to point some things out:
* The "clip" feature has been broken for many releases #2088. Its correctly-working form hasn't been around for very long, perhaps since May 2017.
* RawTherapee switched from using Auto Levels to using Auto-Matched Tone Curve in its default profile for raw photos in January 2018.
* Clip%'s effect is subtle on most images.
* The thumbnails already aren't accura

[2018-10-30 18:36] #4398 closed, assigned to heckflosse

[2018-10-30 18:55] heckflosse commented on #4904
@Beep6581

Yes, and I appreciate that. Though there are still raw files where the 'Auto-Matched Tone Curve' does not work because the embedded jpeg (for whatever reason) is very small (Phase One raw files for example).

[2018-10-30 19:15] heckflosse commented on #4318
Can we close?

[2018-10-30 19:17] heckflosse commented on #4261
I agree that we should do something here. But I think we shouldn't do it for 5.5. Ok to set milestone to 5.6?

[2018-10-30 19:21] Beep6581 commented on #4904
Someone who buys a Phase One camera doesn't settle for auto levels ;)

[2018-10-30 19:24] heckflosse commented on #4633
@Floessie Do you know a less restrictive compile time (preprocessor) switch for this than __SSE2__ ?

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/vng4_demosaic_RT.cc#L247

Edit: I need a compile time switch which tells about being sizeof(float) = 32bit

[2018-10-30 19:38] Beep6581 commented on #4318
Confirmed that those keys are no longer in the `options` file.

[2018-10-30 19:38] #4318 closed, assigned to Beep6581

[2018-10-30 19:39] Beep6581 commented on #4261
Yes, it's time for a new release.

[2018-10-30 19:47] Beep6581 commented on #4451
What are your opinions?

[2018-10-30 19:49] Beep6581 commented on #4656
What are your thoughts on setting the context-menu operations to "filled" mode?

[2018-10-30 20:07] Thanatomanic commented on #4451
Just out of curiosity: is there ever a situation in which the auto-matching or auto-levels needs to be recalculated?

[2018-10-30 20:15] Thanatomanic commented on #4451
I actually don't see a reason for change right now. The UX is pretty straightforward imo. It does fit in nicely with the discussion of magic wands in #4889.

(aside: what I find more confusing from an UX perspective is that the dropdowns for the type of tone curve is a togglebutton too, but it toggles the visibility of the curve, not its activation...)

[2018-10-30 20:16] Beep6581 commented on #4451
@Thanatomanic
* Auto-levels should depend on the crop, in which case it would need to be recalculated when changing the crop.
* Auto-Matched Tone Curve is updated when you change the input profile parameters, e.g. toggle the DCP tone curve.

[2018-10-30 20:19] heckflosse commented on #4451
@Beep6581

Not for 5.5 imho ;-)

[2018-10-30 20:21] #4643 closed, assigned to agriggio

[2018-10-30 20:27] Beep6581 commented on #4451
@heckflosse no, for 4.0, judging by the timestamps ;) #709

[2018-10-30 20:35] Floessie commented on #4633
@heckflosse How about [`__STDC_IEC_559__`](https://stackoverflow.com/a/21408489)? My GCC 6.3 at least sets this.

[2018-10-30 20:50] heckflosse commented on #4633
@Floessie That was my first try, but my msys2/gcc 8.x didn't set it :(

[2018-10-30 21:00] Hombre57 commented on #4656
@Beep6581 The "beauty" of the mechanism is that you can actually partially apply a partial profile, which sounds logical to me : your profile contains a subset of the whole parameter list, and for those who's there, you select in the Partial Profile window which one to keep. I'd definitely keep this behavior because it's very flexible. :+1: for having the 4 solutions you proposed above.

[2018-10-30 21:02] Hombre57 commented on #4656
By the way, you could still set to neutral first then apply your - partial - profile. Having a dedicated entry would saves some thumbnail reprocessing.

[2018-10-30 21:22] Beep6581 commented on #4656
I agree that this is good behavior, but it's maybe not intuitive as it is now - it certainly surprised me. I'll bump this for 5.6 so we have time to decide on a solution.

[2018-10-30 21:27] Beep6581 commented on #4894
@Hombre57 I like your idea and haven't thought of drawbacks - I'll implement it.

[2018-10-30 21:30] Floessie commented on #4633
@heckflosse :facepalm: Then we need a CMake check...

[2018-10-30 21:31] heckflosse commented on #4901
@agriggio Alberto, :+1: to push the current state of your work

[2018-10-30 21:36] heckflosse commented on #4633
@Floessie :+1: for the CMake check. Though there should be no hurry as my __SSE2__ check should be ok atm

[2018-10-30 21:46] Beep6581 commented on #4901
@agriggio I haven't replied yet because I haven't come to a conclusion yet which is better:
* two logical-AND combobox choices, one for raw/non-raw/either and one for any/standard/HDR/PS
* one choice consisting of:
  * Any non-raw
  * HDR non-raw
  * Any raw
  * Standard raw
  * HDR raw
  * PS

So far two comboboxes sounds simpler, even though some combinations might not be encountered, such as "n

[2018-10-30 22:00] agriggio commented on #4901
honestly, I think two combos are overkill, and even a single one with all the combinations is too much IMHO. In fact, I don't have a strong use-case for dynamic profiles for non-raw images, as in the (rare) cases in which I use RT for non-raw, I always start from neutral. But I do understand there's some need for it, so... I don't know what to do either :slightly_frowning_face:

[2018-10-30 22:20] da-phil commented on #3289
I couldn't test the new code on a folder with thousands of pictures yet, but what I noticed now is, that newly saved files don't appear in the file-browser, only after you hit the 'refresh' button. In my opinion this is also not a desirable behaviour, although the hanging GUI seems not to be a problem anymore.

[2018-10-30 22:26] heckflosse commented on #4901
@agriggio Let's merge your branch as is now and think about it again for 5.6

[2018-10-30 22:42] Beep6581 commented on #4901
The use case for filtering by non-raw images is #4488 but as that issue is for 5.6, I agree with @heckflosse that we can merge this and expand on it later.

[2018-10-30 22:43] Beep6581 commented on #4901
We can throw out "HDR non-raw", which leaves us with 5 useful options.

[2018-10-30 22:47] Beep6581 opened #4905 "Document the Dehaze tool"
The new Dehaze tool in PR #4898 needs to be documented.

[2018-10-30 23:11] agriggio commented on #4901
I think 5 is ok, but ok for postponing to 5.6. I'll merge later

[2018-10-31 00:13] Hombre57 commented on #4894
@Beep6581 My comment was i bite incorrect. PPI should always be sensitive and put as is in the output file, but :

- if `unit` is set to `px`, `PPI` will be used to update a label displaying the resulting mm/inch size
- if `unit` is set to `mm` or `in`, `PPI` will be used to define the image size in pixel of either the `width`, `height` or `bounding box` depending on the mode combobox, and update

[2018-10-31 11:01] waxhead opened #4906 "Queue Start button does not work"
Just a quick one, latest git pull of dev tonight and it appears that the start button in the Queue isn’t enabled, so I can’t start processing any images sitting in the queue:

[code]

[2018-10-31 11:05] Beep6581 commented on #4853
No reply - closing.

[2018-10-31 11:05] #4853 closed, assigned to nobody

[2018-10-31 11:06] Beep6581 commented on #4863
No response - closing.

[2018-10-31 11:06] #4863 closed, assigned to nobody

[2018-10-31 11:08] Beep6581 commented on #4906
Probably related to #4895, handled in #4902

[2018-10-31 12:04] TooWaBoo commented on #4904
I do not use auto-exposure. I have never got a usable result.

[2018-10-31 12:10] Thanatomanic commented on #4904
I wouldn't say I never got a pleasant result, so dismissing the auto exposure entirely  seems a bit harsh. But it's good to think about improvements for 5.6.

[2018-10-31 13:38] TooWaBoo commented on #4148
New update
[code]

[2018-10-31 14:05] heckflosse commented on #4904
With above commit no new aehistogram cache files will be written. Old entries still will be used.

[2018-10-31 15:33] Beep6581 commented on #4904
@heckflosse does this mean the behavior in batch mode is that a clip=0.2% is always used for new images? Info needed for docs: http://rawpedia.rawtherapee.com/Exposure#Clip_.25

[2018-10-31 15:53] heckflosse commented on #4904
@Beep6581 It means, 0.02% is always used for the thumbs of new images.

[2018-10-31 17:56] Beep6581 commented on #4904
Documentation updated:
http://rawpedia.rawtherapee.com/Exposure#Clip_.25
http://rawpedia.rawtherapee.com/File_Paths#Cache

[2018-10-31 18:25] agriggio commented on #4901
Implemented in 4d9871110bd47bb8399f204d6f6ba75c6267639e

[2018-10-31 18:25] #4901 closed, assigned to nobody

[2018-10-31 19:05] Beep6581 opened #4907 "Arcane Clear Cache entries in the context menu"
This is both a bug report and a discussion about the general need for the "clear cache" entries in the thumbnail context menu.

1. Preferences > Image Processing > Processing Profile Handling, set the saving location to cache only.
2. Close RT, delete cache, clear all PP3s in your test folder.
3. Run RT. Right-click on a thumb and apply a PP3 which makes a clear difference, e.g. one which uses the

[2018-10-31 19:31] agriggio commented on #4907
I agree 100%, let's kill those menu entries

[2018-10-31 19:55] heckflosse commented on #4907
@agriggio I use the per file 'Clear from cache full' quite often during development...

[2018-10-31 20:42] agriggio commented on #4907
Ingo, how about a compile-time option to show/hide these menu entries then?

[2018-10-31 20:48] Thanatomanic commented on #4907
In regular use, I've never used these cache options. If I ever want to revert something, applying Neutral is easier than removing the pp3. And maybe contrary to others, I don't really care about what the thumbnail shows me...

[2018-10-31 20:56] #4904 closed, assigned to nobody

[2018-10-31 21:00] heckflosse commented on #4907
Alberto, a compile time option would be good. When working on supporting currently unsupported files it's really good to have the possibility to clear the cache for only a few files.

[2018-10-31 22:14] Beep6581 opened #4909 "Post-Resize Sharpening Contrast Threshold defaults to 0"
Post-Resize Sharpening > Contrast Threshold defaults to 0. The main Sharpening tool's Contrast Threshold defaults to 20.

[2018-10-31 22:44] heckflosse commented on #4909
I've no idea for a better pr sharpening threshold atm.

[2018-10-31 23:18] TooWaBoo opened #4910 "Should Haze Removal's depth map be visible only in the preview?"
@agriggio
If "Show Depth Map" is checked. Navigator, Thumbnail, Histogram and the saved jpg shows the "Depth Map". Shouldn't it only affect the preview?

Edit: Changing sliders doesn't change the thumbnail. You have to do another action to get the correct thumbnail.

[2018-11-01 04:44] agriggio commented on #4910
I don't know. A similar thing happens with wavelet "show only one level" or retinex "show mask". There was a request about being able to export the depth map, and this is the simplest way. But I suppose that you can argue that it should only affect the preview. What do other people think? It's easy to change if needed.

Confirmed. Should work now.

[2018-11-01 07:54] TooWaBoo commented on #4910
If there is a reason to export the "Depth Map" it's OK for me

[2018-11-01 07:55] Beep6581 commented on #4909
When I downscale without PRS, then open the downscaled image in RT to use the contrast mask preview to find ideal settings, I usually end up around 15-20.

[2018-11-01 07:57] TooWaBoo commented on #4148
New update
[code]

[2018-11-01 11:12] #4909 closed, assigned to heckflosse

[2018-11-01 13:03] heckflosse commented on #4907
With this patch to get the cache-submenu in context-menu you have to add
`-DWITH_CACHEMENU="ON"` to your cmake command.

[code]

[2018-11-01 13:43] Beep6581 commented on #4907
There are things which don't really belong in a stable release, but development releases could absolutely have them. This cache item is one such thing. Maybe a more generic `WITH_DEVTOOLS=true` or `IS_RELEASE=false` or something to that affect would be more future-proof, allowing to automatically show/hide other dev-only things?

[2018-11-01 16:11] Hombre57 commented on #4299
@Floessie @heckflosse @Beep6581 @Thanatomanic Just tested today to locally merge `dev` into `better-source-tree` and the other way round, as expected git doesn't follow the file relocation. At least through Eclipse's git. So rearanging files without breaking other branches seem difficult (if not impossible). Should we leave things as is and close this issue ?

[2018-11-01 16:27] agriggio opened #4912 "Tweak Dynamic Range Compression defaults"
IMHO the current defaults for the Dynamic Range Compression tool are a bit too aggressive. They might work well for HDR images, but for standard ones the result tends to be too flat. I'd like to propose the following defaults:

- amount: 15-20 (I use 17, the current default is 30)

- threshold: 30 (the current one is 0)

Also, "threshold" is not a very informative name. I think "detail" is better.

[2018-11-01 16:30] agriggio commented on #4906
is someone working on this? any hotfix possible?

[2018-11-01 16:48] Thanatomanic commented on #4906
Let's hope @thirtythreeforty can help out.

[2018-11-01 16:50] Thanatomanic commented on #4501
I can give this a shot tonight

[2018-11-01 16:53] Beep6581 commented on #4299
Git tracks content, not filenames.

We should clean up the tree, but let's wait till after 5.5.

[2018-11-01 17:01] heckflosse opened #4914 "Speedup for color toning lab regions"
I will create a new branch where I make some speedups for lab regions.

[2018-11-01 17:03] thirtythreeforty commented on #4906
Yep, thanks for the ping, I'm working on it, watch #4902.  @waxhead does your problem differ from the behavior described [in this comment](https://github.com/Beep6581/RawTherapee/pull/4895#issuecomment-433705990)?

[2018-11-01 17:20] Thanatomanic opened #4915 "Why is png not enabled in the file browser by default?"
Simple question. Is there a good reason for it?

[code]

[2018-11-01 17:28] Thanatomanic opened #4916 "Setting preferences on clean installation leads to segfault"
I did a clean installation and set the following preferences, after which RT segfaults.

- Show filmstrip toolbar
- Single row file browser toolbar
- ~~Switch to English US~~
- ~~Select TooWaBoo Dark~~
- ~~Set fontsize to 8~~
- ~~Default profile -> Neutral~~
- ~~Select flat-field folder~~
- ~~Select darkframe folder~~
- ~~Enable png extension~~
- ~~Set default color profile to monitor profile~~
-

[2018-11-01 17:45] Thanatomanic commented on #4916
Wonderful. Setting above settings one by one does not lead to a segfault.

Doing things simultaneously produces this backtrace (out of the ordinary parts only)

[code]

[2018-11-01 17:46] Beep6581 commented on #4912
Null problemo.

[2018-11-01 17:48] heckflosse commented on #4914
I measure on my AMD FX8350 using a 24Mp file with one lab colortoning region.

Processing time before optimizations: ~3540 ms

[2018-11-01 17:49] Beep6581 commented on #4916
Segfault confirmed in `5.4-1055-g`5e30b5ac5 in Sabayon, gtk+-3.22.30.

[2018-11-01 17:51] Thanatomanic commented on #4916
I have brought it down to the following pair of options that lead to the crash:
- Show filmstrip toolbar
- Single row file browser toolbar

Enabling them together causes a segfault, possibly because a few interface elements get destructed in the wrong order.

[2018-11-01 17:52] heckflosse commented on #4914
41b802b
Processing time: ~1460 ms

[2018-11-01 17:54] Beep6581 commented on #4916
I narrowed it down, simply performing the first two items causes the crash:
* Show filmstrip
* Single row navigator bar

[2018-11-01 18:01] Beep6581 commented on #2598
It seems RT now includes an embedded ICC in the saved PNG files.

Someone else please before closing.

[2018-11-01 18:02] Beep6581 commented on #4915
We disabled it because PNG files came in various shapes, sizes and odd aspect ratios and often lead to crashes or File Browser thumbnail screw-ups. Typical case: user opens a photo in some bad place like "Downloads", closes RT, then they download some PNG there, then RT keeps crashing on startup.

It would generally be good to enable PNG by default, especially since now RT writes metadata to PNG f

[2018-11-01 18:16] agriggio commented on #4914
\o/

[2018-11-01 18:45] Beep6581 opened #4917 "Add button to archive processing profiles in current folder"
Once I'm done tweaking all the photos in a folder, I often `tar cvJf pp3.tar.xz *.pp3`, to create a backup archive of all processing profiles in the current folder, just in case. The archives are tiny.

Wouldn't it be nice if there was a button in RT which would do just that? Would you find this useful?

[2018-11-01 18:55] Thanatomanic commented on #4917
Well, yes and no. I hardly ever come back to modifying old photos. And I already backup my entire photo collection including pp3's to an external source.

I would rather spend more effort in storing the entire processing history of a photo in the pp3 so that you can always go back to any point in history you want 😉

[2018-11-01 19:00] Beep6581 opened #4918 "Make splash image fit its window better"
Now that the Preferences window is resizable, by default it opens significantly larger than the splash screen, which doesn't look professional.

1. One solution would be to make the default window size fit the splash screen (would require @Hombre57 's help).
1. Another solution would be to center the splash image and to change its background color so that is blends with the window. I don't yet kno

[2018-11-01 19:10] heckflosse commented on #4914
dd635de
Processing time: ~1260 ms

[2018-11-01 19:13] agriggio commented on #2598
Confirmed, implemented in 527f41c2541414cf443bd3460065111224769356

[2018-11-01 19:13] #2598 closed

[2018-11-01 19:38] waxhead commented on #4906
Hi,

I'd say the issue is the same
 I only had one image to process.

Image is still on queue, but I won't be able to do much more testing until
tonight.

Peter.

On Fri., 2 Nov. 2018, 4:15 am George Hilliard <notifications@github.com
wrote:

[2018-11-01 19:39] thirtythreeforty commented on #4906
OK, if you add a second image, the button will enable.  Sorry for the trouble.  It should be fixed soon.

[2018-11-01 20:52] sd65 commented on #4272
Do you have everything you need to look into it? Pretty excited about the possible support 😃

[2018-11-01 21:05] Beep6581 commented on #4906
I ran into this issue today, and can help test patches.

[2018-11-01 21:27] Thanatomanic commented on #4501
I got it to work! But the description on RawPedia needs some work.

First, a proof:
![image](https://user-images.githubusercontent.com/6567747/47880722-44d81180-de24-11e8-98ca-9c8a77571301.png)

Then, the modifications:

- After `ninja-build` you also need `sudo ninja-build install`
- The text 'Then edit the `build-rawtherapee` ...' should be moved to the end, because at this point in the guide yo

[2018-11-01 21:31] heckflosse commented on #4914
906cf63
Processing time: ~1100 ms

[2018-11-01 21:41] thirtythreeforty commented on #4906
I think I'm in good shape now, please test the linked PR!

[2018-11-01 21:56] heckflosse commented on #4906
@thirtythreeforty Tested, no issues found :+1:

[2018-11-01 22:50] TooWaBoo commented on #4148
New update
[code]

[2018-11-02 00:01] #4906 closed, assigned to nobody

[2018-11-02 07:49] Beep6581 commented on #4501
@Thanatomanic will do, thanks for testing.

[2018-11-02 08:27] Beep6581 opened #4921 "Update rtexif"

[2018-11-02 08:55] Beep6581 opened #4922 "Segfault in LUT.h from ipshadowshighlights.cc"
I get a segfault when opening a folder with an image with the attached PP3.

PP3: [amsterdam.pef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/2541726/amsterdam.pef.pp3.txt)
Stack backtrace: [log.txt](https://github.com/Beep6581/RawTherapee/files/2541728/log.txt)

[code]

[2018-11-02 08:59] Thanatomanic commented on #4922
Confirmed.

Update yet again: derp, hadn't seen @Beep6581 's backtrace 🙄  Removed mine.

[2018-11-02 09:06] TooWaBoo opened #4923 "RT plays "Queue processing done" sound on start"
[code]

[2018-11-02 09:07] Thanatomanic commented on #4923
@thirtythreeforty to the rescue again?

[2018-11-02 09:11] Thanatomanic commented on #4915
Okay, I see. But isn't that equally possible with jpegs of strange dimensions?

[2018-11-02 09:28] Beep6581 opened #4924 "Improve the Places browser"
![screenshot_20181102_102053](https://user-images.githubusercontent.com/5844619/47906720-26a4fc80-de8a-11e8-8f88-becc400a13ff.png)

I will explain the issues via steps to reproduce:

1. Add a favorite place to the Places browser. Let's call it `test_images`
1. Click on it. It opens in the File Browser's main area.
1. Navigate (double-click) somewhere else using the Folders browser. Let's say `2018

[2018-11-02 09:33] Beep6581 commented on #4915
Sure, but unusual JPEGs (e.g. 12-bit) are rare, and don't lead to crashes like PNGs do/did. I'm just pointing that out, I'm not defending that we should keep PNG disabled.

[2018-11-02 10:55] agriggio commented on #4922
Here's a fix, can you please test and commit on my behalf (assuming it works)? Thanks!

[code]

[2018-11-02 10:58] Beep6581 commented on #4922
@agriggio fix confirmed.

I'll let it simmer for a short while before committing.

[2018-11-02 11:01] Thanatomanic commented on #4922
Is this how it should look like? (fix applied)

![image](https://user-images.githubusercontent.com/6567747/47911880-fdd73400-de96-11e8-8626-513fc9706aa1.png)

[2018-11-02 11:17] agriggio commented on #4922
@Thanatomanic if the image is just a big patch of red, then sure ;-)
otherwise, please test starting from neutral. That red blob might be caused by some tweaks I made to the new color toning mode, that made old pp3's invalid

[2018-11-02 11:19] Thanatomanic commented on #4922
@agriggio I think it is indeed due to the color toning. Normally you would see the nice Amsterdam canal, and disabling `Color toning` gets rid of the red.
So if @Beep6581 agrees, this fix can be merged.

[2018-11-02 11:35] Beep6581 commented on #4922
@Thanatomanic that's the red light district ;)

[2018-11-02 11:36] agriggio commented on #4922
@Thanatomanic good, to double check please try again by setting reasonable color toning values, just to make sure. Thanks!

[2018-11-02 12:02] Beep6581 commented on #4922
@agriggio 72787cd99 looked like this:
![screenshot_20181102_125733](https://user-images.githubusercontent.com/5844619/47914259-35e27500-de9f-11e8-962e-a38cb497ec12.png)
HEAD with the patch looks like this:
![screenshot_20181102_125843](https://user-images.githubusercontent.com/5844619/47914270-4135a080-de9f-11e8-9d98-3efc00d1c7f7.png)

Resetting the CCG tool eliminates the cast, but then if I move

[2018-11-02 12:21] agriggio commented on #4922
I'll check

[2018-11-02 12:26] heckflosse commented on #4922
It's not the patch which causes this. HEAD without the patch already has this bug.

[2018-11-02 12:44] agriggio commented on #4922
@Beep6581 the bug has nothing to do with the patch. I'll fix both asap

[2018-11-02 12:49] #4922 closed, assigned to agriggio

[2018-11-02 13:00] Thanatomanic opened #4925 "Color picker in curves gives unexpected behavior when tool is disabled"
The color picker to add/modify points to the curve in the Lab color regions tool does not function ~~at all~~ as expected (added:) when the tool is disabled. ~~Maybe this functionality hasn't been implemented, but until then disabling this tool would be necessary I think.~~ @agriggio any thoughts?

(image removed)

[2018-11-02 13:04] Thanatomanic commented on #4925
Oh, wait a minute. It does work properly, however only when the tool is enabled.

Still there is a bug hidden here, because even if the tool is disabled you can modify the first points in the curve when using Ctrl+click.

[2018-11-02 13:07] thirtythreeforty commented on #4923
@TooWaBoo I can't personally reproduce this one... But I have an idea.  Can you try this patch?

[code]

[2018-11-02 13:28] thirtythreeforty commented on #4184
Looks related to a [sigc issue](https://github.com/libsigcplusplus/libsigcplusplus/issues/10)

[2018-11-02 13:43] Beep6581 commented on #4922
I should have but hadn't tested vanilla-dev, sorry about that.

[2018-11-02 13:52] agriggio commented on #4925
there's a hack in the code to make it work, which is applied only if the tool is enabled, in order to avoid doing unnecessary work. if however this is expected to work also when the tool is disabled, I can do that. there will be a modest performance impact, but I think it won't be visible (essentialy you need to go through the `L*a*b*` tool even if disabled, because that's where the color picker d

[2018-11-02 14:07] heckflosse commented on #4925
In other tools, Lab for example, pipette also don't work if the tool is disabled. I think it's ok the way it is now or we have to change the behaviour for other tools as well, which we should not do for 5.5 imho

[2018-11-02 14:09] Beep6581 commented on #4923
I managed to reproduce the ding, but unreliably. Out of about 15 attempts, I got a ding three times. Each time I do the exact same thing: delete the cache, copy my backup `options` file over the current one, then run RT:
[code]

[2018-11-02 14:14] heckflosse commented on #4923
I can reproduce it and I can confirm that the patch fixes it.

[2018-11-02 14:18] thirtythreeforty commented on #4923
Ok the unreliable aspect really points to the uninitialized variable. Can you try it with my patch @Beep6581?

[2018-11-02 14:22] thirtythreeforty commented on #4923
Thanks for testing. I will open a PR. I'm sorry this is taking so many tries to get right!

[2018-11-02 14:29] Beep6581 commented on #4923
@thirtythreeforty with your patch, I repeated the above 15 times and no ding.

[2018-11-02 15:16] thirtythreeforty commented on #4923
See #4926

[2018-11-02 15:16] #4923 closed, assigned to nobody

[2018-11-02 16:30] Thanatomanic commented on #4925
I agree we should not do anything for 5.5. But I would think that the following is undesired behavior for curves: https://filebin.net/s2gan80l6984kwyc (sorry FLV only).
Note: you first need to click in the image before the first point in the curve becomes active.

[2018-11-02 16:32] thirtythreeforty commented on #4892
I ran into this function when I was experimenting with the queueing code.  I think a cleaner solution would be to add support for `add`ing a capturing lambda.  This is essentially what all the little callback structs do; they could all go away.  I have an experimental implementation I hacked together if you're interested in seeing it (it builds a `std::function` around the lambda and defers to the

[2018-11-02 18:02] heckflosse commented on #4914
e199d1e
Processing time: ~1040 ms

[2018-11-02 19:13] Floessie commented on #4892
@thirtythreeforty George, I'm interested. Please show us the code here.

[2018-11-02 19:43] thirtythreeforty commented on #4892
Certainly, see my [initial attempt branch `idleregister-lambdas`](https://github.com/Beep6581/RawTherapee/compare/dev...thirtythreeforty:idleregister-lambdas).  Of course the IdleRegister implementation could be cleaned up (see the commit msg), and perhaps it could support `void`-returning lambdas to get rid of the `return 0` at the bottom of the lambdas.  But the basic idea is that `NLParams` goe

[2018-11-02 20:42] #4914 closed, assigned to heckflosse

[2018-11-02 22:06] heckflosse commented on #4914
240f1ea
Processing time: ~1020 ms

[2018-11-03 00:03] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-glibmm-2.58.0-1`

[2018-11-03 01:37] #4912 closed, assigned to nobody

[2018-11-03 10:21] TooWaBoo opened #4927 ""undo-small.png" button doesn't look centered"
old ![undo-small](https://user-images.githubusercontent.com/13800920/47950975-d8abf980-df5a-11e8-9da6-0dc4385fba87.png) new ![undo-small2](https://user-images.githubusercontent.com/13800920/47950978-e497bb80-df5a-11e8-84c5-284172c93b45.png)
The image is centered but doesn't look like this 'cause of the heavy part on the left. It should be moved 1px to the right.
ping @Beep6581

[2018-11-03 10:49] Hombre57 commented on #4925
The other way round, and possibly more logical, would be to enable the tool if you start editing a curve, because there's no point doing that when the tool is disabled. Probably we should make the tool unsensitive if disabled, and that would be easy to do (I guess).

[2018-11-03 10:54] heckflosse opened #4928 "Raw ca correction 'Avoid colour shift' sometimes produces a colour shift"
Example: Left neutral profile, middle neutral + raw ca correction + avoid colour shift, right same as middle, but with patched code

![grafik](https://user-images.githubusercontent.com/13733487/47951295-fbd8a800-df5e-11e8-95e1-905f62116279.png)

[code]

[2018-11-03 10:59] Beep6581 commented on #4501
Done:
http://rawpedia.rawtherapee.com/Linux#CentOS

[2018-11-03 10:59] #4501 closed, assigned to Beep6581, Thanatomanic

[2018-11-03 11:32] heckflosse commented on #4928
Unfortunately the patch does not solve all cases. For example this one still shows the issue:
Left neutral profile, middle neutral + raw ca correction + avoid colour shift, right same as middle, but with patched code

![grafik](https://user-images.githubusercontent.com/13733487/47951680-4c063900-df64-11e8-93d9-c5daaa548e09.png)

[2018-11-03 11:36] heckflosse commented on #4928
Using the better double precision gaussian blur increases processing time by ~10% in case avoid colour shift is enabled. If there are no objections, I will push the patch asap

[2018-11-03 12:39] guyru opened #4929 "Profile detection misbehaves"
Detection of profile files in `~/.config/RawTherapee/profiles` misbehaves if there is a directory inside the profiles directory.

Steps to reproduce:
1. Create a bunch of profiles and save them in `~/.config/RawTherapee/profiles`
2. Close RawTherapee
3. Create a new directory name "Test" in `~/.config/RawTherapee/profiles`
4. Reopen RawTherapee

Now the Bundled Profiles list is empty, My Profiles

[2018-11-03 12:41] TooWaBoo commented on #4928
@heckflosse
Where does the pink cast in the clouds is comming from?
I can't really see a different between the middle and right image.

[2018-11-03 12:50] Beep6581 commented on #4929
I use the following and cannot see any issues:
[code]

[2018-11-03 12:52] Beep6581 commented on #4929
Cannot reproduce using:
[code]

[2018-11-03 12:53] Beep6581 commented on #4929
@guyru please compile the latest dev, delete your cache and config, and see if you can reproduce. If you can, write specific steps - the devil is in the details.
http://rawpedia.rawtherapee.com/Linux

[2018-11-03 13:05] #4927 closed, assigned to Beep6581

[2018-11-03 13:11] heckflosse commented on #4928
@TooWaBoo The pink cast is a result from 'avoid colourshift'. There is quite heavy ca (or fringe) whichs correction leads to a shift of the average colour in that regions, which then leads to a wrong correction by 'avoid colour shift'.
I showed the example to show, that the issue is not solved for all cases. You can't see a difference between middle and right in last screenshot because there is no

[2018-11-03 17:33] FM33 opened #4930 "newlocallab branch: SIGTRAP in ?? () from /usr/lib/x86_64-linux-gnu/libglib-2.0.so.0"
Steps :
Open RT, single click on some thumbnails with a profile in cache, that's all. Trigger is not systematic.
After several crashes in a row, going directly to the same file, I tried selecting others, then going to the faulty one without crash.

I also have other crashes implying the same library while editing, mostly when moving back and forth in history.

It seems to have started when the loc

[2018-11-03 18:49] TooWaBoo commented on #4928
@heckflosse
Ahh, I thought I'm blind. 😅
No objections to merge.

[2018-11-03 22:32] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-cmake-3.12.4-1`

[2018-11-04 06:19] Desmis commented on #4930
@Pandagrapher
I found also a crash, when after "add" Control Spot, I delete all "Control spot"...It seems to be the same part of code in locallab.cc (line 979)
jacques

[2018-11-04 09:07] Thanatomanic commented on #4929
I can actually reproduce this on Win10 using the latest dev build:

https://filebin.net/7y99pkxdue3ev1vo

Update: just to be clear, I simply created a folder Test in my profiles directory and opened up RT. Clearing the cache makes zero difference. Neither does removing my options file.

[2018-11-04 09:12] Thanatomanic commented on #4921
No description?
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports 😜

[2018-11-04 09:15] Thanatomanic commented on #4910
@agriggio I'm not sure if it's relatively simple to show the histogram for the actual image, but output something else. That could give trouble with reading out colors with the pipette for example. But if it is, that would make much more sense than showing in the histogram that my image is mostly yellow.

[2018-11-04 11:11] Thanatomanic opened #4932 "Special characters were still removed when merging `colortoning-labregions`"
@agriggio @Beep6581 I'm not sure how, but first Floessie mentioned that special characters seem to have been removed [here](https://github.com/Beep6581/RawTherapee/pull/4893#pullrequestreview-168677151) by Alberto's editor. Then they got [fixed](https://github.com/Beep6581/RawTherapee/pull/4893/commits/fb44445f2acb061e5f017b6ea92a834e2002bcdd). Except that when the merge of the branch happened, th

[2018-11-04 11:35] Hombre57 commented on #4925
@agriggio It seem you did the hack you're talking about and already committed ? On my side, I'm trying to make the disabled tools unsensitive, which should solve the issue too. I'll create a new branch when done.

On a side note, I'd like to know if I'm not too pedantic at code reorganization : I'm moving the functions definition (as opposed to their prototype) from `toolpanel.h` to `toolpanel.cc`

[2018-11-04 11:45] Thanatomanic opened #4933 "Background luminance curves scaling is wrong (half-way only)"
To reproduce: enable L* a* b* adjustments and modify the L* curve. The background histogram never gets drawn further than half-way the x-axis.

![image](https://user-images.githubusercontent.com/6567747/47963661-796be900-e02f-11e8-8dfe-33245397356e.png)

[2018-11-04 12:42] heckflosse opened #4934 "Segfault when using Tonemapping on completely black data"
To reproduce:

1. Open the tiff from [here](https://discuss.pixls.us/t/playraw-landsat-8-image-of-lake-elton/9676?u=heckflosse)
2. apply the pp3 I attached
3. enable `Haze Removal`
4. enable `Show Depth Map`
5. set `Depth` to zero => segfault

[LC08_L1TP_171026_20170912_20170928_01_T1-Lake-Elton.tif.pp3.txt](https://github.com/Beep6581/RawTherapee/files/2545814/LC08_L1TP_171026_20170912_20170928_0

[2018-11-04 13:09] ff2000 commented on #4934
Doesn't crash for me.
I'm on Linux.

[2018-11-04 13:12] heckflosse commented on #4934
Making debug build now to provide a bt full

[2018-11-04 13:22] Pandagrapher commented on #4930
@FM33 @Desmis
Thanks for the report. During my work on batch mode for locallab, I randomly had the crash you described without being able to reproduced it to get a backtrace. Will take this bug for my next commit to newlocallab

[2018-11-04 14:00] agriggio commented on #4925
@Hombre57 yes, but the hack was to make the color pickers work with the new tool, not to handle the "tool disabled" case

[2018-11-04 14:01] agriggio commented on #4932
Sorry, I don't know what is going on. I have something misconfigured I suppose...

[2018-11-04 14:01] agriggio commented on #4910
@Thanatomanic that's a different thing, which is probably way trickier to implement with the current architecture

[2018-11-04 14:24] Kildor opened #4936 "Russian translation updated"
Hello.
Here is subj. I've translated Russian version (some fixes, some updates) and run generateTranslationDiffs for all existed translations, because new tools have no strings in other, except default files.

There are two diffs in archive. translations.diff is full list of i18n files, russian.diff contains only Russian file, if there are any objections to update all files.

[translations.zip](ht

[2018-11-04 16:26] Hombre57 commented on #4925
@agriggio I saw this comment in your commits :

...but didn't saw the whole picture though. Have you remove the hack ?

[2018-11-04 16:41] agriggio commented on #4925
No, it's not possible (meaning: I don't know how to do it :-) to remove it without a significant refactoring, which I'm not willing to do at the moment...

[2018-11-04 17:37] Hombre57 commented on #4925
Branch `tool-sensitivity` created. Tell me if you're fine with this behavior. If so, I'll add disconnection of the pipette and on preview editing.

[2018-11-04 18:09] Beep6581 opened #4937 "rt-cli default bit depth is invalid and leads to corrupted saved files"
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main-cli.cc#L269
`int bits = -1;`, and if you don't explicitly specify the bit-depth (`-b16`) then it remains -1

The `--help` says that the default should be 16 for TIFF.

[code]

[2018-11-04 18:12] Beep6581 commented on #4921
@Thanatomanic men don't read instructions ;)

[2018-11-04 18:32] Beep6581 commented on #4933
Confirmed.

[2018-11-04 18:35] Beep6581 commented on #4934
No crash for me either.
![screenshot_20181104_193534](https://user-images.githubusercontent.com/5844619/47968332-d33cd500-e068-11e8-8df7-94bd76fd258a.png)

[2018-11-04 18:39] Beep6581 commented on #4934
I'm a bit confused though, as the title says "completely black data" but the linked TIFF is not black, and the new title says "tonemapping" not "haze removal", so maybe I didn't test the right tool.

[2018-11-04 19:02] heckflosse commented on #4934
Setting Haze removal to 'Show depth map' using depthz value zero leads to a completely black image which then leads to a segfault if Tonemapping is enabled.

[2018-11-04 19:04] Beep6581 commented on #4932
I fixed it by cherry-picking commit 43876abb81471cabbd6219ce6188c68056fc35b2.

[2018-11-04 19:04] #4932 closed, assigned to Beep6581

[2018-11-04 19:10] Beep6581 commented on #4936
Hey

As explained here https://discuss.pixls.us/t/localization-how-to-translate-rawtherapee-and-rawpedia/2594 please upload the file `Russian`, not a patch.

[2018-11-04 19:28] Hombre57 commented on #4612
Would we have to double click on the knob ? Will double clicking on the range (not the knob) trigger a superfluous preview update ?

Pros of removing the reset button :

   1. less cluttered interface

Cons of removing the reset button :

   2. resting will be a hidden feature.

Also keep in mind that Ctrl + Reset will reset the value to its initial value (when image has been opened, theoretically

[2018-11-04 19:29] Beep6581 commented on #4936
@Kildor I managed to use your diff, but in the future please send the `Russian` file, not a patch.

[2018-11-04 19:30] #4936 closed, assigned to Beep6581

[2018-11-04 20:27] Thanatomanic commented on #4612
I think anywhere on the slider triggers a click event.

I don't think so. If the event registers as a single click, you can do something else than for a double click.

[2018-11-04 20:29] Beep6581 opened #4939 "Delete all color pickers doesn't work"
The Lockable Color Picker tooltip says "Delete all color pickers with Shift + Right mouse button click".
1. Open image in Editor.
2. Create a few Lockable Color Picker spots.
3. Shift + right-click a spot - nothing happens. Shift + right-click anywhere but over a spot - the hand tool becomes selected.

[2018-11-04 20:54] agriggio commented on #4932
I have now forced Emacs to use utf-8 as the default coding system, hopefully this will solve the issue for good... sorry again

[2018-11-04 21:05] heckflosse commented on #4934
I will take this one. It's clearly a bug in the old Tonemapping

[2018-11-05 07:17] #4934 closed, assigned to heckflosse

[2018-11-05 07:20] heckflosse opened #4941 "TooWaBlue: Warning in console"
Using TooWaBlue theme I get the following warning in console:

[code]

No warning when using RawTherapee theme

[2018-11-05 07:22] #4928 closed, assigned to heckflosse

[2018-11-05 07:47] Floessie commented on #4925
@Hombre57

I'm strict with my code in this respect, but your mileage may vary. Thing is: One day someone wants to experiment with `setExpanded()` and change the default implementation. Changing the header will lead to massive recompilation. So the stub has to be moved to the implementation anyway, and doing that from the beginning is a helping hand to one who has to deal with the code after you.

[2018-11-05 08:30] Floessie commented on #4892
@thirtythreeforty First of all, I really like the idea of adding capturing lambdas (and I'm a bit jealous I didn't come up with this first :stuck_out_tongue:).

[code]

What's the reason for this template function? `std::function<>` takes lambdas, so why add another forwarder to it?

[code]

This is still leaking in `destroy()`, that's why I added the deleter.

I think this is a nice `add()`-on to

[2018-11-05 09:16] heckflosse commented on #4918
@Beep6581 Can you show a screenshot which shows what's currently wrong with the splash screen?

[2018-11-05 09:42] Beep6581 commented on #4918
The first time someone runs RT they will see the Release Notes tab in the About window. That looks fine, but if they switch to the Splash tab, they see this:
![screenshot_20181105_103911](https://user-images.githubusercontent.com/5844619/47990188-31a89880-e0e7-11e8-9e17-d9811c803917.png)

Suggestion 2 above is nonsense, it wouldn't improve anything.

A splash screen is meant to be displayed while

[2018-11-05 09:51] heckflosse commented on #4918
Here's how it looks on my machine:
![grafik](https://user-images.githubusercontent.com/13733487/47990807-c069e500-e0e8-11e8-9946-30df433245cc.png)

[2018-11-05 10:12] Beep6581 commented on #4918
@heckflosse you're right. KDE lets you specify window rules, for example to make specific windows assume specific sizes at specific locations, and I had two rules for RawTherapee which I forgot about, they caused my default About window to be larger.

With the rules removed:
![screenshot_20181105_110832](https://user-images.githubusercontent.com/5844619/47991888-af6ea300-e0eb-11e8-9500-1a6c74ef904

[2018-11-05 10:14] #4918 closed, assigned to nobody

[2018-11-05 10:14] Beep6581 commented on #4918
Closed as invalid.

[2018-11-05 10:55] Beep6581 commented on #4429
Let's aim for a feature-freeze this weekend (November 10), then a release candidate about two weeks later (November 24), and if all goes well, then a stable release some time around December 17.

[2018-11-05 12:31] heckflosse opened #4942 "SSE: Review usage of vminf, vmaxf functions"
The SSE intrinsics _mm_min_ps(a, b) and _mm_max_ps(a, b) which are used in vminf(a, b) and vmaxf(a, b) return the second argument (b) if one of the arguments is a NaN.

We can use this fact to make for example the vectorized LUT access methods a bit more robust without impact on performance:

[code]

@Floessie Thoughts?

[2018-11-05 12:54] Floessie commented on #4942
@heckflosse Good idea. :+1: `vminf()` and `vmaxf()` should also be well documented for the NaN case, don't know if that was already done.

[code]

The real trick is changing `indexv` and `maxsv` here, isn't it? The other change is just a safety net if `maxsv` is also NaN.

Best,
Flössie

[2018-11-05 13:01] heckflosse commented on #4942
@Floessie Yes, though we could also keep indexv and maxsv and do just the other change in case we want to get element 0 instead of elemend maxs for NaN indizes.
Should we access lut[0] or lut[maxs] in case of nan indizes?

[2018-11-05 13:28] thirtythreeforty commented on #4892
Ha, glad you like it.  Feel free to take it and run with it.

So I thought that's needed because a lambda isn't a std::function, and I wanted to be able to pass lambdas directly to add(). Upon checking the docs, I see the std::function constructor is not `explicit` so you may not need the overload at all.  If you can delete it from my branch and everything still builds, it's unnecessary.

In destr

[2018-11-05 13:35] Floessie commented on #4942
`lut[0]` seems more "default" to me.

[2018-11-05 13:44] heckflosse commented on #4942
Ok, I will go for lut[0] then and also document the NaN case for vminf and vmaxf

[2018-11-05 13:58] heckflosse commented on #4942
@Floessie here's the new patch:

[code]

[2018-11-05 14:07] Floessie commented on #4892
@thirtythreeforty

:+1:

I can tell from other code that it is indeed unnecessary. I was just curious if there was another reason for this forwarder.

Thanks for the pointer. I'm fond of explicit locking/unlocking* but I see the value in RAII which I often use (but not with locking).

Best,
Flössie

*) IMHO, lock guards are often used thoughtlessly and too broad. To cope with that, you have to use

[2018-11-05 14:39] Floessie commented on #4942
@heckflosse Doesn't the `vmaxf(vminf(...), ...)` call for a `vclampf()`?

[2018-11-05 14:45] heckflosse commented on #4942
@Floessie there is no vclampf() atm. Let's complete this one first. Then I will look for all vectorized clamp cases in a different issue (or at least with a different patch)

[2018-11-05 14:48] Floessie commented on #4942
@heckflosse

That's what I meant. :)

:+1:

[2018-11-05 15:25] heckflosse commented on #4942
@Floessie now we have the situation that
vminf(a,b) returns b if a is NaN
while in rt_math.h
[code]
returns a if a is Nan

Shall I make it consistent?

[2018-11-05 16:04] heckflosse commented on #4942
@Floessie Here's the `vclampf` patch

[code]

[2018-11-05 17:05] #4937 closed, assigned to Beep6581

[2018-11-05 18:01] Floessie commented on #4942
@heckflosse

That would be beneficial. But please remember that we implemented `rtengine::min()` like this for a reason (better code by the compiler, on par with `std::min()`), so `rtengine::min()` shouldn't be modified.

As always, excellent work, Ingo! :+1:

[2018-11-05 18:13] heckflosse commented on #4942
@Floessie hmm

rtengine::min could also be

[code]

which should give the same performance as the current
[code]

but would be consistent with vminf.

Same for rtengine::max

[2018-11-05 18:31] Floessie commented on #4942
AFAIK, the `a < b ? a : b` was the initial implementation and we changed it for the better after studying the assembly.

[2018-11-05 18:32] heckflosse commented on #4942
I will delay that for after 5.5 release. For now I will commit vclampf and close the issue. Ok?

[2018-11-05 18:33] Thanatomanic commented on #4942
Honestly? Layman optimization person here. But does the order really matter for efficiency?

[2018-11-05 18:35] heckflosse commented on #4942
@Thanatomanic I don't think the order should matter for efficiency in this case. But it matters for the result, which is different between the two implementations in case `a` is NaN

[2018-11-05 18:41] Floessie commented on #4942
@heckflosse @Thanatomanic Hm, I only find #3742. I'm pretty sure, I've checked the assembly and GCC optimizes for the `b < a` case, but I can re-check it tomorrow.

[2018-11-05 18:48] heckflosse commented on #4942
@Floessie Maybe you checked the >= case ?

[2018-11-05 19:08] heckflosse commented on #4942
https://godbolt.org/ will tell us ;-)

[2018-11-05 19:10] heckflosse commented on #4942
![grafik](https://user-images.githubusercontent.com/13733487/48020730-e5854480-e136-11e8-80e7-727670c63544.png)

Somehow the screenshot of the SSE2-only version got lost:
![grafik](https://user-images.githubusercontent.com/13733487/48022176-c1c3fd80-e13a-11e8-9e57-67bcb02d4eed.png)

[2018-11-05 19:21] gaaned92 commented on #4941
same here

`(rawtherapee.exe:15268): Gtk-WARNING **: 20:18:30.961: for_size smaller than min-size (19 < 20) while measuring gadget (node button, owner GtkToggleButton)`

[2018-11-05 19:34] heckflosse commented on #4942
So, one more reason to prefer

[code]

over

[code]

[2018-11-05 19:34] Floessie commented on #4942
@heckflosse Yeah, you're right. My mind plays tricks on me. I must have mixed it up with something different.

[2018-11-05 19:35] Floessie commented on #4942
Still interesting, that the STL implements it like we do currently...

[2018-11-05 19:41] heckflosse commented on #4942
@Floessie I guess the STL follows the rule: if one argument is NaN, then the result will be Nan

[2018-11-05 19:43] Thanatomanic commented on #4942
@heckflosse  .. which to me makes sense. If you're comparing to a non-number, still getting a number out is a bit silly.

[2018-11-05 19:46] heckflosse commented on #4942
@Thanatomanic yes, but that's what _mm_min_ps and _mm_max_ps do. It's just a matter of the order of arguments. For that reason I want to get it consistent to get the same behaviour in SSE code and in scalar code which processes the remaining pixels if the length of the input % 4 != 0

[2018-11-05 19:47] heckflosse commented on #4942
@Thanatomanic Well, whether that's silly is a different topic ;-)

[2018-11-05 19:48] Floessie commented on #4942
@heckflosse Found it: The reason is, the standard says "Returns the first argument when the arguments are equivalent".

[2018-11-05 19:51] heckflosse commented on #4942
@Floessie Isn't that true also for the changed implementation (because the first argument is equal to the second argument) or do I miss something?

[2018-11-05 19:54] Floessie commented on #4942
If `a == b` it takes the `false` branch, so `b` is returned.

[2018-11-05 19:56] Floessie commented on #4942
It's [N3242](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2011/n3242.pdf) 25.4.7 remark 3 on page 887.

[2018-11-05 19:57] Thanatomanic commented on #4784
What will be the resolution for this in view of a 5.5 RC?

[2018-11-05 20:05] heckflosse commented on #4942
@Thanatomanic The STL does not what you describe, try this:

[code]

output on my machine:

[code]

[2018-11-05 20:06] Thanatomanic opened #4943 "What does this do? Highlight preservation in RAW settings."
I am a bit lazy here, but this is easier to ask than to look up in the code: which setting is copied when you tick `Highlight preservation`? I can't seem to find a corresponding setting in the editor.

![image](https://user-images.githubusercontent.com/6567747/48023649-b4107700-e13e-11e8-9a28-40f184721547.png)

[2018-11-05 20:09] heckflosse commented on #4942
Ok, let's focus on the desired behaviour. I'm for returning value of b in rtengine::min/max(a,b) if a is NaN for consistency reasons.

[2018-11-05 20:12] heckflosse commented on #4943
@Thanatomanic Good catch. No detailed answer from me atm. Looks wrong. Have to investigate.

[2018-11-05 20:26] heckflosse commented on #4942
In STL std::mim/max with one ore two arguments being NaN is undefined behaviour. I would like to get a defined behaviour for rtengine::min/max.

On machines with SSE that can be simply done by this

[code]

[2018-11-05 20:40] Thanatomanic commented on #4942
I strongly feel for this reasoning regarding NaN: https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values/1573715

Then again, I have no clue where and how often a NaN comparison might occur in RT code.

[2018-11-05 21:07] heckflosse commented on #4942
There are only a few NaN comparisons in RT code. But we often ran into NaN problems (especially when accessing Lookup tables using NaNs. There has been more than one request to avoid NaN access in Lookup tables (rtengine/LUT.h) and I always voted against solving this in LUT.h for two reasons:

1) degrading performance of LUT.h access methods (that's not an issue with the current change)
2) crashin

[2018-11-05 23:46] Hombre57 commented on #4939
@Beep6581 Don't know if it's a bug in the source or in the doc... You can delete them all while pressing Ctrl + Shift + Right mouse button over a Color Picker, while in the Color Picker editing.

[2018-11-06 06:35] ff2000 commented on #4943
Probably Highlight Compression?

[2018-11-06 07:18] Beep6581 commented on #4939
Confirmed. Will update the docs later, have a flight to catch.

[2018-11-06 07:36] Floessie commented on #4942
@heckflosse How about this?

[code]

I tried to integrate your SSE2 code, but that would mean loosing `constexpr` and even `const T&` return types on all templates. :unamused:

[2018-11-06 09:03] iliasg commented on #4943
It's a remnant of the initial "White point correction" implementation which included a highlight preservation slider .. which were compressing highlights in order to not be clipped.
Sometimes I which it was still there ;)

[2018-11-06 11:42] heckflosse commented on #4943
I will remove all the related stuff from code now

[2018-11-06 11:45] heckflosse commented on #4942
@Floessie Looks good :+1: Though I think we should not do that for 5.5 because it's a bit risky.

Assume for example cases of max(0.f, some_variable) where the current implementation returns 0.f if some_variable is NaN while the new version would return NaN. We have to inspect all the cases when we change this.

[2018-11-06 12:26] heckflosse commented on #4943
For reference:
https://github.com/Beep6581/RawTherapee/issues/2118

[2018-11-06 12:39] heckflosse commented on #4943
Currently the raw.preser setting is still used in code. Usually it's zero, but there may be very old (more than 3 years old) pp3 files where it is != zero. Should we still support this setting in old pp3 files?

[2018-11-06 15:08] heckflosse opened #4944 "Small speedup for dehaze"
Measured on AMD FX8350 using a 24MP ARW file.

processing time unpatched: ~1540 ms
processing time patched: ~1420 ms

[code]

[2018-11-06 15:47] TooWaBoo commented on #4148
New update
[code]

[2018-11-06 16:04] TooWaBoo commented on #4941
Yes, I know but I couln't find the culprit yet and I don't know how this could happen but I'm working on it.

[2018-11-06 17:28] TooWaBoo commented on #4941
Yeah, found it, it was the recent folder list combobox. Fix provided.

[2018-11-06 17:41] Waveluke commented on #4285
I am also seeking a resolution to this request, primarily for my Blackmagic Pocket Cinema Camera, and can volunteer to hunt for someone who can do it if I can get the info of: How much of a time commitment will this project be? What sort of specific expertises within the vast world of Computer Science/ Coding are needed?

Take note that I do not have any computer coding knowledge aside from basic

[2018-11-06 17:43] heckflosse commented on #4941
@TooWaBoo Fix confirmed. Thank you :+1:

[2018-11-06 18:42] Waveluke commented on #4285
Update: someone at Pixls gave me the skillset info needed to recruit someone to work on this, but I would like to know, besides Pixls and here at GitHub, would there be any other options for me to get the my recruit in contact with the developers?

[2018-11-06 18:47] paperdigits commented on #4285
Yes, #pixlsus or #rawtherapee on Freenode, which is IRC, a chat application.

[2018-11-06 19:25] heckflosse commented on #4944
@agriggio Alberto, as I think the patch is save, I would like to commit it. Any objections?

[2018-11-06 19:43] Floessie commented on #4892
@heckflosse I assigned this issue to myself as I'm working on it. Due to the many places I have to convert this will take some time. But 5.6 isn't just around the corner...

[2018-11-06 20:11] Hombre57 commented on #4943
@heckflosse On my side it depends on how good the effect of this parameter is.

[2018-11-06 20:16] heckflosse commented on #4943
@Hombre57 The parameter is deprecated since 3 years.

[2018-11-07 10:15] Hombre57 commented on #4943
@heckflosse Then I'll let you decide :wink:

[2018-11-07 19:49] heckflosse commented on #4285
I take this issue. I test with Blackmagic files atm.

For reference the version using adobe dng converter:

![grafik](https://user-images.githubusercontent.com/13733487/48156519-dab0e800-e2cd-11e8-917c-c0b658429754.png)

The original dng file has two tiles (onle left, one right).
Here's a screenshot of my current mockup where the left tile already is decoded correctly. Don't care about the colours

[2018-11-07 21:33] Thanatomanic opened #4945 "Partial profile application of Detail settings does not work"
To reproduce:
- Enable Sharpening or any other tool on the Detail tab and set to some arbitrary values
- Save the profile
- Apply Neutral
- Apply Partial the previously saved profile, and only select the 'Detail settings' block

Result: the settings do not get applied.
If you fully apply the saved profile, the settings will get applied.

I haven't tested this thoroughly with other settings because

[2018-11-07 21:47] Beep6581 commented on #4945
@Thanatomanic I just tried to reproduce in `5.4-1098-g`e1742c812 and could not. Can you confirm that your saved PP3 has the `[Sharpening]` section? What was your fill mode when opening the PP3?

[2018-11-08 04:28] Waveluke commented on #4285
Thanks so much.

So excited for native support!

Thanks,
Waveluke.

On Wed, Nov 7, 2018 at 11:49 AM Ingo Weyrich <notifications@github.com>
wrote:

[2018-11-08 04:34] Waveluke commented on #4285
I have the Blackmagic Pocket Cinema Camera on hand if anything else is needed, in terms of files, camera tests or other things.

[2018-11-08 06:40] Thanatomanic commented on #4945
Yes, see here: [Sharpening-try.pp3.txt](https://github.com/Beep6581/RawTherapee/files/2560567/Sharpening-try.pp3.txt)

Not sure how to call it, but this:
![image](https://user-images.githubusercontent.com/6567747/48181874-77ed3a00-e329-11e8-8615-157dd59e74a4.png)
Changing the mode does not change the outcome for me.

[2018-11-08 06:43] Thanatomanic commented on #4945
Btw, to reproduce: I use the context menu and use 'Apply - partial'. If I Ctrl+click the 'Load profile from file' button and then select the Detail settings, the settings will be applied as expected.

[2018-11-08 10:57] heckflosse commented on #4285
Now the right tile is also decoded:
![grafik](https://user-images.githubusercontent.com/13733487/48194405-32daff00-e34d-11e8-9d2f-3bb39f26ef75.png)

[2018-11-08 11:01] heckflosse opened #4946 "Wrong folder selected when rt is started in verbose mode"
verbose set to false, correct

![grafik](https://user-images.githubusercontent.com/13733487/48194492-7cc3e500-e34d-11e8-8108-f5866f5b2f79.png)

verbose set to true, wrong

![grafik](https://user-images.githubusercontent.com/13733487/48194590-b85eaf00-e34d-11e8-856a-601b3b94cba9.png)

[code]

[2018-11-08 11:04] Thanatomanic commented on #4326
Closing, since this is done with PR #4898.

[2018-11-08 11:04] #4326 closed, assigned to nobody

[2018-11-08 11:34] heckflosse commented on #4946
This fixes the bug, though I don't know why...

[code]

[2018-11-08 12:10] heckflosse commented on #4946
Here's a better fix

[code]

Now I also see the output, which is:
[code]

[2018-11-08 12:11] Thanatomanic opened #4947 "openSUSE compilation is not working as described"
Looking at this issue #4752 I tried building the latest dev on openSUSE Leap 42.3. However, I run into multiple issues and have so far not built RT succesfully. The goal of this issue is to list the problems so that the docs may be updated at some point.

- Requires `sudo zypper git`
- By default GCC 4.8 is installed, which is not enough for RT. Updating is rather difficult, but this worked (subst

[2018-11-08 13:35] #4944 closed, assigned to heckflosse

[2018-11-08 14:15] heckflosse commented on #4784
Using gtk+ 3.24.1 on Windows I can not reproduce the flickering reported above

[2018-11-08 14:21] heckflosse commented on #4148
I just did pacman -Syuu which brought me `mingw-w64-x86_64-cairo-1.16.0-1` and `mingw-w64-x86_64-gtk3-3.24.1-1`.
Seems to work fine.

Edit: https://github.com/Beep6581/RawTherapee/issues/4784#issuecomment-437014528

[2018-11-08 14:36] heckflosse commented on #4784
Update: The flickering is gone but the filename tooltips in browser now don't allow me to open images...

[2018-11-08 16:07] Hombre57 commented on #4784
@heckflosse

What do you mean ?

[2018-11-08 16:17] heckflosse commented on #4784
@Hombre57 The tooltips appear under the mouse cursor and doubleclicking a thumb then does nothing

[2018-11-08 16:41] heckflosse commented on #4285
@Waveluke Can you provide files as described [here](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats)?
If you have access to a ColorChecker, please also provide shots as described [here](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target).

[2018-11-08 17:53] Thanatomanic commented on #4947
Additional things needed to get through the build script and start building:
- Need to build and install `lensfun` from scratch
- Need to build and install `libiptcdata` from scratch
- `sudo zypper libcanberra-gtk3-devel`

Only to almost immediately stop building on an error
[code]

I am out of my depth here and fear that many more modifications will be necessary. @Beep6581 Suggestion to remove op

[2018-11-08 18:27] Hombre57 commented on #4784
Ping @TooWaBoo

Maybe increasing `marging-top` could solve the problem ?

[2018-11-08 18:29] TooWaBoo commented on #4148
New update
[code]
`(*) mingw-w64-x86_64-cairo-1.16.0-1` works fine now and can be updated.

@heckflosse
`mingw-w64-x86_64-gtk3-3.24.1-1` has the same bugs as before and I suggest not to update.

[2018-11-08 18:37] TooWaBoo commented on #4784
@heckflosse
On Win10 it's still flickering.

@Hombre57
No that wouldn't help. The tooltip **position** can not be controlled by the theme. The behavior also depends on the font size and/or dpi. Test with font size 18, then it's flickering on the toolbars too. There is something wrong with the calculation of the tooltip or mouse position in GTK+3.24.

[2018-11-08 18:41] heckflosse commented on #4148
@TooWaBoo I agree with the suggestion to not update to 3.24.x atm

[2018-11-08 20:07] heckflosse commented on #4285
With last commit I get 1.5x speed for decoding of dng files with 2 tiles (blackmagic pocket...), and triple speed for decoding of dng files with 8 tiles (blackmagic 4k) measured on my 8-core (files loaded from SSD)

[2018-11-08 20:30] Thanatomanic commented on #4947
I've tried openSUSE Leaf 15.0 which works already much better out of the box.

Assuming you have a working compiler setup you need:
[code]

lensfun needs to be installed manually unfortunately

[code]

Afterwards running `./build-rawtherapee` seems to work like a charm.
**Update**: yes RT runs!

[2018-11-09 11:12] heckflosse commented on #4285
I added support for the Magic Lantern files.
Screenshot shows the raw from first post:

![grafik](https://user-images.githubusercontent.com/13733487/48259561-9b42e280-e418-11e8-9caf-42576c73b662.png)

[2018-11-09 11:25] hholtm opened #4948 "Artifacts caused by weighted standard tone curve"
Take a raw (dng) with a highlighted area, e.g. sun,

1. open with profile auto-matched curve iso low
2. activate tonecurve 2 / custom / weighted standard
3. change tonecurve: artefacts ocure in highligted area
4. change mode to any other than weighted standard: everything is ok

I tested this behavior with RT-dev-1091. No artefact could be seen even with tonecurve 2 / custom / weighted standard.

[2018-11-09 11:28] Thanatomanic commented on #4948
If possible can you provide:
- a screenshot
- a dng + pp3 file for us to test

[2018-11-09 11:29] hholtm commented on #4948
I forgot:
I'm using RT with Win10/64

[2018-11-09 11:34] hholtm commented on #4948
![t1](https://user-images.githubusercontent.com/39562391/48260392-9fbcca80-e41b-11e8-9522-242f2f302f5b.JPG)
first without using toncurve 2, second with changed tonecurve

[2018-11-09 11:38] hholtm commented on #4948
files: https://filebin.net/ykhci069uyxs5q96

[2018-11-09 11:59] heckflosse commented on #4285
@jedypod Can you provide files from `Digital Bolex D16` ?

[2018-11-09 12:15] heckflosse commented on #4948
Confirmed

[2018-11-09 12:56] #4948 closed, assigned to heckflosse

[2018-11-09 13:03] heckflosse commented on #4946
Can someone using Windows confirm the bug and the fix?
@TooWaBoo @Hombre57

[2018-11-09 13:25] TooWaBoo commented on #4946
I don't get this bug in Win10.

[2018-11-09 13:46] heckflosse commented on #4285
Using linearization table gives much better colors for blackmagic files:

![grafik](https://user-images.githubusercontent.com/13733487/48265939-309ca180-e42e-11e8-9a3f-be621b38f2d8.png)

[2018-11-09 13:48] Thanatomanic commented on #4285
@heckflosse I can try to get you a colour chart file from the black magic compact cinema. Would it matter that it wasn't shot under any controlled lighting or perfect exposure?

[2018-11-09 13:53] heckflosse commented on #4285
@Thanatomanic Don't know. @Beep6581 knows

[2018-11-09 14:12] heckflosse commented on #4946
@TooWaBoo Can you confirm that the fix does not hurt on Win10?

[2018-11-09 14:32] heckflosse commented on #4285
With last commit the camera model is shown in info-dialog instead of `Unknown` for blackmagic cameras

![grafik](https://user-images.githubusercontent.com/13733487/48268185-9c820880-e434-11e8-93c1-c8b3066de967.png)

[2018-11-09 15:33] TooWaBoo commented on #4946
I've tried many times and couldn't reproduce the bug.

[2018-11-09 15:56] heckflosse commented on #4946
@TooWaBoo Did you try to open a folder which is on the same drive as your `pagefile.sys`?

[2018-11-09 17:14] TooWaBoo commented on #4946
I did it like your screenshots and opened drive C.
![grafik](https://user-images.githubusercontent.com/13800920/48277486-1a510e80-e44b-11e8-9b86-380a15644149.png)
![grafik](https://user-images.githubusercontent.com/13800920/48277528-3d7bbe00-e44b-11e8-933b-568739eb3878.png)

[2018-11-09 17:30] gaaned92 commented on #4148
You have also to avoid gtkmm3 update to 3.24 in pacman.conf

[2018-11-09 17:30] TooWaBoo opened #4949 "Make WB-Picker button look like other Toolbuttons in the Toolbox"
ping @Beep6581
I've modified the WB-Picker button and need the `color-picker.png` as `color-picker-small.png`.
I've also replaced `hbox `with `grid `and added the classes `grid-spacing` and `grid-row-separator`.
![unbenannt](https://user-images.githubusercontent.com/13800920/48278191-1d4cfe80-e44d-11e8-8c1a-069f7bbaeb58.png)

[2018-11-09 17:32] TooWaBoo commented on #4148
@gaaned92
Are there any issues with gtkmm3? Works fine here.

[2018-11-09 17:43] heckflosse commented on #4285
Short status report:

I tested the latest code with all Canon DNG files I have (from Magic Lantern, Adobe DNG converter, Adobe Lightroom) as well as with all Blackmagic DNG files I have (straight out of camera and also converted using Adobe DNG converter). All decode correctly. Imho this issue can be set to 5.5 Milestone.

[2018-11-09 18:03] Beep6581 opened #4950 "Document Haze Removal"
The new Haze Removal tool from #4326 needs to be documented.

[2018-11-09 18:04] Beep6581 opened #4951 "Document Auto-Matched Tone Curve"
The Auto-Matched Tone Curve feature needs to be documented.

[2018-11-09 18:05] Beep6581 opened #4952 "Document Dynamic Range Compression"
The Dynamic Range Compression tool needs to be documented.

[2018-11-09 18:06] Beep6581 opened #4953 "Document Contrast Threshold"
The Contrast Threshold slider in the Shaprening tool needs to be documented.

[2018-11-09 18:07] Beep6581 opened #4954 "Document Local Contrast"
The Local Contrast tool needs to be documented.

[2018-11-09 18:07] Beep6581 opened #4955 "Document Soft Light"
The Soft Light tool needs to be documented.

[2018-11-09 18:08] Beep6581 opened #4956 "Document Color Correction Grid"
The Color Toning tool's new Color Correction Grid needs to be documented.

[2018-11-09 18:09] Beep6581 opened #4957 "Document Correction Regions"
The Color Toning tool's new Correction Regions needs to be documented.

[2018-11-09 18:10] Beep6581 opened #4958 "Document Avoid Color Shift option in Raw CA Correction"
The Avoid Color Shift option in Raw CA Correction needs to be documented.

[2018-11-09 18:12] Beep6581 opened #4959 "Document ICC Profile Creator"
The ICC Profile Creator tool needs to be documented.

[2018-11-09 18:12] Beep6581 opened #4960 "Document Pixel Shift"
The Pixel Shift demosaicing settings need to be documented.

[2018-11-09 18:16] Beep6581 commented on #4947
@Thanatomanic lets update the docs tailoring them to openSUSE 15.

[2018-11-09 18:21] Beep6581 commented on #4285
@Thanatomanic

That would be good. There's a good chance that it would improve the situation. I can judge whether they're usable once I see the file.

[2018-11-09 18:28] Thanatomanic commented on #4285
How about these two? https://filebin.net/qgfqlh62gjsbls8j

[2018-11-09 18:36] Beep6581 opened #4961 "Document Dual Demosaic"
Update the Demosaicing documentation with the dual-demosaic options.

[2018-11-09 18:42] Beep6581 commented on #4958
Also the Iterations and Auto-Correction sliders.

[2018-11-09 19:12] heckflosse commented on #4961
I'm not a native english speaker. What does `Document` mean? ;-)

[2018-11-09 19:24] Beep6581 commented on #4961
It's something homo sapiens used to do before YouTube.

[2018-11-09 19:26] heckflosse commented on #4961
What's YouTube?

[2018-11-09 19:32] iliasg commented on #4285
Ingo !!!

Nice .. only one problem .. when we convert the in_camera DNG to "AdobeDNG" with adobe dng converter .. RT does not recognize the colormatrix2 of the new file. The colors are as if no color matrix is used.
BTW I am uploading in the above filebin the adobe converted files and the dcps I extracted from both the original and converted files.
Looks like both the dng converted and dcp tool so

[2018-11-09 19:45] Thanatomanic commented on #4947
RawPedia has been updated.

[2018-11-09 19:45] #4947 closed, assigned to Thanatomanic

[2018-11-09 19:53] heckflosse commented on #4285
@iliasg

I didn't change that. Should be no difference for this case before/after changes

[2018-11-09 20:01] Thanatomanic opened #4962 "Document Microcontrast"
It's current documentation is gloriously unfulfilling: http://rawpedia.rawtherapee.com/Edges_and_Microcontrast

In the best case, I think it deserves a separate entry.

[2018-11-09 20:05] iliasg commented on #4285
Yes it's same (wrong) as before :)

[2018-11-09 20:12] heckflosse commented on #4285
@iliasg Decoding of native Blackmagic DNG files (without using Adone DNG converter) gives good results now imho. Do you agree that it's ready for 5.5 release?

[2018-11-09 20:43] iliasg commented on #4285
@heckflosse Ingo yes .. it's almost ready for release .. waiting for a proper dcp profile (I cannot build one from the avaible shots :( )

I was wrong for the "more reasonable WB values" coming from "adobe's matrix" I mentioned before .. the "more reasonable" WB values is the result of RT not detecting the colormatrix2 in the converted file ..

BTW I think the extracted dcp gives better colors whe

[2018-11-09 20:46] heckflosse commented on #4285
@iliasg Ilias, let me explain a bit more:

Blackmagic DNG files need to be processed fast (as there are a lot of them for one video). For that reason, native processing (without need to use Adobe DNG converter) is preferable to reduce processing time and storage space.

@Waveluke may correct me if my assumption is wrong

[2018-11-09 20:46] Thanatomanic commented on #4285
@iliasg Unfortunately, I don't have access to the camera anymore, and cannot help (producing better shots if needed).

[2018-11-09 20:47] heckflosse commented on #4285
@iliasg ping @Beep6581 for the dcp and the matrices. Let's wait for @Waveluke . He offered to provide images.

[2018-11-09 21:09] Beep6581 commented on #4945
Issue confirmed.

1. Open a raw, enable Sharpening, change the settings.
2. Save a PP3 to your "My profiles" folder.
3. Right-click on the thumb in the Filmstrip and Apply Partial your newly saved profile.

When I tick "Sharpening" in the "Partial paste processing profile" window, the Sharpening tool does not get activated and its values don't change.

While testing several times I found that acti

[2018-11-09 21:30] Thanatomanic opened #4964 "Compiling RT 5.5 on FreeBSD 11.2"
This is a non-issue, just for reference sake. While it is possible to get RT 5.5 to work on FreeBSD 11.2, there seems to be no openmp support (at least not in my VirtualBox installation), so performance will be very limited.
In any case, since FreeBSD does not come with a default desktop shell, it does not seem very likely for anyone to use it for any serious desktop and photo editing work. My sug

[2018-11-09 21:33] heckflosse commented on #4964
:+1:

[2018-11-09 21:34] Beep6581 commented on #4285
Since one of the shots was taken using fluorescent light, a good dual-illuminant D50/StdA profile is not possible. However, I made one just for testing. I uploaded both to the bin:
https://filebin.net/qgfqlh62gjsbls8j

[2018-11-09 21:51] Waveluke commented on #4285
"Blackmagic DNG files need to be processed fast (as there are a lot of them for one video). For that reason, native processing (without need to use Adobe DNG converter) is preferable to reduce processing time and storage space."

You are correct with that, and I am just seeking native support for proper decoding of CDNG files from the Blackmagic Pocket Camera, in time for v. 5.5 release, and if th

[2018-11-09 21:52] Waveluke commented on #4285
Any other things besides color checker shots I can provide, however.

[2018-11-09 21:59] iliasg commented on #4285
@heckflosse Ingo, another feature which the cinemaDNG users will ask is to automatically crop at the default size .. here 1920x1080 .. RT does no use of the default origin/crop DNG tags .. we can either use camconst.json for this or improve RT's tag recognition and use ... what do you think ?.

[2018-11-09 22:00] heckflosse commented on #4285
@Waveluke Which OS are you using? In case you use Windows, I can ask for a build of the Blackmagic branch...

[2018-11-09 22:01] heckflosse commented on #4285
@iliasg Just set the raw border to 16 will be fine :) No need to use camconst.json for this

[2018-11-09 22:01] heckflosse commented on #4285
@iliasg will be fine for the blackmagic file I meant

[2018-11-09 22:03] Waveluke commented on #4285
Windows is correct.  As to the concern about not autocropping to 1920 by 1080, I like having access to the extra pixels for a slight recompose.  If a user is bothered by it, they can set a custom crop and save as a Blackmagic BMPCC processing profile, and load it whenever setting parameters for a BMPCC chain of stills.

[2018-11-09 22:07] Waveluke commented on #4285
Apparently there is also this raw border crop feature in the new Rawtherapee as well, I do not think I saw it in 5.4 stable release.

[2018-11-09 22:12] Beep6581 commented on #4285
Another solution would be to use dynamic profiles. Once RT ships with some built-in dynamic profiles (#4488), handling the crop origin/size for the Blackmagic Pocket Cinema Camera would be trivial.

[2018-11-09 22:34] heckflosse commented on #4285
@Waveluke

Yes, that's a new feature in > 5.4 builds. That's what I refered to mentioning the 16 pix raw border above.

[2018-11-09 22:36] iliasg commented on #4285
OK looks fine for the BM samples we have .. but ..
- I am sure there are cases where the border is not symmetric or maybe even the 16pixels is not enough ..
- It's a little faster if you start with the correct crop ;)

[2018-11-09 22:37] Thanatomanic commented on #4285
@Beep6581 See https://filebin.net/qgfqlh62gjsbls8j
I've added jpegs of `amsterdam.pef` with your DCP applied in various ways, and also jpegs of the daylight color chart with camera default and DCP applied. Was that what you wanted?

[2018-11-09 22:47] Waveluke commented on #4285
Oh and the proper border for 1080 output for the BMPCC is 12 pixels not 16, at least the according to the misdecoded native BMPCC files and the properly decoded Adobe DNG converter files.  For both instances I have seen a resolution of 1944 by 1104, and subtract 1920 by 1080 from both dimensions and you get 24 extra pixels of width, and 24 extra pixels of height.  since there are two borders per d

[2018-11-09 22:50] iliasg commented on #4285
@Beep6581 Fine !! .. do you have the spyder24 reference values available .. just to check a bit ..

[2018-11-09 22:51] Waveluke commented on #4285
And full pixel readout should always be an option, so that footage can be stabilized in the NLE of the users choice and require a less intense crop.   Although I will say, center crop 540 by 960 upscaled to 1080p BMPCC footage raw developed in RT can look as sharp or sharper than native DSLR h264 captured full 1080p!

[2018-11-09 22:52] Waveluke commented on #4285
RT developed BMPCC 1080p has certainly put me in the 4k is overrated camp!

[2018-11-09 23:01] iliasg commented on #4285
It's 1944 x 1104 after  cropping of the default 4pix border .. it's 1952 x 1112 originally ;)

[2018-11-09 23:29] heckflosse commented on #4285
@Waveluke

![grafik](https://user-images.githubusercontent.com/13733487/48293419-47b7af80-e47f-11e8-813e-b3b43e04cf81.png)

![grafik](https://user-images.githubusercontent.com/13733487/48293467-80f01f80-e47f-11e8-85f0-f89c05cc1ac7.png)

[2018-11-09 23:35] iliasg commented on #4285
@heckflosse Ingo, where can I download the samples you use for your screenshots ?.

[2018-11-09 23:36] heckflosse commented on #4285
@iliasg raw.pixls.us

[2018-11-09 23:57] Waveluke commented on #4285
As I figured I might, I stand corrected.  But that is good news, for video stabilization and extreme low light where using a marginally bigger sensor area trumps sharpness loss of resampling.

[2018-11-10 00:02] Waveluke commented on #4285
32 pixels doesn't sound like much, but on a 1080p camera, using them means gaining 1/20 of a stop of low light performance.

[2018-11-10 00:13] heckflosse commented on #4285
I just merged blackmagic support into dev branch...

[2018-11-10 00:36] #4946 closed, assigned to nobody

[2018-11-10 00:39] mambogambo opened #4965 "RawTherapee crashes on fast export"
Hello.

RawTherapee 5.4 is crashing on certain images while performing a *"Fast Export"* batch process using the *"Dedicated"* Pipeline. I have attempted to batch export the same images using the *"Standard"* processing pipeline and all settings checked ON. This was successful.

I have seen this issue reported but with no resolution due to lack of this data so I hope this helps. I have a workaroun

[2018-11-10 07:51] Thanatomanic commented on #4965
I cannot reproduce on the latest `dev` build. If you say 'I have seen this issue reported', which one do you refer to?
In any case, your backtrace shows an issue in `gauss.cc`. Looking at the [history](https://github.com/Beep6581/RawTherapee/commits/dev/rtengine/gauss.cc) of that file, there have been several commits since March 20th (the release date of RT 5.4). In particular, I expect #4528 solv

[2018-11-10 10:59] Konyicsiva opened #4966 "Memory leak of updated preview image"
In case of active transformations, after eg. zooming in and out the image many times there there will be a huge memory leak (because the original Imagefloat object will never be deleted after improccoordinator.cc:445 ?)

[code]

Leakage report:
[code]

ps: latest dev build

[2018-11-10 13:38] heckflosse commented on #4966
This should fix the leak:

[code]

[2018-11-10 14:11] TooWaBoo commented on #4148
New update
[code]
(*) works only with GTK+3.24. If you are on GTK+3.22, don't update this package.

[2018-11-10 14:22] Konyicsiva commented on #4966
Thx, but it seems it does not solve the root issue. The provided delete executed one or two times if I zoom in-out-in-out the same image endlessly, but the memory footprint is getting bigger and bigger similarly fast as before.

[2018-11-10 15:47] TooWaBoo commented on #4941
This can be closed.

[2018-11-10 15:52] #4941 closed, assigned to nobody

[2018-11-10 15:52] heckflosse commented on #4966
@Konyicsiva If you put a printf in line 443 of improccoordinator.cc you will see that the `oprevi = new Imagefloat(pW, pH);` is not called when zooming, so the other leak must be somewhere else.

[2018-11-10 16:04] heckflosse commented on #4966
@Konyicsiva I straightened an image (to have a transform), zoomed in and out about 5 minutes while whatching the memory footprint. No leak here.

[2018-11-10 16:28] gaaned92 commented on #4899
@agriggio
`Just add #include <assert.h> at the beginning of the file`
It builds ok in W32.
Could you commit the modification in the dev branch please?

[2018-11-10 16:36] Konyicsiva commented on #4966
You are right, line 443 does not executed, only twice, like your added delete.
I compiled it again in debug mode with sanitize and I could not reproduce the error! Eh.

But if I compile it in release mode with full optimalization, it leaks.
I open an image (20Mpix CR2 canon raw), set some transformation, and just zoom in-out, and see the RSS growing. (The growth stops if I does not play with the z

[2018-11-10 16:41] gaaned92 commented on #4148
@TooWaBoo
It's just that I got an update of gtkmm3 and when trying to downgrade it, the pacman database went corrupted. So I had to rebuild MSYS2.
As GTK+3.24 does'nt work on W10, don't forget to add
IgnorePkg   =  mingw-w64-x86_64-gtkmm3
to pacman.conf.

[2018-11-10 16:43] heckflosse commented on #4966
@Konyicsiva maybe related to #4416 ?

[2018-11-10 17:17] Konyicsiva commented on #4966
No, exporting the images does not make RSS bigger. Only editing/zooming makes it leak. I'm going to try sanitize the optimized build to catch the cause.

[2018-11-10 17:45] TooWaBoo commented on #4148
@gaaned92
I had no issue when I downgrading gtkmm3.

@all
For GTK+ 3.22 your pacman.conf should have this entries.
[code]
For GTK+ 3,24
[code]

[2018-11-10 18:02] casta opened #4968 "Context menu spacing issue with TooWa* themes"
Currently using current master ( b488e20 ), but this occurs since some time.
Menu and sub-menu have incorrect spacing between them when using TooWa* themes. This does not occur with default RT theme.

See the screenshot, this is self explanatory.
![toowagrey-bug](https://user-images.githubusercontent.com/835444/48304539-2efcd780-e51b-11e8-8533-0e4954ceb572.png)

[2018-11-10 18:27] TooWaBoo commented on #4968
I guess this issue is GTK or system related. I can not control the position of menus in the theme. As far as I can see you are using Linux and your dpi setting is higher than 96dpi. The TooWa* theme increases the gui depending on font size and dpi.
Can you provide more information about your system, GTK version, RT version (Preferences->About->Version) and RT font size, please.

Did you do the scr

[2018-11-10 18:37] casta commented on #4968
DPI is 96 indeed, and font size is a classic 10 (font in the screenshot is “Ubuntu”):
[code]

GTK is 3.24.1, the system theme is Zukitre, but this also occurs if I set the system theme to the default Adwaita. This did not occur some weeks ago, and is not an issue with RT default theme, so I think it has todo with your theme ;) (for me average surround is a must have, other themes are too dark !)
[

[2018-11-10 19:04] TooWaBoo commented on #4968
I can't reproduce this on Windows. Could be a problem of GTK+ 3.24. On Windows we do have a some issues with the tooltips which appear under the mouse pointer and other stuff. The different between the RT- and the TWB- theme is that the RT theme is designd in `Pixel` and the TWB them in `em`
Could it be that this problem occurs after update to GTK+ 3.24?

Can you try with font size 9, please?

Win

[2018-11-10 19:07] Beep6581 opened #4969 "Loading PP3 which uses Black-and-White tool adds history entry"
If you load a processing profile which uses the Black-and-White tool with the channel mixer set to "auto", a new history item is immediately added: `B&W - CM - Auto` / `Enabled`

This changes the Processing Profiles combobox from the name of whatever PP3 you just opened to `(Custom)`, so if you're scrolling through several PP3s, once you hit this one you can't keep scrolling.

I have a hunch that

[2018-11-10 19:35] Beep6581 commented on #4968
Sabayon, KDE, gtk+-3.22.30
`resolution:    96x96 dots per inch`
![screenshot_20181110_203321](https://user-images.githubusercontent.com/5844619/48305284-12b36780-e528-11e8-8444-92ef4b0b03ef.png)

[2018-11-10 19:42] casta commented on #4968
I tried to downgrade to gtk+-3.22.30, same issue for me.

I don’t know what could be different on my computer…

[2018-11-10 20:48] heckflosse commented on #4966
@Konyicsiva I just pushed the fix for the leak from first post. Issue stays open for the other leak(s)

[2018-11-10 20:58] heckflosse commented on #4285
@Waveluke

I disagree. It just means that some border pixels are cropped. Except you don't crop them and scale down to 1920x1080 which doesn't sound like a good idea to me

[2018-11-11 00:02] heckflosse commented on #4855
@Beep6581 Imho this can be closed.

[2018-11-11 00:23] mambogambo commented on #4965
@Thanatomanic Thanks for the information.

The open issue I was referring to was [#4752](https://github.com/Beep6581/RawTherapee/issues/4752) yet it is outdated now I believe. I'm not sure.

Appreciate you taking the time.

[2018-11-11 08:45] ff2000 commented on #4966
I also recently found the mentioned leak when zooming in/out. But I experience this also with neutral profile. There also were left 0.9% (from 8GB) for each image after closing the editor tab.
Furthermore I have about >2% left for each image when processing the queue.

I also commented on #4416. I was somewhat unsure. Now with this issue I think there might really be more leaks. It's a real pain f

[2018-11-11 09:48] Thanatomanic opened #4970 "MSYS2 build fails on imageio.cc using Clang 7.0.0"
While on Windows 10 in a fully updated MSYS2 ([exceptions](https://github.com/Beep6581/RawTherapee/issues/4148#issuecomment-437602081)) and trying to build with Clang 7, building fails on `rtengine.dir/imageio.cc.obj`.

Error message:
[code]

Cmake command:
[code]

@Floessie Any thoughts?

[2018-11-11 09:57] Thanatomanic opened #4971 "Potential tiny typo in dcraw.cc"
@heckflosse Can you take a look if https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9141 is correct? Clang complains that `&&` should probably be `&`. However, maybe some automagic casting takes place where a boolean is interpreted as 0 or 1?

[2018-11-11 10:01] Thanatomanic opened #4972 "Clang 7 reports implicit conversion warning in canonattribs.cc"
Hard for me to judge if this is bad, but on Win 10 using Clang 7 I get warning like this:
[code]

This applies to all items from this point on: https://github.com/Beep6581/RawTherapee/blob/dev/rtexif/canonattribs.cc#L1744

[2018-11-11 11:04] heckflosse commented on #4971
@Thanatomanic I checked. That code is called for Fuji files. For normal Fuji files with one frame `i` will be zero whereas for EXR files which contain two frames `i` is a number > 0 (for example 813818). I guess the number is the offset of the frame data for the second frame.

Means, the && is perfectly fine here. Using & would fail

[2018-11-11 11:15] Thanatomanic commented on #4971
Would it be reasonable to get rid of the warning by doing: `is_raw += (get4() == 1) : 1 ? 0`?

[2018-11-11 11:24] heckflosse commented on #4971
@Thanatomanic
That would fail to compile ;) And after swapping `?` and `:` it would fail to detect the second frame of Fuji EXR files.

This one works.
[code]
Can you check if it gets rid of the warning?

[2018-11-11 11:26] heckflosse commented on #4971
Hmm, offset could be negative as well, better:
[code]

[2018-11-11 11:29] Thanatomanic commented on #4971
@heckflosse Whoops 😋
Using your last suggestions gets rid of the warning. Shall I commit?

[2018-11-11 11:32] heckflosse commented on #4971
Yes, please

[2018-11-11 11:34] Thanatomanic commented on #4971
Closed with https://github.com/Beep6581/RawTherapee/commit/83975938ef6984d9722ffe1b3df219c16d8845d1

[2018-11-11 11:34] #4971 closed, assigned to nobody

[2018-11-11 11:42] heckflosse commented on #4966
I just processed 30 images using the queue on Win7. Can not reproduce the leaks.

[2018-11-11 12:58] Floessie commented on #4971
@Thanatomanic @heckflosse Hint for next time: To clamp a value to 0/1 you can safely cast it to `bool` in C++.

[code]

[2018-11-11 12:59] heckflosse commented on #4970
@Thanatomanic

[code]

[2018-11-11 13:07] Thanatomanic commented on #4970
Fix confirmed

[2018-11-11 13:16] heckflosse opened #4973 "Bug in iccprofilecreator.cc found by clang"
[code]

[2018-11-11 13:49] Thanatomanic commented on #4970
No more problems after https://github.com/Beep6581/RawTherapee/commit/f179eb83331a3cc930f6e2a4b1b401de02e8a7bf

[2018-11-11 13:49] #4970 closed, assigned to nobody

[2018-11-11 14:14] heckflosse opened #4974 "Msys2 clang build does not use OpenMP"
To verify use this patch:

[code]

It should stop when building amaze_demosaic.rt, but does not

[2018-11-11 14:17] Thanatomanic commented on #4974
I just found the same thing. I don't think OpenMP is available to Clang in MSYS2. cmake script shows it is not detected.

Also, try running this, [source](http://www.math.ucla.edu/~wotaoyin/windows_coding.html):
[code]
That won't work.

[2018-11-11 14:26] Thanatomanic opened #4975 "Repeating cmake command gives different output"
Here's one of two issues regarding running `cmake` in MSYS2 under Win10:

To reproduce, from the base RT dir:
[code]
And then repeat the last command twice more, gives the following output:

First time, as expected:
[code]

Second time:
[code]

Third time:
[code]

I don't think there should be a difference between running the command a second and a third time.

[2018-11-11 14:26] Thanatomanic opened #4976 "Sequential different cmake commands give unexpected output"
Here's the second of two issues regarding running `cmake` in MSYS2 under Win10:

To reproduce, from the base RT dir:
[code]

The first `cmake` runs as expected. However, if you immediately follow with the 'clang' version, you get:
[code]

Two problems here:
- The first 5 lines should not be there.
- Half-way through it detects `CMAKE_BUILD_TYPE: Debug` but that was not the input...

[2018-11-11 15:02] Thanatomanic commented on #4285
@Waveluke I have no idea why you think that. It's equally dark in the cropped areas, no?

I tested a workflow using a BMPCC raw clip as input (so, a series of DNGs), do some basic RT processing, apply the DCP and then export to 16 bit TIFF. I believe this works great.
There's two downsides:
- You need to pay attention to the color science - and I'm no expert in that. Choosing your output profile a

[2018-11-11 15:20] #4973 closed, assigned to nobody

[2018-11-11 16:51] heckflosse commented on #4972
@Thanatomanic This would fix the warnings, though we have to wait for @Beep6581 before we commit it because he makes the exif updates for RT

[code]

[2018-11-11 19:05] Beep6581 commented on #4855
Yes, invalid and duplicate of  #4918

[2018-11-11 19:05] #4855 closed, assigned to Beep6581

[2018-11-11 19:27] Floessie commented on #4970
FYI: Successfully built with Clang 7 on Debian 10 i386.

[2018-11-11 19:57] Floessie commented on #4972
@heckflosse Isn't that just a trick to fool Clang? How about this one? A bit lengthy, but I know you'll grasp the essence. :wink:

[code]

[2018-11-11 20:29] Beep6581 commented on #4752
Closing due to lack of useful info and due to several changes to relevant code since 5.4.

[2018-11-11 20:29] #4752 closed, assigned to nobody

[2018-11-11 20:37] heckflosse commented on #4972
@Floessie I agree, but wouldn't it be even better to change the default to unsigned int and use signed int for the only one (I found) which needs signed int, this one?

https://github.com/Beep6581/RawTherapee/blob/dev/rtexif/canonattribs.cc#L1292

[2018-11-11 20:42] Beep6581 commented on #4975
Reproduced using CMake 3.12.1 in Linux, but also reproduced using Luminance HDR and HDRMerge's source trees, so it does not look RT-specific. The "found version" string seems to come from `/usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake`

[2018-11-11 20:47] heckflosse commented on #4972
@Floessie Anyway, we should not fix this warnings for 5.5 imho

[2018-11-12 00:40] TooWaBoo commented on #4975
I don't think this is a bug.
The first time it's checking everything.
The second time, things which are in the build folder doesn't need to be checked.

[2018-11-12 02:48] dmccallie opened #4978 "Help with compiling on macOS, and crash on launch"
Hello,
Newbie here, who would like to contribute. Figured I'd start by getting a successful Mac OS X build as first step, so tried building the current release (tag = 5.4).  I started with a fresh install of macports, and followed the instructions on RawPedia, to the tee, including the libiconv patch (but not a cairo patch, which was unclear.) Mac OS = 10.13.6.  Used clang-3.9, as per RawPedia ins

[2018-11-12 04:40] dmccallie commented on #4978
I should have included "about this build" data for the Mac OS X problems described above.
[code]

[2018-11-12 06:58] Floessie commented on #4972
@heckflosse Agreed. I didn't want to change the default.

[2018-11-12 08:29] ff2000 opened #4979 "Auto-matched curve fails on this image"
Top is with Standard Film Curve - ISO Low, Bottom with Auto-Matched Tone Curve - ISO Low:
![Sample](https://user-images.githubusercontent.com/1973708/48310985-b50f3180-e5a0-11e8-8219-36596785f980.jpg)
Look at the finer branches along the ridge, with auto matched they get light blobs that blend with the sky.

Sample Raw file is here:
https://www.dropbox.com/s/dog6utxzn6wzna4/P1130671.RW2?dl=0

Usua

[2018-11-12 09:25] Beep6581 commented on #4978
@dmccallie please try using the latest `dev` branch, not the 5.4 tag from 8 months ago.

[2018-11-12 09:27] Beep6581 commented on #4979
Caused by a bad auto-matched curve shape:
![screenshot_20181112_102636](https://user-images.githubusercontent.com/5844619/48338284-873ff080-e665-11e8-86d5-39273bd41c48.png)

[2018-11-12 10:10] Waveluke commented on #4285
Davinci Resolve has a transcode media feature that is really quick to convert 16 bit tiff sequences into 10bit compressed movie files, and after the export, all but one pp3 file can be deleted.  Obviously a more complicated workflow, but the IQ results warrant it for loose deadline/artistic video.  Mostly, I noticed RT demosaicing to be superior to Resolve, and processing engine overall tend to ge

[2018-11-12 12:59] Desmis opened #4980 "V2 and V4 profiles - Out of Gamut indicator and review of ICC Profile Creator"
I do not repeat the terms of the same topic in the forum :)

I bring more technical complements.

I will especially treat 2 points mentioned in the forum that seem to me to be the responsibility of the "ICC profiles creator":
 a) I think it is not a good idea to use RTv4 profile for monitor, so in "Preferences" I disabled this choice

 b) differences between AdobeRGB1998 and RTv2_Medium when using

[2018-11-12 13:42] heckflosse commented on #4666
I just tried with three X-T100 files. All worked fine. Can you please submit files which show the issue

[2018-11-12 14:13] heckflosse commented on #3625
Should work now: 6a4f2cf
Ok to close?

[2018-11-12 15:50] Desmis commented on #4980
I just forgot to change the labels of the "desc" tags, now they are all RTv2_xxxx or RTv4_xxxx

It is suitable to have best quality with simpleprocess.

Now it's done 25eb93a

[2018-11-12 16:08] iliasg commented on #4666
I think,that after the commit of dcraw.c V928 changes all fuji files work fine ..

[2018-11-12 16:14] heckflosse commented on #4666
@iliasg Thanks for confirmation :+1:

[2018-11-12 16:14] #4666 closed, assigned to nobody

[2018-11-12 16:23] heckflosse commented on #4958
@Beep6581
`Iterations` is already documented.
`Auto-Correction sliders` don't exist. Do you mean the sliders for manual correction?

[2018-11-12 16:42] agriggio commented on #4979
I have an idea, I'll see whether it works.. thanks for the example

[2018-11-12 17:24] Beep6581 commented on #4980
For reference, branch comparison:
https://github.com/Beep6581/RawTherapee/compare/enhance_icc

[2018-11-12 17:28] #4921 closed, assigned to Beep6581

[2018-11-12 18:38] Benitoite commented on #4978
The warnings are ok, errors are bad.

For the cairo patch, these two asserts must be found and commented out:
[code]
The location may change with newer versions of cairo... this means cairo has to be compiled from source also.
https://cgit.freedesktop.org/cairo/tree/src/cairo-scaled-font.c?h=1.16.0#n456

I'm not sure about your crash involving the libpng although with the VARIANT you might have go

[2018-11-12 19:32] Benitoite commented on #4784
Same on macOS 10.12:  flickering filenames still but tools are not flickering in gtk+3.24.1

[2018-11-12 19:48] Beep6581 commented on #4980
I used the branch for a while with no issues.

[2018-11-12 20:56] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-libthai-0.1.28-2`

[2018-11-12 21:25] agriggio commented on #4979
Here's a candidate patch. I hope it applies cleanly on `dev` (I'm currently on another branch).
Note it would need to be tested on several images to make sure it doesn't introduce side-effects...

[code]

[2018-11-12 21:28] agriggio commented on #4979
BTW @ff2000 does the camera have a built-in (software-based) graduated ND filter?

[2018-11-12 22:51] Hombre57 commented on #3547
[From here](https://discuss.pixls.us/t/rt-5-5-release/9768/7) :

[code]

@TooWaBoo Is it possible to declare a variable and set its value in plain CSS ? e.g. [like this with the CSS standard](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables).

Otherwise I'll add this change to the code in a separate branch, in order to merge it into dev before the HiDPI branch..

[2018-11-12 22:53] Hombre57 commented on #3547
Oh, and btw, I'll ignore Gtk's devs recommendation and force the screen's resolution and scale, so that we get ride of this mess around the Cairo scale factor painfully handled by GTK.

[2018-11-12 23:50] TooWaBoo commented on #3547
@Hombre57
GTK knows only color variables. Before you inject the css-style, you must replace `dpi` and `font-size` with the current settings.
![ad503b9809ff6596f7619abfcf7c66adc35ae4cc](https://user-images.githubusercontent.com/13800920/48381817-17218100-e6de-11e8-9546-4f8f65bf4597.png)

btw. Scaling with css doesn't scale the physical size of the icons. If you use padding or margin on the image, i

[2018-11-13 04:57] dmccallie commented on #4978
Thanks for the suggestions.  I got it to successfully build :)

I found the problem - for some reason, the linking step was pulling in a mix of Homebrew libraries and mac ports libraries, despite the fact that all the necessary mac ports libraries were present.

I had removed the Homebrew libraries from $PATH, but apparently that's not enough - the linker was finding libraries through some other s

[2018-11-13 07:14] ff2000 commented on #4979
@agriggio Patch applied fine on dev and it resolved the issue. I converted several other photos, some were fine and some showed the issue before the patch. All seems to work fine without any issue after applying the patch. Thank you very mutch!

And the camera does not have an integrated Grad ND filter. The EXIF contains an "Internal ND Filter" field (which I recently discovered) but I don't know

[2018-11-13 07:38] Benitoite commented on #4978
I can only point you towards some open macOS issues:

https://github.com/Beep6581/RawTherapee/issues/3510
https://github.com/Beep6581/RawTherapee/issues/4394

[2018-11-13 07:42] agriggio commented on #4979
Hi @ff2000,
thanks for testing! :+1:

Well, the embedded JPEG shows signs of a grad ND filter applied on the sky and the tip of the mountain, so I was just curious...

[2018-11-13 07:44] ff2000 commented on #4966
I also processed some photos to test the patch for #4979 - this is the result:

![memory_leak](https://user-images.githubusercontent.com/1973708/48397966-1e6d7c80-e728-11e8-85a2-6ac50b0a5698.jpg)

All images closed, queue empty all the time, still consumes 51%/~4GB of RAM. The only thing I did was loading Auto matched curve and then Standard film curve and compared them by switching back and forth

[2018-11-13 08:02] ff2000 commented on #4979
Ah, OK. No, that was the light. It was cloudy the whole day and just before sunset the sun slowly came out from behind the clouds and a small band of fire creeped up the hill. That image was just a moment before the sun completely came out.

![p1130790](https://user-images.githubusercontent.com/1973708/48398697-3514d300-e72a-11e8-822e-1e4db94e4f64.jpg)

In the background you see the shadow of the

[2018-11-13 08:34] gaaned92 commented on #3547
`Anyway, I think I'll be able to correctly size our icons, but not the Adwaita ones`

I don't know if it is relevant, but adwaita icons are only shiped in SVG in my recent windows buids (scalable).

[2018-11-13 10:13] #4979 closed, assigned to nobody

[2018-11-13 11:30] Desmis commented on #4980
@Beep6581
Thank you for testing :)

I just commit a new "normalization" for D50 profiles (Prophoto, Widegamut, BestRGB, BetaRGB).
I adjust media white point to Room specifications... very small differences with before :)

And another commit for White point D60, D65  D50 for ICCv4

To note that white point used by LCMS is slighly different that all D50 white point, but very small diffe

I hope ther

[2018-11-13 13:09] Desmis commented on #4980
I have found another mini bug...I will solve soon :)

[2018-11-13 13:34] Desmis commented on #4980
Now it is good :)

[2018-11-13 15:23] #4949 closed, assigned to Beep6581

[2018-11-13 18:06] heckflosse commented on #4978
@dmccallie

Do you want to add a whole new tool of just a feature for an existing tool?

[2018-11-13 19:30] ff2000 opened #4981 "Improve crop alignment with locked ratios"
I think it would be great if the crop area would be centered automatically. I often set my camera to shoot in 1:1, 3:2, ... to help with framing. I then select the same crop ratio in RT. For 3:2 (and 16:9) the crop is correctly centered. 1:1 (and as it seems any crop smaller than 4:3 which is the aspect ratio of mFT - 5:4, 7:6, ...) is aligned top-left. It would help a lot if those also would be c

[2018-11-13 19:36] dmccallie commented on #4978
@heckflosse  - I'm not yet sure. I have some fairly narrowly-focused astrophotography tools in mind - such as a custom "stretch" curve, and custom sky background color neutralization (based on code [published by Roger Clark](http://www.clarkvision.com/articles/astrophotography-rnc-color-stretch/).)  What might make most sense would be a "plugin" model that doesn't require messing with the core cod

[2018-11-13 19:37] ff2000 opened #4982 "Add "Ratio as set in camera" to crop ratios"
I often change the aspect ratio in-camera to help composing the image. It would be great if RawTherapee would allow me to select that ratio directly in the crop tool.
I had a look at the EXIF data and could not find a dedicated field. Lightroom somehow knows what I selected (and even auto-applies that crop). Probably it's possible to use the embedded thumbnail to calculate the ratio?

[2018-11-13 19:47] ff2000 opened #4983 "Auto-straighten horizon when possible (EXIF "Roll Angle")"
Today I saw that my Panasonic camera has an EXIF field "Roll Angle" that shows the precise angle the camera is rotated. It usually is close to 0, 90, -90 (e.g. 3.5, -89.4, 91, ...). It seems also Pentax uses that field.
Probably this could be used to automatically rotate the image to straighten the horizon?

[2018-11-13 19:53] heckflosse commented on #4982
Please provide a raw file for which LR does what you described.

[2018-11-13 20:34] heckflosse opened #4984 "Show 'Could not extract thumb from ...' only in verbose mode"
Opening a folder of raw files which don't contain a thumbnail (for example blackmagic files) floods the console with `Could not extract thumb from....` log entries.
This patch shows the log entries only in verbose mode. Any objections?

[code]

[2018-11-13 20:37] Floessie commented on #4984
@heckflosse Of course not. But better change `fname.data()` to `fname.c_str()`.

[2018-11-13 20:55] heckflosse opened #4985 "Remove 'debug' output from logging in verbose mode"
When running RT in verbose mode, it logs a lot of stuff, which to me looks likes debug output which was forgotten to remove. This issue is to remove that logging output.

Example:
Starting RT in verbose mode whith a raw in folder which has vibrance tool enabled, you'll get this in console, though without a hint, from which raw it is (useless information)

[code]

[2018-11-13 21:56] Konyicsiva commented on #4966
Strange. If I switch on the gcc address sanitizer, the bug does not occur any more. But if I compile the project with the very same options apart from removing "-fsanitize=address" from CXX_FLAGS, the leak still gobbles all the memory. Here is a show. It took about a minute to reach from 800MB to 4GB RSS:
[youtube/memleak](https://www.youtube.com/watch?v=Oj-azzY382M)

[2018-11-13 22:51] heckflosse commented on #4966
@Konyicsiva Thanks for the video :+1: I already trusted your findings before viewing the video. But I still can't reproduce it. I'm on Windows. Maybe @Floessie has an idea?

[2018-11-14 05:59] Floessie commented on #4966
Seems related to #4416, though I couldn't reproduce it at that time. @PkmX provided some good [hints](https://github.com/Beep6581/RawTherapee/issues/4416#issuecomment-369668783) there we could build on. And I guess @thirtythreeforty has expertise on this toppic. I'm currently busy, sorry.

HTH,
Flössie

[2018-11-14 06:08] thirtythreeforty commented on #4966
Hmm. This smells like the leak I was observing in 5.4. I will feed a debug build to massif and see if I can find where all the allocation is happening.

[2018-11-14 08:19] ff2000 commented on #4982
I do not own Lightroom. But I opened an ORF file from an E-M1 on a friends PC and Lightroom did an automatic crop.
https://www.dropbox.com/s/kzucz48gz2uyw29/PB050216.ORF?dl=0

The issue here is that Olympus seems to store the aspect ratio in an "Aspect Ratio" EXIF field. So I was partly wrong - I checked only my Panasonic RAWs. But if you search the web for "Lightroom auto-crop" several other bran

[2018-11-14 14:20] heckflosse commented on #4899
Fixed with 66bb7ba

[2018-11-14 14:20] #4899 closed, assigned to nobody

[2018-11-14 19:29] Thanatomanic opened #4987 "Lens names in metadata filter not updated after RTExif upgrade"
@Beep6581 I don't know if this was to be expected, but after #4977 my Tamron 70-200 mm lens on Nikon was added and it does show up in the editor:

![image](https://user-images.githubusercontent.com/6567747/48507289-c891f500-e84b-11e8-9e70-84ba23fc7f55.png)

However, in the metadata filters in the file browser I still see the old name:

![image](https://user-images.githubusercontent.com/6567747/485

[2018-11-14 19:51] agriggio commented on #4981
Hi @ff2000, can you test this patch please?

[code]

[2018-11-14 20:08] heckflosse commented on #4987
@Thanatomanic Did you clear the cache?

[2018-11-14 20:11] Thanatomanic commented on #4987
It got updated, so this is a non-issue. I simply don't know when to expect to clear my cache...

[2018-11-14 20:11] #4987 closed, assigned to nobody

[2018-11-14 20:25] heckflosse commented on #4987
@Thanatomanic To get an idea when to clear the cache, have a look at the Exif section of a cache file, for example:

[code]

[2018-11-15 04:14] Yz2house opened #4988 "Update GUI in Japanese"
update untranslated strings and one modification
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2583639/Japanese.txt)

[2018-11-15 06:50] #4988 closed, assigned to Beep6581

[2018-11-15 07:04] Desmis commented on #4980
if no objections I  will merge this branch tomorrow   :)

[2018-11-15 07:37] ff2000 commented on #4981
Thank you @agriggio , that fixes the alignment issue.
There are still some smaller issues I am not entirely sure about...
E.g. I initially use a 4:5 crop that doesn't touch the borders. I want to check if 6:7 works better. Then go back to 4:5. The second 4:5 is not the same as the first. But to change that might get complicated.

[2018-11-15 07:50] Thanatomanic commented on #4980
Just for reference: https://discuss.pixls.us/t/v2-profiles-v4-profiles-and-rts-out-of-gamut-indicator/9734/

No objections for a merge, but mostly out of ignorance 😉

But a question still: @Desmis

Are all v4 profiles unsuitable as a monitor profile? If yes, then why exactly?

[2018-11-15 08:32] Beep6581 opened #4989 "Queue - Overwrite existing output files"
There is an option in Preferences > Batch Processing > Overwrite existing output files, is there any good reason why it's there and not in the Queue tab?

[2018-11-15 08:33] Beep6581 commented on #4769
This issue is handled by #4980

[2018-11-15 08:33] #4769 closed, assigned to Beep6581

[2018-11-15 08:35] Beep6581 commented on #1808
Still broken in `5.4-1142-g`834f6bafe

[2018-11-15 09:28] Beep6581 commented on #4979
I compared before the patch (`5.4-1136-g`ad8a52ce8) to after the patch (`5.4-1142-g`834f6bafe) on 33 images. Generally there was very little if any difference in most of the images.

A few showed this drop of the darker tones, unpatched:
![screenshot_20181115_101546](https://user-images.githubusercontent.com/5844619/48542445-77234d80-e8bf-11e8-826f-a5e92cb29d80.png)
Patched:
![screenshot_20181115_

[2018-11-15 09:35] Beep6581 commented on #4985
I got these in the console today:
[code]
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/iplab2rgb.cc#L338

[2018-11-15 09:41] Desmis commented on #4980
@Thanatomanic

For RTv4 and profile for monitor, I don't know why, I find that it does not work properly

@Beep6581
Thank you :)

[2018-11-15 10:41] heckflosse commented on #4985
@Beep6581 I will remove it

[2018-11-15 11:48] Beep6581 commented on #1179
Duplicate of #504

[2018-11-15 11:48] #1179 closed

[2018-11-15 13:53] heckflosse commented on #4985
There is a wrong logging in verbose mode if the camera is not found in lensfun database.
To reproduce: Set verbose=true in options and open http://www.rawtherapee.com/shared/test_images/crash_kodak_pb645m.dcr

Console output:
[code]

@agriggio Alberto, any idea?

[2018-11-15 14:03] agriggio commented on #4981
I agree, it might get complicated :-) Fortunately, you can use the history to go back in this case...

[2018-11-15 14:10] ff2000 commented on #4981
Am Do., 15. Nov. 2018 um 16:03 Uhr schrieb Alberto Griggio <
notifications@github.com>:

No, it only works if you change a different tool in between the aspect
ratio changes. Which is my workaround for several tools that do not store
intermediate steps in the history - change a nearby tool to add a new entry
in the history. basically covered in #4881.

[2018-11-15 14:47] agriggio commented on #4981
Here's how to have an "append-only" history that allows duplicates:

[code]

Shouldn't be hard to make this optional (with a custom setting in preferences controlling it) -- hint :wink:

[2018-11-15 15:03] agriggio commented on #4989
I can't think of any...

[2018-11-15 17:48] #4984 closed, assigned to heckflosse

[2018-11-15 17:55] #4985 closed, assigned to heckflosse

[2018-11-15 23:28] Waveluke commented on #4285
Here are some overexposure tests for white levels of the BMPCC, as well as some documentation of technical issues with the BMPCC that might complicate the issue (or might not, this is not my expertise as I am doing this at the directive of a developer).

Here are the the raw files for white point calibration, shot with a tungsten light source for smooth spectrum lightsource, filming while moving t

[2018-11-16 06:08] ff2000 commented on #4881
Would it be possible to store every micro adjustment to one tool as long as no other tool is used and then just merge the changes in one history entry? E.G. you are editing the tone curve, add nodes, move nodes, delete nodes - and everything is put into history. Then you edit white balance - and automatically those myriads of history entries for the tone curve will be merged to just one.
That way

[2018-11-16 10:42] Beep6581 commented on #4980
@Desmis since the `enahnce-icc` branch was merged into `dev` 152b42125ae3606da08a5d9d0e1e617ceba77d00, shall we close?

[2018-11-16 11:28] Beep6581 commented on #3558
`5.4-1166-g`152b42125

[2018-11-16 11:42] iliasg commented on #4285
@heckflosse Ingo, with "none demosaic" we can read raw values at navigator .. are these values before WL (=51080) cutoff ? I read max = 51064 which comes from 51320-256 (51320 is the raw clipping value and 256 is the BlackLevel) ..

@Waveluke can you show a screenshot of this "fixed pattern grain" you mentioned ?. Is it like
![prnuorrollingshutter](https://user-images.githubusercontent.com/1501259

[2018-11-16 12:09] Desmis commented on #4980
@Beep6581
Please don't close, I think I will make changes in the coming days, but not about 5.5 :)

jacques

[2018-11-16 13:10] heckflosse commented on #4285
@iliasg Ilias, the values are after blacklevel subtraction. Would it be beter to show the values before bl subtraction?

[2018-11-16 14:48] heckflosse commented on #4980
@Desmis Jacques, my I change the line endings to `LF` in `rtgui\iccprofilecreator.h` and `rtgui\iccprofilecreator.cc` in your branch?

[2018-11-16 15:14] iliasg commented on #4285
@heckflosse Ingo, I think it's better as it is with the black level because we can read the negative values. So we have both the BL indication without clipping any values below black ..

I asked about the **WhiteLevel** where we read the raw values as if the "WhiteLevel" is innactive ..
With the BMPCC overexposed files the white level is 51080 and after BL subtraction the max value that is used by

[2018-11-16 15:25] Desmis commented on #4980
@heckflosse

Ingo

No problem you can :)

[2018-11-16 18:14] Waveluke commented on #4285
@iliasg I agree that the low frequency vertical pattern observed is a combination of rolling shutter and flicker, but the fixed pattern grain I was referring to occurs at the pixel by pixel level, and doesn't change between frames, and has been observed in natural light, as well as artificial, and doesn't vary between frames, like photon variance noise does, but only occurs near clipping whites.

[2018-11-16 21:28] heckflosse commented on #4980
@Desmis Jacques, done, also merged dev into your branch

[2018-11-17 14:19] Desmis commented on #4980
@heckflosse
Ingo, thank you for this work :)

I push in "enhance_icc" a commit with
a) some bugs solved ==> when you used "Primaries : Custom" the name of the files did not take account of "custom"
b) sometimes Tag "dmdd" which store "gamma and slope" to be reused (iplab2rgb.cc) for ICCv2 did not have good values

And the most change
c) Now **ICCv2 profiles have the same settings as ICCv4**: you c

[2018-11-17 16:10] Beep6581 commented on #4066
Time permits.

http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Main_Histogram

[2018-11-17 16:10] #4066 closed, assigned to Beep6581

[2018-11-17 16:23] Beep6581 commented on #4067
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Main_Histogram
http://rawpedia.rawtherapee.com/Preferences#Clipping_Indication

[2018-11-17 16:23] #4067 closed, assigned to nobody

[2018-11-18 07:43] Desmis commented on #4980
I make others modifications :
* for RTv2_Medium, tag "dmdd" was whith wrong values
* if user select TRC = custom and slope=0, now code use a calculated curve instead of LUT (best result)
* This modification is take into account in iplab2rgb if user select RTv2 profiles in output profile

I think now all bugs or improvments are identified and fixed

If no objections, I will merge this branch in dev

[2018-11-18 08:43] TooWaBoo commented on #4148
New update
[code]
After update RT requires` libzstd.dll` to run.

[2018-11-18 16:13] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-harfbuzz-2.1.3-1`

[2018-11-18 20:43] Hombre57 commented on #3547
@TooWaBoo Is this change valid for the RawTherapee theme as well ?

[2018-11-18 21:24] TooWaBoo commented on #3547
@Hombre57
Which change do you mean?

[2018-11-18 21:26] Hombre57 commented on #3547
[This one](https://github.com/Beep6581/RawTherapee/issues/3547#issuecomment-438074619).

[2018-11-18 21:47] TooWaBoo commented on #3547
If you mean this
_btw. Scaling with css doesn't scale the physical size of the icons. If you use padding or margin on the image, it's calculated from the original unscaled icon. Thats why it looks good only with the TWB-theme._
-> Yes, but it's not a cange, this is how GTK works. The TWB-theme is sizing everything.

[2018-11-18 22:03] heckflosse commented on #4900
@agriggio

I just merged dev into floatdng branch and tested. With [this](https://raw.pixls.us/getfile.php/2433/nice/Blackmagic%20-%20Pocket%20Cinema%20Camera%20-%2012bit%20(16:9).dng) (non-float) dng I get differences:

Both are with neutral profile.

dev:
![grafik](https://user-images.githubusercontent.com/13733487/48678617-d4502500-eb85-11e8-8b78-6c59c50bad01.png)

current floatdng (with dev me

[2018-11-18 22:09] Hombre57 commented on #3547
@TooWaBoo I meant, should I add this trick to RawTherapee.ccs too ?

[code]

(with the correct values, I know)

[2018-11-18 22:31] TooWaBoo commented on #3547
The RT-theme would look like this and needs to be adaptet.
![grafik](https://user-images.githubusercontent.com/13800920/48678881-bc7aa000-eb89-11e8-999d-384c38ddc13d.png)

[2018-11-18 22:41] heckflosse commented on #4900
@agriggio It's caused by https://github.com/Beep6581/RawTherapee/commit/632c1362c82045d78767e9a835b75b235893092f

[2018-11-18 22:52] Hombre57 commented on #3547
@TooWaBoo At least it's done for your themes, in `twb-autoscaled-icons` branch. IT's soft, but that was to be expected. For something crisper, it will be with my branch, but maybe it's better than nothing for RT 5.5 ? (ping @Beep6581)

So no need to adapt RawTherapee's theme for now.

[2018-11-18 23:16] heckflosse commented on #4900
Maybe related: https://github.com/Beep6581/RawTherapee/issues/2809

[2018-11-18 23:17] TooWaBoo commented on #3547
@Hombre57
Compiling in progress. 😀

[2018-11-18 23:18] #4298 closed, assigned to agriggio

[2018-11-18 23:35] heckflosse commented on #4900
@agriggio Alberto, honouring the `BaselineExposure` tag for DNG files is a really nice addition :+1:
But it breaks compatibility and currently crashes with [this file](https://raw.pixls.us/getfile.php/2055/nice/YI%20TECHNOLOGY%20-%20M1%20-%2012bit%20(4:3).DNG) because the `BaselineExposure` tag is read as NaN

[2018-11-18 23:37] Hombre57 commented on #3547
I'll be away for 5 days, so unfortunately I won't be able to commit any changes til then (just to let you know).

[2018-11-19 00:53] TooWaBoo commented on #3547
@Hombre57
So far it works great. Good job. 👍

[2018-11-19 01:00] Beep6581 commented on #3542
Documented.

[2018-11-19 01:00] #3542 closed

[2018-11-19 01:13] Beep6581 commented on #3547
These changes will require extensive testing by the community before being merged, so please leave them for 5.6.

[2018-11-19 07:07] agriggio commented on #4900
@heckflosse ok, I guess we have to decide what to do about it. I'd go for maximum compliance over backwards compatibility in this specific case, but I understand others might have different opinions. regardless, the code should be more robust wrt. bogus values, I'll see what I can do about it.

[2018-11-19 08:09] Desmis commented on #4980
@Beep6581  @heckflosse
Please can you merge this branch into dev, if of course you agree, because I cannot,  my system is broken

I will open an issue to explain

Thank you
Jacques

[2018-11-19 08:40] Desmis opened #4993 "Impossible to build libiptcdata, following the malfunction of msys2"
Yesterday I decided to update Msys2 (I do it about every 15 days)
As  my computer is protected from viruses by Avast, I disabled  Avast for 1 hour
I begin  the update by
$ pacman -Syu
But just after startup, and before you say yes, I had a mishap of more than an hour, and when I came back to my computer to launch pacman, the antivirus probably reactivated and I forgot that
And when Avast found "gp

[2018-11-19 08:52] Thanatomanic commented on #4993
@Desmis I found an issue elsewhere that seems similar to yours: https://github.com/JuliaLang/julia/issues/6234

Just to check: do you start `mingw64.exe` or `msys2.exe`? You should use the former, not the latter, when doing every step you described above.

[2018-11-19 08:54] Thanatomanic commented on #4993
Also, can you whitelist entire directories in Avast? It might help you with complications in the future.

[2018-11-19 09:24] Desmis commented on #4993
@Thanatomanic

I used msys2...and if I read "Rawpedia", It's write, but for me not visible enough, because
a) lost in the text
b) it's write "MinGW-w64 Win32 Shell" instead of "mingw64"
I think a slight modification of Rawpedia, would be welcome, to prevent this

I just try with launch with mingw64, and now libiptcdata is build
I re-compile, all seems to work fine

Thank you very very much
Jacques

[2018-11-19 09:31] Thanatomanic commented on #4993
@Desmis I agree that the Windows page is a little unclear. I'll put it on my todo list :smiley:

[2018-11-19 09:31] #4993 closed, assigned to nobody

[2018-11-19 09:32] Desmis commented on #4993
@Thanatomanic

thank you :)

[2018-11-19 09:35] gaaned92 commented on #4993
@Thanatomanic
I wrote an updated version of the rawpedia page `windows` in my user's page gaaned92.
Could you review it.

As above error is very common with MSYS2, I paid attention to always identify the shell to use.

[2018-11-19 09:39] gaaned92 commented on #4993
@Thanatomanic  @Desmis
I wrote an completely updated rawpedia windows page in  http://rawpedia.rawtherapee.com/User:Gaaned92
Could you review it before I copy back my user page in the window page?

[2018-11-19 09:44] Beep6581 commented on #4980
@Desmis of course, doing so now.

[2018-11-19 09:55] Desmis commented on #4980
@Beep6581
Thank you very much
I think now we can close this branch.

And now thanks to @Thanatomanic , my computer works again :)

jacques

[2018-11-19 10:10] gaaned92 opened #4994 "Rewriting of Rawpedia Windows build page"
@Thanatomanic  @iliasg  @Beep6581 @heckflosse @TooWaBoo @Hombre57  and all devs
As the windows build page was obsolete on some aspects, incomplete , I completely rewrote it in http://rawpedia.rawtherapee.com/User:Gaaned92

Please Correct it and review it in order I copy it back in the windows page.
Thank you.

[2018-11-19 10:19] Thanatomanic commented on #4994
Excellent work @gaaned92, I'll take a look and update the Windows page.

[2018-11-19 10:27] Beep6581 commented on #4980
Okay. Branch `enhance_icc` deleted, closing issue.

[2018-11-19 10:29] Beep6581 commented on #4959
@Desmis is there anything about the ICC Profile Creator which may not be obvious from the user interface? Maybe the recent changes in #4980 introduced something which needs to be documented?

[2018-11-19 12:40] Beep6581 opened #4995 "Profiled Lens Correction > Camera and Lens combos should be grayed-out when not using manual correction parameters"
![imgur-2018_11_19-13 39 45](https://user-images.githubusercontent.com/5844619/48707715-9ba16180-ec00-11e8-9b39-ddf1c15f474e.png)

In the Profiled Lens Correction tool, the camera and lens comboboxes only apply to the "manual correction parameters" option, so they should be grayed-out when not using that option so as to not confuse the user.

Reference:
https://discuss.pixls.us/t/hasselblad-16-bit

[2018-11-19 12:51] Beep6581 commented on #3558
`5.4-1178-g`99c8b6061

[2018-11-19 12:54] Desmis commented on #4959
@Beep6581

I think a document is necessary, but the remarks of @gaaned92 , brings me a lot of questioning

Color management is something complex, often empirical, full of approximations and fruit of experience.
Writing something simple is easy if we assume that everyone understands the basic concepts and their implications (here color management only for ICC profile and usage)
* primaries and impl

[2018-11-19 13:09] Desmis commented on #4993
@gaaned92
it seems clearer to me.
Remark :
* In my reinstallation of Msys2 , I have tried  with
a) first , update of Msys2 by $ pacman -Syu, just after installation
In this case, all package are uptodate and needs have to be downgraded,
This morning I did not how to do, where are the "old" package (you bring a response), and my system does not work correctly (I cannot found "old" packages)

b) sec

[2018-11-19 13:36] Beep6581 commented on #4959
@Desmis the topic is complex and the subject could fill a book - and indeed has filled quite a few. I think trying to document all of this would be overwhelming and to a large degree a duplication of information which is already out there. So to make it more manageable, I propose documenting only the idiosyncrasies of our ICC Profile Generator, if any, and leaving all the required background knowl

[2018-11-19 14:25] Beep6581 opened #4996 "Improve manual lensfun profile searching"
Searching for a lensfun profile currently is done by scrolling through very long comboboxes.

The combobox takes a long time to display the first time for a given image:
1. Open a raw photo, navigate to Transform > Lens / Geometry.
1. If Profiled Lens Correction (PLC) is collapsed, right-click to expand it. Expanding it freezes RT for 1 second on my machine. If I right-click Perspective and right-

[2018-11-19 14:31] Beep6581 opened #4997 "Rename Profiled Lens Correction options"
Since the Profiled Lens Correction panel does not currently allow us to manually specify the actual correction parameters (lens distortion parameters a, b and c, image shift parameters d and e, image shear parameters g and t, etc.), the current naming is misleading. I want to rename:
* "Auto-matched correction parameters" > "Automatically select lens profile"
* "Manual correction parameters" > "Ma

[2018-11-19 14:36] agriggio commented on #4997
no objection :+1:

[2018-11-19 15:56] agriggio opened #4998 "Nikon Z 6"
There are some raw samples online (e.g. dpreview), and the latest Adobe DNG converter (11.1 Beta) supports the camera. So I thought this would be just a matter of adding the proper colour matrix to `camconst.json` (apart from the new uncompressed raw, which is apparently a new format).
However, the raw files I tried (from dpreview) seem to be quite odd. It's as if the black and white levels are co

[2018-11-19 16:17] agriggio commented on #4998
Ok, after digging a bit more, I found the culprit (via google, in fact :wink: ). It's not the levels, it's the curve.
See here: https://redmine.darktable.org/issues/12322 (thanks @LebedevRI)
Here's the rawspeed commit from which I adapted the patch:
https://github.com/darktable-org/rawspeed/commit/856c951d202bf7474aaae272ca2dfc3d2260fcdf#diff-4b9c299bd5e478f76359a1c720fcf42a

Here's a tentative fi

[2018-11-19 16:52] Desmis commented on #4959
I will write a text probably tomorrow, of course you can (must) change and adpat it

Other thing, I have write sometimes ago, a text in french for "Tone response curve" (working profile) , and of course you can change it
https://rawpedia.rawtherapee.com/Color_Management/fr#Gamma_-_TRC_-_Tone_response_Curve

[2018-11-19 17:33] Beep6581 commented on #4995
![screenshot_20181119_183132](https://user-images.githubusercontent.com/5844619/48724382-5cd3d180-ec29-11e8-80f7-24ee7aad0e0e.png)

[2018-11-19 17:42] LebedevRI commented on #4998
Indeed, there are none on [RPU](https://raw.pixls.us/) as of now.
If anyone has that camera, please do consider contributing the full sample set.
(Same for Canon EOS R, GoPro FUSION)

[2018-11-19 17:46] agriggio commented on #4998
speaking of canon, does rawspeed decode cr3?

[2018-11-19 17:48] LebedevRI commented on #4998
No. (not the image compression itself. the ISO M container is trivial)
I think it will be close to the GoPro's wavelet decompressor, but i haven't really looked..

[2018-11-19 18:00] Thanatomanic commented on #4994
@gaaned92 I never really got lensfun to work under Windows. Even when following your instruction, nothing shows in RT. Any clue to why that is?

[2018-11-19 19:36] heckflosse commented on #4998
Here's a patch for a better (but still wrong) decoding of uncompressed 14bit files from Z6. Maybe it's a first step...

[code]

[2018-11-19 19:39] gaaned92 commented on #4994
@Thanatomanic
I can think of two points:
- you have to downgrade lensfun . last version is incompatible with RT.
- the version of the lensfun  database you use is not compatible with  the version of the lensfun program.(e.g. database version 2 and liblensfun.dll requiring version 1)

I tested the Msys2 lensfun sa few months ago. As it is very old, I   build lensfun and I download the database from

[2018-11-19 20:08] agriggio commented on #4998
any objections to pushing the rawspeed patch above?

[2018-11-19 20:09] heckflosse commented on #4998
@agriggio No objections. Please include my patch.

[2018-11-19 20:12] gaaned92 commented on #4994
@Thanatomanic
I just built a dev version with MSYS2 lensfun. It is ok. This time the database in ./share/lensfun  is version_1.

 I am going to check the recipe.
edit: seems ok

[2018-11-19 20:16] heckflosse commented on #4994
@Thanatomanic Please post the Lensfun section at the end of your options file

[2018-11-19 20:25] aferrero2707 opened #5000 "Continuous integration of Win64 builds"
This thread is to discuss the status and improvement for the continuous integration of windows builds.

The current build scripts can be found [here](https://github.com/aferrero2707/rt-win64/tree/master/ci). The packages are cross-compiled with mingw-w64, and most of the dependencies are taken from the [openSUSE build service](https://build.opensuse.org/project/show/windows:mingw:win64). The build