[2016-02-29 23:22] Hombre57 commented on #3187
TODO: taking car of `Gtk::Widget::get_scale_factor ()` , and update by listening to `configure`events.

[2016-02-29 23:56] heckflosse commented on #3178
Once again I pushed further speedups and cleanups to cacorrect.
Processing time now is about 316 ms at my system for a D800 NEF, which is double speed compared to master branch.

[2016-03-01 11:04] Hombre57 commented on #3187
There's also another way to solve this issue : set the display scale factor to 1 (possible on a per application basis) and provide an iconset dedicated to HiDPI display. Not sure if Gtk provides a secondary iconset (i.e. unscaled) though.

[2016-03-01 11:07] Hombre57 commented on #3186
Yes, see the MyComboBox class in guiutils.cc. If there is plain Gtk::Combobox somewhere, we could easily convert them to MyCombobox.

Is this a Gtk bug ? We never had to do this before.

[2016-03-01 11:11] Hombre57 commented on #3103
Patch committed to the GUI-touchup branch. Don't ask me to shrink all margins to have a more compact UI, it's already very compact. If you want something more compact, think about providing a smaller icon set, or wait for Gtk v3.20.

[2016-03-01 11:55] Beep6581 commented on #3187
Can't we use SVG directly?

[2016-03-01 12:05] Beep6581 commented on #3186
The Gtk+ people consider it a bug.
"The defaults have not changed. What has changed is the overdraw behavior of cell renderers. They used to be clipped, and (apparently) now they aren't. That's a bug".

[2016-03-01 12:13] Beep6581 commented on #3103
Hombre great work, both issues are fixed and I'm happy to see that the code is cleaner and makes better use of CSS.

[2016-03-01 12:18] Beep6581 commented on #3103
In `master` when you click on the empty space on an adjuster's bar, to the left or to the right of the knob, the value of the slider is increased or decreased by a set amount, in RT typically 2 or 10. In `gtk3` when you do that, instead of being increased or decreased by some amount, the knob jumps straight to that spot. Do you think we could have the old behavior back? Should I open a new issue?

[2016-03-01 14:12] sguyader commented on #3103
I also prefer the older way, it's generally faster for increasing/decreasing values by a set amount which is larger than unit amount, and it allowed to be less precise with where you click.

[2016-03-01 16:11] Hombre57 commented on #3103
@sguyader  Désolé mais je n'ai aps compris ce que tu veut dire, pourrais-tu me réexpliquer en français ?

[2016-03-01 16:12] Hombre57 commented on #3187
Probably, but I don't know for Gtk's stock icons.

[2016-03-01 18:19] heckflosse commented on #3158
I pushed the modifications and created #3188

[2016-03-01 19:08] sguyader commented on #3103
Désolé, je voulias dire que je préfère aussi comment ça marchait avec Gtk+2 : on peut cliquer approximativement d'un côté ou de l'autre du slider pour faire augmenter/diminuer par incréments, c'est plsu rapide que de chercher à cliquer précisément sur le petit bouton +/- et cliquer de multiples fois car chaque clic augmente/descend la valeur d'une seul unité. J'espère que je suis un peu plus clair

[2016-03-01 19:15] Hombre57 commented on #3103
C'est très clair, oui.

I'm looking at this.

[2016-03-01 22:14] da-phil opened #3190 "Missing labels in CA removal tool"
In commit 51de80b558c73db9b79fb76f0f9caff337e0326a the following labels have been removed and are therefore missing in the GUI now:
- `TP_CACORRECTION_BLUE`
- `TP_CACORRECTION_LABEL`
- `TP_CACORRECTION_RED`

[2016-03-01 22:22] heckflosse commented on #3190
Oh, that was me. Looking

[2016-03-01 22:43] #3190 closed

[2016-03-01 22:53] heckflosse commented on #3190
@da-phil Thanks for reporting this bug so quickly :+1:

[2016-03-01 22:59] heckflosse commented on #3184
branch 'cbdlbw' is pushed to master
branch 'cacorrect' has some merge conflicts, which should be solvable
I'll try to complete branch 'retinexgain' next days.
When that is done, I'm ok to swap master and gtk3

Ingo

[2016-03-02 09:02] Hombre57 commented on #3184
@heckflosse  With or without the watermarking feature ? I can strip it out and make it a separate tool myself if you don't have time for this.

[2016-03-02 11:59] heckflosse commented on #3184
@Hombre57 I meant 'retinexgain', not 'newwavelet'. But maybe it's better to strip out watermarking from 'newwavelet' and then I make the modifications to 'newwavelet' because iirc 'newwavelet' contains 'retinexgain'. If it does not contain 'retinexgain' I will include it after you stripped out watermarking.

[2016-03-02 16:46] heckflosse commented on #3178
I merged the speedup (without auto ca strength adjuster) into master and reactivated the new adjuster in cacorrect branch.

[2016-03-02 19:32] heckflosse opened #3191 "Graduated filter goes crazy in master branch"
Changing angle of Graduated Filter leads to crazy behaviour http://filebin.net/1y939ti8g0/graduated.png

[2016-03-02 19:33] heckflosse commented on #3191
@adamreichold Can that be related to https://github.com/Beep6581/RawTherapee/commit/aae360a5aa144429ac3b98d26c91dd57f7d9aff0

[2016-03-02 19:45] heckflosse commented on #3191
I tested current gtk3 branch. There it works fine

[2016-03-02 21:05] #3191 closed

[2016-03-02 21:25] heckflosse commented on #3191
Fix confirmed. Thank you :+1:

[2016-03-03 19:22] Karteileiche commented on #3154
Hello!

any news about the bug? If required, i can provide raw files too which crash RT.

[2016-03-03 20:20] heckflosse commented on #3154
Please provide files :+1:

[2016-03-03 20:35] Hombre57 commented on #2239
I've restarted the development of the Spot Removal tool. The GUI is functional, but I have some interrogations about how to deal with the pipeline.

In my current implementation, the processing is done on the image displayed in the Preview window **after** the transform processing. This means that each spot entry must have its source area completely visible and its destination area at least partly

[2016-03-03 20:52] Hombre57 commented on #2239
Forgot to mention: if a source area is partly crossing the image border, the processing of that entry is skipped (but still exist as an entry).

[2016-03-03 21:11] Hombre57 commented on #3103
I looks like the new implementation of Gtk::HScale has transferred the *increment move* on the right mouse button. However it only move the slider by an unknown amount instead. The increment is however correctly set in rtgui/adjuster.cc, line 335, with the same value as the spin button, 5 lines above.

Btw, scrolling or CTRL+scrolling over the spin button have the same effect then clicking on the

[2016-03-03 21:38] Karteileiche commented on #3154
The problem exists since i updated my XE2 to FW4.0.

I have uploaded 3 files at http://filebin.net/hv52p3oyjh . Different content but same parameters. If you need RAW with different settings please specify.

I use RT 4.2.0 with Linux Mint and with Windows 7 64bit (4.2.699, 64bit). Both quit when i want to open a file from the file manager to the edit window. The file manager itself shows all files

[2016-03-03 21:50] Beep6581 commented on #3103
:+1:

[2016-03-03 22:34] heckflosse commented on #3154
@Karteileiche After solving the trouble with your zip (it contains a tar file with extension .RAF) I could open all three files without problems using rt 4.2.745

[2016-03-03 23:22] Karteileiche commented on #3154
Sorry for the ZIP-problem.. i just used the "compress" option in Mint/Dolphin file manager.

I did not know that there is a newer version, it is not listed at http://rawtherapee.com/downloads.
But i found the links at the discuss platform and tried. It seems to be fixed in that version.

Thanks for your Help.

[2016-03-03 23:40] heckflosse commented on #3154
@Karteileiche Ok, thank you for the report and the example files :+1:

[2016-03-04 22:48] TooWaBoo opened #3193 "Curves become to big when edit by number is activated"
Curves become to big when edit by number is activated.
This happens, if more than two entry fields are showen.
I suggest to use 2 lines for the entry fields.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/13542489/6bfea27a-e263-11e5-8f6b-124ba19b1ddd.png)

btw: The buttons have a different height.

[2016-03-05 22:42] RawConvert commented on #3144
From: https://discuss.pixls.us/t/beginner-questions-and-observations-profiles-setup-etc/726/9
To add to the previous files, here are more colour chart exposures for profile making:
http://filebin.net/y4bj1y6rhr
These are 6D sunshine and overcast pics.
Andrew

[2016-03-06 00:26] sguyader commented on #2239
@Hombre57, thanks for trying to develop this tool. It is one of the most wanted tools left, and this will make RT the very best and complete raw development software.

[2016-03-06 00:57] heckflosse opened #3195 "Created new branch to speedup xtrans processing"
I created [xtransnew branch](https://github.com/Beep6581/RawTherapee/tree/xtransnew) with the intention to make some speedups for xtrans users.
I've a small speedup for xtrans demosaic on hold, but at playing around with xtrans files I detected, that they almost always need a bit of raw false colour suppression. For that reason I made an about 50% speedup for raw false colour suppression in first

[2016-03-06 11:25] Hombre57 commented on #3193
Some users prefer having a wide tool panel for having big curve editor, and then prefer having a single line coordinate editor.

What if the spin buttons were flowing automatically ?

[2016-03-06 11:27] Pinhuer opened #3196 "Installer requires elevated priveleges"
I cannot imagine what it needs elevated priveleges for. Installer of 4.2.1 and 4.2.699 behave in the same way.

It would be bon ton if installer did not require elevated priveleges (which are obviously not required as RAWTherapee runs fine wuthout any installation at all).

Installers taken from http://rawtherapee.com/downloads

[2016-03-06 11:30] TooWaBoo commented on #3193
Flowing automatically sounds good. +1

[2016-03-06 12:50] TooWaBoo commented on #3196
I guess, you are using Windows 7, 8 or 10.
Every installer, which wants to install an application into the program folder needs administrator rights.
This is how UAC works and it is not related to the installer itself. Without these rights, you can't install an application.

[2016-03-06 13:41] Pinhuer commented on #3196
Well, some installers only ask for elevated priveleges if "install for everyone" or "Program files" (or another system folder) is selected, upon pressing the "install" button.

[2016-03-06 13:55] Beep6581 opened #3198 "Double-clicking on a folder should expand it in the treeview if it contains subfolders"
The treeview, at least in `gtk3` in Linux, has two active parts: the triangle, and the folder name with the folder icon.

The triangle only supports single-click events and it expands the folder if it contains subfolders. That's good. Could someone verify that it's working correctly in Windows? I ask because of https://discuss.pixls.us/t/need-some-help/963/7

The folder label and icon on the other

[2016-03-06 14:05] gaaned92 commented on #3196
@Pinhuer
On windows, the installer created with windowsinnosetup requires no privilege unless you want to access protected resources.
If you want more specific answer, give more precise information.

[2016-03-06 14:10] gaaned92 commented on #3198
In master, double click on folder doesn't expand it. You must click on triangle.

[2016-03-06 16:37] heckflosse commented on #3195
I added 1d64c65

[2016-03-06 18:36] Pinhuer commented on #3196
Well..... I guess that the problem is that some resource on my system is restricted while it is not restricted in other OS installations.

I have no idea about what might go wrong. I even launched the installer with "/log" argument but it does not produce any log.

The OS is W7 x64, UAC is set to default.

[2016-03-06 19:01] Beep6581 commented on #2239
It would be nice if the user was notified of this somehow, e.g. cursor changes, or the spot circle on the canvas gets a line through it or some kind of indication.

The LCP tool can lead to serious preview issues at certain zoom levels. This could be an argument for having spot healing before transform. Also remember that Ingo is working on lensfun support which could influence this tool.

Both so

[2016-03-06 19:05] Beep6581 commented on #3144
@RawConvert can you also provide a tungsten shot?

If you're wondering how to take good tungsten shots - I took a shot last year in the basement, because the walls are white and there are real tungsten bulbs there. I took another shot this year in a white tiled bathroom. I was surprised to find that DCPs made from each lead to identical results. I take this as confirmation that either environment

[2016-03-06 19:09] Beep6581 commented on #3198
So double-click on the folder should also fire the same event as clicking on the triangle does, in both Gtk+ 2 and 3.

[2016-03-06 19:10] RawConvert commented on #3144
hi,  I sent a load of files a few weeks ago, the link is amongst the posts, hopefully someone downloaded, it might have expired now.  There was a tungsten shot in there (and a daylight bulb too).
Andrew

From: Beep6581 [mailto:notifications@github.com]
Sent: 06 March 2016 19:05
To: Beep6581/RawTherapee
Cc: RawConvert
Subject: Re: [RawTherapee] Canon EOS 6D camconst/DCP (#3144)

@RawConvert <https:

[2016-03-06 19:12] Beep6581 commented on #3144
Ah you're the same person :) Yes I have it, no problem.

[2016-03-06 19:14] RawConvert commented on #3144
phew!

From: Beep6581 [mailto:notifications@github.com]
Sent: 06 March 2016 19:12
To: Beep6581/RawTherapee
Cc: RawConvert
Subject: Re: [RawTherapee] Canon EOS 6D camconst/DCP (#3144)

Ah you're the same person :) Yes I have it, no problem.
—
Reply to this email directly or view it on GitHub <https://github.com/Beep6581/RawTherapee/issues/3144#issuecomment-192965727> .Image removed by sender.

[2016-03-06 20:25] Beep6581 commented on #3195
Compiles and runs fine, I don't see any differences in saved output between this and master.

[2016-03-06 22:12] Beep6581 commented on #3144
@RawConvert the old daylight shots require a 0.89 tint adjustment which is an indicator that something is probably wrong with the light. I'll delete them. The old tungsten shot has temperature values that look correct - can you confirm that the lightbulb was clear, untinted tungsten? http://images.wisegeek.com/light-bulbs.jpg

In the future please remember to position the brown patch in the top-le

[2016-03-06 22:12] #3144 closed

[2016-03-06 22:36] heckflosse commented on #3195
@Beep6581 Thanks for testing. I also made a lot of tests during optimization process and detected no differences in output. I'll merge now and let the branch open for further work on xtrans speedup.

[2016-03-06 23:03] RawConvert commented on #3144
hi Morgan,  thanks for this.

I’m not sure what you mean by “old daylight” shots, I think the only daylight ones were the ones yesterday.  Do you mean 2742, 2743?  These were a “daylight” fluorescent bulb.  This might account for the tint?  Did you see the text file I enclosed with the main bunch?

The tungsten was indeed a clear plain bulb.

Lastly, I don’t understand “I used the overcast shot as

[2016-03-06 23:46] Beep6581 commented on #3144
Old daylight shots = the ones from the now-expired link from 25 days ago which you provided in https://discuss.pixls.us/t/beginner-questions-and-observations-profiles-setup-etc/726/9
The delta E values from the overcast shot were better than those from the various daylight shots (old and new).

[2016-03-07 01:03] Beep6581 commented on #3198
This is a test, ignore this.

[2016-03-07 01:34] sguyader commented on #3195
Thanks Ingo for this first speedup. I hope you will be able to make a
sensible speedup for demosaicing too.

[2016-03-07 08:21] TheHibou opened #3200 "Themes missing in 4.1.699 64 bits on Windows 10"
Hello,

I was running version 4.2.1 64 bits on a Win 10 machine, no issue.

I tried to update to version 4.2.699 64 bits, everything seems OK but I can't change the theme - nothing appears in the scrolldow menu.

Can I fix that ?

Best Regards,
Herve

[2016-03-07 16:39] Beep6581 opened #3201 "New OS X 10.10 and 10.11 builds needed"
Hey @ion12 and @helmi03 ! I was waiting for a moment when we finish merging many of the branches, and this happened the other day. Could I ask you to make new builds? Of course there are more merges coming, but now is a great time to make new builds, and then again in a month when we switch the default branch to `gtk3`.

[2016-03-07 16:55] TooWaBoo commented on #3200
No, you can't fix it.
The new Gtk3-GUI is still under development.
If you want to try another theme, checkout this:
https://discuss.pixls.us/t/final-custom-theme-toowabooblue-1-07-update-28-feb-2016-gtk3/772

[2016-03-07 17:00] #3162 closed

[2016-03-07 17:02] Beep6581 commented on #3200
Closing this as duplicate of #2980

[2016-03-07 17:02] #3200 closed

[2016-03-07 17:27] Beep6581 commented on #2980
RawTherapee no longer bundles or loads `gtk-contained-dark.css`, now it invokes the dark Adwaita variant using Gtk+:
[code]
Then it applies the user-chosen theme, which is currently hard-coded to `RawTherapee.css`.

[2016-03-07 17:28] Beep6581 commented on #2980
@TooWaBoo should we call your theme "TooWaBlue"?

[2016-03-07 17:49] pi99y commented on #3154
Sorry for the inactivity. I can still easily reproduce the crash (with the images I provided to @heckflosse) on the latest "master" RawTherapee version 4.2.752 b3f6f1c1b522df1b6effe04da1b69c2af354b690
But mainly on those files with old pp3s. Editing images without (or current) profiles seems totaly fine.

[2016-03-07 17:55] Beep6581 commented on #2980
Pull request opened:
https://github.com/Beep6581/RawTherapee/pull/3202

[2016-03-07 17:58] heckflosse commented on #3154
@pi99y I tried to reproduce the crashes with the images you provided. But all works fine here. If you have one image with the corresponding pp3 which allows to clearly reproduce the crash, please tell me.

[2016-03-07 18:07] TooWaBoo commented on #2980
@Beep6581
You can call the theme whatever you want. Maybe call it RawTherapeeBlue. It's up to you.
For the new version 4.2.849, I have to rework the whole theme again. There many changes to the object refference.
I'll hope I can finish it until weekend.

[2016-03-07 18:12] pi99y commented on #3154
No, sorry, for me it seems it's the process of creating previews/thumbnails while trying to edit what seems to crash it. A specific SET of files. Sometimes one fine works fine, the other time it crashes...

[2016-03-07 18:38] heckflosse commented on #3154
@pi99y I don't remember. I'll try again

[2016-03-07 21:50] Hombre57 commented on #2980
@TooWaBoo
Unfortunately, the main theme will change again in the future (in few months I guess) when Gtk 3.20 will be available. Colors shouldn't change anymore (well... maybe for the Preference window, if I'll still care), but margins and paddings should, since they are partly supported by Gtk3 as of now (3.18), i.e. the margin and paddings already set in rawtherapee.css for Gtk::Frame are unused

[2016-03-07 22:04] heckflosse commented on #3195
Sébastien, currently I'm at 9% speedup. xtrans demosaic is really hard to optimize. The sensor layout doesn't make SSE optimizations easy...

[2016-03-07 22:18] Hombre57 commented on #2239
In fact, it is even worse than that : let's say that entry 1 is not computed because out of scope, but entry 2 IS computed, but wrong because it's source area is the destination area of entry 1 (which should have been altered).

The modifications are re-entrant (as it should be), so ignoring some entry will make this tool quite tricky to use.

I think the best I should do is moving this tool befor

[2016-03-07 22:54] TheHibou commented on #3200
Thanks Beep6581.

At least now I know, and will survive :) until the problem is fixed.

Best Regards,

TheHibou

De : TooWaBoo [mailto:notifications@github.com]
Envoyé : lundi 7 mars 2016 17:56
À : Beep6581/RawTherapee <RawTherapee@noreply.github.com>
Cc : TheHibou <herve.chappe@laposte.net>
Objet : Re: [RawTherapee] Themes missing in 4.1.699 64 bits on Windows 10 (#3200)

No, you can't fix it.
Th

[2016-03-08 01:17] sguyader commented on #3195
Ingo I tried your new branch but running the benchmarkRT script I couldn't see any significant difference with master.

[2016-03-08 11:02] heckflosse commented on #3195
Sébastien, I would expect no differences because I didn't push the changes ;-)

[2016-03-08 11:25] sguyader commented on #3195
Lol ok, then I'm glad I didn't find any difference ;)

On Tue, Mar 8, 2016 at 7:02 AM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-03-08 11:53] Beep6581 commented on #3195
`benchmarkRT` was useful back when a single tool took ages to compute, e.g. Shadows and Highlights with Sharp Mask took 3 and a half minutes to process a 10 megapixel image. But nowadays RawTherapee does the same work in one or two seconds, so the script is no longer useful for measuring such short times. Most tools take just milliseconds. To measure such short times you need to hard-code a timer

[2016-03-08 12:01] heckflosse commented on #3195
@sguyader Sébastien, the false colour suppression changes are already in master branch
@Beep6581 DrSlony, that's what the BENCHMARK #define and the BENCHFUN macros are for

[2016-03-08 12:08] sguyader commented on #3195
@Beep6581 For me to process a 16MP Xtrans file on my laptop, with the neutral profile, it takes several seconds, actually 7.8 to 8 seconds on average, and add 1.2 second on top of that for false color suppression. Looking at the variation between 5 consecutive runs, I should be able to see a significant difference if it is above 0.5 second.

[2016-03-08 12:14] heckflosse commented on #3195
@sguyader I tested the false colour suppression with a 24 Mp xtrans file and set false colour suppression steps to 5. Before changes processing time for false colour suppression was 1244 ms, after last commit 421 ms

[2016-03-08 12:30] sguyader commented on #3183
Hi, I was able to find  some DCP profiles created by Mario (aka "cack")on the Fuji X Forum. He used DCamProf to generate the profiles for the X-E1, X-E2, X-T1 and X-T10 cameras, and made 2 flavours for each camera: one with some contrast, one with a flat response (I asked him how he generated those 2 flavours, I'm waiting for his answer). I also asked him for his permission to distribute these pro

[2016-03-08 13:51] Beep6581 opened #3203 "Tool names not aligned evenly"
All boxes containing tool names and their enable/disable buttons or expander icons in Detail and Wavelet are aligned the same way, with consistent spacing between each other and indentation from the left.
All tools in Exposure, Color, Transform and Raw are aligned the same relative to each other but different to Detail and Wavelet, except for Tone Mapping and Preprocessing which are both nudged to

[2016-03-08 14:03] Beep6581 commented on #3183
I'd prefer the raw files.

[2016-03-08 18:50] ion12 commented on #3201
release:
https://drive.google.com/open?id=0B8oSq7opQwfFSjBNNE9pWlZlVVk
debug:
https://drive.google.com/open?id=0B8oSq7opQwfFZ3BIbWRzVzBCMDg

Not sure what you decided for the DMG naming convention in the end but for now you can just rename the .zip file, it won't affect the .app itself

[2016-03-08 19:44] TooWaBoo commented on #2980
TooWaBlue for RT 4.2.849 finished :-)
Rename file extension from .txt to .css
[RawTherapee.txt](https://github.com/Beep6581/RawTherapee/files/163829/RawTherapee.txt)

[2016-03-08 19:51] Beep6581 commented on #3201
Thanks! I'll upload tomorrow, too tired now.

[2016-03-08 19:54] Beep6581 commented on #2980
Thanks, I'll test and include it in PR #3202 which I will merge tomorrow as no one has objected. We can update it afterwards as needed.

[2016-03-08 20:10] TooWaBoo commented on #2980
@Hombre57
Does this mean, that margin is supported in the future?

[2016-03-08 21:11] VolkerLerch opened #3204 "Preferences - Color Management - standard monitor profile disappears"
Raw Therapee Version 4.2.745
German language
Opensuse leap 4.2

In preferences --> color management, I choose my ICC profile directory (which is in my case /home/my_user_dir/.local/.../icc ).
I then select my own standard monitor profile. After selection, it is being displayed in the preferences mask.
![color_management](https://cloud.githubusercontent.com/assets/17731554/13616442/46a014ea-e57a-11

[2016-03-08 22:35] reggybe commented on #3204
Doesn't happen with openSUSE 13.2, same RT version. Can you take a look in your options file in .config/RawTherapee under Color Management if it is written there?

[2016-03-08 22:44] heckflosse commented on #3195
@sguyader Sébastien, currently the speedup is at 10% (90% processing time compared to master march). I can push it to the xtransnew branch it you would like to try it. It also includes a minor bugfix and a slightly different averaging of the multi pass results which results in a tiny bit better colours in some areas of the picture.

Ingo

[2016-03-09 00:20] Hombre57 commented on #2980
That's what @Beep6581 was told by the Gtk dev : this is something they are implementing/enhancing for Gtk 3.20.

[2016-03-09 00:27] Hombre57 commented on #2980
`cssBase` could be used to load the Adwaita theme (if we bundle it, for the reason you explained in the initial post), so I guess that you've renounced to that ? If so, I've no objection on committing.

[2016-03-09 01:04] sguyader commented on #3195
@heckflosse yes Ingo I will test new changes when you push them.

[2016-03-09 01:08] heckflosse commented on #3195
@sguyader Sébastien, great, I'll push them tomorrow after cleaning the code a bit. On my system, xtrans-3-pass for a 24Mp xtrans file went down from 1450 to 1290 ms. Not much, but better than nothing. Maybe I'll find some more small bottlenecks...

[2016-03-09 06:49] Beep6581 commented on #2980
While writing the first post I thought bundling Adwaita*.css was what we had to do, but then I learned of the better way which I used in the code and in the second post. So we still do load Adwaita first and then overwrite it with a custom theme. This makes sense is we want our theme to be similar to Adwaita and only differ in a few places, as it makes our custom .css shorter. But if we want our c

[2016-03-09 08:03] IC7K opened #3205 "Resize crop area borders need wider"
need wider area in 2-3 of current width, where cursor have "resizing" type, because difficult to catch borders for resize with mouse

more info here [https://discuss.pixls.us/t/resize-crop-borders-need-more-wider-how-to/987/13](url)

thanks all!

[2016-03-09 19:45] heckflosse commented on #3195
@sguyader I found another part I could optimize. Processing time now is 1236 ms. But, because of this new optimization I'll probably not be able to push the changes today.

[2016-03-09 21:33] iliasg commented on #3195
Ingo, regarding the better colours you mentioned .. before the averaging .. do we have correct aligning of colors at the various passes ?.
An example of possible error is for the "interpolate red for blue pixels and vice versa". If we interpolate the three neighbouring blues on a red pixel by inverse distance (B1+B2/1.41+B3/1.41) then the weight center in not at the center of the red pixel ,, it w

[2016-03-09 21:36] heckflosse commented on #3195
Ilias, I didn't block anyone out of my email. Have to check that...
I'll try your suggestion now

[2016-03-09 21:57] heckflosse commented on #3195
Ilias, I think it already is (B2+B3)/2+B1, as you suggest

[2016-03-09 22:29] iliasg commented on #3195
Fine .. but does this perfect centering holds true for the all interpolations ?.

[2016-03-09 22:41] heckflosse commented on #3195
Ilias, I did check the part of code you mentioned: 'interpolate red for blue pixels and vice versa'. For the remaining interpolations I'll have to look again. I'll post now (next hour) the current changes concerning speedup of xtrans demosaic. There are some scattered pixels different to master branch because I optimized some calculations and also calculated one lut in double precision which was c

[2016-03-09 23:09] heckflosse commented on #3195
@sguyader I pushed the speedup (without the changes to averaging final pixels). Processing time for my test file now is about 1260 ms (master branch is 1450).
@iliasg This optimization process helps me to understand how the current implementation works. It's really complicated but I already started to understand it. I guess that might help with further quality improvements.

[2016-03-09 23:59] heckflosse commented on #3195
Addition: with last commit I also reduced the memory usage of xtrans demsaic from
c * 8 * 122 * 122 bytes
to
c * 8 * 122 * 61 bytes, where c is the number of cores.
By tricky coding it should be possible to reduce memory usage to
c * 8 * 82 * 41 bytes
Reducing memory usage usually leads to additional speedup. I'll try this next days...

[2016-03-10 12:03] sguyader commented on #3195
@heckflosse I'm ready to try your new changes. Can you recommend to me a method for comparing timings and memory usage between master and xtransnew branches?

[2016-03-10 12:20] heckflosse commented on #3195
@sguyader [copy line 39 and 40](https://github.com/Beep6581/RawTherapee/blob/xtransnew/rtengine/demosaic_algos.cc#L39) and [line 4015](https://github.com/Beep6581/RawTherapee/blob/xtransnew/rtengine/demosaic_algos.cc#L4015) into master to have the timing code in master. For memory usage you won't be able to measure. It's only a small reduction which is mainly for reducing processing time

[2016-03-10 12:21] heckflosse commented on #3195
For timings I always measure in queue to avoid side effects of progress bar. I always put the same image 7 times in queue and take the median of this 7 values

[2016-03-10 12:28] heckflosse commented on #3195
@sguyader line numbers in master are different of course. The BENCHFUN must be behind this lines
void RawImageSource::xtrans_interpolate (const int passes, const bool useCieLab)
 {

[2016-03-10 14:30] sguyader commented on #3195
@heckflosse with your changes, xtrans demosaicing on my computer went from ~3475ms down to ~3100ms, about 11% faster, with 5-step false color suppression enabled (false color suppression accounts for a gain of ~45ms).

[2016-03-10 14:48] heckflosse commented on #3195
@sguyader Did you place an own BENCHFUN in the false colour suppression?

[2016-03-10 15:55] sguyader commented on #3195
@heckflosse I didn't. In fact I at first I thought false colour suppression was part of the xtrans demosaicing algorithm, but I realized it is not.

[2016-03-10 16:32] patdavid opened #3206 "Multiple Gradients/Graduated Filter"
Just asking for a feature request per [this thread on the forum][dpu].

[dpu]: https://discuss.pixls.us/t/is-it-possible-to-apply-more-than-one-graduated-filter/

The OP was looking to be able to apply multiple graduated filters to an image (which I think would be handy also).

[2016-03-10 16:50] dngimage commented on #3206
That sure would be handy.
And if it could add some gradient blur that would be great too.
Some mouse control would be handy as well.

[2016-03-10 18:22] michaelezra commented on #3206
That would be a *really* useful feature.

[2016-03-10 21:14] TooWaBoo opened #3207 "Paste button is missing in curves"
Paste button is missing in curves when "Custom" is selected.
Buttons have different height.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/13684705/372ad1fa-e70d-11e5-8f23-e8189c763486.jpg)

[2016-03-10 23:28] heckflosse commented on #3195
@sguyader Sébastien, false colour suppression is after demosaic (for bayer and for xtrans). That's correct so far, but what's not correct in my opinion is, that it's also after retinex. That doesn't make sense. What do you and other devs think about that? @Hombre57 @Desmis @Beep6581 @michaelezra @adamreichold

[2016-03-10 23:30] Hombre57 commented on #3195
I agree, false color suppression is used to recover artifact from the demosaicing process, so Retinex should be after that.

[2016-03-10 23:41] sguyader commented on #3195
I also agree that false colour suppression should be right next to
demosaicing, as it is used to correct demosaicing-introduced artifacts.

[2016-03-11 00:05] heckflosse commented on #3195
Ok, so we have an agreement about the place of false colour suppression in tool chain, great!
Let me explain the consequences to performance in preview mode:
Assume that 'false colour suppression is > 0
In current implementation 'fcs' (I use that now as an abbreviation for 'false colour suppression') is done not for the whole raw file, but only for the part in preview.
Doing fcs for the whole file

[2016-03-11 00:12] Hombre57 commented on #3195
That's fine for me, since as long as we're in a fast demozaicing mode (i.e. < 100% zoom rate), fcs is not computed, and there would be no slow down for those reviewing their images.

[2016-03-11 00:16] heckflosse commented on #3195
I'll open an Issue for fcs where we can discuss it, because it affects bayer too and we're in xtrans here

[2016-03-11 00:21] heckflosse opened #3208 "Move 'False Colour Suppression' (FCS) closer to demosaic"
Currently FCS is placed after Retinex in processing pipeline, which doesn't make sense (it should be between demosaic and retinex)
I opened this issue to solve this

Ingo

[2016-03-11 00:21] heckflosse commented on #3195
Opened #3208

[2016-03-11 00:25] Hombre57 commented on #2239
I've looked at the transform function. It covers CA, Distortion, Rotation, Perspective, Gradient, PCVignetting, Vignetting, LCP.

Almost everything could be done after the Spot tool, but what about the CA feature (chromatic aberration) ? Wouldn't it produce better result for both the Spot tool and the CA tool to adjust CA before the Spot removal ? And is it okay to isolate CA from the lens distort

[2016-03-11 00:51] heckflosse commented on #2239
@Hombre57 Which ca removal do you mean? We've three of them currently.

[2016-03-11 00:57] heckflosse commented on #2239
@Hombre57 Ca removal via LCP and/or via future LensFun support should not have a serious influence to Spot tool (if that's what you question)!

[2016-03-11 01:27] sguyader commented on #3208
Like @Hombre57 I think there should be no problem with FCS during preview since in general it is preferable to use fast demosaicing for preview.

[2016-03-11 10:28] pi99y commented on #3208
Please keep the faster _option_ for previews. On weaker machines browsing is allready a bit slow. Thanks.

[2016-03-11 10:30] Beep6581 commented on #2239
Yes, but.
1. Is it much more work for you to do that?
2. Will the spot tool be used on parts of the photo which are affected by CA? In other words, if the spot tool is used for dust removal from the sky, CA is not an issue there, it would only be an issue on non-plain areas. What can the spot tool do?
3. Is the course of action you take now limited in scope to this spot dust removal tool only, or

[2016-03-11 12:39] Beep6581 opened #3209 "Remember window positions in macOS"
Apparently RT does not respect the "default screen" setting in OS X 10.11, and (perhaps as a result) it does not remember the screen last used.

Reported by Brainois/Michel here:
https://discuss.pixls.us/t/rawtherapee-on-two-screens/1006

[2016-03-11 13:29] heckflosse commented on #3208
Currently (mast branch) it's this way, if you use fast demosaic for preview < 100%:

1) Open image, fast demosaic is used
2) zoom in to 100%, amaze, 3-pass xtrans or whatever you choose demosaic is used and FCS is applied to the part of the image in preview
3) pan the zoomed image or change an adjuster, FCS is again calculated for the part of image in preview...

Means, each time you pan the image

[2016-03-11 16:51] Beep6581 commented on #3208
I think generally I prefer to wait once and have it over and done with, though in this case being 30ms for a 24MP file it's no problem for me if it does that for the visible part only.

[2016-03-11 16:52] Beep6581 commented on #2957
I don't remember what this bug is about, closing.

[2016-03-11 16:52] #2957 closed

[2016-03-11 16:52] Beep6581 commented on #2854
Stale, closing.

[2016-03-11 16:52] #2854 closed

[2016-03-11 16:54] Beep6581 commented on #2848
No interest - closing.

[2016-03-11 16:54] #2848 closed

[2016-03-11 16:55] Beep6581 commented on #2840
Stale, lacks info, closing.

[2016-03-11 16:55] #2840 closed

[2016-03-11 17:01] Beep6581 commented on #3201
Uploaded.

[2016-03-11 17:01] #3201 closed

[2016-03-11 17:10] Beep6581 commented on #2980
Theme selection fix and `TooWaBlue` 1.09 committed to `gtk3`.
Issues with `TooWaBlue` to be addressed in a separate issue.

Closing.

[2016-03-11 17:10] #2980 closed

[2016-03-11 18:23] pi99y commented on #3208
Oh, so the "fit image to display" preview would only cost a fraction of whole-image-fcs time and would be that short... Then that's not a problem at all I think.

The only scenario I was worried about is when I "F4/next" trough images in "editor view" and I want to find or comapre images quickly. If the more costly calculation is only done when I view image at 100% for the first time, that's fine

[2016-03-11 18:33] a-r-taylor opened #3210 "Not working on Linux Mint 17.3"
Hi,

Installed the Ubuntu version of Rawtherapee using the PPA. It installed without issue, but when I run the program, it appears on screen for a fraction of a second before quitting. There are no error messages that show.

Still a Linux newb so all help is appreciated.

Cheers.

[2016-03-11 18:37] heckflosse commented on #3208
I guess I have to explain it again:

currently (master branch) when you open an image with less than 100% zoom, no fcs is applied.
When you zoom in to 100% or more and when you pan around or change adjusters (exposure, contrast, curves, whatever) while being at 100% or more preview, fcs gets calculated for the preview region. The processing time for this depends on the speed of the machine, the si

[2016-03-11 18:55] pi99y commented on #3208
... I get that you're trying to make it so it's just once per image (which is great), but only when the preview is set to zoom 100% (or more):
a) *for the first time*
or
b) for *any preview zoom level?*

I often don't need the 100% view and if "preview demosaic method" option is set to "fast" I'd rather have the faster option (without FCS) while the preview is below 100% and it only gets calculate

[2016-03-11 19:05] heckflosse commented on #3208
@pi99y In first step I try to make fcs faster. Then we should continue discussion how to proceed.

[2016-03-11 19:29] Beep6581 commented on #3210
Hey

If you run into a problem, you need to provide specifics: what version of Ubuntu, what PPA, what version of RawTherapee, etc.
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-03-11 19:40] a-r-taylor commented on #3210
Hey,

Thanks for the response.

OS: Linux Mint 17.3 XFCE 64bit
PPA: ppa:dhor/myway -- as per the website
Version: 4.2-4dhor~trusty -- according to Software Manager

As mentioned, it does not stay on screen long enough for any information.

Thanks.

[2016-03-11 20:10] Beep6581 commented on #3210
Ok, first try installing the "unstable" version or whatever it's called there, perhaps "rawtherapee-unstable". If that crashes too, try to install the "debug" version, then follow the link I sent to get a stack backtrace. It sounds complicated but I assure you the instructions are clear and easy to follow, I just can't give the exact package name you must install as I don't use Ubuntu or anything

[2016-03-11 21:34] Hombre57 commented on #2239
@heckflosse
I'm referring to the `ImProcFunctions::needsTransform ()` function, which include the CA correction from `LensProfParams` and from `CACorrParams` (from the Raw tab).

@Beep6581
1.1. it seems to be complex, at least for me, but I had to ask.
1.2. the raw tab's CA correction does shrink each r/g/b color channel differently, and thus change even plain area that generally has some grain
1.

[2016-03-11 21:54] heckflosse commented on #2239
@Hombre57 needsTransform does not include the ca correction params from Raw tab. And that's perfectly fine. Or do I miss anything?

[2016-03-11 21:57] Hombre57 commented on #2239
@heckflosse You're right, it's refers to the Lens/Geometry CA corr. Sorry for the confusion.

[2016-03-11 23:13] Hombre57 commented on #3203
Fixed in commit 7f0a96e. Closing.

[2016-03-11 23:13] #3203 closed

[2016-03-11 23:16] heckflosse commented on #3208
I pushed a 10% speedup for fcs to new branch [false colour suppression](https://github.com/Beep6581/RawTherapee/commits/falsecoloursuppression) Tomorrow I'll try to partly vectorize it

[2016-03-11 23:30] heckflosse commented on #2239
@Hombre57 :)

[2016-03-11 23:49] heckflosse commented on #3195
@sguyader Sébastien, choice of tilesize has an influence on processing speed of xtrans demosaic. On my machine, ts 114 is best. If you have some time left, could you please test different values for ts? Maybe we find a good value. Here's my result: http://filebin.net/gk863gpkmq
You need to change [ts in code](https://github.com/Beep6581/RawTherapee/blob/xtransnew/rtengine/demosaic_algos.cc#L4017),

[2016-03-12 00:16] Hombre57 commented on #3205
This is a minor change, so if you're okay with the new detection area (doubled), I'd like to commit tomorrow.

[2016-03-12 01:01] heckflosse commented on #3205
I'm ok with the change though would have chosen 8 instead of 12. But :+1: for commit

[2016-03-12 01:12] Hombre57 commented on #3205
Changing from 6 to 8 would not make a big change. Why not using 9, which is the mean of 6 and 12 ?

[2016-03-12 01:15] heckflosse commented on #3205
@Hombre57 : +1 for 9

[2016-03-12 02:05] sguyader commented on #3195
OK Ingo I'll try to do some testing during the weekend. Maybe not tomorrow, as I'm going to meet Jacques who invited me for lunch!

[2016-03-12 02:24] Hombre57 commented on #3207
Fixed in commit e0d1004. Closing.

[2016-03-12 11:07] Hombre57 commented on #3205
Branch enlarged-crop-borders rebased with the new width of 9px and merged into master. Closing this issue and deleting branch.

[2016-03-12 11:07] #3205 closed

[2016-03-12 12:09] Beep6581 commented on #3203
Fix confirmed.

[2016-03-12 12:14] Beep6581 commented on #3207
Missing button fix confirmed.
The icon containers still vary in size though http://i.imgur.com/vrWB8qs.png

[2016-03-12 13:46] TooWaBoo opened #3211 "Theme TooWaBlue v1.10 update"
Corrected some minor glitches.

[TooWaBlue1.10.css.txt](https://github.com/Beep6581/RawTherapee/files/170426/TooWaBlue1.10.css.txt)

[2016-03-12 20:43] wooac opened #3212 "16 bit TIFF files limited to 3000x3000"
I'm trying to convert a 6000x4000 Sony ARW file to a 16-bit TIFF with the fast exporter and the file size appears to be limited to 3000x3000.    It would be useful if this was user settable in preferences.

[2016-03-12 21:11] Beep6581 commented on #3212
@michaelezra hey, any reason there is a limit there at all?
Shall we change it to 10000 w/h?
https://bpaste.net/show/ab677fcefaa4

[2016-03-12 22:34] heckflosse commented on #3208
I pushed another 24% speedup for fcs to branch false colour suppression

[2016-03-13 00:51] heckflosse commented on #3208
I want to sum up the recenct changes to fcs. About one week ago (before [first fcs speedup](https://github.com/Beep6581/RawTherapee/commit/8619fd8a0b789c4fa284ee262da91d238e638d27)) 5-step fcs for a 24Mp file in full processing (queue) took about 1240 ms on my machine. Now it takes about 290 ms, 4 times faster than one week ago. And there's some further speedup possible for fcs.I'll continue tomor

[2016-03-13 00:53] sguyader commented on #3208
Great job Ingo!

[2016-03-13 00:53] heckflosse commented on #3212
@Beep6581 :+1:

[2016-03-13 01:06] sguyader commented on #3212
If 50 megapixel cameras become more frequent (resolution of about 8700×5800) and with the spread of sensor pixel shifting technology, maybe we should push the limit above 10000x10000?

[2016-03-13 01:18] heckflosse commented on #3212
The limit is only for 'fast export'. Though I admit, that the current limit of 3000 is too low I see no value increasing it to 10000 (who wants to 'fast export an image of that size?) On the other side, it doesn't hurt to unlimit it....

[2016-03-13 07:24] TooWaBoo opened #3213 "Histogram is wrong when "No ICM: sRGB Output" is selected"
RT 4.2.849 Gtk3, Win 10 x64
1. Open an image and apply "Neutral"
2. Check in Preferences, if "Use working profile for main histogram and navigator" is **unchecked**.
3. Switch "Output Profile" between "RT_sRGB" and  "No ICM: sRGB Output".

Histograms "No ICM: sRGB Output" should look close to "RT_sRGB", but it doesn't.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/13727457/96ba

[2016-03-13 13:10] Beep6581 commented on #3212
I don't use fast export so it makes no difference to me. I don't see a point limiting this though. If a camera shoots 6000px wide shots it's not like downscaling to 3000px will be any faster than downscaling to 5000px, and if someone needs to do that then their need is more important.

Shall we set it to 10000?

[2016-03-13 13:18] heckflosse commented on #3212
@Beep6581 :+1:

[2016-03-13 13:34] #3207 closed

[2016-03-13 14:40] michaelezra commented on #3212
The original purpose of fast export was to allow quicker exporting of lower resolution image "previews", which are normally files limited to resolution of the display. For that use case 3000px is still generous, although could be increased to 4K or 8K... A resolution limit to fast export was imposed to enforce a higher quality fast export output as during downscaling appearance various artifacts g

[2016-03-13 15:14] Hombre57 commented on #3193
Fixed in the new flowing-curve-edit-axis branch. I'd like to commit tomorrow if no objections.

[2016-03-13 15:44] pi99y commented on #3208
Wow, 4 times faster is a really great improvement! Thank you.

[2016-03-13 15:48] Hombre57 commented on #3208
:clap:

[2016-03-13 17:08] Beep6581 commented on #3207
+1 for separation between the icon groups, I found that helpful.

[2016-03-13 17:31] TooWaBoo opened #3214 "Theme TooWaBlue updates"
Update v1.17, 2016-04-03 - Needs branch **more-object-id**
[TooWaBlue.css.txt](https://github.com/Beep6581/RawTherapee/files/201573/TooWaBlue.css.txt)

Deutsch locale update - small corrections
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/201575/Deutsch.txt)

[2016-03-13 18:58] #3212 closed

[2016-03-13 19:33] Hombre57 commented on #3214
Could you please use only one issue for your updates ?

[2016-03-13 19:36] TooWaBoo commented on #3214
Sorry, I'll do it next time.
You can close #3211 and I will take this one for the future.

[2016-03-13 19:37] Hombre57 commented on #3211
Further updates will be in issue #3214. Closing.

[2016-03-13 19:37] #3211 closed

[2016-03-13 21:07] Beep6581 commented on #3193
Builds and looks good!
Would it be possible to make the spinboxes float left, so that there is no big gap between each label and its respective spinbox?
http://i.imgur.com/zzlFJv7.png

[2016-03-13 22:09] Hombre57 commented on #3193
Which one do you prefer ?

N°1:
![solution1](https://cloud.githubusercontent.com/assets/13788115/13731729/8cd06524-e970-11e5-9b35-15bff2cdaf25.png)

N°2:
![solution2](https://cloud.githubusercontent.com/assets/13788115/13731730/8e8ed5b2-e970-11e5-9e01-f36022cf9f7f.png)

[2016-03-13 22:11] Hombre57 commented on #3193
I vote for N°2.

[2016-03-13 22:19] heckflosse commented on #3208
Hmm, it turnes out that moving fcs before retinex is not as easy as I thought. In fact the current place of fcs in rt pipeline seems to be good. It's just that the place of retinex in pipeline could be later. But for technical reasons that's currently not possible. I don't think that I can solve this conflict without help from @Desmis or @atorger . Nevertheless I will of course merge the speedups

[2016-03-13 22:20] heckflosse commented on #3193
N°2 for me

[2016-03-13 22:28] heckflosse commented on #3208
I merged the fcs speedups into master and deleted the branch. I want to let this issue open for further discussion about moving fcs before retinex

[2016-03-13 22:48] michaelezra commented on #3193
N2

[2016-03-13 23:05] Hombre57 commented on #3193
Solution 2 committed, merging to gtk3 now and closing this issue.

[2016-03-13 23:05] #3193 closed

[2016-03-13 23:12] Beep6581 commented on #3193
N°2, thank you :]

[2016-03-14 01:04] DigitalReload opened #3216 "RT 4.2.1 for Windows Installation Failed"
installed RT 4.2.1 for Windows Vista/7/8/10 64-bit (Branch: default), 2014-10-25 05:51 ( most recent stable )

Failed to start from installer and failed to start from menu.

I get a windows message rawtherapee has stopped working.
A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available.

I am using Avast antivirus (paid versi

[2016-03-14 01:47] Beep6581 commented on #3216
4.2.1 is old and unsupported.
Get the latest development version:
http://rawtherapee.com/downloads

Follow this guide if you run into any issues:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup

[2016-03-14 01:47] #3216 closed

[2016-03-14 03:14] DigitalReload opened #3217 "Debug message"
(rawtherapee.exe:6040): Gtk-WARNING **: Failed to fetch network locations: Error opening directory 'C:\Program Files (x86)\RawTherapee-4.2.1\network:': No such file or directory

I have installed stable version and it failed to load. I then stalled the bug version and produced this report.

os Win 10

[2016-03-14 06:16] DigitalReload commented on #3216
Many Thanks.

Installed and working.

I am a Lightroom user with some Photoshop experience. I am attracted to deconvolution sharpen & focus solutions.

I am pleased to discover RT and look forward to the technique and opportunities offered.

Regards Edward

From: Beep6581 [mailto:notifications@github.com]
Sent: Monday, 14 March 2016 9:48 AM
To: Beep6581/RawTherapee
Cc: DigitalReload
Subject: Re: [

[2016-03-14 14:37] sguyader commented on #3195
@heckflosse sorry Ingo, I couldn't make the TS tests earlier. I uploaded my results here: http://filebin.net/onuuozhgqz
Interestingly, the lower the tile size, the faster it runs on my system (processing a 16MP file), by a good 10%. As you will see, I've been down to TS=90, should I try to go lower and see if it gets any better, or should I stop here?

[2016-03-14 15:30] sguyader commented on #3195
I went a little further, and event tile sizes of between 70 to 80 lead to good speedup. The (marginally) best TS I found is 80 for me (median time 2764ms, 89.10% compared to TS=122).
I have a question: is there any drawback to lowering the tile size?

[2016-03-14 16:49] heckflosse commented on #3208
When one changes the 'False colour suppression steps' value the image gets demosaiced again which needs some time. That's not necessary the way 'False colour suppression steps' is positioned in pipeline currently. Fixed with 703b3ed

[2016-03-14 17:20] Krzysiu opened #3218 "Windows license text in setup - wrong encoding"
Hello! It's very minor, yet still I'm letting you know. The setup of build 4.2.849 (maybe other as well, I wasn't looking at this earlier) on Win7 64 have UTF-8 license text, yet encoding is wrong, so it starts with "Copyright Â©2004-2012 GĂˇbor HorvĂˇth".

[2016-03-14 17:34] sguyader commented on #3218
Yes it happens in older builds too.

[2016-03-14 18:34] Beep6581 commented on #3217
It's just a warning, not an error and not a problem.
It's not caused by RawTherapee but by one of the programs RawTherapee uses, Gtk+ 3. Closing.

[2016-03-14 18:34] #3217 closed

[2016-03-14 19:09] Beep6581 opened #3219 "Neutral doesn't reset Tint slider"
I got the files from https://discuss.pixls.us/t/white-balance-offset-for-ir-work/1045/5
Using latest `gtk3`, I opened it in the Editor tab, applied Neutral, and the tint slider did not reset, it remained at 5.000.
This is a small bug but with major consequences, could someone take a look? Else I'll try to take it tomorrow.

[2016-03-14 19:25] heckflosse commented on #3219
@Beep6581 I don't think it's a bug. Set Tint to 1000 and apply Neutral => tint is set to 5000

[2016-03-14 19:42] heckflosse commented on #3195
@sguyader There's no drawback in lowering the tile size. We should try to avoid values which ore really bad at one system. e.g. 96 is 10% faster than 122 on your system but on my system it's 10% slower.

[2016-03-14 20:09] Beep6581 commented on #3219
The tint was calculated as the default/neutral value for that image? I see that's what happens with other images.

[2016-03-14 21:31] abrodkin opened #3220 "New DCP camera profile for Sony a6000 (ILCE-6000)"
Hi,

With help of DCamProf and automated script found here (https://discuss.pixls.us/t/easily-generate-dcp-profiles-using-dcamprof-and-this-bash-script/897) I was able to create dual illuminant (daylight/tungsten) .dcp profile for Sony a6000 (ILCE-6000) camera.

Both .ARW files (DSC00481.ARW - daylight, DSC00535.ARW - tungsten) and resulting "Sony ILCE-6000.dcp" are available here http://filebin.n

[2016-03-14 22:21] heckflosse commented on #3195
@sguyader Sébastien, I try to explain the consequences of choice of tile size:

In tiled demosaicers you always have a gross and a net tile size. The gross tile size determines the size of the square you need to read from raw data to store a demosaiced tile which size is determined by the net tile size. The ts variable in xtrans demosaic is the gross tile size, while the net tile size is brutto ti

[2016-03-14 22:48] sguyader commented on #3195
Thanks for the explanation Ingo. Is there a way to categorise the types of existing systems, based on L2/L3 cache, and try to find the best overall tile size? Or is it possible to make tile size a choice in preferences, then it would be up to the user to find the best best value for his system by trial and error?

[2016-03-14 23:05] heckflosse commented on #3195
Sébastien, I also thought about making tile size a choice in preferences. But hard coded tile size also has an influence on speed, because compiler can do better optimizations with hard coded tile size.
About categorizing the systems: I would categorize them in two categories: Old systems and modern systems. Modern systems often have a lot of L2/L3 cache where a higher ts is better, whereas old sy

[2016-03-14 23:17] sguyader commented on #3195
I agree it is better to target modern systems.

[2016-03-15 09:18] Beep6581 commented on #3195
Good list of CPUs including cache types and sizes:
https://en.wikipedia.org/wiki/List_of_Intel_microprocessors
https://en.wikipedia.org/wiki/List_of_AMD_microprocessors

[2016-03-15 14:07] #2916 closed

[2016-03-15 14:08] #968 closed

[2016-03-15 14:12] #1784 closed

[2016-03-15 14:28] Beep6581 opened #3221 "Multiple bugs with White Balance Temp and Tint sliders"
Create several copies of the same image, `amsterdam.pef` in my example. Apply Neutral to all of them.
1. If you look at one of them from the File Browser, the White Balance Temp and Tint starts off in the "Camera" position showing e.g. `6504` `1.000`. Open that photo in the Editor, you get `6112` `1.168`. Check it in the File Browser, it still shows `6504` `1.000`.
2. Apply Auto White Balance to o

[2016-03-15 14:51] Beep6581 commented on #2836
Someone needs a larger range for IR, which makes this request more necessary:
https://discuss.pixls.us/t/white-balance-offset-for-ir-work/1045/1

[2016-03-15 15:30] Beep6581 commented on #2836
Closing this, see #3221

[2016-03-15 15:30] Beep6581 commented on #3219
Closing this, see #3221

[2016-03-15 15:30] #3219 closed

[2016-03-15 18:24] heckflosse commented on #3195
With 636d0be I vectorized one part of xtrans demosaic. Speedup is about 4%. Another small step...

[2016-03-15 23:22] heckflosse commented on #3195
I just detected some further possible speedups. Don't know how much we gain. I'll try tomorrow

[2016-03-15 23:59] TooWaBoo opened #3222 "Crash when clicking on the hand tool butten"
RT 4.2.849, Win 10 x64
Crash when clicking on the hand tool butten in the file browser tab.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/13797981/f35024d6-eb11-11e5-87bf-ff56e221d704.PNG)

1. Quit RT, if it's running.
2. Run RT
3. Click on the hand tool button
--> Crash

[2016-03-16 00:14] heckflosse commented on #3222
Works fine here. Maybe related to gtk3...

[2016-03-16 00:29] heckflosse commented on #3222
Confirm crash in gtk3 branch (4.2.879)

[2016-03-16 09:42] Beep6581 commented on #3222
Cannot reproduce in Linux
Commit 570bd07
Gtk+ 3.18.7

[2016-03-16 17:30] dngimage commented on #3222
I confirm the crash running RawTherapee_WinVista_64_4.2.849-gtk3.

[2016-03-16 18:04] heckflosse commented on #3222
Here is a [bt full](http://pastebin.com/RGZ5WgcF)

[2016-03-16 18:30] heckflosse commented on #3222
Don't know why it doesn't crash in master branch, but I'll fix it there too

[2016-03-16 18:30] #3222 closed

[2016-03-16 22:39] heckflosse opened #3223 "Performance issue with gtk3 branch"
Start time of gtk3 branch is much longer then start time of master (gtk2) branch.
That's not a big problem, because usually one starts rt and processes a lot of pictures.
But when I open a file in METM, using gtk3 branch needs about 650 ms more (on my 4Ghz machine) than master (gtk2) branch. And it needs that additional time for each file I open when I'm in METM mode. 650 ms is more than the amaze

[2016-03-17 11:45] edco opened #3224 "Strange behaviour from RAW CA correction"
When RAW CA correction is enabled, it creates this strange pattern, with substantial changes in brightness. I've ramped up the contrast and isolated the red channel in the attached images to highlight the issue, but it is visible when I process the image normally, and affects all channels. For the examples I used auto correction - manual correction has similar issues, but the artefacts appear in a

[2016-03-17 13:16] heckflosse commented on #3224
@edco Please upload the raw file to filebin.net and post the link here

[2016-03-17 17:51] heckflosse commented on #3223
I found one reason for the slowdown when opening editor in metm using gtk3 branch. It's the Gtk::FileChooserButton. Each incarcation of it adds about 50 ms to the time needed to open an editor tab. We have four of them (flatfield, darkframe, colour management and lens profile) which sum up to 200 ms. The only way to work around this is to use the same mechanism as in CurveEditorSubGroup::inputFile

[2016-03-17 18:04] michaelezra commented on #3223
Ingo, thanks for such scrutinizing work! It is worth it making this change:)

[2016-03-17 18:20] heckflosse commented on #3223
@michaelezra Michael, for SETM it's absolutely no issue because rt only needs a bit more time to start, but in METM I find the delay quite annoying (opening an editor in METM using gtk3 needs about 650 ms more than doing the same using gtk2)

[2016-03-17 22:36] edco commented on #3224
Here's the RAW: http://filebin.net/l6el5jkd6i

[2016-03-17 22:47] heckflosse commented on #3224
@edco I can reproduce the issue with your raw and pp3. Looking...

[2016-03-17 23:13] heckflosse commented on #3224
Hmm, raw ca correction basically works by shifting the red and blue values of bayer array a bit. Maybe it doesn't work well on images without CA shot with noisy high iso?

[2016-03-18 03:21] edco commented on #3224
No interpolation in raw CA correction? Even so, it seems a really dramatic shift in intensity for an offset of a couple of pixels.

I was wondering if it could be something specific to Sony's lossy raw format, though I have no understanding of RawTherapee's processing pipeline to back that up with.

[2016-03-18 13:20] heckflosse commented on #3224
Of course interpolation too. Still looking...

[2016-03-18 19:12] TooWaBoo opened #3225 "Zooming with zoom buttons problem (Gtk3)"
RT4.2.880, Win 10 x64
Clicking on the zoom buttons (+/-) in the editor only shifts the image.
If you click into the image after zooming, it's jumping to the center and shows the correct size.
Also the other zoom buttons (fit to screen, 100%...) sometimes gives a strange result.

Sometimes, after zooming, the image looks pixellated.

[2016-03-18 19:43] heckflosse commented on #3224
@edco I think I found a solution for this issue. But I have to test a bit before I post a patch.

Ingo

[2016-03-18 20:51] Hombre57 commented on #3182
Should be fixed by commit f36565c. If so, please close this issue.

[2016-03-18 22:49] Beep6581 commented on #3225
Duplicate of #3182

[2016-03-18 22:49] #3225 closed

[2016-03-18 23:05] Beep6581 commented on #3182
The fix mostly works, but there is still a centering oddity:
If the image fits-to-window at 25% and I hold the cursor outside the image over the canvas in the top-right corner and zoom out with the mouse scrollwheel, the image shrinks "towards" the cursor at 20%, 16% and 14%. Then at 12% is starts shrinking away from the cursor towards the center. Now that I think about it, maybe the "virtual canv

[2016-03-18 23:54] Hombre57 commented on #3182
That's how the new preview works : it zoom in/out centered on the mouse location, but to avoid having unlimited panning, I've introduced an "anchor" in the mechanism, which is a point which is located at the center of the preview area. If you zoom out to 10% or 5% and then pan the image, you'll notice that the center of the preview area is limiting the panning.

Please don't ask me to enable more

[2016-03-19 00:12] Hombre57 commented on #3223
I don't know if it's wise to change the FileChooserButton. Perhaps that the slow down is cause by the famous "network:" warning, that will hopefully be solved some day soon ?

If you still prefer to replace them by a custom made FileChoserButton, it won't have the same nice appearance.

[2016-03-19 12:01] TooWaBoo opened #3226 "RT won't read width of toolpanel on startup (Gtk3)"
When starting RT bei doubleclicking on an image in the file system, the toolpanel is always set to its minimum width.
It looks like RT is not reading the corresponding setting in the option file.

The history panel works fine.

[2016-03-19 13:01] RawConvert commented on #3144
Hi,  I was wondering if the 6D colour profiles / parameter files have been done from the test shots I sent in recently.  If so, how can I get them please?  Thanks,  Andrew

[2016-03-19 13:05] Hombre57 commented on #3226
Fixed in Gtk3 in commit 644526d, though it affect master as well, but I'm privileging Gtk3 now.

[2016-03-19 13:05] #3226 closed

[2016-03-19 17:24] heckflosse commented on #3224
I created branch [cacorrectfix](https://github.com/Beep6581/RawTherapee/commits/cacorrectfix) with a fix for this Issue. Further tests are needed...

[2016-03-19 18:38] TooWaBoo commented on #3214
Update v1.13 uploaded in first post.

[2016-03-19 18:41] TooWaBoo opened #3227 "Deutsch locale update based on RT4.2.880"
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/180959/Deutsch.txt)

[2016-03-19 20:27] Beep6581 commented on #3182
Then :+1: for closing.

[2016-03-19 20:29] #3227 closed

[2016-03-19 20:32] Beep6581 commented on #3144
They are included in all builds since March 6.

[2016-03-19 20:37] Beep6581 commented on #3214
Committed.

[2016-03-19 20:39] heckflosse commented on #3223
The FileChooserButton already was slow in gtk2 and with gtk3 it got even slower.
I use SETM where that's not an Issue because only time to start rt is affected. If it's not an Issue for users of METM or Dual-Monitor where it slows down every time you open a file, we can close the Issue.

[2016-03-19 22:23] Beep6581 commented on #3223
I asked whether the Gtk+ devs were aware of the problem, whether anyone was working on it and whether any solutions exist:
[code]

[2016-03-19 23:36] heckflosse commented on #3226
I pushed the fix to master branch too.

[2016-03-19 23:38] heckflosse commented on #3195
@sguyader  Sébastien, any objections to merge the speedups into master branch?

[2016-03-20 00:19] sguyader commented on #3195
No objection Ingo, I tested your last changes and everything looks fine.

[2016-03-20 00:31] Hombre57 commented on #3226
@Beep6581 @heckflosse Does pushing to both branch cause merge problem ?

[2016-03-20 00:33] heckflosse commented on #3226
@Hombre57 According to DrSlone it does not

[2016-03-20 00:36] Hombre57 commented on #2388
Fixed in commit 909734e. Please close if fix confirmed.

[2016-03-20 00:44] #2388 closed

[2016-03-20 00:47] Hombre57 commented on #2388
Cleaned up last commit (909734e) by squashing it and committing the proper one in 4dddb34.

If you've pulled master in the last 10 minutes, you should ... do something, but don't know what.

[2016-03-20 00:48] heckflosse commented on #3226
@Hombre57 : As long as gtk3 is not the new master branch we should fix bugs in master and merge them (the fixes, not the bugs) into gtk3 branch IMHO

[2016-03-20 00:49] heckflosse commented on #3195
Speedups merged into master branch

[2016-03-20 00:56] Hombre57 commented on #3223
Hmmm... I'd say it's low on our TODO list too, but that's something you should ask to users.

I've tried Gtk3 in Release build and METM, and it's darn fast ! (Core i7 with plenty of ram but old-school HD).

Again, maybe that it won't take much longer than with Gtk2 if the "netwok:" problem is fixed (just guessing).

Since it affect performance, I'll give the last word to Ingo.

[2016-03-20 00:57] Hombre57 commented on #3226
Ok

[2016-03-20 01:00] Hombre57 commented on #3195
Whaaat ?

By an exceptional circumstance, I think that your merge has been dropped because of my forced push to master. Could you mere again ?

[2016-03-20 01:14] heckflosse commented on #3223
@Hombre57 I agree about low priority but it's still slow on my Win7/64 with 32GB RAM and a combination of SSD and RAID-0 HD. It has nothing common with speed of mass storage. The point is, that the GtkFileChooserButton creates a FileChooserDialog in background which is only used when you press the button. Currently we have 4 of this buttons (FF, DF, ICM and LCP) and pressing one of them in gui is

[2016-03-20 10:18] Hombre57 commented on #3223
I'll create a custom widget then, but shall I do it in master or Gtk3 ?

[2016-03-20 11:14] heckflosse commented on #3223
Gtk3

[2016-03-20 12:16] Beep6581 commented on #3226
I expected pushing the same code to both branches to cause a problem, but commits 644526d1668da833f53811a77de1c7175492693e and 0c786ee1bce8cd2e18d8e6316fb0f04aea3b6d9c caused no problem when merging, so I hope it's safe to do the same here. But until we officially switch to `gtk3` please commit to `master` unless the code is specific to gtk3.

[2016-03-20 12:19] Beep6581 commented on #2388
Thank you Hombre, I will test later, going for a road trip round south Sweden now.

[2016-03-20 16:24] RawConvert commented on #3144
Ok well can you help me find them please.  I’ve installed the latest win XP RT (dev, 4.2.745) but there’s no 6D file in the dcpprofiles folder, see attached.
Similarly I’ve installed the latest dev Ubuntu version and can’t see a 6D profile there either.

From: Beep6581 [mailto:notifications@github.com]
Sent: 19 March 2016 20:32
To: Beep6581/RawTherapee
Cc: RawConvert
Subject: Re: [RawTherapee] Can

[2016-03-20 21:34] Beep6581 commented on #3144
That build is not recent enough.
If you want the file, get it from the git repo: https://github.com/Beep6581/RawTherapee/tree/master/rtdata/dcpprofiles

Two things:

1. In the future, when referring to a version, please provide the commit hash instead of "4.2.745", as the latter doesn't tell us anything.
2. Also, I suggest not replying or writing things here using email, because there is a lot of

[2016-03-21 09:01] iliasg commented on #3144
After examining LENR shots I found that we have to slightly alter the strategy about white levels for Canon Dslrs (a bit less conservative at low ISOs but a bit more at high ISOs).
The subtraction with LENR set to On spreads the single clipping point and this spread depends on (per ISO) read noise. The more is the noise the more the clipping spreads ..
I thing there is no need to update now as the

[2016-03-21 21:57] srjacob999 opened #3229 "Fujifilm compressed raw support - X-Pro2 & X-T2"
Ver 4.2.880 doesn't display the raw files from my Fujifilm X-Pro2 properly.

I downloaded the file: RawTherapee_WinVista_64_Gtk3_Release_4.2.880.zip

from: http://rawtherapee.com/downloads

Attached:  screenshop of result of reading the raw file, the actual raw file zipped.

![rawtherapee display](https://cloud.githubusercontent.com/assets/17993180/13935325/32cf11b0-ef8d-11e5-9435-271a633793f6.jpg

[2016-03-21 22:40] sguyader commented on #3229
@srjacob999 I think you used the in-camera lossless compression, as the file size is 25.3MB (it should be ~48MB uncompressed). Can you try to turn off compression?

[2016-03-21 22:59] srjacob999 commented on #3229
Raw Therapee read the raw file fine when I turn off compression.

However, it takes a while to load the uncompressed image to the SD card, and the uncompressed image is HUGE.

Steve

From: Sébastien Guyader [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 6:41 PM
To: Beep6581/RawTherapee
Cc: srjacob999
Subject: Re: [RawTherapee] Raw Therapee 4.2.880 doesn't display raw properly (#322

[2016-03-21 23:14] sguyader commented on #3229
Hopefully someone will find how to load compressed Fufifilm raw files soon. When we tried raw files from latest cameras or firmwares, we didn't have compressed RAF files to test. Maybe if can upload a couple of different compressed files to filebin.net and paste the link here, it will help devs.

[2016-03-21 23:20] srjacob999 commented on #3229
How do I do that?

From: Sébastien Guyader [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 7:15 PM
To: Beep6581/RawTherapee
Cc: srjacob999
Subject: Re: [RawTherapee] Raw Therapee 4.2.880 doesn't display raw properly (#3229)

Hopefully someone will find how to load compressed Fufifilm raw files soon. When we tried raw files from latest cameras or firmwares, we didn't have compressed

[2016-03-21 23:42] sguyader commented on #3229
Just go to www.filebin.net, click on the button to upload files, then drag and drop a couple compressed raw files there, copy the link of that page and pate it here.
And please, avoid to reply from your mail address, or turn off the including of the previous message as it spams the content of your message.

[2016-03-22 00:39] srjacob999 commented on #3229
Here’s 5 of them for you.

Adobe DNG Converter 9.5 has no problem reading the compressed raw files.  ACR 9.5 doesn’t either.  Unfortunately, I am using Photoshop CS6, which can only use ACR 9.1.1, which won’t read the raw files (compressed or not compressed).  On1 doesn’t seem to have any problems with them either, nor does FastPictureViewer Codec Pack.

http://filebin.net/zd6jl2jrzu

From: Sébast

[2016-03-22 13:46] sguyader commented on #3229
@srjacob999 thanks for the upload. Maybe we need to wait for dcraw to include support for compressed RAF files to bring it to Rawtherapee. In, the meantime you can convert your files to DNG and process them in RT (I know it's not optimal beacause of extra space taken by the DNGs and time used for conversion).

[2016-03-22 13:54] srjacob999 commented on #3229
Could you please bring it to their attention.

Thank you.

I have decided that, for the moment, that DNG is probably the way to go.  I can process the DNG directly in Photoshop CS6 Adobe Camera Raw.

From: Sébastien Guyader [mailto:notifications@github.com]
Sent: Tuesday, March 22, 2016 9:46 AM
To: Beep6581/RawTherapee
Cc: srjacob999
Subject: Re: [RawTherapee] Fujifilm X-Pro2 compressed raw suppor

[2016-03-22 16:50] heckflosse commented on #3195
I pushed another 4% speedup to xtransnew branch. Additionally I disabled the CLIP in xtrans demosaic.

[2016-03-22 17:16] sguyader commented on #3195
@heckflosse after all your changes we'll end up with a 50% speedup compared to the initial demosaicing ;-)
By the way, what is the CLIP?

[2016-03-22 17:48] heckflosse commented on #3195
In original (integer) version of dcraw xtrans demosaic some values had to be clipped to fit in the [0;65535] range. For float that's not necessary and additionally could give a bit more room for highlight recovery. Other demosaicers (Amaze...) also don't clip.

[2016-03-22 20:58] heckflosse commented on #3195
@sguyader about the 50% speedup. That would need 17 4% speedups. Don't know whether I'll succeed...

[2016-03-22 23:15] sguyader commented on #3195
I know the you do what's humanly possible Ingo.

[2016-03-22 23:38] heckflosse commented on #3195
:)

[2016-03-23 07:17] Desmis commented on #3208
Hello
I returned the Caribbean. A little tired...

I agree with Ingo, it would be better placed Retinex later in the process. I think after WB and RGB conversion.
But **keep in Retinex, work on the entire image**.
I think it is a big job to do that...but (getimage, previewprop...):
1)it would undermine the RT process (pipeline)  and increase time threatment
2) I think we can simplified Retinex (cu

[2016-03-23 10:42] paulmatthijsse opened #3230 "segfault with newwavelet"
Hello, something wrong with the wavelet tool in the newwavelet branch. It segfaults when I touch the compression sliders in the Residual image section. A debug build segfaults already when I activate the wavelet tool (so all on top). A backtrace gives this. Version info further down.

[code]
[code]

[2016-03-23 12:54] heckflosse commented on #3208
@Desmis Jacques, in first step I could split the current getimage function into two parts. One part with the image transformation (coarse rotation) would stay where it is now. And another part with the WB and false colour suppression would be moved closer to the beginning of the pipeline. That would add some processing time when changing WB but that part is quite fast (about 200ms for a full 36Mp

[2016-03-23 16:32] Desmis commented on #3208
Ingo
In all cases, it is better than now. I think (if you agree of course), you can make this change :)

Thank you....and there is no much Guiness in Guadeloupe...but much more good rhum :)

[2016-03-23 19:47] TooWaBoo commented on #3214
Update v1.14 uploaded in first post.

[2016-03-23 20:20] pi99y opened #3231 "Crashes when undo-ing in "equalizer" tools (xtrans)"
I encountered this multiple times while working on a **xtrans raw file** (example of such file: http://filebin.net/lo1jggpm70/purple-highlights.zip) and while in either:

* **HSV Equalizer tool > H Equalizer**
or
* **Lab adjustments > CH or HH Equalizer**

I think this might be happening in all equalizers.
It always happened **while I pressed the "undo" arrow** while the equalizer already had chan

[2016-03-23 20:24] sguyader commented on #3231
Can't reproduce it withbmy own xtrans files in Linux.

[2016-03-23 20:26] pi99y commented on #3231
It's not happenig really frequent, I reproduced it only in about half hour of trying. Also, try my image in zip above with my pp3. Thanks

[2016-03-23 20:26] heckflosse commented on #3231
I can't reproduce, but I don't think it's related to xtrans files

[2016-03-23 20:31] pi99y commented on #3231
It's not reproducable every time... like I said, I tried for ~30 minutes ...

[2016-03-23 20:39] adamreichold commented on #3231
@pi99y If it is hard to reproduce but does happen sporadically, it might be a race condition. Are you set up to rebuild RT from the sources? If so and you are using a recent enough GCC, you could try to build using `WITH_SAN=thread` as an option passed to CMake to enable the thread sanitizer instrumentation. (Or maybe someone providing Windows debug builds could also provide an instrumented build?

[2016-03-23 20:41] pi99y commented on #3231
Sorry, I never built my own so far, I'm using @sguyader 's builds...
First I'll try to reproduce it again and hoping GDB doesn't crash...

[2016-03-23 21:36] pi99y commented on #3231
OK, so I reproducet the crash yet again. Please don't make me do it again :)

This time I tried and just copied the result from the BT window.

This is what happened before crash:
http://filebin.net/s6v6q7f14f/b.txt

And this is what happens after "thread apply all bt full"
http://filebin.net/s6v6q7f14f/c.txt

As @heckflosse  suggested I didn't set the logging this time.
However... the gdb still c

[2016-03-23 22:28] sguyader commented on #3231
@adamreichold should I make an instrumented build to help?

[2016-03-23 22:34] heckflosse commented on #3231
@sguyader That would be great. I never managed to make windows builds with sanitizers...

[2016-03-23 22:54] sguyader commented on #3231
I added -WITH_SAN=thread to the cmake options, is that the right way to do? Is there a way to check if the option has been passed successfully?

[2016-03-23 23:03] heckflosse commented on #3231
@sguyader it should be somewhere in CMakeCache.txt I guess, if it has been passed successfully. But at least my windows builds failed at linkage when using sanitizers
Ingo

[2016-03-23 23:04] heckflosse commented on #3231
@sguyader btw: I guess a found another 4% speedup for xtrans (have to verify). But that's off topic here :P

[2016-03-23 23:58] heckflosse commented on #3208
@Desmis Jacques, I'll start soon. Don't know exactly when. Btw: as you're at home now (I guess), how about visiting us in Luberon next week? ;-) For some good food and wine and nice landscape. We will be there from Saturday on for one week.

Ingo

[2016-03-24 00:20] sguyader commented on #3231
Here's a build with ``-WITH_SAN=thread`` cmake option: http://filebin.net/v9cjnq8yo2.
I don't know how to check if the option was passed successfully, but there was no error message during configuration nor compilation.

[2016-03-24 06:27] pi99y commented on #3231
Thanks guys, I'm on it. Will update with a new backtrace as soon as I get one...

[2016-03-24 06:55] pi99y commented on #3231
OK, got the crash with the new build...
http://filebin.net/cg85xqyn52/x.txt (before the crash)
http://filebin.net/cg85xqyn52/y.txt (after "thread apply all bt full" )

One positive thing about this build is that the gdb didn't crash.
Otherwise I'm afraid the log looks same-ish. :(
Any other ideas?

[2016-03-24 10:49] Desmis commented on #3208
@heckflosse
Ingo.
It's a shame, we will not come to you in the Luberon next week. We receive friends in Fréjus starting Saturday (March 26) until next Sunday, April 3.
We would have loved being with you, with a good meal, and pet Felix :)
This will be a next time
friendly
Jacques

[2016-03-24 12:42] heckflosse commented on #3208
@Desmis Jacques, no problem :)

[2016-03-24 12:43] heckflosse commented on #3195
I pushed a new speedup (about 11%) to xtransnew branch

[2016-03-24 13:24] sguyader commented on #3195
@heckflosse very nice speedup Ingo! With the default tile size of 114, I got between 2360 and 2410 ms, and it is now systematically faster than with TS=80 which I found was the faster tile size previously.
So, it is now 15% faster with default tile size!

[2016-03-24 14:34] adamreichold commented on #3231
@sguyader Sorry for being late to answer: The correct way to pass that option to CMake would be `-DWITH_SAN=thread` but you probably meant that? You can check that it is actually enabled by add `VERBOSE=1` when invoking `make`, e.g. `make -j4 VERBOSE=1`, and checking that the compiler command lines do indeed contain the `-fsanitize=thread` option. (If you using Ninja instead of Make to build RT, p

[2016-03-24 15:04] sguyader commented on #3231
@adamreichold I was indeed in doubt that the option was enabled, but I though that an incorrect option would throw an error message at configuration time. I just tried again, this time without forgetting the ``-D``, but just like Ingo there's a an error at linking stage:
[code]

[2016-03-24 15:14] sguyader commented on #3231
I just saw [here](https://sourceforge.net/p/mingw-w64/mailman/mingw-w64-public/thread/536B269E.70801@gmail.com/) that only Undefined Behaviour sanitizer works for now in MSYS2.

[2016-03-25 10:05] pi99y commented on #3231
Is there anything I can do? I mean... in terms of testing & reporting.

[2016-03-25 14:17] Cylo0n opened #3232 "Design gtk3"
Curve Diagrams are way to big. For example Tone Curves in Exposure section.
It makes the workflow confusing because of scrolling around in this section.

[2016-03-25 21:54] Beep6581 commented on #3214
Hey

`GtkPaned:nth-child(1) > GtkBox > GtkGrid:nth-child(1) > GtkContainer > GtkDrawingArea:nth-child(1)`
That I agree is quite horrible and will break with the slightest breeze. Adding classes or IDs is the way to go, though not always possible. I can help to some degree, but for some of RT's custom widgets we will need @Hombre57's help.

Could you clarify exactly what it is you want the ID in ea

[2016-03-25 22:34] TooWaBoo commented on #3214
To add a frame to the partial paste dialog I do this:
[code]
This is unique now. There is no dialog with the same object tree.
If it's possible to set an ID for "GtkDialog" or "GtkBox" I can use:
[code]
---------
For e.g. the Histogram with an assigned ID to GtkBox or higher parent, I can use:
[code]
--------
I'm referencing the button in the "Queue" with this selector:
[code]
The ID should be set

[2016-03-26 00:45] mbaz opened #3233 "Consistently crashing when doing distortion correction"
RT 4.2.880, 64 bits, on windows 7, official binary.

When editing a JPG file and clicking on the "distortion correction" button, RT consistently crashes.

[2016-03-26 00:49] TooWaBoo commented on #3214
I think, it's not so difficult.  I guess the code has to be changed like this:

1. batchqueuepanel.cc (an ID for the top button box would be enough)
[code]
2. navigator.cc
[code]

3. histogrampanel.cc
[code]
4. partialpastedlg.cc
[code]
5. no clue :-)

[2016-03-26 03:24] TooWaBoo commented on #3232
Can you provide a screenshot please.
To big can be everything. :-)

[2016-03-26 10:20] Hombre57 commented on #3214
5- `editorpanel.cc` line 354 :
[code]

I'm reluctant to call it `BeforeAfterBox` because it may be swapped to a Gtk::Grid in the future (Gtk::Box may be deprecated one day).

[2016-03-26 10:48] TooWaBoo commented on #3214
@Hombre57
So it's possible to get these IDs, nice. Thanks
@Beep6581
You should add version 15 to the branch. It contains some fixes. The long selectors make it save that only the specified objects are changed.

[2016-03-26 11:06] Hombre57 commented on #3214
@TooWaBoo Why do you want naming top-level objects if you want to theme it's child ? It seems more logical to set an ID for custom `Gtk::DrawingArea` objects like `HistogramArea` and `HistogramRGBArea` than it's parent IMHO, because if we create a new instance of e.g. `HistogramArea` elsewhere, it won't be correctly skinned.

Do you have a list of specific objects that you want to set an ID to ?

[2016-03-26 12:29] TooWaBoo commented on #3214
@Hombre57
There are always two sides
This is what I'm doing with the Histogram:
[code]
With an ID of the top-level object, it will look like this:
[code]
If you create another Histogram with the same look, you only need to set the same top-level ID.
It follows the same rule like in the right toolbar. Here's an example from the org. theme.
[code]
The top-level object is used to apply the styles onl

[2016-03-26 14:08] Hombre57 commented on #3214
See the new-object-id branch. I hope it will be self explaining, otherwise I'll explain the new IDs.

[2016-03-26 15:49] Cylo0n commented on #3232
Of Course ;-)

![rawtherapee git](https://cloud.githubusercontent.com/assets/17475103/14060916/9ff7d180-f372-11e5-921e-d523ce9f0408.jpg)

[2016-03-26 15:53] TooWaBoo commented on #3232
Why have you set the toolpanel so big?
If you reduce the width of the toolpanel the curve diagram becomes smaller.

[2016-03-26 16:03] Cylo0n commented on #3232
Because i don't want to scroll in Tool Tabs above.

[2016-03-26 16:11] Hombre57 commented on #3232
Curves are square shaped and will remain as is. You can hide curves once you're fine with their edition. Having a large curve area is something I appreciate, to make precise adjustments.

What could be done is to make the curve auto-expanding feature optional (if not already the case).

[2016-03-26 16:50] Cylo0n commented on #3232
That would be fine. :-)

[2016-03-26 17:58] TooWaBoo commented on #3214
@Hombre57
Thanks a lot. It's self explaning.

[2016-03-26 18:38] Kildor commented on #3214
Is using radiobutton sprite for checkboxes intended?
Blue dot instead of proper checkmark is really annoying and unobvious.
![image](https://cloud.githubusercontent.com/assets/1320579/14061786/14c74e3c-f3b4-11e5-8b43-1232d2cb38da.png)

RT Branch: gtk3
Version: 4.2.880
Changeset: 4979c0c83604cc489534b39f04bca9199d2ed6c9

Downloaded from the site

[2016-03-27 13:23] adamreichold commented on #3101
Ping?

[2016-03-27 13:23] adamreichold commented on #3132
Ping?

[2016-03-27 13:35] Hombre57 commented on #3132
Sorry, went under my radar. Building and trying now...

[2016-03-27 14:11] TooWaBoo commented on #3214
@Kildor
I've removed all the military green buttons and check/radio images. The target was to build a theme which will not touch any resource outside the .css file and this was the best I could do.

Now the theme is part of RT, and I guess it's possible to replace the checkbox with an image, but for now the prioryty is low to do this. Maybe in the future.

[2016-03-27 14:20] TooWaBoo commented on #3214
@Hombre57
The changes are done.
Can you provide a compiled version of the " new-object-id" branch for testing? A couple of weeks ago, I've tried to complie myself, but with no luck.
Thanks

[2016-03-27 15:06] Hombre57 commented on #3214
I can, but for Windows 64 bits. Is it ok ?

[2016-03-27 15:08] TooWaBoo commented on #3214
@Hombre57
Yes, that's what I need.
Thanks

[2016-03-27 15:12] Hombre57 commented on #3132
As said earlier, it was already working fine before the patch, but maybe because I'm using only one monitor and/or am using Win7.

Anyway, it is still working fine after the patch, plus it solve the problem of parent window for this transient object. It's also what I was trying to achieve (without success so far) in my own patch for the MyFileChooserButton replacement class (see issue #3223).

+ma

[2016-03-27 15:16] TooWaBoo commented on #3132
@Hombre57
I'm on Win 10 x64, If you provide a download link, I'll test it.

[2016-03-27 15:26] Hombre57 commented on #3214
Release build (only *.exe) available here : http://filebin.net/ao1lb7g7sv

[2016-03-27 15:39] TooWaBoo commented on #3132
I've copied the .exe into my install folder and received folling error message:
Something wasn' found.
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/14066143/b049fec0-f442-11e5-803d-c6bb83c778b0.png)

[2016-03-27 15:42] TooWaBoo commented on #3214
@Hombre57
I've copied the .exe into my install folder and received folling error message:
Something wasn't found.
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/14066174/5156dbc6-f443-11e5-8133-c0102be36fb5.png)

[2016-03-27 21:12] Hombre57 commented on #3214
Here is the full archive (no installer, just unzip to the dest location). http://filebin.net/ao1lb7g7sv/RawTherapee4_2_897-full.zip

[2016-03-28 00:39] TooWaBoo commented on #3214
@Hombre57
Tried full version, RT quits immediately without any message.

[2016-03-28 01:51] Hombre57 commented on #3214
So ask @sguyader for a build.

[2016-03-28 11:28] adamreichold commented on #3132
@Hombre57 I'll rebase and merge this since there are regressions reported so far and it can't really be worse than having no parent window... Thanks for testing in any case!

[2016-03-28 11:44] #3132 closed

[2016-03-28 12:03] adamreichold commented on #3132
Also merged `master` into `gtk3` to propagate the fix.

[2016-03-28 19:14] Hombre57 opened #3235 "Adding more PENTAX camera to camconst.json"
Here is a file that shows strong purple highlights (ToyBot.PEF) : http://filebin.net/ao1lb7g7sv . It's an old file and that I didn't opened for a while. Just load it and apply Neutral profile.

Setting Raw White Point to 1.01 suppress the purple HL completely.

[2016-03-28 19:26] sguyader commented on #3235
It happens to me sometimes that highlights turn magenta when trying to reconstruction them with color propagation, or when usinh retinex. Is the raw white point correction a generally good way to correct these magenta highlights?

[2016-03-28 19:37] Hombre57 commented on #3235
D'ont think so, but in the case of this issue, it's probably related to the camconst file for the Pentax K-x body.

I see that PENTAX has only 2 bodies in camconst, partially supported. I'll try to get help on this. I have a K-3 and can have access to K-r (IIRC), so I'll provide the shots.

[2016-03-28 21:56] Hombre57 commented on #3235
Switching this issue to the real problem, which is a lack of Pentax bodies in camconst. This issue will host the progress of collecting values for bodies of this brand. I'll try to collect data by posting a request in a Pentax community forum.

[2016-03-29 04:20] iliasg commented on #2972
With new measure at raw values I detect the WL of the file with colored highlights is 4094. (All other E-M1 files I checked had a WL of 4095). Even this slight change of WL (4094 vs 4095) solves the problem ..

camconst.json item for E-M1, WL set at 4080 to be safe on larger deviations

    { // Quality b, missing per ISO samples
        "make_model": "OLYMPUS E-M1",
        "dcraw_matrix": [ 7687

[2016-03-29 04:30] iliasg commented on #3235
Same issue as https://github.com/Beep6581/RawTherapee/issues/2972
It is again a 4094 WL against the nominal of 4095
camconst.json item for K-x which will be in the upcoming update. WL set to 4080 for safety in case of larger deviations from nominal (LENR).

    { // Quality B, per ISO info missing
        "make_model": "PENTAX K-x",
        "dcraw_matrix": [ 8843,-2837,-625,-5025,12644,2668,-411,1

[2016-03-29 13:03] Beep6581 commented on #3233
@mbaz
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-03-29 13:07] Beep6581 commented on #3132
(Still) works fine in [Awesome](https://en.wikipedia.org/wiki/Awesome_(window_manager)).
Thank you for the merge.

[2016-03-29 23:17] mbaz commented on #3233
**Raw Therapee version:**

Branch: gtk3
Version: 4.2.880
Changeset: 4979c0c83604cc489534b39f04bca9199d2ed6c9
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: release
Build flags: -m64 -mwin32 -mthreads -std=gnu++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -msse -msse2 -mwindows -fopenmp -Wno-aggressive-loop-optimiz

[2016-03-30 07:48] Beep6581 commented on #3233
Reproduced in Linux, will provide backtrace later.
Segfaults with "Floating point exception".

[2016-03-30 10:43] TooWaBoo commented on #3214
@Hombre57
The new ID's work fine, except the #PartialPaste ID. hbmain doesn't support padding and will overlay the scrollbars if I set a background. Is it possible to set the #PartialPaste ID to the **scrolledwindow** ? Thats the only object to set the background color and the included child GtkViewPort supports padding.

[code]

I've also tried to change the checkbox to an image.
On Windows I can

[2016-03-31 12:01] Beep6581 commented on #3183
It's unfortunate that we don't have the raw files, but I added those four DCP profiles ("mod" versions) as they have had positive feedback.
Commit 8464ecaec83329e87467100496aa3a8ab15b4ea7

[2016-03-31 12:01] #3183 closed

[2016-03-31 12:33] stefan-i opened #3236 "New camera profile for Nikon D7200"
Hi,

I shot my X-Rite Colorchecker 24 with a Nikon D7200 and 85/1.8G lens for both daylight and tungsten illumination.
The Raw files and dual illuminant profile created with DCamProf 0.10.4 are uploaded here: http://filebin.net/3ukb5naed0

[2016-04-01 09:26] MogadonSnowflake opened #3237 "Intermittent crashes when deleting an image"
RT 4.2.905 Windows 64 bit running on Windows 8.1.

In Filmstrip mode, right-click on image and select either _File Operations - Delete_ or _File Operations - Delete with output from queue_.

RT will crash ~50% of the time when using these deletions methods with the Windows message "This program has stopped working..."

[2016-04-01 12:07] Beep6581 commented on #3237
Please get the "Debug" build and provide a stack backtrace.
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-04-01 19:32] MogadonSnowflake commented on #3237
RT 4.2.905 for Windows Vista/7/8/10 64-bit - debug
Uploaded by DrSlony on 2016-04-01 09:14
Branch: gtk3
Downloaded from: http://rawtherapee.com/downloads

In Filmstrip mode, left-click on the gear cogs to add the image to the queue, right-click on the gear cogs and select _File Operations - Delete_.

Screenshot:
<a href="http://photobucket.com/" target="_blank"><img src="http://i574.photobucket.co

[2016-04-02 20:43] heckflosse commented on #3101
Sorry, completely forgot and have been away too. I'll try again next week

[2016-04-02 20:46] heckflosse commented on #3195
Back from holiday I would like to merge this speedup (after removing benchmark code) into master. Any objections?

Ingo

[2016-04-02 20:48] sguyader commented on #3195
No problem with me. I tried and it compiles and run fine (and faster).

[2016-04-02 23:39] TooWaBoo commented on #3214
ping :-)

[2016-04-03 01:36] Hombre57 commented on #3214
Modification committed to the more-object-id branch.

@TooWaBoo
- Did you get a build from @sguyader ?
- Could you add a checkbox image for the *inconsistent* state ? (see the Batch tool panel when editing several images with different values for the same parameter).

I think it's better to add the images as a subfolder in theme, as it is specific to your theme. It would be nice if a linux user co

[2016-04-03 01:51] TooWaBoo commented on #3214
@Hombre57
Yes, I got a build from @sguyader
The image for the inconsistent checkbox is already done but I forgot the radio button. I'll do it now.

[2016-04-03 07:51] adamreichold commented on #3214
@TooWaBoo @Hombre57 Tested on Linux using Gtk+ 3.18.9 and it looks more or less like the above screenshot from Windows:
![color_management_linux](https://cloud.githubusercontent.com/assets/12997846/14231385/8a35f51a-f981-11e5-9675-f0529c0d6668.png)

[2016-04-03 08:05] TooWaBoo commented on #3214
@adamreichold
Thanks for testing. So I keep the images inside the theme folder.
Now I'm waiting for @sguyader for the test build of the partial paste.

[2016-04-03 12:18] RawConvert commented on #2895
hi Ingo, @heckflosse , I was wondering what the outlook is for this issue as I had it yesterday with RT win64 4.2.880.  I'm using a manual Samyang 14mm and this has quite a lot of geometric distortion.  I have a .LCP which works with P/shop and works in RT if the file has a lens named, e.g. canon 85mm was fine, RT applied the samyang LCP.  But the Samyang files have "Unknown" lens and though the p

[2016-04-03 13:20] Beep6581 commented on #3214
Hello

Branch `new-object-id` seems to work fine in Gentoo using Gtk+ 3.18.7.
The progress bar by the Preferences button is not visible in the default state, its only visible when it's being used. Maybe this is intentional, I just wanted to point it out.

@TooWaBoo to conform better to RT style, could you introduce these changes?
1. Indent using spaces not tabs. 1 tab = 4 spaces.
2. When merging,

[2016-04-03 13:40] Beep6581 commented on #3195
Compiles and runs fine here.
By the way, changing "Sensor with Bayer Matrix" parameters when using X-Trans raws still triggers a re-demosaicing.

[2016-04-03 14:01] Beep6581 opened #3238 "Fall back to RawTherapee.css when error loading theme"
In `gtk3`, RT should fall back to loading `RawTherapee.css` if loading the current theme fails. Especially annoying when testing `master`, which sets the theme to `21-Gray-Gray.css`, and then running `gtk3`.

[2016-04-03 16:29] heckflosse commented on #3195
I merged the speedups into master

[2016-04-03 16:38] heckflosse opened #3240 "Speedup for some functions in rawimagesource"
I created a new branch ris_speedup. Currently it includes speedups for the functions getAutoExpHistogram and getAutoWBMultipliers.
I tested with two files (D800 NEF and 24 Mp xtrans). Detected no differences in output
Processing times:
getAutoWBMultipliers D800 NEF : before patch 59 ms, after patch 12 ms
getAutoWBMultipliers 24 Mp xtrans : before patch 128 ms, after patch 12 ms
getAutoExpHistogram

[2016-04-03 17:05] TooWaBoo commented on #3214
@Hombre57
PartialPaste works. (Thanks to @sguyader for compiling).

@Beep6581
The behaviour of the top progressbar is intentionel.

1. done

2. The TooWaBlueCheckbox.css should not be in any branch. It was only for testing if the relativ path I use also works in Linux.
I didn't add the .css file to the branch, I've no permissions to do it and I don't have any clue how to do it. :-)

3. Checkbox im

[2016-04-03 19:11] Beep6581 commented on #3214
Yes, but we need the SVG files so that we can re-generate the PNG files when needed, e.g. when changing a color, or when adding support for hi-dpi, so please provide the SVG files too.
Also, Gtk+ 3 supports SVG as far as I know, so if we got it working for RT that would solve some problems down the line, such as hi-dpi support.

What works in Windows should work in Linux because this is supposed t

[2016-04-03 19:48] TooWaBoo commented on #3214
@Beep6581
Hmmm, I don't have the images as vector and I don't have an application to create vector gaphics . It's pixel work. When I converting them in SVG, it's only a container with a PNG included. No way to get a higher resolution or changing colors.

[2016-04-03 21:29] TooWaBoo commented on #3214
I've decided to not using images and went back to the gradients with the round checkmark. There are no issues for higher resolution.
The inconsistent status will be indicated bei a blue dot (see screenshot).
The new version need the **"more-object-ID"** branch to work properly.
**The new version is in the first post.**

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/14235039/302a

[2016-04-04 05:38] Kildor commented on #3214
It is very bad. Dots can`t represent checkboxes.
It was good theme, I will miss it.

[2016-04-04 09:25] Hombre57 commented on #3214
@Kildor I agree that checkmark is better here.

@TooWaBoo Building svg from the png files shouldn't be too complex. I'll do it tonight, so please keep the checkmark version.

[2016-04-04 10:51] TooWaBoo commented on #3214
@Hombre57
Here you will find all the latest files for converting and testing.
http://filebin.net/d2hdijyniq
**TooWaBlue.css** v1.19
**twb** folder with the images
only **exe** of RT from the "more-object-id" branch compiled by @sguyader

The folder **twb** has to be in the folder **images**

[2016-04-04 12:17] Beep6581 commented on #3214
I agree, the checkmarks look good. I thought you started off from SVG. Don't worry, we'll help.

[2016-04-04 13:54] Beep6581 commented on #3214
Here they are:
http://filebin.net/gzn4u24kmm
SVG and PNG, light and dark. Please just arrange them in a folder structure as described in the comment above https://github.com/Beep6581/RawTherapee/issues/3214#issuecomment-204973231

[2016-04-04 16:11] TooWaBoo commented on #3214
@Beep6581
Thanks for the work, but one image is wrong: **checkbox-inconsistent-d.png**
The darker images are not dark and are not transparent. They have the same color as the insensitive font. The file name also ends with a **-d** (for disabled).
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/14254511/57fb2d12-fa90-11e5-868a-093805ce3091.png)

[2016-04-04 16:22] Beep6581 commented on #3214
That's the problem with calling things "`-d`", we must guess what it means. Let's not do that, and let's use full words instead.

We use a script to generate icons from SVG, the script automatically places the icons in designated folders. The images in the "dark" folder are always light, because the "dark" in the folder name refers to the background they are meant to be shown over. In your theme's

[2016-04-04 17:00] TooWaBoo commented on #3214
It's all there: https://github.com/Beep6581/RawTherapee/issues/3214 :-)

So I have to change the names to e.g **checkbox-checked-active.png**, **checkbox-checked-inactive.png**? If "Yes" I need to change the TooWaBlue.css too. - Thats not a problem.

The opacity is a problem. The checkbox will be shown on a light grey and a normal grey background, but the font brightness is always the same. If the

[2016-04-04 17:24] TooWaBoo commented on #3214
Changed image names and css.

Here are the latest files for converting and testing.
http://filebin.net/7f2yglqcc6
**TooWaBlue.css v1.19.1**
**twb** folder with the images
**exe only** of RT from the "more-object-id" branch compiled by @sguyader

The folder **twb** has to be in the folder **images**

[2016-04-04 18:35] Beep6581 commented on #3214
I'm working on it and hope to offer a PR soon.

[2016-04-04 19:59] Beep6581 commented on #3214
RawTherapee uses a script for generating PNG icons from SVG. This script always generates a light-background and dark-background variant of the SVG icons. Generating icons for a custom theme is not handled optimally by the script because in the case of a custom theme the background never changes.

Because of this, after processing your theme SVG icons I used the dark-background version of the for

[2016-04-04 20:05] TooWaBoo commented on #3214
Thanks, thats OK for me

[2016-04-04 20:07] Beep6581 commented on #3214
Yay! @Hombre57 ok to merge?

[2016-04-04 22:39] Hombre57 commented on #3214
@Beep6581 I'm quite busy, so if you don't mind, I'll let you do, and delete the more-object-id branch. I've nothing to add, all that @TooWaBoo requested has been done.

[2016-04-05 09:22] Beep6581 commented on #3214
Done.

[2016-04-05 09:22] #3214 closed

[2016-04-06 16:36] TooWaBoo commented on #3214
Installed the new RT 4.2.915 and the disabled checkbox and radio button are to dark.
I've modified the included SVG by hand to fit font color/brightness and I changed the stroke-width for the square of the checkbox to make it look a bit smoother. THE PNG were created by an online convertertool from SVG to PNG.

The opacity is set 70%, but what I did is to double the vector image.
opacity0.7 + opac

[2016-04-07 13:11] sguyader opened #3243 "DCP profile for the Fujifilm X-T1"
Hi,
Yesterday I received my new X-Rite Colorchecker Passport, and went outside to shoot the target for profiling. Following the instructions on Rawpedia, I shot the target under the sun (there was a very slight overcast), putting a black cloth around the target to avoid any potential reflections from the surroundings.
I then used DCamProf 0.10.4 to generate a dcp profile, using the following comma

[2016-04-07 16:45] heckflosse commented on #3240
I merged the changes into master branch

[2016-04-07 16:45] #3240 closed

[2016-04-08 07:27] Desmis commented on #3230
hello Paul

I comme back....

I cannot reconstituted, with windows, in Release and Debug mode, all works fine!

@heckflosse   Ingo could you have a look, thank you :)

I have also update Newwavelet with Master and somme iprovments (mutex...)  :)

[2016-04-08 08:23] paulmatthijsse commented on #3230
Salut Jacques, welcome back!
I confirm that this problem has gone, it was only during a couple of days that this happened. Issue can be closed.

[2016-04-08 08:38] mbajor opened #3245 "Source code validation for openSUSE packages"
I'm not able to build openSUSE packages becouse of:
[code]

[2016-04-08 10:22] heckflosse commented on #3245
Oups, my fault, will fix it asap

[2016-04-08 10:46] #3245 closed

[2016-04-08 13:53] sguyader opened #3246 "DCPprofile checked options checked in File Browser not applied"
When navigating in the File Browser, for raw files whose camera has a matching DCP profile, when you check or uncheck DCP profile options (such as Tone curve, Look table), the new settings are not is not applied. How to reproduce:
- in file browser, select an image taken with a camera which have a matching dcp profile
- apply neutral profile (just to reset everything)
- in Color tab, go to Color m

[2016-04-08 16:36] TooWaBoo opened #3247 "Update TooWaBlue, Deutsch locale, Images"
Deutsch locale update
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/210516/Deutsch.txt)

TooWaBlue v1.19.3 update
Changed slider knop a bit.
Add a separate color defenition to the change me section for the the slider knop.
[TooWaBlue.css.txt](https://github.com/Beep6581/RawTherapee/files/224498/TooWaBlue.css.txt)

Installed the new RT 4.2.915 and the disabled checkbox and radio butto

[2016-04-08 17:08] adamreichold commented on #3230
Closed as indicated by the reporter...

[2016-04-08 17:08] #3230 closed

[2016-04-08 23:23] pi99y commented on #3231
This also happens with ORF (Olympus) files, so it's not xtrans related.

[2016-04-09 13:13] lubernac opened #3248 "Canon 700D: overburned pixels are purple colored"
Rawtherapee 4.2.905
Win 7 64bit

Overexposed areas (burned) look purple when trying to recover them.

A raw with this issue is here: http://filebin.net/ieopckqlmx

Regards
Luca

[2016-04-09 15:09] iliasg commented on #3248
Hi lubernac

To correct this we need to fill camconst.json with 700D data. Can you provide very overexposed shots (i.e at +5EV or more so that all pixels are "burned") at all ISOs (integer and intermediate).
Shoot a featureless homogeneous surface, completelly out of focus at f/4.0 or closer (f/5.6, f/8.0)
We need
a) a set at normal shutter speed (less than 1 sec) and
b) a set at the longer possib

[2016-04-09 19:36] xorgy commented on #2934
@bobobo1618 cool stuff. Is this sitting somewhere public now?

[2016-04-09 23:01] heckflosse opened #3249 "Fit crop to screen doesn't work as expected anymore"
To reproduce:
Open image
apply crop
pan the preview so that only part of the crop is visible
Alt-f to 'Fit crop to screen'
Expected behaviour (tested with old version 4.2.487) : Crop is zoomed to fit into preview area and is centered to preview area
Behaviour in master branch: Crop is zoomed to fit into preview area (correct) but is not centered to preview area (wrong)

@Hombre57 May that be relat

[2016-04-10 01:16] bobobo1618 commented on #2934
@xorgy Yup but I wasn't confident in my ability to maintain it in the future (C++ is very new to me and I'm no expert in this stuff) so [the PR](https://github.com/Beep6581/RawTherapee/pull/2965) wasn't merged.

[2016-04-10 09:56] Tilo15 opened #3250 "GTK3 Graphs not refreshing"
Hello,
The histograms and custom curve graphs aren't refreshing properly in the GTK3 version of RawTherapee. The new information gets drawn over the old information making it impossible to actually use the curves and histogram as shown in the attached image.
![screenshot from 2016-04-10 21-50-17](https://cloud.githubusercontent.com/assets/11801324/14409417/e7b81bba-ff66-11e5-8dcc-df8c39627cd7.png)

[2016-04-10 11:29] Hombre57 commented on #3250
Could you select a theme in Preferences ? Does it help ? Do you have similar issue with Cage Control curve ?

[2016-04-10 11:30] RawConvert commented on #3248
@lubernac , be careful what you edit camconst with, Notepad is no good, Notepad++ works, see my post today in the forum...    Andrew

[2016-04-10 15:11] GSib43 opened #3251 "Problem with Gtk3 3.20"
I installed Msys2-64 on my new Win10-64 laptop to build RT as usually made on the old Win7-32.
The build went straightforward but at start RT was without the std Win10-style window and resize was impossible, the min/max button didn't work. The arrows of the folder tree were too large, the buttons over thumbnail too tall as the fields on the lateral areas, also not resizable in height. The version

[2016-04-10 17:11] sguyader commented on #3251
@GSib43 I think the problem is simply that you didn't copy the required icons. I'm not at my computer and I don't remember which icons you need, but I think there's something about that on Rawpedia. Otherwise, simply install one of my windows builds, and copy the content of 'share/icons' into your RT installation directory.

[2016-04-10 18:46] heckflosse commented on #3224
I'll close this Issue **without** pushing the changes to master in about one week due to lack of interest

[2016-04-10 18:52] GSib43 commented on #3251
As I made in win32, the icons are in the installation directory. And to find the difference I noted, I installed your last build from where I get the Gtk3 3.18 dlls to make my RT build run. I think there is something else!
Thank for your answer
Giorgio

[2016-04-10 19:00] sguyader commented on #3251
So you have the ''Adwaita'' icons, and the ''Hicolor'' folder in ''{RT
installer directory}/share/icons''?

[2016-04-10 19:29] GSib43 commented on #3251
Yes, the icons are there!

[2016-04-10 22:17] Hombre57 commented on #3250
Discussion continues in #3251.

[2016-04-10 22:17] #3250 closed

[2016-04-10 22:17] Hombre57 commented on #3251
Gtk3.20 is a mess, it brokes everything ! It works fine with Gtk3.18.0, but is broken by 3.18.2 and above, as reported in issue #3250.

@Beep6581 What should we do ? Stick to Gtk3.18.0 or update everything to 3.20.0 ?

[2016-04-10 22:23] Hombre57 commented on #3249
Certainly. I'll look at it tomorrow, if I can downgrade to Gtk3.18.0 :-/

[2016-04-10 22:49] edco commented on #3224
Lack of interest? Is there something you need me to do?

[2016-04-10 23:39] Hombre57 commented on #3249
Fixed in commit 3ac59ad.

[2016-04-10 23:39] #3249 closed

[2016-04-10 23:41] heckflosse commented on #3224
@edco If you can compile rt I would like like you to test the https://github.com/Beep6581/RawTherapee/commits/cacorrectfix branch.

[2016-04-11 04:38] Tilo15 commented on #3251
As @Hombre57 suggested in #3250 I changed my RawTherapee theme to "RawTherapee" and it fixed my graph problems. Initially theme was set to nothing, the field was blank and I'm guessing the theme is never meant to be set to nothing. Changing this fixed the problem.

![screenshot from 2016-04-11 16-34-50](https://cloud.githubusercontent.com/assets/11801324/14416943/d314cb70-0003-11e6-8e9b-a9a8b0d049

[2016-04-11 05:00] Tilo15 commented on #3251
Just had a look through some other issues, and it looks like my issue could have been avoided if something like what was mentioned in #3238 was implemented

[2016-04-11 16:06] GSib43 commented on #3251
I think Hombre is right!
With libgtk-3.0.dll (version 3.18.6.0) and libgtkmm-3.0-1.dll (version ?) from the install file of Guyader my build, made with the latest MSys2-64 that installs libgtk-3.0 version 3.20.1, runs with no problem save the arrows of the folder tree.
So if you think to stay with 3.18 it is important to make this well known [in RawPedia-Windows (only ?)] because if someone upgrad

[2016-04-11 23:43] edco commented on #3224
Okay. It's been a while since I set up a build environment for something like RawTherapee, but I should be able to get something going in the next day or two.

[2016-04-12 11:41] heckflosse commented on #2895
Fixed

[2016-04-12 11:41] #2895 closed

[2016-04-13 21:11] Hombre57 commented on #3238
Solved in last commit.

[2016-04-13 21:11] #3238 closed

[2016-04-13 22:00] heckflosse opened #3253 "Speedup for Flat-Field correction"
Issue opened to get an Issue number. I'll post first speedups tomorrow or after the weekend

[2016-04-14 00:17] heckflosse commented on #3253
I analyzed the flat-field processing. There are some things I can speed up:
1.) this [condition](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimagesource.cc#L2993) always evalueates for the first case, which means we can remove it.
2.) When using flat-field correction, usually in one rt session the same flat-field will be used for more than one file. That could lead to the follo

[2016-04-14 14:28] Beep6581 commented on #3251
Hello

@Hombre57

I use 3.18.7 (it's the only 3.18 I ever used) and RT looks fine! But I was informed/warned by the GTK+ devs that 3.20 will break themes. I can't test 3.20 yet so I can't advise, but if your 3.18.2 looks broken then perhaps the issue lies elsewhere? If you post a screenshot of RT in 3.20.* I can ask the GTK+ devs for advice, though I will be away for the weekend.

[2016-04-14 16:24] Beep6581 commented on #3243
Hey

Could you include a tungsten shot too? Using a real and not tinted tungsten bulb.

[2016-04-14 16:30] sguyader commented on #3243
Hi, yes I'm planning to do it. I found a regular tungsten bulb, and I'll
try to make some shots soon.

[2016-04-14 16:51] Beep6581 commented on #3243
I found that my basement and bathroom (both with white walls) produced identical tungsten DCPs.

[2016-04-15 13:33] HJarausch opened #3254 "Panasonic DMC-FZ1000 lens distortion correction"
Hi,
I'd like to use Rawtherapee but I can't since the support for my Panasonic Lumix DMC-FZ1000 is disappointing. For photographs at short focal lengths the lens correction is suboptimal.
E.g., Darktable does a better job but isn't perfect, as well.

Before dismissing Rawtherapee altogether I'd like to patch it to use the lens parameters which are embedded in the raw file - as does Lightroom.

I d

[2016-04-15 13:46] GSib43 commented on #3251
Here some screenshots of RT in 3.20. I hope they will be useful.
![cattura_gtk3seb1w](https://cloud.githubusercontent.com/assets/18380284/14562801/21fa63bc-031f-11e6-9c00-4e6938226151.jpg)
Image 1

![cattura_gtk3new1aw](https://cloud.githubusercontent.com/assets/18380284/14562824/3feb09a8-031f-11e6-8b2d-b9ea88629000.jpg)
Image 2

These screenshots were made using the same RT_Gtk3 exe, built with t

[2016-04-15 15:03] srjacob999 commented on #3229
3 Files uploaded.

[2016-04-17 18:18] Beep6581 commented on #3254
Hey

It will be difficult for anyone to point you where to start as you haven't clearly described where the problem lies, haven't described what you tried and haven't provided a sample raw file.

I would say start here:
http://rawpedia.rawtherapee.com/Lens/Geometry#Lens_Correction_Profile
http://rawpedia.rawtherapee.com/Lens/Geometry#Distortion_Correction
http://rawpedia.rawtherapee.com/How_to_get

[2016-04-17 19:12] benuri commented on #3254
I think that Helmut would like to get the built-in lens profile embedded into the RAW files.
As far as I understand, this is not something the RT does for any camera, except the ability to fit a lens correction function from the JPEG preview embedded in the RAW file.

The problem of finding out the lens correction parameters embedded into the RAW by the camera, is not specific to RT, and requires

[2016-04-17 21:06] Beep6581 commented on #3251
It's clear that the problematic screenshots are not using our theme at all, so they are not demonstrating RT theme issues when using GTK+ 3.20.

[2016-04-18 04:39] indikaPathi commented on #2543
Is anyone currently working on this issue?

[2016-04-18 08:40] geoderix opened #3255 "Incorrect focal length for Pentax K100D Super"
For all files (both .pef and .jpeg) from Pentax K100D Super Rawtherapee shows incorrect value for the focal length. More precisely, for all images Rawtherapee shows the focal length 250 mm.
This bug does not give the possibility to use .lcp profile for lens correction.
Other programs (FastStone, XnViewMP etc) show the correct focal length.
I found the bug in the RT 4.2.781 for Windows XP and in RT

[2016-04-18 10:03] Beep6581 commented on #3255
Confirmed.

[2016-04-18 12:17] GSib43 commented on #3251
Here the images made using RawTherapee.css: they presents almost the same problems.
All the images were made using the same RT_Gtk3 exe compiled with MSys2-64 with Gtk3-3.20 (see attached AboutThisBuild.txt).
In images 1,3 and 6 RT_Gtk3 runs with the Gtk3 (Gtk3-3.18) and Gtkmm libraries from the build of Guyader without problems save the arrows of the folder tree.
In images 2,4,5 and 7 RT_Gtk3 run

[2016-04-18 12:19] GSib43 commented on #3251
Closed accidentally

[2016-04-18 12:47] Beep6581 commented on #3251
@GSib43 these images (e.g. https://cloud.githubusercontent.com/assets/18380284/14603649/46feb120-056f-11e6-8fb6-8aabb4186940.jpg ) are not using our CSS file at all, so uploading them is pointless. We know about GTK+ 3.20, we will add good support for it once we can install it on our machines (I cannot do that yet), so no point uploading more irrelevant screenshots, just wait.

[2016-04-18 13:53] GSib43 commented on #3251
If I open the "preferences" I read "RawTherapee" for the theme!
But .. no problem, I wait
Giorgio

[2016-04-18 18:48] TooWaBoo commented on #3247
ping

[2016-04-18 18:58] mks9900 commented on #3231
@pi99y could this issue be related: #3048?

[2016-04-19 12:28] sguyader commented on #3243
Hi @Beep6581 I made a tungsten shot last night, with a regular tungsten bulb, in a bedroom with white walls.
Here are all the files for you to check: http://filebin.net/r8qyc8jozj

Let me know if I can improve something in the shooting conditions.

[2016-04-19 12:50] Beep6581 commented on #3243
Great! Flooded with work today, I'll check it in tonight or within the next few days.

[2016-04-19 20:05] pi99y commented on #3231
@mks9900 description of #3048 does indeed look similar and it could be related as far as I know.
However I have not encountered this while pasting a profile... only while using/editing and undoing with the equalizer tool. On the other hand my pictures always had other change aplied to them prior to that... if that couts as "profiles"...

[2016-04-19 23:13] t-o-d-d opened #3257 "tag photos"

[2016-04-19 23:15] heckflosse commented on #3257
@t-o-d-d Could you please be a bit more specific...

[2016-04-19 23:17] Beep6581 commented on #3257
https://discuss.pixls.us/t/search-for-keywords/1276/1
https://discuss.pixls.us/t/photo-tagging-into-pp3-and-searchable-feature-request/1278/1

[2016-04-19 23:18] heckflosse commented on #3257
@t-o-d-d Please post a clearly understandable description.

[2016-04-19 23:18] t-o-d-d commented on #3257
Maybe a field down by the snapshots when in editor mode. So tags/keywords could be entered for the photo if desired. This data could go into the pp3 and then be searchable... I see some links just came into the thread. Thanks

[2016-04-19 23:19] heckflosse commented on #3257
DrSlony, thanks for the links :)

[2016-04-20 00:08] TurkeyMan commented on #3187
I just tried tried the latest build from the Arch community repo, I think it's current (4.2.448).
Scaling is not great. Looks like some scaling has been performed, but icons are tiny, some text is still too small to see. In the settings dialog for instance, it looks like text has been scaled, but the layout ( positioning, gaps between the text) have not been scaled, and everything feels really bun

[2016-04-20 10:02] hyphone commented on #3187
current version in the Marcin Bajor-repo (arch homepage -> downloads -> arch) is 4.2.795

scaling works fine

[2016-04-20 16:33] HJarausch commented on #3254
Thanks!
Unfortunately this is no Lens Correction Profile from Adobe since Adobe does extract this information from the raw file as I'd like to do with RT.
The embedded lens correction parameters have been digged out by Raphaël Rigo - see
https://syscall.eu/#pana
Since more and more modern cameras - at least bridge cameras - are using this technique, it would be worth while to add this feature to R

[2016-04-20 17:29] Beep6581 commented on #3254
Now I understand. This is a request for direct support of the a, b and c distortion coefficients.

Adobe does not extract LCPs from raw files. Adobe creates their own LCPs. The links I pasted explain where to get LCPs and how to make your own. What https://syscall.eu/#pana describes has nothing to do with Adobe's LCP. He does extract the a, b and c distortion parameters, which are universally used

[2016-04-20 18:04] Floessie opened #3258 "Unstable output w/ same PP3 and RAW CA auto-correction when image height % 2 == 1"
Hi,

there seems to be a problem on master with RAW CA auto-correction, which results in different images whenever they are saved, even successively in the same session.

Reproduction:
1. Open a CR2.
2. Chose "Neutral".
3. Enable "Sensor with Bayer Matrix / Chromatic Aberration / Auto-correction".
4. Save current image as 8b uncompressed TIFF named "test1.tif".
5. Wait until saved.
6. Save current

[2016-04-20 18:13] Floessie opened #3259 "stack-buffer-overflow when using AddressSanitizer"
Hi,

when compiling RT with `-fsanitize=address` it fails early:

	==5957==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7ffc16d04068 at pc 0x7f37e800d8d8 bp 0x7ffc16d03ba0 sp 0x7ffc16d03350
	READ of size 440 at 0x7ffc16d04068 thread T0
		#0 0x7f37e800d8d7 in __asan_memmove (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x888d7)
		#1 0xc45a2d in int* std::__copy_move<false, true, std::rando

[2016-04-20 18:36] heckflosse commented on #3258
@Floessie Thanks for the report and for the example. With your file I could immediately reproduce it. Looking...

[2016-04-20 18:52] heckflosse commented on #3258
@Floessie, I saw your cr2 has an odd height. Maybe it's related to that. Still searching...

[2016-04-21 07:03] Beep6581 opened #3261 "GTK3 GUI oddities - empty spaces"
I noticed in the last weeks that empty spaces appear in some conditions. For example open any photo, go to the Wavelet tab and right-click on Edge Sharpness. The whole Wavelet Levels tool moves down and there is a large gap above it.
Reproducible 100%.

The same happens if I manually left-click on each sub-tool to hide it, instead of right-clicking on Edge Sharpness.

![scrot_2016-04-21 090241](ht

[2016-04-21 09:46] TooWaBoo commented on #3251
@GSib43
Can you upload (e.g. http://filebin.net/upload/) your compiled RT version with Gtk 3.20, so I can make some tests with my theme?

[2016-04-21 11:54] GSib43 commented on #3251
With pleasure!
http://filebin.net/cl1uue7vaj
In the zip the libgtk*.dllSeb are the dll, that I got from the Guyader's build and make my build (almost) normal running.
I hope you can find a solution
Giorgio

[2016-04-21 11:57] TooWaBoo commented on #3251
@GSib43

Thanks, but the link doesn't work.

[2016-04-21 12:10] GSib43 commented on #3251
I proved 30 seconds ago and all was ok

[2016-04-21 12:23] TooWaBoo commented on #3251
It works now. I was using the Google DNS server. After switching back to my provider DNS server, I could connect to filebin.

[2016-04-21 12:38] TooWaBoo commented on #3251
@GSib43
I've downloaded the RT, but it won't runn. It quits immediately.

[2016-04-21 13:23] GSib43 commented on #3251
As you see from the images an my pc (Lenovo P50 Intel Xeon E3-1505M v5) runs with problems but runs...
I made the zip with 7Zip, perhaps it is better I make a 7z file. Uploaded:
http://filebin.net/cl1uue7vaj

[2016-04-21 13:42] TooWaBoo commented on #3251
@GSib43
No difference. I'm using a Gigabyte MB, CPU Intel I3 530 and Win 10 Home

[2016-04-21 14:10] GSib43 commented on #3251
I try to make a build with the generic processor target and then upload it.

[2016-04-21 14:31] GSib43 commented on #3251
Uploaded with the same name but with the new RT4.2.927Gtk3_G.exe.
http://filebin.net/cl1uue7vaj

[2016-04-21 14:41] TooWaBoo commented on #3251
@GSib43
Thanks, this version works.

[2016-04-21 14:41] heckflosse commented on #3258
@Floessie It really seems caused by image height % 2 == 1. I verified that using camconst raw_crop

[2016-04-21 18:54] heckflosse commented on #3258
Should be fixed with this [commit](https://github.com/Beep6581/RawTherapee/commit/58fb7af2bbd79b8797f8b80c9062899dd38c5113). @Floessie Can you confirm please?

[2016-04-21 19:18] Hombre57 commented on #3261
Is it specific to the Wavelet tab ?

[2016-04-21 19:33] Beep6581 commented on #3261
I could not reproduce it now in any other tab so I must answer "yes", but it happened to me a few days ago from the File Browser tab in some non-Wavelet tab. Maybe it happens in other tabs too when the combination of collapsed and expanded sub-tools is right - I tried now just by right-clicking on each tool and sub-tool and could not reproduce it elsewhere, but can reproduce it 100% in Wavelet - E

[2016-04-21 20:41] sguyader commented on #3261
It looks like this happens with the HSV equalizer too.

[2016-04-21 22:18] Hombre57 commented on #3261
Is it specific to the RawTherapee theme or Toowaboo's theme as well ? With the later and Gtk3.20, I cannot reproduce. Unfortunately, Gtk3.20 is broken and I don't know how to come back to 3.18 or 3.16, so I'm a bit stuck at the moment. :(

[2016-04-22 06:11] Floessie commented on #3258
@heckflosse: Yep, it's gone. Well done! :)

[2016-04-22 08:05] Beep6581 commented on #3261
I'm on 3.18.7 using the official RT theme.

I confirm @sguyader's issue as well. I didn't notice it because when the curves are set to linear it doesn't happen. When you set either of them to Equalizer then it happens.

So there is the culprit! Curves. I tried it now and can reproduce it using the following when the curve is not linear:
* L*a*b* Adjustments
* Defringe
* Vibrance
* Black-and-White

[2016-04-22 10:57] #3258 closed

[2016-04-22 16:36] NextTherapist opened #3263 "Monitor profile name swaps over buttons"
This is a screenshot of RawTherapee_WinVista_64_Gtk3_Release_4.2.927

![rawtherapee-monitor-profile-name-swapping](https://cloud.githubusercontent.com/assets/16581692/14748270/0bca13fe-08b9-11e6-8c0e-d7ad8a15d604.png)

The buttons under the name of the profile are not visible anymore.

[2016-04-22 17:20] Beep6581 commented on #3248
@lubernac when you upload the files, paste the link in this issue.
As it's already been two weeks without a word, I'm closing this issue, but if you provide the files we'll re-open it.

[2016-04-22 17:20] #3248 closed

[2016-04-22 17:25] Beep6581 commented on #3232
@Hombre57 close?

[2016-04-22 17:29] Beep6581 commented on #3220
Sorry, could you upload those raw files again please @abrodkin ?

[2016-04-22 17:30] Beep6581 commented on #3210
Stale, lacks info, closing.

[2016-04-22 17:30] #3210 closed

[2016-04-22 17:31] Beep6581 commented on #3196
Stale, closing.

[2016-04-22 17:31] #3196 closed

[2016-04-22 17:31] Beep6581 commented on #3263
Duplicate of #3186

[2016-04-22 17:31] #3263 closed

[2016-04-22 17:33] Beep6581 commented on #3186
@Hombre57 I tried but did not manage to figure out how to set `PANGO_ELLIPSIZE_MIDDLE`.

[2016-04-22 17:33] Beep6581 commented on #3186
I set a "patch" label in the sense that the solution is known, I just don't know how to implement it.

[2016-04-22 17:34] #3182 closed

[2016-04-22 17:40] Beep6581 commented on #3177
@adamreichold has the fix mentioned in this commit https://github.com/Beep6581/RawTherapee/issues/3177#issuecomment-189606645 been committed anywhere, i.e. can we close this?

[2016-04-22 17:45] Beep6581 commented on #3173
Tried both GTK2 and GTK3, both work fine here in Linux using [awesome](https://en.wikipedia.org/wiki/Awesome_(window_manager)), both remember their window size and position when restarting.

[2016-04-22 17:47] Beep6581 commented on #3173
GTK2:
Version: 4.2.801
Changeset: a79e4bc24bb7854b34939edd731c8f5e4ec6fb1f

GTK3
Version: 4.2.927
Changeset: 098603c6477cc0f6d79d26ac932d270124be047b

[2016-04-22 18:10] abrodkin commented on #3220
Reuploaded raw files in the same one filebin tag, so the same link is now valid again.
Let me know if there're any problems with those shots - while I still have cc24 target I may redo something.

[2016-04-22 19:01] Desmis commented on #3177
for me no problem :)

[2016-04-22 19:05] Beep6581 commented on #3220
@abrodkin thanks for the quick response! :)

[2016-04-22 19:10] Beep6581 commented on #3220
In both photos the tint value is quite low. In tungsten it's 0.78 and in daylight its 0.83. Could you confirm that the daylight photo had no reflective walls or cars nearby and that you were holding the chart in such a direction that reflected light would not be a problem, and can you confirm that the tungsten shot was taken with a real, clear tungsten lightbulb also in a place where reflected col

[2016-04-22 19:17] abrodkin commented on #3220
Well as for daylight shot I'm pretty sure it should be OK. I took it in a quite large and open space between buildings with pretty low chances anything colorful to affect the shot (among other things almost everything around was covered with white snow).

As for tungsten I took it on my kitchen - that's the only place where I found a real tungsten bulb (we use "energy-saving" bulbs almost everywhe

[2016-04-22 19:18] abrodkin commented on #3220
BTW for daylight shot I had my target turned ~45% to the sky (it was pretty cloudy that day, so definitely no direct sunshine). Is that OK?

[2016-04-22 19:25] Beep6581 commented on #3220
They might be fine, because those values aren't conclusive and depend on other stuff, I just wanted to get confirmation. I'll make the DCP soon, today, then we will see the delta E.

"They say" that you're supposed to take them on clear sunny days in the middle of summer bla bla, but in my (admittedly limited) experience this doesn't make much difference, I took ones at midday on overcast days tha

[2016-04-22 19:33] abrodkin commented on #3220
That all makes sense indeed.

Again I'm pretty sure daylight is a good profile because that one I use in both Raw Therapee and in Darktable as my main color profile for Sony a6000 and results I'm seeing are very satisfying. Still as well as you I don't own precise color metering tools and not even trying to get 100% color accuracy caring more about what looks pleasant to my eyes :)

Tungsten profi

[2016-04-22 19:58] Beep6581 commented on #3224
Tested, agree with committing a new default value of 2.0, as discussed in IRC.

[2016-04-22 21:17] heckflosse commented on #3224
@Beep6581 the new default value of 2.0 doesn't solve this 'bug'. The default value of 2.0 is 'good' for the cases where there's some ca to remove, which is not the case with this high ISO shot, because it doesn't suffer from ca at all. Nevertheless I would appreciate to get some tests of 'cacorrectfix' branch :)

[2016-04-22 21:29] Beep6581 commented on #3259
Fix confirmed, everything seems to work fine.

For info, I merged your commit using:
[code]
Then compile.

[2016-04-22 22:32] Hombre57 commented on #3232
No time to "make the curve auto-expanding feature optional (if not already the case)". I'll let you decide to close this issue or not.

[2016-04-22 22:54] Hombre57 commented on #2239
Just for your information, I've uploaded my WIP patch of the Spot Removal tool. I'm afraid that I'll not be the one that will finish it, because of lack of time.

The GUI should be working, but the engine part is still to be done with the changes explained above.

If nobody take it over, it'll be a dead branch that you can delete if you want.

[2016-04-22 23:22] Hombre57 commented on #3223
I've tried to do that patch, but it's beyond my skill (and frankly, that should be assigned to the Gtk dev team...). So I'll let someone else do it, sorry.

[2016-04-22 23:25] #3232 closed

[2016-04-23 00:00] Beep6581 commented on #3247
The CSS file uses many colors, and states them using two notations: hex and RGB(A) 0-255. Is that necessary? It's fine if it is, but it would be helpful to simplify it if possible by cutting down on the color variations (alpha=0.1 vs 0.12, is that really a visible difference?) and using one style. I had a hard time finding which color you actually use for the "normal" vs "-disabled" text.

opacity

[2016-04-23 00:40] Beep6581 commented on #3243
[Fujifilm X-T1.dcp.txt](https://github.com/Beep6581/RawTherapee/files/232727/Fujifilm.X-T1.dcp.txt)

[2016-04-23 00:41] Beep6581 commented on #3236
[Nikon D7200.dcp.txt](https://github.com/Beep6581/RawTherapee/files/232733/Nikon.D7200.dcp.txt)

[2016-04-23 00:45] Beep6581 commented on #3220
Strangely high DE values! But your X-Rite Passport appears to be in great condition. Could it be the winter sun? Or perhaps a new kind of pigment on the color target, if yours is very new? @iliasg what do you think?

[Sony ILCE-6000.dcp.txt](https://github.com/Beep6581/RawTherapee/files/232734/Sony.ILCE-6000.dcp.txt)

[2016-04-23 00:51] #3243 closed

[2016-04-23 00:51] #3236 closed

[2016-04-23 01:17] #3218 closed

[2016-04-23 01:17] Beep6581 commented on #3218
Please let me know if it's fixed.

[2016-04-23 01:23] sguyader commented on #3243
@Beep6581, thanks! Did you check the profile I had made? Was it not good enough?

[2016-04-23 09:20] Beep6581 commented on #3243
It ended up being visually identical.

[2016-04-23 11:07] TooWaBoo commented on #3247
I've changed all color notations to rgb(a).
[TooWaBlue1.19.4.css.txt](https://github.com/Beep6581/RawTherapee/files/232908/TooWaBlue1.19.4.css.txt)

Yes, it is, speciality on gradients.

Maybe it's not common, but it's regulare function and you can do that in "inkscape" too.

That's correct.

The radio has a stroke width of 1, but it looks thicker than 1 pixel, 'cause of the antialiasing. That's w

[2016-04-23 13:05] Beep6581 commented on #3247
I updated the checkbox SVGs and re-generated the PNGs to use a stroke width of 1.2.

The PNGs in `rtdata/themes/images/twb` are ordinary PNGs, they are automatically generated from the SVGs in `rtdata/themes/images/svg/twb`, that's why it's important that this is all scriptable, as it now is.

I committed the new theme and updated SVG+PNG icons. OK to close?

P.S. "knop" should be "knob"

[2016-04-23 13:11] TooWaBoo commented on #3247
Yes, I'm happy now. :-)

[2016-04-23 13:12] Beep6581 commented on #3247
Great, closing.

[2016-04-23 13:12] #3247 closed

[2016-04-23 13:59] #3259 closed

[2016-04-23 23:00] sguyader commented on #3218
Yes it's fixed. I noticed that the field in the "Version" tab is empty.

[2016-04-24 20:32] GSib43 commented on #3251
Nothing interesting fronte tour testa?

[2016-04-24 20:34] GSib43 commented on #3251
Nothing interesting from your tests?

[2016-04-24 21:01] TooWaBoo commented on #3251
I did some tests and it's crazy, everything has changed in Gtk 3.20. I have to build the theme from scratch. I will do this, when the developers make the decision to switch to Gtk3.20.
There are a lot of things, where I don't know right now how to adapt it to Gtk3.20.
Here is the test theme, at which I'm playing around. Only for evaluating.
[TooWaBlueGtk3.20.css.txt](https://github.com/Beep6581/Ra

[2016-04-25 08:37] GSib43 commented on #3251
Good work, yours. Many problems solved.
If it is not possible to get Gtk3-3.18 when installing MSys2, I think necessary the switch.
Thanks
Giorgio

[2016-04-25 14:14] candardo commented on #3154
RAF files from my X-E2 firmware 4.0 crash RawTherapee on Linux (Debian sid, RT 4.2._something_) and work on Windows (W10 RT 4.2.905). Having no problems with the latest (windows) version I expected this bug to closed and filed a bug to the Debian BTS asking for a new build.

Any updates on this issue?

[2016-04-26 05:04] Desmis opened #3264 "Branch newwavelet - add special effects "style""
I just push a change to "newwavelet".

You can now merge 2 files to improve effects (style) of an image. Eg with an artistic paint "Starry night"..or other Raw or TIF...which must have substantially the same size as the current image.

I don't use "Neural network", but only Wavelet....

This algorithm requires significant resources due to size of images and because I open 2 wavelets...about
*  mem

[2016-04-26 06:43] geoderix opened #3265 "Blue Curve with Luminosity Mode do nothing (Color Tab - RGB Curves)"
The Blue Curve from Color Tab - RGB Curves with Luminocity Mode enabled do nothing.
I found the bug in the RT 4.2.781 for Windows XP and in RT 4.2.905 for Windows Vista/7/8/10 64-bit.
Thank you!

[2016-04-26 07:23] #2889 closed

[2016-04-26 07:23] #2214 closed

[2016-04-26 07:27] Beep6581 commented on #2159
Explained by @Desmis
https://discuss.pixls.us/t/conversion-to-black-white-something-not-right/868/6
Solution: Don't use ProPhoto working space.

[2016-04-26 07:27] #2159 closed

[2016-04-26 07:28] Beep6581 commented on #3265
Explained by @Desmis
https://discuss.pixls.us/t/conversion-to-black-white-something-not-right/868/6
Solution: Don't use ProPhoto working space.

[2016-04-26 07:28] #3265 closed

[2016-04-26 08:39] geoderix commented on #3265
Ok.
I switched Working Profile to sRGB. When I change Red or Green curve with Luminocity Mode I see changes. But when I change Blue curve with Luminocity Mode I almost do not see the changes. They are too small. Are you sure that the reason is the color space width of ProPhoto?
Thank You.

[2016-04-27 08:33] geoderix opened #3266 "Blue Curve with Luminosity Mode do nothing (Color Tab - RGB Curves) even in sRGB color space"
I'm sorry.  I tried to open a bug # 3265, but he was immediately closed with a reference to the Desmis's explanations at [https://discuss.pixls.us/t/conversion-to-black-white-something-not-right/868/6](url): "Solution: Don't use ProPhoto working space".
Ok. I read [https://discuss.pixls.us/t/conversion-to-black-white-something-not-right/868/6](url).
I switched Working Profile to sRGB. When I chang

[2016-04-27 09:04] iliasg commented on #3266
It's because B is the smallest factor of luminosity .. Y = 0.2126 R + 0.7152 G + 0.0722 B

[2016-04-27 09:21] geoderix commented on #3266
Why in this case, the blue curve? Is it possible to make it work as well as red and green curves?
In addition, it seems to me, red and green curves work about the same with Luminosity Mode.

[2016-04-27 13:13] heckflosse opened #3267 "visible xtrans pattern"
[Here](http://filebin.net/78dyk2lc0e) is an xtrans file which shows a strange pattern in the bright region at the top. First I thought it was caused by the 3-pass xtrans demosaic, but it also appears when I choose fast (bilinear) interpolation.
@iliasg Can you take a look, please? I've no clue what can cause the pattern.

[2016-04-27 13:15] Beep6581 commented on #3266
@geoderix can you link to a sample raw file + PP3? Upload using http://filebin.net/

http://www.itu.int/dms_pubrec/itu-r/rec/bt/R-REC-BT.709-6-201506-I!!PDF-E.pdf (page 4)
https://en.wikipedia.org/wiki/Relative_luminance
https://en.wikipedia.org/wiki/YPbPr

[2016-04-27 13:38] geoderix commented on #3266
For what sample raw file + PP3?
You can open any file and see how blue curve does nothing even with sRGB.
I do not dispute the calculating method of luminance.
If the tool exists, it should work. The blue curve is not working.
Or I did not understand the principle of RGB Curves with Luminosity Mode.
Darken the sky it would be fun with blue curve.
Thank you!

[2016-04-27 14:03] geoderix commented on #3266
How does the RGB curves work with Luminosity Mode?
Maybe use a color model HSV or HSL instead Lab? For the blue curve could be used?

[2016-04-27 15:29] moribo opened #3268 "Segfault when using Wavelets"
Hello.
I work under Mac OSX ELCapitan version 10.11.4. When I try to work with Wavelet, RawTerapee leaves abruptly (version 4.2.753).

[2016-04-27 15:39] iliasg commented on #3266
Hi geoderix,  ..it's better to use the "HSV equalizer" tool (drag the curve lower) to darken the blue sky .. and better first choose the color you want to manipulate with the pipette tool (the cross with up/down arrows at the left side)

[2016-04-27 16:39] Beep6581 commented on #3268
We need a stack backtrace:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

We also need to update the OS X builds...

[2016-04-27 16:47] Beep6581 commented on #3266
If that were true, I wouldn't be asking for a raw file.

![scrot_2016-04-27 184308](https://cloud.githubusercontent.com/assets/5844619/14860250/3f08657a-0ca8-11e6-9231-e23de6352854.png)

Use the LH curve in the L\*a\*b\* tool.

[2016-04-27 17:04] iliasg commented on #3267
@heckflosse Hi Ingo, it's present at the raw data before demosaic !! A 6X6 pattern .. sadly there is no consistency between horizontal (dark lines are on the 2X2 green groups) and vertical (dark lines are on solitary green pixels).

We see (sometimes) some strange effects when we have strong oblique light (I remember a green imbalance resulting to maze artifacts with a sony (Bayer) at the old foru

[2016-04-27 19:20] heckflosse commented on #3267
@iliasg Hi Ilias, I uploaded a zip with some flat field shots from X-100T to the filebin link from above.

[2016-04-27 20:49] Karteileiche commented on #3154
@candardo

you are right, the linux version lacks on this fix. i am also waiting for an update.

@heckflosse
Beside the XE2 FW4.0 incompatibility, i experienced crashes several times when saving files during the edit process (saving directly form the edit window, not using the queue).

[2016-04-27 21:09] Beep6581 commented on #3154
1. Trouble with a raw file? Always provide a sample raw file, use http://filebin.net/
2. Crash? http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-04-27 22:02] candardo commented on #3154
Latest RT package downloaded from Debian Linux.

Example raw file: http://filebin.net/bgx5dbkn5c

Actions to reproduce bug: RT crashes when trying to edit files after previewing it with the File Browser tab so no PP3 file available.

console output:
[code]

Download page (Debian Sid package amd64): https://packages.debian.org/sid/rawtherapee

It's not the latest version but I like to use Debian pa

[2016-04-27 22:03] CharlesRT2 opened #3269 "Fuji X-Pro 2 dcp submitted for review and integration"
I photographed two Color Checkers - a large old MacGregor and a small paper Passport - with a Fuji X-Pro 2 in direct mid-day sunlight using a Fuji 18-55 lens at f/5.6. I made two .dcp files with Passport, which give slightly different results.

I have uploaded the RAF and dcp files for review at http://filebin.net/95d7whei5n .
Someone can integrate the dcp files into RT or make better dcp files fr

[2016-04-27 22:08] sguyader commented on #3269
Thanks Charles, it will be helpful and maybe attract more photographers to
RT.

[2016-04-28 07:30] iliasg commented on #3267
@heckflosse  At a first try I couldn't detect anything .. but I worked by picking lines by hand .. I have no automated tools for this

[2016-04-28 07:31] geoderix commented on #3266
I see a very small change to the steep curve. In а real image contrast will not change depending on the color blue with blue curve.

Ok, thank you. I use this tool.

RGB Curves with Luminosity Mode is really cool and powerful tool to change contrast according to the color. It replaces the whole sequence of actions. I like it. Great job. But I was upset that there is virtually no possibility to cha

[2016-04-28 12:21] Beep6581 commented on #3154
No crash here, DSCF1468.RAF opens fine and applying Auto-Levels works.
Tested in gtk3 tip (4.2.942 56af7e88)

[2016-04-28 13:22] sguyader commented on #3251
Gtk 3.20 is starting to roll into more Linux distros. Yesterday Manjaro published new updates, including Gtk 3.20.

[2016-04-28 15:41] sguyader commented on #3264
Bonjour Jacques,

Today I tried your new "style" effect, by following your guide on Rawpedia. I think it's not too much heavy on the computer resources, it runs reasonably fast on my 2.5 GHz i5 / 4 GB RAM Laptop.
Regarding the effect itself, I don't see the results as close to what we can see from the programs based on the neural network as I wanted.
In your implementation, I still see quite well

[2016-04-28 16:46] abrodkin commented on #3220
I took another daylight shot this weekend in completely different environment again close to noon and with quite low amount of clouds (which happens not that often in St. Petersburg).
That's the link to that new shot - http://filebin.net/o6ahb50ro6/DSC01408.ARW

I'm wondering if you'll see any significant difference with the previous one.

[2016-04-28 17:24] Desmis commented on #3264
Salut Sébastien

Merci pour ce "test" :)
Il est évident que l'algorithme que j'ai utilisé est moins discriminant que celui à Neurones, mais il est considérablement moins exigeant en ressources. Je ne pense pas qu'on puisse  - avec des temps de traitement raisonnables - traiter des images de 7000*5000 avec les réseaux de neurones...(à voir !!)

Le système (le mien) est très sensible au contraste de

[2016-04-28 21:01] TooWaBoo commented on #3251
@sguyader
Gtk3.20 has a lot of changes, which require more object IDs and classes in the rtgui files.
e.g right now, it's not possible to set a background color of curves, because an object ID for the GtkDrawingArea doesn't exist anymore.

It also has a combobox bug. In Gtk3.18 long text where overflowing the box, in Gtk3.20 the min. width of the combobox is the size of the longest text. This make

[2016-04-28 22:58] Krzysiu opened #3270 "Use last directory in "move""
Let's say I have opened `c:\foo\photo.jpg` and I want to move it to other directory. I'm clicking on "move" and save dialog shows me directory `c:\foo`. I'm moving it to `e:\bar`, move was successful. I'm choosing another file, from the same directory and after clicking on "move" I'm again in `c:\foo`, not the last used for moving directory - `e:\bar`. I think it's the matter of taste, but for me

[2016-04-28 23:00] Krzysiu opened #3271 "Attach shortcut to "move" and "copy""
Would it be possible to add shortcut for these operations? My proposition is to make is kind of obvious - rename is `F2`, so it could be e.g. `Shift+F2` for copy and `Alt+F2` for move. `Ctrl+F2` is already taken.

[2016-04-28 23:03] Krzysiu opened #3272 "Open/save dialogs lacking manual entry in GTK3"
Hey! I don't know if it's possible in GTK3, but dialogs in RT 4.2 are missing place where I could enter path or filename manually. Together with #3270 it makes moving files using RT pointless, because for every file I have to search for path, without possibility of pasting it.

[2016-04-28 23:08] Krzysiu commented on #3270
I still think it would be cool, but now I realized there's "recent" in the left panel, so it's not so needed anymore. I'm not closing it yet, because maybe you'd think such change is still fine.

[2016-04-28 23:12] Krzysiu opened #3273 "Use Windows native open/save dialogs"
This may be highly controversial, but would it be possible for RT to use system native dialogs, at least in Windows? My point is that for Windows users virtually every software is using native dialogs, so users are used to it. GTK dialogs are very different, they are incompatibile with Windows (lack of drag'n'drop between other windows, no context menu) and in my opinion they are much more poor.

[2016-04-29 06:10] Desmis opened #3274 "Branch rec2020 - Add Rec2020 to working profiles"
I create a new branch with
- a new profile "Rec2020" for "working profiles"
  :)

[2016-04-29 18:48] candardo commented on #3154
I was not reporting a bug here. I was looking for a relevant upstream bug to point the Debian maintainer to. It was not obvious at all that the problem stems from a particular camera firmware version.

I only asked why is this issue still open since  it looks like it's fixed both on Windows and Linux with the latest version.

[2016-04-29 19:44] Beep6581 commented on #3271
I suggest ctrl+shift+c and ctrl+shift+m, as these are standard copy and cut shortcuts and are free, according to [RawPedia](http://rawpedia.rawtherapee.com/Keyboard_Shortcuts).

I think I could take this issue, if others first agree on the shortcut keys.

[2016-04-29 19:46] Beep6581 commented on #3272
What dialogs exactly?

[2016-04-29 19:47] Beep6581 commented on #3270
Closing because nobody will do this, unless you submit a patch.

[2016-04-29 19:47] #3270 closed

[2016-04-29 20:02] Beep6581 commented on #3274
Compiles and runs fine in Linux/GCC-5.3.0.

I noticed that it makes clipped whites turn light-gray.

[2016-04-29 20:54] Beep6581 commented on #3154
Closing as fixed.

[2016-04-29 20:54] #3154 closed

[2016-04-29 21:18] Beep6581 commented on #3220
This one has lower DE and no glare. Could you update the tungsten shot too? It has glare.
[Sony.ILCE-6000 2016-04-29.dcp.txt](https://github.com/Beep6581/RawTherapee/files/243246/Sony.ILCE-6000.2016-04-29.dcp.txt)

[2016-04-30 05:45] Desmis commented on #3274
I think there was a bug in matrix calculation.
I push a change  with "good" matrix :)

[2016-04-30 06:32] Desmis commented on #3264
Sebastien
I add a little code, ad then with your "jpg" (Iguane 1000*650 )...
[http://jacques.desmis.perso.neuf.fr/RT/iguane.jpg](url)

[2016-04-30 06:34] Desmis commented on #3264
http://jacques.desmis.perso.neuf.fr/RT/iguane.jpg

[2016-04-30 13:33] Beep6581 commented on #3274
White-turns-gray problem fixed. I think we can merge?

For documentation:
* http://rawpedia.rawtherapee.com/Color_Management
What gamma and slope does it have?
* http://rawpedia.rawtherapee.com/Color_Management_addon/fr
If you update this, I can try google-translating it into English.

[2016-04-30 13:45] Desmis commented on #3274
I just merge rec2020 in master

[2016-04-30 14:32] Desmis commented on #3274
I have updated Rawpedia in frenh and in english :)

[2016-04-30 14:57] Beep6581 commented on #3274
I merged `master` into `gtk3`, and astyle'd both. Strangely, astyle made no differnece in `master`, but it did in `gtk3`.

Compiles and runs fine as far as I can tell.

[2016-04-30 15:16] Desmis commented on #3274
I also from time to time, I meet formatting problems when I import from previous commits.
I think we do not all use the same version of "astyle". I always use the "astylert" (.bat) that is in the "git"

[2016-04-30 15:24] sguyader commented on #3274
@Beep6581 since you just merged Master into Gtk3, I'll make new builds for
Windows 64 bits today. So please wait for these and don't upload
yesterday's builds.

[2016-04-30 16:20] sguyader commented on #3264
Jacques thanks for your work. I have to clarify something though: on my photorgaph it's not an iguane from Guadleoupe. The image was taken at the North Carolina zoo, in the USA. I don't remember if the animal is a lizard or an iguane, though... But this is off-topic, I'll try to send you the raw file if you still want it.

[2016-04-30 16:25] Desmis commented on #3264
It looks like an iguane but not an Antille' iguane, probably a green iguane...but it is not the problem.

Sure try to send Raw and pp3...because this  "iguane" as a special skin...multicolor :)

Thanks again

[2016-04-30 17:30] TooWaBoo commented on #3261
Looks like it's fixed in RT 4.2.942.

[2016-04-30 22:31] heckflosse opened #3275 "Speedup for thumbnail processing"
I created the new branch [rgbcurvesspeedup](https://github.com/Beep6581/RawTherapee/commits/rgbcurvesspeedup). The intention for this branch was to speedup creation of rgb curves (that's the reason for the name of the branch), but then I detected some possibilities to speedup a lot of parts of curve generation and some other parts too. These speedups are mainly noticeable in thumbnail processing,

[2016-05-01 06:59] Desmis commented on #3146
I just merge master in retinexgain :)

@heckflosse
Ingo, you planned late February to improve "Retinex gain" and merge with master in march !

what do I do ?
Jacques

[2016-05-01 09:49] Floessie commented on #3275
@heckflosse I've checked the new branch out and will have a look at it later. Do you prefer exactly `unsigned int` or any unsigned integral type? And if exactly `unsigned int` wouldn't `std::uint32_t` be even more exact?

Flössie

[2016-05-01 11:50] heckflosse commented on #3146
@Desmis Jacques, it got completely out of my focus, sorry :( I'll try to do that next week.
Ingo

[2016-05-01 11:57] heckflosse commented on #3275
@Floessie I updated my post from above, because formating killed some relevant information. I'll go for the more exact data types.

[2016-05-01 12:34] Desmis commented on #3146
@heckflosse

Ingo, no problem :)

[2016-05-01 19:27] Floessie commented on #3275
[Here](https://gist.github.com/Floessie/b849ceb55b700d761bb2317b28038177) is my take on your problem. Don't know if it's the most compact one, but it's certainly readable. :)

[2016-05-01 19:35] heckflosse commented on #3275
@Floessie Great! I'll try that immediately. Thank you :+1:

[2016-05-01 19:42] Floessie commented on #3275
@heckflosse You're welcome! :) As a test, I changed one `std::uint32_t` to `std::uint8_t` and it failed as expected.

[2016-05-01 19:46] heckflosse commented on #3275
@Floessie Yeah, works fine here too. I'll push the changes soon.

[2016-05-01 20:39] sguyader commented on #3264
Hey Jacques,

Sorry for the delay, you can find the raw file and .pp3 here: http://filebin.net/6nkalvs9iv
By the way, I did not use the raw file for my tests, only a developed jpg. Let me see what you can do from the raw file ;)

Sebastien

[2016-05-01 20:43] Beep6581 commented on #3274
@Desmis I use version 2.05.1. Yes, we should always use `astyle --options=rawtherapee.astylerc`
I think the issue can be closed.

@sguyader great!

[2016-05-01 21:09] Beep6581 commented on #3261
Unfortunately it's not fixed. It's not related to any specific theme. Looks like the vertical space requested when a curve widget is expanded is misbehaving.

[2016-05-02 07:05] Desmis commented on #3264
Sebastien

With your DNG, I developed this assembly, which is arbitrary. It is different from the previous with the JPG (1000 * 600), for several reasons:
* wavelet reacts differently owing to the size
* I deliberately activate multiple wavelet settings to show their impact (see pp3)

The result is a matter of taste because in any case we are very far from reality in this type of arrangement

Jacq

[2016-05-02 10:12] Pinhuer commented on #3196
I ended up with learning about another dank anti-feature of Windows.
https://technet.microsoft.com/en-us/library/dd835564%28v=ws.10%29.aspx

Seems to be enabled by default. It will elevate most installers independent from user intentions.

Nobody requested any additional information and did not provide ways of obtaining such. I do not think that developers should close bugs because of that.

[2016-05-02 10:25] TooWaBoo commented on #3196
But this sometimes don't work. UAC-Bugs are not related to RT. If this happens, right click on the installer and select "Run as Administrator".

[2016-05-02 10:49] Beep6581 commented on #3196
This is a Windows UAC issue, not a RT one, as far as I understand it.

Since you can code, and since you have Windows and are experiencing this issue, if there is something the RT Windows installer could do to avoid this hassle then a patch is welcome

[2016-05-02 16:53] pi99y commented on #3154
This (see my posts above) is NOT fixed, crashes consistently also with RawTherapee4.2.814 as it did with the previous builds.

[2016-05-02 17:02] satnatantas commented on #3196
Unfortunately, nothing may help avoiding this hassle except a friendly reminder to switch this crap off placed next to download link - for those who are concerned.

[2016-05-02 17:09] Pinhuer commented on #3196
Unfortunately, nothing may help avoiding this hassle except a friendly reminder to switch this crap off placed next to download link - for those who are concerned.

[2016-05-03 06:01] Beep6581 commented on #3196
I may put up a short note if you provide a link to a MS page which describes exactly and clearly what to do and how to do it.

[2016-05-03 06:09] Beep6581 commented on #3154
@pi99y can you still reproduce the crash using the new Hald CLUT code from May 1? If you don't compile yourself, keep an eye on this link, I hope @sguyader can provide a new build:
https://discuss.pixls.us/t/new-windows-builds/615/198?u=morgan_hardwood

If you can still reproduce the crash in that version, please provide sample raw file(s) with sample pp3(s) with which to reproduce, along with a n

[2016-05-03 07:17] Beep6581 commented on #1791
Let's implement point 4 - Automatically disable Auto-fill when enabling LCP. The fact of Auto-fill being disabled should be reflected in history so that the user gets some feedback that this was done.

Starting point:
[code]
It sends a message to the history panel, but doesn't actually disable Auto-fill yet.

[2016-05-03 07:57] pi99y commented on #3154
OK, I'll wait for @sguyader 's new build or (if he won't be able to make one in a few days) I'll do it with the 32bit build.

Also are the newer debug builds now working OK? I remember (from IRC I think) something about (windows) backtraces not being ~descriptive enough - see the debate here #3231 Are the new builds now compiled with the correct "settings"? Since the debug builds are really slow f

[2016-05-03 08:03] Beep6581 commented on #3154
Debug builds are always descriptive. The `-DWITH_SAN=thread` option is something extra. @heckflosse @adamreichold do you think a build with the thread sanitizer would help?

[2016-05-03 10:08] Pinhuer commented on #3196
You may paste this.

[2016-05-03 10:50] TooWaBoo commented on #3196
@Pinhuer
Why should someone change the security settings only for installation?

I've set UAC to the highest setting in the UAC control panel and I get elevation prompts for everything which wants to change system settings or wants to install something (even RT).
The "Default" setting for UAC is bullshit. The automatic non user interaction works only for applications known by **Microsoft** (most c

[2016-05-03 10:55] Beep6581 commented on #3196
I re-read the whole issue. @Pinhuer the "problem" is that you were asked for the administrator password during RT installation, correct? And this behavior is normal in the "Home" version of Windows 7 and others, and disabling it in fact reduces user security (according to Microsoft thinking). Therefore there is no reason why this info should go up on the RT website. It's entirely unrelated to RT,

[2016-05-03 10:59] Pinhuer commented on #3196
Because this security setting only does harm for experienced users which would like to control the OS behaviour. It is disabled for Enterprise versions.

If `EnableInstallerDetection` is set to 1 Windows will try guessing if a program is an installer and won't let user run it without elevated priveleges if it thinks the program is an installer - IN NO WAY. Therefore, this setting is malicious by n

[2016-05-03 11:02] Pinhuer commented on #3196
If you do not believe MS devs could put this crapware into OS and enable it by default for everybody except business users just read the mentioned MSDN page.

[2016-05-03 11:10] Pinhuer commented on #3196
Every time you press "Yes" in the small dialog asking about whether to allow the program `make changes to your computer` you are running it with elevated priveleges. Congratulations: if the RT installer was infected, your PC already is.

[2016-05-03 11:11] Beep6581 commented on #3196
That sounds like a good argument. But, what exactly in the Windows world does it mean to enable any user to run an installer without requiring "elevated privileges"? If I write an installer which creates a mess in the registry, or infects binary files, or executes other code, and `EnableInstallerDetection=0` letting any user run it, in the Windows world will that installer be able to touch the reg

[2016-05-03 11:41] Pinhuer commented on #3196
First of all, "Elevated" in Windows (must die) world means "yeap I want this program to be granted every possible permission on my PC including permission to make backdoors in my BIOS". If program does not have elevated priveleges it may only damage one user of PC, no other user will be affected.

Installer (or any program at all) running with user priveleges is only allowed to access certain part

[2016-05-03 11:54] sguyader commented on #3154
Ok I'll make new builds (it's going to take some time, I make the Windows builds in a Windows virtual machine which shares the machine resources with the host system, on an aging laptop...)
Should I make only Gtk3 builds, or should I make builds from Master branch too?
I'll try the ``-DWITH_SAN=thread`` option fro the Debug build, but last time I tried it didn't work.

[2016-05-03 12:16] Beep6581 commented on #3154
Well, I will only upload gtk3 ones. As for the usefulness of sanitization of the debug build, @heckflosse and @adamreichold should decide.

[2016-05-03 12:24] heckflosse commented on #3154
@Beep6581 @sguyader IIRC sanitizers still don't work with windows builds

[2016-05-03 13:05] sguyader commented on #3154
Here's a link to Gtk3 Release and Debug builds:
http://filebin.net/jj9l7sgaij

[2016-05-03 13:10] TooWaBoo commented on #3196
Right now I'm confused and I don't understand your problem.
UAC does what it should. The installer touches system resources and has to ask for priviledges.
What is wrong with that?

[2016-05-03 14:41] Pinhuer commented on #3196
It should not touch the system resources because I ran RawTherapee on several machines without any installation at all.

[2016-05-03 15:06] TooWaBoo commented on #3196
The Program folder is a system resource and is write protected. The installer needs write permissons to the Program folder. That's why **Windows** asks you for elevated privileges for the installer.
If you won't be asked for elevated privileges, than RT can't be installed (no write permissons), or you have lowered the UAC level and Windows automatically gives write access to the installer without

[2016-05-03 16:09] pi99y commented on #3154
@sguyader Are these two new builds by any chance not compiled right? Now it crashes every time and the gdb log inludes your username:

[2016-05-03 16:59] Beep6581 commented on #3154
I uploaded those builds to the website. Would be good if someone else could confirm the problem so I take them down ASAP if they're faulty.

[2016-05-03 17:03] Floessie commented on #3154
@Beep6581 I wouldn't generally advocate sanitizers for the debug build: While debug builds are big and slow, instrumented builds are even bigger and slower. I've got no experience with TSan, but finding subtle races ("heisenbugs") sometimes is even impossible with debug builds, as they behave quite differently from release builds when it comes to timing issues. IMHO having backtraces is enough mos

[2016-05-03 17:16] heckflosse commented on #3154
@Beep6581 I tested the Release build from @sguyader. I opened some RAF files. Can't confirm the crashes.

[2016-05-03 17:18] pi99y commented on #3154
@heckflosse Can you try reproducing the crash a a RAF that has an existing pp3 and uses film simulation please

[2016-05-03 17:32] Beep6581 commented on #3154
Great, the builds stay up.

@pi99y

The backtrace you pasted lacks the important part, see step 5 onwards: http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

Please supply the minimum number of sample raw(s) + PP3(s) needed to reproduce this. We can figure out the required Hald CLUT folder structure from the PP3(s), as long as you used the Hald CLUTs from the "RawTherape

[2016-05-03 17:40] sguyader commented on #3154
I can reproduce it, I think, with the new build. It occasionally crashes with some files (it never crashes my files form my X-T1 though). I'll try to make backtraces.

[2016-05-03 17:41] pi99y commented on #3154
@Beep6581 The backtrace was done with all the steps but windows gdb has allways crashed for me after the "thread apply all bt full" which I guess was the reason for the "sanitation" version as noted in #3231 Please note that in #3231 @sguyader did provide one build with the added option (I'm guessing) which didn't crash the gdb.

I did use the  "RawTherapee Film Simulation Collection".

I'll post

[2016-05-03 17:41] satnatantas commented on #3196
"Program files" is not the only installation path. There are even installation options in some installers: install "for everyone" (to Program files) or "for one user" (to AppData).

I have seen installers which do not require elevation unless "for everyone" is selected.

_____________________________________

Alternatively, ZIPped RT folder may be provided along with installation file - the easies

[2016-05-03 17:43] sguyader commented on #3154
No my build wasn't sanitized, just as Ingo said thread sanitization fails on Windows (I saw it's supported only on Lunix 64 bits).

[2016-05-03 17:48] heckflosse commented on #3154
@sguyader Sebastien, I just found a buffer overrun. As you can reproduce the crash, can you try with [this patch](https://gist.github.com/heckflosse/dd443924942184bb66eaa318fe567716) please?

[2016-05-03 17:51] pi99y commented on #3154
Now I have uploaded the files (in my previous post above).
What else can I do?

[2016-05-03 17:55] sguyader commented on #3154
Ingo I'll try your patch. In the mean time, here's a backtrace of a crash, from an X-T1 file (source DPReviw), no previous pp3, starting from default processing profile, and just activating Film Simulation and loading a HALDClut:

http://pastebin.com/cdm1LYdJ

[2016-05-03 18:27] TooWaBoo commented on #3196
No app is installed in the folder AppData. "for everyone" means, that the **shortcut** for the application is stored in the start menu for every user, or only in the start menu for the current user.
[code]
Or registry entries will be stored under HKLM ("for everyone") or HKCU ("for current user").

**All** applications are installed in Program files / Program files (x86).

[2016-05-03 18:28] sguyader commented on #3154
@heckflosse Ingo I applied your patch, but I still get the same knid of crash. by the way, at the end of generating the full backtrace, gdb.exe itself crashes.
New backtrace: http://pastebin.com/jhmT7pMs

[2016-05-03 18:31] sguyader commented on #3154
I just tried with the amsterdam.pef boat raw file, and it crashes too as soon as I select a HaldCLUT (again, no previous pp3, staring from default processing profile, nothing changed, only the Film Simulation turned on and a Clut selected).

[2016-05-03 18:52] heckflosse commented on #3154
I just pushed the fix to master branch

[2016-05-03 19:15] Pinhuer commented on #3196
https://www.raymond.cc/blog/install-google-chrome-in-program-files-folder-instead-of-appdata/

And many others which I just do not know about.

https://www.google.ru/search?q=install+for+current+user+only

[2016-05-03 19:45] heckflosse commented on #3154
@sguyader DrSlony merged the fix to gtk3

[2016-05-03 19:54] sguyader commented on #3154
If the fix is just from your last patch, I'm afraid it's still not the cure for this problem...
I'm trying on another computer, and what I see is that it's not happening on all x-trans files. It crashes on an old X-T1 file (from DPReview), but not one my own X-T1 files (mine probably has more recent firmware) nor on an X-Pro2 file.

[2016-05-03 19:56] pi99y commented on #3154
@sguyader Can you maybe provide a new build so I can test aswell or test the files I posted above?

[2016-05-03 19:57] heckflosse commented on #3154
@sguyader Ok, but the fix was needed anyway.

[2016-05-03 20:02] heckflosse commented on #3154
@sguyader [this one](https://github.com/Beep6581/RawTherapee/commit/9622bbc2ba8a5c9f78cbe528f23575e0c60705f8)

[2016-05-03 20:04] TooWaBoo commented on #3196
Google Chrome is installing into a wrong directory. Your link points to an 4 year old articel. I don't know if the the current version of Chrome will still do this. I've never installed a program which is not located in the folder Program files. This is the normal way.

Your second link points to an articel where they only talk about shortcuts (on the Desktop).

UAC is designed to protect resource

[2016-05-03 20:13] sguyader commented on #3154
@heckflosse no I applied just [this overrunfix patch](https://gist.github.com/heckflosse/dd443924942184bb66eaa318fe567716), I didn't see the other one.
I'll make some new builds, but it will be in a couple hours.

[Here](http://filebin.net/m8uoy3d7yw)'s a set of 3 files which: the XPRO2-ImagingRes.RAF and the XT1-sguyader don't seem make RT crash, only XT1-DPReview.RAF makes it crash on 2 Windows

[2016-05-03 20:14] heckflosse commented on #3154
@sguyader The clutstore.cc fix should fix the bug

[2016-05-03 20:15] sguyader commented on #3154
Ok, sorry I have to go, I'll make new builds as soon as I can.

On Tue, May 3, 2016 at 4:15 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-05-03 21:47] Beep6581 commented on #3196
@TooWaBoo thank you for clarifying this.

[2016-05-03 23:32] sguyader commented on #3154
Here are the new Gtk3 builds for testing:
http://filebin.net/q6lfpl35js

[2016-05-04 00:07] heckflosse commented on #3154
@sguyader Sebastien, thanks a lot :+1:

[2016-05-04 06:00] pi99y commented on #3154
For me the latest 4.2.971 build crashes in the same way as before - as soon as I navigate to the directory containing two pictures I posted above / previously (repeated link: http://filebin.net/egkvka7twv/RTtest.zip ).

Here's the backtrace (with all the steps but gdb crashes as per usual): http://filebin.net/dfpdykc6d9/RTlog20160504.txt

[2016-05-04 06:06] Floessie commented on #3154
@heckflosse Damn, I'm really sorry for this stupid bug (missing a :facepalm: symbol here). And I'm also sorry for not having the time to investigate last evening, as I should have found it. Gosh!

[2016-05-04 11:51] heckflosse commented on #3154
@pi99y After setting max. number of cached cluts to 1 in preferences I can sometimes reproduce the crash with your example files.
@Floessie May that crash be caused by deleting currently used clut from cache when there's not enough room in cache. In file browser there are a lot of working threads.

[2016-05-04 12:06] pi99y commented on #3154
@heckflosse backtrace after cached cluts set to 1: http://filebin.net/dfpdykc6d9/RTcrash20160504b.txt

[2016-05-04 13:25] Floessie commented on #3154
@heckflosse Hmm, `std::shared_ptr<>` is defined to be thread safe, so even if it's discarded, it should still be valid until the last instance is gone. Btw., doesn't pi99y's backtraces show, that the `-NaN` is in `r`, `g`, and `b` in `improcfun.cc:3557`, long before HaldCLUT is applied on that tile? I was not yet able to reproduce the crash, but will try with cache limited to 1.

[2016-05-04 13:43] heckflosse commented on #3154
@Floessie Yes, it's long before CLUT is applied. In IRC with pi99y we tried with cache size > 2 and just 2 files in a folder. That also crashed, so we can rule out the cache handling as a possible reason.
It's very hard to reproduce the crash at my system. With the files from pi99y I could reproduce it at least 10 times in debug and release build (but only with cache size = 1). Now I can't reprodu

[2016-05-04 13:53] Floessie commented on #3154
@heckflosse I've tried to reproduce it with pi99y's files on Debian Stretch AMD64 and PPC32 but can neither. TSan on AMD64 spits out a lot of races, mostly in thumbnail processing. I could not determine the source of that yet, but it might be a hint. ASan is okay. Funny enough, the backtraces root in `Thumbnail::upgradeThumbImage()`. Coincidence?

[2016-05-04 14:05] Floessie commented on #3154
@heckflosse An anomaly I see here is when entering a directory with only the two RAFs from pi99y, whose thumbnails where not yet cached, and (quickly) selecting the second image, I have both thumbnails on top of the editor view, but the first one (with the window) has only half its width! Switching to filebrowser and back repairs that.

HTH,
Flössie

[2016-05-04 14:08] sguyader commented on #3154
@heckflosse @Floessie have either of you tried one of the raw files I upload [here](http://filebin.net/m8uoy3d7yw)?
With these 3 files, I consistently get a crashes only with XT1-DPReview.RAF, and no crash with the other 2 files. Consistent also among 2 computers running Windows 7 64 bits (one native, one in Virtualbox).

@Floessie I also noticed in a couple occurences that the tumbnail didn't ref

[2016-05-04 14:11] Pinhuer commented on #3196
TooWaBoo, imagine three cases:
1) unsigned installer is elevated to install to Program Files
2) unsigned installer installs program to user's folder
3) signed installer installs program to user's folder

1) if installer was infected whole OS is at risk. Elevated program may do literally everything
2) if installer was infected only single user is infected and none of programs installed in system fo

[2016-05-04 14:21] Floessie commented on #3154
@sguyader Now I have: No problem or crash with your files on Linux, even with HaldCLUT applied and cache size 1 (although I think that was a red herring due to my daft bug, kindly found and fixed by Ingo). Sorry for the trouble last evening.

[2016-05-04 14:31] heckflosse commented on #3154
@Floessie [this condition](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/improcfun.cc#L4361) looks wrong to me and could lead to overruns. Or do I miss some thing?

[2016-05-04 14:33] heckflosse commented on #3154
Shouldn't that be
`if (!(std::min(TS, tW - jstart) & 3))`
instead?

[2016-05-04 14:43] heckflosse commented on #3154
@Floessie May I suggest to use [this pattern](https://gist.github.com/heckflosse/eefdf4fcb94bd021e840e90cee4359fc) for sse border cases?

[2016-05-04 14:56] heckflosse commented on #3154
@sguyader What's your thumb size in preferences?

[2016-05-04 15:09] sguyader commented on #3154
@heckflosse 250 pixels

[2016-05-04 15:46] pi99y commented on #3154
My thumbnail size is set to 250px too.

[2016-05-04 17:50] Floessie commented on #3154
@heckflosse You are of course right! It's masked the wrong way. I'll fix it with your suggested pattern.

[2016-05-04 18:11] heckflosse commented on #3154
@sguyader Does it also crash with thumb size 112 or 224?
@Floessie Great! Thank you :+1:

[2016-05-04 18:13] TooWaBoo commented on #3196
...and there is also a autorun key in "**HKEY_CURRENT_USER**\SOFTWARE\Microsoft\Windows\CurrentVersion\Run which can be set **without** elevated privileges and do whatever it wants.

-----------------------------------------------------------------------------
**Every** application I've installed on my computer has ask for permissions and was installed as default in the Program folder. This is how

[2016-05-04 18:19] Pinhuer commented on #3196
Yes, I intended to refer to HKCU, not HKLM. Edited.

I have installed programs to random folders located wherever I want without any elevation at all.

They won't be listed in "Programs in features" though.

So you won't make ZIPs of RT files?

[2016-05-04 18:29] Floessie commented on #3154
@heckflosse [Here](https://github.com/Beep6581/RawTherapee/pull/3276) it is.

[2016-05-04 18:32] TooWaBoo commented on #3196
This is not up to me, I'm only a user. :-)
... but now we come together. What you want is an option for the installer to overwrite the default installation directory and I think this is possible. Most installers have this posibilitie.

[2016-05-04 18:32] heckflosse commented on #3154
@Floessie Already merged into master. Thank you :)
@Beep6581 Can you merge it into gtk3 branch please?

[2016-05-04 18:34] Floessie commented on #3154
@heckflosse So I could have skipped the PR. Great!

[2016-05-04 18:57] Pinhuer commented on #3196
Not exactly.

I am able to set any directory with currently available installers. Thing which bothers me is that installer is already privilege-elevated at the point of selecting directory (probably because it wants to put RT to programs list).

There are many programs distributed inside both ZIP and installer.

[2016-05-04 19:10] heckflosse commented on #3154
@Floessie No, the PR was good as it allowed me to merge it with a button click :)

[2016-05-04 20:59] CharlesRT2 opened #3277 "RT v. 4.2.967 for Windows 64-bit crashes upon launch"
The debug window closes, so I screen-captured only part of it:
    terminate called after throwing an instance of 'std::out_of_range'
        what():  basic_string: __pos (which is 18446744073709551615)

Here are the Problem Details:
  Problem Event Name:   APPCRASH
  Application Name: rawtherapee.exe
  Application Version:  0.0.0.0
  Application Timestamp:    5728a02c
  Fault Module Name:    libs

[2016-05-05 12:53] pi99y commented on #3154
When there's a build I'll be happy to test it and report my findings.

[2016-05-05 14:06] sguyader commented on #3154
Is the bug only in the Gtk3 builds? If not I can make Master builds while waiting for the branch to be merged into Htk3 branch.

[2016-05-05 14:24] heckflosse commented on #3154
@sguyader No, the bug is in master and gtk3, but currently fixed only in master

[2016-05-05 18:48] Beep6581 commented on #3277
Hello @CharlesRT2
Unfortunately that information is not useful. Please follow this and open a new issue with the required files and info.
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-05-05 18:48] #3277 closed

[2016-05-05 18:51] Beep6581 commented on #3154
And now merged into gtk3.

[2016-05-05 21:20] sguyader commented on #3154
New builds are here: http://filebin.net/gic1s01q9n

[2016-05-05 21:34] pi99y commented on #3154
Tested: gtk3 4.2.974
Changeset: ab0783e6fe784c9854fdac1205dfbdb9cfe8bee2

For me nothing has changed - exactly the same crash upon entering the directory with the two pictures and pp3 files. I cleared the cache before testing.

new backtrace: http://filebin.net/zhn7qvkblw/rtcrash20160505.txt

[2016-05-05 21:40] pi99y commented on #3154
Would it help if I live boot into ~ubuntu 16.04 and run the linux debug build you prepare for me? Would that backtrace be better? (I can do it tommorow morning / in cca 8 hours)

[2016-05-05 21:42] sguyader commented on #3154
My buolds are for windows only

[2016-05-05 21:50] heckflosse commented on #3154
@sguyader Sébastien, can you also still reproduce the crash?

[2016-05-05 22:56] sguyader commented on #3154
@heckflosse yes I got a crash again. This time it was again with ``amsterdam.PEF`` file.
Here's the output from console running th edebug build:
`Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 3812.0xadc]
0x0000000000b6bdc6 in LUT<float>::operator[] (this=0xd1a1c70,
    index=-nan(0x400000))
    at C:/msys64/home/sguyader/rtrepo-gtk2/rtengine/LUT.h:453
453             T

[2016-05-05 23:05] heckflosse commented on #3154
@sguyader Ok, does it still crash only when using CLUT?

[2016-05-05 23:07] sguyader commented on #3154
I think so. I didn't test a lot of things though because it's quite slow in the virtual machine. I'll try some filters.

[2016-05-05 23:18] heckflosse commented on #3154
@sguyader Thanks for your effort. With the last fix we at least ruled out another possible reason for the crash.
@Floessie Do you have an idea how to proceed with this case?

[2016-05-05 23:49] sguyader commented on #3154
@heckflosse I used another gdb.exe (so-called snapshot from www.equation.com) and this one the debugger apparently didn't crash, so maybe the following backtrace is actually complete: http://pastebin.com/BHniM7nk

After ``amsterdam.PEF`` was opened, FilmSimulation was turned on, and the crash occurred upon selecting a HaldCLUT.

If I open this file and don't use Film Simulation, I can use many fol

[2016-05-06 02:39] CharlesRT2 commented on #3277
Thank you. Fortunately, before I plunged into pulling together a bug report, I noticed the adjacent RawPedia section about crashes on startup, and one of its suggestions revealed the problem. The folder to start in had a .pp3 file for Classic Chrome film simulation on the Fuji XT1 that S. Guyader had made available. When I removed file from the folder, the newly installed build of RT launched with

[2016-05-06 05:53] pi99y commented on #3154
Here's my backtrace with the new gdb that doesn't crash that @sguyader provided:
http://filebin.net/l1dw8o375e/RTcrash_pi99y_20160506.txt

(gtk3, 4.2.974, ab0783e6fe784c9854fdac1205dfbdb9cfe8bee2)

[2016-05-06 09:30] Beep6581 commented on #3277
It is very important that you reproduce this crash and supply the raw+PP3+Hald CLUT to us.

[2016-05-06 12:03] ClaesGitHub opened #3278 "RT 4.2.974 Win 7 invoke HaldCLUT crash - backtrace"
I hope I managed to follow all instructions, this is the first gdb/RT I've ever made.
Win 7, 64-bit, 12 gig RAM.
Backtrace:
[logRT.txt](https://github.com/Beep6581/RawTherapee/files/252127/logRT.txt)
When Backtrace stopped (see last line in log file), gdb crashed!

[2016-05-06 12:14] pi99y commented on #3278
Also see #3154

[2016-05-06 12:16] heckflosse commented on #3154
I can reproduce the crash now with 'generic' build, but not with 'native' build. Maybe that's also the reason it doesn't crash at @Floessie . Making 'generic' Debug build now...

[2016-05-06 13:20] sguyader commented on #3154
Guys, if gdb crashes before the end of making the backtrace, please try the following gdb.exe, it's outdated but seems to not crash:
ftp://ftp.equation.com/gdb/snapshot/64/gdb.exe

If you get complete backtrace with this older gdb.exe, maybe I'll include this one in the upcoming debug builds.

[2016-05-06 14:01] heckflosse commented on #3154
No more backtraces please. After being able to reproduce the crash, it's almost fixed. I'll push later

[2016-05-06 15:16] #3278 closed

[2016-05-06 15:22] heckflosse commented on #3154
@Floessie I made a brute force solution for [this case](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/clutstore.cc#L86). Maybe you find a better one which also does not crash generic builds.

[2016-05-06 16:10] CharlesRT2 commented on #3277
There is no raw to supply: RT crashed before presenting its opening screen. Also, the same thing happened when I had a different single raw file in the folder.

The HALDCLUT is the 358 MB collection that S. Guyader offered. It is dated 7/16/2014. The .pp3 is also one he supplied, which I attach here, as a .txt file of course (I gave it a filename and do not have the original filename).

[FujiXT1_C

[2016-05-06 16:14] sguyader commented on #3277
@CharlesRT2 I didn't offer any HaldCLUT collection, I juste pointed to the collection downloadable on Rawpedia.

[2016-05-06 16:41] Beep6581 commented on #3277
This is hopefully a duplicate of issue #3154, which is now fixed.

[2016-05-06 16:54] Beep6581 commented on #3154
@sguyader I merged master into gtk3. Tomorrow I'm leaving for two weeks, so this is the last opportunity to get a fixed build out there. If you could make new builds today or tomorrow early morning I could still upload them.

[2016-05-06 16:54] Beep6581 commented on #3154
(Merge in progress, I'm running a test compilation, will push within 10 minutes)

[2016-05-06 17:13] sguyader commented on #3154
@Beep6581 I'm already compiling, I should be able to have the new builds uploaded in a couple hours.

[2016-05-06 19:48] sguyader commented on #3154
Here are the brand new builds: http://filebin.net/ca874j9t7m

[2016-05-06 19:51] pi99y commented on #3154
@sguyader Can't download - says "tag you are trying to access has expired"

[2016-05-06 20:05] heckflosse commented on #3275
I pushed a lot of small improvements to [rgbcurvesspeedup branch](https://github.com/Beep6581/RawTherapee/commits/rgbcurvesspeedup). Though these are very small improvements, processing time for a thumb with default profile is reduced from ~40 ms to ~10 ms at my system.

[2016-05-06 20:32] heckflosse commented on #3154
@Floessie After the dust has settled we can change the access to r(gb)temp again to aligned access. I made them unaligned during the process to solve this issue, but as the r(gb)temp buffers in rgbproc are already correctly aligned that isn't really necessary

[2016-05-06 20:45] Beep6581 commented on #3154
Same for me - can't download.

[2016-05-06 22:31] sguyader commented on #3154
Sorry, here's a new link: http://filebin.net/047o539v44

It seems that if I try to access to the link before the upload is finished, it becomes unavailable.

[2016-05-06 22:54] heckflosse commented on #3154
@sguyader Sébastien, thank you very much for the new builds :+1:

[2016-05-07 00:33] CharlesRT2 commented on #3154
Looks good: I installed the RawTherapee_WinVista_Gtk3_Release_64_4.2.976 build, opened RT on a folder containing a RAF file and a film simulation .pp3, and with the HaldCLUT folder in the RT program folder. Opened the RAF and did a few edits -- no problems.

[2016-05-07 07:41] Floessie commented on #3154
@heckflosse I'll be back from my trip on monday. Here I have only limited Wifi and can hardly follow the discusssion. I'll have a look at it on monday, and see how I can reproduce it with a generic debug build and then start off with your work and try to figure out what speedup we've lost. Was the `ALIGNED16` relevant for the Windows build, or isn't that a NOP on Windows? If we can load and store

[2016-05-07 08:41] AlexMatiash opened #3279 "Pink cast in HDRMerge'd files from Sony a7rII"
Hello. I merged exposure bracketed raws to FP dng by HDRMerge, but RawTherapee seems to fail to detect black levels of such file, because there is strong pink cast in the image. FP dngs obtained from 5d3 in the same way are rendered correctly, but not from a7r2. I don't know is it important or not, but just to mention - I shoot only in uncompressed raw, and dng is made from these raws.
I can provi

[2016-05-07 09:38] Beep6581 commented on #3279
Hey
Have you tried turning raw auto-chromatic aberration correction off?

[2016-05-07 09:40] Desmis commented on #3264
Hello all
I pushed a new change to "newwavelet".
This change is a "merge HDR ++" , a complex algorithm similar to "style", for merging 2 files. "First" image overexposed, and current "underexposed".

I updated Rawpedia in french :)

[2016-05-07 09:41] AlexMatiash commented on #3279
It is off.

[2016-05-07 10:09] heckflosse commented on #3279
It's because RT gives precedence to the white levels in DNG files but HDRMErge does not store correct while levels for some cams because it doesn't use something like camconst. I had the same problem with my D700 files and made a [fork](https://github.com/heckflosse/hdrmerge) which allows setting of white levels. You may need an older version of libraw to build my fork though. I'll take a look to

[2016-05-07 14:00] pi99y commented on #3154
Congratulations guys! I wasn't able to reproduce the recent bug again with the new builds - gtk3 or master. Also I tested the files from the original problem (first post) and it didn't crash, so that problem was tightly related if not the same.
Thanks!

[2016-05-07 14:57] CharlesRT2 commented on #3154
It might bear on this point that when I reported a related issue in [(https://github.com/Beep6581/RawTherapee/issues/3277)] , the HaldCLUT folder in my RT program folder was from summer 2014.

[2016-05-07 15:03] pi99y commented on #3154
I had the latest HaldCLUT when I first reported this.

[2016-05-07 15:20] heckflosse commented on #3154
@Floessie I'm quite sure the +1 buffer overrun was the reason for the crashes with old code. With new code we had a +3 overrun with SSE2 code and a +7 overrun with SSE4.1 code. But the main reason for the crash was that the compiler generated aligned loads in the getClutValue(..) function but 16-byte aligned access is impossible when loading 16bit quadrupels. For whatever reason for native builds

[2016-05-07 17:24] Desmis commented on #3279
Try branch "newwavelet" :)

[2016-05-07 17:43] AlexMatiash commented on #3279
@Desmis unfortunately I was not able to build working RT. I use Windows, and exactly followed instruction on the site, but built exe crashes on start.

[2016-05-08 08:59] iliasg commented on #3279
I think the available HDRmerge is not compatible with Sony A7RII (latest
release 25 Jan 2015 - both sensor Black Level and color profiles missing )
.. isn't it ?. Even more incompatible is with non compressed ARWs ..
Try first feeding HDRmerge with ARWs converted to DNG .. I think this will
solve compatibility

A workaround with already converted to HDR files is to set all Black Levels
(RT tab RAW

[2016-05-08 13:49] heckflosse commented on #3154
@Floessie The ALIGNED16 define is a NOP for Win32 builds and the LVF(STVF) are mapped to their unaligned variants for Win32 builds too. For Win64 builds and non Windows builds they take effect and reintroducing them into clut code should not harm.

[2016-05-08 18:42] AlexMatiash commented on #3279
@iliasg I uploaded sample dng to http://filebin.net/0vgaxpmb94/DSC05725-05727.dng

Yes, it works! Thank you very much.

P.S. Interesting enough is that dng merged directly from arws weights 76 MB, and dng merged from arws converted to dngs weights 67 MB (arw->dng was performed in lossless mode, of course).

[2016-05-08 21:43] heckflosse commented on #3146
@Jacques, I just made a break at my rgbcurvesspeedup branch and will take a look at optimizations to your branch now :)

[2016-05-09 05:45] Desmis commented on #3146
@heckflosse
Ingo, thank you very much :)
Jacques

[2016-05-09 07:06] Floessie commented on #3154
@heckflosse Hm, I still cannot make it crash with `-DPROC_TARGET_NUMBER=1` and `-DCMAKE_BUILD_TYPE=debug`. Anything else I can try? My GCC is 5.3.1 on Debian Stretch AMD64.

This is what I get with 9622bbc:
[code]

[2016-05-09 11:52] heckflosse commented on #3154
@Floessie Here's what I get with gcc 5.3.0 `-DCMAKE_BUILD_TYPE=debug` , `-DPROC_TARGET_NUMBER=1` and 9622bbc on Win64.

[code]

[2016-05-09 12:23] heckflosse commented on #3154
@Floessie We always need 2 consecutive quad words. The first of them is always 16 byte aligned. Why don't we change the getClutValue function this way? Code is incomplete and not tested, just to show you the idea in the SSE4_1 part. I don't know whether this is doable also for the non SSE4_1 part, because I don't know much about mmx:

[code]

[2016-05-09 12:25] heckflosse commented on #3154
I deleted my last post, because I was wrong about the 'always 16 Byte aligned'

[2016-05-09 12:51] heckflosse commented on #3154
@Floessie Here's my objdump from 9622bbc without SSE4.1
[code]
This still crashes here

[2016-05-09 13:07] Floessie commented on #3154
@heckflosse That looks basically the same as mine. Nice. Or not, considering those
[code]
redundant loads and stores (or am I missing something?). I forgot to mention, that I was running my test on Qemu, I'll retest it on real hardware this evening. The SSE 4.1 version definitly shines with compactness. :)

[2016-05-09 13:28] heckflosse commented on #3154
@Floessie I guess the redundant loads ans stores are caused by debug build

[2016-05-09 15:28] NextTherapist commented on #3084
Still happens with RT 4.2.797 and this image file:
[https://cloud.githubusercontent.com/assets/16581692/12242075/2a5c0dee-b897-11e5-8e23-83ea812cdd46.jpg](url)

[2016-05-09 15:31] heckflosse commented on #3084
@NextTherapist I get a 404 for your link

[2016-05-09 15:35] NextTherapist commented on #3084
@heckflosse
Why does gitup set a (url) behind the link? Sorry, should work now:
[https://cloud.githubusercontent.com/assets/16581692/12242075/2a5c0dee-b897-11e5-8e23-83ea812cdd46.jpg]

[2016-05-09 15:37] NextTherapist commented on #3084
Thank you! :-)

[2016-05-09 15:37] heckflosse commented on #3084
Can not reproduce in current master build. Didn't try with 4.2.797

[2016-05-09 15:40] NextTherapist commented on #3084
Did you apply the pp3 file from the first post? It happens after some restarts, when scrolling along the thumbnails in the filemanager tab. Difficult to reproduce, but it _always _happens at some unpredictable point of time with this image and pp3 and _never _without...

[2016-05-09 15:50] heckflosse commented on #3084
Ok, I'll try again

[2016-05-09 15:53] heckflosse commented on #3084
@NextTherapist Crash confirmed. Looking...

[2016-05-09 16:14] heckflosse commented on #3084
@NextTherapist The crash is caused by CIECAM02 being enabled. If you set Enabled=false in [Color appearance] section of the pp3 file it opens fine but as soon as ciecam02 is enabled in preview it crashes. Still searching for the culprit....

[2016-05-09 16:19] NextTherapist commented on #3084
@heckflosse I am really glad to read that. I thought I was somehow dumb :-D

[2016-05-09 18:01] #3084 closed

[2016-05-09 18:14] heckflosse commented on #3084
@NextTherapist Thanks for reporting this bug and being so persistent to get it fixed :+1:

[2016-05-09 18:57] Floessie commented on #3154
@heckflosse When you write

you mean "on Windows"? I've now tested it on real hardware and it still doesn't crash. I'm stumped.

[2016-05-09 19:31] heckflosse commented on #3154
@Floessie Yes, it crashes on Windows (the commit you mentioned, not the master branch). I'm stumped too...

[2016-05-09 19:35] heckflosse commented on #3154
@Floessie What do you think about changing vfloat getclutvalue(index) to vfloat2 getclutvalues(index)?
We always need two consecutive quad words. This way we could load them with one unaligned load and shuffle them into the vfloat2.

[2016-05-09 19:41] Floessie commented on #3154
@heckflosse Did `return _mm_cvtpu16_ps(*reinterpret_cast<const __m64*>(clut_image.data + index));` in `getClutValue()` really fail? It generates the following code in a generic build:
[code]
And a `movq` is what we need. It should not be sensitive to alignment.

About `vfloat2`: Sounds sane. BTW: Somehow your fix made the speedup even faster: Measuring 233ms where there were 274ms before. I'll loo

[2016-05-09 19:51] Floessie commented on #3154
@heckflosse Which intrinsic will convert the `__m128i` as `unsigned short` to `__m128` in SSE2?

[2016-05-09 20:00] heckflosse commented on #3154
@Floessie Yes, it failed. Though I don't know why :( I'll try again...

[2016-05-09 20:01] heckflosse commented on #3154
@Floessi

Yes, that's a problem for the non SSE4.1 code. Don't know :(

[2016-05-09 20:05] Floessie commented on #3154
@heckflosse Okay, I'll investigate tomorrow. :)

[2016-05-09 20:43] sguyader commented on #3229
I just saw [this post](http://www.dpreview.com/forums/post/57712164) on the FujiX DPReview forum, the guys developing libraw seem to have found a way to decode compressed raws from Fuji cameras. I hope this can help bring support for these compressed files to Rawtherapee.

[2016-05-09 21:17] heckflosse commented on #3229
@sguyader Sébastien, that's great news! Can you keep me informed about the progress here please?
Ingo

[2016-05-09 22:01] heckflosse commented on #3154
@Floessie great :+1:

[2016-05-09 22:08] srjacob999 commented on #3229
Thank you.  Thank you.  Thank you.

I downloaded the Fast Raw Viewer and it displays my raw files perfectly.  When do you think it can be incorporated into Raw Therapee?

What is interesting is that Irfanview also can handle the compressed raw from this camera.  I’ll sometimes use that to produce jpegs.

What would be REALLY REALLY REALLY nice is to make Raw Therapee into a plug-in for Photoshop.

[2016-05-09 23:29] sguyader commented on #3229
@heckflosse it looks like the had something like 200 use cases and that in all cases their code handled the files perfectly. They have their code on github, but I don't know how code works, so it would be more efficient, I think, if one of the RT developers could contact the guys from libraw directly: contact@libraw.com

[2016-05-10 07:03] Floessie commented on #3154
@heckflosse I've got an idea for my evening session: If we can't got the high road (`__m128i`), we'll go the low road (`__m64`) with `_mm_movepi64_pi64`, `_mm_slli_si128`, and `_mm_cvtpu16_ps`. That should be viable.

I've already started a "dedusting" branch last evening, which I will push for you to test when I'm through with the `vfloat2` conversion. I guess, we will gain some additional speed

[2016-05-10 08:04] NextTherapist commented on #3084
@heckflosse Thank you _very _much!!

You must get that idea!

From which version on will I get this fix in master branch?

[2016-05-10 10:37] heckflosse commented on #3084
@NextTherapist The fix is already in master branch. I don't know the version of the next 'official' windows build because I don't make them.

[2016-05-10 12:14] sguyader commented on #3229
I sent an email to the address above, asking them to point me to relevant part of the libraw code. I'll keep you informed.

[2016-05-10 13:46] srjacob999 commented on #3229
Thanks.

From: Sébastien Guyader [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 8:15 AM
To: Beep6581/RawTherapee
Cc: srjacob999; Mention
Subject: Re: [Beep6581/RawTherapee] Fujifilm X-Pro2 compressed raw support (#3229)

I sent an email to the address above, asking them to point me to relevant part of the libraw code. I'll keep you informed.

—
You are receiving this because you wer

[2016-05-10 14:40] sguyader commented on #3229
I got this response from Alex Tutubalin:

Dear Sir,

X-Trans compressed decoder is under testing now (as a part of our RawDigger
and FastRawViewer software).

We hope to publish Libraw branch with X-Trans/compressed decoder in a few
days (5-7 or so). We'll notify you just after publishing

Alex Tutubalin, LibRaw LLC

[2016-05-10 17:43] heckflosse commented on #3146
@Desmis Jacques, can you have a look at [this line](https://github.com/Beep6581/RawTherapee/blob/retinexgain/rtengine/ipretinex.cc#L225) please? Currently the (int) affects the value of 2.8 which then truncates it to 2.0. Is that intended?
Ingo

[2016-05-10 18:46] Floessie commented on #3154
@heckflosse Could you please check, if it still crashes for you?

[2016-05-10 18:57] heckflosse commented on #3154
@Floessie I just pulled your changes. Making generic build now...

[2016-05-10 19:05] heckflosse commented on #3154
@Floessie Generic Release build crashes, making Generic Debug build now...

[2016-05-10 19:16] heckflosse commented on #3154
@Floessie Sorry, tested wrong branch....

[2016-05-10 19:19] Floessie commented on #3154
@heckflosse  Phew, you like to raise the tension! :)

[2016-05-10 19:26] heckflosse commented on #3154
@Floessie dedusting... branch still crashes with generic debug build. Making further tests now...

[2016-05-10 19:28] Floessie commented on #3154
@heckflosse I not only changed `getClutValue()` but also the `STFU`s etc. in `improcfun.cc`...

[2016-05-10 19:31] heckflosse commented on #3154
@Floessie with added -msse4 flag dedusting... generic build works fine!

[2016-05-10 19:33] Floessie commented on #3275
@heckflosse [Here](https://gist.github.com/Floessie/9ae10f897011bfb2558daddc9acef534) is a little patch with some minor C++11 improvements.

[2016-05-10 19:38] Floessie commented on #3154
@heckflosse So it's not the alignment but either `_mm_movepi64_pi64` (new, thus unlikely) or `_mm_cvtpu16_ps` (used before, so likely). `_mm_cvtpu16_ps` translates to multiple instructions, so your compiler might be wrong here...

[2016-05-10 21:05] heckflosse commented on #3154
@Floessie I made further tests. Crashes with Generic Release build without -msse4. Works fine with Generic Release build with -msse4.
I'll test the brute force _mm_set_ps() variant now on non -msse4 Generic build

[2016-05-10 21:35] heckflosse commented on #3275
@Floessie Thank you very much for the review and the patch! Highly appreciated :+1:

[2016-05-10 21:40] heckflosse commented on #3154
@Floessie Brute force _mm_set_ps() variant work fine for non -msse4 Generic build

[2016-05-10 22:23] heckflosse commented on #3275
@Floessie I added your patch to branch

[2016-05-10 23:50] heckflosse commented on #3154
@Floessie Here's the code of _mm_cvtpu16_ps from xmmintrin.h at my system if that's of any use:
[code]

[2016-05-11 06:05] Floessie commented on #3154
@heckflosse GCC 5.3.1 has exactly the same code. I've got a clang 3.5.0 version here (annotations by me), which is a bit different, and could be tried by pasting it as `mm_cvtpu16_ps` right in front of `getClutValues()`:
[code]
I have no idea, what's wrong with your compiler and `_mm_cvtpu16_ps`. Maybe we are on the wrong track, don't know. The last thing I would try is inline assembly, but only w

[2016-05-11 06:13] Floessie commented on #3275
@heckflosse *Review* is carrying things too far. I just had a quick look at your diffs and those `delete`s struck me. I only checked if my patch compiles, but nothing more. So take it with a grain of salt.