[2017-04-09 18:54] heckflosse commented on #3812
@Floessie Thanks for your review :+1: I didn't try to fix real bugs. I just worked through the log with the intention to fix as many cppcheck issues as possible. I will continue that task now.
`int var = (int)(...)` yes that's nonsense

[2017-04-09 19:19] agriggio commented on #3813
I've just pushed a candidate fix (directly on `dev`). Please test to confirm that it works, thanks!

[2017-04-09 19:38] heckflosse commented on #3813
@agriggio Because I'm currently working on cppcheck3 branch I applied your fix to my local cppcheck3 to test it.
No more crash :+1:

[2017-04-09 19:57] TooWaBoo commented on #3813
Great job. Issue can be closed. 👍

[2017-04-09 20:03] agriggio commented on #3813
fixed in 8f1e2cee42a7ace6d2ac8e6fa35d4089d45831c1

[2017-04-09 20:03] #3813 closed, assigned to nobody

[2017-04-09 21:18] #3804 closed, assigned to nobody

[2017-04-09 21:20] #3788 closed, assigned to nobody

[2017-04-09 22:08] heckflosse commented on #3812
I merged the current state of the branch into dev to get more tests and will continue now with further cleanups

[2017-04-09 22:09] Beep6581 commented on #3558
I updated Coverity using the latest `dev` including `cppcheck3`.

[2017-04-10 11:40] agriggio commented on #3785
Candidate fix in 14f544f
See also the last comment in #3789

[2017-04-10 12:44] madSec commented on #1489
This feature request is still open, so I don't open a new one.

Would like to see a feature for custom aspect ratio as well! My suggestion would be to add a keyboard shortcut like for moving the crop frame with holding shift-key. So you could type in a custom aspect ratio as pixel size and then change the crop frame size with the mouse while holding i.e. the ctrl-key. That would prevent building a

[2017-04-10 14:19] agriggio commented on #1489
:+1: I like that. Here's a patch that implements this (you need to hold the shift key and drag one of the crop edges -- but not the corners). @Beep6581 what do you think?

[code]

[2017-04-10 15:32] reagle commented on #3510
I'm not able to follow the discussion here, but it looks like a step has been made forward. What's next? I'm happy to test a binary.

[2017-04-10 16:33] madSec commented on #1489
Cool, that was quick! Thanks a lot for the quick patch! :+1:

I just tested the patch and it works great, just the way I had in mind. Towards a real feature I would however suggest two improvements to make it work in a similar way as the preselecting aspect ratios from drop-down list, which would make it more intuitive as well.

First pulling the frame while holding shift-key so far only works at

[2017-04-10 19:21] agriggio commented on #1489
@madsector yes, the patch was just a "proof of concept" to check that I understood correctly what you had in mind. I've just pushed a proper implementation (that takes care of the issues you point out above) in the `crop-custom-ratio` branch

[2017-04-11 08:35] madSec commented on #1489
@agriggio Ok, never mind :)

I just tested the `crop-custom-ratio` branch and it works perfectly. Thanks a lot again!

If you change anything in this branch again and need some help with testing I am happy to do so.

[2017-04-11 09:37] #3785 closed, assigned to nobody

[2017-04-11 13:26] Partha1b commented on #3510
@reagle We haven't actually implemented @ion12's suggestions yet.

@Beep6581 What do you think? Do you want me to git pull dev and implement to test?

[2017-04-11 14:11] Beep6581 commented on #3510
@Partha1b go ahead, but what is more urgent is getting a macOS build of the latest `dev` https://github.com/Beep6581/RawTherapee/issues/3678#issuecomment-292803888 so that users can verify that the recent major changes work and so that 5.1 can be released for macOS.

[2017-04-11 15:21] Partha1b commented on #3678
@Beep6581 ```make macosx_bundle``` fails for me. The error I get is:
[code]
for all the libs. I am not sure why the ditto command fails.

I am happy to create the app the way I've been doing so far. Are you OK with that?

[2017-04-11 19:26] Beep6581 commented on #3678
@Partha1b new builds are always welcome, but in this case that would defeat the purpose of getting this working and tested.

Could you add `set -x` as the first line of `tools/osx/macosx_bundle.sh` and run it again, then paste the full log either here or using http://paste2.org/ ? In fact you can open a new issue for that.

[2017-04-11 22:23] ion12 commented on #3678
@Beep6581 @Partha1b @heckflosse Just got back from travel this evening, and will need to catch up if there is still some testing/patching to be done. I can do so over the weekend if it's still helpful.

Quickly, regarding the issue with DESKTOPDIR, ICONSDIR and APPDATADIR : I think it is me failing to notice that these are not setup with a conditional for bundle/non-bundle builds and so the change

[2017-04-11 22:38] da-phil commented on #3777
Another crash, this time back on latest `dev` branch. Version:

[code]

Backtrace:
[code]

[2017-04-11 22:44] da-phil commented on #3679
I guess this bug has been fixed in https://github.com/Beep6581/RawTherapee/issues/3767
I've not encountered it in `idle_harder` branch and neither in `dev` branch after commit 92a46e9a3daa41a26a6c7a23a8d28d5f94f999e1 has been merged to `dev`.

[2017-04-11 22:44] #3679 closed, assigned to nobody

[2017-04-11 23:02] Partha1b commented on #3678
@ion12 I simply add them to my CMakeList.txt and put them in the Resource folder. For example:
[code]

[2017-04-11 23:09] Partha1b opened #3819 "macosx_bundle fails"
When I run make macosx_bundle, I get a build but ditto throws up errors. Here is the log.
[code]
Couple of comments:
1. I highly recommend not building for a minimum OSX 10.12.
2. I highly recommend not worrying about arch i386. I am not sure there are any out there.

[2017-04-12 00:44] heckflosse commented on #3819
:+1:  for not worrying about arch i386

[2017-04-12 02:03] Partha1b commented on #3819
@Beep6581
Matter of fact for point 2, getting rid of --arch "${arch}" from the ditto statements would fix this.
cc: @heckflosse

With respect to point 1, I suggest, we set the minimum OSX version to 10.9.

[2017-04-12 10:06] vilmantasr opened #3820 "RawTherapee opens hdr dng images creted by Lightroom as black images"
RawTherapee (5.0-r1-gtk3-419-g3ff25193, from https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8, OS Windows 10) displays black image after opening HDR dng (3 images) created with Ligtroom CC 2015 (newest version), camera: Pentax K-5II.

HDR DNG:
https://www.dropbox.com/s/7pk69hyrh4ulldo/IMGP2883-HDR.dng?dl=0

![2017-04-12 12_58_45-rawtherapee 5 0-r1-gtk3-419-g3ff25193 - c__users_v

[2017-04-12 11:08] heckflosse commented on #3820
@vilmantasr
Demosaiced float dng files are not supported currently.

[2017-04-12 11:44] Beep6581 commented on #3819
@Partha1b thank you for the log.

* The `ditto` commands in `tools/osx/macosx_bundle.sh` fail
* because `${arch}` is not set
* because this test fails:
https://github.com/Beep6581/RawTherapee/blob/dev/tools/osx/macosx_bundle.sh#L79
[code]
* because `${PROC_BIT_DEPTH}` in `tools/osx/macosx_bundle.sh` is not set
* because this test in `rtdata/CMakeLists.txt` fails:
https://github.com/Beep6581/RawThe

[2017-04-12 11:45] Beep6581 commented on #3819
Agreed.

Agreed, but fixing it is probably less work than ripping it out.

[2017-04-12 11:56] Beep6581 commented on #1489
Works well :+1:

[2017-04-12 11:58] #3820 closed, assigned to nobody

[2017-04-12 12:02] Beep6581 opened #3821 "Automatically detected monitor profile is not selected by default"
I set the monitor default color profile to Foo, then enable "Use operating system's main monitor color profile" and open an image, the monitor profile selected by default under the preview is still Foo. Even if I change it to "System default (from GDK)" and restart RT, it still defaults to Foo. Since the Preferences options is called "monitor default color profile", "System default (from GDK)" sho

[2017-04-12 12:59] Partha1b commented on #3819
@Beep6581 Re point 1, I would add the following in CMakeList.txt (near about Line 97?)
[code]

[2017-04-12 13:01] Beep6581 commented on #3819
@Partha1b I'll commit the change. Can you verify that it actually compiles and works on 10.9?

[2017-04-12 13:09] Partha1b commented on #3819
@Beep6581 It definitely compiles since it's part of clang and also what I use when I compile without the osx tools provided by RT.

However, I cannot verify but trust that the minimum version works since this is part of the definition of clang and also my McGimp app works on 10.9 as reported by users.

[2017-04-12 13:17] Beep6581 commented on #3819
@Partha1b can you pull the latest dev (I just pushed 239476cc which cleans up all CMake files) and then see if things work well with this patch?
[code]

[2017-04-12 13:29] Beep6581 commented on #3819
P.S. To test if this works correctly without actually having OS X 10.9, I suppose `MINIMUM_SYSTEM_VERSION` here should return 10.9:
https://github.com/Beep6581/RawTherapee/blob/dev/tools/osx/macosx_bundle.sh#L74

[2017-04-12 14:11] Partha1b commented on #3819
@Beep6581 Correct:
[code]
Now, I will re-pull and test again with your latest patch above.

[2017-04-12 14:20] agriggio commented on #3821
should work now

[2017-04-12 14:20] #3821 closed, assigned to agriggio

[2017-04-12 14:29] Partha1b commented on #3819
@Beep6581 OK, it all checks out. One last item that I don't understand.
The app is built correctly now rawtherapee-bin correctly points to ```@rpath```. However, the dylibs in Frameworks all point to the location where the files were copied from. For example:
[code]
This does not seem right to me. Can you tell me how this will work on another machine which obviously would not have this structure?

[2017-04-12 14:40] Beep6581 commented on #3819
Not the foggiest idea :)

[2017-04-12 14:41] #3819 closed, assigned to Beep6581

[2017-04-12 14:43] Beep6581 commented on #3819
@Partha1b I committed the minimum version patch - this issue is solved. If the dylib problems are real problems, please open a new issue.

Would be great now to get a new macOS build for testing (and finding out whether the dylib thing is a problem).

[2017-04-12 17:28] Beep6581 opened #3823 "CAAutoStrength key is always saved when saving partial PP3"
The `CAAutoStrength` key is always saved when saving a partial PP3, even when you deselect everything (enable "Everything", then disable "Everything").
[code]

Similar issue #3051

[2017-04-12 22:40] Partha1b commented on #3819
@Beep6581 Yes, it is a problem. Nothing to test since it will crash on startup. 🙂

I'll open a new issues. We close this one.

[2017-04-12 23:04] Partha1b opened #3824 "make macosx_bundle dylib location"
When make macosx_bundle is executed, the dylibs are not relocated relative to the app location. For example,
[code]
This would crash on startup for anyone but me. 🙂

Since we are doing the following:
[code]
suggested solution would be (replacing Lines 161-171):
[code]
or something similar?

[2017-04-13 07:59] Beep6581 commented on #3824
Ping @ion12

@Partha1b could you explain what the script does? It's a loop in a loop using mac commands I don't have or know, but I wonder if it can be simplified - if you explain the expected result maybe I can help.

[2017-04-13 10:33] Partha1b commented on #3824
@Beep6581 Sure!
The first loop identifies all the dynamic libs (dylibs), shared objects (so) and of course the actual binary.

For each of these files, we use otool to identify the dependencies in the second loop. For each of these dependencies, we relocate the lib from the original location to the location within the app using install_name_tool.

Note that this relocation only works if the number

[2017-04-13 10:46] Beep6581 commented on #3824
@Partha1b ok, concerning simplification of the script the only things I would consider changing without being able to see the output for myself are perhaps replacing `sort | uniq` with `sort -u` (why use two commands when you can use one), and perhaps `cut` and `sed` with Bash parameter expansion (why use external commands when Bash can do it), but it's also fine to leave it as-is and move on.

As

[2017-04-13 11:53] #3823 closed, assigned to heckflosse

[2017-04-13 12:36] Partha1b commented on #3824
@Beep6581 Makes sense to me.

[Edit] On second thought, if the tmp folder is created on the fly, you have to run otool on the fly. This would really slow down starting rt. Suggest we use what I do: Use /tmp/libRT. Highly unlikely that it would be taken.

The script snippet I provided was a suggestion based on what I use to make my app. 🙂

I'll test it out to see if it actually works and let you kn

[2017-04-13 13:56] Beep6581 commented on #3824
@Partha1b

Could you explain that? All my command does it ensure that the /tmp subfolder is unique and safe to use (which is not always the case, e.g. what if your script or RT crashes and leaves junk behind, and then you try to re-run it?), it takes no time at all. Where does the delay you speak of come from?

[2017-04-13 14:10] Partha1b commented on #3824
@Beep6581 Sure.

Let's say the app is soft linked to /tmp/temp.XXXX where XXXX is determined every time you run the app. However, the dynamic link libraries are not located in the same spot. This in turn means that you have to relocate the dylibs. This can only be done once you know what temp.XXX is. That means you have to run otool on the fly. This would delay the startup.

At least that's my und

[2017-04-13 15:43] heckflosse commented on #1489
I found a bug. To reproduce:

Open Image
Define a custom crop area with width 2000 and height 1000
Shift-drag the right border of the crop area to the left until the crop disappears but still hold shift-key
Now Shift-drag again to the right => crop has height of 1 pixel

[2017-04-13 15:46] heckflosse commented on #1489
Another bug. To reproduce:

Open Image
Define a custom crop area with width 2000 and height 1000
Shift-drag the right border of the crop to change the crop multiple times while still holding the shift key
Now drag until width is 2000 again => height is != 1000 then.

[2017-04-13 15:51] agriggio commented on #1489
@heckflosse Ingo, thanks for testing! I think these bugs would be a bit tedious to fix. Not conceptually, but practically. The reason is that the crop dimensions are kept as integers, so I needed to do roundings at each intermediate step. Of course, in this way the error accumulates... the proper solution would be to store the crop dimensions as floats and round only at the end. But this would mea

[2017-04-13 16:03] heckflosse commented on #1489
@agriggio Alberto, maybe an invisible crop ratio would help for this case ;-) The code for working with crop ratio is already available and works. I just tested the above case using a locked crop ratio of 2:1 and it works fine (means if I resize to width 2000, height will be 1000 again).
I had similar issues long ago in the stale lock crop pivot centre patch. Maybe now is a good time to look at th

[2017-04-13 16:16] Partha1b commented on #3824
@Beep6581 This snippet now works with macosx_bundle.sh
[code]
Finally you'll notice that I have change the location of dylibs to /tmp/libRT. So, in executable_loader.in, we are going to need another line:
[code]

[2017-04-13 16:18] Partha1b commented on #3824
@Beep6581 As an aside, as per the wiki, RT crashes on startup due to libiconv issues. When I make RT myself, I don't have this crash, while I do with ```make macosx_bundle```.

Thought you should know.

PS: I think it's unreasonable to ask users to patch libraries. 🙂

[2017-04-13 16:29] Partha1b commented on #3824
@Beep6581 Final issue, I think: 🙂
I get the following errors:
[code]
I do have gtk-update-icon-cache.

[2017-04-13 17:43] ion12 commented on #3824
@Partha1b while I follow what you are saying about install_name_tool/dylibs, I am not experiencing the issues you are reporting with my macports-based setup. Just pulled updated dev branch and it builds fine (other then an unrelated error from a `#pragma GCC diagnostic` introduced into 'dcraw.cc' which I will report separately) and runs fine on a second machine without all the libraries installed.

[2017-04-13 18:01] heckflosse commented on #3824
@ion12

I will try to fix that as soon as possible (after you provided more informations)

Ingo

[2017-04-13 18:02] ion12 opened #3825 "GCC diagnostic issue on macOS/Clang"
Trying to build dev branch pulled earlier today on Mac OS X 10.11 / Clang 3.9.1
Getting build-blocking error:

[code]
`-Werror=unknown-pragmas` is enforced by OPENMP_FOUND, the only way I could build was by uncommenting
`#pragma GCC diagnostic ignored "-Wunused-but-set-variable"`
altogether, or moving it temporarily into the
`#if (__GNUC__ == 6)`
block

ping @heckflosse

[2017-04-13 18:03] ion12 commented on #3824
@heckflosse just opened the issue :)

[2017-04-13 18:18] heckflosse commented on #3825
@ion12
which `__GNUC__` version does correspond to your clang version?

[2017-04-13 18:18] agriggio commented on #1489
@heckflosse you might be right. I didn't want to induce state to avoid the
need of updating it properly, but perhaps it's the right way to go. I'll
see what I can do

[2017-04-13 18:19] agriggio commented on #3825
you can try with -Qunused-arguments for clang

[2017-04-13 18:43] ion12 commented on #3825
as far as I can tell from clang 3.9.1 src:
[code]
not sure if this is the correct info you are after...

[2017-04-13 18:48] ion12 commented on #3825
also this might be useful?
https://stackoverflow.com/questions/6557042/how-to-disable-a-particular-unknown-pragma-warning-gcc-and-or-clang

(If you do end up doing this, note that Clang defines \_\_clang__, but both GCC and Clang define \_\_GNUC__.)

Sorry I can't be more help, this is way beyond my knowledge ;)

[2017-04-13 19:04] Partha1b commented on #3824
@ion12 When you say, you are not experiencing the dylib issue, what do you mean? Since you are building for yourself, of course you will not experience the issue as the library locations would be specific to your installation. 🙂

For example, please post the output of the following in your build folder:
[code]
As regards the patch, I don't have the issue with libiconv when I produce the app using

[2017-04-13 19:20] heckflosse commented on #3825
@ion12 can you try this patch please?

[code]

[2017-04-13 19:29] Beep6581 commented on #3824
@Partha1b I'm afraid I don't follow, not being a macOS user and not knowing your setup. Would be great if you could fork and open a PR with the required changes.

[2017-04-13 19:45] agriggio commented on #1489
it was actually less tedious than I thought :tada: :smile: Should work now, @heckflosse can you please confirm (no hurry)?

[2017-04-13 20:15] heckflosse commented on #1489
@agriggio Works great :+1:

[2017-04-13 20:51] ion12 commented on #3825
@heckflosse I will try the patch first thing tomorrow morning!

[2017-04-13 21:13] ion12 commented on #3824
@Partha1b I did test the build on a second machine, but it is possible I incorrectly assumed it did not have a macports installation + matching dependencies. I don't have the machine available at the moment to double check but you are correct of course re - dylibs.

The old build scripts have been working more or less flawlessly for years before we started shifting the bundle structure around, I f

[2017-04-13 21:30] Partha1b commented on #3824
@Beep6581 OK, will try. I have to figure out how to fork. 🙂

@ion12 Please don't misunderstand. I am not advocating any build system. I was merely pointing out that it's possible some user has a different build system etc.

I do my own builds using clang provided by Apple. I build all dylibs from scratch with gnome/gnu etc. provided sources.

Good night. 🙂

[2017-04-14 09:51] ion12 commented on #3825
@heckflosse patch confirmed working

[2017-04-14 10:57] ion12 commented on #3824
@Partha1b, thanks, I did not take your comments to be an advocation of one particular build system, and did not intend my comments to be taken as such either :)
I mentioned the old script working flawlessly before we started the restructure to explain why I think I was not diligent enough when confirming the build outside my own environment, as I was in a habit for years that what worked on my sys

[2017-04-14 11:04] heckflosse opened #3826 "New attempt to integrate lensfun"
I agreed with Alberto to make a new attempt to integrate lensfun

Todo:

- [ ] ensure that we can build rt with lensfun on all platforms. In first step without functionality.
- [ ] collect raw files for tests. Maybe [this](http://lensfun.sourceforge.net/lenslist/) is helpful.

to be continued. Alberto and others, feel free to edit the todo list

[2017-04-14 12:34] heckflosse commented on #3826
I uploaded some [raw files](https://filebin.net/yfjsvnnit3v5st7z) for tests.
@Beep6581 Can you please create a new `lensfun` folder in shared/test_images and copy the raws into that folder?

[2017-04-14 13:39] Partha1b commented on #3824
@ion12 & @Beep6581
I think we're way off topic now discussing macports/homebrews etc. I am a wine person myself, preferring bordeaux. 🙂

I am simply stating that I use Apple provided compiler, period. I think this make sense to me since it will be available for all Macs from the AppStore.

Imagine if you are asking users on a Linux system to compile and use a specific compiler different from the o

[2017-04-14 16:01] heckflosse commented on #3824
@Partha1b @ion12 @Beep6581

Absolutely. And we want them to do that fast. I did not follow your whole discussion from above. But we should ensure that the builds make best possible use of OpenMP code.

[2017-04-14 16:33] Partha1b commented on #3824
@heckflosse Thanks for comment. There is no openMP provided by Apple. 🙁

[2017-04-14 17:02] heckflosse commented on #3824
@Partha1b I know nothing about building rt on Apple. But I know that latest rt 4.x builds for Apple used OpenMP. And it would be good (maybe even a necessity) to use OpenMP also for rt 5.x builds.
Anything else would be a big step backwards (performance wise) for Apple users :(

[2017-04-14 17:37] agriggio commented on #3824
I agree with Ingo. if the official some complier doesn't support openmp, I
think we should consider alternatives. a "vanilla" recent clang should do

[2017-04-14 18:28] ion12 commented on #3824
@Partha1b
The casual user will NOT be compiling GTK and all the other dependencies of RT manually as you are doing. S/he will be looking for a simplified solution such as macports/brew that provide a package-manager-like experience, and for her/him using an up-to-date clang would be as simple as typing in
`sudo port install clang-3.9`
that's it. same as any other dependency.
And you do not need to

[2017-04-14 19:05] agriggio commented on #3826
@heckflosse Ingo, thanks for opening this. I think that besides the
technical part about compiling (necessary of course), we should think about
the user interface. from my understanding, lensfun provides support for
correcting all kinds of lens distortions that are currently available in
RT, but it does things differently from the methods available now in dev. I
think we should not try to "force"

[2017-04-14 19:53] heckflosse commented on #3826
@agriggio Alberto, thanks for contributing on this :+1:

I put the compiling part on top if the todo list because that was the part the last attempt of lensfun integration failed at the beginning.

I agree with you that we should not try to force lensfun to operate the RT way. It's just the opposite: lensfun will force us to go a different way.

Of course we should review the user interface. I jus

[2017-04-14 20:07] heckflosse commented on #3826
@agriggio Alberto, lensfun has three corrections: Distortion, CA and vignetting. Looking at the list of supported lenses, distortion correction is the most important. For that reason (and because raw ca auto-correction is already quite good) I think we should put distortion correction on top of the todo for the corrections. Do you agree?

Ingo

[2017-04-14 20:28] agriggio commented on #3826
agreed! from my brief look at lensfun, it seems to me that all corrections
have a similar API, so once distortion is done, the others might be easy.

regarding the current mode, I think a slightly enhanced auto-distortion
(which could work also non-interactively) would still be useful. also the
vignetting and CA corrections are quite easy to use, whereas I'm not sure
about the same for lensfun in

[2017-04-14 20:51] heckflosse commented on #3826
Absolutely! It's a good method to correct distortions in case no lens profile exists and the embedded jpg is corrected in camera and I would vote strictly against removing that method.
The problem to apply it in non-interactive mode is a performance-problem. If we want to apply it in batch-mode (from file browser) and want to see the distortion-corrected thumb immediately, it will slow down thumb

[2017-04-14 21:08] heckflosse commented on #3826
@Beep6581 @Desmis @Floessie @Hombre57 @iliasg and everyone else:

If you have raw files for which good lensfun profiles exists please provide the raw files

[2017-04-14 21:14] heckflosse commented on #3825
@ion12 Thanks for testing the patch :+1:

[2017-04-14 21:27] #3825 closed, assigned to nobody

[2017-04-14 21:29] Partha1b commented on #3824
@Beep6581 and others, I don't know where this thread is going. When I was asked to provide Mac builds, I didn't realize that there are already others who were doing these builds.

So, I don't think we need one more build, since we already have @ion12 and @agriggio volunteering and building mac builds and should be able to provide them.

Thanks,
Partha

[2017-04-14 22:17] heckflosse commented on #3824
@Partha1b

I admit that I hijacked this thread. I did that because I read it and think it's important to provide the MacOS users with fast rt builds. It was clearly not my intention to advice you (or others) how to build rt for MacOS, because I now nothing about building rt for MacOS. For me usability (and this includes speed) of RT is important. If two persons make builds for MacOS and one build

[2017-04-15 07:57] agriggio commented on #3826
@heckflosse the sse and openmp parts are all yours :-)
I also have RAWs that I can share, the Sony kit lens has huge distortion
and vignetting at the wide end, both corrected very well by lensfun

[2017-04-15 08:04] agriggio commented on #3824
I agree with Ingo. sorry if my comment turned out harsher than I meant. I
just wanted to point out that having openmp is very important IMHO if we
care about Mac users. I personally don't use Macs, I have one at work and
with some effort (and begging :-) I can probably get the RT dependencies
installed, but I'd rather not do that. we have recently seen people
downgrading because of the lack of ope

[2017-04-15 10:53] Desmis commented on #3826
I'm not sure about understanding everything (reminder, I'm an old grumpy frenchman who speaks bad English) :
1) is it planned to use the library "lensfun", if yes how (I think I understand,  this job is for Ingo )?
2) what is being done with the current "adobe lens"?
3) In fact, what are we looking for? Some software combine camera (Nikon D200, D300, D5 etc.) with the optical, others not?
What can

[2017-04-15 11:57] agriggio commented on #3826
hi Jacques, here are my comments:

1. yes, the job is for Ingo and myself. but if someone​ else wants to
contribute, let us know!

2. we are still discussing this. my proposal is to keep both as alternative
methods, with the Adobe marked as "legacy"

3. what we are looking for: lensfun has some cool features that are now
missing, like the support for change of projections. also, it has ways of
aut

[2017-04-15 19:07] Beep6581 commented on #3824
@ion12 The decision is up to you.

At one point the RawTherapee compilation instructions tried to satisfy a range of possible scenarios using a range of possible tools. The end result was that none of the instructions worked and the guide was effectively of no use. I deleted the guide, started a new one, decided to eliminate all paths and explain just one, straightforward and easy to follow way of

[2017-04-15 19:18] Beep6581 commented on #3826
Great to see this!

Unfortunately I had to delete some files a few months ago because we were running out of space on the server. Could you instead use FileBin (upload a file once every 2 months to keep them alive forever) or Google Drive?

If you need raw files, there is RPU: https://raw.pixls.us/

[2017-04-15 19:27] Beep6581 commented on #3826
Update: I made space on the server. If you would still like me to upload the file from filebin to the server, please confirm and I will do so.

[2017-04-15 19:40] Beep6581 commented on #3802
Branch [exiftool1049](https://github.com/Beep6581/RawTherapee/tree/exiftool1049) commit 87795587639201db91fcb7b593fa8bea1bf66e3d updates rtexif metadata using information from the latest version of ExifTool, 10.49.

The next commit 33a940cef4abf3b03cd85f789890b238b71aa70e astyles all rtexif files. @heckflosse @Floessie @agriggio could you take a look and let me know whether I should merge the bran

[2017-04-15 20:09] Beep6581 commented on #3811
There seems to be nothing we can do about this. Maybe a dcraw update will improve the situation, regardless of whether the file really is corrupt or not. You could submit the file to Dave Coffin http://www.cybercom.net/~dcoffin/dcraw/
If you want to process these files in RT, the workaround for now is to use Adobe DNG Converter.

[2017-04-15 20:09] #3811 closed, assigned to heckflosse

[2017-04-15 20:19] Beep6581 commented on #3448
Link expired, hopefully fixed by #3802, closing.

[2017-04-15 20:19] #3448 closed

[2017-04-15 20:26] heckflosse commented on #3826
Thanks to @Beep6581 my test files are available now at http://www.rawtherapee.com/shared/test_images/lensfun/

[2017-04-15 20:28] heckflosse commented on #3826
I just managed to access lensfun on Win7/64 builds but it's a still bit complicated... I'll report later

[2017-04-15 20:49] Beep6581 commented on #3403
@TheQuo @Hombre57  Is this still reproducible in dev?

[2017-04-15 20:50] Beep6581 commented on #3387
No update, closing.

[2017-04-15 20:55] Beep6581 commented on #3280
Still valid in dev.

[2017-04-15 20:57] Beep6581 commented on #3175
Merged into #3175

[2017-04-15 20:57] #3175 closed

[2017-04-15 21:07] #2947 closed

[2017-04-15 21:10] Beep6581 commented on #2431
Handled by #2761

[2017-04-15 21:10] #2431 closed

[2017-04-15 21:10] Beep6581 commented on #2403
IPTC is dead.

[2017-04-15 21:10] #2403 closed

[2017-04-15 21:12] Beep6581 commented on #2711
camconst.json now supports Foveon files, closing.

Adding specific raw formats to camconst.json should be handled in separate issues.

[2017-04-15 21:12] #2711 closed

[2017-04-15 21:14] heckflosse commented on #3403
@Beep6581 Didn't try it last time. But as I didn't solve it and @Hombre57 also didn't solve it I guess it is valid.

[2017-04-15 21:17] Beep6581 commented on #2081
Still valid, e.g. http://rawtherapee.com/shared/test_images/colortarget/SONY%20ILCE-6000%20tungsten.arw shows `1/1s` in the FileBrowser thumbnail while ExifTool shows `ExposureTime=0.7`

[2017-04-15 21:18] #2079 closed

[2017-04-15 21:19] Beep6581 commented on #1805
Stale.

[2017-04-15 21:21] Beep6581 commented on #2955
Handled by #3647

[2017-04-15 21:21] #2955 closed

[2017-04-16 12:51] Beep6581 commented on #3255
Merged into #3654

[2017-04-16 12:51] #3255 closed

[2017-04-16 12:53] Beep6581 commented on #3654
@geoderix any chance you could upload the raw files again into one filebin?

[2017-04-16 13:01] Beep6581 commented on #2838
@agriggio does your recent LCP patch solve this issue?

[2017-04-16 13:02] heckflosse commented on #2081
That's caused by [this condition](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imagedata.cc#L569)
[code]
wouldn't this be better?
[code]

[2017-04-16 13:08] Beep6581 commented on #3654
Reproduced using http://img.photographyblog.com/reviews/pentax_645z/sample_images/pentax_645z_26.dng
[code]
RT shows 20.00mm

[2017-04-16 13:13] Beep6581 commented on #3233
Crash not reproducible.

The button is not grayed out for non-raw files yet.

[2017-04-16 13:13] #3233 closed

[2017-04-16 13:15] heckflosse commented on #3654
@Beep6581 Link gives 403

[2017-04-16 13:21] Beep6581 commented on #2543
Handled by #3826

[2017-04-16 13:21] #2543 closed

[2017-04-16 13:22] Beep6581 commented on #3688
Handled by #3826

[2017-04-16 13:22] #3688 closed, assigned to nobody

[2017-04-16 13:25] geoderix commented on #3654
If someone seriously intends to fix this bug and you confirm it, I'll try to repeat the links. Otherwise, I'm sorry to waste time on useless work.

By the way, why would you recommend filebin.net if the bugs do not fix for years, and the files there are deleted after three months? Personal interest?

[2017-04-16 13:25] Beep6581 commented on #3654
Ah, then you will need to look for that image from this page:
http://www.photographyblog.com/reviews/pentax_645z_review/sample_images/
Mirror: https://filebin.net/gt5zfqlhr1gqgtff

[2017-04-16 13:44] seebk commented on #3826
Hi, I am a lensfun developer and happy to see that you plan to integrate lensfun support in RT. If you experience problems with compilation,  or any other issues appear, feel free to contact us.

[2017-04-16 14:04] heckflosse commented on #3826
@seebk Great! I just opened an [issue](https://github.com/lensfun/lensfun/issues/185)

[2017-04-16 15:44] TheQuo commented on #3403
@Beep6581 Just checked with 5.0-r1-gtk3, behaviour remains the same.

[2017-04-16 16:52] #2081 closed

[2017-04-16 17:54] agriggio commented on #2838
no, but I can take a look at this when time permits. I  consider the lensfun integration higher priority though

[2017-04-16 18:06] gaaned92 commented on #3826
The version downloaded from github/lensfun master branch is said to be 0.3.2.0 when I try to build (with same error as Ingo).
The version available on Msys2 is  0.3.2-2. what is the meaning of the appended -2? is it possible to know the corresponding commit?
I doubt that the msys2 version is more recent than the one obtained on github!
 Is this MSYS2 version  usable or shall we have to build from

[2017-04-16 18:50] heckflosse commented on #3826
@gaaned92 I would prefer to build from github/lensfun master branch. This way we can ensure that we use almost the same lensfun version on all platforms during our work.

[2017-04-16 19:10] heckflosse commented on #3654
@geoderix

I started work on this!

[2017-04-16 19:32] geoderix commented on #3654
Really? Confirm that this is not a joke and I will tense up.

[2017-04-16 19:34] heckflosse commented on #3654
Confirmed. I'm already trying to fix the case for the 645z file linked above.

[2017-04-16 19:37] geoderix commented on #3654
Ok!

[2017-04-16 19:44] heckflosse commented on #3654
And @Hombre57 is also working at it :)

[2017-04-16 20:16] Hombre57 commented on #3654
I have a K100D PEF file here and the focal length is correct. I'll test a K100D Super raw image now ( http://www.imaging-resource.com/PRODS/K100DS/K100DShSLI0400.PEF.HTM ).

The 645Z have unknown LensData informations, and @heckflosse have found a way to get the focal length from the Exif section, not from the MakeNotes.

[2017-04-16 21:09] geoderix commented on #3654
[Here](https://gofile.io/?c=qvfGLK) is the 7z archive with the files with incorrect determined focal lenght in Rawtherapee for Penta[ K100D Super, K200D, 645z and files with  miraculously changed focal length when converting from raw to jpeg. Attention! File size is 1,3 Gb. Expired date - 31/12/2017.

[2017-04-16 21:14] heckflosse commented on #3654
@geoderix Thanks! Already started download.

[2017-04-16 21:53] heckflosse commented on #3654
@geoderix We fixed the issues with K100D Super, K200D and 645Z files.

I tried to reproduce the issue with the jpeg files but could not reproduce it.
I converted the k70 and the ks2 file to jpeg using rt and the jpegs show the same focal length as the raws

[2017-04-16 22:12] geoderix commented on #3654
Thank you! Thank you! Thank you!
Have you tried already on the bugfixed version? I use stable 5.0-r1-gtk (win64).
Just converted pentax_ks2_03.pef (18 mm) and get jpg with 130 mm focal lenght (according to Rawtherapee).
https://filebin.net/b8f3hapg98pxa7y1

[2017-04-16 22:25] heckflosse commented on #3654
@geoderix For the jpeg problem I only tried with the fixed version and I can confirm that pentax_ks2_03.pef (18 mm) has also 18 mm in the freshly generated jpeg.

[2017-04-16 22:27] geoderix commented on #3654
It's just fine. Where can I get the fixed version?

[2017-04-16 22:36] heckflosse commented on #3654
@geoderix If you're on windows you have to wait some days for a new build. I don't make builds, I only code and make builds for my machine. I'll inform you here as soon as I know a new build is available.

[2017-04-16 22:38] geoderix commented on #3654
Ok! Thank you! I'm happy!

[2017-04-16 22:45] heckflosse commented on #3654
@geoderix Before I forget to mention it: When a new build is available you have to 'Clear all' in Preferences/File Browser once, because the focal length information for the thumbs is also stored in the cache files. If you don't, you will still see the wrong focal length for thumbs you opened with previous version of rt.

[2017-04-16 22:55] heckflosse commented on #3654
Issue stays open until a new Windows build is available and @geoderix confirmed the fixes.

[2017-04-17 12:01] agriggio commented on #3826
@heckflosse

as long as you only pay for what you use, I don't see this as a big problem. the current situation has a very big drawback, that you can't put the auto correction flag in a pp3 to use as a preset. this severely limits its usefulness imho. if there are no objections, I'd like to change this behaviour. if performance turns out to be really a problem for batch mode, we can consider how t

[2017-04-17 12:52] heckflosse commented on #3826
@agriggio I agree :+1:

[2017-04-17 14:00] geoderix commented on #3654
I looked in https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924 and I went to https://drive.google.com/drive/folders/0B2q9OrgyDEfPOEZmVlBzLWlnSWc. There I see RawTherapee_dev_5.0-r1-gtk3-446-g931db7ab_WinXP_32.zip added 17.04.2017 at 11:14. I downloaded it and saw changelog:

`Fix wrong focal length for Pentax K200D, as reported in #3654`

`commit 34be802c928802cdee77347a3f89c6

[2017-04-17 14:08] Beep6581 commented on #3654
@geoderix what are you saying? Do you confirm it's fixed?

[2017-04-17 14:11] geoderix commented on #3654
I could not start RawTherapee_dev_5.0-r1-gtk3-446-g931db7ab_WinXP_32 on Windows XP SP3 - I got a message: ""This application failed to start because dwmapi.dll was not found. Re-installing the application may fix this problem."

Ok. I uninstall and install  RawTherapee_dev_5.0-r1-gtk3-446-g931db7ab_WinXP_32. And no effect - I got a message: ""This application failed to start because dwmapi.dll was

[2017-04-17 14:20] seebk commented on #3826
BTW please note that the main git repository of Lensfun is at sourceforge
and the github repository is just a fork.

[2017-04-17 14:22] Beep6581 commented on #3654
@geoderix the build is made by @gaaned92 , hopefully he sees this.

[2017-04-17 14:24] geoderix commented on #3654
It would be nice :)

[2017-04-17 15:46] ion12 commented on #3824
Thanks to all for the comments and clarifications.

I have no interest in who is "doing the builds" just think that the builds distributed to end-users should be made from the build scripts included in the sources and in sync with rawpedia, so that it remains easy to continue to collaborate and contribute.

I've suggested some changes here
https://github.com/Beep6581/RawTherapee/pull/3829/commits/

[2017-04-17 16:22] gaaned92 commented on #3654
@geoderix The new versions of Rawtherapee are based on GTK3 (instead of GTK2 for legacy versions).
Unfortunately, GTK3 requires on Windows systems the Display Window Manager (DWM) that was implemented by MS on Vista and above. So the missing DWMAPI.dll warning on XP and there is nothing to do.
 @Beep6581 In update info.cmake line 95, I think that from now, as gtk3 is the only gui tool, "WinXP" sho

[2017-04-17 17:03] madSec commented on #1489
New version also works great here, thanks again!

[2017-04-17 17:53] heckflosse commented on #3654
@gaaned92

Agreed. Will change that in a few minutes.

[2017-04-17 18:07] heckflosse commented on #3654
@gaaned92 Pushed.

[2017-04-17 18:21] heckflosse commented on #3826
@seebk Thanks for the information. It was in fact unclear to me where the main repository resides.

[2017-04-17 19:10] geoderix commented on #3654
@gaaned92

[code]

It is bad news. Such news looks even worse because such things need to be warned in advance. If you, of course, have any respect for users. But, it seems, this is not so, unfortunately.

[2017-04-17 19:16] geoderix commented on #3654
I installed the version of RawTherapee_dev_5.0-r1-gtk3-446-g931db7ab_WinVista_64. For Pentax K100D, K200D, 645Z the focal length is determined correctly. After converting to jpeg - also correct, except for 18.12 mm -> 18 mm. Adobe profiles (.lсp) for correction of distortion and vignetting work (hurray!).
Thank you.
But the files converted in the previous version (without the bugs fixed) continue

[2017-04-17 19:29] heckflosse commented on #3654
@geoderix
That was not the decision of @gaaned92. Blaming him for that is absolutely wrong.
At some point we (the rt team) decided to not support gtk2 anymore and use only gtk3 for now.
Unfortunately that means WindowsXP users can't use the gtk3 builds. But MS support for XP was stopped 3 years ago already. @gaaned92 made RT builds for XP up to end of last year which is more than 2 years longer as

[2017-04-17 19:33] heckflosse commented on #3654
@geoderix
About the files converted with previous versions of RT: We can't fix the wrong exif data in this files posthumous in rt:(

Though you can fix the wrong data in the jpegs using exiftool or exiv2 if it's important. But others know more about usage of this tools than I do.

Ingo

Edit:

As we can't fix the wrong exif in files which are saved in previous rt versions, it should be safe to clo

[2017-04-17 19:39] geoderix commented on #3654
I am sorry!
I meant no offense. I wrote something that is visible from the user's side. If you make such a decision, then you should not report it after it happened and with such intonation. People used the program, wrote bugs, and made plans. Maybe they should have warned them in advance? And not the way @gaaned92 did it. Nothing personal.
Excuse me.

[2017-04-17 19:40] geoderix commented on #3654
@heckflosse
Nothing can be done - I close the bug.
Thank you.

[2017-04-17 19:40] #3654 closed

[2017-04-17 19:45] geoderix opened #3830 "Clarify Processing Profile Handling buttons in Preferences"
It seems like regreession from RawTherapee 5.01-r1.
With RawTherapee_dev_5.0-r1-gtk3-446-g931db7ab_WinVista_64 on Windows 7 64 bit .pp3 are always written to the directory with the source raw file. It is not possible to disable it from Preferences - Image Processing - Processing Profile Handling. Processing Profile Handling settings do nothing at all.

[2017-04-17 19:55] heckflosse commented on #3830
@geoderix Can you clarify please? Did you try to disable both options (Save ... next to input file and Save ... to cache)? That won't work because you need a processing profile for each file you want to process.
But I would agree that this could be presented more transparent to the user.

[2017-04-17 20:02] gaaned92 commented on #3654
@geoderix should you had made the effort to read the readme.rtf, you had solved the XP warning by yourself. I don't have any intonation, it is only facts.
And don't be rude when you post.

[2017-04-17 20:21] geoderix commented on #3830
Yes, I tried disable and enable both - no effect. Each time you open raw file in the editor,to the source directory writes .ppt3. Even if I did not do anything with the file, I just wanted to see it. Why do I need garbage in the directories with pictures? If I need this, I can always save the processing profile manually or enable automatic recording. But why does it always and everywhere? RawThera

[2017-04-17 20:25] geoderix commented on #3654
@gaaned92
I also stated only the facts. I downloaded the version for Windows XP, it does not work. After that, you remembered that it was not for Windows XP and called me the last user of Windows XP. Why do you call me rude?
Best regards!

[2017-04-17 20:30] heckflosse commented on #3654
@geoderix

With all respect, this one was rude:

[2017-04-17 20:31] patdavid commented on #3654
@geoderix

You were warned in advance over _three years ago_ when your outdated OS stopped being supported.

Your intimation that the devs of this Free Software project didn't care about users was uncalled for.

[2017-04-17 20:35] geoderix commented on #3654
@heckflosse

`With all respect, this one was rude:`

 `  If you, of course, have any respect for users. But, it seems, this is not so, unfortunately.`

With all respect, but this is what the ordinary user looks like.

[2017-04-17 20:39] geoderix commented on #3654
@patdavid
`You were warned in advance over three years ago when your outdated OS stopped by being supported.`

And I was warned again with release RawTherapee  RT 5.0-r1-gtk2 for Windows XP or newer 32-bit at 2017-02-04 11:00. Correct reasoning?

[2017-04-17 20:45] heckflosse commented on #3654
@geoderix So you say the ordinary user (whatever that means) thinks the rt developers have no respect for users?

Ingo

[2017-04-17 20:48] heckflosse commented on #3830
@geoderix Let me try. Maybe it's a bug. I'll report in a few minutes

[2017-04-17 20:57] heckflosse commented on #3830
@geoderix I can confirm the bug. We should clarify in preferences dialog that you need to choose at least one of the options (Save next to input file or save to cache). Currently if you disable both it falls back to save next to input file which is ok but confusing if you disabled that option.

Thanks for reporting this :+1: That deserves improvement.

Ingo

[2017-04-17 21:03] geoderix commented on #3654
@heckflosse

I described the situation with @gaaned92  through the eyes of a ordinary user. I did not talk about all the developers. Did I say something wrong?

[2017-04-17 21:10] Beep6581 commented on #3654
@geoderix please halt this discussion immediately and make sure your future comments are polite, constructive and friendly. If they are not, I will block you. I will not ask again.

[2017-04-17 21:10] geoderix commented on #3830
@heckflosse
And you can make it so that if both are disabled, it is not recorded anywhere?
Let's say I want to see what the pictures did, play around with the settings, but do not convert anything. Then I go out, forget about it, and when I return to these pictures again, the settings that are not necessary to me are read. And I'm in confusion going to delete all these profiles from the directorie

[2017-04-17 21:12] agriggio opened #3831 "glitch in updating preview when changing film simulation"
This is a bit tricky to reproduce, although I hit it constantly.
You need two images and a default processing profile which sets a custom film simulation.
Steps to reproduce:

1. open image 1, and change the film simulation. Any value other than the currently selected one will do;

2. open image 2, and change the film simulation to match the one set for image 1. Effect: the preview is not updated.

[2017-04-17 21:14] #3831 closed, assigned to agriggio

[2017-04-17 21:17] Beep6581 commented on #3830
@heckflosse how about three radio buttons, or one combobox with three entries?

[2017-04-17 21:20] heckflosse commented on #3654
@geoderix Let's calm down (that includes me as well). Maybe that's just a misunderstanding. I hope so :)

@gaaned92 wrote:
[code]

That's a perfectly neutral statement which describes the facts. We can't do anything to get gtk3 gui working on WindowsXP and @gaaned92 (who provided RT Windows XP builds in past and still provides the Win64 builds and Win32 builds for WinVista upwards) also can't do a

[2017-04-17 21:20] geoderix commented on #3830
@Beep6581
`how about three radio buttons, or one combobox with three entries?`

In my opinion - a disgusting idea. Return as was, do not invent a bicycle with square wheels.

[2017-04-17 21:27] heckflosse commented on #3830
@geoderix

No, if you open a file in rt a processing profile (even if it's neutral) will be applied and that settings have to be recorded somewhere.

[2017-04-17 21:40] Beep6581 commented on #3830
Not saving a PP3 if nothing has changed is handled by #2857

[2017-04-17 22:05] geoderix commented on #3830
`Clarify Processing Profile Handling buttons in Preferences`
Why did you change the meaning of what I wrote? I did not mean the buttons, but the behavior of the program. You acted incorrectly. Write your own bug, return the meaning of what I wrote. I did not give you the authority to make such decisions.
Please return what I wrote in the title.

[2017-04-17 22:24] heckflosse commented on #3830
@geoderix

Your title was wrong because it is possible to not write .pp3 files to source directory by enabling 'Save to cache' and disabling 'Save next to input file'

As I admitted some posts above it's not possible to avoid writing a pp3 file at all (if not next to input file it will be in cache at least).

For that reason I think changing the topic of the issue (as @Beep6581 did) is appropriate

[2017-04-17 22:28] geoderix commented on #3830
@heckflosse
In this case, it will be correct to open a new topic. I meant something completely different.

[2017-04-17 22:39] heckflosse commented on #3830
@geoderix I agree that opening a new topic is the best way if the title or the description of the old topic in op is wrong or incomplete ;-)

[2017-04-18 00:20] heckflosse commented on #3654
I unlocked the conversation to give @geoderix the opportunity to answer my post.

[2017-04-18 07:29] geoderix commented on #3654
@heckflosse
 `That's a perfectly neutral statement which describes the facts. We can't do anything to get gtk3 gui working on WindowsXP and @gaaned92 (who provided RT Windows XP builds in past and still provides the Win64 builds and Win32 builds for WinVista upwards) also can't do anything to provide RT gtk3 Windows XP builds.`

Yes, without context this is perfectly neutral statement.
With contex

[2017-04-18 07:29] geoderix commented on #3830
Please, open another topic or  return what I wrote in the title.

[2017-04-18 07:30] Beep6581 commented on #3830
I split the problem discussed here into two sections: the "Not saving a PP3 if nothing has changed" part which is already handled elsewhere, and the required UI improvement part which comes about as a result of the user confusion described in the third comment. I'm not closing this issue and opening a new one and reverting the results of bug triage (aligning the topic with what will actually happe

[2017-04-18 09:34] agriggio commented on #3830
@Beep6581 how about something like this?

![profilesave](https://cloud.githubusercontent.com/assets/11982086/25124106/fe95642a-242a-11e7-8071-e8b976e3905b.png)

[2017-04-18 10:02] Beep6581 commented on #3830
@agriggio exactly what I had in mind - either that or a combo with those three options. As there already is a combo in that frame, it would probably look more consistent to use a combo for both.

@agriggio btw I'm almost done with a patch, but it's lunch time now ;)

[2017-04-18 10:33] agriggio commented on #3830
@Beep6581 oops, sorry! I saw only now that you were working on this :sob: I just pushed to `dev` (using the combo as you suggested)

[2017-04-18 11:29] Beep6581 commented on #3830
@agriggio nice after-lunch surprise :) Thank you.

I tested it and it works fine. I did find a bug related to this, but I confirm that the bug existed before the patch, so I'll open a new issue for that.

[2017-04-18 11:29] #3830 closed, assigned to Beep6581

[2017-04-18 11:43] Beep6581 opened #3834 "PP3 created alongside input file when should be in cache"
Summary: A dead PP3 file is written next to the input image if you open it before assigning a profile to it when Preferences is set to write PP3 files to the cache only.

1. Set RawTherapee to:
[code]
2. Put two raw files in a folder. Delete the cache and any PP3 files inside this folder:
`rm -rvf ~/.cache/RawTherapee/ && rm ~/downloads/temp/*.pp3`
3. Run RawTherapee. Don't do anything.
4. Check f

[2017-04-18 12:40] Beep6581 commented on #3834
Seems to happen here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/procparams.cc#L3581

[2017-04-18 12:43] agriggio commented on #3834
@Beep6581 I just pushed a fix on `dev`, can you please test?

It was actually a regression introduced by me when I restructured the thumbnail contextual menu to add a "reset to default" operation -- sorry about that :-/

[2017-04-18 12:51] Beep6581 commented on #3834
Fix confirmed @agriggio, thank you.

[2017-04-18 12:51] #3834 closed, assigned to agriggio

[2017-04-18 18:26] heckflosse commented on #3834
@agriggio I also confirm the fix :+1:

[2017-04-18 18:27] heckflosse commented on #3830
@agriggio works fine here too :+1:

[2017-04-18 18:52] Beep6581 commented on #3802
3 days and no objections, I will merge today.

[2017-04-18 19:09] Beep6581 commented on #3802
Done.

[2017-04-18 19:09] #3802 closed, assigned to Beep6581

[2017-04-18 19:13] Blizzara opened #3835 "Crashes with locallab_dev (starting RT, adding to queue, ..)"
Hi,

During the week-end I got a couple of crashes when using RT, some right after opening, some related to adding/canceling items from Queue and one while not doing anything. I was using the locallab_dev branch, but not any locallab-features, and at that time the branch was up-to-date with dev. The crashes seemed to be quite random, so sadly I cannot give any steps to reproduce.. For example, the

[2017-04-18 20:04] #2998 closed

[2017-04-19 16:44] Beep6581 commented on #1561
Already done.

[2017-04-19 16:44] #1561 closed

[2017-04-19 16:52] Beep6581 commented on #3178
Fixed long ago.

[2017-04-19 16:52] #3178 closed

[2017-04-19 20:23] Beep6581 opened #3836 "Raw CA chromatic aberration correction produces color casts"
Raw CA correction causes color casts when working with very dark images which require a high positive exposure compensation, as is usually the case with HDR DNGs. Using 01-04.dng if I enable raw CA correction (auto or manual), a color cast appears and it is strong enough to make using that feature not possible when accurate colors are needed.

Increasing exposure before raw CA correction takes pla

[2017-04-20 08:46] Eneen opened #3837 "[feature suggestion] Single click to open folders and images"
It would be cool to have such option: "Single click opens" to change double click to single to:
- display pictures when clicked on folder from folder tree (file browser mode)
- open picture for editing when clicked on picture (file browser mode)
- change current picture when clicked on picture from strip (picture edit mode)

[2017-04-20 11:57] ff2000 opened #3838 "ThresholdSelector does not react unless Modifier is pressed"
I have a weird issue with ThresholdSelector (e.g. Sharpening Threshold): I can't move a cursor and its secondary by simply clicking and moving. Moving one cursor by holding down SHIFT works. I pressed CTRL and I hit thresholdselector.cc:548 - dX *=0.05; (high precision movement?) - works.
Now I had the ingenious idea to press ALT - and that seems to work just fine now, both the selected cursor and

[2017-04-20 12:45] heckflosse commented on #3836
I think I found the real culprit:

[code]

Edit: Short explanation to the patch:
The impact of adding 0.5 to red and blue channel (but not to green channel) increases for darker images and introduces the colour cast. It also means the output of raw ca correction is not the same as the input to ca correction for the part of the image where no ca has to be corrected.
Removing the addition of 0.5 sol

[2017-04-20 14:22] Beep6581 commented on #3838
@ff2000 quick note that the alt key in KDE by default puts you into window moving mode. Maybe that's the difference?

[2017-04-20 18:13] ff2000 commented on #3838
Just a short question before I dive deeper into this: do you say that I actually HAVE to press ALT to move two connected cursors separately? Because I couldn't find anything in the RawTherapee sources (and the Tooltip is silent about that, too). And that kwin translates Alt+click into just a click would be... weird.

[2017-04-20 18:14] ghtma commented on #2998
Thanks for fixing the bug. Is a nightly build available to test it?

[2017-04-20 19:40] Beep6581 commented on #2998
@ghtma you need a build from 2017-04-18 or newer. There are none yet, but when one is made it will appear here: https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924
That's assuming you use Windows - you didn't state which OS you use.

[2017-04-20 20:23] Beep6581 commented on #3836
Tested using 3 images, I confirm that the fix worked very well!
https://filebin.net/iwd6sef5wiiep7ez

[2017-04-20 20:44] #3836 closed, assigned to heckflosse

[2017-04-20 20:52] Beep6581 commented on #3836
Thank you!

[2017-04-20 21:08] heckflosse commented on #3836
:)

[2017-04-23 12:19] Excaliburst commented on #3206
I second that feature. Have been missing it since my conversion from LR to RT... and it is one of those things that still holds me back to LR 5.4.

[2017-04-24 05:38] mpavlase opened #3839 "Noise reduction preview is not applied over 50% zoom level"
Hi,
I've noticed, that noise reduction doesn't work when working with RAW images - only in Editor, after batch processing to produce JPG the result is fine.

Version:
5.0.5.0-gtk3, Fedora 25 (64bit)

How to reproduce it:
* open .CR2 picture in Editor tab
* leave Noise reduction off (disabled) from Detail tab
* zoom to 100% level
* turn on Noise reduction from Detail tab
* zoom to 50% level or smal

[2017-04-24 08:13] Beep6581 commented on #3839
http://rawpedia.rawtherapee.com/Noise_Reduction

[2017-04-24 08:13] #3839 closed, assigned to nobody

[2017-04-24 13:23] listlfa opened #3840 "Fast Export settings not saved"
The Fast Export settings are not saved between RawTherapee sessions.  Changed settings also dont seem to be used within the session either. This is for the latest RawTherapee on a Win 7 PC that's never had RawTherapee before.

Complete version information --
Version: 5.0-r1-gtk3
Branch: 5.0-r1-gtk3
Commit: 50114c1
Commit date: 2017-02-01
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
B

[2017-04-24 13:51] Beep6581 commented on #3840
I don't recall anyone ever claiming that they are saved between sessions (i.e. this is probably not a bug), but it does make sense that they should be, so I'll tag this as an enhancement.

[2017-04-24 13:54] agriggio commented on #3840
@Beep6581 the code has been reworked significantly when I merged the fast export branch. Now they are saved

[2017-04-24 14:16] Beep6581 commented on #3840
@agriggio :+1: and noted :) Then I guess we can close?

[2017-04-24 14:17] agriggio commented on #3840
yes :+1:

[2017-04-24 15:05] #3840 closed, assigned to nobody

[2017-04-24 22:54] Hombre57 commented on #3691
Patch pushed in `rt-cli2` branch. Please test with options.verbose = true. You should see profile loading and rules loading when necessary only with `-q` switch (rt-cli).

[2017-04-25 10:23] Hicetnunc opened #3841 "XMP isn't copied to jpg but to tif"
When batch processing or simply saving a processed photo in RT, the keywords which were added in digikam are not transfered to a resulting jpg. Saving as tif does transfer the keywords.

[code]

Windows 8.1, 64 bit
[sample.zip](https://github.com/Beep6581/RawTherapee/files/954696/sample.zip)

[2017-04-25 11:47] Beep6581 commented on #3841
Tested using `5.0-r1-gtk3-464-g040065e5` in Linux. Copied `2017-03-24-191621.dng` to `edited.dng` and edited it and checked it as follows:
[code]

XMP and IPTC are transferred to the saved JPG and to the uncompressed TIFF intact.
i.e. this bug report seems invalid.

If someone could please save this DNG to JPG using RT in Windows, then upload the JPG:
https://filebin.net/8n4cofghpa2pd3j2/edited.dn

[2017-04-25 12:02] Hicetnunc commented on #3841
Here you are. It is interesting that exiftool shows the keywords, but neither Digikam nor Adobe Bridge sees them. Could it be that they are copied to a wrong place?

![edited](https://cloud.githubusercontent.com/assets/28001305/25384214/c7def1e0-29bf-11e7-8276-04916492ceb1.jpg)

![digikam](https://cloud.githubusercontent.com/assets/28001305/25385716/3de5e0a6-29c5-11e7-8439-41559d23494c.JPG)

![bri

[2017-04-25 12:51] Beep6581 commented on #3841
@Hicetnunc please explain your screenshots as I don't speak German and don't know what you're trying to show or which program you're showing it in (don't crop screenshots). On the last screenshot you circled something in an IPTC tab while this issue is about XMP - don't mix the two up.

Does this image show the XMP and IPTC correctly in digiKam/PS? https://filebin.net/1y4vp2k1qb3i8346

[2017-04-25 13:05] Hicetnunc commented on #3841
@Beep6581 The first screenshot is from Digikam, the second from Adobe Bridge. "Stichwörter" means "keywords". In Digikam the XMP and the IPTC section both are empty for the exported jpg. In Bridge the keywords don't show up, neither in the keywords panel nor in the IPTC section. That is what I wanted to show.

Your last sample on the other hand contains IPTC and XMP keywords and they are shown in

[2017-04-25 13:21] heckflosse commented on #3841
@Beep6581 [Here's a link](https://filebin.net/f8qdkciv6hzsgia7) to the jpeg saved on windows using dev

[2017-04-25 14:29] Hombre57 commented on #3691
@agriggio If you intend to update the Dynamic profile mechanism, please do it in rt-cli2 branch. Could you also have a look on whether it is still fully functional in GUI and CLI mode ?

[2017-04-25 15:49] Beep6581 commented on #3841
http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_JPEG_files

RT's JPEG:
`-JPEG-APP1-IFD0-XMP:Description=GREP_XMPDescription`

RT's JPEG does not use APP13:
`-JPEG-APP1-IFD0-IPTC:Keywords=GREP_IPTCKeywords`

* Tag `0x83BB` is type LONG when it should be UNDEFINED or BYTE. This is probably not the cause of the problem as the TIFF file has the same issue.
http://www.awaresystems.be/imaging/t

[2017-04-25 16:08] wtermeer opened #3842 "Update Nederlands languagefile"
The Nederlands languagefile is updated.

[Nederlands.zip](https://github.com/Beep6581/RawTherapee/files/955667/Nederlands.zip)

[2017-04-25 16:23] agriggio commented on #3691
:+1: I'll take a look asap (hopefully tomorrow)

[2017-04-25 16:26] Beep6581 commented on #3842
Thank you. Please consider using a text editor which respects the file's existing line ending convention, such as [Notepad++](https://notepad-plus-plus.org/).

[2017-04-25 16:27] #3842 closed, assigned to Beep6581

[2017-04-25 16:38] gaaned92 commented on #3691
@Hombre57
1-  RT-cli2 builds and install ok on W10. available at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)
2- dynamic profiles are not accessible with the GUI.
 - run rawtherapee dev branch, verify that you are in dynamic mode and verify that dynamic profiles rules are ok. close the app.
- run rawtherapee rt-cli2

[2017-04-25 19:16] agriggio commented on #3691
@gaaned92 for debugging, you can see them in the console in verbose mode.
if you want them in the GUI, it's a bit of work which I can't promise at
the moment (and I'm not yet sure if I like it or not... but that's not a
big problem). feel free to open a feature request, but don't hold your
breath...

[2017-04-25 19:54] gaaned92 commented on #3691
@agriggio It was just a suggestion. even a static default profile is not displayed in history.

[2017-04-25 20:28] Beep6581 commented on #595
This has been fixed some time ago. Cannot reproduce in 5.0-r1-gtk3-464-g040065e5

[2017-04-25 20:30] Beep6581 commented on #595
Ah, the issue was open because of point 4 here https://github.com/Beep6581/RawTherapee/issues/595#issuecomment-129909921

[2017-04-25 20:38] Beep6581 commented on #3715
@Floessie I recall someone, probably you, mentioning somewhere a better solution than astyle. Could you let me know what was the name of that tool?

[2017-04-25 20:39] heckflosse commented on #3704
Forgot to close the issue as I [commited](https://github.com/Beep6581/RawTherapee/commit/52e8668aee35e028b009e3e0f97be9bf116f4a15) the changes

[2017-04-25 20:39] #3704 closed, assigned to nobody

[2017-04-25 21:03] Beep6581 commented on #2315
Related to #210

[2017-04-25 21:58] heckflosse commented on #2315
Closed with ddfce7e

[2017-04-25 21:58] #2315 closed

[2017-04-25 22:17] Hombre57 commented on #3691
@gaaned92 Dynamic profiles wasn't loaded in Preferences. Should work fine now, thought that I hope there can't be any race condition on loading rules.

[2017-04-25 22:19] Hombre57 opened #3843 "Display "Filter" tab by default in File Browser"
As discussed on IRC, I think that the Filter tab should be the default active one. Beginner would then be more prone to double click on a thumbnail and edit in an Editor tab than using the more complex Batch Editor tab.

[2017-04-25 22:43] Hombre57 commented on #3843
Patch submitted in `filter-by-default` branch.

[2017-04-25 22:46] Hombre57 commented on #3843
Should we add a tooltip over the "Develop" tab header saying "Batch edit files (expert users).", or change the label to "Batch develop" ? That would make that tab self-explanatory for those wondering about the difference with the Editor tab ?

[Edit]
... or preferably use "Batch edit" as new label ?

[2017-04-26 06:33] agriggio commented on #3843
:+1: to both your proposals

[2017-04-26 08:02] gaaned92 commented on #3691
@Hombre57 In RT gui, dynamic profiles are loaded. processing ok

RT cli : except for the -help, the console window closes and I have no time to read what happened. Surely there is a crash.
my command line is
`D:\RAWTHERAPEE\rtinstall\rt-cli2release64\rawtherapee-cli.exe -O D:\PHOTOS\test\cli -S -Y -j98 -c D:\PHOTOS\test`
where test and test/cli are existing directories. test contains photos with p

[2017-04-26 08:13] agriggio commented on #3691
@gaaned92 the messages are not prominent, but they should be there. Look for something like this:

[code]

[2017-04-26 08:31] Beep6581 commented on #3843
Branch looks good, and +1 to rename "Develop" to "Batch Edit".

[2017-04-26 15:41] Floessie commented on #3715
@Beep6581 Sure, it's [uncrustify](https://github.com/uncrustify/uncrustify). But be warned: It has nearly 600 options ATM. :wink:

[2017-04-26 16:02] Partha1b commented on #3824
Hey @ion12 Sorry if I gave the impression that I am ignoring this thread. I was on vacation. We didn't want computers only cameras with us. 🙂

I'll take the above under advisement and see what changes we need to make to allow people who want to, to do their own building.

As for providing prebuilt Mac binaries, I am assuming you and @agriggio will handle that.

Thanks,
Partha

[2017-04-26 18:19] Hombre57 commented on #3843
@agriggio @heckflosse How do you translate those strings in your respective language ? @Beep6581 Is the current english version correct ?
[code]
The later one will be the tooltip.

[2017-04-26 19:53] Beep6581 commented on #3843
@Hombre57 "Batch Edit", both capitalized, because it's a proper noun, the same as the other tab names.

Is the second part a tooltip?
Please avoid statements like "for experienced users" - everything is for users of a certain experience. A curve can be baffling to a user who has never used one. If enabling resizing on a bunch of images requires users to be truly experienced and warrants a warning,

[2017-04-26 20:16] Beep6581 opened #3845 "Folders tree view unintuitive"
I realized that our tree view in the Folders panel in the File Browser is actually quite unintuitive. I never noticed it myself as I'm used to using it, but seeing a new user baffled by it made me realize there is a problem there.

The tree view has two elements: a triangle ("expander arrow") and a label. Single clicking on a label does nothing. Double-clicking opens it but does not expand the tre

[2017-04-26 21:50] Hombre57 commented on #3843
@Beep6581 Ok, then no tooltip. I'll do that tomorrow, when I'll have the answer from @agriggio and @heckflosse for "Batch Edit".

[2017-04-26 22:14] sguyader commented on #3845
I agree! Even if I'm quite used to the way it works now, I still think it's awkward. The suggested changes would really improve the brosing experience.

[2017-04-26 22:32] heckflosse commented on #3843
@Hombre57 I don't care about german translation. @TooWaBoo does a very good job for the german language file  :+1:  and I don't want to chime into that.

[2017-04-27 06:00] agriggio commented on #3824
@Partha1b I think there was some misunderstanding (most likely caused by me, sorry) but I won't be able to provide Mac builds. I don't even have a Mac at home :-)

[2017-04-27 06:33] agriggio commented on #3843
I also am not the right person for translating into Italian. Computer-related terms are usually translated pretty poorly and end up being uninitentionally funny (I'm thinking about "batch" here). FWIW, all my desktops are set to English for this very reason. But if you still want something, "Modifiche Batch" is the best I can think of -- anything else will sound strange, convoluted, laughable, or

[2017-04-27 07:34] gaaned92 commented on #3691
@Hombre57 rt-cli2 tries to open a file "2016_1221_143429_099.raw$" that is corrupted.
I think it should not because first extension is not listed and second there is no pp3 sidecar and this file should not be processed.
If you want a bt full, I can upload it.

With regular dev build, even if I change the extension to "raw"   listed in preferences, the thumbnail is not displayed.

[2017-04-27 08:02] gaaned92 commented on #3691
@agriggio I cannot find the messages in verbose mode.
I deleted the cache, put a few files in a separate directory without .pp3 files, opened succesively the images.
Nevertheless it works, but I think it could be useful to have the list of applied profiles at least in verbose mode, failing to have it in history panel.
André

[2017-04-27 08:07] agriggio commented on #3691
@gaaned92 strange, it works for me... :-/
does anyone else not see the messages in verbose mode?

[2017-04-27 11:29] heckflosse commented on #3691
@agriggio Alberto, I made a dynamic profile which opens all D700 files black and white. Then I opened a D700 file which had no pp3 file. It opened black and white and I have this message in log:
[code]
Works here using dev on Win7/64 in msys console. Maybe it does not work correctly when not started in msys console? In this case we should fix that.
@gaaned92 can you test wether it works when you s

[2017-04-27 11:33] heckflosse commented on #3691
@agriggio I just tested starting rt from explorer (without msys console). The message appears in log there too.

[2017-04-27 11:49] agriggio commented on #3691
@heckflosse thanks for testing, this is the expected behaviour -- I just
use printf so it should work everywhere...

[2017-04-27 12:25] gaaned92 commented on #3691
@agriggio  Yes its ok with dev build. I think that in my first test of dev build, there was a pp3 in the cache. Sorry for this false diagnostic.
now, with rt-cli, I cannot get the loaded profiles in the console window. I will try further and report. using a msys console now.

[2017-04-27 14:23] heckflosse commented on #3691
I found a bug.

When I start rawtherapee-cli.exe with `Verbose=false` in options file it reports:
[code]
which is perfectly fine.

When I start rawtherapee-cli.exe with `Verbose=true` in options file it reports:
[code]

[2017-04-27 15:18] heckflosse commented on #3691
@Hombre57 #3768 is not fixed in main-cli.cc

[code]

[2017-04-27 18:37] Hombre57 commented on #3843
@heckflosse Ok, I'll commit without updating the German string.
@agriggio Thanks, I'll use your version.

[2017-04-27 19:43] gaaned92 commented on #3691
@Hombre57 a few post above, I noticed a crash of rt-cli2.
I can reproduce that crash if I put a txt file inside the directory (or .exe, dll or whatever). it tries to open it and segfault.
It happens with -d or -S.

[2017-04-27 21:27] Hombre57 commented on #3691
@gaaned92 Do you use wildcards when specifying the image files (e.g. IMGP*) ?

[2017-04-28 00:01] Richard092345 opened #3846 "RT built from GIT on Linux/Slackware hangs on startup."
[Solved]

I think I have solved the problem by updating the compile script to the latest version of rawtherapee.SlackBuild.

I have experienced systematic crashes from my git based builds of RT during the last months. The crashes occured when I opened a directory with a lot of raw files.

I found out that I don't get that problem if I compile RT from file "rawtherapee-5.0.r1.gtk2.tar.xz" which is

[2017-04-28 04:08] TooWaBoo commented on #3843
@Hombre57
A German translation could be "Hintergrundbearbeitung" or "Batchbearbeitung". I prefere "Batchbearbeitung"

[2017-04-28 04:36] #3846 closed, assigned to nobody

[2017-04-28 05:15] Beep6581 commented on #3846
@Richard092345 in the future please follow http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-04-28 05:58] gaaned92 commented on #3691
@Hombre57 In the -c parameter I just give the directory name as I supposed it used the parsed extensions list.

[2017-04-28 07:50] ion12 commented on #3824
@Partha1b good to hear from you and hope you've had a great vacation :)
Looking forward for any corrections/improvements you might come up with.

I think during the last few years it was mostly @helmi03 and me who were testing and making builds for the Mac, on a voluntary basis as time allows.
There were periods were he was active and responsive and I wasn't, and vice versa.
Happy to continue maki

[2017-04-28 08:37] Beep6581 commented on #3824
Speaking of which, we still have no macOS OpenMP-enabled dev build. Would be great if someone could make one.

[2017-04-28 18:59] Hombre57 commented on #3691
@gaaned92 No, it scans everything actually (and is the case in Dev too). I'm looking at that...

[2017-04-28 19:56] gaaned92 commented on #3691
@Hombre57 thank you

@agriggio I think I found the bug that puzzled me
- set RT in single editor and with dynamic profiles
- open a dir with images with no pp3
- open an image in the editor : the dynamic profile is loaded
- come back to browser, suppress the profile
- go to editor, open same file (thus already displayed), no dynamic profile is loaded as it should.

Can you confirm?

[2017-04-28 20:10] agriggio commented on #3691
@gaaned92 I'm not sure I understand what you mean by:

- come back to browser, suppress the profile

can you elaborate? do you mean that you clear the profile with the context menu? if the file is already open, I think this is the correct behaviour... there's an explicit "reset to default" menu to rebuild the dynamic profile. Or maybe I misunderstood?

[2017-04-28 20:40] gaaned92 commented on #3691
Yes I delete from context menu. The displayed and processed photo gets then the neutral profile thus I do'nt think it's a correct behaviour. That just puzzled me when I wanted to verify what profiles were loaded and you can let it as it is. Thanks for patience.
André

[2017-04-28 21:01] agriggio commented on #3691
"processing profile operations -> clear" means that the pp3 gets removed, and reset to neutral
"processing profile operations -> reset to default" means that the pp3 gets restored to the default one. If this is "(Dynamic)", then the dynamic profile rules are invoked again, but this works the same way even if it is another "static" default.

I think the current behaviour makes sense, but maybe I'm

[2017-04-29 06:31] Benitoite commented on #3824
https://filebin.net/powjhrutt08eoi5g/RawTherapee_OSX_10.9_64_5.0-r1-gtk3-72-g29a72d15.zip
Here's a build using clang 3.9.1.  Made using rawpedia instructions with dependencies via macports, patch applied.  Here's the crash reported by the OS I get when launching it.

[code]

[2017-04-29 07:23] gaaned92 commented on #3691
@agriggio
"processing profile operations -> clear" means that the pp3 gets removed and there is no neutral profile applied. Then the embedded jpg is displayed as thumbnail.
When you go in editor and select an image to process, the already displayed image acquires the neutral profile, and the selected image acquires the default profile (static or dynamic).

[2017-04-29 09:05] agriggio commented on #3691
ah, now I understand that you meant. I agree that it is a bug then :+1:

[2017-04-29 09:09] Benitoite opened #3847 "Test macOS build using clang 3.9.1"
https://filebin.net/rzowftk5rz26n3b7/RawTherapee_OSX_10.9_64_5.0-r1-gtk3-72-g29a72d15.zip

The main things I had to do in addition to the instructions in Rawpedia were to change the bash environment variables CC and CXX to point to the clang 3.9.1 installed by macports instead of apple's, and substituted 1.15 for 1.14 in the libiconv patching instructions.

[2017-04-29 09:09] Benitoite commented on #3824
Here is a build using clang 3.9.1: https://github.com/Beep6581/RawTherapee/issues/3847

[2017-04-29 09:45] Beep6581 commented on #3847
@Benitoite I have some questions:
* Which versions of macOS should this run on?
* Why does the version in the zip and dmg filenames not match the version in AboutThisBuild.txt? The filenames show this is based on a commit from March 2, while AboutThisBuild shows a commit which does not exist.

If you can make a build using the latest dev branch, and someone verifies that it works fine, then I woul

[2017-04-29 09:51] Benitoite commented on #3847
I think theoretically it should run on 10.9 and up...
The zip and dmg and everything was generated by the `make macosx_bundle` command. I'm not sure why there would be a discrepancy.
This was build from a brand new clone of the project without selecting a specific branch.  `git checkout dev` says I'm `Already on 'dev'`

[2017-04-29 09:59] casta opened #3848 "Autozoom issue with rotated picture"
Hi,

I notice a weird zoom computation with manually rotated picture.

Steps to reproduce:

1. put 2 landscape picture in one directory (may be same size, this is what I have). Manually rotate the second one (with the rotate tool “[”)
2. now open the first one, ensure the zoom is auto computed correctly (hit “f”)
3. now go to the second one by hitting “F4”

You should get this:
![rawtherapee](http

[2017-04-29 10:42] Beep6581 opened #3849 "Crash in guiutils on opening folder in File Browser"
Tested using 5.0-r1-gtk3-474-g d8e0207b
I simply open two or three folders in the File Browser.
[code]
[code]

[2017-04-29 10:44] Beep6581 commented on #3849
I double-clicked on the same folder twice:
[code]

[2017-04-29 10:48] Beep6581 commented on #3847
@ion12 @partha1b can you guys confirm that running the script does that, before we invest time in digging into this again?

[2017-04-29 10:51] Beep6581 commented on #3849
@agriggio I could not reproduce this using 0f0f76df so the problem lies in 5d4bd4b3529b14f929eaf887b5413c95f961dba2 or d8e0207b9a2b3a38a68f6fec3633622b2b2b761d

[2017-04-29 11:01] agriggio commented on #3849
I'll take a look

[2017-04-29 11:13] Beep6581 commented on #3848
RawTherapee preserves the zoom and pan offset when opening a subsequent image which has the same width and height as the current image.

@casta I cannot reproduce what you're showing. Can you apply neutral to both photos and write the steps to reproduce again?

Here's what I get:
1. I applied neutral to both photos https://i.imgur.com/HQUry7P.png
2. I rotated the second photo right https://i.imgur

[2017-04-29 12:24] casta commented on #3848
I can reproduce with neutral profile too. Keeping exactly the same steps.
At 3 I get this: http://i.imgur.com/n5TGnDk.png
Then hitting F4, I get this: http://i.imgur.com/v0z218w.png

Notice that I have this only for manually rotated pictures, not with those rotated through exif metadata.

HOOOOO !!!!! just found one thing: I was always using pictures from the same camera: Fuji X100s. last try with

[2017-04-29 12:42] Partha1b commented on #3847
@Benitoite What are your precise issues?

The minimum version is 10.9 as stated in the CMakeList.txt file: ```-mmacosx-version-min=10.9```
What discrepancy are you referring to?

CC: @Beep6581, @ion12

[2017-04-29 12:43] Hombre57 commented on #3691
@agriggio If you need to fix something about Dynamic profile, please do it in rt-cli2.

[2017-04-29 12:49] #3849 closed, assigned to nobody

[2017-04-29 12:49] agriggio commented on #3849
@Beep6581 this should do:

[code]

(I just pushed it, in fact)

[2017-04-29 12:52] agriggio commented on #3848
@casta thanks for the additional info. It seems a problem with x-trans files. I'll take a look asap

[2017-04-29 12:55] agriggio commented on #3691
@Hombre57 ok, though I don't think this is specific to dynamic profiles (but I have to dig deeper to be sure)

[2017-04-29 12:57] Hombre57 commented on #3691
The reason is that I've moved files from one dir to another, so it'll be easier for me to merge (which will happen soon).

[2017-04-29 13:02] agriggio commented on #3691
I think I will need to work only on `rtgui/thumbnail.cc` (still investigating though)

[2017-04-29 14:02] Benitoite commented on #3847
@partha1b looks like the file names have a different commit suffix than what is I believe correctly reported in the aboutthisbuild, and the file names having been auto generated by the make macosx_bundle script.

[2017-04-29 16:00] Beep6581 commented on #3847
@Partha1b

The zip file is called
RawTherapee_OSX_10.9_64_5.0-r1-gtk3-**72-g29a72d15**.zip
and it contains
RawTherapee_OSX_10.9_64_5.0-r1-gtk3-**72-g29a72d15**.dmg
while `AboutThisBuild.txt` shows

[2017-04-29 16:02] Beep6581 commented on #3849
Fix confirmed.

Is it just me, or does this File Browser feel faster now?

[2017-04-29 19:20] mpeman opened #3850 "Raw Therapee 5.0-r1 will not operate"
My system is: Intel Pentium CPU 2020@2.90 GHZ-Installed Memory is 4.00 GB with 3.89 Usable-it is a 64-bit operating system, x64 based processor.

I have installed RT 5.0-r1-gtk3 and it will not run.  The 32-bit version will.  The 64-bit version of 4.2.1 works just fine.

RT 5 will open, but never operate.  I cannot click on anything, and nothing responds.  The window will not even close once click

[2017-04-29 19:33] Beep6581 commented on #3850
@mpeman which version of Windows?

1. Try disabling Drive A/Floppy/Legacy Drives in your BIOS, see #3450
2. Try waiting even 30 minutes - does RT become responsive after this time?

[2017-04-29 20:20] mpeman commented on #3850
Yes.  I have left it on overnight, and it was still unresponsive.  My apologies...Windows 10.

[2017-04-29 20:49] heckflosse commented on #3850
@mpeman Maybe good to post your issue [also here](https://discuss.pixls.us/c/software/rawtherapee)

[2017-04-29 20:51] mpeman commented on #3850
Will do!

[2017-04-29 20:53] agriggio commented on #3691
I confirm this is unrelated to the dynamic profiles. It is also a bit tricky to fix. Given that this is really a corner case (it happens only if you clear the profile of the image that is open in the editor) and that a workaround already exists (just call "reset to default"), I'm giving this low priority.

[2017-04-29 22:25] Partha1b commented on #3847
@Beep6581 & @Benitoite

The zip file and the dmg are named with the created variable ```PROJECT_FULL_VERSION``` which is obtained from ```git describe --tags --always```. The ```AboutThisBuild.txt``` is created by cmake.

This is not a Mac issue. 🙂

[2017-04-29 22:38] heckflosse commented on #3847
@Partha1b hmmm
1. `PROJECT_FULL_VERSION` is only in `maxosx_bundle.sh`
2. git describe --tags --always reports `5.0-r1-gtk3-475-g7553d86` fot the latest commit

So, the -474- (or -475- ) in AboutThisBuild.txt seems to be correct while the -72- seems to be wrong. Or do I miss something?

Ingo

[2017-04-29 23:00] Beep6581 commented on #3850
@mpeman you could run RT and attach GDB to the running process. That should tell us what it's stuck doing.

[2017-04-29 23:14] mpeman commented on #3850
Not being real heavy on computer knowledge I have no idea how to do that!  I also don't even know if I was looking for a floppy disc in the right place in my BIOS...if it even was my BIOS, I still don't know if I got into my BIOS correctly or at all.

[2017-04-29 23:15] Beep6581 commented on #3847
@Partha1b and `rtdata/CMakeLists.txt` calls the script for Apple:
https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/CMakeLists.txt#L66

1. @Benitoite was the `macosx_bundle.sh` script called automatically or did you run it manually?
2. Were you on `dev` HEAD when running CMake and did you then check out commit 29a72d15 when running the script? If so, why?
3. Could you delete your "build" fol

[2017-04-29 23:21] Partha1b commented on #3847
@heckflosse

Let me reiterate so that we're on the same page.
In ```macosx_bundle.sh```, we have
```PROJECT_FULL_VERSION="$gitDescribe"``` where ```gitDescribe="$(git describe --tags --always)" ```

The zip and dmg files are named as
``` dmg_name="${PROJECT_NAME// /_}_OSX_${MINIMUM_SYSTEM_VERSION}_${PROC_BIT_DEPTH}_${PROJECT_FULL_VERSION}"```

[2017-04-29 23:33] Beep6581 commented on #3843
:+1: for merge.

[2017-04-29 23:45] heckflosse commented on #3847
@Partha1b

`git describe --tags --always` reports `5.0-r1-gtk3-475-g7553d86` for the lates commit.

What's the name for your zip and dmg in this case?

[2017-04-30 01:48] Partha1b commented on #3847
@heckflosse
It's an issue reported by @Benitoite. I think @Beep6581 is already asking @Benitoite  about it.

[2017-04-30 07:47] ion12 commented on #3847
Testing yesterday, I get `5.0-r1-gtk3-474-gd8e0207b` in the `AboutThisBuild.txt` and `RawTherapee_OSX_10.9_64_5.0-r1-gtk3-474-gd8e0207b` for the zip/dmg.
@Benitoite this could be a local issue on your end, can you try as @Beep6581 suggested to delete and clone RT from scratch and see if you still end up with the discrepency?

[2017-04-30 07:56] ion12 commented on #3847
Also @Benitoite could you check if in your build there any any missing icon issues? Specifically are you missing the folder expander triangles in the tree view?

I think I've discovered a regression that breaks the link to the Adawaita icons with the latest changes to the build script and executable loader script.
re-enabling
`export XDG_DATA_DIRS="${resources}/share`
in `executable_loader.in` see

[2017-04-30 08:12] ion12 commented on #3847
@Beep6581 it seems you made some changes to rawpedia recently -

1. As long as the instructions target macports, we need
`-DCMAKE_C_COMPILER="clang-mp-X.X"`
`-DCMAKE_CXX_COMPILER="clang++-mp-X.X"`
to remain in the instructions. Otherwise it's confusing. If you don't want to list these in the main cmake commands, they at least need to be mentioned as a requirement for macports in the paragraph befo

[2017-04-30 08:59] Beep6581 commented on #3847
Morning

As a macOS non-user, I cannot.

I'm quite sure whatever changes there arose from the long discussion on GitHub.
I added those things back.

Quad-core CPUs are far less popular than dual-core ones, that's all.

To let the person reading the guide know that such an option exists and they could set it to "on".

Done. I also changed `-mmacosx-version-min=` to `10.9` for libiconv, hope that's

[2017-04-30 09:15] casta opened #3851 "Curve tool in LAB panel does not always correctly expand"
Hi,

I have a weird GUI issue with the curve in the LAB panel. It usually happen at first time when opening a picture, and then it seems ok until I restart rawtherapee. Nothing critical but…
It may be due to my PP3 default profile [1], that enables the L* parametric curve but with all values set to 0 (I do that for convenience so that the curve is already expanded, since I use it quite frequently)

[2017-04-30 09:46] #1290 closed

[2017-04-30 09:51] TooWaBoo commented on #3851
This is a known bug in Gtk3.20 and there's no fix yet. If you hover some buttons with the mouse within this frame will correct the display. There are also some other curve tools affected eg. Retinex.

[2017-04-30 10:07] casta commented on #3851
Ok I did not catch this, looks indeed the same as #3525

[2017-04-30 10:07] #3851 closed, assigned to nobody

[2017-04-30 12:53] Benitoite commented on #3847
Beep6581:

I used `make macosx_bundle` as instructed by Rawpedia.   I think my problem lied in the fact that I had used the *parent directory* as the code repository back in time, and I had been just recently cloning from inside of that folder forgetting I had tried to compile it in the past. So deleting the parent folder resolved that. I am using this folder structure for whatever reason,..

[cod

[2017-04-30 13:41] Benitoite commented on #3847
Was able to get RawTherapee_OSX_10.9_64_5.0-r1-gtk3-475-g7553d86b.dmg  by building in the correct folder.

@ion12 Yes those triangle icons are missing. Clicking where they should be does expand the folder, but the folders don't load when clicked or double clicked upon. Perhaps I need to delete some old prefs file?  The file browser preferences is set to show all the extensions.
Also, the program o

[2017-04-30 13:54] Partha1b commented on #3847
@ion12 Yes, you need the XDG_DATA_HOME variable. Are you sure you need to set XDG_DATA_DIRS?

@Beep6581 Yes, setting macosx minimum version is necessary for all dylibs that you are using in building RT.

@Benitoite When RT crashes at launch, what is the error message? Also, how are you launching RT?

[2017-04-30 15:22] Beep6581 commented on #3847
@Benitoite it should be:
[code]
You should `cd` into the `build` folder when running cmake and compiling.

[2017-05-01 15:00] Benitoite commented on #3847
@partha1b All I'm able to get is the system crash log... here's the beginning of it:

[code]

Copied app in dmg to Applications folder, then launching by double-clicking on that icon.

[2017-05-01 19:36] Partha1b commented on #3847
@Benitoite I am assuming you patched libiconv and rebuilt as per instructions?

[2017-05-01 20:04] Beep6581 commented on #3847
@Benitoite run RT through GDB to get a meaningful backtrace. Instructions here http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-05-01 21:14] Benitoite commented on #3847
@Partha1b

I did the libiconv patch... btw Does libiconv need to be downloaded and patched each time, or does doing it once install patched files permanently into the build system ?

[2017-05-01 21:15] Benitoite commented on #3847
@beep6581  will do when I get home from the beach.

[2017-05-01 21:42] Partha1b commented on #3847
@Benitoite I don't think so. However, I have no idea about macport stuff and you'll have to ask @ion12 about it. 🙁

[2017-05-01 21:50] Benitoite commented on #3847
Libiconv comes in manually during the following of the patching instructions as opposed to macports.

[2017-05-02 00:50] ion12 commented on #3847
@Benitoite if you followed the rawpedia instructions you should have backed up and replaced macports' libiconv.2.dylib with the patched one. You should only need to do this once.
I don't know why the crash at startup but it doesn't read as any wrong libiconv version errors that I've seen.

The missing Adwaita icons issue is not on your end, it is a problem in the src.
@Partha1b yes, re-enabling XD

[2017-05-02 01:20] Benitoite commented on #3847
@Beep6581  I ran a debug build thru gdb (I executed `sudo gdb ˜/repo-rt/build/debug/MacOS/rawtherapee`) , but the crash happens before any information can be triggered:
[code]
resulting in an empty log.txt

[2017-05-02 01:46] Partha1b commented on #3847
@Benitoite When you see the SIGTRAP signal and the gdb prompt returns, please type ```bt``` to get a backtrace.

[2017-05-02 02:23] Benitoite commented on #3847
@Partha1b  I tried deleting all the .cache and .config folders for RawTherapee*, now getting this...

[code]

Attempting to launch from command line looks like this...
[code]

[2017-05-02 03:09] Benitoite commented on #3847
Maybe I have too many jpeg codes.  btw `port info jpeg` reports:
[code]
  Built again after attempting to uninstall all of them via `port` and re imported just the jpeg package.
At this point I'm able to run the debug version directly ˜/repo-rt/build/debug/MacOS/rawtherapee and it starts up but running thru gdb always crashes. The terminal window does collect some information, I don't know if it's

[2017-05-02 03:56] Benitoite commented on #3847
@ion12 happy to report uncommenting that line did make the triangles show up in the release build I just made...
With the debug build I was playing with earlier, there was no problem with the triangles.

So, I was able to `make macosx_bundle` a working zip (with triangles) if I edited the same line in `executable_loader.in`   before invoking that command. https://filebin.net/q9oh76kznl8rq5an/RawTh

[2017-05-02 09:42] Benitoite commented on #3824
Here is a working mac build with openmp enabled.
https://filebin.net/q9oh76kznl8rq5an/RawTherapee_OSX_10.9_64_5.0-r1-gtk3-475-g7553d86b.zip

[code]

[2017-05-02 11:38] Beep6581 commented on #3824
@Benitoite are you HIRAM in Discuss? Can someone confirm that the build works well?

[2017-05-02 13:01] Benitoite commented on #3824
Yep that was me...

[2017-05-02 13:35] Partha1b commented on #3824
@Benitoite & @Beep6581 Yes, I think it works. I don't know about "well", since I just downloaded and made sure it starts. I have not down any testing at all.

[2017-05-02 14:20] maddin200 opened #3853 "unreachable code"
\rtexif\pentaxattribs.cc line 1294

memcpy (buffer, t->getValue(), 30);

[2017-05-02 21:13] Hombre57 commented on #3691
@gaaned92 @heckflosse @Beep6581 @agriggio I think that it's complete now. So if no one objects, I'll merge in 2 days.

[Edit: sh.. ! I mistakenly sent a message to Adam instead of Ingo... Sorry]

[2017-05-02 21:22] Hombre57 commented on #3469
@Desmis @Beep6581 Any suggestion on what to do with this patch ? Is the result / trade-off acceptable for you ? It fix artifact on very specific images and make the denoising a little bit stronger on all images (AFAIK). It would be nice to have your though on your own test.

[2017-05-02 21:26] Beep6581 commented on #3469
I have not tested this properly yet. Prefer to leave it for 5.2.

[2017-05-02 21:28] Beep6581 commented on #3691
@Hombre57 could I ask you to merge today if you feel it's ready? The reason is that we're behind schedule and being in dev gets it more testing.

[2017-05-02 22:00] Hombre57 commented on #3691
@Beep6581 Done.

[2017-05-02 22:09] heckflosse commented on #3469
@Beep6581 Agreed

[2017-05-03 06:14] Desmis commented on #3469
Agreed

[2017-05-03 06:41] agriggio opened #3854 "Rename "Noise Reduction -> Quality" to "Strength""
Rationale: "quality" is subjective -- and FWIW I almost always prefer "standard" over "high". I think "strength" is a more appropriate description here. It is also less confusing for users (e.g. search the pixls.us forum for questions about this).

Opinions?

[2017-05-03 06:51] gaaned92 commented on #3691
@Hombre57 on W10  dev branch builds and run ok.
RawTherapee_dev_5.0-r1-gtk3-483-gedfea689_WinVista_64 uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-05-03 08:18] Beep6581 commented on #3854
RawPedia:

"High" makes two noise reducing passes, each one with a different algorithm, for higher quality at the cost of processing time.
You can select in "Preferences > Performance & Quality" the number of levels for the wavelet:
No: no extra level
One level or two levels: add this number to the referenced one. This increases the processing time, but also improves the chromatic noise processing

[2017-05-03 09:19] agriggio commented on #3854
That could do. But then, why is the selection partially in the preferences and partially in the pp3? What about "Number of passes", going from 1 to 3, and remove the entry in preferences?

[2017-05-03 09:39] Beep6581 commented on #3854
Coming up with a good solution requires knowing for sure how this works, and the statement in RawPedia is too vague to give me certainty. It would need to be verified in the code.

Exactly. Seems like a design issue which went unnoticed.
My suggestion is to see whether it works as advertised, specifically two things:
1. whether it does successfully remove "ugly noise packets" (I assume that means

[2017-05-03 10:58] Desmis opened #3855 "Impossible to merge "locallab_dev" with "dev" last commit "edfea68""
All is in the title :)
 Process
* git fetch --all
* git checkout dev
* git pull
* git checkout locallab_dev
* git merge dev -m "merge with dev"

The system says me : conflicts with "Preferences.cc", "options.h", "main.cc" . I solved this conflicts (easy)

Then:
1) I run:
[code]
2) I reexecute Cmake
Same error message

What I am missing ? what to do ?

Jacques

[2017-05-03 11:24] heckflosse commented on #3855
@Desmis Hello Jacques, I will take a look.

Ingo

[2017-05-03 11:52] Desmis commented on #3855
@heckflosse
Ingo
Thank you very much :)

[2017-05-03 11:57] heckflosse commented on #3855
@Desmis
Jacques, shall I push or post a patch?

[2017-05-03 12:16] Desmis commented on #3855
@heckflosse

You can push :)

Thank you again.
Jacques

[2017-05-03 12:18] heckflosse commented on #3855
@Desmis
I pushed.
De rien :)

[2017-05-03 12:36] Desmis commented on #3855
@heckflosse

Ingo
Compiles with no problem, Seems to run fine :)

[2017-05-03 12:39] heckflosse commented on #3855
@Desmis
Jacques, great. I close the Issue as it's solved.

[2017-05-03 12:39] #3855 closed, assigned to nobody

[2017-05-03 12:57] heckflosse commented on #3855
@Desmis
Jacques,
Can I push a 'better' patch for the crash you fixed yesterday?

[2017-05-03 13:13] Desmis commented on #3855
No problem, you can :)

2017-05-03 14:57 GMT+02:00 Ingo Weyrich <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966
http://jacques.desmis.perso.neuf.fr/

[2017-05-03 13:22] heckflosse commented on #3855
pushed

[2017-05-03 13:38] Desmis commented on #3855
@heckflosse
Works fine :)
Thank you

I think I'll pushed this change, "initialize  buflight = 0", to others process :)

[2017-05-03 13:49] heckflosse commented on #3855
@Desmis

[2017-05-03 15:27] Benitoite commented on #3847
At this point I'm just wondering if the line could be uncommented or could it be made into an Apple conditional statement?

[2017-05-03 15:30] Benitoite opened #3856 "5.1 locallab_dev build for Mac OSX"
Just wanted to share this locallab_dev Mac OSX build, as I thought this would be a nice tool to have in one's toolbox.

https://filebin.net/rpwgtfra4z85d48y/RawTherapee_OSX_10.9_64_5.1-231-gd204369f.zip

[code]

[2017-05-03 15:30] Desmis commented on #3855
@heckflosse

Ingo

Done :)

[2017-05-03 15:38] diethardsteiner opened #3857 "Pictures are scaled on Wayland"
version: 5.0-r1-gtk3
source: from github
OS: Fedora 25

When I open a picture in RawTherapee it is scaled (a rough guess: scaled 2x). This might be in line with the issue explained [here](https://github.com/gnumdk/lollypop/issues/582).
Attached a screenshot which compares UFRaw's presentation of the same picture. Both pictures are shown at original size (100%).
![screenshot from 2017-05-03 16-14-2

[2017-05-03 15:42] diethardsteiner opened #3858 "Sigma DNG pictures are rendered with a very thick black border"
version: 5.0-r1-gtk3
source: from github
OS: Fedora 25

When I open a Sigma DNG picture in RawTherapee, it is rendered with a very thick black border. On the top there is an additional thin red line and on the right an additional thin green line. Even after exporting the picture to JPEG, these symptoms persist. UFRaw has the same problem, Darktable seems to be the only one which isn't affected. Sc

[2017-05-03 16:00] heckflosse commented on #3855
@Desmis
Jacques, cppcheck gave this on locallab_dev

[code]
Typo?

[2017-05-03 16:03] TooWaBoo commented on #3857
Are you using a hires monitor? The are some issues with RT and hires monitors.

[2017-05-03 16:03] heckflosse commented on #3858
@diethardsteiner I guess this is already fixed in dev, but to be sure could you please uplolad a file to filebin.net and post the link here?

[2017-05-03 16:08] TooWaBoo opened #3859 "What is RT-cli???"
After compiling RT from the repository I got  an extra file called "rawtherapee-cli.exe"
What is it for?

Version: 5.0-r1-gtk3-483-gedfea689
Branch: dev
Commit: edfea689
Commit date: 2017-05-03
Compiler: gcc 6.3.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags: -mwin32 -m64 -mthreads -msse2 -std=c++11 -march=native -Werror=unused-label -fopen

[2017-05-03 16:09] agriggio commented on #3859
see #3691

[2017-05-03 16:09] #3859 closed, assigned to nobody

[2017-05-03 16:16] Desmis commented on #3855
@heckflosse

Ingo
This is an error...I'll change immediatly
hue > -3.15f && hue > -2.f
by hue > -3.15f && hue < -2.f

Thank you
Jacques

[2017-05-03 17:08] diethardsteiner commented on #3857
Yes, I am using a Dell XPS with a QHD+ display. It might be a problem with RT's high res display support (I thought this first as well), but I thought it is worth motioning the scaling differences with Wayland as well (as highlighted in the referenced ticket)

[2017-05-03 17:12] ion12 commented on #3847
Sorry for not responding sooner, a bit busy this week.
@Benitoite Didn't have time to do an exhaustive check, but your build seems to run fine on my machine.
You are probably missing @Partha1b's cairo patch, which we never got around to including in the source code or the rawpedia instructions. Still not a 100% sure if it's needed when compiling against macports' dependencies and didn't have time

[2017-05-03 17:13] ion12 commented on #3847
@Beep6581 @Partha1b
There are still some library/resource linking issues I want to be absolutely sure are set right.
I also think the `pixbuff` and `im-module` loaders cache files can/should be re-written to make them portable.
I'll try to get to it over the weekend or next week, as soon as I have some spare time.

I finally have access to a spare machine, and I will test everything from scratch o

[2017-05-03 17:17] diethardsteiner commented on #3858
@heckflosse You can find the file [here](https://filebin.net/vds5ik4z18st360w). It's a rather large file.

[2017-05-03 17:23] Beep6581 commented on #3856
Screenshot:
![8b1abf048502697c4d69047accab1e1af2243b38](https://cloud.githubusercontent.com/assets/5844619/25672954/ffd0d308-3035-11e7-94f9-c91accf73553.jpg)

[2017-05-03 17:28] Beep6581 commented on #3847
@ion12 good to hear.

I advertised @Benitoite 's build in Google+ https://plus.google.com/b/106783532637761598368/+rawtherapee/posts/ZyNwHYpA564

[2017-05-03 17:39] Beep6581 commented on #3857
Duplicate of #3547

[2017-05-03 17:39] #3857 closed, assigned to nobody

[2017-05-03 17:39] heckflosse commented on #3858
@diethardsteiner Thanks for the file. I was wrong. It's only fixed for DNG from SD Quattro H :(
@iliasg any idea?

[2017-05-03 17:40] Beep6581 commented on #3795
No progress, closing.

[2017-05-03 17:40] #3795 closed, assigned to nobody

[2017-05-03 17:43] Beep6581 commented on #2703
Expired links and outdated RT version, closing.

[2017-05-03 17:43] #2703 closed

[2017-05-03 17:43] #3779 closed, assigned to nobody

[2017-05-03 17:44] Beep6581 commented on #3767
What is the status here?

[2017-05-03 17:50] Hombre57 commented on #3843
Merged.

[2017-05-03 17:50] #3843 closed, assigned to Hombre57

[2017-05-03 18:02] Beep6581 commented on #3687
All known requirements for RawTherapee 5.1 have been satisfied. If there is anything you feel should go into this release, please speak now.

I will branch off and tag RawTherapee 5.1 RC1 (release candidate 1) tomorrow, and if no serious issues arise then we will release 5.1 final next week.

[2017-05-03 18:48] ion12 commented on #3856
@Benitoite Thanks for sharing! 👍

[2017-05-03 18:50] agriggio commented on #3687
:+1:

[2017-05-03 19:04] rogerxxxx opened #3860 "Nikon D5600 DCP Color Profile"
Here I'm posting a few X-Rite ColorChecker Passport images for the Nikon D5600.

I'm now submitting sun exposure images for each of my recently purchased Nikon standard and zoom lenses.  (AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR standard; AF-P DX NIKKOR 70-300mm f/4.5-6.3G ED VR zoom.)

I thought of using the Ohio State Trooper rear vacant parking lot as I figured that would be the most color neutral

[2017-05-03 19:06] rogerxxxx commented on #3860
Completed uploading.

[2017-05-03 19:13] Floessie commented on #3767
Fixed, tested, merged. Closing.

[2017-05-03 19:13] #3767 closed, assigned to nobody

[2017-05-03 19:52] Benitoite commented on #3847
@ion12 @partha Yes I am using macports and do still have the infamous cairo bug in my latest builds(4 months ago I found a jpg generated by google earth that crashes RT) https://filebin.net/mquyuao4lbmn8soq/cuChi2016school-Sat.jpg

[2017-05-03 20:10] Benitoite commented on #3856
@ion12 no prob, now up to Version: 5.1-231-gd204369f

[2017-05-03 20:28] diethardsteiner commented on #3858
Thanks for looking into this. That's interesting! I hope there is an easy solution to this.

[2017-05-03 20:35] Beep6581 commented on #3860
@rogerxxxx fingernails tend to leave marks quite easily.

Don't worry too much about nearby trees, the direct sunlight should overpower their reflected light, as long as you're not surrounded by trees.

@rogerxxxx problems with your shot:
* The lens used is low quality, and being used at f/4.8 amplifies the following points:
* The relevant part of the chart is not in the center of the frame, which

[2017-05-03 21:17] Benitoite commented on #3847
@ion12

[code]
Did that and commented-out build ran fine as you suggested.

[2017-05-03 21:46] rogerxxxx commented on #3860
Yup, I realized after returning, I negated to use F8.  (I'm used to getting low-light exposures with aperture wide open.)

Ah, I didn't realize after reading the instructions, only the 24 patches are relevant or the right side only!  And brown, upper left...  I see this further down within the instructions page now.  (I wanted to help with making some of the documentation more grammatically correc

[2017-05-03 22:01] Beep6581 commented on #3860
No, that makes it more prone to vignetting issues (and focus issues if the chart is not perpendicular). Filling just the center 1/3rd of the frame (not more and not less) as in my example screenshot works well.

As I wrote in the forum, that is not necessary. Unless you use some very old-technology lens which has color casts, in which case the DCP will work fine for you but should not be distribut

[2017-05-03 22:14] ion12 commented on #3847
Thanks @Benitoite. I hope to get back to this soon.

[2017-05-03 22:17] rogerxxxx commented on #3860
nikon_d5600_tungsten_55mm-dsc_1891.nef
https://filebin.net/67ro3sb0qydgkyzi

Taken in my bedroom with the bed (background) having a neutral gray quilt, with a wall of Roxul Safe n' Sound red plastic batts neutralized using a gray tarp. (don't ask...)  I used two 60W GE non-tinted/clear incandescent (AKA tungsten) bulbs within a ceiling fan, focused upon the color target to further prevent (likely

[2017-05-03 23:03] Beep6581 commented on #3860
@rogerxxxx this shot is good. The one main area of improvement is image noise - the shot is at ISO800 and it's underexposed by more than 1 stop:
![imgur-2017_05_04-01 00 44](https://cloud.githubusercontent.com/assets/5844619/25685066/321b91c0-3065-11e7-981f-27a2354064b1.png)

The daylight shot had the same underexposure.

The histogram on the camera does not show the values of the real raw data, s

[2017-05-04 00:55] rogerxxxx commented on #3860
If the exposure is under by greater than one, then I'm completely surprised as I almost always use Manual Mode explicitly except for auto-focus and auto-exposure, usually setting the auto-exposure to the 18% gray patch, and the auto exposure camera light meter is showing almost the exact middle using the minimum 1/3 increments.  (Using Program Mode or full auto mode tends to notch the ISO level un

[2017-05-04 01:03] rogerxxxx commented on #3860
filebin.net keeps failing, "Failed with status 503"

Weather forecast is calling for rain for the next 5-7 days here (80-90% chance), all the way up until Sunday with 30% chance.

In the meantime, I'll continue attempting to upload this one (seemingly perfectly exposed) image file later on.  Once done, I'll pose the filebin.net URL.  And later in the week, I'll reacquire the sunlit exposure, again

[2017-05-04 04:22] rogerxxxx commented on #3860
Odd during building the DCP, dcamprof-1.0.5 refused my tungsten.tif profile, but accept my cleaned-up (straightened & perception) close-up & lower F-stop sunlight.tif profile.  Reverted to using a close-up tungsten & lower F-stop tungsten.tif, and everything built but with likely some ignored warnings.

Utilizing my recently built DCP profile, my DCP profile appears to work as the colors are match

[2017-05-04 07:57] agriggio commented on #3858
@heckflosse I managed to the editor window working with this patch and the entry below in `camconst.json`:

[code]

User `camconst.json`:

[code]

However, there are still issues with the thumbnail in the file browser. I have no time right now to dig deeper, but I hope the above might help...

[2017-05-04 09:38] heckflosse commented on #3858
@agriggio Wasn't there an issue with canon mraw/sraw files which we solved with the is_foveon in rawimage.cc?

[2017-05-04 09:42] agriggio commented on #3858
@heckflosse I honestly don't know. The intent of the above is to (try to) provide some hints for someone with better knowledge of that part of the code to find a proper fix. I assume that the if condition is there for a reason -- I just wanted to point out that there seem to be some missing corner cases to handle...

[2017-05-04 10:40] heckflosse commented on #3858
@agriggio I found it : cc4e7be2

[2017-05-04 11:40] agriggio commented on #3858
@heckflosse thanks for the link. What about relaxing the `is_foveon` check a bit, e.g.:

[code]

or something like that? (Apart from this, there is still the thumbnail issue)

[2017-05-04 11:57] heckflosse commented on #3858
@agriggio Your hint was very good. I think this one is save:
[code]
Combined with your camconst entry it looks good :+1: and is save to include for 5.1
Any objections to push?

There are still the thumbnail issues but these should be solved after 5.1 I think.

[2017-05-04 12:01] agriggio commented on #3858
Ok for me, but at least we should zero-out the extra rows/columns in the thumbnail. Otherwise this is what I get with the above patch at the moment:

![screenshot_20170504_140019](https://cloud.githubusercontent.com/assets/11982086/25702614/1e273508-30d2-11e7-9d75-b21070c72674.jpg)

[2017-05-04 12:31] agriggio commented on #3858
Here's a trivial patch to zero out the remaining rows/columns.

[code]

Of course, this is just a temporary hack (maybe enough for 5.1?) which should be replaced by the proper fix when time permits...

Opinions?

[2017-05-04 12:42] Beep6581 opened #3861 "Curve pipette misbehaving when using new zoom levels"
1. Download http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D600%20daylight.nef
2. Open, apply neutral.
3. Custom curve, enable pipette
4. Zoom to fit
5. Hover over the bottom gray row of patches. You should see the curve position indicator (vertical line) stay static as you move your cursor over a single patch, and the position of the indicator should coincide with the value of the

[2017-05-04 12:48] heckflosse commented on #3858
@agriggio I tried your patch but I still get coloured borders.

[2017-05-04 12:51] heckflosse commented on #3861
Confirmed

[2017-05-04 12:51] agriggio commented on #3858
@heckflosse ok, then I was  (as usual :-) too quick...

[2017-05-04 12:52] agriggio commented on #3861
investigating...

[2017-05-04 12:53] Beep6581 opened #3862 "Curve pipette applies node without ctrl"
1. Open any raw.
2. Custom curve, enable pipette
3. Regardless of zoom level, left-click in the preview. A node is placed on the curve. This should only happen when ctrl is pressed while clicking, but it happens without ctrl. This is a problem if you want to pan the preview without placing a node. Bug 1.
4. Furthermore, bug 2, if I pan the preview any amount and then simply move the mouse cursor f

[2017-05-04 12:59] heckflosse commented on #3862
confirmed both bugs

[2017-05-04 13:16] #3618 closed

[2017-05-04 13:44] Beep6581 commented on #3860
The exposure and histogram the camera shows do not represent the real raw data.

In fact what they say is to expose to the right. I think both are misguided. If shooting raw, best to learn how the embedded JPEG's histogram relates to the real raw histogram and expose optimally taking that into account.

Note that this is not your "fault", it's just the way it works.

The DCP's job is to show accur

[2017-05-04 14:26] agriggio commented on #3861
I just pushed a fix, please confirm (reopening in the meantime)

[2017-05-04 14:29] agriggio commented on #3858
@heckflosse can you try this instead?

[code]

[2017-05-04 15:06] rogerxxxx commented on #3860
OK.  I already understand most of the dynamics you've briefly stated above, as I've read the Rawtherapee manual and researched many forum posts.  Excellent and well shortly stated again!  (No pun was taken, as these forums are meant to educate others.)  However, I'm further flabbergasted by the difference in RAW vs JPEG histogram dynamics, but not completely unsurprised.

Now I understand why me c

[2017-05-04 15:13] heckflosse commented on #3858
@agriggio Now the borders are black, fine :+1: Can you include my patch from above and your camconst entry and push please?

[2017-05-04 15:18] heckflosse commented on #3861
Fix confirmed. Thank you :+1:

[2017-05-04 15:26] agriggio commented on #3858
done - please test that I did not mess anything up, thanks! :-)

[2017-05-04 15:50] heckflosse commented on #3858
Tested. Works fine :+1:

[2017-05-04 15:58] Beep6581 commented on #3862
@Hombre57 any chance you could look into this for 5.1?

[2017-05-04 16:04] Beep6581 commented on #3860
@rogerxxxx if bandwidth is a problem, you can examine the files yourself and upload the best one. Simply open each raw in RawTherapee, and
* either apply Neutral, then pick the white balance off one of the neutral gray patches, copy and paste this profile to all photos and see which one has the smallest gap on the right side of the normal histogram without any clipping of the white patch,
* or jus

[2017-05-04 17:50] heckflosse commented on #3855
@Desmis
Jacques, I started working on optimizations of locallab_dev. I already managed to reduce TM_Local processing time by 15% in my local repo, maybe more to come. As I read on pixls.us you will be afk next week. Maybe that's a good opportunity to continue my optimizations without leading to coding conflicts. What do you think?

Ingo

[2017-05-04 18:03] Desmis commented on #3855
Ingo
Yes you can.
Thank you

[2017-05-04 19:11] iliasg commented on #3858
@heckflosse @agriggio Hi guys, late to the party but .. if there is time I'd like some changes ..

Currently, there is the "Sigma hack" in https://github.com/Beep6581/RawTherapee/blob/b36aa29c369e2b040344b7d78a3622c83bfee5ea/rtengine/rawimage.cc#L741
which complicates things a lot

- Pushes us to strange "raw_crop" values in camconst.json because the left/top margins are applied twice.
- I suspect

[2017-05-04 20:01] heckflosse commented on #3858
@iliasg We will test. The reason to keep the hack was that we are one week (maybe a little more) before releasing 5.1 and don't want to change much.

[2017-05-04 20:06] agriggio commented on #3862
@Beep6581 @Hombre57 I'm taking a look

[2017-05-04 20:32] agriggio commented on #3862
I just pushed a candidate fix. Please confirm it works as intended

[2017-05-04 21:04] heckflosse commented on #3862
Fix confirmed

[2017-05-04 22:05] Beep6581 commented on #3861
Fix confirmed, thank you.

[2017-05-04 22:08] Beep6581 commented on #3862
All three bugs confirmed fixed, thank you again.

[2017-05-05 09:12] diethardsteiner commented on #3858
Thanks for resolving this so quickly. Looking forward to the 5.1 release.

[2017-05-05 09:14] #3861 closed, assigned to agriggio

[2017-05-05 09:16] agriggio commented on #3687
I just noticed #3769 is still open...

[2017-05-05 13:51] heckflosse opened #3863 "Auto Levels completely wrong for monochrome raw files, sigma raw files and canon mraw/sraw files"
While testing #3858, I detected that for some Sensors Auto-Level is completely wrong.
Especially for foveon Sensors and Leica Monochrome sensors. Should be also wrong for Canon mraw/sraw, but for these I don't have test files atm.

Suggested Fix:

[code]

[2017-05-05 14:12] heckflosse commented on #3863
I found some mraw files. [Just searched for mraw here.](https://raw.pixls.us/) As expected before patch auto-levels for mraw files was wrong too. After patch it's much better.

[2017-05-05 14:43] agriggio commented on #3769
I pushed a tentative fix. Please test

[2017-05-05 16:02] heckflosse commented on #3769
@agriggio Works fine here on win7/64 :+1:

[2017-05-05 16:03] heckflosse commented on #3863
Any objections to push this for 5.1?

[2017-05-05 17:15] heckflosse commented on #3687
I added #3863 because there is a safe patch

[2017-05-05 17:34] agriggio commented on #3863
for me :+1:

[2017-05-05 17:48] Hombre57 commented on #3687
@agriggio Do you want to solve #3769 or should I do ?

[2017-05-05 18:25] Hombre57 commented on #3769
@agriggio I feel a bit bit ashamed about this issue. I'm the initial coder of that class, looked for 2h where that bug could be, but had no clue of the existence of `Surface::flush()` and `Surface::mark_dirty()`. How did you get to this ?

Thanks for the clean fix ! 👍

[2017-05-05 19:30] #3863 closed, assigned to heckflosse

[2017-05-05 19:47] agriggio commented on #3769
@Hombre57 don't worry, nothing to feel ashamed! I just did the usual, tracked it down with gdb, then read the code, then read the docs, and a bit of luck ;-)

[2017-05-05 20:29] heckflosse commented on #3773
@Beep6581 Still valid?

[2017-05-05 20:44] heckflosse commented on #3764
@agriggio Can we close this? Seems to be fixed in dev.

[2017-05-05 20:45] #3709 closed, assigned to nobody

[2017-05-05 20:55] agriggio commented on #3764
yes I think so

[2017-05-05 21:10] heckflosse commented on #3764
Ok

[2017-05-05 21:10] #3764 closed, assigned to nobody

[2017-05-05 23:56] heckflosse commented on #3650
Still valid or can we close this?

[2017-05-06 03:17] waxhead commented on #3769
Just built dev and ran RT quickly to confirm, and there it is, gradient colours showing in the split toning tool.

Many thanks for fixing it.

[2017-05-06 12:54] #3769 closed, assigned to Hombre57

[2017-05-06 12:59] agriggio commented on #3761
Any opinions on this? I actually use the feature so I'd vote for it to stay...

[2017-05-06 13:00] agriggio commented on #3736
can we close this? the docs are in rawpedia

[2017-05-06 13:01] #3727 closed, assigned to nobody

[2017-05-06 13:02] TooWaBoo commented on #3761
You can close it if this feature makes sense for you.

[2017-05-06 13:02] agriggio commented on #3685
I still see this from time to time. Haven't been able to identify the exact reason yet

[2017-05-06 16:30] 10110111 opened #3864 "Default language is the system one"
I've compiled RT 5.0-r1-gtk2 cloned from this git repo (`gtk2` branch) on my BLFS, and started it successfully. But I was surprized to see that its GUI doesn't speak the system language, which I have set to US English via `LANG` environment variable. Instead it talks to me in Russian, which is only present in `LC_CTYPE`. Here's what `locale` says:
[code]
`LC_CTYPE` isn't supposed to be the system

[2017-05-06 16:57] agriggio commented on #3864
confirmed. I think your analysis is correct.

[2017-05-06 17:20] heckflosse commented on #3685
I can reproduce it 100% this way:

Start rt with empty queue
open amsterdam.pef
press add to queue button in editor
switch to queue

[2017-05-06 17:40] agriggio commented on #3685
thanks Ingo, this helps. I'll try to take a look

[2017-05-06 17:57] Beep6581 commented on #3769
Fix confirmed, thank you!

[2017-05-06 18:06] Beep6581 commented on #3773
Yes.
[code]
GTK+ 3.22.12 now.

[2017-05-06 18:07] Beep6581 commented on #3687
I will be unavailable tomorrow, so I will try to release RC1 on Monday. Great to see more bug fixes!

[2017-05-06 18:09] #3736 closed, assigned to Beep6581

[2017-05-06 18:12] Beep6581 commented on #3761
It's a useful feature with no other way of getting the same result. Usability could be improved, but I'll open a new issue for that at some point.

[2017-05-06 18:12] #3761 closed, assigned to nobody

[2017-05-06 18:14] Beep6581 commented on #3685
I still cannot reproduce. Maybe it's related to the window and panel sizes or to the information included in the thumbnail (image name, date, focal length, font size for this info, etc.)?

[2017-05-06 18:26] heckflosse commented on #3685
Maybe it also helps to know how it's not reproducible:

Start rt with empty queue
Switch to queue
Switch to file browser
open amsterdam.pef
press add to queue button in editor
switch to queue

[2017-05-06 19:24] agriggio commented on #3864
just pushed a candidate fix, please test -- though I believe it should be ok

[2017-05-06 19:29] agriggio commented on #3685
@heckflosse Ingo, it seems I spoke too soon (again :-)
I can't reproduce here with your instructions. Can you be a bit more detailed? What processing profile are you using? Does it happen if you set it to neutral? What layout do you use for RT? Maybe you can attach screenshots of all the steps?

[2017-05-06 19:37] 10110111 commented on #3864
Cherry-picked it to `gtk2` branch, and it works OK here.

[2017-05-06 19:42] heckflosse commented on #3685
@agriggio Alberto, here are some screenshots. I copied amsterdam.pef to a new folder and applied neutral profile. Then closed and started rt with an empty queue:

![dt_01](https://cloud.githubusercontent.com/assets/13733487/25775383/4892caf4-32a4-11e7-9406-a732d23839d2.png)

Opened amsterdam.pef from file browser:

![dt_02](https://cloud.githubusercontent.com/assets/13733487/25775392/80cee376-32a4

[2017-05-06 19:56] agriggio commented on #3685
thanks, I'll try again later

[2017-05-06 20:20] heckflosse commented on #3784
@pygmalionshell Please excuse that I'm kind of late answering this. There was so much stuff to do for the upcoming 5.1 for me (and other devs too).

I looked at the code. It's almost 3700 lines which also includes a lot of command line processing code (about 400 lines) which I will have to dig into to port it for rt. Not that I don't want to do that (I also ported the libraw code for fuji compress

[2017-05-06 21:20] #3864 closed, assigned to nobody

[2017-05-06 21:21] agriggio commented on #3685
still no luck... :-/ I'll try other ways of reproducing, but there's a high chance this is not going to be fixed for 5.1

[2017-05-06 21:30] heckflosse commented on #3698
Closed as stalled

[2017-05-06 21:30] #3698 closed

[2017-05-06 21:39] praemdonck opened #3865 "WB is causing strange artifacts in darker areas of the picture"
I'm processing raw images of film negatives. I followed instructions from http://rawpedia.rawtherapee.com/Negative.

In general I'm getting good results, the more I overexpose the picture of the negative, the better the colours, however when I overexpose too much I'm getting artifacts in the darker areas of the picture. Changing the White balance sliders has an impact on the artifacts

Image Showi

[2017-05-06 23:00] heckflosse commented on #3685
@agriggio Alberto, I see no problem not fixing that for 5.1 because imho it's only a temporary problem (e.g. after restart of rt queue shows a correct thumb and it also has no influence on final output). And I really appreciate your efforts to solve that issue :+1:

[2017-05-07 06:07] Desmis opened #3866 "New branch "localrgb" - test for "local exposure" and "local white balance""
Just before I was absent for a few days (I come back May 16th),  I just push the first version of "localrgb" usable.

It only concerns "Exposure", and of course it has only one control point.

The goal here is to test the algorithm. :)

Thank you

[2017-05-07 13:17] heckflosse commented on #3685
@agriggio Alberto, when I force refreshThumbnailImage() as in this hack it works fine:

[code]

[2017-05-07 17:17] heckflosse opened #3867 "Microcontrast"
Because Microcontrast tool works quite good for pixel shift files I started to optimize it.
While doing this I found a possible bug. Have a look at [this loop](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipsharpen.cc#L709):

[code]

It's obvious that the last iteration of the loop which fulfills the condition:
`if (((v < LM[offset2]) && (signs[n] > 0)) || ((v > LM[offset2]) && (signs

[2017-05-08 01:20] pygmalionshell commented on #3784
Hi @heckflosse thanks for your answer! I'll contact the developers, they may help you on what you need in their free time.

[2017-05-08 07:58] Desmis commented on #3867
@heckflosse

Ingo
I am not at home and it is difficult for me to test. But, I was inspired by the work of Manuel LLorens with his agreement, it was in 2010 or 2011 , I think (before that date we were in a project hosted in Spain where other developers like Emil Martinec, Guillermo Luijk, ...).

I added features, but the code base with the loop is the same ... the one found on the site of M.LLorens

[2017-05-08 11:22] Beep6581 commented on #3685
@heckflosse could you upload your options file?
Can you reproduce it in Sabayon?

[2017-05-08 11:51] Beep6581 commented on #3865
@praemdonck upgrade to RT5 as 4.2 is very old and unsupported. The artifacts are still reproducible in RT5 though.

To reproduce, download https://filebin.net/y9v1etj6ecrot9lt and open the raw file, apply neutral, select the negative DCP and enable the DCP curve. Improving the white balance (Auto) amplifies the problem.

Workaround: fix the exposure compensation, or set highlight compression to 10

[2017-05-08 11:59] Beep6581 opened #3868 "LG Mobile LG-H815 DCP"
LG Mobile LG-H815 dual-illuminant DCP and source files:
http://rawtherapee.com/shared/test_images/colortarget/LG%20Mobile%20LG-H815%20daylight.dng
http://rawtherapee.com/shared/test_images/colortarget/LG%20Mobile%20LG-H815%20daylight.dng.pp3
http://rawtherapee.com/shared/test_images/colortarget/LG%20Mobile%20LG-H815%20tungsten.dng
http://rawtherapee.com/shared/test_images/colortarget/LG%20Mobile%2

[2017-05-08 12:03] #3868 closed, assigned to Beep6581

[2017-05-08 12:17] Beep6581 commented on #3655
Ping @iliasg

[2017-05-08 16:43] heckflosse commented on #3867
I created a [microcontrast](https://github.com/Beep6581/RawTherapee/tree/microcontrast) branch with a lot of optimizations.

With old code microcontrast processing time at default settings for a 36 MP file at my system is ~3200 ms, with new code it's ~880 ms.
There can be very small differences in output caused by optimized calculations and a solved data race.

Ingo

[2017-05-08 21:25] Hombre57 commented on #3862
May I reopen the issue to propose another fix ?

https://gist.github.com/Hombre57/e7ed68751b13835304795e1b0beabe74

I'd prefer to keep the modifier key for pipette in `cropwindow.cc`, if you don't mind.

[2017-05-08 21:27] praemdonck commented on #3865
@Beep6581 Thanks for your response. Adjusting the exposure on RT 5 does the trick, (this is not the case with RT 4.2).

Just an observation: on RT 4.2 the image gets brighter when moving exposure compensation to the right, while on RT 5 it works in the opposite direction

[2017-05-08 21:27] #3865 closed, assigned to nobody

[2017-05-08 21:40] iliasg commented on #3655
I think that it's too much conservatism to cut 1 stop from highlights just because there is a rare case that we take magenta highlights (on long exposures and strange WB). I vote for being just slightly conservative and leave the users to correct rare cases with "White-point correction"
So for both LG smartphones  we need in camconst.json .. (feel free to interchange D65 with A matrix if it is val

[2017-05-09 00:00] davidmilligan commented on #3784
@heckflosse, I ported the cr2hdr code into my app MLVFS. I had to strip out a lot of the unnecessary stuff, made some changes to eliminate the fancy GCC only stuff (so it would compile with clang/llvm), made the code thread safe, and tried to do some general cleanup and organization. You might find that version of the code useful for purposes. The only issue would be any changes made upstream sinc

[2017-05-09 02:37] rogerxxxx commented on #3860
Went back to the parking lot, and used the standard AF-P 18-55mm VR lens with this D5600.  (The AF-P 70-300mm plastic mount already broke.)

D5600 AF-P 18-55mm - Sunlight
DSC_2122.NEF (Should be renamed to nikon_d5600_sunlight_18-55mm-dsc_2122.nef)
https://filebin.net/y0x3pr7ijoewworm

(Sorry, forgot to rename the file!  I created a checklist, but that computer motherboard is in the shop for repai

[2017-05-09 06:39] agriggio commented on #3862
sure, no problem!

[2017-05-09 06:41] Floessie commented on #3650
@heckflosse I think, we can close it, unless @gwaugh @romandocent raise a plea.

[2017-05-09 08:19] Beep6581 commented on #3865
@praemdonck IIRC it was because the DCP curve was moved before the Exposure tool in the engine pipeline after 4.2.

[2017-05-09 08:58] #3860 closed, assigned to Beep6581

[2017-05-09 08:58] Beep6581 commented on #3860
Looks great @rogerxxxx

https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/dcpprofiles/NIKON%20D5600.dcp
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D5600%20daylight.nef
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D5600%20daylight.nef.pp3
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D5600%20tungsten.nef
http://rawtherapee.com/shared/test_im

[2017-05-09 10:44] gwaugh commented on #3650
I'm OK with closing it.

[2017-05-09 13:20] romandocent commented on #3650
Ok, but it still crashes in 5.

[2017-05-09 13:22] agriggio commented on #3650
@romandocent can you be more specific? which version are you using? which platform?

[2017-05-09 15:38] romandocent commented on #3650
@agriggio all the same 5.0-r1-gtk3, Ubuntu 16.04

[2017-05-09 15:46] agriggio commented on #3650
@romandocent well, that's a released version, before fixing it we need to finish building our time machine :wink:

Joking aside, if you can still reproduce this using the current `dev` head, please let us know.

[2017-05-09 15:52] gwaugh commented on #3650
The stable version in the "dhor ppa" for Ubuntu 16.04 has not been updated since the developers made changes which seemed to correct the problem.

[2017-05-09 15:58] gwaugh commented on #3650
Rawtherapee in "dhor PPA" for Ubuntu 16.04 has not been updated with the development changes that appear to fix the problem. The stable version still crashes.

It seems reasonable that I reopen this until we see a stable version that works in the official download.

[2017-05-09 16:11] Beep6581 commented on #3650
That is not how this works.

Follow these simple instructions to build the latest development version: http://rawpedia.rawtherapee.com/Linux
If the bug is fixed in the latest dev version then we close this issue. If it is not, then follow http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports and provide the complete version information and any other relevant info.

Please leave closing i

[2017-05-09 16:51] rogerxxxx commented on #3860
Thanks for posting the info.  Once my computer is back together, I'll try to figure-out why dcamproof was failing with my tungsten.nef.

Definitely looks like the (or my) D5600 light/exposure meter is indicating at least +2/3 to +1 overexposure during both tungsten & daylight images, with the resulting exposures being -2/3 to -1.0 under-exposured.  Of the 20-30 (bracketed at 1/3) images taken for

[2017-05-09 18:15] Hombre57 commented on #3862
Patch committed to dev.

[2017-05-09 18:15] #3862 closed, assigned to nobody

[2017-05-09 19:48] heckflosse commented on #3784
@davidmilligan Thank for the pointer. Porting your code (less than 2000 lines) seems much easier than the original code (almost 3700 lines) :+1:
Edit: I also appreciate that it compiles with clang/llvm. That will save us some time for mac builds :+1:

[2017-05-09 21:32] reagle commented on #3510
Looking forward to the shortcuts and using 5.1!

[2017-05-10 13:33] Beep6581 commented on #1489
Documented: http://rawpedia.rawtherapee.com/Crop#Custom_crop_ratio
@agriggio can we close?

[2017-05-10 13:47] heckflosse commented on #3867
I [eliminated one loop](https://github.com/Beep6581/RawTherapee/commit/9a1dd0109b6abbda91d4505cfdd23f5617d0af38). Microcontrast processing time at default settings  for a 36 MP file at my system now is ~590 ms

[2017-05-10 13:56] Beep6581 commented on #3660
5.1-rc1 pushed into [`releases-5.1`](https://github.com/Beep6581/RawTherapee/tree/release-5.1) branch. Please revise [`RELEASE_NOTES.txt`](https://github.com/Beep6581/RawTherapee/blob/release-5.1/RELEASE_NOTES.txt), so that I can merge into [`releases`](https://github.com/Beep6581/RawTherapee/tree/releases) and tag in a few hours.

[2017-05-10 14:06] heckflosse commented on #3867
With c856894  processing time now is ~490 ms

[2017-05-10 14:53] agriggio commented on #1489
yes

[2017-05-10 14:58] #1489 closed

[2017-05-10 21:24] Beep6581 commented on #3847
Hi @Benitoite
We just releases 5.1-rc1 http://rawtherapee.com/blog/rawtherapee-5.1-rc1-released
Any chance you could make a new build for macOS? OpenMP-enabled, as before.

[2017-05-10 23:45] Benitoite commented on #3847
Sure @Beep6581
https://filebin.net/619ep8s9ynht6l7q/RawTherapee_OSX_10.9_64_5.1-rc1.zip

[code]

[2017-05-11 10:38] Beep6581 commented on #3847
Thank you, build made public here: https://discuss.pixls.us/t/rawtherapee-5-1-rc1-released/4146?u=morgan_hardwood

[2017-05-11 15:39] TooWaBoo opened #3869 "Adding or changing profiles only takes affect after next start"
How to reproduce
1. Apply "Neutral" to an image
2. Save profile as "Test" -> "Test" won't be shown in the profile combobox
---------------------------------
1. Apply profile "Test" to an image
2. Change anything in profile "Test"
3. Save profile "Test"
4. Apply "Neutral" to the image
5. Load Profile "Test" from combobox -> changes from step 2 are not applied
-----------------------------------
Pro

[2017-05-11 15:57] agriggio commented on #3869
Confirmed. This seems to fix the problem, but I haven't tested extensively to see if there are unwanted side-effects

[code]

[2017-05-11 16:01] agriggio commented on #3869
@Hombre57 maybe you can take a look?

[2017-05-11 17:01] heckflosse commented on #3869
@agriggio Kind of off topic, but I'm curious why your diff does not show the function header.
When I diff using `git diff` I always get the function header in the diff, which I find quite useful. Example:

[code]

[2017-05-11 17:34] Hombre57 commented on #3869
@agriggio Yes, looking now...

[2017-05-11 18:39] agriggio commented on #3869
Ingo, I don't use git. I don't like git :-)
I use mercurial with hg-git

[2017-05-11 18:43] Hombre57 commented on #3869
Patch committed in changset 9e1fc78. Successfully tested here. Please close if OK for you.

[2017-05-12 09:35] Floessie commented on #3687
@Beep6581 @heckflosse I did a GCC 7.1 compile run of current `dev`: Good news, it compiles rather fine! There's only one warning:

[code]

Best
Flössie

[2017-05-12 11:51] heckflosse opened #3870 "Edges tool too strong on diagonals from bottom right to top left"
I found a bug in edges tool which leads to too strong effect on diagonals from bottom right to top left.

Suggested fix:
[code]

Example: left is difference, middle is without fix, right is with fix
![edges_example](https://cloud.githubusercontent.com/assets/13733487/25996925/fe94e7dc-3719-11e7-9e48-19ad45b0b8ec.png)

[2017-05-12 11:59] heckflosse commented on #3687
@Floessie Without a line number it's almost impossible to find the reason for the warning

[2017-05-12 13:19] Hombre57 commented on #3870
Nice catch ! 👍 to commit.

[2017-05-12 21:36] Hombre57 commented on #3859
@TooWaBoo I'll update RawPedia about rawtherapee-cli.

[2017-05-12 21:37] Hombre57 commented on #3691
No bug reported, closing.

[2017-05-12 21:37] #3691 closed, assigned to Hombre57

[2017-05-12 21:38] Hombre57 commented on #3799
Issue #3691 closed, RT-cli is finished. I'll update Rawpedia right now.

[PS] It's already in RT5.1 btw.

[2017-05-12 21:58] Beep6581 commented on #3799
@agriggio sorry about not replying sooner, I must have missed your question. I only add issues which I know are being worked on. As far as I know, nobody is working on such a button, but if *someone* was, wink wink, then by all means!

[2017-05-12 22:44] Beep6581 commented on #3869
Fix confirmed.

[2017-05-13 02:03] ion12 commented on #3847
@Beep6581 I feel really bad for not getting back to this as soon as I had hoped to, but my work deadlines are proving too stressful at the moment and I don't think I'll have time before the date you announced as the next stable planned date :(

Hopefully the builds @Benitoite is providing are working for other users, and the current state of the build scripts is good enough for the release.

I wil

[2017-05-13 06:03] agriggio commented on #3799
@Beep6581 I can work on that, but before I start maybe it could be a good time (after 5.1 is out) to talk about a "global" plan for where RT is going? e.g. if we want to try to refactor the pipeline then this comes later...

[2017-05-13 09:33] #3870 closed, assigned to heckflosse

[2017-05-13 10:15] TooWaBoo commented on #3869
Fix confirmed too. Closing

[2017-05-13 10:15] #3869 closed, assigned to nobody

[2017-05-13 14:07] Beep6581 commented on #3847
I believe that to be the case. It should reduce the stress and let you and other macOS contributors agree to a better and easier to follow build environment for 5.2.

[2017-05-13 17:19] heckflosse opened #3872 "deutsch translation of Pixel Shift controls"
@TooWaBoo I just saw that you used '(Sensor-Matrix)\nFarbinterpolation\n' for 'Pixel Shift (PS)' in 'deutsch' translation file. What's the reason for that?

Ingo

[2017-05-13 20:20] luisfl opened #3873 "raw_crop from user camconst.json file ignored if system camconst has entry"
Fedora 23 fully updated.
RawTherapee, version 5.0-r1-gtk3-502-gabd11da0

I cannot make the user's **camconst.json** file work. I am trying to only apply a crop over the system **camconst.json** file. So, I created a **camconst.json** file in ~/.config/RawTherapee5-dev with the following content:

{"camera_constants": [
    {
        "make_model": "OLYMPUS E-M1",
        "dcraw_matrix": [ 7687,-198

[2017-05-13 22:08] heckflosse commented on #3873
@luisfl Thanks for reporting. I also read the related discussion on dpreview.com. I'll have a look tomorrow :)

Edit: As it's already past midnight, 'tomorrow' means 'today, after I got some sleep' ;-)

[2017-05-13 23:14] Beep6581 commented on #3873
According to my tests, its only `raw_crop` which is ignored in my user file, but `ranges` and `dcraw_matrix` from my user file correctly override the system one.

Interestingly, if the system `camconst.json` has an entry for my camera, _even if that entry has no `raw_crop`property_, then the `raw_crop` from my user `camconst.json` is ignored.

[2017-05-14 00:39] luisfl commented on #3873
My camera does not have raw_crop in the system file either. But if I remove my camera from the system file, the user file is executed properly.

[2017-05-14 02:14] sguyader commented on #3873
Indeed I see the same here, the custom white level in my user camconst file is taken into account, but not the raw_crop.

[2017-05-14 10:37] #3873 closed, assigned to nobody

[2017-05-14 11:45] TooWaBoo commented on #3872
It follows the rules I've used everywhere.
Tool Name -> Subtool Name(1) ... Subtool Name(n) -> Parameter Name

eg.
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/26033380/59e108a4-38ab-11e7-9d71-328c8c86e93d.PNG)

[2017-05-14 12:03] heckflosse commented on #3872
ah, ok. I was just curious

[2017-05-14 12:17] #3872 closed, assigned to nobody

[2017-05-14 13:38] luisfl commented on #3873
Great! I'll test it when the updated RPM package be available in
http://download.opensuse.org/repositories/home:/rawtherapee/Fedora_23/x86_64/
Thanks!

[2017-05-14 14:51] Beep6581 commented on #3845
Evidence https://discuss.pixls.us/t/rawtherapee-cannot-open-files-on-windows-10-x64/4185

[2017-05-14 19:27] Beep6581 commented on #3873
Hi @sguyader , did you get my emails 4 and 1 day ago?
Would you have time to make a Windows build if we release 5.1 tomorrow?

[2017-05-14 20:38] TooWaBoo opened #3874 "Compiling errors"
I tried to compile the latest version of RT and got a bunch of compiling errors.
[Compile Errors.txt](https://github.com/Beep6581/RawTherapee/files/999707/Compile.Errors.txt)

Edit: Ohps, looks like the update to GTK 3.22.**14** I did today is the culprit
Can anybody help me to fix this, please?

[2017-05-14 21:10] Beep6581 commented on #3874
@TooWaBoo just to get it out of the way, could you delete the build folder, then run cmake again, and paste the full log if it fails?

[2017-05-14 21:11] heckflosse commented on #3874
@TooWaBoo Did you only update GTK or sometings else too?

[2017-05-14 21:14] TooWaBoo commented on #3874
@Beep6581
Started new and clean compiling
@heckflosse
I've updated MSYS with "pacman Syu"

[2017-05-14 21:17] TooWaBoo commented on #3874
@Beep6581 here's the log:
[Compile Errors Full.txt](https://github.com/Beep6581/RawTherapee/files/999724/Compile.Errors.Full.txt)

[2017-05-14 21:45] heckflosse commented on #3874
@TooWaBoo

Ok, afaik that means more than just an update of gtk

[2017-05-14 22:32] sguyader commented on #3873
Hi Morgan,
Ok I'll try to make a new build. As I said in the past, it's become quite a
pain for me to make Windows build as I do it in a Virtualbox machine which
gets only part of my already low system resources. Which is is why I always
wait to see if someone else can make a build quickly.
I didn't update my MSYS2 install, so it will be a GTK 3.18 build​.
Sébastien

[2017-05-15 08:23] Floessie commented on #3687
@heckflosse Yep, but the compiler won't give us one. Also only happens with OMP enabled. Might be a false positive. So, never mind.

[2017-05-15 09:18] Beep6581 commented on #3687
Re: https://github.com/Beep6581/RawTherapee/issues/3873#issuecomment-301344516

@sguyader thank you. I asked you for two reasons:
1. when I looked at our Downloads section the most recent Windows build is from you and it works fine,
2. the only other person making Windows builds is @gaaned92 and I received no reply from him.
This is exactly why RT needs more than one person making builds per platf

[2017-05-15 11:31] sguyader commented on #3687
@Beep6581 ok I'll make the next builds as @gaaned92 didn't answer your requests.
I should get a new laptop in the following weeks, sonit will probably be easier for me to make builds for Windows in the future.

[2017-05-15 14:05] Beep6581 commented on #3301
Still valid in 5.1-rc1.

[2017-05-15 14:05] Beep6581 opened #3875 "Segfault on saving PNG"
When I open this image http://rawtherapee.com/shared/test_images/8_bit_chroma_subsampling.png in the Editor and press ctrl+b, RT usually crashes the second time. Sometimes the first time. The queue is set to "Save to folder", to my home dir, though I reproduced it in any dir, including "Other...".

[2017-05-15 14:13] Floessie commented on #3874
@TooWaBoo Could you grep through your `include` dir for `#define[\t ]*__(in|out)` (or whatever your grep's syntax is)? Just a wild guess...

[2017-05-15 14:32] Beep6581 commented on #3875
[code]

[2017-05-15 14:37] TooWaBoo commented on #3874
@Floessie

I've no clue about these things. You need to tell me the exact syntax, please.  :smiley:
[code]

[2017-05-15 15:09] heckflosse commented on #3875
Crash confirmed with release build. With debug build I get this:

[code]

[2017-05-15 15:10] Beep6581 commented on #3301
And no longer valid in 5.1 :)

[2017-05-15 15:13] #3301 closed

[2017-05-15 15:48] Desmis commented on #3866
I just push a change
* Now exposure works fine (I hope)
* White balance local works in Custom mode

But always only one control spot !

To test algorithms (WB is quite complex)
:)
jacques

[2017-05-15 19:25] Beep6581 commented on #3687
RawTherapee 5.1 is released.

@sguyader @Benitoite Could you "git checkout 5.1" and make a build please?

[2017-05-15 21:54] Benitoite commented on #3687
@Beep6581
For macintosh 10.9+
https://filebin.net/kdwcikqfl5k8obdw/RawTherapee_OSX_10.9_64_5.1.zip

[code]
![screen shot 2017-05-15 at 2 44 36 pm-1](https://cloud.githubusercontent.com/assets/17919239/26081127/4d2261f2-397e-11e7-8067-eec63fa96053.jpg)

[2017-05-16 02:10] TooWaBoo commented on #3874
New update of MSYS available which fixes this issue.
Closing

[2017-05-16 02:10] #3874 closed, assigned to nobody

[2017-05-16 06:33] Desmis commented on #3867
@heckflosse

Ingo

I come back from my family !
I just test new branch "microcontrast"

* processing time divided by 4
* no differences (or very very very small)

Very good job :)

Jacques

[2017-05-16 13:32] sguyader commented on #3687
@Beep6581
I just made the new Windows build for RT 5.1: https://filebin.net/n8nqv5cys7491dos

[2017-05-16 14:37] Beep6581 commented on #3687
Thank you! The builds are live, RT5.1 is announced:
http://rawtherapee.com/blog/rawtherapee-5.1-released

[2017-05-16 14:37] #3687 closed, assigned to Beep6581

[2017-05-16 14:59] Partha1b opened #3877 "Windows 5.1 Build"
Has the 5.1 builds been propagated yet? I did a test build on my Windows 64 machine and the install fails:
[code]
I solved it locally by simply copying the iss file from one of the previous builds. Or one can fix it by removing this requirement from cmake...

[2017-05-16 15:56] Beep6581 commented on #3877
We already have a Windows build.

Can anyone else confirm this problem? Did you follow [the instructions](http://rawpedia.rawtherapee.com/Windows) verbatim or deviate from them?

[2017-05-16 16:52] heckflosse commented on #3877
@Partha1b Did you build from source tarball or did you `git checkout 5.1` ? The latter builds fine here on Win7/64. Didn't test building from tarball.

[2017-05-16 16:53] Partha1b commented on #3877
@Beep6581

Yes, I was not looking for a Windows build. I was looking to see if I can build it.

Your instructions match what I am doing more or less. I noticed that the instructions use Msys2. However the cmake command is:
```cmake -G "MSYS Makefiles" -DCMAKE_BUILD_TYPE="release" -DPROC_TARGET_NUMBER="2" -DCACHE_NAME_SUFFIX="5-dev" ..```

As far as I know, cmake under Msys2 does not provide MSYS M

[2017-05-16 16:55] Partha1b commented on #3877
@heckflosse
I downloaded the zip from github so as to be totally sure I have the 5.1 tagged version.

Also, yes, it builds fine. My report was about make install.

Anyway, if you can do make install and it all works for you, I am good. 🙂

[2017-05-16 17:23] heckflosse commented on #3877
@Partha1b I will try now to make install from the zip

[2017-05-16 19:14] luisfl commented on #3873
Confirmed: working in stable 5.1.

[2017-05-16 19:18] heckflosse commented on #3873
@luisfl Thanks for testing and confirming :+1:

[2017-05-16 19:44] luisfl commented on #3873
@heckflosse  Thanks to all of you for your great work. Immensely appreciated.

[2017-05-17 06:03] jaijujacob opened #3878 "Library module does not load any RAW files or JPG files"
Hi,

I updated RawTherapee 5.1 today. When I open any folder with RAW(CR2) files or JPGs, nothing gets loaded. I updated from 4.2. Seems like some minor conf issue.

Please suggest what need to be done. I am unable to open any images in RawTherapee now

If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_b

[2017-05-17 06:26] agriggio commented on #3878
Hi @jaijujacob
can you please make sure that the relevant file extensions are checked in "Preferences -> File Browser"? (see screenshot)
![shot](https://cloud.githubusercontent.com/assets/11982086/26141100/78a39a32-3ada-11e7-9878-97fe7debdaba.jpg)

Also, try to clear the cache completely ("Clear all" button in the same screenshot)

[2017-05-17 08:22] Beep6581 commented on #3878
If you're updating from 4.2 then its best if you delete the [options](http://rawpedia.rawtherapee.com/File_Paths) file while RT is not running.

[2017-05-17 08:22] #3878 closed, assigned to nobody

[2017-05-17 12:43] gwaugh commented on #3650
Just tried "5.1-1dhor~xenial" from Darius Dumas "dhor ppa" and it still fails as the previous version. So I'm back to using "rawtherapee unstable". Either the improvements haven't been incorporated in the new release or there is something wrong with the compilation method used by Mr. Dumas.

[2017-05-17 13:16] Beep6581 commented on #3650
I believe these are the builds @gwaugh is referencing:
* 5.1
https://launchpad.net/~dhor/+archive/ubuntu/myway/+sourcepub/7807113/+listing-archive-extra
* rawtherapee-unstable
https://launchpad.net/~dhor/+archive/ubuntu/myway/+sourcepub/7492611/+listing-archive-extra

Both seem to use GTK+ 3.18.

@gwaugh please get or [compile](http://rawpedia.rawtherapee.com/Linux) a debug build of 5.1 and provid

[2017-05-17 15:29] heckflosse commented on #3867
@Desmis Jacques, thanks for testing :+1:
I will clean the code a bit before I push.

Ingo

[2017-05-17 17:30] gwaugh commented on #3650
I don't seem to be able to compile anymore. I get an error from CMAKE that the install directory does not exist.

PS: I don't have a lot of time to play with this.

[2017-05-17 18:46] gwaugh commented on #3650
Reinstalled Rawtherapee 5.1 from dhor-ppa and it now works.

[2017-05-17 18:47] #3650 closed

[2017-05-18 08:53] gaaned92 commented on #3877
Back from travel, I just uploaded a stable release type build RawTherapee_5.1_WinVista_64.zip at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[code]

Windows32 build RawTherapee_5.1_WinVista_32.zip uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPOEZmVlBzLWlnSWc](https://drive.google.com/open?id=0B2q9OrgyD

[2017-05-18 08:59] jaijujacob commented on #3878
Thanks a lot! I removed options and restarted RawTherapee. Everything works great (y)

[2017-05-18 15:35] Partha1b commented on #3877
@gaaned92 & @Beep6581

Yes, I have Msys2 installed. Here are some details:
[code]
So I am guessing you are not using Msys2 supplied cmake and may be using version directly downloaded from kitware?  Either way, I think the documentation should reflect this.

Perhaps something is wrong with my Msys2? I personally don't think so...

[2017-05-18 15:36] Partha1b commented on #3877
@heckflosse Did you have issues with building from the zipfile?

[2017-05-18 16:10] heckflosse commented on #3877
@Partha1b Sorry for being late. Yes, I had the following issues:

[code]

@Beep6581 told me that using the zip tarball created by github is not desired. For this reason he made own tarball which you can find [here](http://rawtherapee.com/shared/source/rawtherapee-5.1.tar.xz).

I tried to make a build using the tarball provided by @Beep6581 and that worked and installed fine.

Edit: I'm on a differ

[2017-05-18 16:20] Partha1b commented on #3877
@heckflosse

OK, then you confirmed what I found. 🙂

I think in the documentation we should mention that only @Beep6581 (or project provided) tarballs to be used or git clone.

[2017-05-18 19:49] gaaned92 commented on #3877
@Partha1b
I suppose that you are trying to build in a msys shell. Windows 64 builds should be made in a Mingw64 shell as written in documentation at the beginning of windows page.

hereunder the list of cmake packages
[code]
The msys/cmake  is not even installed on my msys2 installation.

if you want make  windows 64 builds, you should install mingw-w64-x86_64-cmake package

In the mingw64 shell:

[2017-05-18 23:55] ghost opened #3881 "Freezes while browsing/viewing .NEF files"
[code]

While browsing images in a folder with 300 RAW files (.NEF), the application freezes with no error messages. It won't crash and exit by itself. Literally everything freezes and the GUI won't process any further clicking. Need to open Task Manager and kill the executable in order to exit the application.

I am running Windows 7 64-bit.

Thank you for the help.

[2017-05-19 08:56] gaaned92 commented on #3660
@Beep6581 Do you intend to merge back the releases branch into the dev branch in order to have a dev branch git version containing the 5.1 tag instead the 5.0-r1-gtk3 tag as now?

[2017-05-19 09:36] Desmis commented on #3866
I just push a change;
*Now you can use "auto" for WB local : this allows pre-settings for example in shadows

It should be easy enough to extrapolate this work, to develop a multi-zone white balance for the whole image (6, 9, 12, 16 ... or another 10, 15, .. zones).
This means that the WB setting is no longer "average", but different for each zone. For example, an "auto" setting for the sky, anoth

[2017-05-19 11:43] heckflosse commented on #3881
I tried to reproduce in a folder with 512 .NEF. Works fine here (Win7/64).

[2017-05-19 12:00] agriggio commented on #3881
hi @bisherbas, what happens if you try only with a subset of the pictures?

[2017-05-19 12:49] ghost commented on #3881
@heckflosse Files stored on SSD or HD? Mine is HD.

[2017-05-19 12:50] ghost commented on #3881
@agriggio I copied 100 something files into another folder and the application worked fine. Never crashed.

I noticed that if everything works properly the application uses about 800MB memory. Whenever the application freezes, Task Manager always shows ~2,000MB memory for RawTherapee. I am not sure if this is relevant but I thought it might help troubleshoot the issue.

[2017-05-19 13:02] Beep6581 commented on #3660
@gaaned92 I already have as soon as I released.

[2017-05-19 13:04] Beep6581 commented on #3660
Oops, I ran a test-compile and didn't push! Pushed now.

[2017-05-19 13:11] heckflosse commented on #3881
@bisherbas Files are stored on HD (RAID-0 of three HDs)

[2017-05-19 13:14] heckflosse commented on #3881
@bisherbas Can you try with the win64 build from [here](https://discuss.pixls.us/t/rawtherapee-5-1-released/4201/6)? It uses a newer gtk+ version. Just to exclude gtk3.18 causing the freeze

[2017-05-19 13:25] gaaned92 commented on #3660
OK now. Thank you

[2017-05-19 19:49] #3867 closed, assigned to nobody

[2017-05-19 20:47] ghost commented on #3881
@heckflosse Issue persists. What other information I can provide to better troubleshoot it?

[code]

[2017-05-19 21:00] heckflosse commented on #3881
@bisherbas Let's clarify what you mean by `browsing images in a folder with 300 RAW files`.

Is that?

1. Opening a folder with 300 files the first time ?
2. Opening files in a folder with 300 files where the thumbs of that folder are already built?
3. anything else?

Please provide as much details as possible to allow us to reproduce.

Ingo

[2017-05-19 21:11] ghost commented on #3881
@heckflosse 2.

I should indicate that the issue presents itself less frequently on the latest nightly I installed. Significant improvement.

[2017-05-19 23:29] mandree commented on #3636
This is how lldb40 sees the crashing thread on exit with RawTherapee 5.1 in a different place, compiled in Debug mode on FreeBSD 10.3 amd64 (requisites are a bit newer).

[code]

Requisite packages installed:
[code]

[2017-05-20 09:15] Desmis commented on #3866
It seems that this "issue" does not interest anybody ?
:)

[2017-05-20 10:05] heckflosse commented on #3866
@Desmis Jacques, I will test it when I find some time :)

[2017-05-20 10:19] heckflosse commented on #3866
@Desmis Jacques, I found a bug:
If all exposure settings are at their default values, the Tone curves have no effect.

[2017-05-20 10:25] Desmis commented on #3866
@heckflosse

Ingo
Thank you :)

[2017-05-20 10:31] kazah7 commented on #3866
That branch is really interesting! In fact, I'm crossing my fingers and hope that someday we will be using fully operational local adjustments in RT. When it comes to my remarks: exposure from locallab doesn't give the same results comparing to standard one. Is it intentional ;)?  Thank you for your hard work and keep coding :)!

[2017-05-20 10:32] heckflosse commented on #3866
Jacques,

Another bug:

Open image using neutral profile
Enable Local RGB
Add Control point
Enable White Balance
Select 'Auto' => preview does not match navigator and whitebalance setting is not 'Auto' but 'Custom' now
![localrgb_wb_00](https://cloud.githubusercontent.com/assets/13733487/26275039/269ddc4a-3d58-11e7-84a6-015606c04b40.png)

Select 'Auto' again. Preview changes but still does not mat

[2017-05-20 11:30] Desmis commented on #3866
@heckflosse  @kazah7

Thank you for testing :)
I just fixed the bug for "tonecurves", Just an oversight.

For the others points, but I am not sure we speak the same thing.

@kazah7 : by defaut I have put 0 to all default values ==> differences

@heckflosse  Ingo, I am not sure to understand, my english is bad.. but;
1) first no nead to add control point..it does not work at all
2) It is normal tha

[2017-05-20 11:41] heckflosse commented on #3866
@Desmis Jacques, when I select 'Auto' whitebalance it automatically changes to 'Custom' whitebalance.

[2017-05-20 11:47] Desmis commented on #3866
@heckflosse
Ingo
This is how I planned the operation. When "auto" is selected, the "auto" process is performed, then the GUI goes immediately to Custom ... but of course I can change that ...

Jacques

[2017-05-20 11:52] heckflosse commented on #3866
@Desmis Ok, now I understood

[2017-05-20 14:18] Beep6581 commented on #3881
@bisherbas which is the latest nightly you installed? Has anything else on your system changed in the meanwhile? Do these freezes happen if your web browser is closed while running RT?

[2017-05-20 15:45] heckflosse commented on #3636
@Floessie @agriggio Do you have an idea about the reason for the SIGABRT? For me it looks like it could be caused be the `pixbufCache` in rtimage.cc. But I'm just shooting into the dark...

[2017-05-20 16:19] Desmis commented on #3866
The problem is due to the general algorithm of automatic WB calculation.
This algorithm is generally quite bad because it assumes an equal distribution of the basic colors of the image.
A few years ago we had started another approach to WB auto, but this was abandoned. I will see how one could improve the "WB auto general" and thus also improve the "local WB auto".

Jacques

[2017-05-20 16:50] ghost commented on #3881
@Beep6581

[code]

File name: RawTherapee_5.1_WinVista_64.zip

Nothing changed in between the installed. Freeze happens regardless of the browser (Chrome) or any other programs.

[2017-05-20 16:53] Beep6581 commented on #3881
@bisherbas there is no relevant difference between `edc6fa91` and the 5.1 release. But you are using a GTK+ 3.22 build, while the 5.1 on our website uses 3.18.

[2017-05-20 16:54] ghost commented on #3881
@Beep6581 OP was about f23d70f. As I indicated edc6fa91's performance is much better. GTK is different per @heckflosse. I think I am all set now. edc6fa91 is workable. Thank you for your time.

[2017-05-20 16:54] mandree commented on #3636
I've recompiled the libs with debug information as well, and this is what I get. I have also tried recompiling everything with clang-4.0 in c++14 mode (instead of GCC 5.4, as used below) because all the other libs are compiled with clang-3.4.1, but that doesn't change anything.

[code]

Frame #4 source code detail:
[code]

These are the requisite package versions:
[code]

[2017-05-20 16:57] Beep6581 commented on #3881
`f23d70f` is 5.1, `edc6fa91` is identical to `f23d70f` except for a splash screen and RELEASE_NOTES change. GTK+ seems to be the main difference.

Performance or stability?

[2017-05-20 16:57] ghost commented on #3881
@Beep6581 stability :) thanks for the correction. Not sure why but the newer GTK appears to have resolved my problem.

[2017-05-20 17:08] Beep6581 commented on #3881
Then we should update the build on our website too.

I'll let @heckflosse and the rest decide whether to close this issue.

[2017-05-20 17:50] heckflosse commented on #3881
I think we can close the issue soon. I will update my windows builds system now also (have been on gtk 3.18 all the time).

Ingo

[2017-05-20 18:20] Floessie commented on #3636
@heckflosse Yes, that's the only place where a static `std::map<>` holds a `Glib::RefPtr<Gdk::Pixbuf>`. One should move that to a singleton `PixbufStore` and deal with it at least in the d'tor and perhaps even better a bit earlier on shutdown. Maybe Alberto has an even better idea...

It's a pity, we only see it on FreeBSD.

[2017-05-20 20:00] mandree commented on #3636
If I hack glibmm and wrap line 161 in a try {} catch() {} block, I get this:

[code]

So, by any chance, is there anything in the thread arrangement that could glibmm's extra_object_base_data_mutex to have been destroyed before the last ObjectBase is?

@Floessie 's proposal apparently has the same underlying thought - moving the Pixbuf into a singleton PixbufStore and dealing with it explicitly wo

[2017-05-20 21:00] heckflosse commented on #3866
@Desmis

Jacques, I can't test at the moment. I tried to update my msys2 environment and now I can't build anymore. I'll let you know when I solved the problems.

[2017-05-21 01:12] ghost opened #3882 "5.1 crash in macOS 10.12.5 if .app renamed"
Hi--

Using the new release of RawTherapee 5.1:

[code]

Steps to reproduce:

1. Copy the RawTherapee.app bundle to /Applications
2. Rename RawTherapee.app to something like RawTherapee-5.1.app
3. Double click application
4. RawTherapee will crash with the following information logged:
5. Application Specific Information:

[code]

I'm usually pretty adept at troubleshooting these things, but in th

[2017-05-21 06:35] Desmis commented on #3866
I just a change :==> fixed bad refresh in local auto wb.
But this change does not fixed the general WB auto problem :)

I have also update msys2, with difficulties...
I tried   $pacman -Syu ;
* the first acces system says me  "strange things".. I  valid,
* then for others -Syu, all seems to works fine (for msys2)

Then when I compile, my Antivirus (Avast) found a virus in "g++.exe". Before valid A

[2017-05-21 13:12] heckflosse commented on #3866
@Desmis Jacques, I can build again :)

[2017-05-21 13:21] Beep6581 commented on #3882
Ping @Benitoite @ion12 @Partha1b

[2017-05-21 14:01] Benitoite commented on #3882
I experience this phenomenon as well: no problems launching the RawTherapee app `RawTherapee.app` by double clicking its icon, but when I rename it something else like RawTherapee-5.1 (`RawTherapee-5.1.app`) or RawTherapee-rel (`RawTherapee-rel.app`) it will always cause this `Gdk::PixbifError` exception.

Maybe some relative paths need to be set in the mac app generating scripts?

[2017-05-21 14:05] Beep6581 commented on #3882
Can you get a [stack backtrace](rawpedia.rawtherapee.com/How_to_write_useful_bug_reports)?

[2017-05-21 14:24] Desmis commented on #3866
I'll try to implement new algorithm(s) for local WB.... I say "try"...I am not sure of the result :)

[2017-05-21 14:27] ion12 commented on #3882
I think this is related to line 131 of macosx_bundle.sh, left unchanged from before the bundle re-structure:
`sed -i "" -e "s|${PWD}|/tmp|" "${ETC}/gtk-3.0/gdk-pixbuf.loaders" "${ETC}/gtk-3.0/gtk.immodules"
`
locally, I've been trying instead
`sed -i "" -e "s|${PWD}/RawTherapee.app/Contents/|@executable_path/../|" "${ETC}/gtk-3.0/gdk-pixbuf.loaders" "${ETC}/gtk-3.0/gtk.immodules"
`
Which I believe

[2017-05-21 19:43] Partha1b commented on #3882
@Beep6581 See the discussion on this in the RT discussion forum.

I did asked @ppmax to start the issue so that we can keep track of it and fix it.

@ion12 Have you tested your code so that we can consider this to be fixed?

[2017-05-22 08:52] kazah7 commented on #3866
Sorry, my mistake. I didn't take into account the quality method. After switching to "standard" there is no difference between local exposure and the global one from exposure tab. When it comes to local WB, I'm still trying to figure out the best practical usage for it. I can think of equalizing skin tones between people in the picture .. but in that case, _local RGB curves_ would really come in h

[2017-05-22 09:04] kazah7 commented on #3866
Here is a quick and dirty test of localrgb in action : ) ..
![dsc05665 with localrgb](https://cloud.githubusercontent.com/assets/16827142/26300455/6d419b82-3ede-11e7-95ce-be18b5fb8550.jpg)
![dsc05665 without localrgb](https://cloud.githubusercontent.com/assets/16827142/26300456/6d4cc642-3ede-11e7-956d-97d8e7bc5728.jpg)

 Some additional exposure was used to light up their faces. Don't pay attentio

[2017-05-22 11:25] Desmis commented on #3866
@kazah7
Thank you for testing :)

[2017-05-22 14:48] Beep6581 commented on #3881
Build updated.

[2017-05-22 16:38] Desmis commented on #3866
@heckflosse
Ingo
I know this is not the right issue, but the two are related.

You had to take advantage of my absence to bring an improvement to Locallab Tone-mapping?  What do you plan to do?
:)

Jacques

[2017-05-22 18:50] heckflosse commented on #3866
@Desmis Jacques, as you know me, you also know that sometimes my work is kind of chaotic. Means I do a little bit of work here and there at many places of rt code. Especially as rt 5.1 was released during your absence I had a bit of other work (late bug fixes, not caused by your work) to do. For this reason I didn't much at LocalLab :(

I hope to be able to continue work on that this week.

Ingo

[2017-05-23 04:41] Desmis commented on #3866
No problem :)

[2017-05-23 08:43] giggedy opened #3883 "Cant open files with spaces in name for edit in external editor: Affinity Photo"
Version: RawTherapee 5.0-r1-gtk3
OS: MS Windows 10 Pro Build 15063
CPU: Intel i7 4790K @4Ghz
Memory: 16GB
Downloaded http://rawtherapee.com/releases_head/windows/RawTherapee_5.1_WinVista_64.zip

Cant open files with spaces in name for edit in external editor: Affinity Photo.
Filenames without spaces works.
The problem persists in 5.1. Had to revert to 5.0 because of another problem I will report.

[2017-05-23 08:56] Beep6581 commented on #3883
And if you remove the quotes?

[2017-05-23 09:58] gaaned92 commented on #3883
confirmed on W10 with Rawtherapee 5.1
Send a photo with blank in name to xnviewMP ==> file not found

[2017-05-23 10:03] giggedy commented on #3883
The behaviour is the same, with or without quotes.
This works with Photoshop, and as a workaround I can copy Affinitys photo.exe to photoshop.exe and in "Preferences\External Editor" select "Affinity Photo" as directory in "Adobe Photoshop installation directory" and check the checkbox for Adobe. If that made any sense.

[2017-05-23 10:16] giggedy opened #3884 "On Windows, previously opened raw files can't be moved or deleted until RawTherapee is closed"
Previously opened NEF-file can't be moved or deleted until RawTherapee is closed.

Version: 5.1
OS: MS Windows 10 Pro Build 15063
CPU: Intel i7 4790K @4Ghz
Memory: 16GB
Downloaded http://rawtherapee.com/releases_head/windows/RawTherapee_5.1_WinVista_64.zip

Open .NEF-file in RawTherapee 5.1.
Close .NEF-file.
The .NEF-file can't be moved or deleted until RawTherapee is closed.

![rt-wontclosefile](

[2017-05-23 10:29] Beep6581 commented on #3884
Please don't crop screenshots.

Are you working in METM or SETM?

Cannot reproduce in Linux.

[2017-05-23 10:38] giggedy commented on #3884
Oh, sorry about the crop.
Not sure what METM or SETM means so I guess no is the right answer :)

[2017-05-23 10:46] Beep6581 commented on #3883
Try this patch:
[code]

[2017-05-23 10:52] giggedy commented on #3883
OK, that was fast.
It will take me some time to set up an environment to compile it and I can't do it right now.

[2017-05-23 10:53] Beep6581 commented on #3884
They're editor tab modes:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Editor_Tab_Modes
See Preferences > General > Layout, the default is SETM,VT

[2017-05-23 10:55] giggedy commented on #3883
Ah, OK.
METM then.

[2017-05-23 10:57] giggedy commented on #3884
Ah, OK.
METM then.

[2017-05-23 11:03] Floessie commented on #3883
@Beep6581 You can also quote it like this (a bit shorter):
[code]

[2017-05-23 13:13] heckflosse commented on #3884
Bug confirmed on win7/64. Also for SETM and CR2 files. Works fine with jpgs.

[2017-05-23 13:15] gaaned92 commented on #3883
@Beep6581 first patch (with  Glib::ustring("\"")...) doesn't compile on W10.

Second compiles and build. The quoted name is transmitted and xnviewmp opens. So OK

@giggedy  You can find here [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](urhttps://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)
the patched build RawTherapee_dev_5.1-18-patched_WinVista_64.zip

[2017-05-23 15:17] mattiaverga opened #3885 "Crash when switching directories while thumbnails are generating"
A user on Fedora reports a crash when switching directories while thumbnails are generating. Full backtrace available at
https://bugzilla.redhat.com/show_bug.cgi?id=1454574

[2017-05-23 17:59] heckflosse commented on #3884
I take this one though I'm not sure if I will find the culprit.

[2017-05-23 18:14] heckflosse commented on #3884
When building without MMAP support it works fine. That will make it easier to find the culprit.

[2017-05-23 19:33] Beep6581 commented on #3558
`5.1-18-g` 0bb4589f uploaded to Coverity.

[2017-05-23 21:17] Benitoite commented on #3882
@ion12 @Partha1b

I tested this fix and it does work for me. (renaming app is aok)

https://filebin.net/omudfk02oatcqtna/RawTherapee_OSX_10.9_64_5.1.zip

[code]

[2017-05-23 21:36] heckflosse commented on #3884
I feel the need to discuss why mmap is still used for loading raw files.

@Floessie @agriggio Any thoughts from you?

[2017-05-23 22:17] ion12 commented on #3882
Sorry for the late response, I'm really struggling for free time right now. @Benitoite thanks for testing! I just managed to test now with the 5.1 tarball, and it is working for me as well.

As far as I can tell, the pixbuf and immodule loaders were the last remaining hard-coded resources that required symlinking to a tmp dir.
Using `@executable_path/../` in the loaders, I can run RT without a sym

[2017-05-23 22:52] ion12 commented on #3882
@Benitoite don't forget to keep uncommenting XDG_DATA_DIRS manually each time, until we commit it back permanently (or resolve the issue in a different way)

[2017-05-23 23:37] Benitoite commented on #3882
@ion12 Thanks for the reminder! Fixed it.

[2017-05-24 05:52] Floessie commented on #3884
@heckflosse Ingo, I'm sure you wouldn't ask, if you had not benchmarked it. :smile: Theoretically mmapping should be faster. Have you checked the return value of `UnmapViewOfFile()`? The rest looks sane to me, although I'm not familiar with the Win API.

[2017-05-24 06:46] Floessie commented on #3885
Looking at `FileBrowser::addEntry()`, I don't know how this `FileBrowserIdleHelper` was supposed to safeguard against the disappearance of the `FileBrowser` instance without making use of a mutex or at least atomics. I hope, I understood the semantics right. If so, here's a patch against `dev` for someone to try who can reproduce the problem. I'd like @agriggio to have a look at it, as he's good a

[2017-05-24 07:27] agriggio commented on #3885
@Floessie I'll try to take a look tonight

[2017-05-24 08:08] Floessie commented on #3885
@agriggio Thanks! :+1: Maybe wait for someone to test it first, no need to invest your time for something that doesn't solve the problem.

[2017-05-24 11:20] heckflosse commented on #3884
The file was opened twice but closed only once.
This fixes it:

[code]

[2017-05-24 11:39] Partha1b commented on #3882
@ion12 OK, your fix works. I did minimal testing since we're dealing with only 1 issue. It's good to go.

In my opinion, if everything is correctly handled through relative paths, then we don't need to symlink.

Finally, I am not sure if you need XDG_DATA_DIRS, only XDG_DATA_HOME unless you are spreading out the data in multiple folders and not a simple hierarchy.

@Benitoite can you post your bui

[2017-05-24 11:46] heckflosse commented on #3884
I would appreciate if someone could test the patch on Linux before I push it :)

[2017-05-24 12:11] Beep6581 commented on #3884
I compiled in Linux using the patch and opened `1.pef` and then switched to `2.pef`. I deleted both files and associated PP3 files while RawTherapee was running and `2.pef` was still open in the Editor. This is the same behavior as before the patch. I then switched to `3.pef` and closed RT. No problems.

[2017-05-24 12:20] ion12 commented on #3882
Thanks @Partha1b
It would be a good idea then to test the build with lines 44-47 commented out in the executable_loader , (and make sure there are no left over rawtherapee.app symlinks in /tmp) and see if the build works fine. For me it works. @Benitoite do you mind testing as well?

@Partha1b currently, for the macports build, if I run on a system with the macports build environment present, not

[2017-05-24 12:46] #3884 closed, assigned to heckflosse

[2017-05-24 14:36] Beep6581 commented on #2457
Implemented some time ago. Confirmed works in 5.1.

[2017-05-24 14:36] #2457 closed

[2017-05-24 14:37] Beep6581 commented on #1870
Duplicate of #2457

[2017-05-24 14:37] #1870 closed

[2017-05-24 14:59] Partha1b commented on #3882
@ion12 OK, will do more tests.

As, for XDG_DATA_DIRS, then it would be issue with macport since I don't have this issue as I don't use macport. Finally, I don't see why your system should be looking for resources outside the app regardless of Macport?

[2017-05-24 16:44] mattiaverga commented on #3885
@Floessie I cannot reproduce the problem on my system, so I've asked the original reporter to try a new build I made with your patch applied.

[2017-05-24 17:44] Floessie commented on #3885
@mattiaverga Thanks a lot. Awesome service on Fedora. :+1:

[2017-05-24 21:00] agriggio commented on #3885
@Floessie your patch looks reasonable to me. At least, I can understand it better than the original code :-)
Though I was not able to reproduce the bug, on the positive side everything still works after applying your patch. So, I'd say +1 for me to commit it, unless someone can find a good argument for keeping the `FileBrowserIdleHelper`

[2017-05-25 00:42] luisfl commented on #3793
I just observed that the Noise Reduction module in the second tab is also applying partially. So same problem.

EDIT: sorry, I just observed that it shows different results according to different window zoom. So the RT zooming at 200% does not reflect what happens at 100%: it shows more noise reduction that the one actually applied.

Example:

This is what RT shows at 100% (chrominance slider way

[2017-05-25 04:16] Floessie commented on #3885
@agriggio Thanks for your review. I'll commit tomorrow evening, as I'm travelling until then.

[2017-05-25 05:03] Benitoite commented on #3882
@ion12 This change (commenting out 44-47) tested fine for me.

[2017-05-25 10:02] #3883 closed, assigned to nobody

[2017-05-25 13:48] gaaned92 commented on #3885
Windows10
Switching directories like crazy, I succeeded to crash RT with patch applied after quite a while. Unable to crash debug build.
Nevertheless, I dont think it is a normal use case.
Never noticed this crash before!

[2017-05-25 14:12] Benitoite commented on #3882
@Partha1b  Yes, and PM sent to @ppmax.

[2017-05-25 14:19] Partha1b commented on #3882
@Benitoite Thanks. I also did this. Renamed and moved to a completely different location and it didn't break.

So, before you repackage, please either manually remove Lines 44-47 or modify the script creating the bundle.

[2017-05-25 16:28] Partha1b commented on #3882
@Benitoite & @ion12 I spoke too soon. I get segfault on exit: Here is the partial report:
[code]

[2017-05-26 01:09] Benitoite commented on #3882
I'm also getting the segfault when I quit by selecting the menu item Quit (or hitting ⌘q) or the red close button on the window.  Noticed it will only fault if I change some of the image parameters (for instance change the RGB contrast, etc.).

[2017-05-26 11:14] #3847 closed, assigned to nobody

[2017-05-26 21:40] RawConvert opened #3886 "RT anomaly with custom curve in CIECAM - extreme "white point" position"
This was found in RT5.1 Stable under Ubuntu 16.10 but also happens in 4.2 and maybe other versions.
Scenario: you are editing a RAW and using CIE CAM 02 to adjust the exposure via a custom curve.  No points have yet been added, you just have the 45 degree line from black to white.  You slide the top right point to the left, along the top boundary, to set a white level.  Even though the RAW is well

[2017-05-26 21:57] RawConvert opened #3887 "RT anomaly with custom curve in CIECAM - brightness suddenly changes"
This occurs in RT 5.1 Stable under Ubuntu 16.10.
Scenario: You are editing a RAW file and using CIE CAM 02 to adjust exposure via a custom curve.  You have not added any points yet, so you have a 45 degree line running from black to white.  You now place a point exactly on the 45 degree line, or as close to this as possible.  Place the point roughly central, but this does not seem to matter.  As y

[2017-05-26 22:53] heckflosse commented on #3887
If I place the control point exactly on the diagonal using a single click, it works fine. Did you hold ctrl while placing the control point on the curve? That's important!

Edit: If you want to add a curve point without effect (just for future use) hold ctrl-key while adding the curve point. If you don't, you most likely add a curve point which changes the curve (even if it's a tiny change)

[2017-05-26 23:38] RawConvert commented on #3887
No, I didn't use CTRL.
That's a good tip though, thanks - sometimes you add a second point as a "isolator" and just want it to land on the curve next to an existing point.  Presumably using CTRL makes that easier.

[2017-05-26 23:49] RawConvert commented on #3887
The brightness is also jumping when I use CTRL, at least most times, but there were a couple of times just now when it didn't change.  Placing a point uses a lot of CPU - all cores going to 50% even with CTRL when presumably no pixels to re-calculate?

[2017-05-26 23:49] cmrdt opened #3888 "Support for sYCC extended color info e.g. exif2.0 JPG's"
YUV-based color space contains colors outside RGB
thus when transformed, they are usually clipped (0to1)
the information is lost (negative means outside current primaries' gamut)

RGB  clipping (ceiling-over-clipping more evident for blues e.g. yellow banding in lightning pic's, sky, ..)
lack tools to recover otherwise lost info if convert that way.

![rgb ycbcr](https://cloud.githubusercontent.co

[2017-05-27 00:27] heckflosse commented on #3887
@RawConvert I will investigate!

[2017-05-27 06:22] Desmis commented on #3866
I have add, some new auto WB...in last commit today
They are in "local" for testing, but we can also, put them in "full image"

I have call them
a) Auto grey demosaic : WB use grey RGB values after demoisaicing
b) Auto grey demosaic - gam SRG : as above but gamma sRGB is apply to RGB values
c) Auto edge : is a very new algorithm. I used Sobel matrix to create an edge image, then apply grey method

[2017-05-27 09:46] gaaned92 opened #3889 "pixelshif.cc compilation warning"
@heckflosse
on Windows 10, I get a new compilation warning

[code]
[code]

[2017-05-27 09:48] heckflosse opened #3890 "Random crashes"
While browsing folders and opening images, I get crashes. They are not clearly reproducible but they happen while browsing and opening images after a few minutes. That's in console then:
[code]
About...
[code]

[2017-05-27 09:50] heckflosse commented on #3889
@gaaned92 Thanks for the hint. I forgot to remove the line. I will fix that now.

[2017-05-27 09:52] #3889 closed, assigned to heckflosse

[2017-05-27 10:38] heckflosse commented on #3890
Crashes also when running in gdb:

[code]

[2017-05-27 11:04] heckflosse commented on #3890
Duplicate of #3885

[2017-05-27 11:04] #3890 closed, assigned to nobody

[2017-05-27 11:06] heckflosse commented on #3885
I also can crash RT while switching directories with and without the above patch.
[code]
See also #3890

[2017-05-27 11:41] albfe opened #3891 "rawtherapee-cli (5.1) crashing with -t option"
when specifying the -t option, rawtherapee-cli crashes with the following message:
awtherapee-cli -o /tmp/ -t -c xxx.cr2
RawTherapee, version 5.1, command line
terminate called after throwing an instance of 'std::out_of_range'
  what():  basic_string::at: __n (which is 2) >= this->size() (which is 2)

Also adding the -b8 option does not change the result. It works fine with -tz

[2017-05-27 11:50] heckflosse commented on #3891
Bug confirmed.

[2017-05-27 12:13] #3891 closed, assigned to heckflosse

[2017-05-27 15:35] heckflosse commented on #3887
@RawConvert I tried to reproduce but I can not confirm that the brightness or the histogram changes when I add a curve point while holding CTRL

[2017-05-27 16:15] Desmis commented on #3887
I just have a look...to my "old code".

The problem comes from calculation of "adaptation scene luminosity"...in this case, it is probably bad.
This value is calculated from :
fcomp = exposure compensation of the camera
fnum = F number
fspeed = Speed
Fiso = ISO
and more
* expcomp : in exposure
* raw expos  (white point) in Raw data
This parameters are send to GUI ang give here , in Scene Luminosit

[2017-05-27 17:26] Desmis commented on #3886
With the raw file and pp3,  I cannot reproduced  clipping... (no black area!)

But it is a known problem with CIECAM due to very very very low gamut of CIECAM....

Perhaps there is a bug in code ? but probably the solution is ;
* not do this action
* or reduce gamut by changing Prophoto to another smaller "working profile" (sRGB..)

:)

[2017-05-27 23:33] rechmbrs opened #3892 "Demosaicing options in RT 5.1"
Glad to see that RT 5.1 is a hit. Good work.

I would like to bring up Demosaicing and use of Pixel Shift as a generic type covering both Pentax PS and HDR as well as Canon Dual pixel mode. I would recommend having a Pentax, Canon, Olympus.... types for the demosaicing.

 I think you should change the option Motion Correction to  something like Motion / Illumination Variation  Compensation. You of

[2017-05-28 05:18] agriggio commented on #3793
@luisfl for denoising there's an open pr (#3470) that might solve this, maybe you can try it? in the medium term, one possible solution is to have a dedicated "give me an accurate preview" button that trades accuracy for speed

[2017-05-28 09:36] RawConvert commented on #3887
hi @heckflosse , so there's no jump for you with CTRL, but do you get a jump without CTRL?  I have no trouble getting it to jump with or without CTRL.

hi @Desmis , I'm not 100% sure what you're suggesting here, however...
With my 5.1, the brightness still jumps when I uncheck Scene Luminosity.  But if I enter value 200, it no longer jumps.  So I try some other values - 60 (jumping), 130 (jumping

[2017-05-28 09:49] RawConvert commented on #3886
hi again, so you can't get it to clip.  That seems weird! - surely any photo should clip at some point?!  I wonder why the difference if we're both using the same code and the same files?
I played with this a bit more and noticed another weird outcome to do with clipping.  In the following, see how there are black areas even though the point is far right, where previously I had no clipping -
![roc

[2017-05-28 09:52] Desmis commented on #3887
@RawConvert
What I try to say...my english is very bad...there is a link between "Scene luminosity (Cd /m2) and CIECAM. It is one ot the concepts of CIECAM as also "Viewing conditions" with Surround, Dark surround, CAT adaptation, Brightness, Colorfulness (both very different from usual Lighness or Chroma...)

In most cases calculates values of Scene luminosity is good, but in some cases not ==> a

[2017-05-28 11:12] Desmis commented on #3886
Sorry, but not clip !

I don't say theres is not, but in my case, with your settings on my computer, no clips. For memory, it is not the first time, we already had this discussion in 2012 2013 :)

I repeat I say above "it is a known problem with CIECAM due to very very very low gamut of CIECAM...."

With a priori, actually no solution, otherwise to reduce gamut.. (sRGB)

[2017-05-28 13:26] luisfl commented on #3793
How do I try that? I use the last RPM [here](http://download.opensuse.org/repositories/home:/rawtherapee/Fedora_23/x86_64/). Anyway, from the description does not seem to be related. This is a preview problem.

For this particular scenario, I don't think that a dedicated button would be necessary. If you are zooming to 400% to see the effects of a filter, you are obviously looking for accuracy. Ma

[2017-05-28 13:28] Beep6581 opened #3893 "Canon EOS 77D support"
Waiting for raw files from https://discuss.pixls.us/t/canon-77d-raw-support-colour-problems/4300

[code]

Ping @iliasg

[2017-05-28 13:33] Beep6581 commented on #3793
@luisfl http://rawpedia.rawtherapee.com/Linux

[2017-05-28 14:46] kubman commented on #3893
Files are here: <a href="http://www.smnd.sk/kubman/77D_raw.7z">http://www.smnd.sk/kubman/77D_raw.7z </a>

[2017-05-28 15:29] heckflosse commented on #3685
As I'm on gtk+ 3.22 now, I can't reproduce the issue anymore => closing.

[2017-05-28 15:29] #3685 closed, assigned to nobody

[2017-05-28 21:29] kmaddock opened #3894 "White balance error on Sony RX100"
When opening a raw file, the White Balance information is not correctly read. The image was shot underwater with custom white balance, so I would guess that the temperature recorded in the Exif data is out of the expected range.

On the white balance tab, I see:
Temperature: 1500
Tint: 0.020
Blue/Red: 1.0

In the Exif metadata:
Temperature: 9900

Manually setting the white balance temperature to 9

[2017-05-28 21:40] heckflosse commented on #3894
Bug confirmed.

[2017-05-28 22:25] ion12 commented on #3882
@Partha1b @Benitoite do you get the segfault on exit only after commenting out the symlink code?
If you add it back does the issue go away?

I have been getting on and off crashes on exit for quite a while now, with my builds, and with both your builds as well, so I cannot link it directly to any particular change.
The crashes are not even predictable in a way I can detect so far, sometimes they h

[2017-05-28 23:47] Benitoite commented on #3882
@ion12 It crashes with the lines commented out, and did go away when added back in.  Similar kind of crash...
[code]

[2017-05-28 23:55] Benitoite commented on #3882
This is the crash and it's `bt` I get running a debug build thru lldb.
Action causing crash... quit program by selecting menu item quit.

[code]

Re: lldb debugger usage, BTW I sent my terminal the following variables before loading `rawtherapee-bin` into `lldb` to get it to run...
[code]

[2017-05-29 01:38] Partha1b commented on #3882
@Benitoite & @ion12 Those commented out lines should have no bearing on the crash if nothing is being linked to /tmp. If something were to be linked, it probably would not have started unless it's some minor secondary library.

@ion12 Did you say that you experienced a crash with my build? Since I don't used OMP, it would point to something in the code that is called when we use the menu to exit t

[2017-05-29 05:42] Floessie commented on #3890
@heckflosse As you got a `std::bad_alloc` exception, you could try to catch it with `catch throw` in GDB...

[2017-05-29 06:50] Desmis commented on #3894
With the current gray auto WB, it is impossible to build a correct WB

2 ways
1. increase "Blue red equalizer" for example to 1.35, then activate "auto", in this case we get
* temp = 43178
* tint = 1.207

2. Or used one of the 2 preset "underwater"
* underwater1 give a middle result, and auto does not work
* underwater2 give : temp = 48000 tint = 0.63 and blue/red equalizer = 1.38
If you activared

[2017-05-29 12:39] JamesForBugReport opened #3895 "Noise Reduction preview at 100% does not match saved image"
Version: 5.1
Branch: 5.1
Commit: f23d70fd
Commit date: 2017-05-15
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads  -Werror=unused-label -Werror=unknown-pragmas -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-resul

[2017-05-29 12:54] Partha1b commented on #3882
@ion12 & @heckflosse, I am looking at rtwindow.cc and I wonder if the source of issues is these 2 lines?
[code]
According to http://gtk-osx.sourceforge.net/gtk-mac-integration/GtkosxApplication.html
File|Quit is a special case, because OS X handles it itself and automatically includes it, so the only thing you need do is hide it on the File menu so that it doesn't show up twice

[2017-05-29 13:01] Beep6581 commented on #3895
Why are you filing a bug report about Retinex when you have Wavelets, Tone Mapping, Sharpening, Noise Reduction etc etc turned on? Isolate the problem to a single tool with all the rest turned off.

[2017-05-29 14:35] Benitoite commented on #3882
@partha1b Yes, I ran the debugger on `rawtherapee-bin` without issuing those lines in `rawtherapee` (the executable loader). Just passed the variables. Not sure if /tmp was empty.
Cleared the *app links in /tmp, but couldn't get a Quit crash in debug when quitting (exited with status = 0 (0x00000000)).

[2017-05-29 14:38] Beep6581 opened #3896 "Save dialog sometimes appends dot to filename, or replaces filename with dot"
The "Save" dialog (ctrl+s) sometimes appends a dot to the end of the filename - no extension, just e.g. `IMG_123.` which results in saving `IMG_123..tif` (two dots), or more often it replaces the filename completely with a dot. This has been a problem for a long time.
![imgur-2017_05_29-16 35 17](https://cloud.githubusercontent.com/assets/5844619/26553687/0e018bdc-448d-11e7-8dfa-9443e89e9b4c.png)

[2017-05-29 14:40] Beep6581 commented on #3895
I isolated all the irrelevant tools. I can reproduce the problem of the preview not matching the saved output at 100% using only Sharpening and Noise Reduction, but using other tools can make that problem more clear (or they can mask it).
Minimal PP3:
[DSC_2391_minimal.NEF.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1036054/DSC_2391_minimal.NEF.pp3.txt)

Wavelets > Denoise & Refine is e

[2017-05-29 14:42] JamesForBugReport commented on #3895
OK, fair enough.

I have tested many combinations of the tools in this pp3, it is already looking like a complex relationship. I suspect that some tools are amplifying minor issues with others. For example, with all tools from the pp3 enabled, apart from the ones specified
 - retinex off, small difference (this was the first I noticed, hence the finger of blame on this tool).
 - tonemapping and sh

[2017-05-29 14:47] agriggio commented on #3895
Hi @JamesForBugReport, would you be able to try with the branch `wavelet-contrast-accurate-preview` and see whether that helps? (see also the discussion in #3793)

[2017-05-29 14:47] Benitoite commented on #3882
Hmm, cleared /tmp of the *app links and couldn't get a crash in debug.

[2017-05-29 15:02] heckflosse commented on #3890
@Floessie Unfortunately that did not work (most likely because on Windows msys environment the exception handling never worked correctly:( )
But I got another bt: (32GB ram here btw.)

[code]

[2017-05-29 15:07] JamesForBugReport commented on #3895
Hi @agriggio I do not have a build environment, is there a windows binary available? I searched the thread but couldn't find a link.

[2017-05-29 15:11] agriggio commented on #3895
@JamesForBugReport sorry, I have no windows build env. I'll try to test on Linux and post a screenshot, let's see if the above branch makes things better

[2017-05-29 15:24] Beep6581 commented on #3895
Hello @agriggio

I tested `wavelet-contrast-accurate-preview` but it does not solve the issue:
![imgur-2017_05_29-17 23 59](https://cloud.githubusercontent.com/assets/5844619/26555080/b9be4b62-4493-11e7-9741-58898ad11294.png)

[2017-05-29 15:33] agriggio commented on #3895
@Beep6581 sorry, I misread the info provided. I thought the culprit was **wavelet noise reduction**, but in fact it seems to be the "regular" noise reduction instead. In that case, a possible solution is to apply the same trick used for wavelet in the `wavelet-contrast-accurate-preview` branch also to the normal noise reduction.

**EDIT** the trick shouldn't be too hard to implement *in principle*

[2017-05-29 16:02] agriggio opened #3897 "Unify the various processing pipelines"
Currently RT has several (at least 3, possibly 4?) different processing pipelines, used in different places:

- `rtengine/improccorrdinator.cc` for the main preview panel
- `rtengine/dcrop.cc` for the detail windows
- `rtengine/simpleprocess.cc` for the final output
- possibly something for thumbnails as well?

This makes the code maintenance harder than necessary. We should try to refactor the co

[2017-05-29 16:08] Beep6581 commented on #3897
I think it's a great idea. Please let me know if I can help.

[2017-05-29 16:17] JamesForBugReport commented on #3895
Sorry @agriggio the confusion was caused by me. @Beep6581 was approaching from a point of enabling minimal tools that caused the issue, I was approaching from turning off tools to remove the issue. I reported that with Wavelet Denoise and Refine turned off there was no difference, on second inspection, there is still a difference.
Upon further testing, I concur with @Beep6581 findings that noise r

[2017-05-29 16:30] heckflosse commented on #3897
@agriggio :+1: You can count on me for this task. It will save us a lot of time once it's completed.

[2017-05-29 16:32] Desmis commented on #3897
@agriggio
On principle I totally agree and if I can be of any help.

It seems to me that it will be necessary to make an inventory of the system. Some procedures, for example "denoise" have almost all the code in dcrop.cc, others like locallab, have an important place in improccoordinator - with not simple links with Dcrop.cc, etc.

It would be a good idea to propose a "project" type approach, wit

[2017-05-29 16:41] heckflosse commented on #3897
@agriggio

afaik:

- `rtengine/improccorrdinator.cc` full image (but scaled down, not full size) for the navigator and the pan background
- `rtengine/dcrop.cc` for the main preview and the detail windows
- `rtengine/simpleprocess.cc` for the final output
- `rtengine/rtthumbnail.cc` for thumbnails

[2017-05-29 22:32] ion12 commented on #3882
@Partha1b I downloaded again the 5.0-r1_gtk3 app from your site and could **not** reproduce any crash-on-exit. I remember experienceing at some point some crash-on-exit with your builds as well, maybe it was a different build... but as it was quite a while back I did not make a record, it is also possible that I am mistaken.
Let's assume I am - does this indicate that it is more likely there is pr

[2017-05-29 23:52] Partha1b commented on #3882
@ion12
I am curious. Why do you feel that it couldn't possibly be the code?

Here is a simple test. Simply build without those 2 lines and if you can repeat the crash, you have your answer.

Here is the full report. Warning: It's pretty long!
[code]

[2017-05-30 00:59] ion12 commented on #3882
thanks @Partha1b ok, so the crashed thread is simillar to to what @Benitoite posted and what I'm seeing. Does this mean you are now building with a more recent clang?
I just noticed that I missed your post with the rtwindow.cc suggestion from earlier today.
I will test :)

[2017-05-30 01:03] rogerxxxx commented on #3860
The likely reason why I was getting exposures one stop less, I was setting the camera exposure on the 18% grey patch (or the second light grey patch from the left), rather than using the darker grey patch, or the second grey patch from the right.  Though I'm presuming, the exposure compensation (eg. bracketing) safely adequately compensated during the acquisition of above photos.

Once I have my m

[2017-05-30 01:24] Benitoite commented on #3882
@ion12 In my most recent test I can crash the debug build on Quit without running the `rawtherapee` executable loader (only passing the expanded out variables manually), if /tmp is not cleared of *app links, and I did several times in a row.  Clearing /tmp did resolve the issue for me.

[2017-05-30 02:28] ion12 commented on #3882
@Partha1b no difference unfortunately

Just illustrate the issue:
I open RT, load a photo, make changes in the channel mixer, quit by pressing the CMD+Q keys:
[code]
I open RT, load a photo, make changes in the channel mixer, quit by clicking the window's close button:
[code]
I open RT, load a photo, make changes in the channel mixer, quit from the application menu:
[code]
Then I do the exact same

[2017-05-30 05:40] Floessie commented on #3890
@heckflosse Well, not really a BT... I had a look at the Coverity scan yesterday: There are a bunch of unchecked `fread()` return values, which might be related to this. I won't have time before the coming WE to care for it, but I surely will...

[2017-05-30 13:21] agriggio commented on #3897
Thanks to all for your comments. Some replies:

@Beep6581: since this is not going to happen overnight, and require some changes to the internals, one thing that needs to be done is decide when to work on this, and what to do with the open branches, as I suppose that merging after the refactoring could be complicated...

@Desmis: I agree in principle about having a project plan. But I do RT for fu

[2017-05-30 15:12] Benitoite opened #3899 "[OSX] Cairo Font Bug (RT Crashes when I open certain tiff or jpeg)"
See also: https://discuss.pixls.us/t/rt-5-1-macosx-10-12-5-crash-when-i-edit-an-image/4320

About this build
[code]

System: MacOS Sierra

How to reproduce, try to open certain tiffs or jpgs like this one: https://filebin.net/goedpl7mm56wf7mj/rt51a.tif
or this one:
https://filebin.net/goedpl7mm56wf7mj/cuChi2016school-Sat.jpg

The crash and bt
[code]

@partha1b @ion12 does that look like a familiar

[2017-05-30 15:23] Partha1b commented on #3899
@Benitoite Yes, it is a known bug. Recompile cairo without that offending line and rerun your make script and see if you can reproduce the bug.

[2017-05-30 16:12] heckflosse commented on #3892
@rechmbrs

Currently the only `special` method is `Pentax Pixel Shift`.
Olympus Pixel Shift combines the frames already in camera. For rt they are not different than normal files just with larger dimension.
Canon Dual pixel files can be read by RT and you can extract both sub frames.
Same for Pentax HDR files.

Currently I would give priority to Pentax HDR files over Canon Dual pixel files. Neithe

[2017-05-30 18:23] Beep6581 opened #3900 ""Save to folder" fails on some special characters"
From https://discuss.pixls.us/t/3-problems-with-new-rt-5-1-output-config/4313

When the Windows 10 user tries to set the output directory to `D:\Obróbka\Out` in the Queue tab, RT fails with "Invalid byte sequence in conversion input".
![cf99cbc503e80f2f092a81e57b6ba9a7aba9b059](https://cloud.githubusercontent.com/assets/5844619/26598530/d2109f20-4575-11e7-8461-3da44045b57d.jpg)

Steps to reproduce