[2018-02-08 20:17] heckflosse commented on #4319
@Floessie yes, absolutely :+1: to push both patches

[2018-02-08 20:22] Floessie commented on #4319
@heckflosse I think, I understand, what's going on. When I switch RT to a language I have no locale for, it prints:

[code]

Maybe, that's the problem with @Benitoite's build, too. MacOS seems to be very picky about locales. He switched to German, and I'm almost sure, he has no `de_DE` locale installed. Check with `locale -a`.

[2018-02-08 20:40] Floessie commented on #4319
@heckflosse How about [`setlocale()`](https://linux.die.net/man/3/setlocale) and taking the return value into account?

[2018-02-08 20:45] Floessie commented on #4319
@heckflosse Yes, that [could work](https://github.com/GNOME/gtk/blob/1a9a0c25771d124a54b8bf7d81e36033ba429970/gtk/gtkmain.c#L545)...

[2018-02-08 20:51] heckflosse commented on #4319
@Floessie your try :)

[2018-02-08 20:53] Floessie commented on #4319
Here's a patch, that works under Linux:

[code]

[2018-02-08 21:27] heckflosse commented on #4319
@Floessie compiling...

[2018-02-08 21:39] heckflosse commented on #4319
@Floessie works fine on Win7 👍

[2018-02-08 21:39] Kakupakat opened #4381 "Crash when opening a new image from the file browser."
RT keeps crashing when I try to change image that is open in the edit window from the file browser. I hope the backtraces are useful.
The first backtrace is from a crash that happend with my normal settings. The UTF-8 text it complains about is not in the name of the file, it is in the comment tag. After changing the application language to english (US) I was able to change the image several times

[2018-02-08 21:53] heckflosse commented on #4381
@Kakupakat please post the content of `AboutThisBuild.txt`

[2018-02-08 21:55] Kakupakat commented on #4381
Version: 5.3
Branch: 5.3
Commit: ec0f7936
Commit date: 2017-09-30
Compiler: gcc-7 7.2.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.20.1
Lensfun: V0.3.1.0
Build type: release
Build flags: -fmessage-length=0 -grecord-gcc-switches -O2 -Wall -D_FORTIFY_SOURCE=2 -fstack-protector -funwind-tables -fasynchronous-unwind-tables -fstack-clash-protection -std=c++11  -Werror=unused-label -fo

[2018-02-08 22:02] heckflosse commented on #4381
@Kakupakat Can you try a more recent version? Maybe there's one available following the instructions on http://rawtherapee.com/downloads, but I'm not sure about that.

[2018-02-08 23:35] Kakupakat commented on #4381
There is no more recent version available from the openSUSE repositories. I tried with the same version from a different repo, but it still crashes.
I thought I might compile using the instructions from rawpedia, but it wants gcc version 4.9 or higher and I only have 4.8 installed. Although I installed a newer version I don't know how to convince the installation script to use this version.

[2018-02-08 23:41] heckflosse commented on #4381
@Kakupakat Though I'm not the right person for linux builds of rt, did you try the following?

[code]

That could give you a build of current dev, which likely is more stable than 5.3

[2018-02-09 00:14] Kakupakat commented on #4381
The rawtherapee-unstable variant is new in the repo. Sorry.
I installed it and it is more stable than 5.3, but I was able to make it crash 3 times. It was hard work I had to change the image many, many times. Unfortunately it never gave me a backtrace.

Might it be the same issue as this: [#4380](https://github.com/Beep6581/RawTherapee/issues/4380)?

Version: 5.3-608-g09c457240
Branch: dev
Commit:

[2018-02-09 02:27] TooWaBoo commented on #4148
New update
Attention: The update needs some interactions, read carefully.

[code]

[2018-02-09 03:11] Benitoite commented on #4319
@Floessie latest dev pull plus the patch makes the situation worse, now crashing on macOS English / United States with same error when switching to queue, with queued image in folder containing ö/ü.
[code]

[2018-02-09 03:18] Benitoite commented on #4319
Also, the issue reported on pixls was not switching to German language, but keeping English language and changing region to Germany. For instance a user wants currency and time reported in the German manner, but keeps the OS using English. de_DE is definitely in locale -a but of course not en_DE which is reported by macOS in the case of English(language) + Germany(region). Maybe en_US works becaus

[2018-02-09 03:58] TooWaBoo commented on #4148
I've compiled branch **release5.4** and this works fine, no crash. I guess it's a RT issue.

[2018-02-09 04:23] TooWaBoo commented on #4148
I could isolate the culprit. If you use a language other than English, RT crashes.

[2018-02-09 04:25] TooWaBoo commented on #4319
Latest version of RT crashes when using an other language than English.

![36009333-0bc44c82-0d4c-11e8-9e0b-65e6ad986fb2](https://user-images.githubusercontent.com/13800920/36011833-5ec954fa-0d5a-11e8-92a6-09ef4f199fa4.png)

[2018-02-09 07:12] Floessie commented on #4319
If I can also make it crash under Linux we've at least reached consistency. And consistency is king. 😁

Oh my, Apple... `en_DE` denotes "Englisch as spoken in Germany", something like [Lübke](https://en.wikipedia.org/wiki/L%C3%BCbke_English) (beware the umlaut) spoke, or more recently [Günther Öttinger](https://www.youtube.com/watch?v=sZ2Pz4naZPs) (beware the double umlauts).

To me it seems, that

[2018-02-09 07:44] gaaned92 commented on #4319
latest version crashes as @TooWaBoo noticed

But both rawtherapee.exe and rawtherapee-debug.exe run ok under GDB!
thus no backtrace available

[2018-02-09 07:46] Floessie commented on #4319
[Inkscape on macOS](https://github.com/caskformula/homebrew-caskformula/issues/4) has similar problems.

There is/was also a problem with locales using [`libstdc++`](https://stackoverflow.com/questions/11190072/setting-locales-on-os-x-crashes) instead of `libc++`, but we're only using a C function.

@gaaned92 Is that due to 4a2b9468d140df6cb7169a55ac038bebfd951664 or one of the later commits?

[2018-02-09 08:05] Floessie commented on #4319
@Benitoite Is [this](https://trac.macports.org/ticket/52632) interesting?

[2018-02-09 08:27] Floessie commented on #4319
Darktable nowadays does [this](https://github.com/darktable-org/darktable/blob/85985f95bb18cc6d7555025f86824eddda6c15fa/src/common/l10n.c#L31), and used to do it like [this](https://github.com/darktable-org/darktable/blob/darktable-2.2.x/src/common/darktable.c#L765).

[2018-02-09 08:43] Beep6581 commented on #4381
It doesn't give you one by itself, you must proactively get one:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces

[2018-02-09 10:00] gaaned92 commented on #4319
@Floessie
4a2b946 ok
b53e773 crash

[2018-02-09 10:10] Beep6581 commented on #4319
Tested `dev` `5.3-612-gb53e773f`, works fine in Linux.
[code]

And if you want to see [fun things](https://filebin.net/c260v7k10uk0ssw9/screenshot_20180209_110647.png), try
[code]

[2018-02-09 10:26] Floessie commented on #4319
@gaaned92 That's at least something. Thanks for testing.

@Beep6581 With the patch [above](https://github.com/Beep6581/RawTherapee/issues/4319#issuecomment-364244916) even those warnings should be gone.

You set both `LANG` and `LC_ALL`, darktable sets `LANG` and `LANGUAGE`, we only set `LANG` internally. Does anyone know, what is really needed here?

[2018-02-09 11:00] Floessie commented on #4319
@heckflosse @Beep6581 Adding the suffix or even setting the `LANG` like we do is crap: Of course there is no `fr` or `fr.utf8` locale, it should be `fr_FR.utf8`. The Gtk-WARNINGs indicate that, now we set it before starting `gtk_init()`.

But even if we add another column [here](https://github.com/Beep6581/RawTherapee/blob/b53e773fbb49acddf14013896c067445f13859ae/rtgui/multilangmgr.cc#L41), we hav

[2018-02-09 12:40] Beep6581 commented on #4319
Quotes from the `setlocale` man page:

@gaaned92 @TooWaBoo @Benitoite how exactly do you reproduce the crash - what does `locale -a` say, what do you set the language, territory and codeset to, and which environment variable(s) do you use?

e.g. does this crash?
[code]

[2018-02-09 13:05] TooWaBoo commented on #4319
_how exactly do you reproduce the crash_
Change the language in RT to English - Restart RT - this works fine
Change the language in RT to non English - Restart RT - crash

_which environment variable(s) do you use?_
I didn't set any environment variable

_e.g. does this crash?_
Setting `LC_ALL` as an environment variable doesn't change anything. It's still crashing

[2018-02-09 13:17] Floessie commented on #4319
@TooWaBoo

Please set RT to English, so it works without crashing, then prepend `LC_ALL=does_not.Exist` to the command line.

[2018-02-09 13:27] TooWaBoo commented on #4319
@Floessie
I don't get it.
btw. I'm on windows

[2018-02-09 13:40] Floessie commented on #4319
Yes, this is crucial, as we don't see those crashes on Linux.

We want to know, if simply setting the environment variable `LC_ALL` to something odd crashes RT. Therefore, RT must be working before the test. You wrote:

Please do so. Then start RT from the command line and set the environment variable `LC_ALL` to `does_not.Exist`, however this is done on Windows. Then start RT. If it crashes we ha

[2018-02-09 13:47] TooWaBoo commented on #4319
Setting `LC_ALL` has no effect. RT runs fine when the language is set to English and crashes on non English.

[2018-02-09 13:49] Beep6581 commented on #4319
@TooWaBoo how did you set `LC_ALL`?

[2018-02-09 13:55] TooWaBoo commented on #4319
![grafik](https://user-images.githubusercontent.com/13800920/36030900-40163966-0da9-11e8-8695-b50da3022490.png)

[2018-02-09 14:27] gaaned92 commented on #4319
I set langauage to french
- if I launch directly RT it crashes
- if I launch from a mingw64 shell it runs. no warning message

MINGW64 shell environment variable
[code]

[code]

[2018-02-09 14:37] gaaned92 commented on #4319
[locale -a output](https://github.com/Beep6581/RawTherapee/files/1711322/Nouveau.document.texte.2.txt)

[2018-02-09 14:39] TooWaBoo commented on #4319
Ahhhh, when you Linux guys talk about command line you mean Mingw and not Windows cmd. ;-)
Running RT from Mingw64 command line works fine in all languages.

[2018-02-09 14:59] heckflosse commented on #4319
Know I know why I could not reproduce here on Windows. I'm always using MinGW shell

[2018-02-09 15:32] heckflosse commented on #4319
@TooWaBoo @gaaned92

Can you try this patch please? Here it fixes the crash.

[code]

[2018-02-09 15:37] Benitoite commented on #4319
@Floessie @heckflosse @Beep6581 Here's the full macOS 10.12.16 output of `locale -a`.
https://gist.github.com/Benitoite/9d9e357ca968407e101d6ef1843e4fbd#file-gistfile1-txt

(Still on same patched (previous one) https://github.com/Beep6581/RawTherapee/commit/b53e773fbb49acddf14013896c067445f13859ae build)
Can't reproduce @gaaned92's language crash on mac.

Setting `export LC_ALL=${AppleLocale%@*}.U

[2018-02-09 15:59] TooWaBoo commented on #4319
@heckflosse
I've tested your patch and it works fine, no crash. 👍

[2018-02-09 16:38] heckflosse commented on #4319
Here's a more complete patch:

[code]

[2018-02-09 16:41] Floessie commented on #4319
@heckflosse That makes sense! Good catch. 👍

[2018-02-09 17:19] Benitoite commented on #4319
@heckflosse Same results with new patch on mac.  Switch to queue crash with en_DE AppleLocale.

[2018-02-09 17:23] gaaned92 commented on #4319
W10: with patch it works OK

[2018-02-09 17:37] Kakupakat commented on #4381
Here you go.

[log.txt](https://github.com/Beep6581/RawTherapee/files/1711896/log.txt)

[2018-02-09 21:15] Floessie commented on #4319
@heckflosse Thanks! And all the troubles only so that @Beep6581 gets his fancy queue switch... 😉 But hey, if we were adventurous, we could now even switch to `gettext()`.

[2018-02-09 21:24] heckflosse commented on #4319
@Floessie That's not only for the queue switch. The language strings in for example the save dialog are also a bit more consistent now when using non system locale.

[2018-02-09 21:26] Hombre57 commented on #4379
@heckflosse I pushed the fix in `non-scaled-tiff32` branch.

[2018-02-09 21:29] Floessie commented on #4319
@heckflosse Ingo, I was just making fun...

[2018-02-09 22:03] heckflosse commented on #4379
@Hombre57 👍 from me to merge into release5.4 But let's wait for other opinions too

[2018-02-09 22:27] heckflosse commented on #4319
@Floessie As reported by @Beep6581 in irc, the fix still does not solve the issue on Sabayon.
@Beep6581 can give more details I guess.

[2018-02-09 22:34] Beep6581 commented on #4319
Tested in Sabayon.

* `release5.4` `5.3-620-g8f15f5a1`
  * Started RT with `LANG=de_DE.UTF-8` while RT is set to "Use system language", the whole interface language is in German including GTK+ stuff.
  * Started RT with `LANG=en_US.UTF-8` while RT is set to "Deutsch", the interface language is in German but the GTK+ stuff is in English.
* `dev` `5.3-612-gb53e773f`
  * Started RT with `LANG=de_DE.U

[2018-02-09 22:44] Beep6581 commented on #4319
Double-checked both:
* `dev` `5.3-614-g786b73b8`
  * Started RT with `LANG=de_DE.UTF-8` while RT is set to "Use system language", the whole interface language is in German including GTK+ stuff. No warnings in the console.
  * Started RT with `LANG=en_US.UTF-8` while RT is set to "Deutsch", the whole interface language is in German including GTK+ stuff. No warnings in the console.

`786b73b8` does

[2018-02-09 22:49] Beep6581 commented on #4319
* `dev` `5.3-614-g786b73b8`
  * Started RT with `LANG=does_not.Exist LC_ALL=does_not.Exist` while RT is set to "Deutsch", the interface language is in German but the GTK+ stuff is in English.

[2018-02-09 23:29] heckflosse commented on #4319
@Floessie I merged dev into release5.4. Please check again and close if the issue is fixed now.

[2018-02-09 23:31] Beep6581 commented on #4379
I tested `dev` 5.3-614-g786b73b8 vs `non-scaled-tiff32` 5.3-615-gd7f7c06f, compressed and uncompressed 32-bit TIFFs. No issues found. +1 for merge for 5.4.

[2018-02-09 23:41] Beep6581 commented on #4319
Every time I run RT I see:
[code]
Is there some way around that?

I suppose it's because of `LANG=en_SE.UTF-8`, I do have a locale file for that in `/etc/locale.gen` and I did generate it. Its unusual but it's not invalid.

[2018-02-09 23:50] heckflosse commented on #4319
@Beep6581 We should create an issue upstream to report which locale is not supported. Just writing `Locale not supported by C library.` without mentioning the input is far from optimal.

[2018-02-09 23:59] Beep6581 commented on #4319
@heckflosse agreed.

As for unhelpful feedback, there is also #4206

[2018-02-10 01:32] Hombre57 commented on #4379
@Beep6581 What is the process ? Should I push to `dev` first ? Or to `release5.4` directly ?

[2018-02-10 06:52] Kildor opened #4383 "Russian translation"
Here is Russian translation (incomplete) for current dev. I've cleaned up all translated strings (to fix shortcuts and so on). Also I've started to translate new strings, but not sure if I find more time before the release.
I did not sort resulted file.

[Russian.txt](https://github.com/Beep6581/RawTherapee/files/1713104/Russian.txt)

PS: Previous translation was made exactly 4 years ago also by m

[2018-02-10 08:26] Floessie commented on #4319
[code]

I see that, too. I usually set RT to "English (US)", and don't have that locale installed. So the warning is quite valid, but the text says "Using the fallback 'C' locale.", and that is not true, as the GTK widgets are still in system locale, and not in "C".

[2018-02-10 08:42] Floessie commented on #4319
How about this?

[code]

[2018-02-10 09:37] Beep6581 commented on #4379
To `dev`, then we merge `dev` into `release5.4` (or cherry-pick if there's a commit we don't want, but currently there isn't).

[2018-02-10 10:37] Beep6581 commented on #4319
What is the desired behavior when RT is set to French and `LANG=de_DE.UTF-8`?
I suppose we want the whole RT + GTK+ stuff to be in French then?

[2018-02-10 10:48] heckflosse commented on #4319
Oui!

[2018-02-10 10:59] Beep6581 commented on #4319
* `dev` `5.3-614-g`786b73b8
  `LANG=de_DE.UTF-8`, RT set to French: RT labels are in French, GTK+ stuff is in German. Error in console:
[code]
  ![screenshot_20180210_115430](https://user-images.githubusercontent.com/5844619/36061384-b6d2b4a2-0e59-11e8-8b5b-53e8404533e5.png)
* `dev` `5.3-614-g`786b73b8 + the patch [above](https://github.com/Beep6581/RawTherapee/issues/4319#issuecomment-364636487)

[2018-02-10 11:07] heckflosse commented on #4319
`LANG=de_DE.UTF-8`, RT set to French

![grafik](https://user-images.githubusercontent.com/13733487/36061457-b4de2036-0e5a-11e8-9763-3f89f5c24271.png)

[2018-02-10 11:13] #4383 closed, assigned to Beep6581

[2018-02-10 11:14] Beep6581 commented on #4383
Thank you @Kildor
You still have time to update the non-translated strings for 5.4-final.

[2018-02-10 11:20] Beep6581 commented on #4319
@heckflosse what language are your Save-As windows in?

[2018-02-10 11:27] heckflosse commented on #4319
@Beep6581 French, because on my system fr_FR.utf8 is installed

[2018-02-10 11:36] Beep6581 commented on #4319
I have `de_DE.UTF-8` installed, but no `fr_FR.UTF-8`, so that might explain why the GTK+ stuff is not in French. So `dev` `5.3-614-g`786b73b works correctly by falling back to German for GTK+ stuff, while the proposed patch falls back to English which perhaps is not correct(?).

[2018-02-10 11:57] TooWaBoo commented on #4319
On Windows I've installed all necessary languages in the folder share of RT.
https://filebin.net/yzkenp98hhqnuc6z

[2018-02-10 12:04] Floessie commented on #4319
@Beep6581 My idea was to emulate what GTK promised but failed to fulfill: Fallback to "C" locale, if the desired locale is not available. You can easily change that by replacing

[code]

with

[code]

Best,
Flössie

[2018-02-10 12:10] heckflosse commented on #4319
I suggest this additional patch, because currently using `English` falls back to `C` locale:

[code]

@TooWaBoo That would mean, you have to add `en` to your builds.

[2018-02-10 12:26] TooWaBoo commented on #4319
@heckflosse, It works without the "en"-locale.
___________________________________________
Windows Gtk+ locale
![grafik](https://user-images.githubusercontent.com/13800920/36062008-e7c5c856-0e63-11e8-8208-aae85d826928.png)
The Windows Gtk+ locale files are not up-to-date, see the example for french.
![grafik](https://user-images.githubusercontent.com/13800920/36062037-b3427632-0e64-11e8-89ac-eb159

[2018-02-10 14:19] heckflosse commented on #4319
@Beep6581 Can you try this patch please?

[code]

[2018-02-10 14:56] Beep6581 commented on #4319
[code]

When I set RT to "use system language", it starts in English with no console warning.
When I set RT to use "English (US)", it starts in English with no console warning.
When I set RT to use "English (UK)", it starts in English with a locale not supported warning.
When I set RT to use "Deutsch", it starts in Deutsch including GTK+ in Deutsch, no console warning.
When I set RT to use "French

[2018-02-10 15:26] #4379 closed, assigned to heckflosse, Hombre57

[2018-02-10 15:43] TooWaBoo commented on #4148
New update
[code]

[2018-02-10 15:50] Beep6581 commented on #3558
`5.3-620-g`5a9beb3c

[2018-02-10 19:59] Beep6581 commented on #4319
@Floessie @heckflosse is there any other info I can provide, or is this good to go?
@TooWaBoo @Benitoite @gaaned92 how does the latest patch fare on Windows and macOS?

I think we are set to tag 5.4-rc1 once this issue is resolved.

[2018-02-10 20:06] heckflosse commented on #4319
@Beep6581 For me it's currently good to go with latest patch. At least it's much better than before and the warnings appear correctly

[2018-02-10 20:24] Floessie commented on #4319
But keep in mind, that it's falling back to system locale for GTK+ and not to "C" as it says. @Beep6581 cannot see that, as his system locale is `en_SE`. If it was `sv_SE`, those settings with warnings would show Swedish GTK+ widgets.

That's no problem with me. I just wanted to mention that, as I think, @Beep6581 can't see it with his system locale.

Best,
Flössie

[2018-02-10 20:32] heckflosse commented on #4319
@Floessie

But isn't falling back to system locale better than falling back to "C"?

[2018-02-10 20:40] Floessie commented on #4319
Sure. But as the warning is wrong, one could also go without it or with our own warning. But let's keep it that way. It's gtkmm's problem, not ours. I'm glad, we solved the whole issue. And hopefully also for @Benitoite (I guess you already tested @TooWaBoo's case on Windows).

Good night,
Flössie

[2018-02-10 21:03] gaaned92 commented on #4319
W10
With patch above RT translations are ok but @TooWaBoo above case remains.

With gtk30.mo locale installed for all langages, there are 3 cases
- ON/OFF is translated if rt langage set to deutsh
- ON/OFF is NOT translated for Italian
- odd characters for french

So I think it is better  to not ship gtk30.mo locale with windows build.
I don't know where the translation of ON  and OFF is located.

[2018-02-10 21:18] heckflosse commented on #4319
@gaaned92 About french on/off switch:

from [here](https://github.com/linuxmint/gtk/blob/master/po/en.po#L2745)
[code]

Edit: [Here's a link](https://github.com/linuxmint/gtk/blob/master/po/fr.po#L3210) to the french "translation".

[2018-02-10 22:05] gaaned92 commented on #4319
@heckflosse
Ah! stupid french translation! why not keep ON/OFF?

Now, I suppose that this po/fr.po is compiled in a .mo file that should be \msys64\mingw64\share\locale\fr\LC_MESSAGES\gtk30.mo
I tried to decompile it with `poedit` but I cannot find ON OFF translation here.
see
[gtk30.po ](https://github.com/Beep6581/RawTherapee/files/1713798/gtk30.docx)

[2018-02-10 22:18] #4319 closed, assigned to Floessie

[2018-02-10 22:21] heckflosse commented on #4319
@gaaned92 How can I open the gtk30.po file you linked? Looks like a binary file, not a text file

[2018-02-10 23:06] verliba opened #4386 "Verbose feedback user warning if PP3 fails to save"
Using version 5.3
Simple to reproduce.. write protect the folder with images.
Make settings to an image in the folder..
pp3 can't be saved of course..
But I don't know., I edit all the remaining 50 files, and quit RT at the end of the day..
What a surprise after restart RT does not remember any changes..

[2018-02-10 23:24] heckflosse commented on #4386
I agree that the behaviour could be impoved. Meanwhile as a workaround you could try this (just a guess, as I didn't test)

![grafik](https://user-images.githubusercontent.com/13733487/36067665-d67fac48-0ec1-11e8-91b4-67ae4d854347.png)

[2018-02-10 23:40] TooWaBoo commented on #4319
@gaaned92
The ON/OFF strings are found at the end of your doc gtk30.po.
[code]
@heckflosse
It's a word document
____________________________________________________________________
I've modified the "fr" gtk30.mo file with a hex editor to ON/OFF
https://filebin.net/1kgpi74o1qg34wyf

![grafik](https://user-images.githubusercontent.com/13800920/36070605-d6c3a03c-0efe-11e8-9dca-bf037c4d2f74.png)

**E

[2018-02-11 00:12] valpackett commented on #3676
Hi. I've had a similar issue. Not the same though — no pauses, but also thumbnail related:

With NFSv4 between two FreeBSD boxes, both RawTherapee and Darktable slowed down to a crawl in file browser mode, with a full CPU load. (A beefy Ryzen 7 rig not being able to scroll a list of fscking photo thumbnails looks *so ridiculous*…)

`-DWITH_MYFILE_MMAP="OFF"` completely solved the problem for me! T

[2018-02-11 00:12] valpackett commented on #3676
Would be nice if RawTherapee automatically turned off mmap for network filesystems…

[2018-02-11 00:44] heckflosse commented on #3676
@myfreeweb Thanks for feedback! Currently we are in the process to release 5.4, which means it's too late now for changing this. Maybe for 5.5. I will set it on my todo list now. Issue should not be closed.

[2018-02-11 00:44] Beep6581 commented on #4386
Related in the sense that we need a notification system:
https://github.com/Beep6581/RawTherapee/issues/4261

[2018-02-11 14:34] mbajor opened #4387 "rawtherapee.appdata.xml validation failed"
I'm trying to build AppImage on OBS.
I can't do it due to the following error:
[code]

appstreamcli is used for validation.

[2018-02-11 19:05] Beep6581 commented on #4387
@mbajor a warning should not be fatal...

This appdata file is a source of constant [problems](https://github.com/Beep6581/RawTherapee/issues/2954#issuecomment-151992499). The appdata validator was broken-by-design, the [appdata project](https://github.com/hughsie/appdata-tools/) no longer exists and left no redirect in its place, and the appstream validator seems to be capricious and returns diff

[2018-02-11 19:44] Beep6581 commented on #4261
I again ran into an issue where I thought my PP3s were broken or I was somehow using the wrong PP3s, until I realized the HaldCLUT was not being found as specified in the sidecar PP3.
We should implement this one way or another for 5.5

[2018-02-11 20:01] Beep6581 opened #4388 "HaldCLUT shown but not used on switching image"
It seems that when switching to the "next" image whose HaldCLUT does not exist, RT will show the previous image HaldCLUT's name in the "Film Simulation" combo, even though it is not being used.

To reproduce:
1. Copy `amsterdam.pef` to `1.pef` and `2.pef`
2. Apply neutral to both, enable Film Simulation for both. It doesn't matter whether you specify a HaldCLUT or not.
3. In a text editor set the

[2018-02-11 23:31] Beep6581 opened #4389 "Continuous integration with OBS"
@mbajor has been maintaining the RawTherapee Open Build Service for years. This issue is to let you know that now he set up continuous integration, so that every commit to `dev` will trigger a rebuild of all supported distros.
This is the URL to watch:
https://build.opensuse.org/package/show/home:rawtherapee/rawtherapee-unstable

[2018-02-11 23:44] heckflosse commented on #4389
@mbajor Thanks a lot for this!

[2018-02-12 00:05] #4387 closed, assigned to Beep6581

[2018-02-12 00:18] Beep6581 commented on #4387
I created a new appdata file, generated using `appstream-util appdata-from-desktop`, version 0.6.13.

I intentionally chose to ignore these "failures", because:
* This `appstream-util` validator, as it's predecessor `appdata-validate`, seems to be operating by fantasy rules.
* [The specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html) at the time of writing makes n

[2018-02-12 00:58] Beep6581 commented on #4028
I just tagged release `5.4-rc1`.
Package maintainers:
[code]
Please paste links to Windows and macOS builds so that we can call for testing.

If you need tarballs, do not use the one [from GitHub](https://github.com/Beep6581/RawTherapee/releases) as it lacks the AboutThisBuild info, use the one from here:
http://rawtherapee.com/shared/source/

If things go well, 5.4-final will be released some tim

[2018-02-12 05:59] gaaned92 commented on #4028
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

suffix: 5-dev

[2018-02-12 06:38] Floessie commented on #4389
@mbajor Bravo! Keep the build bugs coming!

[2018-02-12 11:12] Hombre57 commented on #4388
@Beep6581 Should this be solved for 5.4 ? Doesn't seem complex to solve.

[2018-02-12 11:17] Hombre57 commented on #4066
@Beep6581 The patch has been merged, but the docs still has to be updated. Should this be closed ? Should it be marked as done in the [5.4 Milestone](https://github.com/Beep6581/RawTherapee/milestone/4) ?

[2018-02-12 11:59] Beep6581 opened #4390 "Segfault in lut.h"
`5.3-628-g`9f89ff2d

https://filebin.net/aoha8bi9nmyt9tnh

1. Open the raw + PP3.
2. Reset Exposure > Tone Curve 1.
3. Drag the bottom-left node to top-left (the second step would be to drag the top-right node bottom-right, to make the image negative, but it crashes).

[code]

[2018-02-12 12:02] Beep6581 commented on #4066
@Hombre57 all issues which require documentation changes should stay open until the docs are updated.
Now that 5.4-rc1 is out and we are in feature-freeze, the docs can start being written/updated.

[2018-02-12 12:05] Beep6581 commented on #4388
@Hombre57 that would be nice.

[2018-02-12 12:19] TooWaBoo commented on #4148
New update

[code]

[2018-02-12 12:39] heckflosse commented on #4390
Bug confirmed. Looking.

[2018-02-12 13:44] heckflosse commented on #4390
Fixed with this patch:

[code]

[2018-02-12 13:50] Beep6581 commented on #4390
Fix confirmed.

[2018-02-12 14:10] mbajor commented on #4387
@Beep6581
Issue still exists.

[code]

According to documentaion

Desktop file should be in launchable tag
`​<launchable type="desktop-id">rawtherapee.desktop</launchable>`
https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-launchable
https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html#desktop-file-id

This patch makes the file valid in appst

[2018-02-12 14:12] #4390 closed, assigned to heckflosse

[2018-02-12 14:45] Beep6581 commented on #4387
@mbajor using the above patch:
[code]

[2018-02-12 14:56] mbajor commented on #4387
@Beep6581
I didn't check with appstream-util.
Which version of appstream-util you have?
Here is my result with and without the patch (appstream-util v0.7.5):

[code]
[code]

[code]

I think appstream-util is not used on OBS.

[2018-02-12 15:07] Beep6581 commented on #4387
`appstream-util` version 0.6.13.

[2018-02-12 15:09] Beep6581 commented on #4387
Really tempted to delete this file.

[2018-02-12 22:35] X-Raym opened #4391 "Add color matching between two images"
Hi !
In Darktable, there is a nice feature: color matching between two images.

The basic idea is too sample the color from an image reference and to apply them on a destination image.

It makes it very easy to color grade several images with the same tone.

Here is a detailed explanation of the concept: https://www.darktable.org/2013/04/color-mapping/

and here a video demo (in French): https://w

[2018-02-13 07:20] waxhead opened #4392 "RT Crashes on WB changes on a really blown out image - I think"
Latest pull from Dev:

AboutThisBuild.txt:

Version: 5.3-629-gc406844
Branch: dev
Commit: c406844
Commit date: 2018-02-12
Compiler: cc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Lensfun: V0.3.2.0
Build type: debug
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -g -ftree-

[2018-02-13 10:56] heckflosse commented on #4392
@waxhead Please provide the raw file

[2018-02-13 14:37] Kolli96 opened #4393 "TIFF Exif data format incompatible with Windows and some programs"
If I save a Nikon NEF raw file to a .tiff format, (uncompressed, compressed) the metadata will not be added (Date and time information, lens info etc). Only camera model, program name and picture resolution information included.

I have Windows 10 64-bit and RawTherapee version 5.3 ( I have tested the developer version 5.4 but the same problem. If I save RAW file in jpeg format, metadata follows w

[2018-02-13 16:20] heckflosse commented on #4393
@Vike95 I just tested all combinations (8/16/32 bit, compressed/uncompressed) using developer version with a D700 NEF.
Works fine here. Maybe you set this to `Strip all metadata` by accident?

![grafik](https://user-images.githubusercontent.com/13733487/36160657-02e9df02-10e2-11e8-90d9-7c8950befbf6.png)

[2018-02-13 16:29] Kolli96 commented on #4393
I tested this but Windows own "File properties" function can not find metadata. But if I test this FastStone Image Viewer program, it find all metadata!

Old .tiff files metadata is displayed Windows file properties even though they have also been saved Rawtherapee version 5.3 and same Windows 10 64-bit version.

[2018-02-13 16:49] heckflosse commented on #4393
@Vike95 I confirm that Windows `File properties` does not show the metadata with the exception of the camera model. I also confirm that for tiff files saved from old rt versions, Windows `File properties` shows the metadata.
This is clearly a bug.

[2018-02-13 16:53] heckflosse commented on #4393
@Hombre57 Do you have an idea what could cause this behaviour?

[2018-02-13 17:23] Kolli96 commented on #4393
Now I installed version 5.3 back and it inform "TIFFOpenW error" and below it "C:\Users\user\Pictures\picture.tiff" if I save Nef file to .tiff format (uncompressed or compressed). Tiff file still open and works normally.

And now metadata work in Windows File properties but only uncompression mode.
I would like to use compression mode with metadata because it saves a little bit space and it is lo

[2018-02-13 18:00] heckflosse commented on #4393
No, it does support metadata, as you can see when opening compressed tiff files in RawTherapee, FastStone Image Viewer or IrfanView (which show the metadata).

Looks like an endianess problem... Maybe @Hombre57 can shed some light on this

[2018-02-13 19:09] Benitoite opened #4394 "Crash in macOS when switching to Queue when language/region en_DE -- image has ü/ö in path"
The main difference between this issue and https://github.com/Beep6581/RawTherapee/issues/4191 is the fact that in this case, we are having a new type of crash when trying to switch to the queue when the language and region are set to en_DE in macOS.

[code]

Maybe something additionally needs to be done for MacOS as mentioned in https://github.com/Beep6581/RawTherapee/issues/4319#issuecomment-364

[2018-02-13 19:10] Benitoite commented on #4394
https://filebin.net/dv4pg4os39kmmke0/RawTherapee_OSX_10.9_64_5.4-rc1.zip
Link to the mac build.

[2018-02-13 19:34] TooWaBoo commented on #4148
New update:
[code]

[2018-02-13 19:38] heckflosse commented on #4394
@Benitoite Does it work with this patch? Of course this falls back to old behaviour for osx builds, but that's better than crashing...

[code]

[2018-02-13 20:55] Hombre57 commented on #4393
@Vike95 @heckflosse Testing...

[2018-02-13 21:18] Floessie commented on #4394
The real question is: What's wrong with that surface under that condition (macOS, bad locale)?

[2018-02-13 21:51] Hombre57 commented on #4393
@Vike95 @heckflosse I made a test with a D850 NEF file, export to tiff 8bits with metadata set to 'as is', compressed and uncompressed : files has the metadata, ExifTool shows that they are the same, IrfanView only show a subpart of the metadata and where some fields has different values between the compressed and uncompressed files. Test done with Win7. Windows also show some metadata but very fe

[2018-02-13 22:34] heckflosse commented on #4393
@Hombre57 Simple answer: Windows shows much less metadata for tiff files saved from current rt than it showed from tiff files saved from old (5.2/5.3 don't know exactly) builds.
I can provide a tiff saved by an old version of RT if needed

[2018-02-14 00:01] Hombre57 commented on #4393
@heckflosse Yes please, with the raw file too. You have my private mail if necessary.

[2018-02-14 00:17] heckflosse commented on #4393
@Hombre57 Here you go : https://filebin.net/o99qe8houes6daea

[2018-02-14 00:24] Benitoite commented on #4394
@heckflosse No change with this patch, unfortunately.

[2018-02-14 00:34] Benitoite commented on #4394
See also DT's mac executable loader code, where the language environment is handled for the mac.
https://github.com/darktable-org/darktable/blob/master/packaging/macosx/start

[2018-02-14 06:58] mattiaverga opened #4396 "5.4-RC1 stuck on release notes panel"
I'm testing Fedora 27 RPMs of Rawtherapee 5.4-RC1, I've successfully built it in a testing repo under Copr (https://copr.fedorainfracloud.org/coprs/mattia/Rawtherapee-test/).
When Rawtherapee starts it shows the Release notes window, but I'm unable to scroll or closing it. If I give focus to another program window, the release notes are always on top.

Running from console, it only shows a single

[2018-02-14 07:43] Floessie commented on #4396
Cannot reproduce with GTK 3.22.26 on Debian testing and latest `dev`.

[2018-02-14 07:56] Beep6581 commented on #4394
@Benitoite please append your `$ locale -a` and `$ locale` to the first post.

[2018-02-14 07:59] Beep6581 commented on #4396
@mattiaverga move the windows out of the way - there could be another window underneath waiting for your input (alt+tab may or may not show it, so better to move them out of the way instead). Also, check whether you have a second screen plugged in.

If there is a window, it means your `options` file is old and has issues. Best to delete your `~/.config/RawTherapee*` folder(s).

[2018-02-14 08:20] waxhead commented on #4392
@heckflosse

Cool, not sure if it's legit to zip the file and upload it, but here it is.

If you can't trigger the crash I think this is what I did:

Pushed the Exposure to 2.10
Then WB to 7480
Then Tone Curve 1 with a general S curve.  Set high point first, then darks, then mid point... if it doesn't crash, shift the high point higher.

[WZ4A7192.CR2.zip](https://github.com/Beep6581/RawTherapee/f

[2018-02-14 08:22] Floessie opened #4397 "GCC 8 warnings"
Hi,

Debian testing now has a GCC 8.0, so I compiled RT with it. There are some new warnings, some of which I fixed with the patch below (I left out `dcraw.cc`). There's also one, I've not yet looked into:

[code]

Here's the patch for the other warnings. If it's okay with you, I'll push it to `dev` tonight.

[code]

Best,
Flössie

[2018-02-14 08:53] Benitoite commented on #4394
@Beep6581 appended to post

[2018-02-14 09:45] Beep6581 commented on #4028
Thank you @gaaned92
@Benitoite could you please provide a macOS build so that we can announce the RC1 for testing?

[2018-02-14 09:56] gaaned92 commented on #4392
W10
5.4-rc1-4-g7d005de74

Happens with wavelet active when moving an intermediate point of curve on extreme location. Curve becomes incoherent.
if wavelet inactive I cannot get a crash

[code]

[2018-02-14 11:16] Kildor commented on #4383
[Russian.txt](https://github.com/Beep6581/RawTherapee/files/1723677/Russian.txt)
Last bunch of changes I had any changes to done.

[2018-02-14 11:26] Beep6581 commented on #4383
Committed.
Please open a new issue in the future.

[2018-02-14 11:31] Benitoite commented on #4028
@Beep6581

Here’s the Mac build:

https://filebin.net/dv4pg4os39kmmke0/RawTherapee_OSX_10.9_64_5.4-rc1.zip

[2018-02-14 12:01] heckflosse commented on #4397
@Floessie Please don't push your changes in `rtengine/PF_correct_RT`.
I just reworked the whole file with speedups, reduced memory usage and cleaner code.
I will create a pr soon.

[2018-02-14 12:03] Floessie commented on #4397
@heckflosse Okay, no problem.

[2018-02-14 13:05] lewicki-pk commented on #3728
Hi.

What is the status of this issue?

I'm using RawTherapee with DigiKam (second one for exporting, viewing, filtering and rating) and this feature is for me essential to complete my workflow.

[2018-02-14 13:20] heckflosse commented on #4397
@Floessie For `rtengine/PF_correct_RT` I just created 63f14dd

[2018-02-14 14:41] Krzysiu opened #4398 "RT crashes with wrong value in profile (curve)"
RT 5.3 on WIndows 7
[code]

**OS/PC**: Windows 7 64 bit, tested on different machines and problem is the same

**Download source**: http://rawtherapee.com/releases_head/windows/RawTherapee_5.3_WinVista_64.zip

**Screenshot**
![The lack of nodes is the side-effect of the problem](https://i.imgur.com/djAOJTC.png)

**Reproducing the bug**
1. Create profile with setting `Curve=1;` in `Exposure` sectio

[2018-02-14 14:53] heckflosse commented on #4392
@gaaned92 Can you try to reproduce the `wavelet` bug using https://github.com/Beep6581/RawTherapee/commit/c4068444a86c7ed01f06f60f9718e1fb949856e7 ?

@waxhead I still can not reproduce. Can you please post the pp3 before the crash. options file would be good too

[2018-02-14 14:56] TooWaBoo commented on #4148
New update:
[code]

[2018-02-14 14:56] heckflosse commented on #4397
@Floessie May I suggest a better fix for `rtgui/wavelet.cc` ?

[2018-02-14 15:05] Floessie commented on #4397
@heckflosse Yes, please. This was just a quick solution.

[2018-02-14 15:31] gaaned92 commented on #4392
@heckflosse
18c90efe2  (one commit after c406844)

wavelet enabled: crash when moving point on curve
wavelet disabled: no crash

[2018-02-14 15:36] heckflosse commented on #4397
@Floessie Here's the patch for `rtgui/wavelet.cc`

[code]

[2018-02-14 15:55] Desmis commented on #4392
@heckflosse
I have tried, many many times whithout crash. But one time with wavelet enabled, system crash after many many many manipulations whitout crash!

But, I think there is somewhere in the pipeline something wrong, but what ??
With "Locallab" and https://discuss.pixls.us/t/local-lab-build/1430/411  I suspect somethind worse after or before White balance and exposure usage.
The behaviour (ar

[2018-02-14 16:31] heckflosse commented on #4392
@gaaned92 @Desmis
I could reproduce the crash once.
This probably fixes it...

[code]

[2018-02-14 16:49] heckflosse commented on #4398
Bug confirmed.

[2018-02-14 16:51] Desmis commented on #4392
@heckflosse
Ingo
I try with and whitout wavelet enabled.... no crash for me :)

[2018-02-14 17:15] gaaned92 commented on #4392
@heckflosse
sorry
 very reproducible. Generate a tone curve with the new adjustment tool.  Moving the 3rd point from end permits to get a crash

[code]

[2018-02-14 17:18] mattiaverga commented on #4396
@Beep6581 deleting the `options` file and let RT recreate with its defaults solved the problem.

After that I managed to track down the problem to a line in the `profiles` section: I had set `RawDefault=${G}/Default`, but the `Default` profile does not exist anymore.
It seems that if RT shows the release notes window, it fails to show the warning window about that profile is missing (I looked behi

[2018-02-14 17:19] heckflosse commented on #4398
This should fix the issue:

[code]

[2018-02-14 17:33] gaaned92 commented on #4392
@waxhead
Your photo is not so blown
see https://filebin.net/njg9zqzezgn61clu

Some halo but you can improve.

[2018-02-14 18:36] Beep6581 commented on #4396
@mattiaverga the z-order probably was: warning window, main RT window, release notes window. That is why you didn't see it.

Thanks for reporting, will investigate tomorrow.

[2018-02-14 19:28] Floessie commented on #4397
@heckflosse Okay, pushed to a new branch, as this is more than just fixing a warning.

You last optimized the code in [`gauss.cc`](https://github.com/Beep6581/RawTherapee/blob/4046a3c9b99f3bdb768c0315b8b3addc06102427/rtengine/gauss.cc#L761), so I assume you have some insight into why `RESTRICT` is used there. Isn't it paradoxical to feed the function with `dst, dst` and at the same time declaring

[2018-02-14 19:37] heckflosse commented on #4397
@Floessie looking

[2018-02-14 19:42] heckflosse commented on #4397
@Floessie Yes, this is nonsense. I guess the first version worked with an additional buffer. Then I detected that in-place operations are possible and forgot to change the function.

Two possibilities now:

1) remove the RESTRICT
or
2) change the function to operate on src or dst only

What do you think?

[2018-02-14 19:45] heckflosse commented on #4398
@Floessie @Krzysiu I just updated the patch.

[2018-02-14 20:16] heckflosse commented on #4392
@gaaned92 Still can not reproduce. Can you post a pp3 please from just before the crash?

[2018-02-14 20:43] gaaned92 commented on #4392
@heckflosse  It is in the link above

[2018-02-14 21:18] heckflosse commented on #4392
@gaaned92 Thanks. Now I can reproduce. First step to fix the bug.

[2018-02-14 21:32] heckflosse commented on #4392
Ok, found one requirement to trigger the crash.

![grafik](https://user-images.githubusercontent.com/13733487/36229233-d9de7622-11d6-11e8-9418-7a59fdf691cf.png)

[2018-02-14 21:42] heckflosse commented on #4392
Here's a pp3 to reproduce.

[WZ4A7192.CR2.pp3.zip](https://github.com/Beep6581/RawTherapee/files/1725736/WZ4A7192.CR2.pp3.zip)

1) Apply neutral to WZ4A7192.CR2, works
2) apply the pp3, works, but gives completely black output
3) Enable Residual in Wavelet tab, crash

[2018-02-14 22:29] heckflosse commented on #4392
I may find a solution to fix the crash, but for the weird curve output in gui (curve not drawn, only curve points) I need @Hombre57

[2018-02-14 23:01] heckflosse commented on #4392
I still have no clean fix (means I can provide a fix to avoid the crash, but the gui problem is still not solved).
The key to fix this issue, is to avoid consecutive curve points with the same x coordinate.
Means we have to avoid this while placing curve points and also when reading pp3 files.

[2018-02-14 23:52] heckflosse commented on #4392
I further analyzed the issue:

It's absoltutely clear now that the root of the issue is having two curve points with same x coordinate but different y coordinate.
A curve is a function y = f(x) and having different y values for same x value simply can't be correct.

[2018-02-15 06:32] mattiaverga commented on #4396
You're right about the z-order, the main RT window was totally unresponsive, but minimizing the release notes window also minimize the main window and behind that I saw the warning... :-(

[2018-02-15 06:58] Floessie commented on #4397
@heckflosse

If in-place operations are possible, then `restrict` is uncalled-for. I'll remove it.

[2018-02-15 07:03] waxhead commented on #4392
OK, I'm going to provide all my settings and a PP3 before I trigger the crash.

This is the Default pp3 I use.
[Default-Pete.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1726624/Default-Pete.pp3.txt)

As per my past report, I opened the image with the Default settings above.

This time I did the following:

Straightened the image
Pushed the Exposure up
Moved the WB up
Then set the S curv

[2018-02-15 07:04] Floessie commented on #4392
We can hot-fix this for 5.4, but wouldn't a `Curve` class dealing with all those cases (I'm also looking at #4398) instead of a specially crafted `std::vector<>` more adequate?

[2018-02-15 08:24] gaaned92 commented on #4392
- On W10 I was not able to reproduce @waxhead crash. Perhaps it is due to the use of obsolete development version GTK3.18? I am going to try again.

- In case of weird curve, if it doesn't crash, it is possible to correct the curve (user has to be aware of that). So I think a hot-fix is sufficient for 5.4.

[2018-02-15 09:14] gaaned92 commented on #4392
W10 5.4-rc1
-  not able to reproduce @waxhead crash when using as he did, control cage curve, even with wavelet/residual/contrast activated
- in the same conditions, with custom curve, I can get a crash.

[2018-02-15 09:45] Desmis commented on #4392
W8 5.3 -630-g18c90efe
Just after compiling and with last @waxhead waxhead pp3 in the folder of WZ4A7192.CR2, with only these 2 files in the folder.

When I launched rawtherapee by:  ./rawtherapee w, the system crash

But after I cannot reproduce, even by changing curve.

I am skeptical about this bug.

Probably there must be something with the curves, but the curves where the ordinate is constant

[2018-02-15 12:09] heckflosse opened #4399 "Using Wavelet/Residual with contrast set to != 0 crashes on completely black image"
To reproduce:

1) open amsterdam.pef
2) apply neutral profile
3) set Exposure compensation to -5
4) set Black in Exposure tool to 32768 => now we have a completely black image
5) enable wavelet
6) enable residual
7) set contrast in residual to 1 => crash

[2018-02-15 12:11] heckflosse commented on #4392
I created #4399

[2018-02-15 12:22] heckflosse commented on #4399
Fixed with this patch:

[code]

[2018-02-15 12:32] heckflosse commented on #4392
@waxhead I still can not reproduce your crash on Windows7.
@agriggio Alberto, can you try to reproduce? afaik you are using Gtkmm: V3.18 as does waxhead. I don't really think there is a relation to the crash. Just to exclude it.

[2018-02-15 12:42] #4399 closed, assigned to heckflosse, Desmis

[2018-02-15 12:47] gaaned92 commented on #4399
Bug corrected. Thank you

[2018-02-15 13:05] agriggio commented on #4392
sorry I'm a bit under heavy load at work, not sure when I'll have time for this...

[2018-02-15 13:33] Desmis commented on #4399
@heckflosse
I just proposed the same modification, but you are faster than me :)

Jacques

[2018-02-15 13:51] gaaned92 commented on #4392
@waxhead
In case you build yourself,  could you use gtk3.22 and test ?

[2018-02-15 13:56] Desmis commented on #4392
Here my configuration, which crash "a little" - one or 2 crash  for  about 100 tests

Version: 5.3-633-g20fcffae
Branch: dev
Commit: 20fcffae
Commit date: 2018-02-15
Compiler: gcc 7.3.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-u

[2018-02-15 15:01] Desmis commented on #4392
With this pp3, and launch by ./rawtherapee w, system crash whitout opening image
If I launch by clicking on rawtherapee.exe no crash

[WZ4A7192.CR2 JD.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1728129/WZ4A7192.CR2.JD.pp3.txt)

but it's random, not always reproducible

[2018-02-15 19:01] Floessie commented on #4397
Incidentally, this was the only misplaced `RESTRICT` in that file. Good catch, GCC 8. 😄

[2018-02-15 21:01] waxhead commented on #4392
I'm going away today for the weekend so can't do much more until Monday. Sorry.

[2018-02-15 23:50] heckflosse commented on #4392
@Desmis

Have fun and relax :)

Ingo

[2018-02-16 06:39] Desmis commented on #4392
@heckflosse

Thank you :)
I take the train this morning to Paris, then we go with my family to Caraibes (Martinique)

jacques

[2018-02-16 11:47] age1988 opened #4402 "RT Crashes on CL LAB curve"
Latest pull from Dev:

AboutThisBuild.txt:

Version: 5.3-639-g38cab123f
Branch: dev
Commit: 38cab123f
Commit date: 2018-02-15
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown

[2018-02-16 12:06] heckflosse commented on #4402
@age1988 Crash confirmed. Looking

[2018-02-16 12:59] #4402 closed, assigned to heckflosse

[2018-02-16 13:07] Kolli96 commented on #4393
Any ideas? Can I save my pictures compressed tiff and your fix later this problem and then metadata comes to the pictures?

[2018-02-16 18:37] Beep6581 commented on #4393
There are differences in the contents of the metadata between the two sample TIFF files:
`exiftool -G5 -s -a -m -u -args` https://www.diffchecker.com/SEW5u8cx
`exiv2 -pa` https://www.diffchecker.com/wP5twW2J
`tiffinfo` https://www.diffchecker.com/I6TRzRoH
Both TIFF files _seem to_ store metadata using big-endian - I'm not certain yet.

You can file a bug report here:
https://answers.microsoft.com/

[2018-02-16 22:13] Hombre57 commented on #4393
The difference is that the new version dump the EXIFIfd  at the beginning of the file, then IFD0 is dumped, but this is fine with the Tiff specs : the offset for the IFD0 is set correctly for both old and new version (8 and 3fc9e0 respectively), but windows doesn't seem to follow the offset of 3fc9e0, then go back to beginning of the file (EXIFIfd).

[2018-02-16 22:48] Beep6581 commented on #4392
1. Open the CR2 with associated PP3: https://filebin.net/q2j3ddjocac2bib9
2. Apply this sort of curve, crash:
https://filebin.net/q2j3ddjocac2bib9/screenshot_20180216_234530.png

[code]

Stack backtrace:
https://gist.github.com/Beep6581/642e288371662328addd839439e6bbfd

[2018-02-16 22:49] lewicki-pk opened #4403 "Using EXIF and XMP Rating tag"
Hi,
I would like to implement the feature asked about [here](https://discuss.pixls.us/t/get-the-ranking-file-property-into-rawtherapee/5253) and here: #3728

My idea is that when the `Rating` tag is available- it should be used, but it should not be overwritten. If a `Rank` parameter exists in pp3 it should have higher priority.

I have already started the implementation and you can see it [here](

[2018-02-16 23:15] Beep6581 commented on #4392
One more stack backtrace:
https://gist.github.com/Beep6581/a5fdd672e43cb53decb868890c8b5738

[2018-02-16 23:27] Beep6581 commented on #4396
I reproduced the problem. Simply edit `options` and set
[code]
Maybe we should use this on the "missing profile" window:
https://developer.gnome.org/gtk3/stable/GtkWindow.html#gtk-window-present
or maybe this MessageDialog should be modal and RT should stop running other code until the user confirms:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main.cc#L357
or maybe RT should first show

[2018-02-16 23:37] Beep6581 commented on #4396
All people upgrading will experience this, so it really is quite high priority.

[2018-02-16 23:54] Hombre57 commented on #4396
@Beep6581 I'd wait for an acknowledgment of the alert window before pursuing the application loading. However I'm not at home until Monday, so someone else will have to do the patch.

[2018-02-17 01:13] heckflosse commented on #4392
That's a damn beast. I could reproduce the crash every third time using [this pp3](https://filebin.net/jstgu99vgkzkr3z5). Now (nothing changed) I can't reproduce anymore :(

[2018-02-17 08:27] mattiaverga commented on #4396
From a user point of view, I would expect RT firstly to show the About window and then, after dismissing it, to warn me of the missing profile.

I would expect: show the about window -> update `Version` in the options file, so that the about window is permanently dismissed -> show warning(s) and correct it in options file.

[2018-02-17 09:41] Kolli96 commented on #4393
Is this Windows 10 problem, not RawtheRapee? Did I understand correctly?

[2018-02-17 10:17] aferrero2707 opened #4404 "Automated AppImage and Windows builds with Travis CI"
Dear all, I have just finished setting up a [GitHub repository](https://github.com/aferrero2707/rt-build) to automate the building and packaging of RT for Linux (in AppImage format) and Windows 64-bit (cross-compiled with mingw-w64).
The build process is based on Travis CI, and uses custom Docker containers that provide the required dependencies.
The packages are automatically uploaded [back to Gi

[2018-02-17 11:31] Hombre57 commented on #4396
@mattiaverga Sounds good too, but I can't start anything before Monday.

[2018-02-17 12:11] Beep6581 commented on #4404
Fantastic!

@aferrero2707 do the Windows builds include a working installer, as do the ones currently made manually by our Windows package maintainers?

[2018-02-17 12:13] SilvioGrosso commented on #4404
Hello everyone,

Just tested myself, on Windows 10 (64 bit), both builds (downloaded as Zip packages):
- rawtherapee-w64-20180217_1001-git-dev ;
- rawtherapee-w64-20180217_0919-git.

As soon as I click on the .exe (rawtherapee.exe) I always get a Runtime Library error (both versions fail to start on my computer with Windows 10):

Microsoft Visual C++ Runtime Library
---------------------------
Run

[2018-02-17 13:02] aferrero2707 commented on #4404
What is the correct way to set the default profiles' path?

@Beep6581 the package has currently no installer, it is a portable folder that can be extracted anywhere on the hard-drive. I would need to use a Linux-compatible installer creator, like [NSIS](https://sourceforge.net/projects/nsis/).

[2018-02-17 13:26] Beep6581 commented on #4404
@aferrero2707 do you mean this?
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.h#L33
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.cc#L2190

[2018-02-17 13:47] Beep6581 commented on #4392
I have `WZ4A7192.CR2.pp3` and `ingo_crash.pp3`, they're identical. I opened the CR2 (which auto-loaded `WZ4A7192.CR2.pp3`), then applied `ingo_crash.pp3`, and crash.

[2018-02-17 13:49] Beep6581 commented on #4392
Now I tried to see what I need to do inside RT if loading the PP3 doesn't crash it. I opened the CR2 (which auto-loaded `WZ4A7192.CR2.pp3`), no crash, so I moved TC1's third node a tiny amount a few times, it crashed on the 5th move.

[2018-02-17 14:07] Beep6581 commented on #4392
I managed to narrow down the PP3 to this:
[WZ4A7192.CR2.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1733731/WZ4A7192.CR2.pp3.txt)

[2018-02-17 14:08] Beep6581 commented on #4392
[code]

[2018-02-17 14:12] Beep6581 commented on #4392
Stack backtraces for all threads, search for `_mm_loadu_ps`:
https://gist.github.com/240c835085bb04902d1e27d07cff69d1
https://gist.github.com/59d7f231ce6e4a0e31f5d4c3a63b4a23
https://gist.github.com/aaa3d6520297afcdcbb7617eb5e4e55f
https://gist.github.com/087b6246dba39664aa50988a5409e253
https://gist.github.com/02f8ac60bf26a0b6929298b9e2098221

You can see a video of what I do to make it crash her

[2018-02-17 14:57] #3824 closed, assigned to Partha1b

[2018-02-17 18:55] heckflosse commented on #4392
This patch should fix the crash:

[code]

[2018-02-17 18:57] Beep6581 commented on #4392
Fix confirmed.

[2018-02-17 19:48] heckflosse commented on #4392
Background to the bug and the patch:

When accessing a lut the value gets interpolated between lut[x] and lut[x+1]
Let's assume we have a lut with 65536 entries and access it with value x:

If for example x is 65534.5 the result gets interpolated between lut[65534] and lut[65535], perfect
If for example x is 65535.5 the result would be interpolated between lut[65535] and lut[65536] which may not h

[2018-02-17 19:51] #4392 closed, assigned to heckflosse

[2018-02-17 20:41] dnw3039 opened #4405 "Wavelet Level Functions not working at all in dev"
Hi, I have just compiled the latest dev release and non of the Wavelet Level functions make any change to the displayed image. Changes to settings take the normal processing time by no change appears.

Example no change occurs if I toggle Wavelet  Levels on or off,

![screenshot from 2018-02-18 07-40-02](https://user-images.githubusercontent.com/7539943/36345457-fb257574-147e-11e8-8d53-752046243f2

[2018-02-17 20:49] heckflosse commented on #4405
Can't confirm. Works fine here. Please submit a raw and the corresponding pp3

[2018-02-17 20:59] heckflosse commented on #4405
@dnw3039 Tested again. Confirmed. Looks like a silly bug. Preparing a fix

[2018-02-17 21:16] Beep6581 commented on #4405
Cannot reproduce.

[2018-02-17 21:35] heckflosse commented on #4405
Accidently pushed to Release5.4. Will push to dev soon to close the issue.

[2018-02-17 21:39] #4405 closed, assigned to nobody

[2018-02-18 00:16] Hombre57 commented on #4396
@mattiaverga @Beep6581 I finally found the time to create a fix in branch `alert-after-splash`.

[2018-02-18 10:37] Hombre57 commented on #4398
@Krzysiu I don't understand your point : are you testing "RT's bulletproofness" regarding handwritted malformed pp3 file ? The curve you describe, made of only one value of "1" can't be generated by the GUI AFAIK.

[2018-02-18 11:02] mattiaverga commented on #4396
Tested, I can confirm that the issue is fixed. Thanks.

[2018-02-18 11:16] Beep6581 commented on #4396
@Hombre57 fix confirmed.

There is one more thing. The new default processing profile for raw photos is
[code]
Users upgrading from any previous version will see the warnings correctly, but they will still end up with "neutral" as their default raw profile because [`DEFPROFILE_INTERNAL`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.h#L42) is used. It would be good if RT would fir

[2018-02-18 15:57] Floessie commented on #4398
@Hombre57 IHMO it doesn't matter if a crash was found by fuzzing or "legal" usage.

[2018-02-18 16:10] aferrero2707 commented on #4404
@SilvioGrosso  - I am looking into the crash at program startup... It seems that the zip package is incomplete, for some reason.

[2018-02-18 18:00] Hombre57 commented on #4398
Ok, then you should also check that the coordinates are each greater or equal than the previous ones for the X axis and that they are clamped to the [0;1] domain (don't know for the Parametric curve)

[2018-02-18 18:17] Beep6581 commented on #4398
I created this beauty in RT the other day, thought I'd share:
![unapdao](https://user-images.githubusercontent.com/5844619/36355212-6362ac40-14e0-11e8-8a60-376070db44af.png)

[2018-02-18 18:35] heckflosse commented on #4398
IMHO each reported crash should be fixed, especially crashes with such a good bug report as this one (thanks to @Krzysiu). Solving them saves us time because they may be reported later without a good bug report if we don't solve them and then we will spend more time to find the bug than to fix it.

[2018-02-18 20:11] aferrero2707 commented on #4404
@SilvioGrosso - I have found the reason why the zip package was incomplete: the installation of RT was interrupted with the following message:

[code]

Disabling the installation of the InnoSetup configuration allowed to get the past the error and complete the installation. So far I only tested the latest package with wine, and it seems to work fine. Could you check as well?

To summarize, those a

[2018-02-18 21:28] SilvioGrosso commented on #4404
Thanks a lot indeed !

Just downloaded today's new build:
rawtherapee-w64-20180218_1921-git-dev

I have tested it again on Windows 10 (64 bit).
Now everything is fine in that it starts the GUI ;-)

Unfortunately, I can not test it further because I am unable to open my folders with my pictures...
In the past versions of Rawtherapee, I only needed to double click on my folder to open its picutres (

[2018-02-18 21:46] heckflosse commented on #4404
@SilvioGrosso Are the extensions enabled?

![grafik](https://user-images.githubusercontent.com/13733487/36357378-7fb2da6a-14fd-11e8-9807-c20fb197b68d.png)

[2018-02-18 22:02] SilvioGrosso commented on #4404
Hello @heckflosse

I suppose you nailed it :-)

The window with the parsed extension is empty on my Windows 10 (64 bit) computer.
Tested with today's GIT build and with the "official" 5.4 rc1 build (Win64 Vista.exe).
I have tried to "add" them by clicking on the + (plus) button to no avail.
Never encountered this problem with RawTherapee in the past :-)

Here is my window : I have checked my setti

[2018-02-18 22:13] aferrero2707 commented on #4404
@SilvioGrosso - thanks for testing! Your screenshot shows few missing icons (the top-right window buttons, and the "+" buttons, while the "-" ones are there...). Anyone as an idea why those few ones are not picked correctly?

[2018-02-18 22:18] heckflosse commented on #4404
@SilvioGrosso Can you try to add `NEF` by typing NEF in the input field next to `Aggiuing...` and then clicking the `+` button. Then Ok to close Preferences. Then restart RT

[2018-02-18 22:29] SilvioGrosso commented on #4404
Hello @heckflosse

I have just added the NEF extensions and restarted RawTherapee: now everything works fine !
My folders with my NEF pictures are visibile in the Navigator window.
The JPEG (png) pictures are not recognized yet but I suppose I have to add their extension too in the GUI (by the same method I have just used for my NEFs)  :-)

Some icons are missing though.
It happened in the past to

[2018-02-18 22:38] heckflosse commented on #4404
@SilvioGrosso Yes, you have to add jpg as well. Though the issue is more about why the extensions have been lost in options file...

[2018-02-19 01:10] Beep6581 commented on #4404
Yes. While those includes are `#ifdef`'d for `WIN32`, you're compiling for `WIN32` from Linux where capitalization matters. I will fix the capitalization of those includes tomorrow.

[2018-02-19 01:14] Beep6581 commented on #4404
See #3046 #3552

[2018-02-19 01:16] Beep6581 commented on #4404
@SilvioGrosso you wrote:

Which version was the "in the past" version which you mentioned?

[2018-02-19 07:04] SilvioGrosso commented on #4404
Hello @Beep6581

@Beep6581  Which version was the "in the past" version which you mentioned?

I have just downloaded from the web-site (Rawtherapee.com) the stable version (5.3 - 64bit.exe) and installed again on my usual pc with Windows 10 - 64 bit.
Everything is fine with this stable version (nef, jpeg, png etc are displayed at once).
In addition, all icons are visible in the GUI.
With the unsta

[2018-02-19 07:05] SilvioGrosso commented on #4404
H

[2018-02-19 08:23] Hombre57 commented on #4396
@Beep6581 Will do that tonight.

[2018-02-19 08:35] Hombre57 commented on #4393
@Vike95 @Beep6581 @heckflosse

It's a bit tricky here : we're using the [libtiff function to create the ExifIFD tag](https://github.com/Beep6581/RawTherapee/blob/fc751a0ccead9a21d62364b394e700dedcf5f34e/rtengine/imageio.cc#L1381) now, but libtiff creates this tag with a data type of 13 (0x000d) while the official Exif 2.3 specs from 2010 says it should be data type LONG, i.e. 0x0004. That's the mo

[2018-02-19 14:14] Beep6581 commented on #4393
@Hombre57

Which function and data type did we use before?
Let's compare what darktable and GIMP do, since they will have dealt with the same issue.

[2018-02-19 15:22] Beep6581 commented on #4393
dt uses Exiv2 not libtiff.

[2018-02-19 15:24] Beep6581 commented on #4404
@SilvioGrosso I'm trying to figure out at what point the options file became corrupt. If you use RT-5.3 stable and go to Preferences > File Browser > Parsed Extensions, do you see the full list (begins with `3fr`, ends with `x3f`)? And now if you close 5.3 and run the latest development build (please quote the version), and check the same place, do you still see a full list of parsed extensions?

[2018-02-19 18:25] heckflosse opened #4407 "Using CbDL reduce artifacts leads to wrong colours in thumbnail and also for < 100% preview"
To reproduce:

Use this [raw ](https://filebin.net/zwf5rgm0jz6ckc1b/DSC08105.ARW) (thanks to @agriggio for permission to use it, @Beep6581 please upload it to shared/test_images) with this pp3
[DSC08105.ARW.pp3.zip](https://github.com/Beep6581/RawTherapee/files/1737861/DSC08105.ARW.pp3.zip)

![grafik](https://user-images.githubusercontent.com/13733487/36392278-bd462438-15aa-11e8-874c-570fa8fa6032.

[2018-02-19 20:15] SilvioGrosso commented on #4404
Hello @Beep6581 ,

Thanks a lot for your support !

In essence, on my Pc with Windows 10 (64 bit):
1) With the stable version 5.3 (http://rawtherapee.com/downloads) everything is fine!
All parsed extension are available. Therefore, all formats are present at once (nef, jpeg, png etc): I only need to double-click on my folder to make them appear
Here is the screenshot:

<img width="960" alt="5 3_st

[2018-02-19 20:28] heckflosse commented on #4404
@SilvioGrosso I guess the Travis zip version somehow corrupted the options file which then is used also by the exe provided by @Gaaened92, whereas the 5.3 most likely uses an option file in a different folder which is not corrupted

[2018-02-19 20:56] #3610 closed

[2018-02-19 21:05] heckflosse commented on #4407
Background to the issue and the solution:

Before 0bed7fb always the same radius was used for the gaussian blur when using `ciecam02 + cbdl reduce artifacts` which.

Now the radius is scaled by the preview zoom factor and for thumbnails the processing is skipped

[2018-02-19 21:05] SilvioGrosso commented on #4404
Hello Heckflosse,

Yep. You are most likely 100% right ! :-)

I have just uninstalled everything on my Windows 10 computer.
Afterwards, I have deleted all Rawtherapee folders present in:
%LocalAppData%
Then, I have tried again to install one of Gaaned92 unstable versions (e.g. RawTherapee_newlocallab_5.3-914-g966085897_WinVista_64) and everything is back to normal !
All extensions are available at

[2018-02-19 21:11] Beep6581 commented on #4404
I made a mistake: no point comparing 5.3 to the AppImage, since the former uses `~/.config/RawTherapee` and the latter uses `~/.config/RawTherapee-5-dev-ai"`.

@SilvioGrosso please close RT, then run this:
[code]
Then run the latest AppImage and check whether you have all file extensions in Preferences.

[2018-02-19 21:16] SilvioGrosso commented on #4404
Hello Beep6581,

After having deleted all folders in: %LocalAppData%, even the Travis Zip version is fine.
All extensions are available at once (nef, jpeg, png etc). Only some icons are missing on the GUI.
The Zip Travis version is "portable" on Windows and I can test it together with the builds (.exe) provided by Gaaened92, which have a classical installer.

[2018-02-19 21:22] Beep6581 commented on #4404
Argh, right, Windows not Linux, my bad.

@aferrero2707 `RawTherapee-git-dev-20180217_0918.glibc2.17-x86_64.AppImage` fails to run in Sabayon with:
[code]
My `/usr/lib64/libEGL.so.1` comes from `media-libs/mesa-17.3.3`

[2018-02-19 21:58] heckflosse commented on #4398
Though I think we should fix this, I also think we should not fix this for 5.4.
Rationale: This is an old bug, 5.4 is around the corner, and my patch is not thoroughly tested for all curve types written by rt (I don't speak about pp3 files manually edited). If there's a bug in my patch for correct pp3 files, this bug will hurt.

Clear vote against committing my patch for 5.4

Ingo

[2018-02-19 22:26] Hombre57 commented on #4396
@Beep6581 See commit ff02182.

[2018-02-20 09:46] aferrero2707 commented on #4404
@Beep6581 - this seems to point to a mismatch between the MESA and Wayland library versions... could you please post the full terminal output that you get when running the AppImage? This will list all the libraries linked to the executable, and might give a hint of where the version mismatch comes from.

[2018-02-20 14:59] Beep6581 commented on #4404
@aferrero2707
[code]

I have `dev-libs/wayland-1.14.0` installed.

[2018-02-20 17:14] gatoatigrado commented on #4392
Yikes, sorry. I guess I had created some unit tests with artificial values much < 65535. Iirc maxsv may not allow the output to represent all values, so it might be worth revisiting the original code at some point.

[2018-02-20 17:23] heckflosse commented on #4392
@gatoatigrado No worries!

That's correct. For that reason I used `sizev` in the calulation of `diff`. `sizev` is upperbound, so for a lut(65536) it's 65535.

[code]

[2018-02-21 00:07] heckflosse opened #4408 "Use double precision for large summations"
When summing up large amounts of values we will run into precision issues.
As raw files are getting larger and rt may also be used for large (e.g. stitched) non-raw files, I suggest to inspect the code for the cases where we currently use single precision float for large summations.

An example of such a summation is calculating the average of a channel.

Assume you have an image with 100 MPixels,

[2018-02-21 12:43] heckflosse commented on #4408
Here's a first patch:

[code]

[2018-02-21 14:10] Beep6581 commented on #4396
@Hombre57 it's good, but there is still one problem.
1. Delete `profiles/Auto-Matched Curve - ISO Low.pp3`
2. Edit your options file and set:
[code]
3. Run RT. You get this:
![screenshot_20180221_145651](https://user-images.githubusercontent.com/5844619/36483869-a32a5af6-1717-11e8-849e-1d23795c8e9a.png)
RT cannot find `foo` so it falls back to `DEFPROFILE_RAW` (`${G}/Auto-Matched Curve - ISO Low.p

[2018-02-21 14:45] TooWaBoo commented on #4148
New update:
[code]

[2018-02-21 15:25] Beep6581 commented on #4408
I compared `5.3-643-g`fc751a0c to `5.3-644-g`e69952d6, tested using a 10MP raw file (`karin_library_2.hdr.dng`) and a 62MP 32-bit TIFF file (https://en.wikipedia.org/wiki/File:ALMA_Panoramic_View_with_Carina_Nebula.jpg scaled 2x using GIMP), no visual differences found before/after.
[4408.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1744539/4408.pp3.txt)

[2018-02-21 15:57] heckflosse commented on #4408
Here's a patch which shows the large difference between double and single precision summation when using defringe.

Edit: scratch that. See 3 comments below :man_facepalming:
[code]

Open amsterdam.pef
apply neutral
apply auto-matched tone curve
enable defringe
put to queue 3 times
start the queue

console output at my machine:
[code]

The double precision summation gives the same result for the t

[2018-02-21 19:41] heckflosse commented on #4408
I just tested the [NeumaierSum](https://en.wikipedia.org/wiki/Kahan_summation_algorithm#Further_enhancements) with the example from above. Also gives 263145

[2018-02-21 19:53] Hombre57 commented on #4396
@Beep6581 I spent **3 DAYS** trying to find out why the updated Eclipse IDE refused to index files :rage: . It works now, but I'm not sure to solve this issue today (other things to do), sorry.

[2018-02-21 20:19] Beep6581 commented on #4396
@Hombre57 no problem, we're not on a $$$ deadline, take your time.

[2018-02-21 20:19] heckflosse commented on #4396
@Hombre57 never change a running system...

[2018-02-21 20:27] Floessie commented on #4396
Or as my coworker uses to say: *Never run a changing system.*

[2018-02-21 20:39] Beep6581 commented on #4408
I tested using `karin_library_2.hdr.dng` and using the supplied 1..4.pp3, drslony.pp3 and my own pp3 with all affected tools enabled, and there were no differences.

[2018-02-21 21:26] heckflosse commented on #4408
Damn, my example code above was wrong (forgot to add `chromavef` to the reduction clause). Anyway, the first example still stands...

[2018-02-21 21:27] Hombre57 commented on #4396
@heckflosse

I updated Eclipse because it kept throwing stack overflow 10 times per minutes for an unknown reason, which, I can assure you, is a bite annoying. I think I'll have to switch to another cmake generator when I'll have more time, at least the indexer is running fine now and can build with a custom builder.

[2018-02-22 07:01] Floessie commented on #4396
@Hombre57

I'm using Eclipse, too, and might update sooner or later. Could you give me a hint as to what fixed your problem?

[2018-02-22 14:29] samdoshi commented on #3547
I've done a little bit of investigation on this.

For example the following diff applied to `thumbbrowserentrybase.cc`:

[code]

Will render the thumbnails in the thumbnail browser in HiDPI (e.g. `GDK_SCALE=2 ./rawtherapee`), with some _major_ caveats:
 - the preview thumbnail is now very small (but sharp)
 - the geometry is off (the preview overlaps with the icons at the top)
 - metadata text is

[2018-02-22 21:48] Hombre57 commented on #4396
@Floessie I knew that the build system has to be out of the source tree, but didn't knew that the source tree had to be out of the Eclipse workspace. It never was a problem until this Oxygen version, at least moving the source tree out of the workspace made the indexer work again. However, the target (all, install, etc...) generated by the Eclipse generator doesn't work with this Oxygen version. I

[2018-02-22 21:52] Hombre57 commented on #4148
@TooWaBoo @heckflosse Anyone having [this lib detected by the antivirus](https://filebin.net/vgjpzetpom7l5roc/Eclipse-CoinMiner.png) ? Is it a false positive ?

[2018-02-22 22:12] Beep6581 commented on #4148
@Hombre57 examine it using https://www.virustotal.com/

[2018-02-22 23:27] Hombre57 commented on #4148
@Beep6581 Done. The only antivirus software that detects it as a potential malware is ESET, my antivirus. :sob: I'll set an exception and all will be fine for the w.e. :wink:

[2018-02-23 06:55] Floessie commented on #4396
@Hombre57

Hm, my workspace is `/home/user/src` and RT resides under `/home/user/src/rawtherapee`. So that could be a problem when updating...

I configure the projects manually, like I'm used to when cross-compiling. And yes, I never read the manual, too, so I'm the least to give advice. :flushed:  But it kind of works.

Thanks for sharing, so I know what to expect when upgrading. :+1:

[2018-02-23 12:39] Beep6581 commented on #4403
Hey @lewicki-pk

Great to hear that you're volunteering to implement this.

How about this logic regarding rating:
1. Get rating from IPTC [`ImageRating`](https://iptc.org/std/photometadata/specification/IPTC-PhotoMetadata#image-rating) `[0;1]`
2. Overwrite with rating from Exif `0x4746` [`Rating`](http://www.exiv2.org/tags.html)
3. Overwrite with rating from XMP [`Rating`](https://sno.phy.queensu

[2018-02-23 12:47] Beep6581 commented on #4388
@Hombre57 should I add this to the 5.4 milestone, or leave it for 5.5?

[2018-02-23 12:50] Beep6581 commented on #4407
@agriggio does this doll have a name?

[2018-02-23 14:30] Beep6581 commented on #4407
Uploaded:
http://rawtherapee.com/shared/test_images/pippi.arw
http://rawtherapee.com/shared/test_images/kitchen.hdr.dng

[2018-02-23 15:02] heckflosse commented on #4407
@Beep6581

That's [Pippi](https://sv.wikipedia.org/wiki/Pippi_L%C3%A5ngstrump)

[2018-02-23 15:47] lewicki-pk commented on #4403
Hey @Beep6581

Yup, I'll implement it :smile_cat:

Regarding logic- I've came up with some requirements basing on your comment:

1. Reading.
As you wrote above the reading of an image rating is as follows:
   * IPTC `ImageRating`
   * Exif `Rating`
   * XMP `Rating`
   * RawTherapee `Rank` (in Cache)
   * RawTherapee `Rank` (in pp3 file)

Starting from the top and the new rating from the line belo

[2018-02-23 15:58] Beep6581 commented on #4403
Great news :)

If you mean one which holds the result of the cascading (IPTC, Exif, XMP), and one which holds the value from RT's File Browser (Rank), then the former is probably not needed.

Yes, RT should never modify the source image.

I don't know... "rejected" is not the same as "this image sucks, 0". Maybe give it a red color label for now, and we can check what other software do, such as da

[2018-02-23 16:00] Beep6581 commented on #4407
Link updated :)

[2018-02-23 16:43] Hombre57 commented on #4396
@Floessie

That's not sure, I'm using the Eclipse generator from cmake, which generate a `.project` and `.cproject` file, that I used to copy to the project in the workspace. Doing that seem to disable the creation of the virtual source tree (I get an error message, even before the update, but now it's worse). You have a totally different way of handling the projects, so it might work fine.

Anywa

[2018-02-23 17:26] Hombre57 commented on #4388
Add it to 5.4, seems serious to me and I'll work on it this w.e.

[2018-02-23 17:54] agriggio commented on #4407
@Beep6581 how come you live in Sweden and don't know about pippi? ;-)

[2018-02-23 18:20] Beep6581 commented on #4407
I'm more into Asterix and Tintin ;)

[2018-02-24 19:41] Hombre57 commented on #4388
@Beep6581 Absolute paths are supported now, but given that you can't set an absolute path through the GUI, should we try to convert the absolute path to relative ones ? The logic would be to walk through all the entries in the combo box and see if one match the end of the absolute path. It should work fine, unless the user expect to process the image with a CLUT file outside of it's base HALDClut

[2018-02-25 05:48] tdryden212 opened #4409 "Define Multiple Output Queues Feature Request"
Define Multiple Output Queues Feature Request

First of let me say that I discovered RawTherapee about a month ago and I am using it every day,, It is my RAW processing tool.  Hats off to the development team, YOU ROCK! Love the results of your labor!
A suggestion for your consideration.
My photo processing work flow typically involves multiple destinations with different image requirements.  Havi

[2018-02-25 08:51] madarexxx opened #4410 "Hugin HDR TIFF files support"
RawTherapee doesn't show or open 16-bit channel TIFF files produced by Hugin. I cannot provide TIFF files, because my university thinks that students don't need to upload files from dormitories :(

Steps to reproduce:
1) Get Hugin from repos or http://hugin.sourceforge.net/ . Any reasonable version will be good.
2) Add photo(s) to project
3) Stitch project with output file type: HDR, save as TIFF,

[2018-02-25 17:17] max-ra-gh commented on #4272
@Beep6581 , @heckflosse , @iliasg , can I help to move this forward in any way?

[2018-02-25 18:42] Beep6581 commented on #4388
@Hombre57 one the one hand, if the user created their own HaldCLUTs and saved them, for example, as `C:\stuff\color\1.png` and `C:\stuff\bw\1.png`, then this auto-matching by filename would likely fail to find the correct one. On the other hand, I suppose most users use our RT Film Simulation pack, so auto-matching should work because as far as I remember the filenames are unique. Would be good if

[2018-02-25 18:45] Beep6581 commented on #4409
@tdryden212 can you elaborate on what it is that you're requesting?

[2018-02-25 19:45] Beep6581 commented on #4272
@muhsim while RT currently does not support the Quattro series at all, you could help in a different way by uploading one suitable shot to https://raw.pixls.us/
For our RT-specific needs we asked for a series of clipped-white shots, but for RPU we need one well-exposed shot, e.g. of a color target or just an ordinary colorful scene. See the explanation on that site for more info.

P.S. The origina

[2018-02-25 20:23] Hombre57 commented on #4388
@Beep6581 Warning the user should not be enough, he can leave the problem unsoved, so how should RT react ? When saving the pp3, which path should it save ?

However it's fine for me if we only have to warn the user.

How should we warn ? A `Gtk::InfoBar` (and where) ? An alert dialog when opening the image + a warning sign next to the combo ?

[2018-02-25 20:37] Beep6581 commented on #4388
As discussed in IRC, we will fix this bug issue for 5.4, and leave user notification for 5.5.

[2018-02-25 20:43] Hombre57 commented on #4388
@Beep6581 Could you test this patch :

[code]

Now when switching to another image, the combo is back to "no value" and the film simulation is not applied.

[2018-02-25 20:57] Hombre57 commented on #4410
@madarexxx

It is possible to put your config folder in a shared folder on the network using the [RT_SETTINGS env variable](http://rawpedia.rawtherapee.com/File_Paths#Custom_config_and_cache_folders), otherwise no sync possible.

[2018-02-25 22:13] tdryden212 commented on #4409
Good afternoon,

My thought for the multiple output queues would work something like this:

1. Custom queue names would be defined by the end user on request. The
queue would be defined with independent file name template and output file
type configuration (JPEG,PNG etc).

2. When adding a file to a queue the user would select the desired queue by
selecting from a list of available queues. The lis

[2018-02-25 22:48] Beep6581 commented on #4410
@madarexxx we reproduced the problem on our end, but it seems likely that the source of the problem lies within Hugin. For one, the saved TIFF files use LZW compression even when you select "Compression: None". GIMP doesn't open the image correctly either.

I suggest you report this upstream to Hugin: https://bugs.launchpad.net/hugin

[2018-02-25 23:16] #4388 closed, assigned to Hombre57

[2018-02-26 08:00] Beep6581 commented on #4396
@Hombre57 tested and fix confirmed, :+1: for merge.

[2018-02-26 11:58] Hombre57 commented on #4409
@tryden212 @Beep6581 Sorry but I don't see the benefit of only enabling multiple output filename and file type. I guess it means that you'll manually alter your editing after sending to the queue so you can send to another queue for e.g. a web version of the image.

If so, we need to discuss on how to enhance the workflow efficiently, w/o reprocessing the image a second time to have a smaller vers

[2018-02-26 16:38] #4396 closed, assigned to Beep6581

[2018-02-26 16:41] Hombre57 commented on #4396
@Beep6581 Branch merged to dev.

[2018-02-26 19:51] Beep6581 commented on #4028
I just tagged 5.4-rc2
@Benitoite @gaaned92 @aferrero2707 could I ask you for builds please?
Standard procedure: either `git checkout 5.4-rc2` or get the source tarball from http://rawtherapee.com/shared/source/ don't use the source tarball from GitHub.

[2018-02-26 19:53] Beep6581 commented on #4174
@aferrero2707 shall we close this issue and continue discussions in #4404?

[2018-02-26 20:02] Beep6581 commented on #4028
I forgot to update the splash screen, it still shows "Release Candidate 1" but under that it shows "RC2", don't worry about that.

[2018-02-26 20:12] aferrero2707 commented on #4174
@Beep6581 yes, sure!

[2018-02-26 20:12] #4174 closed, assigned to Beep6581, aferrero2707

[2018-02-26 20:41] aferrero2707 commented on #4028
@Beep6581 - AppImage and win64 builds are available [here](https://github.com/aferrero2707/rt-build/releases). However, they are freshly produced I had no time to test them. The issue with some icons is also still present...

[2018-02-26 22:21] Benitoite commented on #4028
@Beep6581 A 5.4-rc2 build for mac:
https://filebin.net/f6ac4bmsut1yp5jr/RawTherapee_OSX_10.9_64_5.4-rc2.zip
[code]

[2018-02-26 22:28] tdryden212 commented on #4409
Good afternoon Jean-Chritophe,
I agree we should move in a positive direction.  Maybe I should explain the
problem I am attempting to solve.

Typically, when I finish editing an image I will export several different
versions of the image.  Each version will go to a different file system
location with different file formats (TIFF, JPEG, etc) for storage.  Each
of the different storage locations has

[2018-02-26 23:19] Hombre57 commented on #4409
@tdryden212
Hi Tom,

Your use case seem to be very specific. Usually, the image is not saved twice at different places and file format without additional processing.

Anyway, what you're asking for can be the first milestone of a much complete feature.

We could update the output panel to display a table made of location/file format/save pp3 entries. Later on, we could add a column where you'll sp

[2018-02-26 23:31] Hombre57 commented on #4409
Reading your comment again, you don't send the exact same editing to the queue.

My solution may be simpler for you if you only apply a single partial profile before sending to the queue. Otherwise, offering the possibility to easily specify location when sending to queue may be enough. There will be only one queue, but the default path can already be overrided (use the "Save to disc" button, spec

[2018-02-27 08:11] gaaned92 commented on #4028
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[code]

suffix: 5-dev

[2018-02-27 08:31] rnalrd opened #4412 "SIGSEGV in rtengine::DFManager::addFileInfo on Alpine Linux"
While opening a NEF file, when is at 90% of loading, it crashes.

The NEF file can be found here: http://bit.ly/2EYhXZc

[log.txt](https://github.com/Beep6581/RawTherapee/files/1761786/log.txt)

Version: 5.3-r0 (v3.7.0-2252-gd7e7c692ba) from Alpine Linux repository
OS: Alpine Linux 3.7
RAM: 16GB
CPU: Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz

[2018-02-27 09:07] Floessie commented on #4412
What's the full path of the file on your system?

What's the full path of your dark-frames directory?

What's your system locale?

Could you try to [compile](http://rawpedia.rawtherapee.com/Linux) the latest `dev` branch and reproduce the problem with it?

NEF loads fine here.

Best,
Flössie

[2018-02-27 10:10] rnalrd commented on #4412
/home/larena/Downloads/NEVE

_Downloads_ is a simlink. Loading NEF from /home/larena does not help.

I'm not sure about this: I'm new to RawTherapee. I've just opened the program and attempted to load the file.

"C.UTF-8". There are fundamental differences between glibc and musl (which Alpine uses). I'm not really into it but further info on differences about locale can be found [here](https://wik

[2018-02-27 10:37] Beep6581 commented on #4412
@rnalrd could you upload the options file please? It will tell us the full path to your dark frames folder. You will find it most likely in `~/.config/RawTherapee-dev/options`
More info here: http://rawpedia.rawtherapee.com/File_Paths#Config

[2018-02-27 10:43] Beep6581 commented on #4028
Thank you!
https://discuss.pixls.us/t/call-for-testing-5-4-rc2/6828

[2018-02-27 10:59] rnalrd commented on #4412
Added suffix ".txt" otherwise could not upload it

[options.txt](https://github.com/Beep6581/RawTherapee/files/1762303/options.txt)

[2018-02-27 11:30] rnalrd commented on #4412
Built from latest snapshot, getting same crash:

[log.txt](https://github.com/Beep6581/RawTherapee/files/1762386/log.txt)

[2018-02-27 11:43] Beep6581 commented on #4412
@rnalrd can you post the contents of AboutThisBuild.txt?

[2018-02-27 12:24] heckflosse commented on #4412
@rnalrd Please delete your options file and try again. There is some stuff in your options file which looks like it's from an old installation. For example:

[code]

and
[code]

[2018-02-27 12:40] rnalrd commented on #4412
Version: v3.7.0-2252-gd7e7c692ba
Branch: master
Commit: d7e7c692ba
Commit date: 2018-02-26
Compiler: gcc 6.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.3.2.0
Build type: Debug
Build flags: -Os -fomit-frame-pointer -g -std=c++11 -std=c++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -g -ftree-vecto

[2018-02-27 12:52] rnalrd commented on #4412
That did trick. It now opens with the latest snapshot. With v5.3, after removing the options file it still crashes with same error.

So it must be fixed by a commit after 5.3. I see that 5.4 is close to be released, so I think I'll just update the package to 5.4-rc2.

Thanks for the support!

[2018-02-27 12:54] Beep6581 commented on #4412
There is no version `v3.7.0`, there is no commit `d7e7c692ba`, and our `master` branch has been dead for a long time. It looks like your distribution has been meddling with the code, and you should report that on your distribution's bug tracker so that they don't do the same with 5.4: https://bugs.alpinelinux.org/projects/alpine/issues

[2018-02-27 13:12] Floessie commented on #4412
:disappointed_relieved: My Alpine VM is just compiling RT, and now you solved it by a simple file removal...

Anyway, now I got into touch with Alpine for the first time. It was relatively hassle-free, but needed more manual intervention than I'm used to. Any tip on `apk add` auto-completion, @rnalrd?

[2018-02-27 13:14] rnalrd commented on #4412
@Beep6581 AL does nothing to source:
https://git.alpinelinux.org/cgit/aports/tree/community/rawtherapee/APKBUILD

But indeed during build process it detects:

<pre>
-- Build files have been written to: /home/larena/aports/community/rawtherapee/src/RawTherapee-5.4-rc2/build
Scanning dependencies of target UpdateInfo
[  0%] Creating AboutThisBuild.txt and other version-dependent files
-- git command

[2018-02-27 13:24] Beep6581 commented on #4412
@rnalrd  here's the problem:
https://git.alpinelinux.org/cgit/aports/tree/community/rawtherapee/APKBUILD#n17
I updated our release notes:
https://github.com/Beep6581/RawTherapee/blob/dev/RELEASE_NOTES.txt#L34

[2018-02-27 13:28] Floessie commented on #4412
I can confirm, that `AboutThisBuild.txt` is sane with the cloned `dev`. RT release build segfaults on startup, but runs (albeit with many CSS errors) in GDB. Strange...

[2018-02-27 13:28] rnalrd commented on #4412
@Floessie AL isn't really desktop-oriented :smile:
You do `apk add PACKAGE` and search a package with `apk search STRING`
Is this what you were looking for? There's no auto-completion for `apk add` command...

[2018-02-27 13:31] Beep6581 commented on #4412
@Floessie I couldn't find any info on Alpine's packages from my usual one-stop source: https://distrowatch.com/table.php?distribution=alpine
What is the latest version of GCC and GTK+ Alpine provides?

I emailed GitHub to find out whether we can disable the automated tarball generation.

[2018-02-27 13:33] Beep6581 commented on #4412
Ah, found it:
https://pkgs.alpinelinux.org/packages?name=gtk%2B*&branch=edge&arch=x86_64

[2018-02-27 13:35] Floessie commented on #4412
@rnalrd

Is this what you were looking for? There's no auto-completion for apk add command...

That's how I intuitively did it. But it was... tedious.

BTW: Whenever I start RT **the first** time after reboot, it segfaults, but starts fine after that.

[2018-02-27 13:46] rnalrd commented on #4412
ok, I've built 5.4-rc2 and now the About page shows the right version.

@Floessie got the crash the first time too. May be it's related to PaX?

<pre>
Starting program: /usr/bin/rawtherapee
warning: Cannot call inferior functions, Linux kernel PaX protection forbids return to non-executable pages!
</pre>

If it's related to PaX this isn't a big issue, since grsecurity no longer available, AL is sw

[2018-02-27 14:07] aferrero2707 commented on #4404
@Beep6581 could you please check if the [latest 5.4-rc2 package](https://github.com/aferrero2707/rt-build/releases/download/continuous/RawTherapee-git-5.4-rc2-20180227_1318.glibc2.17-x86_64.AppImage) fixes the "undefined symbol" error?

Thanks!

[2018-02-27 14:44] Beep6581 commented on #4404
@aferrero2707 it still crashes but with a different error:
[code]

[2018-02-27 16:45] aferrero2707 commented on #4404
@Beep6581 let's try to go down the rabbit hole of library dependencies, and see if we can find a correct configuration.

The problem is that the application gets linked to your system EGL library, which in turn depends on other libraries that are bundled but too old. We should therefore remove from the bundle all those provided-but-too-old .so files, which them are expected to be installed on the

[2018-02-27 16:51] Beep6581 commented on #4404
@aferrero2707 will do!
Is there any meaningful order to the libraries listed in my log?

[2018-02-27 16:57] aferrero2707 commented on #4404
I've no idea... this is the order given by `ldd "./bin/rawtherapee"` (see [here](https://github.com/aferrero2707/rt-build/blob/master/ci/AppRun#L36)).

[2018-02-27 20:02] aferrero2707 commented on #4404
@Beep6581 @heckflosse - for RawTherapee, the AppImage packaging scripts report a minimum required GLIBC  version of 2.17, which means that the RT AppImage will not be able to run on systems with GLIBC versions lower than that.

However, upon inspection I noticed that this requirement is due to a single function, `clock_gettime()`  used in `rtengine/mytime.h`.

Would it be possible to make the use

[2018-02-27 20:07] Floessie commented on #4404
@aferrero2707 And if you link it also with `-lrt`? This was required before 2.17...

[2018-02-27 20:31] Beep6581 opened #4414 "Newly opened images show processing profile as "Last saved""
Open an image which has never been opened before, and the processing profile selector shows "Last saved" instead of the name of the profile.
From #4104

[2018-02-28 01:25] tdryden212 commented on #4409
Hello Jean-Christophe,

The work around that I currently use is to keep a file with the various
file template specifications and repeatedly cut and paste the file
template,  which is annoying but manageable.  The part that pushed me to
making the request  was changing the output format. It doesn't sound like a
big deal but doing it repeatedly is very error prone.  I have had to at
least partly rep

[2018-02-28 08:41] Beep6581 opened #4415 "Add D65 matrix for FUJIFILM X-E3"
https://discuss.pixls.us/t/shifted-white-balance-values-for-fujifilm-x-e3/6838
Info taken from Adobe DNG Converter 10.0.0.827:
[code]

[2018-02-28 08:42] #4415 closed, assigned to Beep6581

[2018-02-28 11:37] PkmX opened #4416 "Multithreaded noise reduction leaks memory"
To reproduce:

* In `Perferences`, `Performance & Quality`, set `Max number of threads for Noise Reduction and Wavelet Levels` to `0` or `8`.
* Load a image (JPG is fine, and faster to process), use neutral profile and turn on noise reduction and leave all sliders at default.
* Repeatedly export the image.

On my system (Arch Linux, i7-8550U, 4 cores, 8 threads), each save makes Rawtherapee use 20

[2018-02-28 11:59] PkmX commented on #4416
Note: even with the number of threads set to 1, enabling the wavelet module will also leak about 200 MB of memory per save as well.

[2018-02-28 12:05] heckflosse commented on #4416
@PkmX Can not reproduce

[code]

[2018-02-28 12:13] Floessie commented on #4416
Confirmed, though the leak varies. I'll try to find something with the sanitizer...

[2018-02-28 13:42] gaaned92 commented on #4416
Win10 RT 5.4-RC1

Cannot reproduce after processing 100 raw photos with noise reduction and use of 8 threads.

[2018-02-28 13:43] manniclick opened #4417 "shortcuts alt+f/f"
The functionality of this shortcuts is reversed.
[code]

[2018-02-28 13:52] Beep6581 commented on #4417
That was an intentional change.
I updated RawPedia now, thanks for reporting.

[2018-02-28 13:52] #4417 closed, assigned to Beep6581

[2018-02-28 14:16] Floessie commented on #4416
No leak with ASAN in debug and release build. Rebuilding now to check RSS rather than using `free`...

[2018-02-28 14:36] manniclick commented on #4417
In that case the text describing the buttons below the editor window must be changed accordingly.

[2018-02-28 14:47] Beep6581 commented on #4417
@manniclick Can you point this text out? Do you mean the tooltip? Which language are you running RT in?

[2018-02-28 14:50] heckflosse commented on #4417
In default language it seems fine:

![grafik](https://user-images.githubusercontent.com/13733487/36793906-08c9b0d2-1c9f-11e8-85a5-d382d7b946c6.png)

[2018-02-28 14:53] Beep6581 commented on #4417
I see that all of the translations are outdated. Fixing.

[2018-02-28 14:58] Floessie commented on #4416
No leak regarding RSS here. Sorry, but there must be something different with your setup, @PkmX, and I was wrong with my first impression.

[code]

Best,
Flössie

[2018-02-28 15:06] Beep6581 commented on #4417
Fixed.

[2018-02-28 15:12] Kolli96 commented on #4393
Any ideas? Do I contact Microsoft?

Edit. Same problem with latest RC version.

[2018-02-28 15:27] Beep6581 commented on #4393
@Hombre57 is it possible to test whether that changes anything with minimal effort? If not "with minimal effort," I would discourage wasting time on this and focus on #3801 instead.

[2018-02-28 16:19] TooWaBoo commented on #4148
New update
[code]

[2018-02-28 18:13] PkmX commented on #4416
Hmm, I can reliably reproduce it here and the RSS goes up after each save.

[code]

For the record, I'm applying noise reduction + wavelet to a 24MP JPEG image. The settings in the performance tab are:

* Cell Size: Maxi (Tile)
* Denoising level: Standard
* Auto multi-zone smoothing: None
* Number of tiles: High
* Increase wavelet level in quality 'high': Two Levels
* Max number of threads for Noi

[2018-02-28 18:22] Beep6581 commented on #4416
@PkmX can you upload the JPG and your options file using filebin.net?

[2018-02-28 18:43] PkmX commented on #4416
On mobile now. I can probably upload later. However I can reproduce the leak with any JPG or RAW, so the image likely doesn't matter. You can download the X-T2 compressed RAF (which I process these days) or Sony a6000's ARW from raw.pixls.us. I tested both and they all have the same leak.

[2018-02-28 20:02] Hombre57 commented on #4393
@Beep6581 I'll have a look tonight.

[2018-02-28 22:37] heckflosse commented on #4416
@PkmX

This can be done in two ways:

1) put n times to queue, then process the queue

or

2) saveas n times

I don't know how you export, but can you try the other way too? Mabye we just testing differently...

[2018-02-28 23:18] Hombre57 commented on #4393
@Beep6581 It is confirmed that replacing `0x000d` by `0x0004` let Windows find the Exif section. Exiftool and Irfanview find them too (as before).

![exif info](https://user-images.githubusercontent.com/13788115/36818566-e283a12a-1ce5-11e8-8581-5b92039d6239.png)

Trying to make a dirty but functional hack...

[2018-03-01 06:23] PkmX commented on #4416
@heckflosse Both methods leak memory from what I tested.

`options` file (this is the default generated by Rawtherapee), `pp3` and `RAF`:
* https://gist.github.com/PkmX/ca42c9ba54e88cf1ba6996362b39c560
* [`Fujifilm - X-T2 - 14bit compressed (3:2).RAF` from raw.pixls.us](https://raw.pixls.us/getfile.php/865/nice/Fujifilm%20-%20X-T2%20-%2014bit%20compressed%20(3:2).RAF)

Start:
[code]

Add to queue

[2018-03-01 07:05] Floessie commented on #4416
@PkmX I tried it with your PP3 and options, but still no luck:

[code]

As I assume you are familiar with compiling RT, could you give ASAN a try?

[code]

There are always some small leaks from libfontconfig and the like, but we're interested in the big ones. :smile:

Best,
Flössie

[2018-03-01 08:24] PkmX commented on #4416
ASan/LSan aren't really useful for this kind of leaks (only shows a few KBs of leak here and there). The memory is likely not leaked (there is a still a reference to it somewhere), but it is being unnecessarily retained thus increasing RSS usage over time.

I will see if I can find anything useful with `valgrind --tool=massif`.

[2018-03-01 09:16] Hombre57 commented on #4393
@Beep6581 @heckflosse Patch is almost ready, but it was too late yesterday. I should commit tonight.

The bugfix (i.e. dirty hack) is to reopen the file after it was saved, find the tag (it will be fast) and write the new datatype (that's basically what I've done for my test). If someone has a nicer implementation, I'm listening.

[2018-03-01 11:04] Hombre57 commented on #4028
@Beep6581 rc2 is out but there are still [opened issues](https://github.com/Beep6581/RawTherapee/milestone/4).

Are they mostly documentation related ?

[2018-03-01 11:36] Beep6581 commented on #4028
@Hombre57 yes, mostly.

[2018-03-01 17:35] PkmX commented on #4416
I can't reproduce the leak when using `valgrind --tool=massif`, and with some experiment I managed to figure out the culprit: glibc `malloc`'s per-thread arenas + heap fragmentation.

I modified Rawtherapee to call `malloc_stats` after exporting, here is what I got after a few saves:

[code]

Notice that the `in use bytes` stays almost constant, but the total size requested from the system keeps i

[2018-03-01 18:22] jannefoo opened #4418 "flat field correction not available with monochrome dng files"
sample: https://filebin.net/bkojqc8pxupmg9oz

open the file in rt and check the raw tab, only dark frame subtraction is available and not flat field correction.

file was converted from regular dng to mono-dng with monochrome2dng: https://www.fastrawviewer.com/Monochrome2DNG

[2018-03-01 18:56] jannefoo opened #4419 "monochrome dng thumbnails are wrong in file browser"
screenshot: https://i.imgur.com/gchKA9s.png

couple of sample files: https://filebin.net/ddrl5f2rgveexusr

nef files are displayed correctly, the dng files not. the dng files were produced from the nef files by monochrome2dng with _monochrome jpeg thumbnail_ setting enabled.

[2018-03-01 20:23] Beep6581 commented on #4419
Findings:
1. The DNG file was made using `Monochrome2DNG v0.8.0 Beta`. The "0.8 beta" part could be significant.
2. The DNG file could be corrupt or otherwise no by the spec, though I don't have the tools to confirm that. These could be useful to check for corruption:
[code]
3. The thumbnail in the DNG file is monochrome, not sure RT supports those, though it has no problem showing the thumbnail a

[2018-03-01 20:38] jannefoo commented on #4419
regarding point 2: the thumbnail displays correctly in windows explorer, converts correctly using latest adobe dng converter and the file itself shows just fine in photoshop cc 2017, so I'm fairly confident the dng files are up to spec.

subIFD1 &mdash; which I guess is related to the full-size preview image &mdash; has a tag` photometricinterpretation` which is set to YCbCr (and related tags), ma

[2018-03-01 20:49] Beep6581 commented on #4419
It's not the `PhotometricInterpretation` of `IFD0` nor any of the `SubIFD`s, I tested.

Looking at the thumbnail again, you can see that its width has been compressed to 33% of what it should be. The thumbnail has `BitsPerSample=8` while RT expected `BitsPerSample=8 8 8`. That's the code I would look into.

[2018-03-01 21:12] Beep6581 opened #4420 "Pixel Shift default profiles do not use histogram matching"
While our new default processing profile for raw images uses histogram matching by default, the Pixel Shift PP3s do not. @heckflosse should it stay like this for 5.4?

[2018-03-01 23:17] Hombre57 commented on #4393
@Beep6581 @heckflosse Could you test the `tweaked-exiftag` branch ?

I've compared the exiftool output (`-v2` mode), they are the same excepted for the updated datatype, But I've only tested with Ingo's file which is Big Endian, but I'm confident that it'll work with Little Endian file as well.

Off for today.

[2018-03-02 00:08] Hombre57 commented on #4393
@Beep6581 @heckflosse Small bugfix committed in abec60d.

[2018-03-02 07:19] Floessie opened #4421 "RawPedia: Preferences / Metadata outdated"
Hi,

In Rawpedia there's still a [section](https://rawpedia.rawtherapee.com/Preferences#Metadata) on "Preferences / Metadata", which isn't present anymore.

Best,
Flössie

[2018-03-02 11:40] heckflosse commented on #4420
The Pixel Shift PP3s are very small partial profiles which are made to be applied on top of other profiles.

[2018-03-02 12:42] Beep6581 commented on #4420
Ok.

[2018-03-02 12:42] #4420 closed, assigned to nobody

[2018-03-02 13:43] heckflosse commented on #4393
@Hombre57
[code]
and
[code]

[2018-03-02 16:51] Hombre57 commented on #4393
@heckflosse Same warning here, but it doesn't stop the linker.

Should I remove the inline statement or move the function to the header file ? I'd choose the first solution.

[2018-03-02 18:11] heckflosse commented on #4393
@Hombre57 Whatever you prefer :)

[2018-03-02 21:12] Hombre57 commented on #4393
@heckflosse Done.

[2018-03-02 21:50] heckflosse commented on #4393
@Hombre57 Works fine here. Thanks a lot :+1:

[2018-03-02 22:35] Hombre57 commented on #4393
@heckflosse @Beep6581 @Vike95 Branch `tweaked-exiftag` merged into dev, with agreement of @heckflosse on IRC. I'm deleting this branch.

[2018-03-02 22:42] aferrero2707 opened #4422 "PP3 compatibility issue between Windows and *nix systems"
While testing the 5.4-rc2 version on Mac, I have run into a compatibility issue with a .PP3 file created under windows, and including an active "film simulation" tool configured like this:
[code]

When loading this .PP3 as the active processing profile, the CLUT file was not recognized (although installed on my system in the correct path) and I had to set it by hand.

After exporting the result to

[2018-03-02 22:48] mkyral opened #4423 "Missing strings in Settings / Batch processing / Noise Reduction"
Hi,
I just updating Czech translation and I've found these missing strings in Settings / Batch processing / Noise Reduction:

![obrazek](https://user-images.githubusercontent.com/155542/36925562-c521c640-1e73-11e8-826f-55b6a12249fb.png)

[2018-03-02 23:22] Kakupakat opened #4424 "Any profile causes artifacts in attached image"
Applying any profile causes artifacts in the attached NEF file. In older versions of RT this did not happen.
[code]

[250312_1794.zip](https://github.com/Beep6581/RawTherapee/files/1776809/250312_1794.zip)

[2018-03-03 00:08] Hombre57 opened #4425 "Ugly application's icon"
On Windows 7, the icon displayed in the task bar (and only there) is ugly, very pixelated.

![ugly-app-icon](https://user-images.githubusercontent.com/13788115/36927598-d0227ade-1e7e-11e8-93a3-eeeb283289f4.png)

On the left, a nice icon used for the console window (it's a Debug build), but on the right, the application's icon is pixelated.

It's a low priority issue, but would be nice to have some

[2018-03-03 01:34] romandocent opened #4426 "RT crashes during the work with NEF's from Nikon D40"
Cough a bug during work with my old Nikon D40 NEF's. Looks like it crushes only with NEF's that I use with Adobe's Nikon D40 DCP color profiles. It allows to process one NEF, then it crushes right after I'm trying to open the next one NEF with included DCP or later, after I do any manipulation with this NEF.
It never crushes this way with other raw files from other cameras I use.

RT version info:

[2018-03-03 09:23] heckflosse commented on #4424
It does:

![grafik](https://user-images.githubusercontent.com/13733487/36932662-bf65547a-1ecc-11e8-924c-caa297586b07.png)

The file is corrupted:
[code]

[2018-03-03 09:48] #4424 closed, assigned to nobody

[2018-03-03 09:56] heckflosse commented on #4426
Duplicate of #4202

[2018-03-03 09:56] #4426 closed, assigned to nobody

[2018-03-03 09:59] heckflosse commented on #4425
Looks good here on my Windows 7

![grafik](https://user-images.githubusercontent.com/13733487/36932983-de4006ba-1ed1-11e8-9d44-824cb860ca59.png)

[2018-03-03 10:17] Hombre57 commented on #4425
@heckflosse You have tiny-micro icons 😃, they will always look good at this size. I think it uses the hi16 version in your case, and an upscaled hi16 one in my case, instead of using hi32. I'll have a look.

[2018-03-03 16:00] Beep6581 commented on #4425
For work, I tested which icon bit depths, compression and alpha work and which don't in Windows XP and upward. In XP you are limited to 8bpp uncompressed icons. As we no longer support XP, it's worth trying higher bit depths and compressions.

You can test these three `ico` files by replacing `/rtdata/icons/RT.ico` with one of them:
https://filebin.net/rticotest

[2018-03-03 16:02] Beep6581 commented on #4426
@romandocent : "cr**a**sh"

[2018-03-03 16:08] Beep6581 commented on #4423
Thanks for reporting, I'll take this.

[2018-03-03 16:29] Kolli96 commented on #4393
Is this problem corrected for future release? Did I understand correctly? I do not really understand "technical language".

[2018-03-03 16:34] #4423 closed, assigned to Beep6581

[2018-03-03 16:35] Beep6581 commented on #4393
@Vike95 yes, will be fixed in release 5.4.

[2018-03-03 16:35] #4393 closed, assigned to nobody

[2018-03-03 17:16] Beep6581 commented on #4393
Test files:
https://filebin.net/4cl0gw1nkwtq1vsp/rt_issue4393_test.zip
`5.3-664-g`5441e896
@Vike95 you can open those files in any program and you should see metadata in Windows.
The IPTC description for the `amsterdam` images in the `modified` folder should show:
* IPTC description = `iptcdesc:ɑmstərˈdɑmåäöąćęłńóśźż`
* Exif User Comment = `iptcdesc:ɑmstərˈdɑmåäöąćęłńóśźż`

The `colorspace` images

[2018-03-03 17:23] Beep6581 commented on #3658
See #4372

[2018-03-03 17:23] #3658 closed, assigned to nobody

[2018-03-03 18:12] Beep6581 commented on #2291
Could not reproduce using `5.3-664-g`5441e896 and
https://raw.pixls.us/getfile.php/169/nice/Canon%20-%20EOS-1D%20X%20-%20RAW%20(3:2).CR2

[2018-03-03 18:12] #2291 closed

[2018-03-03 19:29] Hombre57 commented on #4425
@Beep6581 @heckflosse  I think I've found the culprit. We must define an icon list for RT's windows with `Gtk::Window::set_default_icon_list`.

Here is a patch that use more icons from `rtdata\images` and solve the problem :

[code]

It would be nice if we could have a 48x48px logo in rtdata/images.

[2018-03-03 19:55] Hombre57 commented on #4425
Just for comparison, here is the result of the patch above :

![app-icon01](https://user-images.githubusercontent.com/13788115/36938624-8481beea-1f24-11e8-968f-9966a628264f.png)

You can see that they are slightly different because icons from the `images` and `icons` folder are different.

On Windows, we may not want to set a particular icon because windows will then use the RT.ico file, which inc

[2018-03-03 21:21] aferrero2707 commented on #4404
I am trying to update and fix my Win64 version,  but all my scripts fail because SourceForge is down!!!
Since at least 3 days... Anyone knows what is happening?

<img width="1280" alt="screen shot 2018-03-03 at 22 18 58" src="https://user-images.githubusercontent.com/6229237/36939429-22e681b8-1f31-11e8-97b4-1208babef47e.png">

[2018-03-03 21:22] Kolli96 commented on #4393
The link does not work.

[2018-03-03 21:35] heckflosse commented on #4393
Link works fine here

Edit: Not the one you quoted, but the link from @Beep6581 works fine

[2018-03-04 09:04] Floessie commented on #4425
@Hombre57 Just a small tip: Instead of creating a fixed size `std::vector<>` and setting the items afterwards, you can just do that in an init list:

[code]

Best,
Flössie

[2018-03-04 09:16] Hombre57 commented on #4425
@floessie Thanks for the tip, I'll use that in the commit tonight if no one complains.

[2018-03-04 11:17] Beep6581 opened #4428 "Default profile for raw photos could not be found when MultiUser=false"
From RawPedia http://rawpedia.rawtherapee.com/Making_a_Portable_Installation

When I set `MultiUser=false` and run RT in `./programs/rawtherapee/rawtherapee` I get

It appears every time I run RT, not just the first time.

[code]

First reported here:
https://discuss.pixls.us/t/the-default-profile-for-raw-photos-could-not-be-found/6870

[2018-03-04 13:26] gaaned92 commented on #4428
Furthermore, for  a portable installation, the entire config directory should be located in the installation directory, such as to let no garbage when leaving the host PC.(especially batch dir and user profile dir).

[2018-03-04 17:17] Beep6581 commented on #4404
Hooray!

[2018-03-04 17:19] Beep6581 commented on #4404
@aferrero2707 SF seems to work now. We could also fork libiptcdata on GitHub, but there are many forks already (none of which I know = none of which I trust), and more importantly we will drop libiptcdata when implementing #3801.

P.S. If anyone is wondering why I was happy - SourceForge turned evil in recent years.

[2018-03-05 11:39] Beep6581 opened #4429 "Roadmap for 5.5"
Issues in the 5.5 milestone:
https://github.com/Beep6581/RawTherapee/milestone/5

[2018-03-05 13:58] Beep6581 opened #4430 "CMake options for LTO"
https://discuss.pixls.us/t/call-for-testing-rawtherapee-5-4-rc2/6828/62?u=morgan_hardwood

[code]

I don't want to mess with the build chain so close to the release, but on the other hand none of the package maintainers seem to be using LTO, so the patch is very unlikely to cause issues.

If anyone is against adding this to 5.4, shoot.

[2018-03-05 14:21] heckflosse opened #4431 "Accessing a lut with a double precision floating point index truncates"
If a LUT is accessed with a double presicion floating point index, the index is truncated.

To reproduce apply this patch and open a raw file:

[code]

Output
[code]

I guess (didn't verify) when accessed with double precision floating point indices
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/LUT.h#L298
will be used instead of
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine

[2018-03-05 14:24] sguyader commented on #4430
For what it's worth, I just tried for the first time compiling dev with LTO (just added -DWITH_LTO="ON" to my CMake command) and it works without any problem (GCC 7.3, Linux Manjaro).

[2018-03-05 14:32] Beep6581 commented on #4430
@sguyader which version of binutils do you have installed? I'm on 2.29.1.
[code]

[2018-03-05 14:32] heckflosse commented on #4431
@Floessie Do you have an idea for a good solution which does not duplicate code in `LUT.h`?

[2018-03-05 14:34] Floessie commented on #4430
@Beep6581 Tested with binutils 2.28 on Debian 9.3: Works as designed! :+1:

[2018-03-05 14:51] Floessie commented on #4431
@heckflosse Don't hardcode the `float` in `float index`, but turn it into another template parameter `typename V` and augment the `enable_if` with a test for `V` being a floating point type.

Alternatively, you can just provide a forwarder method.

Or how about templating the `int` type of the first variant and using `enable_if` there?

[2018-03-05 15:24] heckflosse commented on #4431
@Floessie that's too much template stuff for my knowledge :(

[2018-03-05 16:19] heckflosse commented on #4431
@Floessie I don't really know what I'm doing, but this one works:

[code]

Output
[code]

[2018-03-05 16:22] Beep6581 commented on #4431
Not something one hears every day :sunglasses:

[2018-03-05 16:32] heckflosse commented on #4431
While working on this, I made a small speedup for vectorized LUT access with integer indices.

[code]

[2018-03-05 19:18] Floessie commented on #4431
@heckflosse

That's exactly what I had in mind. :+1:

[2018-03-05 20:27] heckflosse commented on #4430
:+1: for 5.4

[2018-03-05 20:42] sguyader commented on #4430
@Beep6581 I'm on 2.29.1 too.

[2018-03-06 01:56] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-libepoxy`

[2018-03-06 14:02] aferrero2707 commented on #4404
@Beep6581 - libiptcdata is unfortunately not the only SourceForge-hosted dependency that I need to update whenever I build a new Dockerfile...

Anyway, I created a new Win64 zip package, which hopefully fixes the issue with some missing icons. I only tested it with wine so far, so I would really appreciate it @SilvioGrosso and/or some other Windows user could provide some feedback.

Should we give

[2018-03-06 14:05] Beep6581 commented on #4404
@aferrero2707 the AppImage script uses `5-dev-ai`, so these could use `5-dev-ci` until ready.
https://github.com/aferrero2707/rt-build/blob/master/ci/appimage.sh#L195

[2018-03-06 14:13] aferrero2707 commented on #4404
@Beep6581 - Ok, an updated package is on its way...

[2018-03-06 19:16] SilvioGrosso commented on #4404
Hello everyone,

Just unzipped and tested on Windows 10 (64 bit):
rawtherapee-w64-20180306_1434-git-5.4-rc2

Everything looks fine: all icons are available which was not the case previously.
I have quickly tested other features and they appear working correctly as well.
THANKS A LOT  for this build !

[2018-03-06 21:17] aferrero2707 commented on #4404
@SilvioGrosso - thanks for checking so quickly!

Do you notice any performance degradation with respect to the official package?

@Beep6581 - are there any recommendations in what concerns a possible installer? Would NSIS be an acceptable option?

[2018-03-06 21:42] SilvioGrosso commented on #4404
Hello @aferrero2707

I didn't notice any degradation on my Windows 10 (64 bit) computer with your build:
CPU: INTEL (TM) I7-6500 (2,5 GHz)
RAM: 8 Gb
SSD drive

I have performed my *quick* testing with my personal Nikon D700 NEF files which are only 8-9 mb each. That is, not as big as the ones saved by much more modern cameras such as  Nikon D850 and alike :-)

[2018-03-06 21:47] Beep6581 commented on #4404
@aferrero2707 as I'm not a Windows or macOS user but somehow I still end up involved with Windows and macOS issues, I would say going with whatever is easiest to fix would be the right choice ;) I'm familiar with InnoSetup (see [`tools/win/InnoSetup/WindowsInnoSetup.iss.in`](https://github.com/Beep6581/RawTherapee/blob/dev/tools/win/InnoSetup/WindowsInnoSetup.iss.in)) but not with NSIS which from

[2018-03-07 06:59] Floessie commented on #4430
@Beep6581 I think, you can merge...

[2018-03-07 08:43] #4430 closed, assigned to Beep6581, Floessie

[2018-03-07 09:59] Beep6581 commented on #4428
@Hombre57 any chance this could be included in 5.4?

[2018-03-07 11:39] Llerr opened #4432 "RT crashes on i686 (most likely caused by aligned SSE access on unaligned address)"
system: ubuntu 16.04 LTS i686

[code]
[code]

[2018-03-07 12:39] heckflosse commented on #4432
This is caused by removing the `__x86_64__` dependencies in 96bf06a.
@Floessie Is there an other solution than adding the dependencies again?

[2018-03-07 13:10] Hombre57 commented on #4428
@Beep6581 Yes, I'll look at this tonight or tomorrow.

@gaaned92 That makes sens, but I'll see the actual logic.

[2018-03-07 13:18] Floessie commented on #4432
@heckflosse Don't we have those `ALIGN` macros? Can't they be added to the `vfloat` define?

[2018-03-07 13:33] heckflosse commented on #4432
@Floessie They are used in LUT.h, but I remember that on non `__x86_64__` builds they didn't work in all cases. E.g. they align 16 bytes relative to the stack, which may be unaligned. For this reason we had to use `-mstackrealign` for 32 bit builds in past. But in case of LUT.h vfloat members, that also didn't work on non `__x86_64__` builds for whatever reason

[2018-03-07 14:21] Floessie commented on #4432
@heckflosse Well, I don't have that insight, but why might the stack be unaligned when GCC defaults to [`-mpreferred-stack-boundary=4`](https://gcc.gnu.org/onlinedocs/gcc-6.4.0/gcc/x86-Options.html#x86-Options)?

[2018-03-07 14:40] heckflosse commented on #4432
@Floessie iirc
[code]
where `a` is a member of `LUT` generates an aligned store `_mm_store_ps()`, which crashes if memory is not aligned to 16 byte and for whatever reason this never worked on non `__x86_64__` for the vfloat members in LUT.h though you are right that it should work.

[2018-03-07 16:14] heckflosse commented on #4432
@Floessie Can you test this on a non `__x86_64__` build?

[code]

On `__x86_64__` the output is `16`.

[2018-03-07 16:34] heckflosse commented on #4432
@Floessie In case on `i686` builds the output of the test code from above is `8` this patch probably fixes the bug:

[code]

[2018-03-07 16:47] TooWaBoo commented on #4148
New update
`libreadline`

[2018-03-07 18:04] heckflosse commented on #4432
@Llerr I pushed a possible fix to `dev` branch. Can you please test?

[2018-03-07 19:11] Hombre57 commented on #4425
Pushed in commit 478e1c0. Closing.

[2018-03-07 19:11] #4425 closed, assigned to Hombre57

[2018-03-08 07:30] Floessie commented on #4432
@heckflosse It reports `16` with GCC 7.3 on i686, I'm afraid.

[2018-03-08 09:35] gaaned92 commented on #4432
At least on W10 32 bits no improvment

[code]

[2018-03-08 09:42] Floessie commented on #4432
@gaaned92 André, could you also test Ingo's patch with the `class alignas(16) LUT` above?

[2018-03-08 10:21] Llerr commented on #4432
@Llerr I pushed a possible fix to dev branch. Can you please test?
What branch is use? 5.4-rc2
Yes, but only 12.03.2018.
I install 5.3 from repositary, all work. But when i compile it`s crashed.

[2018-03-08 10:26] Beep6581 commented on #4432
@Llerr after cloning, do `git checkout dev`, then do `git describe` to make sure you're at least on `5.3-669-g478e1c05`, then compile. In fact, paste the output of `git describe` here.
More info: http://rawpedia.rawtherapee.com/Linux#Choose_a_branch

[2018-03-08 10:49] gaaned92 commented on #4432
@Floessie
I applied the patch but with no succes

[code]

beginning of LUT.h

[code]

[2018-03-08 12:53] heckflosse commented on #4432
This patch for `dev` should force unaligned access on vfloat/vint members of LUT when building with SSE2 support for non x86/64 targets:

[code]

[2018-03-08 13:01] Floessie commented on #4432
@heckflosse Isn't [unaligned heap](https://stackoverflow.com/a/12512275) our problem here, given the fact, that this `MyDiagonalCurve` is allocated via `new`?

[2018-03-08 13:14] heckflosse commented on #4432
@Floessie Yes, I think that's the problem.

[2018-03-08 13:24] Floessie commented on #4432
@heckflosse This is just a PoC (call it a dirty hack):

[code]

This requires C11.

[2018-03-08 13:25] gaaned92 commented on #4432
If you want I test something, ping me.

[2018-03-08 13:30] Floessie commented on #4432
@gaaned92 Ping! :smile: Could you test my dirty hack, so we know if it helps at all?

[2018-03-08 14:29] heckflosse commented on #4432
@Floessie I tried your patch on msys2/mingw64.

There is no `aligned_alloc()`, so I used the suggested `_aligned_malloc()`.
That compiles, but segfaults.
Then I also used `_aligned_free()` instead of `free()`
Still segfaults.
I even tried `_aligned_malloc(16, n + 16 - ((n%16) ? n&16 : 16) );` because of [this](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2072.htm)
Still segfaults :(

Edit: I c

[2018-03-08 14:45] Floessie commented on #4432
That's a pity. Works on Linux amd64 and i686. But I don't have real hardware that would SEGV on unaligned SSE accesses, so I can't test...

[2018-03-08 14:48] heckflosse commented on #4432
@Floessie afaik all cpus fail on `aligned SSE access` on `unaligned memory`

[2018-03-08 14:50] heckflosse commented on #4432
@gaaned92 Ping for testing [my patch](https://github.com/Beep6581/RawTherapee/issues/4432#issuecomment-371478424)

[2018-03-08 15:15] gaaned92 commented on #4432
@heckflosse
with your patch
for build = debug   ok

for build = release  crash

[code]

Not a lot of information here!

[2018-03-08 15:45] heckflosse commented on #4432
@gaaned92 Thanks a lot for testing. Because the debug build does not crash, I guess the bug with sse access to unaligned data in LUT.h is fixed with my patch and the crash in release build is a different one (maybe specific to Win32 builds as now all the SSEFUNCTION macros, which were needed for Win32 SSE builds, are removed). But that's just a guess.

Nevertheless it would be good to know how a r

[2018-03-08 23:34] heckflosse commented on #4418
@jannefoo Did you try to process the original raw file (not the generated dng) in rt using demosaic method set to `Mono` ?

[2018-03-08 23:46] Hombre57 commented on #4428
@Beep6581 @gaaned92 See commit d862621 in branch `single-user`.

The new behavior is now : if `RT_SETTINGS` is not set and `MultiUser=false`, a `mysettings` folder will be created in the application's install directory. Also, the `cache` folder is now named `mycache` when in the same conditions. That will make updating easier for users, since they'll only have to move the `mycache` and `mysettings

[2018-03-09 00:28] #4241 closed, assigned to Beep6581

[2018-03-09 04:24] jannefoo commented on #4418
that works, but I see no reason the mono dng should not work too.

On 9 March 2018 at 01:34, Ingo Weyrich <notifications@github.com> wrote:

[2018-03-09 08:59] gaaned92 commented on #4428
@Hombre57
When installed in an unprotected dir it's ok now. setting MultiUser=true in the installdir/options file restore the initial behaviour.

When in Program files, it seems not possible to have a prtable installation, but I think it iis not a use case as the object of a portable install is being able to process on any PC without letting garbage behind.
I have to make further tests but now I h

[2018-03-09 10:33] Beep6581 commented on #4428
@Hombre57 tested, no issues found in Sabayon.

[2018-03-09 13:53] heckflosse commented on #4418
@jannefoo I created [branch flatfield_monochrom](https://github.com/Beep6581/RawTherapee/tree/flatfield_monochrom)

[2018-03-09 15:22] kznsq opened #4433 "LCP Frames Interpolation Fix"
Hi!
I've found a bug in LCP interpolation code:

From 0f5cf0ce74e816555c70b27f86d424e7389db350 Mon Sep 17 00:00:00 2001
From: Andrey Frolov <falinc@gmail.com>
Date: Fri, 9 Mar 2018 17:17:50 +0200
Subject: [PATCH] LCP frames search fix for non vignette models

 rtengine/lcp.cc | 2 +-
 1 file changed, 1 insertion(+), 1 deletion(-)
[code]
2.15.1
[patch.diff.zip](https://github.com/Beep6581/RawTherape

[2018-03-09 16:33] X-Raym opened #4434 "FR: File browser option for looking into subfolder as well"
Hi,

Maybe I miss a setting or something (v5.3)

but it seems that the the file browser only display files/Images of the current folder, and not of its subfolders.

Did I miss something ?

Else, it would be a nice feature to have.

Thanks !

[2018-03-09 16:36] Beep6581 commented on #4434
Duplicate of #3756

[2018-03-09 16:36] #4434 closed, assigned to nobody

[2018-03-09 16:39] X-Raym commented on #4434
@Beep6581 oops sorry. I didn't search for "dir tree" keyword.

[2018-03-09 16:39] X-Raym commented on #3756
+1 for this feature, would be very handy !

[2018-03-09 20:13] Beep6581 commented on #4428
Portable installations are usually run from USB sticks and such. I don't think we should invest time in caring for portable installations in protected places such as Program Files. If either RT fails to start when folder creation fails, or if the user is informed that their settings will be lost, I think that is an acceptable compromise.

[2018-03-09 21:09] Hombre57 commented on #4428
Opening an alert window on event throw seems to work, though it won't be themed.

![fatal-error](https://user-images.githubusercontent.com/13788115/37229872-ca8fbade-23e5-11e8-8317-ca8d4432ad02.png)

See commit 01f8f41.

[2018-03-09 21:15] Hombre57 commented on #4428
Merged to dev, closing.

[2018-03-09 21:15] #4428 closed, assigned to Hombre57

[2018-03-09 22:31] agriggio commented on #4433
Hi @kznsq, can you please give a bit more context? Do you have a sample image and LCP file that show the problem and how your fix works? Thanks!

[2018-03-10 07:32] kznsq commented on #4433
Hi! There is an obvious typo because only vignetting depends on aperture:
// Pass 2: We have some, so take the best aperture for vignette and best focus for CA and distortion
// there are usually several frame per focal length.

As a result we have aperture-based selection while searching the best frames for interpolation and the result is not so good as the Lightroom's one.

[2018-03-10 08:35] agriggio opened #4435 "PDAF patterns ignored in user's camconst"
it seems PDAF patterns can be put only in the global camconst.json. is this intentional?

[2018-03-10 08:47] aferrero2707 commented on #4404
I have just uploaded an experimental installer for the automated windows version, based on NSIS (as it seems the only tool allowing to create windows installers under Linux).

Is there anybody here brave enough to give it a try an provide some feedback? The package name ends with `-setup.zip`

Thanks!

[2018-03-10 11:19] heckflosse commented on #4435
No :)

[2018-03-10 11:19] #4435 closed, assigned to nobody

[2018-03-10 11:44] Beep6581 commented on #4433
@kznsq I edited your post to fix formatting - click the edit button to see how it's done.

What is 2.15.1?

[2018-03-10 12:02] agriggio commented on #4433
thanks for the clarification. a test image (with accompanying LCP) would still be good to have, if you contribute one...

[2018-03-10 16:35] Hombre57 commented on #4428
@Beep6581 I forgot to update rt-cli with the new error message handling. Done in commit 191a139 into dev.

[2018-03-11 13:26] heckflosse opened #4436 "RT crashes when viewing Nikon D1X files with demosaicer set to 'None' and hovering about the right or lower part of the image"
To reproduce:

Download [this file](https://filebin.net/u8rv1z26cewdc7dg/D1x_20040725_ub20_074.NEF)
Open it in RT and set demosaic to 'None'
Hover over the right or lower part of the image

[2018-03-11 13:53] #4436 closed, assigned to heckflosse

[2018-03-11 17:13] Beep6581 commented on #4028
5.4-rc3 released:
https://discuss.pixls.us/t/call-for-testing-rawtherapee-5-4-rc3/6940

[2018-03-11 18:26] gaaned92 commented on #4028
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[code]

[2018-03-11 18:31] aferrero2707 commented on #4028
[RawTherapee-git-5.4-rc3-20180311_1755.glibc2.17-x86_64.AppImage](https://github.com/aferrero2707/rt-build/releases/download/continuous/RawTherapee-git-5.4-rc3-20180311_1755.glibc2.17-x86_64.AppImage) has been freshly generated.

I have removed the experimental windows packages, to avoid interference with the official ones for people visiting the rt-build repository... at least until it will be de

[2018-03-12 01:32] Benitoite commented on #4028
@Beep6581

:barber: A Mac build: :barber:
https://filebin.net/6q2gbc5wt6jkv52h/RawTherapee_OSX_10.9_64_5.4-rc3.zip

[code]
On the mac there was an issue with the https://github.com/Beep6581/RawTherapee/commit/3a404112afcc2e3865ab692602e20de5fef0c142 new LTO section in CMakeLists.txt

[2018-03-12 06:28] Beep6581 commented on #4028
@Benitoite I'm pushing a fix to dev, could you confirm?
Re: https://github.com/Beep6581/RawTherapee/commit/3a404112afcc2e3865ab692602e20de5fef0c142#commitcomment-28040453

[2018-03-12 06:34] Llerr commented on #4432
@Beep6581
[code]
[code]
it`s crushed :(
[code]

[2018-03-12 08:34] agriggio opened #4437 ""Auto matching tone curve" reset highlight compression to 0"
As the subject says. I can't commit right now, but this should fix it:

[code]

[2018-03-12 12:23] Floessie commented on #4432
@heckflosse

Tested again with latest `dev` in a Debian Testing i686 QEMU VM: Doesn't crash. There seems to be a difference between hardware and emulation...

[2018-03-12 12:52] RawConvert opened #4438 "New RT Out Of Gamut function in RT5.4 is too sensitive"
This new functionality allows out-of-gamut areas to be highlighted in relation to the RT Output profile or the Monitor profile.  You would surely not expect to see OOG areas if you opened an sRGB jpeg and set sRGB for output, however you do, as this photo shows -

![indira-jpeg-shows-oog](https://user-images.githubusercontent.com/16868433/37284509-af4ada1e-25f3-11e8-9260-3bc664608b38.png)

To repr

[2018-03-12 14:17] uglybrian89 commented on #4438
Delete my account. Please. Thank you

On Mar 12, 2018 5:52 AM, "Andrew" <notifications@github.com> wrote:

This new functionality allows out-of-gamut areas to be highlighted in
relation to the RT Output profile or the Monitor profile. You would surely
not expect to see OOG areas if you opened an sRGB jpeg and set sRGB for
output, however you do, as this photo shows -

[image: indira-jpeg-shows-oog

[2018-03-12 15:07] agriggio commented on #4438
@RawConvert I'm afraid this is a LCMS issue -- darktable behaves exactly like RT:

- RawTherapee:
![rt](https://user-images.githubusercontent.com/11982086/37291689-76b54088-260f-11e8-963b-4f3fe6c7df43.jpeg)

- Darktable:
![dt](https://user-images.githubusercontent.com/11982086/37291699-7ba980b8-260f-11e8-9b3e-aa8a010c08f0.jpeg)

[2018-03-12 15:11] Beep6581 commented on #4438
Ping @mm2

[2018-03-12 15:14] agriggio commented on #4438
Also @aferrero2707, IIRC PhotoFlow uses some custom code for OOG checks (at least reading from [here](https://discuss.pixls.us/t/how-soft-proofing-is-implemented-in-photoflow/3546))

[2018-03-12 15:43] heckflosse commented on #4432
@Floessie If you want to know about your emulation handling things different, the following code should crash on all systems:

[code]

[2018-03-12 16:05] TooWaBoo commented on #4148
New update
[code]

[2018-03-12 18:15] aferrero2707 commented on #4438
I will give my soft-proofing code a try on this image, and post the result.

[2018-03-12 20:24] aferrero2707 commented on #4438
@RawConvert @agriggio - The gamut warning in PhotoFlow does not give me any OOG pixel in the sRGB image, when soft-proofed to sRGB (as expected):
<img width="1280" alt="screen shot 2018-03-12 at 21 18 06" src="https://user-images.githubusercontent.com/6229237/37307490-6f71d670-263b-11e8-96ab-1f590d8a4a13.png">

In order to check that the gamut warning function is working properly, I checked the im

[2018-03-12 20:38] aferrero2707 commented on #4438
One more check: the same image converted to linear Rec.2020, boosted in saturation and then soft-proofed to sRGB:
<img width="1280" alt="screen shot 2018-03-12 at 21 36 35" src="https://user-images.githubusercontent.com/6229237/37308231-ab26a130-263d-11e8-886e-d426d49405b1.png">

[2018-03-12 21:15] RawConvert commented on #4438
Thanks @aferrero2707 , well done PhotoFlow!  @agriggio , is it possible to port the OOG warning from PhotoFlow to RT?!

[2018-03-12 21:19] agriggio commented on #4438
@RawConvert  well I'll have to understand the code first :-) @aferrero2707 where can I find it?
Anyway, definitely not for 5.4 (too late)

[2018-03-12 21:38] aferrero2707 commented on #4438
@agriggio - sure, here is where to start:

https://github.com/aferrero2707/PhotoFlow/blob/stable/src/operations/convert_colorspace.hh#L103

https://github.com/aferrero2707/PhotoFlow/blob/stable/src/operations/convert_colorspace.cc#L322

We should probably discuss this in a new issue.

[2018-03-13 07:03] Floessie commented on #4432
@heckflosse Proof: My old QEMU 2.1.2 doesn't crash on the snippet above, but happily prints out `2.000000`. :disappointed:

[2018-03-13 11:48] heckflosse commented on #4432
@Floessie Damn. My example was so simple that the compiler most likely could predict the output. Here's a working (crashing) example:

[code]

And here's the same, but with unaligned access, which does not crash:

[code]

To test, apply the patch to dev and load a raw file.

[2018-03-13 12:12] Floessie commented on #4432
@heckflosse Segfaults! :tada: ~~Second patch not yet tested.~~ **Edit:** Second patch doesn't segfault, as expected.

[2018-03-13 12:31] heckflosse commented on #4432
@Llerr It seems that in your latest test my patch from https://github.com/Beep6581/RawTherapee/issues/4432#issuecomment-371478424 was not applied.

Your output shows
[code]

while with applied patch line 177 is:
[code]

[2018-03-13 12:51] Benitoite commented on #4028
@Beep6581 Works great!

[2018-03-13 13:25] Beep6581 commented on #4150
The docs say:

The filebin is expired; I assume those were dual-illuminant jsons.
Maybe it's the case that the difference in color matrices produces different temperature values which results in the StdA-D?? forward matrices being mixed differently.

[2018-03-13 13:43] Beep6581 commented on #4150
I still have questions, some of which I think I know the answers to, but I will ask anyway.
These all assume we're talking about a dual-illuminant profile:
1. If there is no color matrix for a given model in `camconst.json`, is one taken from `dcraw.cc`?
2. If the matrix in `dcraw.cc` matches the one obtained by converting a raw file to DNG using Adobe DNG Converter and checking its metadata, does

[2018-03-13 13:50] Beep6581 commented on #4364
Is this still valid?

[2018-03-13 16:30] agriggio commented on #4437
@Beep6581 how should I fix this? Push to `dev` and merge into `release5.4`? Or should I cherry-pick?

[2018-03-13 16:46] agriggio commented on #4150
@Beep6581 here are the answers to the best of my understanding (no warranty of correctness/exhaustiveness :-)

1. yes

2. yes

3. for white balance

4. for computing the illuminant temperature that is the used to combine/mix the two DCP profiles. It coexists with the dcraw/camconst one in the sense that they are used for different purposes, but if they are significantly off the temperature used fo

[2018-03-13 16:46] Beep6581 commented on #4437
@agriggio it doesn't matter yet as there are no changes in `dev` which we don't want in 5.4, so straight to `dev` is fine. I will merge it into `release5.4` later after committing some DCPs.

[2018-03-13 16:57] #4437 closed, assigned to nobody

[2018-03-13 17:53] bughunter2 commented on #4364
I haven't built from source, so I can't test if it's still present.
However, the comment by gaaned92 (about it not being reproducible) applies to 5.2 on Windows, while the bug report applies to Linux.

Also, I wanted to test for you whether the bug report is still valid, but Fedora have stopped distributing 32-bit builds of their OS/distribution, so I can't easily test newer versions of RawTherape

[2018-03-13 18:57] SarenT opened #4439 "Canon EOS 80D mRAW CR2 file displayed corrupt (in shifted stripes)"
On Ubuntu 16.04 LTS 64-bit
19,3 GiB memory
Intel® Core™ i5-5200U CPU @ 2.20GHz × 4
Intel® HD Graphics 5500 (Broadwell GT2)

Downloaded from PPA repo's unstable branch.
Version:
Branch:
Commit:
Commit date:
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Lensfun: V0.2.8.0
Build type: Release
Build flags: -std=c++11 -O3 -std=c++11  -Werror=unuse

[2018-03-13 19:11] Floessie commented on #4439
Are you shooting mRAW? AFAIK, this isn't supported by RT (and not a good idea after all).

[2018-03-13 20:01] Beep6581 commented on #4439
Yes, it's an mRAW.
Duplicate of #3533

[2018-03-13 20:01] #4439 closed, assigned to nobody

[2018-03-13 20:05] SarenT commented on #4439
Yes, sorry. I didn't realize that mRAW is so much different.I assumed it to be a smaller version (resolutionwise) compared to RAW.

[2018-03-13 20:58] Beep6581 commented on #3533
Info on sRaw and mRaw:
* https://www.rawdigger.com/howtouse/nikon-small-raw-internals
* http://dougkerr.net/Pumpkin/articles/sRaw.pdf
* http://lclevy.free.fr/cr2/
* https://github.com/darktable-org/rawspeed/blob/develop/src/librawspeed/interpolators/Cr2sRawInterpolator.cpp#L113

[2018-03-14 13:23] Beep6581 opened #4440 "SONY ILCE-7M3 white frame set for camconst"
http://rawtherapee.com/shared/test_images/SONY%20ILCE-7M3%20whiteframes.tar.xz
Kindly provided by @cryptomilk
* Uncompressed 14-bit
* Compressed 14-bit
* Compressed 12-bit

[2018-03-14 19:38] cuniek opened #4441 "RT 5.4 RC DNG support regression with some Sony ARW files"
Hello

I have noticed that dng files (converted using Adobe DNG Converter 10.2) are properly displayed in RT 5.3 but 5.4 RC2 and RC3 are heavily overexposing them (I mean that RAW histogram is shifted about +2.2 eV). The strange thing here is that this happens only to files from Sony alpha 580, and not Nikon D750 or Minolta 7D. I attach original ARW file and DNG file.

https://drive.google.com/ope

[2018-03-14 20:14] heckflosse commented on #4441
Maybe related to #4129 ?
@agriggio Do you have an idea?

[2018-03-14 20:36] heckflosse commented on #4441
[code]
[code]

[2018-03-14 22:59] heckflosse commented on #4441
This patch should fix the issue:

[code]

Background: For all the cameras in the patch, using arw format overrides the whitelevel set in adobe_coeff(), but not when using dng format. The white level for this cameras in adobe_coeff is from old times, where the data was not in 14 bit range internally, so it's better to set it to 0, which means the white level from dng file will be used if there is n

[2018-03-14 23:05] Beep6581 commented on #4441
Perhaps related:
I was examining SONY ILCE-7M3 files today and found that some files (taken in compressed mode) show `BitsPerSample=14` in their Exif while the max white level is only 12-bit. The files have a raw curve which is supposed to scale the data to 14-bit.

The ARW file linked above shows:
[code]
Max white level is 3218 without using the raw curve.

The DNG:
[code]

[2018-03-14 23:09] heckflosse commented on #4441
@Beep6581 The issue is related to this line
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L3278
As we don't scale down to 12 bits, we also have to use a white level which matches 14 bit precision.
This is guaranteed for arw files in [code](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L3286), but not for dng files produced from arw files.

[2018-03-15 07:42] cuniek commented on #4441
I remember that A580 is processing with 14 bit precision internally, but saves only 12 bit raws (with the curve). Supprting the curve makes a BIG difference in quality - easily visible on real life photos.

BTW
Current white level for A580 is wrong, and highlights are pinkish. It is gone when I set White Point Correction to 1.03.

[2018-03-15 08:14] Floessie commented on #4432
@heckflosse But Ingo, there are a lot of other places, where unaligned loads and stores are used (not to mention `ZEROV` assignments). Aren't they all relevant and not only `LUT.h`? And why is it, that it doesn't crash in my VM now that we know it should? Are my GLIBC 2.27 and GCC 7.3 aligning on 16B even on i686? And if so, is it worth the trouble fixing all unaligned accesses when this is going

[2018-03-15 08:30] Floessie commented on #4432
Seek and ye shall find: https://github.com/kraj/glibc/commit/4e61a6be446026c327aa70cef221c9082bf0085d#diff-f2db25b59456b2ed40b038a3935be358 (nota bene: the hash has no `42` in it as it should have :grin:)

HTH,
Flössie

[2018-03-15 09:04] Beep6581 commented on #4441
@cuniek how do you test that?

Could you upload some [white-frames](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats)?
Also ping @iliasg

[2018-03-15 09:05] Beep6581 commented on #4432
@Floessie maybe it's been truncated ;)

[2018-03-15 09:41] agriggio commented on #4441
Shouldn't we kill `adobe_coeff` entirely and move the data to `camconst` instead?

[2018-03-15 10:52] Floessie commented on #4432
@heckflosse In the meantime I've set up a VM with Debian 9.4 i386. `dev` segfaults immediately somewhere in `MyCurve` as expected. As `malloc()` is a [weak symbol](https://stackoverflow.com/a/17850402) in GLIBC, I simply overwrote it, and that made RT start, open an image, and even save it.

Here's a patch as a starting point (must be `#ifdef`ed like hell, of course):
[code]

Best,
Flössie

[2018-03-15 12:55] iliasg commented on #4441
@agriggio

Alberto, we cannot do that at the moment because some times the DNG data are different (different raw frame, different BL/WL)  .. sometimes dramatically so (see MagicLantern video DNGs)
We need to expand camconst features  to cover multiple frames and multiple versions (nativeRAW vs AdobeDNG vs 3rt party DNG ..) but even then we cannot know how a 3rd_party DNG conversion could have mani

[2018-03-15 13:31] iliasg commented on #4441
@heckflosse Ingo, the DNG tags are fine (BL=512, WL=16300) .. and I don't see "adobe_coeff" for a580 .. how came RT to decide not to use the DNG exif ?.

[2018-03-15 13:41] agriggio commented on #4441
@iliasg there was a recent modification to the logic, due to #4129.
Basically, the idea was to make the DNG and the original RAW give the same output. However, from your comment above I understand that it might not always be possible, so I agree that this should be revised at some point...

[2018-03-15 13:46] iliasg commented on #4441
@agriggio Alberto, I thought that #4129 only disabled the inclusion of the DNG calibration matrix in calculations .. this would be enough to match DNG and "any_native_raw" renderings

[2018-03-15 13:51] agriggio commented on #4441
@iliasg let me double check

[2018-03-15 13:53] agriggio commented on #4441
@iliasg yes, that is correct. Then it must be something else -- sorry for the noise!

[2018-03-15 13:58] iliasg commented on #4440
Files dowloaded .. I will check later

[2018-03-15 15:11] heckflosse commented on #4441
@iliasg

It's [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L8307)

[2018-03-15 15:35] iliasg commented on #4441
@heckflosse
Ingo, wrong phrasing from me .. I mean that I didn't find in dcraw.cc the line in which RT turns from DNG exif to adobe_coeff for "Sony A-580" DNGs
Although I think it's in Alberto's #4129 commit ..

[2018-03-15 15:54] agriggio commented on #4441
@iliasg [this line](https://github.com/Beep6581/RawTherapee/blob/2f0fefb26f0ed94db4ecb83b4e5c4f87fad6d437/rtengine/dcraw.cc#L9763). And you're right, before my commit the behaviour was different. But that's exactly what the commit was supposed to do, no? I.e. reading the matrix from `adobe_coeff` in both cases (ARW and DNG) makes sure that the matrices are the same. So I think the problem is the w

[2018-03-15 15:55] heckflosse commented on #4441
@iliasg it's [this line](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9763)
raw_color defaults to 1 and is not set to zero [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9747), because the dng is from adobe dng converter, which is checked [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9740). So it's still 1 and adobe_co

[2018-03-15 15:59] agriggio commented on #4438
I just pushed a new branch `improved-gamut-warning`, in which I tried to use the logic of PhotoFlow. It seems to work from my limited tests, but the possibility that I did not understand it correctly are non-negligible :-)
If someone can take a look, the code is [here](https://github.com/Beep6581/RawTherapee/blob/83521b0c92cd58e691ee059dd2deb5beccc36b5f/rtengine/improcfun.cc#L404) and [here](https

[2018-03-15 19:32] RawConvert commented on #4438
Many thanks @agriggio  for working on this.  I just tried your branch and it is much better.  I'm tempted to say it's working perfectly, but I'm not sufficiently clued up to be so definitive!  I loaded the same jpeg and no cyan.  Then increased saturation from 0 to just 1 and got this -
![new-oog-logic](https://user-images.githubusercontent.com/16868433/37486535-a6a9e504-2886-11e8-8f3b-86b497034d8

[2018-03-15 21:34] aferrero2707 commented on #4438
@agriggio - I will have a look at the RT implementation, but not before a few days...

[2018-03-15 21:39] Beep6581 commented on #4028
Release date of 5.4 set for Saturday, 2018-03-17.

[2018-03-15 21:52] iliasg commented on #4441
@heckflosse @agriggio
Guys sorry for the late responce,
The 0xfeb (4075 dec) is not a wrong WL it's a correct WL for 12bit data .. which for ARW's after the bitshift removal (i.e 14bit data) it gets a hardcoded 4x value (16300) https://github.com/Beep6581/RawTherapee/blob/aef02c0c6175f62cbeefeaae293645f2307b9e87/rtengine/dcraw.cc#L3286
The DNGs also have this correct WL=16300 in exif.

What exactl

[2018-03-15 22:35] heckflosse commented on #4441
@iliasg Ilias,
Currently it's this way for dng:

If the dng is from Adobe dng converter: white levels and black levels from adobe_coeff() will be used if:
1) there are not zero
2) there are no camonst values (camconst have priority over adobe_coeff())

[2018-03-15 22:36] agriggio commented on #4441
@iliasg no objection to improve the logic from me, but I think we should add a hot fix for 5.4 and postpone more complex / principled solutions until after the release

[2018-03-15 22:38] heckflosse commented on #4441
@agriggio @iliasg I already pushed the hot fix for the Sony arw2 cams

[2018-03-16 06:16] Beep6581 commented on #4441
Factor in that dcraw appears to be abandoned, no reply from Dave Coffin, and we may need to switch to rawspeed or libraw.

[2018-03-16 08:15] lewicki-pk commented on #4403
Hi,
I just wanted to let you know that I'm a bit blocked now (with other work) and the feature is not finished yet.
The basic implementation that allows reading the stars and using them to filter the photos is available [>here<](https://github.com/lewicki-pk/RawTherapee) but it is far from perfect.
I'll work on polishing that up.

[2018-03-16 08:19] Floessie commented on #4432
Here's a full integration, which fixes the problem for i386 Linux. Successfully tested on Debian 9.4 i386, Debian 9.4 amd64, and Debian 10 i386. The `malloc()` hack is only active on the first.

[code]

@heckflosse @Beep6581 @innir Please test, thanks.

HTH,
Flössie

[2018-03-16 12:13] heckflosse commented on #4432
Thanks @Floessie, builds and works fine on Win7/64

[2018-03-16 12:45] Beep6581 commented on #4432
Built and ran fine in Sabayon
gcc (Gentoo Hardened 6.4.0-r1 p1.3) 6.4.0
x86_64 Intel(R) Core(TM) m3-6Y30 CPU @ 0.90GHz

[2018-03-16 13:37] Floessie commented on #4432
Tested with Clang 3.9.1 on Debian 9.4 i386. :heavy_check_mark:

[2018-03-16 14:12] Floessie commented on #4432
Tested with Clang 5.0.1 on Debian 10 i386:

With patch: :heavy_check_mark: (`HAVE_UNALIGNED_MALLOC` is defined)
Without patch: :heavy_check_mark:

Clang 5 needs `-latomic` on the `CMAKE_EXE_LINKER_FLAGS`.

[2018-03-16 15:19] Floessie commented on #4432
Shall I push to `dev`?

[2018-03-16 15:38] heckflosse commented on #4432
@Floessie yes, please :)

[2018-03-16 16:53] Beep6581 commented on #4432
Is this for 5.5?

[2018-03-16 17:01] agriggio commented on #4438
Thank you @aferrero2707. I have just cleaned up the code a little bit. You can find it [here](https://github.com/Beep6581/RawTherapee/blob/improved-gamut-warning/rtengine/gamutwarning.cc).

[2018-03-16 17:52] heckflosse commented on #4432
imho for 5.4

[2018-03-16 18:08] Beep6581 commented on #4438
@agriggio what are your thoughts about having this in 5.4?
It's not a new feature but a bug fix since the currently implementation shows wrong results.

[2018-03-16 20:18] agriggio commented on #4438
@Beep6581 I have no technical objection, but I am still not 100% sure that the new code is correct. In particular, I haven't been able to test with pure LUT-based profiles, so I don't know if that code path works as intended...

[2018-03-16 20:49] heckflosse commented on #4438
@Beep6581 @agriggio In this case I see two solutions:
1) release 5.4 as is now
2) make a new 5.4 rc which includes this patch and realease 5.4 later. It's up to you

[2018-03-16 21:07] agriggio commented on #4438
I think we have enough features pending for a quick 5.5 release not very far from now, tbh

[2018-03-16 22:07] iliasg commented on #4440
Examined the samples, real long exposures missing .. only up to 2-3sec included

Camconst.json item .. used the color matrix from ILCE-9 which is the most possible match ..

[code]

[2018-03-16 22:47] #4440 closed, assigned to iliasg

[2018-03-17 09:29] Floessie commented on #4432
I'm about to push...

[2018-03-17 09:35] #4432 closed, assigned to heckflosse

[2018-03-17 18:21] heckflosse opened #4443 "Possible bug in Color::gamutLchonly"
While reviewing the `vibrance` code I found a possible bug in `Color::gamutLchonly`. At least it is a mismatch between comment and [code](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/color.cc#L2514).

The condition matches if at least one of the colours is clipped, while the comment says it should not match if all colours are clipped (let's ignore the `!isHLEnabled`).

[code]

Shouldn

[2018-03-18 07:03] xaxxon commented on #3923
Just downloaded latest RT on macbook air mid 2011 running os x 10.11.6.   Two-finger scrolling in thumbnails always scrolls left, whether I swipe left or right with my fingers.

[2018-03-18 07:19] Desmis commented on #4443
@heckflosse

Ingo
You are true :)

I think, but I write this code 6 yeras ago ! that the good code is what you propose

else if (!isHLEnabled && max(R, G, B) > ClipLevel && min(R, G, B) <= ClipLevel) {

Jacques

[2018-03-18 07:31] gaaned92 commented on #4438
@agriggio
Crash if "no ICM: sRGB output" is selected

I don(t know why displaying RT window under gdb is now so slow

[code]

[2018-03-18 16:30] heckflosse commented on #4443
@Desmis Jacques, thanks for confirmation. I will fix it for 5.5

[2018-03-18 17:33] falket commented on #4169
If someone suggest me an easy way to take a picture also for the lcp problem, i could ask some friend if he can or try myself to take one. Thank you.

[2018-03-18 20:33] Beep6581 commented on #3923
@xaxxon what happens with this version?
https://filebin.net/fu841fry89ozve0b/RawTherapee_OSX_10.9_64_5.3-643-gfc751a0cc.zip

[2018-03-19 02:08] #4441 closed, assigned to heckflosse

[2018-03-19 02:15] heckflosse commented on #3061
@Beep6581 Still valid with fattal?

[2018-03-19 07:25] Beep6581 commented on #3061
Solved by the addition of the "HDR Tone Mapping" tool (Fattal) in 5.4.

[2018-03-19 07:25] #3061 closed

[2018-03-19 10:53] xaxxon commented on #3923
Same behavior.   up/down scrolling scrolls left and right but left/right scrolling always scrolls left.

https://www.youtube.com/watch?v=CSW8SOXzbt8

When you see the thumbnails scrolling right, that's me using up/down scrolling.

Any work being done on the RT UI responsiveness?   Lightroom is almost perfectly smooth on my laptop, but RT is pretty much just a beachball whenever I do anything at al

[2018-03-19 10:58] Beep6581 commented on #3923
Confirmed in Sabayon/KDE.
I had to enable horizontal scrolling:
![screenshot_20180319_115829](https://user-images.githubusercontent.com/5844619/37591778-e2df8748-2b6c-11e8-952c-2d6babeb1af2.png)

[2018-03-19 11:00] xaxxon commented on #3923
Well, this seems a pretty obvious UI bug.

[2018-03-19 11:02] xaxxon commented on #3923
Honestly, I don't even know where I'd go to find that, as there's no "preferences" menu option which is 100% standard in mac apps.. Or I guess 99.999%

![image](https://user-images.githubusercontent.com/143986/37591911-486932f0-2b2a-11e8-9551-2023a1622d20.png)

edit: I've now spent 10+ minutes in RT and on google trying to search for how to find something that looks like what you posted.   I've fo

[2018-03-19 11:54] Hombre57 commented on #3923
@xaxxon I think it's a snapshot of the touchpad driver, it's not an RT window.

I'll check tonight if there are some special events to handle for touchpad device.

[2018-03-19 12:05] Beep6581 commented on #3923
This patch fixes it for horizontal scrolling, while breaking vertical scrolling, so it's only a starting point:
[code]

[2018-03-19 12:08] Beep6581 commented on #3923
And this seems to only handle "if not down then up"
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/guiutils.cc#L948

[2018-03-19 12:35] Beep6581 commented on #3923
Here's a working patch:
[code]

What is the expected behavior when:
1. focus is on a horizontal panel and the user scrolls up/down?
2. focus is on a vertical panel and the user scrolls left/right?
3. focus is on the image preview and the user scrolls left/right?
i.e. in those cases, should the scroll be ignored, or should it behave as if the user scrolled along the other axis?

[2018-03-19 14:25] Floessie commented on #4438
@gaaned92 Does this help?

[code]

[2018-03-19 16:51] gaaned92 commented on #4438
@Floessie
It no longer crashes, but when there is no ICM, sRGB is assumed. So the OOG indication should be the same as for RTsRGB, but there is no OOG indicated.

[2018-03-19 20:05] Beep6581 commented on #3923
Do the thumbs-up mean the patch should be committed? i.e. should I could this as a personal C++ success? :smiley:

[2018-03-19 20:12] heckflosse opened #4445 "review of Munsell code"
I detected some things in Munsell code which imho need a review.
Example:

There is the lookup table `_9B70` which is filled [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/color.cc#L4416):

[code]
`maxInd2` is 90, so we create a lut with 90 entries, from wich entries 0..5 are zero.
Then the lut is accessed for example [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengi

[2018-03-19 20:19] Hombre57 commented on #3923
A C++ success, yes, but would prefer to wait for the answers of your questions by @Barugon and @xaxxon , unless you'd go for two commits.

If I could nitpicking, I'd remove the test of `direction == GDK_SCROLL_LEFT` on your first change and add a test of `direction == GDK_SCROLL_DOWN` in the `else if`, as I'm not sure it makes sense to use left and right for zooming (additionally, some user have d

[2018-03-19 20:30] Floessie commented on #3923
@Beep6581

I just like to see you code C++. :+1:

The `case`s could be grouped, `v` could carry a better name, the whole thing could have been solved with `||`, but I just like that you did it. :+2:

[2018-03-19 20:34] Floessie commented on #4445
`_9B70`: The name alone looks like a linker symbol... :grin:

Good catch, Ingo! (As usual.)

[2018-03-19 20:37] xaxxon commented on #3923
No behavior on a touchpad.   Perhaps on a mouse wheel up/down it should scroll left/right, but on a device that specifically has input for left/right it should use the most obvious input.

Nothing, ever.  I don't know of any devices where there is horizontal scrolling but not vertical.

I don't know what exactly "image preview" means, but on a canvas-type area, the movement should mirror the fluid

[2018-03-19 21:58] Beep6581 commented on #3923
Thank you very much for the kind words and good advice :)
As I'm already juggling several tasks and I'd like to release 5.4 tonight or tomorrow, I agreed with @Hombre57 on IRC that he would take this. However, I promise to write some more C++ patches when possible :)

[2018-03-19 23:27] blitzgneisserin opened #4446 "Save As - Wrong file suffix when clicking on existing file then changing file format"
Hi, basically this bug works like this: I export a photo directy to JPEG or TIFF, and right after that I do another direct export and change the file type. Result is the same file type, but if it is a JPEG it is as big as the TIFF. E.g. first I export to JPEG. Then I switch file type to TIFF and export again. Result is a JPEG with usually more than 50 MB. I do not know what that file is. It is cal

[2018-03-20 00:55] Beep6581 commented on #4446
Could not reproduce.

@blitzgneisserin please post the *exact* steps to reproduce, or even better a video screen recording.

[2018-03-20 07:26] Desmis commented on #4445
@Floessie
9B70 : it is a Munsell notation

@heckflosse
No problem you can, improve these old LUT - I have create 6 years ago :)

jacques

[2018-03-20 07:30] agriggio commented on #4438
@gaaned92 I think this is the right thing to do

[2018-03-20 07:35] Floessie commented on #4446
Could not reproduce as well.

When I hit Ctrl+S on let's say "DSC_1234.NEF" the save dialog proposes "DSC_1234" in the top line. Selecting JPEG produces a JPEG. Even if I hit Ctrl+S again while saving, it still proposes "DSC_1234", and selecting TIFF yields a TIFF. The only way to create a TIFF file with a ".jpg" extension is to select the "DSC_1234.jpg" in the file selection and TIFF as output fo

[2018-03-20 07:37] Floessie commented on #4445
@Desmis Jacques, I was just making fun. :wink:

[2018-03-20 07:46] Desmis commented on #4445
me also :)

[2018-03-20 07:47] blitzgneisserin commented on #4446
open an ORF, strg + s, choose file type (e.g. jpeg), save
open ORF, strg + s, choose different file type (e.g. tiff), save

tried it again, with strg +s (although I usually use the button, not the keyboard), same result
I will try to make a screen recording later
![screenshot 106](https://user-images.githubusercontent.com/16564210/37641896-a83bab9e-2c1b-11e8-84a2-9c7115959a2f.png)
When I hit strg

[2018-03-20 07:55] cuniek commented on #4446
I guess it is the oldest trick in the book:

1) open image, and Ctrl-S
2) click on any JPG or TIFF file (the filename has a suffix like .jpg)
3) change filetype (the suffix stays the same)
4) OS like Windows will show filetype based on the suffix, so You have 50MB TIFF file with JPG suffix detected/shown as JPG.

Oh, @Floessie was first.

[2018-03-20 08:05] Floessie commented on #4446
@blitzgneisserin What you're basically saying is, that "P8200086.tif" is proposed in the top line immediately after opening the save dialog without selecting anything actively in that dialog? Can anyone confirm this on Windows?

[2018-03-20 08:51] Arm-Ann opened #4447 "FUJIFILM X-A10 RAF support"
There is a problem with opening Fujifilm X-A10 RAF files in RawTherapee 5.4-rc3 x64.
When I open the RAF file, only a portion of it is displayed in editor window.

Sample RAW files with in-camera JPG are available on https://filebin.net/hj8y4yeca9lbox3l/x-a10.zip
Screenshot of RawTherapee GUI with problem is available on https://filebin.net/hj8y4yeca9lbox3l/2018-03-20_112830.jpg

For example:
DSCF

[2018-03-20 08:52] gaaned92 commented on #4446
W10 can reproduce
beginning with empty output dir
- open an image
- click "save current image", select "file format"=jpg, save : a file with jpg type is created
- click "save current image", select "file format"=tiff 16bits, save : a file with jpg type is created

no click on any file or other action.

after that it works and the file suffix is ok

so if you have a look at the second file with exi

[2018-03-20 08:57] cuniek commented on #4446
confirm on win7 - just as @gaaned92 wrote
By default only the filename is displayed in "Save as" dialogbox, and when you change the filtype the name stays and suffix is automatically added during the save process.

If filename was changed, then changing the filetype does not touch the suffix, so it may be wrong.

[2018-03-20 08:59] gaaned92 commented on #4438
@agriggio perhaps but not intuitive. In this case OOG should be deactivated

[2018-03-20 09:13] Floessie commented on #4446
@gaaned92 @cuniek Thanks for testing. This explains @blitzgneisserin' woes. I still don't understand why this is different between Windows and Linux. Could you test this patch, which adds some printf debugging?

[code]

Thanks,
Flössie

[2018-03-20 10:12] blitzgneisserin commented on #4446
Everything works fine if you delete the suggested suffix with the help of the keyboard (in the "save"-dialogue), but that is a bit tricky too.

[2018-03-20 10:29] Beep6581 commented on #4447
Additionally, I get a segfault when opening `DSCF0907.RAF` in
`rtengine::RawImageSource::getAutoMatchedToneCurve`
https://filebin.net/dt7bwrlt0s6ksoyj (same files as above but unzipped)
Stack backtrace: https://filebin.net/dt7bwrlt0s6ksoyj/log.txt

[2018-03-20 10:57] Floessie commented on #4447
@agriggio I guess, the algorithm is not supposed to work with a negative `cx`...

[2018-03-20 11:01] agriggio commented on #4438
That's a good point, thanks!

[2018-03-20 11:02] agriggio commented on #4447
I'll take a look

[2018-03-20 11:29] gaaned92 commented on #4446
@Floessie

[code]

[2018-03-20 11:34] iliasg commented on #4447
@agriggio
I had proposed a wrong correction for X-A10 in Dcraw.cc https://github.com/Beep6581/RawTherapee/blob/ac0bcd06c46b08046cbd87fad1bc7361e083ec68/rtengine/dcraw.cc#L9259
we need to define top_margin = 0, left_margin = 0
 and maybe width = raw_width, height = raw_height
We also need to do the same for X-A3 and maybe X-A5

[2018-03-20 11:37] Llerr commented on #4432
i'm test. it's work.
$git describe
5.4-rc3

[2018-03-20 11:54] Floessie commented on #4446
@gaaned92 André, thanks for testing. The outcome is the same as on Linux: We set the initial filename without extension in the save dialog. Still it shows "blue_horse.jpg" the second time you open the dialog?

[2018-03-20 12:02] gaaned92 commented on #4446
@Floessie

Yes above, the second save was in tif format, nevertheless it shows blue_horse-1.jpg because there is already a jpg file.

I think the second time,
fnameOut = 'C:\Users\Andre\Pictures\blue_horse.jpg'
should be
fnameOut = 'C:\Users\Andre\Pictures\blue_horse.tif'

[2018-03-20 12:07] agriggio commented on #4447
Thanks Ilias, I'm checking right now

[2018-03-20 12:17] agriggio commented on #4447
This seems to fix the issues:

[code]

[2018-03-20 12:20] Beep6581 commented on #4028
RawTherapee 5.4 is tagged, @gaaned92 @Benitoite @aferrero2707 could I ask you for builds?
As usual, get the source either by checking out the tag:
[code]
or by downloading the tarball:
http://rawtherapee.com/shared/source/rawtherapee-5.4.tar.xz
http://rawtherapee.com/shared/source/rawtherapee-5.4.tar.xz.sha1
Don't use the tarball generated by GitHub.

Please remember to update lensfun and to use `

[2018-03-20 12:36] Floessie commented on #4446
@gaaned92

This is the bottom line: It only happens (also on Linux) when "Automatically add suffix if the file already exists" is checked.

I'll try to fix that...

[2018-03-20 12:42] iliasg commented on #4447
Alberto, X-A3 & X-A5 have more pixels ... raw_width = 6016, raw_height =4014

[2018-03-20 13:02] Beep6581 opened #4448 "dependencies_for_creating_builds folder"
@gaaned92 @sguyader there is a folder `dependencies_for_creating_builds` on our server, is that still needed?
http://rawtherapee.com/shared/builds/windows/dependencies_for_creating_builds/

[2018-03-20 13:02] agriggio commented on #4447
@iliasg thanks, I'll fix

[2018-03-20 13:07] blitzgneisserin commented on #4446
another issue appears to be related to this issue:
if I save a processing profile before the first export/save of a photo, when I save/export, RT  creates a file name like ****.pp3.***
![screenshot 107](https://user-images.githubusercontent.com/16564210/37656218-b8978310-2c47-11e8-9a9b-28eec37c988b.png)
At least, there is a "warning"
![screenshot 108](https://user-images.githubusercontent.com/1656

[2018-03-20 13:15] gaaned92 commented on #4448
@Beep6581
I think it is no longer needed. These are old dependencies versions.
I order to have correct dependencies, they have to be copied directly from /mingw64/bin.

[2018-03-20 13:26] Beep6581 commented on #4448
Great, deleted.

[2018-03-20 13:26] #4448 closed, assigned to Beep6581

[2018-03-20 13:29] #4407 closed, assigned to heckflosse

[2018-03-20 13:41] #4431 closed, assigned to heckflosse

[2018-03-20 13:44] #4418 closed, assigned to heckflosse

[2018-03-20 13:51] gaaned92 commented on #4028
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

lensfun updated yesterday timestamp=1520804365
suffix=""

OK on virustotal

[2018-03-20 13:57] agriggio commented on #4447
Here's the revised patch:

[code]

[2018-03-20 14:14] agriggio commented on #4028
@Beep6581 does this mean I can start submitting my long backlog of PRs? :wink:

[2018-03-20 14:17] heckflosse commented on #4028
@agriggio I already merged my prs ;-)

[2018-03-20 14:36] heckflosse opened #4450 "Auto-matched tone curve is not reset in gui when applying neutral profile while image is still loading"
To reproduce:

1) use a file which takes a while to load, for example a pixel shift file
2) clear processing profile in file browser
3) use one of the auto-matched profiles as default profile in preferences
4) open the file from 1)
5) while the file is loading, select the neutral profile
6) when the file is loaded, look at the exposure tab

The preview is correctly using neutral profile (no tone c

[2018-03-20 14:53] Beep6581 commented on #4421
Done: http://rawpedia.rawtherapee.com/Main_Page#Metadata_Tab

[2018-03-20 14:53] #4421 closed, assigned to Beep6581

[2018-03-20 14:57] Beep6581 opened #4451 "Auto-matched tone curve as a checkbox"
The auto-matched tone curve option looks like it's a one-time operation, but in fact it's in a toggle-on state. It remains on as long as the user doesn't disable it directly or implicitly through adjusting the curve or possibly editing a dependent tool. As such, I think it could improve UX if the tool was represented as a checkbox instead of a button.

This applies to the Auto Levels button as wel

[2018-03-20 14:58] aferrero2707 commented on #4028
The AppImage is available [here](https://github.com/aferrero2707/rt-build/releases/download/continuous/RawTherapee-git-5.4-20180320_1351.glibc2.17-x86_64.AppImage), and the automated Win64 build [here](https://transfer.sh/bwyCH/rawtherapee-w64-20180320_1350-git-5.4.zip).

[2018-03-20 14:59] Beep6581 commented on #4028
:+1: all around!

[2018-03-20 15:04] iliasg commented on #4447
OK if this works (tests needed on both compressed and non-compressed RAFs .. which I am not able to do now) I guess it should be fine for 5.4

I just have to remind that the root of the problem is that Fuji changed the way the frame sizes are reported in exif
https://github.com/Beep6581/RawTherapee/issues/3988#issuecomment-318627070
Wrong size reported at the usual exif tags .. but the correct dat

[2018-03-20 15:17] Beep6581 commented on #4372
Hey @Hombre57
I documented the above:
http://rawpedia.rawtherapee.com/Exif_Tab
http://rawpedia.rawtherapee.com/IPTC_Tab

But what did you mean by "look out" here?

and here (so with or without? Was there an "or" missing?):

[2018-03-20 15:39] Benitoite commented on #4028
@Beep6581 Build for macOS 10.9/10/11/12/13 w/lensfun timestamp 1509787749 (latest)
https://filebin.net/4cb7yvoszzvcdtfy/RawTherapee_OSX_10.9_64_5.4.zip
[code]
Richard Barber 💈

[2018-03-20 15:40] Arm-Ann commented on #4447
I'm ready to test it with X-A10 files. But I need windows binnary. I can't build RT myself.

[2018-03-20 16:56] agriggio commented on #4447
I quickly tested with a raw from the X-A3 (from dpreview) and it doesn't work :-(
But it works for the X-A10. So I'll push to dev only the X-A10 part

[2018-03-20 17:11] heckflosse commented on #4419
This patch fixes the wrong initial thumbnail and also the wrong inspector preview for dng files with embedded one-channel jpg. It does not fix the black thumbnail for this files (when a profile is applied).

[code]

[2018-03-20 19:35] heckflosse commented on #4419
This additional patch fixes the black thumb bug when a processing profile is applied to the files from op.

[code]

[2018-03-20 19:35] Hombre57 commented on #4372
[Line 499 and 502 of stdattribs.cc](https://github.com/Beep6581/RawTherapee/blob/7096c9656a421692c31b9a63cf66ecb2d2b1ca48/rtexif/stdattribs.cc#L499) look for conformance of the first 4 bits of each character according to [this first table](https://fr.wikipedia.org/wiki/UTF-8). Not sure it's 100% bullet proof, but should detect most case.

You're confusing the Byte Order **Mark** and the string's B

[2018-03-20 20:34] iliasg commented on #4447
@agriggio Alberto strange !!
Just because I see X-A10 has raw crop entry in camconst.json while X-A3 not ..
can you try by inserting in camconst.json X-A3 item
`        "raw_crop": [ 0, 0, 6016, 4014 ], // full raw 6016x4014`

[2018-03-20 20:52] Beep6581 commented on #4372
Done: http://rawpedia.rawtherapee.com/Exif_Tab

[2018-03-20 20:52] #4372 closed, assigned to Beep6581

[2018-03-20 21:13] Beep6581 commented on #4028
@aferrero2707 for the automated Windows build, I posted the link here:
https://discuss.pixls.us/t/windows-build-needs-testing/5601/2

[2018-03-20 21:30] agriggio commented on #4447
Ilias, I will try, but I think the issue is deeper. I think the decoding is just wrong for the x-a3, I was just getting a frame with garbage...

[2018-03-20 21:45] heckflosse commented on #4447
@agriggio Alberto, maybe it's [this](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimage.cc#L456)

[2018-03-20 21:46] Beep6581 commented on #4028
All builds are now live on the Downloads page:
http://rawtherapee.com/
Please reports if anything's wrong.

[2018-03-20 22:17] iliasg commented on #4447
@agriggio, was the frame size wrong also .. because without the X-A3 patch the size is something like 2000X50 (not always the same) and made of garbage .. if you had 6016x4014 the patch is correct.

[2018-03-20 23:34] agriggio commented on #4447
@heckflosse I had a look but didn't see anything "obvious". I had a look at libraw 0.19 which supports those cameras, but I didn't notice anything there either. I am clearly missing something... :-)

[2018-03-21 12:07] iliasg commented on #4447
@agriggio Alberto, because we've seen such a garbage rendering when RT missinterpretes the raw  bit depth, can you check if the X-A3's bitdepth = 14bits is correctly interpreted ?. X-A10 gives 12bit RAFs and works fine ..

[2018-03-21 14:25] agriggio commented on #4447
@iliasg the problem was a bit deeper... we lack support for 14bit bayer raws from fuji. But the latest libraw has it, so I was able to port it easily. Here's a patch that seems to work:

[code]

Note you also need to change the white level in `camconst.json` from `4050` to `16100` (copied from other Fuji models, not sure if it is accurate)

[2018-03-21 15:15] iliasg commented on #4447
Many thanks :)

I think WL=16100 is safe for Fujis

Regarding 14bit Bayer Fujis .. RT already supports Fuji GFX-50s (both compressed and non_compressed) which is Bayer 14bit ;) .. so I wonder what changed for X-A3 .. the "compressed header" ? ..

[2018-03-21 15:51] heckflosse commented on #4447
@iliasg isn't GFX-50s uncompressed 14bit info in 16bit data?

[2018-03-21 15:55] agriggio commented on #4447
@heckflosse yes, that's also my understanding

[2018-03-21 16:00] agriggio commented on #4447
@iliasg @heckflosse I just checked again. It is true that we already supported GFX-50s compressed raws. However, the compression format seems to be totally different than that used for the X-A3 :-/

[2018-03-21 16:41] #4419 closed, assigned to heckflosse

[2018-03-21 17:50] iliasg commented on #4447
@heckflosse Ingo yes .. GFX-50s gives 16bit data with 2 high bits zeroed .. I had forgotten this ..

[2018-03-22 14:19] heckflosse opened #4456 "PixelShift smooth transitions irregularities"
When motion correction for pixelshift files is used and smooth transitions is enabled (which is the case for automatic mode) a transition mask is internally generated, which blends between the pixelshift composite and the demosaiced image. Today I visualized this transition mask and found some irregularities.

Example 1: (regions without motion should be black, but are not)
![grafik](https://user-

[2018-03-22 15:01] TooWaBoo commented on #4148
New update
[code]

[2018-03-22 17:13] heckflosse commented on #4456
Here's a new patch which includes an improvement for the monochrome motion mask.

In current pixelshift dev code the monochrome motion mask looked like this:

![grafik](https://user-images.githubusercontent.com/13733487/37785703-1ecc95b2-2dfb-11e8-85be-40aa80ce1324.png)

Only pure black and white, no shades of grey. Looking at the motion mask one could assume, that the black areas are taken from t

[2018-03-22 20:46] skycyclepilot opened #4458 "Icons are tiny on high DPI Displays, while text sizing is okay"
RawTherapee 5.4 is unusable on high DPI displays.  Text sizing is okay, but icons and such are tiny.

[2018-03-22 20:56] heckflosse commented on #4458
You clearly missed some things as you opened the issue:
[code]

[2018-03-22 21:25] Beep6581 commented on #4458
Duplicate of #3547

[2018-03-22 21:25] #4458 closed, assigned to nobody

[2018-03-22 21:27] skycyclepilot commented on #4458
You have all the information you needed to resolve this problem.  It's not like it's a tedious problem that requires a ton of explanation.  If you'd rather make people jump through hoops, fine.  I'll just use another product.  Thanks.

[2018-03-22 21:30] agriggio commented on #4447
can we close?

[2018-03-22 21:32] heckflosse commented on #4447
@agriggio Yes

[2018-03-22 21:34] #4447 closed, assigned to agriggio

[2018-03-22 21:40] heckflosse commented on #4458
@skycyclepilot To solve this problem, we need to be able to reproduce it, fix it and test the fix. The part in the middle (fix it) will be the easy part, if we have a Hi Dpi Display to reproduce before making a fix and to confirm the fix once it's fixed. Simple, isn't it?

So we have some informations (still not all), but no way to go further.

[2018-03-22 21:42] agriggio commented on #4438
@aferrero2707 I think there's a bug in the logic that selects which path to take for the gamut warning (i.e. either L\*a\*b\* and deltaE comparison or ACES and absolute comparison). In particular, using `cmsIsMatrixShaper` alone seems to be not sufficient to distinguish between a matrix and LUT profile. In RT, I'm now using this:

[code]

Example of the problem. Current PhotoFlow, using my monitor

[2018-03-22 21:43] heckflosse commented on #4458
@skycyclepilot I edited the header to fit your post

[2018-03-22 21:44] skycyclepilot commented on #4458
Actually, it's very easy to reproduce.  Just open the program on a high
resolution display, such as any UHD (3840 X 2160) monitor.  The problem
will be painfully obvious.  All the icons and such will be tiny.

On Thu, Mar 22, 2018 at 5:40 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2018-03-22 21:45] agriggio commented on #4458
None of us (RT devs) has one, unfortunately.

[2018-03-22 21:45] skycyclepilot commented on #4458
Okay.  Thanks...

On Thu, Mar 22, 2018 at 5:43 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2018-03-22 21:52] skycyclepilot commented on #4458
Okay.  Lots of people have them now, so others are going to have this issue.

On Mar 22, 2018 5:45 PM, "Alberto Griggio" <notifications@github.com> wrote:

[2018-03-23 09:51] Beep6581 opened #4462 "Replace dcraw with actively maintained raw decoding engine (e.g. LibRaw)"
While in the past I would occasionally communicate with Dave Coffin, author of dcraw, I have not received any replies or seen any signs of progress on dcraw for over a year. It seems the project is abandoned, and we need a plan to move forward.

Options:
* RawSpeed https://github.com/darktable-org/rawspeed
* [LibRaw](https://www.libraw.org/) https://github.com/LibRaw/LibRaw
* [libopenraw](https://

[2018-03-23 09:52] Beep6581 commented on #4059
Related to #4462

[2018-03-23 10:11] agriggio commented on #4462
Good idea. I think maybe we can adopt a two-tier approach in which we use the current code for the supported cameras, and fall back to something else for the unsupported ones. We would probably need a way to still be able to use our `camconst.json` though.

Can someone describe the main differences between rawspeed and libraw? (I know nothing about libopenraw, though from the readme it seems that

[2018-03-23 11:43] Beep6581 opened #4463 "Save As combobox change event not triggered when clicking on PNG16"
In the Save As window, click on JPG in the File Format combo, then click on PNG16. The containing frame is not updated.
[code]

[2018-03-23 11:49] Beep6581 opened #4464 "GPS and IPTC missing from TIFF files"
GPS and IPTC info is missing from both compressed and uncompressed TIFF files when using "Copy metadata unchanged". It's there in PNG and JPG files.

The ideal fix would be to adopt Exiv2 #3801

[2018-03-23 11:50] Beep6581 commented on #4464
Sample files:
https://filebin.net/4qvyfigdm0e8pedd

[2018-03-23 13:41] brussell1 opened #4465 "RawTherapee 5.4 doesn't detect images with certain dimensions"
For example, the FileBrowser doesn't show this image: https://raw.githubusercontent.com/crosire/reshade-shaders/master/Textures/lut.png
So it doesn't detect a 1024x32 image. However, If the y dimension is > 103 it works.

Same behavior on linux and windows.

Info:
Version: 5.4
Branch: releases
Commit: a5e8eb9c
Commit date: 2018-03-20
Compiler: cc 7.3.1
Processor: x86_64
System: Linux
Bit depth: 64

[2018-03-23 13:49] Beep6581 commented on #3923
Summary: due to Gtk+ not distinguishing between a mouse and a touchpad device (it always reports the device as a mouse, tested in Linux and maybe @Hombre57 tested in Windows), scrolling is limited to up/down (always present when he device is a mouse), and nothing will happen for left/right (touchpad only) even though it would make sense for horizontally-scrollable windows, due to what @xaxxon wrot

[2018-03-23 13:55] Beep6581 commented on #4465
@brussell1 that was intentional, a hotfix to prevent crashes on very unusual dimensions. Maybe we should relax it a bit. Please comment in #3794 of which this issue is a duplicate.

[2018-03-23 13:55] #4465 closed, assigned to nobody

[2018-03-23 14:00] Beep6581 commented on #3923
Ah this wasn't merged yet - reopening.

[2018-03-23 15:04] LebedevRI commented on #4462
* no releases, copylib.
* c++14 (clang-3.5+ / gcc-5+ / clang-cl; **NO** MSVC support!)
* is not a copy-paste from dcraw.
* actually readable, maintainable codebase.
* strong integration testing (see [Raw Samples Wanted](https://discuss.pixls.us/t/raw-samples-wanted/5420?u=lebedevri)), some unit tests.
* some kind of public ci setup

* releases
* uses [old version of] rawspeed internally, unless th

[2018-03-23 15:15] brussell1 commented on #3794
(I've opened the now closed ticket "RawTherapee 5.4 doesn't detect images with certain dimensions")

So the "solution" is to reject images with certain resolutions instead of fixing this bug? Really?
I hope thats not the final decision in this case...

I've been editing 3dLUTs with such resolutions like 1024x32 and it worked flawlessly until RT5.4.

[2018-03-23 15:51] agriggio commented on #3794
Did you read the comments above? Nobody wrote that this is a solution, merely a hotfix to avoid crashes. In fact, the issue is still open. Nobody had time to find a proper solution unfortunately, but we are happy to accept patches :-)

[2018-03-23 15:54] agriggio commented on #4462
Thanks @LebedevRI, I'll follow up on IRC when time permits.

[2018-03-23 17:18] TheQuo commented on #3403
Just checked with the newly released 5.4 (a big THANKS to everyone who made it possible!), but the MakerNotes are still missing in the resulting jpg, rawdata ist in dng-format.

[2018-03-23 20:21] Beep6581 commented on #3403
Confirmed.
I would close it as depending on #3801

[2018-03-23 21:04] brussell1 commented on #3794
Why not go for your first suggestion: cropping the thumbnails? Imo that would be a far more reasonable hotfix than to just drop support for certain image resolutions alltogether.

[2018-03-23 21:40] heckflosse commented on #3794
@brussell1 I just tested rt on your file (with the restriction removed, so I could open it) and got crashes while zooming in and out using the mouse wheel. So it's not only cropping the thumbnails to solve this. We have to dig a bit deeper to solve it in general.

[2018-03-23 22:27] Hombre57 commented on #3923
@Beep6581 Maybe I'm getting old :scream: but I though that the `scrolling` branch was already deleted, so I applied the patch to `dev` and committed it (in commit bf6702f ). Then realized it was still existing, so I've deleted the `scrolling` branch.

I just wanted to find a proper solution and explore the input methods and devices a bite, time mostly spent on looking for documentation... You can

[2018-03-23 22:32] heckflosse commented on #3923
@Hombre57

you're kidding ...

[2018-03-23 23:28] #3923 closed, assigned to nobody

[2018-03-24 00:19] strongheart1 opened #4466 "version 5.4 does not start - segmentation fault"
I just updated  RawTherapee on Linux Mint 18.3 Cinnamon 64-bit from package  rawtherapee:amd64 5.4-1dhor~xenial
On start I  get small window shows up for a short time (too short to read anything) and nothing happens then.
When I run from the console i get

rawtherapee

when I start rawtherapee-cli I get
 ~ $ rawtherapee-cli

The version before (5.3) worked without any problems, also the developmen

[2018-03-24 00:31] Beep6581 commented on #4466
@strongheart1
[code]
Then try running RT, does it work?
If it still segfaults, try
[code]
and paste the output here.

[2018-03-24 01:36] strongheart1 commented on #4466
It works now, after deleting the folders in  /.config/ and /.cache/
I backed up the old config files before - now I have put them back to the .config folder again - seems that the previous "options" file caused the segfault.

[2018-03-24 02:09] strongheart1 commented on #4466
There were two lines in the  'options' file that caused the crash:
The first one in the group [File Browser]:
`ParseExtensions=3fr;arw;cr2;crf;crw;dcr;dng;fff;iiq;jpg;jpeg;kdc;mef;mos;mrw;nef;nrw;orf;pef;png;raf;raw;rw2;rwl;rwz;sr2;srf;srw;tif;tiff;`
and the second line in the group [Profiles]:
`RawDefault=${G}/Default`

gdb output:

[code]

[2018-03-24 11:50] Beep6581 commented on #4466
@strongheart1 ah, most excellent that you wanted to not only fix it, but help find the culprit!

I checked now and your `ParseExtensions` and `RawDefault` work fine here.

`RawDefault=${G}/Default` should not cause a crash, we tested that it works fine. RT should auto-correct itself with the new default value.

`ParseExtensions` in itself should also not cause a crash, but maybe one of those parse

[2018-03-24 17:33] max-ra-gh commented on #4272
@Beep6581 I made a submission to "https://raw.pixls.us/?thankyou" and it said "Thank you for your submission!". I don't see the image though.

Hopefully this helps.

[2018-03-24 17:52] Beep6581 commented on #4272
@muhsim takes a few moments before a human accepts the submissions, thanks!

[2018-03-24 18:12] strongheart1 commented on #4466
here is a backtrace from the debug build:
[code]
There were indeed some PNG files in the startup path, but I got the error also with folders only containing Jpeg or Tiff files, not with (raw) CR2 files - **AND** if the `RawDefault` option points to a non-existing profile.
Thats why the following window pops up:
https://filebin.net/3dh62y1de25eo7i3
Shortly afterwards there is the segfault and the w

[2018-03-24 20:54] heckflosse opened #4467 "Skip Auto-matched tone curve if embedded thumb is very small"
That's kind of a feature request:

With the raw from [here](https://discuss.pixls.us/t/play-raw-rabbit-and-pigeon/7065) the auto matched tonecurve gives bad results because the embedded jpg is very small. Maybe we should restrict the auto matched tonecurve to a certain minimal size of the embedded preview.

@agriggio Alberto, what's your opinion?

[2018-03-24 21:15] agriggio commented on #4467
I agree :+1:

[2018-03-24 21:20] heckflosse commented on #4467
@agriggio Alberto, any suggestions for the minimal size based on your experience?

[2018-03-25 15:31] agriggio commented on #4467
if you look at the code there is some scaling down of the thumbs, though I don't remember the details right now. I'd say we should forbid upscaling, that's it

[2018-03-25 21:42] Beep6581 opened #4469 "Icon cleanup"
Branch https://github.com/Beep6581/RawTherapee/tree/iconcleanup

1. Remove all obsolete icons from `rtdata/images`
2. Redraw all SVG icons using new Inkscape 0.92 format, with consistent template, grid, metadata, etc.
3. Create SVGs for icons which don't currently have an SVG plate.
4. Revise icon tree structure.
5. Write new scripts to make generating PNGs from SVGs clean and easy (Bash4 for now,

[2018-03-26 08:39] Beep6581 opened #4470 "Demosaicing tool overcrowded in Batch Edit tab"
The Demosaicing tool is overcrowded when viewed from the Batch Edit tab. For example click on a thumb which uses AMaZE, and you see this:
![screenshot_20180326_103653](https://user-images.githubusercontent.com/5844619/37895492-b839df6e-30e1-11e8-8b00-f602507df533.png)

Would be nice if all of the PS widgets could go into a PS sub-frame.

[2018-03-26 11:39] #3850 closed, assigned to nobody

[2018-03-26 11:40] Beep6581 commented on #3850
Closing due to lack of info and follow-ups, possibly duplicate of #3450 #3544

[2018-03-26 12:28] heckflosse opened #4471 "Fix bad pixels if DNG opcode FixBadPixelsConstant == 0"
In dcraw code there is already a `zero_is_bad` flag, which, if set to 1 (true), means all raw pixels with value 0 are treated as bad pixels.
For Leica and Panasonic cameras this flag is hardcoded in dcraw code to 1 (true). For all other cameras it's always 0 (false).

Here's a patch, which checks the above mentioned DNG opcode and sets `zero_is_bad` if FixBadPixelsConstant == 0. For tests you can

[2018-03-26 15:16] agriggio opened #4472 "White level from DNG metadata is ignored"
It seems RT ignores the white level set in the DNG metadata, at least in some circumstances. This happens for example for this file:
http://rawtherapee.com/shared/test_images/kitchen.hdr.dng

This is a float DNG in which white is 1.0, however RT sets it as 4080, because that's what `camconst.json` says. I think in this case we should trust the level set in the DNG.

Here is a possible patch that f

[2018-03-26 18:40] heckflosse commented on #4472
@agriggio Alberto, maybe easier by removing some code [around here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9762)

[2018-03-26 19:21] iliasg commented on #4472
@agriggio @heckflosse
Alberto, I remember that Javier (the author of HDRMerge) who ported the floatDNG decoding in RT had detected this and adapted floatDNG decoding to RT's camconst data ..

@heckflosse Ingo, we had this same discussion about floatDNGs some years ago ;)

I had the impression that RT adapts the WL to the different bitdepths so for K10 float dngs should be 4080/4095

Ideally it's s

[2018-03-26 19:35] heckflosse commented on #4472
@iliasg

Float dng files can have whatever whitelevel the application which writes the float dng data uses. If the data is in the [0;1] range, using a white level in the 4095 range is wrong and also leads to artifacts when using amaze because a clip threshold in amaze is not correct then (@agriggio pointed out the amaze artifacts when demosaicing kitchen...hdr.dng and today I detected that they ar

[2018-03-26 19:40] Beep6581 commented on #4471
Tested using the Canon PowerShot A3100 IS raw, the patch works beautifully.
Since this feature is hard-coded, is it still possible to view the dead pixels in RT, i.e. to see the "real raw data"?

[2018-03-26 19:44] Echolon opened #4473 "Request: HTTPS for Website"
Hi,

just would like to recommend to HTTPS encrypt the website.

Without any costs: https://letsencrypt.org/

Kind regards

[2018-03-26 19:49] Beep6581 commented on #4473
Noted.

[2018-03-26 19:49] #4473 closed, assigned to nobody

[2018-03-26 19:53] iliasg commented on #4472
@heckflosse Ingo, isn't a WL adapted to 0;1 range correct ? i.e. 4080/4095 ?.

EDIT: we changed the WL to 4080 because DrSlony detected some pink highlights which were coming from inconsistent WL (sometimes it's lower than the 4095 reported by in_camera_DNGs)

[2018-03-26 20:13] heckflosse commented on #4471
No, it works the same as for Leica and Panasonic cameras, where you also can't view the "real raw data" currently.

[2018-03-26 20:15] heckflosse commented on #4472
@iliasg Ilias, I thought we changed it because DrSlony got pink highlights from hdrmerged DNGs because at that time hdrmerge had no option to set a custom WL. But I maybe wrong (too long ago)

[2018-03-26 21:57] iliasg commented on #4472
Ok .. I just remember I helped DrSlony with the camconst entry ..

@heckflosse Ingo, I remember we had agreed that we should not use camconst or adobecoeff for third party DNGs like Magic Lantern's videoDNG or floatDNGs from HDRmerge Lumariver etc because we have no reliable data about WL/BL after 3rd party processing

So .. if the current state is to use
- camconst (or adobecoeff) only for in_cam

[2018-03-26 22:30] heckflosse commented on #4472
@iliasg

That was it

[2018-03-26 22:54] heckflosse commented on #4471
@Beep6581 and other devs: Any objection to commit this fix?

[2018-03-27 00:03] heckflosse commented on #4471
@Beep6581 About the "real raw data" in case of bad pixels for files which which this patch is for, it's just zero!

[2018-03-27 06:33] agriggio commented on #4472
@heckflosse Ingo, I'm not sure about your suggestion -- I'm worried about unwanted side effects. In particular, I think we should still use our own matrices, and not rely on the embedded ones. This would be for consistency, see the other recent bug in which DNG and native raw were producing different output.
However, feel free to tweak and/or rewrite completely and/or discard my patch altogether,

[2018-03-27 09:20] Beep6581 commented on #4471
@heckflosse +1 for commit.

Being able to show the "real raw data" is one of RawTherapee's "selling points". We may want to consider adding a "Fix bad pixels while demosaicing" checkbox in the Raw tab at some point.

[2018-03-27 10:34] heckflosse commented on #4472
@agriggio I tested your patch and looked at the code. All good. :+1: to commit to get more tests.

[2018-03-27 12:02] agriggio commented on #4467
@heckflosse how about this?

[code]

[2018-03-27 12:20] heckflosse commented on #4467
@agriggio Works fine here. Thank you. :+1:

[2018-03-27 12:41] #4467 closed, assigned to nobody

[2018-03-27 12:42] agriggio commented on #4472
@heckflosse I am still not sure if there will be side effects, particularly because of this remark of @iliasg:

Do we have some native pentax DNG files to test?

[2018-03-27 12:50] Beep6581 commented on #4472
@agriggio
https://raw.pixls.us/
https://raw.pixls.us/getfile.php/593/nice/Pentax%20-%20K10D.DNG
https://raw.pixls.us/getfile.php/2239/nice/Pentax%20-%20K10D%20-%2012bit%20(3:2).PEF

[2018-03-27 13:30] #4471 closed, assigned to heckflosse

[2018-03-27 14:41] iliasg commented on #4472
@agriggio

--
Alberto, test with recent Pentax which do not have blacklevel = 0 and report variable BL & WL at DNG exif .. see what happens by disabling camconst ..
https://www.dpreview.com/reviews/image-comparison?attr18=daylight&attr13_0=pentax_kp&attr13_1=pentax_kp&attr13_2=pentax_kp&attr13_3=pentax_kp&attr15_0=raw&attr15_1=raw&attr15_2=raw&attr15_3=raw&attr16_0=819200&attr16_1=409600&attr16_2=

[2018-03-27 14:46] iliasg commented on #4471
I cannot remember exactly now .. but I think there is a Canon model (600D CR2 ??) which also needs this zeroisbad pass ..

[2018-03-27 15:08] heckflosse commented on #4471
@iliasg I checked three Canon 600D files. None of them showed black bad pixels

[2018-03-27 15:23] agriggio commented on #4472
Here's a revised patch, that (tries to) exclude Pentax DNG files

[code]

[2018-03-27 16:54] iliasg commented on #4471
Ingo I found it .. it's 650D and there are around 2500 bad pixels at each channel which have value = 1
Well .. normally the dead pixel algo will catch them ..

EDIT .. forget it .. I was wrong again .. the bad pixels of 650d are at the unused top optically black area ..
The problematic model is around there (600-700) but I cannot find which now .. Sorry for the noise :(

[2018-03-28 13:39] heckflosse opened #4475 "Input profile selection does not display hidden folders on Windows"
Here's a patch
[code]

[2018-03-28 14:08] #4475 closed, assigned to heckflosse

[2018-03-28 20:49] aferrero2707 commented on #4404
I have some news regarding the automated AppImage builds. I have modified the build scripts in order to easily package multiple branches. The Travis jobs are schedules to run daily. Each new job checks the hash of the latest commit in the target branch against the one of the most recently produced AppImage for the same branch, and the job is stopped if they coincide. This way, new packages are add

[2018-03-29 10:56] Beep6581 opened #4476 "Instant preview switch between images"
In the past, when switching from one raw file to another raw file from the same camera, the preview would stay on the first image until the second image was done loading, then it would instantly switch. This was very useful for comparing subtle changes between the images. Then, at some point probably during the 5.3-dev days, this behavior was lost. Now, when I switch from one raw file to another,

[2018-03-29 17:01] TooWaBoo commented on #4148
New update
[code]

[2018-03-29 20:06] #4438 closed, assigned to nobody

[2018-03-30 14:47] Beep6581 commented on #1474
It would be really great if the Inspector could:
- Zoom-to-fit,
- Show images zoomed-to-fit fullscreen, allowing the user to open the next/previous image and to rate or delete the current image.

[2018-03-30 15:47] Desmis opened #4478 "New Output ICC profiles - from Elle Stone"
I have slightly modified 37 ICC output profiles coming from "Elle Stone" , thanks to him

Branch : testoutputprofile

do we keep them all, or only a few, and if so, which ones?

Thank you

Jacques

[2018-03-30 16:00] Desmis commented on #4478
Yes, I am really a poor computer scientist

I delete old files, and make
git rm rtdata/iccprofiles/output/xxx.icc

then copy all new ICC files
then
git rm rtdata/iccprofiles/output/RT_*.icc

then
git commit -m " add new ICC " -a
then
git push --set-upstream origin testoutputprofile

I obtain in rtdata all new files, but when I want to compile I have an install error 1 with ACES.icc Calla stack (mo

[2018-03-30 16:11] Desmis commented on #4478
I have probably make a mistake !!
With a new clone it's work :)

[2018-03-30 20:08] agriggio commented on #1474
I was considering changing the inspector to open full screen (with optional zoom to fit) when pressing 'z' in the file browser, inspired by darktable. I wasn't planning to do rating and navigation though. any interest?

[2018-03-30 22:21] heckflosse commented on #1474
@agriggio absolutely!

[2018-03-31 11:55] TooWaBoo opened #4479 "Clipped highlights look posterized"
Images taken with my pocket cam **Nikon P330** and clipped highlights look posterized and washed out. In the past it looked fine, but with the latest version of RT it doesn't. I can't tell when this issue appeared the first time.

Link to RAW and pp3
https://filebin.net/qxlzm3k1w6g087je

![grafik](https://user-images.githubusercontent.com/13800920/38162880-d4648a48-34e9-11e8-9401-4f46fdc63c46.png)

[2018-03-31 12:57] Floessie commented on #4479
Could be related to #4457...

[2018-03-31 12:58] Beep6581 commented on #4479
Cannot reproduce in `5.4-122-g`f9396f2a
![imgur-2018_03_31-14 57 50](https://user-images.githubusercontent.com/5844619/38163407-f853905c-34f3-11e8-8356-552e73e349fb.png)

[2018-03-31 12:59] Beep6581 commented on #4479
@Floessie I thought so too, but the PP3 uses `method=blend`, and changing it to "color propagation" works well.

[2018-03-31 13:05] Floessie commented on #4479
@Beep6581 I see. :+1: Sorry for the noise.

[2018-03-31 13:55] TooWaBoo commented on #4479
I get this when changing to "color propagation"

![grafik](https://user-images.githubusercontent.com/13800920/38163907-e31d6034-34fb-11e8-8fa6-98d6092cbcb1.png)

[2018-03-31 14:00] #4463 closed, assigned to Beep6581

[2018-03-31 14:04] Beep6581 commented on #4479
@TooWaBoo can you try to eliminate unrelated tools? i.e. start from "Neutral" and find which tool causes that. I would suggest you delete or rename your options file as well, to make sure we're using the same settings.