[2019-03-13 19:33] kenogo commented on #5217
@heckflosse Thanks a lot, I was being dumb, turns out this isn't a bug. I remember having messed around with sharpening but thought I turned it off later, apparently I didn't. I'm very new to photo editing so I don't really know what I'm doing. Thanks again!

[2019-03-13 19:33] #5217 closed, assigned to nobody

[2019-03-13 19:35] heckflosse commented on #5217
@kenogo You're welcome

[2019-03-13 21:11] sguyader opened #5218 "Crashes in newlocallab when shaping/moving RT-spots"
I compiled the newlocallab branch this afternoon, and played with it. Several times it crashed, as far as I remember it was when trying to adjust the shape of the ellipse or moving the RT-spot. Of course, all the work done since the file was opened is lost.
I compiled a debug version and got one crash after awhile running in gdb. Unfortunately, gdb reports there's "No stack" so I can't provide a b

[2019-03-13 21:31] heckflosse commented on #5218
@sguyader Maybe a fallout from my merge of dev into newlocallab?

[2019-03-14 07:07] bratsk360 opened #5219 "Add support for double-fisheye raw chromatic aberration correction"
VR-cameras become more and more popular.
**Insta360 One**, **MiSphere**, **Qoocam** and other can shoot in **RAW**.
But this cams produce images with 2:1 aspect ratio **double fisheye** .
And **RawTherapee can't** fix their **chromatic aberration** right.
So I request the switcher that can **separately apply CA-correction** for left and right parts of that RAW.

[2019-03-14 08:17] Floessie commented on #5218
No matter how I try, I can't reproduce the crash.

Anyway, here's a small cleanup patch (fixes uninitialized members and Clang warnings):

[code]

[2019-03-14 08:25] Beep6581 commented on #5219
@bratsk360 please upload a sample raw file to https://raw.pixls.us/ and then let us know, in bold, when that's done.

[2019-03-14 12:56] sguyader commented on #5218
I got another crash today, this time when exporting the output (now I remember that the first crash yesterday occurred also when exporting). Could this be due to the fact that was reading the file from a USB drive? Though, I was exporting on the local hard drive.
I'll try again with the above patch applied.

[2019-03-14 13:26] Beep6581 commented on #4450
Still valid.

Same if you copied a profile which has AMTC disabled, and paste it right after opening a raw file when your default profile for raw photos uses AMTC.

When opening a file the auto-matching event seems to get queued, and applies once the prerequisite steps are completed. When applying or pasting a profile the queued auto-matching event should get removed if queued.

[2019-03-14 13:58] Floessie commented on #5218
@sguyader Sébastien, I honestly don't think my patch cures anything. A repeatable reproduction would be cool...

[2019-03-14 14:24] sguyader opened #5220 "Center new spots in preview"
Description of the current behavior: when you add a new RT-spot in the locallab build, the new spot is created at the center of the image, with a definite size. The problem is that sometimes you want to create smaller spots, while you work on a zoomed in preview, but then chances are that you will have to zoom out to see the spot and manipulate, and then zoom in again to work on your specific area

[2019-03-14 14:54] Desmis commented on #5220
@sguyader
That seems to me a good idea...
But it's a GUI problem....

@Pandagrapher
Peux-tu donner ton avis ?

jacques

[2019-03-14 14:59] sguyader commented on #5220
@Desmis je pense que ça serait particulièrement pour le "spot healing".

[2019-03-14 15:04] sguyader commented on #5218
@Floessie I know, but it's not easily reproducible here. It just crashed once more, but this time it took longer to get the crash. It doesn't seem to depend on the number of spots, the first time it occurred there were only 4 spots, and a few minutes ago it occurred while working with almost 10 spots, while I was trying to tune the contrast in CBDL on one spot.

Maybe a hint, I was using CBDL on t

[2019-03-14 15:22] Desmis commented on #5218
@sguyader
Sometimes, RT crash...when I use "locallab"
Perhaps it's a GUI problem ?
@Pandagrapher  could you have a look ?

[2019-03-14 15:30] Desmis commented on #5218
@Floessie
I will use your patch at my next commit

Thank you :)

jacques

[2019-03-14 15:56] Desmis commented on #5218
@Floessie  @sguyader
I just commit
a) add sliders chroma, gamma, slope to "Color and light" mask
b) use the patch above - thanks to @Floessie

Jacques

[2019-03-14 16:22] Desmis commented on #5218
I take this issue to ask for an opinion !

I watched the video on the masks from DxO-user (Darktable) on PIXL.US
My english is bad, but from what I have seen,this feature is almost present in locallab.

Certainly in a different form. With "Locallab" no mask to select same "color" as in the 2 examples in the video, and of course there is no clipping of objects-faces using lasso as with Darktable
Bu

[2019-03-14 16:48] sguyader commented on #5218
@Desmis Jacques, I would find it useful to have a preview of the affected areas. For example, when there are 2 colors close to each other (small deltaE) but if you only want to have the effect on the first color, it would be cool to preview the effect of adjusting scope/spot size/transition before the effect is turned on (it would be faster than having to wait for the effect to be applied, especia

[2019-03-14 16:54] Desmis commented on #5218
@sguyader
Sébastien, OK je vais regarder ce que je peux faire de simple - sans garantie

I will look what can I do from simple without warranty

But first
a) put "chroma" and "gamma" on Shadows-Highlight mask
b) smooth some procees as I just did for "Exposure"

[2019-03-14 16:55] Desmis commented on #5218
@sguyader
I tested, tested with multiple Rt-spot, move them, change, delete,..  no crash..

[2019-03-14 17:08] Desmis commented on #5218
@sguyader
j'obtiens un crash lorsque le spot disparaît du preview et que je relâche la souris. Si je ne relâche pas, tout va bien

I get a crash when the spot disappears from the preview and I release the mouse, If I do not release the mouse, everything is fine

[2019-03-14 18:00] FM33 opened #5221 "Crash on partial paste"
[code]

Steps :
Open a never edited raw file,
Set profile to neutral
Click copy button
Ctrl-click on paste button
Click OK, whether you checked any boxes or none

[RAW file sample](https://framadrop.org/r/af7HjtZ2rZ#b6OUd6pVFlaS1SAwnkHTjM/kMmWA9k8BJfp/aBW890g=)

Backtrace is too long for pasting here.
[Attached here](https://framadrop.org/r/ztlemRAbE3#Swechz+fn7j/SGOxotvEP8IUVrTPcy/Tq4koQaoyi/I=)

[2019-03-14 18:32] Pandagrapher commented on #5218
@Desmis
Tu veux dire quoi par "disparait du preview" ?

[2019-03-14 18:34] Pandagrapher commented on #5220
@Desmis
I agree: it seems to be a good idea but not trivial to implement. I add it to my todo list

Pierre

[2019-03-14 18:35] Pandagrapher commented on #5221
@Desmis
Will have a look on it this WE

[2019-03-14 22:59] paperdigits opened #5222 "Flatpak: gtkmm 3.24 fails to compile"
I'm trying to update my flatpak package to all the latest niceness, however, gtkmm 3.24 fails to compile.
Here is the log:
[flatpak-rt.log](https://github.com/Beep6581/RawTherapee/files/2968784/flatpak-rt.log)

And here is my current json manifest for flatpak:
[code]

I'm sure I've just done something silly, but I can't figure out what.

[2019-03-15 06:15] Pandagrapher commented on #4930
@Beep6581
This issue has been fixed with commit `34ea953`

[2019-03-15 06:36] afr-e opened #5223 "Links to Wang, Xu paper not working for me"
- https://rawpedia.rawtherapee.com/Retinex#Generalities
- https://rawpedia.rawtherapee.com/Retinex/fr#G.C3.A9n.C3.A9ralit.C3.A9s
- probably other translations

[2019-03-15 07:16] bratsk360 commented on #5219
I've tried to upload but it doesn't appeared in Repository.

Update:
**KanDao QooCam**
1) double-fisheye ~190°, DNG8 output from Kandao Raw+
https://raw.pixls.us/getfile.php/3023/nice/KanDao%20-%20QooCam%20-%2016bit%20(2).dng
2) stereo mode VR180
https://raw.pixls.us/getfile.php/3024/nice/KanDao%20-%20QooCam%20-%2016bit%20(2).DNG
3) sphere mode VR360
https://raw.pixls.us/getfile.php/3025/nice/KanD

[2019-03-15 07:26] Floessie commented on #5218
Same question here. I cannot reproduce the crash by simply zooming in, dragging the spot out of the preview, and releasing the mouse button.

[2019-03-15 08:03] Floessie commented on #5221
Somehow 2376a05 was lost in a later commit. So here's the fix again:

[code]

HTH,
Flössie

[2019-03-15 08:37] Desmis commented on #5221
@Floessie
I don't know why, but you are true...
Thank you
I will push this change with the next commit

jacques

[2019-03-15 09:32] Desmis commented on #5218
@sguyader  @Floessie
I found a bug in last version when using mask with "Exposure", system crash
The same code, in "Color and Light" no crash...

And before I commit modification for "mask color and light", no crsah wirh Exposure mask....
I search !!

jacques

[2019-03-15 10:19] Beep6581 commented on #4930
Great, closing as fixed in 34ea953.

[2019-03-15 10:19] #4930 closed, assigned to Desmis

[2019-03-15 10:24] Beep6581 commented on #5223
Fixed, thanks for the heads-up.

[2019-03-15 10:24] #5223 closed, assigned to nobody

[2019-03-15 10:38] Desmis commented on #5221
@Floessie @Pandagrapher
I just commit the patch...thanks to @Floessie

But, there is always a bug in my code for mask in Exposure...I search

[2019-03-15 10:43] TooWaBoo commented on #5222
On Windows gtkmm 3.24 also needs GTK 3.24.

[2019-03-15 11:59] sguyader commented on #5218
@Desmis I wasn't using mask with Exposure when I got the crash. I was using CBDL for all my spots.

[2019-03-15 12:01] Desmis commented on #5218
@sguyader  @Floessie
The bug for "exposure" mask is solved...
it was due to using of void "gamma_mask"....

Mais, j'obtiens toujours un crash dans certaines circonstances lorsqu'on déplace un Spot
Supposons une image avec 2 spot (assez petits)
1) le premier en haut à gauche de l'écran
2) le deuxième en bas à droite de l'écran
Si on zoom l'image et q'on déplace le preview pour faire disparaître  un

[2019-03-15 12:06] Desmis commented on #5218
@sguyader
Sébastien
Pour CBDL avec la nouvelle version, pas de crash....sinon celui ci-dessus....
Le crash - du à gamma mask - a été difficile à trouver. il perturbait gravement le fonctionnement

Peux-tu me confirmer le crash que j'obtiens avec mes 2 spots...
je serai absent cet après-midi
jacques

[2019-03-15 12:16] Desmis commented on #5218
@sguyader  @Floessie
I will continue tonight and tomorrow
a) add gamma and chroma for Shadows Highlight mask
b) add some "Soft radius"
c) work on "preview" for "deltaE" ("as" mask in Darktable)

[2019-03-15 12:28] Floessie commented on #5218
@Desmis Jacques, despite your instructions, I can't make it crash. Here's what I do:

1. Open landscape raw (fully visible)
2. Enable Local L\*a\*b\*
3. Place one spot in the top left corner of the image
4. Place another spot in the bottom right corner of the image
5. Zoom in a bit
6. Move the preview so that top left spot disappears to the top or left

I must be missing something. Please enlighte

[2019-03-15 12:33] Desmis commented on #5218
@Floessie
You are OK with my text.
I don't understand.. perhaps system, or computer ??

[2019-03-15 12:36] Floessie commented on #5218
Definitely. Linux is sometimes more forgiving than Windows. I'll try FreeBSD now...

[2019-03-15 12:57] Floessie commented on #5218
... no luck on FreeBSD either.

[2019-03-15 14:54] Desmis commented on #5218
@Floessie

I re-test now.... No crash :)

???

[2019-03-16 14:32] Pandagrapher commented on #5218
@Desmis @Floessie
I reproduced the crash reported by Jacques on Windows environment (branch at commit `779e429`)

Backtrace:
[code]

Pierre

[2019-03-16 17:20] Desmis commented on #5218
@Pandagrapher
I try, try again.... no crash ...
But now  what do we do with this report ... that I have trouble interpreting ?

[2019-03-16 17:44] Pandagrapher commented on #5218
@Desmis
Here the pic and .pp3 I used to get the crash: https://we.tl/t-byNJADOk0y
Only Color & Light module is activated for Locallab so problem seems to be in Lab_Local function parts dealing with Color & Light. More precisely this part of the code:
[code]

Pierre

[2019-03-16 17:47] Desmis commented on #5220
@sguyader

Cela n'a pas de rapport avec ta demande, mais comme cette issue est ouverte, j'en profite.
Je viens de pousser un changement très simple dans le principe qui permet de visualiser les changements

Dans les 3 menus "mask" j'ai ajouté une ligne "Preview selection deltaE"
En choisissant cette ligne, les couleurs sélectionnées s'affichent en jaunâtre plus ou moins prononcé.

Les sliders "col

[2019-03-16 17:58] okoncevoy commented on #5222
Same on osx

[2019-03-16 18:29] Pandagrapher commented on #5218
@Desmis
In fact, that's due to the function `mean_fab`. In there, `nbfab` is initialized at 0 and stayed at zero when spot is outside preview which leads to a division by zero (`stddv = sqrt(som / nbfab);`). Crash occurs when calculating `chromask` and trying to access a NaN index for LUTf:
[code]

I let you correct it: I don't know what behavior you want to have in that case (spot outside preview

[2019-03-16 18:34] Desmis commented on #5218
@Pandagrapher
I have the same crash with "Exposure" and curiously not with "Shadows Highlight" , which use the same algo with "mean_fab"

If the spot is comptely outside.... there is no utility to do calculation...

jacques

[2019-03-16 18:55] Desmis commented on #5218
@Pandagrapher
Je viens d'apporter une solution...
Je pousse le changement

Merci

Jacques

[2019-03-16 23:08] Hombre57 commented on #3547
@Beep6581 `hidpi-icons` has been merged

[2019-03-16 23:33] heckflosse commented on #5178
@seadra Sorry for the late answer.

What you call `Demosaicing pattern` simply is noise caused by shooting at ISO 1600. In the jpeg the camera software `cleaned` the noise. RT does not do that by default. You have to enable the `Noise reduction` tool and adjust its settings to clean the noise.

Still wondering why you raf has only one frame. I thought all fuji exr raf files have two frames.

[2019-03-17 00:18] Beep6581 commented on #3547
Fantastic @Hombre57

Dependency info for librsvg added to http://rawpedia.rawtherapee.com/Linux

Please report problems in new issues.

Closing as implemented.

[2019-03-17 00:18] #3547 closed

[2019-03-17 05:23] seadra commented on #5178
Noise reduction was one the first things I tried. It does soften those colorful patterns, but they're still visible. Camera's JPEG doesn't have such colorful patterns.

Again, I'm not sure if it's related to demosaicing pattern, but it does resemble that.

This is true only in certain modes.

[2019-03-17 09:56] Desmis commented on #5220
I commit a change for "Preview selection deltaE"
It seems to work !

I put in option (Color Management)  Previewselection=5
You can change the value between 1 to 50, to set the intensity of the color

[2019-03-17 13:01] Beep6581 commented on #5178
@seadra http://rawpedia.rawtherapee.com/Getting_Started#Edit_your_first_image

@seadra you still have not uploaded the photo(s) to RPU.

[2019-03-17 13:01] #5178 closed, assigned to nobody

[2019-03-17 14:08] okoncevoy commented on #5213
I've just tested, and in latest GIMP there is no possibility to use search in FIleChooser*, also minimal gtk3 application using only one window and file chooser dialog also crashes.  Maybe it is possible to disable it also in RawTherapee (for osx)? I still want to recompile every thing with latest gtk and gtkmm. @Beep6581

[2019-03-17 15:22] LebedevRI commented on #5204
If you have that camera, it would be great if you could contribute the full sample set to https://raw.pixls.us/

[2019-03-17 18:15] Beep6581 commented on #5213
@lvreclp @hafilax which version of GTK+ did you reproduce it in, and have you filed a bug report upstream?

Could be this, recently fixed:
https://gitlab.gnome.org/GNOME/gtk/issues/815

[2019-03-17 19:13] okoncevoy commented on #5213
I have used version, which is available from macports: Gtkmm: V3.22.3 and gtk3 3.22.30. I still want to try compile latest release, which is 3.24.x and re-compile RT with it, as it might be, that version 3.22.x is only affected by this bug.

[2019-03-17 19:42] Beep6581 commented on #5213
3.24.* are also affected by the bug I linked to. It's not clear which release the fix went into, could be 3.24.4 or even 3.24.7.

[2019-03-18 01:18] seadra commented on #5178
No idea why you linked "Edit your first image" or closed this issue.

I know, I am busy these days.

[2019-03-18 13:36] ilya-varivchenko commented on #5204
I followed these instructions
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

what additional info is needed for camera support ?

[2019-03-18 13:54] Beep6581 opened #5228 "Add support for new compressed CLUTs"
@dtschump created a new, highly efficient compression mechanism for HaldCLUTs, capable of storing all our 500 CLUTs (~500MB) in a single ~2MB file. This issue is to get support into RawTherapee.

A name or description for each CLUT could be stored in the metadata, e.g. in a JSON structure.

[2019-03-18 14:10] Beep6581 commented on #5204
@ilya-varivchenko as far as RawTherapee is concerned the set you uploaded is fine. But RPU is a separate project which several open-source programs including RawTherapee benefit from, so it would be great if you uploaded a normal photo (not a clipped white-frame) to RPU. A description of what sort of photo(s) to upload can be found on the RPU site.

[2019-03-18 14:22] LordPhoenixfr commented on #5156
my use cases should be:
- Copy/Move original raw file for backup or archive management
- Add .xmp file metadata in EXIF file (I think about .xmp file create on creativecommons website)
- Use of external tool for publishing or sharing images

PS : Sorry for my bad english.

[2019-03-18 17:45] okoncevoy commented on #1808
I have created pull request with fix: https://github.com/Beep6581/RawTherapee/pull/5229

[2019-03-18 17:46] okoncevoy commented on #5213
@Beep6581 Do you have any plan, how we will proceed with this issue? I will try to compile with latest dev on WE

[2019-03-18 19:31] Beep6581 commented on #5213
@lvreclp auto-search cannot be disabled, but one could capture and block the [`on_key_press_event`](https://developer.gnome.org/gtkmm/3.20/classGtk_1_1Widget.html#a65d0475d77084b1c123752fa9bcf704d).
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/saveasdlg.cc#L379
I tried that but didn't manage getting it to actually block the search, maybe you have more luck. Maybe the blocking should be d

[2019-03-18 21:48] Hombre57 opened #5230 "Crash when starting RT/spot-removal branch"
I did my best to merge `dev` into `spot-removal` ; it builds fine but crash when starting RT, with a clean build. [Win7/64-bit]

[code]

I added a breakpoint on exception (through Eclipse), but it didn't stopped.

I committed the patch nonetheless to get some help on this, if ever (ping @Floessie @heckflosse ?), I can't find anything valuable by googling.

[2019-03-18 22:12] Hombre57 commented on #5230
PS : If anyone can fix the initial crash, don't expect this version to work fine since I couldn't have a chance to test it.

[2019-03-18 23:29] Hombre57 commented on #5230
@Floessie @heckflosse I managed to track it down, sorry for the noise.

[2019-03-18 23:29] #5230 closed, assigned to nobody

[2019-03-19 10:21] Beep6581 opened #5232 "Failure to compile spot-removal-tool"
Hey @Hombre57

This is using `5.5-249-g`030ea83af
Using cairomm-1.12.0, GCC-7.3.0.

[code]

[2019-03-19 10:36] Hombre57 commented on #5232
I had the same problem and it will be solved when my last PR will me merged back into `spot-removal-tool` branch.

[2019-03-19 10:53] Floessie commented on #5232
But even if I merge in `main-cli-includes` there's still the problem, that `Cairo::ImageSurface` and `RTSurface` are unrelated as far as I can tell...

[2019-03-19 11:18] Desmis commented on #5232
I had the same problem when I wanted to update "newlocallab"

[2019-03-19 11:23] Beep6581 opened #5233 "rawtherapee-cli --help is unhelpful"
Standard behavior is for help text to be printed when nothing is specified or when one of these are specified:
`rawtherapee-cli` == `rawtherapee-cli --help` == `rawtherapee-cli -h` == `rawtherapee-cli /?`
or when nothing handled otherwise is specified.

Currently, only `-h` and `-?` (the latter is not standard in Linux, I guess it's supposed to handle `/?` in Windows) prints the help text.

`--hel

[2019-03-19 12:27] heckflosse commented on #5233
@Beep6581 Works fine her. Even `rawtherapee-cli --beep6581` prints the help.

[2019-03-19 12:36] Beep6581 commented on #5233
[code]
`5.5-238-g`209cc16e0

[2019-03-19 12:41] Floessie commented on #5233
Look [here](https://github.com/Beep6581/RawTherapee/blame/dev/rtgui/main-cli.cc#L284)...

[2019-03-19 12:53] heckflosse commented on #5233
I confirm the bug on Linux. On Windows it works fine here.

[2019-03-19 12:57] Floessie commented on #5233
@heckflosse Hmm, has this something to do with `ECLIPSE_ARGS`?

[2019-03-19 13:03] Beep6581 commented on #5233
IMO `h` and `?` shouldn't explicitly be there. RT should print the help text whenever anything unhandled is written.

[2019-03-19 13:04] heckflosse commented on #5233
https://github.com/Beep6581/RawTherapee/blame/209cc16e0dbb2fad7f3e12e0c836c3c4bd1b6a5b/rtgui/main-cli.cc#L284

[2019-03-19 13:05] heckflosse commented on #5233
Arghh, on Windows I wasnt on dev branch. That's why it worked there.

[2019-03-19 13:08] Floessie commented on #5233
... and you just posted the same link like I did 20 minutes earlier. :stuck_out_tongue:

[2019-03-19 13:17] heckflosse commented on #5233
Damn, didn't see it :(

[2019-03-19 13:31] Floessie commented on #5233
Seems like there is a [better way](https://stackoverflow.com/a/13866274) of dealing with the command line.

[2019-03-19 14:24] Hombre57 commented on #5232
@Floessie @Beep6581 I know, it's still WIP. I'll hopefully solve the build problems tonight, but I still have to update `improccoordinator.cc` to make it work.

@Desmis RTSurface is a new class added in the HiDPI branch. It contains a public `Cairo::RefPtr<Cairo::ImageSurface> surface` parameter that you can use.

[2019-03-19 14:41] Floessie commented on #5232
@Hombre57

A public member variable makes it hard to change things locally later (e.g. adding a debug message whenever it is accessed) and breaks data encapsulation. If it's not too late, maybe add a simple `const Cairo::RefPtr<Cairo::ImageSurface>& RTSurface::get() const` (but not inline) and make `surface` private. That will help debugging and refactoring.

Best,
Flössie

[2019-03-19 19:46] Hombre57 commented on #5232
@Floessie Done, committed to Dev. Thanks for this hint :+1:

Now back to fix the build crash...

[2019-03-19 21:29] Hombre57 commented on #5232
Build crash fixed. Patch committed to close this issue, however RT still crash when using this tool. (WIP)

[2019-03-19 21:29] #5232 closed, assigned to Hombre57

[2019-03-19 23:01] sguyader commented on #5228
That would be nice. I have a question though: if we want to add our own HaldCLUT, how will it be added to the compressed storage file? Would the added feature in RT do this?

[2019-03-20 00:21] heckflosse commented on #5228
Though I personally don't mind wasting 0.5 GB of disk storage for the LaldCLUTs, getting them by a 2 MB download clearly is better in case the result of applying them is on par with the uncompressed ones. As soon as @dtschump points us to the decompressing code I will have a look.

[2019-03-20 04:25] CharlesRT2 opened #5234 "Panasonic Lumix S1 correction of blown highlights produces nasty pink"
I downloaded the raw file from this page
https://www.dpreview.com/sample-galleries/9191191786/panasonic-lumix-s1-sample-gallery/6514852574

When I correct for the blown highlights, the blown areas - in their entirety, not partial subregions - turn a nasty pink, instead of a dull gray for example. It happens whether I reduce exposure, use Highlight Compression, or apply Dynamic Range Compression.

[2019-03-20 07:03] agriggio commented on #5228
this could be very interesting if applicable to luts inside dcp profiles IMHO. reducing their size would have a positive impact on the size of the official RT packages in the long run

[2019-03-20 07:04] Floessie commented on #5228
I'd say the content of the classical HaldCLUT folder takes precedence over the supplied compressed ones and overrides those with the same names and otherwise adds to the selection structure. So there would be no need to add compressed CLUTs for the user (or us), as compressing CLUTs is computationally intensive.

[2019-03-20 08:06] dtschump commented on #5228
I'll try to clean the c++ code today, using the .png and .txt files I've just sent on Pixls.us.
Will let you know when it is ready.

[2019-03-20 09:07] Beep6581 commented on #5228
@Floessie perhaps you would like to elaborate what you mean by "computationally intensive"? :smile:

[2019-03-20 09:13] dtschump commented on #5228
@Floessie is right actually, compression the 552 CLUTs in G'MIC took something like 3.5 days of computation on 4 different computers, with at least 30 CPUs each.
In any case, if you want to add new CLUTs to RT in the future, the compression algorithm can be run directly from G'MIC (command `compress_clut`).

[2019-03-20 09:24] Floessie commented on #5228
Thanks David. That's what I was alluding to...

[2019-03-20 09:29] TooWaBoo commented on #5234
Downloaded the RAW from the link above and I got this with latest dev. 🤔

![grafik](https://user-images.githubusercontent.com/13800920/54673597-dce84600-4afa-11e9-9823-870288246185.png)

[2019-03-20 09:36] Beep6581 commented on #5234
Confirmed in `5.5-243-g`d059caa7d as well as in 5.5
![screenshot_20190320_103537](https://user-images.githubusercontent.com/5844619/54674071-f342d180-4afb-11e9-81e3-a0cb68fd5933.png)

So I wonder which program @CharlesRT2 was using? :)

[2019-03-20 10:31] agriggio commented on #5234
I suspect an intermediate dng conversion (looking at the pp3 name)

[2019-03-20 10:36] Floessie commented on #5232
@Hombre57 Would you mind if I streamline `RTSurface` a bit? My proposal wasn't completely const-correct and parameter passing in that class isn't optimal. While poking around with the header I found out that a change results in a recompilation of most of `rtengine` (which wasn't expected). It's because of the `rtgui/edit.h` inclusion in `rtengine/pipettebuffer.h` which can be omitted.

Shall I sta

[2019-03-20 11:49] Beep6581 commented on #5234
And the latest Adobe DNG Converter 11.1 does not support those raw files yet.

[2019-03-20 12:09] Beep6581 commented on #5232
Compilation fix confirmed.

[2019-03-20 12:20] Beep6581 opened #5235 "File Browser filename tooltips no longer shown"
Filename tooltips mostly no longer work when hovering over thumbnails in the File Browser, neither in dev head nor in 5.5. Out of over 50 attempts, a tooltip appeared only about 5 times, and not reproducibly.

Tested in Linux using gtk+-3.24.1. Maybe a GTK+ issue?

[2019-03-20 12:41] Floessie commented on #5235
Debian 10, GTK 3.24.5: Tooltips appear reliably, but if a tooltip appears it will stay in that position even when you hover over another image. The text is updated, though.

[2019-03-20 12:54] Floessie commented on #5235
Same setup. 5.3, 5.4: No thumbnails at all. 5.5: Same as `dev`.

[2019-03-20 13:10] dtschump commented on #5228
I've set up a GIT repository with the C++ source code for CLUT decompression, as well as the CLUT data.
You can get it here: https://framagit.org/dtschump/libclut

Let me know if you need more information or if you have issues with this code.

[2019-03-20 13:24] heckflosse commented on #5235
On Win7/64: As @Floessie wrote in his first comment.

[2019-03-20 15:11] Floessie commented on #5235
Debian 9, GTK 3.22.11: Same as on Debian 10.

[2019-03-20 15:38] Hombre57 commented on #5232
@Floessie I'll wait for your commit, no problem. Then I'll split `edit.h` in 2 or 3 includes to avoid rebuilding everything once I touche this header file, then I'll continue with fixing this tool.

I'm not comfortable AT ALL with the `const`, `explicite` stuff (or technique you posted recently), so don't hesitate to post a patch in the issue or contact me if you want to push a commit directly in

[2019-03-20 15:40] Hombre57 commented on #5232
@Floessie

PS: If your change is valid for dev too, maybe it would be better to commit it there, I'll merge it back (we don't know when `spot-removal-tool` will be merged... :roll_eyes: ).

[2019-03-20 15:44] CharlesRT2 commented on #5234
There is a public beta version of Adobe DNG Converter that supports conversion of the Panasonic S1 .rw2 files to .dng. I used that and opened the .dng in RT.

But as I mentioned, the problem occurs on other cameras.
![pinkscreenshot](https://user-images.githubusercontent.com/16884929/54703800-baecc480-4af6-11e9-85d3-680d2d97819b.jpg)
Here is the raw file from another camera, which uses .dng as its

[2019-03-20 17:20] TooWaBoo commented on #5234
@CharlesRT2
Check `Highlight recontruction` and the pink cast should be gone.

[2019-03-20 17:37] CharlesRT2 commented on #5234
Thank you, that's my user error. I will say, I had tried the new Dynamic Range Compression, and for this feeble user, the dialog is too far down from the Highlight Reconstruction checkbox.

[2019-03-20 17:37] #5234 closed, assigned to nobody

[2019-03-20 19:24] Floessie commented on #5232
@Hombre57 Yes, I'll branch off from `dev`. No need to wait for my branch. It won't be merged to `dev` before the 5.6 release, so I'm in no hurry. :slightly_smiling_face: Thanks for your work with the GUI! `spot-removal-tool` will be great!

[2019-03-20 22:59] heckflosse commented on #5228
@dtschump David, I will study the decompression code and try to make it even faster ;-)

[2019-03-21 17:45] okoncevoy commented on #5235
Same on OSX
[code]

[2019-03-21 19:18] okoncevoy opened #5238 "Moving towards modern c++"
Looking through RT code, I often see mixins from modern c++ (closures, constexpr, auto, etc), but also there are many parts, that are written in old style. Can I start moving some parts to more modern approach? Will this be acceptable?

[2019-03-21 20:38] Floessie commented on #5232
@Hombre57 I've started a new branch called [`rtsurface-cleanup`](https://github.com/Beep6581/RawTherapee/tree/rtsurface-cleanup). While working on it I think I've found a bug in [`RTSurface::updateImages()`](https://github.com/Beep6581/RawTherapee/blob/d059caa7de9b923feb5a2e00c62970d519420442/rtgui/rtsurface.cc#L120): Shouldn't that be `auto&` so that the entry gets updated? If so, please fix this

[2019-03-21 20:47] Hombre57 commented on #5232
@Floessie Well :sweat_smile: , I didn't managed to get the auto-updated feature to work at all, thanks for having found the solution :1st_place_medal: . I'll test that (but I guess you already did) and commit.

[2019-03-21 23:04] heckflosse commented on #5238
Of course that will be acceptable after review. :+1:

[2019-03-22 06:59] Floessie commented on #5232
@Hombre57

I hope this is really the fix. If you tell me how this function is most easily triggered I can test under Linux...

[2019-03-22 13:06] Benitoite commented on #5238
Are you talking c++14?  I'm using AppleClang 10, which is mostly compatible with '14.

[2019-03-22 15:48] sguyader opened #5241 "Adding clarity filter from waveletnew branch into dev"
I tried the clarity filter (and also the unsharp mask) from waveletnew, but I don't know whether this branch will ever get merged into dev.
This issue is to request for merging part of it (clarity/unsharp mask) into dev, if possible.
Results of the use of the clarity are very nice, as I try to show here: https://discuss.pixls.us/t/trying-to-emulate-adobes-clarity-in-rawtherapee/11844

[2019-03-22 17:30] okoncevoy commented on #5238
I would be nice, if we can start using c++14. I have clan 7.0.1 which also supports 14 standard. But I where talking not only about compiler support, or just enabling flag for compilation. But about refactoring of already written code. This can decrease amount of code, increase maintainability and might be event performance at some places.

[2019-03-22 17:43] Desmis commented on #5241
@sguyader
I just commit a new branch "wavelenh".

Thank you for your comparison work :)

Wavelenh = wavelet original + "clarity - sharp mask" (from waveletnew) + soft radius

Easy to produce "wavelenh", the most work is for GUI....

I add 2 sliders  to soft result for wavelet:
1) Soft radius to down "relief - prespective effects", in Clarity...
2) another Soft radius, in Final Touchup, with the sa

[2019-03-23 07:45] ilya-varivchenko commented on #5204
This is ColorChecker shot in daylight
https://filebin.net/ubdjzh2f3pzrkx6u/P1032889.RW2?t=l5yibq26

[2019-03-23 15:22] sguyader commented on #5241
@Desmis
I tried the "wavelenh" branch, overall it seems to work fine. There's a very slight difference, all settings equal, to what we can get from the "waveletnew" branch, but it's minimal.
Two things that look strange to me in "clarity":
1. When the TP_WAVELET_SOFTRAD slider is increased from 0.0 to 0.1, there's a huge difference
2. When I check the TP_WAVELET_SHOWMASK box, it turns the "clarity

[2019-03-23 16:06] Desmis commented on #5241
@sguyader
for 1. it is "normal", I can try to minimize, but if the function Guidefilter is actived, its has always an action.

for 2. in wavelet the mask are not as in "unsharp mask"
This mask are the image of the wavelet with the settings "predifined" by "Clarity" - in this cases this correspond to level > 7 (except if you change) and residual image
for sharp mask, it is the same things "black ba

[2019-03-23 16:36] sguyader commented on #5241
@Desmis ok I understand. So everything seems running fine for clarity. I haven't tried the unsharp mask yet.

[2019-03-23 16:42] Desmis commented on #5241
@sguyader

In fact it is not an "unshap mask", but a "sharp mask"...
I combined 2 wavelet decomposition, with different coefficient (different for Clarity and Sharp mask)

[2019-03-23 16:50] sguyader commented on #5241
Jacques, yes sorry it's bad habit, I'll be be more careful with my vocabulary 😉

[2019-03-23 17:10] Desmis commented on #5241
Sébastien, no problem at all :)

I just change sensitivity for "Soft radius"...with a new commit
Say me if it's better

Thank you

[2019-03-23 22:52] Beep6581 commented on #5204
@ilya-varivchenko  do you/could you also shoot the target in incandescent light? http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target

[2019-03-23 23:24] mandree commented on #3636
I've backported the fix from 51f06dfa to the FreeBSD port as of 5.5_1, [ports r496692](https://svnweb.freebsd.org/ports?view=revision&revision=496692) to be precise. This should propagate to FreeBSD pre-built packages over the next two weeks.

[2019-03-24 09:04] Floessie commented on #3636
@mandree We are about to release 5.6. If there's anything else you need upstream let us know.

[2019-03-24 10:10] Benitoite commented on #5238
That is great to hear.  One issue I ran into on mac with '14 code in Filmulator was that Appleclang10 did not have `std::make_unique` but there was an equivalent workaround found that compiled.
https://github.com/CarVac/filmulator-gui/commit/ee5505c99cfbe24ffd0d85f7ec54f07a491288a1

[2019-03-24 13:11] Desmis commented on #5241
@sguyader
Another changes  for Soft radius, and Label "show mask", in last commit

jacques

[2019-03-24 13:12] mandree commented on #3636
@Floessie - FreeBSD will semi-freeze its stable packages quarterly, so if 5.6 were to be released out until, say, Thursday morning, we might make the 2019Q2 2nd quarter branch for FreeBSD packages.

For FreeBSD, be sure that you also clear() out the pixbufCache if 5.6 will still be using it after the `hidpi-icons merge:
* https://svnweb.freebsd.org/ports/head/graphics/rawtherapee/files/patch-prope

[2019-03-24 17:20] Beep6581 commented on #3636
Ping @Hombre57

[2019-03-24 19:45] Hombre57 commented on #3636
@Beep6581 @mandree I've added a `RTImage::cleanup` static function in `m-bugfix` branch. I can't say/fix the OpenMP and cmakelist bug, but maybe @heckflosse or @Floessie can ?

[2019-03-24 20:03] #1808 closed

[2019-03-24 21:00] Beep6581 commented on #5212
@xendez this makes the strings very long, too long to fit into a narrow History column. One solution, which the `default` file may adopt at some point, is to split the string with a newline `\n` between the parent tool's name and the widget's name, as the Deutsch translation currently does.

[2019-03-24 21:12] #5210 closed, assigned to Beep6581

[2019-03-24 21:12] #5212 closed, assigned to Beep6581

[2019-03-25 00:50] Beep6581 opened #5243 "Widgets should use custom language"
Widgets such as `Gtk::ColorButton` (Preferences > General > Appearance > Crop mask color) and `Gtk::FontButton` (Preferences > General > Appearance > Main font) currently always use the system language as set by the locale, even when RawTherapee is set to use a custom language. The reason for this, according to GTK+ devs, is that RawTherapee should read the language from the `options` file and per

[2019-03-25 00:51] Beep6581 commented on #5211
Thank you for the detailed list @xendez
I fixed what could be fixed.

Preferences > General > Appearance > Navigator guide color > click on the color box --> text on dialog to choose the color is not translated: "Pick a color", "Custom", "Select" button and "Cancel" button.

These use the language set by the system locale. See #5243

[2019-03-25 00:56] Beep6581 commented on #4135
Ping @heckflosse @Kildor

[2019-03-25 00:58] #5211 closed, assigned to Beep6581

[2019-03-25 09:17] Beep6581 opened #5245 "Queue frames broken"
The frames in the Queue tab have missing sides:
![screenshot_20190325_100605](https://user-images.githubusercontent.com/5844619/54907964-16e48e00-4ee7-11e9-98e4-f9425cf12ed1.png)

[2019-03-25 09:46] Beep6581 commented on #5245
Ping @TooWaBoo @Hombre57
Candidate fix:
[code]

[2019-03-25 09:57] Floessie commented on #5243
@Beep6581 I remember we had problems with `setlocale()` in #4319...

[2019-03-25 10:10] Floessie commented on #3636
As for the CMake condition: We could use [`CMAKE_CXX_COMPILER_ID`](https://cmake.org/cmake/help/v2.8.10/cmake.html#variable:CMAKE_LANG_COMPILER_ID) (since 2.8.10) or [`CMAKE_COMPILER_IS_GNUCC`](https://cmake.org/pipermail/cmake/2013-October/056081.html) (since 2.8.2) instead of `NOT APPLE`. Ideas welcome.

[2019-03-25 10:23] mandree commented on #3636
Ah, thanks. Will look at the m-bugfix branch.

The libatomic thingy is not a showstopper though - I can nuke those three lines in the pre-configure stage and move on. Just thought I'd mention it since not All The World Uses GCC™ any more.
I don't currently know what the _real_ cause for requiring -latomic is - this should be checked from features and compile-and-link tests, because there seems to

[2019-03-25 10:31] Floessie commented on #3636
@Hombre57 `m-bugfix` works well on FreeBSD 12.

@mandree I saw you use GCC for i386 in the commit message. This is also [crucial](https://github.com/Beep6581/RawTherapee/pull/4324#issuecomment-365607205) for non-SSE2 i386 builds.

I'm doing Clang builds on Linux and haven't run into this issue.

Supporting atomic loads/stores which are not covered by intrinsics. Say you have a 32b arch and the cod

[2019-03-25 11:16] mandree commented on #3636
Right, but I don't fully oversee the repercussions on the various FreeBSD architectures and toolchains.

* LLVM appears to use compiler-rt: https://clang.llvm.org/docs/Toolchain.html#atomics-library but grepping objdump -t or nm -s of libcompiler_rt.a for atomic comes up empty on 11.2 i386 for instance.
* -Wl,--as-needed (where supported) to avoid pulling in unneeded library dependencies: https://

[2019-03-25 12:53] sguyader commented on #5241
@Desmis
Jacques I tested the last commit. Everything works and looks fine.
Though, I find the effect of "Soft radius" very subtle, it's not easy to really see what it does. I end up leaving it at 0.
Also, I don't really understand how to use the "Show wavelet mask" feature. How can I interpret what it shows?

In French for Jacques (to make it clearer):
Jacques, tout semble bien fonctionner.
Par co

[2019-03-25 13:22] Desmis commented on #5241
En fait cela montre la decomposition en ondelette qui sera «assemblée» avec
l'image originale.
Soft radius comme son nom l'indique reduit les differences les plus
marquées entre l'image originale et l'image modifiée. C'est affaire de
goût, moi j'aime bien des valeurs faibles 2 à 5.
Jacques

Le lun. 25 mars 2019 13:53, Sébastien Guyader <notifications@github.com> a
écrit :

[2019-03-25 13:42] Desmis commented on #5241
Pour aller plus loin. Lorsque «show» est activé. Va dans Settings et change
le level ( 7 par défaut). Bien sûr il faut que la taille de l'image dans le
preview le permet.. Essaye avec 5 ou 6 - ou avec 8 ou 9 (si possible)
Soft radius est utile si on utilise des levels élevés et des coefficient
merge élevés.
Jacqued

Le lun. 25 mars 2019 14:22, jacques Desmis <jdesmis@gmail.com> a écrit :

[2019-03-25 16:24] Desmis commented on #5241
@sguyader
Je ne sais pas si c'est la bonne appellation "Show wavelet mask". Si on utilise "sharp mask" cela ressemble un peu à un masque.
Par contre si on utilise Clarity, on a une image plus ou moins floue.

Il faut comprendre et imaginer l'image en 3 dimensions, alors que nos habitudes sont à 2 dimensions (longueur - largeur - taille des pixels).
Avec les ondelettes on décompose l'image comme un

[2019-03-25 18:04] TooWaBoo commented on #5245
@Beep6581
Change `line 1012` in `RawTherapee-GTK3-20_.css` from:
[code]
to:
[code]

[2019-03-25 19:24] Beep6581 commented on #5245
Thank you @TooWaBoo

[2019-03-25 19:24] #5245 closed, assigned to nobody

[2019-03-25 22:08] heckflosse opened #5246 "Another newlocallab speedups round"
I'm working on further speedups for newlocallab.

@Desmis Jacques, can you please post the processing time of [this raw](https://raw.pixls.us/getfile.php/1840/nice/Nikon%20-%20D850%20-%2014bit%20compressed%20(Lossless)%20(3:2).NEF)

using the attached pp3 in queue?

Ingo

[Nikon - D850 - 14bit compressed (Lossless) (3_2).NEF.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3005700/Nikon.-.D8

[2019-03-25 22:28] heckflosse commented on #5246
@Desmis My measures (median of 7) on my 8 core AMD:

transit_shapedetect: 5820 ms
Lab_Local (includes transit_shapedetect): 10615 ms

[2019-03-25 22:43] heckflosse commented on #5246
With new opts (which I will post tomorrow) I get the following:

transit_shapedetect: 2660 ms
Lab_Local (includes transit_shapedetect): 6100 ms

[2019-03-25 23:19] heckflosse commented on #5246
@Desmis In case you want to try before I create a pr, here's the patch:

[code]

[2019-03-25 23:50] sguyader opened #5247 "Make the RTspots more discreet in newlocallab"
Currently, when you have multiple RTspots at the same time, they tend to clutter the preview. Of course, you can toggle their visibility off, using the button at the top of the too panel. But often you need to tweak the effect, so you have to scroll down to the corresponding effect, then you need to change the the size or position of the spot, so you have to scroll up to toggle the visibility on a

[2019-03-26 06:00] Desmis commented on #5246
@heckflosse
On this morning, I discovered your patch...and I test, with NEF and pp3

Before patch
transit_shapedetect: 3200 ms
Lab_Local (includes transit_shapedetect): 6300 ms

After patch
transit_shapedetect: 2150 ms
Lab_Local (includes transit_shapedetect): 4600 ms
About 33% speedup

No differences on TIFF

very good work:)

jacques

[2019-03-26 06:10] Pandagrapher commented on #5247
@sguyader
I was currently working on it for my next update to try to remove some inconvenient such as how diffficult it can be to resize a rectangle RTspot, etc.
Pierre

[2019-03-26 06:29] Desmis commented on #5247
@sguyader @Pandagrapher
It would be a very nice enhancement

jacques

[2019-03-26 06:48] Desmis commented on #5241
@sguyader
Pour continuer l'explication
Si on divise "merge Luma" et "merge chroma" pat 100, on obtient une valeur comprise entre -0.5 et 1.0
merge luma = mL
merge chroma = mC

Si j'appelle
orig ==> image original non traitée wavelet
origwav ==> image original traitée wavelet
mask ==>  partie de l'image traitée wavelet
origfinal ==> image traitée finale avec traitement wavelet + "Sharp mask and cla

[2019-03-26 07:57] Desmis commented on #5247
@Pandagrapher

Now we have a "new" interface - thanks to @Hombre57  - to manipulate the spots

As you are working on visibility of spot, there is always "spots" that disappear, in some cases
- click right on the mouse
- add lockable color picker
- etc.

To see again "spots", just trigger an event (for example "Exposure main menu", then click on the "hand" in preview)
A work around possible, is to

[2019-03-26 11:05] gaaned92 commented on #5230
@Hombre57
New crash when starting

[code]

[code]

[2019-03-26 11:58] Pandagrapher commented on #5247
@Desmis
Will try to adress this issue too
Pierre

[2019-03-26 12:29] Floessie commented on #5230
@Hombre57 @gaaned92 Here's a fix:

[code]

@Hombre57 It's this branch that has the DOS line endings.

[2019-03-26 12:58] Beep6581 commented on #5230
@Hombre57 @Desmis you might want to set
[code]
https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_formatting_and_whitespace

We should set this across the whole repository at some point.

[2019-03-26 17:35] heckflosse commented on #5246
@Desmis Jacques, I created 'newlocallab-speedup2' branch which includes further improvements and cleanups.

Processing time now is:
transit_shapedetect: 2530 ms
Lab_Local (includes transit_shapedetect): 5350 ms

[2019-03-26 18:03] okoncevoy commented on #5213
@Beep6581 This code fixes crash in the Save as dialog, by catching all key press events on the Gtk::FileChooserWidget. Can you test this?
[code]
In next few days, I will update other parts of the code.

[2019-03-26 18:29] Desmis commented on #5246
@heckflosse
Ingo
OK, I compile and test
transit_shapedetect: 2080 ms
Lab_Local (includes transit_shapedetect): 4500 ms

[2019-03-26 18:33] heckflosse commented on #5246
@Desmis Jacques, can you also please test before/after and check for differences using this pp3?
[test.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3009697/test.pp3.txt)

[2019-03-26 18:49] Desmis commented on #5246
@heckflosse
I test with "test.pp3"
same difference in speed-up between whithout patch and with patch... about 35%

No differences in TIFF, with layers

it's fun to see milestone appear and disappear

jacques

[2019-03-26 18:59] heckflosse commented on #5246
@Desmis Jacques, setting the milestone was by accident. It will take me a lot of work to cleanup and speedup the stuff. But I'm working hard on it :)

[2019-03-26 19:02] heckflosse commented on #5246
@Desmis Jacques, one of the harder parts will be to make serious speedups for the case you zoom 100% into an image which has a large locallab spot. This is really slow because currently the size of the spot determines the workload in this case, not the size of the viewing area.

Edit: For example panning in preview at 100% with the `test.pp3` needs 2 seconds for each pan.

Edit2: For the same reas

[2019-03-26 20:32] Beep6581 commented on #5213
@lvreclp I can confirm that your patch blocks the event successfully in Linux (without the `#ifdef`s).
I don't access to any macOS, but hopefully @Benitoite can help test in macOS.

Now the question is what to do with this. As we don't know for sure which versions of GTK+ are affected, or which version of GTK+ it's fixed in, we could either merge it permanently, or we could just make the 5.6 macOS

[2019-03-26 21:14] Hombre57 commented on #5230
@Floessie Thanks for the fix, it's committed (and forgot the credit :disappointed: )

For the line endings, I overlooked that Eclipse used Windows line endings for new files. It's solved now, I configured Eclipse to use Unix line endings for new files. Files committed.

[2019-03-26 21:26] Hombre57 commented on #5230
@Floessie @Beep6581 Damned ! In fact I should have committed the line endings to `dev`. It's done now. Sorry for this mess.

[2019-03-26 21:53] Beep6581 commented on #5230
You shouldn't need to worry about line endings when git is set up to take care of that, but as I wrote, this is something we should do on the repo and not leave it up to every contributor. I'll leave that for after 5.6.

[2019-03-26 21:54] Beep6581 opened #5248 "Handle line endings repo-wide in gitattributes"

[2019-03-26 21:56] Hombre57 commented on #5230
@Floessie I also committed your patch to dev. OPIcons are not used there, but I don't know if @Pandagrapher use them. Anyway, it shouldn't harm to fix a bug.

[2019-03-26 22:21] mattiaverga opened #5249 "RT crashes with HistogramMatching=true and ARW file"
A Fedora user reported a crash on opening an ARW image. I could reproduce it and I discovered that this is due to `HistogramMatching=true` in the `[Exposure]` section, by setting it to false I can open the file without getting the crash.

The original ARW file and backtrace of the crash are on https://bugzilla.redhat.com/show_bug.cgi?id=1692572

[2019-03-26 23:07] heckflosse commented on #5249
Opening the file with HistogramMatching=true works fine on current dev branch on Win7

[2019-03-26 23:21] heckflosse commented on #5249
@mattiaverga What RT version was that? I don't see that from the link you provided, which makes it hard to reproduce and also wastes dev time......

Edit: rawtherapee-5.5-1.fc29 is not a version number used by us...

[2019-03-27 06:46] mattiaverga commented on #5249
@heckflosse sorry, I forgot to write that, it's RT 5.5 from http://rawtherapee.com/shared/source/ with only the e491c42 patch applied.

At first I couldn't reproduce the crash, I had to delete my ~/.config/Rawtherapee folder to let RT resetting to its defaults and I also deleted the .pp3 file to let RT recreate it following its defaults. I'll attach it here.
[DSC09189.ARW.pp3.zip](https://github.c

[2019-03-27 07:12] Floessie commented on #5230
@Hombre57

De rien. :smiley:

[2019-03-27 07:12] Floessie commented on #5249
I'm trying the reproduce...

[2019-03-27 07:31] Floessie commented on #5249
@mattiaverga @heckflosse I can't reproduce it with stock 5.5 on Debian (Fedora seems to utilize hardening flags), but I can get an abort if I replace `mapping[...]` with `mapping.at(...)`. Digging deeper...

[2019-03-27 07:55] bratsk360 commented on #5219
For  **Xiaomi Mi Sphere 4K** just uploaded too.

[2019-03-27 07:56] Beep6581 commented on #5249
Could not reproduce in 5.5 nor in `5.5-263-g`90e1480b7 in Sabayon (GCC7.3.0, deleted config and cache).

[2019-03-27 08:02] Floessie commented on #5249
Here's a fix for `dev`:

[code]

Preparing a full cleanup patch...

[2019-03-27 09:07] Floessie commented on #5249
Here's the cleanup patch for `mappingToCurve()`:

[code]

@heckflosse Please give this a full review. I changed the indices to `std::size_t` and hope I didn't screw it. Some further observations:

- There is a potential bug [here](https://github.com/Beep6581/RawTherapee/blob/390594f39ef3e1fd75c737df5dae69dead8dae9e/rtengine/histmatching.cc#L182) which I tried to fix by using `ssize_t`.
- We could

[2019-03-27 09:11] beatrubi commented on #5205
Closing issue since I'm the only one having it.

[2019-03-27 09:11] #5205 closed, assigned to nobody

[2019-03-27 10:20] #4135 closed, assigned to Beep6581

[2019-03-27 13:47] heckflosse commented on #5246
@Desmis Jacques, to show you what's possible here's a mockup. The patch is for newlocallab-speedup2 branch. Currently it works only for the vibrance tool in locallab. Using other tools it will crash because I made the changes only for the vibrance tool.
To test: Open the NEF from above and apply the pp3 attached to this post. Then open a detail window.

Lab_Local processing time before: ~1000 ms
L

[2019-03-27 16:01] Desmis commented on #5246
@heckflosse
How do you apply this patch ?
With which command git ?

I do
git apply in.patch

I build in.patch by copying the patch in my editor : notepad++

And I have this message
$ git apply in.patch
error: le patch a échoué : rtengine/iplocallab.cc:3566
error: rtengine/iplocallab.cc : le patch ne s'applique pas

[2019-03-27 16:09] heckflosse commented on #5246
@Desmis Jacques, try this one on clean newlocallab-speedup2 branch
[locallab.patch.txt](https://github.com/Beep6581/RawTherapee/files/3014198/locallab.patch.txt)

git apply locallab.patch.txt

[2019-03-27 16:12] heckflosse commented on #5246
@Desmis Jacques, this one is even better as its now also optimized for full processing.
[locallab2.patch.txt](https://github.com/Beep6581/RawTherapee/files/3014216/locallab2.patch.txt)

[2019-03-27 16:16] heckflosse commented on #5246
@Desmis last one has a bug...

[2019-03-27 16:20] heckflosse commented on #5246
@Desmis Bug fixed
[locallab3.patch.txt](https://github.com/Beep6581/RawTherapee/files/3014248/locallab3.patch.txt)

[2019-03-27 16:24] Desmis commented on #5246
@heckflosse
Thank you
I am compiling

[2019-03-27 16:30] Desmis commented on #5246
@heckflosse
I compile, run fine
I clean cache
I load  "Nikon- D850 - 14 bit ......NEF
I load pp3 file "locallab_vibrance_mockup.pp3"

If I look to the result in spped-up
Time for locallalb about 20ms
transit_shapedetect 10 ms

I see small changes in image  (when I apply or not "vibrance")
jacques

[2019-03-27 16:36] Desmis commented on #5246
@heckflosse
But how to do, to get a "good" patch ?

[2019-03-27 16:39] heckflosse commented on #5246
@Desmis Jacques, I will do the same for all Locallab tools during this week. I just used the vibrance tool because it was the easiest tool to make a mockup.

I just checked for differences in tif. Found none.

[2019-03-27 16:45] heckflosse commented on #5246
@Desmis Jacques, I would like to merge the current state of the newlocallab-speedup2 branch (without the mockups) into newlocallab to have a clean starting point for my work.
Any objections?

[2019-03-27 16:46] Desmis commented on #5246
@heckflosse
No problem at all :)
jacques

[2019-03-27 16:48] heckflosse commented on #5246
@Desmis merged

[2019-03-27 16:56] heckflosse commented on #5246
@Desmis Where do I find tonemapping in locallab gui?

I want to test and optimize this part in next step.
https://github.com/Beep6581/RawTherapee/blob/newlocallab/rtengine/iplocallab.cc#L6240

[2019-03-27 17:17] Desmis commented on #5246
@heckflosse
You just need to enable the line 769 in locallab.cc
   panel->pack_start(*exptonemap, false, false);

I have desabled because, I was told a few months ago that it was useless in "local";  what I dispute.

jacques

[2019-03-27 17:36] Desmis commented on #5246
@heckflosse
Ingo
I will be away from Friday 29 to tuesday  2 april

Thank you for this good work :)

jacques

[2019-03-27 19:49] heckflosse commented on #5246
@Desmis Jacques, here are a patch and a pp3 to test locallab tonemapping.
Patch is to be applied on clean newlocallab-speedup2 or newlocallab branch

I got the following results:
[code]
[locallab_epd.patch.txt](https://github.com/Beep6581/RawTherapee/files/3015022/locallab_epd.patch.txt)
[locallab_epd_mockup.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3015031/locallab_epd_mockup.pp3.txt

[2019-03-27 19:51] heckflosse commented on #5249
@Floessie I didn't test yet because I'm on a different branch atm. But from what I read, it looks good.

[2019-03-28 05:56] Desmis commented on #5246
@heckflosse
Ingo
I test this morning
1) before patch
Open image 140 ms
Zoom 100% 6100 ms
Full processing 6500 ms

2) after patch
Oen image 110 ms
Zoom 100% 240 ms
Full processing 5500 ms

By cons there are differences (small) between TIF, in he concerned ara - about 1 to 2 values in L (range 0..100)
Impressive
Good work

jacques

[2019-03-28 06:43] okoncevoy commented on #5213
I think it is better to merge this fix for 5.6, when I will finish it and close this issue. Meanwhile open an another issue for 5.7 to not forget to revert this functionality as soon as it will be clear, which GTK+ version must be used, as this fix brings inconsistent behavior to the RT across different platforms.

[2019-03-28 07:49] Floessie opened #5251 "`DateTimeOriginal` not found in Leica DNG"
Hi fellows,

Over at PIXLS we have a [report](https://discuss.pixls.us/t/no-date-time-taken-shown-for-leica-m8-dng-files-in-file-browser/11905) about missing date information when decoding a Leica DNG.

I compared the file in the Geeqie EXIF window to a working image and found out that the DNG's `DateTimeOriginal` (0x9003) resides in `Exif.Image` while the working one has it in `Exif.Photo` (whate

[2019-03-28 08:50] Beep6581 commented on #5213
It's not finished?

[2019-03-28 09:11] okoncevoy commented on #5213
No. RT have lot of filechooserdialogs and all of them crash on typing. Curves saving loading, clut directory select, dframe select. And another problem, is that filechooserdialog from GTK incapsulates inner widgets, and I didn't found for current moment how to block only search.

[2019-03-28 09:29] Beep6581 commented on #5251
Looks like `photo` and `image` are just discrete groups of tags, and `DateTimeDigitized` and `DateTimeOriginal` should be in the same group - `ExifIFD`.

http://www.cipa.jp/std/documents/e/DC-008-2012_E.pdf

https://www.sno.phy.queensu.ca/~phil/exiftool/TagNames/EXIF.html

So the Leica M8 isn't sticking to the spec.

I would go for the second option - search for `DateTimeOriginal`, for consistency

[2019-03-28 09:32] Beep6581 commented on #5213
Then it could be a better idea to not commit workarounds for possibly upstream bugs and just ask Hiram to use the latest GTK+ version when making the 5.6 build. @Benitoite could you make a test-build, and let us known which is the highest version of GTK+ available to you (or do you compile GTK+ from source)?

[2019-03-28 09:53] okoncevoy commented on #5213
If it is possible to compile 5.6 using fixed GTK, it is the most correct way, because yes, this is a workaround and may take more than one line to fix it everywhere.

[2019-03-28 10:20] heckflosse commented on #5246
@Desmis Jacques, I will check where the differences come from.

[2019-03-28 10:51] heckflosse commented on #5246
@Desmis Jacques, about the differences. The old version tonemapped an area of size (w + del) * (h + del), where del == 3. The 3 pixel borders were filled with zero.
The new version tonemappes an area of size w * h without having zero filled borders which should be more correct for a global operator as tonemapping is.

[2019-03-28 12:33] sguyader commented on #5241
@Desmis  Jacques, je pense avoir compris dans les grandes lignes. Pour "clarity" et "sharp mask", c'est un peu comme si on dupliquait les couches des niveaux supérieurs à 6, et inférieur à 4, respectivement, et qu'on qu'on les ajoutait à l'image traitée par ondelettes. Est-ce à peu près ça ?

Je me pose des questions quant à l'utilité du bouton "Show mask" pour "sharp mask", car certes on visualis

[2019-03-28 12:54] Desmis commented on #5241
@sguyader
Pour la première partie c'est un peu cela...

Les fonctionnalités de "showmask" avec "Clarity" et "Sharp mask" sont identiques, les 2 curseurs "Merge Luma" et "Merge chroma" sont sans action, car ils interviennent "après", avec un rôle de "blender".

Par contre pour l'un comme pour l'autre, on peut changer les niveaux de décomposition
* plus ou moins par rapport à 7 pour Clarity
* plus o

[2019-03-28 13:46] sguyader commented on #5241
Jacques, ce que je voulais dire c'est qu'en fait avec "clarity" actif, si on joue sur "wavelet levels" on voit une différence car on peut sélectioner + ou - que 7 niveaux, ce qui est la valeur seuil pour "clarity". En revanche pour "sharp mask" qui a une valeur seuil au niveau 3, on ne peut pas voir l'effet de "wavelet levels" car le niveau minimum est 4. Mais c'était avant que je comprenne le fon

[2019-03-28 15:24] heckflosse commented on #5246
@Desmis Jacques, this patch also includes the improvements for cbdl and softlight.
[locallab_softlight.patch.txt](https://github.com/Beep6581/RawTherapee/files/3018724/locallab_softlight.patch.txt)

No differences in tif

[2019-03-28 16:36] Desmis commented on #5246
@heckflosse
I come back from walking :)
I tested the last patch - locallab_softlight.patch.txt

"Same"  improvment  for "Soflight" and "CDBL"  than "vibrance" and "TM" for speed-up, especially with zoom 100%....
No differences in TIF

For TM I think you are true, the border pixels may change a little TM behavior

Very good job :)

Thank you
jacques

[2019-03-28 18:48] LordPhoenixfr commented on #5194
Hi folks
Just to say I have same problem here with rawtherapee 5.5 and Ubuntu 18.10.

[2019-03-28 19:25] heckflosse commented on #5246
@Desmis Jacques, the attached patch includes a cleanup. I deduplicated the vibrance code.
[newlocallab_dedup_vibrance_code.patch.txt](https://github.com/Beep6581/RawTherapee/files/3019826/newlocallab_dedup_vibrance_code.patch.txt)

[2019-03-28 20:16] sguyader commented on #5241
Anyway, I think this branch is working fine, and I'd like very much for it to be merged into dev.

[2019-03-28 20:22] Desmis commented on #5246
@heckflosse
Ingo
I just tested, works fine, no differences in TIF
Same good improvment "speed-up"

Very good code optimisation by simplification :)

It will be my last contribution....since tuesday

Thank you

jacques

[2019-03-28 20:25] Desmis commented on #5241
@sguyader
Thank you for testing :)

Is there an opposition to merge this branch in dev ?

In this case (no opposition), I will do that "tuesday" when I come back from Paris

jacques

[2019-03-28 21:04] heckflosse commented on #5246
@Desmis Enjoy Paris :+1:

[2019-03-28 21:47] Beep6581 commented on #5194
I need to know for the 5.6 release notes which version(s) of GTK+ are affected. @LordPhoenixfr @heckflosse @TooWaBoo @gaaned92 which versions are you using?

[2019-03-28 22:01] Beep6581 commented on #5194
No problem with GTK+ 3.24.1 in Linux.

[2019-03-28 22:01] Beep6581 commented on #5241
@Desmis please do not merge, we are in 5.6 feature-freeze. This needs further testing, optimization and review, and then when ready it can be merged for 5.7.

[2019-03-28 22:16] heckflosse commented on #5241
@Desmis Jacques, I agree with @Beep6581

[2019-03-28 23:15] heckflosse commented on #5246
@Desmis Jacques, I will try to impove all the locallab tools before you come back from Paris. Though I can not promise, as it's a lot of work...

[2019-03-28 23:38] TooWaBoo commented on #5194
@Beep6581
Windows 10, GTK+ 3.24.5

[2019-03-29 07:10] Floessie commented on #5194
- Debian 10 (GTK+ 3.24.5): :x:
- Debian 9 (GTK+ 3.22.11): :heavy_check_mark:
- FreeBSD 12 (GTK+ 3.22.30): :heavy_check_mark:

[2019-03-29 07:12] Floessie commented on #5251
@Beep6581 I'm not able to push before Sunday evening. Feel free to commit.

[2019-03-29 07:13] Floessie commented on #5249
@heckflosse I'm not able to push before Sunday evening. Feel free to commit.

[2019-03-29 08:26] #5251 closed, assigned to Beep6581

[2019-03-29 09:09] agriggio commented on #5249
Here's my take on the patch, FWIW:

[code]

[2019-03-29 09:26] gaaned92 commented on #5194
@Beep6581
W10, downgraded to GTK+ 3.22.30-1 :heavy_check_mark:

[2019-03-29 09:45] Beep6581 commented on #5194
@TooWaBoo is 3.24.5 good or bad?
@gaaned92 what did you downgrade from?

[2019-03-29 16:03] Beep6581 commented on #5194
@Benitoite says 3.24.7 works fine.

[2019-03-29 16:08] TooWaBoo commented on #5194
This version has the lensfun bug.

[2019-03-29 20:41] gaaned92 commented on #5194
I downgraded from 3.24.5 which has the lensfun bug.

3.24.7 is not available on MSYS2

[2019-03-30 15:13] heckflosse opened #5252 "Auto open curve"
In Lab, RGB and HSV curves, when more than two curves are used the behaviour is illogical:

If the first curve is used, then the first curve is opened.

If the first curve is not used, then the last used curve is opened.

With this patch, always the first used curve is opened

[code]

[2019-03-30 18:13] Benitoite commented on #5194
Just checking to see if I tested the correct bug.
![Screen Shot 2019-03-30 at 11 05 25 AM](https://user-images.githubusercontent.com/17919239/55279947-29423b80-52dc-11e9-9768-6c590043fb49.png)

[2019-03-30 18:26] Pandagrapher commented on #5247
@sguyader @Desmis
Here is a proposal of spot display modifications: exterior selection lines have been replaced by discret selection points:
![image](https://user-images.githubusercontent.com/40305292/55280132-9926e500-5321-11e9-9970-1842532e8d54.png)
What do you think about it?

Pierre

[2019-03-30 18:31] heckflosse commented on #5194
@Benitoite You tested the correct bug :+1:

[2019-03-30 18:34] Benitoite commented on #5194
@heckflosse 😌
Perhaps we can raise an issue so that package gets updated sooner than later? @lazka made the last update to gtk 3.24.5, maybe he can help.

https://github.com/msys2/MINGW-packages/issues

[2019-03-30 18:46] Beep6581 commented on #5194
In summary:
* 3.24.1 is the last-known good version before 3.24.5 which is known to have broken `Gtk::ComboBox` scrollers, and 3.24.7 is the first-known good version since the bug.
* When making RawTherapee 5.6 builds, please use GTK+ <=3.24.1 or >=3.24.7.

https://gitlab.gnome.org/GNOME/gtk/tags

[2019-03-30 18:57] Desmis commented on #5247
I cannot test, I am not at home since tuesday, but it seems good :)

[2019-03-30 18:57] lazka commented on #5194
@Benitoite I'll look into (but I can't upload packages to MSYS2, so it might take a while)

[2019-03-30 19:17] Beep6581 commented on #5194
Maybe we should warn if someone uses a problematic version of GTK+. Branch `warncombo` does that, see PR #5253
Anyone for or against merging that? Please test it if you're for merging it.

[2019-03-30 20:42] lazka commented on #5194
done: https://github.com/msys2/MINGW-packages/pull/5125

[2019-03-31 00:11] sguyader commented on #5247
@Pandagrapher Pierre yes it's definitely going in the right direction in my opinion. Not having those handles makes the interface less cluttered.
If there could be the possible to render the lines with some transparency it would be even better. But that's already an very good improvement. Thanks!

[2019-03-31 21:34] heckflosse commented on #5252
Fixed with 1e2356b

[2019-03-31 21:34] #5252 closed, assigned to heckflosse

[2019-03-31 21:59] heckflosse opened #5255 "Slim down locallab pp3 files"
As the newlocallab branch currenty makes some progress driven by more than one contributor, I suggest the following:

For each locallab spot only save the settings to pp3 file which are not at default value.

What dou you think?

I can take care about that in case there's no objection.

Ingo

[2019-03-31 22:09] heckflosse commented on #5246
@Desmis Jacques, This patch includes the improvements for locallab exposure and colour&light

[newlocallab_colorlight.patch.txt](https://github.com/Beep6581/RawTherapee/files/3027199/newlocallab_colorlight.patch.txt)

[2019-03-31 22:10] heckflosse commented on #5246
Next one will be locallab Shadows/Highlights

[2019-03-31 22:23] heckflosse commented on #5246
For information: The speeupds in this topic are only for normal locallab spots. For excluding spots I will open a new topic.

[2019-03-31 22:40] heckflosse commented on #5247
:+1:  for some opacity as suggested by @sguyader

[2019-03-31 22:44] heckflosse commented on #5247
@Pandagrapher Maybe show the lines for current spot with 75% opacity and the other ones with 25% opacity?

[2019-04-01 05:13] Pandagrapher commented on #5255
@heckflosse
That will be a different behavior compared to other RT tools, no?. Other idea: to reduce Locallab parameters length in pp3, only save parameters for activated Locallab tools

Pierre

[2019-04-01 10:01] Beep6581 commented on #5249
Bump, let's resolve this to release 5.6-rc1. I can't reproduce the crash though.

[2019-04-01 10:02] Beep6581 commented on #5186
Closing as fixed.

[2019-04-01 10:02] #5186 closed, assigned to nobody

[2019-04-01 10:02] Beep6581 commented on #5174
Closing as fixed.

[2019-04-01 10:02] #5174 closed, assigned to Beep6581

[2019-04-01 10:49] Beep6581 commented on #5110
Closing as fixed.

[2019-04-01 10:49] #5110 closed, assigned to Beep6581

[2019-04-01 10:57] Beep6581 commented on #5189
Done.

[2019-04-01 10:57] #5189 closed, assigned to Beep6581

[2019-04-01 11:13] Floessie commented on #5249
@agriggio Wouldn't your fix still fail for `mapping.size() < 15`?

[2019-04-01 12:42] Beep6581 commented on #4464
I opened `madeira.dng` (it has GPS info) in RT `5.5-281-g`aa379308e, set some IPTC tags, set meta mode to "Apply modifications" and saved a JPG. It contains IPTC and GPS info.

![madeira](https://user-images.githubusercontent.com/5844619/55328107-e32bda00-548b-11e9-850f-38dc32999996.jpg)
[code]
[code]

With the patch applied, I opened this JPG and saved one of every supported output format and set

[2019-04-01 12:50] agriggio commented on #5249
sure, but mapping has size 256

[2019-04-01 13:35] #5058 closed, assigned to heckflosse

[2019-04-01 13:45] sguyader commented on #5247
+1 for @heckflosse 's suggestion

[2019-04-01 13:58] Beep6581 commented on #4290
I'm lost in a forest of branches.

@Desmis does branch `newlocallab` include `autowblocal`?
Branch `cat02wb` (#4650) seems more recent than `autowblocal`. Are changes from `cat02wb` incorporated into `autowblocal` or into `newlocallab`? Can we close some issues (this one?) and branches or clarify what they do and how to test them?

[2019-04-01 14:07] Beep6581 opened #5256 "GUI for adding tools to Favorites tab"
The Favorites tab functionality was finished in #5016 and will be available in RawTherapee 5.6. Tools must currently be added manually: http://rawpedia.rawtherapee.com/Favorites_Tab

This issue is for creating a GUI to simplify adding tools to the Favorites tab.

[2019-04-01 14:08] Beep6581 commented on #1464
Duplicate of #5016 #5256

[2019-04-01 14:08] #1464 closed

[2019-04-01 14:08] Beep6581 commented on #2631
Closing as superseded by #5016 #5256

[2019-04-01 14:08] #2631 closed

[2019-04-01 14:09] Beep6581 commented on #5016
Favorites functionality is ready for 5.6: http://rawpedia.rawtherapee.com/Favorites_Tab
GUI handled by #5256

[2019-04-01 14:09] #5016 closed, assigned to nobody

[2019-04-01 14:11] #4975 closed, assigned to nobody

[2019-04-01 15:45] Desmis commented on #4290
@Beep6581
I just come back from Paris, with vacation with my grands-sons

For me all these branches are completely confused, since 1,5 years I was asked everything and its opposite
Initially there was only one branch that contained all...
Then we asked me to isolate "cat02wb", "to smplify" with the aim of merge quickly !!

Then I work on another algorithm for "autowb" , I name ItcwB, It was in las

[2019-04-01 15:59] heckflosse commented on #4290
@Desmis

Jacques, in case I forget about an issue, which happens because there are a lot of open issues, please remind me...

[2019-04-01 16:08] Desmis commented on #4290
@heckflosse
No problem at all with you :)

More generally, I have been reproached for my "branches" which are too important, too complex, not sufficiently fragmented ... since I do not dare to intervene to ask for anything and so I wait ... age taught me patience

jacques

[2019-04-01 16:21] Beep6581 commented on #4290
@Desmis thank you for clarifying that.

Please go ahead and commit the improvement (Ingo ok'd this in IRC), then we can test `autowblocal` to find, isolate and merge the best-performing algo for 5.7.

[2019-04-01 16:40] Desmis commented on #4290
@Beep6581
I just commit all my "summer 2018" changes to Itcwb
But I don't merge with dev

jacques

[2019-04-01 16:40] Desmis commented on #4650
Commit all "summer 2018" changes to Itcwb

[2019-04-01 17:58] Beep6581 commented on #4290
In `cat02wb` `5.5-299-g`63d30a458:
[code]

[2019-04-01 18:01] heckflosse commented on #5246
@Desmis Jacques, I pushed my improvements to newlocallab-speedup2.
The following tools in `normal` mode got speedups:
Exposure/Sh&HL/Color&Light/softlight/tonemapping/vibrance/cbdl

[2019-04-01 18:02] sguyader commented on #5247
@Pandagrapher I tried your changes and I confirm it's nicer already. Now it's also easier to adjust the spot borders when set rectangle.

[2019-04-01 18:05] heckflosse commented on #5247
How about showing the number of the spot?
![grafik](https://user-images.githubusercontent.com/13733487/55349224-6dd6fe00-54b9-11e9-902a-829896bd0b5a.png)

[2019-04-01 18:37] Pandagrapher commented on #5247
@heckflosse
Concerning opacity, that's a nice idea. Gonna implement it to see.

When mouse-overing a spot, associated line on treeview is indicated: is that enough? Or should I add the spot number too?

Pierre

[2019-04-01 18:41] heckflosse commented on #5247
@Pandagrapher

Pierre, that may be enough. It was just another idea I got ;-)

[2019-04-01 20:01] heckflosse commented on #4290
@Desmis

:smiley:

[2019-04-01 22:43] Hombre57 commented on #5256
@Beep6581 @heckflosse As a reminder, my first priority is to finish the spot removal tool first, probably update the preview to use `Gtk::Overlay` in the main preview afterwards (necessary for more fluid on preview editing) then the Favorite panel GUI. Are you fine with this order ?

[2019-04-01 22:48] Beep6581 commented on #5256
Fine with me @Hombre57

[2019-04-01 23:55] sguyader commented on #5247
Highlighting is enough in my opinion. The less things overlayed on the preview, the better.

[2019-04-02 06:32] Desmis commented on #5247
@Pandagrapher
I test this morning, it's really good :)

For opacity I tink it's a good idea, and why not the spot number ? (as for eaxmple in DxO)
jacques, but it's also good whithout :)

[2019-04-02 06:47] #5194 closed, assigned to nobody

[2019-04-02 07:07] Desmis commented on #4290
@Beep6581
I push a commit
1) supress warning with Stdimagesource.cc
2) fixed bug in update GUI slider "amount"
:)
jacques

[2019-04-02 07:56] Floessie commented on #4290
@Desmis Some minor Clang warnings:

[code]

HTH,
Flössie

[2019-04-02 08:37] Desmis commented on #4290
@Floessie
Thank you

Fixed in next commit :)

jacques

[2019-04-02 08:41] Desmis commented on #5255
@heckflosse
Ingo
Sure, it will be a  nice improvment.
An yes, you can :)

jacques

[2019-04-02 08:45] Beep6581 commented on #5099
* The preview matches the output, good.
* Bug in history:
  1. Open photo, enable Retinex
  1. Set Dehaze to 100
  1. Go back in history - the slider changes to 0 but the preview does not change, it still looks like dehaze=100.
* There are hard-coded 200ms delays (in this branch and in `dev`), they should probably be replaced with `options.adjusterMaxDelay`
* The language string keys should be cha

[2019-04-02 09:44] Beep6581 commented on #5241
Review of branch `wavelenh` `5.5-274-g`e8847a663
* The preview matches the saved image quite well.
* The effect can be very pleasing (samples at the end).
* "Sharp-mask and Clarity" seems to have no effect when method=none, so there is no need to have a "none" option since the sub-tool can be turned off.
* Issue 1:
1. Open photo, enable Wavelets.
1. Enable "Sharp-mask and Clarity".
1. Tick "Show w

[2019-04-02 09:53] Desmis commented on #5246
@heckflosse
I compile, no problem
I run
* if I enable "exposure" and set "exposure compensation" to 2,all works well
* if I enable "mask" in "Exposure" of course with a mask, "exposure compensation" disapeared in the preview and in some cases crash (segfault)

*same behaviour with "mask" and Color and Light

jacques

[2019-04-02 10:18] maz4200 opened #5257 "Lumix HI Res Raw files"
I am experimenting with 80MP raw files on Lumix G9 (80 MP).
The files are imported into Photoshop with no issues but Raw Therapee imports these files as noise. (see attached screenshot) this problem is also true of Affinity Photo, ON1 imports them as readable files  but with the wrong size (20MP).

![image](https://user-images.githubusercontent.com/21952948/55395222-082a5680-5539-11e9-893d-484917f

[2019-04-02 10:45] Beep6581 commented on #5257
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.

Duplicate of #5104

[2019-04-02 10:45] #5257 closed, assigned to nobody

[2019-04-02 10:46] Beep6581 commented on #5104
Works fine in `5.5-282-g`458f47d12

[2019-04-02 10:51] Beep6581 commented on #5204
Ping @ilya-varivchenko

[2019-04-02 10:58] heckflosse commented on #5246
@Desmis Jacques, I will have a look

[2019-04-02 11:02] Desmis commented on #5241
@Beep6581
Thank you for testing

The main problem is to undrestand how it works, it is explain in French above
In resumed we combined 2 process "wavelet", and there are effectively 2 calls...

For issue 2 = normal, its the time needs by RT to change between process 1, and procees 2

For the others cases, it is very difficult to manage "mask" because you have 2 process.

 I added this feature - com

[2019-04-02 11:02] Desmis commented on #5246
@heckflosse
Ingo, thank you
Jacques

[2019-04-02 11:09] heckflosse commented on #5246
@Desmis Jacques, can you provide a pp3 which leads to crash?

[2019-04-02 11:34] Desmis commented on #5246
@heckflosse
It seems there is also a problem with "mask" (only Exposure) in branch "newlocallab"

If I put the same curve for L(L) in Color and light, Exposure, Shadows highlight, the mask in "Exposure" is always blur.
And I just get a crash also with "newlocallab", with mask in "Exposure"

I will try to furnish a pp3, but difficult...

jacques

[2019-04-02 11:37] Desmis commented on #5246
@heckflosse
here a pp3, with colorspace_flowers.pef

[colorspace_flowers.pefjdc.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3033677/colorspace_flowers.pefjdc.pp3.txt)

When you zoom to 100% crash

Look at mask in Exposure with and whitout C(C)
The behavior in Exposure is  erratic
jacques

With "newlocallab", no crash, but erratic behavior for "Exposure". for example, always in "Colorspa

[2019-04-02 13:14] heckflosse commented on #5246
@Desmis Jacques, I found the reason for the crash. That's an old bug caused by wrong indexing `[ir][ir]` [here](https://github.com/Beep6581/RawTherapee/blob/56dda41ed8f56c2876b0880beaeb7f4696a4c0ce/rtengine/iplocallab.cc#L8070)

Looking for the exposure bug now

[2019-04-02 13:27] heckflosse commented on #5246
@Desmis The two bugs you mentioned are fixed now

[2019-04-02 13:37] Desmis commented on #5246
@heckflosse
I just tested, fixed :)

jacques

[2019-04-02 14:10] heckflosse commented on #5246
@Desmis Jacques, I would like to merge newlocallab-speedup2 into newlocllab now to get more tests. Any objections?

[2019-04-02 15:25] Desmis commented on #5246
No problem you can

Le mar. 2 avr. 2019 16:10, Ingo Weyrich <notifications@github.com> a écrit :

[2019-04-02 15:34] heckflosse commented on #5246
@Desmis merged

[2019-04-02 15:59] Desmis commented on #5246
@heckflosse
Ingo
should not it be said that certain functions are to be avoided (Retinex, etc.) ?
jacques

[2019-04-02 16:01] heckflosse commented on #5246
@Desmis ohh, looking and fixing....

[2019-04-02 17:11] Pandagrapher commented on #5247
@Desmis @heckflosse @sguyader
Just released a commit in my fork to manage RTspot opacity (75% of opacity for selected RTspot, 25% otherwise)

Now let's try to avoid RTspot to disappear when right-clicking...
Pierre

[2019-04-02 17:15] Beep6581 opened #5259 "Random artifacts in Exposure > Show Structure newlocallab"
Branch `newlocallab` `5.5-912-g`75e538ab4

The affected area shows random artifacts - they change each time i switch to "Show structure" from "Preview selection deltaE". Being zoomed 50% seems to make the artifacts appear more often, and then you can zoom in to 100% and they change
http://rawtherapee.com/shared/test_images/dehaze2.nef
[dehaze2.nef.pp3.txt](https://github.com/Beep6581/RawTherapee/f

[2019-04-02 17:20] Beep6581 commented on #5218
Status?

[2019-04-02 17:25] Desmis commented on #5247
@Pandagrapher
I just tested, seems good.
Thus avoids parasitic contours, perhaps a little more opacity for "otherwise"

bravo

jacques

[2019-04-02 17:26] Desmis commented on #5218
I think we can close :)

[2019-04-02 17:28] Beep6581 commented on #5247
An enhancement suggestion for spot manipulation. Adjusting a simple circle-shaped ellipse is currently tedious - one has to either adjust 4 sides, or switch to symmetric mode and still adjust 2 sides. It would simplify things if using modifier keys was possible - e.g. in Inkscape when you hold shift the shape is adjusted symmetrically in the given plane (in RT, shift+drag the right spot would equa

[2019-04-02 17:31] Beep6581 commented on #5247
Then you could entirely get rid of the "shape method" combo - it would always use what is currently called "independent (mouse)", and you would use modifier keys for symmetry. Sliders are too cumbersome and overkill.

[2019-04-02 17:31] #5218 closed, assigned to nobody

[2019-04-02 18:11] Pandagrapher commented on #5247
Was also thinking about:
- ctrl+mouse roller when mouse-overing center circle to adjust its size;
- maj+left click on ellipse/rectangle to change its shape;
- ctrl+left click on ellipse/rectangle to change its type (normal/exclude which should be indicated by a different color, red for instance for excluding spot)

Pierre

[2019-04-02 18:27] Beep6581 commented on #5247
:+1: , with the caveat that I don't know what "maj" is ;)

[2019-04-02 19:07] Pandagrapher commented on #5247
@Beep6581
Sorry... maj = shift in French ;)

[2019-04-02 19:08] Beep6581 commented on #5259
Fix confirmed.

[2019-04-02 19:08] #5259 closed, assigned to nobody

[2019-04-02 20:00] heckflosse commented on #5241
@Desmis

Can you point me to the code where that happens?

[2019-04-02 20:15] heckflosse commented on #5246
@Desmis Jacques, I mentioned it [here](https://discuss.pixls.us/t/local-lab-build/1430/685)

[2019-04-02 20:16] Pandagrapher commented on #5247
@Desmis
Here is a patch to test that avoids RT spot to disappear when right-clicking, adding lockable color picker, pressing hand button, pressing h/H key. However when another tool (WB reference selection, for instance) is selected on toolbar, panel switches to another tab and so RT spots disappear (which is a normal behavior)
[code]

Pierre

[2019-04-02 20:45] heckflosse commented on #5247
@Pandagrapher I added a `diff` after the three backticks of your patch to make it more colorful

[2019-04-03 02:18] Yz2house opened #5260 "Update GUI in Japanese"
update GUI in Japanese along with the recent changes.
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/3036600/Japanese.txt)

[2019-04-03 04:47] Desmis commented on #5247
@Pandagrapher  @heckflosse

Run fine, good improvment

jacques

[2019-04-03 06:02] Floessie commented on #5249
@agriggio Okay. Then, why not use a `std::array<>` for a fixed size array?

@Beep6581 To make some progress here before releasing 5.6 I suggest the following:

- You pick Alberto's patch for 5.6 as it's the most concise one.
- I still think there is another bug [here](https://github.com/Beep6581/RawTherapee/blob/390594f39ef3e1fd75c737df5dae69dead8dae9e/rtengine/histmatching.cc#L182) which should b

[2019-04-03 07:31] Desmis commented on #5241
I push a commit
* disabled "Showmask" which creates more problems than it solves
* change method to only 2 choice "clarity" and "sharp-mask"
* change precision "soft radius" from 0.01 to 0.1

@heckflosse
Ingo the parts of code are in
* improccoordinator.cc lines 873 to 885 ==> there is 2 calls to ip_wavelet
* dcrop.cc lines 1009 to 1021 ==> there is 2 calls to ip_wavelet

jacques

And I found some

[2019-04-03 08:21] #5260 closed, assigned to Beep6581

[2019-04-03 09:16] ilya-varivchenko commented on #5204
I have several samples made in  incandescent light, but they are of poor quality. :(
I will upload these images later today.

[2019-04-03 09:24] ilya-varivchenko commented on #5204
Try these ones pls:
https://drive.google.com/open?id=1wQEkXsAoD9aBkaBu2JhzCs-09-dt-g2N

[2019-04-03 09:51] Beep6581 commented on #5204
Hi @ilya-varivchenko
Indeed the shots are not usable, the issues are:
* The target is not lit evenly as the light source is too close to the target.
* Some of the shots have motion blur so the program cannot isolate dust spots and scratches - use a tripod.
* The wide angle is usable, but since the shots need to be re-taken I would advise using a longer focal length, to eliminate distortions and vi

[2019-04-03 09:54] Beep6581 commented on #5204
* The colors in the embedded JPEGs are really off. This could mean that the light was not StdA (make sure the [lightbulb is tungsten](http://rawpedia.rawtherapee.com/File:Gluehlampe_01_KMJ.png), the glass is clear and that it's not shining through any translucent lamp shade or bouncing off any colored walls), or it could mean that the Panasonic Lumix DC-S1 has a very bad matrix for StdA and so you

[2019-04-03 11:54] LordPhoenixfr commented on #5194
GTK version is 3.24.4 here…

[2019-04-03 12:43] sguyader commented on #5247
@Pandagrapher Very nice improvement with regards to the transparency and highlighting the list entry when hovering.

Now the other improvement I see would be to have the default size of a new RTspot being inverse proportional to the zoom factor (i.e when working on a small area say at 1:2 or 1:1, when you add a spot it is much bigger than the preview area, and you have to zoom out, grab the RT-spo

[2019-04-03 12:47] sguyader commented on #5247
That would be very nice indeed. And I agree that the "mouse + slider" are not necessary anymore in "shape method".

[2019-04-03 14:32] sguyader opened #5261 "Crash in newlocallab"
After working on an image in newlocallab, I often get a crash. Using a debug build, I don't get anything from gdb (```bt full``` returns "no stack").
It seems to happen either when working on a spot, or even sometimes just when exporting in jpeg.
What I observed, though, is that memory usage seems to increase a lot, and during the last crash RT was using over 5 GB of RAM.
In my latest test, I had

[2019-04-03 15:06] Desmis commented on #5247
@sguyader
For crash with CBDL it is probably due to "wavelet decomposition" - CDBL is in fact a "poor" wavelet with only 5 levels type "Mexican hat"
When the size of the area is smaller than 32*32 the system crash ?
I push a first turn around to prevent this crash by allowing CBDL if size area > 32x32

jacques

[2019-04-03 15:14] sguyader commented on #5261
Additional info (using a debug build):
Each time I export the image, the memory goes up, and after the export the state of memory usage doesn't go all the way down to the initial state.
Example:
1) open a 24MP file -> _900MB_
2) turn some filters on, create RTspots, play with them (create, duplicate, delete, add...) -> _1.84GB_
3) export # 1 -> memory peak at _3.87GB_ -> _2.05GB_ when exporting is

[2019-04-03 15:57] sguyader commented on #5261
Update: it looks like it's at least in the CbDL filter, but not in Exposure. I'll post the results of a test in about 1 hour.

[2019-04-03 17:06] sguyader commented on #5261
Here's a result, using a release build from the official locallab. I saved a 24MP image 9 times in a row, without changing anything in RT, and wrote down the memory usage of RT after each export.

Here, I report the average change in memory usage between 2 consecutive exports:

- Local Lab **OFF**: ~0.007 GB
- Local Lab **ON**, zero spot added: ~0.006 GB
- Local Lab **ON**, 10 spots added, no filt

[2019-04-03 17:21] sguyader commented on #5247
@Dermis I have opened issue #5261 to discuss about this.

[2019-04-03 17:26] sguyader commented on #5261
@Desmis I tried the same procedure as above (saving 9 times and recording the change in memory usage) using 10  31x31 RTspots with CbDL, now the increase in memory is much less (~0.023 GB).

I find CbDL in local lab to be very useful as a skin retouch tool, so I tend to use between 5 and 10 CbDL RTspots of varying size, and I generally export several times to see the effect in the resized final im

[2019-04-03 17:38] Desmis commented on #5261
@sguyader
I test with Colorspace_flower.pef
I create, duplicate 10 spots, all with CBDL
50% small, 50% big all with very high or vey low values "contrast"

I save to "Photoshop" 8 times

Memory at the bebining = 460
Memory at the end = 465
Pic when saving = 950

I found a bug in CBDL see #5247
But it's not memory, but allocaction for wavelet decomposition
I think in most cases it's solved.... to v

[2019-04-03 17:45] Desmis commented on #5261
@sguyader
have you tried with last commit ?
My solution to prevent crash is not optimized, but do you need spot smaller than 32*32, it's very small ?

2x2 ==> 1 level decomposition
4x4 ==> 2
8x8 ==> 3
16x16 ==> 4
32x32 ==> 5 levels decompostion
you can use low transition with high tansition weakening

[2019-04-03 17:48] sguyader commented on #5261
@Desmis I didn't read correctly what you said regarding the 32x32 size, I thought you meant the problem was only when the size of the are is less than 32x32, so I tried 31x31. But it was with an older commit.
I'll try the new commit later, maybe tomorrow.

[2019-04-03 17:55] Desmis commented on #5261
@sguyader
In some cases - rare - when spots is limited to 32x32 I have a crash (very rare), I think due to round float to integer...
Whithout the last commit, with very small spots, in all  cases crash (when zoom; when save...)
With last commit in 99% cases, no crash

[2019-04-03 18:00] sguyader commented on #5261
I don't know... before last commit, I tried 10 spots at 31x31 and I had no crash in 9 saves (but I didn't zoom or change anything else).

[2019-04-03 18:48] Pandagrapher commented on #5247
@sguyader

In fact, it's what I have planned to do when dealing with #5220 :)

@Desmis
I gonna commit my patch then I will send you a pull request to newlocallab branch

Then time to work on adding mouse action for RT spot ;)

Pierre

[2019-04-03 19:28] heckflosse commented on #5261
@sguyader @Desmis The crashes are caused by my optimizations. Before my optimizations the area cbdl was working on, always was quite large. With optimizations the area could be really small (even less than 32x32 px) and I didn't see that's a problem for cbdl algorithm.

Mea culpa, but I think it's for the good. We likely will find some more bugs by my optimizations.

[2019-04-03 19:48] iliasg commented on #5257
@maz4200 Please try a recent RT build .. G9 HiRes added recently
Only problem is that the black level needs correction for Hires files and the companion first shot of the 8shots set .. for the moment we can use Raw.Black.Levels at -15.00 to compensate.

[2019-04-03 19:51] iliasg commented on #5104
@Beep6581 .. aren't the darks greenish in your tests?.
I think that either the black level offset is different for these files or RT applies the +15.0 black offset twice ..

[2019-04-03 20:05] Beep6581 commented on #5104
@iliasg the sample images from RPU are entirely of green foliage, making it difficult to tell if there's an issue with the shadows. Now that you mention it, -15 does look better than 0 in terms of hue, but proper sample images are needed.

[2019-04-03 22:11] iliasg commented on #5104
@Beep6581
Samples of G9 and S1 .. look at the door ..
https://www.dropbox.com/sh/3ivv3dc0fhd9h0i/AABLdmwKq70iKEeGw8PsOlvoa/G9%20hires%20vs%20S1?dl=0&subfolder_nav_tracking=1

[2019-04-04 06:30] ilya-varivchenko commented on #5204
Unfortunately I have not camera already, so I can not make another samples in tungsten light.

[2019-04-04 09:59] Desmis opened #5263 "Spot locallab overflowing since new spot delimiters or perhaps new installation Msys2 ?"
This morning I have had a crash of my computer, then MSYS2 is broken

I desinstall old Msys2
I reinstall MSY2 with process discribe in "Rawpedia"

I downgrade
mingw-w64-x86_64-lensfun-0.3.2-4-any.pkg.tar.xz
mingw-w64-x86_64-libjpeg-turbo-1.5.3-1-any.pkg.tar.xz

Then I make cmake
and I have the message
you are using GTK-3.24.5 please dowgrade to gtk-3.24.1

I download : mingw-w64-x86_64-gtk3-3.24.1

[2019-04-04 10:21] Desmis commented on #5263
here file aboutthisbuild.txt

Version: 5.5-922-g6a23c48f1
Branch: newlocallab
Commit: 6a23c48f1
Commit date: 2019-04-04
Compiler: gcc 8.3.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -Wall -Wuninitialized -Wno-deprecated-declarations -Wno-unused-result -fopenmp -Werror=unkn

[2019-04-04 11:05] Desmis commented on #5263
@pandagrapher
It seems it is not MSYS2 that leads to bad behavior

I just compile, a repo, which is not updated with the new spots (new elipse...)
And in this case - with the "old" spot, there is no overflow

Donc en français, je pense que le dernier "commit" et "pull request" amène une anomalie dans la nouvelle taille du spot a) prise en compte par iplocallab.cc et affichée par controlspotpanel.c

[2019-04-04 11:16] Desmis commented on #5263
@pandagrapher
Here 2 images of the same action
1) with "old" spot
![notoverflow](https://user-images.githubusercontent.com/13764697/55551647-9e967d80-56db-11e9-96e5-7867e47e912b.jpg)

2) new spot
![overflowwithnewspot](https://user-images.githubusercontent.com/13764697/55551667-a9511280-56db-11e9-89ac-653dea2f92b8.jpg)

[2019-04-04 16:48] sguyader commented on #5261
@Desmis @heckflosse
I don't know what to say. I compiled the latest commit to newlocallab, and did the same test as yesterday : open an image, add 1 RTspot with CbDL active and duplicated it to get 10 spots in total, and saved 9 times. Memory didn't jump as much as yesterday, it went from 1.33 to 1.54GB for 9 saves (~210MB increase). But then I kept playing on the image, only switching several tim

[2019-04-04 16:54] heckflosse commented on #5261
@sguyader Sounds like a memory leak. Are you using only cbdl in locallab?

[2019-04-04 17:08] sguyader commented on #5261
@heckflosse yes I was using only CbDL. But now I did another experiment, with the same image but using the neutral profile, after just saving 20 times memory usage went from 2.05GB to 2.15GB. Not a lot, but the trend is still there and I don't understand why it would occur as there's no filter active. I was starting to wonder if it could be a problem in the xtrans demosaicing or some other early s

[2019-04-04 17:10] heckflosse commented on #5261
@sguyader Can you reproduce also on dev (using neutral profile)?

[2019-04-04 17:27] Pandagrapher commented on #5263
@Desmis
Ouppppssss my fault. Here a patch which corrects the bug :
[code]

Pierre

[2019-04-04 17:47] Desmis commented on #5263
@Pandagrapher
This fix the bug.
I will push directly the change to "Beep6581-newlocallab"

Merci

Jacques

[2019-04-04 17:48] sguyader commented on #5261
In dev (Version: 5.5-154-gdb57a023), METOW mode:

- just opening the image with neutral profile -> 777MB
- switching back and forth between fit to screen and 1:1, back to fit to screen -> 820MB
- saving 20 times using the "Save" button -> 948MB (sometimes went up to 998MB)
- saving 20 times from queue, image open in editor: goes from 808MB -> 852MB -> after 20 more saves 896MB
- saving 20 times fr

[2019-04-04 17:50] heckflosse commented on #5261
@sguyader Ok, seems unrelated to newlocallab then.

[2019-04-04 17:57] heckflosse commented on #5263
@Desmis As I merged meanwhile, shall I push the fix?

[2019-04-04 18:02] Desmis commented on #5263
@heckflosse
Now you can, I just push the fix from @Pandagrapher

jacques

[2019-04-04 18:07] sguyader commented on #5261
@heckflosse indeed I guess it was emphasized at some point by CbDL in locallab.
Should I close this issue?

[2019-04-04 18:10] heckflosse commented on #5263
I already did ;-)

[2019-04-04 18:11] heckflosse commented on #5261
@sguyader Let's wait. As there seems to be a memory leak somewhere, maybe @Floessie wants to chime in. Then we can create a new issue or change the title of this one

[2019-04-04 18:12] Desmis commented on #5263
Ok, thank you :)

jacques

[2019-04-04 18:42] heckflosse opened #5265 "locallab keyboard shortcuts issue"
Using shortcuts (e.g. z to zoom in) does not work because of this (whatever that is):
![grafik](https://user-images.githubusercontent.com/13733487/55580087-0e2b5d80-571a-11e9-8fda-18da340ea025.png)

[2019-04-04 19:06] heckflosse opened #5266 "locallab: dialog to rename a spot has no default button"
When renaming a locallab spot I would like the ok button to be the default button of the rename dialog, so I can just press enter to commit the new name.
![grafik](https://user-images.githubusercontent.com/13733487/55581549-70399200-571d-11e9-9670-8cfb3255eae1.png)

[2019-04-04 19:18] sguyader commented on #5261
Another test with the locallab build:

1. open image in editor (own window) with 12 RTspots (10 CbDL, 2 Color & Light) from a previous profile: 895 MB
2. then selecting each spot from the list (to check their filters) + zooming in/out 5 times -> 1.40 GB
3. then 20 saves through save button -> 2.45 GB
4. then 20 saves from queue -> 2.50 GB
5. then 20 additional saves from save button -> 2.94 GB

Th

[2019-04-04 19:44] sguyader commented on #5265
@heckflosse I don't have this problem (fresh build, commit 2394e06)

[2019-04-04 20:11] heckflosse commented on #5265
@sguyader I have the issue only when the locallab settings tool is opened.

[2019-04-04 20:21] sguyader commented on #5265
@heckflosse yes tried also with the locallab settings open, but no issue here. However I use the Toowagrey theme, it's the only difference I see (besides the photograph of course).

[2019-04-04 20:37] heckflosse commented on #5265
@sguyader I just checked again. With all themes I get the bug when the focus is on a spot in settings. I guess it's some automatism to select the spot by typing its name, but I dont get how it works (it doesn't seem to work)

[2019-04-05 06:27] Floessie commented on #4892
This was completed in #5131. Closing.

[2019-04-05 06:27] #4892 closed, assigned to Floessie

[2019-04-05 06:35] Beep6581 commented on #5261
@heckflosse @Floessie wouldn't it help if @sguyader compiled a debug build and ran it through `valgrind --leak-check`? If so, what are your recommended settings?

[2019-04-05 06:38] Beep6581 commented on #5265
I get the popup too. Looks like a standard GtkTreeView search box, though it doesn't match anything I type.

[2019-04-05 06:47] Beep6581 commented on #5265
[code]

[2019-04-05 06:50] Beep6581 commented on #5103
I think we're all set for a release candidate. I'll start the work and tag rc1 this weekend, if no objections.

[2019-04-05 07:30] Floessie commented on #5261
@Beep6581 Valgrind is awfully slow. I'm currently running a `-DWITH_SAN=address` debug build. It already found two rather obvious leaks [here](https://github.com/Beep6581/RawTherapee/blob/2c0a8e0056bb1ff571eac89f6c615518081a257d/rtgui/controlspotpanel.cc#L1993). Maybe they fragment the memory for @sguyader?

For glibc [this](https://github.com/Beep6581/RawTherapee/issues/4416#issuecomment-36966878

[2019-04-05 07:50] Floessie commented on #5261
Same kind of leak in [here](https://github.com/Beep6581/RawTherapee/blob/2c0a8e0056bb1ff571eac89f6c615518081a257d/rtgui/locallab.cc#L2979).

@Desmis @Pandagrapher I don't see a reason why `defSpot` and friends should be on the heap...

[2019-04-05 07:53] Floessie commented on #5261
Next one [here](https://github.com/Beep6581/RawTherapee/blob/2c0a8e0056bb1ff571eac89f6c615518081a257d/rtgui/locallab.cc#L1536).

[2019-04-05 07:56] Floessie commented on #5261
Preparing a patch...

[2019-04-05 08:34] Desmis commented on #5261
@Floessie
OK, thank you :)
jacques

[2019-04-05 09:01] Floessie commented on #5261
It has gotten bigger than I first expected. There are still other leaks I omitted to fix. The most prominent is in `ControlSpotPanel::addControlSpotCurve()` which might already be fixed in another branch (I remember discussing it with @Hombre57).

There are DOS line endings in some files on this branch.

Here's the patch:

[code]

Best,
Flössie

[2019-04-05 09:36] Desmis commented on #5261
@Floessie

I can not apply the patch. I'm getting error messages
$ git apply flo3.patch, with the code above...I copy in my editor.

"error: le patch a échoué : rtgui/controlspotpanel.cc:1662
error: rtgui/controlspotpanel.cc : le patch ne s'applique pas
error: le patch a échoué : rtgui/controlspotpanel.h:21
error: rtgui/controlspotpanel.h : le patch ne s'applique pas"

But these modifications exce

[2019-04-05 09:46] Floessie commented on #5261
Hm, then again on [filebin](https://filebin.net/bw00syqqdpanuvw1). Applies fine here on `newlocallab`.

[2019-04-05 09:46] Beep6581 commented on #5261
@Desmis as I know @Floessie has trouble pushing to git from behind firewalls, I made a branch for you:
[newlocallab_plumbing](https://github.com/Beep6581/RawTherapee/tree/newlocallab_plumbing)

[2019-04-05 10:00] Desmis commented on #5261
@Floessie
I test with "filebin", patch apply whitout problem.
But what I miss when you post a patch, what to do exactly ?

For me no differences with and whithout, if I speak behavior "locallab"

@Beep6581  thanks for this branch

jacques

[2019-04-05 10:16] Beep6581 commented on #5261
@Desmis I think the problem was with newline characters, which were lost in the copy-pasted patch, so I had to use `--ignore-whitespace`.

[2019-04-05 10:29] Desmis commented on #5261
@Beep6581
I test "my" patch with  "--ignore-whitespace" and it works

thank you

jacques

[2019-04-05 11:04] sguyader commented on #5265
Ok, when a spot is focused in the list I get the same behaviour indeed.

[2019-04-05 11:07] Floessie commented on #5261
@Desmis

Then everything is fine.

I was [asked](https://github.com/Beep6581/RawTherapee/issues/5261#issuecomment-480005693) by @heckflosse to take a look at the memory behavior, found a big bunch of leaks in the new code and posted a patch to fix them. There should be no functional difference. If I don't write what to test exactly I assume you check if it still works the way you expect it. That's

[2019-04-05 11:57] Beep6581 commented on #5104
I tested all Panasonic DC-G9 raw files from RPU.

https://filebin.net/r1ghqrw2z84m8kqe

The two Pixel Shift photos require `"black": 0` in `camconst.json` while all other photos require what we currently have, `"black": 15`.

The Pixel Shift photos are identified by:
[code]

while all other shots have:
[code]

[2019-04-05 12:28] heckflosse commented on #5104
I just tested one of the Pixel Shift photos. It has 2px garbage border at the right.
![grafik](https://user-images.githubusercontent.com/13733487/55627674-141f4e00-57af-11e9-95b3-df5adcdbeb6f.png)

[2019-04-05 12:47] Desmis commented on #5261
My question was only for how to manage patch :)
For the goal of this patch, all seems to work fine!
Thank you
Jacques

Le ven. 5 avr. 2019 13:07, Floessie <notifications@github.com> a écrit :

[2019-04-05 13:41] heckflosse commented on #5263
Fix confirmed. Ok to close?

[2019-04-05 13:59] Desmis commented on #5263
Ok

Le ven. 5 avr. 2019 15:41, Ingo Weyrich <notifications@github.com> a écrit :

[2019-04-05 14:04] sguyader commented on #5261
@Floessie @heckflosse @Desmis
I conducted some tests from the "plumbing" branch. What I found is that apparently the main leaks I observe probably come from the wavelet levels. Here's the state of memory usage (in GB) after each step:

  | locallab (12 active spots) | wavelet | locallab + wavelet
-- | -- | -- | --
load RT | 0.24 | 0.24 | 0.23
open image in editor | 0.76 | 0.78 | 0.76
zoom in/out (

[2019-04-05 14:04] #5263 closed, assigned to nobody

[2019-04-05 14:19] heckflosse commented on #5261
@sguyader Sébastien, can you please provide the pp3 you used for your wavelet test?

[2019-04-05 14:44] sguyader commented on #5261
Strange... I don't get the same results everytime:

  | neutral | locallab (12 spots) | wavelet | locallab+wavelet
-- | -- | -- | -- | --
load RT | 0.24 | 0.24 | 0.24 | 0.24
open image in editor | 0.73 | 0.73 | 0.72 | 0.73
zoom in/out (z / alt+f) 20 times | 0.79 | 0.93 | 0.82 | 0.79
Save 20 times (ctr+s) | 0.94 | 1.04 | 0.99 | 1.57
Save 20 times (queue) | 0.94 | 1.15 | 1.09 | 1.75

This time wavel

[2019-04-05 14:51] sguyader commented on #5261
@heckflosse here's the pp3:

[DSCF7842.RAF.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3048461/DSCF7842.RAF.pp3.txt)

[2019-04-05 17:08] Floessie commented on #5261
@sguyader To separate real leaks from unfavorable `malloc()` patterns, please start RT with `MALLOC_ARENA_MAX=1` or `MALLOC_MMAP_THRESHOLD_=4096` as proposed in [#4416](https://github.com/Beep6581/RawTherapee/issues/4416#issuecomment-369668783).

[2019-04-05 17:33] fortiernor opened #5267 "ProcEvent int() operator should be const"
I am writing some tests to explore RT and hopefully contribute by making history incorporate changes made in prior sessions. I have a lot of experience in Java but little in C++, so my understanding may be at fault here.
I need to obtain the code of some ProcEvents to ensure they are the correct instances. If I try to print out a ProcEvent code I would do this:
```std::to_string(getEvent())```
whe

[2019-04-05 17:38] sguyader commented on #5261
@Floessie thanks for the tip. I started RT with ```MALLOC_ARENA_MAX=1``` and memory usage now stays constant:

  | neutral | locallab+wavelet
-- | -- | --
load RT | 0.21 | 0.25
open image in editor | 0.71 | 0.72
zoom in/out (z / alt+f) 20 times | 0.73 | 0.75
Save 20 times (ctr+s) | 0.73 | 0.75

[2019-04-05 17:56] sguyader commented on #5261
Slightly less memory used with ```MALLOC_MMAP_THRESHOLD_=4096```:

  | neutral | locallab+wavelet
-- | -- | --
load RT | 0.2 | 0.2
open image in editor | 0.71 | 0.71
zoom in/out (z / alt+f) 20 times | 0.72 | 0.72
Save 20 times (ctr+s) | 0.73 | 0.73

[2019-04-05 18:03] Floessie commented on #5261
So we're not hunting big leaks here. There are still some little ones here and there which could make larger areas sticky in glib's `malloc()`.

Just my 2¢,
Flössie

[2019-04-05 18:05] sguyader commented on #5261
As a user, is it okay to run RT with ```MALLOC_MMAP_THRESHOLD_=4096``` for day-to-day use?

[2019-04-05 20:34] heckflosse opened #5268 "locallab: don't reprocess when just switching current spot"
When using more than one spot and switching between spots, the preview gets reprocessed. In my opinion we can skip the reprocessing. Suggested fix:

[code]

[2019-04-05 21:26] heckflosse opened #5269 "locallab: after deleting a spot the active spot always is the first spot"
It would be more logical if, after deleting a spot, the active spot would be the one before the deleted spot.

[2019-04-05 21:49] sguyader commented on #5269
Agreed, I was thinking the same.

[2019-04-05 21:53] sguyader opened #5270 "Locallab: allow show all / hide all spots"
When you have several RTspots, sometimes you want to have a better idea of the overall effect and just want to hide all the spots. Adding a button for "show all" / "hide all" spots would be more efficient than show/hide each individual spot.

[2019-04-05 23:23] heckflosse opened #5271 "locallab sharpening default values"
The current sharpening default values for locallab spots are not the same as the ones for sharpening in dev. I suggest to use the default values from dev also for newlocallab.

[2019-04-06 06:19] Pandagrapher commented on #5268
@heckflosse
In fact, it’s chosen otherwise mask curve backgrounds aren’t updated when switching from another spot

Pierre

[2019-04-06 06:24] Pandagrapher commented on #5270
@sguyader
To avoid having more buttons, what about shift+click on existing one to show/hide all ?

Pierre

[2019-04-06 09:11] heckflosse commented on #5268
@Pandagrapher Good point. Thinking...

[2019-04-06 09:26] Desmis commented on #5271
@heckflosse
Yes we can !
You do ?

jacques

[2019-04-06 09:56] heckflosse commented on #5271
@Desmis I will do that

[2019-04-06 10:19] heckflosse commented on #5268
Well, I think the mask handling needs some changes. Let's look at the exposure mask as an example.
Although the user gets the impression that the mask mode combobox is per spot (because it's in the exposure spot ui), that's not the case. The mode is always the same for all exposure spots. That means it's at the wrong place. It should be part of the global locallab settings imho. Then we could easi

[2019-04-06 10:53] sguyader commented on #5270
@Pandagrapher Yes shift+click is good idea!

[2019-04-06 10:58] Pandagrapher commented on #5270
Ok it’s on my todo list ;)

[2019-04-06 11:14] Pandagrapher commented on #5268
The mask mode combobox is in the tool GUI because it only applies on the selected spot (but the mode is kept if selected spot is changed). I managed it like this to have the same behavior that sharpening mask toolbar button: not saving a display setting which can be exported “by mistake”. Moreover, user would want to change the mode while playing on mask parameter, so I just let it next to. If we

[2019-04-06 11:48] Desmis commented on #5271
@heckflosse
Can I push a change, the "same" for retinex as for cbdl to improve "range" of shape detection, or shall I wait ?

jacques

[2019-04-06 11:59] heckflosse commented on #5268
Mask behaviour is a bit chaotic atm.
Example:
1) apply this pp3 to an image
[mask.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3050421/mask.pp3.txt)
looks good. Preview and Navigator show the same
![grafik](https://user-images.githubusercontent.com/13733487/55669121-ebad5780-5873-11e9-95f6-b2525d43f8bf.png)

2) set mask mode to `show mask`
looks good. Preview and Navigator show the same

[2019-04-06 12:00] heckflosse commented on #5271
@Desmis push :)

[2019-04-06 12:08] Desmis commented on #5271
@heckflosse
Thank you :)
Done

Btw : I have "format" Iplocallab.cc with astylert :)
jacques

[2019-04-06 15:14] Desmis commented on #5271
@heckflosse

Ingo
Can I push a change, or shall I wait ?
I just add (easy) a simplified "clarity" with CBDL, of course limited to 5 levels

jacques

[2019-04-06 15:27] heckflosse commented on #5271
@Desmis push

[2019-04-06 15:49] Desmis commented on #5271
@heckflosse
Ingo
Done
Thank you
jacques

[2019-04-06 15:59] mattiaverga commented on #5249
With the two above patches applied on top of RT 5.5 I get no more crashes. Thanks!

[2019-04-06 16:10] Floessie commented on #5249
@mattiaverga Mattia, could also give `dev` a try. Should be fixed there, too.

[2019-04-06 18:17] Benitoite commented on #4148
@TooWaBoo gtk 3.24.7 was merged to msys2/MINGW a couple of days ago, have you tried it yet?

[2019-04-06 20:30] TooWaBoo commented on #4148
I know, but it's still not available via update.

[2019-04-06 23:58] sdfsssdf opened #5272 "Haze Removal causes clipping only for RAW (NO FIX)"
hi there
can you add some switch to not affect hi-lights on dehaze?
please look on attached pics. it clipps  hi-lights even on 0.
so even if in ACR we use clarity+dehaze on 100, it never clips.
it works much better but this little problem must be solved, can you do something with it?

best regards

![on](https://user-images.githubusercontent.com/49338306/55676670-c6702600-5913-11e9-96c0-9c38651da4

[2019-04-07 04:35] Thanatomanic commented on #5272
While this may be an actual issue, this is absolutely not the way a bug report should be written.
1. The title is nondescriptive and unnecessarily demanding.
2. You do not provide any of the required information (http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports).
3. You use multiple tools at the same time, so there's no way to tell what is actually going on.
4. You are not using the

[2019-04-07 08:43] ilya-varivchenko commented on #5204
Found two more D65 samples, but they are also too far from perfect.  :(
https://drive.google.com/open?id=1vqASeslajwtwRrYWwHV0O4ayIptTL-2l
https://drive.google.com/open?id=1FUqc8Cfixo8M_1r4nBszK3DwVJJDi_tI

[2019-04-07 11:24] sdfsssdf commented on #5272
@Thanatomanic
1. I'm not a pro debugger .. and I have no idea what the problem is and what I need for it to become "scriptive"
I found the problem and posted it .. further editing as it is convenient, for him comfort, always produce the author of the repository.
2. 3. In one you are right, it seems that this does not always works the same, and only for RAW. for jpg it has a different effect for so

[2019-04-07 21:29] heckflosse commented on #5272
@sdfsssdf

It's perfectly fine that you use what you consider necessary. It's our business to decide what to do in RawTherapee and when to do that.

[2019-04-07 22:08] Beep6581 commented on #5272
Haze Removal does not clip highlights in the sample photo. There is also no haze in the sample photo.

[2019-04-07 22:08] #5272 closed, assigned to nobody

[2019-04-07 22:56] Beep6581 commented on #5272
Correction: Haze Removal causes clipping with strength=0 when the working space is small (sRGB, some in Adobe RGB).

[2019-04-08 03:39] sdfsssdf commented on #5272
@Beep6581

it only for raw,please try my settings when i use same pic in jpg in same sRGB it not clips.
anyway can it be fixed or add addishional checkbox in this ?
best regards

[2019-04-08 11:13] Beep6581 commented on #5204
@ilya-varivchenko
Panasonic DC-S1 dual-illuminant DCP added, will be part of RawTherapee 5.6.

![screenshot_20190408_125755](https://user-images.githubusercontent.com/5844619/55719846-8a19f400-59ff-11e9-884d-585579f89c92.png)
![screenshot_20190408_130319](https://user-images.githubusercontent.com/5844619/55719848-8ab28a80-59ff-11e9-9e6d-3fb4b6a9315b.png)

Issue stays open as RT does not yet suppor

[2019-04-08 11:15] Beep6581 commented on #5204
Mirror of white frames (bin in first post expired):
https://filebin.net/sr4s29v8vbg12tvj

[2019-04-09 14:43] Desmis commented on #5271
@heckflosse
Ingo
I have found a huge bug in "Blur and noise"
It's my fault, it is an very old bug...

Please, can you not post any commit
Thank you

jacques

[2019-04-09 14:46] heckflosse commented on #5271
@Desmis Jacques, ok

[2019-04-09 14:51] Desmis commented on #5271
@heckflosse

Thank you

This bug is huge, since how time ???
Because one year ago, it's work...
But I have found...

[2019-04-09 15:57] Desmis commented on #5271
@heckflosse
@sguyader
Now it works as it would be :)
Tomorrow, I will clean code in GUI

Thank you
jacques

[2019-04-09 16:27] TooWaBoo commented on #4148
gtk3-3.24.7-1 is out. The lensfun bug is fixed. No issues found so far but I got these warnings after MSYS2 update.
[code]

[2019-04-09 16:27] Desmis commented on #5271
@heckflosse
Ingo
I will soon push a commit with clean GUI blurnoise

jacques

[2019-04-09 16:29] Desmis commented on #5271
@heckflosse
Ingo

Done :)
thank you

[2019-04-09 21:21] Hombre57 commented on #5267
@fortiernor @Floessie I've pushed this minor change to `dev`.

@fortiernor Just FYI, there's a stalled issue #2624 about supporting multiple snapshots per image. Maybe this discussion will be of any interest to you. Have you opened an issue for your intended patch ?

[2019-04-09 21:21] #5267 closed, assigned to nobody

[2019-04-10 07:41] Beep6581 commented on #5115
@scx Copr repo added, please verify:
https://rawtherapee.com/downloads

[2019-04-10 07:41] #5115 closed, assigned to Beep6581

[2019-04-10 08:03] Beep6581 commented on #4150
Removing milestone, but leaving issue open for further experimentation.

[2019-04-10 10:00] scx commented on #5115
@Beep6581

It looks fine. Thanks a lot!

[2019-04-10 11:08] Beep6581 commented on #5115
Thank you.

[2019-04-10 11:33] #5132 closed, assigned to Beep6581

[2019-04-10 12:52] Beep6581 commented on #5103
Branch ready: https://github.com/Beep6581/RawTherapee/tree/release-5.6

I will tag 5.6-rc1 tonight if no objections.

[2019-04-10 14:25] Floessie commented on #5103
Builds and runs fine on Debian 10 amd64/i386/ppc. :+1:

[2019-04-10 15:12] agriggio commented on #5103
I have a fix for dehaze that I forgot to backport to `dev`, but maybe it's too late?

[2019-04-10 15:19] Beep6581 commented on #5103
@agriggio what's the fix?

[2019-04-10 15:22] heckflosse commented on #5103
@agriggio Alberto, it's (almost) never too late

[2019-04-10 15:23] heckflosse commented on #5103
Builds and runs fine on Win7/64

[2019-04-10 15:27] Beep6581 commented on #5103
As my spiritual guru Sylvester Stallone said, "It's not over till it's over".

[2019-04-10 16:33] agriggio commented on #5103
it's a fix to avoid mismatch between preview and output:

https://discuss.pixls.us/t/haze-removal-wrong-colors-in-export/11969/36?u=agriggio

[2019-04-10 18:29] Floessie commented on #5103
@Beep6581

Spiritual guru... :joy: Now I can't get that catchy tune by Lenny Kravitz out of my head... :notes: :dizzy_face:

[2019-04-10 18:39] Beep6581 commented on #5103
@agriggio as no one has complained about this in RT yet, and as we haven't seen the patch and I don't want to commit last-minute untested patches to a release candidate (testing should be allowed to take days at least, and usually involves code tweaks), and as it's already 9PM, I'm going to go ahead and tag the release, and we can include the fix in 5.7, "out soon".

[2019-04-10 18:57] Beep6581 commented on #5103
RawTherapee 5.6-rc1 is released:
https://github.com/Beep6581/RawTherapee/blob/5.6-rc1/RELEASE_NOTES.txt#L31
https://rawtherapee.com/blog/rawtherapee-5.6-release-candidate-1

If builds show up quickly and if no issues arise, 5.6-final will be released around this weekend.

[2019-04-10 19:31] agriggio commented on #5103
fair enough. I've seen discrepancies myself fwiw, but I'd need to dig out the examples. anyway I'm sick so I won't be able to commit today

[2019-04-10 22:18] #5271 closed, assigned to nobody

[2019-04-10 23:52] #5203 closed, assigned to heckflosse

[2019-04-10 23:54] heckflosse commented on #3450
I guess we can close this

[2019-04-10 23:55] #3275 closed

[2019-04-10 23:55] #1859 closed

[2019-04-11 09:05] Floessie commented on #5103
`5.6-rc1` builds and runs fine on an updated FreeBSD 12, too.

[2019-04-11 09:24] Beep6581 commented on #4964
No progress, closing.

[2019-04-11 09:24] #4964 closed, assigned to nobody

[2019-04-11 09:33] Beep6581 commented on #3450
@heckflosse is the issue fixed?

[2019-04-11 09:48] heckflosse commented on #3450
@Beep6581 I don't know. I could never reproduce it and it was not reported again for quite a while.

[2019-04-11 09:56] Beep6581 commented on #3450
Yes, I haven't seen it mentioned in a long time, so closing.

[2019-04-11 09:56] #3450 closed

[2019-04-11 10:54] Beep6581 opened #5276 "Allow disabling scaling"
I just ran the 5.6-rc1 AppImage and found that the default font size is 10 which results in scaling and blurriness of icons which are designed to be pixel-sharp. I want to change this for 5.6.

@Hombre57 is it enough to set `fontSize = 9;` to have no scaling on a clean install in Windows, Linux and macOS?
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.cc#L345

[2019-04-11 11:01] Beep6581 commented on #5276
Top if current default on a clean install, bottom is with font size 9 (Linux):
![rt_font_10_9](https://user-images.githubusercontent.com/5844619/55952391-ce083580-5c59-11e9-8b86-45b69158ee4b.png)

[2019-04-11 11:19] Beep6581 commented on #5276
Setting `fontSize = 9;` in `options.cc` made no difference on a clean run, seems the default font size is inherited from my system.

[2019-04-11 13:17] Floessie commented on #3636
@Hombre57 @Beep6581 To my surprise `m-bugfix` doesn't seem to be part of `dev` (and `release-5.6`), yet. Isn't it deemed that important?

[2019-04-11 13:50] Beep6581 commented on #3636
Quick look, the issue was not tagged 5.6, and as far as I can tell the branch `m-bugfix` was [not tested by the OP](https://github.com/Beep6581/RawTherapee/issues/3636#issuecomment-476134532).

[2019-04-11 14:18] Beep6581 commented on #3636
Ping @mandree

@Floessie what do you suggest?

[2019-04-11 14:25] Floessie commented on #3636
@Beep6581 Leave it for 5.7

Concerning the `libatomic` thing: I've successfully built 5.6-rc1 on FreeBSD 12 with Clang 6.0.1 from scratch without problems. Does this problem still persist, @mandree?

[2019-04-11 16:50] Hombre57 commented on #3636
@Beep6581 @Floessie The `m-bugfix` is quite safe and I don't see any reason not to merge it to dev : it adds a cleanup function along like for other class, and even if it doesn't solve this issue, it won't harm. So I'd merge it for 5.6.

[2019-04-11 16:51] Hombre57 commented on #3636
@Beep6581 @Floessie The `m-bugfix` is quite safe and I don't see any reason not to merge it to dev : it adds a cleanup function like for other class, and even if it doesn't solve this issue, it won't harm. So I'd merge it for 5.6.

[2019-04-11 17:54] gaaned92 commented on #5103
W10: builds and runs fine
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_release-5.6_5.6-rc1-1-gf237a9a0b_WinVista_64_190411.zip uploaded

[2019-04-11 18:54] Hombre57 commented on #5276
@Beep6581 I don't mind setting the default value to whetever you want, but keep in mind that the scale factor depend on font size AND system wide font scaling (e.g. a Windows desktop will have 120% font scaling by default).

Please assign this to yourself as you'll decide and it's a [one liner](https://github.com/Beep6581/RawTherapee/blob/bb58e65ffca32d89368ae914316d18fb4f3f4288/rtgui/options.cc#L

[2019-04-11 20:03] #5162 closed, assigned to nobody

[2019-04-12 04:31] TooWaBoo commented on #5276
FYI
On WIN10 and a clean run, the default font is set to `Segoe UI` and `font size 9`.

[2019-04-12 05:10] sdfsssdf opened #5277 "wrong Colors raw"
hi
im on ver5.5 win10x64
please say me whats going with the colors and how to do fix it? or it some bug with only my camera raw?
i put screenshot to show how colors different from another soft, (DNG_Profile_Editor also PS)
so in DNG_Profile_Editor and PS i have real colors like it must be with my corrected profile.
[files.zip](https://github.com/Beep6581/RawTherapee/files/3071624/files.zip)
i was

[2019-04-12 05:14] Thanatomanic commented on #5277
Please post your question on our forum at http://discuss.pixls.us, since this is (most likely) not a bug report.

[2019-04-12 05:14] #5277 closed, assigned to nobody

[2019-04-12 05:54] sdfsssdf commented on #5277
i post it as you said, but it looks like bug or camera not supporting..
hope somebody help me bc it real problem for me...
also they have many limits for some rules// temporarily limit what new users can do
im not shure i can get answer there..bc im new there.

[2019-04-12 07:27] Pandagrapher commented on #5266
@heckflosse @Desmis
I have fixed this issue with commit `152d8c3`
Pierre

[2019-04-12 07:54] Desmis commented on #5266
Ok thank you :)

jacques

[2019-04-12 17:15] #5246 closed, assigned to heckflosse, Desmis

[2019-04-12 19:03] da-phil commented on #4264
I'm closing this issue because I could not reproduce the behavior again, after using the latest version from master branch.

[2019-04-12 19:03] #4264 closed, assigned to nobody

[2019-04-13 10:29] Beep6581 commented on #4264
I hope you tried the latest version from `dev` branch.

[2019-04-13 10:40] agriggio commented on #4630
Here's a patch that should improve the situation, at least in most cases. There will still be some mismatches at "extreme" settings, but avoiding that completely is not so easy. Note that the patch includes a similar fix for dehaze, which suffers from analogous problems (though unfortunately I can't find a sample image to demonstrate this right now).

[code]

[2019-04-13 11:45] Beep6581 commented on #5276
The default font size is inherited from the system, and that's fine, however that can result in scaling when the inherited font size is not 9pt, possibly also depending on DPI, so I'm changing the title of this issue.

As discussed with @Hombre57 in IRC, it wouldn't hurt to have a checkbox to completely disable scaling. Most people do not have HiDPI screens, and won't for years to come. Such a che

[2019-04-13 11:59] Beep6581 opened #5281 "Branch icon-size-fix"
Branch `icon-size-fix` causes no problems and seems to make no difference in Linux using GTK+3.24.1

1. GDK_SCALE=1, font=9pt, `dev` `5.5-291-g`bb58e65ff:
![rt-9pt-1-dev-vanilla](https://user-images.githubusercontent.com/5844619/56079399-33902980-5df4-11e9-83c3-7bede7179906.png)
1. GDK_SCALE=1, font=9pt, `icon-size-fix`:
![rt-9pt-2-icon-size-fix](https://user-images.githubusercontent.com/5844619/5

[2019-04-13 12:07] Beep6581 commented on #5103
I'm waiting for more information regarding [the scaling issue](https://discuss.pixls.us/t/test-rawtherapee-5-6-rc1/12073/51?u=morgan_hardwood) before deciding how to proceed.

[2019-04-13 13:20] sdfsssdf commented on #5277
@Beep6581

https://discuss.pixls.us/t/wrong-colors-raw/12084
hope dev. can say any solution for me or do something with this problem

i understand that different editors works different, but if i put color profile i wanna see profile colors…
i love setup all details etc in RawTherapee, but it real problem to setup colors becouse i see reference, it so far from real, i dont wanna lose my converting

[2019-04-13 13:25] Beep6581 commented on #5277
I will reply in the forum.

[2019-04-13 14:08] Hombre57 opened #5282 "HiDPI support on MacOS"
This issue is to discuss how to get better support of HiDPI on MacOS, as discussed in [this thread](https://discuss.pixls.us/t/test-rawtherapee-5-6-rc1/12073) and [this thread](https://discuss.pixls.us/t/help-test-rawtherapee-on-retina-4k-etc-hidpi-monitors/10705).

@Benitoite I'll need your help to test patch. At first, I find surprising that you had to raise the font size up to 18pt to get clean

[2019-04-13 16:23] Benitoite commented on #5282
Ok I can test today after an errand.

Sent from my iPhone

[2019-04-13 16:43] Hombre57 commented on #5282
@Benitoite Here is an updated patch, one printf was wrong.

[hidpi-printf.txt](https://github.com/Beep6581/RawTherapee/files/3076463/hidpi-printf.txt)

Forgot to mention : to be applied into `icon-size-fix` branch.

[2019-04-13 18:13] heckflosse commented on #4630
@agriggio Alberto, compiles and works fine on Win7/64

[2019-04-13 19:26] Benitoite commented on #5282
updated patch applied and built. These are the screenshots for RawTherapee theme 9pt and 14pt. (restart required, etc.)

Terminal output:
[code]

![Screen Shot 2019-04-13 at 12 17 41 PM](https://user-images.githubusercontent.com/17919239/56084300-3be16800-5de6-11e9-9cee-02153b5a123e.png)

![Screen Shot 2019-04-13 at 12 20 19 PM](https://user-images.githubusercontent.com/17919239/56084328-98448780-

[2019-04-13 19:59] Hombre57 commented on #5282
The icon size seems logical in regard of your font size in pt. Maybe a `sans` font would make the size difference less visible.

Now the interesting bit will be with a HiDPI resolution.

[2019-04-13 20:04] Hombre57 commented on #5282
It would be nice if Paul Miller could use this version to report the debug output.

[2019-04-13 20:39] Benitoite commented on #5282
I have offered Paul Miller a link to https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.5-292-gd01d99481-patchAA.zip the patched mac build on the pixls.us forum.
Here is a screenshot of Helvetica 12.
![Screen Shot 2019-04-13 at 1 34 20 PM](https://user-images.githubusercontent.com/17919239/56085015-65ec5780-5df1-11e9-8bd2-f280de997ee9.png)

[2019-04-13 21:50] Hombre57 commented on #5282
@Benitoite What is the debug output for this screenshot ? What is the folder name inside `cache/svg2png` ? What is the size of e.g. `exposure.png` inside this folder ?

[2019-04-13 21:58] Benitoite commented on #5282
[code]

`cache/svg2png/96`
Dimensions: exposure.png = 32 x 32

[2019-04-13 22:23] Beep6581 commented on #5281
Handled by #5282

[2019-04-13 22:23] #5281 closed, assigned to Hombre57

[2019-04-13 23:10] Hombre57 commented on #5276
@Beep6581 Do you mean disabling scaling depending on the font size but still scaling for HiDPi screens, or totally disabling HiDPI support ?

[2019-04-14 00:15] TooWaBoo commented on #5276
The themes are created with the unit `em`. Switching off scaling is only possible for the icons.

[2019-04-14 00:25] TooWaBoo commented on #5282
The icons are to big (32 x 32) on @Benitoite's screenshot. The GUI on the Mac with `font size 12pt` should look identical to Linux/Win in `font size 9`. Icon size should be (24 x 24).

EDIT: Hmmm 🤔, on Windows/Linux the base font size is `9pt`. I think we have to use `12pt` as the base font size in the calculation for the scaling factor on the Mac.

Windows/Linux
`(System-dpi / 96dpi) * (RT-font-s

[2019-04-14 09:23] Hombre57 commented on #5282
@TooWaBoo Thanks for the tip ; I've committed a patch that works fine here. Could you please test @Benitoite , with this updated patch applied ?

[hidpi-printf.txt](https://github.com/Beep6581/RawTherapee/files/3077211/hidpi-printf.txt)

[2019-04-14 09:37] mandree commented on #3636
Sorry, I got distracted and wasn't keeping this on my personal leisure TODO-list, so missed it. Thanks for the ping, am testing 5.6-rc1 and m-bugfix today. On 5.6-rc1, FreeBSD 12.0-RELEASE-p3, amd64 (think x86_64), the OMP vectorization warnings persist, as does "/usr/bin/ld: error: unable to find library -latomic" the libatomic-missing-under-clang issue. Compiler is FreeBSD clang v6.0.1/x86_64-un

[2019-04-14 10:22] TooWaBoo commented on #5282
@Hombre57
Works fine on Win10.

[2019-04-14 10:39] mandree commented on #3636
So. m-bugfix works on FreeBSD 12.0-RELEASE-p3 amd64 if I avoid libatomic, this way:

[code]

Same thing with 5.6-rc1, also needs the patch above; for reasons I do not fully understand it does not seem to require m-bugfix, or I haven't reproduced the situation that caused the crash when I figured we'd need that. At any rate, m-bugfix looks cleaner than what I proposed earlier.

I'd vote to merge m-

[2019-04-14 10:44] Hombre57 commented on #5282
@Floessie I remember that you told me something about the RTImage not being updated on font size change, but don't remember in which issue/PR and what it was. Do you have better memory than me ?

[2019-04-14 11:04] Beep6581 commented on #5276
I'm not clear on what you understand by that, as what we're doing goes against the GTK+ definition of HiDPI:

@Hombre57 I'm suggesting a checkbox which results in RT-5.5 behavior, where the icon sizes are unaltered, and RT does not alter the DPI, the scale, or anything else. Of course it would be great if RT could scale everything correctly on every platform - then this checkbox would serve just a

[2019-04-14 11:06] Beep6581 commented on #3636
Since we need another RC due to the scaling issues, I'm +1 for merging `m-bugfix` for 5.6.

@Floessie is the cmake change above ok with you?

[2019-04-14 13:17] Hombre57 commented on #5276
@Beep6581 Forcing GDK_SCALE to 1 comes just after entering `main`, so prepare removing HiDPI support from the release notes [EDIT: which isn't really HiDPI support anyway]. I'll create a new branch in few minutes.

[2019-04-14 14:59] Hombre57 commented on #5276
@Beep6581 Should be solved by commit 89e6363, in new `hidpi-optional` branch.

[2019-04-14 15:22] Hombre57 commented on #5276
@Beep6581 Small bugfix added in commit feb122553e5ddfa81b8054ee6cc62c5e7e02d73a.

[2019-04-14 15:58] Floessie commented on #5282
@Hombre57 I'm honestly sorry, but I can't remember as well. Must have been quite some time ago...

[2019-04-14 16:01] Floessie commented on #3636
@Beep6581 Shouldn't hurt. :+1:

[2019-04-14 22:55] Hombre57 commented on #5276
Oh, and forgot to mention that the new option disable the feature entirely, but still works as before if checked.

To have real HiDPI support, you'll have to wait for its support in Gtk::CellRenderer or create your own image renderer. Unless you find more/better info in the doc than I did.

[2019-04-15 09:29] Benitoite commented on #5282
looks nice on 1080p with latest patch @Hombre57
[code]
![Screen Shot 2019-04-15 at 2 21 54 AM](https://user-images.githubusercontent.com/17919239/56121696-8a495080-5f25-11e9-9d29-9eab372a6209.png)

[2019-04-15 10:09] Beep6581 commented on #3636
Merged and CMake patched, closing.

[2019-04-15 10:09] #3636 closed

[2019-04-15 10:30] Beep6581 commented on #5276
@Hombre57 thank you, `hidpi-optional` works fine here, +1 for merge.

[2019-04-15 11:20] Desmis commented on #5261
@Floessie  @Pandagrapher  @heckflosse @sguyader

I push a branch "newlocallab_flo_memleak"
This branch contains the "big" patch (with the time, I change manually current code"...big job!... I hope no error ...)  and the last 152d8c3

By cons, It does not take into account the crash in "blur" when the spot is outside the preview

jacques

[2019-04-15 13:41] Hombre57 commented on #5276
@Beep6581 Do I have to make a double merge ( `hidpi-optional` into `icon-size-fix` then into `dev`) ? Or can I merge `hidpi-optional` to `dev` directly ?

[2019-04-15 14:12] Beep6581 commented on #5276
@Hombre57 either is fine, but as it's unrelated to `icon-size-fix` I would merge it directly to `dev`.

[2019-04-15 14:20] Floessie commented on #3636
Tested `dev` on FreeBSD 12. Builds and runs just fine. :+1:

To make OpenMP work with current CMake on FreeBSD 12 I followed [this advice](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223678#c6).

[2019-04-15 15:07] Beep6581 opened #5283 "locallab - come up with more suitable name"
I'm seeing "locallab" and "Local L\*a\*b\*" used in more and more places, but that name does not reflect what the tool currently does - I'm assuming the tool is not confined to the L\*a\*b\* color space, and even if it is, that's something to be mentioned in the docs, but does not have to constitute its name.

@Desmis @Pandagrapher et al, let's come up with a better, ultimate name so that we can s

[2019-04-15 15:16] Desmis commented on #5283
@Beep6581
it's the stock market with ideas, the best are welcome

I initially called this module "Locallab" which turned into "Local L*a*b*" because, it is a **local** control, and all the modules works in **Lab**, and never in RGB

Jacques

[2019-04-15 15:25] Hombre57 commented on #5276
Then second question : can I merge `icon-size-fix`, it works fine for Linux and Windows and makes partly solve things for MacOS.

[2019-04-15 15:42] Benitoite commented on #5282
@Hombre57 also see [Paul Miller's test](https://discuss.pixls.us/t/test-rawtherapee-5-6-rc1/12073/73?u=hiram) on his Retina laptop screen.

[2019-04-15 15:44] Desmis commented on #5283
Today there are only "Spot" that work on the "gradient" mode... with only 2 "delimiters" - ellipse and rectangle.
 It's only a GUI problem (I don't know how to do !) to have another(s) delimiters. The "only" constraint is : the "curve" must pass by 2 summits (X and Y), be inscribed in the rectangle - center - X - Y, and to be homothetic. in this case the GUI will produce a LUT usable as "ellipse"

[2019-04-15 15:46] TooWaBoo commented on #5282
The icons of Paul Miller's test are twice as big as they should be. The GUI size is o.k. Did he do the test with the latest patch?

[2019-04-15 16:29] Beep6581 commented on #5276
@Hombre57 when I tested `icon-size-fix` two days ago (#5281) it caused no issues on my end (it made no difference I could spot). Compiling again now.

[2019-04-15 16:47] Beep6581 commented on #5276
@Hombre57 no problems here, +1 for merge to `dev`.

[2019-04-15 18:22] heckflosse commented on #5283
@Desmis

with the exception of `dehaze` ;-)

[2019-04-15 19:21] Desmis commented on #5283
An other exception
Warm cool with Ciecam :)

[2019-04-15 19:43] mandree commented on #3636
I've packaged (but not committed) b8b09b99 from Github, it seems to compile fine for 11.2 i386, 11.2 amd64 and 12.0 amd64. 12.0 amd64 passes smoke tests, and for reasons I haven't yet figured out, will use GCC, not clang.

[2019-04-15 20:38] Hombre57 commented on #5276
@Beep6581 `hidpi-optional` and `icon-size-fix` merged into `dev`.

[2019-04-15 20:38] #5276 closed, assigned to Hombre57

[2019-04-15 20:39] Benitoite commented on #5282
@toowaboo yes latest patch

[2019-04-15 20:41] Hombre57 commented on #5282
The latest patch should have disabled the 2x scale factor. Looking...

[2019-04-15 20:43] Hombre57 commented on #5282
@Benitoite Which branch is `gace5a0113` ?

[2019-04-15 20:45] Beep6581 commented on #5282
@Hombre57 `origin/icon-size-fix` ace5a011369f60928f8c975155dd93c19a911d9f (the "g" in your string is not part of the commit hash).

[2019-04-15 20:49] Hombre57 commented on #5282
@Benitoite Then the 2x scale for icons is normal. With the latest dev (with merged branch), pseudo-HiDPI support is disabled by default. Enabling it will not make work on MacOS, unless you use a _native scale_ resolution.

[2019-04-15 21:00] Hombre57 commented on #5282
@Benitoite Could you have a look at [this page](https://www.tekrevue.com/tip/hidpi-mode-os-x/) ? There's a Preference panel where a resolution is tagged as **HiDPI**, but does it still exist on latest MacOS version ? Or something similar ? Those tagged version shouldn't work for RT, to be verified.

[2019-04-15 21:10] Beep6581 commented on #5282
To clarify, we believe those resolutions tagged " (HiDPI)" are incompatible with RawTherapee's pseudo-HiDPI mode (you must manually enable pseudo-HiDPI mode in Preferences in the latest dev, `5.5-306-g`7d33fc40c), while the ones not tagged are compatible. Please verify, and would be great if you could make a build for paulmiller to verify.

[2019-04-15 21:31] mandree commented on #3636
I've packaged (but not committed) b8b09b99 from Github, it seems to compile fine for 11.2 i386, 11.2 amd64 and 12.0 amd64. 12.0 amd64 passes smoke tests, and for reasons I haven't yet figured out, will use GCC, not clang.

[2019-04-16 04:34] Benitoite commented on #5282
@Hombre57 a couple of these hidpi modes exist in the latest macOS. Effective resolution is low and usually not available by default.
@Beep6581 ok i can make a dev branch build.

[2019-04-16 15:51] Benitoite commented on #5282
@Beep6581 on my 1080p system, enabling pseudo-hidpi mode in RT and restarting has no effect (is deselected after restart).
@Hombre57 @TooWaBoo It seems to me like 10pt is too small to be the default font size on mac. Maybe I'm just old?

Some 1080p screenshots:

10pt (default):
![Screen Shot 2019-04-16 at 8 18 44 AM](https://user-images.githubusercontent.com/17919239/56224180-032ed200-6024-11e9-9f

[2019-04-16 16:06] TooWaBoo commented on #5282
@Benitoite
At font size 10pt and 11pt the buttons have a bevel but on 12pt the buttons are flat. Do you know why?
I've created a new issue to discuss this problem: https://github.com/Beep6581/RawTherapee/issues/5285

[2019-04-16 16:22] TooWaBoo opened #5285 "Gradients in themes are not shown on the Mac"
It looks like gradients are not shown on the Mac.
@Benitoite
Can you test this theme, please?
[TooWaBlue-Gradient-Test-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/3085872/TooWaBlue-Gradient-Test-GTK3-20_.css.txt)

[2019-04-16 16:27] Beep6581 commented on #5282
On my system, Sabayon Linux, enabling Pseudo-HiDPI mode has no visible effect when the font size is set to 9pt. This is correct. When the font size is anything else, with Pseudo-HiDPI mode disabled the icons do not scale, while if you enable Pseudo-HiDPI mode the icons are scaled (of course after restarting).

[2019-04-16 16:29] Beep6581 commented on #5282
Off-topic, but I'm curious, @Benitoite why are all your screenshots so dark, even when the histogram shows there should be white clipping?

[2019-04-16 17:33] Beep6581 commented on #5282
@Hombre57 we discussed last night that the resolutions tagged "(HiDPI)" in macOS interact badly with RT's HiDPI. But what about the situation where the macOS "Display" panel doesn't show any resolutions, as in paulmiller's screenshots? https://discuss.pixls.us/t/test-rawtherapee-5-6-rc1/12073/13?u=morgan_hardwood

[2019-04-16 18:56] Hombre57 commented on #5282
@Beep6581 I googled that for 30mn but still no answer, unless you "option-clic" on the Scaled radio button, but [Apple's online help](https://support.apple.com/en-us/HT202471) says that it's only for external monitor.

Looks like they sometime push the simplicity philosophy a bit too far.

[2019-04-16 20:21] heckflosse opened #5286 "newlocallab: Spot WB, crop and straighten from toolbar are broken"
To reproduce:

1) Open an image
2) click Spot WB button in toolbar. Result: WB tool is opened but editor is still in hand-mode
![grafik](https://user-images.githubusercontent.com/13733487/56241329-e59a5080-6095-11e9-81ae-6f20742a6587.png)

Works fine in dev.

[2019-04-16 21:47] Beep6581 commented on #5103
I will tag 5.6-rc2 tomorrow. @Benitoite @gaaned92 would be great if you were available in the evening (Europe-time) to make builds, then there's a chance we could have 5.6-final for Easter.

[2019-04-17 07:45] Pandagrapher commented on #5286
It’s maybe due to my commit `690df79e`
Gonna have a look

Pierre

[2019-04-17 13:01] Beep6581 commented on #5103
5.6-rc2 is tagged, @Benitoite @gaaned92 please link to builds either here or preferably directly in the forum https://discuss.pixls.us/t/test-rawtherapee-5-6-rc2/12165

[2019-04-17 18:08] gaaned92 commented on #5103
Done:
 https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_releases_5.6-rc2_WinVista_64_190417.zip
uploaded
link provided also on pixls

[2019-04-17 19:27] Beep6581 commented on #5103
@gaaned92 seems there's an issue with missing "+" icons in the tree browser.

[2019-04-17 20:02] gaaned92 commented on #5103
@Beep6581
What I see missing are the arrows (triangle shape) in front of folders.
Surely a bad MSY2 update of adwaita icons theme.
I am looking at that.
edit:should be corrected now

In \mingw64\share\icons\Adwaita\scalable\actions folder, all the `pan*.svg` icons are missing in the last update. I just copied them back.

[2019-04-18 15:22] TooWaBoo commented on #5285
ping @Benitoite

[2019-04-18 15:44] Benitoite commented on #5285
@TooWaBoo sorry about the delay.
Here's a screenshot of the Gradient-Test theme (Helvetica 11):
![Screen Shot 2019-04-18 at 8 40 35 AM](https://user-images.githubusercontent.com/17919239/56373394-aebb5c00-61b5-11e9-8804-551ce4fcfcd8.png)

[2019-04-18 15:51] mandree commented on #3636
further FreeBSD status:
* 5.6-rc2 from tarball builds fine on 12.0 amd64, 11.2 i386, 11.2 amd64, 11.2 aarch64 (64-bit ARM, w/o OpenMP).
* I received a report that our PowerPC64 compiler dislikes -march=generic, and
* GCC8 isn't available on MIPS64 so I cannot build all requisites.

[2019-04-18 15:56] TooWaBoo commented on #5285
@Benitoite
Thanks, is it font size 12? If yes, can you provide a screenshot of font size 11 or 10, please?
If it's not 12, provide a screenshot in font size 12, please.

[2019-04-18 16:04] Benitoite commented on #5285
Sure,
here is Helvetica 12:
![Screen Shot 2019-04-18 at 9 01 26 AM](https://user-images.githubusercontent.com/17919239/56374660-926cee80-61b8-11e9-9a7d-d3c5155363f8.png)

[2019-04-18 16:08] Benitoite commented on #5283
Radial adjustments

[2019-04-18 16:26] TooWaBoo commented on #5285
Thanks, some fancy styles behave weird on the Mac.
Buttons, scale slider, scale slider through, progressbar have a gradient and a box shadow.
At font size e.g. **11** the gradient is shown on all these objects except for the ton curve combined button but the box shadow is not shown.

At font size **12** the gradient is shown only on the scale slider but the box shadow is shown on all other objects

[2019-04-18 18:10] Pandagrapher commented on #5265
@Beep6581
In fact, this patch doesn't completely deactivate `treeview` search. Pressing Ctrl+F the search popup reappears if `treeview` is focused, otherwise a Gtk-critical error is raised. I have introduced your patch then corrected the side effects with commit `853a6f0`

Pierre

[2019-04-18 20:42] ronanM opened #5289 "Cache file based on canonical path of image (for symlinks)"
In my workflow I use many different symlinks to original images.

[code]
[code]

Rawtherapee will create a cache file for each file (original and symlinks).

Is it possible to create only one cache file for original and reuse it for all the symlinks targeting this original ?

See also: `readlink --help`

[2019-04-19 06:35] Hombre57 commented on #5289
@ronanM RT create an MD5 number of the canonical filename (including the whole path) to handle the case where the same file is located in different folder, so it's done by design.

[2019-04-19 07:52] ronanM commented on #5289
I'm not sure that's currently works like that.

I have lot of duplicate files (same content) in `cache/images`.

[2019-04-19 07:56] Beep6581 commented on #5282
Close?

[2019-04-19 07:59] Beep6581 commented on #5103
I will tag 5.6 this evening.

[2019-04-19 08:22] TooWaBoo commented on #5285
This issue is a bug in GTK+ on MacOS. My workaround makes the TWB-theme usable and it behaves like the RT-theme.

Shall we close it? @Benitoite , @Beep6581

[2019-04-19 10:10] heckflosse commented on #5289
@ronanM It's done by design to have one cache file for each {path}/{image file} combination

[2019-04-19 11:18] #5285 closed, assigned to TooWaBoo

[2019-04-19 11:20] heckflosse opened #5290 "RT png code will break (probably soon) if we dont change it"
From [here](http://www.libpng.org/pub/png/libpng.html)

[code]

[2019-04-19 11:38] heckflosse commented on #5290
I had a look at the RT png code. Seems it was already done the right way (no direct struct-access).

[2019-04-19 11:38] #5290 closed, assigned to nobody

[2019-04-19 12:55] ronanM commented on #5289
In my exemple I will have 3 files in `cache/images` not 1 (as needed).

[2019-04-19 13:23] heckflosse commented on #5289
With current code it's not possible.

[2019-04-19 13:25] Desmis commented on #5283
A few words that may appear, in combination or not

Adjustements,  Edit, Gradient,  L *a * b * , Lab, Local,  Radial, Rawtherapee, RT, RT-Spot, Spot, U (you), U-RTspot, etc.

[2019-04-19 13:36] Thanatomanic commented on #5283
My 2 cents on this would to go for the slightly more verbose "Local adjustments". I would associate "Spots" with a spot removal tool / clone brush. "Local adjustments" also allow for future development into all kinds of shapes and sizes of adjustments.

[2019-04-19 13:38] heckflosse commented on #5289
Though the idea is interesting. I will have a look.

[2019-04-19 16:47] Hombre57 commented on #5282
@Beep6581 Only real HiDPI support (from Gtk pov) will solve this issue. I'll open a new issue and close this one with a reference.

[2019-04-19 18:25] sguyader commented on #5283
I was going to suggest "Local adjustments" as well.

[2019-04-19 20:13] heckflosse commented on #5283
:+1: for `Local adjustments`

[2019-04-19 21:02] Hombre57 commented on #5289
@heckflosse Why would this idea be interesting ? On the contrary, the actual way let Linux users create multiple processing of the same file thanks to symlink. Do you really want to remove this collateral feature ?

[2019-04-19 21:22] ronanM commented on #5289
@Hombre57 In my use case `.pp3` files are also linked, not only the image files.

With this trick, I've lot of links organized by combination of date/iso/panoramaSources/ranks/type/...  with several orderings (workaround for #3317).

[2019-04-19 21:34] heckflosse commented on #5289
@Hombre57 It would reduce the amount of disk space needed to store the cache files in case you use symlinks.

[2019-04-19 21:44] heckflosse commented on #5289
@Hombre57

Not only Linux users. Symlinks also work on [windows](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/mklink).

For sure I dont want to remove that feature. But the cache could be improved by not storing duplicate data.

[2019-04-19 22:20] Hombre57 opened #5291 "Real HiDPI support"
RT actually support theme scaling and icon scaling, but it do so manually based on the initial condition (at startup time), and with forcing `GDK_SCALE` to 1. It works fine in Windows and in Linux (hat has been tested), but not on MacOS, at least not with HiDPI resolutions, as reported in issue #5282.

This issue will list the list of change in RT so have real HiDPI support, compliant with the Gtk

[2019-04-19 22:27] Hombre57 commented on #5282
There' still partial pseudo-HiDPI support, solving this issue will be done by solving issue #5291, so closing as a duplicate.

[2019-04-19 22:27] #5282 closed, assigned to Hombre57

[2019-04-19 23:01] heckflosse commented on #5289
@Hombre57 try this on windows:

1) copy a raw (foo.pef) into a folder `c:\hombre`
2) start cmd
3) cd to c:\hombre
4) call `mklink foo1.pef foo.pef`
5) Start RT and open folder `c:\hombre`
6) close RT
7) open Windows explorer
8) go to your RT-cache images folder

you will find two files with same content. One for foo.pef and another one for foo1.pef

That's what I want to improve: Only one cache fi

[2019-04-20 05:02] Desmis commented on #5283
As many peoples are for "Local Adjustements", instead of Local L * a * b *  I just change all labels with "Local Adjustements"

[2019-04-20 08:55] Desmis commented on #5283
I will be away next week

jacques

[2019-04-20 09:00] Beep6581 commented on #5283
Great.

[2019-04-20 09:00] #5283 closed, assigned to nobody

[2019-04-20 11:28] TooWaBoo commented on #4148
GTK3-3.24.8 is out. No issues found so far.

[2019-04-20 16:45] Pandagrapher commented on #5286
Well finally it wasn't due to that commit but it's now fixed with commit `3423e45`

Pierre

[2019-04-20 18:53] heckflosse commented on #5286
@Pandagrapher Can you pr your changes?

[2019-04-20 20:56] Benitoite commented on #5103
Here is a build for MacOS 10.9,10,11,12,13,14+:

https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6.zip
[code]

lensfun timestamp.txt: `1555785085`

Build by Richard Barber💈

[2019-04-20 21:05] Beep6581 commented on #5103
That was fast :D

[2019-04-20 21:17] Benitoite commented on #5103
A command alias calls the build script and copies the final zip to the keybase folder. :P

[2019-04-20 21:22] Beep6581 commented on #5103
A magician never reveals his secrets ;)

[2019-04-20 21:53] Benitoite commented on #5103
### `alias update56='sudo sh ~/macgenerateRT56 && cp ~/repo-rt/build/*zip /keybase/public/kd6kxr && echo "-update completed-"'`

#
[code]

[code]
[...]
[code]

[2019-04-21 01:26] mandree commented on #3636
5.6 has also hit the FreeBSD ports tree.

[2019-04-21 06:49] gaaned92 commented on #5103
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_5.6_WinVista_64.zip
 uploaded

[code]

Last lensfun update from 16/04/19.
Oh! I am the last to build 5.6 :worried:

[2019-04-21 09:39] Pandagrapher commented on #5286
@heckflosse
Done ;)

[2019-04-21 10:12] Beep6581 commented on #3636
Fantastic, I wish other distros were that fast.

[2019-04-21 10:17] Beep6581 commented on #5103
Thank you, all builds are now live.

I will work on the 5.5 and 5.6 milestones issues over the course of the week.

[2019-04-21 13:37] adds68 commented on #5113
Hi, Is there no chance to reconsider accepting @scx flatpak on Flathub? He has done all of the work, the only updates required would be bumping the version number when you release?

The app would the be installable from GNOME software and from here: https://flathub.org/apps/category/Graphics across all distros.

[2019-04-21 20:29] heckflosse opened #5294 "First doubleclick on an image after starting rt does not open the image"
In newlocallab branch, doubleclicking an image the first time after starting rt does not open the image

To reproduce:
1) start rt
2) double click on an image => does not open, bug.

Works fine in dev

[2019-04-22 07:41] TooWaBoo commented on #5294
@heckflosse
I have this bug in dev too. It looks like the window/widget isn't in foreground and the first click makes it active.

[2019-04-22 10:08] Pandagrapher commented on #5294
@heckflosse
I agree with @TooWaBoo: this bug is present in v5.6. You need to firstly do a single click on thumbnail browser, then a double click to start loading an image.

On `newlocallab` branch, this patch solves the problem (maybe it does too on `dev`):
[code]

Pierre

[2019-04-22 12:02] heckflosse commented on #5294
@TooWaBoo @Pandagrapher I can not reproduce in dev on Win7, strange...

[2019-04-22 15:25] laserpanda opened #5295 "custom labels/tags"
There really needs to be proper custom tagging. As colour and ratings already exist there must be some infrastructure already in place for this.

[2019-04-23 06:34] Beep6581 commented on #5294
I have experienced this in `dev` in the recent past, but cannot reproduce it in 5.6.

[2019-04-23 07:38] Floessie commented on #3636
@mandree

AFAIK there is no `-march=generic` (what ISA should that be?) but an `-mtune=generic`. This comes into play only if you provide `-DPROC_TARGET_NUMBER=1` when configuring the build.

`PROC_TARGET_NUMBER` is mostly interesting for x86 builds. Just skip it for other architectures.

HTH,
Flössie

BTW: Shall we add a "Compiling on FreeBSD" section to RawPedia? If so, would you come up with th

[2019-04-23 10:44] Pandagrapher commented on #5266
@heckflosse
Is it ok to close this issue?
Pierre

[2019-04-23 10:45] Pandagrapher commented on #5265
@heckflosse @Beep6581
Is it ok to close this issue?
Pierre

[2019-04-23 10:45] Pandagrapher commented on #5286
@heckflosse
Is it ok to close this issue?
Pierre

[2019-04-23 10:49] heckflosse commented on #5286
@Pandagrapher Yes, closing. Thanks a lot for the fixes :+1:

[2019-04-23 10:49] #5286 closed, assigned to nobody

[2019-04-23 11:12] heckflosse commented on #5266
@Pandagrapher Works fine, closing. Thanks for the fix :+1:

[2019-04-23 11:12] #5266 closed, assigned to nobody

[2019-04-23 11:14] heckflosse commented on #5265
Ok from me. @Beep6581 ?

[2019-04-23 11:43] Beep6581 commented on #5265
Fix confirmed.

[2019-04-23 11:46] Beep6581 opened #5297 "Treeview cell background color makes text difficult to read"
The background color of the cell which corresponds to the spot you're currently hovering over is quite aggressive and makes the text difficult to read. Could it use a more eye-friendly color?

![screenshot_20190423_134452](https://user-images.githubusercontent.com/5844619/56578448-fdaa2c80-65cd-11e9-91ea-216832604202.png)

[2019-04-23 11:47] #5265 closed, assigned to nobody

[2019-04-23 11:49] Beep6581 opened #5298 "Click spot center area to move it"
Currently one must click on the spot outline to move the spot. It would be nice if we could move it by clicking anywhere within the central spot, not only on its outline.

![screenshot_20190423_134809](https://user-images.githubusercontent.com/5844619/56578679-8032ec00-65ce-11e9-8b44-292c44782426.png)

[2019-04-23 13:43] Pandagrapher commented on #5298
@Beep6581
If you want to test:
[code]

Additional info: Can also move the spot selecting the ellipse/rectangle.

Pierre

[2019-04-23 13:47] Beep6581 commented on #5298
@Pandagrapher thank you. Tried and tested. I find that much easier to use!

Note that `rtgui/controlspotpanel.cc` and `rtgui/controlspotpanel.h` use wrong line endings. I can push a fix if you like - let me know when to do it.

[2019-04-23 13:56] heckflosse commented on #5298
@Pandagrapher Works fine. :+1: for push

[2019-04-23 14:00] Pandagrapher commented on #5298
@Beep6581

As I need to push the patch, I will correct the wrong line endings too (I have changed my IDE parameter not to have this problem anymore)

[2019-04-23 14:09] Pandagrapher commented on #5298
Done with commit `4cc2a34`

Pierre

[2019-04-23 15:21] Pandagrapher commented on #5269
Fixed with commit `13cad6c`: now the first remaining spot before the deleted one is selected after deletion.

Pierre

[2019-04-23 15:44] gaudry-daniel opened #5299 "5.6 AppImage does not run in Ubuntu 14.04"
Hi I used the 5.4 version with no problem but the newest one gives me this : any help is welcome

[code]

[2019-04-23 16:54] #5298 closed, assigned to nobody

[2019-04-23 16:56] Beep6581 commented on #5299
What is `RawTherapee-releases-5.6-20190420.bin`? Where did you get it from? What is its hash (MD5, SHA1, whatever)? What distro and version are you running? What did you have for dinner? http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2019-04-23 17:10] Beep6581 opened #5301 "LibreOffice spreadsheet for camconst color_matrix"
I'm so infinitely lazy that I wrote this LibreOffice spreadsheet to format the `color_matrix` values for `camconst.json`, maybe you find it useful:
https://filebin.net/f86g8tfu3h4eeqp6/camconst_creator.ods?t=5ml2upsf

[2019-04-23 17:42] scx commented on #5115
I've just created RPM packages for **RawTherapee** _5.6_ for EL7 (Red Hat Enterprise Linux 7, CentOS 7, Scientific Linux 7, Oracle Linux 7).

Sorry for the delay, but there were some obstacles along the way.

## 1. CMake

According to the [CMakeLists.txt](https://github.com/Beep6581/RawTherapee/blob/5.6/CMakeLists.txt#L5), **RawTherapee** requires `cmake` >= _2.8.8_.

However, I was unable to buil

[2019-04-23 17:56] gaudry-daniel commented on #5299
HI
Sorry
uname -r
3.16.0-77-generic
md5sum RawTherapee-releases-5.6-20190420.bin
545181e4515d059fb532bb887e9c636d  RawTherapee-releases-5.6-20190420.bin
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.6 LTS
Release:        14.04
Codename:       trusty
Nothing to eat yet!

[2019-04-23 18:39] scx opened #5302 "Minimum required version of cmake"
According to the [CMakeLists.txt](https://github.com/Beep6581/RawTherapee/blob/5.6/CMakeLists.txt#L5), **RawTherapee** requires `cmake` >= _2.8.8_.

However, I was unable to build **RawTherapee** using `cmake` _2.8.12.2_.
[code]

Fortunately, it works with `cmake` _3.13.4_.

See also:
https://github.com/Beep6581/RawTherapee/issues/5115#issuecomment-485904108

[2019-04-23 18:42] scx opened #5303 "AppData: Validation failed"
The current AppData file is simply not valid. It is because of [wrong version scheme](https://github.com/Beep6581/RawTherapee/blob/5.6/com.rawtherapee.RawTherapee.appdata.xml#L39-L40).
[code]

First of all, you should know that AppSteam requires to put releases in order. It doesn't define which version number is valid or not, but it uses literally the same [version compare algorithm](https://githu

[2019-04-23 21:45] Beep6581 commented on #5302
Likely the mininum version of CMake in the docs and in `CMakeLists.txt` is outdated. I don't know how to check which version is the real minimum.

RawTherapee requires GTK+ >=3.18, which is from [September 2015](https://download.gnome.org/sources/gtk+/3.18/). Based on this, and based on your comment above, I think it should be fine to bump the minimum required CMake version to one from around the

[2019-04-23 21:50] Beep6581 commented on #5302
CMake 2.8.8 is from April 18, 2012.

[2019-04-23 21:53] Beep6581 commented on #5299
So `RawTherapee-releases-5.6-20190420.bin` is https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-releases-5.6-20190420.AppImage

Ping @aferrero2707

[2019-04-23 21:56] Beep6581 commented on #5299
Confirmed that that AppImage does not run in a freshly installed 14.04.6. Worth noting that 14.04 is originally from 2015, so I'm not sure we need to bend over backwards to support it.

[2019-04-23 22:13] scx commented on #5302
@Beep6581

As far as I know, **CMake** _2.8.12.2_ (_2018-12-06_) is the latest version from _2.x_ branch, so we must switch to **CMake** _3_ anyway.
I am not totally sure, but I think that this may be a problematic part:
https://github.com/Beep6581/RawTherapee/blob/5.6/rtdata/CMakeLists.txt#L11-L13
[code]

Please take a look at `LIST_DIRECTORIES`.
It was probably introduced in **CMake** _3.3_, bec

[2019-04-23 22:36] scx commented on #5302
As far as I know, only users of **Debian** _8_  (_Jessie_ AKA _oldstable_ - public support until _2020-06-30_) or **Ubuntu** _14.04 LTS_ (_Trusty Tahr_ - public support until 2019-04) may be against it. However, I doubt they would use the latest version of **RawTherapee**. Moreover, it should be relatively easy to backport `CMakeLists.txt` to **CMake** _2.8_.

[2019-04-23 22:46] #5303 closed, assigned to nobody

[2019-04-24 05:55] Floessie commented on #5302
Debian 8 has GTK+ 3.14, so you can't build RT there anyway. Don't know if 3.3 is the sweet spot. If I'm not completely wrong, 3.5 introduced features needed for modern CMake. Maybe ask @cryptomilk, who modernized CMake for `librtprocess`.

[2019-04-24 06:11] cryptomilk commented on #5302
I would suggest to require 3.5 which offers the features used by modern cmake. It is also available in most distributions which is not EOL yet.

https://cliutils.gitlab.io/modern-cmake/

[2019-04-24 09:35] Beep6581 commented on #5302
3.5 it is.

[2019-04-24 13:44] rjl6789 opened #5305 "memory use increases with editing"
Version details:
[code]
(issue is also in version 5.5)

Your operating system name and version:
Linux manjaro 4.14.111-1-MANJARO

Steps to reproduce
Apply the "Neutral" processing profile to your photos and then start editing - any combination of edits, zooming in and out, and watch the memory increase until a crash. Memory use increases quicker using modules like "Tone Mapping" and "Dynamic range

[2019-04-24 14:36] #5302 closed, assigned to Beep6581

[2019-04-24 18:36] Pandagrapher commented on #5220
@sguyader @Desmis
This issue is now implemented with commit `680dd1a`

How it works:
When adding/duplicating spot, new spot is now centered according to the preview area. Moreover ellipse/rectangle size takes into account the preview area size (but it is saturated at maximum at 250 for a creation, at duplicated spot size for a duplication). Center circle radius is unchanged.

@Hombre57
I have upda

[2019-04-24 19:40] saalaa commented on #5093
Hey, since this is still open, I'll just point out that no new profiles have been added and we're currently at version 5.6 :)

May I suggest colaborating with these projects :

- https://github.com/GLTR87/RawTherapee-presets-Fuji-inspired
- https://github.com/pixlsus/RawTherapee-Presets

[2019-04-24 21:14] #5093 closed, assigned to Beep6581

[2019-04-24 23:59] Hombre57 commented on #5220
@Pandagrapher Looks fine :+1:

[2019-04-25 07:26] Desmis commented on #5220
@Pandagrapher
Je regarderai cela samedi quand je serais rentré chez moi.
Merci :)
Jacques

[2019-04-25 13:15] aferrero2707 commented on #5299
@gaudry-daniel @Beep6581 the root of the problem is here:
[code]
The `realpath` command is needed to determine the version of the bundled `fontconfig` library, and select it if it is newer than the one provided with the system.

This is exactly the case in 14.04, and generates the symbol lookup error:
[code]
Installing the `realpath` command (`sudo apt-get install realpath`) should fix the problem

[2019-04-25 13:31] abertens commented on #5294
Hi there!

Commit 6e364e4c80416189ec8e1ef478497d13de14140f  (First doubleclick on an image after starting rt does not open the image) has a side effect on my platform Linux - Debian 9.

When I select a folder in the left pane, I can't navigate through images at right pane with keyboard (after single click one of them).
Right pane seems not to grab keyboard focus and every key is received by left p

[2019-04-25 14:04] jjdcan opened #5306 "Neither version 5.5 nor 5.6 windows 64bit will install on 64bit vista"
This happened with both the 5.5 and 5.6 64bit wiboes downloads within the last week
Installing onto windows vista business, SP 2, 64 bit machine
 Either would start the installer, copy the files, create the program  group and just about complete the install before giving this error

The procedure entrypoint SetThreadErrorMode could not be located in the dynamic link library kernel32.dll

I did man

[2019-04-25 14:42] Pandagrapher commented on #5270
@sguyader
Added with commits `e431e86` and `03c6141` ;)

Pierre

[2019-04-25 17:37] abertens opened #5308 "Problem with fix on "First doubleclick on an image after starting rt does not open the image, fixes #5294""
Hi there!

Commit 6e364e4c80416189ec8e1ef478497d13de14140f (First doubleclick on an image after starting rt does not open the image, fixes #5294) has a side effect on my platform Linux (Debian 9 / XFCE).

When I select a folder in the left pane, I can't navigate through images at right pane with keyboard (after a single click on one of them).
Right pane seems not to grab keyboard focus and every k

[2019-04-25 17:52] heckflosse commented on #5308
@abertens Thanks for reporting. Bug confirmed. I will revert the commit.

[2019-04-25 18:13] Beep6581 commented on #5308
![screenshot_20190425_201252](https://user-images.githubusercontent.com/5844619/56758290-8ffd2c80-6796-11e9-9f07-34c7d5e698ce.png)

[2019-04-25 18:17] abertens commented on #5308
![Screenshot_2019-04-25_14-15-36](https://user-images.githubusercontent.com/40841548/56758472-ba35f680-6764-11e9-97de-43362c184769.png)

?

[2019-04-25 18:21] Beep6581 commented on #5308
@abertens seems you have a problem with your cloned repo. Easiest way is to delete it and clone again.

[2019-04-25 18:29] Beep6581 commented on #5306
I assumed `SetThreadErrorMode` comes from the InnoSetup installer itself, but I cloned its source code and found no reference to that function call. @jjdcan can you provide more info, show the exact error, and see if you can run the `RawTherapee.exe` which should be located in your programs folder?

Windows Vista mainstream support ended in 2012, and extended support ended in 2017. We don't suppor

[2019-04-25 18:32] Beep6581 commented on #5306
Inno Setup does use `SetErrorMode` in several places, but not `SetThreadErrorMode`.
https://msdn.microsoft.com/en-us/library/windows/desktop/ms680621(v=vs.85).aspx

RawTherapee uses `SetErrorMode` too, in [rtgui/main.cc:434](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main.cc#L434)

[2019-04-25 18:41] Beep6581 commented on #5308
I think I know why you're seeing "Release Candidate 1". You probably ran `5.6-rc1` before, then built or installed `5.6`. Well RawTherapee now creates PNG icons from SVG images on the fly, and it stores them in a cache. Since you already had a `splash.png` from running `5.6-rc1`, the old file was used.

Solution: delete the folder `svg2png` from the [cache](http://rawpedia.rawtherapee.com/File_Pat

[2019-04-25 18:46] heckflosse commented on #5308
@Beep6581

Now I get this:
![grafik](https://user-images.githubusercontent.com/13733487/56760249-1b78bc80-679b-11e9-972e-f4e8acb17f12.png)

[2019-04-25 18:47] abertens commented on #5308
Beep6581, you are right. Removing svg2png from cache shows the correct image/name.
Thanks.

[2019-04-25 18:49] Beep6581 commented on #5299
Fix confirmed.

@aferrero2707 ok to close?

[2019-04-25 19:05] heckflosse commented on #5308
@Beep6581 With a fresh clone it works fine :)
![grafik](https://user-images.githubusercontent.com/13733487/56761517-d3a76480-679d-11e9-9961-16f2da4939c5.png)

[2019-04-25 19:11] #5308 closed, assigned to nobody

[2019-04-25 19:21] heckflosse commented on #5294
I reverted the commit because it has some side effects.

[2019-04-25 19:27] abertens commented on #5308
@heckflosse @Beep6581

Sorry. I did a fresh clone and it did not replaced the image.
Removing svg2png from cache did the trick.

Regards,
Andres Bertens

[2019-04-25 19:42] heckflosse commented on #5308
@abertens I had to remove `svg2png` and use a fresh clone. Sorry for having been unclear.

[2019-04-25 20:32] sguyader commented on #5270
@Pandagrapher Pierre I can't test these changes, as I'm away until next week. But thanks a lot!

[2019-04-26 06:47] jjdcan commented on #5306
here is a screen shot of the dialogue box that popped up

this happened during install (near the end - guessing it wanted to start the
app) AND when i tried to launch the app from the start menu or directly from
the .exe

both 5.5 and 5.6 windows 64 bit

i know vista is considered dead&gone, but the notebook still runs, it's
travel-sized and light, and i don't think windows 7 will run on it so it'

[2019-04-26 08:18] aferrero2707 commented on #5299
Yes, we can close this. Meanwhile I will see if it is possible to get rid of `realpath` in the AppImage startup scripts...

[2019-04-26 09:11] Pandagrapher commented on #5294
For Gtk, a double click event is recorded when two clicks are done in less than 500ms (Gtk default param). The issue is that, due to `grab_focus()`, the second click is interpreted with a additional delay (~615ms on my computer) and so no double click event is raised (only for the first time `grab_focus()` is executed after browser tab is selected). I can solve this Gtk limitation using a dedicate

[2019-04-26 12:54] #5299 closed, assigned to nobody

[2019-04-26 12:55] Beep6581 commented on #5306
@jjdcan seems attachments don't go through when you reply via email. Could you upload the screenshot and any other info directly to GitHub [here](https://github.com/Beep6581/RawTherapee/issues/5306)?

[2019-04-26 13:14] Beep6581 opened #5309 "Handle SVG updates in svg2png cache"
As we've seen here https://github.com/Beep6581/RawTherapee/issues/5308#issuecomment-486791595 , having cached PNG images can lead to users having obsolete images and cause confusion whenever we update an SVG file. It will be a problem when users of 5.6 update to 5.7 and the splash screen still shows 5.6, and their icons are still those from 5.6.

I see three solutions:
1. Delete `svg2png` on updat

[2019-04-26 14:03] gregzaal opened #5310 "Crash when applying profile with rotation to many images for the first time"
When applying a custom profile to many selected images in the file browser, RawTherapee crashes.

It does not crash when applying the profile to single images, or to only a few of them (e.g. 4), but it does crash when applying the profile to many images at once (e.g. 8).

After restarting RawTherapee, the profile was actually successfully applied to all images, so it seems like it could be related

[2019-04-26 14:12] gregzaal commented on #5310
Backtrace: [log.txt](https://github.com/Beep6581/RawTherapee/files/3121654/log.txt)

[2019-04-26 14:44] jjdcan commented on #5306
i think the attachment is here

[2019-04-26 15:10] heckflosse commented on #5306
@jjdcan I confirm there is no attachment

[2019-04-26 15:40] gaudry-daniel commented on #5299
Hi
So many thanks
Problem solved by realpath
Regards

[2019-04-26 15:40] TooWaBoo commented on #5310
RawTherapee 5.6 is out. Try this version and check if the bug still exists.
http://www.rawtherapee.com/

[2019-04-26 15:51] gregzaal commented on #5310
Yep, just tested, same issue in 5.6.

[2019-04-26 15:58] TooWaBoo commented on #5310
Can't reproduce, works fine on Windows 10.

[2019-04-26 16:26] heckflosse commented on #5310
@gregzaal No crash here, but I confirm a bug. Seems to be caused by the rotation included in the profile.

![grafik](https://user-images.githubusercontent.com/13733487/56822161-846e3c00-6850-11e9-9608-d4a2da6ff274.png)

[2019-04-26 16:42] gregzaal commented on #5310
Maybe 8 is not enough, once or twice it worked for me, so try with more than 8 😄  https://drive.google.com/drive/folders/1_WnkOEXA77Cn8eHhEEe5bTUipPTP6phc?usp=sharing

[2019-04-26 16:48] heckflosse commented on #5310
@gregzaal Can you confirm that wit works fine if the profile does not include a rotation? Just to be sure I'm on the right trap.

[2019-04-26 16:52] Thanatomanic commented on #5310
Could this be related? https://github.com/Beep6581/RawTherapee/issues/4858

[2019-04-26 16:57] heckflosse commented on #5310
@Thanatomanic

I think so. Thanks for the pointer. Still looking...

[2019-04-26 17:57] Floessie commented on #5310
@heckflosse Line 1655 in 5.5 is `r = *(src++);`, so `src` might have gone while reading...

[2019-04-26 18:06] heckflosse commented on #5310
@Floessie Line 1655 of which file?

[2019-04-26 18:17] heckflosse commented on #5310
@Floessie Somehow my stomach tells me the culprit is around here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rtthumbnail.cc#L1157

[2019-04-26 18:35] Floessie commented on #5310
@heckflosse `guiutils.cc`, see Greg's log. Sorry, I'm AFK now...

[2019-04-26 19:50] jjdcan commented on #5306
![B46815A1-809E-4DDA-A90E-863DD5079363](https://user-images.githubusercontent.com/49987334/56832767-df953400-683a-11e9-8cce-c64c386cb383.jpeg)
How about this

[2019-04-26 20:37] Floessie commented on #5310
Could also be the suspicious reference counting in [`FileBrowserEntry::updateImage()`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/filebrowserentry.cc#L214)...

[2019-04-26 20:59] heckflosse commented on #5310
@Floessie I can reproduce the garbage (not the crash) with this simple pp3 file
[test.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3122995/test.pp3.txt)

[2019-04-27 04:22] niedrogo opened #5311 "Haze removal artifacts - Samsung Galaxy Note 9 simple to reproduce"
1. open image
2. click "haze removal"
3. you can now see artifacts visible in the sky

RAW file here:
https://filebin.net/chb8iyyvyhf0cqe4/rawtherapeebug001.7z?t=j6y2cnk2

screenshot here:
![obraz](https://user-images.githubusercontent.com/50038767/56844713-17d95880-68b5-11e9-85bd-5976c1233264.png)

[code]

[2019-04-27 04:39] niedrogo commented on #5311
Checked on the latest version 5.6 - the problem exists.

[2019-04-27 04:40] niedrogo commented on #5311
Reporting - found a simple workaround:
1. open file
2. click haze removal (problem exists)
3. click retinex (problem dissapears)

[2019-04-27 07:07] TooWaBoo commented on #5311
Tick `Clip out-of gamut colors` and `Highlight reconstruction` should fix that too and it's the better way to do it.
![grafik](https://user-images.githubusercontent.com/13800920/56846137-875a4280-68cb-11e9-855b-3a28e459f470.png)

[2019-04-27 07:15] niedrogo commented on #5311
Thank you for your suggestion. I've checked it and .. Nope - does not help. Tried all 4 combinations of switching the two checkboxes :)

Also screen from 5.6 version.

![obraz](https://user-images.githubusercontent.com/50038767/56846223-ff753800-68cc-11e9-9bd7-a4dc8a85645c.png)

[2019-04-27 07:20] niedrogo commented on #5311
Playing a little bit I've found that area of artifacts have something to do with a thing called "depth map" which is black in all the artifact areas .. look here

![obraz](https://user-images.githubusercontent.com/50038767/56846256-94783100-68cd-11e9-9423-e2b1c4ce941c.png)

[2019-04-27 07:25] TooWaBoo commented on #5311
Change the `Raw White Points`

![grafik](https://user-images.githubusercontent.com/13800920/56846375-dd7cb500-68ce-11e9-82ee-608ee5f2ea2c.png)

[2019-04-27 07:38] niedrogo commented on #5311
It worked. Thank You. Reporting the screen after correction.
I guess - Galaxy Note 9 is a new camera and needs such internal adjustments ? (I just read rawpedia and it mentions that "It is unlikely you will ever need to use the Raw White Points tool other than for diagnostic purposes. " .. :) )

![obraz](https://user-images.githubusercontent.com/50038767/56846468-00f42f80-68d0-11e9-8295-ba00bc24a4

[2019-04-27 07:45] TooWaBoo commented on #5311
That's true in 99.9% except if you heavily boost the contrast and color like in Retinex or Haze removal. :-)

[2019-04-27 07:47] niedrogo commented on #5311
Thank you. See you till next issue.

Thanks for amazing free photo developing tool.

Dnia 27 kwietnia 2019 09:45:32 CEST, TooWaBoo <notifications@github.com> napisał(a):

--
Wysłane za pomocą K-9 Mail.

[2019-04-27 11:09] gregzaal commented on #5310
Confirmed it only crashes if the profile includes rotation.

- Applied neutral profile to one image; saved as custom profile; apply custom profile to all images; no crash.
- Applied neutral profile to one image, **rotate anti-clockwise**; saved as custom profile; apply custom profile to all images; **crash**.

[2019-04-27 16:09] heckflosse commented on #5311
@niedrogo You can help us to get correct white levels for files of your Galaxy Note 9 by following this instructions and providing as the raw files:

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L134

Edit: you don't need to analyze the files. Just provide us the overexposed raw files. That's enough

[2019-04-27 16:12] rogerwalt commented on #3756
+1 👍 😎

[2019-04-27 16:23] lorthirk commented on #3756
+1 :smile:

[2019-04-28 06:38] niedrogo commented on #5311
OK, I'm trying to do what is specified in the file.
@heckflosse Here are the raw files.

https://filebin.net/chb8iyyvyhf0cqe4/20190428_RT_WhitePoint.7z?t=yz02ufzo

If something needs to be corrected - please specify.

Additional note. Samsung Note 9 has TWO SENSORS - wide and portrait with (possibly) different characteristics. But I was unable to create a raw file from the portrait sensor - all fi

[2019-04-28 07:13] niedrogo commented on #5311
OK, playing with rawdigger, "substract black" disabled.
All iso, all wb, all apertures looks like this: 1023 1023 1023 1023
Now - how to convert this per channel integers to one number in the json file... :)

![obraz](https://user-images.githubusercontent.com/50038767/56860332-d10f5f80-6995-11e9-8bbd-cfa7fbcd4086.png)

[2019-04-28 15:17] Beep6581 commented on #5311
I added a color matrix to `camconst.json`. It fixes the color issue when these files are converted using Adobe DNG Converter. It does not fix the Haze Removal artifacts.

Settings `whites` in `camconst.json` has no effect in RT (no difference between 500, 1023 or 4096). Are these ignored for DNG files?

[2019-04-28 17:57] wilchak opened #5312 "Frequent crashes in macOS"
Hello,
I really like the software but it crashes a lot. There doesn't seem to be much of a pattern. Usually (but not always) it happens when changing folders in the file browser.... but it's not one particular folder that does it- seems to be random. Sometimes it happens shortly after starting the program, sometimes it will take ~20 mins.

Platform: MacOS 10.14.4
Version: 5.6

Attaching the crash

[2019-04-28 18:59] Benitoite commented on #5312
The latest dev build from [discuss.pixls.us](https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924) has most libraries updated...
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6-17-g6e364e4c8.zip
That's definitely worth a test.
Also, wonder if you have some files or folders with international characters? Or system is set to some odd combination of language and region (for

[2019-04-28 20:04] mbaz commented on #3970
The same problem still occurs with RT 5.6.

[2019-04-29 01:01] wilchak commented on #5312
No funny international character stuff. Just tested with the latest dev build (5.6.17-g6e), crashes still happening.... always when double clicking on a folder in the file browser to switch to it.

[rawtherapee-bin_2019-04-28-203004_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/3125721/rawtherapee-bin_2019-04-28-203004_AT-086.txt)

[2019-04-29 05:59] Beep6581 commented on #5312
@wilchak delete all files from the `themes` subfolder (`RawTherapee-GTK3-20_.css`, etc.), re-run RT (it will look bad), and test - does it still crash?

[2019-04-29 18:53] Beep6581 commented on #4830
@Floessie @heckflosse which camera models support SN mode?

[2019-04-29 19:47] wilchak commented on #5312
I removed all the files from the `themes` folder and..... two things! 1) I can't get it to crash 🙂, and 2) the interface is noticeably snappier. Must be some weird stuff going on in the GTK theme engine....

[2019-04-29 20:35] Beep6581 commented on #5312
Were you using "Pseudo HiDPI mode"? If you look in your [`options`](http://rawpedia.rawtherapee.com/File_Paths#Config) file, you will see `PseudoHiDPISupport=true or false`

[2019-04-29 20:59] wilchak commented on #5312
Can confirm `PseudoHiDPISupport=false` in my options file.

[2019-04-29 21:04] Beep6581 commented on #5312
And this was the macOS build from our website? i.e. https://rawtherapee.com/releases_head/mac/RawTherapee_OSX_10.9_64_5.6.zip

[2019-04-29 21:35] wilchak commented on #5312
Yes, using the official 5.6 release build and latest dev build (5.6.17-g6e).

Ok, an update: I was able to get the dev build to crash too, but only after connecting my external monitor (which is how I usually work).

[rawtherapee-bin_2019-04-29-173115_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/3129293/rawtherapee-bin_2019-04-29-173115_AT-086.txt)

[2019-04-29 22:22] Beep6581 commented on #5312
@Benitoite which version of GTK+ does your build use?

@wilchak could you try to narrow this down to some easy-to-reproduce action? You said the crash happens when you try to access a folder. Can you reproduce if you apply the "Neutral" profile to all photos in that folder, then try to access it?

[2019-04-30 00:17] Benitoite commented on #5312
Using gtk 3.24.8, last release.

[2019-04-30 01:08] wilchak commented on #5312
Having trouble reproducing now (including with Neutral as default and without). I will comment if I can get another crash.

[2019-04-30 18:14] #4994 closed, assigned to Beep6581, Thanatomanic

[2019-05-01 22:31] brussell1 commented on #3794
So may I ask, 4 months and 2 releases later, that you fix this please?
If it's not that easy, can you at least add a checkbox to the settings like "allow experimental support for unusual aspect ratios" or sth.?
I'm still stuck with RT5.2 for my needs.

[2019-05-02 02:11] wilchak commented on #5312
Ok, 5.6-26 crashes immediately on startup. See two attached crash logs. HOWEVER, when all the files are removed from the themes directory, the app works fine.

[rawtherapee-bin_2019-05-01-214914_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/3136529/rawtherapee-bin_2019-05-01-214914_AT-086.txt)
[rawtherapee-bin_2019-05-01-214922_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/

[2019-05-02 06:06] Floessie commented on #5312
Looks like a concurrent call to GTK from a non-Main thread. `FileCatalog::_refreshProgressBar()` is illegally called from the thread pool.

[2019-05-02 06:26] Floessie commented on #4830
I'd guess that most if not all EXR cameras support this mode, but I can only say for sure that the F600EXR and the X-S1 do have SN mode. Not all EXR cameras support RAW, though.

[2019-05-02 13:38] michaelezra opened #5313 "JPEG 2000 - JPX, JPF"
It would be a very welcome addition to get support for **JPEG2000** format.
This format offers 16 bit in highly compressed form and in JPX/JPF versions of it allows to save image metadata. Most available imaging software supporting JPG2000 is limiting its implementatin to JP2 - without metadata and only assigning sRGB ICC profile (Infranview, XNView).

I find 99% lossy option suitable for most con

[2019-05-02 18:24] Pandagrapher commented on #5220
Commit merged: is it ok to close this issue?
Pierre

[2019-05-02 18:24] Pandagrapher commented on #5269
@heckflosse
Commit merged: is it ok to close this issue?
Pierre

[2019-05-02 18:24] Pandagrapher commented on #5270
Commit merged: is it ok to close this issue?
Pierre

[2019-05-02 21:17] Hombre57 commented on #5309
@Beep6581

N°1 would be fine for me. RT does delete the unused `svg2png` sub-folders on exit, so I hope it works on all platform. We could do that check with the `Options::firstrun` parameter. If that wouldn't have solved the bug, a better first run parameter could be based on the build timestamp (optionnaly activated by CMake) ?

[2019-05-03 00:08] wilchak commented on #5312
5.6-26 now crashing every time I hit OK in the Preferences window.
[rawtherapee-bin_2019-05-02-200625_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/3140322/rawtherapee-bin_2019-05-02-200625_AT-086.txt)
[rawtherapee-bin_2019-05-02-200716_AT-086.txt](https://github.com/Beep6581/RawTherapee/files/3140323/rawtherapee-bin_2019-05-02-200716_AT-086.txt)

[2019-05-03 06:41] Floessie commented on #5312
This one is different from the earlier crash. My guess: a GTK bug on MacOS...

[2019-05-03 16:26] Benitoite commented on #5312
I have updated the mac app at https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6-26-ga2e2ace1c.zip
It is based on the latest of branch `gtk-3-24` which is ahead of the last release.

[2019-05-03 19:00] mandree commented on #3636
@Beep6581

well... the default package set will pick it up only in the first days of July because the default package set is based on the "quarterly" branch supervised by the ports-secteam at FreeBSD.

@Floessie

I mistyped `-mtune=generic` for this ticket; actually the port was setting `-DPROC_TARGET_NUMBER=1` unless an option overrode this to =2 (native).

That's what I am doing -mtune=generic s

[2019-05-04 02:39] wilchak commented on #5312
No crashes yet! Seems promising.

[2019-05-06 05:19] glixx opened #5314 "Change format of translation files"
To be easy translatable I suggest to change format of translation files on:
```key=value```
Not too many changes in code, but using Mozilla PROPERTIES file (.properties) is better for translators.
Transifex supports Mozilla PROPERTIES file (.properties).

So just to change the first ```;``` in all strings on ```=```.

[2019-05-06 05:31] glixx commented on #5314
``` sed 's/;/=/1' default > rawtherapee_en.properties```
```sed 's/;/=/1' Russian > rawtherapee_ru.properties```
etc.

[2019-05-06 05:50] Thanatomanic commented on #5314
Can you elaborate on that? You are suggesting only a minor change, but why we should change this at all? Only to be able to use Transifex?

[2019-05-06 05:55] glixx commented on #5314
To use any tools, appications, transifex that support properties files.

[2019-05-06 06:47] LebedevRI commented on #4675
@Duck-Development & anyone else reading this that still has that camera, please see
https://discuss.pixls.us/t/raw-samples-wanted/5420/86?u=lebedevri
^ basically, i'd like to replace the existing full sample set for that camera with a new *full* set with newest firmware.

[2019-05-06 10:55] agriggio commented on #3801
I can open a PR that replaces rtexif with exiv2. The basics should work, but I haven't tested it much and won't be able to maintain it and/or perform the needed cleanups for integration into dev (if any).
Therefore, I'm basically asking if someone would be willing to "adopt" the branch and do the remaining work to get this merged.

If there is interest, please let me know.

[2019-05-06 13:16] Beep6581 commented on #4961
Added Dual Demosaic (as part of rewriting the whole Demosaicing article):
http://rawpedia.rawtherapee.com/Demosaicing

[2019-05-06 13:16] #4961 closed, assigned to Beep6581, heckflosse

[2019-05-06 13:29] Beep6581 commented on #4830
Docs updated:
http://rawpedia.rawtherapee.com/Demosaicing

[2019-05-06 18:38] sguyader opened #5316 "Crash in locallab using CbDL "Blur levels""
I got crashes when I tried to play with CbDL "Blur levels" in the locallab build.
The last crash was obtained with a debug build (commit dba49d672), while using a single RTspot with only CbDL and "Blur levels" to 100 acting on levels 3 and 4, everything else at default settings (I think).

Below is a backtrace using "bt full":

[code]

[2019-05-06 22:04] DawidLoubser opened #5317 "Canon EOS R CR3 raw support"
Hi, not sure if this helps, but I have added two sample file (RAW and C-RAW) CR3 files from the Canon EOS R to https://raw.pixls.us/

I can't wait until Rawtherapee supports Canon's new CR3 format - and if there is anything else I can do to support the reverse-engineering efforts, please let me know!

[2019-05-06 22:07] DawidLoubser commented on #4531
Not sure if this helps, just wanted to mention that I have uploaded two additional sample CR3 files to https://raw.pixls.us/ - one RAW (uncompressed) and one C-RAW (compressed), distinguishable by the comments attached to the uploaded files.

I can't wait until RawTherapee supports this format - how can I as a software engineer that has never looked at RAW codecs, help?

[2019-05-07 05:57] Desmis commented on #5316
@sguyader
I cannot reconstitute....
 I re-examined the code and found anomalies (of course corrected), moreover I limit the action of blur to luminance

jacques

[2019-05-07 07:24] Desmis commented on #5316
I have found a bug, chroma variable - to set levels - was badly initilized

I change also, slider "chroma" from int  (range 0..300) to double (range 0... 1.5) - be carefull with pp3

Perhaps its fixed the crash ??

jacques

[2019-05-07 10:57] Floessie commented on #3801
@agriggio Is there a branch we can have a look at?

[2019-05-07 11:53] sguyader commented on #5316
@Desmis Sorry but it looks like the bug is not fixed, I got a crash again just a couple minutes after starting to play with a CbDL/"Blur levels" spot.

[2019-05-07 12:04] sguyader commented on #5316
@Desmis can you look again at your recent changes in CbDL since you added a 5th level? When I use "Blur levels" and increase the value of the 5th level, I see some artifacts (in general at values above ~3.0). Here's a screencast showing the artifacts: https://drive.google.com/file/d/1xqmKEIL8ZVM3XSF6hC-jgedfP-NfYlkx/view?usp=sharing
I don't know, but maybe the crash has also something to do with t

[2019-05-07 12:07] sguyader commented on #5316
Oh, wait... it looks like I didn't pull correctly the last commit...

[2019-05-07 12:22] Desmis commented on #5316
@sguyader
The 5th level is the same as in "main"
I look the code, no differences...

I tried with your sample, no artifacts, no crash.

But last commit, is very important, since many weeks, there were a bug,  before I added 5th level

[2019-05-07 12:33] sguyader commented on #5316
@Desmis apparently it is fixed with the last commit indeed. No crash for the moment. I'll keep playing, if I get no crash I'll close the issue.

[2019-05-07 12:42] Desmis commented on #5316
@sguyader
En français c'est plus simple
En fait il y avait 2 bugs
1) le premier que j'ai corrigé (mais le dernier dans l'ordre) est que la fonction "inverse" de wavelet avait seulement  5 niveaux au lieu de 6, d'où "clarity" qui fonctionne, mais le 6ème niveau non

2) le nombre de variables dans "Local adjustements" est important, et par hasard j'ai utilisé le même nom (pas pour le GUI, mais pour

[2019-05-07 12:43] agriggio commented on #3801
@Floessie I have a branch I can push, but as I said I won't be able to work on it. My question was like "should I push it anyway?".

If your answer is "yes", I'll push later today :-)

[2019-05-07 12:48] Beep6581 commented on #3801
Yes!

[2019-05-07 12:57] sguyader commented on #5316
@Desmis La bonne nouvelle c'est qu'il semble ne plus y avoir de crash. Par contre j'ai toujours des artefacts étranges qui apparaissent et disparaissent un peu aléatoirement, comme dans la vidéo (lien dans un message au-dessus) ou dans la capture d'écran ci-dessous :
![Screenshot_2019-05-07_08-52-42](https://user-images.githubusercontent.com/13856378/57301087-2b9b7080-70a6-11e9-95c6-4f731bb465ec.p

[2019-05-07 13:00] Floessie commented on #3801
Yes, of course! You don't have to create a PR, though...

[2019-05-07 13:08] Desmis commented on #5316
Je pense, pas sûr, que ces artefacts sont dus à l'algorithme simplifié mis en place il y a maintenant 8 ans par Emil Martinec.
L'algorithme de CBDL est un wavelet "simplifié  - simplifié", donc code compact, aménagement assez faciles, mais artefacts...j'avais essayé de mettre un 7ème niveau....plein d'artefacts. Initialement Emil n'avait prévu que 5 niveaux, c'est moi qui ai ajouté le 6ème dans "m

[2019-05-07 13:20] sguyader commented on #5316
Le problème est que si j'utilise Blur levels sur le 5ème niveau, les artefacts se tretrouvent aussi sur dans l'image exportée. Par contre apparemment si je ne touche pas au 5ème niveau, même si des artefacts apparaissent en preview ils ne sont pas dans l'image exportée.
Je ne sais pas si c'est seulement "Blur levels" qui est concerné, pour le moment c'est le seul qui semble causer des artefacts. D

[2019-05-07 13:26] Desmis commented on #5316
je vais regarder cela
1) ne rien faire comme blur pour le 5ème niveau
2) le GUI...plus costaud

jacques

[2019-05-07 13:30] sguyader commented on #5316
Should I close this issue since the last commit fixed the reported crashes?

[2019-05-07 13:46] Desmis commented on #5316
I will post a commit soon,
I have found 2 others bugs....
But you can close

Thank you
jacques

[2019-05-07 13:47] sguyader commented on #5316
Closing this issue.

[2019-05-07 13:47] #5316 closed, assigned to nobody

[2019-05-07 13:49] sguyader commented on #5220
Nobody complained, closing.

[2019-05-07 13:49] #5220 closed, assigned to Desmis

[2019-05-07 13:50] sguyader commented on #5247
Can I close this issue?

[2019-05-07 13:51] sguyader commented on #5270
Nobody complained, closing.

[2019-05-07 13:51] #5270 closed, assigned to nobody

[2019-05-07 13:53] sguyader commented on #4118
Can we close this old issue?

[2019-05-07 13:54] sguyader commented on #4813
Can we close this issue?

[2019-05-07 13:55] agriggio commented on #3801
Pushed branch `metadata-exiv2`.

A couple of comments:

- some lenses have different names, this is just the way it is with exiv2 vs rtexif

- exif tags editing is limited only to editing the following tags:

  User Comment
  Artist
  Copyright
  Image Description

  No other tag can be modified, added, removed

- the metadata are global for each image, there's no more per-frame metadata
  (I don'

[2019-05-07 13:55] Desmis commented on #5247
For me no problem :)

Le mar. 7 mai 2019 à 15:50, Sébastien Guyader <notifications@github.com> a
écrit :

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966

[2019-05-07 14:18] Thanatomanic commented on #4813
Well, there is still an open issue... When raw mode is set, and a non-raw image is opened, there should be a fallback to the regular histogram.
I just haven't gotten to making a fix for this.

[2019-05-07 14:19] #5247 closed, assigned to nobody

[2019-05-07 17:32] Beep6581 commented on #1670
Duplicate of #5313

[2019-05-07 17:32] #1670 closed

[2019-05-07 17:36] heckflosse commented on #5269
@Pandagrapher Yes

[2019-05-07 17:37] #5269 closed, assigned to nobody

[2019-05-07 17:40] Beep6581 commented on #5309
@Hombre57 I don't see `Options::firstrun` in the `dev` code, but the suggestion sounds good. I assume a change of `options.version` would be considered a first run? It wouldn't even need to parse the version in any way, just check for a match.

[2019-05-07 21:53] Beep6581 commented on #5314
@glixx please link to a specification of "Mozilla PROPERTIES" and to a list of software which supports it.

[2019-05-08 02:21] glixx commented on #5314
This is almost Java properties utf8 format.

[2019-05-08 08:21] #4968 closed, assigned to nobody

[2019-05-08 11:35] Beep6581 commented on #4118
@sguyader it's still a valid issue, isn't it?

[2019-05-08 20:34] LebedevRI commented on #5317
Duplicate of #4531.

[2019-05-09 23:21] RawConvert opened #5318 "Highlights go pink as zoom decreases"
Files are here - https://filebin.net/rtoj3z92icwwqra7
RT 5.6-16...  Ubuntu 16.04

The image shows pink/magenta highlights when the preview window is less than 100%, and it's almost the more you zoom out the pinker they get.  The jpeg output is not (as) pink as the preview at less than 100%.  Screenshots at 18% and 100% zoom in the file bin show this.

The white point in the raw is 14,733.  My Camc

[2019-05-10 07:05] Beep6581 commented on #5318
Duplicate of #1625

[2019-05-10 07:05] #5318 closed, assigned to nobody

[2019-05-10 11:27] heckflosse commented on #5318
@RawConvert

That's the brightest green in your raw file.

The reds go up to at least 14,967
The blues go up to at least 14,776

[2019-05-10 15:39] malcyL commented on #4531
I just replaced my ageing Canon 550D / Rebel T2i to the new Canon RP. It's also the same as the Canon M50 in that it creates RAW files with the CR3 file extension.

That's the M50, R (#5317) and RP camera's using this format now.

It would be really great if RawTherapee supported it.

[2019-05-10 17:20] RawConvert commented on #5318
@heckflosse     hi, I got my value from DCRAW, apparently there are only 74 pixels beyond 14733 (across the channels), so I thought these could not have much impact -

value  |  no.of pixels
. . .
14729 | 227
14730 | 191
14731 | 219
14732 | 195
**14733 | 2318391**
14739 | 1
14754 | 1
14758 | 1
14776 | 1
14779 | 1
14788 | 1
14795 | 1
14797 | 2
14799 | 1
14801 | 2
14803 | 1
14806 | 1
14810 | 1
14812

[2019-05-10 18:13] heckflosse commented on #5318
@RawConvert I'm not an expert at this (@iliasg is the expert here), but the white levels seem not to be equal across the channels...

[2019-05-10 18:39] dmitry-guryanov commented on #4531
I also have Canon Rp.

If I understood correctly, rt used dcraw to decode raw files, but few years ago it's discontinued. So now rt maintains it's own version of dcraw and any new code should go directly into rtengine/dcraw.cc? Am I right?

[2019-05-10 19:00] heckflosse commented on #4531
@dmitry-guryanov

Yes and no. If you have code for decoding cr3 files, it can be also for libraw or rawspeed. Just point us to the code so we can adopt it for RT dcraw.cc. Or if it's for dcraw.cc we can tell libraw and rawspeed about that.

[2019-05-11 00:19] dmitry-guryanov commented on #4531
Thanks! Unfortunately I don't have the code.

[2019-05-11 08:29] agriggio commented on #4531
I've seen rawdigger advertising some cr3 support recently. so I guess it will land in libraw at some point...

[2019-05-11 09:26] Beep6581 opened #5319 "CR3 image decoding support"
There is an increasing number of cameras using the Canon Raw v3 (CR3) format. This issue is about adding support for decoding CR3 in RawTherapee, regardless of specific camera model.

CR3 specification:
https://github.com/lclevy/canon_cr3

[2019-05-11 09:27] Beep6581 commented on #4531
I opened issue #5319 for tracking support for decoding the CR3 format. Let's use this issue only for auxiliary support (white levels, matrix, DCP, etc.) specific to the Canon EOS M50, once decoding is implemented.

[2019-05-11 09:28] Beep6581 commented on #5317
I opened issue #5319 for tracking support for decoding the CR3 format. Let's use this issue only for auxiliary support (white levels, matrix, DCP, etc.) specific to the Canon EOS R, once decoding is implemented.

[2019-05-13 06:42] Benitoite commented on #5312
gtk-3-24 has been advanced 100 commits!  https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6-26-ga2e2ace1c.zip

[2019-05-13 07:05] Benitoite commented on #5282
@Beep6581 I want to blame the macOS screenshot widget crop tool...

Here are some tests:
![Screen Shot 2019-05-12 at 11 56 55 PM](https://user-images.githubusercontent.com/17919239/57601609-c914fb00-7511-11e9-9e89-ac5d7c491a49.png)

![Screen Shot 2019-05-13 at 12 01 47 AM](https://user-images.githubusercontent.com/17919239/57601867-830c6700-7512-11e9-877c-59d920c40cb6.png)

Safari seems to not hue

[2019-05-13 07:19] Beep6581 commented on #5282
@Benitoite when I download and view the same image in Geeqie, it's bright as expected, but in Google Chrome (74.0.3729.108) it's dim. Geeqie lets you disable the color profile, use the embedded profile, or use a different profile - none of these options result in a dark image. However, when I strip the ICC profile from the downloaded image (`exiftool -overwrite_original -icc_profile= foo.png`), th

[2019-05-13 07:41] Beep6581 commented on #5282
What puzzled me was that the image looks correct in Geeqie regardless of color profile mode. After some though, I conclude that Geeqie is behaving well, and that Google Chrome probably does read the embedded profile but does so incorrectly, which is why the image looks well without the profile and why it looks consistently well in Geeqie regardless of color profile mode.

I wonder why a "display"