[2019-10-05 10:51] arturoisilvia commented on #5484
To me it goes like so:
Loads the image
Click on 'Processing profile fill mode': button released: (To understand us: icon with 2 stripes(or lines), no 4 stripes)
load the pp3
Processes the image: 'Processing queue'
Jpeg 8 bit - 85% quality - balanced

Wait for me to do more tests.
It is possible that this pp3 is not right.

[2019-10-05 11:14] Desmis commented on #5484
I just did as you indicate (with queue)

Same result, no frame

jacques

[2019-10-05 11:45] arturoisilvia commented on #5484
Well, it only happens to me.
I can't make the green frame with new pp3.
That pp3 should not be fine.
We give the error closed. If I left again I will let you know.

Greetings and sorry for the inconvenience.
Arturo.

[2019-10-05 12:00] Desmis commented on #5484
No problem at all :)

[2019-10-05 13:37] #5484 closed, assigned to nobody

[2019-10-05 22:54] sboukortt commented on #3439
I agree: I don’t see any particular reason why the original aspect ratio should dictate that of the result. In fact, not all of my cameras even have the same aspect ratio to begin with.

The default was indeed changed in cb5e99ef, but what was the rationale behind the change? The commit message is not particularly explicit about it.

[2019-10-06 06:02] ahoenselaar commented on #5434
Removing the right-shifting brings the levels in line with Phocus. Adjusting the predictor to match lossless JPEG predictor 5 fixes the artifact. It raises a new issue, though, as the predicted values wraps around in very bright parts of the image. Likely, the predictor used by Hasselblad has some additional tweaks.

https://github.com/ahoenselaar/RawTherapee/commit/7885e113b8835c367c8150c2a400ec7

[2019-10-06 08:57] heckflosse commented on #5434
@ahoenselaar Thanks for working on this issue :+1:
Unfortunately I can not test atm because I'm on holidays and my laptop has only 3GB RAM, which is not enough for this huge files

[2019-10-06 14:59] edsvo opened #5487 "Capture Sharpening missing from "Parameters to save" partial processing profile dialog box"
Version: 5.7-129-ga87d104 (appimage)
Operating System: Ubuntu 18.04.3 LTS

Click the Editor tab to display the Editor. Hold down the control key and click the "Save current profile" button. Enter a file name. A "Parameters to save" dialog box appears.

In the list of parameters to save, Capture Sharpening does not appear.

[2019-10-06 15:18] falket commented on #4169
Reading a thread in the forum, i remembered this issue, tried with latest 5.7 dev and i have seen the bug is still here. I attach here the relevant files this time on google drive so they will not expire.

https://drive.google.com/open?id=1KccM6Pf_8duULWUOtLfXzTyYpc5JoFLy

Thank you.

@Beep6581

[2019-10-06 15:30] falket commented on #4169
Edit: i was still getting a brighter image, but it's now possible to recover highlights using for example -1ev exposure compensation or highlight reconstruction!

[2019-10-06 16:08] heckflosse commented on #4169
@falket Didn't try the dng, but for the pef you can simply disable clip-out-of-gamut colours and apply negative exposure correction until we get this automated. See attached screenshot (left neutral profile + .lcp, right neutral profile + .lcp + exposure correction of -0.25 and disabled `clip...`
![image](https://user-images.githubusercontent.com/13733487/66271963-2c5a4d80-e864-11e9-90fd-1fa1156ba

[2019-10-06 19:01] Beep6581 commented on #5126
It is typical for `ColorMatrix1` to correspond to StdA and for `ColorMatrix2` to correspond to D65. This seems to be just a custom, as I didn't find any reference to a correct order in the DNG specification.

It would solve a growing number of problems if RawTherapee didn't blindly pick `ColorMatrix2` assuming it's the daylight one, but instead checked the `CalibrationIlluminant`.

From personal e

[2019-10-07 18:40] matjazjeran opened #5488 "Slovenian translation"
[code]

[2019-10-07 18:48] Beep6581 opened #5489 "Spammy lensfun debug output when updating preview in verbose mode"
Every time I pan or zoom the preview in verbose mode, `5.7-131-g`710f6c089 prints Lensfun debug info in the console, such as:
[code]

In addition to being spammy as that info will not change while working on the same photo, maybe the code should be checked to ensure unnecessary processing isn't occurring.

[2019-10-07 18:51] Beep6581 opened #5490 "Review of when dcraw_matrix from camconst.json is used"
I am reviewing (and documenting) when the `dcraw_matrix` specified in `camconst.json` is used.

[2019-10-07 18:55] Beep6581 commented on #5490
Tested using `5.7-131-g`710f6c089

`dcraw_matrix` from `camconst.json` is used when opening a non-DNG raw or a DNG with `-EXIF:Software=Adobe DNG Converter 11.4 (Windows)`.
It is not used when opening a DNG with no `software` tag.

[2019-10-07 19:04] #5301 closed, assigned to nobody

[2019-10-07 19:32] Beep6581 commented on #5490
In this comment https://github.com/Beep6581/RawTherapee/issues/5147#issuecomment-455163388 @agriggio wrote that `dcraw_matrix` from `camconst.json` should be ignored when `-EXIF:Software=Adobe DNG Converter` - it appears that is not what is currently happening. Please confirm.

[2019-10-07 19:36] Beep6581 commented on #5487
Related: capture sharpening parameters are always saved https://github.com/Beep6581/RawTherapee/issues/5412#issuecomment-531653893

[2019-10-07 20:47] Beep6581 commented on #5488
@matjazjeran please attach the file (zip it if you need to).

[2019-10-07 21:29] agriggio commented on #5490
quite the opposite: we prefer camconst over the embedded dng matrix if the file comes from the Adobe dng converter -- this is what the comment says, and this is what happens as far as I remember

[2019-10-08 02:06] edsvo opened #5491 ""Parameters to save" dialog and file dialog order should be swapped"
Version: 5.7-129-ga87d104 (appimage)
Operating System: Ubuntu 18.04.3 LTS

When holding the control key and clicking either the "Load a profile from file" button or the "Save current profile" button, the following sequence occurs:

1) A file dialog appears.
2) A parameters dialog ("Parameters to load" or "Parameters to save") appears.

This sequence make perfect sense when _loading_ a partial prof

[2019-10-08 02:20] edsvo opened #5492 "Save profile file dialog is untitled but Load profile file dialog has title"
Version: 5.7-129-ga87d104 (appimage)
Operating System: Ubuntu 18.04.3 LTS

Click the "Load a profile from file" button. A file dialog appears with the text "Load Processing Parameters..." in the title bar.

By comparison, click the "Save current profile" button. The file dialog that appears has no title. Perhaps one should be added for consistency?

[2019-10-08 02:34] edsvo commented on #5491
I think the current behavior contributed to the confusion experienced here:

https://github.com/Beep6581/RawTherapee/issues/5124#issuecomment-450748035

[2019-10-08 05:00] edsvo opened #5493 "Clipped highlight and shadow indication button tooltips display wrong shortcuts"
Version: 5.7-129-ga87d104 (appimage)
Operating System: Ubuntu 18.04.3 LTS

Move the mouse pointer over the "Clipped shadow indication" button and a tooltip appears:
[code]

Move the mouse pointer over the "Clipped highlight indication" button and a tooltip appears:
[code]

The problem is that the tooltips do not match the behavior. Typing "<" actually activates clipped shadow indication and ">" ac

[2019-10-08 07:51] heckflosse commented on #5492
Can not confirm.

![image](https://user-images.githubusercontent.com/13733487/66377083-23c35d80-e9b1-11e9-96a9-02ed14675226.png)

[2019-10-08 08:05] Floessie commented on #5492
Cannot confirm for `dev` built on Debian 10. Maybe something is odd in the appimage?

[2019-10-08 13:56] edsvo commented on #5492
Here's what I see when loading a profile...

![load_profile](https://user-images.githubusercontent.com/49281259/66401733-80664e80-e998-11e9-902b-bdae5c483477.png)

And when saving a profile...

![save_profile](https://user-images.githubusercontent.com/49281259/66401741-83613f00-e998-11e9-9e4a-9f5bdce4676b.png)

[2019-10-08 14:10] edsvo commented on #5492
Also tried the 5.7 release appimage (RawTherapee-releases-5.7-20190910.AppImage) and see the same behavior.

[2019-10-09 07:05] Floessie opened #5494 "Clang warnings"
Here are some warnings from Clang (7 and 9) on AMD64 Linux that need some guru meditation:

### Clang 7
[code]

### Clang 9
[code]

Best,
Flössie

[2019-10-09 07:54] Floessie commented on #5494
More context for the "loop not vectorized" warning in Clang 9 using `-Rpass-missed=loop-vectorize -Rpass-analysis=loop-vectorize`:

[code]

[2019-10-09 08:10] falket opened #5495 "Canon EOS 2000D white frames"
Shots required for adding camconst.json support for Canon EOS 2000D:

https://we.tl/t-cLc5yNsDM4

Following this: https://discuss.pixls.us/t/playraw-country-sunset/14199

I took pictures at F1:4.5 due to not powerful enougth lamp at iso 100, sorry.

Thank you in advance.

[2019-10-09 09:41] Beep6581 commented on #5490
@agriggio then I managed to get your comment completely backwards, but happy that things are as they're intended to be.

Next, I want to test if and when the `ColorMatrix` in the DCP is used, and whether RT picks the correct one based on the `CalibrationIlluminant`, or just blindly assumes 1 is StdA.

[2019-10-11 05:42] ff2000 commented on #5492
This might be a HeaderBar thing. The file name has to be typed in a line edit in the title/header bar.

@edsvoboda which GTK3 version are you using?

// edit:
To clarify: your DE uses/allows client side decorations which will add that lineedit into the headerbar (which acts as the titlebar). @heckflosse (Windows?) and @Floessie use environments where client side decorations are disabled and GTK le

[2019-10-11 10:51] iliasg commented on #5490
@agriggio I think we should prefer camconst over the embedded dng for files NOT coming from the Adobe DNG converter (see some Leicas where the dng matrix is D50 instead of D65 or some Pentax DNGs where RT is better to choose the camconst matrix for consistency (same rendering as PEFs).

[2019-10-11 12:31] Beep6581 commented on #5490
1. `dcp2json` > `json2dcp`. Source DCP and final DCP are identical, so testing can proceed.
2. I swapped `CalibrationIlluminant1` with `CalibrationIlluminant2`. The effects of the resulting DCPs differ.

[2019-10-11 17:15] agriggio commented on #5490
my take on this, disregarding backwards compatibility (which can complicate things): selecting "camera matrix" should always use camconst (or built-in dcraw if no camconst exist). for dngs, there should also be the option "use embedded", which should properly parse the embedded dcp, using the already existing support for this in RT. now you can do that by explicitly selecting as input profile the

[2019-10-11 20:31] Beep6581 opened #5496 "Segfault on unusual ColorMatrix"
1.
[code]
2. Open `foo.dng`.
3. Color Management > Input profile > Camera standard, segfault.

Test images:
http://rawtherapee.com/shared/test_images/sony_ilce_7m2_cc24_daylight_software-adobedngconverter.dng
http://rawtherapee.com/shared/test_images/sony_ilce_7m2_cc24_daylight_software-empty.dng

Reproducing this bug [depends on](https://github.com/Beep6581/RawTherapee/issues/5147#issuecomment-45

[2019-10-11 21:40] Beep6581 opened #5497 "Mark thumbnail of image currently open in editor"
Would be nice if the thumbnail(s) of the image(s) currently opened in the Editor were marked in the File Browser / Filmstrip.

[2019-10-12 01:02] MartinScharnke opened #5498 "Unusably glacially slow decoing of NEF raws"
**version info:**
Version: 5.7
Branch: releases
Commit: f335efe6a
Commit date: 2019-09-10
Compiler: cc 7.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -O3 -std=c++11  -Werror=unused-label -Wall -Wuninitialized -Wcast-qual -Wno-deprecated-declarations -Wno-unused-result -fopenmp -Werror=unknown-pragmas  -ftree-vectorize
Link

[2019-10-12 01:05] #5498 closed, assigned to nobody

[2019-10-12 01:07] MartinScharnke commented on #5498
Sorry for the noise ... realised that I was attempting to load from slow remote backup

[2019-10-12 07:38] ff2000 commented on #5492
https://github.com/Beep6581/RawTherapee/blob/b643c90ba77e78168923e6c7dc56193fbb4b498a/rtgui/profilepanel.cc#L280
I don't think it fixes the issue but reading the docs:
https://developer.gnome.org/gtk3/stable/GtkFileChooser.html#gtk-file-chooser-set-current-name
instead of set_current_name we might want to use set_filename because the pp3 file already exists.

[2019-10-12 19:20] rgcmce opened #5499 "Dynamic Profile Rules suggestions"
I would like to suggest a couple of enhancements to the Dynamic Profile Rules dialog:

Provide a simple means to enable or disable a particular rule -- checkbox or enable/disable button.

Provide a method to directly duplicate a particular rule (to facilitate creating a new rule with only minor changes from an existing rule).

[2019-10-13 05:07] TooWaBoo commented on #5499
Why do you need this? Makes no sense for me.

[2019-10-13 14:10] fsenore opened #5500 "Panasonic DMC-GX7 color target"
I have shot the two images requested to create the Panasonic GX7 camera profile.
I hope that they are good enough.
I took the images in north western Italy.
I bought my ColorCheker about 6-7 years ago, sorry but I don't remember exactly.

https://filebin.net/s88j86s5nb3a74gp/Panasonic_DMC-GX7_daylight.RW2?t=3fd88c5r
https://filebin.net/s88j86s5nb3a74gp/Panasonic_DMC-GX7_incandescent.RW2?t=3fd88c5r

[2019-10-13 15:18] rgcmce commented on #5499
My dynamic profiles comprise many small partial profiles.  When I am experimenting with a new approach or optimizing a current approach, it would be useful to be able to disable a partial profile rather than delete it (to facilitate later backtracking if necessary).  I can currently accomplish essentially the same thing by editing the rule and adding a superfluous character, say 'x', at the beginn

[2019-10-13 16:51] Beep6581 commented on #5500
Thank you @fsenore , they are good.

[2019-10-13 16:51] #5500 closed, assigned to Beep6581

[2019-10-14 19:32] Beep6581 commented on #5491
I agree and created PR #5501

[2019-10-15 02:48] edsvo opened #5502 "NIKON D50 white frames"
Version: 5.7-134-gbbb410f (appimage)
Operating System: Ubuntu 18.04.3 LTS

For raw files from the Nikon D50, even when completely overexposed, measured values in the green channel (measured near the center of the frame) never exceed 99.6%. Red and blue do reach 100%.

My concern is that uncorrected this might affect highlight reconstruction. I don't know if green only reaching 99.6% is anything to

[2019-10-15 20:27] Benitoite commented on #5457
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip
A new build has been generated, you may test if you like.

[2019-10-15 20:30] Benitoite commented on #5312
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip
`meson` gained the `sys_root`ing ability via a cross-file a few days ago, so here is a new build that I have submitted.

[2019-10-16 17:21] scx commented on #4860
I got access to the new repository on [Flathub](https://github.com/flathub/com.rawtherapee.RawTherapee), and just [updated](https://github.com/flathub/com.rawtherapee.RawTherapee/pull/2) the package, so it's now able to open photos in GIMP or any other external editor that has access to the `/tmp` directory from the host.

If you want to mention the flatpak package, you should refer to this page:

[2019-10-16 18:54] Benitoite commented on #5413
A new build has been generated, it is available here: https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip

[2019-10-17 01:20] scx commented on #5115
I've provided packages for EL8 (aarch64, ppc64le, x86_64):
https://copr.fedorainfracloud.org/coprs/scx/rawtherapee/build/1062155/

[2019-10-17 09:11] Beep6581 commented on #5312
Ping @wilchak

[2019-10-17 09:11] Beep6581 commented on #5457
Ping @maz4200

[2019-10-17 09:48] maz4200 commented on #5457
Have been busy using other programs so not rushed to install new build. Just did the download of the new build and installed aqnd tried to launch it.
(Did not uninstall previous build first). Behaviour the same - crash as soon as app window opens. Am tied up with other things so have not had time to look at crash report yet. Not sure I can take more criticism of my poor formatting skills anyway -

[2019-10-17 13:27] Benitoite commented on #5457
@maz4200 Thanks for your test.
I am on macOS 10.14.6 but cannot reproduce...  RT opening ok, no crash.
Perhaps RT is having a time with one of the files in your starting folder?

[2019-10-19 19:38] ahoenselaar commented on #5434
https://github.com/ahoenselaar/RawTherapee/commit/de1c04b6336aef0cf52a477b7924952995c7c32e  reverts the predictor to the same one used for non-pixelshift files and results in correct decoding without artifacts. I wonder why the predictor was changed in the original dcraw commit that added pixelshift support.
![Screenshot_2019-10-19_11-35-14](https://user-images.githubusercontent.com/3757431/671505

[2019-10-21 09:19] Beep6581 commented on #4650
The `autowblocal` branch introduced good changes and it would be nice to get them into RawTherapee. How can I help?

[2019-10-21 09:29] Desmis commented on #4650
@Beep6581

No problem,:
1) either you merge "autowb"   (not autowblocal which does not work) in dev
2) either you think, a delay is necessary
3) either I merge "autowb" in dev

I just, merge dev in autowb

Cordially

Jacques

[2019-10-21 11:53] wheropl commented on #4204
@wtanmdt
could I get a picture of the Fujifilm digital back you're using? and possibly another contact method ~ wanted to ask you some questions about it...

[2019-10-22 09:43] arturoisilvia opened #5505 "Capture Sharpening: Highlights zone with Color Propagation are filled in a purple color"
When I apply Exposure-> Highlight reconstruction-> Method: Color Propagation when there is a Highlight zone, Capture Sharpening fills the highlight area with purple by touching any of its sliders
-------
Version: 5.7-139-g8e99401ac
Branch: dev
Commit: 8e99401ac
Commit date: 2019-10-21
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.1
L

[2019-10-22 10:45] heckflosse commented on #5505
@arturoisilvia Please provide an example file + .pp3 to reproduce. I tried to reproduce, but could not.

[2019-10-22 11:00] heckflosse commented on #5505
@arturoisilvia Can reproduce now.

[2019-10-22 11:32] arturoisilvia commented on #5505
[Para enviar.zip](https://github.com/Beep6581/RawTherapee/files/3755263/Para.enviar.zip)

[2019-10-22 12:12] #5505 closed, assigned to heckflosse

[2019-10-22 12:44] arturoisilvia commented on #5505
Thank you!

[2019-10-22 16:10] tomasxvavra opened #5506 "Support for custom string tags"
Hello, would it be possible implement custom string tagging of images?

### Example use case

I want to add tag "John" to all images where somebody called John is. Later, I am able to find or filter all images with this tag.

Ideally recursive tag filtering over all sub directories would be great. Images could contain any number of tags.

I can imagine search expressions where you can for example

[2019-10-22 18:43] #5491 closed, assigned to nobody

[2019-10-22 19:07] heckflosse commented on #4204
As this is a very rare camera back (also having non square sensels) I am not willing to spend time on fixing all issues with this camera back in RT. I could provide very basic support, but then Auto-Matched Tonecurve segfaults, which would require further work and analysis. I intend to close the issue as `unsupported` except someone is willing to create a pr to fix the issues

[2019-10-23 03:23] Entropy512 commented on #5126
Of note, from a brand new (2-3 hours old) Google Pixel 4:
[code]
Pretty much the exact opposite of the custom you mention here.

What I'm seeing is that, at least on first inspection (could be a PEBCAK error though), the colors seem to be what I'm used to seeing with DNGs with horribly broken color matrices.

Where in the source is the handling of the two calibration illuminants, and would swappin

[2019-10-23 03:35] CharlesRT2 commented on #5126
Workaround: I found for a couple of Leica cameras that you can run the DNG through Adobe DNG Converter. I didn't do technical analysis, but the converted DNGs have typical temp and tint values in RT, while the unconverted ones have temps of 9000 or more and tints of 0.60 or less. I just find it easier to work with the converted DNGs.

[2019-10-23 08:15] Beep6581 commented on #5126
Yes, common for smartphones.

Some of the effects of illuminants not in the expected order is that the white balance values in RawTherapee are way off, and that the mixing in dual-illuminant profiles is done incorrectly - if you use a dual-illuminant profile and the image would require a mix of 90% StdA and 10% D50, you get 90% D50 and 10% StdA.

Swapping the matrices in the DNG file using ExifToo

[2019-10-23 10:42] heckflosse commented on #5126
@Entropy512

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L6626
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L6749
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L6632
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L6669

[2019-10-23 11:50] Entropy512 commented on #5126
OK, thanks, good place to start on investigation.

Interestingly, it seems to have made no difference...  But I need to run a few more experiments.  Unlikely to happen before November at this point.

Nope - Moto Z2 Play.  Reliable for two years, then started acting up.  The ramoops console in pstore had nothing after a failure...  grumble...  As I said though, unusual circumstances next week of re

[2019-10-23 12:26] Entropy512 commented on #5126
Reverting https://github.com/Beep6581/RawTherapee/commit/1fdc2d7b49327c9e08ca037d04a51a7c22e159cd#diff-9967648f0eb70b821877dd6105e978ef changes the result of using the white balance colorpicker significantly, but doesn't change behavior of colors after selecting WB on the same point.

The image shown in the preview window and the image shown in the thumbnails become VASTLY different in this case,

[2019-10-23 13:01] wtanmdt commented on #4204
@wheropl I am trying to upload the picture, but something goes wrong with this forum and I do not succeed. I will try other ways.

[2019-10-23 13:51] wtanmdt commented on #4204
![IMGP9624-ss](https://user-images.githubusercontent.com/34220266/67399686-3376a080-f572-11e9-9f58-f0058e7c61df.jpg)
 @wheropl here you are.

[2019-10-23 13:56] wheropl commented on #4204
@wtanmdt thank you very much -i guess i'll have try to find one up for sale now (or two cuz one of my friends also told me he'd gladly get one if the price was reasonable (in his case compared to newer solutions) )...  i wanted to confirm that it's actually possible to get one / find one out in the wild .. out of curiosity if you can remember how much did you pay for yours?

[2019-10-23 14:05] wtanmdt commented on #4204
@wheropl I paid more than $4000 to get it. And I used an agent to bid and ship it from Yahoo Auction at Japan. This digital back is very rare.

[2019-10-23 14:07] wheropl commented on #4204
ok thx - will look out and try to snatch one if it pops up

[2019-10-23 14:58] arturoisilvia opened #5507 "Local Lab: Found a crash"
Hello!, proceed:

    1 Open image
    2 Local Adjustements-> ON
    3 Add
    4 Color & Light - Small defects: red eyes, dust-> ON
    5 Soft radius: 100
    6 Move point of Color correction grid
    Crash

Version: 5.7-1216-g41563a3ac
Branch: newlocallab
Commit: 41563a3ac
Commit date: 2019-10-21
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtk

[2019-10-23 16:03] #5493 closed, assigned to Beep6581

[2019-10-23 17:53] Beep6581 commented on #5492
I opened `~/photos/test_images/amsterdam.pef` and clicked "Save current profile":
* `5.7-146-g`6a44170af
![screenshot_20191023_195143](https://user-images.githubusercontent.com/5844619/67420310-ac0b4a80-f5ce-11e9-931b-3595e97a8c48.png)
* Patched
![screenshot_20191023_195215](https://user-images.githubusercontent.com/5844619/67420327-b299c200-f5ce-11e9-9d5f-1d73898f1875.png)

I think prefer the pat

[2019-10-23 19:08] Beep6581 commented on #5492
`dev` adds a shortcut to the currently opened image's folder to the bookmarks bar in the "Save" dialog, and defaults to showing the last-used folder. Considering that, the patch would remove the "last-used" folder functionality, so maybe it should be left as is. Otherwise, since the patch defaults to the currently opened image's folder, it could instead add a shortcut to the last-used folder to th

[2019-10-23 22:31] Entropy512 commented on #5126
I uploaded samples to raw.pixls.us, although they don't appear to be showing up in the repo, I'm guessing it takes a while?

I think the Pixels may be oddball animals that might need their own issue...  They appear to report JPEG compression but 16 bits/sample for the raw image - and it does appear that RT is seeing mosaiced data, but it almost seems like the data has already had the color matrice

[2019-10-24 01:30] wilchak commented on #5312
Working pretty well so far, thanks!

[2019-10-24 01:43] Entropy512 commented on #5126
OK, disregard basically everything I've said today.

https://9to5google.com/2019/10/23/google-camera-7-2/

Note all of the "added back feature we accidentally removed" notes.  It seems like 7.1 is a severely broken version that should never have wound up in users' hands.  I'm wondering if this is because the phones were supposed to ship yesterday and arrive at the earliest today, but instead shipp

[2019-10-24 10:57] Desmis commented on #5507
@arturoisilvia
Diificult to reproduce, but effectivly, sometimes crash

I push a commit (I hope) solve this problem

Thank you for testing :)

jacques

[2019-10-24 16:42] #5434 closed, assigned to heckflosse

[2019-10-26 19:35] #4429 closed, assigned to Beep6581

[2019-10-26 19:36] #5103 closed, assigned to Beep6581

[2019-10-28 09:27] RobinHerink opened #5511 "Auto-matched camera profile no longer working in 5.7"
Hi, I've been a very happy user of Rawtherapee since about 5.0, so first let me say a huge thank you to all involved in its development!
Unfortunately my custom profile for my Panasonic camera stopped "auto-matching" in the last version. The "Auto-matched camera profile" is greyed out. I have the profile stored in /.config/RawTherapee/dcpprofiles/ and until 5.6 it always matched my Panasonic photo

[2019-10-28 10:48] Beep6581 commented on #5511
Hey @RobinHerink
Upload a sample raw file, the DCP file, and your [`options`](http://rawpedia.rawtherapee.com/File_Paths#Config) file.

[2019-10-28 11:13] RobinHerink commented on #5511
Hey @Beep6581
After your comment it occurred to me to try and delete (rename) my options file and suddenly even 5.7 auto-matches the camera again. But I'd like to keep my options file since there are quite a few things I have set up. Could you have a look at the file and see what's wrong in it? What 5.7 doesn't like while 5.6 works? I've just noticed the same is true for my previous camera (Canon

[2019-10-29 14:45] bzhmurov commented on #5204
Open Source as it is... God bless Lightroom.

[2019-10-29 21:43] offminor opened #5513 "Camera Fujifilm X-T2 - Request for DCP"
Would it be possible for someone in the Dev Team to produce a DCP fpr the Fujifilm X-T2 camera
and incorporate it in the RT5.8 or later version of the Appimage
I have here assembled all the required data as per Rawpedia and hope you will find it adequate
I have uploaded 6 RAW files to Filebin and the URL for the upload is given here below.

Regards

Adapted Lens: Olympus Zuiko-Autozoom 35-70mm f3.

[2019-10-30 17:56] wtanmdt commented on #4204
@wheropl FYI, PaintShop Pro 2020 and Affinity Photo are all supporting RAW file of this digital back now.

[2019-10-31 20:59] Beep6581 commented on #5513
@offminor that's a very well written request, well done :)

Could you show me a photo of the lightbulb please (turned off, in daylight)?

[2019-11-01 15:17] RobinHerink commented on #5511
OK so I've been fiddling with it a little and found an interesting thing. The wrong setting is actually language selection! My system language is Czech and a new options file defaults to that - and when I change it to English (either US or UK), auto-matching the camera profile stops working. And the strangest thing is that any other language I select works! Only when English is selected, it doesn'

[2019-11-02 03:17] sat3ll opened #5514 "Save/dump History to file/clipboard"
Is it possible to have a button that copies the history to clipboard or have the history saved with the profile?

[2019-11-02 14:49] offminor commented on #5513
Thanks for your comment @Beep6581. I have uploaded 2 small files to Filebin showing the bulb and package. These were taken with my mobile phone.

I have just noticed that my camera exposure setting was Centre Weighted for the three D65 RAF but mistakenly set to Spot for the three StdA RAF files. If you prefer the
![DSC_01](https://user-images.githubusercontent.com/33794496/68072637-cdfb8e80-fd7f-1

[2019-11-02 18:23] bzhmurov commented on #5204
@Beep6581 What can we (DC-S1 users) do to help S1's support being added to RT?

[2019-11-02 18:26] LebedevRI commented on #5204
I took a look the other day, and S1 (appears to) use the same new compression algorithm
as the S1R.

(It begs the question why panasonic desided to replace it's compression algo
the very next year after just replacing it).

I didn't look, but supposedly LibRaw's latest source snapshot contains the necessary code, so.

[2019-11-03 10:08] bzhmurov commented on #5204
Yes, the latest LibRaw's snapshot supports S1 and it works, I can see S1's RAW files with Gnome's Shotwell, for example.

[2019-11-03 23:00] ghost commented on #5399
Hi,

Same problem here (x86_64 Linux 5.3.6-1-MANJARO / RawTherapee 5.7), but with any gvfs mount (sftp, smb, afp…).

In GUI, I can navigate directly through `/run/user/1000/gvfs/` but can't open any sub-directory with picture in it. I also can't add favourites (or they're not visible, according to @BlackLotus).

[2019-11-04 08:20] Beep6581 commented on #5204
@bzhmurov nothing more needed from users for now, now it's up to someone to code support for the DC-S1 into RawTherapee.

[2019-11-04 09:37] supertobi commented on #3569
Smale Update:
1. RPU (https://raw.pixls.us/) has now a HERO7 sample
2. LibRaw now supports this files: https://github.com/LibRaw/LibRaw/issues/84#event-2760183448
3. RawSpeed (darktable) has support for the .GPR files, with a very fast implementation: https://github.com/darktable-org/rawspeed/issues/40

[2019-11-04 10:43] albfe commented on #5319
Hello, it looks like the new snapshot of LibRaw supports CR3!
https://www.libraw.org/news/libraw-snapshot-201910
Code should be available in their Github repo :)

[2019-11-04 11:22] Beep6581 commented on #5514
Not possible.

[2019-11-04 11:22] #5514 closed, assigned to nobody

[2019-11-05 22:07] Beep6581 commented on #5513
DCP created and tested, looks good.

[2019-11-05 22:07] #5513 closed, assigned to Beep6581

[2019-11-06 11:45] maz4200 commented on #5457
Hi downgraded to 5.6 which is working ok.

[2019-11-06 13:02] heckflosse commented on #5204
DC-S1 and DC-S1R are working now (will push soon). First screenshots:
![grafik](https://user-images.githubusercontent.com/13733487/68300371-efb98600-009d-11ea-9ef0-89b17dbc9218.png)

![grafik](https://user-images.githubusercontent.com/13733487/68300440-0fe94500-009e-11ea-9411-e215b23c0a6b.png)

[2019-11-06 13:04] heckflosse commented on #5204
Pixelshift rw2 files from DC-S1 are not yet working. Can someone provide such a file? I have one, but it may be broken...

[2019-11-06 13:38] bzhmurov commented on #5204
Hello @heckflosse

If "Pixelshift" is what Panasonic calls "High Resolution mode", then please find two my samples here:
[http://kernelpanic.ru/S1.zip](http://kernelpanic.ru/S1.zip)

F/5.6 and F/8, just in case.

**Legal notice**. I give all possible rights for both samples (P1010931.RW2 and P1010933.RW2) to anyone. Anyone can use those files for any purposes. It is public domain, those files are

[2019-11-06 14:33] gnafuthegreat opened #5516 "Blue square artifact when using IGV demosaicing"
Found using RawTherapee 5.7, official Windows build, Windows 10.  I can also test on Fedora, but I haven't tried it there yet.

I see the following blue square artifact when selecting the IGV demosaicing method on a raw file with some blown out sky:

https://themayhaks.com/~gideon/rt-igv-artifact/P1000033-igv-crop.jpg

When choosing LMMSE or any other demosaicing method, the artifact doesn't appea

[2019-11-06 15:24] bzhmurov commented on #5204
@heckflosse I have just built the **panasonic_dc-s1** branch and can confirm that RT can decode regular Panasonic's RAW files (yay!),   but Pixelshift ones not so much :)

I use Debian Linux 10 (gcc 8.3.0, glibc-2.28)

![Screenshot from 2019-11-06 15-22-24](https://user-images.githubusercontent.com/729083/68311341-51cbb880-00a9-11ea-9f1a-5f6e0e446299.png)

[2019-11-06 15:30] heckflosse commented on #5516
@gnafuthegreat Can not reproduce using latest dev build.

[2019-11-06 15:31] heckflosse commented on #5204
@bzhmurov Pixelshift decode is still wip...

[2019-11-06 15:53] gnafuthegreat commented on #5516
@heckflosse Thanks for checking!  I'm happy with that answer if someone wants to close this issue.  Not sure if anyone wants to verify what would've fixed it, though.

[2019-11-06 16:53] heckflosse commented on #5516
I can reproduce in 5.7 but not in current dev => closing

[2019-11-06 20:26] Beep6581 commented on #5516
Unfortunately I can still reproduce:
[code]

1. Delete PP3 if any exists.
1. Open file using default profile (Auto-Matched Curve - ISO Low)
1. Zoom to 100%.
1. Switch the demosaicing method to IGV.

![screenshot_20191106_212343](https://user-images.githubusercontent.com/5844619/68335058-11396280-00dc-11ea-873e-0b53ac5b7c39.png)

[2019-11-06 20:28] heckflosse commented on #5516
@Beep6581 still can not reproduce on Win7

[2019-11-06 20:28] heckflosse commented on #5516
@Beep6581 Now I can...

[2019-11-06 20:34] Beep6581 commented on #5516
I tried to eliminate as many tools as possible, and found this fun combination:
![screenshot_20191106_213253](https://user-images.githubusercontent.com/5844619/68335637-206ce000-00dd-11ea-9705-ab5c6fb476cf.png)

[P1000033.jpg.out.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3816601/P1000033.jpg.out.pp3.txt)

[2019-11-06 20:38] gnafuthegreat commented on #5516
@Beep6581 Wow, that looks like it could be a Fatboy Slim album cover!

[2019-11-07 09:19] arturoisilvia commented on #5507
@Desmis
With version 5.7-1266 I no longer crash.
Has it been fixed?
In that case we can give the bug as fixed.
However I will continue testing.
Regards, Arturo.

[2019-11-07 10:17] Desmis commented on #5507
@arturoisilvia

I think crash is fixed

jacques

[2019-11-07 10:39] arturoisilvia commented on #5507
Jacques, look to see what happens with Denoise-> Luminance coarse (Wav)
When you move the slider with the mouse also crash with 5.7-1266
Do I open a new thread with this bug?

[2019-11-07 10:43] Desmis commented on #5507
I will have a look

jacques

[2019-11-07 11:20] Desmis commented on #5507
@arturoisilvia
I have found the bug....
I will psuh a commit soon :)

jacques

[2019-11-07 11:24] arturoisilvia commented on #5507
ok.

[2019-11-07 12:33] Desmis commented on #5507
@arturoisilvia
Fixed with commit a2d5ef3

Thank you for testing :)

I take this issue to talk about new features
* recursive data
* RGB Tone curve in Color and Light - standard, weight standard, luminance, film like
* merge image (original) with opacity  - with or without mask LCH - settings menu and mask 7: normal, addition, substract, difference, overlay, screen, soft light,  hard light, divide,

[2019-11-07 13:28] arturoisilvia commented on #5507
Perfect!
I will try it as soon as I am

Thank you very much. Regards, Arturo.

[2019-11-07 14:46] heckflosse opened #5517 "Bottleneck when loading Panasonic RW2 files"
While working on #5204 I found a bottleneck when loading Panasonic RW2 files.
It's this special handling for Panasonic RW2 files
https://github.com/Beep6581/RawTherapee/blob/dev/rtexif/rtexif.cc#L983
which takes from 1 to 17 seconds here...

[2019-11-07 17:48] heckflosse commented on #5517
I included the fix in the panasonic_dc-s1 branch

[2019-11-07 18:41] Desmis commented on #5507
I just add, for merge image, the possibility to merge with previous RT-spot

Same mode as for original

I have update Rawpedia always in french

http://rawpedia.rawtherapee.com/Local_Adjustments/fr

[2019-11-07 18:46] #5049 closed, assigned to nobody

[2019-11-07 18:52] heckflosse commented on #5336
Fixed with ffa461d

[2019-11-07 18:52] #5336 closed, assigned to nobody

[2019-11-07 19:57] heckflosse commented on #5516
I started work on this issue...

[2019-11-07 20:53] Beep6581 opened #5518 "Should RT assume HDR image has sRGB primaries and linear gamma?"
When opening a non-raw HDR image which has no color profile tag nor one assigned, and has no gamma tag, maybe RawTherapee should assume it uses sRGB primaries and linear gamma? Currently the input profile defaults to "use embedded, if possible" which has the same effect as "no profile" - the brightness is right but the hues are wrong.

This is in relation to this user support thread:
https://discu

[2019-11-07 22:21] heckflosse commented on #5517
@ff2000 On my machine this speeds up opening your raw files by ~ one second per file ;-)

[2019-11-08 08:39] arturoisilvia commented on #5507
Thanks again,
I will follow and test carefully the news you introduce that I suppose you will also announce in pixls.

Greetings.

[2019-11-08 08:39] #5507 closed, assigned to nobody

[2019-11-08 14:09] reggybe opened #5519 "Crash with RawTherapee-locallab recent versions"
The RawTherapee-newlocallab-5.7-1344-ga226a9d-20191107.AppImage for Linux and the RawTherapee_newlocallab-win64-5.7-1344-ga226a9da7_WinVista_64.exe for Windows crash as soon as I use a slider of the Noise Reduction in the Detail Tab.

This happens with all versions **after RawTherapee-newlocallab-5.7-1238-g2c7abb0-20191025**.

System is openSuSe Leap 15.1 64-bit and Windows 7 Pro 64-bit on an i5 p

[2019-11-08 16:45] heckflosse commented on #5516
This is caused by using `Avoid color shift` in raw CA-Correction. Looking how to fix it...

Edit: To be more precise, it seems there are NaN values generated by some predemosaic tools and the igv-demosaic isn't robust against such NaN values.

[2019-11-08 16:47] Desmis commented on #5519
@reggybe
I think, (I hope) this crash is solved : commit 839bad1

See issue (closed) https://github.com/Beep6581/RawTherapee/issues/5507#issuecomment-551037839

[2019-11-09 16:43] gregzaal opened #5520 "Low CPU usage, slow queue output with many images, when saving to compressed TIFF"
![2019-11-09_18-17-04_Taskmgr](https://user-images.githubusercontent.com/5604661/68531722-24d40b80-031e-11ea-8bdd-8d70160fabdc.png)

The queue seems to process only one image at a time, with apparently a lot of the operation being single-threaded. This leaves a decent/powerful CPU at idle most of the time, making exporting a large number of files extremely slow. If you have a few hundred images, i

[2019-11-09 17:14] heckflosse commented on #5520
What kind of raw files do you process (which camera)?
And which version of RT do you use?
What file format do you save to?

[2019-11-09 17:17] heckflosse commented on #5204
Done with 5235a82

[2019-11-09 17:17] #5204 closed, assigned to Beep6581, heckflosse

[2019-11-09 17:28] gregzaal commented on #5520
14-bit raw from Nikon Z7
RT 5.6
Saving to 16-bit TIFF

Used to use a Canon 600D (much lower resolution,12-bit raw iirc, everything else the same), which processed twice as fast but still had the same period of approx. 1/4 full CPU usage, 3/4 single core usage.

[2019-11-09 17:45] heckflosse commented on #5520
@gregzaal Decoding Nikon files uses only one core. Save to tiff also uses only one core (especially when saving to compressed tif this takes a while). Most of the image processing between decoding the raw and save to tif should use all cores.

Hence, a possibility to speedup queue processing would be to start decoding the next file when saving the previous one. That would give better cpu-load, but

[2019-11-09 18:03] gregzaal commented on #5520
Interesting - I do leave `Uncompressed TIFF` disabled, I'll try turning it on after this queue and see what difference it makes.

I can provide a bunch of raw images if you need them.

[2019-11-09 18:10] heckflosse commented on #5520
I always use `Uncompressed TIFF` because using `compressed TIFF` is really slow, especially when saving in full size.

[2019-11-09 18:32] heckflosse commented on #5520
I processed 5 files of same size in queue. Red is using uncompressed TIFF, blue using compressed TIFF
![grafik](https://user-images.githubusercontent.com/13733487/68533342-ab411b00-0327-11ea-915c-37d57598d22f.png)

[2019-11-09 20:07] gregzaal commented on #5520
That's definitely a huge improvement, thanks :) The file sizes are about 40-50% bigger in my case, which is a reasonable sacrifice as the TIFFs are just an intermediary format for me anyway.

![2019-11-09_21-56-33_Taskmgr](https://user-images.githubusercontent.com/5604661/68534401-e568e780-033c-11ea-87e6-78ba6daa4bcf.png)

Could still use some improvements with parallelization either way, but I'm

[2019-11-09 20:27] heckflosse commented on #5520
@gregzaal If you process a large amount of files from the same camera, it may be useful to finetune some of the RT processing for speed.

Have a look at this:
![grafik](https://user-images.githubusercontent.com/13733487/68534664-3e358180-0337-11ea-9b95-3d8597eae11c.png)

Just activate the measure Checkbox, close RT, and then start RT from command line to get the log in console. Then try different

[2019-11-10 09:08] waxhead opened #5521 "Crash when finished editing and running batch processing."
latest pull from trunk:

Version: 5.7-213-ge5258e6f6
Branch: dev
Commit: e5258e6f6
Commit date: 2019-11-08
Compiler: cc 9.2.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: debug
Build flags:  -std=c++11 -march=native -Werror=unused-label -Werror=delete-incomplete -Wall -Wuninitialized -Wcast-qual -Wno-deprecated-declarations -Wno-unused-result -fop

[2019-11-10 20:45] Beep6581 commented on #5204
@jbcaramar @noticket you can help improve quality of DC-S1R raw files by opening a new issue with a link to sample white frames shot as described here:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
Most importantly provide a complete "set 1" (as described in RawPedia) -- make sure to include shots for ISO 50, 64 and 80. Including "set 2" would be a bonus. No need for set 3.

[2019-11-10 20:51] Beep6581 commented on #5204
@ilya-varivchenko @AlexanderDyer @bzhmurov you could improve support of the DC-S1 by providing samples at ISO 50, 64 and 80, with LENR off and on. When shooting with LENR on, make sure the exposure time is at least 2 seconds, no less, else LENR does not kick in, even though enabled.

[2019-11-11 08:20] Floessie commented on #5521
Hi Peter,

Seems like you got hit by the OOM killer. There is nothing we can do or debug after a SIGKILL. If you can reproduce the crash, maybe we can look into memory hogs in your specific workflow.

Best,
Flössie

[2019-11-11 10:15] waxhead commented on #5521
Thanks Floessie. Now I know that I'll take a look at how to track that down

How did you know it was OOM killer?  The SIGKILL?

I've not had this issue before, I am on the newer kernel. I'd need to check
which 5.x Linux kernel I'm now on.

I'm also running Firefox and Evolution mail client, which I'll admit isn't
something I've run much in the past.

Peter.

On Mon, 11 Nov 2019, 7:20 pm Floessie,

[2019-11-11 10:45] Harry456-foto opened #5522 "I have added a CR3, raw file from a EOS M6 Mark II camera from canon. Can Rawtherapee and darktable be update to read this file?"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2019-11-11 10:50] Harry456-foto opened #5523 "Canon CR3"
I have send a file IMG_0075.CF3. Can you update RAwtherapee so that this file can be read by Rawtherapee?

Kind Regards,

[2019-11-11 12:57] #5522 closed, assigned to nobody

[2019-11-11 12:58] Floessie commented on #5523
See #5319. Closing here.

[2019-11-11 12:58] #5523 closed, assigned to nobody

[2019-11-11 13:28] bzhmurov commented on #5204
@Beep6581 @heckflosse
Here is the requested samples with the extended iso features (plus iso100, just in case): http://kernelpanic.ru/S1-EISO.zip
(as usual, no copyrights on those ones, feel free to do whatever you need to do with them, I give you all possible rights)

P.S. I'm already using the most resent -dev branch's snapshot on my Linux system, everything works perfect with my S1, including "

[2019-11-11 14:08] Beep6581 commented on #5522
Duplicate of #5319

[2019-11-11 15:17] heckflosse commented on #5204
@Beep6581 You forgot to mention, that the shots should be completely overexposed...

@bzhmurov Can you please provide a a set of completely overexposed shots at ISO 50, 64 and 80, with LENR off and on? Sorry for the trouble

[2019-11-11 15:55] bzhmurov commented on #5204
@heckflosse
http://kernelpanic.ru/S1-EISO2.zip

could you please try those ones? Please let me know if they are not overexposed enough, I tried my best, but the camera were not quite happy about it  :)

[2019-11-11 16:34] heckflosse commented on #5204
@bzhmurov Thanks for the files. I used them to estimate the following white levels:
[code]
@Beep6581 please confirm or finetune

[2019-11-11 18:30] Thanatomanic opened #5525 "Linking against system version of KLT fails on Fedora 31"
See here: https://discuss.pixls.us/t/problems-building-current-git-on-fedora-31

To reproduce:
1. Clean building environment, clean clone of `dev`
2. ```klt-devel-1.3.4``` installed (which is the latest version as of writing)
3. Build RT using ```-DWITH_SYSTEM_KLT="ON"```
4. Linking fails with ```undefined reference to `KLTCreateTrackingContext'``` or others.

Can anyone test on different Linux di

[2019-11-12 06:47] Floessie commented on #5525
It's not present in Debian, and seems to be packaged nearly exclusively in [Fedora](https://repology.org/project/klt/versions).

[2019-11-12 07:40] Beep6581 commented on #5525
klt is not packaged in Gentoo/Sabayon either.

[2019-11-12 09:31] waxhead commented on #5521
Linux Kernel:

Linux kanga 5.3.8-3-MANJARO #1 SMP PREEMPT Sun Nov 3 14:19:23 UTC 2019 x86_64 GNU/Linux

OK, so with a bit of googling I've used the following script to track RT's memory use:

[code]

With the following output of the memory use while I was editing photos and then turned on the queue processing:

[rt-memuse.txt](https://github.com/Beep6581/RawTherapee/files/3835260/rt-memuse.txt)

A

[2019-11-12 09:49] waxhead commented on #5521
Here's some extra information:
[code]

[2019-11-12 09:57] Floessie commented on #5521
@waxhead How much RAM and swap do you have?

[2019-11-12 10:10] waxhead commented on #5521
OK, so digging into this a little further it would appear I don't have any swap, neither a swap partition, which I have always set up as a a general rule of 2x RAM, which in this installation I didn't, but also, there's not swap file!

I was running vmstat at the time of running RT, and having discovered the lack of swap I created a swap file and the following is the vmstat output:
[code]

It's cl

[2019-11-12 10:11] waxhead commented on #5521
@Floessie 8G of RAM and no swap...  :-/

[2019-11-12 10:19] waxhead commented on #5521
I'll probably close this issue shortly.

[2019-11-12 10:33] waxhead commented on #5521
OK, clearly fixed with adding swap back to the system. Can't believe it was like that for so long... unless it was something with the Linux Kernel change in Manjaro I did a while back... ?

[2019-11-12 10:33] #5521 closed, assigned to nobody

[2019-11-12 10:40] Floessie commented on #5521
@waxhead You're also hit by #4416. Franz added a new option in #5465. Maybe you can give `-DENABLE_TCMALLOC=ON` a try...

[2019-11-12 21:52] arturoisilvia opened #5526 "Local Lab: Crash in Mask L(L) de Smooth-Blur...."
English version

1) Crash in Mask L(L) of Smooth-Blur....
	Add
	Smooth - Blur - Noise - Grain -> ON
	1+* Mask and modifications - Smooth....
		Mask L(L): Standar-> move point and crash

2) Another issue:
I usually use the Color & Light module and the area and intensity where I apply the mask I consider it important.

In '7 Mask and modifications' I select 'Preview selection deltaE' and see where t

[2019-11-13 07:42] Desmis commented on #5526
@arturoisilvia

Thank you for testing :)
1) Effectively there was a bug with contrast curve L(L) in mask 1
With the last commit, its fixed. 0e409e7

2) it is a bug, I will have a look

Thank you

jacques

[2019-11-13 15:02] Desmis commented on #5526
@arturoisilvia
I just fixed the bug "Preview selection deltaE"... commit 636b364
But this bug was very very big, it made the use of "locallab" almost impossible : it's the story of the cat biting its tail :)

For "Mask deltaE image", it is in Rawpedia
https://rawpedia.rawtherapee.com/Local_Adjustments/fr#Case_.C3.A0_cocher_.22Mask_deltaE_Image.22_et_curseur_.22Scope_Mask_DeltaE_image_.28menu_Setti

[2019-11-13 15:41] Desmis commented on #5526
I just update "Rawpedia" (always in french)
http://rawpedia.rawtherapee.com/Local_Adjustments/fr

[2019-11-13 16:33] arturoisilvia commented on #5526
Thank you very much for the speed in solving these bugs. You know there is nothing worse than a crash: as soon as it occurs you lose all the work you were doing. That is why it is important to cover them all and that it does not happen to anyone as it would be a frustration.

As soon as it is available I will check how the Preview selection deltaE has been. I didn't expect him to give so much war.

[2019-11-13 16:33] #5526 closed, assigned to nobody

[2019-11-13 16:51] Desmis commented on #5526
@arturoisilvia

Thank you very much :)

jacques

[2019-11-13 19:01] harshbarj opened #5527 "PPI information not being saved in tiff exif."
When saving a tiff file the exif field for the file ppi is blank. A jpeg file saved from the same file at the same time does contain this correct information. The original file is 400ppi and when saved as a tiff (any type) it is blanked out and windows incorrectly identifies it as 96ppi.

Running windows 10 enterprise and rawtherapee 5.6. All files used are scanned on a Epson expression 11000xl sc

[2019-11-13 20:56] Beep6581 commented on #5527
Handled by #3801

[2019-11-13 20:56] #5527 closed, assigned to nobody

[2019-11-14 00:12] CharlesRT2 opened #5528 "Bug in open of a .pp3 file with selected settings?"
RT 5.7 Windows 64, Sept. 13, 2019 published build.

I have a .pp3 file that begins noise reduction the way I like (attached after rename to .txt). For a long time it has worked. Recently, open of the file changes other settings. Specifically,
    1. Open a raw file (several .DNG files tried)
    2. Change Color Management | Input Profile from Auto-matched to Custom, and open a .dcp
    3. Open the

[2019-11-14 11:04] Beep6581 commented on #5528
@CharlesRT2 set your processing profile fill mode to "preserve" and try again
http://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles#Partial_Processing_Profiles_and_Fill_Modes

[2019-11-14 13:38] Beep6581 commented on #5528
Works fine here in "preserve" mode, `5.7-232-g`c2ed31991

[2019-11-14 14:40] SamuelBenard commented on #4557
Hi,
Sorry I couldn't provide pictures as I didn't go back in the water since for various reasons. But today, I found that http://openaccess.thecvf.com/content_CVPR_2019/papers/Akkaynak_Sea-Thru_A_Method_for_Removing_Water_From_Underwater_Images_CVPR_2019_paper.pdf

Someone did better than I could ever do

[2019-11-14 16:04] CharlesRT2 commented on #5528
Thank you. That button was my problem. I recall that I accidentally clicked on that button months ago and fixed it with advice. So this is the second time. If it is only me, so be it, my job to learn; if it happens to other people, maybe there is a UI issue.

Thanks again.

[2019-11-14 16:04] #5528 closed, assigned to nobody

[2019-11-17 10:11] heckflosse opened #5529 "Segfault in before/after mode"
pixls.us user XaVal privately reported a crash which I can reproduce

1) get [this raw](https://discuss.pixls.us/uploads/short-url/hGKZtkFU7012rVzsTnt166M4gjQ.nef) and this [pp3](https://discuss.pixls.us/uploads/short-url/3XbwwDsaUUdPKuiEWGKEIGOTTFC.pp3)
2) Open the raw, apply the pp3
3) Zoom in to 500%
4) enable before/after mode => segfault

I'll try to find the cuplrit.

[2019-11-17 11:05] ff2000 commented on #5529
For me it crashes immediately when loading the pp3.
[code]
[code]
The default profile works fine (Auto matched curve ISO LOW).

/EDIT/
After doing a clean build (saw that I used gcc-8.3.0 to compile but it picked up gcc-9.2.0 libs) I can load the pp3 and it crashes as described.
Updated bt:
[code]

[2019-11-17 11:57] ff2000 commented on #5529
1) It already crashes at 200% -- 100% is fine
2) enable "Auto Fill" in "Lens/Geometry" and the crash doesn't happen anymore.
/edit:
3) from the original pp3 (disabled Quto Fill) disable Wavelets AND Noise Reduction also fixes the crash. Disabling only one of Wavelets / Noisereduction doesn't help.

[2019-11-17 12:02] heckflosse commented on #5529
I disabled Wavelet and Local contrast. Still crashes, but this patch fixes the crash

[code]

Enabled wavelet again. Now it crashes again. Looking

Edit: with wavelet enabled debug build works but release build crashes. Making relwithdebinfo build now...

[2019-11-18 12:29] fm2003 opened #5530 "Lens corrections for Panasonic 42.5mm f/1.7 are not available"
When opening an image that was shot with the Panasonic 42.5mm f/1.7, the corrections for geometric distortion and chromatic aberration are not available (this happens with the two cameras I have: the Panasonic G80 and the GX80). The lens is recognised, but the correction checkboxes are greyed out. Also, a warning tooltip is shown next to the "manually selected" part, with the text "Warning: the cr

[2019-11-18 12:37] Beep6581 commented on #5530
Confirmed in `5.7-232-g`c2ed31991 that on opening the raw some minor lens distortion correction is being applied though the PLC checkboxes are all grayed-out, and that when touching the white balance temperature slider the corrections are unapplied.

[2019-11-18 20:15] mihaifm opened #5532 "Release hashes for binaries"
The binaries on the website seem to be missing release hashes. Are these available anywhere?

Thanks

[2019-11-19 07:11] Beep6581 commented on #5532
Add `.sha256sum` to the URL of a binary. If there is a hash, it will appear.
e.g.
https://rawtherapee.com/shared/builds/linux/RawTherapee-releases-5.7-20190910.AppImage.sha256sum

[2019-11-19 07:11] #5532 closed, assigned to nobody

[2019-11-19 18:28] Beep6581 commented on #5522
@Harry456-foto RawTherapee now supports decoding CR3 raw files (but not metadata). Feel free to open a new issue and supply daylight + incandescent tungsten shots of a [color target](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles) as well as LENR=on [white frame](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) shots (set 2).

[2019-11-19 18:31] Beep6581 commented on #4531
@j03jones @malcyL @dmitry-guryanov RawTherapee now supports decoding CR3 raw files (but not metadata). Feel free to open a new issue and supply daylight + incandescent tungsten shots of a [color target](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles) as well as LENR=on [white frame](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) shots (set 2).

This issue is

[2019-11-19 18:31] Beep6581 commented on #5317
@DawidLoubser RawTherapee now supports decoding CR3 raw files (but not metadata). Feel free to supply daylight + incandescent tungsten shots of a [color target](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles) as well as LENR=on [white frame](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) shots (set 2).

[2019-11-19 18:33] Beep6581 commented on #5319
Commit 0cf3f16df adds basic CR3 decoding support. Metadata is not supported yet.

[2019-11-19 19:03] ff2000 commented on #5529
I can still make it crash when I pull up NR Luminance slider:
[code]

[2019-11-19 19:12] heckflosse commented on #5529
@ff2000 Thanks for reporting. Will have a look...

[2019-11-19 19:16] heckflosse commented on #5529
@ff2000 Can you please provide the pp3 to reproduce?

[2019-11-19 20:05] albfe commented on #5319
Thanks a lot for the effort: it works!
Of course it is not yet usable, without metadata support, but I guess it will be coming with time :)

Thanks again!

[2019-11-19 20:32] ff2000 commented on #5529
Here is the diff to the OPs pp3:
[code]
It's late and I would have to start my slow PC for accessing Dropbox.
If that's not enough I will upload the whole pp3 tomorrow.

[code]

[2019-11-19 20:59] heckflosse commented on #5319
@albfe We started work on it today. Porting the code to decode the files was easy. Give us some time for the remaining parts (Metadata...)

[2019-11-19 21:01] heckflosse commented on #5529
@ff2000

Why use Dropbox for uploading a whole (small) pp3?

Just add the .txt suffix and attach it here ;-)

[2019-11-19 22:03] albfe commented on #5319
@heckflosse , I completely understand and my intention was not to criticize, but rather to thank you for having started working on this. Sorry if we misunderstood. My note about metadata was for other possible users that are waiting for cr3 support, so that they don't expect it is fully usable right now, just that.

BTW, even EOS R crop seems to be working well.

[2019-11-20 06:05] ff2000 commented on #5529
Sorry, brain was already asleep ;)

[img00030050.nef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/3867537/img00030050.nef.pp3.txt)

[2019-11-20 06:27] ff2000 commented on #5529
I now got the very same backtrace as [here](https://github.com/Beep6581/RawTherapee/issues/5529#issuecomment-555658598) when loading the unmodified pp3 from the OP.
It seems now it's crashing at 300% view xD (reproducable!)

[2019-11-20 06:37] ff2000 opened #5533 "Crash when loading a pp3 with ".txt" extension"
**This issue is not reproducable**
I just wanted to put it here with the backtrace.

What I did:
Renamed a pp3 to upload here. It's in this comment:
https://github.com/Beep6581/RawTherapee/issues/5529#issuecomment-555853725
Then I loaded that "pp3.txt" using the "Load a profile from file" button.

Result:
RawTherapee hung up with 200% CPU usage.
[code]

[2019-11-20 07:07] Floessie commented on #5533
@ff2000 Next time it would be beneficial if you made use of [`thread apply all bt full`](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step). A thread idling on a mutex is hardly the cause for 200% CPU usage... :wink:

[2019-11-20 11:13] heckflosse commented on #5529
@ff2000

Should be fixed with this patch:
[code]

It seems now it's crashing at 300% view xD (reproducable!)

This one I can not reproduce

[2019-11-20 11:13] DawidLoubser commented on #5317
Oh nice! I ended up selling my EOS-R body because none of the open-source RAW editors supported CR3 after such a long time, so I won't be able to contribute those shots right now, apologies.

[2019-11-20 11:41] ff2000 commented on #5529
Fix confirmed. Also fixes the issue you couldn't reproduce.

Edit: After reverting the fix I now tried again to reproduce the 300% crash, and initially wasn't successful with every try.
But I can again make it always crash by grabbing the NR-Luma slider, pulling it to the right and again back to 0.0. After that it crashes always when enabling before/after with 300% view. (Guess: probably an issue

[2019-11-20 11:43] #5317 closed, assigned to nobody

[2019-11-20 13:52] heckflosse commented on #5529
@ff2000 I will make a RelWithDebInfo build now. Will take a while...

[2019-11-20 14:18] heckflosse commented on #5529
@ff2000 I can not reproduce using a RelWithDebInfo build :frowning_face:

[2019-11-21 06:32] ff2000 commented on #5529
@heckflosse no reason to be sad ;)
Just to be sure: You tried with HEAD at c21d1420983cf4832dcfc88e7ce13db073419497 (reverted 04443345649fad73f250526c5672dab1208a2b32)?
Btw. (I'm sure you know) you can have as many build directories as you want, so no reason to do a REbuild with different build type, just cd to RawTherapee/build_debug - or RawTherapee/build_RelWithDebInfo.

This issue is IMO solve

[2019-11-21 17:09] #5487 closed, assigned to heckflosse

[2019-11-21 17:10] #5412 closed, assigned to heckflosse

[2019-11-21 17:12] heckflosse commented on #5529
@ff2000 I already had 3 build directorys (for gcc release and debug and for clang release). Now I have 4 ;-)

[2019-11-21 17:12] #5529 closed, assigned to heckflosse

[2019-11-21 17:15] #5517 closed, assigned to heckflosse

[2019-11-21 17:35] mattiaverga commented on #5525
As the maintainer of RT in Fedora repositories, I would like to add some notes:
- RT 5.7 stable builds fine with system KLT 1.3.4
- KLT in Fedora has not been upgraded in the last years and it's the same version bundled in RT

So, if the problem is with RT master branch, I suppose it could be due to the recent dependencies cleanup... I should have some free time tomorrow, if so I'll have a look at

[2019-11-22 09:18] mattiaverga commented on #5525
I confirm that today `dev` branch fails to build using system KLT:
[code]

I see that `calc_distort.cc` has not been changed lately, but maybe these two lines:
https://github.com/Beep6581/RawTherapee/blob/7b54c7f2a42da28f38bdaf5399c0ef3e339e58dc/rtengine/calc_distort.cc#L8-L9
should not statically refer to the bundled KLT?

[2019-11-22 09:23] reggybe commented on #5519
Issues solved with version of yesterday RawTherapee-newlocallab-5.7-1438.

[2019-11-22 09:23] #5519 closed, assigned to nobody

[2019-11-22 09:26] reggybe commented on #5519
Issues solved with version of yesterday RawTherapee-newlocallab-5.7-1438.

[2019-11-22 11:42] abertens opened #5535 "Regression in Olympus E-M10MarkII raw black levels"
Hi there,

Yesterday downloaded rawtherapee from git, built it and when opening any color image in editor, they have a pink cast (Linux Debian 9).

Version: 5.7-248-g7b54c7f2a
Branch: 5.7-248-g7b54c7f2a
Commit: 7b54c7f2a
Commit date: 2019-11-21
Compiler: cc 6.3.0
Processor: generic
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: Release
Build flags:  -std=c++11  -Werr

[2019-11-22 12:08] Beep6581 commented on #5535
Hi @abertens , see:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
We need to measure the white and black levels and make an input profile.

[2019-11-22 12:13] abertens commented on #5535
Hi @Beep6581,

I have almost two years using RawTherapee with my Olympus Camera.

Till commit from 4 days back, it worked ok:

Version: 5.7-235-g62eb970ae
Branch: 5.7-235-g62eb970ae
Commit: 62eb970ae
Commit date: 2019-11-17
Compiler: cc 6.3.0
Processor: generic
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: Release
Build flags:  -std=c++11  -Werror=unused-label -Werr

[2019-11-22 12:21] Floessie commented on #5535
Confirmed. Bisecting...

[2019-11-22 12:33] heckflosse commented on #5535
@Floessie As I tested today with some M5MarkIII files, I sometimes got the pink cast, but not always (on the same file).

[2019-11-22 12:35] Floessie commented on #5535
@heckflosse It's 0cf3f16dfa58b4fcefd6d49965f8337333f076a4.

[2019-11-22 12:38] heckflosse commented on #5535
@Floessie Must be the dcraw.cc part of the commit then... looking

[2019-11-22 12:41] Floessie commented on #5535
@heckflosse I took the sample from [raw.pixls.us](https://raw.pixls.us/getfile.php/2785/nice/Olympus%20-%20E-M10%20Mark%20II%20-%2016bit%20(4:3).ORF). It reliably fails on my Debian 9 setup.

[2019-11-22 12:49] Floessie commented on #5535
@heckflosse Desturbing finding: decodes reliably **well** on my Debian 10 setup.

[2019-11-22 13:04] heckflosse commented on #5535
@Floessie
https://github.com/Beep6581/RawTherapee/commit/0cf3f16dfa58b4fcefd6d49965f8337333f076a4#diff-9967648f0eb70b821877dd6105e978efR5604

`RT_canon_CR3_data.CR3_CTMDtag` is checked, but not initialized. Can you confirm?

[2019-11-22 13:16] heckflosse commented on #5535
@Floessie
This fixes it:
[code]
Can you confirm?

[2019-11-22 13:29] abertens commented on #5535
@Floessie @heckflosse @Beep6581

Proposed patch from @heckflosse fixes the issue!

Thank you!

[2019-11-22 13:35] Beep6581 commented on #5535
I could reproduce and will test the patch this evening.

[2019-11-22 13:37] #5535 closed, assigned to nobody

[2019-11-22 15:10] Beep6581 commented on #5535
Fix confirmed.

[2019-11-22 15:18] DiegoBM commented on #4847
I'm facing a similar issue to this one (I thought I could reuse this one instead of creating a new one).

This is the first time that I build the application. I created a new virtual machine just for this.
I have followed the instructions exactly as mentioned, and everything goes well to the point in which everything builds without issues and if I run the application from the mingw shell, everythi

[2019-11-23 11:17] coponhub opened #5536 "Demosicing method: simple(reduction)"
I want to simple demosaicing method for bayer sensor that one unit of color pattern to one pixel.

If the method process BGGR pattern data, Green channel is average of two green data and Blue channel is blue, Red Channel is red data.

image pixels -> pixels
[code]
1 = RGB(R1, (G1a + G1b) / 2, B1)
2 = RGB(R2, (G2a + G2b) / 2, B2)
3 = RGB(R3, (G3a + G3b) / 2, B3)
4 = RGB(R4, (G4a + G4b) / 2, B4)

Th

[2019-11-23 11:25] Thanatomanic commented on #5536
What (photographic) purpose do you have for this? If it is speed, then RT already has a pretty decent and pretty fast "Fast" demosaic method.

[2019-11-23 11:38] coponhub commented on #5536
@Thanatomanic My purpose is reduce interpolated pixels by demosaicing process. I want to development raw photo data without finding or worrying artifact.

[2019-11-23 11:53] roessli opened #5537 "Impossible to open sub-menu in film simulation"
Hello,
The submenus of the film simulation cannot be re-opened anymore if they were opened once.
For example, in the menu film simulation -> color only Agfa and Lomography are not affected.
The other menus do not re-open if they were opened once.
I was using RAWTHERAPEE 5.7 but the RAWTHERAPEE 5.7-dev shows the same effect.
I am using Debian on Chrome OS
Linux penguin 4.19.69-06666-g6c4f8cbba24e
I

[2019-11-23 11:56] Thanatomanic commented on #5536
I think you misunderstand the purpose of the available demosaicing algorithms. They try to _reduce_ various artifacts by all kinds of smart interpolation methods. There is no clear argument why your method would be artifact free.

I'll let @Beep6581 be the final judge here, but unfortunately, I don't think your idea has any merit to be implemented in RT.

[2019-11-23 12:06] coponhub commented on #5536
@Thanatomanic I just want to image by simple processing. I doing this method by manual operation (using dcraw raw output). The output image is better then normal demosicing + reducing to 1/4.

[2019-11-24 10:03] 10110111 opened #5538 "Give out an error message when a file couldn't be loaded"
Currently, when RawTherapee is started with a filename on a commandline, which it can't open (e.g. it doesn't exist), it silently opens a directory and simply waits for the user to guess what's just happened. Similarly, if I open a corrupt DNG file (e.g. samples per pixel being 8 instead of correct 4), I see it simply show "0%" in the progress bar with no other indication of activity (no CPU usage

[2019-11-24 18:49] glitterdust commented on #5312
I found this issue since RT crashed every time I attempted to save a file.
The download from @Benitoite seems to have solved the issue for me.

[2019-11-25 06:15] 10110111 opened #5540 "Drastic change in colors for minute change in color matrix 1"
I was trying to generate valid DNG files from my phone camera to be able to process in RawTherapee (checking on Ubuntu 18.04 RawTherapee 5.3). For some reason, it appears that if I go from the value of TIFF field with `TIFFTAG_COLORMATRIX1` of
[code]
to
[code]
the colors in RawTherapee change drastically: from greenish tint to purple. See the following screenshots:
![Screenshot_20191125_082905](ht

[2019-11-25 07:17] Beep6581 commented on #5537
@roessli upgrade GTK+ to the latest version and recompile.

[2019-11-25 07:17] #5537 closed, assigned to nobody

[2019-11-25 09:25] akidee opened #5541 "Sometimes processing profiles are not saved - macOS"
Version: 5.6
Mac OS 10.11

I open RT, choose a photo, make sure that I load my own neutral profile, then apply some changes (e. g. camera input profile, ...), then I want to save these changes as a camera profile which only contains these changes, so I press "Save Profile" along with Ctrl. only choose the parts I need, then save. Sometimes it is saved, but sometimes not. The resulting pp3 file onl

[2019-11-25 09:41] Beep6581 commented on #5541
@akidee please be more specific about what you did exactly. In fact, record a video showing everything from starting RT to the empty saved profile.

[2019-11-25 09:43] #5312 closed, assigned to nobody

[2019-11-25 12:02] akidee commented on #5541
This should be enough:
- I open RT.
- I select a RAW image for editing.
- I set its processing profile to "(Neutral)".
- I set its demosaicing method to "LMMSE"
- On the top right-hand corner, I press on the button "Save current profile" along with pressed "Ctrl" key.
- I enter the name for the pp3.
- The dialog "Parameters to save" appears. I click on "Everything" two times to makes sure that non

[2019-11-25 12:37] akidee opened #5542 "Crop problems"
Version: 5.6
Mac OS 10.11

- The UI (info above in image are and navigator) does not instantly reflect changes under Transform -> Crop. But the exported image will have the correct size.
- Rotating the image changes the crop: In landscape mode, I enter 16, 10, 6000, 4000 for left, top, width, height. After rotating by 90° to the left, I get 10, 13, 4000, 6000. By 270° (clicking 90° button three ti

[2019-11-25 14:09] akidee commented on #5457
5.7 crashes (here on 10.11) as soon as I click the folder to load a profile. More unstable than 5.6 (which frequently crashes, too)

[2019-11-25 15:55] akidee commented on #5536
@Thanatomanic A Bayer pattern sensor has just half of the resolution if you want to get full RGB information for every pixel without any interpolation. `dcraw` supports this with `-h` ("Half-size color image (twice as fast as "-q 0")")

[2019-11-25 16:09] Thanatomanic commented on #5536
@akidee The fact that `dcraw` supports a certain processing mode, doesn't mean it should be available in RT 😉

This is incorrect. Your sensor is quantized in a very particular way, and therefore you capture the scene you expose your sensor to in a quantized way. By the very nature of the Bayer-sensor, you do not capture all RGB information from a certain scence location on the same position on you

[2019-11-25 16:51] Beep6581 commented on #5536
@coponhub can you demonstrate?

[2019-11-25 16:59] Beep6581 commented on #5457
Closing as @Benitoite cannot reproduce and no one submitted a GDB [stack backtrace](https://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step) using his latest build.

[2019-11-25 16:59] #5457 closed, assigned to nobody

[2019-11-25 19:25] fanckush opened #5543 "macOS Catalina crash: can't open"
The moment I open RT it crashes on macOS 10.15
The error report is big but this section below seems to be causing the issue
RT 5.7.0 (installed using brew)
[code]

Isn't libexpat a native/default library that is preinstalled in macOS? I'm not sure how to fix this

[2019-11-25 19:28] Beep6581 commented on #5543
@fanckush can you reproduce using this build? https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip

[2019-11-25 19:28] fanckush commented on #5543
Sooo this has been opened before #5385. sorry for not double checking before opening.

[2019-11-25 19:28] #5543 closed, assigned to nobody

[2019-11-25 19:32] fanckush commented on #5543
@Beep6581 yes it still crashes with the same error

[2019-11-25 19:39] fanckush commented on #5543
Do you have dev builds or do I have to manually build RT from master to get this working?

[2019-11-25 19:42] Beep6581 commented on #5541
Screen recording not provided.

I followed the steps and could not reproduce in `5.7-252-g`f054ed00e in Linux.

@akidee see if this build works on your system:
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip

[2019-11-25 19:43] Beep6581 commented on #5543
We don't have an automated macOS build system. @Benitoite is all we have.

[2019-11-26 13:21] Beep6581 commented on #5542
Tested in `5.7-252-g`f054ed00e and 1 is not a bug, 2 cannot reproduce, 3 confirmed though the current behavior seems correct.

@akidee please test whether a bug exists in the latest release before reporting (yes I am aware that 5.7 does not run on some macs, but much has changed since 5.6), and then open 1 issue per problem along with a clear description and all necessary info.
https://rawpedia.ra

[2019-11-26 13:21] #5542 closed, assigned to nobody

[2019-11-26 13:48] Beep6581 commented on #5488
Ping @matjazjeran

[2019-11-26 13:48] Beep6581 commented on #5540
Maybe related to #5496

[2019-11-26 21:00] Entropy512 commented on #5536
Because the actual physical locations of the sensels are not the same (but are then mapped directly to a single RGB pixel), this will potentially cause artifacts.

It's basically a variation nearest-neighbor with subpixel offsets.

I don't remember what method dcraw uses for -h mode - I had assumed it was slightly more sophisticated than what was proposed (such as lanczos downsampling, taking into

[2019-11-26 21:14] Beep6581 commented on #5536
One of the "fast export" pipelines does early downsampling, though it's not documented how (or at all)...

[2019-11-26 21:30] Entropy512 commented on #5540
Hmm...  Yeah, I think #5496 may have a couple of subcomponents (most notably, your question of why ColorMatrix2 is being used when Auto-Matched Camera Profile is active).  Some of those might be contributing?

[2019-11-26 21:33] Entropy512 commented on #5496
As to the use of ColorMatrix2 when it shouldn't be getting used - I don't know what's going on there.

As to the crash - looks like the matrix inversion code isn't able to recognize a non-invertable matrix and error out before attempting to do something that is impossible.

[2019-11-27 09:02] michalzkosmosu opened #5545 "Problem with Fujifilm X-A10's RAF files"
So far, the RAW files from my camera, Fujifilm X-A10, have not been running in any software available on Linux – neither RawTherapee nor Darktable. With hope I was checking every version of both programs, but it was always the same – the RAF files didn't even open. Since I only use Linux, it means that my camera is lying unused. And finally in version 4.7 of RawTherapee for the first time somethin

[2019-11-27 09:14] Beep6581 commented on #5545
Works fine in RawTherapee 5.7.
![screenshot_20191127_101331](https://user-images.githubusercontent.com/5844619/69709924-a5f11800-10fe-11ea-87dc-bf85fab0a30d.png)

[2019-11-27 09:14] #5545 closed, assigned to nobody

[2019-11-27 09:15] Beep6581 commented on #5545
If you have access to a color target, you could send us daylight + StdA shots http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2019-11-27 09:25] michalzkosmosu commented on #5545
I don't know if you've read my entire message. RAWs have recently started to run, but not everything works, for example a color mixer: http://www.robmydobrze.pl/pliki/raf_fujifilm_xa10.gif

![Color mixer](http://www.robmydobrze.pl/pliki/raf_fujifilm_xa10.gif)

[2019-11-27 09:36] Floessie commented on #5545
@michalzkosmosu Just turn it on and it will start to work. :wink:

[2019-11-27 09:48] Beep6581 commented on #5538
Duplicate of #3583

[2019-11-27 09:48] #5538 closed, assigned to nobody

[2019-11-27 11:12] michalzkosmosu commented on #5545
What an embarrassment. Haha. It's true.

[2019-11-27 12:14] coponhub commented on #5536
@Beep6581
Demonstration

1. raw output by dcraw `dcraw -D -6`
2. open by image editor ![image](https://user-images.githubusercontent.com/7829325/69720793-c056e000-1156-11ea-95c5-a019eec2f056.png)
3. add bayer patten filter ![image](https://user-images.githubusercontent.com/7829325/69720897-02802180-1157-11ea-9c0c-88f0e28884ed.png)
4. down green value and apply filter (using layer mode "HSV Value"

[2019-11-27 12:24] coponhub commented on #5536
I tried `dcraw -h -6` (in last version of dcraw). I didn't know "-h" option.
![image](https://user-images.githubusercontent.com/7829325/69723906-111e0700-115e-11ea-864a-555656940f84.png)

 `dcraw -h -6` + Rawtherapee color noise reduction(median 9x9)
![image](https://user-images.githubusercontent.com/7829325/69724819-05334480-1160-11ea-8137-5d30d39fec91.png)

[2019-11-27 18:29] fsenore commented on #4856
Is there a chance that this bug will be fixed?
Today I opened some portrait images again, and finding a square crop is really annoying.

[2019-11-27 18:45] heckflosse commented on #4856
Thanks for the reminder. I will have a look now.

[2019-11-28 13:45] akidee commented on #5536
I did't claim that. Of course the -h method looses important information, because each sensel contains brightness information, too. But you could use it as a way to compress your RAW data as a TIFF without a curve. But I guess a similar optimization is already implemented in RAW formats with compression.

[2019-11-28 14:11] Thanatomanic commented on #5536
@coponhub I am very confused by your demonstration. You seem to extract the green values from the Bayer array, then do a linear resize (which I hope is not doing any interpolation of its own) and then "fix color" (whatever that may mean). You end up with a picture that only contains green and somehow you try to compare color noise? I don't follow...

[2019-11-28 14:39] Thanatomanic commented on #5536
@coponhub I've put together a demonstration of my own. The challenge for you: match the processing method to the correct image.

I took a photo of my own (Nikon D750, f/4.0, 1/250s and ISO2500) and processed it in three ways:
1. ` dcraw -w -W -h -T -g 2.4 12.92 _DSC7045.NEF` (these settings allow direct comparison with the output I got from RT)
2. Use RT, apply Neutral profile, set Demosaicing met

[2019-11-29 18:37] #4974 closed, assigned to nobody

[2019-11-30 00:59] SonnyRajagopalan opened #5546 "Does RawTherapee 5.7 work on MacOSX?"
I am using RawTherapee v. 5.7.0 on MacOSX (10.15.1). I tried opening CR3 files which I understand you folks have recently added support for, but that did not work (adding the folder to the "places" section and then clicking on places did not show the images in the middle window of RawTherapee). So, I tried some CR2 files, but same problem. What am I missing?

I must confess I am having a lot of tr

[2019-11-30 01:52] SonnyRajagopalan commented on #5546
It appears like the software does not have CR3 support after all.

Second, the default Find string had "EOS" in it, which is why the files with the CR2 extension did not show up. I think this default should be empty. Since I was able to open CR2 files in the software after fixing the aforementioned, I am closing this issue.

[2019-11-30 01:52] #5546 closed, assigned to nobody

[2019-11-30 22:57] Beep6581 opened #5547 "Make raw black and white level tools work on absolute values"
I would find it more informational and clear if the current raw black and white levels were explicitly shown in spinboxes, allowing me to see the value and to directly change it. Currently (5.7) the raw black levels are offsets and the raw white level is a multiplier, and the user does not know what the detected levels are.

Concerning nomenclature, I propose to call them "black levels" and "white

[2019-12-01 10:07] Thanatomanic commented on #5547
I have no objections to exposing these values to the user. Good plan! The interface is already almost there.

As to the naming: I don't think it's appropriate to call both 'levels', in particular since one acts as an offset and the other as a multiplier. Could we change the behavior to be the same in both cases, or is there a practical argument to not do so? What would be your objection to use the

[2019-12-01 10:27] Beep6581 commented on #5547
@Thanatomanic this issue is about getting rid of the offset and multiplier and working with the actual levels.

The current terms are misleading or vague - the sliders don't control the "raw black point" but an offset, and the "white-point correction" is a multiplier.

If the engine is capable of providing the actual levels used, then I don't see why we shouldn't see and be able to adjust them dir

[2019-12-02 03:33] snappyapple632 commented on #5488
I did it for him, since it seems he hasn't been online since he made this issue.
[Slovenian.zip](https://github.com/Beep6581/RawTherapee/files/3909307/Slovenian.zip)

[2019-12-02 10:21] Beep6581 commented on #5488
@snappyapple632 copy-pasting is likely to lose some special characters, that's why I asked for the original.

[2019-12-02 10:26] #5488 closed, assigned to Beep6581

[2019-12-02 18:09] Krijger opened #5550 "macOS CI pipeline - automated builds"
To support macOS development, this issue is to implement a Continuous Integration pipeline. This will allow us to create macOS builds for basically each commit, and to share these with the entire comunity, making testing easier.

The following needs to be done:

- [x] create a pipeline using GitHub Actions (service of choice for now)
- [x] output a bootable artifact
- [ ] codesign and notarize the

[2019-12-02 18:30] #5190 closed, assigned to nobody

[2019-12-02 18:30] #4978 closed, assigned to nobody

[2019-12-02 18:31] #4717 closed, assigned to nobody

[2019-12-02 18:32] Beep6581 commented on #4404
We now have CI for AppImage and Windows builds.

[2019-12-02 18:32] #4404 closed, assigned to aferrero2707

[2019-12-02 18:33] Beep6581 commented on #5550
@Krijger that would be nice, please talk with @aferrero2707 as he is working on that as well.

[2019-12-02 19:04] Krijger commented on #5550
Sure. Shall we keep the communication in this issue?

Any answers to the other questions though? Where do the linux nightly builds come from? And are there unit tests being run on commit anywhere?

[2019-12-02 20:54] heckflosse commented on #5550
@Krijger

Thanks for you offer to help. Very much appreciated :+1:

Yes, please.

From @aferrero2707

No, the only thing running automatically on any pr commit is LGTM

[2019-12-02 22:12] Beep6581 opened #5551 "Update automated development build filenames"
The automated build filenames for RawTherapee and HDRMerge will use this template:
[code]

Releases will use:
[code]

Fields separated by underscores, where a field is the output of a command such as `git describe`.

https://github.com/jcelaya/hdrmerge/releases/tag/nightly
https://github.com/Beep6581/RawTherapee/releases/tag/nightly

https://github.com/aferrero2707/hdrmerge-ci/blob/master/package-

[2019-12-02 22:14] Beep6581 commented on #5550
For info on automated AppImage and Windows builds, see #5551

[2019-12-03 00:13] Krijger commented on #5550
@heckflosse just to be sure, the builds are executed locally on machines using the scripts mentioned in #5551 ? Because I’ve also checked the repos of aferro, but the latest activity is quite some time ago on those.

If that is the case, and the binaries are uploaded manually to the /Downloads page, we have a green field here to set these things up automatically.

EDIT. O wait, I see a Travis scri

[2019-12-03 07:00] aferrero2707 commented on #5551
What about the target operating system? This might be needed if for example we generate zip files for both Win64 and macOS, and the branch and build dates are the same.

[2019-12-03 07:07] aferrero2707 commented on #5550
@Krijger no, the scripts are used as input for Travis CI jobs that are run on a daily basis. The jobs will fetch the current git head of the target branch, and compare the hash with the one of the latest successfully built package. If they differ, a new build is started. The packages are then automatically uploaded back to the nightly GitHub release.

Concerning the reason why the scripts are not

[2019-12-03 08:23] learmj opened #5552 "macOS latency and performance"
Hi there. I've used RT for years on Linux. I think it's a fantastic tool that you have all developed and maintain. I'd be lost without it. I made the switch from Linux to a Mac last week and had a it of a shock when I tried using RT on my new macbook pro 16 (2019). It works, but there is so much latency (eg dragging sliders or moving curves, and the image taking a long time to update afterwards).

[2019-12-03 10:39] Beep6581 commented on #5551
@aferrero2707 no problem adding OS names when the need arises.

[2019-12-03 10:51] Beep6581 commented on #5552
Maybe @Benitoite could answer a few of those questions.

[2019-12-03 11:41] Beep6581 commented on #5541
No response, closing.

[2019-12-03 11:41] #5541 closed, assigned to nobody

[2019-12-03 12:08] Beep6581 commented on #4191
Closing as fixed by GTK+ update.

[2019-12-03 12:08] #4191 closed, assigned to nobody

[2019-12-03 12:14] Beep6581 commented on #4128
Closing as duplicate of #4394 #4191

[2019-12-03 12:14] #4128 closed, assigned to nobody

[2019-12-03 12:19] #4024 closed, assigned to heckflosse

[2019-12-03 12:34] Beep6581 commented on #3672
Duplicate of #3911

[2019-12-03 12:34] #3672 closed, assigned to heckflosse

[2019-12-03 12:48] #1902 closed

[2019-12-03 13:49] Beep6581 commented on #5235
Can no longer reproduce using
`5.7-262-g`164fab28e
gtkmm-2.24.5
gtk+-3.24.11

[2019-12-03 13:49] #5235 closed, assigned to nobody

[2019-12-03 13:56] #2599 closed

[2019-12-03 13:57] #1057 closed

[2019-12-03 15:25] Beep6581 commented on #5213
@hafilax @lvreclp @Benitoite is this still valid?

[2019-12-03 23:34] blj86 commented on #5552
Hello I would like to chime in a bit here as I too have been having this issue.  I have been discussing it with heckflosse and Morgan Hardwood on discuss trying to gather more information before writing a report.

I have this issue on my 2019 21.5" 4k iMac Mojave 10.14.6.  Through some testing I have narrowed it down to something going on with the Gui.  The rendering of the actual preview is quite

[2019-12-04 03:47] hafilax commented on #5213
I'm now running version 5.6 and this issue seems to be fixed.

Here is the "AboutThisBuild.txt":

Version: 5.6
Branch: 5.6
Commit: 5a4ed7317
Commit date: 2019-04-20
Compiler: clang 10.0.1.10010046
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V3.24.1
Lensfun: V0.3.95.0
Build type: release
Build flags: -std=c++11 -std=c++11 -mtune=generic -Werror=unused-label -mmacosx-version-min=1

[2019-12-04 07:28] #5213 closed, assigned to nobody

[2019-12-04 07:34] Beep6581 commented on #5552
Hi @blj86 , I am Morgan Hardwood from the forum. Let's continue troubleshooting here instead of the forum.

One more test:
1. Save the following to a file called `reset-GTK3-20_.css` inside RawTherapee's `themes` folder:
[code]
2. Run RawTherapee, go to Preferences and select the new `reset` theme.
3. Close and restart RawTherapee.
4. See if scrolling the tool panel is any faster now.

The `reset`

[2019-12-04 10:25] blj86 commented on #5552
@Beep6581
I ran the reset theme like suggested the the scrolling is still very laggy.  Seems to be the same as when normal themes are in use.

[2019-12-04 10:53] Beep6581 commented on #5552
So we can be fairly confident it has nothing to do with themes or CSS effects.

The next thing to look at would be whether there are any calculations being performed by our code (as opposed to standard GTK+ code), maybe as a result of the pseudo-HiDPI code. That's something @Hombre57 could advise us about, where to look.

@blj86 @stdbull do you get the same poor performance when scrolling the tool

[2019-12-04 11:29] learmj commented on #5552
Hi. Thanks for taking the time to look into this further, for the additional inputs @blj86 and for consolidating the investigation into this issue here. I'm more than happy to try new things, but first I need to try and understand why my RT build from git crashes when the same macOS environment seems fine to run the dimg downloaded from the RT website. Do the traces I posted above sound familiar?

[2019-12-04 11:52] blj86 commented on #5552
@stdbull are you using Macports or Homebrew?  I found Homebrew rather unreliable for building a operational RT.  Macports always works for me but you do need to tweak the wiki guide slightly.

I will also give ART a test to see if same issues are present.  Currently working but will build it later tonight and post a update.

[2019-12-04 12:01] learmj commented on #5552
@blj86 I used homebrew. It seems sufficient to build the dependencies for the pre-built RT image from the RT website (although fonts look strange and fuzzy - and very small! - almost like the anti-aliasing has gone weird). Interestingly, I tried to run the RT app that I built without copying all the dimg into /Applications. By doing this I **can** get a UI in which fonts looks crisp and clear, but

[2019-12-04 15:15] blj86 commented on #5552
@stdbull sorry for delay.  I don't want to clog this issue with compiling discussion.  I had similar issues with Homebrew.  For some reason when making the application bundle resources are missing.  When checking the directories of Homebrew they were missing there as well.  Hence my Macports suggestion.  I think some packages in Homebrew are broken.

If you have more compile questions you can mess

[2019-12-04 15:17] learmj commented on #5552
No problem @blj86

Sure, I agree with that. I'll get myself fixed up.
We can continue the performance discussions and investigations here.

[2019-12-04 22:31] Hombre57 commented on #5552
@Beep6581 The pseudo-HiDPI patch doesn't introduce any heavy calculation regarding the GUI (not even slightly), it only force Gtk to use a non-scaled resolution mode.

Things looks like RT was run either trough GDB, or a sandbox, or with debug version of the dependencies. Could you attache your AboutThisBuild.txt file please ? Do you use the same Gtk version for RT, DT and Gimp ?

@stdbull

RT doe

[2019-12-04 22:41] Hombre57 commented on #5552
In fact, the missing icon is [defined in RT's code](https://github.com/Beep6581/RawTherapee/blob/00441924eb46a24a49e356776f86fcd530694250/rtgui/popupcommon.cc#L84), but `pan-down-symbolic` should be part of the standard Gtk icon theme.

[2019-12-04 22:53] blj86 commented on #5552
@Hombre57 I am not sure what version of GTK3 darktable is built with I use one of their prebuilt.  As far as RT all dependencies in my build are release and I built RT as release.  All my deps are the latest from Macports. This issue also happens with the pre built 5.6 and 5.7.

So for GTK3 that is version 3.24.12.

I will post my about this build when I get home later.

[2019-12-04 23:02] Hombre57 commented on #5552
@blj86 When you'll be able to run RT, could you run macOS' _Activity monitor_ and see if RT and/or other process loads the processor ?

[2019-12-04 23:36] blj86 commented on #5552
@Hombre57 Sure.

Here is the about this build file:
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/3924395/AboutThisBuild.txt)

Not sure exactly how MacOS activity monitor reads as I am personally new to MacOS however with that said.

When in a HDPI resolution RT idles about 30% CPU when manipulating the Gui it spikes to over 400%.

When using the "secret handshake in settings"

[2019-12-05 01:26] blj86 opened #5553 "macOS compilation failure in improcfun.cc error: use of undeclared identifier 'options'"
In a new attempt to build the dev branch to test performance on MacOS due to the recent reported HDPI issue to see if this particular branch behaves any differently I came a cross a compilation error that may be MacOS specific not positive.

when trying to build off the latest dev commit 00441924eb46a24a49e356776f86fcd530694250

I get the following compilation error.

`Source/code-rawtherapee/rten

[2019-12-05 08:55] #5553 closed, assigned to nobody

[2019-12-05 08:57] Floessie commented on #5553
@blj86 Could you please test again with latest `dev`?

[2019-12-05 10:18] Beep6581 commented on #5553
Compiled fine in Sabayon.

[2019-12-05 10:29] arturoisilvia opened #5554 "Black line in Ellipse"
Hi,
I was going to do a little tutorial about masks and I found this little mistake:

1) Local Complexity Adjustements: Normal
2) Upload the image (IMG_3782.CR2) and its corresponding pp3. We will see this: (1 Enlarge to 600 pct.JPG)
3) Increase to 600%
4) It is observed that in the Ellipse of Control Spot # 2 the Transition Value of Transition Gradient transcends the ellipse (2 Transition Value a

[2019-12-05 10:33] blj86 commented on #5553
@Floessie
Compiled fine just checked this morning. :+1:

[2019-12-05 12:45] arturoisilvia commented on #5554
With rectangle too.
It is produced in:
- Method: Excluding Spot
- Scope: 100
- Transition value: 100

[Error linea negra transition gradient 2.zip](https://github.com/Beep6581/RawTherapee/files/3926826/Error.linea.negra.transition.gradient.2.zip)

[2019-12-05 14:21] Hombre57 commented on #5552
@blj86 Thanks for the numbers, however if they can go above 100%, they become meaningless for me. What is the range exactly ?

Since you can build RT yourself, I'll provide a patch to disable HiDPI support and we'll see if it's the culprit.

[2019-12-05 14:34] blj86 commented on #5552
Yea they are doing something funky with their monitor.  I was like how is this even possible :smile: Later after work I will install HTop and try that.  If you provide a patch will be more then happy to test.

[2019-12-05 16:29] heckflosse opened #5555 "Discussion about removal of some tools"
I would like to discuss which tools will be removed for 6.0

Some that came to my mind using RT as a raw developer (using it for tiff/jpeg is a different story):

1) remove some demosaicers (AHD, EAHD, HPHD)
2) remove Edges
3) remove Microcontrast

To be continued...

[2019-12-05 20:48] Hombre57 commented on #5552
@blj86 In fact, disabling pseudo-HiDPI support has already been rerquested and there's the `PseudoHiDPISupport` option value (in the `options` file) that you can set off (no GUI). Could you please try that first ?

[2019-12-05 21:08] blj86 commented on #5552
@Hombre57 I never used the pseudo hdpi option in the GUI is this a different setting in the options file?  If so sure thing will give it a shot.

[2019-12-05 21:19] Hombre57 commented on #5552
@blj86 Yes, that's a setting that has no GUI. However it's _false_ by default, so you should have blurry icons when used used on a HiDPI resolution.

[2019-12-05 22:05] sguyader commented on #5555
I can't pronounce myself for the demosaicing methods since I'm an xtrans user.
Regarding points 2. and 3. I would vote to remove them, as I never use them. I've tried them in the past but never found them useful enough in my case.

[2019-12-05 22:45] Hombre57 commented on #5552
@blj86 Erm... Sorry, there's a GUI for this parameter, don't know how I managed to overlook that thing that I did myself. So if it's off, then I don't have a clue of the reason of the lag.

[2019-12-05 23:08] blj86 commented on #5552
@Hombre57 understandable.  This is indeed really weird of a issue.  As it only happens with RT but also it seems only on MacOS.  You would think it would effect all platforms at 4k resolutions.

I am at a loss as well.  I can program but know nothing about gtk and not near knowledgeable enough to know the raw processing maths.  But I do wonder if there is some odd MacOS specific optimization issue

[2019-12-05 23:58] Hombre57 commented on #5552
@blj86 Other macOS user are running RT fine on Mojave, don't know for Catalina.

Have you tried to enable the HiDPI support in the Preferences window ?

Is there any particular disk or network activity while running RT idle (e.g. to look for missing icons or exploring the storages) ?

Is it possible to build RT with gcc (or get it prebuilt) ?

Could you paste a screenshot of your system display sc

[2019-12-06 01:03] blj86 commented on #5552
@Hombre57 Well this is interesting.  Ran HTop. There were some occasional spikes to 100% on all cores but only if jerking the sliders around.  When moving them normally CPU stayed under 100% in HDPI mode.  Psudo HDPI mode performed the same as if I had it disabled.  Right now however there is still a very tiny amount of lag it is no where like what it was before.  The application is totally usable

[2019-12-06 06:04] Hombre57 commented on #5552
@blj86 I don't know what Magic Mouse is, would be nice if you could test with Standard Mouse instead 🙂 .

If I don't click on the center of the slider's knob, like just on left or right side, it move the slider but slowed down. It seem to be a Gtk features. Is this what you're experiencing too here ?

[2019-12-06 06:28] Desmis commented on #5554
@arturoisilvia
I will have a look :)

Thank you  for your work :)

jacques

[2019-12-06 06:31] Thanatomanic commented on #5555
I have to give this some more thought, in particular if we're really discussing removing features and breaking backwards compatibility.

I agree with @sguyader that edges and microcontrast could be removed without much loss of function.
The same could be said about some of the color toning options.

[2019-12-06 08:22] learmj commented on #5552
Hi again. My build issues aside (looks like a packaging issue - not sure what/why yet but I'm missing loads of files in the dimg even though I have them installed with homebrew. For example the entire Adwaita theme, various dylibs and DSOs in Frameworks like libxml2, libpixbuf, libz, etc). Anyway, I see some unexpected (for me) behaviour in gimp. Open it. File new window. Default canvas. Colours -

[2019-12-06 08:41] Desmis commented on #5554
@arturoisilvia
Yes, there is somewhere a bug in calculation

To prevent black line at bottom (and also a small at right), I push a change, but I don't think it is perfect...

jacques

[2019-12-06 10:12] blj86 commented on #5552
@Hombre57 Not sure.  The apple mouse does not have a wheel.  Scrolling is done with touch like a phone.  I know darktable had some weird issue with it when masking they had to fix. But again I don't get the scroll lag in low resolution mode.  So still odd.  At this point I am beginning to think that 4k display + RT on Mac is just not playing nice on Mac.  One way to get improvement in the GUI lag

[2019-12-06 10:44] Desmis commented on #5554
@arturoisilvia
I think (I hope) the bug is solved issue 99d0a54

The problem was "round" of real values to integer, in some cases 1 pixel was not take into account, and with excluding spot, it creates "black line", no data...

jacques

[2019-12-06 11:58] arturoisilvia commented on #5554
Ok, I'll try it when that next issue is.
A greeting.

Arturo.

[2019-12-06 11:58] #5554 closed, assigned to nobody

[2019-12-06 12:36] Hombre57 commented on #5552
@blj86 First thing to try is to disable OpenMP when building RT (there's a CMAKE switch), processing the preview will be slow but you'll see if the remaining core will be available for the GUI, or if the lag still persist.

[2019-12-06 12:38] Hombre57 commented on #5552
For the touch emulation, there was some work done when panning the file browser, but I'm not sure for the tools' tab.

[2019-12-06 21:09] arturoisilvia commented on #5554
Perfect!. I see that in vers. 1532 has been corrected.
Thank you. I will continue testing....
A greeting.
Arturo.

[2019-12-07 19:38] heckflosse commented on #5453
I am not good at documenting. Nevertheless here some informations about Capture Sharpening

Advantages of Capture Sharpening over (normal) RL-deconvolution in RT

1) CS is applied very early in the processing on linear data directly after demosaic to minimize halos

2) CS features automatic contrast threshold calculation

3) CS feature automatic radius calculation

4) CS features automatic iterati

[2019-12-07 22:46] Hombre57 commented on #2239
@Beep6581 This patch won't be ready for 5.8 (unless I can find some free time and you're okay with that), but contrary to my initial plan, I won't be able to add a real spot healing tool. The actual feature is _only_ a clone tool that can serve to suppress unwanted spots.

I don't think it's worth to postpone its merge into dev because of that. It'll still be possible to add a new mode later one,

[2019-12-08 11:15] Krijger commented on #5550
On that Pull Request:

This is a first step to create CI for Mac OS. I strongly believe having CI in place and allowing all supporting operating systems feel like first citizens is important for the user base of an open source project. Now all beta mac users have to build themselves which we can also channel into improving this build for all to use.

Included for now is the build on Github Actions

[2019-12-08 11:21] Krijger commented on #5550
I'm not seeing the pain. In all my daily work projects I have scripts in the repo itself, and for branches they automatically work as well. Which in the case of RT means that forks and PRs are also automatically built, on the forkers account. In my PR you will notice that the branch is actually parameterized by using the GITHUB_REF variable. Are there more compexities that we should take into acco

[2019-12-08 15:12] TechXavAL commented on #5453
This is a quick mockup of a possible documentation for the tool. It needs polishing, but I'm sure Morgan will be much better than me doing that.

Needless to say, but modify it as you wish:

«START OF DOCUMENTATION»
**What it is**

The Capture Sharpening tool is meant to recover the details lost or blurred by diffraction, or some other kind of Gaussian type blur. It is applied just after demosaici

[2019-12-08 20:07] Krijger commented on #5552
@stdbull also have a look at #5550 for working together on a Mac OS build

[2019-12-08 20:28] learmj commented on #5552
@Krijger Thank you. I'll keep an eye on that one. I'd be super interested to know the baseline (pkg versions, home-brew/macports, etc) that you use for the builds. I've spent a couple of hours on my issues over the last few days. I realised I wasn't using the home-brew g++ (but I was using it's gcc) so falling back to the Apple C compiler (no openmp, etc). Sigh... Once I switched to correctly usin

[2019-12-08 21:27] Krijger commented on #5552
@stdbull you're welcome to check it out and see about those questions. I must confess I hardly know anything about this landscape, but I for instance needed to know where the Mac OS build agent has libiconv installed and you can see here (https://github.com/Krijger/RawTherapee/commit/6dfd1e1ac5793b37544db5ee5a83da97977fdb2b) how I did that with the result https://github.com/Krijger/RawTherapee/com

[2019-12-08 22:59] Krijger commented on #5550
I fear I need help. I performed the patch as well (for libiconv version 1.16) in the build, but the application still crashes on startup. I will attach the crash dump.

[crash-on-startup.log](https://github.com/Beep6581/RawTherapee/files/3937281/crash-on-startup.log)

[2019-12-08 23:03] Krijger commented on #5552
I fear I need help on #5550 , maybe something @stdbull or @blj86 could have a look at? - sorry for the noise, but I can't address you from the other issue

[2019-12-09 12:43] learmj commented on #5550
You crash looks very much like mine with the assert in the same place. What happens if you run the app from the terminal? Are you building on Catalina or older? Homebrew or MacPorts?

[2019-12-09 12:58] learmj commented on #5552
The crash in #5550 looks similar to what I see. I'm now confident that my build and link is happening as intended (successfully using llvm and clang-9) but there are things going wrong at the install phase when the bundle is created. Looks like some gtk3 files are being searched for that don't exist. Same for some dylibs and other support libraries/binaries. The locations being referenced by the i

[2019-12-09 13:58] Krijger commented on #5550
I haven't tried executing it from the terminal. I can't verify that quickly however.
Catalina is used in the build agent, as is homebrew (also check the logs of the build file https://github.com/Krijger/RawTherapee/blob/ci-macos/.github/workflows/main.yml and logs https://github.com/Krijger/RawTherapee/actions, they are quite insightful, and hopefully you can reuse them)

[2019-12-09 14:18] Krijger commented on #5552
In the linker options in line https://github.com/Beep6581/RawTherapee/blob/0f3bddbe4f7ad619849a281a2fd9dc294a178d63/.github/workflows/main.yml#L42 I have `-L/usr/local/lib`, which I guess would lead to `/usr/local/lib/gdk-pixbuf-2.0` being picked. I will throw in a `ls /usr/local/lib` in the build to be able to see what is in there.

[2019-12-09 14:19] Krijger commented on #5552
By the way, let's move all build-related discussion to #5550

[2019-12-09 15:04] Krijger commented on #5550
@stdbull the output of printing the content of /usr/local/lib as discussed in #5552 can be seen here: https://github.com/Krijger/RawTherapee/commit/8f27f4bc84e8e5aefdec879d510315cdf5341f26/checks?check_suite_id=349192488#step:5:14

[2019-12-09 15:52] learmj commented on #5552
Agreed. Let's keep this one to investigate / discuss UI responsiveness.

[2019-12-09 16:12] learmj commented on #5550
Hi. Thanks for that. Your latest build log on push of 8f27f4b shows exactly the same errors when making the bundle as mine regarding gtk, and not being able to find files, etc. I suspect your crash has the same root cause (and same missing files as my image). It would be nice to be able to confirm that. BTW I already have `-L/usr/local/lib`in my flags. FWIW here is my entire configure and build sc

[2019-12-09 21:46] fsenore opened #5558 "Distortion when using the Perspective tool"
Windows 10 Pro.

The RawTherapee version is the official one for Windows:
Version: 5.7
Branch: releases
Commit: f335efe6a
Commit date: 2019-09-10
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.1
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Wall\

[2019-12-10 06:46] ansgru opened #5559 "space between -j and [compression] is silently ignored"
When a space is introduced (by error) between -j and [compression], e.g. "-j 92" instead of "-j92" rawtherapee-cli doesn't produce any output and - more importantly - no error message either:

[code]

Expected outcome: an error should be thrown as "92" as a separate parameter isn't a valid one, something like this:

[code]

[2019-12-10 09:01] Beep6581 commented on #4713
Status?

[2019-12-10 12:46] gaaned92 commented on #4713
I still build with 1.5.3-1
The last version is libjipeg-turbo 2.0.3-1. I will try to build with it.

[2019-12-10 14:13] SERGIOTOUS commented on #5446
Hi, Is Dec. 14th still considered as ETA for v5.8? thanks

[2019-12-10 16:47] Beep6581 commented on #2239
@Hombre57 then let's put it on the 5.9 milestone.

[2019-12-10 18:12] heckflosse opened #5560 "Flush denormals to zero in gauss.cc"
Today I detected that using capture sharpening on images with large overexposed regions takes more processing time than on images without overexposed regions.

I found the culprit and would like to get some tests on different cpus.

Here's the file I used for my test:
https://filebin.net/aeqchxv9hqtjwiz5

Here's a patch with the benchmark code:
[code]

Just apply CS with default settings to the ab

[2019-12-10 18:27] Thanatomanic commented on #5560
The difference on my machine isn't as big as yours, but a difference all the same:

with SSE patch: `buildBlendMask took 67 ms`
without SSE patch: `buildBlendMask took 172 ms`

[2019-12-10 18:31] SilvioGrosso commented on #5555
The more "duplicated" tools you remove, the easier is:
- to maintain the software in the long run;
- to keep the documentation updated;
- to facilitate the adoption for new users of RawTherapee (reading the forums it looks like they are often overwhelmed by having far too many options at hand...).

Therefore, + 1 to remove: 2. and 3 (edges and microcontrast)

Since, RawTherapee 6 version will be a

[2019-12-10 19:11] heckflosse commented on #5560
@Thanatomanic Thanks for testing. :+1:

[2019-12-10 19:14] snappyapple632 commented on #5446
Usually the ETAs are ballpark figures and aren't assumed to be strict.

[2019-12-10 21:42] heckflosse commented on #5560
Related, but a bit technical: https://web.archive.org/web/20161015154158/http://grouper.ieee.org/groups/754/meeting-minutes/02-09-19.html#underflow

[2019-12-10 22:39] learmj commented on #5550
@Krijger Did you manage to run the app in a terminal and get a trace?
I've attached two file listings taken after application install - one from the prebuilt image from the RT website, and one from my own build using the config above. The differences are interesting.

[RT-mybuild-file-list.txt](https://github.com/Beep6581/RawTherapee/files/3947474/RT-mybuild-file-list.txt)
[RT-prebuilt-file-list.t

[2019-12-10 22:43] Krijger commented on #5550
I've spent *a lot* of time trying to solve all compiling errors and warnings, for which I needed to do a lot in the `macosx_bundle.sh` script. I've been able to fix a lot that mainly had to do with homebrew locations (though not all) but we're not there yet.

Fixing some more issues now, but the most important thing is that I can't seem to find the mime database on the system. Running a debug stat

[2019-12-10 22:45] Krijger commented on #5550
Good idea - that's something I also can do. I've fixed a lot of the issues already though. Check out my commits :)

[2019-12-10 22:48] learmj commented on #5550
Sounds promising. Where are you commits? RT repo or elsewhere? Sorry - not familiar with how you work.
One of the problems I've seen is what GTK_PREFIX is set to (set in the env when the bundle script is invoked). I don't know where that gets set, but it is for sure wrong for my system and results in loads of things not being able to be found. I quickly tried to set it to /usr/local bit that hack

[2019-12-10 22:55] Krijger commented on #5550
You can see the commits in the PR https://github.com/Beep6581/RawTherapee/pull/5557. Note that if you want to see the build output (in Github Actions) you need to be within my fork of the project, since that exists within my organisation (Krijger), basically you can just change Beep6581 with Krijger in the URL.

I also do not know yet where GTK_PREFIX comes from, but I've fixed how it is used in t

[2019-12-11 04:28] snappyapple632 commented on #5560
I have a machine with a 9900K, but I know nothing related to code. If you can guide me through this or provide precompiled programs, I'd be glad to test it out.

[2019-12-11 07:14] Beep6581 commented on #5446
Dec 14 seems unlikely.

[2019-12-11 07:18] Floessie commented on #5560
@heckflosse Median of 5 samples on AMD Epyc (Zen1):

Test | w/o patch | w/ patch
-|-|-
48 threads | 18ms | 18ms
1 thread | 243ms | 246ms

Basically no difference.

[2019-12-11 15:44] Hombre57 commented on #5555
I remember that decisions were collectively taken to add several ways of doing things (e.g. in color toning) because user A prefer method A over user B preferring method B. Looks like lots of things has changed since few months. I don't really care to annihilate some stuff that I've spent lots of time on, but I hope I won't be the only one to accept that.

It would also be sad to suppress a tool b

[2019-12-11 17:11] heckflosse commented on #5555
@Hombre57

With Capture sharpening I see no need for Microcontrast tool (at least for raw files).

[2019-12-11 18:30] abertens commented on #5560
Thinkpad X230, Intel(R) Core(TM) i7-3520M CPU @ 2.90GHz (# of Cores 2. # of Threads 4).

Last read from several tries for each:
Without SSE patch: 370ms
With SSE patch: 125ms

Regards.

[2019-12-11 18:40] Krijger commented on #5550
Good news. The application is building and opening! See the differences in package content here:
[ci-macos-app-contents.txt](https://github.com/Beep6581/RawTherapee/files/3952016/ci-macos-app-contents.txt)
[original-app-contents.txt](https://github.com/Beep6581/RawTherapee/files/3951984/original-app-contents.txt)

Now, there are some differences in lib files in `Frameworks/`, and I don't know wher

[2019-12-11 18:44] heckflosse commented on #5560
I already pushed a fix, but to a different part of the code where only the blendmask which is used for capture sharpening and dual demosaic is affected (though, blendmask for standard sharpening and pr sharpening also are affected). The blendmask is a mask in the range [0;1] which does not need handling of denormals.

[2019-12-11 18:53] Krijger commented on #5550
Of course, the review is about https://github.com/Beep6581/RawTherapee/pull/5557 (where actually all of this discussion belongs...)

[2019-12-11 19:02] Krijger commented on #5319
Should I expect to see CR3 files already? I built the code for Mac OS (including the latest cr3 related commit from `dev`) and am not seeing the CR3 files in the File Browser.

[2019-12-11 19:16] Krijger commented on #5317
This issue is closed; does that mean the shots have already been provided? I own a R, but do not have color cards or anything.

[2019-12-11 19:22] heckflosse commented on #5319
@Krijger Is CR3 enabled in preferences?
![grafik](https://user-images.githubusercontent.com/13733487/70653006-f1a1d680-1c53-11ea-850e-ca991f581a12.png)

[2019-12-11 19:25] Krijger commented on #5319
@heckflosse hmm, it's not even in the list

[2019-12-11 19:35] Krijger commented on #5319
I checked my app contents for files in it that might explain this, it may have to do with the following file tree.

[code]

I got the mime from `shared-mime-info` (installed with homebrew), (EDIT) which apparently does not yet know about CR3 https://gitlab.freedesktop.org/xdg/shared-mime-info/blob/master/freedesktop.org.xml.in#L4753, so I wonder where your installation gets the option from. What p

[2019-12-11 19:40] sguyader commented on #5555
I think @Hombre57  made a point, and I was already thinking the same: Alberto's fork (ART) took a drastic step in simplification, and maybe both RT and ART can leave side by side, fulfilling slightly different needs.

[2019-12-11 20:23] heckflosse commented on #5555
@sguyader

But why should RT not be simplified as well? Maintaining stuff which noone uses needs a lot of dev (support) time which could be spend better...

[2019-12-11 20:28] heckflosse commented on #5319
@Krijger Just add cr3 to the list
![grafik](https://user-images.githubusercontent.com/13733487/70657925-249c9800-1c5d-11ea-9107-ad8a7b063960.png)

[2019-12-11 20:50] SilvioGrosso commented on #5555
Hello @Hombre57

Please, do not get me wrong: I *DO* appreciate your present and past work on RawTherapee. Especially because you did it on your very limited spare time, for free!
For instance, I am *really* looking forward to having included in RawTherapee, sooner or later, depending on your time to work on it, the "Spot-removal-branch" [1].
This is a feature which has been requested oftentimes i

[2019-12-11 21:05] Hombre57 commented on #5555
@sguyader I'm not saying that both should be maintained.

My 2 questions was rather :
1. is ART oversimplified already or can this be a new starting point ?
2. will users agree on the tools we (i.e. ~5 guys) chose to remove ?

@heckflosse I don't mind removing the 3 tools you proposed, if they're useless or inefficient.

If you want my contribution to the list, I'd remove the whole Batch Editor pa

[2019-12-11 21:23] heckflosse commented on #5555
@Hombre57

:+1:

[2019-12-11 21:29] sguyader commented on #5555
I'm not saying that RT shouldn't be simplified at all. Just that I can understand if some tools remain, even if they are not widely used.
Regarding the batch editing panel, in fact that's something that I miss sometimes in ART, as it is quicker to set some parameters to a bunch of files than using partial copy/paste. But I can live without it (and I do with ART).

[2019-12-11 22:00] #5560 closed, assigned to heckflosse

[2019-12-12 06:52] Floessie commented on #5555
@SilvioGrosso

The last sentence doesn't reflect reality: Of course will users be forced to upgrade as distros switch to 6.x. And even if John Doe is able to build an older 5.x now it will bitrot until it's no longer compilable on then modern distros.

There is no such thing as "safely breaking backward compatibility", IHMO.

[2019-12-12 07:29] Hombre57 commented on #5555
It'd be probably better to drop a line on Pixls.us before suppressing such a feature, IMHO.

[2019-12-12 11:11] Beep6581 commented on #5555
My sentiments exactly.

[2019-12-12 11:41] Beep6581 commented on #5550
Would be nice to have a macOS build of 5.8...

[2019-12-12 11:45] Beep6581 commented on #5317
@Krijger the shots have not been provided. If you would like to contribute, see:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats#White_Levels

[2019-12-12 12:20] Hombre57 commented on #5555
\<OFF-TOPIC>

@SilvioGrosso

I'm very busy in my job, free time is scarce and I don't want to spend everything on RT. Yet I have marged `dev` into `spot-removal` branch and will try to find the time this w.e. to add the final touch. But keep in mind it's only a clone tool for the moment (but I still find it useful).

\</OFF-TOPIC>

[2019-12-12 14:05] heckflosse opened #5561 "Review demosaicers"
Currently the demosaicers behave differently regarding clipping the output

Bayer demosaicers:

border_interpolate: does not clip but does not produce negative values
amaze: does not clip and produces negative values
rcd: clips into [0;65535]
dcb: does not clip and produces negative values
lmmse: does not clip and produces negative values
igv: clips into [0;65535]
ahd: does not clip but does not p

[2019-12-12 14:11] Krijger commented on #5319
Thanks! I actually looked for an option like that, but completely missed the preference pane not completely being shown (I scrolled the extension list, and missed the scrollbar on the outer panel). This may be a Mac OS GUI issue, because I think it should be displayed completely by default?

<img width="573" alt="Screenshot 2019-12-12 at 14 28 00" src="https://user-images.githubusercontent.com/388

[2019-12-12 15:41] Krijger commented on #5550
Agreed - where do we track the minimum requirements for that? A task list in this issue?

[2019-12-12 16:24] gaaned92 commented on #4713
libjipeg-turbo 2.0.3-1 triggers the same link error

[2019-12-12 19:37] learmj commented on #5552
Hi. Probably not too much of a surprise, but building @Krijger ci-macos branch at the current tip 24deb0a78 (#5557) has the same lag and performance issues when running on Catalina as discussed and described previously here. https://github.com/Krijger/RawTherapee/commit/24deb0a788cbffb444e2058dadfee4d07f03a8bc
The pre-built available from the CI build is exactly the same. Hopefully we can still wo

[2019-12-12 19:39] learmj commented on #5550
@Krijger Thanks a lot for putting the work in here. The app boots, but we still have the issues discussed in #5552

[2019-12-12 20:08] heckflosse commented on #5552
If we could get donations to buy a macbook pro 16 for testing, I would be able to chime in...

[2019-12-12 20:37] butcherg commented on #5561
Definitely clip negative to zero, not sure about >65536.0. I'm the one who pointed out the behavior to Ingo; for me the egregious positive behavior is in AMAZE, where I see some highlight pixels pushed out an order of magnitude, which seems extreme for the semantics of the operation.  Specifically, I'm seeing values around 0.4 ending up 4.5 after AMAZE application.  My stats collector in rawproc h

[2019-12-12 21:18] Hombre57 commented on #5552
Same for getting a 4k monitor to test the HiPDI features... 😉

[2019-12-12 21:43] learmj commented on #5552
If I win the lottery I would gladly donate whatever it took to give something substantial back to the fantastic team that developed RT. Until then, all I can offer to debug is my low level embedded skills (not much use here - but I'm no stranger to gdb, etc) and my enthusiasm :-) If you have any ideas of how to try and drill down into this problem, I'd be happy to try and help. Cheers.

[2019-12-13 01:24] Beep6581 commented on #5550
@Krijger here's as good a place as any I suppose.

[2019-12-13 11:56] Krijger commented on #5550
@Beep6581 I put some point here in the top issue post. Please see if you agree or have additions.

[2019-12-13 12:00] Beep6581 opened #5563 "SIGSEGV in LUT.h"
While preparing a control group to test PR #5562 I encountered this 100% reproducible crash in `dev`. Oddly, if I process any of these images via the queue individually, they save fine, but when I add them all to the queue and run it, it crashes.

[code]
Could be related to capture sharpening @heckflosse
[code]

Full GDB log: [log.txt](https://github.com/Beep6581/RawTherapee/files/3960617/log.txt)

[2019-12-13 12:01] Beep6581 commented on #5563
I can also reproduce in `review_demosaicers` `5.7-301-g`d91894518

[2019-12-13 12:10] Krijger commented on #5552
Note that it's easy to branch of for a quick "debug" instead of "release" build, for analysis of the logs

[2019-12-13 12:15] Floessie commented on #5563
FYI: Cannot reproduce on Debian 10 AMD64. Now trying on Debian 9...

[2019-12-13 12:16] Floessie commented on #5563
Yep, crash on Debian 9.

@heckflosse Ingo, shall I bisect?

[2019-12-13 12:19] heckflosse commented on #5563
@Floessie Yes, please bisect. I can not reproduce

[2019-12-13 12:24] heckflosse commented on #5563
@Floessie
How is this possible?
[code]

xyz_rgb is this:
[code]

[2019-12-13 12:26] Floessie commented on #5563
Memory corruption or debugger problem? Odd, indeed...

[2019-12-13 12:31] heckflosse commented on #5563
I think the culprit is calling capture sharpening on predemosaiced dng files....

[2019-12-13 12:32] heckflosse commented on #5563
I will post a fix asap

[2019-12-13 12:42] heckflosse commented on #5563
Does this fix it?
[code]

[2019-12-13 12:43] Floessie commented on #5563
I bisected it to c7400459f056125cf5072cbec2d4a697c331c85f.

Now testing your fix...

[2019-12-13 12:46] Floessie commented on #5563
Positive. :+1:

[2019-12-13 12:50] #5563 closed, assigned to heckflosse

[2019-12-13 13:16] Hombre57 commented on #5552
@stdbull Could you make the test I asked for to @blj86 earlier please ?

And I'd add one test with Release build, one with Debug build.

[2019-12-13 13:49] Beep6581 commented on #5563
Fix confirmed.

[2019-12-13 17:20] Krijger commented on #5317
@Beep6581 please see https://we.tl/t-XWzKNQzj2I for the white level pictures - I used wetransfer as filebin kept giving me network errors. I hope I executed everything correctly (I kept the histogram completely of the charts by about 1 stop for all pictures), because the promised huge compression is not really happening.

I added the JPEGs as well, for purposes of the EXIF data (since CR3 metadata

[2019-12-13 17:41] Krijger commented on #5317
Also, while we do not have the actual data for the color profiles, it would make sense to copy the 5D IV files for that, since the sensor is very similar:

(source https://www.dxomark.com/canon-eos-r-sensor-review/)

[2019-12-13 19:38] heckflosse opened #5564 "Apply internal default profile (neutral) instead of user defined default profiles for missing parts of existing profile when loading a raw file which already has a .pp3"
To reproduce:

1) Open a raw file in 5.7 release build
2) Close RT 5.7
3) Start RT dev
4) Make sure that one of the ISO low profiles is used as default profile for raw files
5) Open the raw file from above => capture sharpening is applied => wrong

It is applied because the old pp3 file does not contain capture sharpening.

Suggested fix:
[code]

[2019-12-13 19:41] #5561 closed, assigned to heckflosse

[2019-12-14 14:13] Krijger commented on #5555
Just want to inspire you all to make the best software you can think of trusting your own product vision, while using any fork (and community feedback for that matter) as inspiration as well. There is no need to _not_ do something because a fork already does it - also because you should not make assumptions about the life expectancy of a fork, nor should users be expected to change tools all the t

[2019-12-14 19:56] heckflosse commented on #5453
Some additional things we could mention in documentation.

1) The auto calculation of cs radius on long exposure raw files (having hot pixels) works much better after raw hot pixel filter (example file: http://rawtherapee.com/shared/test_images/renon_earth_pyramids.pef without hot pixel filter auto radius is calculated as 0.52, with hot pixel filter it's calculated as 0.81)

2) cs is applied on th

[2019-12-14 20:22] TechXavAL commented on #5453
in point 1, from a user perspective it's better saying:

«**The auto calculation of cs radius with raw files having hot pixels works much better with the Hot pixel filter turned on (located in the Raw tab)**»

(a plain user doesn't know which tool comes first, but do know which tools are turned on).

About the point 2, I would include it as a third paragraph of the «What it is» section:

«START OF

[2019-12-15 19:48] heckflosse commented on #5475
@Beep6581 Please push!

[2019-12-15 19:51] heckflosse commented on #5319
Full CR3 support will not be possible for 5.8 => change milestone to 5.9

[2019-12-15 19:54] heckflosse commented on #4962
Because of Capture sharpening, micro contrast now is less usefull => setting milestone for documentation to 5.9

[2019-12-15 19:57] heckflosse commented on #4957
Moved to 5.8 milestone for a reason...

[2019-12-16 12:49] heckflosse opened #5565 "Do not gray out adjusters when automatic is enabled"
Currently when the automatic checkbox of an adjuster is enabled, the adjuster and spin and the edit field are grayed out.

In my opinion it would be better to not gray out them but instead setting the automatic checkbox to off when changing the adjuster.

Currently, when a user wants to change for example from dual-demosaic automatic threshold to manual threshold, he(she) first has to disable the

[2019-12-16 12:53] Beep6581 commented on #5565
The proposed behavior is consistent with how the "Auto-Matched Tone Curve" feature works :+1: (see also #4451)

[2019-12-16 13:36] #5565 closed, assigned to heckflosse

[2019-12-16 14:46] TechXavAL opened #5566 "Adding a Help button to open Rawpedia"
Almost every program has an internal help documentation, and if they don't at the very least they have a link to a website where there is info about the program.

RT don’t have any of these: maybe it's possible adding a question-mark-button next to the preferences button, that when clicked will open Rawpedia in the default browser

And given it's not so difficult to implement, maybe it could be ad

[2019-12-16 15:35] TechXavAL commented on #5555
I don't wish to interfere in this discussion: a plain user here. I came here by chance, and maybe I have something to say.

You're discussing about removing tools because they are seldom used, or not used at all. I agree, but I would frown at a decission taken without asking the users, those that you try to please.

In my case I am a Microcontrast tool user, and if I don't use it more often it's j

[2019-12-16 16:49] heckflosse commented on #5555
@TechXavAL

That's a good example, why we need to discuss about removal (or not) of tools. In past I also used Microcontrast a lot because it (as you wrote) gives an extra crispness. It mainly does that because it's before the normal sharpening in the pipeline. But as it's after capture-sharpening its effect is much reduced when used in combination with capture-sharpening. I never thought about us

[2019-12-16 19:50] TechXavAL commented on #5555
@heckflosse

Well, as I see it the problem is not where to draw it. If a line has to be drawn (add all the good reasons you wish here), then it has to be drawn. Stop. My concern is about who is drawing it. You, as developers have full right to do so, but I think (I hope) that we, users, also have something to say. I agree that in the end it will be you (developers) who will take a decision, but fi

[2019-12-16 21:37] heckflosse commented on #5555
@TechXavAL

Of course we welcome all user feedback :+1: . That's why I started the discussion already now where it's still a long time to rt 6.0

[2019-12-16 22:38] Beep6581 commented on #5319
Clarification: metadata support is missing.

[2019-12-16 22:48] #5475 closed, assigned to nobody

[2019-12-16 23:39] TechXavAL commented on #5555
I've been thinking about the obsolete demosaicing algorithms, and perhaps there's one solution not as hard as it may seem: let's say you all agree that, e.g., EAHD should be removed in v.6, for everyones good mental health.

Fine, then you can do what most programming languages and many apps do:

- you can post an announcement in discuss.pixls.us previous to v5.9, where you state that certain tool

[2019-12-16 23:44] #5564 closed, assigned to heckflosse

[2019-12-17 00:44] snappyapple632 commented on #5555
Or better yet, use the RawTherapee website itself and social media in conjunction with those announcements/polls to help gather more opinions, because like GitHub, only a select number of users go on discuss.pixls.us on a regular basis.

[2019-12-17 09:44] Beep6581 commented on #5550
PR #5557 merged.

[2019-12-17 12:34] Krijger commented on #5317
@Beep6581 can you please respond to the post where I supply the white level files? I don't know how long wetransfer keeps the link active, so it would be nice to know that the files have been downloaded

[2019-12-17 12:49] Beep6581 commented on #5317
Hey @Krijger , I have downloaded the files.

[2019-12-18 07:16] Lawrence37 opened #5568 "Generalize perspective correction"
The flexibility of the perspective correction tool is limited by the current implementation's assumptions about the image. I feel there are two assumptions in particular which limit the tool's usefulness.

The first is the angular field of view. The current perspective tool does not consider the image's FOV. I have found that the tool works best for images with a 35mm equivalent focal length of ar

[2019-12-18 07:23] Thanatomanic commented on #5568
Nice work. Please make a PR with your modifications so that more people can test them!

[2019-12-19 08:08] Nordicpicturesdotnet opened #5570 "RAW Tab disappears"
1.  I searched here and on google for the issue without finding a solution.
2. I use Gimp 5.7 downloaded 5.6 to check if the issue is related to the last version. It was the same in both versions.
3. ![Untitled](https://user-images.githubusercontent.com/59046101/71155792-cc5a2d00-223e-11ea-84c1-4208dd51995b.png)

4. When I try to edit a picture in the editor everyting seems to work until i hit the

[2019-12-19 10:03] heckflosse commented on #5570
Your file is an already demosaiced m-raw or s-raw file. When you open such a file in RT, it hides all tools which can not be used with already demosaiced files. Shoot raw, not m-raw or s-raw.

[2019-12-19 10:03] #5570 closed, assigned to nobody

[2019-12-19 13:36] gaaned92 commented on #5568
I was wondering why you don't borrow and perhaps improve ART automatic perspective correction code that I think was itself  borrowed from darktable.

[2019-12-19 18:33] CharlesRT2 opened #5571 "RT 5.7 crashes upon attempt to open Fuji GFX50R file shot in 35mm mode"
The Fuji GFX50R "medium format" camera has a 35mm mode for use when the user mounts an adapted "full frame" lens. RT then records data only from the central portion of the sensor, which produces .raf files about half the usual size.

When I open RT and attempt to open such files, RT immediately closes without message. A sample .raf file is available for a week at
https://filebin.net/njjktod0rkg219

[2019-12-19 18:46] heckflosse commented on #5571
Bug confirmed.

[2019-12-19 19:06] heckflosse commented on #5571
@CharlesRT2 Can you provide another file of this kind in the filebin link? Two are better than one to check for the reason of the crash.

[2019-12-19 19:26] CharlesRT2 commented on #5571
Yes, I have put a second example in https://filebin.net/njjktod0rkg219c7 .

[2019-12-19 19:44] MeaningfulName-69 opened #5572 "Canon EOS RP color target shots"
It was sunny a couple of days ago so I went out and shot some photos of my color checker with the EOS RP, and did the tungsten ones indoors that night.  I only learned that evening that the cameras actual base ISO is 100, so the daylight shots were taken at ISO 200, and also handheld.  I thought I would reshoot them today, but the weather did not cooperate, and I don't know when the next sunny day

[2019-12-19 21:08] Lawrence37 commented on #5568
@gaaned92 There has been unresolved discussion about automatic/semiautomatic perspective correction in #4505. I may be wrong, but I think the code to perform perspective transformation (which I have been working on) will be mostly independent from code used to automatically determine the slider values.

[2019-12-19 22:28] gaaned92 commented on #5568
@Lawrence37 I understand these are different features.
- automatic perspective correction: the ART implementation is very effective. Correction can be manually modified if needed.
- perspective transformation:   the ART perspective transformation code seems devoid of the two defects you noticed above. Perhaps it is a good starting point.

Backward compatibility: in my opinion, it is much more impo

[2019-12-20 01:00] snappyapple632 commented on #5566
This would help improve the newbie experience as RawTherapee can be a bit overwhelming with the sheer amount of tools it offers. I myself don't understand certain tools, even though I've used this software for about two years now.

[2019-12-20 07:05] Floessie commented on #5568
Those with a bunch of fine-tuned PP3s in their backups will have another opinion, I suppose. And "correct" may mean something different to them.

[2019-12-20 08:12] Floessie commented on #5571
@heckflosse Regardless of what you'll find out, we should prevent RT from crashing:

[code]

[2019-12-20 11:17] heckflosse commented on #5571
@Floessie :+1:  for your patch. Please commit.
Support for these files will take a while. I think we should open a new issue for that and close this one when your fix is committed.

[2019-12-20 12:37] #5571 closed, assigned to heckflosse

[2019-12-20 12:41] Floessie commented on #5571
@heckflosse Ingo, you can open a new issue now.

[2019-12-20 12:46] heckflosse opened #5574 "Support Fuji GFX50R files shot in 35mm mode and GFX100 16-bit compressed files"
Currently RT can not decode the files mentioned above.
For the GFX100 16-bit compressed I think libraw supports them.

[2019-12-20 12:47] heckflosse commented on #5571
@Floessie Done

[2019-12-20 20:24] learmj commented on #5552
@Hombre57 Sorry for the delay. I added -DOPTION_OMP="OFF" to the cmake line and also removed the other OpenMP_xxx options. Configure runs fine and there is no sign of openmp being picked up. But the build fails compiling rtexif/CMakeFiles/rtexif.dir/rtexif.cc.o complaining of being unable to find tiff.h. I put the OpenMP_xxx options back in and re-ran configure and make. Make understandable told m

[2019-12-20 20:55] heckflosse commented on #5552
@stdbull

Strange, as it is possible to build RT on Windows with clang which does not support OpenMp at all ...

[2019-12-20 21:43] heckflosse commented on #5552
@stdbull

please post the log

[2019-12-21 01:17] Lawrence37 commented on #5568
What improvements do you have in mind? Perhaps change the horizontal/vertical units to degrees? This can be useful if the EXIF contains the camera's pitch.

darktable/ART considers the focal length, which fixes the FOV problem. The horizontal perspective, however, behaves like RT's version. darktable solves this problem with the skew parameter. It makes combined vertical-horizontal manual correcti

[2019-12-21 03:00] Entropy512 opened #5575 "Reference TIFFs are not tagged with an ICC profile that indicates linear data"
This is semi related to issue #5518 - reference TIFFs saved as part of the profiling process are not tagged with an ICC profile that signals that the file contains linear data as opposed to an sRGB TRC.

Now it's understandable why the first thought would be not to tag the images with a profile, since we don't know what the color primaries are until after profiling is complete.  However, anything

[2019-12-21 03:02] Yz2house opened #5576 "Update GUI in Japanese"
translating, correcting, and modifying of GUI in Japanese
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/3990980/Japanese.txt)

[2019-12-21 11:22] dlichtenberger opened #5577 "Startup crashes in LensProfilePanel::LFDbHelper"
RT: 5.7-f335efe6a, compiled with gcc 9.2.1, PROC_TARGET_NUMBER=2
OS: Linux (OpenSUSE Tumbleweed, GTK 3.24.13, GTKMM 3.24.2)

I've been getting occasional startup crashes for a while now. I also tried the current -dev branch, but keep getting the same error (sometimes).

About:
[code]

RT leaves this message trail when startup fails:

[code]

gdb always points to LensProfilePanel::LFDbHelper():
[co

[2019-12-21 17:52] abertens opened #5578 "RawTherapee fails to build on Debian 9 from dev with commit 73655b6 (Dec 20, 2019)"
Hi there,

RawTherapee does not build anymore on Debian 9 from git/dev due to commit 73655b6099e760446df86f29d572624aa4daa0ad "Merge pull request #5567 from Beep6581/help-btn"  (Dec 20, 2019).

Error is:

[ 43%] Building CXX object rtgui/CMakeFiles/rth.dir/rtwindow.cc.o
/tmp/rawtherapee-git-20191220/rtgui/rtwindow.cc: In member function ‘void RTWindow::showRawPedia()’:
/tmp/rawtherapee-git-2019122

[2019-12-21 17:56] abertens commented on #5578
Previous built version info:

Version: 5.7-369-g5face2e44
Branch: 5.7-369-g5face2e44
Commit: 5face2e44
Commit date: 2019-12-20
Compiler: cc 6.3.0
Processor: generic
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: Release
Build flags:  -std=c++11  -Werror=unused-label -Werror=delete-incomplete -Wall -Wuninitialized -Wcast-qual -Wno-deprecated-declarations -Wno-unused-r

[2019-12-21 18:19] Floessie commented on #5578
Confirmed. `show_uri()` is new in gtkmm 3.24 and Debian 9 has 3.22. Here's a possible workaround:

[code]

[2019-12-21 18:30] abertens commented on #5578
@Floessie

With your workaround it builds and button opens Firefox with rawpedia page.

Thank you!

[2019-12-21 20:53] fferreres commented on #5453
I am using the nightly build. While RL and CS do something similar, it does a lot of sense to use it in combination with RL. Because of the much lower noise, CS works a lot better that low thresholds eg. 7, and will produce a result that RL can further improve at the small frequencies such as 0.60 radius 20 threshold, and both tools low in iterations (20~30).

Example 1 (Combined): https://2.img-d

[2019-12-21 22:54] TechXavAL commented on #5453
Well, most probably the combination of several sharpening tools will depend on what you're trying to get, and which are you _limits_ regarding the amount of artifacts shown.

I am currently using quite a lot a combination of CS and RL, but not exactly as you suggested: I start by tweaking CS to get the better results with the least artifacts (to my taste), and after fully processing the image, I e

[2019-12-22 09:07] TechXavAL commented on #5578
It fails to build on Linux Mint 19.3 (Ubuntu 18.04) too (the available and installed gtkmm is 3.22).

The workaround works here, too.

But if you have set other browser than the default in the html filetype dialog **Properties>Open with>Default Application**, then the _new_ default browser opens, but doesn't show Rawpedia.

If you set again the html Default Application the same as the system wide

[2019-12-22 12:46] heckflosse commented on #5453
@TechXavAL

Should be not difficult to implement. But keep in mind, that RL still will be at the very end of the pipeline, means any non linear change (e.g. strange curves or whatever) may again produce artifacts in RL

[2019-12-22 14:07] cyrus-and opened #5579 "Menus open in a new fullscreen desktop in fullscreen mode using macOS"
![Screenshot 2019-12-22 at 3 05 40 PM](https://user-images.githubusercontent.com/1660263/71322846-93cf8300-24cc-11ea-8d11-b5681e6823f3.png)

# Steps

1. Open RawTherapee;
3. Enter fullscreen mode;
4. Spawn any menu, e.g., right click on a picture;
5. The menu opens in another fullscreen *desktop* (see screenshot).

While the menu is actually clickable, it leaves a fullscreen black window afterward

[2019-12-22 14:57] TechXavAL commented on #5453
@heckflosse

I'm aware of this. But the idea is not that we will leave in an ideal world, but to make us the most comfortable as possible in our real world... :smile:

Meaning that at least it will probably introduce less evident artifacts, if we proceed with caution...

As a side note, this has something to do with a long thread in pixls.us, where I posted [my concerns about the linear pipeline.]

[2019-12-22 16:54] heckflosse commented on #4889
The issues from op are fixed with 4a25633. Ok to close the issue?

[2019-12-22 21:52] heckflosse commented on #5453
To document capture sharpening we need some good example files. Here's one from me:
https://rawtherapee.com/shared/test_images/irish_coast.nef

Screenshot from above raw:
![grafik](https://user-images.githubusercontent.com/13733487/71327842-f85f0200-250d-11ea-9a65-e6ad00f5bd75.png)

Feel free to provide your files too.

[2019-12-22 21:52] Entropy512 opened #5580 "Sony A6300 ColorChecker shots"
D50 and stdA at https://filebin.net/ru7dcujz5eaoj00z

I will add a DCP later today, although as I understand it, @Beep6581 prefers to do the profiling runs himself, but I wouldn't mind some input on my own attempts at profiling.  :)

[2019-12-22 21:53] Entropy512 opened #5581 "Sony A6500 ColorChecker shots"
D50 and stdA at https://filebin.net/fst2hoskz0hojvae for profiling

[2019-12-22 23:22] heckflosse commented on #5453
Another candidate to document capture sharpening
https://rawtherapee.com/shared/test_images/clematis_vitalba.nef
![grafik](https://user-images.githubusercontent.com/13733487/71328621-690c1b80-251a-11ea-94a0-b5091f9bd798.png)

[2019-12-23 09:12] TechXavAL commented on #5453
I assume those are comparisons at 1:1

I think they are perfectly suitable for the task. But one thing that could be done with one of them is forcing the parameters to show the problems that may arise with a bad radius, as explained in the radius section. A good image for this would be the close-up (maybe 3 comparison images: left good radius, center no CS, and right bad radius).

And another bad

[2019-12-23 10:57] Benitoite commented on #5552
@Krijger @stdbull
Have you tried to add `-I/usr/local/include` to your `-DCMAKE_CXX_FLAGS` and `-DCMAKE_C_FLAGS` ?

Also I am on AppleClang11 (Catalina), no problems with OpenMP...

What I am not using is any package manager, so I have no clue what all else is going on there.

[2019-12-23 11:42] #5576 closed, assigned to Beep6581

[2019-12-23 15:01] learmj commented on #5552
Sorry for the delay in trying things. I've not had much time recently. What
source tree am I best to be compiling? I am currently on the ci-macos
branch. Am I best to switch to something different to try this (hopefully
later today)? By 'no problems with OpenMP' do you mean you can build
without, or you don't observe the latency issues?

On Mon, 23 Dec 2019, 10:57 Benitoite, <notifications@github.

[2019-12-23 20:08] heckflosse commented on #5453
Yes, those are 1:1

Good idea :+1: I will prepare an example. Should not be difficult

Another good idea though it turns out to be more difficult to run into this case after the `limit iterations`. Will take a while to find a good example.

[2019-12-23 22:00] learmj commented on #5552
I synced to the tip of @Krijger 's ci-macos branch and added -I/usr/local/include to MAKE_CXX_FLAGS and CMAKE_C_FLAGS and built without OpenMP support. I totally missed that earlier - thanks @Benitoite . I also used the Apple clang for all tools. With a Release build, the observed latency with moving sliders, dragging curves etc is exactly the same as when compiling with OpenMP as previously descr

[2019-12-23 22:16] Benitoite commented on #5552
In the UI ok but how is the performance with highly parallelized tasks?

[2019-12-23 22:37] learmj commented on #5552
Can you elaborate a little more? Are you referring to, for example, the time it takes to process an image and export, or batch process multiple, or import RAW, etc? Presumably you are referring to a Debug build without OpenMP? @Benitoite from your post above I inferred that you were also running Catalina. Are you, and if so, do you observe the same? It's not clear what you meant by "no problems wi

[2019-12-23 22:53] learmj commented on #5552
FWIW I opened a NEF and performed some edits just using the default settings for RL Deconv sharpening plus local contrast, edge detection and NR. Exporting a single image took around (edit) 1 minute, with a significant part seemingly in the Capture Sharpening phase. CPU utilisation was not high at all with two cores around 30%. Seems quite long compared to my old Thinkpad T420!

[2019-12-23 22:57] learmj commented on #5552
There definitely does seem to be a relationship to the size of the RT application window, too and even with a Debug build without OpenMP. Full screen still exhibits a sluggishness moving curves, dragging scroll bars etc, but dragging the window and making is quarter screen improves this quite a lot and generally, movement and navigation is much snappier.

[2019-12-23 23:18] learmj commented on #5552
The same export operation with OpenMP enabled in a Debug build takes around 5 seconds.

[2019-12-23 23:22] Hombre57 commented on #5552
@stdbull This makes me think that the processing threads takes too much cycles over the main, GUI thread. I'll update the `std-mutex` branch in few minutes, that would be worth the try IMHO.

[2019-12-23 23:26] Hombre57 commented on #5552
@stdbull Merge done. Can you give it a try ? (I hope it's clang/macos compliant)

[EDIT]
See also : https://stackoverflow.com/questions/14177018/how-do-i-get-the-new-c-threading-support-on-mac-os-x-with-clang

[2019-12-23 23:33] learmj commented on #5552
Sure, I'll try my best to give it a go tomorrow. Do you want results with both OpenMP and without? OpenMP clearly makes a difference to processing tasks (obviously), but from a UI perspective, the only difference seems to be between Release and Debug builds. Really not sure why that that is. Maybe there is some optimising going haywire in Release??

[2019-12-23 23:45] Hombre57 commented on #5552
I'd say try a Release build with OpenMP enabled.

Please also tell me if you've enabled Hi-DPI mode in Preferences and if you use a native Hi-DPI resolution, which should disable upscaling done by macos, if that matters.

[2019-12-24 16:55] heckflosse opened #5582 "Speedup for dark frame subtraction"
PR with speedups follows soon

[2019-12-24 17:52] heckflosse commented on #5582
Processing time using dev for a 24.4 MP file is ~112 ms

[2019-12-24 18:03] heckflosse commented on #5582
40 ms with https://github.com/Beep6581/RawTherapee/commit/c4cf68c6b562253f00e403e4819318d0782a59c3

[2019-12-24 18:09] heckflosse commented on #5582
27 ms on my system (limited by memory bandwidth) with last commit

[2019-12-26 15:50] arturoisilvia opened #5583 "LocalLab: Crash when Right<9 or Bottom<12 and Sharpening:ON"
Hi,
I was going to do a red-eye reduction and wanted to give it some sharpness.
It has crashed me when exporting the image for having activated the Sharpening module of the Local tab and Right value <9 or Bottom value <12

It only crashes in RawTherapee_newlocallab-win64-5.7-1694-ge1a938e3a_WinVista_64 version
In these previous versions it works fine (there is no crash):
RawTherapee_newlocallab-wi

[2019-12-27 16:20] Desmis commented on #5583
@arturoisilvia

Hello
Thank you for testing :)

I was not at home, but with my family in Paris

I think (I hope) the crash is fixed, with this commit 9422a0b

Thank you

Jacques

[2019-12-27 17:10] learmj commented on #5552
@Hombre57 I just tried building the tip of the std-mutex branch. Unfortunately, it fails to compile because of this:

This was the first error. Occurred at 85% through the build.
Full compile output for the file attached along with
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/4005850/AboutThisBuild.txt)
[output.log](https://github.com/Beep6581/RawTherapee/files/4005849/output

[2019-12-27 17:15] learmj commented on #5552
Same error using Apple clang `Compiler: clang 11.0.0.11000033`

[2019-12-27 21:50] arturoisilvia commented on #5583
Calme, which by these dates has preference over all the family and nougat ;-)

Thanks for fixing it. I will try it.

Greetings
	Arturo

[2019-12-28 10:37] arturoisilvia commented on #5583
I reopen the issue because it still fails me in commit 9422a0b

1) In pp3 that I sent before you had to put a lower value to Right or Bottom
2) Have the Sharpening module-> ON
3) Export (processing queue) to jpeg or TIFF

Attachment new pp3:
[Error red eyes with Sharpening-2.zip](https://github.com/Beep6581/RawTherapee/files/4006946/Error.red.eyes.with.Sharpening-2.zip)

Jacques, it's not urgent f

[2019-12-28 10:50] Desmis commented on #5583
@arturoisilvia

I will see again, but in my case, no crash....

jacques

[2019-12-28 11:48] arturoisilvia commented on #5583
No? Well, how strange ...
I have tried with another computer and with different files: dng, raf, cr2 ... and also crash.

Let's see, I put the process back to you:
Windows 10
RT 5.7-1699-g9422a0b7e (Compexity Local Adjustments: Expert)
Open any photo
Profile: Neutral
Load profile: Error red eyes with Sharpening-2.pp3
Put current image to processing queue (Shortcut: Ctrl-b)
Start processing:

![Cra

[2019-12-28 11:56] Hombre57 commented on #5552
@stdbull I'm not a compiler specialist, but it seem you're building using C++17 standard. AFAIK, RT should be built using C++11 standard. There must be some compiler flags to use.

[2019-12-28 12:05] #5578 closed, assigned to nobody

[2019-12-28 12:40] Desmis commented on #5583
@arturoisilvia

I know the process, but it depends of many factors, in some cases it works...even with small spot.

In fact, the problem is due to "builblendmask" use by "deconvsharpening", under 39 pixels for the size of the "windows" there is a crash, regardless of the positions...

It just post a fixed, when size of windows under H=39 or W=39 the program exit whitout threatment

Jacques

[2019-12-28 13:13] arturoisilvia commented on #5583
Well, I don't know what to say, but the version:

RawTherapee_newlocallab-win64-5.7-1670-g08e2ba79d_WinVista_64.exe

It works well: it doesn't fail me at any time. ¿?
Something must have changed.

[2019-12-28 16:31] learmj commented on #5552
Well that is strange. I am no cmake expert but I can see that CMakeLists.txt does have
[code]
Also, I am not explicitly setting any c std anywhere in my configure env (below for Apple clang):

[code]
This is all based on following the instructions on rawpedia and updating it to the best of my knowledge for a newer Mac OS system. I'm not explicitly setting CMAKE_CXX_FLAGS. Yet after configuring CMa

[2019-12-28 17:05] heckflosse commented on #5552
@Hombre57 I fixed a compile error in dev. Will you merge dev into std-mutex or shall I do?

Edit: I meant I fixed a compile error in dev which also needs to be fixed in std-mutex.
The error mentioned above regarding `list` has to be fixed in std-mutex. I can push both fixes (I already made the localy) if you have no objections.

[2019-12-28 17:23] Desmis commented on #5583
@arturoisilvia

I have limited "sharp" (deconvolution) to a RT-spot minimum 39x39 pixels
I add a TOOLTIP for the expander, to explain sommary

Try to  "sharp" with wavelet, I found many bugs (mostly due to nonsense on my part), especially to set the maximum possible levels between : a) selection by the user, b) size of RT-spot, c) size of preview, and d) skip (I recommand to use 100% 1:1  - skip =

[2019-12-28 18:35] #5582 closed, assigned to heckflosse

[2019-12-28 19:14] heckflosse opened #5586 "Monitor profile menu opens depending on RT window position"
Win7/64

Selecting monitor profile on a full screen rt windows gives this:
![grafik](https://user-images.githubusercontent.com/13733487/71548436-41033900-29ae-11ea-9661-6467f74b6b5e.png)

while on a downsized and top-left aligned rt window gives this:
![grafik](https://user-images.githubusercontent.com/13733487/71548451-8cb5e280-29ae-11ea-984c-32d844f5471b.png)

Tests on other OS are welcome

[2019-12-28 20:03] arturoisilvia commented on #5583
Ok, I'll try wavelets. It will take me a little time to understand.
And as this sharp limitation is known, I conclude this conversation

Greetings.

[2019-12-28 23:44] Hombre57 commented on #5552
@heckflosse Sorry, I didn't read your full comment, I've merged `dev` into `std-mutex` already. Of course no objection to update `std-mutex`.

[2019-12-29 06:30] Desmis commented on #5583
@arturoisilvia
Yes there is a limitation to sharp (size), but you can still use sharp, to sharp very small area

You can use in "settings"
* transition value and **transition weakening**

Example
If the RT-spot is 50*50 sharp can be used
* set transition value to 10, you will have a "RT-spot" with plain effect for a 5x5 area
* if you set transition weakening to 1, of course, the speed of weakening

[2019-12-29 11:50] arturoisilvia commented on #5583
I had already succeeded in replacing sharpening with pyramid wavelets with the local contrast levels curve and scope=100:
![Wavelets pyramid](https://user-images.githubusercontent.com/55624244/71556501-c122b080-2a39-11ea-9a72-4098bde8da53.jpg)

I have tried the sharpening module with spot size > at 39x39 and adjusting transitions value and weakening as you say and it has also worked well without e

[2019-12-29 12:19] Desmis commented on #5583
The wavelet tool you have chosen works, but it is not the most suitable for what you want to do.

Try to use, "contrast by level" :)

When you say  "you usually adjust the spot to the size of the iris of the eye.", again, it works, but it's under using algorithms.
I wrote in the documentation that you had to do a cognitive unlearning... what you mention confirms it, as well as other remarks from u

[2019-12-29 14:21] arturoisilvia commented on #5583
Yes it's correct. I come from darktable .... and its " contrôles de type "lasso" ". So some memory remains for me ... ;-)

Greetings,
       Arturo

[2019-12-29 17:20] learmj commented on #5552
Thanks for fixing. I've successfully compiled a Release build from the tip of `std-mutex` but there seems to be no difference or improvement in the UI behaviour compared to previous. Scrolling is still laggy and moving curves is too. My display settings are set to "Default for display" rather than "Scaled" and using the native resolution of the Macbook pro. I think this means I'm not using HiDPI s

[2019-12-29 18:59] Hombre57 commented on #5552
@stdbull The mystery still persist, and I start running out of ideas.

Are you playing with curves with a `neutral` edited image, or do you have other tools enabled, possibly processing intensive one like `Denoising` ?

I don't know how DT is parallelized, but I guess that the biggest is your image (in MPx), the more you have thread, the less CPU time remain for the GUI thread. However on my syste

[2019-12-29 19:28] Hombre57 commented on #5552
@stdbull One more (dumb?) idea : even though you're building a `Release` version, and considering that you don't statically link the dependencies, are you sure that your Gtk/Gtkmm libs are `Release` too ?

[2019-12-29 21:57] rfranke commented on #5586
The menu is not available under macOS. Ubuntu looks like your screenshots. The black area at the top of the menu is getting smaller with reduced height of the rt window.

[2019-12-30 13:13] heckflosse opened #5588 "Applying geometric transformations leads to dark artifacts in combination with capture sharpening"
The bicubic interpolation we use for geometric transformations leads to artifacts in combination with capture sharpening especially in areas with high contrast. I will create a pr soon to avoid that.
Here's a first screenshot. Left with current code, right with new code:
![grafik](https://user-images.githubusercontent.com/13733487/71583388-7de64180-2b0e-11ea-93ef-490bc3c39043.png)

[2019-12-30 15:57] reggybe commented on #5586
This doesn't happen under Linux (openSuSe Leap 15.1).
![Screenshot_20191230_165323](https://user-images.githubusercontent.com/14152018/71589510-6a92a080-2b25-11ea-8477-2c6c733de990.jpg)

[2019-12-30 18:28] heckflosse commented on #5586
@reggybe Does it show the same if you set the default monitor profile in preferences to the topmost (`Geen`)?

[2019-12-31 00:13] Lawrence37 commented on #5558
It seems like the scaling for Auto-fill is applied in the wrong order. It should come after distortion correction.

Here's the output with Auto-fill enabled:
![P1240630_rt](https://user-images.githubusercontent.com/45837045/71605183-dff97380-2b1b-11ea-9701-6ce7b8e825aa.jpg)

and here's the output with Auto-fill disabled and scaled in GIMP:
![P1240630_gimp](https://user-images.githubusercontent.com

[2019-12-31 02:05] Lawrence37 commented on #5558
[code]

With this patch, I get:
![P1240630_rt_patched](https://user-images.githubusercontent.com/45837045/71607428-44bdc980-2b2e-11ea-9049-0526315e9527.jpg)
@fsenore Is this the output you expect?

[2019-12-31 08:02] rfranke opened #5590 "Update documentation for compilation under macOS"
First of all: thank you for the great software and comprehensive documentation!

The compilation of the current `dev` branch was straightforward under Linux Ubuntu 18.04. I just ran the documented `sudo apt install ...` and cherry picked the build commands out of the supplied `build-rawtherapee` shell script.

The compilation under macOS Catalina 10.15.2 was more tricky. This might be due to my ig

[2019-12-31 08:50] fsenore commented on #5558
@Lawrence37 Yes, the output is much better than before. Thank you for fixing this.

[2019-12-31 09:16] rfranke opened #5591 "100% vs 200% image preview in macOS"
RawTherapee 5.7 and dev show photos zoomed to 200% instead of 100% under macOS Catalina 10.15.2. This is the same for the built-in Retina display of a MacBook Pro (late 2013) and for an external 4K monitor.

This issue is related to #5291, but hopefully there is a simpler solution for macOS. This is because all menus and icons just look right without additional scaling on HiDPI monitors. MacOS see

[2019-12-31 12:43] rfranke commented on #5446
#1678 sounds cool -- in particular as omp isn't without issues either, e.g. with clang. Maybe make opencl optional and keep the current processing as fallback to minimise the risk of breaking RT?

[2019-12-31 14:38] heckflosse commented on #5588
The artifacts also appear without using capture sharpening.
With the raw from [here](https://discuss.pixls.us/t/play-raw-daylight-haze/10491) I get dark artifacts when rotating by 0.01 degree
Left neutral profile, right neutral profile + 0.01 degree rotation with old transform code
![grafik](https://user-images.githubusercontent.com/13733487/71624555-6fb62500-2be3-11ea-83dc-cb5f80488e28.png)

The

[2019-12-31 16:01] reggybe commented on #5586
These are screenshots when the monitor profile is set to 'none'.
![Screenshot_20191231_165432](https://user-images.githubusercontent.com/14152018/71626706-dab92900-2bee-11ea-9c56-639f38608c55.jpg)
The second screenshot shows the screen when scrolling with te mousewheel
![Screenshot_20191231_165458](https://user-images.githubusercontent.com/14152018/71626751-148a2f80-2bef-11ea-8650-3229cdba4b34.jpg

[2019-12-31 20:15] rfranke commented on #5591
Here is a screenshot of my 4K monitor illustrating the issue. I scaled a photo with details to 1280x1920 pixels, took the exemplary gtkmm tutorial from https://developer.gnome.org/gtkmm-tutorial/stable/sec-draw-images.html.en, replaced the image with my photo and added the following line to the `on_draw` function, besides adapting the positioning of the image in the pixbuf:
[code]
Changing the dev

[2019-12-31 21:17] heckflosse commented on #5590
@rfranke

Without omp RT will be slow. Imho not worth to make a non omp build for machines with multiple cores...

[2019-12-31 22:44] rfranke commented on #5590
I did some comparisons with the released version 5.7 today. Went back to branch release-5.7 as the processing seems to have changed in dev. Setting
         -DWITH_LTO="ON"
results in the same speed even without omp (about 4s to open a photo in the editor :-( ). Maybe something went wrong with the release build? See also #5552. This is why I'm hoping for #1678 now.
Btw: did not get any other than

[2020-01-01 00:17] heckflosse commented on #5590
@rfranke

-DWITH_LTO="ON" results in the same speed even without omp (about 4s to open a photo in the editor :-( ).

Can you verify this by starting RT from terminal with this enabled?
![grafik](https://user-images.githubusercontent.com/13733487/71636719-6ef9af00-2c34-11ea-83a5-4d6d9f23578e.png)

[2020-01-01 00:53] RawTherapeeUser opened #5592 "Crashing after trying to save processed image"
Version: `Version: 5.7
Branch: releases
Commit: f335efe6a
Commit date: 2019-09-10
Compiler: cc 8.3.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.0
Lensfun: V0.3.2.0
Build type: Release
Build flags: -O3 -std=c++11  -Werror=unused-label -Wall -Wuninitialized -Wcast-qual -Wno-deprecated-declarations -Wno-unused-result -fopenmp -Werror=unknown-pragmas  -ftree-vectorize
Link flags:

[2020-01-01 10:14] rfranke commented on #5590
OK, I had a deeper look now. The measured times reduce as expected with omp. The effect on the overall wall clock time isn't that big though. Interestingly my perception of the effect of LTO was wrong.

Here are the measures using an Intel Mobile Core i5 "Haswell" (I5-4258U) 2.4 GHz  with 2 physical cores. The released 5.7 build gives:
[code]
This sums up to about 1.5s. The total wall clock time b

[2020-01-01 11:08] heckflosse commented on #5592
Works fine here using latest dev build.

[2020-01-01 11:11] heckflosse commented on #5590
@rfranke What kind of raw files did you use for your test?

[2020-01-01 12:39] rfranke commented on #5590
I'm processing NEF files from a D500 (file size about 24 MB). Do you think that 3s for opening a file in the editor are as expected?
This timing is less important when preselecting photos in the file browser (I'm shooting RAW+JPEG and only need to edit few photos). 100% zoom would be nice though, see #5591.

Meanwhile my own build works with omp using MacPorts clang-mp-9.0. It achieves the same ti

[2020-01-01 13:50] heckflosse commented on #5590
Are you using SETM or METM? If you use METM opening a new editor also takes a while.
Time to open a file in editor also depends on the profile you use. If you use for example 'Auto-matched...' the file will be decoded twice.

[2020-01-01 13:59] rfranke commented on #5590
SETM for the reported times, i.e. clicked on thumbnails in the Filmstrip. The Auto-Matched Tone Curve was the killer feature that convinced me to start with RawTherapee :-)

[2020-01-01 18:40] stdbull commented on #5590
@rfranke since you are building and running with Mac OS Catalina, with respect to #5552 how does the RT UI behave for you, eg when moving sliders, moving curves, etc?

[2020-01-01 18:45] learmj commented on #5552
@Hombre57 All dependent libs are release with no debug. Also remember that @blj86 reported similar behaviour with his build (macports) and also when I tried a pre-build from @Krijger from his CI work, it behaved the same. I'm pretty sure the problem is not local to me. When playing with the UI I don't have any Denoise etc switched on such that it would slug the UI. Actually, earlier today I opened

[2020-01-01 19:29] LebedevRI commented on #3000
@trenzterra @emanuele etc
Terribly sorry for necro-posting offtopic question, but i wonder if anyone here still has that camera?
I would *love* to get a sample set (preliminary info: two raws with same content, one 12bit and one 14bit) from it for https://raw.pixls.us/

[2020-01-01 19:36] LebedevRI commented on #3000
Err, looking at http://downloadcenter.samsung.com/content/UM/201503/20150313082358453/NX500_English.pdf, it seems it would be awesome to have 4 samples:
* 14bit "Normal Compression"
* 14bit "Lossless Compression"
* 12bit "Normal Compression"
* 12bit "Lossless Compression"

[2020-01-01 19:59] iliasg commented on #5540
Interesting is what happens after passing the two DNGs through Adobe DNG Converter !!
The colormatrix1 gets normalized to 0.4946 0 0 0 1 0 0 0 0.4946 - 0.4943 0 0 0 1 0 0 0 0.4943 and the rendering looks more reasonable (and almost identical for both DNG_1s) ;)
![colormatrix1-sRGB](https://user-images.githubusercontent.com/15012599/71645397-75456500-2ce0-11ea-93ca-3d98d09bb73f.jpg)

Also interesti

[2020-01-01 20:42] rfranke commented on #5590
Generally fine. The released binaries for version 5.7 and my own build behave alike. If I try to move a slider  very fast, then I notice a lag of some milliseconds while the editor updates the photo. Only scrolling with gestures on the track pad or with an Apple mouse is too sensitive -- must use the scrollbars instead.
My only real problem is that RT doesn't exploit the resolution of the monitors

[2020-01-01 21:47] stdbull commented on #5590
Interesting. If you drag a curve (eg RGB), does the point on the curve
follow the mouse closely and smoothly, or does it lag? Are you using a
separate (non Apple) mouse when working with a MacBook or other Apple
machine rather than the trackpad (or magic mouse)? From your description it
sounds like the issue I've been observing could be purely due to the use of
the trackpad (I've not used a discre

[2020-01-02 07:52] rfranke commented on #5552
Try to exclude possible failures by using an as simple as possible test setup.
What happens just on your MacBook without any external devices connected?
The officially released installer for version 5.7 works for me (MacBook Pro 13" Late 2013). How does the released version with default settings work on your bare MacBook?
Did you already upgrade to Catalina 10.15.2? I did and things changed notice

[2020-01-02 07:53] rfranke commented on #5590
Yes, when dragging points on curves or sliders, they follow the mouse closely and smoothly. Just scrollbars sometimes seem to hang -- but this I'm used to from the GNOME desktop as well.
I used the built-in touchpad and an Apple Magic Mouse so far. Interestingly: scrolling works nicely too (like under Linux) with a regular PC mouse and scroll wheel.

[2020-01-02 09:54] emanuele commented on #3000
@LebedevRI : I can provide them, probably within tomorrow - I still have the NX500. About the content, I can provide very similar shots, clearly not identical. Please let me know if you have further instructions about the content.

[2020-01-02 10:00] LebedevRI commented on #3000
Yay, thank you!
No need for pixel-perfect identicity, at best put the camera on a tripod or something,
but it's just a wish, not a strict requirement. As stated on https://raw.pixls.us/,
ideally the image content should be something like daylight landscape - so that
the images are at low ISO but still well-exposed, with no people in the frame.

[2020-01-02 18:56] heckflosse commented on #5588
With latest commit you can now switch between linear and logarithmic transform for Lens/Geometry
![grafik](https://user-images.githubusercontent.com/13733487/71685770-94ec9400-2d99-11ea-8cfc-6d1d312b33d2.png)

Here's another example. Left is without lensfun distortion correction. Middle is with lensfun distortion correction using 'Linear'. Right is with lensfun distortion correction using 'Logarit

[2020-01-02 19:57] learmj commented on #5552
I've only ever been using my MacBook Pro. I've never been using any external monitors or mice so far, etc. All trackpad and native resolution in the display - no scaling.

Exactly as described here - slow and laggy performance when manipulating anything in the UI - sliders, scroll bars, curves, etc. Nothing else open on the MBP other than a terminal window. This is a brand new machine too, so no b

[2020-01-02 21:05] rfranke commented on #5552
These are my settings. I'm not using Homebrew because MacPorts appears less tricky to me, e.g. calling a custom compiler with omp support clang-mp, avoiding name clashes with Xcode's clang. After hours of trial&error with paths, .bashrc, symlinks and the like I finally called:
[code]
Using MacPorts, my cmake call reads:
[code]
Resulting AboutThisBuild.txt:
[code]

[2020-01-02 21:36] #5583 closed, assigned to nobody

[2020-01-02 22:01] #5577 closed, assigned to heckflosse

[2020-01-03 07:17] rfranke commented on #1474
This thread hasn't been active for a while. I'd like to take it up as I'm really missing a fullscreen preview for selecting photos in the file browser. Additionally, I find it crucial to see photos with the full monitor resolution to overcome the mushy look under macOS, see #5591.
First investigations look promising. The 'z' key is already used for some filter feature though (filter all edited pho

[2020-01-03 14:03] Entropy512 commented on #5581
I'm guessing @Beep6581 is on vacation for the holidays.

The links have expired for this and the A6300 shots.  Please let me know when a good time to reupload them would be.

[2020-01-03 15:10] heckflosse commented on #5581
@Entropy512 I downloaded the files

[2020-01-03 16:40] Entropy512 commented on #5581
OK, sounds good.  Let me know if there are any issues with the shots provided.  I'm back home so I can reshoot if weather cooperates.

[2020-01-03 23:04] Lawrence37 opened #5594 "Black areas in preview with profiled CA correction and geometric transformation"
When profiled chromatic aberration correction is enabled and a geometric transformation such as Rotate or Perspective is applied, parts of the preview may be rendered as black. The preview must be at 100% or greater magnification for this bug to occur. Black regions appear at the bottom and/or right sides of the preview.

Here's a simple way to trigger the bug:
1. Open amsterdam.pef.
2. Apply the

[2020-01-04 09:02] emanuele commented on #3000
Hi, I've just submitted 4 almost identical shots just taken with the
Samsung NX500 and kit lens to https://raw.pixls.us/ , as agreed. I've put a
comment in the description of each shot, as below:
- SAM_2923.SRW : 12bit normal compression (20Mb)
- SAM_2930.SRW : 12bit lossless compression (26Mb)
- SAM_2921.SRW : 14bit normal compression (24Mb)
- SAM_2928.SRW : 14bit lossless compression (32Mb)

Her

[2020-01-04 09:06] LebedevRI commented on #3000
Ooh, thank you so much for these! Verified uploads.

[2020-01-04 10:38] rfranke opened #5596 "Frequent crashes of file browser under macOS"
Using the released binaries 5.7 or an own build of the current dev branch under macOS 10.15.2.

RT crashes sporadically during startup. If RT starts, then a crash can easily be produced by repeatedly switching image directories.  The error message is mostly `Segmentation fault: 11`, but may also be `Bus error: 10` or `Abort trap: 6`.

[2020-01-04 11:19] rfranke commented on #5596
This direct update of the progress bar fixes the crashes. I don't notice a loss of functionality:
[code]

[2020-01-04 14:12] heckflosse commented on #5596
@rfranke

I didn't test your patch, but does the label of the filebrowser tab still show the progress?

[2020-01-04 14:40] rfranke commented on #5596
It doesn't :-(
Just the progress bar shows the progress in percent. The label of the filebrowser tab stays at 0 and updates once at the end.

[2020-01-04 15:32] Vordalf opened #5597 "Preferences not displayed in latest Rawtherapee (5.7, FR) on Windows 10 (x64)"
Hello, the preferences are not displayed correctly in the latest Rawtherapee (5.7, in French language) on Windows 10 (x64). The top tabs of the "Preferences" window are displayed correctly, but clicking on any of them just displays one line below (nothing that can be set or clicked). I had Raw Therapee 4.2 previously on that PC.

[2020-01-04 17:04] Benitoite commented on #5590
So I noticed in dev the default package manager has been changed to Homebrew from MacPorts.
This PR retains that new default but also allows for `/opt`
#5598

[2020-01-04 18:09] heckflosse commented on #5597
Can you post some screenshots please?

[2020-01-04 18:33] rfranke commented on #5590
I had started open minded without previous knowledge of either Homebrew or MacPorts. After having tried both, the latter convinces me more (regular installer instead of copy/paste of hacky command line, use of sudo, unique names, less PATH juggling). Appreciating your pull request!

[2020-01-04 19:49] Benitoite commented on #5590
Thanks @rfranke for having a look.  Same experience here. I’d used apt before on Linux and find macports to be as simple. Homebrew is a slightly different paradigm but is supported by some autobuilders.

[2020-01-04 20:33] rfranke commented on #5596
Well, compiled without the patch once more. The label in the filebrowser tab stays in grey background color during load under macOS, i.e. does not show the progress either, but frequently causes a crash.
Maybe the label and the icon should not be recreated for each update, but just update their content?

[2020-01-04 20:39] Vordalf commented on #5597
![RawTherapee - preferences](https://user-images.githubusercontent.com/59508947/71771417-b638b600-2f3a-11ea-8f80-356c061ff0d1.jpg)

[2020-01-04 20:40] Vordalf commented on #5597
Screenshot posted.

[2020-01-04 22:32] learmj commented on #5552
Thank you for supplying this. I believe the `dev` branch has various fixes for compiling against homebrew dependencies. 5.7 release will not build against homebrew on Catalina. See #5550 and #5557 for a few details.
I'm pretty close to giving up with this now :-( I might try and create a new user account on my MBP with macports installed, or perhaps be brave and blow homebrew away, install macport

[2020-01-05 09:12] heckflosse commented on #5596
:+1:

[2020-01-05 10:41] rfranke opened #5599 "Scroll increment for trackpad under macOS -- what about other systems?"
Running the released 5.7 binaries or an own build of the current dev branch under macOS 10.15.2.

Using the built-in trackpad of my MacBook, the thumbnail browser scrolls ways too fast. This is due to multiplication of the delta values of the trackpad with the thumb size in the order of 100, i.e. the browser scrolls 100 times too fast.

The multiplication makes sense for step increments. Connectin

[2020-01-05 16:57] rfranke commented on #5599
Scrolling appears to be a nightmare. See an implementation I came up with for #5593 after tests of the combinations of mac:trackpad, mac:macmouse, mac:pcmouse, linux:pcmouse. Tests for linux:trackpad and windows are still missing but should work according to the current implementation of smooth scrolling with steps in RT.

I wonder if gestures introduced with Gtk 3.14 are more compatible across pl

[2020-01-05 17:04] Thanatomanic commented on #5599
Ping @Entropy512 because of #5426. Also @rfranke take a look at #4663, #4652, #3923 and #1901 for some more history into similar issues regarding scrolling.

[2020-01-05 17:27] rfranke commented on #5599
Thank you for the links. Sorry to say that, but the implementation appears easiest for Apple by just using `event->delta_x` and `event->delta_y`. Also a magic mouse just behaves like the trackpad.

A lot of additional code, a user defined scroll step, and two work arounds were needed to adapt delta_x/delta_y for PC:
https://github.com/Beep6581/RawTherapee/pull/5593/commits/e4c9e1470f631b76cd2c9194

[2020-01-06 07:09] rfranke commented on #5426
Unfortunately there are still issues.

**Nice to have:** In addition to the exploitation of event->delta for smooth scrolling introduced in #5430, it should also be exploited for non-smooth scrolling under macOS, where event->delta encodes the speed of a scroll wheel. This allows to adapt the scroll speed from shifts on pixel level up to fast scrolling though multiple pages. The intended scroll be

[2020-01-06 11:51] Entropy512 commented on #5599
Hmm, I'll take a look at this again, I was planning on doing some cleanups (see discussion there, including links to GTK documentation saying you shouldn't have both smooth and non-smooth scrolling in the event mask simultaneously) but never got around to it.

Most of my initial work was just to fix an obvious deficiency in Linux.  It sounds like you're having a different issue where either GTK+ i

[2020-01-06 11:54] Entropy512 commented on #5426
Hmm...  On every device I've looked at so far on my Ubuntu machine, event->delta is 1.0 for any event coming from a scroll wheel with clicks/detents...

[2020-01-06 12:05] rfranke commented on #5599
Yes. It is almost impossible to move one or two thumbs forward. It appears that the emitted deltas are already scaled and the additional scaling by RT with the thumb size of 100-200 makes the scrolling 100-200 times too fast.

[2020-01-06 12:13] rfranke commented on #5426
I just saw it under macOS. It is neat if you can scroll faster instead of having to scroll repeatedly on large pages. To make it even more tricky: under macOS I get absolute values for the speed and no direction when using a scroll wheel. Under Linux I get +-1 indicating the direction but no speed.
Anyhow, a MacBook and a PC mouse are possibly paired in rare cases only, so that the treatment of th

[2020-01-06 19:52] #5588 closed, assigned to heckflosse

[2020-01-06 20:01] Thanatomanic commented on #5588
Hmmm, not withstanding your work Ingo, but isn't this merge a little premature? Your initial observation appeared to be a more general thing so I wonder: what is the cause of these artifacts in Linear mode? I mean, the new Logarithmic mode definitely works better whenever Linear gave artifacts, but it creates its own problems in noisy blacks. So is this an improvement on a whole?
It also introduce

[2020-01-06 20:07] Thanatomanic commented on #5597
@Vordalf I cannot reproduce when setting the language to French.
But this window is resizable. Can you try to enlarge the preferences and see if that solves the issue?
![image](https://user-images.githubusercontent.com/6567747/71845400-8ae3d180-30c8-11ea-9698-f502b0cccc9d.png)

[2020-01-06 20:10] Thanatomanic commented on #5536
@coponhub Is this still relevant to you?

[2020-01-06 20:19] Entropy512 commented on #5599
I'll have to look at what the multiplication factors are on my machine.

Something seems to be behaving strange on MacOS, either the deltas are being prescaled by GTK+ or somehow the scaling factor is bogus on Mac...  I don't know about windows but I'm having good results with multiple mechanical mice (all have scroll detents, I haven't yet tried a mouse that doesn't have scroll detents.  I know t

[2020-01-06 20:28] Vordalf commented on #5597
Hello, thanks a lot for your help. Yes, resizing worked, and I can access all parameters. Now, that's still really a bug, because by default the window is so thin, that it looks like something is not working. The window should be larger (vertically) upon first display. I'll survive without a fix.

[2020-01-06 20:58] heckflosse commented on #5588
@Thanatomanic

For sharp (contrasty) input (as CS gives) the linear transform leads to dark artifacts because cubic transform overshoots in linear mode. As I showed, also non CS images can be very contrasty (leading to dark halos).

I can restrict it to be automatically used only if CS is enabled

[2020-01-06 21:12] heckflosse commented on #5588
@Thanatomanic

Imho it is, as it gives better results for the majority of use cases.

For the remaining use cases linear is still available

[2020-01-06 21:51] rfranke commented on #5599
It appears too smart for a regression. Somehow the mouse/trackpad driver knows about the display size and scales the deltas.

Edit: or maybe really a regression, like a relative value multiplied with 100 giving percentage?

[2020-01-08 07:15] rfranke commented on #5599
Did some more tests meanwhile. The Apple magic mouse (with built-in trackpad instead of a scroll wheel) behaves like a PC mouse under Linux Ubuntu 18.04. RT receives each event twice, as a smooth scroll event 4 with direction +-1.0 and as non-smooth scroll events 0-3 with direction 0.0.

Under macOS 10.15.2, RT receives only non-smooth scroll events 0-3 from a PC mouse. The direction is greater 0.

[2020-01-08 08:44] rfranke commented on #5599
Yet another observation: scrolling of thumbnails with touchpad on a Windows laptop is ok.

Meaning, the question part of this issue has been answered: only a mac issue.
But the discussion at https://gitlab.gnome.org/GNOME/gtk/issues/1308  is about factors of 1.3-1.5 or 0.5, whereas RT suffers from a factor of 100-200 under macOS. So maybe not an enhancement, but a bug, possibly introduced with #54

[2020-01-08 19:21] rfranke commented on #5591
Here is a workaround: configure the physical resolution of the monitor as well as RT's pseudo HiDPI mode and start it with:
[code]
Just the quick info appears a bit small. All other programs are becoming really small on that monitor, see e.g. the terminal windows at the bottom. Also mouse movements are getting a bit slow.

![Screenshot 2020-01-08 at 20 12 17](https://user-images.githubusercontent.

[2020-01-08 19:22] Thanatomanic commented on #5597
Unless someone else experiences this, will close it for now.

[2020-01-08 19:22] #5597 closed, assigned to nobody

[2020-01-08 21:42] TechXavAL opened #5600 "Tone Mapping settings unavailable in RT 5.7 commit c6f021dcc"
I've found an odd behavior while testing a pp3 from another RT user.

This is the About from my RT:

[code]

My OS is Linux Mint Cinnamon 19.3

The problematic files are:
- raw file: [Neuschwanstein WB challenge](https://discuss.pixls.us/uploads/short-url/7aB7CmMGM6616ceVUzjRJiPoLVS.dng)
- [my pp3](https://discuss.pixls.us/uploads/short-url/4U3ugYHBsFKUSdnKCXt3me3flDM.pp3)
- [the pp3 I'm trying to

[2020-01-09 10:57] Llerr opened #5601 "Crash on start"
First start rawtherappe on linux ubuntu 18.04 [Thread debugging using libthread_db enabled]

`[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `rawtherapee'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007fa7520e0809 in g_slice_alloc () from /usr/lib/x86_64-linux-gnu/libglib-2.0.so

[2020-01-09 13:29] X-Raym commented on #5106
Having customizable keyboard shortcuts to increase/decrease every parameter (luminosity, contrast etc...) would be the simplest way to implement that.

https://github.com/Beep6581/RawTherapee/issues/1472

It would then be on the user side to install a configure a MIDI to keyboard bridge (which can be done quite quickly).

[2020-01-09 21:15] michaelezra commented on #5453
This is a great feature. I compared this to Topaz Sharpen AI (using the 'Sharpen' method - no defocusing or motion blur correction) by sharpening the before images from the screenshots above and RT's result is absolutely solid - basically the same and in some areas more detailed!

[2020-01-10 00:45] Queatz commented on #3229
I'm running into this with the GFX100.  Build: 20190910_1736 - is the solution to shoot uncompressed?

[2020-01-10 00:46] Queatz commented on #5574
+1 following this issue

[2020-01-10 06:19] rfranke commented on #5601
Running RT under Ubuntu 18.04 as well and cannot confirm the crash. Particularly as your crash happens during `RTImage::createPixbufFromFile`, did you try:
      http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup
to find a faulty file?
If you don't have a debugger at hand, you might simply add `printf` statements to that function to see the `fileName` or image width.

[2020-01-10 11:40] Llerr commented on #5601
crush on first run, all next runs is good

[2020-01-10 11:41] ilia3101 opened #5602 "Question about White Balance method."
What method does rawtherapee use for white balancing images? Is it raw channel gain or does it use the something like a bradford transform?

[2020-01-10 12:13] Thanatomanic commented on #5602
Please see: http://rawpedia.rawtherapee.com/White_Balance
The starting point for the calculation is here: https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improccoordinator.cc#L1136

[2020-01-10 12:13] #5602 closed, assigned to nobody

[2020-01-10 12:16] maboleth opened #5603 "Please change rating (1-5) shortcuts"
It would be far more practical if ratings would use [1-5] keys and 1-5 filter would use [shift+number]. Basically the other way around than currently is.

Why? Because you only have to filter once in a while while assigning 1-5 stars is a job done every time there's a new image. Pressing shift and numbers is awkward and not that fast.

[2020-01-10 12:33] ilia3101 commented on #5602
Thanks!

[2020-01-10 13:38] Thanatomanic commented on #5603
I hardly use ratings at all, but I agree that this would be more logical.

[2020-01-10 15:13] maboleth commented on #5603
Glad you agree. I use ratings all the time to separate _ho-hum_ and _nailed it_ images. _Junk_ is already built nicely into RT, very intuitive. :-)

[2020-01-10 19:42] maboleth commented on #5555
I agree with this. I use Microcontrast as well. I think that module is specific to certain images and occasions, but gets the job done when needed. I would vote against, NOT to remove it (please don't :-) ).

On the other hand I think it would be safe to remove super slow demosaicers. So +1 from me on that.

P.S. I'm generally against of removal of any existing features, except when they are depre

[2020-01-10 21:42] arturoisilvia opened #5604 "crash in Tab: transform"
Hi,
Found a crash:

Tab: transform
Module Lens/Geometry
	Method: Logarithmic
	Chromatic Aberration Correction: move some slider
crash.

Regards,

-----------------------
Version: 5.7-1752-g7b7c161d3
Branch: newlocallab
Commit: 7b7c161d3
Commit date: 2020-01-08
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build ty

[2020-01-10 21:47] heckflosse commented on #5555
@maboleth

I also used it a lot before I introduced Capture Sharpening. Then I stopped using it, because its effect was much reduced when using Capture Sharpening. After the recent comments in this issue I started to use it again and I agree it should not be removed.

Though I still think we could remove some of the slowish/never used bayer demosaicers or at least provide a gui where these are not

[2020-01-10 21:51] heckflosse commented on #5604
Can you reproduce the crash in `dev` ?

[2020-01-10 22:04] arturoisilvia commented on #5604
I just installed and tested it: It also crashes

-----
Version: 5.7-396-g09b1a5fad
Branch: dev
Commit: 09b1a5fad
Commit date: 2020-01-10
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-

[2020-01-10 22:06] heckflosse commented on #5604
Can you please provide a raw and a pp3 to reproduce?

[2020-01-10 22:07] heckflosse commented on #5604
Scratch my last comment. I could reproduce it.

[2020-01-10 23:02] heckflosse commented on #5604
@arturoisilvia I will fix this at the weekend...

[2020-01-10 23:08] arturoisilvia commented on #5604
Ok.

[2020-01-10 23:21] maboleth commented on #5555
Oh well, I didn't even see that, I'm using regular 5.7 ver. So I cannot compare those two.
Any approx. date when will 6.0 come out?

I agree.

[2020-01-11 01:01] Lawrence37 commented on #5600
How interesting! I did not know Wavelet Levels and Tone Mapping interact with each other. If Residual Image Compression strength is not 0 (Wavelet Levels and Residual Image must be on, of course), Tone Mapping Strength and Gamma are not used. The intended behavior is that Compression strength controls the availability of the Tone Mapping adjusters. That said, I see several problems with the Tone M

[2020-01-11 07:30] Desmis commented on #5600
I just push a change in dev 2ff619e for this bad behavior with the slider "gamma" in "Tone-mapping"

1) it is "normal" when you enable "wavelet levels" / "Residual image" / "compression method" = "tone mapping" that "strength and gamma are desabled" to avoid big artefacts
2) but it was not "normal" when you disabled "wavelet" that "gamma" does not reappear

Thank's

Jacques

[2020-01-11 10:22] #5604 closed, assigned to nobody

[2020-01-11 13:32] TechXavAL commented on #5600
Wow! I didn't expect the problem was going to be so intricate. Thanks @Lawrence37 for such much more detailed testing than mine!

But @Jacques, strength and gamma are disabled with "compression method=contrast" in my pp3.

Anyway, after writing the most up-to-date wavelet levels documentation, it has caught me by surprise that the "compression method" slider does turn off another tool (or some of

[2020-01-11 15:24] Desmis commented on #5600
@TechXavAL
Ok, It was also a bad behavior with "compress method = contrast"

I will post soon a commit to fix

Btw : this "bug" is here since many many time....about 5 years...

Jacques

[2020-01-11 15:54] Redsandro opened #5605 ""Show trash contents" not working properly"
Somehow, after triaging an entire collection of photos, the "show trash contents" only shows _some_ trashed contents. After removing them from disk, there are still a lot of files marked as trash, not showing up in the filtered view.

In the top file browser, when untrashing a leftover picture by clicking on the trash icon, it _stays trashed_ and then shows up as trash in the filtered view. This l

[2020-01-11 16:26] TechXavAL commented on #5600
@Desmis

Ok. I'm not saying this is a bug (you're currently fixing the bug part), but I don't recall it being documented anywhere, and although it's taken me a while to find this behavior, I guess there would be people that will usually make use of both tools at the same time, so it must be documented.

I will update the Rawpedia documentation, but it would be nice to know if there's anything more

[2020-01-11 16:44] Desmis commented on #5600
As we say in french "mon brave monsieur c'est un problème connu"

Or how to do documentation when there is almost no feedback.
The point you raise is only one among many, and this concerns almost all so-called complex modules

a) Ciecam, b) Retinex, c) wavelet, d) tone mapping (the code is complex - and also difficult to use in some cases),e) local adjustements.  All modules - at least : a) b) c)

[2020-01-11 17:56] TechXavAL commented on #5600
Ok. Thanks for the clarification.

However, I think we're going more and more out of topic. This discussion should take place in another place.

Please, let us know when the remaining bug is solved.

Regards

[2020-01-11 18:22] Desmis commented on #5600
The "bug" is fixed since commit d8564cb

But I think we are not off topic, but completely inside !

If some people 5 years  ago read my documentation he would find the bug ?

If 5 years ago,  I would have perfected "Wavelet tone mapping" I would never have used "tone mapping" (from Ben S), and no bug...

Regards

Jacques

[2020-01-11 20:14] rhaamo opened #5606 "No "Film Negative" tool available with VueScan DNG"
Using RT 5.7 on mac os.

<details>
<summary>version details</summary>

[code]
</details>

I've scanned a roll with VueScan (RAW DNG, 48bit RGB) but the "Film Negative" tool isn't listed under the RAW tab.

Is it due to my DNG not handled properly, or something else ?
I can upload a sample DNG if wanted.

[2020-01-11 20:35] TechXavAL commented on #5600
Correct me if I'm wrong, please:

-  the unintended behavior is what I call a bug: some sliders were not available again in Tone Mapping when turning off the Wavelet Levels tool.
- the intended behavior is what I call a not documented behavior: when using the compression strength threshold in the Wavelets Levels tool, then some sliders in Tone Mapping were forced to not be available. As I have und

[2020-01-11 20:41] Redsandro commented on #5605
I believe this is what happens.

When marking an image as trash, two things get updated:

1. The state of the thumbnail at the top (with all the labels, `trash` state is set to `true`)
    * This state is synced to the pp3 sidecar file (`InTrash` boolean)
2. Some internal list of trashed images, which gets shown when filtering for trash (Ctrl + T)

When hibernating your computer, waking your compu

[2020-01-11 20:42] heckflosse commented on #5606
Currently, `Film negative` only works on real (not demosaiced) files. @rom9 is working on it afaik

[2020-01-11 22:57] rom9 commented on #5606
Yep, i'm working on it, a PR is in the oven ;-)
In the meantime, you can check out an incomplete but (somewhat) working version from my repo. See [this discussion](https://discuss.pixls.us/t/rawtherapee-how-do-i-enable-the-film-negative-tool-please/14815/42?u=rom9) for the link and build instructions.
At the moment, this version doesn't support demosaiced DNG files, so you'll have to save them as

[2020-01-11 23:10] Lawrence37 commented on #5600
@Desmis
I tested the latest commit. The gamma adjuster is now properly enabled when wavelets is turned off. However, there are still problems from the user's perspective.
- With Compression strength != 0, Wavelet Levels on, and Residual Image off, Tone Mapping has no effect. I expect Tone Mapping to be applied because wavelet compression is off.
- With Compression strength != 0, Compression method

[2020-01-12 06:09] Desmis commented on #5600
@TechXavAL       @Lawrence37
The easiest way is to remove this warning about the interaction between Tone-mapping (from Ben S) and Wavelet residual (same Tone Mapping Ben S) and therefore leave the user free to use both at the same time.
In this case, be aware that the following settings (from TM main) will be used in wavelet (compression tone mapping)
* edge stopping
* scale
* reweit Iterates

Bu

[2020-01-12 07:11] Desmis commented on #5600
Now it's fixed commit 01fbc2e
You can now use wavelet and tone-mapping together or separately (with the 3 sliders above shared)

I don't think there is other intercation with wavelet (??)

But there are many with tone-mapping when you use Ciecam  - 5 years ago there have been many discussions about the ciecam TM intercation... but never with wavelet

I will work on "wavelet TM " for "main" when
*

[2020-01-12 15:13] rfranke commented on #5599
I followed up the issue and found how it is treated by Gtk scrollbars: https://gitlab.gnome.org/GNOME/gtk/blob/gtk-3-24/gtk/gtkrange.c#L3080

PR #5607 provides the fix for RT.

[2020-01-13 12:56] #5566 closed, assigned to Beep6581

[2020-01-13 12:59] Beep6581 commented on #5568
As I am one of those, I will allow myself to an opinion. I would absolutely support this feature regardless if it broke my old PP3s, because correcting perspective manually when I photograph paintings is a very boring and repetitive task which leads to imperfect results, so despite my manual efforts the perspective in my fine-tuned PP3s is still a bit wonky.

I would like the software to detect st

[2020-01-13 13:07] Beep6581 commented on #5575
RawTherapee is far more flexible today than it was back when the "Save reference image for profiling" button was implemented. Is that button even still necessary? To be checked whether the same can be accomplished using the traditional saving method.

[2020-01-13 13:10] #4889 closed, assigned to nobody

[2020-01-13 13:10] Beep6581 commented on #5580
Hi @Entropy512 , could you re-upload the files and ping me?

[2020-01-13 13:13] Beep6581 commented on #5572
@MeaningfulName-69 ISO200 hand-held for daylight should be fine, but StdA shots must use a tripod. The files have expired - ping me if you re-upload them.

[2020-01-13 13:25] Beep6581 commented on #5540
To be tested whether this can still be reproduced in @Desmis 's white balance branches.

[2020-01-13 13:28] Beep6581 commented on #5586
Sabayon using gtk+-3.24.11 and KDE-5.17.4.
![screenshot_20200113_142803](https://user-images.githubusercontent.com/5844619/72259507-eeae5300-3610-11ea-8f70-62ce8ed91a7c.png)

[2020-01-13 14:34] TechXavAL commented on #5600
It's working fine on my computer.

There are 3 scenarios:

- Compression Method is set to Contrast: the Tone Mapping tool works without limitations
- Compression Method is set to Tone Mapping and Compression Strength = 0: the Tone Mapping tool works without limitations
- Compression Method is set to Tone Mapping and Compression Strength is set to any other value than 0: the Tone Mapping tool has t

[2020-01-13 16:09] blitzgneisserin opened #5608 "Noise reduction preview differs from exported file"
Apparently there is more noise in the 100% preview than in the exported file. I have tested this with several photos, in certain photos it is very pronounced. In other photos it is barely visible.

To reproduce:

1. Open a raw with a lot of noise.
2. Apply noise reduction. Set Gamma to a low value, e.g. 1 or 1.2, set luma noise reduction to a moderately high value, e.g. 25-50, set recover details

[2020-01-13 16:51] Lawrence37 commented on #5600
Tone Mapping Strength and Gamma are always available.

[2020-01-13 17:03] Thanatomanic commented on #5608
I can confirm. First, RT 200% view of my edit (Neutral + Exposure + some NR)

![image](https://user-images.githubusercontent.com/6567747/72275815-f41a9600-362e-11ea-9cc1-a0d29d985385.png)

Then the export, enlarged to 200%, same area:
![image](https://user-images.githubusercontent.com/6567747/72275830-0399df00-362f-11ea-9fbc-f2f99156a7fe.png)

[2020-01-13 17:08] Desmis commented on #5600
@Lawrence37  @TechXavAL

As I said, there is now "no protection", it is up to the user to manage the possible mixture, between "Tone mapping main"  and "Tone mapping in residual wavelet"

But If you want, it will be a work to do :)

jacques

[2020-01-13 17:14] Thanatomanic commented on #5608
In addition: even without touching the gamma slider, there is a noticeable difference in the 100% preview and the export. For good measure I exported to png to avoid jpeg artifacts.

Possibly related: #4773

[2020-01-13 17:32] heckflosse commented on #5608
Does it also happen when luma noise reduction is set to zero?

[2020-01-13 18:11] Thanatomanic commented on #5608
No, I don't think so. The output seems identical with the preview in that case.