[2017-11-16 11:02] #4069 closed, assigned to nobody

[2017-11-16 11:04] Beep6581 commented on #4041
@midluk we can re-open this issue when you post the patch.

[2017-11-16 11:04] #4041 closed, assigned to nobody

[2017-11-16 11:05] Beep6581 commented on #4038
Lack of followups, not confirmed by anyone else in latest `dev`, likely a Gtk+ thing if a thing at all. Closing.

[2017-11-16 11:05] #4038 closed, assigned to nobody

[2017-11-16 11:05] #4018 closed, assigned to nobody

[2017-11-16 11:18] Beep6581 commented on #4004
The raw data between different crop sized raws looks identical in RawDigger.

[2017-11-16 11:18] #4004 closed, assigned to nobody

[2017-11-16 11:22] Beep6581 commented on #3982
Status?

[2017-11-16 11:23] Beep6581 commented on #3970
Status?

[2017-11-16 11:24] Beep6581 commented on #3967
Closing as the problem lies upstream.

[2017-11-16 11:24] #3967 closed, assigned to nobody

[2017-11-16 11:27] #3964 closed, assigned to nobody

[2017-11-16 11:31] Beep6581 commented on #3964
P.S. Looks like the missing info problem in `AboutThisBuild.txt` was solved, based on this:
https://launchpad.net/~dhor/+archive/ubuntu/myway/+packages?field.name_filter=rawtherapee&field.status_filter=published&field.series_filter=

[2017-11-16 11:34] #3939 closed, assigned to nobody

[2017-11-16 11:34] #3938 closed, assigned to nobody

[2017-11-16 11:35] Beep6581 commented on #3933
Status?

[2017-11-16 11:38] #4080 closed, assigned to nobody

[2017-11-16 11:43] #4171 closed, assigned to nobody

[2017-11-16 11:44] Desmis commented on #3982
I think we can close.
Now when I want to display information in console ==> ./rawtherapee w

Jacques

[2017-11-16 11:46] Beep6581 commented on #4057
No response from OP ("mid"), closing.

[2017-11-16 11:46] #4057 closed, assigned to nobody

[2017-11-16 11:47] #4162 closed, assigned to nobody

[2017-11-16 11:57] Beep6581 commented on #3956
The strange delays are gone in latest `dev` 652044e8.

Did you know that you can click and hold the `<` and `>` buttons? Try it, very strange things happen.

Adding "enhancement" label for being able to scroll the tabs, but keeping the "bug" label because of the strange things that happen when you click and hold `<` with several tabs open.

[2017-11-16 11:59] #3982 closed, assigned to nobody

[2017-11-16 12:02] Beep6581 commented on #3838
@ff2000 using USM Sharpening's Threshold selector as an example, I can click-and-drag near the left end to move both the top and bottom left nodes, and near the right end to move both the top and bottom right nodes.

Use Shift to move a single node.

Do you still have an issue using at least 5.3 though preferably the latest `dev`, and using no less than GTK+ 3.22.0?

[2017-11-16 12:03] agriggio commented on #4137
I'll take a look

[2017-11-16 12:06] agriggio commented on #4104
ok, but unlikely to happen anytime soon...

[2017-11-16 12:12] falket commented on #4169
I think it could be "easier" with a full frame camera with a really fast lens. By they way, just a probably wrong idea, could be feasible to darken the center, instead of lighting up the corners?

[2017-11-16 12:19] Beep6581 commented on #4104
@agriggio by assigning you I didn't mean to imply that you should do this nor that I even think doing this is a good idea, I only did that because this is nearest to your area of interest and indeed you already expressed interest. Up to you whether to keep this or close it.

[2017-11-16 12:24] agriggio commented on #4104
it would be nice to have, but there are a lot of things that are way more interesting/useful...

[2017-11-16 12:32] heckflosse commented on #4072
Moving the CIECAM02 > Lightness slider updates the preview after the delay without letting go of the slider.
Win7, latest gtk3

[2017-11-16 13:11] epadepa commented on #4129
Not an expert but I've tried to follow the above discussions and would like to add that it has been mentioned above but imho overlooked that cameras can save DNG's and embed WB data (as well as colour matrices). I certainly value being able to match the in camera WB in my raw developer. The manufacturer settings may be great or of poor quality but hardcoding a choice when multiple valid options ar

[2017-11-16 15:10] Safari77 opened #4183 "segfaults in BatchQueue::saveBatchQueue if many files in queue"
if I add file to queue while rawtherepee is still processing previous file(s), it segfaults in BatchQueue::saveBatchQueue.
partial .png file is left at converted/ directory and profile files are not saved for these files being processed.

I have rawtherapee 5.3 on Fedora 26 (compiled myself), gcc version 7.2.1 20170915 (Red Hat 7.2.1-2) (GCC)
gtk 3.22.26, glib2 2.52.3

[code]

[2017-11-16 16:59] agriggio commented on #4182
@gaaned92 should be fixed now

[2017-11-16 17:07] agriggio commented on #4129
Hi @epadepa, I'm also not an expert, but here are my 2 cents:

The point is that the manufacturer settings are not necessarily useful for 3rd party raw converters. As @Desmis wrote, operations like converting from the camera input space to a working color space, or calculating WB, are not "exact" operations, and very much depend on the algorithms used by each raw processor (again, this is my under

[2017-11-16 18:23] groberts619 commented on #4091
Close it @Benitoite... and thanks :)

[2017-11-16 18:35] groberts619 commented on #4091
Sorry @Beep6581, I just realized the question wasn't directed towards me. I no longer have an issue on my end and would be okay with this being closed.

[2017-11-16 20:22] gaaned92 commented on #4182
@agriggio ok

[2017-11-16 22:14] Benitoite commented on #4091
@Beep6581 The build instructions on rawpedia are generally correct but do not address how to build for previous versions of MacOS, like 10.9.  Of course building for 10.9 on a 10.9 system there is no change, but when you need to build against previous systems in order to produce a distributable bundle there are other things that you need to do. The SDK for the target minimum OS version must be ins

[2017-11-17 06:09] atorger commented on #4150
I'm a bit rusty on all this. Camconst.json contains D65 dcraw matrices right? So if you want to replace there it should be with a D65 matrix.

If you render a single illuminant DCP my opinion is that D50 is the most all-around, partly as that is the reference illuminant in the color pipeline, but the difference to D65 is quite small.

For dual illuminant StdA + D65 is a good pair, Adobe (almost) a

[2017-11-17 07:47] Floessie commented on #4183
@Safari77 Sami, could you take a look at the procedures on how to obtain a full backtrace in [Rawpedia](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces)? Especially `thread apply all bt full` would be very useful in this case.

Thanks,
Flössie

[2017-11-17 08:11] Floessie commented on #4183
@Hombre57 I checked the locking scheme of `ThumbBrowserBase::entryRW` and there are some rough edges:
- `FileBrowser::delEntry()`: Releases the lock then writes to `selected`.
- `ThumbBrowserBase::arrangeFiles()`: Acquires a reader lock but writes to `fd` members.
- `ThumbBrowserBase::getEntries()`: This should be replaced by a `forEachEntry(const std::function<...>&)` and a `getEntryCount() const

[2017-11-17 08:17] Safari77 opened #4184 "AddressSanitizer: new-delete-type-mismatch"
rawtherapee 5.3.
Would be good if these were fixed...?

[code]

[2017-11-17 08:56] Safari77 opened #4185 "AddressSanitizer: stack-use-after-scope rtengine::ImProcFunctions::transformGeneral"
rawtherapee 5.3 does not start with ```ASAN_OPTIONS=new_delete_type_mismatch=0```

does ASAN support GOMP? Because with OMP disabled I don't get this warning.

[code]

[2017-11-17 08:57] Safari77 commented on #4183
Easier to catch this if you select output format png, max compression, then  have auto-start in batch editor, and add new file to queue with ctrl-b while rawtherapee is writing png file.

[code]

[2017-11-17 09:11] Beep6581 commented on #4091
Thanks for clarifying that @Benitoite . Ping @aferrero2707 you might find this info useful when working on the automated build system.

[2017-11-17 09:11] #4091 closed, assigned to nobody

[2017-11-17 10:00] Floessie commented on #4183
@Safari77 Sami, could you try this patch?

[code]

Best,
Flössie

[2017-11-17 10:25] Safari77 commented on #4185
Also the following happens with OMP+ASAN.

[code]

[2017-11-17 10:36] Beep6581 opened #4186 "Show splash screen while loading"
Every time I update our splash screen I wonder why we don't use it as a splash screen...

https://discuss.pixls.us/t/rawtherapee-5-3-released/5226/169?u=morgan_hardwood

Would be cool if RT showed the splash screen (no window, just the image) as the first thing it does when you launch it, and automatically closed it once main loads.

[2017-11-17 10:40] Safari77 commented on #4183
Tested with Debug build ```-fsanitize=address``` (OMP disabled), and Release build with OMP enabled + ```-fstack-protector-strong -D_FORTIFY_SOURCE=2``` , no problems with batch queue now!
👍

[2017-11-17 10:43] Floessie commented on #4183
Fine, I'll commit to `dev` tonight.

Thanks for finding and testing! 👍

[2017-11-17 10:46] agriggio commented on #4186
:+1: *only if* you can turn this off in preferences :-)

[2017-11-17 12:37] okoncevoy commented on #4066
Hey. I have forked repository and would like to solve that issue, this could be great starting point in helping RT.

[2017-11-17 13:17] okoncevoy commented on #4066
And how should this switching looks like? A small icon near clipping icons?

[2017-11-17 13:46] Beep6581 commented on #4066
Initially I wanted it to be alongside the [main histogram](http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Main_Histogram), but because it does more than it says #4067 I think the best place would be in the top toolbar, maybe next to the "Before/After view" button.
Either somewhere round here
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/editorpanel.cc#L597
or here
https://github.com

[2017-11-17 13:55] okoncevoy commented on #4066
Thank you for the detailed answer. Definitely I  will contact @Hombre57

[2017-11-17 14:45] TooWaBoo commented on #4148
New update:
[code]

[2017-11-17 15:07] TooWaBoo opened #4187 "Bug in hdr_tonemap_fattal_nocache"
If HDR tone mapping is enbled the image is cut off in 100% view
[code]

[2017-11-17 15:44] #4183 closed, assigned to Floessie

[2017-11-17 16:25] Desmis commented on #4148
@TooWaBoo

Thank you :)

[2017-11-17 16:46] agriggio commented on #4187
@TooWaBoo please try again now, I made several tweaks to this branch today

[2017-11-17 16:51] agriggio commented on #4182
Hi, I made various tweaks to the `hdr_tonemap_fattal_nocache` branch. I'd appreciate some feedback, especially regarding performance of detail windows (and bugs of course). You will still see that with fattal enabled detail windows get noticeably slower, but I think the situation has improved and it is now reasonably usable...

[2017-11-17 17:49] RawConvert opened #4188 "Blue gamma correction doesn't work on B&W conversion"
When converting to black and white, the blue slider has no effect.
To reproduce: any raw file (I think); colour tools; Black-and-White; Method=Channel Mixer.
Note the red and green gamma sliders make an obvious difference, whereas the blue one makes no difference.  It is a dead parameter.  It is bereft of life.  It has ceased to be.  Etc.
I think it's been like this for some time.
RT 5.2, dev, GTK

[2017-11-17 18:30] TooWaBoo commented on #4187
It's fixed, closing issue

[2017-11-17 18:34] TooWaBoo commented on #4187
It's not fixed, now it looks like this:
![unbenannt](https://user-images.githubusercontent.com/13800920/32962849-42fd3eda-cbce-11e7-8b50-2936931b5343.PNG)

[2017-11-17 18:39] TooWaBoo commented on #4187
This only happens if Lensfun or a LCP file is used

[2017-11-17 18:55] Beep6581 commented on #4188
@RawConvert the change should be visible if you change the working space to sRGB.

@heckflosse made a patch for the R G B curves so that the blue curve would have a visible effect in ProPhoto space. Maybe it could be done for the B&W tool as well? Curve + gamma sliders, as needed (I don't have RT in front of me at the moment).

[2017-11-17 19:17] Beep6581 commented on #4188
Confirmed that blue gamma correction makes a visible difference in sRGB working space, and probably works fine in ProPhoto too, its just that ProPhoto is too big to see a difference.

[2017-11-17 19:20] agriggio commented on #4187
ok thanks!

[2017-11-17 20:33] agriggio commented on #4182
one more update: I've introduced a common cache for Fattal results, used only by 1:1 detailed crops, and only when denoise is turned off. This is now as fast as I can get it without massive changes to the code, so I'm happy about it. Of course:

1. it might still be buggy (you have been warned :-)

2. if you have better solutions, they are welcome!

[2017-11-17 20:44] TooWaBoo commented on #4187
Ok, now it's fixed. Thanks
closing

[2017-11-17 20:44] #4187 closed, assigned to nobody

[2017-11-17 22:39] agriggio commented on #4137
fixed in 4d81812d137213a6b71bed64aa5aa57601960246

[2017-11-17 22:39] #4137 closed, assigned to nobody

[2017-11-17 22:54] agriggio commented on #4159
Fixed in d527e7ead2d649288cef0fea23c53df107a048c5

[2017-11-17 22:54] #4159 closed, assigned to nobody

[2017-11-17 23:26] agriggio commented on #4129
So, this is the smallest patch that does the job:

[code]

I will test it a bit more and eventually commit in a few days (unless
I get objections in the meantime)

[2017-11-18 01:11] Hombre57 commented on #4066
@Beep6581 I'm afraid that my try of creating a Gtk::Container to handle this flowing toolbar will remain unfruitful. Feel free to resume your work and commit if it's working fine.

[2017-11-18 01:15] Hombre57 commented on #4182
@agriggio It's a nice improvement and since you'll be the one that will rework the pipeline(s), I'll let you take over on this.

[2017-11-18 02:09] Beep6581 commented on #4182
I tested e384edba for a good 20 minutes, with detail windows, noise reduction and a lot of other stuff, no crash and it works amazing! Well done everyone involved!

[2017-11-18 09:50] olhof commented on #4104
It is an interesting technique to use several  partial profiles. But how do I create a partial profile only containing say sharpening settings? “Processing Profile Selector” in Rawpedia doesn’t explain this.

And where do I find a list of the default positions?

[2017-11-18 10:41] heckflosse commented on #4104
@olhof It is explained [here](http://rawpedia.rawtherapee.com/Creating_processing_profiles_for_general_use)

[2017-11-18 11:14] heckflosse commented on #4182
@agriggio Tested, works fine, no crashes 👍

[2017-11-18 11:56] #4045 closed, assigned to Beep6581, heckflosse

[2017-11-18 13:18] agriggio commented on #4182
thanks! I'll merge later today then

[2017-11-18 14:14] heckflosse commented on #4182
@agriggio Alberto, can you please astyle tmo_fattal02.cc before merging?

[2017-11-18 14:15] agriggio commented on #4182
Even though it's not our (original) code?

[2017-11-18 14:44] heckflosse commented on #4182
Ok, most of the code already is in a quite readable format, but `void tmo_fattal02()` has partly wrong indentation (2 spaces instead of 4). Even in original code the indentation is 4 spaces ;-)

[2017-11-18 15:12] Beep6581 commented on #4035
Re https://github.com/Beep6581/RawTherapee/issues/4066#issuecomment-345406005

@Hombre57 what was the problem? The patch worked, it was just an issue with grouping the elements in a way which results in a good-looking interface. Is there some other problem with it?

[2017-11-18 18:56] Desmis commented on #4188
This "bug" is a non bug :)
it must be the third time I comment on this topic with always the same answer, which is in Rawpedia

_"One can change the rendering of the tones for each channel (R, G, B) using the gamma sliders. This command roughly simulates the rendering of the paper under the enlarger (hard, normal, soft). Pushing the sliders to the left (negative values) darkens the image and gives

[2017-11-18 22:53] #4188 closed, assigned to nobody

[2017-11-19 11:33] Beep6581 commented on #3558
`5.3-208-g`5d45cc13

[2017-11-19 16:49] #4168 closed, assigned to Beep6581, agriggio, heckflosse, Hombre57

[2017-11-19 16:49] #4182 closed, assigned to agriggio, heckflosse, Hombre57

[2017-11-19 16:53] agriggio commented on #4129
closed in 6acf170744540501be1d29e76986605aa89b0152

[2017-11-19 16:53] #4129 closed, assigned to nobody

[2017-11-19 17:05] agriggio commented on #4150
@atorger so if I understand correctly what you are saying, there's no hurry to change our matrices in camconst to match those in the DCP, right? In that case, I think we can close this for now...

[2017-11-19 19:57] snibgo opened #4190 "Save as floating-point TIFF"
Although RT works in floating-point, it can't save to TIFF as floating-point. Are there plans to add this? It would seem a simple addition (though I could be wrong).

I'm not so concerned by the greater precision from floating-point (though that would be nice), but with out-of-gamut results. Then I could do my own processing after RT to deal with OOG, with Gimp or ImageMagick or my own software.

[2017-11-19 20:16] snibgo commented on #2357
Oops, I've just raised an issue https://github.com/Beep6581/RawTherapee/issues/4190, asking for save-as-floating-point, not realising it's already an issue. Sorry.

[2017-11-19 20:42] brunorc opened #4191 "5.3 crash on macOS 10.9 when queueing files in folders with diacritics"
As far as I was able to test, the steps to reproduce it are the following:

1) Create a directory with a diacritic signs in the name, e.g. "Zażółć gęślą jaźń" and put there some RAW files (doesn't really matter, the files themselves are "healthy", after renaming the directory everything works OK).
2) Open the directory in the browser; select any file and and add it to queue. You will notice, that

[2017-11-19 21:18] heckflosse commented on #4191
@brunorc I edited your post for better readability. I hope you don't mind.
Iirc the issue you reported is already fixed in current code.

[2017-11-19 21:24] Hombre57 commented on #4066
@lvreclp @Beep6581 Given issue #4067, the best place for this icon should be next to the HL/Shadows clipping indicator icons, separated by a vertical separator.

[2017-11-19 21:26] brunorc commented on #4191
@heckflosse I don't mind at all, and sorry for pasting the report in the messy mode.

I'm not proficient in compiling GTK stuff on Mac OS X, but if there's any nightly build or something, I would love to give it a try. Thanks for a quick reaction and the info about the potential fix.

[2017-11-19 21:36] heckflosse commented on #4191
@brunorc Oh, maybe we fixed it only for Windows (on Linux it was not reproducible), but still valid for Mac?

For reference: #3387

[2017-11-19 22:26] Hombre57 commented on #4183
@Floessie I'm late for replying on [your comment](https://github.com/Beep6581/RawTherapee/issues/4183#issuecomment-345174245), but if you find some odd things, don't hesitate to fix them. I don't _see_ as much things as you does ;).

[2017-11-19 23:13] agriggio commented on #2357
Hi, I just pushed an *experimental* branch `tiff32float` that allows to save in 32-bit floating-point format.
Please note that I had to change quite a few things, so I might have broken something -- it needs to be tested extensively!

[2017-11-20 07:24] Floessie commented on #4191
@heckflosse Hm, that rings a different bell with me: #4091. Better ping @Benitoite, although it might already be fixed, just as you said.

[2017-11-20 08:07] Benitoite commented on #4191
@brunorc  https://filebin.net/m0ol4i4hhlzlm1gm/RawTherapee_OSX_10.9_64_5.3-212-gf2ffa691.zip
Here is the latest mac build from yesterday, includes the recent the AppleLocale fix: https://github.com/Beep6581/RawTherapee/pull/4130

[2017-11-20 08:58] brunorc commented on #4191
@Benitoite Thanks a lot, I will give it a try in few hours, once I'm at my home computer.

[2017-11-20 10:52] Beep6581 commented on #4190
Duplicate of #2357

[2017-11-20 10:52] #4190 closed, assigned to nobody

[2017-11-20 15:24] Beep6581 commented on #4066
@lvreclp I can help you with the icon for the toggle button, will look into that once there's a patch.

[2017-11-20 16:21] brunorc commented on #4191
OK, I downloaded it and gave it a try. Now the behavior is different: in a File browser tab, whenever I try to open a directory with diacritics in the name, the gf2ffa691 version crashes with the following report:

[code]

[2017-11-20 16:49] aferrero2707 commented on #4174
Some updates about this topic... I have produced a new package that incorporates most of the suggestions, namely:

* the rawtherapee.exe executable is compiled in Release mode and with -O3 enabled
* I have used the "5-dev" suffix for the option file
* I have compiled and installed gtk+ 3.22.26 and gtkmm 3.22.2 from sources, as well as the latest Lensfun 0.3.2
* I have include the Adwaita fonts
* h

[2017-11-20 17:22] gaaned92 commented on #4174
@aferrero2707
The exe and also RT data files seem missing.

[2017-11-20 17:31] aferrero2707 commented on #4174
Oooops! My fault, due to the fact that I have no easy way to test the Win packages at the moment... a new build is under way.

[2017-11-20 18:49] Benitoite commented on #4191
Looks like gtk+ is having a hard time computing a size of some sort for some reason.

Looking at the crashed thread:

[code]

What could be causing this as I don't crash on MacOS 10.12.6 or 10.11.6 with nominal results (directory has been renamed to Zażółć gęślą jaźń) :

[code]

Gtk+ is 3.22.26 built `--with-sysroot=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDK

[2017-11-20 18:53] Benitoite commented on #4191
btw @brunorc what does `echo $LANG` in terminal tell you on your system?

[2017-11-20 19:09] Benitoite commented on #4191
@brunorc In fact what does this command tell you in the terminal, also?
`defaults read -g AppleLocale`

[2017-11-20 19:39] brunorc commented on #4191
[code]

[2017-11-20 21:07] aferrero2707 commented on #4174
The updated package, this time with the rawtherapee.exe executable and data files, is [here](https://github.com/aferrero2707/RawTherapee/releases/download/continuous/rawtherapee-w64-20171120_2059-git-dev.zip).

EDIT: I did a quick test with wine, and the lensfun corrections seems to be available and applied properly. However, there might be still problems with some icons...

[2017-11-20 23:45] Benitoite commented on #4191
I'm going to see if I can build the gtk-3-22 branch as it has a few bug fixes since 3.22.26 was tagged.

[2017-11-21 01:26] Benitoite commented on #4191
See if this makes any difference, `gtk-3-22` branch build:
https://filebin.net/y3hsgflx8lcfgn6n/Rawtherapee_OSX_10.9_64_5.3-212-gf2ffa691-gtktest1.zip

[2017-11-21 07:45] okoncevoy commented on #4066
@Beep6581 Do you have any guide lines to coding style? So I am putting this icon next to SH/HL clipping toggles?

[2017-11-21 07:55] brunorc commented on #4191
@Benitoite it does make a big difference - it works as expected! As I'm writing those words, RawTherapee is processing the queue with the photos from a directory with diacritics in its name. Thanks a lot, this solves my issue!

[2017-11-21 08:38] Benitoite commented on #4191
Thanks for the testing!

[2017-11-21 08:48] Floessie commented on #4066
@lvreclp

No, we don't. Just adapt to the code surrounding your code and stick to the [OTBS](https://en.wikipedia.org/wiki/Indentation_style#Variant:_1TBS_.28OTBS.29).

Best,
Flössie

[2017-11-21 09:51] Beep6581 commented on #4066
Yes, it will fit there well.

[2017-11-21 10:40] Floessie commented on #3715
@Beep6581 @heckflosse @Hombre57 @Desmis @agriggio As a first improvement, I'd like to propose to pick up our consent from #4010 that `pad-first-paren-out` was a bad idea and give `unpad-paren` a try, as mentioned [here](https://github.com/Beep6581/RawTherapee/pull/4009/files/88d0512b4a6241416ed039ac9df26d6ef6947f1c#r132949360). I must admit, I don't have the guts to dictate a style for all of us,

[2017-11-21 10:50] agriggio commented on #3715
well I'm generally against automatic formatting, and really dislike the results of astyle as configured now in RT. so I'm in favour of any change to it :-)
my ideal solution would be to come up with some mild conventions about names and not be too picky with indentation as long as it is consistent within files.
however, I can also live with the current situation -- imho it makes life harder rather

[2017-11-21 11:04] Beep6581 opened #4193 "Filebrowser tree icons and behavior - UX"
Every now and then we have confused users asking how to open files because RawTherapee's treeview does not work as expected.

1. It does not distinguish between "selected" and "opened".
![imgur-2017_11_21-11 24 04](https://user-images.githubusercontent.com/5844619/33067465-823752ec-ceae-11e7-85e8-dfe5ad5ecefe.png)
Can you tell which folder is open? `p3/s1` is selected, but `p2/s1` is actually open

[2017-11-21 11:40] Beep6581 commented on #3715
My opinion is that your opinion is the right opinion.

Automatically formatting the RT code made most of it more readable, as it was a soup of various styles and indentations before, including simply wrong indentation. IIRC I did that when we switched from Google Code to GitHub. It's not so important to use it now, though it does enforce a certain level of consistency. I would just like the style

[2017-11-21 11:51] Beep6581 commented on #3715
We could run astyle through all files after `procparams-cleanup` is merged.
I think the order should be:
1. Merge `dev` into all non-trivial branches.
2. astyle `dev`
3. Optionally, astyle these branches. This may or may not be necessary.
4. Merge `dev` again into the same branches as above.

[2017-11-21 12:13] Desmis commented on #3715
I approve @Beep6581  because it seems to me a reasonable solution and as I'm messy, my code would be totally unreadable without formatting, but if it is necessary to change formatting tool, no problem :)

[2017-11-21 12:17] Floessie commented on #3715
We don't have to astyle everything again. The question is rather: Is everybody content with the results if we ditch `pad-first-paren-out` and welcome `unpad-paren`? Or is it better to leave out `unpad-paren`?

[2017-11-21 12:34] agriggio commented on #3715
no space after function name is my preference, but space after control-flow structures. e.g.:
[code]
since you asked :-)

[2017-11-21 13:02] okoncevoy commented on #4066
Here is a WIP that I did for now. I have one more question. Do I need to update hist on the fly? So when user toggles button, histogram should be updated according to current profile?
[histogram.txt](https://github.com/Beep6581/RawTherapee/files/1491388/histogram.txt)

[2017-11-21 13:07] Beep6581 commented on #4066
That would certainly be good!

[2017-11-21 13:19] heckflosse commented on #3715
👍 for ditching `pad-first-paren-out` and using `unpad-paren`

[2017-11-21 15:14] okoncevoy commented on #4066
Well, I almost finished with initial implementation. I still can get how to update histogram on the fly. @Beep6581 can I get icon for this feature and where I must put it?
[patch.txt](https://github.com/Beep6581/RawTherapee/files/1491853/patch.txt)

[2017-11-21 15:21] Beep6581 commented on #4066
@lvreclp I will try to get one for you tomorrow. Till then, any ideas for the icon are welcome.

[2017-11-21 16:42] heckflosse opened #4194 "when using SETM thumbs are recomputed when switching between File browser and Editor (Filmstrip) even if SameThumbSize=1 in preferences"
To reproduce enable the
[code]
in improcfun.cc,
enable `Same thumbnail height between the Filmstrip and the File Browser` in preferences and switch between file browser and editor in SETM mode.
There are a lot of `rgbProc took ...` lines, while there should be none

@Hombre57 Do you have an idea?

[2017-11-21 21:03] Hombre57 commented on #4066
@lvreclp I have some comments about your proposed patch, I hope you don't mind some constructive ones :

1. when I said "next to the HL/SH clip butons", I was rather expecting to add then to put it in EditorPanel directly, but this is a detail I was a bit unclear on this
2. you don't need to block the button's connection when reading the state of this button. It is only necessary when changing the

[2017-11-21 21:20] Hombre57 commented on #3715
I prefer having a clear coding style done by astyle or any other "style sanitizer", whatever you prefer (but Eclipse and me prefer not having space between function name and parenthesis).

Please also note that you can disable astyle locally by setting a `// *INDENT-OFF*` and `// *INDENT-ON*` comment (on single line). It's used in `batchtoolpanelcoord.cc` lin 218 to keep code compact.

As to apply

[2017-11-21 21:39] Beep6581 commented on #3715
@Hombre57 my suggestion should prevent merge conflicts. We can put this to the test once `procparams-cleanup` is merged.

[2017-11-21 22:04] gaaned92 commented on #4148
New update
[code]

[2017-11-21 22:13] Hombre57 commented on #4194
@heckflosse Can't reproduce : when set, `ImProcFunctions::rgbProc` (l. 3076) is not called. Where have you placed your printf ?

[2017-11-21 23:03] heckflosse commented on #4194
@Hombre57 Ok, here are even simpler instructions to reproduce:

1) make sure, your options file has this:
[code]
and also use SETM
2) create a folder with just one file, apply neutral profile to that file
3) close rt
4) apply this patch
[code]
and build rt

5) Start rt => one `rgbproc took ...` line, which is correct
6) Switch to the empty SETM editor => one `rgbproc took ...` line, which should n

[2017-11-21 23:31] Hombre57 commented on #4194
One more condition is necessary to reproduce : activate the information below thumbs in the file Browser (doesn't matter for Editor panel). If hidden, it works fine. I have to see if the computation of the thumb size is correct. Looks to be a rounding error IMHO.

[2017-11-21 23:33] heckflosse commented on #4194
@Hombre57 confirmed

[2017-11-22 00:07] Hombre57 commented on #4194
So here you go :)

[ThumbSize-diff.txt](https://github.com/Beep6581/RawTherapee/files/1493442/ThumbSize-diff.txt)

[2017-11-22 00:32] #4194 closed, assigned to nobody

[2017-11-22 07:42] Floessie commented on #3715
So, I changed my `rawtherapee.astyle` and applied it to `procparams.*`. I like the outcome in general, but astyle completely messes brace inits about:

[code]

So, @Beep6581, I wouldn't run astyle through all files, as it will definitly do harm to those places. I'd suggest a more common-sense approach: Whenever we work on a file and see there are indentation or spacing problems, we first run it th

[2017-11-22 08:37] okoncevoy commented on #4066
@Hombre57
Thanks for the review. I will modify changes according to the comments.
* 1- I will move it to EditorPanel. Should it be put in imageAreaPanel or directly in EditorPanel as separate item? For now I can see, that there is several places.
* 2- I have removed those blocks in other implementation. This is a first time for me using GTK at all and for now I am not very comfort in this environm

[2017-11-22 13:40] Beep6581 commented on #3715
Issue confirmed, ticket opened: https://sourceforge.net/p/astyle/bugs/467/

Agreed that exceptions are to be avoided.

Commits and merges which format code should be separate from commits and merges which make code changes.

[2017-11-22 13:43] Beep6581 commented on #4066
@lvreclp good work. One more comment: it would be best if you worked on this in your own branch. That makes following progress and relating comments to specific lines easier.

[2017-11-22 16:54] okoncevoy commented on #4066
@Beep6581 Maybe there is some contribution guide, that describes, what is the workflow for working on issue (forking whole repo, branching)?

[2017-11-22 20:15] Beep6581 commented on #4066
@lvreclp only this: https://github.com/Beep6581/RawTherapee/blob/dev/CONTRIBUTING.md

[2017-11-23 19:49] olhof commented on #4104
Thank you.
I have reread the section “partial processing profiles”.
Since I started using Rawtherapee this year the subject of partial profiles has been somewhat of a mystery to me.
Now I understand the concept of partial profiles as follows.
When you open a new, never edited photo in the editor a full profile is always established. If the profile specified as the default in the “Preferences” is o

[2017-11-23 21:27] heckflosse opened #4195 "better and more reusable implementation of findMaxMinPercentile (currently embedded into tmo_fattal02.cc)"
As @agriggio ported the fattal tmo to rt I made a fast version of `findMaxMinPercentile`.
While making this version I assumed that the input values to this function are in [0;1] range.
Well, they are, but they maybe also in a smaller range (i.e. [0;0.25] for a darker input or anything else in the [0;1] range). If we don't cover the full range to build the histogram, we will loose precision.
For th

[2017-11-24 07:15] Floessie commented on #4195
@heckflosse Great, Ingo! 👍

I'd expect it to be in `rt_math.h` and a new `rt_math.cc`, but YMMV. Maybe start a `rt_algo`?

Some small remarks about the code:

[code]
The `const` right before `data` is generally nice but non-standard for a function signature (at least when `size`, `minPrct`, and `maxPrct` aren't `const` as well, which even I wouldn't do).

[code]
I'd prefer `std::fabs()` here to be

[2017-11-24 09:34] agriggio commented on #4104
@olhof that is all correct :+1:
If you have suggestions for how to improve RawPedia, they are more than welcome!

[2017-11-24 10:16] olhof commented on #4104
Hi' Alberto Griggio
I will try to write a suggestion to improve the RawPedia documentation regarding profiles/partial profiles. How should I forward it?

[2017-11-24 12:28] Beep6581 commented on #4104
Here is fine.

[2017-11-24 15:43] heckflosse commented on #4195
@Floessie Thanks for the review 👍
I made the changes you suggested and also some changes for small data size (thumbnails).
I had to use std::vector instead of std::array to be able to reduce the size of the histogram for the small data sizes. Here's the new code:
[code]

[2017-11-25 11:10] awaysounds opened #4196 "Flat-field - separate lightness from chromaticity"
Hello.
I wait about 1,5 years for this feature, and it's not come.

Add please separately control of color (chroma) and brightness (luminosity) for flat field correction. Like it make in "cornerfix".
I use sony a7 series cameras and rangefinder wide angle lenses.
And i suffer from violet vignetting (a7, a7r, a7m2) and cyan corners (a7s, a7r2).

I am forced to create targets, neutral white cards to

[2017-11-25 11:36] awaysounds opened #4197 "[Feature request] corner/frame crop"
Hello.
I know what rawtherapee build on dcraw code.
And dcraw not use frame with resolution from raw data.
Like it do another convertors.
And rawtherapee do, but with another resolution, slightly larger.

For example:
Camera Fuji x100.
In camera jpeg resolution - 4288x2848 px
In dcraw convertion from raw - 4310x2870 px
In rawtherapee from raw - 4302x2862 px

How can you see there is have some diff

[2017-11-25 12:56] #4195 closed, assigned to nobody

[2017-11-25 15:26] #4015 closed, assigned to nobody

[2017-11-25 15:29] Beep6581 commented on #4197
Frame size was explained in #2339

[2017-11-25 15:29] #4197 closed, assigned to nobody

[2017-11-25 15:58] awaysounds commented on #4197
it's not a solution.

[2017-11-25 20:10] heckflosse commented on #4196
@awaysounds Can you please upload raw files which show the violett vignetting and cyan corners to [filebin.net](https://filebin.net/) and post the links here?

[2017-11-25 23:04] awaysounds commented on #4196
https://filebin.net/q42dr4h4o8f50lo8 - a7 & russar.
https://filebin.net/satumqb23a7bwmeq - a7s & russar.

shots of white list.

[2017-11-26 18:43] Beep6581 opened #4198 "Add "Restart required" to Preferences > Color Management"
Add "Restart required" to Preferences > Color Management > Directory containing color profiles.

... or maybe this can be enhanced so that a restart is not required?

[2017-11-27 07:45] Beep6581 commented on #3090
Thanks @agriggio !

Confirmed that the monitor profile is now used when _going into_ B|A mode, though subsequent changes while in B|A mode still only affect the "After" view.

e.g. here the monitor profile combo shows I'm using my monitor's profile, but actually the "Before" view is using the ACES profile, and only the "After" view is using the monitor profile:
![imgur-2017_11_27-08 43 34](https:/

[2017-11-27 07:49] agriggio commented on #3090
@Beep6581 yes, I'm aware of the problem. I won't fix it now though:

1. I think it's a marginal use case
2. it would require some refactoring which I'm not willing to do now. in fact, I hope 5.4 gets out of the door asap so that we can start tackling all this in a more future-proofy (if that's a word ;-) way

[2017-11-27 07:52] agriggio commented on #3090
hmmm, reading your comment more carefully now I have a doubt: are you saying that if you edit the picture while in A/B mode then the A panel gets screwed up, or that if you change the monitor profile while both views are open then only B changes?
my comment above was referring to the latter. if you are seeing the former instead, then I agree this has to be fixed!

[2017-11-27 08:27] Beep6581 commented on #3090
It's the latter:
1. Open some image in normal view,
2. Set the monitor profile to X.
3. Enable B|A mode.
4. Change the monitor profile to Y, e.g. because you dragged the RT window onto your second screen or because you want to soft-proof it.
    Now the before view uses X but the after view uses Y.
5. Change some tool. The before view shows the image correctly but using X, and the after view shows

[2017-11-27 08:34] agriggio commented on #3090
ok. Suggested workaround: close and reopen the A/B view

[2017-11-27 14:28] okoncevoy commented on #4066
How can I push my branch?

[2017-11-27 14:42] agriggio commented on #4066
Hi @lvreclp,
I think the best way is to fork rawtherapee (in github), push to your fork, and then create a pull request here. Thanks!

[2017-11-27 15:16] okoncevoy commented on #4066
Thanks @agriggio . I have created branch in my fork and pushed it to origin. But I still miss text for tooltip and an icon. Should I already create pull request so some one could review my code once more or should I wait?

[2017-11-27 15:32] Beep6581 commented on #4066
Changes:
https://github.com/Beep6581/RawTherapee/compare/dev...lvreclp:dev-move-histogram-profile

I can help with the icon within a day or two, too flooded with work atm.

[2017-11-27 15:35] okoncevoy commented on #4066
Thank you.
Same for work load for me. So drop a message, as soon as there will be an icon.

[2017-11-27 15:38] agriggio commented on #4066
@lvreclp I think it's a good idea to create the PR already. You can continue working on your branch in the meantime

[2017-11-27 15:47] Auxx opened #4199 "v5.3: scaling issues on Hi DPI screens"
I'm using high DPI screens with 150% and 200% scaling ratios. In both cases the whole UI and image previews are upscaled and look blurry. While tool icons are bearable, working with upscaled photos is impossible.

Another related issue is when moving zoomed photo with mouse, it moves proportionally faster than the mouse.

[2017-11-27 16:48] TooWaBoo commented on #4199
screenshot? operating system?

[2017-11-27 17:00] Auxx commented on #4199
Oh yeah, sorry. Windows 10 x64 with all the updates.

Here's [a screenshot of folder browser](https://www.flickr.com/photos/96275023@N08/24809275188/sizes/o/) in full resolution.

And here I have [image editor screen](https://www.flickr.com/photos/96275023@N08/37794366655/sizes/o/) together with Nomacs window showing image at real 1:1. My current monitor has 4K resolution running at 200% scale fac

[2017-11-27 17:14] TooWaBoo commented on #4199
RawTherapee is not fully highres compatible.
At 200% scalling Windows doubles all images including the RAW image.
Try using a scaling lower than 200% and use one of the TooWaBlue themes.
I'll hope this helps.

[2017-11-27 17:35] Beep6581 commented on #4199
Duplicate of #3547

[2017-11-27 17:35] #4199 closed, assigned to nobody

[2017-11-27 19:37] Beep6581 commented on #4066
I checked out your changes:
[code]

Unfortunately, nothing happens when I click on the button.

Here are my icon suggestions. They are based on [this](https://github.com/Beep6581/RawTherapee/blob/edbe4f3f14ee4dcd21091e9800fdbcb96e38b271/tools/source_icons/scalable/gamut_srgb_prophoto_xy.svg) template showing a CIE XY color gamut of `RT_sRGB.icm` overlaying `RT_Medium_gsRGB.icc`.
https://filebin.ne

[2017-11-27 19:45] sguyader opened #4200 "HDR Tone mapping shifts channels?"
I see this weird behaviour when I activate HDR Tone mapping on a raw file (tested on a Fuji and Pentax raws, occurs on both): some channel(s) seem to shift one pixel down and to the right, and this may introduce some what appears as chromatic aberration/fringing.
See the animation below (using one of the "moving boat" raw images), showing the shift and it plays with chromatic aberration:

![untitl

[2017-11-27 19:50] Beep6581 commented on #4200
Confirmed in K10D PEF and ILCE-7M2 HDR DNG. It looks like a shadow of the red channel remains.

[2017-11-27 20:22] agriggio commented on #4200
the tool operates on luminance only, so this is technically impossible -- unless I really remember wrong...
there is some rescaling going on internally, so it might be some off-by-one error, but this should affect all channels, not just one.
I think it's more likely that the tool simply amplifies CA artifacts, that is definitely a possibility...
did you try enabling CA correction (either raw or pr

[2017-11-27 20:43] heckflosse commented on #4200
That's clearly reproducible.

With raw ca correction enabled I can not confirm the ca issue

[2017-11-27 21:14] Beep6581 commented on #4200
You're right, the color channels stay put while the luminance shifts south-east.
![imgur-2017_11_27-22 13 36](https://user-images.githubusercontent.com/5844619/33289568-49e960e4-d3c0-11e7-9389-d7a9551e7c01.png)
![imgur-2017_11_27-22 13 45](https://user-images.githubusercontent.com/5844619/33289569-4a053184-d3c0-11e7-91c1-1de18b65ce9a.png)
![imgur-2017_11_27-22 13 57](https://user-images.githubuser

[2017-11-27 21:37] agriggio commented on #4200
@Beep6581 as wrote there might be a rounding error in rescaling. I'll take a look when I find some time

[2017-11-28 00:11] sguyader commented on #4200
@agriggio it looks like it does mess with profiled CA correction. Regarding raw auto CA I don't know, but the problem is that it is not yet available for xtrans sensors for example.

[2017-11-28 08:14] #4200 closed, assigned to nobody

[2017-11-28 08:17] agriggio commented on #4066
@Beep6581  I find 3 confusing -- 2 (or 1) are much better IMHO

[2017-11-28 08:51] okoncevoy commented on #4066
@Beep6581
I also like first icon much more, as for histogram update on the fly, I am still finding for a better way to do that. I will try to commit it today.

[2017-11-28 09:01] Beep6581 commented on #4200
Fix confirmed, no side-effects noticed.

[2017-11-28 09:05] Beep6581 commented on #4066
The first icon says nothing about colorspaces, it could mean anything.

It's best to vote not for one, but for all in the order of preference. If @agriggio voted 2 1 3, @lvreclp  voted 1 2 3 and I voted 3 2 1, then 2 has most votes so far.

[2017-11-28 12:35] sguyader commented on #4200
Thanks @agriggio!

[2017-11-28 12:49] sguyader opened #4201 "Profiled CA check box not checked when read from pp3, but CA active"
When loading a pp3 with lensfun Chromatic aberration correction checked (`UseCA=true` in the pp3), the check box state still appears unchecked while the CA correction is actually applied.

[2017-11-28 13:26] #4201 closed, assigned to nobody

[2017-11-28 14:19] sguyader commented on #4201
Fix confirmed.

[2017-11-29 08:54] olhof commented on #4104
I have written a new version of “Sidecar Files - Processing Profiles”.

You can find it by following this link:
https://1drv.ms/w/s!Ag3mjK0RkQdnsk22-to-olX7E7G8

What do you think?
It may be obvious that I am Danish and not a native English speaking individual. I can have the text edited by an American relative so the text will be in perfect English if you want to use it.

[2017-11-29 13:18] ghost opened #4202 "Crash editing Nikon D70 raw files"
I'm editing some really old Nikon D70 raw files and for me, RT keeps crashing when I switch between photos. For instance, see the three shared NEFs below where the crash happens:
https://www.dropbox.com/sh/6hlvoiqx7aaksqb/AACtNFPYMgNb-ZNERV3OCh3Pa?dl=0

This is the output from a debug-build:
https://pastebin.com/QKahQr64

I'm on Ubuntu 17.10 using:
Version: 5.3-228-g56dc615b
Branch: dev
Commit: 56

[2017-11-29 13:36] okoncevoy commented on #4066
I still struggle with histogram update, I have found that HistogramPanel class have histogramChanged method, but it takes a lot of LUT's in parameters. Is there any other variant how to update histogram?

[2017-11-29 13:52] agriggio commented on #4202
@mks9900 are you using multiple tabs or a single editor? How much RAM do you have?

[2017-11-29 13:53] ghost commented on #4202
Hi! I'm using single editor and my system has 24 Gbyte of RAM.

[2017-11-29 13:54] agriggio commented on #4202
ok, we ruled that out at least :-)

[2017-11-29 16:44] agriggio commented on #4202
@mks9900 are you using RAW Auto-CA correction by any chance?

[2017-11-29 16:44] Hombre57 commented on #4066
@lvreclp You should not update the historgram, but refresh the preview, which incidentally will update the histogram and navigator as well. When you hover the image, the values of the point under the cursor is shown below the histogram, and depends on the image saved at the end of the `Crop::update` method (from `rtengine/dcrop.cc`) -> see `Image8* finaltrue`, which is saved in `CropHandler::cropi

[2017-11-29 17:06] agriggio commented on #4202
Anyway, I get a crash (consistently reproducible) if enabling RAW Auto-CA correction. There seems to be some memory corruption problem (probably an array out of bounds write). The crash is in `CA_correct_RT`. @heckflosse any idea?

[2017-11-29 17:25] heckflosse commented on #4202
@agriggio Alberto, I thought I had all bugs in CA_correct_RT caused by odd image width (3031 in this case) fixed :( I will take a look.

[2017-11-29 17:35] ghost commented on #4202
@agriggio: That seems to be the problem! Turning it off makes RT behave like normal again :-)
Now I have a workaround! :+1:

[2017-11-29 17:37] agriggio commented on #4202
well I wasn't suggesting that as a workaround, I was rather looking for a confirmation that it was the culprit. now we can think of fixing the bug -- and thanks for reporting btw

[2017-11-29 17:41] ghost commented on #4202
Oh, I understood that, but I was nevertheless glad to get around the bug :-)

[2017-11-29 18:45] heckflosse commented on #4202
@agriggio This patch should fix the bug in ca_correct_rt and also two other bugs I found using adress sanitizer. Can you please test and review?

[code]

[2017-11-29 20:00] ghost commented on #4202
Great work, Ingo! It worked like a charm! :+1: :+1:
Thank you so much for a quick resolution!

[2017-11-29 20:06] heckflosse commented on #4202
Johan, thanks for testing. I hope it doesn't introduce artifacts in ca correction ;-)

[2017-11-29 21:08] heckflosse commented on #4202
reopened because it's not yet committed

[2017-11-29 21:09] ghost commented on #4202
Ah, sorry! :+1:

[2017-11-29 22:07] #4202 closed, assigned to heckflosse

[2017-12-01 13:43] TooWaBoo commented on #4148
New update:
[code]

[2017-12-03 00:57] Hombre57 commented on #4035
@Beep6581 The problem is that I don't know how to create a `Gtk::Container` ! The `Gtk::FlowBox` assume that we want to flow `Gtk::Button`objects, and then align them vertically to have nice columns, but that's not what we want here. And there's no option to tell the container to respect the child object's expand/shink property, so we have to create our own container. If you have some sample code

[2017-12-03 22:04] wtanmdt opened #4204 "FUJIFILM DBP for GX680 RAF support"
I recently received a Fujifilm DBP for GX680 digital back. When I converted the raw file to JPG file, I got strange output as below image. It seems like RawTherapee does not recognize the file.
I have uploaded a RAF raw file and a JPG file both saved by the digital back at:
http://www.weldpass.com/upload/Fujifilm-DBP.zip

Thanks,

Wen

![dscf0001-s](https://user-images.githubusercontent.com/342202

[2017-12-04 12:03] agriggio opened #4205 "Error in parsing pp3 file with long lines"
The attached pp3 file results in the following error in `Procparams::load`:

[code]

Here's a patch that fixes the problem:

[code]

Before pushing, however, I'd like to understand the why are we reading the file into memory at all instead of using `Glib::KeyFile::load_from_file` directly. Anyone knows?

[test.txt](https://github.com/Beep6581/RawTherapee/files/1526926/test.txt)

[2017-12-04 12:31] Beep6581 commented on #3577
Support for 32-bit platforms ended with 5.0-r1.

[2017-12-04 12:31] #3577 closed

[2017-12-04 12:44] Beep6581 commented on #2795
The "Perceptual" curve mode was added in issue #2817 and has the same effect regardless of working space.

We should probably set Perceptual to be the default curve mode, any objections?

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/procparams.cc#L915
`s/TC_MODE_STD/TC_MODE_PERCEPTUAL/`

[2017-12-04 14:12] heckflosse commented on #2795
@Beep6581

It's slow

[2017-12-04 20:45] Hombre57 commented on #4205
@agriggio No idea ! Could there be a dead lock in that case if RT crash while interpreting the keyfile (as it already occurred) ?

Why not enclosing the buffer into braces to delete it early (if the compiler doesn't do it itself) ?

[2017-12-04 21:02] heckflosse commented on #4205
@Hombre57

Stack allocation of this (1024 chars) size is perfectly fine imho. It avoids new and delete and we should trust the compiler to early reduce the stack pointer or not.

[2017-12-04 21:05] agriggio commented on #4205
@Hombre57 suggested on IRC that this might be due to line-ending conversions. If so, here's a better patch:

[code]

(**Note**: I'm still using `g_fopen` instead of a `std::ifstream` because the former is supposed to handle unicode file names properly in a cross-platform manner...)

[2017-12-04 21:30] agriggio commented on #4205
Actually, forget about the above. This seems to work just fine:

[code]

[2017-12-04 21:42] Hombre57 commented on #4205
From IRC, reported as successfully tested, even with UTF-8 chars, so +1 to merge.

[2017-12-05 00:00] TooWaBoo commented on #4148
New update
[code]

[2017-12-05 15:36] okoncevoy commented on #4066
I have uploaded a new commit. Now a histogram is updated on the fly, might be that this is not the best method, but it works. Looking forward to hear result of review.

[2017-12-05 17:00] Beep6581 commented on #4066
Here's the commit: https://github.com/lvreclp/RawTherapee/commits/dev-move-histogram-profile

[2017-12-05 17:05] okoncevoy commented on #4066
Pushed one more commit: https://github.com/lvreclp/RawTherapee/commits/dev-move-histogram-profile clean up for method.

[2017-12-05 17:47] Floessie commented on #4205
When I enter a directory with undeveloped images, the new function throws for every file that has no PP3, resulting in many ugly lines on the terminal.

[code]

Maybe ditch that `printf()`?

[2017-12-05 22:17] Hombre57 commented on #4066
@lvreclp @Beep6581 The patch works fine and is very acceptable. I'd vote for 2, 1, 3, so is even more the preferred choice. So the only thing to add before merging is that icon.

[2017-12-05 22:45] Beep6581 opened #4206 "Invalid key handling - show which file the key belongs to"
I get this info in the console in non-verbose mode. It would be much more helpful if it included the absolute path of the PP3, the filename of the PP3, or at least the filename of the image, in order of preference descending.

[2017-12-05 23:29] TooWaBoo opened #4207 "Bug reading Tone curve mode from profile/pp3"
How to reproduce:
1. Open an image and apply profile "Neutral"
2. Add a tone curve under "Exposure" tab
3. Set "Tone curve mode" to e.g "Luminance"
4. Quit and restart RT
5. Open the modified image
6. "Tone curve mode" shows "Standard"

[code]

[2017-12-05 23:47] Beep6581 commented on #4207
Confirmed.
RT saved correctly:
[code]
But it reads TC1=FilmLike TC2=Standard

[2017-12-06 00:00] Beep6581 opened #4208 "Noise Reduction median filter in L*a*b* mode seems to have no effect"
5.3-251-g a5571a43
https://filebin.net/l8nauxczfef02f8d/DSC05525.ARW
https://filebin.net/l8nauxczfef02f8d/DSC05525_median.png.out.pp3

It seems that the median filter has no effect in any of the L\*a\*b\* "median methods".

Apply the PP3, zoom to 100%, turn median off/on.

[2017-12-06 06:41] Floessie commented on #4208
That's strange, because I just developed an ISO 800 image last night and had to turn "median 3x3 soft" on in L*a*b* mode. Worked as desired...

[2017-12-06 06:54] Floessie commented on #4207
@TooWaBoo Good catch! Now here's the patch:

[code]

@Beep6581 I can only push it tonight, so feel free to push it for me. Thanks.

[2017-12-06 07:04] Beep6581 commented on #4208
@Floessie does turning it off/on have any effect on my raw+PP3?

[2017-12-06 07:12] Beep6581 commented on #3558
`5.3-251-g`a5571a43

[2017-12-06 07:19] Beep6581 commented on #4208
Median on:
![dsc05525_median_crop_on](https://user-images.githubusercontent.com/5844619/33649422-37e3898e-da5e-11e7-9d3e-16d33756a9f7.jpg)
Median off:
![dsc05525_median_crop_off](https://user-images.githubusercontent.com/5844619/33649432-3dcb9508-da5e-11e7-8514-5e9ff10c753d.jpg)

[2017-12-06 07:28] Beep6581 commented on #4208
If I lower "Luminance - Detail" at the top of the NR tool from 70 to 0, then median has an effect. I am surprised, because I was always under the impression that median is the last step in the NR chain. I thought so for two reasons:
1. Median is at the end of the NR interface.
2. RawPedia, "Use this filter to remove tiny, sharp-looking artifacts _left-over from noise reduction_."

So is it wrong t

[2017-12-06 07:39] #4207 closed, assigned to Floessie

[2017-12-06 07:39] Beep6581 commented on #4207
Fix confirmed and committed.

[2017-12-06 07:51] Beep6581 opened #4209 "Color toning gradient bars in wrong order"
In the "RGB Sliders" and "Saturation 2 colors" methods, the gradient bars for hue and strength are swapped - the colors in the "strength" bar actually describe hue, and the colors in the "hue" bar actually describe strength.

[2017-12-06 08:04] agriggio commented on #4205
let's just put a file exists check before calling the keyfile parser

[2017-12-06 08:07] agriggio commented on #4208
median is still at the end afaik.
could it be that there's too much noise left and you are using a too small radius, so median is hardly noticeable? (I didn't check your pp3, just speculating...)

[2017-12-06 08:11] Beep6581 commented on #4208
@agriggio the median size and strength in my PP3 are at maximum, and median has the expected strong effect when luminance strength and luminance details are at 0, i.e. it depends on them, and does not seem to be discretely after them.

[2017-12-06 08:21] agriggio commented on #4208
ok. I'll take a look when I can (others feel free to precede me! :-)

[2017-12-06 09:32] Desmis commented on #4208
Hello
I do not know if this has always been like that, but after a short test, just invert the "median Lab" and "Fourier transform detail" treatments and everything is back to normal.

@agriggio
I can make a patch if you wish  :)
jacques

[2017-12-06 09:34] agriggio commented on #4208
@Desmis Jacques sure :+1: for me. I have no time right now...

[2017-12-06 09:58] Desmis commented on #4208
I just push a change in branch "mediandenoise".  :)

Jacques

[2017-12-06 10:12] Beep6581 commented on #4066
I pushed the button and images to branch `origin/histogram-profile` (naming git-fail :P)
@lvreclp feel free to merge that into your branch and open a pull request.

[2017-12-06 10:17] Beep6581 commented on #4066
I pushed the button and images in commit 8c42504f in branch [histogram-profile](https://github.com/Beep6581/RawTherapee/tree/histogram-profile)

@lvreclp do you want to merge it into yours and open a pull request, or should I just merge into `dev`?

[2017-12-06 10:25] okoncevoy commented on #4066
@Beep6581
I have merged histogram-profile into my fork, so I will create pull request soon.

[2017-12-06 10:32] okoncevoy commented on #4066
I just tried to test branch, and after building got this:
`terminate called after throwing an instance of 'Glib::FileError'`

[2017-12-06 10:43] Beep6581 commented on #4208
Thank you Jacques. Tested, now it works independently. I think it's better like this.

P.S. There are a lot of unrelated whitespace changes in the commit 3e76d861efb32a5dd9b29df9d7a20f47363e191a. It would be good to leave them out when merging so that the actual code change is visible.

[2017-12-06 10:45] agriggio commented on #4205
Here's a patch. If no objections, I'll push soon.

[code]

[2017-12-06 10:46] Beep6581 commented on #4066
@lvreclp please show a stack backtrace.

Have you verified that the new PNG images exist in your fork?
[code]

[2017-12-06 10:47] Desmis commented on #4208
@Beep6581

Ok, but how does one go back with "astyle", and then it will be good to proceed "astyle"

[2017-12-06 10:53] okoncevoy commented on #4066
Now everything is fine. Forgot to run install, so yeah, RT just couldn't find images.

[2017-12-06 10:54] okoncevoy commented on #4066
@Beep6581 I have created pull request: https://github.com/Beep6581/RawTherapee/pull/4210

[2017-12-06 10:59] #4205 closed, assigned to nobody

[2017-12-06 10:59] agriggio commented on #4205
well I went ahead and pushed :-)

[2017-12-06 11:54] Beep6581 commented on #4208
@Desmis astyle has no undo feature, but it can be fixed quite easily in git:
[code]

The astyle changes were good, but it's good to keep style changes separate from code changes, in their own commit.

[2017-12-06 12:02] Beep6581 commented on #4208
I actually went ahead and did that and opened a PR. @Desmis you can merge it if the changes are good: #4211

[2017-12-06 17:11] agriggio commented on #4150
So, I finally found some time to dig a bit deeper and provide some evidence for what I have been seeing for a while (and failed to communicate up to now).
Here's a link with the material:
  https://filebin.net/puciqmssrbqnnz5w

The two matrix-only dcp profiles `AlbertoMatrix.json` and `DcamprofMatrix.json` have the same forward matrices, but different colour matrices. In particular, `AlbertoMatrix

[2017-12-07 12:41] Beep6581 opened #4212 "Warn user if cannot write PP3"
Preferences > Image Processing > Processing profile saving priority
When that is set to save next to the input file but saving there is no possible, e.g. because the destination is read-only, RT currently does not warn the user, and so the processing settings will be lost when closing the image.

To test:
[code]

[2017-12-07 13:45] Beep6581 opened #4213 "Merging dev into the other branches"
Hey

`dev` needs to get merged into the large branches:
- [waveletnew](https://github.com/Beep6581/RawTherapee/tree/waveletnew)
- [newlocallab](https://github.com/Beep6581/RawTherapee/tree/newlocallab)
- [autowblocal](https://github.com/Beep6581/RawTherapee/tree/autowblocal)
- [spot-removal-tool](https://github.com/Beep6581/RawTherapee/tree/spot-removal-tool)
- [save-strategy2](https://github.com/

[2017-12-07 17:36] ghost opened #4214 "Segfault in noise reduction/highlight reconstruction blend"
I'm currently batch-editing a couple of older raw-pictures, and I consequently get a segfault when trying to finish the queue. This is what I get if I run a debug build through gdb:
[https://pastebin.com/i0gqT68y](https://pastebin.com/i0gqT68y)

Sorry if I got the subject wrong, but that's what gdb spat out, and the queue finishes fine if I turn "Noise Reduction" completely off.

Version: 5.3-253-

[2017-12-07 18:04] heckflosse commented on #4214
with odd width?

[2017-12-07 18:05] ghost commented on #4214
Sorry Ingo, they are all raw files from Nikon D700. I had to google the dimensions, but no, they are even-numbered :-)

[2017-12-07 18:10] heckflosse commented on #4214
Do they all crash?
Can you post a pp3 please?

[2017-12-07 18:13] ghost commented on #4214
Sure! Can you access this one?
[https://www.dropbox.com/sh/6hlvoiqx7aaksqb/AACtNFPYMgNb-ZNERV3OCh3Pa?dl=0](https://www.dropbox.com/sh/6hlvoiqx7aaksqb/AACtNFPYMgNb-ZNERV3OCh3Pa?dl=0)

[2017-12-07 18:15] heckflosse commented on #4214
yes, but I had to edit your post to access them with a single click ;-)

[2017-12-07 18:27] heckflosse commented on #4214
Can you try to rule out other tools (i.e. profiled lens vignetting corrections) as the reason?

[2017-12-07 18:33] heckflosse commented on #4214
@mks9900 Johan, not related to this issue: We ship a `NIKON D700.dcp`. @Beep6581 made it from colorchecker shots he made with my D700 some weeks ago. Maybe worth a try ...

[2017-12-07 18:41] ghost commented on #4214
Thanks Ingo, but I already thought that profile was selected? I read about your effort and they were greatly appreciated by me :-)
In RT, I chose "Auto-matched camera profile"...
I'll try to get on ruling out other tools now!

[2017-12-07 18:45] heckflosse commented on #4214
Johan, you're right. The dcp is selected by "Auto-matched..."

[2017-12-07 19:07] ghost commented on #4214
I can now say for certain it is denoise that causes the crash, but not with every file. I uploaded the troublesome file and pp3 and if I toggle denoise on/off I get crash/no crash repeatedly...
[Dropbox link, done correctly :-)](https://www.dropbox.com/sh/6hlvoiqx7aaksqb/AACtNFPYMgNb-ZNERV3OCh3Pa?dl=0)

[2017-12-07 19:15] heckflosse commented on #4214
Thanks Johan. I will try to find the culprit

[2017-12-07 20:09] heckflosse commented on #4214
Johan, though it crashes in denoise, the culprit is not denoise.
Can you confirm that it does not crash when highlight reconstruction is disabled?

[2017-12-07 20:41] ghost commented on #4214
Yes, I can certainly confirm that! Wow, nice work Ingo!
However, for me,it seems it only crashes if method=Blend, does it crash there for you too?

[2017-12-07 20:57] heckflosse commented on #4214
yes

[2017-12-07 21:28] heckflosse commented on #4212
@Beep6581 In a first step we could use your wording
[code]
as a tooltip in preferences ;-)

[2017-12-07 22:43] Beep6581 commented on #4212
Yes, that would be a very unexpected (to me) workaround to this issue ;)

[2017-12-07 23:02] StefanDieke opened #4215 "Rawpedia book rendering failed"
No matter which link I follow in Rawpedia to render the book, I always get the following error:

"Book rendering failed
There was an error while attempting to render your book."

It would be nice to read about Rawtherapee's features offline.

[2017-12-07 23:06] Beep6581 commented on #4214
Simpler test case, apply neutral then this PP3:
https://filebin.net/ethqfut80kndq62j/rt_4214_crash.pp3

-- Edit
Note: the `[Color Management]` section shouldn't be in that PP3 - #4216

[2017-12-07 23:10] Beep6581 opened #4216 "Partial profile always saves color management > output profile intent"
`dev` `5.3-253-g`58c9f5a4

Saving a partial PP3 with nothing selected saves this:
[code]

Also, the "Basic settings" checkbox once clicked always shows in that [-] mode and cannot be changed.

![imgur-2017_12_08-00 07 20](https://user-images.githubusercontent.com/5844619/33743141-da95696a-dbab-11e7-909d-7d4a8b45fbdb.png)

[2017-12-07 23:17] Beep6581 commented on #4214
And the stack backtrace:
https://paste2.org/zaVx83Ma

[2017-12-08 14:08] agriggio commented on #4209
This patch swaps the bars. However, I'm not sure how to interpret the "strength" one -- I cannot make sense of what the gradien is supposed to convey... :-/
Any comments?

[code]

[2017-12-08 14:12] TooWaBoo commented on #4148
New update:
[code]

[2017-12-08 14:42] heckflosse commented on #4209
@agriggio

At strength zero (left) colortoning should be disabled imho

[2017-12-08 14:43] agriggio commented on #4209
There's a bug in the dynamic update code also: the strenght bar is supposed to be updated on-the-fly according to the current hue, but in fact it never changes. Here's a patch to fix that:

[code]

[2017-12-08 14:45] agriggio commented on #4209
Finally, I think this gives a better visual clue about what "strength" is supposed to mean (this replaces the first patch above):

[code]

[2017-12-08 15:12] agriggio commented on #4209
Here's a new patch, replacing all the above. It uses a better gradient for strength, as suggested by @heckflosse on IRC:

[code]

[2017-12-08 15:18] Beep6581 commented on #4209
Fix confirmed, works very well!

[2017-12-08 15:19] #4209 closed, assigned to agriggio

[2017-12-08 18:28] #4213 closed, assigned to nobody

[2017-12-08 18:36] heckflosse opened #4217 "heap-buffer-overflow"
While searching the reason for #4214 I got this

[code]

as I tried to open amsterdam.pef.

I will try to fix that

[2017-12-08 19:40] #4217 closed, assigned to heckflosse

[2017-12-08 21:08] okoncevoy commented on #4198
Can I take this issue?

[2017-12-08 21:16] heckflosse commented on #4198
@lvreclp 👍  from me

[2017-12-08 21:17] agriggio commented on #4198
sure, go ahead! :+1:

[2017-12-08 21:25] okoncevoy commented on #4198
Ok, than.

[2017-12-08 21:52] Beep6581 commented on #3413
Still the case using GTK+ 3.22.19 in Linux, but works fine in Windows.

[2017-12-08 22:27] Beep6581 commented on #3413
I opened a PR:
https://github.com/Beep6581/RawTherapee/pull/4218

[2017-12-08 23:44] agriggio commented on #4214
Fixed in d7fb8c9

[2017-12-08 23:44] #4214 closed, assigned to nobody

[2017-12-09 16:26] ghost opened #4219 "Mouse wheel scroll don't work for all sliders in "CIE Color..." module"
When I use mouse wheel scroll in the "CIE Color Appearance Model 2002"-module, scrolling (often) gets stuck on certain sliders. It's a little tricky because it doesn't happen all the time and just wanted to see if others have experienced the same?

Using:
Version: 5.3-279-gd7fb8c913
Branch: dev
Commit: d7fb8c913
Commit date: 2017-12-09
Compiler: cc 7.2.0
Processor: x86_64
System: Linux
Bit depth:

[2017-12-09 17:11] agriggio commented on #3542
Started working on this. See the `colortab-tools-onoff` branch. Could someone please test and tell me if this is what you wanted?
**Note**: as agreed on IRC in this branch I'll also add on/off buttons for the other tools in the color tab that do not have them (except for output color profile, for which it doesn't make sense)

[2017-12-09 17:29] Beep6581 commented on #4219
@mks9900 please explain what you're doing (are you scrolling the tool panel or scrolling the slider values or something else?) and what the problem is a bit more clearly.

[2017-12-09 18:30] ghost commented on #4219
Sorry, I realise the description was a bit vague now :-)
I'm trying to scroll in the panel up or down with the mouse wheel. When the mouse pointer happens to get over a slider in the CIECAM module, the scrolling stops and I have to point the mouse pointer away from the slider, often further to the right.
[Image showing the panel and pointer](https://www.dropbox.com/s/0og6a2xk2xbnddi/rt_mouse_scrol

[2017-12-09 22:56] agriggio commented on #3542
added also for the other tools now. If somebody can test, maybe we can merge this before 5.4?

[2017-12-10 11:05] Timmitry opened #4220 "Maximum width and height in fast export is capped at 3000"
Hi,
I want to batch process my raw images to jpeg with RawTherapee. As can be seen in the screenshot, I can't set the maximum width or height higher than 3000. However, I don't want my images to be resized at all. Is there any way to set this limit higher, or deactivate resizing completely?
I'm using RawTherapee on Windows 10.
Thanks,
Tim

![rawtherapee](https://user-images.githubusercontent.com/2

[2017-12-10 12:26] heckflosse commented on #4220
@Timmitry Use a newer version. You can download rt 5.3 for windows [here](http://rawtherapee.com/downloads)

[2017-12-10 14:37] agriggio commented on #4204
@wtanmdt would it be possible to submit this to http://raw.pixls.us if you haven't done that already? thanks!

[2017-12-10 16:59] wtanmdt commented on #4204
@agriggio Just submitted. Many thanks for the advice.

[2017-12-10 18:32] Beep6581 commented on #4219
@mks9900 if you go to Preferences > General > Layout, what is the status of "Hide vertical scrollbar"?
Make sure it is not ticked, restart RT. Does it work well now?

[2017-12-10 18:40] ghost commented on #4219
Ah, now it works! Thanks. I've had it hidden and didn't think of testing that.
As the issue isn't a big deal and this works as a workaround, should I close the issue?

[2017-12-10 19:30] Beep6581 commented on #4220
@Timmitry also, not sure you're aware of it, you're using "fast export" which is not the "proper" way of exporting images.
See:
http://rawpedia.rawtherapee.com/Getting_Started
http://rawpedia.rawtherapee.com/The_Batch_Queue

We have yet to write documentation for Fast Export...

[2017-12-10 19:30] #4220 closed, assigned to nobody

[2017-12-10 20:22] Beep6581 commented on #4219
Then it's a duplicate of #3413

@mks9900 which Linux distro and which version of Gtk+ are you using?

[2017-12-10 20:22] #4219 closed, assigned to nobody

[2017-12-11 08:20] ghost commented on #4219
I run Ubuntu 17.10 and gtk+ is at 3.22.25.

[2017-12-11 10:20] Beep6581 commented on #3542
Good!

No problems found with raw files.

Not sure what happens under the hood when WB is disabled for non-raw files. I would imagine they should stay the same, because WB off = multipliers = 1 = colors as-are?
https://i.imgur.com/W9YyeJn.png

[2017-12-11 13:22] Beep6581 opened #4221 "Multiple source file and frame handling"
This issue is to discuss how to handle our growing needs of being able to use more than one frame and/or more than one source image to generate one resulting image.

The feature should be simple and cover as wide a variety of use cases as possible.

# Selection

Requirements:
- Open a single raw file with a single frame (1 layer).
- Open a single raw file with a single frame - Sony Pixel Shift (1

[2017-12-11 13:32] Beep6581 commented on #4221
The user will need to be able to adjust at least some parameters per layer.
Related: Snapshot support/multiple PP3 per image support #2624

[2017-12-11 15:15] agriggio opened #4222 "support for Sony ARQ pixel-shift RAW files"
I started playing with the ARQ file that was submitted via pixls yesterday. I was able to make some progress but I'm not 100% there yet. This patch makes RT load the file and successfully identify that it has 4 frames.
The colours are still wrong however. I suspect I'm not setting the value for dcraw's `filters` variable correctly. But hopefully someone more knowledgeable can figure it out?

[code

[2017-12-11 15:56] heckflosse commented on #4222
@agriggio Alberto, great. Currently the whole image is detected as motion. To see the pixelshift result you have to set `Motion correction` to off. Then you see that there is something wrong.
I will check that now.

[2017-12-11 16:12] okoncevoy commented on #4198
And what is the issue? As I can see, the color profiles drop down is updated on directory selection? @Beep6581 Can you tell me what must be done for this issue?

[2017-12-11 16:19] agriggio commented on #4198
just add a label saying "(restart required)" in the GUI, like what is done for other options (eg themes)

[2017-12-11 16:20] okoncevoy commented on #4198
@agriggio And what about possibility to use it without restart? Adding a label is the easiest solution

[2017-12-11 16:22] Beep6581 commented on #4198
When I change "Directory containing color profiles", the combobox which lists the monitor profiles, under the main preview in the Editor tab(s), is not updated until I restart RT.

[2017-12-11 16:54] heckflosse commented on #4222
@agriggio About the `filters` variable. Currently it can fit only for one of the 4 frames.
The whole multi-frame code assumes that all frames have the same filter.
Assume you have this pattern in the first frame:
[code]
then you will have for example
[code]
in the second frame.

The simplest solution would be to shift the image in `sony_arq_load_raw()` based on `shot_select` so that all 4 images c

[2017-12-11 17:41] heckflosse commented on #4222
@agriggio Alberto, I played a bit with the arq files.

This:
[code]
gives a perfect first frame. Of course it works only for the first frame because it does not use shot_select. It's just a base ...

[2017-12-11 17:44] agriggio commented on #4222
@heckflosse I arrived to the same conclusion, essentially :-)
Here's my version:

[code]

Now I'll play with the shifting as you suggested above!

[2017-12-11 18:35] heckflosse commented on #4222
@agriggio Alberto, hint: In the arq file I linked in the pixls.us thread there are at least two regions with motion. You can use this regions to check whether you combine the channels correctly for the individual frames. Currently frame 1 and 3 are combined correctly while frame 2 and 4 are not.
Here's a screenshot which shows a region with motion:

![motion](https://user-images.githubusercontent.

[2017-12-11 19:41] heckflosse opened #4223 "Build with libsigc++ 2.3.1 broken"
Here's the log:

https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Leap_42.1/i586/rawtherapee-unstable/_log

I have no clue what's going wrong there. @Floessie Do you have an idea?

[2017-12-11 19:52] Floessie commented on #4223
@heckflosse Looking...

[2017-12-11 20:16] Floessie commented on #4223
[code]
Wait, what? 😕

[code]
I'll have a look at this one in the next days.

[code]
Here, too.

[code]
And here, too.

[code]
I don't see a `void` result here, but later on the type deduction fails. Maybe we should be a bit more explicit about the lamba return type:
[code]

HTH,
Flössie

[2017-12-11 20:24] heckflosse commented on #4223
@Floessie Shall I commit your patch?

[2017-12-11 20:26] heckflosse commented on #4223
@Floessie

I saw this too. I can fix it using

`std::min(static_cast<int>(maxcount), valuesize - ofs)`

[2017-12-11 20:41] sguyader commented on #4221
That would be a nice tool in RT's arsenal. Would that eventually allow
merging xtrans images for HDR blending/tonemapping?

[2017-12-11 21:12] agriggio commented on #4222
@heckflosse Ingo, here's a version that works (should, at least :-) for all the 4 individual frames:

[code]

[2017-12-12 06:42] Floessie commented on #4223
Maybe @mbajor could test it first? It's a shot in the dark after all...

But that's crazy. `std::min()` is supposed to be
[code]

What's wrong with this GCC 5.2? In the log file I saw a 4.8 getting installed as well, that could be the crux.

Best,
Flössie

[2017-12-12 07:40] Beep6581 opened #4224 "Detail windows seem broken"
The detail windows show a greatly pixelized image when I zoom in past about 300-400%. In the screenshot you can see that some detail windows already break at 400% zoom while others can still show the preview at 400% correctly.

Tested using a SONY SLT-A77V raw file from:
https://filebin.net/vko4wznvvaulyz40/DSC00989.ARW
Mirror: https://discuss.pixls.us/t/playraw-presolana-was-salvaging-a-raw/5769/

[2017-12-12 07:43] Beep6581 opened #4225 "Border artifacts using RCD demosaicing"
Purple border artifacts using RCD.

Tested using a SONY SLT-A77V raw file from:
https://filebin.net/vko4wznvvaulyz40/DSC00989.ARW
Mirror: https://discuss.pixls.us/t/playraw-presolana-was-salvaging-a-raw/5769/4

Branch: colortab-tools-onoff
`15.3-283-g`11ca61e

![imgur-2017_12_12-08 43 15](https://user-images.githubusercontent.com/5844619/33872772-84aaa838-df18-11e7-8ccd-d587c21d7f02.png)

[2017-12-12 08:11] agriggio commented on #4223
@Floessie  why are you confused? the code is comparing a `size_t i` (unsigned) to the result of `std::min` (signed)... seems a perfectly fine warning to me... Or maybe I misunderstdood your comment?

[2017-12-12 08:53] Floessie commented on #4223
@agriggio Alberto, you opened my eyes! And now I see, it wasn't introduced by my [advise](https://github.com/Beep6581/RawTherapee/commit/a3d59a864a661ad30cc8193aab2a5515c385cbc6). 😌

[2017-12-12 09:35] Timmitry commented on #4220
@heckflosse Thanks for the hint to the new version - I'll try it out these days!

@Beep6581 For now, I only wanted to generate JPEGs from my RAWs, and not edit each picture manually. I'm not sure if RT does some optimizing with the fast export, that would be nice, but if not, that's okay too. Thanks for the links, I'll hopefully start learning some basics soon...

[2017-12-12 10:47] agriggio commented on #4222
@heckflosse Ingo, I was too curious and so I started playing with the pixelshift code. I used the following hack to make it work... I hope you don't mind!

[code]

[2017-12-12 12:43] heckflosse commented on #4222
@agriggio Alberto, great! I posted some screenshots in the pixls.us thread

[2017-12-12 12:47] heckflosse commented on #4224
Confirmed

[2017-12-12 14:09] agriggio commented on #4222
@heckflosse thanks. I've also added a patch for basic pixel-shifting using the good old dcraw :-) (of course, no motion correction though)

[2017-12-12 14:57] heckflosse commented on #4222
Now we need that PS symbol on the thumbs of arq ps files...

[2017-12-12 15:19] agriggio commented on #4222
@heckflosse should we create a `arq-pixelshift` branch?

[2017-12-12 16:12] heckflosse commented on #4222
@agriggio Alberto, yes, please :)

[2017-12-12 19:50] agriggio commented on #4222
@heckflosse just pushed branch `sony-pixel-shift`

[2017-12-12 19:57] agriggio commented on #3542
@Beep6581 I agree. I'll fix that.

BTW, should I also add an on/off switch for Exposure and L\*a\*b\* adjustments?

[2017-12-12 20:09] agriggio commented on #3542
Done

[2017-12-12 20:11] heckflosse commented on #4222
@agriggio great, thank you. I will push a change to remove `Pentax` from the bundled profiles `Pentax Pixel Shift` folder

[2017-12-12 20:19] agriggio commented on #4222
@heckflosse Ingo, would you consider exposing also the camera make (and not just the model) in `RawImageSource::pixelshift`? That might be a bit more future-proof... (low priority of course)

[2017-12-12 20:39] heckflosse commented on #4222
@agriggio pushed

[2017-12-12 20:44] Beep6581 commented on #3542
@agriggio I know users would like that, and I would personally like that too!

[2017-12-12 20:49] agriggio commented on #4225
Here's a patch, can you please test?
[code]

[2017-12-12 21:13] Beep6581 commented on #4225
The artifacts are gone.

There is room for improvement, but that's probably unrelated to this specific issue.

Before:
![1 - rcd before](https://user-images.githubusercontent.com/5844619/33908918-388db6bc-df8a-11e7-8f6b-ebe8f7d6098c.png)

After, RCD:
![2 - rcd after](https://user-images.githubusercontent.com/5844619/33908923-3bffb192-df8a-11e7-8e40-2d381949484e.png)

AMaZE:
![3 - amaze](https://us

[2017-12-12 21:23] #4225 closed, assigned to nobody

[2017-12-13 07:13] Floessie commented on #4222
Here's a little change for better code locality and that might prevent static analyzer warnings concerning implicit copy and assignment operators:

[code]

I didn't dare to turn `RawDataFrameReorder::model_` into a `const std::string&` as I don't have the files and time to test, but it should be feasible in this context.

Best,
Flössie

[2017-12-13 08:25] agriggio commented on #4222
Thanks @Floessie for the review. FWIW, I think the class is better put in the anonymous namespace than inside the body of the `pixelshift` method, which is already quite long and complex.

[2017-12-13 09:03] Floessie commented on #4222
I don't mind. Function local classes have their certain charm when a class is only used in that function (especially as they are allowed to call private functions of the surrounding class), but I think code- and linker-wise it's the same.

So here's another version, which is now also `const`-correct:

[code]

Best,
Flössie

[2017-12-13 09:43] agriggio commented on #4222
@heckflosse Ingo, on this file: https://filebin.net/w6vabcr6ndktteo7/Sony_a7RIII_motion_pixelshift_longexposure.ARQ
reordering of the frames is not performed because the camera is wrongly reported as `ILCE-7RM2` inside `pixelshif`. Yet, RT shows it to be `ILCE-7RM3` in the info panel... any idea what is going on?

[2017-12-13 10:22] Beep6581 commented on #4222
[code]
Could it be that someone changed the `SonyModelID` tag intentionally, as suggested here?
http://www.fredmiranda.com/forum/topic/1514359/74#14265492

Note that you need the latest version of ExifTool (not sure exactly which - it doesn't work in 10.64 but works in 10.68) if you want to set the tag to `ILCE-7RM3`, but `ILCE-7RM2` can be set in older versions.
Or you can probably do it in an ol

[2017-12-13 10:24] agriggio commented on #4222
@Beep6581 ah that could definitely be. I've seen that trick being suggested on several places indeed... :frowning_face:

[2017-12-13 11:02] agriggio commented on #4222
Ok I worked around it. However, there's still something we are missing I think. I tried with the Sony software, and although the result is full of motion artifacts, on areas without motion it shows an incredible amount of detail. I just cannot get there with RT, and I tried hard... here's an example:

**RT**:
![rt](https://user-images.githubusercontent.com/11982086/33935679-1ad341be-dffd-11e7-9139

[2017-12-13 12:50] heckflosse commented on #4222
@agriggio Alberto, at a first look the noise reduction median clearly destroys some detail

[2017-12-13 12:51] agriggio commented on #4222
@heckflosse but if I don't do that I get an annoying grid pattern.... I really tried a bunch of things, and I'm still doing...

[2017-12-13 13:00] heckflosse commented on #4222
@agriggio Alberto, here's my pp3
[Sony_a7RIII_motion_pixelshift_longexposure_ingo.ARQ.txt](https://github.com/Beep6581/RawTherapee/files/1555541/Sony_a7RIII_motion_pixelshift_longexposure_ingo.ARQ.txt)

Left is with my pp3, right is with yours
![grafik](https://user-images.githubusercontent.com/13733487/33940023-ad9c8194-e00d-11e7-90d7-4c0771558dc0.png)

[2017-12-13 13:04] heckflosse commented on #4222
@agriggio false colour suppression is your friend. It removes a lot of the grid pattern

[2017-12-13 13:17] agriggio commented on #4222
@heckflosse Ingo, the pp3 you linked is identical to mine -- are you sure you uploaded the right one?
Anyway, looking at your screenshot I agree it's more detailed, but also noisier. I see a lot of white pixels.
I still think we are missing something compared to sony (which is totally understandable at this stage, of course).
I just want to understand *what*, exactly :-)

[2017-12-13 13:26] agriggio commented on #4222
A-HA!! I thought this was totally useless for pixelshift, I would have never considered it! Here's a new comparison, old vs new (disable median filter, enable 1 step of false color suppression):

**OLD**

![old](https://user-images.githubusercontent.com/11982086/33941060-8ec371d4-e011-11e7-8bac-c834b57775a7.png)

**NEW**

![new](https://user-images.githubusercontent.com/11982086/33941068-942fd3f6-

[2017-12-13 13:29] heckflosse commented on #4222
@agriggio it was the wrong file. Basically I used false colour suppression, a bit of cbdl and in custom motion correction I set the blur radius to 5 and ISO adaption to 2. The white pixels are caused by too strong settings for microcontrast

[2017-12-13 13:30] agriggio commented on #4222
BTW, here's my take on the reordering cleanup, which hopefully makes @Floessie happy :yum:

[code]

[2017-12-13 13:31] heckflosse commented on #4222
@agriggio it was the wrong file. Basically I used false colour suppression, a bit of cbdl and in custom motion correction I set the blur radius to 5 and ISO adaption to 2. The white pixels are caused by too strong settings for microcontrast.

Edit: I also used `Equalize brightness of frames` in custom mode.

[2017-12-13 13:32] agriggio commented on #4222
@heckflosse thanks Ingo, as I wrote above just replacing a median (denoise) with another one (false colour suppression) did the trick :wink:

[2017-12-13 14:48] Floessie commented on #4222
@agriggio

Well, not completely 😉. If you change the `static` in `static unsigned frame2pos[] = { 0, 1, 3, 2 };` into `constexpr` you'll save a whopping 72 bytes in the release build binary. 😋

[code]

[2017-12-13 15:53] heckflosse commented on #4222
@agriggio

me too, because now the shift of the frames when using e.g. Amaze and switching frames is the same as for Pentax PS files (down, right, up)

[2017-12-13 15:55] agriggio commented on #4222
Well I hope @Floessie doesn't get upset if I admit this (i.e. consistent behaviour) was the main reason for the change :-)

[2017-12-13 16:28] Floessie commented on #4222
Absolutely not! 😄 The best days are those when verbose code is replaced by terse but readable one. And consistency is 👍.

[2017-12-13 16:39] mbajor commented on #4223
@heckflosse Both i586 and x86_64 builds fail with this error on openSUSE Leap 42.1
Tested with @Floessie patch. Error still occurs.
[code]

openSUSE Leap 42.1 has been released in 2015 and I think we can abandon support it. @Beep6581 What you think?

[2017-12-13 16:54] Beep6581 commented on #4223
End of life for 42.1 was in May 2017. It would be nice if this was fixable, but it's not something to worry about if its not.

[2017-12-13 17:38] Floessie commented on #4223
@mbajor Thanks for testing. @Beep6581 Obviously `row->get_value (exifColumns.isSeparator)` doesn't return the expected `bool` in Marcin's case (but a void). Maybe we can work around it, but that will mean digging much deeper for me. Maybe @Hombre57 has a quick clue, what's going on.

[2017-12-13 17:57] iliasg commented on #4222
Hi guys .. very nice so far .. since I just managed to recover my ability to compile RT I'll be more active to contribute my part :)

As it is now RT use the nRead & ePerIso data from PentaxK70 which is a bit wrong to apply on ILCE-7RM3. Bill Claff provides preliminary data so I copied them .. http://www.photonstophotos.net/Charts/RN_e.htm#Sony%20ILCE-7RM3_14

Please insert at line 507 ..

[code]

[2017-12-13 18:46] heckflosse commented on #4222
@iliasg

That's really good news 👍

[2017-12-13 22:36] Hombre57 commented on #4223
@heckflosse @Floessie @mbajor The compiler doesn't seem to understand that `Gtk::TreeModelColumn<bool>` is a `bool` and then return `void`.

Should be fixed in commit b8ff7c4f7d9fca5b0b9c41d6f9e27e9bb5fa5de2 , could you confirm ?

[2017-12-13 22:36] Beep6581 commented on #4223
:rofl:

[2017-12-13 23:07] Hombre57 commented on #4223
I overlooked @Floessie 's last comment... If you know what the problem is, why not attempting to make a quick fix ?

[2017-12-14 06:56] Floessie commented on #4223
@Hombre57 Your change is basically the same that I tried (and failed with). I haven't looked into this `row->get_value()` thing yet, but there must be something odd with Marcin's compiler. Maybe we can work around it by using a classic callback?

@Beep6581

Reading template substitution errors is a PITA. [~~C++17~~ C++20 concepts](https://en.wikipedia.org/wiki/Concepts_(C%2B%2B)#Compiler_diagnosti

[2017-12-14 09:32] mbajor commented on #4223
@Hombre57 Error still exists in latest build 5.3~git.20171214.293.g1854147c
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Leap_42.1/x86_64/rawtherapee-unstable/_log

[2017-12-14 09:53] Floessie commented on #4223
Looking through the history of that line I found out, it was always implemented as a lambda.

@mbajor Is this a new error, or are you trying to build for openSUSE Leap 42.1 for the first time? I see, your latest build is x86_64, so it's not dependent on architecture but maybe on the ~~GTK~~ sigc++ version. If not building for 42.1 the first time, what was the ~~GTK3~~ sigc++ version that used to w

[2017-12-14 10:16] Floessie commented on #4223
@Hombre57 Here's a related [problem report](https://ubuntuforums.org/showthread.php?t=1883254).

Can you make sense of it?

[2017-12-14 10:26] mbajor commented on #4223
@Floessie As I mentioned above the same error is on i586 and x86_64 openSUSE Leap 42.1.

It is not first build for openSUSE Leap 42.1.
Latest build with success is 5.3~git.20171009.9.g1fdc2d7b.
I'm not able to get latest success log so I don't know which version of GTK was used.

[2017-12-14 10:56] mbajor commented on #4223
@Floessie I've created branch of OBS rev 26.
https://build.opensuse.org/package/show/home:marcinbajor:branches:home:rawtherapee/rawtherapee-unstable
This is latest OBS revision without errors for openSUSE Leap 42.1. This revision contains RT 5.3~git.20171009.9.g1fdc2d7b.

5.3~git.20171009.9.g1fdc2d7b builds with success on current build enviroment.
https://build.opensuse.org/public/build/home:marc

[2017-12-14 12:50] Floessie commented on #4223
Meanwhile I've set up a VM and can reproduce the problem. A `git bisect` reveals ae19b6485a2078cb9e431089ce5f7680e1f3d265 as the problematic commit, which isn't a surprise. 😉

[2017-12-14 12:57] Floessie commented on #4223
I think, I found a solution. Stay tuned, this machine isn't that fast...

[2017-12-14 13:26] Hombre57 commented on #4223
@Floessie Was the problem forecastable ? It worked fine so far and TBH, I copy/pasted this code from a lambda forum.

[2017-12-14 13:42] Floessie commented on #4223
@mbajor Marcin, here's a patch that should work:

[code]

@Hombre57

No, not really. We lowered our requirements for libsigc++ to [2.3.1](https://github.com/Beep6581/RawTherapee/commit/55517812ff04ea896e362977f2b79e1b1213c208) when there were no such lambdas. And 2.3.1 doesn't seem to support lambdas with return values. This must have been introduced sometime later. So we couldn't catch that probl

[2017-12-14 14:23] mbajor commented on #4223
@Floessie Fixed, thank you!

[2017-12-14 14:35] Floessie commented on #4223
Fine, I'll push tonight.

[2017-12-14 15:05] TooWaBoo commented on #4148
New update
[code]

[2017-12-14 17:08] mkyral opened #4229 "TP_TM_FATTAL_ALPHA, TP_TM_FATTAL_BETA keys in Preferences/Batch processing"
In Preferences / Batch processing window, in section HDR Tone Mapping are keys TP_TM_FATTAL_ALPHA and TP_TM_FATTAL_BETA instead of text.

![obrazek](https://user-images.githubusercontent.com/155542/34004607-a452c2ce-e0f8-11e7-858f-e1662bff1c36.png)

These keys are in code only once. I think keys TP_TM_FATTAL_AMOUNT and TP_TM_FATTAL_THRESHOLD should be used.

[code]

[2017-12-14 17:39] heckflosse commented on #4229
Thanks for reporting. Bug confirmed

[2017-12-14 18:28] heckflosse commented on #4229
@agriggio Alberto, can you take this one? I don't remember whether amount corresponds to alpha or beta...

[2017-12-14 19:14] #4223 closed, assigned to nobody

[2017-12-14 19:19] agriggio commented on #4229
sure!

[2017-12-14 22:36] gaaned92 commented on #4148
and also `mingw-w64-x86_64-qtwebkit` (part of QT5)

[2017-12-14 22:50] heckflosse commented on #4148
@gaaned92

which is a dependency for building lhdr. But I appreciate that you mention it here too 👍

[2017-12-16 00:31] Hombre57 commented on #4216
@Beep6581 Trivial patch, tested successfully here, so closing. I made some code refactoring for simplification too.

[2017-12-16 00:31] #4216 closed, assigned to Hombre57

[2017-12-16 01:58] Hombre57 commented on #4224
I think that what we see is the coarse image instead of the real preview. Might be connected to the bug of the detail window frozen to the coarse image when it opens (I don't see any opened issue for this).

This might be a race condition somewhere.

[2017-12-16 09:34] Floessie commented on #4224
@Hombre57

It was mentioned on [pixls](https://discuss.pixls.us/t/hi-a-couple-questions-suggestions-but-first-therapee-is-awesome/5798/11) lately.

[2017-12-16 13:58] Hombre57 commented on #4179
@Beep6581 Are you still in charge of this issue ?

[2017-12-16 14:30] Beep6581 commented on #4179
Completely forgot about this. I'll test it out today/tomorrow.

[2017-12-16 15:17] Beep6581 opened #4231 "Segfault in rawtherapee-cli if output folder does not exist"
[code]

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main-cli.cc#L334

[2017-12-16 15:23] Beep6581 commented on #4231
Once a decision is made about how to handle this, then we will know what info to put into the `--help` text (and RawPedia).

[2017-12-16 16:24] Hombre57 commented on #3542
@Floessie

Wouldn't a checkbox "Image is a Negative" in the WB tool be simpler ? It would let `RawImageSource` and `StdImageSource` update the values before computing the WB ?

[2017-12-16 16:27] Hombre57 commented on #3542
@Floessie ...later on another chekbox could tell if image is an infrared capture. Don't know what to do with this information though.

[2017-12-16 18:48] Beep6581 commented on #4179
[code]

Uncompressed:
[code]

Compressed:
[code]

Times of subsequent runs vary by up to ~10%.

Column headers abbreviated so they fit in GitHub:
`Unc` = `uncompressed`
`NONE` = `PREDICTOR_NONE`
`HORIZONTAL` = `PREDICTOR_HORIZONTAL`
`FP` = `PREDICTOR_FLOATINGPOINT`

# 8-bit

`5.3-297-g`c202a612

## saveTIFF Time (ms)

Filename | Unc | NONE | HORIZONTAL
--- | --- | --- | ---
Sony_a7RIII_f8_ISO100_d

[2017-12-16 18:58] Beep6581 commented on #4179
Conclusions.

The file size difference between `PREDICTOR_NONE` and `PREDICTOR_HORIZONTAL` is significant. The time increase varies between 1-4x. **If someone chooses to use TIFF compression, they are prioritizing file size over time.** As such, I think it's fine to hard-code `PREDICTOR_HORIZONTAL`.

For floating-point files, using `PREDICTOR_FLOATINGPOINT` saves a lot of both time and space. It's

[2017-12-16 19:06] Beep6581 commented on #2357
[code]

@agriggio +1 for merging this. I ran into no issues while testing.

See also #4179 for enabling `PREDICTOR_FLOATINGPOINT` which significantly reduces file sizes.

32-bit floating-point test files using `PREDICTOR_FLOATINGPOINT` and `PREDICTOR_HORIZONTAL`
https://filebin.net/l19s1pu36p5l2vjr

GIMP-2.9.6 opens the `PREDICTOR_FLOATINGPOINT` like this:
![imgur-2017_12_16-20 04 19](https://user

[2017-12-16 19:12] agriggio commented on #2357
@Beep6581 thanks for testing! however, even if it works this is almost useless at the moment I'm afraid. unfortunately RT clips to 65535 in various places during processing, which kind of defeats the purpose... changing this is not a 5-minutes work, but we might attempt when restructuring the pipeline

[2017-12-16 19:20] Beep6581 commented on #2357
@agriggio wouldn't it make sense to merge this, but to just hide it from the UI until those problems are resolved? To prevent merge conflicts and to make testing easier in the future.

[2017-12-16 19:24] Beep6581 commented on #4179
Revised conclusion:
Due to RawTherapee not supporting saving 32-bit floating-point TIFFs [any time soon](https://github.com/Beep6581/RawTherapee/issues/2357#issuecomment-352204776), I'm in favor of just hard-coding `PREDICTOR_HORIZONTAL`.

[2017-12-16 19:25] agriggio commented on #2357
yes, that seems a good idea indeed!

[2017-12-16 19:26] heckflosse commented on #4179
👍 for `PREDICTOR_HORIZONTAL`. If I want to go for speed, I will use uncompressed TIFF

[2017-12-16 19:28] Beep6581 opened #4233 "Segfault opening PREDICTOR_FLOATINGPOINT image"
Branch tiff32float, `5.3-212-g`912f9f43

https://filebin.net/l19s1pu36p5l2vjr

[code]

[2017-12-17 02:54] Beep6581 commented on #3413
Now the option is only forced when using Linux and GTK+ >=3.19, as it was reported that scrolling worked in Linux using GTK+ <=3.18.

[2017-12-17 11:19] albfe opened #4234 "Loading partial pp3 profiles resets all other parameters"
In the development versions (from github), when opening a pp3 profile that does not contain all parameters (e.g., it contains only parameters on black and white transformation), all the other parameters are incorrectly reset. Even trying to load the profile with CTRL+load and selecting only the relevant options causes the same problem.

[2017-12-17 12:52] TooWaBoo commented on #4234
Uncheck this button :-)

![grafik](https://user-images.githubusercontent.com/13800920/34079623-830fe46c-e331-11e7-9bef-07a042eb351e.png)

[2017-12-17 12:59] albfe commented on #4234
Oops, sorry that I missed this option, it works! :)

[2017-12-17 18:57] Hombre57 opened #4236 "Points from Flat curve editor sometimes difficult to select if close to each other"
The title says it all.

On the solution side : as suggested by @agriggio, we should be able to zoom to a certain part of the curve so we could act locally. Doable, but would like to have a broader opinion.

[2017-12-17 21:45] #4234 closed, assigned to nobody

[2017-12-18 12:46] Hombre57 commented on #4233
The problem is the mismatch between Exif's endianess and the data endianess. They have to be the same. I'll try to fix that tonight.

[2017-12-18 12:52] Hombre57 commented on #4179
This issue is related to  #4233, I'll make a patch there that fix the segfault and implement `PREDICTOR_HORIZONTAL` for 8/16 bits compressed images and `PREDICTOR_FLOATINGPOINT` for 32 bits ones.

[2017-12-18 15:13] okoncevoy commented on #4198
Looks like I will add restart required label. Now I can't find sane way to re-init color management panel in editor panel after saving preferences.

[2017-12-19 00:41] Hombre57 commented on #4233
@Beep6581 Could you test the new files in [Filebin](https://filebin.net/l19s1pu36p5l2vjr) ? I don't find the pixls.us thread anymore, but it would be nice if those files could be tested with other software.

[2017-12-19 10:10] Beep6581 commented on #4233
@Hombre57 both LZW and Deflate load fine in GIMP as well as in RT! Though they both suffer from a color cast:
![imgur-2017_12_19-11 05 58](https://user-images.githubusercontent.com/5844619/34151894-185937e0-e4ad-11e7-8402-5a2f36eb6a0c.png)
![imgur-2017_12_19-11 09 05](https://user-images.githubusercontent.com/5844619/34151896-188109a0-e4ad-11e7-9bfd-9691abd7d6aa.png)

I'm assuming that you used ne

[2017-12-19 20:46] Hombre57 commented on #4233
@Beep6581 Lol, no, that's just a sh*tty processing session 🤣 The image is fine, no color cast (i.e. the danger of Color Toning).

[2017-12-19 20:48] Hombre57 commented on #4233
@Beep6581 So considering the file size, I guess that we should drop LZW and use Deflate only for floating point predictor too !?

[2017-12-19 21:18] Beep6581 commented on #4233
@Hombre57 ha! I was worried it was some black point issue ;)
LZW vs deflate - I think that calls for more testing, using images of various content and ISO... Could you maybe commit this, and leave the compression for a new issue? Or just do as you think best, and we can revise the compression in the future anyway.

[2017-12-19 21:34] Hombre57 commented on #4233
Use this patch to set a specific compression method to 32 bits images.

[code]

[2017-12-20 08:17] Beep6581 commented on #4233
Fixed in commit 5ea5cfd943d2f77f91f3b7f47e377074e57be629.

[2017-12-20 08:17] #4233 closed, assigned to nobody

[2017-12-20 08:18] Beep6581 commented on #4179
`bps == 32 ? PREDICTOR_FLOATINGPOINT : PREDICTOR_HORIZONTAL`

Implemented in https://github.com/Beep6581/RawTherapee/commit/5ea5cfd943d2f77f91f3b7f47e377074e57be629#diff-9cc64a95ee3135fa9f9d133820af996dR1376

[2017-12-20 08:18] #4179 closed, assigned to Beep6581

[2017-12-20 08:40] #4229 closed, assigned to Beep6581

[2017-12-20 14:42] Hombre57 commented on #4236
I'll probably enable zooming through the scroll wheel (like for the preview), while holding down the CTRL button (like for Combobox).

[2017-12-20 14:50] Hombre57 commented on #4198
@lvreclp

Maybe using the content of `Preferences::iccDirChanged` could be copied to `Preferences::workflowUpdate`, so that it updates the `ProfilePanel` ?

[2017-12-20 15:04] agriggio commented on #4236
that would be great!

[2017-12-20 15:05] okoncevoy commented on #4198
@Hombre57  Can check that.

[2017-12-20 20:09] heckflosse opened #4239 "Before/After view gives wrong output for before view in localcontrast branch"
Screenshot with history should be enough to reproduce

![grafik](https://user-images.githubusercontent.com/13733487/34226442-08415f4a-e5ca-11e7-9435-642f4b523f6a.png)

Edit: To easily reproduce, open an image, apply the attached pp3 file and activate before/after view

[labbug.pp3.txt](https://github.com/Beep6581/RawTherapee/files/1576891/labbug.pp3.txt)

Edit: I labeled `Priority-Critical` becaus

[2017-12-20 20:30] heckflosse commented on #4239
Please ignore the issue until I found the reason...

[2017-12-20 20:43] heckflosse commented on #4239
Seems to occur only in localcontrast branch.
To reproduce:

Clear processing profile for a file in file-browser.
Open that file
Enable before/after view.
=> sometimes black, somtimes white, sometimes segfault

[2017-12-20 20:44] agriggio commented on #4239
I'll take a look, I guess it's related to my procevents/refreshmap restructuring

[2017-12-20 20:45] heckflosse commented on #4239
@agriggio Thank you 👍

[2017-12-20 21:20] agriggio commented on #4239
found the problem, working on a fix

[2017-12-20 21:38] agriggio commented on #4239
@heckflosse Ingo can you test please?

[code]

[2017-12-20 21:41] heckflosse commented on #4239
@agriggio compiling...

[2017-12-20 21:51] heckflosse commented on #4239
@agriggio Your patch fixed it \o/

[2017-12-20 22:16] #4239 closed, assigned to nobody

[2017-12-21 07:23] Hombre57 commented on #4236
@agriggio Just to avoid any confusion, the zoom will be horizontal only. I don't think it makes sense to zoom in both directions.

[2017-12-21 12:33] TooWaBoo commented on #4148
New update

[code]

[2017-12-21 12:49] agriggio opened #4241 "Sony A7RIII DCP profile"
Colour target shots contributed by ron at pixls.us:

- daylight: https://filebin.net/f1ypcrrg8wl1r3f8

- tungsten: https://filebin.net/5lbtz6cqnayo0e6w

I tried generating the DCP myself, just to see get more familiar with the procedure. I'm attaching the result and the log files here in a zip archive.

I used the Sony_a7RIII_f8_ISO100_daylight_expcomp0.ARW and Sony_a7RIII_f8_ISO100_tungsten_expco

[2017-12-21 12:51] agriggio commented on #4236
@Hombre57 I agree about the proposed behaviour. However, I think we would also need some way of panning/sliding horizontally so that we can put the red hues towards the middle of the frame. Otherwise, editing those curves could still be difficult... thoughts?

[2017-12-21 12:52] TooWaBoo opened #4242 "GUI locale generateTranslationDiffs issue"
There's an issue with generateTranslationDiffs.
bayerprocess.cc contains following lines:
[code]
generateTranslationDiffs include the commented keys in the locale files.
[code]

[2017-12-21 14:07] Beep6581 commented on #4236
Personally:
1. I have no issue with making fine adjustments using the tool the way it is. I hope the change doesn't complicate that.
2. I edit the red-yellow range most often, and the blues second-most often. However, the red-yellow range usually requires fine control, while the blue requires no finesse.
3. Being able to pan with wrap-around means you don't need to worry about which color to put o

[2017-12-21 14:10] Beep6581 commented on #4242
It's not an issue with `generateTranslationDiffs` as the script doesn't scan source files, and doing so would be impossible without parsing C++. Scanning source files is `generateUnusedKeys` job, though it requires human intervention due to not parsing C++.

Those two keys are in the locales because they are in `default`, and they should stay in `default` as long as the commented-out code is there

[2017-12-21 14:10] #4242 closed, assigned to nobody

[2017-12-21 14:15] agriggio commented on #4236
I agree with 2 and 3, and I think the proposal by @Hombre57 won't affect 1 :-)

[2017-12-21 14:15] Beep6581 opened #4243 "Document the Local Contrast tool"
The Local Contrast tools needs to be documented:
1. Explain what it does and how it does it.
2. Which colorspace is used.
3. Between which tools it lies in the pipeline.
4. Describe the sliders.

[2017-12-21 14:18] Beep6581 opened #4244 "Document the Pixel Shift tool"
The Pixel Shift tools needs to be documented:
1. Explain what it does and how it does it.
2. Between which tools it lies in the pipeline.
3. Describe the sliders.
4. Explain how to use it.

[2017-12-21 14:18] agriggio commented on #4243
Will do. Also HDR Tone Mapping needs some docs probably.

[2017-12-21 14:19] Beep6581 opened #4245 "Document the HDR Tone Mapping tool"
The HDR Tone Mapping tools needs to be documented:
1. Explain what it does and how it does it.
2. Which colorspace is used.
3. Between which tools it lies in the pipeline.
4. Describe the sliders.
5. How to use it.

[2017-12-21 14:21] Beep6581 commented on #4243
I hope to find time for this next week.

I posted about it today:
https://plus.google.com/b/106783532637761598368/+rawtherapee/posts/jL6r2izuHrx
We can re-use those screenshots for RawPedia.
https://filebin.net/k82hy7deaw98e847

[2017-12-21 14:27] agriggio commented on #4245
@Beep6581 here's a description of what it does and how. The only missing part is the description of the "darkness" and "lightness" sliders, which are essentially just ways of giving more boost to the shadows and highlights in the local contrast mask:
http://www.cambridgeincolour.com/tutorials/local-contrast-enhancement.htm

[2017-12-21 14:29] agriggio commented on #4245
More info: operates in LAB space (on the L channel), applied right after RGB processing and before other LAB processing.

[2017-12-21 14:34] agriggio commented on #4243
@Beep6581 here's a description of what it does and how. The only missing part is the description of the "darkness" and "lightness" sliders, which are essentially just ways of giving more boost to the shadows and highlights in the local contrast mask:
http://www.cambridgeincolour.com/tutorials/local-contrast-enhancement.htm

[2017-12-21 14:35] agriggio commented on #4243
More info: operates in LAB space (on the L channel), applied right after RGB processing and before other LAB processing.

[2017-12-21 14:36] agriggio commented on #4245
Some info: operates in RGB space, and is applied at the beginning of the pipeline, right after denoising, but before the tone curve controls

[2017-12-21 16:01] TooWaBoo commented on #4242
Ok

[2017-12-21 16:03] Kildor opened #4246 "Gtk:ERROR:gtkiconhelper.c:494:ensure_surface_for_gicon: assertion failed (error == NULL)"
I'm downloading Win64 nightlies from Gaaned92 gdrive. And last several builds do not load. Last working for me was RawTherapee_dev_5.3-277-gb99babb8_WinVista_64.zip.
Debug version shows this error:
[code]

If I create such file the RT starts to load fine.

AboutThisBuild.txt from current build which has the error.

Version: 5.3-339-g62585bc4
Branch: dev
Commit: 62585bc4
Commit date: 2017-12-20
Com

[2017-12-21 16:39] Beep6581 opened #4247 "Remove Shadows & Highlights - Local Contrast"
The local contrast element of the Shadows & Highlights tool is known to produce ugly results. What do you think about removing it?

[2017-12-21 16:42] Beep6581 commented on #4246
Ping @gaaned92

Could it be related to the forward-slash?
`/status\`

[2017-12-21 16:44] agriggio commented on #4247
FWIW, also the rest of the Shadows & Highlights tool produces "not very pleasing" results IMHO...

[2017-12-21 17:01] Kildor commented on #4246
there is not 24x24 folder in "C:\Program Files\RawTherapee\share\icons\Adwaita" at all. Nor RawTherapee_dev_5.3-339-g62585bc4_WinVista_64, nor RawTherapee_dev_5.3-277-gb99babb8_WinVista_64 do not contain this folder.
May be there is some other icon which is missed so RT tries to handle this?

[2017-12-21 17:06] Beep6581 commented on #4247
Oh, but I do use it a lot :) Used alone the results are haloish, but used in conjunction with the tone mapping tools it works wonders.

[2017-12-21 17:08] agriggio commented on #4247
@Beep6581 fair enough. How about changing its name then? I think it confuses users... or perhaps move it as a subtool of tone mapping?

[2017-12-21 17:12] agriggio commented on #4247
another alternative: get rid of the "sharp mask" setting, and have it always on. Unless you tell me there's a reason to have it off... :-)

[2017-12-21 17:46] Beep6581 commented on #4247
I certainly will tell you just that ;)

[2017-12-21 18:29] agriggio commented on #4247
ok I concede my defeat :-)
:+1: for removing local contrast in there though

[2017-12-21 18:39] heckflosse commented on #4247
@Beep6581 @agriggio :+1: to remove local contrast from sh/hl gui. Should we keep the engine code for backwards compatibility?

[2017-12-21 19:39] agriggio commented on #4247
I think we should remap old pp3s to the new local contrast tool. I haven't checked the code, but according to rawpedia also the old version was essentially based on unsharp mask...

[2017-12-21 20:09] heckflosse commented on #4247
@agriggio That should by doable be dividing the local contrast value of the old tool by 20 and using that value as amount for the new tool.

Edit: the result is not equal, but very close. But we can't expect it to be equal because the old and new work in different color spaces.

[2017-12-21 20:55] gaaned92 commented on #4246
@Kildor

The 24x24 folder was never included in the windows builds.  So there should be an other problem.
Recently I updated all the share/icons/adwaita data with the last MSYS2 versions. It is perhaps the culprit.

To test here,  I reinstalled RT version dev_5.3-339-g62585bc4 on my W10PC  in C:\Program files\Rawtherapee.
Normal version runs ok. Furthermore, with debug version and in verbose mode

[2017-12-21 21:16] Beep6581 commented on #1697
We switched to GTK3 and had no complaints since then - closing.

[2017-12-21 21:16] #1697 closed

[2017-12-21 21:35] agriggio commented on #4247
Here's a patch that removes the parameter and does the remapping. Can you please test?

[code]

[2017-12-21 23:13] Hombre57 commented on #2017
@Beep6581 @heckflosse @agriggio I managed to write **Exif.UserComment** into compressed tiff files (I've removed one of the two ways of writing Tiff files btw). However I'm struggling at supporting this tag into RT, because we return `std::string` instead of `Glib::ustring` ([see here](https://github.com/Beep6581/RawTherapee/blob/48ecbd169df070b12cca24e8523b357c0f45adc2/rtexif/stdattribs.cc#L464)

[2017-12-21 23:21] Hombre57 commented on #2017
... and I'll probably extend this to other string type fields, if possible.

[2017-12-22 07:05] Floessie commented on #2017
@Hombre57

Technically that's no problem if you convert UCS-2 to UTF-8 internally as long as you don't use it for some fancy (e.g. case insensitive) comparison. Though having a `Glib::ustring` return type could be cleaner.

A common string get-and-decode function would be nice.

Just my 2¢,
Flössie

[2017-12-22 08:16] Hombre57 commented on #2017
@Floessie The standard for EXIF is to use only ASCII chars excepted for `UserComment`. However I'm not sure that this is respected, and we may have non ASCII chars in strings. I'd like to look for chars >127 and consider them as UTF-8 at load time, or probably only when filling the GUI). But I don't know if it's reasonable to write them back the same way (i.e. using invalid chars while).

[2017-12-22 08:20] Hombre57 commented on #2017
Problem exist for IPTC strings too btw, which can handle several charsets globally. I'd like to handle UTF-8 (already done locally) but then we have a UTF-8 strings in metadata, since IPTC is part of the metadata.

[2017-12-22 08:29] Hombre57 commented on #4247
@agriggio Don't forget to bump the _pp3_ version each time something is changed, which is the case here.

[2017-12-22 08:32] Floessie commented on #2017
@Hombre57
Searching for this topic reveals [this exiv2 issue](http://dev.exiv2.org/issues/662). So yes, there are "ASCII" tagged UTF-8 strings out in the wild, but as I understand it, it should be either-or. So your idea about detecting UTF-8 when reading is right, but when writing it should be encoded as UCS-2 if there are characters outside the ASCII plane (if I understand it right, of course).

[2017-12-22 08:59] agriggio commented on #4247
@Hombre57 I bumped it recently when I added the on/off switch to a bunch of tools. As no official version has been released since, I thought bumping again was not needed. If people have a different opinion, please tell me, thanks!

[2017-12-22 09:25] Beep6581 commented on #2017
Perhaps we could use @clanmills advice here.

[2017-12-22 12:01] iliasg commented on #4247
@Beep6581 @heckflosse
Guys .. I think this tools was designed by Gabor to work with a different filter (bilateral ??) .. which was terribly slow .. then Emil (not being able to speed it up) changed to one different filter (this can be 7 years ago ..)

As I recall I had compared them 3-4 times and the old slow version was better on some pictures where the present one is problematic .. but nobody ha

[2017-12-22 12:51] Beep6581 commented on #4247
The old filter took over 3 minutes on a 10 megapixel image on my i7 1.73GHz.

[2017-12-22 13:14] clanmills commented on #2017
I'm reluctant to recommend anything concerning Unicode text strings in Exif metadata.   The Exif Specification says almost nothing about Unicode:  http://www.cipa.jp/std/documents/e/DC-008-2012_E.pdf

Although it's possible to encode and write tags in different Unicode formats (UTF-8, UCS-2 etc), you can't assume they will interoperate with other applications.

I feel this is a matter that should

[2017-12-22 13:29] Hombre57 commented on #2899
@Beep6581 Possible solution : Add a red triangle icon (the warning sign) on top toolbar on which the tooltip would give the error message, plus ("click to dismiss the message(s)"). That button would then act as a message accumulator.

[2017-12-22 13:45] agriggio commented on #4247
@iliasg does your comment apply only to the shadows/highlights part or also to the local contrast? Did you have a chance to try the new tool for the latter? I think it works nicely and it's reasonably fast...
That said, if we can get better tools for shadows/highlights manipulations, I think many people will be happy

[2017-12-22 13:48] agriggio commented on #2899
@Hombre57 I was thinking along similar lines (except that  I was considering putting the icon on the bottom, next to the progress bar... but that was just a thought).
It's definitely doable but might be a bit tedious as it requires several (small) changes

[2017-12-22 14:11] Beep6581 commented on #2899
@Hombre57 maybe a GtkInfoBar?
https://developer.gnome.org/gtk3/stable/GtkInfoBar.html

[2017-12-22 16:28] kazah7 commented on #4247
As far as I remember shadows&highlights tool wasn't as good as it should be. Honestly, I'd love to have improved version of it. Thanks for bringing that up :)

[2017-12-22 16:48] iliasg commented on #4247
@agriggio Alberto, I didn't  test the new Local Contrast .. I'll do this tonight
BTW .. I don't know/understand how tightly are shadows/highlights linked with the shadows/highlights local contrast algorithm .. can we use a different local contrast algorithm with good side effects for the S/H tool ?.

@Beep6581 DrSlony, as I recall the original algorithm was not parallelized nor optimized for speed

[2017-12-22 17:15] agriggio commented on #4247
@iliasg I think the new algorithm uses the same ideas as the old one for local contrast. it's just that it seems to produce nicer results, at least to my eyes

[2017-12-22 17:16] agriggio commented on #4247
forgot to add: the new one works on L, the old on RGB

[2017-12-22 20:57] heckflosse commented on #4247
@iliasg

first rule : Never make a forecast before you started speeding up an algorithm/implementation ;-)

[2017-12-23 00:11] Hombre57 commented on #2899
@Beep6581 I don't know how it's visually displayed (as an icon or only a temporary notification popup ?), but yes, that should do it.

[2017-12-23 05:58] Kildor commented on #4246
I'd downloaded RawTherapee_dev_5.3-339-g62585bc4_WinVista_64 with pgp

iQEcBAABCAAGBQJaPCBDAAoJEAArvnMO8uhgYvYH/RWR9yhl7n9/fnQ4UU9EQxvW
Bx3l8mRnEib7ZAc+L3Y2bHBHZKw88wVWbhzWPCI+AWKLPvVBr4kmlUrRtPU+o10h
TCiM0O+3GlBMvcGLIptMB9Kzoyhju/K8z/kifkmNKfFchgUEwKBC+Bt94QYbihKp
6BL+ro+u3WSMfClal/oxzm5zqsEccj2fYLygb4tOowvTf2HDINGBXOC2boUqajd/
ECeDzb2Iy8HQFBsr5sRXCZ1CvVNUW1VoZBq5bClXGGzHRPld9LXc9P38iIbUaTuv
QO1s

[2017-12-23 08:59] gaaned92 commented on #4246
@Kildor  thanks for testing

- As the above build was made with exactly same process as 277, I think the build process itself is not the culprit.

To permit developpers to understand what is happening, could you do the following:

- go to your config folder located at" %LOCALAPPDATA%\rawtherapee5-dev". Edit the option file. change "verbose=false" to" verbose =true" (located in beginning of option

[2017-12-23 15:18] Kildor commented on #4246
Here it is.

[gdb.log](https://github.com/Beep6581/RawTherapee/files/1584203/gdb.log)

[2017-12-23 15:58] gaaned92 commented on #4246
@heckflosse @agriggio @Floessie
Can you understand what is happening?

The same 339-g62585bc4 build runs ok here. Of course, I took MSY2 out of  %PATH%.

@Kildor  In the meantime, I will add the Adwaita\24x24\status\image-missing.png to the builds.

[2017-12-23 16:14] heckflosse commented on #4246
@gaaned92 I can only guess that a png file is missing and then gtk tries to access the `image-missing.png` to show that a png is missing, but `image-missing.png` is also missing.

[2017-12-23 17:00] Floessie opened #4249 "HL reconstruction sometimes not enabled"
Hi fellows,

Today I had a RT session with 156cb762ec08bb2af8840d7034bd541bc8a32526. Using the default profile, for some images the HL reconstruction wasn't active when first opening them, and I had to activate it manually.

Do you experience the same? Could have slipped in lately...

Best,
Flössie

[2017-12-23 17:10] gaaned92 commented on #4246
@Kildor
I added image-missing.png to the build RawTherapee_dev_5.3-346-ga2bf6081_WinVista_64.zip
uploaded at
https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8

- can you test as above please?
- Can you now  identify what PNG is missing through all warnings given in console?
- Do you have specific HW (display...) that could explain the different behaviour on your PC?

@heckflosse @Floes

[2017-12-23 17:35] Kildor commented on #4246
I've installed the build. It doesn't crash. Also there is nothing about missed images in gdb.

About display -- I don't know. I have 1920x1080 display without any specific preferences (like scaling or DPI).

[2017-12-23 17:46] gaaned92 commented on #4246
@Kildor
Could you send the log file as above, copying all text in the console from the gdb/ run command until display of the rawtherapee window.

[2017-12-23 17:47] heckflosse commented on #4249
@Floessie That's normal behaviour.
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improccoordinator.cc#L277

[2017-12-23 18:16] Floessie commented on #4249
Thanks for the hint, Ingo.

Hm, then the decision whether to show it or not is broken. The last image I worked with had a completly burnt sky showing a magenta cast. I wish I could provide you with this one, but it's a portrait and not taken by me...

Until today, HLR was always enabled, I really can't recall a shot where it wasn't. Not that I always overexpose (rather the contrary), but there see

[2017-12-23 18:34] heckflosse commented on #4249
@Floessie As a workaround just enable hl reconstruction for `your` default profile ;-)

[2017-12-23 20:40] heckflosse commented on #4249
@Floessie After looking at the code I think you found a real piece of bullshit in the code, which absolutely makes no sense and is faulty too.

I will take a closer look now and write down my findings in a following post.

[2017-12-23 20:58] heckflosse commented on #4249
@Floessie

Here my findings:

1. the function HLReconstructionNecessary not only returns true if highlights are clipped. It also returns true when shadows are clipped. Why?

2. why is this function in procparams.cc? That does not make sense at all.

3. the function returns true if 50 pixels of a channel are clipped. Why 50? Why independant on image size? Makes no sense.

We really should review th

[2017-12-23 21:11] Floessie commented on #4249
Ingo, thanks for your investigation and the Torvalds-like tone. 😆

Either the code should do what it promises, or it should be flushed down the toilet. `procparams.cc` may have been a good idea once, nowadays I'd expect it to reside in `rtgui` next to the place of its usage...

Glad you found it (and I wasn't completely wrong when reporting)!

Best,
Flössie

[2017-12-23 21:24] heckflosse commented on #4249
@Floessie

I disagree, because it's also used in simpleprocess which is also used in rt-cli, which has no gui ;-)

[2017-12-23 21:44] Beep6581 commented on #4246
![image-missing](https://user-images.githubusercontent.com/5844619/34322846-0db859ea-e833-11e7-908b-94b619599d85.png)

@Kildor do you see this image anywhere in the interface in the new build? If so, where?
And is there anything in the console about missing images/icons?

[2017-12-24 03:17] Kildor commented on #4246
It will be so easy) No, I've never seen this or my image in RT interface. I've compare installed RawTherapee_dev_5.3-277-gb99babb8_WinVista_64.zip and RawTherapee_dev_5.3-346-ga2bf6081_WinVista_64.zip, both compiled and source. There are no difference about icons.

[2017-12-24 12:14] Beep6581 opened #4251 "Perspective correction not rotated when rotating image"
https://filebin.net/diadde2v6zitc8pv

Use "rotate left/right" or "flip horizontal/vertical". I noticed that the crop was wrong afterwards. Then I removed the crop and set horizontal perspective correction to 50, rotated, and the correction was not rotated with the image!

[2017-12-24 12:16] Beep6581 commented on #4251
To reproduce:
* Open any image
* Un-check Auto-fill
* Horizontal perspective correction 100
* Rotate or flip.

![imgur-2017_12_24-13 17 38](https://user-images.githubusercontent.com/5844619/34326457-d9be79e2-e8ac-11e7-827e-e35bffe167f2.png)

[2017-12-24 12:40] heckflosse commented on #4251
For the my old D1x files in portrait orientation (D1x had no orientation sensor) the current behaviour is fine :)

[2017-12-24 12:48] TooWaBoo opened #4252 "HDR Tone Mapping and Noise Reduction issue"
If NR and HDR TM is enabled, NR will not be updated in 100% view when you change any value in the HDR TM tool.

How to reproduce:
1. Open a noisy image and apply "Neutral"
2. Activate NR and HDR TM
3. Switch to 100% view
3. Change any slider in HDR TM

[2017-12-24 13:31] Beep6581 commented on #4252
Confirmed.

5. Change any NR slider - now NR kicks back in.

[2017-12-24 14:24] agriggio commented on #4252
Hi, can you please test this?

[code]

[2017-12-24 14:34] TooWaBoo commented on #4252
@agriggio
Tested and works fine. 👍

[2017-12-24 14:56] heckflosse commented on #4246
@agriggio I guess you closed this issue by accident.

[2017-12-24 14:57] #4252 closed, assigned to agriggio

[2017-12-24 14:58] agriggio commented on #4246
@heckflosse absolutely! I meant #4252, sorry

[2017-12-25 12:11] Floessie opened #4254 "Deadlock when switching large folders"
Merry Christmas,

When trying to reproduce another oddity I encountered a reproducible deadlock of the main thread. Here's what I did:

1. Select a folder with many images.
2. Open one of those images, apply neutral, DCP tone curve, and Fattal (don't think that matters).
3. Switch back to file browser.
4. Select a subfolder with many images.
5. Quickly select the previous (base) folder while the i

[2017-12-25 12:30] Floessie opened #4255 "Clipping with DCP tone curve and HDR tone mapping"
Joyeux Noël,

Try the following steps:

1. Apply neutral to a slightly clipped image (e.g. http://rawtherapee.com/shared/test_images/soderasen_1.hdr.dng).
2. Activate DCP tone curve -> some more clipping, but not too bad.
3. Activate HDR tonemapping -> image badly clipped.

It depends on the input image, how badly it will be clipped. The `soderasen_1.hdr.dng` isn't the best example, but I don't ha

[2017-12-25 13:42] Beep6581 commented on #4255
I confirm that HDR Tone Mapping leads to unexpected results regarding the average exposure of the output image which depends on the input image. Luckily in all cases no data is lost (as far as I can tell) and can be brought back into view using negative exposure compensation or curves.

I haven't yet experimented whether its related to the DCP curve but I saw no indication that that would be the c

[2017-12-25 13:46] Beep6581 commented on #1443
Cannot reproduce in `5.3-346-g`a2bf6081

[2017-12-25 13:46] #1443 closed

[2017-12-25 13:53] Beep6581 commented on #2708
I can still reproduce the steps in the [first](#issue-100405658) and [fourth](#issuecomment-130064944) comments using `5.3-346-g`a2bf6081.

[2017-12-25 13:55] Beep6581 commented on #2708
Maybe related to #2627

[2017-12-25 16:54] agriggio commented on #4255
I don't think this is related to the DCP curve per se. I agree that it would be nice if the tone mapping were more predictable, this is something I'd like to investigate more. fwiw, I personally like to start from neutral when using fattal, and add curves later if needed, otherwise it gets easily out of control

[2017-12-25 22:30] Beep6581 commented on #3558
`5.3-350-g`81d9db35

[2017-12-26 03:24] gatoatigrado opened #4256 "Idea: Add unit testing framework?"
I wrote a demo patch for adding Google's gunit here (https://gist.github.com/gatoatigrado/b769582c36ca1f0bc566d78acb292f71), but I'm not sure the CMake integration is so good (particularly, we'll want to make sure it's not rebuilding more than necessary). The demo patch requires that one run (on Ubuntu),

[code]

I added gunit because I'm familiar with it, but I'm not sure it's the most popular in

[2017-12-26 09:56] Beep6581 commented on #4256
`dev-cpp/gtest` in Gentoo/Sabayon.

[2017-12-26 10:51] Beep6581 commented on #4256
Hey @gatoatigrado

I added your code to the branch [gtest](https://github.com/Beep6581/RawTherapee/compare/gtest), made GTest support optional in CMake, OFF by default, and fixed a bug where failure to CMake it was not caught.

Could you please point me to the docs which explain why this could be beneficial?
We took [some effort](https://github.com/Beep6581/RawTherapee/blob/dev/tools/generateRelea

[2017-12-26 10:53] Beep6581 commented on #4256
Some examples of various approaches to implementing this:
https://github.com/dmonopoly/gtest-cmake-example
https://github.com/kaizouman/gtest-cmake-example
https://github.com/snikulov/google-test-examples (Docker)

[2017-12-26 11:31] Beep6581 opened #4257 "Compilation warnings"
5.3-356-g c17bd0ef
GCC-5.4.0
https://paste2.org/Wsfg7JEH

[2017-12-26 11:37] heckflosse commented on #4257
Fixed in https://github.com/Beep6581/RawTherapee/commit/a31f52213db23fcfde648a3b82dfa176a14c8405

[2017-12-26 11:37] #4257 closed, assigned to nobody

[2017-12-26 12:09] Beep6581 commented on #4257
Fix confirmed.

[2017-12-26 12:17] Beep6581 commented on #2795
Docs updated:
http://rawpedia.rawtherapee.com/Exposure#Curve_Mode
http://rawpedia.rawtherapee.com/Color_Management#Working_Profile

[2017-12-26 12:17] #2795 closed

[2017-12-26 12:18] Beep6581 commented on #3413
Closing as worked-around.

[2017-12-26 12:18] #3413 closed

[2017-12-26 13:57] agriggio commented on #4256
:+1: for adding google test. (I use it myself for my projects at work, FWIW)

[2017-12-26 14:30] Beep6581 commented on #4104
I made a major update to http://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles and related articles loosely based on @olhof's input.

[2017-12-26 14:30] #4104 closed, assigned to Beep6581, agriggio

[2017-12-26 15:09] TooWaBoo commented on #4148
New update

[code]

[2017-12-26 17:27] blankester opened #4258 "raw therapee Mac problem CTRL click not working"
Hi there new user here, this looks like a great program.  I am pulling in hundreds of images for timelapse photography and I managed to save a picture profile I like but when I go to file browser and CTRL A to select all (fine) I then CTRL click to right click and use this profile on all the images to send to batch nothing happens on right click. I tried downloading vsn 5.3 more recent to see if t

[2017-12-26 17:50] Beep6581 commented on #4258
Duplicate of #3510

@blankester please seek help in that issue.

[2017-12-26 17:50] #4258 closed, assigned to nobody

[2017-12-26 23:04] heckflosse opened #4259 "Possible speedups in rgbProc() using the vectorized LUT access from @gatoatigrado and a modification for LUTs which don't clip"
This issue is about possible speedups using the he vectorized LUT access code provided by @gatoatigrado 👍 and a modification of that code for LUTs which don't clip.

In first step, I made the following improvements:

1. used the vectorized LUT access also for Tone Curve 2

2. made some slight mods to the code to use the vectorized LUT access also for another 2 steps in rgbProc which are executed a

[2017-12-27 09:29] olhof commented on #4104
I have read the revised article on Sidecar-Files-Processing. Very good indeed, a big improvement to the Rawpedia text and much better than my draft (I also learned something new from reading the revised article).
It has been a pleasure to work with you guys……:o)!

[2017-12-27 11:31] Beep6581 opened #4260 "Custom ICC not read from PNG"
`5.3-357-g`a31f5221
libpng 1.6.34
cairo-1.14.10
cairomm-1.12.0

http://rawtherapee.com/shared/test_images/redblue.png
http://rawtherapee.com/shared/test_images/redblue.icc

RawTherapee does not display the colors in `redblue.png` correctly.
A warning is thrown in the console:

If you open the PNG and set the ICC manually, the colors are fine.

I found that libpng-1.6.* is more stringent in ICC che

[2017-12-27 12:20] agriggio commented on #4260
I'll take a look, thanks for the analysis!

[2017-12-27 12:45] Beep6581 commented on #4260
http://www.libpng.org/pub/png/libpng-manual.txt

reader now does pretty complete validation of the basic format.  Some bad
profiles that were previously accepted are now accepted with a warning or
rejected, depending upon the png_set_benign_errors() setting, in particular
the very old broken Microsoft/HP 3144-byte sRGB profile.  Starting with
libpng-1.6.11, recognizing and checking sRGB profiles c

[2017-12-27 12:56] agriggio commented on #4260
so what's the bottom line? even if the profile is not strictly valid, I'd say we should try and use it anyway. do you agree?

[2017-12-27 13:06] #1188 closed

[2017-12-27 13:08] #2750 closed

[2017-12-27 13:24] Beep6581 commented on #4212
Related #1688

[2017-12-27 13:26] Beep6581 opened #4261 "Verbose feedback user warning if PP3 does not apply as expected"
RawTherapee should provide verbose user feedback if some element of the processing profile fails to load, for example:
- A flat-field image was not found - show the filename.
- A dark-frame image was not found - show the filename.
- The PP3 uses a tool which does not exist - show the keys.
- The HaldCLUT could not be found, e.g. #4388 - show the filename.
- The input/working/output profile is not

[2017-12-27 13:27] Beep6581 commented on #4260
I agree, RT should still try to load it.

By the way, this sort of problem, that the embedded ICC profile was found but not used, or that it was used but is known to be broken, is something that the user should be informed about, see #4261.

[2017-12-27 13:35] Beep6581 commented on #4260
I couldn't find where PNG files get their profile from, maybe they don't?

`ImageIO::loadJPEGFromMemory` and `ImageIO::loadJPEG` have this:
[code]

`ImageIO::loadTIFF` has this:
[code]

`ImageIO::loadPNG` has only this:
[code]

[2017-12-27 14:48] agriggio commented on #4260
This works for me, but I'm on libpng v1.2.57. @Beep6581 can you please test?

[code]

[2017-12-27 16:27] Beep6581 commented on #4260
@agriggio compilation fails using GCC-5.4.0 with:
[code]

[2017-12-27 16:32] agriggio commented on #4260
@Beep6581 libpng version?

[2017-12-27 16:45] Beep6581 commented on #4260
Still libpng-1.6.34 ;]

[2017-12-27 16:46] agriggio commented on #4260
@Beep6581 try this please:

[code]

[2017-12-27 16:49] Beep6581 commented on #4260
@agriggio do I apply this on top of the previous patch?
[code]

[2017-12-27 16:52] Beep6581 commented on #4260
One applied on top of the other, and RT compiled!
Testing.

[2017-12-27 16:54] Beep6581 commented on #4260
Works!
![imgur-2017_12_27-17 54 14](https://user-images.githubusercontent.com/5844619/34387527-fc1bf3d2-eb2e-11e7-9ee1-a928ff722442.png)

[2017-12-27 17:03] agriggio commented on #4260
great! If no objections, I'll push later today then

[2017-12-27 17:06] Beep6581 opened #4262 "ICC not embedded when writing PNG files"
RawTherapee does not embed the ICC profile when writing PNG files!

Output profile: ACES
![imgur-2017_12_27-17 58 47](https://user-images.githubusercontent.com/5844619/34387750-37b3e750-eb30-11e7-9af5-e8de8669ed49.png)

If I insert the ACES profile into the PNG using ExifTool then it displays correctly when using @agriggio's patch from #4260:
[code]

![imgur-2017_12_27-18 06 38](https://user-image

[2017-12-27 17:14] Beep6581 commented on #3352
In the past, metadata support for PNG files was missing across most software. Nowadays it is present, at least in the programs that matter, so RawTherapee should follow suite, especially since PNG files have less oddities compared to TIFF (AFAIK), and following the recent patch #4045 PNG files compress better and faster (or was it one of the two?) than before.

[2017-12-27 21:55] #4260 closed, assigned to nobody

[2017-12-27 22:20] heckflosse opened #4263 "Raw crop"
A while ago I created the [rawcrop branch](https://github.com/Beep6581/RawTherapee/tree/rawcrop), which allows to define a raw crop in pp3 instead of camconst.json

The engine part should be ready, but we need a gui for it.

The raw crop will be applied at decoding the raw file. That means, once it's applied, we won't have access to the parts outside the raw crop. This reduces memory usage and pro

[2017-12-27 22:26] Hombre57 commented on #4263
I'll try to do that GUI with a button for on preview adjustment, just like the Gradient tool. The pipeline will be truncated so that it'll decode and get the raw image without any transformation and skip everything else !

Assigning this issue to myself (if you're okay), but will remove it if unsuccessful.

[2017-12-27 22:36] agriggio commented on #4262
Please ack that this works also for libpng 1.6.x:

[code]

[2017-12-27 22:39] Hombre57 commented on #4263
@heckflosse @Beep6581 Only 4 spin buttons for X, Y, Width and Height, + a button for on preview adjustment will be enough ? (no aspect ratio, ppi, etc...)

[2017-12-27 22:46] heckflosse commented on #4263
@Hombre57 yes, only x, y, w and h

[2017-12-27 23:24] TooWaBoo commented on #4148
New update

[code]

[2017-12-27 23:59] agriggio commented on #3352
@Beep6581 please test this, thanks! Seems to work here but I'm generally not that picky about metadata being preserved, so I don't know if everything works as expected...

[code]

[2017-12-28 19:03] Beep6581 commented on #4262
@agriggio awesome to see a patch!
Compilation fails:
[code]

[2017-12-28 19:08] Beep6581 commented on #3352
The patch fails to apply if I don't have the one from #4262 applied, so I have to wait for that one to be fixed before I can test.

P.S. Would be simpler using branches ;)

[2017-12-28 19:32] agriggio commented on #4262
@Beep6581 replace with `const_cast` and it should work.
incidentally, this is one reason why c-style casts aren't always a mortal sin :-)

[2017-12-28 20:13] Beep6581 commented on #4262
@agriggio
[code]

[2017-12-28 20:17] agriggio commented on #4262
I should read better the error messages before replying :-)
a `reinterpret_cast` should do, or a c-style also, i.e. `(png_bytep)profileData`

(I am on my phone now so I can't test)

[2017-12-28 20:19] Beep6581 commented on #4262
Compiled!

[2017-12-28 20:46] Beep6581 commented on #2017
While testing #3352 I found something I thought I'd mention. Ping @Hombre57
I appended the Swedish characters åöä to every field in the IPTC tab and to an Exif ImageDescription tag. Here are the results after saving:
[code]

`DateCreated` was the only IPTC tag to show it correctly, I guess it stores the contents differently than the other IPTC tags.

[2017-12-28 20:53] Beep6581 commented on #3352
I tested both 8-bit and 16-bit PNG files with tunnel metadata on/off.

Saving metadata now works fine. It's there and looks correct - checked using exiftool and RT.
+1 for commit.

As for reading metadata, RT doesn't read it from the PNG files yet.

[2017-12-28 20:54] Beep6581 commented on #4262
Tested, no issues found. Thank you @agriggio , +1 for commit.

[2017-12-28 21:27] #3352 closed

[2017-12-28 21:27] #4262 closed, assigned to agriggio

[2017-12-28 21:28] agriggio commented on #3352
pushed. I'll take a look at what's needed for reading

[2017-12-28 21:34] agriggio commented on #4251
why is this a bug? I'm not sure...

[2017-12-28 21:50] heckflosse commented on #4251
I agree with @agriggio that it's not a bug. Perspective correction is simply called after rotation.

[2017-12-28 21:52] Beep6581 commented on #4251
Perspective correction should be relative to the image the same way rotation and graduated filters are.

Real life example: I tweaked, cropped and perspective-corrected 36 images of abstract paintings, then found out some of them were not oriented correctly, so I fixed that, and by doing so the crops were now wrong and I had to re-perspective-correct and re-crop all affected images.

If you mean w

[2017-12-28 22:07] agriggio commented on #4251
@Beep6581 do you expect the GUI to be updated as well? (I mean swapping the values of horizontal and vertical perspective correction when rotating the image).
Also, FWIW the graduated filter currently behaves as the perspective correciton: if the image is rotated, the filter becomes "wrong"

[2017-12-28 22:07] heckflosse commented on #4251
@Beep6581 I disagree. The perspective correction (horizontal/vertical) should be relative to a horizontal/vertical line, which currently is the case. If you change that by coarse rotation (i.e. 90°) you have to change the perspective correction too.

In first step we have to get an agreement about the expected result ;-)

Crop is a different story.

[2017-12-29 11:12] Beep6581 commented on #4251
@agriggio the crop tool's values are changed when coarse rotation changes, so it would be nice for these to change as well. But I'm no longer sure what I'm requesting is possible - please read on.

@heckflosse Good point. I agree that there are situations, perhaps even the majority, where perspective correction locked to the viewport and not to the image is a good thing, i.e. perhaps in the majori

[2017-12-29 19:32] agriggio commented on #3854
can we resume this for 5.4? How about simply changing "Quality" to a generic "Level" (and adapting the tooltip accordingly)?
"Quality" simply has a connotation that can just be misleading in this context...

[2017-12-29 20:07] heckflosse commented on #3854
@agriggio I agree. Additionally, iirc, we could get a strength adjuster for free, performance wise.
By strength adjuster I mean one, which blends before/after NR. There's an old issue about that too.

[2017-12-29 20:14] agriggio commented on #3854
@heckflosse that would also be interesting, but perhaps we can wait a little bit for it? I'm saying this just for the sake of having 5.4 out asap...

[2017-12-29 20:17] heckflosse commented on #3854
@agriggio

absolutely! Just wanted to mention that I remember we could the strength (blending) slider for free (performance-wise). Though I have to dig out how...

[2017-12-29 22:05] agriggio commented on #3647
Implemented in branch `procparams-metadata-mode`. Please test, thanks!

[2017-12-29 22:16] Beep6581 commented on #3647
@agriggio I've been struggling to do this, tried three times over the last few months, last attempt two days ago. Happy to see you did it, as it would have taken me another year :smile:

[2017-12-29 22:22] agriggio commented on #3647
also, better ideas for the text of the 3 modes are very welcome!

[2017-12-29 22:45] Beep6581 commented on #3647
The strings you used sound great to me.

I get a segfault when I click a thumb in the File Browser:
[code]

[2017-12-29 23:01] agriggio commented on #3647
@Beep6581 thanks for testing. Please pull and try again, it should be fixed now (hopefully)

[2017-12-29 23:09] Hombre57 commented on #4263
@heckflosse
I'm busy with the `Exif.UserComment` (issue #2017) issue right now, but I've already started the patch for the GUI we're talking about here. Just wanted to let you know... Expect one week before any news.

[2017-12-29 23:24] heckflosse commented on #4263
No need to hurry!

[2017-12-29 23:54] Hombre57 commented on #2017
@Beep6581

I agree with this, so should we let the user specify the string format in Preferences ? The specs says that it could use UCS-2 at most, which is quite limitative. Some software may be able to read the Byte Order Marks, which mean that we potentially _could_ export to UTF-8, UCS-2LE or UCS-2BE. The default behavior would still to export to UCS-2 w/o BOM, in the Metadata's byte order. How

[2017-12-30 11:29] Beep6581 commented on #2017
Exif tag encoding is unstandardized wild west territory. As such, RawTherapee should support the most permissive encoding correctly handled by our environment - libexiv2, ExifTool, GIMP, digiKam, darktable, etc.

@Hombre57 is it not better to leave the encoding at ASCII or whatever it is now, and put the effort into #3801 instead?

[2017-12-30 12:04] Beep6581 commented on #3854
In summary, to solve this issue:
1. Find out what the code actually does - documentation unclear. What do `smethod` and `nrwavlevel` do, how do they interact.
2. Either move wavelet level count from Preferences into the NR tool and PP3, or hard-code it and remove.
3. Rename the label accordingly.
4. Update the documentation.

[2017-12-30 12:23] agriggio commented on #3854
I'll take a look

[2017-12-30 13:23] Hombre57 commented on #2017
@Beep6581 I agree that using exiv2 or exiftool would be better on a long term view (we still haven't chosen one solution btw), however it won't be for tomorrow (unless agrigigo does it 😄 ). But the way that this loosy exif parameter is handled in GUI (text input + display in metadata tab) vs how it's encoded in the file still remains. Does exiv2 provide an interface so that we can get/set an UTF-8

[2017-12-30 13:30] Beep6581 commented on #3854
`TP_DIRPYRDENOISE_METHOD11;Quality` = `smethod` = (`shal`|`shalbi`) = "shrink method"
Both quality settings run `WaveletDenoiseAll(AB|L)`, but quality "High" additionally runs `WaveletDenoiseAll_BiShrink(AB|L)` first.

Quality = High removes low frequency chroma noise very well.
![imgur-2017_12_30-13 13 45](https://user-images.githubusercontent.com/5844619/34454090-507f8304-ed63-11e7-9dfc-e4dc43ff

[2017-12-30 13:45] Beep6581 commented on #2017
@Hombre57 regarding the choice, lensfun uses lens names from exiv2 as does dt, so we'd have fewer compatibility issues if we used it too.

I don't know.

[2017-12-30 13:58] agriggio commented on #3854
@Beep6581 which is better quality?
![standard](https://user-images.githubusercontent.com/11982086/34454731-e1d25ada-ed71-11e7-8f50-89fe524cfb85.jpeg)
![high](https://user-images.githubusercontent.com/11982086/34454732-e56ca83a-ed71-11e7-93bd-379242363d05.jpeg)

[2017-12-30 14:17] Beep6581 commented on #3854
@agriggio neither seems to have more noise than the other, #1 has more detail and #2 is nuked.
I wonder what the actual `levwav` difference is between the two (not the one in preferences, but the final computed value which was used) ...

[2017-12-30 14:25] agriggio commented on #3854
@Beep6581 right, so do you agree that "Quality" is a bad name in this case?
Note: I agree with the rest of your points, but even if we don't know exactly the difference between Standard and High, calling it "Quality" is just misleading IMHO. "Level" is more neutral, and according to your analysis above, might also be more accurate.

[2017-12-30 15:29] Beep6581 commented on #3854
@agriggio I agree that "quality" is an inappropriate name for `smethod`.

I haven't made up my mind on a better label yet.
"Level" is more appropriate for the `levwav` setting from Preferences.
What `smethod` does is choose between a single-method approach and a two-method approach, but those terms aren't super user-friendly either. Maybe it would be better to use a word which describes what they

[2017-12-30 15:41] clanmills commented on #2017
Exiv2 implements the Exif Standard:  http://www.cipa.jp/std/documents/e/DC-008-2012_E.pdf

All data is defined by a tag (integer), and a homogeneous array of data (p25).  There are 8 types of data:
[code]
All data is a homogeneous ARRAY and therefore has a 2 byte integer **_count_**.  You can display the values in an image with the option -pv (print values):
[code]
As you can see, Image.DateTime i

[2017-12-30 15:43] agriggio commented on #3854
Well, I still think Level is good, but I'm fine also with "Strength" ;-)

[2017-12-30 15:57] Hombre57 commented on #2017
@clanmills @Floessie @Beep6581 I think there's a misunderstanding here. I was referring to the `Exif.UserComment` tag (possibly not clearly enough), and understand now that @Floessie was talking about all ASCII type tags. To clear things up, I'm only working on `Exif.UserComment`. Given that UCS-2 (2 byte encoding) is a subset of UTF-16 and can't represent all the charset, am I right to assume tha

[2017-12-30 16:02] Beep6581 commented on #2017
Related, ctrl+f for "charset" here:
http://www.exiv2.org/manpage.html

[2017-12-30 16:18] Beep6581 commented on #3647
@agriggio I wrote a JPG file using all three modes, and they all had stripped metadata. I haven't tested PNG or TIFF yet.

[2017-12-30 16:41] da-phil opened #4264 "Memory leak with TIF batch export"
I'm using the latest version on `dev` branch on Ubuntu 16.04.3LTS.
[code]

Since a while (not only this very version) I noticed that I get huge memory leaks when I batch export images as TIFs, no matter whether 8bit or 16bit images, whether I set any processing options or just convert with default options. I noticed that setting computationally expensive options like tonemapping and denoising lead

[2017-12-30 16:48] clanmills commented on #2017
As yes, there is a misunderstanding.  Remarkably, in 10 years of working on Exiv2, I think this is the first time that I've ever got into a discussion about the -n (--encode) feature.  It appears to be writing an "UNDEFINED" array of bytes (type 0).  I think the first 8 bytes The first 8 bytes declare the encoding.

For sure, I'd want to study the code concerning this feature in more detail before

[2017-12-30 16:58] heckflosse commented on #4264
@da-phil I can not confirm the leak. I just tested saving 10 36MPixel files to uncompressed tif 16bit in queue using neutral profile. Tested on Windows 7 using 5.3-358

Edit: Saved 10 files tiff16 compressed, then 10 times tiff16 uncompressed using default profile + hdr tonemapping

![grafik](https://user-images.githubusercontent.com/13733487/34456034-03af9d46-ed8d-11e7-893c-8bea2ff3af21.png)

[2017-12-30 17:11] Beep6581 commented on #3647
Link for convenience:
https://github.com/Beep6581/RawTherapee/compare/procparams-metadata-mode

[2017-12-30 17:14] Beep6581 commented on #3647
@agriggio
[code]

Order is: copy, apply, strip.
[code]

[2017-12-30 17:15] agriggio commented on #3647
I'm checking

[2017-12-30 17:28] agriggio commented on #3647
try this:

[code]

[2017-12-30 17:37] Beep6581 commented on #3854
@agriggio not sure I follow. Which one do you want to rename to "Level"?

If you want to rename "Quality" to "Level", that will conflict with `levwav` which, as you wrote above, should be moved, and which it appears should also be renamed from "number of passes" to "number of wavelet levels" or just "levels":

[2017-12-30 17:45] Beep6581 commented on #3647
@agriggio  "copy" works, "apply" segfaults.

[code]
https://filebin.net/wt6a0ofo6coc35n6/amsterdam.pef.pp3

[2017-12-30 17:45] agriggio commented on #3854
I thought you wanted to kill the entry in preferences and have it hardcoded.
anyway, I just want quality to go away, whatever it takes :-)

[2017-12-30 17:59] gaaned92 commented on #4264
On W10, 16GB
[code]
processed 25 different files (one is 100MB) from different cameras with HDRtonemapping and denoising.
first time in tiff 16 uncompressed and second in tiff 16 compressed.
I cannot observe memory leak on the Windows task manager.

[2017-12-30 18:31] agriggio commented on #3647
was it working before? I never use apply and didn't change anything in there (at least not intentionally)

[2017-12-30 18:50] Beep6581 commented on #4264
Saved 30 10.1MP HDR DNGs to 16-bit uncompressed TIFF using HDR Tone Mapping and Noise Reduction, haven't noticed any issues.
`5.3-362-g`d7f96c29 (branch procparams-metadata-mode, one commit behind dev)
![imgur-2017_12_30-19 45 57](https://user-images.githubusercontent.com/5844619/34456589-68ded54e-ed9a-11e7-9806-1ef6df0220ef.png)

[2017-12-30 19:14] Beep6581 commented on #3647
Saving `amsterdam.pef` with that PP3 with "Copy Exif/IPTC/XMP unchanged to the output file" unchecked also crashes in dev!
Weird, used to work.

Compiling debug...

[2017-12-30 19:21] da-phil commented on #4264
@heckflosse I also tried out D800 files, with the same result.

Hmm ok, maybe the leak is caused by my libtiff library (version 4.0.6, ubuntu16.04.3 default).
I saw that there are a couple of memory leaks reported here, but only for versions 4.0.7 and 4.0.8:
https://www.cvedetails.com/vulnerability-list/vendor_id-2224/year-2017/Libtiff.html

Which version of libtiff do you link RT to?

[2017-12-30 19:25] Beep6581 commented on #4264
media-libs/tiff-4.0.8

[2017-12-30 19:28] Beep6581 opened #4265 "Segfault saving image with edited metadata"
http://rawtherapee.com/shared/test_images/amsterdam.pef
https://filebin.net/wt6a0ofo6coc35n6/amsterdam.pef.pp3
Uncheck "Preferences > Image Processing > Metadata > Copy Exif/IPTC/XMP unchanged to the output file"
Save

[code]

[2017-12-30 19:32] Beep6581 commented on #3647
Opened issue #4265

[2017-12-30 19:42] heckflosse commented on #4264
On Windows:

[code]

[2017-12-30 19:52] heckflosse commented on #4264
@da-phil

I would have guessed the leak is in libtiff, but then there is also your above statement which does not fit...

[2017-12-30 22:51] Hombre57 commented on #4265
@Beep6581 Here we go :

[code]

[2017-12-30 23:27] agriggio commented on #4265
@Hombre57 thanks, fix confirmed

[2017-12-30 23:29] Beep6581 commented on #4265
@Hombre57 fix confirmed here too.

[2017-12-30 23:38] da-phil commented on #4264
@heckflosse actually I'm not so sure about it anymore, I did another test of exporting TIFF images manually, not using the batch exporter, it shows the same behavior, however it's leaking way less memory, I could export 26 images by only "losing" around 2-3 GB. When I use the batch exporter on 10 different images I lose around 16 GB! This is quite weird.

[2017-12-30 23:45] Beep6581 commented on #4264
@da-phil can you try using a newer libtiff and using `./tools/build-rawtherapee` ?

[2017-12-30 23:47] heckflosse commented on #4264
@da-phil can you reproduce the leak when you add for example 30 images to the queue, then close rt, start rt and start the queue?

[2017-12-30 23:48] #4265 closed, assigned to nobody

[2017-12-31 00:34] Beep6581 commented on #3647
@agriggio tested, all good!
The saved PP3 contains the mode setting, and the resulting JPG, PNG and TIFF files have the metadata they should have.

[2017-12-31 02:36] Hombre57 commented on #4264
My 0.0002 cents : could this be related to the compiler ?

[2017-12-31 04:09] dnw3039 commented on #3967
This is still a problem on the Linux dev branch on version Version: 5.3 and  it also affects the Film Simulation menu.

heckflosse 15 July seems to correct

Using the suggestion in https://fedoraproject.org/wiki/How_to_debug_Wayland_problems
I tried RT using the weston compositor and the menu problems did not occur.

The article suggests that this test indicates the problem is not with GTK3 but wi

[2017-12-31 09:44] SamuelBenard opened #4266 "Paralenz Dive raw support"
Added the raw file to https://raw.pixls.us

info about convert by paralenz : https://support.paralenz.com/hc/en-us/articles/115005795465-Converting-RAW-images-to-DNG-

[2017-12-31 10:43] Beep6581 commented on #4264
@da-phil and I seem to be using the same compiler, GCC 5.4.0.

[2017-12-31 10:45] Beep6581 commented on #4266
@chagam what's the name of the raw file or link to the raw file?

[2017-12-31 10:55] SamuelBenard commented on #4266
https://raw.pixls.us/getfile.php/2167/nice/Paralenz%20-%20Dive%20Camera.RAW

[2017-12-31 12:44] Beep6581 commented on #4266
From the "RAW converter tool":
[code]

[2017-12-31 13:07] agriggio commented on #3647
good, I'll merge then

[2017-12-31 13:08] #3647 closed

[2017-12-31 13:08] Beep6581 commented on #3647
Thank you @agriggio !

[2017-12-31 13:10] agriggio commented on #4259
@heckflosse what is needed for merging this?

[2017-12-31 13:14] heckflosse commented on #4259
@agriggio No objection from me to merge this, though I have further changes on hold for rgbproc()

Edit: I have to add at least one `#ifdef __SSE2__` before merge

[2017-12-31 13:38] heckflosse commented on #4259
@agriggio I just pushed the changes I had on hold. No objection from my side to merge this now to get more tests

[2017-12-31 13:43] heckflosse commented on #4259
@agriggio Merged

[2017-12-31 13:46] agriggio commented on #4259
great, thanks!

[2017-12-31 14:02] Hombre57 commented on #2017
So here are the result of my small test :

Case|File's Exif byte order|Platform byte order|Using BOM|UCS-2 String byte order|Read by IrfanView|Read by Windows's "Properties"
----|---------------|---------------|-----|---------------|---------------|---------------
1|Big endian|Little endian|No|Little endian (violate the rules)|Correctly|Correctly
2|Big endian|Little endian|No|Big endian (comply th

[2017-12-31 14:10] agriggio commented on #3854
as agreed with @Beep6581 on IRC, we are settling for "mode" or "method" instead of "quality", with a renaming of the current "method" to "color space"

[2017-12-31 15:51] agriggio commented on #3469
Hi, what's the status of this? I think I found another "real-world" test case... :-)

[2017-12-31 15:59] heckflosse commented on #3469
@agriggio Alberto, the status didn't change, because it got not enough tests. Can you share your test case?

[2017-12-31 16:59] Beep6581 commented on #3854
Reopened for docs.

[2017-12-31 22:33] heckflosse opened #4269 "Speedup for perceptual tone curve"
Compared to other tone curves, perceptual tone curves are really slow.

Example: processing time of rgbproc for a 36MPixel file using neutral profile + Tone curce 1

[code]
I created [a new branch](https://github.com/Beep6581/RawTherapee/tree/perceptual_curve_speedup) to speed up perceptual tone curves. First change leads to a small 4% speedup

[code]

Further speedups will follow

[2018-01-01 13:44] heckflosse opened #4270 "Left colour bar for CC and CL curve in lab tools are inverted"
From [here](https://discuss.pixls.us/t/cc-and-cl-curve-in-rt/6280)

Suggested fix:

[code]

[2018-01-01 14:35] gaaned92 commented on #4270
build ok.  Y axis colour now ok

[2018-01-01 14:59] heckflosse commented on #4270
@gaaned92 Thanks for testing.

[2018-01-01 15:00] #4270 closed, assigned to nobody

[2018-01-01 16:10] Beep6581 opened #4271 "Whole hue range curve color bar"
The "whole hue range" curve color bar starts and ends with red. The second-last color is purple, and because of the extra red row when I look at the bar at normal 100% size it looks like the purple part is larger than it should be. Why is red repeated, and if there is no good reason for that, let's remove it.

1600% zoom:
![imgur-2018_01_01-17 04 49](https://user-images.githubusercontent.com/58446

[2018-01-01 16:13] Hombre57 commented on #4271
That's an interpolation in the HSL color space. I don't think it really matters.

[2018-01-01 17:09] Hombre57 commented on #2017
My patch has introduced a bug : IPTC is not written (correctly) to the output file. I'm trying to fix this.

[2018-01-01 17:30] Hombre57 commented on #4271
Is this any better ? I don't see a real difference IMHO. You can play with the first parameter of `Color::hsv2rgb01` given than valY will goes from 0.0 (top pixel) to 1.0 (bottom pixel).

Then you'll have to make that change in every place that this kind of colorbar appears.

![new-hue-range](https://user-images.githubusercontent.com/13788115/34469534-694fbb82-ef21-11e7-8ae9-ce8d99681a7d.png)

[co

[2018-01-01 17:45] Beep6581 commented on #4271
0.8 looks pretty good:
![08](https://user-images.githubusercontent.com/5844619/34469634-e5eb47d6-ef23-11e7-8d3a-96bf7f493b81.png)

What do you think?

[2018-01-01 20:40] #4271 closed, assigned to nobody

[2018-01-01 20:56] agriggio commented on #3933
Shouldn't there be also an "Open with RawTherapee" entry available for picture files?
Also, wouldn't be better to use the "-R" flag when invoking RT?

[2018-01-01 21:14] Hombre57 commented on #2017
Correction : it works fine for tiff and jpg if you don't forget to set _Metadata copy mode_ to _Apply changes_ 🙄

Now I have to find out why it doesn't work for png.

[2018-01-01 21:33] Beep6581 commented on #3933
Now that `-R` exists, definitely.

P.S. This has still not been committed, and I will not commit it as I don't use Windows and can't test. Would be nice if a Windows dev took over.

[2018-01-01 21:51] heckflosse commented on #3933
👍 for using -R

[2018-01-01 23:50] da-phil commented on #4264
@heckflosse nope, same effect, I could not even process more than 13 images :D
![screenshot from 2018-01-02 00-47-23](https://user-images.githubusercontent.com/810285/34471980-bfc99746-ef56-11e7-8f61-420947bb8b1a.png)

@Beep6581 I don't have much time to try it out so far, but I highly suspect libtiff! I'll keep you updated once I could get a newer version of libtiff to make tests with. Seems like

[2018-01-01 23:54] max-ra-gh opened #4272 "Support for Sigma SD Quattro X3F files"
As per instructions at [Adding Support for New Raw Formats](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats), I have taken all the required photos, compressed and uploaded them to:  https://filebin.net/om3j465lyaayusxd/Sigma-SD-Quattro-X3F.zip

19 photos, weighting 23MB each, are completely overexposed. Compressed zipfile is 133MB.

Please note that this is a Foveon sensor camer

[2018-01-02 01:16] Hombre57 commented on #2017
@Beep6581 @agriggio Could you test this branch for PNG files please ? Exiftool find the IPTC and Exif.UserComment fields, but IrfanView, Windows and RT don't. So I don't really understand what's going on.

That thing apart, this branch should be tested for a broad range of use case. Can I reopen or put a call for test in the closed issues related to IPTC and UserComment encoding ?

I'd like to mer

[2018-01-02 06:28] agriggio commented on #2017
@Hombre57 I'll try. my understanding (from quick searches, so might be completely off) is that there's no real standard for storing metadata in PNGs, only accepted conventions. I copied the code from dt for exif, and used the same for iptc, but without really checking that the iptc part was working I admit...

[2018-01-02 07:50] clanmills commented on #2017
Gentlemen:

I'm not sure what you are discussing in DT and RT.  Here's some background information about PNG metadata.  I hope this is useful and doesn't confuse you!

Here's the document that Tuan wrote about this:  http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_PNG_files

Tuan was a GSoC student working with me in 2013 and asked the question "Where is the metadata in the file?" to whic

[2018-01-02 07:58] agriggio commented on #2017
@clanmills Robin, thanks for the link! As I wrote above, I don't know much about metadata, and was just referring to the following comment in `darktable/src/imageio/format/png.c`:

[code]
Now I've just started reading the wiki page you mentioned above, and it seems consistent with my understanding, in that it says:

Which is what the RT code (taken from Darktable) does -- or that's the intention,

[2018-01-02 08:34] Hombre57 commented on #2017
For what is worth, here is the [Wikipedia page for PNG](https://en.wikipedia.org/wiki/Portable_Network_Graphics), and [one of its source](http://ftp-osl.osuosl.org/pub/libpng/documents/pngext-1.5.0.html#C.eXIf).

So it looks like that PNG 1.5 specs define an `eXIf` ancillary chunk. I don't know when this revision has been created though.

I was worried about the fact that [RT was able to read the

[2018-01-02 08:41] Hombre57 commented on #2017
1.5.0 is the libpng version that extends the V1.2 official spec, sorry for the confusion.

[2018-01-02 08:50] clanmills commented on #2017
Everything in PNG is in a "chunk".

There are at least two PNG metadata "conventions".  Exif metadata is written as a little TIFF file and embedded in a "chunk".  IPTC is written as a IPTC data block and written as a chunk.  Exiv2 supports both of those (and XMP and ICC profiles).

There's another PNG format (which I believe is used by Image Magick) in which key/value pairs are written as chunks.

[2018-01-02 09:34] Hombre57 commented on #2017
@clanmills So in one word : a mess 🙄  Supporting XMP (through exiv2) is the only way to go anyway, for professional at least.

The job is done for TIFF and JPG, if everyone is fine with how it's done in PNG now, let's test TIFF and JPG metadata a little bite an merge asap, I have other things to do too.

[2018-01-02 10:46] clanmills commented on #2017
Good summary - an application mess!  Let's test and move on.

[2018-01-02 20:37] heckflosse commented on #2017
Which project manager? ;-)

[2018-01-02 22:53] reggybe commented on #4264
Just one remark:
In the about text of da-phil is the compiler **cc** 5.4.0 and **not gcc** 5,4,0. **cc** (compiler mostly used on Solaris) is  very different from **gcc** compiler.
He should try to recompile RT with GCC 5.4.0 and do the test again.

[2018-01-03 07:10] Beep6581 commented on #4264
GCC can show up as "cc".

[2018-01-03 07:14] Floessie commented on #4264
[code]

Best,
Flössie

**Edit**: Morgan was faster. 😋

[2018-01-03 15:16] okoncevoy commented on #4198
@Hombre57
Unfortunately this approach with update calling `Preferences::iccDirChanged ` does nothing. Yes, it updated internal list, but it does not re-initialize `EditorPanel` that is already constructed and initialized.
I have added missing label: https://github.com/Beep6581/RawTherapee/compare/dev...lvreclp:dev_restart_required_for_colormgmt?expand=1

[2018-01-03 19:04] Timmitry commented on #4220
Sorry to bother again - I tried the fast export with a new version of RawTherapee.
If I set maximum width and height to e.g. 10000, it will resize all images to either 10.000 pixels width or height, although the original images are only 5184x3456 pixels... How can I disable the resizing?

[2018-01-03 19:21] agriggio commented on #4220
@Timmitry sounds like a bug, I'll investigate. but what's the use case for this? (just curious)

[2018-01-03 19:46] Timmitry commented on #4220
@agriggio I want to convert my RAW images to JPGs, with automatic optimization from RawTherapee (e.g. some pictures are way too dark). It does a good job with that!

For now, I'll solve the problem by setting the max width and height to my cameras pixel width.

[2018-01-03 19:51] agriggio commented on #4220
@Timmitry there's no need for the "fast export" for that. If you want a bare-bones conversion with no rescaling, just apply the "(Neutral)" profile and use the normal export

[2018-01-03 19:56] heckflosse commented on #4220
@Timmitry The advantage of `Fast export` is improved processing time for downsized images. If you don't downsize, just `Put to queue` instead of `Put to queue (fast export)`

[2018-01-03 20:30] Timmitry commented on #4220
Ha, I see, that's what I was searching for... I now applied `Neutral`-profile to all pictures, then enabled `Auto Levels`, and then `Put to queue`. Thank you all for your support!

[2018-01-04 16:17] da-phil commented on #4264
@reggybe the others are right, it's just a link to the gcc compiler suite.

Guys, I have bad news, I built the latest libtiff from master branch (on top of latest release 4.0.9) of their [gitlab repo](https://gitlab.com/libtiff/libtiff), installed it locally into `/usr/local/lib` and set `LD_LIBRARY_PATH` to prefer libs from `/usr/local/lib` to make RT find my up-to-date libtiff version over the q

[2018-01-04 16:58] Beep6581 commented on #4264
@da-phil can you:
[code]

Then add it to the queue x times and see if you can still reproduce?

[2018-01-04 18:34] da-phil commented on #4264
Now I can't even further test, because it segfaults during processing of the first file with the following output in gdb:
[code]

After another try I got those backtraces:
[code]

[code]

Weirdly enough this only happens with the `amsterdam.pef` file. With my Olympus E-M1, Olympus E-M1mk2 and Nikon D800 files I don't see those crashes.

Should I build again and add debug symbols for more details?

[2018-01-04 19:25] Beep6581 commented on #4264
@da-phil yes, please provide a stack backtrace using a debug build:
[code]

[2018-01-04 21:02] Beep6581 commented on #4066
Needs to be documented - I'll do that when time permits.

[2018-01-04 21:35] #4208 closed, assigned to nobody

[2018-01-04 21:41] Hombre57 commented on #4198
It is possible to update the editors (not yet done, that's right), but the label will be fine I guess.

[2018-01-04 22:02] agriggio commented on #4035
@Hombre57 I think we can "borrow" from geeqie for this. Their toolbar behaves nicely if the left panel is too narrow: buttons that would not fit get replaced by a popup menu. Example:

![screenshot from 2018-01-04 23 00 00](https://user-images.githubusercontent.com/11982086/34586186-37845502-f1a3-11e7-836c-5e290ac7d8e3.jpg)

[2018-01-04 23:20] Beep6581 commented on #4058
I want to use a Gtk::Switch to get the desired feedback, partly because it's appropriate, but mostly because it looks cool in a dark theme and when you click it, it animates :D (CSS).

![imgur-2018_01_05-00 19 53](https://user-images.githubusercontent.com/5844619/34588611-3399f04a-f1ae-11e7-94d9-2b28e7a56df4.png)

[code]

I'm having a hard time understanding the gtkmm documentation to change `stop

[2018-01-04 23:32] heckflosse commented on #4058
I would like, but my limited knowledge...

[2018-01-05 00:25] Beep6581 commented on #4058
Maybe of help:
http://python-gtk-3-tutorial.readthedocs.io/en/latest/button_widgets.html#switch

[2018-01-05 00:33] da-phil commented on #4264
After tinkering around like deleting the locally installed `libtiff` library I couldn't reproduce those crashes anymore. This kind of sucks from a standpoint of reproduction :/
Maybe it had to do with two versions of libtiff being installed...

After also deleting the RT config and cache folder the memory leak phenomena was gone!
Even with the old libtiff 4.0.6 provided by the installed ubuntu 16.

[2018-01-05 07:00] Floessie commented on #4058
@Beep6581

While it might look cool when used stringently, it might awaken desires when only used in one place. In most UIs you either have checkboxes *or* switches. And if you have switches your UI is "responsive" and "touch-ready".

Just my 2¢.

[2018-01-05 09:14] agriggio commented on #4058
@Beep6581 what exactly are you having troubles with? You should connect the `signal_state_set` handler to the actions currently associated to pressing the start and stop buttons, and use the `bool` argument to the handler to distinguish between the two cases (I suppose `true` would correspond to start and `false` to stop). Does this make sense?

[2018-01-05 10:45] Beep6581 commented on #4058
I'm hoping that it does :smiley:

@agriggio it makes sense, but despite trying various things with `x` this line just won't compile:
[code]

[2018-01-05 10:49] agriggio commented on #4058
@Beep6581, try this:

[code]

where `startOrStopBatchProc` is like this:

[code]

[2018-01-05 11:16] Beep6581 commented on #1562
Duplicate of #2631

[2018-01-05 11:16] #1562 closed

[2018-01-05 11:42] Beep6581 commented on #4058
@agriggio if I add this to `.h`:
[code]
I get
[code]
and an avalanche of other bizarre (to me) errors.

If instead I add
[code]
I get:
[code]

[2018-01-05 11:45] agriggio commented on #4058
can you post the full patch?

[2018-01-05 12:04] Beep6581 commented on #4058
@agriggio https://gist.github.com/ceb2cdf2d0cc56d0a0fdcc7130a351c1

[2018-01-05 15:43] heckflosse commented on #4269
Processing time with last commit

[code]

[2018-01-05 15:52] agriggio commented on #4058
@Beep6581 just change the new function like this:

[code]
and it should compile. I haven't tested what it does though :-)
FWIW, I think the switch is ugly...

[2018-01-05 21:51] Beep6581 commented on #4058
Patch complete, works IMHO very nicely!

@agriggio I'm hoping this tenacious video will melt your heart and change your mind ;)
https://filebin.net/s1m05js425qrrp12/rt_queue_switch.mp4

Opened PR #4276

[2018-01-05 22:57] Beep6581 commented on #4269
Tested 0fcc1987a5bbc301bca50485e08206adf2eff1a4 and found no issues.

[2018-01-05 23:03] #4058 closed, assigned to nobody

[2018-01-06 11:57] heckflosse opened #4278 "On/Off switch in queue tab uses system language"
when rt is configured to use english language on a german windows 7, the `On/Off` switch in queue tab shows `An/Aus`

![grafik](https://user-images.githubusercontent.com/13733487/34639458-0686e21e-f2e1-11e7-91a9-c7eddcd11e12.png)

[2018-01-06 12:46] heckflosse commented on #4278
Same language mismatch at other places too. Example:

![grafik](https://user-images.githubusercontent.com/13733487/34639822-a12f523c-f2e7-11e7-9389-71fb6096f27e.png)

When I call `EXPORT LANG=EN` before I start rt I get this:

![grafik](https://user-images.githubusercontent.com/13733487/34639825-c2c448f8-f2e7-11e7-91ac-6513d81fec13.png)

[2018-01-06 13:25] agriggio commented on #4278
let me see if I can fix this

[2018-01-06 13:31] Beep6581 commented on #4278
I think RT should `setlocale LANG=foo` somewhere around here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.cc#L2328

[2018-01-06 13:32] Beep6581 commented on #4278
or `LC_ALL=foo LC_NUMERIC=C`

[2018-01-06 13:43] agriggio commented on #4278
@heckflosse can you try this?

[code]

[2018-01-06 14:19] Beep6581 opened #4279 "Segfault when changing to Saturation & Value Blending curve"
https://filebin.net/rg96z56vbce69ql6/DSC06164.ARW
https://filebin.net/rg96z56vbce69ql6/DSC06164.ARW.pp3
https://filebin.net/rg96z56vbce69ql6/options

When I change Exposure Tone Curve 2 to Saturation and Value Blending, segfault (release):
[code]

[code]

[2018-01-06 14:55] heckflosse commented on #4279
I cannot reproduce, but this patch could fix it:

[code]
@Beep6581 please test

[2018-01-06 15:18] Beep6581 commented on #4279
Before I compile, here's the debug stack backtrace:
[code]

[2018-01-06 15:24] heckflosse commented on #4279
This one should be better:

[code]

[2018-01-06 15:29] etrigan63 commented on #3642
I second this request.

[2018-01-06 15:41] heckflosse commented on #4278
@agriggio

[code]

[2018-01-06 15:42] Beep6581 commented on #4279
That fixes it.

[2018-01-06 15:43] #4279 closed, assigned to heckflosse

[2018-01-06 17:46] #4278 closed, assigned to Beep6581

[2018-01-07 06:53] dnw3039 opened #4280 "Does HDR Tone Mapping start too aggressively"
Hi,
I have had a go at the New HDR Tone Mapping tool on dev branch. My image is created by HDRMerge from a 7 shot sequence at 1 stop exposures.
To see my issue this load the image with auto levels and select HDR Tone Mapping set at Strength = 1.

I feel it it has started with a too extreme HDR look at 1 and I have to do some some heavy work with tone curves to get the window not being over exposed

[2018-01-07 09:28] Floessie commented on #4280
@dnw3039 David, see Morgan's and Alberto's comments in #4255.

Best,
Flössie

[2018-01-07 12:27] Desmis commented on #4255
A few years ago there was a similar problem with Tone Mapping.

After I was told it was "normal" ... In fact, on some images, as soon as one exceeded 0.5 for "strength", the image was overexposed, with a histogram strongly shifted to the right.

After many exchanges, sometimes lively, I implanted a gamma cursor, with an application before calling TM, then restitution by inverse after TM.

Can this

[2018-01-07 12:34] agriggio commented on #4255
@Desmis manipulating the gamma sounds like a reasonable workaround, worth trying at least. people should keep in mind though that this tone mapping is applied before tone curves, so it sees a very "flat" image. that's why if you apply also tone curves you might get overexposed results. I think it's better to start from neutral if you plan to use hdr TM

[2018-01-07 12:36] agriggio commented on #4280
@dnw3909 HDR TM is best applied when starting from neutral, it is a known problem that you might get bad results in combination with auto levels...

[2018-01-07 12:40] Desmis commented on #4255
@agriggio
I agree  with  _"I think it's better to start from neutral if you plan to use hdr TM",_ or at least "reset auto levels"

[2018-01-07 16:36] Beep6581 commented on #4280
That has not been my experience at all. Fixing the unwanted overexposure is simple. I think you might be over-cooking the meal ;]

The effect HDR Tone Mapping (Fattal) has depends on the contents of the image. In some cases, enabling it with minimal values leads to almost no changes (see the History frame):
![imgur-2018_01_07-17 27 51](https://user-images.githubusercontent.com/5844619/34651410-470

[2018-01-07 16:36] #4280 closed, assigned to nobody

[2018-01-07 16:41] Beep6581 commented on #4247
What is the status here?

[2018-01-07 16:44] Beep6581 commented on #3642
@agriggio you recently discussed and implemented enhancements to the crop tool, but I can't find the issue. Do your enhancements satisfy this issue? Also, could you explain what you enhanced for documentation purposes?

[2018-01-07 16:45] agriggio commented on #4247
status of what exactly?

[2018-01-07 16:47] agriggio commented on #3642
there's no single issue because different people want different things. I took some inspiration from some comments but did not address any specific issue. I'll try to update rawpedia ASAP

[2018-01-07 19:34] Beep6581 commented on #4247
Oh, it's gone already! I didn't even notice :]

[2018-01-07 19:58] #4247 closed, assigned to nobody

[2018-01-07 20:43] dnw3039 commented on #4280
Thanks to all. I am getting much better results by not using Auto Levels first.

[2018-01-07 21:40] Beep6581 commented on #4247
RawPedia updated:
http://rawpedia.rawtherapee.com/Shadows/Highlights

[2018-01-08 01:44] lrq3000 commented on #4094
I just wanted to say a BIG THANK YOU to @Desmis and everyone who worked on locallab (and RawTherapee also!), it is an AMAZING feature!

I am a total newbie, I just started using RawTherapee one week ago, and discovered newlocallab 2 days ago (I'm no photographer and I never did any Lightroom kind of image work, I just use Gimp from time to time!), and now I can essentially process all my images th

[2018-01-08 02:57] dnw3039 opened #4282 "Add an option to select a default profile of HDR images in Preferences"
As the new HDR Tone Mapping works best if Auto Levels is not applied, and HDR files are already identified in the file browser, it might be useful to have a default profile for HDR images, that has Auto Levels = off and HDR Tone Mapping = on, and allow of any other setting users may want to add to HDR processing.

This would save the of having to select the Neutral  profile as the first step in HD

[2018-01-08 08:12] agriggio commented on #4255
@Floessie @Beep6581 @Desmis can you test this patch please?

[code]

[2018-01-08 08:25] Beep6581 commented on #4282
Hmm...
HDR Tone Mapping does not necessarily need to be used just because a raw file happens to come from HDRMerge. As such:
- We could disagree about the request,
- We could agree and add new options to the "Default processing profiles" panel,
- Or we could even phase out the "Default processing profiles" panel and instead enhance the "Dynamic profile rules" feature with a filter for non-raw, raw

[2018-01-08 08:57] Beep6581 commented on #4255
@agriggio I tested on 12 images of various types. Shadows seem to be affected as before, while now the algo is extra careful not to affect the highlights, even when increasing the amount. I like it!

Old behavior:
![imgur-2018_01_08-09 54 35](https://user-images.githubusercontent.com/5844619/34664044-308c926e-f45a-11e7-842f-9878f0c01eb4.png)

New behavior:
![imgur-2018_01_08-09 54 42](https://user

[2018-01-08 09:02] agriggio commented on #4255
@Beep6581 great, thanks! BTW, this should make the tool work well also with "auto levels" or the DCP tone curve. (Essentially, the patch is just normalizing relative to the brightest point in the input image)

[2018-01-08 11:08] mbajor opened #4284 "Build fails for PPC , ARM and i586"
Hi,
I can't build packages for aarch64, armv7l, ppc64le, ppc64 and ppc because of errors.
Sample logs are available:
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_ARM/aarch64/rawtherapee-unstable/_log
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_ARM/armv7l/rawtherapee-unstable/_log
https://build.opensuse.org/public/build/home:rawtherapee/ope

[2018-01-08 11:09] agriggio commented on #4255
should I just push to `dev` then?
**EDIT**: we should probably also raise the default for amount, any suggestions?

[2018-01-08 11:52] Beep6581 commented on #4255
+1 for `dev`, and I typically use Amount=50.

[2018-01-08 11:55] Beep6581 commented on #4284
@mbajor you appear to be trying to compile 1854147c? Why not the latest dev?

[2018-01-08 12:00] Desmis commented on #4255
@agriggio

I am just compiling and testing :)

[2018-01-08 12:02] Floessie commented on #4284
It's an non-SSE2 issue. Looking...

[2018-01-08 12:11] Desmis commented on #4255
@agriggio @Beep6581

Same comment as DrSlony, but I think Amount=50, is generaly too high, 30 seems (for me) better :)
But not worry, no problem if you choose "50"
Jacques

[2018-01-08 12:39] agriggio commented on #4255
Ok, I'll settle on amount=30, 50 seems a bit too high for me as well

[2018-01-08 12:43] Floessie commented on #4284
@mbajor Marcin, here's a patch:

[code]

Could you provide me with the PPC log even if this patch resolves your issues? There are a couple of other warnings (mainly due to the unsigned nature of `char`), I'd like to tackle.

Best,
Flössie

[2018-01-08 13:58] heckflosse commented on #4255
@agriggio May I push a correction? There is a race in the max loop

[2018-01-08 13:59] agriggio commented on #4255
@heckflosse sure! and sorry :-)

[2018-01-08 14:27] mbajor commented on #4284
@Floessie To complete ARM and PPC fix below patch is necessary
I use this patch in OBS
[code]
Please add it in next commit.
All ARM and PPC builds compiled with success.

But...I've updated source code (@Beep6581) and now all i586 builds failed.
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Leap_42.1/i586/rawtherapee-unstable/_log
I don't know if it is new bug or patch is the r

[2018-01-08 14:29] heckflosse commented on #4255
@agriggio Should be fixed now

[2018-01-08 14:35] heckflosse commented on #4284
@mbajor This should fix it:

[code]

[2018-01-08 14:41] Floessie commented on #4284
@mbajor

I'll push it tonight. Thanks for the pointer. 👍

[2018-01-08 14:43] #4255 closed, assigned to agriggio

[2018-01-08 14:49] heckflosse commented on #4284
@mbajor last patch was incomplete. This one is better:

[code]

[2018-01-08 14:52] mbajor commented on #4284
@heckflosse New error in `rtengine/improcfun.cc` for i586

[2018-01-08 15:12] heckflosse commented on #4284
@Floessie Can you include my patch in your next commit, please?

[2018-01-08 15:27] mbajor commented on #4284
@heckflosse New patch fixed issue. Thanks!

[2018-01-08 15:38] heckflosse commented on #4284
@mbajor Thanks for reporting and testing!

[2018-01-08 16:36] gaaned92 commented on #4284
With those patches, Windows 32 builds are again feasible

[2018-01-08 16:41] Beep6581 opened #4285 "Support for JPEG-compressed DNG files"
Request from:
https://discuss.pixls.us/t/compressed-dng-support/6370

Raw file:
https://raw.pixls.us/getfile.php/2204/nice/Canon%20-%20EOS%205D%20Mark%20III%20-%2014bit%20(2.3471882640587).dng

The DNG file seems to come from Magic Lantern and uses JPEG compression.

[code]

[2018-01-08 16:59] #4284 closed, assigned to Floessie

[2018-01-08 17:46] Floessie commented on #4255
@agriggio Alberto, I gave it a short try, and it's **MUCH** better now! 🎉

[2018-01-08 19:56] heckflosse commented on #4255
Very small speedup with this patch:

[code]

[2018-01-08 20:36] Hombre57 commented on #2017
No comment/objections since 6 days, I'll commit in few minutes.

[2018-01-09 09:20] esby opened #4286 "Slower loading time linked to lensfun db being loaded entirely in memory"
(edit: there is a bug in my fork, not on the main rt tree)

I think there is some kind of  issue with loading the lensfun db entirely into the associated combobox:

I think It affects RawTherapee 5.3 (from git).

Here, on an intel Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz, it takes 5.4 seconds to load lensfun db into the combobox.

If I trim the xml lensfun db to only the optics I uses (panasonic an

[2018-01-09 09:32] esby commented on #4286
bash script to measure the loading time under Debian 9

invoke it a first
#!/bin/bash
new="false"

if [ -f log1.time ] && [ -f log1.txt ]
then
  if [ "$1" = "new" ];
  then
    echo "benchmark was requested again"
    new="true"
  else
    echo "benchmark files are already present, use new as a parameter to regenerated these"
  fi
else
  new="true"
fi

if [ "$new" = "true" ];
then
  echo "executin

[2018-01-09 09:51] agriggio commented on #4286
@esby what time are you referring to exactly? Do you mean that if you click on the combo box, it takes ~5 seconds to open the combo? Or are you talking about the startup time of RT? Can you please clarify? Also, which GTK+ version are you using?

[2018-01-09 09:58] esby commented on #4286
I am talking of the startup time.

I thought the RT5 version was using gtk3 only ? I am mistaken ?

[2018-01-09 10:03] Beep6581 commented on #4286
On my system, the lensfun DB seems to load instantly (verbose=true), while the combobox is sluggish and takes a second to open. GTK+ 3.22.19.

@esby which version of GTK3 are you using, and which version of lensfun?

[2018-01-09 10:03] agriggio commented on #4286
So are you sure the time is spent filling the combobox, and not simply parsing the lensfun DB?
Anyway, if it's only startup time, it can be annoying but I wouldn't say it's critical... if on the other hand it takes ~5 seconds to open the combo box every time you use it, then it's another story.

Yes, but still there are different GTK3 versions -- I'm still on 3.18.x

[2018-01-09 10:20] agriggio commented on #4286
@Beep6581 combo boxes in GTK+3 are known to be slow (if you search the web you'll find other references) and not really suitable to many entries. To fix the performance problem, we would need to roll our own. But my interest is fairly low for this, sorry -- performance is acceptable for me even on my old laptop, so it's just not worth the effort.
Patches are always welcome of course :-)

[2018-01-09 10:34] Beep6581 commented on #4286
Combobox performance is acceptable for me too. I'd rather time was spent on [other parts](http://3.bp.blogspot.com/-O52PK0gXTP0/T1ZJY-J0lLI/AAAAAAAAAJo/wOUiVJlIMYQ/s1600/Super+Pipeline+2+screen1.jpg) of RawTherapee ;)

[2018-01-09 10:38] esby commented on #4286
(gtkmm 3.22.0-1 (according to dpkg))

Well I may have made a mistake somewhere,
I was testing on my ported fork;
I just tested on the main version.

0.1299s loading lens done, on my fork I was getting 1.29s with verbose=false, 3.135s with verbose=true.
I am trying to reduce the initial loading time as much as I can as it affects my usage in single editor mode.
I guess there is something wrong on m

[2018-01-09 11:49] Hombre57 commented on #2017
Pushed in commit 3fe9cae2c376bd89aac7286144fdcc776fe43e69

Closing.

[2018-01-09 11:49] #2017 closed

[2018-01-09 14:21] Beep6581 commented on #3558
`5.3-434-g`9ce829e2

[2018-01-09 14:24] agriggio opened #4287 "rawcrop branch: format string problems"
in several places in `rtgui/edit.cc` invalid `printf` format strings are used (no arguments are given though the string specifies some). For example, at line 83:
[code]
Here `%p` demands a `(void *)` argument, but none is given. Bad things are guaranteed to happen :-)
Please consider using `std::cout` instead -- I know it can be more tedious, but it is way safer.

[2018-01-09 14:40] Floessie commented on #4287
Gladly, you get some hints from the compiler:

[code]

Best,
Flössie

[2018-01-09 14:43] agriggio commented on #4287
@Floessie that's how I caught them, in fact :-)
But I suppose not all compilers will warn you, otherwise the code wouldn't be there in the first place...

[2018-01-09 14:44] Floessie commented on #4287
Or maybe someone had his sunglasses on... 😎

[2018-01-09 18:08] Hombre57 commented on #4263
**WARNING :** commit 0db576ad589ace6f9626b7929a4b3989d7dc3d83 has been mistakenly pushed. It's still _work in progress_, don't look for bugs or nitpicking on coding style. Thanks, and sorry for the inconvenience.

[2018-01-09 18:11] Hombre57 commented on #4287
I just added a comment : https://github.com/Beep6581/RawTherapee/commit/0db576ad589ace6f9626b7929a4b3989d7dc3d83#commitcomment-26744310

I talked about that on IRC with @heckflosse and @Beep6581 before @agriggio chimed in. I should have warned earlier.

[2018-01-09 18:11] #4287 closed, assigned to Hombre57

[2018-01-09 18:22] Hombre57 commented on #4287
Fixed in commit  69f4c9d. In a moment of annoyance, I just fucked the commit message as well 😠 . I'm not sure to be in good condition for coding tonight...

[2018-01-09 20:48] #4134 closed, assigned to nobody

[2018-01-10 06:46] Floessie commented on #4287
Oops, then sorry for the noise.

[2018-01-10 07:57] casta commented on #4255
With the lasts commits changing fattal behaviour, there is a small bug in rendering album preview. See this: ![fattal-on](https://user-images.githubusercontent.com/835444/34761363-bb271680-f5e3-11e7-9f6b-834a6a853456.png)

The left thumb is correct regarding the file in the editor. The right (in film strip) is obviously wrong. looks like the new scale param is not applied.

One other bug: you did

[2018-01-10 07:58] agriggio commented on #4255
Hi @casta, thanks for testing!

Did you clear your thumbnail cache? If not, can you please try again?

Oops! Sorry, will fix in a minute!

[2018-01-10 08:07] casta commented on #4255
I just cleared the thumbnail cache: same thing.

[2018-01-10 08:21] agriggio commented on #4255
can you share a raw and pp3 where this happens? I'm afraid there won't be a quick fix, because the scaling is applied in both cases. The problem is that the original tone mapping code was very sensitive to the image size. We tried to mitigate this in RT as much as we could, but it could still be that you see some differences in extreme cases -- and thumbnails definitely qualify as such. (Incidenta

[2018-01-10 08:49] casta commented on #4255
Here it is: https://www.xwing.info/dl/rawtherapee/20170814_153816_cast2281.tar.xz
This is not the same as in the screenshot above (my wife would not be happy ;)), but I have the same behavior with this one.

Tonemapping sensitive to size is not very handy as to evaluate the settings, seeing the full picture (so zoomed out) is quite common ;)
I thought it was applied on the full raw then resized fo

[2018-01-10 08:53] agriggio commented on #4255
thanks, I'll have a look.

True, that's why we spent some time in making sure that what you see in the main editor window is reasonably close to what you get in the output. For thumbnails the situation is a bit different though...
do you experience the same problem in the editor window?

There are plans to have this as an option, but not for 5.4 (requires some major refactoring of the internals to

[2018-01-10 08:59] casta commented on #4255
Not at all. When zooming out to get the same size as the film-strip thumbnail, this is still fine (just like the thumbnail in the left panel)

[2018-01-10 09:01] agriggio commented on #4255
hmmm... okay, I might need to double check the code and my memory of it then :-)
Thanks, I'll let you know if I find out something.

[2018-01-10 09:08] gaaned92 commented on #4148
new update

[code]

[2018-01-10 12:58] agriggio commented on #4255
@casta I found the culprit. This is due to highlight reconstruction with "color propagation". For some reason (performance probably) this is not applied to the thumbnail. Therefore, the thumbnail and the preview will have different max luminance levels, leading to differences in the HDR tone mapping output. To see this, just try to change the reconstruction method to e.g. "blend" and the thumbnail

[2018-01-10 13:57] agriggio opened #4289 "segfault when saving reference image"
As the title says. The problem seems to be in the TIFF writing when `exifRoot` is NULL. This patch fixes itt, but I'd like @Hombre57  to take a look...

[code]

[2018-01-10 14:26] Floessie commented on #4289
@agriggio @Hombre57 This was also reported by yesterday's Coverity scan. I would have implemented exactly the same fix. 👍

[2018-01-10 14:42] Beep6581 commented on #4289
Does this mean that when using "Save reference image for profiling", metadata is now included? That would be great.

[2018-01-10 14:45] agriggio commented on #4289
@Beep6581 nope, that's exactly the problem -- metadata is assumed to be there, but it is not...
I haven't changed that

[2018-01-10 15:10] casta commented on #4255
Yes indeed.
Thank’s for digging. Anyway it’s a bit annoying, but it’s minor I agree as it only affects thumbnails.

[2018-01-10 15:30] Desmis opened #4290 "Branch White balance : auto - local - Cat02 adaptation"
I push a change in branch [`autowblocal`](https://github.com/Beep6581/RawTherapee/tree/autowblocal). For me now it's work well. I don't say there is no bug or dysfunctionement. To test :)

3 main features : a) 7 methods for "auto WB" ; b) one RT-spot for local WB; C) Chromatic adaptation Cat02 - derived from Ciecam02.

I have enabled by default "White Balance", because when disabled, bad functionn

[2018-01-10 16:19] Hombre57 commented on #4289
@agriggio Looks like I overlooked this occurrence. Could you commit ?

@Beep6581 Looking at the missing metadata...

[2018-01-10 16:20] Desmis opened #4291 "Bug when edit current image in external editor"
When you open an image, and when you pressed on button "left bottom of preview" : "Edit current image in external editor", (in my case Photoshop) the ouput is very very bad, as a very noisy image.

[2018-01-10 16:21] Hombre57 commented on #4289
@agriggio

I guess that it's possible to have input file without metadata, so this test has to be there anyway.

[2018-01-10 16:39] #4289 closed, assigned to Hombre57

[2018-01-10 16:39] agriggio commented on #4289
@Hombre57 done.

[2018-01-10 16:40] agriggio commented on #4291
@Desmis Jacques, can you share a problematic file and its associated pp3? Everything seems to be working fine here (when using GIMP, I don't have Photoshop)

[2018-01-10 16:44] Desmis commented on #4291
@agriggio

**For all files, for all settings**, wen I save to Photoshop, image is not an image, it's uggly :)

jacques

[2018-01-10 16:45] agriggio commented on #4291
@Desmis I assume you are testing the `dev` branch, right? Could you try with GIMP?

[2018-01-10 16:48] Desmis commented on #4291
I have tried yesterday when merging with "newlocallab", I try another time, with "dev" branch (just compiled)
Same problem

I have not Gimp installed :)

[2018-01-10 16:55] heckflosse commented on #4291
@Desmis Jacques, can you post screenshots showing the 100% view of the same region in photoshop and rt?

[2018-01-10 16:56] Hombre57 commented on #4289
@Beep6581 I don't find any issue for the metadata problem. Do you know if one exist ?

[2018-01-10 16:57] agriggio commented on #4291
Hmmm.... I just tried again, this time RT crashed with this:

[code]

@Hombre57, might this be related to your recent changes to the TIFF metadata code?

[2018-01-10 17:04] Hombre57 commented on #4291
@agriggio I suppose, but I need more info on this bug, especially the byte order of your test image and the output bit depth.

[2018-01-10 17:05] Desmis commented on #4291
Here a link with imgur, I hope it works

[2018-01-10 17:06] agriggio commented on #4291
@Hombre57 the output depth should be 16, I just pressed "edit with external editor". If I tried to save as TIFF in the normal way, I get no crash (though this doesn't mean much).
The test image I was using is this:
https://discuss.pixls.us/t/playraw-the-rail-bridge-north-queensferry/6243

[2018-01-10 17:06] Beep6581 commented on #4289
@Hombre57 https://github.com/Beep6581/RawTherapee/issues/3567

[2018-01-10 17:08] Desmis commented on #4291
Here the link

The original image is "amsterdam_moving_boat_1"

https://imgur.com/W4oc4S3

[2018-01-10 17:13] heckflosse commented on #4291
Issue confirmed using a D800 file and exporting to gimp 2.8

![grafik](https://user-images.githubusercontent.com/13733487/34785580-d94edc30-f631-11e7-9e52-c1737620a96e.png)

[2018-01-10 17:13] Hombre57 commented on #4291
@Desmis Les grands esprits se rencontrent... I came across with this issue on my own just 20mn ago. I'm pushing a fix. The problem was that the edited image was "MM" (Big endian), and you saved as Tiff/16 bits. We do the byte swapping, while libtiff does it on its own.

@agriggio The fix will also include the fix for the ICC output reference image that was lacking metadata (it will be set now, in

[2018-01-10 17:17] agriggio commented on #4291
@Hombre57 a single commit is fine for me (but 2 don't hurt if you prefer :-)

[2018-01-10 17:23] Hombre57 commented on #4291
Done.

[2018-01-10 17:23] Desmis commented on #4291
I just install Gimp, same results :)

[2018-01-10 17:40] Hombre57 commented on #4291
@Desmis "install Gimp" ? En français ? Mon patch a été appliqué à dev, et a corrigé ce que l'on voit dans l'image ci-dessus.

[2018-01-10 17:46] Hombre57 commented on #4289
@Beep6581 The metadata problem in the ICC reference file is fixed now (commit 91e494a7098e760d2422003011e8311d7032bba5).

[2018-01-10 17:48] Desmis commented on #4291
@Hombre57

Jean Christophe, je viens de tester, compiler... avec Photoshop tout fonctionne correctement

Merci
jacques

[2018-01-10 17:55] Hombre57 commented on #4291
@Desmis de rien :)

Closing.

[2018-01-10 17:55] #4291 closed, assigned to nobody

[2018-01-10 21:29] gaaned92 commented on #4290
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

@Desmis
I did not yet tested the new autowblocal.

While building it, I noticed some warnings

[code]
[code]

[code]

[2018-01-10 22:47] Beep6581 commented on #4290
A. Same warnings here using GCC-5.4.0.

B. The new automatic white balance method "Auto edge" seems to do a really good job, better than the current auto white balance!

C. I don't understand how CAT02 adaptation is supposed to work in the WB tool. When using the CIECAM02 tool, CAT02 Adaptation is auto-detected to 83, and the image looks fine. When I set it to 83 in the white balance tool, the ton

[2018-01-10 23:49] heckflosse opened #4293 "RT somtimes misinterpretes image orientation of Canon CR2 files"
From [here](https://discuss.pixls.us/t/rt-misreading-image-orientation/6256)

[Related](http://michel.thoby.free.fr/CR2_orientation_Mystery/Wrong_rotation_of_RAW_image.html)

This fixes it:

[code]

[2018-01-11 00:30] heckflosse commented on #4286
@esby Ok to close the issue?

[2018-01-11 00:53] esby commented on #4286
yes, sorry for raising a non existent issue.

Most of the abnomaly was linked to my method to measure it actually.

[2018-01-11 00:53] #4286 closed, assigned to nobody

[2018-01-11 01:44] heckflosse opened #4294 "Speedup for dcp apply"
I made a small speedup for dcp apply. Because of the strange results I need some tests from other devs using Intel CPU.

I tested with three files (Pentax K1, Nikon D800 and Sony ILCE 6000).
Measured processing time for each of the files 7 times unpatched and patched.
No other programs have been opened during measuring.

Here the result of the tests on my AMD CPU

[code]

Here's the patch:

[code]

[2018-01-11 01:48] heckflosse commented on #4286
@esby In case you compile rt yourself, have a look at "StopWatch.h" and BENCHFUN to measure processing times. Quite easy to add some StopWatches to the source ;-)

[2018-01-11 08:29] agriggio commented on #4290
Hi @Desmis, here are a few comments after having tried this (very quickly though):

- I think we should discuss the three new features as separate issues; we might decide to integrate only some of them, or to integrate some earlier than others, and so on...

- In particular, I think we should postpone the "local wb" issue until the pipeline has been refactored and we have a clearer plan for integr

[2018-01-11 10:52] Desmis commented on #4290
I just pushed a change that
* suppress warnings
* disables Cat02 when Ciecam02 is enabled

For the rest:
*I do not think we should wait for the work on "locallab". Indeed, a module "WB local + Cat02" seems to me sufficient in 99% of cases. It is as "Graduated filter" (even we can enhance this feature)
*You have in "locallab" a "warm-cool" module, that you can duplicated, perhaps it is not so good,

[2018-01-11 12:50] casta commented on #4255
Hello again.

It seems that this new normalization is causing highly underexposed results when using “color propagation” highlight reconstruction, in some case, I must increase EV by 1.5 or more.
Switching to “Blend” method, the exposure is more correct and around EV 0 is fine.

See for example this file (2 different pp3 files bundled) : https://www.xwing.info/dl/rawtherapee/20170526_163511_cast21

[2018-01-11 13:09] agriggio commented on #4255
@casta can you try this patch please?

[code]

[2018-01-11 13:11] Beep6581 commented on #4255
I agree with @casta that it would improve usability if the highlight reconstruction method didn't affect Fattal, for the simple reason that changing the HR mode would require exposure readjustments.

I can test the patch tonight.

[2018-01-11 13:30] casta commented on #4255
For me the behaviour with the patch is much more predictable.
Images with clipped highlight become a bit underexposed, but there is not anymore exposure variation, which is much more pleasant IMHO.

[2018-01-11 13:37] agriggio commented on #4255
@casta thanks for testing (and finding the problem)! I agree that the behaviour is much better now. I'll push later today

[2018-01-11 15:40] agriggio opened #4295 "Order directories before files in the processing profiles menus"
Currently, if you have a hierarchy of processing profiles at different levels, subdirectories and files are mixed in the order. The following patch sorts the profiles so that directories come first.
**Example:**

- before:

![before](https://user-images.githubusercontent.com/11982086/34832529-93af356c-f6ea-11e7-8658-c76991c0c1a6.jpeg)

- after:

![after](https://user-images.githubusercontent.com/1