[2017-01-30 21:03] #3646 closed

[2017-01-30 21:05] Beep6581 commented on #3645
Disable "Preferences > Image Processing > Metadata > Copy Exif/IPTC/XMP unchanged to the output file".

[2017-01-30 21:10] Beep6581 opened #3647 "Move "Copy metadata unchanged" to Metadata tab and to PP3"
The option "Preferences > Image Processing > Metadata > Copy Exif/IPTC/XMP unchanged to the output file" is in an unintuitive place. I suggest one of two things:
1. Create a label which informs the user about this at the top of the Metadata tab.
2. Move the whole option to the Metadata tab and store it in the PP3.

Is there a good reason this isn't and should not be stored in the PP3?

[2017-01-30 21:16] Beep6581 commented on #3628
@gaaned92

What are you saying?

Shipping release+debug is the optimal solution, at least for now. If we were to ship the debug executable separately, plain 7z (or zip or whatever) is better than exe.

@Hombre57

I'm not sure what "Program and Functionalities" are - if you mean the start menu, then the shortcut uses the name:
`Name: "{group}\{#MyAppName} {#MyAppVersion}"; Filename: "{app}\{#MyAppE

[2017-01-30 22:20] Beep6581 commented on #3628
`versionfix2` merged into master.

[2017-01-30 22:48] geoderix commented on #3646
@Beep6581
I am frustrating. # 1314 is closed. #922 is closed. This bug is closed too. Closed bug is duplicate of closed bug? But this bug is true. It is a pity that the UTF-8 will never appear in Rawtherapee. Twenty-first century today outside.

[2017-01-30 22:50] geoderix commented on #3645
It is difficult to find so disguised settings. Thank you.

[2017-01-30 22:51] Beep6581 opened #3649 "Release RawTherapee 5.0-r1"
I would like to release 5.0-r1, tagged `5.0-r1-gtk2` and `5.0-r1-gtk3` within the next two days.
It will be a revision - nothing new, just fixes some compilation and versioning issues and a missing theme.

https://github.com/Beep6581/RawTherapee/pull/3635 makes changes which could require a few weeks of testing, so I think it's better if that goes into 5.1.

To be done is to re-instate TooWaBlue v

[2017-01-30 22:56] Beep6581 commented on #3638
@TooWaBoo does that only happen with debug, or also release?
Can anyone else reproduce?

@gaaned92 if that happens in release, would be great if this could be fixed for `5.0-r1-gtk3`.

[2017-01-30 23:04] TooWaBoo commented on #3638
I can't test if this happens with the release version too. Debug and release run fine. Prior version 5 (Gtk3.22 Nightly builds), I only got the last error message with the debug version.

[2017-01-30 23:05] Raoul-Kima commented on #3629
Hi all.

I have the same issue. It seems the installation overwrote all my program settings of the old rawtherapee, and deleted all my custom processing profiles. Thank god my camera calibration profiles are still there! I think this issue deserves more priority, or at least the download page should have a warning till the issue can be resolved.

If anyone knows how to recover my profiles it would

[2017-01-30 23:09] Beep6581 commented on #3646
@geoderix nobody said there was no problem. If you want to discuss this, comment in one of the original issues where we can reference what has already be said and found and linked to. This one is closed because it's a duplicate of a duplicate and nothing has happened in those issues for years and some people claim there is no good fix. As you perhaps ready in the other issues, other programs have

[2017-01-30 23:10] #3645 closed

[2017-01-30 23:10] Hombre57 commented on #3647
Yes, it makes sense to be part of the Metadata tab. You should also add an option to strip all Metadata from the output file, which is what web designer wants. In fact, I think that they use jpeg optimizer to lower the file size, so I don't know if it will be used at all. It'd be better to have it IMHO.

[2017-01-30 23:10] Beep6581 commented on #3645
I agree - see #3647.

[2017-01-30 23:16] Beep6581 commented on #3629
This should be fixed in 5.0-r1, to be release within the next two days.
If @sguyader or @gaaned92 release a build before then you should test it and report back.

[2017-01-30 23:57] Partha1b commented on #3649
@Beep6581 Is it ready for testing/building now?

[2017-01-31 00:05] gwaugh opened #3650 "Crash when manipulating white balance slider"
Branch: gtk3
Version: 5.0
Changeset: 7fe7c4f60f85b47bc1d24b2cfece43444028e3a6
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: Release
Build flags: -std=c++11 -O3 -std=gnu++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas
Link flags:  -Wl,-Bsymbolic-functions -Wl,-z,relro
OpenMP support: ON
MMAP support: ON

OS: Xubuntu 16.

[2017-01-31 00:10] heckflosse commented on #3650
Cant' reproduce the issue here...

[2017-01-31 00:11] Hombre57 commented on #3629
@Raoul-Kima You should be able to recover your old processing profiles by renaming the RawTherapee-_xxx_ folder name in your UserProfile\AppData\Local folder (or AppData\Roaming, I don't remember) or to keep safe, copy its content into the new cache folder.

See also here : http://rawpedia.rawtherapee.com/File_Paths

it depend on the version you were using before, but chances are that some tools d

[2017-01-31 00:12] heckflosse commented on #3650
I don't know anything about the link flags used for that build but I would like to sort them out as a reason for the issue........

[2017-01-31 00:37] gwaugh commented on #3650
Note that the PPA rawtherapee-unstable package works fine. Unfortunately the "about" page gives little useful information. PPA package name:
rawtherapee-unstable_4.3+git20170129-487~ubuntu16.04.1_amd64.deb

[2017-01-31 05:49] geoderix commented on #3646
@Beep6581
You have a strong presence. You have the right. If you hide a bug, then he would never patched. For me, it is best to allocate this bug and stick. In such a case, it may be somebody someday will fix this bug. It is a pity that the program is obtained only for the English-speaking, well, or even Latin.

[2017-01-31 07:18] Desmis commented on #3628
@Beep6581
Can I, now, commit again and with what precautions? (locallabgtk3)
thank you for this work :)

[2017-01-31 07:19] Floessie commented on #3649
@Beep6581

Definitely! I'm still ambivalent if the change is worth the impact it has. When I've ported it over to a new `development` derived branch we can test and discuss it further in #3635.

[2017-01-31 07:23] Floessie commented on #3647
@Hombre57

:+1:

When exporting for a photo forum I strip the JPG with `jhead -purejpg`. So your proposal would be a welcome addition (at least for me). :smiley:

[2017-01-31 09:13] Beep6581 commented on #3650
@gwaugh can you get a stack backtrace?

[2017-01-31 09:32] Beep6581 commented on #3649
@Partha1b yes it is. I will ask for a new build when 5.0-r1 is tagged, so don't spend time polishing this - it's just to test.

@Floessie glad to hear that.

[2017-01-31 09:34] Beep6581 commented on #3628
@Desmis yes, you can commit to "feature branches" such as `locallab` and `locallabgtk3`, but please wait another 2 days before committing anything to `master` or `gtk3`.

[2017-01-31 09:39] Desmis commented on #3628
Ok, I'll commit to localllabgtk3 to day :)

2017-01-31 10:34 GMT+01:00 Beep6581 <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966
http://jacques.desmis.perso.neuf.fr/

[2017-01-31 09:56] TooWaBoo opened #3651 "TooWaBlue Gtk3.20-22 Update"
@Beep6581
Some fine tuning, Version 2.42
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/741594/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/741595/TooWaBlue-Dark-GTK3-20_.txt)

[2017-01-31 10:23] innir opened #3652 "Fails to build with gcc 7"
Hi,

this is nothing with high priority at the moment but as I got a bug report, I'll forward it to you:

gcc-7/g++-7, but succeeds to build with gcc-6/g++-6. The
severity of this report may be raised before the buster release.
There is no need to fix this issue in time for the stretch release.

http://people.debian.org/~doko/logs/gcc7-20170126/rawtherapee_5.0-1_unstable_gcc7.log
The last lines of

[2017-01-31 10:31] Floessie commented on #3652
... The ever recurring `abs()` problem.

@Partha1b @heckflosse I had the impression that was fixed, because it also appeared on macOS with Clang. Does anyone remember, where the patch (and discussion) got lost? I'm getting old...

[2017-01-31 10:36] Floessie commented on #3652
Got it: It's in [#3339](https://github.com/Beep6581/RawTherapee/issues/3339#issuecomment-268975964).

@Beep6581 If @heckflosse is okay with the patch, it should go into `5.0-r1`.

[2017-01-31 10:40] Beep6581 commented on #3652
@Floessie fine with me. Could you commit (into master)?

[2017-01-31 11:04] OricMuso opened #3653 "Queue file handling"
The example of how to enter code to get the output file doesn't work. Forward slash is used perhaps instead of comma ? The default which should put in folder called 'converted' doesn't go to the right address and put the pictures in the RawTherapee folder.
The %s1 to put a sequential number after the file name worked for the first file. I stopped the processing and then started it again and the se

[2017-01-31 11:49] TooWaBoo commented on #3653
I've tried and both examples worked without any issue.
%p1/converted/%f%s1
%p1/converted/%frt

[2017-01-31 11:59] Floessie commented on #3652
@Beep6581 I'll do so tonight. I'll also update `dcraw.patch`.

[2017-01-31 12:22] Beep6581 commented on #3652
@Floessie have a word with @heckflosse about that - I think the latest agreement was to only update the patch when a new dcraw comes around.

[2017-01-31 13:07] heckflosse commented on #3652
@Floessie @Beep6581 Yes, only new dcraw.patch when a new dcraw comes around.

[2017-01-31 13:40] geoderix opened #3654 "Incorrect determination of the focal length for Pentax cameras"
For many PENTAX cameras (I do not know about the cameras of other manufacturers) RawTherapee often incorrectly determines the focal length:

I had a camera PENTAX K100D Super. With lens smc PENTAX-DA 18-55mm F3.5-5.6 AL, regardless of the real focal RawTherapee always shows the focal length of 250 mm (for jpeg or pef):
https://filebin.net/waeow8wdkd1ui8do
https://filebin.net/ftj5fk8iprdqj66s

For

[2017-01-31 13:47] Floessie commented on #3652
Even better. :smile:

[2017-01-31 13:58] iliasg commented on #3630
Looks better than before ..
![em1m2-tungsten3](https://cloud.githubusercontent.com/assets/15012599/22467645/1dfd21ca-e7ce-11e6-8b8a-29c0863aaa1a.png)

[2017-01-31 14:04] Beep6581 commented on #3654
@geoderix thank you for the report and sample files. I will take a look when updating our lens database for RawTherapee 5.1.

[2017-01-31 14:21] iliasg commented on #3631
Looks better than before .. reference values are (left to right)
Babel avg of 30 samples -> 96.53-81.21-66.48-50.83-35.85-20.81
X-rite reference -> 96.54-81.26-66.77-50.87-35.66-20.46
I think it's OK ..
![gx85-tungsten3](https://cloud.githubusercontent.com/assets/15012599/22468528/3decf0ca-e7d1-11e6-97fa-0e28d2c95521.png)

[2017-01-31 19:10] gwaugh commented on #3650
I have a second computer with same hardware and OS with the exception of a different CPU Pentium G3258, 8 GB ram, no nvidia graphics card (so Intel video driver). RT 5.0 crashes under the same test conditions.

I have two apport crash reports which are very large text files (224 MB and 102 MB). There appears to be stack trace information. Are these useful to you?

[2017-01-31 19:50] #3339 closed

[2017-01-31 19:54] Floessie commented on #3652
Should be fixed now. Maybe there are other places which fail with GCC 7, but I can only take care of them when I've got an GCC 7 installation at hand.

@innir Philip, thanks for forwarding from the BTS!

[2017-01-31 19:54] #3652 closed

[2017-01-31 20:01] Beep6581 commented on #3650
@gwaugh no, only what's described here: http://rawpedia.pixls.us/index.php/How_to_write_useful_bug_reports

[2017-01-31 21:01] OricMuso commented on #3653
Well it doesn't for me. Win7 system if that makes a difference.

[2017-01-31 21:03] TooWaBoo commented on #3653
I'm on Win 10. Can you post exactly the whole string you are using, please?

[2017-01-31 21:06] OricMuso commented on #3653
I used the default and tried adding /%s1 or ,%s1. Tried %p4 instead of %p1 with no change.

[2017-01-31 21:09] heckflosse commented on #3653
@OricMuso I repeat TooWaBoo's request:

Can you post exactly the whole string you are using, please?

[2017-01-31 21:09] Beep6581 commented on #3649
@TooWaBoo's missing TooWaBlue theme for <=GTK+ 3.18 is fixed.

[2017-01-31 21:10] TooWaBoo commented on #3653
Don't use "/" or "," only add %s1 or rt

[2017-01-31 21:15] TooWaBoo commented on #3649
@Beep6581
Please update https://github.com/Beep6581/RawTherapee/issues/3651 in the Gtk3 branch too.

[2017-01-31 21:22] ghtma commented on #2998
Unfortunately this issue is still open and not assigned. Any chance to get it fixed in the near future?

[2017-01-31 21:41] Beep6581 commented on #3198
Over the last months there has been a recurring packaging problem with the file browser arrows missing. If this feature was implemented (I tried and gave up, don't understand GTK+ signals yet) missing arrows would be less of a problem. I'm also using that as an excuse to bump the issue :)

[2017-01-31 21:44] OricMuso commented on #3653
Think I've got it working now. The Use template had become unclicked for some reason so it was saving to folder (none).  Then it was naming the folder instead of giving the photo the filename.  It's working with rt suffix too I think I tried a space or +rt or something.

So / is used for file structure and no comma (which was in the instructions. ) Thanks for help.

(I use old computers that had D

[2017-01-31 21:45] #3651 closed

[2017-01-31 21:46] Beep6581 commented on #3649
@TooWaBoo thanks, committed.

[2017-01-31 21:47] Beep6581 commented on #2998
@ghtma can you upload some sample raw files? Use http://filebin.net/

[2017-01-31 21:50] gaaned92 commented on #3198
@Beep6581  if the folder contains raw images and subfolders,  presently double click permits to display the raw.
If now it expands the folder, how we can display the raw files?

[2017-01-31 23:18] heckflosse commented on #3653
@OricMuso Can we close the issue as it is solved?

[2017-02-01 03:42] gwaugh commented on #3650
OK! I have managed to compile a release and debug version of the GTK3 branch. I did this on my second (backup) computer. Brief playing around is yielding some strange results. Especially when running the debug version in GDB. More on this later.

I think Dariusz Dumas two versions of RT, available in his ppa, are built on different branches of RT code. Rawtherapee appears to be built on the GTK3 b

[2017-02-01 08:07] Floessie commented on #3650
I tried with today's `master`and GTK 2.24.25 and could not reproduce. But I got this warning once:

    Gtk-CRITICAL **: IA__gtk_progress_set_percentage: assertion 'percentage >= 0 && percentage <= 1.0' failed

HTH,
Flössie

[2017-02-01 09:26] Desmis commented on #3628
@Beep6581
 Bravo for this work :)
Now when I compile "locallabgtk3" (after merge with gtk3) we can see all
settings :
* commit description
* branch
* commit date
* etc.

thank you :)
jacques

2017-01-31 10:39 GMT+01:00 jacques Desmis <jdesmis@gmail.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966
http://jacques.desmis.perso.neuf.fr/

[2017-02-01 12:15] Beep6581 opened #3655 "LG Mobile LG-H850 (LG G5) raw support"
For white levels
https://filebin.net/vaz6ovj5p66exgz9

From https://plus.google.com/u/0/b/106783532637761598368/+AndrewJens/posts/VarFNfXZhd2

[2017-02-01 13:58] OricMuso commented on #3653
Yes.

[2017-02-01 15:17] #3653 closed

[2017-02-01 15:55] srgmro commented on #3650
I have a similar issue on Maui2.1 (Kubuntu 16.04 based distribution).
It crashes at opening. See the following message`* Error in `rawtherapee': realloc(): invalid pointer: 0x00007fcf8539ed00 *

Backtrace:
==========
[code]

Memory map:
===========
[code]

Using i7 processor and nvidia card.
RT5

[code]

I hope this could help. I am far from being a linux specialist.
SM

[2017-02-01 17:00] gwaugh commented on #3650
Results from debug version:

[code]

OS: Xubuntu 16.04.1, 64 bit, kernel 4.4.0-59-generic (x86_64), CPU Pentium G3258, 8 GB ram

RawTherapee compiled from github GTK3 branch.

Open any large jpg (~20MP), adjust white balance temperature up and down rapidly until RT crashes.

Debug log file:
[log.txt](https://github.com/Beep6581/RawTherapee/files/745523/log.txt)

I hope I did this correctly. If you

[2017-02-01 21:24] ghtma commented on #2998
@Beep6581
I have uploaded [three files](https://filebin.net/lle2xzp6r5r5wzns), one for each lens I own. The blue text in the image is the "LensType" read with ExifTool.

[2017-02-01 22:01] iliasg commented on #3655
This file opens fine and without magenta cast .. the WL looks correct at 1023 (10bit file) .. but I have to dig a bit ..

magenta highlight is only visible in the in_DNG embbeded preview ;)

We only need to extract the full dcp profile because RT only read the colormatrix2 ..

[2017-02-01 22:37] iliasg commented on #3655
OK I see that there is a BIG spread from 503-1023 for Red and 750-1023 for Blue which is hidden with a "correct" WB but can show up with a different WB
I think this is a spread coming from Black Frame subtraction operated due to Long Exposure .. may be also vignette correction, as the coloration is at the center
I think lowering the WL at 500 is too much. Also we cannot be sure if it's always same

[2017-02-01 23:01] iliasg commented on #3655
The exported dcp profile .. no LUTs .. only dual illuminant matrices.
[LG-H850-dcp.zip](https://github.com/Beep6581/RawTherapee/files/746389/LG-H850-dcp.zip)

It uses inverse order of illuminants but I think RT recognizes this ..

[2017-02-02 00:23] heckflosse opened #3656 "Sharpen only edges needs review and speedup"
As mentioned on pixls.us 'Sharpen only edges` is quite slow. Also the code is [ugly and full of macros](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/bilateral2.h)
There is also at least one bug in the code.

This Issue is to improve this :)

@Floessie and I will work on this without pressure to have another fun optimization session :)
Everybody else is welcome to join!

Ingo

[2017-02-02 00:48] heckflosse commented on #3656
Here's a measure of current code behaviour. Compared `default sharpening` to `default sharpening + only edges` exporting a full size D800 file (only sharpening part measured)
[code]

[2017-02-02 09:57] Floessie commented on #3656
Having had a quick look at the (indeed ugly) code, here is my preliminary plan:

1. Replace macros with proper C++11 code
2. Factor out common code
3. See, if `double` could better be `float` in some places
4. See, if we can vectorize parts

You wrote, you already had some ideas. So maybe I'll branch off from `development` (if that's ready by then, @Beep6581?) or `master` on the weekend and start

[2017-02-02 10:52] ghost opened #3657 "Switch between RGB curves in the RGB curves tab does not work"
Hi,
using the RGB curves in the colour management tab I realized that it is not possible to go back e.g. to the R curve, once G and B curves have been changed. I.e. I cannot iterate changes in the curves without resetting my changes, which in turn resets my adjustments just made.

Hermann-Josef

RT version :
Branch: gtk3
Version: 5.0
Changeset: 7fe7c4f60f85b47bc1d24b2cfece43444028e3a6
Compiler: gc

[2017-02-02 11:04] TooWaBoo commented on #3657
I'm on Windows 10 Home x64 and I can't reproduce this behaviour.
Testet with RT5 Gtk3.18 and RT5 Gtk3.22

[2017-02-02 11:27] Beep6581 commented on #3657
Each curve gets its own entry in the linear history. Can you describe the problem better?

[2017-02-02 11:40] heckflosse commented on #3656
@Floessie Sounds good. :+1:

btw: the experimental function at the end of bilateral2.h is unused.

Meanwhile here my first ideas:

1. There is a lookup table `ec` of size 512 kb which is created per omp thread. It would be more cache friendly to create this lookup table only once.

2. In the BL_OPER macros the axy parameters can be reduced because always axy == ayx (a12 == a21 and so on).

3. The

[2017-02-02 12:44] ghost commented on #3657
Hi,
in the RGB curves tab (Color management tab) I select the R channel and custom, change the curve and then go to G, do the same, and then with the B channel.

Now I want to iterate the changes and want to switch back to the R channel but I cannot. I get stuck with the B channel. The only way out is to reset the changes.

Maybe this is my fault, since I was choosing "custom" again. I just realiz

[2017-02-02 13:25] heckflosse commented on #3657
It is on purpose that the changes in RGB curves are still there but are not active until you change the curve type because the curve type for a new image is set to linear. This allows you to easily apply the same curve to a new image by changing curve type from linear to custom.

[2017-02-02 13:29] heckflosse commented on #3656
@Floessie
I had a deeper look at the code.
In principle it divides one gaussian blur by another gaussian blur.
That could lead to a completely new (and much faster) implementation which would make steps 1 to 4 of your plan a waste of time.
I will try that now for the simple 3x3 case...

[2017-02-02 13:36] Floessie commented on #3656
Ingo, you're the wizard, I'm just a medico. :wink:

[2017-02-02 14:25] herb52 opened #3658 "Exif tag UserComment"
Hello,

I started to work with RawTherapee 5.0-gtk3 64-bit on a Windows 7 64-bit system. (I never worked with older versions of RawTherapee.) Congratulations to this version.

I assigned the 2 tags Exif:UserComment and also Exif:ImageDescription to a *.orf image and stored the output as *.jpg file. Both tags contained Ascii characters and also some chinese characters.

In order to check the writte

[2017-02-02 15:08] heckflosse commented on #3656
@Floessie Unfortunately I'm not the wizard. I missed some things. :(
You can follow your original plan :+1:

[2017-02-02 16:27] herb52 opened #3659 "Strange storing of IPTC tags"
Hello

I started to work with RawTherapee 5.0-gtk3 64-bit on a Windows 7 64-bit system. (I never worked with older versions of RawTherapee before.) Congratulations to this new  version.

I tried to work with IPTC tags and assigned the following tags to a *.orf image and saved it as *.jpg file:
Caption=BESCHREIBUNG;
CaptionWriter=HERB öäü HERB;
Instructions=TIP 山山山山  TIP;

In all sidecar files thes

[2017-02-02 17:23] TooWaBoo commented on #3638
@gaaned92
I've tried your build "RawTherapee_gtk3_5.0-gtk3-27-g50114c1a_WinVista_64.zip" from your Google drive.
The path to the pixbuf-loader is wrong:
[code]

[2017-02-02 18:32] Beep6581 opened #3660 "Git branching scheme"
The purpose of adopting this scheme is to prevent "management" of branches from getting in the way of development. Developers should always be able to make and commit changes regardless of whether there is a new release being made.

I hope that together we can make this work.

Note: Renaming remote branches is not possible. To "rename" a branch a new one is created and the old one deleted and the

[2017-02-02 19:17] gaaned92 commented on #3638
@Beep6581 I made a post on this subject not long ago, as I get the message in verbose mode. Nobody seemed worried. Sorry, I cannot find it.
@TooWaBoo  Thank you for the notice. I correct and rebuild.

[2017-02-02 19:37] Kakupakat opened #3661 "Nikon D300 shots for DCP"
https://filebin.net/b6qloe6minx8tud5

[2017-02-02 20:39] heckflosse commented on #3656
Before I forget it I would like to mention another possible optimization:

Currently the lookup table needs 512 kb
I inspected the content of the lookup table:
It's symmetrical, the middle value is always 1.0 and it converges to 0.0 at both ends.

That leads to the following possible optimization:

1. Set the lookup table to clip at lower and upper end

2. Calculate the range of the lookup table s

[2017-02-02 20:40] Kakupakat opened #3662 "Nikon D810 shots for DCP"
https://filebin.net/8urnsgl1xzkw7bqt

[2017-02-02 21:36] Beep6581 opened #3663 "RawTherapee 5.0-r1 released"
RawTherapee 5.0-r1 (revision 1) was just released. It is functionally the same as release 5.0, but fixes the versioning problems #3628 including improvements to the installer, the [missing TooWaBlue themes](https://github.com/Beep6581/RawTherapee/commit/6c2cd39f30c467c9fb31667d12ee683045c3098e) when using GTK+ <=3.18, compilation failures due to `abs` in commit 968d991d97fc2c7d57712d7cd860c077be71

[2017-02-02 22:37] Hombre57 commented on #3636
Yes, as explained in [rtgui/threadutils.cc](https://github.com/Beep6581/RawTherapee/blob/master/rtgui/threadutils.cc), you can uncomment `#define TRACE_MYRWMUTEX 1` to let RT log in stdout all MyMutex operations. If something is used while already freed or in case of deadlock, you'll see where it occurred in the code.

[2017-02-03 00:06] iliasg commented on #3656
@heckflosse
Ingo, if the calculation of the LUT is easy you could replace it with on the fly calculations .. no ?.
Is it a gaussian probability distribution ?

[2017-02-03 00:09] Hombre57 opened #3664 "Soft-proofing printer profile needs to be documented"
The documentation need to be updated about my last change on creating a Printer profile in Preferences.

[2017-02-03 00:26] heckflosse commented on #3656
@iliasg Unfortunately the calculation of the LUT includes an exp()
Edit: Perhaps we can beat it by on the fly SSE calculation but I'm not sure

[2017-02-03 07:03] Floessie commented on #3656
@heckflosse Maybe with some inspiration from [here](http://gruntthepeon.free.fr/ssemath/sse_mathfun.h).

[2017-02-03 08:59] srgmro commented on #3650
Version 5.0.1 crashes also at launching, at least half the time.
Terminal message
*** Error in `Abandon

[2017-02-03 10:05] Beep6581 commented on #3650
@srgmro http://rawpedia.pixls.us/index.php/How_to_write_useful_bug_reports
Stack backtrace part.

Please open a new issue (only once you have the required info including a stack backtrace), because your "crashes at launching" bug seems to have nothing to do with issue which is about a white balance slider-induced crash.

[2017-02-03 10:15] Beep6581 commented on #3650
@gwaugh the backtrace misses a few lines at the top, the lines just before you wrote "bt full". The first one usually looks something like this:
`Program received signal SIGSEGV, Segmentation fault.`
Include that one and all subsequent ones in the log.

Please open a new issue for that but only if you include a stack backtrace.

[2017-02-03 10:16] Floessie commented on #3650
I installed Xubuntu 16.04.1 in a virtual machine with four virtual cores, cloned RT, compiled the `dev` branch in debug mode and tested it against an 18MP JPEG: Neither does it crash at start, nor when repeatedly changing the white balance temperature. I must be missing something... Well, most obviously a sample JPEG which makes it crash from @gwaugh.

My AboutThisBuild.txt:
[code]

Flössie

[2017-02-03 10:34] srgmro commented on #3650
@Beep6581
Sorry, but i am not able to do that. Perhaps could I get a debug version somewhere.
The crash seems not very reproducible on my machine.
SM

[2017-02-03 10:46] Beep6581 opened #3665 "Invite Mr Travis to chew on dev branch commits"
Travis CI needs to be moved from `gtk2` to `dev`.

[2017-02-03 10:55] gaaned92 commented on #3638
With path correction, the first warning `...Cannot open pixbuf loader module file... ` disappears.
But two  warnings remain:

[code]
In the RT builds I make, cursors are located in ".../ share/icons/Adwaita/cursors" .

and
[code]
@Hombre57 is already  aware of this warning.

But these two warnings seem innocuous and  as @TooWaBoo  said, Rawtherapee runs without problem.

[2017-02-03 12:09] gwaugh commented on #3650
@Beep6581 My first time using a debugger in Linux. I followed the instructions closely. If you need something else, you will need to give me specific instructions to accomplish a task. Your request is not obvious to me.

[2017-02-03 12:10] gwaugh commented on #3650
@srgmro I have seen crashes on opening RT with the debug build running in the debugger.

[2017-02-03 12:26] gwaugh commented on #3650
@Floessie Here is a sample jpg that crashed RT on my PC.
![dsc01624](https://cloud.githubusercontent.com/assets/25444335/22591302/df6ca80c-e9e1-11e6-914d-c8051eb166b2.JPG)

[2017-02-03 12:30] srgmro commented on #3650
@gwaugh So it seems that it is not necessary for me compile a debug version.
Thanks a lot.
SM

[2017-02-03 12:40] gwaugh commented on #3650
@srgmro Technically, your problem could be different.

[2017-02-03 12:43] Beep6581 commented on #3650
@srgmro please follow our instructions instead of drawing your own conclusions. It is still necessary that you get or compile a debug build to provide a stack backtrace of the crash on startup and submit it in a new issue, not in this one. A crash on startup is something entirely different to a crash using the white balance slider, please don't mix different things in one issue.

@gwaugh

I see th

[2017-02-03 12:54] gwaugh commented on #3650
@Beep6581 I'm following your debugger commands as outlined. I'm not coping and pasting anything. I never see text until I open the the text file the debugger commands creates.

[2017-02-03 13:08] Floessie commented on #3650
Got a BT from a release build with @gwaugh's image:
[code]

[2017-02-03 13:18] Floessie commented on #3650
And another one with a debg build:
[code]

[2017-02-03 13:35] Floessie commented on #3650
[Here](https://github.com/Beep6581/RawTherapee/files/750569/log.txt) is a `thread apply all bt full`.

[2017-02-03 13:37] heckflosse commented on #3656
@Floessie I will test with [this one](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/sleefsseavx.c#L1308) first ;-)

[2017-02-03 13:38] srgmro opened #3666 "RT5 crash at start"
RT5 get from PPA Dariuz.
Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1a
Commit date: 2017-02-01
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: Release
Build flags: -O3 -std=gnu++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas
Link flags:  -Wl,-Bsymbolic-functions -Wl,-z,relro
OpenMP support: ON
MMAP support: ON

[2017-02-03 14:02] heckflosse commented on #3656
@Floessie A correct version of [this](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/LUT.h#L292) maybe also handy

[2017-02-03 15:18] TooWaBoo commented on #3638
@Beep6581 , @Hombre57 , @gaaned92 , @Partha1b

After copying the dll below to RT, RT is runnung without any error message **and** it shows the missing arrows
on @partha's RT portable. Looks like the pixbuf-loader can not run without these dlls.
[code]

[2017-02-03 16:11] Beep6581 commented on #3666
@srgmro please install GDB and run RawTherapee from it to get a better stack backtrace as explained here http://rawpedia.pixls.us/index.php/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces

Try to find whether a specific file is causing the crash as explained here http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup

[2017-02-03 16:14] Beep6581 commented on #3638
@TooWaBoo great, I hope this fix makes its way into the 5.0-r1 builds @gaaned92 @sguyader @Partha1b

Would be great if the Windows installers included both a `rawtherapee.exe` and a `rawtherapee-debug.exe` with `gdb.exe`. We need a 32-bit GTK2 installer for Windows XP and a 64-bit GTK3 installer for WinVista.

[2017-02-03 18:37] Partha1b commented on #3638
@Beep6581 , @TooWaBoo Yes, it will make to my build

[2017-02-03 18:43] iliasg commented on #3656
@heckflosse Ingo, is the current implementation of bilateral filter optimized for speed for the given task ?.

As I understand, full accurate (exact) Bilateral filters are generally very slow, but fast bilaterals have been around optimized for speed by decreasing precision. Some are effective (speed/quality) on small radius only, others are more effective for large radius etc.
http://people.csail.

[2017-02-03 19:26] heckflosse commented on #3656
@iliasg The source code has this comment:
[code]
So it looks like someone optimized it long time ago.

It also has some relics from old times where rt processing was integer (for example the gauss approximation using large integral coefficients). I am not sure whether we should change this or not.

In my tests I could already reduce the processing time for the case mentioned in second post from 28

[2017-02-03 20:35] Eneen opened #3667 "Demosaic artefacts"
Hi,

I'm in the middle of mimicking Canon DPP look. I've came across demosaic artefacts when strong contrast and chromatic aberration is involved. I tried several available algorithms but none is better then original one. Please take a look. I can provide CR2 and jpegs but need to know where to upload big files to make them available.

DPP gives soft nice looking picture without any artefacts:
![_

[2017-02-03 20:53] heckflosse commented on #3667
@Eneen As you opened the Issue you could read this:

[code]

Unfortunately you only followed the last sentence :(

[2017-02-03 21:16] Eneen commented on #3667
Oh, I'm very sorry, haven't found that page before. Here is all info:
RT version 5.0-gtk3-27-g50114c1a from here:
https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8
System info: Windows 10, Intel Core i7 4770, 16GB RAM
Link to files: http://filebin.ca/3B9yaTMQOHxu/rawtherapee_dem_artef.7z
To replicate just open provided CR2 file and change between demosaicing modes. I've attached

[2017-02-03 21:43] heckflosse commented on #3667
@Eneen Thanks for uploading the file and providing information about the rt version you use.
What you see there is the correct output of the demosaicers. It's CA and maybe also some fringe which you can correct in RT as well.

PLease try the following pp3 files.
One is with CA correction, the other one with CA correction + Defringe

[_MG_6842_pp3.zip](https://github.com/Beep6581/RawTherapee/files/

[2017-02-03 22:09] Beep6581 commented on #3638
@gaaned92 I see two identically named builds in https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8
"RawTherapee_5.0-r1-gtk3_WinVista_64.zip"
One is 20MB and the other 40MB. Does the 40MB one contain release+debug? If not, could you please @ping me when a r+d WinVista 64-bit GTK3 one is available?

Could you also please @ping me when a 32-bit Windows XP GTK2 build is ready?

[2017-02-03 22:20] iliasg commented on #3656
@heckflosse
OK :)
Just in case you will use sleef.c .. it's updated to 2.121
The log says for 2.110, "Following functions returned incorrect values when the argument is very large or small : exp, pow, asinh, acosh"
https://github.com/shibatch/sleef

[2017-02-03 22:23] Eneen commented on #3667
Indeed, that fixed it, great! And it seems, that DPP uses CA correction that's invisible to user. Good to know. Also result from RT is sharper.

[2017-02-03 22:40] gaaned92 commented on #3638
@Beep6581  , @TooWaBoo  Ok, already included.
GTK2 and GTK3 W64 builds with included debug uploaded
for 32 bits GTK2 and GTK3 uploaded within half hour.
edit : uploaded
Note: There are still a lot of windows 32 bit users (vista and above) that can use GTK3 builds.

[2017-02-03 23:20] Beep6581 commented on #3667
@Eneen read this, it covers that most editors do things behind your back without your knowing: http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG

Also see this http://rawpedia.rawtherapee.com/Getting_Started

No issue here, closing.

[2017-02-03 23:20] #3667 closed, assigned to nobody

[2017-02-03 23:31] Beep6581 commented on #3638
@gaaned92 could you please point me to the following as I can't tell by the filename which ones have release+debug+gdb:
- GTK2 32-bit WinXP
- GTK3 64-bit WinVista

[2017-02-03 23:46] heckflosse commented on #3656
@iliasg
Ilias, for the incorrect values of exp in sleef there's a workaround in rt version of sleef since long time :)

sleef pow, asinh and acosh currently are not used by rt

I prefer to not change a running system a the moment ;-)

[2017-02-04 00:18] heckflosse opened #3668 "Defringe curve: Setting of neutral profile does not match the reset button"
To reproduce:

- Open an image
-  Apply neutral profile
- Open the Defringe Curve
![defringecurve00](https://cloud.githubusercontent.com/assets/13733487/22613302/868a58b0-ea77-11e6-87dc-7d5f99eef62a.png)
- Press the reset button of the Defringe curve
![defringecurve01](https://cloud.githubusercontent.com/assets/13733487/22613334/c138b98e-ea77-11e6-85c6-24f2c790eedc.png)

[2017-02-04 09:28] gaaned92 commented on #3638
@Beep6581  Sorry to be unclear. From now, all new builds will contain in the exe installer:

- rawtherapee.exe launched by default,
-  gdb.exe
- and rawtherapee_debug.exe

These are:

- RawTherapee_5.0-r1-gtk2_WinVista_64.zip
- RawTherapee_5.0-r1-gtk3_WinVista_64.zip
- RawTherapee_5.0-r1-gtk2_WinXP_32.zip
- RawTherapee_5.0-r1-gtk3_WinXP_32.zip

@TooWaBoo  only one warning remains
`Gdk-[1;33mWARNI

[2017-02-04 10:22] TooWaBoo commented on #3638
@gaaned92
I don't get the cursor error and I did a clean install of your installation file.

Yesterday, I've tried to compile RT myself. At the step, where to copy the dll, I've copied all and recognized, that the error messages are gone. Then I've removed the dlls one by one until the errors appear again.

[2017-02-04 11:07] Beep6581 commented on #3638
Thank you, builds uploaded. I verified that the Windows XP builds includes a debug file, but I could not verify the 64-bit one. In fact someone on IRC said that it didn't have a debug exe. Could someone please verify that "RT 5.0-r1-gtk3" available from http://rawtherapee.com/downloads/ includes a debug exe?

[2017-02-04 11:07] Beep6581 commented on #3638
As for this issue, please update http://rawpedia.rawtherapee.com/Windows or tell me what to add, if anything.

[2017-02-04 11:31] TooWaBoo commented on #3638
@Beep6581
This is the list of DLLs, which is installed by @gaaned92 for WIN x64 Gtk3.22

[code]

[2017-02-04 11:39] TooWaBoo commented on #3638
It contains a rawtherapee_debug.exe

[2017-02-04 11:44] Beep6581 commented on #3638
@TooWaBoo thank you, RawPedia updated. And thank you for the confirmation that it includes _debug.exe.

Can we close this issue?

[2017-02-04 12:45] TooWaBoo commented on #3638
I think so.

[2017-02-04 13:12] #3638 closed

[2017-02-04 13:51] Floessie commented on #3656
@heckflosse I've just pushed a [new branch](https://github.com/Beep6581/RawTherapee/tree/bilateral_speedup) as the base for further experimentation. The only properly converted macro is [`BL_OPER3`](https://github.com/Beep6581/RawTherapee/blob/bilateral_speedup/rtengine/bilateral.cc#L234) for now. Maybe we start optimizing that and apply the rules we find to the other variants afterwards.

[2017-02-04 14:18] heckflosse commented on #3656
@Floessie Shall I just push some changes?

[2017-02-04 15:31] heckflosse commented on #3656
@Floessie I just pushed some small changes which also should help to understand the code.
Only optimization I made was one LUT instead of one LUT per thread.

[2017-02-04 16:31] heckflosse commented on #3656
@Floessie To avoid that I forget it:
Currently the bilateral function has 3 arrays (source, destination and buffer)
But buffer is only needed when `source == destination`.
I suggest to allocate the buffer inside the bilateral function for the case `source == destination` and to set
`buffer = destination;` for the case `source != destination`
That would also mean in case `source == destination` we

[2017-02-04 16:57] Floessie commented on #3656
@heckflosse But the buffer is needed by `deconvsharpening()` and `gaussianBlur()`, too.

[2017-02-04 17:11] heckflosse commented on #3656
@Floessie Yes, b2 is used for gaussianBlur and deconv...
But we don't need it for bilateral currently. We can directly write into b3
[code]
;-)

[2017-02-04 17:46] Beep6581 commented on #2739
Obsolete and stale.

[2017-02-04 17:46] #2739 closed

[2017-02-04 17:48] #3628 closed

[2017-02-04 17:48] #3629 closed

[2017-02-04 18:33] Beep6581 commented on #3544
To bump and summarize this issue so far, compiling RT on some unusual drive letter such as `Y:` does not fix/prevent this problem, and the most likely culprit seems to be the GTK+ version.

[2017-02-04 19:25] TooWaBoo commented on #3638
@Beep6581 The following line has to be add to the compiling instruction too.

[code]

btw: I didn't find anything from `<prefix>\lib\gtk-2.0\...` in the current installation from @gaaned92
I don't know, if they are needed or not.

[2017-02-04 19:32] sguyader commented on #3544
In fact, since we build Windows packages in MSYS2, I don't think building on a different hard drive is going to change anything, since the compiler doesn't know the Windows drive letters as it is compiling in a Unix environment, I think.
Could the problem come from some of the libraries that we have to compile ourselves in MSYS2 environment? Sometimes in pkgconfig files there's a path to library w

[2017-02-04 19:55] Partha1b commented on #3638
@TooWaBoo where is gspawn used in the code? I don't think it's used anymore.

As for gtk-2.0/2.10.0 modules or gtk-3.0/3,0.0, you only need them if you use them.

[2017-02-04 20:00] TooWaBoo commented on #3638
@Partha1b

I'm not sure, but I think they are needed for a DEBUG version.

[2017-02-04 20:05] heckflosse commented on #3544
@sguyader
I'm not completely sure about that the compiler, make, cmake, whatever does not know the windows drive letters when building on MSYS2.
One line from my log when building RT on MSYS2:
[code]

Maybe that drive letter bug is related to gtk3 version. As you I also use 3.18 and never saw this bug with my builds...

That's something we should inspect indeed!

[2017-02-04 20:07] Partha1b commented on #3638
@TooWaBoo gspawn is used to spawn an external program in a given environment.

So for Linux and Apple we use GLib::spawn_command_line to run an external command. On Windows we're using ShellExecute. So, the helper files are not needed anymore.

Someone correct me here if I am wrong here.

[2017-02-04 20:11] Partha1b commented on #3544
@heckflosse I agree. Despite the masking, drive letters do get used as demonstrated by you. Definitely used in my case as I use the Msys shell. cmake and libtool are notorious in this respect.

I am beginning to think that this drive letter issue is a runtime problem when a user has a disk when running RT and not having a disk inserted when running a second time?

[2017-02-04 20:26] heckflosse commented on #3544
@Partha1b

I think it's caused by gtk3. Seems that using gtk3 3.18 on windows does not have this issue:
https://discuss.pixls.us/t/rawtherapee-5-0-revision-1-released/3234/26

[2017-02-04 20:27] TooWaBoo commented on #3638
@Partha1b

I've tested it and removed the ...helper.exe. It's not needed for DEBUG, but it's needed for e.g. to launch an external program for the custom processing profile builder.

I'm using this Addon for RT: https://github.com/marcapelini/RTProfileSelector/releases
btw: This should be advertised in the forum, it's really helpfull.

[2017-02-04 20:44] Partha1b commented on #3638
@TooWaBoo Ahh OK. So, this is a third-part addon? Should the helper files not be included with that plugin?

[2017-02-04 20:48] TooWaBoo commented on #3638
@Partha1b

I don't think so. This is the way how RT launches these external programs. It has nothing todo with the addon itself - I guess.

[2017-02-05 04:18] harshula opened #3669 "Colour-target shots from Nikon D80"
The following files:
nikon-d80-daylight-DSC_0773.NEF
nikon-d80-tungsten-DSC_0754.NEF

are uploaded to:
https://filebin.net/rfe2f1t1amilwc08

They are licensed under CC0 license (https://creativecommons.org/about/cc0)

tungsten: 75 watt light bulb ~2.4m distance from the colour chart

[2017-02-05 12:28] Beep6581 commented on #3638
@TooWaBoo I added the line, http://rawpedia.rawtherapee.com/Windows#Copy_RawTherapee_and_required_DLLs

[2017-02-05 17:51] srgmro commented on #3666
@Beep6581 You were right, the problem arise from two folders having numerous raw files and pp3. A new one never trigger the crash. The only strange behaviour arises from using the unstable version of RT which never exhibit that crash with the usual folders. So I consider the problem as solved. thanks very much for your help and suggestions.
SM

[2017-02-05 19:00] Beep6581 commented on #3666
@srgmro the bug can only get fixed if you upload the guilty file.

[2017-02-06 06:23] srgmro commented on #3666
OK, I am looking carefully to the folder and loading in it step by step raw images (for the moment from sony ). The first things which looks strange for me is that I have some raw image in triplicate, that i nevre have before.
Ex : DSC01635.ARW and DSC01635_1.ARW DSC01635_2.ARW with time of creation of 13:28 for the first one and 15:28 for the two others. This behaviour is systematic each time my

[2017-02-06 06:42] srgmro commented on #3666
Looking further on folders of canon raw files (.CR2) I never observer files in triplicate.
SM

[2017-02-06 07:43] srgmro commented on #3666
I consider that these triplicates can only arise from loading of raw files from the camera.
So I focus on looking on faulty files, but that will not be so easy. The crash is not highly reproducible.

[2017-02-06 13:06] gaaned92 commented on #3544
@heckflosse  @Floessie
I tried to reproduce the issue.
version 5.0-r1-gtk3  with gtk+3.22.7 on W10
To reproduce issue I made following steps
[code]
 the annoying window no disk in drive appears

Following [this page](https://bugs.launchpad.net/inkscape/+bug/950781), I inserted in main.cc the line
`SetErrorMode(SEM_FAILCRITICALERRORS | SEM_NOGPFAULTERRORBOX | SEM_NOOPENFILEERRORBOX);`
that seems so

[2017-02-06 13:18] gaaned92 opened #3670 "Adwaita : Windows cursors missing"
I don't know if they are used by Rawtherapee GTK3 as it seems without impact.
It generates a warning either in verbose mode or in debug builds.

As described [https://bugzilla.gnome.org/show_bug.cgi?id=774671](https://bugzilla.gnome.org/show_bug.cgi?id=774671), the adwaita windows cursors are missing in the MSYS2 installation.
I hope that the adwaita update will find its way to MSYS2

[2017-02-06 13:22] Beep6581 commented on #3670
Is there anything that we should do about it?

[2017-02-06 13:32] gaaned92 commented on #3670
@Hombre57 could you answer?

[2017-02-06 14:03] Partha1b commented on #3544
@heckflosse Looks like this confirms what I was speculating above.

I am guessing, we can patch the code to default to user's home folder (or Pictures) if the last used folder no longer exists?

@gaaned92 If I am understanding your fix, does this simply tell the app to move on to a default folder once the last accessed folder is no longer available?

[2017-02-06 14:10] Floessie commented on #3544
@gaaned92 Although I'm not involved with Windows specific problems, this sounds like a good idea. For reference, [here](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680621%28v=vs.85%29.aspx) is the "man page". Please post a patch for review.

[2017-02-06 14:36] heckflosse commented on #3656
@Floessie Do you have some changes on hold or can I push some changes today?

[2017-02-06 14:59] TooWaBoo opened #3671 "Compiler Warnings Gtk 3.22"
@Hombre57 , @Beep6581
I've compiled the latest RT version myself and got these warnings during compiling.
Something is deprecated.

[code]

[2017-02-06 17:34] Floessie commented on #3656
@heckflosse No, you can push. I was busy with my color negatives.

[2017-02-06 18:27] gaaned92 commented on #3544
@Partha1b  I don't  really understand what the fix is doing.
 If you don't have the fix above you have to click many times on "continue" button of the error window, then RT goes on. With the fix the window don't appear.
@Floessie You are very ambitious with me. The last time I coded was about in 1990.
What I made above is just a hack. I will try to provide a patch but I will not be upset if somebo

[2017-02-06 18:37] heckflosse commented on #3544
@gaaned92 As you already inserted the line in main.cc you just have to execute
`git diff > foo.patch` and post the content of foo.patch here.
Or tell me the number of the line you inserted, then I can make the patch.

[2017-02-06 19:34] heckflosse commented on #3656
@Floessie I pushed two commits. No speedups, but fixed two old bugs and cleaned the new code a bit

[2017-02-06 19:53] Floessie commented on #3656
@heckflosse Nice changes. I wasn't really happy with having `ec` outside the class. That's much better. I'll give it some finishing now.

[2017-02-06 20:05] heckflosse commented on #3656
@Floessie :+1:

[2017-02-06 20:23] Floessie commented on #3656
Something's wrong with `LUT`: It doesn't have a move-ctor but elements can be changed although it's `const`. :unamused:

I'll convert the other `BL_OPER` macros during this week. Feel free to push in the meantime.

When calling `Bilateral::Bilateral()` there is an needless explicit `float**` cast for `b3`. Missed it in my commit.

[2017-02-06 20:26] heckflosse commented on #3656
@Floessie The size of ` ec ` will be variable in future.
Edit: variable in dependence of ` sensitivity `

[2017-02-06 21:10] gaaned92 commented on #3544
Yes my first patch:
[code]

[2017-02-07 00:44] Partha1b opened #3672 "5.0-r1-gtk3 crash in macOS 10.12.4 when setting combos to (None)"
As noted in the forum, we have a crash if the preference dropdown menu says "none' or the editor selection location is "none". The bt is as follows:
[code]
I can provide the full crash report if needed.

[2017-02-07 00:46] heckflosse commented on #3544
@gaaned92 :+1: for your patch!

[2017-02-07 07:31] Floessie commented on #3672
Following Ingo's fix in #3534, here is a patch against `dev`:

[code]

@heckflosse There are two places, I didn't change. Could you have a look?
- [`rtgui/lensprofile.cc:50`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/lensprofile.cc#L50)
- [`rtgui/guiutils.cc:1203`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/guiutils.cc#L1203)

Best,
Flössie

[2017-02-07 07:36] Beep6581 commented on #3672
For reference, the forum post in question: https://discuss.pixls.us/t/5-0-mac-version/3196/8?u=morgan_hardwood

@Partha1b why does your log show "4.2"?

[2017-02-07 12:06] gaaned92 commented on #3670
I found here [https://git.gnome.org/browse/adwaita-icon-theme/](https://git.gnome.org/browse/adwaita-icon-theme/) the adwaita icon theme 3.23.91.
the "adwaita-icon-theme-3.23.91\Adwaita\cursors\"  folder contains effectively .cur windows cursors.
When copying this folder in Rawtherapee the warning disappear.
My next builds will include those windows cursors.
So I think we have to wait for a MSYS2

[2017-02-07 12:13] Partha1b commented on #3672
@Beep6581 Thanks for catching that. It's an error in my Info.plist. The short string key is incorrect. I'll fix that in the next release.

[2017-02-07 12:28] Partha1b commented on #3672
@Floessie I applied the patch to my local copy. It does not avoid the crash.

[2017-02-07 13:29] Floessie commented on #3672
@Partha1b That's sad. Then you'll have to wait for @heckflosse to chime in. I'm not on macOS, so I cannot test.

[2017-02-07 13:47] harshula opened #3673 "rawtherapee: crash when F4 is pressed to move to the next image"
Built from source:

Version: 5.0-r1-gtk3
Branch: dev
Commit: 50114c1a
Commit date: 2017-02-01
Compiler: cc 6.3.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: relwithdebinfo
Build flags: -std=c++11 -Wno-deprecated-declarations -Wno-unused-result -std=gnu++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -O2 -g -DNDEBUG
Link flags:  -march=nativ

[2017-02-07 14:52] Partha1b commented on #3672
@Floessie I had tried to hard-code a folder name to test, prior to your patch and it still crashed.

[2017-02-07 15:01] heckflosse commented on #3672
@Partha1b I can reproduce the crash on Win7 using gtk2, but not on gtk3.

[2017-02-07 15:11] heckflosse commented on #3672
@Partha1b looking at batchquepanel.cc:

gtk2 version:
[code]

gtk3 version:
[code]

Can you try using
`#if defined(__APPLE__)`
?

[2017-02-07 16:23] heckflosse opened #3674 "DNG files from HdrMerge are decoded incorrectly when zlib 1.2.11 is used"
Suggested fix until we have a better solution:

[code]

@Beep6581 Can you test the patch please?

[2017-02-07 16:25] Beep6581 commented on #3674
Thank you! I will test when I get back home.

[2017-02-07 17:12] Partha1b commented on #3672
@heckflosse , Sorry no change. I think we need to get a default folder in place of none.
I tried to do this
[code]
but no joy. 🙁

[2017-02-07 17:43] heckflosse commented on #3672
@Partha1b Can you try using:
`outdirFolder->set_current_folder ( Glib::get_home_dir () );`

[2017-02-07 20:04] Partha1b commented on #3672
@heckflosse I already tried that and thought that an existing folder might be the answer.

Anyway, when I look at the documentation:
[code]
I thought that since select folder allows selecting an existing folder, but no folder is named, you get a segfault. So, I tried create_folder which prevents the segfault but would not let me create a folder?  I'll try again soon.

[2017-02-07 20:16] Partha1b commented on #3672
@heckflosse btw, the problem is identical on Window 10 64bit. It's the same segfault:
[code]
My glib version is 2.49.6, gtk+ 3.22.7 and gtkmm is 3.22.0.

[2017-02-07 20:21] heckflosse commented on #3672
@Partha1b I don't get this crashs on Win7/gtk3 3.18

[2017-02-07 20:32] Partha1b commented on #3672
@heckflosse I don't know what to say to that since I have not tried gtk3 3.18.

As gtk3 is now at 3.89 and so moving to gtk 4.0, are you sure we want to be tied to 3.18 and not solve this segfault?

[2017-02-07 20:40] Beep6581 commented on #3674
Fix confirmed!

[2017-02-07 20:42] heckflosse commented on #3672
@Partha1b For sure we want to solve this segfault. But I'm on Windows gtk 3.18 for good reasons. Others are on Windows > 3.18 for other reasons. Means, I can't test it because it does not crash here (only crashes on gtk2, but the fix for gtk2 does not solve your crash unfortunately).

[2017-02-07 20:43] #3544 closed

[2017-02-07 20:54] Beep6581 commented on #3672
To clarify: If GTK+ devs stick to their plan, version 3.22 is the last GTK3 version. It will be kept alive for years, there will be minor updates only. GTK+ 3.89 is just one of several development versions for what will become GTK+ 4.0, and these will break API+ABI compatibility. 4.0 is vaguely planned for a 2019 release.

[2017-02-07 21:03] Partha1b commented on #3672
@Beep6581 Yes, that's what I mean. So, I think this bug should be fixed with respect to 3.22?

Just as an Fyi, there was a bug in gtkmm which prevented me from using anything beyond 3.21.6. I filed a bug and it turned out to be a bug in gtk+ 3.0. So, it's also worthwhile to take this up with Kjell.

Ref: https://bugzilla.gnome.org/show_bug.cgi?id=778037

[2017-02-07 21:10] gaaned92 commented on #3670
@Beep6581 perhaps we can close this as I think there is nothing to do in Rawtherapee

[2017-02-07 21:18] heckflosse commented on #3672
Maybe @Hombre57 can chime in as he's also on windows but with gtk+ > 3.18

[2017-02-07 21:23] gaaned92 opened #3675 "gtk3 warning: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar"
build : 5.0.gtk3
Windows10
When starting rawtherapee, this message appears 6 times.

[2017-02-07 21:51] gaaned92 commented on #3672
@Partha1b
 I cannot reproduce the crash on W10, build 5.0-r1-gtk3, gtk3.22.7
1- If I select "none"  for output folder in the batch window, no crash.
2- I cannot select "none" for GIMP directory!

[2017-02-07 21:58] TooWaBoo commented on #3675
This happens only with the RT theme. I doesn't happen with TooWaBlue, maybe 'cause I'm setting the size of the scrollbar in the theme.

[2017-02-07 22:10] heckflosse commented on #3672
@gaaned92 Maybe the title of the issue is misleading. If you clear all these paths on options file, maybe you can reproduce?

[2017-02-07 22:22] gaaned92 commented on #3672
@heckflosse after clearing all paths in option file, The path are set to the RT installation dir, so nothing hapens.

[2017-02-07 22:25] gaaned92 commented on #3675
Is it possible to do that in rawtherapee theme?

[2017-02-07 22:25] heckflosse commented on #3672
@Partha1b What happens on OSX if you set the paths to valid paths in options file?

[2017-02-07 22:49] TooWaBoo commented on #3675
Yes, it's possible. But when you set a size of an object, you have to size everything.

I've adapted the styles for the RT theme. You can use them by copypasta :-)
ping @Beep6581, @Hombre57
[code]

[2017-02-07 22:50] Partha1b commented on #3672
@heckflosse Sorry which paths are we talking about? My Windows build is self contained.

I deleted everything in the RT_SETTINGS Folder, restarted RT.
Clicked on queue. Clicked on None and then crash.

[2017-02-07 22:55] heckflosse commented on #3672
@Partha1b I really want to solve this issue but I can't reproduce it on gtk 3.18 on windows. For that reason I shoot into the dark hoping to hit the enemy...

[2017-02-07 22:58] heckflosse commented on #3672
@Partha1b Jokes aside. I speek about this paths in options file (let's start with gimp path):
[code]

[2017-02-07 22:58] Partha1b commented on #3672
@heckflosse me too!! 😄 That's why I am spending a lot of time on this as well.

What gtkmm version are you using?

[2017-02-07 22:59] Partha1b commented on #3672
@heckflosse OK. Now I know which path you are talking about. My section on External Editors:
[code]
Dialog section has this path:
[code]

[2017-02-07 23:01] heckflosse commented on #3672
@Partha1b
[code]

[2017-02-07 23:04] heckflosse commented on #3672
@Partha1b What happens if you set GimpDir to an existing folder in options file?

[2017-02-07 23:14] Hombre57 commented on #3675
For Gtk3.20 I guess ?

One should add that we shouldn't have to set the size of this object, it's a Gtk bug.

[2017-02-07 23:15] Partha1b commented on #3672
@heckflosse I manually changed the GimpDir to some folder (actually my portable GIMP) and then I saw a folder image in the PS Dir as well. The editor "save as" still says none. So, Crash. So, this is progress! Looks like we need to assign a default folder and then we're done?? 😄 ??
Here is a screenshot:
![rt-dirs](https://cloud.githubusercontent.com/assets/16463793/22715893/217d8306-ed61-11e6-8635

[2017-02-07 23:21] heckflosse commented on #3672
@Partha1b I guess we are on a way to a solution now. But I'm too tired to continue today unfortunately :(
Still having common cold and need to get some sleep.
Good night!

[2017-02-07 23:24] Partha1b commented on #3672
@heckflosse Good night. Hope you feel better and had your flu shot!

It's early evening here now and so, time to stop as well.

[2017-02-07 23:26] Partha1b commented on #3672
@gaaned92 Sorry I didn't respond to you earlier. I was not able to select your name in the "@" panel.

What version of gtkmm are you using? You know that gtkmm uses a lot of wrappers to the gtk+ functions

[2017-02-07 23:34] TooWaBoo commented on #3675
@Hombre57

It's for Gtk3.20

I have to size this object, 'cause of the DPI thing. :-)

[2017-02-07 23:51] Hombre57 commented on #3675
Which is not the case for the main theme. Yet it seem to be mandatory.

[2017-02-07 23:57] TooWaBoo commented on #3675
It's up to you to add it to the theme. I don't think there is a problem if you don't do it

[2017-02-08 00:05] Hombre57 commented on #3675
I'll try your patch tomorrow (working on something else actually), but was only saying that your patch above is a workaround of a Gtk bug, or do I miss something ?

[2017-02-08 00:07] TooWaBoo commented on #3675
No, you don't miss anything.

[2017-02-08 08:03] gaaned92 commented on #3672
@Partha1b
[code]

I am wondering how the PS and gimp dirs are set to the RT installation dir when they are set to null in option file?

[2017-02-08 08:24] Floessie commented on #3673
@harshula I'm also on Stretch and the `dev` branch, but cannot reproduce. Is there something special in the PP3 you are leaving or entering with F4? If it only happens between two dedicated images, would you mind providing the two affected PP3s (and as a bonus the RAWs)?

[2017-02-08 10:04] #3670 closed, assigned to nobody

[2017-02-08 11:02] ff2000 opened #3676 "Operation over NFS extremely slow"
I am on Gentoo Linux, currently use the gtk3 branch.
[code]
But I had this issue also with gtk2.
Both my laptop and the NFS server run kernel 4.9.6, nfsv4.1 support is enabled.

The biggest issue is generation of thumbs. I have a 10MP Olympus E-520 and shoot RAW+jpeg. A raw is about 10MB, jpeg about 5MB. RT reads 4 files at a time (which IMO makes sense for a DUAL core + Hyper Threading CPU) and t

[2017-02-08 11:43] Beep6581 commented on #3676
Possibly a duplicate of #1807

[2017-02-08 12:26] ff2000 commented on #3676
Yes could be a duplicate, though I see 2 differences: #1807 and #622 are specifically about Windows NAS. And those reports only mention an initial delay of 15-20 resp. 30 sec, after that all thumbs get loaded. For me I get 30 sec. timeout after every 4 images for new (uncached by RT) folders which means 100/4*30 = 750sec for reading a folder with 100 images...
For folders with already existing thu

[2017-02-08 12:33] TooWaBoo commented on #3674
Funny things happen...
https://discuss.pixls.us/t/no-disk-in-drive-fixed/3287

[2017-02-08 12:54] Floessie commented on #3674
@TooWaBoo André's (gaaneed92) first patch ever is a striking success. Give him the credits for (and in) #3544. :smile:

[2017-02-08 13:11] TooWaBoo commented on #3674
@Floessie

Ahh, so I was on the wrong way.
@gaaned92
Many thanks for that. Sorry, that I didn't find this issue before.

[2017-02-08 14:40] harshula commented on #3673
@Floessie Try the following:
1) Pick four jpeg images. Two of the images with vertical orientation and two with horizontal orientation in alternating order.
2) Select all four images and apply the Neutral profile. (Not essential)
3) Select first image.
4) Rotate the image and crop it.
5) Press F4
6) Repeat (4) and (5) a few times
7) If there's no crash press F3 and go backwards. Start again at (4)

[2017-02-08 15:10] Floessie commented on #3673
@harshula Confirmed. Good catch.

[2017-02-08 15:12] Partha1b commented on #3672
@gaaned92 See above. It was an experiment that @heckflosse and I were trying.

[2017-02-08 15:18] Floessie commented on #3673
[Here](https://github.com/Beep6581/RawTherapee/files/761031/log.txt) is a full log.

[2017-02-08 15:22] Floessie commented on #3673
@Hombre57 Looks like a race `main()` vs. `ImProcCoordinator`. Any idea?

[2017-02-08 15:25] heckflosse commented on #3676
@ff2000 Can you try this patch? It measures the time for read and write of the cache files. Maybe we find the culprit.

Edit: Before you try the patch I should ask whether your rt cache is on NFS too

[code]

[2017-02-08 15:30] heckflosse commented on #3672
@gaaned92 [Passing an emtpy string](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/preferences.cc#L1857) sets the RT installation dir.

[2017-02-08 17:29] heckflosse commented on #3676
@ff2000 Can you try a build without mmap?
Insert this in the cmake command line:
[code]

[2017-02-08 18:15] Beep6581 commented on #3546
I will close this now as most of the discussion has happened in the forum https://discuss.pixls.us/t/local-lab-build/1430

All locallab issues:
#3546
#3421
#3351
#3292
#2538

Merged into #3421

[2017-02-08 18:15] #3546 closed

[2017-02-08 18:17] Beep6581 commented on #3351
Merge into #3421

[2017-02-08 18:17] #3351 closed

[2017-02-08 18:21] Beep6581 commented on #3184
The new default branch is called `dev` and uses GTK3. The branch which uses GTK2 is called `gtk2` and is no longer supported. Refer to #3660 for more info.

[2017-02-08 18:21] #3184 closed

[2017-02-08 18:31] Beep6581 commented on #3421
All locallab issues:
#3546
#3421
#3351
#3292
#2538

[2017-02-08 18:32] Beep6581 commented on #3292
All locallab issues:
#3546
#3421
#3351
#3292
#2538

[2017-02-08 18:32] Beep6581 commented on #2538
All locallab issues:
#3546
#3421
#3351
#3292
#2538

Merged into #3421

[2017-02-08 18:32] #2538 closed

[2017-02-08 19:48] Beep6581 commented on #3292
Merged into #3421

[2017-02-08 19:48] #3292 closed

[2017-02-08 19:54] Beep6581 commented on #3421
I found these bugs using commit e8061bb8d125597cfb0bf28d28464c3d19912622:
* The `.mip` files are stored in the wrong place. The console says
`mip files in=/home/morgan/.config/RawTherapee/profiles/amsterdam.pef.mip`
but they should be in `cache` not in `config`! So the correct path should be
`/home/morgan/.cache/RawTherapee/mip/amsterdam.pef.mip`
* Each `mip` file should include a hash of the phot

[2017-02-08 20:10] #3663 closed, assigned to nobody

[2017-02-08 20:11] #3649 closed

[2017-02-08 20:16] ff2000 commented on #3676
Building with MMAP=OFF did not help.
RT-cache is on the local disc, so not on NFS. Applied patch and I fear the bad function was not yet captured:
[code]
Those errors come with every image not yet in the cache, so I thought it should not be fatal... I also get them with local files and there the speed is OK.

[2017-02-08 20:30] heckflosse commented on #3676
@ff2000 thanks for testing. Maybe googling for 'nfs 30 sec delay' can help...

[2017-02-08 21:49] ff2000 commented on #3676
I tried debugging with valgrind, took ages and unfortunately valgrind segfaulted after exiting RT :( The collected data can be read but seems it doesn't contain any hint (at least to me). Will look at it again later this week(end), when I find the time.

[2017-02-08 22:07] heckflosse commented on #3676
@ff2000 I guess valgrinding won't help in that case. But maybe I'm wrong...

[2017-02-08 22:13] ff2000 commented on #3676
@heckflosse I hope callgrind can guide me at least to find the "hot spots".

[2017-02-08 22:19] heckflosse commented on #3676
@ff2000 I hope that too :+1:

[2017-02-08 23:35] Hombre57 commented on #3673
I've tried to reproduce during 5mn using your method, but it's still up and running. I'm on Windows though. Maybe you know this kind of subtleties better than me, but perhaps that this GThreadLock ( https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/resize.cc#L372 ) has an undefined lifetime because of the compiler ? The idea was to put a barrier on that line to enter the "GUI loop". Creating

[2017-02-09 03:54] romandocent commented on #3650
Same issue with WB sliders since 4.2. Mentioned in this thread: https://github.com/Beep6581/RawTherapee/issues/3306
Issue still exist in "stable" release 5.0-r1-gtk3 too ((.
updete: (crashes with Nikon's .nef). I can't reproduce it in debug version yet. But release crushes every 3-5 picture.

Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1a
Commit date: 2017-02-01
Compiler: x86_64-linux-gnu-

[2017-02-09 06:58] Floessie commented on #3673
@Hombre57 Good point. I'll take a look.

[2017-02-09 07:01] Floessie commented on #3676
@ff2000 Maybe try `strace` first...

[2017-02-09 08:32] Floessie commented on #3673
@Hombre57 Explicitly using `gdk_threads(enter|leave)()` didn't help. I have the unconfortable feeling they are serious with deprecating those functions. Here is a fix for @harshula's crash using `addIdle()`. Do we need precautions for the case `Resize::~Resize()` is called while having queued the function for the idle thread? I haven't found means to remove it from the queue, though.

[code]

[2017-02-09 09:38] Desmis commented on #3421
@Beep6581 @heckflosse @Floessie @Hombre57
As I have already said
* I don't know how to change mip files to cache
* I don't know how to suppress history messages
* I don't know how to collapse by default "expanders"

Others points seems solved .

Could you help me :)
Thank you.

Jacques

[2017-02-09 10:36] harshula commented on #3673
Workaround: Instead of pressing F4, go to the "File Browser" and select the next image using the cursor.

[2017-02-09 10:55] Floessie commented on #3673
@Hombre57 The [GDK 3 Reference Manual](https://developer.gnome.org/gdk3/stable/gdk3-Threads.html#gdk-threads-add-idle-full) has a solution for the destruction problem. For us that would IMHO mean, we need a `std::set<gunit> idle_ids` member that is coped with in the `func` lambda and the d'tor. What do you think?

[2017-02-09 11:29] harshula commented on #3673
@Floessie I can not reproduce the crash after applying your patch.

[2017-02-09 12:05] heckflosse commented on #3421
@Desmis I will take a look at the history messages now.

[2017-02-09 12:07] heckflosse commented on #3673
@Floessie Does this kind of solution also fit to #3650 ?

[2017-02-09 12:27] Floessie commented on #3673
@heckflosse Ingo, I was thinking about exactly the same. There is a call to `g_idle_add_full()` which I failed to find in `rtengine::Crop::update()`, thus I didn't follow that track any further. My guess is, the memory was corrupted before that path. But maybe we should have a second look...

[2017-02-09 13:04] heckflosse commented on #3421
@Desmis Jacques, can you try this patch for the curves history messages please?

[code]

Ingo

[2017-02-09 13:50] heckflosse commented on #3421
@Desmis Jacques
This patch is for mip files

[code]

[2017-02-09 15:40] heckflosse commented on #3676
@ff2000 I added an [Issue in forum](https://discuss.pixls.us/t/operation-over-nfs-extremely-slow/3297). Maybe anyone there has hints...

[2017-02-09 16:03] Beep6581 commented on #3421
* The curve history patch suppresses the history spam, now I only get 1 entry, good.
* The mip patch puts the mip files into the cache, good.
* But the config-to-cache patch breaks LL, now the whole tool doesn't work https://i.imgur.com/eDb76mY.jpg
  Specifically, the preview doesn't change, but the histogram does.
* Apply Neutral. Simply enabling LL produces all of these history entries:  https:/

[2017-02-09 16:04] Beep6581 commented on #3421
The attached patch fixes point 3 - LL doesn't work.
[ll_config2cache.patch.txt](https://github.com/Beep6581/RawTherapee/files/764205/ll_config2cache.patch.txt)

[2017-02-09 16:46] Desmis commented on #3421
@heckflosse @Beep6581

For the first patch, it certainly reduces the number of message history, but this will disrupt the system refresh ... I added 3 functions of this type (which a priori do not serve anything else to trigger additional events), After many attempts to dynamically update the MIP files
I was thinking instead of a solution where we modify in the GUI, the panelChanged function to av

[2017-02-09 17:13] heckflosse commented on #3421
@Desmis Why do you need to trigger additional events which in the end all trigger the same 'LUMINANCECURVE' in refreshmap.cc?

[2017-02-09 17:17] Desmis commented on #3421
If you don't trigger additionnal events, the system does not work :)

jacques

[2017-02-09 17:18] Desmis commented on #3421
I explain that in Rawpedia
http://rawpedia.rawtherapee.com/Local_Lab_controls/fr#Quelques_fantaisies_incontournables

[2017-02-09 17:32] heckflosse commented on #3421
@Desmis I will read the code at the weekend to understand and maybe suggest a simpler solution afterwards.

[2017-02-09 17:35] Desmis commented on #3421
Ingo
No problem, but the refesh dynamic is indispensable, If you can develop a
less "fanciful" system, so much the better
:)

[2017-02-09 19:02] Beep6581 commented on #3612
@dnw3039 will you supply a new shot?

[2017-02-09 19:12] paperdigits commented on #3676
@ff2000 Can you share your `/etc/exports` file with us?

[2017-02-09 19:50] Floessie commented on #3676
@ff2000 I have a NFS here (v3 with TCP). I copied 4G of RAWs there, restarted the client PC, fired up RT `dev` and pointed it to the NFS folder: A short hiccup after the first 8 thumbs (number of cores), the rest came pretty instantaneously. I must admit, I tuned my NFS not for security but maximum throughput.

Server: `/home #.#.#.#/16(rw,async,no_subtree_check)`
Client: `#####:/home /mnt/##### n

[2017-02-09 20:24] Hombre57 commented on #3673
@Floessie Very good work ! You do not need any advice from me about this kind of stuff, quite the contrary. I didn't fixed the `gdk_threads(enter|leave)()` deprecation because I don't know how to in every circumstance, so your help on fixing all of them (if possible) is more than welcome.

[2017-02-09 22:05] ion12 opened #3678 "Update MacPorts instructions and macOS bundle scripts"
**Update macports-based compiling instructions:**

macports variants:
`+quartz -x11`
(+no_gnome +no_x11  are obsolete)

GTK3 dependencies:
`gtk3 gtkmm3 gtk-osx-application-gtk3 adwaita-icon-theme libsigcxx2 lcms2 libiptcdata fftw-3-single clang-3.9`
(openmp is now fully integrated into clang and doesn't need any explicit setting-up)

`sudo port install wget `
wget is a requirement in the current i

[2017-02-09 22:13] heckflosse commented on #3678
@ion12  '(openmp is now fully integrated into clang and doesn't need any explicit setting-up)'

Does that mean we should review this part of rt-code:

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/opthelper.h#L72

Edit: Can you try a build without lines 72 and 74 of opthelper.h?

Ingo

[2017-02-09 22:21] heckflosse commented on #3678
@ion12 I ask, because in past (using older versions of clang) using nested omp the way we do in rt at some places led to clang crashes (not rt crashes, but crashing the clang build process). In case we can remove this conditions now, that will lead to faster noise reduction in rt clang builds

Ingo

[2017-02-09 23:12] Hombre57 commented on #3306
@Floessie Have you committed this patch ?

[2017-02-09 23:19] da-phil opened #3679 "Crash while starting: gdkregion-generic.c:1114:miUnionNonO: assertion failed: (r->x1 < r->x2)"
I encountered a crash while starting RT, which unfortunately is not reproducible every time I do it.
I'm running the latest version from master branch on ubuntu 16.04.
[code]

Here is a GDB backtrace:
[code]

I hope that helps.

[2017-02-09 23:28] gaaned92 commented on #3678
@ion12

Following Sguyader advice, I only bundle  for windows builds
Adwaita 16x16 (actions,devices, mimetypes, places, status)
               48x48 (devices)
               cursors (it avoids warnings, but not sure it is required)
               icon-theme.cache and index.theme

[2017-02-09 23:51] ion12 commented on #3678
@heckflosse
I commented out line 72 and line 74 in opthelper.h and experienced no crashes while building or running RT.

@gaaned92
Thanks. On macOS I haven't noticed any warnings about missing cursors, but I'll check about adding the 48x48 "devices" folder and removing the unnecessary 16x16 folders if that's the suggestion

[2017-02-09 23:57] heckflosse commented on #3678
@ion12 Great! Thanks for testing. I will push the modified opthelper.h soon :+1:

[2017-02-10 00:02] heckflosse commented on #3678
@ion12 in rtengine/curves.h line 252 there is another condition related to clang. Can you replace __clang__ with __foobar__ in that line and test that. If that works, I will change that too.

[2017-02-10 00:13] ion12 commented on #3678
build failed with error:
[code]
called from
/rtengine/flatcurves.cc:19
/rtengine/curves.cc:35
/rtengine/diagonalcurves.cc:21

[2017-02-10 00:27] heckflosse commented on #3678
@ion12 Ok, that means clang still does not support that kind of writing vectorized code. Does not really matter for performance. I will push the changes to opthelper.h now to dev branch. That at least gives a speedup for some parts of rt when clang is used to build.
Thanks a lot for testing :+1:

Ingo

[2017-02-10 00:29] heckflosse commented on #3678
@ion12 I pushed the changes for opthelper.h to dev branch.

[2017-02-10 00:34] heckflosse commented on #3678
@ion12 for information: #3324 was one of the cases which did not compile in past without the special handling of clang

[2017-02-10 00:39] ion12 commented on #3678
@heckflosse happy to help test 👍
I remember having several cases of clang/openmp related build stoppers in the past and waiting helplessly for you to fix them ;)

[2017-02-10 00:58] heckflosse commented on #3678
@ion12 I could not fix them (only work around them), because they were clang faults. But now it seems to work. Good!

[2017-02-10 01:03] ion12 commented on #3678
@heckflosse you worked around them, that was as good as a fix.. it was a real headache for a while when Apple first dropped support for gcc

[2017-02-10 01:11] heckflosse commented on #3678
@ion12 thanks :)

[2017-02-10 02:14] dnw3039 commented on #3612
Here are the best three tungsten shots. I have not been able to find a 100 watt globe. These are taken with a 150 watt tungsten flood light. This is the best I can do.

I have not been able to take a single picture after many at different exposures of my colorpassport target where dcamprof does not produce a message like "Patch count reduced from  24 to 15. " or 24 -17. Or complain of too much gla

[2017-02-10 06:50] Floessie commented on #3306
@Hombre57 No, not yet. I assume, this should be done now. I'll do so directly on `dev` tonight.

[2017-02-10 06:56] Floessie commented on #3673
@Hombre57 Thank you! :blush: Don't know, if the `IdleRegister` scheme is applicable in every `gdk_threads(enter|leave)()` place, but I'll post a follow up in #3677. Switching workloads over to the main thread might cause new races and subtle bugs, though.

[2017-02-10 07:22] srgmro commented on #3666
The method to detect the guilty file.
I chose to start from the folder which contains the suspected file. (around  1000 raw files).
At each step I divided  into two equal halves the folder, and checked which of the two is always responsible for the crash. Then the crashing folder was divided once more and so on...
Following this process which was followed at each step of a complete reboot of the s

[2017-02-10 16:33] TooWaBoo commented on #3678
@ion12

Don't remove this folder!!! This is the most important one.

[2017-02-10 16:39] shreedhar2015 opened #3680 "Windows 10 Photo Viewer doesn't show metadata"
I am using a 64 bit Win 10 computer and the latest RT 5.0-r1-gtk3 build. I have enabled writing of metadata in the preferences. However, the exported tiff file does not contain any metadata. The same file exported as a JPG contains all the information.  What should be done to rectify this behaviour?

[2017-02-10 16:49] spodzone opened #3681 "Auto-exposure for non-raw files dependent on ICC profile"
Method:
Using digiKam or similar, create multiple copies of an image in different colour spaces e.g. ProPhotoRGB, ProPhotoRGB-linear, BestRGB and sRGB.

In RawTherapee, open one, set a neutral profile, tweak the lens distortion, rotation and crop; clone this adjustment across all 4 images.
Set the colour-management to Embedded -> sRGB.
Tick the "Auto Levels" to set auto-exposure across all 4 image

[2017-02-10 16:52] spodzone commented on #3681
Also attaching the *.pp3 configs demonstrating colour-management settings.

[PP3-configs.zip](https://github.com/Beep6581/RawTherapee/files/767272/PP3-configs.zip)

[2017-02-10 17:20] Beep6581 commented on #3680
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.

@shreedhar2015 as I already requested in the forum, please provide all of the information listed in the guide. In addition to the sample TIFF and raw file, include your [options](http://rawpedia.rawtherapee.com/File_Paths) file.

[2017-02-10 18:03] shreedhar2015 commented on #3680
Sorry for the incomplete bug report. Here is my second attempt:

**About RT:**
Version: 5.0-r1-gtk3
Branch: 5.0-r1-gtk3
Commit: 50114c1
Commit date: 2017-02-01
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: release
Build flags: -m64 -mwin32 -mthreads -std=gnu++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -msse -ms

[2017-02-10 18:07] Beep6581 commented on #3680
Thanks for the missing info.

All the metadata is intact in your TIFF file: https://paste.pound-python.org/show/jyxzKeHsCjDo2fH9veNy/

[2017-02-10 18:10] shreedhar2015 commented on #3680
Wow, what a fast reply! Thanks a lot !

But then, why is it that photo viewer is not able to read it?
The same programme does read the metadata from other files.

[2017-02-10 18:27] Beep6581 commented on #3680
Most likely because there is an unknown or broken tag in the metadata and Windows 10 Photo Viewer completely aborts reading the metadata instead of skipping those tags.
Coincidentally,
![df92un6](https://cloud.githubusercontent.com/assets/5844619/22838807/05a97bea-efc7-11e6-8b98-38150484152f.png)

[2017-02-10 18:29] Beep6581 commented on #3680
I saved four TIFF versions of your raw: 8-bit, 16-bit, each compressed and uncompressed. All exhibit the "Unknown field with tag" message:
[code]

Quote from ImageMagick's forum,

[2017-02-10 18:33] shreedhar2015 commented on #3680
I am sorry to ask: But what does this unknown tag mean? Is it a RT issue or a Win 10 issue? If it is a Win 10 issue in your opinion, I will close the issue here !!!

[2017-02-10 18:34] Beep6581 commented on #3680
@shreedhar2015 I edited my post with a possible answer to your question just as you were writing it :)

[2017-02-10 18:35] heckflosse commented on #3681
Issue confirmed.

[2017-02-10 18:39] shreedhar2015 commented on #3680
@Beep6581 I think you are saying that it is a Win 10 issue. I will thus close the bug report. Thanks a lot.

I guess, I will have to figure out myself how to get rid of this problem.

[2017-02-10 18:39] #3680 closed, assigned to nobody

[2017-02-10 18:55] Beep6581 commented on #3680
These unknown tags are:
[code]

[2017-02-10 19:01] PsychoMan44 opened #3682 "Long launch and unresponsive"
RawTherapee version 5.0-r1-gtk3
Version: 5.0-r1-gtk3
Branch: 5.0-r1-gtk3
Commit: 50114c1
Commit date: 2017-02-01
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: release
Build flags: -m64 -mwin32 -mthreads -std=gnu++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -msse -msse2 -mwindows -fopenmp -Wno-aggressive-loop-opt

[2017-02-10 19:03] Beep6581 commented on #3682
@PsychoMan44 try the advice from #3450

[2017-02-10 19:08] #3306 closed

[2017-02-10 19:19] GLTR87 opened #3683 "Set 'Tone curves' and other Exposure settings separately when saving / applying a preset"
I think It would be great if when we save presets (by holding "ctrl" while clicking on "save"), we could save the current tone curve settings without saving the current exposure settings (or vice versa I suppose).
Currently, when we apply a preset containing tone curves, it resets the exposure settings to how it was set when the preset was saved.

I'd really appreciate such feature to be implement

[2017-02-10 19:23] #3566 closed

[2017-02-10 20:43] heckflosse commented on #3229
For information: I try to solve this issue (decode Xtrans compressed files) during the next days.

[2017-02-10 20:57] Floessie commented on #3656
@heckflosse Surprisingly, `bilateral07()` and `bilateral09()` share the same parameters. Bug?

[2017-02-10 20:59] sguyader commented on #3229
Hey Ingo, that's great news, coming at the right time... to me. I should be getting my X-T2 within the next few days!
I should then be able to test things, send test files, etc.

[2017-02-10 21:00] TooWaBoo commented on #3683
Do you mean the same function as these buttons? ;-)
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/22844002/5a97bba2-efdc-11e6-81dd-5b64f1bb281d.PNG)

[2017-02-10 21:07] GLTR87 commented on #3683
No, I don't mean saving the tone curves themselves.

For exemple, if:
1- I apply a preset containing tone curves (among other things).
2- I adjust the exposure and highlight compression.
3- I apply another preset containing tone curves (among other things).
The result is that the exposure and highlight compression adjustments are lost because when a preset is saved, it is not possible to configure

[2017-02-10 21:09] heckflosse commented on #3229
@sguyader Great. Tests will be very welcome :+1:

[2017-02-10 21:14] TooWaBoo commented on #3683
1- Apply a preset containing tone curves (among other things).
2- Adjust the exposure and highlight compression.
3- Apply another preset containing **NO** tone curves (among other things).
4- Load a tone curve

[2017-02-10 21:18] GLTR87 commented on #3683
Your suggestion makes things more complicated than they currently are.
Anyway, this is a feature suggestion, not a search for workarounds. My current workaround is simpler and it is to readjust the exposure after applying a preset.

[2017-02-10 21:51] heckflosse commented on #3656
@Floessie Definitely an old (copy/paste) bug.

[2017-02-10 21:55] heckflosse commented on #3656
@Floessie I think we should get rid off these old integer based gaussian coefficents. I will calculate new floating point coefficients or (even better) we should calculate them dynamically based on sigma!

[2017-02-11 00:55] ion12 commented on #3678
@TooWaBoo I meant the unnecessary 16x16 **sub**folders (emblems, emotes and so on).
I updated the patch to match gaaned92/Sguyader folder list suggestion.
[osx.patch.zip](https://github.com/Beep6581/RawTherapee/files/767987/osx.patch.zip)
also attached is dev branch build if anyone cares to compare
https://filebin.net/e3d3zbo3ah4oc1rx

[2017-02-11 01:20] harshula commented on #3673
@Floessie Is this fix relevant to the gtk2 branch too?

[2017-02-11 11:54] Hombre57 commented on #3673
@harshula @Floessie I think the gtk2 branch would also get benefit from a stability point of view, even though the gtk2 branch is a discontinued one.

[2017-02-11 12:30] Floessie commented on #3673
As soon as #3677 is ready for merge, I'll (try to) merge it to `gtk2`, too. I also like the responsiveness of `gtk2` better, but we can't care for two main branches any longer. Maybe GTK3 get better over time. Now, when I open the preferences, a black frame appears at first and gets populated half a second later. That's not looking so professional...

[2017-02-11 12:56] TooWaBoo opened #3684 "Windows cursor & Filechooser language pack, Enhancement"
@gaaned92, @sguyader Perhaps you are interested in this pack
DOWNLOAD: https://filebin.net/87rwe7kekbod8gk6

Gtk uses the system cursor on Windows. Some of them don't look nice. I made a mini cursor pack to replace those ugly cursors.
The double arrows are used for the vertical/horizontal crop area and has now the same style as the diagonal cursor. The fat plus in curves is replaced by a crosshair

[2017-02-11 15:21] heckflosse commented on #3673
@Floessie

If all Filechoosers would be [this way](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/batchqueuepanel.cc#L97) it would be much faster...

IMHO the biggest problem using gtk3 is when using `Multiple Editor Tabs Mode` or `Multiple Editor Tabs in Own Window Mode`. Then you have the delay each time you open a file :-1:

[2017-02-11 15:47] iliasg commented on #3656
@heckflosse .. +2 ;)
.. better accuracy, less memory .. maybe same or better speed ?.

[2017-02-11 16:51] heckflosse commented on #3229
I pushed a first (dirty, but working) version to the new [xtranscompressed branch](https://github.com/Beep6581/RawTherapee/tree/xtranscompressed)

Please test :)

[2017-02-11 17:27] heckflosse commented on #3656
@iliasg
better accuracy? Yes
less memory? Peak memory usage will not be reduced I think
same or better speed? We will see

@Floessie May I push some changes today?

[2017-02-11 18:03] Floessie commented on #3656
@heckflosse Yes, please. :)

[2017-02-11 19:06] madSec commented on #3229
That's great news, compiling right now! I will let you know soon how it goes...

[2017-02-11 19:22] Beep6581 commented on #3666
@srgmro thank you for the effort. Are you willing to either [compile your own debug build](http://rawpedia.rawtherapee.com/Linux)  or [contact Dariusz](http://rawtherapee.com/downloads) to help you get one, to get us a proper stack backtrace? If not, we have nothing to go by and will have to close this issue.

[2017-02-11 19:56] madSec commented on #3229
Somehow it doesn't work for my compressed X-Pro2 files. I still get the same half white half black image when loding the RAW file. About/Version says "Branch: xtranscompressed, Version: 5.0". Am I doing anything wrong, do I have to activate anything?

[2017-02-11 20:07] heckflosse commented on #3229
@madsector You don't have to activate anything.  I tested with the only file I have which is a compressed file from X-T2. Can you upload a sample from X-Pro2 to filebin.net and post the link here?

[2017-02-11 20:08] madSec commented on #3229
I don't know what I compiled before but I think it wasn't the actual branch. Now I managed to switch to the right branch but get an compilation error. I will upload the Terminal output and an X-Pro2 RAW file in a second.

[2017-02-11 20:10] madSec commented on #3229
Terminal output of compilation error
[repo-rt_XTRANS_error_v1.txt](https://github.com/Beep6581/RawTherapee/files/768865/repo-rt_XTRANS_error_v1.txt)

[2017-02-11 20:10] heckflosse commented on #3229
@madsector About version should say:
[code]

[2017-02-11 20:18] heckflosse commented on #3229
@madsector I pushed a fix for the compilation error

[2017-02-11 20:19] madSec commented on #3229
I uploaded a compressed X-Pro2 RAW file: https://filebin.net/qbx89y7c1calhc7y

My installed dcraw version is v9.21 by the way, seems outdated. Or does RT come with it's own dcraw?

Edit: Ok, will try again.

[2017-02-11 20:20] heckflosse commented on #3229
@madsector RT comes with his own dcraw. Please try the fix I just pushed :)

[2017-02-11 20:22] madSec commented on #3229
@heckflosse Compiling right now, is already through the error in previous version.

[2017-02-11 20:22] heckflosse commented on #3229
@madsector Your file opens fine here :)

[2017-02-11 20:27] heckflosse commented on #3656
@Floessie I pushed 2 commits

[2017-02-11 20:28] Beep6581 commented on #3421
@Desmis I just merged locally `dev` into `locallabgtk3`, compiles and runs fine. Most importantly, I eliminated formatting differences in `dcrop.cc` between the two branches, so future merges regarding `dcrop.cc` will be easier. Would you like me to push?

[2017-02-11 20:30] madSec commented on #3229
@heckflosse Works fine here as well now. I can open the file, apply a profile and save the JPG.

Thank you so much!!! I was waiting for that one for some time and can now start to work on some older images from RAW :+1:

Liebe Grüße aus England :)

PS: Plz let me know if I should do further tests or if you need any more details about my system config. Running Linux Mint 18 on a 64bit machine.

[2017-02-11 20:33] heckflosse commented on #3229
@madsector Just letting me know if it fails on some files would be great. Thanks for testing :+1:

[2017-02-11 20:34] madSec commented on #3229
@heckflosse Any time!

[2017-02-11 21:31] Beep6581 commented on #3229
Screenshot showing RawTherapee successfully open a compressed X-Trans raw file:
![imgur-2017_02_11-22 30 48](https://cloud.githubusercontent.com/assets/5844619/22857673/d4f1ce24-f0a9-11e6-9cbc-446b8e0b5633.png)

[2017-02-11 22:10] Beep6581 commented on #3612
@dnw3039 all of the images suffer from glare and uneven lighting due to the short distance and acute angle between the light source and the target, and the brightest one has motion blur. They are not usable.
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_target

[2017-02-11 22:24] #3669 closed, assigned to Beep6581

[2017-02-11 22:35] Beep6581 commented on #3662
@Kakupakat all StdA shots are overexposed, otherwise they are fine. Could you upload another set please?

[2017-02-11 22:57] #3630 closed

[2017-02-11 23:06] #3631 closed

[2017-02-11 23:10] Beep6581 commented on #3655
One more file uploaded to the original filebin, there should be at least one more file to come.

[2017-02-11 23:10] hchargois commented on #3229
I too can report success with opening and editing a few dozens X-T2 compressed raw files. It's working beautifully. Thanks.

[2017-02-11 23:19] heckflosse commented on #3229
@hchargois Thanks a lot for testing and feedback :+1:

[2017-02-11 23:22] Beep6581 commented on #3661
@Kakupakat as with #3662, all StdA shots are overexposed. Could you upload a new set?

[2017-02-11 23:48] heckflosse commented on #3656
@Floessie

Some explanations about the changes:

1. by nature of ec the middle of the ec lut always has value 1. Also for the centre point of the grid always ec[middle point] is used. For that reason I could simplify the calculations with centre point.

2. I wanted to reflect the names of the gauss kernel values to the distance from centre value for better readability of code (c00 means 0 distance

[2017-02-12 00:00] jbedo commented on #3229
Working for me too :).

[2017-02-12 01:40] mandree commented on #3636
Initial attempts have not helped me find misuse of mutexes.

[2017-02-12 06:50] Desmis commented on #3421
No problem, for me you can push :)

2017-02-11 21:28 GMT+01:00 Beep6581 <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966
http://jacques.desmis.perso.neuf.fr/

[2017-02-12 08:29] Desmis commented on #3421
@heckflosse
I have found a very simple way to suppress all "bad" message in history.
Can I push this change, after @Beep6581 push ?

Jacques

[2017-02-12 11:10] PsychoMan44 commented on #3682
Yup. Disabling A drive in BIOS solved the issue.
Thanks!

[2017-02-12 11:10] #3682 closed, assigned to nobody

[2017-02-12 12:10] heckflosse commented on #3421
@Desmis yes, please :+1:

[2017-02-12 13:13] iliasg commented on #3229
@heckflosse Ingo thanks,

Fuji has released a new model .. ( GFX-50S ) which exports compressed RAFs but in bayer form instead of x-trans
find 2 samples in https://drive.google.com/drive/folders/0B0NqktTgc54sVHNGN0NVTWVLOUk?usp=sharing

I think it should be the same compression so could belong to this issue ..

[2017-02-12 13:32] heckflosse commented on #3229
@iliasg Ilias, as expected it does not work with the files from GFX-50S

[2017-02-12 13:39] sandymc commented on #3229
FYI, the libraw folks have now released a revision to their code that will work with GFX:

https://github.com/LibRaw/LibRaw/commit/39f31c8f378a6db0623b258e36bd1fb600af98e6

[2017-02-12 13:50] heckflosse commented on #3229
@sandymc Thanks for the pointer :+1:

[2017-02-12 14:27] heckflosse commented on #3229
I would like to continue as follows:

1. Push the current code to dev to get more tests and allow xtrans users to use compressed files
2. Integrate the new libraw code for GFX-50S compressed files
3. Review the code together with @Floessie
4. Push the new code

Any objections?

Ingo

[2017-02-12 15:39] heckflosse opened #3685 "Thumbnail in queue distorted (gtk3)"
Tested on Win7/64 using current dev code and gkt+ 3.18

To reproduce:

Open amsterdam.pef
Send to queue using the queue button at bottom
Go to queue

![thumbdistorted](https://cloud.githubusercontent.com/assets/13733487/22863513/a86b0ce2-f141-11e6-9cb6-4f476aa04267.png)

Works fine in gtk2. After restart of rt thumb is also fine again.

[2017-02-12 15:59] madSec commented on #3229
Sounds good I think. Could you let us know please when the current code is added to normal dev branch? Till then I will stay with the xtranscompressed branch.

[2017-02-12 16:14] gaaned92 commented on #3685
Cannot reproduce on W10, gtk3.22.7, branch dev 5.0-r1-gtk3-6-gf9bd9956

[2017-02-12 16:33] heckflosse commented on #3685
@gaaned92 Thanks for testing. Maybe it's an issue with gtk3.18

[2017-02-12 16:42] gaaned92 commented on #3685
Tested also with 5.0-r1-gtk3-15-g82f4978c : ok

[2017-02-12 19:22] Beep6581 commented on #3421
@Desmis pushed.

[2017-02-12 19:37] Beep6581 commented on #3685
Cannot reproduce using any recent build, GTK+ 3.22.5.
But this problem has appeared sporadically over the years, long before GTK3.

[2017-02-12 19:55] heckflosse commented on #3229
I just merged xtranscompressed into dev.

[2017-02-12 20:30] heckflosse commented on #3229
I just pushed decode support for compressed GFX-50S files to xtranscompressed branch.
@iliasg It seems the crop for GFX-50S is wrong. Can you take a look?

[2017-02-12 22:50] Beep6581 opened #3687 "Roadmap for 5.1"
This is a roadmap for RT5.1.

Feature freeze and new branch around April 15, followed by a release candidate, and a final release a week later.

- [x] Pixelshift #3489
- [x] Fujifilm compressed raw support #3229
- [x] Sharpen only edges needs review and speedup #3656. I will fix an old bug for 5.1. review and speedup is for 5.2
- [x] White Balance shows wrong values when opening a file whichs wb m

[2017-02-12 22:58] #3298 closed

[2017-02-12 23:12] heckflosse commented on #3676
@ff2000 Any news on this issue?

[2017-02-12 23:19] Eneen opened #3688 "Feature suggestion: Lens correction enhacement"
Hi,

I've got idea to enhance current lens correction system. Current one is very similar to CameraRaw system: automatic correction + manual 1 parameter correction and it is designed to rather "have good profile" then manual correction.
Idea is to bring parameters from LCP to RT UI under "Advanced Lens correction" tickbox, so all loaded parameters from profile are visible or can just be entered in

[2017-02-13 00:06] heckflosse commented on #3591
That's not an rt issue. Closing!

[2017-02-13 00:06] #3591 closed

[2017-02-13 00:38] heckflosse commented on #3229
@sguyader @gaaned92 Can you make new windows builds from dev branch to get more tests for xtrans compressed files?

[2017-02-13 04:26] harshula commented on #3673
@Hombre57 @Floessie @heckflosse I preferred using the gtk2 UI in the past. It seems to be less temperamental. e.g. With the gtk3 UI, the cursor can switch to an image and not switch back. I need to spend a bit more time with the gtk3 UI and see if it has improved.

[2017-02-13 05:38] Kakupakat commented on #3661
The new set: https://filebin.net/tfwhozcn3vn5jujd

[2017-02-13 06:04] Kakupakat commented on #3662
The new set: https://filebin.net/9n5cc2rf5bj42ox2

[2017-02-13 08:14] Desmis commented on #3421
@heckflosse @Beep6581
I push a change that suppress unnecessary messages in history :)

[2017-02-13 11:46] iliasg commented on #3229
@heckflosse

camconst.json item
[code]

[2017-02-13 14:08] heckflosse commented on #3229
@iliasg Thank you!

[2017-02-13 14:42] gaaned92 commented on #3229
Windows64 build dev_5.0-r1-gtk3-20-g24ea9960 uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-02-13 14:48] gaaned92 commented on #3684
@TooWaBoo Thanks for cursors and langage pack. I include them in my builds.
Perhaps you noticed that there is a bug in the adwaita cursors folder as it contains no windows cursors (.cur files).
There  is an adwaita update correcting this bug (available on github) but it is not yet integrated in MSYS2.

[2017-02-13 14:56] srjacob999 commented on #3229
Doesn’t open my Fujifilm X-Pro2 Compressed raw.  I get a screen with ½ black, ½ white.  No image.

[2017-02-13 15:01] TooWaBoo commented on #3684
@gaaned92

Yes, I know, but only these 5 cursors can be replaced in RT. All other cursors are either images or it uses the Windows cursors.

[2017-02-13 15:10] heckflosse commented on #3229
@srjacob999 I just tested the build from @gaaned92
`Windows64 build dev_5.0-r1-gtk3-20-g24ea9960` opens a compressed X-Pro2 file fine here.

[2017-02-13 15:19] heckflosse commented on #3229
@srjacob999 Can you upload a sample file to filebin.net and post the link here?

[2017-02-13 15:24] #3673 closed, assigned to nobody

[2017-02-13 15:24] srjacob999 commented on #3229
Uploaded https://filebin.net/pdnkoyfgou3zm2z8/_DSF0005.RAF

[2017-02-13 15:31] heckflosse commented on #3229
@srjacob999 works fine here
![sample](https://cloud.githubusercontent.com/assets/13733487/22889527/bf76ff72-f209-11e6-8e96-72f0c2e0fcd5.png)

[2017-02-13 15:34] heckflosse commented on #3229
@gaaned92 Thanks for making the build :+1:

[2017-02-13 15:41] srjacob999 commented on #3229
Never got that version.  Running RawTherapee_5.0-r1-gtk2_WinVista_64.

Where is this one?

[2017-02-13 15:43] heckflosse commented on #3229
@srjacob999

[Here](https://github.com/Beep6581/RawTherapee/issues/3229#issuecomment-279410637)

[2017-02-13 15:51] sguyader commented on #3229
Here's a version built with Gtk+ 3.18: https://filebin.net/exoqih33dsopv02q
(contains and installs debug and gdb executables)

[2017-02-13 15:59] heckflosse commented on #3229
@sguyader Thanks for making the build :+1:

[2017-02-13 16:05] sguyader commented on #3229
I just posted the link to DPReview, to get more users to try it.
Thanks for making it real, @heckflosse !

By the way, is the support for GFX 50S already included?

[2017-02-13 16:10] heckflosse commented on #3229
@sguyader

It's included in xtranscompressed branch. Will go into dev after code review

[2017-02-13 17:12] srjacob999 commented on #3229
This version worked fine.

[2017-02-13 20:06] Beep6581 commented on #2242
Merged into #2099

[2017-02-13 20:06] #2242 closed

[2017-02-13 23:46] heckflosse commented on #3229
@srjacob999

I hope it still works fine. As well as the build from @gaaned92
And of course: you're welcome.....

[2017-02-14 08:32] Desmis commented on #3421
By trying locallabgt3, I found a bug that either resulted in a crash or a program exit.
I searched for why and put together the commits. And I found an error in "merge wih dev 6e6761f": a variable required by localabl, is not initialized.
To solve this problem and leave on a healthy basis, I recreated a new branch "locallab_dev".
I updated the location of mip files - in the cache, in a mip folder.

[2017-02-14 08:51] harshula commented on #3676
@Floessie @heckflosse @ff2000 When debugging NFS performance issues, if there are reads/writes involved, start by collecting nfsiostat output. e.g. nfsiostat 5 /nfsmountpoint >> nfsiostat.txt . Once you have the output, then have a look at the RTT and EXE latencies to determine if the delays are on the NFS Client or NFS Server.
If you are familiar with wireshark, you can collect a tcpdump at the s

[2017-02-14 09:38] ff2000 commented on #3676
@harshula thx for the info.
I played a lot with export and mount options the weekend and could not get any further. I noticed however that while RT is thumbnailing a DIR geeqie also shows the lockups as RT - which is somewhat weird... I also tried darktable which behaves even worse. I will investigate more.

[2017-02-14 09:43] harshula commented on #3676
@ff2000 No probs. Go back to the defaults for the time being. First step is to isolate the problem to either the NFS Client of NFS Server. That can be done using nfsiostat and/or tcpdump.

[2017-02-14 10:09] Floessie commented on #3639
@Beep6581 Would you mind to test Alberto's patch? I'd push it afterwards.

[2017-02-14 13:57] heckflosse commented on #3639
@Floessie I will also test the patch today

[2017-02-14 14:45] Floessie commented on #3639
@heckflosse Thanks! Much appreciated, Ingo! :+1:

[2017-02-14 15:17] heckflosse commented on #3639
@agriggio @Floessie
I just tested the patch on Win7/64. It works when you select a clut which is in top clut folder but not when you select a clut which is in one of the subfolders (`Black-and-White/Agfa` for example).

[2017-02-14 15:25] agriggio commented on #3639
Thanks for the review. I'll fix it and resubmit then. (I have to admit, I only use top-level cluts so I never tested with subfolders... :-/)

[2017-02-14 15:41] agriggio commented on #3639
[relative-clut.patch.txt](https://github.com/Beep6581/RawTherapee/files/774557/relative-clut.patch.txt)
New version of the patch. It should work also with subfolders now

[2017-02-14 16:17] heckflosse commented on #3639
@agriggio New patch works fine. Thank you! :+1: for push @Floessie

[2017-02-14 17:02] heckflosse opened #3690 "White Balance shows wrong values when opening a file whichs wb method is 'Auto'"
To reproduce:
Open amsterdam.pef
Set Auto WB
rt shows the calculated values for Temperature and Tint, fine
![awb00](https://cloud.githubusercontent.com/assets/13733487/22939583/6f6fa1a6-f2df-11e6-9fee-9506157d9999.png)
reopen amsterdam.pef
rt shows the hard coded default values for Temperature and Tint...
![awb01](https://cloud.githubusercontent.com/assets/13733487/22939658/b43eba74-f2df-11e6-89d4

[2017-02-14 19:52] Floessie commented on #3639
Pushed to `dev`.

[2017-02-14 19:52] #3639 closed

[2017-02-14 20:32] Beep6581 commented on #3690
See #3221.

[2017-02-14 20:39] heckflosse commented on #3690
@Beep6581 I hope I can fix it soon :)

[2017-02-14 20:49] ff2000 commented on #3676
This is what nfsiostat gave me:
[code]
So essentially no traffic for 30 seconds. (This pattern repeats)

I also did a tcpdump and it shows the same hole with no packages being transferred for 30 seconds. I will have to dive into wireshark to get those stats. Will take some time as I never used wireshark to this extent.

BTW.: If you think further posts (as it's mostly about debugging) shouldn't go

[2017-02-14 21:00] Floessie commented on #3676
@ff2000 Hm, 30s? Sound a bit like a resolver timeout. Had those problems once with avahi/mDNS. Just a wild guess...

[2017-02-14 21:31] ff2000 commented on #3676
This is a direct Ethernet connection, all wired, no services involved, static IP. For both Server and Client. So I hope I can rule that out...

[2017-02-14 21:55] Hombre57 opened #3691 "cli version to speedup start time / rt-cli branch"
I've created `rt-cli` branch that build 2 executables : `rawtherapee.exe` and `rawtherapee-cli.exe`. The later one doesn't integrate the GUI code at all but includes all the command line options, while the first one now only support directory or files through the command line options. Use `-h` to see what is supported. You'll se a new `-q` option (for _Quick Start_ mode) that will not load the Hal

[2017-02-14 22:05] Hombre57 commented on #3691
I've found one limitation : when using the `-q` mode, the `(automatic icc)` will not find any suitable intput profile even if it exist, just because we haven't loaded them all. It will still process the file but with a wrong result. How should we handle this problem ? I'd suggest to put a warning when `rawtherapee-cli` is started.

[2017-02-14 22:08] Hombre57 commented on #3687
May I suggest issue #3691 ? Just drop some comments there so I can finish it ASAP (99% done).

[2017-02-14 22:11] heckflosse commented on #3691
No, this has to be solved, not warned about!

[2017-02-14 22:15] paperdigits commented on #3676
I'd say make sure all your DNS stuff is working well in /etc/resolvconf, static IP or not, network stack may still ping your DNS. Also make sure portmapper is functioning properly.

[2017-02-14 22:18] Hombre57 commented on #3691
Ok. I'll scan the input profile directory for a suitable profile if this parameter is set and only load it, not load all of them.

[2017-02-14 22:25] heckflosse commented on #3687
@Hombre57 added

[2017-02-14 23:51] heckflosse commented on #3691
@Hombre57 iirc I made some changes to that part of code to only load profiles on demand, not in advance...

[2017-02-14 23:53] Hombre57 commented on #3683
I don't see the use case because sliders and curves inside Exposure adjusts the overall exposure of the image and act as a whole, but the change would be simple, though not very "clean" as we would have to add a dedicated checkbox in the Partial Save or Partial Load profile window, under the `Exposure` checkbox.

As a workaround (I know, I know...) and if you're doing this very occasionally on pro

[2017-02-14 23:54] Hombre57 commented on #3691
Yes, but not for the auto selection mechanism (still have to look at the code, but now going to bed ;) ).

[2017-02-15 00:23] heckflosse commented on #3691
@Hombre57 Oh, my bad :(

[2017-02-15 02:22] jazziman opened #3693 "RT crashes when select the folder destination from queue screen"
RT crashes when, from the development queue screen, I try to select the folder destination of the developed files.

[crash-report.txt](https://github.com/Beep6581/RawTherapee/files/775844/crash-report.txt)

[2017-02-15 06:53] Floessie commented on #3676
Yep, and to make sure, use `strace` or something similar as suggested. :)

[2017-02-15 07:55] harshula commented on #3676
@ff2000 I hope you captured the nfsiostat output to a text file for the entire duration of the problem. If so please upload it somewhere, so I can download it and have a look. filebin.net seems to be preferred by Rawtherapee devs. It's not a good idea to make any conclusions from a single sample, however, an RTT ~1 second is quite bad. That's about two orders of magnitude worse than I normally see

[2017-02-15 08:22] cy6erGn0m opened #3694 "Crash at startup (first start, new installation)"
[code]

[code]

The only thread when crash happens
[code]

**stacktrace**
[code]

[code]

[code]

[2017-02-15 09:24] Floessie commented on #3694
@cy6erGn0m Please post you `AboutThisBuild.txt` so that we know, which compiler you used.

[2017-02-15 09:27] cy6erGn0m commented on #3694
@Floessie added to description

[2017-02-15 10:28] Floessie commented on #3650
@gwaugh @romandocent Is this still present in the latest `dev`? I've tried to reproduce it again but failed. Though I must say, it was hard to reproduce 12 days ago...

[2017-02-15 10:42] baobob35 opened #3695 "Co,flict between PS CC2017 and RT5 ?"
Dell studio in WIN 7 Pro Adobe CC2017 RT 5 last release
Unable to open PS 2017 after having run RT CC opens, Bridge opens
Restarting the computer solves the problem
Bob

[2017-02-15 10:52] waxhead commented on #3650
Just adding in here that the current release version through the Ubuntu PPA will crash fairly quickly with the WB slider:
Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1a
Commit date: 2017-02-01
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: Release
Build flags: -O3 -std=gnu++11  -Werror=unused-label -fopenmp -Werror=unknown

[2017-02-15 11:15] TooWaBoo opened #3696 "Critical update TooWaBlue v2.44, Gtk3 Bugfix"
Bugfix: see forum https://discuss.pixls.us/t/solved-critical-bug-in-toowablue-theme/3328
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/776822/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/776823/TooWaBlue-Dark-GTK3-20_.txt)

Rename .txt to .css

[2017-02-15 12:04] Floessie commented on #3694
Sorry, but cannot reproduce with `-DCMAKE_CXX_FLAGS="-fmessage-length=0 -grecord-gcc-switches -D_FORTIFY_SOURCE=2 -fstack-protector -funwind-tables -fasynchronous-unwind-tables -g` with GCC 5.4.0 nor 6.3.0 and even locale `ru_RU.UTF-8`.

[2017-02-15 13:35] gwaugh commented on #3650
@Floessie I installed the latest from Dariusz Dumas PPA and exercised the white balance temperature control. Out of two tries, Rawtherapee locked up and became unresponsive. My CPU monitor showed constant activity until I closed the program. Note: The "rawtherapee-unstable" version in his repository works flawlessly.

Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1a
Commit date: 2017-02-01
C

[2017-02-15 13:59] GLTR87 commented on #3683
The use case is for presets that use tone curves as the main adjustment. If applied to an underexposed picture, the picture will still be underexposed and in need of exposure compensation, so switching between presets will reset the exposure every time. The use case does exist, it depends how you use the tools. My presets that would make this feature useful: https://github.com/GLTR87/RawTherapee-p

[2017-02-15 15:49] Beep6581 commented on #3650
@gwaugh the version you just tried it on does not include @Floessie's fix.

[2017-02-15 16:30] romandocent commented on #3650
@gwaugh as I wrote in #3306 that patch has solved Noise reduction crash in dev. WB still crushes in dev and in 5.0-r1-gtk3

[2017-02-15 16:41] gwaugh commented on #3650
@romandocent Thank you. I noticed that I could make RT crash with the luminance control in noise reduction as well.

[2017-02-15 16:53] romandocent commented on #3650
@gwaugh exactly. Luminance control usually made it crush.

[2017-02-15 17:28] gwaugh commented on #3650
@Floessie , @romandocent I built from the "dev" branch a "release" version. I tried on two PC's and could not create a failure with the "temperature" control in white balance or the "luminance" control in noise reduction. I tried both jpg and Sony raw files on both PCs.

Build info:

Version: 5.0-r1-gtk3-26-g9c4bba1
Branch: dev
Commit: 9c4bba1
Commit date: 2017-02-14
Compiler: cc 5.4.0
Processor:

[2017-02-15 18:17] ff2000 commented on #3229
One issue I found: Old thumbnails (that show the half black/white picture) won't get updated. I can open and edit the compressed files just fine. Other files I opened and edited before compression support change their thumbs just fine.

[2017-02-15 18:23] romandocent commented on #3650
@gwaugh try Nikon .nef. I had no Luminance crashes in "release" yet, but have WB controls crash every 3-5 picture.

[2017-02-15 18:25] heckflosse commented on #3229
@ff2000
Select the thumb(s), right click `Cache/Clear from cache - full`. Then open the image(s). That should build a new correct thumb.

[2017-02-15 19:06] gwaugh commented on #3650
@romandocent I had the following Nikon .nef files from Imaging Resource on my hard drive:

D3300hSLI03200NR1D.NEF
D5200hSLI06400NR2D.NEF
D7100hSLI01600NR2D.NEF

I can't make it fail.

[2017-02-15 19:16] romandocent commented on #3650
@gwaugh I can't make it fail in dev at all, but "release" fails.

[2017-02-15 19:41] gwaugh commented on #3650
@romandocent Oh! Possible communication issue. What I built was code from the dev branch, but a release build type as opposed to a debug build type. This is what I used to test my files as well as some nef raw files as you requested. Neither you or I can make the build from the dev branch fail. So the patched code seems to work unless we can make it fail.

[2017-02-15 20:49] TooWaBoo commented on #3693
This is known bug on Mac. It happens when the folder is set to "None".
see: https://github.com/Beep6581/RawTherapee/issues/3672

[2017-02-16 08:36] stefan-i opened #3697 "DCamProf profiles: Neutral tone reproduction operator not applied correctly"
I noticed a problem with the handling of DCP profiles created with DCamProf which contain a tone curve that makes use of DCamProf's neutral tone reproduction operator (NTRO).

**Problem**:
The DCP tone curve is rendered simply as "film like" and not with the NTRO.

**How to reproduce**:

1. Load Raw file and make sure a DCamProf profile is used in color management tab
2. Disable "DCP tone curve" i

[2017-02-16 09:56] Floessie commented on #3697
@heckflosse Maybe we broke it in #3343?

[2017-02-16 11:13] heckflosse commented on #3697
@Floessie I don't think so. But I will check.

[2017-02-16 11:27] heckflosse commented on #3697
@atorger @Beep6581 @iliasg know more about dcp

[2017-02-16 11:57] heckflosse commented on #3697
[From here](https://www.ludd.ltu.se/~torger/dcamprof.html#tro_dcp_notes)

[code]
Doesn't that mean you have to enable the `Look table` to make use of DCamProf's neutral tone reproduction operator?

But I'm not a specialist in dcp.

[2017-02-16 12:29] #3684 closed, assigned to nobody

[2017-02-16 12:30] #3671 closed, assigned to nobody

[2017-02-16 12:30] #3644 closed

[2017-02-16 13:02] stefan-i commented on #3697
Yes, the look table (and of course base table) is always enabled in my examples, that's not the issue.

[2017-02-16 13:08] ion12 commented on #3678
@Beep6581
Is it possible to update Rawpedia and commit some sort of fix (not necessarily helmi03's or my patch, but something...) for `macosx_bundle.sh` / `executable_loader.in` so it would be possible to correctly compile gtk3 RT?
Happy to help in any way I can.
In my patch I commented out copying the `gtk-keys.css` files because I wasn't sure if they are actually relevant, but probably safer to

[2017-02-16 13:09] heckflosse commented on #3697
Ok, that wasn't clear in first post. Then we'll have to wait for answers of specialists.

[2017-02-16 13:28] jazziman commented on #3693
Thanks TooWaBoo, but I do not understand how and where I can correct the error. What is the file to be corrected?

Thanks

[2017-02-16 13:57] Beep6581 commented on #3678
@ion12 @helmi03 @partha1b you guys seem to be compiling in different ways, using different technologies. I have no say in this and no judgement in what is best/easiest/fool-proof/future-proof in macOS. You are all welcome to sign up for RawPedia accounts and update the macOS article. You would need to reach a consensus on which way to go about it.

[2017-02-16 16:11] ion12 commented on #3678
@Beep6581
currently the RawPedia instructions target macport as the technology to setup the build toolchain, (which is what I am using), and as long as that's the case, it should be correct and up to date - even if there is a decision to promote other technologies (homebrew, jhbuild) in addition or instead at a later time.
I requested an account and happy to update the current macports instruction

[2017-02-16 17:53] TooWaBoo commented on #3693
You have to wait for a new version. I don't know anything about RT on the Mac.
Perhaps @Partha1b can help you.

[2017-02-16 17:57] heckflosse commented on #3693
@jazziman You can try to enter the path in options file. Search for `PathFolder` in options file. Once the path is filled correctly it could be possible to change it in rt as well.
Close rt before editing the options file!

[2017-02-16 20:40] daved163g opened #3698 "Crash on startup, New install of v5.0-r1-gtk2_WinXP_32, Windows 7 32 bit SP1"
file: RT 5.0-r1-gtk2 for Windows XP or newer 32-bit - fast
downloaded from http://rawtherapee.com/downloads

Excerpt from changelog-GTK2-5.0-r1-gtk2.txt:
commit 1077c4ba2e2dbe249884e6974c6050db8eb5e9c2
Author: Morgan Hardwood
Date:   Wed Feb 1 16:14:26 2017 +0100
    Translation files updated.

---

Old RT v4 was uninstalled via Settings, Programs & Features
Old Program Files folder was deleted by

[2017-02-16 21:09] heckflosse commented on #3698
Why not?
[code]
Please retry with 3GB switch

[2017-02-16 21:15] daved163g commented on #3698
Why not?

Because I have a stable system that successfully runs several other large
photo apps as well as MS office apps and a pile of crap in the background. I
am loathe to change anything and as a "user" rather than a techie I prefer
to leave well alone if everything else works. My feeling is that this is not
a memory problem (RT hasn't even started fully, let alone loaded any files)
so I will o

[2017-02-16 21:18] heckflosse commented on #3698
`-march=prescott -std=gnu++11 -march=pentium4`

That also looks wrong. @gaaned92 ?

[2017-02-16 21:21] daved163g commented on #3698
Copied straight from the download page

  _____

From: Ingo Weyrich [mailto:notifications@github.com]
Sent: 16 February 2017 21:19
To: Beep6581/RawTherapee
Cc: daved163g; Author
Subject: Re: [Beep6581/RawTherapee] Crash on startup, New install of
v5.0-r1-gtk2_WinXP_32, Windows 7 32 bit SP1 (#3698)

-march=prescott -std=gnu++11 -march=pentium4

That also looks wrong. @gaaned92 <https://github.com/g

[2017-02-16 21:50] haklein commented on #3229
is there a mac build somewhere to test?

[2017-02-16 23:24] jazziman commented on #3693
I see the others strings of output of file "options" situated in User/Library/Application Support/Rawtherapee.
In [External Editor] “PhotoshopDir=“ and in [Output] “PathFolder=” I added a simple: /Users
It’s all ok, in the queue tab and in preference, it’s possible to select the destination without crash.

————————

[External Editor]
EditorKind=1
GimpDir=
PhotoshopDir=/Users
CustomEditor=

———————

[2017-02-16 23:26] jazziman commented on #3672
I see the others strings of output of file "options" situated in User/Library/Application Support/Rawtherapee.
In [External Editor] “PhotoshopDir=“ and in [Output] “PathFolder=” I added a simple: /Users
It’s all ok, in the queue tab and in preference, it’s possible to select the destination without crash.

————————

[External Editor]
EditorKind=1
GimpDir=
PhotoshopDir=/Users
CustomEditor=

———————

[2017-02-17 13:12] jazziman commented on #3693
...certainly for a code programmer, it will not be the correct way, but... It works! :-)

[2017-02-17 13:12] jazziman commented on #3672
...certainly for a code programmer, it will not be the correct way, but... It works! :-)

[2017-02-17 13:13] sguyader commented on #3229
@heckflosse Ingo I just got my X-T2. I confirm that loading a compressed raw in RT works without any flaw. Great job.

[2017-02-17 13:33] heckflosse commented on #3693
@jazziman I would prefer to solve it in code but I don't have access to a Mac

[2017-02-17 14:06] jazziman commented on #3693
@heckflosse Can I put my time to experiment and communicate to you the results, but I do not understand anything of programming code. You should try to give me some strings and I can do the tests.

[2017-02-17 15:00] heckflosse commented on #3693
@jazziman Ok, great, let's start with `folder destination from queue screen`. The code is in file
`rtgui/batchqueuepanel.cc` line 116 to 118

[code]
That means, if the path in options file is empty or a non existing path, the path won't be set, which leads to the crash when trying to select a path. On Windows this works fine:

[code]
because it magically sets the folder rt was started from.
Unfort

[2017-02-17 15:02] heckflosse commented on #3693
@Partha1b could you also try the solution from above post?

[2017-02-17 15:12] heckflosse commented on #3229
@sguyader Sébastien, thanks for the feedback :)

[2017-02-17 15:20] Floessie commented on #3693
@heckflosse There's a [Glib::get_home_dir()](https://developer.gnome.org/glibmm/stable/group__MiscUtils.html#ga9412ea70c7fea058c03211dac318f8e6).

[2017-02-17 15:27] heckflosse commented on #3693
@Floessie great, even better :+1:

[2017-02-17 16:34] #3690 closed, assigned to heckflosse

[2017-02-17 17:04] Beep6581 commented on #3698
@daved163g what is your [`StartupPath`](http://rawpedia.rawtherapee.com/File_Paths) and what files are in it?

[2017-02-17 17:12] Beep6581 commented on #3678
@ion12 your account is confirmed and edit rights granted.

Could you open a PR for the code changes to `macosx_bundle.sh` et al.?

[2017-02-17 17:52] TooWaBoo commented on #3696
ping @Beep6581

[2017-02-17 19:36] heckflosse commented on #3221
Fixed with #3689

[2017-02-17 19:36] #3221 closed

[2017-02-17 19:53] Beep6581 commented on #3697
I agree.

Tested using RawTherapee `5.0-r1-gtk3-23-g5696df39` and DCamProf `1.0.5`.
Raw file: http://rawtherapee.com/shared/test_images/colortarget/PENTAX%20K10D%20daylight.dng

Neutral + DCP with only the base table (HueSatMap) applied:
![imgur-2017_02_17-18 49 52](https://cloud.githubusercontent.com/assets/5844619/23078828/8daa9960-f54a-11e6-84e2-5fc43f810529.png)

Enable the tone curve (`acr`)

[2017-02-17 19:54] daved163g commented on #3698
Thanks for the reminder about pasting.

[2017-02-17 19:59] daved163g commented on #3698
2017-02-17: IN RESPONSE TO what is your StartupPath and what files are in it?

There is no 'StartupPath' mentioned in the page you have linked to.
Without further clarification the name is ambiguous.
Found a Wiki page http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup
current values:
	StartupDirectory=last
	StartupPath=D:\\My Pictures\\E30\\2010-05-09 Ipswich Marina\\JPG (this folder ex

[2017-02-17 20:11] Beep6581 commented on #3696
@TooWaBoo thank you, committed.

It would be less error-prone and easier for both of us if you could submit pull requests instead:
https://help.github.com/articles/fork-a-repo/
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-02-17 20:11] #3696 closed, assigned to nobody

[2017-02-17 20:22] Beep6581 commented on #3698
@daved163g it's very strange that RT crashes when you set `StartupPath=C:\Temp` and `C:\Temp` is empty. If I remember correctly, the 5.0-r1-gtk2 installer includes a `rawtherapee-debug.exe` file. If so, could you run it through GDB and upload the stack backtrace? Otherwise run `rawtherapee.exe` through GDB instead - it won't be as helpful, but might offer enough clues.
Guide: http://rawpedia.rawth

[2017-02-17 20:26] Beep6581 commented on #3698
@daved163g I overlooked @heckflosse 's comment, which is likely the cause of the problem. What CPU do you have exactly?

@gaaned92 could you make a new 5.0-gtk2 installer using a "generic" processor? `-DPROC_TARGET_NUMBER="1"`

[2017-02-17 20:30] daved163g commented on #3698
OK, it will take awhile.

  _____

From: Beep6581 [mailto:notifications@github.com]
Sent: 17 February 2017 20:22
To: Beep6581/RawTherapee
Cc: daved163g; Mention
Subject: Re: [Beep6581/RawTherapee] Crash on startup, New install of
v5.0-r1-gtk2_WinXP_32, Windows 7 32 bit SP1 (#3698)

@daved163g <https://github.com/daved163g>  it's very strange that RT crashes
when you set StartupPath=C:\Temp and C:\

[2017-02-17 20:36] daved163g commented on #3698
Yes, I noticed he'd queried the parameters but it means very little to me,
other than one switch which is -march=pentium4. March is a month . :-)

My computer has a dual Xeon 3.6Gb with hyperthreading, making 4 virtual
cores.

Thanks, Dave

  _____

From: Beep6581 [mailto:notifications@github.com]
Sent: 17 February 2017 20:26
To: Beep6581/RawTherapee
Cc: daved163g; Mention
Subject: Re: [Beep6581/R

[2017-02-17 20:40] Beep6581 opened #3699 "Make sure Windows installer runs "release" exe by default"
Re: https://www.dpreview.com/forums/post/59134142

@gaaned92 @sguyader please make sure that the Windows installer creates a shortcut which points to `rawtherapee.exe` and that if the user ticks the option to automatically run RawTherapee after installation has finished then it runs this release `rawtherapee.exe`, not `rawtherapee-debug.exe`.

https://github.com/Beep6581/RawTherapee/blob/dev/tools

[2017-02-17 20:46] daved163g commented on #3698
When I run rawtherapee_debug direct from the command line it craps out in
exactly the same way the normal executable does. It doesn't create any
output but asks for a debugger, which I haven't got. So, no evidence from
that. Do still want me to repeat the exercise with gdb, even though it will
probably give the same result as the first time, yesterday?

  _____

From: Beep6581 [mailto:notification

[2017-02-17 20:51] sguyader commented on #3699
I was wondering this because a user at dpreview reported that it ran the debug exe the first time he launched the program. But I checked the last installer I made (from the Dev branch) and by default it launched the correct release exe.

[2017-02-17 20:53] daved163g commented on #3698
Sorry, the debug version did create a dump. It just took awhile for it to appear in the dump folder. Now uploaded to https://filebin.net/vlimyvv8dxgl9kyt

[2017-02-17 20:55] Beep6581 commented on #3698
@daved163g those dumps are useless, only a stack backtrace from GDB could help, but it's probably pointless you trying to get one if `-march` is the culprit, which it seems to be. Best to wait and hope someone makes a new `5.0-gtk2` build.

[2017-02-17 20:57] daved163g commented on #3698
Summary from gdb:
Starting program: C:\Program Files\RawTherapee\5.0-r1-gtk2\rawtherapee_debug.exe
[New Thread 1012.0x1470]
[New Thread 1012.0x13b8]
[New Thread 1012.0xa30]
[New Thread 1012.0x540]
[New Thread 1012.0x1550]
[New Thread 1012.0x17a8]
[New Thread 1012.0x1740]
[New Thread 1012.0xed0]
[New Thread 1012.0x16d4]
[New Thread 1012.0x380]
[Thread 1012.0x16d4 exited with code 0]
[Thread 1012.0x

[2017-02-17 20:57] heckflosse commented on #3698
@daved163g Let's wait for an answer of @gaaned92. Maybe it's the build which simply does not work on your machine. A generic build should work. But we have to wait for that build.

[2017-02-17 21:01] #2981 closed

[2017-02-17 21:04] daved163g commented on #3698
Thanks, guys. It's just completed the log file and, same as yesterday, gdp itself promptly crashed.
log (2017-02-17 2102 startpath set to c_temp.txt is on filebin if you need it.

[2017-02-17 21:04] Beep6581 commented on #3400
No updates, closing.

[2017-02-17 21:04] #3400 closed

[2017-02-17 21:07] Beep6581 commented on #3699
It's dpreview - PEBKAC not excluded ;)

[2017-02-17 21:08] gaaned92 commented on #3698
@heckflosse That is like that for ages. I am going to make a build with mtune=generic.
 I don't remember how to check the architecture used in that case with my Msys2 installation.

[2017-02-17 21:08] Beep6581 commented on #3695
@baobob35 could you edit your post and describe the problem more clearly?

[2017-02-17 21:10] Beep6581 commented on #3695
We don't fix PS2017 bugs.

[2017-02-17 21:10] #3695 closed, assigned to nobody

[2017-02-17 21:12] daved163g commented on #3698
Maybe no one does 32 bit any more :-) and I guess not many users have Xeon at home. I stick with 32 bit because of legacy hardware (a lot of POS stuff) and the Xeon has served me well for many years.

[2017-02-17 21:14] Beep6581 commented on #2634
Could not reproduce.

[2017-02-17 21:14] #2634 closed

[2017-02-17 21:34] Beep6581 commented on #3697
If this is still valid, then it seems to confirm my conclusion:
https://github.com/Beep6581/RawTherapee/issues/3133#issuecomment-179851251

The DCP handling should be made according to the DNG specification.

Note that "Film-like" means "Adobe-like".

It seems from the code that DCP stuff is applied in the pipeline after the exposure compensation slider, but before the curves.
https://github.com/B

[2017-02-17 22:01] Beep6581 commented on #3698
@gaaned92 please @ ping me when a new gtk2 installer is ready.

[2017-02-17 22:15] gaaned92 commented on #3698
@Beep6581 gtk2 installer uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPOEZmVlBzLWlnSWc](https://drive.google.com/open?id=0B2q9OrgyDEfPOEZmVlBzLWlnSWc)
@daved163g yes 32bits  Xeon at home is not that usual.! hope the build will solve the issue

[2017-02-17 22:24] Beep6581 commented on #3698
Thank you @gaaned92 , looks good!

[2017-02-17 22:41] sguyader commented on #3699
I don't know what PEBKAC is. Anyways, the user reported slowness in RT run right after installation, somebody asked if he was running the debug executable, and after loading the release executable, RT was running fast.
By the way, I do read and sometimes write on Dpreview 😊

[2017-02-17 22:56] heckflosse commented on #3699
@sguyader I was the 'somebody' :)

[2017-02-17 22:58] heckflosse commented on #3699
@sguyader PEBKAC: „Problem exists between keyboard and chair“

[2017-02-17 22:59] gaaned92 commented on #3699
I already verified that the installer launches by default the release exe. Cannot launch the debug unless you manually modify shortcuts. edit or you launch it manually

[2017-02-17 23:04] Beep6581 commented on #3699
So both installers are verified to use the "release" exe, and the innosetup script seems correct... must be PEBKAC.

Thank you for your attention. Closing.

[2017-02-17 23:04] #3699 closed, assigned to nobody

[2017-02-17 23:08] Beep6581 commented on #3655
Final file uploaded to original filebin. @iliasg what do we do?

[2017-02-17 23:17] sguyader commented on #3699
Why was this issue open at first?

Le 17 févr. 2017 19:04, "Beep6581" <notifications@github.com> a écrit :

[2017-02-17 23:25] heckflosse commented on #3699
@sguyader Sébastien, because a user reported that debug.exe was started during installation process:
https://www.dpreview.com/forums/post/59134142
And we thought there might have been a bug in installer.

[2017-02-17 23:32] heckflosse commented on #3699
@sguyader Sébastien, read ogni backwards ;-)

[2017-02-18 02:58] sguyader commented on #3699
@heckflosse OK! I thought you had another nickname at Dpreview. So we're talking about the same user. The only one apparently...

[2017-02-18 03:44] Partha1b commented on #3693
@heckflosse and @Floessie Yes, the above works!  😄

I was approaching it differently and not using another else block which did not work.

I think that instead of using a similar fix for PS folder, we should default to the standard installation folder (just like we do for "official GIMP"). Anyone who installs it in a non-standard folder can use the command line option. What do you think?

Thanks,

[2017-02-18 03:50] Partha1b commented on #3678
@Beep6581 Sorry for the late response. I have been busy as real life intrudes. 🙂

I am still hoping that @heckflosse is able to fix the bug I identified or to confirm that it's an issue with my setup. Since I've been using my setup (where everything is built from scratch with Apple provided clang) to build McGimp for a long time without any crashes, I have confidence in my setup.

@ion12 Thanks fo

[2017-02-18 07:42] jazziman commented on #3693
I'm sorry but just as I had anticipated to you, because I not am aware of the bases of programming I could not do anything. By the time I solved the problem by simply placing a "/" in the empty fields of the "options" file that I've described in previous posts. The file "rtgui/batchqueuepanel.cc" is not resident on Mac. I remain available for other tests on my Mac.

[2017-02-18 12:16] Partha1b commented on #3693
@jazziman This file is part of the RT source code.

[2017-02-18 12:50] jazziman commented on #3693
@Partha1b  ...source code from this: http://rawtherapee.com/shared/source/

[2017-02-18 14:56] heckflosse opened #3702 "LCP vignetting correction only works with undemosaiced raw files"
For some `raw` formats (canon mraw, sraw, lossy dng and foveon) current lcp vignetting correction code does not work correctly. I will post a fix soon.

[2017-02-18 17:52] da-phil commented on #3679
I can't reproduce the crash anymore lately :(

[2017-02-18 20:41] heckflosse opened #3704 "Grey-out tools which do not work for certain files"
Some tools in rt only work on raw files, some only on bayer raw files, some only on bayer and xtrans  raw files, some (soon) only on multi-frame raw files and so on...

This issue is to discuss how to improve the gui for this cases.

For tiff, jpeg and png files we could simply disable the raw-tab

For raw files the situation is a bit more complex as there are several types of files and not all to

[2017-02-19 15:48] reggybe opened #3705 "Thumbnails fail when switching directory after queue processing"
After processing a queue with several files, and then switching to another directory with imagefiles for editing, the thumbnails are not drawn on the screen. The info about how many files there are in the directory is OK. So I have to quit RT and restart it. This happens with all directories. The image files are on a external hard drive.

Info:
Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1

[2017-02-19 16:00] heckflosse commented on #3705
@reggybe

Does it show 0/n or n? Can you post a screenshot?

[2017-02-19 16:29] agriggio commented on #3702
seems to work fine with lossy DNGs! :+1:

[2017-02-19 16:35] heckflosse commented on #3702
@agriggio Thank you very much for the test :)

[2017-02-19 16:39] #3702 closed, assigned to heckflosse

[2017-02-19 17:18] daved163g commented on #3698
Hi folks, thanks for the links to the new compilations. Here's the result.
I fully removed the old gtk2 build and manually removed all relevant folders
    (in the past I found legacy working data left behind after uninstalling)
As you were kind enough to provide a gtk3 32 bit build, I thought I'd try that first.
    RawTherapee_5.0-r1-gtk3_WinXP_32 works (almost) fine
        it starts, loads raw

[2017-02-19 18:51] daved163g commented on #3698
reading Issue 3544
Beep6581 commented 15 days ago
To bump and summarize this issue so far, compiling RT on some unusual drive letter such as Y: does not fix/prevent this problem, and the most likely culprit seems to be the GTK+ version.

Daved163g:
I agree. And I would also be reluctant to accept a fix on the basis that the compilation had taken place on some 'rarely used' drive. I use most of the

[2017-02-19 19:36] stefan-i commented on #3697
Thank you for your investigations. But where does this leave us? Is it working as expected or is there possibly something wrong?
I am still confused about the film-like rendering of the embedded DCP curve. Or is this the only way those curves can be rendered according to the DNG specification and all the NTRO magic is done via the Look Table?

[2017-02-19 19:41] reggybe commented on #3705
Thanks for the tip. Found the solution. I used a starrating filter, but didn't deactivate it after the processing. The issue can be closed.

BTW: thanks for all the speedups and fixes youdid already.

[2017-02-19 19:41] #3705 closed, assigned to nobody

[2017-02-19 19:41] heckflosse opened #3707 "Speedup for lcp vignetting correction"
I just created a [new branch](https://github.com/Beep6581/RawTherapee/tree/lcpvignette_speedup) to speedup lcp vignetting correction.

I tested with a D800 file

Before changes: 76 ms
after changes using non SSE2 code: 34 ms
after changes using SSE2 code: 19 ms

I detected no differences in output.

Ingo

[2017-02-19 19:51] heckflosse commented on #3705
Thanks for the feedback :+1:
Though my tip was a bit hidden ;-)

[2017-02-19 19:55] ion12 commented on #3678
@Beep6581 updated 'compiling on macOS' page on RawPedia. Still macports-centric for now, to keep things clear and concise.
opened a PR, it's my first time so hope it's done ok.

@Partha1b In your setup do the Adwaita icons get bundled automatically? Under macports I couldn't figure out a way to do that and I copy them explicitly in the bundle script.
Is it not a good idea to bundle only the Adwait

[2017-02-19 20:04] reggybe commented on #3704
For tiff, jpeg and png files we could simply disable the raw-tab: **+1**
For the others: a change in some of those sliders (raw ca correction, flat field, false colour suppression, hot/dead pixel filter)  should invoke the whole toolchain of demosaicing from the beginning. The already done edits in the other tabs should be saved previously in a temporary pp3-file (or the clipboard) that is reloade

[2017-02-19 20:10] heckflosse commented on #3704
@reggybe

It already does!

[2017-02-19 22:47] Hombre57 commented on #3469
I'll let you compare the result of PR #3470 against the dev branch here : https://filebin.net/1c97emtkw8yhtb7s

Overall, as you can see at the top left of this image, small saturated colors are slightly more smeared, but I don't know if it should prevent @heckflosse from committing the patch.

[2017-02-19 23:09] heckflosse commented on #3469
@Hombre57 I see what you mean. Maybe Jacques can chime in and test when he's back from vacancies @Desmis.
The patch is so old that some additional weeks won't matter at all :)

[2017-02-19 23:15] heckflosse commented on #3469
@Hombre57 I compared before/after of your file at 200%. To me it seems that with my changes the nr is a bit stronger without loosing relevant details. But that may be different for other files. We have to test further. Maybe @Beep6581 can also chime in.

[2017-02-20 01:29] heckflosse commented on #3707
I made some additional measures because my 8-core amd really is restricted by speed of ram:

I tested without use of omp:

processing time with new code on 1 core is 62 ms compared to old code on 8 cores which was 76 ms.
That clearly shows:

1. the memory in my machine is too slow to scale with the 8 cores
2. using SSE2 code can lead to big improvements
3. The processing time of 19ms on 8 cores is

[2017-02-20 02:00] heckflosse commented on #3707
One additional note:
You may ask why I made this speedup because 76 ms already was fast.:
When processing pentax pixelshift files each of the 4 frames has to go through lcp vignetting correction in case a lcp profile with vignetting  correction is selected. That multiplies the processing time for this step by factor 4

[2017-02-20 02:18] Partha1b commented on #3678
@ion12 I would be happy to show you how I do my building and packaging.

This is probably not the best venue for that conversation. Why don't we take it offline and you can contact at my email that's on my website?

Thanks!

[2017-02-20 07:04] virosh commented on #3229
I can also confirm that it works on without issues.

[2017-02-20 08:18] Beep6581 commented on #3704
@heckflosse is there a difference between "demosaiced raw" and the missing "non-raw"?

[2017-02-20 09:05] Beep6581 commented on #3698
@daved163g

The "no disk in drive" issue, which most of your points are about, only appears when using GTK3 and has been fixed after we released RT5.0 - it will be part of RT5.1.
We only ship a GTK2-using 32-bit Windows XP build.

This is not hacking a system. If a user insists on using outdated hardware and an obsolete operating system with a very modern program, they need to flip a switch which

[2017-02-20 09:10] Beep6581 commented on #3697
@stefan-i I believe the NTRO works fine.
I defer to @atorger.

[2017-02-20 13:31] harshula commented on #3676
@ff2000 How is the NFS performance investigation going?

[2017-02-20 14:13] heckflosse commented on #3704
@Beep6581 'Demosaiced' raw files (or better 3-channel raw files) are lossy dng, Canon mraw, Canon sraw and Foveon.
non-raw files are tiff, jpeg and png. For the non-raw files we could simply grey-out the raw tab

[2017-02-20 14:32] atorger commented on #3697
I haven't read this full thread. Just a comment on DCP/Curves/NTRO. I'm quite sure that the DNG specification does not tell what type of operator that should be used on the tone curve, but defacto standard is Adobe's "film-like", published via the DNG SDK. When things are unclear in the spec, the DNG SDK serves as a reference.

When coding DCP processing for RT the guiding principle is to make it

[2017-02-20 15:13] Beep6581 commented on #3704
Is there a functional difference between "3-channel raw files" and plain TIFFs? Do "3-channel raw files" have the same white levels as raw, are they white-balanced, etc?

[2017-02-20 17:44] ion12 commented on #3678
@Partha1b Thanks for the kind offer and I will take you up on it soon (real life intruding over here a as well right now)  :)

When I say 'standard' I don't mean for the whole build setup but it is important for the final configuration of the build product and should probably be resolved here.
For example - I see from another issue that you've moved the user 'config' folder path to 'Application Su

[2017-02-20 18:29] Partha1b commented on #3678
@ion12  Sorry I misunderstood you. I thought you asked about

I didn't see anything about "standard". I agree that anything related to RT should be discussed here.

In one of my previous posts I had stated that the Mac standard for settings is the Application Support folder and hence I had set the RT_SETTINGS environment variable to $HOME/Library/Application Support/Rawtherapee in the MacOS folder

[2017-02-20 19:06] daved163g commented on #3698
:-) touché, with reservations

I agree, given my outdated system youve probably done all you can be
reasonably expected to do. Bear in mind that Windows 7 is still in extended
support until, I think, 2020.

Thanks for your time and assistance. I might persist with the gtk3 build
because RT has some interesting features. I dont think the 4Gb switch is
relevant at all in my case.

Kind regards,

[2017-02-20 19:26] Beep6581 commented on #3698
@daved163g does gaaned92's build `RawTherapee_5.0-r1-gtk2_WinXP_32.zip` from Feb 17 crash on both of your OSs - Win7 and WinXP?

[2017-02-20 19:45] daved163g commented on #3698
I have tested only one OS, Windows 7. I have not tried RT on XP and wouldn't
be interested in doing so. gaaned92's build
RawTherapee_5.0-r1-gtk2_WinXP_32.zip from Feb 17 fails on Windows 7, as
noted in the thread.

I am running 32-bit Windows 7 Pro on 64-bit capable hardware. I keep it this
way because I have legacy hardware that doesn't have 64 bit drivers.

The system is dual boot with XP (not u

[2017-02-21 07:25] Desmis commented on #3469
My grandsons have left since Sunday, and I am going to the Caribbean next Saturday...for 2 weeks :)

I looked at the patch proposed by Ingo and it seems to me that it provides a good solution to the problem.
Maybe there is another solution, but at the moment I do not see which.
Thanks to Ingo :)

[2017-02-21 13:39] Floessie commented on #3445
I came across a very well-written [page](http://utf8everywhere.org/#faq.literal) on UTF-8 that explains a lot. Just FYI, not to warm this old issue up.

[2017-02-21 18:13] heckflosse commented on #3707
I pushed some further changes:

I tested with 2 files (a lossy DNG 20 MP file and a D800 file) on 1 core and on 8 cores:

Measured in dev:
[code]
Measured with new code:
[code]

[2017-02-21 19:36] Floessie commented on #3707
@heckflosse May I do some cleanups (not speedups) here?

[2017-02-21 19:37] heckflosse commented on #3707
@Floessie absolutely :+1:

[2017-02-21 20:14] Floessie commented on #3707
@heckflosse 99309aa4ace072af51ce74614153c805ad13db9d has a little cleanup. There could be much more, perhaps in the next days. As for speed, I only changed `param0Sqr` to `float` and used float constants where applicable (everywhere, in fact).

[2017-02-21 20:25] heckflosse commented on #3707
@Floessie Thanks a lot for the cleanup!
About param0Sqr: It's calculated only once per file. For that reason I explicitly set it to double precision.

[2017-02-21 21:00] Beep6581 commented on #3707
Hey guys, small hint: if your first commit in a new branch contains only the inclusion of timers and nothing more, it would make it easier for people like me to get you a before/after time!

[2017-02-21 21:12] heckflosse commented on #3707
@Beep6581 Agreed. I will do that for the next speedup!

[2017-02-21 22:10] heckflosse commented on #3469
@Desmis

Lucky you!

Thanks for looking at my patch :+1:

Ingo

[2017-02-22 00:54] heckflosse commented on #3707
@Floessie I pushed again :)

[2017-02-22 00:59] heckflosse commented on #3707
Arghh, I'm not happy with the current astlye. Maybe I will revert my last commit :(

[2017-02-22 07:56] Desmis commented on #3469
Ingo

Thank you :)

[2017-02-22 11:46] salvadhor opened #3709 "Problem with commit - Extra fields"
Hi,

Since commit dfdcacfa52c63149811b679ed156cefdb9a3408a Launchpad has problem to get source code from github:

[code]

It's obviously exception in code of LP, but is it possible to fix this on Github side? Message 'Unknown extra fields' means, that we have something extra there.

best regards,

[2017-02-22 12:53] Beep6581 commented on #3709
Hey @salvadhor
Report to https://bugs.launchpad.net/bzr-git/+bugs maybe they know of a solution.
Related: https://bugs.launchpad.net/bzr-git/+bug/1372149

[2017-02-23 08:12] ff2000 commented on #3676
Unfortunately I have not yet found a solution. I spent some hours without success. I now went ahead and mounted via sshfs which seems to work just fine. No hangs so far.
I will close this issue for now. When I find the time and the source of the problem I will post it here. Thx for all your help nevertheless!

[2017-02-23 08:12] #3676 closed, assigned to nobody

[2017-02-23 20:47] TooWaBoo opened #3714 "locallab Gtk3 wrong #ExpanderboxID"
@Desmis

Found a bug in the gui. The expander for local lab is using a wrong ID.

Curently the ID is set to **#ExpanderBox** but should be **#Expanderbox2**.
Comparing with the Wavelet expander there should be set a level which assigns the correct expander ID.
It looks OK in the RawTherapee theme, 'cause every border is set but in the TooWaBlue theme the ID **#Expanderbox** is handled totally diff

[2017-02-23 21:26] heckflosse opened #3715 "astyle rt code"
In my latest try to astyle lcp code, astyle failed miserably.
How can we improve astyle for better formatting?

@Floessie @Beep6581 @Hombre57 @Desmis ?

[2017-02-23 21:41] Beep6581 commented on #3715
Maybe one of these options will satisfy your needs:
http://astyle.sourceforge.net/astyle.html#_pad-oper

[2017-02-24 07:09] Desmis commented on #3714
I just push a change with for each expander
expxxx->setLevel (2);

:)

[2017-02-24 08:13] stefan-i commented on #3697
Thank you @atorger for your explanation. I am glad to hear everything is working fine. So is it correct to say that the Look table is primarily meant to "repair" the color shifts introduced by the film-like DCP tone curve?
I am also wondering what would be the best way of further manipulating an image in RT with tone curves while keeping further color shifts at a minimum. Is it best to stay with f

[2017-02-24 12:10] TooWaBoo commented on #3714
Thanks, looks much nicer now (95%). But I've found some hardcoded styling which should be removed. :-)
Delete all lines which contains **...->set_border_width...** and **...->set_spacing...**
After doing this the look will be identical to Wavelet.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/23303031/f3dee0e6-fa91-11e6-90b7-aba67cbc3bb4.PNG)

[2017-02-24 12:18] ion12 commented on #3678
@Partha1b Sorry for the delayed reply, very hectic week for me.
I am also interested in learning about how you set up your toolchain, and I agree that it's beyond the scope of this conversation.

I do understand the Apple standards. What confuses me is why there are fonts and icons in the Framewords folder, and why the rt binary is placed in the Resources folder, this seems to be neither Apple sta

[2017-02-24 12:39] Beep6581 commented on #3714
Looks good!

[2017-02-24 13:16] TooWaBoo commented on #3714
btw: Local LAB is a mix of functions from Exposure, Detail  and Color like the Wavelet. Wouldn't it be better to move Local LAB to the Wavelet tab?

[2017-02-24 13:39] Desmis commented on #3714
If locallab was originally set to this place, it is because the "locallab" module uses L*a*b* functions (such as Lab adjustements, Tone mapping, CBDL, etc.). ..but not directly "wavelet").

I find that this module, now, given its "volume", to facilitate access, should have an independent place, like "exposure", or "details", or "color", or "wavelet" ...
It's a simple code shift ...

But it is nece

[2017-02-24 14:04] TooWaBoo commented on #3714
Puh, this was fast but you missed one line.

[code]
I wish you a nice vacation. :-)

[2017-02-24 14:21] Desmis commented on #3714
Done :)
Thank you

[2017-02-24 15:58] TooWaBoo commented on #3714
Everything is fixed now. I close this issue. Found another issue but i will open a new issue for that.

[2017-02-24 15:58] #3714 closed, assigned to nobody

[2017-02-24 16:17] TooWaBoo opened #3716 "History message conflict between AWB bias and Local LAB"
Local L*A*B* and AWB bias are sharing the same message ID in the branch locallab-dev, file: default.
HISTORY_MSG_444;Local L*a*b*
HISTORY_MSG_444;WB - Temp bias

[2017-02-24 16:33] Desmis commented on #3716
Done :)

[2017-02-24 16:38] TooWaBoo commented on #3716
You are fast as hell. :-)
I close this issue

[2017-02-24 16:38] #3716 closed, assigned to nobody

[2017-02-24 16:40] Partha1b commented on #3678
@ion12 I know what you mean. Real life always intrudes. 🙂

This is a great question and I am wrestling with it. It's how the cmake file is setup and how RT accesses its assets. Without extensive modification to the cmake files, I could not put RT in the Mac app structure elegantly. So, I put the whole RT folder within the resources folder.  Do you have a suggestion for this?

Please note that OSX

[2017-02-24 18:43] Beep6581 commented on #3678
I support committing the required macOS changes once you agree on the best and standards-compliant way of handling them. I'm happy this is taking place!

[2017-02-26 14:38] master-nemo opened #3718 "5.0-r1-gtk2 on win7sp1 32 -- what(): std::bad_alloc"
Hi,

use RawTherapee 5.0-r1-gtk2
get "this application has requested the runtime to terminate it in an unusual way. " when start exporting

my system:
windows 7 sp1 32bit

what I tried to do:
reinstall all VCredists for all versions
reinstall RawTherapee 5.0-r1-gtk2,
trying dev versions
RawTherapee 5.0-r1-gtk2 5.0-r1-gtk2
RawTherapee 5.0-r1-gtk3 5.0-r1-gtk3

nothing helps (

here is what `rawthera

[2017-02-26 14:46] TooWaBoo commented on #3718
...but you are on a 32bit system. One application can't use your whole memory. Even if you install 100GB it won't help.
Look at here https://github.com/Beep6581/RawTherapee/issues/3577 there you'll find some usefull hints.

[2017-02-26 14:50] heckflosse commented on #3718
Independent on the amount of memory in your machine the following is still true for 32bit windows:
https://msdn.microsoft.com/en-us/library/bb613473(VS.85).aspx

[2017-02-26 14:59] master-nemo commented on #3718
Thanks. I already have done 4-Gigabyte Tuning years ago and live with it without problems.
![2017-02-26_17-56-59](https://cloud.githubusercontent.com/assets/1632320/23340777/32ae1780-fc4d-11e6-85a5-51cd4d9f6a62.png)
![rep](https://cloud.githubusercontent.com/assets/1632320/23340783/454d54f0-fc4d-11e6-9259-8d5d04e617c8.jpg)

BTW: I also tried to export with small target size (900px at long side UPD

[2017-02-26 15:17] heckflosse commented on #3718
It seems it crashes at 2 GB which could mean that the 4GB-Tuning is not active. Can you check that please?
Without that, each program can not use more than 2 GB on your system

[2017-02-26 15:34] ion12 commented on #3678
@partha I couldn't figure out a way to separate the RT DATADIR from the BINDIR in the bundle/loader scripts either, but I think the changes necessary to the cmake files are not that extensive, and are an acceptable solution, assuming @Beep6581 agrees of course.

Here are the changes I made to the root CMakeLists.txt file:
[CMakeLists.patch.zip](https://github.com/Beep6581/RawTherapee/files/802023/

[2017-02-26 16:25] gaaned92 commented on #3678
@ion12  if it can help, for windows builds, following the advices from @sguyader and @TooWaBoo, I pack:
[code]
taking 1,45MB

[2017-02-26 17:10] heckflosse commented on #3718
@master-nemo I just tried processing a D800 (36 Mp) file using the 32bit version of rt (exactly the one you used) on my 64bit Windows 7. Worked fine.

[2017-02-26 17:53] Beep6581 commented on #3678
@ion12 it would be much easier to see and discuss changes if instead of zip files you could fork and open a pull request.

It would be good for these changes to make it into 5.1.

[2017-02-26 18:03] Beep6581 commented on #3718
@master-nemo output image size is completely irrelevant to the amount of required memory (in fact enabling resizing could require more memory). It's the input image size and the tools you use which matter.

RawTherapee 5.0-r1-gtk2 5.0-r1-gtk2
RawTherapee 5.0-r1-gtk3 5.0-r1-gtk3

Those are not dev versions. Get dev builds from https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

[2017-02-26 20:29] master-nemo commented on #3718
thanks for answers.

@heckflosse

![2017-02-26_18-22-40](https://cloud.githubusercontent.com/assets/1632320/23343146/dc759c3c-fc77-11e6-99a8-df569797e117.png)
and system can use more
![2017-02-26_22-57-57](https://cloud.githubusercontent.com/assets/1632320/23343165/142a429a-fc78-11e6-9670-63f22dcbd464.png)

But thanks for idea: i'll check if 1 process can use >2GB.

@Beep6581, I agree to you about

[2017-02-26 20:46] heckflosse commented on #3718
@master-nemo

When you export an image in rt all processing before resize, which is the second last step before export, is done at full size of image! Only `post-resize-sharpening` is between `resize` and `save`

[2017-02-26 20:47] ion12 commented on #3678
@Beep6581 I've updated pull request #3706 to include the new suggestions for bundle structure & user folder paths... hope this is comfortable and useful for @Partha1b as well

@gaaned92 I have used your recommendation for icon selection. Not using cursors for now because they don't seem to be required on MacOS (?) Thanks!
I wanted @Partha1b 's input because he did choose to include the entire icon

[2017-02-26 23:23] master-nemo commented on #3718
Thansk all for answers: indeed `increaseuserva` option was lost on last reinstall. sorry for bothering you for nothing.

[2017-02-26 23:48] heckflosse commented on #3718
@master-nemo Thanks for the feedback :+1: Greatly appreciated!
Can we close the issue?

[2017-02-26 23:59] master-nemo commented on #3718
@heckflosse, I think it would be right (to close issue)
thanks again

[2017-02-27 00:02] #3718 closed, assigned to nobody

[2017-02-27 00:15] Hombre57 commented on #3664
English version updated, will do the French version tomorrow.

[2017-03-01 02:28] heckflosse opened #3721 "Cleanup and Speedup for dcb demosaic"
I created a [new branch](https://github.com/Beep6581/RawTherapee/tree/dcbcleanup) for work on dcb demosaic

As first step I made dcb demosaic an own compilation unit.
Cleanups and speedups follow soon.

@cuniek Please keep an eye on my changes to your code

[2017-03-01 15:26] Partha1b commented on #3678
@ion12 & @Beep6581 Sorry, I've been very busy with other stuff. I'll look into what you proposed and get back to you.

[2017-03-01 16:23] Partha1b commented on #3678
@Beep6581 & @ion12 Can we create a fork so that we make changes to that fork and merge back when we're satisfied?

[2017-03-01 17:07] Beep6581 commented on #3678
@Partha1b absolutely!

[2017-03-01 21:25] heckflosse commented on #3721
I just pushed to dcbcleanup branch

1. some code cleanups
2. 3% faster than before
3. less memory usage

To be continued...

[2017-03-02 23:21] SarenT opened #3722 "Providing RAW file via standard input"
Hi,

For a small project of mine, I will need to use rawtherapee in the background as a RAW to TIFF converter (command call). As there is going to a lot of data to be processed, I would like to avoid disk IO. Therefore, I would like to use pipes to transfer the captured image from gphoto2 to rawtherapee and from there via standard output to my application. I would like to submit this as a feature

[2017-03-02 23:46] heckflosse commented on #3722
Hi, I know this is not an answer to your question but as you have to process a lot of data I would recommend using a more recent version of rawtherapee. 4.2.0 is really old. 5.0 is a lot faster and more stable too.

[2017-03-03 14:49] harshula opened #3723 "Colour-target shots from Fujifilm x100s"
The following files:
fujifilm-x100s-daylight-DSCF9505.RAF
fujifilm-x100s-tungsten-DSCF9524.RAF

are uploaded to:
https://filebin.net/85ils8y2u8oswt7p

They are licensed under CC0 license (https://creativecommons.org/about/cc0)

tungsten: 75 watt light bulb ~2.4m distance from the colour chart

[2017-03-03 18:32] michaelezra opened #3724 "Softproofing - viewing modes"
I recently tried soft-proofing in Photoshop and found shortcomings that likely can be addressed in RT.
Soft-proofing allows to visualize what the printed output will be. This allows to fine tune the image via adjustment layers (curves, etc) to compensate for the simple ICC conversion inefficiencies. However, proofing can be only turned on and off, while all adjustment layers are still enabled. **S

[2017-03-03 22:15] Beep6581 commented on #3724
Can be done using snapshots.

The problem with Before|After is that Before does not use the monitor color profile... issue #3090.

[2017-03-04 00:38] heckflosse commented on #3229
@sguyader @gaaned92 Because GFX 50S will be available soon, I merged the support for GFX 50S compressed files to dev.

Can you please make new windows builds? Thank you :+1:

[2017-03-04 14:00] gaaned92 commented on #3229
RawTherapee_dev_5.0-r1-gtk3-82-ga42f5f4_WinVista_64 uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-03-04 16:24] heckflosse commented on #3229
@gaaned92 Thank you :+1:

[2017-03-04 19:53] sguyader commented on #3229
A gtk+ 3.18 build (RawTherapee_5.0-r1-gtk3-82-ga42f5f4_WinVista_64_gtk3.18) can found here: https://filebin.net/gn1g1bns1f5j2s9m

It's ahead of @gaaned92 's and includes the latest TooWaBlue theme version.

Are the Gtk+ 3.18 builds still needed?

[2017-03-04 23:00] heckflosse commented on #3229
@sguyader Sébastien, thank you for the build. To be honest, I don't know whether Gtk+ 3.18 builds are still needed as my own builds are also Gtk+ 3.18 ;)

[2017-03-05 09:12] agriggio opened #3727 "Problem in finding processing profiles with the same name as their containing directory"
It seems there is an issue in the logic that finds processing profiles, when
the profile name (i.e. the file name without extension) is the same as the
name of the parent directory.

To reproduce: set e.g. the bundled `Pop/Pop` profile as default for RAW images
(preferences -> image processing), and restart RT. At startup, the following
appears:

![rt-error](https://cloud.githubusercontent.com/ass

[2017-03-05 10:50] gaaned92 commented on #3727
Cannot reproduce on W10 using pop/pop.pp3 as default for raw image.
[code]

[2017-03-05 11:48] TooWaBoo commented on #3727
Confirmed, Windows 10 x64

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/23586991/093d16a8-01a2-11e7-97a3-d17ee5f73371.PNG)

[code]

[2017-03-05 12:51] gaaned92 commented on #3727
@agriggio @TooWaBoo
The problem is that the first name in the list ist not a profile name but the name of the list ( name of the subdir containing the profiles). It should not be selectable in the preferences as it doesn't identify a profile. Could you file a bug report?
But if you have in the list (pop for instance) a pop.pp3 file, its ok.

[2017-03-05 12:56] TooWaBoo commented on #3727
I suggest to remove this **non file entry** from the list. It's only confusing.

[2017-03-05 12:58] heckflosse commented on #3727
@gaaned92 good find :+1: Imho it should not be selectable in profile selector in general, not only in preferences.

[2017-03-05 13:33] heckflosse commented on #3727
I found the [culprit](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/profilestore.cc#L574)

[2017-03-05 13:41] heckflosse commented on #3727
Suggested workaround...
[code]
Can someone on > gkt3.18 please test.

[2017-03-05 13:48] heckflosse commented on #3727
I forgot to mention that the patch from last post was made on `dynamicprofile` branch.

[2017-03-05 14:09] TooWaBoo commented on #3727
@heckflosse

What kind of bug is it in Gtk3.18? Maybe it's obsolete in Gtk3.18 too.

[2017-03-05 14:15] Beep6581 commented on #3727
As I remember it, the first entry in all context menu sub-folders was added there a year or two ago to work around some GTK+ bug. If it stays, it would be great if it was disabled/not-selectable/grayed-out.

[2017-03-05 14:37] heckflosse commented on #3727
@TooWaBoo It's a crash bug when selection profiles. I tested on Gtk3.18 and it crashes without that hack

[2017-03-05 14:46] gaaned92 commented on #3727
@heckflosse patch applied on last dev. The subfolder name doesn't appear in preferences nor in profiles selection.
 OK on gtk3.22

[2017-03-05 14:48] Beep6581 commented on #2623
Closing because messy.

[2017-03-05 14:48] #2623 closed

[2017-03-05 14:50] Beep6581 opened #3728 "Support Exif and XMP rating tag"
RawTherapee could speak with other contemporary software regarding photo ratings if it used the `xmp:Rating` tag.

The XMP specification part 1 (April 2012) has this to say about `xmp:Rating`:

Depends on #463.

[2017-03-05 15:02] heckflosse commented on #3727
@gaaned92 Thanks for testing :+1:
I will try to find a solution to disable the rows for gtk 3.18

[2017-03-05 15:21] Beep6581 commented on #3727
Patch makes sub-folder headers disappear correctly using GTK+ 3.22.5.

[2017-03-05 15:42] Beep6581 commented on #3727
There has always been a small usability issue with the Film Simulation combobox:

1. Set up RT to use the RT Film Simulation Collection http://rawpedia.rawtherapee.com/Film_Simulation
2. Open a photo, enable the Film Simulation tool and select Color > Agfa > Agfa Precisa 100
3. Focus remains on the film simulation combobox. Click the "up" arrow. The combobox now shows "Agfa", which is the title of

[2017-03-05 16:49] heckflosse commented on #3727
There's something strange: Using gtk3.18 without the [hack](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/profilestore.cc#L574) I get an immediate crash when I click on profile selector.
But for HaldCLUT selector which is basically the same but filled by [different code](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/filmsimulation.cc#L218) without the hack I got no crash.

I woul

[2017-03-05 16:52] vilmantasr opened #3729 "Sharp mask creates artifacts"
Sharp mask creates artifacts. Camera Pentax K-5II, RawTherapee version: 5.0-r1-gtk3-82-ga42f5f4 (compiled from git, Windows 10 64bit.)

Sharp mask on
![2017-03-05 18_41_55-rawtherapee 5 0-r1-gtk3-82-ga42f5f4 - c__users_vilma_pictures_2017_2017-03-04_im](https://cloud.githubusercontent.com/assets/8343756/23589327/954fe3ba-01d3-11e7-9783-a9c690afb6df.png)

Sharp mask off
![2017-03-05 18_42_21-rawthe

[2017-03-05 17:43] Beep6581 commented on #3729
Duplicate of #837

[2017-03-05 17:43] #3729 closed, assigned to nobody

[2017-03-05 19:34] heckflosse commented on #3727
@agriggio Can you include my patch from above into your branch? Though it doesn't solve the issue with profile selection completely for gtk 3.18, it solves it for > 3.18 and makes it less confusing for = 3.18

Ingo

[2017-03-05 20:29] agriggio commented on #3727
sure! I'll integrate later tonight

[2017-03-05 20:34] heckflosse commented on #3727
@agriggio Great, thank you :+1:

[2017-03-05 23:04] Blizzara opened #3730 "Shadows & highlights tool causing black patches (with white edges) in dark areas when Sharp mask is disabled and large radius is used"
Hi,

Using the shadows & highlights tool causes these weird patches on images with high contrasts and dark areas. The issue is visible only in the final jpg (or png, didn't try tiff) output, not on the preview. See images below for an example, files (.CR2 included) also available [here](https://avo.kapsi.fi/IMG_1510.zip). Toggling S&H on/off should toggle the bug also.

![S&H ON](https://cloud.git

[2017-03-05 23:06] heckflosse commented on #3730
Issue confirmed!

[2017-03-05 23:34] heckflosse commented on #3730
@Blizzara It's clearly an Issue with using large gauss sigma (radius). Should be solvable. I will take a deeper look tomorrow!

[2017-03-06 01:27] heckflosse commented on #3727
@Beep6581 Please create a new Issue for the HalfClut selection `bug`!

[2017-03-06 07:21] Beep6581 opened #3731 "Film Simulation combobox shows category heading"
There has always been a small usability issue with the Film Simulation combobox:

1. Set up RT to use the RT Film Simulation Collection http://rawpedia.rawtherapee.com/Film_Simulation
2. Open a photo, enable the Film Simulation tool and select Color > Agfa > Agfa Precisa 100
3. Focus remains on the film simulation combobox. Click the "up" arrow. The combobox now shows "Agfa", which is the title of

[2017-03-06 07:21] Beep6581 commented on #3727
@heckflosse sure, issue #3731 opened.

[2017-03-06 11:42] ff2000 opened #3732 "Mimetype issues with panasonic RW2"
Dolphin didn't want to open the raws from my brand new Panasonic G81. Tracked it down to different naming of the rw2 mimtypes.
freedesktops shared-mime-info specifies it as "image/x-panasonic-raw2":
https://cgit.freedesktop.org/xdg/shared-mime-info/tree/freedesktop.org.xml.in#n4659
while Rawtherapee specifies "image/x-panasonic-rw2":
https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/icons/ra

[2017-03-06 13:57] heckflosse commented on #3732
Exiv2 also specifies `image/x-panasonic-rw2`
http://dev.exiv2.org/projects/exiv2/wiki/Supported_image_formats

[2017-03-06 14:28] ff2000 commented on #3732
Thx, so this is an issue in shared-mime-info. Will create an issue there ASAP.

[2017-03-06 14:46] TooWaBoo opened #3733 "RawTherapee theme window decoration issue"
The client side decoration of the RawTherapee theme has an issue by displaying on a dark background.
The titlebar has the same color as the background. I've made some changes to the theme (copied from the TooWaBoo theme). If you like them, you can take it. :-)
I also centered the labels of the OK, Cancel ... buttons.

[RawTherapee-mod-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/821

[2017-03-06 15:08] #3733 closed, assigned to nobody

[2017-03-06 15:08] Beep6581 commented on #3733
Thank you @TooWaBoo . Looks fine in Linux, merged.

[2017-03-06 17:55] Beep6581 commented on #3691
@Hombre57 how is progress with this, should we move it to 5.2?

[2017-03-06 19:37] michaelezra commented on #3724
Does snapshot include enabling/disabling soft-proofing?
Before/After would be ideal method of implementation of course.

[2017-03-06 19:37] Blizzara commented on #3730
ff5919b seems to fix the problem - I tested four previously buggy images, and could not reproduce the artifacts anymore. Thanks for a very quick fix!
-Arttu

[2017-03-06 20:49] Beep6581 opened #3736 "Documentation of dynamic processing profiles"
Hello @agriggio

Thank you very much for the new feature!
Now that the code is committed, documentation needs to be written for it. Could you sign up for a RawPedia account, then let me know so that I can give you edit permissions? Alternatively you could describe it here and I will help get it up onto RawPedia, though it would be easier if we did it there straight away.

[2017-03-06 20:56] agriggio commented on #3736
@Beep6581 I just signed up (username `agriggio`). I need to wait for the account to be created I suppose, right?

[2017-03-06 20:58] Beep6581 commented on #3736
Correct.
Your account is now created and you have edit permissions. Let me know if you need help.

[2017-03-06 20:59] Beep6581 commented on #3724
Printer and monitor color profiles and rendering intents are not part of snapshots.

[2017-03-06 21:01] agriggio commented on #3736
Thanks. It might take a couple of days before I will write it though - I hope it's not a problem

[2017-03-06 21:24] heckflosse commented on #3730
@Blizzara Thanks for testing and feedback :+1:

[2017-03-06 21:35] Hombre57 commented on #3691
Almost ready. Working on it tomorrow, should be ok this w.e.. It's up to you to move it to 5.2 if you want, I don't mind.

[2017-03-06 21:39] michaelezra commented on #3724
Thats what i thought, so snapshots are not suitable

[2017-03-06 21:45] Beep6581 commented on #3736
Not at all! It came to mind when I wanted to write about it on G+ but didn't know what to write, and am busy with some other things at the moment so I won't have time to learn it. Could you ~summarize~ advertize here in a short paragraph what it lets the user do?

[2017-03-06 22:07] Beep6581 commented on #2710
This is still valid.

[2017-03-06 22:52] Beep6581 opened #3737 "Save Immediately filename not specified"
Found this while testing the shartifacts patch but also reproduced in dev:

1. Open a photo, this one was in `/tmp/IMG_1510/IMG_1510.CR2`
2. Ctrl+s, I tried to save to `/tmp`
3. Ok

I get a popup which says "Filename unspecified!" even though the filename which I haven't touched is set to `IMG_1510`. If I type anything in the filename, e.g. add a "b" and click Ok, it saves.
https://i.imgur.com/HgM

[2017-03-06 22:55] Beep6581 commented on #3730
Reproduced in raw from first comment and in one of my concert shots, and confirmed that ff5919be4abbcdd4d1d29125bb2b8f424c880af1 fixes it.

[2017-03-06 23:09] agriggio commented on #3736
For now, would this (almost) copy-paste from pixls.us do? (slightly edited now)

The idea of the "Dynamic" profile builder is to allow you to define some rules
(based on the EXIF metadata of the picture, like camera name, ISO, etc.) for
automatically applying a sequence of (partial) processing profiles the first
time you edit a picture with RT.

There is a new mode, "(Dynamic)", to the "Default Pr

[2017-03-06 23:11] #3730 closed, assigned to heckflosse

[2017-03-06 23:11] heckflosse commented on #3730
@Beep6581 Thanks for testing :+1:

[2017-03-06 23:20] Beep6581 commented on #3730
Thanks for patching :+1: :+1:

[2017-03-06 23:27] Beep6581 commented on #3736
@agriggio great, here is the post: https://plus.google.com/+rawtherapee/posts/7u9a8uAmYV3
Do you use g+? If so, I could tag you in the post.

[2017-03-07 07:30] agriggio commented on #3736
I just subscribed, but I'm not really into social networks to be honest... :-)

[2017-03-07 10:11] ff2000 commented on #3732
Fixed in shared-mime-info:
https://bugs.freedesktop.org/show_bug.cgi?id=100078

[2017-03-07 10:11] #3732 closed, assigned to nobody

[2017-03-07 11:05] Floessie commented on #3737
Confirmed. I'll have a look...

[2017-03-07 13:28] Floessie commented on #3737
@Beep6581 Here is a patch for you to test and commit (as I won't have the chance to commit tonight - afk). It changes the workaround logic concerning selected folders in the file list, streamlines the "double extension" warning, and won't accept `.jpe` as a JPEG extension anymore (makes use of @FelixJongleur42's `hasJpegExtension()`). I hope, it solves all of your issues.

[code]

Best,
Flössie

[2017-03-07 19:50] Floessie commented on #3732
@ff2000 Great! Especially that you found the exiv2 link! :+1:

[2017-03-08 00:01] heckflosse opened #3739 "Improve handling of checkButtons in code"
This is a request to get help from @Floessie,  @Hombre57 and also from @agriggio

Let me explain:

When a checkbutton is used in gui (and there currently are a lot of checkbuttons for pixelshift code) we always have a connector.

For example in `rtgui/rawcacorrection.h` we have
`Gtk::CheckButton* caAutocorrect;`
and
`sigc::connection caacsconn;`

And in `rtgui/rawcacorrection.cc` we have
`caacscon

[2017-03-08 00:14] Hombre57 commented on #3739
`rtgui/adjuster.h` define a class that handle all aspect of the sliders. So I'd rather create dedicated `rtgui/checkbox.h|cc` files to do the same with checkboxs, because it will have to handle the GUI for the Batch Tool Panel too.

If it doesn't answer your question, could you explain better ?

[2017-03-08 00:21] Beep6581 commented on #3737
Great, thank you @Floessie. I wasn't able to test today but I will test it tomorrow.

[2017-03-08 01:01] heckflosse commented on #3739
@Hombre57 Let me expain it better :)

Currently I made this to get rid of the bools which are needed to handle checkButtons correctly:
guiutils.h:
[code]

And then in e.g. rawcacorrection.cc instead of
[code]

I can use
[code]
This way I don't have to declare a boolean for each checkButton, which simplifies the code.

Now I want to do similar with the signal connectors for the checkButtons

[2017-03-08 07:57] Floessie commented on #3739
@heckflosse Am I right, that your real question is about passing the action function to `signal_toggled.connect()`? I'd suggest to call a [`std::function`](http://en.cppreference.com/w/cpp/utility/functional/function) via a `sigc::mem_fun` proxy. Maybe the proxy could be omitted [if the return type is `void`](http://stackoverflow.com/questions/13805883/use-lambda-in-connection-with-sigc-library),

[2017-03-08 09:09] agriggio commented on #3739
thanks for involving me :-) I'll have a look at the code and think about it. To be honest, though, the dynamic profile GUI was my first "serious" thing with GTK, so I doubt I can be of much help... I'm definitely interested in the conversation however!

[2017-03-08 15:20] agriggio opened #3741 "segfault on RAF files from Fuji S5 pro"
The RAF file can be taken from here:
https://discuss.pixls.us/t/rawtherapee-for-raf-files-of-fuji-s5-pro/3458/8

The pp3 is below. There is a crash due to some NaN float value in `dirpyr_equalizer.cc`. I suspect a division by zero, but that is as far as I can go regarding that code.

GIT version `06137b02be947fc6ee068069fe6e9f4f1f515170` (head of `dev`). Other info:

[code]

[_DSF3083.RAF.pp3.txt]

[2017-03-08 15:33] agriggio commented on #3741
Actually, there are many other operations that make RT crash on this file... just playing with various tools (tried CA correction, wavelet, noise reduction) will trigger a segfault very quickly

[2017-03-08 15:36] heckflosse commented on #3741
I tried but can not reproduce the crashes using the raf and the attached pp3. Also tried CA correction etc..
No crash here on Win7/64

[2017-03-08 15:37] agriggio commented on #3741
I'll try to rebuild from scratch, with a different compiler

[2017-03-08 15:55] agriggio commented on #3741
Tried again with the following:
[code]

The crash is still there. To reproduce:

- delete the pp3 sidecar of the RAF file, and make sure that the default
  processing profile for RAW files is "(Neutral)" (just to be safe)

- open the RAF file with RT

- enable "Contrast by detail levels"

- close RT

- reopen RT in "file browser mode"

- click on the thumbnail of the RAF

I get a segfault immediat

[2017-03-08 16:28] heckflosse commented on #3741
Still not reproducible on my system :(

[2017-03-08 16:32] agriggio commented on #3741
I am on Linux mint 18.1 (KDE version, but not sure if it matters). Maybe you can try on a VM?

[2017-03-08 16:44] agriggio opened #3742 "Bad artifacts (white pixels) with the attached pp3 and ARW"
RAW file from here:
https://pixls-discuss.s3.amazonaws.com/original/2X/f/fe651efcce1684b4f1d8f3cda2d65d821752f24d.ARW

PP3 in attach (adjust the path to the "FUJI Provia 100 Generic" film simulation, and take the lens correction profile from Adobe DNG converter). The result is in the attached jpg.

Bisect says the culprit is 6e7712831a5e146aa694165cc488a3b7230c669f

![dsc03922-4](https://cloud.git

[2017-03-08 17:07] Floessie commented on #3741
Nor here.

[code]

[2017-03-08 17:14] Floessie commented on #3742
@agriggio Alberto, as you are already at it, could you bisect it further?

1. Replace all new `constexpr` with `inline` again.
2. Make those functions depending on `min/max()` use `std::min/max()`.
3. Change `min/max()` to the [older](https://github.com/Beep6581/RawTherapee/commit/6e7712831a5e146aa694165cc488a3b7230c669f#diff-557116a6e0a898ee051eb7356bded351L58) recursive form.

You should find th

[2017-03-08 18:39] heckflosse commented on #3742
I guess the real cuprit is [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/curves.h#L998). For dark parts we get a division by zero.

[2017-03-08 18:42] Floessie commented on #3742
That would also be a good place for the new `constexpr max()`. :wink:

[2017-03-08 18:47] heckflosse commented on #3742
Using std::min and std::max in `LIM()` function fixes it...

[2017-03-08 18:52] Floessie commented on #3742
@heckflosse That's strange. It's basically the [default](http://en.cppreference.com/w/cpp/algorithm/min) implementation without the braces. Precedence issue (although I'm pretty sure those braces are not needed)?

[2017-03-08 18:53] Floessie commented on #3742
My GCC 6.3 libstdc++ has this:
[code]

[2017-03-08 19:02] Floessie commented on #3742
@heckflosse Does this fix it?

[code]

[2017-03-08 19:04] heckflosse commented on #3742
@Floessie 0.0 / 0.0 returns a nan.

if a is nan then
`return b < a ? b : a` should return a
while
`return a < b ? a : b` should return b

or vice versa?

[2017-03-08 19:05] heckflosse commented on #3742
@Floessie building...

[2017-03-08 19:12] heckflosse commented on #3742
@Floessie yes, that fixes it

[2017-03-08 19:15] Floessie commented on #3742
@heckflosse Are those braces needed? I guess not...

I'll commit after your answer.

[2017-03-08 19:17] heckflosse commented on #3742
@agriggio @Floessie

maybe we should also test and probably apply this patch?

[code]

[2017-03-08 19:18] heckflosse commented on #3742
@Floessie braces are not needed

[2017-03-08 19:19] Floessie commented on #3742
Don't know by heart. Maybe I'll do some research tomorrow.

Okay, I'll commit both now!

[2017-03-08 19:24] heckflosse commented on #3742
:+1:

[2017-03-08 19:27] Floessie commented on #3742
@agriggio Please test and close.

[2017-03-08 20:38] agriggio commented on #3741
I tried on my laptop at home, and I can't reproduce it either. Must have something to do with specific library version and/or compilation flags (I'm using -march=native on both, but the machines are quite different).
I'll dig deeper as soon as possible.

[2017-03-08 22:17] agriggio commented on #3736
I've created a bare-bones page, see
http://rawpedia.rawtherapee.com/Dynamic_processing_profiles
Feel free to edit for content, style and formatting :-)
(or if you want me to elaborate on something, just ask and I'll see what I can do)

[2017-03-08 22:22] ion12 commented on #3678
@Partha1b will you be making a new fork or do you want me to add you as a collaborator to the fork I have already made, maybe make a branch specifically for macOS packaging?
Not sure if you are just busy or if you are waiting for some response, let me know how I can help and keep @Beep6581 updated as well? :)

[2017-03-08 22:27] Beep6581 commented on #3737
Patch tested and fix confirmed. Thank you. Would you like to commit it @Floessie ?

[2017-03-08 22:30] agriggio commented on #3742
works now, so closing

[2017-03-08 22:30] #3742 closed, assigned to nobody

[2017-03-08 22:30] Beep6581 commented on #3737
It also seems to have fixed an annoying bug from long ago where sometimes the filename would disappear and there would only be a dot in its place - probably when ctrl+s + cancel + ctrl+s again.

[2017-03-08 22:32] Partha1b commented on #3678
@ion12 & @Beep6581 Apologies since I've very busy with other stuff and as usual, real life intrudes.

After I asked if I could fork, I cloned the latest master and began looking into how to make it compatible with how Mac apps are usually set up.  I am able to have the settings set to ~/Library/Application Support/Rawtherapee within options.cc and so we're good there.

@ion12 I am comfortable with

[2017-03-08 22:34] Beep6581 commented on #3742
Bug confirmed and fix confirmed.

[2017-03-08 22:43] Beep6581 commented on #3741
I did not manage to reproduce it.
[code]

[2017-03-08 22:48] ion12 commented on #3678
@Partha1b could you point out where in the code is the issue with the camconst.json file path?

[2017-03-08 22:51] agriggio commented on #3741
Update. Now I get the crash also at home, when processing the image (from the batch queue). Using the pp3 in attach.
I have a `Intel(R) Core(TM)2 Duo CPU     P8400  @ 2.26GHz`
[bad.pp3.txt](https://github.com/Beep6581/RawTherapee/files/829192/bad.pp3.txt)

[2017-03-08 22:59] heckflosse commented on #3741
I processed the image in queue but it did not crash. Can you provide a `bt full` please?

[2017-03-08 23:02] Partha1b commented on #3678
@ion12 In file RawTherapee/rtengine/camconst.cc Line 699 (in my case):
[code]
And the location is fixed due to RawTherapee/rtengine/CMakeLists.txt Line 45:
[code]
And the datadir is required to have an absolute path unless you are building a bundle. Building a bundle means all files are dumped into the install-prefix folder.

[2017-03-08 23:09] Beep6581 commented on #3678
@Partha1b

`master` is long dead. Use the `dev` branch.

[2017-03-08 23:10] agriggio commented on #3741
this time it did not crash in the queue, but it did crash when opening a preview window in the editor. Here I only have a release build, but still I got the following bt:

[code]

I'll try to provide more info tomorrow, from my work machine.

[2017-03-08 23:12] ion12 commented on #3678
in
RawTherapee/CMakeLists.txt
lines 115-118 :

[code]

Are you actually building and having issues with camconst file? Or am I misunderstanding something?

[2017-03-08 23:16] Partha1b commented on #3678
@Beep6581 Sorry, I meant dev.

[2017-03-08 23:21] Partha1b commented on #3678
I don't see your comment on github, @ion12?? :(

Anyway, yes, you misunderstood.

I am building by removing the bundle and absolute path requirements in the
CMakeList.txt file.

[2017-03-08 23:22] ion12 commented on #3678
@Partha1b sorry...

RawTherapee/CMakeLists.txt
lines 115-118

[code]

why remove this?

and there should be a camconst.json in the DATADIR, and a second camconst.json can be created by the user and placed in the user config dir next to the user option file.
Does this not work?

[2017-03-08 23:40] heckflosse commented on #3741
@agriggio Though this is already a hint, a bt from debug build would show more :+1:

[2017-03-08 23:47] Partha1b commented on #3678
@ion12 If I remove APPLE from above, then we can get bin/rawtherapee and share/ with the data. Now, I can do the following: bindir=./MacOS and datadir=./Resources/ except for the requirement that without bundle these folders have to have absolute paths.

[2017-03-09 00:05] ion12 commented on #3678
@Partha1b did you look at the changes I made to the cmake files and original build scripts?
https://github.com/Beep6581/RawTherapee/pull/3706/files
This works without removing the bundle option.
If there is an advantage to your method than by all means, I admit I don't know what is better.. maybe @Beep6581 or someone else can advise :)

(I just noticed that I accidently left the CreateDmg function

[2017-03-09 00:33] Partha1b commented on #3678
@ion12 Yes, your method works fine. I should have looked at it more closely. 🙁

Only 2 things left to fix.
1. Create the settings locations within the program.
To do this, the following should work. I am sure @Beep6581 could probably do better with the code:
[code]
2. Would you be opposed to putting all the support libs in the Framework folder? If not, we can make the appropriate changes in your s

[2017-03-09 02:34] ion12 commented on #3678
@Partha1b
1. I just re-built and double checked and as far as I can tell, the detection of the config/cache folder under "~/Library/Application Support/RawTherapee" is working fine with the changes I made without the need to make further changes in the options.cc file.
Is it possible that the options.cc changes were necessary because you disabled building as bundle?
Would be great if you can confi

[2017-03-09 07:12] Floessie commented on #3737
@Beep6581

Sure. I'll do so tonight.

That's inexplicable, but even better so. :smile:

[2017-03-09 08:32] agriggio commented on #3741
A more informative backtrace. Got on:

[code]
[bt.txt](https://github.com/Beep6581/RawTherapee/files/830203/bt.txt)

EDIT: the CPU is an `Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz`

[2017-03-09 09:05] Floessie commented on #3741
@heckflosse Seems to be pretty much the same as #3410.

[2017-03-09 11:43] Partha1b commented on #3678
@ion12

Is it possible that the options.cc changes were necessary because you disabled building as bundle?
Would be great if you can confirm.

Yes this works of course. That's my old solution. I was intending to have a solution within the code where the folders would be created if they didn't exist.

I am OK with your 2nd solution as well. We can provide all the support libs within the Frameworks

[2017-03-09 11:50] heckflosse commented on #3741
@agriggio Can you reproduce the crash only with this Fuji file? If yes, then it's most likely a bug in the fuji specific code in rawimagesource.cc
I'm looking...

[2017-03-09 12:16] Beep6581 commented on #3678
I'm willing to help how I can, but I can't advise on macOS things as I'm unfamiliar with its structure, requirements and best practices.

I'm also preparing to leave to Uganda for a week on Sunday, so I won't be around until the ~19th.

[2017-03-09 12:25] agriggio commented on #3741
@heckflosse so far, I've seen it only on this file, yes.

[2017-03-09 12:28] ion12 commented on #3678
@Partha1b I'll rename "lib" to "Frameworks" then, sure :) I won't have time today but will do it by tomorrow, and then @Beep6581 you can merge if all lookes good to you.
but -
@Partha1b @Beep6581 If we are merging these fixes to the original scripts do you think you could provide some insights in terms of removing all the obsolete code in them?
The original packaging scripts work very well as a ba

[2017-03-09 12:28] agriggio commented on #3741
BTW, let me know if I can help in any way

[2017-03-09 12:33] Beep6581 commented on #3612
No progress, closing.

[2017-03-09 12:33] #3612 closed

[2017-03-09 12:50] heckflosse commented on #3741
I will do. Currently I try to understand the fuji-S specific code...

[2017-03-09 12:54] agriggio commented on #3741
@heckflosse I just tried converting the RAF to DNG with the Adobe DNG converter (version 9.8.0.692, used through wine). I get the crash also on the DNG.

[2017-03-09 12:58] heckflosse commented on #3741
Maybe the DNG runs through the same code.
Can you place a print [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L822) to check?

[2017-03-09 13:04] agriggio commented on #3741
@heckflosse yes, you are right. I get the print twice before the segfault

[2017-03-09 13:10] Floessie commented on #3741
@heckflosse Wouldn't something like this fix the SEGV in that place once and for all?

[code]

[2017-03-09 13:16] agriggio commented on #3741
@Floessie I tried the patch, but I still get a segfault. A different BT now.
[bt2.txt](https://github.com/Beep6581/RawTherapee/files/830919/bt2.txt)

[2017-03-09 13:18] Beep6581 commented on #3661
@Kakupakat thank you, DCP added.

[2017-03-09 13:19] #3661 closed, assigned to Beep6581

[2017-03-09 13:22] Floessie commented on #3741
@agriggio Good catch: Now we see the NaN used as index in another place. That might Ingo help to track down the source of it...

[2017-03-09 13:24] Beep6581 commented on #3662
Thank you @Kakupakat, DCP added.

[2017-03-09 13:24] #3662 closed, assigned to Beep6581

[2017-03-09 13:25] Beep6581 commented on #3662
[code]

[2017-03-09 13:27] heckflosse commented on #3741
@agriggio thanks for checking. These super-ccd files are really strange. For example the raw data has almost square dimensions (3583 x 3584 pixels) while the final output is 3:2 (4281 x 2871 pixels).
I tend to ignore the crashes atm in case they happen only with this super-ccd files.
[Here's](https://filebin.net/1b249e8lz58m3jmo) another file from S5Pro. Can you test whether that crashes also?

[2017-03-09 13:28] Beep6581 commented on #3723
Thank you @harshula, DCP added.

[code]

[2017-03-09 13:30] #3723 closed, assigned to Beep6581

[2017-03-09 13:35] Floessie commented on #3741
@heckflosse

Sure? Not every OOB access is a security issue, but who really knows?

@agriggio Updated patch:
[code]

[2017-03-09 13:37] agriggio commented on #3741
@heckflosse I don't get a segfault with the new RAF. I'll test your patch now

[2017-03-09 13:41] agriggio commented on #3741
@Floessie sorry, I noticed now the patch is from you :-)

[2017-03-09 13:49] heckflosse commented on #3741
@agriggio Do you also get this [wrong left border](https://filebin.net/1b249e8lz58m3jmo/fujicrash.png) in the thumb?

[2017-03-09 13:51] heckflosse commented on #3741
@Floessie I often thought about fixing this part of code too. But that would be fixing the symptoms, not the source of the evil.

[2017-03-09 13:54] agriggio commented on #3741
@Floessie no crash after your new patch :+1:

[2017-03-09 13:56] agriggio commented on #3741
@heckflosse yes, I see that too.

[2017-03-09 13:59] Floessie commented on #3741
@heckflosse

Absolutely! But if somebody evil uses RT as his or her attack vector, this [won't make up for good PR](https://imagetragick.com/), especially regarding automated tasks with the new [`rawtherapee-cli`](https://github.com/Beep6581/RawTherapee/issues/3691)...

[2017-03-09 13:59] agriggio commented on #3741
@Floessie I assume it is ok for `operator[]` to still return NaN if `index` is NaN, right?

[2017-03-09 13:59] heckflosse commented on #3741
@agriggio @Floessie As I wrote above, I also thought about making the checks from above patch. But I did not. If I did, I wouldn't have been able to find the sources of many bugs because they get shadowed by this checks.

[2017-03-09 14:02] Floessie commented on #3741
@agriggio

Yep, so we can catch the next problem.

@heckflosse

What about `feenableexcept(FE_DIVBYZERO | FE_INVALID | FE_OVERFLOW)`? Could be turned on in debug mode.

[2017-03-09 14:04] agriggio commented on #3741
@heckflosse could putting an `assert(isfinite(x))` (or even a weaker `!isnan(x)`) be acceptable?

[2017-03-09 14:05] heckflosse commented on #3741
I will try to find the source of the bug now...

[2017-03-09 14:06] heckflosse commented on #3741
@agriggio Isn't assert only active in debug builds?

[2017-03-09 14:07] agriggio commented on #3741
@heckflosse yes, that was the point... to ease debugging

[2017-03-09 14:11] Floessie commented on #3741
Isn't a "signaling NaN" mode best? No need for `isnan()` etc. and help from the FPU.

[2017-03-09 14:11] heckflosse commented on #3741
@agriggio I'm absolutely not against an assert!
But I will try to find the source of the bug because LUT access maybe performance critical and heavily used.
At least we should check for impact on performance if we add new checks there.

[2017-03-09 14:15] heckflosse commented on #3741
@Floessie wouldn't signaling NaN break the parts of code (especially SSE code) where we allow NaN for intermediate calculations?

[2017-03-09 14:17] agriggio commented on #3741
@Floessie trapping NaNs could do, but I understood from @heckflosse that sometimes they are expected.
@heckflosse `assert` is expanded to nothing in release mode, so no performance penalty

[2017-03-09 14:19] Floessie commented on #3741
@heckflosse @agriggio Ah, I forgot about that. Sorry for the noise...

[2017-03-09 14:19] heckflosse commented on #3741
@agriggio Yes, I know. For that reason I wrote `absolutely NOT against` :)

[2017-03-09 14:22] Floessie commented on #3741
... but we would still be wide open for security issues.

[2017-03-09 14:24] heckflosse commented on #3741
@agriggio Let's analyze your last bt full.

I crashes at the access to a LUT because of a NaN. That NaN came from a calculation of rgb values which all are NaN. This rgb values came from the loop above (line 3411 of improcfun.cc). In that loop the rgb values also have been used to access a LUT but we didn't get a crash there. That means the NaN must be inisde the hltonecurve LUT which is filled in

[2017-03-09 14:34] heckflosse commented on #3741
My conclusion from last post was incomplete. Still searching

[2017-03-09 14:35] heckflosse commented on #3741
I will valgrind that case now... Will take a while

[2017-03-09 14:35] agriggio commented on #3741
@heckflosse I believe converting a NaN to int is undefined behaviour. So, might it be that you get back an integer which is still within the LUT bounds even if the input is a NaN? In that case, the error could come from somewhere else completely...

[2017-03-09 14:48] agriggio commented on #3741
Some example code (*please* take this in the right way, I'm not trying to be the "smartass" :grin:, I just want to provide some more evidence...)

[code]

On my machine:

[code]

[2017-03-09 14:49] heckflosse commented on #3741
@agriggio Do you mean when accessing the LUT? It's accessed with a float index. For that reason it crashes insite LUT.h when the index is a NaN. But it still can come from CurveFactory::hlcurve (exp_scale, comp, hlrange, r) or from somewhere else. I guess it's uninitialized memory in processing of the fuji files.
That often has been the case in past when crashed can be reproduced on Linux but not

[2017-03-09 14:52] agriggio commented on #3741
@heckflosse I trust your expertise, but if I read `LUT.h` correctly (around line `462`), the indexing on `data` is done with an `int idx` obtained from the input `float`...

[2017-03-09 15:08] heckflosse commented on #3741
@agriggio Exactly. And that idx then will be -2147483648 as you already wrote above and it crashes. But if there would be a NaN in the loop above the loop where it currently crashes then it should have crashed already there (with the exception that the NaN was inside hltonecurve LUT or one of the rgb values was > MAXVALF and then CurveFactory::hlcurve(...) would be called.

[2017-03-09 15:09] X-Raym opened #3744 "Add ability to inverse slider direction when using mouse scrollwheel"
Hi !

When you shift-mouswheel over a slider, the slider get adjusted. Cool !

But I think it is inverted (or at least, an option to invert the behavior could be added).

Currently, on Windows, when you scroll UP, the values goes left (aka DOWN), and when you scroll DOWN, the value goes right (aka DOWN). I would expect that to be inverted.
Just an idea :)

Cheers !

[2017-03-09 15:12] heckflosse commented on #3741
@agriggio [;-)](https://github.com/Beep6581/RawTherapee/issues/3410#issuecomment-244712898)

[2017-03-09 15:12] agriggio commented on #3741
@heckflosse if you take a closer look at my code, you could also get `0` for `idx` (see the value of `i2` in the example). If/when that happens, no segfault on the LUT occurs...

BTW, this doesn't mean that your analysis about uninitialized memory being the cluprit is necessarily invalid, of course! You (and @Floessie) are the RT experts here, so take my comments with care :smile:

[2017-03-09 15:15] X-Raym opened #3745 "Add on/off for every tool"
Hi !

Some groups of settings have a toggle on/off button.

But some haven't like the Exposure table.

[https://monosnap.com/file/nY2STTSz8nkUPWBsE6rtIHFVprAnzq.png](https://monosnap.com/file/nY2STTSz8nkUPWBsE6rtIHFVprAnzq.png)

It would be nice to have it for every groups of parameter to quickly toggle before / after of several parameters.

Thanks for listening !

[2017-03-09 15:19] heckflosse commented on #3741
@agriggio @Floessie
First valgrind result:
[code]

[2017-03-09 15:31] SarenT opened #3746 "Rawtherapee accepts only regular files but not named pipes"
Hi,

This is related to my previous issue on rawtherapee not being able to read from standard input.
As a workaround I have tried to use a fifo named pipe. The problem seems to be that this code in rtgui/main.cc prevents pipes being used:
`if (Glib::file_test (argument, Glib::FILE_TEST_IS_REGULAR)) {
     inputFiles.emplace_back (argument);
     continue;
}
`
Is Glib::file_test (argument, Glib::FI

[2017-03-09 16:11] #3737 closed, assigned to nobody

[2017-03-09 16:20] Floessie commented on #3746
There are [fewer options](https://developer.gnome.org/glibmm/stable/group__glibmmEnums.html#ga33c24ccefbd130021f06708763e16ef2) for `Glib::file_test()` than I expected. Could it be, your named pipe is executable? Maybe we could change it to
[code]

[2017-03-09 17:39] agriggio commented on #3741
@heckflosse as you suspected, there seems to be something wrong in `RawImageSource::getImage` in the `fuji` case. Some of the RGB values are `NaN`. I suppose there is an off-by-one error or something similar in the code. This (**very** crude) patch makes the crash go away here. If I comment out the first part of the patch, I get an assertion failure down below (where I added the checks for `!isnan

[2017-03-09 18:33] heckflosse commented on #3741
@agriggio I already found a (hopefully) proper solution. I valgrinded before/after and now the valgrind log looks better :)

Patch follows soon :)

[2017-03-09 18:48] agriggio commented on #3741
awesome! :+1:

[2017-03-09 18:59] heckflosse commented on #3741
Here's the patch which avoids the crash. I'll post a new one without black pixels at the corners soon :)
[code]

[2017-03-09 19:25] heckflosse commented on #3741
Here's the patch with better corner pixels. I didn't waste coding time to interpolate them from neighboring pixels. I just copied them from line above/below ;)

[code]