[2020-12-29 06:19] nquantum commented on #5516
Anything?

[2020-12-29 20:31] reggybe commented on #6036
Pro RAW means here Processed RAW, so **already debayered**. The DNG file format from Apple is **NOT** a RAW-file, and should be worked on as a normal DNG, JPG, TIF file.

[2020-12-30 10:05] Thanatomanic commented on #5516
@nquantum I can confirm your issue in RT 5.8. However, in the current development build of RT this issue does not exist anymore. If this is a critical issue for you, please consider using a nightly build: https://github.com/Beep6581/RawTherapee/releases/tag/nightly take the `RawTherapee_dev_5.8` file.
If you do not want to use a nightly build, please use the `Raw White Points` module and set it to

[2020-12-30 14:32] nquantum commented on #5516
@Thanatomanic thank you. Happy to know that the issue already solve in development. Will wait until update. Meantime I will use LMMSE for some image that have this issue.
Now you mention about Raw white point. Is that fix in build is something to adjust it value? That module is there for fix this kind of issue. I've read the link but not quite sure what it does? Anyway will try it. Does it reduce

[2021-01-01 13:43] ror6ax opened #6039 "Use directory from File Browser in file dialogues"
Save file, Save profile and Load profile are currently auto-set to last folder used.
I'd like to ask for an option for these dialogues to open at directory that was opened in File browser.

[2021-01-01 18:06] Nicknroll opened #6040 "Add support of EXR images"
Hello, thank you for great app!
I'd wish if RawTherapee has support of Open EXR images cause it is the only way to get 32bit images from Blender3D.

-Nick

[2021-01-01 19:17] Thanatomanic commented on #6040
Duplicate of https://github.com/Beep6581/RawTherapee/issues/1895

[2021-01-01 19:17] #6040 closed, assigned to nobody

[2021-01-02 08:16] Thanatomanic commented on #6034
Hi @wilchak, thank you for providing the necessary information including a stack trace. Unfortunately, your provided NEF and PP3 load just fine in my recent release build of RT on Windows. So unfortunately, I cannot be of more assistance here. If @heckflosse has some time, he might be able to take a look as he understands the demosaicing algo's much better than I do.

[2021-01-02 08:34] #5568 closed, assigned to Lawrence37

[2021-01-02 20:19] Manfred-Knick opened #6041 "Add DCP for Olympus OM-D E-M1 Mark III"
Currently, E-M1 Mark II is provided:
. . . /usr/share/rawtherapee/dcpprofiles/OLYMPUS E-M1MarkII.dcp
but E-M1 Mark III is missing yet.

$ uname -a
Linux sid.maknit-int.de 5.9.16-gentoo #1 SMP Mon Dec 21 23:29:37 CET 2020
x86_64 Intel(R) Xeon(R) CPU E3-1276 v3 @ 3.60GHz GenuineIntel GNU/Linux

$ equery list -p -o rawtherapee
[-P-] [  ] media-gfx/rawtherapee-5.8:0
[I-O] [  ] media-gfx/rawtherapee-99

[2021-01-02 20:35] Manfred-Knick commented on #6041
How could I set
. . . type: enhancement
. . . scope: color management
?

[2021-01-02 23:30] simonsaidno opened #6042 "[bug]can't read meta data in DNG insta360 oneX"
hi,
Looks like rawTherapee is unable to read the metadata from a DNG coming from the insta360 oneX.
The data is here i can see it on other softwares like camera raw etc but not in rawTherapee.
here is a test file
thanks
[insta360_oneX.zip](https://github.com/Beep6581/RawTherapee/files/5760990/insta360_oneX.zip)

[2021-01-03 01:55] Lawrence37 commented on #6034
I can reproduce the crash on Linux. Additionally, the release build segfaults.

[2021-01-03 02:00] #5826 closed, assigned to Lawrence37

[2021-01-03 08:26] ff2000 opened #6043 "Olympus HighRes: Enableing Local Adjustments produces differencse between editor and exported image"
I edited this RAW file:
https://www.dropbox.com/s/mjn1jgazofxfmee/PC240006.ORF?dl=0
pp3 is here:
https://www.dropbox.com/s/hqjd1rhu51marhf/PC240006.ORF.pp3?dl=0

Here you see the difference:
![Screenshot_20210103_101909](https://user-images.githubusercontent.com/1973708/103474492-24fa5a80-4dad-11eb-87bf-672cba03f3a1.jpg)
RT Editor view is on the left, exported JPEG on the right (both at 100%).

I

[2021-01-03 08:45] ff2000 opened #6044 "Enable Olympus .ORI files in File Browser"
When shooting Olympus HighRes files the camera produces the actual HighRes file as .ORF but also saves the first single frame as a seperate .ori file. Those files can later be used to replace areas with artefacts due to object movement.
For example look at the two photos:
https://www.dropbox.com/s/mjn1jgazofxfmee/PC240006.ORF?dl=0
https://www.dropbox.com/s/mi6xgj49iio4le4/PC240006.ORI?dl=0
The .or

[2021-01-03 09:51] ChasingShadows commented on #6044
You know that you can add any file extension in the settings?
![image](https://user-images.githubusercontent.com/55600750/103475898-90462b80-4db1-11eb-96a5-e2bd2193fb68.png)

[2021-01-03 09:55] ff2000 commented on #6044
@ChasingShadows yes I know, that's what I did after the patch failed.
I just think it would be nice to have them enabled by default.

[2021-01-03 10:17] heckflosse commented on #6044
Isn't the options file only installed on a fresh install to not overwrite an exisiting options file by accident?

[2021-01-03 10:25] heckflosse commented on #6034
I cannot reproduce the crash, but this patch could fix it
[code]

[2021-01-03 10:40] ChasingShadows commented on #6044
Yes, I think that @heckflosse is right ...

[2021-01-03 11:38] ff2000 commented on #6044
If that's true also for -DBUILD_BUNDLE=true it would the explanation.
Now the question is should RT support .ori files?

[2021-01-03 11:44] heckflosse commented on #6044
If RT can open them, we should add the ori extension, but maybe not enable it by default, because .ori is a very bad choice for an extension of an image file imho...

[2021-01-03 14:43] sneak opened #6045 "Should not assume /Applications path on macOS"
Applications can be run from anywhere on the filesystem in the macOS; I keep user-installed applications in my home directory, not in `/Applications`, reserving that for system apps only.

RawTherapee 5.8.0 on macOS seems to assume that it's in `/Applications`, causing it to fail to launch:

[code]

[2021-01-03 14:43] Desmis commented on #6043
@ff2000
Sorry, but I can't test. If I try the ORF file with the pp3, after some manipulations in the preview my system hang.
If I send to output my system crash...
I tried twice, but each time I had to force stop the machine...reboot several times....Not enough memory (8Gb)....

I tested the 2 files "ORI" by remaming ORF...very  very small differences....

Maybe Ingo can test  @heckflosse

Jacques

[2021-01-03 14:58] ff2000 commented on #6043
@Desmis I also have 8GB. I have to close every other program, then I can do some editing. For exporting I have to close the editor to free up memory. But still exporting starts to swap. Peak was at 6GB RAM and 7GB SWAP, just for RT. And still occasionally RT just gets killed because no more memory is left. For sure needs a better machine for debugging.

Renaming the ori to orf won't change anythin

[2021-01-03 15:01] heckflosse commented on #6043
Screenshot from preview of ORF
![grafik](https://user-images.githubusercontent.com/13733487/103481656-afa67e00-4ddc-11eb-8ef0-145bbec68c43.png)

Screenshot from processed jpeg
![grafik](https://user-images.githubusercontent.com/13733487/103481667-c64cd500-4ddc-11eb-9e3c-d9e2e61f1718.png)

Having 32GB ram was an advantage in this case ;-)

[2021-01-03 22:46] Lawrence37 commented on #6034
@heckflosse With the patch, RT no longer crashes.

[2021-01-04 09:38] #6034 closed, assigned to heckflosse

[2021-01-04 10:32] heckflosse commented on #6034
@Lawrence37 Thanks for testing and confirming the fix

[2021-01-04 13:37] ghost opened #6048 "Panel background changes color erratically when scrolling"
RawTherapee_dev_5.8-2701-gb8d5a3d_20210102.AppImage running on Ubuntu 18.04

In the Advanced, Local Adjustments, Transform and RAW tabs, some of the panel colors change from medium grey #565656 to light grey #636363 on mouseover, further reducing the contrast and readability. Scrolling the affected area out of sight and back again resets all or part of the panel to the medium grey color. The easie

[2021-01-04 14:08] Thanatomanic commented on #6048
Can you provide screenshots of this behavior? There is no hover CSS style defined for the panel backgrounds, so I'm not sure what is going on.

[2021-01-04 14:33] ghost commented on #6048
The problem is that activating the screenshot tool and moving the mouse towards the panel immediately makes it change state. I did manage to take this with my phone but it's not very clear.
![Screenshot from 2021-01-04 12-44-36](https://user-images.githubusercontent.com/65723152/103545581-0a55dd80-4ea2-11eb-973c-977f0a02a6ee.png)

[2021-01-04 15:00] heckflosse commented on #6048
Use the PrintScreen Key instead?

[2021-01-04 15:10] RichardRegal commented on #6033
Ping @aferrero2707 The last Windows build is 2692 the latest Linux build is 2701.

[2021-01-04 15:40] aferrero2707 commented on #6033
@RichardRegal @heckflosse there is a linkage error when building the code in debug mode. You can see the full build log [here](https://api.travis-ci.org/v3/job/752702365/log.txt).

I will disable debug builds for the moment, until someone figures out what is the cause...

[2021-01-04 15:41] ghost commented on #6048
Thanks, that worked :-) The edge sharpness is #636363 and Denoise & Refine is #565656. If I mouse over it, it becomes #636363
![Screenshot from 2021-01-04 16-34-02](https://user-images.githubusercontent.com/65723152/103552091-a801da80-4eab-11eb-99d0-052ecee93aa6.png)

[2021-01-04 15:41] heckflosse commented on #6033
I will have a look

[2021-01-04 16:03] heckflosse commented on #6033
@Desmis Jacques, that seems to be caused by including the file `boxblural.h`. What's the difference between
`void boxblur (float** src, float** dst, int radius, int W, int H, bool multiThread)` in boxblural.h and the same function in boxblur.cc?

If it's duplicate code, we should clean that...

[2021-01-04 16:05] Thanatomanic commented on #6048
Hmmmm @pseudopanax I just built RT on Linux Mint in VM and encounter no such problems. @TechXavAL @afr-e @soupygit is any of you using Linux and able to reproduce this?

[2021-01-04 16:24] Desmis commented on #6033
@heckflosse
When I imported code from ART, I cannot compile with 'boxblur' RT...then I replace by boxblural.h  (code from ART) and all works well

I don't know why.

Can you solve that ?

Thank you very much

Jacques

[2021-01-04 16:27] heckflosse commented on #6033
I will try

[2021-01-04 16:38] Desmis commented on #6033
@heckflosse
I have seen there was the same function in "boxblur.cc"...but as I said , I am a poor developer...and I don't know why or how select this function...The one selected by compiler is th eone with  float *

Jacques

[2021-01-04 17:09] heckflosse commented on #6033
@Desmis I'll post a fix in the evening

[2021-01-04 17:15] Desmis commented on #6033
@heckflosse

Ok thank you very much :)  You are a true friend

But, I don't understand why, calling the same function is good one way and not the other???? For me they are mysteries

Jacques

[2021-01-04 17:37] heckflosse commented on #6033
In debug build, the compiler didn't inline the function from boxblural.h. That gave a double definition of the function, which confuses the linker, because it does not know which of them to link.

The solution is to cast the calls, so that the compiler knows which one to call and also remove boxblural.h.

Here's a patch:

please try also whether it runs correctly

[code]

I will push the fix as so

[2021-01-04 18:14] Desmis commented on #6033
@heckflosse

Ingo

I tested, works fine  :)

Thank you very much

Jacques

[2021-01-04 18:40] Entropy512 commented on #6044
Oh?  I'm kind of curious what it's also used for?

To add to the confusion, the Xphase "Pro" saves with the ORI file extension, but that format isn't RAW by any means.

[2021-01-04 18:41] Entropy512 commented on #6036
More specifically, it's "Linear DNG" conforming to DNG 1.6 specifications.

The only changes in 1.6 are some new metadata tags not really relevant to RT, so the DNGs should just work out of the box, I'm 95% certain RT supports Linear DNG.

[2021-01-04 18:44] #6033 closed, assigned to nobody

[2021-01-04 18:46] heckflosse commented on #6044
https://fileinfo.com/extension/ori

[2021-01-04 18:57] TechXavAL commented on #6048
This is what I see (Linux Mint 20, not VM, RT commit cc7f1ecda):

![colors-labels](https://user-images.githubusercontent.com/52250392/103568275-90375000-4ec5-11eb-9729-841b364e0ff8.png)

Following the comments in this thread, I honestly don't know if what I see in my computer is the expected behavior (colors). Maybe too many borders? I have to say they don't bother me, but it seems that the captur

[2021-01-04 18:59] Thanatomanic commented on #6048
@TechXavAL Do you see changing (background) colors when hovering over the GUI elements _other_ than the titles of the (sub)modules?

[2021-01-04 19:29] DanielDrs opened #6049 "wavelet contrast produces asymmetric results"
Hallo,

Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\ -Wall\ -Wuninitialized\ -Wcast-qual\ -Wno-dep

[2021-01-04 20:03] reffort commented on #6022
I just wanted to confirm what @afr-e described.

Most of the adjustments in the CIECAM module do not update the display after entering numbers and then pressing the tab or enter key.  However, they will subsequently update the display if the '+' or '-' buttons are clicked, if the mouse is clicked on the same or a different number box, or if the module is turned off and back on.  I'm using the Read

[2021-01-04 20:43] TechXavAL commented on #6048
No. Apart from when hovering the module titles, no color change anywhere else

[2021-01-05 08:28] Desmis commented on #6022
@afr-e  @reffort
Thank you for testing and reporting...

I think, the problem is probably due to the fact that originally the code was in double precision and not yet optimized (SSE, OMP...) by Ingo @heckflosse
As a result, functions were implemented to "reduce" the speed of the GUI, as the code required a lot of processing time
* a first "usual" -> setDelay()
* a second designed I think especiall

[2021-01-05 14:13] ghost commented on #6048
I should have added that you have to scroll the panels upwards, out of sight, and then back down again to observe the change in colour from light to medium. Then, when you mouseover the medium gray, it changes back to the light gray colour. This does not occur in any of the first three tabs, which are medium gray and stay that way, no matter what you do. The RawTherapee-legacy theme is also comple

[2021-01-05 14:17] Thanatomanic commented on #6048
@pseudopanax Even when reducing the window size to a very minimal height and much scrolling with panels expanded or not, I cannot reproduce. I would very much like to see a screencast of this behavior, and I hope someone else can confirm it.

[2021-01-05 14:52] ghost commented on #6048
Here is a screencast.

https://user-images.githubusercontent.com/65723152/103660507-f5df1700-4f6d-11eb-9fa3-a880f09b6951.mp4

[2021-01-05 16:25] Desmis commented on #6022
I will be away for a few days, starting tomorrow morning.

Jacques

[2021-01-06 21:45] reffort commented on #6022
(These comments are based on RawTherapee_dev_5.8-2709-g66908b6_20210106.AppImage.)

- The display update issue appears to be resolved.

- The Viewing Conditions/Temperature Auto check box does not seem to do anything unless the module is in Symmetric mode.  In normal mode,  I can move the Temperature slider to some arbitrary temperature, then check the Auto box, and the temperature does not change

[2021-01-07 09:19] ghost commented on #6048
@Thanatomanic Scrolling through the different menus I have found a third panel color #6E6E6E (Local adjustments>Blur/Grain & Denoise>Denoise). If you look at the bottom of the attached image you can see a staggered view of the three background panel colors.
![Screenshot from 2021-01-07 10-01-52](https://user-images.githubusercontent.com/65723152/103874642-ba5d5d80-50d1-11eb-89d5-8b5f32637246.png)

[2021-01-08 09:20] afr-e commented on #6022
I have been busy this past year, so my reports have been vague at best and I haven't been following up. So @reffort, I am glad you are asking questions. @Desmis's mother tongue is French. @reffort If you see anything worth clarifying, please help if you can.

[2021-01-08 16:50] Benitoite commented on #6045
macOS version? Note that you are reporting intended behavior. The software runs in a secured hardened-runtime including hardcoding to `/Applications`.   If there is a way around, a PR would need to be provided.

[2021-01-08 16:52] Benitoite commented on #6045
And what is your security settings/gatekeeper set to?

[2021-01-08 17:10] Benitoite commented on #6005
Don't report bugs on release versions- always test the dev branch first, then report.  Working on a new dev build currently.

[2021-01-08 17:12] Benitoite commented on #5552
I have generated a new build for Big Sur:
https://kd6kxr.keybase.pub/RawTherapee_OSX_11.2_64_5.8-2711-gb554f52ab.zip

[2021-01-09 03:02] strogonoff commented on #6023
I can’t see the inspector option to run RT under Rosetta 2 (and Rosetta 2 is definitely installed), but I’ll keep digging…

I have the hardware now and will see how far a native build goes before it fails. I have little background with this tech stack so if there is something obvious I should adjust before building I would appreciate any pointers.

[2021-01-09 03:06] afr-e commented on #6048
I don't have this issue on Windows 10, but I do notice my fans ramping up and down, and hover transitions sometimes slightly slower. Edit: the theme feels a bit overdone to me. I know we have been enthusiastic about improving it lately.

[2021-01-09 03:08] strogonoff commented on #6023
Which release did you use? Or did you build from source? “Open using Rosetta" does not show up for me somehow for RT (weirdly enough, I can see it for other apps).

Perhaps it opens using Rosetta by default, being an Intel app?

But then I wonder why it crashes immediately🤔

[2021-01-09 06:42] frgazor commented on #6023
I used latest binary build available for download (5.8). You don't have to do anything with rosetta, just copy everything to /Applications and it will run just like any other app.

[2021-01-09 07:30] strogonoff commented on #6023
Interesting. I have a habit of placing non-critical apps under `~/Applications`. It worked consistently so far (in fact, macOS gives that folder the special icon and all). However, on Big Sur RT only successfully launched from within the global `/Applications`.

Thanks @frgazor!

[2021-01-09 09:47] #6023 closed, assigned to nobody

[2021-01-09 10:45] ChasingShadows commented on #6048
@pseudopanax which theme are you using?

[2021-01-09 10:52] Thanatomanic commented on #6048
@pseudopanax the theme should definitely not do this if everything is working properly. I believe the AppImage contains the proper CSS files, but just to be sure, can you try the [latest AppImage from here](https://github.com/Beep6581/RawTherapee/releases/tag/nightly) and try again?

[2021-01-09 11:31] ghost commented on #6048
I am using the new RawTherapee theme in the dev builds (as opposed to the existing RT theme in v5.8 which has been renamed RawTherapee-legacy in dev).

[2021-01-09 13:01] ghost commented on #6048
@Thanatomanic

Exactly the same behaviour using   RawTherapee_dev_5.8-2713-g0362578_20210109.AppImage
I also observed the same behavior when I built the last commit prior to merge.
The test was again carried out on two separate machines both running updated Ubuntu 18.04

A few observations which may help to narrow down the problem:
1. The first three tabs are OK and use a background panel color of

[2021-01-09 21:18] TechXavAL opened #6052 "Resizable Navigator thumbnail"
Now that we have the waveform graphs in the histogram window, it would be really helpful that the thumbnail in the Navigator area was resizable, either manually as some panels can be already, or automatically.

The idea would be that the thumbnail had the same width as the waveform, and that the cropped image (if it is cropped) would be the thumbnail itself, not the full image showing black border

[2021-01-10 00:21] chaimav opened #6053 "Very small spot & tone mapping hangs CPU"
RawTherapee_dev_5.8-2711 / Windows 10 / i3 8100
I added a very small spot and tried to apply tone mapping mapping. The CPU maxes out out and hangs.
PP3: https://drive.google.com/file/d/1HXXXKSoWM4aGcw5iSFYR5FXkOLC6vXK5/view?usp=sharing

[2021-01-10 09:17] Desmis commented on #6053
@chaimav
I confirm...
I change the minimum spot size for TM to 64 , as Denoise
Under these values no action.

I just push a change in DEV

Thank you

Jacques

[2021-01-10 20:30] heckflosse opened #6054 "Improvement for rcd demosaic"
In collaboration with @jenshannoschwalm from darktable and Luis (https://github.com/LuisSR/RCD-Demosaicing) we made some changes to rcd demosaic. I will post the RT code in a new branch.

Advantages are:

1) 20% faster
2) got rid of SSE code
3) reduced border interpolation from 9 to 6 pixels

[2021-01-11 07:07] Thanatomanic commented on #6054
@heckflosse and others: good to see a nice collaborative effort!

This actually made things faster? Or at least not slower?

[2021-01-11 10:56] heckflosse commented on #6054
Same speed. gcc seems to vectorize very good. Didn't test on clang...

[2021-01-11 12:44] heckflosse commented on #6054
I tested on a windows clang build.

Old version needs ~580ms for a 45.6MP file.
New version needs ~550ms for the same file.

For comparison: new version on a windows gcc build needs ~230ms

[2021-01-11 14:34] ghost commented on #6048
@Thanatomanic , I fired up a 3rd identical machine (Dell Optiplex 3020) running fully updated Win 10 this time to see if there were any issues. The results are interesting:
1. As observed in similar tests with Win10, the erratic behaviour does not occur
2. The use of the different shades of gray is inconsistent across the different tabs.
3. The first three tabs use #484848 & #565656
4. The followi

[2021-01-11 15:04] TechXavAL commented on #6048
@pseudopanax

This is how I see it in Mint (Ubuntu):

![tools_css_colors](https://user-images.githubusercontent.com/52250392/104198070-169fe480-5426-11eb-98d1-3952b2ba3622.jpg)

_Note: in the image where it says «First nested» it should say «First level nested», and «Second nested» should say «Second level nested»_

Here the behaviour is not inconsistent, but really consistent all along the progra

[2021-01-11 15:10] Thanatomanic commented on #6048
I use `color: rgba(...)` for the CSS rules that define the background color of nested panels. There might be a strange incompatibility with the alpha channel that is not being rendered properly on @pseudopanax' machine.
That is pretty much the only thing I can imagine that has an influence here.

As for the inconsistent (sub)panel colors in general, imo this is due to inconsistent use of nested GU

[2021-01-11 15:24] ghost commented on #6048
Edit: This would have to be specific to the Ubuntu desktop as I have tried it on two separate installations.  I know virtually next to nothing about CSS so this is just a wild guess but could there be a conflict somewhere in the default background color definitions?

Whatever the cause, the impression you get is that the panels in Wavelets and Local adjustments (and parts of Transform) are lighter

[2021-01-11 15:38] kmilos commented on #6026
I venture this is similar to what was happening in darktable: metadata was only searched for in the Exif IFD, but most smartphone DNGs don't have it (nor is Exif part of the DNG spec to begin with). Most (basic) metadata of the DNG is stored in the main IFD0 instead.

You can check this is indeed the case by e.g. running `exiftool -a -u -s -g1` on this sample.

This was also partly addressed by th

[2021-01-11 17:13] Thanatomanic commented on #5862
@noirsabb Sorry for a lack of action here. https://github.com/Beep6581/RawTherapee/commit/d36545b71a48cd8ae3a4eeccd318baedcf86b9e1 provides basic support for this camera after analysis of the white frames.

@Beep6581 There are still two color checker cards that can be processed into a DCP file. An Adobe color matrix is still lacking, so this would be a valuable addition. Please let me know when yo

[2021-01-11 17:31] alexkiri commented on #6026
[code]

Yup, `exiftool` shows the correct info

[2021-01-11 19:17] heckflosse commented on #5908
With the latest rcd-code (https://github.com/Beep6581/RawTherapee/issues/6054) rcd now is more than twice as fast than amaze

[code]
vs.
[code]

[2021-01-12 00:48] noirsabb commented on #5862
Thanks. I have been getting by using the 1DX Mark II entry in comconst.json and some profiles with various black points set.

[2021-01-12 09:25] kmilos commented on #6026
They key, however, is where that info is stored in the file: IFD0; there is (normally) no Exif IFD in DNGs (TIFF/EP).

The [location](https://exiftool.org/#groups) you get with the `-g1` (or `-G1`) options of `exiftool`, and you can also tell from the Exif.Image (IFD0) vs Exif.Photo (Exif IFD) [prefix](https://www.exiv2.org/manpage.html#lbAK) when you do `exiv2 -pa`:

[code]

[2021-01-12 12:40] chaimav commented on #6053
Just installed RawTherapee_dev_5.8-2717 and confirmed it no longer hangs the CPU.

[2021-01-12 12:51] Desmis commented on #6053
Ok thank you very much

jacques

[2021-01-12 14:27] arturoisilvia commented on #6053
With win 5.8-2717:

I don't understand .... what has to be below 64 for it not to work?
Tone Mapping: 'Spot size' is working for me with any value.

[2021-01-12 15:04] Desmis commented on #6053
@arturoisilvia
Under 64 the system may hang sometimes...not always...but in my case, the system hangs...

I change the minimum value, before it was 5...now 64. I tried with 39...and sometimes it hang

there are 4 values  for spot minimum size depending on the tools : 5, 32, 39, 64....all are small

jacques

[2021-01-12 15:57] arturoisilvia commented on #6053
OK understood.
Thank you!.

[2021-01-12 16:01] chaimav commented on #6053
Did you load the test PP3?

[2021-01-12 16:35] arturoisilvia commented on #6053
@chaimav
Yes, and I also tried a new pp3 from scratch just in case your pp3 was corrupt: in both cases I was blocked by setting the cpu to 100%.

It seems that now with dev-2717 it has been fixed.

A greeting
Arturo.

[2021-01-13 03:15] reffort commented on #6022
I've printed out the CIECAM section of the manual and will look through it. I was already planning to see if I could make any improvements to it, and have been putting it in a format that is easy for me to edit. Some of the problems I had were due to a section that describes what appears to be an old implementation--the UI has changed significantly since then. The author even says in one place tha

[2021-01-13 08:00] Desmis commented on #6022
@reffort  @afr-e
I am attentive to your requests
* I made some modifications to the GUI in particular for the calculation of "absolute luminance" (there are today in the GTK tools some functions which were not present in 2012)
* but in some cases it would be necessary to completely rewrite the GUI, for example sliders with auto-checkbox...The checkbox in symmetrical mode would have to be removed,

[2021-01-13 11:58] waynesutton50 commented on #6022
I agree entirely. I haven't got the time or the expertise to do anything other than the translations I did for the worked examples so anything you can add would be great.

[2021-01-14 04:03] reffort commented on #6022
I had not seen the November version of RawPedia until the past few days. It does address some of the issues I mentioned. My apologies for not checking that. I had not downloaded an updated copy of the PDF because it is a rather large (31MB) document.

I think most of the UI items I referenced are related to having consistency from a user's viewpoint. They seem to be minor things that have escaped

[2021-01-14 07:01] Desmis commented on #6022
@reffort @waynesutton50

Hello
I don't know, who and when are done the PDF documents...but it seems "old"....The good way are the "rawpedia" (in french...or in english)

In the last commit, I have suppressed  the "auto checkbox"  for "Viewing conditions" ==> Temperature

I think if you accept, as a first step, to work at 3 in Private Message (PM). Then when we will be satisfied with the work of sh

[2021-01-14 13:39] age1988 opened #6061 "Re-introduce a small hue shift in the rgb filmlike curves"
The goal is to get less pink-ish sunsets and less green-ish skintone.

The idea is to smooth with the simple rgb curve

Could this part of the code in [https://github.com/Beep6581/RawTherapee/blob/3ff2519302e3bc529b111462a4697ac4dfba30c4/rtengine/curves.h#L974](url)

inline void AdobeToneCurve::RGBTone (float& r, float& g, float& b) const
{
    float rold = r, gold = g, bold = b;

    r = lutToneC

[2021-01-14 16:59] reffort commented on #6054
Is the image quality affected by this?  RCD is already fast, so it would be a shame if there were any reduction in image quality for such a negligible (550/580 = ~5%) speed increase.

[2021-01-14 18:12] heckflosse commented on #6054
Well, the output from clang builds and gcc builds is equal. With new code gcc builds are ~20% (which is not negligible) faster than with old code. I did not detect any differences visible by eyeball between new and old code.

[2021-01-14 18:42] TechXavAL commented on #6022
@Desmis

Could you clarify this a bit please? The PDF documents are auto-generated by a script, following the rules of a special RawPedia page.

What do you mean when you say the PDFs seem _old_?

What do you mean when you say that the _good way are the "rawpedia"_?

I am the one behind the way those PDFs look, and they are not so different than the online version, IMHO. I agree that it was a long

[2021-01-14 18:56] Desmis commented on #6022
Hello Xavier
Thank you for your advices.
I never used these Pdf...and sorry for my bad comments
When i say prefering Rawpedia, it is for the links... but perhaps they
works also in pdf ?
Thank you again, and sorry again
Jacques

Le jeu. 14 janv. 2021 19:42, TechXavAL <notifications@github.com> a écrit :

[2021-01-14 19:15] TechXavAL commented on #6022
Jacques, the comments where not good, nor bad. I just didn't understood them. And I don't use the pdf, either.

About the links: they work in the pdfs, but the word/words that are the link indeed are not highlighted (with a distinct color or underlining). If you point to the words just before the written link (in blue), you will see that the pointer changes to a hand (a link).

I can change the co

[2021-01-15 09:35] Desmis commented on #6029
@TechXavAL

I have already answered this question. It is not planned to do it, too complex (not impossible) to implement.

jacques

[2021-01-15 10:58] heckflosse commented on #6029
Perhaps we could show a small icon (like the HDR icon) on the thumb if local adjustments are applied in pp3.

[2021-01-15 11:18] TechXavAL commented on #6029
@Desmis
Ok. I didn't found that answer, that's why I asked. But if it's too difficult, then maybe in a future.

However, at the very least there should be some kind of hint in the File Browser, so I like the idea from @heckflosse, if that's easy to implement.

[2021-01-15 11:29] Desmis commented on #6029
@heckflosse

Ok on the principle...but
1) I never seen (or I don't remember...) this feature
2) I don't know how to do

Jacques

[2021-01-15 12:02] heckflosse commented on #6029
@Desmis

![grafik](https://user-images.githubusercontent.com/13733487/104725113-e613bf80-5731-11eb-9494-092b2b45b4f6.png)

I will have a look...

[2021-01-15 12:14] heckflosse commented on #6029
@TechXavAL

The most difficult part (for me) is creating an icon. If someone wants to make one, I will do the coding part.

[2021-01-15 12:35] Desmis commented on #6029
@heckflosse
Ingo
Thank you on the principle :)

jacques

[2021-01-15 13:44] TechXavAL commented on #6029
@heckflosse @Desmis

I can do it if someone tells me how it should be.

If it's just writing letters, «LAdj» would fit nicely. It would render something like this:
![Ladj](https://user-images.githubusercontent.com/52250392/104734082-fd59a980-573f-11eb-896c-b8cdcc22d19a.png)
 Of course, with the white frame.

[2021-01-15 14:10] Desmis commented on #6029
It's good for me
Jacques

Le ven. 15 janv. 2021 14:44, TechXavAL <notifications@github.com> a écrit :

[2021-01-15 15:08] TechXavAL commented on #6029
:+1:

This is the file:
[filetype-ladj.svg.zip](https://github.com/Beep6581/RawTherapee/files/5821285/filetype-ladj.svg.zip)

I have just named it the same as the hdr and ps types, which show the little banner in the thumbnail, even though this is not a different kind of filethype, really. If you want, just rename it to something that suits it better.

[2021-01-15 15:23] Thanatomanic commented on #6029
Sorry to interrupt, but I really do not like this idea for two reasons:
1. This label is not language-independent (HDR is pretty universal, PS a little less so, but still well-recognized)
2. This label is not related to the filetype at all, but to the processing that is done, which gives the label multiple meanings.

I have no really good alternative. Maybe a magnifying glass indicating inspection

[2021-01-15 17:34] TechXavAL commented on #6029
To be fair, HDR is neither related to a filetype. But I understand your point.

What about something like this?
![locadjs](https://user-images.githubusercontent.com/52250392/104759128-bd0a2380-575f-11eb-82d9-4bdb44648ea6.png)

It's not meant to be a definitive icon (just a suggestion), but if a user has used the tool, he/she already knows what it is.

I don't like the idea of having to read a tool

[2021-01-15 17:37] Desmis commented on #6029
Or why not, the "hand" (the shortcut Local) and add "exclamation mark"

Jacques

[2021-01-17 20:11] Lawrence37 commented on #6052
This patch allows some manual resizing of the thumbnail.
[code]

[2021-01-18 01:14] Barugon commented on #5987
Can we just have the S5 do the same thing as the S1 (at least for now)?

[2021-01-18 12:07] arvindpgh opened #6066 "NIKON COOLPIX P950 NRW files - request for camconst.json parameters for rawtherapee 5.8"
Have uploaded NRW files at filebin.net for working out parameters of the camera for the camconst.json file used with rawtherapee 5.8 under Ubuntu 18.04

Single zip file NIKON-P950.zip
filebin URL is  https://filebin.net/bkc7ut2u0f8j8h1w

The procedure followed is taken from here --> http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

Thanks for the help.

[2021-01-18 12:12] Thanatomanic commented on #6066
Thanks for this, I'll take a look soon

[2021-01-18 16:16] chaimav opened #6067 "Local edit, dynamic range compression bug: right side border"
I tried using the local dynamic range tool in the latest dev build and noticed some odd behavior. When it is applied to the whole image, the right hand side seems to have a some sort of border.
RawTherapee 5.8-2726, Widows 10, i3-8100.

More info and test case: https://discuss.pixls.us/t/local-edit-dynamic-range-compression-bug/22814

[2021-01-18 16:58] simohno commented on #5936
Hello, any news concerning this bug?

[2021-01-18 17:59] ghost opened #6068 ""Perceptual" tone curve type doesn't seem to work correctly with log-like curves"
Version 5.8, also present on the latest nightly build
Windows
Apply a Neutral profile, than use a log-like tone curve, for example with points (8, 70) and (18,91) and adjust the exposure. Colors look normal with Standard of Film-like tone curves but very desaturated with a Perceptual tone curve. If you apply an S-curve, there is much less difference between these types. If it is intended to be so,

[2021-01-18 18:31] heckflosse commented on #6068
Please provide pp3 files at least. Even better would be some additional screen shots. Using only a text-based description is error-prone, hard to reproduce and time consuming...

[2021-01-18 21:47] mikae1 opened #6069 "Placement of local adjustments in the processing order"
Following [a discussion on Pixls.us](https://discuss.pixls.us/t/some-news-about-rawtherapee-s-local-adjustments-and-recent-rawpedia-updates/22789/15) I'm submitting this issue to discuss the future placement of local adjustments in the [processing order](https://rawpedia.rawtherapee.com/Toolchain_Pipeline#Processing_order).

I make the case that local adjustments should come as early as possible i

[2021-01-19 07:50] Thanatomanic commented on #6066
Hi @arvindpgh, could you also please upload a shot that is completely black, taken with the lenscap on? Low ISO, no LENR please.

[2021-01-19 08:10] arvindpgh commented on #6066
Will do shortly and confirm.  Thanks.

[2021-01-19 08:10] Desmis commented on #6067
@chaimav
Thank you again for testing "deep" :)

This bug also happen in "vertical", and also with others tools using FFTW

I tried to optimize FFTW....to save time the FFTW function is faster when the size of the window (part of the image) is a multiple of: 2^n * 3^p * 5¨h * 7^t*(11^y | 13^z), and for each direction H and W

In the case of the 2 delimiters H, or the 2 delimiters W are outside the

[2021-01-19 08:51] arvindpgh commented on #6066
Full black files uploaded
Link ->  https://filebin.net/1pogufi069emz5gk

Thanks again

[2021-01-19 09:00] ghost commented on #6068
I'm sorry, I thought it's not needed since it works with any image. Let's use this one - https://raw.pixls.us/getfile.php/1182/nice/Canon%20-%20EOS%205D%20Mark%20II%20-%20RAW%20(3:2).CR2
Here are the 2 .pp3 files, the exposure was adjusted - https://filebin.net/archive/vezuk3thx0utvz4y/zip
Try switching between film-like and perceptual tone curve types with an auto matched curve and you will see w

[2021-01-19 09:50] abnormally-distributed opened #6070 "Feature request: Support .cube 3d lut files"
Is there any chance of cube file support being added to rawtherapee in 5.9? I have tons of cube files, and while I could convert them to PNG , PNGs take up significantly more hard drive space. What might be 1-2 mb at max for a cube file translates to 10-15x the size when converted to a haldclut png. Darktable offers cube support, but they lack dcp and lcp profile support. Would be fantastic to be

[2021-01-19 09:58] Thanatomanic commented on #6070
Please see https://github.com/Beep6581/RawTherapee/issues/5704

[2021-01-19 09:58] #6070 closed, assigned to nobody

[2021-01-19 10:12] heckflosse commented on #6054
Closed with 049a614

[2021-01-19 10:12] #6054 closed, assigned to heckflosse

[2021-01-19 11:39] chaimav commented on #6067
That's easy. As it is already so mature I have made the dev version my main one.

Thanks for fixing it and all of the other hard work you do. When it hits the nightly build I'll give it a shot and see if the fix worked for me.

[2021-01-19 13:11] twenster commented on #5552
Hi,

I'm using my iMac late 2015 (27 Inch, 5k), 3,2 GHz Intel Core i5 four cores, 16GB RAM, AMD Radeon R9 M390 2 GB, with macOS 11.1 Big Sur.

I notice that when RT window is maximzed or full screen, then there is a lot of lag in the interface. However using the default size window (I mean when it opens) then the interface is "faster", you still feel that buttons, sliders doesn't follow your mouse

[2021-01-20 00:11] Benitoite commented on #5552
@twenster I think you are reporting the 5.7-release version’s behavior on Big Sur, which is mostly not supported.  Working on making another test bundle currently… I don’t understand what you mean by “RT opens in the container folder”.  Would you be able to explain further, possibly with a screenshot?  Also which theme are you testing?  Some or all of them may not be compatible with that particula

[2021-01-20 07:09] #6066 closed, assigned to Thanatomanic

[2021-01-20 07:10] Thanatomanic commented on #6066
@arvindpgh I've just committed the relevant information. The nightly build of tomorrow will contain support for the P950. Thank you for providing the shots.

@agriggio You may want to copy over stuff for ART

[2021-01-20 07:57] twenster commented on #5552
Hi @Benitoite,

I'm testing RT 5.8-2711-gb554f52ab on Big Sur from the forum https://discuss.pixls.us/t/test-of-rawtherapee-on-macos-11-1-big-sur/22389. I previously tried the 5.8 release with no visible difference.
When RT opens, the default directory is /Users/<username>/Library/Containers/com.rawtherapee.RawTherapee/Data/Pictures
Instead of /Users/<username>/Pictures.
The theme I'm currently us

[2021-01-20 09:02] arvindpgh commented on #6066
@Thanatomanic thank you very much for the support.  Much appreciated..

[2021-01-20 09:04] Thanatomanic commented on #6052
I'll give this a testrun soon.

[2021-01-20 09:13] Desmis commented on #6069
@mikae1
I have nothing against changing the order of the Rawtherapee pipeline..
It will be very difficult, if not impossible, to move "Local Adjustments" (LA) which is in "full frame" mode and in Lab mode, while "Film simulation" is embedded in an RGB process with tiles.

May be is simpler (possible) to move "Film simulation" after  LA, but its suppose a double conversion Lab <==> RGB
Or, move "LA

[2021-01-21 09:12] Desmis commented on #6069
@mikae1
I just push a new branch "lanewlocation"
I change the localization in the process (pipeline) for the 3 process : Dcrop.cc, Improccordinator.cc, Simpleprocess.cc
I change also (of course), events, in refreshmap.cc
On reflection I think there are only advantages to doing this (begin with more  linear datas) , so it's a good thing.

Now the "Local adjustments" is before all "rgb" process in t

[2021-01-21 13:06] chaimav commented on #6067
I just installed 5.8-2735 and cannot repeat the bug. :-)

[2021-01-21 15:09] mikae1 commented on #6069
I wish I could comment this, but being a photographer and retoucher rather than a programmer I hope someone else can chime in. 🙂

The advantage of moving local adjustments up in the processing order is huge! The most extreme and apparent example I could come to think of is some [lith print](https://www.google.com/search?q=lith+print&hl=sv&tbm=isch) emulations I've had to do over the years. A globa

[2021-01-21 15:14] Desmis commented on #6069
@mikae1
In Rawtherapee, some procees uses "tiles", instead of "all image".
The image is "divided" in many "squares" (tiles)...with a complex recovery betwwen this "tiles".
This has the consequence of reducing the need for resources (memory...)

You can find "Tiles"
1) here in the 'rgb' process, of course "Local adjustments" is not inside
2) Noise reduction
3) Wavelet levels
4) some Demosaicing met

[2021-01-21 19:15] Thanatomanic opened #6071 "Branch cleanup"
I know progress is a slow beast since we're not many people, and we have many ideas. This is reflected in the fact that we have 68 branches at the moment, 26 are considered _active_ and 40 are considered _stale_ (excluding the `releases` branch). I think these branches fall into one or more of the following categories:
- **Already merged.** I suspect these branches can be removed.
- **Started but

[2021-01-21 20:29] Barugon commented on #5951
It looks like the DC-S5 needs an entry in `camconst.json`. If I copy the entry for DC-S1 and edit the model to be DC-S5 then it looks pretty good but I don't know what the actual values should be.

[2021-01-21 20:36] Thanatomanic commented on #6044
As I also said in the PR, I have only found one single `*.ori` file on my Windows computer (some more `*.orig` files though). We cannot handle all possible confusing file extensions. If somebody combines _actual_ Olympus ORI files in the same folder with manually renamed ORI files and/or other non-RAW ORI files, people need to reconsider their archival/ordering skills 😉

What concerns me more is t

[2021-01-21 20:56] Thanatomanic commented on #5951
If @maxmoritz could reupload his shots, or if @Beep6581 can investigate, that would be helpful.

[2021-01-21 21:20] maxmoritz commented on #5951
Hi @Thanatomanic,

I've uploaded the files again:

StdA: https://www.swisstransfer.com/d/7f6b3ed4-476b-4777-82af-fe9adf35e2b5
Sunlight: https://www.swisstransfer.com/d/d566ec75-7205-4b28-b119-53fb83febd03

[2021-01-21 21:40] Entropy512 commented on #6044
Hmm...  Well, I'm not sure how to do the initial migration from the current format, but perhaps going forward, the extensions configuration in the file should be treated as a "differences from default" list?

If the options file lists a particular extension as "add", and it's already in the defaults - ignore it.  (In the event that it's ever removed from defaults again, probably shouldn't remove i

[2021-01-22 06:46] Desmis commented on #6071
@Thanatomanic
I totally approve of this approach. 15 days ago I already did a cleaning. I have just done a new one.

One remark. I've been doing a lot of merge recently and this should be over. Each of these branches has been done to facilitate exchanges with other collaborators. I took the principle to facilitate the dialogues of "a big modification" (labels, tooltip, GUI translation, code...) is

[2021-01-22 08:42] ff2000 commented on #6069
Some time ago I asked something similar and was told it wasn't doable/possible. My issue was that when doing black&white conversions local adjustments become nearly useless as B&W conversion is done before LA.
This change is really handy and I hope it will make it into DEV (after other devs agree on it).
Thanks @Desmis :+1:

[2021-01-22 08:51] Thanatomanic commented on #6069
I have not tested the code, but at first glance all seems well. Since the local adjustments are new for version 5.9 there is no backward compatibility to take into account, which is good too.

[2021-01-22 09:22] Desmis commented on #6069
@Thanatomanic  @heckflosse @Floessie ... and others :)

I'm sure this change is very important, I've tried to make the necessary changes, but it is difficult !

Obviously, change the location... In dcrop.cc, Improccoordinator.cc, Simpleprocess.cc with a double conversion rgb<>lab
This part seems to work well

Then change the "events".
 it may seem obvious, but the set of functions in improccordina

[2021-01-22 12:15] heckflosse commented on #6069
@Desmis I will have a look at the weekend

[2021-01-22 12:30] Desmis commented on #6069
@heckflosse

Ingo

Thank you very much :)

Jacques

[2021-01-22 17:20] Desmis commented on #6069
Hello.

By changing, in refreshmap.cc all TRANSFORM to HDR,  all functions as "vignetting", "Gradient", "rotation", "Vignetting correction", "Distorsion", etc. Now seems to work fine, whithout interference on "Local adjustments"

But I repeat myself, we can't have our cake and eat it too, and by definition putting this process first will cause others to get behind it :)
Which coupled with the doub

[2021-01-22 22:45] mikae1 commented on #6069
🙌

[2021-01-23 08:34] rom9 commented on #6071
@Thanatomanic  Agreed. Regarding my `filmneg` branch, i left it there to use it as a base for the upcoming over/under-exposure improvements, but i'm still not done analyzing the data from my test negative... so i didn't write any code yet :-/
I will delete the branch now, i can always re-create it when i have something to show :-)

[2021-01-23 16:31] TheRealHerisson commented on #3317
This is invaluable. Please can someone reconsider this please?

[2021-01-23 17:25] TechXavAL opened #6073 "Inconsistent behavior in Preferences > General > Editor Layout"
There's an improper behavior when changing the Editor Layout in _Preferences > General > Editor Layout_: RT5.8dev commit 8bb06c2c4. All changes made **without restarting**.

Let's begin with the default layout **Single Editor Tab Mode, Vertical Tabs**. This is what I see:

![singlevertical](https://user-images.githubusercontent.com/52250392/105608839-a4c08700-5da5-11eb-80dc-9974ee5a6a7b.jpg)

Now

[2021-01-23 17:38] heckflosse commented on #6073
![grafik](https://user-images.githubusercontent.com/13733487/105609508-16023900-5daa-11eb-9049-c61ed3081410.png)

[2021-01-23 18:05] TechXavAL commented on #6073
It depends...

When in any other program I see «restart required», I expect that nothing will happen until I restart the program. And that's what usually happens: I can keep working with the program knowing that the next time I run it, the new preferences will take place.

If I change a setting and the program shows weird things even before I've had the chance to restart it, then the developers sh

[2021-01-23 20:13] Lawrence37 commented on #6071
I removed my branches. They were all merged and can be recovered from my fork if needed.

[2021-01-23 23:40] Lawrence37 commented on #5936
Color labels are stored in processing profiles which makes it easy to accidentally modify. This patch should fix the bug.

[code]

[2021-01-24 02:25] iliasg commented on #5951
This is correct, (checked by converting to DNG ;)) .. Instead of copying the DC-S1 item .. just add add the dc-s5 in the model line ..
`       "make_model": [ "Panasonic DC-S1", "Panasonic DC-S5" ],`

[2021-01-24 11:13] alexkiri commented on #6026
Here is some extra relevant info

[code]

[2021-01-24 12:25] Desmis commented on #6069
@heckflosse

Ingo

I havefound another bad behavior...
In dcrop.cc for denoise...It needs now
Line 648
        if (todo & (M_INIT | M_LINDENOISE | M_HDR)) {

Am I pushing for this change, where do I wait ?
I'm absolutely not sure about my work...It's a field for me, full of unknown things? Maybe from the beginning, when I "moved up" (for "LA")  from "RGBCURVE" to "AUTOEXP" I was wrong !

Thank you

[2021-01-24 14:48] simohno commented on #5936
Great, what is the next step? Should a collaborator make this the change into _filebrowser.cc_ or test it in an own copy?
I'm not an expert

[2021-01-24 17:47] Lawrence37 commented on #5936
@simohno I'm giving people time to test/comment if they wish. I will commit the change very soon.

[2021-01-24 19:10] aspyct commented on #5319
Hello good people,

I've just compiled the dev branch on windows. I'm still getting "Exif data not available" for a CR3 file from a Canon 250D. Is that expected?

If so, I'd be willing to help solve this. Would that be feasible for someone new to the codebase, or is it an in-depth task? Any pointer is appreciated.

[2021-01-24 19:28] Thanatomanic commented on #5319
@aspyct The support is always welcome! However, we're making the [transition to use exiv2](https://github.com/Beep6581/RawTherapee/pull/5889) for metadata support. The good people there will work on CR3 support and will probably have that available by the end of March. Until then, there will be no CR3 metadata support in RawTherapee.

[2021-01-25 02:13] #5936 closed, assigned to nobody

[2021-01-25 06:42] Desmis commented on #6069
Change push - commit 98f326df3

All seems to work... to verify  :)

jacques

[2021-01-25 11:23] simohno commented on #3317
I agree, this would add value to RawTherapee.
Apart from sorting, I also suggested, towards the way of having a "perfect" software, some other improvements concerning the navigator
[in another issue](https://github.com/Beep6581/RawTherapee/issues/5915)

[2021-01-25 22:45] arturoisilvia opened #6074 "Local Adjustments: Disable Spot does not work with Denoise"
Hello!
Disabling 'Disable spot' has no effect on 'Blur / Gain & Denoise' -> 'Denoise':
1.
![Captura1](https://user-images.githubusercontent.com/55624244/105774828-13e4d980-5f66-11eb-87f8-04f3332f3043.JPG)
2.
![Captura2](https://user-images.githubusercontent.com/55624244/105774842-1a735100-5f66-11eb-9b1f-df4e7b2615f4.JPG)
3.
![Captura3](https://user-images.githubusercontent.com/55624244/105774867-2

[2021-01-26 02:50] reffort commented on #6054
Well, with the quoted numbers:

that's a 5.2% difference--not much.

If you are saying that the code changes were done to benefit gcc, it was already twice as fast as the new Windows/clang build, based on the numbers you provided above. 20% would translate to about 45 ms.

Improving code efficiency and speed are great, but the speedup is only 30-45ms on a large file for something that's done spora

[2021-01-26 07:12] Desmis commented on #6074
@arturoisilvia

Thank you for testing :)

Fixed, this forgotten "Enable / disable" for de noise
Commit a5280fddf

Jacques

[2021-01-26 09:13] aspyct commented on #5319
Oh, end of March sounds great! Considering I'm not exactly up to speed with c++, it's probably best I leave this task to the pros then! I'm sure I'll find other ways to support RT in the future :)

Thanks for your prompt reply 👍

[2021-01-26 10:32] arturoisilvia commented on #6074
Ok, thanks.

[2021-01-26 10:32] #6074 closed, assigned to nobody

[2021-01-26 11:25] heckflosse commented on #6054
@reffort

As you can see in the source code

[code]
it was the original author of RCD who made the main changes.
Then Hanno and I optimized it further in collaboration with him.

[2021-01-27 03:13] reffort commented on #6022
@Desmis - I checked out the 0121.AppImage today, and those items I mentioned are looking good.  Thank you for working on them.

As you pointed out, though, removing the Auto check box from Viewing Conditions/Temperature does prevent the user from resetting the default value for Viewing/Temperature when in Preset-Symmetric mode.  Looking at the problem from the other direction--Would there be any d

[2021-01-27 09:45] Desmis commented on #6022
@reffort
Thank you for testing and comment :)

I will look to "add" a new mode for "symmetric" probably with a combo-box

Yes, tint = green.. But except in exceptional cases it is not recommended to touch this slider ....The good use is in White-balance

I will change "lattitude"...

Yes the "old" Rawpedia is "old"...I am the author....But it was in 2012
I will change (not tomorrow) the "incompati

[2021-01-27 12:08] TechXavAL commented on #6022
@reffort  @Desmis

I've just re-downloaded the pdf book, and now I think I understand what you meant by _«old»_: if you look at the very first page of the book, there's the creation date of the pdf, which in my local file says «Snapshot from October 25, 2020». Well, that's rather outdated, indeed.

The pdfs are automatically generated by a script run every sunday, but I have no clue why it has sto

[2021-01-27 12:13] Thanatomanic commented on #6022
@TechXavAL I have no clue how the PDF generation works, but if it is sensitive to CSS `@media` styles, you could try to define a `@media print` override that reduces the font-size.

[2021-01-27 12:16] Beep6581 commented on #6071
I have cleaned up dead branches in the past (#1122 #4339 etc), but be careful doing so. The information in an issue which gets closed remains accessible in perpetuity, while code in a deleted branch eventually gets deleted as well. That is to say, we should identify branches for deletion based on whether the code within them is not and will not be of value, not whether it's just stale or not. Leav

[2021-01-27 13:16] Desmis commented on #6022
@TechXavAL
In summary, "Old" is because the text is old and dates from 2012 and has not been updated. This is the general problem of any documentation.

jacques

[2021-01-27 13:33] TechXavAL commented on #6022
@Thanatomanic

The pdf generation runs over a headless chrome browser, so you can think about it as just printing from chrome, but instead of sending it to paper, saving it to pdf (all done by the browser itself).

`@media` styles are the way to control the layout on pdf documents, and currently the main font size is set to 13 points, which is the same size as 17 pixels on a display.

12 points wo

[2021-01-27 15:56] ghost opened #6076 "Add an option to use lens corrections and flat fields embedded in image metadata"
This would be great because many cameras store lens corrections in image metadata. Already present in ART

[2021-01-27 16:02] Thanatomanic commented on #6076
Can you point us to what you mean? This is a very sparse feature request.

[2021-01-27 16:21] ghost commented on #6076
I'm sorry, looks like this is already done in the nightly builds. I'm closing this issue then

[2021-01-27 16:33] ghost commented on #6076
Edit: it isn't. In ART you can choose "embedded in metadata" under Profiled Lens Correction to correct distortion and vignetting based on the image metadata. There is also this option for the Flat Field. In ART you can go there and check "Embedded in metadata", but there is no option for this in Rawtherapee

[2021-01-27 16:50] Thanatomanic commented on #6076
Thank you for the updated explanation. Still, especially if this is already discussed and/or implemented elsewhere, please point us to 1) the code, 2) the issue in ART or 3) the pull request that handled the addition of the feature.

[2021-01-27 17:38] ghost commented on #6076
I think it was added in version 1.7:
https://discuss.pixls.us/t/art-new-releases/16500/110
Also:
https://bitbucket.org/agriggio/art/commits/1de9ad8bedd1659541da6b64b662639484b1c758
https://bitbucket.org/agriggio/art/commits/33d835b86c0581a6e9892f8adadd41ade3ec8c61

[2021-01-28 01:36] ghost opened #6077 "Add an option to show sharpening and noise reduction at any zoom level"
This way a preview image in editor will be closer to the final output. Present in ART:
https://bitbucket.org/agriggio/art/commits/58369f7d5a3f75f34d06cb338a00ab84f0e84aa5

https://bitbucket.org/agriggio/art/commits/c054ad6c74c2d442e76384d7e468f82e0a0de8c9

[2021-01-29 03:31] ghost opened #6078 "Add an option to merge 2 frames from Dual Pixel RAW to a single image with improved dynamic range"
There is an SN mode already, but this is a bit different. I think you can even hardcode that the first frame is exactly 1 EV brighter than the second. There is DPR Split, but it is not open source, and it would be great to have the extended dynamic range in a single click

Maybe I should submit this to HDRMerge first?

[2021-01-29 08:13] Beep6581 commented on #4221
Duplicate of #1972

[2021-01-29 08:13] #4221 closed, assigned to nobody

[2021-01-29 08:37] Beep6581 commented on #6077
Related to #2900

[2021-01-29 08:38] Beep6581 commented on #6078
Duplicate of #1972

[2021-01-29 08:38] #6078 closed, assigned to nobody

[2021-01-30 06:37] Desmis commented on #6022
I just merge the branch ciecamimprov

All changes request are done
Now 3 choices instead of one for Cat02/16 auto
* classic
* summetric
* mixed

And corrections are now fixed fot "latitude" and "tint"

Jacques

[2021-01-31 05:08] ghost opened #6081 "The gamma is incorrect in the preview mode"
Version 5.8, Windows
Please see http://www.ericbrasseur.org/gamma.html

[2021-01-31 09:28] ff2000 opened #6082 "LA: Changing Spot method between Normal and Excluding resets shape outlines"
This is with current master 6b1e5d.

To reproduce:
Enable Local Adjustments, Add a spot, change the shape points (e.g. make the area larger), then change from "normal" to "excluding" - the shape gets reset.
Unfortunately the changes aren't recorded in the history so one has to manually adjust the shape again.

[2021-01-31 09:31] ff2000 commented on #6081
I just recently reported this issue:
https://github.com/Beep6581/RawTherapee/issues/6021
(A little clumsy wording because I basically know nothing about all that...)

[2021-01-31 09:39] ff2000 opened #6083 "LA (GUI): Move "Show Additional Settings" checkbox further down"
![Screenshot_20210131_113341](https://user-images.githubusercontent.com/1973708/106380033-63893200-63b8-11eb-85ef-c2d39aa4e7cb.jpg)

With the current placement it seems the setting relates to all spots, but actually it affects only the current one.
For that reason I think it makes more sense to place the element below the spot list. Right next to "Enable Spot" would be a lot of space.

(IMO the be

[2021-01-31 10:19] Desmis commented on #6082
@ff2000
Hello

Thank you fo testing :)

it is the "normal" behavior.... Sorry, very difficult to change

Jacques

[2021-01-31 10:22] ff2000 commented on #6082
But AFAIR this hasn't been the behaviour until recently, probably since addition of "full image" method. (I'll checkk ASAP)
Update: Yes, went back to commit d36545 and changing the method does not alter the shape outlines.

[2021-01-31 10:40] Desmis commented on #6082
It s due to the 3 choices "normal" "excluding" , and "full image"...This last mode "auto" for "full image" leeds to this behavior...

I don't know how to to do otherwise :)

jacques

[2021-01-31 15:11] frspp opened #6084 "Feature request: Read xmp:rating from .xmp sidecar file"
Feature request:

.xmp sidecar is made for each raw image by for example Adobe Bridge. Read xmp:Rating, possibe values 0-5, and show it in browser as rank.

[code]

[2021-01-31 15:17] ghost commented on #6081
Ok, thank you, I'm closing this one

[2021-01-31 15:17] #6081 closed, assigned to nobody

[2021-01-31 17:07] EOBeav opened #6085 "Feature/Improvement Request: Guide Types in the Crop Module"
I'm a new GitHub user so hopefully I'm addressing this request properly.

RawTherapee needs improved guide types in the Crop module. Ideally, the user could create and upload their own guides for this purpose. However, a simpler and more immediate solution might be just to improve and expand upon the guides that are hard coded into the system. I'm not a coder, but if it's a matter of just creating

[2021-01-31 17:16] ghost opened #6086 "Feature request: User defined crop guides."
The request: The possibility for the user to create and add guides to the crop module.

This was asked for on pixls ([Additional frame guides in crop tool](https://discuss.pixls.us/t/additional-frame-guides-in-crop-tool/23145/)).

@heckflosse mentioned that the current guides are hardcoded. I'm not a developer and thus have no idea how hard it is to implement a 'dynamic guide' possibility,  so add

[2021-01-31 17:47] TechXavAL commented on #6085
Isn't the Fibonacci ratio the same as the Harmonic means?

And the Golden triangle is already implemented in 2 versions, isn't it?

Custom guides would be nice, by the way.

[2021-01-31 18:11] ghost commented on #6085
`Isn't the Fibonacci ratio the same as the Harmonic means?`
Not in this context.

Harmonic means / Golden sections:
![hm](https://user-images.githubusercontent.com/56407344/106393545-9864ab80-63ef-11eb-8f3c-d953197646fb.png)

Fibonacci ratio / Golden spiral:
![Fibonacci_spiral](https://user-images.githubusercontent.com/56407344/106393407-d57c6e00-63ee-11eb-9597-0f3b34eba9c0.gif)

These fit perfect

[2021-01-31 21:18] EOBeav commented on #6085
Yes, there are a few different ways of displaying the golden triangle (or just triangles in general, golden or otherwise).  I guess in this case custom guides would be ideal. The Fibonacci ratio guide above would be important, as well as the different combinations of overlay.

[2021-02-01 09:18] Desmis opened #6087 "Local adjustments - Denoise - Improvments with Non local means"
Local adjustments – Denoise – improvments with Non-local means

**What is « Non Local Means » ?**

Here Wikipedia definition : Non-local means is an algorithm in image processing for image denoising Unlike "local mean" filters, which take the mean value of a group of pixels surrounding a target pixel to smooth the image, non-local means filtering takes a mean of all pixels in the image, weighted b

[2021-02-01 10:58] Curious2021 opened #6088 "Huge load on CPU causing fan noise to act up when starting Raw Therapee."
Windows 10 latest build.
Dell XPS 17 9700 with 32 gigs of RAM with 1T of storage.

Installed Raw Therapee 5.8 a few days ago and immediately noticed my fans acting up just for opening up the program. I didn’t do anything other than simply opening the program and my CPU fan noise immediately goes into overdrive. Closing Raw Therapee immediately stops the fan noise. Cannot use Raw Therapee until thi

[2021-02-01 11:00] Thanatomanic commented on #6088
RawTherapee is probably generating thumbnails at the moment. Does the CPU usage decrease after doing nothing for a while (~ few minutes) and staying in the file browser?

[2021-02-01 11:02] Curious2021 commented on #6088
No. I did’t get the chance to do that since the fan noise was concerning me a great deal. I had to turn it off because of the fan noise and didn’t understand why my computer fan noise was going crazy. Is there a setting where I can disable indexing the photos to stop this if that’s what’s causing the problem? Because just turning on Raw Therapee was causing my fan noise to go way up.

[2021-02-01 11:08] Thanatomanic commented on #6088
It seems you are afraid of using your CPU? If you are already concerned about noise when starting RT, you will probably never dare to export images as that is also very CPU intensive and your CPU needs its cooling.

The indexing cannot be turned off because it is our aim to provide accurate thumbnails as part of a good workflow, sorry.

[2021-02-01 11:21] Curious2021 commented on #6088
There must be something else that’s causing the problem in Raw Therapee because I also have Dark Table and this doesn’t give me fan noise issues when indexing photos. Given that comparison between both programs and since they have to index photos...and assuming both programs index photos correctly then it can’t be the indexing that’s causing the problem in Raw Therapee. There’s got to be something

[2021-02-01 11:26] Thanatomanic commented on #6088
I'm afraid the answer is currently no, but maybe @heckflosse can still chime in.

[2021-02-01 11:35] gaaned92 commented on #6088
didn’t understand why my computer fan noise was going crazy

When fans are going to be crazy noisy as you write, perhaps it is time  to change them.
Going 100% CPU for a long time should not be a problem, When running FAH full power, my PC stays at 100%CPU without noticeable noise.

[2021-02-01 11:40] heckflosse commented on #6088
To test whether the thumbnail creation causes the "issue" you can

1) create an empty folder (for example `c:\empty_folder`
2) start rt from commandline `rawtherapee c:\empty_folder`

Maybe also related:
http://rawpedia.rawtherapee.com/Film_Simulation#Startup_time

[2021-02-01 11:46] Curious2021 commented on #6088
The problem for me is the Dell XPS 17 has an unacknowledged logic flaw in the battery power usage. The issue is the Dell XPS 17 line only has 130 watt battery bricks supplied with this model. So Dell is using a proprietary technology to power this laptop model. Apparently if the Dell XPS 17 has a increase in CPU load, like loading up Raw Therapee, Dell is allowing the XPS 17 model to draw battery

[2021-02-01 11:49] Thanatomanic commented on #6088
While I agree that RT has areas where its CPU usage has room for improvement, I don't think we can be asked to find a solution for what is essentially a hardware choice/problem on your side.

I will close this issue for now and hope for your understanding of our point of view.

Edit: if you can pinpoint a more exact problem with high CPU load, of course feel free to address this.

[2021-02-01 11:49] #6088 closed, assigned to nobody

[2021-02-01 17:41] itsmark166 opened #6089 "Canon R6 Not reading white balance info from Camera"
Windows 10 18363
Version: 5.8-2743-g6b1e5d618
Branch: dev
Commit: 6b1e5d618
Commit date: 2021-01-30
Compiler: x86_64-w64-mingw32-gcc\ 9.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\ -fno-math-errno\ -Wall\ -

[2021-02-01 19:18] Thanatomanic commented on #6089
What would be your expectation in this case? What does another raw processor do?

Can you provide at least two images that were certainly taken in very different lighting conditions? I'm not sure myself on where RT gets the WB from, but I can imagine this is related to the Exif information which cannot be read from CR3 files (yet).

[2021-02-01 19:52] itsmark166 commented on #6089
Yes, I had wondered if it was related to the exif information but was unable to check this out - internet searches go no further than linking exif to aperture, iso, shutter speed. RT is showing the exif information for the jpegs but the white balance values remain the same for all jpeg images (although slightly different to the value that RT is coming up with for the raw file). For a while I had a

[2021-02-01 19:54] Thanatomanic commented on #6089
@itsmark166 You can try using https://filebin.net or https://www.file.io to share large files

[2021-02-01 19:55] heckflosse commented on #6089
Upload to filebin.net and post the link

[2021-02-01 19:56] heckflosse commented on #6089
@Thanatomanic was a minute faster ;-)

[2021-02-01 19:58] itsmark166 commented on #6089
p.s. I realise that the .CR3 file format is a bit of nightmare. For ages I thought my M50 was a useless camera - in DPP4 the images looked sort of smeared out. Not pretty. It was only once RT got to be able to open them that I realised they were quite good images!

https://filebin.net/fe6dh1660hcfghfy

https://filebin.net/snck0gvd50e0scaj

Raw files! that is a handy tool. Thanks for sharing that b

[2021-02-01 20:11] Thanatomanic commented on #6089
In verbose mode I get this:
[code]

I get exactly the same white balance when opening Canon R6 files from other sources. Actually, also the same white balance when opening Canon R5 shots. Like this one:
[code]

(edited) So values between camera's seem to be different (which makes sense), but the `Raw As Shot White balance` is still identical.

[2021-02-01 20:21] itsmark166 commented on #6089
Well, at least I am not making it up! So it is definitely reading the white balance from the shot as the same. I don't understand what the raw reference white balance values are? They vary from image to image but obviously don't affect what RT displays to me.
M

[2021-02-01 21:23] heckflosse commented on #6087
@Desmis Jacques,

Alberto asked me if I want to have some fun optimizing his implementation. So I did :smiley:
Glad you picked it up.

[2021-02-01 22:45] TechXavAL commented on #4959
Rescuing this issue. Sorry if I'm out of topic (I think I'm not).

Even if not all the topics, controls and peculiarities of the tool are covered, there's already [an Spanish documentation for it](https://rawpedia.rawtherapee.com/ICC_Profile_Creator/es). It covers some basics and terminology while explaining how to use the tool itself.

It should be easy to translate with an online translator.

Ju

[2021-02-02 05:38] ff2000 commented on #6085
I often miss plain simple center lines. I do not care too much about positioning perfectly via harmonic means/rule of thirds/... because usually subjects are big and "chaotic" enough to make it hard to pick the center. But I like to judge if right/left halves are balanced. Or I want to align the subject perfectly horicontally centered.
I also tend to abuse the grid lines for leveling. I often stru

[2021-02-02 05:54] ff2000 opened #6090 "Make "crop guides" a global tool"
Many transformations (like rotate, perspective, distortion) make it necessary to re-check if the subject still is positioned correctly according to the preferred composition rule. Having to move to the "crop" tool feels a little bit weird therefor.
I suggest to add a button to the quick operation icons (or even a keyboard shortcut) to quickly show/hide the guides. Long press on that button would o

[2021-02-02 06:02] ff2000 commented on #6082
If it's hard to keep the outline at least register the change properly so that going back in history restores the previously (carefully crafted ;)) shape.

Where in the code do you handle the mode change? I could have a look if I have an idea (likely not... but at least I want to try to help :))

[2021-02-02 07:31] ghost commented on #6085
@ff2000

That would certainly be a welcome expansion, especially if you would add 2 diagonals as well.

BTW: I don't think all this needs to necessarily be integrated into the current crop tool, it can be a stand alone addition. The way the current crop tool works is that if you set, say, rule of thirds it stays visible even if you start working with another module. Same principle could be applied

[2021-02-02 07:58] #4505 closed, assigned to nobody

[2021-02-02 08:00] Thanatomanic commented on #4649
A slightly newer issue explains this request more thoroughly: https://github.com/Beep6581/RawTherapee/issues/4982

[2021-02-02 08:00] #4649 closed, assigned to nobody

[2021-02-02 08:11] Thanatomanic commented on #6085
There is a long-standing request for guides independent of the crop tool, see here https://github.com/Beep6581/RawTherapee/issues/504
I am very much in favour of this idea, but who is going to do it? 😄

@EOBeav Can you elaborate further on which changes you would actually want? The request in your initial post is not overly specific.

The idea of custom guides is interesting, but possibly quite ha

[2021-02-02 08:13] Thanatomanic commented on #6090
Duplicate of https://github.com/Beep6581/RawTherapee/issues/504

[2021-02-02 08:13] #6090 closed, assigned to nobody

[2021-02-02 08:14] Thanatomanic commented on #6086
Merging issues is not really possible. @jade-nl, you have worded your issue nicely here, so maybe just copy/paste it in https://github.com/Beep6581/RawTherapee/issues/6085
Closing this one now.

[2021-02-02 08:14] #6086 closed, assigned to nobody

[2021-02-02 08:17] #2352 closed

[2021-02-02 08:20] Desmis commented on #6087
I just add a slider "gamma".
Lower values preserves details and texture, Higher values reinforce denoise.

I also change basic <> standard <> advanced

Jacques

[2021-02-02 08:22] Thanatomanic commented on #6084
Currently only embedded XMP data is read from files. There has been work in the past on implementing xmp-sidecar read/write, but it was never finished. https://github.com/Beep6581/RawTherapee/issues/463

I guess that after we migrate to use `exiv2` we can start thinking about this issue again.

[2021-02-02 09:01] ff2000 commented on #6083
Do you like this?
![Screenshot_20210202_110105](https://user-images.githubusercontent.com/1973708/106576571-facfc000-6545-11eb-9006-58e8fe9bfb80.jpg)

[code]

[2021-02-02 09:02] Desmis commented on #6082
@ff2000
The code is only GUI....And I am not at all a specialist
The main code is in "controlspotpanel.cc", (spotMethod_) but also to save / restore with pp3 , locallab.cc, procparams.cc, paramedited.cc and of course for "events" in procevents.h and refreshmap.cc

The problem is for me the same as for others variables when you change "basic" / "standard" / "advanced"...reset are "default"

The sys

[2021-02-02 09:56] ghost commented on #6085
@EOBeav  and I both created the same issue within minutes of each other. I asked them to be merged, which I now understand cannot be done. I'll copy/paste my FR here, as suggested by @Thanatomanic when he closed mine, so there's an hopefully better all-round idea what it is that "we" want.

---
*copy/past starts here:*

The request: The possibility for the user to create and add guides to the crop

[2021-02-02 16:22] Pandagrapher commented on #6083
@ff2000

I have still planned to rewrite the spot list but, as my job is now full time, I am having a break on it for a long time... (I use to develop "by phases"). Just need to find time to continue my work on it.

IMHO, "additional settings" should be located at "enable" location (while "enable" is moved to spot list with my work + there is already a lot of elements moved to spot list columns).

[2021-02-02 16:22] Pandagrapher commented on #6082
@ff2000 @Desmis
The problem is due to a bug in `ControlSpotPanel::spotMethodChanged()` method. I will provide a patch this WE.

Pierre

[2021-02-02 18:16] Desmis commented on #6087
I just create a PR
https://github.com/Beep6581/RawTherapee/pull/6091

[2021-02-02 20:16] chaimav opened #6092 "Local Adjustments: preview DeltaE does not work with Black-and-White tool enabled"
The preview DeltaE function does not work when Color: Black-and-White tool is enabled. The image remains B & W and there is no green overlay.
RT 5.8-2745, Win 10, i3-8100.

[2021-02-03 06:58] Desmis commented on #6092
@chaimav
Thank you for testing :)

for me I don't think I can find a solution.

When the PR will be merged (BW after LA) we see a little better the incidences of the BW settings...
https://github.com/Beep6581/RawTherapee/pull/6080

jacques

[2021-02-03 11:34] chaimav commented on #6092
Can you at least write in the tooltip to warn of the issue? It took me a bit of time to narrow down why preview DeltaE was not working.

[2021-02-03 12:01] Desmis commented on #6092
@chaimav
I push this change with the PR
https://github.com/Beep6581/RawTherapee/pull/6080

Thank you

Jacques

[2021-02-04 16:06] Pandagrapher commented on #6082
Fixed with pull request #6093

[2021-02-04 16:06] #6082 closed, assigned to nobody

[2021-02-04 17:19] Desmis commented on #6029
@Thanatomanic  @heckflosse @TechXavAL

So what do we do? I propose the icon "hand" (or another one  proposed by Xavier) with a red dot, or a red cross, or a red exclamation mark, next to it.

jacques

[2021-02-04 17:26] Thanatomanic commented on #6029
I think that anything red will unnecessarily scare users in thinking that something is wrong with their file. I like @TechXavAL's suggestion for the area icon. Xavier, could you try to work that into something roughly the same size as the HDR label? Does it still look clear?

[2021-02-04 17:46] Desmis commented on #6029
@Thanatomanic
No problem for me :)

jacques

[2021-02-04 18:57] TechXavAL commented on #6029
That icon is indeed roughly the same size of the HDR box in the SVG file.

![icons](https://user-images.githubusercontent.com/52250392/106940353-bdc02500-6721-11eb-9e5d-59d4fdbe4515.jpg)

The square surrounding the PS icon is the boundary of the icon itself (the icon is not just the frame and the letters). Taking this into account, the oval shape and top/bottom dots perfectly fit into the square,

[2021-02-05 08:30] ff2000 opened #6094 "capture sharpening creates double lines"
I really like how capture sharpening can recover crisp details in many shots.
Unfortunately with contrasty edges it tends to produce double lines. E.G. shooting a branch against white snow:
![Screenshot_20210205_101720](https://user-images.githubusercontent.com/1973708/107007830-bc334300-679b-11eb-8b58-ba6144966a4a.jpg)
As I shoot a lot of HighRes now with my OLY I need the power of Capture sharpe

[2021-02-05 09:14] Beep6581 commented on #6029
This problem is not limited to the Local Controls/Local Lab/Local Adjustments tool, or whatever it's called now (I'm going through RawPedia and see no consistent name for this tool - to be fixed). Other tools have this problem too, at least Wavelet Levels and Retinex.

In my opinion RT should have a generic icon indicating that the thumbnail is probably unreliable, shown whenever any potentially-t

[2021-02-05 09:21] Thanatomanic commented on #6094
I believe this comes down to: for any automagic tool, you have to make a compromise somewhere. The automatic radius finds a value that is pretty large (> 1 px) which results in an overshoot of the sharpening and a darkening of edges. This is a known result of the underlying sharpening algorithm. Unless @heckflosse says otherwise, I think the only thing that we _might_ do here, is fine-tune the aut

[2021-02-05 09:28] Beep6581 commented on #3148
Closing due to lack of followups.

[2021-02-05 09:28] #3148 closed

[2021-02-05 09:38] Beep6581 opened #6095 "Local Adjustments documentation"
RawPedia uses MediaWiki, and MediaWiki markup must be used consistently.

- [x] Clean up formatting and structure - rough first pass.
- [ ] Clean up [formatting](https://www.mediawiki.org/wiki/Help:Formatting) - detailed.
- [ ] Fix how [images](https://www.mediawiki.org/wiki/Help:Images) are rendered.

This issue does not cover examining the actual content for accuracy and clarity.

[2021-02-05 09:42] Beep6581 commented on #6095
@Desmis @TechXavAL what is the purpose of the suffix numbers in the "Introduction" section?

[2021-02-05 10:25] ff2000 commented on #6094
This is with a small diameter (0.6):
![Screenshot_20210205_120412](https://user-images.githubusercontent.com/1973708/107019402-484c6700-67aa-11eb-8cbb-42a1e0b33ca7.jpg)
RAW file: https://www.dropbox.com/s/vkdki4i9f6i03nq/P2010311.ORF?dl=0

HiRes with 0.85:
![Screenshot_20210205_121039](https://user-images.githubusercontent.com/1973708/107020159-328b7180-67ab-11eb-99d1-330ba21a561e.jpg)
RAW file: h

[2021-02-05 10:25] waynesutton50 commented on #6095
This is noted in the Introduction:

[2021-02-05 13:35] TechXavAL commented on #6029
While the ideal solution would certainly be the thumbnails showing all the changes made by all tools, I understand that if there are several tools that don't update the thumbnails, an specific icon for each of them won't be desirable: what happens when we use several of those tools? Do we add several icons, one for each tool?

So, following your reasoning, here there are some generic icons:

![thu

[2021-02-05 13:47] TechXavAL commented on #6094
It seems to me that a big part of this problem comes from the Iterations set.

By default there are 20 iterations and auto-limit is turned on. Even if usually this is all you need, there are situations (and I think this is one of them) where you may wish to lower that number to something between 8 and 12 (by trial and error).

Think about iterations as sharpening the sharpened image a number of ti

[2021-02-05 13:50] TechXavAL commented on #6095
Also, don't forget to read the extensive documentation about how RawPedia pages must be coded to take advantage of all the styles available on the css file:

https://rawpedia.rawtherapee.com/Coding_Rawpedia_pages

If you ever need examples, take a look at the code of the few Spanish pages already online.

[2021-02-05 15:15] heckflosse commented on #6094
@ff2000 Can you provide a raw? I would like to test something...

[2021-02-05 15:37] Thanatomanic commented on #6094
@heckflosse The last post with images contains links to the RAW files

[2021-02-05 15:50] heckflosse commented on #6094
Oh, must have been blind :-(

[2021-02-05 16:06] ff2000 commented on #6094
The second post contains links to RAW files.
Here is the RAW file from the first post:
https://www.dropbox.com/s/jnjbccyxsguicme/P1120122.ORF?dl=0
And the Non-HighRes .ori file:
https://www.dropbox.com/s/3ijp8wvsny68hoi/P1120122.ORI?dl=0
Might be interesting as it was a quite foggy day and the tree is covered in snow and fog (hence generally little sharpness), also it shows the strongest halo.

He

[2021-02-05 17:20] heckflosse commented on #6094
That's the point. The fog confuses the radius auto-calculation. Using the poor_man_dehaze branch you see 3 black levels in console when opening a raw. If you set them in gui, you get a much better radius auto-calculation for this foggy shots.

![grafik](https://user-images.githubusercontent.com/13733487/107066781-abf08780-67de-11eb-855d-505024e92d2f.png)

[2021-02-05 17:49] itsmark166 commented on #6089
Can anyone tell me what might happen now? I think raw therapee depends on the skill of a group of volunteers who might well be pre-occupied with other things. The issues listed seem more of a wish list than bug reports.
Is it just a case of waiting to see if someone with the technical expertise required sees this report and has time to fix it? I imagine that working out canon code from raw files i

[2021-02-05 18:23] heckflosse commented on #6094
Just for fun another example what you can get by using the `poor_man_dehaze` black levels on hazy shots.
Distance to subject was about 7 to 10 km. Left neutral profile, right with `poor_man_dehaze` black levels
![grafik](https://user-images.githubusercontent.com/13733487/107073345-8c119180-67e7-11eb-9d56-9da3d619eaad.png)

[2021-02-05 18:34] Thanatomanic commented on #6089
As you say, it depends on who wants to spend time to fix this issue. All issues are seen, not all are commented on, and with only ~2,5 developers we cannot fix everything and do some cherry picking.

That being said, I suppose this issue can only be fixed after we have access to all metadata in the CR3 files, which will only happen after exiv2 supports it (happens soon) and we transition to using

[2021-02-05 18:42] TechXavAL commented on #6094
@heckflosse : I can't wait for this tool to be merged into dev :smile:

@ff2000 : those are my attempts with other CS settings. I've applied a heavy defringing, too. Adjust contrast and lightness to taste.

![P1120122](https://user-images.githubusercontent.com/52250392/107075044-ddbb1b80-67e9-11eb-8003-2678b3c2aaa4.jpg)
[P1120122.jpg.out.pp3.zip](https://github.com/Beep6581/RawTherapee/files/59345

[2021-02-05 18:44] itsmark166 commented on #6089
2 to 5 developers? Wow, their commitment is amazing. I thought there were 10s of people working on it. Are there lots of people who take the code away and adapt it for themselves?  Is there a way of contributing financially? I don't use all of the features of the software as I am more a photographer than image processor but to have something for free that is better in many ways to camera raw/light

[2021-02-05 21:15] TechXavAL opened #6097 "Color toning options and Black and White"
There are several methods for color toning an image, but what is the difference between:
* Lab blending and RGB-Curves? As I can see, there's just a single difference between them (the chroma drop-down list), so how can be justified the duplicity? Wouldn't it be quite a bit more logical that RGB-Curves actually showed RGB curves (as in the standalone tool)?
* Lab color correction grid and Color co

[2021-02-06 08:23] Desmis commented on #6092
@chaimav
With the new placement LA in the pipeline. Now it is before "Black and white", I think it is possible to do...
Before with LA after it was totally impossible because BW neutralized all scope deltaE actions.

I push a commit - 856d445802 - in branche "lanewlocation". I hope if fixed this behavior

Jacques

[2021-02-06 16:39] ror6ax commented on #5825
You guys rock! RT is an amazing piece of software!

[2021-02-06 19:37] heckflosse commented on #5825
Well, Capture Sharpening, raw CA correction iterations, Pixelshift, etc... were a lot bigger...

[2021-02-07 14:41] simohno opened #6098 "Automatic recover of last processing profile seems to fail in some cases"
I like the fact that, when opening a file in Editor mode, RT seems to seek aside the file (or in the cache folder, depending on the setting about where to save the pp3), for a pp3 already present, named in the same way, and it loads it automatically to recover the last processing settings.

I noticed though that in some cases, when a file (e.g. in my case a developed RAW I am satisfied with) is mo

[2021-02-07 22:16] renierra commented on #2901
Hello from 2021 - I'm really having trouble generating this fake HALD file as a DNG.. Do you guys still have any around because the links above have expired obviously.. Trying to profile results of a developing software here and a DNG HALD really is what I need...

[2021-02-07 22:19] renierra commented on #2901
@Beep6581 hello from 2021 - I'm really having trouble generating this fake HALD file as a DNG.. Do you guys still have any around because the links above have expired obviously.. Trying to profile results of a developing software here and a DNG HALD really is what I need...

[2021-02-07 22:20] renierra commented on #2901
@Beep6581 hello from 2021 - I'm really having trouble generating this fake RAW HALD file as a DNG.. Do you guys still have any around because the links above have expired obviously.. Trying to profile results of a developing software here and a DNG HALD really is what I need...

[2021-02-08 07:38] Thanatomanic commented on #2901
@renierra You might have more luck if you post this request on the https://discuss.pixls.us forum. There's plenty of enthusiasts who might be able to help you.

[2021-02-08 19:22] ff2000 commented on #6094
The only foggy shot was P1120122.ORF - all other shots had the tree surrounded by absolutely no fog, subjects stood clear in the field. And I do not want to get rid of the fog by dehazing. The High Res Shots generally look a bit foggy/hazy. It's 80MP due to the Algo (shifting/blending 8 shots), Oly somewhere states that one should scale them down to 40/50MP. And after that (with proper sharpening)

[2021-02-08 19:22] #6094 closed, assigned to nobody

[2021-02-08 20:38] polezhaevdmi opened #6100 "Processing profile created at the wrong place"
Found the RT 5.8 saves processing profile file near the image, despite of corresponding setting. Look at the image, please, the desired (for me) settings are set. As for me, I need no extra profiles at all: the <IMAGE>.pp3 file, which is near to RAW and defines the 'development' - is completely OK.
Tried to run RT as Administrator (assuming the cache is unavailable for write) - the effect remainin

[2021-02-08 20:59] Thanatomanic commented on #6100
I cannot reproduce on my end, same configuration. What happens when you remove `IMG_9410.CR2.pp3` and open the `IMG_9410.CR2` again from RT?

![image](https://user-images.githubusercontent.com/6567747/107280621-dbaac400-6a58-11eb-9191-18f49a4cd22c.png)

[2021-02-08 21:00] polezhaevdmi opened #6101 "External Profile Builder interferes with Win10 security"
Investigated, why the Custom Processing Profile Builder, being configured as shown below, does not invoking upon profile reset. And found:
- RTProfileSelector does not run in "C:\Program Files" and "C:\Program Files (x86)" catalogs;
- RTProfileSelector does run from "D:\RTPS", "C:\1", and "C:\1 1" catalogs;
- If RT was started 'as Administrator', RTPS works fine in ALL catalogs mentioned above (so

[2021-02-08 21:04] Thanatomanic commented on #6101
Is this caused by us or by https://github.com/marcapelini/RTProfileSelector/?
Ping @Marcapelini for some ideas.

It sounds very unlikely we will implement such a thing. imo, in case of calling external programs it is up to the user to ensure the file system is set up properly.

[2021-02-08 21:13] Thanatomanic commented on #6097
The Color Toning tool is definitely one of the weirder ones in RT. As you say, there is much overlap between the subtools, and I think there is very marginal use for most of them anyway. The Color correction regions is vastly more powerful than all the others and I always thought you could do everything in there that is also possible in the other subtools. But truth be told, I have never bothered

[2021-02-08 21:13] #6092 closed, assigned to nobody

[2021-02-08 21:16] Thanatomanic commented on #6089
Hi @itsmark166, unless contributing financially is on the order of a year's salary, I don't think this will help much to speed up development 😉

As for your request, just stay tuned. A lot will still happen this year.

[2021-02-08 21:17] #6069 closed, assigned to nobody

[2021-02-08 21:17] #6053 closed, assigned to nobody

[2021-02-08 21:18] #6067 closed, assigned to nobody

[2021-02-08 21:19] #6010 closed, assigned to nobody

[2021-02-08 21:28] marcapelini commented on #6101
Agreed, this is not an issue with RawTherapee.  Currently, RTProfileSelector doesn't follow proper Windows guidelines for writing files do AppData: it writes its log and debug files to the same folder where the application is located. There's no installer either (nor do I plan to release one any time soon), and the user is expected to "install" it manually into folder with full read/write access f

[2021-02-08 21:42] polezhaevdmi commented on #6100
@Thanatomanic, You are great! The development settings are restored, IMG_9410.CR2.pp3 file is not appeared during RAW to TIFF development. The IMG_9410.CR2.pp3 was re-created when I saved the processing parameters.
I continued:
- The .tif.out.pp3 and .cr2.pp3 files were deleted - the settings restored (from cache file);
- The .tif.out.pp3 and cache .cr2.*.pp3 files were deleted + the .cr2.pp3 file

[2021-02-08 21:48] polezhaevdmi commented on #6101
@Thanatomanic, @marcapelini, OK: the possible workaround is here, let it remain, and hope, this will be enough. Great thanks!

[2021-02-08 21:49] #6101 closed, assigned to nobody

[2021-02-08 21:50] #6100 closed, assigned to nobody

[2021-02-08 21:50] marcapelini commented on #6101
I have updated the documentation for [RTProfileSelector installation](https://github.com/marcapelini/RTProfileSelector/wiki/Installing-RTProfileSelector).  It's my fault that the original text didn't make it clear that RTProfileSelector requires full read/write access to its own folder.

[2021-02-08 22:15] TechXavAL commented on #6097
The Color Toning tool is far more powerful and useful than I can tell in a couple paragraphs. It only needs proper documentation, and maybe a couple extra videos from Andy...

But, first of all it should be enhanced/re-checked/fixed/improved (whatever you wish to say) so there's no misleading options that (unless I'm told otherwise) doesn't add anything new, or give you something different than th

[2021-02-08 22:37] TechXavAL opened #6102 "B&W channel mixer weird behavior"
When using the Channel Mixer method in the Black-and-White tool, _Preset: Relative RGB_, according to RawPedia:

Whenever you use one negative value that is not «higher» than the addition of the other 2 channels, everything goes as expected:

**R 2% G 2% B -4%**
![cmok](https://user-images.githubusercontent.com/52250392/107288970-98eee900-6a64-11eb-9b56-c1fe481b8297.jpg)

While if you set a negati

[2021-02-08 22:54] heckflosse commented on #6102
ping @Desmis

[2021-02-09 05:23] Lawrence37 commented on #6100
The *.tif.out.pp3 files are generated when you save an image and will always be saved in the same directory. If you don't the .pp3, make sure to uncheck the "Save processing parameters with image" option in the [save dialog](http://rawpedia.rawtherapee.com/File:Save_window.png).

[2021-02-09 06:24] Thanatomanic opened #6103 "Replace deprecated GTK code"
See https://developer.gnome.org/gtk3/stable/DeprecatedObjects.html. There are several instances where RT uses deprecated code. Before we step up to use GTK4 at some point in the future, it would be good to at least have no more legacy GTK3 code.

- [x] GtkStyle — Deprecated object that holds style information for widgets [4 hits]
- [x] GtkHScale — A horizontal slider widget for selecting a value f

[2021-02-09 06:33] Thanatomanic opened #6104 "Automatic distortion correction crashes on particular image"
See https://discuss.pixls.us/t/automatic-perspective-correction-thank-you/23154
1. Apply Neutral
2. Enable Automatic Distortion Correction.
3. RT exits 'gracefully' and throws an error

[code]

[2021-02-09 07:52] Thanatomanic opened #6105 "Recent upstream updates cause plenty of warnings when building on Windows"
I am not sure what triggered this, but this morning I ran `pacman -Syu` in my MSYS2 environment and updated several packages. Suddenly the compiler throws a lot of warnings. I repeat some of these below:

<details><summary>

[code]
and many similar notices (click this sentence to expand)
</summary>

[code]
</details>

Among the updates packages are:
[code]

So I guess this could have been triggere

[2021-02-09 11:39] #6104 closed, assigned to heckflosse

[2021-02-09 14:25] heckflosse commented on #6105
@Thanatomanic Confirmed. Quick and dirty solution would be to silence the warnings using `-Wno-attributes`.

[2021-02-09 14:27] Desmis commented on #6102
@TechXavAL
I will have a look...But to remember, all these algorithms are about 10 years old

And as I say (10 years ago)  - traduct from my french
"On the contrary, in the absolute mode, negative values, the use of the sliders “OYCPM” and the algorithm “Special effects” can lead to unexpected results: black screen, artefacts, ..."
In french there is not "in the absolute mode", but "absolute mode"

[2021-02-09 15:29] TechXavAL commented on #6102
I think I understand that if I use the _Presets: Absolute/Relative ROYGCBPM_ with the _Special effect_ sliders, I can get odd results depending on the settings on the sliders. Ok.

But I'm talking about the default _Preset: Relative RGB_. I haven't checked yet other modes, but this one is the default, the preset everybody will be faced to when using this _Channel Mixer Method_. No _Special Effects

[2021-02-09 15:34] Desmis commented on #6102
Yes

But if you put negative values, in preset relative RGB...you can lead to special effects also..

For me all is "normal"...if it is normal to use negatives values :)

jacques.

[2021-02-09 15:46] gergio75 commented on #5867
I have read all your discussion on this feature. I think that the best way to use the inspector is the following:
1. the "Inspect" tab must be always visible indipendently by the setting of “Open inspector in own windows or fullscreen”.
2. If “Open inspector in own windows or fullscreen”=FALSE then:
2a. we can see the embedded jpeg of the Raw file in the classical way, but in Inspect tab must be a

[2021-02-09 21:26] polezhaevdmi commented on #6100
Yes, I may skip the *.tif.out.pp3 during individual file processing, but I'm not able to do the same during batch (which I using) processing session. In my RT workflow (which I used with pre-5.8 RT) the initial 'recipe' files *.cr2.pp3 were compiled with RTProfileSelector, during the 'preparing to develop' all changes are stored in the same files, which were automatically used to batch develop all

[2021-02-10 02:45] Generic-Patriot opened #6106 "Blackmagic Pocket Cinema Camera 4k DNG support"
Hello, I noticed that the BMPCC4k files do not seem to be properly supported in Rawtherapee.  When lossy compression is used, there are weird dark purple pixels at or near the highlights, and full clipped white frame results in purple, as seen in the attatched pictures.
![white 3-1](https://user-images.githubusercontent.com/42362148/107457188-731a2080-6b06-11eb-8c48-8af40c17a973.png)
![white 3-1-1

[2021-02-10 05:03] Lawrence37 commented on #6100
When you say batch conversion, are you talking about the queue? If so, the queue also has the "Save processing parameters with image" option. As for why the setting is not in preferences, I don't know the original reason. To me, it makes sense because you may want to save the pp3 for some images but not others. It would be a hassle to have to go into preferences every time. Also, I think the optio

[2021-02-10 12:08] Desmis opened #6107 "Color Propagation -fixed artifacts"
Thanks to Alberto @agriggio  for this fix

branch : "hilitrecon"
 https://github.com/Beep6581/RawTherapee/tree/hilitrecon

jacques

[2021-02-10 13:00] dpecka opened #6108 "Auto-Matched Color Tome curve doesn't work very well with Fuji's x-trans RAFs"
Hello,

first few RAFs for the beginning, you can check them - tested it with stable 5.8 + RawTherapee_dev_5.8-2735-g8bb06c2_20210121

https://infophagia.com/ntz/paste/DSCF2782.tgz - especially fancy shape here
https://infophagia.com/ntz/paste/DSCF2776.tgz
https://infophagia.com/ntz/paste/DSCF2735.tgz - this is image from screenshots below

I've found an issue that FUJIFILM's RAFs don't work well

[2021-02-10 14:06] Thanatomanic commented on #6108
@dpecka Thanks for reporting here as well, we can take a look.
Could you please deduplicate the text in your post?

[2021-02-10 17:07] polezhaevdmi commented on #6100
@Lawrence37, You are great, many thanks! Exactly. My fault: I'm did not investigate all possible places in RT. Sorry for waste Your and @Thanatomanic time.
After deselection RT behavior changed as desired.

<img width="964" alt="rt03" src="https://user-images.githubusercontent.com/29210645/107544133-90b4bc00-6bd2-11eb-942f-a979db8d70b7.png">

[2021-02-10 20:15] dpecka commented on #6108
Hello,
did (deduplicate), there was accidental paste ... apologize
regards, dan

[2021-02-10 20:30] heckflosse commented on #6108
Also, https://discuss.pixls.us/t/exposure-tone-curves-profiles-per-brand-or-camera/23367/17

[2021-02-10 20:56] Thanatomanic commented on #6108
@dpecka Could you please test the Auto-Matched Tone Curve and set the curve to 'Luminance' mode? My guess is that you will be much more pleased with the result.

[2021-02-10 22:41] dpecka commented on #6108
Hello,

with luminance it looks bit better but if you look a little bit deeper, you can see this

https://infophagia.com/ntz/paste/Screenshot_20210210_233648.png

link on DSCF2782.RAF is above .. I am not a PRO in the field of digital image processing but to be honest, I don't remember that I've ever seen such a shape (that Tone Color curve) before for example with all my Nikon photos (99% of my p

[2021-02-11 17:57] Thanatomanic commented on #6106
Many thanks for the images. I have downloaded them in case anybody in the future needs them again.
Let's see how well we can improve support for these files.

[2021-02-11 20:25] Thanatomanic commented on #6106
As a naive first try, I did this
[code]

But then I end up with this (4k_UHD_4-1):
![4k_UHD_4-1](https://user-images.githubusercontent.com/6567747/107694231-7270be00-6caf-11eb-86ba-306709c8a71f.jpg)

And other files can still show artifacts at the position of the lamp, even though the value of 65472 is definitely the maximum raw value in the file.

[2021-02-11 21:51] TechXavAL commented on #6102
I've had some time to make some more tests. Allow me to ask again, please.

So just to make sure I'm not wrong, I've converted an image to B&W using the channel mixer method. I've left the default values for _red_ and _green_ (33), and I've changed _blue_ one step at a time. This are the RGB channel values I've got (values are %):

![chmxchart](https://user-images.githubusercontent.com/52250392/10

[2021-02-12 06:23] Thanatomanic commented on #6103
@heckflosse or @Floessie could you please advise me on how to fix the following:
https://github.com/Beep6581/RawTherapee/blob/6454737d0ce48e8d1004018bdda347dd0526dd4c/rtgui/guiutils.h#L375-L383

The `HScale` class should be replaced by `Scale`, but it needs a way to ensure `GTK_ORIENTATION_HORIZONTAL` is used when instantiated. Normally you would do `new Gtk::Scale(GKT_ORIENTATION_HORIZONTAL)`, bu

[2021-02-12 06:37] Desmis commented on #6102
@TechXavAL

All is normal....since you used negatives values....

jacques

[2021-02-12 10:05] Nicknroll opened #6110 "How to keep all pp3 files in a single folder?"
Can't figure out how to keep all pp3 files in a single folder instead of autosaving them in a root folder alongside with images.
Is there some option for this?

[2021-02-12 10:09] Thanatomanic commented on #6110
Hi, the whole idea behind the pp3 files is that they are _sidecar_ files, which should belong together with your images. If you do not care about that, or dislike that idea, there is an option in Preferences to store pp3 files in the cache. I'm not a 100% sure how well the cache handles files with identical names.

![image](https://user-images.githubusercontent.com/6567747/107755101-a89b5580-6d22-

[2021-02-12 10:41] Thanatomanic commented on #6103
Also, I managed to create this gem:
![image](https://user-images.githubusercontent.com/6567747/107758472-36793f80-6d27-11eb-9ecd-7150f3a8bfae.png)

Who needs a compact interface 👀

[2021-02-12 11:30] ChasingShadows commented on #6098
I'm using these settings

![image](https://user-images.githubusercontent.com/55600750/107762844-ebaef600-6d2d-11eb-97fa-101803642692.png)

adn always move the pp3 together with the raw. In addition. I have a pp3 for each output file.

I guess in your case to trust the cache ..

[2021-02-12 15:05] simohno commented on #6098
Possibly the problem is absent if you set up the software like that, and move always the RAW with its pp3 aside, because RT knows it has to search for the pp3 always next to the file (?)
The thing is that I personally don't like having those white files between the photo files in Explorer, the cache is far more neat system for me. And one could always access it via Run (in Windows) > _AppData\Loca

[2021-02-12 15:20] simohno commented on #6098
From the 1st answer to #6110 I just got an idea of what the problem could be when restoring files to a folder: RT thinks that the restored file is a _new_ and _different_ file with identical name to another, already cached, and so tries not to misunderstand the former with the latter, whereas the file is really the same. Hence, as I verified, RT creates a new default pp3 with another casual suffix

[2021-02-12 15:56] Nicknroll commented on #6110
Hi!
Great, i somehow missed this option, thank you!
I guess this is a good idea for photography series to keep files together, but in my case, for renderings, i add/move/delete a lot of files in a same folder, so in the end it appears like a mess.

[2021-02-12 15:56] #6110 closed, assigned to nobody

[2021-02-12 16:04] ChasingShadows commented on #6098
As far as I know, the criteria is a checksum. if the pp3 is not next to the file but in the cache.

If you move a file away and RT needs space in the cache, I'm pretty sure no longer existing files (from the cache point of view) lead to dump the related cache entry.  Hence, when you move the file to RT again, it doesn't find any saved pp3 file, not in the cache and not in the folder. So from the s

[2021-02-13 10:09] marter001 commented on #5867
i am confused by inspector... it should show the full view of the hovered pic, right?
pls, have a look to my pics: i am editing landscapes, hovering another landscape in the previews. What i expected, was, that one of those two files would get opened by inspector. But instead a macro stored in the same folder was shown.
And: The right frame part of inspector is transparent and doesnt show the whol

[2021-02-13 13:57] marter001 opened #6111 "Inspector window does not update from within the editor / filmstrip"
i am confused by inspector... it should show the full view of the hovered pic, right?
pls, have a look at my pics: while editing a landscape i was hovering another landscape in the previews. What i expected, was, that one of those two files would get opened by inspector. But instead another pic, earlier edited and stored in the same folder, was shown.
And: The right side of the inspector-frame is

[2021-02-13 13:58] twenster commented on #6045
On MacOs (X to XI), applications can be install in any directory where the user has permission to. The .app folder is the refered path. When testing, I usually drag and drop the application in ~/Applications, so stay in my home folder. I do this exactly as I'm installing a software or command in my ~/bin instead of /usr/bin.

It seems that the starting script uses a hard coded full path /Applicati

[2021-02-13 14:11] twenster opened #6112 "Wrong path used when processing profile directory"
*OS:* MacOS Big Sur
*RT:* 5.8 (february version)

RAWTherapee is install in /Applications (mandatory for it to run)

*Behaviour:*
Make any MacOS update (security). Once the update is applied, rebooted and is back on the desktop, RAWTherapee thorws the following error:
<img width="553" alt="RAWTherapee Reboot" src="https://user-images.githubusercontent.com/5445041/107851909-91856200-6e0d-11eb-9d15-

[2021-02-13 16:57] iliasg commented on #6036
For the moment, I can open and edit these files after first converting with the latest Adobe DNG converter.
There are some rare problems with hot pixels though :(

The original ProRaw files use tiling which is not supported by dcraw.c decoder used by RT .. (I am not sure if it's the tiling that dcraw cannot hold or just some related metadata ..)
Libraw decodes them .. ;)

[2021-02-13 17:27] Thanatomanic commented on #6111
So, the behavior in the editor mode is bugged, but I'm completely unsure what the expected behavior should be. To be honest, I had never noticed the 'Inspect' option in the context menu before and I can't seem to find an explanation in RawPedia about it.

The inspector window that opens can be panned and zoomed, but it is completely unrelated to either the selected picture in the filmstrip or the

[2021-02-13 17:28] Thanatomanic commented on #6111
@marter001 I have not been able to reproduce your partially transparent inspector.

[2021-02-13 18:38] marter001 commented on #6111
@Thanatomanic : just scroll the mousewheel front:

![inspector_4](https://user-images.githubusercontent.com/78749513/107858148-f56e5180-6e32-11eb-8695-1aabc73c0e83.jpg)

[2021-02-13 19:00] Thanatomanic commented on #6111
I'm sorry to say that scrolling and zooming still never gives me a transparent inspector window. At extreme zoom levels I can get some visible border, but otherwise the window behaves okay.

What is weird, is that if you open the inspector window from the filmstrip first, you get a small resizable window which can show you a different image than the one you've opened. If you then open the inspecto

[2021-02-13 19:05] Benitoite commented on #6045
@twenster  Using hardened runtime, relative paths are disallowed.

You are reporting intended behavior. The software runs in a secured hardened-runtime including hardcoding to /Applications. If there is a way around, a PR would need to be provided.

[2021-02-13 19:18] marter001 commented on #6111
@Thanatomanic i estimate, this could depend of the monitor-resolution. in middle-position of the mouse-wheel the window is filled, but scrolling in or out leads to strange results here ...
![inspector_5](https://user-images.githubusercontent.com/78749513/107859256-7aa83500-6e38-11eb-9ba9-e063b13286a0.jpg)

[2021-02-13 19:20] Benitoite commented on #6112
Not sure about 5.8- it is a year old.

[2021-02-13 20:26] Thanatomanic commented on #6103
I think I have managed to replace everything so far. But I need to fix this. PR coming soon.

![image](https://user-images.githubusercontent.com/6567747/107860833-0a061600-6e42-11eb-85be-39e974b3f927.png)

[2021-02-14 10:31] twenster commented on #6045
If the hardened runtime is mandatory, then releasing the app as an app bundle is not the best way to go. I would suggest to use the installer instead (like you install lightZone) That way you can install in path you like /opt/, /usr/, etc...

May be we should look at how Darktable does, because I can run it from ~/Applications without a problem.

[2021-02-14 10:33] twenster commented on #6112
Which version is currently officially available to work with ? So I can have a look.

[2021-02-14 16:26] #6044 closed, assigned to nobody

[2021-02-14 17:13] heckflosse commented on #6105
Any objection to add the above menttioned silencing flag?

[2021-02-14 21:06] Lawrence37 opened #6114 "Multiple Custom External Editors"
The current external editor feature has some limitations.
- GIMP and Photoshop are hard-coded as options.
- Other editors cannot be easily added.
- There is only one custom command line option.
- Switching between editors can only be done by opening preferences.

I would like to address the limitations by changing the UI. I'm thinking about replacing the radio selector with an editable list (simil

[2021-02-15 13:13] Beep6581 opened #6115 "Document Inspect"
I can't find documentation of the "Inspect" tab anywhere, nor keyboard shortcuts.

[2021-02-15 13:16] Thanatomanic commented on #6115
Very much agreed. It is _very_ scattered and incomplete after the modifications by @rfranke

You can find some tiny mention if you Ctrl+F for 'inspect' on these RawPedia pages: http://rawpedia.rawtherapee.com/Getting_Started and http://rawpedia.rawtherapee.com/File_Browser

[2021-02-15 13:16] Beep6581 commented on #6111
Maybe related to RawTherapee/RawTherapee#5946 ?

I tested in `5.8-2767-g`137f78f01 and `5.8-2759-g`a1f3edbea and don't get that "Inspect" entry in the context menu.

[2021-02-15 13:18] Thanatomanic commented on #6111
@Beep6581 Please make sure you have this enabled in Preferences:
![image](https://user-images.githubusercontent.com/6567747/107951421-99bdd880-6f98-11eb-8531-f9eee600e10c.png)

(and yes, this is completely undocumented as you already know)

[2021-02-15 18:30] TechXavAL commented on #6115
Indeed.

But as I think has been mentioned elsewhere, its behavior is more or less random, as in:
* it's not clear if pressing F will open the inspect window and leave it open, or you have to keep pressing F to keep viewing the image
* do you have to press Esc or F again, if the window keeps opened when you release F?
* does the inspect window have a title bar and close button, or is it a frameles

[2021-02-15 22:54] Benitoite commented on #3613
Maybe console status messages could be bifurcated over to an error stream stderr for image data to own stdout.

[2021-02-16 00:03] Waveluke commented on #3613
I'd definitely find this very useful, as for doing raw processing on high resolution raw video, it's easy to quickly run out of hard drive space with intermediary tiffs before encoding with ffmpeg.  4k 3:1 dng files are 3.5 megabytes a pop, but the tiffs are 48 megabytes uncompressed, and only about possibly 36-44 compressed, so the files quickly fill up hard drives, even when the original raw fil

[2021-02-16 05:08] Thanatomanic commented on #3613
@Benitoite Do you see any problem redirecting _all_ console logging/verbose output to stderr? Because that should be quite easy to do.

[2021-02-16 08:42] Thanatomanic commented on #6105
Well, it's a bit silly to suppress warnings - they exist for some reason, unless they're false positives - but for now, it seems the most elegant solution. Can you push?

[2021-02-16 09:32] Thanatomanic commented on #3613
@Waveluke I've quickly cooked up a branch `silence-output` that should forward all intermediate output of RT to `stderr` instead of `stdout`. Could you give this a test for your setup?

[2021-02-16 10:25] heckflosse commented on #3613
@Thanatomanic What about the `cout` ?

[2021-02-16 10:33] Thanatomanic commented on #3613
~~Isn't `cout` the C++ equivalent of `stdout`? If I understand things correctly, it is particularly this stream that should remain 'clean', no?~~

[2021-02-16 10:43] Floessie commented on #3613
@Thanatomanic Sure, but there are places using `std::cout` which also need to be changed.

[2021-02-16 11:32] Thanatomanic commented on #3613
I've pushed a change in the branch to include `std::cout`. That is all redirected to `std::cerr` now.

[2021-02-16 11:34] Thanatomanic commented on #3613
So far I have not touched `main.cc` and `main-cli.cc` since they are likely not interfering and also provide useful 'normal' output.

[2021-02-16 12:12] heckflosse commented on #3613
Hmm, imho this one
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main-cli.cc#L216
should also be std::cerr

[2021-02-16 12:37] Thanatomanic commented on #3613
@heckflosse Thanks, I've actually gone through all `cout`'s in `main-cli.cc` and changed most of them to `cerr`. The only ones still `cout` are those for the text when there is no input provided to the program.

@Waveluke I'm really curious if you can manage to get your pipeline to work this way. Take your time and please provide feedback.

[2021-02-16 18:56] Waveluke commented on #6106
This may or may not be useful, but I also discovered that Adobe DNG coverter v. 12.4.0.547 gets an “unable to parse file” error when converting the lossy compressed files, though fine with the uncompressed and lossless compressed BMPCC4k DNG files. Updating to v 13.1.0.658, I still had the same issue.

[2021-02-17 10:44] #6103 closed, assigned to Thanatomanic

[2021-02-17 11:39] Desmis opened #6116 "Local adjustments - Denoise - improve memory management"
In PR #5903  we saw that the need in memory for LA denoise was important.
More than 8GB (my own configuration) for files about 40 Mb (8000x6000)

Ingo, @heckflosse if you agree, we can put this improvement in 6.0

Jacques

[2021-02-17 12:34] heckflosse opened #6117 "Local adjustments Blur & Noise radius > 1.5 increases saturation"
left radius 1.5, right radius 1.6
![grafik](https://user-images.githubusercontent.com/13733487/108204953-ba1a9e00-7124-11eb-842e-959b52164e1a.png)

[2021-02-17 15:45] Desmis commented on #6117
@heckflosse

Ingo

There was an (old) bug...
I think this branch  "lablurbug" solve the problem
https://github.com/Beep6581/RawTherapee/tree/lablurbug

Jacques

[2021-02-18 16:05] #6105 closed, assigned to nobody

[2021-02-18 16:05] #6107 closed, assigned to nobody

[2021-02-19 10:08] dpecka commented on #6108
Hello,

another prominent example:

https://infophagia.com/ntz/paste/Screenshot_20210219_110650.png
++ RAF here
https://infophagia.com/ntz/paste/DSCF2952.RAF.gz

regards, dan

[2021-02-19 14:03] heckflosse opened #6119 "make iplocallab.cc a cppcheck and also -Wdouble-promotion clean"
I would like to make iplocallab.cc a bit more cppcheck clean at the weekend.
@Desmis Jacques, can you avoid changes to iplocallab.cc until monday?

[2021-02-19 14:55] Desmis commented on #6119
@heckflosse
Ingo

No problem at all

In addition, I would not be available for a week, because my family is coming to visit us in Fréjus.

jacques

[2021-02-19 15:53] heckflosse commented on #6119
@Desmis

lucky you. In Germany that's not allowed atm

[2021-02-19 16:07] simohno commented on #6098
The thing is that when I delete/move the file, no pp3 is deleted at the same time, I verified it keeping open the cache folder into AppData. When the file is moved back, a new pp3 (default settings) is generated with another suffix. The old, as I said, is still manually re-loadable.

Possibly it deletes an "entry" in another "internal" database? De-associating permanently that pp3
Or otherwise, th

[2021-02-19 17:07] Desmis commented on #6119
@heckflosse
Ingo

Yes, but before,  all my family do an anti covid test
jacques

[2021-02-20 00:38] Waveluke commented on #3613
OK, I am a bit noobish on this TBH, (also mistakenly checking PIXLS more than here (whoops)).  Would the latest auto-compiled dev version have this change?

Edit: I found that there is a separate silence output branch that you guys recently did.   This would be my first time compiling Rawtherapee from scratch.  How would I know if something doesn't work, it being something on my end (not compiling

[2021-02-20 10:35] chy9003 opened #6121 "can you show me the cmake command when your team release a version?"

[2021-02-20 10:38] Thanatomanic commented on #6121
I don't understand your question.

[2021-02-20 15:08] heckflosse commented on #6119
I changed the topic title because I will try now to make iplocallab.cc also -Wdouble-promotion clean

[2021-02-21 07:40] ff2000 commented on #6115
Probably we should discuss first how we really want to interact with "inspect". I think it would be enough to simply launch a maximized inspector window - with a title bar, not fullscreen. It stays open until you press ESC or close it with the icon. It makes the interaction and the code unnecessarily complicated when you have to manipulate the current window state and persistence with shortcuts.
A

[2021-02-21 13:14] epos85 opened #6123 "Mouseover preview of HaldCLUTs"
Hello,

My first post on github, whoo..!

I'm a new RawTherapee user with lots of experience and time in applications like Lightroom, Capture One, Exposure X6 and Luminar. Application hoarder basically, but I like to test different stuff.

I think RawTherapee is missing out on not having a mouseover HaldCLUT preview or a preview box, and I also think that function alone would pull more people to t

[2021-02-22 01:27] Lawrence37 commented on #6098
@simohno Does RT fail to find the cached profile if you only move files using RT? The cache association should be kept when file operations are done in RT, otherwise it's a bug. I looked at the code and I believe the association is based on the file name and size (and creation time on Windows). If any of these change when you move the image using another program, RT won't be able to find the profi

[2021-02-22 08:17] #6121 closed, assigned to nobody

[2021-02-22 09:02] ghost opened #6124 "Local Adjustments: Spot outline stays visible when turning of the module."
**Short description**
The outline of the spot area stays visible when turning off the module.

**Steps to reproduce**
1. Activate *Local Adjustments* module,
2. Add an instance (default ellipse spot outline becomes visible),
3. (Extra) Add tool (Color & light, but any will do),
4. (Extra) Turn on *Preview delta E*,
5. Deactivate the module.

At this point the module should be completely inactive,

[2021-02-22 09:10] Thanatomanic commented on #6124
@jade-nl See also https://github.com/Beep6581/RawTherapee/issues/5811 which describes another downside of this

[2021-02-22 14:56] #6119 closed, assigned to heckflosse

[2021-02-22 15:06] Thanatomanic opened #6125 "Propose to switch from AStyle to clang-format"
I just committed a `.clang-format` file to facilitate code formatting using the clang toolchain https://github.com/Beep6581/RawTherapee/commit/310239dfbd659fb0d0612e279d6602d1d7dcbc30.
This works particularly well when working in VSCode, for which you only need to install a single extension, whereas getting AStyle to work requires a few annoying manual steps. Even without using an IDE, `clang-form

[2021-02-22 20:09] Beep6581 commented on #6125
I don't know this tool, but I support the arguments for using it.

In Sabayon Linux it comes part of sys-devel/clang

Running any code reformatter will break simple merges. Let's wait till after the release.

[2021-02-23 07:40] Desmis opened #6129 "Error with Msys2"
I tried to update msys2

command line
$ pacman -Syuu

and I get...
jacques@pc-bureau MSYS ~
$ pacman -Syuu
:: Synchronisation des bases de données de paquets…
 mingw32                                        894,4 KiB   311 KiB/s 00:03 [##########################################] 100%
 mingw32.sig                                    438,0   B  0,00   B/s 00:00 [######################################

[2021-02-23 07:43] adamreichold commented on #6129
Maybe your [keyring](https://www.msys2.org/dev/keyring/) is out of date? Could you try updating only the package `msys2-keyring` first?

[2021-02-23 07:51] Desmis commented on #6129
Excuse my bad knowledge...

What you mean , is it ?
$ pacman -Syu msys2-keyring
If it's true...does not work...

jacques

[2021-02-23 08:06] adamreichold commented on #6129
I think it would be
[code]
but I did not use Pacman in the recent past so YMMV.

[2021-02-23 08:43] Desmis commented on #6129
I tried with these informations

https://www.msys2.org/news/

Big update...but nothing work....(no update)...

Jacques

[2021-02-23 08:58] adamreichold commented on #6129
The steps described in https://www.msys2.org/news/#2020-06-29-new-packagers look reasonable, i.e. manually downloading `msys2-keyring` using `curl`.

[2021-02-23 08:59] Thanatomanic commented on #6129
@Desmis I remember having the same problem some time ago, but indeed @adamreichold 's linked solution worked for me

[2021-02-23 10:04] Desmis commented on #6129
@Thanatomanic  @adamreichold

I tried another time....with all the steps

Msys2 says me all is update...
But when I compile i have this message

-- Git checkout information:
--     Commit description:    5.8-2780-g902fdbd6c
--     Branch:                lagrain
--     Commit:                902fdbd6c
--     Commit date:           2021-02-23
--     Commits since tag:     2699
--     Commits since b

[2021-02-23 10:15] heckflosse commented on #6129
5 | #include <atkmmconfig.h>

cmake and make from scratch in a fresh build dir

[2021-02-23 10:39] Desmis commented on #6129
@heckflosse
Ingo

With a new build
All works fine
Now I am with gcc 10.2

Thank you very much
jacques

[2021-02-23 10:47] #6129 closed, assigned to nobody

[2021-02-23 14:24] ghost opened #6130 "Dither images before saving them"
Related to #1492
Dither images before saving them, even when saving to a 16 bit TIFF. Should increase output image quality by eliminating banding. Already present in Darktable

[2021-02-23 15:56] Pandagrapher commented on #6125
@Thanatomanic

To answer, this tool is available with most popular package manager:
- Homebrew --> Package `clang-format`
- Macports --> Part of package `clang`

Pierre

[2021-02-23 16:11] Thanatomanic opened #6131 "White balance picker out of whack on X-Trans files when setting demosaicer to Mono and then something else"
**Steps to reproduce**
1. Open any X-Trans raw
2. Apply Neutral
3. Set Demosaicer to Mono
4. Set Demosaicer to anything else except None
5. Pick WB and observe strange colors due to wrong temperature and/or tint

Example:
![image](https://user-images.githubusercontent.com/6567747/108872052-146e9f80-75fa-11eb-8b48-c61746857b52.png)

Following these steps on Bayered sensors gives no strange behavior

[2021-02-23 16:11] #3312 closed

[2021-02-23 16:13] Thanatomanic commented on #6073
@TechXavAL Can you check this behavior in the release version of 5.8? I am slightly suspicious that this may be due to my CSS tweaks.

[2021-02-23 16:26] Desmis commented on #6125
But simple question....how to use ?

Jacques

[2021-02-23 16:34] Thanatomanic commented on #6125
@Desmis It depends on how you do your editing. https://clang.llvm.org/docs/ClangFormat.html has the documentation. It can be integrated into vim, emacs, VSCode and a few more. If you would want to test it on a single file, you would do something like:
[code]
to produce a new output file, or
[code]
to immediately overwrite the inputfile with the changes.

`clang-format` will look for the nearest `.

[2021-02-23 16:46] Desmis commented on #6125
@Thanatomanic

 Excuse my ignorance, but do we run this from mingw64, or batch windows, or something else...my clang folders (clang32 clang64) are empty in Msys64 (only subfolders empty..)

jacques

[2021-02-23 16:47] heckflosse commented on #6125
@Desmis Please test this in msys2 console

[code]

If that works, you're ready to use it.

[2021-02-23 16:50] Desmis commented on #6125
@heckflosse
When I run Msys2 then clang-format --help

I have that
jacques@pc-bureau MSYS ~
$ clang-format --help
-bash: clang-format: command not found

jacques@pc-bureau MSYS ~
$

[2021-02-23 16:58] heckflosse commented on #6125
@Desmis please try

[code]

[2021-02-23 17:10] Desmis commented on #6125
@heckflosse
Ingo
After installation...
then I launch  - Mingw64
then
$ clang-format --help
Now it seems to work :)

Thank you

But, just a remark...it's not obvious :)

Jacques

[2021-02-23 17:33] heckflosse commented on #6125
If we want to use it, we need to document it...

[2021-02-23 17:39] Desmis commented on #6125
I'm talking about the installation, the _a priori_ "everybody knows clang" and not the use which will seem obvious when you're going to use it.

:)

jacques

[2021-02-23 17:43] heckflosse commented on #6125
That's what I meant: Document the installation in rawpedia is needed if we want to use it

[2021-02-23 17:45] Desmis commented on #6125
ok, yes... :)

jacques

[2021-02-23 17:49] arturoisilvia commented on #6131
Checked.
It can also happen if you choose 'RGB Grey' method

Version: 5.8-2773-ga349559e4 windows 10.zip

[2021-02-23 17:52] #1474 closed

[2021-02-23 17:54] Thanatomanic commented on #6115
There has been some discussion in https://github.com/Beep6581/RawTherapee/issues/5867 and the development took place here https://github.com/Beep6581/RawTherapee/pull/5593. In hindsight, I think this functionality should have had more discussion and testing before merge.

[2021-02-23 18:04] heckflosse commented on #6131
Confirmed. I will have a look at the code.

[2021-02-23 18:05] heckflosse commented on #6115
I agree. My fault :(

[2021-02-23 18:35] simohno commented on #6098
Hello Lawrence and thanks for replying

So, you mean that both the operations (moving and re-moving back) have to be done in RT (with _File operations_) for the cache association to be maintained? I will soon try with both behaviours (moving the file from Windows and from RT in both cases) and I'll let you know here.

Simone

[2021-02-23 19:50] TechXavAL commented on #6073
@Thanatomanic

Sure!

Same behavior in 5.8 (release). It seems to me that it has nothing to do with the CSS tweaks.

And by the way, just in the same preferences tab, if I uncheck _use system language_ and set any other language, nothing happens until I restart (as expected because of the _restart required_ warning).

[2021-02-24 05:17] Lawrence37 commented on #6098
Moving images using RT guarantees the cache association is kept, but using another program also works as long as you ensure the file name, size, and creation time are kept.

[2021-02-24 08:09] Beep6581 commented on #5901
Hi @Thanatomanic

What program did you use to gather the data, and to visualize it? It looks great.

This issue indicates that reading image data from Canon EOS R6 is supported, but I tested `5.8-2775-g`7a2463a81 and the raw file neither shows up in the File Browser nor is opened when I pass it as an argument:
https://raw.pixls.us/getfile.php/4135/nice/Canon%20-%20Canon%20EOS%20R6%20-%203:2.CR3

[2021-02-24 08:12] Thanatomanic commented on #5901
I'm using Wolfram Mathematica, commercial software that I got to know during my PhD and absolutely love for data processing. It should be very similarly possible to make these plots in Python.

As for not showing up in the File Browser, did you enable the CR3 extension in the Preferences?

[2021-02-24 08:23] Beep6581 commented on #5632
Hey

In order to get 5.9 out the door, I want to remove all issues from the 5.9 milestone, except for issues marked as documentation - these must be done before a release can be made. If there are any non-documentation issues you require for 5.9, speak now.

[2021-02-24 08:24] Beep6581 commented on #5632
@Desmis what is your intention regarding your work and 5.9? i.e. is there a point of stability & feature completeness you're aiming for that 5.9 should wait for, or are we at that point now?

[2021-02-24 08:25] #5882 closed, assigned to nobody

[2021-02-24 08:27] Beep6581 commented on #5901
@Thanatomanic yes, tried passing it as an argument too. Does that file open in your RT?

[code]

[2021-02-24 08:35] Thanatomanic commented on #5632
@Beep6581 I am all up for making good work of getting 5.9 out! Could we take, let's say, 1-2 weeks to focus attention on these milestone issues? There are a few bugs that should probably get some attention. Jacques is less available this week anyway.

[2021-02-24 08:41] Beep6581 commented on #6098
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/cachemanager.cc#L310

[2021-02-24 08:43] Desmis commented on #5632
@Beep6581
the only point to "wait"...is the PR for "grain"...
https://github.com/Beep6581/RawTherapee/pull/6120
if no remark, objections....I will merge saturday or sunday

:)

jacques

[2021-02-24 08:49] Beep6581 commented on #6073
The issue title is that this is a bug, but I don't see it as a bug. I do agree that things should be consistent, so either all "restart required" settings take no effect until restart, or all take effect immediately and look broken until restarted. The former sounds better. Furthermore, we could get rid of the "restart required" labels and instead show a popup when these few special options are ch

[2021-02-24 08:58] Beep6581 commented on #5867
My needs are:
- to be able to preview a photo "fullscreen" (I don't care whether there are window borders or not) without having to resize tabs.
- zoomed to fit or % (e.g. mouse left-click pans, middle-click zooms-to-fit/100%, scroll wheel zooms in/out)
- go next/previous.
- delete current photo.

I don't understand why someone would want to preview a fraction of a photo in an odd vertical tab whi

[2021-02-24 09:05] Beep6581 commented on #6130
Closing as duplicate of #1492

[2021-02-24 09:05] #6130 closed, assigned to nobody

[2021-02-24 09:36] Beep6581 commented on #5632
@Thanatomanic could you list here the issues you want to keep, or assign them to yourself? Then I will omit them when removing the others.

@Desmis ok great.

[2021-02-24 12:49] Thanatomanic commented on #5901
@Beep6581 The file you link to is a compressed RAW format according to ExifTool. Apparently, that is not supported yet in the CR3 decoder. ART shows the file in the browser, but outputs garbage too.

Edit: In verbose mode RT outputs the following when loading the file browser:
[code]

[2021-02-24 13:07] chaimav opened #6132 "Local Adjustments + Exposure = Local Contrast display issue"
Toggling local contrast compounds the contrast on the displayed image.
To reproduce, use the raw in this post here https://www.dpreview.com/forums/thread/4546372
-Add a full image local spot to the haze below the fireworks
-Add Dynamic Range & Exposure tool
-Increase exposure of haze
-Toggle local contrast on and off (the more it is toggled, the more severe the issue)
PP3: https://drive.google.com

[2021-02-24 13:36] TechXavAL commented on #6073
:+1:

I've changed the title so it is not a «bug» anymore

[2021-02-24 13:53] Thanatomanic commented on #5241
Since the `wavelenh` does not exist anymore, this issue can be closed.

[2021-02-24 13:53] #5241 closed, assigned to Desmis

[2021-02-24 13:56] TechXavAL commented on #5867
Just a comment for points 2 and 3 on the original post: when you choose to use the full screen preview in preferences, it may be desirable the Inspect tab to remain visible, but now showing just a text saying that the full screen preview is active and how you can interact with it (with mouse and keyboard shortcuts).

That way nobody will get lost, and as this tool has no tooltips, it will offer in

[2021-02-24 14:14] Thanatomanic commented on #5748
An improved GUI for this can be discussed later. Closing for now, as everything is implemented nicely.

[2021-02-24 14:14] #5748 closed, assigned to heckflosse

[2021-02-24 14:50] Thanatomanic commented on #5632
@Beep6581 Below is my pick of the most important milestone issues. It would be ideal if people assigned to other milestone issues could indicate whether they want to take action, or increase or remove the milestone. But if you want to decide that to speed things up, feel free.

**Important things:**
- [x] https://github.com/Beep6581/RawTherapee/issues/2239 Spot removal tool seems almost done, but

[2021-02-24 23:08] reffort commented on #6022
More than a month has now passed since the AppImage nightly builds have updated, so I've not been able to try out any of the changes since the 0121 build. I am looking forward to trying your changes when (if?) the dev build ever becomes available again.

@TechXavAL, that Spanish documentation page is pretty nice. I auto-translated it into English and saved a PDF with Chromium, and I must say it is

[2021-02-25 06:37] ff2000 commented on #5867
@Beep6581 I agree with your post. As I wrote in RawTherapee/RawPedia#31 the inspect window should be permanent and not fullscreen - just a simple dialog. There should be no need to have docs in a tooltip/inspect tab. Having buttons in the inspect tab to interact with the inspector  is useless when you only have one screen because your inspector window goes behind RT main window when you click butt

[2021-02-25 08:33] TechXavAL commented on #6022
@reffort

Thanks for your kind words! And good catch, by the way! It will be added soon to the documentation. Thanks!

[2021-02-25 11:52] marter001 commented on #5867
(Sorry in case of being offtopic)
If i am understanding correctly, the inspector just will be a help to find out, which picture is worth to be edited in RT, right?
Why not, keep it similar to the picture viewer as already built in in windows? Its easy to use, comes with the basic functions (Full view, fit, zoom, next, back) and doesnt need any documentation. For me, it already would work great, to

[2021-02-25 13:12] TechXavAL commented on #6022
@reffort

Done! Info already updated.

Thanks again.

[2021-02-25 16:32] arturoisilvia opened #6136 "LA: New activated modules are not restored when loading a previous pp3 profile."
When restoring a pp3 profile, later activated modules in Local Adjustments are not restored:
I have the first 4 modules, of which I have activated the first 2:
![1_Los2primerosModulosActivados](https://user-images.githubusercontent.com/55624244/109184397-406f5980-778f-11eb-9b56-bc77d5f352d7.JPG)

I save this profile with name: TheFirst2ModulesActivated.pp3
Next, I activate the third module and tak

[2021-02-25 16:59] Thanatomanic commented on #6136
@arturoisilvia I assume you have 'partial filling' enabled? I can replicate your behavior.
![image](https://user-images.githubusercontent.com/6567747/109187956-b2956d80-7792-11eb-8f86-ddcbc69fd7f7.png)

There is something far worse though: if you enable 'full mode' _nothing_ is applied. Try to create a few spots, save the pp3, apply Neutral profile and then load the pp3. LA is activated, but no sp

[2021-02-25 17:31] Pandagrapher commented on #6136
@Thanatomanic @arturoisilvia
For me the case reported by arturoisilvia is not a bug. When loading a profile with "partial filling" enabled, a merge is performed between your profile and the actual parameters (like all other tools). In the given example, all module activation/added state is kept except for the third module which is deactivated to match the loaded profile.

But the fact, that loaded

[2021-02-25 17:35] arturoisilvia commented on #6136
@Thanatomanic
Yes, the profile processing mode is partial.

[2021-02-25 19:24] chaimav commented on #6132
Let me know when the fix is available in the nightly so I can recheck it.

[2021-02-25 20:58] dpecka commented on #6108
Hello,

can't we please have some labels on this ?

best regards, dan

ps. I will have during the weekend the outage on my (pastebin) server infophagia.com due to the migration to new VPS provider so won't be possible to download RAFs

[2021-02-25 21:17] heckflosse opened #6137 "Speedup for wavelets/final touchup/local contrast"
There is a nice speedup possible for wavelets/final touchup/local contrast.

I will use http://rawtherapee.com/shared/test_images/clematis_vitalba.nef for my tests using the settings of this screenshot
![grafik](https://user-images.githubusercontent.com/13733487/109216819-52fc8980-77b5-11eb-8196-b878080db617.png)

I will make a draft to discuss changes and compare processing times.

[2021-02-25 21:47] heckflosse commented on #6137
I added some stopwatches for initial measure of processing times.
Tomorrow I will add optimized code.

[2021-02-25 22:00] heckflosse commented on #6137
On my machine, with current code, processing times are

[code]

where `final touchup` includes `Evaluate2` and `level loops`

[2021-02-25 22:12] heckflosse commented on #6137
Using optimized code https://github.com/Beep6581/RawTherapee/pull/6138/commits/10e0ab4eaaa784ec86437aae00d88d030d4ecea9:

[code]

[2021-02-25 22:28] heckflosse commented on #6137
Imho the optimized code readability is not worse than the original code readability, maybe even better because of the `intp`...

[2021-02-26 10:27] Desmis commented on #6137
:)

jacques

[2021-02-26 13:13] pi99y opened #6139 "Automated nightly builds have stopped working"
Hi,
I noticed the **appimages weren't updated** for a while **in the "automated builds"** download section. Since it says it's "automated" I'm reporting it here so it's not overlooked.

I'd love a new appimage build (with the latest color propagation fix in it).
Thanks a lot!

[2021-02-26 13:30] todd-prior commented on #6108
What are you using for a color input profile in CMS...this alters the curve...for example if you have auto match on and then use say a dcp profile and you enable the tone curve in it then the auto match curve becomes almost strait as the toning is the combined effect. I wonder if something in your input profile is creating the extreme curves....

[2021-02-26 13:35] Thanatomanic commented on #6108
@todd-prior No, this is not the case. There is extensive discussion on this topic already: https://discuss.pixls.us/t/exposure-tone-curves-profiles-per-brand-or-camera/23367
I am convinced the matching that @dpecka wants cannot be achieved without doing per-channel matching. This is something RT is not capable of doing currently, and you can argue about whether that would be correct anyway.

[2021-02-26 13:45] Thanatomanic commented on #6108
Now that I reread this issue I'm actually not sure what Dan wants. @dpecka, can you elaborate on that? What would be your desired outcome of this report?

Some things to consider:
1. The matching algorithm is actually working as intended. Weird bumps are mostly due to a very limited dynamic range of the raw image and a big difference with the embedded JPEG.
2. Matching is done on the luminance of

[2021-02-26 15:12] heckflosse opened #6140 "Segfault in wavelet/denoise"
To reproduce:

1) open http://rawtherapee.com/shared/test_images/clematis_vitalba.nef
2) apply the attached .pp3 file
3) enable Denoise and Refine
![grafik](https://user-images.githubusercontent.com/13733487/109317718-47f53800-784d-11eb-9be7-69fb113e00c6.png)

=> segfault

[clematis_vitalba.nef.zip](https://github.com/Beep6581/RawTherapee/files/6050511/clematis_vitalba.nef.zip)

[2021-02-26 15:45] todd-prior commented on #6108
NP but just for kicks I tried loading the image...neutral profile, use the dcp file for the camera. Enabled all elements of the DCP...left the automatch using saturation-hue model on and it was a more subdued curve and much closer to the jpg...small bump in saturation and contrast made them quite close. With out the DCP the matches of all curves were not as good

[2021-02-26 15:51] todd-prior commented on #6108
Certainly the model of the automatch does change the output a lot so that requires exploration. I think you suggested luminance but that made the image have weird blues in the highlights….saturation hue I found to be closer…..case in point a few tweaks and adjustments are still required for the best match which might not be super close in all cases.

On another note. I thought just hitting autolev

[2021-02-26 16:25] arturoisilvia commented on #6140
I can't reproduce on a new pp3.
With your clematis_vitalba.nef.pp3 (versión: AppVersion=5.8-2782-g4f880b346)  makes crash in any photo. ok.

But with new pp3: (My versión is AppVersion=5.8-2776-gf72747771) no crash.

Won't you get your pp3 corrupt? or have you tried from a neutral profile?

[2021-02-26 16:31] heckflosse commented on #6140
@arturoisilvia I tested again on dev with a new pp3 from dev. Still crashes. Anyway, if a corrupted pp3 would lead to a crash, that also would need to be fixed. With the pr it's fixed.

Edit: the bug was that the decomposition of Lab a and b channels had more wavelet levels than the decomposition of the Lab L channel.

[2021-02-26 17:14] #6140 closed, assigned to nobody

[2021-02-26 17:44] dpecka commented on #6108
I've opened this report because I thought that the behaviour is buggy ... my apologize if I misinterpreted it .. I have Nikon cameras for long years and in past 3 years I've been using RawTherapee which works and worked 100% good with Nikon NEFs, even with underexposed .. then I bought month ago a FUJIFILM X100F camera and suddenly 66% of (yes, 2/3) of images while opened in RT looked broken ..

I

[2021-02-26 18:58] TechXavAL commented on #5351
@Beep6581

There's a much improved and complete explanation about Color management [in the Spanish documentation](https://rawpedia.rawtherapee.com/Color_Management/es), which may solve this issue and the [issue 2198](https://github.com/Beep6581/RawTherapee/issues/2198), if you wish to take a look at it.

I'm not saying to translate it straight away, but it may offer ideas for the English documenta

[2021-02-27 06:49] #5495 closed, assigned to Thanatomanic

[2021-02-27 07:04] Thanatomanic commented on #6052
Thanks @Lawrence37, this works very well! I pushed the patch to `dev`!

[2021-02-27 10:42] rom9 commented on #6125
@Thanatomanic i've tried on my Fedora Linux (where the tool is provided by the `clang-tools-extra` package).
Il seems that the `SortIncludes: Never` syntax is only supported in clang-format version 12, (while for example Fedora 33 stable is still on v11). This is the error i get:
[code]
Changing to `SortIncludes: false` fixes the problem, but i'm afraid it would fail in v12 ; by looking at the doc

[2021-02-27 11:04] heckflosse opened #6142 "Undocumented search feature in exif tab can be annoying"
In the exif tab the search feature (which is not documented in rawpedia) is enabled.
Example to reproduce
1) Open an image
2) switch to exif (metadata) tab
3) Expand for example the `Exif` tree
4) press the f-key
=> for example the tag FNumber will be selected

That can be nice, but that also can be very annoying.

Assume your image is opened in 1:1 view, you want to look something in exif tab and

[2021-02-27 13:54] TechXavAL commented on #6052
**Thanks** @Lawrence37  and @Thanatomanic , this is a big step in the right direction! :smiley:

However, unless I have missed something, we can only resize the thumbnail dragging the lower bar of the panel, below the pixel values (same as we do with the histogram), and that leads to a thumbnail not aligned with the waverform, as it is slightly pushed to the left (centered on the panel).

In addit

[2021-02-27 13:54] heckflosse opened #6143 "Possible speedup for a loop in wavelet code"
In wavelet code there is still one pixel-loop which uses std::pow instead of the much faster pow_F
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipwavelet.cc#L1393

@Desmis Jacques, can you provide a pp3 which calls this loop? I will test and optimize then.

[2021-02-27 14:19] Desmis commented on #6143
@heckflosse
Ingo
Here a possible pp3 which call the loop

[_D4D1775.NEF-test.txt](https://github.com/Beep6581/RawTherapee/files/6054594/_D4D1775.NEF-test.txt)

jacques

[2021-02-27 15:08] TechXavAL commented on #6142
Maybe setting off the search feature by default, and only enable it after hitting the slash («**/**») key, same as you have in Firefox browser.

Another option would be using the «Ctrl+f» shortcut while having the Exif tree focused, although this may be confusing, as it is a key combo already used in the File Browser

[2021-02-27 15:57] heckflosse commented on #6142
Cool, that would be a one line code change :+1:

[2021-02-27 16:03] heckflosse commented on #6142
We should document ctrl-f functionality. It also works in Folders view by default if Folders view has focus :grinning:

[2021-02-27 16:11] TechXavAL commented on #6142
Pinging @Beep6581

I will add it to the Spanish documentation

[2021-02-27 16:12] Thanatomanic commented on #6052
You're absolutely right @TechXavAL, correspondence with the waveform was your initial goal, so let's not ignore it.
I'm not at home for the weekend, but I'll see what I can do in the beginning of next week.

[2021-02-27 16:18] heckflosse commented on #6142
I suggest to disable the `automatic` search in Exif tab. If someone needs it, a ctrl-f will do it.

[2021-02-27 16:31] heckflosse commented on #6142
Suggested patch:

[code]

[2021-02-27 16:41] Pandagrapher commented on #6136
@Thanatomanic
This patch solves the issue when loading a profile when "full mode" is activated:

[code]

Pierre

[2021-02-27 20:42] Lawrence37 commented on #6115
From #5593 and #5872:

Two settings in preferences
- Zoom images by scrolling
- Open inspector in own window or full-screen (restart required)

Keyboard and mouse (separate window/full-screen)
- hold f to view full image in full-screen inspector
- hold shift+f to view image at 1:1 in full-screen inspector
- click inspector to pin the inspector (does not close when you release f)
  - Esc to close

[2021-02-27 20:48] Lawrence37 commented on #6111
I don't think the inspector window was intended to be used in the film strip. The quick fix would be to remove the Inspect item from the menu in the film strip. Supporting the inspector in the film strip is a reasonable long term solution.

[2021-02-27 23:19] Lawrence37 opened #6144 "Color shift due to local adjustments"
**Steps to reproduce**
1. Apply neutral profile.
2. Add local adjustment spot. Change spot method to full image to see the bug more easily.
3. Add tool which should have no effect by default.

Using this image, the effect is more pronounced.
![flat-color-cube](https://user-images.githubusercontent.com/45837045/109402645-4474b600-790c-11eb-8474-5180bacfc211.png)
![image](https://user-images.githubu

[2021-02-28 05:37] Lawrence37 commented on #2239
I see two branches: spot-removal-tool and spotremov. spotremov has one more commit, a merge from dev. What is the purpose of having the two branches?

[2021-02-28 07:26] Desmis commented on #6144
@Lawrence37
I don't know if it can be called a "bug", but the behavior is what I expected.

Indeed "LA" uses almost everywhere L*a*b*. This means that if colors are out of gamut, imaginary colors will be generated by the Lab conversion ... This opens the door to uncontrollable drifts.
https://rawpedia.rawtherapee.com/Toolchain_Pipeline#Colorimetry

That's why I put by default an "avoid color shift

[2021-02-28 07:33] Desmis commented on #2239
@Lawrence37
I open this branch one mounth ago...

Why ?
I you look to ART, you will see that "Spot removal" has been improved by the addition of several sliders to better manage transitions and opacity.

I tried to carry these modifications, but in front of the difficulties (GUI, code...) I gave up.

Now, what to do? Leave "Spot removal tool"  as it is or try to bring the modifications of ART...ma

[2021-02-28 09:35] Thanatomanic commented on #2239
I believe the `spot-removal-tool` is the branch Hombre worked on. I believe it is working can could easily be converted into a PR for testing. There are of course tweaks we could implement and maybe bring over from ART, but even rudimentary spot removal is better than none imo.

[2021-02-28 09:45] heckflosse commented on #6143
I measured using
http://rawtherapee.com/shared/test_images/clematis_vitalba.nef

and the attached pp3
[clematis_vitalba.nef.zip](https://github.com/Beep6581/RawTherapee/files/6056523/clematis_vitalba.nef.zip)

[code]

[2021-02-28 10:24] Desmis commented on #6143
@heckflosse
I just tested the new branch

Before = 1700 ms
After = 1100 ms

No visible differences.
Very very small differences in TIF 16 bits

Good job

Jacques

[2021-02-28 10:26] TechXavAL commented on #6144
@Desmis

If you set ACESp0 as working profile and then follow the instructions given by @Lawrence37, the problem is the same.

ACESp0 covers the full visible gamut, so I don't expect that image to be out of gamut in ACESp0.

According to Rawpedia:

So again, if that image is within gamut in ACESp0 and LA causes a shift in colors, I would call it a bug, too: the user sets an option to avoid color s

[2021-02-28 10:26] Thanatomanic commented on #6136
Thanks @Pandagrapher! This is now fixed: https://github.com/Beep6581/RawTherapee/commit/09441c7e545c86dd8967dd741251db9f67fc1d4f

As for the initial report, I believe you are right: this is how the partial profile mode works. It only applies those values that are present in the profile (the tooltip says so too). The difficulty is that most tools in RT are not 'dynamic', i.e. they have fixed set of

[2021-02-28 10:49] heckflosse commented on #6144
An easy solution would be to disable 'Avoid color shift' by default...

[2021-02-28 10:55] heckflosse commented on #6144
Why doesn't the `avoid color shift` in Lab adjustments generate the same color shift?
![grafik](https://user-images.githubusercontent.com/13733487/109415939-c07a0700-79bb-11eb-80dd-c4f79a74d65f.png)

[2021-02-28 11:10] ror6ax opened #6146 "Deleting more than ~25 files crashes RT"
Steps to reproduce:
1. Open a folder.
2. Select 40 RAW files.
3. Right click -> File operations -> Delete permanently
4. RT crashes.

I've observed this in few recent versions including the latest(5.8).
Happy to help debug if needed.

[2021-02-28 11:29] heckflosse commented on #6146
I just deleted 56 files without crash.
Latest dev on Windows

[2021-02-28 11:32] heckflosse commented on #6146
Tried again deleting 624 files. Still no crash

[2021-02-28 12:26] Desmis commented on #6144
@heckflosse @TechXavAL

Yes, I found a bug...in some cases...
I can easily disabled "avoid color shift"...

I look at differences between "avoid color shift" in LA and in Lab adjustemnts... I found a difference...I will correct

[2021-02-28 12:37] heckflosse commented on #6144
\o/

[2021-02-28 12:43] Desmis commented on #6144
I just push a change in dev with
* disable by default "avoid color shift" - in procparams.cc
*  always activated "Munsell" with "needHH" always at "true" ...before it was to "lp.chro != 0.f"...(when LA was only with Color and light...some years ago..)

Jacques

[2021-02-28 12:43] Thanatomanic commented on #6146
@ror6ax Please provide more information on your configuration. Operating system, type of storage, ... See also http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

If you can build a debug version of RT yourself, a stacktrace could maybe help.

[2021-02-28 12:56] heckflosse commented on #6144
@Desmis Jacques, while the output is better than before, there is still a significant difference between avoid color shift in LA (left) and Lab adjustments (right)

![grafik](https://user-images.githubusercontent.com/13733487/109419208-9ed54b80-79cc-11eb-936c-429baf01c43e.png)

Thanks for changing the default :+1:

[2021-02-28 13:11] Desmis commented on #6144
@heckflosse
Yes, but in Lab adjustemnts, it depends a lot on the settings of  "lab adjustments"...
And in LA it depends of Scope...

With this image (which contains very saturated colors), try in Lab adjustemnts to increase Lightness...you will see big changes in blues...and purple...and stronger than in LA...I Think it's due to the placement in the pipeline.

[2021-02-28 13:13] TechXavAL commented on #6144
I agree that disabling the _Avoid color shift_ option is good, in a way. We were able to do that by hand, and it doesn't solve the problem. It just hides it.

To me, if you added that option is because it's needed somewhere, sometimes, and you may not have to get rid of it.

The solution would be to make it work as intended: solve certain problems without causing others. If that is even possible,

[2021-02-28 13:30] Desmis commented on #6144
@heckflosse  @TechXavAL

Maybe I'm going to surprise you, but for me the "right" solution is with  "avoid color shift"...
There was a bug, it is corrected...

But the very good question is why do a gamut control, and why want to make Lab data linear ?
And what do you expect when you're out of gamut ?
This algorithm (relative colorimetry) date of 2011.... and it works correctly in the majority of t

[2021-02-28 13:31] simohno commented on #6098
Ok, I switched to RT version _dev-2781_ and tried moving a file from its original folder to desktop, using Windows Explorer, and with RT open, then moving it back. pp3 is correctly restored. The same if sending to the recycle bin.

But then I tried using RT (right menu > File operations > Move to...) to move to desktop and then immediately used Explorer to move it back, and the pp3 is not restored

[2021-02-28 13:53] heckflosse commented on #6144
I am fine with the current solution (default to disabled and bug fixed) :+1:

That was before I started contributing to RT ;-)

[2021-02-28 14:01] Desmis commented on #6144
@heckflosse

At the time it was a very "virile" debate...and we came up with this solution. Of course we can refine a bit the control of "relative" gamut, we will increase the treatment times for few differences in the final result.

jacques

[2021-02-28 14:41] heckflosse commented on #6142
Any objections to commit the patch?

[2021-02-28 15:45] Thanatomanic commented on #6142
Seems all right :+1:

[2021-02-28 16:13] heckflosse opened #6148 "Allow using of numpad `,`"
Some years ago, I made a code change to allow behaving numpad `,` as `.`
This simplified entering fractional values on non english keyboards

https://github.com/Beep6581/RawTherapee/issues/2788#issuecomment-130070395

But somehow this change is gone...

I can't even find it in history as it was at google code times...

Anyone with an idea how to do that again or why it has gone?

[2021-02-28 16:21] heckflosse commented on #6148
I found the code. It's still there, but doesn't work anymore :(

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/guiutils.cc#L1214

[2021-02-28 16:57] Pandagrapher commented on #6136
@Thanatomanic
Each LA spot is managed as an huge structure containing the settings of all tools (even if they are not activated or visible).
So, when partial filling mode is selected, I just merge those spot structures based on the spot order/number is actual profile and loaded profile (adding new spot if loaded profile wants to merge more spot there actually are).
I think best would be to merge l

[2021-02-28 19:47] Lawrence37 commented on #6144
The results are much better now. If the remaining color shift is due to the extreme colors in conjunction with "Avoid color shift", I consider this issue solved. Thank you @Desmis.

[2021-02-28 19:47] #6144 closed, assigned to nobody

[2021-02-28 20:54] epadepa opened #6150 "Local adjustments lost when applying partial profile"
**Short description**
Local adjustments are reset to null  when applying partial profile even if the partial profile doesn't touch local adjustments.

**Steps to reproduce**
1. Save partial profile containing only say a resize or a colour toning
2. Open new image or reset to neutral profile
3. Add one or more local edit spot with one or more tools associated to them.
4. Ensure Processing profile f

[2021-03-01 07:07] Thanatomanic commented on #6150
~~This was reported literally a few days ago. https://github.com/Beep6581/RawTherapee/issues/6136~~

[2021-03-01 07:13] ff2000 commented on #6148
I just tried it on linux and it works as expected. Perhaps it's an issue with the windows version of GTK?
Does it help if you replace `return Gtk::Widget::on_key_press_event(event);` with `return Gtk::SpinButton::on_key_press_event(event);`?

I also wonder why Gtk::SpinButton isn't locale aware. The decimal point is `,` in German but the SpinButton insists on `.`? In Qt QDoubleSpinBox is locale aw

[2021-03-01 09:55] arturoisilvia commented on #6136
I just upgraded to Version: 5.8-2794-g02a5040a6 and now the profile processing mode 'full mode' works correctly thanks to @Pandagrapher.

But with the partial mode you have to be very, very, very careful:
If you have a spot with a normal method and apply a partial profile that has a full image method spot, the normal method will become full image.

For this reason, the best solution is the one pro

[2021-03-01 09:57] arturoisilvia commented on #6136
(Sorry, close by error: damn enter key)

[2021-03-01 10:19] heckflosse commented on #6148
No :(

[2021-03-01 11:45] Thanatomanic commented on #6148
FWIW, the [Gdk documentation](https://developer.gnome.org/gdk3/unstable/gdk3-Event-Structures.html#GdkEventKey) says that using `event->string` is deprecated.

And as for doing stuff with user input, the recommended way seems to be by using the `signal_input` method https://developer.gnome.org/gtkmm/3.24/classGtk_1_1SpinButton.html#ac1bffd7a579a68762e7470db52bb96fd
So what we try to do by catching

[2021-03-01 15:23] heckflosse commented on #6148
@Thanatomanic Roel, thanks for the hints. As I'm not a GUI coder I will let others try to solve that. Maybe @Pandagrapher or @Lawrence37 can chime in...

[2021-03-01 15:28] #6143 closed, assigned to nobody

[2021-03-01 15:33] ff2000 commented on #6148
And using signal_output we can also format the displayed number according to locale:
https://stackoverflow.com/questions/4827831/how-to-change-display-in-gtk-spinbutton

[2021-03-01 18:51] Pandagrapher commented on #6148
@heckflosse
On MacOS, actual code works too. So I can't really test but this code works the same and at least doesn't use deprecated code:
[code]

Pierre

[2021-03-01 19:16] heckflosse commented on #6148
@Pandagrapher Pierre, I tried your patch, but unfortunately it doesn't work here :(

[2021-03-01 19:19] Thanatomanic commented on #6148
There is this funny line in `main.cc` that seems to force a decimal period. But unfortunately, commenting it out doesn't magically make it locale dependent.
https://github.com/Beep6581/RawTherapee/blob/2366cb4935165a86e86be3c608548a48bd48fa39/rtgui/main.cc#L369-L373

[2021-03-01 19:29] heckflosse commented on #6148
Yes, that was needed to fix a bug when reading and writing pp3 files. There is an issue about that somewhere on github.
It took us a lot of time to nail and fix it...

[2021-03-01 19:35] Pandagrapher commented on #6148
Ok Gdk seems to have created specific `keyval` value for numpad key... In my patch, should try using this instead:
`if (event->keyval == GDK_KEY_comma || event->keyval == GDK_KEY_KP_Decimal) {`

Pierre

[2021-03-01 19:41] heckflosse commented on #6148
@Pandagrapher That works. \o/ Feel free to push :+1:

Edit: and of course: thank you :+1:

[2021-03-01 20:00] heckflosse commented on #6148
@Pandagrapher You can not know, how glad I am, that this issue, which annoyed me for very long time, can be fixed now. It's such a time saver to be able to use the numpad on a german keyboard again in RT when entering values :+1:

[2021-03-01 20:06] Pandagrapher commented on #6148
@heckflosse You're welcomed ;) Pushed

[2021-03-01 20:14] heckflosse commented on #6148
@Pandagrapher While `,` on numpad now works as `.`, the downside is, that pressing `f` or `z` when focus is on an adjuster value, does not work anymore (it does not zoom in or fit to screen)

[2021-03-01 20:22] heckflosse commented on #6148
@Pandagrapher

Most likely because you changed this condition:

[code]

[2021-03-01 20:40] Pandagrapher commented on #6148
@heckflosse
Sorry... Thought that was some left useless code or bug. It's now fixed with commit `84751ad`

[2021-03-01 20:47] heckflosse commented on #6148
@Pandagrapher No need to apologize. Works fine now :+1:

[2021-03-01 20:47] #6148 closed, assigned to nobody

[2021-03-02 11:02] azevedomt82 opened #6151 "DNG file is being open with the wrong size"
I'm using a ricoh theta z1 360 camera which (with the double fish eye plugin) outputs a 1.4 DNG file that can be found in the link below:
https://u.pcloud.link/publink/show?code=kZ3ciuXZFP2GRRgNatFYDQ90BGlLqkxFaUSV

When I open the file on rawtherapee, it opens with a shorter dimension.
The original is 7296 x 3648, and and in the software says it is 7288 x 3640.

And when rendering, it doesn't goe

[2021-03-02 11:07] Thanatomanic commented on #6151
![image](https://user-images.githubusercontent.com/6567747/109639652-b852d080-7b4f-11eb-869b-dc4ae27013dd.png)

Set this to 0 to solve your problem. This border is meant to alleviate demosaicing artifacts on regular imagery, but obviously fails for this specific purpose where the exact resolution is important.

[2021-03-02 11:07] #6151 closed, assigned to nobody

[2021-03-02 11:08] Thanatomanic commented on #6151
Note: the info-display you highlight on the left has an update problem https://github.com/Beep6581/RawTherapee/issues/5954. If you export your image, you should be fine.

[2021-03-04 17:46] chaimav commented on #6132
RT 5.8-2804
I have found the same issue with checking and un-checking 'Look table' under Color Management >Auto matched camera profile > DCP
![look table](https://user-images.githubusercontent.com/47765782/110006117-3e554f80-7ce7-11eb-99b8-d760d7c8c353.JPG)
I can produce the bug using the raw available here https://discuss.pixls.us/t/hazy-snowy-bridge/23605

[2021-03-04 18:31] Thanatomanic commented on #6132
@chaimav Do you mean that you start from Neutral and only toggle this checkbox? I cannot seem to reproduce that with the raw supplied.

[2021-03-04 19:17] chaimav commented on #6132
No. You need to add a full image Local Adjustment and change the exposure first. Change the extension of this file to pp3
[look table bug.txt](https://github.com/Beep6581/RawTherapee/files/6086076/look.table.bug.txt)

[2021-03-04 19:32] rebio opened #6153 "Local Adjustments: Horizontal field size too large"
**Short description**
The horizontal size of some elements of the local adjustments is too large and requires horizontal scrolling even there is no need for it (unless sliders have a fixed size)

**Steps to reproduce**
1. Open any image
2. Activate Local Adjustments
3. Add a new area of effect
4. Add a "Shadows/Highlights & Tone equalizer" section (others like "Common Color Mask" will also work; s

[2021-03-04 19:36] ghost commented on #5910
Nobody?

[2021-03-04 19:39] Thanatomanic commented on #5910
@comadrejo Sorry for not commenting before. This issue is currently not on our high priority list that we want to address before getting a new release version out. I'm afraid it will have to wait at least until that time.

[2021-03-04 22:08] rebio opened #6154 "Vertical crop of sliders"
**Short description**
Sometimes the vertical size of a control field is clipped. I wasn't able to work out any circumstances under which it happens or can be reproduced.

**Steps to reproduce**
1. Load any image
2. Go to a tool that has vertical sliders (eg. Hue/Saturation/Dynamic under the color-tab) and expand it

Now sometimes this bug happens sometimes it does not. I have no idea what causes i

[2021-03-05 02:09] coldbath opened #6155 "CAC remove the purple fringing"
hi,
Recently, I used rawTherapee to handle Chromatic Aberration Correct problem, mind to remove the purple fringing(caused by Lateral Chromatic Aberration).

The raw data type is bayer(RGGB), generate by camera, like this.
https://drive.google.com/file/d/1j5FtO0wqXWgTz1WNyVp11aH299CMdOqp/view?usp=sharing

And I modify the source code, read the raw data, execute the CAC module, get and save the new

[2021-03-05 03:45] ghost commented on #5910
@Thanatomanic thank you for your kind answer :)

[2021-03-05 05:12] ff2000 commented on #6154
I also see this issue.
As it looks I can force a repaint when hovering in the top right corner of the sliders widget.
The widget unfortunately paints over its borders after you can trigger a repaint:
![Screenshot_20210305_070902](https://user-images.githubusercontent.com/1973708/110069987-b1ab9f80-7d81-11eb-8e33-bd16fa21a40b.png)
Note how "Contrast by Detail Level" and "Haze Removal" has the "Hue"

[2021-03-05 05:19] Thanatomanic commented on #6154
Afaik, this is a very old problem for which nobody has ever found a solution. But maybe there is new insight possible from Gtk wizards in the community 😄

[2021-03-05 05:21] Thanatomanic commented on #6154
@ff2000 @rebio Please see here https://github.com/Beep6581/RawTherapee/issues/3973

[2021-03-05 06:58] Desmis commented on #6153
@rebio
With my configuration I have not this problem...
But, I am not at all a GUI specialist...And I don't know exactly what are all the parameters that interact on this phenomenon?
Of course the lenght ot the "label"...but may also be the size and type of the font

Still, "Shadows/Highlights & Tone  Equalizer" is the label that is the longest....I propose to suppress the "Tone", so the new label

[2021-03-05 11:14] rebio opened #6157 "Add names to drives in folder field (Windows)"
TLDR: Add names to drives in the folder field on the file browsing page. So far only the favourites section has named drives.

So far there is just the drive letter in the HDD structure/folder field. I named my drives and don't really recognize them just by their drive letter. Some of the HDDs/folders I want to use are not listed in the favourites section.
Example: When I plug in my USB-card reade

[2021-03-05 11:22] rebio commented on #6153
@Desmis / @Jacques

You could try to resize the side bar (make it smaller) and see if you can produce that issue. When I resize the side panel to fit the the longest text, I also have no problem.
However, I'm using the default size and I'm using RT on a 1080p monitor (which is probably one of the most used resolutions right now). But even on my 2560x1600 screen I get the same issue.

Even though I

[2021-03-05 11:28] rebio commented on #6154
@Thanatomanic Close as duplicate then?
In #3973 it is pretty well described how you can reproduce this bug.
And the solution is to hover over one of the small buttons on the right side.

#3973 is closed as duplicate of #3525

[2021-03-05 11:32] Thanatomanic commented on #6154
Agreed

[2021-03-05 11:32] #6154 closed, assigned to nobody

[2021-03-05 11:54] Desmis commented on #6153
Of course, if you reduce the size of the window the problem appears. It is a compromise between understanding and GUI.
Unless someone has another solution, I've changed the length of some labels...and I think that in this case, it's not a problem.

The problem is fairly simple to state, but difficult to solve...at least for me.

if someone has an idea on how to put labels (length, understanding...

[2021-03-06 11:43] Thanatomanic commented on #6155
@coldbath You use a heavy fish-eye lens _and_ you say you modified RT's source code without specifying what you changed (and why?) _and_ you modified raw data yourself (how?) _and_ you still expect the Defringe module to work well without artifacts? To be honest, I think you are kind of expecting too much from RT at that point.

I don't think this is either a bug report nor a feature request, so c

[2021-03-06 11:43] #6155 closed, assigned to nobody

[2021-03-06 16:16] TechXavAL commented on #4962
There's a [new Spanish documentation](https://rawpedia.rawtherapee.com/Edges_and_Microcontrast/es#Microcontraste) about microcontrast online.

This tool is definitely not obsolete, as explained in the documentation.

Hope it helps

_Note: if the comparison image doesn't show the «command» circle in the middle, just reload the page. The javascript is a bit picky and doesn't load right every time th

[2021-03-06 16:23] heckflosse commented on #4962
I agree :+1:

[2021-03-06 20:05] Lawrence37 commented on #6125
I am OK with using clang-format. However, with the current options, it discards manual line breaks in some expressions.

Before:
[code]

After:
[code]

[2021-03-06 22:20] Lawrence37 commented on #6098
Looks like the file name includes the full path. You can confirm this by applying a profile, moving the image using another program, applying another profile, then move the image back and forth between the two locations. RawTherapee will apply one of the two profiles depending on where the image is.

[2021-03-06 22:45] Lawrence37 commented on #6132
I can confirm the pull request fixes the issue for local contrast but not for the look table.

[2021-03-06 23:08] rfaeseke opened #6159 "Local Adjustments: enabled Grain & Denoise Tool leads to wrong image rendering"
**Short description**
When using the LA Grain&Denoise Tool and enable/disable the Local Contrast Tool several times the rendering of the current image gets wrong.

https://user-images.githubusercontent.com/5074899/110224098-feee5500-7ed8-11eb-9dc0-1f0ce2e42951.mp4

**Steps to reproduce**
see attached video

**Additional information**
Version: 5.8-2809-g47b180403
Branch: dev
Commit: 47b180403
Commi

[2021-03-06 23:53] Lawrence37 commented on #6159
Thanks for the detailed bug report. This probably has the same underlying cause as #6132. I can reproduce this issue in `dev` branch but not in `laandlocalcontrast`. Closing as a duplicate of #6132.

[2021-03-06 23:53] #6159 closed, assigned to nobody

[2021-03-07 04:39] Benitoite commented on #6112
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.12_64_5.8-2807-g31641f948.zip is my latest generation.

[2021-03-07 05:09] Benitoite commented on #6112
Most likely an error was thrown in the past and got stuck in a notification queue that expresses itself on boot.  I believe this line sent the error:

https://github.com/Benitoite/RawTherapee/blob/45c7b62db248b45a1b9b6d808a7271231efac34b/rtgui/options.cc#L113

Now to find where the path is being built.

[2021-03-07 07:31] rebio commented on #6153
Yesterday I discovered that the expansion is not only based on single setting you can add, but also cause on some value you have to expand to change it.
Eg. Under "Mask and Merge" there is a slider called "Background color for luminance and color masks". When you unfold the "Mask and Merge" segment the side panel will enlarge. If you collapse it, the horizontal size returns to the default

(The sl

[2021-03-07 08:44] Thanatomanic commented on #6153
@rebio @Desmis Notwithstanding some long labels in Local adjustment, another solution would be to recognize that we simply need a larger default panel size. I think it is now only 300 px, which actually leaves some horizontal empty space when you use RT full-screen with a left sidebar and filmstrip, and when you have a typical 3:2 photo:
![image](https://user-images.githubusercontent.com/6567747/1

[2021-03-07 09:28] Desmis commented on #6153
@Thanatomanic  @rebio
The problem is not very simple, because how to make certain choices understandable. For example for « Shadows/highlight & Tone equalizer » , if, in order to get into the possible size we delete "Tone Equalizer" we risk to deprive the user of the best choice...

Of course I can reduce some labels without too much trouble, but this will have limits.

And for « Background color

[2021-03-07 09:58] Desmis commented on #6153
@Thanatomanic  @rebio
I just create a Pull Request https://github.com/Beep6581/RawTherapee/pull/6160

I change the label "background color..."
I keep all last changes for labels (shadows/highlight-Equalizer)
I enlarge tool panel to 460 (from 400)...I just change to 465
I change the size of the box for "basic"..."advanced"

Jacques

[2021-03-07 10:16] ghost commented on #6068
Tested the same image for some more time and seems like this also affects curves that lower the image brightness, like a flexible one with one point at (60, 30) (again, I don't think you need a .pp3 here)

[2021-03-07 13:21] arturoisilvia opened #6161 "LA: After choosing rectangle, it can't be put into full-image"
It is a small design flaw. It is not very important, but it is not expected.

Open an image
Add new spot
Check on: Show additional settings
Select in RT-spot shape: Rectangle
And now, select in Spot method: Full image.

Does not change to Full image.

Version: 5.8-2807-g31641f948 win64.zip

[2021-03-07 13:48] Thanatomanic commented on #6161
Confirmed

[2021-03-07 17:01] Bezierr commented on #5380
Hi,

I'm shifting more and more of my work from Lightroom 6.14 to RawTherapee, and I support this enhancement request.

In my workflow, I set star ratings to all pictures before exporting them from the raw converter, so I have the rating in digiKam where I organize my finished pictures.

Right now, with RT, I have to use a workaround:
- RT: assign star rating to pictures
- RT: filter for ratings
-

[2021-03-07 23:24] noirsabb commented on #5574
Hi

I am following up on the support for 16-bit compressed (lossless) GFX 100 RAF files. I have made some modifications to RT v5.8-2804-g0bfc4e56 to overcome some errors and can render chunks from files, however, I would appreciate if someone could point me in the right direction as to what to do.

Thus far, I have modified fijicompressed.cc as follows:

1. Updated parse_fuji_compressed_header to

[2021-03-08 07:02] Desmis commented on #6161
@arturoisilvia
I just push a commit... 9b2e955  .I hope this bad behavior is fixed :)

Jacques

[2021-03-08 08:47] Floessie commented on #6125
Great. Saves many LoC. :grimacing:

Good catch, @Lawrence37. :+1:

[2021-03-08 08:51] Floessie commented on #6125
[code]

There's also a reason for a space between `operator` and operation, if one considers conversion operators. `operatorbool()` is hard to parse for humans. :wink:

[2021-03-08 11:32] Desmis commented on #6153
@Thanatomanic @rebio
Others improvment to reduce left panel size:
* adapted box "complexity" to font size
*  set font size to 8 by default
* minimize (Gtk::PACK_SHRINK, k)  k minimum (for this part)
* change some labels in "mask and modifications" ..too long

But it needs that "options" will be "reset"....Otherwise ?

jacques

[2021-03-08 11:34] Thanatomanic commented on #6153
@Desmis I will comment more later this week, thanks for exploring the options 😃

[2021-03-08 12:56] rebio opened #6163 "Local Adjustments: Changes are applied the whole image instead of just the spot"
**Right before I start:** In my head a _local adjustment_ only should effect the selected area. If this is not how RT handles it, you can close this bug report right away.

**Short description**
When I use local adjustments areas outside the selected area are changed as well.

**Steps to reproduce**
1. Select an image
2. Turn on local adjustments
3. Add an area
4. Add multiple effects (I used "Col

[2021-03-08 13:07] heckflosse commented on #6163
@rebio please provide the .pp3 you used

[2021-03-08 13:55] Desmis commented on #6163
@rebio

Very curious....
I tried with several images...all works...

provide the pp3...(and the raw)

jacques

[2021-03-08 14:08] rebio commented on #6163
@heckflosse @Desmis

I have tried, but github will not let me do it. Do I have to pack in a ZIP file? If I can not post it on github, is there any prefered place
![github - no pp3](https://user-images.githubusercontent.com/10911084/110331803-d9b82e80-801f-11eb-99da-09273bbe5428.png)

EDIT: I saw the link on RawPedia to www.filebin.net, but over there it also tells me that it is "Unable to save fil

[2021-03-08 15:27] Desmis commented on #6163
@rebio
I try your pp3 on two raw files
Everything seems to work as expected

jacques

[2021-03-08 15:33] Desmis commented on #6163
@rebio
I re re try and I found a bad behavior with CBDL

Jacques

[2021-03-08 15:59] rebio commented on #6163
@Desmis
I just re-tested the pp3 on several images and they work pretty much the same for me. That is very strange.
I mean I'm _only_ using the version from 2021-03-05, but that should not be the big dealbreaker, right?
EDIT: I just updated to RawTherapee_dev_5.8-2810-gdda9b8ed6_20210307 and I got the same results.

Add sharing the RAW file: I tried several file sharing sites and they all either t

[2021-03-08 16:54] Desmis commented on #6163
it's a very curious phenomenon...
With your pp3,
1)  I disable the other spot, same bad behavior
2) i disable progressively the others tools - color and light, shadows/highlight, sharpeing, and always the same bad behavior

Only CBDL remains...if I activate it, the image outside the spotlight changes slightly

Nox, if I clear the PP3 and open a spot, with the same "CBDL" as in your pp3...all works

[2021-03-08 18:53] Desmis commented on #6163
I think - to  verify - I found why ?
It seems the same type of problem than with «local contrast»
Here it's interaction with «main Shadows/highlight»
Tomorrow afternoon I will try to solve==> move sh ol Lab process
Jacques

[2021-03-08 22:10] TechXavAL commented on #5769
@heckflosse

In my opinion it should be placed within the Raw Black Points tool, as it is where it belongs: that's what you are modifying. As you said, you only have to add an _Auto-calculated_ checkbox, and that's it. Even if this method does dehaze the image, that's a side effect and not the goal, I think. In fact, as I see it, it's closer to controlling the black point of the image (in a way si

[2021-03-09 08:59] Desmis commented on #6163
@rebio
@heckflosse
@Thanatomanic

I just create a Pull Request with "shadows/highlight main" place now in Lab adjustements, instead of Rgbproc.
https://github.com/Beep6581/RawTherapee/pull/6164

All seems to work !
Could you check ?

Thank you

Jacques

[2021-03-09 10:33] arturoisilvia opened #6165 "Raw black points: Green2 Does not change color when click button restore value to 0"
Playing with this module, (of which I still do not dominate it) I have seen a small flaw in its behavior:

Raw tab -> Raw Black Points: Put some random values ​​in Red, Green1 and Blue with Link greens activated. (Don't worry about the results)

Click on Green2's 'reset to default value' button to set Green2 and Green1 to 0.

Image does not change.

Version: 5.8-2810-gdda9b8ed6 win64.zip

[2021-03-09 10:51] heckflosse commented on #6165
Confirmed.

[2021-03-09 12:12] #6165 closed, assigned to heckflosse

[2021-03-09 12:15] Thanatomanic opened #6166 "Recent upgrades to MSYS2 (probably libwinpthread/winpthreads) cause crash after startup"
Recent upgrades to MSYS2 cause a clean build of RT to crash after the main window has loaded. This was reported here for ART by @gaaned92 https://discuss.pixls.us/t/art-feature-requests-and-discussion/16277/792

I made a debug build in an empty folder, removed my options file and then loaded RT through gdb. It runs and shows the splash screen for first startup, in the background the file browser s

[2021-03-09 12:17] Thanatomanic commented on #6166
My MSYS2 update log:
[code]

[2021-03-09 13:10] heckflosse commented on #6166
Confirmed.

I downgraded using

[code]

[2021-03-09 13:24] Thanatomanic commented on #6166
Do you foresee a way we can understand (and solve) this problem in a more future-proof way?

[2021-03-09 13:59] heckflosse commented on #6166
Not at the moment. Maybe we should wait a while for new versions of the two packages...

[2021-03-09 14:04] heckflosse commented on #6166
btw:

https://github.com/msys2/MINGW-packages/issues/8094

[2021-03-10 05:50] noirsabb commented on #5574
Hi

Updating bitDiff to match libraw's helped (can now edit my compressed lossless RAF16-bit images in RT):

`
int bitDiff (int value1, int value2)
{
    int decBits = 0;

    if ( value2 < value1 )
        while (decBits <= 14 && (value2 << ++decBits) < value1)
            ;

    return decBits;
}
`

[2021-03-10 06:43] Thanatomanic commented on #6166
The upstream issue has been fixed, I can compile and run correctly again after new updates from MSYS2.

[code]

[2021-03-10 06:43] #6166 closed, assigned to nobody

[2021-03-10 12:31] Benitoite commented on #4394
5.8-dev with PR #5786 applied (language detection fixed).
I can edit and save images with î, ø, ö, etc, but when put to the queue, RT presents this crash upon switching to queue.

[2021-03-10 16:36] Thanatomanic commented on #5574
Hi @noirsabb, thanks for looking into this!
I made the following changes, similar to yours, to make the 16-bit compressed files load.

[code]

@heckflosse I cannot find any online raw samples for the GFX 50R with the new firmware shot in 35 mm mode, so I cannot test whether this patch also fixes that.

[2021-03-10 16:49] chaimav opened #6167 "RawTherapee_dev_5.8-2813 nightly crashes on open"
Windows 10, i3 8100
I tried installing the latest nightly (RawTherapee_dev_5.8-2813-gbb08b6bed_20210309.exe) and it crashed right after opening. I uninstalled and re-installed and it still crashed.

[2021-03-10 16:57] Desmis commented on #6153
@rebio @Thanatomanic
In last commit bd33cad79 I have made different arrangements to improve size right panel

* increase default size right panel to an "adapted" size depending on font size
* change when it is possible and with "sens" upper case to lower case
I think now the "compromise" is good...
My preference is with sizefont = 8

Jacques

[2021-03-10 16:58] Thanatomanic commented on #6167
Most likely because of this: https://github.com/Beep6581/RawTherapee/issues/6166
Please wait a few days and try again.

[2021-03-10 16:58] #6167 closed, assigned to nobody

[2021-03-10 20:12] rebio commented on #6163
@Desmis

I tried the lastest version (RawTherapee_dev_5.8-2813-gbb08b6bed_20210309_win64) and I can not use this build.
The program opens and it seems to even load the images. And as soon as you would expect it to be ready for work it closes again right away.

[2021-03-10 20:13] Thanatomanic commented on #6163
@rebio Please see this: https://github.com/Beep6581/RawTherapee/issues/6167 and wait until tomorrow. Hopefully the nightly builds will be working again.

[2021-03-10 21:48] noirsabb commented on #5574
Hi @Thanatomanic, thanks for the patch. If you have time, can you compare RT's and libraw's implementation of function fuji_fill_buffer in fujicompressed.cc and fuji_compressed.cc, respectively, with respect to the critical section? I have some reservations in RT's implementation if I look at the function in isolation.

[2021-03-10 21:51] noirsabb commented on #5574
Hi @heckflosse. I can create some images in 35mm mode, but it will be from a GFX 100S. Let me know if you also want me to take specific images (14-bit, 16-bit, other settings), and where to post them.

[2021-03-11 06:25] Desmis commented on #6163
@rebio @heckflosse  @Thanatomanic
I hope it's solved :)

Note that here (in this case) it is a bug due to the interaction between processes, which should be solved by changing the place

But there are cases where the area outside the RT-spot will be slightly changed, especially if the RT-spot significantly changes the luminance
* cases where the general histogram (luminance) is used to calculate c

[2021-03-11 07:44] syyrmb opened #6168 "New Chinese(Simplified) translation for RT 5.8"
[Chinese (Simplified).zip](https://github.com/Beep6581/RawTherapee/files/6121115/Chinese.Simplified.zip)

Major translation errors correction, fixed a lot of mis-translations. I'll try to work on a RT 5.9 translation.

BTW, the English version's *PREFERENCES_OVERLAY_FILENAMES_FILMSTRIP* key misspelled "panel" as "pannel",
*TP_WAVELET_MEDILEV_TOOLTIP* misspelled "recommended" as "recommanded".

[2021-03-11 17:15] heckflosse commented on #5574
@noirsabb

Yes, please provide more files. Today I forwarded two GFX 50R files to @Thanatomanic which were not decoded correctly. Let's try to get as much files as needed.

[2021-03-12 08:58] tonigi commented on #6112
I got the same error. It manifests on login. What is really puzzling is what on earth starts `rawtherapee-bin` on user login. I can find no trace of it in any of the launch agents.

Edit: this is the only possible clue I found:

[code]

[2021-03-12 10:34] EmberLightVFX commented on #3783
1+ to be able to develope the image to ACES AP0/AP1!
I work with VFX and one big hazzle is to convert raw image to ACES that is the industry standard in VFX. Currently the only software I know that can do this is Affinity Photo. Being able to do this in RawTherapee would be awesome!

ACES AP0 is a storage-colorspace. It's bigger than anything you could ever need, including every perceivable color

[2021-03-12 17:32] Benitoite commented on #6112
Most likely an error was thrown in the past and got stuck in a notification queue that expresses itself on boot.

[2021-03-12 17:34] tonigi commented on #6112
Yes, but where in MacOS is this queue? Is the notification queued automatically on "throw"? I couldn't find any documentation, nor file, on this regard.

To clarify: the window is not a "system notification". It's rawtherapee-bin actually being executed.

[2021-03-12 18:05] twenster commented on #6112
From the look and feel of the window, MacOS doesn't render it. The font is Helvetica, and not the system font (San Francisco), also the OK button would not be that large, and not centered (but small on the right handside of the window), and there is no margin between the button and the window borders. The window look is much like the one rendered by RawTherapee istelf (ie GTK+ ?).

Also, not shown

[2021-03-12 18:08] tonigi commented on #6112
I think "something" is executing rawtherapee-bin as a system user. This makes it search for a missing path, and throw an exception which manifests with that gtk window.

What that "something" is is a real mystery, and also a bit concerning if you ask me.

[2021-03-12 18:16] twenster commented on #6112
It looks like so for me too. I would expect a LaunchAgent or a LaunchDaemon (system or user), but couldn't find one. May be MacOS checks (registered) applications after a MacOS update, then RAWTherapee is and looks for system wide profiles instead of user profile. This window displayed after macos update... Only supposition.

[2021-03-12 18:19] tonigi commented on #6112
Apparently it's no Agent or Daemon. Seems something exotic. Hypotheses:

- color profiles
- an update of the photo library

[2021-03-12 20:51] Benitoite commented on #6112
Please confirm you all are testing the dev build cleanly and not a release nor on top of a previous install, and state your OS versions.  I cannot reproduce on 11β.

[2021-03-12 20:53] tonigi commented on #6112
No sorry, I am using release. It occurred upon several OS upgrades, and certainly in 11.2.2 -> 11.2.3

[2021-03-12 21:15] ghost commented on #6048
For information, I have just tested the last available Appimage ( RawTherapee_dev_5.8-2735-g8bb06c2_20210121.AppImage ) on a clean install of Ubuntu 20.04 and can confirm that the problem is identical to that experienced with Ubuntu 18.04
As it stands the modified GUI does not appear to be fit for purpose on either of the current LTS versions of Ubuntu.

[2021-03-13 09:15] Pandagrapher commented on #6112
Same for me: I don't have this behavior anymore when installing a Big Sur update with 5.8 release version.
Moreover, profile directory path computation has been updated in dev since 5.8. We should see if this issue is still available with future 5.9 release.

[2021-03-13 10:33] noirsabb commented on #5574
Hi @heckflosse , @Thanatomanic

Fujifilm GFX-100S 14 bit samples including some shot in 35mm mode can be found here

https://we.tl/t-i7oyBlux9B

Fujifilm GFX-100S16 bit samples can be found here

https://we.tl/t-A8n9WoyahU

Debugging a RAF image with 35mm mode set:

--Type <RET> for more, q to quit, c to continue without paging--

Thread 91 received signal SIGSEGV, Segmentation fault.
[Switching t

[2021-03-13 11:20] Thanatomanic commented on #6132
@chaimav Could you try out the changes that have been made in `dev`? Is this issue resolved?

[2021-03-13 12:49] Thanatomanic commented on #6048
@pseudopanax Unfortunately I still cannot reproduce on my freshly installed Ubuntu 20.04 within VirtualBox on Windows 10.

[2021-03-13 14:42] TechXavAL commented on #6048
@Thanatomanic

Not the same behavior, but maybe somehow related?

I have just downloaded the latest appimage (RawTherapee_dev_5.8-2735-g8bb06c2_20210121.AppImage, same as the one @pseudopanax has tried), and I've run it in a native linux box (Linux Mint 20.1, which uses the same codebase as Ubuntu 20.04, so mostly the same, but not exactly the same).

Even if I can't see a problem with those shade

[2021-03-13 22:58] ghost commented on #6048
On my machine, the colour-change problem is the same on both the AppImage and a locally compiled version

I can't see any noticeable difference between the two versions on my machine. However, switching between the new version of the GUI and the legacy version shows that the new version takes up more screen space and is not as elegant.

[2021-03-13 23:06] ghost commented on #6048
![Screenshot from 2021-03-14 00-03-50](https://user-images.githubusercontent.com/65723152/111052168-17bab580-8459-11eb-9a98-a664c55cb176.png)
![Screenshot from 2021-03-14 00-03-04](https://user-images.githubusercontent.com/65723152/111052170-1c7f6980-8459-11eb-9d86-bf1fd851fc4c.png)

[2021-03-14 08:52] simohno commented on #6098
O.K. thus my suppositions are:
- if I move a file with another program, I _don't reopen it_ in RT and move it back with another program, the full path in RT's database (or PP3 itself?) has not changed, so the old PP3 is restored
- if I conversely move the file with RT, it updates the file full path, so that if I move back the file with Explorer, the full path stays wrong and RT rejects the associa

[2021-03-14 14:42] rebio commented on #6163
@Desmis
I just tested RawTherapee_dev_5.8-2814-g227ae487d_20210313_win64 and it seems to work fine.

EDIT: I did not close the Issue since I have no idea how the mods want such to be handled for bug reports

[2021-03-14 15:05] ajaycapers opened #6170 "IPTC data gets stripped when exporting JPG using Metadata copy mode "Copy unchanged""
**Steps to reproduce**
1. Take Original Image in JPG format (see attached, named Original.jpg). It has the Tag "Test", the Copyright "© Emiel Kappert" and the Usage "© All rights reserved".
2. Go to RawTherapee (Version 5.8) Editor. Don't change anything, set the Metadata copy mode to "Copy unchanged" and export the image. (Image attached: "Original_copy_unchanged.jpg)
3. Repeat step 2 with Metada

[2021-03-14 15:52] arturoisilvia commented on #6161
Problem solved.
Thank you Jacques.

[2021-03-14 15:52] #6161 closed, assigned to nobody

[2021-03-14 20:01] Lawrence37 commented on #6098
Correct.
Not sure if it's a bug. I can imagine that it's behaving as designed since you can have two images with the same name in different directories. If RT didn't use the full path, it would apply the same profile to both files, assuming they have the same size (could be common if the images are uncompressed). Regardless, I suppose it is possible to improve the cache association algorithm.

[2021-03-14 20:46] Lawrence37 opened #6171 "Non-local means smears image border"
Steps to produce:
1. Enable local adjustments.
2. Add full image spot
3. Add Blur/Grain & Denoise tool.
4. Set mode to anything except for off.
5. Change non-local means strength.

Observe the repeated pixels along the bottom and right sides of the image. The other two edges are unaffected.
![image](https://user-images.githubusercontent.com/45837045/111083427-d19e3a00-84ca-11eb-8768-c1cb5fe712e3.p

[2021-03-15 01:44] Beep6581 commented on #6168
Hey

Thank you.

I suggest not making further updates until the Local Adjustments pull requests are resolved, otherwise you might need to redo many keys:
https://github.com/Beep6581/RawTherapee/pulls

[2021-03-15 01:45] #6168 closed, assigned to nobody

[2021-03-15 12:04] chaimav commented on #6132
The issue with _local contrast_ has been resolved with Dev 5.8-2816. However, the bug with _look table_ has not. I also noticed that the Color Management >Auto matched camera profile > DCP > [] Tone curve checkbox has the same issue as look table.

[2021-03-18 07:13] Dumbphone1901 commented on #5431
Wondering if this thread has produced anything new since 2019?  I am also looking at rawtherapee for IR processing, mostly as a replacement for PS (ACR).  I am running into the same limitations with the green/magenta slider as the original poster.  I use a full spectrum Nikon D200 with various filters.  That particular camera has a very wide tolerance for in camera WB profiles so is ideal for IR.

[2021-03-18 07:28] Dumbphone1901 commented on #5431
Should have mentioned above that the problems detailed are with false color IR using filters at 720nm and below.  For 830nm b&w there is enough range in both Blue/yellow and mag/green to get rid of any color cast.

[2021-03-18 10:19] TechXavAL commented on #5431
I haven't been able to download the raw samples (link expired), but as a guess: would the [channel mixer](https://rawpedia.rawtherapee.com/Channel_Mixer) give a solution to this problem?

In the first image of this thread (even not being a raw file), if you slide the green slider on the green channel to the right, the image gets almost b&w. And as stated in Rawpedia, you can play with the tint sli

[2021-03-18 19:54] chaimav commented on #6132
I have located yet another place where what I believe is the same bug shows up.
Same initial steps as before:
-Add a full image local spot
-Add Dynamic Range & Exposure tool
-Increase exposure

Now go to Color > Color Toning > L*a*b color correction grid and start moving the black and white dots

What is unique about this instance is that you do not need to actually _enable_ Color Toning for the b

[2021-03-19 05:53] noirsabb commented on #5574
Hi

It looks like the 35mm display issue may be a result of parse_fuji's implementation in dcraw.cc. I updated parse_fuji as follows to get images shot with 35mm mode to display in RT, although YMMV. I hope this helps.

`} else if (tag == 0xc000 && len > 20000) {
      c = order;
      order = 0x4949;
      // while ((tag = get4()) > raw_width);
      // width = tag;
      // height = get4();

[2021-03-19 07:54] Desmis commented on #6132
@chaimav
See PR https://github.com/Beep6581/RawTherapee/pull/6173

jacques

[2021-03-19 08:09] #6171 closed, assigned to nobody

[2021-03-19 08:31] Thanatomanic commented on #6170
The EXIF data is copied over correctly as far as I can see:
**original image**
![image](https://user-images.githubusercontent.com/6567747/111751546-ed238f00-8894-11eb-9f30-d7a4db7b9acb.png)

**exported image**
![image](https://user-images.githubusercontent.com/6567747/111751623-03314f80-8895-11eb-96f4-534bdecd1030.png)

However, the IPTC data does not get copied over, which seems to be a bug.
**or

[2021-03-19 08:34] Thanatomanic commented on #6170
@ajaycapers There has been an earlier report of bad character handling in metadata, so there might still be something going on there https://github.com/Beep6581/RawTherapee/issues/3659

[2021-03-19 11:42] chaimav commented on #6132
I see that you keep trying to fix this by changing the pipeline order, but is that really addressing the root cause? Looking at my latest example, the color toning tool does not even have to be enabled for it to show up. Additionally, it seems that the actual image remains untouched, its just how it is displayed.

[2021-03-19 11:58] Desmis commented on #6132
@chaimav  @Thanatomanic
Have you tried  the PR?

In the change I made there are 2 things.
1) change the location, because this one is managed with a "event" of lower rank
2) change the "event" because it is the one that will avoid the interaction between the processes

In RT process are managed with "event" with various parameters
Ex in Improccordinator.cc:  to manage Local adjustments
[code]

But

[2021-03-19 13:11] chaimav commented on #6132
@Desmis Is there an automated build for the PR? I am afraid I don't know how to compile it.

Don't get me wrong, I am not saying the changes won't solve the issue, but the changes seem to address one area at a time rather than the issue as a whole. Of course, I am just a user and not a dev, so you know way more of the inner working than I do.

[2021-03-19 13:14] Desmis commented on #6132
I don't know if there is a build
Jacques

[2021-03-19 13:47] Thanatomanic commented on #6132
@chaimav Building is relative easy, unless you're really not comfortable working in a command line interface.
PR's don't get automated builds that you can download somewhere, but maybe interesting to look for a solution for this in the future. I haven't got the experience to cook up a packaged build myself, sorry.

[2021-03-19 13:54] chaimav commented on #6132
I can use a command line interface, but I would need a step-by-step tutorial to follow. Preferably one where I can can copy-paste commands from :-P

[2021-03-19 14:26] Thanatomanic commented on #6132
@chaimav I'll message you on Pixls

[2021-03-20 08:08] Thanatomanic commented on #6139
Ping @aferrero2707 for assistance

[2021-03-20 14:11] syyrmb opened #6176 "RT crashes when opens a folder in file browser and then delete it in Windows explorer"
**Short description**
When opening a folder in RawTherapee's file browser, and then delete that folder in Windows 10s' explorer, RawTherapee will freeze up and requires you to force-quit it.

**Steps to reproduce**
1. Open RawTherapee and open a folder (double click on it).
2. Delete that folder in Windows explorer.
3. Back to RawTherapee and click on its interface.
4. Freeze (RawTherapee not resp

[2021-03-20 20:03] Lawrence37 opened #6177 "Noise reduction reflection along borders"
Noise reduction in the details panel and local adjustments panel creates a small reflection along the borders of the image. It is most apparent on the right and bottom sides. The changes on the other sides are subtle and are best visualized using the local adjustments noise reduction with the mask set to "Show modified areas". The issue is sensitive to the position of the preview. If you can't rep