[2019-05-13 07:43] Beep6581 commented on #5282
For reference:
![screenshot_20190513_091305](https://user-images.githubusercontent.com/5844619/57604024-7106e480-7563-11e9-9be9-bfa80d517bc5.png)

But I'm hijacking this issue now. If you'd like to continue, let's do so via the forum.

[2019-05-13 08:05] Benitoite commented on #5282
Thx @Beep6581
See https://discuss.pixls.us/t/macos-screenshot-widget-color-seems-wrong-in-some-apps/12543/2

[2019-05-16 12:21] heckflosse opened #5322 "newlocallab cppcheck"
I ran cppcheck on rtgui/locallab.cc and it found two susipicious parts:

https://github.com/Beep6581/RawTherapee/blob/newlocallab/rtgui/locallab.cc#L3410
[code]
Either there's a bug or one could simply write
[code]

and same thing here:
https://github.com/Beep6581/RawTherapee/blob/newlocallab/rtgui/locallab.cc#L5688

@Desmis Jacques, can you have a look please?

[2019-05-16 13:02] Desmis commented on #5322
@heckflosse

Ingo

You are true...This strange choice is due to an "old choice" setting....
Probably ?? there are others  similar things

Can you change ?

Thank you
jacques

[2019-05-16 13:06] heckflosse commented on #5322
@Desmis Sure I can change it, but to what? To

[code]
?

[2019-05-16 13:28] Desmis commented on #5322
yes

[2019-05-16 14:08] #5322 closed, assigned to nobody

[2019-05-16 16:12] heckflosse opened #5323 "Memory leak in RefreshMapper"
When using METM the `RefreshMapper` leaks 60 `unordered_map<int, int>` entries and 60 `unordered_map<int, std::string>` entries for each opened editor.

To reproduce:

1) Apply the patch from this post
2) Start RT in METM
3) open an image
4) look at console output
5) shows `actions_.size() : 613`
6) close editor
7) open an image
8) look at console output
9) shows `actions_.size() : 673`

[code]

[2019-05-16 17:39] erjiang commented on #4403
@lewicki-pk What remains to be done on this feature? Curious to know if it's something I'd be able to finish.

[2019-05-16 22:47] lewicki-pk commented on #4403
Hi @erjiang,
In the end I haven't done much in the topic, but feel free to check out my
fork. It is more than thousand commits behind current master and there are
only a couple of lines changed but it will at least show you where to start.
The change does not seem that big or difficult so I think you should be
able to handle that.
Good luck.

On Thu, 16 May 2019 at 19:39, erjiang <notifications@gi

[2019-05-17 01:33] erjiang commented on #4403
@lewicki-pk Thanks, your work is a good starting point for me.

I've gotten the code to check EXIF, then XMP, then pp3 for rating and allow user to override the embedded rating via the pp3 rank. But I've run into an issue where there's no way to override the embedded rating with 0.

If image has Rating=5, user can set rank to 1-5, but if user tries to set rank to 0, then the code has no way of kno

[2019-05-17 02:03] erjiang commented on #4403
I changed the default value of `pparams->rank` to `-1`. rank=-1 means "no pparams from disk", and rank=0 means "rank=0 based on pparams from disk". Feels a bit hacky, so let me know if there's a better way.

[2019-05-17 06:45] Hombre57 commented on #4403
@erjiang What is the meaning of `-1` in the XMP ranking tag ? Is there a special `bool rankSet` tag in XMP's specification ?

[2019-05-17 06:59] lewicki-pk commented on #4403
As far as I know `-1` can be used for setting "Rejected" image but not all formats support this. XMP does support it.

[2019-05-17 07:49] Floessie commented on #5323
Hmm, after just a quick glimpse I saw there are only a few places that call `RefreshMapper::getAction()`. My first idea was using `ImProcCoordinator::endUpdateParams()` to clear the map. But wouldn't it be even better to augment the `ProcEvent` with the action? It's passed as `const&` everywhere, so adding another member won't hurt. This would supersede the whole `RefreshMapper`.

[2019-05-17 09:25] Floessie commented on #5323
@heckflosse Here's a POC (needs some cleanups for production :wink:):

[code]

HTH,
Flössie

[2019-05-17 13:43] heckflosse commented on #5323
@Floessie Here's my quick & dirty solution:
[code]

[2019-05-17 14:40] erjiang commented on #4403
@Hombre57 There is no "rankSet" tag that I know of. Official definition of `xmp:rating` is:

If we want to support xmp:Rating = -1, maybe we can use it to set InTrash == true? That way you can reject images in-camera during your shoot, browse them with RT and filter for InTrash, and then nuke them.

[2019-05-17 21:43] heckflosse commented on #5323
Here's a new version of my patch which also reduces lookups to the translation while getting a history message:

[code]

[2019-05-18 00:24] erjiang opened #5326 "Display AF points in image editor"
Many cameras include metadata about what auto-focus points the camera has and which ones were used in each photo. It would be useful to optionally display those points on the photo, similar to what the camera shows when reviewing photos.

For my Canon 6D mk I, exiftool shows the following data:

[code]

As people on pixls.us have pointed out, there are other open-source tools that could serve as a

[2019-05-18 16:14] heckflosse opened #5327 "Don't preprocess and demosaic again when using coarse rotation or flip"
Currently, when using coarse rotation or flip, the image gets raw preprocessed and demosaiced again, which imho is not necessary.

This simple patch fixes it:

[code]

Any objections to commit this patch?

[2019-05-18 16:44] #5323 closed, assigned to heckflosse

[2019-05-19 11:08] Desmis commented on #5297
I forgot to mention it here, but I made a change - in the same hue range, but I think easier to read, in the last commit

[2019-05-19 14:03] heckflosse opened #5328 "Fix some leaks in editorpanel"
This patch fixes some leaks in editorpanel:

[code]

[2019-05-19 14:06] #5327 closed, assigned to heckflosse

[2019-05-19 16:12] heckflosse commented on #5328
Just as a note: Before this patch, on Windows, RT leaked three GDI handles each time an editor was closed. After patch it leaks only one GDI handle.

[2019-05-19 19:12] afontenot opened #5329 "~50% of Canon EOS REBEL T5i CR2 -> Adobe DNG files are decoded incorrectly (pink cast)"
Hi, I'm dealing with a situation similar to this old issue: https://github.com/Beep6581/RawTherapee/issues/2383

As far as I can tell, all my CR2 files display correctly in RawTherapee. However, I have a folder converted to DNG by a recent version of Lightroom. All the files were converted at the same time, but roughly half of them display incorrectly in RawTherapee. (Adobe's "lossy" mode was not

[2019-05-19 22:25] #5328 closed, assigned to heckflosse

[2019-05-20 12:26] heckflosse opened #5330 "locallab ui leaks"
The locallab ui leaks about 13 MB memory and (on Windows) about 470 GDI handles each time an Editor in METM is closed.
I will have a look.

[2019-05-20 13:37] Beep6581 commented on #5329
@afontenot
1. Upload the original raw.
2. Did you tick "Embed fast load data"?

[2019-05-20 13:43] Beep6581 commented on #5329
Yes you did. Disable "Embed fast load data".

Duplicate of #4695

[2019-05-20 13:43] #5329 closed, assigned to nobody

[2019-05-20 13:45] Beep6581 commented on #5297
Fix confirmed.

[2019-05-20 13:45] #5297 closed, assigned to nobody

[2019-05-20 14:03] heckflosse commented on #5330
This patch reduces the memory leak to about 4 MB and the GID handles leak to 31

[code]

[2019-05-20 15:51] LowFlyer opened #5331 "Lens correction isn't applied"
Some files ( not all ) created by my Mavic 2 Pro do not show properly in RawTherapee, as if the lens correction was not applied.  ( The same file shows properly in LR )

I suspect that the problem is with the Mavic2, and am trying to get a better understanding so I can try to report the problem to DJI if needed.

A sample file and screen shot can be found here  https://filebin.net/fb9dahutojlrbmrs

[2019-05-20 16:30] heckflosse commented on #5330
@Desmis Jacques, can I push this?

[2019-05-20 16:47] TooWaBoo commented on #5331
If your camera and/or lens is not listed in the lensfun database then you need a proper lens correction profile (.lcp) for your camera and lens. e.g one from Adobe LR. 😉
You'll find them in `C:\ProgramData\Adobe\CameraRaw\LensProfiles...` if you have installed any Adobe product.

![grafik](https://user-images.githubusercontent.com/13800920/58037850-b19bca80-7b2e-11e9-9daf-d47d1b9c3b6a.png)

[2019-05-20 17:08] Desmis commented on #5330
@heckflosse
Ingo

I just commit and push a change...big bug in Retinex....
Now  you can :)

jacques

[2019-05-20 17:35] afontenot commented on #4695
Hi, I'm coming here from my issue, which was closed as a duplicate of this one. I'd very much like to be able to use RawTherapee as an alternative to Lightroom, but this issue is definitely a blocker for me. (In my case, the effect of enabling fast load data is even more disastrous than here.) Just for starters, I would have to recreate the DNGs for all my files, which would require digging out my

[2019-05-20 18:20] heckflosse commented on #5330
9c52907 reduces the leaks to the level of current dev (one GDI handle leak on windows). Closing as fixed.

[2019-05-20 18:20] #5330 closed, assigned to heckflosse

[2019-05-20 19:48] afontenot commented on #4695
A little bit of documentation. I'm sure the developers of RawTherapee know all this, but it might help someone else who drops by and ends up working on the problem.

"Fast Load Data" is a lossy-jpeg compressed full size image preview that can be embedded in a compliant DNG file as an IFD. (DNGs are based on TIFF.) The point of embedding such a preview is so you can show the user a full sized repre

[2019-05-20 22:08] afontenot commented on #4416
@thirtythreeforty I got a segfault after running RawTherapee a while with jemalloc. I'm confused by that because I thought it was supposed to be a drop in replacement for malloc. Trying to see if I can recreate the segfault with the glibc malloc but so far nothing.

[2019-05-20 22:10] thirtythreeforty commented on #4416
Post the backtrace, if you can. Either the jemalloc or the RT devs will probably consider that a bug.

[2019-05-20 22:13] afontenot commented on #4416
Here it is; debug build of the latest -dev.

[jemalloc bt.txt](https://github.com/Beep6581/RawTherapee/files/3199983/log.txt)

[2019-05-21 02:29] dunker56 opened #5332 "Lens Correction in LR crashes RT"
Version Details: 5.3
Operating System name and version Windows 10, updated to concurrent.

My bug doesn't require an upload I don't think but I can give you a sample file but I believe this is a common issue.

I shoot with Pentax, K-1 and KP, it doesn't matter which. The RAW file is DNG from the camera. I can import the file first into LR and then apple a Lens Correction. I can then EXPORT the fil

[2019-05-21 02:37] andygoth opened #5333 "Keyboard shortcut should reveal tool's current tab (original or favorites)"
With "crop" added to the favorites list, the crop tool is no longer present in the transform tab. Nevertheless, the crop button or "c" keyboard shortcut always selects the transform tab, even if the favorites tab was already showing. Instead, I believe the crop button or "c" should select whichever tab the crop tool is on and (if necessary) scroll so that it is fully visible.

Potentially related

[2019-05-21 02:39] andygoth commented on #5333
Problem occurs with the crop button as well as the "c" keyboard shortcut

[2019-05-21 02:41] andygoth commented on #5333
Potentially related issues which I have not verified (too much of a hassle to edit options and restart, sorry): have a look at the "w" white balance and "s" straighten buttons/shortcuts, which also pick predetermined tabs. Maybe there are others too, but I am unaware of them.

[2019-05-21 06:18] Desmis commented on #5241
I push some changes

Better work with "Soft radius"
Take into account general settings in algorithm clarity

Improvments to "residual" image - contrast, compression,...

[2019-05-21 06:46] Floessie commented on #4416
@afontenot Is it thread 1 that segfaulted?

The preloaded jemalloc hangs on exit here. Could not reproduce a SEGV, yet.

[code]

[2019-05-21 06:52] Beep6581 commented on #5332
RawTherapee 5.3 is unsupported.

http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Requirements_of_a_good_bug_report

Sounds like the "raw file" is no longer a raw file. Upload both the original raw file and the one you exported from LR.

[2019-05-21 11:40] heckflosse commented on #5333
This should fix it:

[code]

[2019-05-21 12:06] Floessie commented on #5333
@heckflosse :+1: You could turn the `favorites` lookup into a lamba, use a ranged based `for` and omit one indentation level like so:

[code]

Best,
Flössie

[2019-05-21 13:06] heckflosse commented on #5333
@Floessie

[code]

[2019-05-21 13:14] Floessie commented on #5333
@heckflosse Exactly, except for the c'n'p error in `if (it == crop) {` (and it's not an iterator anymore).

[2019-05-21 13:16] heckflosse commented on #5333
@Floessie this c'n'p error is even worse:

[code]

[2019-05-21 13:18] Floessie commented on #5333
That's the one I meant. :wink:

Why is `lensgeom` now expanded conditionally?

[2019-05-21 13:19] heckflosse commented on #5333
@Floessie Now I got you. I thought you meant only the iterator.

If rotate is moved to the fav tab, then only rotate needs to be expanded, because it's not inside lensgeom anymore in this case.

[2019-05-21 13:32] heckflosse commented on #5333
@Floessie You're right. I broke it in the case neither lensgeom nor rotate were moved to the fav tab. Will fix that.

[2019-05-21 13:37] heckflosse commented on #5333
@Floessie Should be fine now

[code]

[2019-05-21 14:24] #5333 closed, assigned to heckflosse

[2019-05-22 00:31] afontenot commented on #4416
@Floessie I think it was thread 1, but I'm not sure how I could confirm that if the backtrace itself doesn't. I don't do much debugging of multithreaded applications. If there's additional information I can give you by crashing it again, let me know. I can probably reproduce the crash.

[2019-05-22 06:20] Floessie commented on #4416
@afontenot Normally, when GDB catches a SEGV a `bt` or `bt full` will show the stack trace of the crashed thread.

That would be helpful. :+1:

[2019-05-22 06:38] afontenot commented on #4416
@Floessie I generated the backtrace with

    thread apply all bt full

Which is what's suggested here: https://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

The backtrace for the thread 1 is the last one in my log. I think that's the one that got SEGV, given that gdb has it marked as the current thread. I can try to generate another crash though.

[2019-05-22 09:40] Beep6581 commented on #4416
`info threads` spits out a list, where one is marked with an asterisk - that is the one which crashed. In this case, it is thread 1.

[code]

[2019-05-22 11:34] Floessie commented on #4416
@Beep6581 Yep, this is what @afontenot already mentioned.

So the `main()` thread is deep down in destructing GTK objects when it hits a SEGV in libjemalloc (!). I honestly think, this isn't RT's fault.

@afontenot Another trace could either back or contradict it. I'd be glad if you could provoke another crash under GDB.

[2019-05-22 11:41] ghost opened #5334 "Translation in french : redimensionnement"
There is a mispelling in the translation files in French. The word "redimensionnement" is incorrectly spelled "redimentionnement" in 3 locations.

https://github.com/Beep6581/RawTherapee/blob/b2936d185de9e672e434edf5476d02422457309d/rtdata/languages/Francais#L1020
https://github.com/Beep6581/RawTherapee/blob/b2936d185de9e672e434edf5476d02422457309d/rtdata/languages/Francais#L1789
https://github.co

[2019-05-22 15:58] Desmis commented on #5334
For  me in french ==> **redimensionnement**

[2019-05-22 16:26] timlt commented on #5084
For me this is resolved.  The latest builds of Gimp (2.10.10), RT (5.6), and even Darktable (2.6.2) are all working now on Win10 x64.  With a clean install of Gimp and either of these apps and no extra configuration steps, I can open a RAW/DNG file in Gimp, and it pops open in RT (though I also confirmed it works with Darktable).

[2019-05-22 16:26] #5084 closed, assigned to nobody

[2019-05-22 19:53] heckflosse opened #5336 "extremely slow loading of Panasonic DC-G9 80 MP files"
The loading of this [file](https://raw.pixls.us/getfile.php/2584/nice/Panasonic%20-%20DC-G9%20-%204:3.RW2) is extremely slow on my system using latest RT dev.

Can someone please confirm this using this patch:
[code]

[code]

7 seconds to parse the exif data is really strange...

[2019-05-22 20:37] Beep6581 commented on #5336
@heckflosse
`5.6-47-g`b2936d185
x86_64 Intel(R) Core(TM) m3-6Y30 CPU @ 0.90GHz
[code]

[2019-05-23 06:27] Floessie commented on #5336
@heckflosse @Beep6581 How does it behave with [`metadata-exiv2`](https://github.com/Beep6581/RawTherapee/tree/metadata-exiv2)?

I'll give it a try in a VM...

[2019-05-23 07:11] Floessie commented on #5336
### dev
[code]

### metadata-exiv2
[code]

Best,
Flössie

[2019-05-23 07:12] #5334 closed, assigned to nobody

[2019-05-23 07:13] Floessie commented on #5334
@jomuller @Desmis Merged. Merci!

[2019-05-23 10:44] heckflosse commented on #3801
On a fresh clone I get this when trying to build metadata-exiv2 branch on Windows/msys2:

[code]

[2019-05-23 11:54] Floessie commented on #3801
@heckflosse Either you fix it by yourself, or I'll have a look later.

[2019-05-23 11:58] Beep6581 commented on #3801
Compiled successfully and without issues using GCC-7.3.0 and exiv2-0.27.0 in Sabayon.

[2019-05-23 12:09] imsodin commented on #3801
Maybe @piponazo, @D4N or @clanmills have some time to look at the exiv2 side of things (https://github.com/Beep6581/RawTherapee/compare/metadata-exiv2#diff-09e85bf37284ee79c4e479205a384db3), and if not they now know that something is happening regarding adaption of their library in RawTherapee :)

[2019-05-23 13:11] Floessie commented on #3801
@imsodin Stop, stop, stop!

This looks to me like a wrong parameter type to `std::wstring` and has nothing to do with `libexiv2`.

I'll have a look later.

[2019-05-23 13:38] Floessie commented on #3801
Should be fixed with fa63b2f7a6a2cc949d9c8a072a88eacb57fb353e, though this code isn't compiled on Linux (which I use). Take it with a grain of salt.

[2019-05-23 15:12] heckflosse commented on #3801
@Floessie Works fine now :+1:

About this comment from @agriggio

(I don't think exiv2 supports this)

That's a step backwards for the HDR files from some Pentax cameras :frowning_face:

[2019-05-23 15:17] imsodin commented on #3801
That wasn't specific to that issue, just in general. They have mentioned being interested to help with adoption, I am not quite sure in which context. Anyway it was more meant as a heads-up to them. Sorry if I stepped on any toes in the process.

[2019-05-23 15:35] clanmills commented on #3801
Stop?  No problem.  I'm on vacation.  Let me know if you need me to get involved.

[2019-05-23 15:46] heckflosse commented on #3801
@clanmills Does exiv2 support per-frame metadata?

[2019-05-23 15:53] clanmills commented on #3801
Multipage formats such as TIFF?  No, we don't.

I believe Exiv2 started off life reading JPEGs and now handles about 20 different formats.  However, as JPEG is "one image per file", that's the current architecture.  Although "multi-page tiff" has been on the wish-list for years, it still remains in the future.

About 5 years ago, I successfully investigated using the libtiff utilities **`tiffcut`*

[2019-05-23 18:35] Floessie commented on #3801
@imsodin

No worries, all fine. I just had to hurry before the exiv2 people wasted their time on an RT specific problem. :sweat_smile:

[2019-05-23 18:46] Floessie commented on #3801
@heckflosse

In which way are the per-frame metadata relevant? I just ask, because a short while ago (in e39726dbf7c88e9bfce2bf338ff32ef3669b52ca) we had to default to frame 0 in `rtexif` to prevent crashes.

[2019-05-23 19:33] heckflosse commented on #3801
@Floessie

In dev the info-dialog for example shows the exposure-time for each frame of a 3-frames Pentax HDR file correctly for each sub-image selection in raw demosaic tab, while in this branch it always shows the exposure-time from first frame

[2019-05-23 22:08] jbcaramar commented on #5204
Hmm. New here. I use RT on Linux to do my raw processing and just purchased a Lumix S1R. Found out I have no way to develop my raw files! =(

Does this thread cover the DC-S1R as well as the DC-S1? The resolutions of the sensors are quite different (47.3MP vs 24.2MP). I'm unfamiliar with what you need as far as files, but I'd be very happy to contribute some S1R raw files to help get support into

[2019-05-24 02:07] rogerxxxx commented on #4959
Maybe I'm just ignorant, but how about a small/quick how to use the tool for building a simply ICC profile?

The "https://rawpedia.rawtherapee.com/ICC_Profile_Creator/fr" should be converted to the "/us" page as well.

There's enough terminology within that page to make 99.9% of the populace of the world appear to look like dummies!

[2019-05-24 09:19] Beep6581 commented on #5204
Hi @jbcaramar
Yes, there are in fact three sets of images that will help:
1. A set of white frames, http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
2. A photo of a color target (we created the profile from that ourselves), http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles
3. A set of images for and as defined by RPU, https://raw.pixls.us/

Please open a new issue

[2019-05-24 12:58] heckflosse opened #5337 "Respect find/filter criteria when emptying trash"
To reproduce:

1) create two copies of amsterdam.pef in file browser and move both to the trash
2) show the trash, looks so:
![grafik](https://user-images.githubusercontent.com/13733487/58328940-af3db700-7e33-11e9-831d-204daf262ebd.png)
3) Enter `1` ind the find box and hit enter, looks so
![grafik](https://user-images.githubusercontent.com/13733487/58328995-ced4df80-7e33-11e9-8877-a7526c4fab09.pn

[2019-05-24 13:04] sguyader commented on #5337
I don't know, this behaviour looks normal to me:
1. when you filter, you don't select, you just don't show what is filtered out (though the hidden files are still there),
2. the button says "Permanently delete the files from trash", it doesn't say it will delete only what is shown or selected, so it is implicit that pressing the button will delete all the files from trash.

[2019-05-24 13:12] Beep6581 commented on #5337
Then filtering should alter the selection.

[2019-05-24 13:15] Beep6581 commented on #5337
In fact, it already does, just apparently not consistently.

1. Select a bunch of thumbnails.
2. Enable metadata filters.
3. Filter by anything so that some thumbnails disappear.
4. Right-click on any remaining selected thumb and apply some black-and-white profile.
5. Disable metadata filters.

The profile was applied only to the visible thumbs.

[2019-05-24 13:20] Beep6581 commented on #5337
1. Select a bunch of thumbnails.
2. Type some keyword in the "Find" box so that some thumbnails disappear.
4. Hit tab to move focus out of the Find box, then press the delete key on your keyboard. The visible thumbs now have a "Deleted" icon.
5. Clear the find query.

Only visible files were deleted.

So again, actions are performed only on visible thumbnails, which in my opinion is correct and an

[2019-05-24 13:24] Beep6581 commented on #5337
Which takes me to the root of the problem - the "permanently delete the files from trash" message is wrong.

Let's assume 10 files were selected but 3 are visible.
[code]

The selection is completely ignored. You can select 3 or 0 files, and it will still want to delete all files in trash. So,
- either it should respect the selection, which IMHO is not a good idea, since then we have a problem of

[2019-05-24 13:30] heckflosse commented on #5337
@Beep6581 :+1: for the third solution

[2019-05-24 14:47] #5337 closed, assigned to Beep6581

[2019-05-27 09:24] Desmis commented on #5241
I push others changes, all in "Residual image"

* improve tone-mapping
* improve contrast
* improve shadowsHighlight

jacques

[2019-05-27 20:32] falket commented on #5331
@LowFlyer

This is a beta i've made, it fixes distortion very well but vignetting seems a little bit overcorrected.

Please test it, i don't have such drone.

[DjiMavic2pro.zip](https://github.com/Beep6581/RawTherapee/files/3224923/DjiMavic2pro.zip)

Paste the text into actioncams.xml

[code]

[2019-05-27 20:33] falket commented on #5331
`<lens>
        <maker>Hasselblad</maker>
        <model>L1D-20c &amp; compatibles</model>
        <model lang="en">fixed lens</model>
        <model lang="de">festes Objektiv</model>
        <mount>l1d20c</mount>
#        <type>equisolid</type>
        <cropfactor>2.8</cropfactor>
        <aspect-ratio>3:2</aspect-ratio>
        <calibration>
            #<distortion model="ptlens" focal="10" a="

[2019-05-27 20:39] LowFlyer commented on #5331
I will try and report Thank you:)                                                                                                                                                                         Sent from my BlackBerry Smartphone

[2019-05-27 20:41] falket commented on #5331
@LowFlyer Seems to work

![Schermata a 2019-05-27 22-40-53](https://user-images.githubusercontent.com/15281362/58438719-87b74a80-80d0-11e9-8790-fb73c879ecef.png)

[2019-05-28 14:59] germanvogel opened #5339 "Autocomplete IPTC keywords"
Many thanks for the excellent developments in RawTherapee (where can I donate by the way?)

I was wondering if you are interested in developing the functionality of auto-completable keywords, i.e. the capacity for RT to offer the user keywords to enter as they type in new ones, from a list of previously used tags (saving keywords across sessions, so the next time you're using RawTherapee, you can

[2019-05-29 18:40] RawConvert opened #5340 "Newly compiled RT Dev crashes straight away with Segmentation fault"
Just (29May2019) compiled RT Dev as per attached and it crashes.
[seg-fault.txt](https://github.com/Beep6581/RawTherapee/files/3233945/seg-fault.txt)

[2019-05-30 01:40] TooWaBoo commented on #4148
There's a huge update of MSYS.
During compiling of RT I got a lot of warnings. Compiling was successful and I didn't find any issue.
[code]

[2019-05-30 10:19] Thanatomanic commented on #4148
This seems to be due to the update to GCC 9.1 which apparently has stricter default warning settings.

[2019-05-30 11:10] Beep6581 commented on #5340
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2019-05-30 11:10] #5340 closed, assigned to nobody

[2019-05-30 11:15] Thanatomanic commented on #5340
@RawConvert No such problems here on `dev`. You should try and compile a debug version and run RT through gdb.

[2019-05-30 11:58] Desmis commented on #4148
Same warnings, but all seems to work well :)

[2019-05-30 16:32] sv-lary opened #5341 "The file browser does not see the files."
After switching to RawTherapee version 5.6, I am having several severe problems:

1. The file browser sees directories, but does not see files.
2. When I double-click the directory name, no hidden directory in which the thumbnails of the images should be is created. Thumbnails are therefore not created either.
3. I cannot change font size, or, more precisely, these changes are not saved in the con

[2019-05-30 23:47] RawConvert commented on #5340
@Thanatomanic , thanks.  I tried again tonight, this time no crash!!  Seems ok...

[2019-05-30 23:53] RawConvert opened #5342 "White dot artifacts caused by CIECAM02"
This screen grab shows the problem -
![white-artefacts](https://user-images.githubusercontent.com/16868433/58672236-df0e2280-833d-11e9-98ad-21dc09e31fa0.png)
This is with current DEV RT 5.6-54 but also occurs with 5.6-16.  Ubuntu 16.04 LTS
50 Meg pxl 5DSR raw file
The raw and .pp3 are here -  https://filebin.net/f9kxx16vqaen990t
The filebin says 2 weeks expiry - used to be 2 months I think?
Some o

[2019-05-31 09:35] heckflosse commented on #5342
@RawConvert Thanks for reporting. Bug confirmed. It's caused by CIECAM 02. I will have a look.

[2019-06-03 01:21] wilchak commented on #5312
The latest two dev builds (most recent.... 5.6-54-g2bed5dc5, and the previous one also) repeatedly crash when a particular folder is opened from the recent folders menu. But... not every time. Just like, 3/4 times. Attaching the crash logs, but what's strange is that they are all different. I honestly just don't know.

[rawtherapee-bin_2019-06-02-211937_AT-086.txt](https://github.com/Beep6581/RawT

[2019-06-03 03:56] Benitoite commented on #5312
Hi, thanks for testing! Which “theme” are you using, and can you make it crash with TooWaaBlueDark?

[2019-06-03 06:31] Floessie commented on #5312
* rawtherapee-bin_2019-06-02-211937_AT-086.txt seems to me like a GTK bug.
* rawtherapee-bin_2019-06-02-211652_AT-086.txt is the one I tried to mitigate in [refreshprogressbar-experiments](https://github.com/Beep6581/RawTherapee/tree/refreshprogressbar-experiments).
* rawtherapee-bin_2019-06-02-211214_AT-086.txt is a race inside `FileBrowserEntry::FileBrowserEntry()`. I'll fix that.

[2019-06-03 06:43] Floessie commented on #5312
@Benitoite Could you provide @wilchak with a build from `refreshprogressbar-experiments` to see, if this fixes at least the two bugs I identified? I've updated the branch to `dev`.

[2019-06-03 10:35] aferrero2707 commented on #4404
@Beep6581 some thoughts about a better way to integrate AppImage self-updates... There is a tool called `appimageupdatetool` that allows to nicely automate the update process, and uses zsync-based incremental updates in order to save bandwidth and fetch only the bits needed to go from one version of the package to another.

Here is an introduction to this tool: https://github.com/AppImage/AppImage

[2019-06-03 16:30] Benitoite commented on #5312
@wilchak @Floessie Sure, https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6-63-gbc3cc988d.zip

[2019-06-03 21:21] Beep6581 commented on #4404
Hey @aferrero2707 , I won't be able to take a look in depth until next week, could you ping me then? Then again, if the script does not complicate things for people who don't want to use it, and is known to perform well and be safe to run, then just go ahead.

[2019-06-04 17:15] heckflosse commented on #4094
@Desmis Jacques, I just merged dev into newlocallab localy. May I push?

[2019-06-04 17:16] heckflosse commented on #4094
@Desmis I just saw you have been faster

[2019-06-04 17:34] Desmis commented on #4094
@heckflosse

Ingo
The older we get, the faster we are :)

jacques

[2019-06-04 20:54] user2155 opened #5346 "Vibrance causes RT to freeze"
The bug with Vibrance - it hangs the program:

How to reproduce the bug:
Start the program, using its file browser open file "Ice-cream_car_CRW_2893.DNG" (file "Ice-cream_car_CRW_2893.DNG.pp3" should be in the same directory), in "Color" tab make "Vibrance" enable. It start processing image and never stops, consuming 50% of CPU.

The program responses for mouse clicks (I can zoom in/out, etc), but

[2019-06-04 21:35] heckflosse commented on #5346
@user2155 Thanks for reporting. Bug confirmed. Looking...

[2019-06-05 08:02] Floessie commented on #5346
Works fine on Linux.

[2019-06-05 10:55] #5346 closed, assigned to heckflosse

[2019-06-05 11:07] Beep6581 commented on #5346
Bug confirmed in Sabayon using `5.6-55-g`386ae560b

[2019-06-05 11:25] Beep6581 commented on #5346
Fix confirmed.

[2019-06-05 23:18] Beep6581 commented on #5341
@sv-lary I installed `openSUSE-Leap-42.3-DVD-x86_64.iso`, installed RawTherapee 5.6 as per our Downloads page, and everything works fine. It's most likely that whatever issues you're experiencing are caused by problems in your system.

[2019-06-07 12:15] bnzf opened #5348 "Crash on DNG from PixelShift2DNG"
I created a .dng with PixelShift2DNG-0.9.8.67 from the dpreview studio scene pixelshift image of the Pentax K-1. This DNG crashes Rawtherapee 5.6 on OS 10.9 either immediately when opening it or the latest when swaping 2-3 time between this .dng and some other picture.

Moreover when not crashing immediately some features of Rawtherape, such as removing chromatic aberration is not available for th

[2019-06-07 12:45] heckflosse commented on #5348
Crash confirmed. Looking

[2019-06-07 14:38] #5348 closed, assigned to heckflosse

[2019-06-09 12:37] #5342 closed, assigned to heckflosse

[2019-06-09 16:29] RawConvert commented on #4504
Would it be a significant overhead to use double for all radius values?

[2019-06-09 16:33] heckflosse commented on #4504
@RawConvert

Yes, it would. Double precision gauss is not vectorized. And even, if it would be vextorized, it would be still 2 times slower than single precision gauss.

[2019-06-09 16:34] #5172 closed, assigned to nobody

[2019-06-10 20:41] Beep6581 opened #5351 "Revise Color Management article"
Revise http://rawpedia.rawtherapee.com/Color_Management
Ref: https://discuss.pixls.us/t/rt-output-profiles/12931/3

[2019-06-16 10:36] ff2000 opened #5353 "Adding new locallab spot changes exposure of image"
version: Updated locallab branch today at 9534981127524b89876434c36b86e2fb184602ec

I edited a photo, created one locallab spot and did local adjustments. Then I wanted to edit a second area, but adding a new spot changed the exposure of the photo, even though the new spot didn't contain any adjustments.

edits after first spot:
![locallab_exposure_1](https://user-images.githubusercontent.com/1973

[2019-06-16 10:42] ff2000 opened #5354 "handles of locallab spot interfer with crop borders"
locallab at 9534981127524b89876434c36b86e2fb184602ec

To reproduce:
* enable crop
* add a locallab spot
* move one of the four points of locallab spot so it sits over the crop border, then release the mouse button.
* Hover the spot point again so it gets highlighted, click and try to move it.

result: Instead of the point you move the crop.
expected result: adjustment of spot outline.

[2019-06-16 21:26] Beep6581 commented on #5331
@falket @lowflyer submit the profile upstream to Lensfun:
https://lensfun.github.io/calibration/

[2019-06-16 21:26] #5331 closed, assigned to nobody

[2019-06-17 15:46] Raoul-Kima commented on #3356
I fully agree. The current implementation is useless also to me!
A "proper" auto-exposure (that only adjust exposure, so no black level adjustment either) would be very useful for me.
One of the reasons why I don't like a black-level adjustment is because the current implementation of the black-slider does not actually adjust the black level, it does some other fancy things which look similar to t

[2019-06-18 14:33] yuzuyuzu1121 opened #5355 "Panasonic DC-GX7MK3 lensfun support"
Panasonic GX7MK3 is not on the camera list under
- Transform -> Profiled Lens Correction

resulting no correction can by applied when using automatic selection.

Attached is the sample raw file of GX7MK3 for reference. Thank you.

Version : rawtherapee-5.6-2.fc30.x86_64

[P1002445.zip](https://github.com/Beep6581/RawTherapee/files/3301946/P1002445.zip)

[2019-06-18 15:59] AlexanderDyer commented on #5204
I took a bunch of photos as described for New Raw Format support. Here is the link if they will be helpful to anybody. Thank you.

https://filebin.net/quwpbapsrsv3ch8m

Looking forward to getting some RAW support for my new camera. Let me know if I can provide anything further.

[2019-06-22 19:43] wilchak commented on #5312
Crash from the latest 5.6-73:
[rawtherapee-bin_2019-06-22-154120_Lil-Trashy.txt](https://github.com/Beep6581/RawTherapee/files/3317223/rawtherapee-bin_2019-06-22-154120_Lil-Trashy.txt)

[2019-06-22 20:18] heckflosse commented on #5312
@wilchak

http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2019-06-22 21:06] Benitoite commented on #5312
@wilchak is that 5.6.73 from dev branch?  Could you try the https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.6-63-gbc3cc988d.zip

[2019-06-23 03:38] jbruchon opened #5356 "RT scanning every single in the folder when I right-click > "Open in RT""
Version 5.6 on Windows 10 64-it. Every time I open a specific raw file with a right-click an "Open in RawTherapee," the program takes forever to load. I did some digging with Process Explorer and discovered that this is because RT is scanning EVERY FILE in whatever directory the raw file is located in when I'm only trying to open that one single file. Because all of these files are on a network dr

[2019-06-23 08:35] gaaned92 commented on #4094
- Is it intended to merge  some features of autowblocal in newlocalab?

[2019-06-24 00:40] dakhubgit opened #5357 "Chromatic aberration auto-correction in RT 5.5 produces garbage for DSC-R1 SR2 file at column 3799 of 3917"
Version: 5.5
Branch: releases
Commit: d9ac23555
Commit date: 2018-12-17
Compiler: cc 8.2.0
Processor: generic
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.0
Lensfun: V0.3.2.0
Build type: Release
Build flags: -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -fPIC -Wdate-time -D_FORTIFY_SOURCE=2 -std=c++11  -Werror=unused-label -Wall -Wuninitialized -Wno-deprecated-declarations -Wno

[2019-06-24 08:43] heckflosse commented on #5357
@dakhubgit Use RT 5.6 or add this to your camconst.json file:

[code]

[2019-06-24 10:16] dakhubgit commented on #5357
Ingo Weyrich <notifications@github.com> writes:

"Add this to" implies editing the system file which has comments
strongly discouraging it.  It turns out that I needed to create a
~/.config/RawTherapee/camconst.json file with the contents

{"camera_constants": [
    { // Quality C
        "make_model": [ "Sony DSC-R1" ],
        "raw_crop": [ 0, 0, 3924, 2608 ]
    }
]}

something which is explain

[2019-06-24 11:55] Beep6581 commented on #5355
@yuzuyuzu1121 http://rawpedia.rawtherapee.com/Lens/Geometry#Lensfun

[2019-06-24 11:55] #5355 closed, assigned to nobody

[2019-06-24 17:16] Benitoite opened #5358 "clang error on badpixels.cc variable-sized object initializations"
Hi @heckflosse I'm not able to compile with these initializations:

https://github.com/Beep6581/RawTherapee/blob/981970b508558d515878cf8653532020999473da/rtengine/badpixels.cc#L171-L172

and

https://github.com/Beep6581/RawTherapee/blob/981970b508558d515878cf8653532020999473da/rtengine/badpixels.cc#L213

due to the clang errors:

[code]

Thanks for having a look.

[2019-06-24 17:43] #5358 closed, assigned to nobody

[2019-06-24 20:13] heckflosse commented on #5357
@dakhubgit Ok to close the issue?

[2019-06-24 21:08] dakhubgit commented on #5357
Ingo Weyrich <notifications@github.com> writes:

Oh, sorry.  Yes, the issue as such appears to be addressed in
Rawtherapee 3.6.

--
David Kastrup

[2019-06-24 21:09] #5357 closed, assigned to nobody

[2019-06-25 09:37] gaaned92 commented on #5356
@jbruchon
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dev_5.6-90-g66c9cd617_WinVista_64_190624.zip
uploaded

[2019-06-26 05:41] Desmis commented on #5354
@ff2000
I can not do anything if I do not have the context...
Please provide raw and pp3

Thank you

[2019-06-26 05:41] Desmis commented on #5353
@ff2000
I can not do anything if I do not have the context...
Please provide raw and pp3

Thank you

[2019-06-26 06:31] ff2000 commented on #5353
Hi Jaques,
I sent you a RAW + pp3, share with other devs as you need.
Here is a short video that shows the effect:
https://youtu.be/bUVbTDxJa68

[2019-06-26 06:32] ff2000 commented on #5354
Hi Jaques,
I sent you a RAW + pp3, share with other devs as you need.
Here is a short video that shows the effect:
https://youtu.be/zuMB117qX0Y

[2019-06-26 08:38] gaaned92 commented on #5356
@jbruchon
Did you try the above build including @heckflosse correction?
Did it solved your issue?

[2019-06-26 10:37] Desmis commented on #5353
@ff2000
I push a change 9a46885, I think it solved the bug

Thank you :)

jacques

[2019-06-26 11:24] jbruchon commented on #5356
@gaaned92 Yes, it works as expected now.

[2019-06-26 11:41] heckflosse commented on #5356
Closed as fixed.

[2019-06-26 11:41] #5356 closed, assigned to nobody

[2019-06-26 11:45] sguyader commented on #5354
This is independent on the image and pp3, I've experienced the same issue several times with my images.

[2019-06-26 13:27] ff2000 commented on #5353
Thank you, it seems it is fixed now.
Couldn't trigger it anymore with several images.

[2019-06-26 13:27] #5353 closed, assigned to nobody

[2019-06-26 15:18] TechXavAL commented on #4527
This is a must have when you work with the wavelets tool and you will downscale the image: e.g. if you will downscale to 25%, and thus work at 25% zoom, the preview has little to do with the final exported image.

Not sure if it would be better that the high quality preview automatically resizes to the zoom setting (that is, to show accurately what you will see at 100% after exporting).

Anyway, t

[2019-06-26 16:37] Desmis commented on #5354
@pandagrapher
Could you have a look ?

Thank you
jacques

[2019-06-27 00:43] dakhubgit opened #5359 "DSC-R1 white point support"
The Sony DSC-R1 has level C support in camconst.json.  I have frequent color and exposure inconsistencies, so this seems worth of improvement.  I do suspect that some variable information is contained in the EXIF data since results may end up having quite some variation.  Nevertheless, getting started with raw whitepoints seems like a good idea.

I have taken photographs of a wall lit with flash t

[2019-06-27 10:44] heckflosse commented on #5359
@dakhubgit Thanks for the files :+1:
You should get better results with this entry (whitelevel changed)
[code]

[2019-06-27 12:22] dakhubgit opened #5360 "Sony Cyber-shot DSC-R1 color problems"
Here is a problem with cinnabar moth caterpillars on ragwort.  The image in the preview (extract with `exiftool -b -PreviewImage DSC09675.SR2 > preview.jpg`) shows orange-black striped caterpillars corresponding to the actual color of the caterpillars.  I have not found a feasible way to get RawTherapee to convert this orange color to anything but a darker shade of yellow.  Certainly not using "Au

[2019-06-27 13:16] heckflosse commented on #5360
@dakhubgit Adobe ships a dcp for dsc-r1 with dng converter. Here's the howto:
http://rawpedia.rawtherapee.com/How_to_get_LCP_and_DCP_profiles

Here's before/after. Left is without dcp, right is with dcp
![grafik](https://user-images.githubusercontent.com/13733487/60269204-4b088a00-98ee-11e9-86d8-b8bb8826e4a1.png)

[2019-06-27 16:38] dakhubgit commented on #5360
The orange using the DCP is a bit more pronounced on my computer than the screenshot would suggest and does make the difference between unsuitable and reasonable.  Where do we go from here regarding general use?  The DCP is proprietary to Adobe.  Looking under Color Management/Input Profile, "Camera Standard" cannot do orange.  "No Profile" works decidedly better in that regard but the colors are

[2019-06-27 17:02] heckflosse commented on #5360
@dakhubgit That would be the way to go:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2019-06-27 18:01] dakhubgit commented on #5360
Well, as can be guessed from my choice of a 15-year old camera, that sort of equipment for absolute colometry is not quite in my price league.  Since the raw files contain a JPEG preview with the camera's idea about colorisation, the question is whether one could reasonably average the variant color models (in this case standard, vivid, AdobeRGB) from a large enough corpus of raw images.  That sho

[2019-06-27 19:00] heckflosse commented on #5332
@dunker56 Closing as you did not provide a file as requested.

[2019-06-27 19:00] #5332 closed, assigned to nobody

[2019-06-27 20:45] Pandagrapher commented on #5354
@Desmis
I gonna try to see if I can deactivate mouse interactions with crop when using Locallab tab

Pierre

[2019-06-29 10:59] yeatzeck opened #5361 "Exif support for Xiaomi Redmi Note 7 DNG"
Please add support for Xiaomi Redmi Note 7 in RawTherapee.
I uploaded to https://raw.pixls.us/ an unmodified DNG/raw photo (file: IMG_20190615_155524.dng) taken with latest OpenCamera on RN7. The phone firmware is unmodified (official global ROM, MIUI 10.3.4 based on Android 9). I can upload more raw files with corresponding JPGs if there is a need for them (OpenCamera takes JPG/DNG at once), just

[2019-06-30 07:08] ff2000 commented on #4416
I need to further investigate on this issue. This gets so bad that I can't edit a single image in one go, I have to close RT and lose the whole editing history. It's a matter of minutes that RT eats up my 8 GB of RAM.
So I had some fun yesterday and played some hours with RT in valgrind.

[memleak.zip](https://github.com/Beep6581/RawTherapee/files/3342605/memleak.zip)

This is with LocalLab branch

[2019-07-02 14:15] rautiom opened #5362 "Should remove image from processing queue if image deleted"
When marking images for deletion I sometimes in purpose / in mistake mark images for deletion that are already in processing queue. If images are in processing queue and I proceed to permanently delete 1 or more of these images, I usually get RawTherapee to crash. If RT does not crash in this point usually it crashes accessing Processing queue.

Would it be sensible to remove image automatically f

[2019-07-02 19:18] jmtilli opened #5363 "Canon EOS RP should be supported, even without .CR3 format suport"
I'm using RawTherapee 5.5 and noticed it doesn't support EOS RP's RAW file format .CR3. Fair enough: I'll use the Adobe DNG converter and use DNG files in RawTherapee in the meantime and hope somebody creates an open source implementation for .CR3 in the long run.

Now, if I open a DNG file on RawTherapee, the Profiled Lens Correction doesn't detect the camera (it detects only the lens), and thus,

[2019-07-02 19:49] heckflosse commented on #5363
@jmtilli RT uses [lensfun](https://github.com/lensfun/lensfun). That's the right place to get lens correction support for your camera.

[2019-07-02 19:49] #5363 closed, assigned to nobody

[2019-07-03 18:52] heckflosse commented on #2608
I think we can close this...

[2019-07-03 20:05] #2920 closed

[2019-07-04 14:36] heckflosse commented on #5361
@yeatzeck The DNG you uploaded to raw.pixls.us opens fine here. What kind of support do you mean?

[2019-07-04 14:36] marekdovina opened #5364 "RawTherapee didn't show any RAW images on AMD Ryzen 2500U Pro, Win 10"
RawTherapee version 5.6
Microsoft Windows 10 Enterprise 1903 (OS Build 18362.175) 64bit
AMD Ryzen 5 PRO 2500U w/ Radeon Vega Mobile Gfx
Radeon Software Version 19.6.3

When I navigate to folder with RAW images (in my case from Samsung Galaxy S9+ in dng format), they not show in RawTherapee (cannot see, cannot edit, like they didn't exists). This is not issue on my other Intel based computer. JPG i

[2019-07-04 15:29] heckflosse commented on #5364
![grafik](https://user-images.githubusercontent.com/13733487/60677238-3e051100-9e81-11e9-8974-1c7cf738ecd8.png)

[2019-07-04 16:04] marekdovina commented on #5364
@heckflosse yes, it was one of first thing I checked. I did some research before I post this topic and checked all similar issues I was able to find, last steps was to check other software and I find only mentioned app worked (I did not check other paid software, used Windows default app and LR just to check if they works, I have similar issue also with other opensource software, but as I want to

[2019-07-04 16:07] heckflosse commented on #5364
@maweceq Can you upload such a dng to filebin.net and post the link here?

[2019-07-04 16:33] marekdovina commented on #5364
@heckflosse as I already mentioned it should be not in file itself, as I have no issue to open them and edit in RawTherapee on Intel based computer

[2019-07-04 16:49] heckflosse commented on #5364
@maweceq Just as a test, can you copy [this file](http://rawtherapee.com/shared/test_images/amsterdam.pef) into an empty folder and open the folder in RT?

[2019-07-04 17:55] marekdovina commented on #5364
@heckflosse I did it and this test file works

![Capture2](https://user-images.githubusercontent.com/5641348/60682645-5894b580-9e94-11e9-97f0-9477a739ec69.PNG)

I [share one file](https://filebin.net/msfgx5f1cj0hkefc/20190605_175412.dng?t=rnsboy8r) I know I already open and edit in RawTherapee on my Intel computer but cannot be loaded on my AMD machine

[2019-07-04 19:00] heckflosse commented on #5364
@maweceq The file you shared is a jpeg with .dng ending. Just rename dng to jpg and rt will show it.

[2019-07-04 19:06] marekdovina commented on #5364
@heckflosse Hmm what happen to it... I didn't realize it, thank you for a point.. Now I see that filesize differs from original I have on backup disk.. I have no idea what happen to all this dng files I have stored on google drive.. if this is the case than it is not RT bug but gdrive ...

[2019-07-04 21:15] marekdovina commented on #5364
finally I can confirm that google drive screw-up all my dng files and that is the real reason RawTherapee cannot process this files anymore. Thank you @heckflosse with helping me. Now I must check which images I lost definitely and which I have good backups.

[2019-07-04 21:15] #5364 closed, assigned to nobody

[2019-07-04 21:28] heckflosse commented on #5364
@maweceq You're welcome. I hope you get your lost files back somehow.

[2019-07-05 12:58] Beep6581 opened #5365 "Clarify permanent file deletion strings"
Strings which lead to permanent file deletion need to state so strongly.

Reference:
https://discuss.pixls.us/t/recover-deleted-image/13159

[2019-07-05 13:31] #5365 closed, assigned to Beep6581

[2019-07-06 08:30] Beep6581 commented on #4527
Update to the above: having experimented more with "fast export", with most tools it's accurate, with some its not, so while a "fast export" pipeline would satisfy most tools, for some we'd still need the "slow export" pipeline.

[2019-07-06 10:45] heckflosse opened #5366 "Windows build crashes when trying to load a corrupted jpg"

[2019-07-06 10:59] #5366 closed, assigned to heckflosse

[2019-07-06 11:21] TooWaBoo commented on #4148
Gtk+3.24.10 is out.
There's an issue with sub menus. A separate border is shown at the bottom and right side.
RT- and TWB themes are affected.

![grafik](https://user-images.githubusercontent.com/13800920/60755475-83941c00-9ff0-11e9-869c-eafbb96107ba.png) ![grafik](https://user-images.githubusercontent.com/13800920/60755490-d1108900-9ff0-11e9-988c-af93a5f1c48d.png)

[2019-07-06 14:21] abertens opened #5368 "Fails to compile since Jun 10th from git (Linux/Debian)"
Hi there,

Rawtherapee does not compile anymore in my system (Debian 9.9, cmake version 3.7.2, gcc version 6.3.0) since commit fe16bf79176c2c21d6d32061e2b10a1271293cbf "Move badpixel code to own compilation unit", from Jun 10th:

[code]

Adding
[code]
to `rtengine/pixelsmap.h` solves the problem.

Thank you for this great software :-)

Regards,
Andres Bertens
[code]

[2019-07-06 15:00] Beep6581 commented on #5368
Formatted for readability.

@abertens how about current `dev` head, c39a79802fdbccb9c0f41e51befaddc0fbfcc9b0 ?

[2019-07-06 15:10] abertens commented on #5368
@Beep6581
Just downloaded dev head and compile failed. Same problem.

[2019-07-06 15:31] Floessie commented on #5368
@abertens @Beep6581 Looking, as I'm on the same Debian version...

[2019-07-06 15:39] #5368 closed, assigned to heckflosse

[2019-07-07 10:20] yeatzeck commented on #5361
Thank you for your response.

I tried RawTherapee 5.6 and the newest RawTherapee LAB. None of them shows properly Redmi Note 7 EXIF image data from DNG.

Also the "Auto-Matched Curve Low / High ISO" profile does not match the brightness, contrast nor colors of the JPG file, as it usually more or less does with NEF/JPG pair my Nikon. It looks like the profile does not work. If you want, I can provi

[2019-07-07 10:30] heckflosse commented on #5361
About auto-matched curve: There is no jpeg embedded in the dng. Without an embedded jpeg, auto-matched curve does not work.

I will have a look about the exif.

[2019-07-07 20:48] #5359 closed, assigned to Beep6581, heckflosse

[2019-07-07 21:02] Beep6581 commented on #5360
To improve color support of the SONY DSC-R1, use a better input profile. To get a better profile into RawTherapee we need a photograph of a color target - instructions in @heckflosse 's link.

[2019-07-07 21:02] #5360 closed, assigned to nobody

[2019-07-11 12:21] torben-fruechtenicht commented on #5339
Great request, this would be a very welcome enhancement for keywords. Especially because this would also solve the issue that keywords are not saved across sessions (at least in my opinion auto-completion only makes sense if you also use historical keywords)

[2019-07-11 19:47] TechXavAL commented on #4527
I see 2 scenarios here:

- the tool is doing fine with fast export, so I wonder why would we have to open an external viewer if we just have to wait a few seconds
- the tool absolutely needs a slow export, because neither the preview, nor the external viewer would give an accurate image. So given one needs to view the real final image, a real export is a must, so we have to wait say 15-20 seconds,

[2019-07-11 20:15] Hombre57 opened #5371 "Global image processing for preview ?"
By reading issue #4527, I understand that it's quite complex to have a good preview of the processing, because of the dedicated pipeline that only compute the viewed part of the image at the preview's scale.

It has the pros of being faster to compute, but the cons of duplicating the pipeline, having approximate result when some complex tools are used, and make some tools quite difficult to develo

[2019-07-11 20:47] fliker09 commented on #4404
Sorry if off-topic, but how to get CLI version when using AppImage?

[2019-07-12 08:34] sbolten opened #5372 "Panasonic Lumix DC-G91 raw support (wanted)"
Uploaded sample raw shot with the Panasonic Lumix DC-G91 (aka G90/G95).
Asking to support this model in darktable.
If you need more samples (different crops, etc) just let me know.

Regards,
Stephan

[2019-07-12 08:36] sbolten commented on #5372
Wrong group - sorry

[2019-07-12 08:36] #5372 closed, assigned to nobody

[2019-07-13 19:36] heckflosse opened #5374 "Save some ui space"
A single screenshot may say more than a lot of words:
![grafik](https://user-images.githubusercontent.com/13733487/61175825-3dbdf180-a5b6-11e9-88ee-c282a8c624a3.png)

[2019-07-13 20:17] heckflosse commented on #5374
ping @Hombre57

[2019-07-13 22:04] #2608 closed

[2019-07-13 22:15] Hombre57 commented on #5374
@heckflosse I'm not at home, but I'll try to have a look tomorrow, otherwise on Monday evening.

[2019-07-13 22:22] Beep6581 commented on #5361
@yeatzeck do you have access to a [color target](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Color_Targets)?

[2019-07-14 13:11] yeatzeck commented on #5361
Hi,

I don’t have access to a color target.

Sorry.

Regards,

Jacek

[2019-07-14 19:09] heckflosse commented on #5374
@Hombre57 No need to hurry! I was just an idea...

[2019-07-15 09:53] heckflosse opened #5375 "speedup for FileCatalog::reparseDirectory()"
FileCatalog::reparseDirectory() is very slow because of
[this loop](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/filecatalog.cc#L1706) is O(n^2) and uses Glib::ustring for comparison, means it internally does n^2 expensive ustring::collate_key calls and (n^2)/2 std::string comparisons.

This can be changed to 2*n ustring::collate_key calls and n * log2(n) std::string comparisons.

I test

[2019-07-15 12:33] Beep6581 commented on #5295
Closing as too vague.

[2019-07-15 12:33] #5295 closed, assigned to nobody

[2019-07-15 12:34] Beep6581 commented on #3728
Closing as handled by #4403

[2019-07-15 12:34] #3728 closed, assigned to nobody

[2019-07-15 12:35] Beep6581 commented on #4403
Implemented in PR #5325

[2019-07-16 06:41] Beep6581 opened #5378 "Installed LGTM continuous security analysis"
I installed [LGTM](https://lgtm.com/) in this `Beep6581/RawTherapee` repo. It runs automatic checks when new PRs are made - see the "Checks" PR tab.

You can find a backlog of issues here:
https://lgtm.com/projects/g/Beep6581/RawTherapee/alerts/?mode=list

[2019-07-16 19:13] moomin commented on #5291
Hi team, sorry if it is not the right place to describe my issue.

I've read #3547 and the discussion there is focused mostly on UI elements and fonts rendering. As I understand it was indeed the goal of the enhancement. But I couldn't find any clear statement or description of how RT is supposed to handle preview in HiDPI environments, especially in combination with different OS settings.

In my

[2019-07-16 19:54] Hombre57 commented on #5291
@moomin  What is your Gtk version ? It's written in the AboutThisBuild.txt file, that can be displayed through the `Preferences` >> `About` buttons.

The "pseudo" method is to set GDK_SCALE to 1 programmatically inside RT, and let RT scale everything according to the detected scale. Something might not work in your case.

I've started a patch (this branch) few months ago, but due to intense paid j

[2019-07-16 20:43] gaaned92 opened #5379 "Use of the WITH_LTO building option"
Did somebody attempt to use the lto option either on Linux or MSYS2?

When building with lto, I get a lot of warning and errors during the link. So I wondered if there is something to define additionnaly to WITH_LTO ON?

Finally do you know if there is a noticeable increase of speed making this option worth to use?

[2019-07-16 20:54] heckflosse commented on #5379
The last time I tried that on my Windows/MSYS2 installation it didn't work.
But @Floessie mentioned somewhere he got speedups by using it on Linux

[2019-07-17 01:22] moomin commented on #5291
So I did some additional testing, and it turns out I did not test it in XOrg session with pseudo-HiDPI option enabled - the preview is sharp and the icons are of the right size.
So the good news is that it works in XOrg.

But still it doesn't work in Wayland.
It seems GDK_SCALE is [x11-specific](https://developer.gnome.org/gtk3/stable/gtk-x11.html) and doesn't have any effect in Wayland. I tried r

[2019-07-17 06:09] Hombre57 commented on #5291
@moomin Ok, fine. It don't see an easy hotfix for the Wayland window manager, so I'll still concentrate on making RT compliant with the Gtk way of supporting Hi-DPI, which will (should) also work with Wayland.

I'll ping you when patch will be pushed, you'll be of great help !

[2019-07-17 06:51] Beep6581 opened #5380 "Allow exporting star rating to saved image metadata"
RawTherapee allows one to rate images using stars. It would be nice if these ratings were transferred to the processed files when metadata copy mode = apply modifications.

Which tag should be used? In my opinion, the following tags if possible: `xmp:rating`, `exif:rating`. `iptc:imagerating`.

What should be done to existing rating info? In my opinion, it should be overwritten with RT's rating if

[2019-07-17 12:18] Beep6581 opened #5381 "Document Film Negative"
@rom9 I started documenting the Film Negative tool, could you please explain what the three sliders mean?

http://rawpedia.rawtherapee.com/Film_Negative

[2019-07-17 12:47] #4403 closed, assigned to lewicki-pk

[2019-07-17 12:48] Beep6581 commented on #2623
Handled by #5380

[2019-07-17 13:00] Beep6581 commented on #4404
Hi @aferrero2707 , I have some free time again. What is the status of the auto-updated integration?

[2019-07-17 13:28] Beep6581 commented on #5372
@sbolten regardless of group, if you have access to a color target, you could send us StdA + D50/D65 shots.

http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target

[2019-07-17 14:57] sguyader commented on #5379
I've been using this option on Linux for quite some time now (maybe a year?) with no problems.
I don't know if it gives a performance boost or not, but it doesn't seem detrimental on my system (Lenovo E570, Linux Manjaro).

[2019-07-17 17:22] TooWaBoo commented on #4148
mingw-w64-x86_64-gtk3-3.24.10-3 is out.
sub menu bug is fixed.

[2019-07-17 19:05] Hombre57 commented on #5291
I have a problem with the sequence of image rendering related to the Gtk mechanism : when constructing a new `RTImage` (derived from `Gtk::Image`), the parent widget can be known or unknown. When known, it can still be unmapped, and then won't know the screen it will be displayed on. So here is what I should do to comply to the Gtk mechanism :

   1. load the svg file at construction time of the R

[2019-07-17 20:43] rom9 commented on #5381
Here is my (very poor) attempt at explaining them. I tried to make a little introduction about what the exponents are for, and then explaining the consequences of changing each value.

[code]

[2019-07-18 06:33] Beep6581 commented on #5381
Thank you @rom9 , docs done. I might get my hands on some color film negatives later today, then I'll add pictures.

[2019-07-18 06:33] #5381 closed, assigned to Beep6581

[2019-07-21 09:59] Yz2house opened #5384 "update GUI in Japanese"
update GUI in Japanese according to the recent changes.
rgds
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/3414479/Japanese.txt)

[2019-07-21 11:18] #5384 closed, assigned to nobody

[2019-07-22 05:04] aratuk opened #5385 "macOS Catalina Crash — Incompatible Library"
[code]

RawTherapee crashes every time on open. (What I think is) the relevant portion of the crash log is as follows:

[code]

Please let me know if I've left out any important info. Apologies if this is already addressed elsewhere; I searched but didn't find anything.

[2019-07-22 06:06] aratuk commented on #5385
I downloaded a dev build that does not have this issue. So, assuming there aren't reversions that cause the bug to be retained, it will already have been fixed in a future stable build.

Info for build where bug is fixed:

[code]

[2019-07-22 09:57] Beep6581 commented on #5385
Ping @Benitoite

[2019-07-22 11:46] Benitoite commented on #5385
No problem. You guys are the first to report anything from Catalina.

MacOS 10.15 will introduce a new set of security features which prevent some apps from running without changing the default security settings. At the time 5.6 was released the first Catalina beta had only just been seeded, and there was not enough time for me to figure out app notarization, which has been added to the dev branch

[2019-07-22 12:37] Beep6581 commented on #5385
@Benitoite so nothing to do and ok to close?

[2019-07-23 04:46] #5385 closed, assigned to nobody

[2019-07-23 17:54] GSpronck opened #5387 "Fuji X-T30 X-Rite ColorChecker Passport"
Recently I bought a Fuji X-T30 camera. The colors in RawTherapee were a bit messy and I had a X-Rite ColorChecker Passport so I diceded to create my own color profiles.

I took shots of it in the sun and using and old fashion light bulb and a slightly more modern Philips HalogenA 100W light.

I had the opportunity to measure both lights in a freshly calibrated integraing sphere. Therefore I mentio

[2019-07-24 12:13] Beep6581 commented on #5387
@GSpronck thank you, I will take a look soon.

[2019-07-25 10:09] heckflosse commented on #5375
Closed as fixed

[2019-07-25 10:09] #5375 closed, assigned to heckflosse

[2019-07-26 01:20] wilchak commented on #5312
It's been holding up pretty well, but just hit a crash today with the latest 5.6-199 dev build running on macOS 10.14.6. Can reliably reproduce by going to Preferences > Color Management > clicking on "Directory containing color profiles"

Crash log:
[rawtherapee-bin_2019-07-25-211611_Lil-Trashy.log](https://github.com/Beep6581/RawTherapee/files/3433806/rawtherapee-bin_2019-07-25-211611_Lil-Trashy

[2019-07-26 08:26] Thanatomanic opened #5389 "Backwards thumbnail selection using Shift-key unexpectedly shifts starting point of selection"
To reproduce:
1. Go to thumbnail browser
2. Select a photo
3. Press shift
4. Select a few photo's earlier
5. Keep holding shift
6. Select even earlier photo's

Expected behaviour: photo selected in (2) stays the reference point of the selection
Observed behaviour: photo selected in (4) becomes new reference point of the selection

The expected behaviour comes from the behaviour observed in Windows

[2019-07-26 09:15] heckflosse commented on #5389
Confirmed

[2019-07-26 09:32] heckflosse commented on #5389
@Thanatomanic
Can you try this patch please?
[code]

[2019-07-26 09:39] Beep6581 commented on #5312
@wilchak try narrowing it down to a specific file in the folder which gets opened by default when you click "Directory containing color profiles", then zip and upload the file.

[2019-07-26 09:46] Thanatomanic commented on #5389
The patch solves the backwards selection issue. However, when you select backward and then forward, the backwards selected items stay selected. This is also not common behaviour in Windows (and possibly other OSes).

[2019-07-26 09:55] heckflosse commented on #5389
Confirmed. My patch didn't change this behaviour.

[2019-07-26 11:15] wilchak commented on #5312
I believe it's an issue with the file picker window, since I get a very similar crash when I use the "save current profile" button.

Crash from clicking "save current profile"
[rawtherapee-bin_2019-07-25-211830_Lil-Trashy.log](https://github.com/Beep6581/RawTherapee/files/3435472/rawtherapee-bin_2019-07-25-211830_Lil-Trashy.log)

[2019-07-26 13:03] Beep6581 commented on #5312
Well let's try to find out. Close RT, create an empty folder somewhere, let's say in `/home/wilchak/empty`, then edit your [options](http://rawpedia.rawtherapee.com/File_Paths) file and set:
[code]
Run RT and click the button, see what happens.

[2019-07-26 13:38] wilchak commented on #5312
Setting ICCDirectory to an empty folder has no effect on the crashing behavior I described above. Since we already know that the (same or very similar) crash can also be triggered by clicking the "save current profile" button, we know it is not an issue with the ICCDirectory folder, since the profile save window does not open up to that folder. Furthermore, if you actually look at the two crash lo

[2019-07-26 14:38] Beep6581 commented on #5312
Unless you actually identified the cause of the crash, everything is an assumption. I did look at the logs, and decided a quick and simple test would be good. I hope we can do without snide remarks in the future.

[2019-07-26 14:46] wilchak commented on #5312
I did identify the _location_ of the crash. It is in libgio. (Not RawTherapee itself, so you don't need to be defensive about it.) I appreciate your thorough approach. And again- I have only respect for the developers of this excellent software. But I don't much like jumping through obviously irrelevant hoops. If you'd prefer to not have my help, just communicate that to me and you won't hear from

[2019-07-26 16:40] Benitoite commented on #5312
The 10.15-built lib is definitely not supposed to be there.  It should be built for 10.9, I will have to check the glib build.

Sent from my iPhone

[2019-07-26 18:53] heckflosse commented on #5389
@Thanatomanic Ok to commit my patch? It solves one case at least.

[2019-07-26 20:30] Thanatomanic commented on #5389
@heckflosse Okay. I can make a new issue for the other selection problem.

[2019-07-27 09:40] #5389 closed, assigned to nobody

[2019-07-27 21:37] locoboy opened #5391 "insta360 one X DNG exposure exif data not read"
Version: 5.6
Branch: 5.6
Processor: generic x86
System: Apple
Bit depth: 64 bits
insta360 one X Both unstiched and stiched DNG Exposure EXIF data not read by the program.
tested on adobe, illuminance, photomatix all are shown properly
<img width="557" alt="Capture d’écran 2019-07-27 à 10 31 24 PM" src="https://user-images.githubusercontent.com/11406511/61999665-518d4b80-b0be-11e9-9cc1-93f4d75228

[2019-07-27 21:48] heckflosse commented on #5391
Please provide a raw to reproduce (upload to filebin.net or whatever and post the link here)

[2019-07-27 23:15] locoboy commented on #5391
RAW file
non stiched and stiched  raw from the insta360 studio
https://filebin.net/cqzraqvkvtyqx4ye

[2019-07-28 22:10] heckflosse opened #5392 "`Clear processing profile` is broken"

[2019-07-28 22:37] heckflosse commented on #5392
Likely related to this change from @erjiang :

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/procparams.cc#L2856

[2019-07-29 09:22] Thanatomanic opened #5393 "Make thumbnail range-selection more similar to OS behaviour"
Related to #5389: the usual behaviour in Windows or Linux when selecting multiple files with Shift, is that the very first image selected is always the anchor point for the range, regardless of selecting forward or backward.

After https://github.com/Beep6581/RawTherapee/commit/13207910528e2f553f3f875503b20f104941d958 the behaviour in RT still differs from the common behaviour in the OS.

1. Forwa

[2019-07-29 09:38] Thanatomanic opened #5394 "Unable to move canvas from a certain area before image is fully loaded"
To illustrate the behaviour I uploaded a small video https://filebin.net/yt8aj2v0dqra3l9j

It happens regularly that I want to check a 1:1 section of an image that is not the center of the image. My expected workflow is to click 1:1 and then click-move the image and wait for it to load in full detail.
However, after clicking 1:1 there is always a region at the right side of the image viewer where

[2019-07-29 11:56] #5392 closed, assigned to heckflosse

[2019-07-29 12:06] heckflosse commented on #5394
Confirmed

[2019-07-29 23:45] X-Raym commented on #4763
Vectorscope would be nice. An handy way to check for saturation. It is easy to put a bit more saturation than needed. Such scope could prevent that. Thx!

[2019-07-30 11:17] Beep6581 commented on #5391
@locoboy both files are identical.

Confirmed missing Exif in `dev` `5.6-206-g`287bd5bbe

[code]

[2019-07-30 14:03] #5393 closed, assigned to heckflosse

[2019-08-01 00:00] TooWaBoo opened #5397 "Bug: Filmnegative will not update thumbnail"
If you enable/disable Filmnegative the thumbnails will not be updated. When you restart RT the thumbs are shown correct.

[2019-08-01 07:57] wbzqe commented on #4561
![WeChatWorkScreenshot_3edb38a2-bb91-47fe-8ac4-092185f43b58](https://user-images.githubusercontent.com/7522761/62275531-c1ac2080-b474-11e9-8e4d-c5036155a66a.png)

same issue , and this is what happen :)

[2019-08-01 09:58] heckflosse commented on #5397
Confirmed. When enabling from editor the thumb will not be updated. Works fine from filebrowser.

[2019-08-01 09:58] heckflosse commented on #5397
ping @rom9

[2019-08-01 13:17] fenpaws commented on #5106
any updates so far?

[2019-08-01 13:41] heckflosse commented on #5106
@SoXX-TheFennec Donate a MIDI controller. Then we can have a look ;-)

[2019-08-01 23:24] rom9 commented on #5397
I think i've found the root cause. Actually, it's not just a problem with filmnegative; none of the tools in the "Raw" page seems to update the thumbnail automatically (for example try to move r,g,b black points to extreme values; the thumbnail won't get updated until you touch some other non-raw tool).
Looks like it's due to this `needsReprocessing`  flag :
https://github.com/Beep6581/RawTherapee

[2019-08-02 00:41] TheSquirrelMafia commented on #4561
I just do it on my own now. Every time I compile a build for myself, I change **_FILMLIKE_** to **_STD_** in the **_simpleprocess.cc_** & **_improccoordinator.cc_** files. I use a Pentax K-50, so no DCP files in RawTherapee for it.

[2019-08-02 09:25] heckflosse commented on #5397
:+1: for a special case

[2019-08-02 17:51] heckflosse commented on #5397
Works fine here :+1:

[2019-08-02 22:08] JGKle commented on #2239
I was exploring options to move away from LR, and between DarkTable & RawTherapee, I do prefer RawTherapee.  However, spot removal is an essential tool that I use constantly.  Has this feature (no activity in over a year) been abandoned, or is it still somewhere on the horizon?

[2019-08-02 23:41] Hombre57 commented on #2239
@metal450 It's not abandoned, I merged `dev` into `spot-removal` branch just yesterday, and am working on it actually. However RT's engine has not been designed for this kind of feature (especially the preview window), so it'll still require some time before it's complete. So yes it's on the horizon, but you know, the horizon is always at a constant distance from you :confused: , so I'll say it's

[2019-08-02 23:45] JGKle commented on #2239
Ah - well, awesome to know it's at least still being worked on!  Thanks for your super quick reply :)

[2019-08-03 09:06] #5397 closed, assigned to nobody

[2019-08-04 19:48] BlackLotus opened #5399 "PTP-mounted Android phone inaccessible"
Software:
RawTherapee, version 5.6
ArchLinux 5.2.5-arch1-1-ARCH
Hardware:
Android - OnePlus 5, OnePlus 3
I can mount PTP (gphoto) and mtp with the gvfs backends and other implementations (digikam works as well).

When entering the file browser and connecting an android phone a Android entry appears. Clicking on this entry spawns another entry called "mtp" (even when using ptp) and mounts the devic

[2019-08-05 03:07] MoralCode opened #5400 "Canon EOS Rebel T7"
uploaded a couple `.CR2`s to pixls.us

[2019-08-05 09:59] Beep6581 commented on #5399
@BlackLotus
1. One should use MTP instead of PTP if MTP is available. Try mounting as MTP - does it work correctly?
2. Have you tried other GTK3 software - which, and did PTP and MTP work?

[2019-08-05 10:03] Beep6581 commented on #5400
The Canon EOS Rebel T7 works fine in 5.6 - image looks fine, no highlight issues, and Exif intact. The issue lacks any indication of what could be lacking.

@MoralCode if you want to help improve Canon EOS Rebel T7 support, provide a set of [white frames](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) (LENR on and off) and a photo of a [color target](http://rawpedia.rawtherape

[2019-08-05 10:03] #5400 closed, assigned to nobody

[2019-08-05 12:12] adds68 commented on #4860
This is a complete FUD, which has been explained in great details here: https://ramcq.net/2018/10/15/flatpak-sandbox-security/

[2019-08-07 17:03] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-binutils-2.32-1` produces compiler errors. (I forgot to write down the messages)
I had to downgrade to version `mingw-w64-x86_64-binutils-2.31-1-2`.

[2019-08-07 19:44] ahkok opened #5402 "Packaging: unversioned libraries installed in /usr/lib"
RawTherapee version `5.6` OS `clearlinux` version `30700`.

Our packaging tool (autospec) detects that rawtherapee's cmake files are installing libraries (not `dlopen`) files as unversioned `.so`'s into `/usr/lib64`.

libraries that are supposed to be linked should be versioned by default (libfoo.so.1). The following 2 libraries are included in rawtherapee and are not versioned:
`/usr/lib64/librte

[2019-08-08 09:06] cuniek opened #5403 "2 bugs in colour toning"
OS: win 7 64
version: RawTherapee_dev_5.6-219-g972d6907d_W64_SSE4_190806.zip as well as official 5.6 release

bug 1)
-open any file and turn on Colour Toning
-use "saturation 2 colours" or "Colour balance..." mode
-strength slider doesn't work as intented (0=no effect, 1=maximum effect, therefore no difference between 1 and 100)

bug 2)
-open any file and turn on Colour Toning
-use "Colour balance

[2019-08-08 09:46] heckflosse commented on #5403
Closed by accident, the fix is for bug 1)

[2019-08-08 09:47] Thanatomanic commented on #5403
There's probably something wrong with the strength slider in the second case too. For highlights and midtones it doesn't do anything and for shadows it screws things up.

[2019-08-08 10:11] heckflosse commented on #5403
The fix from above partly fixes bug 2) as well (the squares in top-left corner). For the remaining bug I need help from @Desmis

[2019-08-08 10:38] Thanatomanic commented on #5403
~~I think there is an uninitialized variable here:~~

EDIT: Nevermind... still looking

[2019-08-08 10:49] heckflosse commented on #5403
This kind of fixes it:

[code]

[2019-08-08 10:56] Thanatomanic commented on #5403
Possibly a better one, copying over the logic from the treatment of the hightlights:

[code]

[2019-08-08 11:06] heckflosse commented on #5403
@Thanatomanic Great :+1: for commit

[2019-08-08 11:10] #5403 closed, assigned to heckflosse

[2019-08-08 11:57] Desmis commented on #5403
I am not at home, I used my Smartphoe to get Internet

This modification is good :)

jacques

[2019-08-08 12:53] Desmis opened #5405 "Difficulties to merge dev into newlocallab"
@heckflosse
Ingo

You have profoundly changed, "dirpyr_equalizer.cc" (and .h)
With Locallab I used a modified (with huge modifications).
With my current poor means, I am not at home, and have only limited resources...I cannot merge "locallab" with "dev"

Could you help me ?

Thank you

jacques

[2019-08-08 13:00] heckflosse commented on #5405
@Desmis Jacques, I will have a look now

[2019-08-08 13:01] Desmis commented on #5405
@heckflosse

Thank you...
jacques

[2019-08-08 14:20] heckflosse commented on #5405
@Desmis Jacques, I merged. I hope everything works correctly

[2019-08-08 15:07] Desmis commented on #5405
@heckflosse

Ingo

All works, thank you very much...

But works with a 4G connexion to get internet on my old PC, it is very very difficult...

Thank you again

jacques

[2019-08-08 15:14] #5405 closed, assigned to heckflosse

[2019-08-08 16:49] cuniek commented on #4773
I would like to boost this bug. It is still there - in 5.6 latest dev. I just confirmed that it is present in both - aggresive and conservative mode, lab and rgb.

[2019-08-09 10:03] gaaned92 commented on #4713
Is there a foreseen action to use libjpegturbo2?

[2019-08-09 11:22] scx commented on #4860
I've provided a single-file bundle for x86_64.
https://github.com/scx/rawtherapee-flatpak/releases

[2019-08-09 11:22] scx commented on #5113
I've provided a single-file bundle for x86_64.
https://github.com/scx/rawtherapee-flatpak/releases

[2019-08-09 11:23] scx commented on #5222
I've provided a single-file bundle for x86_64.
https://github.com/scx/rawtherapee-flatpak/releases

[2019-08-09 13:26] gaaned92 opened #5406 "Odd behaviour of HSV equalizer, desaturated spots become white"
[code]
Using the file from [https://discuss.pixls.us/t/fixing-odd-reflections/13613](https://discuss.pixls.us/t/fixing-odd-reflections/13613), I was trying to suppress the blue spots.

- neutral profile
- With HSV equalizer, I selected the hue in the saturation panel and completely desaturates, then selected the hue in value panel and reduced the value at max
![HSV equaliser](https://user-images.g

[2019-08-09 13:55] Thanatomanic commented on #5406
![image](https://user-images.githubusercontent.com/6567747/62784072-f136da80-babd-11e9-804c-48ea2f40c232.png)
~~I don't think this is a bug. The readout is a V of 255, so if you only reduce the saturation, the value stays the same and turns out white.~~

EDIT: I need to learn to read better 🤓  You say you reduce the value too...

[2019-08-09 14:33] heckflosse commented on #5406
Imho this calculation
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improcfun.cc#L2739
is suspicious
Assume the readout of the V-curve is zero, then valparam = -0.5
Then valparam is multiplied with (1 - SQR(SQR(1.5))), means it's multiplied with (1 - 5.0625) = -4,0625 which then results in -0.5 * -4.0625 = 2,03125 which is > 0 which is not intended...

Or do I miss something?

[2019-08-09 15:02] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-binutils-2.32-2`
Bug is fixed

[2019-08-09 20:06] #5222 closed, assigned to nobody

[2019-08-10 21:24] FM33 commented on #5221
It's back in 5.6-1145-ge51634dc5 but triggered when clicking Ctrl-Copy or Ctrl-paste this time. Do I need to file a new bug ?

[2019-08-11 16:02] LigH-de commented on #4830
The FinePix S200EXR does not save a dual frame RAF in SN mode, only an already averaged single raw frame. For this camera, a support for frame averaging is more or less superfluous. But if there are other models which explicitly save both raw frames, this feature will be useful for their owners.

[2019-08-11 16:24] LigH-de opened #5407 "Support for multi-frame raw images with different exposure for wide dynamic range"
There are cameras which are able to save raw image files containing more than one frame, for different purposes. One group are Fujifilm FinePix EXR cameras with Super CCD sensors containing two subsets of Bayer matrix pixel arrays, shifted by half a pixel diagonally.

I have a FinePix S200EXR. Dual frame raw images are saved for HR mode ("high resolution" with half a pixel diagonal shift, accordin

[2019-08-11 17:00] ellelstone opened #5408 "Color picker Lab readouts depend on the output profile (and are almost always wrong))"
Version: 5.6
Branch: releases
Commit: 5a4ed7317
Commit date: 2019-04-20
Compiler: x86_64-pc-linux-gnu-gcc 7.3.0
Processor: Intel(R)\ Core(TM)\ i7-4790K\ CPU\ @\ 4.00GHz
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.1
Lensfun: V0.3.2.0
Build type: Gentoo
Build flags: -march=haswell -O2 -pipe -std=c++11  -Werror=unused-label -Wall -Wuninitialized -Wno-deprecated-declarations -Wno-unused-result -fope

[2019-08-11 17:09] Thanatomanic commented on #4737
Cannot reproduce any more, closing.

[2019-08-11 17:09] #4737 closed, assigned to nobody

[2019-08-11 17:17] moribo21 opened #5409 "locallab: make adjustments on polygon regions"
Hello. I downloaded the Version: 5.6-855-g61553c905 that works perfectly on my iMac under Sierra 10.13.6. I tested the local modification module. It works properly, but the shapes (ellipse or rectangle) are too frozen and restrreintes and do not allow easy adaptation to the images. These shapes should be able to be modified freely (as in Lightzone).

[2019-08-11 17:24] Thanatomanic commented on #5409
@moribo21 Thanks for testing on OSX! Could you clarify what you mean, because we probably have no idea how Lightzone works, and why that could be "better".

[2019-08-11 17:26] Thanatomanic commented on #5409
@moribo21 Also, please provide a more descriptive title for your issue.

[2019-08-11 19:02] moribo21 commented on #5409
Sorry about my bad title. Another title: "Editing an image part." I'm talking about this version that allows you to edit part of an image. The proposed shapes (ellipse and rectangle) allow for very global changes and do not make it easy to modify a specific shape. The free software "Lightzone" offers three forms: ellipse, rectangle and polygon. These shapes can be modified by the user who can add

[2019-08-11 19:07] Thanatomanic commented on #5409
So can I summarize: your actual request is to have a polygon shape available for local editing? I would fully support this idea.

@desmis and @Pandagrapher what are your thoughts on this?

[2019-08-11 19:24] moribo21 commented on #5409
Example in this photo. The area to be changed is directly traceable by the user who adds points as he wishes to follow precisely the game to be changed. A thousand excuses, Lightzone does not offer by precise form but lets the user draw his own form.
![Capture d’écran 2019-08-11 à 21 21 11](https://user-images.githubusercontent.com/47786016/62838560-589b8880-bc7e-11e9-8b30-798a4ff7bfab.png)

[2019-08-11 20:37] Pandagrapher commented on #5409
In fact lately I am working on rewriting parts of Locallab GUI to make it more generic to be able to add more easily new functionalities. One of them is to add more shapes and I was thinking about adding polygons (for GUI part) ;)

Pierre

[2019-08-12 06:14] Desmis commented on #5409
I am not at home, and it is difficult to get Internet with my Smartphone :)

I have spoken several times on this subject.

it's important to understand algorithms that are very different from those used in Lightroom or Photoshop.
The algorithms are close to the user level of those used in Nikon Capture NX2 / NXD, or Dx0.
They do not use shape trimming, but use deltaE and structure to detect areas

[2019-08-12 07:07] Desmis commented on #5409
@Pandagrapher

Hello Pierre

Two improvements seem desirable to me
1) make it possible to activate or desactivate a spot, to see the effects rendered

2) Give the user the ability to use local adjustments, in full-frame mode (like the main menu modules); today it is possible by : a) select a rectangle RT-spot bigger than preview; b) Scope=100; c) transition to maximum.  It would be interesting if

[2019-08-12 09:22] Pandagrapher opened #5410 "Locallab: Improvements of GUI"
Hello All,

Lately I have started a new session of improvements for Locallab GUI. The main objectives are:

- Rewrite some part of Locallab GUI to make it more generic: this will improve robustness, maintainability and simplify further evolution
- Remove Batch Mode support for Locallab: local treatments cannot really be managed in Batch Mode...
- By default, a spot won't have linked Locallab tool.

[2019-08-12 09:32] Pandagrapher commented on #5409
Hello Jacques,
1. It's a good idea --> Added it on my todo list
2. In fact, you want to keep the possibility to perform adjustments of specific deltaE zones of the full-frame image? Why not, I can manage it as another type of spot which only have a center and applies to all image --> Added it on my todo list

Pierre

[2019-08-13 06:39] Desmis commented on #5410
@Pandagrapher
It's ok for me.
When you say "Creation of generic class to manage several type of spot (rectangle, ellipse, others?)", does this incorporate the drawing of curves, polygons .. ?

jacques

[2019-08-13 06:43] Desmis commented on #5409
Once this modification is done (work in full image with the functions of "local adjustments" without zone limitations), one can ask the question for some tools to keep the current initial version "full screen"

[2019-08-13 06:48] Desmis commented on #5221
@Pandagrapher @Floessie @heckflosse

Do you have an idea why crash?

jacques

[2019-08-13 13:03] Pandagrapher commented on #5221
@Desmis @Floessie @heckflosse
Little forget during merge with dev: this patch solve the crash:
[code]

Pierre

[2019-08-13 13:14] Pandagrapher commented on #5410
@Desmis

For the moment, it doesn't but I think it will simplify further type addition. I just noted the idea of adding full-frame spot. When ready for, we will have to synchronize each other to update code.

I was wondering: when a spot is an excluded one, Locallab tools parameters are ignored? If yes, I will create a dedicated excluded spot type which cannot have linked Locallab tools.

Pierre

[2019-08-13 14:16] Desmis commented on #5221
@Pandagrapher

Thank you

I just push this change

jacques

[2019-08-13 14:25] Desmis commented on #5410
@Pandagrapher
For "excluding spot", they used the same "Locallab tools parameters", but it's "only" the raw datas (in L*a*b*) which are differents
* Excluding = original datas
* Normal = recursives datas

Am I clear ? For me no differences for GUI part.

For synchronisation no problem at all.
Actually I am not at home, I get internet with a Smartphone....until August 27th I would be little availab

[2019-08-13 14:27] Desmis commented on #5410
@Pandagrapher

Have you seen this message in Pixls.us

https://discuss.pixls.us/t/local-lab-build/1430/785

[2019-08-13 16:24] Pandagrapher commented on #5410
@Desmis
Yes, this crash is similar to issue #5221 so fixed :)

[2019-08-13 16:29] Pandagrapher commented on #5410
@Desmis
Thanks for the explanation, it's clear now :) (so no specific modification for GUI for excluded spot :p)
Pierre

[2019-08-13 17:21] falket opened #5411 "Panasonic DC-GF10"
I post an issue here for support of Panasonic DC-GF10.

Sample just uploaded at raw.pixls.us, currently colors are not that great.

As soon as i can (camera is not mine) i'll upload also 3:2 16:9 and 1:1 .

Thank you in advance.

[2019-08-14 09:37] #5411 closed, assigned to Beep6581

[2019-08-14 10:00] Beep6581 commented on #5411
5.6:
![screenshot_20190814_115942](https://user-images.githubusercontent.com/5844619/63012756-0f6c5400-be8b-11e9-9c40-74d4385d85a0.png)

`5.6-242-g`6d777ce94:
![screenshot_20190814_115908](https://user-images.githubusercontent.com/5844619/63012755-0f6c5400-be8b-11e9-80b2-e4dbc5ed3a5b.png)

[2019-08-14 14:08] Hombre57 commented on #2239
@metal450 It's here, at last ! Not merged yet, but very close to.

Please test the `spot-removal` branch. Shouldn't that tool be better named **Spot Healing** ?

## How to use the tool (i.e. documentation so far)

In the `Detail` tab, enable the `Spot Removal` tool and click on the _On preview editing_ button. The preview now display the image without crop and without processor intensive tools (e.

[2019-08-14 16:57] JGKle commented on #2239
Very cool!!  Thanks for following up, & for the details :D

[2019-08-14 17:24] heckflosse opened #5412 "Capture sharpening"
With branch capture_sharpening I made a first mockup for RL deconvolution immediately after demosaic. The capture sharpening produces less halos than the RL deconvolution in detail tab. It is still work in progress but can already be used to compare between RL deconvolution in detail tab and the new capture sharpening in raw tab. If you do so, set the contrast threshold adjuster in both tools to 0

[2019-08-14 18:19] heckflosse commented on #5412
Here's a before/after for an xtrans file
![grafik](https://user-images.githubusercontent.com/13733487/63045488-bfb07b80-bed0-11e9-905f-754042a7802d.png)

[2019-08-14 22:04] Hombre57 commented on #5412
Nice work @heckflosse ! :tada:

If you want to see a use case, just [get the output files here](https://filebin.net/nqz04piuip2stx2m). Image **1** is with actual RL sharpening, image **2** is with the new one, with gamma=1.40, and image **3** is w/o any sharpening. Gamma 0.7 produced black halos.

[2019-08-15 00:18] Hombre57 commented on #2239
Note :To see the new icon from commit b4d7798, and if you've already built this branch, you'll have to cleanup the `cache/svg2png` folder, or at least delete the `spot-normal.png` file.

[2019-08-15 01:00] Entropy512 commented on #5361
Hmm...  Let me guess, this is another Xiaomi product that sets an improper color matrix in the DNG?

(Improper color matrix is a well documented deficiency of their Mi Sphere 360...)

[2019-08-15 06:38] Beep6581 commented on #2239
@Hombre57 shall we put this on the [5.7 milestone](https://github.com/Beep6581/RawTherapee/milestone/7) (out 4 days ago, woo!), or do you need a few months for shine and polish?

[2019-08-15 06:44] Beep6581 opened #5413 "Roadmap for 5.7"
I believe the code is ready for a 5.7 release optimization- and cleanup-wise - @heckflosse could you confirm?

@Hombre57 you just pushed a working spot cleanup branch. I will try it tonight. Do you see it being ready within a week, or do you need more time for it and so leave it for 5.8? The UI can always change, but once we include the spot editing engine in a release then backwards-compatibility

[2019-08-15 07:39] Beep6581 commented on #5221
Fix confirmed.

[2019-08-15 07:39] #5221 closed, assigned to nobody

[2019-08-15 09:44] heckflosse commented on #2239
I played with the spot removal and healed some dust spots, which worked fine :+1:
Then I selected neutral profile from profile combobox and got this crash:
[code]

I will try to reproduce...

[2019-08-15 09:48] Hombre57 commented on #2239
@Beep6581 It'll require some polishing, I have another algorithm that I'd like to test first, instead of a simple cloning tool. If both are working, should we keep both and let the user select on a per Spot basis ? So yes, it'll be for 5.8.

[2019-08-15 09:48] heckflosse commented on #2239
Easy to reproduce:
1) create one healing spot
2) select neutral profile => crash

[2019-08-15 09:52] Hombre57 commented on #5413
@Beep6581 I need to test other things in the spot removal algorithm, so it won't be for 5.7, but users that are okay with breaking backward compatibility can still use this branch, after the testing phase of course.

[2019-08-15 10:45] heckflosse commented on #2239
@Hombre57 I built using clang and got a lot of new warnings. See the attached log file
[clbuild.log](https://github.com/Beep6581/RawTherapee/files/3505253/clbuild.log)

[2019-08-15 13:59] Beep6581 commented on #5413
Better to wait and make it solid :+1:

[2019-08-15 15:49] Hombre57 commented on #4263
Just for the record, if this feature is not abandonware, I took some of the changes done in the `raw-crop` branch and added it (modified) in `spot-removal`, so it should only be resumed after `spot-removal` is committed.

[2019-08-15 15:57] heckflosse commented on #4263
@Hombre57 Imho we should rework raw-crop from scratch.

[2019-08-15 16:09] Hombre57 commented on #4263
@heckflosse Was there a problem on the GUI side ?

[2019-08-15 16:17] heckflosse commented on #4263
@Hombre57 I don't remember. But as it's very long ago it may be better to rework it from scratch than to adapt it to current dev

[2019-08-15 16:18] Hombre57 commented on #4263
@heckflosse Okay, but don't delete this branch yet, I might need it for "inspiration" :wink:

[2019-08-15 16:29] heckflosse commented on #4263
ok

[2019-08-15 17:02] Hombre57 commented on #2239
I'm looking into the clang warning, @Floessie converted all `class` to `struct` in `procparams.h` in commit 02d6187cd880cd3b1a3804610e0e33ec181e9db0, and I'd love to know why, just out of curiosity. I hope to have solved everything, but I might need other `cbuild.log`. Could you make another try after pulling please ?

[2019-08-15 17:10] heckflosse commented on #2239
@Hombre57 Sure

[2019-08-15 17:17] Hombre57 commented on #2239
It doesn't crash, but there's a problem with portrait shots, the spots are not always rendered in the preview (no problem for the output image I guess).

[2019-08-15 17:26] heckflosse commented on #2239
@Hombre57

[code]

[2019-08-15 18:05] cuniek commented on #5413
How about fixing #4773 ? That is a big one (at least for me).

[2019-08-15 18:19] heckflosse commented on #5413
@cuniek Because #4773 is a big one we should put it on top of the priority list for 5.8 (I will have a look at this bug then) but NOT try to solve it short before 5.7 is around the corner (as you mentioned, it's already reproducable in 5.4).

[2019-08-15 18:41] heckflosse commented on #5412
I just pushed to capture_sharpening. Contrast threshold is functional now.

[2019-08-15 19:55] Hombre57 commented on #2239
@heckflosse Could you give a last try ? I should have removed all the warnings now.  The bug I reported in my last comment is solved too.

[2019-08-15 20:01] heckflosse commented on #2239
@Hombre57 Sure, but will take a bit longer this time as I'm just compiling capture_sharpening branch...

[2019-08-15 21:26] heckflosse commented on #2239
@Hombre57 Compiling latest spot_removal now...

[2019-08-15 21:28] heckflosse commented on #5412
I just pushed a small speedup...

[2019-08-15 21:34] heckflosse commented on #2239
@Hombre57

[code]

[2019-08-15 21:37] Hombre57 commented on #2239
@heckflosse It will take several centuries since I'll get used to this `override` thing...

[2019-08-15 21:40] Hombre57 commented on #2239
@heckflosse Done in latest commit, hopefully.

[2019-08-15 22:48] heckflosse commented on #2239
@Hombre57 Fixes confirmed

[2019-08-16 00:16] stupidguy69 opened #5414 "Exif support for HUAWEI Honor View 20 PCT-L29"
Raw file from the Honor View 20 is not being read properly, metadata is missing such as aperture, shutter speed, ISO etc

here's an example raw file. it reads properly in photoshop showing an aperture of 1.8, shutter speed of 1/3000, iso 50 etc this is not shown in RawTherapee.

https://filebin.net/cqzraqvkvtyqx4ye

[2019-08-16 08:52] Floessie commented on #2239
Builds and runs fine with GCC 8.3 on Debian 10 amd64/i386, Clang 7 on Debian 10 amd64, and GCC 9.2 as well as Clang 8 on Debian unstable ppc.

The UI is super intuitive, slim and easy to use. :+100:

A `struct` usually indicates the use as a data-only, freely accessable, OO-agnostic collection of elements, whereas `class` is used for more sophisticated things (e.g. a `class` has getters and setter

[2019-08-16 09:05] Hombre57 commented on #2239
Thanks for the explanation @Floessie, it didn't caused trouble, but I didn't knew the difference and use case. I'll convert the `Rectangle` class to a struct on next commit then.

[2019-08-16 09:33] Floessie commented on #2239
@Hombre57 You mean the one in `editwidgets.h`?

[2019-08-16 09:38] Floessie commented on #2239
When editing the spots in similar regions, it's not immediately clear, which of the linked spots is the source and which one is the destination. Would it be possible to have a little indicator like an arrow head towards the destination?

[2019-08-16 09:53] Thanatomanic commented on #2239
@Hombre57 I just tested your tool and it works really well! Well done.
A few things:
- ~~Please indicate which spot is the source and which is the destination~~ @Floessie was first
- Is there a techical reason why the feather is rather limited? Is it reasonable to make it at least as big as the chosen spot diameter?
- Working on spots in 1:1 zoom is relatively slow. Not so surprising of course, wh

[2019-08-16 10:20] falket commented on #5414
seems every honor huawei and xiaiomi has the same problem. Tried with samples from raw.pixls.us .

Iphone 8, don't know with that app, seems ok.

https://filebin.net/ev998kqcucuz0826/Phones.png?t=1hsmb95b

[2019-08-16 14:12] Hombre57 commented on #2239
@Floessie

No I meant from rtengine/spot.h

Yeah, I'm also annoyed by not distinguishing source and dest. I'll think about something, but I don't think it can be on the linking line, as is can be very short or non existent.

@Thanatomanic

I don't think it's so limited : if inner spot's radius is R, the feather max radius is 2xR. Isn't this enough ? Would like the opinion from others too.

It's qu

[2019-08-17 13:51] Beep6581 commented on #5374
This would remove functionality (the path bar) from the Filmstrip. Agreed in IRC to close the issue.

[2019-08-17 13:51] #5374 closed, assigned to nobody

[2019-08-17 14:56] Beep6581 commented on #3558
`5.6-256-g`f7ec852e0

[2019-08-17 19:52] Hombre57 commented on #5410
@Desmis

Does your algorithm work with [any shape + origin] ? If not, why ?

[2019-08-17 22:30] Hombre57 commented on #2239
@Thanatomanic @Beep6581

Fixed in branch `editbuttonfix` because bug in `dev` too. Could you test ? It's a minor fix and should be part of 5.7 IMHO.

[2019-08-17 22:36] Hombre57 opened #5415 "Hovered edit object not dragged if inside a red crop's rectangle"
Step to reproduce :
  1. Edit an image
  2. Click on the Edit button of the Gradient tool
  3. Create a new detail tab
  4. Move the red rectangle to the location of the center spot of the edit widgets
  5. Hover the center spot and drag it

Result : it move the red rectangle instead of the spot. Lit widgets should take precedence over crop's rectangle.

[2019-08-17 23:54] Hombre57 commented on #5415
Fix in branch `objectprecedence`

@Beep6581 I'd like to add this one to 5.7 too.

[2019-08-18 00:13] strongheart1 opened #5416 "Build error in filebrowser.cc (dev branch)"
I get the following error when building RT from the current dev branch:

rtgui/filebrowser.cc:1505:35: error: use of ‘filter’ before deduction of ‘auto’
         for (const auto& filter : filter.vFilterStrings) {
  ......................................      ^

however it works with e.g. the 5.6 release

[2019-08-18 06:11] Desmis commented on #5410
@Hombre57

I have speak of that
* here in GitHub https://github.com/Beep6581/RawTherapee/issues/5409#issuecomment-520308559
* here in Rawpedia (in french) http://rawpedia.rawtherapee.com/Local_Adjustments/fr#Principes_g.C3.A9n.C3.A9raux

You can also read the code in iplocallab.cc
* static void calcTransition
* static void calcTransitionrect
* float calcLocalFactor
* float calcLocalFactorrect
and

[2019-08-18 07:05] ff2000 commented on #5415
Can it be solved the same way for this issue?
https://github.com/Beep6581/RawTherapee/issues/5354

[2019-08-18 08:45] #5416 closed, assigned to nobody

[2019-08-18 09:33] Hombre57 commented on #5415
@ff2000 I didn't saw that issue. I will fix it as well.

[2019-08-18 10:11] Thanatomanic opened #5417 ""Remember zoom % and pan offset" does not work?"
Could someone please verify if the Preference option "Remember zoom % and pan offset" still works? I had issues in the past (#4883), but now the option is actually ticked and the zoom and pan does not get retained after I go to a different picture.

Video to show: https://filebin.net/8iiitiydwb6b4wfz

[2019-08-18 10:39] heckflosse commented on #5417
@Thanatomanic Is this set?
![grafik](https://user-images.githubusercontent.com/13733487/63223409-18279780-c1b5-11e9-83fb-5d2e94673392.png)

[2019-08-18 10:47] Thanatomanic commented on #5417
It was set to 'Fast', but I thought from re-reading #4883 that you corrected that behavior?

[2019-08-18 10:51] Beep6581 commented on #5417
It works fine here using the test images `amsterdam_moving_boat_*`.

[2019-08-18 10:53] Beep6581 commented on #5417
What was the reason for this requiring the demosaicing method to be "As in PP3"?

[2019-08-18 10:57] Beep6581 commented on #5354
Issue confirmed in `newlocallab` `5.6-1151-g`882f14f7d.

[2019-08-18 11:02] Beep6581 commented on #5415
Issue confirmed, compiling `objectprecedence`...

[2019-08-18 11:05] Beep6581 commented on #2239
You could make one of the circle's outlines a different thickness or style to the other, e.g. dotted.

[2019-08-18 11:16] heckflosse commented on #5417
@Beep6581 To use `remember...` RT needs to know whether the dimensions of the images are equal. To know that, it has to demosaic the image. That's easy when using `as in pp3`. But when using `fast` and for example being at 100% zoom it would demosaic using `fast` just to detect it can use `remember...` and then would have to use the demosaicer from pp3 again because being at 100% zoom. That was ki

[2019-08-18 11:21] Desmis commented on #2239
@Hombre57

I come back at home... with Internet !
I am always in vacation with my family, but I test this branch

Works fine, idea evoqued by @Beep6581  is good  :)

jacques

[2019-08-18 11:28] Thanatomanic commented on #5412
I did some testing. Left is unsharpened, middle is using capture sharpening, right is 'old' RL sharpening. All on default settings, with Contrast threshold set to 0.

![image](https://user-images.githubusercontent.com/6567747/63223847-e403a500-c1bb-11e9-80cd-7acd1ac0856f.png)

The capture sharpening is definitely better, but also definitely still has dome haloing.

[2019-08-18 11:38] heckflosse commented on #5412
There's a lot of time to improve it as I set the milestone to 5.8 ;-)

[2019-08-18 11:57] Beep6581 commented on #5415
@Hombre57 fix confirmed, :+1: for merge.

Some further things I observed:
* While the bug described in this issue is fixed, there is still a bug with the mouse cursor icon. Here you can see that the horizontal line is orange so I can rotate the widget, yet the cursor icon is for "resize crop vertically" ![node-move-y-hicontrast](https://user-images.githubusercontent.com/5844619/63224118-e962ee80-c

[2019-08-18 13:10] Hombre57 opened #5418 "On preview widgets are not clipped to ImageArea"
Widgets gets drawn over top toolbar buttons, e.g. with the Gradient widgets.

![unclipped-widgets](https://user-images.githubusercontent.com/13788115/63224805-b6255d00-c1c9-11e9-8204-cd42c54e15e3.jpg)

Windows7 / Gtkmm: V3.22.2 here. @Beep6581 @TooWaBoo Could you confirm on your side to ? What's your Gtkmm version ?

[2019-08-18 13:19] Hombre57 commented on #5415
@Beep6581

I'm investigating for point 1.

For point 2, I deliberately made it way bigger to avoid having to precisely go over it, and that's a feature to me :wink: . The visible spot is set to [6px here](https://github.com/Beep6581/RawTherapee/blob/ee38731328e3b4868650b5eb3a88779a6935998b/rtgui/gradient.cc#L72), the catching spot is set to [30px here](https://github.com/Beep6581/RawTherapee/blob/

[2019-08-18 15:14] Hombre57 commented on #5415
@Beep6581 Commit 8bb88073fa1fd59ec9723a521a7a890838520f75 fixes the cursor bug and set the catching spot of the Gradient widget to 12, instead of 30. I'll commit tonight if no one objects.

[2019-08-18 16:21] Hombre57 commented on #5418
@heckflosse @Beep6581 Fixed in branch `clipped-main-crop-window`. I'll commit tonight if no one objects.

[2019-08-18 20:59] TooWaBoo commented on #5418
@Hombre57
Can not reproduce with Gtkmm: V3.24.1 on Win10.

[2019-08-18 22:04] Hombre57 commented on #5418
@TooWaBoo Thanks for confirming my guess. I'll still commit, as it doesn't harm.

[2019-08-18 23:47] Hombre57 commented on #5418
Committed to dev ( 5b320c9e3524fa7244307a9000d170ad9987ebde )

[2019-08-18 23:47] #5418 closed, assigned to Hombre57

[2019-08-18 23:50] Hombre57 commented on #5415
Committed to dev ( 5b320c9e3524fa7244307a9000d170ad9987ebde )

[2019-08-18 23:50] #5415 closed, assigned to Hombre57

[2019-08-18 23:51] Hombre57 commented on #5354
Could you please merge with dev, the patch from issue #5415 should have fixed to problem.

[2019-08-18 23:55] Hombre57 commented on #2239
Branch `editbuttonfix` merged to dev (commit 6b12f299e698be8e26efd30f8594afb56bf00d6a ), which has been merged back in `spot-removal-tool`.

[2019-08-19 05:14] Desmis commented on #5354
@Hombre57

Done, thank you :)

[2019-08-19 06:29] Floessie commented on #2239
@Hombre57

Then: yes. :+1:

Here's a little compaction patch (only test-compiled):

[code]

How about a litte "S" and "D" in a corner of the spot's bounding box?

[2019-08-19 06:47] ff2000 opened #5419 "locallab issues when editing spot outline"
I just pulled the recent changes, especially those that fix the conflict with crop handle. #5354 is fixed now. THX!
I recorded a video to document the issues I have just found:
https://youtu.be/U8v-0T418tM
In the beginning you see two crashes from previous runs. An assertion killed RT on startup. This is not specific to newlocallab, I get them occasionally.
[code]
Then there is a reproducible cras

[2019-08-19 06:48] ff2000 commented on #5354
This seems to be fixed now. THX!

[2019-08-19 06:48] #5354 closed, assigned to nobody

[2019-08-19 07:48] Beep6581 commented on #2239
S and D are not localizable.

[2019-08-19 08:15] Floessie commented on #2239
Do they have to? Any alternative unambiguous symbol? Coloring the circles?

[2019-08-19 09:05] Hombre57 commented on #2239
@Floessie Thanks for the patch, I'll add it to the next commit.

To differentiate S and D, I'll opt for dashed line for the source inner circle.

I'm actually trying to solve issue #4858 for 5.7, and possibly #5310 which seem connected, so the Spot tool will wait few days.

[2019-08-19 09:12] Hombre57 commented on #4858
@Floessie I've spent few hours trying to understand why it crash without success. There's a mutex protecting the access to the image data, so it shouldn't crash.

However the whole `threadutils.h` file with utility class file that I've created, to circumvent different behavior between OS and add tracing tools (done as a rookie programmer...), is now obsolete because `Glib::Threads::Mutex` and `Gli

[2019-08-19 10:09] ff2000 commented on #5419
Here is the BT for the crash when closing RT with locallab tab open:
[code]
Crash not in locallab but crophandler. Made me think...
Opened an unedited raw, enabled crop, enabled gradient, showed the gradient editor overlay tool, closed RT - Boom! Looks suspiciously similar!
[code]
So probably something with the patch fixing multiple edit overlays (crop + locallab, crop + gradient) is fishy.

[2019-08-19 10:15] ff2000 commented on #5415
I think this introduced a crash. For backtrace see here:
https://github.com/Beep6581/RawTherapee/issues/5419#issuecomment-522503509

EDIT:
Reset newlocallab to 48a5d276 and the crash doesn't appear anymore. So it seems to confirm my assumption that this fix introduced the crash.
To reproduce the crash simple enable crop and either gradient tool editor (overlay) or a spot in locallab. Close RT whil

[2019-08-19 11:58] Beep6581 commented on #5415
@Hombre57 12 is good, and bugfix confirmed :+1:

[2019-08-19 12:02] Beep6581 commented on #5419
Segfault on exit confirmed in `dev` `5.6-263-g`6c91abc3e using graduated filter.

[2019-08-19 12:08] ff2000 commented on #5419
@Beep6581 I just mentioned the crash as I thought it was in locallab.
There are some other issues that I actually wanted to report specifically for locallab editing, so the locallab label should stay. Not that those issues stay unnoticed ;)

[2019-08-19 12:18] Hombre57 commented on #5419
@ff2000 Has the crash on exit been introduced by the fix from #5415 ?

[2019-08-19 12:19] Beep6581 commented on #5419
Right, let's stick to one problem per issue in the future.

[2019-08-19 12:21] ff2000 commented on #5419
@Hombre57 Yes. As I wrote in #5415 a revert to the last merge from dev in newlocallab (which got rid of editbuttonfix and objectprecedence) restored exit without crash.

[2019-08-19 16:55] agriggio commented on #4695
you can try this and see if it helps:

[code]

[2019-08-19 18:18] Hombre57 commented on #5419
@ff2000 Have you correctly merged commit e2bfbbf9b146454b4cb6013f2e95ebfaa23a2211 into locallab ? Because this :

is suspicious : `EditorPanel::close` doesn't call `ImageArea::unsubscribe` anymore (see the above mentioned commit.

Anyway, I confirm the crash when closing RT, introduced by that commit, and solved by commit 3a538b9b836761d5188d0d0e6fa131354db0fec1.

[2019-08-19 18:42] ff2000 commented on #5419
@Hombre57  I never made changes myself, always went with "git pull". I had to rebuild with debug symbols and cleaned up my build env. Also went with "reset --hard" to get back to a previous commit, with a subsequent "git pull" to reconfirm the crash. So yes, I think merges were all correct ;)
Besides that I confirm that your fix fixes the crash. Thx!

[2019-08-19 18:51] ff2000 commented on #5419
Re CPU usage: It seems mouse movement trigger updates, not actual changes in outline shape. I went to the bottom control point of a sqaure spot, grabbed the point and moved it horizontally. There was no change in the outline but still it constantly recomputed the image. Is it possible to track the size of the spot and only trigger recomputation of the image when it actually changes?

[2019-08-19 20:36] Beep6581 commented on #4695
Tested, compared Sony ILCE-7M2 ARW converted to DNG using Adobe DNG Converter 11.3, one with "fast load data" and one without. Both opened identically and correctly.

[2019-08-19 20:36] Beep6581 commented on #4695
Putting this on the 5.7 milestone as it seems safe enough.

[2019-08-19 20:40] Beep6581 commented on #4695
Samples for testing:
https://filebin.net/shaw3hhc1j0wsd8m

[2019-08-19 20:51] heckflosse commented on #4695
I will test tomorrow

[2019-08-20 10:56] heckflosse commented on #4695
@agriggio Thanks for the patch. Works fine here :+1:

[2019-08-20 19:13] heckflosse commented on #4695
@Beep6581 Are we allowed to use this code?

[code]

[2019-08-20 19:19] agriggio commented on #4695
@heckflosse: https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses

[2019-08-20 19:22] heckflosse commented on #4695
@agriggio If I understand correctly we are not allowed to use it...

[2019-08-20 19:23] heckflosse commented on #4695
@agriggio Scratch my comment. Now I saw the 2.1 :smile:

[2019-08-21 01:47] shlyakpavel opened #5423 "Strange things in the code"
https://github.com/Beep6581/RawTherapee/blob/b6d333ee72dcae2b57a7048a367933be8e89d9bf/rtgui/thresholdselector.cc#L635
https://github.com/Beep6581/RawTherapee/blob/b6d333ee72dcae2b57a7048a367933be8e89d9bf/rtgui/thresholdselector.cc#L651
How are these possible inside the switch-case?

[2019-08-21 10:04] Hombre57 commented on #5423
@shlyakpavel Wow ! Don't know what I did here, I'd say incomplete code refactoring. Thanks for the report, I'll fix that asap.

[2019-08-21 10:57] Hombre57 commented on #5423
@shlyakpavel Fixed in commit ec818167166b4ed9f6b073c6a0e54a8d2555bdc8, closing.

[2019-08-21 10:57] #5423 closed, assigned to Hombre57

[2019-08-21 11:56] Pandagrapher commented on #5268
@heckflosse
With commit `2080f65`, I have made some improvements to avoid reprocessing when switching current spot. Now, when switching, reprocessing is only performed when mask preview was previously activated on selected spot (to allow its deactivation). Otherwise mask curve background update still remains functional without reprocessing.

By the way I have corrected the chaotic behavior on mask

[2019-08-21 17:04] #4695 closed, assigned to nobody

[2019-08-22 06:55] Beep6581 commented on #2239
@Floessie well yes, RT should be localizable. I suggested dotted vs solid lines, but other software, such as the one from that Mexican housing company, use yellow vs white circles.

[2019-08-22 08:46] Hombre57 commented on #2239
@Floessie @Beep6581 I made some try with dashed circles for source location : for small circles it's very ugly.

I think differentiating by the color would be a simpler and more elegant solution. I'd suggest :

1. source : white / dest : green
2. source : white / dest : yellow
3. source : yellow / dest : green
4. ???

Circles are orange when hovered, and red when resized. The link will stay white.

[2019-08-22 09:32] Beep6581 commented on #2239
Better to avoid strong colors over the preview (same reason RT uses a neutral color scheme by default), so I vote for 2.

[2019-08-22 09:36] agriggio opened #5424 "Dynamic range compression fails for truly HDR images"
The dynamic range compression module is supposed to work well on HDR images, but it currently does not. This is due to some internal scaling of the data whose purpose I don't quite understand (and which is not in the original paper by Fattal et al -- or at least I didn't find it). Removing the scaling fixes the issue.

Here's an example (taken from https://hdrihaven.com/hdri/?c=outdoor&h=tears_of_

[2019-08-22 09:38] Beep6581 commented on #2239
I was wrong about the Mexican brick manufacturer (the yellow color was actually from the screencasting software), it uses varying line thickness and an arrow - https://youtu.be/vi9JKMIb7Vw?t=106

[2019-08-22 10:11] Beep6581 commented on #5424
Hi @agriggio

I use bracketing very often so dynamic range-related issues are important to me.

Can the bug be reproduced using HDR DNGs?

[2019-08-22 10:42] Thanatomanic commented on #5424
I tested this with some other files: regular files, 32-bit float TIFFs from HDRLuminance, and the HDR sample DNG from raw.pixls.us, and could not reproduce. Or put differently: there was zero difference in output with or without the patch.

However, the HDRI file converted to 32-bit float TIFF using GIMP 2.10 shows very strange behavior. In Neutral profile things look all right (exported jpeg):
![

[2019-08-22 11:31] Thanatomanic commented on #5424
Sorry for contaminating this thread with my segfault. Follow up: it only happens on the 8k version of the image. Using the 2k version (as @agriggio did) doesn't lead to a segfault.

Still, it's an interesting segfault, because I cannot generate a stack trace with gdb. The program simply closes and returns me to the command line. There are only two interesting things to report:

`Assertion failed:

[2019-08-22 11:58] heckflosse commented on #5424
@Thanatomanic
Instead of the assert in line 207, use this:
[code]
That will give you a trace in gdb

[2019-08-22 12:00] Floessie commented on #5424
@Thanatomanic 31b overflow?

[2019-08-22 12:17] agriggio commented on #5424
@Beep6581 to see the problem you need a lot of DR, the above image has about 25 stops iirc. I suspect the problem is a numerical issue that is caused by the unnecessary scaling, that only gets triggered when the DR is quite high.

[2019-08-22 12:42] agriggio commented on #5424
@Thanatomanic here's a patch for the segfault

[code]

[2019-08-22 12:54] Thanatomanic commented on #5424
@agriggio Fix confirmed!

[2019-08-22 15:37] Beep6581 commented on #5424
@agriggio how can I measure the DR?

[2019-08-22 16:09] agriggio commented on #5424
@Beep6581 here's a (quite crude) way:

[code]

The above is probably an overestimation of usable dynamic range, since noise isn't really taken into account (except for a quite simplistic noise floor).
For the image above, I get about 30 stops of DR, whereas HDRIhaven reports 22 (However, also their number is an estimate, and can be a bit conservative I think -- see their FAQs at https://hdrihaven.

[2019-08-24 15:51] KaruroChori opened #5425 "Color artifacts when using lensfun geometric distortion correction"
Versions affected: 5.4, 5.5, 5.6
OS.:  4.15.0-50-generic #54-Ubuntu SMP Mon May 6 18:46:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
When a correction profile for the geometry is applied to any raw file (from a fujifilm x-t1) some of the pixels become much more saturated ruining the quality of the final image. Often the effect is even worse than what is shown in the screenshot I attached.
![Screensh

[2019-08-24 17:02] sguyader commented on #5425
Hi,
No idea really of the cause of solution, but can you try to tick the "chromatic aberration" box, and also in the demosaicing options, add 1 step of false color correction?
Maybe the lensfun profile isn't great for this lens.
But do you really need to correct for distortion on this lens?

[2019-08-24 18:43] KaruroChori commented on #5425
Ticking the chromatic aberration box does not have any kind of effect. I tried with many different values for the correction of false colours but still, this does only mitigate a problem which is introduced while applying a distortion correction, it was not there in the original raw file, and when developed with other programs it just works flawlessly.
It is not about the specific lens profile. Wh

[2019-08-24 19:16] heckflosse commented on #5425
@KaruroChori
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

Especially: `Upload the raw + PP3. Make your raw and PP3 files available to us by uploading them to a file sharing service such as www.filebin.net if your bug involves a particular raw file, a particular setting, or lack of support for your raw file`

[2019-08-25 08:04] KaruroChori commented on #5425
https://filebin.net/hdj4okrt8x054n0x

[2019-08-25 10:08] Beep6581 commented on #5417
@Thanatomanic is there an issue here to be fixed?

[2019-08-25 10:25] Thanatomanic commented on #5417
@Beep6581 There doesn't seem to be an indication that whenever you have set 'Remember zoom % and pan offset' and 'Fast' together, the zoom is actually not remembered. So I would propose to either make the settings more clear (maybe disable 'Remember' whenever the method is set to Fast?) or to somehow find a way to find the dimensions of an image so that the 'Remember' setting doesn't depend on the

[2019-08-25 11:44] Thanatomanic commented on #5425
I can confirm the effect, and it's also visible to a lesser extent in area's without extremely blown out highlights. Not sure it's a bug though...

[2019-08-25 11:47] Thanatomanic commented on #5425
@KaruroChori

This is because the lens profile does not contain CA correction. See http://lensfun.sourceforge.net/lenslist/

[2019-08-25 15:07] KaruroChori commented on #5425
@Thanatomanic

Sure, it was just to answer @sguyader who was wondering if selecting that option had any effect.

[2019-08-25 15:15] heckflosse commented on #5425
Maybe we should gray out the CA correction checkbox in lens profile tool if the lens profile does not contain CA correction ...

[2019-08-25 23:23] sguyader commented on #5425
@Thanatomatic that's not true, according to the lensfun table, the lens (27mm f/2.8) profile does provide TCA correction: TCA is in the second column of the table, not the third one.

[2019-08-26 04:57] Thanatomanic commented on #5425
@sguyader You are absolutely right, sorry about that. The list is probably outdated, because in `mil-fujifilm.xml` in the lensfun database on my system it says the following:

[code]

So all three of them are there, but I suppose the TCA is so minor you don't notice it.

[2019-08-26 11:21] heckflosse commented on #5425
Using `A = -0.5;` here
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improcfun.h#L82
improves the result...

[2019-08-26 12:43] Davide-sd opened #5426 "Trackpad gestures"
I just installed Rawtherapee on a Windows 10 laptop, which comes with a decent trackpad and a handful of useful gestures. I'm most interested in the zoom and swipe to scroll between photos.

Looking at the settings, I did not find any references to gestures. At the moment, it is possible to zoom by moving two fingers in the trackpad (both vertical and horizontal), but the zoom velocity is very ver

[2019-08-26 17:52] KaruroChori commented on #5425
As far as I know overshooting, and as a consequence ending up with a clipped signal, is intrinsic in a bicubic interpolation. Letting the user chose A may mitigate the problem, at the expense of what I think would be the perceived sharpness after the transformation. In general having more interpolation algorithms from which to choose could be helpful.

[2019-08-26 20:41] heckflosse commented on #5425
@KaruroChori

I didn't intend to let the user chose A. That was just a try to improve the result as A = -0.85 is uncommon.
Let's keep the interface simple and find a better solution...

[2019-08-26 20:44] heckflosse commented on #5425
@KaruroChori Additionally, while I worked on this issue, I made a speedup for the transformation (while keeping A and also the artifacts). Now the transformation takes 550 ms on my machine for a Nikon D800 file while before it took 660 ms. This will not go into 5.7, but most likely into 5.8.

[2019-08-26 22:58] Entropy512 commented on #5426
Two-finger scrolling is a fairly default behavior usually implemented in the OS trackpad driver.

That said - I can confirm that on an Ubuntu 19.04 laptop with an ELAN touchpad (Acer Aspire R15), zoom gain is waaaay too high - if anything one of the first things I noticed when giving RT a try after working with another application for a while.  I haven't compared against a proper hardware mouse ye

[2019-08-26 23:48] Entropy512 commented on #5426
If you place your mouse cursor over the upper film roll and two-finger swipe left/right - do you see it scroll?

It scrolls for me, but at similarly incredibly high gain as zooming in/out.

Also - while the thumbnails in the file browser have extremely high scroll gain with my trackpad, the folder list on the left does not.

[2019-08-27 05:45] TooWaBoo commented on #5425
@heckflosse

It does.

[2019-08-27 06:13] Thanatomanic commented on #5426
I'm pretty sure we're all very inexperienced in handling any other input method than a simple mouse and keyboard. At least afaik RT hasn't been optimized for use with a trackpad.
If anyone can point to a good resource on how to handle those (including maybe ease-in and ease-out functions for movement) that would be a start in the right direction.

[2019-08-27 11:21] Entropy512 commented on #5426
Good question.  I'll see what I can find, and see if I can see something obvious in RT's code that explains why only certain uses of scrollwheel input misbehave with this particular variation of scrollwheel input.

For the file browser main window (e.g. where thumbnails are displayed, not the folder list on the left), I'm wondering if it is somehow connected with the fact that with a mouse, RT map

[2019-08-27 11:32] Entropy512 commented on #5426
Looks like potential resources (I won't get a chance to review them in detail for applicability until tonight):
https://gitlab.gnome.org/GNOME/gtk/issues/1308

https://github.com/lxde/lxterminal/issues/33 which points to https://developer.gnome.org/gtk3/stable/GtkScrolledWindow.html#gtk-scrolled-window-set-kinetic-scrolling

In what files are the scrolling behaviors for the components of RT that I

[2019-08-27 21:00] heckflosse commented on #5426
@Entropy512

zoom ratios in RT are not linear, Maybe that's the problem:

On a D800 36 MP file at my screen it opens at 18%
Next steps (by pressing + key) are
20%
25%
33%
50%
100%
200%
300%
400%
500%
600%
700%
800%
1600%

[2019-08-27 21:38] Entropy512 commented on #5426
That might be part of it.

For the thumbnails browser - is scroll handling handled in ThumbBrowserBase::scroll() in thumbbrowserbase.cc ?

If I'm reading this correctly, if it gets a GDK_SCROLL_SMOOTH event, it's treated the same as a single GDK_SCROLL_UP or GDK_SCROLL_DOWN event regardless of the value of delta?

Possibly the solution is to have coef be derived from delta if the event is GDK_SCRO

[2019-08-28 07:11] Ripple-qin opened #5428 "Improve HSL"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2019-08-28 07:11] #5428 closed, assigned to nobody

[2019-08-28 07:27] Ripple-qin opened #5429 "Improve HSV"
Hello, author, thank you for the open source so easy to use image processing library.
When accessing the HSV function, we encountered a problem and wanted to get some suggestions from you.

1:S adjustment degree is too small compared to lightroom. May I ask the parameter of the following algorithm to make the degree of S adjustment become larger?
[code]
2: The degree of V adjustment is too small c

[2019-08-28 11:10] Entropy512 commented on #5426
I was thinking a bit more about handling zoom.  The problem isn't that it's nonlinear, the problem is that it's currently implemented in discrete steps.  As a result, GDK_SCROLL_SMOOTH events with small deltas are increased significantly in amplitude, just like they are in thumbbrowserbase.cc

Possible solutions I can think of:
Approach 1 - add a state tracking variable accumScroll that is used by

[2019-08-28 16:08] heckflosse commented on #5412
I just pushed some changes.

Now demosaic will not be triggered when changing capture sharpening adjusters, only when enabling or disabling the tool.
In preview mode, when capture sharpening is enabled, this will need 12 * width * height byte more than before (where width and height are the values from the raw file).
In full processing there is no increase in memory usage.
I also added Capture Sha

[2019-08-28 22:51] Entropy512 commented on #5426
I think I've addressed touchpad responsiveness issues in the three cases where I could identify potential issues.  I used approach 1 above (scroll accumulator).  I need to do some testing with my mouse again to determine if there were any regressions.

Prototype patches are at https://github.com/Entropy512/RawTherapee/commits/scroll_hax - I need to do some cleanup and possible reorganization of th

[2019-08-29 09:24] Beep6581 commented on #5426
@Entropy512 's changes: https://github.com/Beep6581/RawTherapee/compare/dev...Entropy512:scroll_hax

[2019-08-31 09:30] Beep6581 commented on #5413
I will wrap things up for 5.7 this weekend.

[2019-09-01 00:14] Hombre57 commented on #2239
@Beep6581 & all : I've added source/dest differentiation with dashed circles. If you find this ugly, I can switch to plain circles and yellow destination.

[2019-09-01 04:46] Eosforon opened #5431 "White Balance Tint full-scale not enough for infrared photography"
This should be a very easy thing to fix up. It is related to infrared photography WB.
The full-scale of the Tint adjustment was higher than 10 in a RT previous version (2.4 if I remember well) maybe 16 instead of 10 and it was useful to white balance nIR photography too.
![WB-Tint_not_enough_for_nIR-photography](https://user-images.githubusercontent.com/46302187/64071828-efa69f80-cc82-11e9-903a-b3

[2019-09-01 05:46] Thanatomanic commented on #5431
I think this may be the only use case where the tint needs to be this large.

For all practical purposes the tint value for my photographs are always between 0.9 and 1.1, or something around 1 at least. Even with my recent foray into UniWB photos. I actually find the wb tint one of the few sliders in RT that is VERY annoying to fine-tune (even with the click-long-and-drag mechanic).
So, my point i

[2019-09-01 10:22] orwell1984 opened #5432 "Custom default profile"
I'd love to be able to set my custom saved profile as a default. I don't think it's possible now.

[2019-09-01 10:59] heckflosse commented on #5432
![grafik](https://user-images.githubusercontent.com/13733487/64075416-48dcf600-ccb8-11e9-84ed-8f297f89a155.png)

[2019-09-01 11:01] Thanatomanic commented on #5431
@Eosforon, could you maybe share your raw file for some testing?

[2019-09-01 12:30] heckflosse opened #5433 "RT crashes on loading Hasselblad H6D-100cMS pixelshift files"
Fix follows later.

[2019-09-01 18:22] #5433 closed, assigned to heckflosse

[2019-09-01 20:01] heckflosse opened #5434 "Hasselblad H6D-100cMS pixelshift files do not decode correctly"
I will try to fix that. I will start with a code review of the hasselblad_load_raw() function to get better readable code.

[2019-09-01 20:49] #5432 closed, assigned to nobody

[2019-09-02 07:28] orwell1984 commented on #5432
@heckflosse  @Beep6581 what I meant is that in this menu, I can't navigate to some folder and take a .pp3 file to set as default.

[2019-09-02 09:29] Beep6581 commented on #5432
@orwell1984 this is clearly explained in the documentation.

[2019-09-02 17:31] Beep6581 commented on #5387
@GSpronck could you re-upload the files please?

[2019-09-03 00:16] Hombre57 commented on #4858
I finally managed to understand what's going on. The GUI ask to render the thumbnails with its new orientation while it's still in the processing queue and only the last preview is available, with old orientation, leading to a segfault by buffer overrun.

While trying to fix it, I already converted the `threadutils` utility class to `c++11   std::mutex` class, no deadlock so far.

I'll try to fix

[2019-09-03 05:43] Floessie commented on #4858
@Hombre57 So, which was the unprotected variable?

[2019-09-03 06:44] Floessie commented on #5310
@heckflosse I'm using you branch for some holiday shots (now that I'm slowly catching up with my backlog), and the results are quite nice. :+1:

I was playing with the gamma slider and experienced a crash when lowering the value below 1.0:

[code]

[code]

Don't know why GDB didn't demangle the OMP function but I'm sure you can make sense of it. :wink:

The target image was in unclipped mode.

HTH

[2019-09-03 06:46] Floessie commented on #5412
@heckflosse I'm using you branch for some holiday shots (now that I'm slowly catching up with my backlog), and the results are quite nice. :+1:

I was playing with the gamma slider and experienced a crash when lowering the value below 1.0:

[code]

[code]

Don't know why GDB didn't demangle the OMP function but I'm sure you can make sense of it. :wink:

The target image was in unclipped mode.

HTH

[2019-09-03 14:02] Entropy512 commented on #5431
While I almost never bother to postprocess my IR images (they're only for rough engineering documentation at work), I do have access to an IR-converted camera so might be able to play around and do some investigations in late September.

Making the adjustment nonlinear might be the best solution (and might even improve a "typical" use case?) but the question then becomes what the best nonlinear fu

[2019-09-03 14:25] Beep6581 commented on #5431
For most users it is unpractical having a slider with a gigantic range where a slight slider adjustment results in massive changes. See #2836

The temp slider is non-linear, the tint could be made non-linear too, outside of the practical range.

[2019-09-03 20:28] Hombre57 commented on #4858
@Floessie It's not about an unprotected variable, but an obsolete data that should have been deleted. In fact, the fix is a two liner :slightly_smiling_face: However I've added some more protection to `prew` and `preh` in `filebrowserentry.cc`, and `updateBackBuffer`, with `MYREADERLOCK(l, lockRW);`

 Not sure it was necessary, but it shouldn't harm and make it more robust :question:

The twoliner

[2019-09-03 20:29] Hombre57 commented on #4858
Forgot to mention : committed in branch `rotationusedtocrash`

[2019-09-03 20:30] Hombre57 commented on #5310
@gregzaal Should be fixed in branch `rotationusedtocrash`, if you can test it.

[2019-09-03 20:32] Hombre57 commented on #4858
And for the record...

[Coarse Rotate flow.txt](https://github.com/Beep6581/RawTherapee/files/3571525/Coarse.Rotate.flow.txt)

[2019-09-03 20:56] heckflosse commented on #5310
@Hombre57

I will definitely test it tomorrow !!!

[2019-09-04 00:17] sguyader commented on #5431
Maybe adding some sort of "extend tint value" slider which could be toggled on (but being off by default)?
This slider could add to, or multiply the initially set tint value?

[2019-09-04 01:22] Entropy512 commented on #5431
Hmm...  Maybe.  A checkbox seems to be not the ideal solution to me...  But honestly after further thought, a nonlinear slider centered around "normal" use cases might also be problematic for people with IR photography needs...

I had a bit of a light bulb go off at the brewery tonight.  (warning:  Due to its origin, this light bulb might have very bad CRI...  :) )

Is there any precedence for one

[2019-09-04 05:37] Thanatomanic commented on #5431
@entropy512 I am not sure what your argument is against a non linear slider. If it is necessary to set a proper wb for processing negatives, then surely having a slider that can be set accurately on a larger range of values is beneficial?

[2019-09-04 08:02] Floessie commented on #4858
Phew!

[2019-09-04 11:28] Beep6581 opened #5436 "Main histogram unavailable modes not set correctly on startup"
The inactive states of the main histogram buttons is not set on program startup.

`5.6-273-g`bb97a3005

1. Open a raw file and click on the raw histogram button. The luminance and chromaticity buttons become grayed-out.
2. Restart RT. The raw histogram button is still active, but now the luminance and chromaticity buttons are not grayed-out. Clicking them affects the histogram but no crash.

[2019-09-04 11:31] Beep6581 commented on #4858
@Hombre57 @Floessie @heckflosse ok, but let's merge today then!

[2019-09-04 11:51] Entropy512 commented on #5431
So a nonlinear slider will solve the issue of having insufficient adjustment range to handle "weird" behaviors, but may wind up resulting in the slider being too coarse in the new extended adjustment areas - which while better than not being able to hit that adjustment value at all, might still have the issue of being difficult to adjust properly in those use cases.  e.g. I'm not sure if it COULD

[2019-09-04 12:25] Beep6581 opened #5437 "Suppress debug output in CA correction"
@heckflosse are these needed outside of verbose mode?
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/CA_correct_RT.cc#L704
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/CA_correct_RT.cc#L804

[2019-09-04 12:28] heckflosse commented on #5437
@Beep6581 Not really. They just print out if auto ca-correction failed. You can `if (verbose..` them

[2019-09-04 12:29] Floessie commented on #5310
Fix confirmed! :+1:

There's one little thing which I don't know is expected: Let's say I have 100 copies of the same image (landscape) and turned one of them by 90°. If I now select all and turn them by 90° they all have the new orientation (portrait), even the one that was turned before. Is this expected and can someone confirm it?

[2019-09-04 12:48] heckflosse commented on #5310
@Floessie Confirmed. It's the same on dev.

[2019-09-04 13:04] Beep6581 commented on #5187
I finished an update of the article on the main histogram. Please review:
http://rawpedia.rawtherapee.com/Editor#Main_Histogram

Note the last paragraph of the "Raw Histograms" section,

@heckflosse  the raw histograms are affected by white-point correction, but not the values in the Navigator. Is this intentional, or something we want changed for 5.7?

[2019-09-04 13:07] Beep6581 commented on #5187
I would also like to add a paragraph about using the raw histogram/no demosaicing, a practical example of how one can fix an issue with a raw file. Perhaps a raw file which shows magenta highlights, showing how the user can determine safe white levels. I don't have such a file lying around though, does anyone? Or do you have a better idea to demonstrate the practical use for these features?

[2019-09-04 13:11] heckflosse commented on #5187
@Beep6581

Iirc, yes, because we wanted to see the raw values, not the changed raw values

[2019-09-04 13:12] Beep6581 commented on #5187
Some screenshot to backup my findings above.

1. http://rawtherapee.com/shared/test_images/overexposed_sky.pef
Bottom-right pixel hovered
   - camconst wl=3080
![a1 3080](https://user-images.githubusercontent.com/5844619/64257575-df621f00-cf25-11e9-8574-7407670fa8e3.png)
   - camconst wl=4080
![a2 4080](https://user-images.githubusercontent.com/5844619/64257602-edb03b00-cf25-11e9-84f6-55210f1d6086

[2019-09-04 13:15] heckflosse commented on #5187
@Beep6581 in example 1 you picked the values from the same coordinates, but not in example 2

[2019-09-04 13:24] Beep6581 commented on #5187
@heckflosse not the exact same photosite, but still the center of the white patch. That's sufficient to demonstrate the point.

[2019-09-04 13:26] Beep6581 commented on #5431
Can you demonstrate that? When extremes are needed, fine increments make very little difference. The non-linear slider is an elegant solution, it has my vote unless you can demonstrate that the same accuracy is required in the extreme range as in the usual range.

[2019-09-04 13:33] Beep6581 opened #5438 "Make histogram lines thicker and blue histogram lighter"
http://rawpedia.rawtherapee.com/Editor#Main_Histogram

When making screenshots for RawPedia, I had to make small changes to the main histogram:
- I changed the blue histogram from `0.0, 0.0, 1.0` to `0.0, 0.4, 1.0` as the pure-blue is difficult to see.
- I changed the line thickness to 2px.
I made these changes because the vanilla histogram, especially the blue one, is difficult to see in anything

[2019-09-04 13:35] heckflosse commented on #5438
Garlic

[2019-09-04 13:39] Floessie commented on #5438
I like the thinner lines better, but the lighter blue is a winner.

[2019-09-04 13:46] Thanatomanic commented on #5438
I agree with @Floessie, the blue is great, but the thicker lines make the whole thing look a little cramped when you minimize the size of the histogram.

[2019-09-04 14:10] Entropy512 commented on #5431
I won't have a chance to do that until after September 15 or so.

@Eosforon What sort of IR configuration are you shooting?  Full-spectrum, or with a visible-block filter?  If visible-block, what wavelength?  If visible-block, is your primary goal getting it to appear white?

I can only really collect examples of 850nm visible-block.

[2019-09-04 14:28] heckflosse commented on #5187
The raw values are after BL subtration, because before BL subtraction they are not linear, which may lead to confusion.

Example: BL is 512. One pixel has value 1512, another pixel (which got twice as much light) has value 2512. Subtracting the BL clearly shows this as now the values are 1000 and 2000.

[2019-09-04 17:35] #5436 closed, assigned to Thanatomanic

[2019-09-04 18:54] Hombre57 commented on #4858
@Beep6581 `rotationusedtocrash` merged to `dev`.

[2019-09-04 18:54] #4858 closed, assigned to Hombre57

[2019-09-04 18:56] Hombre57 commented on #5310
@Floessie I'll open a new issue for that. Closing this one.

[2019-09-04 18:56] #5310 closed, assigned to heckflosse

[2019-09-04 18:58] Thanatomanic commented on #1849
Cannot reproduce.

[2019-09-04 18:58] #1849 closed

[2019-09-04 19:24] Beep6581 commented on #5437
@heckflosse is this ok?

[code]

[2019-09-04 19:45] Hombre57 opened #5439 "Incremental coarse transformation in Batch Editor"
From @Floessie

This is expected but doesn't hurt me. The coarse rotation is operated on the first thumbnail, with this one as a starting point. The resulting coarse rotation is then propagated to the rest of the selection.

It doesn't hurt me because user would _normally_ do coarse rotation on similarly framed pictures.

However this issue is about adding incremental coarse transformation. It wil

[2019-09-04 19:51] Beep6581 commented on #5309
We are about to crash into this issue:

[2019-09-04 19:54] Beep6581 commented on #4630
@heckflosse @agriggio please commit or push to 5.8.

[2019-09-04 20:15] #5437 closed, assigned to Beep6581

[2019-09-04 20:22] heckflosse commented on #5412
Just some thoughts about further improving Capture Sharpening:

Currently Capture sharpening leads to dark halos when using gamma = 1.0 (which is the preferred gamma, though the default is still 1.35 for no reason) in areas where there are clipped highlights.
This is at least partly because we have non linear data (clipped data).
The idea is, to exclude areas around those clipped pixels from captu

[2019-09-04 20:26] Hombre57 commented on #5309
@Beep6581 Do you mean it has became top priority ?

[Edit] Just saw that it's flagged 5.7... I'm looking at this now.

[2019-09-04 21:51] Hombre57 commented on #5309
@Beep6581 Just for the record, if new release means new cache directory (e.g. "RawTherapee5.7"), then all icons will be rebuilt. The problem arise when the cache folder has the same name for new versions. It won't be a problem for Windows, but I don't know cache names for other OS.

I'm working on this and will post a patch in a new branch tomorrow. It will delete the cache when minor version chan

[2019-09-04 22:58] Beep6581 commented on #5204
The histograms in @ilya-varivchenko 's images were all very similar and clear, both LENR on and off, with data in the blue channel from around 15940 onward and the red and green channels at 16336. The lack of histogram "noise" in the LENR samples was probably because the exposure time was too short, e.g. at 1/8s. @AlexanderDyer 's LENR images used 2.5s for LENR and had the expected "noise".

[code

[2019-09-04 23:12] Hombre57 commented on #5309
@Beep6581 Patch provided in `cleared-icon-cache` branch in commit 500fac34cd539e60ecb1788226d5de25b68cf05a.

The `version` value from the `Options` file is compared to the hardcoded value (computed at build time) of the running application. If the major or minor version is different, the `svg2png` folder is  cleaned at startup-time.

[2019-09-04 23:15] Beep6581 commented on #5249
If the patches work and are approved, please commit tomorrow, or remove the 5.7 milestone.

[2019-09-04 23:19] Hombre57 commented on #5429
@pinguo-wangqinlong I'll have a look this w.e.

[2019-09-04 23:25] Beep6581 commented on #5309
Yup, but this is outside of our control, and most likely doesn't change. Solution 1 (delete `svg2png` on update) is also outside of our control, and probably not even possible in Linux.

@Hombre57 great :) I will test ASAP.

[2019-09-04 23:43] Beep6581 commented on #5187
I will close the issue as the docs are updated.

If anyone has a sample image which can be used to [demonstrate](https://github.com/Beep6581/RawTherapee/issues/5187#issuecomment-527892213) how raw histograms and raw photosite values can be used, feel free to re-open this issue or open a new issue to add that to the docs.

[2019-09-04 23:43] #5187 closed, assigned to Beep6581

[2019-09-04 23:45] #5438 closed, assigned to nobody

[2019-09-04 23:51] Beep6581 commented on #5309
Compiling takes forever... will get back tomorrow, and tag 5.7-rc1 tomorrow evening.

[2019-09-05 00:08] abertens opened #5440 "Crop area not shown on File Browser window thumbnails."
Hi there,

I have just realized that since commit  "Fix crash while rotating several thumbnails in File Browser" (ce04447c7a98b675071f565b0dfe38aedcf41fd9) from Sep 3, 2019, crop area is not shown anymore on File Browser window thumbnails.
On Editor window, the crop area is shown correctly.

Is this on purpose or a side effect?

My platform is Linux, Debian 10, XFCE:
Version: 5.6-274-gce04447c7
Br

[2019-09-05 05:41] Floessie commented on #5249
@Beep6581 AFAIK the fixes are already in dev. The cleanup patch is just what it is: a cleanup.

[2019-09-05 05:43] Hombre57 commented on #5309
@Beep6581 Don't you use the `-j` option ?

[2019-09-05 07:47] Thanatomanic commented on #5434
The effect of the wrong decode is actually quite nice. Can't we keep it? 😉

![image](https://user-images.githubusercontent.com/6567747/64322065-1ede4900-cfc2-11e9-9c7e-6c57046d4643.png)

[2019-09-05 09:16] Beep6581 commented on #5309
@Hombre57
![resize_20190905_111349](https://user-images.githubusercontent.com/5844619/64328890-8d290880-cfce-11e9-9dfc-c1392b651c1d.jpg)
:sob:

[2019-09-05 09:18] Beep6581 opened #5441 "Cleanup patch for `mappingToCurve()`:"
Here's the cleanup patch for `mappingToCurve()`:

[code]

@heckflosse Please give this a full review. I changed the indices to `std::size_t` and hope I didn't screw it. Some further observations:

- There is a potential bug [here](https://github.com/Beep6581/RawTherapee/blob/390594f39ef3e1fd75c737df5dae69dead8dae9e/rtengine/histmatching.cc#L182) which I tried to fix by using `ssize_t`.
- We could

[2019-09-05 09:21] Beep6581 commented on #5249
@Floessie hmm it seems this fix https://github.com/Beep6581/RawTherapee/issues/5249#issuecomment-477025043 is not in dev - https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/histmatching.cc#L125

I opened a new issue (milestone 5.8) for the cleanup, leaving this one to address only the fix.

[2019-09-05 10:07] Beep6581 commented on #5309
@Hombre57 fix confirmed :+1:

[2019-09-05 11:08] Floessie commented on #5249
It's fixed by [Alberto's patch](https://github.com/Beep6581/RawTherapee/commit/d4f0a9a19bb48c0296bb0b56a7149b2296999e62).

[2019-09-05 11:50] Beep6581 commented on #5249
Oh great, then closing.

[2019-09-05 11:50] #5249 closed, assigned to nobody

[2019-09-05 12:45] abertens commented on #5440
@heckflosse
Thank you; it's ok now!
I do not know if it is worth to note that now the crop border area is not shown with a dotted line.

Regards,
Andres

[2019-09-05 12:49] Hombre57 commented on #5309
Didn't thought it would be that funny, but nevermind... :thinking:

I'll commit in the evening then.

[2019-09-05 13:08] heckflosse commented on #5440
@abertens I will have a look

[2019-09-05 13:16] #5440 closed, assigned to nobody

[2019-09-05 13:24] Beep6581 commented on #5309
@Hombre57

[code]

[2019-09-05 16:00] Entropy512 commented on #5438
I personally liked the thicker lines, at least in the screenshots.

But additional enhancements can wait for 5.8 - I might also fiddle with that a bit when I get back.  Maybe having the thickness depend on the histogram size would solve the issue of it being cramped when the histogram is small?

[2019-09-05 20:54] Hombre57 commented on #5309
@Beep6581 Ah, ok, understood :sweat_smile:

Branch merged to dev.

[2019-09-05 20:54] #5309 closed, assigned to Hombre57

[2019-09-06 08:05] slarti-zak opened #5442 "Tool Shortcuts"
I propose (customizable) shortcuts for all tools, not only crop/whitebalance/straighten tools that interact with the screen using a picker or crop area.

The behavior would be that pressing a tool shortcut would jump to the tool in the tools panel and open it if it was collapsed.

Maybe also include a keyboard modifier to toggle enable/disable state of the tool to quickly compare the effect of the

[2019-09-06 19:44] Beep6581 commented on #865
Ctrl+w shortcut added to docs. Closing as this issue is a mess.

[2019-09-06 19:44] #865 closed

[2019-09-06 19:55] Beep6581 commented on #3307
Still valid in 5.7.

[2019-09-06 19:57] Beep6581 commented on #3925
Duplicate of #1472, and point 3 was done in 5.6 or so. In the future, open 1 issue per issue.

[2019-09-06 19:57] #3925 closed, assigned to nobody

[2019-09-06 20:16] #4322 closed, assigned to Beep6581

[2019-09-06 20:18] Beep6581 commented on #5442
Not doable, and duplicate of #1472

[2019-09-06 20:18] #5442 closed, assigned to nobody

[2019-09-06 20:55] Beep6581 commented on #5413
Branch `release-5.7` can be tested. I have not tagged 5.7 yet.

Ping @Benitoite @gaaned92 @aferrero2707

I will tag 5.7 on Sunday (2019-09-08) if things go well.

[2019-09-06 21:01] aferrero2707 commented on #5413
I have triggered the builds of the release-5.7 branch for both the AppImage and the Win64 packages, if all goes well they should be available within 1 hour.

Otherwise I will have a look at the build errors tomorrow...

[2019-09-07 05:49] slarti-zak commented on #5442
Sorry that I have expressed myself in an unclear way. I mainly opened this issue to propose that all tools (noise reduction, exposure, ...) should have shortcuts. They could be hardcoded in a first step.

#1472 would of course be nice for this but not mandatory. It could be done in a second step.

[2019-09-07 10:49] #5099 closed, assigned to nobody

[2019-09-07 12:23] heckflosse commented on #5412
Here's a first screenshot of a new feature for Capture Sharpening, I'm working on. It's automatic calculation of the CS radius.

Left unsharpened, middle with the hardcoded default radius of 0.75, right with the auto calculated radius (0.63 in this example)
![grafik](https://user-images.githubusercontent.com/13733487/64474855-e897f980-d17a-11e9-8e2d-d84e298bcb26.png)

[2019-09-07 12:53] heckflosse commented on #5412
Another one: Top left unsharpened. Bottom left CS with default settings. Top right CS with default settings but with the new feature to eliminate the dark halos near clipped highlights. Bottom right same as top right but with auto calculated radius
![grafik](https://user-images.githubusercontent.com/13733487/64475159-30208480-d17f-11e9-83a2-8f31af45e1a6.png)

[2019-09-09 15:23] nvki opened #5443 "Flatfield on HDR DNG"
I cant get flatfield correction with HDR .dng files to work, even with the flatfield image converted to the same format. As it was claimed to work in the 4.1 release notes I am wondering what I might be doing wrong?

The raw files I used for testing can be found [here](https://1drv.ms/u/s!AmGpeugw5ph9gfcdHbB7bcYhcHRPKQ?e=F6DIiO)

[2019-09-09 19:16] Hombre57 commented on #5429
@Beep6581 So the pinned item are common to all users ?

[2019-09-09 19:41] heckflosse commented on #5443
@nvki Iirc, flat fields and the images they are applied to must have same dimensions, which is not the case in your example files.

[2019-09-09 19:58] Pandagrapher commented on #5410
@Desmis
Hello Jacques,

I have added the possibility to add/remove a Locallab tool to the currently selected spot (refer to my last commit in my fork). What do you think about this improvement ?

Note: For the moment, the Locallab tools state (added/removed) isn't saved in .pp3 file (will be managed in next commit).

Pierre

[2019-09-09 20:42] nvki commented on #5443
oh damn, I totally forgot that hdrmerge performs alignment and cropping per default. Thanks for the clarification, will try it asap!

[2019-09-09 21:24] Hombre57 commented on #5429
@pinguo-wangqinlong  You could try this patch, to more than double the power of the effect.

However could you show us a use case of such high S/V shift (without artifact) ?

[code]

[2019-09-09 21:37] nvki commented on #5443
yep, just as @heckflosse said I messed up the image dimensions. this issue can be marked closed

[2019-09-09 22:11] #5443 closed, assigned to nobody

[2019-09-09 23:19] Beep6581 opened #5444 "Retinex - Reset does not trigger preview refresh event"
https://discuss.pixls.us/t/test-rawtherapee-5-7-pre-release-build/13920/12

Confirmed.

[2019-09-09 23:47] Beep6581 commented on #5429
Hey @Hombre57 , yes, pinned issues are visible as such for everyone: https://github.blog/changelog/2018-12-13-pinned-issues/

[2019-09-10 05:40] Desmis commented on #5410
@Pandagrapher

Hello Pierre
I just tested your new commit.

Nice improvment :)

With that the interface is much clearer, very good job.

Thank you

Jacques

[2019-09-10 08:23] TooWaBoo commented on #5444
Confirmed
Win10
[code]

[2019-09-10 10:15] Floessie commented on #5444
Could this be a starting point?

[code]

HTH,
Flössie

[2019-09-10 17:09] snappyapple632 commented on #5413
I don't think the 5.7 release was compiled into an installer.

[2019-09-10 17:26] GSpronck commented on #5387
You can download the files until 17 september using the following link:

https://wetransfer.com/downloads/d0421c0b0eb1dd3684d9050dec37ca1620190910171156/fc25d43627f789d2233586cb1100777620190910171156/5fa539

[2019-09-10 17:30] Beep6581 commented on #5413
Released.

[2019-09-10 17:30] #5413 closed, assigned to Beep6581

[2019-09-10 17:31] Beep6581 opened #5446 "Roadmap for 5.8"
ETA 14 December 2019.

[2019-09-10 18:08] snappyapple632 commented on #5446
It seems like #1678 is nearing testing stages, Sounds like a pretty revolutionary upgrade. Would it be something to consider?

[2019-09-10 18:24] heckflosse commented on #5446
@snappyapple632 #1678 will require a lot of work after the functionality is tested, because using OpenCL requires additional dependencies and we also have to handle cases where the data is too much to fit in the RAM of the graphics card and so on. I don't even know the code atm. So, definitely not for 5.8.
But as we need more speed especially for Capture Sharpening and it's a perfect candidate to

[2019-09-10 18:27] snappyapple632 commented on #5446
Understandable, but I will continue to anticipate its integration.

[2019-09-11 03:03] Eosforon commented on #5431
Sorry for the long time no reply but I am in PRC at the moment and it is not easy to reply here. I agree a logaritmic scale could be a good compromise, I am not worried about fine increaments with slider as long as it would be like the Temperature adjustment. I could anyway write finely the exact number if I need for more little improvements.

My setup is a Powershot A590IS with DIY filter (unexpo

[2019-09-11 17:50] SilvioGrosso commented on #5446
The feature planned, by  Hombre57,  "Adding GUIs to the favorites", would be cool as well:
https://github.com/Beep6581/RawTherapee/issues/5256

However, having the "Local editing branch" released (https://github.com/Beep6581/RawTherapee/tree/newlocallab) would be even massively useful :-)
Just joking though, since I am not a developer and I don't know how difficult would be to have these new 2 fea

[2019-09-11 17:52] SilvioGrosso commented on #5446
Needless to say, I suppose the "Spot remove branch", by Hombre57, will be included as well (I suppose this is far more certain...)?

[2019-09-11 20:29] Beep6581 commented on #5446
We will include what's ready for inclusion when the time comes.

[2019-09-12 01:51] Entropy512 commented on #5431
I'll take a look at your DNG when I get back from vacation.

Since an 800nm visible-blocking filter effectively eliminates color, have you tried desaturating the image as a workaround?  You say "DIY filter" - but have you removed the hot mirror from the camera?

As I mentioned, I have access to an A6500 which was full-spectrum converted by Kolari, which can then have an 850nm visible-block added.

[2019-09-12 05:09] mciepluc opened #5450 "Handling HDR when stored in a single RAW"
Hello,

I am dealing with a single RAW file (Pentax DNG format) which contains 3 frames - it is supposed to be a HDR image. Unfortunately, I don't know how to use the whole dynamic range. In the demosaicing menu I am able to only choose a single frame of 3. Is handling of such RAWs possilbe in the RT?

THanks

[2019-09-12 07:15] Floessie commented on #5450
Hi @mciepluc,

Is [HDRMerge](https://jcelaya.github.io/hdrmerge/) a solution for your problem?

Best,
Flössie

[2019-09-12 08:41] Beep6581 commented on #3558
`5.7-33-g`d9ad93c15

[2019-09-12 09:55] Ripple-qin commented on #5429
I will try it and feedback soon. thanks for your strong support.

[2019-09-12 10:17] Ripple-qin commented on #5429
We are developing a photo editing software that has a function to adjust HSL.
We found that RawTherapee's HSV effect is the best and close to lightRoom.
(We know that HSL and HSV are a little different.), but we refer to the HSL effect of lightRoom,
Our effects designer found that the S and V effects of RawTherapee's HSV function are too small, which is whyI asked the reason for this question,

I

[2019-09-12 15:36] heckflosse opened #5451 "Selecting a profile with a crop as default profile leads to strange behaviour when applying a Bundled profile from file browser"
To reproduce:

1) create a profile which has a crop defined and enabled
2) select this profile as your default profile for raw files
3) in filebrowser select some raw files and clear profile (all fine til now)
4) now apply `Bundled profiles/Auto Matched ISO low` to the selected files. Bug: all thumbs show the crop from the default profile though it wasn't selected.
![grafik](https://user-images.gi

[2019-09-13 06:16] SilvioGrosso commented on #5446
Hello @Beep6581

Sure!
You are 100% right and trust me: I don't want to press anyone since I am fully *aware* you are working on Rawtherapee in your very limited amount of time, for free...

As regards the Local editing branch, IMHO, it is such an important improvement that it might merit a big number release for Rawtherapee (6.0 etc).
I was thinking about the 5.8 release because it might allow to

[2019-09-13 18:51] Hombre57 commented on #5446
@SilvioGrosso I'll do my best to finish the Spot Removal tool for 5.8.

For Local Editing, this is something that everybody eagerly wants, but a Casus Belli for devs. It's such a big improvement with different possible implementation, that in the end, users will have to chose between different fork.

[2019-09-13 22:37] Hombre57 commented on #5451
@heckflosse I don't see any bug in both cases.

### For case 1 :

In fact it was selected, because when switching from _embedded image_ to _processed image_ in your use case, the ProcParams is a merge of neutral + default profile (which contains the crop) + selected profile (here "Auto Matched ISO low" which is a partial profile that doesn't reset the crop tool). In the first place, you shouldn't

[2019-09-15 10:05] heckflosse opened #5452 "xtrans: border artifacts when using 1-pass Markesteijn"
![grafik](https://user-images.githubusercontent.com/13733487/64919917-126fa280-d7b1-11e9-9471-c39163c8e7b8.png)

[2019-09-15 10:36] heckflosse commented on #5451
@Hombre57 Ok, closing then

[2019-09-15 10:55] #5452 closed, assigned to heckflosse

[2019-09-15 12:56] TooWaBoo commented on #5412
@heckflosse
I've tested capture sharpening with Auto-Radius and it's works great.
but (there is always a "but" 😁 ) I've a feature request.
Is it possible to add a slider for a "Auto-Radius" correction multiplier?
This would help to create different profiles for different lenses.

[2019-09-15 13:00] Eosforon commented on #5431
Yes, obviously in a converted camera like this one the IR-cut standard filter is replaced with an IR-pass filter: so basically you block visible light and let nIR light pass throught.

With 800 nm half-cut some false colors could still be recovered: their amount could vary depending on the camera, since the bayer filters are not all exactly the same.
Anyway with that camera A590IS the problem with

[2019-09-15 13:01] Beep6581 commented on #5451
This seems to be related to #4656 which focuses on the problem that the "apply" context menu option is actually performing a partial-apply, and this issue focuses on the problem that you're assuming any holes in this profile will be set to neutral values, while they're actually set to "Default profile for raw photos" values.

[2019-09-15 13:12] Beep6581 opened #5453 "Document Capture Sharpening"
Document Capture Sharpening #5412

[2019-09-15 13:13] heckflosse commented on #5412
@TooWaBoo

This would help to create different profiles for different lenses.

Can you provide raw files for which this would make sense?

[2019-09-15 13:26] TooWaBoo commented on #5412
My 55-200mm Nikon is very weak at 200mm.
https://filebin.net/xd2xard3m5kbt122

[2019-09-15 13:37] heckflosse commented on #5412
@TooWaBoo That doesn't look very soft to me (at least not in the center of the image).
Which radius would you use for that image?

[2019-09-15 13:41] TooWaBoo commented on #5412
Approximately 80

[2019-09-15 13:54] heckflosse commented on #5412
@TooWaBoo 0.80 ?

[2019-09-15 13:56] TooWaBoo commented on #5412
Sorry, yes I meant 0.80 😂

[2019-09-15 14:00] heckflosse commented on #5412
@TooWaBoo I will first try this:
https://discuss.pixls.us/t/quick-question-on-rt-richardson-lucy-implementation/13614/128

[2019-09-15 15:32] heckflosse commented on #5412
First screenshots of my very first tests with radius automatically increasing with distance to center

Always left fix radius, right automatically increasing radius

Center of the image, as expected no difference:
![grafik](https://user-images.githubusercontent.com/13733487/64923861-79578080-d7de-11e9-917b-0f0817f48fb6.png)

Left border of the image, small difference, barely visible:
![grafik](htt

[2019-09-15 15:43] heckflosse commented on #5412
@Beep6581 requested separate images for better comparison:

center with fix radius
![grafik](https://user-images.githubusercontent.com/13733487/64923949-79a44b80-d7df-11e9-9598-bc1186ae010e.png)

center with variable radius
![grafik](https://user-images.githubusercontent.com/13733487/64923956-8aed5800-d7df-11e9-97b4-1af232a67ce1.png)

left border with fix radius
![grafik](https://user-images.githu

[2019-09-15 15:45] Beep6581 commented on #5412
Fantastic results!

[2019-09-15 17:48] mbaz opened #5454 "Make color picker work in "before" view"
When comparing two versions of an image using the "Before" and "After" views, it would be useful to have color pickers in both views. It would make it easier to quantify the effect of a tool on a particuar color. At the moment, color pickers can only be placed in the "after" view.

[2019-09-15 18:22] heckflosse commented on #5412
Todo list for Capture Sharpening:

1) complete variable radius depending on distance to center
2) improve auto-radius for xtrans
2.1) Implement a hot/dead pixel filter for xtrans. This is needed because especially hot pixels lead to wrong auto-radius. And it's generally missing anyway ;-)
2.2) Review the current xtrans auto-radius calculation
3) avoid the dark halos

[2019-09-15 20:07] Hombre57 commented on #5451
@Beep6581I understand your point, but this case is about applying a selected profile to *never edited files*, so it sounds logical to me to involve the default profile, for e.g. set default exif/iptc params, resize params, etc...

I didn't checked the code, but I guess that the Custom Profile Builder and Profile Rules are also involved here, which is what I'd expect when applying to a never edited

[2019-09-15 20:25] Hombre57 commented on #4656
@Beep6581

The typical use case is to separate subtopic in their own partial profile : one for controlling denoising and nothing else, one to controls resize/crop/sharpening and nothing else, one to control color, etc... Then the idea is to apply the partial profiles from the menu depending on what you want to achieve, and not going into the "Apply Partial Profile" menu and select the entries, the

[2019-09-16 04:04] fferreres opened #5455 "Zoom axis and panning"
I use RT extensively as an amateur and wanted to suggest zoom would zoom in based on pointer position (center of zoom) and two finger panning. Many laptops have touchpads with no buttons but gesture enabled, requiring pressing down the entire surface as one pans, which has my finger becoming flat; two fingers would not interfere with anything. Please do delete this if any dev finds it not to fall

[2019-09-16 06:14] Beep6581 commented on #5455
Hi @fferreres

If I understood your request correctly, you want RawTherapee to zoom centered on the cursor position when using the touchpad. Well it does that already - I just confirmed using a mouse and using a touchpad. Please clarify which version you're using, what behavior you want and what the current behavior is.

[2019-09-16 06:19] Beep6581 commented on #5412
4. Partial paste. Currently, CS always gets saved even when you partial-save with everything unchecked.
5. Enable Capture Sharpening in both `* ISO Low.pp3`.

[2019-09-16 06:27] Beep6581 commented on #5451
That's the thing though, it isn't intuitive. I'm applying a _specific_ profile to a photo, I'm telling RawTherapee "here, use this exact profile", while RawTherapee says "ok, but first I'll just quietly use that one".

If I wanted "Default profile for ..." to be used, I would right-click on a thumb and select "Reset to default".

Now I'm not saying that using "Default profile for ..." is bad, just

[2019-09-16 06:41] Beep6581 commented on #4656
@Hombre57 I agree that this can be useful and should be kept.

Summary of the problem: currently the context menu is counter-intuitive - there is an "Apply - partial" entry, and then there is an "Apply" entry which is also partial. And both operate using a hard-coded fill mode which cannot be known to the user by looking at the user interface and is not documented.

![screenshot_20190916_083915](h

[2019-09-16 13:16] heckflosse commented on #5412
I pushed 1. to capture_sharpening branch

[2019-09-16 13:58] Benitoite commented on #5413
@Beep6581
New mac build, https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip for macOS 10.10,11,12,13,14+

In the latest macOS *10.15* _Catalina_ beta 8, file access is restricted to `~` and `~/Pictures`.  Previous to the change I was using a temporary exception to enable `\` access, but I think that rule has been finally been removed.  Have to look into the new _Catalina_ `.plist` rulesets

[2019-09-16 14:01] Beep6581 commented on #5413
@Benitoite great to see you back and well (assuming)!

@aferrero2707 is looking into automating the macOS build process.

[2019-09-16 15:35] Benitoite commented on #5413
@beep6581 thanks!  Doing well, was overseas AFK.

@aferrero2707 let me know how I can help out. Here’s how I create the 3rd-party components.

https://raw.githubusercontent.com/Benitoite/RTdeps/master/macbuildRT.sh

It’s pretty long, you might use homebrew for most libraries.

[2019-09-16 15:42] aferrero2707 commented on #5413
I am actually using MacPorts for most of the dependencies. I have now a Travis job that installs the MacPorts packages and stores a copy of the `/opt/local` folder, which can then be downloaded by the script that actually builds the application in order to speed-up the system set-up process. The plan is to refresh the MacPorts cache every week, in order to keep it sufficiently up-to-date.

At the

[2019-09-16 19:44] Benitoite commented on #5413
@beep6581 sorry my typo, should be “10.15 Catalina”.

[2019-09-16 20:01] Beep6581 commented on #5413
Fixed.

[2019-09-17 05:06] TooWaBoo commented on #5412
6. Add the 1:1 label to Capture Sharpening

[2019-09-17 07:59] fferreres commented on #5312
I have a similar problem with the latest stable 5.7 release, using Mohave. Whenever I try to, for example, set a directory in Settings -> Image Processing -> Directories the moment I click to select it crashes. Similarly, if I choose a Folder in the editor window to select a profile.

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception

[2019-09-17 08:34] heckflosse commented on #5412
@TooWaBoo

Why?

[2019-09-17 08:41] TooWaBoo commented on #5412
@heckflosse
To see the effect of the tool. I don't see any difference when the image is not at 100%.
EDIT:
Hmmm, the tool is applied also at <100%. Does this makes sense?

[2019-09-17 08:47] heckflosse commented on #5412
@TooWaBoo
Sure, CS is always applied to the whole image, same as raw ca-correction for example. It makes panning faster and also you can view the contrast mask for the whole image. I can see the effect also at 50% (less, because of downsized, but still there)

[2019-09-17 09:04] TooWaBoo commented on #5412
The label 1:1 tells me that I have to use the tool at 100% to evaluate the correct setting. That's why I mentioned it.

[2019-09-17 09:12] heckflosse commented on #5412
@TooWaBoo

That's indeed an argument. Opinions?

[2019-09-17 09:27] Beep6581 commented on #5412
The "1:1" label means the tool has no effect at <100%, i.e. it's "physically" excluded from the pipeline. This is not true for CS, so no 1:1 label.

[2019-09-17 09:44] Beep6581 commented on #5312
@Benitoite is that the same issue?
https://discuss.pixls.us/t/rawtherapee-5-7-released-plus-a-new-website/13980/145?u=morgan_hardwood

[2019-09-17 10:16] TooWaBoo commented on #5412
For e.g. Tone Mapping, Dynamic Range Compression, Noise Reduction, Contrast by Detail Levels and maybe more have a 1:1 label but are processed also <100%.
My opinion from user view: The 1:1 indicates if the tool should be setup at >=100%.

[2019-09-17 10:38] heckflosse commented on #5412
Noise Reduction being the exception.

[2019-09-17 13:15] Benitoite commented on #5312
Yes I believe so.  This is due to glib switching to meson... need to figure out how to set the sysroot for the older sdk.

Sent from my iPhone

[2019-09-17 15:28] TooWaBoo commented on #5412
RawPedia:
Note that the effects of some tools **are only accurately visible** when you are zoomed in to 1:1 (100%) or more. These tools are marked in the interface with a "1:1" icon Zoom 1:1 next to the tool's name.

[2019-09-17 16:02] Entropy512 commented on #5455
It sounds almost like he's asking for two-finger to be a pan instead of a zoom?

As you've pointed out, RT already zooms centered on cursor position, and at least on Ubuntu 19.04 on an Acer Aspire R15, a two-finger gesture will zoom.

The underlying implementation of this (as you're aware, but to explain to fferes) is that at a lower level than RT (either the touchpad driver, or GTK+, I'm not enti

[2019-09-17 16:26] Thanatomanic commented on #5412
That phrasing should perhaps better be "Some tools are only active when viewing at 1:1 zoom or higher, because their effects are computationally too slow otherwise."

[2019-09-17 16:52] TooWaBoo commented on #5412
@Thanatomanic
Did you read all posts from here? https://github.com/Beep6581/RawTherapee/issues/5412#issuecomment-532060303
In my opinion the phrase in RawPedia is correct, because the 1:1 label should tell the user how to use the tool in the correct way.

[2019-09-17 17:02] Thanatomanic commented on #5412
@toowaboo Yes I did, but "only accurately visible" is something that applies to the CS imo. You don't see the effect when zoomed out (or at least not _accurately_). So while the tool is active at all zoom levels, the current text in RawPedia doesn't describe things accurately.

[2019-09-17 17:07] TooWaBoo commented on #5412
@Thanatomanic , This is not the point. The point is: Should CS get the 1:1 label or not.

[2019-09-17 17:11] Thanatomanic commented on #5412
Sorry for not being overly clear (long workday, and I'm typing on the way back home). If RawPedia is correct, then CS should get the "1:1" label because its effects are only _accurately_ visible at 100% zoom.
If @Beep6581 is correct, then RawPedia could be rewritten according to my suggestion and CS should not get the "1:1" label because it is active independent of zoom level.

[2019-09-17 17:15] TooWaBoo commented on #5412
@Thanatomanic , There is no correct or wrong. 😁 The question is, what makes sense from the view of a user.

[2019-09-17 18:19] heckflosse commented on #5412
Let me write about the differences to other 1:1 tools from a technical perspective (keep aside the user perspective for the moment):

All other 1:1 tools are either not applied at zoom level < 100% or applied to a downsized image using a scaled parameter, which is not accurate

CS always is applied to the whole image and the result will be downsized afterwards for less than 100% preview, which of

[2019-09-17 18:27] heckflosse commented on #5412
Or the other way: There is (for reasons) no tool in raw tab which has the 1:1 icon

[2019-09-18 07:21] TooWaBoo commented on #5412
I prefer the user view because a user does not think about or knows what's under the hood. The 1:1 label instructs the user to configure the tool at >=100%. All tools to which this applies should therefore get the 1: 1 label.
This exactly corresponds to the RawPedia article.

[2019-09-18 11:26] maz4200 opened #5457 "Crash on launch in macOS 10.14.6"
Mac os 10.14.6 downloaded update of Rawtherapee 5.7 crashes on launch, very brief display of program screen and dialogue box.

debug
[code]

[2019-09-18 12:03] maz4200 commented on #5457
Ok after two reboots now the program opens and seems to work normally one in approx three times otherwise crashes on opening as before. As below:-

[code]

[2019-09-18 12:07] maz4200 commented on #5457
Further to the report- when image modified crashes on attempt to save
[code]

[2019-09-18 12:08] Beep6581 commented on #5412
http://rawpedia.rawtherapee.com/Template:1:1

In capture sharpening, the whole image is processed, so the preview is accurate at any zoom level as far as CS is concerned. Whether you can see the effects or not at 50% zoom or 10% zoom is completely irrelevant. The 1:1 label is there to warn you of a **technical shortcoming of RawTherapee** (due to the nature of the algorithm, too high memory requir

[2019-09-18 12:10] Beep6581 commented on #5412
What does accurate mean? It means if you apply the tool in RawTherapee and zoom out to some scale, and then you export the full-sized image and zoom out to the same scale in your image viewer, the images should be identical (excluding the effects of the downscaling interpolation algorithms used by RawTherapee and the image viewer).

[2019-09-18 12:21] Beep6581 commented on #5457
@maz4200 please familiarize yourself with markdown so that your posts are more readable and so that we don't have to keep formatting them for you, especially the part about quoting code:
https://help.github.com/en/articles/basic-writing-and-formatting-syntax#quoting-code

[2019-09-18 12:41] Beep6581 commented on #4527
Preview quality of geometric transformations, RawTherapee:
![screenshot_20190918_143931](https://user-images.githubusercontent.com/5844619/65149384-48678d80-da22-11e9-81c9-b8948c44be23.png)
Saved to full size, opened in Geeqie and downscaled to same size:
![screenshot_20190918_143937](https://user-images.githubusercontent.com/5844619/65149448-659c5c00-da22-11e9-872d-35e1ee436ee5.png)

[2019-09-18 14:44] Entropy512 commented on #3845
This got linked to from @sguyader posting on pixls - A question, what is the rationale for not making a single click on cell text open the folder?  I'm guessing possible performance issues from switching too often?

[2019-09-19 07:14] ff2000 opened #5459 "optionally link against tcmalloc"
Like some others I am struggling with RT's memory usage. The global variables to control glibc's memory management didn't improve the situation for me. jemalloc just introduces random crashes (if it starts up at all).
agriggios implemented in his fork "art" an integration tcmalloc. Tried it and it really improves things!
I ported this to RT. Any interest to support this?
Here is the patch for RawT

[2019-09-19 08:36] Thanatomanic commented on #5459
@ff2000 am I correct that this is not possible for a MinGW64 build on Windows?

[2019-09-19 09:16] ff2000 commented on #5459
I only run Linux and have no experience with Windows/MinGW. So I can't answer that question.
@agriggio do you know if it's possible?

[2019-09-19 09:28] gaaned92 commented on #5459
It doesn't seem there is a complete port of https://github.com/gperftools/gperftools on windows.
No library on MSYS2
Is it even buildable on GCC 9 on windows 64?

`jemalloc just introduces random crashes (if it starts up at all).`
I also tried to test it on W64 ( following @heckflosse tip) and effectively, jemalloc seems of no use to improve performance.

[2019-09-19 09:39] heckflosse commented on #5459
@ff2000 Thanks for the patch. No objection from me to merge it. Though tcmalloc does not exist on MSYS2, the patch does not hurt on Windows and RT still builds fine

[2019-09-19 10:46] Beep6581 commented on #5459
Why/when would I use this?

No objection to merge, and I will add the option to the compilation script and to RawPedia when it's merged.

[2019-09-19 11:12] heckflosse commented on #5459
@ff2000 Does using tcmalloc solve #4416 ?

[2019-09-19 16:31] ff2000 commented on #5459
Yes, for me it solves that issue. Memory increases slightly over time, but in contrast to glibc it gets freed at some point. Especially I now can finish editing one (or more) image, which glibc wanted to prevent me from.
I will create a PR (hopefully tomorrow), then people can test if it fixes memory issues for them, too.

[2019-09-19 23:35] scx opened #5461 "Does it still use exiv2?"
https://github.com/Beep6581/RawTherapee/blob/5.7/.travis.yml.fixme#L37
[code]
I know that RawTherapee has required it in the past. What is the current status?

[2019-09-20 01:28] scx opened #5462 "Distribution-specific packages"
Where is the download page for distribution-specific packages (RPM, DEB, etc.)?
http://web.archive.org/web/20190827230458/https://rawtherapee.com/downloads/
Have you decided to support only AppImage?

[2019-09-20 05:25] scx opened #5463 "[Linux] Opening file in external editor doesn't work for all filenames"
Opening a file an in external editor doesn't work for all filenames.
If you have quotation mark (`"`) in filename, it will fail to open the file.

Program version: `5.7`
Package type: `AppImage`
Package name: `RawTherapee-releases-5.7-20190910.AppImage`

## Steps to reproduce

1. Copy or rename a valid file:
[code]
[code]
[code]

2. Try to open it using the `Edit current image in external editor`

[2019-09-21 12:20] arturoisilvia opened #5466 "non-raw photo without exif data: RT does not record in software section"
If a 'jpg' (non-raw) photo does not have any exif data, when re-processing it in RawTherapee and saving it, you should embed your stamp in the software section of the exif data: 'Software: RawTherapee 5.7'

Version: 5.7
Branch: releases
Commit: f335efe6a
Commit date: 2019-09-10
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits

[2019-09-22 00:46] curiousercreative commented on #5457
I reproduced this crash on launch (have never used RawTherapee but interested to try). I have basically the same spec machine:

[code]

[2019-09-22 04:42] #5459 closed, assigned to ff2000

[2019-09-22 13:32] mciepluc commented on #5450
@Floessie not really, I tried HDRMerge but it seems to lose plenty of data when converting to a single RAW. Perfectly, RT should be capable of doing such merge, similarly to what it is able to do (I must admit, quite amazingly) with PixelShift. Maybe someone can share experiences with HDR image processing so I can find a solution that would work for me. Thanks.

[2019-09-22 20:42] Beep6581 commented on #5462
Why do users have to jump through hoops to get RawTherapee, why is it not part of official repositories?

[2019-09-22 20:44] Beep6581 commented on #5461
It never did.

[2019-09-22 20:44] #5461 closed, assigned to nobody

[2019-09-22 23:24] Beep6581 commented on #4793
Stale.

[2019-09-22 23:24] #4793 closed, assigned to nobody

[2019-09-22 23:45] Beep6581 opened #5469 "Document tcmalloc"
Document tcmalloc, pr #5465

@ff2000 could you explain briefly what it does and when one would use it?
As per http://rawpedia.rawtherapee.com/Linux#CMake

[2019-09-23 12:38] LigH-de commented on #5450
Fujifilm EXR-DR raw files with 2 frames are not yet supported either, but a [feature request](https://github.com/Beep6581/RawTherapee/issues/5407) exists, including a link to a bunch of sample files. If you can provide samples, I guess it may be useful to add their upload location there as well.

HDRMerge is no satisfying solution for me either. Starting with doubts how to use it in case of one fi

[2019-09-23 12:48] heckflosse commented on #5450
@LigH-de

If you open an EXR-DR file with two frames in HDRMerge, it loads both frames automatically and then continues as if you would have loaded two raw files.

[2019-09-23 12:57] LigH-de commented on #5450
Then I would expect to see a few areas of layer 2 (blue) if I load a RAF file with two raw frames with sufficient dynamic range. But I only see a completely green image, and only a layer 1. Tiny bits of a layer 2 appear only when I open the same image twice. But I believe this should rather be discussed in [HDRMerge issue #165](https://github.com/jcelaya/hdrmerge/issues/165) – which is still close

[2019-09-23 13:10] heckflosse commented on #5450
Can you start HDRMerge from console with parameter -vv (two v, not one w), then open your file and post the output?
Maybe we should switch to an HDRMerge issue for that?

[2019-09-23 14:14] mciepluc commented on #5450
I think I can share the same observation as @LigH-de . My HDR RAW single file (Pentax DNG) contains 3 frames and I think the problem is that HDR Merge indeed is not merging these 3 frames into one, so that's why after loading "merged" RAW I could not see any improvment.

[2019-09-23 14:23] heckflosse commented on #5450
For the Pentax HDR I definitely tested it a while ago and it worked fine. Which HDRMerge version are you using?

[2019-09-23 15:52] Beep6581 commented on #4763
https://discuss.pixls.us/t/waveform-histogram/14138/16

[2019-09-23 16:05] Beep6581 commented on #5466
Subjective, and falls under #3801

[2019-09-23 16:05] #5466 closed, assigned to nobody

[2019-09-24 08:05] Floessie commented on #5463
Fixed for Linux.

@heckflosse Ingo, could you review the Windows code path?
@Benitoite Richard, same for Mac?

Thanks,
Flössie

[2019-09-24 15:11] Beep6581 opened #5470 "Travis CI broken due to desktop file"
Updating our desktop file to version 1.1 in PR #5460 broke Travis CI, meaning automated builds fail.

[code]

https://api.travis-ci.org/v3/job/588727835/log.txt

Seems we are limited to what CentOS7 supports, which is desktop-file-utils-0.23.2
https://centos.pkgs.org/7/centos-x86_64/desktop-file-utils-0.23-2.el7.x86_64.rpm.html

Solutions:
1. Revert to Desktop Entry Specification 1.0.
1. Get CentO

[2019-09-24 15:26] Beep6581 opened #5471 "Travis CI broken due to PIP3"
[code]

https://travis-ci.org/aferrero2707/RawTherapee/jobs/589006948

@aferrero2707 could you have a look?

[2019-09-24 22:21] heckflosse commented on #5450
@mciepluc

Thanks for the compliment ;-)

Fot the Pentax 3-in-1 HDR try this build please:
https://keybase.pub/gaaned92/HDRMergeNightlyBuilds/HDRMerge_master_continuous-64-g1408e42_release_64.zip

[2019-09-25 08:12] aferrero2707 commented on #5470
We could update the desktop file validation tool from sources on the CentOS system used for building, but I guess that the resulting AppImage will then not be compatible anymore with several old systems that do not support version 1.1 of the desktop entry specification.

Is there a strong reason for this version update?

[2019-09-25 09:13] scx commented on #5470
@Beep6581

It really shouldn't be a problem for EL7.

[code]
[code]

As you can see, `Version` `1.1` is valid even for EL7:
[code]

And of course, the validation process works fine, because it will fail for unknown versions:

[code]
[code]

So, it looks like this is an AppImage issue.
However, it should be possible to change the Version number to `1.0`, although some software may ignore `Keywords`

[2019-09-25 09:52] Beep6581 commented on #5470
So let's get rid of the keywords section, reduce the number of potential problems and required maintenance, and downgrade to 1.0.

[2019-09-25 09:55] scx commented on #5470
According to the desktop-file-utils changelog, full support for version 1.1 desktop files was introduced in `0.23`, which was released in 2016.
https://gitlab.freedesktop.org/xdg/desktop-file-utils/blob/0dbfdfe12e320487735a05ef9b436ce144ee2633/NEWS#L29
This package is available in EL7 and Debian 9 Stretch (oldstable).

EL 7 was released in 2014 with desktop-file-utils `0.21`. This package has been

[2019-09-25 09:57] Beep6581 commented on #5470
I agree, CentOS seems to be anything but a photography platform, but then again if we can keep supporting it though the minimal effort required to revert our Desktop file spec from 1.1 to 1.0 then why not.

[2019-09-25 09:57] scx commented on #5470
I'd keep the `Keywords` section, and downgrade the `Version` number to `1.0`.
Keywords are important because they affect the search results in Gnome Software and similar applications.
Alternatively, we can move `Keywords` to the AppData file.
https://www.freedesktop.org/software/appstream/docs/chap-CollectionData.html#tag-ct-keywords

[2019-09-25 10:01] Beep6581 commented on #5470
@scx so `Keywords=raw;photo;photography;develop;pp3;graphics;` would pass validation when using `Version=1.0` even though it might fail to be parsed by Trinity? If so, I can revert the keywords line.

[2019-09-25 10:05] scx commented on #5470
Yes, the `Keywords` field is fine even for `Version` `1.0`. It was just not standardized at the time. The worst thing that can happen is a warning, but definitely not a validation failure.
[code]

[2019-09-25 11:55] mciepluc commented on #5450
Hi @heckflosse

The nightly build you pointed works OK, HDR is correctly merged and supported just fine by RT.
The official release of HDRMerge v0.5.0 does not seem to support Pentax 3in1 RAW.
So this is not an issue with RT at all, so please feel free to close the issue here.

I am happy with the flow of converting Pentax HDR RAW into single-frame HDR by HDRMerge and then processing it with RT. I

[2019-09-25 12:19] heckflosse commented on #5450
@mciepluc Thanks for feedback :+1:

No, iirc it's not yet fixed.
@Beep6581 We should keep an eye on #5424

[2019-09-25 12:19] #5450 closed, assigned to nobody

[2019-09-25 13:34] Beep6581 commented on #5471
This repo is obsolete, closing.

[2019-09-25 13:34] #5471 closed, assigned to nobody

[2019-09-25 13:34] Beep6581 commented on #5470
Issue fixed, closing.

[2019-09-25 13:34] #5470 closed, assigned to aferrero2707

[2019-09-25 19:29] miguel-porto commented on #5319
Hi, how is the progress of this feature? Desperately needing it... ;-)
BTW, congrats on this great piece of software!

[2019-09-26 02:21] scx opened #5472 "Unable to use flatpak-ed GIMP as an external editor"
Unable to use flatpak-ed GIMP as an external editor.

Steps to reproduce:
1. Open `Preferences` → `General` → `External Editor`
2. Type `flatpak run org.gimp.GIMP` in the `Custom command line` edit control .
3. Try to edit any image in external editor.

Actual results:
Unable to open external editor.

![Raw-Therapee-custom-external-editor-0.png](https://i.ibb.co/7kt45tK/Raw-Therapee-custom-externa

[2019-09-26 02:24] scx commented on #5472
See also:
https://github.com/Beep6581/RawTherapee/issues/5463#issuecomment-534443032

[2019-09-26 06:20] scx commented on #4860
I've updated my flatpak package for RawTherapee to version 5.7.
https://github.com/scx/rawtherapee-flatpak
https://github.com/scx/rawtherapee-flatpak/releases
https://github.com/scx/rawtherapee-flatpak/releases/tag/v5.7+20190926
It is worth to mention that it can use GIMP as an external editor. This wasn't possible earlier.

[2019-09-26 06:20] scx commented on #5113
I've updated my flatpak package for RawTherapee to version 5.7.
https://github.com/scx/rawtherapee-flatpak
https://github.com/scx/rawtherapee-flatpak/releases
https://github.com/scx/rawtherapee-flatpak/releases/tag/v5.7+20190926
It is worth to mention that it can use GIMP as an external editor. This wasn't possible earlier.

[2019-09-26 06:24] scx commented on #5115
I've updated the RPM packages for RawTherapee to version 5.7.
CentOS 7 and Fedora 29-31 + Rawhide are currently supported.
https://copr.fedorainfracloud.org/coprs/scx/rawtherapee/
https://copr.fedorainfracloud.org/coprs/scx/rawtherapee/build/1040388/

These packages contain upstreamed patches for external editor support and XDG-related stuff.

[2019-09-26 06:25] scx commented on #5462
Some distributions provide too old libraries, which makes building packages for fresh software not so easy. This is the case with CentOS 7, in which the `libtiff` library is too old for RawTherapee (_4.0.3_ < _4.0.4_). That's why I provided the COPR repository for that.
A similar situation may apply to Debian 8 Jessie or Ubuntu 16.04 LTS as well.
https://packages.debian.org/search?keywords=rawther

[2019-09-26 06:25] scx commented on #5462
See also:
https://github.com/Beep6581/RawTherapee/issues/5113#issuecomment-535356477
https://github.com/Beep6581/RawTherapee/issues/5115#issuecomment-535357648

[2019-09-26 07:55] Beep6581 commented on #5462
Yes, though I'm just venting about distributions which don't have any package dependency problems but still don't ship current RT in their official repos.

As for this issue, I'm thinking of adding a "Linux Repositories" page somewhere to the website, one page with all the info, probably as a link from the Downloads page.

[2019-09-26 08:05] Beep6581 commented on #4860
@scx since you're dedicated to maintaining the flatpak then seems right that we add it. As I understand it, there is no need for us to host it, as users can get it from some external repository. In preparation for the Linux Repositories page https://github.com/Beep6581/RawTherapee/issues/5462#issuecomment-535386464 , what are the complete steps needed for someone to get and use this flatpak?

[2019-09-26 08:08] Thanatomanic commented on #5319
@miguel-porto There has been more discussion on the subject recently. See here: https://discuss.pixls.us/t/not-yet-canon-raw-files-cr3-recognised-by-rawtherapee/14042
If you desperately need it, you may opt to contact Canon yourself: https://discuss.pixls.us/t/canon-cr3-raw-support-your-move/14192

[2019-09-26 08:33] bilelmoussaoui commented on #4860
The user can get the flatpak version of RawTherapee from Flathub here https://flathub.org/apps/details/com.rawtherapee.RawTherapee

[2019-09-26 08:50] scx commented on #4860
It seems that is not longer the case. They blocked application submission for this package for 9 months without any reason. When they finally merged it a few days ago, they decided that I don't deserve the write access to the new repository...
Anyway, all necessary info is available on the Flathuba website.
https://flathub.org/apps/details/com.rawtherapee.RawTherapee
Unfortunately, I didn't manage

[2019-09-26 10:51] Beep6581 opened #5474 "Update external editor documentation"
In light of recent changes, this needs updating:
http://rawpedia.rawtherapee.com/Preferences#External_Editor

For Linux, Windows and macOS, provide two working examples as follows:
1. Pass the image to a program with a space in its filename (rename the executable for testing purposes as needed), e.g.
`C:\Program Files\Adobe\Photoshop\Adobe Photoshop.exe`
or
`/home/bob/programs/hdrmerge/hdr merge`.

[2019-09-26 10:51] Beep6581 commented on #5446
5.8 will not be released until all documentation is written (all documentation issues closed), including those for past milestones. It can be written here in GitHub, then I'll rewrite it for RawPedia.

[2019-09-26 11:12] Beep6581 opened #5475 "Last step remains visible in progress bar when invoking external editor"
Open an image in the editor and hit ctrl+e to open it in an external program. The progress bar shows several steps, and the last step remains visible after the external editor is launched. I have to trigger a new event for the progress bar to be cleared.

[2019-09-26 11:14] Beep6581 commented on #5475
This bug was already present in 5.7. The last step remains visible in the progress bar, whatever it was.

[2019-09-26 12:14] Beep6581 commented on #5475
This clears the progress bar:
[code]

[2019-09-26 12:15] przepompownia opened #5476 "Please allow the crop aspect ratio to be unlocked by default"
Hello

I did not found how to customize this behavior in the user settings of v 5.7 so I suspect that is currently impossible. Each time I want to open new image to crop, I have to remember about unlock the aspect ratio manually.

Regards

[2019-09-26 12:23] heckflosse commented on #5476
@przepompownia

Save a profile with lock disabled and set it as default profile in preferences.

[2019-09-26 18:30] miguel-porto commented on #5319
Oh, didn't know the problem was still at that level, sorry. Just came across this issue first. Thanks for the clarification.

[2019-09-26 21:05] przepompownia commented on #5476
Thanks!

[2019-09-26 21:05] #5476 closed, assigned to nobody

[2019-09-27 18:36] noticket commented on #5204
Hi, I have a Panasonic S1R. Would additional files help at this point?

[2019-09-28 08:30] mattiaverga commented on #5402
This is an issue also for Fedora, would you consider changing library names to a versioned one?
https://docs.fedoraproject.org/en-US/packaging-guidelines/#_downstream_so_name_versioning

[2019-09-28 10:08] Beep6581 commented on #5402
Sure, :+1: for better compliance. Would you consider submitting a PR? Else this might take a while, i.e. I'm not aware of anyone on the team being fluent in lib packaging and related standards.

You might want to open an issue over at librtprocess's bug tracker: https://github.com/CarVac/librtprocess
And maybe talk about it in the forum:
https://discuss.pixls.us/t/librtprocess-quo-vadis/10388

As

[2019-09-28 13:11] mattiaverga commented on #5402
Having a versioned library name should be quite easy. Accordingly to cmake's manual it only needs setting `SOVERSION` property to
https://github.com/Beep6581/RawTherapee/blob/51e08b82d2be6efca2db95f7c4a9320e02a01471/rtengine/CMakeLists.txt#L175

for Example:
[code]
Now, the problem is where to set `${SOVERSION}`: ideally it should be the RT version, but the version provided in `UpdateInfo.cmake` i

[2019-09-28 15:48] Eosforon commented on #5431
I have done some more testing with the standard Powershot A590IS (no filter modification) using a nIR band pass filter with 720 nm half-cut.
![A590IS_720nm_rawtherapee-WB](https://user-images.githubusercontent.com/46302187/65818503-3a7bee80-e212-11e9-9a8b-3dd3ba1e35c8.JPG)
![A590IS_720nm_darktable-WB](https://user-images.githubusercontent.com/46302187/65818506-3d76df00-e212-11e9-84e8-ca1ef915b547.

[2019-09-28 17:56] ahkok commented on #5402
This is the obvious correct answer here - since it's very low key :)

[2019-09-28 19:45] ahoenselaar commented on #5434
The right-shifting behavior in the multi-shot codepath looks strange:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L2469
Why encode the noisy LSB only to shift it out eventually?
It is also not clear how high local contrast can be encoded correctly. After the right-shift, the Huffman encoded diff can correct the predicted pixel value only by +/- 16,384, or half the required r

[2019-09-29 16:11] fferreres commented on #5455
I understand, I didn't know RT didn't have access to gestures. Yes, the mention is correct, to use pan with two fingers, and Z to zoom in under the cursor. In a few years, would be lovely to have a table mode.

[2019-09-29 16:11] #5455 closed, assigned to nobody

[2019-09-29 16:21] fferreres commented on #5312
If there's any workaround users can do that any can think of, like upgrading a library, changing a library path, etc. In the meantime, I am using RT 5.5 which works flawlessly and and by far the best RAW developer program.

[2019-09-29 22:13] blj86 commented on #5474
I can help a little bit here with MacOS.  They made some useful tweaks that allow passing of arguments to application with the open command in 10.6.2+.  So any version prior it will not work.

1.  open -a hdrmerge

2. open -a "Adobe Photoshop CS6"

3. open -a "Adobe Photoshop CS6" --args <arguments here>

For some more reference here is the man page for the open command on 10.14.6

`
OPEN(1) 		  B

[2019-09-30 10:11] Beep6581 commented on #5474
Hi @blj86 , thank you for helping. Which version of RawTherapee did you test?

[2019-09-30 10:11] #5472 closed, assigned to nobody

[2019-09-30 12:15] blj86 commented on #5474
@Beep6581

I have done no specific tests as of this moment.  Just passed some information as I stumbled upon this while checking to see if their was info about a crash fix for 5.7 on MacOS.

If you have a specific version you need tests for let me know and I will look into figuring out a build setup.  I am loving RT so if I can help a little with what little skills I have I am willing.

[2019-09-30 15:06] Beep6581 commented on #5474
@blj86 the point here is to test whether the three forms of invocation work correctly when used in RawTherapee via the "Open with external editor" button and to document that accordingly. To that end, testing should be done using `5.7-121-g`741bfed52 or newer.

[2019-09-30 16:23] blj86 commented on #5474
@Beep6581

Ok sounds good will try to get a local build put together later tonight after work and run some tests asap.  Best way I can give back as I am not good enough with coding to contribute that way.

[2019-10-01 01:17] blj86 commented on #5474
@Beep6581
Update ran some tests.  Had some issues with getting the bundle I built to run but I was able to run the build by executing the built file instead of the bundle.

I used `5.7-122-gbd3c8a206`

Yes it seems the full bundle path is needed for the application will not work otherwise.

1. `open -a /Applications/GIMP-2.10.app`  = Works
2. `open -a "/Applications/GIMP-2.10.app"` = Works
(Spaces

[2019-10-01 09:28] Beep6581 opened #5480 "NIKON COOLPIX P1000 raw support"
Black levels and colors are off.

@heckflosse committed a black level entry for `camconst.json` in bd3c8a206

[2019-10-01 09:28] Beep6581 commented on #5480
Color matrix on its way, before:
![screenshot_20191001_112434](https://user-images.githubusercontent.com/5844619/65950561-962abf80-e43e-11e9-8da4-797a1046d55d.png)

After:
![screenshot_20191001_112448](https://user-images.githubusercontent.com/5844619/65950573-9aef7380-e43e-11e9-97aa-33e2ff384402.png)

[2019-10-01 09:32] #5480 closed, assigned to nobody

[2019-10-02 18:05] Beep6581 opened #5481 "add STATIC to the add_library()"
https://github.com/Beep6581/RawTherapee/pull/5479#issuecomment-537395472

[2019-10-03 08:39] #5481 closed, assigned to Beep6581, Floessie

[2019-10-03 13:34] Beep6581 commented on #5134
Done:
https://rawpedia.rawtherapee.com/Translating_RawTherapee
https://rawpedia.rawtherapee.com/Translating_RawPedia

[2019-10-03 13:34] #5134 closed, assigned to Beep6581

[2019-10-04 13:23] maz4200 commented on #5457
Rawtherapee still chrashes on launch.
Redownloaded distribution with no effect.
Surely this error message in the dump has some significance:-
"Dyld Error Message:
  Symbol not found: _objc_opt_class
  Referenced from: /Applications/RawTherapee.app/Contents/MacOS/bin/../../Frameworks/libgio-2.0.0.dylib (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libobjc.A.dylib"
 - as we still only

[2019-10-04 21:48] arturoisilvia opened #5484 "NewLocalLab RT 5.7-1149: Green frame when processing Canon CR2"
When I apply inverse in "Local Adjustement-> Smooth - Blur & Noise" to Canon CR2 photos, a green frame appears in the final processed photo.
That frame is not produced in Fuji RAF and Ricoh DNG.

[IMG_3622.zip](https://github.com/Beep6581/RawTherapee/files/3692438/IMG_3622.zip)

Edit:/ Add:
Version: 5.7-1149-gc2e308e84
Branch: newlocallab
Commit: c2e308e84
Commit date: 2019-10-03
Compiler: x86_64-

[2019-10-05 06:44] Desmis commented on #5484
@arturoisilvia
I cannot reproduce !
I tested with your files (CR2, pp3)

No frame in preview
No frame in TIF
No frame in various JPG  (100%, 70%, best compression, balanced...)
jacques