[2018-05-12 16:22] Desmis commented on #4478
I verify another times, ICCv2 are really v2 and not v4,
 Or all the profile analyzers (ICC profile inpector, Exiftool) as well as the entire production line are wrong :)

jacques

[2018-05-12 17:38] Desmis commented on #4478
I missed to merge new profile v2 :)

[2018-05-12 17:49] Desmis commented on #4478
Now it's done all must work normaly :)
I hope !

jacques

[2018-05-12 18:09] Desmis commented on #4478
here some comment

First of all, how did I conduct the reasoning.

Why such differences, even if instruments are needed to evaluate them : Histogrammar, TIFF tag, ICC Profile inspector, Exiftool, PhotoME.. to examin and extract embedded profile, ...

TIFF tag are identical, Extract embedded v2 profile, and IICv2 load from disk are identical, as embedded v4 and ICCv4 load from disk are identicals,

[2018-05-12 18:45] mm2 commented on #4478
May I see a sample file with this embedded V2 sRGB? Chances are you are using parametric curves, and this is a V4 feature.
Thanks,
Marti

[2018-05-12 21:46] heckflosse opened #4551 "Microcontrast tool deserves some improvements"
When processing sharp images captured with good lenses at a good aperture, the microcontrast tool is really nice to get some more fine details out of the capture.
Here's an example using [yellow_poppy.nef](http://www.rawtherapee.com/shared/test_images/yellow_poppy.nef) I took with the very sharp Apo-Rodagon 4.0/105mm some time ago:

Left is with Microcontrast disabled, right is with Microcontrast

[2018-05-12 21:49] agriggio commented on #4478
hi @mm2, thanks for your comments. so do you recommend that we use v4 by default for the profiles shipped by RT? do you think the support for v4 is reasonable across common apps? sorry if the questions are naive but I know very little about this

[2018-05-12 21:56] heckflosse commented on #4551
Here's a first screenshot of the improved algorithm. Again left with microcontrast disabled and right with microcontrast enabled. Almost no difference between enabled and disabled in low contrast regions now.

![grafik](https://user-images.githubusercontent.com/13733487/39961857-5bdc1998-563f-11e8-9d71-8f26ae5d29b3.png)

And here's the very first patch:

[code]

[2018-05-13 06:14] Desmis commented on #4478
I re-posted the same link , as 5 days ago

"Here the link for the 4 TIF"
https://filebin.net/hpxnqyw8wsmosj5u

One of the files is a "embedded v2"
If you look TIF and ICC with tools as "Exiftool" or "ICC Profile Inspector", or "PhotoME" : all the "v2 TIF" contain ICCv2....embedded or not.

And also;
"An now the NEF, and 5 screen shot from Histogrammar"
https://filebin.net/nymepw6vk9x3rvaw

And her

[2018-05-13 06:28] Desmis commented on #4478
I furnish also 2 screenshots with PhotoME
1)PhotoME-RTembedv2.jpg (from TIF embedded v2 above)
 2)PhotoME-RTv2_sRGB.jpg (from TIFF with RTv2_sRGB.icc load from disk above)
https://filebin.net/r0xyw6329gddwc2j

The 2 descriptions are identical, except the tag I change: Rawtherapee ==> g2.4000000s12.923100!
And the 2 profiles are seen as ICC v2
jacques

[2018-05-13 08:56] mm2 commented on #4478
I absolutely recommend use V4 whereas possible. ICC V2 has many flaws, V4 has been around for 20 years (ICC.1:1998-09). If any software has not been updated to follow a standard that is 20 years old, probably the issue is in this software. BTW, ICC actual version is iccMAX, one step ahead of V4.

[2018-05-13 10:19] dpawson opened #4552 "RW2 raw, opens for edit, thumbnail corrupt"
RawTherapee 5.4, released on 2018-03-20.
From main Fedora repos

mc Linux 4.16.7-300.fc28.x86_64
Fedora 28, 64 bit. 16Gb memory
Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz

Opened a directory.
Last RW2 raw files all appear as purple 'noise' in thumbnails, though when double clicked,
images open fine in main window

Files at https://filebin.net/piz1997j7paqqwji  png is screenshot.

[2018-05-13 10:31] heckflosse commented on #4552
Works fine on Windows7/64

![grafik](https://user-images.githubusercontent.com/13733487/39966276-6afb98e4-56a9-11e8-8b0a-65eb1405670b.png)

[2018-05-13 10:34] dpawson commented on #4552
Oddly, closing RT, re-opening, and it shows.
Wonder why not the first time?

Should I close the 'bug' (non-existant?)

On 13 May 2018 at 11:31, Ingo Weyrich <notifications@github.com> wrote:

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-13 11:49] Desmis commented on #4478
I just add, 10 "RTv4" ICC v4 output profile, to test :)
I think there will be no problem!

If test success, I propose then
1) to suppress all "RTv2" from rtdata/iccprofiles/output : user now can generate ICCv2 if they wish.
2) to modify as I did the code of Rawtherappe (iccstore.cc iplab2rgb.cc) so that the RTv2 files are of good quality (as current now)
3) to modify "options.cc" in order to make

[2018-05-13 12:53] #4552 closed, assigned to nobody

[2018-05-13 12:59] dpawson commented on #4540
My interpretation of the 'instructions' needed by a new camera owner to help RT. Markdown.
  I can find no requirement to take 'black' levels.

[mkprofile.zip](https://github.com/Beep6581/RawTherapee/files/1998465/mkprofile.zip)

[2018-05-13 17:12] Hombre57 commented on #4478
@Desmis Since ICC V4 is so old, is there any point generating a V2 profile at all ? Which application still doesn't support V4 ?

[2018-05-13 17:25] Hombre57 commented on #4478
@Desmis Do you plan to add other entry to "Gamma - TRC:"  [None/Custom] ? If no, then a checkbox should be sufficient (and I'll make the change).

[2018-05-13 17:32] Beep6581 opened #4553 "Rename HDR Tone Mapping to Dynamic Range Compression"
Someone (@agriggio ?) suggested renaming "HDR Tone Mapping" to "Dynamic Range Compression". Sounds better in my opinion. Let's do it?

[2018-05-13 17:50] Beep6581 opened #4554 "Update rtexif using ExifTool-10.96"
Update rtexif using ExifTool-10.96

[2018-05-13 18:25] sguyader commented on #4553
Renaming the tool is fine by me. There's already a "Tone mapping" tools, so it might be less confusing to some with the new proposed name.

[2018-05-13 20:02] Beep6581 commented on #4469
PR #4556 deletes unused icons.

[2018-05-13 20:04] Beep6581 commented on #4469
Problematic files:
[code]

[2018-05-13 20:43] Beep6581 commented on #4469
The FreeDesktop standard has sections on icon naming and tree structure:
https://standards.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html
https://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html

Having reviewed RawTherapee's icon usage and read the specs, it seems to me that the specs don't apply to us and we cannot follow them. The specs are meant to make it p

[2018-05-13 23:12] heckflosse commented on #4551
I created `microcontrast` branch and added a `contrast threshold` adjuster.
The purpose of the adjuster is to restrict the effect of `microcontrast` to areas with higher contrast.
At setting 0 the effect is the same as in dev (microcontrast is applied to whole image). At setting 100 microcontrast is disabled. Any setting between 0 and 100 means that microcontrast will be not applied for  regions w

[2018-05-14 05:37] Floessie commented on #4553
Definitely. Go for it! :+1:

[2018-05-14 06:15] Desmis commented on #4478
@Hombre57
Excuse me, but I was away yesterday afternoon and night

Yes, I plan to add other entry to "Gamma - TRC:" this will depend on how the user will do to this feature.
Perhaps I will add (as in an old branch) - differential gamma, relative mode, and in another hand illuminant.

For ICC, we will go - I wish - by default to ICCv4 which offers more possibilities. But I think it would be a mista

[2018-05-14 06:58] agriggio commented on #4553
Yes, I agree

[2018-05-14 07:10] agriggio commented on #4478
I agree with @Hombre57, if v2 is legacy, we should leave it alone (meaning: we should still support using v2 profiles, but I think we should not support generating them and/or adding the hotfixes proposed above).

it costs (quite a bit of) code that needs to be maintained.

How is this different than saving to a file and applying from a file?

I don't understand this. The proposed alternative is (

[2018-05-14 07:33] Desmis commented on #4478
@agriggio
If you go on "Adobe" web, you will see that all ICC profile, are v2 -  why ??
If you go on Argyll CMS, it only produced ICC v2 - why ?
All  debates on web, for output profiles are on v2 - why ?
If we found a software, no compatible with ICCv4  what we do ?
etc.

Probably, my english is so bad, or my way of thinking is different :)

For "embedded,  I repeat again, when you used actually a

[2018-05-14 07:45] agriggio commented on #4478
@Desmis I see what you mean, and that's exactly why I asked @mm2 if going with v4 is the recommended way... if support for v4 is still suboptimal and v2 is still the defacto accepted format, then of course my considerations are not valid.

I see your point of view here as well. I think it's not a problem of English, I think I understand what you want... I simply do not agree :-) [but that's not th

[2018-05-14 08:04] Desmis commented on #4478
I think v4 are best, not for quality now, but for the number of possibilities - change illuminant, new primaries, and in what I proposed, it's the case ==> v4 have all possibilities, and v2 more restricted, but v2 assures in all cases compatibilities

For the second point, of course [but that's not the end of the world of course!]
:)

[2018-05-14 08:12] Beep6581 commented on #4478
How about we all test the software we use (including web browsers and smartphones) to find out whether ICC v4 images are rendered identically to ICC v2?

@Desmis could you provide two small (1920x1080 or less) sample JPEG images, one using ICC v2 and one using ICC v4, where the difference will be very clear if the v4 ICC is not being read correctly or at all?

[2018-05-14 08:17] Desmis commented on #4478
I have not cases where v4 ICC are not read correctly  :)

[2018-05-14 08:36] Beep6581 commented on #4478
Ok, but we can still presume that using features new to v4 which would result in clearly wrong tones should those features not be interpreted correctly would be a good way to check whether a program supports v4 correctly, and I think you're the most qualified person to decide what those features are and to provide two sample images for us to test with.

Like this, but from RT:
http://www.color.org

[2018-05-14 08:41] Beep6581 commented on #4478
http://forum.luminous-landscape.com/index.php?topic=108459.0
http://color.org/advantagesV4.pdf

Ping @gwgill

[2018-05-14 09:27] Desmis commented on #4478
I read sommary, the links above, and a curious things is some people recommand to use v2 instead of v4

To find a test: very difficult!
I am trying with my old Photoshop to compare, the same TIF with
1) ICCv2 as read by Rawtherapee whitout "testoutpuprofile" (RT_xxx.icc)
2)ICCv2 as read by Rawtherapee whith "testoutpuprofile" (RTv2_xxx.icc)
3)ICCv2 as read by Rawtherapee whith "testoutpuprofile" (

[2018-05-14 09:30] Beep6581 commented on #4478
I looked at `RTv2_sRGB.icc` and `RTv4_sRGB.icc` using ICC Profile Inspector.

* The new ICC profiles set the `dmnd` tag to "Rawtherapee" with incorrect capitalization. Please change the name to "RawTherapee".
* They also set the copyright tag `cprt` to "No copyright Rawtherapee". Please set it to one of the following:
    * Copyright Jacques Desmis 2018, CC0
    * Copyright RawTherapee 2018, CC0

[2018-05-14 10:29] Desmis commented on #4478
@Hombre57
can I push a commit  with  changes to  "tags" ?
jacques

[2018-05-14 11:28] Hombre57 commented on #4478
@Desmis @agriggio In the end, if I  understand correctly, there will be an embedded profile in the output image, would it be generated for each image or generated once then selected in each image.

The only benefit of not embedding the profile is file size, at the expense of usability and workflow, so I wouldn't  other offerings this possibility at all.

Forget the performance problem, I'll addres

[2018-05-14 11:36] Desmis commented on #4478
@Hombre57
if the user selected "Custom Output Profile" with the code as now...
a) if the choice in "Generate ICC profile" = "none", only an embbeded  profile ICC v2 is incorporate to TIF
b) if the choice in "Generate ICC profile" = "ICC v2", an embbeded  profile is incorporate to TIF, and an ICCv2 is generate
c) if the choice in "Generate ICC profile" = "ICC v4", an embbeded  profile is incorporat

[2018-05-14 12:02] Hombre57 commented on #4478
@Desmis Oui tu peux envoyer ton patch. Je pense que tu as vu que j'avais envoyé le mien cette nuit ?

Pour ce qui est de :

Je ne comprend rien à ce débat ni cette citation, désolé. Et particulièrement la dernière phrase. Si tu pouvais me répondre en français par email ?

[2018-05-14 12:17] Desmis commented on #4478
@Hombre57

j'ai vu et apprécie ton patch. Merci :)

Je viens de pousser un changement sur les Tags qui sont maintenant à
Manufacturer = RawTherapee
Copyright = Copyright RawTherapee 2018, CC0

Je suis "pris" actuellement, je t'adressrais un mail dans l'après midi
jacques

[2018-05-14 12:28] agriggio commented on #4478
@Hombre57 yes, the embedding would always happen. I just prefer the "generate ICC" functionality to be out of the usual pipeline, as a separate tool. It seems clearer/better from a UI point of view to me.

[2018-05-14 14:34] Hombre57 commented on #4527
@Beep6581 Sorry but I don't understand the use case, except than perfectly previewing all tool's effect, which will take 14s in your example.

[2018-05-14 14:35] Hombre57 commented on #4554
@Beep6581 What's the idea exactly ?

[2018-05-14 16:04] Beep6581 commented on #4527
@Hombre57 the use case is exactly to get an accurate and fast preview.

[2018-05-14 16:04] Beep6581 commented on #4554
@Hombre57 idea of?

[2018-05-14 16:14] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-14 18:23] heckflosse commented on #4551
@Beep6581 asked on irc whether this method also could be applied to the Sharpening tool.

So I tried, and it works :)

left is with rl-deconv and microcontrast without contrast threshold, right is with contrast threshold
![grafik](https://user-images.githubusercontent.com/13733487/40015707-7d24e532-57b4-11e8-868a-3c3d1ee63752.png)

left is rl-deconv and microcontrast with contrast threshold, right

[2018-05-14 23:25] Hombre57 commented on #4554
@Beep6581 What do you mean by "Update rtexif" ? Camera and lens list ? Or replacing it by ExifTool (instead of Exiv2) ?

[2018-05-14 23:39] heckflosse commented on #4551
In next step I will try to improve the transitions between sharpened and unsharpend regions. Currently the transitition uses the blue curve. Using the red red curve should be better...

![grafik](https://user-images.githubusercontent.com/13733487/40028693-a49be9a4-57e0-11e8-9768-98c535cc829f.png)

[2018-05-15 01:50] gwgill commented on #4478
Desmis wrote:

Because it will still take some effort to add basic V4 support, and V4 adds nothing to the technical quality of the profiles, while being slightly less well supported by other applications.

While V4 clarified a couple of aspects of the V2 standard (perceptual black point handling, display profile white point handling), it also added a new one (V4 L\*a\*b\* encoding), the latter bei

[2018-05-15 09:28] Beep6581 commented on #4554
@Hombre57 the data in https://github.com/Beep6581/RawTherapee/tree/dev/rtexif needs to be updated in order to identify new lenses and cameras. I've been doing that for 3 years. Replacing that with something better is handled by issue #3801.

There is a commit (immediately above your "What's the idea exactly" question) and a pull request pending, are they not visible on your end?

[2018-05-15 09:47] Beep6581 commented on #4524
So marking this as a bug.

[2018-05-15 11:37] SamuelBenard opened #4557 "Support for automatic underwater color-correction"
I'm a diving instructor. I take lots of underwater photos. I have a paralenz camera (http://paralenz.com/) which does automatic color correction according to the depth. That's working quite good. I also found an android/iphone app : dive+ (https://play.google.com/store/apps/details?id=com.lifeplus.diveplus&hl=en_US). As a Linux user for years, I would love to see open source solutions. I can provi

[2018-05-15 12:00] Beep6581 commented on #4557
How to convert Paralenz raw files to DNG:
https://support.paralenz.com/hc/en-us/articles/115005795465-Converting-RAW-images-to-DNG

What remains is updating camconst.json for these DNG files.

@chagam upload some sample photos using https://filebin.net/

[2018-05-15 12:02] Beep6581 commented on #4557
Duplicate of #4266

[2018-05-15 12:02] #4557 closed, assigned to nobody

[2018-05-15 12:05] SamuelBenard commented on #4557
@Beep6581 I'm sorry but it's not a duplicate. I was talking about having the same kind for color correction in rawtherapee as the one paralenz does. Have a look at the dive+ app. If you take underwater photos without filter, dive+ can do post correction. I mentioned paralenz just for information.

[2018-05-15 12:16] Beep6581 commented on #4557
@chagam ah, then I misunderstood the intent of the issue. Is there a standard for this color correction based on depth, and if so, do you have a link to the specification?

[2018-05-15 12:21] SamuelBenard commented on #4557
Honestly, I have no idea. The thins I know is red color start disappearing below 8m and a dehaze filter would probably help. When we go diving, photographers either add a red filter in front of their camera or use extra lights. I can show you a before/after photo with dive+ so you can see the result. I'll try to search for specifications but i'm not sure they exist.

[2018-05-15 12:25] Beep6581 commented on #4557
@chagam please upload some sample photos, as the one we already have is very poor quality. Preferably a well-lit photo with things of various color.

[2018-05-15 12:31] SamuelBenard commented on #4557
I found this : http://digitalcommons.calpoly.edu/cgi/viewcontent.cgi?article=1010&context=grcsp
I think 4 filters should be used.
1st: an average color of the photo to determine if the predominant color if more greenish or blueish
2nd: dehaze of the average color
3rd: missing color filter to add them (usually add red)
4th: white balance correction.
As i'm not an engineer no a photographer, this ar

[2018-05-15 12:33] Hombre57 commented on #4554
@Beep6581

They are visible if I doesn't overlook them at 1:30 AM... Sorry for the noise.

[2018-05-15 12:43] Hombre57 commented on #4478
@agriggio

Ok. For the "generate ICC", which solution do you prefer (question for everybody) :

1. Transform the combobox button to a "Generate ICC profile now" button ? It would require to edit an image to access this tool
2. Remove the button and create a dedicated application.
3. ...?

[2018-05-15 12:45] Beep6581 commented on #4557
@chagam a few good quality sample photos from the Paralenz Dive Camera please.

[2018-05-15 12:48] SamuelBenard commented on #4557
Ok, I'll check if i can disable the automatic color correction

[2018-05-15 12:59] Beep6581 commented on #4557
@chagam I doubt the automatic color correction affects the raw file. If it can be disabled, take a photo of the same view one with and one without automatic color correction.

Also please take a completely clipped (overexposed) photo, it can be taken above-water, for example point the camera at the bright sky or a lamp and quickly take a photo before it adjusts, so that everything is completely wh

[2018-05-15 13:22] Beep6581 commented on #4266
How to open Paralenz raw files in RawTherapee in Linux:
1. Download the [RAW converter tool](https://drive.google.com/open?id=1xcgaFd4TplNO9eMMNB_0Me5bVhJtyeRp), extract `raw2dng_en.exe`.
[code]
    Virus-free according to [VirusTotal](https://www.virustotal.com/#/file/2095b50bd6fb545ae67b5c87554bc5680c23f5db855738a20435ed601c854317/detection).
2. Convert the raw file to DNG:
[code]
3. Write metad

[2018-05-15 13:24] heckflosse commented on #4551
I pushed some stuff to the microcontrast branch to get more tests.
Because I'm lazy I misused the RL damping adjuster as a contrast threshold adjuster for RL sharpening.
I also changed the [transition curve](https://github.com/Beep6581/RawTherapee/blob/microcontrast/rtengine/ipsharpen.cc#L31).

Here's an example of a transition curve:
Let's assume the contrast threshold adjuster is set to 20. This

[2018-05-15 13:29] Beep6581 commented on #4554
No problem ;)
I'll merge.

[2018-05-15 14:13] Beep6581 commented on #4478
In my uninformed opinion:

1. Having the ICC generator as an independent tool (part of RawTherapee but in its own tab, not in the Editor tab), would avoid certain problems. It would:
    * prevent bloating the Toolbox with a tool most people won't use.
    * reduce confusion by simplyfying the "Output Profile" frame.
    * prevent having to figure out how to cache generated ICC files so that batch

[2018-05-15 14:21] #4554 closed, assigned to Beep6581

[2018-05-15 15:13] Beep6581 opened #4558 "Verbose console output is jumbled"
When `verbose=true`, the console output's lines and their statuses are jumbled, it's not clear which line is OK and which FAIL.

Run RT:
![6ahtpw9](https://user-images.githubusercontent.com/5844619/40065801-f0ad81f4-5862-11e8-8218-80cf84c24687.png)

Re-run RT:
![o70yvty](https://user-images.githubusercontent.com/5844619/40065808-f40811b6-5862-11e8-8d53-c784ea79bd3c.png)

[2018-05-15 15:38] agriggio commented on #4478
I agree with @Beep6581, nothing to add to his comment

[2018-05-15 15:47] heckflosse commented on #4558
Untested:

[code]

[2018-05-15 15:53] agriggio commented on #4551
This looks like a great improvement to the RL sharpening, looking forward to trying it out!

[2018-05-16 06:05] Desmis commented on #4478
**Make any changes you want.**

But beware to work properly in ICCv2, currently it is necessary to find somewhere - as "template" (modèle in french)  the current 10 RT* .icc (which correspond to the 10 possible primary)

[2018-05-16 09:31] dpawson commented on #4540
https://filebin.net/owgvkcgwworevdi8
gx9.zip
  What I understand to be a full set of GX9 images
daylight, tungsten (colour) and white over the ISO range of the camera.

  If these are wrong, please find someone who understands your instructions
better than I.

Dave

On 12 May 2018 at 10:17, Beep6581 <notifications@github.com> wrote:

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-16 09:48] Beep6581 commented on #2467
The file sort order is still human-unfriendly:
![screenshot_20180516_114827](https://user-images.githubusercontent.com/5844619/40109974-1841d854-58ff-11e8-885b-2b5475ac0466.png)

Expected:
[code]

[2018-05-16 10:11] Beep6581 commented on #4550
@iliasg
https://filebin.net/owgvkcgwworevdi8
* The white-frames are missing intermediate ISO values.
* Black-frames missing completely.

Shots from @dpawson https://github.com/Beep6581/RawTherapee/issues/4540#issuecomment-389456836

[2018-05-16 10:20] dpawson commented on #4550
The camera has no other ISO values
No info found on required black frames.

Try someone else.

On 16 May 2018 at 11:15, Beep6581 <notifications@github.com> wrote:

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.

[2018-05-16 10:21] Beep6581 commented on #4540
The tungsten shots are all 2.7EV underexposed. They look fine otherwise.

[2018-05-16 10:35] Beep6581 commented on #4550
Try someone else.

Except for [this](https://github.com/Beep6581/RawTherapee/issues/4540#issuecomment-387139412) and [this](https://github.com/Beep6581/RawTherapee/issues/4540#issuecomment-387147798).

[2018-05-16 14:19] Floessie commented on #2467
@Beep6581 I already have an idea how to solve that...

[2018-05-16 14:24] Beep6581 commented on #2467
Maybe this helps, `sort` from `coreutils` has a `--human-numeric-sort` option:
https://github.com/coreutils/coreutils/blob/master/src/sort.c

[2018-05-16 15:21] Beep6581 commented on #3642
@agriggio implemented this in 5.4, closing.

[2018-05-16 15:32] Beep6581 commented on #2751
Closing because its not one request per issue, and some of the requests are already done, and no one has shown interest in the others.

[2018-05-16 15:32] #2751 closed

[2018-05-16 15:33] Beep6581 commented on #3574
No interest, closing.

[2018-05-16 15:33] #3574 closed

[2018-05-16 15:39] Beep6581 commented on #3793
Important points:
https://github.com/Beep6581/RawTherapee/issues/3793#issuecomment-290982655
https://github.com/Beep6581/RawTherapee/issues/3793#issuecomment-291078504
https://github.com/Beep6581/RawTherapee/issues/3793#issuecomment-291196488

@heckflosse @agriggio what is the status here - is it fixed, and do we close regardless?

[2018-05-16 18:01] Floessie commented on #2467
@Beep6581 Thanks for the pointer, although I saw it too late. I did it my way. :notes: :wink:

[2018-05-16 18:32] Beep6581 commented on #2467
@Floessie great :)
Note that `case '.'` will fail on locales which use the comma as a decimal separator, and dragons beware for locales which use `.` as a thousands separator (i.e. 0 or more `.` are valid).

[2018-05-16 18:34] Beep6581 commented on #2467
Note that my note could be rubbish, since I didn't read the whole patch ;)

[2018-05-16 19:11] Floessie commented on #2467
@Beep6581

Yes, the code is "locale-unaware", but it's about filenames, so this shouldn't be a problem for the f-numbers you mentioned in 2014. The thousands separator per se shouldn't be a problem, but more than one `.` is treated as such and not condensed to one. Improvements welcome...

[2018-05-16 20:08] Beep6581 commented on #4478
I (still) get this compilation warning:
[code]

[2018-05-16 20:17] Benitoite commented on #4553
I agree also.  Maybe not related, but if we have a dynamic range compressor, is it possible to have expansion as well?

[2018-05-16 20:32] Beep6581 commented on #4553
Since we agree on this, what about the tool called "Tone Mapping"? It is based on a paper titled Edge-Preserving Decompositions for Multi-Scale Tone and Detail Manipulation, and its effects are not what one expects when doing tone mapping in other software, so its name is not very descriptive.

[2018-05-16 23:16] heckflosse commented on #4553
@Beep6581

`Edge-Preserving Decompositions for Multi-Scale Tone and Detail Manipulation` would increase the width of the tool panel a lot :[

[2018-05-16 23:17] heckflosse commented on #4553
How about `EPD Tone Mapping` ?

[2018-05-17 05:33] Floessie commented on #2467
Thinking a night about it, I stand corrected: It would reverse the order.

[2018-05-17 05:43] agriggio commented on #4553
@Beep6581 "detail boost"?
@Benitoite I think we have already contrast sliders for that

[2018-05-17 06:02] agriggio commented on #3793
the branch has probably bit-rotten in the meantime. it would take some effort to reintegrate, and I think this is not the way to go. I'd still like to have a unified pipeline, though unfortunately I don't have much time to work on it at the moment

[2018-05-17 06:13] Desmis commented on #4478
Point 1

In order to avoid any misunderstanding, I'm not angry, and I do not blame anyone.
But, reminder
* I highlighted these problems (fish bones) about 5 years ago
* the code currently used by "Custom output profile" is very close to the one used for 5 years by "Output gamma"  (with "embedded" profile)
* this code has been "ameliorated" since ??, and in this operation /* */ that marks the possi

[2018-05-17 07:02] Desmis commented on #4478
I tried to create a new clone, for testing "testoutputprofile"
 I followed the instructions on Rawpedia, but when I used after Clone, and cmake
* git checkout testoutputprofile ==> git says me
$ git checkout testoutputprofile
error: Vos modifications locales aux fichiers suivants seraient écrasées par l'extraction :
        rtdata/dcpprofiles/NIKON D50.dcp
Veuillez valider ou remiser vos modificat

[2018-05-17 08:28] Desmis commented on #4478
I deleted this new clone above

Then I create another time a new clone with the same name, and now no problem, all works well :)

[2018-05-17 09:57] Beep6581 commented on #4553
Detail Boost sounds appropriate, but it would also warrant moving the tool into the Details tab...

[2018-05-17 09:58] Beep6581 commented on #3793
So, I'll bite the bullet and close this issue. Feel free to re-open if anyone breathes life into this branch.

[2018-05-17 09:58] #3793 closed, assigned to nobody

[2018-05-17 10:00] Beep6581 commented on #4478
@Desmis @Hombre57 is it ok if I merge `dev` into `testoutputprofile`?

[2018-05-17 10:30] Desmis commented on #4478
@Beep6581
No problem for me :)

[2018-05-17 10:41] Hombre57 commented on #4478
@Beep6581 No problem neither

[2018-05-17 10:46] Beep6581 commented on #4478
Done.

[2018-05-17 11:21] Desmis commented on #4478
@Hombre57
can I push a last change.
It replace "rt-logo-tiny.png" and "rt-logo-small.png" by "gamut-plus.png"

jacques

[2018-05-17 11:30] Hombre57 commented on #4478
@Desmis This icon will be used to open the future ICC Profile Creator window (I'll explain in detail this evening).

I need to understand what primaries are to find the best suited icon. So I'd say : don't bother doing this change.

Other than that, I haven't pending patch, so you can commit other code change up to 21:30

[2018-05-17 11:32] Desmis commented on #4478
Ok no problem at all, I have not commit to push  :)

[2018-05-17 11:48] Desmis commented on #4478
@Hombre57
Je ne connais pas ton niveau de connaissances dans le domaine des primaires...
En fait "cocorico" en 1931 des scientifiques français (Commission Internationale de l'éclairage) ont soumis plusieurs personnes en leur faisant regarder dans un "machin" des couleurs de référence et avec 3 molettes rouge, vert, bleu, il fallait reconstituer la couleur vue (ils ont abouti à des résultats curieu

[2018-05-17 12:11] Beep6581 commented on #4478
I'm rearranging all icons in #4469, so please avoid doing any icon work in this branch.

[2018-05-17 16:04] Desmis commented on #4478
@Beep6581
 if you wish, once the work on the GUI finished, I can add in primaries "DCI-P3"  with illuminant D65 as default

jacques

[2018-05-17 16:53] TooWaBoo commented on #4553
...or HDR dynamic compression

[2018-05-17 16:58] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-17 17:35] Floessie commented on #2467
@Beep6581 Maybe it's sufficient to just pad numbers and ignore the fraction (just like I did with negative numbers). Everything else smells like over-engineering for a problem, that's not existent. `f2.8` would still come before `f22`.

Opinion?

[2018-05-17 18:08] Beep6581 commented on #2467
Having 800 before 1600 is the main thing, and everything else is just icing on the cake.

[2018-05-17 20:05] TheSquirrelMafia opened #4561 "Allow specifying mode used by auto-matched tone curve"
I'm loving the Auto-matched Tone Curve feature, but it seems like the Film-like tone curve is hard coded into that feature. Even if I set **CurveMode=FilmLike** to **CurveMode=Standard** in the **PP3** file, the end result will default to **Film-like**.

It would be awesome if you could choose a different type of tone curve & be able to set that type of tone curve in a PP3 settings file.

Thanks f

[2018-05-18 05:26] Thanatomanic opened #4562 "Highlight compression threshold gets reset differently"
A rather minor thing, but I noticed that when you press the general Reset button in the Exposure tab, the "Highlight compression threshold" gets set to 0. However, if you press the "Reset to Default" button paired with the slider it sets it to 33.

[2018-05-18 05:36] Floessie commented on #2467
@Beep6581

Okay, I'll reduce the whole thing further tonight.

[2018-05-18 07:34] stefan-i commented on #4561
This is probably because the camera color profiles (DCPs) shipping with RT expect a film-like tone curve to work correctly, otherwise the colors will be off.

[2018-05-18 08:34] Desmis commented on #4478
@Beep6581
You have change spelling of some profiles, especially RTv2 and RTv4 for ACES.
I do not put any opposition, but with the actual names, "Custom output profiles " will not work.
We must have the same name in;
* iccstore.cc  where they are named "ACES-AP0_" and "ACES-AP1_"
* options.cc where they are named "RTv4_ACES-AP0" and "RTv4_ACES-AP1"
* rtdata/iccstore/output/ where they are named "RT

[2018-05-18 09:03] Beep6581 opened #4563 "Reset to default/initial value tooltip missing explanation"
All(?) tooltips mention relevant shortcuts.
The "Reset" tooltip only states "Reset to default". It should say what happens when the button is clicked vs ctrl+clicked.

[code]

[2018-05-18 09:19] Beep6581 opened #4564 "Gtk::ToggleButton where Gtk::Button should be"
There are various places which use `Gtk::ToggleButton` where I think a `Gtk::Button` would be more intuitive because the operation is a one-time thing:
* Exposure - Auto Levels
* Exposure - Reset
* Black-and-White - Channel Mixer - Auto
* Black-and-White - Channel Mixer - Reset

Examples of places where a `Gtk::ToggleButton` is justified:
* Auto-Matched Tone Curve, because when toggled it responds

[2018-05-18 09:50] Beep6581 commented on #4478
@Desmis thank you for pointing those out, I will take a look in the evening. @Hombre57 are you busy with the branch?

[2018-05-18 10:45] #4563 closed, assigned to Beep6581

[2018-05-18 10:54] Desmis commented on #4564
@Beep6581
Excuse my bad comprehension of english. But I don't understand all :)

If you think it is better "Gtk::Button" why not ? but for me, it's clear,  but other examples have shown that I was not a reference in this regard :)
jacques

[2018-05-18 10:58] Beep6581 commented on #4562
[code]

Is this safe to change to 0?
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improcfun.cc#L5462

[2018-05-18 11:43] Beep6581 opened #4565 "Segfault saving image using RTv2_sRGB.icc"
Branch `testoutputprofile`
`5.4-367-g`f753bf7b

1. Open amsterdam.pef
2. Apply neutral
3. Set output profile to RTv2_sRGB.icc
4. Save, crash.

[code]

Compiled normally:
[code]

GDB:
[code]

Related:
https://github.com/mm2/Little-CMS/issues/163

[2018-05-18 12:41] Yz2house opened #4566 "Update Japanese UI"
I updated Japanese translation for UI.
rgds
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2016887/Japanese.txt)

[2018-05-18 12:47] #4566 closed, assigned to nobody

[2018-05-18 12:49] Beep6581 commented on #4566
Thanks @Yz2house
You might want to review the latest changes and update the translation:
https://github.com/Beep6581/RawTherapee/commits/dev/rtdata/languages/default
Click on the blue hash button on the right to see what changed in each commit, e.g. today I changed the `ADJUSTER_RESET_TO_DEFAULT` key and some other keys.

[2018-05-18 18:06] Floessie commented on #2467
@Beep6581 Now you can give it a try.

[2018-05-18 18:17] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-18 20:14] Hombre57 commented on #4478
@Beep6581 I was about to start just now, but since it'll take a while, do you change now.

[2018-05-18 22:02] Beep6581 commented on #4478
@Desmis regarding https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-389765826
I just fixed the problem in `dev` and merged that into `testoutputprofile`.
Please shout if it happens again.

[2018-05-19 17:12] TooWaBoo commented on #4564
Exposure - Auto Levels must be a toggle button. This function can be copied and saved to the pp3 and when applied to an image (copy or from pp3) it will change the exposure.

[2018-05-19 20:16] Beep6581 commented on #4487
https://gitlab.gnome.org/GNOME/gtk/issues/170

[2018-05-19 20:17] Beep6581 commented on #4487
Looks like it's fixed in glib-2.56

[2018-05-19 22:11] gaaned92 commented on #4487
mingw-w64-x86_64-glib2 2.56.1-1 is buggy. So waiting for a new version  to get the correction.

Until the correction appears in MSYS2 packages repository, the safe way to make Windows build is to use:
- mingw-w64-x86_64-glib2  2.54.3-1
- mingw-w64-x86_64-gtk3  3.22.28-1
- mingw-w64-x86_64-pango  1.40.11-1

[2018-05-20 06:36] Desmis commented on #4564
@Beep6581
I think I understand the question ! ( not sure...)

* for me :
Black-and-White - Channel Mixer - Auto , must be a toogle button
Black-and-White - Channel Mixer - Reset, is not a toogle button, but a Gtk::Button. But we can suppress call to events
/*
    if(listener) {
        listener->panelChanged (EvNeutralBW, M("GENERAL_RESET"));
    }
*/
That will simplified the system. It is enough

[2018-05-20 15:00] Beep6581 commented on #4564
@TooWaBoo yes, I agree.
@Desmis you're right that "Reset" is a `Gtk:Button`... I was under the impression that it was a Gtk::ToggleButton based on its appearance - I will have to double-check the RT theme. At this point I'm not sure whether anything needs to be changed.
It's good that we at least revised this and made sure it's as it should be.

[2018-05-20 15:44] heckflosse commented on #4551
With the new contrast threshold adjuster in sharpening tool it's a bit easier to test now.
It works with RL and USM, but with USM it only works when Halo control and edges are disabled

[2018-05-20 16:03] Beep6581 commented on #4564
The confusion was caused by the theme. I propose this patch:
[code]

Unpatched. Notice that "Reset" looks like a ToggleButton which is pressed, which makes no sense here since resetting is a one-time thing. The comboboxes are also too attention-grabbing.
![1u](https://user-images.githubusercontent.com/5844619/40280704-b3258856-5c57-11e8-9150-b90c350dd5b0.png)

Patched:
![1p](https://user-images.gi

[2018-05-20 16:15] Beep6581 opened #4570 "Black-and-White auto channel mixer bug"
1. Clear the processing profile from some file from the File Browser via right-click.
2. Open the raw file,
3. Apply neutral,
4. Enable Black-and-White
5. Select the Channel Mixer
![screenshot_20180520_181750](https://user-images.githubusercontent.com/5844619/40280907-4971c44e-5c5a-11e8-9e3b-c4068c665dda.png)
6. Click "Auto"
Something happens, the sliders turn grey for a moment, the history shows

[2018-05-20 18:04] Hombre57 commented on #4564
@Beep6581 Good for me, :+1: to commit

[2018-05-20 20:15] Thanatomanic commented on #4551
I've been playing a little with this modification and I think it works great! But might I suggest an accompanying change for the default values of the Microcontrast tool? To me the original value for Quantity = 20 only had a barely noticeable effect, but cranking it up too much would induce unwanted sharpness in the smooth areas. So I usually keep it low.
But with the updated tool this is no longe

[2018-05-20 21:05] heckflosse commented on #4551
@Thanatomanic Thanks for testing and feedback. Very much appreciated!
In my tests Quantity = 50 leads to too strong microcontrast in regions with fine detail. I tested with Pixel Shift files from Pentax K1. Maybe worth to note that I use Microcontrast in combination with RL sharpening to get the fine details. Without RL sharpening it maybe different.

How do this settings look at your images (with

[2018-05-20 21:42] Thanatomanic commented on #4551
@heckflosse These settings look wonderful! You have convinced me that Sharpening brings out even more crispness in the images.
So, leaving Quantity = 20 does make sense when you use Sharpening too. If using Microcontrast only, a setting of Quantity = 50 would make a little more sense, but one has to choose :-)

With regard to the Contrast threshold: the difference between 10 and 15 is barely notic

[2018-05-20 21:46] heckflosse commented on #4551
@Thanatomanic I agree that default = 0 is not a good choice. I used it for backwards compatibility because I was lazy today :)
I will change that as soon as we have an agreement about a good default. btw: I agree that Default = 15 is quite good in my tests. But let's wait for tests from others as well. Not all raw files are equal ;-)

[2018-05-20 22:13] heckflosse commented on #4551
@Thanatomanic For symmetry's sake I also agree. I would like to have only one contrast threshold adjuster for Microcontrast and Sharpening. But that would somehow break the logic, as this are different tools :(

[2018-05-20 23:34] Yz2house commented on #4566
I'd like to help the translation for RawPedia next.  I will send the request form.
rgds

[2018-05-21 20:57] heckflosse commented on #4551
I would like to change the default for RL-Sharpening damping adjuster to 0. Any objections?

[2018-05-22 06:51] Desmis commented on #4570
I push a change in a new  branch "blackwhiteauto".

I think it solves the problem (almost in most cases) - it is quite complex because update  GUI is always after treatment and it cost time.
I change also some default settings

[2018-05-22 07:42] Beep6581 commented on #4551
Damping=0 would result in "microcontrast" being added to flat areas (see the white wall):
![screenshot_20180522_093950](https://user-images.githubusercontent.com/5844619/40348473-17c25f30-5da4-11e8-904f-da5d473333a7.png)
If the new threshold adjuster prevents that, and if it functions better than damping (from the screenshots you showed, that seems to be the case) then there's probably no need for

[2018-05-22 13:03] Beep6581 commented on #4140
Not sure what the best issue is, so I'll put this here.

The "Gtk::FileChooserButton performance on Windows" upstream issue, about the `Gtk::FileChooserButton` being slow, is now here:
https://gitlab.gnome.org/GNOME/gtkmm/issues/27

[2018-05-22 20:50] Beep6581 commented on #4469
Part of the effort in this branch involves redesigning every single icon RT uses, both SVG and PNG, examining where and how the current icon's entity is used, and adapting the new one to some size standard.

Designations so far (the unit is pixels, the quantity is the longest dimension):
tiny = 10
small = 16
normal = 24

[2018-05-22 21:24] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.

[2018-05-22 21:34] Beep6581 commented on #4148
[The fix ](https://bugzilla.gnome.org/show_bug.cgi?id=795153#c7)will most likely present itself in glib-2.56.2.
https://gitlab.gnome.org/GNOME/glib/tags

[2018-05-22 22:46] Beep6581 commented on #4469
Previously, the icons were named to suite the code, which resulted in weird filenames, e.g.
`ajd-wb-green1.png` was actually magenta
`clabel1.png` and `ajd-wb-bluered2.png` were both just red circles, almost identical,
etc.
The new icons have filenames representative of what the file holds. e.g. `circle-red`, `circle-green`, etc.
I made the necessary [code changes](https://github.com/Beep6581/RawT

[2018-05-23 10:47] spodzone opened #4571 "Request: feature interpolation for timelapse"
Please could we have the ability to smoothly interpolate a subset of parameters (exposure, white-balance, Lab, HSV, film emulation strength, ...) across a set of thumbnails?
It should suffice that the user specifies how the start and end should look (potentially quite different white-balances and exposures) and RawTherapee interpolate across the selection between them, maybe popping-up a "which pa

[2018-05-23 11:01] Beep6581 commented on #4571
For reference, this was made to deflicker timelapses using RT:
https://github.com/TimeScience/desert-deflicker

[2018-05-23 15:06] hholtm commented on #4551
The local contrast tool can add 'contrast artefacts' in flat areas too. Would it be possible to add a contrast threshold in this tool too? Or are there any objections to do that?

[2018-05-23 15:16] heckflosse commented on #4551
@hholtm Can you provide a raw with the corresponding pp3 to reproduce?

[2018-05-23 22:04] heckflosse commented on #4551
I just pushed the new code. Please do not try using RL damping > 0. That's waste of testing time.
The changes clearly are designed to be applied with RL damping set to 0

[2018-05-24 09:52] hholtm commented on #4551
@heckflosse I can't find a simple possibility to upload a zip with 28 MB. Can you tell me how to upload please?

[2018-05-24 10:24] Beep6581 commented on #4551
@hholtm use https://filebin.net/

[2018-05-24 13:55] heckflosse commented on #4551
Here are some screenshots using the latest version
Left is Contrast Threshold = 0, Radius = 0.75, Amount = 100, Damping = 20, Iterations = 30
Right is Contrast Threshold = 20, Radius = 0.75, Amount = 100, Damping = 0, Iterations = 30

![grafik](https://user-images.githubusercontent.com/13733487/40489484-85769a16-5f69-11e8-881d-99b7df6eecbd.png)
Both have a smooth sky. Right has more fine details i

[2018-05-24 14:45] Beep6581 commented on #4551
Fantastic!

[2018-05-24 14:58] hholtm commented on #4551
files:
https://filebin.net/q9a1txf1dz0j70vi/IMGP0049.PEF?t=efgxk0ox
https://filebin.net/q9a1txf1dz0j70vi/IMGP0049.PEF.pp3?t=efgxk0ox

If you change the amount in local contrast from .2 to for examle .8 in 1:1 in the unsharp part differences are noticeable. Please check if it's an idea to add a contrast threshold.

The enhancement is remarkable and the difference in the pictures above too - many th

[2018-05-24 15:09] heckflosse commented on #4551
@hholtm It's possible to implement a contrast threshold for `Local contrast`. But the effect would be different. I will give it a try now

[2018-05-24 15:33] heckflosse commented on #4551
@hholtm Using the same method as in sharpening leads (as expected) to a completely different effect.

Here's a screenshot with local contrast amount .8
![grafik](https://user-images.githubusercontent.com/13733487/40495258-1a3e802a-5f77-11e8-885f-8bee44826665.png)

here's the same with contrast threshold = 20
![grafik](https://user-images.githubusercontent.com/13733487/40495191-eb7ff732-5f76-11e8-8

[2018-05-24 15:54] hholtm commented on #4551
Thank you for trying. It seems to be not as good as I hoped it would be.
threshold=40 seems to be interesting, theshold=20 is not

[2018-05-24 15:58] Thanatomanic commented on #4551
Love the result for the `Microcontrast` & `Sharpening`. But the `Local contrast` not so much.
Also, on a tangent, wouldn't this give us yet another tool to  work some magic on local contrast (we already have `Contrast by detail` and the `Wavelets`, so wouldn't that be some overkill unless it works _much_ better)?

[2018-05-24 16:03] heckflosse commented on #4551
@Thanatomanic I absolutely agree that the result for `Local Contrast` is not good. Was just a try ;-)

[2018-05-24 16:05] TooWaBoo commented on #4148
New update
[code]
Folder bug still exists.
Replaceing libgio-2.0-0.dll with an older version doesn't work after the update.

[2018-05-24 16:17] heckflosse commented on #4551
I tested the Sharpening contrast threshold adjuster on a bunch of files to find a good default value (PS means pixelshift).

I used the following settings: Radius = 0.75, Amount = 100, Damping = 0, Iterations = 30

Here are first results:
[code]
Good defaults for other cameras are welcome. Please report your findings.

[2018-05-24 19:14] agriggio commented on #4551
awesome! I'll test as soon as I have the chance

[2018-05-24 19:19] agriggio opened #4572 "PDAF lines pattern for A7RIII"
I don't have the chance right now to push this to `dev`, so I'm reporting it here. Hopefully someone else can commit for me :-)

Here's the PDAF pattern for the Sony A7RIII:

[code]

A good picture to test that it works as expected (using the PDAF lines filter) as [this one from dpreview](https://www.dpreview.com/sample-galleries/0095576088/sample-gallery-sony-24-105-f4-g-oss/3004141138) (though y

[2018-05-25 12:06] heckflosse commented on #4572
@agriggio I commited to dev using the web interface ;-)

[2018-05-25 15:22] hholtm commented on #4551
Contrast by detail uses a threshold. Does it work the same way (same curve) as Microcontrast & Sharpening? If not: is it an idea to adapt it?

[2018-05-25 18:45] heckflosse commented on #4551
@hholtm It works completely different (and also in dependency of detail level). I think it works quite nice and there's no need to change it.

[2018-05-26 05:47] Desmis commented on #4478
I will be away since Sunday 27, untill Saturday june 2th :)

jacques

[2018-05-26 13:36] Beep6581 commented on #3547
Once we have regular-scale and 2x-scale icons, how will RT pick the right set and the right theme on HiDPI screens?

[2018-05-26 17:51] ofcgk9 commented on #4464
**Missing metadata (IPTC) after file save from v. 5.4 all formats**

I have Raw Therapee v. 5.4 installed on a 64 bit Windows 7 SP 1 computer with i5 processor and 8 GB RAM.

When I open a RAW (NEF) file with RT v. 5.4, I see that the Exif data is present.  I enter IPTC data with separate application and verify that the IPTC data is there using that application.

When I save the file, no IPTC data

[2018-05-27 12:38] heckflosse commented on #4551
I extended the range of the Sharpening Contrast threshold adjuster from 0-100 to 0-200.
The larger range can be useful for selective sharpening

Examples:
left without sharpening, right with contrast threshold = 20
![grafik](https://user-images.githubusercontent.com/13733487/40585871-e43b455e-61b9-11e8-856f-4c17c9159d2f.png)

left without sharpening, right with contrast threshold = 120
![grafik](h

[2018-05-27 17:15] SaturnusDJ opened #4573 "[Bug] HSV curves from latest file are being applied to new file"
When opening a new NEF without copying any .pp3 or whatever link between the new and previous file, the curve of the HSV from previous file is being applied to the new file after enabling the HSV Equalizer.

Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: re

[2018-05-27 17:24] agriggio commented on #4551
@heckflosse this new feature is really awesome! I just love it. A quick example (these are all 1:1 crops).

Original, no sharpening at all:
![off](https://user-images.githubusercontent.com/11982086/40588762-f78381de-61e2-11e8-971d-35cde7ef4f99.png)

Somewhat aggressive settings (RL sharpening, microcontrast and CBDL) with contrast threshold to 0. Notice the bad sharpening artifacts
![old](https://

[2018-05-27 18:23] TooWaBoo commented on #4573
It's not a bug, it's a feature and happens to all curves. :-)

[2018-05-27 18:28] SaturnusDJ commented on #4573
Surprising. What is the reason to have it like that? Is there a preference to turn it off?

[2018-05-27 18:48] TooWaBoo commented on #4573
No, you can't turn it off and I do not know why, but it works like that since I use RT.

[2018-05-27 19:51] ff2000 commented on #4551
Is this (especially the contrast threshold) optimized for Amaze demosaicing?
Because I just tried with LMMSE and I get weird stepping in fine lines that somewhat look like aliasing. I settled on LMMSE some weeks ago for micro four thirds shots starting at ISO 800, sometimes even ISO 500, because the noise in uniform areas is way better manageable. But I have to say a first quick test looks promisi

[2018-05-27 20:04] heckflosse commented on #4551
@ff2000

Absolutely not!

[2018-05-28 05:22] ff2000 commented on #4551
OK, thx.
Just a screenshot to show what I mean. Left is LMMSE, right is AMAZE, all settings left the same.

![scrot](https://user-images.githubusercontent.com/1973708/40598258-4e55c0e6-624f-11e8-8d91-1804b7ffd200.jpg)

Most small hairs show it (I marked two), but I immediately realised it with the small seed where IMO all the detail is lost in noise.
Raw file is here:
https://www.dropbox.com/s/nip

[2018-05-28 06:01] Beep6581 commented on #4464
@ofcgk9 what metadata copy mode did you use (see the top of the Metadata tab)?
Upload sample output files using https://filebin.net/

[2018-05-28 07:40] Beep6581 opened #4574 "Panasonic DC-G9"
Preliminary support for the Panasonic DC-G9:
[code]

https://filebin.net/bkttmnu1sikp26ez

@iliasg could you please explain how to find the black level offset? The camconst header isn't clear on that. `BlackLevelRed`, `BlackLevelGreen` and `BlackLevelBlue` are the base, but where does the offset value `15` come from?

[code]

And for reference, two other cameras which use an offset of 15 in `camco

[2018-05-28 10:58] shoffmeister commented on #4574
FWIW, the Panasonic G9 has a high-resolution mode (where it composits eight exposures into one photo). The raw format used there is relatively new (first seen in the G9, and then only in the GH5s).

See https://github.com/darktable-org/rawspeed/blob/develop/src/librawspeed/decompressors/PanasonicDecompressorV5.cpp for the current rawspeed implementation, inspired by a commit in libraw. See the com

[2018-05-28 11:29] SaturnusDJ opened #4575 "Curve adjustments from a previous file should not be the default curves for a new file"
https://github.com/Beep6581/RawTherapee/issues/4573

I don't see any benefit to it. Someone does?
In my case I would never require for example the exact same HSV curves in different photos.

[2018-05-28 12:13] heckflosse commented on #4551
@ff2000

Iirc LMMSE and IGV are made for really noisy shots which can't be sharpened well at all.

I had a look at your raw.
Here's what I get using the attached pp3. Left is your lmmse version, right is my version
![grafik](https://user-images.githubusercontent.com/13733487/40613005-141c94a8-627d-11e8-8757-e3333f831d04.png)

I used amaze with false colour correction steps set to zero, RL-Sharpeni

[2018-05-28 13:21] ff2000 commented on #4551
Thx for playing with the file. Also NR seems to do a great job, better than without the contrast threshold slider. I see, there is a lot new things to play with now, and a lot to learn... Things are getting better and better, thank you guys, you are awesome!

[2018-05-28 13:49] heckflosse commented on #4551
@ff2000 Thx :+1:

btw: as the contrast threshold adjuster also works with USM, this settings for your raw are also not so bad:

contrast threshold = 100
USM
Radius 0.45
Amount 1000

The result is similar to RL-Sharpening, but USM is about 14 times faster compared to RL with 30 iterations

[2018-05-28 18:11] samtygier opened #4576 "Hang when switching directories while thumbnails are loading"
When switching between folders in the file browser view I sometimes get freezes. The OS eventually realizes and asks if want to force quit or wait. I can reproduce by switching rapidly back and forth between to directories.

This is on Ubuntu 18.04 with rawtherapee 5.3, and also if I update to the 5.4 version by installing the packages from https://launchpad.net/ubuntu/+source/rawtherapee/5.4-1 .

[2018-05-28 21:16] heckflosse commented on #4551
I just merged into dev to get more tests.

[2018-05-29 06:52] Floessie commented on #4576
I would say that [`ThumbImageUpdater::removeJobs()`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/thumbimageupdater.cc#L242) is one end of this Gordian knot... And I guess the other one is the global GUI mutex held here:

[code]

Yet, it's immediately unclear to me how they deadlock.

[2018-05-29 13:13] heckflosse opened #4579 "Combined Amaze/VNG4 demosaic"
I created amaze_vng4 branch with a combined amaze/vng4 demosaic. It blends the result of vng4 demosaic and amaze demosaic based on contrast. Currently the threshold is hard coded. I mapped it to EAHD demosaic for tests.

Here are first results:

Left is amaze, right is plain vng4
![grafik](https://user-images.githubusercontent.com/13733487/40660855-8558bcf2-6352-11e8-9dca-0c205a70d323.png)

Left i

[2018-05-29 13:42] sguyader commented on #4579
@heckflosse Neat idea and results, Ingo!

[2018-05-29 13:59] TooWaBoo commented on #4579
Hey, looks good, merge it. 😁

[2018-05-29 15:00] heckflosse commented on #4579
I cleaned the code and created an own entry for `AMaZE+VNG4` in demosaic combobox

[2018-05-29 15:51] Benitoite commented on #4551
@heckflosse
https://github.com/Beep6581/RawTherapee/blame/dev/rtengine/ipsharpen.cc#L688
https://github.com/Beep6581/RawTherapee/blame/dev/rtengine/ipsharpen.cc#L689
I had to change `constexpr` to `const` to get this to compile under clang-mp 3.9/c++11 on mac.

[2018-05-29 16:24] heckflosse commented on #4551
@Benitoite Thanks for reporting. Fix pushed.

[2018-05-29 16:50] sguyader commented on #4551
@heckflosse Ingo I did some more tests on images from my Fuji X-T2. It was also a good opportunity for me try finding a best sharpening settings for this camera. As RL Sharpening does no good to x-trans files, I used USM sharpening. I found the best balance in settings to be 0.4 for radius, 800 for amount, and ISO/2 for contrast threshold on well exposed images (this threshold can be increased for

[2018-05-29 18:23] heckflosse commented on #4551
@sguyader Sébastien, great that you tried to find good sharpening setings for your X-T2. I just tried with your settings on a X-Pro1 file which has only 16.2 MP. There ISO/4 seems to work fine for the contrast threshold. About RL Sharpening and xtrans files I think that the default radius of 0.75 is too large (maybe because xtrans cameras don't have an AA filter). I got much better results using r

[2018-05-29 18:36] heckflosse commented on #4579
@TooWaBoo

5 hours between the first mockup and a merge really is not enough time ;-)

[2018-05-29 18:53] sguyader commented on #4551
@heckflosse Thanks Ingo, I'll try RL Sharpening with smaller radius, and see how it compares to USM Sharpening.

[2018-05-29 19:02] tsi12 opened #4580 "RT 5.4 on Windows 8.1 x64 crashes while in editor"
Branch: 5.4
Release Type: Stable (recommended)
Commit: a5e8eb9c8
Build Type: release
Processor: generic x86
Gtkmm Version: V3.22.0
Compiler: gcc 7.3.0
Build Flags: -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -DNDEBUG -O3
Link Flags: -m64 -mthreads -sta

[2018-05-29 19:16] heckflosse commented on #4579
related to #2008

[2018-05-30 00:16] TooWaBoo commented on #4148
New update
[code]
The filechooser bug is fixed but the folder panel in the file browser still doesn't work for the boot drive.

[2018-05-30 05:14] Thanatomanic commented on #4580
Do you know if it crashes while performing a specific operation? And the follow up question: is it reproducible?

[2018-05-30 05:16] Thanatomanic commented on #4576
If it's worth anything: I've experienced the same deadlock (Win 7, latest dev build). I now always make sure all thumbnails have rendered before opening an image or before I switch folders again.

[2018-05-30 06:19] Floessie commented on #4580
@Hombre57 I'm looking at this:

[code]

The relevant line is [here](https://github.com/Beep6581/RawTherapee/blob/a5e8eb9c8a5150e5353484c0b641acef8c926f22/rtgui/cropwindow.cc#L1052).

One reason it segfaults in this line could be a bad `cropHandler.cropPixbuftrue` pointer. There might be two problems with `cropHandler.cropPixbuftrue`:
1. The validity isn't checked, but `cropHandler.cropPixbuf` is c

[2018-05-30 14:57] tsi12 commented on #4580
**Thanatomanic**
First log: it happened during contrast by details (details tab) adjustment. Second log - i don't remember.
Generally, it happens more frequently to "fast" build, than "debug" build.

[2018-05-30 16:13] iliasg commented on #4574
@Beep6581

I use BlackLevel3 + BlackLevel2 i.e for G9 it should be 12+1=13 .. but as this calculation differs from the reported in DNG exif values .. we need to investigate black frames
I hope I'll manage to work on this in the next few days :(

[2018-05-30 19:35] ofcgk9 commented on #4464
Sorry, I thought I had included that info with my original post, but obviously not.  In all cases, the Metadata copy mode was "Copy unchanged."

[2018-05-30 21:50] Hombre57 commented on #4580
@Floessie I worked on `amaze_vng4` today, it's too late now. I'll have a look tomorrow.

[2018-05-30 21:52] Beep6581 opened #4581 "Partial Paste review"
1. I won't comment on the pixel-shift part of partial-paste as I have no experience with it.
2. Having DCB iterations, DCB enhancement and LMMSE enhancement separately seems overkill.
3. Having Line Noise Filter and Green Equilibration separately seems overkill, especially since "Direction" is missing from there - i.e. either list all three parameters, or just one.
4. Having PDAF there separately

[2018-05-30 21:56] iliasg commented on #4574
Found some samples from web .. the camconst item is valid only for normal files .. pixelshift files (both the combination of 8 frames and the companion single frame)  have no black offset .. and a bit different white level at ISO100 ..
Also checked the black offset value by inspecting raw histograms at high ISOs (so that raw values near zero exist ) .. indeed it clips at 15-16 so the calculated va

[2018-05-30 22:47] Yz2house opened #4582 "Update the translation of UI in Japanese"
I have translated the strings not yet translated, deleted some old ones, and corrected some fonts.
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2055902/Japanese.txt)

[2018-05-30 23:19] #4582 closed, assigned to Beep6581

[2018-05-31 15:03] Floessie commented on #4576
I think, I know what's going on here. Here's a backtrace from a debug build with comments:

[code]

See the comments in thread 1338 and thread 1: That's a classical deadlock. Thread 1338 should unlock the mutex before locking th GDK mutex...

[2018-05-31 16:41] Floessie commented on #4576
I've spent 2h on this problem yet with serveral attempts to solve it, but there seem to be multiple locking problems in this code path. I'm AFK now to relax in the sun, maybe I'll give it another try, maybe someone else chimes in...

[2018-05-31 20:44] samtygier commented on #4576
Thanks for having a look.

[2018-05-31 21:10] Hombre57 opened #4583 "Double color profile conversion for the Navigator ?"
While trying to solve issue #4580, I find out something possibly wrong, but would like @Desmis to have a look, please : in dcrop.cc, line 1018, the `cropImgtrue` image is converted to the output or working profile depending on `options.rtSettings.HistogramWoorking`. But in navigator.cc, line 300, the rgb values that come from that `cropImgtrue` image (see cropwindow.cc, line 1050) are converted to

[2018-05-31 21:15] Hombre57 commented on #4583
PS : in fact, the value come from the `cropImgtrue` image OR the raw data. In that last case, the conversion has to be done. Do we agree that when coming from `cropImgtrue`, the conversion should not occure in `Color::rgb2lab01` ?

[2018-05-31 21:54] Hombre57 opened #4584 "Displaying raw data in Navigator when demosaicing set to None"
Actually, when the demozaicing method is set to _None_, the HistogramRGBArea (below the Histogram) display the raw data value, but the Navigator still display the edited image values, in Working or Output color space. Wouldn't it be better to display raw values in Navigator too ?

[2018-05-31 22:23] Beep6581 opened #4585 "Corrupt bar on right in SONY ILCE-7M2 DNGs"
![screenshot_20180601_002118](https://user-images.githubusercontent.com/5844619/40811507-c3021c66-6531-11e8-87a9-4ad3d3648d31.png)
https://filebin.net/xl9p4nd9pc98h81u/2018-05-26_mollan_11.dng?t=wqb6k0h3
Using a0b8626b (branch `amaze_vng4`) with `dev` 6fcc8251 merged into it.

[2018-05-31 22:25] Beep6581 commented on #4584
Yes!

[2018-05-31 22:41] heckflosse commented on #4585
Confirmed with all demosaicers, even with 'None'

[2018-05-31 22:50] Hombre57 commented on #4580
@Floessie What's the problem of addressing an odd value if we look for a particular pixel ?

For the `cropHandler.cimg.lock()`, that's true, it should be placed before the `cropHandler.cropPixbuf` check. I also saw a mix-up between `cropHandler.cropPixbuftrue` and `cropHandler.cropPixbuf` on line 1048-1050. I'll create a new branch tomorrow.

[2018-06-01 07:46] Floessie commented on #4580
@Hombre57

I hope nothing is wrong with that. It just struck me.

[2018-06-01 09:30] ff2000 commented on #4579
Ok, this is getting better and better...

Amaze, sharpening + microcontrast, NR: 20 luma, 60 detail:
![p1090042](https://user-images.githubusercontent.com/1973708/40833247-046fd5ee-6596-11e8-884e-e8811537a737.jpg)
Amaze.Vng4: DualDemosaicContrast=40, sharpening + microcontrast, NR: 0 luma, 0 detail
![p1090042-1](https://user-images.githubusercontent.com/1973708/40833470-ad7b33f4-6596-11e8-82da-827

[2018-06-01 16:09] TooWaBoo commented on #4148
New update
[code]

[code]

File-browser-folder-bug still exists.

[2018-06-01 16:12] iliasg commented on #4585
Dcraw.c cuts off the 24 right columns for ARW .. while not from the DNG .. should we use adobecoeff for this case, or add frame data in camconst.json ? .. although in the camconst case we are not sure what will happen with the APS-C cropped DNGs ..

[2018-06-01 16:16] iliasg commented on #4579
Ingo, you made an old dream come true !! many thanks :)

[2018-06-01 19:26] Hombre57 commented on #4584
@Beep6581 Well, that's already the case. Working late doesn't help... It's actually the other way round : when the demozaicing method is set to None, the Navigator display the raw data value, but the HistogramRGBArea (below the Histogram) still display the edited image values, in Working or Output color space.

I'll make the change for the HistogramRGBArea, but it doesn't really matters in fact. T

[2018-06-01 19:47] Hombre57 commented on #4580
@tsi12 Could you review/test branch `issue4580` ? It doesn't crash here so it's a blind bugfix attempt

[2018-06-01 20:56] tsi12 commented on #4580
@Hombre57 Can you explain briefly what should i do? Thanks.

[2018-06-01 21:18] Hombre57 commented on #4580
@tsi12 Reviewing was for @Floessie, I forgot to remove that from my comment. Could you simply build this new branch (if you can build yourself of course, otherwise I'll send you a binary) and tell if it still crash in the same conditions.

[2018-06-01 21:20] heckflosse commented on #4580
@tsi12

git pull
git checkout issue4580
make install
then test the build

[2018-06-02 00:35] Hombre57 commented on #4579
@heckflosse Code cleanup in commit 928309f3aab7adc520d2676970cf9dca85e8308e

[2018-06-02 00:45] Hombre57 commented on #4573
Each curve is a set of multiple curve editor. When switching to a new image, you often switch the curve type. By doing so, the old curve editor is hidden without being reset and the new one is shown.

Do we want to reset all curve editor when switching to a new image or keep its content ? It's debatable IMHO (I personally don't care). If you prefer letting the user chose, then the discussion will

[2018-06-02 00:45] Hombre57 commented on #4573
Forgot to ping @SaturnusDJ @Beep6581

[2018-06-02 07:15] tsi12 commented on #4580
@Hombre57 Send me binary, pls.

[2018-06-02 09:50] Beep6581 commented on #4573
@Hombre57 this issue is a bug report, and this is not a bug. There is a cleaner feature-request issue for this in #4575. We should preferably use that one, or close that one as a duplicate of this one.

My opinion hovers somewhere between "no" and "don't-care". The way it currently is is useful when working on a series of shots, and the curve can be reset with a single click.

[2018-06-02 09:52] Beep6581 commented on #4574
@iliasg should I commit, or will this be part of a bigger camconst update which you mentioned a week or two ago?

[2018-06-02 10:10] SaturnusDJ commented on #4573
Yes it is useful when working on a series, even then though you need to enable HSV, then enable each of the 3 channels to fully copy from the previous file. And when resetting you need to enable HSV, then enable and reset each of the channels.

Maybe an on/off button for starting from scratch and some kind of reload button to immediately enable from cache is an idea?

[2018-06-02 10:27] Hombre57 commented on #4580
@tsi12 You'll find a release and debug version [here](https://filebin.net/eeznl3hx9o7kf4w2).

Test the release version first, as it's the fastest and more crash prone if related to mutex. If it still crash, it would be great if you could [provide a full stack trace](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports) using gdb and the debug version.

[2018-06-02 10:31] Beep6581 commented on #4573
In that case you would copy the PP3 from one image to the next to avoid having to do that.

One is likely to end up using a very similar curve in a series of images. Having a new image's curve automatically show the last-used curve when enabling it allows you to quickly jump to that point with no effort, and make minor adjustments as necessary.

Imagine you're working on a series of images, some a

[2018-06-02 12:20] iliasg commented on #4574
@Beep6581 Morgan, no problem if you commit .. I'll synchronize
I have very limited time and resources at present .. so a major update will be only possible at the end of the month

[2018-06-02 12:50] SaturnusDJ commented on #4573
Yeah that's the way to kill idea's and creativity. Bravo.
One simple reload button would surely be bloat before even testing it.

I totally agree it's useful a.f. in a series and didn't really see that before opening the topic, but for people who don't do series it's just as annoying a.f. Series-people already have a super nice feature with the copy-paste curve buttons. Adding a reload last curves

[2018-06-02 17:19] Beep6581 commented on #4573
One simple reload button would surely be bloat before even testing it.

1. Disagreeing with you does not warrant your retaliatory tone.
2. Tune down your swearing and sarcasm.

[2018-06-02 17:31] Beep6581 commented on #4574
Committed in 971658da

[2018-06-02 17:31] #4574 closed, assigned to nobody

[2018-06-02 18:37] Beep6581 commented on #4540
DCP added in 8b235464.

[2018-06-02 18:37] #4540 closed, assigned to Beep6581, iliasg

[2018-06-02 18:48] Beep6581 commented on #4544
What do we do about this issue?

[2018-06-02 19:09] Beep6581 commented on #4542
@iliasg

camconst.json says that `BlackLevelRed`, `BlackLevelGreen` and `BlackLevelBlue` are the **base** here https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L281
but it says that `BlackLevelRed15` (which does not exist, only `BlackLevelRed` exists, without the `15`) is an **offset** here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L1640

You e

[2018-06-02 19:45] TooWaBoo commented on #4581
It would be nice if the Partial Paste window size is saved in the options file.

[2018-06-02 19:56] Thanatomanic commented on #4575
Continued from #4573

From personal experience I know I am more annoyed than happy in having persistent curves. In the vast majority of cases I expect my images to be a clean slate when I start editing. If I want some parameters to match a series of images, I have (automated) presets.

@Beep6581 Can you give an example of series of closely related images that require similar color modifications, b

[2018-06-02 20:49] Beep6581 commented on #4575
@Thanatomanic I agree in the lack of _strong_ arguments for. It's a convenience I grew accustomed to and find useful, but still realize it's odd. Let's see what the others think.

[2018-06-03 07:48] iliasg commented on #4542
I think the correction is fine :)

[2018-06-03 08:07] iliasg commented on #4544
Hmm ..
since this corrupted tag is the specific tag which Dcraw and adobe DNG converter use for reading the AsShot WB multipliers .. we could look for a more reliable WB tag (say WB_RGGBLevels ) .. a safe move would be to copy the behaviour of an open source convrter which don't suffer from this specific problem .. (darktable ??)
A usefull option is to add a "sanity check" for the WB multipliers d

[2018-06-03 09:46] Beep6581 commented on #4542
Great, done in commit f1037460

[2018-06-03 09:46] #4542 closed, assigned to nobody

[2018-06-03 18:42] tsi12 commented on #4580
@Hombre57 This release version works, but still crashes. It seems less stable than a5e8eb9.
Debug version crashes after running, during scanning the folder.

[log0.txt](https://github.com/Beep6581/RawTherapee/files/2066251/log0.txt)
[log1.txt](https://github.com/Beep6581/RawTherapee/files/2066252/log1.txt)
[log2.txt](https://github.com/Beep6581/RawTherapee/files/2066253/log2.txt)
[log3.txt](https:

[2018-06-04 05:29] Desmis commented on #4583
@Hombre57
I am back home, after one week outside!
I think you are true, in the second case, the conversion should not occure

jacques

[2018-06-04 07:49] Beep6581 commented on #4570
Hey @Desmis

The improvements are good!

There is one small issue still:
* I point 6 above, when I click on Channel Mixer's Auto button for the first time, history now shows "B&W - CM - Auto | (Unchanged)".
* If I click it again, it shows "B&W - CM - Auto | Disabled".
* And if I click it again, it shows "B&W - CM - Auto | Enabled". So the first time it should show "Enabled" not "(Unchanged)".

[2018-06-04 07:57] #4564 closed, assigned to Beep6581

[2018-06-04 09:25] Desmis commented on #4570
@Beep6581
I push a change. I think it solved this case :)

jacques

[2018-06-04 13:05] #4572 closed, assigned to nobody

[2018-06-04 13:06] agriggio commented on #4553
:+1: to moving the current "Tone Mapping" to the details tab, and to rename it.
But apart from that, are we ok to rename "HDR Tone Mapping" to "Dynamic Range Compression"? Is it enough to update the relevant entries in the language files? Or do we need more?

[2018-06-04 18:43] Beep6581 opened #4586 "Rename EPD and move to Details tab"
As the "Tone Mapping" tool ([Edge-Preserving Decompositions for Multi-Scale Tone and Detail Manipulation](http://www.cs.huji.ac.il/~danix/epd/)) does not do what one typically expects by "tone mapping", we agreed in #4553 to rename it. To something. And to move it into the Details tab.

[2018-06-04 18:47] Beep6581 commented on #4553
@agriggio I'm on it.

[2018-06-04 18:48] #4553 closed, assigned to Beep6581

[2018-06-05 00:32] luisfl opened #4587 "Strange color artifacts in Jupiter"
RT version: rawtherapee-5.4-5.7.x86_64 in fully updated Fedora 28 (distro RPM package).

When I open this ORF image of Jupiter with RawTherapee,

http://luis.impa.br/photo/lixo/Dated_JN-180601-B_21202.orf

RT shows lots of color artifacts, independently of the demosaicing algorithm.
The same RAW file processed with Darktable or Dcraw (through UFRAW) shows no artifacts (see attached jpg crops at 80

[2018-06-05 06:18] agriggio commented on #4587
are you using auto-ca correction by any chance? (just guessing)

[2018-06-05 06:40] Thanatomanic commented on #4587
That doesn't seem to matter. I tested this on the latest build and I can reproduce the weird behaviour with all demosaicing modes and with everything else off...

[2018-06-05 07:39] gaaned92 commented on #4587
VNG4 seems OK

[2018-06-05 08:32] Beep6581 commented on #4587
darktable uses PPG by default for .orf files.

[2018-06-05 08:38] Floessie commented on #4587
Color aside: At least you can spot Ganymed on the RT rendition. :grin:

[2018-06-05 09:14] agriggio commented on #4587
Try with green equilibration set to 100% and a couple of steps of false colour suppression:

- AMaZe:
![amaze](https://user-images.githubusercontent.com/11982086/40966741-9b0a9a02-68b1-11e8-9182-f548f2869d8c.jpeg)

- LMMSE:
![lmmse](https://user-images.githubusercontent.com/11982086/40966748-9fcc69bc-68b1-11e8-8165-629ea51c638e.jpeg)

[2018-06-05 09:19] Beep6581 commented on #4587
@luisfl could you upload some other shots from this camera - both astro and non-astro?

[2018-06-05 11:45] heckflosse commented on #4587
Neutral profile + following patch gives this

![grafik](https://user-images.githubusercontent.com/13733487/40973958-5e73d63e-68c6-11e8-8b60-3d8009316b95.png)

[code]

[2018-06-05 12:21] agriggio commented on #4587
@heckflosse seems good to me! :+1:

[2018-06-05 12:27] agriggio commented on #4587
Though I'm wondering whether this new sensor needs the global green equilibration at all...

[2018-06-05 13:32] TooWaBoo commented on #4148
New update
[code]

[code]

File-browser-folder-bug still exists.

[2018-06-05 15:20] luisfl commented on #4587
Sorry for the delay. Answering the comments (some users appear twice, please read until the end):

@Thanatomanic : Precisely. Everything off.

@gaaned92 : VNG4 is quite bad. It unacceptably blurs fine detail.

@Beep6581 (first comment): Amaze in Darktable gives even better results, showing two bands of clouds in jupiter(!) (and no color artifacts of any kind, everything turned off).

@agriggio (fi

[2018-06-05 15:24] luisfl commented on #4587
Please, let me show an "everything off" version processed with darktable (AMAZE); observe the two vertical bands of clouds in jupiter, more noticeable than in the RT version:

![dated_jn-180601-b_21202](https://user-images.githubusercontent.com/15525268/40985918-7079cd26-68bb-11e8-9099-9157f3d97249.jpg)

[2018-06-05 15:54] heckflosse commented on #4587
@luisfl

My patch does not apply greeen equilibration. It just fixes a bug in green equilibration for the case an image is mostly black. Green equilibration is applied per default for all Olympus E cameras.
As @agriggio already mentioned, we could discuss that (but preferably in a new issue)

It's the same already in 5.3

[2018-06-05 16:54] heckflosse commented on #4587
@luisfl Your moon shot works fine without applying automatic global greeen equilibration while my latest patch introduces artifacts. As a hotfix I reverted my latest patch now and disabled the automatic global green equilibration for OLYMPUS E-M1MarkII (I did that in amaze_vng4 branch because that's the branch I'm currently working on and it is ahead of dev).

Then we can see whether further impro

[2018-06-05 17:58] agriggio commented on #4587
@luisfl I'm sure you didn't mean it, but your post turned out quite aggressive (to my perception, at least). please note that I didn't want to dismiss your report, I was just trying to investigate. otherwise, I would have closed the issue. the same applies to the others, I suppose...

[2018-06-05 18:11] heckflosse commented on #4587
@luisfl

Honestly, your DT example in first post does not show more details than the RT VNG4 one...

[2018-06-05 19:21] heckflosse commented on #4587
@luisfl @agriggio @Beep6581 @gaaned92 .....

Let's start from scratch:

In first post @luisfl correctly showed that current dev introduced artifacts in his shot. That's clearly a valid bug report, though the examples @luisfl showed from other raw processors in first post don't show the detail he mentioned later...

I guess we all want to improve the output of RT (at least I hope so) for this examp

[2018-06-05 19:49] agriggio commented on #4587
I might be wrong, but I don't think you can see anything but a yellowish blob for Jupiter, unless you are using a *very* powerful telescope... or your camera is on the voyager :-) if I'm wrong, I'll be very happy though

[2018-06-05 19:57] heckflosse commented on #4587
@agriggio Alberto, I can see two stripes in this 100% view and also some objects which could be moons of Jupiter (though I'm not an expert, It could also be artifacts, the stripes and the moons)

![grafik](https://user-images.githubusercontent.com/13733487/40999486-55865d0e-690b-11e8-9ecd-c0955a07b597.png)

[2018-06-05 20:01] Hombre57 commented on #4580
@tsi12 The function present in the four crashlog above is `rtengine::LFDatabase::findLens`, so I'd like to explore the lensfun option. @Floessie @agriggio : is lensfun threadsafe ?

[2018-06-05 20:56] agriggio commented on #4587
the 4 major moons are easily visible with a small telescope like that of Galileo. regarding stripes or other details of the surface, I think you need some decent telescope -- but I'm not an expert either, I'm just going from memory from my teenager days when I was playing with little telescopes and such. I could very well be wrong!

[2018-06-05 21:00] luisfl commented on #4587
Again, answering several in one:

@heckflosse (1): I see. But why are there still several pixels badly off colorwise?

@heckflosse (2): This is my experience with both green equilibration and false color suppression in RT: they introduce false color artifacts, to the point that I never use them. I don't have a clue why.

@agriggio (1): I'm very sorry if I somehow sounded aggressive. I had no inten

[2018-06-05 21:43] agriggio commented on #4587
@luisfl all right! thanks for your comments, let's try to understand what is going on...

[2018-06-06 06:09] Floessie commented on #4580
@Hombre57 [Darktable](https://github.com/darktable-org/darktable/blob/8b8bfc7c689c8f91bb544088283022ad219dd71b/src/iop/lens.c#L987) thinks, it's not. Thread-safety is only mentioned for [`lfModifier`](http://lensfun.sourceforge.net/manual/structlfModifier.html), so I guess, everything else isn't.

HTH,
Flössie

[2018-06-06 06:15] Floessie commented on #4587
If @luisfl could tell us a good starting point, where everything was still fine from his point of view, we could probably bisect it from there...

[2018-06-06 06:39] agriggio commented on #4587
@luisfl (and others), how about this?
![shot](https://user-images.githubusercontent.com/11982086/41020818-910c0384-6964-11e8-9f31-b8b1ea6e905c.jpeg)

Looks the same as darktable, do you agree? What I did:
- turn off the global green equilibration
- use the camera wb instead of the auto computed "reference wb" for demosaicing

My current proposal to "fix" this, without changing too much:
- move the

[2018-06-06 07:06] Floessie commented on #4587
:+1: No further questions. :smiley:

Hm, another switch for trial-and-error testing to get the optimal output...

[2018-06-06 07:10] fsenore opened #4588 "Frequent RawTherapee crash"
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarati

[2018-06-06 07:35] agriggio commented on #4587
@Floessie, the "proper" solution would be to apply WB before demosaicing, but this requires some major (or at least no-so-minor :-) changes to the way RT works now. That's why I proposed to add the checkbox. I know it's not optimal, but if you have never encountered such problems, you can probably live with the current default (i.e. use an auto-computed WB for demosaicing) and forget about the che

[2018-06-06 07:41] Beep6581 commented on #4587
The checkbox will allow everyone to easily experiment which in turn will allow us to make a better-informed decision regarding WB once the pipeline unification work starts.

[2018-06-06 07:43] Floessie commented on #4588
That looks like the same `CropWindow::pointerMoved()` case as in [#4580](https://github.com/Beep6581/RawTherapee/issues/4580#issuecomment-393043471). @Hombre57 is already at it...

[2018-06-06 07:57] Beep6581 commented on #4588
Closing as a duplicate of #4580.

[2018-06-06 07:57] #4588 closed, assigned to nobody

[2018-06-06 08:01] Floessie commented on #4587
@agriggio

I see.

Of course. But the tooltip should mention that for the uninformed.

Sure.

:smiley: No I haven't (apart from waiting for @luisfl to see, if this really is a regression). I just thought (from a user's perspective): "Great, yet another checkbox..."

@Beep6581

I see the benefits for us. But I also see that everyone *will* experiment with that checkbox on every image to see if it y

[2018-06-06 08:15] agriggio commented on #4587
That's a valid concern indeed. Personally, I expect this to make no visible difference in the majority of cases, except when one of the two WB values (camera or auto) is way off, such as when using something like UniWB in camera, or when auto just fails (like in this particular picture -- try that and see Jupiter turn into an acid green ball...).

On the other hand, I should also add that for this

[2018-06-06 08:40] Beep6581 commented on #4587
"Great, yet another tooltip..." ;)
IMHO if a checkbox is added then the explanation should be left for RawPedia where we can explain it in a full paragraph with a B|A screenshot. It would follow "our" (my) guidelines of only having tooltips which show info a user will need to see multiple times, leaving all the one-time info for RawPedia: https://github.com/Beep6581/RawTherapee/issues/2221#issueco

[2018-06-06 10:25] heckflosse commented on #4587
@agriggio

The [uniwb](http://www.malch.com/nikon/UniWB.html) shooters would not be amused, I guess.

Edit: Just saw that you mentioned that already.

[2018-06-06 10:33] heckflosse commented on #4587
@agriggio @Floessie @Beep6581

We could try to make the autoWB for demosaic more robust for this kind of raw files where almost everything is black.

[2018-06-06 10:59] heckflosse commented on #4587
Something like this. Note that the value `100` is just for test.

[code]
Screenshot using neutral profile and the patch:
![grafik](https://user-images.githubusercontent.com/13733487/41034253-54a7a31a-6989-11e8-8f26-10bcb2ae4dbe.png)

[2018-06-06 11:18] agriggio commented on #4587
@heckflosse that's an interesting idea :+1: The question now is how to estimate some reasonable thresholds... where did you get the `100` from, for instance?

[2018-06-06 11:37] heckflosse commented on #4587
@agriggio `100` was just to test after I inspected the image using demosaic `none` where you can see the raw values and `100` seemed a good value to test on the jupiter image
![grafik](https://user-images.githubusercontent.com/13733487/41035715-ca91370e-698d-11e8-9b28-827ea12b143c.png)

I think we could just eliminate the first 3 or 4 stops from calculating auto-wb for demosaic.
Here's a probably

[2018-06-06 11:50] agriggio commented on #4587
@heckflosse thanks for the explanation! How about this instead (using a relative threshold instead of an absolute one)?

**EDIT**: scratch that, thinking about it a bit more I agree that just disregarding the first 3 stops is better

[2018-06-06 11:53] agriggio commented on #4587
should the same be done for xtrans as well?

[2018-06-06 11:56] heckflosse commented on #4587
@agriggio A relative threshold means the number of stops excluded from calculation depends on bit-depth of the raw file. Currently I'm ambivalent whether an absolute or a relative threshold is better.
Yes, this should be done for xtrans as well.

[2018-06-06 12:00] agriggio commented on #4587
Elaborating on my edited response above, I think absolute is better if we assume that sensors with more DR will give you more headroom on the highlights and not on the shadows. Is this the case? I don't really know, though I was assuming so...

[2018-06-06 12:03] heckflosse commented on #4587
ping @iliasg

[2018-06-06 12:07] agriggio commented on #4587
actually not, since we normalize with respect to the range of `white - black` and convert that to `[0, 65535]`. So maybe relative is better... or maybe I'm just getting more confused :stuck_out_tongue_winking_eye:

[2018-06-06 12:11] heckflosse commented on #4587
Aren't we still in raw bit-depth range at this step of the pipeline?

[2018-06-06 13:12] agriggio commented on #4587
@heckflosse yes, but the fact that we later rescale everything means that we have to intepret the range as relative, no? Or am I just getting confused?

[2018-06-06 13:12] agriggio commented on #4587
maybe better wait for @iliasg :-)

[2018-06-06 14:30] heckflosse commented on #4587
@agriggio Alberto, here's a patch which includes the other raw formats as well (xtrans, mraw, sraw,...).
I declared a blackThreshold const. So we need to change only one line of code after Ilias' comment.

[code]

[2018-06-06 15:02] heckflosse commented on #4587
@agriggio

Should we do the same changes here as well?
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L4880

[2018-06-06 16:58] luisfl commented on #4587
@Floessie : I have no idea which was the last good version, sorry.

@agriggio (1) : Indeed, it looks identical to the darktable version! I think you nailed it.

@agriggio (2) : I'm not sure, maybe it is better to use camera WB as default, and provide the option. That is, your solution, but with the option checked by default. But I don't know.

@agriggio (3) : I have seen color artifacts also in ar

[2018-06-06 21:09] heckflosse commented on #4587
@iliasg @Beep6581  Do you know the reason for automatic global green equilibration in Olympus E and Panasonic files?

[2018-06-06 22:31] heckflosse commented on #4587
@luisfl

There are two bugs.

The first one (which causes the Strange colour artifacts) is that global green equalization is called for a camera where it should not be called for.

The second one (which causes the less strange colour artifacts) is that the pre-demosaic auto-wb fails on images which are mostly black (if I calculated correctly, only ~700 pixels in the jupiter shot are relevant, whil

[2018-06-07 00:32] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-readline-7.0.005-1`
File-browser-folder-bug still exists.

[2018-06-07 06:06] agriggio commented on #4587
to add to @heckflosse's question, would it make sense to disable completely the unconditional auto green eq that happens for Panasonic and Olympus cameras whose name starts with 'E'? related, what about the oly pen-f? currently it is excluded, but what makes it different from the other m43 cameras? this green eq seems a relic from a remote (in RT's terms) past, could it be that it's not necessary

[2018-06-07 08:18] Beep6581 commented on #4587
Probably added with one of these:
https://github.com/Beep6581/RawTherapee/issues/141#issue-100310796
https://github.com/Beep6581/RawTherapee/issues/682#issuecomment-129915385

I can't trace it down to a commit - it was probably introduced before we migrated to git or even mercurial.

[2018-06-07 08:46] agriggio commented on #4587
@Beep6581 do we have any sample raw that shows the problem? or should this be visible with (almost) any file from the affected cameras?

[2018-06-07 09:07] Beep6581 commented on #4587
@agriggio I'm not familiar with Panasonics, beyond having come into contact with the fruits of the labor of the brilliant intellect which runs the [model-naming](https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/dcpprofiles/camera_model_aliases.json) department.

[2018-06-07 10:34] heckflosse commented on #4587
@agriggio There is a [sample raw from Olympus E-520 on raw.pixls.us](https://raw.pixls.us/getfile.php/246/nice/Olympus%20-%20E-520%20-%2016bit%20(4:3).ORF) which shows the problem

![grafik](https://user-images.githubusercontent.com/13733487/41094649-4bd977c4-6a4f-11e8-960c-bfb0d3a9d37c.png)

[2018-06-07 11:34] agriggio commented on #4587
@heckflosse thanks! It is indeed visible already at 1:1 (after exporting).
FWIW, I have the `camconst.json` patch ready if we decided to keep the auto global green eq but move the list of affected cameras to camconst. I can commit tonight if needed.
I notice though this is an "ancient" camera... is it possible that current m4/3 models do not need this anymore?

[2018-06-07 12:50] heckflosse opened #4589 "Spot white balance sometimes failes"
To reproduce:

1) Open [tracteur.dng](http://www.rawtherapee.com/shared/test_images/tracteur.dng)
2) Spot wb bottom right in the bright part of the background
![grafik](https://user-images.githubusercontent.com/13733487/41100317-55e803c2-6a61-11e8-9087-d16420c1b4c9.png)
=> nothing happens

This is caused by a bug in RawImageSource::getSpotWB(...), where the values are multiplied with `initialGain`

[2018-06-07 15:04] luisfl commented on #4587
@agriggio : I have the EM1 and the EM1.II m43rds, and old files from E3 and E5 43rds cameras. If you tell me what you need, I can provides RAW files of all of them, although I am sure you all have files already.

[2018-06-07 15:21] agriggio commented on #4587
@luisfl it would be good to have some samples of different olympus models, thanks! However, let's wait for @iliasg to comment on what kind of samples would work best...

[2018-06-07 16:11] Beep6581 commented on #4587
In addition to https://raw.pixls.us/ you can find more Olympus and Panasonic samples here:
https://www.imaging-resource.com/cameras/olympus/reviews/
https://www.imaging-resource.com/cameras/panasonic/reviews/
Click on a camera, then "Samples > Thumbnails" or "Gallery".

[2018-06-07 17:28] phillipao opened #4592 "macos builds are not signed by an identified developer"
Version: 5.4
OS: macOS 10.13.4 High Sierra

Description:
I downloaded 5.4 from http://rawtherapee.com/releases_head/mac/RawTherapee_OSX_10.9_64_5.4.zip and attempted to run the app from the included dmg. My Gatekeeper settings allow only apps from the store or from identified developers. When trying to run RawTherapee, Gatekeeper blocked the app, saying '"RawTherapee" can't be opened because it is

[2018-06-07 17:45] phillipao commented on #4592
I don't know if the Developer Program fee is an issue (I'm guessing yes). If so, it's possible to get a fee waiver: https://developer.apple.com/support/membership-fee-waiver/. It would require registered nonprofit status in the US. Just a few yaks to shave :)

[2018-06-07 17:50] phillipao commented on #4592
Just realized this can also be worked around by going to Security & Privacy settings. There's a notification there that RawTherapee was blocked, and there's an option to open it anyway. Very hidden, but doable.

[2018-06-07 20:12] Beep6581 commented on #4592
We won't be bending over backwards for Apple.

[2018-06-07 20:21] patdavid commented on #4592
Just as a small reference, Apple does document how to change the setting globally, as well as a per-app basis:

https://support.apple.com/en-us/HT202491

[2018-06-07 20:27] #4589 closed, assigned to heckflosse

[2018-06-07 21:04] Beep6581 commented on #4592
Thanks @patdavid , we should link to that on our website.

[2018-06-07 22:20] phillipao commented on #4592
Yeah, shame about the fee. Seems like a reasonable security feature except
for that.

On Thu, Jun 7, 2018, 2:05 PM Beep6581 <notifications@github.com> wrote:

[2018-06-08 10:02] iliasg commented on #4587
Hi guys, I just read the issue .. I'll be at home for some hours tonight for more ..

The pre demosaic autoWB indeed fails some times and we need to make it more robust ..
As Ingo suggested, the most usual is the case with large very dark regions which are unreliable for WB calculations. Because at the very dark regions the raw values recorded is a mix of real photon signal and read noise. The unr

[2018-06-08 10:09] iliasg commented on #4587
@agriggio

I think most (all ?) current m4/3 cameras do not need this .. for Olympus starting from E-M5 (6 years) and  Panasonics even more .. maybe all m4/3 Panasonics do not need this ..

[2018-06-08 10:14] iliasg commented on #4587
@agriggio Alberto .. just to be sure where the problem comes from .. can you revert the unbouded process ? Or just try a version before this .. ??

[2018-06-08 10:44] heckflosse commented on #4587
@iliasg As I mentioned above the issue already was in 5.3

[2018-06-08 11:15] kazah7 commented on #4551
@heckflosse that's a nice tool to have! Thanks :).. Just an idea though: would it be possible to implement a visual, mask helper, similar to the one in the attached video clip? It would be much easier to tell the optimum level of sharpening.
https://filebin.net/smibg6ccqepdzvrw

[2018-06-08 11:35] ff2000 opened #4596 "Panasonic DMC-G8 profile missing"
I recently found out about the camera model aliases and that it contains an alias for my G81. But there seems to be no profile for the DMC-G8 (which the G81 is an alias for).
Has the profile been missed (not added) when committing or does that alias file just list all know aliases irrespective their support in RawTherapee?

[2018-06-08 11:51] Benitoite commented on #4592
Normally what I do is open the app by right clicking the app and selecting Open, and then click Open in the dialog. I don’t know if that gets you by any “gatekeeper”.

Last I heard the fee was 99 bucks a year, and I’m sure it’s gone up? I haven’t checked recently.

[2018-06-08 12:04] agriggio commented on #4587
@iliasg thanks for your comments!

When you have time, could you please take a look at `camconst.json` in the `green-eq-camconst` branch and tell me for which cameras we should leave `"global_green_equilibration"` set to `true`? Right now it is so for all Panasonics and all Olympus E cameras (with the exception of the E-M1MarkII, for which we know for sure this is bad). After your review I'd be re

[2018-06-08 12:19] heckflosse commented on #4551
@kazah7 I already thought about that, but it would require some major changes in the rt pipeline to do that correctly. Definitely not for next release ;-)

[2018-06-08 17:07] iliasg commented on #4587
@heckflosse

Ingo, as I remember some Olympus models had green imbalance which had a crosshatch result like in your screenshot  of E-520. The worse imbalace I remember was Oly E-3 ..  to the point that many commercial Raw_converters used a different demosaicer for E-3 (something like VNG4) giving much more blurry results.
 I don't remember any Panasonic having this problem, by maybe I am wrong for

[2018-06-08 17:23] heckflosse commented on #4587
@iliasg

iirc it was already this way when I started contributing to rt in 2013

[2018-06-08 19:10] iliasg commented on #4596
Do you mean a dcp profile ?. RT crew need samples of color targets to build dedicated color profiles ..
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2018-06-08 19:27] ff2000 commented on #4596
Yes, that's what I meant. I know that you need samples and if I had an appropriate lighting + colorchecker I would create them.
I opened this issue because I was confused to find the camera in the aliases file as there is no dcp profile. I know it's easy to forget to "git add" a file.

So there is no dcp file? I think this issue can get closed then.

[2018-06-08 19:55] Beep6581 commented on #4596
The aliases are there because we know of their existence, but we don't have color target shots for most of them.

[2018-06-08 19:55] #4596 closed, assigned to Beep6581

[2018-06-08 20:06] Beep6581 opened #4597 "Document how to calibrate a lens using lensfun"
Write clear, up-to-date instructions on how to calibrate a lens and submit the results to the lensfun project.

[2018-06-08 20:08] Beep6581 commented on #4597
I think "to profile a lens" is a more appropriate term.

[2018-06-08 20:20] agriggio commented on #4587
it was there already in 2010, according to git log. before then, I have no idea...

[2018-06-09 09:59] iliasg commented on #4587
@agriggio Alberto, I am again away from home but I will have sporadic time in next days to dowload and examine old Olympus models (pitty I cleared some months ago many samples I had in my PC :( )
To understand better what I need to do please clear up some things ..

In camcost.json we will need to add all affected models and fill up the boolean tag ?. Is this enaugh ?. Because in my mind we'd need

[2018-06-09 10:12] heckflosse commented on #4551
@kazah7 For the contrast threshold adjuster in sharpening tool it's quite easy to implement because it's at the end of the pipeline. For contrast threshold adjuster in microcontrast tool it's more difficult.

[2018-06-09 10:34] heckflosse commented on #4551
First example screenshot:
![grafik](https://user-images.githubusercontent.com/13733487/41190556-5f97f1da-6be1-11e8-8c79-78352e8d1356.png)

Edit: same without colours is also possible:
![grafik](https://user-images.githubusercontent.com/13733487/41192569-0f11c35c-6c00-11e8-939a-51cbc847e041.png)

[2018-06-09 10:42] agriggio commented on #4587
@iliasg the current code uses a bool flag, because that's how RT used to operate. global green eq was either enabled or not (there's then another pass of green eq which depends on an amount parameter, but that is never applied automatically). given what you wrote about the need for this only on legacy cameras, I'd suggest that we keep this simple for now and stick with a bool. what do you think?

[2018-06-09 16:33] iliasg commented on #4587
@agriggio Alberto,
OK let's leave it as before for the moment, although I "feel" that it will be better if we eliminate the first automatic pass  and only use a pass with equalization strength defined .. some tests will help to decide ..

[2018-06-09 17:16] heckflosse commented on #4587
@iliasg

Imho we should keep the automatic pass for the old Olympus models which need it.
At least I will not spend time on defined equalization strength to improve the result for this old Olympus cams.
Except someone helps me to write a better algorithm for my thousands of old Nikon D1x files ;-) The current one in RT is really crap.

[2018-06-09 17:59] kazah7 commented on #4551
@heckflosse wow, that was fast! : ) It will really make a difference. Btw, black and white is in IMHO  less distracting.  Are you using some shortcut for the preview?

[2018-06-09 18:31] heckflosse commented on #4551
@kazah7 Currently it's a prototype. I need some help of other contributors for the gui (I'm not a gui coder)
I like the b&w also, but the coloured one is better when threshold is zero.
Here's a screenshot of the coloured one when threshold is zero
![grafik](https://user-images.githubusercontent.com/13733487/41194920-d365b4ca-6c23-11e8-9ce3-d7a6ecc60a6e.png)

The b&w one shows a plain white preview

[2018-06-09 18:51] iliasg commented on #4587
@heckflosse Ingo, I am fine with any path choosen by the guys who code .. especially if it's based on data .. so my tests will help anyway ;)
Is the autoEqualization is a normalization of greens depending on the average  G1/G2 ratio ?
Just started some measures .. the green unbalance for old models is around 1-2% for new models (>= 16Mp) it's much smaller (0.1%)  ..
As the inbalance for the old mo

[2018-06-09 19:26] heckflosse commented on #4587
@agriggio :+1: from me to merge your changes. We can improve later ;-)

[2018-06-09 22:45] agriggio commented on #4587
ok, I'll try to merge tomorrow!

[2018-06-10 05:43] ff2000 opened #4598 "Simplify local adjustments"
The current way is to edit the photo, add it to the queue, edit again for one local adjustment, add it to the queue, second local adjustment, and so on. Then (after converting) open them in (e.g.) gimp as layers and merge them.

I see two options:
1) Implement it using masks. This probably requires a lot of work. But it could be really useful as you can see how local adjustments change the look of

[2018-06-10 05:52] ff2000 opened #4599 "refined noise reduction (for amaze+vng4)"
The amaze+vng4 and especially the contrast threshold in sharpening and microcontrast tools make a real difference for me. Thx alot again!

On top of that it would be great if it was possible to apply different noise reduction for the parts demosaiced with amaze and vng4 so that flat areas can be further cleaned up from noise without removing too much detail from the other parts.

But probably it's

[2018-06-10 10:22] ff2000 commented on #4551
That looks great! Thx!
Do you think it is possible to also show such a mask for amaze+vng4 threshold?

[2018-06-10 11:22] heckflosse commented on #4551
@ff2000 For amaze+vng4 it's much more difficult to implement in the current pipeline.

[2018-06-10 11:55] Beep6581 commented on #4599
The tool already has support for separately attenuating the action of luminance and chrominance noise reduction based on luminance, isn't that enough?

[2018-06-10 12:16] Beep6581 commented on #4570
The latest commit also deleted a valid DCP file:
https://github.com/Beep6581/RawTherapee/commit/69dd5fbf5c0e7990168443fdf8f720c85bad561e

[2018-06-10 12:17] Beep6581 commented on #4570
I will test the branch soon, and if it works well then I will manually merge the code changes into `dev`.

[2018-06-10 12:40] heckflosse commented on #4551
In branch `sharpmask` I prepared the engine to allow showing the mask which is used internally to blend between sharpened and unsharpened regions.
I also added a new button (right from focus mask button, also has the same icon atm...)
Currently nothing happens when the button is pressed.
I need some help from other devs ( @Hombre57 @agriggio @Floessie ) because I don't know how to trigger the proc

[2018-06-10 13:29] heckflosse commented on #4599
A contrast threshold to restrict the median in denoise to flat areas could be interesting

[2018-06-10 14:18] ff2000 commented on #4599
If that means no noise reduction at all for non-flat regions it wouldn't be that useful, if it means luminance=0 it could be fine.
For example here:
https://www.dropbox.com/s/rpmf9ig9kjhrfi6/_1110099.RW2?dl=0
The feathers in the face are fine with NR luminance at 0 - but it still needs NR. The background is fine at about 25 (and detail at 0, obviously).

[2018-06-10 14:37] heckflosse commented on #4599
Well, it would mean what I wrote above: Restrict the median part of NR (have a look at the lower part of the NR tool) to flat regions controlled by a contrast threshold adjuster. That would allow to smooth flat regions using the median without affecting regions with details.

[2018-06-10 14:53] luisfl opened #4600 "Broken blue slider inside BW section"
Inside the Color tab, the Black-and-White section seems to have a problem: While red and green sliders for gamma correction work normally, the blue slider does nothing, regardless of the method.

RawTherapee 5.4 in Fedora 28.

[2018-06-10 15:07] heckflosse commented on #4600
Duplicate of #4188

[2018-06-10 15:07] #4600 closed, assigned to nobody

[2018-06-10 20:36] Beep6581 commented on #4570
@Desmis I confirm the fix :+1:
If you don't object, I will merged this tomorrow.

[2018-06-10 20:47] Beep6581 commented on #4570
This diff should have all required changes:
[code]

[2018-06-11 10:28] ff2000 commented on #4599
Thx for the clarification. I forgot about the median filter as I never liked its output. As soon as it really smooths out flat regions it starts to create "banding"/hard edges/color blobs and looks like water painting (on images that really need stronger NR). I've played a lot with it now and for noisy images I most of the time just like the "grain" of pure NR more than the median filter, even wit

[2018-06-11 11:26] Beep6581 commented on #4599
It's not a blur, it's a median.
https://en.wikipedia.org/wiki/Median_filter

[2018-06-11 11:37] Beep6581 commented on #4599
This issue requested being able to use different noise reduction settings for the AMaZE and for the VNG4 parts of an image when using AMaZE+VNG4. That is not possible in the current pipeline, so I am closing this issue.

The idea of using a contrast threshold for the median filter is interesting, but it's an entirely different thing than what was requested here, so as discussed with Ingo in IRC th

[2018-06-11 11:37] #4599 closed, assigned to nobody

[2018-06-11 13:12] Beep6581 commented on #4598
We are aware of the situation, and it is addressed in other issues, pending on an engine redesign.

[2018-06-11 13:12] #4598 closed, assigned to nobody

[2018-06-11 13:36] Beep6581 commented on #4592
The macOS 10.9-10.12 download page already linked to https://support.apple.com/kb/PH25088
Now it links to both.

![screenshot_20180611_153609](https://user-images.githubusercontent.com/5844619/41234697-3063c0d0-6d8d-11e8-92e5-d8cf14c74fb0.png)

[2018-06-11 13:36] #4592 closed, assigned to Beep6581

[2018-06-11 19:55] #4570 closed, assigned to Desmis

[2018-06-11 19:56] Beep6581 commented on #4570
Patch committed, thank you for fixing it @Desmis .

[2018-06-12 06:47] agriggio commented on #4587
merged. I've also kept the global green equilibration only for the older Olympus models as suggested by @iliasg above. We can always fine tune by editing `camconst.json` if needed

[2018-06-12 08:34] Beep6581 commented on #2467
@Floessie apologies, PR #4559 went completely off my radar!

Test image set:
[code]

[code]
![screenshot_20180612_103439](https://user-images.githubusercontent.com/5844619/41279240-3c4c0f7a-6e2c-11e8-863d-f0837d6eb9e6.png)

Super, +1 for merge!

[2018-06-12 09:04] Floessie commented on #2467
@Beep6581

No problem. I'm completely busy ATM as well. :sweat_smile:

I'll merge...

Best,
Flössie

[2018-06-12 09:21] gaaned92 opened #4601 "Lensfun : last commits of master branch break compatibility, waiting for alpha version"
As noticed here https://discuss.pixls.us/t/rawtherapee-dev-5-4-374-g83e686a71-winvista-64-doesnt-start/8014, Rawtherapee suddenly stops during initialisation when starting directly by double clicking or in a mingw shell
for each start, it doesn't stop at the same place.

[code]

It starts ok with gdb.(no warning)

[2018-06-12 09:23] Beep6581 commented on #4601
@gaaned92 is this Windows 10?

[2018-06-12 10:17] heckflosse commented on #4601
5.4-383-g168309f45 works fine on win7

[2018-06-12 10:46] gaaned92 commented on #4601
@Beep6581
yes on W10

@heckflosse  Is it a build from you? or from me ?
As I rebuilt lensfun master branch, there is perhaps a problem with it?

[2018-06-12 10:54] Floessie commented on #4601
@gaaned92

Does it always hang during lensfun DB loading?

[2018-06-12 11:03] heckflosse commented on #4601
@gaaned92 my own build

[2018-06-12 11:04] Benitoite commented on #4601
@gaaned92  Have you tried the Windows 7 Compatibility Mode?

[2018-06-12 11:16] gaaned92 commented on #4601
@heckflosse do you build lensfun yourself?  or do you use the old msys2 lensfun lib?

@Floessie
It reads the bundled PP3 and DCP.
No lensfun message

So seems I have to revert lensfun master but to what commit?

[2018-06-12 11:37] Floessie commented on #4601
@gaaned92

I wouldn't conclude it's lensfun's fault from what I've read so far in this issue. There's still Win7 vs. Win10 and your build vs. Ingo's build.

I was just asking whether it always hangs when reading the lensfun DB, because in #4580 we found out that the lensfun API isn't thread-safe.

[2018-06-12 11:38] heckflosse commented on #4601
@gaaned92 I use the old msys2 lensfun lib

[2018-06-12 13:08] heckflosse opened #4602 "Wrong black level for Panasonic DMC-G81"
When inspecting the raw file from [this comment](https://github.com/Beep6581/RawTherapee/issues/4599#issuecomment-396052815) using demosaic set to 'None' there are raw values < 0.
For example at x=1236, y=771 the raw value is reported as G=-26
I guess this is caused by a wrong black level. @iliasg could you have a look at this file?

[2018-06-12 13:10] gaaned92 commented on #4601
@Floessie
5.4-342-g6adc09071 runs ok with old lensfun build but It stops with new lensfun build.

Then following @Benitoite advice, I opened rawtherapee.exe  `property window`, then `compatibility` then `solve compatibility problem`.
W10 set up Windows 8 compatibility mode then program  slowly starts.

Nevertheless trying to revert lensfun.

[2018-06-12 13:50] Kildor commented on #4601
I don't know if it help, but I've just compiled nightly-187-g168309f45 on my w10 and it has no problems with start.

Version: nightly-187-g168309f45
Branch: dev
Commit: 168309f45
Commit date: 2018-06-12
Compiler: gcc 7.2.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp

[2018-06-12 14:24] Beep6581 commented on #4601
@Kildor there is an error in your repo, see this to fix it:
https://github.com/Beep6581/RawTherapee/issues/4509#issuecomment-382731056
or delete your repo and clone again.

[2018-06-12 14:45] Kildor commented on #4601
@Beep6581, thank you.

Version: 5.4-383-g168309f45
Branch: dev
Commit: 168309f45
Commit date: 2018-06-12
Compiler: gcc 7.2.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -DNDEBUG -ftree

[2018-06-12 16:52] heckflosse commented on #4558
@Beep6581 Status?

[2018-06-12 18:44] Beep6581 commented on #4558
@heckflosse
[code]
[code]

[2018-06-12 19:20] heckflosse commented on #4558
@Beep6581 ?

[2018-06-12 19:25] Beep6581 commented on #4558
@heckflosse well I'm not sure whether it partially fixed it or not at all... It seems a bit better.

[2018-06-12 20:00] gaaned92 commented on #4601
Definitly a problem with Lensfun master branch.
Using master commit 781e56ca96, RT aborts unless you change compatibility to Windows 8.
Using master commit 2a186cb1e, RT starts ok.

[2018-06-12 22:07] strongheart1 commented on #4466
Since this seemed to have been a rare transitional issue,  I am closing this.

[2018-06-12 22:07] #4466 closed, assigned to nobody

[2018-06-13 06:41] lebarhon opened #4603 "Some fixes for French language"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2018-06-13 06:44] lebarhon commented on #4603
Hi,
[RTFrancais.txt](https://github.com/Beep6581/RawTherapee/files/2096886/RTFrancais.txt)
Here are some fixes for the TP_DIRPYRDENOISE part.

[2018-06-13 07:46] Yz2house opened #4604 "update Japanese translation of GUI"
update: translation of new strings and some corrections
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2097114/Japanese.txt)
regards

[2018-06-13 08:42] #4604 closed, assigned to Beep6581

[2018-06-13 08:42] #4603 closed, assigned to Beep6581

[2018-06-13 08:43] Beep6581 commented on #4603
@lebarhon good work.
As always, you will find the latest `Francais` and `default` in https://github.com/Beep6581/RawTherapee/tree/dev/rtdata/languages

[2018-06-13 08:44] Beep6581 commented on #4604
Thank you @Yz2house

[2018-06-13 09:32] ff2000 commented on #4602
I have some more files that show negative values if needed.

I had a closer look because the linked RAW file was before I had my first issue with this sensor - it was replaced later in 2017. But negative values also show up in files after the replacement.

[2018-06-13 11:05] Benitoite commented on #4601
https://sourceforge.net/p/lensfun/code/ci/f4327669dd8bfc3b1b1214ae6c0460d9a2889775/
https://sourceforge.net/p/lensfun/code/ci/9c0b03bfde63b50371cbb917b54c965cd27afb2a/
Behind these commits is new _API breaking_ code.  @agriggio & other lensfun-knowledgeable people, lensfun is apparently going to release an alpha version tag in the near future.
https://sourceforge.net/p/lensfun/code/ci/781e56ca96dc

[2018-06-13 11:14] heckflosse commented on #4551
In `sharpmask` branch now the mask is shown when the button is pressed. Button still has wrong icon.
Branch is also up to date with dev.
![grafik](https://user-images.githubusercontent.com/13733487/41348004-9e38b492-6f0b-11e8-87b2-10c6d07b3c5e.png)

[2018-06-13 11:36] Beep6581 commented on #4551
Very cool!

Would it be possible to see it at  <100% zoom? :]

[2018-06-13 11:46] heckflosse commented on #4551
@Beep6581 Only for amsterdam.pef :]

![grafik](https://user-images.githubusercontent.com/13733487/41349361-f3dda4a8-6f0f-11e8-8a83-ee560cddebbd.png)

[2018-06-13 12:01] hholtm commented on #4551
Branch sharpmask seems to be very interesting and promising.
@gaaned92: Is it possible to publish a win64-release on keybase?

Best regards
Heinrich

[2018-06-13 12:31] heckflosse commented on #4551
To clarify: Showing the mask works for zoom levels >= 100%. The amsterdam.pef screenshot from above was just a hack ;-)

[2018-06-13 16:31] heckflosse opened #4606 "Info area hidden by detail window"
Imho info area should not be hidden by detail window

![grafik](https://user-images.githubusercontent.com/13733487/41364648-8e64ba62-6f37-11e8-9b85-eb0746bdd574.png)

[2018-06-13 16:37] heckflosse commented on #4606
This patch fixes the issue

[code]

[2018-06-13 19:23] gaaned92 commented on #4551
@hholtm
"sharpmask" build uploaded

[2018-06-13 19:26] heckflosse commented on #4551
@gaaned92 Thank you :+1:

[2018-06-13 19:30] heckflosse commented on #4551
Maybe worth to mention that the mask view also (kind of) visualizes the effect on sharpening of other tools which are before sharpening (switching between amaze and amaze+vng4, microcontrast, noise reduction, local contrast.....)

[2018-06-13 19:36] kazah7 commented on #4551
@heckflosse thanks for this new tool! Gonna be awesome : )

[2018-06-13 20:08] heckflosse commented on #4551
@kazah7 please report your experience with the mask view. Currently it's a first try based on my thoughts. That for sure does not mean it's perfect ;-)

[2018-06-13 20:27] #4606 closed, assigned to heckflosse

[2018-06-13 20:45] Beep6581 commented on #3558
`5.4-389-g`09b5dca0

[2018-06-13 21:26] heckflosse commented on #4551
https://github.com/Beep6581/RawTherapee/commit/67b032cc6780b8cc3bc647b44fc0283140d08790

[2018-06-13 21:53] gaaned92 opened #4608 "Error in windows 32 bits compilation"
When compiling  branch dev  5.4-397-g67b032cc6, I get this error

[code]

Build parameters

[code]

[2018-06-13 21:57] gaaned92 commented on #4551
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-06-13 22:22] heckflosse commented on #4608
@gaaned92 Seems I caused that bug. Will fix it now.

[2018-06-13 22:29] heckflosse commented on #4608
@gaaned92 Thanks for reporting. Very silly copy/paste bug... :man_facepalming:

[2018-06-13 22:39] heckflosse commented on #4608
@gaaned92 Should be fixed now. Sorry for trouble :(

[2018-06-14 06:07] gaaned92 commented on #4608
@heckflosse it's nothing
And surely,  `the only man who never makes a mistake is the man who never does anything`

edit: the correction did not made the compiler happy:

[code]

[2018-06-14 07:50] hholtm commented on #4551
RT-dev-5.4-397 works fine, many thanks to all!
The new sharpness mask is very useful for finetuning details. Thanks for it!
Sharpmask works only if sharpening is enabled and contrast threshold is >0. Perhaps it is an idea to check the second conditin too by activating sharpmask and show a hint if conditions are not ok.
Over all RT gets better and better, it's awesome! :-)
IMHO it would be a good i

[2018-06-14 07:58] mbajor opened #4609 "arm and ppc builds fail"
1. aarch64 , armv7l, ppc64le and ppc64 builds fail with errors:
[code]
Latest success:
* aarch64 - 5.4~git.20180608.373.g039f68e54
* armv7l - 5.4~git.20180612.383.g168309f45
* ppc64le - 5.4~git.20180612.383.g168309f45
* ppc64 - 5.4~git.20180612.383.g168309f45

Logs:
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_ARM/aarch64/rawtherapee-unstable/_log
https://build.opensus

[2018-06-14 08:30] Floessie commented on #4609
@mbajor Thanks for the report!

1. Ping @heckflosse, as he changed those lines in 35743a19ad0429d5201619ec006e5c84c065c6b1.
2. This is a bug in `glibmm`, if I'm not mistaken.

Best,
Flössie

[2018-06-14 08:31] kazah7 commented on #4551
Hi,

I've just done some testing and I can say that's a huge help for the sharpening! I had been missing this mask option for months. At first, I found the color mask more confusing than a black and white one. Now – there is no difference.
So, I haven't yet encountered any serious problems. I am just missing a nice shortcut.. but I guess it will be implemented soon.

Two questions though:

- how t

[2018-06-14 08:53] Floessie commented on #4608
@gaaned92 See #4609.

[2018-06-14 08:59] gaaned92 opened #4610 "Highlight reconstruction/colorpropagation new artifact"
Testing Rawtherapee 5.4-397-g67b032cc6 on Amsterdam .pef, I noticed a new artifact.

![rt5 4-397-g67b032cc6](https://user-images.githubusercontent.com/13785581/41401194-7573556c-6fbf-11e8-88b6-685ad824c3b2.jpg)

 RT5.4 output with exactly the same pp3

![rt5 4](https://user-images.githubusercontent.com/13785581/41401338-df3d63fc-6fbf-11e8-9348-63c8c2b97d91.jpg)

In the sky of first image, there is

[2018-06-14 09:05] gaaned92 commented on #4601
@heckflosse @agriggio @Benitoite
Do I close this thread as it seems we have to wait for the new version?

[2018-06-14 09:31] #4608 closed, assigned to nobody

[2018-06-14 09:31] heckflosse commented on #4609
@mbajor 1. is fixed now

[2018-06-14 09:36] Floessie commented on #4609
@heckflosse I have come up with a (maybe better) fix in the meantime:

[code]

Another question is, if the `tmp`s shouldn't be `T`, too...

HTH,
Flössie

[2018-06-14 10:31] heckflosse commented on #4609
@Floessie

The `tmp`s have to be double because using floats leads to artifacts when using large sigma.
I should document that in code.

[2018-06-14 11:10] heckflosse commented on #4551
Thanks for the feedback

@hholtm Sharpmask also works at contrast threshold = 0. In this case it shows that the whole image will be sharpened. It will also get an own icon. It was just not possible atm to do that because @Beep6581 is reviewing rt icon stuff and creating a new one would have broken his work.

@kazah7 I guess we will add a shortcut once we found a good one. Sharpmask now is disabled

[2018-06-14 11:17] iliasg commented on #4602
@heckflosse Ingo, sorry for the delay, I just recieved back a "crashed" PC

There are a lot of pixels with values lower than the BL=143 in this file .. so I guess the values reported are correct.
I don't know if this (showing the below BL values) is intentional .. but I think it's usefull for geeks like me ;)
BTW when we use deosaic "none" .. what's the formula for scaling the navigator reported v

[2018-06-14 11:25] mbajor commented on #4609
@heckflosse Fix of 1 confirmed. App buids without errors. 2 still exists, but if you think that it is external library error you can close the issue.

[2018-06-14 11:33] Beep6581 commented on #4609
glibmm-2.4.0 is from 2015 so probably no need to report this upstream:
https://github.com/GNOME/glibmm/releases/tag/2.44.0
but it could be worth filing a request for that distro to ship a newer version of glibmm.

[2018-06-14 11:49] heckflosse commented on #4602
@iliasg These files have zero_is_bad = true, means pixels with value zero will be interpolated from neighbouring pixels, but not pixels < zero...
The values reported below navigator are taken from the scaled rawdata and divided by scale_mul, which in this case is `scale_mul:[11.211660 7.139764 16.650152 7.139764]`

Imho the problem is, that we have negative values in rawdata which then are scaled

[2018-06-14 12:37] Beep6581 commented on #4610
Confirmed in `dev`, neutral + color propagation:
![screenshot_20180614_143645](https://user-images.githubusercontent.com/5844619/41412474-653bb61e-6fe0-11e8-9d31-de1aacdf6a39.png)

[2018-06-14 15:10] iliasg commented on #4602
@heckflosse Ingo, I misunderstood :(

Do you mean that the zero valued pixels escape some part of the normalization-scaling applied on the normal pixels ?.
I was talking about raw values 0-4095 where there are thousands of pixels with values lower than the BL = 143. Most of the below BL pixels are in the range 15-143 . But some (around 30pixels on each channel) have value = 0 which is an indicatio

[2018-06-14 15:30] heckflosse commented on #4602
@iliasg you're right. The zero_is_bad algorithm is called before black level subtraction and correctly finds the bad pixels. After the correction all values are in the 15-4095 range. But then the black level will be subtracted which leads for example to a value of -128 for a pixel which had value 15 before. Shouldn't this negative values be clipped to zero?

[2018-06-14 15:32] sguyader commented on #4551
@heckflosse Ingo, is it expected that playing with the amount slider for RL Sharpening has an effect on the sharp mask? Reducing amount darkens the sharp mask preview, while for USM sharpening playing with amount does nothing.

[2018-06-14 15:39] heckflosse commented on #4551
@sguyader Yes, this is expected because the amount slider in RL is just a simple blend factor between sharpened and unsharpened while in USM it's a bit more complicated.

[2018-06-14 15:47] heckflosse commented on #4610
There is also a race condition which leads to inconsistent behaviour. The settings in before and after are identical in the following screenshot:

![grafik](https://user-images.githubusercontent.com/13733487/41422952-5d3e22b6-6ffa-11e8-9e8a-441fd8d6798f.png)

Though this could be fixed with the following patch, the fixed code blows up the tower a bit (as in right side of the screenshot) because of

[2018-06-14 16:02] heckflosse commented on #4551
@sguyader Sébastien, imho with the new contrast threshold adjuster, the `amount` adjuster in RL is mainly for backwards compatibility. At least I didn't need it anymore since we have the contrast threshold adjuster.

[2018-06-14 16:06] #4610 closed, assigned to agriggio

[2018-06-14 16:06] iliasg commented on #4602
@heckflosse Ingo, some say no (John Sheehy, a respected member at Dpreview forums is proponent of this) ..
John in numerous posts last decade, says the clipping must occur at the last stage of converting to RGB ..  i.e in RT just before conversion to the working space .. of course some things get complicated this way (raw autoWB ??) .. maybe we should invite him to expose the worflow he has in his

[2018-06-14 16:12] heckflosse commented on #4602
@iliasg It's already in 5.3

[2018-06-14 16:29] TooWaBoo commented on #4148
New update
[code]
File-browser-folder-bug still exists.

[2018-06-14 18:20] Thanatomanic opened #4612 "Functional middle/double click on sliders: reset to default"
A feature that I use quite often in darktable, is double clicking on a slider to reset it to its default value. Would it be beneficial to have the same behavior in RT?
Edit: Could also be implemented by using a middle mouse button click.

It ~~would~~ could also clean up the GUI a little, as it would make the reset buttons superfluous.

[2018-06-14 18:27] heckflosse commented on #4612
There are still mice without middle button. So, at least the GUI cleanup can't be done.

[2018-06-14 18:29] Thanatomanic commented on #4612
I must stand corrected here: darktable reset works by double clicking, not middle clicking. My bad... I'll update the title.

Also, I am not 100% sure, but for as long as I can remember I've always been able to simulate a middle click by clicking both mouse buttons at the same time.

[2018-06-15 12:34] Jacob-Bishop commented on #3547
Are there plans to deal with the fuzzy image aspect of this (https://github.com/Beep6581/RawTherapee/issues/4367_ ? Are there any tests someone with a Hi-Dpi screen (me) could do to help?

[2018-06-15 14:34] ff2000 opened #4614 "GUI: Delete nodes in curves"
I often manage to accidentally click on an empty part of curves (e.g. tone curve, HSV equalizer, ...). As I can't find a way to delete those nodes I either have to live with those added nodes and manually position them with every curve change or I revert all changes.

I think something like "DEL" or SHIFT+Click (or any other modifier) on a node could work.

[2018-06-15 14:35] Thanatomanic commented on #4614
I have the same issue, but you can just drag the nodes outside the area to remove them. A click-based method would make more sense I think.

[2018-06-15 14:42] ff2000 opened #4615 "Slider operation issues"
Sliders behave weird for me: Click on the button and slide it right/left quickly works fine. As soon as I try to slowly adjust the value it seems to fall into a "precision mode" where I have to drag the mouse further for less change. This has a bad side effect: often the button jumps back resulting in a big change of the value (in the opposite direction I actually operate it). This gets even more

[2018-06-15 14:46] ff2000 commented on #4614
That might work for tone curve to a certain degree but still is cumbersome if you have to drag several nodes to one side.
For HSV Equalizer it isn't possible at all because if you pull a node beyond the right side it enters again on the left ;)

[2018-06-15 15:01] ff2000 opened #4616 "Float value input box: +/- should operate on integer and fractional part"
Input boxes for float values (e.g. the one for Luminance in noise reduction) are really slow to operate with the +/- buttons making them basically unusable. With the new Sharpening Contrast Mask Preview you can watch how you can click on +/- without getting any change.

It would be really great to just place the cursor right (fractional part) or left (integer part of the floating number) of the de

[2018-06-15 15:08] Thanatomanic commented on #4616
Personally, I would find that really annoying, because I have to worry about where my cursor is.
Alternatively, Ctrl or Alt click on the +/- could make the stepsize bigger. This could also be compatible when people use the arrow keys to increment the slider.

[2018-06-15 15:21] Beep6581 commented on #4614
Nodes in both types of curves are deleted by dragging them either out of the curve or beyond the next node (the latter applies to equalizer-type curves). e.g. The red node in an equalizer curve is deleted by dragging it left, which wraps it around, beyond the purple node, or right beyond the yellow node, or up or down.

Shift and Ctrl modifiers are already taken.
Double-click is free.

[2018-06-15 15:24] Beep6581 commented on #4615
This is a GTK+ 3 feature, not a RT one. All GTK3 programs behave like that. Hit the Shift key to go in or out of precision mode.

[2018-06-15 15:28] Beep6581 commented on #4616
SpinButton behavior is governed by GTK3 not by RT.

[2018-06-15 15:41] ff2000 commented on #4616
It would already help a lot if the increment step was set appropriately. E.g. for Luminance 1.0 or 0.5 would be good IMO (0.01 really is hardcore ;)). Didn't look at other spin boxes but there are several that deserve higher increment steps.

[2018-06-15 15:47] Thanatomanic commented on #4616
If I look in the gtk documentation, there seems to be an option to have two events to increment the value.
https://developer.gnome.org/gtk3/stable/GtkSpinButton.html

Could something be done with gtk_spin_button_set_increments () ?

[2018-06-15 15:56] heckflosse commented on #4616
Currently when holding Ctrl while using the arrow keys or when using PgUp/PgDwn keys RT uses a doubled increment.
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/adjuster.cc#L329
We can at least discuss about changing this value ;-)

[2018-06-15 15:57] ff2000 commented on #4614
What about SHIFT+RMBClick? Or (as already mentioned) DEL Key? Double Click on such small controls isn't easy, might end up with yet another node ;)

[2018-06-15 16:13] ff2000 commented on #4616
2018-06-15 18:56 GMT+03:00 Ingo Weyrich <notifications@github.com>:

Thx for the reference! Though it's the constructor that is used in all
places.

OK. Though I think that for the mentioned Luminance (LumDetail is the same)
even 0.01*x with a universally applicable x is too slow ;)

IMO if someone needs that extra precision it's still possible to enter
custom values.

[2018-06-15 16:15] Beep6581 commented on #4616
All RT SpinButtons could use a review regarding their step and page increments.

When I press + or - I would like to see a difference in the image. If I want fractions, I type those. Currently, pressing + or - in most SpinBoxes is next to useless.

Noise Reduction - Luminance would be entirely fine for me with a step of 1 and page of 10.

But what we're discussing now is entirely not what this iss

[2018-06-15 16:15] #4616 closed, assigned to nobody

[2018-06-15 17:43] ff2000 commented on #4616
Sorry that I don't have any experience with GTK, otherwise this would have been more to the point and requested something that's possible.

@heckflosse I nevertheless wanted to offer a different approach: What about this:

[code]

[2018-06-15 17:54] ff2000 commented on #4616
2018-06-15 19:15 GMT+03:00 Beep6581 <notifications@github.com>:

I could try to find some better values for the tools I use but I don't know
if those values will fit for every camera out there.
I simply lack the knowledge of what happens behind the scene and I think
that will be needed.

Talking about Luminance I even think an integer as input would be accurate
enough, max. 1 digit. Same for Detai

[2018-06-15 18:32] Beep6581 opened #4617 "Revise slider step and page increments"
RawTherapee could use a complete revision of all [SpinButton](https://developer.gnome.org/gtkmm/stable/classGtk_1_1SpinButton.html#a879b8eff06f35012b00453aad93f8a72) step and page increment values.

Remember that GTK3 has a "fine-tune" mode, you enter and leave it by hitting Shift while dragging a knob.

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/adjuster.cc#L35
Step and page: https://

[2018-06-15 18:34] Beep6581 commented on #4616
@ff2000 I like the `/100` idea.
Issue opened #4617

[2018-06-15 20:55] Pandagrapher commented on #4094
Hi
I've started using RawTherapee two years ago and I really like it. Locallab is a missing feature I was much expecting. So thank you @Desmis :)
In order to help I started to work on GUI as roadmap suggests it
Here is a preview with source code:
![image](https://user-images.githubusercontent.com/40305292/41487486-2b9a2292-70e9-11e8-857e-399bc87af98c.png)

Control points can now be managed in a sa

[2018-06-15 23:18] heckflosse commented on #4616
I also like the `/100` idea, but we have sliders which allow only integer values between 0 and 3 for example.
For this cases we have to refine the calculation.

[2018-06-16 10:35] Benitoite commented on #4094
@Pandagrapher do you have a github repository fork or pull request for your work?

[2018-06-16 11:20] TooWaBoo commented on #4617
The fine-tune mode can also be entered by clicking and holding the slider knob for 2 seconds (the trough becomes thick) and then move the knob.

[2018-06-16 11:24] TooWaBoo commented on #4615
The fine-tune mode can be entered by clicking and holding the slider knob for 2 seconds (the trough becomes thick) and then move the knob.

[2018-06-16 12:20] #4615 closed, assigned to nobody

[2018-06-16 16:48] TooWaBoo opened #4620 "Sharpening contrast mask - Bug"
If "Sharpening contrast mask" is on and you open the next image, Sharpening contrast mask is off but the button indicates it's on. You have to switch it off and on again to make it work.

[2018-06-16 17:02] TooWaBoo opened #4621 "Preferences panel, Batch Processing - Bug?"
In the preferences panel are 2 settings combined to one.
Is this OK?

![unbenannt](https://user-images.githubusercontent.com/13800920/41500723-a0c618e2-7197-11e8-9a65-c1a34bcff685.PNG)

[2018-06-16 17:21] heckflosse commented on #4620
Thanks for reporting. I will take this. I always work in METM, where this is not an issue.

[2018-06-16 18:17] heckflosse commented on #4620
We should define the expected behaviour. Is it

a) to disable the Sharpening contrast mask when loading an image in SETM?
or
b) to keep it enabled?

[2018-06-16 18:26] TooWaBoo commented on #4620
I vote for "b", The same behaviour like the other tool buttons.

[2018-06-16 18:35] heckflosse commented on #4620
@TooWaBoo But that's a bit confusing when using it with detail windows...

[2018-06-16 18:36] heckflosse commented on #4620
I vote for the solution which is easier to code, whatever that is

[2018-06-16 18:51] Pandagrapher commented on #4094
@Benitoite here is my fork:
https://github.com/Pandagrapher/RawTherapee

[2018-06-16 19:20] Hombre57 commented on #4620
@heckflosse

Here is a patch that disable the button :

[code]

I vote for having the same behavior than the other tools. Either reset them all, or none. If in doubt, create an option :wink:

[2018-06-17 08:18] ff2000 commented on #4617
Sounds reasonable. This would require the steps for sliders to be adjusted as well so the user really sees it as a rough adjustment, e.g. it shouldn't operate on 0.01 precision but on full integer stops. Also the Color Temperature Slider needs an adjustment. The latter is close to impossible to even get rough adjustments for me as it goes into fine-tune mode even when I move it by 100 which then b

[2018-06-17 09:19] heckflosse commented on #4620
@Hombre57 Thanks for the patch.
I added `previewSharpMask->set_image(*iSoff);`

[2018-06-17 09:20] #4620 closed, assigned to heckflosse

[2018-06-17 10:24] Benitoite commented on #4601
🤙 @gaaned92 you might like to edit the title to reflect the issue with lensfun 🤔

[2018-06-17 10:49] Hezer opened #4622 "GPS data lost when processing RAW (DC-GX800)"
Noticed location data not getting written from raw to processed files. Also RawTherapee doesn't show GPS data in the Metadata tab for the raw files.

I'm taking photos with Panasonic DC-GX800 (DC-GX850 / DC-GF9) then transferring GPS log from phone to camera and writing the location data to images.

RawTherapee version info:

Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.

[2018-06-17 10:57] Hezer commented on #4622
Managed to select wrong jpg when uploading, for which I had already copied gps information from raw files with ExifTool.

It's now updated to correct one.

[2018-06-17 11:20] Desmis commented on #4094
@Pandagrapher  @Hombre57

@Pandagrapher   I  push your work, whitout change, in a new branch "locallabgui"
Thanks to tou for this work :)

jacques

[2018-06-17 13:08] Hombre57 commented on #4620
@heckflosse Ah, I didn't cared about the image, I just thought about the pressed/released status.

[2018-06-17 14:31] Hombre57 commented on #4094
@Desmis @Pandagrapher Which one should be considered the official branch then ?

[2018-06-17 15:06] Desmis commented on #4094
@Hombre57
This new branch is the work of Pandagrapher, I have discover this work yesterday..
Curiously, I don't know why, the branch I download works, but the one I commit, does not works (the part add by Pantagrapher)
More , this branch is about 100 commit behind dev.

Actually the only official branch is newlocallab :)

I tried tu push the work of Pabdagrapher, to give to everybody this new poss

[2018-06-17 15:20] Desmis commented on #4094
@Pandagrapher

It seems that the the files contains in  https://filebin.net/9bkqg6kcoyadflc0 and in https://github.com/Pandagrapher/RawTherapee are very different :)

But how can I used  https://github.com/Pandagrapher/RawTherapee. I don't know how to do ?

[2018-06-17 15:28] Desmis commented on #4094
I just delete the branch "locallabgui"...it does not work at all :)

[2018-06-17 15:30] heckflosse commented on #4094
@Desmis
[code]

[2018-06-17 15:37] Desmis commented on #4094
@heckflosse

Ingo
Thank you, I will test soon :)
jacques

[2018-06-17 16:00] heckflosse commented on #4094
@Desmis Jacques, I forgot one line. Updated my above comment.

[2018-06-17 16:02] Desmis commented on #4094
@heckflosse

I just compile, no problem :)

[2018-06-17 16:08] Pandagrapher commented on #4094
@Desmis Sorry I wasn't comfortable with Git so I firstly shared all the source code with my modification in filebin... As my fork is now up-to-date, I have deleted the filebin link above and I will (I hope) regularly update my fork ;)

[2018-06-17 17:19] Desmis commented on #4094
@Pandagrapher
Me also, I am not "comfortable with Git" :)

[2018-06-17 17:47] gaaned92 commented on #4094
Neither me!
If you want frequent builds of this branch for windows64, let me know . Then, the easiest way for me is to put it in a branch of main repository .

[2018-06-17 17:56] Desmis commented on #4094
@gaaned92
I think it will be a good thing, to put in main repository :)

[2018-06-17 18:03] heckflosse commented on #4094
@Desmis @gaaned92 @Pandagrapher

Putting it into the main repo would need to give @Pandagrapher commit rights to the main repo to work on it. Not that I'm agains that, but we (the current contributors) have to agree.

Another possibility would be to use @Pandagrapher fork and he will give commit rights to @Desmis

What do you think?

[2018-06-17 18:15] Pandagrapher commented on #4094
@Desmis @heckflosse @gaaned92
I have no problem with giving commit rights to @Desmis for my fork
Isn't that easier I just send a pull request for newlocallab branch and @Desmis manages it ?

[2018-06-17 18:18] heckflosse commented on #4094
@Pandagrapher

absolutely

[2018-06-17 18:21] Desmis commented on #4094
In this case, no problem for me :)
No matter the solution, for me the essential thing is to be able to share the work

Recall : I am not at all a GUI specialist :)
jacques

[2018-06-17 18:36] heckflosse commented on #4094
@Desmis

Nor am I.

[2018-06-17 18:59] Pandagrapher commented on #4094
@Desmis
Just sent the pull request :)
#4623

[2018-06-17 19:03] Beep6581 opened #4624 "UI rendering slow when many entries in combobox"
The CSS text-shadow property causes a serious performance degradation in rendering the UI, at least when used in comboboxes with many entries (i.e. Profiled Lens Correction), though the whole RT is affected.

https://discuss.pixls.us/t/rt-5-4-performance-optimizations/7080/51?u=morgan_hardwood

[2018-06-17 19:03] #4624 closed, assigned to Beep6581

[2018-06-17 19:19] Beep6581 commented on #4094
You can of course give someone access rights to your own repo, but there's no _need_ to do that. Git is a _distributed_ version control system. Person A can add person B's fork as a "remote" and work on the code, and person B can then add person A's work as a remote and merge the changes.
https://git-scm.com/book/en/v2/Git-Basics-Working-with-Remotes
https://help.github.com/articles/adding-a-remot

[2018-06-17 19:29] Beep6581 commented on #4601
RT should support the latest-stable lensfun release, regardless how old, because most distros won't ship an alpha version of lensfun.

[2018-06-17 19:30] Beep6581 commented on #4305
Duplicate of #4464

[2018-06-17 19:30] #4305 closed, assigned to nobody

[2018-06-17 19:30] Beep6581 commented on #4622
Duplicate of #4464

[2018-06-17 19:30] #4622 closed, assigned to nobody

[2018-06-17 22:52] gaaned92 commented on #4601
Yes , sure for RT stable version . Nevertheless, there could be some branch supporting new lensfun development.

[2018-06-17 22:52] #4601 closed, assigned to nobody

[2018-06-18 00:16] romandocent commented on #4426
Looks like it crAshes again since 5.4, Ubuntu 18.04. During saving (loosing changes).

[2018-06-18 08:54] Desmis commented on #4094
If I do on my repository where I clone Pandagrapher works
* git remote -v
I obtain:
origin  https://github.com/Pandagrapher/RawTherapee.git (fetch)
origin  https://github.com/Pandagrapher/RawTherapee.git (push)

Is that true ?
But all the text is not clear enough for me !:)

Now how I can "commit", "merge" and so on....
a) ex for commit and push with the same command, "git push --set-upstream orig

[2018-06-18 14:19] heckflosse commented on #4094
@Desmis

a) if you are on newlocallab in  https://github.com/Pandagrapher/RawTherapee.git `git push` should be enough
b) yes, they are the same

[2018-06-18 22:54] Hombre57 commented on #4478
@Desmis The patch is almost done, I think. I don't have much time to spend on this because I'll have a new job in 2 months and have to find a new home quickly, but I'm still taking time to finish that ASAP.

In fact, I think I could commit it if you don't care of the last 5-10% remaining work.

But for now, I need to know which one of `ACES-APx` or `ACES-SPx` is the good one ? And does the one fro

[2018-06-19 03:15] TooWaBoo commented on #4148
New update
[code]
File-browser-folder-bug still exists.

[2018-06-19 06:25] Desmis commented on #4478
@Hombre57

You can simplify all primaries, and put the same name of variables ACES-AP1 and  ACESp1 or ACES-AP0 and ACESp0.
But be aware with "case" to use the good values :)

Jacques

[2018-06-19 06:57] Beep6581 commented on #4478
ACES AP0 and ACES AP1 are standard names for ACES color space primary sets:
https://en.wikipedia.org/wiki/Academy_Color_Encoding_System#ACES_Color_Spaces

[*`_ACES-SP*.icc`](https://github.com/Beep6581/RawTherapee/tree/testoutputprofile/rtdata/iccprofiles/output) are the result of a typo I made in commit d3696760, please rename them to:
[code]

[2018-06-19 12:33] heckflosse opened #4625 "SETM Filmstrip height wrong when using Filmstrip toolbar"
To reproduce

1. Make sure filmstrip and toolbar are visible.
2. Hide top panel.
3. Close RT
4. Open RT and goto Editor tab
5. Show top panel.
6. A buggy vertical scrollbar is visible on the right - the filmstrip is not tall enough to accomodate both thumbs and toolbar.
7. Press t, the toolbar hides.
8. Press t again, the toolbar appears, and this time the filmstrip is vertically resized.

[2018-06-19 15:59] TooWaBoo commented on #4625
Works fine with the TooWaBlue theme but file names etc are not shown in the filmstrip when activated in preferences.

[2018-06-19 17:26] heckflosse commented on #4625
@TooWaBoo

I disagree:
![grafik](https://user-images.githubusercontent.com/13733487/41613700-9be56a2e-73f6-11e8-8986-877f44ec7270.png)

[2018-06-19 17:46] TooWaBoo commented on #4625
Can't reproduce on Win10

[2018-06-19 18:39] heckflosse commented on #4625
@TooWaBoo
Filenames are shown when info button is enabled
![grafik](https://user-images.githubusercontent.com/13733487/41617462-d6ca48f8-7400-11e8-9cab-72bc867fe2d3.png)

[2018-06-19 19:14] TooWaBoo commented on #4625
Tried several times with the RT- and TWB-theme. I can reproduce the bug with the RT- but not with the TWB-theme. I do not know why it behaves differently.

Argh, forgot the info button. :-)

[2018-06-19 21:01] TooWaBoo commented on #4625
Found the culprit at line 150 of the RT-theme.
[code]
To get a 2px border at the top, add this:
[code]
To remove 2 pixel from the top of the histogram (this has now a border of 4 pixel) change this at line 493
[code]

[2018-06-19 21:43] heckflosse commented on #4625
@TooWaBoo Can you post a patch please? I've tried with this one and it does not work:

[code]

[2018-06-19 21:51] TooWaBoo commented on #4625
@heckflosse
[RawTherapee-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/2117067/RawTherapee-GTK3-20_.css.txt)

[2018-06-19 22:15] Hombre57 commented on #4148
@TooWaBoo Everything seem to work here, Win7, with MSYS updated just 1h ago.

[code]

[2018-06-19 22:40] heckflosse commented on #4148
@Hombre57 running pacman -Syu now. Qt5 update is really heavy...

[2018-06-19 23:42] heckflosse commented on #4148
ran pacman - Syu
built rt from scratch
Folder bug seems to be fixed \o/

[2018-06-20 03:38] TooWaBoo commented on #4148
No, it's not fixed. The bug exists only for the boot drive.

[2018-06-20 06:02] heckflosse commented on #4148
@TooWaBoo Confirmed

[2018-06-20 06:08] Desmis commented on #4094
@Pandagrapher
Could you go further in the integration of this new GUI interface, I am not currently available
Thank you

Jacques

[2018-06-20 07:23] gaaned92 commented on #4148
Glib2 2.56.1-2 is buggy.
Seems it is solved upstream, see @Beep6581 post above.
We have to wait for an update of the mingw64 (and mingw32) repos of the glib-2.56 branch.

[2018-06-20 08:12] Hombre57 commented on #4148
@heckflosse I usually update with `pacman -Syuu`, so it updates MSYS2 too. I don't think that's relevant for our problem though.

@TooWaBoo I'll check tonight again, but IIRC, it was working fine for my `C:\` `D:\` `E:\` drives.

[2018-06-20 09:34] Hombre57 commented on #4094
@Desmis @Pandagrapher I'm finishing the `testoutputprofile` branch, and will then look at this new GUI stuff.

What I had in mind though is what @Desmis proposed :

i.e. It should be rather easy to add buttons at the control point's location, contextually. This would avoid having too much GUI in the Editor Panel. You can have a look at the spot-removal branch, where the GUI should be fully functio

[2018-06-20 17:31] Pandagrapher commented on #4094
@Desmis @Hombre57
Yes I can go further with the GUI in order to continue with point 1)b) of your roadmap
To integrate the locallab tools with the new control points management, I see two solutions:
1. As in the actual implementation, I can add all the tool parameters to each control point.
Pros: Easiest to implement
2. Each locallab tool can be added one or several times and has one or more attach

[2018-06-20 17:37] TooWaBoo commented on #4625
@heckflosse
Did you test the theme? Does it work?

[2018-06-20 17:49] heckflosse commented on #4625
@TooWaBoo Sorry for late reply. I tested but it's still the same.

[2018-06-20 18:03] TooWaBoo commented on #4148
New update
[code]
File-browser-folder-bug still exists.

[2018-06-20 18:07] TooWaBoo commented on #4625
Hmmm, if padding is not 0 I can reproduce the bug in RT and TWB.
If padding is 0 both themes work fine. I've no idea why.
[code]

[2018-06-20 18:09] heckflosse opened #4626 "dcraw update"
New dcraw is available [here](https://www.cybercom.net/~dcoffin/dcraw/dcraw.c)
I will take a look.

[2018-06-20 18:11] Thanatomanic commented on #4626
Is there a changelog? I couldn't find one easily..

[2018-06-20 18:25] heckflosse commented on #4626
@Thanatomanic no, but here's the diff

[code]

[2018-06-20 19:07] heckflosse commented on #4626
At a first look the new dcraw code does not fix any RT issue I know of.
ping @iliasg

[2018-06-20 19:10] TooWaBoo commented on #4625
@gaaned92 is on Win10 too, perhaps he can test too.

[2018-06-20 20:14] Hombre57 commented on #4148
Confirmed, works fine.

[2018-06-20 20:24] heckflosse commented on #4148
@Hombre57 Here C:\ is still missing some folders

[2018-06-20 21:47] gaaned92 commented on #4148
W10 : I tested again. Regrettably, File-browser-folder-bug still exists.
On the boot disk C: , only a few folders are displayed.

[2018-06-20 23:00] Hombre57 commented on #4148
@heckflosse Ah, that right, I overlooked that the content of `C:\` wasn't complete (`D:\` and `E:\` are complete though). But out of curiosity, where in this thread has someone reported that it was partly working ?

[2018-06-20 23:33] TooWaBoo commented on #4148
I don't see any folder on `c:\`

[2018-06-20 23:35] Yz2house opened #4627 "Update Japanese translation for GUI"
update: translated new strings and deleted unused strings
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2121472/Japanese.txt)

[2018-06-21 06:03] Desmis commented on #4094
@Pandagrapher

For me, the solutions 1) is the first to be implemanted.
It keeps the processing processes present in iplocallab, it must keep "normal" and "exclusive" control point, and also "duplicated".
This solution  once the GUI interface as you propose - with cursors, curves, menus, ..- on the right panel, can be directly merge with dev, once all tested

In a second step, we can add as @Hombr

[2018-06-21 07:05] agriggio opened #4628 "DualDemosaicContrast settings saved unconditionally in pp3's"
The new settings for dual demosaic algorithms (amaze+vng4 or 4-pass) are saved unconditionally on pp3's, even when you select nothing. I found no way of turning that off.

[2018-06-21 07:11] gaaned92 commented on #4148
@Hombre57
There was a short discussion on 12 Apr  between @TooWaBoo and me about 2.56.1-1.
Then 22 days ago by @TooWaBoo  for 2.56.1-2 reporting the boot disk problem.

Question: how to locate the repositories used by MSYS2/pacman? edit : in pacman.d
 and the projects managing these repositories?

[2018-06-21 08:59] Desmis commented on #4094
And of course, for 1) multiple RT-points.
Actually it works in interaction between locallab.cc and improccoordinator.cc, up to 500 control points if necessary :)

[2018-06-21 10:41] Beep6581 commented on #4626
!

[2018-06-21 11:07] Beep6581 commented on #4148
See:
* https://github.com/Beep6581/RawTherapee/issues/4148#issuecomment-360830397
* https://github.com/Alexpux/MSYS2-packages/issues

[2018-06-21 11:13] #4627 closed, assigned to Beep6581

[2018-06-21 11:37] heckflosse opened #4629 "Windows folder bug"
This fixes the famous windows folder bug:

[code]

[2018-06-21 11:38] gaaned92 commented on #4148
Other way to ask:
Is somebody able to verify if https://gitlab.gnome.org/GNOME/glib/commit/96904149e20a04066290bc1592469930c2f57ed0 is included in glib2 2.56.1-2? It should be.

[2018-06-21 11:43] heckflosse commented on #4148
#4629

[2018-06-21 11:51] Beep6581 commented on #4148
@gaaned92  https://github.com/Beep6581/RawTherapee/issues/4148#issuecomment-391148257
[The fix is in 2.57.1](https://gitlab.gnome.org/GNOME/glib/blob/2.57.1/glib/gstdio.c#L211), and it will be in 2.56.2 if such a version gets released (2.56.2 has not been released yet).

[2018-06-21 12:39] #4629 closed, assigned to nobody

[2018-06-21 13:00] gaaned92 commented on #4148
@heckflosse after https://github.com/Beep6581/RawTherapee/issues/4629,  File-browser-folder-bug no longer exists

[2018-06-21 15:29] olhof opened #4630 "Dynamic Range Compression and Haze Removal - output darker than preview"
The resulting output from the queue processing invoked by ctrl-b is very much darker than the image shown in the editor.

This holds true for at least jpg output and TIFF (8 bit) output.

RT info:
RawTherapee_new-shadows-highlights_5.4-249-g63f3b2f8_WinVista_64.
PC info:
Windows 10 version 1803

JPG outout
![jpg output](https://user-images.githubusercontent.com/31998365/41728854-1da744b0-7578-11e8

[2018-06-21 15:41] heckflosse commented on #4630
@olhof
Please load the jpg in RT and post a screenshot.

[2018-06-21 15:52] TooWaBoo commented on #4148
Confirmed. Works fine now. @heckflosse you are my hero. 😁

[2018-06-21 15:55] #4487 closed, assigned to nobody

[2018-06-21 16:14] heckflosse commented on #4148
There are other parts in rt code which could be affected by this as well. For example opening `c:\` to show the images in `c:\` (I know one should not save images there) currently should not show the images which's name is > `pagefile.sys`. I will check that now...

[2018-06-21 16:17] olhof commented on #4630
Here it is...…:o)!

![jpg loaded in rt](https://user-images.githubusercontent.com/31998365/41731676-4b98d5a8-757f-11e8-9355-fdc884a05eed.jpg)

[2018-06-21 16:46] heckflosse opened #4631 "Debug build shows artifacts while release build does not"
http://www.rawtherapee.com/shared/test_images/tracteur.dng

using debug build and neutral profile
![grafik](https://user-images.githubusercontent.com/13733487/41733098-2aaf5ac0-7583-11e8-9872-f4f9a8192fa0.png)

using release build and neutral profile
![grafik](https://user-images.githubusercontent.com/13733487/41733176-5e6a07b6-7583-11e8-821f-81e71bc8f842.png)

[2018-06-21 17:31] Pandagrapher commented on #4094
@Desmis Ok, let's follow this plan :)
(I think I will add a limitation if someone wants to use 501 control points ;))

[2018-06-21 18:06] Remmidemmieiland commented on #4466
Hello! I Hope that the thread being closed does not mean that nobody sees this.
I have exactly the same problem as you strongheart1, but I am not able to fix it.

I have this gdb output:
[code]
and I don't know how to go on from here.

[2018-06-21 18:37] heckflosse commented on #4148
In 01d4ed3 I fixed another one.

[2018-06-21 20:15] agriggio commented on #4630
@olhof would you be able to share the raw and pp3 perhaps?

[2018-06-22 08:26] olhof commented on #4630
Here is a link to the raw and pp3.

I'm very interested in the result…..:o)!

https://drive.google.com/open?id=1ARlBLY-CldysqF4J0PigxmCx4UAKy5Pb

[2018-06-22 10:20] gaaned92 commented on #4630
W10, last dev buid
Can reproduce
Rawtherapee JPG output
![dsc_9254](https://user-images.githubusercontent.com/13785581/41771748-687b4132-7616-11e8-9e20-7a31cd114905.jpg)

Rawtherapee preview
![rt-dsc_9254](https://user-images.githubusercontent.com/13785581/41771754-6abe0984-7616-11e8-997e-3ac1ad698d07.jpg)

[2018-06-22 10:24] heckflosse commented on #4631
There was something wrong with my build, closing.

[2018-06-22 10:24] #4631 closed, assigned to nobody

[2018-06-22 10:26] heckflosse commented on #4630
At 100% preview it's correct.

[2018-06-22 11:03] agriggio commented on #4630
@olhof, like @heckflosse wrote, at 1:1 everything is fine. The culprit for the mismatch is that you are anchoring the brightness at 1% of the histogram; when working on the scaled down picture, the darkest pixels just disappear, effectively shifting the histogram to the right -- only slightly, but significantly enough in this case to make the zoomed-out preview appear much brighter. It is sufficie

[2018-06-22 11:46] TooWaBoo commented on #4148
New update
` pacman-5.1.0-2`

[code]
After update I get this error:
`Error: Could not fork child process: There are no available terminals (-1).`
Any idea how to fix this?

[2018-06-22 12:18] TooWaBoo commented on #4148
Found the issue, it's the Windows Defender "Exploit Protection Settings".
Trying to figure out how to fix it.

[2018-06-22 12:28] gaaned92 commented on #4148
@TooWaBoo I am waiting for your fix as it can happens also to me!
I have no knowledge about this W10 feature.

[2018-06-22 12:39] TooWaBoo commented on #4148
This worked for me:
1. Go to Windows Defender "Exploit Protection Settings".
2. Set all settings to Standard
3. Switch OFF "Randomize memory allocations (Bottom-up ASLR)"
4. Restart PC
5. Run MSYS (It should work without an error)
6. Quit MSYS
7. Switch ON "Randomize memory allocations (Bottom-up ASLR)" again
8. Restart PC
9. Run MSYS (It should work without an error)
10. Finish

[2018-06-22 12:42] gaaned92 commented on #4630
@agriggio @heckflosse I was not aware of that. I know that preview is in some cases ( like denoising) correct above 100% zoom. But there are warnings in GUI.
In this case it seems there is no warning in the GUI and perhaps neither in the doc (I did not verified).
It is not really noticeable for my night photos. But when you stumble on that, it is really disturbing.

[2018-06-22 12:46] gaaned92 commented on #4148
@TooWaBoo thanks. Do you know if we will have to do that for each MSYS2 update (at least for core system update)?

Edit : I didn't get the error here!

[2018-06-22 12:46] TooWaBoo commented on #4148
I don't know.

[2018-06-22 13:48] heckflosse commented on #4630
@gaaned92

![grafik](https://user-images.githubusercontent.com/13733487/41779940-a1883e68-7633-11e8-9650-ff49d05c856b.png)

[2018-06-22 15:05] gaaned92 commented on #4630
Ah I am wrong! there was a warning.

So  without Dynamic Range compression there should be no difference or negligible?

[2018-06-22 15:11] heckflosse commented on #4630
Yes

[2018-06-22 23:15] heckflosse opened #4633 "Speedup for VNG4 demosaic"
Because VNG4 demosaic gets used more often now as AMaZE+VNG4 is available I will try to make it a bit faster. Don't expect too much. First small improvments will follow at the weekend.

[2018-06-23 07:11] olhof commented on #4630
Thank you everyone. I see now that I get the correct image at 1:1, but I do not get any warning using the HDR-tool.

Is the last dev build W10 mentioned by gaaned92 the top one on the official download list?

[2018-06-23 07:38] gaaned92 commented on #4630
@olhof
just on the right of the tool name, you have this small sign 1:1. It warns that the effect is only visible at 1:1 and above. Hover above it and you will get the message as in @heckflosse post.
Present since official 5.4 at least.
If you want use development builds see https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

[2018-06-24 07:45] xlfjn opened #4634 "Add support for demosaiced float DNG files"
[The image](https://filebin.net/b4l9wiet7qm886vy) was generated by HDR mode of the camera in Lightroom Mobile 3.5.1. It should use 32-bit floating point as per [the official document](https://helpx.adobe.com/lightroom/help/work-with-lightroom-mobile-android.html#lrmobile-android-capture-hdr).
It seems RawTherapee 5.4 (packaged by Arch Linux) can't open it. By running it in terminal, I got
[code]
I

[2018-06-24 08:47] Thanatomanic commented on #4630
Despite the warning, the `Dynamic Range Compression` seems like a tool that you would like to use to modify the entire image, and not locally. It's rather inconvenient then, that you cannot accurately view the result before exporting.
For many other 1:1 tools, the overall result will not differ as much between preview and output (e.g. microcontrast).

[2018-06-24 09:15] olhof commented on #4630
I agree. In this case the difference between the preview and output is surprisingly big and not like the minor differences in sharpening, noise reduction etc.
I am sorry I overlooked the little warning “1:1” and caused a lot of work for you guys...….
But I am impressed by the responsiveness of this forum...….:o)!

[2018-06-24 09:30] ff2000 commented on #4630
For the new Contrast Threshold in different tools together with the sharpening contrast mask preview it makes sense to see the effect also below 1:1, even if the final result of the sharpening will be observable only at 1:1 or above.

[2018-06-24 11:43] heckflosse commented on #4634
@xlfjn

Prioirity for this is not very high atm.

https://github.com/Beep6581/RawTherapee/issues/4626#issuecomment-398862510

[2018-06-24 12:22] xlfjn commented on #4634
@heckflosse Thank you for your reply.

I'm new to raw processing… I thought since the image has been processed a bit, it should be easier to deal with. Is it because of a lack of popularity?

The current situation of open RAW decoding library seems a bit messy. On dcraw side, there are the original dcraw, libraw and the bundled dcraw in RT. It leads to duplicate effort when supporting new cameras

[2018-06-24 14:03] falket commented on #4169
Finally i've been able to take a shoot with a lens with a lcp, that leads to clipped highlight when using the lcp from camera raw. @TooWaBoo @heckflosse @Beep6581

To summarize, you can find it here:

https://we.tl/7nxNcFOEyR

1) a PEF file together with the lcp file. Applying neutral profile and lcp leads to clipped highlight.

2) the "old" dng file for the honor 6a, together with the lensfun xml

[2018-06-24 17:02] TooWaBoo opened #4635 "DCB+VNG4, DCB enhancement checkbox is missing"
@heckflosse
... and Number of DCB iterations is missing too.

[2018-06-24 17:51] heckflosse commented on #4635
@TooWaBoo Thanks for reporting. Will fix it now

[2018-06-24 17:58] #4635 closed, assigned to nobody

[2018-06-25 00:06] Hombre57 commented on #4478
@Desmis `testoutputprofile` has been updated : the icon opening the **ICC Profile Creator** is next to the Preferences button.

Once the parameters are set in this little windows, you can save the profile through the `Save as...` button, then use the `Close` button to close the window when your profile is correct.

For now, you can save it to any location, the file chooser remember it's last used

[2018-06-25 07:33] casta opened #4639 "Artifacts appears sometime when using Highlight reconstruction Colour propagation together with the combined xtrans demosaicers"
I just encountered a display intermittent bug with dual X-Trans demosaicer (both 1-pass + fast and 3-pass + fast).
It happens when moving the contrast slider, but is intermittent. For the same contrast value it sometimes appears, and sometime disappears, so it sounds like some race condition.

See screenshot.
![rt-1pass fast-bug](https://user-images.githubusercontent.com/835444/41836261-7cc53210-7

[2018-06-25 07:57] Beep6581 opened #4640 "Post-Resize Sharpening Contrast Threshold maximum is 100"
Hello

@heckflosse the Post-Resize Sharpening tool's Contrast Threshold slider maximum is 100, while the main sharpening tool's maximum is 200. Is that intentional?

I'm working on a photo which, when downscaled to 1920x1040 and saved without PRS, requires setting the main sharpening tool's threshold to 150 or even 200. i.e.
1. Open the raw file,
2. Save it once to 1920x1040 without PRS,
3. Open t

[2018-06-25 07:59] Desmis commented on #4478
@Hombre57
I just tested your work, thank you for this beautiful GUI work :)

I found a bug when you selected **for the first time** a v4 ICC, with "Tone response curve" = **"Custom"**
In this case, the values of the parameters for the curve are compeletly false. I look summary but I dont' find the mistake, probably an initialization problem
ex : for gamma=2.4 slope=12.92
good values are for parame

[2018-06-25 09:11] Beep6581 commented on #4639
@casta it looks like the red parts appear in areas with clipping, so please photograph or find a similar raw file where you can reproduce the problem and upload a sample raw file + PP3 using https://filebin.net/
and provide the missing info (complete version information): http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-06-25 09:46] #4640 closed, assigned to nobody

[2018-06-25 10:02] heckflosse commented on #4639
@casta If you can't provide the raw file, please attach at least the pp3 file (just add a .txt suffix to attach it here)

[2018-06-25 10:52] Beep6581 commented on #4630
I will add @agriggio 's [comment](https://github.com/Beep6581/RawTherapee/issues/4630#issuecomment-399406224) to the docs.

[2018-06-25 11:08] casta commented on #4639
PP3 is here: https://cloud.xwing.info/s/o7m28EZ3T3Yt6qc
I send you a link privatlely with the raf file through your forum account

Of course, this was tested with last master

[2018-06-25 11:53] casta commented on #4639
By the way, the running configuration:

Version: 5.4-432-gae9ea3d3
Branch: dev
Commit: ae9ea3d3
Commit date: 2018-06-25
Compiler: x86_64-pc-linux-gnu-gcc 7.3.0
Processor: Intel(R)\ Core(TM)\ i7-4790\ CPU\ @\ 3.60GHz
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.3.2.0
Build type: Gentoo
Build flags: -march=native -O3 -mtune=native -pipe -std=c++11  -Werror=unused-label -flto -fopenmp

[2018-06-25 14:56] Hombre57 commented on #4478
@Desmis Thanks for spotting this out. Fixed in commit 97ea1cd.

@Beep6581 Actually the ICC profiles we generate with ICC Profile Creator has copyright = `Copyright RawTherapee 2018, CC0`. Since the values can be set by the user, is this copyright still correct ? Should I add a text entry for the copyright ?

The device manufacturer is still `RawTherapee` though.

The profile description is fixed b

[2018-06-25 15:14] Beep6581 commented on #4478
@Hombre57 it would be good to allow a custom description where possible. It would probably also be good to allow a custom copyright text with the current CC0 text as a default (though I have a hard time imagining anyone trying to enforce said copyright in court).

[2018-06-25 15:31] Desmis commented on #4478
@Hombre57
I test with this new commit, all seems to work well...to verify :)

If I agree with the possibility to allow "custom description", why for copyrigth ??... where then I do not understand anything about free software (for me this copyright is for Rawtherapee??) , but for me if you think it's desirable then why not

jacques

[2018-06-25 15:38] heckflosse commented on #4639
It turned out that this is a bug in highlight reconstruction colour propagation. Still searching...

[2018-06-25 16:04] Beep6581 commented on #4478
@Desmis as far as I understand it, one automatically owns a copyright over everything one makes, even if that thing is released into the public domain, i.e. the copyright asserts your right to release that thing under your licence of choice. This is why I [asked previously](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-388754924) that you use your name in the copyright tag of th

[2018-06-25 18:36] heckflosse commented on #4639
I don't think it's an openmp race because my usual test (process the same image 5 times in a row and check for differences) shows no differences and also because the symptomatic (error is reproducible on linux but not on windows) is a hint for access to uninitialized memory.

[2018-06-25 19:48] sguyader commented on #4639
I haven't encountered this with any of my images, despite using Color propagation often (X-T2, Linux Manjaro)

[2018-06-25 19:53] casta commented on #4639
Yes, me too, color propagation is my default highlight recovering method and I never encountered this… until I played with the dual demosaicers, that triggers the case.
We saw that with Ingo this afternoon, fast demosaicing / contrast threashold change triggers it.

[2018-06-25 20:05] heckflosse commented on #4639
It's really hard to trigger. Sometimes I need more than 20 tries.

[2018-06-25 20:30] heckflosse commented on #4639
It can also be triggered without changing contrast threshold just by quickly switching between two demosaicers very often. Quickly switching between fast and 1-pass can trigger it.
Slowly switching between demosaicers I didn't manage to trigger it.

[2018-06-25 21:03] jedypod opened #4641 "rawtherapee-cli Does Not Support 32-bit Tiff Output"
I am interested in the 32 bit float tiff output that was added in RawTherapee v5.4. It is working well in the GUI, but it appears that the ability to export 32 bit tiff files from the rawtherapee-cli commandline version of the program is unavailable.

Is this something that could be added?

I am using `RawTherapee 5.4, released on 2018-03-20.` and have also tried compiling the latest nightly which

[2018-06-25 21:21] Beep6581 commented on #4641
There is ongoing work in issue 2357, see from https://github.com/Beep6581/RawTherapee/issues/2357#issuecomment-345558426

Closing as duplicate of #2357

[2018-06-25 21:21] #4641 closed, assigned to nobody

[2018-06-25 21:46] heckflosse commented on #4639
I turned out, that in the combined xtrans demosaicers the 1 pix border of the fast demsaic version was not set, which led to access to uninitialized memory.

[2018-06-25 21:50] #4639 closed, assigned to nobody

[2018-06-25 23:01] Hombre57 commented on #4478
@Beep6581

Same could apply with output image copyright ? They've been generated with a FLOSS but you still set your name in the copyright section, since it's your creation. I'm not a lawyer and don't know if it makes sense, so I'll add 2 text input and end this discussion :). Meanwhile, do you agree to merge this branch in dev ?

[2018-06-26 00:30] jedypod opened #4642 "Resolution Smaller Than Source RAW File"
Greetings!
I have a raw dng file that is 1920x1080. I can decode this raw file at this resolution in Darktable, Krita, Digikam, and even dcraw commandline, but in RawTherapee it decodes at 1912x1072, with 4 pixels cropped on each side. I understand why this is done: to keep the best demoisaic quality over the entire frame.

With a high resolution still image, this cropping is usually fine. However

[2018-06-26 00:35] jedypod commented on #4641
Okay!

I did not read through the other issue thread carefully enough. I see the 32 bit cli mentioned now.

Thanks for your help!

If you guys can successfully implement 16bit half float exr output with color management, you would have the best raw debayer software in the open source realm :)

Keep up the good work!

[2018-06-26 07:03] casta commented on #4639
Great !!
I cannot reproduce anymore with your fix

Thanks

[2018-06-26 08:03] Beep6581 commented on #4642
@jedypod hi, could you please upload the DNG file (not zipped) to RPU?
https://raw.pixls.us/

[2018-06-26 08:28] Beep6581 commented on #4478
I tested 97ea1cd0:
1. When I opened a test image which had a PP3 from a `dev` build, the output profile was set to "No ICM: sRGB Output". RT should match the old profile names in the PP3 to the new profile names to maintain backward compatibility.
2. When I applied "Neutral", the output profile was still "No ICM: sRGB Output". The hard-coded neutral value needs to be updated.
3. In the ICC Profile

[2018-06-26 11:04] heckflosse commented on #4642
I will see what I can do...

[2018-06-26 14:49] TooWaBoo commented on #4148
New update
[code]

[2018-06-26 18:37] Thanatomanic opened #4643 "Resize should not automatically upscale"
Currently, if you have the `Resize` module enabled and export an image with dimensions lower than those set in the module, the image is upscaled. It would be convenient to disable this behavior by default, instead of having to disable the module for images that have been cropped more than others.

[2018-06-26 20:39] Hombre57 commented on #4643
A combobox with those entries should be added I guess : `Downscale only`, `Upscale only` (who will use this ?), `Upscale and downscale` ?

[2018-06-26 20:48] Beep6581 commented on #4643
I agree.
My opinion is that a "Downscale only" checkbox should be enough.

[2018-06-26 20:50] Beep6581 commented on #4628
[code]

[2018-06-26 20:53] #4628 closed, assigned to Beep6581, heckflosse

[2018-06-26 22:26] Beep6581 commented on #3558
`5.4-435-g`702a88f7 + small change for @heckflosse
[code]

[2018-06-26 23:12] RawConvert opened #4644 "Bug? - RT Lab setting is ignored when PP3 loaded"
This is with RT 5.4.412 built 17 June.
You open the raw file, then load a .pp3 previously created when you saved as a jpeg, but RT ignores a Lab setting which is an LH change via Equalizer.  The .pp3 contains an L custom curve also.  So when you click the down arrow for LH, and click Equalizer, the preview changes (darkens), correctly reflecting the LH setting whose curve you now see.  This consis

[2018-06-27 07:19] Floessie commented on #4609
Our bug was fixed. Closing.

[2018-06-27 07:19] #4609 closed, assigned to nobody

[2018-06-27 08:19] RawConvert commented on #4626
@heckflosse , Ingo, if I understand correctly, he's removed "Canon" from "Canon EOS 5DS R".  Have you any idea what effect this has?  E.g. just cosmetic, or might Raws from this camera have been converted less than optimally by DCRAW in the past (a recognition issue)?  Cheers.

[2018-06-27 08:20] heckflosse commented on #4644
@RawConvert In your pp3 there is no modified LH curve:
[code]

[2018-06-27 08:47] RawConvert commented on #4644
Apologies, I must have been confused, doh.  It's that thing where the curve is retained from the previous Raw.  I thought I had output a revised jpeg, but it looks like I hadn't...  Have just re-output and now the LH is ok.  (Although it still puts an item in History even though all you've done is click on LH to see the curve displayed - but you haven't changed anything...)

[2018-06-27 09:55] heckflosse commented on #4644
@RawConvert

You changed the curve mode from `Linear` to `Equalizer`

[2018-06-27 10:19] RawConvert commented on #4644
No!  I'm loading a jpg.out pp3 which has the eq curve in it - not the one I uploaded above but today's freshly output one.  So when it loads, the LH button is showing the curve icon, not the linear icon.  So the eq is being applied as soon as it's loaded, which is correct, and which is confirmed by the preview not changing when I select Eq (to show the curve).  So I'd say the history entry is inco

[2018-06-27 10:23] RawConvert commented on #4644
P.S. I see that if you click the LH **button** in order to show the curve, then there's no history added, but there is if you do it via the dropdown (even though it's already on Eq)...

[2018-06-27 11:26] heckflosse commented on #4644
@RawConvert

confirmed

[2018-06-27 11:37] Floessie commented on #4576
Finally, the following approach seems to work, though I'd like @Hombre57 to take a close look:

[code]

Here's what I did:
1. Solve the deadlock from the [comment above](https://github.com/Beep6581/RawTherapee/issues/4576#issuecomment-393560563) by making `ThumbImageUpdater::Impl::active_` atomic so that the mutex lock could be shifted as needed in `removeJobs()`.
2. That results in a new deadlock

[2018-06-27 18:36] Hombre57 commented on #3801
Found this just today : http://dev.exiv2.org/projects/exiv2/wiki/How_does_Exiv2_compare_to_Exiftool

[2018-06-27 18:39] TooWaBoo commented on #4148
new update
[code]

[2018-06-27 20:37] heckflosse commented on #4642
@jedypod I created `fullraw` branch, which should solve the issue. There maybe some side effects which need to be solved. Please test...

[2018-06-27 20:55] heckflosse commented on #4642
Currently 0pix border works only for bayer files.
Is that needed also for xtrans files?

[2018-06-28 02:14] jedypod commented on #4642
Thank you!

I've uploaded the DNG file to the raw archive that @Beep6581 linked to above.
- The DNG is sourced from a Canon 5D mk3, and was recorded using Magic Lantern in 12 bit lossless compression mode. The DNG was converted from MLV format into DNG using mlvfs and then re-converted into a lossless compressed DNG file using digikam.

I pulled the latest from git, recompiled from the `remotes/or

[2018-06-28 09:22] heckflosse commented on #4642
@jedypod
![grafik](https://user-images.githubusercontent.com/13733487/42025674-723bb838-7ac5-11e8-9f4a-790dfb757fe8.png)

[2018-06-28 16:07] heckflosse commented on #4642
@jedypod There is a bug in full processing (queue/saveas) which leads to old behaviour (4pix border). I will fix that...

[2018-06-28 17:04] Beep6581 opened #4647 "Wavelets cause edge artifacts"
Enabling Wavelets, even if everything within the tool is disabled, leads to artifacts along the edge.

![screenshot_20180628_190205](https://user-images.githubusercontent.com/5844619/42049302-daa0c5b8-7b05-11e8-980b-885d0a10c55b.png)

![screenshot_20180628_190211](https://user-images.githubusercontent.com/5844619/42049303-dabd4cb0-7b05-11e8-8972-a3312e3bfff0.png)

[2018-06-28 17:31] TooWaBoo commented on #4148
New update
[code]

[2018-06-28 17:56] heckflosse commented on #4642
@jedypod The above mentioned bug is fixed now

[2018-06-28 18:53] #4579 closed, assigned to heckflosse

[2018-06-29 03:09] jedypod commented on #4642
Thanks @heckflosse - I have successfully compiled the latest git branch and it is working very well! I have successfully tested this added functionality pretty extensively and haven't seen any other bugs yet.

I'll keep testing and report back here if I find anything.

Thank you! This is why I love the open source community :)

[2018-06-29 08:39] ff2000 commented on #4416
Might be I'm in here, too. With the difference that 1) it also happens when just opening and closing an unedited RAW file with default settings (no NR, no sharpening, no wavelets, ...) will increase the memory usage:

[code]

and 2) the workaround with those env variables (here: MALLOC_ARENA_MAX=1) is of limited use:
[code]
Furthermore it degrades performance quite severely.

I have to say that I

[2018-06-29 09:49] heckflosse commented on #4642
@jedypod Thanks for testing :+1:

[2018-06-29 10:10] #2698 closed

[2018-06-29 10:10] #4642 closed, assigned to heckflosse

[2018-06-29 17:59] LebedevRI commented on #4531
Cross-referencing https://github.com/darktable-org/rawspeed/issues/121 https://github.com/Exiv2/exiv2/issues/236 https://redmine.darktable.org/issues/12246

@j03jones regarding RPU, how many raw modes does that camera have? It looks like there are two?
Also, does the aspect ratio really produce different **raw** files?

[2018-06-29 18:10] j03jones commented on #4531
It does have two different raw outputs (.CR3, C-RAW).

[2018-06-30 06:55] Thanatomanic opened #4648 "Default monitor profile can only be set through preferences"
In the display profile dropdown list at the bottom of the editor window, you can select "System default (...)". However the option `autoMonitorProfile` does not get set. You can check this by going into Preferences, where the checkbox "Use operation system's main monitor colour profile" remains unchecked. I expect it to get checked.

The other way around things work: if you check the box in the pr

[2018-06-30 07:47] #4576 closed, assigned to nobody

[2018-06-30 09:47] tsi12 opened #4649 "Automatically crop based on aspect ratio in metadata"
As known, latest models of panasonic cameras (GX-80 in my case) produce raw image file of entire sensor area (ratio 4:3) regardless of aspect ratio setting in camera menu. Some raw convertors like silkypix can read some tag and crop image as noted in menu. Is it possible to implement that in RT?

[2018-06-30 10:21] Hombre57 commented on #4478
@Desmis @Beep6581 The names are set in [rtgui/options.h, l. 548](https://github.com/Beep6581/RawTherapee/blob/97ea1cd0db217b6fb5f9787097f8ce5632b29253/rtgui/options.cc#L548), but is also harcoded in numerous place. Should I convert the hardcoded places to use the `options.rtSettings` strings ? And/or use DEFINES so that updating file names will be easier ?

[2018-06-30 10:46] Hombre57 commented on #4478
@Desmis @Beep6581

So this is how you've renamed and assigned the profiles to the `rtSettings` parameters :

rtSettings|old file name|new file name
----------|-------------|-------------
adobe|RT_Medium_gsRGB|RTv4_Medium
prophoto|RT_Large_gBT709|RTv4_Large
prophoto10|RT_Large_g10|RTv4_Large
srgb10|RT_sRGB_g10|RTv4_sRGB
widegamut|WideGamutRGB|RTv4_Wide
srgb|RT_sRGB|RTv4_sRGB
bruce|Bruce|RTv4_Bruce

[2018-06-30 11:29] Desmis opened #4650 "White balance Auto - new algorithm Itcwb"
I just commit in branch "autowblocal" a big improvment to "Itcwb" - Auto iterate temperature correlation"
To test :)

Here the summary:

This algorithm try to find temperature correlation between 20 to 40 color between 98 spectral color and about 20 to 40 color found in the image, I just found the idea in the web "correlate with chroma" instead of RGB grey point,but I don't use any algo found on t

[2018-06-30 11:33] Desmis commented on #4478
@Hombre57
Why have I named it "Large", "Medium"...is only copyright protection...
Elle Stone did the same thing, but for me no problem at all ;)

No need to keep xxx10 :)

jacques

[2018-06-30 12:04] Hombre57 commented on #4478
@Desmis Ok, I'll let our lawyer (i.e. @Beep6581 :wink: ) answer on this. But could you tell me if we can remove hardcoded strings and use `rtSettings` one instead ? Or should we still keep some of them to force using the bundled profiles ?

[2018-06-30 13:37] Beep6581 commented on #4478
According to https://www.inta.org/TrademarkBasics/FactSheets/Pages/Fair-Use-of-TrademarksNL.aspx I think using "AdobeRGB" and "ProPhoto" as part of the filename to describe how the ICC profile performs would fall under descriptive fair use, i.e. "RTv4_AdobeRGB.icc" clearly states that it is a RawTherapee profile which performs as the well-known color-space which is called Adobe RGB. Then again, ne

[2018-06-30 14:39] Beep6581 commented on #4650
* The branch compiled and ran fine.
* The results of "Auto iterate temperature correlation G = camera" (AITC) are generally fantastic and natural!
* The WB on this synthetic non-raw image is incorrect when using AITC but correct using all other modes.
http://rawtherapee.com/shared/test_images/8_bit_integer_gamma.png
* The Filmstrip thumbnails do not match the navigator thumbnail or main preview:
!

[2018-06-30 15:06] Desmis commented on #4478
@Hombre57

I am not sure to all understand by what you mean by "hardcode"
But  the way you think it is better, is better for me (I am not at all a specialist).
#define seems a good  solution :)

jacques

[2018-06-30 15:30] Desmis commented on #4650
@Beep6581
Thank you for testing so fast :)

I think artificial image are not the domain of Itcwb (AITC)

I think if the camera wb is slighly wrong, no problem...but if it is completely wrong perhaps result wil not be good...to verify :)

This algorithm is quite complex, I spent a lot of time and explained during the holidays to my 14 year old grandson the principles of algorithm, which told me, "i

[2018-06-30 15:52] heckflosse commented on #4650
@Desmis I also tested with a lot of files using AITC. Currently it works good if the camera wb is good, but works bad if the camera wb is totally off (for example in UniWB shots).
Maybe iterate twice (one time starting from old autowb, and another time starting from camera wb) and then pick the best?

[2018-06-30 15:56] Desmis commented on #4650
@heckflosse
Ingo thank you for testing :)
Can you provided image where camera wb is totally off...but of course with "normal" illuminant

But I amm not sure of the result...

[2018-06-30 16:03] Desmis commented on #4650
Generaly I think we cannot found an algorithm thats solves all cases, because the problem is mathematically undetermined.
Now we have 2 principles for auto wb
* grey with differents forms
* correlate color

I think the second is best in most cases, but not for all cases...as the auto wb of ours cameras :)

[2018-06-30 16:05] heckflosse commented on #4650
@Desmis Jacques https://filebin.net/gofuuy25y47xsse0

[2018-06-30 16:11] Beep6581 commented on #4650
@Desmis I updated my post with more data. If you read this via email you will not see the updates, so please see:
https://github.com/Beep6581/RawTherapee/issues/4650#issuecomment-401545185

[2018-06-30 16:31] Desmis commented on #4650
The wrong result is due to very bad "green"
I have 2 algo, that I had hidden, and I re-put the first where green (and only green) is calculated by auto standard deviation

I just commit this little change :)

[2018-06-30 16:41] Thanatomanic commented on #4254
@Floessie Did this also get resolved by fixing #4576 ?

[2018-06-30 17:04] heckflosse commented on #4650
@Desmis Jacques, just an idea: How about starting the iteration with a tint of 1.0 instead of the camera wb tint?

[2018-06-30 17:31] Desmis commented on #4650
Ingo

No problem, I have already tested this way, you put 1. for green!
It's an hypothesis to put 1. and allow the user with a process similar to "awb temperature bias", but with "awb green bias"...why not ??

I have also the possibility to make to converge Y in xyY...until now I have not arrived, but why not !!

[2018-06-30 17:40] Desmis commented on #4650
we can also (if my "converge" does not work), calculate green
if camera green near 1 (0.8 ..1.2) then use camera green
else green = 1 and "awb green bias".

[2018-06-30 17:44] HowardBiel opened #4651 "Brushes"
Brushes should be implemented

[2018-06-30 18:04] Thanatomanic commented on #4651
Can you elaborate? What do you want to do with a brush?

[2018-06-30 18:07] Desmis commented on #4650
I will try tomorrow or after... "converge" for "Y". I don't understand why it works for xy and not for Y...but...some days ago none works... !!

and also, if not "converge" I will apply an algo as above with green camera

jacques

[2018-06-30 18:44] Thanatomanic commented on #2376
While browsing through the outstanding issues, I found I could not reproduce this. Both the bar in the histogram and the navigator seem to give accurate pixel readings even at very high magnification or very small crop windows.
Can be closed?

[2018-06-30 18:46] heckflosse commented on #2376
@Thanatomanic Thanks for having a look. I think we can close this. @Beep6581 ?

[2018-06-30 18:54] agriggio commented on #4651
someone should pay for them

[2018-06-30 19:41] heckflosse commented on #4254
@Floessie @Thanatomanic
In my tests this is also fixed now.

[2018-06-30 19:54] #2934 closed

[2018-06-30 19:57] heckflosse commented on #1853
Closing because @adamreichold is no longer active since more than two years.

[2018-06-30 19:58] #1853 closed

[2018-06-30 20:47] heckflosse commented on #4651
@HowardBiel

`should be implemented` is not how FOSS works.

I guess you meant `implementing brushes in near future would be nice` ;-)

[2018-06-30 21:21] heckflosse commented on #4650
@Desmis Jacques, I will test asap

[2018-06-30 21:22] heckflosse commented on #4649
I'm not against this. But there are more important things to do at the moment imho.

[2018-07-01 05:38] Desmis commented on #4650
I just commit a small change

I limited the value of green camera to avoid very bad values
Arbitrary when green is between 0.83 and 1.20, this value is used by Itcwb
if outside green=1...the user if need can move green, but it does not recalculate AutoWB

[2018-07-01 07:50] Thanatomanic commented on #2708
I cannot reproduce this anymore using `5.4.455`

[2018-07-01 10:45] LordVan opened #4653 "Have CMake check for libtiff >=4.0.4"
Due to the fact that I still had a quite old tiff lib I got an error message compiling:
(only relevant part copied)

/var/tmp/portage/media-gfx/rawtherapee-5.4/work/rawtherapee-5.4/rtengine/imagedata.cc: In constructor ‘rtengine::FrameData::FrameData(rtexif::TagDirectory*, rtexif::TagDirectory*, rtexif::TagDirectory*)’:
/var/tmp/portage/media-gfx/rawtherapee-5.4/work/rawtherapee-5.4/rtengine/image

[2018-07-01 11:03] Beep6581 opened #4654 "Allow DCP Tone Curve to work on non-raw files"
The DCP Tone Curve only works on raw files. It would be nice if it worked on non-raw files as well, allowing one for example to apply a negative DCP tone curve when working on scanned negatives in TIFF format.

[2018-07-01 11:47] Desmis commented on #4650
I found my mistake for calculating with green. I was wrong for optimization, it is not Y that should be optimized, but xy, even if it is Y (green) that varies.
The only problem, and that is not obvious is that convergence is not as obvious as with chroma alone, the variations are small!

for now, I'll leave the value of green as it is currently apprehended (camera green, or 1.) and work on the alg

[2018-07-01 13:10] awaysounds commented on #4196
i need this feature.
add it in converter please.

[2018-07-01 16:24] Desmis commented on #4650
I think, to verify, no line of code is written, it will be possible to optimize green as temp, but with a process slightly different, with some lops adds...after that we would have green and temp (sligthly recalculated)

Of course, to verify,  if what I have in mind will work ?

[2018-07-01 16:35] #1901 closed

[2018-07-01 17:27] agriggio commented on #4648
hi, why do you consider this a bug? if you want your setting to stay permanent, you should use the preferences dialog...or maybe I am misunderstanding?

[2018-07-01 17:34] Thanatomanic commented on #4648
This issue balances on a wrong assumption of mine. Whoops. I thought it had always been like this: you choose a profile in the dropdown below the image, and it gets stored for re-use after restart. That's not the case...
I was confused because ever since I started to build RT on my own, the dropdown remained empty. I guess I had just forgotten that in my 'regular' installation, many months ago, I

[2018-07-01 19:04] Beep6581 commented on #4501
Related: #4653

Back in April I installed CentOS to update the compilation instructions, which I did: http://rawpedia.rawtherapee.com/Linux#CentOS

I will install CentOS again when RT 5.5 is released, and if the instructions fail, I will remove CentOS support from RawPedia, because it will simply not be worth maintaining instructions which rot quickly and are not simple to follow because a distro

[2018-07-01 19:41] TooWaBoo opened #4655 "Filmstrip height not high enough after latest dev"
I guess this issue belongs to the Filebrowser scroll changes from last update.

![grafik](https://user-images.githubusercontent.com/13800920/42138041-3234bcf8-7d77-11e8-8d50-610f113e2cbd.png)

[code]
ping @Thanatomanic

[2018-07-01 19:46] Thanatomanic commented on #4655
Could you post a screenshot of your General preferences? When does this happen, immediately after startup and opening an image?

[2018-07-01 19:49] TooWaBoo commented on #4655
It's immediately after startup.

![grafik](https://user-images.githubusercontent.com/13800920/42138118-87cde8aa-7d78-11e8-9329-68408e2a9f6e.png)

[2018-07-01 20:06] Thanatomanic commented on #4655
Unfortunately I cannot reproduce...

Immediately after opening:
![image](https://user-images.githubusercontent.com/6567747/42138260-ec435480-7d7a-11e8-8f72-6259de7bb977.png)
My settings:
![image](https://user-images.githubusercontent.com/6567747/42138264-f660b25a-7d7a-11e8-8ecc-55045f79c26a.png)

Could it be due to the theme you're using?

[2018-07-01 20:16] TooWaBoo commented on #4655
It's theme independend. I also changed the thumbnail height. It's always the same.

[2018-07-01 20:18] Thanatomanic commented on #4655
Maybe it's OS dependent? DPI dependent?
I run Win 7, you seem to be on Win 10.

[2018-07-01 20:19] heckflosse commented on #4655
I investigate as well atm

[2018-07-01 20:45] TooWaBoo commented on #4655
I've removed the code below from thumbbrowserbase.cc and this fixed it.
Line 522
[code]

[2018-07-01 20:57] heckflosse commented on #4655
@TooWaBoo

seems to be my fault :(((

[2018-07-01 21:00] heckflosse commented on #4655
I should concentrate on rt engine instead of doing side steps on gui.....

[2018-07-01 21:17] heckflosse commented on #4655
That's not funny :laughing:

[2018-07-01 21:19] heckflosse commented on #4655
@Thanatomanic feel free to fix my mistakes...

[2018-07-01 21:24] TooWaBoo commented on #4655
@heckflosse
It's funny (for me). 😇

[2018-07-01 21:33] heckflosse commented on #4655
LOL

[2018-07-01 21:54] Beep6581 opened #4656 "Full-apply applies partial profile from Filmstrip"
`5.4-454-g`be07fd83

Steps to reproduce:
1. Open a raw file, enable black-and-white
2. Right-click on this raw file from the Filmstrip, Processing Profile Operations > Apply > Bundled Profiles > Auto-Matched Curve - ISO Low

Since you're not using "Apply - partial", you would expect to see a colored photo, but the black-and-white tool remains enabled.

[2018-07-01 22:34] #2376 closed

[2018-07-01 22:35] #4651 closed, assigned to nobody

[2018-07-02 05:20] Thanatomanic commented on #4655
@heckflosse, can you simply revert commit `cccfb02`?

[2018-07-02 06:50] Floessie commented on #4254
@Thanatomanic Good catch. I wasn't even aware of this issue only half a year later. I guess, I'm getting old. Anyway: Same description and same backtrace as in #4576 and positive test from @heckflosse (:+1:). Closing.

[2018-07-02 06:50] #4254 closed, assigned to nobody

[2018-07-02 09:03] #4655 closed, assigned to nobody

[2018-07-02 09:22] Beep6581 commented on #4656
Or it could be that the Auto-Matched Tone Curve button is always enabled when pasting a profile.

I just added the old "Default.pp3" to the profiles folder so that it will show up in the context menu, opened RT `5.4-454-g`be07fd83, cleared the profile from a photo, applied the old Default, and when I examine the photo in Batch Edit or in the Editor, Auto-Matched Tone Curve is enabled.

Need furthe

[2018-07-02 09:26] Beep6581 commented on #4656
I deleted the cache, applied the old Default to a photo, and `cat` of the pp3 shows:
[code]

[2018-07-02 09:32] Beep6581 commented on #2708
Confirmed, I cannot reproduce neither the first nor the fourth bug anymore.

[2018-07-02 09:32] #2708 closed

[2018-07-02 10:49] heckflosse commented on #4656
@Beep6581

I disagree. We simply need a 'Processing profile fill mode' button in toolbar of filebrowser/filmstrip.

[2018-07-02 11:17] Desmis commented on #4650
I just push a commit with an enhance algorithm for "diificult" cases

1) when green camera is between 0.8 ad 1.3, I use always this value
2) when green camera is out these values, I add a new loop where "green" change. After many tests , I reserved this new algo only for this cases "diificult", because as I feared in some cases (images where the colors are weakly saturated for example, the differe

[2018-07-02 19:28] Thanatomanic opened #4658 "Minor request: make icons more in line with their meaning"
So, this is really minor, but something I did not find intuitive. And since #4469 is being worked on, I'll ask anyway. Might I suggest a minor alteration to the following icons in the filebrowser?
![image](https://user-images.githubusercontent.com/6567747/42182495-a93b4624-7e3e-11e8-962e-a8726ed4926c.png)

While it is clear that a magnifying glass means inspection, and a red cross means something

[2018-07-03 06:15] Desmis commented on #4650
I think I can improved this second part but not today..of course to verify.
Today I am not at home

Le sam. 30 juin 2018 23:22, Ingo Weyrich <notifications@github.com> a
écrit :

[2018-07-03 07:36] Beep6581 commented on #4658
@Thanatomanic I actually already changed those icons. I tweaked a few others as well, and they will all require review and some further tweaking. Let's do all that in #4469.

[2018-07-03 09:16] Beep6581 commented on #196
Handled by #4537

[2018-07-03 09:16] #196 closed

[2018-07-03 09:17] Beep6581 commented on #4537
PR #4618

[2018-07-04 06:48] Desmis commented on #4650
I push a commit with some improvments to algorithm "extra" (for image where camera settings are wrong)

I introduced other "options" to test, but I think the values by default are generaly the best
All options Itcwb:

    **Itcwb_thres** : 20 by default ==> number of color used in final algorithm - between 10 and max 40
    **Itcwb_sort** : false by default, can improve algo if true, ==> sort valu

[2018-07-04 10:37] agriggio commented on #4656
I haven't checked in detail, but here's a possible explanation of what is happening: the profile you are applying is partial, and it doesn't get completed with default values for the missing entries. So, if the old profile for the photo had `HistogramMatching=true`, that will not get overwritten.
I tend to agree with @heckflosse that this is not necessarily a bug, but just a lack of feature...

(I

[2018-07-04 11:04] Beep6581 commented on #4656
Yes, it does seem so, though I wonder how it went unnoticed for so long.

In my opinion the fill mode for the File Browser/Filmstrip should be hard-coded to "filled". I wouldn't object to making it optional, but see no use case for having it non-filled.

[2018-07-04 11:19] Beep6581 commented on #4656
Or we add new context menu options:
- Apply as-is
- Apply as-is, filled
- Apply partial
- Apply partial, filled

I suppose the same for pasting

[2018-07-04 15:37] TooWaBoo commented on #4148
New update
`gcc-libs-7.3.0-2`

[2018-07-04 16:30] Benitoite commented on #4653
https://github.com/Beep6581/RawTherapee/blob/8c3e14b7f0a128d82369ebcbb88abe3ccb930c7d/CMakeLists.txt#L323

This can be changed to
`pkg_check_modules(TIFF REQUIRED libtiff-4>=4.0.4)`

However as it stands you would have to either
* up the minimum cmake version to 2.8.8
Or
* put the findTIFF.cmake into the repository.

I don’t know if changing the cmake version will break someone’s build system.

I

[2018-07-04 16:35] Desmis opened #4661 "Problem with Msys2 and pacman"
To day I want to updatee Msys2
As others days  after call to msys2 and the shell windows is open
I run
$ pacman -Syu

and I have this message
error GPGME : moteur de chiffrement incorrect
etc.
I search on the web and found this link
https://github.com/Alexpux/MSYS2-packages/issues/393

I have tried some ideas, but nothing work...
What is the solution ?
Uninstall msys2, and re-install ??

Thank you

[2018-07-04 16:41] heckflosse commented on #4661
@Desmis Jacques
Can you try pacman -Syuu ?

[2018-07-04 16:43] Desmis commented on #4661
@heckflosse

I have tried, same error message :)

[2018-07-04 16:54] heckflosse commented on #4661
Strange. I just did `pacman -Syuu` about half an hour ago without problems

[2018-07-04 16:59] Thanatomanic commented on #4661
Also no problem here (Win7)...

[2018-07-04 17:00] Thanatomanic commented on #4643
Awesome @agriggio! I'll do some testing.

[2018-07-04 17:01] Desmis commented on #4661
Me also, I find that strange , but Mingw64 works and compile fine :)

I think, the best solution , because all is write in Alexpux/MSYS2-packages#393, is near Chineese for me, is to unistall all msys2 and reinstall afer
Is there a precaution to do that ??

In that case, I will uninstall tomorrow afternoon...and reinstall because it takes many many time !

[2018-07-04 18:08] Desmis commented on #4661
Or to preserve Mingw64 which works well, can I make a second installation of Msy2 in a second folder

Actually it is in Msys64
Is a second installation in a folder as Msys_64_ can works whitout problems ? Or is the best solution "uninstall" then "install" ?

[2018-07-04 18:19] heckflosse commented on #4661
@Desmis Just rename your current msys64 folder to msys64_old, then install from scratch into msys64 folder. If that does not work you can rename back to msys64.

[2018-07-04 18:30] Desmis commented on #4661
@heckflosse
I will do that tomorrow !
But a question, why this strange problem....
Perhaps I have had a problem with an update of Firefox (ver 61)...my computer hangs...I need to uninstall Firefox, now I used Google Chrome ??

Thank you

Jacques

[2018-07-04 19:14] Beep6581 commented on #4653
Thank you @Benitoite

CMake-2.8.4, our current requirement for Windows, is from [2011](https://cmake.org/pipermail/cmake/2011-February/042839.html)
CMake-2.6, our current requirement for Linux, is from [2008](https://cmake.org/pipermail/cmake/2008-May/021490.html)
CMake-2.8.8 was released in [2012](https://cmake.org/pipermail/cmake/2012-April/049955.html)

GCC-4.9.0 is from [2014](https://gcc.gnu.