[2017-05-30 20:21] Benitoite commented on #3899
I'm guessing it's file cairo-scaled-font.c, line 459.

[2017-05-30 21:24] Benitoite commented on #3899
@partha1b Commented out line 459 but now get the crash at 460.

`Assertion failed: (!scaled_font->global_cache_frozen), function _cairo_scaled_glyph_page_destroy, file cairo-scaled-font.c, line 460.`

[2017-05-30 21:25] RawConvert commented on #3886
hi,  that's very odd isn't it that I get clipping but you don't?!
Also I tried using sRGB for the working profile but it didn't make any difference to the image or the point where clipping started.

[2017-05-30 21:29] RawConvert commented on #3887
hi again.  The “gremlins” are these -
- that the jump occurs just by placing a point. I think common sense says that if you just put a point on and don’t change the curve’s path, then the image shouldn’t change
- using CTRL tends to cause a jump, but not always, so something weird is happening
- RT can get itself into a strange state, e.g. the screen grabs I posted on the sister issue to this one

[2017-05-30 21:40] Beep6581 commented on #3887
using CTRL tends to cause a jump, but not always, so something weird is happening

Sounds like in some cases you move the point, in others you don't. Keeping Ctrl pressed does not prevent the point from moving, it merely slows it down.

[2017-05-30 21:58] Benitoite commented on #3899
@Partha1b Ok, I've gotten that crash to go away by also commenting out 460, so far with the debug build.

[2017-05-30 22:02] RawConvert commented on #3887
"Sounds like in some cases you move the point" - no, this is not the explanation, please try it.  The point can be placed pretty accurately and the "jump" is out of all proportion to any slight misalignment, I think my two screen shots above show that.
"Keeping Ctrl pressed does not prevent the point from moving, it merely slows it down" - this is true if you're moving a point, but not if placing

[2017-05-30 22:30] gaaned92 commented on #3887
@RawConvert I just tried your files
1- what is strange, with your pp3, I don't get the same histogram.
2- I confirm the weird behaviour of custom curve in brightness mode. The same change of brightness occurs even if a point is added in the very shadow.
Playing with this curve shows other curious  or erratic behaviours.

In ligthness mode, behaviour is better but not really understandable (e.g. is

[2017-05-30 23:11] RawConvert commented on #3887
Thanks @gaaned92 , I'm glad someone else is also seeing the behaviour!
Regarding -1-, are you getting Scene Luminosity = 57.116 as @Desmis noted, and which I also get, please?

[2017-05-30 23:43] Benitoite commented on #3899
Success also in a release build.

[code]

https://filebin.net/fpn3joegylydvr3x/RawTherapee_OSX_10.9_64_5.1.zip

[2017-05-31 01:19] rechmbrs commented on #3892
Looking at RT 5.1, I don't see the problem I asked about.  Per chance were
the other manufacturers listed in the tool tip?  Or did I get them from our
earlier conversations?  Anyway it is fine as is for Pentax Pixel Shift.
To do the spatial version of the illumination variation, apply a Gaussian
filter for windowing.  Or a 2 pass boxcar.  Either way I think you have
version 1 of illumination compe

[2017-05-31 05:49] ChrisAshton84 opened #3901 "Windows 64 5.x builds crash when switching between editor (SETM) and file browser"
Hi, first time RawTherapee user here - I'm on Win10-64b and crash both the currently available version 5 builds available when I enter the editor.  This is editing Canon CR2 files in a folder w/ ~2800 photos.  Host is a Nehalem i7 w/ 24GB ram and a nVidia 970.  The issue happens after navigating into the directory w/ the photos and double clicking on any of them.  The editor comes up and seems to

[2017-05-31 07:59] Beep6581 commented on #3901
Hi @ChrisAshton84

If you're having trouble automatically creating a log file, you can do it by copying and pasting the backtrace. The 5.1 installer should contain a `rawtherapee-debug.exe` file. Run it through GDB as described [here](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step), then when RawTherapee crashes type "bt full" and paste everything which subsequently a

[2017-05-31 08:16] gaaned92 commented on #3887
@RawConvert
Regarding 1, I was using a bad pp3. Ok after renaming rock.cr2.pp3.
@Desmis
Jacques, You can confirm the bad behaviour using the " edition of node in/out value" button on upper right of curve.
If you input 50,50, there is a clipping. if you input 50, 50.001 no clipping! as it should be more clipped.
Now I really think there is a bug. Thanks in advance to have a look and bring a correct

[2017-05-31 09:02] Desmis commented on #3887
I used the pp3 "rock.pp3", and I don' have clip...

But I repeat another time, CIECAM is complex...The first thing to have good results, is that "Scene luminosity" is good, otherwise all seems to work bad.  Scene luminosity (La) is only used by CIECAM, not by RGB, or Lab, or LCH, etc. "La" correspond to the real luminosity of the scene. In this case it is low value.

Normaly "La" is calculate from

[2017-05-31 09:55] Beep6581 commented on #3887
There seem to be several points of confusion here so lets sort those out first:
1. We should all test on RawTherapee 5.1.
2. Let's make sure we're all using the same CIECAM02 settings in Preferences:
![imgur-2017_05_31-11 21 41](https://cloud.githubusercontent.com/assets/5844619/26625104/67a382dc-45f3-11e7-85b0-3992f78a42e3.png)
3. Set your monitor profile to "None" under the preview. This has no

[2017-05-31 10:35] #3899 closed, assigned to nobody

[2017-05-31 10:48] Beep6581 opened #3902 "Logic when a curve should be skipped from the pipeline not clear"
There appears to be a bug in the logic which decides when a curve should be skipped from the pipeline and when it should not.

The logic could be either:
* If no nodes in a curve then skip the curve, or
* If the curve is linear regardless of how many nodes there are, skip the curve.

But neither option matches the current behavior.

Tested using the CIECAM02 Tone Curve 1 in Custom mode.
Raw + PP3:

[2017-05-31 10:52] Benitoite opened #3903 "New fast mac 5.1 build using clang-mp-3 3.9.1"
This _should_ work for OS X 10.9+ Tested on 10.11 and 10.12.
This build addresses the couple of mac issues https://github.com/Beep6581/RawTherapee/issues/3899 Cairo Font Crash https://github.com/Beep6581/RawTherapee/issues/3882 Renaming App Problem
Known issue: intermittent crash on exit after editing images.

https://filebin.net/fpn3joegylydvr3x/RawTherapee_OSX_10.9_64_5.1.zip
[code]

[2017-05-31 10:53] Beep6581 commented on #3882
Please open a pull request with the required code changes and update http://rawpedia.rawtherapee.com/macOS if necessary.

[2017-05-31 10:55] Beep6581 commented on #3903
@Benitoite thank you for making builds! Consider advertising your build in the forum to get more exposure.

[2017-05-31 11:31] heckflosse commented on #3901
Looks similar to #3885

[2017-05-31 11:44] RawConvert commented on #3887
Some comments -
1. I'm on 5.1
2. I'm using these, guess they are the defaults.
3. I've tried "None" but the jump still occurs. I'm using"medium" because I have an adobeRGB panel and I believe "medium" is the RT equivalent of adobeRGB .
4. Afraid I don't understand the first sentence.  What puzzles me are the various things I've noted above and in the related Issue I raised.  Even if something was

[2017-05-31 11:53] Beep6581 commented on #3887
I am sure. 3902 is a bug in logic/consistency, while this issue is about whether it's correct for a linear curve to lead to a difference in output (my point 4). In the past it was said that that behavior was not a bug, but as you wrote, the question could be revisited.

[2017-05-31 12:57] Desmis commented on #3887
@Beep6581

GitHub seems (for me) to work bad...
I just push a new branch "ciecamtest"....but impossible to connect to GItHub after

More, I cannot directly  see all "Issues"...is it a problem with GitHIB ?...Oh now it work :)

So I just created a branch "ciecamtest" with a small change in the calculation of "wh" ... when "La" is low and the algorithm "brigthness" or "all" is used...  :)

I think w

[2017-05-31 15:21] Desmis commented on #3866
I just push a change with a new WB auto method....
It is that one we try to install 5 years ago. Now it works

Is name : "Robust auto WB algorithm using Gray Color Points in Image" Jy.Huo, Yl.Chang, J.Wang, Xx.Wei

This algo has the reputation to be the best (I'll say the less bad) of all WB auto.
It is slow because
1) we are in raw mode, near demosaic
2) this method is iterative, and time threatm

[2017-05-31 15:51] gaaned92 commented on #3887
@Beep6581 perhaps you are right to split the problem into small chunks, but beyond #3902 bug, the fact is that the behaviour is not sane. I think there is a global problem here in brightness mode and correction of 3902 will not really improve the situation.
for instance (be sure to be in brightness mode):
- put a point at (50,50)
-then increase brigtness by setting the preceding point to (50,50,00

[2017-05-31 16:06] Desmis commented on #3887
I just try with "rock" and my simple patch.
When I test the 2 conditions above - in "algo : Brightness + Colorfullness" and Tone curve 1 : Brightness, all seems to work well for me :)

I say seems, because I do not have clip :)

[2017-05-31 16:30] RawConvert commented on #3887
@gaaned92 , @Desmis ,  regarding getting / not getting clipping, my thresholds in Preferences are set at 3 and 252.  These might not be the defaults.

[2017-05-31 16:45] Beep6581 commented on #3887
Clipping is not the problem here, it is just the way @RawConvert observed the anomaly. The anomaly is that the brightness of the image jumps (to darker) the moment the curve enters the pipeline, even if it is linear or almost linear.

@Desmis I confirm that the jump in brightness does not happen in branch `ciecamtest`.

[2017-05-31 16:53] ChrisAshton84 commented on #3901
This happens identically w/ both 5.x releases available on the website.  I'll try again tonight to get a backtrace w/ the 5.1 release.  I don't think this is happening due to switching during thumbnail generation, btw, since I can wait an extended period of time, scan up and down the directory and see all thumbnails are visible, and then whenever I enter the editor it crashes (I believe it will ge

[2017-05-31 16:55] #3902 closed, assigned to nobody

[2017-05-31 16:57] Beep6581 commented on #3901
@ChrisAshton84 does it crash if you copy one of the files you tried opening into an otherwise empty folder and opening it from there? If yes, please upload it using https://filebin.net/

[2017-05-31 17:47] Benitoite commented on #3882
@partha1b @ion12 This user also has this crash-on-exit symptom https://discuss.pixls.us/t/rt-5-1-macosx-10-12-5-crash-when-i-edit-an-image/4320/8
I also get the crash-on-exit after editing images on El Capitan 10.11.

After several tries I was also experiencing a similar crash. Here's the lldb output:

[code]

[2017-05-31 21:58] heckflosse commented on #3892
@rechmbrs

Ron, thanks a lot for your kind comment.

I also think that the RT Pixel Shift implementation already outperforms other software which is capable to do Pixel Shift combine with motion detection. But I also think that improvements are possible. Especially for high ISO PS shots and for correcting changes in illumination.

For the first one (high ISO PS shots) there's an almost unknown met

[2017-06-01 02:39] ChrisAshton84 commented on #3901
No log.txt was created because I was running in Program Files and my user didn't have permissions.  I re-ran gdb as Administrator (I trust you guys, I guess?) and, after the incredible load time, triggered the crash, and yet the backtrace still wouldn't generate.  All threads had exited.  gdb wasn't breaking on the exception.  I don't usually debug c++ but thought adding catch catch and catch thro

[2017-06-01 02:52] ChrisAshton84 commented on #3901
EDIT: Doing below doesn't trigger a crash if I don't have it running under gdb.exe / catch catch / catch throw so perhaps you're using exceptions for expected behavior and this is a red herring?  And, I'm able to bring up the editor when I'm in the directory w/ only one image.  But switching back to the large directory causes another runtime exception.

L O L

I created another folder as suggested

[2017-06-01 10:40] heckflosse commented on #3901
I can reproduce the bug now this way:

I created a new folder with 1536 copies of amsterdam.pef
I opened the folder in rt an let the thumbs build
I closed rt

Now the part which is reproducible:

start rt
open the folder with the 1536 files
open the first file
open the second file from setm filmstrip
switch to file browser => crash

[2017-06-01 11:58] heckflosse commented on #3901
@ChrisAshton84 Are you running rt in Single Editor Tab Mode?

I get the crash only in Single Editor Tab Mode. In Multiple Editor Tabs Mode it does not crash.

Still searching...

[2017-06-01 12:31] heckflosse commented on #3901
An even easier way to reproduce:

Start rt (using SETM)
Open folder with 1536 files.
Switch to (empty) Editor
Switch back to file browser => crash

[2017-06-01 13:01] gaaned92 commented on #3887
@Desmis No more jump in brightness in branch ciecamtest and now brightness change according to modification of curve.
Now there remain to understand the other behavior indicated by @RawConvert #3886

[2017-06-01 13:41] heckflosse commented on #3901
@Beep6581 @agriggio @Floessie

Can you please try to reproduce the crash on Linux. The way to reproduce the crash I described in the posts above works 100% on Windows.

[2017-06-01 13:50] heckflosse commented on #3901
With this patch it doesn't crash:

[code]

Of course we can't do that because it disables the filmstrip in SETM, but maybe it's a hint to find the culprit...

[2017-06-01 14:11] Blizzara commented on #3835
I haven't gotten any crashes so far with the released version of 5.1, so I'm closing this. Thanks for the great work you're doing!

[2017-06-01 14:11] #3835 closed, assigned to nobody

[2017-06-01 14:28] RawConvert commented on #3887
I noticed today a couple of other things to do with the ciecam Colour Curve underneath tone curves 1 & 2.  Firstly, just a cosmetic thing, I think the vertical axis "graphic" is upside down, since the colouration of the bar is at its max at zero.
Secondly, the histogram is all in the first quarter (on the play raw isalnd pic).  Perhaps that is ok with Prophoto working space, what do you think?
Thi

[2017-06-01 16:07] Desmis commented on #3887
In fact the problem is due to the lack of precision of calculations in "float" mode - which is the default mode. To remedy this, I made this change in the calculation of "La" which should not have consequences.

If you use the "double" mode (Preferences), I have not made any changes because everything works correctly.

If nobody sees any objections I will "merge dev" this change tomorrow.

I'll lo

[2017-06-01 16:32] heckflosse commented on #3887
@Desmis
Jacques,

I touched a lot of float ciecam02 code during my optimizations the last years but I never touched the double ciecam02 code. That means the double precision code is not up to date with the float precision code and imho should not be used (except maybe for tests).

[2017-06-01 17:34] Desmis commented on #3887
@heckflosse

Ingo
You are right, I only used "double" for testing :)

[2017-06-01 17:44] heckflosse commented on #3866
@Desmis Jacques, I will get back to this issue (and to locallab branch) later. Currently I try to find the reason for the crashes on windows #3901

[2017-06-01 18:34] Floessie commented on #3901
@heckflosse Ingo, I'm sorry, but it doesn't crash here (Debian 9, today's release build, SETM-VT). :disappointed:

[2017-06-01 18:40] Floessie commented on #3901
@heckflosse At first glance, [this](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/rtwindow.cc#L744) looks interesting.

[2017-06-01 18:45] heckflosse commented on #3901
@Floessie I tried your suggestion but unfortunately it still crashes :disappointed:

[2017-06-01 18:49] Floessie commented on #3901
@heckflosse Ingo, I've no idea...

[2017-06-01 18:56] heckflosse commented on #3901
@Floessie Just to be sure: Did you try with a folder of 1536 (or more) copies of amsterdam.pef ?

[2017-06-01 19:18] tsi12 opened #3904 "RT 5.1 on Windows 7 x64: can't delete raw file while in editor tab"
Version: 5.1
Branch: 5.1
Commit: f23d70fd
Commit date: 2017-05-15
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads  -Werror=unused-label -Werror=unknown-pragmas -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-resul

[2017-06-02 02:12] rechmbrs commented on #3892
Ingo,
I was going to mention documentation but my memory is limited to 128
characters.  So I get to only type very few things I think about.  Most
people have problems with documentation because they set off writing a
thesis not user help.  I'd sit down and make a simple diagram of what
happens in plain language and then think of a non-technical type artist and
explain it to them.  You can use tec

[2017-06-02 06:44] Desmis commented on #3887
@RawConvert
Yes "color vertical axis" is inversed....it is the same in others curves in RT...It is a GUI problem, I'll look, but it is not my speciality :)

For histogram in CIECAM:
1 -As it is said in Rawpedia "The tone curve histograms in the CIE Color Appearance Model 2002 tool can show values before or after CIECAM02 is applied. To view the values after CIECAM02 adjustments, enable the "Show C

[2017-06-02 07:20] #3560 closed

[2017-06-02 08:38] Beep6581 opened #3905 "Display release notes only if new major version"
Every time I test a new build the Release Notes window pops up and seeing it so often gets annoying. All I know about C++ is how to spell it, but to my great surprise this patch in branch [lessrelnotes](https://github.com/Beep6581/RawTherapee/compare/lessrelnotes) seems to work. Could someone take a look?

[2017-06-02 11:03] Floessie commented on #3901
@heckflosse Sorry, no, I didn't realize that it **has** to be amsterdam.pef. I took exactly 1536 copies of an 18MP landscape CR2.

[2017-06-02 11:31] heckflosse commented on #3901
@Floessie No, it has not to be amsterdam.pef. But I just detected that I get the crash only when thumb infos are enabled.
Did you test with or without thumb infos?

[2017-06-02 11:52] heckflosse commented on #3901
@Floessie Next info: It also does not crash when thumb info is enabled but `Show basic Exif info` and `Show date and time` are disabled. Maybe a bug in this part of the code?
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/thumbbrowserentrybase.cc#L260

[2017-06-02 15:42] raceviper13 opened #3906 ""Reset to default" vs. "Custom profile builder" workflow blocking issues"
I am struggling with a change to RawTherapee 5.1.

[My problem is...]
Execution of the custom profile builder has substantially changed.  "Reset to default" (no longer called "Custom profile builder") now passes a pre-filled PP3 to my custom profile builder on opening an unedited file.  Additionally, I have been informed that there is no longer an ability ask RT to run the custom profile builder o

[2017-06-02 15:44] raceviper13 opened #3907 "New image browser menu item "Reset to default" is misleading"
If we are going to keep it around as is, we may want to rename "Reset to default".  That term implies to me that we are resetting the image to how RT likes to apply settings for all newly edited images without any customization.

Maybe "Apply user defaults" instead.

[2017-06-02 15:51] Beep6581 commented on #3907
The term used must relate to Preferences > Image Processing > Default Processing Profile, i.e. the word "Default" is key here. "User" seems completely unnecessary and even misleading.
"Reset to default" and "Apply default" seem equally fine to me, the former having the benefit of being already translated.

[2017-06-02 16:28] heckflosse commented on #3901
When I reduce font size from 8 to 7 it does not crash.
There is something wrong with the calculation of thumbnail height.
If I apply this patch I don't get a crash when switching between editor and file browser.
But it still crashes when reducing thumbnail size using zoom out (with and without patch).

[code]

[2017-06-02 16:36] Desmis commented on #3866
I'll try to add, one or two another "Auto WB", and perhaps combine them :)

[2017-06-02 17:25] RawConvert commented on #3887
Re -2- , it's good that the fine control with CTRL is available.  Without this, I think this function would not be useable, due to all the action happening in one small area.  It might be nice if the histogram could be scaled to enlarge on the x-axis, but I appreciate this is probably a very minority "use case".  (Though the hist. is a lot more spread out for Saturation with "output historgrams" t

[2017-06-02 21:04] heckflosse commented on #3901
@Floessie @agriggio @Beep6581 Don't waste your time on this issue. I think I'm on to right trap now. With a bit of luck, I can solve it this weekend.

Ingo

[2017-06-03 06:46] Desmis commented on #3887
@RawConvert
I push a chnage in ciecamtest

I have increase about 25% the range of color histogram in Ciecam mode (for chroma and colorfullness).
I cannot more, because if current image is saturated, all we be wrong :)

jacques

[2017-06-03 09:47] heckflosse commented on #3901
This patch fixes the crashes when switching between file browser and editor in Single Editor Tab Mode in all my test cases:

[code]

@gaaned92 Can you please make a windows build with that patch? I would be interested to know whether it fixes the crashes reported by @ChrisAshton84 as well.

[2017-06-03 10:19] heckflosse commented on #3905
Builds and works fine on win7/64

[2017-06-03 10:59] Beep6581 commented on #3905
The code's not shit? :smile:

[2017-06-03 11:28] heckflosse commented on #3905
Don't ask me about regex :)

[2017-06-03 12:10] tsi12 commented on #3904
[log.txt](https://github.com/Beep6581/RawTherapee/files/1049585/log.txt)

[2017-06-03 12:42] Beep6581 commented on #3904
Relevant part of log:
[code]

[2017-06-03 12:52] heckflosse commented on #3904
@Beep6581 There must be something wrong with the build or with the info from op. That code should be never reached in a Release build.

@tsi12 Did you run rawtherapee.exe or rawtherapee_debug.exe ?

[2017-06-03 13:33] Beep6581 commented on #3904
@heckflosse its from `rawtherapee_debug.exe`
`exname = "D:\\Program Files\\RawTherapee v5.1\\rawtherapee_debug.exe"`

[2017-06-03 19:27] heckflosse commented on #3901
I found another constellation which crashes even without switching from file browser to SETM editor. It just crashes by switching folders in that special constellation. I'll investigate...

[2017-06-03 21:53] ion12 commented on #3882
@Beep6581 @Benitoite @Partha1b I will try and find time within the next few days to do a pull request/rawpedia update for patching cairo within a macports-based workflow.

I don't think we should commit any other chages to the build scripts until we figure out why the crash-on-exit is happening. @Benitoite this latest problem-report you posted from another user once again contains the familiar 5 l

[2017-06-04 09:22] gaaned92 commented on #3901
Edit:
RawTherapee_dev_5.1-38-g982b291a_patched_WinVista_64.zip uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-06-04 09:23] Desmis commented on #3866
I push a change
Now you can test for "auto wb", **with or without - gamma sRGB** apply to red, green, blue, data demosaic
2) Auto grey demosaic
3) Auto edge : is a very new algorithm. I used Sobel matrix to create an edge image
5) Auto robust : iterative method
6) Auto standard deviation : image is divided in 12 aera, and calculations are made with mean(s) and sigma(s) - not very suitable for "loc

[2017-06-04 11:27] Beep6581 commented on #3882
@ion12 you could try [bisecting](https://git-scm.com/docs/git-bisect).
You could `git checkout 5.0` and see if 5.0 worked well - if it did then mark it as good, `git bisect good`.

[2017-06-04 11:51] Beep6581 commented on #3905
Merged.

[2017-06-04 11:51] #3905 closed, assigned to Beep6581

[2017-06-04 14:11] Beep6581 commented on #3866
I tested on [london_bridge_moving_1.pef](http://rawtherapee.com/shared/test_images/london_bridge_moving_1.pef) and [Canon EOS 20D daylight.cr2](http://rawtherapee.com/shared/test_images/colortarget/Canon%20EOS%2020D%20daylight.cr2)

1. Strong artifacts appear when I try using local exposure compensation:
![imgur-2017_06_04-15 36 11](https://cloud.githubusercontent.com/assets/5844619/26762173/bd5c6

[2017-06-04 15:39] Desmis commented on #3866
Hello, I'm glad that someone tests :)

First, "Local rgb" is more difficult than "LocalLab", controls on gamut and artifacts are very difficult...when we use strong values.
1. in this case, 2 ways : a) choose "standard" instead of "enhanced" for Global quality
b) increase a bit "Scope" (21 or 22)

For all, comment "target exposure', I'll look...but probably complex....

4. Change 7 to 8 no problem

[2017-06-04 16:15] Desmis commented on #3866
A question what is the **preview widget button**  ?

[2017-06-04 16:38] Desmis commented on #3866
For London_bridge_moving_1, it is a "noise problem", well known problem in locallab :)

In this case, to confirm noise, you can enabled "Noise reduction and see.."..of course all artifacts does not disappears, but ...
You can also play with "threshold chroma" and "iterations"

But perhaps, "localrgb for exposure" is not a good idea ? I can add perhaps a more easy  "pseudo exposure" in locallab...?

[2017-06-04 17:06] Beep6581 commented on #3558
`5.1-38-g` 982b291a uploaded to Coverity.

[2017-06-04 17:31] Beep6581 commented on #3866
I'm just guessing at what's happening based on what I see. If I run the auto wb calculation on a given spot, I would expect the calculation to yield identical results every time. But it does not - each time I run the calculation it yields a different result, and that result seems to be influenced by the previous state.

I can't say without first seeing it. And I don't know what "pseudo exposure" m

[2017-06-04 17:54] Desmis commented on #3866
I think the best thing I can do is stop the development of localrgb, locallab and newwaveletgtk3.
I will leave things as is and withdraw gradually from the RT project !

Jacques

[2017-06-04 18:10] heckflosse opened #3908 "Large memory leak when switching folder in file browser"
When switching folders in file browser, there is a large memory leak.

To reproduce:
1. create two folders with about 200 files
2. switch between this folders a lot of times
=> at my system the memory usage of rt increases by about 20 MB per switch

I can reproduce it with current dev build of rt and also with 5.0 build on Win7/64
@Beep6581 can reproduce it also on Linux

[2017-06-04 20:00] heckflosse commented on #3866
@Desmis

Sorry that I can't test. My current priority is to fix the crash bugs and memory leaks. Fixing them imho has higher priority than new features.

Ingo

[2017-06-05 01:46] Nyko666 opened #3909 "Command line option "-t" causes a crash of rawtherapee-cli.exe"
This command line :
_rawtherapee-cli.exe -q -o outputFile -p param.pp3 -t -c myFile.tif_
gets this error :
![image](https://cloud.githubusercontent.com/assets/29188169/26767485/bb9803f8-49a0-11e7-9526-887f28f55382.png)
Some tests show me that **the option "-t" causes the crash** : "-tz" is ok, "-tu" is ok... but not "-t".

[2017-06-05 05:37] Desmis commented on #3866
@heckflosse
Ingo  :)

Jacques

[2017-06-05 09:44] Beep6581 commented on #3909
Duplicate of #3891

[2017-06-05 09:44] #3909 closed, assigned to nobody

[2017-06-05 10:31] ion12 commented on #3882
thanks @Beep6581 will try that, and will do the cairo patch pull request / instructions in parallel.
hope to update soon.

[2017-06-05 13:35] reagle opened #3911 "5.0-r1-gtk3 crash on macOS 10.12.5 when selecting "Save to folder > None" in Queue"
Upon selecting "(None)" in "Save to folder" in the Queue tab RT crashes.

[code]

[code]

[2017-06-05 14:11] Beep6581 commented on #3911
The latest version of RawTherapee is 5.1.
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-06-05 14:11] #3911 closed, assigned to nobody

[2017-06-05 14:39] agriggio commented on #3906
Here's a patch that restores (more or less) the old behaviour of the custom profile builder. This is still invoked by calling "Reset to default", I didn't add a dedicated menu item for it. What it does:

1. the first time you open an unedited image, the custom profile builder is
   invoked without generating any pp3 file before

2. if you use "Reset to Default" and you have a custom profile builde

[2017-06-05 15:05] agriggio commented on #3908
From my quick analysis, this happens when you switch dirs while some of the thumbnails are still loading. @heckflosse, can you confirm this? If so, that's because the current code is not very clear about who owns some of the pointers (especially of `FileBrowserEntry` objects) that are passed around during the loading of dirs. This is one of the leaks (there might be others):

- `FileCatalog::previ

[2017-06-05 15:13] Beep6581 commented on #3908
I noticed while reproducing this in a debug build (dev, unpatched) under GDB that all cores are maxed-out for well over a minute after all the thumbnails have loaded, after the tab label switches from showing 100% to showing the actual number.

[2017-06-05 16:13] heckflosse commented on #3908
@agriggio Thanks for the patch.
As I always waited until cpu load was at 0 before I switched folders, it does not fix the leak. But as it fixes another possible leak, we should commit it nevertheless.
Also (with and without your patch) I get a crash after switching folders about 30 times.
@Beep6581 got that crash on Linux too.

Alberto, could you make a run with one or more of this options enabled

[2017-06-05 16:15] agriggio commented on #3908
ok, I'll test as soon as I can

[2017-06-05 17:09] heckflosse commented on #3908
@agriggio Alberto, thank you :+1:

[2017-06-05 17:21] heckflosse commented on #3901
@gaaned92 Thanks for the build :+1:

[2017-06-05 20:16] Beep6581 commented on #3882
Would be great if you could include this for 5.2 - see #3799

[2017-06-05 20:16] Beep6581 commented on #3799
A number of issues have been fixed since 5.1, and some of them affect many people. It would therefore be a good idea to release 5.2 before the proposed pipeline unification #3897. I added some issues and PRs to the 5.2 roadmap. Feel free to add anything else which can be done realistically soon.

[2017-06-05 20:20] Beep6581 commented on #3887
The fix was confirmed, @Desmis can we close this?

[2017-06-05 20:24] #3881 closed, assigned to nobody

[2017-06-06 05:44] Desmis commented on #3887
@Beep6581

I think we can close :)

[2017-06-06 06:38] agriggio commented on #3799
#3880 is essentially done from my side (except for minor cosmetic fixes after @Floessie's review, which I'll do ASAP). Any objections to merging?

[2017-06-06 09:19] RawConvert commented on #3887
Yes, close, and in addition, is there anything we can add to a "wish list" for future changes.  For example, @Desmis has added a 25% expansion of the histogram...  it would be nice to let the user pick a scaling amount in the tool or in Preferences and so get the curve easier to work on.  Perhaps this could be efficiently bundled up with some future change?

[2017-06-06 11:07] raceviper13 commented on #3906
Unfortunately I am unable to test this patch as I do not have the time to learn how to compile a build or apply a patch.  I appreciate the work to add it, but cannot test.

Is there something I can do to help someone else test?

[2017-06-06 11:38] Beep6581 commented on #3887
@RawConvert stick to one bug/enhancement request per issue.

[2017-06-06 12:30] gaaned92 commented on #3906
@raceviper13
If you want to test, RawTherapee_dev_5.1-38-#3906_WinVista_64.zip uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-06-06 14:09] heckflosse commented on #3908
@agriggio Alberto, I just saw that the AddressSanitizer is supported in gcc >= 4.8
Means I can test it on my Sabayon. Already compiling...

[2017-06-06 15:21] raceviper13 commented on #3906
This worked very well.  I hope that those who are using the new functionality will not be affected.  This is a great solution for my workflow.

Thanks!!!!

[2017-06-06 15:38] agriggio commented on #3908
@heckflosse Ingo, I'm already taking a look... there are several leaks that I'm trying to fix, I'll follow up asap

[2017-06-06 18:28] ChrisAshton84 commented on #3901
@gaaned92 Thanks, I'll try to test this tonight.  I was on vacation this weekend have another 1000 photos to test 👍

[2017-06-06 18:51] heckflosse commented on #3901
@ChrisAshton84 If it still crashes, please try also Multiple Editor Tabs Mode

[2017-06-06 19:10] heckflosse opened #3913 "Fix issues detected by AddressSanitizer"
I created a new branch to fix issues detected by AddressSanitizer : https://github.com/Beep6581/RawTherapee/tree/san_address

[2017-06-07 05:52] ChrisAshton84 commented on #3901
This still crashed at roughly the same point - without gdb, when trying to go to the editor (after the images all loaded their thumbnails), the gui started bugging out.  Most of the window was completely blank, and even the min / max / close buttons stopped drawing correctly when I moused over.  It then closed.  Previously it had at least shown all the gui components as it started to load the edit

[2017-06-07 06:03] ChrisAshton84 commented on #3901
@heckflosse I tried METM and it crashed the gui as soon as I tried to open a photo for editing.  Gui didn't close but stopped redrawing anything.  I can try gdb if you can help me figure out how to get useful backtraces or breakpoints for you.  Thanks!

[2017-06-07 07:41] gaaned92 commented on #3901
@ChrisAshton84
The gdb.exe debugger and debugexe rawtherapee_debug.exe are packed into the build so, to get a backtrace:
- open a command window
- go to the rawtherapee installation directory
- type _gdb rawtherapee_debug.exe_ . you get a gdb prompt then type _run_
- rawtherapee window opens. Do what you want in rawtherapee window
- when it crashes or hangs go back to command window. You have the

[2017-06-07 09:51] agriggio commented on #3913
@heckflosse Ingo, can I push to this branch? I have fixed some of the memory leaks reported by LeakSanitizer (although I'm not sure that they are enough to solve #3908 )

[2017-06-07 11:11] Floessie commented on #3901
@ChrisAshton84

Yep, that's too late, the milk is spilt. Maybe you can catch it with [`catch throw`](https://stackoverflow.com/questions/6835728/gdb-how-to-break-when-a-specific-exception-type-is-thrown), but afaik @heckflosse had problems with it under Windows. Maybe you'll have better luck...

HTH,
Flössie

[2017-06-07 11:16] heckflosse commented on #3913
@agriggio Alberto, of course you can

[2017-06-07 13:16] heckflosse commented on #3913
@agriggio Alberto, thanks for the fixes. Unfortunately #3908 is not solved :(

[2017-06-07 17:39] socomajor opened #3914 "Link on rawtherapee.com is pointing to google code (not GitHub)"
Hi all,
This is no bug, but I didn't know any other way to tell this to the devs :
The link to the source on the features page is broken on : http://rawtherapee.com/blog/features
(actually not broken but pointing to the old google code hosting).

It might be good to update this. I don't know Raw Therapee yet but I almost gave up when I saw the last commit on google code was from 2015. Happily I fo

[2017-06-07 17:57] Beep6581 commented on #3914
Thank you @socomajor , fixed.

[2017-06-07 17:57] #3914 closed, assigned to nobody

[2017-06-07 19:29] ChrisAshton84 commented on #3901
I've tried both 'gdb rawtherapee_debug.exe' and inside gdb, using the 'file' command to load the debug executable.  I also tried catch throw and catch catch.  I posted the results earlier; taking the backtrace at that point (which wasn't the bad_alloc error, IIRC) caused gdb to crash!

[2017-06-07 22:36] heckflosse commented on #3913
@agriggio Alberto, I fixed some more memory leaks.
The current output of the AddressSanitizer is much cleaner now and lets us detect further leaks much easier:

[code]

[2017-06-08 05:58] Floessie commented on #3901
@ChrisAshton84 Sorry, now I remember I've already read your `log.txt` from above where you state what tricks you did with GDB. I didn't intent to treat you like a noob and should have read the whole thread before giving advices... :neutral_face:

[2017-06-08 06:01] ChrisAshton84 commented on #3901
No worries.  I realize there's something off in my case.  gdb shouldn't crash, and that likely isn't rt's issue (though how it packages gdb, where its gdb came from, etc might be a problem for me apparently).

[2017-06-08 06:04] ChrisAshton84 commented on #3901
And, while I'm excellent at debugging low level C on Linux, I can't say as much for debugging gui toolkits, C++ exceptions, and have no experience whatsoever on Windows in the last 10 years.  It just happens to be my main gaming machine's OS which is where I'd like to run RT.

[2017-06-08 11:16] heckflosse commented on #3913
@agriggio Alberto, I found another leak. But I don't get how to fix it.

To reproduce

1. Create a folder with 2 images
2. Apply neutral profile to both images
3. Close rt
4. Start rt
5. Select second image in file browser (don't open it)
6. go to batch edit
7. change a setting (e.g. change saturation from 0 to 1)
8. close rt

This gives the following leak report:

[code]

Doing the same on first

[2017-06-08 16:22] raceviper13 opened #3915 "Allow for a PP3 User Section?"
Is it possible to add a "User" section to the PP3 such that a user can modify it and expect that RT does not add/modify/delete or in any way alter the keys or the values within that section?

Currently, RT will remove any sections and keys that I add to the PP3 when it is opened.

[2017-06-08 20:07] heckflosse commented on #3915
@raceviper13 Technically that should be possible to implement.
I will take a look.
Ingo

[2017-06-10 03:11] LifeNT opened #3917 "RT 5.1 can't run on windows server 2016"

[2017-06-10 07:12] Desmis commented on #3866
@heckflosse

Ingo
I have found a bug (little), in "**locallab_dev**"... If I solved this bug (easy), there will be a better shape detection in some cases.

Can I push this change ?

Thank you :)

[2017-06-10 09:52] heckflosse commented on #3866
@Desmis

Jacques, of course you can push. I am still searching memory leaks in dev branch...

[2017-06-10 10:59] Beep6581 commented on #3917
@LifeNT  http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-06-10 13:44] icom962 opened #3918 "File deletion does not work properly in RT 5.1"
When deleting files with RT 5.1 only the .pp3 file get deleted, and the original .nef remains available, although not shown in RT file browser. However, the files are still there and also show up in RT next time it is started. When then again marking the files for deletion (having no .pp3 companions), deletion finally works.
It's the first time I'm experiencing something similar.

I'm using the ve

[2017-06-10 16:20] ghost commented on #3882
Sorry for my late reply...I've been traveling and haven't had a chance to thank you all for investigating and fixing these issues!

I downloaded and installed the build that @Benitoite posted 2 weeks ago: I was able to install the app and rename it and run it successfully.

Is there a new release, or is this fix queued for a 5.2?

Also, I have not experienced the fast exit/crasher that has been de

[2017-06-10 17:51] heckflosse commented on #3918
I tried this:

1. Opened a folder with 3 files (all having pp3 files)
2. Clicked the 'Move to trash' icon for one file
3. Ctrl-t to show content of trash
4. Clicked the trash icon to permanently delete the trash content

Worked fine here (Win7/64): Looked in explorer: File is deleted.

[2017-06-10 19:00] Beep6581 commented on #2487
Probably not fixed, but some fields from the Exif tab were removed in some other issue, and "Orientation" was one of them, so you can't see the problem now.

[2017-06-10 19:00] #2487 closed

[2017-06-11 10:49] Desmis opened #3920 "Crash when opening several files in editor"
First, excuse my bad english :)

1) when I developed "localrgb", I found often after open 3 or 4 or 5 files in editor, a crash with RT
I attribute this to my work, and I try to prevent memory leaks...But I found nothing (Which does not mean that everything is fine !)

2) after that, I tried with "locallab_dev", same crash

3) after that, I compiled a new "dev", and same crash

My config:
[code]
An

[2017-06-11 11:00] icom962 commented on #3918
Ok, tried the same with 3 files - with the same result, i.e. everything seems to be ok "now suddenly".
Then did another test with about 50 files, since actually I'm working with 50-200 fiels per folder - also worked. Maybe clearing of cache had helped? I'll continue watching this for the next days.

[2017-06-11 11:07] heckflosse commented on #3920
@Desmis Jacques, I also think it's related to #3908 and #3901
I'm still working on that stuff

[2017-06-11 11:12] Desmis commented on #3920
@heckflosse

Ingo

Thank you :)

[2017-06-11 11:35] Desmis commented on #3920
A complement : there are very few files in each folder, between 15 and 40
And also, I have seen furtively, a GUI message, relative to the size of image or screen...but  it disappeared :)

jacques

I'll be away for a week !

[2017-06-11 11:53] Desmis commented on #3920
I have now another message, the system is stopped ang I can read
* Rawtherapee.exe:7924 - Gtk-warning ** : drawing failure for widdget 'gtkmm__GtkNotebook' out of memory,
and gtkmm__GtkHPaned : out of memory
and  gtkmm__GtkWindow : out of memory

or the same and : _create_dc_and_bitmap : descripteur non valide

[2017-06-11 12:32] heckflosse commented on #3920
@Desmis Jacques, that looks similar to the bugs I'm currently searching

[2017-06-11 13:20] Beep6581 commented on #3558
5.1-51-g e8bbefef

[2017-06-11 14:48] Benitoite commented on #3882
Indeed these issues are listed for 5.2 @ppmax see: https://github.com/Beep6581/RawTherapee/issues/3799

[2017-06-11 17:58] icom962 commented on #3918
Did it again now: I had one folder with 97 .nef files, thereof I marked 23 for deletion. Deleting with the trash icon again only deleted the .pp3, not the .nef. When closing RT and opening again, the files show up again, however, without the green check mark. So again I marked them for deletion - and then it worked.

Made the same experience with a second folder and about 50 files.
What might give

[2017-06-11 19:04] Beep6581 commented on #3918
"Deleting with the trash icon" is probably where you're going wrong. The trash icon does not delete files, it marks them as being trash and hides them from view.
You're looking for right-click > File operations > Delete.

[2017-06-11 19:58] heckflosse commented on #3918
@icom962 Maybe that's this issue https://github.com/Beep6581/RawTherapee/commit/e242afedd67bb826f1b40ae40c50ca947c8b4e57, which is fixed in dev build but not in f23d70fdb2414d529148d04a5ef96facd1c790fe

[2017-06-11 20:07] Beep6581 commented on #3918
I just documented deleting and the trash bin:
http://rawpedia.rawtherapee.com/The_File_Browser_Tab#Deleting_Files

[2017-06-12 15:53] icom962 commented on #3918
@Beep6581 - I think I'm not doing this wrong - what I meant is the trash icon shown to the left of the trash contents ("_permanently delete ..._") - it has been working ever since and only now in RT 5.1. showed the behavior described above.

@heckflosse  - the issue you pointed out seems to be what I'm experiencing - so probably I should try with a dev build.

[2017-06-12 15:57] heckflosse commented on #3558
I fixed some more coverity issues with 97e558a

[2017-06-12 20:55] sguyader opened #3921 "Feature request: allow the user to set the center of the Vignette Filter in the Exposure tab"
As asked by Marco_Colnaghi [here](https://discuss.pixls.us/t/rawtherapee-decentered-vignetting-filter/4428), it would be nice the user could be allowed to specify the center of the vignette in the Vignette filter from the Exposure tab, just like it is in the Vignetting correction from the Transform tab.
The advantage of having this in the Exposure tab, is that it would be applied to the cropped ar

[2017-06-12 21:53] reagle commented on #3510
5.1 just showed up in homebrew; any news on this issue?

[2017-06-13 13:28] waxhead opened #3922 "5.1-56-ga6cf24b Crashes when pasting nothing."
I noticed RT crashing a while back, like last week, but couldn't work out what triggered the crash, but I knew it was around copying and pasting edits from one image to another.  Subsequent attempts to replicate the crash failed.

Tonight I did it again, but figured the issue was partly due to me missing the C in the CRTL-C operation and then hitting CRTL-V to paste nothing.

From the Browser wind

[2017-06-13 13:44] heckflosse commented on #3922
@waxhead Thanks for the report. I tried to reproduce it on Win7/64 and on Linux with exactly the same rt version you used. Could not reproduce it :( There must be something missing.

[2017-06-13 13:52] waxhead commented on #3922
@heckflosse I was just about to go to bed.

OK, so I opened up the non debug version of RT and I had to do it a couple of times to get it to actually crash.

I repeatedly did CRTL-V nothing, but then I copy and pasted from an image that has no changes against it, and it crashed.

I loaded up RT again, and this time I stayed in the file browser and did a CRTL-C and CRTL-V from one image to another,

[2017-06-13 13:53] heckflosse commented on #3922
@waxhead
Ok, I will try harder

[2017-06-13 13:53] waxhead commented on #3922
I'm attaching the console output from the dev build, not the debug build.

[console-output.txt](https://github.com/Beep6581/RawTherapee/files/1071596/console-output.txt)

[2017-06-13 13:56] waxhead commented on #3922
OK I can do this more reliably now.

Copy CRTL-C from an image.  CRTL-V to another image, CRTL-V again, Crash.

[2017-06-13 14:09] heckflosse commented on #3922
Bug confirmed

[2017-06-13 14:14] waxhead commented on #3922
From a usability point of view I was editing a couple of images and I copies the settings from my first image, pasted to a second one, didn't like the result and undid it.  Opened a different image and just wanted to apply the setting again, second CRTL-V crashed RT.  So it might appear that it's any additional CRTL-V after a the first one, even on different images.

This is what was in the consol

[2017-06-13 15:25] #3922 closed, assigned to heckflosse

[2017-06-13 18:39] Barugon opened #3923 "Touchpad scrolling not working in thumbnail browser"
Touchpad scrolling doesn't work in the thumbnail browser and also doesn't zoom the image view.

Version: 5.1
Branch: 5.1
Commit: f23d70fd
Commit date: 2017-05-15
Compiler: cc 6.2.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags: -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buf

[2017-06-13 19:42] heckflosse commented on #3923
Can't reproduce because I don't have a touchpad.
But why are the rt fedora builds made using -O2 instead of -O3?
Using -O2 does not generate auto-vectorized code ...

[2017-06-13 20:06] Floessie commented on #3923
Using -O2 does not generate auto-vectorized code ...

That's a question for @mattiaverga, I guess.

[2017-06-14 04:33] Benitoite opened #3924 "[OSX] MacOS/rawtherapee-cli not linking to bundled libraries"
I noticed rawtherapee-cli is not receiving the same linking treatment that rawtherapee-bin is getting.

[code]

vs rawtherapee-bin

[code]

AboutThisBuild.txt:
[code]

[2017-06-14 04:53] Benitoite commented on #3510
Here is a dev branch build built this evening:
https://filebin.net/tezci9bhxfmv9tod/RawTherapee_OSX_10.9_64_5.1-60-g2fcb7d96.zip
I haven't a clue what the keyboard shortcuts are in RT, but you may test them with this to see if they are fixed yet.

[2017-06-14 04:55] Benitoite commented on #3924
forgot to tag you @partha1b and @ion12

[2017-06-14 09:02] polezhaevdmi opened #3925 "Usability improvement: Editor hotkeys"
Target: RT 5 and above.
Goal: increase GUI usability for photographers.
Suggestions:

- Make the RT keyboard shortcuts editable and document the way to edit them. Or, at least, add in SETM the synonims for "Shift+F3"/"Shift+F4" keys as "RightArrow"/"LeftArrow". Just because the frequent use of F-keys in a multiimage workflow is extremely boring. The Shift/Alt/Ctrl+"RightArrow"/"LeftArrow" combinat

[2017-06-14 11:24] reagle commented on #3510
Thankyou @Benitoite, but I doubt it is in the dev version; I was hoping to hear from @ion12, @Beep6581, and @Partha1b about plans to move forward.

[2017-06-14 12:03] Partha1b commented on #3510
@reagle Sorry, I've been very very busy and have been completely out of this thread and have not looked at RT for a while. :(

[2017-06-14 12:29] gaaned92 commented on #3906
@agriggio  did you commit this fix ?

[2017-06-14 12:31] agriggio commented on #3906
@gaaned92 not yet. If there are no objections, I can do it later today

[2017-06-14 13:53] fliker09 opened #3926 "rawtherapee-cli crashing on saving uncompressed TIFF"
I try this:

RawTherapee, version , command line
terminate called after throwing an instance of 'std::out_of_range'
  what():  basic_string::at: __n (which is 2) >= this->size() (which is 2)
Aborted (core dumped)

If I try this - all good:

RawTherapee, version , command line
Processing: DSC_3382.NEF
  Merging procparams #0

Info:

[2017-06-14 14:09] heckflosse commented on #3926
Duplicate of #3891. Already fixed.

[2017-06-14 14:09] #3926 closed, assigned to nobody

[2017-06-14 15:17] mattiaverga commented on #3923
[code]
These are the default build flags used by Fedora build system.

I also can't reproduce the problem, because I don't have a touchpad. But using a mouse all is working fine, so maybe it's a problem between gtk+ and touchpad(s) input.

[2017-06-14 15:41] Barugon commented on #3923
Mousewheel works fine. This is definitely a touchpad only issue.

[2017-06-14 20:06] 10110111 opened #3927 "Why can an image become highly posterized on saving?"
Using RT version 5.0-r1-gtk2-1-g348eb20 (as `git describe` says), I'm trying to export an image, which in RT looks like this (screenshot of RT):
![screenshot - 140617 - 23 01 12](https://user-images.githubusercontent.com/6376882/27152130-ea25937e-515d-11e7-989e-fc60531e3ea3.jpg)
But whatever output format I select, I get the following result (screenshot of resulting file opened in GIMP):
![screens

[2017-06-14 20:23] heckflosse commented on #3927
Can you try a newer version of rt (e.g. 5.1)?

[2017-06-14 20:25] 10110111 commented on #3927
I'm not sure. My `gtk2` branch is "Already up-to-date." says `git pull`. Does 5.1 require GTK3?

[2017-06-14 20:28] heckflosse commented on #3927
Yes, 5.1 requires gtk3. What os are you using?

[2017-06-14 20:29] 10110111 commented on #3927
BLFS. I guess I'll have to build GTK3.

[2017-06-15 05:32] 10110111 commented on #3927
OK, just had to update LCMS from 2.3 to 2.8 (as 5.1 requires at least 2.6), and it works in `gtk2` branch now without rebuild to 5.1. Thanks.

[2017-06-15 05:32] #3927 closed, assigned to nobody

[2017-06-15 09:22] waxhead opened #3928 "Crash on startup in dev branch after crashes caused by CRTL-V bug."
Hi,

After having the crashes the other night and now fixed, the latest git pull sees RT crashing when I open the folder I was working in when the other crashes started.

I have followed the steps on what to do when RT crashes on start up detailed in Rawpedia http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup

So this seems like I have another problem that RT isn't handling, possibly du

[2017-06-15 09:32] heckflosse commented on #3928
@waxhead Ctrl-v bug corrupted pp3 files. I had that here too. You have to find the corrupted one and delete it.

[2017-06-15 09:37] waxhead commented on #3928
@heckflosse Hey Ingo, is it worth trying to protect against crashing on a corrupt file and some how have RT mark the files a unreadable? One thought would be to put .unreadable at the end of the file and RT wouldn't read it again and the user would be able to later find it.

Seems a bit harsh for the whole application to crash out like that, but I understand if coding in checks at each point would

[2017-06-15 10:28] Floessie commented on #3928
@waxhead @heckflosse Simply ignoring corrupted input would be a welcome first step. Sanitizing input from untrusted sources (even ignoring it) should be the norm. A second step would be a means to let the user know, and Peter's suggestion is appealing.

@waxhead Please provide us with your corrupted PP3, so we can learn how to ignore it. :smile:

Best,
Flössie

[2017-06-15 10:32] heckflosse commented on #3928
@waxhead I agree rt shouldn't crash by corrupt pp3 files!
In my case the crash was caused by a pp3 having this empty keys:
[code]
I will fix that case now.

[2017-06-15 11:07] heckflosse opened #3929 "Crash when pp3 file contains empty key for a curve"
When a pp3 file contains an empty key for a curve, RT crashes.
Example:
[code]

[2017-06-15 11:10] #3929 closed, assigned to heckflosse

[2017-06-15 11:11] heckflosse commented on #3928
@waxhead @Floessie #3929

[2017-06-15 11:18] waxhead commented on #3928
@Floessie Oh No, I think I deleted them all!  I did have them moved out the way, but clearly I'm a little too tired and not thinking straight.

I have some other pp3 files that might be broken as well, will have to test them one by one..

[2017-06-15 11:29] waxhead commented on #3928
All good, I have 4 files that crash RT.  However they may all have a similar issue as I only copy and pasted nothing to trigger the bug for these ones I think!

I can provide a zip file with images included but it's 57 meg, too big for uploading here.

[bad-pp3.zip](https://github.com/Beep6581/RawTherapee/files/1077426/bad-pp3.zip)

[2017-06-15 11:30] waxhead commented on #3929
Some PP3's from my side.

[bad-pp3.zip](https://github.com/Beep6581/RawTherapee/files/1077427/bad-pp3.zip)

[2017-06-15 12:08] heckflosse commented on #3928
Hmm, none of the 4 files crashes RT here.

[2017-06-15 15:45] heckflosse opened #3930 "Crash when pp3 file contains empty key for a threshold adjuster"
RT crashes when pp3 file has too few entries for a threshold adjuster.
Example:
[code]
`Treshold=` leads to a crash

[2017-06-15 15:47] #3930 closed, assigned to heckflosse

[2017-06-15 20:02] PiotrekKa opened #3931 "Darek frame substraction ui"
Maybe it is not the bug itself but if one wants to select dark frames for DFS manually one can choose only one file which means the funcionality od this tool is limited, while it seems possible to use average od multiplex files from dark frame directory when picked up automatically.

[2017-06-15 20:18] heckflosse commented on #3931
Can you please rephrase your suggestion/question in clear words?

[2017-06-16 06:31] PiotrekKa commented on #3931
When selecting Dark frames manually it is not possible to use more than one frame.

[2017-06-16 08:28] Benitoite commented on #3924
Manually doing install_name_tool on the rawtherapee-cli executable for each dependency does work, and I guess I could insert that into macosx_bundle.sh, but I wonder if there is an elegant portable solution, maybe duplicate something being done to fix the install names in rawtherapee-bin to fix -cli?

I got a working zipped dmg by putting this into tools/osx/macosx_bundle.sh right before the dmg g

[2017-06-17 21:02] reagle commented on #3510
@Beep6581, I was curious, why was the 5.1 release more important than the keys? RT without its shortcuts keys isn't really RT. (Just trying to understand.)

[2017-06-17 21:24] jaghaimo commented on #3387
Hi, I've narrowed the issue down to polish characters in a filepath, e.g. "D:\Zdjęcia" crashes RT (even latest 5.1). Renaming to "D:\Zdjecia" solves the issue.

[2017-06-18 06:29] waxhead opened #3932 "Thumbnail images in the Queue tab are displaying corrupted."
Not sure if this is reproducible, however I have been seeing this in my Queue tab for some time now.  Typically the first image of the display is corrupted, however this screen shots all three are this way.

![screenshot from 2017-06-18 16-22-23](https://user-images.githubusercontent.com/8608051/27258649-1b788566-5443-11e7-9094-fecd725a4d3a.png)

[2017-06-18 10:41] heckflosse commented on #3932
@waxhead Duplicate of #3685
Can you please post the content of your AboutThisBuild.txt?
Edit: In #3922 I could see that you're using Gtkmm: V3.18.0
I had the same with 3.18. Now I'm using 3.22 and the bug is gone.

[2017-06-18 10:54] heckflosse commented on #3387
@ravak Dou you mean the filepath of the raw files or the destination filepath of the queue?

[2017-06-18 11:31] waxhead commented on #3932
Hi @heckflosse, for completeness, but it does appear you've worked it out.

Not sure I can upgrade GTK as I'm running Ubuntu Gnome and locked in with their update cycle.

Version: 5.1-75-g480d131
Branch: dev
Commit: 480d131
Commit date: 2017-06-18
Compiler: cc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=

[2017-06-18 11:31] waxhead commented on #3932
Oh, if you think it's a gtk issue then happy for this to be closed.

[2017-06-18 12:23] heckflosse commented on #3932
Ok, I will close it.

[2017-06-18 12:23] #3932 closed, assigned to nobody

[2017-06-18 12:34] Beep6581 commented on #3921
Duplicate of #2675

[2017-06-18 12:34] #3921 closed, assigned to nobody

[2017-06-18 13:17] #2741 closed

[2017-06-18 14:52] Beep6581 commented on #3558
`5.1-76-g` ae67344f

[2017-06-18 15:33] Beep6581 opened #3933 "Installer: Add "Browser with RawTherapee" option to context menu"
From https://discuss.pixls.us/t/windows-context-menu-open-directory-with-rawtherapee/4442
Untested. A Windows user should take over.

[code]

Things to test:
- Whether the option is selectable by the user during installation, should be selected by default,
- Whether the feature works after installation if RT is installed to a folder with spaces in its name,
- Whether it works when right-clicking f

[2017-06-18 19:44] rogerxxxx opened #3934 "Easy to print quick checklist for "Shooting the color target""
Attached below are the beginnings of a quick checklist users can use as a quick guide when in the field performing "Shooting the color target" (As designated at: http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_target)

Some of the problems I had when using the "Shooting the color target" guide, I didn't have something in the field to easily read or follow throug

[2017-06-18 20:46] gaaned92 commented on #3933
@Beep6581 feature ok
1- ok
2- ok
3-ok
Thanks to you and James

[2017-06-18 21:21] heckflosse commented on #3933
@gaaned92 Shall I include that into my next commit?

[2017-06-18 22:04] heckflosse commented on #3558
@Floessie @agriggio

I need your expertise concerning
https://scan3.coverity.com/reports.htm#v33408/p11040/fileInstanceId=15182237&defectInstanceId=4452768&mergedDefectId=76485

gcc address sanitizer does not report a leak here. But when I fix the leak reported by coverity, gcc address sanitizer reports a leak.

[2017-06-19 06:43] agriggio commented on #3558
@heckflosse the coverity warning looks legitimate to me, although somehow moot. Technically that's a leak, but the preview loader is a singleton instance that is always live...

[2017-06-19 11:30] jaghaimo commented on #3387
@heckflosse it's the location of the original RAW file, e.g. changed the output folder for queue and it still happened.

On Windows 8.1, UK locale but PL keyboard and thus some filepaths will contain characters like: "ą, ę, ł, ż, ź, ć, ó".

[2017-06-19 11:37] heckflosse commented on #3387
@raval Crash confirmed. I will take a look now.

[2017-06-19 12:23] heckflosse opened #3935 "Memory leak when rt is started with non empty queue"
When I start rt with a non empty queue the address sanitizer reports some memory leaks.
Here's the log for the case that one file is in queue at start of rt. Line numbers are for current dev.
[code]

@agriggio Alberto, could you have a look at this too? I'm a bit lost with that code. I guess solving the direct leak at top will also solve the other (indirect) leaks.
The leaks related to `libfontcon

[2017-06-19 13:54] heckflosse commented on #3935
@agriggio Alberto, I think I know how to fix it. Patch will follow soon

[2017-06-19 14:10] heckflosse commented on #3935
It's only technically a leak. Closing issue.

[2017-06-19 14:10] #3935 closed, assigned to nobody

[2017-06-19 15:52] Beep6581 commented on #3923
Touchpad scrolling works fine here in both 5.1 and dev.

[code]

[2017-06-19 15:55] Beep6581 commented on #3928
@waxhead can you reproduce the crashes if you delete the cache and run the latest dev build? If so, please describe how, step by step starting with downloading your zip.

[2017-06-19 16:21] heckflosse commented on #3387
This patch fixes the crash:

[code]

@agriggio @Floessie Can there be possible side effects or is there a better solution?

[2017-06-19 17:16] Beep6581 commented on #3510
@reagle while this issue continues getting very little interest, many other enhancements, improvements, new tools, speedups and bug fixes have been made which users of not only macOS but also Windows and Linux can enjoy when a release is made.

You can help by making [a list of shortcuts](https://github.com/Beep6581/RawTherapee/issues/3510#issuecomment-287651249) which don't work.
http://rawpedia.

[2017-06-19 17:19] Beep6581 commented on #3509
CLI now exists.

[2017-06-19 17:19] #3509 closed

[2017-06-19 17:23] Beep6581 commented on #3931
Duplicate of #2473

[2017-06-19 17:23] #3931 closed, assigned to nobody

[2017-06-19 19:02] Beep6581 commented on #3934
Updated: http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_target

[2017-06-19 19:02] #3934 closed, assigned to nobody

[2017-06-19 19:25] Beep6581 commented on #3558
`5.1-78-g` a9f769c5
`rtengine/dcraw`, `rtengine/klt`, `/usr/lib` and `/usr/include` are now ignored.

[2017-06-19 19:44] reagle opened #3936 "Thumbnails in file browser have grotesque margins on Mac"
# Problem

The attached image shows when I have very large thumbnails, but you can see most of the space is empty.

<img width="1517" alt="screen shot 2017-06-19 at 3 35 48 pm" src="https://user-images.githubusercontent.com/596814/27302573-9b382230-5505-11e7-994a-f6d3426c66e1.png">

# System info

[code]

[2017-06-19 19:48] reagle commented on #3936
I wonder if this is related to Retina Screen and hdpi? They look about quarter size...

[2017-06-19 19:56] Beep6581 commented on #3936
Yes. Duplicate of #3547

[2017-06-19 19:56] #3936 closed, assigned to nobody

[2017-06-19 20:06] Beep6581 commented on #583
If we were to use rawspeed we would need to include it in RT's sources because it can only be used bundled, it cannot be built as a shared lib. The master branch of rawspeed is currently very old, the development branch is active and doubled the commit count since the original rawspeed author Klaus transferred rawspeed to @LebedevRI. We could include the files from the `develop` branch, or to be a

[2017-06-19 20:12] LebedevRI commented on #583
Just to clarify, not to me, to @darktable-org, i'm just acting as a maintainer

[2017-06-19 20:28] reagle commented on #3510
@Beep6581, @ion12 laid it out well above, but if it helps to see his concerns about:

- nonfunctional alt
- mapping ctrl to super/command
- system conflicts

I hope this will help:

----

Below don't work using the ctrl key, but on a Mac it should be super/command key:

[code]

Below don't seem to work with ctrl or command key

[code]

No alt keys work, as @ion12 wrote above.

[code]

F11 is reser

[2017-06-19 20:47] agriggio commented on #583
any estimate on the required effort? @heckflosse Ingo, do you have any idea? what would be the user visible impact? (thinking of pixelshift and `camconst.json` in particular)

[2017-06-19 20:55] heckflosse commented on #583
@agriggio Currently we can not replace dcraw by rawspeed for a lot of reasons:

1. rawspeed does not support multiframe raw files which are needed for pixelshift
2. rawspeed does not support compressed fuji files
3. switching from camconst.json to the rawspeed mechanism is not easy

But: We could try to use rawspeed additionally to dcraw for decoding files which currently are not supported by dcra

[2017-06-19 20:59] agriggio commented on #583
@heckflosse thanks for confirming what was my understanding as well. I think having rawspeed as an optional component would be interesting indeed.

[2017-06-19 21:22] gaaned92 commented on #3933
@heckflosse I think you can but  it would be safer if somebody else build and test on windows

[2017-06-19 21:34] heckflosse commented on #3933
@gaaned92 Ok! I compile on windows but never make builds. So you're right that it will be better if another windows builder will test!

[2017-06-20 09:29] heckflosse commented on #3387
I tested the patch from above also with chinese characters. Works fine on Windows. On linux it works fine even without patch.

[2017-06-20 09:31] #3387 closed

[2017-06-20 13:47] heckflosse opened #3937 "RT crashes in METM when a lot of Editors are opened (Windows)"
When I open a lot of editors in METM, RT crashes.
On my machine, opening 10 editors works fine. Opening the 11th editor, RT crashes.
My machine has 32 GB RAM. The crash is independent on the size of the files I open.
Opening 11 12MP files crashes at 11th file as well as opening 11 36MP files.

Example console output at crash:
[code]

[2017-06-20 14:47] #3777 closed, assigned to nobody

[2017-06-20 14:49] Beep6581 commented on #3937
Some relevant warnings here: https://developer.gnome.org/gdk3/stable/gdk3-Cairo-Interaction.html#gdk-cairo-create
https://github.com/GNOME/gtk/blob/master/gtk/gtkiconhelper.c#L297
https://mail.gnome.org/archives/gtk-list/2013-March/msg00034.html

[2017-06-20 15:20] gaaned92 commented on #3937
W10 16GB :
 9 files ok, 10th file it hangs at end of the decoding ( blue bar on upper right). Edit windows never opens. Quite a lot of  Gtk-WARNING **: infinite surface size not supported on console.

All files were already processed without problem. total memory used 6,5GB.

[2017-06-20 21:00] #3812 closed, assigned to heckflosse

[2017-06-20 21:02] heckflosse commented on #3721
Probably to be continued in a new issue...

[2017-06-20 21:02] #3721 closed, assigned to heckflosse

[2017-06-20 21:02] #3707 closed, assigned to heckflosse

[2017-06-20 21:03] #3666 closed, assigned to nobody

[2017-06-20 21:16] #3657 closed, assigned to nobody

[2017-06-20 22:40] cmrdt commented on #3888
contains specification info[ ](http://www.cipa.jp/std/documents/e/DC-008-2012_E.pdf)[xvYCC:	2006 Standard for Video	Systems using Extended-Gamut YCC Color Space](https://www.researchgate.net/publication/250999893_192_xvYCC_A_New_Standard_for_Video_Systems_using_Extended-Gamut_YCC_Color_Space)
diagrams:
- [(2007) Extended-gamut YCC colour space for video applications - xvYCC](http://www2.units.it/i

[2017-06-20 23:04] cmrdt opened #3938 "Joint-optimizing processing"
instead of separate serial pipeline  (which might accumulate errors)

e.g similar to below  &papers it mentions
[Deep Joint Demosaicking and Denoising](https://groups.csail.mit.edu/graphics/demosaicnet/data/demosaic.pdf)     [webpage](https://groups.csail.mit.edu/graphics/demosaicnet/)   [slides](https://groups.csail.mit.edu/graphics/demosaicnet/data/demosaicnet_slides.pdf)   [cod](https://github.

[2017-06-20 23:14] heckflosse commented on #3938
@cmrdt Can you please rephrase your comment in clear sentences?

[2017-06-20 23:38] heckflosse commented on #3938
@cmrdt the paper is really interesting :+1:

[2017-06-21 11:47] Desmis commented on #3937
I think, it is exactly the **same bug as in #3920**
Except for my test it is in "Multiple Editors Tabs in Own Window Mode"

In other places, I have found that the number of files that could be open depends of branch;
1) 6 files open with "dev"
2) 7 files open with "dev" if I disabled "gradient" (suppress gradient in cmakelist, toolpanelcoord, batchtoolpanelcoord...)
3) 5 files open with "locallab_

[2017-06-21 12:35] heckflosse commented on #3937
It's a leak somewhere. I viewed at gdi-handles in taskmanager
I did the following test:
Opened a folder with 246 files => gdi handles 3397
Opened a folder with 11 files => gdi handles 3419
Opened the folder with 246 files again => gdi handles 3911
Opened the folder with 11 files again => gdi handles 3933
Opened the folder with 246 files again => gdi handles 4452

=> each thumb leaks exactly two gd

[2017-06-21 13:02] heckflosse commented on #3937
I did another test.
Opened amsterdam.pef in METM
closed editor
Opened amsterdam.pef in METM
closed editor
...
taskmanager shows that we leak 155 gdi-handles each time.

From [here](https://blogs.msdn.microsoft.com/dsui_team/2013/04/23/debugging-a-gdi-resource-leak/):

[code]

According to the above tests with file browser and METM we reach that limit of 10000 GDI handles easily...

[2017-06-21 17:21] heckflosse commented on #3937
Some findings:

1. each standard adjuster (like [this one](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/bayerprocess.cc#L229)) needs 4 GDI handles
2. standard adjusters do not leak the GDI handles
3. Checkboxes also do not leak GDI handles

Independent on the current leaks we have to limit the number of opened editors in METM (at least on Windows) to avoid the 10000 GDI handles limit

[2017-06-21 20:31] heckflosse commented on #3937
To verify that the crash is caused by reaching the [gdi handle limit of windows](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724291(v=vs.85).aspx),

`HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Windows\GDIProcessHandleQuota`

I increased the value from 10000 to 20000. With that setting I can open more editors.

Edit: A restart of the pc may be needed after changi

[2017-06-21 21:19] heckflosse commented on #3901
@ChrisAshton84

Please take a look at https://github.com/Beep6581/RawTherapee/issues/3937#issuecomment-310196217
Does setting the limit to 20000 solve the issue?
I know that increasing the limit is a workaround and not a solution, but currently each thumb needs 2 GDI handles. Additionally the handles are leaking when switching folders in rt (of course we have to solve this).

[2017-06-21 21:35] rcstaats opened #3939 "Raw Therapee only opens JPG files"
I'm running the newest Windows version of Therapee on a Win 7 system.

When I open the file browser, it only shows JPG files even though there are other image types, e.g., raw, png, tif, in the same directory.

The file type associations are set up correctly in the preferences, and the meta option is not checked.  However ... there are two listings in the picture type box, jpg and JPG.  While the

[2017-06-21 21:40] heckflosse commented on #3939
@rcstaats Please show screenshots

[2017-06-21 21:42] heckflosse commented on #3939
@rcstaats Especially a screenshot of the 'picture type box', whatever that is...

[2017-06-21 23:25] heckflosse commented on #3937
I used [GDIView](http://www.nirsoft.net/utils/gdi_handles.html) to check for GDI handle leaks.
It seems we leak handles for thumbnails (in file browser) and handles for icons (in editor)...

[2017-06-22 05:48] agriggio commented on #3937
thanks Ingo for all your investigation! I wish I could offer some help but if Windows-specific all I can do is cheerleading... :-/ so, "go @heckflosse go!" ;-)

[2017-06-22 12:53] heckflosse commented on #3937
@agriggio Alberto, on Linux it leaks also. Though address sanitizer does not show leaks, system monitor is clearly showing that there are leaks.
For example: open 5 copies of amsterdam.pef in METM, close them, open again and so on you can clearly see increased memory usage of rawtherapee.
On my linux machine it's about 100 MB leak per 5 METM editors

[2017-06-22 13:35] agriggio commented on #3937
@heckflosse ok, that I can try to debug then... (not before next week though)

[2017-06-22 17:29] heckflosse commented on #3937
This patch fixes two possible leaks detected by valgrind (though these are not the culprits).
Each of these possible leaks occurred about 50 times per editor.

[code]

[2017-06-22 22:22] heckflosse commented on #3937
I created a new branch [valgrind_fixes](https://github.com/Beep6581/RawTherapee/tree/valgrind_fixes) to cover all the issues reported by valgrind. Currently only a few are fixed.

[2017-06-23 06:06] Desmis commented on #3866
I just push changes
1) I fix bug related
2) I add a "local vibrance"
3) I add "Color apperance" to auto wb.
http://rawpedia.rawtherapee.com/Local_Lab_controls/fr#Contr.C3.B4les_locaux_Lab_et_RGB

The goal is to test al modules and obviously WB
* in local mode (I don't hink it's useful...area not discriminent for grey)
* in full image (spot in center, and delimiters at the limits of preview)
=> tes

[2017-06-23 08:34] Desmis commented on #3937
@heckflosse
tests in "Multiple Editors Tabs in Own Window Mode"

I have tested with Gdiview an old GTK2 "locallab" version (there are some differences, eg Locallab in scrollbar instead of "exposure panel", but minor differences, except gtk2 ==> gtk3

With 3 files open in the editor and GTK2
Brush = 1, Bimap = 6, Font = 3, Region=2, DC=10, All GDI = 280

With the same files and GTK3
Brush=1, Bitmap

[2017-06-24 20:03] heckflosse commented on #3908
@agriggio Alberto, this patch fixes the leak:

[code]

I need a review of the patch because I'm not really knowing what I'm doing...
But it fixes it \o/

@Desmis Jacques, that also fixes the 2 windows gdi handles per thumb leak in file browser (but not the gdi handles leak in metm)

[2017-06-24 21:21] heckflosse commented on #3908
I included the patch from last post into branch 'valgrind_fixes'. With SETM it's much more stable now.
I tried switching between folders with 3072 files a lot of times and got no crash \o/

But using SETM showed another small windows gdi handles leak. When hovering over thumbs in SETM filmstrip each popup of thumb image informations leaks 2 windows gdi handles

[2017-06-24 21:24] heckflosse commented on #3908
@Hombre57 Your help and expertise for this stuff would be very very welcome!!!

[2017-06-25 07:58] ghost opened #3940 "RT crashes when switching folders"
I get crashes when I switch folders in RT; I was merely randomly switching between folders and I didn't have to do it for a long time. :-)

Backtrace from debug build is here:
[backtrace](https://pastebin.com/cqiY79cw)

Version: 5.1-83-g41d3179f
Branch: dev
Commit: 41d3179f
Commit date: 2017-06-21
Compiler: cc 6.3.0
Processor: Intel(R)\ Core(TM)\ i7-2600K\ CPU\ @\ 3.40GHz
System: Linux
Bit depth:

[2017-06-25 08:12] agriggio commented on #3908
@heckflosse Ingo, great! I'll try to take a look later today.

[2017-06-25 09:48] Desmis commented on #3908
@heckflosse

Hello Ingo

My question.... how do you find that ??

I think all our problems come from GTK3 (and Cairo ?? ) but I am not surprised by your skills, but why "Cairo::FORMAT_RGB24" ...

Jacques

[2017-06-25 10:25] heckflosse commented on #3940
@mks9900 Can you try to build from [this branch](https://github.com/Beep6581/RawTherapee/tree/valgrind_fixes)? This should fix it.

[2017-06-25 10:46] heckflosse commented on #3908
@Desmis Jacques, I looked for changes made for gtk3 branch and detected this backbuffer stuff.
Then I simply tried. I used FORMAT_RGB24 because it was used [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/guiutils.cc#L1336) too

[2017-06-25 11:01] Desmis commented on #3908
@heckflosse

Thank you :)

[2017-06-25 11:20] ghost commented on #3940
Ingo; perfect! Much more stable now after your fixes!
Thanks!

[2017-06-25 12:40] Hombre57 commented on #3908
@heckflosse @agriggio What about reference count [when doing this](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/guiutils.cc#L1340) ?

[2017-06-25 13:58] Hombre57 commented on #3908
@heckflosse You patch is correct. Please delete `BackBuffer::BackBuffer(int width, int height, Glib::RefPtr<Gdk::Window> referenceWindow)` from guiutils.cc as it's not used anymore and broken (`cast_static` is not what I've guessed...)

[2017-06-25 16:13] agriggio commented on #3908
I'm not familiar with Cairo. I'll check the docs

Il 25 Giu 2017 2:40 PM, "Jean-Christophe" <notifications@github.com> ha
scritto:

[2017-06-25 20:09] #3908 closed, assigned to nobody

[2017-06-25 20:10] heckflosse commented on #3901
Fixed with e4c75c4

[2017-06-25 20:10] #3901 closed, assigned to nobody

[2017-06-25 20:13] heckflosse commented on #3908
@Hombre57 I deleted `BackBuffer::BackBuffer(int width, int height, Glib::RefPtr<Gdk::Window> referenceWindow)`, pushed and merged valgrind_fixes into dev.

[2017-06-25 20:14] heckflosse commented on #3940
@mks9900 Thanks for reporting and testing :+1:
Fixed with e4c75c4

[2017-06-25 20:14] #3940 closed, assigned to nobody

[2017-06-25 20:18] heckflosse commented on #3937
@Desmis Thanks for the comparison. That clearly shows there is something wrong with the Editor in gtk3 builds.

@Hombre57 Do you have an idea about this? Maybe it's something similar to #3908 ?

[2017-06-26 09:40] Beep6581 commented on #3558
`5.1-97-g` c60ed7a7

[2017-06-26 11:44] Beep6581 commented on #3882
How is progress with the macOS issues?

[2017-06-26 12:46] Beep6581 opened #3941 "Monitor and printer ICC color profiles missing"
Tested after deleting the options file to enforce defaults.

Preferences > Color Management, the Monitor and Printer comboboxes both show "None". "Directory containing color profiles" is correctly set to `ICCDirectory=/usr/share/color/icc`

Editor > Color tab > Color Management, Output Profile shows only "No ICM: sRGB Output", no other options. `~/rt/iccprofiles/output/` contains the usual RT_* IC

[2017-06-26 15:47] #3941 closed, assigned to heckflosse

[2017-06-26 17:14] Beep6581 commented on #3941
Fix confirmed, thanks Ingo!

[2017-06-26 17:17] heckflosse commented on #3941
I had to fix it because I broke it ;-)

[2017-06-26 17:55] heckflosse commented on #3937
@Hombre57 I tested some old gtk3 commits.
d26eaa1 already leaks. Maybe even elder ones leak...

[2017-06-26 19:47] heckflosse commented on #3937
@Hombre57 Maybe a hint to find the culprit: When I make a build without wavelets tab, the number of leaked gdi handles is reduced by a large amount. That absolutely does not mean that wavelet is the culprit!
But maybe this way we can find the real culprit:
[code]

[2017-06-26 20:05] Desmis commented on #3937
@heckflosse

I think the number of GDI is link to number of events.
Wavelet have a big number of events... so.

I think it is the same reasoning, when I open "locallab" instead of "dev", and more with "localrgb"
But all that does not give the bad culprit :)

[2017-06-26 20:34] Hombre57 commented on #3937
I don't think that any tool in particular is the culprit, but rather a GUI class that is broken. Despite all my researches, I haven't found a clear description on how to create custom widgets in gtk3, i.e. the instantiation process. I hope that what I've done is good, but I wouldn't bet on it.

[2017-06-26 21:01] heckflosse commented on #3937
@Desmis

Jacques, I don't think that the events are related to this issue. I tried by defining `PIXELSHIFTDEV` for rt gui, which adds a lot of adjusters and nothing changed :(

[2017-06-26 21:36] #3906 closed, assigned to nobody

[2017-06-26 22:24] cmrdt opened #3942 "deconvolution: spatially-varying , other psf's"
esp since for
- certain camera/lenses
- near the center vs edges,
- also focus-state
- scene dependency

see
- [Computational Imaging Through Simple Lenses](http://www.cs.ubc.ca/labs/imager/tr/2013/SimpleLensImaging/) [or](https://github.com/Y-Vladimir/SmartDeblur)
 - [Image Enhancement using Calibrated Lens Simulations](http://people.csail.mit.edu/yichangshih/lensEnhancement/lensEccv.pdf) [web](h

[2017-06-27 06:06] Desmis commented on #3937
@heckflosse

I think, but it's obvious, I am not sure. that it depends on events, but those that uses some Cairos function, as "arc (". You can found them in
* spot (graduated filter, locallab, labrgb)
* curves....
* lockable color picker
*...

[2017-06-27 13:12] LebedevRI commented on #583
Actually, perhaps someone can help me here.
I need some raw file which triggers this branch:
https://github.com/Beep6581/RawTherapee/blob/6e55f6bab5ac9289c4bacf2e6cded9b92c3a3d24/rtengine/fujicompressed.cc#L76-L80

I would post it on disscuss, but i suppose more people here know how to actually check it (e.g. put `derror();` in that branch, and see if any raw stops to load?)

[2017-06-27 13:24] heckflosse commented on #3937
This patch reduces the number of leaked gdi handles per editor to 23 (was about 165 before patch)
[code]
@Desmis Jacques, please test that wavelet and retinex still work well (especially the expanders)
@Hombre57 please review the patch

The patch does not solve this issue. It does not reduce the number of gdi handles per editor.

[2017-06-27 16:29] Desmis commented on #3937
@heckflosse

Ingo
I just tested the patch : no problem, all seems to work well :)
Jacques

[2017-06-27 19:47] heckflosse commented on #3937
@Desmis

Jacques, thanks for testing. I will push some more fixes tomorrow

[2017-06-27 20:44] Hombre57 commented on #3937
@heckflosse : My I suggest this patch ? :

[code]

I've removed the `child` property since it's not used (anymore) anyway, but kept your changes about `Gtk::manage`. I don't know if there's a way to enforce that only Gtk::managed Container have to be used, but the code should be correct as is (to be confirmed).

[2017-06-27 20:52] Jehan opened #3943 "Sync gimp-plugin with GIMP repo and add a version test when 5.2 is out."
Hi!

We pushed your plugin in GIMP. Thanks for this. :-)
What would be nice now is to:

1/ Contribute any future changes (after having synced to our code because we already did a few fix: https://git.gnome.org/browse/gimp/log/plug-ins/file-rawtherapee) directly to us because we don't want to ship an outdated plugin.

2/ When you release the version 5.2, contribute a patch to test for RawTherapee v

[2017-06-27 20:58] heckflosse commented on #3937
@Hombre57

Isn't the child property needed to delete the object when using expanders created by toolpanelcoordinator?

[2017-06-27 21:26] Hombre57 commented on #3937
No, all `ToolPanel` are Gtk::managed, so they'll be deleted by Gtk itself. `toolPanelNotebook` is not Gtk::managed but it is deleted by `ToolPanelCoordinator::~ToolPanelCoordinator`.

[2017-06-27 21:29] agriggio commented on #3943
Noted, thanks!

[2017-06-27 21:31] Hombre57 commented on #3937
Let me see...

[2017-06-27 22:13] heckflosse commented on #3937
@Hombre57 I tested your patch. It leaks more gdi handles than my patch

[2017-06-27 22:58] Hombre57 commented on #3937
Correct, my patch sucks ! Maybe I'm just not into it anymore... Yours is fine.

[2017-06-27 23:16] heckflosse commented on #3937
@Hombre57 Though you are right about removing `Gtk::Container* getChild()`

I will do that.

[2017-06-28 13:19] heckflosse opened #3944 "Remove hidden SETM Editor in METM to save memory and handles"
When working in METM there is always an unused editor for SETM hidden in background.
This hidden editor needs about 50 MB memory and (at least on windows) a lot of handles.
This patch removes the hidden editor from METM

[code]

[2017-06-28 13:54] Floessie commented on #3944
@heckflosse I've been casually following your GDI handle chase. Great debugging!!! 👍

The patch above looks very good, except for `void setEditorMode(const bool tabbedUI)`. You know I'm a big fan of `const` (those pointers like `Gtk::Grid* editorLabelGrid = ...` could need some), but not so much for value parameters, as the `const` benefit shows only inside the function whereas its signature is ch

[2017-06-28 14:05] heckflosse commented on #3944
@Floessie Thanks for the review. I will remove the `const`

[2017-06-28 14:26] heckflosse commented on #3944
@Floessie I updated the initial post with the modified patch.

[2017-06-28 15:51] Benitoite commented on #3882
@Beep6581 @ion12 @Partha1b

Here is a list of the few mac errors I know about:

- [ ] crash on exit with libomp errors: you must build and install a more recent OpenMP than macports offering.
- [x] crash if rename app bundle = fixed by this code patch https://github.com/Beep6581/RawTherapee/issues/3882#issuecomment-302940061
[code]
- [ ] Certain images not opening due to Cairo: cairo-scaled-font.c

[2017-06-28 17:36] heckflosse commented on #3944
@Desmis Jacques, can you please test the patch on your dual monitor setup?
@agriggio Alberto, can you please test the patch with the gimp plugin?

[2017-06-28 18:04] agriggio commented on #3944
I'll test asap!

[2017-06-28 18:30] Desmis commented on #3944
I am not at home. 
I will test as soon as possible
Jacques

[2017-06-28 18:44] heckflosse commented on #3944
@Desmis Jacques, no hurry :)

[2017-06-28 19:25] heckflosse commented on #3944
@Desmis I have the impression that RT starts faster with this patch when METM or MEOW is enabled...

[2017-06-28 20:04] Hombre57 commented on #3937
@heckflosse Do you think that this patch make sense ?

[code]

[2017-06-28 20:07] agriggio commented on #3944
@heckflosse seems to work fine for me (there's a problem with the GIMP plugin if you have `rtSettings.verbose=true`, but that's unrelated)

[2017-06-28 20:21] heckflosse commented on #3944
@agriggio Alberto, thanks for testing :+1:

[2017-06-28 20:32] heckflosse commented on #3937
@Hombre57 I will test it now

[2017-06-28 20:38] heckflosse commented on #3937
@Hombre57 With your patch exactly the same number of gdi handels are leaking as without your patch.
But that does not mean that it does not make sense. Reviewing ....

[2017-06-28 20:57] heckflosse commented on #3944
@Hombre57 Any objections from you about this patch?

[2017-06-28 23:11] heckflosse commented on #3944
@Floessie

`following your GDI handle chase. Great debugging!!!`

That's debugging in the sense of the words. Though the methods I use are not related to tools like gdb or valgrind. Of course using gdb and valgrind I found some bugs, but most of the bugs I found by using logic, statistics and reading the code...

[2017-06-29 05:53] Floessie commented on #3944
@heckflosse

That's your magic: I would have never had the time to dig that deep. 👍

You must have some clever regex to find `new [Widget]` without a `Gtk::manage` prepended...

Good job!

Best,
Flössie

[2017-06-29 07:31] Desmis commented on #3944
@heckflosse

Ingo
I am not at home, but in Paris with my daughter....
I have my computer, but obviously no external screen.

I just test the patch with "dev", it compiles fine...and I try in METM...
When I open 9 files, the systems hangs...GDIview is for Rawtherapee at 8160

jacques

[2017-06-29 08:30] Beep6581 commented on #3944
I can help with that if needed.

[2017-06-29 09:36] heckflosse commented on #3944
@Desmis
That means, as expected, you can open more editors than without the patch.
I just tested MEOW mode with one monitor ;-) Works fine.

[2017-06-29 09:39] heckflosse commented on #3944
Yes, please.

[2017-06-29 11:04] Floessie commented on #3944
Here's one that works halfway in Eclipse but not with `rgrep -P`:

[code]

Feel free to use it as a base.

[2017-06-29 11:58] Desmis commented on #3944
@heckflosse

Yes, perhaps one editors more :)

[2017-06-29 13:47] Beep6581 opened #3945 "Hide "Send to Queue" button and deactivate shortcut when in no-file-browser mode"
Hide "Send to Queue" button and deactivate shortcut when in no-file-browser mode, as clicking it crashes RT.

[2017-06-29 13:52] agriggio commented on #3945
looks like a regression, as I remember this was not happening...

[2017-06-29 13:53] heckflosse commented on #3945
@agriggio Alberto, will you fix it or shall I do?

[2017-06-29 13:58] agriggio commented on #3945
I think I broke it, so I'll fix it!

[2017-06-29 15:50] #3945 closed, assigned to nobody

[2017-06-29 17:52] #3944 closed, assigned to heckflosse

[2017-06-29 19:24] heckflosse commented on #3944
@Desmis

Jacques, the intention of this patch was not to solve #3937. The intention was to solve this issue!

Ingo

[2017-06-29 22:56] Hombre57 commented on #3937
I think you should focus on line 697 of editorpanel.cc :
[code]

PS: That's not my programing style, it's Adams' code and I had some difficulties to understand this coding level. Maybe that the ColorManagementToolbar is not freed since it doesn't use Gtk::manage !?

[2017-06-29 23:12] Hombre57 commented on #3937
Preparing a patch...

Spoke too fast. There's no problem with this class it seem.

[2017-06-30 06:09] Floessie commented on #3937
@Hombre57

I didn't have a closer look, but the `.reset (new ColorManagementToolbar (ipc))` pattern looks like the correct use of a `std::unique_ptr<>`.

[2017-06-30 06:16] agriggio commented on #3937
I agree with @Floessie, I don't see anything (obviously) wrong with it

[2017-06-30 16:35] Beep6581 commented on #3558
`5.1-115-g`3281332b

[2017-06-30 17:53] heckflosse commented on #3937
Here's a screen shot of gdiview. The selected entries are gdi handle leaks per editor.
Maybe someone has an idea...
![gdileakspereditor](https://user-images.githubusercontent.com/13733487/27747934-b23b89ce-5dcd-11e7-8dfe-dac9bdbb1f97.png)

[2017-06-30 19:13] heckflosse commented on #3937
@Hombre57 @Floessie @agriggio

The following patch clearly shows that there is a leak [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/editorpanel.cc#L143)

The patch does not solve the leak, it just shows that there is a leak, because there is
`constr : wwwwwwwwwwwwwwwwww`
in console when an editor in setm is opened
but there is no
`destr : wwwwwwwwwwwwwwwwww` in console
when the edi

[2017-06-30 19:30] agriggio commented on #3937
Ingo, I'm taking a look

[2017-06-30 19:46] heckflosse commented on #3937
@agriggio Alberto, hold. I was wrong. It leaks [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/icmpanel.cc#L202). Sorry for the confusion.
Though I still don't understand the coding I mentioned in last post...

[2017-06-30 20:02] agriggio commented on #3937
I found something

[2017-06-30 20:27] agriggio commented on #3937
Ingo, can you try this?

[code]

[2017-06-30 20:42] heckflosse commented on #3937
Alberto, your patch is better than mine (which I didn't post yet). Neither your or my patch reduce the number of leaking gdi handles. Both solve the leak in icmpanel and yours also makes a clean destroy of toolpanelcoordinator when closing rt. :+1: to commit your patch

[2017-06-30 20:44] agriggio commented on #3937
Ingo, unfortunately I have no way of testing for leaking GDI handles, I'm afraid you are on your own there :disappointed:
Feel free to commit the patch though

[2017-06-30 21:01] heckflosse commented on #3937
Alberto, can you confirm (by console output), that the patch at least solves one missing destructor (which means it solves at least a leak, though no leak of a gdi handle)?

[2017-06-30 22:22] Hombre57 commented on #3937
@agriggio That will be a silly question for you, but why is `ointent.reset (new PopUpButton ());` preferable over `ointent = Gtk::manage (new PopUpButton ());` ? Does it mean that only the `Gtk::Button` part of the class is deleted through `Gtk::manage` ?

[2017-07-01 07:01] agriggio commented on #3937
@Hombre57 I'm actually not sure I fully understand how `Gtk::manage` works. the button is added to a grid which is also one of its members. my guess is that this might create some sort of circular reference. I haven't investigated in detail yet. since I understand `unique_ptr`, I was just lazy did that :-) @heckflosse yes, it does solve some leaks

[2017-07-01 09:07] heckflosse commented on #3937
That's how I understand that too!

[2017-07-01 10:12] heckflosse commented on #3937
When using address sanitizer I get this:
[code]
Does that mean the mismatch is in libgtkmm?

[code]

[2017-07-01 13:21] agriggio commented on #3937
Both destructors of the base classes get called, as this is what the C++ standard specifies.
But the destructors for Gtk widgets do some complicated stuff, that involves deleting explictly the underlying C instance, depending on whether the widget is `manage()`d or not. In addition to that, they get called by callback functions installed at the C level.
See e.g.
https://github.com/GNOME/gtkmm/blob

[2017-07-01 16:26] Desmis commented on #3937
I just tested the last commit "dev"  137450c, with METOWM
I can always open 6 files (the same value as before) in editor, with 9095 GDI in Gdiview, with 7 files ==>crash.

Jacques

[2017-07-01 17:34] heckflosse commented on #3937
@Desmis what is the number of GDI handles before you start an editor?

[2017-07-01 18:23] Desmis commented on #3937
@heckflosse

Ingo
Now with the new version, 1349, before it was 2384
But I can always open only 6 files in editor (dev).
jacques

[2017-07-02 06:29] Desmis commented on #3937
@heckflosse
I complete my test with METOWM, with Gdiview
with "old" version "dev" and 16 thumbnail in file browser
* No file edit : 2384
* 1 file edited : 3447
* 5 files edited : 8791
* 6 files edited : crash or not ...

With last version "dev"
* No file edited : 1359
* 1 file edited : 2422
* 5 files edited : 7706
* 6 files edited : 9905 and never crash

 We have "gain" about 1000 GDi :)

To note

[2017-07-02 21:41] Beep6581 opened #3948 "rawtherapee-cli thinks /dev/null is a file"
[code]

If I use `/dev/null/` I get `Error saving to: /dev/null/.jpg`

Works fine for `/tmp` and `~/photos`

[2017-07-02 22:05] Hombre57 commented on #3937
@heckflosse Here is the patch I was talking about on IRC. I tried to disambiguous things in PopupCommon, but the build fail. Posting here to have your comment on this.

[code]

[2017-07-03 04:01] TooWaBoo opened #3949 "Getting a lot of compiler warnings"
After updating to the latest MSYS I got a lot of compiler warnings.

[Compiler Warnings.txt](https://github.com/Beep6581/RawTherapee/files/1118383/Compiler.Warnings.txt)

[code]

[2017-07-03 05:10] Desmis commented on #3937
@Hombre57
I have this message when compiling ! Is it what you speek ?

[ 42%] Building CXX object rtgui/CMakeFiles/rth.dir/defringe.cc.obj
In file included from G:/code/RT5gtk3/rtgui/curveeditor.h:22:0,
                 from G:/code/RT5gtk3/rtgui/curveeditorgroup.cc:22:
G:/code/RT5gtk3/rtgui/popuptogglebutton.h:27:7: **error**: no unique final overrider

[2017-07-03 09:32] gaaned92 opened #3950 "Gimp plugin file_rawtherapee.exe missing entry point"
@agriggio
In order to build the plugin on windows10, I built the last unstable gimp2.9.5 see [https://wiki.gimp.org/wiki/Hacking:Building/Windows](https://wiki.gimp.org/wiki/Hacking:Building/Windows) to get the missing files.
I put the plugin in my user  gimp2.9.5-cce  plugin dir. (built by Partha)
When I launch gimp I get the  error message:

[2017-07-03 09:36] agriggio commented on #3950
Hi @gaaned92,
looks like the version of gimp you are using doesn't include the `gimp_register_file_handler_raw` function. I think it got introduced relatively recently (see e.g. https://discuss.pixls.us/t/gimp-and-specifying-raw-importers).
You can try commenting out the relevant line in `file-rawtherapee.c` and see if that helps

[2017-07-03 09:37] agriggio commented on #3950
Oh BTW, the RT gimp plugin is now part of gimp itself, so it should be shipped by default in future versions. See #3943

[2017-07-03 09:40] gaaned92 commented on #3950
OK I close the thread

[2017-07-03 09:40] #3950 closed, assigned to nobody

[2017-07-03 11:22] heckflosse commented on #3949
@WooWaBoo

At the moment to get rid of this annoying warnings you can add this line

`#pragma GCC diagnostic ignored "-Wdeprecated"`

at top of

`C:/msys64/mingw64/include/glibmm-2.4/glibmm/variant.h`

[2017-07-03 11:35] TooWaBoo commented on #3949
Thanks, I don't care about the warnings. It compiles successfully. It's only an info for you.

[2017-07-03 11:53] heckflosse opened #3951 "Something is O(n²) in file browser"
The following patch clearly shows that something is O(n²) in file browser.
Precisely the number of calls to

`ThumbBrowserEntryBase::setPosition`

is `2*n + n*(n+1)/2`

where n is the number of files in a folder.

This can (and will) be problematic when a folder contains a lot of files.
For example on a folder with 1000 files the function will be called 502500 times.

[code]

[2017-07-03 12:14] agriggio commented on #3951
This is because `FileBrowser::redraw` is called whenever a new entry is added (by `FileBrowser::addEntry_`). A possible solution would be to use some caching to avoid unnecessary recomputations. Probably this is not a one-liner though...

[2017-07-03 12:30] Floessie commented on #3951
How about a (atomic?) `bool set_position_pending` and `IdleRegister`? Not a one-liner but maybe a ten-liner...

[2017-07-03 12:32] agriggio commented on #3951
@Floessie you need to show me the ten lines, otherwise I don't follow :wink:

[2017-07-03 12:38] Floessie commented on #3951
@agriggio I haven't yet looked at the code, but from what you just posted, I wonder if a `bool` member set to `true` in `ThumbBrowserEntryBase::setPosition()` and moving the workload to the idle loop would suffice...

But maybe there are side effects that matter for the `setPosition()` call, and calling it only once isn't enough.

[2017-07-03 12:47] agriggio commented on #3951
@Floessie I also didn't dig deep in the code -- what you propose might be enough, but I don't know.

The current version of the code maintains no state to decide whether only a subset of the thumbnails need to be repositioned. Rather, it performs the whole computation every time. This makes the code easier (fewer state elements, fewer things that can go out of sync) but with big folders it can slo

[2017-07-03 12:50] heckflosse commented on #3951
@agriggio @Floessie
Thanks for helping with this. The `setposition()` call was only an example to show the O(n²).
`FileBrowser::addEntry_` is a good hint. I will take a look.

[2017-07-03 12:53] Floessie commented on #3951
@heckflosse `FileBrowser::addEntry_()` rings a bell: Didn't we do something about it in the past?

**Edit**: The call is already `IdleRegister`ed in `FileBrowser::addEntry()`. Maybe that was it... Doesn't seem to help, though.

[2017-07-03 13:00] heckflosse commented on #3951
@agriggio It's a bit hard to measure. But when you open a folder with for example 3000 files it takes very long with rt looking like frozen in between.

[2017-07-03 13:11] Floessie commented on #3951
@heckflosse Very slow compile machine here, so I could not yet test, but here is a quick patch:

[code]

[2017-07-03 13:15] agriggio commented on #3951
@Floessie in the meantime I was testing essentially the same (after rereading more carefully what you wrote :-)
Unfortunately, I get a segfault as soon as the RT window is shown :-/ no idea though about why...

[2017-07-03 13:18] hupchen opened #3952 "Wrong export of jpg for PhotoShop CS6"
Dear all,

there is a problem with the export of jpg from RAWTherapee. If I export I file as JPG, I cannot open the jpeg in PhotoShop CS6.

I see an error about the jpeg header.

Best regards
Blandyna

[2017-07-03 13:20] Floessie commented on #3951
@agriggio Sorry for the overlapping.

Hm, I also got a SEGV the first time I started, but now I don't get one, otherwise I could debug...

[2017-07-03 13:21] agriggio commented on #3951
@Floessie no problem! It was your suggestion in fact... and I can't dig deeper anyway at the moment

[2017-07-03 13:41] Floessie commented on #3951
Here's a BT:

[code]

[2017-07-03 13:46] heckflosse commented on #3951
I measured the time to open a folder with increasing amount of files (all thumbs are in file system cache)

512 files  => 10 s
1024 files => 23 s
2048 files => 67 s

[2017-07-03 13:49] heckflosse commented on #3951
I also did essentially the same meanwhile (though a bit different as I just removed the redraw() in addentry_ and inserted `fileBrowser->redraw();` in `FileCatalog::previewsFinished`.
That also segfaults. But when running rt in gdb it works...

[2017-07-03 14:13] Beep6581 commented on #3952
@hupchen Hi, please see http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-07-03 14:13] #3952 closed, assigned to nobody

[2017-07-03 18:33] heckflosse commented on #3951
Though completely unrelated to O(n²) the following patch reduces the time to open a folder by about 3.5 ms per file in folder, which means a folder of 2048 files opens ~7 seconds faster now at my machine.

[code]

[2017-07-03 18:45] heckflosse commented on #3951
Edit: the key to the speedup was to use

`file->query_info("standard::*");`

instead of

`file->query_info ();`

and to get rid of

`file->query_exists()`

because that's a convenience function which calls

`file->query_info ();`

[for reference: query_exists](https://developer.gnome.org/glibmm/stable/classGio_1_1File.html#ad8b0a75e0afdb5f6874ea5e304d55ea8)

and that should be handled well in the

[2017-07-03 19:52] heckflosse commented on #3949
@TooWaBoo I don't think it's only an info for devs. This massive amount of warnings 'hides' other warnings which may be important.
MSYS should fix that...

[2017-07-03 23:02] TooWaBoo commented on #3949
I'll give feedback if they have fixed it.

[2017-07-04 06:34] Floessie commented on #3949
JFYI: This has been [fixed](https://github.com/GNOME/glibmm/commit/a4de5823f43b415359a05710b77f3de9e3d6448d) in glibmm in April.

[2017-07-04 06:37] Floessie commented on #3951
@heckflosse And I thought, it was the `const` in `const auto info = file->query_info("standard::*");`. 😁

[2017-07-04 07:01] TooWaBoo commented on #3949
New update of MSYS available but the bug still exists.

[2017-07-04 08:26] Beep6581 commented on #3949
Report it to MSYS.

[2017-07-04 08:55] mingwandroid commented on #3949
Why would msys2 be interested in fixing your compiler warnings? It seems a deprecated feature is being used by either your code or your dependencies' code or your C++ std flag is wrong.

In what way should msys2 fix any of that?

[2017-07-04 10:01] Beep6581 opened #3953 "Dealing with locales in scripts"
A reference for myself:
[code]

[2017-07-04 10:01] #3953 closed, assigned to Beep6581

[2017-07-04 10:10] heckflosse commented on #3949
@mingwandroid
If you read the post 3 above your post you will see that is not a bug in our code and is already fixed in glibmm. But it seems in the glibmm used by msys it is not yet fixed.

[2017-07-04 10:39] heckflosse commented on #3951
@Floessie

Maybe we can do the same [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/cachemanager.cc#L302) and [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/cachemanager.cc#L320)?

But I've not enough raw files on my Linux box to measure it reliably.

[2017-07-04 10:45] agriggio commented on #3951
@heckflosse just create say 10k hardlinks to the same raw, wouldn't that work?

[2017-07-04 11:43] heckflosse commented on #3951
@agriggio @Floessie

Here's a patch:
[code]

I tested with a few files on Linux. It's a bit faster than before but nothing to write home about because on Linux it already was much faster than on Windows.
On Windows it's a lot faster than before. In my test with 2048 files it's about 4 seconds faster.

[2017-07-04 12:19] Floessie commented on #3951
@heckflosse Great, Ingo! 👍

[code]

Maybe move that definition to a line above the `if` (like it is for `file`). I know, this is a valid pattern, but I think we use the "single definition" pattern throughout the code.

[2017-07-04 13:23] heckflosse commented on #3951
I pushed the two patches from above with 11e3a72

[2017-07-05 08:39] ghost opened #3954 "Window Decorations in Win10"
RT5.1.119, Win10(64bits)
The program behaves incorrectly when it does not have native system window decorations. Quite alien.

**1.** The program does not minimize when I click on its icon in the taskbar. It loses focus only.

**2.** Aero Snap (the Mouse Drag Window Arranging Feature).
I drag someone window to the edge of the screen. On the other side of the screen - thumbnails of the remaining pr

[2017-07-05 13:09] OmarMcAdam opened #3955 "Site is down"
Just went to download, and the site is down.

Seems to be an error with DNS servers.

Have tested from several connections/

[2017-07-05 13:30] heckflosse commented on #3955
Confirmed.

[2017-07-05 17:24] #3955 closed, assigned to nobody

[2017-07-06 11:46] heckflosse commented on #3951
I found the culprit. The following quick&dirty patch reduces the time to open a folder with 2048 copies of amsterdam.pef from 54 seconds to 15 seconds.

[code]
@Floessie @agriggio please review

[2017-07-06 11:50] agriggio commented on #3951
@heckflosse why not simply use `std::lower_bound`?

anyway, great that it gives such a nice speedup, but I don't see why it should reduce the number of calls in `redraw`...

[2017-07-06 12:11] heckflosse commented on #3951
@agriggio Wouldn't `std::lower_bound` sort by the address?
Of course the patch does not reduce the number of redraw calls, but it reduces one O(n²) to O(n*log(n))

[2017-07-06 12:17] Floessie commented on #3951
@heckflosse Good catch!

I agree with Alberto on `std::lower_bound()` (is has a version with a comparator, today a lamba will suffice for it). But wouldn't it be even better, to have a `std::set<>` instead of a hand-sorted `std::vector<>`?

[2017-07-06 12:24] heckflosse commented on #3951
@Floessie
I also thought about using a std::set instead of std::vector but that would require a lot of changes...
Could you please explain me how to use std::lower_bound in this context (vector of pointers)?

[2017-07-06 12:33] heckflosse commented on #3951
@Floessie `std::lower_bound` : I think I got it

[2017-07-06 12:34] Floessie commented on #3951
@heckflosse A `std::vector<>` doesn't really seem to be the right thing. I was digging in the code a bit, and there are many places, where items are inserted and erased from `fd`. A `std::vector<>` is the worst container to act on like this, as all elements behind that point must be copied.

Untested use of `std::lower_bound()`:
[code]

HTH,
Flössie

[2017-07-06 12:43] Floessie commented on #3951
`BatchQueue` shuffles the items in a different way, so a sorted container is too much. Thus I'd favor `std::list<>`, which has such nice things like `splice()`, `merge()`, and `sort()` all built in.

[2017-07-06 13:03] heckflosse commented on #3951
@Floessie Thanks a lot for the lower_bound
Here's a working patch which uses it:

[code]

For using `std::list` or `std::set` instead of `std::vector` we should open new issues. What do you think?

[2017-07-06 13:51] Floessie commented on #3951
@heckflosse

I'd say yes, but must admit, that I can spend some time on it forseeably only earliest in mid-October.

[2017-07-06 17:05] heckflosse commented on #3951
@Floessie No need to hurry. I had a deeper look at the code and I absolutely agree that we should change this, but I also measured a bit: Changing fd from std::vector to std::set would decrease the time to open a folder with 2048 copies of amsterdam.pef only by max. 200 ms.

[2017-07-06 17:24] heckflosse commented on #3951
The following small patch reduces the time to open a folder of 2048.... by another second

[code]

[2017-07-06 21:12] heckflosse commented on #3951
Any objections to close this issue for now?

[2017-07-06 21:33] heckflosse commented on #3954
I'm on Windows 7 where all seems to work correctly. Unfortunately no dev seems to be on Windows 10...

[2017-07-06 22:07] heckflosse commented on #3951
I just tested with a folder of 4096 copies of amsterdam.pef.
Took 30 seconds. So now we have almost linear processing time which makes this issue obsolete => closing!

[2017-07-06 22:08] #3951 closed, assigned to heckflosse

[2017-07-06 22:19] heckflosse commented on #3900
Fixed some time ago. Don't remember the commit

[2017-07-06 22:19] #3900 closed, assigned to nobody

[2017-07-06 22:23] #3928 closed, assigned to nobody

[2017-07-07 07:14] Floessie commented on #3951
@heckflosse Here's another little cleanup for the lambda. Interestingly, `ThumbBrowserEntryBase::operator <()` was only used in the `FileBrowser`, so I corrected the comparison in both places:

[code]

Best,
Flössie

[2017-07-07 07:48] Kolli96 commented on #3918
Same problem here. Does not delete RAW files. In the old version played well but this not.

System is Windows 10 64-bit and RT 5.1 64-bit version.

[2017-07-07 07:49] ghost commented on #3954
Hi @heckflosse,

I saw your comment with a screenshot on the forum, [https://discuss.pixls.us/t/pass-through-rt-with-only-dng-to-tif16-conversion/4569/2](https://discuss.pixls.us/t/pass-through-rt-with-only-dng-to-tif16-conversion/4569/2). Everywhere, on the main site, on the "Gaaned92 RT WIN64 nightly builds", RT has GTK-decorations. But your RT has Win-native titlebar! May I ask you where I can

[2017-07-07 10:30] heckflosse commented on #3954
@chaotic-sys
The builds are not the problem, because `Gaaned92 RT WIN64 nightly builds` also have native title bar on my Windows 7

[2017-07-07 10:40] heckflosse commented on #3951
@Floessie
Thanks for the cleanup. I just pushed it.

[2017-07-07 10:41] Beep6581 commented on #3918
@Vike95 @icom962 could you try the latest dev build from @gaaned92 or @sguyader ?

[2017-07-07 10:41] heckflosse commented on #3918
@Vike95 See 3 posts above your post.

[2017-07-07 11:13] ghost commented on #3954
@heckflosse
Thanks for the answer, I will dig in this direction.
On first, "Win7" compatibility mode did not show any changes : )

[2017-07-07 11:29] Beep6581 opened #3956 "METM - Tab bar should be scrollable"
Tested METM in `5.1-126-g` c30683f5 and found the following issues:
* The tab bar is not scrollable. It should be scrollable, so that if you have enough tabs open so as to have the File Browser and Queue tabs no longer visible, you should be able to just scroll to them without having to step through and open every tab. Would be nice if the mouse scrollwheel scrolled the tab bar.
* The `<` and `>`

[2017-07-07 12:03] Floessie commented on #3951
@heckflosse

I think I can spare some time this weekend turning the `std::vector<>` into a `std::list<>`. I'll push on a new branch, so we can monitor the fallout.

[2017-07-07 12:35] agriggio commented on #3951
note though that `lower_bound` on a `list` will be much worse than a `vector`, so I'm not sure you will gain much (if anything). relocating a pointer vector of a few thousand elements in this context doesn't feel like a big deal to me (but I haven't measured, so I may be wrong!)

[2017-07-07 13:02] Floessie commented on #3951
@agriggio As so often, you [are right](http://umich.edu/~eecs381/handouts/binary_search_std_list.pdf). 👍

[2017-07-07 15:25] heckflosse commented on #3937
@Desmis

Jacques, I made an analysis. I compared the number of handles needed per editor in METM and in MEOW mode.
[code]

The result is a bit strange. The first editor opened in MEOW mode needs almost that same amount of handles as the first editor in METM mode. But second and third editor need roughly 1345 handles in MEOW while they need only roughly 1013 handles in METM mode.

That explains why

[2017-07-07 17:27] TooWaBoo commented on #3954
I'm on Win 10 and there is no native window on GTK3.20 or higher.

![unbenannt](https://user-images.githubusercontent.com/13800920/27969192-390e3560-634a-11e7-860a-201ac7235ae4.PNG)

[2017-07-07 17:36] heckflosse commented on #3954
@TooWaBoo Great to know that you're on Win 10 :+1: That makes testing this kind of stuff a bit easier.
Can you confirm the issues from first post?

[2017-07-07 17:45] Desmis commented on #3937
@heckflosse
Ingo, I have done many tests...during last weeks !

if if make the same test as you, but with 2 versions of RT "up todate"
1) "dev"
no editor 1359,  MEOW 1 - 2420 , 2 - 3795, 3 - 51233, 4 - 6445, 5 - 7768

2) "locallab_dev"
no editor 1559, MEOW 1 2802, 2- 4371, 3- 5916, 4- 7457, 5 - 8998

and with "localrgb" not "uptodate", but near
no editor 3040, MEOW 1 - 4371, 2  - 6072, 3 - 7749, 4

[2017-07-07 17:50] heckflosse commented on #3937
@Desmis
Jacques, what I absolutely don't understand is, why the first editor in MEOW needs less handles than 2nd and 3rd editor...

[2017-07-07 17:57] TooWaBoo commented on #3954
**3. Shadows near the borders of the window are impenetrable! I can not click anything under them.**
This issue exists on every app which doesn't use a native window.

All other reported issue work fine on my machine.

[2017-07-07 18:19] heckflosse commented on #3954
@TooWaBoo Thank you!

[2017-07-07 18:22] heckflosse opened #3957 "MEOW mode has some bugs"
This issue is to report and fix them step by step.

[2017-07-07 18:41] Desmis commented on #3937
@heckflosse
Ingo, you are true, if we understand why:
1)  the first editor in MEOW needs less handles than 2nd and 3rd editor...
2) "locallab_dev"  needs more, than "dev"  (and more more localrgb)

Is it  a) events; b) Cairo "arc (" or its derivated (fill...), used in curves, spot, expanders, etc; c) Gkmm that does not "clean" all;  d) ??

I'll be away, but probably (??) with Internet next week (I

[2017-07-07 19:02] heckflosse commented on #3957
First bug: Size of tool panel in MEOW mode depends on size of main rt window instead of size of MEOW window. To reproduce:

1) Start rt
2) reduce size of rt so that it fills only a quarter of the screen
3) open a file
6) Because the size of the tool panel depends on the size of the main rt window it looks like this then, which is bad:
![meow_wrong](https://user-images.githubusercontent.com/1373348

[2017-07-07 20:00] heckflosse commented on #3937
@Desmis

Jacques, I will continue searching the culprits and fixing [MEOW bugs](https://github.com/Beep6581/RawTherapee/commits/meow_fixes) meanwhile.

Enjoy the mountains :+1:

Ingo

[2017-07-07 21:02] heckflosse commented on #3957
Next bug, but this time without a fix:

1) open an image in MEOW mode
2) Use the save button to save the processed image as tiff
=> progress bar of main rt window is used to show the save to tiff status

That's not critical, but makes no sense

[2017-07-07 23:49] Beep6581 commented on #3957
Fix confirmed, no side-effects after 30 whole seconds of using RT in SETM-VT ;)

[2017-07-08 00:08] heckflosse commented on #3957
@Beep6581 Thanks for testing :+1:

[2017-07-08 00:15] heckflosse commented on #3957
I merged the first commit of meow_fixes into dev

[2017-07-08 00:47] heckflosse commented on #3951
@Floessie @agriggio

Maybe also [related](https://developer.gnome.org/glibmm/stable/classGlib_1_1ustring.html#a7c0336492100e3087fc3d12e2104d9fc)

[2017-07-08 06:22] Desmis commented on #3937
@heckflosse
Ingo
Just before, I go to montain, I made a test
1) locallab_dev as original in last commit
2) locallab_dev + one "Flat curve" (to do H=F(H))
1) and 2) have the same handles in Gdiview, in "No editor" and with "1 ...5"

Jacques

[2017-07-08 10:22] JamesForBugReport commented on #3954
I am Windows 10 and also experience all the issues listed in OP.
The only one I had previously noticed by myself was number 1, but as chaotic-sys says, these are just cosmetic and do not have a big impact on the use of RT.

Version: 5.1
Branch: 5.1
Commit: f23d70fd
Commit date: 2017-05-15
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: relea

[2017-07-08 10:29] Floessie commented on #3951
@heckflosse Interesting, indeed. Maybe we should pimp `ThumbBrowserEntryBase::operator <()` accordingly. I'll have a look at it tomorrow.

[2017-07-08 11:31] TooWaBoo commented on #3954
Perhaps the different behaviour depends on different compile settings.

Can anyone test this build please?
https://filebin.net/coyjef8ej0g4nlnq

Extract the zip file and run rawtherapee inside the folder.

[code]

[2017-07-08 12:27] ghost commented on #3954
I downloaded and checked the program. It seems nothing has changed.

I can say that Silkypix DS 4.4 is also not visible with aerosnap. It does not have a snap function at all. It has no shadows : ) When it is maximized, the taskbar also does not pop up when the cursor is moved down. But Silkypix can minimized  when you click on its button in the taskbar :)

One more remark. In the browser tab in t

[2017-07-08 14:01] Beep6581 opened #3959 "Empty partial PP3 not saved empty"
Saving a partial PP3 with nothing selected generates this:
[code]

[2017-07-08 15:12] Beep6581 opened #3960 "How do we handle cropped raw images?"
For cameras which produce more than one size of raw image, how do we handle the `raw_crop` parameter in `camconst.json` so that both the full raw image and the cropped ones render correctly?

Ping @iliasg @heckflosse

e.g. the Sony ILCE-7S has a cropped mode when attaching an APS-C lens which requires:
`        "raw_crop": [ 0, 0, 2792, 1872 ],`
but currently we have this and as a result these APS

[2017-07-08 18:32] #3959 closed, assigned to heckflosse

[2017-07-08 22:28] TooWaBoo commented on #3954
@chaotic-sys

Thanks for testing. Since the Creators update of Win10 a lot of people get trouble with older graphic cards.
I guess the culprit of the different behavior on Win10 belongs to the new window handler, incompatible graphic card or GTK.

[2017-07-08 23:50] heckflosse commented on #3799
I vote for releasing 5.2 asap because a lot of crash issues (though not all) have been fixed or at least the likelyhood to crash has been reduced.

[2017-07-09 04:58] agriggio commented on #3799
fine for me, but I have a couple of features I'd like to discuss. one is an open pr already (remote option), another is the option to configure which tools are open. the first one would need some testing on Windows though...

[2017-07-09 06:18] gaaned92 commented on #3954
@TooWaBoo
Even before the Creators update of W10 I noticed these issues that were present since the beginning of use of gtk3. This behaviour did not change with the W10 update. Moreover, my HW is rather recent.
I can be wrong, but I think it is a kind of incompatibility of gtk3 and W10.

[2017-07-09 06:25] TooWaBoo commented on #3954
I've read over this point, I can confirm this issue too.

[2017-07-09 07:41] Benitoite opened #3961 "linking errors during dev branch compilation [macos]"
Halfway thru the make -j4 install process, I am getting these errors:

with lto off:
[code]
with lto on:
[code]

Trying to build dev branch at the latest position, 2c7de89fbc3b4c4653173831b7f7f91fcc9cdf49
on MacOS 12.5

I saw Glib in there and tried both the glib2 and glib2-devel macports but to no avail.

[2017-07-09 10:10] heckflosse commented on #3799
@agriggio Alberto, I will test your open pr on Windows today

[2017-07-09 10:51] JamesForBugReport commented on #3954
I am not running Creators update.
I'm with @gaaned92 it feels like a GTK3 issue to me, not hardware.

[2017-07-09 13:44] Beep6581 commented on #3961
@Benitoite have you deleted the build folder (i.e. started with a clean build folder) before running cmake and compiling?

[2017-07-09 13:47] Beep6581 commented on #3799
Agreed with everything - will test later today if time permits.

[2017-07-09 13:48] Beep6581 commented on #3954
Can you get your hands on some other GTK3-using program and compare?

[2017-07-09 14:11] Benitoite commented on #3961
@beep6581 definitely am starting with a new build dir every time.

[2017-07-09 14:13] gaaned92 commented on #3954
@Beep6581 smart idea
There is a gtk3-demo in the MSYS2 system.
The gtk3-window has the same behaviours  as RT on W10.

[2017-07-09 14:14] ghost commented on #3954
Synfig Studio: all the same issues : )
![capture-1](https://user-images.githubusercontent.com/29912986/27994616-0afe5188-64ca-11e7-9ab2-96957719f7a2.jpg)

[2017-07-09 16:08] heckflosse commented on #3904
Should be fixed with e242afedd67bb826f1b40ae40c50ca947c8b4e57

[2017-07-09 16:08] #3904 closed, assigned to nobody

[2017-07-09 16:31] heckflosse commented on #3853
Fixed since a while

[2017-07-09 16:31] #3853 closed, assigned to nobody

[2017-07-09 16:46] heckflosse commented on #3875
@Beep6581 I can not reproduce any more. Can you?

[2017-07-09 18:11] Luncher91 opened #3962 "Multi Monitor - maximizing not correctly"
Version: 5.1
Setting: MultiTab on multiple monitors if available
OS: Windows

I have a three Monitor setup (2x 1920x1080 and 1x 1920x1200). The primary display is the large one.
Maximizing the secondary window on the primary screen does not result in a maximized window. There is some space around the window. So it is centralized but not maximized.

I hope someone can fix that for the next release.

[2017-07-09 18:20] gaaned92 commented on #3875
cannot reproduce with dev5.1.126

[2017-07-09 18:31] heckflosse commented on #3962
@Luncher91 Would you mind to report this in #3957 (MEOW = Multiple Editors Own Window)?
I'm currently trying to collect and fix the related issues there.

[2017-07-09 18:35] Luncher91 commented on #3957
From #3962

Short: secondary window does not maximize correctly
Version: 5.1
Setting: MultiTab on multiple monitors if available
OS: Windows

I have a three Monitor setup (2x 1920x1080 and 1x 1920x1200). The primary display is the large one.
Maximizing the secondary window on the primary screen does not result in a maximized window. There is some space around the window. So it is centralized but n

[2017-07-09 18:35] Luncher91 commented on #3962
Sure!

[2017-07-09 18:36] heckflosse commented on #3962
Thank you!

[2017-07-09 18:36] #3962 closed, assigned to nobody

[2017-07-09 22:21] Benitoite commented on #3961
I'm still getting the same error with fresh clone.  Same error on the 5.1 tag, too.  Will have to try deleting my /usr/local and /opt/local and start afresh.

[2017-07-09 22:21] #3961 closed, assigned to nobody

[2017-07-09 22:57] Beep6581 commented on #3875
Cannot reproduce anymore using `5.1-131-g` 2ea369ae

[2017-07-09 22:58] #3875 closed, assigned to nobody

[2017-07-10 09:10] Floessie commented on #3951
@heckflosse Ingo, here's my little patch. Maybe you still have your testbed in place?

[code]

Best,
Flössie

[2017-07-10 11:45] heckflosse commented on #3951
@Floessie Thanks! Unfortunately I reduced my testbed from 2048 to 867 files.
I measured only the sorting part.

First using the original O(n²) code with and without collate_key:

without collate_key : ~ 7200 ms
with collate_key : ~ 11 ms

Then the std::lower_bound version:

without collate_key : ~ 80 ms
with collate_key : < 1 ms

[2017-07-10 12:07] heckflosse commented on #3951
@Floessie Will you commit or shall I do?

[2017-07-10 12:14] Floessie commented on #3951
@heckflosse I'll commit directly to `dev` tonight. Impressive results, BTW. 👍

[2017-07-10 12:40] heckflosse commented on #3951
@Floessie I did not expect this difference. Comparisons of Glib::ustring seem to be REALLY expensive.
I made a last test comparing loading time of a folder with 867 files using rt 5.1 and current dev + your patch

[code]

[2017-07-10 15:13] iliasg commented on #3960
This (multiple frame sizes per camera in camconst.json) is something I 've asked a lot of times lately ..

For the moment we can only do it in dcraw.cc defining raw crops according to the full raw size ..
and if we are lucky** we can also use the alternative way of defining raw crops  "raw_crop": [ 0, 0, -32, 0 ],
** By lucky I mean
- to have FF and APS-C crops with the same number of "garbage col

[2017-07-10 15:42] Beep6581 commented on #3960
@iliasg thank you for the reply. Was the closing intentional? i.e. Do we not want to keep this open to find a better solution which doesn't require getting lucky?

[2017-07-10 16:58] Beep6581 commented on #3882
@ion12 @Partha1b any comments or objections regarding committing @Benitoite 's summarized changes above?

[2017-07-10 17:00] Beep6581 commented on #3799
The release date for 5.2 is targeted about 2 weeks from now, depending on everyone's holidays.

[2017-07-10 20:03] Benitoite opened #3963 "Missing symbol error in macOS fixed by using patched glibmm"
https://filebin.net/b6mgwcqj2h7xs0hs/RawTherapee_OSX_10.9_64_5.1-134-gf98ef980.zip
[code]
After compiling using macports' present glib2 and glibmm, I was getting a missing symbol error during startup of the RT app.

I obtained a running build after
building libsigcplusplus 2.9.3 from https://github.com/GNOME/libsigcplusplus.git with `sh autogen.sh --prefix=/opt/local`
building glibmm 2.50.0 with t

[2017-07-10 20:51] #3903 closed, assigned to nobody

[2017-07-11 01:00] simontheflutist opened #3964 "Input styling looks bad"
I'm using RawTherapee 5.1 (can't find futher version info; I know that apt is updating RT on schedule) on Ubuntu 16.04 64-bit, on a Dell Precision with a Core i7.

On my system it looks like this:

![image](https://user-images.githubusercontent.com/13023178/28046465-a8df9a28-6598-11e7-9d92-3d2479e93b65.png)

The expected appearance is like this:

![image](https://user-images.githubusercontent.com/

[2017-07-11 03:52] Techwolf opened #3965 "Add "flash" to Dynamic processing profiles"
I just discovered Dynamic processing profiles and though it was a great feature...until I saw there is no flash setting. I use a different profile for flash photo vs. non-flash photos.

[2017-07-11 06:39] iliasg commented on #3960
Ohh I closed the issue accidentally :(

[2017-07-11 06:56] kapiliitr opened #3966 "Crash while opening NEF file in Mac OSX 10.11.3"
I am using RawTherapee version 5.1 on Mac OSX El Capitan 10.11.3. RawTherapee often crashes while opening or saving raw files. Attached is a log I got from the crash report.

You can find the NEF and PP3 files at https://filebin.net/nctysdtw0uorc386

[rtcrash.txt](https://github.com/Beep6581/RawTherapee/files/1137922/rtcrash.txt)

[2017-07-11 07:22] Benitoite commented on #3966
@kapiliitr That particular cairo font code related crash is well known.  You should not have this crash with this build:
[outdated link removed]

[2017-07-11 09:01] Beep6581 commented on #3964
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
We need your build details from Preferences > About > Version, your system's GTK+ version, etc.
Try deleting your options file while RT is not running: `rm -rv ~/.config/RawTherapee*`

[2017-07-11 10:34] heckflosse commented on #3957
@Luncher91 On which monitor was the primary rt window when the secondary window opened?

[2017-07-11 11:45] mlaverdiere opened #3967 "Loading bundled profiles not working under Wayland (Fedora 26)"
I'm on Fedora 26 with default setup, i.e. running GNOME under Wayland.

RT (stable 5.1) seems to work fine in general, except that loading bundled profiles (let's say: pop 2) only work once, then the menu becomes unresponsive.  Same thing with RT unstable 5.1-95.

Problem does not occur when running under x.org.

[2017-07-11 12:05] Beep6581 commented on #3967
Probably a Wayland/GTK3 issue. Can you reproduce the problem using some other GTK3-using program?

[2017-07-11 13:57] Partha1b commented on #3882
@Beep6581 & @Benitoite Agree with the comments.

[2017-07-11 14:38] heckflosse commented on #3957
@Luncher91 I would like to fix the bug you reported. Unfortunately I have only one monitor and can't test it. So, what I need, is the help from someone who can test it, for example you ;-)
By following [this guide](http://rawpedia.rawtherapee.com/Windows) step by step you can build RT on windows. That's about one or two hours of work to set up the build system.
Once that's done, making a new build

[2017-07-11 18:08] heckflosse commented on #3957
Current MEOW code does not remember the monitor where the secondary window (the editor window) has been closed. Instead it always opens the Editor window on second monitor when the primary rt window is on first monitor and on first monitor when the primary rt window is not on first monitor.
With this patch RT remembers the number of the monitor where the editor window was closed in last session.
T

[2017-07-11 19:25] mlaverdiere commented on #3967
Nope, all other GTK3 apps run fine for me under Wayland, with no menu issue...

[2017-07-11 20:00] gaaned92 commented on #3957
To help @Luncher91 while he learns how to build, you can find RawTherapee_dev_5.1-135-#3957_WinVista_64.zip at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-07-11 20:09] Luncher91 commented on #3957
@heckflosse Originally I did not plan to set up a build environment. But I think I can not avoid it ;-) I will set it up but not today. I will get back here as soon as I am ready to receive patches to test.
@gaaned92 thank you for your help but I think I will go the hard way using the actual repository. That might be handy some time to report additional bugs or enhancement proposals.

[2017-07-11 20:17] heckflosse commented on #3957
@Luncher91 Great!
@gaaned92 Thanks for making a new build so quickly!

[2017-07-11 20:29] heckflosse commented on #3957
@gaaned92 Did you make the build before or after I edited the patch in the comment?
I had a std::max in first version which I changed to a std::min in corrected version

[2017-07-11 20:57] heckflosse commented on #3957
@Luncher91 Don't hesitate to ask here or on [irc channel #rawtherapee](http://rawpedia.rawtherapee.com/IRC) if you run into problems setting up the build system. On irc #rawtherapee you can contact qogniw (that's me)

[2017-07-11 21:35] heckflosse commented on #3799
We still have problems (crashes) caused by the massive amount of gdi handles used in METM and MEOW on windows (no problem on Linux here, don't know about MacOS).
I would like to restrict the number of open editors on Windows to 8 in METM and to 5 in MEOW for 5.2.
That should avoid the crashes caused by reaching the 10000 gdi handle limit on Windows.
When 5.2 is released I can make further tries to

[2017-07-11 21:36] Hombre57 commented on #3799
No objection.

[2017-07-11 21:38] heckflosse commented on #3799
@Hombre57 Btw: I found out that each adjuster needs 4 handles and each file chooser button needs 16 handles.

Edit: And, the 4 handles needed by adjuster are needed by the spinbutton inside the adjuster

[2017-07-11 21:39] Hombre57 commented on #3799
Do we know the number of handle for Linux ? If that's a different value between both OS, then you should still consider a leak in Gtk3. Does FireFox use Gtk ? It's quite unstable here (Win7) when 20 tab opened.

[2017-07-11 21:40] Hombre57 commented on #3799
Adjusters uses standard Gtk widgets, as well as the file chooser, so it can't be a wrong custom GUI design I guess.

[2017-07-11 21:57] heckflosse commented on #3799
I absolutely agree with you that it should not be wrong custom GUI design!

[2017-07-11 23:37] Hombre57 commented on #3957
The space around the secondary window is a known problem and related to the CSS theme. Let me see...

[2017-07-11 23:44] heckflosse commented on #3957
@Hombre57 Great to see that you investigate!

[2017-07-12 06:03] gaaned92 commented on #3957
@heckflosse  it uses std::min

[2017-07-12 06:10] Floessie commented on #3799
@Hombre57

Debian updated to Firefox 52 ESR lately. It's GTK3 now, which can be clearly seen due to a black frame when opening (same as the RT preferences window behavior) and unfitting theming under XFCE (which is still mostly GTK2). Ah, and it takes longer to render...

[2017-07-12 06:28] Floessie commented on #3957
### Just a short ad for all our developers

If you're after a `min()` or `max()` implementation with an arbitrary number of arguments, take a look at `rtengine/rt_math.h`. Ingo and I made nicely scheduable `constexpr` versions some time ago.

[2017-07-12 06:37] simontheflutist commented on #3964
Build details here:

![image](https://user-images.githubusercontent.com/13023178/28104793-9eb45ddc-6691-11e7-937c-af2061f1de1a.png)

[GTK+ details](https://stackoverflow.com/a/126193/3040627):

[code]

[2017-07-12 06:38] simontheflutist commented on #3964
Nothing changes after I delete config files.

[2017-07-12 06:51] Floessie commented on #3957
@heckflosse Following up to my ad, here's a patch for current `dev`:

[code]

Best,
Flössie

[2017-07-12 12:23] heckflosse commented on #3937
This patch avoids the crashes by limiting the number of open editors depending on available gdi handles

[code]

[2017-07-12 13:12] heckflosse commented on #3937
@Desmis @Hombre57
Using `gtk3-demo ` I verified that each spinbutton needs 4 gdi handles. As each adjuster has a spinbutton that explains the large amount of gdi handles per editor, because we have a lot of adjusters per editor.
I think, at the moment we can't do anything except using the patch from the post above to avoid the crashes.

[2017-07-12 13:59] mbajor commented on #3967
@mlaverdiere Are you using repository for Fedora 25?

[2017-07-12 14:13] Beep6581 commented on #3937
Compiles and runs fine in Sabayon/GTK+ 3.22.15.

[2017-07-12 15:07] Beep6581 commented on #3964
What does `xdpyinfo | grep -A2 screen` say?
How did you install RawTherapee, from which repository?

[2017-07-12 16:48] #3937 closed, assigned to nobody

[2017-07-12 18:00] heckflosse commented on #3799
@agriggio Alberto, I added #3946

[2017-07-12 18:49] agriggio commented on #3799
thanks!

[2017-07-12 19:04] heckflosse commented on #3951
@Floessie

I compared RT 5.1 and current dev with loading a folder of 6936 files (all thumbs cached)

5.1 needed 621 seconds
dev needed 53 seconds

\o/

[2017-07-12 19:05] heckflosse commented on #3957
@Floessie Will you commit this patch or shall ...?

[2017-07-12 19:22] Floessie commented on #3957
@heckflosse Please do. I'm currently busy...

[2017-07-12 19:35] Luncher91 commented on #3957
@heckflosse I set up the build environment. I checked out the dev branch and built RT. It ran like a charm ... just a bit slow. The problem with the gap around the window still exists with the current sources.
I am awaiting your questions and/or instructions.

[2017-07-12 19:38] heckflosse commented on #3957
@Luncher91 `just a bit slow` : did you make a debug build instead of a release build?

[2017-07-12 19:41] Luncher91 commented on #3957
@heckflosse no, but don't worry about that. That might have other reasons.

[2017-07-12 19:46] heckflosse commented on #3957
@Luncher91 Though not related to your issue, I would like you to test this:

1) start rt on first monitor
2) open an image (secondary window of rt should open on second monitor)
3) move secondary window to third monitor
4) close rt
5) start rt
6) open an image (now the secondary window should open on third monitor)

[2017-07-12 19:55] Luncher91 commented on #3957
@heckflosse Test failed. I moved the window to the free monitor and maximized it. Then I closed RT (clicking X - Is there another way?) and opened it again. Opening an image results in a secondary window on the same monitor as the first time I did it.

My Monitor Setup is as follows: FULLHD (2) - 1920x1200 (3; primary) - FULLHD (1)

RTs primary window opens on display 3 and the seondary window ope

[2017-07-12 19:59] heckflosse commented on #3957
@Luncher Ok, thanks for the the first test. I will take a look now to solve this. Blind patching really is bad....

[2017-07-12 20:00] heckflosse commented on #3957
@Luncher91 My fault. The patch was not yet commited to dev. I will create a new branch now where you can test. I will report back in a few minutes

[2017-07-12 20:33] heckflosse commented on #3957
@Luncher91 I just pushed to branch meow_fixes.
Can you please
[code]

and build and try again? Sorry for the trouble :(

[2017-07-12 21:17] Luncher91 commented on #3957
@heckflosse essentially the behaviour is the same. But when I closed the secondary window by clicking the X, and reopen the secondary window during the same session again it opens abough the primary window. Restarting RT results in the first behaviour again.

I observed that the edit profile tile is maximized so the image area is not visible after I moved the secondary window during the previous s

[2017-07-12 21:33] heckflosse commented on #3957
@Luncher91 Silly copy/paste error from me... I just pushed a fix to meow_fixes branch

[2017-07-12 21:46] Luncher91 commented on #3957
@heckflosse you should mention me @Luncher91 instead of Luncher.
I did not a full compilation but I think is should be enough to recompile without removing the build directory.
I observed that if I close the secondary window before closing the primary window the position is saved as you told me. The weired size of the "edit profile" tile still happens.

[2017-07-12 21:58] heckflosse commented on #3957
@Luncher91 Yes, I saw that I mentioned you Luncher instead of @Luncher91 by accident.
It's perfectly fine to just `make install` after `git pull`. No need to start from scratch.
Fine, that the position of the secondary window is saved now.
Can you post a screenshot of the "edit profile" bug?

[2017-07-12 22:06] mlaverdiere commented on #3967
@mbajor Well, you made me realize that I was using the Fedora 24 repo...  (wouldn't it be a better idea to use the $releasever joker in the repo file to assure that users are relying on the appropriate repo after each upgrade?  That's how other reliable repo - like official Fedora and rpmfusion - are set up... )

Anyway, I changed for the Fedora 26 repo, I did the upgrade and clean up the cold con

[2017-07-12 22:23] Beep6581 commented on #3967
@mlaverdiere please paste the contents of your AboutThisBuild.txt or Preferences > About > Version http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2017-07-13 00:08] Hombre57 commented on #3957
Empty space around `EditWindow` fixed in changeset 14f5d52.

PS: @heckflosse Sorry, pushed the commit into dev, it's a safe fix and overlooked your branch

[2017-07-13 00:36] Hombre57 commented on #3948
Could you test this patch ?

[code]

[2017-07-13 00:39] mlaverdiere commented on #3967
Here it is:

Version: 5.1
Branch: 5.1
Commit: f23d70fd
Commit date: 2017-05-15
Compiler: cc 7.1.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags: -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -m6

[2017-07-13 01:28] Beep6581 commented on #3948
[code]
Success! Good night :)

[2017-07-13 05:56] Floessie commented on #3948
@Hombre57 Wouldn't it be cleaner to make use of [`Gio::FileInfo::get_file_type()`](https://developer.gnome.org/glibmm/stable/classGio_1_1FileInfo.html#abf62545b515bef26ead386be87750edb). Testing for `FILE_TYPE_SPECIAL` would also enable `/dev/stdout` or named pipes. This could also set `-Y` implicitly.

Just my 2¢,
Flössie

[2017-07-13 05:59] kapiliitr commented on #3966
@Benitoite Thanks. I was able to open the image in that build. However, all the fonts are too large in when I started RawTherapee and I was unable to figure out how to reduce it. Is this a build issue or how can I revert to smaller fonts ? I have attached an image of how the application looks with this build.
<img width="1440" alt="screen shot 2017-07-12 at 10 58 46 pm" src="https://user-images.gi

[2017-07-13 09:47] Hombre57 commented on #3948
@Floessie Because I'm not used to _exceptions_. That will be the case if `outputPath` does not exist when using [Gio::File::query_info](https://developer.gnome.org/glibmm/stable/classGio_1_1File.html#adb25ffdbe571d33e89c9503fe9a20dcd), which is what will happen most of the case. Also how will you handle symlinks (would the target exist or not) ? In short, it's too high level for me. I'll let you a

[2017-07-13 10:53] heckflosse commented on #3957
@Hombre57 I merged your fix into branch meow_fixes

[2017-07-13 10:56] Floessie commented on #3948
@Hombre57

I see, there are some cornercases. Maybe it's not worth the effort then.

"or" isn't "xor". 😉 @Beep6581 should take your patch as is, and maybe someone sometime comes up with a better solution.

Best,
Flössie

[2017-07-13 11:39] Benitoite commented on #3966
Have you tried changing the font size in the preferences window? (The sliders icon in the lower left hand corner, "General" pane in the Default Theme section)

[2017-07-13 12:22] Benitoite commented on #3966
![screen shot 2017-07-13 at 4 58 08 am](https://user-images.githubusercontent.com/17919239/28165542-08418a02-6789-11e7-84dc-c79fb75aab10.png)
Here's how it looks on my clean 10.11.6 machine. I also noticed you're missing some interface items on the extreme right side.

[2017-07-13 12:28] fliker09 commented on #3409
Any chances to get it anytime soon?

[2017-07-13 13:33] heckflosse commented on #3937
@Desmis Jacques, with the following patch the number of gdi handles needed by 2nd, 3rd... editor in MEOW mode is no longer higher than the number of gdi handles needed by 1st editor.

[code]

[2017-07-13 13:48] Desmis commented on #3937
I cannot test actualy. I will test next week :)
Jacques

[2017-07-13 14:35] kapiliitr commented on #3966
I reduced font to 6 but that didn't seem to change anything at all. Also, the preferences tab also opens pretty big and I think all options are not visible and I am unable to scroll also.
<img width="1439" alt="screen shot 2017-07-13 at 7 32 50 am" src="https://user-images.githubusercontent.com/1621360/28171605-cd49ec9a-679d-11e7-9064-c12de32cd16d.png">

[2017-07-13 14:46] Beep6581 commented on #3966
Your font is set to "None". How big are 6 points of none? Try setting a font in addition to a size.

The default font family is "default":
`fontFamily = "default";`
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/options.cc#L344
@Benitoite @Hombre57 any idea why/under what circumstance it would show up as "none"? Broken macOS installation?

[2017-07-13 14:59] kapiliitr commented on #3966
I couldn't find the default font.
<img width="1439" alt="screen shot 2017-07-13 at 7 54 41 am" src="https://user-images.githubusercontent.com/1621360/28172513-95e1522c-67a0-11e7-9a44-1ea81d6307ff.png">

I picked the Apple Gothic font and set the size to 4 and although the font reduced but the window still clips settings on the extreme right. I had to resize the window to make it fit in my 15 inch

[2017-07-13 15:08] Hombre57 commented on #3948
Patch committed in rev ded8c66.

[2017-07-13 15:30] Hombre57 commented on #3966
The default font for fresh install (with no existing options file) should not set the font. At least should try w/o it. See this patch : [OSX-default-font.txt](https://github.com/Beep6581/RawTherapee/files/1145709/OSX-default-font.txt)

If you still want to set the default font in this default options file, the 2 removed line should be added at the end of the file, otherwise some parameters won't

[2017-07-13 16:38] heckflosse opened #3968 "Wavelet tool does not remember the status of its subtools"
To reproduce:
Start rt
open image
go to wavelet tool and expand it (in case it's not yet expanded)
collapse all sub tools of wavelet except one
close rt
start rt
open image
got to wavelet tool
bug: all subtools are expanded again

Fixed with this small patch:

[code]

[2017-07-13 16:59] gjmvervoort commented on #3967
Same issue here, 5.1 build from git on Fedora 25 x86-64:

git checkout 5.1
rm -f CMakeCache.txt && cmake -DCMAKE_BUILD_TYPE=Release -DPROC_FORCED_LABEL:STRING=native . && make -j9 && sudo make install

**AboutThisBuild.txt**

Version: 5.1
Branch: 5.1
Commit: f23d70f
Commit date: 2017-05-15
Compiler: cc 6.3.1
Processor: native
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: Release
Buil

[2017-07-13 17:26] heckflosse commented on #3967
@gjmervoort could you try building dev branch instead of 5.1? I don't expect that it works in dev, just to be sure...

[2017-07-13 17:34] gjmvervoort commented on #3967
dev branch gives same result.

After opening a photo, I can select once one of the bundled profiles and then I not access the bundled profiles menu any more. When I open another photo I can select it again once.

**AboutThisBuild.txt**

Version: 5.1-141-gded8c66
Branch: dev
Commit: ded8c66
Commit date: 2017-07-13
Compiler: cc 6.3.1
Processor: native
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.0

[2017-07-13 17:43] heckflosse commented on #3967
@gjmvervoort Thanks for testing! Do you use Single Editor Tab Mode or Multiple Editor Tab Mode? I ask, because you wrote `When I open another photo I can select it again once.`

[2017-07-13 18:03] gjmvervoort commented on #3967
Editor layout setting: Single Editor Tab Mode, Vertical Tabs

If I change it to: Multiple Editor Tab Mode, the result is the same.

[2017-07-13 18:05] heckflosse commented on #3967
@gjmvervoort Very interesting that in SETM it works again once for a new photo. I will investigate

[2017-07-13 18:08] gjmvervoort commented on #3967
Indeed, for each new tab I can again select a bundled profile once.
And if I got back to a tab where I previously selected a bundled profile, then I still can not select another bundled profile.

[2017-07-13 18:20] heckflosse commented on #3967
@gjmvervoort

That sounds more like Multiple Editor Tab mode than Single Editor Tab mode
Anyway, as you wrote the result is independent on the mode, that's a first info for me to search the culprit

[2017-07-13 18:25] gjmvervoort commented on #3967
Initially I had the Single Editor Tab Mode, but because of your question I switched to Multiple Tab Mode to see if that change the behaviour. And indeed the result is the same for both modes.

[2017-07-13 20:42] Beep6581 commented on #3968
I have not tried the patch yet and won't be able to tonight, but I'm happy to see it! I tried once (and failed) to make all Wavelet sub-tools collapsed by default - would be cool if that was the case.

[2017-07-13 21:10] heckflosse commented on #3968
@Beep6581 Should be fixed with this patch. As it's a save patch I will push it now.

[2017-07-13 21:47] #3968 closed, assigned to heckflosse

[2017-07-13 22:01] heckflosse opened #3969 "Retinex tool does not remember the status of its settings subtool"
Fix follows in a few minutes

[2017-07-13 22:03] #3969 closed, assigned to nobody

[2017-07-14 08:14] Kolli96 commented on #3918
Where I can download latest dev version on Windows 10 64-bit?

[2017-07-14 10:34] heckflosse commented on #3918
@Vike95 You can find nightly builds [here](https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-07-14 11:27] Beep6581 commented on #3918
@Vike95 as @heckflosse wrote, and get the build that starts with "RawTherapee_dev_5.1-", the newest one at the time of writing is `RawTherapee_dev_5.1-141-gded8c66f_WinVista_64.zip` from July 13.

[2017-07-14 15:28] Benitoite commented on #3966
I can't get the font to resort to _any_ kind of default.  Tried deleting ˜/.cache and ˜/.config and commenting out the 2 lines in /Applications/RawTherapee.app/Contents/Resources/options
However, RT seems to run without generating a new options.  @Beep6581 @Hombre57 am I doing it wrong?

[2017-07-14 19:07] Kolli96 commented on #3918
This RawTherapee_dev_5.1-141-gded8c66f_WinVista_64.zip version does not start in Windows 10 64-bit.
Process rawtherapee.exe start but shuts down after a few seconds.

I delete normal version+ any folders and I Install this dev version administrator account and antivirus program does not prevent this program. No any errors.

[2017-07-14 21:35] heckflosse commented on #3918
@Vike95 Works fine here on Win7/64
@TooWaBoo does it work on your Windows 10?

[2017-07-14 21:39] TooWaBoo commented on #3918
I'm on version: 5.1-143-g0e011623. Works fine here

[code]

[2017-07-14 22:06] Luncher91 commented on #3957
@Hombre57 @heckflosse Great! The window does now maximize correctly. But There are two things left:
1. Edit profile tile is sometimes maximized to the left as well (see screenshot)
2. The position of the window is not saved correctly. The first time I ran RT it did open the secondary window on my right hand side. After closing it and reopen it again it opens always on my primary (middle) screen si

[2017-07-14 22:29] heckflosse commented on #3957
@Luncher91 Today I set up a virtual machine with three virtual monitors to simplify testing.
I will commit a patch which solves 2. tomorrow. Already works fine here.
I still can not reproduce 1.

[2017-07-14 22:47] heckflosse commented on #3967
maybe related from [here](https://wiki.gnome.org/Initiatives/Wayland/GTK%2B)

[code]

[2017-07-14 23:56] heckflosse commented on #3957
@Luncher91
76dba8f  should fix 2. and maybe also fixes 1.

[2017-07-15 01:28] heckflosse commented on #3957
There may be some corner cases to 2. when primary rt window is closed before secondary window but I'm sure to be be able to solve them now as I can test on my machine...

[2017-07-15 04:47] Benitoite commented on #3966
Could this be related? https://github.com/Beep6581/RawTherapee/issues/3964#issuecomment-314668979

[2017-07-15 05:52] Kolli96 commented on #3918
I re-installed RawTherapee_dev_5.1-141-gded8c66f_WinVista_64.zip and now it works good! It also deletes selected NEF (RAW) files on hard drive.

[2017-07-15 10:00] TooWaBoo commented on #3964
Looks like you are using a highres monitor. Can try the TooWaBlue theme and upload a screenshot, please?

[2017-07-15 12:17] heckflosse commented on #3957
With fbf8999 RT remembers fullscreen state (F11) of the secondary window.

[2017-07-15 12:25] heckflosse opened #3970 "unfullscreen does not work correctly on Windows"
Setting RT to fullscreen mode using F11 works fine, but unsetting the fullscreen mode does not.
Tested with rawtherapee theme and TooWaBlue theme.

Works fine on Linux.

Before pressing F11, looks fine
![before_fs](https://user-images.githubusercontent.com/13733487/28239281-1b96f786-6969-11e7-8966-8d7d3c7faf2e.png)

After pressing F11 to enter fullscreen mode, looks fine
![after_fs](https://user-i

[2017-07-15 14:23] Hombre57 commented on #2683
Now a duplicate of issue #3957. Closing.

[2017-07-15 14:23] #2683 closed

[2017-07-15 14:42] heckflosse commented on #3970
@Hombre57 Do you have an idea to fix this?

[2017-07-15 14:46] Hombre57 commented on #3957
Thanks for the patch, works almost fine. Here is a patch to fix some caveats (see below) :
[code]

This fix the following problems :

3. when RT closed by the main window, the secondary window doesn't remember fullscreen sate. To correct this, I've moved `options.meowFullScreen = isFullscreen;` from `on_delete_event` which is not called in this case to `toggleFullscreen`
4. when RT closed by the m

[2017-07-15 14:48] Hombre57 commented on #3957
And I don't get expanded right panel anymore, so I guess it is fixed too. Well done !

[2017-07-15 14:54] Hombre57 commented on #3957
Still one pending problem :

6. When unmiximized, the secondary window is very small (e.g. to move it to a second monitor). Not really an issue, be could you add `options.meowWidth` and `options.meowHeight` ? Or do you want that I do it myself ?

Btw, should I commit the previous patch ?

[2017-07-15 14:54] heckflosse commented on #3957
@Hombre57 Thanks for the patch! I will test it and report back asap.

[2017-07-15 14:55] heckflosse commented on #3957
@Hombre57 as we are on meow_fixes branch feel free to commit your patch and also to add options.mewoWidth...

[2017-07-15 15:00] Hombre57 commented on #3970
Could you test again with my patch (I'll commit in few minutes) - but I don't think it's related, it works fine here.

[2017-07-15 15:31] heckflosse commented on #3970
Sure. I will test as soon as you commited

[2017-07-15 16:16] kapiliitr opened #3971 "Crash after quitting RT in Mac OSX 10.11.3"
I am using RawTherapee versions 5.1 and 5.1.134 on Mac OSX El Capitan 10.11.3. Both versions crash after I close RT either by clicking the 'x' or by quitting from the main menu. Attached is a log I got from the crash report.

[crash-close.txt](https://github.com/Beep6581/RawTherapee/files/1150453/crash-close.txt)

[2017-07-15 16:45] heckflosse commented on #3957
@Hombre57 I tested your patch on my virtual box running linux with 3 virtual monitors.

1) I started rt on first monitor in meow mode
2) opened a file and moved the secondary rt window to the third monitor
3) pressed F11 to fullscreen the secondary window
4) went to primary rt window on first monitor and closed rt
5) started rt again on first monitor
6) opened a file => It opened on third monitor

[2017-07-15 17:05] Benitoite commented on #3971
Yes, I believe we all (macOS people) get that crash.  Seems related to libomp.  Reference: https://github.com/Beep6581/RawTherapee/issues/3882#issuecomment-304055545

[2017-07-15 17:58] heckflosse commented on #3918
@Vike95 @icom962 Can we close the issue?

[2017-07-15 18:04] Kolli96 commented on #3918
Yeah on my behalf if this is officially corrected and will include a future non-dev version.

[2017-07-15 18:15] Luncher91 commented on #3957
I made another short test session with my windows machine on meow_fixes branch. The secondary window position seems now being saved correctly.

But the full stretched panel is still an issue. Recently I had also the case that the panel is only stretched half the distance.
![rawtherapeebug_3](https://user-images.githubusercontent.com/5971558/28241677-56a6c10a-6999-11e7-885b-c7feb04bcf43.PNG)

Openi

[2017-07-15 18:18] simontheflutist commented on #3964
I think this looks a bit better, but if I recall correctly, fonts and colors are still not quite right. (With TooWaBlue)

What makes TooWaBlue different?

![image](https://user-images.githubusercontent.com/13023178/28241754-541b91b2-694f-11e7-9b67-27289b0f64f7.png)

[2017-07-15 18:28] Hombre57 commented on #3970
I'm trying to fix point 5, I hope to get it today. Otherwise I'll commit the patch above.

[2017-07-15 18:28] Hombre57 commented on #3957
I'm trying to fix point 5, I hope to get it today. Otherwise I'll commit the patch above.

[2017-07-15 18:32] heckflosse commented on #3918
@Vike95 Thanks for confirmation!

[2017-07-15 18:32] #3918 closed, assigned to nobody

[2017-07-15 18:38] heckflosse commented on #3957
@Luncher91

Yes, that's on my todo list

That's a damn Windows/gtk3 thing where we run out of windows gdi handles. To avoid crashes I implemented the limitation `Too many editors open...` with 56eaeca . No need to open a new ticket for that. I'll keep an eye on it.

[2017-07-15 18:42] Hombre57 commented on #3957
@heckflosse Please post AboutThisBuild.txt, I have the decoration when following your process. The window size is what I'm trying to fix, but decoration is here and the window switch to fullscreen to maximized (with my patch).

@Luncher91 Have you made your last test with my patch ? Please post AboutThisBuild.txt too.

Here is mine : [AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/fil

[2017-07-15 18:49] heckflosse commented on #3957
@Hombre57

Version: 5.1-144-gfbf89990
Branch: meow_fixes
Commit: fbf89990
Commit date: 2017-07-15
Compiler: cc 7.1.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.1
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -DNDEBUG
Link flags:  -march=native
OpenMP sup

[2017-07-15 18:50] TooWaBoo commented on #3964
@simontheflutist

I guess you are using GTK lower than 3.20. I've no experience on Linux but if it's possible to update to GTK3.20 or higher, the TooWaBlue theme is highres compatible.

[2017-07-15 19:02] Luncher91 commented on #3957
I did not apply any manual patches. I pulled the most current version and ran it. Here is my AboutThisBuild.txt:

Version: 5.1-144-gfbf8999
Branch: meow_fixes
Commit: fbf8999
Commit date: 2017-07-15
Compiler: gcc 6.2.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragm

[2017-07-15 19:02] heckflosse commented on #3957
@Hombre57 Though unrelated to this topic, it seems that you did not `pacman -Syu` since a while ;-)

[2017-07-15 19:05] heckflosse commented on #3957
@Luncher91 Can you
`pacman -Syu`
in msys2 command line, build from scratch and try again?

Don't know whether it solves any of your issues though

[2017-07-15 19:53] Hombre57 commented on #3957
@heckflosse  MSYS updated, RT rebuilt and tested again : works fine. I don't understand what happen on your side.

[2017-07-15 19:54] Luncher91 commented on #3957
I updated now and built it from scratch. Beside the warnings for depracted functions I got during the build there are some things to mention:

1. the stretched panel seems no longer to be an issue.
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/1150583/AboutThisBuild.txt)

2. I got an issue which I would like to describe:
Open RT and a picture within the secondary window.
Move

[2017-07-15 21:16] Beep6581 commented on #3964
@simontheflutist https://github.com/Beep6581/RawTherapee/issues/3964#issuecomment-314799541

[2017-07-15 21:20] Beep6581 commented on #3966
@Benitoite is what you write true with @Hombre57 's patch?

As a workaround, maybe we could hard-code some default font for macOS. Does macOS have a font called simply "Sans Serif"?

Are you absolutely sure about that?

[2017-07-15 21:28] simontheflutist commented on #3964
stdout of `xdpyinfo | grep -A2 screen`:

[code]

I believe this is where my RawTherapee is coming from:

`deb http://ppa.launchpad.net/dhor/myway/ubuntu xenial main`

[2017-07-15 21:38] Beep6581 commented on #3882
Patches committed.  If there are more problems, please open one issue per problem. Pull requests are preferable to pasted patches.

[2017-07-15 21:38] #3882 closed, assigned to nobody

[2017-07-15 21:40] Beep6581 commented on #3924
@Hombre57 is this a cmake issue?

[2017-07-15 21:53] Beep6581 commented on #3964
@simontheflutist thank you, I contacted Dariusz Duma, the repo maintainer, so that hopefully the missing info problem in the About window can be fixed.

@TooWaBoo is right that your Gtk+ is quite old, better if you used 3.22, however why don't you change the font size manually from the Preferences panel in RawTherapee?

[2017-07-16 00:48] heckflosse commented on #3957
@Hombre57 I just tested.

1) the myriad of warnings in console when closing primary window while secondary window was open, is gone, great!

2) when closing the primary window while secondary window was open, rt remembers the fullscreen state of secondary window, great!

3) Tested on my virtual machine with three virtual monitors:
Start rt on 1st monitor
Open an image
move the secondary window to

[2017-07-16 00:49] Hombre57 commented on #3924
Considering [this](https://cmake.org/cmake/help/v3.9/prop_tgt/MACOSX_RPATH.html) and [this cmake policy](https://cmake.org/cmake/help/v3.9/policy/CMP0042.html#policy:CMP0042), the default is to use `@rpath/` everywhere unless `INSTALL_NAME_DIR` or `CMAKE_INSTALL_NAME_DIR` is set.

Since we do not set those parameters, I don't understand what can happen here. What is your _cmake_ version ? If the c

[2017-07-16 00:57] Hombre57 commented on #3924
@Benitoite Forget the last comment, the problem is in `tools/osx/macosx_bundle.sh`, see line 165. I guess that the fix is to update the regex at line 158. Something for @Beep6581 ? :)

[2017-07-16 01:10] heckflosse commented on #3799
I added #3957 because @Hombre57, @Luncher91 (kudos for his tests), and I are working on this and are quite close to a complete fix. Even if it's not a complete fix, it will be much better than before.
If we are not able to fix it in time, we can still remove it from the roadmap.

[2017-07-16 01:15] Hombre57 commented on #3957
I tested 3 and works fine, the only problem is that it doesn't maximize, but I know how to solve that. I'll do it tomorrow if I have time. I'd like to know if point 3 happens with 3 real monitors. @Luncher91 ?

[2017-07-16 01:17] Hombre57 commented on #3948
I probably forget a _name dropping_  ... @Beep6581 :)

[2017-07-16 04:33] TooWaBoo commented on #3970
Can't confirm this bug on Win10 x64. It works fine here.
@heckflosse Can you test with Aero Glass activated?

[2017-07-16 09:08] Luncher91 commented on #3957
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/1150913/AboutThisBuild.txt)

1. I opened the secondary windows which appears to be on my left hand screen.
I moved it to my right hand side screen and closed the main window of RT.
Then I restarted RT and opened an image again which results in a secondary window on the left hand side screen.

2. Another issue:
make secondary window

[2017-07-16 10:02] Beep6581 commented on #3948
Yes, thank you! Confirmed it works well in dev now.

[2017-07-16 10:02] #3948 closed, assigned to nobody

[2017-07-16 11:36] Desmis commented on #3937
@heckflosse

Ingo
I just test your patch. It's work fine. Now with "Locallab" I can open one editor more :)

Very good job!
Jacques

[2017-07-16 12:11] heckflosse commented on #3957
@Luncher91 Thanks for testing and adding numbering
@Hombre57 I'm already fixing the issues, ok?

[2017-07-16 12:47] heckflosse commented on #3957
@Luncher91

5. is a different issue. It only happens when you don't hide the vertical scroll bar for the toolpanel
![hvs](https://user-images.githubusercontent.com/13733487/28247681-a33c3e90-6a35-11e7-82b4-1dfd86b26407.png)

[2017-07-16 12:49] Luncher91 commented on #3957
confirmed!

[2017-07-16 13:03] Luncher91 commented on #3970
Can't confirm it for Windows 8.1 x64. Works fine as well.

[2017-07-16 14:35] Hombre57 commented on #3957
@heckflosse :

Ok.

[2017-07-16 14:45] Beep6581 commented on #3924
I can't test any of that code, can't even open a DMG file, so I don't know what this script expects to find and what it's supposed to do with what it finds but fails at doing. It's a job for someone with macOS.

Having said that, this might be enough:
[code]

Please test it @Benitoite

[2017-07-16 15:38] Benitoite commented on #3924
Thanks @beep6581!
 Will test.

[2017-07-16 15:40] Benitoite commented on #3971
For the record I tried macports libomp-devel but get the same crash.

[2017-07-16 15:48] Beep6581 commented on #3924
The exact purpose of this Bash script, what it should output with what input, is not clear to me, as it mangles a whole bunch of things, uses external languages (awk) and commands. I'm quite sure it could do most of these things while staying only in Bash and being more explicit.

For example this:
[code]
Could be written like this:
[code]

I don't vouch that my example works since I can't test it

[2017-07-16 16:04] heckflosse commented on #3957
@Luncher91 @Hombre57

with last commit:

1. fixed
2. fixed
3. was already fixed
4. fixed
5. different issue
6. fixed

I tested on Linux with three virtual monitors and on Windows7 with a single monitor

@Desmis, this commit should make [this patch](https://github.com/Beep6581/RawTherapee/issues/3937#issuecomment-315603256) obsolete

[2017-07-16 17:19] Hombre57 commented on #3957
@heckflosse That's a very good work, but you should add my suggestion (posted in your patch) to fix a bug. I've still found a corner case but you don't need to fix it (not sure it can be fixed) :

- open an image (in screen A)
- maximize it
- drag it by the header bar and make it maximized to screen B directly (it becomes a window while being dragged)
- close this secondary window
- open an image

[2017-07-16 17:36] heckflosse commented on #3957
@Hombre57

I will try whether I can fix the corner case you mentioned above.
The bug you mentioned in the patch should be fixed with the latest commit already.

Absolutely! And maybe also the fullscreen state of the main window?

[2017-07-16 17:47] Hombre57 commented on #3957
@heckflosse

No, I don't think that it would be wise for the main screen. I mean that no other application I know of start fullscreen by default. Doing this for the secondary window is acceptable, but would be very uncommon for the main window I think.

[2017-07-16 17:58] heckflosse commented on #3957
@Hombre57 Agreed

[2017-07-16 19:56] Luncher91 commented on #3957
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/1151311/AboutThisBuild.txt)

1. fix confirmed
2. fix confirmed
3. was already fixed
4. slightly off-screen will be moved onto the screen completly with a bit of a margin - but I'd say it is fixed
5. different issue
6. fixed

Good job, @heckflosse !!!

Edit: According 4.
Move it slightly off the screen on the bottom left and close i

[2017-07-16 20:36] heckflosse commented on #3957
As most of the meow issues are fixed now, I would like to merge meow_fixes into dev asap to get more tests before we release 5.2.
The remaining corner cases can be solved afterwards imho.

@agriggio @Beep6581 @Desmis @Floessie @Hombre57 any objections?

[2017-07-16 21:02] Beep6581 commented on #3957
Go!

[2017-07-16 21:28] Partha1b commented on #3924
@Beep6581 & @Benitoite

I am not sure what role a command line interface plays on a Mac and how or why it is even executed.

However, whatever app you launch you just have to make sure that it's able to find all its dependencies that are not part of the system.

Hope that makes sense or helps.

[2017-07-16 21:33] heckflosse commented on #3957
A Go! from Beep6581 here and one from Hombre57 on irc.
I will merge now...

[2017-07-16 21:33] #3957 closed, assigned to heckflosse

[2017-07-16 21:52] Benitoite commented on #3924
@Beep6581 Your one-line patch worked fine; both executables properly install_name'd.

[code]

[2017-07-16 22:23] Beep6581 commented on #3924
@Benitoite I committed the change along with some safety fixes, can you check that they're not safety breakages? :) i.e. the script from `dev` should work.

[2017-07-16 22:53] Benitoite commented on #3971
Now I've tried building libiomp5 from https://www.openmprtl.org/sites/default/files/libomp_20160808_oss.tgz
with some success…

@kapiliitr can you test this new build which integrates this library for the crash on exit: [old link removed]

[2017-07-16 23:27] kapiliitr commented on #3971
@Benitoite Raw therapee didn't even start for me. Attached is the error message and logs.
<img width="421" alt="screen shot 2017-07-16 at 4 25 27 pm" src="https://user-images.githubusercontent.com/1621360/28252214-938424a0-6a43-11e7-869c-8467b2901e57.png">
[openfail.txt](https://github.com/Beep6581/RawTherapee/files/1151407/openfail.txt)

[2017-07-17 01:03] Benitoite commented on #3971
Thanks for the report @kapiliitr !
I see macosx_bundle.sh is not copying the library into the app Frameworks dir.  However it is setting the correct install_name in rawtherapee-bin and rawtherapee-cli. I wonder why the script is not completely installing the library.

[2017-07-17 01:45] Benitoite commented on #3971
@kapiliitr Here's a new one to try.  https://filebin.net/n79w2kos0xtbsug7/RawTherapee_OSX_10.9_64_5.1-162-g26077cd0.zip

I added a manual copy command to macosx_bundle.sh.  Seems to open fine on my macOS 10.11 clean machine.

[2017-07-17 02:06] kapiliitr commented on #3971
That works. I can confirm that my changes were saved and RT did not throw a crash error on closing from either the 'x' sign or from the menu. Thanks :)

[2017-07-17 02:12] Benitoite commented on #3966
@Beep6581 I believe Arial is typically used as a default sans serif.  Here's a list of the default fonts installed in MacOS 10.9: https://support.apple.com/en-us/HT201375

I'm not absolutely sure it's not generating a new options, but I am not seeing appropriate folders pop up in `˜/.config` which is where I'm expecting it.

[code]

[2017-07-17 02:14] Benitoite commented on #3924
@Beep6581 Your fixes work for me. Thanks.

[2017-07-17 02:20] #3971 closed, assigned to nobody

[2017-07-17 02:56] Benitoite commented on #3971
No prob @kapiliitr !

[2017-07-17 07:46] #3924 closed, assigned to nobody

[2017-07-17 07:50] Beep6581 commented on #3966
1. If `~/.config/RawTherapee*` isn't being generated, how about `~/.cache/RawTherapee*`?
2. Can you search for the options file while RT is running? Maybe the startup script has something to do with it.
`sudo updatedb && locate options` in Linux,
alternatively `find / -type f -name "options" 2>/dev/null`

[2017-07-17 08:10] Desmis commented on #3957
Hello all

I just tested all these new features... Now all seems to work fine in MEOW :)
A big thanks to all persons that improves MEOW
@Hombre57 , @heckflosse , @Beep6581 , etc.

I made a test with GDiview with branch : "locallab_dev" and "newlocallab" (newlocallab add Vibrance)

With 6 editors and "locallab_dev" ==> 7763 GDI
With 6 editors and "newlocallab" ==> 7767 GDI
"newlocallab" is differen

[2017-07-17 10:06] Beep6581 commented on #3558
`5.1-158-g` 9a13e4b3

[2017-07-17 11:31] heckflosse commented on #3957
@Desmis Jacques, did you measure under the same conditions? For example the number of gdi handles is much larger when all expanders are expanded vs. all expanders collapsed.

[2017-07-17 11:35] Desmis commented on #3957
@heckflosse

Ingo
In exactly the same conditions !
:)

[2017-07-17 13:26] heckflosse commented on #3957
As suggested by @Hombre57, RT now remembers also the monitor of main window
aab3a60

[2017-07-17 15:12] heckflosse opened #3973 "Curves not drawn completely"
To reproduce:
1) collapse all tools
2) open an image
3) apply neutral profile
4) close rt
5) start rt
6) open the same image again
7) expand the defringe tool
8) open the curve in defringe tool

looks like this:
![defringe00](https://user-images.githubusercontent.com/13733487/28274900-9c95c06a-6b12-11e7-91ae-752b7c3608bf.png)

when I minimize/maximize rt the curve is shown correctly:
![defringe01]

[2017-07-17 16:01] Benitoite commented on #3966
1) Did not find ~/.cache/RawTherapee*
[code]

2) Did not find the generated options, just the original inside RawTherapee.app/Contents/Resources/options
[code]

[2017-07-17 16:52] Beep6581 commented on #3966
Ok, that's quite serious!
Could you try running RT, opening any folder with photos,
then `find / -name "aehistograms" 2>/dev/null` while RT is open?

[2017-07-17 16:57] Beep6581 commented on #3973
Please see #3525 it's probably the same cause.

Same problem with L\*a\*b\* and the RGB curves. If I hover my mouse over the curve drop-down combobox thingy ![imgur-2017_07_17-18 57 12](https://user-images.githubusercontent.com/5844619/28279742-c492d508-6b21-11e7-94fb-c893f3b7eaa0.png) then the UI fixes itself - true for every curve this bug happens with.

[2017-07-17 17:41] heckflosse commented on #3973
@Beep6581 Confirmed that the UI fixes itself, but I need to hover over the arrow. Hovering over the curve type or the label does not fix the UI.
Maybe @Hombre57 has an idea...

[2017-07-17 19:57] Benitoite commented on #3966
Aha!  Found it in /Users/tune/Library/Application Support/RawTherapee/cache and "options" in /Users/tune/Library/Application Support/RawTherapee/config

So, no matter whether the two font lines are in the original options, the result is this:

[code]

and inside the running app, the font is listed as "None  12" in the prefs window.  Note that "None" is not an actual font on my system.

[2017-07-17 20:35] heckflosse commented on #3799
I removed `Pixel Shift/Multi-frame raw image thumbnail icons` from the roadmap for 5.2

[2017-07-17 20:56] Hombre57 commented on #3966
@Beep6581 :

I'd say so. `default` is a keyword in RT config file, meaning "don't set any special font, use the Gtk default font and size". With `default` set in options, the font set in Preferences is `Segoe UI normal` on my Win7 platform. I don't know why it end up to `None` on macOS, it seem there's no default font ??? Replace `default` by `sans` (which should be translated to a platform specif

[2017-07-17 20:58] Hombre57 commented on #3966
Oh, and it may depend on your Gtk version. Please post the content of the AboutThisBuild.txt file.

[2017-07-17 21:17] Benitoite commented on #3966
I'm on macports gtk+3 which reports
[code]
About this build:
[code]

[2017-07-17 21:43] Hombre57 commented on #3973
@Beep6581  @heckflosse Yes, that's a bug that we all experience since Gtk3.20. I searched for weeks, but I must either be missing something in the widget creation process or something is wrong with size computation in Gtk. My more comprehensive view on the situation is [explained here](https://github.com/Beep6581/RawTherapee/issues/3446#issuecomment-257426346). Went to the Gtk IRC, that was not re

[2017-07-18 18:09] Desmis opened #3974 "Bug in Newwavelet"
Hello

Yesterday, I tried to merge "newwaveletgtk3" with "dev".
Many changes due to 20 days without merge....but no probem...compile fine !
But when I try to execute RT, crash at beginning.

I think, I say "quel con tu t'es planté"...I retry twice and always the same problem.

I tried many many things...and I don't say all what I tried...during 2 days...
Finally, I merge with  "5f97800".... after

[2017-07-18 19:02] heckflosse commented on #3974
@Desmis Jacques, can you tell me what to do to reproduce.

Shall I merge dev into newwavelet and test?
I'm sure to find the culprit, but I need to know how to test

[2017-07-18 20:56] heckflosse commented on #3223
With current dev and latest gtk+ this issue is no longer valid => closing

[2017-07-18 20:56] #3223 closed

[2017-07-19 04:55] Desmis commented on #3974
@heckflosse
Ingo
The actually "waveletnew" is the less instable solution, with "evolution for expanders"

1) if I run "newwaveletgtk3", the system run normaly. I don't say there are no bug...(this branch has not been really tested during 1 year), but strictly "informatic", it runs fine

2) waveletnew, is the same, but
a) with code clean (wavelet.cc, procparams, paramsedited...) : order in declarat

[2017-07-19 09:26] agriggio commented on #3641
Hi, shouldn't we also swap the keyboard shortcuts? Currently we have `<` for highlights and `>` for shadows, which doesn't make sense to me...

[2017-07-19 11:24] heckflosse commented on #3974
@Desmis

Jacques,

I merged dev into waveletnew. RT starts fine here. I fixed the crash when opening `Preferences`
Can I push to waveletnew?

Ingo

[2017-07-19 11:31] Beep6581 commented on #3641
@agriggio you're right.

[code]

Ok to commit?

[2017-07-19 11:41] agriggio commented on #3641
sure, thanks!

[2017-07-19 11:46] #3641 closed

[2017-07-19 11:49] Desmis commented on #3974
No problem :)

[2017-07-19 12:11] heckflosse commented on #3974
Pushed

[2017-07-19 12:30] Beep6581 opened #3975 "Always show verbose warning when failure writing options file"
When RT fails writing the options file, the user should always get a verbose popup warning, not only a printf in the console when running in verbose mode as is now.

[2017-07-19 15:23] Desmis commented on #3974
@heckflosse

Ingo
I just "pull" waveletnew. It's compile and run fine :)

Thank you very much :)

Jacques

[2017-07-19 15:53] Beep6581 commented on #3975
PR https://github.com/Beep6581/RawTherapee/pull/3976 shows a popup when RT fails to write the options file. It also shows a warning in the console:

Ideally it should use the `writeFailed()` function, but I don't know how to get the parent. Ingo points out that the same warning is generated when emptying the trash.

I would like to commit this ASAP so that we can find and fix some issues on macOS,

[2017-07-19 16:05] heckflosse commented on #3975
go for merge from me

[2017-07-19 17:12] Beep6581 commented on #3975
Merged into dev, but could be done better - see https://github.com/Beep6581/RawTherapee/pull/3976#discussion_r128290755

[2017-07-19 17:14] Beep6581 commented on #3799
ETA 2017-07-23

[2017-07-19 17:16] Beep6581 commented on #3966
@Benitoite so you have GTK+ 3.22.16 installed, but RT seems to be using 3.16.

@Benitoite could you build `dev`, and @kapiliitr could you test it?

Specifically:
1. Run it normally, and if anything looks bad, then
2. Close it, edit the `options` file, change `Verbose=false` to `Verbose=true`, run it again from a console, and paste all output here.

[2017-07-19 19:09] Benitoite commented on #3966
@Beep6581 Well, it is gtk3 v3.22.16 but as listed the gtkmm is at 3.16; both supplied by macports currently.

Version of bundled gtk3:
[code]

and gtkmm3:
[code]

Here's a fresh dev build you to test, @kapiliitr :
https://filebin.net/7lb9pjvtfp4stugz/RawTherapee_OSX_10.9_64_5.1-175-g0875898d.zip

[2017-07-19 19:19] Benitoite commented on #3966
btw @kapiliitr to edit options file without the use of terminal, do a command-shift-G in the finder and go to` /Users/YourUserNameHere/Library/Application Support/RawTherapee/config`
then you can edit `options` with text edit.

[2017-07-19 21:17] LebedevRI commented on #583
[Done.](https://github.com/darktable-org/darktable/commit/be764c89f16cb92ecdabf036eb64a2b07afa2aa3)

[2017-07-19 21:27] heckflosse commented on #3799
Less than 4 month from the roadmap to the release. Not so bad :+1:

[2017-07-19 23:48] heckflosse commented on #583
@LebedevRI I really like that you solved this issue in RawSpeed! But to avoid confusion, as your fix is not related to rt, I will close this issue now.
That does not mean, I won't pick up this again. It's just to avoid confusion of rt users.

Ingo

[2017-07-19 23:48] #583 closed

[2017-07-20 04:48] kapiliitr commented on #3966
I don't seem to have a folder `/Users/YourUserNameHere/Library/`.
Also, I think this build took the font settings that I had set in a previous build instead of the defaults if you set any.

[2017-07-20 08:55] Benitoite commented on #3966
Yes @kapiliitr. RT is just relying on the options file in your config folder.  It could be: `/Users/kapiliitr/Library/Application Support/RawTherapee/config` depending on what your actual username is on your mac. For instance, my username on the mac is "**tune**", so my config folder is located at `/Users/tune/Library/Application Support/RawTherapee/config`
Also note that the Library folder is hid

[2017-07-20 09:20] kapiliitr commented on #3966
Lol, I got that. I didn't know `Library` folder was hidden in Mac.

[2017-07-20 09:23] Benitoite commented on #3966
I just checked my 10.11.6 clean machine, and I have the hidden `Library` folder in my user dir.

@kapiliitr Try then the folder `/Users/<my username>/.config`

[2017-07-20 09:33] kapiliitr commented on #3966
Attached logs by running RT from command line.
[rtcli.txt](https://github.com/Beep6581/RawTherapee/files/1161831/rtcli.txt)

[2017-07-20 10:40] Beep6581 commented on #3966
[code]
@kapiliitr what happened there? Did it stop just like that, or was it a copy-paste error? My log looks like this from that point on: https://paste2.org/P12Iz9cK

[2017-07-20 13:04] Benitoite commented on #3966
@kapiliitr Were you able to determine if the interface looks ok?

[2017-07-20 14:04] Benitoite commented on #3966
Fwiw, here's what mine looks like on the clean macOS 10.11.6 machine.
https://paste2.org/cY9twA17

[2017-07-20 14:30] heckflosse commented on #3966
[code]

smells like a bug in [this part of the code](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/rtwindow.cc#L115):

[code]

[2017-07-20 14:39] kapiliitr commented on #3966
@Beep6581 I am not sure what happened there, something might have went wrong during redirecting stdout to a file. I got another set of logs though.
https://paste2.org/Lc4aZsaM

[2017-07-20 22:26] heckflosse commented on #3974
@Desmis

Jacques, de rien :)

[2017-07-20 22:35] heckflosse commented on #3799
I would like to point out some things for the 5.2 release notes ordered by name of authors;

1) gimp plugin (by agriggio)
2) remote app (by agriggio)
3) 4x speedup for microcontrast (by heckflosse)
4) some speedups and reductions of memory usage for pixel shift processing (by heckflosse)
5) large speedup and improved stability when using folders with a lot of files (by heckflosse)
6) improved MEOW

[2017-07-21 10:14] Beep6581 commented on #3799
Thank you @heckflosse As this release involves a lot of bug fixes whose commit messages are not always meaningful to me, I will appreciate help with the changelog.

[2017-07-21 10:14] Beep6581 commented on #3966
Anything to commit for 5.2?

[2017-07-21 11:56] heckflosse commented on #3799
7. improved stability in METM on Windows
8. wasn't there a serious improvement for lcp correction (by agriggio)?

[2017-07-21 11:59] heckflosse commented on #3920
@Desmis Jacques, can we close?

[2017-07-21 12:05] Desmis commented on #3920
Yes, it is the same problem :)

[2017-07-21 12:07] agriggio commented on #3799
@heckflosse about 8, it's more empirical than serious :wink:

Basically, to my understanding the Adobe LCP specs are underspecified and do not exactly describe how to properly select the correct correction coefficients when there is no exact match (or there are multiple matching entries) in the LCP, nor how to take into account the error information that is stored in the entries. Therefore, we hav

[2017-07-21 12:17] #3920 closed, assigned to nobody

[2017-07-21 12:31] heckflosse commented on #3799
@agriggio Concerning `new feature: open images in an already-running instance of RT`. It would be interesting to add the possibility to add images to the queue of an already-running instance of RT.
Just an idea...

[2017-07-21 14:04] Benitoite commented on #3966
@Beep6581 Not from my side.  I'm having an issue with `libiomp5` not being copied into the bundle, but I have a `cp` command added in `macosx_bundle.sh` locally to fix it.

[2017-07-21 16:02] Beep6581 commented on #3966
Ok, closing.
If we should include the `libiomp5`(`.dylib`?) copy command, we can look into that in a new issue with @ion12 and @partha1b

[2017-07-21 16:02] #3966 closed, assigned to nobody

[2017-07-22 09:25] Beep6581 opened #3979 "FUJIFILM X-T20 DCP"
Improve FUJIFILM X-T20 colors in RT by adding a DCP - discussion here: https://discuss.pixls.us/t/terrible-colors-from-fuji-x-t20-what-is-wrong/4375

[2017-07-22 09:25] #3979 closed, assigned to Beep6581

[2017-07-22 21:13] lumpiluk opened #3980 "Including Data Type Information in Sidecar Files"
Including information about the data type of any given key-value pair in PP3 files would be useful for interoperability with other programs as described in this thread: [https://discuss.pixls.us/t/parsing-pp3-sidecar-files/4690](https://discuss.pixls.us/t/parsing-pp3-sidecar-files/4690)

One way this could be done is to require a decimal point in floating point literals, to require quotes around s

[2017-07-23 05:25] dngimage commented on #3970
Pressing F11 again to go back works fine on Windows 10/64-bit for me.

What doesn't work is minimizing by pressing the Windows key and M. It used to work fine in older RT versions.

[2017-07-23 14:23] Hombre57 commented on #3970
AFAIK, RT never handled this windows shortcut. [Here](https://answers.microsoft.com/en-us/windows/forum/windows_7-desktop/keyboard-shortcut-for-minimizing-maximized-windows/56fa8575-7873-4915-b560-aaff55045bd9) you'll find that pressing `Win+down arrow key` twice will transform from maximized to windowed to minimized (no direct minimizing), which does work with RT.

`Win+M` does minimize everythin

[2017-07-23 20:07] dngimage commented on #3970
@Hombre57 that's correct the win+m problem started with Gtk3.
When working in Windows and win+m are pressed everything gets minimized to the task bar except RT.
If there is a way to work around this please let us know.

[2017-07-23 20:13] heckflosse commented on #3970
@dngimage `win + d` ?

[2017-07-23 21:17] dngimage commented on #3970
@heckflosse,
Great work around. It works!
Hopefully the win+m combination can be hooked from code to do the same thing, some people will expect it to work that way.
Thanks for the work around! :)

[2017-07-24 00:14] Benitoite opened #3981 "macOS RawTherapee 5.2 release build"
Here is a build for MacOS 10.9 and up of the 5.2 release code.

https://filebin.net/qtcqeiljc248y4fu/RawTherapee_OSX_10.9_64_5.2.zip

Version: 5.2
Branch: 5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: clang-mp-3 3.9.1
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V3.16.0
Build type: release
Build flags: -arch x86_64 -O3 -mmacosx-version-min=10.9 -std=c++11 -mtune=generic

[2017-07-24 08:24] Desmis opened #3982 "Where is console ?"
I merge with dev and now, in release mode, I cannot see console ?
And obviously no info "printf"...

There is probably in "Prefreences" or in "option" a check button or other thing ?

Thank you

[2017-07-24 10:40] #3975 closed, assigned to agriggio

[2017-07-24 11:00] Beep6581 commented on #3981
Thank you, uploaded.

[2017-07-24 11:00] #3981 closed, assigned to nobody

[2017-07-24 11:53] heckflosse commented on #3982
@Desmis Jacques, does this happen in Release or Debug build?

[2017-07-24 12:06] Desmis commented on #3982
@heckflosse

Ingo

I only test with "Release", and I test on 2 differents builds  from 2 differents clones.
a) newlocallab
b) dev

I have been very surprise... Am I alone with this probem.  I am with Windows8

**Newlocallab**
Version: 5.1-298-g2ff1ea45
Branch: newlocallab
Commit: 2ff1ea45
Commit date: 2017-07-24
Compiler: gcc 6.3.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.

[2017-07-24 12:06] Beep6581 commented on #3982
@Desmis you must now start RawTherapee from a console - a console won't open automatically for release builds. See commit bc3d82a17a2f03c9b5ff007570a6c08b60666573

[2017-07-24 12:09] Beep6581 opened #3983 "Update description of -w"
In light of commit bc3d82a17a2f03c9b5ff007570a6c08b60666573, the description of `-w` should be updated (by a Windows user, not by me):
http://rawpedia.rawtherapee.com/Command-Line_Options

[2017-07-24 12:11] Desmis commented on #3982
@heckflosse

Ok,

If I run RT in a console with ==> Rawtherapee /w, I have information un console...It is not intuitive :)

jacques

[2017-07-24 12:31] heckflosse commented on #3982
@Desmis

Jacques, maybe it's caused by this commit cb130ae . I will take a look.

Ingo

[2017-07-24 13:38] heckflosse commented on #3982
@Desmis

Jacques, this patch should fix the issue
[code]

[2017-07-24 15:37] agriggio commented on #3943
Hi @Jehan, I just updated the GIMP plugin code in the RT repo (`tools/gimp-plugin`) to check for version >= 5.2.
Will you take care of porting to GIMP or should I submit a patch?

Thanks!

[2017-07-24 15:45] Desmis commented on #3982
@heckflosse

I tested by replacing -    if(argc > 1) {
by==>    if(argc > 1 || options.rtSettings.verbose) {

Compile fine, but does not solved the problem.
But no worry, I'll run RT with console and "Rawtherapee w"

jacques

[2017-07-24 16:16] FritzBo opened #3984 "5.2 in macOS 10.11.6 issues - font too large, preferences not saved"
### Brief description

When starting a freshly installed RT 5.2 release for Mac OS from the website, the fonts are to much too large and cannot be changed.

### Description

The preference menu says that the font type is "none" with size 12. Changing the font size and type works. Changing only the size (leaving font type to be "none") results in a crash. With the applied changes, the app works, bu

[2017-07-24 16:39] Beep6581 commented on #3984
@FritzBo thanks for the good report. Do you get any errors in the console (run RT from the console when testing) or popups when you click "Ok" to save Preferences?

[2017-07-24 17:17] Jehan commented on #3943
It's ok, I just pushed your commit with your authorship: https://git.gnome.org/browse/gimp/commit/?id=38be044bbaa4e6fb9a3601eae59ee311ecf36e4c

It would be awesome if you could add the MacOS support. As Mitch was saying on the bug report on our side, even by just copy-pasting the Darktable plugin code, and just testing that it doesn't break the Linux code. At least the code will be there and peopl

[2017-07-24 17:59] agriggio commented on #3943
ok, if copy/paste without test on the Mac is fine, I'll try to do that

[2017-07-24 20:16] Benitoite commented on #3984
Works fine on my clean 10.11.6 installation. Not crashing when selecting font size and not failing to save options. @fritzBo thx for reporting the font error; you are not the first: https://github.com/Beep6581/RawTherapee/issues/3966#issuecomment-314979450

[2017-07-25 07:19] Benitoite commented on #3984
Running a debug build (fresh run with cache and config dirs deleted):

[code]
 The `Error: "<data>:1:17Expected a string."` happened when I changed the font size and hit Select without selecting a font name. Did not crash RT however; I was able to exit normally.

[code]

[2017-07-25 07:28] Benitoite opened #3985 "[macOS] sudo make macosx_bundle did not install runtime path in rawtherapee-cli"
I noticed after building Version: 5.2-12-gb4899f24 the rpath gets set for -bin but not for -cli.  Library install names are correctly set, but I have to add a command to `macosx_bundle.sh`:

`install_name_tool -add_rpath @loader_path/../Frameworks /Users/tune/repo-rt/build/RawTherapee.app/Contents/MacOS/rawtherapee-cli`

[2017-07-25 08:12] Beep6581 commented on #3985
Is this patch a fix for [this problem](https://github.com/Beep6581/RawTherapee/issues/3984#issuecomment-317652145)?

Where do I add that? Can you provide a patch/diff or pull request?

[2017-07-25 08:15] Beep6581 commented on #3985
Is this it?

[code]

Note that there are several other places where `${EXECUTABLE}` is used with no `-cli` version. Someone should check them out to make sure `-cli` versions are not needed.

[2017-07-25 10:16] Beep6581 opened #3986 "5.2 Windows build needed"
Could someone provide an installer? @gaaned92 @sguyader et al.

[2017-07-25 12:30] supertobi commented on #3569
As a workaround, I've installed the "Adobe DNG Converter 9.8" with Wine (1.8.5) and it works fine to convert the GoPro GPR files to DNGs.

[2017-07-25 12:50] Benitoite commented on #3985
@Beep6581 No, this is unrelated. MacOS is quite the moving target...

That is the right spot, and your patch works.

[2017-07-25 12:53] sguyader commented on #3986
I'll give it a shot. I recently upgraded my MSYS2 install, I haven't tried building RT since then.

[2017-07-25 13:27] #3985 closed, assigned to nobody

[2017-07-25 14:19] sguyader commented on #3986
Here's a new 5.2 build, using Gtk+ 3.22: https://filebin.net/hfuhl8olgqv92cfc
The installer works on my Windows 7 machine, and the program launches without troubles.
Just a notice: for this build to launch, I had to include 2 dll's that were not required in my previous builds (before upgrading MSYS2 and Gtk+): `libgraphite2.dll` and `libpcre-1.dll`.
Is it normal?

[2017-07-25 15:22] heckflosse commented on #3986
@sguyader Thanks a lot for the build. Installs and works fine here on Win7/64

[2017-07-25 19:13] Benitoite commented on #3986
@sguyader Did you get errors saying which library was requesting those dll's?  My mac build includes libgraphite2.3.dylib (v3.0.1) and libpcre.1.dylib (v4.9.0).  They might be unused backends?  Your build runs fine on my 64bit 8.1 box.

Here's a listing:
[code]

[2017-07-25 19:46] sguyader commented on #3986
The program didn't say what requested the libraries, but using ProcessExplorer I found out that `libgraphite2.dll` is called by `libharfbuzz-0.dll`, and `libpcre-1.dll` is called by `libglib-2.0-0.dll`.
So I guess it's normal, especially as your Mac build ships with them as well.

[2017-07-25 21:40] heckflosse commented on #3986
@sguayder
Sébastien: [jfyi](https://www.pentaxforums.com/forums/32-digital-processing-software-printing/346328-rawtherapee-5-1-released-2.html#post4053260)

[2017-07-25 23:21] sguyader commented on #3986
@heckflosse Info, if you're member of that Pentax forum, can you give them the link to my 5.2 build ?
I used to be on this forum, when I had a K10D, but I'm not sure if I can still log in there.

[2017-07-26 07:51] Benitoite commented on #3984
After being in the state of font=None and changing only the font size (from 12 to 13) the config/options file shows:
[code]

[2017-07-26 09:09] Benitoite commented on #3984
I was trying to troubleshoot the font=None issue, and noticed different font syntax between the `repo-rt/tools/osx/options.osx `and the `˜/Library/Application Support/RawTherapee/config/options`
We may more explicitly set the font selectors like:
[code]
As a result, the font did not show up as "None" on a fresh run.  No matter what I put in front of Font=, it never took. Once I separated the FontF

[2017-07-26 10:45] Eneen opened #3987 "Remember full-screen mode across sessions"
There is similar option in Krita and in Blender. They remember if full-screen has been enabled and start in this mode after exit.

[2017-07-26 13:00] dngimage commented on #3987
Agree, RT should remember if full-screen has been enabled and also the main window's size and position.

The old versions (Win-64) used to remember windows's size and position. Unless it is a Gtk3 + Windows window manager  problem.

[2017-07-26 14:15] TooWaBoo commented on #3986
@sguyader

This is my list of dlls
[code]

[2017-07-26 15:55] Beep6581 commented on #3986
Thank you @sguyader , the build is live.

[2017-07-26 15:55] #3986 closed, assigned to nobody

[2017-07-26 20:51] iliasg opened #3988 "Cameras' support 2017 - camconst.json and dcraw.cc updates"
Well, .. late to the party (RT5.2) but I hope not too late ;)

Updated camconst.json including support for many new cameras:

* Canon EOS 200D (EOS Rebel SL2, EOS Kiss X8)
* Canon EOS 6D Mark II
* Canon EOS 77D (Canon EOS 9000D)
* Canon EOS 800D (Canon EOS Rebel T7i, Canon EOS Kiss X9i)
* Canon EOS M6
* Canon PowerShot G9 X Mark II
* Fujifilm GFX 50S (updated color matrix)
* Fujifilm X-T20
* Fujif

[2017-07-27 04:56] kapiliitr commented on #3984
By default, the Font was `Arial Regular` and Font size was 12 with the new build and deleting the options file. However that was too big I think.
<img width="1202" alt="screen shot 2017-07-26 at 9 53 16 pm" src="https://user-images.githubusercontent.com/1621360/28654975-3e43d9b0-724d-11e7-9007-5e2cf6f6c98e.png">

[2017-07-27 06:17] Benitoite commented on #3984
Many thx @kapiliitr, it is as I expected. What is the size and resolution of your screen? 12 is a good size on my mac, but apparently not on every mac. Are you able to change to a suitable size to work with RT?

@Hombre57 wondering if you had any further thoughts on the _font-too-large-on-certain-macs_ issue.

[2017-07-27 06:26] Benitoite commented on #3984
Might it be possible there is uncontrolled scaling going on. Is there a need to `export GDK_DPI_SCALE=0.5` or something like that if a Hi Dots Per Inch display is detected and the UI is scaled up per https://wiki.archlinux.org/index.php/HiDPI#GDK_3_.28GTK.2B_3.29

[2017-07-27 06:27] kapiliitr commented on #3984
Font size 6 works well for me.

[2017-07-27 06:30] kapiliitr commented on #3984
My mac has a 15.4 inch screen with 2880 x 1800 resolution which is the
default I think.

[2017-07-27 07:00] Benitoite commented on #3984
@kapiliitr if that is the case, then I suspect 2x scaling is happening for your Retina display.

It seems the quartz backend on mac gtk+3 does not accept the x11 environment variables like GDK_DPI_SCALE=0.5. from https://developer.gnome.org/gtk3/stable/gtk-x11.html
I tried setting these in the executable loader but they have no effect.

[2017-07-27 13:22] Beep6581 commented on #3984
There is no one-size-fits-all. The size on screen depends most importantly on the DPI value used by your OS (72, 96, 120, other), your screen's physical size, the resolution, and desktop scaling (`GDK_SCALE`, `GDK_DPI_SCALE`, other).

[2017-07-27 13:32] kapiliitr commented on #3984
Sure, I understand that and I am not going to hold down on this issue.
However, when I first installed RT 5.1, the default font/font size were
perfect. However, the large font issue started happening with the newer
build I tried in
https://github.com/Beep6581/RawTherapee/issues/3966#issuecomment-314357754.
Could something have changed between 5.1 and that build that affected the
fonts? I don't hav

[2017-07-27 13:34] Beep6581 commented on #3988
@iliasg I re-wrote the list in your post for easier future reference and fixed a typo (D200 -> 200D), hope you don't mind that.

Tested and committed.

[2017-07-27 13:38] Beep6581 commented on #3988
https://plus.google.com/b/106783532637761598368/+rawtherapee/posts/gBzRNWUrj5f

[2017-07-27 13:40] agriggio commented on #3988
wouldn't be more effective to have a 'hotfix' release (e.g. 5.2.1)?

[2017-07-27 13:41] Beep6581 commented on #3984
@Benitoite let me know if there is a need to update the macOS build on our website.

[2017-07-27 13:43] heckflosse commented on #3986
@sguyader Sébastien, you wrote that you recently upgraded your MSYS2 install.
I'm curious because the most recent version uses gcc 7.1.0 while your build was made using gcc 6.3.0
Did you `pacman -Syu` before building RT?

[2017-07-27 13:53] Beep6581 commented on #3988
At some point, once more changes accumulate. For now replacing one text file by a small percentage of users is enough.

[2017-07-27 15:02] Benitoite commented on #3984
@Beep6581 Is there a way to obtain the functionality of GDK_DPI_SCALE=0.5 for Quartz?

@kapiliitr Occasionally the Frameworks libraries are upgraded in between builds.
There was one particularly ancient library that was upgraded to something more modern, libomp --> libiomp5 (that does not seem a likely culprit.)
Gtkmm went from 3.16 to 3.22 right after making the current mac 5.2 release build, mai

[2017-07-27 15:14] Beep6581 commented on #3984
@Benitoite I don't know anything about macOS. Have you tried using `GDK_SCALE` instead? In Linux one scales only the fonts while the other scales everything.

[2017-07-27 15:19] Beep6581 opened #3989 "Roadmap for 5.3"
As suggested by @agriggio it would probably be good to release 5.2.1 with the camconst.json updates and whatever other updates soon.

I'm thinking we give it a week or two. Maybe some bugs will surface in the meanwhile.

@iliasg are there any other changes pending?

@benitoite could you try `git tag -a "5.2.1" -m "test"` on your end, then run `./tools/generateReleaseInfo` and then your macOS scrip

[2017-07-27 15:20] Benitoite commented on #3984
@Beep6581 Tried all the combinations of GDK_SCALE and GDK_DPI_SCALE, with no effect.

@kapiliitr  Here's an interesting detail from your screenshot comparing the resolution of the graphical elements and the resolution of the text,
<img width="238" alt="28654975-3e43d9b0-724d-11e7-9007-5e2cf6f6c98e" src="https://user-images.githubusercontent.com/17919239/28677516-8912c5fa-72a2-11e7-9194-6f2f1203f61

[2017-07-27 15:35] iliasg commented on #3989
@Beep6581
Yes, some changes are pending for the next week
- regarding Pentax DNG files. We have to put some changes in dcraw.cc so that the WL reported by Pentax DNGs is ingnored. We have to do this because Pentax uses a non standard WL (reports the WL after BL subtraction)
- some refinements in camconst.json

[2017-07-27 15:39] kapiliitr commented on #3984
Not sure if this is what you wanted, but I tried scaling down the display resolution _System Preferences -> Displays -> Display_ Attached is the screenshot. Weirdly, this time the default font was None (I had deleted the options file)
<img width="1680" alt="screen shot 2017-07-27 at 8 38 02 am" src="https://user-images.githubusercontent.com/1621360/28679114-0cb97f76-72a7-11e7-9c53-9793e8ff8b80.png