[2017-07-27 16:02] Benitoite commented on #3984
Thanks @kapiliitr what I had in mind was not adjustment of screen resolution but the font scaling.

[2017-07-27 16:05] Benitoite commented on #3984
@kapiliitr http://cdn.osxdaily.com/wp-content/uploads/2016/02/change-mac-system-font-size-display-resolution.png

[2017-07-27 16:07] Benitoite commented on #3984
@kapiliitr Which of these settings have you tried. Could you try one of the in-between modes with rawtherapee.
With regards to the font being None, are you still using RawTherapee_OSX_10.9_64_5.2-16-gb84a027d.zip

[2017-07-27 16:23] heckflosse commented on #3989
I won't be able to do that before August 6th

[2017-07-27 16:25] agriggio commented on #3989
@heckflosse I can give it a try if @iliasg tells me what to do exactly

[2017-07-27 16:40] kapiliitr commented on #3984
No, I was using RT 5.2 published on the website. I'll try your suggestion
out later today.

[2017-07-27 16:57] sguyader commented on #3986
I didn't do the `pacman -Syu` update very recently, but I did it after Gtk+/Gtkmm were upgraded to 3.22. I just wanted to try like that, and since the build worked I left it this way.

[2017-07-27 18:14] heckflosse opened #3990 "Remember state of 'Show only original images'"
Feature request from [here](https://discuss.pixls.us/t/group-show-only-original-images-in-rawtherapee-by-default/4717)

[2017-07-27 18:45] Benitoite commented on #3989
@Beep6581 x.y.z scheme worked fine.

[2017-07-27 20:27] Beep6581 commented on #3989
Thanks for testing @Benitoite !

I'm personally not keen on rushing for a new release (lots of work at work + I need a vacation, starting to feel burned out). If you want to start work on one of the major issues (use Exiv2 for metadata #3801, consolidate the pipelines #3897, painting on canvas maybe #2239, integrate rawspeed, etc.) then of course we can make a 5.2.1 release with cherry-picked bug

[2017-07-27 20:27] Hombre57 commented on #3984
@Benitoite Here is a patch that will let you set see the current font resolution and set a new hardcoded one. You'll have to set `verbose=true` in options.

[code]

[2017-07-27 20:29] Beep6581 commented on #3990
Maybe this should be a more generic "Remember file browser filters"?

[2017-07-27 21:33] heckflosse commented on #3990
Why not? :)

[2017-07-27 23:38] #3098 closed

[2017-07-27 23:58] Benitoite commented on #3984
@Hombre57 That seems to look normal on my mac.

![screen shot 2017-07-27 at 3 08 42 pm](https://user-images.githubusercontent.com/17919239/28696634-93dbcf74-72eb-11e7-8def-a5ed047d6abd.jpg)

@kapiliitr Can you let us know if this looks right on your display:
https://filebin.net/u5cujuba4mwperg2/RawTherapee_OSX_10.9_64_5.2.1-2-gb5e76836.zip

[2017-07-28 11:17] iliasg commented on #3988
@agriggio @heckflosse
- For the moment, to turn RT at not using the DNG WhiteLevels and color matrix, we need to add
`|| !strncmp(model, "KP",2)` in https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9513 . I will need to investigate a bit more to decide if it's better to make a generic change for Pentax models instead of doing this per_model ..

- I Added Fuji X-A10 in the below

[2017-07-28 14:01] Hombre57 commented on #3984
@Benitoite Looks bold to me. Is there any thinner _sans_ font ?

[2017-07-28 14:39] kapiliitr commented on #3984
@Benitoite Looks good to me !

[2017-07-28 14:50] kapiliitr opened #3991 "Inform the user via a tooltip why a tool or tab is disabled"
Attached is the image of how the `Raw` tab looks in RT 5.2 on Mac OS. Is that expected ? I cannot click on anything or scroll in that tab. Other tabs work fine.
<img width="370" alt="screen shot 2017-07-28 at 7 48 08 am" src="https://user-images.githubusercontent.com/1621360/28722684-688428a2-7369-11e7-9128-cef9c1ad82f8.png">

[2017-07-28 15:10] Benitoite commented on #3991
Do you have a RAW loaded in the editor? This is expected when you have opened, for instance, a jpeg.

[2017-07-28 15:13] Benitoite commented on #3984
There's a subtle difference between Arial Regular (left) and Helvetica (right).
![screen shot 2017-07-28 at 8 01 08 am](https://user-images.githubusercontent.com/17919239/28723685-625978e4-736c-11e7-90d1-7f3e46b220a2.jpg)
Helvetica is slightly narrower.

[2017-07-28 15:14] kapiliitr commented on #3991
Ah yes, I selected the JPG instead of NEF as both of them were in the same folder. Not sure, but would a better indicator be helpful here ?

[2017-07-28 22:24] Jehan commented on #3943
Maybe I can just give it a try if you want. Then we can just close the bug reports. :-)

[2017-07-28 22:34] agriggio commented on #3943
Sorry, I'm traveling these days and I didn't have time to work on this. If you want to go then by all means please do it :smile:
BTW, I just noticed that my latest commit is obviously wrong. The test:

[code]

should actually be

[code]

Sorry about that -- I did not think long enough :stuck_out_tongue:

[2017-07-28 23:32] Jehan commented on #3943
All done (your version check fix as well). You can check our changes. You'll notice also some changes because we factorized a bit so that both file-darktable and file-rawtherapee plug-ins now share file-formats.h.

I guess we can just close the bug report on your side as well (we'll just wait for people complaining if it doesn't work properly since I don't have a MacOS as well! ;p).

[2017-07-29 09:03] agriggio commented on #3943
I didn't look at the code yet, but if you want to share `file-formats.h` between the two plugins you should be aware that there are subtle differences between the two. Specifically, the one of Darktable IIRC registers some TIFF files to be handled by the plug-in. This is fine for DT, but was causing some endless loops for the RT one in case of errors. I guess that is because the DT plug-in was pro

[2017-07-29 11:08] Jehan commented on #3943
Hi,

Yeah we already noticed that darktable's file-formats.h was listing tiff and we removed it. GIMP handles tiff just fine.
We didn't know about the issue you raise though, but that's a good additional reason. And don't worry, the explanation was clear. ;)

[2017-07-30 07:40] rpittaro opened #3993 "Dcraw update for version 5.2"
RawTherapee Version 5.2
Windows 10
Hp Z220
Just downloaded version 5.2 It still doesn't seem to support My Nikon B700. What version of Dcraw  is used in 5.2. I believe Dcraw 9.28 ( if released) will support the camera.
Thanks,
Rick

[2017-07-30 11:37] Beep6581 commented on #3993
9.27

[2017-07-30 11:37] #3993 closed, assigned to nobody

[2017-07-30 12:01] Stephan83c opened #3994 "Make Preferences panel vertically scrollable"
Hello,

I have a laptop on linux and the preference windows is to big for my screen.
I can't clic on "OK" for validate, how can I validate ?

Maybe you should add a  scrollbar on this window.

best regards.

Stéphan.

[2017-07-30 12:22] Beep6581 commented on #3994
@Stephan83c
1. Are you using RawTherapee 5.2?
2. Which desktop manager are you using? KDE Plasma for example allows you to alt+click a window to drag it around the screen.

[2017-07-30 12:58] sguyader commented on #3994
I have the problem on my low resolution laptop screen. Try this workaround: alt + left click anywhere on the preferences window and drag it towards the top: this allows to move freely any window where want, and to reveal the hidden bottom part and buttons.

[2017-07-30 12:58] sguyader commented on #3994
I have the problem on my low resolution laptop screen. Try this workaround: alt + left click anywhere on the preferences window and drag it towards the top: this allows to move freely any window where want, and to reveal the hidden bottom part and buttons.

[2017-07-30 18:56] Stephan83c commented on #3994
Thank you, it's working.

[2017-07-31 07:41] orava0 commented on #3773
I am also confirming that this bug exists. It is happening when using mouse, but I am primarily using a Wacom Bamboo MTE-450 drawing tablet instead of mouse and with this tablet the panning offset is impossible to manage.

I took a screen capture to show the behaviour with the Bamboo tablet:
https://imgur.com/a/hkmr7

My configuration:

[2017-07-31 10:07] Beep6581 commented on #3773
I still confirm the bug in latest dev, and it's exactly as @orava0 's gif shows. The red square is willing to go in any direction as long as that direction is down and right.

[2017-07-31 15:31] reagle commented on #3547
I updated to Rawtherapee 5.2 and the browser thumbnails are no longer 1/4 size as mentioned in #3936 . Thanks! Everything is much larger now, so I then configured the font sizes down and it looks great.

[2017-07-31 22:16] Hombre57 commented on #3773
I can't reproduce and never experienced this as far as I remember. Must be linux specific ?

[code]

[2017-08-01 10:52] listlfa opened #3997 "5.2 Widgets sizes have changed"
Some widgets are sized differently in 5.2 compared to previous versions.
Sample images for 5.2 and 5.1 below.

Complete version information --
Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags: -mwin32 -m64 -mthreads -msse2 -std=c++11 -mtune=generic -

[2017-08-01 12:54] Beep6581 commented on #3997
Your 5.2 screenshots look like they're not using the RT theme at all. This means that it's likely that you have other issues in your settings which you may not have noticed yet. As such, I recommend you close RawTherapee, delete your [options file](http://rawpedia.rawtherapee.com/File_Paths#Config), and run it again. Should look fine now.

[2017-08-01 13:09] listlfa commented on #3997
I deleted the "options" file, starting 5,2 created a new "options" file. Now 5.2 looks normal and 5.1 looks wrong, same as 5.2 used too.  I'm a happy camper now and I'll leave it up to the dev team on if they want to keep this Issue open as a real bug.

Thank you :)

[2017-08-01 14:13] #3997 closed, assigned to nobody

[2017-08-01 14:29] Beep6581 commented on #3773
I tested RawTherapee `5.0-r1-gtk2`, `5.0-r1-gtk3`, `5.1` and `5.2` in Windows 10. I could not reproduce the problem in any of them.

We don't know whether it's Linux-specific yet, but it doesn't appear on Windows (10 - @Hombre57 which version did you test in?).

[2017-08-01 14:36] Beep6581 opened #3998 "Options corrupt after switching versions"
I installed  `5.0-r1-gtk2`, `5.0-r1-gtk3`, `5.1` and `5.2` in Windows 10.

When switching from `5.0-r1-gtk3` to `5.2` two issues occur:
1. The RawTherapee theme is not used - Adwaita is used, meaning RT looks very bad:
https://filebin.net/u62poovkof0nlsug/Screenshot__4_.png
After deleting the `options` file:
https://filebin.net/u62poovkof0nlsug/Screenshot__5_.png
2. The "Add/Set" settings will be

[2017-08-01 14:40] Beep6581 commented on #3998
[code]

[code]

[2017-08-01 14:44] Beep6581 commented on #3998
Regarding Add/Set, see issue #2710

When switching from `5.0-r1-gtk3` to `5.2` and the tools are all "Add", and you go to Preferences > Batch Processing and click on "All to 'Set'", nothing happens. You must restart RT, then when you click on "All to 'Set'" they all change to "Set".

[2017-08-01 14:45] Beep6581 commented on #2710
When the `AdjusterBehavior` entry in the `options` file is corrupt/missing/whatever, the default should be "Set".

[2017-08-01 14:57] Beep6581 commented on #2710
When the number of entries in the `AdjusterBehavior` key do not match the expected count `ADDSET_PARAM_NUM`, the result is that they are all ignored and the default is used.

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/preferences.cc#L1990
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/preferences.cc#L2490
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/preferences.cc#L25

[2017-08-01 15:23] Beep6581 commented on #2710
I created PR #3999

[2017-08-01 15:26] Beep6581 commented on #3998
I created a patch for the Add/Set stuff in issue #2710 PR #3999

@Hombre57 I think you use Windows and are familiar with the theme loading code. Would it be possible to make RT try `Theme=RawTherapee-GTK3-20_` when using GTK+ >=3.20 even if the options file says `Theme=RawTherapee-GTK3-_19`?

[2017-08-01 22:46] Hombre57 commented on #3998
Should be possible, of course. I'll have a look later this week.

[2017-08-01 22:47] Hombre57 commented on #3773
@Beep6581

Win7

[2017-08-01 23:45] Beep6581 commented on #3773
Ok, @Benitoite can you reproduce this in macOS?

[2017-08-02 00:26] Benitoite commented on #3773
@Beep6581 Red box panning normally at any zoom level on MacOS.

[2017-08-02 04:41] MikrofiberPingvin opened #4000 "SIGSEGV in get_colorsCoeff with Canon PowerShot G5"
RawTherapee crashes to desktop when opening RAW-files from Canon PowerShot G5.
Steps to reproduce:
1. Navigate to folder with RAW-files
2. Double-click RAW-file. Editor view opens, the picture shows briefly, and the application crashes to desktop.

When doing the above, a .pp3-file is generated for the RAW-file. When this .pp3 file is present, RawTherapee crashes immediately upon navigating to the

[2017-08-02 05:45] orava0 commented on #3773
For your information, this problem was not in the older version of Rawtherapee. This came along with version 5 as I recall.

To confirm this, I just tested this with Rawtherapee version 4.2.1227 and did not experience this problem. I had this version previously installed and it was easy to revert to this version so that is why I tested with that exact version:

Version: 4.2.1227
Changeset: 6f33c1a

[2017-08-02 09:46] Beep6581 commented on #4000
Confirmed.

The segfault happens when opening the containing folder from the File Browser:
[code]

Opening the photo by passing it as a parameter seems to work fine https://i.imgur.com/djzCVPy.jpg

[2017-08-02 20:12] Benitoite commented on #3943
Here is the error I'm getting when trying to build the plugin on macOS:

[code]
Could it be looking for` ~/repo-rt/build/rtgui/config.h` or perhaps `~/gimp/config.h`

[2017-08-02 21:05] Beep6581 commented on #3943
Same problem here.

[2017-08-02 21:26] Jehan commented on #3943
This is the config.h which is generated by the `configure` script of GIMP (found at root folder of the build directory). This plugin will be included in GIMP itself, so there is no need to build it separately with gimptool.

This being said, if you really want to build it like this, I don't think we actually use any of the values from config.h. This is just good practice to always include it in ev

[2017-08-02 21:46] agriggio commented on #3943
as @jehan said, those errors are expected. if you want to self-comp Ile, just comment out the include and also the header file for i18n (I don't remember the name right now). you will also need to define the translation macros (`M_` IIRC) to be no-ops. I'll try to post a patch here tomorrow

[2017-08-02 21:48] Beep6581 commented on #3943
@Jehan @agriggio what will my grandmother need to do in Linux and Windows to open raw files in RawTherapee 5.2 from GIMP 2.9.6? I ask so that I can update http://rawpedia.rawtherapee.com/GIMP_Plugin

[2017-08-02 21:52] agriggio commented on #3943
I think (s)he would need to:

1. have RT  >= 5.2 in `$PATH`
2. select the RT importer from the raw import section of the preferences in GIMP.

that should be enough

[2017-08-02 21:54] Jehan commented on #3943
Hopefully nothing. If the right version of RawTherapee is installed and if the detection code works well (it does on Linux, for MacOS and Windows, that's untested, I think; we welcome patch anyway if you have any bug on any platform), GIMP will simply open the file in RawTherapee without you having to do anything. Then exiting RT will import the result into GIMP.
Same for darktable.

If neither Ra

[2017-08-02 23:47] Hombre57 commented on #3773
Just tested in Linux Mint 18.1, all works fine.

[code]

Could this be related to the Window Manager ???

[2017-08-03 06:49] orava0 commented on #3773
I am using Linux Mint 18.1 with Cinnamon desktop environment. Command wmctrl -m reports the window manager as default, i.e. Mutter (Muffin).  My kernel is 4.4.0-53-generic if that matters.

RT version in the repositories is 4.2-4 and it works fine. I have compiled RT from source to get the latest version and that is where to problem with navigator window arises. I don't know if it matters, but I r

[2017-08-03 11:06] Beep6581 commented on #3773
@orava0 the issue seems to be with the GTK3 version. 4.2 uses GTK2 IIRC.

[2017-08-03 11:08] Beep6581 commented on #3943
Great, I'll update the docs.

[2017-08-04 10:14] ants opened #4001 "Canon 80D mRaw deinterlacing is broken"
80D mRaw format images show up as offset slices. Looks like slice height gets misinterpreted.

Version: 5.2
Branch: releases
Commit: 78e921cb

Example of problem: https://drive.google.com/open?id=0B_GMYhSIxbfMXy01c25pZnBCT00
Source file: https://drive.google.com/open?id=0B_GMYhSIxbfMWFplMzRDdU52cWc

[2017-08-04 13:05] Benitoite commented on #3984
Thanks to @Hombre57 for merging fixes https://github.com/Beep6581/RawTherapee/pull/3992

[2017-08-04 13:35] Benitoite commented on #4001
Note that 80D mRaw has issues with tiling: https://discuss.pixls.us/t/canon-eos-80d-mraw-support-exhibit-tiling-issues/4190/2?u=hiram

[2017-08-04 14:16] Beep6581 commented on #4001
See: https://github.com/Beep6581/RawTherapee/issues/3533#issuecomment-267024043

[2017-08-04 14:16] #4001 closed, assigned to nobody

[2017-08-04 14:18] Beep6581 commented on #3984
@Benitoite would you advertise it in the forum and paste a link to your post here?

[2017-08-04 14:59] ants commented on #4001
Thanks. I will use darktable to get at the images I accidentally took with the mRaw mode.

[2017-08-04 15:51] Benitoite commented on #3984
@Beep6581 https://discuss.pixls.us/t/macos-rawtherapee-retina-font-performance-develeopements/4777

[2017-08-05 11:07] magret2017 opened #4002 "Raw Therapee 5.2 - EOS Rebel XS"
Hello everyone,

I have installed Raw Therapee 5.2 on my computer through line command which is running under Lubuntu 16.10. All my pictures I've been taking by an Canon EOS Rebel XS which is supposed to be fully supported sinceversion 4.2. Indeed, I can see all my raw picture except those from one folder. Why? Here's a screen capture.
![2017-08-05-125017_1024x768_scrot](https://user-images.github

[2017-08-05 12:16] Beep6581 commented on #4002
@magret2017 upload a sample photo using https://filebin.net/ and paste the resulting link here.

[2017-08-05 12:19] Floessie commented on #4002
@magret2017 Your file looks corrupted. Can you open it with other programs, such as geeqie or darktable?

[2017-08-05 12:27] Beep6581 commented on #4002
@Floessie Geeqie only reads embedded JPEGs (at least on my system), so the result would be misleading.

I tried two raw files from the EOS Rebel XS / 1000D / Kiss F and they work fine in 5.2, indicating that your photos are corrupt as @Floessie suggested.

[2017-08-05 14:04] Hombre57 commented on #3987
I voted against this proposal because it's a quite uncommon behavior. I never seen it before in fact.

[2017-08-05 14:52] Floessie commented on #4002
@Beep6581

Of course, you are right. I just thought that the thumb is so damaged, that even the embedded preview is corrupt, too. But that must not necessarily be the case, right.

[2017-08-05 18:23] sjmudd commented on #3984
For what it's worth I've had the same problem on a MacBook Pro (Retina, 13-inch, Late 2013) and the corrected binary also fixes the problem for me. So thanks for taking the time to resolve this. It took me a while to find this issue on github, partly as this was my first install of RawTherapee so I'm trying out the software for the first time, and thus I guess for newcomers such as myself we may n

[2017-08-05 19:05] Benitoite commented on #3984
As far as rawtherapee dot com releases, I think v2.5.1 is coming rather soon.
There is also a central page for development series builds: https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

[2017-08-05 19:13] Beep6581 commented on #3984
Yes, this will be part of 5.2.1.

So the issue is fixed and the fix is confirmed - @Hombre57 ok to close?

[2017-08-05 19:57] Eneen commented on #3987
Krita, Blender and Natron use it (from apps I use)

[2017-08-06 09:07] magret2017 commented on #4002
Hello Beep,
Here's the link for the file https://filebin.net/u08j0vbpdydhmdav.
Thanks for you help.

[2017-08-06 09:15] Floessie commented on #4002
@magret2017 I don't even have to download the file: It's only 3.6MB, whereas an intact CR2 is usually bigger than 20MB. Something went wrong, when you copied it from you SD card. Maybe it was even stored that way (battery empty while shooting?). Sorry, but we can't help you with it. 😞

[2017-08-06 09:24] magret2017 commented on #4002
Hello Floessie,
I am unable to run Darktable on my computer for very long, it crashes all the time. Theses files were on a Mac then burn on a DVD support for storage & then copy back to my computer. Could that be the source of the problem?
Thanks for your help.

[2017-08-06 09:37] Hombre57 commented on #3773
@orava0 @Beep6581 A patch has been committed to `dev` (7a7e9d3), could you test ?

[2017-08-06 10:24] Beep6581 commented on #4002
Confirmed, that raw file is corrupt. Closing.

DVDs are a bad medium for backups due to most of the DVD writers and the discs themselves being low quality and user discipline while burning them being sloppy.

[2017-08-06 10:24] #4002 closed, assigned to nobody

[2017-08-06 11:35] Beep6581 commented on #3773
@Hombre57  Tested, unfortunately it does not solve the issue.
https://filebin.net/sdvd51qd8w69vust/rt_3773.mp4

[2017-08-06 12:08] orava0 commented on #3773
Thanks for the patch. I tested it as well and it didn't solve the issue yet, but to me it seems that the effect is less now than earlier, so it seems that you are certainly touching the right code

https://filebin.net/wn8fhbas3t62lbg1/Kazam_screencast_00000.mp4

[2017-08-06 12:29] ghost opened #4003 "RW2 files"
I have just discovered RawTherapee and honestly I'm impressed. I've been working with Capture One so far. But I've already seen that RawTherapee offers much more editing tools.
Recently I bought the Lumix DC-TZ90 which has the same RW2 files as the DMX-FZ72. So I thought there would be no problem at all loading TZ90 files into Capture One. The files are not recognized by Capture One. RawTherapee c

[2017-08-06 12:31] Hombre57 commented on #3984
If everyone is happy, then yes, closing.

[2017-08-06 12:31] #3984 closed, assigned to nobody

[2017-08-06 13:16] Beep6581 commented on #4003
The thumbnail with the green tick shows you what the image generated from the raw data using the current tool settings looks like. The thumbnail without the tick means the image has not been opened yet, so it shows you the embedded JPEG preview created by your camera.

http://rawpedia.rawtherapee.com/Getting_Started#Edit_your_first_image
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_

[2017-08-06 13:16] #4003 closed, assigned to nobody

[2017-08-06 14:17] ghost commented on #4003
Thanks for your reply.
Though I am still baffled by the apparant difference between the two types of RW2 files that Panasonic seems to use. There is no problem with the FZ72 camera, and there is a huge problem with the TZ90, because the latter one requires a hell of a lot of editing to get to look like the jpg preview.
I am going to study the manual first.

Another issue, what do you most photogra

[2017-08-06 15:59] Beep6581 commented on #4003
The Panasonic Lumix DC-TZ90 is brand new and not yet supported. You can help getting it supported by uploading a sample raw file using https://filebin.net/ and pasting the link in a new issue.

[2017-08-06 16:56] ghost commented on #4003
Yes, I understand now that each camera has a different kind of RAW format that needs to be loaded in a special way. I’ve managed to apply the generic processing profile punch 2 to this camera’s files. It works fine.
I’l send you some original files.
Thanks,

Hetty

[2017-08-06 17:04] ghost commented on #4003
I suppose this must be the link:
                                         dw5ws19dqvgl50ni <https://filebin.net/dw5ws19dqvgl50ni>

https://filebin.net/dw5ws19dqvgl50ni <https://filebin.net/dw5ws19dqvgl50ni>

Succes.

[2017-08-06 17:32] Beep6581 commented on #4003
Thanks @hettyme
In order for us and the [libre community](https://raw.pixls.us/) to use these raw files please confirm the following:
*  You declare that you own full rights to these files and you hereby release them under the [CC0](https://creativecommons.org/share-your-work/public-domain/cc0/) licence into the public domain.
* The files are manually copied from card/camera, without using any sof

[2017-08-06 17:44] hettyme commented on #4003
On 6 Aug 2017, at 19:32, Beep6581 <notifications@github.com> wrote:

Thanks @hettyme <https://github.com/hettyme>
In order for us and the libre community <https://raw.pixls.us/> to use them please confirm the following:

You declare that you own full rights to these files and you hereby release them under the CC0 <https://creativecommons.org/share-your-work/public-domain/cc0/> licence into the pub

[2017-08-06 17:57] ghost commented on #4003
These are indeed the original RAW files (which my mac can’t read) taken straight from the camera DC-TZ90 without any editing and of which I own full rights.
Both files can be used under the CC0 licence, which I assume does not infringe in any way upon my own rights to use the files in any way I deem fit.
Herewith end the legalistic formalities.

Success with the making of an RW2 profile for this c

[2017-08-06 18:59] ghost commented on #4003
I have two more files which indicate that somethings else needs tweaking in this RW2 version, the spherical correction. See photos. One is a clip from the file as it was rendered after conversion to dng (in Adobe dng converter) and the other is a clip of the file as it now shows in RawTherapee. Something needs adjusting there.
![clips_3981](https://user-images.githubusercontent.com/30772419/290061

[2017-08-06 19:08] ghost commented on #4003
And this is how it looks in Silkypix, apparently the only app capable of correctly rendering the raw files.
![clips_3983](https://user-images.githubusercontent.com/30772419/29006193-556bc926-7aeb-11e7-80c5-d336ace8c3c5.jpg)

[2017-08-06 19:10] Beep6581 opened #4004 "Panasonic Lumix DC-TZ90 raw support"
Raw sample available from https://raw.pixls.us/getfile.php/1629/nice/Panasonic%20-%20DC-TZ90%20-%204:3.rw2

[2017-08-06 19:13] Beep6581 commented on #4003
Regarding the dark edges, see the last paragraph of the Lens Correction Profile section here:
http://rawpedia.rawtherapee.com/Lens/Geometry#Lens_Correction_Profile

Thank you for the raw sample. I opened issue #4004 - please take a look. Some more samples are needed, explained there.

[2017-08-06 19:15] Beep6581 commented on #4004
The Panasonic Lumix DC-TZ90 has the following modes:
* 1:1
* 4:3
* 3:2
* 16:9

We already have the 4:3 ratio, @hettyme could you provide the other ones?

And finally, we need to measure the camera's white levels. Could you provide one shot where the whole frame is overexposed (i.e. shoot the sun or a lamp) for each major ISO value? This is explained in more detail here: http://rawpedia.rawtherapee

[2017-08-06 19:48] LebedevRI commented on #4004
since i was pinged, i should clarify that for https://raw.pixls.us/ we want such full set to be of some static scene, and it ideally should be shoot with stable (tripod or similar) camera.

[2017-08-06 19:48] hettyme commented on #4004
I’ll see what I can do tomorrow. This is all new to me. I just started yesterday with RawTherapee, because I wanted an app that can handle the new RW2 files. Tomorrow I’ll make some photos in the other formats.

On 6 Aug 2017, at 21:15, Beep6581 <notifications@github.com> wrote:

The Panasonic Lumix DC-TZ90 has the following modes:

1:1
4:3
3:2
16:9
We already have the 4:3, @hettyme <https://githu

[2017-08-06 19:50] ghost commented on #4003
OK, I’ll study the support pages and see what is needed.

[2017-08-06 19:52] hettyme commented on #4004
OK, Roman, give me some time to read and understand what is needed and I’ll see to it.
I’ll get my tripod ready.

On 6 Aug 2017, at 21:48, Roman Lebedev <notifications@github.com> wrote:

The Panasonic Lumix DC-TZ90 has the following modes:

1:1
4:3
3:2
16:9
since i was pinged, i should clarify that for https://raw.pixls.us/ <https://raw.pixls.us/> we want such full set to be of some static scene,

[2017-08-06 19:58] Beep6581 commented on #4004
@hettyme for RawTherapee's needs, we need completely clipped (overexposed so much that they're just white) shots at every ISO level, one set with LENR off, one set with LENR on. See the link in the previous comment for more info. You just need to take the shots, we will measure them. That gives a total of 16 shots (80 100 200 400 800 1600 3200 6400 with LENR=off, and the same with LENR=on). Zip th

[2017-08-06 20:02] hettyme commented on #4004
OK. I’ll see to it.

On 6 Aug 2017, at 21:58, Beep6581 <notifications@github.com> wrote:

@hettyme <https://github.com/hettyme> for RawTherapee's needs, we need completely overexposed shots at every ISO level, one set with LENR off, one set with LENR on. See the link in the previous comment for more info. You just need to take the shots, we will measure them. That gives a total of 16 shots (80 100

[2017-08-06 20:32] iliasg commented on #4004
@hettyme @Beep6581

Preliminary support item included in the below attached camconst.json (replace your existing camconst.json with it)
[camconst-tz90.zip](https://github.com/Beep6581/RawTherapee/files/1203408/camconst-tz90.zip)

[2017-08-06 23:18] Hombre57 commented on #3773
@orava0 Your mp4 file is corrupted, I can't read it.

Could you check your toolchain, i.e. are you sure that the includes of Gtk(mm) are the same version than the library used ? Just guessing, as I don't understand where it could come from since @orava0 and I are using Linux Mint18.1, with different behavior.

[2017-08-07 04:18] orava0 commented on #3773
@Hombre57 Sorry for the corrupted file. I'll upload it again later today. Could you help on how to easily check if the gtk versions are correct? Probably a list of installed packages (i.e. a command in the terminal)...?

[2017-08-07 06:00] Floessie commented on #3773
FWIW, I cannot reproduce this in Debian 9.1 with XFCE.

[code]

[2017-08-07 06:21] Beep6581 commented on #3773
Here's my `ldd` output on `rawtherapee`: https://paste2.org/CdN923ym
IIRC I had this problem in Gentoo and now I still have it in Sabayon.

[2017-08-07 06:48] Floessie commented on #3773
@Beep6581

And this is also true for the crop in main image area, or is it the red square only?

[2017-08-07 06:53] epsigam opened #4005 "Crash when saving image with lanczos resizing"
**RT Version**
[code]
**GDB trace**

[code]
**System infos**
CPU: Intel® Pentium(R) CPU G3258 @ 3.20GHz × 2
RAM: 8 GB
O/S: Debian GNU/Linux 9 (stretch) 32 bits

**Full stacktrace + file example**
https://filebin.net/0nn3kf9tva54gbxi

**Note:** it works when I'm using the nearest resizing algorithm.

[2017-08-07 07:59] Hombre57 commented on #3773
@Beep6581 @Floessie Is it theoretically possible to have an _includes_ mismatch regarding the version used ?

[2017-08-07 08:27] Beep6581 commented on #3773
@Floessie the main preview follows the red square correctly, and panning the main preview by clicking within it and dragging works correctly, but panning the navigator by clicking in it and dragging makes the red square jump to a spot and move in a direction which is not in sync with the mouse cursor.

@Hombre57 I don't know, but I don't think this is likely the issue, considering how Gentoo/Sabay

[2017-08-07 08:32] Floessie commented on #4005
@epsigam Nice report! 👍

Could you please test this patch?

[code]

I can't reproduce it, as I'm on 64 bits.

Best,
Flössie

[2017-08-07 08:38] Floessie commented on #3773
@Hombre57

It's not impossible, but would be the result of a badly written CMake module.

As to the error we're after: @Beep6581 Could you check `event->x` and `event->y` in `PreviewWindow::on_motion_notify_event()` with some `printf` debugging? It should be negative sometimes.

[2017-08-07 09:47] gaaned92 commented on #4005
@Floessie
I am not able to understand if it is the same thing, but on W32 builds, despite Ingo's efforts, I must use -mstackrealign to avoid crashes.

[2017-08-07 09:59] Floessie commented on #4005
@gaaned92 Thanks for the info, but the buffer `lL = 0xae18fbc8` is on the heap and needs to be 16B-aligned.

There's that `float w[support] ALIGNED64` line, that makes me wonder, if we have 8B stack alignments somewhere, where `_mm_store_ps()` is used. But Ingo has better insight into that.

Thanks,
Flössie

[2017-08-07 10:33] ghost commented on #4003
I have uploaded several files. The photos were made with the object on a level table and the camera levelled.
ISO 200 P1040122
400 P...123
800 P...124
1000 P... 125
1250 P...132
1600 P...133
Tonight I'll shoot the 1800 and 3200 ISO.
Ratio 4:3 P1040139
3:2 P...140
16:9 P...141
1:1 P...142
The files can be found here.
https://filebin.net/j35i2sexf90zacr2
All under the CC0 licence.
I hope this helps.

[2017-08-07 12:07] epsigam commented on #4005
I had another crash when I'm saving image. I used the "nearest" algorithm for resizing picture. The bug seems to be elsewhere.

I added new full log file: **log2.txt**
https://filebin.net/0nn3kf9tva54gbxi/log2.txt

**Here is the extract**
[code]

@Floessie I'm not developer but I can try. I suppose that I have to get (latest) sources, modify ipresize.cc and compile?

[2017-08-07 12:18] Floessie commented on #4005
@epsigam

Exactly. All is well described in the [RawPedia](http://rawpedia.rawtherapee.com/Linux). It's not that hard, but there are some packages you need to install to satisfy the dependencies.

After you have a working self-compiled version, paste my patch into a file and run `git apply [patchfile]` in the source root directory.

Good luck,
Flössie

[2017-08-07 12:21] epsigam commented on #4005
Thanks for your help @Floessie.
I will try it and will keep you informed.

[2017-08-07 13:32] epsigam commented on #4005
1) compilation was done without your patch: same crash
2) compilation was done with your patch: no crash!

[code]

I'll re-compile in "release" type because RT is slower in "debug" type.
Your patch works for me.

Thanks!

[2017-08-07 13:33] heckflosse commented on #4005
@Floessie 👍 for the patch. If the patched version still crashes on 32bit Linux, this additional patch will disable aligned loads and stores on 32bit Linux

Ingo

[code]

[2017-08-07 13:38] Floessie commented on #4005
@epsigam Nice to hear that. I'll commit tonight. Thanks for catching the bug and trying the patch! 👍

@heckflosse Ingo, thanks for your hint! Have nice holidays!

[2017-08-07 13:47] orava0 commented on #3773
@Hombre57 here is a new try uploading the screen capture of the behaviour with Development 5.2-14-g7a7e9d3:  https://filebin.net/ywzk4exj3ighc4lv/output.gif

I also took an ldd list: https://paste2.org/bYGyONey

I also used command `dpkg --get-selections | grep gtk`   to get a list of all the packages that have gtk in their names:  https://paste2.org/Vz3dEOv4     I just noticed that I seem to have

[2017-08-07 14:39] epsigam commented on #4005
I still have crashes when I'm saving pictures, they are appearing randomly.
I applied the patch from @heckflosse too but crashes persists. I think patches fix some errors because crashes appears less frequently but the root cause seems to be deeper.

**Here is the new log file**
https://filebin.net/0nn3kf9tva54gbxi/log3.txt

**Here is the extract**
[code]

No emergency, enjoy your holidays! It bre

[2017-08-07 17:55] Floessie commented on #4005
@epsigam This log and the one before stops because of a SIGTRAP instead of a SIGSEGV. Normally that's the case for breakpoints in the debugger. Don't know why this happens in your session. I assume, you didn't set a breakpoint, didn't you?

How is the behavior, if you run RT directly, i.e. *not* under GDB?

[2017-08-07 18:05] heckflosse commented on #4000
This patch fixes the crash. Thumb is still wrong...
[code]

[2017-08-07 18:08] heckflosse commented on #4005
@epsigam Can you try this patch on top of the other patches, please?
[code]

Edit: NVM, I wrote the comment while @Floessie closed the issue. As it's not a SIGSEGV, my last patch will be useless.

[2017-08-07 18:11] #4005 closed, assigned to nobody

[2017-08-07 19:06] Hombre57 commented on #4000
Patch above committed in rev. b183a0b on behalf of @heckflosse. Closing ?

[2017-08-07 20:57] Hombre57 commented on #4000
Closed as discussed on IRC with @heckflosse. The thumbnail looks wrong, probably because of the lack of metadata, however the image is read correctly.

[2017-08-07 20:57] #4000 closed, assigned to nobody

[2017-08-07 21:33] heckflosse commented on #3991
@kapiliitr What could be a better indicator for non raw files than a disabled Raw tab?

[2017-08-07 22:02] Hombre57 opened #4006 "Pentax K-1 DCP profile broken ?"
Here is the error message I get when browsing a folder with Penx K-1 files :
[code]
If this profile can't be used, we should remove it from the bundled DCP profiles. Could one confirm that it's broken... and why ? @iliasg ?

[2017-08-07 22:55] kapil-ms commented on #3991
I would say a disabled Raw tab is an indicator but not enough. A tool tip or a message that appears on hovering above the tab could be helpful.

[2017-08-07 23:42] heckflosse commented on #3991
I agree about the tool tip 👍

[2017-08-08 06:33] iliasg commented on #4006
@Hombre57
Inspecting the profile with exiftool shows no problem .. colormatrix1/2 , forwardmatrix1/2 and lookuptables exist, and the dcp works fine  with RT5.0.111 (It's hard for me to test with newer builds because it takes 15mins to start :( )

[2017-08-08 06:54] Floessie commented on #4006
@Hombre57 I downloaded a Pentax K-1 DNG and the DCP automatched without that error message.

[code]

HTH,
Flössie

[2017-08-08 08:04] Beep6581 commented on #4006
Confirmed that the `RICOH PENTAX K-1.dcp` we ship (I made it) has an MD5 of `6d358374424fb28243da4e67f3002cac` and that it works fine on both normal and pixel-shift K-1 raws.

[2017-08-08 20:16] Hombre57 commented on #4006
Ok, collateral effect of my patch on multi-frame handling. Closing.

[2017-08-08 20:16] #4006 closed, assigned to nobody

[2017-08-08 20:18] Hombre57 commented on #3989
Before exploring Exiv2 for metadata, let me commit my patch for multiframe handling that touch the Exif handling part. Will do that tomorrow or today in a separate branch.

[2017-08-08 21:47] Hombre57 opened #4008 "Multi-frame handling"
This is the place to discuss the multiframe-handling branch. See my comment added to the commit f23be9345cbd45e51b64675438637024ad22f9a2 and let's discuss what's wrong in this patch (I renamed some classes to make them more self-explicit), and what's missing.

[2017-08-09 06:06] Floessie commented on #4008
It's actually f23be9345cbd45e51b64675438637024ad22f9a2. I'll only comment on the coding aspects.

[2017-08-09 10:54] Hombre57 commented on #4008
@Floessie Sorry, comment fixed. You're coding advice will be much appreciated.

[2017-08-09 22:19] Hombre57 commented on #3773
Thanks @orava0 , however I still have no clue of what's going on.

[2017-08-09 22:52] Hombre57 commented on #4008
@Floessie @Beep6581 Thanks for the review. I'm done with the fix requested (see commit 1a296b763f0b3f032a7115e9cfb112918d3b9851). I still have to add icons on thumbnails and it will be complete.

[2017-08-10 07:27] Floessie commented on #4008
Good job, @Hombre57!

Only nitpicking:
- Shouldn't `IsRGBSourceModified()` be `isRGBSourceModified()`?
- You removed `const` from `virtual rtexif::TagDirectory* getExifData (unsigned int frame = 0) const = 0;`, but if it compiled correctly before, it makes sense in this place, because it guarantees, noone will change the `TagDirectory` state from outside. If you return a value (not a reference/poi

[2017-08-10 08:02] Floessie commented on #3773
Quoting myself:

That was rubbish. It's relative to the window.

@Beep6581 If you find the time, could you test this patch?
[code]

Can you post an excerpt of the output when the direction was wrong?

HTH,
Flössie

[2017-08-10 10:57] Beep6581 opened #4010 "Use astyle version 3"
Hello

We recently seem to have found that astyle version 2.* formats things differently to 3.0 using the same "recipe". As such, we should all update to the latest astyle release (3.0) to make sure things are consistent and diffs are clean.

Please tick the box once you've read this:
- [x] @agriggio
- [x] @Desmis
- [x] @Floessie
- [x] @heckflosse
- [x] @Hombre57

[2017-08-10 12:55] Hombre57 commented on #4008
Thanks for the help @Floessie. As soon as I get out of my habits and road, I'm way less productive :sweat: ... I'll test and commit tonight.

[2017-08-10 13:21] Floessie commented on #4008
@Hombre57 It's just a suggestion. If you feel more comfortable without the `std::unique_ptr<>` then keep it as it was. There's currently only the bug with the local `rml` in `ExifManager::parseTIFF()` which you should revert to the previous version if you want to stick with the plain pointer. 👍

[2017-08-10 14:28] Beep6581 commented on #3773
Here you go @Floessie
https://filebin.net/u0o5wjp7ncpercpu/rt_3773_log.txt

When testing, I would click "f" then "z", then I would click in one part of the navigator window and pan in one direction. Then I would click "f" and "z" again, and click and pan in another part and direction.
I described where I clicked and where I panned in the log file if you look for comment lines by searching for "GRE

[2017-08-10 16:46] Floessie commented on #3773
@Beep6581 @Hombre57 The output looks reasonable to me. Is this a race or handlers called in an unexpected order?

[2017-08-10 16:47] heckflosse opened #4012 "Speedup for raw CA correction"
I made a new speedup for raw CA correction. It's in the 20% range, measured on my old holiday laptop with 2 cores using Sabayon/64bit. I post it as a patch instead of a branch because I have to use a different proxy with proxy authentication each day, which complicates usage of git push.

I managed to vectorize another loop, but the larger part of the speedup was achieved by using only one half of

[2017-08-11 09:22] Floessie commented on #3773
@Beep6581 Are you running Sabayon KDE edition 17.07?

[2017-08-11 09:44] Beep6581 commented on #3773
I'm using Sabayon and KDE Plasma 5.9.5, KDE Frameworks 5.36.0 and KDE Apps 17.04.3.

Here is a new recording including log output: https://filebin.net/94taq8cxd2ew0x3q/rt_3773_2.mp4

[2017-08-11 11:29] Floessie commented on #3773
@Beep6581

Same here in the Live ISO. Unfortunately I can't install to the virtual HD, as `liveinst` fails with `ImportError: No module named _selinux`. 😞 Although I've no experience with Sabayon, I tried to install the missing `sys-apps/selinux-python`, but it's not found. Any hint?

[2017-08-11 14:38] Beep6581 commented on #3773
@Floessie sounds like a bug, it shouldn't be using selinux. Have you tried a different ISO?
Stable: https://www.sabayon.org/desktop/
Daily: http://ftp.portlane.com/pub/os/linux/sabayon/iso/daily/daily.html

They are helpful on IRC (freenode, #sabayon)

I will be away in Tiveden until Monday. Have a good weekend everyone.

[2017-08-11 15:01] Floessie commented on #3773
@Beep6581 Yes, it's a bug. The daily image from yesterday works. I will continue with it on Monday. Have fun and take some nice photos in Tiveden!

[2017-08-11 22:59] heckflosse commented on #4012
Update:

The patch from above reduced memory usage of raw ca correction by 128 x 128 x 4 x c bytes (where c is the number of cores), was 20% faster than dev in my test and had a bug, which led to differences in output.

The following patch reduces memory usage of raw ca correction by 128 x 128 x 4 x c + width * height * 2 bytes, is also 20% faster than dev in my test and has no differences in outp

[2017-08-12 17:22] Hombre57 commented on #4008
@Floessie Even though it's quite complex and unusual for me, I committed your patch at least to have some reference code, just in case ;)

[2017-08-12 18:34] Taminaluna commented on #3988
Hello,
I want to work on the raw files of my Canon77d with Rawtherapee. I added the camconst.json to .config/RawTherapee/profiles directory, but the colors differ quite a lot from the jpg. Is there anything else I have to change? I only chose Bearbeitungsprofile/Meine Profile/Canon EOS77d.
Thanks a lot for answering my request.
Barbara

[2017-08-13 16:26] romandocent opened #4014 "Batch Edit "Transform-Resize" randomly changes default values in USM"
I noticed that Batch Edit function changes default values in Transform->Resize->Post-Resize Sharpenning (UNSHARP MASK)-> Amount. Default value in USM Amount is 200, and it's normal for most cases. But when I do batch operation it randomly changes this value to 400, 800 or 1000 EVEN if I don't switch on Resize panel during batch. I forced to check it every time to reset back to 200 when I need to r

[2017-08-14 06:34] Floessie commented on #3773
I managed to set a Sabayon VM up and installed the packaged RT 5.1. Still, I cannot reproduce the problem. 😞

[2017-08-14 08:27] Beep6581 commented on #4014
@romandocent
1. Which [version](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports)?
2. Preferences > Batch Processing, is it set to ADD or SET?
3. What are the steps to reproduce? A [screencast](http://www.maartenbaert.be/simplescreenrecorder/) would help.
4. When does it change the value?

[2017-08-14 08:42] MarkusSenn opened #4015 "Thumbnail height maximum = 800 pixel"
Maximum value for thumbnails in "Preferences/File Browser" is 800 pixel. I would like to use a higher value, as I am working on a large high-res monitor

[2017-08-14 08:45] MarkusSenn opened #4016 "IPTC Data not exported"
strange behavior observed yesterday!
Portrait oriented picture with IPTC-Data in it should be resized using post-resize sharpening.
Now: when "Transform/Resize/Post-Resize sharpening" is on "RL Deconvolution" ---> IPTC-Data got lost in the process and was NOT exported to new smaller file.
However, when the setting was on "unsharp mask" ----> IPTC-Data were exported.

[2017-08-14 08:55] Beep6581 commented on #3988
@Taminaluna `camconst.json` does not go into `~/.config/RawTherapee/profiles/camconst.json`, move it to `~/.config/RawTherapee/camconst.json`

[2017-08-14 08:55] Hombre57 commented on #4015
We could raise the limit, but you must know that thumbnails consume quite some disk space. Which value would you like ?

[2017-08-14 09:01] Beep6581 commented on #4016
Could not reproduce:
[code]

@MarkusSenn http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
1. Which version of RawTherapee?
2. Which IPTC fields did you test?
3. Preferences > Image Processing > Metadata, what is the status of the "Copy Exif/IPTC/XMP unchanged to output file" checkbox?
4. How do you know the IPTC data in the saved file is missing?

[2017-08-14 09:02] Taminaluna commented on #3988
Now it works :-), thank you very much!!!
Best regards, Barbara

[2017-08-14 09:03] Beep6581 commented on #4015
@MarkusSenn are you using HiDPI mode or desktop scaling?

[2017-08-14 09:07] Beep6581 commented on #4008
@Hombre57 could you include SVG versions of the icons in your branch? Remember to first convert the text to paths so that there is no font dependency.

[2017-08-14 09:13] Hombre57 commented on #4008
They're already included, text already converted.

[2017-08-14 09:29] MarkusSenn commented on #4015
I think, 1200 would do, but prefer a MAX of 1600 or even 2000 regarding the newer high-res monitors

on my main studio machine I use a 27" 2560x1440 monitor in "normal" mode, whereas on my 4K-Laptop computer I have to use HiDPI-mode, otherwise many programs' types are rendered to small to be readable

[2017-08-14 09:29] MarkusSenn commented on #4016
1)    5.2

2)    "Description", "Description Writer", "Headline"

3)    UNchecked (test with CHECKED did not work)

4)    easy: IPTC Data in original file, but not in new smaller file when it was NOT exported / IPTC Data IN new file when export worked fine.

PS: It took quite some time to find out this rather peculiar bug - post-resize sharpening and IPTC-Data do not have anything in common?

[2017-08-14 09:37] Floessie commented on #3773
@Beep6581 Could you try this patch (w/o the previous patch applied)? I'm only interested in moving top left (the bad case).

[code]

[2017-08-14 09:49] Beep6581 commented on #4008
Ah yes, I missed them, thank you.

[2017-08-14 09:53] Beep6581 commented on #4016
@MarkusSenn what program did you use to determine that the IPTC data was missing from the saved file? As you can see from my snippet, the data is there - I cannot reproduce. Would be good if you could record a screencast showing how you reproduce the bug.

Just so that we're on the same page, please try using this image to reproduce the problem:
http://rawtherapee.com/shared/test_images/amsterdam.

[2017-08-14 09:55] Beep6581 commented on #4015
RawTherapee's main preview should be scaled when using HiDPI mode, while I believe currently it is not, meaning currently more data must be processed when using HiDPI. It should be the same with thumbnails. I don't personally mind allowing a higher max thumb height but keep in mind that that is probably not the correct solution. See issue #3547

Unless my premise about scaling bitmaps is wrong, bu

[2017-08-14 11:54] Beep6581 commented on #3773
The behavior is weird... sometimes while panning the red square seems to "click into" misbehaving in one way, e.g. for every change in input-x do the change in output-y, and then at some point while dragging it snaps to a different behavior, e.g. for every change in input-x do twice the change in output-y... The speed with which I drag also seems to play a role. And I get the feeling that it behav

[2017-08-14 12:16] Floessie commented on #3773
@Beep6581 What I see in your video is that you move the right and the red sqare moves right *and down*. Is that the problem you're facing ATM? Seems, that is due to `press_(x|y)` is `int`. Could you give me a text file with comments on what you expected and what you experienced when is was wrong?

[2017-08-14 12:51] Floessie commented on #3773
@Beep6581 Here's a patch, that gives me consistent behavior:

[code]

HTH,
Flössie

[2017-08-14 16:28] romandocent commented on #4014
1. Up to 5.2 release (Ubuntu 16.04)
2. Everything by default (can't find there "resize" or "post-resize sharpening" string)
3. Choose some raw pictures, go to Batch edit, change something (for exampe I change input profile to my Nikon camera, and output to No ICM, switch on Noise reduction, and in Raw panel switch on Auto-Correction in chromatic aberration but I noticed  it doesen't matter what to

[2017-08-14 16:42] Beep6581 commented on #3773
@Floessie here is a list of issues I observe:
- I move the red square left, it moves left but lags behind - initially the cursor is in the center of the square, but it ends up leaving the square (`00:00:03 - 00:00:05`).
- I move the square up, but it moves up and left (`00:00:05 - 00:00:08`).
- I move the red square to the right, it moves right but accelerated faster than I'm moving the cursor - i

[2017-08-14 16:45] Beep6581 commented on #3773
@Floessie the last patch fixes it! Thank you, +1 for commit :)

Why is it that @orava0 and I were the only ones able to reproduce that?

[2017-08-14 16:51] Beep6581 commented on #4014
@romandocent

Is everything ADD or SET? "Default" means nothing in this case, because their default state was buggy until a few days ago.

Cannot reproduce in `dev`. A screencast would help.

[2017-08-14 18:11] orava0 commented on #3773
@Floessie I can also confirm that your patch fixed the problem. I am very grateful to all of you who took effort on this!

[2017-08-14 18:28] Desmis opened #4017 "Merge with dev is very very difficult"
I have merge "waveletnew" with "dev" with many many difficulties. I think new formatting is culprit ??

Difficulties come from "procparams.cc"

I just tried to merge "newlocallab" (merge with dev 6 days ago), with "dev".. It is quasi impossible to do this work.
All is mixed "wavelet", "locallab", "etc". many  "}" are missing...

In french "c'est le bordel le plus total... mais pourquoi ?"

I will

[2017-08-14 19:27] Beep6581 commented on #4017
Commit 47ed067c styles some files in newlocallab the same as they're styled in dev. Other files in dev haven't changed style-wise. I hope this helps you merge.

[2017-08-14 19:53] #3773 closed, assigned to nobody

[2017-08-14 19:58] Floessie commented on #3773
@Beep6581

Actually, I could see it here, too (not so dramatically, though). But I was focused too much on that sentence of yours:

With the debug patch, one could see, that there's a delta even when the mouse didn't move in that direction, and this was due to rounding `press_(x|y)` down to `int`s.

@orava0 @Beep6581 Thanks for your help catching this one! 👍

Best,
Flössie

[2017-08-14 20:41] romandocent commented on #4014
Then try to reproduce in "release", I'm using it.
Some strings "add" others "set". I touched nothing there after install from release branch.

[2017-08-15 07:15] Beep6581 commented on #4014
@romandocent click "All to 'Set'" then try to reproduce. A screencast would help.

[2017-08-15 07:19] Desmis commented on #4017
@Beep6581
I just tried with your commit,
* less rubric to merge
* but same problem, all is mixed and some "}" are wrong.

I'll do this operation "manually"

Jacques

[2017-08-15 08:01] Desmis commented on #4017
I just merge with dev "manually" (for procparams.cc)

I hope no error :)

[2017-08-15 08:51] Beep6581 commented on #4017
@Desmis so are the two branches merged now, or is it only the file `procparams.cc` which is merged so far? If you have more files to merge, please show me an example of two files with the `}` problem, and I'll try to find where the problem came from and fix it.

[2017-08-15 08:56] Beep6581 commented on #4017
Ah I see the merge commit now.

Are there any other issues, or can we close?

[2017-08-15 09:28] Desmis commented on #4017
@Beep6581

Yes I merge "newlocallab" in "dev"...Perhaps we can close, but I don't think so.

But the problem remains . Why it is so difficult, or even impossible to merge with the command "git merge dev".
I had no problem before the last "style of procparams".

Now if I want to merge (newwavelet ot newlocallab) all rubrics are mixed...you have "locallab" mixed with others (wavelet, defringes, etc.

[2017-08-15 09:49] Floessie commented on #4017
@Desmis Jacques, I'm just curious: I guess you had merge conflicts. Which merge tool do you use to resolve them?

[2017-08-15 10:01] Desmis commented on #4017
@Floessie

To merge conflicts, I don't use any tools unless my skills...

For all files excepts "procparams.cc"
I used : git merge dev -m "merge with dev"

Then I open each file with conflict in Notepad++, I searh "head" and "dev" and compared...no problem in most cases.. I do not use special tool...is ther one ?

For "procparams.cc", I have tried, retried...with "newwavelet"...after many changes,

[2017-08-15 11:09] Floessie commented on #4017
@Desmis

Yep, if the changes are too many, I sometimes do that, too. I use [Meld](http://meldmerge.org/) as `git mergetool`. Not that I grasp everything about merging and this tool, but it helps me to have a graphical tool to easily choose from one side or the other.

[2017-08-15 11:46] Desmis commented on #4017
I don't know if "Meld" is good, but obviously, merge with git, for procparams.cc give a corrupt file !

[2017-08-15 11:47] Beep6581 commented on #4017
@Desmis

The reason is that astyle tries to preserve certain types of whitespace which look like they were made intentionally by the coder, so if the coder makes changes in one branch but not another, astyle won't make things the same. For example see the whitespace before the comma in `WBParams::init()` in `rtengine/procparams.cc` [here](https://github.com/Beep6581/RawTherapee/compare/86f3d326d97

[2017-08-15 11:49] Beep6581 commented on #4017
[kdiff3](http://kdiff3.sourceforge.net/) is very good, as it's a 3-way tool, while most other tools are only 2-way tools.

On my system, git finds it automatically when I do `git mergetool`

[2017-08-15 11:55] Desmis commented on #4017
I do not dispute the usefulness of a good formatting, but the file resulting after "git merge" is obviously corrupted.
You offer me tools, but I tell you that Procparams.cc is corrupt

when you found something as (I have not kept ...)

            if (keyFile.has_key ("Locallab", "Sharradius"))  {
                locallab.sharradius  = keyFile.get_integer ("Locallab", "Sharradius");

[2017-08-15 12:01] Beep6581 commented on #4017
@Desmis I do not argue that the result of an automatic merge can be corrupt if a lot of surrounding whitespace changes. Remember that I maintained the gtk2 and gtk3 branches for a long time. The only way to reduce the risk of merge issues is to make the same formatting changes to all branches (or not at all).

[2017-08-15 12:03] Desmis commented on #4017
The only way I found to merge is to do by comparing the 2 files (dev and newlocallab). It is the first time!

[2017-08-15 14:40] Hombre57 commented on #4008
Fixed a bug already predicted by @Floessie. I wasn't expecting that some images wouldn't contain exif, which is a silly assumption of midnight work...

[2017-08-15 21:52] RawConvert commented on #3973
I get this behaviour also.

[2017-08-15 21:57] RawConvert opened #4018 "Adjuster slider value shows 00"
Various sliders including the main Exposure ones and the Lab ones behave strangely when moved by mouse, by including the value "00" between displaying zero and -1.

Ubuntu 16.10,   Version: 5.2-5-g10822f5,   Branch: dev,   Gtkmm: V3.20.1

![rt-zero-zero-value](https://user-images.githubusercontent.com/16868433/29338398-eda94916-820c-11e7-8ddd-968091e9c192.jpg)

[2017-08-15 22:07] RawConvert opened #4019 "Re-selecting same curve mode of hidden curve - should the curve be shown?"
Suppose you are using Lab exposure and you define a custom L* curve.  You now use the Equaliser, say LH.  You now try to go back to the custom curve, but it won't display.  To see it or further adjust it, you have to select linear for L*, then select Custom.   This gets your curve back.  Preferably RT should display your curve as soon as you select Custom.

Ubuntu 16.10,   Version: 5.2-5-g10822f5,

[2017-08-15 22:19] Beep6581 commented on #4019
Cannot reproduce. Can you show a screencast?

[2017-08-15 22:50] RawConvert commented on #4019
I take a raw with noPP3 present, and do a custom curve, giving this -
![q1](https://user-images.githubusercontent.com/16868433/29339798-d65d5d04-8213-11e7-8f53-8a1a0e77c800.png)
Then use Equaliser, giving this -
![q2](https://user-images.githubusercontent.com/16868433/29339861-3352855c-8214-11e7-9f74-fc210729ccd3.jpg)
I now click the L* dropdown and click Custom, but nothing changes.
Does this hel

[2017-08-16 06:04] Floessie commented on #4018
Cannot reproduce on Debian 9.1 with GTK 3.22.11.

[2017-08-16 07:11] Beep6581 commented on #4019
![curvemode](https://user-images.githubusercontent.com/5844619/29350932-d3219716-8260-11e7-95c5-22e0b1085944.png)

Now I see what you mean. If a curve, any curve, has a shape set but the curve is hidden (click on 1 to hide it), then when you click on the drop-down to select _the same curve mode_, the curve is not automatically shown, because it already uses that mode, so the show event is not fire

[2017-08-16 07:14] Beep6581 commented on #4018
I never noticed this before, but I can reproduce it using L\*a\*b\* Lightness for example:
[code]

[2017-08-16 07:48] Beep6581 commented on #4018
[code]
`1` - `0.5` show as `1`
`0.5` - `0` show as `0`
`-0.0...1` - `-0.5` show as `00`
`-0.5` - `-1` show as `-1`

[2017-08-16 08:59] RawConvert commented on #4019
Morgan, the experienced user might wonder why this bit of the application is so complicated and un-intuitive!  I didn't know [1] was a button so haven't pressed it unless by accident.  It should perhaps be made more clear this is a button, e.g. it doesn't change appearance between on and off states, and the popup tool tip doesn't give any clue either.  Perhaps it is mentioned in rawpedia, I haven'

[2017-08-16 09:41] Beep6581 commented on #4019
That's the "RawTherapee" theme's fault.

"Pressing start on your microwave when you've already pressed start on your microwave".

No because then you would have no way of showing/hiding the curve.

[2017-08-16 10:08] Beep6581 commented on #4019
"RawTherapee" theme fixed in commit 4429b6f. The TooWa* themes work fine.

Someone else will need to look at the events if it is desired that re-selecting an already-selected mode should trigger a curve show.

[2017-08-16 12:03] Beep6581 opened #4020 "Make panel separators visible"
The "RawTherapee" theme lacks visible separators between the panels, making finding them to resize the panels guesswork.

These ones:
![imgur-2017_08_16-13 57 03](https://user-images.githubusercontent.com/5844619/29362120-e3d5080c-828a-11e7-9617-877bb6969a3b.png)

This patch lays thin grey lines where they are, and makes them a bit darker when hovered.

[code]

Before:
![imgur-2017_08_16-14 02 25]

[2017-08-16 13:10] RawConvert commented on #4019
"No because then you would have no way of showing/hiding the curve."
Why do you need to explicitly show or hide?  When you choose something in a dropdown, e.g. custom curve, that's the prompt for the system to display it, whether you've already been working on a custom curve, or it's a new one.  Regarding hiding, why do you need to, when you've done your curve or equaliser change, you leave it the

[2017-08-16 14:02] Beep6581 commented on #4019
- To not be distracted by something you're not using,
- To make the most of limited screen space,
- To keep focus on the relevant elements when taking screenshots,
etc.

Furthermore, if curve showing/hiding was completely automated and the user couldn't show/hide them manually:
- Being forced to change (or re-select) a curve's _mode_ just to show or hide said curve would be unintuitive and a regre

[2017-08-16 22:05] RawConvert commented on #4019
I don't know why you say 9 curves, this would not be required, my suggestion would be keep that aspect as currently, i.e. all 9 "tools" use the same bit of the window.
Re. the 4th point, this is making it sound unduly messy.  All you would need to do is click the dropdown arrow then click the thing you're using, e.g. Custom.
Overall I think your 5 points are minor considerations.
Would the code no

[2017-08-17 05:11] anilgulecha opened #4021 "Over the network editing option?"
I'd like propose a feature, with would make rawtherapee work in a more extensible manner and use-cases -- there's missing FOSS options for remote image processing.

The idea: I'd like to be able to remotely start an edit session on a photo, and control my edits, over TCP.

But over the network the interface translates to:

 - 1. Create an edit session create(Image, optional initial sidecar state)

[2017-08-17 17:48] bnzf opened #4022 "RawTherapee 5.2: Fonts much to big on retina display (Mac)"
I use RawTherapee_OSX_10.9_64_5.2 on a Macbook Pro 2013 15" Retina under OS 10.9.5.

All the fonts in RawTherapee (in the main window) are about of the double size they should be and make RawTherapee quite  unuseable. I use the default settings and verified in the preferences where the fonts are 12pt. I attached a screenshot.

On my MacPro with an ordinary screen all is fine.

![rt5 2retina](https

[2017-08-17 22:55] romandocent commented on #4014
@Beep6581
No effect. Especially set "Amount" to 200 went to Batch Edit and switched on Chromatic Aberration-Auto Correction, jumped back to same image and found "Amount" 400.

[2017-08-18 03:16] Benitoite commented on #4022
Try the development version which fixes this problem. See https://github.com/Beep6581/RawTherapee/issues/3984
https://filebin.net/obil7s03g68z7l7s/RawTherapee_OSX_10.9_64_5.2-61-g6e03141c.zip

[2017-08-18 05:37] tmmidm opened #4023 "Curves with a large number of points are not loaded from a profile of the picture (pp3)"
Hello.
System info:
RT version 5.2
Windows 7 64-bit
4G Ram

At application of a tone curve in the Exposure tab with a large number of points (&gt; ~ 100) there is the following problem. The curve is loaded from rtc of the file and applied, and also successfully remains in a profile of the picture (pp3), but after closing of the program the kept profile of the picture cannot be applied (at applicat

[2017-08-18 06:51] bnzf commented on #4022
The linked development version does not fix the problem with me.

[2017-08-18 07:18] Beep6581 commented on #4022
@bnzf delete your [options](http://rawpedia.rawtherapee.com/File_Paths#Config) file before running the development version. If the text is still too big, change the font size using the development version from Preferences.

[2017-08-18 07:24] Beep6581 commented on #4023
1024 chars are read for a key's value.
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/procparams.cc#L3683

[2017-08-18 07:26] Beep6581 commented on #4023
Does it make sense supporting so many points? Where do we draw the line?

[2017-08-18 07:41] bnzf commented on #4022
Deleiting the .options has no effect. Also, after deleting and running the development version again nothing new, excetp an empty gtk-3.0 folder, is writtten in .options. And made changes survive deleting .options .... so something must be saved somewhere else.

Setting the font  to Arial regular 12pt  makes it slightly better (letters are now about the Apple Menu size), but still larger as on my

[2017-08-18 08:04] Beep6581 commented on #4022
I don't understand what you're saying.

So there's no problem?

[2017-08-18 08:06] tmmidm commented on #4023
Thanks for information on restriction.
At creation of a curve in the manual mode so large number of points of course isn't required.
RawPedia speaks about an opportunity to use any quantity of points in a curve. And it really works before closing of the program. Points also save in pp3 the file, but the program can't read them again. Because of this pp3 the file becomes unsuitable for application

[2017-08-18 08:12] bnzf commented on #4022
@Beep6581

I quit RawTherapee, delete the .options folder, start RawTherapee again change the font size, quit RawTherapee. Then in the newly generated .options folder there is only an empty gtk-3.0 folder.
And, the changes of the font size survive deleting (again) the .options folder.
So RawTherapee stores settings somewhere else.

If you consider massive different apperence on two different compu

[2017-08-18 09:31] Benitoite commented on #4022
@Beep6581 @bnzf The options file is located within the hidden Library folder in your home directory.
Delete the options file in Terminal or go to it by typing Command-Shift G, then enter:
/Users/username/Library/Application Support/RawTherapee/config
, substituting your username where it says username.

[2017-08-18 09:31] Beep6581 commented on #4022
I'm not a macOS user but I have been involved in trying to get RT usable on macOS, in writing macOS documentation and in macOS user support. There is no `.options` folder that I'm aware of, there is only a file called `options` (no dot) inside the `RawTherapee*` folder which is inside a hidden folder called `config`, i.e. `~/.config/RawTherapee/options`, as the documentation says. If that is not t

[2017-08-18 09:55] bnzf commented on #4022
@Benitoite
After deleting the content of /Users/username/Library/Application Support/RawTherapee/ the apearance is fine with the default settings and the development version.
Thank you.

[2017-08-18 11:10] Beep6581 commented on #4022
@Benitoite when does RT use `~/.config` and when does it use `/Users/username/Library/Application Support`, does that depend on whether it's in DMG form or something else?

[2017-08-18 13:10] heckflosse commented on #4012
I created [cacorrect_speedup branch](https://github.com/Beep6581/RawTherapee/tree/cacorrect_speedup) with some more optimizations.
I tested with [blue_horse.nef](http://www.rawtherapee.com/shared/test_images/blue_horse.nef).
There are very very small differences in output before/after which are not visible by eyeball.
I measured on my old (Processor: Pentium(R)\ Dual-Core\ CPU\ T4500\ @\ 2.30GHz)

[2017-08-18 13:18] agriggio commented on #4023
I agree that in principle it should be possible to use an arbitrary number of points. Setting a limit a priori seems unnecessary to me.

However, @tmmidm, for your specific use case, note that you don't need all those points to get a faithful tone curve. In my experience, you can do with less than 10, let's just say 6-7:

- the two extreme points
- the point in which the curve crosses the mid line

[2017-08-18 14:27] Beep6581 commented on #4012
Hola!
Without the patch ~500ms, with 779f4dd12e0109e2c1790ff5df9785a35add0deb ~300ms.

[2017-08-18 15:05] Benitoite commented on #4022
@Beep6581 Should be using ~/Library/Application Support/RawTherapee/config anytime the app runs thru it's executable loader, the normal way.
https://github.com/Beep6581/RawTherapee/blob/b8801095395cbbbec53a8a63ee08296b0effd8e9/tools/osx/executable_loader.in#L31

[2017-08-18 15:17] Beep6581 commented on #4022
RawPedia updated.

[2017-08-18 15:17] #4022 closed, assigned to nobody

[2017-08-18 18:11] bnzf opened #4024 "A problem with the Auto Motion correction for pixelshift demosaicing?"
There may be a problem with the Auto Motion correction for pixelshift demosaicing in parts with no motion.
As an extreme example take a picture that has no motion I would expect that the Auto Motion correction does not detect motion. However turning Auto Motion correction on makes the picture look more or less like demosaiced with AMaZE.

Take for example the raw file from the Studio scene image,

[2017-08-18 19:27] tmmidm commented on #4023
agriggio, thank you for advise.

I agree that the quantity of the points which are finding room in the extreme length of parameter are enough and reasonably.
In this regard I close a problem.

[2017-08-18 19:27] #4023 closed, assigned to nobody

[2017-08-18 19:28] heckflosse commented on #4024
@bnzf This was one of the pictures I used for my tests when I developed pixelshift for rt. I will take a look.

[2017-08-18 22:04] heckflosse commented on #4024
@bnzf

1) As I developed pixelshift for rt I tested with about 100 different pixelshift files. Exactly one of them had absolutely no motion and that wasn't IMGP0505.PEF ;-)

![ps_001](https://user-images.githubusercontent.com/13733487/29479075-77526b60-8470-11e7-9e15-fd69b1061ecb.png)

2) Always have a look at the motion mask

3) For images with no motion you can use 'Motion detection off'

4) for

[2017-08-18 22:29] Hombre57 commented on #4019
@RawConvert From a user experience P.O.V., why would you get that tiny arrow and select a curve type (so 2 clicks) to show the curve you've already edited and want to edit again when doing so in one click on a bigger button is possible ? Going from curve to curve is done very often and making the process of switching curves as easy as possible was on my specifications for this feature. This is onl

[2017-08-18 22:54] heckflosse commented on #4024
@bnzf The raw ca correction is done per frame before the frames are combined. Perhaps this could be improved by using the same ca-shift for all frames (which also would be faster), but currently each frame gets his own correction. Also have a look at the corners of the IMGP505.PEF. There the raw auto ca-correction gives a much better result than without (left is without ca-correction, right is wit

[2017-08-18 23:37] Hombre57 commented on #4019
@RawConvert @Beep6581 Could you try this patch ? Works fine here.

[code]

[2017-08-18 23:44] Hombre57 commented on #4018
We cannot exclude that it's a change of the `Gtk::SpinButton` behavior. Nothing changed since Gtk2 era and I don't see any method to prevent displaying two zeros. See rgui/adjuster.cc  >  `Adjuster::setLimits`

[2017-08-18 23:55] Hombre57 commented on #4015
@Beep6581 I don't see the benefit of having HiDPI screen if you have to scale up the main preview. Do you mean displaying a 100% image with 1 img pixel = 2x2 screen pixel ? I can agree though for thumbnails and icons.

[2017-08-19 00:27] Hombre57 commented on #4008
How should we handle the demozaicing method which could be set to `pixelshift` for whatever reason on an image that is not PS ? I know that the engine will switch to **Amaze** or **lmmse**, but I have a patch ready that remove the Pixeh Shift entry for non PS images in the combobox. However in that case, it will be set to _inconsistent_. When closing the image, if the user doesn't set a valid entr

[2017-08-19 07:51] bnzf commented on #4024
@heckflosse
Most of IMGP505.PEF source is rigid - there should thus be an constant shift over the whole image (except the feathers etc). Unless air refraction fluctuations come in, but at these short distances I do not believe they have a visible effect.
However the motion mask is scattered:
![motionmaskg](https://user-images.githubusercontent.com/31108283/29484588-4a377dda-84c2-11e7-8cae-527e0794

[2017-08-19 08:29] RawConvert commented on #4019
@Hombre57 , thanks for looking at this.  I accept the point about the 2 clicks and can see if you've made 6 changes and want to quickly review them all then the "1" buttons are good.  But I think others are and will over time be confused, not realising they are buttons.  Can the tooltips be amended to make clear they are buttons?

I'm afraid I don't know what to do with the patch!  I don't program

[2017-08-19 08:31] RawConvert commented on #4018
Ok!

[2017-08-19 09:46] MarkusSenn commented on #4015
For my kind of work only the thumbnail max=800 is concerned - I would like to be able to put in a higher value in order to have a larger thumbnail on my 2560x1440 (or even 4K on my laptop) monitor! I completely agreee with Hombre57 that it would be pointless to use a HiDPI screen AND scale up the main preview. So for me: pleae let RT work with higher values (up to 2000 e.g.) in the "thumbnail max.

[2017-08-19 09:49] MarkusSenn opened #4025 "number of pictures corresponding to *-filter"
I do not see where (if at all) the number of corresponding pictures to a filter, e.g. 1-5*, is indicated.
Example: I choose a selection by marking pictures with 1* Star (Shift+1) and let the selection be displayed. Now how many pictures are in the collection? Where do I find this number? If not, could it be added?

[2017-08-19 10:10] MarkusSenn opened #4026 "basic question"
Sorry, this is maybe really basic, but I do not manage to find the explanation:
The Processing Profile Button: When is it pressed and when released. I don't get the clue, the symbol is too abstract for me. I see either 5 horizontal lines or  of them. Now which is which.
thanks for clarification!

[2017-08-19 10:12] mzuther opened #4027 "Enhance background colour cycling in editor"
Hi!

I currently use RawTherapee 5.2 (stable) on Linux Mint.

To check whether the edited image is too light or too dark, I regularly cycle the editor's background colours (using the key command "9"). The theme-based background with transparency is great for cropping images, but I also need a opaque grey background to check for tinted colours. And changing this in the settings is too much hassle t

[2017-08-19 13:14] Hombre57 commented on #4019
@RawConvert @Beep6581 Patch committed in rev 7394aa3806a9503ddaae0018d417b01448e4e4b0. Was quite safe anyway. I changed the theme too : now only the toggle button will be shown as pressed to make it more clear that it is linked to the arrow but behave differently.

[2017-08-19 13:14] #4019 closed, assigned to nobody

[2017-08-19 13:18] jeffersonfr commented on #3799
- Important feature 1: masks, zones or componentes (r, g, b, saturation, luminosity, ...) to isolate regions of image
- Important feature 2: differents versions of an image
- Important feature 3: blend modes

With this features the RawTherapee will be the better tool to edit raw images available !

[2017-08-19 14:33] #3799 closed, assigned to Beep6581

[2017-08-19 14:34] Beep6581 opened #4028 "Roadmap for 5.4"
Issues tagged with the v5.4 milestone:
https://github.com/Beep6581/RawTherapee/milestone/4

[2017-08-19 14:46] Beep6581 commented on #3989
Changelog so far:

# Features:
- CIECAM02 module enhanced.
- camconst.json updates.
- New human perception-friendly theme "TooWaGrey - Average Surround" added.
- RawTherapee GIMP plugin more user-friendly,

# Fixes:
- macOS text issues fixed.
- Add/Set fixed.
- Navigator panning fixed.
- Canon PowerShot G5 crash fixed.
- Lanczos resizing crash fixed.
- Theme improvements.

[2017-08-19 14:50] Beep6581 commented on #3989
Could we include `cacorrect_speedup` @heckflosse and `multiframe-handling` @Hombre57 ?

Then there are some open branches whose status is unclear:
- [x] ciecamtest @Desmis
- [x] coverity-fixes @heckflosse
- [x] valgrind_fixes @heckflosse
- [x] remote-app @heckflosse
- [x] options-save-raise-exception-on-failure @agriggio

I will try to focus on testing waveletnew over the next few days.

[2017-08-19 14:57] Hombre57 commented on #3989
@Beep6581 I guess that my branch is sufficiently stable to be merged, however I prefer that @heckflosse give it a try and agreed on the merge. He's returning from holidays this Sunday, so I expect to have an answer by Wednesday.

[2017-08-19 15:04] Desmis commented on #3989
@Beep6581
ciecamtest : I can merge this small change when you want :)

[2017-08-19 15:15] Desmis commented on #3989
There is no changes in waveletnew, since long time...more than 1 year ....except a modification in Retinex (not retinex for wavelet), I add chroma.
It is difficult to keep up to date this branch (about 50 events!)

Probably I think there will be a general agreement for functions such as "retinex in wavelet" and "sharp mask and clarity"
For other additions "Merge files and watermark"?? It is always

[2017-08-19 15:57] Beep6581 commented on #4008
I like the idea of the PP3 being preserved, but if I understood the explanation correctly, that would lead to the problem of the user interface not being explicit to the user about what's happening.

If the PP3 uses demosaicing method Pixel Shift but the opened image is not a Pixel Shift raw, and the combobox says "Pixel Shift" or "Inconsistent", the user wouldn't know which demosaicing method is

[2017-08-19 15:58] Beep6581 commented on #4027
Hi @mzuther

I agree that it would be convenient to be able to easily set the canvas/crop mask color to average grey. The first proposed solution is overkill. Simplicity is best. Adding a fourth mode, "neutral gray", is simple and would fulfill my needs.

[2017-08-19 16:22] Beep6581 commented on #4027
Patch ready, icons not yet and I have to head out, I'll PR tomorrow.

[2017-08-19 18:26] #3520 closed

[2017-08-19 20:24] mzuther commented on #4027
Good heavens, you're fast! :)

[2017-08-19 22:58] Hombre57 commented on #3998
@Beep6581 Could you confirm that it's fixed ?

[2017-08-19 23:10] heckflosse commented on #4024
@bnzf

If the motion correction (detection) would be perfect there would be no need for `custom` or `off`mode.
RT is on the aggresive side when detecting motion in automatic mode because motion artifacts often are worse than demosaic artifacts. Other software is less aggressive but also does not detect motion as well as rt does and is less configurable.

How should a motion correction which is tur

[2017-08-19 23:22] heckflosse commented on #4025
In the label of the file browser tab? Showing 1/4 when one of totally four files matches,

[2017-08-20 07:37] bnzf commented on #4024
@heckflosse

I see. For pictures with no internal movement, I will try to combine manually and see if there is an noticeable additional overall offset, due to camera movement, that could be corrected.

- Edit: I just realized I refer to an other type of motion and approach to fix it. RT aims to handle moving object in a scene by using, for the area of the object, one of the sub images only. I was

[2017-08-20 09:50] Desmis commented on #3989
@Beep6581
I have extend commit june 2017, to "double" ( commit 1e5382a)

Then I just delete branch ciecamtest
Jacques

[2017-08-20 17:46] cuniek commented on #4028
My personal wishlist:

A - move resize (+ post resize sharpening) to queue tab (instead of per image settings).
B - make "force sRGB output" checkbox in queue tab (for those who prepare images for photolabs)
C - make "invert" checkbox in "exposure" tool to simplify scanned negatives processing (currently I use curves to invert colors, but some tools, applied before curves, work the opposite way)
D

[2017-08-20 18:47] Beep6581 commented on #4027
https://github.com/Beep6581/RawTherapee/compare/bgcolor-vbox

![imgur-2017_08_20-19 34 33](https://user-images.githubusercontent.com/5844619/29496966-acfb922c-85de-11e7-9ef2-204866eca8d7.png)

I'm not fond of those vertical buttons:
1. They do the same job as their red/green/blue/L/focusmask neighbors to the right, so there is no good reason for them to look different.
2. The images those buttons

[2017-08-20 19:04] #2710 closed

[2017-08-20 19:06] Beep6581 commented on #3998
@Hombre57 fix confirmed.

[2017-08-20 19:09] Beep6581 commented on #4026
@MarkusSenn I guess you're referring to the "Fill mode", see http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Processing_Profile_Selector
Please use the forum for user support.
https://discuss.pixls.us/c/software/rawtherapee/

[2017-08-20 19:09] #4026 closed, assigned to nobody

[2017-08-20 19:11] Beep6581 commented on #4025
@MarkusSenn please use [the forum](https://discuss.pixls.us/c/software/rawtherapee/) for user support, not this issue tracker.

[2017-08-20 19:11] #4025 closed, assigned to nobody

[2017-08-20 19:19] Beep6581 commented on #3989
Thank you @Desmis

I liked some of the additions in "newwavelet" when I tested it a long time ago, but there were also some issues and I didn't have time to investigate them. I will try to find time to do that, so that `waveletnew` can go into 5.3.

[2017-08-20 19:31] agriggio commented on #3989
I have a small feature that could go in 5.2.1 if there is interest. it allows the user to save the expanded/collapsed status of tools "by hand", instead of having RT remember the status on exit. I find this extremely useful and have been running it for a couple of months now. if that's ok, I'll create a pr tomorrow

[2017-08-20 19:32] mzuther commented on #4027
I see the point. But I never found the colour boxes nice - they seem to fall out of place because of their small size. The new large grey-with-transparency button doesn't really help in this regard (please don't take this as criticism!).

What about enlarging all the buttons like here? I think it looks quite nice...

![improved_buttons](https://user-images.githubusercontent.com/316423/29497789-d1a

[2017-08-20 19:50] #4020 closed, assigned to Beep6581

[2017-08-20 19:53] Beep6581 commented on #3989
There was user interest in a such a feature, why not.

[2017-08-20 19:54] heckflosse commented on #3989
@Beep6581

As I'm back home now I will make some tests again on my main machine. If these tests are ok and I get another ok from at least one dev (@Desmis for example) that the differences in output are ok, I'm fine with merging

[2017-08-20 19:54] Hombre57 commented on #4008
@Beep6581 The more I look at it, the more if feels tricky to implement : we have to care about copy/paste of ProcParams to thumbnails of images that can already be opened. I'd like to postpone this part (or drop it entirely) and commit the branch in its actual state (which is complete for me), after quick review of @heckflosse too.

[2017-08-20 20:01] heckflosse commented on #4008
@Hombre57 I will review it asap

[2017-08-20 20:04] falket commented on #4028
My personal wishlist too, if i can:

lensfun integration

chromatic aberrations autocorrection for xtrans?
vignetting autocorrection based on embedded jpeg?

[2017-08-20 20:07] Hombre57 commented on #4014
Sorry, can't reproduce.

[2017-08-20 20:48] Hombre57 commented on #4004
@Beep6581 @iliasg Does the shots for raw.pixls.us need to be a daylight scene or can I provide shots under tungsten light ? My dad has a TZ91 for 2 days now, and I'd like to see it supported by RT :) . I guess that there's no difference between TZ90 & TZ91.

[2017-08-20 21:37] Hombre57 commented on #4027
What I'm not fond of light frame for r, g, b channel and light background. Could they be darker than their content ? Otherwise 👍 for @Beep6581 or @mzuther version.

[2017-08-20 21:48] #3998 closed, assigned to Hombre57

[2017-08-20 22:17] heckflosse commented on #4014
From my experience, if an issue is not reproducible, one of the possible reasons is that the steps to reproduce are not clear enough and lead to misunderstandings while trying to reproduce.

@romandocent Could you please post the steps to reproduce step by step instead of prosa?

Especially 3. from your second last post is a lot of steps in two large sentences which can lead to misunderstandings.

[2017-08-20 22:30] Hombre57 commented on #2239
Sooooooooo... I had the time and will of merging dev into the spot-removal branch. If I find time to work on it again, I'd like to have answer to those questions first :

1. at which step should spot-removal be applied ?
2. what if the user transform the image (coarse transform, lens transform, rotate tool, ...) ? Do we want to update the point location ?

My thoughts on this is that it should be

[2017-08-20 23:03] heckflosse commented on #2239
@Hombre57 Maybe even before demosaic? But that's really just a thought...

[2017-08-21 02:55] romandocent commented on #4014
@Beep6581 @heckflosse Looks like I can't reproduce it too after "All to Set" setting mentioned by Beep6581 above.

[2017-08-21 05:31] Desmis commented on #3989
@heckflosse
I just test with and without patch, no differences (or very very small...)

God job
Jacques

[2017-08-21 05:32] Desmis commented on #4012
@heckflosse
I just tested with and whithout patch.
No differences, or very very small.
Very good job :)

Jacques

[2017-08-21 05:37] Desmis commented on #2239
@Hombre57
I think that "the sooner in the process" would be welcome, but it does not have to complicate the algorithm. Perhaps just after demoisaicing
jacques

[2017-08-21 06:56] iliasg commented on #4004
@Hombre57

Yes, TZ90-91-92-93 are the same model named differently.

For the 4 aspect ratio shots we just need well lit shots so that the transition from exposed to not exposed pixels is easy to find.

For the totally_overexposed shots (with LENR ON and OFF) it's good to have samples at all ISO settings available (80-100-125-160-200 ...)

[2017-08-21 07:45] Beep6581 commented on #2239
It's a difficult question to answer not knowing the order of the pipeline. I would like to say that "just after demosaicing" is fine, but what about exposure adjustment or DCP tone curve? i.e. if I'm working on a HDR DNG which opens up as black and needs +6EV to see anything, will the spot preview be 0EV or +6EV? If 0EV then the user is "flying blind". Maybe that's ok in practice... I agree to go

[2017-08-21 07:48] Beep6581 commented on #4004
@Hombre57 RPU (raw.pixls.us) want "normal" photos, only 1 photo per raw mode (full-frame, cropped, small-raw, etc.). For our [camcons.json](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) needs I guess you know the drill :)

[2017-08-21 11:52] heckflosse commented on #4012
@Desmis
Jacques, thanks for testing
merged

[2017-08-21 13:14] Beep6581 opened #4032 "More visible previewmodeF-off.png button"
Despite the recent commit the focus mask off-state button is still poorly visible:
![imgur-2017_08_21-15 10 35](https://user-images.githubusercontent.com/5844619/29520810-02df92c0-8683-11e7-868c-ff2a49189d92.png)
![imgur-2017_08_21-15 11 22](https://user-images.githubusercontent.com/5844619/29520813-06631430-8683-11e7-9377-6dca38e4f8a5.png)

This proposed button is clearly visible on all shipped t

[2017-08-21 14:00] Beep6581 commented on #4027
Note to self: merge PR #4030 when merging PR #4029

[2017-08-21 16:11] agriggio commented on #3989
I think this can be merged. Shall I do it or would you @Beep6581 ?

[2017-08-21 17:15] Beep6581 commented on #3989
@agriggio go ahead. Btw please see https://github.com/Beep6581/RawTherapee/issues/4010

[2017-08-21 19:26] Hombre57 commented on #4004
@iliasg The raw files can be found here : https://filebin.net/yqc0n4ac1yshftqv
I took the LENR OFF shots first, but given my low cerabral activity these days, I took 1EV increment first, then found out that I could turn on 1/3EV. That's why the intermediate values have been taken in a second batch.

For the LENR ON shots, they have been taken all in a single batch. However some birds crossed the s

[2017-08-21 23:22] heckflosse opened #4034 "Speedup for green equilibration"
I created [a new branch](https://github.com/Beep6581/RawTherapee/tree/greenequil_speedup) with a speedup for green equlibration.
Because green equilibration has two parts, I placed two stopwatches in code (`gel part one` and `gel part two`).
I measured using a 100 MP file from a Phase One IQ3 using neutral profile + green equilibration set to 100.
I detected no differences in output.

Before

gel

[2017-08-21 23:25] #4012 closed, assigned to heckflosse

[2017-08-22 00:05] heckflosse commented on #3989
@Hombre57

I just built and tested `multiframe-handling`. I cleared the cache and all the pixelshift thumbs have a beautiful new PS indicator which is great :)

However, there are some issues:

1) when I try to open a PS PEF file I get this. PS DNG works fine
[code]

2) The info of PS DNG files shows this

![pswrong](https://user-images.githubusercontent.com/13733487/29543214-c6562348-86df-11e7-97

[2017-08-22 05:32] Desmis commented on #4034
@heckflosse

I just tested with a D700 NEF
Compiled an run fine.

before:
gel part one: ~10ms
gel part two: ~43ms

After
gel part one: ~8ms
gel part two: ~18ms

No differences in output TIF.

Good job :)

[2017-08-22 06:16] #4010 closed, assigned to Beep6581

[2017-08-22 06:59] adam-ah opened #4035 "Optimize minimal required window size to 1024x768"
It doesn't matter which order I open left and right panel, when opening right panel it will overlap the icons up to zoom level. The only way to get out of it is to use the shortcut (ALT+L / L), as the buttons are not visible any more.

Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23

(Windows 10, System Zoom 200%, 2560x1440)

![Sample screenshot](https://user-images.githu

[2017-08-22 07:32] Beep6581 commented on #3989
#3983 should be done for 5.2.1.

[2017-08-22 10:13] falket commented on #4035
I have this problem too when i use my projector (a 1024x768 capable), since i upgraded to gtk 3 version.

It would be nice to reduce the number of buttons in the lower side panel, to make the ready progress bar resizeable or littler, or to add 2 rows instead of one (maybe a hideable one with less used functions), with horizontal images won't cause problems.

Or to have a selectable 2nd set of smal

[2017-08-22 10:45] Hombre57 commented on #3989
I'll try to fix both tonight.

[2017-08-22 21:26] Hombre57 commented on #3983
@Beep6581 Fixed. I'll let you check for syntax correctness and close.

[2017-08-22 21:28] Hombre57 commented on #3989
@heckflosse Please comment on the Multi-frame handling in issue #4008. I'll answer there.

[2017-08-22 21:45] Hombre57 commented on #4008
As reported by @heckflosse in #3989, the branch doesn't work for PEF files. Believe it or not but I haven't tested them at all, I'm personally using DNG and I completely put PEF files out of my mind.

PEF files are structured differently, i.e. frame 2, 3 and 4 are embedded in frame 1 (yes, they did that), while DNG files are logically structured with 4 root IFDs.

It will take more time to fix tha

[2017-08-22 21:50] heckflosse opened #4037 "Use in place tranformations when using only luminance transformations"
Currently, when a transformation (Vignette and/or Graduated Filter in exposure tab and/or Vignetting Correction Filter in Transform tab) is enabled, rt uses additional memory size of `width*height*3*4 byte` to do this processing even if it doesn't have to. It has to make a copy of the buffer only if other transformations (like rotation, perspective, distortion... ) are enabled too.

I created a ne

[2017-08-22 22:23] heckflosse commented on #4008
@Hombre57

I can try to help you for this part.

[2017-08-22 23:17] heckflosse commented on #4034
@Desmis Jacques, thanks for testing :)

[2017-08-22 23:56] heckflosse commented on #4035
Did you try a smaller font size setting in preferences already? That should reduce the width for right and left panels and give you more space for the icons and the preview area.

[2017-08-22 23:58] adam-ah commented on #4035
@heckflosse I'm not looking for a workaround, I'm reporting an actual bug.

[2017-08-23 07:29] Beep6581 commented on #3983
Thank you @Hombre57

1. Does that refer to `rawtherapee.exe`, `rawtherapee-cli.exe` or both?
2. Would the `-R` parameter cause a console window to spawn, or is it only filenames and folders as parameters which do that?

[2017-08-23 07:32] Beep6581 commented on #3989
As this next release will have some new features (hooray!) I wouldn't mind calling it "5.3", as "5.2.1" would imply only bugfixes. What are your thoughts?

[2017-08-23 07:44] Beep6581 commented on #4035
It's not actually a bug. We decided on a minimum resolution for RT a long time ago and stuck with it. When one employs desktop or DPI scaling there is always the risk of running out of screen space even on a 4k monitor. GTK3 had no native support for wrapping of toolbar contents last I checked. #3054 would free up some space under the main preview. Though then if you were to set desktop scaling to

[2017-08-23 08:19] TooWaBoo commented on #4035
Replacing the progessbar with a spinner or a simple idle/working indicator would save a lot of space.

[2017-08-23 15:22] Desmis commented on #4037
@heckflosse
I test with a D700 NEF, with "queue" and only "graduated filter"

Before patch : 95 ms
After patch : 60 ms

No differences in output
:)

[2017-08-23 15:52] heckflosse commented on #4037
@Desmis Jacques, thanks for testing. The large difference in my test is caused by the fact, that 'before' patch uses 6 buffers (3 in for rgb and 3 out for rgb) which (on Windows) all are aligned to the same modulo 4096 offset. This collides with the only 4-way-L1-cache of my AMD FX8350 CPU. On Linux and/or with Intel cpu the difference is much smaller (as in your test).

[2017-08-23 19:09] Krzysiu opened #4038 "Can't paste things from 3rd party tools on Windows"
I've tried dynamic profiles and I noticed that pasting doesn't work well. Here are the steps to reproduce it:

1. Copy something from external application (I used Notepad++)
2. Paste it in e.g. Camera field in new dynamic profile (here it works)
3. Copy another text from external application
4. Thing copied from 1st point will be pasted
5. Paste clipboard content somewhere else in Windows - it wil

[2017-08-23 19:12] Krzysiu opened #4039 "Ignore not existing directories in recent list"
When I start RT in browser mode, in Recent Folders I see not-existing [anymore] directories. I think that better behavior would be to ignore them, i.e. check if directory exists when RT starts and if it doesn't, then don't display it. IMO hiding and rechecking on every run would be better than deleting it from the list, as photographers often use dynamic memory (like memory cards).

There's no sin

[2017-08-23 19:27] Hombre57 commented on #4008
@heckflosse Thanks for the offer ! I'll try by myself, but if too complex for me, I'll ring at your door.

[2017-08-23 19:34] Krzysiu opened #4040 "Dynamic profiles doesn't work in Windows"
I've tried profiles in different combinations (i.e. different photos, profiles, dynamic profile settings, browser mode, then open or directly open file etc; I restarted RT every attempt, deleted old photo PP3 profile, renamed photo to avoid cache), but it simply fails every time. Some of the things I've tried:

* In camera field (rest default, lens unchecked): `Canon EOS 50D`, `CANON EOS 50D`, `re

[2017-08-23 19:45] Krzysiu opened #4041 "Make creating dynamic profiles easier"
I thought of improvement of creating new dynamic profile. There could be new button (or button in Add [new dynamic profile] form) which could be called "From the photo" (or differently - I just give an idea). Then dialog would show up, allowing select which values we want to fill (like partial profile choice) - one could select camera, lens, ISO etc. After clicking on the "apply", it would just fi

[2017-08-23 19:50] agriggio commented on #4040
hi,
did you set the default profile to (dynamic) in the image processing tab of the preferences dialog?

[2017-08-23 19:54] Krzysiu commented on #4040
Can I change my username to `idiot`? Sorry for bothering you and thanks a lot. Now it works!

[2017-08-23 19:54] #4040 closed, assigned to nobody

[2017-08-23 20:12] Beep6581 commented on #4040
Confirmed that this is mentioned in RawPedia, so no changes needed.

[2017-08-23 21:08] Hombre57 commented on #3983
@Beep6581

1. Yes, this behavior is only set for `rawtherapee.exe`.
2. For `rawtherapee.exe`, a console window is spawn whenever :
    - a supplementary option is provided and :
       - options.rtSettings.verbose = true
       - or the file to open doesn't exist or is a directory, unless started in _remote_ mode (`-R`)

   For `rawtherapee-cli.exe`, a console is spawn whenever :
    - a supplemen

[2017-08-23 21:10] adam-ah commented on #4035
@Beep6581 I don't see how it's not a bug if on a totally default, stock notebook with default Windows 10 settings I can click a button to open the right panel but that very button disappears making it _impossible_ to close the panel?

@TooWaBoo I totally agree, there are heaps of options.

- Reduce the size of the obnoxious "Ready" panel which takes up 5 buttons' space
- Move some buttons to the t

[2017-08-23 21:24] agriggio commented on #3989
@Beep6581 calling it 5.3 is fine for me :+1:

[2017-08-23 21:25] agriggio commented on #4028
would this be a good time for the pipeline refactoring? notice it won't happen overnight...

[2017-08-23 21:26] Benitoite commented on #3989
You could even call it 5.3.0

[2017-08-24 07:50] Floessie commented on #4010
There's still the problem with `pad-first-paren-out`, as you can see in for example in [f70ba32c9d2767c9941d28b8fe20ccb7cc0aed67](https://github.com/Beep6581/RawTherapee/pull/4033/commits/f70ba32c9d2767c9941d28b8fe20ccb7cc0aed67#diff-8ebdbcfe31960475e589d93d17c99cd2R347):

* `void func(int arg)` --> `void func (int arg)`
* `void func()` --> `void func()`

And it's not only function calls or declar

[2017-08-24 08:50] heckflosse commented on #4010
@Floessie

I dont't like the prepending space

[2017-08-24 11:01] agriggio commented on #4010
I really dislike that too

[2017-08-24 12:30] Hombre57 commented on #4041
There is a copy/paste mechanism for the PP3 profile in the File Browser. I haven't investigated yet, but it might be possible to add a **Paste** button in the Dynamic Profile window, which would fill all the fields (at least if information is available) from the last **copied** image (or the first one in case of multi-selection). Then it would be up to the user to complete the rule at will and sav

[2017-08-24 19:08] Beep6581 commented on #4010
@Floessie did your edited [`rawtherapee.astylerc`](https://github.com/Beep6581/RawTherapee/blob/dev/rawtherapee.astylerc) fix that problem? If not, I can contact the author of astyle for help.

[2017-08-24 21:49] #733 closed

[2017-08-24 22:49] Beep6581 commented on #4035
Replacing the progress bar with a spinner, or even removing it entirely, would not help you. I edited the source code to remove the progress bar and resized the RT window to exactly match yours. This is exactly what you would see if it was removed: https://i.imgur.com/vfMiBIF.png Panels still overlap.
Changing the interface language (e.g. to Italian), using a different theme, changing desktop scal

[2017-08-25 02:47] Beep6581 commented on #4035
Branch [iops](https://github.com/Beep6581/RawTherapee/compare/iops) lets you split the bottom toolbar in the Editor tab via Preferences.
Now in standard more, the progress bar fills up the empty space:
![imgur-2017_08_25-03 35 20](https://user-images.githubusercontent.com/5844619/29696959-7d57850a-894c-11e7-8cb3-a36c97d8f3f7.png)

In low-res mode, the color management and progress bar are on their

[2017-08-25 03:24] adam-ah commented on #4035
I think the best solution would be if the bottom panel would be on top of the left and right panel all the time. Something like this?
![image](https://user-images.githubusercontent.com/3745745/29698428-b6e1f7b4-8998-11e7-98e3-f0946cbba2e6.png)

[2017-08-25 07:03] Floessie commented on #4010
@Beep6581 I guess, you mean [this one](https://github.com/Beep6581/RawTherapee/pull/4009/files/88d0512b4a6241416ed039ac9df26d6ef6947f1c#r132949360). I cannot tell, if it solves more problems than it creates, but yes, that solved this very problem in favor of @heckflosse's, @agriggio's, and my style. 😄

Quoting myself:

The "which is rare, IMHO" didn't mean it's rare in the RT sources. It meant, it

[2017-08-25 07:35] agriggio commented on #4010
to be fair, I've seen space in front of calls used before, but I don't
remember where. that doesn't mean that I like it though :-)

[2017-08-25 09:26] Beep6581 commented on #4010
So I suggest @agriggio @heckflosse @Hombre57 test your modification out and commit it if it's good.

[2017-08-25 09:29] Beep6581 commented on #4035
The limiting factor in both the `iops` branch and in your mockup is the top toolbar.

[2017-08-25 09:33] Beep6581 commented on #3983
Thank you for the clarification.

[2017-08-25 09:33] #3983 closed, assigned to nobody

[2017-08-25 09:37] Beep6581 commented on #4010
Reply from the astyle author (matches @agriggio 's version):

will remove the spaces.

[2017-08-25 12:32] Beep6581 opened #4042 "Update GIMP Plugin wiki page to match GIMP-2.9.6"
GIMP-2.9.6 is out and our GIMP Plugin page should be updated to match:
https://www.gimp.org/news/2017/08/24/gimp-2-9-6-released/

It should be as simple as possible, i.e. "I installed GIMP and RT, now what".

[2017-08-25 21:21] heckflosse commented on #3989
calling it 5.3 is fine for me too

[2017-08-26 05:11] Desmis commented on #3989
no problem for 5.3

[2017-08-26 08:48] johenning opened #4044 "Honor network address scheme in dynamic folder generation"
When editing files on a network volume, dynamic folder generation does not work. Instead of creating a converted folder under \\\192.168.1.2\\...\converted\ it creates a folder under C:\192.168.1.2\\...\converted\\.
![Screenshots for clarity](https://user-images.githubusercontent.com/3907965/29739962-d8b33c32-8a4b-11e7-9487-e1b655ac0e02.png)

System: Windows 10; i7-6600U; 16 GB RAM

Version: 5.2
B

[2017-08-26 11:37] heckflosse opened #4045 "Faster png save with still good compression"
Saving to 16 bit png is painfully slow, but often gives better compression than compressed tiff.

Example for blue_horse.nef

Saved to 16-bit tiff compressed: 3150 ms / 66974 KB
Saved to 16-bit png compression 6 : 5740 ms / 59099 KB

I made a patch with a hack for level 2 and 3

Saved to 16-bit png hacked level 2 : 1170 ms / 60048 KB
Saved to 16-bit png hacked level 2 : 1614 ms / 59092 KB

As I wr

[2017-08-26 15:03] #4017 closed, assigned to nobody

[2017-08-26 15:03] #4016 closed, assigned to nobody

[2017-08-26 15:08] Desmis commented on #4017
OK but for me there is always a problem :)

Recall, when I merge "big" or "huge" merge (locallab, wavelet), with about 50 or 100 events...I have huge problem with only "procparams".

**It is not a tool problem...**

**it's not due to different version of Astyle**

**it is not because thers is too much merges**

**Never I have had this problem before.**

And the only way to do. I merge the 2 files

[2017-08-26 15:47] #4032 closed, assigned to Beep6581

[2017-08-26 17:01] Beep6581 commented on #4017
@Desmis I closed the issue because I thought the purpose was to raise awareness and now there was nothing to do here - apologies if that is not the case. Is there anything that still needs to be done in this issue?

[2017-08-26 17:31] Desmis commented on #4017
I don't know what there to do..but I have had huge problem after changes to procparams....

But you can close :)

[2017-08-26 17:35] Beep6581 commented on #4027
To experiment:
[code]

@Hombre57 I experimented with 1 and 2 pixel wide borders, trying lighter and darker color combinations and transparencies, but they all looked bad. In the end a simple solid color with or without a 1px black border looked best across all themes. As two of the buttons require a border for some themes, they all have a border.

![imgur-2017_08_26-19 21 52](https://user-images.g

[2017-08-26 17:54] mzuther commented on #4027
I just compared the last picture you posted to the first one. This looks *much* better than before! If you ask me, go ahead... :)

[2017-08-26 19:20] Hombre57 commented on #4027
@Beep6581 Way much better, you're right ! However I'd keep the big version for the focus mask, and move it to the right of the separator. That way we would have the channels in a "section" and the alert buttons (focus, HL, Shadows) in another "section". That would be more logical to me. Then yes, you can commit.

[2017-08-27 13:16] Arth95 opened #4047 "RawTherapee is crashing when trying to open .dng taken on smartphone"
RawTherapee is crashing when I try to open .dng taken on smartphone. It doesn't even show EXIF data.
All informations below. It's worth mentioning, that tool from Android Play is able to open it. This tool is called Photomate R3.
RawTherapee info:
[code]
Photo:  [DNG](https://filebin.net/bw055bic5msklhqs/IMG_20170824_193836_503.dng) [PP3](https://filebin.net/r611od17pw835cp1/IMG_20170824_193836_50

[2017-08-27 15:18] heckflosse commented on #4047
Crash confirmed. I will try to fix the crash.

[2017-08-28 08:06] Eneen opened #4048 "Tie mouse scrollwheel scrolling speed to thumbnail height in File Browser"
Currently when I try to scroll in file browser RT moves thumbnails really slow. Even with really small thumbnails it takes several mouse wheel revolutions to move one thumbnail.
This should take displayed thumbnail size into account, so e.g. 1 wheel step moves 1 or more (adjustable) full thumbnail size regardless of thumbnail size.

RT version: 5.2
Platform: Windows

[2017-08-28 11:33] Eneen opened #4049 "DNG build-in lens correction support"
I was looking for this option inside RT but it doesn't seem to apply build in DNG lens profiles. Some cameras (like FC6310 in my case) write lens correction info into DNG directly. Here is very short info about this from adobe:
https://helpx.adobe.com/x-productkb/multi/lens-profile-support.html#Create%20your%20own%20lens%20profiles
I can share sample file if needed, but only privately.

[2017-08-28 15:44] #4047 closed, assigned to heckflosse

[2017-08-28 17:31] Beep6581 commented on #4049
@Eneen please upload a sample raw file using https://filebin.net/

[2017-08-28 19:33] cuniek commented on #4014
I decided not to start a new thread, as this one seems to cover a bug I have found (the hard way, after I sent photos to the client).

RT 5.2, win 7 64 bit

How to reproduce:

Open folder with some photos, and apply this pp3 profile
[test.zip](https://github.com/Beep6581/RawTherapee/files/1257949/test.zip)

Now IN THE FILE BROWSER click BATCH EDIT tab and select SINGLE image. Notice sharpening amo

[2017-08-28 21:48] Hombre57 commented on #4014
Thanks @cuniek , I managed to reproduce the bug. The PRSharpening tool need some fix, as well as the Sharpening tool and Resize tool (didn't checked all others).

[2017-08-28 22:42] Beep6581 commented on #4049
I examined the raw file from a DJI FC6310 drone and it contains no lens correction parameters that I could read. Several possibilities present themselves:
1. It does not contain any lens correction parameters. The correction in Adobe products might be based on the lens model and properties.
2. It does contain lens correction info in a proprietary format. Maybe Adobe DNG Converter can read it and u

[2017-08-28 22:42] #4049 closed, assigned to nobody

[2017-08-29 06:17] Hombre57 commented on #3989
Fine for me too for 5.3.

Could you add #4014 to the list for 5.3 ? It's a serious flaw in the GUI and I'm almost done with the fix.

[2017-08-29 08:29] Eneen commented on #4049
Thank you @Beep6581
I've googled a bit and here is response from Camera Raw Engineer Chris Castleberry:
https://feedback.photoshop.com/photoshop_family/topics/unable-to-disable-built-in-lens-profile-applied-for-raw-files?topic-reply-list%5Bsettings%5D%5Bfilter_by%5D=all
Scroll a little bit down to find original.

Fo this particular drone there is however additional correction profile made by some

[2017-08-29 09:44] Beep6581 commented on #4049
@Eneen the fastest solution is for you to get an LCP or make your own LCP:
http://rawpedia.rawtherapee.com/How_to_get_LCP_and_DCP_profiles

[2017-08-29 10:55] Eneen commented on #4049
Thank you. It's no problem here as I asked for already corrected tiff.

[2017-08-29 10:58] Eneen commented on #2838
DNGs from Phantom 4 Pro onboard:
https://filebin.net/oitvsr04ijyq9fx0

[2017-08-29 11:15] Beep6581 commented on #2857
Is there any hope of this branch coming to fruition?

[2017-08-29 11:24] Beep6581 commented on #4049
@Eneen one more thing - please consider uploading `DJI_0027.DNG` to https://raw.pixls.us/ so that we and other open-source programs can benefit. I chose 0027 specifically because in addition to the lens distortion it also shows magenta highlights.

[2017-08-29 21:58] Hombre57 commented on #2857
If you want a "yes" or "no", I'd say "maybe". I can have a look this w.e. (if I can find time) to update to the current dev (as a new branch). However I'll take time to finish the other issues I'm working on actually before finishing this one. Is this feature really necessary?

[2017-08-30 06:44] Beep6581 commented on #2857
I've been using RT for a decade without it so it's not really necessary, but the idea sounds good, so I was just curious if it will still see the light of day. However if it complicates things too much then the cons may outweigh the pros.

[2017-08-30 07:50] neilpho commented on #2857
You can get used to a wooden leg, but life is better with a real one. I for one find the current behaviour unacceptable. This and cropping is why I don't feel comfortable recommending RT to people.
It would be wonderful if you could fix it.

[2017-08-30 12:57] heckflosse opened #4050 "Speedup for loading of Phase One files"
I created a [new branch](https://github.com/Beep6581/RawTherapee/tree/ph1speedup) with a speedup for loading of Phase One files.
I placed two stopwatches in code, one for `phase_one_load_raw_c()` and one for `phase_one_correct()`.
I tested with a Phase One IQ3 100MP file, which I unfortunately can not share.
I measured on my AMD FX8350 8 core:

[code]

There are no differences in output. There's a

[2017-08-30 13:23] Beep6581 commented on #4050
There are 3 files from 2 models here:
https://raw.pixls.us/

And a bunch of raws from the Phase One XF here:
http://www.imaging-resource.com/PRODS/phase-one-xf-100mp/phase-one-xf-100mpA7.HTM

[2017-08-30 14:00] mightymax commented on #4050
Let me know if you are still interested in more IIQ files, I can provide them without any restrictions. The speed increasement is great news! How did you test the differences in the two images? Pixel by pixel?

[2017-08-30 14:07] Beep6581 commented on #4050
ImageMagick has a very useful `compare 1.tif 2.tif diff.tif` function for testing for differences between images.

[2017-08-30 14:33] heckflosse commented on #4050
@mightymax I'm still interested in more IIQ files, especially some with highlights clipped or near clipping. Currently I have files from IQ3, P45+ and P65+
To test for differences I built the absolute difference between before and after and amplified the difference image using an extreme brightness curve. The result was completely black. But I also use the method @Beep6581 mentioned.

@Beep6581 `c

[2017-08-30 14:46] heckflosse commented on #4050
I pushed a fix for the bug with clipped highlights. With this fix the processing time of `phase_one_correct()` went up to 495 ms

[2017-08-30 17:48] heckflosse commented on #4050
I just pushed 2 commits. First one gives some additional speed for P45+ and P65+.
Second one gives a bit of the speedup back, I lost with my bugfix mentioned above.

[code]

[2017-08-30 22:37] Hombre57 commented on #4014
@cuniek @romandocent @Beep6581 Branch `resize-add-set` should solve everything.

[2017-08-30 22:59] romandocent commented on #4014
@Hombre57 how use it? Need I reinstall RT from this branch now? Or is it possible to add features from other branches to single installation? (sorry for noob's questions)

[2017-08-31 10:35] cuniek commented on #4014
@Hombre57 thanks for the patch, it makes things  better, still not perfect:

- I confirm that PRSharpening amount is now not changed after turning resize off and on when multiple images are selected. The same with USM amount and vibrance
- unfortunately vignette is still resetted
-When all images have the same profile applied, USM amount (as well as vibrance...) have wrong value displayed (0 inste

[2017-08-31 22:19] Hombre57 commented on #4014
@romandocent If you can build RT yourself, you just have to build this new branch and copy the rawtherapee.exe file (if you're on Windows) to your install directory, for testing purpose.

@cuniek If a parameter is set to ADD mode in Preferences AND if you select multiple images, then the slider switch to 0 because it works in incremental/decremental (see above). The USM amount and Vibrance works f

[2017-09-01 09:17] cuniek commented on #4014
Use vignette tool from exposure tab on several images, select them all in file browser, and turn resize on and off using batch edit tab -> vignette is set to 0 (strength, feather and roundness).

[2017-09-01 13:27] Beep6581 commented on #4027
@Hombre57 could you review and comment whether its ok to merge?

[2017-09-01 23:48] Hombre57 commented on #4027
@Beep6581 Once you've fixed the capitalization in language strings identifier, I'm fine with committing. It looks really nicer and consistent now 👍

[2017-09-02 00:06] Hombre57 commented on #4014
@cuniek It works fine here. Could you upload your options files please ?

[2017-09-02 13:20] cuniek commented on #4014
here is a screengrab showing the phenomenon. Just change the extension from .pdf to .mp4
[screengrab.pdf](https://github.com/Beep6581/RawTherapee/files/1272187/screengrab.pdf)

PP3 file is available few posts higher.

Here is the options file (just remove the .pdf extension)[options.pdf](https://github.com/Beep6581/RawTherapee/files/1272175/options.pdf)

[2017-09-02 16:23] Hombre57 commented on #4014
Thanks @cuniek , fixed in bfe24ab1950037369b4d71dabc19c5451c457cd3

Can we close ?

[EDIT]
Dh'o ! The commit message is wrong, should have been "ParamsEdited::combine fixed". Anyway, that's not important.

[2017-09-02 19:53] Beep6581 commented on #4027
Branch `bgcolor-h` and @TooWaBoo 's theme fix branch merged.

The new features will be available in RawTherapee 5.3, out soon.

[2017-09-02 19:53] #4027 closed, assigned to Beep6581

[2017-09-02 20:33] cuniek commented on #4014
I compiled last version and it seems it works fine. I don't have time for in depth testing, still I believe #4014 can be closed.

Good job.

[2017-09-02 20:38] #4014 closed, assigned to Hombre57

[2017-09-03 08:21] mzuther commented on #4027
Thanks, it works great! :)

[2017-09-03 15:17] Beep6581 opened #4053 "New crop ratio: 64:27"
Crop ratio 64:27 requested:
https://discuss.pixls.us/t/addition-of-new-fixed-crop-ratios/5016?u=morgan_hardwood

AKA not-really-21:9.

[2017-09-03 15:19] Beep6581 commented on #4053
PR #4054 opened.

[2017-09-03 16:26] Beep6581 opened #4055 "Update rtexif using ExifTool-10.61"
Update rtexif using ExifTool-10.61.

[2017-09-03 16:26] Beep6581 commented on #3989
Anything anyone wants to squeeze in for 5.3?

@iliasg are we fine on the camconst side?

As for myself, I will update rtexif using ExifTool-10.61 this week (#4055), then I'm happy to release.

[2017-09-03 17:02] heckflosse commented on #3989
afaik @Hombre57 is still working at #4008 `multiframe-handling`

[2017-09-04 06:56] Floessie commented on #4053
@Beep6581 I've streamlined the code a bit:

[code]

Best,
Flössie

[2017-09-04 08:34] Beep6581 commented on #4053
What do you think about rearranging the list by landscape ratio?

[2017-09-04 08:49] Floessie commented on #4053
As long as 3:2 stays on top... 😉

[2017-09-04 09:02] kuromimi opened #4056 "It takes 4 minutes to start RT (due to regex call?)"
Hello,
 when I ran RawTherapee_5.2 on my Win7 environment, RT didnot start immediately, it took 4 min to start. Here is summary.
Environment:
- Windows7 Pro SP1-64bit i7-930@2.8GHz 11GB memory
- RawTherapee_5.2_WinVista_64.exe downloaded from http://rawtherapee.com/downloads

Symptom:
After running Rawtherapee.exe, no screen comes up and RT starts allocating and freeing 1-2GB of memory repeatedly.

[2017-09-04 09:44] agriggio commented on #3989
I have a last-minute request. I'd do it myself, but I'm just not skilled enough to :cry:
I'd like to have a dedicated button for "fast export" in the bottom toolbar of the editor window, next to the "normal" export one. Of course, adding a button is trivial, but the tricky part for me is designing the icon... I was thinking of a "fast moving" version of the two gears we use for the export action,

[2017-09-04 09:56] Beep6581 commented on #3558
`5.2-95-g`ae9afd31

[2017-09-04 09:58] Beep6581 commented on #3989
No problem with the icon, I can take care of that, but we've seen new users mistake the "fast export" feature for being the actual export method, and adding a fast-export button under the preview would only reinforce this - how would we handle that? And adding a new button there would further increase RawTherapee's required minimum width, which on my no-scaling 10pt-font screen currently is 1627px

[2017-09-04 10:18] agriggio commented on #3989
Ok if you think this is a usability problem -- I can live with the current behaviour.

For the record, I use the new fast-export (i.e. the one that works by resizing early in the pipeline rather than disabling expensive steps) quite a lot when I have to process many "non-critical" shots on my old laptop (whatever that means -- none of my shots is actually critical :wink: -- but think e.g. some fam

[2017-09-04 11:38] sguyader commented on #3989
I'm with @agriggio. Since there's this new fast export, I use it a lot to instantly batch process images to web size. It's faster, and I appreciate the fact that the export size is not written to the pp3.
I would appreciate a dedicated button, because it is faster than using the right click context menu, and also because I often click on the regular export by mistake in this context menu.

[2017-09-04 16:13] mattiaverga opened #4057 "operator delete(): rawtherapee killed by signal 6"
A user on Fedora has just experienced a crash.
He's not posted any detail about it, but there's a full backtrace available at https://bugzilla.redhat.com/show_bug.cgi?id=1487963

Let me know if these type of reports are useful to you. There are occasionally some of these crashes reported to Fedora bugzilla, I don't know if it's ok for you if I report them here.

[2017-09-04 17:17] Beep6581 opened #4058 "When I start the queue, no visible change happens"
I add a few photos to the queue. When I click on the "Start processing" button, nothing visible happens. The progress bar said "0%" before, it still says "0%" when I click start. On a slow laptop, a minute could pass before the first photo is done and the % changes. I think it would be appropriate if something changed when the queue is turned on, e.g. making the progress bar say "Processing..." un

[2017-09-04 18:45] Beep6581 commented on #4058
The queue tab's icon does change, but I missed that, because my focus is "here" and the tab is "there".

I think it would be good if the "0%" progress bar changed immediately, and if the "start" button became inactive when start is pressed.

[2017-09-04 18:50] Beep6581 commented on #4058
Furthermore, the progress indicator does nothing while the queue is processing. I'm on photo 29/49 and it still stays at 0%.

![imgur-2017_09_04-20 42 46](https://user-images.githubusercontent.com/5844619/30036326-90d775e0-91b2-11e7-9fb9-f6cd35f8db93.png)

![imgur-2017_09_04-20 46 26](https://user-images.githubusercontent.com/5844619/30036327-90d87828-91b2-11e7-9e19-68c98903fdb8.png)

[2017-09-04 18:56] Beep6581 commented on #3989
I've nothing against this and I will help with the icon if you want to go forward with it, but then we really need to either commit #4035 or have someone more skilled implement something better than my manual checkbox (i.e. automatically re-flow the contents of the iops panel if the requested width cannot be allocated - and the same goes for the editor panel at the top).

[2017-09-04 19:04] heckflosse commented on #4058
Queue can run in background. Using the progress bar in queue currently would collide with using the progress bar for showing the decode process when you open an image while the queue is running

[2017-09-04 19:05] heckflosse commented on #4058
The correct solution imho would be to add a progress bar to the queue tab which is updated once per image.

[2017-09-04 19:18] heckflosse commented on #4058
@Beep6581

Why do we have two buttons at all. It would be sufficient to have one button which's icon changes from start to stop and vice versa.

[2017-09-04 19:43] Beep6581 commented on #4058
I would gladly repurpose that progress bar to show queue progress, and leave demosaicing and decoding to the Editor progbar.

Good point.

[2017-09-04 19:53] Hombre57 commented on #3989
@agriggio @Beep6581 For the fast export, the fast solution would be to use a modifier key (e.g. CTRL) to do a fast export instead of an export. That won't be visible to the user (excepted in the tooltip), but would be perfectly usable w/o requiring more space.

@Beep6581 I'm 98% done with my patch of multi-frame image support. However you can edit rtexif, or edit the one of the multi-image branch

[2017-09-04 19:59] Beep6581 commented on #3989
I like the modifier-key idea.

@Hombre57 I will wait for the merge before updating rtexif.

[2017-09-04 20:03] heckflosse commented on #4058
when using METM the editor progbar is not visible at decoding

[2017-09-04 20:13] Beep6581 commented on #4058
One solution would be for the progress bar to show one thing when the Queue tab is in focus and another thing when the Editor is in focus. That would also take care of showing the File Browser's progress when the File Browser tab is in focus and a large folder is being opened.

Currently the Editor tab is only shown after decoding completes. If that's not a big problem to change, seems more intuit

[2017-09-04 20:21] agriggio commented on #3989
well, the modifier has been there since 5.1 :-) ctrl+shift+b does fast export. I still think this deserves its own button, but as I said it's no big deal

[2017-09-05 06:48] Floessie commented on #4056
Hi @kuromimi,

Your bug report is a delight to read. Very well done! 👍

I can only agree with you: `std::regex` is part of the STL and may use another library under the hood. Strange enough, you're the first to report that issue. I'm pretty confident, it relates to your locale setting and the fact, that you're on Windows, which might not use UTF-8. Character ranges and character classes are locale

[2017-09-05 08:03] Floessie commented on #4056
@kuromimi Here's the patch:

[code]

HTH,
Flössie

[2017-09-05 11:03] kuromimi commented on #4056
Flössie,
Thank you for the comment and the patch! I tried the patch, **NOW RT WORKED** without delay!!
I agree that the cause can be the difference of locale on Windows (mine is Japanese version). Hope this topic helps others.
Just FYI, I tried a simple program using std::regex (on MSYS2), it worked without any error message or hang.
[code]

I am new to this project. Should I close the topic? (by

[2017-09-05 11:22] Floessie commented on #4056
@kuromimi

Well, that's indeed interesting. Maybe @heckflosse has a clue, which precondition we're missing. It could be the way the locale is globally set in RT and/or GTK3...

Please keep it open. We'll close it when there's a consensus on how to proceed.

@Beep6581 From my POV the patch is beneficial, as the `std::regex` was a bit like cracking a nut with a sledgehammer, but I could sleep better

[2017-09-05 11:47] Floessie commented on #4056
@kuromimi

Could you add a `setlocale(LC_ALL, "");` as the first line to your `main()` (you'll also need to include `<locale.h>`) and test again?

[2017-09-05 12:01] kuromimi commented on #4056
Flössie,
OK I will keep opening the bug, thanks.
Tried your change. The sample got hung. Here is gdb log:
[code]

[2017-09-05 12:09] Floessie commented on #4056
@kuromimi Okay, so you're able to reproduce the problem with a minimal example. 👍 Next up: File an issue over at [msys2](https://github.com/msys2/msys2/issues), as it needs to be solved there. Please keep us informed about the status (simply paste a link to the msys2 issue here and ping us, when they've found something), so that we'll know if there's something we should do differently in RT.

Best

[2017-09-05 12:49] kuromimi commented on #4056
@Flössie
OK, filed an issue as https://github.com/msys2/msys2/issues/80
Will post the status.

Thanks,
kuromimi

[2017-09-05 13:12] Beep6581 commented on #4056
I wish all bug reports were like this... Good work @kuromimi and @Floessie  :)

[2017-09-05 22:52] heckflosse opened #4059 "Simplify and speedup the initial phase of processing raw files"
Currently we have a lot of buffer copies in the initial phase of processing raw files.
This issue is about simplifying this phase in order to get some speedups and also to get an easier interface to use other raw decoders (e.g. rawspeed) in future.

I will post a first patch soon.

Ingo

[2017-09-06 02:00] paulinster opened #4060 "Toolbar menus icon overlap each other"
Hi Look like the toolbar in filebrowser as well as in editor is doesn' scale very well within macosx retina display. The icon overlap the path field editor. This make the toolbar almost useless

<img width="1069" alt="screen shot 2017-09-05 at 9 52 08 pm" src="https://user-images.githubusercontent.com/10835813/30091020-1f6d9726-9285-11e7-88fd-877ed1499442.png">
<img width="1599" alt="screen shot 2

[2017-09-06 05:17] mattiaverga opened #4061 "CVE-2017-13735 libraw: Floating point exception in kodak_radc_load_raw function in internal/dcraw_common.cpp"
I think this is relevant to Rawtherapee, since it bundles an own copy of dcraw.
There is a floating point exception in dcraw_common.cpp of libRAW. It will lead
to remote denial of service attack.

Upstream bug:
https://github.com/LibRaw/LibRaw/issues/96

References:
https://bugzilla.redhat.com/show_bug.cgi?id=1483988
https://bugzilla.redhat.com/show_bug.cgi?id=1488476

[2017-09-06 06:10] Beep6581 commented on #3750
#4035

[2017-09-06 06:10] #3750 closed, assigned to nobody

[2017-09-06 06:10] Beep6581 commented on #4060
Duplicate #4035

[2017-09-06 06:10] #4060 closed, assigned to nobody

[2017-09-06 06:10] Floessie commented on #4061
@heckflosse Ingo, I saw we don't throw exceptions in `dcraw.cc` and I was also unable to trigger the bug with `poc1`, as it's not identified as a RAW. Here's a "solution", please review.

[code]

Flössie

[2017-09-06 06:25] agriggio commented on #3826
Just a heads-up: I've started working on this. I hope to have some usable prototype in a reasonable time... (nothing more specific yet :wink: )

[2017-09-06 07:54] Beep6581 commented on #3826
If you need buttons... http://farm6.static.flickr.com/5184/5636963707_f6a8d85b28.jpg

[2017-09-06 11:31] StefanGyuzelev opened #4062 "Vignetting correction from LCP profile"
With current version 26.06.2017 Highlight looks good. With same settings versions 5.2 and current 06.09.2017 Highlight in some images looks very bad. As  Аgriggio Alberto assumed  the problem is in Vignetting correction from LCP profile.

https://drive.google.com/file/d/0Bwd1yqYI35ModW1pc1A1MzM5aDg/view?usp=sharing
https://drive.google.com/file/d/0Bwd1yqYI35MoMlp0X3hYVDZERFE/view?usp=sharing
https

[2017-09-06 13:16] dgrasberger opened #4063 "White balance setting not applied on initial load"
Summary:
When generating thumbnails from RAW (Sony) files RT hasn't seen before, it doesn't apply the settings from default profile, but the RT default "camera" white balance instead.

version info:
Branch: default
Version: 4.2.0
Changeset: c81d9026d25c
Compiler: x86_64-linux-gnu-gcc 5.2.1
Processor: undefined
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: Release
Build flags: -g -O2

[2017-09-06 13:23] agriggio commented on #4062
Please test this patch if you can.

[code]

[2017-09-06 13:29] agriggio commented on #4062
Also pushed as branch `lcp-vignetting-issue4062`

[2017-09-06 14:09] StefanGyuzelev commented on #4062
Hello!
The version  downloaded today and yours patch for lcp.cc and lcp.h works well!
The problem is eliminated incredibly fast!

[2017-09-06 14:20] Floessie commented on #4062
@agriggio Alberto, before you merge: May I do some little cleanups on your branch? Just scopes for the `case`s and `enum class` for `LCPCorrectionMode`...

[2017-09-06 14:20] heckflosse commented on #4063
That's not a bug. When opening a folder with `new` images, RT shows the embedded jpg file as thumbnail without any processing.

[2017-09-06 14:29] agriggio commented on #4062
@Floessie be my guest! :smile:
BTW, I'm still not 100% sure this is the right way to go. I would still like to take a look at the related issue mentioned by @heckflosse on pixls. It might just be that this patch (which sort of restores the old behaviour of LCP vignetting correction) is simply hiding the real problem. I say this because what the patch does essentially is discarding some entries fro

[2017-09-06 14:51] Beep6581 commented on #4063
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

Confirmed that this works correctly in dev.

http://rawpedia.rawtherapee.com/The_File_Browser_Tab

[2017-09-06 14:51] #4063 closed, assigned to nobody

[2017-09-06 15:16] heckflosse commented on #4062
@agriggio
Alberto, as vignetting correction by flatfield file, vignetting correction by lcp also multiplies a value to each pixel value. If that multiplicator can not be > 1.0, we do not need auto clip control. If the multiplicator can be > 1.0 (which should be the case, as the corrected example is brighter than the uncorrected example) it can happen that we get clipped values in formerly unclippe

[2017-09-06 16:00] heckflosse commented on #4061
@Floessie Looks good. Another solution would be
[code]

[2017-09-06 16:46] Beep6581 commented on #4062
@agriggio I remember Oliver Duis, who originally implemented LCP support in RT, writing that LCP files (including Adobe's ones) contain erroneous control points and that one of the things the spec didn't define (well?) was how to filter them out. It also lacked information on interpolation between frames.

--edit
e.g.
https://github.com/Beep6581/RawTherapee/issues/1359#issuecomment-129963291
https

[2017-09-06 18:44] agriggio commented on #4062
thanks, I'll have a look. I confirm the spec is definitely vague on many points. it doesn't even say how exactly to match the correction parameters. what is apparent is that the old code was too aggressive in discarding parameters for distortion, and the new one was too conservative in keeping those for vignetting :-)
the above patch tries to get to a middle ground, but (as in the previous case, w

[2017-09-06 22:35] eduperez opened #4064 "Fedora repo is no longer available"
The Fedora repo linked in the "downloads" page (http://download.opensuse.org/repositories/home:rawtherapee/Fedora_26/home:rawtherapee.repo) no longer exists (in fact, all the "home:rawtherapee" folder has vanished).

[2017-09-06 22:56] agriggio commented on #3826
just pushed branch `lensfun`. Basic integration done. Only distortion correction "kind-of works", but there is no GUI yet. If you are interested in testing, and want to know what I mean by "kind-of works" here, ask me :stuck_out_tongue_winking_eye:

[2017-09-07 08:07] Beep6581 commented on #4064
Thanks for reporting. It's a problem on OBS side:
https://twitter.com/openSUSE/status/905530011540746250

[2017-09-07 08:07] #4064 closed, assigned to nobody

[2017-09-07 10:52] Beep6581 opened #4065 "Chromaticity and luminance in main histogram not affected by"
When "Use gamma-corrected output profile" is used, the chromaticity and luminance histograms are not affected by changing the output profile nor the output gamma.

Saving a raw file using various output profiles to respective JPEGs and examining those JPEGs shows that the chromaticity and luminance do change, so this must be a bug.

Maybe @Desmis can confirm?

[2017-09-07 10:54] Beep6581 opened #4066 "Move working/output profile histogram choice from preferences to alongside the histogram"
Even though there is a Color Management tab in Preferences, the choice of which profile the main histogram should reflect - working or output - is in the General tab in Preferences. This issue is a request to move it out of Preferences alongside the other buttons next to the main histogram.

[2017-09-07 11:01] Beep6581 opened #4067 ""Use working/output profile for main histogram and navigator" affects more than that"
The "Use working/output profile for main histogram and navigator" choice affects more than that, for example it also affects the clipped shadow/highlights indicators. What else does it affect?

[2017-09-07 11:18] Beep6581 commented on #3664
@Hombre57 can we close?

[2017-09-07 11:43] heckflosse commented on #3674
Reopened because [floatdngomp](https://github.com/Beep6581/RawTherapee/tree/floatdngomp) branch fixes this issue finally.

I tested using [eizo_vs_laptop.hdr.dng](http://rawtherapee.com/shared/test_images/eizo_vs_laptop.hdr.dng). File was loaded from SSD

before: 195 ms
after: 75 ms

[2017-09-07 12:17] Beep6581 commented on #3674
I'm using zlib-1.2.11. I recompiled HDRMerge and compiled floatdngomp, confirmed that both use `libz.so.1.2.11`, saved a new DNG and processed it successfully in RT.

[2017-09-07 12:45] #3674 closed, assigned to heckflosse

[2017-09-07 14:05] Beep6581 commented on #4053
Committed. Will open a new issue for sorting the ratios when time comes around.

[2017-09-07 14:05] #4053 closed, assigned to Beep6581

[2017-09-07 14:17] eduperez opened #4069 "Allow assigning rank and label without automatically applying default profile"
When I add a color label in the file browser to an unedited file, RT automatically applies the default profile to the image, and the thumbnail is updated accordingly.

I like to use the color labels before I start processing my images, and having a profile applied so soon goes against my workflow. I have seen I can clear the processing profile and the label is not deleted, thus this does not look

[2017-09-07 15:13] #4044 closed, assigned to nobody

[2017-09-07 15:16] Hombre57 commented on #4057
@mattiaverga Yes this is usefull. I'm busy actually so won't have time to look before next week, unless someone else assigns itself.

[2017-09-07 17:09] Beep6581 commented on #4067
Testing the clipping indicators more, I can only see a correlation between the level of grayness shown by the indicator and the actual clipped R G B values shown in the Navigator when "Use working/output profile for main histogram and navigator" is enabled. The level of grayness does not correlate to the values when that option is not ticked!

[2017-09-07 19:12] Hombre57 commented on #3664
Yes.

[2017-09-07 19:12] #3664 closed, assigned to Hombre57

[2017-09-07 19:42] Hombre57 commented on #4014
I forgot to merge the `resize-add-set` branch into dev. Done just now.

[2017-09-07 19:51] Hombre57 commented on #4067
@Beep6581 See `tools/color_management.svg`

[2017-09-07 20:30] romandocent commented on #4014
Don't forget to merge it into release ))

[2017-09-07 20:55] heckflosse commented on #4014
`dev` is the base for next `release`. No need to worry ;-)

[2017-09-08 06:32] Desmis commented on #4065
I don't know if it is a bug...

But when you change "output gamma", it has no effect on histogram.

This is due to the "output gamma" position in the process.

Two years ago, I launched a branch that partially took into account this subject. I definitely suppressed it because it did not interest anyone.

jacques

[2017-09-09 15:45] #4061 closed, assigned to nobody

[2017-09-09 18:25] Floessie commented on #4062
@agriggio Alberto, I took a bit more time to clean `lcp.*` up. Please test, if I messed up something. 😄

[2017-09-09 18:34] Floessie commented on #4056
@kuromimi I've pushed the patch. I hope the msys people will solve your problem. You couldn't have helped them better. 👍

[2017-09-10 01:45] kuromimi commented on #4056
Flössie,
Thank you, seems it takes time to solve the regex issue on msys2; not using regex in RT should be a practical way so far (I will keep tracking the msys2 bug).
I checked the Twitter's tweets, a couple of RT users in Japan are encountering this not-starting-RT symptom since May 2017, after RT5.1 release. That is great misfortune they cannot use this really-really useful software. I hope we

[2017-09-10 08:49] Floessie commented on #4056
@kuromimi

The point in time is strange, as the regex was applied only after the 5.1 release (in June, see #3905). As to the release plans, see #3989. Shouldn't be too far away...

Best,
Flössie

[2017-09-10 10:19] kuromimi commented on #4056
Hmm, it is strange. However, it is true exactly the same symptom occurred to the official RT5.1, too (I just verified). Some other users in Japan also reported the same symptom on 5.1.
I can find "[() -]" regex pattern in 5.1's rawtherapee.exe binary. There might be some misconception.
![regex](https://user-images.githubusercontent.com/31605860/30248080-5ea80856-965c-11e7-97bc-fd73fdd023b0.png)

[2017-09-10 16:07] Floessie commented on #4056
@kuromimi Yep, you're right. I only looked at the first occurrence, but the one in `xtransprocess.cc` you are referring to is [six month](https://github.com/Beep6581/RawTherapee/blame/1f0688acd7c9288d69fa8fb6922a5b22663a86ed/rtgui/xtransprocess.cc#L34) old. Puzzle solved. 😉

[2017-09-10 22:33] #4034 closed, assigned to heckflosse

[2017-09-11 12:07] agriggio commented on #4062
@Floessie thanks for the cleanup! The changeset is a hard to review because there are a lot of "spurious" changes to indentation/formatting (I presume this is astyle, right?). But I trust you that everything is fine :-) I'll merge with the `lensfun` branch and test.

[2017-09-11 12:20] RawConvert commented on #3887
@Desmis , @gaaned92 , @Beep6581 ,  I built RT 5.2-113-gd1fe99f8 yesterday, branch remotes/origin/dev, but the brightness jumping is still happening.  Perhaps the fix has not reached Dev yet?  What's the position please?

[2017-09-11 12:49] Floessie commented on #4062
@agriggio Alberto, sorry for the spurious changes, maybe I overdid it a bit. No, it wasn't astyled yet.

Better don't. I was in a kind of hurry after I saw that not even the definition order followed the declaration order, so a lot had to be shuffled (I changed some whitespace while comparing the header to the implementation). I only checked that RT still started and could load RAWs... :)

One fun

[2017-09-11 13:10] iliasg commented on #4056
I had the same slow start problem (more than 5mins and during this, the PC looked frozen) with my PC (win10-64 - Greek language) which is now solved with the https://github.com/Beep6581/RawTherapee/commit/099e6e9f678c46b3fd047a3b833f25e12b156445 . The problem started at some point after RawTherapee **dev 5.0-r1-gtk3-111-g06137b02** (last version that I tested to work normally.. )
(**edit: correcte

[2017-09-11 14:41] Beep6581 commented on #3887
@RawConvert the branch was merged into dev 3 months ago.

https://filebin.net/vdx0rgylh2en45ev

Please upload the raw + PP3 again.

[2017-09-11 15:21] agriggio commented on #4062
@Floessie from my (quick) tests everything seems to work -- thanks!
I'll merge this into `lensfun` and commit there

[2017-09-11 16:36] RawConvert commented on #3887
here we are: https://filebin.net/aixbk635yem3tcbw
To reproduce - select Brightness and Colorfulness, scene luminosity to about 2000 to make jump very obvious, custom tone curve for Brightness, cursor on line, CTRL+click to place point, then CTRL drag very slowly south, brightness will jump up appreciably.  Probably only one unit of mouse movement necessary to do this.  Remove point and repeat proc

[2017-09-11 16:38] RawConvert opened #4071 "Rawpedia update for compiling under Ubuntu 17.04"
The section for compiling RT under Ubuntu in Rawpedia would benefit from mention of Ubuntu 17.04. I followed the 16.10 instructions and this seems to have worked ok (under 17.04).

[2017-09-11 16:39] RawConvert opened #4072 "Some RT adjustments don't follow the responsiveness params in Options file"
Hardly a showstopper but FWIW - Many adjustments adhere to the AdjusterMinDelay and AdjusterMaxDelay values but some don't, including CieCAM, RGB (custom) Curves, the HSV Equaliser in the Colour toolbox.

[2017-09-11 16:54] RawConvert commented on #3054
Please can this issue and RT be reviewed again with a view to implementing the following -
1. RT should be able to produce output files in common spaces such as RT_sRGB **in Perceptual Rendering**.  At present it does not do this.
2. RT should have a means to show out-of-gamut areas in an image as a result of converting from the working space to the output space.  It currently supports this for pr

[2017-09-11 17:44] agriggio commented on #3054
:+1: to this. I'm not qualified enough to take the task, but if nobody else has time / is interested I might just bite the bullet and try at least...

[2017-09-11 17:45] agriggio commented on #3054
edit: I mean especially item 2. the others are not a big deal to me

[2017-09-11 17:51] Beep6581 commented on #3054
:+1: from me too, especially for item 2. Don't really care about item 1 because perceptual mapping is blind while non-blind mapping is what RT is for - the user decides how to get colors into gamut.

[2017-09-11 18:17] Beep6581 commented on #3887
Confirmed. Simpler steps to reproduce:
1. Open @RawConvert 's raw,
2. Apply his PP3 https://i.imgur.com/vUtltPr.jpg
3. Place a point on tone curve 1 in "Brightness" mode. If you use Ctrl to place it perfectly on the curve, the preview brightness does not jump https://i.imgur.com/jwvsVVe.jpg
4. But move it the tiniest amount - jump. https://i.imgur.com/5mUYJlG.jpg

[2017-09-11 20:37] midluk opened #4073 "Preview not updating properly when going back in history with LCP vignetting correction"
When I disable or enable the "Vignetting correction" check box in the "Lens Correction Profile" settings the preview properly reflects the change.
When I go back in history, the check box status changes back as expected, but the preview is not reverted.
I have not found any other settings that also have the same problem (LCP "Distortion correction" works properly).

This is with 5.2-113-gd1fe99f8

[2017-09-12 02:24] RuralHunter commented on #4056
Thanks for the bug report! I have the same problem on Win10 Chinese version and I had no clue!

[2017-09-12 06:36] gaaned92 commented on #4056
@RuralHunter
 while waiting for stable 5.3, you can find `RawTherapee_dev_5.2-113-gd1fe99f8_WinVista_64.zip` at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-09-12 07:29] Beep6581 commented on #4073
Cannot reproduce in `5.2-132-g`ea5f8c3b in `lensfun`
Could you try that branch and report back?

[2017-09-12 07:32] RuralHunter commented on #4056
This build works for me. Thanks a lot!

[2017-09-12 11:16] Hombre57 commented on #4072
@RawConvert What do you mean by "adhere to" ? Some slider that are know to take time to process have an hardcoded delay. The options' parameter is for standard sliders.

[2017-09-12 11:20] Hombre57 commented on #4072
@RawConvert @Beep6581 I don't know how those option's parameter has been designed, but we might change the behavior (if not already the current design) to :

- Use `AdjustMinDelay` for _fast refresh_ parameters
- Use `AdjustMaxDelay` for _slow refresh_ parameters

... then remove all hardcoded values.

[2017-09-12 14:22] heckflosse commented on #4072
@Hombre57

That is the current design

[2017-09-12 16:20] RawConvert commented on #4072
Aha,  I assumed RT was following what's in Rawpedia -
"AdjusterMinDelay
    Default value = 100ms.
    This is the minimum time to wait before the preview is refreshed.
AdjusterMaxDelay
    Default value = 200ms.
    This is the maximum time to wait before the preview is refreshed. If you keep changing a parameter, RawTherapee will not wait longer than this short time period before triggering a pr

[2017-09-12 16:38] RawConvert commented on #3054
Here's a suggestion for item 2 involving changing the Working Profile section in the Color tab.
At present this simply allows the w.p. to be changed.
Suggestion is to change to this -
**Working Profile**
Current profile    [prophoto]    _not changeable by user_
New profile    [dropdown selection as now]
Rendering intent    [dropdown like in output profile]
[ ]  Show differences    _a checkbox_

I

[2017-09-12 17:10] heckflosse commented on #4072
@RawConvert

currently the following adjusters use the `AdjusterMaxDelay`:

[code]

[2017-09-12 20:34] RawConvert commented on #4072
Thanks for the info.
Since my previous post, I've realized the Rawpedia version is in fact much better than the current functioning in one important way.  If you continually move something, say white balance, then in a WYSIWYG world you'd expect the software to respond, following you.  With RT as it stands, it will never respond as long as you keep the mouse moving.  Why does no one seem to mind?

[2017-09-12 20:38] heckflosse commented on #4072
It does when you set the AdjusterMinDelay to a small value

Edit: Except for the tools I mentioned above which use AdjusterMaxDelay

[2017-09-12 20:52] RawConvert commented on #4072
Ok, yes, I was trying 50 and it didn't respond, but now I try 5, it does keep up pretty well.  But it's not nicely controllable like having both parameters!
This testing has explained something that has been bugging me for a while.  Sometimes the mouse does not latch the slider, you move the mouse but the slider stays put.  I now see what's happening. When you click Temperature (white bal) initial

[2017-09-12 22:21] Beep6581 commented on #4072
@RawConvert the thick line is a GTK+ feature and it means that the slider is in fine-adjustment mode, in which is decreases the movement's sensitivity. The slider only goes into fine-adjustment mode if you either click-and-hold the slider without moving it for 1 second, or if you press the shift key while moving the slider with the mouse (press shift once to enable it, press shift again to disable

[2017-09-12 22:24] Beep6581 commented on #3054
@RawConvert there are many ways to get a color back into gamut. Using perceptual intent means you don't have any control over that. Using L\*a\*b\* Adjustments puts the control in the user's hand.

[2017-09-13 07:01] Desmis commented on #3887
I just push a new branch "ciecamtest2"

I found an old mistake in calculation of histogram needs by curve brigtness ciecam.
I suppress precedent modification . if (la < 200.f) la = 200.f

Now "float version" works as "double version".

But, in all cases it cannot be perfect, it is almost impossible :)

If you don't change "La" and "Yb", in most cases all calculations needs for Q (brightness) are g

[2017-09-13 09:12] RawConvert commented on #4072
Thanks, I simply hadn't realized it had gone to fine mode, I was by then looking at the image wondering why nothing (in reality a very little I guess) was happening...

[2017-09-13 09:20] RawConvert commented on #3887
Thanks for fixing Jacques.  (I don't understand the detail e.g. if la<200f etc. but no worries, I don't need to understand this!).

When should I look out for this coming through?  That is, it's gone into ciecamtest2, does it go into Dev following some testing?

[2017-09-13 09:31] RawConvert commented on #3054
@Beep6581 , how would you do this in Lab then, i.e. is there a quick easy way to adjust the image apart from reducing Chromaticity?
I'm no expert but isn't Perceptual rendering an "industry standard" approach?
Anyways, you liked item 2, so how would you envisage implementing it?

[2017-09-13 11:28] Beep6581 commented on #3054
Apart from adjusting the chromaticity you can also adjust the luminance and hue using the CH, HH, LG, CC or CL curves, depending on how you want to affect the color. If a flame-red is out of gamut it may be fine to change the hue to make the flame more orange/yellow, but if a skin tone or a patch of color on an archived painting photo lies out of gamut you don't want to change the hue but rather t

[2017-09-13 11:52] Desmis commented on #3887
Hello
I found another bug in calculation for brightness curve in Ciecam

Now, I think the curve(s) work fine :)
I just push this change 2e9c742

@RawConvert
It will go in Dev when somebody (s) will test the branch ciecamtest2 :)

Jacques

[2017-09-13 11:57] heckflosse commented on #3887
@Desmis Jacques, I'm already compiling ciecamtest2

Ingo

[2017-09-13 13:30] heckflosse commented on #3887
@Desmis Jacques, fix confirmed

[2017-09-13 13:36] agriggio commented on #3826
implemented by merging #4070

[2017-09-13 13:36] #3826 closed, assigned to agriggio, heckflosse

[2017-09-13 14:12] #4056 closed, assigned to nobody

[2017-09-13 14:17] Beep6581 commented on #4035
I'm considering splitting the top toolbar the same way the bottom one is split. The optimal solution would be for that to be dynamic (widget size request matched against available space) but that's not something I could do yet. Any objections?

[2017-09-13 14:28] Beep6581 opened #4074 "Update RawPedia with lensfun info"
1. Add a section which explains what it is and how to use it. Any recommendations for what to write?
2. Update the compilation pages:
    - [x] Linux
    - [x] macOS
    - [x] Windows

[2017-09-13 14:42] agriggio commented on #4074
Leave it on "auto-matching" and be happy with that. If your camera/lens combo
is supported but not autodetected, use manual matching (and consider using a
dynamic profile rule to turn this into a "custom auto-matching").

This is unless you have a high-quality LCP profile that you are happy with. In
that case, no need to switch.

[2017-09-13 14:46] agriggio commented on #4074
For Ubuntu and derivatives (and Debian, I suppose):

[code]

[2017-09-13 14:54] Beep6581 commented on #3558
`5.2-113-g`d1fe99f8

[2017-09-13 15:03] gaaned92 commented on #4074
For windows 64 when using the lensfun MSYS2 version:
1- In" Install tools and libraries"/ "required libraries" add:
`pacman -S mingw-w64-x86_64-lensfun`

2- to the dll list, add:
[code]

3- to "The following files also need to be copied", add:
`<prefix>\share\lensfun\version_1\*  -> .\share\lensfun`

[2017-09-13 15:04] heckflosse commented on #4074
I updated the instructions to build on Arch

[2017-09-13 15:10] heckflosse commented on #4074
@gaaned92 I updated the windows build instructions. Could be please check?

[2017-09-13 15:15] agriggio commented on #4074
I'm going to update the Linux page, but I'll leave out a couple of distros as I'm not sure about them. I'll let you know when done

[2017-09-13 15:20] agriggio commented on #4074
updated general table of dependencies and instructions for Fedora and Ubuntu. For other distros I need help :-)

[2017-09-13 15:26] Beep6581 commented on #3558
`5.2-157-g`f6303099

[2017-09-13 15:29] gaaned92 commented on #4074
@heckflosse I think it's ok. thanks

[2017-09-13 16:35] Beep6581 commented on #3826
@agriggio I updated coverity: https://scan.coverity.com/projects/rawtherapee

[2017-09-13 17:27] Floessie commented on #4074
On Debian 9.1 I used basically the same:

[code]

[2017-09-13 17:37] Desmis commented on #3887
@heckflosse
Ingo
Thank you for testing :)

I have push the same modification for ciecam "double"

If no other remark, I'll merge "ciecamtes2" in "dev" tomorrow :)

[2017-09-13 18:02] Benitoite commented on #4074
On macintosh, dev compiles and bundles liblensfun (currently 3.2)  fine with this command: `sudo port install lensfun`

I am now getting this error at launch, however.
[code]

[2017-09-13 18:12] TooWaBoo opened #4076 "Can't download the repository anymore"
When I try to download the repository 'get this error message:

[code]

[2017-09-13 18:20] heckflosse commented on #4076
@TooWaBoo I get the same error.
Most likely because I just did `pacman -Syu` in msys2 console

On my linux system it still works fine

[2017-09-13 18:22] Beep6581 commented on #4076
This is a system issue. Stack Overflow has some suggestions upvoted as working:
https://www.google.com/search?q=git+"error+setting+certificate+verify+locations"

[2017-09-13 18:24] midluk commented on #4073
The lensfun branch seems to be merged now, but I can still reproduce the problem.

[2017-09-13 18:29] heckflosse commented on #4076
@TooWaBoo
`git config --system http.sslcainfo "C:\Program Files (x86)\git\bin\curl-ca-bundle.crt"`

fixed it

[2017-09-13 18:45] TooWaBoo commented on #4076
git config --global http.sslcainfo "C:\msys64/mingw64/ssl/certs/ca-bundle.crt"
This worked for me

[2017-09-13 18:49] hakkyou opened #4077 "Half-resolution demosaicing"
It would be great to have half-res demosaicing a-la RPP.
In this type of demosaicing each 2x2px square containing similar bayer pattern (RGGB/RGWB, you name it) produces one pixel of demosaiced image. Crispy images, fast demosaicing, less res.

[2017-09-13 18:50] Floessie commented on #4074
@Benitoite Could you please test this patch?

[code]

[2017-09-13 18:57] heckflosse commented on #4077
You mean Quarter-resolution I guess

[2017-09-13 19:03] midluk opened #4078 "Histogram in tone curve 1 changes dramatically when modifying crop"
When the crop of an image is changed (modification of crop region or enabling/disabling crop), the histogram in Tone curve 1 sometimes changes completely.

It seems as if the tone curve (if enabled) from a dcp input profile is not used for the tc1 histogram after a crop change.
If the image has been rotated (without auto fill), the black borders (peak in the histogram at zero) seems to affect hist

[2017-09-13 19:05] heckflosse commented on #4077
Pixel binning currently is not on our todo list.

[2017-09-13 19:14] Benitoite commented on #4074
Patch worked!  @Floessie

[2017-09-13 19:20] agriggio commented on #4074
@Benitoite great! But, @Floessie, why does it work? Or better, why was the previous code wrong?

[2017-09-13 19:27] heckflosse commented on #4074
I also wondered about @Floessie 's miracles

[2017-09-13 19:33] midluk commented on #1926
Also noticed this an I find it quite annoying.
I have an image with a really bright yellow that is marked as clipped shadow because the blue channel is near zero. I can't think of a good use case for this information. In my opinion the clipped shadow indication should always be based on the luminance and the maximum (instead of the minimum) of the individual channels.

[2017-09-13 19:58] hakkyou commented on #4077
Looks like it's very easy to implement.
Is there any trouble to make resulting image smaller than pre-demosaiced?
If not, I can rewrite nodemosaic a bit and make a pull request.

[2017-09-13 20:11] heckflosse commented on #4077
pull requests are always welcome :+1:

[2017-09-13 20:15] agriggio commented on #4074
BTW, @Floessie will you commit this yourself?

[2017-09-13 20:29] midluk commented on #1926
I have now implemented this for me locally, if you would accept such a change, I can publish the patch.

[2017-09-13 20:42] midluk commented on #4041
I had the same idea some time ago, but could not find a way to get the info of the current image.

But while I was looking at the code I added a "clone" button which works like the "New" button but fills everything with the values of the currently selected rule instead of the default values. If you are interested in that change I can clean it up (make the button text translatable) and post the pat

[2017-09-13 20:44] heckflosse commented on #1926
@midluk We really appreciate getting patches/pull requests. But we will decide whether to accept them after reviews, not before ;-)

[2017-09-13 20:49] agriggio commented on #4041
@midluk go for it! :+1: ;-)

[2017-09-13 21:19] #4076 closed, assigned to nobody

[2017-09-13 22:01] falket commented on #4074
Great!!!! Thank you!

I have compiled it for Linux, installing lensfun from source before checking out rawtherapee (if you need instruction i can provide them).

Works really well, but i'm unable to select ca aberration correction, seems like the button isn't selectable.

[2017-09-13 22:30] agriggio commented on #4074
@falket CA correction is not supported at the moment -- and it's not on my TODO list at the moment. RT has "auto CA correction" for raws, which works really well in my experience.

[2017-09-14 05:58] Floessie commented on #4074
@agriggio @heckflosse

I don't think it's wrong in the first place. But there's this line
[code]
which is telling me, there's a `char` to `wchar_t` conversion on the path (for whatever reason), and this usually means conversion through a locale, and this might fail, because of the special way, the [lensfun strings](http://lensfun.sourceforge.net/manual/group__Auxiliary.html#ga46c9b84f7edf9fd1d31fa

[2017-09-14 06:09] agriggio commented on #4074
@Floessie excellent analysis, thanks a lot! :+1:

[2017-09-14 06:13] Desmis commented on #3887
merge in dev :)

[2017-09-14 06:17] agriggio commented on #3826
thanks! I had a (very) quick look but didn't notice anything strange

[2017-09-14 07:15] falket commented on #4074
@agriggio Thank you for the explanation, i didn't know. Yes CA autocorrection works fine, but unfortunatly isn't working with xtrans sensors.

[2017-09-14 11:57] waxhead opened #4080 "RT Crashes on start up - Linux - Random"
The back trace from the console start up when RT crashed.  No gdb output available as second restart often doesn't crash.

[code]

[2017-09-14 12:31] Beep6581 commented on #1926
The way RT currently works, enabling the clipped shadows indicator shows you areas where any channel is clipped when in "preview all channels" mode, i.e. standard preview. If you additionally enabled previewing of say the green channel, then you will see only areas where the green channel is clipped. If you only want to see areas where all channels are clipped, you enable preview of the luminosity

[2017-09-14 12:56] Beep6581 commented on #4073
Confirmed in `5.2-168-g`be2b1ed0

1. Open raw image (`amsterdam.pef`), apply (Neutral)
2. Enable "Lens / Geometry > Profiled Lens Correction > LCP File"
3. Select an LCP file, I used https://filebin.net/j0klla3knby478td/PENTAX__smc_PENTAX-DA_18-55mm_F3.5-5.6_AL__-_RAW.lcp
4. Disable "Vignetting correction", the preview goes a bit darker.
5. Go back in history. The checkbox gets checked but the pre

[2017-09-14 13:13] midluk commented on #1926
I had some more thoughts about the situation and it came to my mind that seeing ANY channel clipping might be useful when adjusting the black slider in exposure tool. Does the black slider work on individual channels or on luminance (no hard clipping should occur then)?

[2017-09-14 13:39] heckflosse commented on #4073
Confirmed

[2017-09-14 13:51] gaaned92 commented on #4074
@heckflosse
For windows 64 build  in rawpedia, please
1) modify cmake command:
$ cmake -G "MSYS Makefiles" -DLENSFUNDBDIR=share/lensfun -DCMAKE_BUILD_TYPE="release" -DPROC_TARGET_NUMBER="2" -DCACHE_NAME_SUFFIX="5-dev" ..
2)add explanation:
-DLENSFUNDBDIR=share/lensfun permits to locate lensfun data base  in .\share\lensfun

[2017-09-14 15:02] heckflosse commented on #4074
@gaaned92 done

[2017-09-14 15:13] #4073 closed, assigned to heckflosse

[2017-09-14 16:55] Beep6581 commented on #4073
Fix confirmed.

[2017-09-14 17:02] Beep6581 commented on #4080
Tested LCP fix in dev using amsterdam.pef, applied neutral to amsterdam.pef, closed RT.
5 minutes later started RT again and it crashed on startup. At least we know there were no funny raw or PP3 files in the startup folder.
https://paste.pound-python.org/show/kpaPceVJ50pJlmyxvHnA/

[2017-09-14 17:36] Floessie commented on #4080
Pasting the relevant backtrace here, in case the other URL expires:
[code]

Obviously a real race between main UI thread and the job processor.

@waxhead Peter, any idea of when you first experienced those crashes?

[2017-09-14 19:41] gaaned92 opened #4081 "Searching for up to date version of Lensfun"
@seebk
System : windows 64
It seems that the version of Lensfun available on MSYS2 is rather old. It uses database version 1 xmp files.
Thus I cloned  Lensfun from sourceforge:
`git clone http://git.code.sf.net/p/lensfun/code lensfun`
and built  without problem the master branch. It comes with a data base version 2 more recent than the MSYS2 one.

MSYS2 Lensfun doesn't work with version 2 DB.

I h

[2017-09-14 20:00] heckflosse opened #4082 "Fix some inconsistencies in Profiled Lens Correction gui"
There are at least two inconsistencies in the gui:

1) when I select a lensfun profile AND a lcp profile to test them, the lcp profile is removed when I close the editor while `Auto match...` is enabled. But it's not removed when `LCP File` is enabled when closing the editor.

2) the lcp profile can be removed using the `x`-button behind the lcp file name while the lensfun profile can not be remov

[2017-09-14 20:32] Beep6581 commented on #4081
Well the lensfun GitHub description is "This is NOT the official Lensfun repository but ONLY for the calibration team work!", sounds like it's turbulent and their official repo is stable, but best if you either ask one of the members directly on their GitHub page or at least @ tag them here:
https://github.com/lensfun/lensfun/graphs/contributors

[2017-09-14 20:34] heckflosse commented on #4081
@gaaned92

I don't know how to distinguish them in AboutThisBuild.txt. but for `rawtherapee -v` we could use something like this:

[code]

[2017-09-14 20:37] heckflosse commented on #4081
@Beep6581

@gaaned92 wrote he cloned from sourceforge, not from github. Using master branch may be risky though.

Edit, sorry, missed 3- of his post

[2017-09-14 20:41] agriggio commented on #4082
@heckflosse I agree with your proposal. I implemented the engine part
before the GUI, and I did not refactor it as I should have...

[2017-09-14 20:51] heckflosse commented on #4082
@agriggio I will create a new branch for this and try to solve the issue at the weekend (maybe already tomorrow). Then we will have enough time to review it before 5.3 is released.

[2017-09-14 23:26] heckflosse commented on #4071
Done

[2017-09-14 23:26] #4071 closed, assigned to Beep6581

[2017-09-15 08:04] Floessie commented on #4080
@Hombre57 Looking at `FileCatalog::_refreshProgressBar()` we should consider ditching `GThreadLock` and replace it with `IdleRegister` where applicable (should be everywhere) once and for all. There's a mere 40 places using `GThreadLock`. 😁

@agriggio You introduced a new pair of `gdk_threads_(enter|leave)()` [relatively recently](https://github.com/Beep6581/RawTherapee/blame/dev/rtgui/main.cc#L66

[2017-09-15 08:42] agriggio commented on #4080
@Floessie I think they are needed until we get rid of all calls to GTK done outside the main thread. I don't know how hard that would be though -- I haven't done any analysis

[2017-09-15 10:26] Eneen commented on #2838
Small thing to add: you may notice, that file from DJI is not perfectly straight. There is LCP profile (https://phantompilots.com/threads/adobe-lens-profile-for-p4p-posted.98518/page-2#post-1165977) that additionally corrects distortion AND vignetting. I think, that opcodes (when available) should not disable LCP correction.

[2017-09-15 10:32] Eneen opened #4083 "Allow middle-click+drag to pan"
It's almost standard feature in painting/dtp/cad software that middle click+drag pans screen. I seems middle click do nothing in RT so maybe it's possible to allow it to pan, it will not interfere with current setup.

[2017-09-15 10:48] seebk commented on #4081
@gaaned92

The latest release is 0.3.2 and is the recommended version to use. It is tagged with v0.3.2 in the Sourceforge master branch (all releases have an associated tag).

The Github repository is used to organize Torsten Brongers calibration service which is the reason why there is a lot of activity in the database files. These changes are regularly merged back into the Sourceforge master.

Y

[2017-09-15 11:52] #3005 closed

[2017-09-15 11:54] #2904 closed

[2017-09-15 11:55] Beep6581 commented on #2605
Duplicate of #2857

[2017-09-15 11:55] #2605 closed

[2017-09-15 12:04] Beep6581 commented on #3487
Still valid. The first time an image is opened, launching the file browser for the custom input profile opens the folder set in Preferences, but following the steps above, it then opens the last of the bookmarked folders in the first of three sections, which is strange because in my case this bookmark has nothing to do with RT (it's work stuff).
![imgur-2017_09_15-14 01 49](https://user-images.git

[2017-09-15 12:07] Beep6581 commented on #2494
Still valid. Edit image, Ctrl+s, save image with PP3, then set exposure to -5 before saving finishes. The saved PP3 has
[code]

[2017-09-15 13:26] Beep6581 commented on #3887
Fix confirmed, but there is one more.

1. Open any photo and apply this PP3: https://filebin.net/x3pkm9nivny2u0rt
2. There is a knob in the first CIECAM02 lightness curve. Move that knob the tiniest amount and the preview jumps.

[2017-09-15 16:06] mattiaverga opened #4084 "CVE-2017-14348 rawtherapee: libraw: Heap-based 1 byte buffer over-write in processCanonCameraInfo function in internal/dcraw_common.cpp"
Another rawtherapee security issue related to libraw/dcraw has been reported on Fedora Bugzilla:
https://bugzilla.redhat.com/show_bug.cgi?id=1492124
https://bugzilla.redhat.com/show_bug.cgi?id=1492121

[2017-09-15 18:05] Hombre57 commented on #4080
@Floessie I agree but the number of occurrence just discouraged me to start solving this. I rather spent few hours trying to mimic the old behavior with a helper class, without success. So 'we' will have to cleanup the code at some point.

[2017-09-15 18:25] Floessie commented on #4080
@Hombre57

That's what I meant. 😉 I'll eventually start a new branch to tackle those places that I understand, and maybe you can help me with the others. It will definitely take some time, though.

[2017-09-15 18:28] heckflosse commented on #4082
[New branch](https://github.com/Beep6581/RawTherapee/tree/lenscorrectiongui) created.

It seems to work well here. I added pp3 backwards compatibility for `5.2` but not for `5.2 + lensfun`. Means, you have to clear the processing profiles for files you opened with `5.2 + lensfun`.

As my coding style is not the best, I would appreciate reviews from @agriggio and @Floessie ;-)

Please test. Let me

[2017-09-15 18:42] heckflosse commented on #4084
@Floessie Shall I take that or will you?

[2017-09-15 18:55] heckflosse commented on #2494
I will take the issue

[2017-09-15 18:56] agriggio commented on #4082
:+1:, I'll have a look over the weekend

[2017-09-15 20:12] heckflosse commented on #2494
@Beep6581 I didn't test, because my machine is too fast to change values in editor while saving an image. The fix should work, please test. If it doesn't work, we can undo the fix

Ingo

[2017-09-15 21:59] da-phil opened #4085 "Compiler error @ dev branch"
I just pulled the latest commits from dev branch and encountered the following compiler error:
[code]

Version:
[code]

[2017-09-15 22:23] heckflosse commented on #4085
@da-phil Which version of lensfun do you use? Stable or development?

[2017-09-15 22:34] heckflosse commented on #4085
maybe @agriggio also needs to chime in...

[2017-09-15 22:36] heckflosse commented on #4085
@da-phil Please post full rt verrsion information instead of crippled

[2017-09-16 06:21] agriggio commented on #4085
I'll take a look asap

[2017-09-16 08:05] Benitoite commented on #4077
@hakkyou I use `dcraw -h -T -4` for all my super pixel needs, having something like that in RT would be nice.

[2017-09-16 08:46] Floessie commented on #4084
@heckflosse I can take it only tomorrow earliest. It's a completely busy weekend...

[2017-09-16 08:50] agriggio opened #4086 "clang warnings about `std::move`"
I must admit I haven't really studied how move semantics works in c++11 yet, and as such I don't fully understand it. That's why I don't use it :slightly_smiling_face:
But today clang gave me a couple of warnings about `std::move`. I don't know how serious they are, so I thought they are worth reporting.

[code]

and

[code]

@Floessie?

[2017-09-16 09:37] Beep6581 commented on #4077
Usability-wise, this feature would be a competitor to RT's Fast Export. The advantage of Fast Export in Dedicated mode is that it can downscale the demosaiced image in the first step to any size the user wants, so that further processing is much faster. This feature doesn't give the user the option of downscaling to any size, it's only half-size or nothing. I believe pixel binning is also more pro

[2017-09-16 09:45] Beep6581 commented on #2494
@heckflosse unfortunately it's not fixed yet.

If you need to test, just enable all of the heaviest tools - retinex, noise reduction, etc. Then Ctrl+s and tick to save pp3 with image, and change some parameter as soon as you hit ok.

[2017-09-16 09:56] agriggio commented on #4082
I've added a couple of comments via github. I haven't tested, but it looks good to me! :+1: for merging

[2017-09-16 10:38] #2494 closed

[2017-09-16 10:49] heckflosse commented on #4085
@agriggio I get this when building on windows. My lensfun definitely has LoadDirectory() function.

[code]

Edit: Same on my Manjaro using lensfun 0.3.2.0

[2017-09-16 10:51] heckflosse commented on #4084
@Floessie Ok, I will take it

[2017-09-16 12:18] Floessie commented on #4086
@agriggio Alberto, I'll check that tomorrow or on Monday. Thanks for the pointer!

[2017-09-16 13:36] olhof opened #4087 "RT dynamic profile is not used when opening a photo with a cleared profile"
Default Processing Profile (Dynamic) is not used when opening a raw photo with a profile cleared by the file browsers processing file operation (clear).  The dynamic profile is apparently only applied when the pp3-file does not exist.

PC-info:
Windows 10

RT info:
Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
B

[2017-09-16 14:11] agriggio commented on #4085
damn. it should still work however

[2017-09-16 14:12] agriggio commented on #4085
I'll see what goes wrong with the test

[2017-09-16 14:13] agriggio commented on #4087
that's the expected behaviour

[2017-09-16 14:32] heckflosse commented on #4087
@olhof

Works fine here
1) I deleted the pp3 in windows explorer
2) opened the raw in rt => dynamic profile applied
3) closed the raw
4) in file browser I cleared the processing profile of the raw
5) opened the raw => dynamic profile applied

[code]

[2017-09-16 14:39] agriggio commented on #4087
if you have rated the picture, "clear" doesn't delete the pp3. that might be the reason. but again, this is expected behaviour. if you want to reapply, just use "reset to default"

[2017-09-16 16:10] olhof commented on #4087
Hi' Guys
I misunderstood the meaning of the big green checkmark on the thumbnail. I thought it meant that no profile was present.

If you clear the profile the green checkmark will disappear but a profile does still exist, so when you open the photo in the editor the dynamic profile will not be used. Which profile is then used? It is not the dynamic profile! Can anyone explain this to me?

If you

[2017-09-16 16:10] #4087 closed, assigned to nobody

[2017-09-16 17:22] heckflosse commented on #4082
I made the changes suggested by @agriggio and merged.

[2017-09-16 17:38] #4082 closed, assigned to heckflosse

[2017-09-16 18:11] heckflosse commented on #4084
I pushed a fix for [this one](https://github.com/LibRaw/LibRaw/commit/d13e8f6d1e987b7491182040a188c16a395f1d21)

The one mentioned in topic seems to be libraw code not present in rt dcraw.cc

[2017-09-16 18:11] #4084 closed, assigned to heckflosse

[2017-09-16 19:28] heckflosse commented on #4085
@agriggio

according to [this](https://cmake.org/cmake/help/v3.0/module/CheckCXXSourceCompiles.html) the test also checks if linkage works. Maybe that's the reason the test goes wrong

[2017-09-16 22:40] agriggio commented on #4085
I've just pushed a fix for it. Works here, tested both with 0.3.2 (success) and 0.2.8 (failure, as expected). @heckflosse if you can test on windows and confirm it works, then we can close

[2017-09-16 22:43] agriggio commented on #4085
Yes, that's basically the reason. But with the complication that CMake doesn't play 100% nicely with pkg-config, so the fix was more complicated than I thought.

In fact, this is almost always the issue with CMake -- everything is way more complicated than it should...  :angry:

[2017-09-16 22:47] heckflosse commented on #4085
I will test now

[2017-09-16 22:52] heckflosse commented on #4085
Tested on windows:

[code]

:+1:

[2017-09-16 23:39] waxhead commented on #4080
@Floessie not really sure I can identify a time I noticed this.  I guess the only reason I mentioned it on the forum is because I noticed the new lensfun integration and was just making sure it wasn't related.

[2017-09-17 00:38] hyyz17200 commented on #4056
@gaaned92 Dev build works!

[2017-09-17 01:53] Hombre57 commented on #4008
Something went wrong with the merge of `dev` into `multiframe-handling`. PEF's PS files that was correctly recognized before the merge now doesn't work (works fine for DNG's PS files). I'll try to solve that before the end of Sunday.

[2017-09-17 09:07] #4086 closed, assigned to nobody

[2017-09-17 09:22] Floessie commented on #4086
@agriggio Which clang version did you use? I don't get those warnings with clang-3.9, but others about a missing `override`. Anyway, I fixed both. Thanks.

[2017-09-17 12:12] heckflosse commented on #4085
Tested on Manjaro

[code]

CMakeError.log
[code]

[2017-09-17 12:36] TooWaBoo opened #4088 "Lensfun: Reading pp3 with applied LCP doesn't set the LCP radio button"
@agriggio
Reading pp3 with applied LCP doesn't set the LCP radio button.
The same happens with profiles.
How to reproduce:

1. Apply a lcp file to an image
2. Quit RT
3. Launch RT and open the image
Result -> Lens distortion is set to none.

[code]

[2017-09-17 13:05] heckflosse commented on #4088
Confirmed. I will fix that.

[2017-09-17 13:53] #4088 closed, assigned to heckflosse

[2017-09-17 16:44] Beep6581 commented on #2494
Fix confirmed.
Fixed in 14378f39.

[2017-09-17 16:45] Beep6581 commented on #4085
`dev` compiles fine here in Sabayon: GCC-4.9.3, lensfun-0.3.2.

[2017-09-17 16:50] StefanGyuzelev opened #4089 "Errors with exiv2-0.26"
When reading Exif data with libexiv2.so.26.0.0 , the following errors occur:
Error: Offset of directory PentaxDng, entry 0x0200 is out of bounds: Offset = 0x000087b0; truncating the entry
Error: Offset of directory PentaxDng, entry 0x0201 is out of bounds: Offset = 0x000087b8; truncating the entry
Error: Offset of directory PentaxDng, entry 0x0205 is out of bounds: Offset = 0x0000ad36; truncating

[2017-09-17 20:13] jliw opened #4090 "No Preview for Wavelets and Lack of Changes in German Versions 5.0 to 5.2, Windows 8.1"
Hello,
please, have in mind what is written in the headline. After trying out the three versions I now send you screenshots of version 5.2 with same input as Morgan Hardwood did with a working version in https://discuss.pixls.us/t/enhancing-local-vs-global-contrast-rt-wavelets/5073/18 - 19/23.

Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: gcc 6.3.0
Processor:

[2017-09-17 20:17] jliw commented on #4090
![grafik](https://user-images.githubusercontent.com/32042448/30524539-ea99bc58-9bf5-11e7-8e1a-7c25b6dba10c.png)

[2017-09-17 20:25] heckflosse commented on #4090
@jliw Please provide screen shots which don't hurt our eyes...

[2017-09-17 20:26] jliw commented on #4090
With better jpgs now:
Hello,
please, have in mind what is written in the headline. After trying out the three versions I now send you screenshots of version 5.2 with same input as Morgan Hardwood did with a working version in https://discuss.pixls.us/t/enhancing-local-vs-global-contrast-rt-wavelets/5073/18 - 19/23.

Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler

[2017-09-17 20:31] heckflosse commented on #4090
![rtlang](https://user-images.githubusercontent.com/13733487/30524638-e7692198-9bf7-11e7-83f8-4cc45bee2d20.png)

[2017-09-17 20:32] Beep6581 commented on #4090
@jliw

* Your screenshots are not readable. Use full-color PNG or JPG, don't use GIF.
* > At first, it is not possible to change the language of RT – it stays German; even downloading via USA did not help – I always reach your Website mentioned above

    What does "downloading via USA" mean?
    If you mean you want to change RT to English, then you do so via Preferences and restart RT for the ch

[2017-09-17 20:33] Beep6581 commented on #4090
The better screenshots show that the Wavelets tool is not enabled.
http://rawpedia.rawtherapee.com/Getting_Started
http://rawpedia.rawtherapee.com/General_Comments_About_Some_Toolbox_Widgets

Closing, invalid report.

[2017-09-17 20:33] #4090 closed, assigned to nobody

[2017-09-17 20:38] Beep6581 commented on #4090
P.S. The screenshots show a problem in your RawTherapee theme. To fix it, go to Preferences and change the theme to anything else, then restart RT.

[2017-09-17 20:46] jliw commented on #4090
@Beep6581: Thank  you for the link and for your advice concerning the theme (hope I will find out what this is).
@heckflosse : Could not change the language because in none of the three versions a drop-down menue appeared.

[2017-09-17 20:49] heckflosse commented on #4090
@jliw

please post a screenshot

[2017-09-17 20:53] jliw commented on #4090
@heckflosse:
![grafik](https://user-images.githubusercontent.com/32042448/30524814-002faa64-9bfb-11e7-9c25-57be1ad126d1.png)

No menue dropping down next to "Deutsch".

[2017-09-17 20:57] heckflosse commented on #4090
@jliw Deaktiviere `Systemsprache verwenden`

[2017-09-17 21:02] jliw commented on #4090
@heckflosse: Dankeschön, prima Hinweis! Gute Nacht! (Ich zumindest gehe jetzt zu Bett.)

[2017-09-17 23:08] Hombre57 commented on #4037
@heckflosse Nice and clean ! :)  👍 to commit

[2017-09-17 23:50] #4037 closed, assigned to heckflosse

[2017-09-18 05:54] agriggio commented on #4086
@Floessie I don't remember, I'll check tonight when I get back at home

[2017-09-18 06:37] agriggio commented on #4085
@heckflosse did I mention how crazy CMake is? :smile: (I'm really amazed that it has become mainstream despite all its quirks...). Can you try this patch?

[code]

[2017-09-18 06:59] agriggio commented on #4085
Or this one, which does the same but tries to be clearer on what is happening...

[code]

[2017-09-18 07:37] groberts619 opened #4091 "5.2 crash on launch in macOS 10.11.6"
**Version Info**
Version: 5.2
Branch: 5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: clang-mp-3 3.9.1
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V3.16.0
Build type: release
Build flags: -arch x86_64 -O3 -mmacosx-version-min=10.9 -std=c++11 -mtune=generic -Werror=unused-label -mmacosx-version-min=10.9 -flto -fopenmp=libomp -Werror=unknown-pragmas -Wall -Wno-unused-result

[2017-09-18 07:58] Floessie opened #4092 "glibmm 2.54 requires C++14"
After upgrading glibmm from 2.50.1 to 2.54.0 on Debian testing today, RT won't compile anymore:

[code]

[`std::index_sequence_for<>`](http://en.cppreference.com/w/cpp/utility/integer_sequence) is part of C++14 (a minor update to C++11), and compiling with C++14 enabled succeeds:

[code]

This might mean to lift the minimal GCC version to [5](https://gcc.gnu.org/projects/cxx-status.html#cxx14).

I

[2017-09-18 07:59] Beep6581 commented on #4091
@groberts619 does this build work?
https://filebin.net/aooly0lpomxne8s4/RawTherapee_OSX_10.9_64_5.2-183-g3078d501.zip

If not, please run it from a terminal, and paste here all the output if it quits unexpectedly.

Ping @Benitoite

[2017-09-18 09:12] Hombre57 commented on #4008
@Beep6581 @heckflosse @Floessie

The branch should be usable now. I only need to test with various file to see if the EditorPanel's Info display contains at least something (no "No exif" message) for all kind of files - and wouldn't mind some help on that front.

I still have to find out how to handle Exif & IPTC modification. Logically, the whole metadata tree should be saved in the output file.

[2017-09-18 10:10] Floessie commented on #4008
@Hombre57

No, they shouldn't be removed. I was a bit overzealous with `std::move` on the `lensfun` branch. You don't need `std::move` to move a temporary, but you definitly need it when the value is bound to a variable, and that's the case in the above patch. So, all should be fine. 😃

[2017-09-18 11:02] Beep6581 commented on #4008
Not sure what you're asking. Saving one JPEG from 4 pixel-shift frames should just copy over the metadata from either of them, amended with the user's metadata changes if tunnelMetaData is enabled.

There are related issues:
- On the front-end side, there is #3647 "Move "Copy metadata unchanged" to Metadata tab and to PP3" which I struggled with yesterday but didn't get anywhere yet. It would have

[2017-09-18 11:55] heckflosse commented on #4085
@agriggio
the last patch works fine on Manjaro and Windows

[2017-09-18 12:15] agriggio commented on #4085
closed via 33867a4bf22c9c8356e7980ed7bfb56fd5a8a82a

[2017-09-18 12:15] #4085 closed, assigned to agriggio

[2017-09-18 13:39] Benitoite commented on #4091
@groberts619 does/did macOSX 10.11 give you a crash report?

[2017-09-18 15:22] gaaned92 commented on #4081
@seebk Thank you for clarification.

[2017-09-18 17:53] groberts619 commented on #4091
@Benitoite I tried using the build above and it quit. I opened it in the terminal and same result. Here is the crash report:
[code]

[2017-09-19 00:37] Benitoite commented on #4091
@groberts619 Here is a new build with a rebuilt liblcms: https://filebin.net/dd5bvdjtksubtuf5/RawTherapee_OSX_10.9_64_5.2-210-g331f3420.zip
See if that resolves it.

[2017-09-19 01:09] groberts619 commented on #4091
Still no luck @Benitoite . Here is the crash report:
[code]

[2017-09-19 05:55] Floessie commented on #4091
@Benitoite What's the default `-march` of your toolchain?

[2017-09-19 06:59] Hombre57 commented on #4091
@groberts619 ( @Benitoite ) RT crashed in `pango_units_from_double` while trying to instantiate the font, and probably related to size unit conversion.

1- Could you remove all font related parameters from your options file (`GUI` section) ? Paste the removed lines here please.
2- Do you have a Hi-DPI screen ?
3- Do you have a scale factor set to your screen ?

[2017-09-19 08:59] Benitoite commented on #4091
@Floessie generic x86

@groberts619 Here is another bundle of the same build to try, this time with libpango upgraded from 1.40.6-->12
https://filebin.net/dd5bvdjtksubtuf5/RawTherapee_OSX_10.9_64_5.2-210-g331f3420-a.zip

@Hombre57 upgrading pango made my fonts look smaller: see https://github.com/GNOME/pango/commit/8ab2cc198469b4a46b1536c4f5c5d3396a6444b4
I needed to bump up the default font from

[2017-09-19 09:31] Floessie commented on #4091
@Benitoite

- Is there a way to check that with clang? Have not yet found it.
- Is it complicated to build the bundle with `-march=x86-64` explicitly?

[2017-09-19 09:47] Benitoite commented on #4091
@Floessie I do have `-arch x86_64` in my flags.

[2017-09-19 09:57] Floessie commented on #4091
@Benitoite I know. I'm talking about `-march` and its default.

[2017-09-19 10:25] Benitoite commented on #4091
[code]

Clang should make code that doesn't break on x86_64 but it should be as simple as adding
`-march=x86-64` to flags?

[2017-09-19 10:57] Floessie commented on #4091
@Benitoite

That's exactly what I don't know about Clang. With GCC it depends on how it was built (`--with-arch`), and that could be the same with Clang.

Yes, if I understand right.

[2017-09-19 18:10] groberts619 commented on #4091
@Benitoite no luck. Crash report:
[code]

[2017-09-19 18:20] Beep6581 commented on #4091
@groberts619 please surround your pasted logs with three backticks, see https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown

[2017-09-19 18:26] Benitoite commented on #4091
@groberts619 Thanks for testing. My 10.11 iMac never complained about these things, but the common denominator maybe the sysroot compiled into certain dependencies. So the next thing I will try is remaking libpng, also with the additional above-mentioned compilation flag.

[2017-09-19 18:57] heckflosse commented on #4091
[code]

means the build executes an instruction which is not supported by your cpu.
It SIGnals an ILLegal instruction

[2017-09-19 19:37] Benitoite commented on #4091
Thx @heckflosse

@groberts619 Here's a new dev bundle with the libpng rebuild/upgrade 1.6.30-->32.  https://filebin.net/aaayjjj73txnaocq/RawTherapee_OSX_10.9_64_5.2-210-g331f3420-b.zip

[2017-09-19 21:48] groberts619 commented on #4091
Still not running @Benitoite

[code]

[2017-09-20 00:58] Benitoite commented on #4091
@groberts619 Here is another with a rebuilt libpixman:
https://filebin.net/aaayjjj73txnaocq/RawTherapee_OSX_10.9_64_5.2-210-g331f3420-c.zip

[2017-09-20 02:10] groberts619 commented on #4091
Looks like that did it. Thanks! @Benitoite

[2017-09-20 11:23] Floessie commented on #4092
The C++14 construct was included in glibmm 2.54 [accidentally](https://bugzilla.gnome.org/show_bug.cgi?id=787648). Should be fixed in [2.54.1](https://mail.gnome.org/archives/ftp-release-list/2017-September/msg00194.html).

Closing,
Flössie

[2017-09-20 11:23] #4092 closed, assigned to nobody

[2017-09-20 11:24] Floessie commented on #4091
@Benitoite So, what was the solution? Updating the components or changing the build flags?

[2017-09-20 14:53] Benitoite commented on #4091
@Floessie Yes. I did add the flag to my .profile, git pull'd and checked out an updated tag plus configure'd with the correct target sdk as sysroot:
[code]

[2017-09-21 07:26] #3856 closed, assigned to nobody

[2017-09-21 07:30] Beep6581 commented on #3421
I merged `dev` into `newlocallab`.

[2017-09-21 10:55] Desmis opened #4094 "Roadmap for locallab"
**French :**
Voici les points qui me semblent importants à connaître et/ou à modifier en ce qui concerne l'évolution de "locallab".

Bien sûr ce qui suit est mon point de vue, fondé sur ma perception et la réalisation que j'ai effectuée durant 2 ans. Le contenu ainsi que les priorités peuvent être modifiés.

En avant-propos il me semble souhaitable de lire la documentation que j'aie réalisée (en f

[2017-09-21 20:09] heckflosse opened #4096 "Multithreaded raw decoders"
For some raw file types it's possible to multithread the decode phase.

An example is the [decoder for recent Sony cameras](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L3059). It can easily be enhanced to decode using all available cores.

I already tried that and it leads to a nice speedup if the raw file is stored on a SSD or already is in OS file system cache.
But when th

[2017-09-21 22:05] reagle commented on #3510
BTW: If it would help, I'd be willing to contribute to a bounty for this.

[2017-09-21 22:34] agriggio commented on #4096
I have plenty of arw files that I can share (24mp), just let me know if
needed

[2017-09-21 22:44] heckflosse commented on #4096
@agriggio Alberto, the 24mp raw file I have is enough for my tests. But I can't provide it here.
For that reason i would appreciate an arw from you or DrSlony for tests.
And I also would appreciate tests on different machines (Linux with raw files on SSD/HD for example).

Ingo

[2017-09-22 06:36] agriggio commented on #4096
@heckflosse here you go:
https://filebin.net/ylvjzwoxygng2f9p

[2017-09-22 13:08] heckflosse opened #4098 "Bug in lens correction gui when using history"
I just found a bug in lens correction gui

to reproduce

1) open [this file](https://filebin.net/ylvjzwoxygng2f9p)
2) go to lens correction and select `Auto-matched correction parameters` => vignetting and distortion checkbuttons are sensitive now, good
3) go back in history to `Photo loaded` =>vignetting and distortion checkbuttons are not sensitive now, good
4) go forwards in History to `Lens co

[2017-09-22 15:28] TooWaBoo commented on #4098
Confirmed

[2017-09-22 15:53] heckflosse commented on #4098
I take this one

[2017-09-22 17:09] heckflosse commented on #4098
Found another one

to reproduce

1) open the file from first post
2) select a lcp file
3) set lens correction to none
4) close editor
5) open the file again => vignetting and distortion checkbuttons are sensitive now, though they should not be

[2017-09-22 17:11] #4098 closed, assigned to heckflosse

[2017-09-23 09:45] jliw commented on #4090
@heckflosse and @Beep6581:

Sorry I wasted your time last Sunday. In negligent way I read your introduction and did not notice at least one important point. Since actively regretting I wrote the lines below. To me they seem to be good advice for special beginners in RT. If you agree, you can upload the text on Rawpedia after I will have put the right symbols (small jpgs) where now are „S“s. If you

[2017-09-23 10:00] esjaytee opened #4099 "RawTherapee 5.2 crashes with Canon G3 images"
Version:
Version: 5.2
Branch: release-5.2
Commit: 78e921cb
Commit date: 2017-07-23
Compiler: gcc 6.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Build type: release
Build flags: -mwin32 -m64 -mthreads -msse2 -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -mwindows -Wno-aggressive-l

[2017-09-23 10:16] heckflosse commented on #4099
Duplicate of #4000
Closing

[2017-09-23 10:16] #4099 closed, assigned to nobody

[2017-09-23 12:02] Beep6581 commented on #4090
@jliw your points 1-3 are all already explained in the third paragraph:
http://rawpedia.rawtherapee.com/Getting_Started#Edit_your_first_image

[2017-09-23 12:05] Beep6581 commented on #4055
Done in commit 8fae2727e21646ce9eb6344f41b471c5ccbfcfc0

[2017-09-23 12:05] #4055 closed, assigned to Beep6581

[2017-09-23 12:08] Beep6581 commented on #3989
Time is running out. I will branch off a feature-frozen 5.3-rc1 (release candidate 1) tomorrow, followed by 5.3 final later in the week if no serious issues arise.

[2017-09-23 12:10] #1926 closed

[2017-09-23 12:14] Beep6581 commented on #3943
@agriggio ok to close?

[2017-09-23 12:15] #3893 closed, assigned to Beep6581

[2017-09-23 12:15] Beep6581 commented on #3893
Support for the Canon EOS 77D was added in the most recent `camconst.json` update, commit 10822f5c2ece7f3d99ea9ff91bea3b240d910152.

[2017-09-23 12:17] Beep6581 commented on #3782
@Desmis should we add this or not?

[2017-09-23 12:19] Beep6581 commented on #3655
Done some time ago.

[2017-09-23 12:26] Beep6581 commented on #4028
I won't be [listing issues with checkboxes](https://github.com/Beep6581/RawTherapee/issues/3687#issue-207088602) for roadmaps anymore. A better way of doing it is to tag all issues (doesn't matter if they're done-and-committed or not) with the appropriate version's milestone. See the first post.

Team: whenever you commit something to `dev` which has an issue, please tag that issue with the milest

[2017-09-23 12:53] #4081 closed, assigned to nobody

[2017-09-23 12:55] Desmis commented on #3782
@Beep6581
I think you can :)

[2017-09-23 13:02] agriggio commented on #3943
yes

[2017-09-23 13:50] Beep6581 commented on #2220
Duplicate of #2710

[2017-09-23 13:50] #2220 closed

[2017-09-23 13:55] Beep6581 opened #4100 "Dev sets most batch options to ADD"
I compiled into an empty build folder and deleted the cache and options file. The Batch Processing options in Preferences are mostly all set to ADD, except for:
- sharpening radius
- sharpening damping
- sharpening iterations
- resize scale

They should all be SET.

I cancelled and examined the options file:
[code]

I re-ran RT, went to Preferences again and hit OK,
[code]

Six 0s but only 4 show

[2017-09-23 13:56] Beep6581 commented on #4100
This is also a quite serious problem as far as a usability is concerned since a clean installation starts "broken", so a v5.3 stopper.

[2017-09-23 13:58] Beep6581 commented on #4100
Another issue: the color of the radiobutton in the highlighted (selected) row is not visible as long as its selected. Theme needs fixing.
![imgur-2017_09_23-15 58 22](https://user-images.githubusercontent.com/5844619/30773784-1613161e-a078-11e7-85ea-fc6a5b2b687e.png)

[2017-09-23 14:00] Beep6581 commented on #4100
6 new 0s:
1. sharpening radius
2. sharpening damping
3. sharpening iterations
4. ?
5. ?
6. resize scale

[2017-09-23 14:10] Beep6581 commented on #4100
[code]

Is there a more permanent solution? Failure to compile or crash on start would be best.

[2017-09-23 14:15] Beep6581 commented on #4100
With the above patch, when I delete my options file and run RT and close it and grep for AdjusterBehavior I get:
[code]

Then I run RT again, click "All to Set", ok, close RT, grep:
[code]
Three entries are still at 1! But in Preferences everything is visually on "Set", so we're not seeing three settings.

[2017-09-23 14:30] #3943 closed, assigned to Beep6581, agriggio

[2017-09-23 14:37] heckflosse commented on #4100
@Beep6581 Please try this patch for the setdefaults method

[code]

[2017-09-23 14:52] Beep6581 commented on #4100
Branch [fixaddset](https://github.com/Beep6581/RawTherapee/compare/fixaddset) hopefully fixes this issue. One thing I'm uncertain about is whether `ADDSET_WA,` should be deleted or not from `rtgui/addsetids.h`, but I'm out of time for today. If anyone feels like testing that and committing, +1

[2017-09-23 16:16] heckflosse commented on #4100
@Beep6581 I will take a look later in the evening

[2017-09-23 21:15] heckflosse commented on #4100
@Beep6581 I don't understand why you removed `ADDSET_WA`

[2017-09-23 21:31] heckflosse commented on #4100
@Beep6581 scratch my last comment

[2017-09-23 23:13] heckflosse commented on #4100
@Beep6581 In 31af093  I made some minor changes. Please test.

[2017-09-24 17:59] Beep6581 commented on #4100
I found what looks like a GTK+ bug.
Open Preferences > Batch Processing, flip the settings by clicking either "All to Set" or "All to Add", then scroll down (or up). The first two radiobuttons which appear when you scroll have the wrong option selected, but this is only a graphical glitch. If you scroll them out of view and scroll them back into view, they are correct.
Screencast: https://filebin.

[2017-09-24 18:00] Beep6581 commented on #4100
@heckflosse thank you, fix confirmed, merged.

[2017-09-24 18:00] #4100 closed, assigned to Beep6581

[2017-09-24 18:31] Beep6581 commented on #4100
I opened an issue for the treeview radiobutton bug: https://bugzilla.gnome.org/show_bug.cgi?id=788105

[2017-09-24 22:26] Beep6581 commented on #3782
Done. 5fc2b1e1

I added ACES, and two variants of DCI-P3:
- DCI-P3 Theater (white point `x=0.314` `y=0.351)`
- DCI-P3 D65 (white point `x=0.3127` `y=0.329)`

[2017-09-24 22:26] #3782 closed, assigned to Beep6581

[2017-09-24 22:31] Beep6581 commented on #2083
ACES and DCI-P3 added as output profiles in issue #3782

[2017-09-25 00:15] Beep6581 commented on #4074
I compiled into an empty build folder, deleted the cache and options file and deleted amsterdam.pef.*, i.e. no PP3 files.

My lensfun DB is in `/usr/share/lensfun/version_1/`

@agriggio I have some questions:
1. When RawTherapee is compiled using `-DBUILD_BUNDLE="ON"` and `LENSFUNDBDIR` is not manually set during cmake, should the build find and use the system lensfun library? It does not, my comb

[2017-09-25 00:24] Beep6581 commented on #4074
I set `-DLENSFUNDBDIR=".\share\lensfun"` as shown in the Linux article, and get parsing errors during compilation https://gist.github.com/Beep6581/ca9a5ca67721afaa33d860655548766d

[2017-09-25 00:33] heckflosse commented on #4074
Maybe it was me who used `\` instead of `/` for rawpedia :-(

[2017-09-25 00:36] Beep6581 commented on #4074
No worries @heckflosse I'll fix it once I figure it out.

5. Should the path in the `LENSFUNDBDIR` CMake option be relative or absolute when specifying a custom lensfun DB?

[2017-09-25 00:46] Beep6581 commented on #4074
I set `-DLENSFUNDBDIR=""`, the result is
`DBDirectory=/home/morgan/programs/code-rawtherapee/build/release/./`
Comboboxes empty. I have to set `DBDirectory=` to make the comboboxes populated.

@agriggio I'm releasing 5.3-rc1 now, but we will need to fix this for 5.3 final.

[2017-09-25 06:15] gaaned92 commented on #4074
@Beep6581 @agriggio
 in windows, as you build under Msys2 with bash, you use slashes. Building with
-DLENSFUNDBDIR=share/lensfun is ok to define .\share\lensfun as default directory.

[2017-09-25 06:33] agriggio commented on #4074
if you don't set `LENSFUNDBDIR`, lensfun uses its default search algorithm to locate the database. if not found, it is a bug, but not necessarily on our side. please provide as much info as possible, thanks!

[2017-09-25 08:12] olhof opened #4102 "RT clear profile errors"
The File Browsers processing profile operation “clear” should clear the profile, so the green checkmark indicating the existence of a profile goes away and the thumbnail shifts to the jpg-picture imbedded in the raw file. This status should be maintained until the photo is reopened in the Editor then the default profile stated in the Image Processing tab in preferences should be applied.

This is

[2017-09-25 08:16] Beep6581 commented on #4074
@agriggio
I've installed media-libs/lensfun-0.3.2 system-wide, `/usr/share/lensfun/version_1/` contains all the xml files. I compile using
[code]

CMake output:
[code]

After deleting the options file and running RT, it contains:
`DBDirectory=/home/morgan/programs/code-rawtherapee/build/release`

The lensfun camera and lens comboboxes are empty.

If I then close RT, edit the options file and chang