[2018-08-31 19:40] heckflosse commented on #4758
@rpittaro Even if it's corrupted, RT should not crash. If possible, please provide the file, so we can fix the crash

[2018-08-31 19:50] rpittaro commented on #4758
After removing the file the folder loads fine. I followed the above instructions and uploaded the file.

[2018-08-31 19:58] gaaned92 commented on #4404
@aferrero2707
Thanks for your build
- starts and runs it seems as fast as my builds.  Edited and processed a few files without problem  :thumbsup:

- The window decoration is not a native windows one but seems generated by gtk3. The missing icones should be found in adwaita theme. The clean build hereunder provides the missing icones.

-  It seems that a lot of files are useless and could be remov

[2018-08-31 20:03] gaaned92 commented on #4758
@heckflosse is'nt it a bad effect of https://github.com/Beep6581/RawTherapee/issues/4713, as I have to patch in order to build?

[2018-08-31 20:16] heckflosse commented on #4758
@gaaned92 I still use the old version of libjpeg-turbo. With that version RT does not crash with the file provided by @rpittaro . It reports in console:
[code]

[2018-08-31 20:16] Hombre57 commented on #2357
@Beep6581 @jedypod

Thanks to @heckflosse for fixing a silly bug from me :roll_eyes: . The branch has been merged into dev, this issue is now  closed (at last).

[2018-08-31 20:21] gaaned92 commented on #4758
@heckflosse
Are you able to solve https://github.com/Beep6581/RawTherapee/issues/4713 ?
If not, I am going to revert blibjpeg-turbo

[2018-08-31 20:23] heckflosse commented on #4758
@gaaned92 I will try to solve it but I can not promise

[2018-08-31 20:25] Hombre57 commented on #4035
@agriggio @Beep6581 @heckflosse @afr-e The scrollbar would waste space, however displaying the toolbar in a GtkScrollWindow might be a clever solution, if you accept :

1. that it's automatically scrolled while moving the cursor over it
2. scroll the bar while pressing a modifier key

Which solution do you prefer ? I can investigate one of these solution if you want.

About the popup menu for hidd

[2018-08-31 20:27] heckflosse commented on #4035
I will test on my old laptop tomorrow and report my findings

[2018-08-31 20:39] Thanatomanic commented on #4035
I would actually be more in preference of the second option @afr-e describes: a dropdown would provide less clutter imo. The [GTK docs](https://developer.gnome.org/gtk3/stable/GtkExpander.html) don't mention a limitation on what you can put in `GtkExpander` (if that is the right object).

[2018-08-31 20:42] gaaned92 commented on #4758
@heckflosse in the mean time, I revert libjpeg-turbo
@rpittaro  sorry for the inconvenience. I will rebuild tomorrow.

edit: can you test?

uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-08-31 20:48] eprovst commented on #4763
I agree that it isn't a high priority however it's a really nice to have :smile: But it's true anything you can do with color wheels can also be done with levels although color wheels make it a lot easier to get the color you want.

I can't recall Darktable having a vectorscope, however when it comes to design I think something similar to the one in Nuke (with less lines), Final Cut or Speedgrade

[2018-08-31 20:50] heckflosse commented on #4763
@ElecProg Some screenshots or a video would help more than 1000 words for this issue!

[2018-08-31 21:11] Thanatomanic commented on #4763
![image](https://user-images.githubusercontent.com/6567747/44935880-bf2bdd00-ad72-11e8-9a9d-d97d9bda55ad.png)
This is how the ~~scope~~ waveform looks like in darktable.

![image](https://user-images.githubusercontent.com/6567747/44935958-13cf5800-ad73-11e8-8a47-fc8ac264594a.png)
This is what DaVinci Resolve can give you in terms of color gauges.

[2018-08-31 21:17] eprovst commented on #4763
Third Davinci scope in @Thanatomanic s comment. You wont need all the lines and boxes on that scope for photography. So you could simplify the design quite a bit.

However a chrominance chart like used in CameraBag might fit better within the current UI, it's basically a vectorscope cut open and put into a rectangle.

[2018-08-31 21:49] Hombre57 commented on #4035
@Thanatomanic No, that's not the right object, it's a [Toolbar](https://developer.gnome.org/gtkmm/stable/classGtk_1_1Toolbar.html) which can only accept [ToolItem](https://developer.gnome.org/gtkmm/stable/classGtk_1_1ToolItem.html), i.e. some basic widget type, By chance RT only have Buttons, and the Combobox could probably be converted to a standard button with a Menu attached. I'll be busy tomor

[2018-09-01 00:53] rpittaro opened #4764 "Nikon COOLPIX B700 magenta highlights related to green channel"
Windows 10
HP Z220 Workstation ,Xeon processor, AMD graphics card, 12G memory.
Apparently the green channel saturates earlier than red or blue in RawTherapee causing the white areas to show as pink. I tried messing with the white points adjustment, but raising it causes the blue and red channels to saturate where the green channel does eliminating all detail, and lowering it has little effect. The

[2018-09-01 03:42] TooWaBoo commented on #4764
Activate Highlight reconstruction
![grafik](https://user-images.githubusercontent.com/13800920/44942044-9a9f2780-ada9-11e8-86ab-b1cc53ae4afc.png)

[2018-09-01 04:43] rpittaro commented on #4764
I am using highlight reconstruction but the "color propagation" method works "better" on this photo. I'm still concerned about how green seems to saturate well  before red and blue in Rawtherapee, but not other software.
Thanks
Rick

[2018-09-01 06:20] Desmis commented on #4762
@Beep6581
A long time ago (several years) that I found that "intent" did not work.
The new profiles have not changed anything. I do not know why, probably LCMS ??

[2018-09-01 07:21] TooWaBoo commented on #4764
Please provide us the RAW and the .pp3 file

[2018-09-01 09:10] heckflosse commented on #4764
@rpittaro please test this camconst.json entry:

[code]

[2018-09-01 09:23] heckflosse commented on #4764
@rpittaro If the highlights are still pinkish with the camconst entry, remove it and follow this instructions:

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L245

To use the formula `newWL = BL + (oldWL - BL) / F` :
BL = 200 and oldWL = 4095

[2018-09-01 10:56] Beep6581 commented on #4764
@rpittaro please upload several raw files which exhibit this problem. Use https://filebin.net/

[2018-09-01 12:16] Beep6581 commented on #2357
Tested `5.4-778-g`61e033ae

1. RT tells me float output was detected when I selected integer output:
[code]
2. The outputs of `-b16` and `-b16f` are identical in size, metadata and ImageMagick's
`identify -verbose`

Additional info:
[code]

I don't know what `32/16-bit` means, perhaps it could be related to my ImageMagick being compiled as "Q16" and not "Q32".

[2018-09-01 12:29] taurhine opened #4765 "Allow date as output template formatting string"
I've recently switched from LR to RT and I am really impressed.
However there are two things which I really miss in the batch queue.

1. Batch resize option
If you are reducing the size of a big collection of pictures, resizing every single of them individually is quite tedious. It would be really nice to have the possibility to resize pictures in batch queue by defining width, height or Megapixel

[2018-09-01 12:48] #2590 closed

[2018-09-01 12:50] Beep6581 commented on #4765
1. http://rawpedia.rawtherapee.com/Batch_Adjustments_-_Sync
2. One request per issue please.

[2018-09-01 14:57] snibgo commented on #2357
In ImageMagick identify -verbose, "32/16-bit" means the image data is 32 bits/channel/pixel, but only the top 16 are significant.

A floating-point image should have the property "quantum:format: floating-point".

[2018-09-01 17:05] Hombre57 commented on #2357
@Beep6581 @snibgo I've commited patch 5c10e19 that should solve the problem.

[2018-09-01 17:22] Pandagrapher commented on #4094
@Desmis
Autant pour moi : "sensiexclu" est effectivement passé à la trappe... Du coup, je l'ai rajouté. Quant à "struc" et "noisechrodetail", je les ai remis fonctionnels mais ils sont par défaut cachés à l'utilisateur. Le jour où tu en auras besoin, il te suffira dé-commenter les lignes indiquées de la façon suivante :
`// excluBox->pack_start(*struc_); // Uncomment this line to use the struc_ ad

[2018-09-01 17:46] Desmis commented on #4094
@Pandagrapher
Pas de problèmes, prends ton temps :)

jacques

[2018-09-01 17:49] rpittaro commented on #4764
When making this camconst.json file, do I add this to a copy of the existing file? and where do I put it ?

From: Ingo Weyrich
Sent: Saturday, September 01, 2018 2:10 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Rawtherapee 5.4-755-g3c54d2ef Nikon B700 green saturation of overexposed image (#4764)

@rpittaro please test this camconst.json entry:

    { //

[2018-09-01 17:57] heckflosse commented on #4764
@rpittaro Open your existing camconst.json file (but not in notepad, use notepad++) and insert it just before

[code]

[2018-09-01 18:10] Beep6581 commented on #2357
@Hombre57 fix mostly confirmed, there is one issue left.

The `--help` info mentions `-b<8|16|16f|32>`
I naturally tried `-b32` and `-b32f` to see if I can break it, and found that `-b32f` saved an unsigned integer image.

[code]

RT cannot read the unsigned integer image.

This patch fixes it, `-b32f` is now an alias for `-b32`:
[code]

[2018-09-01 21:05] Hombre57 commented on #2357
@Beep6581 Thanks for the fix, patch committed. Feel free to close.

[2018-09-01 21:07] aferrero2707 commented on #4404
@gaaned92 I have followed your example and fixed the missing icons, as well as removed part of the unnecessary files. The new package is available here: https://github.com/aferrero2707/rt-win64/releases/download/continuous/rawtherapee-w64-20180901_1924-git-dev.zip

There is still some problem with SVG icons, but the rest seems to work properly... could you have a look?

Meanwhile, I have started t

[2018-09-01 21:08] Hombre57 commented on #4035
@Thanatomanic hmm... I still do think that an automatic scrolled window would be more user friendly. I'll try that solution first.

[2018-09-01 21:08] #2357 closed

[2018-09-01 21:16] Beep6581 commented on #4035
Based on the description without having seen your solution, it seems like an automatically-scrolling toolbar has some drawbacks:
* it's not intuitive, I haven't seen what has been described in any other software, so users would't expect it.
* you can't just jump to the item of interest like you could in the Geeqie solution, you have to scroll through until you get there, and I presume the scrollin

[2018-09-01 21:55] Hombre57 commented on #4035
@Beep6581 The Geeqie solution has a drawback, and a serious one for me : you'll have to click twice for each button you'll want to click for the hidden ones. Plus it require waaaay more coding because you'll have to convert all the Button to ToolbarButton.

My solution can have several implementation (eventually selected in Preferences) :

1. the toolbar will scroll while you're hovering it, can't

[2018-09-01 22:24] rpittaro commented on #4764
The link to the files is https://filebin.net/yil7c2dxl699zkez
If you don’t have it Nikon NX-D is free on the Nikon site (for comparison?)
Thanks again for your help. I wonder if it’s a camera limitation that Nikon works around in their software?
Regards,
Rick

From: Beep6581
Sent: Saturday, September 01, 2018 3:56 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherape

[2018-09-01 22:33] rpittaro commented on #4764
The first fix got rid of the pink but all the colors saturated early (where the green saturated) and all the detail was lost. FYI the highlight reconstruction in color propagation mode does a pretty good job.
I’ll try the next fix.
Thanks Again
Rick

From: Ingo Weyrich
Sent: Saturday, September 01, 2018 2:23 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Raw

[2018-09-02 05:31] rpittaro commented on #4764
Ingo,
Sorry, I can’t figure out how to set verbose mode per #L245 ? I’m experimenting with another  kind of a work around. Using the exposure control in Nikon NX-D to take the image “out of saturation” converting it to a 16 bit tiff, then opening the tiff in RawTherapee. RawTherapee has some processing options that Nikon NX-D doesn’t have.
Regards,
Rick

From: Ingo Weyrich
Sent: Saturday, Septembe

[2018-09-02 07:08] gaaned92 commented on #4764
@rpittaro
If you want a quick and conclusive identification of the problem, the only way is as @Beep6581 wrote :

`@rpittaro please upload several raw files which exhibit this problem. Use https://filebin.net/`

[2018-09-02 07:12] rpittaro commented on #4764
Uploaded three files earlier today
link https://filebin.net/yil7c2dxl699zkez
Thanks,
Rick

[2018-09-02 08:49] gaaned92 commented on #4404
@aferrero2707

- warnings from rawtherapee

`(rawtherapee.exe:19620): Gdk-WARNING **: 10:06:51.731: Failed to load cursor theme Adwaita
`

These are not Windows cursors: see hereunder about cursor subdir

[code]
Don't understand the problem! the svg loader seems well located. I did'nt succeed to correct the warning.

[code]
I suppressed hicolor as it is empty. I cannot find this icon in the adwait

[2018-09-02 08:53] Hombre57 commented on #4035
Please test the `scrolled-toolbar` branch, the toolbar can now be scrolled with the mouse wheel. I find this an elegant solution, and easy to implement. I've set a scrolling mulitiplicator of 2 vs the system scrolling step, I think it's enough but it can be changed in code before merging, or added in Preferences if necessary.

[2018-09-02 10:02] Thanatomanic commented on #4764
@rpittaro I have taken a look at your uploaded files. They are all heavily overexposed, so there will be only so much that you can recover from that. I don't see any unusual behavior though. More camera calibration could be done to provide more details for `camconst.json`, but the fix does the trick your primary issue (the magenta cast).

Because the G channel clips quite a bit earlier than the R

[2018-09-02 11:19] rpittaro commented on #4764
Roel,
Thanks for the input. That’s what it seems to be, I’m not sure how the Nikon software and Photoshop express  get around it, unless they do highlight reconstruction invisible to the user? Thanks for the input.
Rick

From: Roel Baars
Sent: Sunday, September 02, 2018 3:02 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Nikon COOLPIX B700 magenta highlights

[2018-09-02 11:55] Hombre57 commented on #4299
@Beep6581 I've tested to this new structure, but there's a lot of work to do for the include declaration, so I gave up. A better source tree _would be nice_, but I don't think it'll be ready for 5.5. I'd remove it from this milestone.

[2018-09-02 12:33] Beep6581 commented on #4764
@rpittaro please shoot and upload photos from set 1:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

[2018-09-02 12:35] Beep6581 commented on #4540
I rewrote http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

[2018-09-02 13:40] Beep6581 commented on #4478
Can this be closed?

[2018-09-02 13:42] Beep6581 opened #4768 "Be able to use output ICC profile from custom location"
Currently, to use a newly-generated profile, one needs to save it to the "Folder containing color profiles" as specified in Preferences > Color Management, then one needs to restart RawTherapee. That feels [clunky](https://discuss.pixls.us/t/beginner-questions/8875/4?u=morgan_hardwood). Some ideas to improve that:
* Add a FileChooser to the Output Profile frame.
* Add an "Other..." entry to the co

[2018-09-02 13:55] #3299 closed

[2018-09-02 13:57] Hombre57 commented on #4478
@Beep6581 There is still 2 missing modifications :

1. Recreate the bundled profile to have the correct Description and Copyright
2. Update the ICCProfileCreator window to support all language code. As of now, it will be stored as `en_US`. I should probably add a label saying just that. An ICC profile can embed as much language/country string as we want, and one string can be reused in several lan

[2018-09-02 14:08] Beep6581 commented on #4478
@Hombre57 agreed.

[2018-09-02 14:08] #4478 closed, assigned to Desmis, Hombre57

[2018-09-02 14:10] Beep6581 opened #4769 "Recreate bundled ICC profiles with consistent and correct description and copyright"
As mentioned in [#4478](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-417932713), the bundled ICC profiles need to be re-generated with consistent description and copyright tags.

[2018-09-02 14:17] Beep6581 opened #4770 "Clarify supported character set in ICC Profile Creator"
The ICC Profile Creator stores tags using `en-US`:

@Hombre57 could you explain what exactly do you mean by "`en-US`"? Do you mean the `en_US` locale (notice the underscore), or something else? Could you link to some place which explains what those characters are?

This issue is to either:
1. Explain that only characters from "`en-US`" are supported,
1. Or support multiple languages.

Personally,

[2018-09-02 14:30] Beep6581 commented on #4743
@heckflosse sorry for the delay, fix confirmed.

[2018-09-02 14:51] Beep6581 commented on #4769
@Desmis I'm assuming our currently-bundled profiles were generated using some other software because our ICC Profile Generator did not exist at the time. If I recreate all of our bundled profiles using our own ICC Profile Creator and setting correct properties (primaries, TRC, illuminant, ICC version), copyright and description, will they contain all the needed info and be good to replace the curr

[2018-09-02 15:52] taurhine commented on #4765
Sorry, as both were related to batch queue I've mentioned them both in one go.

Thanks for hinting to the sync feature, it's surely much better, however you still have to resize portrait and landscape pictures separately.
Additionally you might want to do multiple exports of the same picture set, say one in hi-res and another one in low res. So if resize attributes were to belong to the export "se

[2018-09-02 15:54] Thanatomanic commented on #4743
Fixed with a7b7f20.

[2018-09-02 15:54] #4743 closed, assigned to heckflosse

[2018-09-02 16:50] Desmis commented on #4769
@Beep6581
I  think yes :)

But be careful, the name of the "new" files must be exactly the same

[2018-09-02 17:16] Floessie commented on #4299
@Hombre57 I've pushed a [new branch](https://github.com/Beep6581/RawTherapee/compare/better-source-tree) with the structure from your first proposal. Feel free to shuffle other files as well.

I dislike the relative includes needed ATM. Shouldn't we make the source root path the only include path (apart from the current dir), and all relative paths absolute to that? Ideas welcome. Things like `../

[2018-09-02 19:10] gaaned92 commented on #4758
@heckflosse perhaps you can close this topic.

[2018-09-02 19:45] #4758 closed, assigned to nobody

[2018-09-02 20:12] Beep6581 commented on #4327
Done.

[2018-09-02 20:12] #4327 closed, assigned to Beep6581

[2018-09-02 20:13] #4672 closed, assigned to Beep6581

[2018-09-02 20:16] Beep6581 commented on #4403
Hi @lewicki-pk , any chance this will be done in the next month?

[2018-09-02 20:30] Hombre57 commented on #4299
@Floessie Wow, that was fast ! I'm testing that now.

If possible, I'd set 2 include path (in that order) :

1. the source root path, as you suggest
2. the current source file's path

The idea is to be able to simply specify `#include "myheader.h"` to load the header of the current file or files from subdirectories, and e.g. `#include "rtgui/window/editwindow.h"` for files from parent directories.

[2018-09-02 20:40] Beep6581 commented on #4035
@Hombre57 using x11-libs/gtk+-3.22.30 scrolling only works when I hover over the monitor profile combobox. It does not work when I hover over anywhere else.

Maybe this is related to #3413

[2018-09-02 20:46] Beep6581 opened #4772 "Placement of checkbox in Preferences could be improved"
In Preferences > Layout, the "Use tab icons instead of text" checkbox is placed in such a way that it sticks to a grid near the right side of the window which makes it go out of view when the window is even 1290px wide (or less).

Screencast:
https://filebin.net/lz8xr59h4kqq3yy7/vid1-2018-09-02_22.44.59_x264_crf23.mp4?t=qj60g1gu

[2018-09-02 20:52] Hombre57 commented on #4035
@Beep6581 Could you test this patch :

[code]

[2018-09-02 21:05] TooWaBoo commented on #4772
I think this feature can be removed, I've never seen a screenshot with text instead of icons.

[2018-09-02 21:18] Beep6581 commented on #4035
It made no noticeable difference, but setting `GDK_CORE_DEVICE_EVENTS=1` made it work.

[2018-09-02 21:41] heckflosse commented on #4727
I close this to get it mentioned for 5.5 roadmap. For further speedups (which are possible) we can create a new issue.

[2018-09-02 21:41] #4727 closed, assigned to heckflosse

[2018-09-02 21:41] Hombre57 commented on #4035
@Beep6581 Maybe this patch works better ?

[code]

[2018-09-02 21:43] heckflosse commented on #4450
I will try to fix that for 5.5

[2018-09-02 21:44] heckflosse commented on #4445
I will delay that to 5.6 release now

[2018-09-02 21:46] heckflosse commented on #4643
Status?

[2018-09-02 21:49] Beep6581 commented on #4643
I documented this today, including the automatic enabling of "avoid upscale" for old PP3s, even though I don't think that's been coded yet.
http://rawpedia.rawtherapee.com/Resize

[2018-09-02 21:59] Beep6581 commented on #4035
Yes it does, and `step = 30` makes the movement fast and smooth. There might be some interference from the tooltips though.

[2018-09-02 22:24] Hombre57 commented on #4035
The last commit to `scrolled-toolbar` now support `GDK_SCROLL_SMOOTH` sent by some devices. Maybe that XInput2 only uses this kind of scroll event, even for standard mouse wheel. This could be tested with touchpad too, that provide horizontal scrolling.

There's a place to add a multiplicator, if it doesn't scroll fast enough (but it should be compared to other software first, the scroll speed is

[2018-09-02 22:29] Hombre57 commented on #4299
@Floessie There's some other files to shuffle, yes, that appears in between. I'll do that tomorrow, too late now.

[2018-09-02 22:50] rpittaro commented on #4764
Camera doesn’t have LENR. These are from ISO100, ISO200, ISO400, ISO800, ISO1600 and ISO3200.
https://filebin.net/v5437ptzzr13lmo0,
Thanks,
Rick

From: Beep6581
Sent: Sunday, September 02, 2018 5:33 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Nikon COOLPIX B700 magenta highlights related to green channel (#4764)

@rpittaro please shoot and upload photos f

[2018-09-03 05:48] Floessie commented on #4299
@Hombre57

That's exactly what I was thinking about. :smile: Something like `include_directories(${CMAKE_SOURCE_DIR})` should do, because the current dir is always searched first by the preprocessor/compiler AFAIK. The `../../../` lunacy could be replaced with the "full path" by a regex.

This is the CMake snippet I was talking about much earlier:

[code]

A `SOURCES.cmake` in a subdir looks like

[2018-09-03 06:45] cuniek opened #4773 "Noise reduction preview glitch"
I found this bug some time ago, but forgot to report it.  I can reproduce it in RT 5.4 64 bits windows.

When I use extreme noise reduction the effect is dependant on the preview area and therefore slightly different than output file. I attach screenshots. Notice the NR is in manual mode and the only difference is in preview area.
![nr2](https://user-images.githubusercontent.com/26029842/44971199-

[2018-09-03 07:13] TooWaBoo commented on #4713
I've found this info for libjpeg 2.0. Perhaps it helps.

**4. Improved error handling in the TurboJPEG API library:**

Introduced a new function (`tjGetErrorStr2()`) in the TurboJPEG C API
that allows compression/decompression/transform error messages to be retrieved
in a thread-safe manner.  Retrieving error messages from global functions, such
as `tjInitCompress()` or `tjBufSize()`, is still thr

[2018-09-03 07:21] Beep6581 commented on #4773
@cuniek could you upload a raw file (this or any) where it's reproducible + PP3?

[2018-09-03 07:31] cuniek commented on #4773
ZIP contains NEF file and pp3 file

https://drive.google.com/open?id=19gCSy5zGwXktSaSNE8qr6uXCPUjL9MJE

[2018-09-03 07:32] Beep6581 commented on #4764
LENR appears to have been enabled in these photos. I base this on the expected fuzziness at the end of the raw histogram when using LENR and on the metadata:
[code]

Black: 200

White: Min-above10-Max
* ISO100 4064-4075-4095
* ISO200 4040-4060-4095
* ISO400 4014-4050-4095
* ISO800 3912-4015-4095
* ISO1600 3756-3980-4095
* ISO3200 3489-3840-4095

The white level in the DNGs is always 4000.

@rpitta

[2018-09-03 08:09] lewicki-pk commented on #4403
Hi @Beep6581,
I'm sorry, but I've stopped working on it and started using different software.

I won't be able to finish what I've started.

[2018-09-03 08:27] Beep6581 commented on #4764
[code]

@rpittaro I'd say this is a pretty good starting-point default profile for your NIKON COOLPIX B700:
[NIKON COOLPIX B700.pp3.txt](https://github.com/Beep6581/RawTherapee/files/2344690/NIKON.COOLPIX.B700.pp3.txt)
Tweak the curve's dark node as needed. In some cases you can switch the highlight reconstruction method to color propagation and crank highlight compression up to 100.

For referenc

[2018-09-03 08:32] Beep6581 commented on #4403
Ah, that's a pity.

[2018-09-03 09:58] lukasz83krk commented on #4752
RT crashed when I exported images by Ctrl+B (add image to queue). The problem was the dot "." in directory name (directory with pentax PEF files). I export JPGs to ./jpg (where . is the directory with PEF).

I use RT (the newest release ver from repo) @opensuse leap 42.3

[2018-09-03 10:27] Beep6581 commented on #4752
@lukasz83krk as I just wrote above, please test using the latest development version, provide the build info, steps to reproduce and a stack backtrace if possible. See the "how to write useful bug reports" link. A [screencast](http://www.maartenbaert.be/simplescreenrecorder/) showing how to reproduce would be great.

[2018-09-03 11:02] TooWaBoo commented on #4035
@Hombre57
I need an ID for the Scrolled Toolbar, please.

[code]

[2018-09-03 11:27] Beep6581 commented on #4035
It would be better to set a name for the toolbars (`EditorToolbarTop`, `EditorToolbarBottom`) and add a class `scrollable` to each.

[2018-09-03 11:55] Raoul-Kima opened #4774 "increase lateral-CA correction range"
Some lenses (e.g. the Nikon 35 1.8 af-s dx) can (depending on focuse distance, aperture and sample variation) have such strong lateral CA that even if you set the CA correction-sliders in RawTherapee to the most extreme value available it is still a tiny bit too little. The same might go for the automatic CA-correction tool, which sometimes appears as if it might have a hardcoded limit to how much

[2018-09-03 12:23] heckflosse commented on #4774
@Raoul-Kima Please upload example raw files to `filebin.net` and post the link here

[2018-09-03 12:24] TooWaBoo commented on #4035
@Beep6581
To complete the definition we also need names for the file brower toolbar and the path & search fields. They are scrollable too.

[2018-09-03 12:38] aferrero2707 commented on #4404
@gaaned92 thanks for your suggestions! I [repared a new package, available [here](https://github.com/aferrero2707/rt-win64/releases/download/continuous/rawtherapee-w64-20180903_1222-git-dev.zip).

- cursors: there was a mistake in my build scripts, and adwaita was compiled for a Linux host instead of a Windows one. Now this is fixed and cursor files are generated with a `.cur` extension. Hopefully

[2018-09-03 12:54] TooWaBoo commented on #4148
New update
[code]

[2018-09-03 13:51] gaaned92 commented on #4404
@aferrero2707

starts, runs 👍
Icons at top right 👍

- cursors 👍
-gdk-pixbuf-loaders 👍 .
- The adwaita subdirs are copied from MSYS2. The adwaita icon theme in MSYS2 is
[code]
as uploaded by pacman
- .png files in the `images` subfolder: They are all installed by RT. The images subfolder in your buid seems exactly the same.
- debugging: gdb 👍  . The relwithdebinfo build should be copied as rawthera

[2018-09-03 14:03] aferrero2707 commented on #4404
@gaaned92 thanks for checking so quickly!

Apart from the useless subdirs, do you still see any issue? I do not have access to a Win10 machine at the moment, so I am a little blind...

Is this really necessary? the rawtherapee-debug.exe command will run as fast as the stripped rawtherapee.exe, it just contains the debugging symbols (@heckflosse can probably confirm or correct my statement). Why bl

[2018-09-03 14:22] Raoul-Kima commented on #4774
It's a bit difficult to find good examples RAW-files, because I usually delete the raws after carefully converting them. Nonetheless I found some which might suffice. If not, please say so and I'll try to make new and better ones.

Here are the example images:
https://filebin.net/dr8c0mubb95zixtp

While trying to find suitable examples it became clear to me that the issue with the auto-CA removal

[2018-09-03 15:10] Beep6581 commented on #4404
The package should contain either both release+debug, or one relwithdebinfo. I don't see sense in release+relwithdebinfo.

[2018-09-03 16:14] gaaned92 commented on #4404
@Beep6581
- Default flags for release and relwithdebinfo usually are
[code]
Do you know if there is a significant performance gain between O2 an O3? I think so as I always was asked to build with O3
 Or if you make a  -O3 build with -g flag  and symbol table, will the debug information be still useful?

As I am not dev, I have  no conclusive answer on these questions.

@aferrero2707
- I am on W10.

[2018-09-03 16:33] heckflosse commented on #4774
@Raoul-Kima I tried some modifications to ca-correction algorithm but without success.
The best result I got for your raw shot through a telescope uses auto-ca correction + defringe.
![grafik](https://user-images.githubusercontent.com/13733487/44996140-8a07d080-afa6-11e8-9ee3-8e64ffc41848.png)

Off topic: RL-deconvolution with the values you can see in screenshots works quite good on that image (a

[2018-09-03 16:46] Beep6581 commented on #4404
http://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html

@gaaned92 in my experience from Gentoo, most programs use -O2 and there was warnings against using -O3 claiming that programs weren't tested well using that and so you ran a risk of encountering bugs and artifacts.

The last time I benchmarked Release vs RelWithDebInfo was several years ago, probably before Ingo's work, and I measured total

[2018-09-03 16:54] Thanatomanic commented on #4773
I can actually reproduce this with any image, but the effect is quite pronounced with this (really nice) portrait.

[2018-09-03 17:00] Beep6581 commented on #4404
My self-compiled build uses -O3, but I hadn't set that myself and I can't find where it was set - grep returned no hits for `-O3` in `CMake*` nor in `/etc/`

According to a mailinglist @heckflosse just found in IRC, `-O3` apparently is (or was in 2016) the GCC default: https://cmake.org/pipermail/cmake/2016-May/063379.html

As for Gentoo, from https://wiki.gentoo.org/wiki/GCC_optimization

RT expl

[2018-09-03 18:07] regs01 commented on #3547
Double size is good, but there is also 150% scale popular on 27'' 4K screens. Unless they are svg and automatically scaled up and down.

Edit: I'm not into GTK and C++. But quick look up shows it's not that difficult.

There seem to be CSS property -gtk-dpi. There is also function gtk_css_style_get_value that can be used to read it. And then it simple. Set the right folder in rtengine::setPath res

[2018-09-03 18:17] rpittaro commented on #4764
The camera has three  noise reduction settings Low, Medium, High,(no off) nothing mentioned in the manual or in the camera settings about Long Exposure NR, LENR. or FPNR. Should I take the images with “LOW” noise reduction. Normal is the default setting.
Thanks very much for this effort, I will make a camcast.json file with these constants.

Regards,
Rick
From: Beep6581
Sent: Monday, September 03,

[2018-09-03 18:23] TooWaBoo commented on #4773
In L*a*b* mode, the effect is much stronger pronounced as in RGB. It happens only if mode is set to "Aggressive".

[2018-09-03 18:26] TooWaBoo commented on #4764
Camera NR (or other settings like contrast, saturation...) has no effect on RAW images.

[2018-09-03 18:45] aferrero2707 commented on #4404
@Beep6581 @gaaned92 @heckflosse
If the optimization options for `Release` and `RelWithDebInfo` targets differ, then I think it is wrong. After all, the idea is to debug exactly the same code as the production code, and it is known that certain bugs behave differently depending on the optimization options.

I would have a different scheme to propose:
- for development branches, include the executab

[2018-09-03 19:40] gaaned92 commented on #4404
I have no definite position though I think it's an interesting proposal.
What I notice is that a build without symbol table is about 9GB wheras a build with symbol table is 187 MB. Thus the solution above should increase size of installation by about 180MB for a grand total of about 500MB.
I don't know if it is a problem now.

@aferrero2707 look at your gtk3 and gtkmm3 dlls. They seem to include a

[2018-09-03 21:11] Beep6581 commented on #4764
@rpittaro well the landscape images had FPNR (which appears to be LENR) turned off, while these white-frames have it turned on. You could try taking one shot with NR set to low and sending it to me.

@TooWaBoo that's not true for long-exposure noise reduction.

[2018-09-03 21:21] Hombre57 commented on #4035
@Beep6581 @TooWaBoo Done in commit b226c12.

[2018-09-03 21:23] Hombre57 commented on #4035
Btw, no complain so far, does it mean that you're okay with this solution ?

[2018-09-03 23:58] Beep6581 commented on #4035
@Hombre57 the `skip = 30` code is missing, so currently scrolling is unusably slow in Linux/X11.

[2018-09-04 01:49] rpittaro commented on #4764
Beep6581,
Will do. I wonder if the camera has “automatic “ LENR on long exposures. I took the saturated pics at 1/2 second exposure. The landscape photos where at “normal” exposure times.
I’ll upload a saturated pic at  a faster shutter speed with “normal “ NR, and one at low NR.
Regards,
Rick
https://filebin.net/wy6wgtnf871e2s22
From: Beep6581
Sent: Monday, September 03, 2018 2:11 PM
To: Beep6581

[2018-09-04 05:31] Hombre57 commented on #4035
@Beep6581 Ok, I'll be on IRC tonight, I'll appreciate if you or a linux user could "live test" my code.

[2018-09-04 07:09] Raoul-Kima commented on #4774
Thanks for the tips. But i'm using these images for scientific (bird identification) purposes, so I have concerns about using algorithms/setting that produce halos, or whose effect on other image details is complex and hard to understand (defringe).
But anyway, the main reason why I opened this issue was just to encourage increasing the maximum allowed correction values of the CA-Correction tool.

[2018-09-04 07:46] TooWaBoo commented on #4035
@Hombre57
I've tested the scrolled toolbars and found some weird behaviour. When you scroll back and forth sometimes the scrolling stucks and some buttons can't be clicked. You have to move out of the toolbar to make it work. Tested with RT and TooWaBlue theme.

I also suggest to remove the hard coded 2px space from the filebrowser in filecatalog.cc.
[code]
Because of these 2px the vertical scroll

[2018-09-04 10:54] Beep6581 commented on #4764
@rpittaro both of these new ISO400 images have LENR disabled. You might be right about FPNR kicking-in automatically, though I wouldn't expect that to happen at 1/2s. Please upload the whole set with LENR turned off, i.e. try keeping the exposure time faster than 1/30s (just a guess).

By the way, 5260 wasn't completely clipped.

[2018-09-04 15:12] Stampede opened #4775 "Detachable floating toolbox"
I'd like to be able to split off the right sidebar with all the tools into its own window. This way, I can put the tool window on a second monitor and dedicate more real estate to the editor window and the image. It especially makes sense if I rotate the monitor to work on an image in portrait orientation, which I never do in RT because the sidebar takes so much room then.

A histogram in its own

[2018-09-04 16:19] Beep6581 commented on #4762
The rendering intent combo doesn't work when using our profiles because they don't contain mapping tables.

Duplicate of #3118

[2018-09-04 16:19] #4762 closed, assigned to nobody

[2018-09-04 16:40] rpittaro commented on #4764
Will do when I get home from work . Also I have a general question concerning histogram displays in RawTherapee and other photo software (Capture NX-D ie.) Most cameras have 12 or more bits of pixel data (12 bits for the B700). My assumption is that the demosaicing algorithms are some sort of n by n (or n by m) 2d interpolating filters which would output a least a 12 bit value and if they take adv

[2018-09-04 16:47] heckflosse commented on #4764
@rpittaro

well, 2^12 = 4096 means to display a linear 12-bit histogram you would need 4096 pixels width. Of course it can be compressed to smaller size, but then it's not worth more than a 8-bit histogram display

[2018-09-04 17:22] heckflosse commented on #4774
@Raoul-Kima Increasing the range for manual raw ca correction from [-4;4] to e.g. [-8;8] is easy and I have no objections to do that. In my tests that already gives better results for your files.

Any objections from other devs?

[2018-09-04 17:22] Beep6581 commented on #4764
I will add to that, that you can generate histograms where every pixel represents one sample using G'MIC. As a histogram image 65535px wide is a bit hard to view, here is an example 1800px wide, 600px high, with the y ceiling at 4000.
[code]
![screenshot_20180904_191903](https://user-images.githubusercontent.com/5844619/45046776-7c6e4b80-b077-11e8-874e-420f477e7256.png)
RawTherapee:
![screenshot_2

[2018-09-04 20:26] rpittaro commented on #4764
So in all cases the full dynamic range is displayed but its just a matter of display resolution?
Regards,
Rick

From: Beep6581
Sent: Tuesday, September 4, 2018 10:22 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Nikon COOLPIX B700 magenta highlights related to green channel (#4764)

I will add to that, that you can generate histograms where every pixel repr

[2018-09-04 20:45] aferrero2707 commented on #4404
Dear developers, I have prepared a new version of the AppImage packages that fix some issues with the LensFun database loading and with the invocation of external editors (like GIMP).

It would be great if somebody could test those two features with the latest packages, and let me know if there are still some problems...

Thanks!

[2018-09-04 21:59] Hombre57 commented on #4035
@TooWaBoo Is it better now for the scrolling ? Do you use a mouse, a pen, or... ?

[2018-09-05 03:23] rpittaro commented on #4764
https://filebin.net/unwzdk3xwjhnrr85
1/20 seemed to turn LENR off according to the EXIF file. Didn’t know that info was in there.
Regards,
Rick

From: Beep6581
Sent: Tuesday, September 04, 2018 3:54 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Nikon COOLPIX B700 magenta highlights related to green channel (#4764)

@rpittaro both of these new ISO400 images

[2018-09-05 05:19] TooWaBoo commented on #4148
New update
[code]

[2018-09-05 05:32] Thanatomanic commented on #4148
Nothing that breaks due to the gtk update?

[2018-09-05 05:44] TooWaBoo commented on #4148
Right now I've found one issue. When hovering a thumbnail the file name tooltip is flickering. Still testing for other things.

[2018-09-05 08:29] gaaned92 commented on #4148
W10. Here I found no problem so far

[2018-09-05 08:34] TooWaBoo commented on #4148
@gaaned92
Did you do a clean compile?

**Collected Issues**
Filename tooltip on thumbnails and History tooltip are flickering.
Scrolling with the mouse wheel in the file browser, queue and filmstrip doesn't work anymore.
Scrolling with the mouse wheel when hovering a combobox (e.g. Toolpanel) doesn't work anymore.
Zooming with the mouse wheel in the preview doesn't work anymore.
Rounding of "em" v

[2018-09-05 08:58] Beep6581 opened #4776 "The default state of all tools and sub-tools should be collapsed"
When testing various branches, RT tends to expand all tools. I hope new users don't see this the first time they run RT - slider shock. It would look and feel better if tools were collapsed by default unless there is an explicit expanded saved state.

[2018-09-05 08:59] Beep6581 commented on #4404
Tested in Sabayon:
https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-dev-5.4-792-g3643e15.AppImage

Lensfun works fine, and "Edit current image in external editor" starts my GIMP-2.10.4 correctly.

[2018-09-05 09:11] heckflosse commented on #4774
How about this improvement for auto ca correction?

left is new code, right is old code,
![grafik](https://user-images.githubusercontent.com/13733487/45083475-360f0000-b0fc-11e8-8ee4-dee7e4da39b1.png)

[2018-09-05 09:24] Beep6581 commented on #4035
Tested 98fc85b, scrolling still works here in Sabayon/KDE, though I still experience the occasional freezing as reported in IRC and as reported above by @TooWaBoo

[2018-09-05 09:36] heckflosse commented on #4774
Here's the diff:

[code]

Of course we would need an iterations adjuster to control that...

[2018-09-05 11:19] heckflosse commented on #4774
here are some screenshots from new auto ca correction code

left without ca correction, right with 1 iteration of auto ca correction (old behaviour)
![grafik](https://user-images.githubusercontent.com/13733487/45089893-f5b87d80-b10d-11e8-8836-1a3de87b5f60.png)

left with 1 iteration of auto ca correction (old behaviour), right with 2 iterations
![grafik](https://user-images.githubusercontent.com/1

[2018-09-05 11:32] heckflosse commented on #4774
I created [rawcacorrection_iterate](https://github.com/Beep6581/RawTherapee/tree/rawcacorrection_iterate) branch in case someone wants to try the new code

[2018-09-05 11:37] TooWaBoo commented on #4035
@Hombre57
Tested and it's still freezing sometimes. I think this has todo with the tooltips. Sometimes it takes a couple of seconds to show the tooltips and then the scrolling works. I guess the toolbar is sometimes loosing focus when a tooltip tries to popup.

[2018-09-05 11:57] TooWaBoo commented on #4774
Looks really good.
When you are working on RAW-CA-Tool, can check if it's possible to prevent the desaturation when the tool is active, please?

[2018-09-05 12:04] heckflosse commented on #4774
@TooWaBoo I will check that

[2018-09-05 12:25] Raoul-Kima commented on #4774
Preventing desaturation or other colour changes would be great! I actually sometimes keep two versions of my images for this very issue, one with and one without CA-Correction. (Bird identification studies where tiny colour differences can be very important).

I'll try to have a look at your branch later today or tomorrow. Many Thanks!

[2018-09-05 13:34] heckflosse commented on #4774
@TooWaBoo It should be possible to reduce (not to prevent) the desaturation of raw ca correction.
Could you please open an issue for that and post example files, so we can test using the same files?

[2018-09-05 14:07] gaaned92 commented on #4148
@TooWaBoo I was much too fast and I notice the same issues as you. I have no time left to go on.

[2018-09-05 15:00] TooWaBoo commented on #4774
Okidoki 😄

[2018-09-05 15:39] TooWaBoo opened #4777 "Avoid desaturation and colour tint caused by RAW-CA correction"
The RAW-CA correction tool desaturates images. See https://github.com/Beep6581/RawTherapee/issues/4774#issuecomment-418732568
It would be great if the desaturation can be reduced. Ping @heckflosse
CA off
![ca-off](https://user-images.githubusercontent.com/13800920/45104188-cae02080-b131-11e8-837a-3004d1555a45.png)
CA on
![ca-on](https://user-images.githubusercontent.com/13800920/45104205-d3d0f200-

[2018-09-05 16:19] heckflosse opened #4778 "Vertical shift in before/after mode"
Using latest dev I get a vertical shift in before/after mode

![grafik](https://user-images.githubusercontent.com/13733487/45106905-3fb65900-b138-11e8-86a9-a7eae1eda49d.png)

Edit: This was with `RawTherapee` theme. Using `TooWaBlue` theme there is no shift.

[2018-09-05 17:19] heckflosse commented on #4774
About processing time of iterative raw auto ca correction:
On first thought one could assume that n iterations take n times of the processing time of one iteration.
Fortunately it's a bit better (not much) because one large memory allocation/deallocation is outside the iterations.
The processing time for n iterations is roughly the processing time of the first iteration + (n-1) times the processin

[2018-09-05 20:04] Hombre57 commented on #4035
@TooWaBoo @Beep6581 Still shooting in the dark then, since there's no freeze or focus problem here. Can we still commit ?

[2018-09-05 20:25] Beep6581 commented on #4035
@Hombre57 I think so, as it improves the situation.

[2018-09-05 20:36] Hombre57 commented on #4035
@Beep6581 Thanks, branch merged into dev and suppressed. Please close if ok for you.

[2018-09-05 20:39] Beep6581 commented on #4035
Sure. The freezing problem can be handled in a new clean bug-issue. I'll get you a video recording so you can see what we mean.

[2018-09-05 21:46] heckflosse commented on #4774
Reminder to myself:

It should be possible to further reduce processing time for second to nth iteration.

The current memory transfer is:

[code]

while an optimized code could reduce that to:

[code]

[2018-09-05 22:13] da-phil commented on #4035
@Hombre57 is this GTK function `set_propagate_natural_height` new?

I get a compiler error when I compile the current version from dev branch:
[code]

here is my lib version output from cmake
[code]

[2018-09-05 22:17] TooWaBoo commented on #4148
New update
[code]

[2018-09-05 23:35] TooWaBoo commented on #4777
@heckflosse
https://filebin.net/grdfzgriwg8tbsqy

[2018-09-06 01:30] nvki opened #4780 "Sony RX100 II dual-illuminant DCP"
I am attempting to generate a dual-illuminant dcp profile for my Sony RX100 II according to the wiki article. In RT, when picking a specific illuminant the profile looks ok, but when using interpolation the whitepoint is thrown way off. I've tried to convert the .arw to .dng before profile creation, but there remain intense color artifacts. Hence I am looking for input on how to resolve this probl

[2018-09-06 09:52] heckflosse commented on #4777
@TooWaBoo first result:

left is old code, middle is without ca correction, right is new code with `avoid desaturation`

![grafik](https://user-images.githubusercontent.com/13733487/45150038-3c1fe200-b1cb-11e8-8a0c-b8f2d4ebba60.png)

[2018-09-06 11:53] TooWaBoo commented on #4777
This looks awesome, Great job. 👍

[2018-09-06 12:17] TooWaBoo opened #4781 "Toolbar scroll bug workaround"
Played with the new scrolled toobars and found a possible workaround for the freeze.
First of all the toolbar freezes only if you scroll in the bottom part of the toolbar. (It looks like Gtk bug).
What I did is to add a huge margin to the bottom of the toolbar container and cut it off with the scrolled tool container, e.g.
[code]
With this workaround the toolbar doesn't freeze anymore. I've modifi

[2018-09-06 13:57] agriggio commented on #4777
@heckflosse Ingo, do we really need an option for this? Who could possibly want the colour shift introduced by the "old" behaviour?

[2018-09-06 14:04] heckflosse commented on #4777
@agriggio Alberto, I'm also fine without an option for this. @Beep6581 @Floessie @TooWaBoo @Hombre57 @Desmis @Thanatomanic @iliasg ?

[2018-09-06 14:07] Thanatomanic commented on #4777
Agreed with @agriggio to avoid colour shift by default.

[2018-09-06 14:17] heckflosse commented on #4777
@Thanatomanic It is default, but currently only for new files.

[2018-09-06 14:35] agriggio commented on #4777
To me the colour shift is a bug, so it seems strage that we have a checkbox that says "do you want to apply the bug fix?" :-)

[2018-09-06 14:58] TooWaBoo commented on #4777
Found a bug in Avoid color shift. I get a green circle in this picture .
Iteration = 2 and Avoid color shift = on.
![grafik](https://user-images.githubusercontent.com/13800920/45165476-33dc9c80-b1f5-11e8-9d78-3aaaa715d4d0.png)
https://filebin.net/kxo1638t5mzfl1qz

[2018-09-06 14:59] heckflosse commented on #4777
Let's complete the work on it first. It still has some bugs. Until they are solved it's very nice to have the option in gui to disable `avoid colour shift`. For example this file, right is with `avoid colour shift`, ouch

![grafik](https://user-images.githubusercontent.com/13733487/45165928-1a882000-b1f6-11e8-97a2-39cf1e0fa36c.png)

[2018-09-06 15:03] heckflosse commented on #4777
@TooWaBoo Thanks for the example. That should be easy to fix

[2018-09-06 15:18] agriggio commented on #4777
@heckflosse fair enough, that answers my question :)

[2018-09-06 15:20] TooWaBoo commented on #4777
...and another one.
https://filebin.net/rdjs84o0wwjehtc3
![grafik](https://user-images.githubusercontent.com/13800920/45166840-37bdee00-b1f8-11e8-9de3-f25906969149.png)

[2018-09-06 15:27] heckflosse commented on #4777
Fix follows soon

[2018-09-06 15:59] heckflosse commented on #4777
Fixed.

[2018-09-06 16:05] heckflosse opened #4782 "Deleting find criteria in file browser by pressing the x some times does not work in TooWaBlue theme"
To reproduce:

Use TooWaBlue theme
Use SETM (may also happen using METM, but didn't test)
enter `nrw` as find string and hit enter
open a file
go back to filebrowser
press the x next to the find => does not reset

Works fine in RawTherapee theme

@TooWaBoo

[2018-09-06 16:19] heckflosse commented on #4777
I just detected a nice side effect from using large number (e.g. 5) of raw ca correction iterations:
It brings out some details in LED blue regions:

Left without raw ca correction, right with raw auto ca correction 5 iterations
![grafik](https://user-images.githubusercontent.com/13733487/45170891-42c94c00-b201-11e8-87fd-89a550c93ab0.png)

[2018-09-06 16:59] TooWaBoo commented on #4782
Thanks for reporting. I will check.

[2018-09-06 18:00] TooWaBoo commented on #4782
Found the culprit. Fix coming with next update.

[2018-09-06 18:04] Benitoite commented on #4781
No problems with repo TWB themes or Scroll_test on macOS (gtk 3.22.30) here.

[2018-09-06 18:22] TooWaBoo commented on #4777
Tested, works fine. Merge it. 😄

[2018-09-06 18:28] heckflosse commented on #4777
@TooWaBoo Let's wait a day or two :laughing:

[2018-09-06 19:31] TooWaBoo commented on #4148
New update
[code]

[2018-09-06 19:32] Hombre57 commented on #4781
@TooWaBoo What's your GTK and OS version ?

[2018-09-06 19:34] agriggio commented on #4777
I'm still :-1: on merging with the parameter, fwiw. I'd rather wait a bit more, make sure that there are no side effects, and get rid of the parameter when it's ready. just my 2c of course

[2018-09-06 19:36] Hombre57 commented on #4035
@da-phil @TooWaBoo It has been introduced in Gtk  3.22. I commented out this function to test if it's working fine, and ended up with the scrolling freeze (see also #4781).

I'm trying to replace this function by a custom made one...

[2018-09-06 19:39] heckflosse commented on #4777
@agriggio I agree if there are no side effects. For example we have to test with high ISO files too.

[2018-09-06 19:56] TooWaBoo commented on #4781
@Hombre57
Win10 x64 and Gtk+3.24.0

[2018-09-06 20:25] Hombre57 commented on #4781
@TooWaBoo That's weird ! 3.22 here and it works better than in 3.24 !? I'm still trying to create a better workaround, usable for Gtk3.18 users too.

[2018-09-06 20:55] Benitoite commented on #4781
Upgraded to gtk+3.24.0 on macOS and have flickering tooltip titles also.  Had one non-repeatable crash scrolling a toolbar while on TWB-dark. Scroll_test still has flickering tooltip titles.

[2018-09-06 21:11] Hombre57 commented on #4781
@TooWaBoo Does the new `scrolled-toolbar-fix` branch fix the freeze problem (w/o your patch) ?

[2018-09-06 22:18] Hombre57 commented on #4035
@da-phil Could you test the `scrolled-toolbar-fix` branch ? If you hover the lower part of the tool bar, does it still scroll with the mouse wheel ?

[2018-09-06 23:06] TooWaBoo commented on #4781
@Benitoite
I've found these issues in RT with Gtk+3.24.0
_Filename tooltip over thumbnails and History tooltip are flickering.
Scrolling with the mouse wheel in the file browser and filmstrip doesn't work anymore.
Zooming with the mouse wheel in the preview doesn't work anymore.
Rounding of "em" values in themes has changed. (this affects only the TWB theme)_

@Hombre57
I will test.

[2018-09-06 23:30] TooWaBoo commented on #4781
@Hombre57
The answer is here: https://github.com/Beep6581/RawTherapee/issues/4035#issuecomment-419275367

[2018-09-06 23:39] TooWaBoo commented on #4035
@Hombre57
Tested but it's still freezing.

Just a thought. Could it be that there is a hidden scrollbar overlaying the buttons? This would explain while freeze only happens at the bottom part of the buttons.

[2018-09-06 23:53] Hombre57 commented on #4781
@TooWaBoo Damn it!

I tried again to reproduce the error with dev minus the unsupported line, but now it works ! So I don't understand why it froze before and how to reproduce.

Could you start RT from a com and line console, but executing this first : `set GTK_DEBUG=interactive`. Then use the top left icon of the inspector window to locate the toolbar's widget. It should have the same height than

[2018-09-07 00:40] TooWaBoo commented on #4781
@Hombre57
There is no inspector. I'm on Windows and have only MSYS installed.

[2018-09-07 05:03] agriggio commented on #4777
I'll give it a try when I have the chance

[2018-09-07 06:13] Desmis commented on #4777
I agree with Ingo, and test if there are no side effects :)

[2018-09-07 07:40] muellesi opened #4783 "Windows installer: Add Registry entry with full executable path"
Over at GIMP, there are multiple issues with the RawTherapee import plugin. One of them - RawTherapee's console not closing without user interaction is supposed to be fixed with #4514 I think?

But there is still one problem remaining: As I wrote in https://gitlab.gnome.org/GNOME/gimp/issues/1237, the plugin uses either PATH or a designated environment variable to find the RawTherapee executable w

[2018-09-07 08:31] heckflosse commented on #4781
@TooWaBoo in msys2 comandline execute this (no `set`)

[code]

[2018-09-07 08:31] Beep6581 commented on #4783
To be tested by someone with Windows:
[code]

[2018-09-07 09:53] TooWaBoo commented on #4781
@heckflosse
Thanks, it works
@Hombre57
Bingo, I've found the culprit, like my first thought there is a hidden scrollbar which makes this trouble.
In css it can be fixed with this simple style.
[code]
![grafik](https://user-images.githubusercontent.com/13800920/45213582-3d6b1080-b298-11e8-823c-0ce347fe273e.png)

[2018-09-07 10:03] muellesi commented on #4783
Thanks for the quick reaction! I just tested it and the key gets created correctly. The only problem is that the GIMP helper function that does the registry lookup has HKLM  hard coded for the root of the key (which seems to be the standard: On my PC, the HKLM version has 80 subkeys, the HKCU version only 5).  Since this patch creates the new value in HKCU, this helper function would not work the

[2018-09-07 10:10] muellesi commented on #4783
Oh and I think `rawtherapee.exe` could also be replaced with {#MyAppExeName}:

[code]

[2018-09-07 10:20] Beep6581 commented on #4783
HKLM requires admin privileges. As far as I know, the RT installer does not require admin privileges, so using HKLM would force it to. If that is the case, then in my opinion it is the helper function which needs to be patched.

[2018-09-07 10:26] Beep6581 commented on #4781
Using CSS to hack around UI issues should be done as a last resort.

1. What exactly is the problem? Scrolling doesn't work when using GTK+ 3.24 when hovering over the area into which a horizontal scrollbar would appear, is that correct?
2. Is it really a bug, or are we doing something wrong?
3. Can it be fixed in RT's GTK+ code?
4. Have you reported it upstream to GTK+? If so, please provide a li

[2018-09-07 10:56] TooWaBoo commented on #4781
1. Yes but it's not related to the Gtk version
2. That's what we try to figure out
3. I don't know
4. I'm the wrong person to do that. I didn't write the code and I don't understand the code in details

[2018-09-07 11:58] muellesi commented on #4783
Ok, good point. It shouldn't be a big problem to change that helper. Thanks again for the quick responses :)

[2018-09-07 12:16] TooWaBoo commented on #4781
Only for testing.
[RawTherapeeScrollfix-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/2360987/RawTherapeeScrollfix-GTK3-20_.css.txt)
[TooWaBlueScrollfix-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/2360988/TooWaBlueScrollfix-GTK3-20_.css.txt)

[2018-09-07 12:46] TooWaBoo commented on #4783
@Beep6581
The RT installer require admin privileges 'cause it's installing into the Program folder. Every application which wants to write into this folder needs admin privileges.

[2018-09-07 13:03] muellesi commented on #4783
@TooWaBoo I tried this before writing my last comment: You actually can install RawTherapee without admin privileges. If you are on a limited user account, it does not show the UAC panel and lets you install to any folder your current user has access to. Trying to install to the Program folder will fail with an access denied error of course.

[2018-09-07 13:10] TooWaBoo commented on #4148
New update
`msys2-runtime-2.11.1-1`

[code]

[2018-09-07 13:37] TooWaBoo commented on #4783
@muellesi
Yes, you are right but the Program folder is the default. I also suggest to install into the Program folder for security reason. If installing into other folders with low privileges, it's not protected by UAC.

[2018-09-07 21:06] TooWaBoo opened #4784 "GTK+3.24.1 issues"
**This is a list of issues with GTK+3.24.1 and RT**
W = Windows, M = MacOS, L = Linux
1. ~~Filename tooltip on thumbnails and History tooltip are flickering. (W/M)~~
2. ~~Scrolling with the mouse wheel in the file browser, queue and filmstrip doesn't work anymore. (W)~~
3. ~~Scrolling with the mouse wheel when hovering a combobox (e.g. Toolpanel) doesn't work anymore. (W)~~
4. ~~Zooming with the m

[2018-09-07 22:32] Benitoite commented on #4781
This flickering appears to be a commonality between windows and mac.

Testing Scrollfix on macOS, seems to scroll fine.

Occasionally do get a crash involving the quartz backend: https://gitlab.gnome.org/GNOME/gtk/issues/1312

[2018-09-08 00:42] TooWaBoo commented on #4781
@Benitoite
Thanks for the feedback.
btw. Can you check if these issues https://github.com/Beep6581/RawTherapee/issues/4784 exists on MacOS too and leave a comment there, please?

[2018-09-08 21:35] kaelte opened #4785 "Leica Camera AG LEICA M MONOCHROM (Typ 246) support"
[code]
[code]
[Raw Therappee Version](https://rawtherapee.com/releases_head/mac/RawTherapee_OSX_10.9_64_5.4.zip)
[code]
[Sample Photos (DNG,JPD,PP3) DownLoad](https://cncloud.zaclys.com/index.php/s/tQC9tERfpmEsSJA)

Photos in DNG taken with LEICA M Monochrom (Typ 246) do not look right. The following JPG has been created using RT without any image processing. The DNG looks the same on the screen.

[2018-09-09 08:45] Benitoite commented on #4785
Same result with latest dev/Mac and dev/Debian docker container.

[2018-09-09 08:57] da-phil commented on #4035
@Hombre57 I can't reproduce the freeze, I hovered over all icons in the toolbar at the bottom (save image to show/hide all panels) and also tried to scroll with the mouse wheel.

build version:
[code]

lib versions:
[code]

[2018-09-09 09:04] Hombre57 commented on #4035
@da-phil Thanks, at least it works fine for Gtk3.18 now. I've updated my toolchain yesterday and will try to fix the bug today's for Gtk3.24.

[2018-09-09 11:08] heckflosse commented on #4777
I just pushed new code which executes `avoid colour shift` per iteration instead of once after all iterations.
This improves the correction of the colour shift a bit when using a large number of iterations though there is still some desaturation when using large number of iterations.

Left is old code with 10 iterations, middle is without raw ca correction, right is new code with 10 iterations.
![

[2018-09-09 12:54] heckflosse commented on #4785
This patch fixes it:
[code]
![grafik](https://user-images.githubusercontent.com/13733487/45264643-151e1600-b440-11e8-9532-3f4e158a575b.png)

[2018-09-09 18:11] TooWaBoo commented on #4148
New update
[code]

[2018-09-09 19:07] Benitoite commented on #4785
I can make a test build for Mac but it will be with gtk 3.24.0, which has some bugs with the Mac/quartz backend. https://gitlab.gnome.org/GNOME/gtk/issues/1312

[2018-09-09 19:56] Hombre57 commented on #4713
I have this problem too. I can compile thanks to @TooWaBoo 's _patch_, but I'd set a top priority for a clean bugfix (if anyone knows how to fix that).

[2018-09-09 19:59] Hombre57 commented on #4713
I spoke too fast : it can link but RT doesn't start at all. I have to know how to revert to a previous version...

[2018-09-09 22:58] Benitoite commented on #4784
There is a Mac-only issue involving the quartz backend in 3.24.0, RT occasionally crashes when dragging the window around, etc.  The gtk dev who wrote the backend code there has reported it to gitlab.gnome.org: https://gitlab.gnome.org/GNOME/gtk/issues/1312

[2018-09-10 02:46] Benitoite commented on #4785
@heckflosse Patch works fine.
@kaelte In case you want to try, here is a patched development build. [...]

Goofing around:
![screen shot 2018-09-09 at 7 02 59 pm](https://user-images.githubusercontent.com/17919239/45272738-e7e35f00-b463-11e8-8be0-c1fdd377aef9.jpg)

[2018-09-10 05:12] TooWaBoo commented on #4784
@Benitoite
Thanks, what about the other issues?

[2018-09-10 05:51] Benitoite commented on #4784
2, 3, and 4 don’t seem to be any problem on Mac.

[2018-09-10 07:09] agriggio opened #4786 "Scrolled toolbar problem with GTK+ 3.18"
The constructor of `MyScrolledToolbar` calls the method `set_propagate_natural_height`; this seems to be not available on GTK+ 3.18. I had to comment-out the line to make RT compile... are we dropping support for 3.18? I hope not, that's the version I'm still using.

[2018-09-10 07:34] muellesi commented on #4783
Alright, I proposed a patch to the GIMP project that should work with the key in HKCU: https://gitlab.gnome.org/GNOME/gimp/issues/2179

I hope I will be able to test both patches in combination within the next few days.

@TooWaBoo Of course it is always better to use the Programs folder. But if it was possible to install RT without admin privileges until now, I get why Beep6581 wouldn't want to ch

[2018-09-10 07:57] Benitoite commented on #4786
FWIU, 3.24.x is supposed to be the ultimate (the final) gtk+3 version.  Previously 3.22.x was the ultimate version.  It seems like the trend is to migrate to 3.24.x for RT 5.5, if I’m following the roadmap correctly.  If RT team really intended to require 3.24.x we should adjust CMakeLists.txt.

[2018-09-10 07:59] Floessie commented on #4035
@Hombre57 I get a new GTK warning:

[code]

Best,
Flössie

[2018-09-10 08:58] heckflosse commented on #4785
Can one of the contributors please commit this patch? I'm on a different branch atm and don't want to switch.

[2018-09-10 09:01] Beep6581 commented on #4786
I think RawTherapee 5.5 should be able to compile using GTK+ 3.18 as a significant number of distribution releases made "not so long ago" still only support it, e.g. Ubuntu 16.04 LTS, and most releases only support 3.22. No releases support 3.24 yet.

https://distrowatch.com/search.php?pkg=gtk%2B&relation=similar&pkgver=3.24&distrorange=InLatest#pkgsearch

[2018-09-10 09:03] agriggio commented on #4786
:+1: to what @Beep6581 said. I'm using a distro based on Ubuntu 16.04, and I have no plan to upgrade for the foreseeable future...

[2018-09-10 09:20] Floessie commented on #4785
@heckflosse Why don't you stash?

[2018-09-10 09:32] heckflosse commented on #4785
@Floessie because I didn't know about it :frowning_face:

[2018-09-10 09:35] Benitoite commented on #4785
@heckflosse
https://github.com/Beep6581/RawTherapee/pull/4787

[2018-09-10 09:41] Floessie commented on #4785
@heckflosse Glad, my question opened up the path to enlightenment. :bulb: :wink:

[2018-09-10 09:48] heckflosse commented on #4785
fixed with 0aa1158

[2018-09-10 09:48] #4785 closed, assigned to nobody

[2018-09-10 10:31] muellesi commented on #4783
Ok, I had some spare time and thanks to user qogniw in IRC, I was able to compile and package RT to test everything. And so far it looks good. RT is detected by GIMP out of the box, there is no blocking console window anymore and I was able to open a .CR2 (Canon RAW format) file in GIMP via RT.

This is the change I did my tests with:

[code]

[2018-09-10 10:39] Benitoite commented on #4786
I think a lot of people have used 3.24 already because it showed up in msys2, the windows distribution.  I did build it on Mac from gitlab.gnome.org to test what @TooWaBoo and @Hombre57 were doing with it.  They can probably then backport to support 3.18 ?

[2018-09-10 11:56] heckflosse opened #4788 "Cancel button in SaveAs dialog doesn't respond on first click"
I have to click twice. Same for esc key in SaveAs dialog

[2018-09-10 12:31] Jehan commented on #4783
Hi All!

A quick note to say that we merged @muellesi's patch in GIMP's source. All we need is to make sure that RawTherapeee actually sets the key now (otherwise, it's useless). :-)

As for the HKCU vs HKLM discussion: as far as I understand, RT can be installed both with admin or user privileges. If installed as admin (hence in Program Folder), is the key set in HKCU set for all users (correct m

[2018-09-10 13:08] TooWaBoo commented on #4788
It's not a bug, it's a feature.
If you have a look on the filename on top, you will see a list of saved files. The first click is to close this list.
This list appears only for files where the filename starts with the one in the entry field.
![grafik](https://user-images.githubusercontent.com/13800920/45299428-de153680-b50b-11e8-87a6-c2e01f17013a.png)

[2018-09-10 13:16] heckflosse commented on #4788
@TooWaBoo Ok, closing.

[2018-09-10 13:16] #4788 closed, assigned to nobody

[2018-09-10 13:27] heckflosse opened #4789 "SaveAs Dialog shows TIFF and JPEG options when PNG (16-bit) is selected"
![grafik](https://user-images.githubusercontent.com/13733487/45299680-a22ea100-b50c-11e8-8688-c414f425eff1.png)

This patch fixes it

[code]

[2018-09-10 13:34] heckflosse commented on #4789
Same bug is in queue. Because the widget is used in saveas and queue, the patch fixes both bugs.

[2018-09-10 15:46] muellesi commented on #4783
Oh, I just realized that the plugin also looks for the cli for thumbnail generation, so a second key would be required:

[code]

Regarding the dynamic HKLM/HKCU switching: I just read through the inno setup documentation and some StackOverflow Posts and did not find a way to conveniently switch between install options (i.e. Creating registry keys in different root keys) depending on the user's pri

[2018-09-10 17:26] #4562 closed, assigned to nobody

[2018-09-10 17:28] muellesi commented on #4783
Ok, I think I found a solution that should work after all:

https://github.com/muellesi/RawTherapee/commit/163c3aba0a69ed70e7e980c2fda560b4b87ec9e7

This patch adds two new Radio boxes to the setup that allows the user to switch between multi user and single user setup. As you see, I also use that option to decide where to create all of the other relevant items like the desktop icon and all of the

[2018-09-10 17:29] #4755 closed, assigned to nobody

[2018-09-10 17:56] heckflosse commented on #4783
:+1: for a pull request

[2018-09-10 18:57] Benitoite commented on #4789
@heckflosse thanks for the patch. Save format panel working ok on mac now. Here's a pull request. https://github.com/Beep6581/RawTherapee/pull/4791

[2018-09-10 18:58] Hombre57 commented on #4035
@Floessie Please provide your AboutThisBuild and if possible tell me when this appears : initial start or RT and/or when opening a new editor ? I don't have this issue.

[2018-09-10 19:07] TooWaBoo commented on #4148
New update
`msys2-runtime-2.11.1-2`

`mingw-w64-x86_64-zlib-1.2.11-4`

[2018-09-10 22:27] Hombre57 commented on #4786
@agriggio @Benitoite I've merged `scrolled-toolbar-fix` into dev to fix this problem. As reported by @Floessie , a `Gtk-WARNING` may appear, I'll try to solve that ASAP.

@Beep6581 The thing is that for newcomers, MSYS2 only provide the bleeding edge version of Gtk and may prevent them to build RT on Windows if we stick to a previous version, not available anymore.

[2018-09-10 22:35] heckflosse commented on #4786
@Hombre57 as long as we stay backwards compatible to 3.18, I see no problem in supporting 3.24

[2018-09-11 06:39] Floessie commented on #4035
@Hombre57 It appears whenever I open a new editor. Here's my `AboutThisBuild.txt`:

[code]

HTH,
Flössie

[2018-09-11 06:43] Floessie commented on #4789
Thanks, Ingo! Merged in ea992fc91f32c09e5f2c89d4d56c1472ade4ab6f.

[2018-09-11 06:43] #4789 closed, assigned to Floessie, heckflosse

[2018-09-11 08:28] eprovst commented on #4763
**Chrominance chart:**
As noted in my earlier comment a chrominance chart might be a better fit withing RT, as it has the same dimensions as a histogram. On the horizontal axis we have the hue and on the vertical axis saturation (bottom being 0% and top 100%). On my sketch it seems as if this would have to create a blob however in practice all pixels in the picture would be plotted which would cre

[2018-09-11 11:53] kaelte commented on #4785
Thanks to all for your work. @Benitoite your build works fine. Thanks!

[2018-09-11 12:07] Beep6581 commented on #4789
This part has a tendency to get broken - #4463

[2018-09-11 12:10] Beep6581 commented on #4522
Changing milestone due to lack of testing and possibility of side-effects.

[2018-09-11 12:10] heckflosse commented on #4789
I will post a better fix today.

[2018-09-11 12:35] Beep6581 commented on #4446
I accidentally ran into this issue the other day using more or less `5.4-806-g0aa1158bc`. I ended up with a file with an incorrect extension - examining it with `hexdump` and `identify` showed that it was a TIFF file with a JPEG extension. There was no warning about a wrong extension.

Maybe I accidentally did what @cuniek [described](https://github.com/Beep6581/RawTherapee/issues/4446#issuecommen

[2018-09-11 12:46] Beep6581 commented on #4749
Re-opened due to red, green, blue, luminance, chromaticity and raw histogram states not being remembered. Only the histogram mode and RGB indicator bar were saved.
I only found these in my options file:
[code]

[2018-09-11 12:50] Beep6581 commented on #4749
Ah, I see in the git log that commit f59e7c3 which introduced saving these settings was reverted by commit 30b36e637.
Testing the branch now.

[2018-09-11 12:51] Floessie commented on #4446
@Beep6581 Ah, thanks for reminding me about this one. I'm completely busy ATM and can't promise to have a second look at the issue this week, though...

[2018-09-11 13:09] Floessie commented on #4789
@Beep6581 @heckflosse Having an `enum class SaveFormat` and a `switch (SaveFormat(act))` without `default:` here (plus a `bool proceed` for the good cases), would make things much harder to forget.

[2018-09-11 13:19] Beep6581 commented on #4749
I found no issues with the branch.

[2018-09-11 13:29] heckflosse commented on #4789
@Floessie Here's a patch I made before your `enum` suggestion:

[code]

[2018-09-11 13:57] Floessie commented on #4789
I love the `static_cast<int>`, but not so much the in-header-initialization, because each time we extend the list, all depending `.cc` files have to be recompiled. Without `enum` you still have "magic" numbers like in `if (sel == 2 || sel == 3)`...

How about storing template `sf`s in the array? Then everything should fall into place.

[2018-09-11 14:11] TooWaBoo commented on #4148
New update
[code]

[2018-09-11 14:29] Beep6581 opened #4792 "Compressed 16-bit TIFF output broken"
Regression: saving a compressed 16-bit TIFF results in a corrupt image.
All other modes work fine.

![screenshot_20180911_163018](https://user-images.githubusercontent.com/5844619/45366811-01111a80-b5e0-11e8-98d1-83fe216cf83d.png)

[code]

[2018-09-11 14:53] heckflosse commented on #4792
Confirmed. Looking

[2018-09-11 15:11] #4792 closed, assigned to nobody

[2018-09-11 15:13] agriggio commented on #4777
@heckflosse I tested a little bit, and in general I like the "avoid colour shift" feature! :+1:
I don't know if this is a known problem, but I got some serious artifacts when pushing the number of iterations too high. This happens regardless of the "avoid colour shift" setting. Here is a raw file and a couple of renderings (neutral profile, just raw CA correction enabled with 10 iterations):
https

[2018-09-11 15:14] heckflosse commented on #4789
@Floessie It may be easier if you provide some lines of code or a patch ;-)

[2018-09-11 15:15] heckflosse commented on #4777
@agriggio Alberto, thanks for testing. I set the max. number of iterations to 10 only for testing. We should reduce it to 5 or less imho.

[2018-09-11 16:05] Kildor opened #4793 "Rawtherapee 5.4-817-g696930387 Winx64 does not start."
Today I updated my mingw64 installation (pacman -Su) and recompiled RT.

When I tried to run it the program doesn't start. When I run it with GDB I got this message:
[code]
Cleaning appdata folder and settings do not help.
My system is Win10.

I don't know what other information I can provide.
[code]

[2018-09-11 16:17] Beep6581 commented on #4793
@Kildor
1. Delete the build folder and rebuild - paste the full build log, from "cmake" till end of compilation and linking.
2. Please paste the full backtrace after typing `bt full` when running a **debug** build from GDB.

[2018-09-11 16:21] heckflosse commented on #4793
@Kildor you've to revert lensfun

[code]

[2018-09-11 16:23] heckflosse commented on #4793
@Kildor maybe also
[code]

[2018-09-11 16:35] Floessie commented on #4789
@heckflosse Sure, Ingo, but not today. Anyway, I'll assign myself to this issue and push something based on your patch within the next days.

[2018-09-11 16:52] TooWaBoo commented on #4782
@heckflosse
Created a PR. You can close this issue.

[2018-09-11 17:50] Beep6581 opened #4795 "Deactivate Retinex when editing non-raw image"
#3704 deactivates tools which are unusable with the opened image type (non-raw, raw, or a specific type thereof), so in that fashion the Retinex tool should be deactivated for non-raw images.

Specifically, the tool should be disabled (so that the icon is not in a misleading "on" state), collapsed (so that it doesn't take up vertical space), and set insensitive.

[2018-09-11 19:12] Benitoite commented on #4785
@kaelte
https://filebin.net/fn5divy9zkbgczzo/RawTherapee_OSX_10.9_64_5.4-817-g696930387.zip?t=e47wryvw
Here is a new build, stable gtk 3.22.30 included.

[2018-09-11 19:13] heckflosse commented on #4777
I tested the new ca correction code with a lot of files. My findings:

1.) I detected no case, where `avoid colour shift` gave a worse output
2.) for images with moderate ca, 2 iterations almost always gives the best result
3.) for images wit really heavy ca, more than 2 iterations are needed but also can lead to artifacts
4.) for images without or with very low ca even 1 iteration (default before

[2018-09-11 20:06] Floessie commented on #4789
@heckflosse Here's a little bedtime treat. That could be further consolidated, but not today (this time for real).

[2018-09-11 21:04] Beep6581 commented on #4777
I tested ~50 raw photos mostly from Pentax and Sony but also from a bunch of other cameras.
* A default of 2 iterations worked very well in most cases.
* The more iterations, the more red/blue detail would be altered which should not be altered. Not all photos have such detail.
* Using more than 3 iterations in most cases was a sign that I was trying to fight something which was not normal CA, in

[2018-09-11 21:19] heckflosse commented on #4777
Ok, I will reduce the max. number of iterations to 5 then and hard code 'avoid colour shift'. In first step I will remove 'avoid colour shift' from gui only and keep the procparams/paramsedited stuff for some weeks.
That will allow easier testing of cases, where avoid colour shift could be a culprit.

[2018-09-11 21:31] Hombre57 commented on #4784
I've opened an issue in Gtk project for n°3 : https://gitlab.gnome.org/GNOME/gtk/issues/1330.

N°2, 4 and 6 are solved here : the scroll event is a `GTK_SMOOTH_SCROLL` which wasn't handled (and it may be a Gtk bug IMHO : it shouldn't emulate a smooth scroll when using a mouse). I'll post a patch soon.

@Benitoite What's your pointing device ? Standard mouse ?

[2018-09-11 21:46] Raoul-Kima commented on #4774
@heckflosse
I now finally could check out this branch myself as I found out that there is a compiled (but not totally recent) version of if available. (didn't manage to learn and setup for compiling myself yet). As far as I can tell from the commit history nothing that I'm writing about below was changed since then, but I might be wrong as I'm unfamiliar with github and the rawTherapee source.

I'

[2018-09-11 21:51] heckflosse commented on #4774
@Raoul-Kima

That clearly looks like a bug. Though I think it's an old bug...

[2018-09-11 21:55] heckflosse commented on #4774
@Raoul-Kima

I didn't test manual CA correction for a while. Lets's discuss this in a different issue (please create one)

[2018-09-11 22:09] heckflosse commented on #4774
@Raoul-Kima about the red-channel images. raw ca-correction changes red and blue raw data. The amount of change is not equal (there wouldn't be a correction if the amound would be equal). Greens are kept unchanged.

[2018-09-12 00:04] Kildor commented on #4793
I reverted jpeg-turbo (otherwise it didn't compile). Also I reverted lensfun (and got error about lensfun database version).

https://pastebin.com/txhL3dDz -- compile log

https://pastebin.com/1hzYLicF -- GDB log. There is no stacktrace.

Interesting thing: there is no errors with rawtherapee running under GDB if no dlls are in rt folder. But, if I copy dlls from mingw bin folder, I get this probl

[2018-09-12 03:34] Benitoite commented on #4784
@hombre standard Logitech wired usb mouse with scroll wheel.

[2018-09-12 05:54] Desmis commented on #4777
With my usual raws, 1 or 2 iterations are enough  :)

[2018-09-12 07:54] Raoul-Kima opened #4798 "unsharpness of colour channels created by ca-correction"
I noticed that CA-Correction can make the colour channels in the image noticeably softer. I think that to some degree this is unaviodable because CA-correction involves shifting image content by fractional pixels. However, I wondered if the blur created by the RT CA-Correction is more than necessary.

To be clear, I'm not sure if this can be improved, and I probably wouldn't have opened an issue f

[2018-09-12 08:00] Raoul-Kima commented on #4774
I opened issue #4798 for the discussion of unsharpness caused by CA-correction.

[2018-09-12 09:23] Beep6581 commented on #4782
@TooWaBoo could you please explain what had changed that required these em changes and where this change was, and show a before/after screenshot of the problem with the old values?

[2018-09-12 09:37] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-lz4-1.8.3-1`

[2018-09-12 09:44] Beep6581 commented on #4404
Hi @gaaned92 , you mentioned that some icons no longer need to be copied and other build process changes - are our Windows build instructions up to date and valid?
http://rawpedia.rawtherapee.com/Windows

[2018-09-12 10:01] Beep6581 commented on #4793
Thank you. The build log uses `-DCMAKE_BUILD_TYPE="release"`, I assume you used `-DCMAKE_BUILD_TYPE="debug"` for the build you ran through GDB? Otherwise looks fine.
If our Windows build instructions are [up to date](https://github.com/Beep6581/RawTherapee/issues/4404#issuecomment-420582941), maybe a DLL version conflict?

[2018-09-12 10:10] Kildor commented on #4793
Yes.

May be.
There are some dlls not listed in rawpedia which are requested by RT. Also if I delete all dlls and copy requested ones trying to start the program, I do not copy some of them listed in rawpedia.

[2018-09-12 10:48] TooWaBoo commented on #4782
@Beep6581
[code]
This looks easy to fix but the differences in combinations of borders, margin, paddings, min-height, min-width or if the size of an object is calculatetd from inside to outside or vice versa makes it impossible to make it work for the old and new GTK+.

To avoid this the only way I've found is to use 18 decimals for an em-value. There are still some slightly differences between GT

[2018-09-12 10:52] Beep6581 commented on #4782
It's this GTK+ issue, affects `min-(width|height)`:
https://gitlab.gnome.org/GNOME/gtk/issues/1088

[2018-09-12 11:09] TooWaBoo commented on #4782
That's exactly the point.

[2018-09-12 13:26] heckflosse commented on #4777
Here's an example (very littel ca) to show the effect of the last fix:

left is 2 iterations without last fix (small greenish border caused by wrong interpolation)
middle is without ca correction (small reddish border)
right is 2 iterations with last fix (perfect)

![grafik](https://user-images.githubusercontent.com/13733487/45427786-09308f00-b6a0-11e8-8a39-ff21c86aef87.png)

[2018-09-12 14:33] Raoul-Kima opened #4799 "Highlight clipping warning in File Browser"
I often find myself in a situation where for a group of similar images I open one of the them, then carefully create a processing profile, and then go back to the file browser and copy-paste that profile to the rest of the images and directly send them to the queue. One of the few parameters which I often want to adapt for each image individually in such a situation is the exposure correction. Thi

[2018-09-12 18:17] Floessie commented on #4789
Continued in #4800.

[2018-09-12 18:50] Hombre57 commented on #4784
@TooWaBoo (ping @Beep6581) You've added W/M/L tag to each entry, Does it mean that OS not listed are not affected, or that we don't know ? I have to answer in GNOME's issue about n°3 in Linux.

[2018-09-12 18:59] Hombre57 commented on #4784
About n°2, 4 and 6 : this may evolve soon with [a change in Gtk](https://gitlab.gnome.org/GNOME/gtk/merge_requests/335), hopefully in a good way (but that's not sure).

[2018-09-12 19:10] #4795 closed, assigned to Beep6581

[2018-09-12 19:11] Beep6581 commented on #4784
@Hombre57 GTK+ 3.24 will not be available in my distro any time soon, so I cannot help.

[2018-09-12 19:11] TooWaBoo commented on #4784
That means "we don't know."

[2018-09-12 21:56] heckflosse opened #4801 "Support for Nikon Z7 uncompressed NEF files"
Currently only compressed files from Nikon Z7 are decoded correctly.
This first patch adds support for 12-bit uncompressed files. Still working on support for 14-bit uncompressed files.

[code]

[2018-09-12 21:58] heckflosse commented on #4801
I forgot to mention that you can find Nikon Z7 files on [raw.pixls.us](https://raw.pixls.us). Just search for `nikon z`

[2018-09-13 11:23] TooWaBoo commented on #4793
This is my list of .dlls
[code]

[2018-09-13 12:01] heckflosse commented on #4798
@Raoul-Kima Can you please retest with latest code from `rawcacorrection_iterate` branch?
The old bug in raw ca correction I fixed in that branch gave a wrong interpolation for negative shifts (left or up).

[2018-09-13 15:38] TooWaBoo opened #4803 "Icon resize"
GTK supports icon resize in css.
I made some qick and dirty tests how it looks like.
Here comes two extrem examples.
Font size 7
![unbenannt7](https://user-images.githubusercontent.com/13800920/45498103-a7dcee80-b779-11e8-92c2-c1ee9f518c2b.PNG)
Font size 18
![unbenannt](https://user-images.githubusercontent.com/13800920/45498122-b3c8b080-b779-11e8-8a7d-788485c3f8d8.PNG)

But there is a problem. I

[2018-09-13 21:11] Hombre57 commented on #4803
@TooWaBoo

Sorry but I don't understand what you mean. Could you explain what you're trying to do ?

[2018-09-13 22:19] TooWaBoo commented on #4803
I want to scale the icons for differnt DPI/font size.
Right now the TWB theme scales the buttons but the icons don't scale.

I don't have the information for DPI or font size in css. Setting a class to the window at start time which reperents this informations allowes me to scale the icons.

eg. for 96dpi set a class `.scale-1`, for 120dpi set a class` .scale-2` ...

Run RT with TWB theme and set

[2018-09-14 05:15] Thanatomanic commented on #4803
If GTK+ CSS styling works anything like a regular website, there should be a default setting for `font-size` belonging to the main parent element of RT. You can set that yourself too of course. Ideally, anything else (child elements) can and probably should get relative sizing. I have not checked, but I assume this is already the case?

As for scaling up icons, can you make use of media-queries to

[2018-09-14 07:17] Raoul-Kima commented on #4798
@heckflosse If I understand you correctly I need to compile RawTherapee myself to do so. I tried setting up the necessary tools following http://rawpedia.rawtherapee.com/Windows today, but failed. Probably because I tried doing it in a Sandbox? I'm not sure If I can solve this issue soon (don't want to install stuff I don't know outside the sandbox). Certainly not before monday.
Is there any other

[2018-09-14 07:45] Desmis commented on #4801
@heckflosse

Ingo
I tested , works fine, but the rawfile is mediocre :)

Jacques

[2018-09-14 09:25] Beep6581 commented on #4803
* All units in GTK+ are logical, including pixels, i.e. a pixel in GTK+ does not necessarily represent a pixel on the screen. One can control scaling in Linux using `GDK_SCALE` and `GDK_DPI_SCALE` but regardless how those are set, to GTK+ 12px is 12px.
* The `em` unit depends on font size, and how many pixels it takes depends on font size and the DPI setting (which is typically 96).
* When using a

[2018-09-14 09:26] TooWaBoo commented on #4803
@Thanatomanic
CSS in GTK is very very basic and it doesn't follow the rules of Standard CSS. It's like CSS version 0.1. 😄
There is no `media-query` or anything like this. You can work with ID's, classes and objects, that's all.

@Hombre57 , @Thanatomanic , @heckflosse , @Beep6581 , @And everyone who is reading this.
I've made some test themes with different DPI settings. The theme simulates 96dpi,

[2018-09-14 09:27] Beep6581 commented on #4803
What are you trying to do?

[2018-09-14 09:29] TooWaBoo commented on #4803
I want to scale the image depending on the DPI of the system.

[2018-09-14 10:19] Beep6581 commented on #4763
Here's a nice rundown of various color representation widgets:
https://blog.frame.io/2017/09/27/introduction-to-video-scopes/

[2018-09-14 11:29] eprovst commented on #4763
As the article states, having the option to limit the scope to a selection on the image might also be useful.

[2018-09-14 11:30] Beep6581 commented on #4763
I like the ability to see beyond the output limits.

[2018-09-14 13:02] sguyader commented on #4763
I discovered the RGB parade in a video NLE (Kdenlive) and I think it's really useful. But it takes more screen estate.

[2018-09-14 15:36] eprovst opened #4804 "Add color wheels"
Color wheels are a feature commonly found in color grading and correction software for film, however can be of great use for photographers too and is often more intuitive as it uses hue instead of RGB values.

Color wheels (see Speedgrade, Davinci Resolve, CameraBag etc.) are probably the easiest way to correct and grade color in an image. they allow you to push a certain color into the image usin

[2018-09-14 15:39] eprovst commented on #4763
Note: Updated issue to better reflect the current discussion. Moved color wheels to a separate issue (#4804)

[2018-09-14 19:24] heckflosse commented on #4798
@Raoul-Kima Unfortunatly we won't get new windows builds for a while according to https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[code]

I don't make windows builds (except for my machine). Maybe @TooWaBoo can help with a x86_64 generic windows build of `rawcacorrection_iterate` branch meanwhile

[2018-09-14 19:36] TooWaBoo commented on #4803
@Beep6581
I've found this at pixl.us
https://discuss.pixls.us/t/rt-displayed-images-on-retina-mac-fuzzy/9047/2

I think you are wrong. RT is HiDPI compatible when you use the TWB theme but you **must switch off** all automatic scaling features in the system. The GUI ist scaled by RT itself to the correct size and all images, photos and icons, won't be scaled. So you don't get a blurry photo previe

[2018-09-14 19:51] heckflosse opened #4805 "Review 'AppVersion' key in pp3 files"
Each pp3 file contains an `AppVersion` key, which is read from pp3 file, but not used. Should we remove it?

[2018-09-14 19:53] heckflosse commented on #4801
@Desmis Jacques, thanks for testing. For the 14-bit uncompressed file I have no solution atm :(

[2018-09-14 21:28] TooWaBoo commented on #4798
@Raoul-Kima
Here it comes. 😄
**Rawtherapee_rawcacorrection_iterate.zip**
https://filebin.net/5h8llu57jw1a4drh

No installer included. Extract the folder “Rawtherapee_rawcacorrection_iterate” to e.g. your Desktop and run “rawtherapee.exe” inside this folder.
Cache and settings are saved into “%localappdata%\Rawtherapee_rawcacorrection_iterate”. It leaves your current installation untouched.

[2018-09-14 21:44] aferrero2707 commented on #4404
@gaaned92 I still need to clean up and strip the unneeded libraries... meanwhile, I have started to look into the InnoSetup stuff. I already managed to install it and run it under wine. It seems it will be possible to include it in the automated packaging that is run in the Docker container.

Could you give me some hints on how to invoke `ISCC.exe` and create an installer for RT?

Thanks!

[2018-09-14 21:47] heckflosse commented on #4404
@aferrero2707

@gaaned92 is afk for the next about 3 to 4 weeks

[2018-09-14 22:08] Beep6581 commented on #4805
Well, I refer to it once in a while when helping users in the forum, but I don't _need_ it.

Our bundled profiles contain two keys:
[code]
That was from `rtdata/profiles/Pop/Pop 1.pp3`

As @heckflosse and I agreed to in IRC, both of these should be removed. Reasons:
1. Regenerating over 70 profiles is not realistic, as that would require manually examining each profile and partial-saving a new one

[2018-09-14 22:11] heckflosse commented on #4805
@Beep6581 :+1: for removing both keys from bundled profiles. And also :+1: to remove AppVersion key handling from code completely.

[2018-09-14 23:21] Beep6581 commented on #4803
Then it's not HiDPI compatible.

`px` and `em` are both logical units, they are not screen units. Using `em` units makes the object they're applied to scale in accordance with the font size, but that is unrelated to HiDPI scaling.

RT's UI already responds to HiDPI scaling correctly, including the RawTherapee theme. What hasn't been done yet is scaling the cairo surfaces (used for the main preview

[2018-09-15 00:18] TooWaBoo commented on #4803
And why do I use "em" when it won't help for HiDPI? If this is true I will go back to "px" thats much easier to handle.

[2018-09-15 01:15] TooWaBoo commented on #4803
When I activate scaling in Windows only the font is scaled in RT with the RT theme, no GUI element.
In the TWB theme the GUI and font are scaled but no icons.
With the test themes above everthing is scaled except the photo and thumbnails.
### **EDIT:** Only at 192dpi (200%) Windows is scaling everything.

![grafik](https://user-images.githubusercontent.com/13800920/45580753-21b5ca80-b895-11e8-9f34

[2018-09-15 03:32] Thanatomanic commented on #4749
Done with 85d55eb

[2018-09-15 03:32] #4749 closed, assigned to Thanatomanic

[2018-09-15 04:58] #3274 closed

[2018-09-15 07:41] aferrero2707 commented on #4404
Right, I forgot that! Then I'll try to figure out myself how to use innosetup...

[2018-09-15 07:46] heckflosse commented on #4774
merged with f940490

[2018-09-15 07:46] #4774 closed, assigned to heckflosse

[2018-09-15 07:47] heckflosse commented on #4777
merged with f940490

[2018-09-15 07:47] #4777 closed, assigned to heckflosse

[2018-09-15 09:03] Desmis commented on #4801
@heckflosse
Other raws files from Z7
https://www.imaging-resource.com/news/2018/09/14/nikon-z7-first-shots-lab-sample-images-with-a-final-production-camera

[2018-09-15 10:13] heckflosse opened #4806 "Segfault when closing rt immediately after using batch edit"
to reproduce:

1) start rt
2) select an image in file browser
3) go to batch edit tab
4) change a setting
5) close rt => segfaults at close

Fix:

[code]

[2018-09-15 10:30] Hombre57 commented on #4803
@TooWaBoo @Beep6581 Maybe there's a misunderstanding on how Windows works here, you're not talking about the same thing.

Here is a screenshot of Windows with 150% scale, but it's still not HiDPI (and Windows don't talk about DPI here!)

![150-percent-scale](https://user-images.githubusercontent.com/13788115/45584878-72501680-b8db-11e8-8829-c390e1e41014.png)

At least Gtk send back an integer valu

[2018-09-15 11:21] TooWaBoo commented on #4803
@Hombre57 , Maybe you are right.

At pixls.us @niccoc1603 is testing the TWB theme on his 4k monitor. Have a look on the screenshot it looks good. He's using the release version of RT, so the latest TWB them is not full combatible. but you can see it works well on HiDPI
https://discuss.pixls.us/t/rawtherapee-scaling-4k-monitor/8896/13

[2018-09-15 12:03] Yz2house opened #4807 "Update GUI in Japanese"
updated GUI in Japanese
1) untranslated strings
2) some modifications
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2385658/Japanese.txt)

[2018-09-15 12:49] #4806 closed, assigned to heckflosse

[2018-09-15 12:54] TooWaBoo commented on #4803
Screenshots from the 4k monitor on Windows 10
![4f3e071bd6508ae87d8a7721aa23ca6695508100](https://user-images.githubusercontent.com/13800920/45586372-c5839280-b8f6-11e8-86b9-c47ad541fa7a.jpg)
![05b538dc1a0dbb9c4e7d330cba74cea58134d57d](https://user-images.githubusercontent.com/13800920/45586373-c6b4bf80-b8f6-11e8-8540-ed976b0f4b6b.jpg)

[2018-09-15 15:47] Beep6581 commented on #4803
https://wiki.gnome.org/HowDoI/HiDpi
https://bugzilla.gnome.org/show_bug.cgi?id=768081

[2018-09-15 15:49] Beep6581 commented on #3547
https://wiki.gnome.org/HowDoI/HiDpi
https://bugzilla.gnome.org/show_bug.cgi?id=768081

[2018-09-15 16:11] #4807 closed, assigned to Beep6581

[2018-09-15 18:14] heckflosse opened #4808 "newlocallab"
@Desmis Jacques, I would like to merge dev into newlocallab. Ok?

[2018-09-15 19:14] Beep6581 commented on #4784
Testing under Gtk+ 3.18, GTK+ 3.22.30 (Sabayon) and 3.24.0 (Fedora), branch `scrolled-toolbar-fix` commit 0d61f14ba, whether using the mouse scrollwheel causes scrolling when hovering over:

Description | 3.18 | 3.22.30 | 3.24.0
------------|------|---------|-------
The monitor profile combo, top half | ? | yes | yes
The monitor profile combo, bottom 1/3rd | ? | no | no
The zoom icons, top half |

[2018-09-15 19:18] Hombre57 commented on #4784
@Beep6581

With last commit, it's not the case anymore.

[2018-09-15 19:23] Desmis commented on #4808
Ok :)

Le sam. 15 sept. 2018 20:14, Ingo Weyrich <notifications@github.com> a
écrit :

[2018-09-15 21:15] heckflosse commented on #4808
@Desmis Jacques, merged and pushed. I hope all still works as expected.

[2018-09-15 21:15] #4808 closed, assigned to heckflosse

[2018-09-15 21:28] aferrero2707 commented on #4404
@heckflosse
I have managed to include the InnoSetup part in my automated windows build. The ISCC compiler is executed using wine, which seems to work perfectly fine.

Would you have the possibility to test the installer and see if you spot some issues?
It is available from here: https://github.com/aferrero2707/rt-win64/releases/download/continuous/RawTherapee_dev-5.4-854-ge99bcff8_WinVista_64.exe

[2018-09-15 21:57] heckflosse commented on #4404
@aferrero2707 I didn't test thoroughly but at least it installed fine here.

[2018-09-15 22:15] Hombre57 commented on #4803
@TooWaBoo That's what I said : there's 2 concepts. Windows seem to mixes them up in a single combobox. It would be nice if you could use this patch and report the output for the following conditions  **without** your patch applied :

- size = 100%, (`GDK_SCALE` not set !)
- size = 150%, (`GDK_SCALE` not set !)
- size = 200%, (`GDK_SCALE` not set !)
- size = 100%, `GDK_SCALE`=1
- size = 150%, `GDK_

[2018-09-15 22:31] Hombre57 commented on #4805
@Beep6581 @heckflosse

...to what problem ?

I'd keep them. They don't harm anyone and we don't need to update the bundled profiles. This `AppVersion` info can be interesting when getting pp3 file, given our poor backward compatibility support, we can deduce that a pp3 from a real old version _can_ be obsolete (about the desired output) even with the same `Version`, and/or compare the output with

[2018-09-15 23:15] heckflosse commented on #4805
@Hombre57
applying a bundled profile with old pp3 version will set the raw ca correction iterations value back to 1 where the current default is 2 because new default is two, old default is one and pp3version says 'use old default'

[2018-09-16 00:09] Hombre57 commented on #4805
@heckflosse

So you expect predictable result in future release using those profiles ?

[2018-09-16 00:33] shastah opened #4809 "Allow toggling tool on/off using modifier key + click over tool area or title area"
Currently to enable a group of settings (like "Shadows/Highlights", "Tone Mapping", etc) one needs to click on the toggle button next to the header for that group.

Unfortunately that button is quite small, and I often get frustrated when I miss and click just next to it, which makes the whole group collapse and sometimes even change where it is on the screen (if I scroll down, then collapse a gro

[2018-09-16 00:42] shastah opened #4810 "Allow initiating crop when clicking on canvas outside of image"
I think having RT accept button clicks outside of image preview area (in editor) to begin cropping - similarly to how GIMP handles this - would greatly workflow performance.

With current implementation I usually need to click&drag twice: first starting somewhere "inside" the image close to a border (because I can never click *exactly* on the border when working with non-100% zoom levels), draggin

[2018-09-16 05:25] TooWaBoo commented on #4803
Here it comes: https://filebin.net/y7989mgxh3nrynbd/Test.zip?t=entfipl3
btw. Send me the files instead of a patch, please. I've tried this in the past and it didn't work. I changed it by hand.

**no scale** is mixed, returns always the correct dpi but images are not scaled when < 200%. At >= 200% it returns 96dpi and images are scaled and blurry.
**scale 1** returns always the correct dpi but imag

[2018-09-16 08:20] aferrero2707 commented on #4404
@heckflosse thanks for checking, that's already a good indication that the innosetup compiler works correctly under wine.

[2018-09-16 09:00] agriggio commented on #4805
I agree with hombre, I see no benefit in removing the info. it's actually useful for "forensics" purposes as well -- say when the implementation of some routine changes and some user reports a regression

[2018-09-16 09:03] heckflosse commented on #4805
I only care about the `Version` key in bundled profiles, not about the `AppVersion` key.

[2018-09-16 11:04] Beep6581 commented on #4803
`GDK_SCALE` only seems to work in Windows from and including GTK+ 3.22. @TooWaBoo please provide your GTK+ and GTKMM versions.

[2018-09-16 11:54] TooWaBoo commented on #4803
GTK+ 3.24.0
Gtkmm: V3.22.2

I've an old RT-version where the titlebar is drawn by RT, not a native window. I guess somthing like GTK+ 3.22 and Gtkmm: V3.22.2. It shows the same behavior.

[2018-09-16 18:13] Hombre57 commented on #4803
@TooWaBoo @Beep6581

So the situation on Windows is clear :
- Force GDK_SCALE=1
- Rely on the DPI
- Use x1 or [x2 and eventually downscale] to match the DPI

I'd like to have the same kind of test on Linux/GNOME, Gtk3.18 (I'll do it) and Gtk >= 3.22

[2018-09-16 18:16] #3489 closed

[2018-09-16 18:52] heckflosse commented on #4801
Currently I've no solution for Nikon Z7 uncompressed 14-bit files. I managed to decode them geometrically correct (correct width and height). But still the colours are far off (not caused by matrix, but caused by something else). I can add the code for correct width and height, so we don't have to think about that in future again. Then I would like to commit and move this issue from 5.5 to 5.6 mil

[2018-09-16 18:58] SilvioGrosso commented on #4404
Hello  @aferrero2707

Just tested this new build on Windows 10 - 64 bit
CPU I7; RAM 8gb.
Tested on my NEF files (from my Nikon D700).

Everything is fine.
I have tested this new (RawTherapee_dev-5.4-854-ge99bcff8_WinVista_64).exe for around 1 hour.
No crash whatsoever and it looks as fast as the previous ones.

[2018-09-16 19:22] TooWaBoo commented on #4803
@Hombre57
Don't forget the Advaita icons eg. PlacesPaned, filechooser, arrows in menus ...

[2018-09-16 19:31] Hombre57 commented on #4805
@heckflosse Remove them from bundled profiles if you want, however I wouldn't remove the mechanism in RT. If too much work to remove them, I can do it, but you'll suppress future backward compatibility handling.

[2018-09-16 20:13] heckflosse commented on #4805
@Hombre57 I don't intend to remove the mechanism. That would be clearly wrong. I just want to remove the Version key from bundled profiles because the bundled profiles are controlled by us, not by users saving profiles

[2018-09-16 21:19] Hombre57 commented on #4805
@heckflosse

As said, :+1: for that.

[2018-09-16 22:23] aferrero2707 commented on #4404
@SilvioGrosso @heckflosse

Thanks for checking. Meanwhile I have cleaned up the package contents and stripped the debugging symbols from all the accessory libraries (but not the rawtherapee executable), as suggested by @gaaned92. I have also renamed the packages to follow the usual RT conventions.
Here are the direct links to the new packages:
https://github.com/aferrero2707/rt-win64/releases/down

[2018-09-16 22:44] Hombre57 commented on #4803
@TooWaBoo I've made several test : Gtk still load the same base icon size for any resolution ! I think I'll have to go to the GNOME IRC... That's a bit non sense to upscale everything but the stock icons.

[2018-09-16 22:54] Yz2house opened #4811 "Correction on GUI in Japanese"
I made very wrong translations in Japanese GUI yesterday (#4807).  I attached the correct one.
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2387087/Japanese.txt)

regards

[2018-09-17 02:34] kiritozzl opened #4812 "Building RawTherapee requires using GCC version 4.9 or higher!"
operation system:centos
i have made the instruction in :http://rawpedia.rawtherapee.com/Linux here to build the RawTherapee in my computer.

when i finally use the command: ./build-rawtherapee

i meet the problem as follow:

[code]

but i have used these commands to make sure gcc >= 4.9.3

[code]

and the result of : gcc --version

[code]

i also manully install gcc 5.4.0 in my system
[code]

so i

[2018-09-17 05:51] Desmis commented on #4808
@heckflosse
Ingo
I have not been at home yesterday...
I just push "newlocallab", all seems to work fine :)

Thank you
Jacques

[2018-09-17 05:52] Desmis commented on #4801
@heckflosse
Ingo
No objections :)

[2018-09-17 06:03] Beep6581 commented on #4805
To remove `AppVersion`:
[code]

To remove the whole `[Version]` header:
[code]

[2018-09-17 06:04] #4811 closed, assigned to nobody

[2018-09-17 08:15] Floessie commented on #4805
Or even shorter:

    find rtdata/profiles/ -iname "*.pp3" -exec sed -i '/AppVersion/d' {} \;

[2018-09-17 09:20] ff2000 commented on #4812
What is **CMAKE_CXX_COMPILER** set to in **/home/zhouzl/programs/code-rawtherapee/build/CMakeCache.txt** ?
Does deleting that file help?

[2018-09-17 09:38] SilvioGrosso commented on #4404
Hello @aferrero2707

As suggested, I have just tested these new two builds (ZIP and .exe) on Windows 10 - 64 bit
CPU I7; RAM 8gb.
Tested on my NEF files, from my Nikon D700.

Both builds are missing many icons, much more than the previous one.
For example, take a look at the right upper side  (these 3 icons are extremely prone to being missing in all the builds I have tested so far, both on Linux

[2018-09-17 10:36] Beep6581 commented on #3558
`5.4-855-g`0355a9c91

[2018-09-17 11:05] Raoul-Kima commented on #4798
@TooWaBoo  Thanks for the comiled version!

I tried the fix. I didn't see much if any improvement in sharpness for my examples, neither for the newspaper image nor the fence image. The vertical line artefacts when using high values of manual CA-Correction are also still there.

I then did more testing with the fence image and it turned out that:
1. The 1-iteration automatic correction (unlike I fi

[2018-09-17 11:16] Raoul-Kima commented on #4798
The manual CA-correction also exhibits a kind of non-linearity in its behaviour which I don't quite understand. sometimes the ca actually first gets better with increasing values, then gets worse again with even higher values. This means that sometimes the CA can't be corrected even if it appears as if the slider range would suffice.

Here's an example using the newspaper image again:

![grafik](h

[2018-09-17 11:24] Thanatomanic commented on #4798
Just to add a little comment about CA correction in general: these kind of abberations are impossible to completely fix in processing due to the nature of the effect.
I'm not saying there's nothing to be improved here, but it's all just pushing a little further towards a point of inevitably irretrievable information :-)

[2018-09-17 11:24] kiritozzl commented on #4812
after deleting the file CMakeCache.txt ,it still produce the error like before,it't don't work,thank you for your reply~

[2018-09-17 11:32] Raoul-Kima commented on #4798
I agree. That's why I metioned in the first post that I probably wouldn't have created this issue if not asked to.

[2018-09-17 11:40] Beep6581 commented on #4798
@Raoul-Kima [chromatic aberration](https://en.wikipedia.org/wiki/Chromatic_aberration) correction displaces the channels, so it's normal that there is a sweet spot and everything above or below that will be wrong in one or the other direction.

[2018-09-17 12:20] Raoul-Kima commented on #4798
@Beep6581 Yes, but it's wrong in the same direction, not upposite directions as I'd have expected. This means that In the example image I could never reach the equilibrium point where errors in both directions are balanced. This is very different from the behaviour of the post-demosaicing ca-correction, which behaves as I'd expect. I don't know why this is, or whether it's a bug or actually intent

[2018-09-17 12:33] heckflosse commented on #4798
@Raoul-Kima I tested only automatic raw ca correction. Maybe there's still a bug in the manual correction.
About the colour tint: There should be a checkbox in gui to disable 'Avoid colour shift'. That should fix the tint. When I found a solution to avoid the tint, I will remove this checkbox...

[2018-09-17 13:00] Beep6581 commented on #4687
This has been fixed since.

[2018-09-17 13:00] #4687 closed, assigned to nobody

[2018-09-17 13:37] heckflosse commented on #4798
@Raoul-Kima I confirm issues with using large values (< -4 or > 4) in manual raw ca correction.
Currently the code does not handle such large values correctly and I don't intend to change the code to handle that. I will set the max allowed range for manual raw ca correction back to [-4;4]

[2018-09-17 15:04] sguyader commented on #4720
I opened a folder today and realized I had again lost all my preset HaldCLUTs...
I don't know if it's also related to the way HaldCLUTs are managed in the history, but today I worked on some images, setting a new custom HaldCLUT I had just made. When I switched to the folder with lost HaldCLUTs, I saw that the name of my previous HaldCLUT was still appearing in the combobox while it was not actual

[2018-09-17 15:31] sguyader opened #4813 "If raw histogram is active, fall back to RGB histograms when opening non-raw image"
When an raster image (Jpeg, Tiif or PNG) is opened in RT, the histogram is totally flat, whatever the kind is toggled (log or linear).
Bug present in current dev in Linux (but was present already in previous build from several days ago):
[code]

[2018-09-17 15:40] Thanatomanic commented on #4813
I'll take a look tonight..

[2018-09-17 16:22] aferrero2707 commented on #4404
@SilvioGrosso
I probably removed too many icons from the packages... so I put them back for now, until I'll have a chance to check the details with @gaaned92.

Could you please check if the latest packages do have all the required icons?

P.S: I really appreciate your support, Thanks!

[2018-09-17 16:37] Benitoite commented on #4812
@kiritozzl What is CMAKE_CXX_COMPILER set to in /home/zhouzl/programs/code-rawtherapee/build/CMakeCache.txt ?

[2018-09-17 16:37] Beep6581 commented on #4813
`5.4-861-g`e50b68208 works fine here @sguyader

![screenshot_20180917_183613](https://user-images.githubusercontent.com/5844619/45636710-c1977200-baa8-11e8-9aa2-ea3796303b43.png)

Are you sure the "raw histogram" is not toggled? It happened once to me that I also thought the histogram was broken when I was viewing a non-raw file with the raw histogram enabled.

[2018-09-17 16:49] heckflosse commented on #4720
@sguyader
This patch fixes it:

[code]

[2018-09-17 17:21] sguyader commented on #4813
Ok, I just compiled `5.4-861-ge50b682` and at first it didn't change. I had to delete my `options` file to get the histogram back for rasters. Sorry about that, I should have done that before reporting a bug.
I guess you can close the issue.

Edit: I feel so ashamed... In fact I had "raw histogram" enabled... That's why I saw no histogram for jpeg's... But then, maybe there should be a fallback to

[2018-09-17 18:00] Barugon opened #4814 "Dropdown bad positioning"
When I click a dropdown, the list will very often be positioned somewhere else on the screen or worse, somewhere offscreen where I can't interact with it (please see the screenshot below). This only happens on my notebook with Intel Iris graphics. On my desktop with Nvidia 1070 this does not happen.

Specs:
Fedora 28
Intel i7-6560U CPU @ 2.20GHz
Intel Iris Graphics 540 (Skylake GT3e)

In the scree

[2018-09-17 18:06] Beep6581 commented on #4814
Which version of GTK+ do you have on each computer?

[2018-09-17 18:32] heckflosse commented on #4720
Enhanced patch:
[code]
also fixes the following case (SETM):

1) on File 1 apply a b&w (for easier visibility) clut and enable film simulation
2) on File 2 don't apply a clut but enable filmsimulation
3) open File 1
4) open File 2, enable or disable sharpening => File 2 is still not monochrome
5) open File 1
6) open File 2 => monochrome because b&w clut from File 1 is applied => bug

[2018-09-17 18:34] Barugon commented on #4814
Both are using Fedora 28, so GTK 3.22.20.

[2018-09-17 18:55] Thanatomanic commented on #4813
@Beep6581 @heckflosse  Is there an easy way to check what the type of the loaded image is?

[2018-09-17 18:57] Thanatomanic commented on #4804
I assigned myself because I am very fond to include this in RT. It's going to be a longer term project... Are you okay with that @ElecProg ?

[2018-09-17 18:58] Thanatomanic commented on #4799
What kind of highlight warning would you expect / like to see?

[2018-09-17 19:05] heckflosse commented on #4813
@Thanatomanic

When an image is loaded, a function named `imageTypeChanged` is called. Maybe you can use it?

[2018-09-17 19:13] eprovst commented on #4804
@Thanatomanic Please take as long as you need, the thing I'm enjoying the most about RT is the near perfection of all the features it has, and getting software (especially a side project) to such a point takes time.

It would speed my edits up by quite a bit when it's finished of course, but it's not stopping me from using RT :smile:

[2018-09-17 19:23] Raoul-Kima commented on #4799
Something that shows which image parts are affected would be optimal. Like the highlight clipping indicator that colours clipped highlights in black.

[2018-09-17 19:25] heckflosse opened #4815 "review of 'float *ImProcFunctions::CompressDR(float *Source, int W_L, int H_L, float Compression, float DetailBoost, float *Compressed)' in 'rtengine/ipwavelet.cc'"
While looking at Coverity issue `185778 Resource leak` I detected that above mentioned function clearly needs a review...

[2018-09-17 19:56] Benitoite opened #4817 "Allow codesign on macOS"
To allow one to codesign RT on mac, it is necessary to adapt tools/osx/macosx_bundle.sh in order to:

- [x] Part 1: Make the `Frameworks` dir flat.
https://github.com/Beep6581/RawTherapee/pull/4816

- [x] Part 2: `codesign` the `.app` and `.dmg`
https://github.com/Beep6581/RawTherapee/pull/4819  We pass the signing identity thru a cmake parameter. Then macosx_bundle.sh signs the `app` before makin

[2018-09-17 20:50] heckflosse commented on #4815
The changes from above give the same output as before with far less code in about 1/3 of processing time and also fix Coverity issue 185778

[2018-09-17 21:22] Beep6581 commented on #3547
Here is a summary of a conversation with GTK+ devs regarding HiDPI:
* Definition:

* All non-font rendering is either `GDK_SCALE=1` or `GDK_SCALE=2`. There is no in-between.
* GTK+ scaling and font scaling are two different things.

* RawTherapee should not mess around with DPI.
* On Windows when "Scale everything" is set to 150% then it is to be expected that the user has blurry icons.

[2018-09-17 21:40] regs01 commented on #3547
It is definitely not expected. And speaking of GTK way of 2x only scaling it was highly criticized. Almost all of high dpi users consider it's a defect. Canonical was doing its own workaround with Unity. And not every GTK IDE accepts it either. Lazarus, for example, does fractional scaling.

[2018-09-17 22:27] heckflosse commented on #4772
I take this

[2018-09-17 22:35] heckflosse commented on #4501
@Beep6581 As you wrote 'I will install CentOS again when RT 5.5 is released...' I think we should move this issue from 5.5 milestone to 5.6 milestone

[2018-09-17 23:06] Benitoite commented on #4817
Part 2: https://github.com/Beep6581/RawTherapee/pull/4819

This allows the mac build to be codesigned by the macosx_bundle.sh script.
If the builder leaves out the `-DCODESIGNID:STRING=` parameter, the build still works ok without signature.

[2018-09-17 23:53] Hombre57 commented on #3547
Is that a definition of "mess" ?

Anyway, I think I'll be able to correctly size our icons, but not the Adwaita ones. I need to know if it's possible to programmatically select the theme icon size, I'm still searching.

[2018-09-18 00:30] kiritozzl commented on #4812
i can't find the CMAKE_CXX_COMPILER in /home/zhouzl/programs/code-rawtherapee/build/CMakeCache.txt.

but you are right,must be the path of gcc set is lead to the old gcc version.i don't know how to reset the path,and i install gcc-5.4.0 in local(not root),i compile rawtherapee in local,but it's useless,still meet the error that talk before.

thank you for your reply~

[2018-09-18 01:07] Benitoite commented on #4812
@kiritozzl It should be about the seventh external cache entry in CMakeCache.txt
Some ideas... it could be that /usr/bin/c++ is not pointing to the right compiler.
try issuing `ls -la /usr/bin/c++` and see where it points.
`c++ --version` to report that version also.

[2018-09-18 01:19] kiritozzl commented on #4812
after issue `ls -la /usr/bin/c++`

it's print out
`/usr/bin/c++
`
it's seems the gcc still be the old one,do you  know how to change the gcc version? i have googled it, but i didn't found the solution,thanks for your help~

[2018-09-18 01:39] Benitoite commented on #4812
Have you set the environment variables, `CC` and `CXX`?

issue this command to doublecheck... `env | grep '^CC=\|^CXX='`

Your Centos might have a binary /usr/bin/c++ instead of a link.

[2018-09-18 04:56] TooWaBoo commented on #4803
@Hombre57
I hope you'll find a solution.

[TooWaBlueTest-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/2391212/TooWaBlueTest-GTK3-20_.css.txt)
This theme is modified to handle scaling by the theme or from RT. If you want to test with the TWB theme, use this one, please. Best view in font size 9. It's funny, arrows in comboboxes or menus are scaled in high quality by changing the

[2018-09-18 06:08] kiritozzl commented on #4812
the command `env | grep '^CC=\|^CXX='` output nothing, i am looking for the ways to set the environment variables, **CC** and **CXX**

i think you are right, set the gcc variables will solve the problem.

the gcc version switch make me crazy,i cost so much time,but don't work.

thank you very much!
i will continue to do it.

[2018-09-18 06:13] Thanatomanic commented on #4812
It makes very little sense to me that when you did `sudo yum install devtoolset-7-gcc` the installer did not add the executables in your PATH. Also, you mentioned you could run `gcc -v` to get version info for gcc.
Can you do the same for c++?

[2018-09-18 06:15] Desmis commented on #4815
@heckflosse
Ingo
Tested and works fine :)
Good work

jacques

[2018-09-18 06:42] Benitoite commented on #4812
@kiritozzl
To set environment variables,
`export CC=gcc`
`export CXX=g++`
You can adapt to reflect the compiler you want to use.

another way is to call the build script beginning with the variables’ assignments:
`CC=gcc CXX=g++ ./build-rawtherapee`

[2018-09-18 06:51] Benitoite commented on #4812
It probably did! but without $CC and $CXX, and no directive specifying compilers given to cmake in the build script, the cmake system is defaulting to the posix compilers cc and c++.  Here on macOS that means Apple clang would be used, and it might be an ancient gcc on whatever centos has.

[2018-09-18 08:00] #4815 closed, assigned to heckflosse

[2018-09-18 08:17] kiritozzl commented on #4812
@Benitoite the command that you write above,i try it,but didn't work,the situation not change,

i use `export CC=/home/zhouzl/lib/gcc-5.4.0 `
`source .bash_profile`

and

`CC=/home/zhouzl/lib/gcc-5.4.0`
`CXX=g++ ./build-rawtherapee`

these two command are not work.

i also try this to change the gcc version.(like below)

set priority
`sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gc

[2018-09-18 08:30] Benitoite commented on #4812
Be sure to empty the build directory before each time trying the cmake command.
Also, please try the commands suggested.  The commands you are reporting that you have used look weird... missing pieces and compiler living in ~/??  Can you explain the commands you have tried and can you post the exact log of the errors you see.  Error messages are extremely useful.

[2018-09-18 08:42] kiritozzl commented on #4812
i try again with empty the build directory,i get the same result.i am surrender (orz)

[2018-09-18 08:57] ff2000 commented on #4812
@kiritozzl
1) those commands indeed look weird:
[code]
CC and CXX should contain the actual gcc (for CC) and g++ (for CXX) **binaries**.
I do not understand why you point CC to "~/lib/gcc-5.4.0". If you installed to ~/ you might want to use ~/bin/gcc.

2) And I think it would help if you could post the complete output of the build-rawtherapee script and the content of the CMakeCache.txt file.

3)

[2018-09-18 09:03] Desmis opened #4820 "PixelShift for Panasonic G9 and Olympus OM-DE M1"
@heckflosse

Ingo
Do you plan to program your very good "pixelshift" for Panasonic G9 and Olympus OM-DE M1.
Only for intellectual reasons, I tried to read a high resolution image of G9, to compare a 4/3 sensor with a sony 24 * 36... to see differences, and of course it does not work :)

Currently pixelshift only works for Pentax and Sony

Thank you
Jacques

[2018-09-18 09:08] heckflosse commented on #4820
@Desmis Jacques, as far as I know the pixelshift raw files from Panasonic and Olympus contain just one frame which is already combined. Pentax and Sony pixelshift raw files contain the 4 individual frames which can then be combined and motion corrected in rt. Unfortunately that's not possible if the frames are already combined in camera.

[2018-09-18 09:14] Desmis commented on #4820
OK
Thank you :)

[2018-09-18 09:16] kiritozzl commented on #4812
because the default gcc version is lower than 4.9,so i point it to gcc-5.4.0 and both ways are not work.

use the command:`CC=gcc CXX=g++ ./build-rawtherapee`

output:
[code]
------
$PATH
`/usr/local/MATLAB/R2015b/bin:/usr/lib64/qt-3.3/bin:/home/zhouzl/perl5/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/usr/local/cuda/bin:/opt/ibutils/bin:/home/zhouzl/.local/bin:/home/zhouzl/bin:/home/zho

[2018-09-18 10:07] ff2000 commented on #4820
@heckflosse: I know Olympus spits out one single frame as seperate RAW file (AFAIR named .ori) together with the combined pixel shift file. I don't know if it is possible to use this to auto-correct movement. It usually is used to manually correct movement.
For Panasonic I think they do the same.

[2018-09-18 10:32] Desmis commented on #4820
I am not sure to all understand, as usual my english is bad. It seems thats in Panasonic there is a shift of half pixels, and 8 frames. It's leads to x2 resolution, and obviously results are very good (this assumes that the subject, the image is absolutely static)
Of course, algorithm (must be) is different ??

Three links :
https://www.bhphotovideo.com/explora/photography/tips-and-solutions/pixel

[2018-09-18 10:50] TooWaBoo commented on #4803
@Hombre57

I've removed all Adwaita bitmaps and kept only the Adwaita-SVGs. RT is using the SVGs but scales it like 16px bitmaps except the combobox arrow which is excluded from theme scaling and scales with or without theme scaling.

btw: @gaaned92 doesn't deliver the SVGs with his builds.

Screenshots 144dpi (150%), Font size 9, theme scaling on.

![grafik](https://user-images.githubusercontent.

[2018-09-18 10:56] ff2000 commented on #4812
Am Di., 18. Sep. 2018 um 12:16 Uhr schrieb kiritozzl <
notifications@github.com>:

I think you did not properly point it to 5.4. That was the first point in
my previous reply which you unfortunately ignored.

Could you run "which gcc" and "which g++"?

That log file could be interesting.

It still point to cc and c++ so your exported CC and CXX variables weren't
used.
I think the best would be to

[2018-09-18 11:01] Beep6581 opened #4822 "Improve Preferences > General > Theme"
![screenshot_20180918_125835](https://user-images.githubusercontent.com/5844619/45683079-b09b3f00-bb42-11e8-89d5-baf0eee5bafd.png)

Rearranging Preferences > General > Theme to take less horizontal space might make things look better.

Also, the "Navigator guide color" red square should be closer the label, the same way the "Crop mask color" square lies adjacent to the label.

[2018-09-18 11:10] #4558 closed, assigned to heckflosse

[2018-09-18 11:32] Beep6581 commented on #4812
@kiritozzl please edit and format your post for readability using markdown code blocks, explained here:
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code
https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf

@Benitoite those do not have to be set, maybe it depends on the distro. They're not set in Sabayon.

[2018-09-18 11:38] Beep6581 commented on #4817
PRs for parts 1 and 2 merged.

[2018-09-18 11:41] Beep6581 commented on #4501
@heckflosse I understand your thinking, but the milestone is there to remind me to do it before 5.5 is released. Don't worry, it won't delay the release.

[2018-09-18 11:49] kiritozzl commented on #4812
yes , try this `CC=gcc CXX=g++ ./build-rawtherapee`,but it's didn't work.

after i use `scl enable devtoolset-7 bash`
i run "which gcc" and "which g++"
i get
[code]
still can't complie the rawtherapee....

i change CMAKE_CXX_COMPILER:FILEPATH,it's change nothing.
[code]
i starting with a completely new build dir and a fresh shell
(that has an updated environment so it uses everything set by devtoo

[2018-09-18 11:59] #4812 closed, assigned to nobody

[2018-09-18 12:28] #4720 closed, assigned to heckflosse

[2018-09-18 13:05] Beep6581 commented on #3558
`5.4-871-g`1b5d7ea62

[2018-09-18 14:44] eprovst commented on #4804
Potentially useful: https://docs.blender.org/manual/en/dev/compositing/types/color/color_balance.html

[2018-09-18 15:50] sguyader commented on #4720
@heckflosse Thank you Ingo, I didn't have time to try your patch, but I'm sure the commit is fine.

[2018-09-18 16:34] heckflosse commented on #4820
I had a look at the links from above. If I understood correctly, there is no way to get the individual raw frames from Oly/Pana pixelshift files.

[2018-09-18 16:34] #4820 closed, assigned to nobody

[2018-09-18 16:39] Benitoite commented on #4812
@kiritozzl You are on the verge of success, but I understand if you don't want to follow...

You can modify the cmake command on line 129 of tools/build-rawtherapee to say

    CC=gcc CXX=g++ cmake \

Run and it should work, as gcc and g++ seem to be pointing to a usable compiler...

@Beep6581 Users may want the option to veer from cmake's tendency to use `cc` and `c++` when the build-rawtherapee

[2018-09-18 16:47] Desmis commented on #4820
OK, thank you :)

[2018-09-18 16:52] Benitoite commented on #4817
Thanks @Beep6581
Part 3: http://rawpedia.rawtherapee.com/MacOS#Compiling has been updated to include:

If you wish to codesign your build, add to the cmake command with your details:
`-DCODESIGNID:STRING="Developer ID Application: Firstname Lastname (XXXXXXXXXX)"`
The app and the generated `dmg` will be codesigned.

[2018-09-18 16:52] #4817 closed, assigned to Benitoite

[2018-09-18 17:21] Beep6581 commented on #4812
@Benitoite

If you set `CC=foo`, CMake should pick that up. Add this after the CMake command in the script:
[code]
It will correctly print "`foo`":
[code]

However, CMake's own FAQ states about using environment variables like that:

https://gitlab.kitware.com/cmake/community/wikis/FAQ#how-do-i-use-a-different-compiler

`cmake -D` seems most sound.

[2018-09-18 17:22] Beep6581 commented on #4817
@Benitoite fantastic, thank you :+1:

[2018-09-18 21:43] TooWaBoo commented on #4803
@Hombre57

I've made a test with SVGs. I've modified one button in RT to load an SVG and this works fine.
![grafik](https://user-images.githubusercontent.com/13800920/45717843-74e09380-bb9b-11e8-858b-23d8a44fa80c.png)
But I can't change anything to the SVG. When I scale it it's scaling like a bitmap - blurry.
I've found this on the WEB:
https://stackoverflow.com/questions/1851862/scaling-an-image-

[2018-09-18 21:58] Hombre57 commented on #4803
@TooWaBoo Please wait few days. I've worked on this today and it's 80% done. As explained by @Beep6581, I'll use x1 icons for 96 dpi screens, and x2 icons for anything above, eventually sized down to keep sharpness.

I'll also integrate your css files once done, and see if I can set the critical part (that deals with dpi) in the code. The RawTherapee theme will have to be updated too, and it'd be

[2018-09-18 22:22] TooWaBoo commented on #4803
I'm waiting. 😄 but think about the SVG, it looks like it can be easy scaled in perfekt quality and at any size during reading the file.

[2018-09-18 22:27] Hombre57 commented on #4803
Well, how much time would it take to render everything ? Once my patch is committed, it might be interesting to handle a cache where you'll store the icons that RT could generate on first lunch. Though I'm not at this stage now...

[2018-09-19 06:24] Floessie commented on #3558
@Thanatomanic There's a new CID 191811 concerning `histogrampanel.cc` (nothing fancy). Maybe you could take a look?

[2018-09-19 06:46] TooWaBoo commented on #4784
@Hombre57
Scrolling over thumbnails and zooming with the mousewheel works fine in GTK+3.24.0 with the fix from branch **scrolled-toobar-fix**

[2018-09-19 07:13] Thanatomanic commented on #3558
@Floessie Thanks, I've been added to coverity and will take a look. Seems to be minor indeed.

[2018-09-19 08:22] ff2000 commented on #4812
@Beep6581 CC and CXX env always worked for me on linux for both Makefile and Ninja Generators. He is using CentOS so some sort of RH linux.
Unfortunately the kitware docs don't really say what's the issue and which Generators may have problems (besides the Xcode Generator). But of course @kiritozzl could still try if passing compiler to cmake with "-D" works.

In the end this isn't  an issue in Ra

[2018-09-19 15:47] muellesi commented on #4783
The required changes to the GIMP plug-in are also merged: https://gitlab.gnome.org/GNOME/gimp/issues/2179
Feel free to test both patches together :)

[2018-09-19 18:38] Beep6581 commented on #4783
Thank you @muellesi

[2018-09-19 18:38] #4783 closed, assigned to nobody

[2018-09-19 20:26] CorentinDeBoisset commented on #4550
Hello @Beep6581

I own a DC-GX9 and took the pictures as requested.
The bzip2 archives for each set is on [your filebin](https://filebin.net/owgvkcgwworevdi8).

I had to set a shutter speed of 3'2 for the LSNR shots, it wouldn't start on faster speeds.

Don't hesitate to give me some feedback if some shots need improving.

[2018-09-19 21:28] Beep6581 commented on #4550
Thank you @coreoas , I will try to take a look over the weekend.

[2018-09-20 05:54] Thanatomanic commented on #4813
@sguyader There might have been some cross interference from this c365337

[2018-09-20 07:36] kiritozzl commented on #4812
i am sorry to reply you so late,because i think here will no comment.
i try what you said,but the result is like before.
thank you for your warmly help @Benitoite

[2018-09-20 07:59] kiritozzl commented on #4812
@ff2000 i add -D in build-rawtherapee like below:
[code]
it's seems nothing change,i don't understand what the meaning of adding -D.

[2018-09-20 08:02] kiritozzl commented on #4812
@Beep6581 you mean there is no setting of gcc in compile rawtherapee? if have such set please tell me where it is,i can't find it.thank you.

[2018-09-20 08:03] ff2000 commented on #4812
@kiritozzl A single "-D" won't help you. With "-D" you can pass variables to cmake.
Look at this link:
https://gitlab.kitware.com/cmake/community/wikis/FAQ#how-do-i-use-a-different-compiler
It's "Method 2".
But please make sure to pass the gcc and g++ executables, that means you have to be able to run what you pass.

[2018-09-20 08:41] #4772 closed, assigned to heckflosse

[2018-09-20 08:41] kiritozzl commented on #4812
@ff2000 you point out the right way to solve this problem,thank you so much~

[2018-09-20 09:14] kiritozzl commented on #4812
the solution is :
GCC >=4.9.3:
[code]
after install devtoolset-7,use this command to switch

`source /opt/rh/devtoolset-7/enable`

[2018-09-20 09:16] ff2000 commented on #4812
Great to know you finally succeeded!

[2018-09-20 10:20] Beep6581 commented on #4812
Thank you @kiritozzl , RawPedia updated:
http://rawpedia.rawtherapee.com/Linux#CentOS

[2018-09-20 18:32] Beep6581 commented on #4805
I'm not sure we have a consensus. There are two things being discussed:
1. Whether to remove `Version` and `AppVersion` from our bundled PP3s.
2. Whether to remove the code which writes `AppVersion` to PP3s.

In support of point 1, if you apply our bundled `Auto-Matched Curve - ISO Low.pp3` you will find that, due to the old `Version` value, "raw CA correction iterations" are set to 1 when the [de

[2018-09-20 18:58] Hombre57 commented on #4805
@Beep6581

There are other possibilities for 1, but I'm not against removing both parameters from the bundled profiles because there's an unwanted behavior in that particular case. I just wanted to point out that future change in version handling may also bring unwanted behavior because there's no parameters anymore, depending on the change.

For 2, I'm against removing that from the code.

[2018-09-20 19:31] sguyader commented on #4720
@heckflosse Unfortunately the patch doesn't seem to be the cure. The bug just happened a moment ago while working on set of images with a HaldCLUT applied to some of them, and was triggered while trying to turn off Highlight reconstruction in batch mode.
It was with RT version 5.4-873-gbf13654a6 (one commit after the one supposed to fix this bug)

[2018-09-20 19:45] Hombre57 commented on #4803
@TooWaBoo @Beep6581

Just for the record : are our scalable icons directly usable with this function or are we supposed to tweak the colors for each file before rendering ?

[2018-09-20 19:48] TooWaBoo commented on #4803
@Hombre57
I didn't use this funktion for my test. I only changed the file extension in the code from .png to .svg.
The blue color of the RT-SVGs is set in the SVG itself.

This is in the SVG file.
`style="opacity:0.7;fill:#2a7fff....`

[2018-09-20 20:08] heckflosse commented on #4720
@sguyader Damn. I hoped my changes fixed it completely. At least it should be fixed partially.
Do you have some more details to reprocuce?

[2018-09-20 20:13] heckflosse commented on #4720
@sguyader Please give as much informations as possible. For example, are you using SETM, METM or MEOW mode?

[2018-09-20 20:20] sguyader commented on #4720
I'm using METM mode, as often I need to have 2 files open at the same time so I can switch between them for comparison.
I was working from a folder containing 127 Fuji X-T2 raw files. I think I had already done some changes in batch mode in the same session before the bug was triggered. Unfortunately there's no particular message in the console when it happens.
I have no other details.

[2018-09-20 20:34] heckflosse commented on #4720
@sguyader ok. I will take a look again

[2018-09-20 21:10] Beep6581 commented on #4803
@Hombre57 the PNG files are cooked, ready to use. The SVG files have a gold-standard color `#2A7FFF` which gets replaced with the theme color. There are currently two themes:
* dark = `#CCCCCC`
* light = `#252525`

Note: the GTK+ devs themselves advised against using SVG icons. And this is a discussion for issue 3547.

[2018-09-20 21:19] Hombre57 commented on #3547
Replying here to the [comment](https://github.com/Beep6581/RawTherapee/issues/4803#issuecomment-423334325) made in issue #4803 : I know that using SVG straight into icons is more deprecated, unless you use them to build a cache full of png counterparts, for the desired resolution. That way, you don't need to provide 2 sizes.

I'm also assigning myself for the last list entry.

[2018-09-20 21:20] sguyader commented on #4813
@Thanatomanic maybe, but I'm pretty sure it was just my dumbness forgetting to revert to RGB histogram after I had checked raw histogram for some raw files.

[2018-09-21 07:19] agriggio opened #4824 "Save Reference Image generates a 16-bit Float TIFF"
As the subject says, using "save reference image" results in a 16-bit float TIFF, which then causes troubles to dcamprof/argyll. I think this was unintentional, caused by 30efa5930da20985d47c6706f2801245f68798af (the signature of `ImageIO::saveTIFF` was changed, and the code in `improccoordinator.cc` not updated accordingly).

Here's the patch:

[code]

Ping @Hombre57

[2018-09-21 08:14] Hombre57 commented on #4824
@agriggio Yes, I've overlooked this occurence, sorry. Please commit.

[2018-09-21 11:14] heckflosse commented on #4720
@sguyader I tried a lot, but I'm not able to reproduce the issue. Without being able to reproduce there's nothing I can do :(

[2018-09-21 12:12] #4824 closed, assigned to nobody

[2018-09-21 13:19] agriggio opened #4825 "Fuji X-T3 raw files are missing a few rows at the bottom"
It seems that X-T3 raw files get decoded with a few missing rows at the bottom of the frame. See for instance one of dpreview's studio scene RAF files, and compare with the embedded jpg. Using camconst doesn't seem to be enough, I had to resort to the following patch to make the missing rows reappear. I'd appreciate a code review though.

ping @heckflosse

[code]

[2018-09-21 13:44] heckflosse commented on #4825
@agriggio Alberto, there also seems to be a black border at the right

[2018-09-21 14:03] Beep6581 commented on #4585
Does anyone have an idea how to fix this?

[2018-09-21 14:06] Beep6581 commented on #4018
This is fixed/worked around by https://github.com/Beep6581/RawTherapee/pull/4823#issuecomment-423511624

[2018-09-21 14:14] agriggio commented on #4825
@heckflosse I was using the `camconst.json` entry you posted on pixls to fix that. Do you prefer to hardcode it in `dcraw.cc`?

[2018-09-21 14:27] heckflosse commented on #4825
@agriggio No, we should include it in official camconst.json and only hardcode the change from your patch

[2018-09-21 14:43] heckflosse commented on #4585
@Beep6581 looking...

[2018-09-21 14:45] sguyader commented on #4825
The fact that RawTherapee was able to open X-T3 raw files even with wrong borders, gave some free advertisement for RT on dpreview, since people who wanted to check raws on their side couldn't do it with the official Adobe software!

[2018-09-21 14:47] heckflosse commented on #4825
@agriggio Alberto, in case you add the raw crop for x-t3 to camconst.json, can you please also unify the two entries for `Sony ILCE-7M3` ?
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L2301
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json#L2336

[2018-09-21 14:52] heckflosse commented on #4585
Here's a fix

[code]

Edit: I just updated the patch

[2018-09-21 14:57] agriggio commented on #4825
sure

[2018-09-21 14:58] Thanatomanic commented on #4585
I'm not an expert here, but wouldn't it be more convenient to put this kind of modification in `camconst`?

[2018-09-21 15:01] #4825 closed, assigned to nobody

[2018-09-21 15:01] Beep6581 commented on #4585
@Thanatomanic as far as I know, camconst doesn't differentiate between raw formats, and this is only an issue for DNG.

[2018-09-21 15:07] heckflosse commented on #4585
@Thanatomanic you're right. We can remove the -= 24 for arw and dng for this camera from dcraw code and define the raw crop in camconst.json because in this special case camconst does not have to differentiate between dng and arw.

[2018-09-21 15:11] heckflosse commented on #4585
@Beep6581 @Thanatomanic Here's an alternative patch:

[code]

[2018-09-21 15:14] sguyader commented on #4720
@heckflosse I know Ingo, today I worked on the same images, played (with a bit of fear) in the batch mode but nothing bad happened this time. However, I switched to MEOW mode to experiment in this mode. I'll let you know if it happens again.

[2018-09-21 15:27] Beep6581 commented on #4585
@heckflosse fix confirmed, thank you!

[2018-09-21 15:30] heckflosse commented on #4825
@agriggio Alberto, will you make the changes to camconst.json or shall I include them into the patch from #4585 ?

Edit: scratch my question. I didn't see your commit

[2018-09-21 15:35] #4585 closed, assigned to nobody

[2018-09-21 18:18] heckflosse commented on #4667
I just continued working on this issue.

I created `rawhistogram_fixes` branch. First commit removes the gamma from calculation of raw histogram values.

Here again my question from first post:
According to the raw histogram what would you expect to be the largest raw green value knowing that the white level of the image is 15500?
I would expect a value of ~10000
But it is ~6300

Before:
![grafik]

[2018-09-22 09:14] heckflosse commented on #4667
Fixed wrong raw histogram for float dng files in [0.0;1.0] range. Example file:
http://www.rawtherapee.com/shared/test_images/hdrmerge_range_0-1.dng

Before
![grafik](https://user-images.githubusercontent.com/13733487/45915613-0714c000-be58-11e8-8ac2-740dc0041ac7.png)

After
![grafik](https://user-images.githubusercontent.com/13733487/45915625-3b887c00-be58-11e8-85d9-5b126da2f905.png)

[2018-09-22 09:21] agriggio opened #4827 "CAAvoidColourshift saved unconditionally on pp3's"
As the title says, the seeting for raw CA correction "avoid colour shift" gets saved unconditionally on pp3's. I guess there's some missing code in the partial paste dialog.
Ping @heckflosse

[2018-09-22 10:00] #4827 closed, assigned to heckflosse

[2018-09-22 13:53] mattiaverga opened #4828 "Selecting multiple images in browser crashes RT"
Rawtherapee 5.4 from Fedora 28 RPMs
If I try to select two or more images in browser tab either by shift-clicking or shift-arrow Rawtherapee crashes.
See [backtrace.txt](https://github.com/Beep6581/RawTherapee/files/2407838/backtrace.txt).

https://retrace.fedoraproject.org/faf/reports/2317502/

[2018-09-23 09:37] Beep6581 commented on #4828
@mattiaverga cannot reproduce in Fedora 28 using RT 5.4 from the repo, nor using a debug build of the latest dev.

Were there any non-ascii characters in your filenames and full pathnames?

Can you reproduce using these two images?
http://rawtherapee.com/shared/test_images/amsterdam.pef
http://rawtherapee.com/shared/test_images/moon.nef

Can you compile RT yourself and reproduce using the latest d

[2018-09-23 10:41] mattiaverga commented on #4828
@Beep6581 I'm one of the maintainers of RT in Fedora repos, the original bug was reported by a user and I then discovered I can reproduce it always on my own system.

I tried with the two images you provided, I put them in `/home/marvin/test/` path (so without non-ascii chars) and I still get the crash. The new backtrace is at https://bugzilla.redhat.com/show_bug.cgi?id=1632010 (the original user

[2018-09-23 10:59] mattiaverga commented on #4828
So, it seems that the problem is in my RT options file.
I deleted RT config directory and with the default values I don't get the crash.
The problematic line is:
[code]
that in my own configuration was set to:
[code]
Reverting that line to defaults solves the problem.

[2018-09-23 11:35] Hombre57 commented on #4781
@TooWaBoo @Beep6581 @Benitoite

Ok to merge `scrolled-toolbar-fix` into `dev` ?

[2018-09-23 11:50] Beep6581 commented on #4828
@mattiaverga  I could not reproduce the crash using your `AdjusterBehavior` (in Sabayon) in 5.4 or dev.

Could you try backing up your `~/.config/RawTherapee*` and `~/.cache/RawTherapee*` and seeing if you can still reproduce?

[2018-09-23 11:51] Beep6581 commented on #4828
I tried both lines, but to be clear, which one is supposed to cause the crash - the all-zeros or the mixed one?

[2018-09-23 12:53] TooWaBoo commented on #4781
Yes, it fixes some GTK+ 3.24 issues too, but the toolbutton scrollbug in GTK+ 3.24 still exists.
https://github.com/Beep6581/RawTherapee/issues/4784

[2018-09-23 13:22] ff2000 commented on #4814
I get similar positioning errors when running kwin under Wayland. I also have an intel iGPU (sandybridge). I often can fix the positioning by resizing the main window. (didn't try RT... - back to X11 currently)
I just mention this because it seems you are using Gnome Shell which likely runs with wayland on your intel system. NVidia does not offer EGL but only an in-house invented EGLStreams which

[2018-09-23 13:49] heckflosse opened #4829 "RGB indicator lines under histogram are not disabled when opening editor in raw histogram mode"
to reproduce

1) open raw image
2) set histogram mode to raw histogram
3) close rt
4) start rt
5) open raw image
6) hover over the picture => rgb indicators are shown, wrong
7) set histogram mode to normal (non raw) histogram
8) set histogram mode to raw histogram
9) hover over the picture => rgb indicators are not shown, correct

This fixes it:
[code]

ping @Thanatomanic

[2018-09-23 14:22] Thanatomanic commented on #4829
Good catch. Fixed with 82187ae.

[2018-09-23 14:25] mattiaverga commented on #4828
The crash happens with the mixed line.
Also I noticed that the all zero line (which is the default created when running RT for the first time) is 130 values long, while the mixed line (which is probably inherit from a previous RT version which I upgraded) is 118.
[This](https://github.com/Beep6581/RawTherapee/files/2408790/options.txt) is the option file which in my case causes the crash.

[2018-09-23 15:12] Thanatomanic commented on #4829
@da-phil reported a typo of mine. Fixed with 7e36e86

[2018-09-23 15:12] #4829 closed, assigned to nobody

[2018-09-23 15:14] Floessie commented on #4828
@Beep6581 @heckflosse Don't know, if that matters here, but there's a bug in [`Thumbnail::getProcParams()`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/thumbnail.cc#L171) (as innocent as it may look). There is potential for a data race, because the lock is long gone when the reference to the data is used. Premature optimization...

HTH,
Flössie

[2018-09-23 15:43] Floessie opened #4830 "Support Fuji SN EXR mode RAFs"
Hi,

Ingo suggested to open an issue for supporting Fuji SN EXR RAFs, which contain two frames with the same exposure, which could be combined by RT for less noise. If needed, I could provide such a shot, but it had to be taken first, as I didn't find one in my archive (because even with SN, the images are noisy and often not worth keeping).

Thanks,
Flössie

[2018-09-23 16:12] heckflosse commented on #4830
@Floessie I have such shots from other exr cameras.

Here's a first quick and dirty hack. It gives the combination of both frames when Sub-image 1 is selected and the single second frame when Sub-image 2 is selected.

[code]
Of course we need a better solution for the gui. My hack is just to allow comparisons.

[2018-09-23 20:32] Thanatomanic commented on #4735
Possible duplicate: #4524

[2018-09-23 23:17] Beep6581 commented on #4814
Closing a this is likely a Wayland/GTK+ issue outside of our control.

[2018-09-23 23:17] #4814 closed, assigned to nobody

[2018-09-23 23:24] Beep6581 commented on #4735
Agreed, closing as duplicate.

[2018-09-23 23:24] #4735 closed, assigned to nobody

[2018-09-24 08:07] falket opened #4831 "Raw chromatic aberration correction's Avoid Color Shift causes purple halo due to garbage pixels near edge"
With ca autocorrection and avoid color shift enable, i get a strange purple halo at the bottom of the picture.

Canon Powershot Sx 220 with CHDK, raw converted to dng with adobe dng to avoid wasting space.

Screenshots and files:

https://drive.google.com/open?id=1zmufXV6gVQA8Yfr0Cb2EtEmzRqMIjwC-

Tya.

`Version: 5.4-903-g`7e36e86
[code]

[2018-09-24 08:16] Beep6581 commented on #4831
Confirmed in `5.4-903-g`7e36e86df, even with iterations=1.

![screenshot_20180924_101315](https://user-images.githubusercontent.com/5844619/45942381-78807a00-bfe2-11e8-8d9d-c3de8da810b7.png)

[2018-09-24 08:18] falket commented on #4831
Thank you. Btw, why the right preview is a little bit disaligned (higher) compared to the left one? even on my pc.

[2018-09-24 08:20] Beep6581 commented on #4831
It's a theme issue, #4778

[2018-09-24 09:05] #4778 closed, assigned to Beep6581

[2018-09-24 10:02] heckflosse commented on #4831
That's caused by the last rows of the image which are a bit off as you can see in this screenshot (Amaze demosaic, border = 0, no ca correction). I will try to fix it...
![grafik](https://user-images.githubusercontent.com/13733487/45946603-a1f4d200-bff1-11e8-8d32-b9a16ace0061.png)

[2018-09-24 11:16] heckflosse commented on #4831
After thinking a bit more about the issue, I came to the conclusion, that trying to fix this garbage in => garbage out problem in ca correction code is not a proper solution.
We should define a raw crop in camconst.json to mask out the last one or two row, which contain the garbage.

Here's a screenshot made with raw border = 0 and demosaic none. It's clearly visible that the blue values in the la

[2018-09-24 11:24] falket commented on #4831
@heckflosse uploaded here (one is "out of chdk" without being lossless compressed with dng converter, same problem): https://drive.google.com/open?id=1zmufXV6gVQA8Yfr0Cb2EtEmzRqMIjwC-

I have tried other 3 cameras with chdk but they don't have this problem.

[2018-09-24 12:04] supertobi commented on #3569
GoPro just released the HERO7, are there any news here?

[2018-09-24 14:50] heckflosse commented on #4831
@falket Thanks for the files :+1:

[2018-09-24 14:52] #4831 closed, assigned to nobody

[2018-09-24 20:06] pwnage101 opened #4833 "preview updated too often while panning"
While panning the preview, the entire view is recalculated, including regions that were previously visible.  Would it be possible to cache the preview in memory, and while panning only calculate the L-shaped region that is being uncovered?

[2018-09-25 06:33] Beep6581 commented on #4833
Hi Sankey

This is a duplicate of #956

[2018-09-25 06:33] #4833 closed, assigned to nobody

[2018-09-25 09:22] heckflosse opened #4834 "reduce updates to preview, panning background, navigator and thumbs"
Currtently the thumbnail gets updated too often.
For example the thumbnail of an image gets updated when panning or zooming in preview, which imho does not make sense.

With this patch thumbnail gets only updated when processing parameters change or need to be saved.
Also removes the variable `bool needsReProcessing` because it was always set to true.

[code]

[2018-09-25 09:25] #4805 closed, assigned to nobody

[2018-09-25 17:24] TooWaBoo commented on #4148
New update

[code]
Update can't be installed 'cause of file conflicts.
[code]

[2018-09-25 20:06] Beep6581 opened #4835 "Post-Resize Sharpening > Contrast Threshold default value is 0"
The default contrast threshold value for the main sharpening tool is 20, while for post-resize sharpening it's 0. Would be consistent for it to also be 20.

[2018-09-25 22:08] adeelabbas opened #4837 "GPR file support"
Would be nice to add support for [GPR](https://github.com/gopro/gpr) files in RawTherape.

[2018-09-25 22:20] heckflosse commented on #4837
Duplicate of #3569

[2018-09-25 22:20] #4837 closed, assigned to nobody

[2018-09-25 22:32] adeelabbas commented on #3569
@heckflosse let me know if you have any questions about [GPR tool](https://github.com/gopro/gpr) from GoPro

[2018-09-25 22:34] adeelabbas commented on #3569
Adding @dnewman-gpsw to this thread

[2018-09-25 23:14] heckflosse commented on #3569
@adeelabbas Thank you for offering help. Very much appreciated. It was just, that I didn't have free time to care about this raw format :(

[2018-09-25 23:37] heckflosse commented on #4834
Tomorrow I will include some fine tuning into the patch to only reprocess the thumbnail when processing parameters related to thumbnail are changed...

[2018-09-26 11:41] supertobi commented on #3569
Btw. I just discovered this project, perhaps it helps:
https://github.com/emericg/libcineform

[2018-09-26 21:20] aferrero2707 commented on #4404
I have introduced some improvements in the desktop integration of the RT AppImage. I basically worked on two aspects:

- integration with the applications menu and the "Open with..." contextual menu of the file managers.
For this to work, make sure you have the `desktop-file-install` installed command in your system.
When launching the AppImage for the first time, a dialog like the attached one sh

[2018-09-26 21:41] strongheart1 opened #4838 "Raw chromatic aberration correction's Avoid Color Shift causes purple halo"
On some pictures I get a purple tone on the lower edge with an Auto-Matched Curve:
![img_5199-1](https://user-images.githubusercontent.com/35747159/46110657-a33a2080-c1e4-11e8-9c9b-69ea0055036a.jpg)
The same picture with Neutral profile:
![img_5199-2](https://user-images.githubusercontent.com/35747159/46110658-a3d2b700-c1e4-11e8-9bae-f94ebd839132.jpg)

RT Version: 5.4-911-g5ece078

I didn't see it

[2018-09-26 22:32] heckflosse commented on #4838
@strongheart1 That looks like an issue with the raw auto ca-correction avoid colour shift feature.
Please test with raw ca correction avoid colour shift disabled and if possible please also provide the raw file

[2018-09-26 23:27] strongheart1 commented on #4838
@heckflosse Yes, if I disable "avoid colour shift", the error disappears.
Here is the raw file: https://filebin.net/2tt0lb48rutk4gmk

[2018-09-27 05:57] Beep6581 commented on #4838
@strongheart1 was CHDK used?

[2018-09-27 06:45] Beep6581 commented on #4404
Hello @aferrero2707
1. The AppImage was updated correctly.
2. I totally missed that the Zenity dialog showed the download destination - I looked only in the console output and could not find where the AppImage was saved. Would be nice if the console output made that clear as well.
3. The console output mentions some `download_release.sh` script which does not exist.
4. The download progress gets l

[2018-09-27 08:53] #4838 closed, assigned to heckflosse

[2018-09-27 09:21] supertobi commented on #3569
Btw: Everyone is absolutely welcomed to contribute to RPU (https://raw.pixls.us/). There are only Hero5 and Hero6 samples.

[2018-09-27 12:18] aferrero2707 commented on #4404
@Beep6581
Thanks for checking! Do you find this worth to be included in next appimage releases?

Also, did you have a chance to check the desktop integration? From a user perspective, this is also a very important aspect...

[2018-09-27 13:04] Beep6581 commented on #4404
Yes please.

Ah yes, I forgot to mention that this part didn't appear, I did not see any "Would you like to integrate" window.

[2018-09-27 13:07] aferrero2707 commented on #4404
@Beep6581

Do you have the `desktop-file-install` command in your system? Under CentOS, it is available through the `desktop-file-utils` package, and in Sabayon it seems to be called in the same way.

This command is mandatory in order to install a new *.desktop file and add the proper entries in the applications menu.

I will add a warning in the console messages if that is missing.

[2018-09-27 13:10] Beep6581 commented on #4404
Yes, I have `desktop-file-edit`, `desktop-file-install` and `desktop-file-validate`, they're from `dev-util/desktop-file-utils-0.23`.

[2018-09-27 13:14] aferrero2707 commented on #4404
@Beep6581

Could you check the contents of your `$HOME/.local/share/appimagekit/` folder and make sure there is no file called `RawTherapee_no_desktopintegration`?

If it is present, please delete it and try running again the AppImage...

[2018-09-27 13:16] Beep6581 commented on #4404
@aferrero2707 there was an empty file `~/.local/share/appimagekit/RawTherapee_no_desktopintegration`
Where did it come from? Sorry if this is obvious by looking at the code, but I won't be able to check for myself until tomorrow.

[2018-09-27 13:21] aferrero2707 commented on #4404
@Beep6581

This was probably created in the past when you answered "Yes" to this sort of dialog:
![screen shot 2018-09-27 at 15 19 37](https://user-images.githubusercontent.com/6229237/46148630-cd352680-c268-11e8-8206-0487b6bac142.png)

If you remove it, you should be prompted with a request to integrate RawTherapee in your desktop...

[2018-09-27 18:09] strongheart1 commented on #4838
No, just original Canon EOS 50 D Firmware V 1.0.9

[2018-09-27 18:22] heckflosse commented on #4838
@strongheart1 The problem was, that the ca correction at the borders of the picture does not work well and led to wrong correction at the border even without Avoid color shift. This wrong correction was not visible when using the default border of 4 pixels, but using 'Avoid color shift' this wrong correction was spread to the neighbouring region.

[2018-09-27 21:00] heckflosse commented on #4667
Closing this as it's much better than before.

[2018-09-27 21:00] #4667 closed, assigned to Beep6581, Thanatomanic, heckflosse, iliasg

[2018-09-27 21:01] heckflosse commented on #4450
I'll delay that for 5.6 milestone

[2018-09-28 01:08] TooWaBoo commented on #4148
I've reinstalled MSYS2 to fix the update conflict.

GTK+3.24.0 has been updated to version 3.24.1.
When I try to open an image. RT crashes immediately. Testet with latest dev.
[code]
**EDIT:**
Downgraded to GTK+3.23.30. It's still crashing. Must be another package.

[2018-09-28 14:19] TooWaBoo commented on #4148
I've found the culplrit. It's `mingw-w64-x86_64-cairo`.

This is a list of all packages which have to be downgraded to:
[code]
e.g. `pacman -U <path>/mingw-w64-x86_64-...`

The files can be downloaded from: http://repo.msys2.org/mingw/x86_64/

Add following to the file `.../etc/pacman.conf` to prevent MSYS from updating the packages.
[code]

[2018-09-28 15:22] Dapid opened #4841 "Selecting several images on the library view triggers a segfault"
Attempting to select any two raw files (for example, to apply the same settings) triggers an immediate core dump. ABRT has been kind enough to provide a full backtrace and version information here: https://bugzilla.redhat.com/show_bug.cgi?id=1634056 , but here are the highlights:

Error message on the terminal:
[code]

RawTherapee version: rawtherapee-5.4, from the repositories, build 1.

Operativ

[2018-09-28 17:11] Dapid commented on #4841
Following an idea from #4828, I cleared my cache and inspected my .config/RawTherapee/options file. It turns out I had an old flat field directory that is no longer there. I removed it, and now it works flawlessly.

[2018-09-28 17:11] #4841 closed, assigned to nobody

[2018-09-28 20:02] Beep6581 commented on #4841
@Dapid do you still have your old config file, or your old flatfield entry from the config file, or can you reproduce now by editing your options file and changing the flatfield dir?

[2018-09-28 23:24] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-python3-3.7.0-15`

[2018-09-29 06:03] noirsabb opened #4842 "Segfault upon selecting noise reduction"
Hi

Just reporting a segfault with a recent nightly build of Rawtherapee. Basically I was trying to denoise an image (via the Noise Reduction option under the Detail pane) for which I had adjusted the exposure compensation by about six stops. I built a debug version of the software and have the stacktrace below. It looks like the program was deallocating unallocated memory in method
rtengine::ImPr

[2018-09-29 07:51] Beep6581 commented on #4842
Hi @noirsabb

That reported version description is not right. To fix it, follow these steps:
https://github.com/Beep6581/RawTherapee/issues/4509#issuecomment-382731056

[2018-09-29 10:09] noirsabb commented on #4842
Hi

Thanks for the reply. The problem probably was at my end. I cloned a new repository, and got a compilation error. I now recall I fixed the compilation error, but did not initialize the memory allocated. Sorry for the noise.

[code]

[2018-09-29 10:09] #4842 closed, assigned to nobody

[2018-09-29 10:16] Thanatomanic opened #4843 "Exif data on Canon D30 and 300D cannot be read"
As per this mention: https://discuss.pixls.us/t/old-models-of-canon/9219/2
It seems the exif info of raw files from the Canon 30D and 300D cannot be read by RT. I was able to reproduce on the latest dev build.

FWIW: Also my default picture viewer IrfanView cannot read the Exif info.

[2018-09-29 12:31] Benitoite commented on #4843
The _D30_ CRW
[code]
and the 300D CRW
[code]
Both have exifs, but RT is only showing the message:
![screen shot 2018-09-29 at 5 13 29 am](https://user-images.githubusercontent.com/17919239/46245802-be558d80-c3a8-11e8-8665-95f0a0a1995b.jpg)

[2018-09-29 15:30] Beep6581 commented on #4843
Related to #3801 (but hopefully fixable before that).

[2018-09-29 20:39] aferrero2707 commented on #4404
@Beep6581 I have integrated your patch, and prepared new packages. Apart from the automated updating, the other important improvement concerns the build environment. The new packages are built using a base CantOS7 docker image, where all the dependencies (binary and compiled from sources) are installed when the AppImage gets created. This insures that all packages are up-to-date and include the la

[2018-09-29 22:21] heckflosse commented on #4404
@aferrero2707

I don't think there is a preferred GCC version for building RT. It should build fine from 4.9.x on upwards.
Though, as your question implies a choice I would say, the higher the better, but it does not have to be bleeding edge

[2018-09-30 00:06] UnaiM commented on #4634
I can confirm this problem is very much present in version 5.4-1.fc28 from the @fedora repo.

[2018-09-30 03:16] TooWaBoo commented on #4148
New update
[code]

[2018-09-30 07:43] Thanatomanic commented on #4148
@TooWaBoo The problematic update you described and solved with a reinstall of MSYS2 can actually be overcome by using `pacman -Syu --force`. The [issue is known](https://github.com/Alexpux/MSYS2-packages/issues/1426).
Edit: changed `--overwrite` to `--force`

[2018-09-30 11:50] Beep6581 commented on #4404
@aferrero2707 if I use automated updating, can I be sure that the packages will remain isolated in my system? Where will they be downloaded and built to?

[2018-09-30 15:14] aferrero2707 commented on #4404
@Beep6581

Sorry, I think there is some confusion on this point. When the AppImage is updated, there are no dependencies that are downloaded and built. Only the new AppImage is downloaded, which is a self-contained package that does not "pollute" your system. The dependencies are updated and built on TravisCI, when the AppImage is generated.

I hope this clarifies your doubts. Otherwise, you can a

[2018-10-01 05:49] afr-e commented on #4784
Noticed the flickering after updating to https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dev_5.4-795-g6f6cdd113_WinVista_64.zip.

Here's a GIF since no one posted an example:

![flicker](https://user-images.githubusercontent.com/42004791/46271712-d994da00-c51b-11e8-9116-c486d8fad24f.gif)

[2018-10-01 11:00] Floessie commented on #4843
Testing with the 300D CRW, I've identified two reasons as to why this doesn't work (anymore):

1. In `FramesData::FramesData()` `exifManager.parseCIFF()` is [unreachable](/Beep6581/RawTherapee/blob/dev/rtengine/imagedata.cc#L1103), if there's an `exifManager.rml->ciffBase` but no `rml->exifBase`. This was already the case before the multi-frame changes.
2. In [`ExifManager::parseCIFF()`](https://g

[2018-10-01 11:24] TooWaBoo commented on #4803
@Hombre57
Anything new.

[2018-10-01 14:05] TooWaBoo commented on #4148
To solve the update conflict with openssl call pacman with the following options.

`pacman -Syu --overwrite mingw64/share/man/man3/BN_print.3ssl.gz --overwrite mingw64/share/man/man3/HMAC.3ssl.gz --overwrite mingw64/share/man/man3/LHASH.3ssl.gz --overwrite mingw64/share/man/man3/MD5.3ssl.gz --overwrite mingw64/share/man/man3/MDC2.3ssl.gz --overwrite mingw64/share/man/man3/RC4.3ssl.gz --overwrite m

[2018-10-01 14:13] falket opened #4846 "Lumix DMC-FZ45 raw preview rendered in black and white"
Hello everyone,

 i was playing with a raw took with the Lumix DMC-FZ45 here:

https://raw.pixls.us/getfile.php/2580/nice/Panasonic%20-%20DC-FZ45%20-%204:3.RW2

The preview using neutral profile is in black and white. Output seems ok.

Version: 5.4-909-g5073303
Branch: dev
Commit: 5073303
Commit date:
Compiler: cc 6.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.

[2018-10-01 15:05] heckflosse commented on #4846
Works fine here using rt 5.4-918.
Left is using neutral profile. Right is neutral profile + 'black and white'
![screenshot_2018-10-01_17-04-23](https://user-images.githubusercontent.com/13733487/46297076-1a343800-c59c-11e8-9dcc-d26309b91bfe.png)

[2018-10-01 15:21] Beep6581 commented on #4846
Works fine here too.

Having said that, I wanted to check the color matrix, and the metadata reported using Exiv2 and ExifTool shows:
[code]
However, there is no mention of that model on Panasonic's website nor in Google, and our `rtdata/dcpprofiles/camera_model_aliases.json` doesn't handle it. There is a "D**M**C-FZ45" but no "DC-FZ45". Adobe DNG Converter doesn't identify the raw file as a suppo

[2018-10-01 15:57] Hombre57 commented on #4803
I'm quite busy these days but will work on this again starting from tomorrow.

[2018-10-01 16:47] falket commented on #4846
Tried with 919 it works. And retried with 908 works again.... sorry i don't understand what's happened.

I haven't edited the file in any way (md5sum is 554d7325536578cfacbea7e10e9128bc ).

There are other raw samples on photographyblog.com . Here the camera is DMC-FZ45, i don't know what happened with raw.pixls.us samples. Btw, i don't have the camera, i was just playing since i saw one.

Found o

[2018-10-01 17:42] Beep6581 commented on #4846
Ok, closing as invalid.

[2018-10-01 17:42] #4846 closed, assigned to nobody

[2018-10-01 18:13] TooWaBoo commented on #4148
New update
[code]

[2018-10-01 21:31] Hombre57 commented on #4843
@Floessie I'll have a look ASAP (this week).

[2018-10-01 21:37] Hombre57 commented on #4834
@heckflosse I'll answer here for the PR #4839 review :

1. the patch works and it's :confetti_ball:
2. I don't think we should add the new functions in `ProcParams`, they're GUI related and I don't think this class should be in charge of that.

Here is a patch that move the functions to where they are used. For the thumbnails, In fact, it should also take care of the `ParamsEdited` parameter, beca

[2018-10-02 06:22] Floessie commented on #4834
@Hombre57

While I principally agree, I see a benefit in keeping those comparisons in `ProcParams`: Locality, i.e. if you extend the class you'll immediately notice there are things to consider locally. If it's spread around in the code, you won't realize you forgot to add (or at least consider) the new parameters.

In this case, the instances are compared byte by byte (like `memcmp()`), which sho

[2018-10-02 07:05] heckflosse commented on #4834
@Floessie

:+1:

[2018-10-02 16:36] TooWaBoo commented on #4148
New update
[code]
[code]

[2018-10-02 20:34] TooWaBoo commented on #4148
New update
[code]
brotli-1.0.6-1
expat-2.2.6-1
libargp-20110921-2
libexpat-2.2.6-1
libutil-linux-2.32.1-1
util-linux-2.32.1-1

[2018-10-03 00:11] TooWaBoo opened #4847 "Some icons are not visible on Win10"
I saw this screenshot from @heckflosse .
![heckflosse](https://user-images.githubusercontent.com/13800920/46382983-44761a80-c6ae-11e8-8eeb-d1a28f06537c.jpg)
The `Select Crop` button shows an icon.

This is a screenshot from Windows 10.
![unbenannt](https://user-images.githubusercontent.com/13800920/46383017-77b8a980-c6ae-11e8-8721-1c84f3d60103.PNG)
The icon is not visible.

... and this is what th

[2018-10-03 05:23] Beep6581 commented on #4847
Which version of GTK+ was used?

[2018-10-03 05:43] TooWaBoo commented on #4847
GTK+ 3.22.30

[2018-10-03 07:08] LanaDmitreva opened #4848 "not responding"
Hello!
I often stop the program when working with the conductor
![fvxcgfg](https://user-images.githubusercontent.com/43805985/46395181-fdffda80-c704-11e8-82ad-f79c6e8c2e76.jpg)
. With other such problems there.
My system is Windows 10, Motherboard P7P55D-E, Xenon x3470, 12Gb RAM, ATI radeon 7850, SSD 120 Gb Samsung EVO

[2018-10-03 07:16] Thanatomanic commented on #4848
What are you reporting actually?

[2018-10-03 07:19] heckflosse commented on #4847
Here's my version info
[code]

[2018-10-03 08:55] LanaDmitreva commented on #4848
Here's a [video](https://youtu.be/kcY1uM1tdsc), [video 2](https://www.youtube.com/watch?v=MAz7FtTFYRU), still very slowly starting. What can be done?

[2018-10-03 09:03] TooWaBoo commented on #4847
When I remove the button label in `crop.cc` the image is shown.

[2018-10-03 10:29] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-json-glib-1.4.4-1`

[2018-10-03 10:38] heckflosse commented on #4834
Opinions from others about the location of the code?
@agriggio @Thanatomanic @Desmis

[2018-10-03 11:09] Thanatomanic commented on #4834
My first impression was 'what an ugly list, that is a little hard to maintain' :wink:
So, maybe a little outside of the box, and even impossible to implement practically, but considering locality: wouldn't it be even better if the tool that is adjusted sends a signal to trigger an update of the thumbnail?

[2018-10-03 11:21] heckflosse commented on #4834
@Thanatomanic Consider also the case that no adjuster is changed but a history entry is selected ;-)

[2018-10-03 11:34] Thanatomanic commented on #4834
That could trigger a naive full update?
In my workflow at least, I hardly use the history, so that wouldn't be a big penalty...

[2018-10-03 12:54] Beep6581 commented on #4847
A Gtk::Button shows an image if one is set and if:
* `gtk-button-images` is `TRUE`, or
* there is no label.

The recommended, future-friendly way of handling this is to pack a GtkImage and GtkLabel in a GtkBox and to add that to the GtkButton.

Gtk::Button image handling in GTK4:
https://developer.gnome.org/gtk4/stable/gtk-migrating-3-to-4.html#id-1.6.4.3.11

The functions and properties related t

[2018-10-03 13:04] Beep6581 commented on #4847
@TooWaBoo see if you can set `gtk-button-images=True`
https://github.com/shoes/shoes3/wiki/Changing-Gtk-theme-on-Windows

[2018-10-03 14:47] agriggio commented on #4834
@heckflosse I haven't checked the branch yet -- I'd tend agree with @Hombre57, but that is without having actually seen the code, so take this with a lot of salt :-)

[2018-10-03 14:55] heckflosse commented on #4834
@Thanatomanic The current solution centralizes the code to few places (in my version and also in Hombres version). Your suggestion would mean that it's up to the tool to decide what has to be done (process the thumb, process the panning background...). I don't think that's the right solution. Think about all the places we would have to modify then (as already mentioned the history, but also (parti

[2018-10-03 16:39] Thanatomanic commented on #4848
The slightly slow startup is something I recognize. The program locking up should be fixed in version 5.5: see #4576. For now, let the folder load before you switch.

[2018-10-03 16:39] #4848 closed, assigned to nobody

[2018-10-03 16:42] LanaDmitreva commented on #4848
Ok 😊

[2018-10-03 17:34] heckflosse commented on #4834
Currently I'm not able to push Hombres patch. I'm fine with pushing it and then merging my branch. @rawtherapee-devs: :+1: to push Hombres patch and merge.

[2018-10-03 18:04] TooWaBoo commented on #4847
I've created folders and the file `settings.ini` in `share` (`etc\gtk-3.0\settings.ini`) and followed the instructions from your link but nothing has changed.

settings.ini
[code]

[2018-10-03 19:48] aferrero2707 commented on #4404
The next thing I would like to integrate into the RT AppImage, particularly in connection with automated updates, is package signature and validation.

The AppImage format allows to [embed a GPG signature](https://docs.appimage.org/packaging-guide/signatures.html), so that the integrity of the packages can be verified after download.

This is how I propose to organise the digital signing of the RT

[2018-10-03 22:16] TooWaBoo commented on #4847
@Beep6581
Bingo, it works.
I've created a folder `gtk-3.0` in the folder `share` of RT and copied `settings.ini` into this folder.

The file `settings.ini` looks like this. "True" doesn't work, has to be "1".
[code]

@gaaned92
fyi

[2018-10-04 13:58] agriggio opened #4850 "contrast slider for luminance denoise?"
Just a quick idea: would it be possible to use a contrast-based mask for modulating the luminance denoise amount, similarly to what is done for sharpening and dual demosaicing? For example, it could control the effect of the "detail" slider in the denoise module. What do you think @heckflosse? Does this make sense?

[2018-10-04 16:23] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-atk-2.30.0-1`

[2018-10-04 17:56] heckflosse commented on #4850
@agriggio The current implementation of the contrast-based mask can be used everywhere to blend before/after Lab L-channels. In your use case that would be before/after luminance denoise detail. Just try it. It's easy to use ;-)

The mask is built here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rt_algo.cc#L193

And here's how it's applied:
https://github.com/Beep6581/RawTherapee/bl

[2018-10-04 19:10] RawConvert opened #4851 "Custom curve shape affected by placing subsequent node"
To reproduce: Open a Raw and a Custom Curve. This could be within CIECAM, LAB or tone curves 1 or 2 in Exposure.  Place the first point.  Now position the mouse near but not quite on the curve. Press Ctrl. Click.  The curve alters, but it should not.  It has been a feature for quite some time that Ctrl clicking is the easy way to put a point exactly on the curve.  (This allows two points close tog

[2018-10-04 19:12] Beep6581 commented on #4851
Cannot reproduce. Could you show a video?

[2018-10-04 19:16] Beep6581 commented on #4851
Ah, I see what you mean. The node seems to get placed exactly where it should be placed, but the new Catmull-Rom spline curve, introduced in #4701, results in the curve shape being affected by the new node.

[2018-10-04 19:18] RawConvert commented on #4851
I think my title was better! - mentions the Ctrl bit!

[2018-10-04 19:41] Beep6581 commented on #4851
I don't think there's anything to be done about this because it behaves correctly, just differently than before, but we'll see what @agriggio and the others think.

[2018-10-04 20:25] agriggio commented on #4851
Sorry, I don't understand what the issue is... I agree that a video would help

[2018-10-04 20:26] agriggio commented on #4851
fwiw, I didn't touch the GUI at all when introducing the catmull-rom splines...

[2018-10-04 22:05] agriggio commented on #4326
A quick update on this:
https://filebin.net/3sdlzkzrsp6ufote/dehaze-preview.mp4?t=we3rfsvf

*Not* taken from darktable though. I got the algorithm directly from the paper: http://kaiminghe.com/cvpr09/

The implementation is trivial using the fast guided filter (see my pr #4849)

[2018-10-05 00:11] sguyader commented on #4326
@agriggio  Sounds very interesting Alberto!

[2018-10-05 07:03] Floessie commented on #4446
Here's a patch with two countermeasures:

1. Fix the "double extension" warning I broke in b84e570f500a19fec0f6a35fe775061116be283b.
2. Change suffix on format change.

[code]

HTH,
Flössie

[2018-10-05 10:08] RawConvert commented on #4851
I'll  hopefully come back to this over the weekend.  I don't think it behaves correctly because the first Ctrl Click point behaviour is different to subsequent Ctrl Clicks.  A bug!  @agriggio , the issue is about getting part of the curve just right, bit like the zone system I guess, then when you alter the next part of the curve, you don't want it to affect the bit you've just sorted out.  A numb

[2018-10-05 11:26] Beep6581 opened #4852 "Histogram matching across selection of shots"
Wouldn't it be nice if one could select multiple thumbnails, such as a time-lapse series, a focus-stack series or shots for panoramic stitching, right-click and select "Histogram matching"? It would then use a new end-of-pipeline tone-curve to try and match the histograms of all selected images to the histogram of the right-clicked image.

[2018-10-05 11:29] Beep6581 commented on #4851
@agriggio I think what @RawConvert means is that when placing a new node on the curve, in the old curve type you could do so without it affecting the shape of the curve, while now it does change the shape:
![screenshot_20181005_132740](https://user-images.githubusercontent.com/5844619/46532792-a6977100-c8a2-11e8-8276-f6dbf44e1c5c.png)
![screenshot_20181005_132756](https://user-images.githubusercon

[2018-10-05 11:33] Beep6581 commented on #4326
@agriggio could you show what happens when you run it on `amsterdam.pef` and `soderasen_1.hdr.dng`?

[2018-10-05 12:05] agriggio commented on #4851
ah ok, now I understand. yes, I guess it's not a bug then, just a change of behaviour. I'll have to think whether it's possible to have a workaround -- I'm not sure at the moment. anyway, placing another control point doesn't ensure that the curve won't change in the middle, I think this was never the case... if you want that behaviour, control cage curves are better imho

[2018-10-05 12:07] agriggio commented on #4326
@Beep6581 if you are looking for artifacts, they will be there :-) the tool is not yet done, this is only a preview... stay tuned for more news!

[2018-10-05 12:26] Beep6581 commented on #4326
@agriggio no, I'm just curious to see its effects on photos I know well, and I wonder whether this could be used to add contrast to highlights, i.e. clouds.

[2018-10-05 13:12] agriggio commented on #4326
I don't think it's designed to work like  that, but I'll give it a try as soon as I have the chance

[2018-10-05 14:28] st-tsourkan opened #4853 "Crash on startup when reading folder with corrupt DNGs"
RT version: 5.4 (Win7/Win10 x64). I can't to write version exactly, because my RT can't start (crashes).

1. In folder was damaged photos (DNG files from Pentax, which were bad copied from damaged hard drive). RawTherapee has crushed.
2. When I've restarted RawTherapee, it crushed again at start (program window appeared at screen for 0,5 second and disappeared). RT can't start normally.
3. I have

[2018-10-05 15:10] Beep6581 commented on #4853
@st-tsourkan please upload some sample corrupt DNG files using https://filebin.net/

[2018-10-06 08:13] gaaned92 commented on #4847
@TooWaBoo
OK I will apply that.
But first I have to revert some MSYS2 updates as you noticed.

[2018-10-06 10:03] morosakubek commented on #4326
@agriggio , I repeat, my attention, it should be combined for convenience with some blue cast removal.

[2018-10-06 12:45] aferrero2707 commented on #4404
@Beep6581
I have uploaded new AppImage packages in the nightly builds release, and added the auto-update feature. It would be great if you could double-check that everything works as expected...
The auto-update is disabled by default - it must be explicitly enabled with
[code]

I wrote some more detailed informations and instructions [here](https://discuss.pixls.us/t/test-the-latest-rawtherapee-ap

[2018-10-06 14:44] gaaned92 commented on #4326
[code]
@agriggio Yes introduction of `dark channel prior` dehazing should be a great improvement.
As @morosakubek  noticed, haze introduces also cast  ( generally blue cast or orange cast in case of dust) and  loss of sharpness proportional to  the distance of viewed object. Is the method able to correct those two issues or a further correction using `depth map` as a mask should be added?

`The im

[2018-10-06 19:18] TooWaBoo commented on #4847
Closing issue.

[2018-10-06 19:18] #4847 closed, assigned to nobody

[2018-10-06 20:18] #4834 closed, assigned to heckflosse

[2018-10-06 21:36] Dapid commented on #4841
I did not keep the old config file, but I recreated it, and that did not trigger the error. My guess is that there was something on the cache.

Is the cache versioned? A solution would be to read the version of RT that created it, and if it differs, nuke it.

[2018-10-06 21:58] gaaned92 commented on #4148
@TooWaBoo
I did not downgraded GTK3 to 3.22.30. Could you explain what are the issues if I stay with 3.24.1?

[2018-10-06 23:46] TooWaBoo commented on #4148
@gaaned92
https://github.com/Beep6581/RawTherapee/issues/4784

[2018-10-07 05:30] Desmis commented on #4148
I have been away for several days, and I'm a bit surprised at all these malfunctions in Msys2.
Previously this was not the case, it was enough to make an update to write : $ pacman -Syu

What must be done to make it work? are the 2 following actions **necessary and sufficient:**

1) Add following to the file .../etc/pacman.conf to prevent MSYS from updating the packages.

IgnorePkg = mingw-w64-x86

[2018-10-07 05:34] Thanatomanic commented on #4148
@Desmis Jacques, the first four packages are correct. For the second, you can simply type `pacman -Syu --force`. No need to do this for seperate packages.
Edit: changed `--overwrite` to `--force`.

[2018-10-07 05:46] Desmis commented on #4148
@Thanatomanic
OK, thank you :)

[2018-10-07 05:54] Desmis commented on #4148
@Thanatomanic
When I do

jacques@pc-bureau MSYS ~
$ pacman -Syu --overwrite
pacman: option requires an argument -- overwrite

what did I miss ?

[2018-10-07 07:39] TooWaBoo commented on #4148
@Thanatomanic,
doesn't work
@Desmis
--overwrite can't be used without a parameter.
Copy/paste the whole string:
`pacman -Syu --overwrite mingw64/share/man/man3/BN_print.3ssl.gz --overwrite mingw64/share/man/man3/HMAC.3ssl.gz --overwrite mingw64/share/man/man3/LHASH.3ssl.gz --overwrite mingw64/share/man/man3/MD5.3ssl.gz --overwrite mingw64/share/man/man3/MDC2.3ssl.gz --overwrite mingw64/share/man/m

[2018-10-07 07:42] Thanatomanic commented on #4148
@TooWaBoo @Desmis Try `pacman -Syu --force`. TooWaBoo is right about `--overwrite` but `--force` does the trick, even though pacman tells you it's deprecated.

[2018-10-07 07:50] TooWaBoo commented on #4148
Found this on the web.
`pacman -Syu --overwrite '*'`
I don't know if this works too.

[2018-10-07 08:45] Desmis commented on #4148
I used the "copy and paste" method....
Very huge update...

All seems to work well.

But the next update... in several days... should I redo the same "copy and paste", or only $ pacman -Syu

[2018-10-07 08:48] Thanatomanic commented on #4148
Only `pacman -Syu` should do the trick from now on.

P.S. @TooWaBoo Since this issue has become quite long and the earlier posts are not relevant anymore, do you think it would be a good idea to make a new, up-to-date issue regarding MSYS2? Or @Beep6581  could we have github-wiki page for that?

[2018-10-07 09:25] agriggio commented on #4326
thanks for the comments. I am thinking about the colour cast, I have an idea that I want to try. I have no plans for sharpness though, as I think it's better addressed elsewhere.
if you have sample images that you can share, they are most welcome!

[2018-10-07 10:28] Hombre57 commented on #4634
@xlfjn Your file is no longer on filebin, could you re-upload it ?

[2018-10-07 11:02] xlfjn commented on #4634
@Hombre57 You can use the file provided in #3600

[2018-10-07 19:43] Beep6581 opened #4855 "Make initial size of splash screen window fit splash image"
When running RT for the first time (clean config folder), the splash screen window is much larger than the splash screen image. Doesn't look professional. The default size should shrink to fit the contents.

[2018-10-07 19:46] Beep6581 commented on #4855
Actually, the first thing the user sees is the "Release Notes" tab of the "About" window. While the release notes look fine when the window is large, if you switch to the "Splash" tab, then it looks bad.

![screenshot_20181007_214629](https://user-images.githubusercontent.com/5844619/46586145-7d313d80-ca7a-11e8-812d-a8bb104f38ac.png)
![screenshot_20181007_214635](https://user-images.githubusercont

[2018-10-07 19:57] Beep6581 commented on #4148
* The bulk of this issue consists of comments regarding benign updates. I don't see the point of leaving a new comment here when there are regular MSYS2 updates which don't break anything.
* I do see the point of warning people if an update breaks the build system.
* MSYS2 updates seem bleeding-edge, prone to break things, and there is no need for that as far as providing Windows builds goes. I wi

[2018-10-07 20:08] Beep6581 commented on #4404
Hey @aferrero2707

I downloaded `RawTherapee-dev-5.4-922-g404ff5e.AppImage` from https://github.com/Beep6581/RawTherapee/releases/tag/nightly

I corrupted it and ran it. It ran successfully. The AppImage did not detect that it was corrupted:
[code]

Next, I tried to run `--enable-auto-update` but that failed, both in the corrupt and the intact AppImages:
[code]

[2018-10-08 07:07] aferrero2707 commented on #4404
@Beep6581

This is not how it works... the AppImages do not check themselves. Instead, during the update process the AppImage `X` downloads and checks the `X+1` package before running it. This assumes that `X` is not corrupted, and that therefore it can reliably check the validity of `X+1`.

If you think about it, it would be likely that an infected AppImage would be modified to return a false neg

[2018-10-08 07:28] Beep6581 commented on #4404
Self-checking using a hash would be pointless if the goal was to identify infection, but the goal was to identify a corrupted download, which is far more likely than infection. Since a sidecar file with the reference SHA-256 hash is available, this is possible. However, I'm not requesting that feature, just pointing out what my test was about.

I will test the new AppImage in the evening.

[2018-10-08 10:52] RawConvert commented on #4851
@agriggio , hi, I think it is a bug because the first time you do it (when the curve jumps to the new point) it is different to subsequent times (when the point jumps to the curve).  Re. the curve changing in the middle, you suspect this was never the case, but I can assure you that previously, once you had two points fairly close together, moving a further point on say the left side of the pair r

[2018-10-08 11:19] Beep6581 commented on #4851
Please show a video of what you mean.

[2018-10-08 15:16] sguyader commented on #4326
@agriggio here's a raw file showing haze and some light blue cast: https://drive.google.com/open?id=1rkwEcQ26-smpb_9N-pZSp8ynIIqvVWbZ

[2018-10-08 16:39] gaaned92 commented on #4326
@agriggio
Perhaps you know that: http://www.eng.tau.ac.il/~berman/NonLocalDehazing/
Searching for photos now.

[2018-10-08 17:19] fsenore opened #4856 "Crop Ratio=As Image not respected in dynamic profiles"
I have created some dynamic profiles that add a small cropping to images taken with certain lenses to match the image that I see in the camera finder. The crop is defined for an image with landscape orientation and it works well with such images.
If I open an image in portrait orientation the crop is not rotated as expected, but I get an almost square crop at the top of the image.
More information

[2018-10-08 17:24] agriggio commented on #4326
@gaaned92 thanks for the link, I didn't know that. I'll read it when I find some time. meanwhile I'll polish the code and push a branch so that other people can try it out...

[2018-10-08 19:15] Thanatomanic commented on #4397
I don't get any (serious) compilation warning anymore with GCC 8.2.0 on Windows MSYS2. Is this still an issue?

[2018-10-08 19:33] Thanatomanic commented on #3877
@Beep6581 Can this be closed, since it's an issue with an old version?

[2018-10-08 19:39] Thanatomanic commented on #3745
I don't think this is an actual issue. It pertains only to the Exposure tab, which is such an elemental tool (and it can be easily reset if necessary, and brought back from the history).

[2018-10-08 20:01] Beep6581 commented on #3877
Yes.

[2018-10-08 20:01] #3877 closed, assigned to nobody

[2018-10-08 20:01] Beep6581 commented on #3745
Yes, most tools now have an on/off switch, and there's no need for this issue to linger.

[2018-10-08 20:01] #3745 closed, assigned to nobody

[2018-10-08 20:16] RawConvert commented on #4851
I don't know how to do a video! (and the time factor too).  I was just looking again at this, and I was wrong to say the curve jumps to the point, at least it's not just now.  The point goes to the curve I believe, but the curve alters. Previously the curve didn't alter.  Here are screen grabs... 1) a curve with 2 points   2) CTRL-Click add a third with mid-June RT - curve doesn't change  3) same

[2018-10-08 20:21] X-Raym commented on #3745
@Thanatomanic it was not about reset but about quick A/B comparison.

[2018-10-08 22:02] agriggio commented on #4851
Hi @RawConvert

doesn't it? Look at the rightmost part: there's a visible difference between 1 and 2... or maybe I'm still misunderstanding what you mean?

[2018-10-09 01:59] TooWaBoo commented on #4781
The toolbar-scroll-bug still exists in GTK+ >3.18. ShalI I activate the theme workaround?

[2018-10-09 04:51] Hombre57 commented on #4781
@TooWaBoo  I don't manage to find a better way using Gtk's function, so I'd say yes.

[2018-10-09 04:52] Hombre57 commented on #4781
And could you add it in RawTherapee's theme as well ?

[2018-10-09 05:51] Floessie commented on #4397
@Thanatomanic Roel, good catch. When #4401 was merged, I simply forgot to close this parent issue. Thanks for pointing out. Closing.

[2018-10-09 05:51] #4397 closed, assigned to nobody

[2018-10-09 07:23] Floessie commented on #4446
#4854 merged. Closing.

[2018-10-09 07:23] #4446 closed, assigned to Floessie

[2018-10-09 10:15] TooWaBoo commented on #4781
OK, I will do it this evening.

[2018-10-09 18:18] TooWaBoo commented on #4781
Done, closing issue.

[2018-10-09 18:18] #4781 closed, assigned to nobody

[2018-10-09 22:52] RawConvert commented on #4851
hi again, sorry, I thought I didn't need both the "before" images, so just posted one, but they are different due to the differing spline logic.  So... (1) and (3) above are correct images and you see quite an elbow appearing when the CTRL-Click point is added.  Here are the corresponding pair for mid-June RT -
![june-before](https://user-images.githubusercontent.com/16868433/46702661-e00e0a80-cc1

[2018-10-10 05:41] agriggio commented on #4851
it's a different curve. the old splines are definitely smoother, but (*IMHO*) painful to edit, as moving a point has a global effect. the new curve is supposed to fix that, making editing easier. I'm not sure there's much that can be done, other than reverting to the previous implementation. if you'd like that, maybe open a separate issue where this can be discussed

[2018-10-10 08:08] agriggio commented on #4326
If someone is interested in trying this out, I've just pushed a `dehaze` branch. Here's a little demo on the raw provided by @sguyader (ignore the speed, this is from a debug build):

https://filebin.net/nqow4u9vbewd3nq7/Peek_2018-10-10_10-05.mp4?t=60661osf

As you can see, there is some haloing when pushing it too far. I've tried many things but for now this the best compromise I could reach betw

[2018-10-10 13:40] gaaned92 commented on #4326
W10 build available:
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dehaze_5.4-923-g14ac4babe_WinVista_64.zip

I notice 2 unexpected effects:
1- When strength is set to 0 there is still a strong effect as if one apply lightness.

2- the correction doesn't seem modulated by the `depth map` mask and seems uniformly applied. The effect should be minimal (or even null) for the near foregr

[2018-10-10 14:49] heckflosse commented on #4326
@agriggio Alberto, there are some speedups possible. Or is it too early for speedups?

[2018-10-10 14:55] agriggio commented on #4326
Thanks for testing @gaaned92! I can assure you that the correction is applied following the depth map, exactly like specified in the paper. There is however a post-processing step that tries to equalize luminance, which is applied uniformly. Perhaps that is the culprit, I don't know. I will investigate more.
Regarding setting the strength to 0, it seems to work as advertised here... but I'm workin

[2018-10-10 14:57] agriggio commented on #4326
@heckflosse there are definitely many speedups possible -- if you want to have fun please go ahead, I will concentrate on smoothing the rough edges in the meantime

[2018-10-10 15:03] agriggio commented on #4326
@gaaned92 I confirm I messed something up when rebasing. I'll push a fix soon

[2018-10-10 15:10] agriggio commented on #4326
now it should work (more) as expected...: 75964dfd8b767ded7b92ea47f6f57159518e1be4

[2018-10-10 15:16] agriggio commented on #4326
@gaaned92:

This is a nice idea, thanks! :+1:

[2018-10-10 16:05] heckflosse commented on #4326
@agriggio Alberto,

Well, it's fun but it's also work, so I would prefer to avoid doubĺe work in case you change the code ;-)

I thought about an optimization in `get_dark_channel` and in the last loop where 'rgb2hslfloat' and vice versa is calculated. Is it likely that you change this parts of code soon?

[2018-10-10 16:34] RawConvert commented on #4851
"painful to edit, as moving a point has a global effect"    This takes us back to the double-point / blocker "feature".  I may not be fully understanding "global effect" but I think you can and could isolate any section(s) of the curve using double points and so change the curve how you want without pain.  I think it would be worth getting others' opinions as these curves are surely a fundamental

[2018-10-10 16:42] gaaned92 commented on #4326
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

It's OK now. thanks.

Using DSC_3445.NEF, with strength=75 I observe 2 effects:
- background is contrasted and the blue cast is corrected 👍

- but the foliage in the near foregroud is unnecessarily lightened.  Is it possible to correct that?

Questions:
- Will it be possible to view the depth map?
- Surely somebody will ask to output th

[2018-10-10 16:44] agriggio commented on #4851
I am fine with restoring the old behaviour if there is consensus, but I think this should be discussed in a separate issue

[2018-10-10 16:50] agriggio commented on #4326
@heckflosse those parts should be relatively stable, but I can't make any promise yet. did you take a look at the guided filter code? that's more stable, and I think there is room for speedups also there...

[2018-10-10 16:55] agriggio commented on #4326
I decided to apply an exposure correction that preserves the median luminance of the image, otherwise on most cases you would get a darker output. however, dehaze comes very early in the pipeline, so all the exposure controls can be applied on it...

both are possible with the 'trick' already adopted for wavelets, retinex and iirc also pixel shift. I don't think that approach is particularly user-

[2018-10-10 17:16] heckflosse commented on #4326
@agriggio Alberto, which trick for pixel shift?

[2018-10-10 17:21] gaaned92 commented on #4326
`so all the exposure controls can be applied on it...`
That seems ok

`I can consider adding support for it. but I'd like to get the basics working well first`
Yes that can wait.

[2018-10-10 18:16] Beep6581 commented on #4851
I wouldn't mind having the old mode added as an option to the combo, but I like the new curve mode and would like it to remain.

Closing this as it's not a bug.

[2018-10-10 18:16] #4851 closed, assigned to nobody

[2018-10-10 18:57] agriggio commented on #4326
@heckflosse if you show the motion mask, that will appear also in the output iirc. but maybe I remember wrong...

[2018-10-10 23:30] RawConvert commented on #4851
I think if it's possible to have the old algorithm available then that's really good.
As regards to closing because not a bug, perhaps you could address this! -
We are talking about fitting a curve to a set of points.  Assume you already have N points (N>=1) and a curve has been calculated.  You now add point N+1 **ON THE CURVE** (i.e. Ctrl+Click). Surely the curve remains as is; it should not cha

[2018-10-11 04:49] TooWaBoo commented on #4148
New update
[code]

[2018-10-11 05:22] agriggio commented on #4851
I don't think that's necessarily true. currently the curve is recomputed every time the control points change, the code has no notion of "the old curve", that's purely a GUI thing. perhaps it's possible to tweak the code to reuse the old curve if it already fits, but I'm afraid that would require some nontrivial changes to how curves are computed, updated, and saved. *for me* it's not worth it, I

[2018-10-11 09:49] gaaned92 commented on #4326
@agriggio
Could you provide a patch that suppresses the exposure correction please?

[2018-10-11 12:03] agriggio commented on #4851
@RawConvert just to illustrate what I mean by "global behaviour", and why I think your proposed solution of just using double points doesn't always work, here are two videos:

- old curve: https://filebin.net/bqlpiey4sj306cw2/old-spline.mp4?t=a4m4l1np

- new curve: https://filebin.net/bqlpiey4sj306cw2/new-curve.mp4?t=a4m4l1np

Does this help?

[2018-10-11 13:00] sguyader commented on #4326
@agriggio Good job!
When I apply the new Haze removal I often see strong halos, probably introduced by the blur mask. Would it be possible to control its radius?
Also, it tends to blow highlights. Wouldn't it be better to prevent the filter to be applied to highlight regions, and maybe also to deep shadows, as often the parts we want to dehaze are rather in mid tone parts of the image.

[2018-10-11 13:54] agriggio commented on #4326
@gaaned92 here you go:

[code]

In fact, I started thinking that the brightness correction should not be applied. What is more important is the saturation correction, which is still applied. If you turn that off too, the results are really not nice...

[2018-10-11 13:56] agriggio commented on #4326
@sguyader please try with the above patch, it should avoid the blown highlights. Regarding radius, I can try exposing the parameter, but getting rid of the halos completely without sacrificing the effectiveness seems quite tricky

[2018-10-11 16:16] gaaned92 commented on #4326
@agriggio
Using DSC_3445.NEF with patch

Now the foliage is darkened. It is not what I expected.
We can agree that for the foliage, the thickness of athmosphere penetrated by light is very small. So there is no haze affecting this foliage and thus no correction (or quite minimal) should be done on it.
It seems that it is not the case.

neutral profile applied:

![nohazeremoval](https://user-images

[2018-10-11 16:26] Thanatomanic opened #4858 "Rotating multiple images simultaneously leads to segfault"
To reproduce: select around 10 to 15 images and use the dedicated buttons in the file browser to rotate them 90 degrees for a few times. This always leads to a segmentation fault, either immediately, or after a few rotations.
It does not seem to happen when you select fewer than 10 images.

Using: latest dev build on Windows 10.

[2018-10-11 16:59] Thanatomanic commented on #4858
From `gdb`:

[code]

[2018-10-11 17:49] sguyader commented on #4326
@agriggio It's better now, no more blown highlight. However, same remarks as André: the image is darkened overall. When pushed to 100, the results are quite uggly : some parts actually loose contrast behind the mask, see below the top of the foliage.
![screenshot_2018-10-11_13-43-08](https://user-images.githubusercontent.com/13856378/46823568-82350c00-cd5c-11e8-9265-507f87058e72.png)

[2018-10-11 18:04] Beep6581 commented on #4326
@agriggio maybe the issue title should be updated to describe the current algo?

[2018-10-11 19:16] sguyader commented on #4858
No crash here with version 5.4-923-g07dafc67a on Linux. Compiling right from current code to see.

Edit: cannot reproduce on Linux with current version: 5.4-940-gf6039a35b

[2018-10-11 19:46] agriggio commented on #4326
The algorithm used is the same as darktable, it's just the implementation that is different. As usual with research papers, the devil is in the details, so two different implementations of the same general idea might lead to quite different results, especially when tried on data sets that go beyond those used in the paper(s). Nothing new here :-)
Regarding artifacts, halos, and darkening, well, I

[2018-10-11 20:16] agriggio commented on #4326
pushed

[2018-10-11 20:36] Beep6581 opened #4859 "Curve adjustment point pipette sometimes unresponsive"
`5.4-942-g`b9fe496d9

Using the Lab HH curve for instance, when I am zoomed-to-fit, enable Lab, enable the HH curve, and then enable the curve pipette, hovering over the canvas does not produce the white vertical line as it should until I do something which refreshes the preview, e.g. click it or zoom in/out or drag it.

If I turn the picker off and on again, the bug repeats itself. Some event goe