[2018-07-04 19:26] #4653 closed, assigned to Beep6581

[2018-07-04 21:25] Tataute opened #4662 "Does not keep format when saving."
I am using the following version (although I had the same problem with 5.2) : Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fope

[2018-07-04 22:08] Beep6581 commented on #4662
@Tataute user support is done via our forum:
https://discuss.pixls.us/c/software/rawtherapee

Open a new topic, and remember to include screenshots of the problem along with the PP3 file. A video recording would be ideal.

[2018-07-04 22:08] #4662 closed, assigned to nobody

[2018-07-04 23:19] abertens opened #4663 "Thumbnail scrolling speed under linux too fine."
Hi there!

Today I git clone the dev branch to try the latest functionality and I found an enhancement in the gui that not works well on my linux desktop.

Merge pull request #4652 from Thanatomanic/scroll-speed (Scrolling speed changed to height of thumbnail) 8a9f102cd252c26629dd2bc314e8b3ff9230e0ca, from Jul 1, 2018 makes thumbnail scrolling almost unusable on a directory with 200 images. The sl

[2018-07-04 23:36] abertens commented on #4663
Additional info:
Testing on a directory with a 25 images behaves the same. Seems that image number is irrelevant.

Forgot to mention that reverting merge 8a9f102cd252c26629dd2bc314e8b3ff9230e0ca makes it usable again.

Thanks.

[2018-07-05 00:11] TooWaBoo commented on #4661
@Desmis
Disable your Antivirus/Firewall and try again.

[2018-07-05 05:10] Thanatomanic commented on #4663
Hi! Thanks for reporting. Can you confirm if scrolling in your 200 image folder still goes in discrete steps? I mean, it should scroll now in steps of the thumbnail height. Does it do that?

[2018-07-05 05:49] ff2000 commented on #4663
"The slightest touch on the scroll button moves the page upward/downward"
Are you talking of the scroll wheel of your mouse? Or the slider on the scrollbar?
I am also on gtk+-3.22.30 on Gentoo linux and have no issues. I only noticed a small inconsistency: Turning the scroll wheel while mouse is over the thumb view each turn scrolls by one row. But turning while over the scrollbar reveals the old

[2018-07-05 12:11] Desmis commented on #4661
I try, same problem
I rename Msys64 and reinstall
And I see during installation Avast put in quarantine "gpg-agent.exe"
I re-put this file in good place, same problem

I re-reinstall another time, with strictly apply Rawpedia
When I want to cmake, cmake says me "liiptcdta" not found
I re-re-re-Download and build libiptcdata

Then I re-cmake, always lipitcdta not found
At this stage, **nothing work

[2018-07-05 12:16] Desmis commented on #4661
I think I will all uninstall, now nothing, nothing works...
I am very angry, annoyed and I do not understand anything

Of course, during installation, I have disabled "avast"

[2018-07-05 12:35] Desmis commented on #4661
And more , I cannot uninstall :)

[2018-07-05 12:42] Desmis commented on #4661
After, many many many many tries, many reboot, ..., Msys2 seems uninstall...
I will start again tonight, otherwise change computer ???

[2018-07-05 13:02] Desmis commented on #4661
Comment,I am angry against myself:)

Le jeu. 5 juil. 2018 02:11, TooWaBoo <notifications@github.com> a écrit :

[2018-07-05 13:08] Desmis commented on #4661
Of course it is only my fault.
I hope my «old» computet will works :)

[2018-07-05 13:53] abertens commented on #4663
Sorry to not be clear enough in my explanation, it is hard to explain something so natural...
Perhaps is not a problem at all and is the functionality you were looking for.

It is not a problem when you scroll with mouse using the scroll bars at window right side.
Using mouse scroll wheel is my problem, getting much worse when using the scroll wheel emulation that a touchpad offers.

Yes, you are

[2018-07-05 14:18] ff2000 commented on #4663
No problem.
Yes, it needs getting used to it. I also like smooth scrolling more as you can follow more easily the flow of images (the old behaviour also wasn't really smooth btw). No idea if it's just a property that needs to be enabled or if it has to be done by hand - I have no real idea concerning GTK+.

[2018-07-05 16:05] Desmis commented on #4661
After clean register, clean all, etc.
Then re-install all
Now all works
* Msys2 and pacman
* mingw64 compile and program runs fine

Big job, all because of antivirus, which quarantines a file without offering a choice (it happens when I update Msys2 with "pacman -Syuu"), I was not always in front of my computer and I did not see the message "avast"
:)

[2018-07-05 16:23] TooWaBoo commented on #4661
@Desmis
Congratulation 😊

[2018-07-05 16:29] Desmis commented on #4661
@TooWaBoo
Thank you

But a question, I don't recall how to config "git" with Windows to use "kdiff3" as mergetool

I know the command

git config --global merge.tool kdiff3
git config --global mergetool.kdiff3.cmd '"C:\\Program Files\\KDiff3\\kdiff3" $BASE $LOCAL $REMOTE -o $MERGED'

But how to do if I want it is always configure

Where is gitconfig ?
Thank you

[2018-07-05 16:34] TooWaBoo commented on #4661
I don't know. I'm using MSYS only for compiling.

[2018-07-05 17:10] Beep6581 commented on #4661
@Desmis see https://stackoverflow.com/questions/33308482/git-how-configure-kdiff3-as-merge-tool-and-diff-tool/33348841#33348841

[code]

[2018-07-05 17:49] Desmis commented on #4661
@Beep6581
Thank you :)

[2018-07-05 22:56] Beep6581 opened #4665 "Re-use GTK+ icon in PopUpCommon"
I noticed that PopUpCommon, which is used by the rendering intent button and the curve type buttons, uses a custom PNG icon for the arrow, one which is supposed to look identical to the one automatically drawn by GTK+ in comboboxes:

https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/images/Light/actions/popuparrow.png
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/popupcommon.cc#L82

[2018-07-05 22:58] Beep6581 commented on #4665
Yes, it's possible.

https://developer.gnome.org/gtk3/stable/checklist-named-icons.html
https://developer.gnome.org/gtk3/stable/GtkImage.html#gtk-image-set-from-icon-name

[2018-07-06 13:10] agriggio opened #4666 "Support for Fuji X-T100"
RT only decodes a thin strip of the frame for the new X-T100 camera. It sets a raw crop of `0 0 2857 100`, regardless of what  I put in `camconst.json`. Example raw files are available on the web (e.g. dpreview)

[2018-07-06 14:46] sguyader commented on #4666
@agriggio you beat me on this. What seems strange to me is that the raw filed from the X-A5, which has the same sensor as the X-T100, open without problems.
I also noticed that sometimes, the presence of an X-T100 raw in a folder prevents the file browser to display the thumbnails of other raw files.

[2018-07-06 15:21] heckflosse opened #4667 "Raw histogram review"
Imho the raw histogram needs a review. I don't mean the gui part (this is already covered in a different issue), but the engine part, which collects the data for the raw histogram.
Have a look at this screenshot
![grafik](https://user-images.githubusercontent.com/13733487/42386520-0aa6648a-8140-11e8-848e-e57a93cd1ea3.png)
According to the raw histogram what would you expect to be the largest raw g

[2018-07-06 15:27] heckflosse commented on #4667
Here's a screenshot of a first mockup which comes closer to the real values
![grafik](https://user-images.githubusercontent.com/13733487/42387114-affdc4e0-8141-11e8-9537-28e34a182787.png)
The bottom right point of the green curve now is at (~6.5 / 16) * 15500 = ~6300

[2018-07-06 15:52] Thanatomanic commented on #4667
I would be in favor of a RAW histogram that has the effective black and white points as respective left and right boundaries.

[2018-07-06 15:55] heckflosse commented on #4667
@Thanatomanic
That's the case in my mockup screenshot

[2018-07-06 15:55] Thanatomanic commented on #4667
And while we're at it: am I correct to assume the reason why RT doesn't simply show _all_ the values, but limits it to 256 bins, has to do with performance?

[2018-07-06 15:57] heckflosse commented on #4667
@Thanatomanic
Do you mean the right boundary should be ~6300 in my example?
I don't think performance was a reason. But how would you show for example 16384 values on the screen?

[2018-07-06 16:16] heckflosse commented on #4667
@Thanatomanic How about returning the uncompressed raw histogram to the gui instead of the 8-bit compressed one? Then the gui code(r) can do whatever needed with the values

[2018-07-06 16:21] Thanatomanic commented on #4667
That would seem like a reasonable thing to do. But wouldn't it be even better if the gui asks the engine to provide a version that is binned based on the available room to draw? A histogram of 300px wide with 16384 points (or 65535 for a higher bit depth) seems a bit overkill :wink:

[2018-07-06 16:29] heckflosse commented on #4667
@Thanatomanic
That would mean the gui has to call the engine each time the user changes the width of the histogram. If the engine simply provides the 16-bit histogram (maybe also white and black levels for future use) the gui get once provided with the values and don't have to ask each time.

Edit: iirc currently the gui can not even ask the engine for the histogram. It's the engine which calls th

[2018-07-06 16:35] Thanatomanic commented on #4667
@heckflosse Fair enough. The current binning functionality should be transferred to the gui part in that case, since you will need some form of binning in any case.

Also, see #1598 for some older considerations on the RAW histogram.

[2018-07-06 16:37] heckflosse commented on #4667
@Thanatomanic :+1: for transferring the current binning functionality to the gui part.

[2018-07-06 17:57] Thanatomanic opened #4668 "Old request revisited: proper reset button for Crop tool"
I would like to revisit issue #382, but I'm unsure what the typical approach is: make a new issue like this, or post in the old issue?

In any case, I would like to propose to give the Crop tool a proper reset button, in addition to the current behavior. Virtually all tools have one, so it would only make sense to make this behavior uniform.

[2018-07-06 23:38] TooWaBoo commented on #4148
New update
`pacman-5.1.0-4`

[code]

[2018-07-07 02:57] jedypod commented on #2357
Greetings!
I posted this issue a while back without reading through this thread well enough.

RawTherapee 5.4 currently has the ability to save 32bit float tiffs from the gui, but this is disabled in the commandline.

I have successfully compiled the `32b-tiff-output-cli` branch, and have been using it to debayer raw files to 32bpp tiffs successfully using rawtherapee-cli.

Unfortunately, some of

[2018-07-07 06:19] Desmis commented on #4650
I put a commit with:
a) clean code - I keep between comment variables that can be used in some cases
b) rename some variables to be more readable (I hope it is so...)

I think I have "finished", the work to find a "new algorithm for white balance".
This algorithm must be optimized code and speed  :), and also be sure of the 5 options settings.

As above, this algo works well with daylight and blac

[2018-07-07 06:41] Desmis commented on #4094
@Pandagrapher
Can I merge dev in newlocallab, but for the master remote http://github.com/Beep6581/RawTherapee

Other question : I don't know how to update your remote from the "master"...I let you do it, but with what instructions. Thank you :)

[2018-07-07 08:36] Beep6581 commented on #4668
Old, imported issues look messy, so unless there is stuff of value in them, it's better to open a new, clean one.

Agreed, a reset button would be nice.

[2018-07-07 08:45] Beep6581 commented on #2357
It looks like merging can be done with a single click, there are no conflicts:
https://github.com/Beep6581/RawTherapee/compare/32b-tiff-output-cli

[2018-07-07 09:14] heckflosse commented on #2357
@jedypod https://github.com/Beep6581/RawTherapee/commit/d217dcd2c30804c4dfde9bcd31f59e65cfc26360

[2018-07-07 09:28] heckflosse commented on #4667
Raw histogram for float dng files in 0..1 range is wrong. I'll fix that
Example:
![grafik](https://user-images.githubusercontent.com/13733487/42409313-dde17450-81d8-11e8-8432-c24f2d699c21.png)

[2018-07-07 11:24] Pandagrapher commented on #4094
@Desmis
Yes, you can merge dev in newlocallab. For my remote, as it is linked to your branch, I guess I will just have to merge your branch to my remote

I am currently still working on the integration. I just have one question: why using .mip file instead of .pp3 file to save locallab params? I think I have found a way to save spots in .pp3 file (which will also simplify the integration for me).

[2018-07-07 11:31] Desmis commented on #4094
@Pandagrapher
OK, I will merge dev in newlocallab for "master"
for "mip", I think to verify, pp3 are only for one file and does not stock multi values,but if it is possible why not :)

another remark, "mip" are save in real time, either it does not work!

[2018-07-07 11:47] Desmis commented on #4094
merge done :)

[2018-07-07 11:55] Desmis commented on #4650
perhaps, after numerous test by users it will be necessary to add some others reference spectral colors
* white
* black
* red
* orange
* yellow
* green
* cyan
* blue
* purple
Actually there are 100 colors, I think globaly it's enough, but ?

[2018-07-07 14:00] heckflosse opened #4669 "Floating point dng files in [0;1] range have black thumbnail"
[Example file](http://rawtherapee.com/shared/test_images/hdrmerge_range_0-1.dng)

[2018-07-07 15:34] SaturnusDJ commented on #2857
Kick.

How's the thought about the original poster's ( @neilpho ) idea now?
It's indeed annoying that for just opening images a .pp3 is created already. Now I don't know anymore which files I really worked on and which ones I just opened.

[2018-07-07 18:55] Beep6581 commented on #4669
Fix confirmed.

Procedure:
1. Delete cache folder and *.pp3
2. Open unpatched RT. Check thumb.
3. Apply neutral. Check thumb.

Repeat for patched RT.

[2018-07-07 20:27] heckflosse commented on #4669
@Beep6581 Thanks for testing and confirming the fix :+1:

[2018-07-07 20:30] FM33 opened #4671 "[5.4-694 Linux x64] With HDR DNG, preview is way darker than processed output"
I think it is the preview that is darker and not the other way around because the picture is abnormally dark at first opening and needs extreme settings to make it look the good way.
Files, including screenshots & pp3 :
https://framadrop.org/r/ZQj_XjoQLO#vhLvPytClSn3pv1qcJDmQqt7w6e06bAvDGj8lAcSjqM=
DNG was issued from HDRMerge 0.5.0

Version: 5.4-694-gc1463c7ed
Branch: newlocallab
Commit: c1463c7e

[2018-07-07 20:39] heckflosse commented on #4669
It also reduces the decoding time a bit when opening float dng files :)

[2018-07-07 21:54] gaaned92 commented on #4671
@FM33
 With tone Maping and Dynamic range compression activated, the preview is only valid at 1:1 zoom and above.( notice the small icons 1:1 at the right of command).

[2018-07-07 21:54] heckflosse commented on #4671
@FM33 Please try using neutral profile to rule out the possibility it's caused by the input being a hdr file

[2018-07-08 09:02] Beep6581 opened #4672 "Show tooltip with filename and metadata over thumbs"
Would be nice if a tooltip appeared when hovering over a thumbnail, showing the full filename and metadata, so that one does not have to open a file to see its full name for example.
![imgur-2018_07_08-11 02 27](https://user-images.githubusercontent.com/5844619/42418347-7545cfec-829e-11e8-8965-948fe46378ee.png)

[2018-07-08 09:21] Beep6581 commented on #4667
For reference, here are raw histograms of the flat-field photo `D700_20160102_7318.NEF` and from [`amsterdam.pef`](http://rawtherapee.com/shared/test_images/amsterdam.pef):
https://filebin.net/1038667o8fiac86b

[2018-07-08 09:31] Beep6581 commented on #4671
You have 5 tools marked as "1:1" enabled in your PP3.

![zoom-100-identifier](https://user-images.githubusercontent.com/5844619/42418498-2100f494-82a2-11e8-9bdb-451327ca051d.png)

The zoomed-to-100% preview matches the saved image perfectly.

[2018-07-08 09:45] Desmis commented on #4650
Unlike what I wrote recently, I just modified the Itcwb algorithm.

By default, I change 2 variables in option
Itcwb_greendeltatemp=2 instead of 1
Itcwb_forceextra=true instead of false.  Which comes to say that the algorithm "extra" which was used only in the cases where "camera" was "out", is now always used

Of course you can always change these values

Jacques

[2018-07-08 10:30] Beep6581 commented on #4672
The thumbnail's tooltip in the File Browser was not shown because file info was being shown. That logic doesn't work well here since the filename can be truncated.

Branch `thumbtooltip` always shows the filename in the tooltip since the filename in the thumbnail could be truncated. Exif info is shown in the tooltip only if "Show Exif info" (which shows Exif info under or over a thumb) is disable.

[2018-07-08 10:30] Beep6581 commented on #4672
PR #4673 created.

[2018-07-08 12:09] #4665 closed, assigned to Beep6581

[2018-07-08 12:47] FM33 commented on #4671
Indeed.
I didn't notice about that 1:1 because I always used these tools without noticing any difference, but it's my first time with HDR.
Sorry for the noise.

[2018-07-08 12:47] #4671 closed, assigned to nobody

[2018-07-08 16:48] heckflosse opened #4674 "Call Histogram matching only if necessary"
Histogram matching is an expensive function because it decodes and demosaics the raw file.
For this reason it should only be called if necessary.
This issue is about reducing the calls.
Currently if you open a file which has histogram matching enabled and was already opened before, the histogram matching is called even if the current curve is already the result of histogram matching.
Also if you p

[2018-07-08 17:13] Desmis commented on #4650
I will add about 12 colors reference spectral
Clean code
:)

[2018-07-08 17:49] Duck-Development opened #4675 "Panasonic DC-GH5S raw support"
if I try to open the File I get a lila picture  [RAW File](http://ebay.gorbunov.de/P1000096.RW2) the Preview Looks good but if I open it I get the error picture

[2018-07-08 18:25] heckflosse commented on #4674
@agriggio Alberto, if your time permits, can you have a look at my changes?

[2018-07-08 18:48] heckflosse commented on #4675
I take this one.

[2018-07-08 21:10] agriggio commented on #4674
@heckflosse I'll do my best

[2018-07-08 21:21] #4669 closed, assigned to heckflosse

[2018-07-08 21:48] heckflosse commented on #4587
For further improvements we can create a new issue. closing.

[2018-07-08 21:48] #4587 closed, assigned to nobody

[2018-07-08 23:17] Hombre57 commented on #4478
@Desmis @Beep6581 The ICC Profile Creator should be complete now with commit
6d9c284.

   - I've added the copyright and description entry.
   - The dmdd parameter is only set for v2 profiles now.
   - a checkbox will let you append " / g=xxxx s=xxxx" to the description
   - a reset button will set back the default copyright string.
   - the Adjusters are not longer greyed out, but will be updated

[2018-07-09 01:40] jedypod commented on #4285
I would love to see support for LJ92 compressed "Cinema DNG" files in RawTherapee.

I have some more example files and some information which may help push this forward:

Compressed Cinema DNG are created by a few different cameras:
- Digital Bolex D16
- Canon DSLR Magic Lantern raw (converted to CinemaDNG/DNG)
- BlackMagic Cinema Cameras

When opening these DNG files in RawTherapee, it has proble

[2018-07-09 04:29] Yz2house opened #4677 "Update Japanese GUI"
translated the new strings
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2174643/Japanese.txt)

[2018-07-09 06:53] ff2000 opened #4678 "Improve filetype metadata filter"
The current filetype filter is rather dumb:

![notfiltered](https://user-images.githubusercontent.com/1973708/42434790-12cf1b60-835d-11e8-8157-3d324aa11750.jpeg)

![filtered](https://user-images.githubusercontent.com/1973708/42434810-249bc19a-835d-11e8-9126-3f95487145d4.jpeg)

As you can see it simply scans for images and collects all extensions case-sensitive and puts them in the filetype-filter-

[2018-07-09 08:03] Desmis commented on #4650
With commit bab094f,
* I have slightly modified "green array" to improve algorithm (choice of best couple temp / green by Student comparison)
* I have add 13 spectral references colors
* I clean code, and GUI
:)

[2018-07-09 08:24] Desmis commented on #4478
@Hombre57
I test quickly, all seems to work fine.
Good job :)
jacques

[2018-07-09 10:22] #4677 closed, assigned to Beep6581

[2018-07-09 11:26] Beep6581 commented on #4478
I tested `5.4-520-g`6d9c2849

As first described [here](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-400224946):
1. Old profile names are now correctly mapped to their new names. However, I noticed that the test is for PP3 version < 339. Well `dev` `5.4-481-g`dfa31ddd is currently at 339, so I think this `testoutputprofile` branch should `#define PPVERSION 340` and check for `<

[2018-07-09 11:40] Desmis commented on #4650
I just fixed a type error in one spectral data, and add 1 data more (black)
I think now, there is the good number of spectral datas - enough "white" and "black"...etc..
 Nb - the more there are, the better the results will be...but diificult not to do type error!

To use "Itcwb" or "Aitc", you need first to clean cache :)

jacques

[2018-07-09 11:40] Beep6581 commented on #4478
There is a problem with the profile details becoming corrupt.

I saved these profiles: https://filebin.net/xwkziurq8k3qt3cc

![screenshot_20180709_133218](https://user-images.githubusercontent.com/5844619/42448155-957112c0-837c-11e8-92c8-b9aa92d303e4.png)

When I open them in GIMP-2.10.2, the details are corrupt:
![screenshot_20180709_133337](https://user-images.githubusercontent.com/5844619/42448

[2018-07-09 15:49] TooWaBoo commented on #4148
New update
[code]

[2018-07-09 18:02] madarexxx opened #4679 "Add DateTimeOriginal to metadata filter"
Dear devs, thank you for this wonderful software!

Can you implement date metadata filter in upcoming release, please? It would extremely useful and convenient for people like me, who put pics in thematic folders (like "grandparents' village house") and need to process fresh ones. If using current RT version on W7/Debian/Linux Mint I have to through all photos in folder, dealing with view runaway

[2018-07-09 19:10] Beep6581 commented on #4679
@madarexxx explain more about what it is you want and how you imagine it to work.

[2018-07-09 20:18] heckflosse commented on #4148
I had to revert the lensfun update using
[code]

[2018-07-09 20:21] ff2000 commented on #4679
As I understand it he collects his images over time in specific folders. Take the "grandparents village house". He visits his grandparents once a month, takes photos and puts them in that same folder. The issue is that many images might turn out to look quite similar. And over time you have to scroll further and further down to get the newest images captured.
It would be handy if he just could fil

[2018-07-09 20:29] ff2000 opened #4680 "When changing filter keep selected picture visible"
* Filter a larger set of images by metadata filter.
* select one that is presumably further down the unfiltered list
* disable the metadata filter

You end up in a rather random place now. It would be helpful if the viewport could be scrolled to a position where the still selected picture is visible.

This would be great for every other type of filtering, e.g. filter by already edited images.

[2018-07-09 20:44] Hombre57 commented on #4478
@Beep6581

Fixed in the last merge commit.

Fixed in the last commit.

I'll let someone else fix that (@Desmis ?), once the corrupted strings bug will be fixed.

[2018-07-09 21:07] Beep6581 commented on #4680
@ff2000 which version, and if not 5.4, please try 5.4 and report.

[2018-07-09 21:41] heckflosse commented on #4679
@ff2000

\o/

[2018-07-09 22:14] Hombre57 commented on #4478
@Beep6581

My baaaaaad :unamused:

I remember that we already faced this issue : `w_char` can be either 16 or 32 bits depending on the system (yours looks to be 32 bits). Then I think I've removed some useful code. I'll create a patch tomorrow.

[2018-07-09 23:38] Hombre57 commented on #4478
@Beep6581 See commit a3d6220bd8a159f78b9ae0ecc2edc4251de40c68, does it solve the problem ? The strings are still fine with this new code here.

[2018-07-10 01:18] TooWaBoo commented on #4148
@heckflosse
Why? Lensfun works fine on my computer. No issues

[2018-07-10 03:57] ff2000 commented on #4680
This is with RawTherapee, version 5.4-481-gdfa31dddc - most recent git dev.

[2018-07-10 04:33] Desmis commented on #4148
This morning when I try to launch RT compile yesterday after Msys2 open, does not work , lib lensfun not found !
I make the command gave by @heckflosse , recompile and all work :)

[2018-07-10 05:56] Desmis commented on #4478
@Beep6581  @Hombre57

_`"Some of the profiles in rtdata/iccprofiles/output/ have the name of our program capitalized incorrectly and the primaries not named in the standard way, e.g. has "Rawtherapee" in the copyright, and RTv2_ACES-AP0 has "Acesp0" in the nam"`_

I think the best solution is to delete these files from the repo;
* RT_sRGB-V2-srgbtrc212.icc  brings nothing, I have build it for test

[2018-07-10 06:53] Desmis commented on #4650
After have a look at all spectral colors, I think there is a lack in some colors
* violet and magenta
* blue near sky
But now no changes in the code, neither in algorithm, only in spectral datas

I will add about 10 colors :)

[2018-07-10 08:14] ff2000 commented on #4680
Sorry, thought "not 5.4" meant "<5.4".

With 5.4 release it is the same.

$ rawtherapee -v
RawTherapee, version 5.4

[2018-07-10 08:28] Beep6581 commented on #4478
@Hombre57 it's better now.

Test description:
Surströmming, bergsklättrare tycker det är toppen på toppen, aöbäcådÖeÄfÅg.

DisplayCAL's show-info:
![screenshot_20180710_102444](https://user-images.githubusercontent.com/5844619/42498113-9d0cbc64-842b-11e8-8fe8-bf15dc608b80.png)

GIMP-2.10.2:
![screenshot_20180710_102528](https://user-images.githubusercontent.com/5844619/42498119-a0c54a6a-842b-11e8-

[2018-07-10 08:29] Beep6581 commented on #4680
Thanks for testing.

[2018-07-10 10:29] heckflosse commented on #4148
@TooWaBoo

I got this after msys2 update.
[code]

After reverting lensfun it worked again.

[2018-07-10 11:30] Desmis commented on #4650
I just add 19 spectral colors for refrence. Now they are 133
I add 3 Violet, 11 Blue and Blusky, 3 black, 2 white
I hope no type error :)

jacques

[2018-07-10 11:32] Desmis commented on #4148
For me, it's had compiled fine, but when I want to run, exit and error message.
No problem with reverting now :)

[2018-07-10 11:41] #4674 closed, assigned to heckflosse

[2018-07-10 14:00] gaaned92 commented on #4148
Is it the new LensFun version annouced as breaking compatibility?
edit: Yes it seems see lensfun site at sourceforge

[2018-07-10 14:20] Hombre57 commented on #4478
@Beep6581 I'd say that the code is correct now. Gimp shouldn't expect UTF-8 string here, they are either UCS-2 or UCS-4, so I don't think it handles those tag correctly IMHO.

Though I could check first if the description and/or copyright is plain ASCII, then chose the best suited string type.

will do that tonight

@Desmis I don't understand what you mean. Do you suggest to remove almost all of t

[2018-07-10 14:38] Desmis commented on #4478
Non simplement retirer les profils actuels qui sont dans le dossier
iccprofiles/ output et ne generer que 3 ou 6 nouveaux profils

Le mar. 10 juil. 2018 16:21, Jean-Christophe <notifications@github.com> a
écrit :

[2018-07-10 15:11] Beep6581 commented on #4478
@Hombre57 I should open an issue in [GIMP's bug tracker](https://gitlab.gnome.org/GNOME/gimp/issues), but could you point me to the docs which state that expecting UTF-8 there is wrong? Or would you like to open the issue since you understand the problem better?

[2018-07-10 15:13] Desmis commented on #4478
Bien sûr, il faut laisser le code tel qu'il est, ne générer que 3 ou (6) profils les plus utiles et laisser l'utilisateur générer ceux qu'il souhaite. Bien sûr cela suppose, une bonne information et documentation, mais c'est mieux je pense que de fournir 30 profils qui vont "encombrer" les menus déroulants !

[2018-07-10 16:03] TooWaBoo commented on #4148
@all
Did you do a clean compile?

@heckflosse
[code]

[code]

2018-06-29 Alpha release 0.3.95

This is an alpha release and snapshot of the current development. During the last years, major parts of lensfun's internals have been restructured and refactored to make Lensfun ready for the future. We believe many things have been improved and we tackled some issues that have been discussed for a long

[2018-07-10 16:49] Hombre57 commented on #4478
@Desmis C'est là où je ne te suis pas : ces profils sont [utilisés dans options.cc](https://github.com/Beep6581/RawTherapee/blob/8862f0fb28563263c6e9e8441944fea080cdfd3b/rtgui/options.cc#L551) (RTSettings pour être précis), qui à leur tour sont [utilisé dans ICCProfileCreator](https://github.com/Beep6581/RawTherapee/blob/8862f0fb28563263c6e9e8441944fea080cdfd3b/rtgui/iccprofilecreator.cc#L654) pou

[2018-07-10 16:54] Desmis commented on #4478
@Hombre57
Ah je dois déconner, tu as raison, il faut a minima les profils qui servent à générer les autres...
Donc c'est ceux-là qu'il faut mettre par défaut.
merci pour ce rappel, mais comme excuse je suis à moitié là, j'attends mes petits-fils pour 15 jours de vacances...
:)

[2018-07-10 17:04] Desmis commented on #4478
A mon avis, c'est l'âge :)

[2018-07-10 17:28] heckflosse commented on #4148
@TooWaBoo Yesterday I dod not make a clean compile. Today I cmake and make in a new folder. Now it builds fine but segfaults at start.

[2018-07-10 17:48] madarexxx commented on #4679
@Beep6581 , @ff2000 described my wish far better than I could!

p.s. English is not my native language, and I'm sorry that my Russian to English translation is not always easy to understand.
p.p.s. May I kindly ask devs, if there are any news on RT 5.5 release date?

[2018-07-10 18:22] gaaned92 commented on #4148
This issue  was awaited and I opened a thread https://github.com/Beep6581/RawTherapee/issues/4601
@TooWaBoo Clean build is of no use as this new version is incompatible with present RT version.

Perhaps @agriggio or @heckflosse could start a new branch to adapt RT and test the new lensfun version?

[2018-07-10 18:35] Beep6581 commented on #4679
The relevant tag is: `ExifIFD:DateTimeOriginal`, `Tag = 36867 (9003.H)`

[2018-07-10 20:54] TooWaBoo commented on #4148
It works fine here.
Did you change the lensfun database to the new version?
`Due to the previous changes, the database format is now at version 2.`

[2018-07-10 21:12] heckflosse commented on #4148
@TooWaBoo

Is there an howto about that?

[2018-07-10 21:15] heckflosse commented on #4679
@madarexxx

I guess we'll discuss about a release date after summer holidays ;-)

[2018-07-10 21:26] heckflosse commented on #2467
@Floessie Can we close this?

[2018-07-10 21:27] TooWaBoo commented on #4148
The new database files (.xml) are located in "`\msys64\mingw64\share\lensfun\version_2`"
If you open them a in text editor they all start with `<lensdatabase version="2">`
I've copied them to the lensfun database folder in RT and launched RT but RT won't start. Then I replaced it with the old database (they start with `<lensdatabase version="1">` and RT and Lensfun work fine .

The lensfun databas

[2018-07-10 22:32] Hombre57 commented on #4478
@Desmis Pas besoin de t'excuser, y'a des jours _sans_ pour tout le monde

@Beep6581

The [ICC specification (v4.3) here](http://www.color.org/specification/ICC1v43_2010-12.pdf) says (in 10.13) :

This seem to say that UCS-4 should not be supported and should be UTF-16 only. So DisplayCal is probably more _specification tolerant_ than Gimp, which talk about UTF-8 only... lcms want `wchar_t` data, a

[2018-07-10 22:34] Hombre57 commented on #4478
Btw, _should_ != _have to_ ... That's not what I'd call a clear specification !

[2018-07-10 22:34] heckflosse opened #4681 "Make windows builds which use more cpu features as current windows builds"
Current official 64bit windows builds use only SSE2 features.
Current RT code also has some code paths for SSE4.
I could write some code to check at runtime for the features (check for SSE4 for example)
Then we could make windows builds which support SS4. If SSE4 is not supported, a messagebox would be shown to tell the user to use a SSE2 build.

What do windows builders think about that suggestio

[2018-07-10 23:25] Beep6581 commented on #4681
It would be great if the builds made the best use of the user's system, however providing both SSE2 and SSE4 builds would confuse non-geek users and would cost significant bandwidth on the server. Would it not be possible to have one build which chooses the optimal codepath at runtime?

[2018-07-11 05:02] Desmis commented on #4478
@Hombre57
ce devait être un jour sans...en effet :)
Pour revenir aux profils servant de model, vu tout ce qui est écrit au dessus, certains sont anciens, en termes de Copyright, etc. Il serait bien - si ce n'est déjà fait - de les mettre à jour, par contre retirer RT_sRGB-V2-srgbtrc212.icc

[2018-07-11 06:32] Floessie commented on #2467
@heckflosse Ingo, thanks for the pointer. I guess, we can close this (and I'll do so right now). The padding could be made a bit more robust by ~~prepending~~ appending the original number of digits. But as long as noone has a problem with the implementation as-is I see no need to change it.

Flössie

[2018-07-11 06:32] #2467 closed

[2018-07-11 06:46] Desmis commented on #4650
I think I have finished, algorithm and datas - of course we can:
a) increase the number of spectral color datas, it is only a "time" problem and it's a tedious job
b) change the algorithm for final choice, actually the couple "temp / green" choose is the one with the green nearest of 1., in the 3 first minimal student correlation.

1) if you want to see result of calculation with "student correlat

[2018-07-11 07:59] heckflosse commented on #4681
@Beep6581

No.

[2018-07-11 08:33] ff2000 commented on #4681
@heckflosse are you sure?
AFAIK firefox does something like that. And also Qt.

I found various links that provide information on detecting CPU features during runtime. E.g.
https://kb.vmware.com/s/article/1005763
https://stackoverflow.com/questions/6121792/how-to-check-if-a-cpu-supports-the-sse3-instruction-set

[2018-07-11 09:36] heckflosse commented on #4681
@ff2000 Of course it's possible to detect cpu features at runtime. But using that would require a lot of code rewrites. Currently the decision is made at compile time at a very low level where we can't use runtime cpu feature detection without introducing branches (very bad).
Have a look at [this example](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/sleefsseavx.c#L909)
`vself` is heav

[2018-07-11 09:47] heckflosse commented on #4681
hmmm, `__attribute__((target_clones...` could be a solution. Though I have to test impact on size of executable...

[2018-07-11 12:22] gaaned92 commented on #4681
I support what @Beep6581 wrote five posts above.  I think that windows users are mainly non-geek users and will be confused if we ship different builds for the same version.

Regarding the size of executable, I think it is not really a problem as, at least for Windows, I embed a debug exe that is 143 MB (about half of total size) without known complaint about size of application.

Just as I am cur

[2018-07-11 12:46] heckflosse commented on #4681
@gaaned92 What cpu do you have?

[2018-07-11 12:56] heckflosse commented on #4681
@gaaned92 Can you try this patch on a generic build?

[code]

But replace the `bdver2` with the name of your cpu according to [this list](https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html)
Then please measure vng4 demosaic in queue with and without the `arch=...` string.

[2018-07-11 12:57] Floessie commented on #4681
@gaaned92

* MMX: Superseded by SSE
* EM64T: 64 bit CPU
* VT-x: Virtualization (irrelevant for RT)
* AES: Encryption (irrelevant for RT)
* TSX: Transactions (irrelevant for RT, conditionally used in libc)

[2018-07-11 18:21] Desmis commented on #4681
@heckflosse
How can I know if my computer support other instruction than SSE2 ?
But I think all initiatives to improve performance must be done :)

Is in looking in link "this link" ?

[2018-07-11 18:55] Desmis commented on #4681
By looking with Sisoftware Sandra, I see my computer support SSE41.1 and SSE4.2

[2018-07-11 19:10] Beep6581 commented on #4681
* In Linux:
[code]
* In Windows there is [CPU-Z](https://www.cpuid.com/softwares/cpu-z.html).

Also:
* https://en.wikipedia.org/wiki/List_of_Intel_microprocessors
* https://en.wikipedia.org/wiki/List_of_AMD_microprocessors

[2018-07-11 20:06] gaaned92 commented on #4681
@heckflosse
1- patched the code as above replacing bdver2 with skylake.
2- built twice the code, first time -mtune=generic and second time -march=skylake

3- processed 6 different files twice with each build. Total time for VNG4 for the 6 files
    generic 2646ms, 2653ms
    skylake 2519ms, 2509ms

    How can I know if my computer support other instruction than SSE2 ?

   -  In Linux and in windo

[2018-07-11 20:57] Duck-Development commented on #4675
Do you need more samples ?

[2018-07-11 21:10] heckflosse commented on #4681
@gaaned92 That's not what I meant. I meant making both builds with `-mtune=generic`, but in one build use
`__attribute__((target_clones("default")))`
and in the other build use
`__attribute__((target_clones("arch=skylake","default")))`

[2018-07-11 21:35] gaaned92 commented on #4681
Sorry for having misunderstood. rebuilding.

[2018-07-11 21:51] heckflosse commented on #4681
@gaaned92 Thanks for building and testing :+1:
`__attribute__((target_clones("arch=skylake","default")))`
should result in two versions of vng4 demosaic, one using the cpu features available for generic builds and one using also the cpu features of skylake. The decision which version to use then is taken at runtime.
At least in theory...

[2018-07-11 22:29] gaaned92 commented on #4681
`__attribute__((target_clones("default")))`
[code]

unfortunately I don't notice difference between the two builds.
I will retest tomorrow.

[2018-07-11 23:01] heckflosse commented on #4681
@gaaned92 I just detected that the `-mtune=generic` build flag is contraproductive when using `target_clones` in source code, at least on my machine.

[2018-07-11 23:31] heckflosse commented on #4681
@gaaned92

Same here ... until I detected that -mtune=generic is contraproductive....
When not using -mtune=generic for generix builds (which still are generic builds), I get a small improvement by for example using
`__attribute__((target_clones("sse4.2,fma","default")))`
in source code

[2018-07-11 23:58] heckflosse commented on #4681
@Desmis Jacques, to see what your gcc will use for native builds:

[code]

[2018-07-12 21:23] gaaned92 commented on #4681
So new test.
Build made without mtune=generic
[code]

Size of  vng4_demosaic_RT.cc.obj
with "mtune=generic" 18863 Bytes
target_clones("default") 22445 Bytes
target_clones("arch=skylake","default") 28798

And No observable run time difference: about 2625 to 2650 ms.
Perhaps the skylake architecture is not recognized at run time.

I will be back at home July 29th

[2018-07-13 10:23] TooWaBoo commented on #4148
New update
[code]

[2018-07-13 11:07] TooWaBoo opened #4682 "Navigator pane can't be open."
How to reproduce.
1. Run RT and open an image
2. Hide left navigator pane
3. Quit RT
4. Run RT and open an image
5. Show left Navigator pane.
--> Navigator pane is still hidden.

[2018-07-13 12:03] #4682 closed, assigned to nobody

[2018-07-13 13:29] keedi opened #4683 "Looses exif information when converting PENTAX DNG to JPG"
Hi, I'm a heavy user of RawTherapee and thank you for making such a awesome tool!

BTW, I've checked #3448 & #3802, but RawTherapee still looses many infomation which is contained in DNG files.  This happens not only prebuilt debian package but also custom built of git cloning version.  The following is an omitted outline list:

- AE*
- AF*
- DriveMode
- FaceDetect
- Focus
- Noise*
- PictureMode
-

[2018-07-13 15:02] Beep6581 commented on #2307
Closing as duplicate of #3801 - Adopt libexiv2 or ExifTool for metadata handling.

[2018-07-13 15:02] #2307 closed

[2018-07-13 15:03] Beep6581 commented on #3403
Closing as duplicate of #3801 - Adopt libexiv2 or ExifTool for metadata handling.

See also #4683

[2018-07-13 15:03] #3403 closed

[2018-07-13 15:04] Beep6581 commented on #4683
This is hopefully one of many metadata issues which would be solved by #3801 - Adopt libexiv2 or ExifTool for metadata handling.

[2018-07-13 15:51] Beep6581 commented on #4469
After much work, the icon cleanup is complete.

Changes:
1. All unused icons deleted.
2. In fact, all icons deleted. All icons redrawn in SVG using Inkscape-0.92.2. Please do not edit or create SVG files using any version lower than 0.92.2.
3. New script to make generating PNG icons easy:
[code]
    The script automatically compresses icons using [pngquant](https://pngquant.org/) while generating

[2018-07-13 16:15] TooWaBoo commented on #4148
New update
` mingw-w64-x86_64-python3-3.7.0-9`

[2018-07-13 16:17] Beep6581 commented on #4469
This is in branch [iconcleanup4](https://github.com/Beep6581/RawTherapee/tree/iconcleanup4)

[2018-07-13 17:32] fsenore opened #4685 "Feature request: command line option to avoid .pp3 files creation"
For my workflow a command line option to avoid the creation of .pp3 files would be very useful.

I store my raw files in a separate folders structure, and I copy them to another location when I edit them: I only edit a small number of files.

I use a Panasonic camera: the jpeg preview embedded in the raw file is not full-size but it much smaller. For this reason I often open raw files just to chec

[2018-07-13 17:40] fsenore commented on #4580
I am the author of bug report #4588 that was closed as a duplicate of this report.

I don't know if the problem is caused by using a Micro Four-Thirds camera that uses heavy lens correction, but when I change the zoom level RT crashes very often. This forces me to continuously go from the editor to the file browser and back again just to save the .pp3 file: at least when RT crashes I do not lose m

[2018-07-13 18:09] Hombre57 commented on #4580
@fsenore `Ctrl+S` will save the pp3 of the edited image at the selected step in the History.

I'll try to blindly fix the crash tonight. Can you build, test and report back ?

[2018-07-13 18:26] Beep6581 commented on #4685
Duplicate of #2857

To avoid having PP3 files saved alongside your photos, have them stored only in the cache.
http://rawpedia.rawtherapee.com/Preferences#Processing_Profile_Handling

[2018-07-13 18:26] #4685 closed, assigned to nobody

[2018-07-13 19:05] gaaned92 commented on #4469
In my local repo I dont have the rtdata/icons dir

[2018-07-13 19:09] Beep6581 commented on #4469
@gaaned92 correct, I deleted it. Is there a compilation problem? If so, please verify that you're using branch `iconcleanup4`, that you're on commit 4340ece and that you have started with an empty build folder.

[2018-07-13 19:48] fsenore commented on #4580
Thank you for the Ctrl+S tip: it will save me a lot of time.

I never built RT but I am a software developer and I can try.

[2018-07-13 20:02] fsenore commented on #4685
I noticed #2885 and in my humble opinion this is not a duplicate. #2885 asks for not writing a .pp3 file unless something has changed, which BTW looks like a very reasonable request.
I agree that #2885 would solve my problem, but since it has not been solved for years I created a different request.  My request is much simpler since adding a flag to inhibit .pp3 creation should be a rather simple c

[2018-07-13 20:47] gaaned92 commented on #4469
Sorry,I forgot to indicate that it crashes Windowsinnosetup Line 52

[2018-07-13 21:10] Beep6581 commented on #4580
There is also ctrl+shift+s which auto-saves a PP3 in the designated place.

[2018-07-13 21:46] Beep6581 commented on #4685
@fsenore I agree that it is not the same, but considering how few developers there are, how hacky this request is and that issue #2885 is the "proper way" of doing it and progress has already been made, it makes sense to mark this as a duplicate and not have it perpetually dangling in open state.

Another solution to your problem is to have a script which does two things:
1. Sets in the options fi

[2018-07-13 22:12] Beep6581 commented on #4469
@gaaned92 thanks for testing, I will fix it tomorrow.

[2018-07-14 10:12] Beep6581 commented on #4469
@gaaned92 should be fixed now.

[2018-07-14 11:03] TooWaBoo commented on #4469
The Hand tool cursor (when dragging the image) is hard to see. It looks like it uses the same icon like the button.
It would be better to use an icon like this: ![closedhand](https://user-images.githubusercontent.com/13800920/42723809-47188642-8766-11e8-964b-e5bc12ad6792.png)

[2018-07-14 12:39] fsenore commented on #4685
Thank you for your suggestion, it should solve my problem.

[2018-07-14 12:48] fsenore commented on #4580
@Hombre57 I have successfully built RawTherapee, so now I can test your fix as soon as it is available.

@Beep6581 Thank you for the ctrl+shift+s suggestion: it is what I was looking for.

[2018-07-14 13:54] Hombre57 commented on #4580
@fsenore Great ! So please test the `lensfun-mutex` branch. I've added some mutex (excepted for thread safe functions), but since I don't use lens fun, never tried the patch.

[2018-07-14 15:01] Hombre57 commented on #4683
@keedi @Beep6581 If you look at the Metadata/EXIF pane in the Editor, you'll see that the Exif and MakerNotes are on the same, root level of the metadata tree. If you look at DNG from e.g. Sony Alpa-7II, the MakerNotes is inside the exif, and then is copied to the output file as well.

We could possibly move the maker notes inside the Exif section at save time, but maybe other user may complain th

[2018-07-14 15:18] fsenore commented on #4580
Since I had already built the dev branch I merged the lensfun-mutex branch and I built RT.

Now I have a problem: I run RT from the MSYS2 shell and it looks like it cannot find the lensfun database. In the "Profiled Lens Correction" section the "Auto-matched correction parameters" choice is disabled and I can see that distortion is not corrected. The lensfun database is stored in the "C:\msys64\mi

[2018-07-14 15:59] Beep6581 commented on #4469
I have a 1920x1080 13.3" 166PPI screen, and on it the new theme looks good size-wise. @TooWaBoo [suggested](https://github.com/Beep6581/RawTherapee/pull/4684#issuecomment-404990722) making the toolbox icons smaller, i.e. changing from 24px to 16px. Which icons exactly are you referring to? It will take a few hours to do that, so I would like to get some more opinions before commencing.

[2018-07-14 16:01] FM33 opened #4686 "Segfault when new file is created in active folder from external program"
[code]

Steps to reproduce :
* Open RT file browser and select a folder.
* Save a new DNG file in that same folder using an external program (here hdrmerge).

Then :
[code]

[2018-07-14 16:03] Beep6581 commented on #4683
I can't imagine anyone complaining that their metadata is preserved.

A general thought, IMHO doing any work with metadata other than outsourcing it to Exiv2 or ExifTool is wasted effort.

[2018-07-14 16:05] Beep6581 commented on #4686
Happens often to me when I create new files using HDRMerge in RT's active folder, or when I save new TIFFs to it.

On a side note, @FM33 I formatted your post to make it more readable - please edit it to see what I did so that you can do it in the future.

[2018-07-14 17:03] Hombre57 commented on #4683
@Beep6581 It depends on priorities. I guess that local editing (locallab) and engine rewrite is more urgent ?

[2018-07-14 17:10] Hombre57 commented on #4683
@keedi @Beep6581 There's still a problem for Pentax PixelShift or HDR files : the DNG embed 3 or 4 subfiles that have different maker notes (and then different exposure and shutter count value). Which one to add to the output file ? I'd say the first one.

Considering my first comment, this is not a bug, but a feature request.

[2018-07-14 17:38] TooWaBoo commented on #4469
![unbenannt](https://user-images.githubusercontent.com/13800920/42726728-6ea8d2d8-8799-11e8-9c4d-2e99b520fdc8.png)
![unbenannt3](https://user-images.githubusercontent.com/13800920/42726729-722c926e-8799-11e8-9679-5278c7e03ff3.png)
![unbenannt8](https://user-images.githubusercontent.com/13800920/42726731-770259e0-8799-11e8-8fae-a8116f7e8e80.png)
![unbenannt4](https://user-images.githubusercontent.c

[2018-07-14 18:38] TooWaBoo commented on #4469
Found the curser hand icon. It's "hand-closed.png" ![hand-closed](https://user-images.githubusercontent.com/13800920/42727366-a875bf10-87a5-11e8-9b38-2c83bdd42dd7.png) (see a couple posts above)

[2018-07-14 21:01] TooWaBoo commented on #4469
Here an example of a good looking layout in 96dpi.
![42728396-b72aeb84-87b9-11e8-9a07-ddf354da5dd2](https://user-images.githubusercontent.com/13800920/42728501-e4fa5be2-87bb-11e8-83ae-b3c2657d22b7.png)

[2018-07-14 22:33] Hombre57 commented on #4580
I'd suggest to start RT outside of MSYS, though I'm not sure it will make a difference. When building a Debug binary, you'll probably use a dedicated cache and settings folder, and you'll have to set the path again.

There's no GUI for this `options` parameter, but look for the `[Lensfun]` section, and set :

[code]

[2018-07-14 23:41] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-python3-3.7.0-10`

[2018-07-15 07:09] Desmis commented on #4650
I add others spectral color, now there is 155 colors.

Also, I add in GUI, value of choosen Student correlation, just above "temperature"
ex  "Student itcwb : 0.0013"
I add also a tooltip for this display value :)

jacques

[2018-07-15 09:46] Beep6581 commented on #4469
The camera icon in dev is 22px high while in `iconcleanup4` its only 2 pixels higher, 24px:
![unbenannt4](https://user-images.githubusercontent.com/13800920/42726735-7eb89410-8799-11e8-95dd-d16c1e6ccca8.png)

The yellow exclamation mark icon is from GTK+ not from RT:
![unbenannt9](https://user-images.githubusercontent.com/13800920/42726875-445d4308-879c-11e8-8e6c-527f9bcb0d8c.png)

[2018-07-15 10:33] TooWaBoo commented on #4469
Contrast in bright themes too low.
old
![grafik](https://user-images.githubusercontent.com/13800920/42732992-0ea177d6-882b-11e8-99e6-ee141db0f6ef.png)
![grafik](https://user-images.githubusercontent.com/13800920/42734195-2f785e60-8840-11e8-969e-f72b08c8c618.png)

new
![grafik](https://user-images.githubusercontent.com/13800920/42732998-33441044-882b-11e8-9666-ded532ba970e.png)
![grafik](https://us

[2018-07-15 10:42] luzpaz commented on #4514
Even though this issues is closed  is the above still related to RT or is it now just a gimp problem ?

Edit: BTW, the new downstream ticket was moved to https://gitlab.gnome.org/GNOME/gimp/issues/1816

[2018-07-15 12:01] Beep6581 commented on #4469
These icons are for a dark theme.

[2018-07-15 13:45] TooWaBoo commented on #4469
This is from dev. All buttons and comboboxes have the same height. The image height of the curves is **18px**
![grafik](https://user-images.githubusercontent.com/13800920/42734238-eb50f066-8840-11e8-97d3-1bfefd4becf8.png)
The height of the white balance method icon is **22px**. It has the wrong height even in dev. That's why the combobox is to high also in dev.
![grafik](https://user-images.github

[2018-07-15 13:49] Beep6581 commented on #4469
Screenshots of 3750b00272838d9aa532fccc069b2c7d2a98e53f:
![screenshot_20180715_154523](https://user-images.githubusercontent.com/5844619/42734567-98dbf1a4-8846-11e8-9b5f-c5487081289a.png)
![screenshot_20180715_154608](https://user-images.githubusercontent.com/5844619/42734568-98fc5f5c-8846-11e8-9f67-7e4eadf60d68.png)
![screenshot_20180715_154704](https://user-images.githubusercontent.com/5844619/4

[2018-07-15 14:04] Beep6581 commented on #4469
Update to come later this evening, after a visit to the lake.

[2018-07-15 14:19] TooWaBoo commented on #4469
dev
![dev1](https://user-images.githubusercontent.com/13800920/42734826-933c292c-884a-11e8-95ff-ef63cf0cf2cc.PNG)
![dev2](https://user-images.githubusercontent.com/13800920/42734828-9766b1b6-884a-11e8-859b-b52d82afef5c.PNG)

iconcleanup4 with modified TWB theme
![new1](https://user-images.githubusercontent.com/13800920/42734831-a5648108-884a-11e8-86f5-e830002eb6b5.PNG)
![neu2](https://user-images.

[2018-07-15 16:49] keedi commented on #4683
Oh, as you guys said, DNG files of PENTAX have MakerNotes on root level of the metadata tree. Now, I understand this is not a bug. But sadly, due to this PENTAX's way, I also lost lens information (model & name, etc) as well as above mentioned exif data. It'll be great lost information could be saved in converted files, or users have to copied them manually all the time as I do everyday. :'-(

[2018-07-15 20:37] humantex opened #4687 "AppImage 5.4 version fails to start on CentOS 7"
After a fresh download and moving to an appropriate folder with user permissions, and setting the execute bit... I double clicked to then get the notifier about integration, creating links, etc. However once the process finished inserting the menu item, it failed to start RT, and provided no error info via notification or abrt reports.

I used terminal to run it instead, and got the following outp

[2018-07-16 08:20] Beep6581 commented on #4687
@humantex does using the latest AppImage work?
https://github.com/Beep6581/RawTherapee/releases
Currently it's `RawTherapee-dev-5.4-488-gc30f03ea.AppImage`

[2018-07-16 10:42] Beep6581 commented on #4469
Changes in bb6282fa:
- The "light" icon theme is now a little lighter, to increase contrast.
- Toolbox icons are now small.
- Buttons:
  - Buttons without labels which use icons as their only source of info regarding what the button does (e.g. the white-balance pipette button) use normal-sized icons.
  - Labeled buttons which use icons as an auxiliary source of information (e.g. Auto-Crop) now use

[2018-07-16 11:47] humantex commented on #4687
The version I grabbed was the only AppImage file listed on the official RawTherapee download page as 'stable'. There were no others available dev, stable, or otherwise.

I'm downloading the nightly from your releases list right now, and will post again once I've got to try it.

[2018-07-16 15:00] humantex commented on #4687
Sorry, but that one didn't work either.

No prompt to integrate this time, but it did throw an abrt notice.

A double-click just threw the 'zenity crashed' abrt error and didn't start. A terminal command threw both the abrt zenity notice and a similar error to the last time...

Here's the terminal error - still shows the libc 2.18 version error, plus a new zenity error:
[code]
ABRT flashed a 'zeni

[2018-07-16 15:42] Beep6581 commented on #4687
Ping @aferrero2707

[2018-07-16 15:44] Beep6581 commented on #4650
Would be nice to have this new ITC method in 5.5.

[2018-07-16 15:51] Beep6581 commented on #4469
Diskette/save icons updated in 00022a01

Unsaved/saved:
![imgur-2018_07_16-17 49 12](https://user-images.githubusercontent.com/5844619/42768839-d19f0208-8920-11e8-8c40-08fc0304be73.png)

Save:
![screenshot_20180716_174942](https://user-images.githubusercontent.com/5844619/42768840-d1c8310a-8920-11e8-9b75-785f3b1ac71d.png)

[2018-07-16 16:00] TooWaBoo commented on #4148
New update
[code]

[2018-07-16 16:51] aferrero2707 commented on #4687
Will have a look ASAP

[2018-07-16 17:16] TooWaBoo commented on #4469
@Beep6581
Looks good now except the size of the WB button and combobox. I prefer the smaller icons.
![unbenannt](https://user-images.githubusercontent.com/13800920/42772909-132eb424-892c-11e8-9251-373b4e8ca49b.PNG)![42772915-1632d4f2-892c-11e8-9947-0542e3146fd9](https://user-images.githubusercontent.com/13800920/42774748-d2de409a-8932-11e8-86ea-9e83609acf44.PNG)

I've also modified the RT-theme to

[2018-07-16 17:42] fsenore commented on #4580
Sorry for the delay, I have been out of home for a couple of days.
I set the DBDirectory line in the options file as you suggested and now RT has a segmentation fault at startup. I also copied Lensfun in the expected location, just to check, and I still get the segmentation fault.
If I remove the reference to lensfun the program starts correctly, but obviously lensfun is not available.

P.S. may y

[2018-07-16 17:51] TooWaBoo commented on #4469
The "hand-closed.png" ![hand-closed](https://user-images.githubusercontent.com/13800920/42774149-4cd793b2-8931-11e8-8b3c-1d49981b9e19.png) is not a button icon. It's a cursor like "crosshair.png" ![crosshair](https://user-images.githubusercontent.com/13800920/42774095-29f3bee8-8931-11e8-9c83-02407cc576fa.png) and should look e.g. like this ![closedhand](https://user-images.githubusercontent.com/13

[2018-07-16 18:20] Beep6581 commented on #4469
The trash icons were never representative of what they did or showed (show empty trash vs show full trash vs delete this vs empty trash, etc.). Commit 75d1ed02 fixes that.

[2018-07-16 18:26] Beep6581 commented on #4469
@TooWaBoo `hand-closed` changed to cursor style in commit 591d3aa6.

[2018-07-16 19:06] TooWaBoo commented on #4469
EXIF: button icon missing.
![grafik](https://user-images.githubusercontent.com/13800920/42778028-12ab56f0-893c-11e8-96eb-1f78ea7ff053.png)

[2018-07-16 20:29] TooWaBoo commented on #4469
CD-ROM icon missing.
![grafik](https://user-images.githubusercontent.com/13800920/42781884-a2b056dc-8947-11e8-8b76-1412780df85e.png)

[2018-07-16 22:03] Beep6581 commented on #4469
Thanks. The tick which shows that the image was edited was also missing. Both are fixed in the latest commit. I also made the ticks theme-colored since there was no reason to have them green and distracting.

[2018-07-16 22:49] humantex commented on #4687
I took a chance and grabbed aferrero2707's last release, and it was pretty much the same as the previous attempt.

Didn't run with double-click - no abrt popup and no integration notice. Command line attempt failed, with:
[code]
Seems it too is expecting to find glibc 2.18. I'll just sit tight for a bit and see what you find.

[2018-07-16 23:03] RawConvert commented on #4650
I've just quickly looked through the above details, and understand only loosely, but have a suggestion.  Is there any mileage in allowing the user to do a (quick) approximate white balance, then apply your algo from that starting point?  The user could then flick between the two (via history) and choose the best.

[2018-07-17 04:23] Desmis commented on #4650
@Beep6581
Of course I agree :)
But 3 remarks
1) what we do with "local white balance"
a) keep like that
b) disable but keep the code
c) suppress and wait for the moment where "locallab GUI" run well, and keep code in one branch not deleted.
I propose c)

2) what we do with others auto wb
a) keep only code of "Itcwb" and suppressed all others code (includind the current WB auto)
b) the same but onl

[2018-07-17 07:58] heckflosse commented on #4650
@Desmis Jacques, I will have a look in the evening

[2018-07-17 08:52] RawConvert commented on #4650
No worries, it was just a thought.

[2018-07-17 09:03] Desmis commented on #4650
@heckflosse
Ingo, thank you :)

[2018-07-17 17:03] heckflosse commented on #4650
@Desmis Jacques, because I can not push at the moment, I will post a series of patches.
I measure `ItcWB` using amsterdam.pef on my old dual core laptop.
Before my patches: 516 ms

[2018-07-17 17:47] heckflosse commented on #4650
First patch: 263 ms

[code]

[2018-07-17 17:57] heckflosse commented on #4650
Second patch (includes first patch) : 142 ms

[code]

[2018-07-17 18:19] heckflosse commented on #4650
Third patch (includes first and second patch) : 112 ms

[code]

[2018-07-17 18:25] andreas-alexander-42 commented on #3317
I would like to see that, too. I need sorting by capture date (asc/desc). Hope this is coming soon

[2018-07-17 22:14] heckflosse commented on #4650
@Desmis Jacques, please test my patches (testing patch number three should be enough). I will try to make further speedups tomorrow if the tests are ok.

[2018-07-18 04:58] Desmis commented on #4650
@heckflosse
I have tested your patch, but manually, by changing code as you done. I tried to apply patch, but it's fail at several places ?

All works fine :)
Time improvment is important. Very good job as usual :)

I just commit and push your patch to "autowblocal".
Thank you

Jacques

[2018-07-18 13:38] TooWaBoo commented on #4148
New update
[code]

[2018-07-18 17:39] Beep6581 commented on #4469
I will be merging tomorrow.

[2018-07-18 22:16] heckflosse commented on #4650
@Desmis Jacques, thanks for testing :) I'm still working on further improvements for `ItcWB`. Currently I'm at 78 ms (was 112 ms with last patch).
But, more important, I also made some improvements for `RawImageSource::getrgbloc`, which currently is quite slow. Current code needs 536 ms for amsterdam.pef on my old dual-core laptop, while new code needs 308 ms.
I will post a patch next days.

Ingo

[2018-07-19 04:50] Desmis commented on #4650
@heckflosse
Ingo, OK thank you
jacques

[2018-07-19 16:00] Desmis commented on #4148
@heckflosse
I just update Msys2 with
[code]

When I accept to install I see a package lensfun (lensfun-0.3.95-1)
Then I run mingw64, all compiles fine
When I try to execute ==> sementation fault

I reopen Msys2 and
[code]
Msys2 says me, re-installation of `lensfun-0.3.2-4`
(I tried twice and reboot computer)

When I want to compile, I have an error:
[code]

[2018-07-19 16:14] Desmis commented on #4148
I think I have found why
before running mingw64, I must **before**, run in Msys2
[code]
In this case all works fine

[2018-07-19 16:15] heckflosse commented on #4148
@Desmis Jacques, I can't test at the moment because during holidays I don't have access to a windows machine.

[2018-07-19 16:31] Desmis commented on #4148
@heckflosse
Good holidays :)

I confirm, it is necessary to run
pacman -U /var/cache/pacman/pkg/mingw-w64-x86_64-lensfun-0.3.2-4-any.pkg.tar.xz
**Before** running Mingw64,
because Cmake is execute, and (why?)  lensfun keep the bad reference...(I try to re-execute Cmake whitout success)
jacques

[2018-07-19 17:33] Beep6581 commented on #4469
Branch merged into `dev`.

[2018-07-19 17:33] #4469 closed, assigned to Beep6581

[2018-07-19 17:37] Beep6581 commented on #3547
The icon work is mostly done. What is needed now is for someone to add code which loads the double-sized icons when a high PPI or scaling is detected.

The double-sized icons are not in the repo yet - I will generate them as soon as they're needed.

[2018-07-19 17:50] Beep6581 commented on #4532
@Hombre57 branch hdr-pef is still around. Is it needed?

[2018-07-19 17:58] Beep6581 commented on #3866
@Desmis I don't see branch `localrgb` anymore - can we close this issue?

[2018-07-19 17:58] #4315 closed, assigned to heckflosse

[2018-07-19 18:21] Desmis commented on #3866
yes you can :)

2018-07-19 19:58 GMT+02:00 Beep6581 <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966

[2018-07-19 18:23] Beep6581 commented on #3421
I am busy merging `dev` into `newlocallab`.

[2018-07-19 18:23] #3866 closed, assigned to nobody

[2018-07-19 18:40] Beep6581 commented on #3421
@Desmis I need to leave for an hour, I will continue merging tonight - please do not commit anything to `newlocallab` in the meanwhile.

[2018-07-19 18:42] Desmis commented on #3421
@Beep6581
I have commited a change  9d3429c  30 mn ago

No commit for me!
Thanks for merging

Jacques

[2018-07-19 19:05] casta opened #4689 "Add “dynamic profile” in the right panel’s processing profiles list"
Since there is the dynamic profile since some time, I started using it quite extensively and have now quite a bunch of predefined partial profiles stacked inhere.
I noticed that the “dynamic profile” item is missing in the right panel processing profiles: there is “(neutral)”, “(last saved)” and all predefined and personal stuff, but no “(dynamic profile)”, or something labelled “default”.

So whe

[2018-07-19 21:17] Beep6581 commented on #3421
@Desmis no problem. I merged `dev` into `newlocallab` and fixed the conflicts. You can pull now.

[2018-07-19 21:20] Beep6581 commented on #4469
@Desmis @heckflosse @Hombre57 @agriggio @Floessie don't hesitate to let me know if you need help with merging `dev` into any of your branches!

[2018-07-19 21:31] TooWaBoo commented on #4148
New update
[code]

[2018-07-19 21:33] heckflosse commented on #4650
@Desmis Jacques, I tested `ItcWb` with a lot of files and can confirm that even for UniWB files it leads to a good WB. In general it's better than the old AutoWB and I would like to see it as the new AutoWB for RT 5.5.
But we should also keep the old AutoWB in code (not in GUI) for backwards compatibility.
For the other methods (robust, edge,...) I currently see no use case because `ItcWB` outperf

[2018-07-19 21:35] Beep6581 commented on #4650
Let me know when you're not making any changes so that I can merge `dev` into this branch.

[2018-07-20 05:30] Desmis commented on #4650
@heckflosse
No problem you can make all the patch you want to optimize :)
Thank you

recall : getrgbloc has been create to use with "local", I think it will be necessary ..or something next - if we want a local control of white balance....But probably we can be content with "warm - cool" in "Exposure locallab" (in 95% cases it will be  enough) : I think it is a good solution that will simplify cod

[2018-07-20 05:55] Desmis commented on #3421
@Beep6581
Thank you very much :)

[2018-07-20 06:17] Floessie commented on #4469
Thanks for the hard and time-consuming work you put into this! :+1:

[2018-07-20 06:31] Desmis commented on #4469
All these new icons are definitely better than old :)
Very good job
jacques

[2018-07-20 10:49] tribut commented on #4416
I'm seeing a quite severe increase in memory usage as well (using the Appimage, both 5.4 stable and -dev, on Ubuntu bionic). Additionally, the oom killer seems not to be able to deal with it, causing the whole system to freeze when it finally runs out of memory, with SysRq-REISUB being the only way out. I'm not sure whether it is related to multi-threaded NR, though.

[2018-07-20 12:08] Beep6581 commented on #4469
I'm happy to hear that you like them!

[2018-07-20 12:19] Beep6581 commented on #3974
I merged `dev` into `waveletnew`.

[2018-07-20 12:19] #3974 closed, assigned to nobody

[2018-07-20 12:24] Desmis commented on #3974
@Beep6581
thank you :)

[2018-07-20 13:04] heckflosse commented on #4650
@Beep6581 Please merge dev into this branch

[2018-07-20 13:08] Beep6581 commented on #4650
@heckflosse wilco, starting now.

[2018-07-20 13:44] Beep6581 commented on #4650
Done and tested.

[2018-07-20 14:27] Beep6581 commented on #4650
I tested e92aabe9c

White Balance:
1. It works well now with UniWB photos. I will shoot some photos later today with very wrong in-camera WB to see how it performs.
2. The thumbnail does not match the preview, could that be improved?
![screenshot_20180720_160656](https://user-images.githubusercontent.com/5844619/43006883-1dc970be-8c37-11e8-9471-b89da2afc1c2.png)

White Balance Local:
1. When I dis

[2018-07-20 15:32] heckflosse commented on #4650
@Desmis @Beep6581 I will do the merge and solve the open points (thumbs, batch processing etc.). But don't expect it to be ready before tuesday.

[2018-07-20 15:51] Desmis commented on #4650
@heckflosse
No problem with delay...I am used to :)
Thanks in advance for your work...

@Beep6581
Thanks for testing and give your opinion :)

No problem as I say above, to suppress "WB local", there is in locallab "warm - cool" (with cat02), it will works well for all images with illuminant Daylight or Blackbody

For others "auto wb", I agree that "Itcwb" is in quasi all cases superior to others

[2018-07-20 16:16] Beep6581 commented on #4650
My opinion, and it's only that, is that RawTherapee is sufficiently popular, and sufficiently complicated, that if possible, we should aim to reduce the complication, to eliminate unnecessary variables unless they can be proved to be quite useful. RT used to be called "The Experimental Raw Photo Editor" back when only a handful of people used it, but we moved past that point years ago and now with

[2018-07-20 16:19] Raoul-Kima opened #4690 "Add undo support for processing profile operations in File Browser"
Often I spent many minutes fine tuning the processing parameters, and then want to copy the processing profile to another image. So I go to the file browser and hit Ctrl+C  to copy the profile. Sometimes it happens that I accidentally hit Ctrl+V instead, as the C and V keys are next to each other on the Keyboard. When this happens usually all the work I put into fine tuning the processing settings

[2018-07-20 16:28] heckflosse commented on #4650
@Beep6581

That is my intention. Though I want to keep the old autowb code for backwards compatibility if someone processes an old raw where 'Auto' is set in pp3.

[2018-07-20 16:34] Desmis commented on #4650
@Beep6581 @heckflosse
May be I express myself badly, I am a grumpy old French who speak English poorly, but no problem at all to suppress... :)

[2018-07-20 17:05] heckflosse commented on #4650
@Desmis my :+1: was for the `but no problem at all to suppress... :)`, not for the `grumpy old French`, which you definitely not are, at least not grumpy ;-)

[2018-07-20 17:15] Desmis commented on #4650
@heckflosse
Of course, I'm joking :)

[2018-07-20 18:41] RawConvert commented on #4650
As it's early days, how about add the new method to the existing ones, saying it's a temporary position, and see how people like the different algorithms, and what wider testing reveals, then keep just the best.

[2018-07-20 19:21] heckflosse commented on #4650
@RawConvert In general I agree with you to let people test the different algorithms and how they like them. But in this special case I think it's not about liking some algorithms but evaluating how close they are to the correct auto white balance. Have a look for example at this two files, where the old autowb method completely fails:

http://www.rawtherapee.com/shared/test_images/tracteur.dng
htt

[2018-07-20 21:03] fsenore commented on #4580
Ok, it was a problem with the latest version of lensfun.
I have finally been able to compile your lensfun-mutex branch and I have tested it on a few images: it is working without crashes so it looks like the problem is fixed.
I will keep using it in the next days and I will report problems here, if I will find any of them.

Thank you for your help.

[2018-07-21 00:39] Hombre57 commented on #4580
@fsenore Are you saying that there's no crash with the dev branch too now ? Or should I still commit the lensfun-mutex branch (once you  validate it) ?

[2018-07-21 07:54] fsenore commented on #4580
I tested your changes, since I compiled the lensfun-mutex branch. So I believe that you should still commit that branch.

[2018-07-21 13:46] Hombre57 commented on #4469
@Beep6581 They are nice, thanks for this hard work !

However could you change the rating stars that are displayed in thumbnails please ? The yellow ones are ok, but the grey ones are too big and too distracting IMHO. So I'd make them half the size (but keep the same canvas size), without borders and lighter (more transparent ?). That way, the number of stars will even more pop out, not only by th

[2018-07-21 14:04] Beep6581 commented on #4469
@Hombre57 I agree that it looks better when the not-rated icons are less focus-grabbing, will do something about that.

Is "last version" = 0.92.3? And which Windows?

I could blindly fix it, but now is a good opportunity to refresh my info. As I don't use Windows or MSYS2, could you please check:
1. If you install Inkscape-0.92.3, is it available in `$PATH` in MSYS2?
2. What happens when you type

[2018-07-21 14:48] Hombre57 commented on #4469
@Beep6581 Forget about point 1 above, I personally created the lowercase `inkscape` folder when installing with the zip archive. When installing with the installer, it creates an `Inkscape` folder.

To answer your questions :

   1. no
   2. _command not found_
   3. `/c/Program Files/Inkscape` for 64 bits version (which is already correct in your script), `/c/Program Files (x86)/Inkscape` for 32

[2018-07-21 19:05] polezhaevdmi opened #4692 "Crash in highlight recovery when using AHD demosaic"
Sorry for the disturbance, but seems I found something fresh...

Issue description: actual RT may crush during final raw file processing (with unconditional termination), the root of cause is not exactly clear, but coupled with highlight recovery algorithm. I'm suspecting the engine crushes if no HL overload is found, instead of do nothing.

Facts I was able to found:
- The effect was observer at

[2018-07-21 19:46] Beep6581 commented on #4692
@polezhaevdmi can you reproduce (and provide a backtrace) using the latest development build?
https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

[2018-07-21 20:11] Beep6581 commented on #4469
@Hombre57 script updated, could you please test?

[2018-07-21 22:20] Hombre57 commented on #4469
@Beep6581 Works nice, thanks !

[2018-07-22 15:58] Hombre57 commented on #4478
@Desmis @Beep6581 I've added support of ASCII chars for description and copyright tag if they are composed of ASCII chars only. I've tested your string `Surströmming, bergsklättrare tycker det är toppen på toppen, aöbäcådÖeÄfÅg.` successfully here (where `wchar_t` are 16 bits long), and Gimp can decode it correctly, e.g. in this file : [Test05.icc.txt](https://github.com/Beep6581/RawTherapee/files

[2018-07-22 16:32] Desmis commented on #4478
@Hombre57
I think you have made a great job, for me Linux is an unknow territory !!
For the annoying thig, I thin proposition 1) is enough

And to verify, but I think we must merge asap.

Thank you very much for this part of job, that I can not do :)

jacques

[2018-07-22 16:38] Desmis commented on #4478
@Hombre57
I don't know why, but
* it's compile fine
* when I run Rawtherapee I have a Runtime error
This application has requested the Runtime to terminate it in an unusual way... etc.

[2018-07-22 16:59] Desmis commented on #4478
I started again with another clone
Before pull, I compile and run fine
Then
git pull
compile fine

and runtime error
I launch in console and I see this message ==> Icon "gamut-plus.png" could not be found !

and after closing
"terminate called after throwing an instance of 'Glib::FileError'"

[2018-07-22 17:09] Hombre57 commented on #4478
@Demis That's right, the icon has probably gone in the last marge of dev into this branch. I'm doing that icon again...

[2018-07-22 17:28] Hombre57 commented on #4478
@Desmis Patch committed. You should re-cmake the project to include the icon in the install step.

[2018-07-22 17:40] Desmis commented on #4478
@Hombre57
Compile and run fine, after cmake

Rawtherapee works fine
But When I want to launch "iccprofil", by clicking on icon , nothing happened

and In console I have this message

Icon "gtk-undo-ltr-small.png" could not be found!

(rawtherapee.exe:8180): glibmm-CRITICAL **: 19:37:20.375:
unhandled exception (type Glib::Error) in signal handler:
domain: g-file-error-quark
code  : 4
what  : Faile

[2018-07-22 18:16] Hombre57 commented on #4478
@Desmis Je me disais aussi que le merge de dev dans cette branche se passait trop bien.... Je n'avais même pas pris le temps de compiler et vérifier que tout allait bien :roll_eyes:

C'est maintenant corrigé, testé ici avec succès.

[2018-07-22 18:25] Desmis commented on #4478
@Hombre57
Ce coup-ci cela fonctionne :)
Merci, bonne soirée
jacques

[2018-07-22 20:42] aferrero2707 commented on #4687
I'm back to business, and started looking for a solution... will let you know asap.

[2018-07-23 05:42] Desmis commented on #4478
After several tests and verifications all seems to work well (option, copyright, etc.) :)
jacques

[2018-07-23 09:11] polezhaevdmi commented on #4692
@Beep6581, indeed. I tried 3 variants from https://keybase.pub/gaaned92/RTW64NightlyBuilds/, as https://github.com/aferrero2707/RawTherapee/releases/tag/continuous looks very old for our task.
The effect is solid, it exists in all builds I tried. With a single change: now gdb does not crush, unlike the attempt above. Thus, the log files should be complete.

1. RawTherapee_newlocallab_5.4-772-ge65c

[2018-07-23 09:32] Beep6581 commented on #4478
offer the possibility to set multiple languages for those string (will require more time)

I don't know what it would mean that "a string has to be en-US". How would a Frenchman write an en-US description in French? If writing a description using French characters (or Swedish, Polish, etc.) which can be reliably displayed in other programs is not possible, why bother with anything other than ASCII

[2018-07-23 09:54] jannefoo opened #4695 "DNG with "Embed Fast Load Data" not rendered the same as plain DNG or NEF"
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarati

[2018-07-23 10:16] Beep6581 commented on #4695
https://filebin.net/b556ghmhwf2mxky3

When I converted your NEF to DNG using Adobe DNG Converter 10.4 without using "embed fast load data", it renders identically as the NEF in RawTherapee-`5.4-520-g`d73e5428f.
![screenshot_20180723_120823](https://user-images.githubusercontent.com/5844619/43070909-6a6e1ee2-8e71-11e8-8465-874b6342a9e0.png)

When "embed fast load data" is enabled, there is a differ

[2018-07-23 10:21] jannefoo commented on #4695
strange, because out of batch of 18 images, only two were affected.

[2018-07-23 10:31] Beep6581 commented on #4695
Setting all black levels to -200 in RT for the "embed fast load data" file leads to identical results.

There was some work ~recently done to match DNG to non-DNG. Maybe the embedded preview is messing with the logic? Ping @heckflosse @agriggio @iliasg

Metadata diff: http://www.mergely.com/QG6ARgwg/

[2018-07-23 10:49] Desmis commented on #4478
@Beep6581
For me, In french, when I want to write in en-US, I avoid all accents (é ==> e è==>e, à==>a, etc.) and it's easy...But except for rawtherapee, I never write in english :)

As you , I absolutely agree to merge that branch

[2018-07-23 13:13] agriggio commented on #4469
Sorry for the late reply. Thanks *a lot* for this, the new icons are really nice, a great improvement! :+1:

[2018-07-23 16:32] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-libpng-1.6.35-1`

[2018-07-23 18:12] Desmis commented on #4478
@Hombre57
Can you merge when you want, If nobody object !

[2018-07-23 19:45] Hombre57 commented on #4478
@Desmis You talked about updating the bundled profiles :

Could you do that ? I don't want to break them.

If easy to do, I'll try to find a solution for multi-language support, or do it later on.

[2018-07-24 06:32] Desmis commented on #4478
I have change in options.cc
     rtSettings.ACESp0 = "RTv4_ACES_AP0" with   rtSettings.ACESp0 = "RTv4_ACES-AP0"
     rtSettings.ACESp1 = "RTv4_ACES_AP1" with  rtSettings.ACESp1 = "RTv4_ACES-AP1"

Otherwise, RTv2 with ACES will not work
I have verified all others "model" for v2, all works fine now
I think we can merge now.

It is necessary to re-run RT for options be update !

jacques

[2018-07-24 07:00] Desmis commented on #4650
@heckflosse
Ingo
When your work wil be finished - I'm not trying to speed up this branch, I will propose a small improvement (in improccoordinator.cc)

Indeed, the algorithm assumes that "camera temp" is almost good, and adjustements are done on this temp, and especially on the green.
I have tried many variations of algorithm whithout success,  in all my tests the results are not so good, so I do

[2018-07-24 21:04] #4565 closed, assigned to nobody

[2018-07-24 23:02] Hombre57 commented on #4478
@Desmis @Beep6581 `testoutputprofile` merged to `dev`.

[2018-07-25 06:12] Desmis commented on #4478
@Hombre57
Compile and works fine :)
Thank you

[2018-07-25 09:42] agriggio commented on #4478
I am not sure I understand the purpose of the custom tone response curve in the working profile, or at least how it is supposed to be used... Is the behaviour shown in this screencast expected?

https://filebin.net/utjhan27qhg7zd6a/Peek_2018-07-25_11-37.mp4?t=3t5d5bxv

[2018-07-25 12:30] #4692 closed, assigned to heckflosse

[2018-07-25 15:45] Desmis commented on #4478
As I said in this thread (issue 4478) , on 3 may  (I introcuded this concept on 29 avril )

"do you tested, Gamma-TRC for working profiles ?
In resume, gamma acts on highlights, and slope on shadows:

Try with "tracteur.dng" or "img_080.cr2" tested in the forum for "shadow / highlight tool" and play with gamma and slope (big values)
Try on "normal" images, you can see what changes with gamma / slo

[2018-07-25 16:42] Beep6581 commented on #3558
`5.4-626-g`99fa2942b

[2018-07-25 17:29] fsenore commented on #4580
@Hombre57 I have tested the program and it looks more stable, but today I had some crashes.
The program crashes when I am looking at a part of the image and I click the button to show the whole image on screen.
The images that I was editing are taken with a Nikkor 50mm mounted on my Panasonic GX-7 with an adapter, so in the raw file there are no info about the lens. Profiled lens correction is thu

[2018-07-25 17:36] agriggio commented on #4478
Jacques, I am familiar with how (n)ufraw gamma works, but I couldn't match its behaviour with that of RT. (the ranges of the two are also different, but that's a minor point). in ufraw, lowering the gamma compresses the dynamic range by pushing the shadows. increasing the linearity compensates for this. is it the same with RT? perhaps I didn't try hard enough, but I am not sure I was able to do th

[2018-07-25 19:57] noushdr opened #4697 "Support for ACES2065-1 (AP0)?"
Discussed on #3783 . As far as I know, RT only have output to ACES, but not as a working profile, right? Would it be possible to add support for ACES2065-1 (AP0) as a working profile? I don't know the benefit, as @Desmis said, but on color grading it *might* be a good idea (especially for HDR 32bit images).

[2018-07-25 22:51] heckflosse opened #4698 "AHD demosaic still has some integer processing"
As I solved the [crash issue](https://github.com/Beep6581/RawTherapee/issues/4692) when using AHD demosaic in combination with Highlight reconstruction, I detected, that AHD demosaic still has some integer processing.
This issue is about changing the integer to single precision float processing and as a side effect also leads to a speedup. Because the change from integer to float the output can't

[2018-07-25 23:10] Hombre57 commented on #4580
@fsenore I've committed a patch because there was something odd in the `pix` pointer, not related to lensfun, but might be the reason of your crash.

I've merged the `lensfun-mutex` branch into dev and will delete that branch in few days (or when back from holidays).

[2018-07-25 23:49] Hombre57 commented on #4580
@tsi12 @fsenore Please try the `issue4580` branch now, it adds more bugfix (hopefully).

[2018-07-26 06:18] Desmis commented on #4697
@noushdr
After commit 8613d16 (merge dev with testoutputprofile), ACES-AP0 and ACES-AP1 have been add to working profiles, since july 24.

[2018-07-26 12:39] TooWaBoo commented on #4148
New update
[code]

[2018-07-26 13:13] sguyader opened #4700 "Allow the collapsed state of curves to be saved"
In the RT preferences, there's this button which allows saving the collapsed/expanded state of tools. It's really nice to be able to go quicker to the tools and settings we use the most, with an economy in clicks ans scrolling. However, there's something which can be collapsed/expanded, but which is actually always expanded: curves.
The Exposure tool is important, and I want to have it always expa

[2018-07-26 13:30] #4697 closed, assigned to nobody

[2018-07-26 15:23] TooWaBoo commented on #4148
After the update I can't compile anymore.
Error:
`C:/msys64/mingw64/bin/cmake.exe: error while loading shared libraries: zlib1.dll: cannot open shared object file: No such file or directory`
Any idea?
![grafik](https://user-images.githubusercontent.com/13800920/43279707-1bac22ae-910f-11e8-9762-8674fd2f43d6.png)

[2018-07-26 17:40] Beep6581 commented on #4343
Tested branch [`catmull-rom-spline`](https://github.com/Beep6581/RawTherapee/tree/catmull-rom-spline)

That's a nice and easy to use curve @agriggio !

I found these things:
1. When using an auto-matched tone curve, in some cases the new curve leads to this undesirable effect  (see dip in upper-right part) while the old curve was less prone to that, `karin_library_2.hdr.dng` new:
![screenshot_2018

[2018-07-26 17:45] Desmis commented on #4478
I just fixed the bad behavior in preview :)

[2018-07-26 17:46] agriggio commented on #4343
thanks for testing! I'll try to tweak it

[2018-07-26 19:25] agriggio commented on #4343
@Beep6581 can you try with this patch and see if it improves the situation?

[code]

[2018-07-26 19:28] TooWaBoo commented on #4148
Did a clean install of MSYS2. At step "Download and build libiptcdata" I got the same error as above. So it's definitely a bug in MSYS.

[2018-07-26 20:01] TooWaBoo commented on #4148
https://github.com/Alexpux/MINGW-packages/issues/4111
This fixed the issue.
`pacman -S mingw64/mingw-w64-x86_64-libpsl`

[2018-07-27 07:47] Pandagrapher commented on #4094
@Desmis
I am continuing the integration of the new control spot panel and I just pushed an update to my newlocallab fork with the following improvements:
- ProcParam and .pp3 files can now manage several control spots (number is dynamically managed) which can replace .mip files
- Control spot curves are automatically visible if the Locallab tab is selected or not (according to visibility parameter

[2018-07-27 08:57] Desmis commented on #4094
@Pandagrapher
Si tu arrives à faire tout fonctionner avec des pp3, bien sûr que tu abandonnes les mip
Pour les variables décrites ci-dessus:

int centerXbuf;
int centerYbuf;
Glib::ustring dustMethod;
bool cutpast;
bool lastdust;
Ne sont pas utilisées actuellement, mais pourraient l'être. En effet j'avais commencé la possibilité de retirer les "merdes" et autres "dust", mais comme Hombre travaille

[2018-07-27 11:01] Yz2house opened #4703 "Update GUI in Japanese"
Update Japanese GUI
translated new strings, some deletions, and some changes
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2235525/Japanese.txt)

[2018-07-27 13:37] #4703 closed, assigned to Beep6581

[2018-07-27 15:14] fsenore commented on #4580
@Hombre57 Yesterday I built the issue4580 branch and I still had a crash after some work on an image taken with the same lens, therefore unsupported by lensfun.
So I built a debug version and I used it for some time but the crash did not happen any more.
Today I started the program, I opened an image, I zoomed it in a little then I pressed the button to show the full image and I had an immediate c

[2018-07-27 15:50] Beep6581 commented on #4585
I'm still experiencing this bug. How do I add an entry to `camconst.json` so that it affects DNG but not ARW?

Permanent test image:
http://rawtherapee.com/shared/test_images/cat_iso100.dng

[2018-07-27 18:22] TooWaBoo commented on #4148
New update
`pacman-5.1.1-1`
[code]

[2018-07-28 00:17] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-curl-7.61.0-2`

[2018-07-28 10:49] TooWaBoo opened #4704 "Unmarkt icon is hard to see"
I suggest to replace the "circle-empty-darkgray-small.png" ![circle-empty-darkgray-small](https://user-images.githubusercontent.com/13800920/43355843-5ae0db62-9264-11e8-8985-c92961e1ee39.png) with the "circle-empty-gray-small.png" ![circle-empty-gray-small](https://user-images.githubusercontent.com/13800920/43355849-78aa7216-9264-11e8-9555-06eb7973e211.png)

![unbenannt2](https://user-images.githu

[2018-07-28 15:54] Desmis commented on #4094
@Pandagrapher
Of course, I can help you if need :)
Je suis curieux de voir comment tu vas traiter les données des "curves" et "double sliders", pour moi c'est du chinois, et les fichiers "mip" - qui fonctionnent cependant - traduisent mon ignorance profonde de l'informatique et de sa partie GUI  (je n'ai aucune formation informatique : programmation, etc. ) :)

Je suis aussi curieux de voir commen

[2018-07-29 09:33] yuergen opened #4705 "Crash on startup with .raw hard disk image file in home directory"
RawTherapee crashes on start up, when there is a file with the extension .raw  but not valid photo data in the home directory. The stack trace indicates a crash in DCraw.

For example this might happen when you are working with raspberry pi image files.

I have tested this with the following versions:
- rawtherapee 5.3-1 from the ubuntu bionic / 18.04
- rawtherapee 5.4-2dhor~bionic from the dhor p

[2018-07-29 13:16] #4658 closed, assigned to nobody

[2018-07-29 13:17] #4704 closed, assigned to nobody

[2018-07-29 20:41] Beep6581 opened #4706 "Segfault in rtengine::Color::cachef in LUT.h"
From: https://discuss.pixls.us/t/local-lab-build/1430/482
Raw + PP3: https://filebin.net/9cpfghyrsaph2f8g

1. Open raw, making sure the PP3 is applied.
2. Ctrl+s to save, crash while saving.

[code]

[code]

[2018-07-29 20:55] Beep6581 commented on #4705
Tested using `5.4-639-g`659901212 and
https://download.fedoraproject.org/pub/fedora/linux/releases/28/Spins/armhfp/images/Fedora-Minimal-armhfp-28-1.1-sda.raw.xz [328MB]

[code]

[2018-07-30 16:00] heckflosse commented on #4650
@Desmis Jacques, I will continue work on this, when I'm back home in about one week. For now, with my old laptop, I will only fix some crash issues recently reported.

[2018-07-30 16:16] Desmis commented on #4650
@heckflosse
Ingo
No problem :)

[2018-07-30 16:32] TooWaBoo commented on #4148
New update
`pacman-5.1.1-2`

[code]

[2018-07-30 16:51] #4705 closed, assigned to heckflosse

[2018-07-30 20:56] yuergen commented on #4705
Thank you, Ingo!

[2018-07-30 21:15] heckflosse commented on #4705
@yuergen Thank you for the good bug report :+1:

[2018-07-31 12:51] #4706 closed, assigned to heckflosse

[2018-07-31 15:06] TooWaBoo commented on #4148
New update
[code]

[2018-07-31 15:25] TooWaBoo commented on #4148
Doing a clean compiling and getting a lot of warnings like this:
EDIT: Compiling was successful.
[code]

[2018-08-01 09:17] Floessie opened #4709 "SEGV with Lab CH curve"
Hi,

I'm experiencing a hard to reproduce SEGV with the Lab CH curve and the NEF from #4412:

1. Open the NEF without profile.
2. Without turning on "Lab Adjustments" select the CH equalizer curve.
3. Within CH select the picker (cross-like) tool.
4. Hover over the image. Nothing happens in the curve widget. Good.
5. Turn on "Lab Adjustments".
6. Hover over the image. A marker line appears in the

[2018-08-01 09:42] Beep6581 commented on #4709
@Floessie could you upload the NEF file please? The link in that issue is no more, "The requested share does not exist anymore".

[2018-08-01 09:46] Floessie commented on #4709
I managed to get a crash in GDB with the release build. Here's the sparse backtrace:

[code]

@Beep6581 [Here](https://filebin.net/8pp1bfoj3y11zbl7) is the file.

[2018-08-01 09:57] Floessie commented on #4709
And now with debug build :tada::

[code]

HTH,
Flössie

[2018-08-01 10:22] nvki opened #4710 "Customize 'open with' menu"
I was wondering how the 'open with' context menu is populated and if there is a way to customize it. Specifically I'm looking to add a 'HDRMerge [raw]' option to RT 5.4 on win10x64.

[2018-08-01 15:20] gaaned92 commented on #4148
After above update

- lot of warnings that can be suppressed by tag -Wno-parentheses

- No error during compilation

- error at linking:

[code]

[2018-08-01 15:43] TooWaBoo commented on #4148
New update
[code]

[2018-08-01 16:15] afr-e commented on #3994
`dev 5.4-641-g`c45c638ed on win10 from https://keybase.pub/gaaned92/RTW64NightlyBuilds/
Unfortunately, Windows doesn't have the `alt + left` trick. My workaround is to tab my way to the About-OK-Cancel row. I recall this wasn't a problem for me in `5.4-488...`.

[2018-08-01 16:27] Beep6581 commented on #3994
I will try to do this when time permits, but if anyone wants to jump in, feel free.

[2018-08-01 16:32] afr-e commented on #4035
Sometimes the icons overlap.
![image](https://user-images.githubusercontent.com/42004791/43534822-48f942ca-9586-11e8-9561-1c4f670ae134.png)

I can think of two enhancements that might deal with this problem. Not a programmer, so they may or may not work with what you have.
1. Add a scroll bar.
2. Add a menu icon that expands to reveal the icons that don't fit, like the one with the upside down tri

[2018-08-01 16:53] afr-e opened #4711 "Panels can obscure the detail window"
`dev 5.4-641-gc45c638ed` on win10 from https://keybase.pub/gaaned92/RTW64NightlyBuilds/

I posted about this here: https://discuss.pixls.us/t/rt-hd-laptops-screens/5463/8. (Let me know if I should copy the description to this post; I am new at reporting bugs on GitHub.) This is especially problematic when the entire detail window is behind the panel. It is possible to retrieve the window by hiding

[2018-08-01 17:04] Beep6581 commented on #4711
Please do, to make it possible to search issues for keywords and avoid issues caused by dead links.

[2018-08-01 17:16] afr-e commented on #4711
For your convenience, from my original post at discuss.pixls.us:

[2018-08-01 17:17] afr-e commented on #4711
Oops, I pressed the wrong button; but I now know what it does!

[2018-08-01 17:37] TooWaBoo commented on #4148
Getting similar compiler error.
The reason could be either it's the last MSYS- or RT-update. Trying to compile an other branch.
**EDIT: Getting the same error compiling "locallab". The culprit is the last MSYS-update.**
[code]

[2018-08-01 17:46] heckflosse commented on #4698
Processing time for amsterdam.pef on my old dual-core laptop now is 1925 ms (6693 ms with dev branch)
Memory usage is reduced by width * height * 16 byte compared to dev branch.
Also made an own compilation unit for ahd demosaic

[2018-08-01 18:17] TooWaBoo commented on #4148
RT is not the only application having problems with last update.
https://github.com/Alexpux/MINGW-packages/issues

[2018-08-01 19:42] gaaned92 commented on #4148
well! I am going to revert gcc to 7.3

[2018-08-01 20:20] TooWaBoo commented on #4148
@gaaned92
How do you do this?

[2018-08-01 20:51] afr-e commented on #3994
I took another look. It appears that

1. the padding is quite extreme
2. RT (or GTK3) ignores the space occupied by the Windows task bar and is obscured by it.

_Without the task bar. The tops of the 3 buttons are barely visible at the bottom._

![image](https://user-images.githubusercontent.com/42004791/43547874-8ba970f8-95aa-11e8-94d5-13bb0961b10e.png)

[2018-08-01 20:56] Beep6581 commented on #3994
@afr-e please show a screenshot of your entire desktop, uncropped.

[2018-08-01 21:16] afr-e commented on #3994
Sure. With TooWaBlue, the padding is less but still too much.

_With task bar._

![image](https://user-images.githubusercontent.com/42004791/43549223-13597a36-95ae-11e8-9c10-f57684386396.png)

_Without task bar at bottom._

![image](https://user-images.githubusercontent.com/42004791/43549390-75ec1bfe-95ae-11e8-80b8-f5d8d5cea057.png)

_Default theme without task bar at bottom._

![image](https://us

[2018-08-01 21:32] gaaned92 commented on #4148
**Same link error with 7.3** so I suppose it comes from an other package. Do you have a clue?

 To revert to 7.3.0-2, If you did not emptied the cache, in msys2 shell

[code]
then to avoid updating, in ` /msys64/etc/pacman.conf` insert after
`# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
`

[code]

[2018-08-02 06:25] Floessie commented on #4709
I was half an hour into an appointed editing session yesterday, when RT segfaulted after using the CH curve with the picker. I'm pretty sure, this time Lab adjustments were enabled, so there must be a general problem with the picker.

Gladly, the queue was restored when starting anew, so I just lost five minutes...

PS: I heavily used "Local contrast" and "Softlight". Those are great and easy to u

[2018-08-02 06:31] Floessie commented on #4148
[code]

This is a known [issue](https://discuss.pixls.us/t/gtk3-warnings-when-building-from-source/7997) with GTK3. No need to worry.

[2018-08-02 08:03] gaaned92 commented on #4148
@Floessie  Yes those warnings are just annoying and can be suppressed with -Wno-parentheses

But the issue now is  the link error

[code]
even after reverting to gcc 7.3, I still get this error.  Perhaps the reverting corrupted something. I don't know what I can do now!

edit: same with 7.3
[code]

[2018-08-02 08:29] Floessie commented on #4148
@gaaned92 But in the snippet above, you're still using 8.2.0...

[2018-08-02 09:38] Pandagrapher commented on #4094
@Desmis
Pour le traitement des données des "curves" (a priori, c'est le même principe pour les "double sliders"), tu peux voir comment j'ai fait avec mon dernier commit dans mon fork :
https://github.com/Pandagrapher/RawTherapee

Je continue l'intégration des paramètres des différents outils de Locallab dans procparams et le fichier .pp3 (j'ai juste fait les points de contrôle et "Color & Light" p

[2018-08-02 10:11] nvki commented on #4285
I would like to +1 this request as I'm having the same issue opening .dng files from my Blackmagic Pocket Cinema Camera. In addition to jeypod's example files I can add a example file with a color checker: [bmpcc_cinemadng](https://drive.google.com/open?id=1eVqBzSsnyRiuP7tw9Tv3Rs0_bWKIPdUG)

[2018-08-02 13:03] aferrero2707 commented on #4687
I have prepared an experimental AppImage package that was built under Centos6, and therefore should be compatible with Centos& as well. The package is available [here](https://transfer.sh/OBKuX/RawTherapee-dev-5.4-644-g263d96ee.AppImage).

@humantex @Beep6581 could you give this package a try and see if it works for you?

Thanks!

[2018-08-02 13:48] gaaned92 commented on #4148
I just made a fresh install of MSYS2 in which I installed directly gcc7.3 with no avail. I still get the same link error as above.
Now situation seems hopeless! Help please!

[2018-08-02 14:04] TooWaBoo commented on #4148
The culprit is one of these packages.
[code]

[2018-08-02 14:05] Floessie commented on #4148
Obviously the latter...

[2018-08-02 14:06] gaaned92 commented on #4148
Yes `mingw-w64-x86_64-libjpeg-turbo-2.0.0-1`  is the culprit

revert to `mingw-w64-x86_64-libjpeg-turbo-1.5.3-1-any.pkg.tar.xz`

[2018-08-02 14:08] TooWaBoo commented on #4148
New update
`mintty-1~2.9.0-1`

[code]

[2018-08-02 14:40] gaaned92 opened #4713 "MSYS2: last version of libjpeg-turbo triggers a link error"
The last update of package mingw-w64-x86_64-libjpeg-turbo-2.0.0-1 triggers following error at link step:

[code]
There is no error during compilation.

the version 1.5.3 is ok

The two versions are uploaded here https://filebin.net/qglvvp0b2d2q8brl

[2018-08-02 14:57] TooWaBoo commented on #4713
How do I install the older version?
EDIT: Found it. :-)

[2018-08-02 15:52] Beep6581 commented on #4687
@aferrero2707 it loads but is not usable:
![screenshot_20180802_175014](https://user-images.githubusercontent.com/5844619/43595284-8f3758e8-967c-11e8-9f65-15b82db61301.png)
[code]

Which version of GTK+ is this based on?
I recommend using as close to the latest version as possible, as GTK+ <=3.19 is buggy and unsupported.

[2018-08-02 16:03] TooWaBoo commented on #4713
@gaaned92
~~Looks like your linked file 1.5.3 is for 32bit and not 64bit?~~
Still get the error after downgrade.

[2018-08-02 16:46] aferrero2707 commented on #4687
@Beep6581 that's strange... I am using GTK+ 3.22.26 and GTKMM 3.22.2. Here is the full list of package versions that are provided in the docker container:

[code]

Any idea?

[2018-08-02 16:52] Beep6581 commented on #4687
No idea, I haven't seen this before.

Deleting the cache and config folders had no effect.

[2018-08-02 18:03] aferrero2707 commented on #4687
It would be nice to have feedback from users of other Linux distributions... I did a quick test with Centos6/7, Fedora26/27 and Ubuntu 18.04 and I could not observe UI problems.

[2018-08-02 19:51] gaaned92 commented on #4713
@TooWaBoo Thanks, I forgot to include the 64 bits versions.
You can verify the libjpeg version installed: `pacman -Qs libjpeg`
I can build with gcc 8.2 and libjpeg-turbo 1.5.3

@heckflosse @Floessie @agriggio  can you identify the reason of issue and which of libjpeg or Rawtherapee is responsible?

[2018-08-02 20:32] afr-e commented on #3994
**FYI**: I cannot resize the window vertically, nor does the position of the 3 buttons change when I shrink the font size. The padding increases instead!

**Update**: I just tried something different.

1. I unlocked the Windows task bar and moved it to the right side of the desktop. Suddenly, I was able to reduce the vertical size of the pref window.

2. Another thing that I did was make the pref

[2018-08-03 00:39] humantex commented on #4687
I just saw your updates and have grabbed the latest from @aferrero2707 , but haven't had a chance to run it.

I did check gtk+ versions while downloading though:
gtk3-3.22.26-4.el7_5.x86_64
gtk2-2.24.31-1.el7.x86_64
gtk2-engines-2.20.2-7.el7.x86_64

This is as bleeding edge as I can get with centos 7.5 stable, and there's nothing in my updates queue to bump versions up from where these are. I'll t

[2018-08-03 01:26] humantex commented on #4687
Okay... This is a leap forward, but it won't quite run. I get the prompt to integrate, and it inserts the menu item/icon as expected. If I use that to run it, I'll get a similar result to @Beep6581 - where it will draw/redraw only certain parts of the UI when the mouse hovers over specific areas. (screenshot below). I tried to use a PRTSCRN keypress to grab the screen, then start Gimp to paste int

[2018-08-03 01:49] TooWaBoo commented on #3994
@afr-e
If you change the font, font size or theme you always must restart RT.
The preferences window should fit to the screen if you use font size 9. (see screenshots)

1070px x 763px
![unbenannt](https://user-images.githubusercontent.com/13800920/43619845-052722f6-96d0-11e8-8bd8-a5d166ef0039.PNG)
1028px x 707px
![unbenannt2](https://user-images.githubusercontent.com/13800920/43619849-0a9b3f4c-96d

[2018-08-03 02:02] TooWaBoo commented on #4713
@gaaned92
Works now, it was my fault. I had to many backups. :-)

[2018-08-03 02:59] afr-e commented on #3994
Sorry for the confusion. My comment was after I followed your advice and restarted RT, although I uploaded the wrong screenshot (see next comment). The initial drawing of the window was extra tall, beyond the confines of the desktop space, because it didn't factor in the task bar. None of the preferences changed the height of the window and I couldn't resize it vertically; and the About-OK-Cancel

[2018-08-03 03:30] afr-e commented on #3994
To verify my experience,
1. I found and deleted the config file.
2. I changed the font size. Might I add that I tried restarting a few times before the setting went from 10 to 9, which might explain why my screenshot was still at 10.
3. I tried to resize the height of the prefs window but couldn't.

This is what I got.
![image](https://user-images.githubusercontent.com/42004791/43622569-c7dd6e52-9

[2018-08-03 03:42] afr-e commented on #3994
Oh, I just figured out why they didn't snap into view. Apparently, when TooWaBoo theme is active, this workaround works; i.e., move the task bar to the right and then back to the bottom with TooWaBoo as the theme. This doesn't work when the theme is RawTherapee.

[2018-08-03 04:06] TooWaBoo commented on #3994
You can change the height of a window also from the top. :-)
The TooWaBoo and RT theme work different. Changing the font size in the **RT theme** has no effect on min. window height. For your small monitor use the TooWaBoo theme with font size 9 or 8 (smaler = more free space) and use the font Arial. Arial takes less horizontal space.

[2018-08-03 04:39] afr-e commented on #3994
Exactly what I have been doing. I am quite thorough. ;-)

(The icons and spacing are greater in your themes compared with the default, making the functional space smaller, at least on my computer; but that is another topic for another time.)

[2018-08-03 05:16] Hombre57 commented on #4580
@fsenore Please pull and test again. This is the last patch I can think of while shooting in the dark, as it doesn't crash here. I really don't think it's related to lensfun or metadata, but rather a race condition on your system with this image size.

[2018-08-03 07:50] Floessie commented on #4713
Neither RT's nor libjpeg-turbo's code changed in respect of `jpeg_std_message_table`, so my wild guess is, that MinGW's linker was overly aggressive when building libjpeg-turbo, or that there's an incompatibility between the toolchain used for building libjpeg-turbo and the one you're using to build RT. The variable signature is fine. The error shouldn't strike RT alone, so keep on googling for "u

[2018-08-03 11:05] nvki opened #4714 "Customize external programs"
Currenty the external programs that RT looks for on startup are hardcoded in extprog.cc. It would be a great addition if a user could add function calls of searchProgram() eg. via the options file.

[2018-08-03 11:08] nvki commented on #4710
I concretized and reopened this question as [#4710](https://github.com/Beep6581/RawTherapee/issues/4714). Please close this ticket.

[2018-08-03 11:08] #4710 closed, assigned to nobody

[2018-08-03 12:28] TooWaBoo commented on #3994
... and here's a screeshot which should fit your monitor size.
![unbenannt](https://user-images.githubusercontent.com/13800920/43642852-67d61d0e-9729-11e8-9f5f-5e6c8abca014.PNG)
![unbenannt2](https://user-images.githubusercontent.com/13800920/43642769-24de61b4-9729-11e8-9925-1f60179e3011.PNG)

[2018-08-03 13:42] afr-e commented on #3994
Here is proof that I cannot resize the prefs window from the top if I use the RT Theme. If I use TooWaBlue, then I can do it.
![capture](https://user-images.githubusercontent.com/42004791/43645514-24d70d48-9700-11e8-8cae-b4c3edd21943.gif)

To address, the UI issue, which is kind of off-topic, switching to Multiple Editor Tabs Mode resolved the spacing issue.

Single Mode

![image](https://user-ima

[2018-08-03 13:55] TooWaBoo commented on #4148
New update
[code]

[2018-08-03 16:27] laurencelumi opened #4715 "Segfault when opening a folder which contains a 43123x26196 16bit tif"
This is very similar to this issue

https://github.com/Beep6581/RawTherapee/issues/3599

But I think the problem occurs  image16.cc instead at setScanline in RT 5.4

You can reproduce with this[ file ](https://filebin.net/y54ijbipb2rjkzyg) which is just a black image of the correct size:
Attached is a stack trace
[code]

[2018-08-03 16:55] Beep6581 commented on #4714
How would this be a great addition?

[2018-08-03 17:12] TooWaBoo commented on #3994
The Single-mode has more buttons in the bottom toolbar as the Multi-tab-mode. That's why it won't fit into your screen.

[2018-08-03 18:02] nvki commented on #4714
it would enable the use of any external program, not just the ones listed in extprog.cc. It is stated there that only widley used tools should be included by default, which makes sense to keep the impact on startup time minimal. I personally would like to include Hugin and HDRmerge as external programs - it would simply be a neat addition if we could 'send images' to any application, no matter the

[2018-08-03 18:20] Beep6581 commented on #4714
It would be nice if there was a way to add multiple entries via a filechooser (Windows) or textbox (Linux) for external programs in Preferences, and these external programs would be accessible via a right-click "Open with" thumbnail context menu and maybe via the "Open in external editor" button (which would need to be changed to a combobox) in the Editor tab.

[2018-08-03 20:01] afr-e commented on #3994
Sure. However, it affects the size and positioning of all of the panels and tool bars. The fact that fit to screen doesn't fit the preview properly is evidence of this discrepancy. I tried to resize the panels but they either don't budge or bounce back. In any case, multi tab works for me and so I consider my editor view issue resolved.
___
Back on topic: I don't understand why I cannot resize the

[2018-08-03 20:10] TooWaBoo commented on #3994
The preferences window issue is due to the tab File Browser.

[2018-08-03 20:14] afr-e commented on #3994
There is still a lot of padding there though... Anyway, I think I have reported all that I can. I will leave this in the devs' capable hands. Thanks for listening!

[2018-08-03 20:26] Beep6581 commented on #3326
Fixed long ago.

[2018-08-03 20:26] #3326 closed

[2018-08-03 20:29] #3177 closed

[2018-08-03 22:20] Beep6581 commented on #3994
The Preferences window is now scrollable in branch [`prefscroll`](https://github.com/Beep6581/RawTherapee/tree/prefscroll), please test it.

[2018-08-03 22:25] Beep6581 commented on #4581
I quoted the wrong issue number in the commit message ^ , should have been 3994.

[2018-08-04 17:15] okoncevoy opened #4717 "Scrambled preview image in file browser on OSX"
When I try to rotate unaltered photo file browser view.
As soon as I select other photo or un select current. Preview looks completely fine.

**RT**
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: clang-mp-3 3.9.1
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -mtune=generic -Werror=

[2018-08-04 17:45] Beep6581 commented on #4717
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-08-05 07:12] Desmis commented on #4713
Hello
I have been away some days, and I discover this problem

What must I do ?
Is the command :
$ pacman -U /var/cache/pacman/pkg/mingw-w64-x86_64-libjpeg-turbo-1.5.3-1-any.pkg.tar.xz
Solved the problem (as for lensfun)

Or must I do another thing
Thank you :)
jacques

[2018-08-05 08:37] gaaned92 commented on #4713
[code]
Yes

Furthermore, if you want to avoid update of libjpeg-turbo until issue is solved,
[code]

[2018-08-05 11:03] hholtm commented on #4717
Behavior with latest Win64-dev (RawTherapee_dev_5.4-644-g263d96eec_WinVista_64.zip):
Rotate an unedited pef-file (90° right) in RT-browser:
first rotate: preview gets scrambled, any further rotate also after closing and reopening RT: preview is ok
But after 1st rotating an unedited raw and without editing it and 2nd trying to change the directory RT gets closed immediately and a .pp3-file is creat

[2018-08-05 11:29] Benitoite commented on #4717
I’m getting file browser preview scrambling rotating fresh CR2s on both MacOS 10.12 and a Debian-based container.

[2018-08-05 12:40] Desmis commented on #4713
thank you :)

[2018-08-05 15:28] TooWaBoo commented on #4148
New update
[code]

[2018-08-06 09:12] Desmis commented on #4148
Excuse my incompetence, but how to do to suppress warning message
where can I put
-Wno-parentheses to suppress messages

thank you

[2018-08-06 09:31] Beep6581 commented on #4148
@Desmis include it in the CMake command:
[code]
Separate multiple entries with spaces, for example:
[code]

[2018-08-06 09:36] Desmis commented on #4148
@gaaned92
Thank you, I will test :)

[2018-08-06 09:40] Beep6581 opened #4718 "Increase difference between enabled and disabled tools"
I wanted to increase the difference between enabled and disabled tool statuses, what do you think?
![screenshot_20180806_113651](https://user-images.githubusercontent.com/5844619/43709566-78ce5e32-996d-11e8-8e8f-3d4cf75086fc.png)

![screenshot_20180806_113643](https://user-images.githubusercontent.com/5844619/43709573-7c7eb91e-996d-11e8-9054-042e05685133.png)

[2018-08-06 09:41] Beep6581 commented on #4718
Branch `powericons`.

[2018-08-06 11:13] Desmis commented on #4148
oups @Beep6581 thank you :)

[2018-08-06 11:41] Desmis commented on #4148
@Beep6581
works fine, thank you :)

[2018-08-06 11:48] Beep6581 commented on #4148
You're welcome :)

[2018-08-06 15:39] fsenore commented on #4580
@Hombre57 Sorry for the delay, I have been out of home for some days.
I have pulled the source code and I built RawTherapee. In the next days I will test it and I will report if it works.

Again, thank you for your help.

[2018-08-06 15:58] JochemKuijpers opened #4719 "How to check validity of the binaries in case the website is/was compromised?"
Hi, **this is not a code issue**, but I could not find where to report this otherwise. If I'm in the wrong place, please let me know where to send this.

Just a few minutes ago, the main website (http://rawtherapee.com/...) threw HTTP 500 errors:
![http500](https://user-images.githubusercontent.com/1162720/43727058-2ed040b4-99a1-11e8-8985-3ef773097820.png)

When accessing using HTTPS, I got an err

[2018-08-06 16:43] patdavid commented on #4719
We are working through some things for the website that I'm hoping to get done this fall.  This will include proper certs.

[2018-08-06 17:16] JochemKuijpers commented on #4719
@patdavid You're confirming the website is not compromised and the binaries _should_ be safe?

[2018-08-06 18:46] patdavid commented on #4719
I am _not_.  I _am_ saying we hope to have something better in place (relatively) soon.  The only guarantee you might get at the moment is getting the source and auditing it yourself, then compiling (and trusting everything in the toolchain). :)

You could reach out to the builder/packager and ask for a hash if you wanted to verify independently for now...

[2018-08-06 19:13] sguyader opened #4720 "Adjustments in Batch Edit sometimes clear the HaldCLUT combo box"
I've encountered this issue recently, and it happened again today with a fresh RT build (Version: 5.4-650-gc9e6a18fb, on Linux Manjaro):
on a selection of files with a HaldCLUT set, if I switch to the Batch Edit vertical tab and modify some setting (for example, changing the Sharpening method), the HaldCLUT combo gets cleared (no HaldCLUT is selected anymore).
It doesn't happen everytime, but it h

[2018-08-06 19:27] vivo75 opened #4721 "RT 5.4-650-gc9e6a18f crashes on start"
Since a long time RT often (but not always) crashes on start in a very similar manner to issue #4117. Verbose option does not change behaviour, building with debug info collapse the heisenbug.
LANG variable is set to "it_IT.UTF-8"
Looking at issue #4140 made me try to change the initialization order, in my tests LensFun DB initialization has been brought outside the omp parallel sections and /befo

[2018-08-06 20:16] heckflosse commented on #4721
@vivo75

Does it give a much more reliable or a reliable startup?

[2018-08-06 20:47] Beep6581 commented on #4719
One shouldn't put too much faith in HTTPS, it's a hurdle not a guarantee.
The website does not and never did support HTTPS or have a certificate, and it is not and never has been compromised. And if the server was compromised, HTTPS wouldn't help one bit.

[2018-08-06 20:47] #4719 closed, assigned to nobody

[2018-08-06 20:56] patdavid commented on #4719
Technically, this would ensure that the compromised data was not modified during transit from the server to the client...

[2018-08-06 20:59] vivo75 commented on #4721
@heckflosse
RT never crashed on start after the change, but I've started it no more than 10 times since then. However before the change it failed at least half the startups.

[2018-08-06 21:05] sguyader commented on #4720
It just happened once more. This time, I was changing the bounding box size of in the Resize filter for a batch of 64 files.

[2018-08-06 21:33] Beep6581 commented on #4719
Yes, but if the server was compromised, this data would contain more than you paid for ;)

[2018-08-06 22:12] JochemKuijpers commented on #4719
HTTPS isn't just a safety feature, it'll also help the project since search engines value proper HTTPS.
Improper configurations might only scare away users that land on error pages.

If the server does not support HTTPS, you can consider ignoring requests on port 443 (ignoring incoming traffic on unsupported ports isn't a bad idea anyway). It'll just timeout instead of throwing a scary-looking err

[2018-08-07 00:22] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-glib2-2.56.1-3`

[2018-08-07 08:51] ff2000 commented on #4721
@vivo75 How do you build "with debug info"? I have "-ggdb" in C{XX}FLAGS in my make.conf and activated "splitdebug" in FEATURES. That AFAIK results in the same binary as when it was built without debug symbols but stores those in a different location - and tools can load them in case of a crash. I think you should be able to reproduce the crash and get the exact point of failure in RT sources.

[2018-08-07 08:58] agriggio commented on #4478
@Desmis Jacques, it seems some "bad" behaviour in preview is still there. Try setting a custom gamma/slope and then change one of the tone curves in the exposure panel, and see what happens...

[2018-08-07 09:08] Beep6581 commented on #4721
@ff2000 see http://rawpedia.rawtherapee.com/Linux#CMake

[2018-08-07 10:59] Beep6581 commented on #4404
@aferrero2707 I tested the latest AppImages [I could find](https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924):
* `RawTherapee-dev-5.4-524-g3bfd903d.AppImage`
* `RawTherapee-git-5.4-20180320_1351.glibc2.17-x86_64.AppImage`
* `RawTherapee-releases-5.4.AppImage` (the official 5.4 release on our Downloads page)

Unfortunately, none of them work on my machine running Sabayon.

[co

[2018-08-07 11:41] Beep6581 commented on #4719
The website now offers HTTPS.

[2018-08-07 11:43] vivo75 commented on #4721
@ff2000 it's not the same binary, and it does not run at the same speed, this can be very important when race conditions are involved, and I suspect this is the case here
my debug flags are:
[code]
my usual flags are:
[code]

[2018-08-07 13:11] sguyader commented on #4720
The bug happened again today on a different set of images. When I checked the pp3 files after the bug, the `ClutFilename=` field was emptied.
It's not consistently reproducible, meaning that sometimes I can edit in `Batch Edit` without triggering the bug. It happened this morning soon after starting the session from yesterday. In the meantime, I had cleared the cache and processing profiles from P

[2018-08-07 14:02] ff2000 commented on #4721
@vivo75 My main point was to to add "splitdebug" to your FEATURES variable in make.conf. You end up with a stripped binary that should be the same as if it was built without debugging symbols.

[2018-08-07 15:08] heckflosse commented on #4720
I can confirm the issue. Trying to find a way to reproduce now...

[2018-08-07 16:45] Kildor opened #4722 "Some wierd behaviour in filelist"
I often use "show only unedited files" filter (hotkey **6**). The behaviour of filelist has been changed for about last two weeks.
i.e. I have a folder with 80 nefs, 10 of them has been edited.
I press **6**. Edited entries become hidden, tab header shows: "Filebrowser [70/80]".

I open to edit an image. Edit, save and close it. RT focus on filelist tab. Earlier version of RT still shows edited im

[2018-08-08 10:39] heckflosse commented on #4720
To reproduce:

Create a folder.
Copy two images into that folder.
Assign a Black & White Clut and enable Clut for one of the images.
Close RT
Start RT
Select both images and enable Sharpening in Batch mode
=> Both Images are displayed in colours, while the one with the Black & White Clut should stay Black & White

[2018-08-08 12:19] sguyader commented on #4720
Glad you were able to reproduce. In my case it happened with all images in the folder set to a Clut, sometimes all used the same Clut, sometimes different Cluts according to the image.

[2018-08-08 13:35] TooWaBoo commented on #4148
New update
`filesystem-2018.08-1`
` libnpth-1.6-1`

[2018-08-08 19:38] vivo75 commented on #4721
@heckflosse , I had two crashes today, even with the applied patch, new version 5.4-660-g6d19fae0

[2018-08-09 13:20] SaturnusDJ opened #4724 "Save 'Show only original images' filter across RT sessions"
The state of button 'Show only original images' is not being saved between restarts.

Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-lab

[2018-08-09 14:35] sguyader commented on #4720
I don't know if it's related, but I see another strange behaviour in Batch Edit regarding the HaldCLUT combo box. If I have an image with a set HaldCLUT and another image with no set HaldCLUT, when in the file browser I click on the first thumbnail, I see the correct HaldCLUT name appearing in the Batch Edit tab, but when I click on the second thumbnail, it shows the name of the HaldCLUT of the pr

[2018-08-09 15:19] Beep6581 commented on #4724
All filters are cleared on startup by design.

[2018-08-09 15:26] SaturnusDJ commented on #4724
Alright. Requesting for a preference for saving then.

[2018-08-09 15:50] Beep6581 commented on #4724
My preference is that RT does not save filter states across sessions.

[2018-08-09 17:34] TooWaBoo commented on #4148
New update
[code]

[2018-08-09 19:08] #4718 closed, assigned to Beep6581

[2018-08-10 09:25] Nindaleth commented on #4048
This might be resolved since https://github.com/Beep6581/RawTherapee/pull/4652 has been merged?

[2018-08-10 09:39] heckflosse opened #4725 "Windows compile failed"
I got an error report per mail:

[code]

@Floessie Any idea?

[2018-08-10 10:01] Beep6581 commented on #4048
@Nindaleth thank you.
Cannot reproduce in `5.4-662-g`f70cdd011, closing.

[2018-08-10 10:01] #4048 closed, assigned to nobody

[2018-08-10 10:05] Eneen commented on #4048
Works under linux! Thank you so much!

[2018-08-10 11:11] TooWaBoo commented on #4725
The culprit is mingw-w64-x86_64-libjpeg-turbo-2.0.0-1.
Downgrade to version 1.5.3.
https://github.com/Beep6581/RawTherapee/issues/4713

[2018-08-10 12:03] Floessie commented on #4725
@heckflosse Both tests are allowed to fail. So I guess, @TooWaBoo is on the right track and the log pasted above doesn't tell everything. And at 45% it's uncommon for CMake to run any tests (again).

[2018-08-10 12:17] TooWaBoo commented on #4725
The error at 45% comes from linking RT-CLI.

[2018-08-10 13:24] #4725 closed, assigned to nobody

[2018-08-10 16:36] TheSquirrelMafia commented on #4713
Thanks for working on this issue!

[2018-08-10 19:37] Beep6581 opened #4726 "Newly added snapshot should be visible"
When adding a snapshot, the list widget should scroll it into view. Currently it gets appended while the list doesn't scroll.

[2018-08-11 19:51] heckflosse opened #4727 "EAHD demosaic still has some integer processing and is dead slow"
This issue is about improving eahd demosaic. I know it's rarely used, but new rt users may try out eahd demosaic (which is dead slow in dev branch)...

I will commit some changes to a new branch soon, which at my system give a 3 x speedup for eahd demosaic and changes the integer to single precision floating point processing. Because of changing int => float before/after will have differences.

[2018-08-11 19:58] heckflosse commented on #4727
I pushed two commits to eahd_speedup branch.
Processing time before for a 100MP Phase One IIQ file was ~44.6 seconds. Now it's ~14.4 seconds.

[2018-08-12 15:57] Nindaleth opened #4728 "Tilting always scrolls to the left"
RT 5.4 on Linux Fedora 28 (installed from default repo). In Editor tab, scrolling the top panel is inconsistent and at one point also buggy. I have a 4-way mousewheel, so I can scroll both vertically and horizontally (tilt).

When scrolling over the thumbnails:
- scrolling down moves to the right, scrolling up moves to the left
- tilting always moves to the left, regardless of the tilting directio

[2018-08-12 15:59] Nindaleth opened #4729 "Editor - cannot use keyboard to switch between photos after moving the current one to trash"
RT 5.4 on Linux Fedora 28 (installed from default repo). In Editor tab, it's not possible to work keyboard-only after the currently edited image is deleted.

Repro:

- show only non-deleted images
- start editing an image
- press F3 and F4 to switch to other images - works as expected
- press Del to put the currently edited image to trash (it disappears from the top panel)
- press F3 and F4 to swi

[2018-08-12 16:03] michaelezra commented on #3489
It may be worthwhile extending this functionality to use any number of frames from any camera and create a super-resolution output image. Even simplest median averaging would be great! Advanced with suppression of moving artifacts is a "+"!:)

In the UI - user selects multiple images, right/click/super-resolution merge

[2018-08-12 16:46] Beep6581 commented on #4728
This issue was already addressed, though I don't remember which version it's in. Please test the latest dev build and report whether it's reproducible.
https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

[2018-08-12 16:48] Beep6581 commented on #4729
Still reproducible in `5.4-662-g`f70cdd011

[2018-08-12 17:38] Hombre57 commented on #3489
@michaelezra You mean stitching images to create a super-resolution image ? That would be nice, but please open a new issue.

[2018-08-12 19:38] Nindaleth commented on #4728
Tested with 5.4-662-gf70cdd01, still reproducible. I noticed the following changes:

- scrolling over the thumbnails and over the horizontal scrollbar is now more similar in speed (thumbnails now move faster, but now the difference is not as big on my 1680x1050 screen)
- tilting over the thumbnails does not work at all

Thumbnails will still go the opposite way than the scrollbar will go when scro

[2018-08-12 21:15] Beep6581 opened #4730 "Missing icons"
[code]
`5.4-662-g`f70cdd011

[2018-08-13 19:11] fsenore commented on #4580
@Hombre57 I have tested the program for some time and I only had one single crash: it's a large improvement and now RT is very usable for me. I think that your changes can be merged with the main branch.
Thank you for you help.

[2018-08-13 22:47] #4730 closed, assigned to Beep6581

[2018-08-14 01:19] Generic-Patriot opened #4731 "Support for Blackmagic Pocket Cinema Camera cdng files"
There is poor direct support for Blackmagic Pocket Cinema Camera cinema DNG files, as of version 5.4.  When I open them in Rawtherapee, they show up as patterned magenta static that somewhat shows the relief of the image, like you can faintly make out a highpass filtered version. Screenshots of this are in the google drive link below (released under CC0 liscense), as well as the original raw file,

[2018-08-14 06:35] Thanatomanic opened #4732 "Thumbnail generation after applying profile sometimes really slow"
I notice that often applying a profile on a selection of unprocessed images in the file browser locks up RT for a LONG time (just now: 29 NEF's took almost 3 minutes). Writing the pp3's is virtually instantaneous and therefore not the issue, but I suspect generating the thumbnails is.

Unfortunately, attempts to find a really reproducible way to demonstrate the slow processing have failed.
Sometim

[2018-08-14 08:50] Beep6581 commented on #4731
Duplicate of #4285

[2018-08-14 08:50] #4731 closed, assigned to nobody

[2018-08-14 17:52] heckflosse commented on #2008
I think we can close this issue.

[2018-08-14 17:52] #2008 closed

[2018-08-14 18:00] aschet opened #4733 "RT 5.4 Crashes when Multiple Files Are Selected in the File Browser"
When multiple files are selected in the file browser of RT 5.4 on Fedora 28 the application will crash.

**System**

Rawtherapee Version: 5.4
OS: Fedora 28
RAM: 7,6 GiB
CPU: Intel Core i5-3230M CPU @ 2.60GHz × 4

**Trace**

[code]

**Additional Error Information**

[code]

[2018-08-14 19:13] #4698 closed, assigned to heckflosse

[2018-08-14 20:10] Beep6581 commented on #4733
@aschet can you reproduce using the latest `dev` and provide a stack backtrace using a debug build?
http://rawpedia.rawtherapee.com/Linux
Does it crash when you just select several thumbs without doing anything to them?

[2018-08-14 21:11] Beep6581 commented on #2083
ACES AP0 and AP1 are now available as working spaces in 5.5.

[2018-08-14 21:11] #2083 closed

[2018-08-15 11:07] aschet commented on #4733
@Beep6581 the issue is not present in the dev build (5.4-666-gd831e6fb). The reported crash occurred when a second file was selected via the shift selection or all via the Ctrl+A shortcut.

[2018-08-15 11:10] Beep6581 commented on #4733
Thank you for testing.

[2018-08-15 11:10] #4733 closed, assigned to nobody

[2018-08-15 17:15] heckflosse opened #4734 "Segfault when processing image in queue for fast export"
to reproduce:

apply neutral profile to amsterdam.pef
in file browser send amsterdam.pef to queue for fast export
process queue => segfault

Fixed with this patch:

[code]

[2018-08-15 17:27] #4734 closed, assigned to heckflosse

[2018-08-15 20:43] okoncevoy commented on #4727
@heckflosse Can I participate in EAHD optimizations?

[2018-08-15 20:44] heckflosse commented on #4727
@lvreclp Sure!

[2018-08-16 14:27] jannefoo opened #4735 "Nikon D800 12bit DNG wrong white point"
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarati

[2018-08-16 16:32] heckflosse commented on #4727
With latest commit processing time for the 100MP Phase One IIQ file now is ~12.8 seconds.
Further speedups should be possible by tiling the processing (which also allows to easily use OpenMp for the main loop)

[2018-08-16 19:21] agriggio opened #4736 "Hide denoise-related preferences that affect the rendered image"
Several settings in the "Denoise" section of "Performance & Quality" have an impact on the denoising result. I think putting them in preferences is wrong, and definitely a departure from the RT way. If anything, they should go in the pp3; however, I think these are settings meant for developers, not users. So my proposal (as briefly discussed on IRC with @heckflosse and @Beep6581) is to simply hid

[2018-08-16 19:41] Beep6581 commented on #4736
I don't object, but I would prefer removing these things from the code to make it cleaner, leaner, and have fewer false-positives when grepping for things such as obsolete interface language keys.
By the way, this is also handled by #4327

[2018-08-16 19:43] Beep6581 commented on #4327
#4328 and #4329 are related.

[2018-08-16 19:55] agriggio commented on #4736
oh sorry, closing as duplicate then

[2018-08-16 19:55] #4736 closed, assigned to nobody

[2018-08-17 09:36] Thanatomanic opened #4737 "Color readout wrong for artificial test chart (in just one case)"
Take the following test chart for colors: https://www.dropbox.com/s/1xq4nkgsu5nigds/test_colorbars_1920x1080.tif?dl=0 (original source [here](http://www.cs.cmu.edu/~hattorih/file/image/test_colorbars_1920x1080.png))
Disable all profile corrections, and readout the cyan color. My latest dev build shows it has 0.4% red in it, and it has a saturation value of 99.6%. This is clearly wrong.

Interestin

[2018-08-17 10:58] Thanatomanic commented on #4728
@Nindaleth The horizontal scrolling seems to be an upstream issue with GTK https://gitlab.gnome.org/GNOME/gtk/issues/1065

[2018-08-17 12:52] Beep6581 commented on #4728
Our code seems fine:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/thumbbrowserbase.cc#L78

Only up and down directions are handled. @Nindaleth are you able to test patches?

[2018-08-17 18:12] heckflosse commented on #4626
I'm working on this now.

[2018-08-17 19:19] #4580 closed, assigned to Hombre57

[2018-08-17 21:56] heckflosse commented on #4551
Any objections to close this?

[2018-08-18 05:18] Thanatomanic commented on #1566
@Beep6581 Can be closed

[2018-08-18 05:20] Thanatomanic commented on #1849
@heckflosse Do you think this bug still exists with the recent overhaul of the shadows/highlights tool?

[2018-08-18 05:22] Thanatomanic commented on #4737
Might be related: #2133

[2018-08-18 09:45] heckflosse commented on #4732
I confirm this on Windows 7 when using a network drive. Using a SSD it's alwyas fast

[2018-08-18 09:59] Thanatomanic commented on #4732
I did not use a network drive, but a regular HDD. I gave my SSD a try, and it's much faster indeed, but even so there is a noticeable hiccup in which RT freezes. Maybe a second or two.

[2018-08-18 10:57] #1566 closed

[2018-08-18 11:00] Beep6581 commented on #1849
I could not reproduce using `5.4-672-g`7aeef817e

[2018-08-18 11:09] Beep6581 commented on #2133
I cannot reproduce this in `5.4-672-g`7aeef817e using
* http://rawtherapee.com/shared/test_images/8_bit_chroma_subsampling.png
* http://rawtherapee.com/shared/test_images/8_bit_integer_gamma.png (R=G=B=50.2% for the gray area is correct)

@Thanatomanic as you referenced this, can you reproduce? If not, then let's close this and go with your issue.

[2018-08-18 12:38] Thanatomanic commented on #2133
@Beep6581 The colors are correct now, except for my own issue with the cyan, which also shows up here. Go ahead and close this issue.

[2018-08-18 12:42] Beep6581 opened #4738 "Navigator uses the same hand icon regardless whether panning red square or not"
The Navigator uses the same hand icon regardless whether panning the red square or not.
`5.4-672-g`7aeef817e

[2018-08-18 12:42] #2133 closed

[2018-08-18 13:21] #4343 closed, assigned to nobody

[2018-08-18 13:31] hholtm commented on #4551
@heckflosse : Is there still any idea to automate generation of threshold values in demosaicising, sharpening and microcontrast or escaped it my notice?

[2018-08-18 13:41] Thanatomanic commented on #4737
I'm investigating this. First little verification: in `image8.cc` the buffers are read correctly from file. I.e. I see (0,255,255) instead of (1,255,255) popping up.

[2018-08-18 14:07] heckflosse commented on #4551
@hholtm For dual demosaicing the automatic calculation of contrast threshold is already available in code. Though currently it's deactivated because I think this auto calculated value should also be shwon in gui and I also need a gui control to select the relevant area in the image. For that I need some help from other devs. Maybe @Hombre57 can help ;-)

[2018-08-18 14:33] Thanatomanic commented on #4737
Second verification: in `improccoordinator.cc` when `updateLRGBHistograms()` is called, the colors are still correct.
However, I cannot figure out where the image is actually drawn to the screen. I am tangled in a web of classes, functions, handlers and buffers related to the cropwindow, imagearea and whatnot, that is simply too much for me to follow through the various source files. Is there any

[2018-08-18 16:14] agriggio commented on #4737
@Thanatomanic I feel your pain. going from memory, the buffer that goes to the screen is filled in `dcrop.cc`

[2018-08-18 20:20] Hombre57 commented on #4551
@heckflosse Yeah, I offered my my help few weeks ago but didn't had time since then :confused: I'll start my new job on next Monday, I hope to be back to RT soon for this kind of big patch.

[2018-08-18 20:39] Hombre57 commented on #4343
@agriggio @Beep6581 I know it's too late now, but since this new method replace the `custom` one, we should either add a function in `ProcParams::load` to convert the old curve to the new one by sampling it (e.g.), OR emphasis in the release note that the backward compatibility is seriously broken.

[2018-08-18 20:45] Thanatomanic commented on #4737
I have now spent a few hours trying to wrap my head around everything that's going on in `dcrop.cc`.  Mind-boggling stuff there... Is all that code really necessary and as simple as it can be? :open_mouth:

As far as the bug is concerned, my suspicion is that it's either due to a floating point inaccuracy and/or a clipping issue through some RGB->Lab->RGB conversion taking place. In particular I e

[2018-08-18 21:22] agriggio commented on #4343
@Hombre57:

https://github.com/Beep6581/RawTherapee/pull/4701#issuecomment-414049370

and following.

TL;DR: I can implement a 'conversion' routine that adds extra control points if needed. if you find examples with old pp3 in which curves are "seriously broken", please let me know and I'll (try to) take care of it

[2018-08-19 08:57] aferrero2707 commented on #4687
@humantex I have prepared yet another AppImage version, this time built under CentOS7. The package can be downloaded from [here](https://transfer.sh/HHCna/RawTherapee-dev-5.4-684-gab79434.AppImage).

@Beep6581 I will look into Sabayon support as soon as possible...

[2018-08-19 12:23] heckflosse opened #4740 "Changing lens correction method triggers processing twice"
To reproduce
1) apply neutral profile to amsterdam.pef
2) open amsterdam.pef
3) set demosaic to `eahd`. Because eahd is slow it's easier to see that the processing occurs twice
4) change lens correction method to `auto-matched...` => eahd progressbar runs twice

Patch follows

[2018-08-19 12:30] heckflosse commented on #4740
This fixes it:

[code]

[2018-08-19 12:44] Beep6581 commented on #3558
`5.4-684-g`ab79434be

[2018-08-19 13:13] heckflosse commented on #4740
Though the above patch worked, here is a cleaner patch:

[code]

[2018-08-19 13:40] aferrero2707 commented on #4404
@Beep6581 could you please test [this new package](https://transfer.sh/vjJmT/RawTherapee-dev-5.4-686-g909b76e.AppImage)? I was able to successfully run it on a Sabayon Docker container...

[2018-08-19 14:24] Beep6581 commented on #4404
@aferrero2707 when I run it, it hangs after this, no window appears:
[code]

[2018-08-19 14:26] Beep6581 commented on #4404
Note: I do have ldconfig, but it can only be run by root.
`sys-libs/glibc-2.26-r7`

[2018-08-19 14:30] Beep6581 commented on #4740
Bug and fix confirmed.

[2018-08-19 14:38] #4740 closed, assigned to heckflosse

[2018-08-19 15:04] Beep6581 commented on #4626
I downloaded a bunch of raw files from cameras which were not added but changed in the dcraw update. Found no issues.

[2018-08-19 15:37] #4626 closed, assigned to heckflosse

[2018-08-19 16:41] aferrero2707 commented on #4404
@Beep6581 is your ldconfig located under `/sbin`? Can you run it as a normal user if you give the path explicitly (`/sbin/ldconfig`)?

If yes, then I suggest to temporarily add `/sbin` to your `PATH` and run the AppImage again. I will then introduce a workaround for this special case...

Unless you know of a better approach to locate system libraries without doing an explicit `find`!

[2018-08-19 17:26] heckflosse commented on #3994
Can we close?

[2018-08-19 17:38] #3994 closed, assigned to Beep6581

[2018-08-19 17:42] Beep6581 commented on #4404
@aferrero2707 yes it is, and yes I can run it as normal user when I write the full path.

[code]

[2018-08-19 17:50] Beep6581 commented on #4429
There are currently 28 open issues pending for the 5.5 release. We need to review them to set a release date for 5.5 so that it does not take forever.
@agriggio @Desmis @Floessie @heckflosse @Hombre57 @iliasg @Thanatomanic could you please go through all of them and see if you can help complete any of them? If you can, please assign yourself to the issue.

[2018-08-19 18:30] humantex commented on #4687
I'll let the picture tell the story...

![rawtherapee-running](https://user-images.githubusercontent.com/16087649/44311813-30a37d00-a3bc-11e8-9d25-3bb59fbd0598.png)

There's only 1 minor issue, but nothing that can't be worked around. Gimp 2.8 crashes if I try to run it along with RT. If I close RT and then run Gimp - it works as expected. I have an 8-core FX-8300 AMD chip, with 8GB of ram, so I d

[2018-08-19 18:43] aferrero2707 commented on #4404
@Beep6581 sorry, I still had at lest one mistake in the new scripts, causing this error: `rm: cannot remove '/tmp/.mount_T7MWo1/usr/lib/libxcb-dri3.so.0': Read-only file system`

For your info, the idea is to disable the bundled `libxcb-dri3.so.0` library, if the one provided by the system is newer...

Could you try [this new package](https://transfer.sh/fOGwr/RawTherapee-dev-5.4-690-g9847285.AppI

[2018-08-19 18:49] #4529 closed, assigned to nobody

[2018-08-19 18:55] Beep6581 commented on #812
Made obsolete by new website.

[2018-08-19 18:55] #812 closed

[2018-08-19 18:56] Beep6581 commented on #851
Made obsolete by new website.

[2018-08-19 18:56] #851 closed

[2018-08-19 18:56] Beep6581 commented on #852
Made obsolete by new website.

[2018-08-19 18:56] #852 closed

[2018-08-19 18:56] Beep6581 commented on #894
Made obsolete by new website.

[2018-08-19 18:56] #894 closed

[2018-08-19 18:56] Beep6581 commented on #946
Made obsolete by new website.

[2018-08-19 18:56] #946 closed

[2018-08-19 18:56] Beep6581 commented on #948
Made obsolete by new website.

[2018-08-19 18:56] #948 closed

[2018-08-19 18:56] Beep6581 commented on #1234
Made obsolete by new website.

[2018-08-19 18:56] #1234 closed

[2018-08-19 19:01] Beep6581 commented on #4404
@aferrero2707 success, it worked!

[code]

File processed successfully, felt as fast as my native builds.

[2018-08-19 19:14] #3527 closed

[2018-08-19 19:16] Beep6581 commented on #3973
Duplicate of #3525

[2018-08-19 19:16] #3973 closed, assigned to nobody

[2018-08-19 19:22] Beep6581 commented on #3082
Cannot reproduce in 5.4-690-g9847285c using GTK+ 3.22.30.

[2018-08-19 19:34] Beep6581 commented on #4584
@Hombre57

Is that still valid in `5.4-690-g`9847285c ?

* Using `amsterdam.pef` with demosaicing=none and histogram=raw, I see all of the clipped cloud pixels as 1605.5%.
* The white levels for the K10D at ISO100 are 4080, so what is 1605.5%?
* The RGB indicator bar does not work when the histogram is in raw mode or when demosaicing=none.

![screenshot_20180819_213007](https://user-images.githubu

[2018-08-19 19:38] Beep6581 commented on #3492
Seems to have been implemented in RawTherapee 5.2.

[2018-08-19 19:38] #3492 closed

[2018-08-19 19:42] Beep6581 commented on #3273
@Hombre57 @gaaned92 @heckflosse and other Windows users, what is the status with Windows dialogs in the latest RT using GTK+ >=3.20? i.e. do we keep this issue or close?

[2018-08-19 19:47] Thanatomanic commented on #3273
I'd say the dialogs are suitable and they work. I don't miss features like drag/drop, context menu's and so on.
The only gripe I have is that the ordering of the left pane is whack. Not sure if we can do something about that, or that this is a Gtk thing...
![image](https://user-images.githubusercontent.com/6567747/44312488-69ae1280-a3f9-11e8-90b2-672280054a44.png)

[2018-08-19 19:49] Beep6581 commented on #3383
Ping @Desmis

[2018-08-19 19:50] Beep6581 commented on #4737
I just came across this, maybe related? #3383 Luma coefficients wrong/inconsistent?

[2018-08-19 20:19] aferrero2707 commented on #4404
This is probably the most important thing! There would be no point in putting so much efforts into the AppImage packages if they would result in sub-optimal performances...

[2018-08-19 20:51] agriggio commented on #4737
I think you know the answer already :-)

[2018-08-19 20:55] agriggio commented on #4429
@Beep6581 I'll be on vacation from tomorrow until the end of the month. camera and a couple of lenses, but no laptop... I'll check GitHub on the phone, but that's about it...

[2018-08-19 20:58] Beep6581 commented on #4327
Done in branch `nrpref`:
https://github.com/Beep6581/RawTherapee/tree/nrpref

Leftover entries in `rtengine` which I won't touch:
[code]

I verified that with these changes RT works correctly in a clean installation as well as if the options file already exists.

To be decided:
1. With these changes, RT still reads the settings from the `options` file and uses them. Should we leave that, or force

[2018-08-19 21:06] #4329 closed, assigned to nobody

[2018-08-19 21:25] Beep6581 commented on #4328
I found a bug in the way "Preview" stores the calculated values:
1. Open `amsterdam.pef`, apply neutral.
1. Enable Noise Reduction.
1. Set Chrominance > Method to Manual, values master=99, red-green=88, blue-yellow=77.
1. Manually save the PP3 as `nr_manual.pp3`
1. Then save the image and tick "Save processing parameters with image"
1. Inspect both PP3s, both look like this:
[code]
1. Zoom to 100%

[2018-08-19 22:24] agriggio commented on #4327
I think more investigation is needed for changing the defaults, I propose to leave them as they are for now

[2018-08-19 22:26] agriggio commented on #4328
I'm still :+1: for getting rid of preview, fwiw

[2018-08-20 07:37] Thanatomanic commented on #2857
Can I chime in for a bit here? I've read through the entire conversation, and I fully agree with the original suggestion: only create a profile when an image gets edited. Additionally, I think auto-save is a wonderful feature to make sure you never lose your work. But after reading @Hombre57's last big post, I feel the current proposed strategy is making things a little more complicated than neces

[2018-08-20 07:48] Thanatomanic commented on #4663
@abertens @ff2000 I agree that smooth scrolling would be the more natural behavior when using a touchpad or touchscreen for scrolling, instead of a mouse. However, I think it's highly unlikely that different behaviors can be implemented based on the hardware used to scroll.
So I think it has to come down to a matter of taste, or rethinking the smooth scrolling again. Because, as ff2000 said, it wa

[2018-08-20 07:53] #4648 closed, assigned to nobody

[2018-08-20 07:55] Thanatomanic commented on #4643
This is now nicely implemented by @agriggio, but there is some discussion in the last commit regarding backwards compatibility and having the checkbox on/off by default. @Beep6581 @heckflosse, if you read my arguments, would you still consider that backwards compatibility should not be broken here?

[2018-08-20 08:15] Thanatomanic commented on #4584
Two things:

1. I believe the bar does not work in RAW mode by design (which values should it show?). This might be interesting to look at in #4667.
2. The Navigator does work for me when demosaicing=none.
![image](https://user-images.githubusercontent.com/6567747/44328450-dfe65f80-a461-11e8-8cbf-aa43766abed7.png)
The indicator bar does something wrong though...

[2018-08-20 08:43] Beep6581 commented on #4584
The Navigator does display the raw values, but things need polish:
1. The [%] display mode shows 1605.9% for clipped pixels which to me means nothing.
1. The [0-1] display mode shows 16.0588, which is not in the [0-1] range and again means nothing to me.
1. The [0-255] display mode shows 4095 which is what I'm after, but it's not in the [0-255] range, and it's not intuitive that I had to switch to

[2018-08-20 08:46] Beep6581 commented on #4738
Work-in-progress in branch [`navcursor`](https://github.com/Beep6581/RawTherapee/compare/navcursor).

[2018-08-20 09:08] Beep6581 commented on #4643
I agree that backward compatibility should be preserved where possible.

@Thanatomanic just above you wrote,

but in the PR you argued that it does make sense to do something which will change the behavior when reading old files arguing that the previous behavior was unwanted,

I suppose you meant "would you still consider that backwards compatibility **should** be broken here?"

Disclaimer: this

[2018-08-20 09:09] Thanatomanic commented on #4643
It was early in the morning  :sleeping:  Yes, I meant to say *should* be broken. I still think that wouldn't hurt too many people, if anyone.

[2018-08-20 09:20] Beep6581 commented on #4643
I would assume that people who encountered unwanted upscaling in the past already edited their PP3s to prevent it from happening, so by preserving the old behavior with old PP3s things are still good. I'm curious, why is this still an issue for you, what is the scenario?

[2018-08-20 09:59] Thanatomanic commented on #4643
Am I correct to assume that when an old pp3 is loaded where the upscaling setting is not present, the default value will be added?

Let's consider a user in the old situation and assume that for general photo editing, upscaling upon export is undesirable.
I think it's reasonable to consider that the user uses Resize by default for export, e.g. to max. 3000x3000 pixels. The problem occurs that when

[2018-08-20 10:06] Beep6581 commented on #4643
Agreed, preserving the old behavior (I don't want to use the term "preserve compatibility") for the sake of preserving the old behavior seems counter-productive here. @agriggio already agreed. @heckflosse ?

[2018-08-20 10:42] heckflosse commented on #4584
This patch always shows the raw value independent on the mode [%],[0-1],[0-255].
It also shows `--` instead of the meaningless Lab and HSV values

[code]

[2018-08-20 15:06] Beep6581 opened #4743 "Prevent flashing background color of the preview when adding nodes to a curve using on-canvas picker"
When adding nodes to a curve using the on-canvas pipette, the background color of the preview is temporarily changed to "theme-based", so if you use cropping and a background color other than "theme-based" the background distractingly flashes. Would be nice if it didn't.

See the screencast here:
https://discuss.pixls.us/t/kodak-q-13-color-target/8674/19?u=morgan_hardwood

[2018-08-20 15:27] Desmis commented on #3383
@Beep6581
There is not a real solution
All rgb formulas are false and approximate, whether it is L=  0.299 * rm + 0.587 * gm + 0.114 * bm or  L= r * 0.2126729f + g * 0.7151521f + b * 0.0721750f

Faced with this problem, several possible solutions
1) stay as now
2) standardize formulas and choose only one, but having in mind that it's always wrong
3) replace the formula, by a less bad one, by takin

[2018-08-20 16:25] heckflosse commented on #4584
Above patch has a bug. Here's a better one:

[code]

[2018-08-20 18:07] heckflosse commented on #4743
Fix:

[code]

[2018-08-20 21:38] Beep6581 commented on #4584
Fix confirmed.

[2018-08-20 21:38] #4584 closed, assigned to heckflosse

[2018-08-20 21:45] Beep6581 commented on #4743
@heckflosse
1. Open raw, apply neutral.
1. Draw a partial crop.
1. Zoom to fit whole image on screen (shortcut: alt+f).
1. Set background color of the preview to middle gray (shortcut: 9).
1. Now use any curve's picker button to place a node on the curve using the preview. The crop mask disappears while placing the curve.

[2018-08-21 06:31] Thanatomanic opened #4744 "Changes to a module should activate it when it's not"
It would be useful for a more rapid editing process when a module gets activated as soon as you start moving a slider or tick a box or anything. The rationale behind this would be that whenever you move a slider you intend to use the module.
For example, right now you might want to add a little vibrance to your image. You then first need to activate the `Vibrance` module and then play with the sli

[2018-08-21 06:38] Thanatomanic commented on #4732
To add to this: my workflow is unbearably slow because of this issue. Imagine having 20 folders with 50 images and for each folder it takes 8 minutes to simply apply my default profile...
I would not like to adopt a change in workflow where I first copy stuff to my SSD, edit and then move to my HDD.

But since I am the only one ever reporting this, maybe it's really only me. Would it be thinkable

[2018-08-21 06:58] Nindaleth commented on #4728
@Thanatomanic Oh, OK, that explains how not that many people mind. Thanks for the info

@Beep6581 Sure, if you have patches I'll gladly try them :-)

[2018-08-21 07:03] ff2000 commented on #4744
The downside could be that you accidentally activate a feature that you don't need simply by pressing a button/slider.

[2018-08-21 07:49] heckflosse commented on #4732
@Thanatomanic

applying a profile to a bunch of images, which don't have a profile yet, does decode all the images.
If you're running rt on a machine with more than one core (e.g. 4), it will process 4 images in parallel, which can lead to heavy disc accesses slowing down the decoding a lot.

I guess you're mainly using raw files of one camera. Can you upload one raw please? I will check then whic

[2018-08-21 07:52] Thanatomanic commented on #4732
Thanks @heckflosse, there's an example here: https://discuss.pixls.us/t/play-raw-sunset-sea/7103/10
It's a Nikon D750.

[2018-08-21 08:25] heckflosse commented on #4732
@Thanatomanic Can you test this patch please. It serialises the decoding (and only the decoding) of NEF files.

[code]

[2018-08-21 09:03] heckflosse commented on #4732
@Thanatomanic This patch adds some timing code to the decoder. Maybe this will be helpfull for your tests.

[code]

[2018-08-21 09:20] Thanatomanic commented on #4732
Before I can even think about testing your patch, I run into reproducibility issues... I play with clearing the cache, removing pp3's, switchting folders, going back to previous folders, and all kinds of combinations. However, when I started playing some 15 minutes ago, I first got processing times of 5-10 seconds at most for 25-30 raws. And then suddenly a folder without pp3's and 23 raws with 2:

[2018-08-21 09:25] Thanatomanic commented on #4732
Some clue (might be useless), is the behavior I captured in Windows Task Manager while RT is doing stuff quickly and when it locks.
![image](https://user-images.githubusercontent.com/6567747/44393338-adf1fd80-a534-11e8-9966-bf9944358744.png)

The spikes occur when thumbnails are generated quickly after applying a profile in a pp3-less folder. The flat line afterwards is the lock-up occuring in a d

[2018-08-21 09:52] heckflosse commented on #4732
@Thanatomanic I opened a folder with some nef files from HD and got some outliers

[code]

[2018-08-21 10:02] Thanatomanic commented on #4732
With your patch I get very consistent timings between 450-800 ms each. This is both when I just applied a profile on a image with a prior pp3, and when the cache is cleared but a pp3 is present and the thumbnail gets updated.

The main difference between the two, is that when pp3's are already present, the thumbnails get updated one by one and RT doesn't lock up. While you apply a profile and pp3'

[2018-08-21 10:05] Thanatomanic commented on #4732
Might be related: #4576

[2018-08-21 10:51] Beep6581 commented on #4327
@TooWaBoo asked

e.g. the "Tool Mode" is still working.

See my previous comment.

[2018-08-21 11:18] Floessie commented on #4732
@Thanatomanic Indeed. #4576 was a nightmare to solve and my only contribution to 5.5 as yet. I'm very much interested that someone else takes a look at this thing, maybe you get a clue about what's going on. My gut feeling tells me, there is at least one thread layer too much, but this damn place of code is a real time-killer, so I fully understand there hasn't been much activity yet.

Trying to n

[2018-08-21 11:45] Beep6581 commented on #4728
So the only issue that could be addressed here is that scrolling sideways using a 4-way scrollwheel ("tilting"?) always scrolls to the left.

[2018-08-21 11:49] Beep6581 commented on #4663
The current behavior:
* Vertical scrolling:
  * Thumbs scroll by exactly the row height when using the mouse scroll-wheel over the thumbs. Since one row gets perfectly replaced by the next, this looks nice and seems that everyone likes it except for @abertens
  * Thumbs scroll by about 45% of their row height when using the mouse scroll-wheel over the vertical scrollbar. This is neither smooth nor

[2018-08-21 14:43] aferrero2707 commented on #4404
@Beep6581 I have uploaded a new [AppImage package](https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-dev-5.4-693-gb80abe6.AppImage), that should fix all recent issues that have been reported. The package was built under CentOS7, and should be compatible with all mainstream Linux distributions (including older ones like Debian-stable and Ubuntu 14.04).

It would be great

[2018-08-21 15:58] Beep6581 commented on #4404
@aferrero2707 great, I confirm that the above file runs well in Sabayon.

I opened a forum post to get it tested:
https://discuss.pixls.us/t/test-the-latest-rawtherapee-appimage/8700
I also posted on Google+
https://plus.google.com/b/106783532637761598368/+rawtherapee/posts/eeTzpjVaQJQ

Once confirmed, we need to replace the 5.4 AppImage on the website with a new one built this way, as the one on

[2018-08-21 16:17] aferrero2707 commented on #4404
Excellent!!!

That will be rather easy, can be done together with the other development branches...

[2018-08-21 16:59] heckflosse commented on #4743
@Beep6581

[code]

[2018-08-21 17:37] TooWaBoo commented on #4327
The NR-settings should stay in the preferences until the NR-tool has been modified. Just my two cents.

[2018-08-21 17:56] heckflosse commented on #4709
This should fix it:

[code]

[2018-08-21 18:09] heckflosse commented on #4709
There was a typo in above patch. Fixed.

[2018-08-21 18:59] agriggio commented on #4327
I am for forcing defaults -- in fact, for removing the settings completely.

[2018-08-21 19:48] Beep6581 commented on #4327
I agree. I consider being able to change the way an image is processed outside of a processing profile to be broken design, and forcing defaults seems to be the best way of untangling that.

[2018-08-22 02:44] TooWaBoo opened #4745 "Bug: "Profiled Lens Correction" and "Color Management -> Working Profile""
**Working Profile > Gamma and Slope** are ingnored if **Profiled Lens Correction** is active and any slider in the **Exposure Tool** is changed. (Tested latest "dev")

How to reproduce:
1. Open an image and apply "Neutral"
2. Set Profiled Lens Correction to e.g. Lensfun -> Auto matched
3. Set Tone response curve to Custom
4. Set Color Management -> Working Profile -> Gamma and Slope to maximum
5.

[2018-08-22 05:42] Floessie commented on #4709
Thanks a lot, Ingo! :+1: I'll give your patch a try ASAP, probably already this week.

[2018-08-22 06:36] agriggio commented on #4745
"gamma and slope" seem to interact badly with many other modules. something similar happens also with tone curves, and possibly other settings too. I think the feature needs more work...

[2018-08-22 08:36] heckflosse commented on #4709
@Floessie Please wait. There are still some bugs to fix

[2018-08-22 08:49] heckflosse commented on #4709
@Floessie This one is better

[code]

[2018-08-22 09:48] heckflosse commented on #4745
Fix:

[code]

[2018-08-22 09:51] #4709 closed, assigned to heckflosse

[2018-08-22 09:51] Floessie opened #4746 "Fix Clang 6 OMP build"
Hi,

I'm currently building the latest `dev` on Debian 10 i386. While building with GCC 8.2 is just fine, Clang 6.0 fails to link with some `undefined reference to __atomic_load` errors. This is a [known problem](https://cmake.org/pipermail/cmake/2018-May/067474.html).

Here's a patch that fixes it for me:

[code]

Best,
Flössie

[2018-08-22 09:52] heckflosse commented on #4709
@Floessie I just pushed the fix

[2018-08-22 10:48] Beep6581 commented on #4746
6d60d109 + patch compiled and ran fine in Sabayon, GCC `Gentoo Hardened 6.4.0-r1 p1.3`

[2018-08-22 11:06] heckflosse commented on #4746
Compiled and ran fine on Win7/64 `gcc.exe (Rev2, Built by MSYS2 project) 7.3.0`

[2018-08-22 11:45] Desmis commented on #4745
@heckflosse
Ingo, thank you very much :)

This patch fixed the bug
I have tried this morning (I have not been at home during 1 mounth... vacation in Mercantour) another solution, by putting the procedure further upstream, but your solution is simpler!

Jacques

[2018-08-22 12:03] heckflosse commented on #4745
@Desmis Jacques, de rien!

Thanks for testing. I will push now.

[2018-08-22 12:04] #4745 closed, assigned to nobody

[2018-08-22 12:07] Desmis commented on #4745
@heckflosse
thanks :)

[2018-08-22 12:49] heckflosse commented on #4727
I compared the result of the new code to the result of the old code. Seems using floating point instead of integer really improved the result.

Left is the difference between new and old code. Middle is using new code. Right is using old code

![grafik](https://user-images.githubusercontent.com/13733487/44464067-07802800-a61a-11e8-88e3-93677120d717.png)

Another example:

![grafik](https://user-im

[2018-08-22 13:22] heckflosse commented on #4727
I just merged the new code into dev. Issue and eahd_speedup branch stay open for further improvements (tiled processing, omp)

[2018-08-22 15:29] Thanatomanic commented on #4732
@heckflosse ~~Off-topic, but I just noticed something odd when I still had your benchmark code present. As soon as I open a file from the browser it calls nikon_load_raw between 1 and 10 times, 400 ms each,  before it shows me my image. All thumbs in the folder were fully generated, so I did not expect to see that. What is it making the calls for?~~
Edit: Figured out what was going on

[2018-08-22 15:53] heckflosse commented on #4732
@Thanatomanic up to 10 times?

If you open a nef which has no pp3 assigned I would expect:

one call to nikon_load_raw for opening the file
another call for the automatched tone curve if that's enabled in your default profile
another call to build the thumb

[2018-08-22 17:05] Thanatomanic commented on #4732
@heckflosse Disregard my comment. Of course it should load multiple nefs if I have both flat-field and dark-frame corrections.

You know what, let me test if this is also the reason why RT locks up for me in general.

Edit: Not really. It helps to disable flat-field and dark-frame, but the fact remains that after applying a profile to multiple images RT locks up while generating the thumbnails. An

[2018-08-22 17:42] Benitoite commented on #4746
Patch gives this error on MacOS 10.12 with `clang++-mp-3.9`

[code]
 Compilation and installation is ok without patch.

[2018-08-22 18:07] Barugon commented on #3923
@Beep6581
At what version will this show up? I installed rawtherapee-unstable (5.4-704-g3e7f19c81) on my notebook and I still cannot use two finger scrolling in the thumbnail view.

[2018-08-22 18:46] Beep6581 commented on #3923
@Barugon 5.5, and in the latest dev which is what you're using.

[2018-08-22 18:50] Beep6581 commented on #3923
Touchpad scrolling works fine here in the File Browser, Filmstrip and Toolbox.
Sabayon/KDE.
`5.4-745-g`f919b0b8
![screenshot_20180822_205026](https://user-images.githubusercontent.com/5844619/44484067-03213280-a64d-11e8-94e2-e1c325da0dc3.png)

[2018-08-22 19:18] gaaned92 commented on #4746
OK also with patch on W10 with GCC 8.2.0

[2018-08-22 21:53] TooWaBoo commented on #4148
New update
[code]

EDIT:
RT needs 2 new dlls to run: libthai-0.dll, libdatrie-1.dll

[2018-08-22 22:00] heckflosse commented on #4148
@TooWaBoo I've not updated msys2 since a while. Is it save now to update or do I have to take care about some special exclusions?

[2018-08-22 22:02] heckflosse commented on #4551
I would like to close this issue and open a new one for the automatic calculation of dual demosaic contrast threshold. Any objections?

[2018-08-22 22:25] TooWaBoo commented on #4148
@heckflosse
Exclude "mingw-w64-x86_64-libjpeg-turbo" and "mingw-w64-x86_64-lensfun" from update.

[2018-08-23 07:32] Floessie commented on #4746
@Beep6581 @heckflosse @gaaned92 Thanks for testing!

@Benitoite Also, thanks for testing. As long as I've no info about the exact Clang version that needs `libatomic`, I'll disable its addition for `APPLE`. So, here's an update:

[code]

[2018-08-23 10:01] aferrero2707 commented on #4404
@Beep6581 from the feedback I have seen, it looks like there are no big issues with the new package... what do you think?

Another aspect that I would like to tackle is how to integrate the CLI version of RT. I see two possibilities:
* produce a CLI AppImage package - straightforward but heavy in terms of disk storage and network traffic
* add a special `--cli` command-line switch that would instr

[2018-08-23 13:12] Beep6581 commented on #4404
@aferrero2707 I think we should proceed to replace the 5.4 AppImage, and replace all current dev AppImages with a new one in the forum dev build page, as soon as the CLI issue is solved.

I agree with a `--cli` switch. That would be far better than wasting electricity, generating heat and using up bandwidth by duplicating AppImage overhead. How do AppImage command-line options work, are they handl

[2018-08-23 15:02] #4537 closed, assigned to nobody

[2018-08-23 17:05] #4746 closed, assigned to nobody

[2018-08-23 19:53] Pandagrapher commented on #4094
@Desmis
Je viens de terminer l'intégration entre mes modifications d'interface et de procparams avec improccoordinator, dcrop, ... :
![image](https://user-images.githubusercontent.com/40305292/44548278-e7d22800-a71d-11e8-8066-26a08d0d6441.png)

Pour l'instant, les mises à jour du code sont remontées uniquement dans mon fork :
https://github.com/Pandagrapher/RawTherapee

J'ai fait quelques tests et

[2018-08-24 05:36] Desmis commented on #4094
@Pandagrapher

Salut Pierre
Excellent travail, je dirais même plus super excellent...je suis époustouflé... tout est plus simple
Je n'ai pas tout testé, mais de mon point de vue comme tu n'as pas touché aux principes de l'algorithme dans iplocallab, tout doit fonctionner.....bien sûr à vérifier... :)

Il ne reste plus qu'à nettoyer le GUI des choses qui l'encombrent (les variables que j'utilisais

[2018-08-24 07:28] Floessie commented on #4094
@Pandagrapher Salut Pierre. Great work. :+1: I browsed the diff and two things came to my mind:

1. You ran `astyle` on the files you changed, which is recommended. Regrettably, `astyle` is a bit dumb concerning C++11 uniform initialization and does more harm than good. So after an `astyle` run, it's an obligation to revert the places that look odd. That's still due in your branch as far I could s

[2018-08-24 12:12] TooWaBoo commented on #4713
I was able to compile successfully with the latest libjpeg-turbo by changing following in **jdatasrc.cc.**

Line 252

old
[code]
new
[code]
I don't think that's the right way 'cause I don't know what I'm doing😄 but perhaps this helps to fix it.

[2018-08-24 12:40] aferrero2707 commented on #4404
I have done some more work on the AppImage package, and a new version is available here: https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-dev-5.4-752-g5471b34.AppImage

The main improvements are the following:

* the appimage now correctly handles input images with relative paths
* it is now possible to run the CLI version of RT by adding the `--cli` command line switc

[2018-08-24 15:02] gaaned92 commented on #4094
@Pandagrapher
On W64 and GCC 8.2.0, your branch builds and runs. uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/Locallab_5.4-700-g757cf784_WinVista_64.zip

* It seems that your branch is very behind the dev branch. Could you update?
* I got some warnings
[code]
same here:

[code]
[code]

@heckflosse  following warning is also present in dev
[code]

[code]

* I didn't made tests. I jus

[2018-08-24 16:52] Desmis commented on #4094
@gaaned92
we can do what we want from the moment everybody agree :)
In this case, I think first the goal is to make the new GUI work, then... merge in dev ???...when,? I hope in less than 2 years :)
Agorithm for local control are often different from general cases, and shape detection, will be in some cases difficult :)

After that we can perhaps add some functions.
I have not look but probably
i.

[2018-08-24 18:16] Pandagrapher commented on #4094
@Desmis
Thanks to your initial work too :) I really wanted this functionality: was so motivated to help you improving it ;)
I gonna start the code cleanup then I will start working on updating files to be able to merge my fork with "newlocallab" (will prevent you at beginning to stop merges from "dev" to "newlocallab")
By the way, you said me that `noisechrodetail`, `sensiexclu` and `struc` adjust

[2018-08-24 20:13] gaaned92 commented on #4094
@Desmis Adding to my wishlist: use general mask (e.g. luminosity mask!) instead of shapes.
I understand that I will have to wait until present locallab is merged.

@Pandagrapher

`I have an important cleanup to perform on code (for instance, removing now useless LUT) and GUI. I gonna start cleaning code then will work on merging my fork with "newlocallab". Do you know a nice tool for that? (I am u

[2018-08-24 20:22] TooWaBoo commented on #4148
Maybe I found a way to fix the libjpeg-turbo issue.
https://github.com/Beep6581/RawTherapee/issues/4713#issuecomment-415740900

[2018-08-24 22:36] Beep6581 commented on #4094
@Pandagrapher

kdiff3 is your friend. Which OS do you use?

[2018-08-25 06:50] Desmis commented on #4094
@Beep6581
A question how merge 2 branches in 2 different forks with git
in normal configuration I use if I am in "newlocallab" ==> git merge dev
But here ?

@Pandagrapher
These variables have been create some time ago, and for various reasons I left this work in progress, so for now do not delete
I use kdiff3 and it is a good tool

@gaaned92
no problem to examine your requests, when the branch wil

[2018-08-25 07:58] Thanatomanic opened #4748 "Hasselblad H4D-40 file loads unusually slow"
I was just playing around with some files of different make and origin from raw.pixls.us, when I tried to open this one: https://raw.pixls.us/getfile.php/2425/nice/Hasselblad%20-%20Hasselblad%20H6D-100cMS%20-%2016bit%20(4:3).fff (105.6 MP)
and this one: https://raw.pixls.us/getfile.php/931/nice/Hasselblad%20-%20Hasselblad%20H4D-40%20-%2016bit%20(4:3).fff (40.2 MP)
The former file loads in roughly

[2018-08-25 08:21] Benitoite commented on #4748
Could you include some details about your system, ram, os, in your report.

[2018-08-25 08:23] Thanatomanic commented on #4748
Windows 7 (x64)
24 GB RAM
Intel Core i7-3770 @3.40 GHz

Not a bad machine if I say so myself :wink:

[2018-08-25 08:25] Nindaleth commented on #4728
The issue can also be reproduced when two-finger horizontal scrolling on a touchpad (I guess internally OS generates the same mouse events).

[2018-08-25 08:33] Thanatomanic commented on #4748
Maybe helpful: [verbose output from RT](https://pastebin.com/mduS6aeE).
It really seems that loading the file is the bottleneck. I also tried loading it from my SSD. Does not change loading times.

[2018-08-25 08:42] Thanatomanic commented on #4748
![image](https://user-images.githubusercontent.com/6567747/44616630-8dd37e80-a853-11e8-8ac8-76b369095244.png)

[2018-08-25 08:42] heckflosse commented on #4748
@Thanatomanic Thanks for reporting.
It's caused by wrong (or unsupported) Hasselblad flat field data.
Here's a fix

[code]

[2018-08-25 08:47] Thanatomanic commented on #4748
I am amazed by the speed you found a fix :astonished:
But yes, it is fixed, thanks!

[2018-08-25 08:48] Thanatomanic commented on #4748
@heckflosse Oh wait, closing too soon, it still needs to be pushed to `dev`..

[2018-08-25 09:27] #4748 closed, assigned to heckflosse

[2018-08-25 13:43] casta opened #4749 "Store histogram settings across sessions"
Hi,

Related to PR #4618 I tested with master commit 5471b34a

There is an issue with the new histogram state memorization. Here are the steps:
- enable luminance histogram
- restart RT
- luminance is again disabled, but should stay enabled.

Other params seems correctly saved.

Thank’s !

Exact build version info:
Version: nightly-556-g5471b34a
Branch: dev
Commit: 5471b34a
Commit date: 2018-08-23

[2018-08-25 14:12] Thanatomanic commented on #4749
As far as I am aware, there was/is no such setting. It can be introduced of course.

Please check `rtgui/options.cc` to verify.

[2018-08-25 16:44] Beep6581 commented on #4094
@Desmis to the best of my understanding, here is the scenario:
* I created a repo on GitHub with RT code, and I gave you push access to it.
* When you cloned the RT code from this GitHub repo to your computer, this GitHub repo became the "origin" (which is "upstream").
* Every time you `push`, you are sending changes from your local git repo on your computer to this "origin" on GitHub.
* This "ori

[2018-08-25 16:52] Beep6581 commented on #4094
I just test-merged @Pandagrapher 's `newlocallab` into this `newlocallab`, it took less than 1 minute to solve the conflicts using kdiff3 (I won't push this, it was just a test). However, merging `dev` into `newlocallab` is quite more difficult and it needs your expertise to do it.

There are some functions with a lot of parameters making very long lines - it would probably make the code cleaner i

[2018-08-25 17:00] Beep6581 commented on #4094
KDiff3:
http://kdiff3.sourceforge.net/
How to set KDIff3 up as a git mergetool:
https://stackoverflow.com/questions/33308482/git-how-configure-kdiff3-as-merge-tool-and-diff-tool/33348841#33348841

[2018-08-25 17:05] Beep6581 opened #4750 "Allow showing single histogram via right-click"
As with the right-click behavior in the RT toolbox, it would be nice if right-clicking on a histogram channel button made that channel visible and hid all other channels.

[2018-08-25 17:31] Pandagrapher commented on #4094
@Beep6581
Thanks to all your explanations about merging :) (I am using Win10 64bits with MSYS2)

@gaaned92
Ok I reproduced it: I gonna fix it ;)

[2018-08-25 20:05] heckflosse opened #4751 "Improve decoding speed of Nikon NEF files"
Being a Nikon Shooter (D700), today I tried to improve decoding speed of Nikon 14 bit lossless compressed NEF files. In a first mockup I got a roughly 20% speedup for decoding (dcraw.cc function nikon_load_raw) measured on D800 files (though only when loading the files from a fast storage like e.g. SSD. Decoding a file which is loaded from an USB 2.0 connected drive will not get a speedup).

Any N

[2018-08-25 20:27] gaaned92 commented on #4713
@TooWaBoo good catch! At least we can compile with last libjpeg turbo :satisfied:

But, a while ago, a dev modified on purpose `jdatasrc.cc`  to override the corresponding `jdatasrc.c` of libjpegturbo package and this change is reverting one of the modifications.
So there is a risk that it breaks the jpeg error handler in some way.
@Floessie @heckflosse @agriggio is it safe to do that?

[2018-08-25 20:59] heckflosse commented on #4713
@gaaned92

I don't remember which dev that was. Can you shed some light into (I hope it wasn't me)?

[2018-08-25 22:36] gaaned92 commented on #4713
@heckflosse
It dates back to the night of times when you were not yet active on the project.
A jdatasrc.c (not .cc) is already present at flag Dev-3.0 "initial import" in 2010 with the same code

[code]

[2018-08-26 05:13] Desmis commented on #4094
@Pandagrapher
J'ai regardé plus en détail les 3 variables dont tu parles plus haut et "sensiexclu" est utilisé dans la version ancienne (non GUI) le locallab. Ce slider permet de tempérer l'action dans la zone d'exclusion d'action. A priori tu as du l'omettre.

@Beep6581
Thank you

@gaaned92
this should not be a problem for "RL deconvolution" (modification) and add  "Local contrast" when it will p

[2018-08-26 10:16] TooWaBoo commented on #4148
New update
[code]

[2018-08-26 17:05] heckflosse commented on #4751
I just created nikon_deode branch with a ~20% speedup for decoding of all nikon NEF files when loaded from a fast storage medium.

[2018-08-26 18:40] Thanatomanic commented on #4751
Nikon shooter here, so I like that you're working on a speedup! What kind of contribution are you looking for?

[2018-08-26 18:40] Thanatomanic commented on #4750
@Beep6581 I'm not sure if I can assign myself to an issue, but I'll try to implement this.

[2018-08-26 18:41] Thanatomanic commented on #4749
@Beep6581 I'll take up this one

[2018-08-26 18:49] heckflosse commented on #4751
@Thanatomanic Tests would be very welcome.

Concerning processing time:
I always measure processing in queue 7 times and take the median of the 7 measures. This leads to robust results and (because of queue processing) avoids influence of progress bar on processing time.

[2018-08-26 19:01] heckflosse commented on #4751
@Thanatomanic Of course ideas to further reduce decoding time are welcome too :)

The decoding time for a 14-bit lossless compressed D850 NEF was ~900 ms before and now is ~700 ms at my system.

[2018-08-27 06:24] Floessie commented on #4094
@Beep6581 I edited your `git` HOWTO above and changed `git remove -v` into `git remote -v`.

While a change won't help with this merge, there's some beauty in splitting long parameter lists. First and foremost, you realize that there are too many arguments (there's only a limited number of arguments which can be quickly passed in [registers](https://en.wikipedia.org/wiki/X86_calling_conventions#Sy

[2018-08-27 06:44] Beep6581 commented on #4094
Thank you @Floessie

[2018-08-27 10:11] heckflosse commented on #4751
With last commit decoding time for a 14-bit lossless compressed D850 NEF is ~660 ms

[2018-08-27 18:34] heckflosse commented on #4751
With last commit decoding time for a 14-bit lossless compressed D850 NEF is ~635 ms

[2018-08-27 18:58] heckflosse commented on #4751
I tested with a files from a lot of different Nikon cameras using a lot of different encodings which are

[code]

All seem to work fine

[2018-08-27 19:45] heckflosse commented on #4751
As I'm out of ideas now to further redcude decoding time of NEF files, I would like to merge this branch into dev to get more tests asap.

Any objections?

Ingo

[2018-08-27 19:48] Thanatomanic commented on #4751
I can only take a look at this some other day this week, would that be okay? As I'm not familiar with the programmatic part of RAW decoding, I doubt that I can find another speedup, but I want to give it a go as an exercise.

[2018-08-27 20:34] heckflosse commented on #4751
@Thanatomanic Roel, take your time to look at the changes. Code review is very welcome too. In my experience, further speedup by me may be possible later after some weeks.....

[2018-08-27 22:12] AP215301 opened #4752 "RawTherapee 5.4 crashes/closes when I turn on the Queue to export"
RawTherapee 5.4 crashes/closes when I turn on the Queue to export

[2018-08-27 22:15] heckflosse commented on #4752
@AP215301 please post the content of `AboutThisBuild.txt`

[2018-08-27 22:57] AP215301 commented on #4752
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarati

[2018-08-27 22:59] Beep6581 commented on #4752
@AP215301 http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-08-27 23:56] rpittaro opened #4753 "Update dcraw with version 9.28?"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2018-08-27 23:57] rpittaro commented on #4753
Update dcraw with Verion 9.28?

[2018-08-28 02:04] AP215301 commented on #4752
I edited a DNG image file, taken using OpenCamera app on Pixel 1 phone. I then put it in export and start the export. The app closes itself (assume crashes) after about 2 seconds. There is no visual details to share from this process. I tried restarting PC, reinstalling the app, changing output to different folder, changed output type from JPG to TIF and PNG but the same error occured each time.

[2018-08-28 02:05] AP215301 commented on #4752
[pp.zip](https://github.com/Beep6581/RawTherapee/files/2326200/pp.zip)

[2018-08-28 04:43] TooWaBoo commented on #4753
Already done in latest development build.

[2018-08-28 04:51] TooWaBoo commented on #4148
New update
[code]

[2018-08-28 04:54] Thanatomanic commented on #4752
I have no trouble exporting your image using the latest `dev` build.

[2018-08-28 07:04] heckflosse commented on #4753
Done in https://github.com/Beep6581/RawTherapee/commit/7d9caf04435562b6a7523510b6051f6155789dd3

[2018-08-28 07:04] #4753 closed, assigned to nobody

[2018-08-28 08:53] Beep6581 commented on #4752
Processed without issues using `5.4` and `5.4-691-g`871188a1 in Linux.

[2018-08-28 09:10] heckflosse commented on #4752
@AP215301 Maybe you ran out of free memory? Processing your file needs about 1.3 GB of free RAM (measured on my 8 core machine). You can reduce the amount of free memory needed for noise reduction by changing this setting to e.g. `1`

![grafik](https://user-images.githubusercontent.com/13733487/44713164-d046c680-aab2-11e8-8719-8e4919e9fd5a.png)

http://rawpedia.rawtherapee.com/Preferences#Maximum_

[2018-08-28 11:34] Beep6581 commented on #4738
Work finished.

[2018-08-28 19:37] Lompik commented on #4751
FWIW, I also see ~20% (1200ms to 1000ms) improvement on ```14-bit lossless uncompressed``` nef files.

[2018-08-28 19:54] heckflosse commented on #4751
@Lompik I didn't change anything for `lossless uncompressed` files, only for compressed files (lossless and lossy)

[2018-08-28 20:27] Lompik commented on #4751
@heckflosse you're right. Actually my tests were on ```14bit lossless compressed``` files according to my camera(d600) settings. There is no option for ```uncompressed```. Same speedup gains with ```14bit lossy compressed```.

PS: I also see speedup with ```-O3``` compiler flag, from ```400ms```(dev branch, down from 1200 above) to ```300ms``` for the ```nikon_load_raw``` function.

[2018-08-28 20:32] heckflosse commented on #4751
@Lompik Thanks for testing and feedback :+1:

[2018-08-29 02:02] AP215301 commented on #4752
I changed setting to 1 but still the same. I also moved the files from external drive to C:\ drive but the same.
My machine has 8GB of RAM. Before running the queue, there was 5GB free.  While running, CPU goes to 100% and RAM has 4.5GB free. There is no spike in RAM usage, it never goes below 4.5GB.
I tried to export just 1 image, it worked. I tried to export 40, it failed without exporting eve o

[2018-08-29 09:15] heckflosse commented on #4752
@AP215301 Right click/Select all + Right click/Cancel job

[2018-08-29 12:11] gaaned92 commented on #4752
Rawtherapee 5.4 on Windows10 cannot reproduce
I put 50 identical jobs with above photo in queue. Start queue. Finish ok

Memory usage
-before starting queue: 5GO
-during processing: 5.3 to 6 GO
about 6sec to process a photo

@AP215301

Could you delete the cache subdir and option file inside the config folder; see https://rawpedia.rawtherapee.com/File_Paths and try again.

[2018-08-29 12:21] heckflosse commented on #4752
@AP215301 please post a screenshot showing your RT queue tab

[2018-08-29 12:49] Beep6581 commented on #4752
@AP215301
1. Please test using the latest development build:
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dev_5.4-755-g3c543d2ef_WinVista_64.zip
2. If you can reproduce using the latest dev build, then follow the simple steps to provide a stack backtrace:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

[2018-08-29 12:52] Beep6581 commented on #4404
Hi @aferrero2707
I was looking for a dev build for the person in issue 4752 when I noticed that the latest CI Windows build is from 2017-11-20: https://github.com/aferrero2707/RawTherapee/releases/tag/continuous

1. How do we trigger a new Windows build?
2. Do those builds include `gdb.exe` and a debug `rawtherapee.exe`?

[2018-08-29 18:33] #3195 closed

[2018-08-29 18:33] #4551 closed, assigned to heckflosse

[2018-08-29 18:42] swilso0053 opened #4755 "Rawtherapee help"
could someone help me out. I am just a mom that shot some pics of my daughter for sr pics in raw. Some were slightly overexposed. I searched and came across raw therapee and I have been trying for a week to get to the edited picture I have saved like 25 times. I edited everything then click thesave as and I chose tif because I would like to print some as 8X10s for family so I did 16 bit. I have al

[2018-08-29 18:49] agriggio commented on #4755
hi @swilso0053, and thanks for your interest in rawtherapee! from your description it looks like you are doing something wrong somewhere. in order to get more help, I suggest that you ask on the rawtherapee forum at http://discuss.pixls.us
I'm pretty sure you will find some user offering good advice. also, if you haven't already done so, make sure to check the documentation at rawpedia.rawtherapee

[2018-08-29 19:16] swilso0053 commented on #4755
Thank you, I kept trying to sign up to post there but it never sends me the email to verify my email, i have checked in my spam also

[2018-08-29 19:26] patdavid commented on #4755
@swilso0053 can you try again and let me know what your username is?  I can check to make sure the email is working properly (we had some minor email problems recently and yours might have been lost in the shuffle - I see three new accounts with a similar name to what you're using).

[2018-08-29 20:19] rpittaro commented on #4753
Thanks!!,
Downloaded a development version and,it now works with my Nikon B700 camera which is why I was waiting for the DCRAW update.
Regards,
Rick

From: TooWaBoo
Sent: Monday, August 27, 2018 9:43 PM
To: Beep6581/RawTherapee
Cc: rpittaro ; Author
Subject: Re: [Beep6581/RawTherapee] Update dcraw with version 9.28? (#4753)

Already done in latest development build.

—
You are receiving this becau

[2018-08-30 07:00] jannefoo opened #4757 "visible low-level grid in images"
See attached image for example. A very faint grid-like pattern emerges after stacking lots of very dark  images - the example is after stacking and pushing of 10 stops. Thus far I've ruled out my camera (pattern not present with ACR converted files), DNG conversion (pattern present with out-of-camera NEF files), ~~use of manual CA correction in raw tab~~, use of flat field images were ruled out pr

[2018-08-30 07:14] heckflosse commented on #4757
@jannefoo Did you rule out auto CA correction in raw tab?

[2018-08-30 07:16] jannefoo commented on #4757
auto ca correction was not used

[2018-08-30 07:32] jannefoo commented on #4757
ok, found the culprit. it's actually the **manual ca correction from raw tab** that's causing this. the number of squares increases as the values on the ca correction sliders increase.

Slider at zero, no artifacts:
![dsc_4782-1](https://user-images.githubusercontent.com/8021278/44836491-c7373000-ac3f-11e8-85ed-7f019d17106d.jpg)

Big squares appear at slider position of 1:
![dsc_4782-2](https://us

[2018-08-30 09:56] aferrero2707 commented on #4404
@Beep6581 the CI windows builds were stopped some time ago, because there was no general consensus about their usefulness (other users are already providing Win64 RT builds).
I also removed most of my Win64 packages to avoid confusion with the official ones...

However, it should be easy to re-start the automated builds if needed, and generated packages for the various development branches. Just l

[2018-08-30 10:08] Beep6581 commented on #4404
They certainly are useful, but a Windows user would need to commit to helping you test and tweak the system.

[2018-08-30 10:10] Beep6581 commented on #4404
As they're very outdated, I removed the link from the development builds page:
[code]

[2018-08-30 10:17] rpittaro opened #4758 "Crash when opening large folders"
I'm trying development version 5.4-755-gc3543d2ef .
Windows 10
HPZ220 Workstation 12G Memory, Xeon Processor AMD graphic card.

When I try to open certain folders with a large number of images the program closes before completing loading the thumbnails. I haven't seen the effect on any smaller folders, but I don't think it's strictly the folder size or the number of images. It loads the thumbnails

[2018-08-30 10:42] heckflosse commented on #4758
@rpittaro Does it also crash on a folder without JPG files?

[2018-08-30 10:51] Beep6581 commented on #4758
@rpittaro a stack backtrace would give invaluable information:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces

[2018-08-30 16:21] gaaned92 commented on #4404
@aferrero2707
`because there was no general consensus about their usefulness (other users are already providing Win64 RT builds).`

Even if I regularly provide windows builds, I think automatic builds is the way to go and should be useful also for devs.
If you decide to re-start the windows automatic build, I will try to help testing as I did when you began this work.
I noticed that some projects

[2018-08-30 17:24] Beep6581 commented on #4404
@gaaned92 enjoy :)

[2018-08-30 17:26] Thanatomanic commented on #4751
Finally did some testing, and there's indeed a clear speed-up, so that's wonderful @heckflosse
On my machine I get a median timing going from 399 ms to 294 ms.

(on a side-note, applying a profile on my regular HD is still dead slow for me (calls to `nikon_load_raw` take up to 50000 ms), but a direct export afterwards only takes 300 ms, so weird)

[2018-08-30 18:42] heckflosse commented on #4751
@Lompik Do you say without -O3 it needs 1200ms/1000ms and with -O3 it needs 400ms/300ms?
Well, fortunately -O3 is default in RT for release builds

Edit: -O3 is default for windows builds. If it's not default for non windows builds, we should make it default.

[2018-08-30 18:48] heckflosse commented on #4751
@Thanatomanic Roel, thanks for testing :+1: I will merge now to get even more tests

[2018-08-30 18:50] Thanatomanic commented on #4751
@heckflosse Please do. I'm staring at the code, trying to figure out what is going on in `nikbithuff`, but definitely not seeing a way to optimize further.

[2018-08-30 19:04] #4751 closed, assigned to heckflosse

[2018-08-30 19:25] heckflosse commented on #4751
@Thanatomanic Concerning further speedup of nikon_load_raw() it should be possible to call a special nikbithuff function, which does not check for EOL for roughly the first half of the file when build is made using MMAP...

[2018-08-30 19:34] Lompik commented on #4751
@heckflosse you understood right. My first attempt was not using release builds.

I just tested with ```-O2``` which yield similar results to ```-O3```. Most linux distros will build with ```-O2``` via env vars fortunately. My distro's rawtherapee binaries seems as fast as with optimization on.

[2018-08-30 20:13] heckflosse commented on #4751
@Lompik

Then we should add at least `-ftree-vectorize` for the case -O3 is not used

[2018-08-30 20:17] Lompik commented on #4751
i believe that's what is being done L58 in cmakelist.txt. https://github.com/Beep6581/RawTherapee/blob/dev/CMakeLists.txt#L58

[2018-08-30 20:24] heckflosse commented on #4751
@Lompik Ah, yes, I remember vaguely.

I'm getting old... :( https://github.com/Beep6581/RawTherapee/commit/7507b74d6fe0668343732b6c468b5fd5b1ba5a6d

[2018-08-30 20:32] SilvioGrosso commented on #4404
Hello everyone,

It would be a pleasure for me as well to test these Windows daily builds.
Lately, I have tested the RawTherapee AppImage for Linux, on Kubuntu, 18.04 - KDE, through VirtualBox.
On Windows, I can test these daily builds on Windows 10 - Windows 8.1.
All in all, I suppose most users are going to opt for the Windows versions in the end...

Thanks a lot indeed : the 5.5 upcoming releas

[2018-08-30 23:17] rpittaro commented on #4758
I will attempt to do a back trace and send the info
Thanks
Rick

From: Beep6581
Sent: Thursday, August 30, 2018 3:51 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Development version 5.4-755-gc3543d2ef Bug (#4758)

@rpittaro a stack backtrace would give invaluable information:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_

[2018-08-31 07:16] rpittaro commented on #4758
I ran the debugger didn’t get to the stack back trace but this is a screen shot of the error it threw. I’ll do more if it will help.
Thanks,
Rick

From: Beep6581
Sent: Thursday, August 30, 2018 3:51 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Development version 5.4-755-gc3543d2ef Bug (#4758)

@rpittaro a stack backtrace would give invaluable information:

[2018-08-31 07:37] rpittaro commented on #4758
Here is the backtrace.
Regards,
Rick

From: Beep6581
Sent: Thursday, August 30, 2018 3:51 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Development version 5.4-755-gc3543d2ef Bug (#4758)

@rpittaro a stack backtrace would give invaluable information:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_t

[2018-08-31 07:40] rpittaro commented on #4758
Ingo,
It has not had a problem with opening folders with only NRW files but I haven’t yet tried many of those . I will try to open more folders.

Thanks,
Rick

From: Ingo Weyrich
Sent: Thursday, August 30, 2018 3:43 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Development version 5.4-755-gc3543d2ef Bug (#4758)

@rpittaro Does it also crash on a folder with

[2018-08-31 08:37] Beep6581 commented on #4738
Merged, closing.

[2018-08-31 08:37] #4738 closed, assigned to Beep6581

[2018-08-31 08:41] Beep6581 commented on #4404
To completely replace humans (and "take their jobs"), the automated Windows builds would need to support the installer script, and include `gdb.exe` and `rawtherapee-debug.exe`.

[2018-08-31 08:51] Beep6581 commented on #4758
@rpittaro it seems that attachments are lost when one replies by email, so we didn't get the stack backtrace screenshot or log. Could you reply from GitHub?
https://github.com/Beep6581/RawTherapee/issues/4758

[2018-08-31 09:50] gaaned92 commented on #4404
@aferrero2707  @Beep6581
On Appveyor. in addition to Msys2, windowsinnosetup, 7zip (and lot of other sw) are installled.
I tried to use it yesterday  on the basis of mypaint.
I forked RT see https://github.com/gaaned92/RawTherapee and opened a github account on appveyor.
I vreated a branch av and two files appveyor.yml and tools/win/appveyor containing the bash scripts.
As I am completely non prof

[2018-08-31 09:55] rpittaro commented on #4758
Will Do
Rick

From: Beep6581
Sent: Friday, August 31, 2018 1:51 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Development version 5.4-755-gc3543d2ef Bug (#4758)

@rpittaro it seems that attachments are lost when one replies by email, so we didn't get the stack backtrace screenshot or log. Could you reply from GitHub?
#4758

—
You are receiving this because

[2018-08-31 11:00] heckflosse commented on #4758
@rpittaro That's a bug reading one of the jpg files. Maybe a corrupted file.

[2018-08-31 11:12] Beep6581 commented on #4758
@rpittaro please upload `D:\\PHOTOS\\SALVBARD\\RICK1\\DSCN2795.JPG` using https://filebin.net/ and paste the link here.

[2018-08-31 14:30] aferrero2707 commented on #4404
@gaaned92 thanks for the AppVeyor instructions!

At the moment I have a working cross-compilation environment, based on `mingw-w64`, that has from my point of view few advantages:

* it runs under Linux, using an ad-hoc Docker container. This means that the building+packaging process can be run and tested on any system supporting Docker (Linux/OSX/Windows)
* as everything is executed inside the Do

[2018-08-31 14:33] aferrero2707 commented on #4404
@Beep6581 since the latest AppImage packages seem to work properly on most of the distributions, I went on and updated all the packages in the "nightly builds" release. The package for the official 5.4 release is available [here](https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-releases-5.4.AppImage).

Later today I will test each package to see if it runs correctly, b

[2018-08-31 16:57] Beep6581 commented on #4404
`RawTherapee-releases-5.4.AppImage` works fine here in Sabayon @aferrero2707

[2018-08-31 17:13] Beep6581 commented on #4404
I uploaded the AppImage to our website.

[2018-08-31 17:23] Beep6581 opened #4762 "Output profile rendering intent"
Hello

We are allowed to specify the output profile's rendering intent, however when using our RT profiles the rendering intent makes absolutely no difference to the saved image. When does it work? Is this documented somewhere?

@Desmis maybe you know?

[2018-08-31 18:20] eprovst opened #4763 "Add more scopes"
Scopes help us to quickly see what is wrong with an image and also give us the ability to do certain corrections 'by the numbers' that are hard to judge on a screen.

Potential scopes include:

**Vectorscope**
Currently RawTherapee only has histograms which is great to see the overall lightness, redness, etc. of the image. However, it's often useful to have an idea of the color balance in terms of

[2018-08-31 19:30] SilvioGrosso commented on #4404
Hello @aferrero2707,

To start with, THANKS A LOT for this new build :-)
1)
Just tested today's new build on Windows 8.1 - 64 bit (build 9600).
Rawtherapee starts and It does not crash when working with it.
It even looks as snappy as the "official" 5.4 stable version. I mean the one offered currently on the RawTherappe web-site.
I have quickly tested its GUIs with my NEF images (Nikon D700).
Some

[2018-08-31 19:30] Thanatomanic commented on #4763
I agree that a vectorscope and color wheels could be nice additions. I have done some color grading for film on a hobby project, and both the vectorscope and color wheels can be very convenient to use.
Personally, I would not call this a high priority thing though, because I believe the proposed color wheel operations can already be achieved using other tools available in RT. Maybe not as convenie

[2018-08-31 19:32] rpittaro commented on #4758
a.. It looks corrupted!

From: Beep6581
Sent: Friday, August 31, 2018 4:13 AM
To: Beep6581/RawTherapee
Cc: rpittaro ; Mention
Subject: Re: [Beep6581/RawTherapee] Crash when opening large folders (#4758)

@rpittaro please upload D:\\PHOTOS\\SALVBARD\\RICK1\\DSCN2795.JPG using https://filebin.net/ and paste the link here.

—filebin.net/6keb82hfrbjm2kqj
You are receiving this because you were mention