[2022-09-28 12:55] Entropy512 commented on #5632
Looking at the list of PRs tagged for 5.9, I think nearly all of it is OK to slip to the next release.

RawTherapee/RawTherapee#6448  would be an exception - this has been sitting for a while (due to @heckflosse going inactive) and is confirmed to fix some compatibility issues with, at the very least, some Blackmagic camera models.  Perhaps merge it as-is (It works as-is) and then look into Ingo's

[2022-09-28 17:02] TechXavAL commented on #6591
Fine.

Comented entry removed. Although there are many examples of keys just deleted without user interaction. This one should also have been deleted automatically.

     The changed language key names need to be changed in the other files as well

Don't know what you're referring to, sorry.

If it's about the change from **TIP** to **TOOLTIP** in quite a few keys, then it should have been done au

[2022-09-28 17:02] rebio commented on #6527
Considering that the quality was changing in the past and switched through various resolutions I would wait until the next Automated build to really say more about this. If there was no change for a component regarding the building process or how the logo is handled I wouldn't expect that the random nature of this changed.
Considering the pattern I observed, the chosen logo resolution seems to be

[2022-09-28 17:03] rebio commented on #6520
Is there any other information you need from the dev debug build?

[2022-09-28 18:19] Entropy512 commented on #6591
As far as doing things automatically, improvements to the tooling is a possibility for the next release.

An alternative thing that is being discussed as a possible option is to investigate moving from a homegrown localization engine to GNU Gettext, as gettext has improved vastly since the last time someone made a decision along those lines according to @Beep6581 - in addition so has the tooling e

[2022-09-28 19:25] TechXavAL commented on #6591
I was a Poedit happy user in the past, so following the gettext path would be wise, in my opinion.

However, no tool is perfect, and it won't do anything you haven't configured it to do: it won't take coherent decissions if it's not properly configured with the decissions taken by the developers. It also won't warn the translators about anything if not properly configured. And so on.

Let's just h

[2022-09-28 20:20] Lawrence37 commented on #6520
@rebio The backtrace tells me where and why the program crashed, but I'm still not sure what created the conditions for the crash. The best way to understand the situation is for me to reproduce the issue, but I have been unable to. Are you able to trigger the crash using the neutral profile and only the HSV tool active? If not, which tools do you typically activate?

[2022-09-28 20:34] Lawrence37 commented on #6591
@TechXavAL My comment about the key names was about the developers needing to rename them in all the language files. Once this is done, there is a script we can run to synchronize the translations with the updated default file. That should clear up any confusion, I hope.

[2022-09-28 20:39] Lawrence37 commented on #5664
Reopening this because the key name changes have not been propagated to the translations. Otherwise, this can cause translators to waste time translating strings that have already been translated.

[2022-09-28 20:43] Beep6581 commented on #6520
I have been unable to reproduce. @rebio a screen recording would help, along with your raw + PP3. You can hit CTRL+SHIFT+s at any time while editing to save the PP3 to disk, so that even if RT crashes in the next step you still have your settings secure.

[2022-09-28 20:52] Beep6581 commented on #6591
Hey @TechXavAL , the `default` file is ready (or as ready as I wanted it to be for now - I skipped `LOCALLAB` as digging through that would be a tremendous job and it's not for 5.9), but the other language files have not been processed yet. I'll do that within a day.

[2022-09-28 20:55] Beep6581 commented on #6527
Looks like RawTherapee has been attacking the whiskey cabinet again.

[2022-09-28 21:00] Beep6581 commented on #5632
@Entropy512 in my opinion both issues should be left for post-5.9. Instead of potentially breaking unexpected things now, we could just release 5.10 in 3 months.

[2022-09-28 21:10] Beep6581 commented on #6591
Handled by #5664

[2022-09-28 21:10] #6591 closed, assigned to Beep6581

[2022-09-28 23:07] Beep6581 commented on #5664
Done, all localization files are ready for translation.

@TechXavAL et al: compare `default` from tag 5.8 against HEAD to see what existing keys changed:
https://github.com/Beep6581/RawTherapee/compare/5.8...HEAD#diff-7331859744901fabea4eb0f1fa10e2155f68c4177b3fb62fca3838ebe0148bb9

[2022-09-28 23:07] #5664 closed, assigned to Beep6581

[2022-09-30 04:25] Lawrence37 commented on #6428
Here's an English translation of the Spanish documentation. I opted to do a translation because the Spanish version is well-written and I want consistency between the documentation.
[waveform.md](https://github.com/Beep6581/RawTherapee/files/9680712/waveform.md)

[2022-09-30 04:28] Lawrence37 commented on #6591
I'll find some time to try this out.

[2022-09-30 18:20] Pandagrapher commented on #5291
@Beep6581
I answer you in the dedicated topic:
I haven't really found any good documentation on it. I just found some info on dev forum or reading code of other application using Gtk+ (ex: Inkscape).
For what I know:
- Gtk+ devs worked a lot on hidpi support in 3.23 version (last fixes for Windows hidpi support have been done in GTK+ 3.24.3)
- For native support by Gtk+, icons shall be managed as

[2022-10-01 19:35] Beep6581 commented on #5291
@Pandagrapher great!

Are you using SVG files directly, without a PNG cache? The GTK+ devs advised at the time that using a PNG cache was recommended because operating on SVG files was slow, but that was some years ago. Has that changed, is it ok to use SVG directly now, and does your branch do that? Does GtkIconTheme perhaps do the conversion and caching? I ask because I see the blue color in you

[2022-10-01 19:38] Beep6581 commented on #6591
I suppose it could, but what if Japanese is renamed to 日本語, how will I type that in the console? :]

[2022-10-01 19:49] TechXavAL commented on #6591
Well, that's one of the challenges of internationalization. You can do it right, or you can fall by the wayside.

Let's see it as if I create a Spanish project and then add the English language, but call it _Inglis_ in the GUI...

Of course you can do whatever you feel better. It was more like a suggestion.

[2022-10-01 20:21] Entropy512 commented on #6591
Hmm, perhaps keep it as-is for 5.9, and then look at further improvements afterwards?

Especially since there has been some discussion of nuking and repaving the entire system in favor of something else (possibly gettext) given the various maintainability issues it has.

It appears darktable uses country codes (not sure if this is standard for gettext?), haven't looked at other gettext examples.

[2022-10-01 22:00] TechXavAL commented on #6591
@Entropy512

My gut feeling says it has nothing to do with the translated files, and something to do with a hardcoded pair of lines where the languages names shown in the GUI are set.

And I would bet that those lines are present in `/rtgui/multilangmgr.cc`, where you can read:

`emplace (key ("es", ""  ), "Espanol (Latin America)");`
`emplace (key ("es", "ES"), "Espanol (Castellano)");`

I wonder

[2022-10-01 22:39] Lawrence37 commented on #6591
I have verified that RawTherapee can use unicode characters for languages. However, the name of the translation files determines what is shown in preferences and is also used in the options file to indicate which language has been set. If people are ok with resetting their preferred language, then we can implement the proposed improvement easily. Otherwise, there needs to be code to convert the ol

[2022-10-02 07:09] TechXavAL commented on #6591
@Lawrence37

Well, it seems you're right. By just changing the filenames and recompiling without updating from github, it works here without any more changes.

It is true I had to reset my preferred language in preferences, though, but I don't see it as a problem, just an annoyance to some people.

[2022-10-02 08:17] Pandagrapher commented on #5291
@Beep6581
I am using SVG files directly. I see no difference in launch time between current PNG cache in `dev` and using SVG files directly. By the way `GtkIconTheme` allows you to provide SVG files or PNG files with different sizes: using icon name, Gtk+ will automatically choose the prefered file in the icon theme based on scale factor and requested icon size. For development branch, we can use

[2022-10-02 11:52] Entropy512 commented on #6591
Shouldn't it be automatically selected/detected from the system settings though?

see LocaleToLang in multilangmgr.cc

Of course naming the files by locale code (like gettext does) would eliminate the need to have that mapping.

The display in the UI could be handled by making the name of the language a translatable string in the translations engine - but it's going to be a pretty rare corner case

[2022-10-02 12:27] TechXavAL commented on #6591
Well, I don't know exactly how it works. I thought it was there where the «magic» happened, however it seems it's not.

I will rephrase again just in case I haven't explained it well:
- I had only changed the filenames with a correct Spanish spelling and recompiled RT
- in _Preferences > Select language_ the correct Spanish spelling is shown, and you can select the proper language, which is correc

[2022-10-02 13:26] Entropy512 commented on #6591
Aha, that might explain why you're not seeing the automatic language selection working correctly.

I suspect that in a "typical" use case, LocaleToLang SHOULD be automatically selecting the correct language file based on system settings.

In my case, on Linux:
declare -x LANG="en_US.UTF-8"

Which reminds me, I'm guessing that I might at some point need to do a translation run of my own, although U

[2022-10-02 14:39] TechXavAL commented on #6591
@Entropy512

I'm sorry, but I think we are talking about different things: I'm not talking about any automatic selection, nor about recognizing system settings, nor about corner cases.

I'm just saying: if you go to _Preferences > Select language_ you will see an incorrect spelling of _Spanish_ in Spanish. And I'm asking if it's possible (indeed it is, quite easily) to change the filenames so that

[2022-10-02 16:24] fatso83 commented on #3317
For someone searching for this, know that the work has been done in  #6449 and is pending merge (not sure if it has gone out of view or what), so high probs of this landing in some future release.

[2022-10-02 17:15] Lawrence37 commented on #6591
The code in `multilangmgr.cc` is for automatic language selection based on the system locale.

Resetting the language would only be necessary for those who have explicitly set it.

[2022-10-02 20:19] nomar500 commented on #6577
Hi @Thanatomanic
sorry for not responding earlier. My report indeed only addresses a fraction of what's discussed, there.

[2022-10-02 20:19] #6577 closed, assigned to nobody

[2022-10-02 20:20] nomar500 commented on #3510
I've closed my #6577 report as this one is more extensive;
yet, I'm not sure it addresses the picture rating filter aspect of it.

So... here's what I initially filed:
Some keyboard shortcuts appear to be broken on my MacOS (12.5) build of RT (dev branch 5.9)

    In the File Browser, pressing the 1 key does nothing, apparently - it should toggle highlight of 1-star images
    Pressing the 2 key d

[2022-10-03 12:28] TechXavAL commented on #6591
Ok. So what I'm suggesting is changing these 2 lines of `multilangmgr.cc`:

from

[code]

to

[code]

and changing the filenames:

from

[code]

to

[code]

[2022-10-03 13:05] Entropy512 commented on #6591
I think it would be better in the long term to decouple the filename from what is displayed in preferences for the override selection.  This allows solving @Beep6581 's concerns and yours at the same time.  Instead of the displayed string being the filename, the filenames would (ideally) just become the locale code (just like gettext, and in fact may be implemented by moving to gettext), and the s

[2022-10-03 13:58] TechXavAL commented on #6591
`it would be better in the long term to decouple the filename from what is displayed in preferences`

Definitely!

Would it be done prior to releasing 5.9 version? If not, maybe the suggested workaround may work well just this time.

[2022-10-03 14:53] Entropy512 commented on #6591
Unlikely, given that @Beep6581 was against even #6448 getting merged this late in the game, and that is a very low-risk item that fixes documented problems with camera support.  The cost/benefit of changing the translation file names is worse than that PR.

[2022-10-03 16:22] mattiaverga commented on #6563
I did a build of `dev` for Fedora Rawhide and gcc 12.2, you might be interested in some more warnings (full log [here](https://kojipkgs.fedoraproject.org//packages/rawtherapee/5.9~20221002git4059ae5/1.fc38/data/logs/x86_64/build.log):

- in `rtengine/xtrans_demosaic.cc`:
[code]
- In `rtgui/paramsedited.cc` and `rtgui/multilangmgr.cc`:
[code]

[2022-10-03 16:26] Desmis opened #6594 "Possible bug with libpng16-16.dll with msys2"
Hello
I am very careful because my computer is very old, overheats and often crashes. I expect the delivery of a new computer in the coming days.
I  update msys2
$ pacman -Syu

The compilation goes without problem, but when I want to run Rawtherapee I get the following message:

"Le point d'entrée de procédure inflateReset2 est introuvable dans la bibliothèque de liens dynamiques C:\msys64\mingw64

[2022-10-03 19:23] TechXavAL commented on #6591
@Entropy512

I'm sorry, but right now I'm feeling either really dense, stupid, or I am clearly missing something important.

I'm understanding that changing 6 characters on the code and 6 characters on file names is even a risk?

If I'm correct, there was a point in time when `Espanol`(single entry) was replaced by `Espanol (Latin America)` and `Espanol (Castellano)` (two entries) in both the code

[2022-10-03 19:39] Thanatomanic commented on #6594
Bonsoir Jacques, it might happen that MSYS2 updates introduce incompatible versions. However, I just updated and recompiled RawTherapee and the software starts without problem. So... I am not really sure what happened in your installation.

Are you sure you built RT from an empty build directory?

Perhaps others have some idea what is going on.

[2022-10-04 06:10] Desmis commented on #6594
@Thanatomanic

I did 2 things
* with my actual repo : rebuild cmake
* with a new clone : rebuild all
Same problem...

is there a way to rebuild libpng and all its dependencies ?

Thank you

My new computer (I hope) will be at my home this week ???

Jacques

[2022-10-04 06:23] Desmis commented on #6594
@Thanatomanic
I just try to rebuild libpng

$ pacman -S mingw-w64-x86_64-libpng
Msys2 says rebuild libpng

Then i rebuild Cmake

And all seems to work fine

Jacques

[2022-10-04 12:08] Thanatomanic commented on #6594
Glad you were able to work it out! Reinstalling the package was a good thought.

[2022-10-04 12:08] #6594 closed, assigned to nobody

[2022-10-04 18:53] Beep6581 commented on #5291
But do we need to? Sounds like that's no longer necessary.

I can do that for all files for you, if you like? I also want to "convert" all icons to the latest Inkscape format - there was a major change pre-1.0 when those icons were made.

[2022-10-05 15:17] blitzgneisserin commented on #5632
??!!??!! Isn't that too long? Do you mean skipping 5.9?

[2022-10-05 15:32] Beep6581 commented on #6563
At this point I think its best to leave this for 6.0.

[2022-10-05 18:01] Beep6581 commented on #5632
I'm going through the `git log` and writing the release notes. I recall seeing somewhere a list of new features a few weeks ago, could someone link me to it? Not the website update, but a list of changes/new features.

[2022-10-05 19:07] Thanatomanic commented on #5632
Check out this: https://github.com/Beep6581/RawTherapee/discussions/6331

[2022-10-06 15:35] chaimav opened #6595 "Toggling Local Adjustments clears (inactive) Crop"
RawTherapee 5.8-3161, Windows 10

Steps to reproduce

1. Enable Crop and select a crop area
2. Disable Crop tool
3. Enable or Disable Local Adjustments tool
4. Reenable Crop Tool

Expected behavior: Previously selected crop is remembered. (It is remembered if other tools are toggled)
Actual behavior: Crop tool is reset

[2022-10-07 10:30] Beep6581 commented on #5632
Branch [`release-5.9`](6596) ready for testing.

Are the AppImage, macOS and Windows ZIPs produced in the [Actions tab](https://github.com/Beep6581/RawTherapee/actions) the same ones we intend to provide on our website for the final 5.9 release?

[2022-10-07 11:08] Thanatomanic commented on #5632
Great!

And yes, I would say that the available CI builds for the release branch are suitable for distribution. We _might_ want to create a `relwithdebinfo` build instead, but honestly, I don't think it makes that much sense. This would be useful for a tiny number of users only.

[2022-10-07 13:08] Benitoite commented on #5632
The CI macOS artifact would not be a candidate for release as its utility does not extend beyond a test of the compilation.

[2022-10-07 13:25] Thanatomanic commented on #5632
That's true, we need to get it signed, right? Anything else to do proper packaging?

[2022-10-07 14:54] Benitoite commented on #5632
Yes the Mac package is signed and notarized with an Apple-issued certificate, which I have been providing with the occasional kind financial support from pixls.us.

[2022-10-07 20:59] Beep6581 commented on #5632
Could you tell me more?
And where will we get the build worthy of distribution from?

[2022-10-07 22:23] Benitoite commented on #5632
It’s good for the green ✅ check mark on GitHub but the package is not checked against the notarial malware database and does not pass the default macOS security protocols as it lacks the ticket associated with the notarization process.

[2022-10-09 10:32] TechXavAL opened #6597 "Spanish GUI translation updated for 5.9"
Next is the GUI Spanish translation, up to date with commit `c113cffdf`

[Español (Castellano).zip](https://github.com/Beep6581/RawTherapee/files/9741331/Espanol.Castellano.zip)

[2022-10-09 17:13] ror6ax commented on #5632
How can I help propagate the release to Fedora software distribution?

[2022-10-10 10:00] mattiaverga commented on #5632
https://bodhi.fedoraproject.org/updates/FEDORA-2022-08e7c964bf
https://bodhi.fedoraproject.org/updates/FEDORA-2022-6d37d8ba39

Those updates are just 1 commit behind RC1 (excluding release notes).

[2022-10-12 03:33] Yz2house opened #6598 "update UI in Japanese"
Update UI in Japanese along with the recent changes (additions, deletions, modifications).
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/9761248/Japanese.txt)

[2022-10-13 16:14] ax006ho opened #6600 "terminate called after throwing an instance of 'Gio::Error'"
I've just checked out the newest version of RawTherapee

`git checkout release-5.9`

My system is

`Linux <name> 5.19.14-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Oct 5 21:31:17 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

with Wayland/Mutter as window manager.

The compile step as described in https://rawpedia.rawtherapee.com/Linux: The Manual Way ended without errors.

Starting RawTherapee ended w

[2022-10-17 13:27] Thanatomanic commented on #5632
@Beep6581 Do you have any additional actions planned that I should know about? Again, I can help, but only if I know the plan so that I don't interfere or do double work. For example, shouldn't the RC also be put on the website? And shouldn't it be announced on Pixls? I cannot do the first, I could do the second. Just let me know.

Also, FYI: the binaries on the GitHub Actions page are only availa

[2022-10-17 19:20] gaaned92 commented on #5632
Is there a tag identifying 5.9-RC1? or is it the last commit on the release-5.9 branch?
Thanks

[2022-10-18 07:32] Thanatomanic commented on #5632
@gaaned92 You should be fine with the `release-5.9` branch.

[2022-10-18 10:04] mitsugu commented on #5632
HEAD？

[2022-10-18 17:30] beling commented on #5555
Another user here. I do think that this is great idea. What's more, it would be great if it was possible to choose which tools to show/hide in the settings (with possible default sets of tools/presets: "for beginners" and "for experts"). For example, I would love to hide all the tools from the advanced tab (then the tab itself should also be hidden). At the same time, after opening a file that use

[2022-10-19 13:45] geoderix opened #6603 "Crash when enable “Color Appearance & Lighting (CIECAM02/16)” canon .crw files"
Rawtherapee crash when enable “Color Appearance & Lighting (CIECAM02/16)” in editor on Canon PowerShot S50 .crw files.

RawTherapee_dev_5.8-3161-g93aac4510_win64_release
Windows 7
[Example .crw from Canon S50](http://www.fileconvoy.com/dfl.php?id=gf81d6154147342781000458867502377866cf20d60)

[2022-10-19 19:49] rebio commented on #6520
@Lawrence37 @Beep6581
I have tested this problem with the 5.8-3166-gdff5dd341 build (5.9 rc1) and I was not able to reproduce the crash. This was just testing tough and not using it in a work setting (maybe I do something different there)

Since the issue no longer occurs I'll close the issue for now. If I get the same problem again I'll reopen it.

[2022-10-19 19:49] #6520 closed, assigned to nobody

[2022-10-21 17:48] Beep6581 commented on #5632
@Thanatomanic I will merge the translation updates, then install and document the installation procedure of the website toolchain which I haven't had time for in the last two weeks. I have a few hours for that this weekend.

[2022-10-23 21:33] ValZapod commented on #6603
You mean CAM Model? Does not happen here. BTW, optics does not work in Photoshop. Wow.

[2022-10-24 15:39] dnikishov opened #6604 "Lockup during rank/color label/trash operations in directories with lots of images"
### RT Version
freshly built from dev branch (see below), as well as the 5.8 release version.
[code]
### OS Version
Windows 11 2021H2 64-bit

### Description
When handling directories with a large number of photos (about 3k in my case), doing the following actions locks the application up for quite long periods of time:
- Changing a photo's rating
- Changing a photo's color label
- Adding / removi

[2022-10-26 12:10] NicTanghe opened #6606 "Radiance RGBE (*.hdr) file format support"
Hello,

I have looked around everywhere, and the only current HDRI colour grading workflow
is to grade all the images separately before you merge them into an HDRI.

This is incredibly unwieldy. And doesn't allow you to grade HDRI`s for which you do not have the source images.

example [industrial_sunset_02_2k.hdr](https://dl.polyhaven.org/file/ph-assets/HDRIs/hdr/2k/industrial_sunset_02_2k.hdr)

[2022-10-28 05:59] marter001 commented on #6603
crash confirmed, windows 10:

- open the given file in editor
- click 'Advanced'
- activate 'Color Appearance & Lighting'
RT shuts down

Version: 5.8-3172-ge594ac0ca
Branch: 5.8-3172-ge594ac0ca
Commit: e594ac0ca
Commit date: 2022-10-22
Compiler: cc 12.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.7
Lensfun: V0.3.3.0
Build type: release
Build flags:  -std=c++11 -ffp-con

[2022-10-30 06:23] alexforencich opened #6607 "Canon R7 support"
When opening CR3 C-RAW files from my R7, black bars are appearing on the left and top side, along with a pink bar on the very top edge.  I suspect this is due to the entry for the R7 in camconst.json missing the raw_crop item.

Looking at the CR3 in exiftool reveals some parameters that seem relevant:

    Cropped Image Width             : 6960
    Cropped Image Height            : 4640
    Croppe

[2022-10-30 06:29] Thanatomanic commented on #6607
There is no issue I think. Please take a look at the Demosaicing settings in RT to find a slider for a border. Reduce this to zero and voila, you should have maximum size (but could have some border artifacts due to interpolation).

[2022-10-30 06:35] alexforencich commented on #6607
Ah, I see, the 8 pixel difference is coming from the default border of 4 pixels during demosaicing.  That part makes sense.

Then, what is the accepted method for determining the raw_crop settings for a given camera?  Should I just take the exif parameters and expand the size by 4 pixels all the way around?  Or should I do something based on the actual file data?  The R5 crop settings don't match

[2022-10-30 06:55] Thanatomanic commented on #6607
The physical sensor size is typically different from the illuminated area. And we try to maximize the image area. So, while I do not know exactly who figured out the R5 values, it should give the maximal area. This is easy to check: lower the crop value and a black border (or garbage data) should appear.

The same process should be done for new sensors. The metadata may give a good starting point,

[2022-10-30 07:07] alexforencich commented on #6607
I see, I suppose I can mess around with that and see if I can come up with some sensible crop settings.

What about masked_areas setting that a number of cameras have, I think that is supposed to correspond to a masked off (black) region of the sensor, outside of the image area?  Is that just cooked up to correspond to a strip along one edge outside of the raw_crop area, or is that based on anythi

[2022-10-30 07:10] Thanatomanic commented on #6607
Masked area is unexposed and therefore useful to determine the lowest sensor value (black level).

Please also take a look in the introduction of https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json for some explanation of the values and format.

[2022-10-30 07:36] alexforencich commented on #6607
I did look at that, but I was wondering if there was any other documentation or proper procedures for figuring out what the values should be for a specific camera.  For instance, if the crop values are determined from looking at the extents of the image in the raw file, it's generally pretty clear where it goes from "black" to "image", but presumably a margin of some sort would be a good idea - ar

[2022-10-30 07:38] Thanatomanic commented on #6607
I'm not sure if something is written on RawPedia, but in general: maximize the raw area, the 'Border' setting takes care to prevent any edge artifacts.

[2022-10-30 08:09] alexforencich commented on #6607
Makes sense.  What about variations in the actual masked area, sensor-to-sensor?  Are we just assuming that all sensors are going to have the image area masked exactly the same, at least to within a pixel?  Or should extra margin be added to account for that possibility?

I'll take a closer look at the R5 crop settings and compare those to the raw file I downloaded, and try to do something similar

[2022-10-30 18:58] alexforencich commented on #6607
Notes on R5 settings:

I commented out the R5 raw_crop and masked_areas settings in camconst.json.  The original settings were:

    "raw_crop" : [ 128, 96, 8224, 5490 ],
    "masked_areas" : [ 94, 20, 5578, 122 ],

Opening an R5 raw file in rawtherapee resulted in an image that's 8344 x 5578.  Setting the demosaicing border to 0 changed that to 8352 x 5586, which matches the exif data for the sen

[2022-10-30 19:23] alexforencich commented on #6607
Updated entries for the R7 and R10:

    { // Quality C
        "make_model": "Canon EOS R7",
        "dcraw_matrix" : [10424, -3138, -1300, -4221, 11938,  2584,  -547,  1658,  6183],
        "raw_crop": [ 144, 72, 6984, 4660 ],
        "masked_areas" : [ 70, 20, 4724, 138 ]
    },

    { // Quality C
        "make_model": "Canon EOS R10",
        "dcraw_matrix" : [9269, -2012, -1107, -3990, 11762

[2022-10-30 19:37] alexforencich commented on #6607
Another side note, I noticed that the EOS M3 raw_crop setting appears like it might be incorrect, at least according to the comments:

    "raw_crop": [ 72, 34, 6024, 4022 ], // full size 6096x4056, official crop 84,46,6083,4045

It's moved relative to the "official" crop towards the upper left corner, but it's significantly smaller, which doesn't make any sense to me.

[2022-10-31 03:52] alexforencich commented on #6607
What else needs to be done to fully support the R7 in RawTherapee?  It seems like there are some specific test shots that should be taken as per http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats .  Should I do that and post a link the files here?

[2022-10-31 04:06] alexforencich commented on #6607
I created a pull request with these additions here: https://github.com/Beep6581/RawTherapee/pull/6608

[2022-10-31 14:37] Entropy512 commented on #6606
Not sure if this would be solved by moving to libraw as I'm not sure if libraw supports importing the HDRI format.

A workaround would be to convert the HDRIs to float32 DNG.  RT definitely supports the latter.

[2022-11-01 09:01] NicTanghe commented on #6606
Hej thanks for the workaround I'll go test if that works.
Should be great if it does that, And raw therapy just does the conversion automatically in working space.

[2022-11-04 20:39] perwigren commented on #4982
I noticed that Rawtherapee (5.8) doesn't respect the crop information from my Ricoh GR III either, which I assume is for the same reason. I usually shoot at 35mm (equivalent) crop instead of the full 28mm. Darktable automatically crops the DNG the same way as the camera does. So does Apple's Preview.app. Rawtherapee doesn't, however.
Here is an example RAW+JPEG (SOOC) shot with 35mm crop:
https://

[2022-11-05 11:33] Thanatomanic opened #6609 "Compilation on CentOS 8/9 missing libiptcdata - how to fix?"
This will become obsolete once we adopt exiv2. However, in the meanwhile I tried a native build on CentOS 8 Stream. This proved impossible because `libiptcdata-devel` is [not provided](https://pkgs.org/download/libiptcdata-devel) for this distro. I have tried to manually compile libiptcdata from source and install it, but `pkg-conf` doesn't seem to pick up on its existence. I'm not sure what I can

[2022-11-05 17:24] mattiaverga commented on #6609
If you just want to test a build locally, you can try to download and install the Fedora ELN RPMs, the latest build is available [here](https://koji.fedoraproject.org/koji/buildinfo?buildID=2033042).

If that doesn't work, you may want to look at the build logs, the Fedora specfile runs `autoreconf -fiv` and then configure with explicitly target directories set.

[2022-11-07 05:13] kgfly commented on #6188
Current latest release, https://github.com/Beep6581/RawTherapee/releases, is still 5.8, which is close to 2 years old. Will next release include m1 native install package? BTW, when will next release happen?
(I just came cross that Darktable already has m1 native install package)

Thanks.

[2022-11-07 08:44] Manfred-Knick commented on #5632
@Beep6581:  are you ok ?

[2022-11-07 08:44] Thanatomanic opened #6610 "macOS automated builds fail"
@Benitoite Could you please look at what is going on? Please see https://github.com/Beep6581/RawTherapee/actions/runs/3408747558

[2022-11-10 02:05] Lawrence37 commented on #6607
Yes, take the images described in RawPedia and post a link to them here.

For `masked_areas`, the exact number of pixels to discard from the borders is up to you, but `camconst.json` offers some guidance (2-4 pixels on each side):
https://github.com/Beep6581/RawTherapee/blob/11168aa6404b6db18c3b6e67ac12b47740369b6c/rtengine/camconst.json#L83-L85

[2022-11-14 15:08] Beep6581 commented on #5632
No, I was in an accident, but I'm recovering.

[2022-11-14 18:14] mattiaverga commented on #6609
@Thanatomanic maybe I'm a bit late, but you can now find RPMs for `libiptcdata` for EPEL8/EPEL9 (which should work with CentOS) in my testing [COPR repo](https://copr.fedorainfracloud.org/coprs/mattia/Rawtherapee-test/builds/).
I've also successfully built RT there, the only two missing deps were `libiptcdata` and `klt`.

[2022-11-15 09:18] Floessie commented on #5632
@Beep6581 Sad to hear that. I'm hoping you're recovering well!

[2022-11-15 09:50] Manfred-Knick commented on #5632
@Beep6581: All the best!

[2022-11-15 13:18] Beep6581 commented on #6606
Similar: #1895

[2022-11-15 13:26] #6598 closed, assigned to nobody

[2022-11-15 13:26] #6597 closed, assigned to nobody

[2022-11-15 16:03] Beep6581 commented on #6610
Technically I don't think we need to wait with 5.9 for this to be fixed as we should be able to trigger a rebuild of the `releases` branch or of the (future) `5.9` tag once fixed.

[2022-11-15 18:24] yajo commented on #5670
I seem to be hitting this same bug. Fortunately I can use the lens dropdown and select the lens, but I gotta admit it's not so comfortable.

FWIW:

[code]

According to https://lensfun.github.io/lenslist/ this lens is supported, although it's named  `E 16-50mm f/3.5-5.6 OSS PZ` there. I can find [two more names in lensfun codebase](https://github.com/lensfun/lensfun/blob/7731c83c219ede6463275f8360

[2022-11-15 18:32] Beep6581 commented on #5670
@yajo https://github.com/Beep6581/RawTherapee/releases/tag/nightly-github-actions

[2022-11-16 10:45] yajo commented on #5670
Nice! It works with my 2 Sony lenses. Thanks!

[2022-11-16 12:42] Beep6581 commented on #5670
Lens metadata for `a7M3Studio0008.ARW` and `chicken.arw ` displays fine in current code.

@Floessie has RT gained that special sauce?

Shall we close?

[2022-11-16 18:46] Beep6581 commented on #5632
`5.9-rc1` has been tagged.

I updated the [how-to notes](http://rawpedia.rawtherapee.com/How_to_release_RawTherapee).

I am updating the website, will finish and make it public tomorrow.

The process went smoothly on my end. Unless anyone shouts, I think we are ready to make a 5.9 release.

The automated macOS build has been failing for over a week RawTherapee/RawTherapee#6610, I don't think we ne

[2022-11-16 19:48] chaimav commented on #5632
I recommend posting a download link on pixls.us for the Release Candidate and having a larger group test it for showstoppers. If nothing comes up in 2 weeks, make it a full release.

P.S. this can also give those is 'media' (e.g DPRreview a chance to play with before the updates before the official release announcement)

[2022-11-16 20:06] waynesutton50 commented on #5632
I think Pat David posted to DP Review, Twitter, Reddit and possibly some other outlets when he announced the upcoming release on the RawTherapee website last July/August.

[2022-11-16 21:17] Lawrence37 commented on #5632
@Beep6581 I triggered the AppImage and Windows builds for 5.9-rc1. This is done through the Actions page for the specific workflow, e.g. https://github.com/Beep6581/RawTherapee/actions/workflows/windows.yml. Click the Run workflow button and choose the branch or tag.

Edit: The new tag was detected automatically and the workflow already ran since the tag pattern matched. The artifacts are also upl

[2022-11-16 23:13] Entropy512 commented on #5632
If I recall correctly, he posted to the DPR forums, but this might merit giving the news/blog team a heads-up.  Not sure what the best way to do that is.  I'll take a look tomorrow.

[2022-11-17 08:07] Floessie commented on #5670
I didn't track this issue. Maybe a change by @Thanatomanic did the trick?

[2022-11-17 08:10] Thanatomanic commented on #5670
I can take a look. I have propagated some changes from ExifTool recently which may have broken something...

[2022-11-17 09:11] Desmis commented on #5632
Hello

To sum up, Pat David @patdavid-test did a very good job in September.
https://discuss.pixls.us/t/rawtherapee-website-release-post-aka-were-not-dead-yet/31565

He has made a web page that sums up very well the main advances of 5.9. This work was done in a participatory manner.
It contains, among other things, links to
* official nightly builds
* WIP release notes from  @Thanatomanic
* etc.

[2022-11-17 12:54] Floessie commented on #5670
... or fixed something (like here). :wink:

[2022-11-17 14:09] Entropy512 commented on #5632
As far as DPR, Pat posted in the Retouching forum which a lot of people don't pay attention to - https://www.dpreview.com/forums/post/66414226

Another user did post a heads-up in the Sigma camera forum - https://www.dpreview.com/forums/post/66424113

But the main news team that maintains the front page blog was either not contacted (honestly, that announcement would be too early for trying to get

[2022-11-18 10:45] Beep6581 commented on #5632
Gents, I was given the impression that the dev branch had been feature-complete and the code stable for quite a long time, owing to the relative lack of significant activity in the dev branch in the last months. We provide continuous builds for users to find bugs. We don't need to tag beta builds, because every build is a beta build in our CI/CD flow. A release candidate is not meant for finding b

[2022-11-18 11:02] Thanatomanic commented on #5632
I understand, that makes sense. So, going for 25th of November for a release seems good to me.

@Beep6581 Any thoughts on what you personally would like to do next?

[2022-11-18 11:11] ghost commented on #5632
Just for what it is worth:

After the message on pixls about the rc1 being available for testing/trying and @Beep6581's above reply I would think that the 25th of November would be nice. There's really no need to wait any longer.

[2022-11-18 11:16] Beep6581 commented on #5632
@Thanatomanic in my mind nothing is as important for RawTherapee as adopting Exiv2 to pave a strong way forward. Personally I'll probably focus on releasing a new version of [HDRMerge](https://github.com/jcelaya/hdrmerge/) and porting Macrofusion to the latest version of Python, as time and health permits (I'm healing some broken bones).

[2022-11-18 12:31] Entropy512 commented on #5632
Yeah, exiv2 is definitely important for the metadata side of things.  What are evertone's thoughts on moving to libraw moving forward like ART did?  The legacy dcraw code is hard to FORCE3 oneself to have a desire to do any maintenance work on.  It looks like a few years ago, floating point support was an issue, but that does not appear to be the case any more (libraw now has FP support if built w

[2022-11-18 16:12] Beep6581 commented on #5632
@Entropy512 LibRaw seems like the only sane way forward at this time.

[2022-11-18 16:25] Entropy512 commented on #5632
I'll try to start poking at it in the coming weeks.

[2022-11-18 17:08] Manfred-Knick commented on #5632
:+1:   exiv2

:+1:   LibRaw 0.21

which is -RC2 by now: [ https://github.com/LibRaw/LibRaw/blob/master/libraw/libraw_version.h ]

Unfortunately, RT has already lost photo enthusiasts because of missing camera support ( dcraw: <= 2018 ! )

E.g.: m4/3; esp. Olympus E-M1 Mk III   and OMDS OM-1
[ https://discuss.pixls.us/t/support-for-the-olympus-om-1/29773/50 ]

[2022-11-18 18:03] Benitoite commented on #5632
Generating macOS universal this afternoon.  Link to follow.

[2022-11-18 21:34] Manfred-Knick commented on #5632
@Beep6581:
   "LibRaw ... the only sane way forward ..." : +1
&&
   All the best to your bones!

[2022-11-18 23:29] AndyAstbury commented on #5632
Switching to LibRaw would be absolutely the very best move, no doubt about it.

[2022-11-19 14:29] seriousm4x commented on #6469
Is there any progress on this? I'm a total noob on decoding images, but a quick google search gives instructions on how to decode huffman images.

[2022-11-20 06:31] radumitrescu commented on #6439
This is still an issue almost two years later. If I close RT without switching off of my last-edited image, while still in editor view, on next open of the program, said image will have lost all edits and no sidecar file will have been created.

[2022-11-20 06:53] Thanatomanic commented on #6439
Seeing as no one else has reported this issue, and I cannot reproduce, it is difficult to investigate.
Also, the pp3 should be created the moment you open the file. So the fact that there is nothing after you have been editing a while, seems very unlikely.
Which editor mode are you using? One editor or multiple editor mode?

~~Edit: what do you mean _two years later_? You reported this on 21 March

[2022-11-20 07:40] radumitrescu commented on #6439
I also can't reproduce it always, but it has happened many, many times over time. I am using the single editor mode.

I have, however, found away to ensure the edits are always saved, and that is once I know I'm done with an editing session, I will open up a new image in the editor, moving off of the last edited image. Doing this I have never lost edits, but I don't always remember to...

[2022-11-20 10:42] mrwonko opened #6612 "JPEG XR (*.jxr) file format support"
When I play games in HDR and take screenshots using the GeForce overlay, they get saved as HDR .jxr files. I would like to convert these "raw" files to SDR using RawTherapee.

Currently, the options for working with the file format are severely limited. The best I've found is [brion/hdrfix](https://github.com/brion/hdrfix), a command line tool for converting .jxr to .jpg. I'm attaching a before-an

[2022-11-20 15:04] Beep6581 commented on #6612
Workaround: convert JPEG XR to floating-point 16-bit or 32-bit TIFF or PNG.

[2022-11-20 15:14] Beep6581 commented on #6439
I use Manjaro and SETM/VT and have never experienced this.

You can immediately write the PP3 to disk by pressing Ctrl+Shift+s.

[2022-11-21 15:16] Entropy512 commented on #6612
int16 might also work, especially if the files are nonlinearly encoded (for example, Rec2020+PQ 10-bit) - in which case the TIFF would ideally have a matching ICC profile

I'll try to take a look at these files after the Thanksgiving holiday here in the US to at least provide some additional details on an appropriate workaround (e.g. conversion to either linear float or properly ICC-tagged TIFF)

[2022-11-21 21:31] Beep6581 commented on #5632
@Benitoite any luck?

[2022-11-22 09:59] Benitoite commented on #5632
Yes, I have generated this Universal build:
https://kd6kxr.keybase.pub/RawTherapee_macOS_11.0_Universal_5.9-rc1.zip

[2022-11-23 07:34] Benitoite commented on #6610
PR #6613 resolves this issue.  Updated the autobuild for macos.

[2022-11-23 07:48] Benitoite commented on #6580
10.10 is *highly ancient*, and the installation procedures used there are no longer relevant to modern RawTherapee. You are experiencing expected behavior.  `~/` is a relative path and not allowable in hardened runtime, which is used in RawTherapee.

[2022-11-23 07:54] Benitoite commented on #6572
Please include AboutThisBuild.txt with your report, so we may judge the compilation effort.

[2022-11-23 07:59] Benitoite commented on #6578
FAQ added to bottom of [rawpedia](http://rawpedia.rawtherapee.com/MacOS) compilation page.

[2022-11-23 08:00] Benitoite commented on #6566
PR #6613 Upped to macos-11 from OSX 10.15

[2022-11-23 08:04] Benitoite commented on #6568
Could you explain what you mean by "does not support"?  Were you obtaining some errors regarding `ar`?

[2022-11-23 08:09] Benitoite commented on #6532
@rebio No one has been convinced this is a bug.  Haze removal [(Dark Channel Prior)](https://projectsweb.cs.washington.edu/research/insects/CVPR2009/award/hazeremv_drkchnl.pdf) works well for haze removal in properly exposed images.

[2022-11-23 09:41] the-real-tokai commented on #6580
"/Users/<yourusername>/Application" or short "~/Applications" is nothing ancient and is not no longer relevant. RawTherapee feels broken. I can't install it for that reason either. I don't seem to have problems like that with any of my other apps. RawTherapee probably simply should use the proper bundle paths, not some random hardcoded system paths to lookup its dylibs, then it probably would just

[2022-11-23 14:10] #6610 closed, assigned to nobody

[2022-11-23 14:14] Beep6581 commented on #5632
Note to self:
include macOS hints in website announcement.
http://rawpedia.rawtherapee.com/MacOS#macOS_installation

[2022-11-23 14:15] Beep6581 commented on #6578
Closing as no response from OP.

[2022-11-23 14:15] #6578 closed, assigned to nobody

[2022-11-23 14:15] #6566 closed, assigned to nobody

[2022-11-23 14:18] Beep6581 commented on #6532
No raw file provided and tool not used as intended so closing.

[2022-11-23 14:18] #6532 closed, assigned to nobody

[2022-11-23 14:31] Beep6581 commented on #5632
@Benitoite so the oldest supported macOS for 5.9 is macOS Big Sur (version 11), is that correct?

[2022-11-23 20:46] nomar500 commented on #6572
@Benitoite, I have included it in my original post, have I not?
It's in the _text_ of the report, not at the paste.sh link.

[2022-11-23 21:29] nomar500 commented on #6568
@Benitoite, the impacts are unclear, to me. Maybe something to do with LTO? Maybe it has zero impact.

In the compilation log, at the very beginning, when all the various versions of the required libraries are being checked, I have the following (without the workaround in place):

[code]

The "usage" message of `ar` is the only "direct" error I see and that I can fix. I see this `ar` check is part

[2022-11-23 21:51] nomar500 commented on #6188
hi @Benitoite,
Since you've been active on MacOS aspects today, I'm bumping up this post, too.
What's your approach to making a build and a bundle for M1 Mac? Could you kindly share the options and flags you use? (i.e. are they literally what we see in rawpedia 🤔 ?)

I successfully build but I can't bundle properly. I mean: the bundle script works, I have an image, but when I drop it on the Applic

[2022-11-23 23:00] Benitoite commented on #6188
Thank you, I will take a look shortly.  In the meantime could you post AboutThisBuild.txt and any error message and the Crash Report?

[2022-11-24 19:58] beling commented on #6273
Links to Dark Table experience and implementation:
https://github.com/darktable-org/darktable/issues/10866
https://github.com/darktable-org/darktable/pull/10044

[2022-11-24 20:13] finnito opened #6614 "UI Freeze - can't apply processing profile"
**Short description**
When trying to apply a saved profile to one/many images the UI freezes and won't let me select a profile.

**Steps to reproduce**
1. Highlight a photo
2. Right click or use the Processing Profiles to apply a profile
3. See error in video here [https://youtu.be/FIKmf4Hxi7o](https://youtu.be/FIKmf4Hxi7o)

**Expected behavior**
The UI should let you select and apply a profile.

[2022-11-25 00:41] Lawrence37 commented on #6614
It's unlikely that this is a problem specific to processing profiles. Have you checked if it happens to other menus?

[2022-11-27 13:45] Manfred-Knick commented on #5632
If more people are expected to test 5.9-RC1, wouldn't it make sense to increase visibility
by (temporarily) publishing it to http://rawtherapee.com/downloads/ ?
Moreover, at the same time, this intermediate would give a strong hint "we are moving forward, indeed".

[2022-11-27 21:09] #6433 closed, assigned to nobody

[2022-11-27 21:15] Beep6581 opened #6617 "Automated macOS build - arch is missing"
macOS build filenames lack a field as can be seen by the double underscore:
`RawTherapee_macOS_10.15__6aa4c87.zip`
https://github.com/Beep6581/RawTherapee/actions/runs/3559871755/jobs/5979523410#step:6:320

Probably caused by missing `arch` in `/tools/osx/macosx_bundle.sh`
https://github.com/Beep6581/RawTherapee/blob/dev/tools/osx/macosx_bundle.sh#L95

@Benitoite can you take a look?

[2022-11-27 21:21] Beep6581 opened #6618 "Automated macOS build - various issues"
[code]

https://github.com/Beep6581/RawTherapee/actions/runs/3559871755/jobs/5979523410#step:4:111

[code]

https://github.com/Beep6581/RawTherapee/actions/runs/3559871755/jobs/5979523410#step:6:32

[code]

https://github.com/Beep6581/RawTherapee/actions/runs/3559871755/jobs/5979523410#step:6:53

[code]

https://github.com/Beep6581/RawTherapee/actions/runs/3559871755/jobs/5979523410#step:6:56

[co

[2022-11-27 21:28] Beep6581 commented on #5632
@Benitoite according to `macosx_bundle.sh` the `MINIMUM_SYSTEM_VERSION` is 10.15 (Catalina), so please help me understand what's going on. Seems to me that the current macOS workflow is not to be used.

What is a universal build?

We need a macOS build for the [5.9](https://github.com/Beep6581/RawTherapee/releases/tag/5.9) release.

[2022-11-28 13:40] Beep6581 opened #6619 "New PNG not rendered from updated SVG"
I installed and ran the build made from the `5.9-rc1` tag in Windows 10. Now I installed the `5.9` release, but the splash screen still showed the old "Release Candidate 1" text. While it's fine for various dev versions to not re-render the PNG icon cache from SVG files, different releases (i.e. builds made from different tags) must re-render the PNG cache, else the user sees not only the old spla

[2022-11-28 13:43] Beep6581 commented on #5632
5.9 is going live on the website tomorrow, would be nice if there was a macOS build to go with it.

[2022-11-28 14:40] Entropy512 commented on #5632
I believe that means x86-64 + arm64 in a single binary.

[2022-11-28 20:31] ValZapod commented on #6612
In fact there is only one HDR capable app:  https://github.com/13thsymphony/HDRImageViewer
https://www.microsoft.com/store/apps/9PGN3NWPBWL9

JPEG does not support HDR.

[2022-11-28 20:39] Beep6581 commented on #6612
ImageMagick can be used to perform the conversion.

[2022-11-28 20:40] ValZapod commented on #6612
Does it support HDR displays? Nope.

[2022-11-28 21:01] Beep6581 commented on #6612
Does a microwave oven support kitchens painted yellow?

Let's keep this issue focused on RT's support of JPEG XR.

[2022-11-28 21:18] Entropy512 commented on #6612
ImageMagick's convert tool does not support displays at all.  It just converts from one format to another - the hdrfix link states, for JXR files: "as taken with Nvidia's GeForce Experience game overlay capture utility which saves a JPEG XR in 32-bit float precision scRGB"

While it is in theory possible to combine float16 or float32 with a nonlinear transfer function such as PQ, this is *extremel

[2022-11-28 21:40] ValZapod commented on #6612
Tell that to Camera Raw 15 on MacOS that added support for HDR part of RAW photos.

[2022-11-28 21:44] Entropy512 commented on #6612
That is completely irrelevant to combining float32 with a nonstandard transfer function.  And does not provide any proof that you've actually encountered an image that combined float32 with a nonlinear transfer function.  Have an example of a DNG that is float32 and has a LinearizationTable present???  I'm not even sure if DNG allows that!

After all, JXR files are not RAW images, and many would a

[2022-11-28 21:47] ValZapod commented on #6612
Open wide-gamut.com, make sure DCI-P3 (D65 that is) or BT.2020 are available. After that use WCG images https://www.wide-gamut.com/images to test Alt-F1 of Alt-Z of Nvidia. You need HDR on in windows 11.

[2022-11-28 23:13] Entropy512 commented on #6612
You'll need to take the screenshots yourself, while I play D2 and know what it looks like on an HDR display, I don't play on Windows and PS5 screenshots are in a different format.  EDIT:  Oh wait, I didn't realize you're not even the dude who posted this issue and the example screenshots.  So you've just been obnoxiously useless here.

https://github.com/brion/hdrfix implies it is scRGB - https://

[2022-11-29 08:22] mrwonko commented on #6612
I'll get on that later today.

[2022-11-29 08:31] Thanatomanic commented on #6614
This is caused by an upstream issue https://gitlab.gnome.org/GNOME/gtk/-/issues/5305
We cannot fix it unfortunately.

[2022-11-29 08:31] #6614 closed, assigned to nobody

[2022-11-29 08:33] Thanatomanic commented on #6612
A reminder to everyone to keep things civil _and_ on topic. Discussion about workarounds or other ways to process images are better suited to our support forum on Pixls.us.

[2022-11-29 14:24] Entropy512 commented on #6612
For some of the more niche file formats, it may be beneficial to document the workaround in rawpedia.

While in theory JXR support could be added directly to RT, it's such a niche use case that I'm not sure if it is worth the effort, especially since there are fairly simple workarounds (convert to TIFF).  I may spend a little time on a conversion tool that will be a little better than JxrDecApp as

[2022-11-29 17:21] MichalStaruch opened #6620 "Support for OM System OM-1"
Please add support for OM System OM-1. I tried recently released RawTherapee 5.9, but when trying to open ORF files from OM-1 only black screen is displayed.

Link to RAW photo set: https://filebin.net/bhyf773iepkpifyq

[2022-11-29 17:36] cgohlke commented on #6612
Did you try the [`imagecodecs.cms_profile`](https://github.com/cgohlke/imagecodecs/blob/f930e75cc559f41558d2503bf62055a82b6e5950/imagecodecs/_cms.pyx#L280) function? Not sure it is decent enough. Feedback is welcome.

Is this necessary? Tifffile does not directly support the ICC profile tag, but the [`extratags`](https://github.com/cgohlke/tifffile/blob/a73812e98f58b068a590de862ed547820fd332ad/tif

[2022-11-29 18:00] Beep6581 commented on #6620
It's already supported by libraw #4462

[2022-11-29 18:32] mrwonko commented on #6612
~Ah, the zlib compression explains why zipping the result does not compress it further.~ _(I misread that.)_ [Here](https://filebin.net/v0u8e8uiulgvwdhi) are some more screenshots.

[2022-11-29 18:32] Entropy512 commented on #6612
@cgohlke Thanks for the cms_profile pointer - will take a look.  (Edit 2:  Looks like it should do the trick.  Won't be able to futz with this until later in the week though.)

as far as extratags, I may have been misled by "IPTC, ICC, and XMP metadata are not implemented" - but from the sounds of it, adding a pre-cooked bytestream is possible?

Edit:  Yup, adding
`extratags=[(34675, tifffile.DATA

[2022-11-29 18:44] Beep6581 commented on #5632
RawTherapee 5.9 has been released and is live.

[2022-11-29 18:44] Beep6581 commented on #5632
Ping me when a macOS build is available.

[2022-11-29 18:44] #5632 closed, assigned to nobody

[2022-11-29 18:49] Beep6581 opened #6621 "Roadmap for 5.10"
5.10 will feature incremental improvements and backward-compatibility with 5.9 with no radical changes.

https://github.com/Beep6581/RawTherapee/milestone/11

[2022-11-29 18:51] Beep6581 opened #6622 "Roadmap for 6.0"
6.0 will feature radical changes, code-cleanup and a break of backward-compatibility with 5.9.

https://github.com/Beep6581/RawTherapee/milestone/10

[2022-11-29 18:57] MichalStaruch commented on #6620
@Beep6581 Any schedule / milestone for implementing #4462? From my perspective it's a blocker - I cannot use RawTherapee, if it's unable to open RAW files from my camera. Other people using new cameras might have similar problems, so I think it's worth increasing priority for integrating libraw (or any other actively maintained library).

[2022-11-29 19:03] Beep6581 opened #6623 "Adopt libraw for raw file decoding"

[2022-11-29 19:04] Beep6581 commented on #6620
Adopting libraw #6623 and libexiv2 #3801 probably belongs on the [6.0](https://github.com/Beep6581/RawTherapee/milestone/10) milestone. Keep an eye on those issues, and help test patches/builds once available to speed things up.

[2022-11-29 21:19] Entropy512 commented on #6620
Given the roadmaps (6.0 vs. 5.10) - I MAY take a quick crack at fixing this on the legacy codebase so that 5.10 can at least limp along.  The OM-1 support patch in libraw did not seem *that* painful, I just have been procrastinating horribly on messing with it.  If you read the RT OM-1 thread over on pixls, you'll see that I've been procrastinating on this one since mid-March...

Obviously if an O

[2022-11-29 21:30] Entropy512 commented on #6606
As a side note, a Python script I recently wrote to handle https://github.com/Beep6581/RawTherapee/issues/6612 also handles the provided Radiance RGBE image (since that is supported by imagecodecs by @cgohlke also).  I'll post that as a workaround soon.

[2022-11-30 00:09] rgcmce commented on #6620
Don't forget support for the even newer OM-5.  (I'm assuming that OM-5 files fail to open as well, but I haven't tried nor have I seen any reports.)

[2022-11-30 01:36] Entropy512 commented on #6612
@mrwonko unsurprisingly, anything already compressed (such as JXR) does not compress well - not just the zlib-compressed TIFs from my conversion script.  I'm actually quite surprised at how large the JXRs are compared to a TIF compressed with a more primitive lossless codec (although admittedly, the lossy JXR codec likely alters the entropy of the decoded image such that it compresses better with

[2022-11-30 07:56] MichalStaruch commented on #6620
Btw. for anyone using new camera, that is not yet supported in RawTherapee - I've found another DNG-based solution: you can use [Adobe DNG Converter](https://helpx.adobe.com/camera-raw/using/adobe-dng-converter.html) (which supports more cameras) to convert RAW to DNG format, and then import DNG in RT. Worked fine for ORFs from OM-1.

[2022-11-30 08:47] Floessie commented on #5632
Pinging @innir for Debian integration. :blush:

[2022-11-30 10:16] Jacalz commented on #5632
Fedora also hasn't been updated. If anyone knows the people there it would be good to get that fixed as well :)

[2022-11-30 10:27] Floessie commented on #5632
@Jacalz Mattia Verga is already participant in this issue.

[2022-11-30 11:58] Entropy512 commented on #6620
Yup, obviously Adobe DNG converter is an option, but it's kinda clunky and bloated and doesn't run on Linux unless you use WINE - and even then, newer versions can be problematic in WINE (or at least were for a while)

[2022-11-30 13:18] Beep6581 commented on #6620
http://rawpedia.rawtherapee.com/How_to_convert_raw_formats_to_DNG

[2022-11-30 14:35] mrwonko commented on #6612
I had attempted to take a tower screenshot, but ran into unrelated technical difficulties (the screenshot key also opens the character screen, and in this case I ended up with a black screenshot, maybe because I was emoting at the time and that somehow lowers the delay before opening the character screen?) and hoped the remaining screenshots would be sufficient. Looks like I was right. :)

Can you

[2022-11-30 14:48] Beep6581 commented on #6620
And I just updated "How_to_convert_raw_formats_to_DNG" to reflect the latest version of ADC 15.0.

[2022-11-30 15:47] Entropy512 commented on #6612
https://github.com/cgohlke/imagecodecs/pull/53 - as an interim, the script I published above should work for your purposes, by using a pregenerated linear sRGB ICC profile instead of generating it on the fly like the current version of the script.

[2022-11-30 17:48] mattiaverga commented on #5632
I'll update Fedora RPMs in the next few days

[2022-11-30 18:10] tedsmith commented on #6201
Hi. Some might remember I started what turned out to be a big post about the film negative feature back in 2019. I was just checking back to see how things progressed and wanted to ask if it still only works on "digital photos" of negatives as still stated here https://rawpedia.rawtherapee.com/Film_Negative or does it now enable the user to pass a raw scan from tools like Vuescan? I ask I still do

[2022-11-30 19:34] innir commented on #5632
I just uploaded 5.9 to Debian ... so curious to see all the great improvements and new features :-) Thanks for all your work!

[2022-11-30 23:47] Entropy512 commented on #6612
Per @Thanatomanic , discussion of workarounds/preprocessing should be on pixls, so:
https://discuss.pixls.us/t/python-image-conversion-scripts-intended-primarily-for-rawtherapee-input-but-useful-otherwise/33865