[2016-08-11 00:33] romandocent commented on #3306
Ok, I'll try, then write here if it helps.

[2016-08-11 14:42] adrianc07 opened #3392 "Add Open EXR output..."
It would be great to have the possibility to render to EXR.

[2016-08-11 18:25] Beep6581 commented on #3392
Duplicate of #1895

[2016-08-11 18:25] #3392 closed

[2016-08-11 20:39] Franckel opened #3393 "RT crashes using RAF from Fuji XE2-S"
Hi all,

I use RT v 4.2.0 installed on Linux Mint 17.2 Cinnamon and have an issue with RAF from my Fuji XE-2S : Each time I open RAF, RT close immediately after a brief opening.
I also own a Fuji XT-1 and have no issue with it.
If I open a folder containing RAF from both gears, RT remain opened, I can treat RAF from XT-1, but if I double-click on a RAF from XE2-S, RT close and cannot be opened any

[2016-08-11 20:47] heckflosse commented on #3393
@Franckel 4.2.0 is really old. Can you upload one file to filebin.net and post the link here to allow us to check whether the problem still exists in master branch?

Ingo

[2016-08-11 21:01] Franckel commented on #3393
Hi Ingo,
Thanks for your quick reply.
4.2.0 is the version available in the repository for my Linux Mint. Don't know how to upgrade neither where to look for the latest version.
Whatever, what I don't understand that I don't have the issue with my XT-1 latest firmware.
Here is the link for one of the file causing the issue : https://filebin.net/401a8j3fmzhfqmil
Thanks for your help.
Regards,
Franc

[2016-08-11 21:27] heckflosse commented on #3393
@Franckel Your file opens fine in latest rt version. I'm developing on windows, not on linux, but if you read this http://50.87.144.65/~rt/w/index.php?title=Linux and follow the insrtuctions, you will be able to build rt based on latest sources!

[2016-08-11 21:42] Franckel commented on #3393
Thanks ingo, I'll give it a try.
However, I tried an upgrade and my Linux version replied me that 4.2.0 was the latest version available.
Maybe it's my Linux that is too old ;-) and doesn't support newer version of RT.
I will try tomorrow as it's late in the evening here in France.
Thanks again.

[2016-08-11 21:46] heckflosse commented on #3393
@Franckel Don't hesitate to ask for help if you have problems building rt on linux!

[2016-08-11 21:55] Franckel commented on #3393
OK, many thanks :-)
Help much appreciated.

Nice shot !!! ;-) (bud bad weather...) :-))

[2016-08-13 19:16] Franckel commented on #3393
Hi all,
Just FYI, I tried to run the unstable version of RT. Unfortunatly, the problem remains the same.

[2016-08-13 19:32] heckflosse commented on #3393
@Franckel Did you try the latest development build too? As we don't build packages for Linux ourself we don't know which version the latest 'unstable' version for your OS is (especially because for whatever reason the version is not included in the 'unstable' builds by the package maintainer).
Easiest way is to compile latest version by following the instructions I linked above.

Ingo

[2016-08-13 19:48] Franckel commented on #3393
@heckflosse Yes, I did. The unstable and the fresh one.
I'm downloading the latest version of my OS (Linux Mint 18) and will try in live session.
As I never compile nor built a program, I want to have and take my time to do it.
I believe it will be a very interesting experience ;-)
Will keep you informed.
Thanks again :-)

[2016-08-13 19:50] heckflosse commented on #3393
@Franckel I had a look at https://launchpad.net/rawtherapee-unstable
The latest unstable version for Ubuntu is from January 2016 :(

Ingo

[2016-08-13 19:59] heckflosse commented on #3393
@Franckel Update: I confirm that the latest 'official' unstable version crashes with your raw but the current development version opens it fine on the same OS.

[2016-08-13 21:03] Franckel commented on #3393
@heckflosse Thanks a lot for your time spending to my problem.
In my repositories, I have 3 different versions available for my actual OS : 1 labelled 'stable', 1 labelled 'unstable' and 1 labelled 'fresh'. The last 2 ones are in development.
But, I tried the 3 and have the issue.
So, I'm now sure that my OS is too old for the very latest version of RT.
I'm just creating the live usb stick for Lin

[2016-08-13 21:32] heckflosse commented on #3393
@Franckel Ok, I'll wait :+1:

[2016-08-13 22:12] Franckel commented on #3393
@heckflosse OK, I confirm that my Linux Mint 17.2 is too old.
I tried with Linux Mint 18 and surprisingly, the RT version was the same : 4.2.0 and didn't work.
I installed the unstable version (last modified two days ago) and it was OK.
Effectively, the last unstable version for ubuntu 14.04 is dated on January 2016.
So the conclusion is : I have to update my OS or use a live session or dual boot

[2016-08-13 22:24] heckflosse commented on #3393
@Franckel You're welcome! Compiling rt on your machine is the best solution for several reasons:

1.) You don't have to rely on package builders
2.) You'll be up to date with latest bug fixes
3.) Compiling rt on your machine does not restrict to SSE2 (as the packaged build does) but optimizes for SSE4.1 and FMA if your CPU supports that features. On my CPU, the speed performance difference between

[2016-08-16 12:56] drshortcutify opened #3394 "I cannot save an edited file."
Hello there,

I use a brand new macbook running OS X (El Capitan 10.11.4, processor 1.2 GHz Intel Core m5) and I just downloaded RT 4.2.349 from http://rawtherapee.com/downloads (4.2.876).

Without having touched any setting, I just tried to get myself familiar with the interface. So I opened a RAW image, applied some basic edits (like exposure) and tried to save it both by clicking on the save bu

[2016-08-16 19:49] Beep6581 commented on #3394
Hey

Where are you trying to save to?
When you're in the Editor tab, press Ctrl+s so that the "Save" window pops up, select a folder, make sure "Save immediately" is ticked. Take a screenshot and show us here. Then click OK. What happens? Take another screenshot if there's an error message.

[2016-08-17 07:30] NextTherapist commented on #3380
I installed 4.2.1000 from Master branch and see something which is perhaps the same effect. The thumbnails of some (CIECAM tuned) images look very coloured (quietschbunt, as we say in German). When I open them as a single image from there, the first look of the opened image has the same artificial colours for about one second, and then it switches to the right colours.

But this did not occur in p

[2016-08-17 09:21] spodzone opened #3395 "unrelated bulk changes cause saturation setting to double its value"
**Background**:
I have version
rawtherapee 1:4.2+448.g26d182d-3
from arch linux.

**Sample files** (Olympus Pen-F and a custom profile):
http://misc.sty.nu/P8135296.ORF.pp3 and http://misc.sty.nu/P8135296.ORF

**Method**:
From the File Browser pane, duplicate this ORF file a couple of times. Check in the Exposure tab and the saturation should be 36 (looks reasonable to me - make a mental note of t

[2016-08-17 09:41] heckflosse commented on #3380
@NextTherapist Can you post the changeset of 927 please (it's in preferences/About/Version). I can try then to search for the culprit.

[2016-08-17 10:21] NextTherapist commented on #3380
@heckflosse
I'm sorry, it was 922 - and I already uninstalled it. This attached

file is from the installation zip.
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/422317/AboutThisBuild.txt)

[2016-08-17 11:01] heckflosse commented on #3395
Issue confirmed

[2016-08-17 11:06] #3393 closed

[2016-08-17 11:06] heckflosse commented on #3380
@NextTherapist Thanks for AboutThisBuild.txt :+1:

[2016-08-17 13:07] drshortcutify commented on #3394
Thanks for your answer. I try to save in my pictures folder on my hard disk. I have attached two screenshots, one of the save page and one of the error message that I receive immediately after having pressed ok.

<img width="1280" alt="screenshot 2016-08-17 14 52 03" src="https://cloud.githubusercontent.com/assets/21059628/17736962/715576da-6482-11e6-9e73-3c20eb91640a.png">
<img width="1280" alt="

[2016-08-17 14:16] #3395 closed

[2016-08-17 15:15] spodzone commented on #3395
Looks good to me. Many thanks!

[2016-08-17 19:26] drshortcutify commented on #3394
Err... I have a hard time understanding why but now everything seems to be working like a charm. I can't explain it.

[2016-08-17 20:43] heckflosse commented on #3380
While searching for the reason of this issue I made some performance improvements to ciecam01 (using default values). Currently it's 10% faster than before at my machine without differences in output.
Still did not find the reason for this issue because I'm not able to reproduce it.

Ingo

[2016-08-17 21:11] Beep6581 commented on #3380
@NextTherapist sounds like the display profile kicking in. If that's the case, its not a bug, but I would like RT to not display the color-unmanaged preview if a monitor profile is used, and instead just compute the managed preview.

[2016-08-17 21:13] Beep6581 commented on #3394
Are you logged in as the "TheRez" user? Was anything removable or network mounted?

[2016-08-17 22:44] heckflosse commented on #3395
@spodzone You're welcome!

[2016-08-18 07:20] NextTherapist commented on #3380
This is definitely right, I am using a monitor profile in RT.

[2016-08-18 08:52] NextTherapist commented on #3380
No... it also happens with monitor profile "none" in RT settings.

[2016-08-18 11:29] Beep6581 commented on #3380
In some cases (when I discovered the bug) the difference was much larger, but I don't remember which photo I was working on and I didn't want to upload it as it was a private portrait.

Turns out you don't need to crop.

A way to reproduce without screenshots:
1. Open any photo (SETM)
2. Enable CIECAM02.
3. Press "z" (zoom to 100%) and "f" (zoom to fit). You might notice a difference already here,

[2016-08-18 11:30] Beep6581 commented on #3380
1. Opened image:
![imgur-2016_08_18-13 28 26](https://cloud.githubusercontent.com/assets/5844619/17772207/d8f37ac4-6547-11e6-8c5a-605636e59a4b.png)

2. Enabled CIECAM02
![imgur-2016_08_18-13 28 31](https://cloud.githubusercontent.com/assets/5844619/17772208/d8f6a514-6547-11e6-898f-0c6594814640.png)

3. z f
![imgur-2016_08_18-13 28 37](https://cloud.githubusercontent.com/assets/5844619/17772206/d8f

[2016-08-18 12:00] Beep6581 opened #3396 "CIECAM02 - initial luminance histogram brighter than subsequently calculated one"
1. Load demosaicing_city_1.pef apply neutral https://i.imgur.com/UdcKwJC.jpg
2. Enable CIECAM02. The luminance histogram spike is exactly over the middle line https://i.imgur.com/nbQwzr0.jpg
3. Disable CIECAM02 and re-enable CIECAM02 (without reloading the photo, without zooming in and out, just turn it off and on). The luminance histogram spike is now moved to the left of the middle vertical line

[2016-08-18 12:01] Beep6581 opened #3397 "CIECAM02 - low-res preview brighter than final preview"
1. Open demosaicing_city_1.pef, apply neutral
2. Enable CIECAM02
3. Hit z and f very quickly (almost instantly)

You see the low-res preview for a fraction of a second. It's lighter and more saturated than the final preview!

I can also reproduce this with embedded_cmyk_profile.jpg

"Preferences > Color Management > CIECAM02-Specific Settings > Scene Yb luminance (%)" must be set to "Automatic" to

[2016-08-18 19:41] #3396 closed

[2016-08-18 19:41] #3397 closed

[2016-08-18 19:43] heckflosse commented on #3380
Oups, double # didn't close this.

[2016-08-18 19:43] #3380 closed

[2016-08-20 14:52] heckflosse opened #3398 "Ciecam02: Wrong transition curve"
I found a possibly wrong curve in [color.cc function skinredfloat()](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/color.cc#L1785) which is used in ciecam02 Algorithm 'Lightness + Chroma (JC)'.

If you plot this [curve](https://filebin.net/p3cwkquvz6xnh5ju/ciecamcurve.png) you'll see a break at J = 22.
For simplicity the plot only shows range 16 <= J <= 70.
Changing the calculation

[2016-08-21 07:17] Desmis commented on #3398
@heckflosse

Hello Ingo.

I am still in "holiday" with my grandchildren. So little time to devote to RT.
But as always you're right. There is a bug in the calculation of the transition and the answer is that you propose: dred = 2.5f * J ;

Jacques

[2016-08-21 11:19] ion12 opened #3399 "New OS X builds"
@Beep6581

Finally got my work machine back in operation, new build for OS X, done in 10.11.6

https://filebin.net/p63v8x2dyspir1u0

Can also confirm that the new edit in Gimp command line is working correctly.

I can compile the gtk3 branch without errors but when I try to start it it crashes immediately
[BUG-build_gtk3.txt](https://github.com/Beep6581/RawTherapee/files/428804/BUG-build_gtk3.txt)

[2016-08-21 13:13] #3398 closed

[2016-08-21 16:08] Beep6581 commented on #3399
Great, and great! I will upload soon...

As for your crash:
1. Please try compiling a debug build and [show a stack backtrace from GDB](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces). This Apple-style stack backtrace makes my head spin.
2. Which version of gtk+ and gtkmm are you using? All I see in the log is "3.0.1",

[2016-08-22 23:57] iliasg commented on #3298
Small update ..
https://drive.google.com/file/d/0B0NqktTgc54sQmdYVE5JZ0NlVlU/view?usp=sharing
Added
Canon G7X II (same data as G7X)
Fuji X-T2 (same data as X-pro2),
Panasonic GX80/85/GX7II (separated from G7 due to different color matrix (DNG9.6)
Sony RX10III (same data as RX10II)

[2016-08-23 04:03] Jim91961 opened #3400 "Zoom 50% actually zooms to 500%"
Version:
4.2.1148 for Windows Vista/7/8/10 64 bit

Downloaded from:
http://rawtherapee.com/downloads

Operating System:
Windows 10 64 bit

Bug:
Using scroll wheel on mouse to change zoom percent works fine except for the 50% level. the 50% zoom level goes to 500%, not 50%. I noticed this in RT 4.1 as well.

GUI issue:
System Default (sRGB Color Space Profile)
The wording is too long and it display

[2016-08-23 23:47] gpopac opened #3402 "Update to Serbian translation"
Hello RT team,

I updated Serbian translation for RawTherapee some time ago. Could you commit this to the project? Not everything is translated to meet the last changes in the main branch, but I will not have the time for this soon.

[Serbian (Cyrilic Characters).txt](https://github.com/Beep6581/RawTherapee/files/433776/Serbian.Cyrilic.Characters.txt)
[Serbian (Latin Characters).txt](https://githu

[2016-08-24 08:13] Beep6581 commented on #3402
Thank you, updating.

[2016-08-24 08:13] #3402 closed

[2016-08-24 08:15] Beep6581 commented on #3400
Works fine here in Linux. Are you using LCP? Can you reproduce with a photo when the neutral profile is applied?

[2016-08-24 09:05] Beep6581 commented on #3298
Thank you @iliasg, committed.

This RAF opens fine:
http://www.imaging-resource.com/PRODS/fuji-x-t2/Y-beta-DSCF0375.RAF.HTM
49MB
` -EXIF:CompressedBitsPerPixel=2.5`
`-RAF:XTransLayout=BGGRGG RGGBGG GBRGRB RGGBGG BGGRGG GRBGBR`

This one does not:
http://www.imaging-resource.com/PRODS/fuji-x-t2/XT2hSLI00100NR0.RAF.HTM
28MB
`-EXIF:CompressedBitsPerPixel=2.5`
`-RAF:XTransLayout=GRBGBR BGGRGG RGGBGG G

[2016-08-24 09:07] #3388 closed

[2016-08-24 16:12] Jim91961 commented on #3400
What is LCP?I will test tonight with a neutral profile and no lens correction profile, then report back.

      From: Beep6581 <notifications@github.com>
 To: Beep6581/RawTherapee <RawTherapee@noreply.github.com>
Cc: Jim91961 <jrowley1961@yahoo.com>; Author <author@noreply.github.com>
 Sent: Wednesday, August 24, 2016 1:15 AM
 Subject: Re: [Beep6581/RawTherapee] Zoom 50% actually zooms to 500% (#3

[2016-08-24 18:15] sergiomb2 commented on #3388
Hello , I'm sorry, I was flagged by github ,  I see in  https://build.opensuse.org/package/show/home:rawtherapee/rawtherapee, rawtherapee-4.2.1002.tar.bz2   I deduce that is commit 1002 after last release 4.2 .
As package maintainer of Fedora I emphasize:  If you do a tag, we (distros) could package the same thing and test the same thing and start work on that , is just group some commits, no more

[2016-08-24 18:52] Beep6581 commented on #3388
We're quite aware of that. A new version will be tagged when its ready. It's not ready yet.

[2016-08-24 18:53] Beep6581 commented on #3400
LCP http://rawpedia.rawtherapee.com/Lens/Geometry#Lens_Correction_Profile

[2016-08-24 20:45] TheQuo opened #3403 "RT 4.2.1148 mucks up MakerNotes for PENTAX K-1 files"
I recently upgraded from PENTAX K10D to K-1, but the MakerNotes written by RT to the JPGs are somewhat mucked up.

**All files mentioned within this issue report are available from my dropbox:**
**[https://www.dropbox.com/sh/0yhyupwl32o04s5/AAAC1H2dk3OUXoal1Hvv4VL6a?dl=0](https://www.dropbox.com/sh/0yhyupwl32o04s5/AAAC1H2dk3OUXoal1Hvv4VL6a?dl=0)**

**Download and Version Information:**   (file: `D

[2016-08-24 20:49] Beep6581 commented on #3300
I removed "#3264 Merge branch newwavelet" so that RT5 gets out sooner and so that we have more time and less stress to complete and test the newwavelet branch.

[2016-08-24 23:50] ion12 commented on #3399
@Beep6581
Will get back to you with GDB backtrace and gtk+ & gtkmm versions at the beginning of next month.
Unfortunately I really can't follow up anything at the moment as I have a stressful deadline early next week :)

[2016-08-25 11:56] Beep6581 commented on #3399
No problem. Please report that in a new bug report issue, I'll close this one as the builds have already been uploaded.

[2016-08-25 11:56] #3399 closed

[2016-08-26 00:37] Jim91961 commented on #3400
It definitely has something to do with the LCP. I removed the LCP from a shot and moved it back to neutral and zoom worked well. I played with several variations including my edits without LCP, auto without LCP and it worked fine. I removed LCP and it worked fine. I applied LCP at the end of the stack and sometimes it worked fine, sometimes it 50% would zoom to 200% instead of 500%. Sometimes it w

[2016-08-26 05:33] Floessie commented on #3400
@Jim91961 Edited your comment above, because it included your e-mail address.

[2016-08-26 05:35] Jim91961 commented on #3400
Thank you

[2016-08-26 22:50] jaghaimo commented on #3387
~I can confirm this to be Windows 10 specific issue. Just downgraded to 8.1 and it's fine.~

Not an W10 specific issue.

[2016-08-26 23:14] heckflosse commented on #3387
@ravak That's good and bad to know. Good because you tracked it down to Windows 10. Bad because no dev is on Windows 10 currently afaik. At least I'm not (I'm on windows 7)

[2016-08-27 21:21] heckflosse opened #3405 "Speedups for black&white conversions"
I started a [new branch](https://github.com/Beep6581/RawTherapee/commits/bwspeedups) with some speedups for b&w conversions. Further speedups and cleanups will follow before I create a PR

Ingo

[2016-08-27 21:25] heckflosse commented on #3405
One result from above patch:

b&w Luminance Equalizer with Green Gamma correction set to 10 measured with usual D800 file:
before: 2536 ms
after:    1448 ms

[2016-08-28 12:49] heckflosse commented on #3405
I added a commit to the branch. Processing time for the example from above is now 1191 ms.

[2016-08-28 17:08] Beep6581 opened #3406 "Softproofing branch"
This is a general issue for things related to the softproofing branch.

[2016-08-28 17:13] Beep6581 commented on #3406
When I run a1981dbd4d1ed5c5c50a8a11053fea6ab1c0f7fa it nukes my options file. The result is almost identical to deleting the options file, with these differences (the - is when you delete the options file and run RT master, while the + is when you run RT softproofing):
[code]

[2016-08-28 17:57] Beep6581 commented on #3406
I think the rendering intents for the monitor profile are incorrectly switched under the hood. Now Relative Colorimetric is actually Perceptual, while Absolute Colorimetric and Perceptual look identical when they should not.

[2016-08-28 18:06] Beep6581 commented on #3406
In Settings I have a default monitor profile set (called "latest"). When I open a photo, the preview has not been passed through that monitor profile, even though the monitor profile combobox shows "latest". If I change from "latest" to "None" there is no difference. If I change back to "latest", it gets loaded correctly.

[2016-08-28 18:21] Beep6581 commented on #3406
I may have stumbled on the problem:
https://github.com/Beep6581/RawTherapee/blob/softproofing/rtgui/editorpanel.cc#L176

[2016-08-28 18:32] Beep6581 commented on #3406
One thing I wanted to point out in the old code.

rtgui/preferences.cc old code:
[code]

rtgui/preferences.cc new code:
[code]

Assuming index starts at 0, `monIntent->set_active (1);` used to point to Perceptual, but now it points to Relative. But when I checkout and compile `master` and delete the options file, the default monitor profile is set to Relative Colorimetric! Of course RC is the best

[2016-08-28 19:01] Beep6581 commented on #3406
From RawPedia:

For the docs, and for me, could you please describe the new preview pipeline with and without softproofing enabled?

So is this correct?

[code]

[2016-08-28 19:09] Beep6581 commented on #3406
I'm not sure soft-proofing is working correctly yet. Please try this ICC:
https://filebin.net/br6el0xq9pg0x8fc/SwappedRedAndGreen.icc
Set it as your monitor profile and as the output profile. I think what should happen is that the red and green channels are swapped once in the output profile, and then swapped again in the monitor profile, leading to a correct image, but when I do this in RT, nothi

[2016-08-29 00:06] Hombre57 commented on #3406
For the options file bug (your second comment), I experienced it myself but can't reproduce now. Anyway, I saw a problem and fixed it few minutes ago in master : the options object were reset at each call Options::readFromFile, which is not what we want if we want to cumulate the changes at each call of this method. That bug was problematic if your personal options file couldn't be read (damaged o

[2016-08-29 00:27] Hombre57 commented on #3406
`Perceptual, Relative, (Saturation,) Absolute` is the enum's order. Look for the `case rtengine::RI_PERCEPTUAL:` code, you'll see that it respect this new order (in editorpanel.cc as well as preferences.cc), or tell me what's wrong in the code.

You're right that in preferences, I didn't updated the default choice. However there is default choice mismatch in the original code between [`Options::se

[2016-08-29 09:31] Beep6581 commented on #3406
That makes sense. Since your branch adds new keys `fastexport_icm_output_bpc` and `MonitorBPC`, every pre-existing `options` file would be considered incomplete, and be reset.

Have you tried that `SwappedRedAndGreen.icc` thing? Enabling the Softproofing button does have some effect with other profiles, but it seems to have no effect with this one.

[2016-08-29 19:02] Hombre57 commented on #3406
Should be solved now.

[2016-08-29 22:58] da-phil commented on #3378
jup, I mean the detail or magnification windows you can add to the workspace. if it's that simple, can you please include this patch @heckflosse? :P

[2016-08-29 23:27] heckflosse commented on #3378
@da-phil Yes, should be no problem :) I'll do that tomorrow

[2016-08-29 23:53] #3378 closed

[2016-08-30 01:20] Hombre57 commented on #3406
I finally solved the initial use of the monitor profile bug.

Yes, but I don't even knew we could swap channels with an ICC profile. However, I don't understand why using that profile as output profile, and soft-proofing activated, does not lead to inverted channels like it does when set as monitor profile. I suspect some internal behavior in lcms. In non-soft-proofing mode, RT converts from Lab t

[2016-08-30 01:29] Hombre57 commented on #3406
I hope that with the actual bugfix, we'll not see that deleted options file bug again, otherwise we may have some complain ^^ (and it doesn't look professional)

[2016-08-30 11:05] Beep6581 commented on #3406
I'll test soon, hopefully tonight.
Thanks for the work on this, it's a very useful feature!

[2016-08-30 18:21] romandocent opened #3408 "Artifacts in blue highlights"
I have troubles in work with highlights caused by blue, mostly LED lights.
I use Nikon D600 and there is no native icm or dcp included in RT like for D700 or other cameras, so I forced to use "Camera Standard" default option in Color Management. I found dcp for D600 somewhere in internet, but it doesn't fit in most cases. RT 4.2.1152 under Ubuntu 16.04. Watch please screenshots of this bug (100% c

[2016-08-30 21:11] da-phil commented on #3288
@Beep6581 sorry for not replying for a long time :/

Actually I don't remember the version where activating "baseline exposure" led to very similar OOC jpg results. I have to look into this again when I've got more time.

Yes, I used the same DCP back then, I'm using it since quite a while now.
I'm using the vivid colour scheme for OOC jpgs in the camera, hence also the vivid DCP in RT.

I don't e

[2016-08-30 22:18] iliasg commented on #3298
@Beep6581 the 28MB file is compressed .. waiting for Libraw's code to be ported in RT ;)

[2016-08-31 14:51] TooWaBoo commented on #3408
Here's another thread about those artifacts: https://github.com/Beep6581/RawTherapee/issues/2897
It belongs to the dcp profile.

[2016-08-31 17:57] Hombre57 commented on #1812
I don't know how you would use this feature in practice, but I'd like to know if it has to be a tool (stored in the pp3) or just a volatile tool that will reset itself at each image loading ?

[2016-08-31 19:35] Floessie commented on #3406
Thanks from me, too, Jean-Christophe!

I've pulled master an hour ago and built a release build. After starting it, all my options where defaulted. Is that still expected?

Best,
Flössie

[2016-08-31 20:41] heckflosse commented on #1812
That would be useful feature. :+1: if the impact on processing time in gui is low. If there are changes in gui processing pipeline which decrease performance I will take a look to solve them.

Ingo

[2016-08-31 21:14] Hombre57 commented on #1812
thanks for the offer @heckflosse . The tool will only look at the image data at the end of the pipeline, so there shouldn't be any impact on the processing. Any comment for the pp3 vs volatile choice ?

[2016-08-31 21:19] heckflosse commented on #1812
@Hombre57 I think volatile would be sufficient

[2016-08-31 22:49] Hombre57 commented on #3406
No, but I still can't find a scenario to reproduce it.

[2016-08-31 22:52] Hombre57 commented on #3406
@Floessie  The soft-proofing branch is not yet merged to master, so if it happened to master, then the problem lies in master not in this branch, doesn't it ? Or does it reset the options file when switching back to master ?

[2016-09-01 01:12] Hombre57 commented on #1812
I think so too. And doing a Tool (i.e. saved in the pp3) for this would add much work in fact.

[2016-09-01 06:09] Floessie commented on #3406
@Hombre57 No, you must be right. I was on master and did a fast forward `git pull`, ran `make install` in the build dir and started it in `build/release`. It came up with my system's locale instead of `en_US` and with *no* file associations. Until then, I had not even pulled the soft-proofing branch. Maybe I should delete RT's config directory and start all over. Perhaps something is wrong with my

[2016-09-01 12:30] fliker09 commented on #3355
One more time, desperate one, is there any hope? :\

[2016-09-01 12:39] fliker09 opened #3409 "White balance temperature output"
It is not a bug report but a feature request. When one works in GUI, apply Auto WB and close the app, the calculated temperature is saved in pp3 file. But this doesn't happen with CLI version. It would be cool to get somehow from CLI version the temperature value (saved in pp3 file or output in the terminal)

[2016-09-01 19:09] heckflosse commented on #3355
@fliker09 I'll try to solve this now

[2016-09-01 19:16] heckflosse commented on #3355
@fliker09 Can you upload your raw file again please. Link seems to be expired. Thanks in advance.

Ingo

[2016-09-01 23:07] Hombre57 commented on #3405
Less than half the initial time, quite impressive as usual ! Works fine here.

[2016-09-01 23:08] Hombre57 commented on #3405
Just tested it in Release mode, i.e. with optimizations but w/o timers.

[2016-09-01 23:21] da-phil opened #3410 "Crash while changing chrominance denoising method"
[code]
OS: Ubuntu 16.04.1 LTS

Very rarely I'm able to crash RT when I change the chrominance denoising method between the entries, it's very similar to https://github.com/Beep6581/RawTherapee/issues/3379.
Unfortunately I was only able to reproduce the crash with my release build. I immediately should have made a debug one...

Maybe the backtrace is still of help:
[code]

Hopefully I'll be able to

[2016-09-02 05:43] Beep6581 commented on #3355
https://filebin.net/canon7dmkii

[2016-09-02 07:10] Floessie commented on #3410
@heckflosse With an 1:1 image area I get a `datalen` of 177786 [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/FTblockDN.cc#L2173), so it's definitely OOB [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/FTblockDN.cc#L2195). Shall I clamp the loop with `&& count < 65536` or is something else mathematically needed? I'd also like to convert that `int* histo` to

[2016-09-02 08:18] Beep6581 commented on #3406
SwappedRedAndGreen.icc - https://github.com/mm2/Little-CMS/issues/96

[2016-09-02 09:16] Beep6581 commented on #3406
1. RawTherapee users, myself included, don't know the RawTherapee [pipeline](http://rawpedia.rawtherapee.com/Toolchain_Pipeline), so the SVG is not very helpful.
The light green arrow which goes to the preview image, that should come from the working profile when soft-proofing is disabled, or from the output profile when soft-proofing is enabled. Instead, the only working profile box in the diagra

[2016-09-02 09:30] heckflosse commented on #3410
@Floessie Have a look at the loop which fills the histo[] array. After that loop the sum of all entries in histo[] will be = datalen, correct?
That means in the while loop we won't reach an array access with median > 65535, correct?
After the loop median can be 65536, but then the histo[] array will be accessed with median-1 which then also may not be larger than 65535.
I still don't see where an

[2016-09-02 09:40] iliasg commented on #3355
@heckflosse Ingo, I checked the files .. everything is normal regarding raw Black/White Levels.

Iliah Borg says that at least for Canon models there is a possible issue  with values at the top 1/3 stop (non linear, so unreliable for WB calculations) .. there exists a related tag in exif:maker notes named by exitool as "linearityUpperMargin" which is usually set at 10000 (14bit).

The other issue

[2016-09-02 10:19] Beep6581 commented on #3406
4. RT doesn't show CMYK profiles. https://filebin.net/pv6aovpqotx6a6rh/rgb_cmyk_icc.zip

[2016-09-02 10:26] Hombre57 commented on #3406
1.

The light green arrow which goes to the preview image, that should come from the working profile when soft-proofing is disabled, or from the output profile when soft-proofing is enabled. Instead, the only working profile box in the diagram is hanging unused on the left. This doesn't make sense to me.

I'll drop a word on where to start reading the diagram in the SVG file. It reflects the way t

[2016-09-02 10:39] Hombre57 commented on #3406
3.

In this case there's no soft-proofing at all possible and the image is converted to sRGB IIRC. I'll make a patch to make those icons insensitive in this case. Still investigating for the rest of this point.

[2016-09-02 10:41] heckflosse commented on #3410
@Floessie Another thing I don't understand:
[code]
There is no call to MadRgb inside WaveletDenoiseAllAB. It's inside ShrinkAllAB which is called inside WaveletDenoiseAllAB. Is that because it got optimized?

Ingo

[2016-09-02 15:42] Beep6581 opened #3411 "Crop not used while saving"
I'm using current `master` merged into `softproof`. When I open a DNG image, apply neutral, apply a crop, then save, the saved image either is completely uncropped, or the crop is of the wrong area.

Reproduce using:
http://rawtherapee.com/shared/test_images/eizo_vs_laptop.hdr.dng
https://i.imgur.com/MM20xZX.jpg
http://rawtherapee.com/shared/test_images/tracteur.dng
https://i.imgur.com/9bCTNVv.jpg

[2016-09-02 15:44] Beep6581 commented on #3411
Works correctly in `gtk3`. I don't currently have a clean `master` or a clean `softproofing` build to test.

[2016-09-02 16:11] Beep6581 commented on #3406
When jumping from a non-softproofing build to a softproofing one, when I open a photo which uses film simulation the preview looks good at first, but when I touch any slider, the film simulation is disabled from the preview and from the tools, and but combobox shows that I must set the film simulation folder in preferences. Reproduced in yesterday's build and reproduced in a just-now build (commit

[2016-09-02 16:16] multinaturalist opened #3412 "TIF orientation tag error message"
PROBLEM:

RT produces 2 error messages when accessing a TIF image created by **Thumbs Plus** (http://www.cerious.com). Initially, RT issues these errors when making thumbnails for each such TIF image in a selected folder, and subsequently any time I double-click on one of the TIF images to edit it in RT.  Thumbnails are made correctly, and I can still edit the image, but RT produces the 2 error me

[2016-09-02 16:16] Beep6581 commented on #3406
Reproduced #3411 in commit bdf4665.

[2016-09-02 16:22] Beep6581 commented on #3412
Hello

Thank you for a well-written report. The only thing missing is a sample image, but in this case it looks like we don't need one.

I wonder what they based that claim on, since "0" is an invalid value, as RawTherapee correctly reports:
http://www.awaresystems.be/imaging/tiff/tifftags/orientation.html

[2016-09-02 16:23] TooWaBoo commented on #3353
This issuee can be closed 'cause it's fixed by "Contrast by Detail Levels"

[2016-09-02 16:26] #3353 closed

[2016-09-02 16:27] multinaturalist commented on #3412
Thank you. I fixed the links to the error screenshot & sample image.

I will pass that information along to Thumbs Plus. Could they be leaving the field "blank," or unset?

[2016-09-02 16:32] Beep6581 opened #3413 "Cannot scroll toolbox with mousewheel when HideTPVScrollbar=true"
In `gtk3` using gtk+-3.18.9, when the vertical scrollbar is hidden, one cannot scroll the toolbox with the mousewheel. Perhaps we should disable that option in gtk3, since the vertical scrollbar auto-hides and so is never in the way.

[2016-09-02 16:40] Floessie commented on #3410
@heckflosse

Hm, or the stack frame got corrupted. I placed a SEGV in `MadRgb()` (the name speaks for itself) and the release backtrace showed another but right path. But maybe the other path gets inlined.

Yes, you opened my eyes. No, you are right. So it can't be `histo`'s fault, and as no members are accessed, `DataList` would be the next to have an eye on...

[2016-09-02 16:45] Beep6581 commented on #3412
They should consult the TIFF specification to find out.

You need not worry about it - the tag warning is just a warning, nothing fatal.

[2016-09-02 16:45] #3412 closed

[2016-09-02 17:27] heckflosse commented on #3410
@Floessie It will access OOB if datalen == 0

[2016-09-02 18:23] heckflosse commented on #3410
@Floessie MadRgb()  (the name speaks for itself). Before I optimized the denoise stuff the function also calculated the max of the histogram, but it wasn't used, so I removed it. At that time the function name was MadMax :)

Ingo

[2016-09-02 19:05] heckflosse commented on #3410
@Floessie I pushed a fix for the possible buffer underrun.

[2016-09-02 19:09] heckflosse commented on #3410
I changed the title to avoid pictures without noses ;)

[2016-09-02 20:43] da-phil commented on #3410
haha @heckflosse, I even wrote it in the text :-P

yesterday I was really tired, sorry for providing an inaccurate build info, I already copy and pasted the build info from my debug build I made after I could reproduce the crash during a gdb session of my release build, but then I couldn't reproduce it with the release build anymore, so I just changed 'debug' by 'release' in the build info field a

[2016-09-02 20:53] da-phil commented on #3410
I could reproduce it again with a release build, it seems that it's not reproducible with debug builds

Backtrace:
[code]

[2016-09-02 21:06] heckflosse commented on #3410
@da-phil Can you reproduce it with the fix from dc4bbe9 ?

[2016-09-02 21:32] TooWaBoo commented on #3413
I can scroll with the mousewheel when the scrollbar is hidden in Windows 10 RT 4.2.1174 GTK3.
Maybe it's only a Linux issue

[2016-09-02 21:43] da-phil commented on #3410
@heckflosse jup, I pulled the new code before I continued testing.

Now I could reproduce the crash with a debug build, I really needed to add `-O3` to tge compiler flags to reproduce.
Here's the backtrace:
[code]

[2016-09-02 21:45] heckflosse commented on #3410
@da-phil great, looking

[2016-09-02 21:50] heckflosse commented on #3410
@da-phil was that the result of `bt full`?

[2016-09-02 21:56] da-phil commented on #3410
oh sh*t... that was the normal backtrace, not `bt full` :fearful:
I've to try again to reproduce the crash...

[2016-09-02 22:01] da-phil commented on #3410
well, fortunately it's reasonably easy to make it crash ;)

there you go:
[code]

[2016-09-02 22:14] heckflosse commented on #3410
@da-phil Can you give a clear instruction to crash? I'll run it through valgrind then (though that will take a whole day)

Ingo

[2016-09-02 22:54] Hombre57 commented on #3411
Fixed in commit a69c631.

[2016-09-02 22:54] #3411 closed

[2016-09-02 23:02] Hombre57 commented on #3406
Point #2: solved (already committed)

[2016-09-02 23:31] Hombre57 commented on #3406
3.

I'm sorry but I don't really understand what you mean here. I see clipping in the reds for both images, so I don't understand your point. Could post some screenshots again but with a detail window (or zoomed in) of the red area, + a snapshot or the preview without soft-proofing ?

[2016-09-03 01:05] Hombre57 commented on #3406
Let me show you what I've ended up so far with my test that compares the result between RT and LR4.4, involving my monitor profile used as monitor profile (perceptual intent, like the system option and hence LR's monitor intent) and your monitor profile used as output profile (see below for the intent). No Plack Point Compensation involved.

http://imgur.com/a/yc98B

I tried to get an image in bot

[2016-09-03 07:55] Chawoosh opened #3414 "Wrong signing of rawtherapee-gtk3-1_4.2.1174-1-x86_64.pkg.tar.xz"
Yesterday Arch refuse download the new version of RT. After downloading file of RT and .sig I see that signing is wrong. Update was successful only after deleting .sig file.

[2016-09-03 11:58] helmi03 commented on #3339
https://drive.google.com/folderview?id=0B81lBx1OzJMselN2TTJTUmlJWGs
for branch master. I tried to compile for branch gtk3, but when open from /Application, rt not responding.

[2016-09-03 15:01] Beep6581 commented on #3413
Which Gtk3 version do you use?

[2016-09-03 15:04] TooWaBoo commented on #3413
Branch: gtk3
Version: 4.2.1174
Changeset: a6179ef9697c8d042e686c3a70d5da0243b7cc5f
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
**Gtkmm: V3.18.0**
Build type: release
Build flags: -m64 -mwin32 -mthreads -std=gnu++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -msse -msse2 -mwindows -fopenmp -Wno-aggressive-loop-optimizations -DNDEBUG -O3
Li

[2016-09-03 15:08] Beep6581 commented on #3413
I found that with the vertical scrollbar set to hidden using Gtk+-3.18.9, scrolling with the mouse scrollwheel only happens if the cursor is over a combobox, for example the highlight reconstruction method combobox. When it's not over the combobox, I cannot scroll down.

Strangely, if I did scroll the toolbox down by hovering the cursor over a combobox, scrolling down, moving it over the combobox

[2016-09-03 15:13] TooWaBoo commented on #3413
With GTK+ 3.18.0 no problems at all.

[2016-09-03 15:23] Beep6581 commented on #3414
@Chawoosh as stated here https://discuss.pixls.us/t/wrong-signing-of-rawtherapee-gtk3-1-4-2-1174-1-x86-64-pkg-tar-xz/2173/2?u=morgan_hardwood please report the problem in the correct place. We have nothing to do with those packages, they are run by other people.

[2016-09-03 15:23] #3414 closed

[2016-09-03 15:45] Beep6581 commented on #3339
@helmi03 thanks!

I'm a bit worried about this:
[code]

What does `gcc -march=native -E -v - </dev/null 2>&1 | grep cc1` show if you run it?

`-march=native` will compile a build which will run only on your type of CPU, so if someone with a different type of CPU downloads the build, it won't run.

Use `-DPROC_TARGET_NUMBER="1"` for a generic build.
See https://github.com/Beep6581/RawTherapee/blob/

[2016-09-03 15:54] Beep6581 commented on #3406
For the SwappedRedAndGreen-not-swapping phenomenon see https://github.com/mm2/Little-CMS/issues/96

It is maybe not a good idea to explain with screenshots, because when I view the screenshots I sent you in a color-managed viewer then they are both clipped, while only one is clipped when I turn color management off in the viewer.

I will do more testing tomorrow.

By the way, when I use a Gtk3 bui

[2016-09-03 19:50] Hombre57 commented on #3406
Still investigating on this...

[2016-09-03 20:09] Hombre57 commented on #3406
Btw, would it be possible to ask something to Marty regarding the role of the output intent ? How is it used and why is there a difference when I see the preview image in soft-proofing mode in e.g. Relative output intent, vs the real output image seen through a color managed software (IrfanView) which seem to don't care about this parameter, I always see the same thing !

My theory is : when openi

[2016-09-03 21:31] Hombre57 commented on #3406
Solved in a9fc506, as well as the nuked options file bug ! We could have solved this earlier if the error message wasn't displayed if in verbose mode only. This is solved too.

[2016-09-03 21:47] helmi03 commented on #3339
I recompiled with -DPROC_TARGET_NUMBER="1" and replaced the files with new build in https://drive.google.com/folderview?id=0B81lBx1OzJMselN2TTJTUmlJWGs

[2016-09-03 22:07] da-phil commented on #3410
@heckflosse
Actually I couldn't reproduce the crash with only changing between chrominance deno(i)sing modes, I need open some magnification windows while changing.
Open a file and do the following steps:
1. create magnification window
2. change chrominance denoising mode e to the "Auto multi-zones"
3. create a new magnification window
4. change to "Preview multi-zones"
5. repeat from step 1 and c

[2016-09-03 22:21] Beep6581 commented on #3406
@Hombre57 yes, you can ask him directly, it's still GitHub, you don't need a new account. You can also ask [Florian Hoch](http://displaycal.net/#help), author of DisplayCal, and [Graeme Gill](http://www.argyllcms.com/), author of ArgyllCMS, about how things should work and how the data should flow. They are both very knowledgeable and helpful.

[2016-09-03 22:25] Beep6581 commented on #3339
That looks good, thanks! I'll upload tomorrow.

[2016-09-03 22:52] da-phil commented on #3410
It crashed again, this time even without magnification window, only turning  "Auto multi-zones" mode on, wait a second, then turn "Preview multi-zones" mode on and save image. This time it crashed while saving the image.

[code]

[2016-09-04 07:44] NextTherapist commented on #3406
Please explain to me: what do you mean by Softproofing branch? Is there a version of RT where I can simulate photo paper output or offset output for a defined paper or machine?
And if yes, is there already an installable Windows version?

[2016-09-04 09:38] Floessie commented on #3410
Cannot make it crash with both of your methods. :(

@heckflosse Okay, so `datalen` doesn't seem to be the problem. So the question boils down to: Why is there a race (or something else) on `DataList`? From what I saw in the code, only that `memoryAllocationFailed` pattern makes me a bit uneasy. I don't know if those nested `GOMP_parallel()` calls are problematic, but creation and destruction of `w

[2016-09-04 10:37] Hombre57 commented on #3406
@NextTherapist A _xxx_ branch mean that there is a patch in Work In Progress state. This _softproofing_ branch adds soft-proofing to RT, as you have guessed.

Branches are for developer or tester who can build RT themselves, before merging them to _master_, the generally available RT version. If you have some knowledge in ICC Profile and color management, I wouldn't mind any help from you and woul

[2016-09-04 12:56] da-phil commented on #3410
Okay I guess I can reliably trigger the crash by 2 simple things:

1. Set chrominance denoising method to "Manual" and set all 3 parameter below to 0
2. Set chrominance denoising method to "Preview multi-zones"
3. Save file (to JPG, TIF etc.)

I have the suspicion that those zeros are used for calculating the preview and lead to weird operations like division by zero or anything like that. Does th

[2016-09-04 17:52] heckflosse commented on #3410
@da-phil Thanks for the new backtraces. Unfortunately all the useful information is `optimized out` :(

@Floessie Now we at least know that the crash occurs at this line:

[code]
There are only two possible reasons for the crash:

1. size of Datalist is smaller than datalen
2. `min(255, abs(static_cast<int>(DataList[i])))` gives a value outside [0;255]

To check 1. I placed a printf where the Data

[2016-09-04 18:19] Beep6581 commented on #3410
I can reproduce the crash.
`softproofing` branch, I ran RT, Preferences > Performance & Quality, set "Tool mode" to "Expert". Restart RT.
File Browser, right-click on amsterdam.pef, "Processing profile operations > Clear", then "Processing profile operations > Apply > (Neutral)", open photo.
Enable Noise Reduction, change "Chrominance - Master" from 15 to 0.
Change "Method" to "Preview multi-zones

[2016-09-04 18:42] Beep6581 commented on #3410
master - debug
https://bpaste.net/show/3c47c9c09df4

[2016-09-04 22:46] da-phil commented on #3410
@heckflosse
Now I can also crash it with a debug build without optimization turned on. Now I hope the interesting stuff is not `optimized out`.
Here's the build info:
[code]

Backtrace:
https://bpaste.net/show/736abf8fe441

[2016-09-04 22:46] heckflosse commented on #3410
@Beep6581 Imho your crash is a different one!

[2016-09-04 22:50] da-phil commented on #3410
@heckflosse
can you tell me where exactly you would put those printf statements or even better create a new "testing" branch which can be pulled by @Beep6581 and me to see the output before we crash RT?

[2016-09-04 22:50] heckflosse commented on #3410
@da-phil : I'm already inspecting your latest bt full. Thanks for your effort!!!

Ingo

[2016-09-04 22:53] heckflosse commented on #3410
@da-phi If I'm not able to detect the reason for the crash by your latest bt (which has a lot more informations) I'll tell you where to put the printfs tomorrow, ok? Give me some time, please!

Ingo

[2016-09-05 06:09] Floessie commented on #3410
@heckflosse I'm on 6.1.1.

Morgan's backtrace is interesting, because a `NaN` is used as index. As you've already said, this is a different problem, but consider the case, that `DataList` also holds a `NaN`. Converting that to an `int` is undefined behaviour and maybe GCC 5 accounts for that by not taking any precautions when it comes to `abs()`. Speaking of `abs()`: Are we sure, that this calls `

[2016-09-05 07:55] heckflosse commented on #3410
@Beep6581 I can reproduce your crash.

[2016-09-05 08:42] heckflosse commented on #3410
3ddb417 fixes the crash @Beep6581 reported

[2016-09-05 10:21] heckflosse commented on #3410
@Floessie Now I think I know what happened. As you already wrote, converting `NaN` to an `int` is undefined behaviour. If it's done by `SSE` units the result is `0x80000000 (-2147483648)`. For this value the result of `abs(int)` is undefined too. On `gcc 5.3` `abs(-2147483648)` returns `-2147483648`. This leads to the OOB access. Maybe the crash @da-phil reported is also fixed with my commit. We'l

[2016-09-05 11:04] Floessie commented on #3410
@heckflosse Ingo, your conclusions are fantastic! :+1: I failed to realize, that 2147483648 won't fit into an `int`. Now I'm excited, if that really was the case, but it's very likely.

[2016-09-05 18:16] stelariusinfinitek opened #3416 "Crash while saving a jpg photo"
This happened to me before. I changed the Preview Demosaic Method to fast because someone said this could be a fix but I don't think it matters that much. If you need any more details, just ask please. RawTherapee is something I like very much because the results are beautiful.

**OS** : Arch Linux
**DE** : Xfce4 (if it matters)
**RawTherapee** : 4.2.448 (from official repositories)
### Version :

[2016-09-05 18:33] heckflosse commented on #3416
@stelariusinfinitek Can you try latest dev version supplied by Marcin Bajor for Arch please. I don't know which version it is but it could be > 4.2.1000.
Have a look [here](http://rawtherapee.com/downloads) and select 'Arch Linux', '64-bit', 'Development version'

Ingo

[2016-09-05 18:39] stelariusinfinitek commented on #3416
Thank you. :) I didn't know about the repository. I will test it. The thing is that the crash doesn't happen all the time, just sometimes. I don't really know what to say without knowing the cause.

[2016-09-05 18:51] stelariusinfinitek commented on #3416
I worked a bit with the development version but the interface is not pleasant, too many spaces and big buttons (Gtk3 version; the system theme helps a big, some problems like big buttons at the top remain). I'll try to ignore the bug until is it fixed.

[2016-09-05 18:54] heckflosse commented on #3416
@stelariusinfinitek gtk2 version should almost look the same as 4.2.448 where you reported the bug for

[2016-09-05 19:52] stelariusinfinitek commented on #3416
I don't know how to install it, my package manager picks the one from community repository because it has the same name.

[2016-09-05 20:26] heckflosse commented on #3416
@stelariusinfinitek Maybe @Beep6581 can help you. I can't because I'm mainly on Windows

[2016-09-05 22:49] Hombre57 commented on #1812
Ok. So here is my plan :

I'd add a new button in the top toolbar of the Editor panel, next to the Hand or Straighten tool. When pressed, you'll only able to add/move/resize/delete the color pickers. When unpressed, everything will remain visible bu you won't be able to interact with the pickers anymore.

The color picker will be a square shape (I know that a circle would be better, but that may b

[2016-09-05 22:55] Hombre57 commented on #1812
And... should we be able to show/hide the pickers in some ways ? Then I'd suggest to right click on the Color Picker button, with some obvious logic.

I know that this is not intuitive, but a tooltip will be there to help. For the on preview behavior, users will have to RTFM or explore by themselves.

[2016-09-05 23:09] heckflosse commented on #1812
@Hombre57 For the circle shape maybe I can point you to the code of focus mask (where the shape also was a square before I made circles)

Ingo

[2016-09-05 23:23] da-phil commented on #3410
Commit 3ddb417 seemed to fix the crash, well done @heckflosse!

However I still wonder why the backtrace of @Beep6581 looks different to mine, although the cause for the crash was the same!?

[2016-09-05 23:35] heckflosse commented on #3410
@da-phil That's a thing I also wonder about. But do we know whether you used the same settings? Even a small difference in settings can make the crash appear at a different line of code.

[2016-09-05 23:42] heckflosse commented on #3410
@da-phil There's at least one thing which could explain the different backtraces: In case you denoised non raw files for example whereas @Beep6581 denoised a raw file

[2016-09-05 23:51] heckflosse commented on #3289
@da-phil I just dug out this Issue. Is it still valid? @Floessie Do you have an idea how to solve it?

[2016-09-06 05:10] Beep6581 commented on #3416
@stelariusinfinitek you have two options:
* http://rawtherapee.com/downloads select the "Arch Linux" platform and follow the instructions for AUR
* Compile manually http://rawpedia.rawtherapee.com/Linux

[2016-09-06 06:04] Floessie commented on #3289
@heckflosse I think, you remembered #3318, but that is unfortunately not related to this very problem. I'm still no GUI expert at all, but I'll have a look at the code. I suppose, it's not that critical in terms of time...

[2016-09-06 09:57] NextTherapist opened #3417 "Wrong IPTC tagging for german Umlaute"
RT 4.2.1000 Master writes something else instead of german Umlaute when filling in IPTC fields and exporting to JPG.

Instead of "ö" I get "ÃƒÂ¶", instead of "ü" I get "ÃƒÂ¼" and instead of "ä" I get ÃƒÂ¤".
And instead of "ß" I get "ÃƒÅ¸".

I get this wrong text in Irfanview, XNView, Photoshop CS2 - and even in Rawtherapee itself :-(

[2016-09-06 10:03] NextTherapist commented on #3301
Still exists in 4.2.1000.

[2016-09-06 10:03] Beep6581 commented on #3417
Duplicate #1314

[2016-09-06 10:03] #3417 closed

[2016-09-06 10:45] stelariusinfinitek commented on #3416
@Beep6581 , thank you.

Is this a known bug? This happened to me since I discovered RawTherapee.

[2016-09-06 12:36] morosakubek commented on #2711
Hi,
Still all Merril's cameras shows that "Exif data not available", so as i think rawtherapee can't properly read the file.

[2016-09-06 18:39] da-phil commented on #3410
@heckflosse actually I denoised a raw file too. how did you come to the conclusion I'd denoise a non-raw file? :D

[2016-09-06 20:07] da-phil commented on #3289
@heckflosse @Floessie this "flaw" is still valid, at least in `master` branch, I've not yet tested `gtk3` branch. I called it a flaw because it's just annoying when working with image folders with above 500 entries, but not critical.
I already pointed the issue out above, the crux is that `reparseDirectory()` is blocking the GUI event loop, it should run in a separate thread which belongs to `File

[2016-09-06 20:14] heckflosse commented on #3410
@da-phil I didn' come to that conclusion, but it could explain the different backtrace

[2016-09-06 20:17] heckflosse commented on #3289
@da-phil Thanks for the additional hints. It's not likely that I'll solve the Issue (because I'm not very experienced in GUI stuff). Maybe @Floessie can fix it.

[2016-09-06 21:04] heckflosse commented on #3410
I close the issue now because it seems to be solved by 3ddb417

[2016-09-06 21:04] #3410 closed

[2016-09-06 21:36] heckflosse commented on #1812
@Hombre57 focus mask uses a very simple (and fast) approach to draw small circles. Maybe you can use this too.

[2016-09-07 10:06] Floessie commented on #3289
@da-phil @heckflosse Okay, here is my first take (patch against current master):

[code]

The idea is, to accumulate calls to `reparseDir()`, as it is called many many times via `on_dir_changed()` when I'm watching a dir and then create many images in it. I've not (yet) moved the work in an own thread, as this is complicated and the preview creation is already queued. Please have a look, if this p

[2016-09-07 12:21] da-phil commented on #3289
Thank you @Floessie! I still wonder whether `FileCatalog::doReparseDirectory()` will be still run within the GTK UI thread or in a seperate thread?
I'll test it later!

[2016-09-07 13:06] Floessie commented on #3289
@da-phil `FileCatalog::doReparseDirectory()` is still run within the main loop thread. The new thing is, that you can now make mass changes to the directory you're in, and `doReparseDirectory()` will be called only once. Maybe this won't fix you very problem, but for me it made RT usable again when copying files to or deleting from the directory. Before, I had to wait for minutes. I guess, this wi

[2016-09-07 14:13] heckflosse opened #3418 "Speedups for denoise"
I prepared a new branch to address some small performance issues in denoise.

- When using `Automatic global` mode the calculation of the 3 `Chrominance values` was called too often. It was called for each detail window and also when panning around. Now it's only called once (independent on the number of detail windows) and it's also called only for the first 1:1 view, which means it's not called

[2016-09-07 15:23] heckflosse commented on #3418
I just pushed [denoise branch](https://github.com/Beep6581/RawTherapee/tree/denoise)

[2016-09-07 17:23] da-phil commented on #3289
Ah, I didn't fully realise that this was another issue with `doReparseDirectory()`.
To solve this problem I had imagined spawing an extra thread with the functionality of `doReparseDirectory()` but with a blocking call on a condition variable which will be triggered in `reparseDirectory()`.

Something like that:

[code]

It's really just a putting a thought together in a quick & dirty hack, maybe

[2016-09-07 18:43] Floessie commented on #3289
@da-phil In principle that's feasible. But as always: The devil is in the details. ;) If you come up with an implementation, we will all rejoice and the honor will be yours. Be careful when interacting with the UI thread. But first measure, if you are on the right track. I'd start the thread joinable in `FileCatalog::FileCatalog()` and destroy it in `FileCatalog::~FileCatalog()`.

[2016-09-07 18:54] Floessie commented on #3418
@heckflosse Impressive as always. :+1: Not that I understand the math, but there is a minor style glitch [here](https://github.com/Beep6581/RawTherapee/compare/denoise#diff-986675e22da438b842194e9a6cf102c6R329): This should be a good old `struct` if it has no methods/functions other than a ctor and/or dtor. And I don't know if all lower case is common for classes in RT...

[2016-09-07 19:06] heckflosse commented on #3418
@Floessie In my first version that class, struct also had a pointer to a LUT. For that reason I used a class to destroy the LUT in destructor. But then I detected that I don't need that pointer, removed it and forgot to change it from class to struct. I'll change that with before I merge the branch as well as the lower case thing. :)

[2016-09-07 19:09] heckflosse commented on #3418
I forgot to mention: Though I optimized the math behind the generation of the gamma curves and also changed the calculation from double to single precision, I had no difference in output testing with 2 files and 4 denoise methods.

[2016-09-07 20:33] da-phil commented on #3289
@Floessie Thanks for the hint, now that I had a brief look at the code it seems slightly more difficult than I imagined. I try to keep everything to `FileCatalog` class.

[2016-09-07 21:36] heckflosse commented on #3418
I made some changes: https://github.com/Beep6581/RawTherapee/commit/ef83e6b591a211afe8d4471c6933b3953ae2fd4e

[2016-09-07 22:18] heckflosse commented on #3418
@Floessie `Not that I understand the math`: I can explain it if you're interested :)

Ingo

[2016-09-08 06:02] Floessie commented on #3289
@da-phil Great! :+1: We can use your help and contribution!

[2016-09-08 06:11] Floessie commented on #3418
@heckflosse Yes, please, if your time permits. Maybe I'm (still) able to grok it. ;)

As to the `struct`: I saw that you elegantly solved the initialization with C++11. Still I think a ctor and/or dtor is perfectly fine for a `struct`. It's all about its data members. If there are accessors, it should be a class and hide its data in `private:`.

[2016-09-08 08:42] Floessie commented on #3289
@da-phil Did some research to help you with your implementation:

- Using `std::thread` and friends seems to be fine in GTK. The first "GTK thread" example I found used it as well.
- `fileBrowser->getEntries()` is not thread-safe, but there is a chance if you extend `ThumbBrowserBase` with a function `std::vector<Glib::ustring> getFilenames() const` and use the `entryRW` rw-mutex with `MYREADERLOC

[2016-09-08 11:38] heckflosse commented on #3418
@Floessie here you go :)
[gamcurve_opt.txt](https://github.com/Beep6581/RawTherapee/files/461514/gamcurve_opt.txt)

[2016-09-08 11:59] esby opened #3419 "automatic distorsion correction improvement"
I don't know if this was suggested, maybe I am missing something.

We can enable or disable distorsion correction which is fine.

But it seems we cannot run automatic distorsion automatically, one needs to click the 'auto distorsion correction' to have it run. In terms of UI, this is a waste of time, since you probably wants to use it when it is activated.

[2016-09-08 12:40] esby opened #3420 "Pink / Violet Hilights artefacts with Panasonic GH4 raws"
When shooting against daylight ('à contrejour') with my Panasonic GH4 camera , violet / pink artefacts can appear sometimes. (A 45mm olympus was mounted on it).

Here's an example of raw file showing the issue: https://filebin.net/h0d20opghd95xk99/Shooting_Alice_Genderbend_-_Parc_de_Cimiez_-_Nice_-_2016-08-23-_P1540728.RW2

The result looks like that: https://www.flickr.com/gp/styeb/6St703

This i

[2016-09-08 12:43] Floessie commented on #3418
@heckflosse Ingo, thanks for sharing an insight into your brain. ;)

It's always interesting how much you gain if you stay in the single precision realm.

Those sleef functions are scary. They must have been conceived by some long bearded Unix veteran or even earlier by a clean-shaven mathematician at Los Alamos.

Now I understand `iv` in `gammanf2lut()`. `iv` always makes me always think of "init

[2016-09-08 15:15] iliasg commented on #3420
Τhis is not RawTherapee's issue .. same happens with ACR/LR

It's an GH4 (and other m4/3 models) issue, sometimes getting worse in cooperation with specific lenses ..

[2016-09-08 15:15] #3420 closed

[2016-09-08 19:08] heckflosse commented on #3418
@Floessie

Using single precision float only didn't lead to the difference between 10.114 ms and 2.728 ms. It was using sleef functions which gave that big step. iirc the simple change from double to float resulted in a small 10% speedup.

https://plus.google.com/+NaokiShibata/posts

Yes, `iv` is simply the float version of the loop index `i` ;)

I confirm that!

Ingo

[2016-09-08 20:17] da-phil commented on #3289
@Floessie Wow, thanks for your insightful help, with those hints it will be much easier for sure! It would have taken me ages to find out about the thread-safeness of all those components! :o
I hope I can start soon, right now I've just work with RT, not working _on_RT :D

[2016-09-09 04:53] Desmis opened #3421 "Multiple control points for "locallab branch""
Hello all
After 2 mounth whithout RawtherapeeI, I updated "[locallab](https://github.com/Beep6581/RawTherapee/tree/locallab)" branch with a modification allowing several "Control points".
I put 5 control points, but it's easy to add more or less.
The proposed system is **far from perfect**, there are still many issues to be resolved.
But despite all the bugs, I prefer to distribute this change:
1)

[2016-09-09 05:34] Floessie commented on #3418
@heckflosse

So, wouldn't it be just fair to mention him as source in `sleef.c`?

[2016-09-09 05:38] Floessie commented on #3289
@da-phil You're welcome. Same with me: I'm also working more with than on RT. :)

[2016-09-09 14:37] heckflosse commented on #3418
Done :)

[2016-09-09 16:44] cm7695 opened #3422 "FocusDistanceUpper and Lower in Canon RAW CR2 is displayed as 0.0"
If I open a CR2 Raw File from my Canon 5d Mark ii (contains in MakerNotes in Subfolder CanonShotInfo focus distance, and also defined in canonattribs.cc lines 1847 1848
 )  FocusDistanceUpper and Lower are displayed as 0.0 in the Meta Data Tab.
Used Version is the git version from today.

[2016-09-09 19:14] heckflosse commented on #3421
@Desmis

Hello Jacques,

I just compiled your branch but can not find the new controls. Can you please post a screenshot?

[2016-09-09 19:58] #3418 closed

[2016-09-09 20:38] heckflosse commented on #3405
Fixed with eb3c661

[2016-09-09 20:38] #3405 closed

[2016-09-09 21:00] da-phil commented on #3418
wow, that speedup really is noticeable! I've to process a lot of high ISO shots in the next couple of days and really like that deno(i)sing is working so fast now ;)
good work ingo! :+1:

[2016-09-09 21:16] heckflosse commented on #3418
@da-phil Thanks for testing and reporting :+1:

[2016-09-10 05:58] Desmis commented on #3421
@heckflosse

Hello Ingo

Here a screenshot.
http://jacques.desmis.perso.neuf.fr/RT/multi.jpg

You can see just above "shape", the 2 sliders "Control points and "Help to Move Control point"

Jacques

[2016-09-10 08:46] heckflosse commented on #3421
@Desmis

Hello Jacques,

I must have been completely blind or confused. Now, after building again, I see it. Thank you!

Ingo

[2016-09-11 01:46] Hombre57 commented on #3406
Just gave another try to the current state of the patch. I don't see any problem so far, except that the **output** rendering intent doesn't seem to have any effect on the output image. I would be very thankful if a CMS expert (@mm2 ?) could provide some explanation on this, or point me to a webpage on this. I didn't found documentations on the output intent and its role.

Perhaps, another problem

[2016-09-11 05:31] Justinzobel opened #3424 "Please issue a release"
Issue a release, it's been nearly 2 years.

[2016-09-11 18:28] MJacal opened #3425 "A combination of settings in Wavelet's Edge Sharpnes tool crashes RawTherapee"
Tested versions:

Windows 7: 4.2.1148 gtk3
Windows 7 and 10: 4.2.1012 master
Ubuntu Studio 16.04 VM: ppa:dhor/myway rawtherapee-unstable: 4.3+git20160910-375~ubuntu16.04.1

Steps:

- Open any raw photo in editor (I have tried cr2, nef, rw2 and dng). Selecting Neutral, Default or any other profile makes no difference.
- Activate Wavelet Levels and Edge Sharpness.
- In Edge Sharpness, set Strength t

[2016-09-11 19:41] mm2 commented on #3406
Hello,

I think to properly answer your questions I should first clarify some concepts.

In color management, “proofing” relates closely to printers. A very frequent issue, when somebody prints a color managed job, is to get colors that she don’t like at all. In industry, this becomes a big issue because the obvious marketing implications. So, RIP manufacturers often offer a way to “preview” the o

[2016-09-11 19:53] heckflosse commented on #3425
Crash confirmed

[2016-09-11 22:29] da-phil opened #3427 "[Feature request] Filebrowser image items with dynamic width (panoramas in image folder)"
I'm pretty sure that I opened a feature request at googlecode some time ago about that issue.
Unfortunately I didn't find it here at github, although I'm pretty sure @Beep6581 converted all of them to github. You can close this issue in case it's somewhere here.
Now to the topic:
I'm often working with panoramas in my image folder, but when I'm browsing them in RT the filebrowser list gets messed

[2016-09-11 23:19] heckflosse commented on #3427
@da-phil I can confirm the issue as I also often have panoramas in a folder. Unfortunately I can't really help on this one because I'm mainly working on speedups and bug (crash fixes). I'm almost a gui noob. But maybe @Floessie or @Hombre57 can have a look.

Ingo

[2016-09-12 05:58] Floessie commented on #3427
@heckflosse Sorry, but I'm a GUI amateur, either. :)

[2016-09-12 06:51] Desmis commented on #3425
@heckflosse

Hello Ingo

This bug is "well known" (for me).
It is due in certain case: radius < 20 and first level = reduced and brings artifacts.

The solution you propose seems good (abs), but why not just limited to cases "reduced"

Jacques

[2016-09-12 10:55] heckflosse commented on #3425
@Desmis

Hello Jacques

you're right :)

Ingo

[2016-09-12 10:56] #3425 closed

[2016-09-12 12:00] Beep6581 commented on #3424
Duplicate of #3300
Please don't open issues like this.

[2016-09-12 12:00] #3424 closed

[2016-09-12 12:16] Beep6581 commented on #3427
Duplicate of #1239

[2016-09-12 12:16] #3427 closed

[2016-09-12 19:04] LZL1 opened #3428 "Incorrect Hue values - RT 4.2.1038, Xubuntu"
RT shows incorrect Hue (HSV) for different working profiles (color spaces),
e.g. the same point:
Hue ~ 18 sRGB
Hue ~ 22 Adobe RBG
Hue ~ 28 Wide Gamut
Hue ~ 31 ProPhoto

Lab values for this point are a~11, b~13.

I use Xubuntu 16.04.1.

Branch: master
Version: 4.2.1038
Changeset: a7dc063f35580ff7430d8954f620b6666ce03d1b
Compiler: cc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V2

[2016-09-13 15:19] heckflosse commented on #3428
[Please take a look](https://discuss.pixls.us/t/incorrect-hue-values-rt-4-2-1038-xubuntu/2240/11)

[2016-09-13 17:21] LZL1 commented on #3428
It can be closed.
To avoid this it is necessary to uncheck "Use working profile for main histogram and Navigator"
Thanks to Ingo.

[2016-09-13 17:21] #3428 closed

[2016-09-13 17:45] mmmtok opened #3429 "Navigator values for pure white jpeg are not 100%"
[Reproduction procedure]
1. Prepare pure white jpeg file whose pixel values are all 255.
2. Open the file.
3. See Navigator values.
   R, G, B are 99.6%
   V of HSV is 99.6%
   L of Lab is 99.7%

I think all should be 100%.

[Versions]
I see this with
RT 4.2.1004
OSX 10.11.6
but I believe it is platform independent.

[Candidate fix]
While 8bit image is loaded, pixel values, 0-255, are not fully ma

[2016-09-13 21:53] iliasg commented on #3429
Slower but more precise ..
 isn't  .. (srcValue+4) << 8 .. both fast and precise ?

[2016-09-14 02:07] mmmtok commented on #3429
I don't think so.  I think the requirements here are,
- 0 is mapped to 0
- 255 is mapped to 65535
- linear
The formula converts 0 to 1024 and 255 to 66304.

In my little experience in this kind of cases, however I write the formula, compilers generate hyper maniac optimized codes, far beyond my expectations.  My preference is writing simple and say "Hey Optimizer, it's your turn!"

[2016-09-14 06:37] sarak3098 opened #3431 "RE: VERSION ENDING 936 CRASHES"
When I select all to convert to jpeg to a folder, the software prompts a popup.box the server isn't working and has crshed

Please sort ir out Asap

[2016-09-14 08:46] cm7695 commented on #3422
Found the Problem:
FocusDistanceUpper and Lower are found in CanonFileInfo not in ShotInfo
Remove line
 1847   {0, AC_WRITE, 0, 0, 19, AUTO, "FocusDistanceUpper", &caFocusDistanceInterpreter},
1848    {0, AC_WRITE, 0, 0, 20, AUTO, "FocusDistanceLower", &caFocusDistanceInterpreter},

and add to canonFileInfoAttrib the lines
 {0, AC_WRITE, 0, 0, 0x0014, SSHORT, "FocusDistanceUpper", &caFocusDistance

[2016-09-14 09:15] Floessie commented on #3431
First of all: Mind your wording! Noone wants to be shouted on with ALL CAPITAL letters in the header. Noone wants to be stressed by a "Asap". Try to be kind! Bear that in mind if you want people to cooperate.

Now for your problem: You didn't provide any useful data, except "936" which makes me think, you are using the Windows XP version from June, 11th. Please note, that we've fixed some crashed

[2016-09-14 09:21] sarak3098 commented on #3431
To whom it may concern

My apologies for that in regards to the firmware I am sorry if I didn't
give the full kernel of the version bt I have windows vista and that's the
latest one

I have stopped using rawtherapee as it is severely slow

On 14 Sep 2016 10:15, "Floessie" <notifications@github.com> wrote:

[2016-09-14 09:32] Floessie commented on #3431
Apologies accepted. ;) We are kind people willing to help.

Could it be, that you've accidentally downloaded the "debug" instead of the "fast" version? Now that you are actually running Vista, why not give "RT 4.2.1148 for Windows Vista/7/8/10 64-bit - fast" on the download page a try. It's the third item from top.

And please report back, if that fixes your problem, so that we can close the issue

[2016-09-14 09:40] sarak3098 commented on #3431
My vista is 32bit for some reason 64bit rate don't work as I checked the
firmware

On 14 Sep 2016 10:32, "Floessie" <notifications@github.com> wrote:

[2016-09-14 09:55] Floessie commented on #3431
If you have a 32bit OS a 64bit application will obviously not work.

So, let's ask our project leader:
@Beep6581 Would it be possible to update the Windows XP version or provide @sarak3098 with such a version for testing purposes?

[2016-09-14 10:00] Floessie commented on #3422
Great! Thanks for finding this out and also providing a fix.

@Beep6581 Okay for you, if I fix it this way? I'd streamline it by using `AUTO` and `20`/`21`.

[2016-09-14 14:14] Floessie commented on #3429
[code]

Two more things come to my mind:
* The `const` on `srcValue` is needless. Haven't looked at the base template signature, though.
* The static casts to the destination type are unnecessary, aren't they?

[2016-09-14 16:38] Beep6581 commented on #3431
I don't see sense supporting a 32-bit Vista... but @gaaned92 if you feel like making a new Windows XP 32-bit build, we would appreciate it and I will of course update the build on our website.

As @sarak3098 hasn't provided any useful information whatsoever, and has in fact stopped using RT, I will sort this out ASAP by closing it.

[2016-09-14 16:38] #3431 closed

[2016-09-14 16:45] Beep6581 commented on #3422
Thank you @cm7695 !

@Floessie I can't comment whether that is the right thing to do, but if it fixes the problem then go ahead!

I did update all of those `/rtexif/` files based on exiftool-10.20 a few months ago. I'm not sure if I updated that function as well, I don't have the repo here so I can't run `git blame rtexif/canonattribs.cc` to find out. Could you run that and see if you can find whi

[2016-09-14 16:47] Beep6581 commented on #3422
Ha, I just found out that GitHub also supports `git blame`, so that function did not come from my update based on exiftool.
https://github.com/Beep6581/RawTherapee/blame/master/rtexif/canonattribs.cc#L1847

[2016-09-14 19:05] Floessie commented on #3422
@cm7695 Please try the newest master and report back, if this issue can be closed. Thanks!

[2016-09-14 19:46] Floessie commented on #3429
@mmmtok Okay, I've commited your fix to a new branch for everyone interested to try.

[2016-09-14 19:50] Floessie commented on #3429
@heckflosse Ingo, there are other places converting from 8 to 16 bits and vice versa, especially in the `Image*` classes. Shouldn't they be treated the same way?

[2016-09-14 20:25] heckflosse commented on #3429
@Floessie Yes, I would think so.

[2016-09-14 20:48] Hombre57 commented on #3406
@mm2
Hello Marty,

Thanks for this detailed introduction, that was very clear and instructive, and given my understanding of color management (!NULL, but far from complete ;) ), it'll never be too long !

What I understand from your answer is this (and correct me if I'm wrong) :
   1. the soft-proofing term should only be used in a printing simulation scenario only. Actually, I'm also using it to

[2016-09-15 00:03] heckflosse commented on #3431
`Please sort ir out Asap`
I thought 'Asap' is your forname :grin:

[2016-09-15 05:12] cm7695 commented on #3422
Yes, it works; this issue can be closed.
I think the problem is, that in exiftool in canon.pm in lines 2503 and 2514 these Tags are listed as FocusDistanceUpper and lower in ShotInfo; in FileInfo in lines 6258 and 6268. It's probably camera specific.
I think line 1850 is wrong:
{0, AC_WRITE, 0, 0, 24, AUTO, "MeasuredEV2", &caMeasuredEVInterpreter},

Isn't it 23 for MeasuredEV2? (Exiftool, canon.pm

[2016-09-15 08:17] Desmis commented on #3421
@heckflosse

Hello Ingo
I think, I have found a way to solve (perhaps partially)  "events"...Can I push a change, or wait ?
Thank you

Jacques

[2016-09-15 09:37] Floessie commented on #3422
@cm7695

I guess so, also according to [exiv2.org](http://www.exiv2.org/tags-canon.html). Good catch. Have you also checked the other canon tags, or shall I?

[2016-09-15 11:00] heckflosse commented on #3421
Push :)

[2016-09-15 11:29] Floessie commented on #3429
@mmmtok @iliasg I was curious and had a look at the assembly. GCC is really smart (even at `-O0`) and converts
[code]
to
[code]
So no division involved, which will also make @heckflosse happy. :)

[2016-09-15 11:32] Desmis commented on #3421
@heckflosse

Ingo and all

I think I have partially solved the problem of managing events  (I just push a change to locallab).
Nevertheless not everything works properly, including "inverse" function.

Of course there are still issues to resolve, such as the optimization, but now I think we should be able to test properly
:)

[2016-09-15 12:22] mmmtok commented on #3429
I thank my good habit of not spending time to lose the battle of wits against the compiler:stuck_out_tongue_winking_eye:

[2016-09-15 12:28] Floessie commented on #3429
I'm generally with you. On the other hand, @heckflosse shows with every commit that caring about those details still matters. :)

[2016-09-15 12:48] cm7695 commented on #3422
@Floessie I looked only at a few tags. Tomorrow I will check the whole file. But I think it is better you double-check my results afterwards. I give a feedback tomorrow or overmorrow.

[2016-09-15 13:17] Floessie commented on #3422
@cm7695 Fine, let's proceed that way. Thanks for your efforts!

[2016-09-15 15:36] sguyader commented on #3421
@Desmis
I just tried your latest changes and it looks very promising. In my quick test I was able to work on 3 separate areas, and it is easy to jump from one to another with the slider.
I only noticed that when using "noise" in one area, modifying things in another area was changing slightly the preview of the "noise" area (I guess it makes RT recalculate the random component of the noise distrib

[2016-09-15 16:05] Desmis commented on #3421
@sguyader
Sébastien

Thank you for this quick test :)

[2016-09-15 19:13] Beep6581 commented on #3406
You must select Profiling > Profile Type > XYZ LUT + Matrix (I don't know about L*a*b* LUT), and you can add further rendering intents by clicking the gear icon next to that combo and selecting the desired intent in "Gamut mapping for * intent".

[2016-09-15 23:00] madsector commented on #3229
Ok, Fujifilm X-T2 with same RAW compression just went available, maybe the now quickly growing number of users will be a motivation to raise this issue on your todo list? :-)

[2016-09-16 00:05] heckflosse commented on #3229
Yes, I know that the priority of supporting the decoding of compressed XTrans raw file raises. I'll do my very best to solve this (by using libraw code) asap. asap means not before next week because I've to drive my brother's wedding with heckflosse at the weekend :)

[2016-09-16 06:12] madsector commented on #3229
Sounds great! I wish you a fun wedding :-)

[2016-09-16 07:36] sarak3098 commented on #3431
Hi there as I havs thewibdows vista should I download this version
http://rawtherapee.com/releases_head/windows/RawTherapee_WinVista_64_Gtk3_Release_4.2.1148.zip

On 14 Sep 2016 17:38, "Beep6581" <notifications@github.com> wrote:

[2016-09-16 07:38] sarak3098 opened #3433 "Version"
Hi there

Iknow previously I sent a request syggestions about which version to download as I had issues but my dell computer is windows vista and should I download this version http://rawtherapee.com/releases_head/windows/RawTherapee_WinVista_64_Gtk3_Release_4.2.1148.zip

Regards

Sar

[2016-09-16 09:18] Floessie commented on #3433
Hi Sar,

as you have a 32 bit Vista, the version you refer to is **not** the right one. In the meantime ganeed92 over at pixls.us was kind enough to provide new Windows builds. Please have a look [there](https://discuss.pixls.us/t/new-windows-builds/615/281).

Best
Flössie

[2016-09-16 09:27] Desmis commented on #3421
I add controls for events :
* for inverse (color light, blurr, retinex);
* for the 2 methods : cursor and retinex

I hope no error...to test :)

if we admit that it works correctly, you can ask the following questions:
1) is there enough control points (actually 5). It is easy to fix another value, 3, 6, 10,...or make configurable via option ?
2) with the same general process, then there must be o

[2016-09-16 09:44] Floessie commented on #3421
@Desmis Bonjour Jacques,

I didn't have a look at the code let alone the whole feature, so please bear with me if this is a daft question: Why does the number of control points have to be fixed? I could image -- from a user's perspective -- that adding a CP when you need one would be nice. Sorry, if that idea is stupid for some obvious reason...

Best
Flössie

[2016-09-16 10:59] Desmis commented on #3421
@Floessie
Excuse my very bad english :)
In fact, in an ideal world, it would be that the user does not have to make that choice.

In this case, I was led to make choices based on a hypothetical algorithm without being sure that will go run.
Now it's run...

Probably we should be able, from the basic algorithm I imagined, find other solutions. I am open to any concrete proposal
:)

[2016-09-16 12:13] Floessie commented on #3421
@Desmis

I don't have to: You write quite understandably. :)

From the code I see, that CP 0 is special, as it is the base for the other 4 CPs. Apart from that, they seem equal.

Could it be, that the main problem for not having a dynamic number of CPs is the way they are passed between functions as `int**`? If so, storing them in a map of maps (e.g. `std::map<Item, std::map<Subitem, int>>`) could

[2016-09-16 12:25] Desmis commented on #3421
@Floessie

Hello
My english is bad, but also I am a bad computer!

For me no problem, if you think, it is better to write the code in another way : dynamic CP, mutex, etc.
You can change without problem :)

thanks in advance!

Jacques

[2016-09-16 12:43] Floessie commented on #3421
@Desmis

:joy: Biggest understatement of the year. I mean: Who is the innovator here?

I will, as time permits. Where can I find the names or meanings of the control points' attributes? I could at least help you with the storage classes and the mutex problem, but no so much with the GUI.

HTH
Flössie

[2016-09-16 16:25] Desmis commented on #3421
@Floessie

I'll try tomorrow, to explain how control points'attributes works :)

Thank you again
Jacques

[2016-09-16 18:55] Beep6581 commented on #3433
@sarak3098 please do not open issues on GitHub for personal support. User support is at https://discuss.pixls.us/c/software/rawtherapee

[2016-09-16 18:55] #3433 closed

[2016-09-16 20:18] Beep6581 commented on #3406
@Hombre57 I would like to add the soft-proofing patch to RT5 roadblockers, because it adds great value and because it cannot break anything PP3-wise. Is that OK with you?

[2016-09-16 20:23] Beep6581 commented on #3300
The `gtk3` branch has been well tested using Gtk+ 3.18, and it works generally great except for #3223 - Gtk::FileChooserButton are slow to load. I suggest releasing RT5 with a dependency requirement on Gtk+ 3.16 - 3.18. We leave 3.20 support for RT-5.1, not only because it would require weeks or months for patching and testing but also because most distros don't even ship it yet. Any objections?

[2016-09-16 20:30] heckflosse commented on #3300
One objection: As I'm still building master (gtk2) on windows, I need some help to build gtk3 an windows to avoid outage

[2016-09-16 20:45] Beep6581 commented on #3300
Making `gtk3` the new `master` does not have to happen when 5.0 is tagged. My suggestion was just about making the RT-5.0 `gtk3` branch have Gtk+ 3.16 or 3.18 as a requirement - that is we agree not to support 3.20 until after 5.0 is tagged.

[2016-09-16 21:40] heckflosse commented on #3300
Ok, then I agree :+1:

[2016-09-16 22:32] Hombre57 commented on #3406
@Beep6581 Ok, that's fine.

And do you have any comment on my last 4 questions or should I proceed like I think _should be better_ ?

[2016-09-17 00:28] heckflosse commented on #3369
Can we close this?

[2016-09-17 07:04] Desmis commented on #3421
@Floessie
I see your edit...
I describe summarily the principle :

Principle of the algorithm

I don't use layers, or layers mask...
Each control point has is own controls : transition, scope, etc.
I think we can easily use the same principle for others controls (noise, spot removal, etc.)

2 files are principally used :
* improccoordinator.cc and locallab.cc

2 files are also used but read only a

[2016-09-17 07:46] cm7695 commented on #3422
So, checked. 23 for measuredEV2.
Canon Serial Number is displayed wrong. In exiftool they say remove leading 0xff...
My image size output is probably wrong. dcraw gives a raw crop [158 51 5634 3753]. But maximum possible export size is only 5626x3745, 8 pixel removed in width and hight. My knowledge about demosaicing  is nearly zero, but if I use dcraw from command-line I get the full 5634x3753.
T

[2016-09-17 15:46] Floessie commented on #3429
@heckflosse There are other places [here](https://github.com/Beep6581/RawTherapee/blob/fix_image_datas_convert_to/rtengine/iplab2rgb.cc#L120) and [here](https://github.com/Beep6581/RawTherapee/blob/fix_image_datas_convert_to/rtengine/iplab2rgb.cc#L232) as well as [here](https://github.com/Beep6581/RawTherapee/blob/fix_image_datas_convert_to/rtengine/rawimagesource.cc#L4615) which I have not conver

[2016-09-17 23:32] #3369 closed

[2016-09-19 08:48] mbajor commented on #3359
@heckflosse Confirmed bug in gcc
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=77621

[2016-09-19 08:48] #3359 closed

[2016-09-19 09:25] Floessie commented on #3359
If that isn't a good start to the week: RT triggered (its first?) ICE! :tada: Thanks to @mbajor for actually forwarding this problem to the GCC bugzilla. :+1:

[2016-09-19 13:33] heckflosse commented on #3429
@Floessie I'm not sure. Have a look at the following example
[code]

That results in histo8 having the value 256 for all entries, good.

[code]
That results in histo8 having 257 for the entries from 0 to 254 and 1 for the entry 255, bad.

That leads me also to think about whether what we're doing here is correct at all....

[2016-09-19 13:44] Floessie commented on #3429
@heckflosse Hm, you mean the distribution?!

[2016-09-19 13:48] Floessie commented on #3429
@heckflosse A (maybe better) solution could be replicating the 8b value in the lower byte like so: `std::uint16_t res = static_cast<std::uint16_t>(in) << 8 | in`.

[2016-09-19 13:59] heckflosse commented on #3429
@Floessie yes, I mean the distribution. Still thinking about it...

[2016-09-19 14:16] Floessie commented on #3429
@heckflosse I think the multiplication by 257 to extend to 16b is right. But the inverse is wrong: We must take the upper 8b as they are, otherwise we shift the conversion offset, as 0xFFFE / 257 is 0xFE like you've thankfully found out.

[2016-09-19 14:29] heckflosse commented on #3429
@Floessie While when starting with a jpeg and writing an 8-bit file probably there's not so much difference, when starting with a raw file and writing an 8-bit file the calculation / 257 should darken the result compared to current version and the last stop is greatly under-represented.

@iliasg @Desmis @Beep6581 What's your opinion about this issue?

[2016-09-19 14:30] heckflosse commented on #3429
@Floessie you've been faster :+1:

[2016-09-19 14:35] heckflosse commented on #3429
@Floessie Multiply by 257 and divide by 256 is also not an option. Assume you load an 8-bit tiff, use neutral profile and save to 8-bit tiff. It will get brighter then, which should not be the case.

[2016-09-19 16:44] Beep6581 commented on #3406
Apologies for the late response.

1. I don't feel qualified enough to comment whether it is correct to call the output profile simulation when not used for printing "softproofing". It bugs me when people say "HDR" when they mean "(unnaturally) tone-mapped". As far as I'm concerned, calling it "softproofing" is fine.

2. I'm not sure what you mean by "_with_ a printer profile" or why that would be

[2016-09-19 18:42] mm2 commented on #3406
On Sep 19, 2016 6:44 PM, Beep6581 <notifications@github.com> wrote:

It happens sometimes the printer can print colors that the proofing monitor cannot, so you need a gamut mapping to accommodate things. Example, you print your photo using perceptual, and want to see accurately how perceptual moves colors. So, the proofed intent is perceptual and the output intent is relative or absolute colorimet

[2016-09-19 20:34] Floessie commented on #3429
@heckflosse

Well, I know your are usually right and I had a glass of wine, *but*: Are you sure about this one? Take an arbitrary hex value, e.g. 0xDE, multiply by 257 --> 0xDEDE, shift right by 8 --> 0xDE. I must be missing something. Point is: The multiplication with 257 is just for evenly filling the lower 8 bits. Division must be truncating.

True for floats, but right for integer? I mean, 0xF

[2016-09-19 20:49] heckflosse commented on #3429
@Floessie

That's what I also still think about ...

[2016-09-19 21:12] heckflosse commented on #3429
@Floessie How about this solution?:

Convert from 8 to 16 bit using * 256
Convert from 16 to 8 bit using round instead of truncate/floor (though that's a bit slower).
Show rounded values in Navigator when using the [0;255] range for showing the values.

[2016-09-19 21:32] heckflosse commented on #3429
@mmmtok

 1. Prepare pure white jpeg file whose pixel values are all 255.
 2. Open the file.
 3. See Navigator values.
 R, G, B are 99.6%
 V of HSV is 99.6%
 L of Lab is 99.7%

Do the same but using 'no profile' as 'input profile' leads to the result you expected btw. Though I currently don't know why...

[2016-09-20 01:16] iliasg commented on #3429
.. it looks like 99.6% comes from wrong top value for 8bit range ;) (255/256=0.996)
But then, I don't understand why 65535/257 gives different result than 65535 << 8 .. both should give 255 i.e. 99.6% .. no ?
@heckflosse Ingo, could it be due to inaccurate integer arithmetics in Lcms ? I have detected some inaccuracies when using Rt_sRGB (Lcms) vs "no icm .. assume sRGB" (no Lcms) as output profil

[2016-09-20 06:22] Desmis commented on #3429
I'll ave a look today afternoon :)

[2016-09-20 06:31] Floessie commented on #3429
@heckflosse

Same old problem: Max value is 0xFF00 and not 0xFFFF.

Testbed:
[code]
Gives 129 on 0, 257 from 1 to 254, and 129 on 255.

@iliasg

No, I think it's the result of `0xFF00 / 0xFFFF` (≈ 0,99611).

They both yield the same result: 65535 / 257 = 255, 65535 >> 8 = 255, but their distributions differ:

Value | / 257 | >> 8
-----|-----|-----
0xFFFF | 0xFF | 0xFF
0xFFFE | 0xFE | 0xFF
0xFFFD |

[2016-09-20 08:23] Floessie commented on #3429
@heckflosse Your rounding version, i.e. `(i + 128) / 257` has a better error distribution than `i / 256`. Maybe that's the way to go. The roundtrip works as expected.

[2016-09-20 09:55] heckflosse commented on #3429
round((i + 128) / 256) - 1

[2016-09-20 10:19] mmmtok commented on #3429
I had a background thought when I proposed my changes.  I'll be happy if you guys take time to read it.

Pixels in JPEG may have values 0xff.  The value may mean real value 0xff or the pixel may be clipped.
Because we cannot distinguish real values from clipped, we have to choose one of the options below.
Option 1: always treat 0xff as a real value.
Option 2: always regard 0xff as a clipped pixel.

[2016-09-20 10:19] iliasg commented on #3429
@Floessie thanks, now I see !
I any case this pure truncation is bad and we have to adopt the (best) rounding sheme .. (i+128 ?? ..)
I think that we can tolerate some error at the highlights but errors at the very low values are critical .. values erroneously clipped to 0 are irrecoverable.
So we have to adopt the method which gives less quantization error at the darks ..
@heckflosse Ingo, what do

[2016-09-20 10:37] iliasg commented on #3429
usefull test file
http://cl.ly/3F2v0T0j2x3P/RGB_255to0_52steps_Bayer.dng.zip

[2016-09-20 11:02] Floessie commented on #3429
@iliasg

No need to be afraid: Integer promotion will handle that properly. :)

[2016-09-20 15:31] heckflosse commented on #3429
For the case we decide to round I made a test. I converted a 36 mp file full size to jpeg.

using current method : 411 ms
using std::lround : 2709 ms

That's not acceptable. Fortunately there is a solution (at least for x86 arch, maybe some others too if we care about endianess)

Using
[code]
the processing time is 456 ms which is only a 10% slowdown compared to current version and is perfectly ac

[2016-09-20 16:01] Floessie commented on #3429
@heckflosse No, using floats is not an option, but `(i + 128) / 257` in the integer domain yields the same result.

[2016-09-20 18:21] heckflosse commented on #3429
@Floessie Ok, maybe I was a bit [off topic](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/iplab2rgb.cc#L291) ;-) I just prepare a speedup for this

[2016-09-20 19:37] Floessie commented on #3429
@heckflosse Ingo, sorry for the confusion. That was my first take on your proposal:

Fine, that this got sorted out. There are other things to consider, alas: I think we've all read @mmmtok's reasoning for why he proposed the change. He has some valid points on how to signal or not signal clipping with 0xFF or 0xFFFF, respectively. I realize both arguments make sense, so maybe we should first reac

[2016-09-20 22:38] heckflosse opened #3435 "About 15% speedup for function rtengine::lab2rgb16() when output profile != 'No ICM: sRGB Output'"
https://github.com/Beep6581/RawTherapee/pull/3434

[2016-09-20 22:44] heckflosse commented on #3429
I spoke with houz (from dt) and @Beep6581 asked in gimp channel how they convert. Both work in [0;1] range and convert using 255.

[2016-09-21 00:01] iliasg commented on #3429
Ingo, you mean int8 =  round(0_1_value * 255) .. no ?

But this issue is about navigator's pct values which should be  (to_be_exported_int8/255)*100

[2016-09-21 09:48] Desmis commented on #3429
I read all this issue!

it is a very old "bug"...about 2006...
But a small one, only for JPG :)

I think, I have not tested,  that the solution propose (after discussion between Ingo, Floessie and Ilias) seems good: round((i + 128) / 256) - 1, or something near !
Jacques

[2016-09-21 11:28] Beep6581 commented on #3429
BABL (GIMP): https://git.gnome.org/browse/babl/tree/extensions/gggl.c#n181

[2016-09-21 12:12] Floessie commented on #3429
[MagickCore (ImageMagick)](https://github.com/ImageMagick/ImageMagick/blob/master/MagickCore/quantum-private.h#L379) does round. Interesting indeed that there is no common way of "correctly" converting 16 bit to 8 bit image data.

[2016-09-21 13:36] iliasg commented on #3429
OK, we are fine with precision if we follow the BABL way ...

[2016-09-21 14:30] Floessie commented on #3429
On the other hand, the rounding method (`(i + 128) / 257`) has a better error distribution.

@heckflosse Ingo, what shall I do? And what about those places in code which I mentioned above and are not directly connected to write out 8 bit data? Please decide.

[2016-09-21 17:44] heckflosse commented on #3429
@Floessie In no case the [raw histogram](https://github.com/Beep6581/RawTherapee/blob/fix_image_datas_convert_to/rtengine/rawimagesource.cc#L4615) should be changed.
All other parts should have the same calculation, whatever that will be.
I didn't compare the 'error' distribution between `((i+128)/257` and the BABL way. Are they much different?

[2016-09-21 18:38] Floessie commented on #3429
@heckflosse The BABL way is `i / 257`, so 257 values from 0 to 254 and 1 for entry 255, as you've found out when starting the discussion about the right 16-to-8 conversion. `(i + 128) / 257` is the rounding version with 129 on 0, 257 on 1 up to 254, and 129 on 255.

So, that will include the lines in `iplab2rgb.cc`. Okay.

[2016-09-21 18:50] heckflosse commented on #3429
@Floessie I just had a look at the BABL way. For me it looks similar to (i+128)/127. Input 65535 - 127 = 65408 for example gives 255 as result. Or do I miss something

[2016-09-21 18:59] Floessie commented on #3421
@Desmis I've just started to fix the "fake" mutexes. But I have one question: What are they supposed to protect against? Especially the one [here](https://github.com/Beep6581/RawTherapee/blob/locallab/rtengine/improccoordinator.cc#L621). Should that be the same as [this one](https://github.com/Beep6581/RawTherapee/blob/locallab/rtengine/dcrop.cc#L830)?

Are they necessary at all in the light of [`

[2016-09-21 19:23] Floessie commented on #3422
@cm7695

Can you provide me with an sample CR2 (via filebin.net)? My Canon files show the same number in exiftool, exiv2, and RT.

Mine too. @Beep6581: Could you have a look? @cm7695 will hopefully provide us with a sample file.

Best
Flössie

[2016-09-21 19:29] Floessie commented on #3429
@heckflosse GitHub should really include the :facepalm: emoji just for me ...

[2016-09-21 21:14] heckflosse commented on #3435
Fixed with https://github.com/Beep6581/RawTherapee/commit/2d0e5e4feeac9801994d82c5931531f508deb2e9

[2016-09-21 21:14] #3435 closed

[2016-09-21 22:17] heckflosse commented on #3422
The pixels at the borders of the image can't be interpolated correctly by demosaicer because they lack pixels at least on on side. To give consistent demosaic results also at the borders, rt simply crops away 4 pixels from each border after demosaic for bayer sensors (for x-trans sensors it crops 7 pixels iirc).

Ingo

[2016-09-21 22:48] heckflosse commented on #3429
@iliasg

I wanted to point out that other software works in different ranges (float [0;1] for example) and they convert from/to [0;255] using 255 as divisor/factor. If you translate this to the conversion from [0;65535] to [0;255] by making the [0;1] conversion in between (remember we're still in float space at that step) you'll get (x / 65535) * 255 = x / 257. To 'correct' the rounding errors int

[2016-09-21 23:06] heckflosse commented on #3429
@Floessie

Not just for you. It would be useful for me too, especially when mixing integer and float arithmetics...

[2016-09-22 01:20] iliasg commented on #3429
@heckflosse Ingo, I thing I got a grasp of it (at last)
Just for my curiocity .. isn't the BUBL way faster than (i + 128)/257 ?

I will try to compile tomorrow to check if this commit solves the small errors I had detected on the 52step greyscale or if we have to take a look in Lcms ..

[2016-09-22 05:07] cm7695 commented on #3422
Ok, that make sense.
To SerialNumber Problem:
Exiftool displays: Serial Number                   : 3731820040
exiv2 -pv displays: 0x000c Canon        SerialNumber                Long        1  3731820040
exiv2 -pt displays: Exif.Canon.SerialNumber                      Long        1  de6f03592

Only the results from exiftool and exiv2 -pt are correct.

RT displays: 18446744073146404360

Herer is a

[2016-09-22 06:06] Desmis commented on #3421
@Floessie

The current code is the result of numerous trial and error ... and I'm not sure that everything is useful because I brought in the development of many changes.
That is why I asked the help of another developer to do a code review for its optimization.
In the case of "Mutex" I think I have come to add to manage files * .mip because during the development I had malfunctions when reading a

[2016-09-22 06:49] Floessie commented on #3429
@iliasg @heckflosse Here is the -O3 assembly:

**`(i +128) / 257`**
[code]

**`((i + 128) - ((i + 128) >> 8)) >> 8`**
[code]

I've put the reciprocal throughput for Intel Haswell according to [Agner Fog](http://www.agner.org/optimize/instruction_tables.pdf) behind the relevant mnemonics. The BABL calculation seems indeed a tad faster.

@heckflosse If we go the BABL way, I'd like to put an inline f

[2016-09-22 07:07] Floessie commented on #3421
@Desmis I see. So the (single) mutex must protect the file accesses. No problem.

Well, I've just started, but my plan is to support you with a class managing the *.mip files and a class representing the control points (which can then be passed around in a `std::vector<>` with dynamic size). I'll leave the GUI up to you. Sorry. :)

[2016-09-22 07:12] Floessie commented on #3359
... And fixed on GCC trunk r240302. :+1:

[2016-09-22 07:44] Beep6581 commented on #3359
Yay!

There were some other "internal compiler error" bugs reported in the past years though.

[2016-09-22 08:01] Beep6581 commented on #3422
Did you mean only exiftool and exiv2 -pv are correct?

`DE6F03592` seems to begin correctly with `DE6F` and then has the strange `03592`. Well `3592` dec is `0x0E08`, and `0xDE6F0E08` gives the correct dec `3731820040`.

`18446744073146404360` is `0x0xFFFFFFFFDE6F0E08`. Chop off the first 4 bytes and fixed.

`de6f03592` looks wrong, why would they intentionally mix hex and decimal? Should I report

[2016-09-22 08:44] Desmis commented on #3421
@Floessie

Thank you :)
I'll work on GUI after your modifications.

Jacques

[2016-09-22 08:46] Floessie commented on #3422
@Beep6581

Looks like a wrong sign extension, as `0xDE6F0E08` should have been treated unsigned but wasn't. I'll have a look. Thanks for your investigation.

[2016-09-22 09:07] Floessie commented on #3422
@Beep6581 Yep, it's [here](https://github.com/Beep6581/RawTherapee/blob/master/rtexif/rtexif.cc#L1560). That shouldn't be casted to `long`, which is 64b on LP64 systems (Windows is LLP64, so the error won't occur there). In fact, there is even no reason to do so. The line should simply read:

[code]

The `SLONG` is also wrong, but it won't show.

HTH
Flössie

[2016-09-22 09:53] cm7695 commented on #3422
@Beep6581 I don't know why it doesn't display the correct serial number with the -pt option. In Manual they say: interpretet.
So I would expect 0xDE6F0E08 with the -pv option (plain values) and 3731820040 with the -pt option. But not a mix of both. I didn't found a reason to write the serial number as de6f03592.
@Floessie Your line fixes the problem.

[2016-09-22 09:57] Floessie commented on #3422
@cm7695 Fine, I'll push a fix tonight.

[2016-09-22 11:05] heckflosse commented on #3429
@Floessie

I vote for the BABL way

At first thought I would have put it in rt_math.h where I also put float2int16range(). On the other side that's a file with templates which doesn't really fit to this 2 functions which are bound to types....
But I also don't know a better place than rt_math.h

[2016-09-22 11:17] Floessie commented on #3429
@heckflosse I have no problem mixing templated and non-templated math functions in r*t*_math.h (I don't think the *t* stands for *templated*). What about `uint16ToUint8Rounded()` as its name?

BTW: Have you seen CImg absorbing more and more of our fine median code?

[2016-09-22 11:39] heckflosse commented on #3429
Ok for the name and rt_math.h :+1:

[2016-09-22 11:40] heckflosse commented on #3429
Yes, I saw. I really appreciate this :+1:

[2016-09-22 12:03] Floessie commented on #3429
Yeah, me to. I'm still missing an attribution, though. :) Perhaps I trod too much on David's foot, although I didn't mean to.

[2016-09-22 13:36] heckflosse commented on #3429
I guess he missed the fact that it was your work as well. I also didn't ask him to be mentioned. He just did it. I'll ping him

[2016-09-22 13:47] Floessie commented on #3429
Thanks! He could also (and neutrally) attribute it to RT ...

[2016-09-23 20:20] eduperez opened #3437 "GTK3 branch looks bad on Fedora 24"
After upgrading from Fedora 23 to 24, GTK3 branch (built using DrSlony's buildRT script) has started to look bad (see attached screenshot).

Relevant information:
* GTK3 version:

`gtk3-3.20.9-1.fc24.x86_64`

* RawTherapee version:
[code]

* Executing RawTherapee produces the following output:
[code]

![screenshot from 2016-09-23 22-19-55](https://cloud.githubusercontent.com/assets/11459398/188001

[2016-09-23 21:26] Beep6581 commented on #3437
Gtk+ 3.20 is not supported, and frankly I think it makes more sense to skip support for 3.20 and instead aim for 3.22, released three days ago.
"GTK+ 3.22 shall be as rock-stable (and hence "boring") as GTK+ 2"
Closing.

[2016-09-23 21:26] #3437 closed

[2016-09-23 21:29] Beep6581 commented on #3251
Summary:
Gtk+ 3.20 was intended to break a lot of things, as it did.
"GTK+ 3.22 shall be as rock-stable (and hence "boring") as GTK+ 2"
Closing this issue, as there is no need to keep it open. If someone feels like supplying a patch for Gtk+ 3.20, then by all means. Personally, I will try to add support for 3.22 (as soon as Gentoo ships 3.22 packages), not sooner.

Also see https://blogs.gnome.org

[2016-09-23 21:29] #3251 closed

[2016-09-23 22:45] eduperez commented on #3437
I am afraid it does no look much better under 3.22:
![screenshot from 2016-09-24 00-31-27](https://cloud.githubusercontent.com/assets/11459398/18803424/2ccc7c9e-81f0-11e6-862d-95a29fd6ecb6.png)

[2016-09-24 05:23] iliasg commented on #3298
Updated with DNG 9.7 data and fillup some constants for 5DIV
Updated Canon 5DIV data, quality B, only Long Exposure data missing but safely guessed
New models .. Nikon D3400, Panasonic G80/G81/G85
https://drive.google.com/file/d/0B0NqktTgc54sNHNVNkxCRHpiX2c/view?usp=sharing

[2016-09-24 10:12] Beep6581 commented on #3437
3.22 is not supported yet, but if the Gtk+ quote is true then it does make sense to spend time supporting it. I will try to do that once 3.22 becomes available in Gentoo or Sabayon.
See https://github.com/Beep6581/RawTherapee/issues/3251#issuecomment-249307082

[2016-09-24 11:57] Beep6581 commented on #3298
@iliasg committed. I had to fix a typo on line 513, there was an extra comma:
[code]

[2016-09-24 12:24] Beep6581 commented on #3422
EOS 5D Mark III http://rawtherapee.com/shared/test_images/greenscreen.cr2
FocusDistanceUpper and FocusDistanceUpper were 0 in a gtk3-branch build from a few weeks ago, and are correct in the `fix-canon-exif` branch. The serial number was displayed correctly before and after the patch.
LensSerialNumber is displayed as `0000012bf9` in both before and after. Exiv2 and ExifTool display it like that as

[2016-09-24 13:07] cm7695 commented on #3422
Yes, you can close.

[2016-09-24 18:30] heckflosse commented on #3429
@Floessie https://github.com/dtschump/CImg/commit/bc721dd44180e22f3b5c84c60083516fe0c37732

[2016-09-24 20:03] Floessie commented on #3429
@heckflosse Ingo, thanks for sorting this out. :+1: You're a pal.

[2016-09-24 20:05] Floessie commented on #3422
@Beep6581 Thanks a lot for testing. I'll  merge...

[2016-09-24 20:05] #3422 closed

[2016-09-26 07:40] ravak commented on #3387
@heckflosse And now it happens on Windows 8.1 as well (latest build / 1148).

[2016-09-26 11:15] Beep6581 commented on #3387
@ravak does it happen with 4.2.936 (Gtk+ 2 not Gtk+ 3)?

[2016-09-26 11:25] heckflosse commented on #3387
@ravak Can you upload your [options file](http://50.87.144.65/~rt/w/index.php?title=File_Paths#Config) please?

[2016-09-26 15:49] ellelstone commented on #3406
FWIW, here is a comparison of soft proofing output from several different image editors that use LCMS, including RT: http://ninedegreesbelow.com//files/soft-proof/soft-proofing.html

The various softwares were mostly compiled from git on September 3. There are 3 downloadable test images.

PhotoFlow linear gamma branch (https://github.com/aferrero2707/PhotoFlow/tree/linear_gamma) has some nice code

[2016-09-26 16:46] Beep6581 commented on #3429
Hello, what is the status here?

[2016-09-26 18:34] Floessie commented on #3429
Hi @Beep6581,

from my point of view, there is only one optimization from Ingo missing for #3432. I'll push that one later this evening. Then it's just a matter of testing ...

Best
Flössie

[2016-09-26 19:57] Hombre57 commented on #3300
@heckflosse If you need help with the gtk3 branch on Windows, just drop me a word by email when you're ready to experiment.

[2016-09-26 20:00] Hombre57 commented on #3300
So if I understand correctly, the soft-proofing branch is one of the last issue to fix... :-/  I'll have to put the Locked Color Picker patch on hold and finish the Soft-proofing feature first. Do you agree to have a suboptimal soft-proof feature ? i.e. something stable and better than today's situation but still unfinished ?

[2016-09-26 20:04] Hombre57 commented on #1812
Just a comment to say that the patch is progressing well. It's more difficult than expected but I've found a solution for every problem I think. Still 20% of work to be done, it won't be finished by the end of the month but I'm confident for a mid-october first release (or before if I have more free time). It also depend on the requirment of the Soft-proofing branch for RT5 that seem to have a hig

[2016-09-26 20:19] Beep6581 commented on #3300
I think that would be fine.
Reasons:
1. It would remove stress from you,
2. It would enable wider testing,
3. Tuning the code to work perfectly for both print proofing and output proofing could take months, this would encourage a small-steps/[RERO](https://en.wikipedia.org/wiki/Release_early,_release_often) approach.

[2016-09-26 20:20] Beep6581 commented on #3186
@Hombre57 is this something you could do? I tried repeatedly and failed :(

[2016-09-26 20:41] Hombre57 commented on #3186
Gtk3 bug. I don't know if I can spend time on this. I already tried to solve the FileChooser button, but circumventing this bug need a lot of code to duplicate what's already in Gtk3 + the workaround. Really, they have to solve that in gtk3.

[2016-09-26 21:42] Beep6581 commented on #3186
The bug is that the default overflow clipping state is not-clipped, so we'd need to set that, but I don't know how. It seems like an easy peasy one-liner in the Gtk+ C docs, but I don't know how to translate that to C++.

[2016-09-27 00:10] Hombre57 commented on #3186
Fixed in commit 3bdf384, thanks for the hint @Beep6581 :)

[2016-09-27 00:10] #3186 closed

[2016-09-27 05:43] Floessie commented on #3429
Merged.

[2016-09-27 05:43] #3429 closed

[2016-09-27 06:44] Beep6581 commented on #3186
Woo! Thank you!

[2016-09-27 13:57] heckflosse commented on #3360
Done for 'default' language file.

[2016-09-27 19:08] Floessie commented on #3360
@Beep6581 I'll care about the rest. Will push directly to master.

[2016-09-27 21:17] Beep6581 commented on #3360
@Floessie I pulled before you wrote that comment and had to effectively overwrite your changes, sorry about that.

[2016-09-27 21:17] #3360 closed

[2016-09-28 09:24] iliasg commented on #3298
Ooohh the usual typo error , thanks for correcting and committing.

[2016-09-28 14:20] mks9900 commented on #3048
Hi, I would be so thankful if someone could take a look at this issue :-)
It still persists in master, info as of below:

Branch: master
Version: 4.2.1069
Changeset: 4b54f985008522e307507f3d3af882e0b07da074
Compiler: cc 5.4.0
Processor: Intel(R)\ Core(TM)\ i7-2600K\ CPU\ @\ 3.40GHz
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: debug
Build flags:  -std=gnu++11 -march=native -Werror=un

[2016-09-28 14:22] mks9900 commented on #3048
Well, the links didn't work as planned...:

[http://pastebin.com/wt9FDEFt](url)
[http://pastebin.com/GfT4rnjy](url)
[http://pastebin.com/wcZdhQvb](url)
[http://pastebin.com/qFagtmh8](url)

[2016-09-28 14:23] mks9900 commented on #3048
[http://pastebin.com/wt9FDEFt](http://pastebin.com/wt9FDEFt)
[http://pastebin.com/GfT4rnjy](http://pastebin.com/GfT4rnjy)
[http://pastebin.com/wcZdhQvb](http://pastebin.com/wcZdhQvb)
[http://pastebin.com/wcZdhQvb](http://pastebin.com/wcZdhQvb)

[2016-09-28 14:35] Floessie commented on #3048
I'll have a preliminary look at it tonight, but I can't promise anything. ;)

Images and PP3s could be beneficial. Please use [filebin.net](https://filebin.net/) for that. Thanks!

[2016-09-28 14:42] mks9900 commented on #3048
I will hang a portrait of you next to my monitor, Floessie! Files are coming...

[2016-09-28 15:43] mks9900 commented on #3048
[files at filebin.net](https://filebin.net/d1jq1e0j4l4ht09f)

Take the first one and edit the lab-curves/CH. I did like this: [Screenshot](https://johanthor.smugmug.com/RT/i-JrVMgMJ/A)

And then simply pressed F4. Boom.

[2016-09-28 16:57] heckflosse commented on #3048
@mks9900 @Floessie I can reproduce the crash when I click the button to add a control point before I press F4

[2016-09-28 17:19] heckflosse commented on #3048
I can trigger the crash this way:

Apply the first pp3 file from Johan's filebin link to two consecutive files.
Open the first one. Click on the CH curve in lab-curves and click on the pipette button in the curve dialog
Press F4 (SETM required) => crash

If I don't click on the pipette button before pressing F4 I can't trigger the crash. I also can't trigger the crash when the image I switch to us

[2016-09-28 17:21] mks9900 commented on #3048
Thank you Ingo for your research! Much appreciated!

Den 28 sep. 2016 7:19 PM skrev "Ingo Weyrich" <notifications@github.com>:

[2016-09-28 18:03] heckflosse commented on #3048
[Here's](https://gist.github.com/heckflosse/10cd3249b8296873a7420c976c29639e) a bt full

[2016-09-28 18:09] Floessie commented on #3048
Hi Ingo, now I'm with you. Looking...

[2016-09-28 18:13] heckflosse commented on #3048
@Floessie :+1:

[2016-09-28 18:25] Floessie commented on #3048
@heckflosse I fail to reproduce the problem with your instructions. I downloaded the filebin files and applied the first PP3 on the second file. I then open the first file, select CH (which is flat) and pipette, press F4 and get to the second image. I must be missing something...

Meanwhile: It's `Crop::cropMutex` that's missing (or crop instance gone), isn't it?

[2016-09-28 18:37] heckflosse commented on #3048
@Floessie both files need to have a CH curve which is not flat.

[2016-09-28 18:41] Floessie commented on #3048
@heckflosse I only get a SEGV, when I'm also using the cross-shaped button below the pipette button in CH.
[code]

[2016-09-28 18:44] Floessie commented on #3048
This time:
[code]

[2016-09-28 18:44] heckflosse commented on #3048
@Floessie `cross-shaped button`

that's what I meant by 'pipette button' Sorry for confusion

[2016-09-28 18:46] Floessie commented on #3048
@heckflosse Aha, okay. :) Then we are looking at the same problem. I'm preparing a debug build right now.

[2016-09-28 18:51] Floessie commented on #3048
@heckflosse It says "MyMutex already locked!". So it's a double lock problem. Checking paths...

[2016-09-28 19:00] Floessie commented on #3048
@heckflosse `rtengine::Crop::~Crop()` somehow calls `rtengine::Crop::setEditSubscriber()`. Checking...

[2016-09-28 19:24] Floessie commented on #3048
@heckflosse It must be something completely different: Put debug messages in `MyMutex::Lock` and `Crop::setCropSizes()`, and `cropMutex` is definitely **not** locked, when it crashes in `Crop::setEditSubscriber()`, although it spits out "MyMutex already locked!". Member damaged?

[2016-09-28 19:32] heckflosse commented on #3048
@Floessie don't know currently but I'm searching too....

[2016-09-28 19:49] heckflosse commented on #3048
@Floessie I can trigger the crash also with rgb curves, but not with the r curve (which is the first one in rgb curves). Maybe that's a hint....

[2016-09-28 19:54] heckflosse commented on #3048
@Floessie I checked my last statement using lab curves. It stands: No crash when trying with first Lab curve (L*), but crashes with a* curve.

[2016-09-28 19:59] Floessie commented on #3048
@heckflosse Same here, L okay, a crashes. We had `CurveEditorGroup::curveTypeToggled()` in the BT. Maybe something there?

Sorry, it's late and I have to leave without having provided something substantial. :unamused: I will continue to investigate tomorrow.

[2016-09-28 20:00] heckflosse commented on #3048
@Floessie same here

[2016-09-28 20:03] heckflosse commented on #3048
@Floessie

from `curveeditor.cc`

[code]

I guess above code is related.

It returns true if curve is non linear and opened. But for any curve except the first curve of the tool the  curve won't be open after F3/F4

[2016-09-28 20:23] heckflosse commented on #3048
@Floessie

in rtgui/curveeditor.cc commenting out line 276

`//        curveType->set_active( true );`

avoids the crash. Just a hint. I didn't check for other issues caused by this change yet.

[2016-09-28 20:40] heckflosse commented on #3048
@Hombre57 Can you also have a look, please?

[2016-09-28 22:30] ravak commented on #3387
@heckflosse [RawTherapee.zip](https://github.com/Beep6581/RawTherapee/files/499384/RawTherapee.zip)

@Beep6581 I wanted to test on https://filebin.net/xebizj40bdqongsf/RawTherapee_WinVista_64_Master_Debug_4.2.992.zip but it's no longer available

[2016-09-28 22:49] heckflosse commented on #3387
@ravak Can you trigger the crash also when language is set to `English (UK)` ?

[2016-09-28 23:10] heckflosse commented on #3300
I added #3048

[2016-09-28 23:22] Hombre57 commented on #3048
I'll look at this this w.e.

[2016-09-29 03:24] groovenectar opened #3439 "Lock ratio should be disabled by default, or remember the last selection"
I can't be the only one who crops most photos and generally prefers a freeform crop ratio. Designed to be a one-after-another workflow, I think that would be worth either remembering the last selection, or even disabling by default? How does anyone feel about having it disabled by default if the former option is not feasible? Any argument for enabling it each time?

[2016-09-29 06:57] Beep6581 commented on #3387
@ravak you can get and test on new builds from https://filebin.net/y0hivouboulbzadn

[2016-09-29 07:08] Beep6581 commented on #3439
"Lock ratio" was intentionally [enabled](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/procparams.cc#L1152) by default. If you don't like that, create a new default PP3 for yourself
http://rawpedia.rawtherapee.com/Creating_processing_profiles_for_general_use

[2016-09-29 07:08] #3439 closed

[2016-09-29 07:24] groovenectar commented on #3439
Thanks for the info about default profiles. That solves it. Maybe at some point one of us will get around to updating the boolean if it seems like a good idea to enough people :)

[2016-09-29 08:39] Floessie commented on #3048
@heckflosse @Hombre57 Found it! :tada:

We were simply riding a dead horse:
[code]

Fix:
[code]

Small cause, big effect. :grinning:

HTH
Flössie

[2016-09-29 09:02] mks9900 commented on #3048
Wow, super nice Flössie! I'd like to test this asap, but I'm not sure how
to patch the code using git... Any hints?
:-)

2016-09-29 10:39 GMT+02:00 Floessie <notifications@github.com>:

[2016-09-29 09:04] ravak commented on #3387
I will be traveling for a week so all testing will be done after Wed. Sorry.

[2016-09-29 09:11] Floessie commented on #3048
@mks9900 That's super simple:
* Paste the patch above into a file (obviously).
* `git apply fix-3048.patch`

Alternatively, as it's a one-liner, just fix it by hand in an editor of your choice. :smile:

HTH
Flössie

[2016-09-29 09:36] mks9900 commented on #3048
Great!! Will test when I get home tonight! 👍☺️

Den 29 sep. 2016 11:11 AM skrev "Floessie" <notifications@github.com>:

[2016-09-29 11:40] heckflosse commented on #3048
@Floessie Fix confirmed. Thannk you :+1:

[2016-09-29 14:58] mks9900 commented on #3048
It works here too!!  :+1: :)
This is just perfect, **thank you so much for this**! A question: are other tools also affected; I'm thinking of HSV-equalizer and the sorts?

[2016-09-29 15:34] mbajor opened #3440 "gcc 6.2.1 build failure"
I can't build packages (from master branch, gtk3 builds fine) for some distributions with gcc 6.2.1 (with and without msse2)
e.g. openSUSE Tumbleweed, openSUSE Factory PowerPC (ppc64, ppc64le)

There is no problem with build for openSUSE Factory PowerPC(ppc) and Arch. Both have gcc 6.2.1.

[code]

[code]

[Sample log file
](https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Tumblewe

[2016-09-29 16:28] Floessie commented on #3048
Ingen orsak. How shall I provide you with a portrait of me? :wink:

Thanks @ all for testing!

[2016-09-29 16:28] #3048 closed

[2016-09-29 17:54] mks9900 commented on #3048
Hey, that won't be a problem, I just googled your name and your picture showed up: [Flössie](http://vignette2.wikia.nocookie.net/uncyclopedia/images/d/dc/Chuck-norris-002.jpg/revision/latest?cb=20080312162141) I simply knew it had to be the right one...
:-)

[2016-09-29 22:00] heckflosse commented on #3419
@esby I started work on this Issue long time ago, but it got stale for whatever reason... For reference: https://github.com/Beep6581/RawTherapee/issues/2235

[2016-09-29 23:29] Hombre57 commented on #1812
For those of you who are interested in this feature, I've create a new `lockable-color-picker` branch with preliminary support. It's still Work In Progress but should be already usable.

The displayed values are those from the internal Working Space image (have to check that...) i.e. not color corrected. If you use this tool to compare different images, this should not be a problem.

What's alread

[2016-09-29 23:37] Hombre57 commented on #1812
Oh, I forgot to add : the user should also be able to increase the picker size. Not done yet.

Furthermore, as you can see, the picker has a fixed size whatever your zoom rate is. It means that you can collect _more_ data by zooming out, thanks to the scaling.

[2016-09-30 04:54] Sarkanyolo opened #3441 "Canon 750D red tint"
Dear Developers,

Every time I open a RAW file that has been made by my Canon 750D, the picture has huge red tint that is very hard to correct.
Strange thing is, that it looks perfect as a preview, the red tint appears when I want to develop it.
I also tried with sample RAW images that [I found here](http://www.photographyblog.com/previews/canon_eos_750d_photos/), and the result is the same.

I'm

[2016-09-30 05:36] PhilBaz commented on #1812
Bravo, looking forward to trying it out. Please let me know if I can be of
help in testing. I don't know how to complied but am glad to test is there
is an exe available.

Seems like it has really be come a fully developed feature. Thanks for all
your time and effort. I'm sure it will be appreciated by many.

On Sep 30, 2016 12:37 PM, "Jean-Christophe" <notifications@github.com>
wrote:

[2016-09-30 05:55] #3419 closed

[2016-09-30 05:58] Beep6581 commented on #3441
@Sarkanyolo "latest" is very vague, please provide proper details and upload your Canon 750D raw file using https://filebin.net/
See http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-09-30 06:02] Beep6581 commented on #1812
Good news!

That's as it should be. Color correction is for the user's eyes. It would be good if the values displayed were of the same thing as those in the current Navigator panel - i.e. either working or output space.

[2016-09-30 06:32] Hombre57 commented on #1812
@PhilBaz If you're using Windows 64 bits, I can send you a full install that you should install next to your current one. I wouldn't make it the production version since I don't know if it's crash free.

@Beep6581 Ok, will use the same internal image than the Navigator tool.

[2016-09-30 06:47] Sarkanyolo commented on #3441
Dear Beep6581,

The version is 4.2.1 x64 on Windows 7 x64.
Any RAW file on the linked page creates the same red tinted image.
For your example I uploaded one of them to here: [https://filebin.net/gcmdxu46w7ka2fxj](https://filebin.net/gcmdxu46w7ka2fxj)

[2016-09-30 07:53] Hombre57 commented on #3440
I'm at work so I can't commit a patch right now, but I've fixed that in the lockable-color-picker branch by replacing `dir` by `dir->get_basename()` where the error occur.

[2016-09-30 08:05] Floessie commented on #3440
@mbajor As it doesn't seem GCC related, do the gtkmm versions differ between those builds that work and those that don't?

[2016-09-30 08:08] iliasg commented on #3441
@Sarkanyolo Please use the latest release version .. https://filebin.net/y0hivouboulbzadn

[2016-09-30 08:15] Sarkanyolo commented on #3441
@iliasg The issue is fixed in the version 4.2.1234.
When you plan to officially release these changes?

[2016-09-30 08:28] Beep6581 commented on #3441
Thank you @Sarkanyolo

We are releasing a new "stable" version shortly - see #3300

[2016-09-30 08:28] #3441 closed

[2016-09-30 08:49] TooWaBoo opened #3442 "Deutsch locale update based on RT 4.2.1234"
New Update 30. Sep.2016 19:43
deleted
New Update 30. Sep.2016 22:48
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/503788/Deutsch.txt)

[2016-09-30 13:16] sguyader commented on #1812
@Hombre57 Thanks Jean-Christophe for working on this tool. I don't know if it's generally useful, but for exemple when I try to emulate some color styles (for example trying to emulate some Fujifilm film simulation) I found that I needed to measure not only HSV values, but also L* (in L*a*b*) values to get a correct contrast curve (and also sometimes L values for fine tuning). If you could make th

[2016-09-30 15:30] da-phil commented on #2543
This is a feature I'd be also interested in, it would help RT to get access to a big (open source) lens correction database.

[2016-09-30 17:24] Floessie commented on #3442
@TooWaBoo :+1: There is at least one inconsistency with "Film Simulation" vs. "Filmsimulation" (preferred) and "der Pixel" vs. "das Pixel" (preferred).

[2016-09-30 17:44] TooWaBoo commented on #3442
@Floessie
Thanks

Changed **"Film Simulation"** to **"Filmsimulation"**, but in this context **"Anteil der Pixel, die sich bei..."**, **"der Pixel"** is correct .

[2016-09-30 19:20] Hombre57 commented on #1812
@sguyader I'll look into that, should be possible.

[2016-09-30 20:16] mbajor commented on #3440
@Floessie There are more differences
e.g.
[openSUSE Factory PowerPC ppc (build success)
](http://pastebin.com/J3qJL7dJ) + [full log](https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_PowerPC/ppc/rawtherapee/_log)

[openSUSE Factory PowerPC ppc64 (build failed)
](http://pastebin.com/nx5pL5F1) + [full log](https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Fact

[2016-09-30 20:38] Floessie commented on #3442
@TooWaBoo Sorry, my crusty school german. I meant the inflected form in `TP_WAVELET_NPTYPE_TOOLTIP`.

[2016-09-30 20:49] TooWaBoo commented on #3442
Found it, changed it and replaced the file.
Thanks

PS: Your German is better than mine. :-)

[2016-09-30 21:01] innir commented on #3300
Please apply PR #3443 before releasing RT 5. it fixes a buffer overflow in dcraw.

[2016-09-30 21:10] heckflosse commented on #3300
@innir I added it to the checklist above

[2016-09-30 21:22] Beep6581 commented on #3442
May I merge?

[2016-09-30 21:23] TooWaBoo commented on #3442
@Beep6581
Yes

[2016-09-30 21:25] heckflosse commented on #3300
@Hombre57

Problem solved by using different folders for building master and gtk3 :)

[2016-09-30 21:38] heckflosse commented on #3442
@Beep6581 Yes

[2016-09-30 21:43] Hombre57 commented on #3300
Great ! Now we have to make the new theme work on Windows again, and I have to finish the soft-proofing branch.

[2016-09-30 22:10] heckflosse commented on #3300
@Hombre57 I think we should give priority to rt5 over an optimized softproofing branch. That means, if you agree, I'll look for optimizing softproofing code after rt5 is releases. Is that ok?

Ingo

[2016-09-30 23:00] Hombre57 commented on #3300
@heckflosse Sure, and I'll only do a _first level_ soft-proofing feature, regarding the comments above.

[2016-09-30 23:11] heckflosse commented on #3300
@Hombre57 Great :+1:

[2016-09-30 23:22] heckflosse commented on #3300
@Hombre57

Which is the 'new theme'? I like the 'TooWaBlue' theme using gtk3 branch on Win7. But I don't know whether there are issues using it.

Ingo

[2016-10-01 00:31] PhilBaz commented on #1812
Hey,

Yeah, Im on win 7 x64. That would be great. but why dont we wait until you
have it closer to done and then I can help with stability and bug testing.
Or if you would prefer early feedback i can install now. Whatever you think?

On Fri, Sep 30, 2016 at 4:32 PM, Jean-Christophe <notifications@github.com>
wrote:

[2016-10-01 00:38] heckflosse commented on #1812
Yeah, that would be great :+1:

[2016-10-01 08:56] Beep6581 commented on #3300
Morning

What do you mean? Gtk+ 3.16 and 3.18 are supported, 3.20 is not. Which version of Gtk+ did you use and which theme are you referring to?

[2016-10-01 09:10] Floessie commented on #3300
@Beep6581 @innir Debian Stretch now has GTK 3.22. Will that be supported?

[2016-10-01 09:20] Floessie commented on #3440
@mbajor Thanks, Marcin! I suspect glibmm-2.4 2.50.0 has that subtle change provoking this issue.

@Hombre57 I'm currently upgrading my distribution and will try a GTK3 build then. If I succeed, I can take care of this one. Okay for you, or do you already have a patch in your queue?

[2016-10-01 09:20] Beep6581 commented on #3300
Yes, that's the plan, but I can't compile it in Gentoo yet because it would break many other programs.

[2016-10-01 09:24] Floessie commented on #3300
@Beep6581 Good then! Qemu/KVM to the rescue?

[2016-10-01 09:26] #3442 closed

[2016-10-01 09:52] Beep6581 commented on #3300
That would be one option, but relatively [few people](http://distrowatch.com/table.php?distribution=) have access to 3.22 making it medium priority. My high priority is the RT website, in dire need of dynamite and nails.

[2016-10-01 10:33] Floessie commented on #3440
@mbajor @Hombre57 I can reproduce the problem on master with an up-to-date Debian Stretch. I'll prepare a fix according to Jean-Christophe's work-around.

[2016-10-01 11:17] Floessie commented on #3440
@mbajor I've merged the fix to master. Please report back, if it fixes your problems, too. :smiley:

[2016-10-01 14:04] Hombre57 commented on #3300
I'm using Gtlmm3.22 as that's the one provided by MSYS2 now, and I'm talking about all the bundled theme.

[2016-10-01 14:07] Hombre57 commented on #1812
Let's do it that way ;)

[2016-10-01 22:08] PhilBaz commented on #1812
Great, just let me know when I can help.

On Sun, Oct 2, 2016 at 12:07 AM, Jean-Christophe <notifications@github.com>
wrote:

[2016-10-02 11:18] innir commented on #3300
@Floessie Yes, Debian Stretch will ship with GTK+ 3.22. RT in Debian unstable is already built with GTK+ 3.22 and it works fine (from what I see). To be sure to get RT 5 in Debian stretch it should be released latest end of the year.

[2016-10-02 11:56] Beep6581 commented on #3300
It would be nice if RT5 could support Gtk+ 3.22... Yesterday I compiled the latest Gtk+ available on Gentoo, that's 3.20.9. If 3.22 is compatible with 3.20, then we can kill two birds with one stone.
I want RT5 out very soon, this month. If 3.20/3.22 support doesn't make it into RT5(.0), then by the end of the year we could release a 5.1.

[2016-10-02 12:30] innir commented on #3300
@Beep6581 I already built RT with Gtk+ 3.22, it's in Debian unstable so you could give it a try. I didn't see any obvious problems.

[2016-10-02 15:58] Hombre57 commented on #1812
Second patch committed just now. I solve most of the bug left, so you can already test it now.

Expected behavior (see post from first commit, +) :
When dragging a picker it can have 3 states :
   1. Visible with values, when the color circle is fully inside the crop area and can get all the values
   2. A circle only without values, when the color circle is crossing the crop's border (even on zoo

[2016-10-02 16:03] Hombre57 commented on #1812
Just saw one more bug : when the Color Picker button is switched to invisible mode, and then you press on this button to activate the Color Picker mode, the existing pickers are not displayed. You have to zoom the preview to display them. I'll solve that in the next patch.

[2016-10-02 17:58] gaaned92 commented on #1812
You can find [here](https://drive.google.com/open?id=0B2q9OrgyDEfPM2Y4RmZRb2M5TW8) a W32 relwithdebinfo 4.2.1083 build . Install where you want.
André

[2016-10-02 19:05] Beep6581 commented on #3300
@innir thank you but I don't use Debian and I make my own builds.

[2016-10-03 10:07] mbajor commented on #3440
@Floessie Fix confirmed. Thanks ! :)

[2016-10-03 10:07] #3440 closed

[2016-10-03 16:54] sguyader commented on #3421
@Desmis Jacques, some RT users would love to have a new Local Lab binary. The link to the one I posted in june is deactivated.
Would you agree if I make a new binary for Windows 64 bits, and post it as an experimental build, on the RT forum?

[2016-10-03 18:38] Desmis commented on #3421
Sébastien
No problem for me.
But it is an very experimental version.
Thank you :)
Jacques

[2016-10-03 18:38] Desmis commented on #3421
Sébastien
No problem for me.
But it is an very experimental version.
Thank you :)
Jacques

[2016-10-03 19:15] Beep6581 opened #3445 "Fix non-ASCII characters"
There were issues in the past with files which used non-ASCII characters, because they weren't using the correct encoding. This issue is to find and convert such characters to ASCII.

[2016-10-03 19:49] Beep6581 commented on #3445
`grep -rnP "[^\x00-\x7F]+" rtengine/* rtexif/* rtgui/*`

Useful: http://www.cogsci.ed.ac.uk/~richard/utf-8.cgi

[2016-10-04 00:10] PhilBaz commented on #1812
Sweet!

Ill take it for a test spin now...

On Mon, Oct 3, 2016 at 4:58 AM, gaaned92 <notifications@github.com> wrote:

[2016-10-04 00:35] PhilBaz commented on #1812
Initial run went well!

Didnt notice any issues.....It performed splendidly and without any issues.
Ill keep playing with a few more examples..

On Mon, Oct 3, 2016 at 4:58 AM, gaaned92 <notifications@github.com> wrote:

[2016-10-04 01:52] PhilBaz commented on #1812
Hummm....ran into a problem. Though doesn't seem to be related directly to
the operation of the colour picker.

I used the color picker. Made some edits, wb, exposure, curves. Then hen
pasting large numbers of processing profile operations ( i.e. edit a photo,
copy and paste the edits to other files) the program crashes. Then when
returning to the folder the browsing in the folder also crashes the

[2016-10-04 06:33] Floessie commented on #3445
@Beep6581 IMHO those times are long gone. Today UTF-8 is the norm. I don't want to have my name spelled "Floessie" instead of the correct "Flössie", and I don't see umlauts or accents a problem for anyone using an OS more modern than DOS. And you can even use UTF-8 in code strings when your toolkit is UTF-8 aware. So, what are those issues you are referring to?

I strongly vote for reconsidering t

[2016-10-04 09:44] Beep6581 commented on #1812
@PhilBaz every time you post, your reply email addresses which we manually delete so that those people don't get spam. If possible, it would be better if you replied using GitHub. https://github.com/Beep6581/RawTherapee/issues/1812

[2016-10-04 10:01] Beep6581 commented on #3445
@Floessie when I look at some of those characters in my console and vim, and even here in GitHub, instead of correct characters I see artifacts, for example in the "mus�e d'Orsay.." or in "Observer 2� x2, y2, z2". http://i.imgur.com/iLXRt7e.png
Other characters, like the "o" in your name, are displayed correctly. It is not a font issue.
Those characters caused issues in the very recent past (this

[2016-10-04 11:08] Floessie commented on #3445
@Beep6581 Oh yes, I do. And I also do care about all those poor creatures on earth, that don't have fully ASCII compatible names and still want to have them in a comment.

The "�" in "mus�e d'Orsay.." is correctly rendered, as the UTF-8 "EF BF BD" sequence is code point U+FFFD (Replacement character). So literally all is fine UTF-8 except that someone failed to convert from another character encod

[2016-10-04 11:18] PhilBaz commented on #1812
Ahhh sorry. Im a noob. Will do.

Ill retrace my steps and send one tomorrow.

[2016-10-04 11:20] heckflosse commented on #3445
@Beep6581 @Floessie iirc we had an issue in past with the ` ` in `#pragma omp` statements. But since we build using `-Werror=unknown-pragmas` at least the [invisible char](http://www.worldstart.com/the-invisible-character/) is not an issue anymore.

example:

without `-Werror=unknown-pragmas`
[code]
will be silently ignored (at least with older gcc versions)

while
[code]
works fine

I agree about

[2016-10-04 12:03] Beep6581 commented on #3445
The other solution is that we allow all UTF-8 characters, and when someone's patch is found to cause text files to become treated as binary or characters to come out as "�" then they must reconfigure or change the software they use. Is that what you're suggesting?

[2016-10-04 12:14] Floessie commented on #3445
Exactly! :smile:

Then we could also change "mus�e d'Orsay.." to "musée d'Orsay.." or "N�" to "Nº", and everthing is fine if we obey to use UTF-8 (and not Latin-1 or other deprecated encodings). Should be doable. At least, we've already proven to have UTF-8-only code, as the "�" was in fact UTF-8. :wink:

[2016-10-04 12:56] Beep6581 commented on #3445
Is this satisfactory?
https://gist.github.com/c7327285aa27a1e482fa9f33b2d108f2

I don't see a point replacing "Number" with "Nº", unless "Nº" means something different, in which case it would be better to explain the difference.

[2016-10-04 13:19] Floessie commented on #3445
You're right. It was just an example.

Absolutely!

Mörgan and Ingö, you rock! :metal:

Best
Flössie

[2016-10-04 23:18] Hombre57 commented on #1812
Branch lockable-color-picker updated.

Still one bug to solve, otherwise the patch is fully complete : now you can resize the Picker by using CTRL+Mouse wheel or CTRL+B1 to decrease size and CTRL+B3 to increase size. You can also change the displayed values type (between RGB/HSV/Lab) by cycling them using SHIFT+B1. The units are fixed though.

[2016-10-05 03:27] PhilBaz commented on #1812
I followed the instructions here.
http://50.87.144.65/~rt/w/index.php?title=How_to_write_useful_bug_reports

I ran the install through GDB, every time it crashed when reaching the final command 'thread apply all bt full'.

So i think i have reached the limit of my knowledge/helpfulness.

That being said the crash is as simple as opening a raw in a directory with 40+ others.  Change exposure, adjus

[2016-10-05 07:32] Hombre57 commented on #3421
Hello Jacques,

I'm following this issue and branch from the back seat, seeing the progress and reactions from the other devs and users.

I still think that we should create a mechanism to enable general purpose local editing, and that's the reason why I returned. The soft-proofing branch and color picker branch has interfered in my agenda and will of doing that mechanism, and IMHO creating it bef

[2016-10-05 07:44] Hombre57 commented on #3421
Btw, making a very invasive patch like Local Editing would require some kind of "mutex" developing mode, i.e. it will touch all the part of the code and other opened patch or branches would suffer from that. I'd recommend to put master completely on hold before the LocalRT can be merged to master. That's a collective decision and I wouldn't start this feature if I had to keep synchronized with an

[2016-10-05 08:34] Beep6581 commented on #1812
@PhilBaz "every time it crashed when reaching the final command 'thread apply all bt full'"
RawTherapee cannot "crash when reaching" that command... first it  crashes, then you switch (alt+tab) to the GDB window, type "thread apply all bt full", and send us the results, as explained in point 8.

[2016-10-05 08:36] PhilBaz commented on #1812
no, the GDB window crashes....

[2016-10-05 11:25] Beep6581 commented on #1812
Ah, then some Windows user will have to help you.
How much RAM do you have?

[2016-10-05 11:27] PhilBaz commented on #1812
Sure, no problem. Maybe it's easy to reproduce anyhow?

32gb. Dont think it spiked.

[2016-10-05 11:45] heckflosse commented on #1812
@Beep6581 @PhilBaz

But if he uses the 32 bit build from [here](https://github.com/Beep6581/RawTherapee/issues/1812#issuecomment-250984987) rt won't be able to use the 32 gb

[2016-10-05 11:51] Hombre57 commented on #1812
GDB may be more unstable than on Linux, that's something I've experienced too even with 64 bits builds.

Anyway, we'll repeat the steps that you explained, but since it doesn't involve the Color Pickers, I don't think it's related at all.

[2016-10-05 11:53] heckflosse commented on #1812
@Hombre57

It also becomes sometimes black when I'm in >100% view (no detail window)

[2016-10-05 11:57] heckflosse commented on #1812
Oh, it crashed, good! Making debug build now to check...

[2016-10-05 11:58] Beep6581 commented on #1812
@PhilBaz as Ingo mentioned, you won't be able to use all that memory if you use a 32-bit build. To learn more, see this http://rawpedia.rawtherapee.com/The_Floating_Point_Engine especially the [4-Gigabyte Tuning](https://msdn.microsoft.com/en-us/library/bb613473(VS.85).aspx) link. The reason the same operation worked for you in 4.2.1 could have been because the 4.2.1 build you used wasn't a 32-bit

[2016-10-05 12:03] PhilBaz commented on #1812
Ahhh, yes, that sounds entirely likely. Forgot it was a x86 build.

[2016-10-05 12:49] heckflosse commented on #1812
@Hombre57 I can reproducible crash rt following this steps in SETM

Open image
zoom to 100%
place two 'persistent color picker' points
open another image
zoom to 100%
place one point
move that point => crash

[code]

[2016-10-05 13:37] Hombre57 commented on #1812
My quoted problem is solved now, your problem >100% is the last known bug I'll address tonight.

[2016-10-05 13:44] Beep6581 commented on #3416
@stelariusinfinitek currently it's known only to you ;) Can you still reproduce it in the latest git master head?

[2016-10-05 13:49] Beep6581 commented on #1812
@Hombre57 congratulations, looks awesome!

I reproduced Ingo's crash:
[code]
The only difference was that I reproduced this on two raws from the same camera, so RT kept the 100% zoom when I switched to the second image.

[2016-10-05 13:57] Beep6581 commented on #1812
A feature request: both RGB and HSV LCPs (Lockable Color Pickers) use the 0-255 range.  Ideally the LCPs should use the same value range as used by the Navigator panel.

[2016-10-05 14:30] heckflosse commented on #1812
@Hombre57 [here](https://gist.github.com/heckflosse/7554730c61af20e37981bccf90f23392) is a patch for the `picker becomes black when zooming in` bug

[2016-10-05 14:33] Floessie commented on #1812
@Hombre57 `ipc` is dead in that moment:
[code]

Again an issue in `EditorPanel::close()`?

HTH
Flössie

[2016-10-05 14:52] heckflosse commented on #1812
@Hombre57

@Beep6581 wrote :

If that's too much work at least HSV should be displayed in [0;360] [0;100] [0;100] range imho

[2016-10-05 15:00] Beep6581 commented on #1812
^ Agreed.

@Hombre57 I want to say it again, it looks very elegant!

[2016-10-05 15:27] heckflosse commented on #1812
@Hombre57 The colour displayed inside the circle of the color picker is wrong when `Use working profile for main histogram and navigator` is enabled. [Example](https://filebin.net/pw11lkwup14lcgie)

[2016-10-05 18:37] Hombre57 commented on #1812
Have you compared with what the Navigator shows you in this case ? You can switch to [0-255] range in the Navigator by right clicking over the RGB column.

Haha, I asked myself how long would it take before I see this request coming. Well, faster than expected  :smile: !  It was my plan to keep in synch with the Navigator display, but wouldn't hold the merge for that.

@Floessie I'm investigating

[2016-10-05 18:48] Beep6581 commented on #1812
@Hombre57 agree not to hold the merge for that ;)

[2016-10-05 19:15] Beep6581 commented on #3300
TODO when releasing:

- astyle code
- ©
- Update versions (4.2?) and dates
- Add links to new forum to About window
- Summarize new features significant to a user instead of a detailed changelog
-

[2016-10-05 19:17] Beep6581 commented on #3300
If anyone has things they'd like to do, or things they'd like me to do, just before releasing RT5, then feel free to make a list, or to edit my list above.

[2016-10-05 19:24] Hombre57 commented on #3300
I'll look at the Gtk3.22 theme ASAP, hopefully before the end of next Sunday. If I can't fix it, then you'll have to release a Gtk3.18 Windows version.

[2016-10-05 19:28] #2911 closed

[2016-10-05 19:29] Beep6581 opened #3446 "Add support for Gtk+ 3.20 and/or 3.22"

[2016-10-05 19:30] Beep6581 commented on #3300
@Hombre57 ok, I added #3446 to the list so we don't forget. I was unexpectedly upgraded to Gtk+ 3.20.9 a few days ago.

[2016-10-05 19:32] #3445 closed

[2016-10-05 19:33] Hombre57 commented on #1812
zoom to 100%
place two 'persistent color picker' points
open another image
zoom to 100%
place one point
move that point => crash

@heckflosse Did not managed to crash by following this. Did I missed something ?

[2016-10-05 19:36] Beep6581 commented on #1812
@Hombre57 I reproduced the crash following those steps and using [amsterdam.pef](http://rawtherapee.com/shared/test_images/amsterdam.pef) and [amsterdam_moving_boat_2.pef](http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_2.pef) both with Neutral applied.

[2016-10-05 19:49] Hombre57 commented on #1812
Nope, doesn't want to crash.

[2016-10-05 19:59] heckflosse commented on #1812
@Hombre57 You're in SETM?

[2016-10-05 20:02] Beep6581 commented on #1812
I reproduced using f60a4fc4b11960da61c7c39e9db4c0165f5e7106
SETM

[2016-10-05 20:03] heckflosse commented on #1812
@Hombre57

No, I compared the colours, not the values and when using working profile the inside of the circle clearly shows not the colour of the sky. It has a tint, which is clearly visible in my example

[2016-10-05 20:45] Hombre57 commented on #1812
Yes.

The Navigator are the the Color Pickers are both showing the same value, so this branch has no issue. What you see in the circle is the color from `cropimgtrue` (that you don't see otherwise), which is different from `cropimg` (see **rtgui/crophandler.cc**, line 396 and **rtengine/dcrop.cc** line 975. If you think that the color are wrong, please open a new issue. However I'd wait for the me

[2016-10-05 20:49] Hombre57 commented on #1812
@Beep6581 Could you post your options file and make a screencast of the crash, so I'll try to reproduce exactly.

[2016-10-05 21:00] heckflosse commented on #1812
@Hombre57

Just open amsterdam.pef. Press 'z', then place two control points (I placed them on the two red cars bottom left). Now open another file, press 'z', place a control point and then move the control point. Just tried again => crash

Ingo

[2016-10-05 21:01] heckflosse commented on #1812
@Hombre57

May I also post a patch instead of creating a new issue ;-) ?

[2016-10-05 21:45] Hombre57 commented on #1812
@heckflosse In SETM, opening a new image while in Color Picker mode will disable this mode, so when double clicking on a new image I have to wait that the image is displayed, then press 'z', then click on the Color Picker tool, then place a picker and drag it -> no crash.

I'm using a debug build, and Gtk3.22 compiled with Gcc 6.xx. I can't say better.

...ok...

Thanks, works fine !

[2016-10-05 21:54] heckflosse commented on #1812
@Hombre57 I still can reproduce it with Debug and Release builds on Win7/64. @Beep6581 also can reproduce the crash on Linux, means that my howto is missing something to reproduce it if it doesn't crash on your side. We have to investigate further...

Ingo

[2016-10-05 22:15] heckflosse commented on #1812
@Hombre57

[Here](https://gist.github.com/heckflosse/6fc0e9b978e074f0239debcf37ca7cab) is a quick and dirty patch to preview correct colour inside the circle

[2016-10-05 22:24] Hombre57 commented on #1812
@heckflosse With the BT you posted above, can you see if `ipc` is null or non null but pointing to a freed object ? In the first case, I could check `ipc`.

@Floessie Should I protect the IPC from being accessed asynchronously by the GUI with a Mutex ? On line 789 of editorpanel.cc, `ipc` is set to null, but that might not be sufficient ?

[2016-10-05 22:28] Hombre57 commented on #1812
@heckflosse

Well, I think we didn't understood ourselves. I consider seeing the color corresponding to the displayed RGB values as correct (and it's true that they can be very different than what's displayed in the preview). You consider that whatever the displayed RGB values are, we should display the preview's color, it would be a color mismatch for me.

[2016-10-05 22:46] heckflosse commented on #1812
@Hombre57

But what you did by doing this is displaying it in preview in a wrong colour space. Assume working profile is ProphotoRgb, then the rgb values (in working profile) are very different to e.g. srgb. But simply using the ProhotoRgb values in preview (which in my assumption is sRGB) leads to a colour inside the circle which is of no use (at least of no use I'm aware of)

Imho we should disp

[2016-10-05 23:19] vivo75 opened #3447 "no redraw in curves widgets in gtk3 branch"
Hi, somewhere between these two commits curves stopped being redrawn, so basically every change to any curve leave a phantom which make things unusable.

6ba96a10e97aee695d2a4b272a14c8a84cb71476 working
d16d244fc572615248a8c0f741f434213f4cd548 curves problem

[2016-10-06 00:05] heckflosse commented on #3447
@vivo75 Thanks for the report. 6ba96a1 is master branch and d16d244 is gtk3 branch.

[2016-10-06 00:21] vnedimovic opened #3448 "Exif lens metadata missing when converting Pentax K-3 DNG to TIFF"
After processing DNG image to TIFF format Lens metadata is lost on Quick Info (Pentax K-3 dslr and Pentax lenses)

[2016-10-06 00:24] heckflosse commented on #3448
Please upload a raw file to filebin.net and post the link here

[2016-10-06 00:27] heckflosse commented on #3447
@vivo75 [How to write useful bug reports](http://50.87.144.65/~rt/w/index.php?title=How_to_write_useful_bug_reports)

[2016-10-06 00:56] vivo75 commented on #3447
my bad, I'm using a gentoo ebuild that  is using the gtk3 branch (EGIT_BRANCH="gtk3") but overriding EGIT_COMMIT override the branch, indeed.

So I can only say that the last good build was Sat Sep 24 00:02:09

rawtherapee: Sat Sep 24 00:02:09 2016: 254 seconds
rawtherapee: Tue Oct  4 21:41:09 2016: 259 seconds
rawtherapee: Wed Oct  5 23:02:11 2016: 258 seconds
rawtherapee: Thu Oct  6 00:19:55 201

[2016-10-06 01:56] vnedimovic commented on #3448
https://filebin.net/hewitjrsdiy1gz0t

Filebin :: bin hewitjrsdiy1gz0t<https://filebin.net/hewitjrsdiy1gz0t>
filebin.net
Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required. Large files are supported.

Vojin Nedimović

________________________________
From: Ingo Weyrich <notifications@github.com>
Sent: Thursday, 6 October 2016 10:24

[2016-10-06 06:03] Floessie commented on #1812
@Hombre57

I can reproduce it with a debug build on Debian Stretch with GCC 6.1.1 and GTK 2.24.

No, it's rather an unregistered callback like the one in #3048.

[2016-10-06 06:57] Desmis commented on #3421
Hombre

No problem to help you for "Spot removal tool algorithm" according to my skills :)

jacques

[2016-10-06 07:13] Beep6581 commented on #3447
@vivo75 what you're describing sounds like you have no RT theme loaded in Prefereces. And "Sat Sep 24 00:02:09" is a date in an unknown timezone, not a version, i.e. useless and unreliable. Please see heckflosse's link on writing a good bug report and supply:
- screenshots
- link to the ebuild
- AboutThisBuild
etc

[2016-10-06 07:17] Beep6581 commented on #3448
ExifTool on the DNG
[code]

[2016-10-06 07:25] Floessie commented on #1812
@Hombre57 Don't look any further, I think I've found it. Preparing a patch...

[2016-10-06 07:55] Floessie commented on #1812
The problem was, that although `ImageArea::ipc` was reset in `ImageArea::setImProcCoordinator()`, `CropWindow::ipc` wasn't. Instead of propagating it to `CropWindow`, I've completely removed it there and added `ImageArea::getImProcCoordinator()`. Hopefully this won't break anything, but if so, one could still choose to propagate it.

HTH
Flössie

[code]

[2016-10-06 08:02] Floessie commented on #3421
I've only invested 1.5h into the dynamic CPs, so no problem, if we don't pursue this branch as it is, but unite to get the feature mainline.

[2016-10-06 09:12] Hombre57 commented on #1812
@Floessie  Great that you fixed the bug, I'll let @heckflosse and @Beep6581 test it, since I didn't experienced it.

@heckflosse

 I understand better now. I'll integrate your patch then.

[2016-10-06 09:14] Hombre57 commented on #3421
I'll merge master into the spot-removal branch and we'll try to finish it first then, and continue discussion in issue #2239.

[2016-10-06 10:40] heckflosse commented on #3447
@vivo75 please have a look [here](https://discuss.pixls.us/t/anyone-else-having-issues-with-curves-and-histogram-in-rt-4-2-896/1128)

[2016-10-06 10:47] heckflosse commented on #1812
@Floessie wrote

Your patch builds fine and fixes the crash. Thank you!

[2016-10-06 12:14] heckflosse commented on #1812
@Hombre57

Please wait. I just detected that it doesn't always work correctly

[2016-10-06 15:55] esby commented on #2631
Hello,

I had some time for coding, made some progress, ported my old code to the most recent code from github. (I was still on the irc channel; but had no time to code until one month ago...)

I forked the default branch  on my own repositery.
https://github.com/esby/RawTherapee

It is working under linux (debian 8.6), still it's untested under the other platforms.

It's not perfect for now, cons

[2016-10-06 15:59] heckflosse commented on #1812
@Hombre57 I updated the [link from above](https://gist.github.com/heckflosse/6fc0e9b978e074f0239debcf37ca7cab) with the corrected code

[2016-10-06 16:17] pi99y opened #3449 "RA: Building placement / overlap (Service Depot / Missile Silo)"
Current bleed.
(without "build everywhere")

![ora_build_overlap](https://cloud.githubusercontent.com/assets/10639257/19160653/f7dd3784-8bf0-11e6-9542-227cce17d9f2.jpg)

[2016-10-06 16:26] #3449 closed

[2016-10-06 16:41] Beep6581 commented on #3449
@pi99y you're into OpenRA too? :)
https://github.com/OpenRA/OpenRA/issues/

[2016-10-06 16:59] sguyader commented on #2631
Hi, trying to compile your branch now in Linux, I get the following error at the end of compilation:
`[ 98%] Building CXX object rtgui/CMakeFiles/rth.dir/ttpanelcolorer.cc.o
/home/sguyader/rt-sources/rtrepo-newtest/rtgui/ttsaver.cc: In member function ‘void TTSaver::themeSplitter(std::ifstream&)’:
/home/sguyader/rt-sources/rtrepo-newtest/rtgui/ttsaver.cc:213:37: error: cannot convert ‘std::basic_i

[2016-10-06 17:52] esby commented on #2631
This seems related to gcc version and C++11.
I am using gcc 4.9.
I don't have access to gcc 6.X so I can't really test, I assume there is an explicit cast needed from other post on internet ( http://stackoverflow.com/questions/23364606/istream-to-bool-conversion-when-is-it-available )

I updated the code, can you try again? (not sure if it needs a (bool) gettline(...) or a bool( getline(...) ) fix

[2016-10-06 18:42] mks9900 commented on #2631
@esby: Great work! It compiles fine here now using gcc 5.4 and I took it for a test drive.
I really like what you have done here! There are some quirks, but I think this will be awesome!
Thanks a lot!

[2016-10-06 19:07] sguyader commented on #2631
@esby Yves, with your last changes it now compiles fine with gcc 6.1.1.
The possibility to add tools to a "favorites" tab is a very, very useful addition, thanks for working on this.

Some remarks.
I see that in the options you can toggle the color of the favorite tools, I think it would be better to have the color to be automatically toggled when the tool is added to Favorites, as most users woul

[2016-10-06 19:09] vivo75 commented on #3447
@Beep6581 yeah, next time I'll write a better bug report, possibly not starting it a 4AM

Recap: it's a problem of gtk{+,mm} version >= 3.20 broke badly as described in by this forum post
[anyone-else-having-issues-with-curves-and-histogram](https://discuss.pixls.us/t/anyone-else-having-issues-with-curves-and-histogram-in-rt-4-2-896/1128/19) (thanks Ingo)

ebuild is here, I've added a dependancy o

[2016-10-06 19:12] Floessie commented on #2631
@esby

Hm, we are programming in C++, aren't we? So it would be really cool to use C++ style casts instead of C style ones. A `static_cast<bool>(...)` would be appropriate here. :wink:

HTH
Flössie

[2016-10-06 19:15] sguyader commented on #3300
@Beep6581 I would like to see #3229 fixed with the next RT release. I think a number of advanced or pro photographers turn to the latest Fujifilm cameras, I think complete support of their raw files would make RT more attractive to them, as RT is now known as one of the best raw developers for X-trans files.

[2016-10-06 19:15] heckflosse commented on #2631
@esby Builds fine on Win7/64 using gcc 5.3 :+1:
I'll test it now

[2016-10-06 19:25] heckflosse commented on #3300
@sguyader Hi Sébastien. I already started work at porting the libraw code for compressed xtrans files to rt. But it's a lot of work because it has many dependencies to libraw internals. For that reason I would like to complete it after rt5 is released. @Beep6581 already planned to release 5.1 end of the year. That would fit much better (for me at least) ;-)

[2016-10-06 19:39] esby commented on #2631
@Floessie I'll fix that when I can. Honestly, I learned C++ by hacking things together, so I have no real bases of it. As long it compiles and works, it suits me, if there are best practice I'll gladly apply these.

@sguyader : for moving the elements in all 'directions', the idea was that the user could do something completely different. like reorganizing all tabs for its needs. So one could go m

[2016-10-06 19:49] esby commented on #2631
@Floessie fixed.

[2016-10-06 21:36] heckflosse commented on #2631
@esby I wonder why it takes so long to switch tabs on my 4 Ghz cpu (in SETM). Can you point me to the related code?

[2016-10-06 23:19] esby commented on #2631
@heckflosse

in rtgui/toolpanelcoordinator.cc

ToolPanelCoordinator::on_notebook_switch_page(...)

The performance issue affecting multiple editor startup is probably linked to it.
I ain't sure this is directly linked to the code.

There is also one part in
rtgui/toolpanel.cc
void ToolPanel::favorite_others_tabs_switch()
(...)

The code could probably be optimised more,
 as it checks affects all t

[2016-10-06 23:29] Hombre57 commented on #1812
Last commit added the bugfix from @heckflosse and @Floessie (thanks a lot for the help guys) + the request from @Beep6581 .

Please test for new bugs, but feature wise it's complete now.

[2016-10-06 23:51] sguyader commented on #3300
@heckflosse ok Ingo, I had no idea it requires so much work to get the libraw code into RT.

[2016-10-07 00:19] Hombre57 commented on #1812
Added a bugfix and code simplification in a new commit.

[2016-10-07 06:11] Floessie commented on #1812
@Hombre57 Tip: If you add "#1812" somewhere in your commit message (I usually append it in brackets on the headline), your commits will automagically appear here. That's a cool GitHub feature and helps us to review them "in place". :smiley:

[2016-10-07 09:03] stelariusinfinitek commented on #3416
@Beep6581 Hey :) I'm on Windows right now but I'll install Linux in a hour. Does that mean I have to compile RawTherapee? Because I have a 1,8 Ghz Dual-Core CPU.

[2016-10-07 09:13] Floessie commented on #3416
Yes. But if you start right now, you can report back tomorrow. :grin:

[2016-10-07 09:41] esby commented on #2631
@heckflosse

Un the current algorithm, there are two distincts cases:

* the panels that get changed (favorited / unfavorited , trashed / untrashed ).
* the panels that needs to be switched back when a tab is displayed: a panel cannot be attached or displayed at two distinct places in gtk. The current trick is to move the panels and replace them by a dummy panel to keep the positions when the tabs

[2016-10-07 09:55] Hombre57 commented on #1812
@Floessie I tend to forget that kind of useful things. Will do next time.

[2016-10-07 11:21] heckflosse commented on #1812
@Hombre57 Works fine here. Thank you :+1:

There's one (minor) issue remaining:
When I place a picker in a detail window and then move that detail window, the picker disappears until a redraw is triggered (by zooming in/out or switch to another application and back ...)

[Example](https://filebin.net/tfn16jv117ets413)

[2016-10-07 11:43] stelariusinfinitek commented on #3416
@Floessie Well... it's not worth it. :) I'll use it as it is.

[2016-10-07 11:52] Floessie commented on #3416
@stelariusinfinitek Hey, don't give up so easy. I support Ingo's assumption, that you have an OOM problem. If you like, send a RAW and PP3 to [filebin.net](https://filebin.net/) and post the link here with steps for reproduction and the amount of free memory you have before starting RT. I could then adjust my VM to have about the same amount of free memory and try to reproduce your crash under Lin

[2016-10-07 12:19] Beep6581 commented on #3447
RawTherapee does not yet support >=gtk+-3.20.0
Duplicate of https://github.com/Beep6581/RawTherapee/issues/3446

[2016-10-07 12:19] #3447 closed

[2016-10-07 12:32] Beep6581 commented on #3416
@stelariusinfinitek its best to report using the latest version, so if your Linux distro does not ship a daily build then compile it yourself. Compilation on your CPU should only takes 10 minutes, and it's quite simple. Use the master branch. And as @Floessie wrote, it's important that you supply the files in question and steps to reproduce.

[2016-10-07 12:47] heckflosse commented on #1812
@Hombre57 Great, works fine now

[2016-10-07 13:13] heckflosse commented on #1812
@Hombre57 I found [another issue](https://filebin.net/tfn16jv117ets413/lockpickzoom.png)

[2016-10-07 15:51] Desmis commented on #3421
@Floessie
1) I would like to merge locallab with master
2) and more I will bring an improvement in the shape detection algorithm for each control point

Can I push this change or must I wait ?
Thank you
Jacques

[2016-10-07 16:14] Floessie commented on #3421
@Desmis

I was referring to Hombres suggestion to develop a general purpose local editing and ditch this branch entirely.

Absolutely! Don't wait for me with anything. I can't contribute that often, and I have to help Ingo with some cleanups first before the RT5 release. Even if there are conflicts, I'm able to merge.

Best
Flössie

[2016-10-07 16:50] Desmis commented on #3421
Done :)

[2016-10-07 17:40] Desmis commented on #3421
I remember that to achieve multiple controls points (for luma, contrast, chroma, structure,...), there are several problems.

What emerges from the GUI with several types of solutions:
a) as currently implemented, which may seem a bit "primary", not optimized computing terms, but a priori that works
b) alternative(s) as proposed Hombre, which will probably be more intuitive, and more efficient in

[2016-10-07 18:00] michaelezra commented on #3421
For best usability of local adjustments, it is best to try to design them in such a way that they could be applied in numerous ways:
1. multiple (unlimited) instances of adjustments should be possible
2. as a brush
3. as a gradient - linear and ellipse
4. as U-point

2, 3, 4 don't need to be implemented all at once, but it is worth designing this so that all methods are achievable.
I use local adj

[2016-10-07 21:22] Beep6581 opened #3450 "Extremely slow in Windows when floppy drive enabled"
RawTherapee can be extremely slow to load and run in Windows 10 if there is a floppy drive enabled in the BIOS. Both Gtk2 and Gtk3.
https://discuss.pixls.us/t/new-windows-builds/615/344?u=morgan_hardwood

[2016-10-07 21:37] Hombre57 commented on #3421
That's not the right issue to talk about it, but here is what I have in mind for local editing :
   1. Add a double arrow button like the one of the Gradient tool to selected Slider adjustment to add _on preview_ local editing. The slider wold still be effective and used as _baseline value_, then the local editing objects would modulate the value locally. That way, we should have an _heterogeneous

[2016-10-07 21:48] heckflosse commented on #3450
One solution would be to exclude Drive A: and B: from scanning. But iirc, when A: and/or B: are disabled in Bios one can use these drive letters also for other drives (usb sticks and so on). So disabling scan of A: and B: may lead to new issues...

[2016-10-07 21:51] michaelezra commented on #3421
Hi Hombre!:) I think UI should have a single instance of the tool with sliders, etc. in the Toolbox.
Multiple local edits should be possible, each editable when its anchor point is selected in Preview panel.

If I got #1 correctly - this would lead to ALL (almost. except raw I suppose) RT edits available for each local edit?! That would be exquisite!

[2016-10-07 21:56] Hombre57 commented on #3421
@michaelezra No, that wold be the other way round : all slider could have unlimited amount of local edits, each different. E.g. in the Exposure tool, you could have a different set of local edits for the Contrast slider and for the Saturation slider.

Of course, local editing support for a slider would not be automatic, but the mechanism should be simple enough to implement it in most sliders.

[2016-10-08 00:05] heckflosse commented on #1812
Imho now it's right to merge :)

[2016-10-08 02:29] michaelezra commented on #3421
When doing gradient and elliptical  adjustments in ACR I frequently combine e.g. exposure, highlight adjustments and contrast, even clarity in a single anchor.
If I understand correctly what you are proposing, next to every (applicable) slider there will be the local adjustment brush button. When it is clicked, all anchors for that specific slider would become visible and editable.
The downside is

[2016-10-08 07:45] Hombre57 commented on #3421
The effect created by having layer or by having heterogeneous (i.e. variable) parameters would not be the same, so I wouldn't mix point 1 and 2. What you want is adjusting several sliders for each modifier. I have to think about it, to be able to have both solutions available (yours and mine). But we might expect a lot of Sliders to be locally editable, so you'd have to _Add new slider_ on the mod

[2016-10-08 08:19] Hombre57 commented on #1812
Done ! Thanks for the debugging :)

[2016-10-08 08:19] #1812 closed

[2016-10-08 09:40] Beep6581 commented on #3421
Compressed and base-64 encoded text blob? Maybe one of our sibling projects has a solution for this, IIRC darktable.
If editing a 10 megapixel image, would that mean RT would have to store a 10 megapixel mask?

My dream for RT would be for it to allow me to increase or decrease the exposure of some parts (basically dodge and burn) and to warm up some parts (painting a warmer white balance, color t

[2016-10-08 11:32] iliasg commented on #3450
@Beep6581 I think this issue only happens on windows 10.

@heckflosse Ingo, what if just abort scanning of an empty drive.  As I understand it, windows shoud give the info if drive A is empty/loaded, it just happens that win10 does not (?? !!) or handles it in a different address ..

[2016-10-08 11:36] heckflosse commented on #3320
I tried again.
For first image I always get three "dcrop update" lines.
For subsequent images I get two "dcrop update" lines when image size and orientation is the same as current image and three "dcrop update" lines when image size or orientation is different.

[2016-10-08 11:36] #3320 closed

[2016-10-08 16:42] Hombre57 commented on #3406
Hi @ellelstone , I'm taking time now to finish this patch and explore all your useful material about soft-proofing, but to make my own test, could you share the pp3 files of your different test case from here http://ninedegreesbelow.com//files/soft-proof/soft-proofing.html  I've already downloaded your profiles.

Could you also check your _Preferences_ and disable the _Black Point Compensation_ fr

[2016-10-08 16:56] Hombre57 commented on #3421
With the help of some optimization, not necessarily. Of course, one of the question will be the choice of the alpha channel bit depth. 8 bits int ? 16 bits int ? 16 bits Half-Float ? 32 bits float ? Since the whole engine use float numbers, I'd suggest using a 32 bits float channel.

We're still hijacking Jacques' issue btw.

[2016-10-08 16:59] Hombre57 commented on #3421
Dodge and burn is only available when merging 2 layers, so point 2 in my comment above.

This will be possible with point 1.

[2016-10-08 19:10] ellelstone commented on #3406
Hi @Hombre57 , and my apologies, I already deleted the pp3 files.

I just opened RT and it looks like Black Point Compensation from the Color Management panel was already disabled. I normally disable bpc for image editing (instead I just make sure that none of my image colors fall below my monitor's black point).

How does/where in the code does RT control out of gamut colors? For the three test i

[2016-10-08 19:50] heckflosse opened #3451 "Travis CI - Automatic build test of pull requests and new branches"
@Beep6581 @Desmis @Floessie @Hombre57 @michaelezra
What's your opinion on using [this](https://travis-ci.org/)?

Ingo

[2016-10-08 20:30] Hombre57 commented on #3451
@heckflosse I don't understand what it is :confused:  What's the benefit of this ? How much time does it cost ?

[2016-10-08 20:46] heckflosse commented on #3451
@Hombre57 I don't know how much time it costs. I guess it will save some of our time because it detects build errors on other architectures or OS (like OSX) before we detect it.

[2016-10-08 20:48] Hombre57 commented on #3451
Then yes, it should be useful, why not ?

[2016-10-08 20:50] heckflosse commented on #3451
@Hombre57 Have a look at the [CImg commits](https://github.com/dtschump/CImg/commits/master)

Each commit has a check (green or red) which tells you whether it built fine or not.

[2016-10-08 22:10] Hombre57 commented on #3406
I'm using lcms' gamut soft-proofing feature, enabling the gamut check when asked for. See here https://github.com/Beep6581/RawTherapee/blob/softproofing/rtengine/improcfun.cc#L118

Since the last image buffer from the pipeline is a Lab image, the Input profile is a Lab colorspace from lcms (see https://github.com/Beep6581/RawTherapee/blob/softproofing/rtengine/improcfun.cc#L88)

If you want some e

[2016-10-08 23:58] heckflosse commented on #1812
@Hombre57 Thank you for implementing this great tool. I especially like it in combination with hsv curves to partly desaturate an image. Though for this use case it would be an improvement to show the hue value at the x-axis of hsv curve. But that's a different issue.

Well done!

Ingo

[2016-10-09 06:18] Desmis commented on #3451
I am not at all a "code specialist", but I think, if it is easy to use (for me), that we can go in this way :)

[2016-10-09 08:07] ravak commented on #3387
@heckflosse Yes, triggeres on {{English (UK)}} as well

[2016-10-09 08:15] ravak commented on #3387
@Beep6581 on 1069 (master) I get "Invalid byte sequence in conversion input" after each file that gets saved via Queue (queue stops, but does not crash the program). Each image develops fine.

On 1234 (GTK3) it crashes.

[2016-10-09 08:21] ravak commented on #3387
And just crashed (on 1234 build) a crash while developing old E-300 photos. Same problem.

[code]

[2016-10-09 10:25] Floessie commented on #3451
I've not yet tried Travis, but I think CI is a really good idea! Nowadays it's often @mbajor who has to report build failures. Would be cool, to have that automated, and a lot of projects on GitHub make use of it. I recently found out, that my beloved [uncrustify](https://github.com/uncrustify/uncrustify) moved to GitHub and supports this, too.

@Desmis

As I understand it, it's a web service, and

[2016-10-09 10:56] heckflosse commented on #3451
@Desmis We (maybe @Beep6581 and I) have to setup it once. Then it should work automatically.
Assume you commit some new stuff and forgot to add one source file. Then you can see a bit later that it didn't build.

[2016-10-09 12:33] ellelstone commented on #3406
Many photographers choose to edit in large RGB working spaces such as Rec.2020, ACEScg, or ProPhotoRGB. For radiometrically correct RGB color mixing, the user might be editing in a linear gamma version of their chosen RGB working space.

At some point the user will want to output the finished image to another color space, either to a device color space for final display or to another RGB working s

[2016-10-09 15:24] Desmis commented on #3421
I just made another change of shape detection algorithm for lightness and chrominance. Now I also take into account "hue". The answer of the algorithm is now very close to that of "Nik Software" (which can be coupled free with Photoshop.)
The algorithm is activated as soon as scope is less than 20.
Attention algorithm does not take into account the chromatic noise, which of course will disrupt the

[2016-10-09 15:30] Hombre57 commented on #3406
In the end, maybe we could merge this branch to master as is, and look for a more qualitative featre set later on ?

@ellelstone Is there something broken for you in the actual implementation ? I understand that it is suboptimal right now, but is it broken ?

@mm2 If I've understood you documentation correctly, unbounded mode only works if input and output data are floats, + other conditions relat

[2016-10-09 20:19] Beep6581 commented on #3451
I'll add it.

[2016-10-09 20:23] Beep6581 commented on #3387
@ravak can you reproduce using http://www.imaging-resource.com/PRODS/nikon-d750/Y_DSC0612.NEF.HTM ?
Can you record a [screencast](https://getsharex.com/) from the moment you first run RT?

[2016-10-09 20:39] Beep6581 commented on #3300
Hello

re: https://github.com/Beep6581/RawTherapee/commit/ccd9002c3abc504e3a25b7bbf0489b90b4cf808e#commitcomment-19352462
I like fixes, fixes are good. I'm very glad you guys have been focusing on fixes for so long - RawTherapee is much better off thanks to them.

Generally what one would do at this point is to branch off and make release candidates and then a final release when ready. I could do

[2016-10-09 21:08] heckflosse commented on #3300
Merged cppcheck and let it open for further work

[2016-10-09 21:31] ravak commented on #3387
@Beep6581 any specific version of RT?

[2016-10-09 21:33] heckflosse commented on #3387
@ravak latest master build

[2016-10-09 21:42] ravak commented on #3387
@heckflosse It will be 1069 master provided by @Beep6581 in https://github.com/Beep6581/RawTherapee/issues/3387#issuecomment-250386017

[2016-10-09 22:07] heckflosse commented on #3387
@ravak That should be good too

[2016-10-10 07:05] mm2 commented on #3406
On 09/10/2016 17:30, Jean-Christophe wrote:

I have filed a change request for lcms 2.9 to always force bounded in
softproof profiles.
But as said, lcms will NOT show you the artifacts due to low gamma and
so, this is hard proofing and is above the intent of a color management
engine.

Regards
Marti

[2016-10-10 08:07] Beep6581 commented on #3451
Quick guide to Travis:

- If your commit compiles, no email notifications.
- If your commit does not compile, you get a notification via email.
- See the build status by looking at:
  - the commit log on GitHub https://github.com/Beep6581/RawTherapee/commits/
  - the branch list on GitHub https://github.com/Beep6581/RawTherapee/branches
  - IRC http://rawpedia.rawtherapee.com/IRC https://i.imgur.c

[2016-10-10 08:23] Floessie commented on #3451
@Beep6581

I'd say: Yes. At least for gtkmm-2.4 based branches. Did a quick check: We don't use `std::auto_ptr<>`.

Thanks for your efforts!

[2016-10-10 12:38] Beep6581 commented on #3451
Done.
Ingo agreed to `-Wno-deprecated-declarations` and merging in IRC. Branch `travis` deleted (because its commit history is messy - the only way I know of to test the .travis.yml file is by committing a change).
Issue stays open for `gtk3` branch use.

[2016-10-10 13:21] heckflosse commented on #3451
I just pushed a [change](https://github.com/Beep6581/RawTherapee/commit/c7cf196ae15c11f8ff169da98626d76712eb6d52). Works fine :+1:

[2016-10-10 13:24] ellelstone commented on #3406
(2) The destination color space doesn't support unbounded ICC profile conversions, which is to say either V2 RGB matrix profiles with a point TRC, or else a LUT profile (assuming the LUT profile doesn't support unbounded ICC profile conversions).

I forgot to add the third condition for accurate LCMS 2.8 soft proofing: The image needs to be in a perceptually uniform color space that has a color ga

[2016-10-10 14:32] Beep6581 commented on #3406
@Hombre57 Elle found a segfault if soft proofing is activated and the user chooses as the output profile "No ICM: sRGB output". Here's the GDB log:
https://dpaste.de/YLf9/raw
I did not manage to reproduce it in Gtk2 commit 23011fbd63acb06fca6b225b5205d290feb7f557.

[2016-10-10 18:17] ellelstone commented on #3406
Given that the following passages talk about posterization, low gamma artifacts, and such, I think there might be some miscommunication going on:

I mean is pointless to do ONLY gamma emulation. If you want to do hard proofing, that would be great, but then you need to do much more than just emulating  posterization. And to emulate gamma posterization you need to convert the whole image pixel by p

[2016-10-10 18:33] heckflosse commented on #3450
@iliasg The problem is, whatever I change, I can not test it as I'm on Win7

[2016-10-10 19:08] Desmis commented on #3421
I just fixed 2 bugs :
1) when mouse sensor was out of preview, in some cases leads to crash
2) best algorithm for lightness
I hope this 2 fixes solved these bugs :)

[2016-10-10 19:32] heckflosse commented on #3421
@Desmis

Hello Jacques,

I hope you don't mind that I currently have not much time to look at your changes. When RT5 is releases, I'll take a look again!!!

Ingo

[2016-10-10 19:45] Beep6581 commented on #3450
Microsoft lets people download Windows 10 virtual machines. I tried it before and it worked fine. You can download an ISO from here:
https://www.microsoft.com/en-us/software-download/windows10ISO
I'm getting one right now...

[2016-10-10 20:05] heckflosse commented on #3450
I won't try Windows 10. Never change a running system...

[2016-10-10 21:10] Hombre57 commented on #3406
@ellelstone @mm2 The posterization simulation was my request, while trying the different scenario offered by RT, like defining a custom output gamma of 1.0. Apparently, it's a non issue because not something a user would want, so just forget about that. We're not in hard-proofing either :wink:

@ellelstone RT can load 32 bits Tiff files. Have you ever tried ? I did and it worked fine. OpenEXR is n

[2016-10-10 21:11] Beep6581 opened #3453 "Merged master-b8eb349 into gtk3"
With Ingo's help I managed to merge `master` into `gtk3`. The work was made difficult by the numerous additions to code which differs between the two branches, combined with cleanups.
Lesson learned - merge more often!

https://github.com/Beep6581/RawTherapee/tree/gtk3-merge-master-b8eb349

@Hombre57 could you take a look if everything seems OK?
Of course everyone else is welcome (and encouraged)

[2016-10-10 21:52] Hombre57 commented on #3406
@Beep6581 The crash was due to an uninitialized pointer, occurring in Release build only. Fixed in last commit.

[2016-10-10 22:23] heckflosse commented on #3453
@Beep6581 Cppchecked, didn't detect any new important issues :+1:

[2016-10-10 22:44] heckflosse commented on #3408
Is that Issue still valid and reprocucible?. If not, I'll close it soon!

Ingo

[2016-10-10 22:46] heckflosse commented on #3413
I also tried using Win7 gtk3 3.18.0. No Problems here

[2016-10-10 22:48] heckflosse commented on #3386
@lvreclp You're still alive?

[2016-10-10 22:54] heckflosse commented on #3349
Can we close this issue?

[2016-10-10 23:06] Hombre57 commented on #3453
@Beep6581 Walked through the rtgui folder, looks good for me too. I rediscovered the `ConnectionBlocker` class btw, and will make a new patch once this branch is merged to gtk3. Good job @Beep6581 :+1:

[2016-10-10 23:07] Hombre57 commented on #3446
Small update : I'm still in the process of solving the bugs to make RT/Gtk3 works with Gtk3.22. Wait for a patch during this week.

[2016-10-11 00:32] iliasg commented on #3349
Yes .. close it.
The links of the problematic file expired .. I found some samples of the same smartphone (I think ..) which have no problem !! https://www.dropbox.com/sh/30pje0h85il030b/AAAvdPlNpgms-MXPhsHVfFlra?dl=0
So I think the problematic file was a special case (bad firmware ?) which should be corrected by now ..

Lets just keep in mind that it would be usefull to
- have the option to set p

[2016-10-11 01:47] RuralHunter opened #3454 "Crash when click "toggle before/after view" button"
OS: Ubuntu 16.04
The daily build crashes for any image when I click the "toggle before/after view" button. This works fine with the official stable version 4.20. My daily build version was install from rawtherapee-unstable of APT-Sources: http://ppa.launchpad.net/dhor/myway/ubuntu xenial/main amd64 Packages
Version info:
Branch: master
Version:
Changeset: daily
Compiler: x86_64-linux-gnu-gcc 5.4.0

[2016-10-11 03:39] PhilBaz commented on #1812
Yes, i also wanted to say thanks for your efforts @Hombre57. The tool was implemented very nicely and it will be a pleasure to use.

Looking forward to seeing it in the official release.....

Anyone have a clue when that might be?

[2016-10-11 05:42] Beep6581 commented on #3453
Thanks! :)

[2016-10-11 05:43] Floessie commented on #1812
@PhilBaz

We are in the process of releasing RT5, which should be due by the end of the month. As the lockable color pickers have already been merged to master, they will be part of that release.

[2016-10-11 05:43] Beep6581 commented on #3453
Actually it's too early in the morning to merge... I'll have a coffee first, just in case. :)

[2016-10-11 05:54] Floessie commented on #3454
Reproduced it on current master. Looking...

[2016-10-11 06:03] Floessie commented on #3454
Fix:
[code]

Best
Flössie

[2016-10-11 06:18] Beep6581 commented on #3413
Summary: gtk+-3.18.9 and possibly other versions seem to have a bug regarding the mousewheel and scrollbar. Regardless, in Gtk3 the vertical scrollbar auto-disappears. Is there any use keeping the option?

[2016-10-11 06:35] Desmis commented on #3421
@heckflosse

Ingo
No problem. Thank you again :)

The actual "algoritm code" contains many arbitrary values (thresholds filters, ...). Of course I can make parameterizable via "options", but before I want users assess the new algo.
:)

[2016-10-11 06:40] Beep6581 opened #3455 "Delete clean.sh"
The project root contains a file "`clean.sh`". This is the same you get when you run `make clean`. Any objections to deleting the file? @mbajor @dhor @salvadhor @dduma (just guessing)

[2016-10-11 06:56] Desmis commented on #3406
In Rawtherapeein RT, except for the raw part, it is applied a gamma srgb, 2.4 g = slope = 12.92

To see the impact of a change of gamma ... and for other things, you can go to the "gammadif" ... branch that has not had much success. and see the impact of a change of only gamma

However, you can simulate a change in gamma (broadly defined) on the part RGB or RGB + Lab, I introduced the concept of g

[2016-10-11 06:59] Beep6581 commented on #3453
Done.

[2016-10-11 07:00] Beep6581 commented on #3454
@Floessie bug and fix confirmed.

[2016-10-11 07:02] Floessie commented on #3454
@Beep6581 Thanks. Feel free to commit the fix yourself. :smile:

[2016-10-11 07:19] RuralHunter commented on #3454
Thanks for the quick fix!

[2016-10-11 07:39] Beep6581 commented on #3386
Ok to merge?

[2016-10-11 07:46] #3454 closed

[2016-10-11 08:33] Beep6581 commented on #3406
@Hombre57

I want to change this to be more user-friendly (users don't know that "L*a*b*" here means the final image coming out of RT before it gets transformed by the output or monitor profile), but I don't know whether this is still accurate. What does it do and when does it do it? What happens if soft-proofing is enabled?

Other languages/default changes:
https://gist.github.com/anonymous/67d55

[2016-10-11 09:52] mbajor commented on #3455
@Beep6581 I don't using it.

[2016-10-11 11:09] heckflosse commented on #3386
Ok

[2016-10-11 14:11] Desmis commented on #3421
There is still a bug, I think due to  hueref, chromaref, lumaref between improccoordinator.cc and dcrop.cc

[2016-10-11 15:58] esby commented on #2631
@heckflosse I fixed the issue, it was easier than I thought, but still there might be some other issues to correct. (there is actually one, but it's not triggerable right now, if a ttp profile is created and loaded later with a new version which contains  new panel(s), the possibly new panels that were not defined at this point wont be loaded.) I'll fix the logic for it.

[2016-10-11 16:56] ellelstone commented on #3406
@Hombre57 @mm2

My apologies! for being indeed confused about what the quoted passages were talking about. It didn't occur to me that anyone would want to use proofing to see gamma artifacts, and so I wondered if my frequent failure to express myself clearly had completely obscured communicating one of my main goals for soft proofing, which is the ability to soft proofing *from* a linear gamma sou

[2016-10-11 17:46] Hombre57 commented on #3406
@ellelstone Could you share your 32  bits image on any sharing platform ?

[2016-10-11 17:46] heckflosse commented on #2631
@esby Yeah, that's much better :+1:

[2016-10-11 19:05] ellelstone commented on #3406
@Hombre57 RT is not reading the embedded ICC profile. Does the RT code just assume that every floating point tif is 1. a linear gamma image and 2. in the sRGB color space? Assigning the correct profile from disk makes the image look correct. Here's a temporary link to a sample file: http://ninedegreesbelow.com/files/soft-proof/sample-files/two-apples-argyll-srgb.tif

[2016-10-11 19:41] ellelstone commented on #3406
Very often a camera input profile will produce colors that aren't even real, much less contained in a working space such as ProPhoto or Rec2020 or even ACES, which is designed to hold all real colors. Three such raw files can be downloaded from Section A2 of this page (the raw file white balance is UniWB for all three files, so please do see the notes for the appropriate white balance to use): htt

[2016-10-11 20:02] #3453 closed

[2016-10-11 20:03] Beep6581 commented on #3409
Somewhat related to #2428 "Batch-adjusting white balance relative to auto white balance"

[2016-10-11 20:07] Beep6581 commented on #3386
Done.

[2016-10-11 20:07] #3386 closed

[2016-10-11 20:09] Beep6581 commented on #3455
Deleted.

[2016-10-11 20:09] #3455 closed

[2016-10-11 21:25] Hombre57 commented on #3406
@ellelstone Gamma problem for 32 bits Tiff files solved in commit 81c5b1c. We were forcing a Gamma value of 1.0 as a workaround to broken Tiff file produced by some software few years ago, but I'm removing it now.

[2016-10-12 00:46] heckflosse opened #3456 "Cppcheck"
I created a [Gist](https://gist.github.com/heckflosse/6133c961feddee020fe9f93347b9aafa) to track Cppcheck of master branch.

The idea is to Cppcheck more often and detect new Cppcheck issues a bit easier.
The Gist allows to show a diff between Cppcheck log files.
For now I'll create the Cppcheck log files from time to time but everybody can have a look at them and also at the diff to check for new

[2016-10-12 06:16] Floessie commented on #3456
Oh my, didn't realize it's so bad. :worried:

From my experience, cppcheck has many false positives and sometimes warns about things not that critical, and I assume that's true for the RT log as well. **But** there are things to worry about, especially those OOB array accesses and uninitialized variables (and members). Those uninitialized variables also pop up when compiling with a clang based com

[2016-10-12 06:45] Floessie commented on #3300
@heckflosse @Beep6581 When and how would you like me to do the `clang-tidy` bulk changes (if at all)? I could create a temporary branch from master and apply those changes only for testing. If it still works and builds (which I expect), I could do the same after the soft-proofing branch is merged. What do you think?

[2016-10-12 07:56] Beep6581 commented on #3300
At this point we need all the testing we can get. If the clang-tidy changes are to be part of 5.0, and if they're in good enough shape, then it would be better to merge them into master ASAP so nightly builds become available straight away for testing. If these are the kinds of changes that could cause major problems (for example corrupt parts of images which only occur in one image here and there

[2016-10-12 08:38] Floessie commented on #3300
@Beep6581

I've confidence in the `clang-tidy` checks that included in the list. Most of them are about streamlining the code, some of them simplify logic. This could be some kind of a problem, and if they are too invasive, I'll skip them. But I only had positive experience with those checks.

Okay then, I'll prepare a branch ASAP so that you can have a look on what will change and what you like o

[2016-10-12 09:55] Beep6581 commented on #3300
@heckflosse @Hombre57 @Desmis please weigh in, as it affects the large number of outstanding [patches](https://github.com/Beep6581/RawTherapee/labels/patch) and [branches](https://github.com/Beep6581/RawTherapee/branches/all).

[2016-10-12 10:05] heckflosse commented on #3456
@Floessie We can ignore `dcraw.*`. That reduces the work a bit...
I also checked the OOB in demosaic_algos.cc. They should cause no problems, because they are no real OOB accesses.
Today I'll try to fix as many `uninitialized variables` as possible.

[2016-10-12 10:07] heckflosse commented on #3300
No problem with my outstanding work.

[2016-10-12 12:06] Floessie commented on #3456
@heckflosse I was thinking a bit about [`rtengine\CA_correct_RT.cc:162`](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/CA_correct_RT.cc#L162): Methinks the cast isn't needed in the first place. I seldom use C arrays, that's why I'm a bit unsure if this fix is right:
[code]

Maybe that helps
Flössie

[2016-10-12 12:48] Floessie commented on #3456
Here is one for the `rtengine\iimage.h` warnings:
[code]

[2016-10-12 13:29] Hombre57 commented on #3300
I'll probably merge the soft-proofing branch tonight, so there will be no issue for me but for you here.

Regarding the other opened branch :
   - spot-removal-tool : I'll be able to merge your changes in this branch, there's not much collision with existing code
   - gtk3 : can't say, @Beep6581 will handle any merge
   - SaveStrategy : stalled branch, sadly, because too much suggestions that can'

[2016-10-12 13:55] Beep6581 commented on #3300
I would really like "newwavelet" to make it into 5.1! It had some bugs the last time I tried it, but @Desmis worked on it after that and I haven't had a chance to properly test it since.
"gammadif" I didn't test because I didn't understand what it really did or how to test it. After recent discussions I'm also interested in it.

[2016-10-12 14:14] Floessie commented on #3300
@Hombre57 No need to get in a hurry because of me. My plan is to provide you all with a `clang-tidy` branch to see what will change. This will be a temporary one, which I'll ditch later. When you all and especially @Beep6581 is okay with it, I'll create a new one after all branches for 5.0 have been merged and near the point where @Beep6581 will do his `astyle` run. Sounds sane?

To ease merging o

[2016-10-12 15:09] Desmis commented on #3300
For me, you do what you want, there will always a way to fix after, either alone or with the help of someone :)

newwavelet: Unless I am mistaken, Ingo has taken time to examine the code some weeks ago.

gammadif: it is an "old" branch, with more features as it seems

locallab: there are two different things in it, as I have already said.
1) the algorithm itself "U-point type", now from my point o

[2016-10-12 15:45] Floessie commented on #3456
@heckflosse Here are two files that are not used anymore (fallout from the `clang-tidy` run):
- rtgui/rawprocess.cc
- rtgui/thumbbrowserentry.cc

[2016-10-12 16:11] heckflosse commented on #3456
@Floessie [This](https://gist.github.com/heckflosse/6133c961feddee020fe9f93347b9aafa#file-rtcppcheck-log-L656) looks like a false positive. Or do I miss some thing?

[2016-10-12 16:47] Floessie commented on #3456
@heckflosse No, you don't. But the syntax is bogus, no wonder cppcheck chokes on it.

[2016-10-12 17:25] heckflosse commented on #3456
I fixed some warnings and pushed to new cppcheck2 branch. Still not complete...
Gist is updated too

[2016-10-12 18:04] Floessie commented on #3300
[Here](https://github.com/Beep6581/RawTherapee/tree/clang-tidy) is the demo branch. Some remarks:
- `readability-braces-around-statements` failed with macros. Maybe astyle can help here (uncrustify definitely can).
- `readability-avoid-const-params-in-decls` found nothing. :+1:
- `readability-redundant-control-flow` neither. :+1:
- `misc-redundant-expression` neither. :+1:

HTH
Flössie

[2016-10-12 18:40] ravak commented on #3387
@Beep6581 @heckflosse master won't do, as it only pops up an error (and does not crash). Recording screencasts on both versions anyway. It seems to cause issues on my files, and it may have something to do with 'author' / 'copyrights' fields being set up (both on E-300 and D750).

Your file (fine) + my D750 file (error) on master 1069 : https://db.tt/Y40mXKki
My E-300 file (error) on master 1069 :

[2016-10-12 19:40] Beep6581 commented on #3387
@ravak you uploaded an Olympus file, not a Nikon D750 one.

[2016-10-12 19:45] ravak commented on #3387
@Beep6581 Sorry, that was the first integration on ShareX. Yes, E-300 file is fine as that's the file that crashed RT in last screencast. I can crash it on both E-300 and D750, thus my conjecture that it's metadata (author / copyright tag) related... I'll update previous comment.

[2016-10-12 20:53] Hombre57 commented on #3406
I was about to merge this branch into master, but thought again about the Working profile...

Nobody commented this :

   1. Input (Lab) -> Monitor profile

This branch converts the Lab data (PCS if I've understood correctly) to the output profile. Should I convert it to the Working profile first ? This might shrink the gamut depending on the selected WS. IMHO, I don't see the interest of doing th

[2016-10-12 23:43] heckflosse commented on #3456
Pushed another bunch of fixes and updated gist

[2016-10-13 06:08] Beep6581 commented on #3406
@Hombre57 what is "input"? Is "input" actually the output at the end of the RT pipeline before being transformed using the monitor and/or output profile? At what point is the working profile applied?

[2016-10-13 12:15] 243750496 opened #3457 "Can not import default raw settings"
i want to load default settings as the improted raw image, but after i double click the image it will auto set some adjustment to it , how to be original? and buy the way what's the difference of right side of welcome page that also have some configuration can set and do to images(or single) and the advance edit mode withch showup after double clicked the image
![screenshot 2016-10-13 20 12 09](ht

[2016-10-13 12:23] heckflosse commented on #3456
Last bunch has a bug. Don't try it. I have to fix the bug first

[2016-10-13 12:26] Beep6581 commented on #3457
Please read the [documentation](http://rawpedia.rawtherapee.com/) first, specifically [this](http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG), [this](http://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles) and [this](http://rawpedia.rawtherapee.com/Creating_processing_profiles_for_general_use), and use our [forum](https://d

[2016-10-13 12:26] #3457 closed

[2016-10-13 16:15] heckflosse commented on #3456
I pushed a fix for last commit and also some new fixes to branch cppcheck2. Gist is updated too

[2016-10-13 20:54] heckflosse commented on #3456
I'll be afk until sunday evening. Feel free to push fixes to cppcheck2 branch :)

[2016-10-13 20:56] heckflosse commented on #3456
@Floessie I didn't include your suggested fixes yet because I needed to concentrate on the lot of other fixes.

[2016-10-13 21:26] sachinwalia2k8 opened #3458 "Commandline only option"
I am trying to build RawTherapee for Ubuntu 16. The intention is to use this in a server environment. It seems like there is a hard dependency on gtk. Is it possible to build commandline only version?

thanks.

[2016-10-13 22:19] pi99y opened #3459 "Wavelet (below or equal, all directions) Preview in combination with Contrast adjustment"
EDIT:
OK I just realised that the first screenshot is a bad example since I changed the contrast of above levels too. But the question and animated GIF example remains - Should such a drastic contrast change result in no visible change?
---

This seems strange:
* adjust the weavlet contrast drastically
* set weavlet process to "below or equal" and "all directions"
there is no visible change if the

[2016-10-13 22:42] Hombre57 commented on #3406
Yes, how should I call it ?

Look at the `tools/color_management.svg` file. The working profile is actually not used when displaying to the monitor or saving the image file. It's only computed for image analysis if you enable Working Profile Histogram in Preferences.

[2016-10-13 22:43] heckflosse commented on #3459
@pi99y If there's no detail for the levels below or equal 4 you won't see a difference when viewing `Below or equal the level`, `Level 4`

[2016-10-13 22:47] heckflosse commented on #3406
@Hombre57 `The working profile is actually not used when displaying to the monitor or saving the image file` That really sounds disturbing! If the `working profile is not used`, how can rt work with the image?

[2016-10-13 22:48] pi99y commented on #3459
If there were no details wouldnt be the preview blank gray? The person is visible due to details in those first 4 levels, no?

[2016-10-13 22:51] Hombre57 commented on #3406
Addentum : the Working profile is used here and there in the pipeline, so it has its utility, but not at the end of the pipeline. What is previewed is either a transformation from PCS/Lab (which is something different from the Working profile ?) to the monitor or when in soft-proofing mode, a transformation from PCS to output to monitor.

[2016-10-13 22:54] Hombre57 commented on #3406
If you look at master, the Lab image was wonverted to the XYZ color space before being converted to the monitor profile, so it's the same behavior, I've only removed the Lab->XYZ conversion (was it wise ?) In the LCMS documentation, it is said that Lab and XYZ and the 2 main PCS, so I don't see why we should convert to XYZ first. Of course, I may be wrong :sweat_smile:

[2016-10-13 22:59] heckflosse commented on #3406
@Hombre57 Yes, I know the pipeline. The working profile is used for early steps in pipeline before converting to Lab. I just wanted to point out that your statement `The working profile is actually not used when displaying to the monitor or saving the image file` can be misunderstood ;-)

[2016-10-13 23:12] heckflosse commented on #3459
@pi99y Unfortunately your screen shot hides the setting of `Apply to` at the bottom. Enabling `Contrast` uses that setting, while disabling `Contrast` ignores it (as it is in `Contrast` section)

[2016-10-13 23:25] heckflosse commented on #3459
@pi99y Wouldn't it be better to discuss this in [rt forum](https://discuss.pixls.us/c/software/rawtherapee) ?

[2016-10-13 23:58] heckflosse commented on #3459
@pi99y `Should such a drastic contrast change result in no visible change?` Not if you apply it to 'Shadows/Highlights' only.

[2016-10-14 06:43] Floessie commented on #3456
@heckflosse Okay, then I'll push them and see if I find some time to fix some more.

[2016-10-14 07:08] pi99y commented on #3459
Ha, I totally missed the "Apply to" section.
Indeed, swhitching it to "whole range" it now behaves as I expected.
Sorry for the alarm. Other weavlet settings like Chroma and Denoise worked on the same "preview" so it looked like a bug to me. But yeah, I missed the "Apply to" section.

Thanks @heckflosse for the explanation.

I'll try asking in IRC next time beforehand (since I dislike registering