[2017-03-09 20:08] heckflosse commented on #3741
I found another issue when rotating fuji super-ccd files by 90°. I will fix that too...

Edit: I will most likely fix that tomorrow. Now I will give precedence to pixelshift work :)

[2017-03-09 22:11] SarenT commented on #3746
Not really, but I can make it executable.
prw-rw-r--   1 user group    0 Mar  9 23:07 raw.nef

I think this (your suggestion) is a better alternative. Some people may even concider device files (/dev/... stuff) such as drivers etc. to provide raw input.
I have now cloned the project. I was actually hoping to add standard input option to get raw input, which would simplify my code a lot. But that m

[2017-03-10 00:08] TooWaBoo commented on #3736
@agriggio

What theme are you using in your sreenshot? It doesn't look like the RawTherapee nor a TooWaBlue theme.

[2017-03-10 00:45] heckflosse commented on #3741
@agriggio

It didn't help, but only because I was so busy searching the issue using valgrind while you also worked on finding the culprit in parallel ;-)
We should coordinate our work better in future to avoid wasting time :)
Thank you very much for your effort to find the source of the Issue, greatly appreciated :+1:

Ingo

[2017-03-10 00:59] SarenT commented on #3746
Update here... I have tried to replace it but obviously it didn't work. It seems to be that image IO relies on fseek to move to the end of the file and getting the current position to find the size of the file. All of which cannot be done with named pipes. But it seems to be that **fopen** call from **gfopen** in **myfile.cc** seems to fail. I am still investigating it. Simply allowing pipes is th

[2017-03-10 01:04] heckflosse commented on #3746
@SarenT Did you try building RT without MMAP support?

[2017-03-10 01:12] X-Raym opened #3747 "Pressing Shift hover sliders make them flick"
Hi !

We can press <kbd>Shift</kbd> hover a slider to adjust value. Cool !

But on Windows 10 x64,

- it highlights the last touched slider (even if the mouse isn't hover it)
- it makes the slider flick very quickly

![screenshot](http://i.imgur.com/6c5EXfM.gif)

Thanks !

[2017-03-10 01:15] X-Raym opened #3748 "KeyBoard Shortcut for switching between neutral and last profile"
Hi !

Feature request:

So we can press Shift+B to get a side view with the previous first state of the history.
Sometimes, it is the file source. Cool. Sometimes it is not.

That's why I think that having a master button somewhere to toggle Before (unmodified file) and After would be very cool.

This would be a way to see the influence of all the modifications, not matter if you closes/reopen Raw

[2017-03-10 01:27] heckflosse commented on #3747
@X-Raym

I really tried to answer you, but that animated gif above was so disturbing...
I know that often pictures are more informative than text, but clearly not in this case!
Please describe the issue in clear words!

Ingo

[2017-03-10 01:27] X-Raym opened #3749 "Horizon Line Tool doesn't stay active"
Hi !

When you use horizon line tool,
it automatically switch to the default move tool when you release the mouse,
as if we should get our line/rotation right at one try only ^^

It would be nice if the Horizon line too stay active untill the user decides to switch to another tool manually, on its own, in order to allow him to use the tool several times without having to click the toolbar button e

[2017-03-10 01:36] TooWaBoo commented on #3747
@X-Raym

Which RT version are you using? (Preferences -> About -> Version)

I couldn't reproduce this behaviour.

This is my version

[code]

[2017-03-10 01:45] heckflosse commented on #3747
@X-Raym After understanding your issue I can confirm it on Win7/64 gtk3.18

As soon as I hold the shift-key the last active slider flickers (in gtk3 builds)

Edit: It's not the last active slider which flickers but the last changed slider.

[2017-03-10 01:53] TooWaBoo commented on #3747
It flickers, 'cause the Shift key switches the slider between normal and fine tune mode. Holding the Shift key switches between these modes very fast. So it's not a bug?

There are two different functions on the same key.

[2017-03-10 02:15] heckflosse commented on #3747
@TooWaBoo I don't know if that's a bug :(

@X-Raym Hint for further issues: Developers and testers (especially developers) act like machine. Means, speaking prosa is suboptimal. You have have to give clear instructions about how to reproduce an issue to not waste their spare time :)

[2017-03-10 02:41] X-Raym commented on #3747
@heckflosse
Hi !
Sorry if my report wasn't clear enough, I made dev too so I know how frustrating bad reports can be. I was in a hurry cause it is already 03:30am here... ^^

Here are my infos:
[code]

As you can reproduce now... is there anything else you miss ?

[2017-03-10 02:44] X-Raym commented on #3747
@TooWaBoo
Maybe it is not a bug but it certainly looks weird.
Having two actions on the same button swtiching from one to ther other at somewhere arround 25hz is a bit unexpected ^^

Also, I am not sure to see any difference for mousewheel between the normal and fine tune mode.

Not that if you press <kbd>SHIFT</kbd> then <kbd>ALT</kbd>, the flickering stops.

[2017-03-10 02:49] TooWaBoo commented on #3747
@X-Raym

I'm not sure, but I think this is a GTK and not a RT bug. In Gtk3.22 the Shift key doesn't toggle between normal and fine tune mode.

[2017-03-10 03:06] X-Raym commented on #3747
@TooWaBoo
Do you want me to test with another build of RT ?

[2017-03-10 03:09] TooWaBoo commented on #3747
There is no need to test with another build, but if you want to try the latest **dev**elopement version (Gtk3.22), you can download it from here: https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8

[2017-03-10 07:06] agriggio commented on #3736
@TooWaBoo I'm using the default. What makes you think it is not the case? I might have changed the font (I don't remember), but if so only through the preferences dialog. I didn't touch any CSS

[2017-03-10 07:22] agriggio commented on #3741
@heckflosse don't worry, it was a waste of time only in a very technical sense. I did it because I wanted to, and learnt a lot in the process. This is never a bad thing :smile:

[2017-03-10 07:50] X-Raym commented on #3747
@TooWaBoo
I confirm, the *5.0-r1-gtk3-124-gb84e570f* version doesn't seem to have this problem. Cool !

I close the issue then (we can still reopen later if needed).

Thanks you for your support :)

[2017-03-10 07:50] #3747 closed, assigned to nobody

[2017-03-10 08:44] TooWaBoo commented on #3736
Sorry, my fault. It's a long time that I saw the Gtk3.**18** theme. It looks totally different to Gtk3.20 version.

[2017-03-10 08:45] agriggio commented on #3736
@TooWaBoo no problem :-)
BTW, I've expanded the documentation a little bit. Feedback is welcome!

[2017-03-10 08:56] X-Raym opened #3750 "Fit to screen action is offset on Windows"
Hi !

## Bug report

It seems that on Windows 10 x64, *Fit to screen* action (triggered by <kbd>f</kbd>), is offset to the left border of the image; it doesn't fit according to its center. According to my test, it doesn't seem to take into account the width of the preview space, only the heigh.

## Config

[code]

## Demo

### Linux Mint (working)

![Screenshot](http://i.imgur.com/oFjbb2r.gif)

##

[2017-03-10 09:14] TooWaBoo commented on #3750
Look at the top and bottom buttons. The smallest possible width of the image area belongs to the smallest possible size of these button toolboxes. You can thrink the width until you'll see ALL buttons. If you reach this limit, the sidebar begins overlapping the image area.

It's not a bug.

EDIT: The zooming also has changed in RT5.x. It's not zooming from the center of the image, it's zooming fro

[2017-03-10 09:44] X-Raym commented on #3750
@TooWaBoo
Ok ok so there is a minimal width possible for this preview, and this minimal width depends on the buttons below it.

I would have expect that the image gets resized anyway, and that the zoom center on the image. So maybe not a bug, but feature requests:

* Right Panel don't go hover image (to allow
* Image gets resized if right panel is
* **Fit to screen action zoom to center**

Buttons

[2017-03-10 09:45] Beep6581 commented on #3748
It does matter, because when you close RT you lose the history stack.

"Unmodified file" could mean:
* Embedded JPEG preview
* Raw with neutral PP3
* Raw with last-saved PP3

[2017-03-10 09:50] Beep6581 commented on #3750
I'm inclined to close this issue because https://discuss.pixls.us/t/local-lab-build/1430/142?u=morgan_hardwood

[2017-03-10 09:51] Beep6581 commented on #3750
I must add that we became used to the buttons overlapping on unsupported low screen resolutions because GTK2 had no native way of making the buttons dynamically flow and wrap inside their container, but perhaps GTK3 does?

[2017-03-10 09:57] Beep6581 commented on #3747
I can't make sense of the text in the first post, but the fact that the slider can change height is not a bug. GTK3 lets you put the slider into "normal" or "fine" adjustment mode using Shfit, and the height change if your indicator of that. If that has changed, if that no longer works, then that is the bug.

[2017-03-10 10:00] X-Raym commented on #3748
Actually, history preservation could be a feature request too 😹

Ok this lead me to what I wanted to do. I expected it to be a simple toggle, that's why I missed it, but in fact, the feature already exist (and is only two click)

I can switch between Neutral Profile and Last Profle from the preset dropdown menu. cool ! No UI button needed then.
But a keyboard shortcut to toggle between neutral and

[2017-03-10 10:18] Beep6581 commented on #3747
I confirm that there is a bug: current dev does not give any feedback as to the slider's state. It used to work before. The slider should go thick when it's in fine adjustment mode.

Issue #3751 opened.

[2017-03-10 10:19] Beep6581 opened #3751 "Slider mode no longer gives visual feedback"
GTK3 lets you put the slider into "normal" or "fine" adjustment mode using Shfit, and the height change if your indicator of that. Current dev does not give any feedback as to the slider's state. It used to work before. The slider should go thick when it's in fine adjustment mode.

[2017-03-10 10:20] TooWaBoo commented on #3747
Gtk3.18 does, Gtk3.22 doesn't. To switch into fine tune mode you have to click on the slider and hold it for 2 sec. without moving. The behaviour in Gtk3.18 (Shift toggles between the two modes) doesn't make sence, 'cause it has no effect when you move the sliders with the keys and when you use the mouse you have to click and this switches the fine tune mode off.

In Gtk3.18. the height of the sli

[2017-03-10 11:02] TooWaBoo commented on #3747
@Beep6581

If you want, I can add it to the RT theme.

[2017-03-10 11:40] Beep6581 commented on #3747
@TooWaBoo the feature works the same in 3.22.9 as it did in 3.18 and probably in 3.16 too. Click-hold or shift-click the knob to trigger it. The user gets feedback in the form of the slider height changing.

I'm not sure what you mean, but the feature does make sense and is usable in RawTherapee. Maybe it's broken in Windows?

I just confirmed that the feature works correctly and is usable in RT w

[2017-03-10 11:55] TooWaBoo commented on #3747
Confirmed, works in Windows too.

It looks like setting the dimensions in the theme is overwriting the fine tune functionality. That's why you have to define the fine tune state in the css too.

Insert this at line 246 in the RT theme to get back the feedback for the fine tune mode in Gtk>3.20

[code]

[2017-03-10 12:04] TooWaBoo commented on #3747
In Gtk3.18 the fine tune mode toggles on/off without clicking anything just by holding the Shift key like rapid fire in a game and this makes no sense.

[2017-03-10 12:14] Beep6581 commented on #3747
@TooWaBoo that must be specific to Windows, as it works fine in GTK+ 3.18 in Linux. The slider should change modes only on the shift press event - holding shift should not make it cycle modes.

Could you delete all RT CSS files and see whether it works correctly using GTK+ 3.22 in Windows?

[2017-03-10 12:48] Beep6581 commented on #3665
No luck yet. Seems we will have to use Docker in .travis.yml in order to get recent-enough dependencies (GTK+ specifically).

[2017-03-10 13:44] TooWaBoo commented on #3747
I already did and it works fine with Gtk3.22

[2017-03-10 13:54] Floessie commented on #3746
@heckflosse The problem is a bit different: Pipes like `stdin` or FIFOs can (by their streaming nature) only be read once. RT on the other hand opens a file multiple times during startup. One example is to obtain the EXIF. This will hang. So it's not a problem of MMAP or not.

I've investigated a bit (and even made `rtexif` use `myfile.h`) and it looks as if a solution is possible. It will change

[2017-03-10 14:43] TooWaBoo commented on #3751
Insert this at line 246 in the RT theme to get back the feedback for the fine tune mode in Gtk>3.20

[code]

[2017-03-10 15:39] ion12 commented on #3678
I renamed 'lib' folder to 'Frameworks' folder as per @Partha1b's recommendation in the macOS build/loader scripts and updated the pull request.
@Beep6581 :
1. For the CMakeLists.txt file - I will add an `if (APPLE)` conditional  for the BINDIR and DATADIR locations.
2. There are 6 additional directories being set (LICENCEDIR, ICONSDIR etc.) - would you consider it acceptable to replace `"."` with

[2017-03-10 16:09] gaaned92 commented on #3751
@
Windows10 gtk3.22.9 : slider goes thick

[2017-03-10 16:35] TooWaBoo commented on #3751
@gaaned92

Where did you get Gtk3.22.**9** for Windows?
Did you test with the RT or the TWB theme?

[2017-03-10 16:43] gaaned92 commented on #3751
@TooWaBoo
I just made an update of MSYS2 : pacman -Syu

[code]
I tested  with the RT theme only. I dont know where to insert correction in TWB theme

[2017-03-10 17:00] TooWaBoo commented on #3751
Have you done the test with the modification above?
The TWB theme doesn't have this issue, 'cause I'm sizing everything.

` Found gtk+-3.0, version 3.22.9`
I get the same message, but "AboutThisBuild" shows Gtk3.22.0

[2017-03-10 17:11] gaaned92 commented on #3751
For the TWB you are right.

AboutThisBuild shows the gtkmm-3 version and not the gtk+-3 version.  gtkmm version is the last line of the pasted message above.
Perhaps AboutthisBuild should be modified as gtk+ version is more informative.
From Gnome: "gtkmm is the C++ API for GTK+, with bindings for other GNOME libraries too". This API seems to be stable.

[2017-03-10 17:13] TooWaBoo commented on #3751
Ahh, thanks, now I get it.

[2017-03-10 17:40] Beep6581 commented on #3678
I opened a local branch to clean up the CMake files some weeks ago, specifically I don't like having stuff for Windows, macOS and Linux in one file AND having a separate `win.cmake` file - it would be cleaner to combine the two. The branch is out of sync now and does not merge - I'll get back to that in some weeks.

@ion12
2. Sounds acceptable.
3. Nothing, apparently. I would make the man page use

[2017-03-10 19:14] Hombre57 commented on #3739
@heckflosse Have you pushed these changes in a branch ?

[2017-03-11 00:56] heckflosse commented on #3739
@Hombre57 I pushed to pixelshift branch. As discussed on irc, here are my changes related to avoid sigc::connection objects and the booleans to handle state of checkButtons in gui header files to simplify gui code

https://github.com/Beep6581/RawTherapee/blob/pixelshift/rtgui/guiutils.h#L266

And for example:

https://github.com/Beep6581/RawTherapee/blob/pixelshift/rtgui/bayerprocess.cc#L319

[2017-03-11 12:45] Stiouxk commented on #3637
Thanks, I was also having this problem (Ubuntu 16.10, GTK 3.20). After changing this, and also a similar line in rtgui/main.cc, around line 342, my font sizes are now normal.

[2017-03-11 16:43] daurzada opened #3752 "Version 5.0-r1 crashing during color temperature change"
(I don't have a debug version compiled on my system).
RawTherapee is crashing on color temperature changes. I can make one or two clicks of the +/- and then it will crash. It doesn't seem to matter if I use the default or my custom "baseline" profile.

attached is my default profile:
[baseline.pp3.txt](https://github.com/Beep6581/RawTherapee/files/835939/baseline.pp3.txt)

HW:
os: ubuntu 16.04 LTS

[2017-03-11 16:50] Floessie commented on #3752
@daurzada

But you should install `gdb` and [provide us with a backtrace](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports) anyway. We always need something to chew on. :wink:

[2017-03-11 18:26] Beep6581 commented on #3752
As @Floessie said. You can reply with your stack backtrace in issue #3650 which this is a duplicate of.

[2017-03-11 18:26] #3752 closed, assigned to nobody

[2017-03-12 03:24] ganthore opened #3755 "Duplicate Home/User Folder"
4.2 and bleeding edge versions of RawTherapee all tend to show a 2nd home/user folder in the "Places" pane in the upper left hand corner of the application. I've tested this using both the GTK2 and GTK3 branches and got the same result while running the application in a Linux based environment. That last version I tested against was 5.0-r1-gtk2 (commit 1077c4b).

![screenshot_20170311_222157](http

[2017-03-12 17:28] ronanM opened #3756 "Browse all files in folder and subfolders recursively"
Add the possibility to view all files of a dir tree (recursively). Like in `XnViewMP`, `Lightroom`, etc.

[2017-03-12 22:18] #3637 closed

[2017-03-13 00:38] Hombre57 commented on #3691
Branch rt-cli updated with commit 567ed36. @Floessie, it would be nice if you could have a look at the removed const from `rtengine/iccstore.h`. I had to remove them because the profiles can now be loaded with rawtherapee-cli and `-q` switch. Do we have to make the functions `const` again ?

Last thing to update is the InnoSetup script, but that's trivial, I'll do that before merge.

[2017-03-13 01:53] heckflosse opened #3758 "Suggestion to save some vertical space in rt queue tab"
![queue](https://cloud.githubusercontent.com/assets/13733487/23838658/34d116c4-0798-11e7-898a-9bc4208f04bb.png)

[2017-03-13 04:31] TooWaBoo commented on #3758
In Gtk3.22 it looks like this:
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/23841503/12d7915e-07ae-11e7-92e8-f9336935966e.PNG)

I will ckeck if I can add the frame in Gtk3.18.

[2017-03-13 06:21] TooWaBoo commented on #3758
In Gtk3.18 I can't set space between frames and the thumbnail area. I guess, that's why I didn't add the frames. Gtk3.18 lacks a lot of css features.
![q](https://cloud.githubusercontent.com/assets/13800920/23843649/b1ebe2d6-07bd-11e7-8791-f76a8f39a082.PNG)

So, what shall we do? :-)

[2017-03-13 07:23] Floessie commented on #3691
@Hombre57 I see.

From my POV yes, and I'll take care of it, if that's okay with you. I understand, why you had to remove the `const`s. The best thing to solve it, is to PIMPL `ICCStore` (which is due anyway). BTW: Shouldn't `loadProfile()` and friends reside in an anonymous namespace instead of `rtengine`?

If you like, I'll roll `ICCStore` up. :smile:

Best,
Flössie

[2017-03-13 07:37] gaaned92 commented on #3691
@Hombre57
I just made a build of rt-cli branch uploaded at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8).
As far as I can see the build seems correct and contains as I should expect the 3 exe files (rawtherapee.exe, rawtherapee_debug.exe and rawtherapee-cli.exe). I briefly tested the 3 exe and they run ok.

What you i

[2017-03-13 12:25] TooWaBoo opened #3759 "Wavelet Gtk3.18 GUI issue"
There is a GUI issue (look at the frame) in the Wavlet tool only for the "Wavelet Settings" expander in **Gtk3.18**, but in **Gtk3.22** it looks OK.

RT theme
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/23854096/1a5b74bc-07f0-11e7-88a9-e8719d277237.PNG)

TWB theme
![unbenannt2](https://cloud.githubusercontent.com/assets/13800920/23854108/28973dae-07f0-11e7-9eed-57aed57f193d.PN

[2017-03-13 13:25] heckflosse commented on #3758
Looks good on gtk > 3.18. I was confused by the double `file format`. Now it makes sense. I close the issue

[2017-03-13 13:25] #3758 closed, assigned to nobody

[2017-03-13 20:10] Hombre57 commented on #3691
@Floessie Please do whatever you want regarding code correctness, the functionality is ok. What does PIMPL means btw ?

@gaaned92 I haven't checked that part, hence my notice. There's nothing to do then, unless decision is taken to bundle rt-cli separately.

Could you test that it's working as you'd would expect ? Works fine for me. I'll wait few days before merging, unless you give me a go.

[2017-03-13 20:51] Hombre57 commented on #3759
@TooWaBoo Should be solved with commit 3660ed5. Could you test ?

[2017-03-13 20:54] Floessie commented on #3691
@Hombre57 *PIMPL* is the ["pointer to implementation" idiom](https://en.wikipedia.org/wiki/Opaque_pointer). You basically declare only a `class Implementation` and a `const std::unique_ptr<Implementation> implementation` in the private section of the header and forward all calls to the implementation defined in the source file. There are some more sophisticated rules to that, I know, but I always

[2017-03-13 20:57] Hombre57 commented on #3691
not sure that I understood what you said :/

Yeah, you can take your hand over it.

[2017-03-13 20:59] TooWaBoo commented on #3759
I can only compile Gtk3.22 and the test was successful.
@heckflosse or @agriggio are still on Gtk3.18, perhaps they can test it.

[2017-03-14 00:49] Hombre57 commented on #3759
Tested with my virtual machine, and works fine with Gtk3.18. Closing.

[2017-03-14 00:49] #3759 closed, assigned to Hombre57

[2017-03-14 01:05] heckflosse commented on #3759
@Hombre57 :+1:

[2017-03-14 23:13] Hombre57 commented on #3739
I've done some work on this but I'll need some advice soon. I should to be able to push something by Saturday.

[2017-03-15 14:33] TooWaBoo opened #3761 "Remove "Profile fill mode""
I'm thinking about the "Profile fill mode" button. For me, it doesn't make sense. I didn't find any usefull scenario where I would use this feature and I suggest to remove it.

![1816c33792d8f2f0af08f677bb0341cae7849d65](https://cloud.githubusercontent.com/assets/13800920/23953359/a410cf18-0994-11e7-892b-73138e9b6a2f.PNG)

A discussion is also done here:
https://discuss.pixls.us/t/loading-this-pp3

[2017-03-15 16:00] gaaned92 commented on #3691
@Hombre57
Tested here on W10, GTK3.22.9.
Works fine here.
I used the -q option and tested successively S, s, d and  p option.
 For me S option is the most interesting as it can replace the batch option.

[2017-03-15 23:37] Hombre57 commented on #3739
I've finished my patch. May I push it to psgtk3 or should I open a PR ?

[2017-03-15 23:52] heckflosse commented on #3739
@Hombre57 feel free to push to psgtk3

[2017-03-16 00:17] Hombre57 commented on #3739
Pushed to psgtk3.

I'd like to make the parent `Gtk::CheckButton` class private (to avoid mixing up uses of the child and parent class), but it doesn't build because of the constructor. If you want to have a look, it's on line 46 of `rtgui/checkbox.h`.

If you manage make it private, you should enable the commented out methods at the end of this files (and in the *.cc file). Otherwise, this can be

[2017-03-16 00:40] heckflosse commented on #3739
@Hombre57 Maybe @Floessie can help on making it private?

[2017-03-16 07:00] Floessie commented on #3739
@Hombre57 @heckflosse Not even [I]( https://github.com/Beep6581/RawTherapee/issues/3048#issuecomment-250542150) can do this. :grin:

 `private` inheritance means, everything is private, even the knowledge about base classes. There's a good answer to this on [stackoverflow](http://stackoverflow.com/a/9661959).

But what about the copyright notice in `checkbox.*`? The file wasn't written by Gabor in

[2017-03-16 07:02] Floessie commented on #3691
@Hombre57 I'll push on next weekend. There's no spare time for me until then.

[2017-03-16 08:28] Hombre57 commented on #3691
No problem, there's no hurry on my side. Thanks in advance for your cleanup !

[2017-03-16 08:32] Hombre57 commented on #3739
@Floessie There's no clear copyright policy on any of RT files. The last thing I heard was keep the Gabor copyright 2008-2010 and avoid any other copyright, despite some did included one. I don't even know what I should have stated if I had to.

[2017-03-16 08:36] Hombre57 commented on #3739
Haha, good one ! 🤣

[2017-03-16 08:36] agriggio commented on #3739
@Hombre57 when I added a couple of new files for the dynamic profiles features, I put a copyright like this:

[code]

because I assumed that the policy was to indicate the original author of the file. However, feel free to change it if you think it is wrong!

[2017-03-16 08:38] Hombre57 commented on #3739
@agriggio Nope, I'll change mine (and for other files too). Thanks for the hint. However I'd like to have a comment from @Beep6581 first.

[2017-03-16 09:48] Floessie commented on #3739
... who is still in Uganda until the weekend.

:+1:

[2017-03-16 11:58] reagle commented on #3510
BTW: I installed rawtherapee: 5.0-r1_gtk3 and this problem still exists.

[2017-03-16 14:24] fliker09 opened #3762 "CLI version asks for X server"
Ubuntu 16.04, RawTherapee 5.0-r1-gtk3

Error message:
"Failed to connect to Mir: Failed to connect to server socket: No such file or directory
Unable to init server: Could not connect: Connection refused

(rawtherapee:9404): Gtk-WARNING **: cannot open display: "

With 4.x there was no such problem. If additional information needed - ready to provide it!

[2017-03-16 15:57] heckflosse opened #3764 "Region shown in detail window magically moves to centre of preview when using - button to zoom out the detail window"
To reproduce:

Open an image in editor
Open a new detail window and place the area it shows outside the centre of the preview, like this:
![detail00](https://cloud.githubusercontent.com/assets/13733487/24005456/598ac3e2-0a69-11e7-8171-976abdd6d86b.png)
Then click the - button top of the detail window.
Now the area the detail window shows is centre of preview...
![detail01](https://cloud.githubuser

[2017-03-16 20:27] Hombre57 commented on #3739
I've committed a patch to update de copyright note of the 2 new files. I'll change others after discussion with Emperor of this repository (i.e. @Beep6581)

[2017-03-16 21:03] heckflosse commented on #3739
@Hombre57 :+1: for adding your copyright to your code! I did the same for pixelshift code a while ago.

[2017-03-16 22:48] agriggio opened #3765 "Incorrect zooming with lens correction profiles"
It seems lens correction profiles interact badly with zooming. Using an image
with an active lens profile makes RT compute wrong zooms when the level is >=
33%: basically the image becomes huge (see screenshot).

* zoom at 25%
![zoom-25](https://cloud.githubusercontent.com/assets/11982086/24021791/fa296180-0aa2-11e7-8788-4f169793f8a9.png)

* zoom at 33%
![zoom-33](https://cloud.githubusercontent.c

[2017-03-16 22:56] heckflosse commented on #3765
@agriggio Yes, that's caused by auto-fill. There already is a very old issue about that somewhere

[2017-03-16 23:02] agriggio commented on #3765
Ok. I tried to search but didn't see anything "obviously" related...

[2017-03-16 23:24] heckflosse commented on #3765
@agriggio #3400 for example

[2017-03-17 00:06] heckflosse commented on #3693
Should be fixed with 6a3baa3. Closing.

[2017-03-17 00:06] #3693 closed, assigned to nobody

[2017-03-17 06:07] agriggio commented on #3765
@heckflosse ah, I was searching for open issues. this is so annoying I'd like to fix it. any suggestions on where to start?

[2017-03-17 08:25] Desmis commented on #3421
I just made the last changes:
* VBox changes as in Wavelet
* Merge with dev
For 3 weeks now, I no longer see requests for changes.
On the control points in Lab mode, I think I have finalized the system.

Of course, I have other projects in progress, some may be impossible to achieve:
* Control points in RGB mode (exposure, etc.)
* Local white balance (???)
* Etc.
But to begin these changes and in

[2017-03-17 12:50] heckflosse commented on #3765
@agriggio Maybe [start here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/iptransform.cc#L1067) ?

[2017-03-17 12:54] agriggio commented on #3765
@heckflosse :+1: I'll see what I can do

[2017-03-17 13:50] agriggio commented on #3765
@heckflosse this seems to work for me. Can you give it a try? (It seems that
LCP distortion correction should be applied to the full-size image to be
accurate)

[code]

[2017-03-17 14:25] heckflosse commented on #3765
I tried with [amsterdam.pef](http://www.rawtherapee.com/shared/test_images/amsterdam.pef)
using this lcp
![lcp1](https://cloud.githubusercontent.com/assets/13733487/24047398/d6ecfc80-0b25-11e7-99a4-cd1dad206315.png)

Result:
![lcp2](https://cloud.githubusercontent.com/assets/13733487/24047408/dffde4c4-0b25-11e7-8da4-aebc3359a7a1.png)

[2017-03-17 14:49] agriggio commented on #3765
@heckflosse ok, I was too quick :smile:
I'll try harder...

[2017-03-17 23:07] agriggio commented on #3765
@heckflosse this one should work better. It is still not perfect (e.g. if you
move the image on the screen, you get some weird results) but it's better than
before. I must admit I still don't understand what is happening exactly, it
seems that at certain zoom levels the computation of scale factor for the auto
adjust simply goes crazy. I suspect there is some sort of round-off error that
makes the

[2017-03-17 23:55] heckflosse commented on #3765
@agriggio Alberto, I really appreciate that you try to solve this issue :+1: I also spent a lot of hours trying to find a solution long time ago, but I failed :( Hopefully we'll find a solution. I will help wherever I can.
I'll try your patch tomorrow and report.

[2017-03-18 01:03] heckflosse commented on #3421
@Desmis

Hello Jacques,

I want to merge psgtk3 branch (pixelshift on gtk3) into dev this weekend.
Because pixelshift as well as locallab add a lot of new gui controls, the one who merges later has more work to correct the merge conflicts. As I want to merge this weekend and you want to merge one week later, I offer to do this work for you (solving the merge conflicts when merging locallab into de

[2017-03-18 06:01] Desmis commented on #3421
Hello Ingo

No problem, you can merge your very good pixelshift, and I accept  your
offer to merge locallab for me after :)

Thank you

Jacques

2017-03-18 2:03 GMT+01:00 Ingo Weyrich <notifications@github.com>:

--
Jacques Desmis
407 rue Gustave Bret - Le Lagon Bleu
83600 Fréjus
tel : 0483125966
http://jacques.desmis.perso.neuf.fr/

[2017-03-18 09:36] agriggio commented on #3765
@heckflosse here's a better attempt. This goes much closer than before to a proper solution. For me (still limited testing though) `transformPreview` works now. `transformHighQuality` has still some issues, but haven't figured out why yet.
[better-fix.patch.txt](https://github.com/Beep6581/RawTherapee/files/852293/better-fix.patch.txt)

[2017-03-18 11:03] Floessie commented on #3691
@Hombre57 Here you are. More could be done, but I've spend two hours on this relatively fruitless work and now I've got to do some things in real life. :smile: I hope, I didn't break anything.

[2017-03-18 16:27] agriggio commented on #3765
@heckflosse I believe I might have a solution. From my testing here, it seems to work. It's in the branch `issue3765-candidate-fix` of my fork.
There's one thing open, a TODO in `dcrop.cc`, which I'm happy to discuss. Other than that, I think I understand why the code was wrong and why the fix should work... there might still be some glitches but overall we should be on the right track.

[2017-03-18 17:21] heckflosse commented on #3765
@agriggio I will build and test now. What's that TODO you want to discuss?

[2017-03-18 17:23] Hombre57 commented on #3691
Thanks a lot @Floessie . I had a look at your changes, but there are too much changes in `iccstore.cc` so I can't review that one. However I have confidence in your skills, and my test says that it's all good, so I've merged rt-cli into dev and will delete the branch.

[2017-03-18 17:25] agriggio commented on #3765
I'm not at the PC now, but I had to add a hardcoded factor to adjust the
crop when LCP distortion is enabled. ideally, the corrective factor should
be computed, and not estimated with a magic compile-time constant...

Il 18 Mar 2017 6:21 PM, "Ingo Weyrich" <notifications@github.com> ha
scritto:

[2017-03-18 18:09] heckflosse commented on #3691
@Hombre57
[code]

[2017-03-18 18:17] Floessie commented on #3691
@heckflosse Ingo, I take this one! I'm about to commit a fix for #3763.

[2017-03-18 18:21] Hombre57 commented on #3691
@heckflosse @Floessie The bugfix should be to add `#include "dynamicprofile.h"` into `main-cli.cc`. I should have built before committing the merge (I thought it was safe, sorry).

[2017-03-18 18:23] Floessie commented on #3691
Damn it! This adds `dynamicprofile.cc` and that in turn `profilestore.cc` to `CLISOURCEFILES`. I can't handle that...

[2017-03-18 18:42] TooWaBoo opened #3766 "Compiling error with commit 0f69e1b / Merge branch 'rt-cli' into dev"
@Hombre57

[code]

[2017-03-18 18:47] Floessie commented on #3691
@heckflosse @Hombre57 I'll commit my fix on `dev` now anyway. You'll have to rebase your solution then, but the should be no conflicts.

Good night,
Flössie

[2017-03-18 18:54] heckflosse commented on #3691
@Floessie Thank you :+1:

[2017-03-18 19:00] Floessie commented on #3691
@heckflosse I hope, you didn't get me wrong: I'm not working on this issue. The fix was for #3763. Resolving those new link dependencies is over my head, sorry.

[2017-03-18 19:32] heckflosse commented on #3691
@Floessie Ok, that explains why it still does not build...

[2017-03-18 19:46] Hombre57 commented on #3691
Working on it, commit to come in an hour max.

[2017-03-18 19:51] heckflosse commented on #3691
@Hombre57 If you need more time we can also temporary disable the rth-cli target in `rtgui\CMakeLists.txt`

[2017-03-18 20:16] Hombre57 commented on #3691
@agriggio I hope you don't mind but I've moved `dynamicprofile.xx` as is in `rtengine`, because it's part of the engine and don't include anything about the GUI. It will be part of my next commit.

[2017-03-18 20:40] TooWaBoo commented on #3766
Compiling impossible also with " Fix a OOB access in CropHandler::setDetailedCrop() (#3763)", Commit: 5d71910

Same error as above

[code]

[2017-03-18 20:47] heckflosse commented on #3766
@TooWaBoo
@Hombre57 already is working on a fix

[2017-03-18 20:48] Hombre57 commented on #3691
@heckflosse You're right, it will require a little bit of work because of the profilestore requirement. I'm working on this.

[2017-03-18 20:51] heckflosse commented on #3691
@Hombre57 Shall I temporary disable the rth-cli target in dev?

[2017-03-18 21:36] heckflosse commented on #3691
@Hombre57
I disabled rth-cli target in dev branch to allow building again. Please enable it again when you made the real fix.

[2017-03-18 21:37] heckflosse commented on #3766
@TooWaBoo https://github.com/Beep6581/RawTherapee/issues/3691#issuecomment-287576660

[2017-03-18 21:50] TooWaBoo commented on #3766
Thanks, closing this issue

[2017-03-18 21:50] #3766 closed, assigned to nobody

[2017-03-18 23:09] Beep6581 commented on #3755
Cannot confirm in dev. @ganthore can you?
http://rawpedia.rawtherapee.com/Linux

[2017-03-18 23:58] heckflosse commented on #3691
@Hombre57 I reverted my fix for the broken build with the intention to break the build because there is a critical bug in the rt-cli merge (no output profiles) which shouldn't go live.
@Beep6581 will report that more precise

[2017-03-19 00:05] Beep6581 commented on #3762
@fliker09 there is no version "5.0.1". Try to reproduce the problem using the latest dev. If you cannot reproduce it, close this issue. If you can still reproduce it, provide the correct version info:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Requirements_of_a_good_bug_report

[2017-03-19 00:29] Beep6581 commented on #3691
Hello

I returned from Uganda and hoped to develop some photos, but found that my PP3s failed to load the correct output profile. Turns out that apart from "No ICM" entry, the output profile combobox is empty!
The combo is full in commit `567ed362` but empty in `97caf21b`.
I would call this bug very high priority, as it's easy to miss and may lead to wrong colors.

I will look for further bugs tom

[2017-03-19 01:26] Hombre57 commented on #3691
@heckflosse @Beep6581 Understood. I'l dig in ICCStore.

[2017-03-19 01:29] heckflosse commented on #3691
@Hombre57 Thank you :+1:

[2017-03-19 01:39] heckflosse commented on #3691
@Hombre57 Let me know if I can help at that task

[2017-03-19 01:45] Hombre57 commented on #3691
@heckflosse You can have a look at iccstore.cc, if you can understand it :sweat: , I'm looking at it on my side too. There must be something in `getStdProfiles` and/or `getProfile` I guess.

[2017-03-19 02:54] heckflosse commented on #3691
@Hombre57 Thanks for fixing the bug :+1:

[2017-03-19 06:51] agriggio commented on #3691
@Hombre57 no problem at all! as a rule, when my contributions get merged in the official RT, then they are all yours :-) what I mean is that you don't need to ask me if you want to change the code, but I will still provide support if requested

[2017-03-19 08:00] casta commented on #3691
Hi,

There is something more broken around camera profiles with this feature, at least with jpeg from my X20 (I have not this problems with the RAF files from my X100s). Here are a sample, more explanatory than any words.

- with the current HEAD (99f0d723b5d1c3d0c05d56a994b6c5c9c4c68601), so with the rt-cli merged and with the last fix:
![profile-broken](https://cloud.githubusercontent.com/assets

[2017-03-19 08:59] gaaned92 commented on #3751
@TooWaBoo
Will this fix be included in Beep6581/RawTherapee ?

[2017-03-19 09:07] TooWaBoo commented on #3751
Will be done soon.
https://github.com/Beep6581/RawTherapee/pull/3757

[2017-03-19 09:14] Floessie commented on #3691
@Beep6581 @Hombre57

Guys, sorry for this one. It was my fault when converting that part to the wonderful `rtengine::getFileExtension()`. :disappointed:

[2017-03-19 09:25] Floessie commented on #3691
@heckflosse @Hombre57 I'm at the one by @casta...

[2017-03-19 10:10] Floessie commented on #3691
Found it! :tada: Will push to `dev` soon!

[2017-03-19 10:21] Floessie commented on #3691
@casta Guillaume, could you have a look?

[2017-03-19 10:31] casta commented on #3691
Yes indeed, it looks ok now.
Thank’s, that was fast ! ;)

[2017-03-19 10:33] Floessie commented on #3691
@casta I broke it so I had to fix it. :wink: Thanks for reporting and testing! :+1:

[2017-03-19 11:04] Floessie opened #3767 "Occasional crashes when switching folders"
Sometimes when switching from one folder to another RT crashes with a SEGV or glibc memory corruption abort. I was able to catch one such crash today with the latest `dev` (but a release build):

[code]

`AddEntryUIThread()` to my surprise is called via `g_idle_add()`. So it might be the same case as the ones fixed by #3677. The GDK3 documentation [says](https://developer.gnome.org/gdk3/stable/gdk

[2017-03-19 11:10] Floessie commented on #3767
Another one:

[code]

[2017-03-19 11:11] #3751 closed, assigned to nobody

[2017-03-19 12:04] gaaned92 commented on #3767
@Floessie
I cannot get a bt with debug on W10!
Main process exits with code 3 when switching folders.

[2017-03-19 12:38] Beep6581 commented on #3691
All good now, thank you!

[2017-03-19 12:42] Floessie commented on #3767
@gaaned92 It's really hard to reproduce.

So you're able to see it, too? I had the feeling, it's a bit more often, when I switch from a nearly empty folder to one with many images.

[2017-03-19 14:56] gaaned92 opened #3768 "Rawtherapee hanging on Windows if verbose =true"
system Windows 10
[code]
With verbose=false, Rawtherapee runs ok
if verbose =true , it hangs. With corresponding debug build

[code]
and it stops

[2017-03-19 15:13] heckflosse commented on #3768
Confirmed on Win7/64

[2017-03-19 15:18] Beep6581 commented on #3739
Files written by Gabor need to retain his name in the GPL header - the copyright owner grants the permissions as stated in the licence (GPL) to others. Files not written by him need to indicate who the original copyright holder is. It cannot be him, as he cannot claim authorship over code he did not write. So if writing a new file then copy the licence header and replace the copyright notice with

[2017-03-19 15:21] Beep6581 commented on #3510
@ion12 @helmi03 @partha1b are you interested in testing?

[2017-03-19 15:31] Beep6581 commented on #3768
You can attach GDB to a running process by PID and ctrl+c it to be able to get a stack backtrace to see where it's stuck.

`gdb -p <pid>`

[2017-03-19 16:01] Beep6581 commented on #3768
Cannot reproduce in Linux.

[2017-03-19 16:25] heckflosse commented on #3768
gdb -p gives this:
[code]

[2017-03-19 16:34] Beep6581 commented on #3768
@heckflosse you can now `ctrl+c` to break it, followed by `bt full`.

[2017-03-19 16:34] ganthore commented on #3755
I'll test against the dev branch and get back to you as soon as I can.

It may also be worth noting that I run KDE Plasma w/ the dark breeze theme for GTK related stuff. Not sure if that somehow conflicts but figured it was worth mentioning.

[2017-03-19 16:40] gaaned92 commented on #3768
If I  ctrl-c,  gdb stops but not break the process:
[code]
Process is still hanging.

[2017-03-19 16:42] heckflosse commented on #3768
with bt full now:
[code]

[2017-03-19 16:46] heckflosse commented on #3768
iirc since we moved from mingw to msys2 this happened some times when I added printfs to the code.
Since then I only use std::cout which works fine

[2017-03-19 17:33] Floessie commented on #3768
@heckflosse If that's the case, then I'd suspect a wrong format string being the culprit. Maybe `-Wformat` sheds some light on this (and is a good idea anyway).

[2017-03-19 17:39] ganthore commented on #3755
I can confirm that this is still a problem -- even using the latest dev branch using git commit ge0ca9f3.
![raw](https://cloud.githubusercontent.com/assets/1151994/24083200/724db65e-0ca9-11e7-9078-3b70d9ebcde2.jpg)

Only other thing worth noting is that my local fstab mounts a different disk to /home and the volume is encrypted w/ LUKS.

UUID="82a3d203-3def-4f30-8a45-46410f351b85"             /hom

[2017-03-19 17:41] Floessie commented on #3768
@heckflosse Did a `-Wformat=2` run, but nothing obvious...

[2017-03-19 17:41] #3768 closed, assigned to nobody

[2017-03-19 17:43] heckflosse commented on #3768
I commited by accident to psgtk3 branch first. Now it's fixed in dev too.
@Floessie It was wrong handling of windows console combined with not checking number of arguments passed to rawtherapee

[2017-03-19 17:55] ganthore commented on #3755
Based off my limited knowledge of how Gio works... It _seems_ to me that the extra home folder is being listed because of the way it's parsing for mounted media. I suspect that the /home fstab mount on my system is coming up as a 2nd place when show_all (); is called?

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/placesbrowser.cc#L79-L95

Perhaps adding some extra dupe checking code woul

[2017-03-19 18:35] Floessie commented on #3755
@ganthore

Mark, as you're compiling the lastest `dev`, could you check that?

Maybe you could even provide us with a patch? :innocent:

Best,
Flössie

[2017-03-19 18:52] Beep6581 commented on #3755
KDE Plasma here too, v 5.9.3. In the first section of Places I see "morgan" and "pictures". These do not repeat in the other two sections.

[2017-03-19 19:12] ganthore commented on #3755
@Beep6581 ah thanks for sharing that. Yeah I'm leaning more towards my fstab entry causing this. I don't think I'm the only person in the world who uses a separate disk to store home data. :-) My distro is Gentoo running systemd.

@Floessie I can try and figure out a way to submit a patch. I code more in python, lua and Java than C. I'll see if I can figure something out when I have the free time.

[2017-03-19 21:59] Partha1b commented on #3510
@Beep6581 Sure. What am I testing? All the OSX shortcuts?

@reagle Do you have a list of shortcuts that are not working? Are you using my builds perchance?

[2017-03-19 23:18] Hombre57 commented on #3739
@Beep6581 Understood.

Can we close ?

[2017-03-19 23:24] Hombre57 commented on #3421
@heckflosse @Beep6581 @Floessie @agriggio Still 5 days before the merge. I've already expressed myself on this so I won't do it again, I'll let you do.

[2017-03-19 23:28] heckflosse commented on #3739
@Hombre57 Yes, we can. And thanks for the new checkBox class :+1:

[2017-03-19 23:28] #3739 closed, assigned to nobody

[2017-03-20 00:14] Hombre57 commented on #3691
Just FYI, I'm still busy on integrating the `DynamicProfileStore`. I'll have to reorganize the code quite a lot to keep the optimization (partly moved from `rtgui` to `rtengine`).

[2017-03-20 00:29] Hombre57 commented on #3421
@Beep6581 Do you still want to release RT5.2 ? Do you want this new tool be part of it ?

[2017-03-20 01:47] heckflosse commented on #3421
Shouldn't be 5.1 released before 5.2?

[2017-03-20 01:56] heckflosse commented on #3421
@Desmis

Jacques,

I will merge current dev into your branch and this way solve the merge conflicts caused by merging pixelshift, ok?

@Hombre57

I don't want (and can not elaborate) about current state of locallab branch because I didn't test it really (I will do that next days). But I assured Jacques that I will solve the merge conflicts and I will do that. That does not mean that I will merge l

[2017-03-20 05:59] Desmis commented on #3421
No problem, you can solve all the merge conflicts :)

[2017-03-20 06:51] Floessie commented on #3691
@Hombre57 I don't want to trade with you... :neutral_face:

[2017-03-20 06:58] Floessie commented on #3421
I haven't had a look at it yet (and it seems I won't be able to ATM), but as many on pixls have tested it, I'm pretty confident, it does what it advertises.

[2017-03-20 08:25] agriggio commented on #3421
@Hombre57 (and others): I don't think I'm entitled to have an opinion on
whether it is ok to merge (assuming that was the question), so I won't express
one. But since you asked, I will make a more general consideration (which you
all are free to ignore, of course!)

Personally, I don't feel the need for local edits very often, and when I do I
just go to Gimp (although I'm pretty bad at that). I ha

[2017-03-20 08:26] Beep6581 commented on #3421
I still want to release 5.1 soon. Please hold off with merging locallab until 5.1 is branched off - locallab was not on the [roadmap](https://github.com/Beep6581/RawTherapee/issues/3687) for 5.1. Once 5.1 is out we can merge locallab into dev and give it the several months of testing it needs in the main development branch before releasing 5.2. I cannot comment on what shape the code is in, but la

[2017-03-20 08:29] agriggio commented on #3687
@Beep6581 how about #3760, #3763 and #3765? The first should be harmless (it just makes the action slightly more general), the second is (IMHO) ready, and the third fixes a long-standing and pretty annoying (for me) bug...

[2017-03-20 08:42] Beep6581 commented on #3687
@agriggio agreed for the reasons you stated. I added them. I will try to test them in the evening.

[2017-03-20 08:43] agriggio commented on #3687
@Beep6581 thanks! :+1:

[2017-03-20 08:48] Beep6581 commented on #3687
@agriggio one other thing. Yesterday, in the dead of the night, we convened in the woods, set fire to an effigy, chanted some spells, photographed a goat, and agreed that we would be happy to give you commit rights as you are active, helpful and get along well. It comes with but one snag - please don't line-wrap the code at 80 chars ;) If you agree and are willing, I will raise the cat by its leg,

[2017-03-20 09:24] agriggio commented on #3687
@Beep6581 (and others) thanks a lot for your consideration! I'll be happy to contribute to the best of my possibilities, and I'm really honoured by your offer! I'm happy to accept and will do my best to not screw things up :wink:
Just one thing:

I won't do that (or at least I'll try to...). But be aware that it will be *really* hard for me not to, I just have it hardwired on my brain... (I have r

[2017-03-20 09:31] Floessie commented on #3687
@Beep6581 forgot to mention that those tribal rituals only happen twice a year at equinox. Welcome on board!

[2017-03-20 09:33] agriggio commented on #3687
@Floessie thanks!

[2017-03-20 09:35] agriggio commented on #3741
@heckflosse have you pushed this to dev already?

[2017-03-20 09:56] fliker09 commented on #3762
Sorry, fixed the version in the first message. More info:

Version: 5.0-r1-gtk3
Branch: releases
Commit: 50114c1a
Commit date: 2017-02-01
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: Release
Build flags: -O3 -std=gnu++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas
Link flags:  -Wl,-Bsymbolic-functions -Wl,-z,relro
Ope

[2017-03-20 11:53] Desmis commented on #3421
All issues have been resolved (@Beep6581, @Floessie, Dngimage, @sguyader, ...)
On principle I agree with @Beep6581

[2017-03-20 12:10] Hombre57 commented on #3691
@Floessie Which trade are you talking about ? All your changes will be kept, I'm speaking of the `DynamicProfile` feature only. I'll copy your way of handling the `ICCStore` through `ICCStore::getInstance()` to the the `ProfileStore` wich will now BE and `DynamicProfileRules` class (a new class that will handle the loading of the rules). Anyway, you'll see the change when ready. I'll create a PR t

[2017-03-20 12:18] reagle commented on #3510
As above, I can test binaries but not build.

[2017-03-20 12:20] heckflosse commented on #3741
@agriggio not yet. I want to solve the other issue I mentioned above too. Then I will push.

[2017-03-20 12:21] Beep6581 commented on #3762
@fliker09 thanks, that is the latest release and back then RT had no real CLI version. Hombre is working on one, so I will close this issue.

[2017-03-20 12:21] #3762 closed, assigned to nobody

[2017-03-20 12:25] Floessie commented on #3691
@Hombre57 Maybe you misunderstood: This was only an expression of empathy, meaning: I regret you and feel your pain for shuffling all those code around. When I [first said](https://github.com/Beep6581/RawTherapee/issues/3691#issuecomment-287564396) I'll take this one, I wasn't aware of all the dependencies, but we both only realized later. So I'm still emotionally with you and know, what a job you

[2017-03-20 12:25] Beep6581 commented on #3510
@Partha1b see the first comment. The first step is to confirm that the shortcuts don't work and agree to the proposed changes.

[2017-03-20 12:26] Beep6581 commented on #3687
The cat has been spun.

[2017-03-20 12:39] heckflosse commented on #3687
@agriggio Welcome! :+1:

[2017-03-20 12:40] Beep6581 opened #3769 "ThresholdAdjuster has no background gradient"
Using GTK+ 3.22.9 some ThresholdAdjuster, specifically the Color Toning ones, have no background gradient. CbDL works fine. This is not a CSS problem.

[2017-03-20 12:44] Hombre57 commented on #3687
Welcome 🖖

[2017-03-20 12:49] Desmis commented on #3687
Welcome :)

[2017-03-20 12:51] agriggio commented on #3687
Thank you all! :tada:

[2017-03-20 13:12] heckflosse commented on #3421
@Desmis Jacques, I started merge of dev into locallab_dev.
Please do not push to locallab_dev.
I will let you know when the merge is done.

[2017-03-20 13:26] fliker09 commented on #3762
"back then RT had no real CLI version" - what do you mean? 4.x branch?

[2017-03-20 13:55] Beep6581 commented on #3762
5.0-r1

[2017-03-20 13:56] fliker09 commented on #3762
Ok, thanks for info! Waiting for true CLI!

[2017-03-20 14:36] heckflosse commented on #3421
@Desmis Jacques, merge of dev into locallab_dev is completed.

[2017-03-20 14:39] Desmis commented on #3421
@heckflosse

Ingo

Thank you very much :)

I just test and all seems to work well

Jacques

[2017-03-20 14:49] heckflosse commented on #3421
de rien :)

[2017-03-20 15:49] ion12 commented on #3510
@Beep6581 @Partha1b
Hi! I Actually already tested this a while ago and wanted to write in, but been very busy and didn't even find time to finish up with the bundleing updates yet :( ...

ctrl+F2..F4 keys are indeed clashing with system shortcuts and should be adjusted for macOS.
Apple provides a list of reserved shortcuts that should not be used by other applications:
https://developer.apple.com/

[2017-03-20 15:56] Beep6581 opened #3770 "File Open window double-click changes sort order"
1. Open the "Load a profile from file" dialog (reproducible using any dialog).
2. Left-click on a PP3 file.
3. Left-click any of the headers to change sort order, e.g. "Name" or "Size" or "Modified".
4. Double-click the PP3 file. Instead of opening the file, it behaves as if I clicked the header again, changing the sort order.

The dotted-line box which indicates which widget has focus remains on

[2017-03-20 16:06] ion12 commented on #3678
@Beep6581 @Partha1b Sorry for the long wait, I will try to get around to closing these last details in the next couple of days, and of course @Partha1b if you still have any input/proposed changes... :)

[2017-03-20 19:05] heckflosse commented on #3741
@agriggio Alberto, after a second look at the code I detected that my fix from above does not cover all cases. There are a lot of cases (rotation combined with width and height of preview) which would have all to be tested. So, for now, I tend to use your solution to fill the image with zeros a priori (only for the fuji case of course). That's the safe solution for this case and not worse than bef

[2017-03-20 19:34] heckflosse commented on #3741
Further remark:

With the merge of pixelshift rt now is able to access up to 4 sub-frames of raw files.
Fuji Super-CCD raw files contain 2 sub-frames. But they have different size. For that reason I disabled access to second frame for Fuji Super-CCD raw files [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L1563).
If we ever make an approach to improve support fo

[2017-03-20 19:34] agriggio commented on #3741
sounds good to me! :+1:
if you feel like, you might perhaps just make the zero filling loop a bit less naive than my version, e.g. by parallelizing it, although I'm not sure the difference will be noticeable...

[2017-03-20 19:49] Hombre57 commented on #3421
As @agriggio guessed, I have a totally different approach for local editing that I've already discussed, similar to what you can find in DarkTable. However it will take a little bit of time. I know that I'm speaking of this since more than 2 years, but there has been patch, corrections and port to Gtk3 in between, and because it is very invasive and not easy in a concurrent team working project...

[2017-03-20 20:07] #3741 closed, assigned to nobody

[2017-03-20 20:11] heckflosse commented on #3741
@agriggio I took the simple approach for this rare species of raw files ;-)

[2017-03-20 20:28] heckflosse commented on #3421
Here are my 2 cents:

There has a lot lot of work been done by Jacques in locallab branch. Even new methods like adding noise for example...
But I also think that the gui has to be improved because as I tried it today while merging dev into locallab the gui (especially adding control points) confused me a bit (maybe because I'm not used to it).

Also it needs some tests and cleanups (and some opti

[2017-03-20 20:40] agriggio commented on #3741
:+1:

[2017-03-20 20:41] heckflosse commented on #3765
@agriggio
I tested you branch and found no issues :+1:

Can you point me to the line of code?

[2017-03-20 20:42] agriggio commented on #3421
:+1:

[2017-03-20 21:09] agriggio commented on #3765
@heckflosse [here you go](https://github.com/agriggio/RawTherapee/blob/issue3765-candidate-fix/rtengine/dcrop.cc#L1147)

[2017-03-20 21:13] heckflosse commented on #3765
@agriggio Thanks! Maybe @Beep6581 can test that. Iirc he has shots made with an ultrawide samyang lens and also has lcp files for this!

[2017-03-20 21:16] agriggio commented on #3765
@heckflosse a 15% distortion seems really huge to me for a "normal" lens. However, I have no idea about fisheye -- never used one :stuck_out_tongue:
I'd appreciate if someone more knowledgeable can have a look and/or test, indeed!

[2017-03-20 22:27] Hombre57 commented on #3770
Those widgets are 100% handled by Gtk itself. I don't think we can do anything on this and would suggest to close this issue.

[2017-03-20 22:28] Hombre57 commented on #3769
I'm taking that one.

[2017-03-20 23:13] Beep6581 commented on #3770
Fine with me.

[2017-03-20 23:13] #3770 closed, assigned to nobody

[2017-03-20 23:14] Beep6581 commented on #3770
P.S. GTK+ 3.22.9

[2017-03-20 23:17] heckflosse commented on #3770
P.S. was the same on GTK+ 3.18

[2017-03-20 23:20] Beep6581 opened #3771 "CMake policy boolean issue CMP0012"
Report from Gentoo regarding CMake warnings generated by ebuild:

[code]

and

[code]

if() recognizes numbers and boolean constants.
In CMake versions 2.6.4 and lower the if() command implicitly
dereferenced arguments corresponding to variables, even those named
like numbers or boolean constants, except for 0 and 1.  Numbers and
boolean constants such as true, false, yes, no, on, off, y, n,
notfo

[2017-03-21 07:04] Desmis commented on #3421
As I mentioned, the system used is close to that developed by Nik Software (with no layers, no mask,...), but with differences:
* Each spot, can be considered as an object that has several fields - to date about 70, consisting of cursors, curves, checkbox, ... -;
* Each field, grouped in packets may or may not be activated, and may have values that vary according to its nature;
* Packets are coher

[2017-03-21 07:53] Floessie commented on #3771
@Beep6581 I see this, too, for some time now. As the module is in `/usr/share/cmake/Modules/`, there is IMHO nothing we can do about it. Obviously, the `FindOpenMP.cmake` module shipped with cmake 3.7 isn't fully compatible with cmake 3.7. :wink:

[2017-03-21 08:32] Beep6581 commented on #3771
Quote by Francesco Riosa:

[code]

[2017-03-21 08:36] Beep6581 commented on #3771
@Floessie of course at the dead of night it flew right past me that this is not RT related :stuck_out_tongue:
But worth checking that our CMake file is behaving well - I'm still on CMake-3.6.

[2017-03-21 13:07] Hombre57 commented on #3421
A lot of things will change from the starting point of the merge of this branch. Since we're mostly in a rolling release scheme, I'd suggest to avoid or warn users that for some time, RT 6 will be unstable regarding it's pp3/pp6 files.

On a side note, I think that adding local editing deserve a major version update, as well as PixelShift. There's no reason to stay so long (few years) with the sam

[2017-03-21 13:23] Floessie commented on #3421
While Local Editing seems like a big feature with usability and big UI impact that would justify a major number increment, to me DynamicProfile + PixelShift add some features without dramatic impact.

We shouldn't take part in that race for the fastest moving major number (like Firefox, e.g.), but stick to the semver scheme.

Just my 2¢,
Flössie

[2017-03-21 13:29] agriggio commented on #3421
I agree with @Floessie

[2017-03-21 13:38] heckflosse commented on #3421
PixelShift is not worth a major number increment. It's a feature supported by only 4 cameras and also is not final at the moment.

[2017-03-21 14:55] Beep6581 commented on #3489
Some feature requests based on latest dev 5.0-r1-gtk3-259-g[2228159f](https://github.com/Beep6581/RawTherapee/commit/2228159ff83a27477e94a5e6d8173095e22255a7):
* The Editor Toolbox now shows a "Sub-image" combo with values 1-4, even when I edit a plain old raw file. It would be nice if this combo was hidden or grayed-out when editing an image without any sub-images, and if the numbers it shows cor

[2017-03-21 15:07] TooWaBoo commented on #3087
Anything new?
I disabled this "feature bug" for myself quick and dirty but I would appreciate it if this gets fixed.

filebrowserentry.cc
![filebrowserentry cc](https://cloud.githubusercontent.com/assets/13800920/24154031/58e7d2e6-0e50-11e7-8e5f-4e11127293bb.png)

[2017-03-21 16:00] heckflosse commented on #3489
@Beep6581
The spelling problem can be solved by making the demosaic method names translatable. Currently they are not translatable and the method name is also used as value in pp3 file.
Making them translatable would also allow to translate 'none' method and use 'AMaZE' instead of 'amaze' ;)

I will take that part now.

[2017-03-21 16:20] Beep6581 commented on #3489
@heckflosse :+1: I can help clean up `default` - let me know when is a good time.

[2017-03-21 16:34] heckflosse commented on #3489
@Beep6581 I'm already working on that and also on the Sub-Image issue. I will let you know when it's ready.

[2017-03-21 16:49] agriggio opened #3772 "Wrong crop in thumbnail view for vertical images"
There's a problem in displaying the crop area on thumbnails of vertical pictures. See screenshot. RAW from: https://pixls-discuss.s3.amazonaws.com/original/2X/d/d198acee5386038eebdf8e91084f2c9cf3fd3892.ORF

PP3 in attach (neutral with auto levels to make the picture a bit more visible, and crop)

Seems to happen only for vertical (i.e. with height > width) pictures. Pictures with "landscape" orien

[2017-03-21 17:20] Beep6581 commented on #3772
I've been experiencing the same issue but the result is even worse. I can't find an issue number, so I must have only discussed this on IRC.

![imgur-2017_03_21-18 19 16](https://cloud.githubusercontent.com/assets/5844619/24160737/eee6c92a-0e62-11e7-8be8-78eaeb8907aa.png)
Raw files and sidecars available from http://rawtherapee.com/shared/test_images/colortarget/

[2017-03-21 17:39] Beep6581 opened #3773 "Panning red square in Navigator does not follow mouse"
When I zoom the Editor preview to 100% and drag the red square in the Navigator, the square and preview do not follow the mouse.

The behavior is strange:
* If I click in the top-left corner https://i.imgur.com/wp7RIrI.png and drag the red square down it moves diagonally down-right https://i.imgur.com/6GmMogF.jpg If I now try to move it up, it moves diagonally up-right.
* If I click in the top-lef

[2017-03-21 18:10] ion12 commented on #3678
@Beep6581 @Partha1b
Before I commit the changes to the pull request, a few last questions:

1. 'Contents/Resources/share/man/man1' subfolder will be replaced with ‘Contents/Resources/doc’ on mac.
@Beep6581 - should './share/man/man1' also be replaced with  ‘./doc’ on linux, or did you suggest the change just for mac?

2. The old ‘macosx_build.sh’ scripts placed the mac gtk themes in ‘./share/theme

[2017-03-21 18:13] agriggio commented on #3421
out of curiosity (and forgive me if this is not the proper place/time for this), why was the alternative option of using layers and masks discarded? are there some obvious reasons or just personal preference for this workflow?

[2017-03-21 18:47] TooWaBoo commented on #3773
I'm using the latest version from @agriggio branch: add-more-zoom-levels and can't reproduce this bug.

Gtk: 3.22.9, Win 10 x64

[2017-03-21 18:53] TooWaBoo commented on #3772
Confirmed. Same in Win 10 x64 Gtk3.22.9

[2017-03-21 19:33] Hombre57 commented on #3421
@agriggio

It was not discarded, however being the only dev to code the GUI, and for the reasons explained above, i.e.

that's why I never started this big patch. It also require a lot of changes in the engine and the file format, which has not been designed to accomplish this... and the fact that I'm not a pro dev neither (like @Desmis), so everything takes more time. We just need more dev like y

[2017-03-21 19:54] heckflosse commented on #3421
@Hombre57

Which merge do you mean? I merged dev into locallab_dev, not vice versa.

[2017-03-21 19:55] Hombre57 commented on #3421
I mean the planed merge of locallab_dev into dev, that we're discussing.

[2017-03-21 20:03] heckflosse commented on #3421
@Hombre57 That planed merge can not be the one from 'today' you mentioned ;-)

[2017-03-21 20:05] Hombre57 commented on #3421
Comment updated.

[2017-03-21 20:08] heckflosse commented on #3421
:)

[2017-03-21 20:38] heckflosse commented on #3773
Can't reproduce

[2017-03-21 20:56] agriggio commented on #3421
@Hombre57 thanks for the explanation! I did not mean to dismiss @Desmis's work (no pun intended :wink:  ), I just wanted to understand, since I was not around at the time... I have some ideas about local editing myself, but before describing them I need to think about them more and make sure that they are not completely insane :smile: When (or better, if) I get a clearer picture, I will follow up.

[2017-03-21 20:57] agriggio commented on #3772
I'm taking a look at this

[2017-03-21 21:40] heckflosse commented on #3489
@Beep6581 Status report: I made the changes for translation of demosaic methods and also for sub-image selector locally and they work fine.
I want to use this opportunity to also hide xtrans gui-frame for bayer files and bayer gui-frame for xtrans files. What do you think?

[2017-03-21 22:10] agriggio commented on #3772
Here's my patch. Can somebody else please test on Raw Images for which `get_FujiWidth()` returns non-zero, as I don't know which they are...? (also other testing is fine, of course)

[code]

[2017-03-21 22:14] heckflosse commented on #3772
@agriggio I will test tomorrow with fuji image

[2017-03-21 22:56] da-phil commented on #3679
A few more pointers:
- This crash also happened when switching folders
- It also happend with GTK3 (dev branch)
- I couldn't reproduce after I cleared the cache (thumbnails) folder

While debugging I also saw this message popping up two times:
[code]

[2017-03-21 22:57] da-phil commented on #3767
I think this might be related to #3679.
Could you reproduce the crash after clearing the cache (thumbnail) folder?

[2017-03-22 02:12] heckflosse commented on #3489
Status report: Now also hiding xtrans frame when bayer files are opened and hiding bayer frame when xtrans files are opened works fine here. I will push tomorrow.

[2017-03-22 02:30] heckflosse commented on #3489
Further update: Now also hiding the whole raw tab when opening a non-raw file works :)

[2017-03-22 06:57] Floessie commented on #3767
@da-phil I cleared the cache folder to provoke it more often, but afterwards I couldn't reproduce it anymore. Must give it another try...

[2017-03-22 07:05] Floessie commented on #3772
@agriggio Alberto, as you are a collaborator now, you can clone `Beep6581/RawTherapee` on your PC, create branches and push them back to `Beep6581/RawTherapee` directly. No need for `agriggio/RawTherapee` and `alberto-dev` anymore. :smile:

[2017-03-22 07:26] Desmis commented on #3421
@agriggio
There are several reasons for this choice:
1) I was a user of "Nikon Capture NX2" which had the 2 local editing modes: a) lasso and mask; b) U point; And in 95% of the cases I used the U-points.
Because I found them, as well as many users more efficient overall.
The Nikon approach (in fact Nik Software) was revolutionary and very efficient, without masks, without layers.
Since Nikon has

[2017-03-22 08:03] agriggio commented on #3772
@Floessie, thanks for the clarification. I did not want to push to `dev` before testing the Fuji case, and I thought creating a branch for this tiny patch was overkill. However, if that's the preferred/recommended workflow, I'll do that.

Regarding `alberto-dev`, it is not meant for you :-) It is the RT version that I use, typically merge of `dev` with the union of all the features I'm working on.

[2017-03-22 08:10] agriggio commented on #3489
Disclaimer: haven't tried yet.
But wouldn't be better to gray out the tab instead of hiding it? I would find it clearer...

[2017-03-22 08:19] Floessie commented on #3772
No, it's absolutely fine the way you did it. I just wanted to give a hint.

Sometimes it starts with a little patch and grows during discussion. :wink:

As long as the branch is not part of `Beep6581/RawTherapee` or a PR we don't get commit messages, as far as I can tell.

Best,
Flössie

[2017-03-22 08:22] agriggio commented on #3772
Ok, great. I asked because I see references to the commits in this page. But if you don't see them and/or they don't bother you, all the better! :-)

![commit](https://cloud.githubusercontent.com/assets/11982086/24188295/1dda343c-0ee1-11e7-9fff-300272cbeee4.png)

[2017-03-22 10:08] Beep6581 commented on #3489
@heckflosse great!

We need to agree as a team on how to handle the Editor tab's toolbox regarding choices which are invalid at a given time - do we hide them or gray them out? Remember that the File Browser's toolbox shows all options.

I've been thinking about this sporadically for some time and I'm of the opinion that it's better to gray them out instead of hiding them. That means that the user

[2017-03-22 10:10] Beep6581 commented on #3772
You could use a fork instead of the main clone.

[2017-03-22 10:19] agriggio commented on #3489
@Beep6581 I vote for grey out, FWIW

[2017-03-22 10:20] agriggio commented on #3772
@Beep6581 you mean a fork of my fork? That seems a bit overkill...

[2017-03-22 10:30] Beep6581 commented on #3678
@ion12

1. Both "man1" and "doc" exist in Linux. I don't know the best practices for which one to use yet.
2. I can only confirm that `DATADIR/share` would be wrong.
3. Since we no longer use X11 on macOS then it makes sense to disable those lines. If the script could still work with X11 then I would comment the lines out and comment why they're commented out. If the script does not work with X11

[2017-03-22 10:32] Beep6581 commented on #3772
@agriggio I didn't see that you forked already, so skip my comment.

[2017-03-22 11:26] Partha1b commented on #3678
@ion12 & @Beep6581

My comments below in the order of the questions above:

1. Man is manual and doc can be general docs. I'd put man as doc/man
2. I'd still keep them all in shared resources. In other words, ./Resources/share/themes
3. I am pretty sure you still need FONTCONFIG_PATH for freetype and fontconfig dylibs.
4. Don't know about libcups. I don't use it and seems to be fine for me.
5. I h

[2017-03-22 12:54] heckflosse commented on #3489
I'm ambivalent about hiding or graying out.
I will push the changes (with hide mode) to psgtk3 branch soon.
Then everybody can test and we can discuss.

Personally for the raw tab I prefer to gray out instead of hide when loading non raw files.
For the sensor specific panels I prefer to hide instead of gray out because most users have either an xtrans cam or a bayer cam. Very few have both types.

[2017-03-22 13:02] Desmis commented on #3489
@heckflosse

I agree with your last proposition :)

[2017-03-22 13:09] agriggio commented on #3087
Ok, so, using my recently-acquired superpowers :-), I went ahead and pushed (what I consider to be) a "proper" fix for this. No custom preferences, no middle-click. I simply extended the behaviour slightly so that it is possible to not have any active tool in the file browser (see screenshot). If you have the hand tool active, the behaviour is the same as before (i.e. you can change the crop). If

[2017-03-22 13:17] TooWaBoo commented on #3087
@agriggio

This is a great solution. 🥇 👍
Thanks.

[2017-03-22 13:35] heckflosse commented on #3489
I pushed my changes to psgtk3 branch.

For raw tab I used 'gray out'
For sensor specific panels I used 'hide'

But of course we can change that :)

Here's a link to an [xtrans file](https://filebin.net/yfgeibiv1mi0kmcv) for testing.

And [here](http://www.dkamera.de/media/videos/dual_pixel_raw/01_Canon_Dual_Pixel_RAW_Beispielbilder.CR2) you can find a file with 2 frames in case someone wants to te

[2017-03-22 13:43] agriggio commented on #3489
I have to admit (for the nth time) that I'm really new to photography, but I had no idea that bayer vs xtrans was as polarizing as vi vs emacs :smile:

More seriously though, I still prefer greying out, but it's not a strong preference.

[2017-03-22 14:25] sguyader commented on #3087
I vote for @agriggio 's solution. It happens to me to use modify the crop on thumbnails.

[2017-03-22 14:28] TooWaBoo commented on #3087
@sguyader

It's already done in branch dev. 😁
Works perfect.

[2017-03-22 17:17] heckflosse commented on #3489
I guess (not tried yet) if we gray out for example the xtrans panel, we have to collapse it first, because once it's grayed out we can not close it anymore and that's not what we want. Or should we let the expander active and only gray out the corresponding frame?

[2017-03-22 19:59] heckflosse commented on #3421
@Desmis
Jacques, today I had a first look at the current code of locallab_dev after a while and I think there are some things which can be optimized for speed. You know I'm not the right one to ask for improvements in gui, but for speedups you can still count on me. That will take a while because I have to analyze and test all the features you implemented step by step, but I think we can get this

[2017-03-22 20:12] agriggio commented on #3489
I vote for this, yes.

[2017-03-22 21:58] Beep6581 commented on #3678
Do you mean you'd put `repo/doc/manpage/rawtherapee.1` into `/usr/share/doc/man/rawtherapee.1`? There is no `/usr/share/doc/man` folder in Sabayon.

[2017-03-22 22:00] Beep6581 commented on #3087
@agriggio I confirm that your solution works, and it seems clean and simple. +1

[2017-03-22 22:07] da-phil commented on #3679
I could reproduce the crash again, this time on gtk3 'dev' branch.

Version:
[code]

Backtrace:
[code]

[2017-03-22 22:09] heckflosse commented on #3679
@da-phil I also see this
[code]
from time to time in console, but never got a crash. Also I can't remember having seen that on gtk2 builds

[2017-03-22 22:14] agriggio commented on #3087
ok, then we can close this, can't we?

[2017-03-22 22:15] Partha1b commented on #3678
@Beep6581
Sorry, I should have been clearer. I mean that we have in the CMakeList.txt the following:
[code]
I am thinking that for the Mac, we could the following:
[code]

[2017-03-22 22:20] TooWaBoo commented on #3087
Yes, we can. I close it.

[2017-03-22 22:20] #3087 closed

[2017-03-22 22:24] Beep6581 commented on #3678
If `foo/Resources/share/doc/man` is standard in macOS land then sure.

[2017-03-22 22:35] da-phil commented on #3767
@Floessie same here
After clearing the cache I couldn't reproduce it anymore. However after I booted up my PC this evening and re-build RT from scratch with all the latest changes I saw another crash, after using the freshly compiled version. By the way, my last backtrace in issue #3679  looks similar to the one in your first post.

[2017-03-22 23:05] Beep6581 commented on #3489
After testing the latest `psgtk3` I admit that I like things the way they are, but there are certain benefits to not hiding the bayer/x-trans demosaicing tool entirely:
* Seeing both but with only one usable means it's clear to the user that, as an example, enabling auto CA correction in one will not enable it in the other. When the X-Trans Demosaicing tool is hidden and the Bayer visible, or vice

[2017-03-22 23:08] Beep6581 commented on #3087
@agriggio please include a description of what the patch actually does in the commit message, as "candidate fix for #3087" will require time to open issue 3087 in a browser and figure out what the committed solution was when it comes time to making a changelog or just browsing/grepping the log in general.

[2017-03-23 00:03] Beep6581 commented on #3678
Please test this revised `tools/osx/executable_loader.in`:
https://paste.pound-python.org/show/Ox7SxnulgU5w2AZl7MLo/

The changes I made do not take into account the last few comments above, so delete the lines which are no longer required.
The last line uses `exec`. I see no need for it, but left it in place. You could remove the "`exec `" part and test if it works.

[2017-03-23 00:51] heckflosse commented on #3489
Seems neither me nor @agriggio nor @Beep6581 are really sure about the desired behaviour concerning hide/gray out of sensor specific tools.
For that reason I would also like to get opinions from users: @michaelezra and @sguyader : Please comment

[2017-03-23 01:26] Partha1b commented on #3678
@Beep6581

Mac OS standard is the same as BSD: manpages are located in /usr/share/man or /usr/local/share/man. But we don't want to put RT manpage there, do we?

[2017-03-23 02:18] Beep6581 commented on #3678
Not if it's a bundle build. But why `foo/Resources/share/doc/man` and not `foo/Resources/share/man`? Anyway you have this under control, so just pick what seems most correct and we'll go with that.

[2017-03-23 05:52] Desmis commented on #3421
@heckflosse
Ingo, you are "super". No problem you can optimize :)

Thank you
Jacques

[2017-03-23 06:41] Floessie commented on #3767
@da-phil

In fact, it looks like the second one I posted. I'll have a look when time permits.

[2017-03-23 07:16] agriggio commented on #3087
@Beep6581 sorry about that. I'll take this into account in the future :disappointed:

[2017-03-23 07:32] agriggio commented on #3767
@Floessie I'd say we should try out your proposal of replacing `g_idle_add` with `gdk_threads_add_idle` and see if that helps. It won't hurt anyway. I've seen the crashes occasionally (but never managed to reproduce reliably), so I just applied this to my local copy. Let's see what happens.

[2017-03-23 08:24] Floessie commented on #3767
@agriggio My proposal wasn't about replacing `g_idle_add` with `gdk_threads_add_idle`, but with `IdleRegister`, which will take care about unregistering callbacks when the callee is destroyed. `IdleRegister` is implemented using `gdk_threads_add_idle`.

[2017-03-23 08:26] agriggio commented on #3767
Oh, I see. Sorry for the misinterpretation. The conclusion still stays though :-) I think it's worth trying...

[2017-03-23 08:43] Floessie commented on #3767
:+1: Me, too. I'll deal with it on the weekend, then we can give it a try.

[2017-03-23 10:40] Partha1b commented on #3678
@Beep6581
Fine with me to go with foo/Resources/share/man. I was considering man as a reference doc and hence my suggestion.

[2017-03-23 12:53] heckflosse commented on #3421
@Desmis
Jacques, I would like to push a first speedup (for BlurNoise_Local) to locallab_dev, ok?

Ingo

[2017-03-23 15:26] Beep6581 commented on #3765
Tested with Samyang 8mm + @TooWaBoo's LCPs and the zoom level works fine here.

[2017-03-23 15:37] agriggio commented on #3765
Great. I'll write a better commit message and push then

[2017-03-23 15:43] ion12 commented on #3678
@Beep6581 @Partha1b

@Beep6581 Can you make a clear call about the manpage and themes dir locations, because you and @Partha1b have made different suggestions, and I have no opinion on this one way or the other.
1. 'DATADIR/share/doc/man' or 'DATADIR/share/man' ? (WIN32 manpage install is handled separately in /rtdata/CMakeLists.txt for some reason, I won't touch that code but for your attention..

[2017-03-23 15:58] Beep6581 commented on #3678
1. What value will datadir have in macOS if not building a bundle?
2. Pending on answer to question 1.
3. Good. If not needed then let's not have it (until someone complains).
4.
5. No idea why the symlink is there in the first place.
6.
7. `exec` invokes a sub-process. If macOS works like Linux in this regard then it doesn't seem to be needed. Note that I'm talking about the `exec` command alone,

[2017-03-23 16:10] Desmis commented on #3421
No problem :)

[2017-03-23 16:36] heckflosse commented on #3421
@Desmis
@
Jacques, I pushed a speedup for blur.
I tested with a D800 file using a blurred region of about 500x500 pixels using Radius 20.
I measured in function `BlurNoise_Local` in full processing mode (simpleprocess)

Before speedup: 146 ms
After speedup: 66 ms

I let the BENCHFUN active at the moment

[2017-03-23 16:36] ion12 commented on #3678
CMakeLists includes
[code]
Is a non-bundle build even relevant for mac/win?
In any case, I am only asking about adjusting the settings under `if (BUILD_BUNDLE)` conditionals.

5. Sorry, misunderstood. Yes, removing the `exec` command doesn't seem to impact negitavely, although I don't know if there is a macOS-specific reason for using it that is not relevant to linux.
6. Yes, although maybe I'm in

[2017-03-23 16:44] Beep6581 commented on #3678
I had a discussion with @agriggio in IRC about `exec` and we decided that the moon landing was definitely staged. We also agreed that using it is fine (it does not invoke a sub-process - I got that info from `man exec` which is actually wrong because that man page is for TCL and `exec` is a Bash built-in making `man bash` the correct source of info). Then again I can't verify this in macOS as I do

[2017-03-23 17:02] Desmis commented on #3421
Hello Ingo
I just tested before / after speedup with D800.NEF
region about 900 * 1250 - radius = 25

Before = 1047 ms
After = 160 ms
No differences in output.

Very good job :)

Thank you

Jacques

[2017-03-23 18:08] Partha1b commented on #3678
@ion12

Assertion failed: (!scaled_font->cache_frozen), function _cairo_scaled_glyph_page_destroy, file cairo-scaled-font.c, line 459.

Yes, we had a long discussion on this on the discussion board. I did make some changes to try and fix it. I think I fixed it, but not totally sure. Anyway, check that thread.

Also, all the libs I include are needed. I package the minimum needed mostly. 🙂

@Beep65

[2017-03-23 21:32] #3765 closed, assigned to nobody

[2017-03-23 22:43] Hombre57 commented on #3489
It's easy to collapse a Tool before graying it out.

However if we look at some widgets in tools, we support both method with the following general rule (not sure it's always the case, but it will give an idea) :
- if a combobox is swapping from one _mode_ to another, the resulting widget displays the according widgets only, i.e. some widgets will be hidden or shown depending on the active mode
-

[2017-03-23 23:27] #3772 closed, assigned to nobody

[2017-03-23 23:55] heckflosse commented on #3489
Ok, now we have 6 opinions.

- I prefer to gray out the raw tab for non raw (tiff, jpeg) files and to hide the unused sensor specific panels.

- @Hombre57 prefers to hide both

- @Beep6581 seems to be ambivalent

- @agriggio seems to prefer graying out both

- @sguyader prefers hiding the unused sensor specific panels but is ambivalent about the raw tab

- @Desmis prefers hiding the unused sensor

[2017-03-24 00:09] heckflosse commented on #3421
@Desmis

Jacques, I will try to make one speedup per day now for the locallab tools (ok, at least 5 per week).
That will take a while because of the massive amount of locallab tools but should be worth the effort.

Ingo

[2017-03-24 00:13] sguyader commented on #3489
I'm bit ambivalent too regarding the raw tab:
At first I was in favor of hiding the raw tab altogether for kon-raw images, but now I wouldn't mind tinder it simply greyed out.
I'm also in favor of hiding the unused sensor-specific panels.

[2017-03-24 00:30] heckflosse commented on #3489
@sguyader Sébastien, thanks for your comment! I updated my post

[2017-03-24 02:52] ion12 commented on #3678
@Beep6581 @Partha1b I updated the pull request to the best of my understanding according to the last few comments. You still might want to make some changes to naming/structure.
I didn't comment out the psn / symlink code in the executable_loader nor all the GTK related path exports even though I think it's safe to do so, as @Partha1b did not confirm/suggest they should be safely left out. The cod

[2017-03-24 05:29] Desmis commented on #3421
Ingo

No problem :)

Thank you.

[2017-03-24 06:59] agriggio commented on #3489
After reading other people's opinions, and thinking about this a bit more, I slightly changed my mind :-)
I vote for greying out the RAW tab, but hiding the sensor-specific stuff (and the choice about multiple frames for single-frame RAWs)

[2017-03-24 08:51] Beep6581 commented on #3489
I walked the dog, I had my morning coffee, I sat on a bench and watched the birds, I thought things over, concluded that what works best in one case does not work best in another, and I decided that as I'm unable to come up with one solution which is ideal in all cases I'm fine with whatever you choose.

[2017-03-24 09:31] dsiroky opened #3774 "HiDPI scaling problems"
Ubuntu 16.04, rawtherapee 4.3+git20170217-252~ubuntu16.04.1 (from http://ppa.launchpad.net/dhor/myway/ubuntu/pool/main/r/rawtherapee-unstable/)

I have a 4K monitor with environment variables GDK_SCALE=2 and GDK_DPI_SCALE=0.5. After last rawtherapee update the main canvas/preview area is scaled as well and thus the picture is always blurred. It does not utilize the full 4K resolution. When I remov

[2017-03-24 10:57] Beep6581 commented on #3678
[code]
Is it supposed to be `MacOS` or `macOS`? If `macOS` then also change in tools/osx/macosx_bundle.sh

I made revisions, please add these to the PR:
https://github.com/Beep6581/RawTherapee/commit/26c29a563b27e523ee333117c8b705a9f3019e18

[2017-03-24 11:10] gaaned92 commented on #3489
Sorry to interfere, but I put my one cent.
I should prefer:
- to hide functions or tab that are never used with a kind of image (e.g. raw tab for jpeg image, bayer sensor for xtrans...) in order to avoid to bloat the gui
- to grey functions that are context sensitive (they are active or not depending on other settings)
André

[2017-03-24 11:15] Beep6581 commented on #3774
Duplicate of #3547

[2017-03-24 11:15] #3774 closed, assigned to nobody

[2017-03-24 11:22] Partha1b commented on #3678
@Beep6581 It should be MacOS.

[2017-03-24 11:25] Partha1b commented on #3678
@ion12 said:

I definitely commented on this above here: https://github.com/Beep6581/RawTherapee/issues/3678#issuecomment-288370507

[2017-03-24 13:18] TooWaBoo commented on #3772
It's not fixed.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24295772/9ef542d4-109c-11e7-80a1-490f11a14ca7.PNG)

[2017-03-24 13:20] agriggio commented on #3772
a bit more info? thanks!

[2017-03-24 13:24] TooWaBoo commented on #3772
Look at the thumbnail, it won't show the correct crop.
Isn't it fixed or did I missundstanding anything.

[2017-03-24 13:30] agriggio commented on #3772
Hi @TooWaBoo ,
yes, I looked at the crop. And I obviously see that there is something wrong. But I hope you might concede that I did some testing before closing it, so I'd say that it is equally obvious that it works here :smile:
Which means that there is some difference in our setup. This could include:

  - platform,
  - processing profile,
  - and, most likely, the file format (jpeg or raw? if

[2017-03-24 13:41] TooWaBoo commented on #3772
Here it comes: 😄
Nikon D90, Win 10 x64, File format: RAW
https://filebin.net/emh74gwwi9in17y2

[2017-03-24 13:41] agriggio commented on #3772
Thanks! I'll test immediately

[2017-03-24 13:47] agriggio commented on #3772
are you sure you are on the `dev` branch? Can you paste the contents of `AboutThisBuild.txt`?

[2017-03-24 13:57] heckflosse commented on #3772
I had the same yesterday. After clearing the cache it worked fine.

[2017-03-24 13:57] TooWaBoo commented on #3772
It's from my own fork. The dif to Beep-dev is only the "Reset to Default" feature.

I will do the test with Beep-dev again after it's compiled.

[2017-03-24 13:58] agriggio commented on #3772
@TooWaBoo ah sure, @heckflosse is right. You have to clear the cache, as you might still have the wrong version in there...

[2017-03-24 14:00] TooWaBoo commented on #3772
Cleared cache and now it's OK.

[2017-03-24 16:04] Partha1b commented on #3678
@ion12 Forget to address the cairo issue. I looked through the code and didn't think that that particular line in cairo-scaled-font.c added anything to the mix and commented it out.

[2017-03-24 16:41] ion12 commented on #3678
@Partha1b I saw the comment, that's why I left in the code per your recommendation :)
What I meant is that subsequently I detected no negative effect, by trial and error, in removing it - and you did not confirm/suggest that it would be ok to do so.
Same goes for the psn shift code and the symlink to /tmp. I can not detect any issue with removing them but won't suggest doing so as I don't fully un

[2017-03-24 17:36] ion12 commented on #3678
@Beep6581
[code]
results in
`/tools/osx/macosx_bundle.sh: line 209: ${CMAKE_BUILD_TYPE,,}: bad substitution`

[2017-03-24 17:51] heckflosse commented on #3489
Ok, after reading all the comments again I came to the conclusion that the approach of psgtk3 branch (hiding unused sensor specific panels and graying out raw tab for non-raw images) is at least better than to show them always.
I would like to merge psgtk3 into dev again soon. Any objections?

[2017-03-24 18:02] Beep6581 commented on #3678
@ion12 can you come to IRC? http://rawpedia.rawtherapee.com/IRC

[2017-03-24 18:15] Desmis commented on #3489
I agree

No objections :)
jacques

[2017-03-24 18:49] ion12 commented on #3678
@Partha1b @Beep6581 patched cairo removing the `!scaled_font` assertions on lines 459-460 of 'cairo-scaled-font.c' according to @Partha1b 's recommendation and the crash is indeed resolved. Great!
But I guess this means we now need to provide a patch for cairo like we do for libiconv to provide a repeatable macports based installation?

[2017-03-24 19:03] ion12 commented on #3678
note that I do get the odd crash AFTER quitting RT:
[code]
I don't know if it's related to the cairo patch (or to the packaging issues at all, maybe something I just never noticed before) and it doesn't always happen so I'm not sure what is the exact trigger for this.

[2017-03-24 19:39] heckflosse commented on #3489
Merged!

[2017-03-25 00:21] heckflosse commented on #3421
@Desmis Jacques, I will push an about 3x speedup for locallab contrast tool soon :)

[2017-03-25 05:57] Desmis commented on #3421
Ok , thank you :)

[2017-03-25 08:25] TooWaBoo opened #3776 "Locale files are not in sync with default"
I wanted to make the German translation and have determined that the file is not synchronized with the latest version of the default file.

[2017-03-25 13:09] Beep6581 commented on #3776
Here you go: https://filebin.net/o3luob5b11jwemns
From 5.0-r1-gtk3-291-gba7adbce but synced with default. I don't want to commit a sync of all other files until some merges are out of the way.

[2017-03-25 13:12] TooWaBoo commented on #3776
Ok, Thanks. I close it.

[2017-03-25 13:12] #3776 closed, assigned to TooWaBoo

[2017-03-25 22:56] da-phil opened #3777 "Crash when exporting image"
I'm using the recent version from 'dev' branch on Ubuntu 16.04.
Here's the system info:
[code]

And here is the backtrace of the crash:
[code]

I hope this is of help.

[2017-03-25 23:05] TooWaBoo opened #3778 "Distorted preview when image is flipped and a lcp-file is set"
Distorted preview when image is flipped **and a lcp-file is set.**
The distortion change when you zoom in or out.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24326823/c36de91a-11b7-11e7-92e2-35850e151e7c.PNG)

[2017-03-25 23:51] heckflosse commented on #3421
@Desmis

Jacques, I pushed the speedup for locallab contrast tool and also merged dev into locallab_dev again.
Please test.

Ingo

[2017-03-26 01:27] artphotodude opened #3779 "No way to change directory and folder..."
Am trying to use Version 4.2, but I am having to literally manually type the path to each directory.  The File Browser tab does absolutely nothing when clicked on.

While I am guessing there is a work-around, I must say, this is kinda' a deal breaker for any software to be unable to located files through the GUI.

Installed in Linux Mint Mate 17.3 (64-bit)

[2017-03-26 01:55] heckflosse commented on #3779
I would say it's a deal breaker to use old version 4.2 when 5.0 is already released and 5.1 is around the corner ;-)

[2017-03-26 07:32] agriggio commented on #3778
I'll take a look ASAP

[2017-03-26 09:33] Desmis commented on #3421
Hello Ingo

I tested your speedup.
1) first time threatment is about divided by 6 or 8...it's huge.

2) I think you have found - not a bug - but a malfunction in the original
algorithm when lp.sens < 40,  with this code
                        if (lp.sens < 40.f ) {
                           kch = pow (kch, pa * lp.sens + pb);   //increase
under 40
                       }
Now it is in "if else"

[2017-03-26 10:36] TooWaBoo commented on #3779
Is this button on or off?
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24330557/cbc9275a-1220-11e7-8fbe-9e046818ee56.PNG)

[2017-03-26 11:49] Hombre57 commented on #3724
The Before/After mechanism is not very useful for what you're asking. Once you adjust a slider, the Before view is replaced by the soft-proofed version as well. I think using a 'mouseover' mechanism over the After image would be better, with a small button to lock to the soft-proof version if available. That's not complicated to do, unless you want meaningful Navigator / Color Pickers data...

[2017-03-26 12:04] Hombre57 opened #3781 "Enhancing the CMM module"
As explained in pixl.us here ( https://discuss.pixls.us/t/does-soft-proofing-work-without-looking-to-the-output-profile/3280/41 ), what Elle Stone is asking, as well as the OP, is :
1. adding the output profile into the conversion chain before soft-proofing
2. being able to see clipped colors at any point in the chain where color space conversion occurs
3. controlling the _unbounded mode_ as much

[2017-03-26 12:54] Beep6581 opened #3782 "Add DCI-P3 output color profile"
Here is a DCI-P3 color profile candidate for inclusion in RT as an output (and working?) profile:
https://filebin.net/aml2ssh7us2yt58e/DCI-P3.icc
I generated it using displaycal-synthprofile
@Desmis could you take a look?

[2017-03-26 12:54] Beep6581 opened #3783 "Add ACES color profile"
Here is an ACES color profile candidate for inclusion in RT as an output (and working?) profile:
https://filebin.net/aml2ssh7us2yt58e/ACES.icc
I generated it using displaycal-synthprofile
@Desmis could you take a look?

[2017-03-26 13:34] Desmis commented on #3783
This profile is Huge, largely greater than Prophoto, for all colors (especially for red and blue), and all luminance
For what use ? All these color are not visible for an human.
Probably this profile will leads to artifacts, or bizarre behavior, but why not ?

Jacques

[2017-03-26 13:37] Desmis commented on #3782
This profile is "between", AdobeRGB and BetaRGB.
 *Always smaller  than BetaRGB

* In comparison with AdobeRGB : bigger for red, and smaller for green

[2017-03-26 14:31] Beep6581 commented on #2494
This is still an issue. Enable "Save processing parameters with image" and start saving, then carry on making modifications in RT, e.g. change white balance. The PP3 is saved after the image is saved, which means the PP3 does not correspond to the saved image.

[2017-03-26 14:51] Beep6581 commented on #3783
It's not for me to decide what someone uses it for. I just want to know whether this specific profile which I generated has any defects or whether it's fine to include.

[2017-03-26 15:03] Desmis commented on #3783
I repeat : for what use ?
For me, it is a bad idea. From my point of view, already Prophoto is too
big,  with color out of human vision... and already leads to malfunction
for some tools, but here we are out, out, out...The only use I see, is by
comparison to see the limitation of a sensor camera. Not for photo usage :)

For me the best "big" profile is WidegamutRGB

Jacques

[2017-03-26 15:12] Beep6581 commented on #3782
@Desmis thank you for taking a look, but my intention in asking was whether the profile looks and behaves correctly. I don't know how to properly test it.

[2017-03-26 15:19] Beep6581 commented on #3783
I am not concerned with reasons for using ACES (Analyzing sensors is one possible use, compatibility with other software where ACES is a standard is another). My concern is whether this profile is generated correctly and can be used with RT.

Duplicate of #2083

[2017-03-26 15:19] #3783 closed, assigned to nobody

[2017-03-26 17:00] agriggio commented on #3778
working on a fix, if my tests are ok will commit later today

[2017-03-26 18:45] heckflosse commented on #3421
@Desmis

Jacques, I pushed a speedup for `Sharp_Local`. Also cleaned the code around it a bit.
Please test.

Ingo

[2017-03-26 19:29] agriggio commented on #3778
I've just pushed a tentative fix. From my tests here it seems to work, but I'd appreciate some further stressing of it...

[2017-03-26 19:57] TooWaBoo commented on #3778
Tested. Works fine.

Good job. 👍

[2017-03-26 20:06] Floessie commented on #3767
This was only a first commit. There's more to come...

[2017-03-26 22:45] heckflosse commented on #3421
@Desmis

Jacques, I wanted to optimize the locallab denoise part. But then I detected a thing you probably can fix faster then I can.

To reproduce:
Pull latest locallab_dev from github (I added a StopWatch)

Open a file.
Apply neutral profile.
Add one locallab control region and apply denoise for this region.
Look at the console output

Expected output:

One line showing the processing time of lo

[2017-03-27 00:58] heckflosse commented on #3687
What is eta for 5.1?

[2017-03-27 01:14] Beep6581 commented on #3687
Let's aim for a release candidate around April 9-16, and the final release a week or two later.

[2017-03-27 05:04] pygmalionshell opened #3784 "Dual Iso on Rawtherapee?"
Hi,
On Magic Lantern, a FOSS alternative to Canon camera firmware, the main developer "a1ex" have created a way to get more dynamic range from a single photo, alternating the ISO settings between sensor lines. What you get is a image with strips, that then can be processed using a command line software called cr2dng. You can check this thread for more information:
http://www.magiclantern.fm/forum/

[2017-03-27 06:38] Desmis commented on #3421
Hello Ingo

All works fine for "Sharp_local", seedup about divided by 6.
Very good job :)

I'll look to "call denoise" :)

jacques

[2017-03-27 06:57] agriggio commented on #3778
Thanks. Closing then!

[2017-03-27 06:57] #3778 closed, assigned to agriggio

[2017-03-27 07:28] Desmis commented on #3421
Ingo

I look at this message. It is due to call to "denoise" with "Global quality
= enhanced + chroma denoise". In this case for each control point, there is
a call, even the user do not open any function.

To prevent when it is not usefull, I change the fist line:

      //  if (lp.noiself > 0.f || lp.noiselc > 0.f || lp.noisecf > 0.f ||
lp.noisecc > 0.f  && call < 3 || noiscfactiv  && lp.denoien

[2017-03-27 10:40] pygmalionshell commented on #3061
Old thread but: do you guys think that with a flat DCP profile we could get better results? The VisionColor BMDfilm looks good on my high dynamic range photos. Unfortunately I can't show it because the DNG file is now deleted from the host. If anyone get it uploaded again I could do a test.

[2017-03-27 12:07] Beep6581 commented on #3061
No.

[2017-03-27 12:41] agriggio opened #3785 "Crash when enabling wavelet with the attached pp3"
I get a `SIGBUS` error as soon as I enable the Wavelet tool on the following image:
  http://rawtherapee.com/shared/test_images/hdrmerge_045.dng

when using the attached pp3 as a starting point.
I'm including also the output of `bt full`. This is on a Debug build of the current dev (git changeset id: `81917406d5968aa2ab0c40d3856a874d627d832b`). `AboutThisBuild` reports:

[code]

[bt.txt](https://g

[2017-03-27 12:51] pygmalionshell commented on #3061
Won't help the flat DCP? Well, at least it gives a good inverted S-shape curve, that's a start. The Retinex seems to work very fine now so I guess that's why it's an old thread. Thanks.

[2017-03-27 13:12] heckflosse commented on #3785
Works fine here
[code]

[2017-03-27 13:29] TooWaBoo commented on #3785
Can't reproduce

[code]

[2017-03-27 13:32] agriggio commented on #3785
@heckflosse @TooWaBoo thanks for testing. I see you are both on windows, so it's not so strange it can't be reproduced. It's probably a memory corruption (perhaps an OOB access?) where exactly it gets triggered can change on different platforms. I'll also add that on a Release build I had to work harder to get the crash, and didn't manage to do so in a reliable/reproducible manner. But with my cur

[2017-03-27 13:37] heckflosse commented on #3785
@agriggio I will run it through valgrind

[2017-03-27 13:59] Floessie commented on #3785
No crash here on Linux.

[code]

Strange address.

[2017-03-27 14:17] heckflosse commented on #3785
[code]

[2017-03-27 14:47] heckflosse commented on #3785
I don't understand how these variables can be uninitialised. I'll make a new valgrind run with `--track-origins=yes`

[2017-03-27 15:11] agriggio commented on #3785
@heckflosse did you try disabling openmp? Perhaps the debugging becomes a bit easier with less things going on in parallel... (it usually is for me at least)

[2017-03-27 15:30] Beep6581 commented on #3785
Would a Coverity build help? I could make a new one, but I got the feeling that the last few weren't used...

[2017-03-27 15:33] agriggio commented on #3785
I wasn't aware we could use Coverity tools -- I'd certainly take a look (time permitting).
I'll also try valgrind on my debug build.

[2017-03-27 15:52] agriggio commented on #3785
when running through valgrind I could not reproduce it... :frowning_face:

[2017-03-27 18:00] heckflosse commented on #3421
@Desmis

Jacques

I tried your approach but still get 2 calls of denoise (of course that's better than 8 calls).

I would appreciate if you could take this part because I don't want to destroy something.

When that's done, I can push further speedups for locallab denoise I already have on hold.

Next push is yours ;-)

Ingo

[2017-03-27 18:39] Beep6581 commented on #3489
Saving a partial profile with nothing selected results in the file containing this extra data:
[code]

[2017-03-27 18:53] heckflosse commented on #3489
Hmmm :(

[2017-03-27 20:01] heckflosse commented on #3489
@Hombre57 I need your help for the Pixel Shift partial profile issue reported by @Beep6581

[2017-03-27 20:15] Hombre57 commented on #3489
@heckflosse Looking...

[2017-03-27 20:48] heckflosse commented on #3489
@Hombre57 Thank you :+1:

[2017-03-27 21:02] heckflosse commented on #3489
@Hombre57 Feel free to push to dev. I've no changes on hold currtently.

[2017-03-27 21:37] Hombre57 commented on #3489
@heckflosse In the future, could you please keep some consistency when naming procparams values ? Some of them has a lower case "P" first letter in the pp3. I've changed 2 first letter capitalization in the code, but can't do that for the pp3 without breaking compatibility, and I don't want to clutter the ProcParams::load for this. I'll be ready to push in few minutes.

[2017-03-27 21:49] heckflosse commented on #3489
@Hombre57 Yes, I will do that in future!

[2017-03-27 22:03] Hombre57 commented on #3489
@heckflosse Patch committed.

[2017-03-27 22:19] heckflosse commented on #3489
@Hombre57 :+1: I knew that I can count on you! Thank you very much!!!

[2017-03-27 22:33] heckflosse commented on #3421
@Desmis

Jacques, I think I can speedup the locallab denoise by about factor 2 on top of the factor 8 we will get with your cleanup (not calling denoise for control points where it's not enabled)

[2017-03-27 22:42] Hombre57 commented on #3489
It's fast when it's easy 😉  I have 3 opened patch but they're more complicated than expected...

[2017-03-27 22:48] heckflosse commented on #3489
:) What's easy for you is not easy for me (and vice versa)!

[2017-03-28 07:19] TooWaBoo opened #3786 "Wrong entry in PartialPaste"
There is a wrong entry in Partial Paste.
I guess "CA auto-correction strength" is used only in a test environment.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24393092/0e086afa-1397-11e7-8a82-d56656a65051.PNG)

[code]

[2017-03-28 07:38] Desmis commented on #3421
Ingo

I push a change:
With that change, denoise is only call :
1) if user want to use denoise
2) if qualmet=2 is selectionned (best quality to prevent artifacts due to
varaitions of hue due to chroa noise) and if one modules (color, retinex,
tone mapping, cbdl, sharp) is enabled and for each ot these modules if user
want to use them.

If think there is no error, but to confirm by you

You can now

[2017-03-28 11:58] Beep6581 commented on #3489
There is no stable release with PS yet so it's fine to break compatibility in a dev build.

[2017-03-28 12:01] #3786 closed, assigned to nobody

[2017-03-28 12:08] Beep6581 commented on #3786
Please describe very briefly what #3786 is in the commit message to make git log messages easier to follow, e.g.
"Fixes uninitialized variables found by valgrind; removes CA Strength from partial paste dlg #3786".

It would save me some time figuring that out when I write the changelog in a few weeks ;)

[2017-03-28 16:55] heckflosse commented on #3421
@Desmis
Jacques, I pushed the speedup for locallab denoise. Though it's still called twice. Don't know why...

[2017-03-28 17:12] Desmis commented on #3421
Hello Ingo

I just tested your improvment.

Time threatment divide by about 2 (a little more)

​
​No diffrences in output, or ver very tiny.

For me, with simpleprocess (save TIF), I have only 1 call.

Very good job

Thank you very much

Jacques​

[2017-03-28 18:49] heckflosse commented on #3421
@Desmis
Jacques, here's the pp3 with which I still get 2 calls in simpleprocess.
[D800FAR2I0200.NEF.zip](https://github.com/Beep6581/RawTherapee/files/876745/D800FAR2I0200.NEF.zip)

[2017-03-28 20:02] Floessie commented on #3785
This is one of the inexplicable errors that we often attribute to the compiler. Believe it or not, but this fixes it:

[code]

@heckflosse Removing `ALIGNED16` alone didn't help. Maybe you come up with a better solution. My guess is that there's something wrong with the stack frame calculation. We should have a look at the assembly. `wavclCurve` is still intact right before the `if`, and it's brok

[2017-03-28 20:12] agriggio commented on #3785
great job @Floessie! I wonder whether the c++11 aligned memory facilities can be of any help here  in case they are needed for performance?

[2017-03-28 20:20] Floessie commented on #3785
@agriggio My understanding is, that they are based on the same mechanism as `ALIGNED16` under the hood. Actually, I don't quite understand, why `ALIGNED16` should be needed in this place other than to enable better SSE code by the compiler.

Nevertheless, omitting `ALIGNED16` didn't help, so it's not really a matter of the attribute.

[2017-03-28 20:21] heckflosse commented on #3785
@Floessie Maybe we ran simply ran out of stack space?

[2017-03-28 20:23] Floessie commented on #3785
@heckflosse Is it 2MB on Linux? Well, I tested with `-fstack-protector-all` but that didn't find anything, so I guess, we can rule it out...

[2017-03-28 20:23] heckflosse commented on #3785
@Floessie @agriggio

We don't need the `ALIGNED16` in this place, but it also should not hurt to enable better SSE code by the compiler.

[2017-03-28 20:24] agriggio commented on #3785
@heckflosse any reason to use stack based arrays here? is there really a measurable performance difference in this context?

[2017-03-28 20:34] heckflosse commented on #3785
@agriggio No, not in this context. Feel free to change it :+1:

[2017-03-28 21:49] Hombre57 commented on #3489
@Beep6581 Could we mention in release notes of 5.1 that pp3 for pixelshift are not compatible to 5.0 dev version ? In that case I could clean that up, other better leave it as is.

[2017-03-28 22:38] Beep6581 commented on #3489
@Hombre57 we never promised to preserve PP3 compatibility across dev builds. In fact it is even explicitly stated in the dev release notes that compatibility will not be preserved (first section, second-last point). So go ahead and break.

May I add, bon anniversaire! :birthday: :tada:

[2017-03-29 05:42] Desmis commented on #3421
Hello Ingo
I just tested this morning with your pp3 and D800

I have only one call (1), perhaps you have an other spot open (look at the
mip file - in the cache by default).

But, in some case (mostly), with TIF : JPG output, the system don't exactly
crash, but exit RT without threatment, when process is with locallab.

Jacques

[2017-03-29 06:50] Desmis commented on #3421
Hello Ingo

I build a debug version, then gdb.

With most files (eg Blue horse, or D800FAR21300.NEF), with only locallab,
and denoise (4 sliders > 0 about 40) and output TIF/JPG

In preview all works fine :)

I try : clean mip, clean pp3, without effect
In some mostly case , I received this message :

"Thread 372 received signal SIGSEV, segmentation fault
[Switching to thread 5480.0xb44]
0x0000000

[2017-03-29 08:25] agriggio commented on #3785
So, this should give you 16-byte aligned arrays allocated on the heap:

[code]

(see e.g. https://stackoverflow.com/questions/227897/how-to-allocate-aligned-memory-only-using-the-standard-library)

However, I'd take @Floessie's patch, unless there is a measurable performance difference.

Note also that there are other parts of the wavelet code that use stack-allocated arrays, which might be prone

[2017-03-29 08:53] Floessie commented on #3785
@agriggio It's much simpler with [`std::align()`](http://en.cppreference.com/w/cpp/memory/align).

As you're the only one who can see the SIGBUS in gdb, why not dig a bit deeper? Set a breakpoint on the allocation line and print `wavclCurve`, then step after the allocation and print it again. See if `&wavclCurve` changed in between.

@heckflosse I also tried ASAN and gdb, but can't see it there. P

[2017-03-29 08:58] agriggio commented on #3785
@Floessie thanks for the `std::align` pointer, but I'm actually not sure how to use it correctly :-) Do you have an example?
Regarding debugging, I can try to do that, but don't hold your breath waiting for me, these are busy days... :-/

[2017-03-29 09:12] Floessie commented on #3785
@agriggio Scratch that. Search for `AlignedBuffer` in the code. :smile:

[2017-03-29 10:04] heckflosse commented on #3421
@Desmis

After deleting the mip file I get only one call for locallab denoise :+1:
I can not reproduce the crashes here.

[2017-03-29 11:07] heckflosse commented on #3785
@Floessie I will try to make ipwavelet.cc `-Wall`-clean

[2017-03-29 12:09] agriggio commented on #3785
@Floessie :+1:, this should do then:
[code]

[2017-03-29 16:03] Desmis commented on #3421
Hello Ingo

For the crash with "Denoise", it's very versatile...If I reboot my
computer, the same file does not crash, but in some cases, when I call
"external editor', it does not work, without crash

If somebody else can test ?

Jacques

[2017-03-29 19:50] heckflosse commented on #3421
@Desmis Jacques, today I pushed a lot of fixes to locallab_dev. Did you already test with this version?

[2017-03-29 20:37] heckflosse opened #3787 "Sporadic crashes when starting rt"
Since some days (don't know exactly, maybe since two weeks) I get sporadic crashes when I start RT. It's not reproducible but I get at least one crash a day on Win7/64 and on Sabayon/64.

Am I the only one who experiences this?

Ingo

[2017-03-29 20:49] agriggio commented on #3787
confirmed, but I've seen this for much longer, not just a few days. I
thought it could be gtk3 because I don't remember it when I was on gtk2.
but it's very sporadic and I didn't have the time to (try to) nail it down

[2017-03-29 21:30] Beep6581 commented on #3787
@heckflosse I had some sporadic crashes too in the last few weeks, though I haven't been using RT regularly enough to say whether this is new or how new. Same as @agriggio about not trying to nail it down.

[2017-03-29 22:09] heckflosse commented on #3787
@agriggio I also never got this startup crash using gtk2 builds.

[2017-03-29 22:10] heckflosse commented on #3787
Though it's a sporadic crash I would like to treat this as a critical bug.
Do you agree?

[2017-03-30 05:45] Floessie commented on #3787
Yep.

[2017-03-30 05:47] Desmis commented on #3421
Hello Ingo
Yesterday I was away :)

I just tested all new changes
All seems to work fine :)

No more crash !

No differences in output, or as I said previously, very, very tiny

Time threatment divided globaly by 4 on various images

Very good job :)
I'll continue to test, specially "denoise"

Thank you very much

jacques

[2017-03-30 05:48] agriggio commented on #3787
agreed

[2017-03-30 06:00] Floessie commented on #3785
@agriggio AFAIK, `AlignedBuffer` has an `operator []()`, so it's just
[code]
But again: The alignment is not the culprit here. And another thought: How is the compiler supposed to know, that the buffer is well aligned for SSE? Whenever we use an `AlignedBuffer` it's because we use it explicitly for SSE code...

@heckflosse

:+1:

For what it's worth: My `-Wall` comment was targeted at the codebase

[2017-03-30 06:09] agriggio commented on #3785
hi @Flossie, that's exactly my point :-) I was trying to preserve the
previous alignment and only move the array to the heap... I have no idea
though whether this gives any measurable improvement, and that's why I was
suggesting to take your initial solution with std::vector. but
alignedbuffer is equally concise, so both are fine. just please get rid of
that stack allocation, because it leads to t

[2017-03-30 06:12] agriggio commented on #3785
oh btw on Linux the stack size is not fixed at compile time, you can change
it with ulimit. I'll try to see if it makes a difference, just to confirm
that it is the culprit

[2017-03-30 06:52] agriggio commented on #3785
I checked, but it doesn't. E.g:

[code]

We could easily add one though...

Also, enlarging the stack doesn't help :-(

I'm now replacing all stack-allocated arrays in `ipwavelet.cc` with vectors
(or AlignedBuffers), I'll let you know how that goes.

[2017-03-30 08:24] agriggio commented on #3785
I've added a new branch `ipwavelet-heap-buffers`. It seems to work here. Please have a look at the code whenever you can, thanks!

[2017-03-30 08:53] Floessie commented on #3785
Code-wise it's fine. But I have the gut feeling that it's not supportive for performance. @heckflosse?

We still don't know, if it's really a stack overflow, though.

[2017-03-30 09:00] agriggio commented on #3785
Honestly, I'd be very surprised if this had a measurable performance impact. The `ipwavelet` code is already using a bunch of other heap-allocated arrays anyway... But I agree to hear @heckflosse 's take on this!

[2017-03-30 09:41] Floessie commented on #3785
Some tips for debugging:

1. Apply this patch:
[code]
2. Check if it crashes and burns in line 1055 now.
3. Rerun in GDB and add breakpoint: `break ipwavelet.cc:1051`
4. Run up to the breakpoint and examine: `print &wavclCurve`
5. Continue until crash and examine `wavclCurve` again. It should be different than before.
6. Execute 3. and 4. once again.
7. Set a watchpoint on the address of `wavclCur

[2017-03-30 10:37] heckflosse commented on #3421
@Desmis
Jacques, I will make further speedups for locallab_dev next days

[2017-03-30 10:52] Desmis commented on #3421
No problem, thank you :)

[2017-03-30 11:07] heckflosse commented on #3785
@agriggio @Floessie
We should avoid allocation inside of loops I guess. I commented [here](https://github.com/Beep6581/RawTherapee/commit/13341fc2c32586a195274396f9412539e5677551#commitcomment-21556176)

There are a lot of places with this stack-allocations of line buffers.
If you like, I can fix them all (because I introduced them) ;-)

[2017-03-30 11:08] Floessie commented on #3785
@agriggio @heckflosse Did you see, that the right side of the image is broken in 1:1 view?

[2017-03-30 11:26] heckflosse commented on #3785
@Floessie Good catch! It's broken even with neutral profile.

[2017-03-30 11:35] heckflosse commented on #3785
@Floessie @agriggio
I exported the file twice in queue as 16-bit tiff and checked for differences. There are no differences.
That means it is very likely (I would say >99.9%) that the broken part is not caused by processing in rt but is already in dng file. And as it's a float dng file and code to read that file checks for NaN we probably can exclude NaN in dng file as well.

[2017-03-30 11:39] agriggio commented on #3785
@heckflosse :+1: I'll move the allocations
@Floessie what do you mean the image is "broken"? do you have a screenshot? I'm not seeing anything strange...

[2017-03-30 11:44] heckflosse commented on #3785
@agriggio
![broken](https://cloud.githubusercontent.com/assets/13733487/24502636/0192b532-154f-11e7-8667-3984424ac54a.png)

[2017-03-30 11:48] agriggio commented on #3785
ah, ok. I had played a bit more with the pp3 in the meantime, enabling straightening among other things. So those pixels were cut out from my view...

[2017-03-30 12:14] kznsq opened #3788 "Bug with LCP profiles parsing"
The XML parser do not accumulate the text while parsing with the 'LCPProfile::XmlTextHandler' and causes wrong reading numbers.
You can set the small (3 bytes, for example) BufferSize in the LCPProfile::LCPProfile and debug values readed, for example, here:
LCPProfile::XmlTextHandler(..)
{
..
pProf->pCurCommon->imgXCenter = atof(raw);
..
}

[2017-03-30 12:53] Desmis commented on #3787
I agree, with gtk3, more sporadic crash than with gtk2

[2017-03-30 12:59] heckflosse commented on #3787
Locally I applied this patch:
[code]

because of [`This call must be made before any use of the main loop from GTK+; to be safe, call it before gtk_init().`](https://developer.gnome.org/gdk3/stable/gdk3-Threads.html#gdk-threads-init).

I also tried to remove the deprecated stuff but failed.

I'll work with above patch now for some days just for curiosity.

[2017-03-30 14:41] heckflosse commented on #3785
@Floessie

Yes, it's really bad. I will start a task now with the goal to make one compilation unit per day `-Wall`-clean.
I will open a new Issue for that.

[2017-03-30 14:50] heckflosse opened #3790 "Compiling with -Wall shows a large amount of warnings which should be fixed"
I want to try to make rt a bit more `-Wall`-clean.
I will start with compilation units in rtengine
Checked means it's clean. Unchecked means it's not clean or not tested yet.

- [x] colortemp.cc
- [x] curves.cc
- [x] flatcurves.cc
- [x] diagonalcurves.cc
- [x] dcraw.cc (fixed some warnings and disabled the remaining ones)
- [x] iccstore.cc
- [x] color.cc
- [x] dfmanager.cc
- [x] ffmanager.cc
- [x]

[2017-03-30 19:16] ghost commented on #3785
I am not the one

On Thu, Mar 30, 2017 at 7:41 AM, Ingo Weyrich <notifications@github.com>
wrote:

[2017-03-30 19:53] Floessie commented on #3767
@da-phil Done. Would you give it a try? #3777 could also be related. Just compile the `idle_harder` branch.

[2017-03-30 20:03] Floessie commented on #3785
@flossie Hi! No, you must be my swedish gal pal from the 70s. :grin:

Joking apart: Sorry you have to follow this thread now, but @agriggio mistakenly mentioned you, when he wanted to mention me. Just ignore the mails...

[2017-03-30 20:06] Floessie commented on #3790
@heckflosse I don't see a branch, yet. I could join you from time to time.

[2017-03-30 20:10] heckflosse commented on #3790
@Floessie I will create a branch now after committing fixes for the compilation units at top of the list.
Maybe we should agree about the procedure to avoid double work. Kind of I start from top and you start from bottom until we meet (or vice versa)

[2017-03-30 20:27] ghost commented on #3785
maybe try not to mention me, I got these emails  many times

On Thu, Mar 30, 2017 at 1:03 PM, Floessie <notifications@github.com> wrote:

[2017-03-30 20:34] heckflosse commented on #3790
@Floessie I created the new branch `wallfix` ;-)

[2017-03-30 20:43] Beep6581 commented on #3785
@flossie hello, the emails have a link at the bottom to mute the thread.

[2017-03-30 20:53] ghost commented on #3785
oh I see, it's not my fault, and I need to try to do something?

[2017-03-30 20:54] ghost commented on #3785
and this is not the only thread, I was evolved in multiple threads before

[2017-03-30 20:59] agriggio commented on #3785
@flossie sorry, it was a typo of mine while replying from the phone. Now you are marked as subscribed to the thread, and I have no way of removing you (or at least, I don't know how to do it). You have to do it yourself I'm afraid. And sorry for the inconvenience.

[2017-03-30 21:05] heckflosse commented on #3785
@agriggio You should mention @ghost now :grin:

[2017-03-31 05:55] Floessie commented on #3790
:+1:

[2017-03-31 08:18] Desmis commented on #3790
Can I help, even Ingo start from top, and Floessie start from bottom :)

[2017-03-31 09:19] Floessie commented on #3790
@Desmis Maybe you could pick the ones you like to work on now from the end of the list and put your name on it. Then I'll do the same later for the ones that I'm going to clean.

[2017-03-31 09:54] Desmis commented on #3790
@Floessie
Ok, but how to do, I am a not at all a specialist for compilation  :
a)  for compilation directives with windows , which files in cmake ?
b) for only have warning for one specific file
c) etc.
Thank you
Jacques

[2017-03-31 10:10] heckflosse commented on #3790
@Desmis
For temporary usage of compiler switches I always cheat by modifying `CMakeCache.txt` in build folder.
HowTo:
1. Open `CMakeCache.txt`
2. Search for `PROC_TARGET_2_FLAGS:STRING=-march=native`
3. Add ` - Wall` to that line and save
4. `make`, but ignore all the warnings because it makes a full build now
5. open a source file from the list above (for example `ipwavelet.cc`) and add space in

[2017-03-31 10:21] Desmis commented on #3790
Ingo

OK, thank you, I'll try soon :)

[2017-03-31 10:45] Desmis commented on #3790
Ok, thats works :)
I just change ipvibrance.cc in the middle of the list
jacques

[2017-03-31 11:05] heckflosse commented on #3790
@Desmis
Jacques, please do not reformat the code during this cleanup. It makes it impossible to see what you fixed.

[2017-03-31 11:09] Desmis commented on #3790
Ok :)

[2017-03-31 11:14] Floessie commented on #3790
BTW: What's the matter of adding spaces between function name and the opening parenthesis? Haven't seen it very often, but there must be some reasoning to it.

PS: I'll join you on the weekend.

[2017-03-31 11:34] heckflosse commented on #3790
@Desmis
Jacques, I will take improcfun.cc now :)

[2017-03-31 11:38] #1229 closed

[2017-03-31 11:42] Beep6581 opened #3792 "Add moiré mitigation tool"
Currently there is no way of dealing with moiré. This issue is to add such a feature.

Iain added capability to G'MIC to mitigate moiré, it seems to be very effective. Details here:
https://discuss.pixls.us/t/new-demosaicing-filter/3543/8?u=morgan_hardwood

[2017-03-31 11:43] Beep6581 commented on #1229
Handled by #3792

[2017-03-31 12:17] Desmis commented on #3790
@heckflosse
How do we do, for commit and push...
I am afraid of probable conflicts, but maybe there are no risks ?

[2017-03-31 12:29] heckflosse commented on #3790
@Desmis
One solution could be to use wallfix_desmis, wallfix_flossie and wallfix_ingo branches

Edit: Btw. I just pushed

[2017-03-31 12:35] heckflosse commented on #3790
@Floessie @Desmis
I will work now on wallfix_ingo branch to avoid conflicts.
I always make one commit per compilation unit

[2017-03-31 12:38] heckflosse commented on #3790
@Floessie @Desmis
Scratch my lost post. I have to think about that first

[2017-03-31 12:59] Beep6581 commented on #3790
I don't know how messy this will get, but if you are able to confine the changes to individual files then working in the same branch and committing/pulling every time you're done with a single file would be easy and it would make this easier for others to checkout and test.

[2017-03-31 13:02] Desmis commented on #3790
I create wall_jacq and push changes for
FTblockdn.cc Edgeprervingdecomposition.cc previewimage.cc  with changes
and Pfcorrect.cc iimage.cc jdatsrc.cc imagedimensions.cc icons.cc utils.cc  - no nead changes

Now I make a pause,To be sure we work well together :)

[2017-03-31 13:07] heckflosse commented on #3790
@Desmis
I will take rawimagesource.cc, demosaic_algos.cc and fast_demo.cc now
@Beep6581
I made a commit for each single compilation unit and from now on I will also make a push for each commit

[2017-03-31 17:27] Floessie commented on #3790
@heckflosse I marked my initial three and will push to your branch.

[2017-03-31 17:32] heckflosse commented on #3790
@Floessie Oups, saw this too late. I hope my commit from now will not conflict.

[2017-03-31 17:33] Floessie commented on #3790
@heckflosse Sure it will, but I'll revert mine. :smile:

[2017-03-31 17:36] heckflosse commented on #3790
@Floessie @Desmis I will take improccoordinator.cc, simpleprocess.cc and dcrop.cc now

[2017-03-31 17:42] Floessie commented on #3790
@heckflosse How comes, there are files you listed that don't trigger here?

[2017-03-31 17:46] heckflosse commented on #3790
@Floessie You mean in my commits? In first post I just listed all compilation units of rtengine

[2017-03-31 17:49] Floessie commented on #3790
@heckflosse No, I mean, I compile them with `-Wall`, but don't get a warning...

[2017-03-31 17:51] Floessie commented on #3790
@heckflosse

Ah, that is why.

[2017-03-31 18:13] Floessie commented on #3790
@heckflosse Sorry, no time left tonight. I was working on `rtthumbnail.cc`: If we have a height or width, or a file size, shall we turn that into an unsigned or just cast the place with the comparison to signed?

[2017-03-31 18:13] heckflosse commented on #3790
@Floessie @Desmis It's really great to see the progress of this task. I expected that to take much longer. Now I think we can at least make rtengine compilation units `-Wall`-clean very soon (except dcraw.cc maybe...)

[2017-03-31 18:14] heckflosse commented on #3790
@Floessie I use unsigned when there is no subtraction. When there is a subtraction I use signed because I'm too lazy to search for possible side effects.

[2017-03-31 18:22] heckflosse commented on #3790
@Floessie Can I push some changes or do you have something on hold?

[2017-03-31 19:26] heckflosse commented on #3790
@Floessie I pushed my changes
@Desmis I also merged your changes into wallfix branch

[2017-03-31 19:27] agriggio commented on #3790
sorry to jump in this late, but if you need help let me know! also, if you
care usually clang is much more pedantic than GCC with -Wall

[2017-03-31 19:45] heckflosse commented on #3790
@agriggio the rtengine part is almost done now (at least for -Wall). But helping out for rtgui compilation units and also checking using more pedantic clang would be great :+1:

[2017-03-31 19:48] heckflosse commented on #3790
I also just started a cppcheck run...

[2017-03-31 19:49] agriggio commented on #3790
OK, I'll see what I can do

[2017-03-31 19:56] heckflosse commented on #3790
@agriggio Great :+1:

[2017-03-31 20:00] heckflosse commented on #3790
@Floessie @Desmis @agriggio @Beep6581
Shall I open a new checklist for rtgui or add it to this issue?

[2017-04-01 02:47] luisfl opened #3793 "Wavelets applying only partially"
After I processed the attached ORF file and saved it as TIFF,
the image in RT window looks more aggressively sharpened than the one saved (see crops attached taken as screenshots).
I then realized that the wavelet local contrast was applied only 'partially' in the saved version: if I disable completely the wavelet tab, the two images are identical.

Files attached in [report.zip](https://github.co

[2017-04-01 04:12] Desmis commented on #3790
@heckflosse
Ingo
I prefer a new checklist :)

[2017-04-01 04:50] TooWaBoo commented on #3793
Could not reproduce on Windows.
How did you save the image? Fast Export, Queue or Save as?

[code]

[2017-04-01 07:02] Desmis commented on #3790
@heckflosse
I have begun rtgui

No problem with : wavelet.cc, vibrance.cc
One small change to whitebalance.cc

[2017-04-01 08:09] Desmis commented on #3790
One change to colortoning.cc

No problem with retinex.cc blackwhite.cc  colorappearance.cc

[2017-04-01 08:26] Desmis commented on #3790
No problem with :
dirpyrdenoise.cc dirpyrequalizer.cc labcurve.cc rawexposure.cc tonecurve.cc
sharpening.cc sharpenedge.cc rawcacorrection.cc prsharpening.cc icmpanel.cc

[2017-04-01 08:42] teplit opened #3794 "PNG files cause crash"
The attached PNG files cause reproducible crash on three different Windows systems.

Steps to reproduce the problem:
1. Place the PNG files in an empty folder
2. Configure RawTherapee to parse PNG files
3. Open the folder from the first step with RawTherapee

RawTherapee versions: 5.0-r1-gtk3 (64 and 32 bit)
Screenshot of the error message: ![rawtherapee crash](https://cloud.githubusercontent.com/

[2017-04-01 09:41] Beep6581 commented on #3794
Reproduced in Linux.

[2017-04-01 10:26] heckflosse commented on #3790
Here's the checklist for rtgui:

- [x] editwindow.cc
- [x] batchtoolpanelcoord.cc
- [x] paramsedited.cc
- [x] cropwindow.cc
- [x] previewhandler.cc
- [x] previewwindow.cc
- [x] navigator.cc
- [x] indclippedpanel.cc
- [x] previewmodepanel.cc
- [x] filterpanel.cc
- [x] exportpanel.cc
- [x] cursormanager.cc
- [x] rtwindow.cc
- [x] renamedlg.cc
- [x] recentbrowser.cc
- [x] placesbrowser.cc
- [x] filep

[2017-04-01 10:42] agriggio commented on #3790
Can I give a shot to the files in  `rtengine`? Clang still gives me some meaningful warnings (I silenced the less useful ones). Also, what about `rtexif`? And why is `rgengine/fujicompressed.cc` not listed?

[2017-04-01 11:01] heckflosse commented on #3790
@agriggio Sure you can give it a shot :+1:
rtengine/fujicompressed.cc is not listed because currently it's not an own compilation unit.
But I agree that we should fix warnings in this one too!
rtexif also needs to be checked but I wanted to have an own checklist for it too when rtgui is completed

[2017-04-01 11:29] heckflosse commented on #3794
It crashes at thumbnail generation because rt tries to generate a thumbnail according to the thumb height set in preferences (and maybe zoom factor of thumb too). In my test it tries to generate a thumbnail of size 80640 x 84 (width x height).
Even If that would work correctly it would explode the filebrowser afterwards.
@Beep6581 @Hombre57 @Desmis @Floessie @agriggio : We have to decide how to ha

[2017-04-01 13:08] agriggio commented on #3790
rtexif is almost clean already, there's only one warning - I can fix that.

[2017-04-01 13:12] agriggio commented on #3794
would make sense to crop thumbnails that have a too big w:h ratio (say e.g >= 10:1) and of course signal this to the user in some way? what do you
think?

[2017-04-01 13:54] agriggio commented on #3790
I'm also working on `rtgui` -- I'm basically done. I'm leaving the deprecation warnings about `gdk_threads*` in `main.cc`

[2017-04-01 14:03] agriggio commented on #3790
it seems I was wrong about `rtexif`. Clang gives no warning now, but gcc shows many places in which the return values of `fread`, `read`, `fwrite` and `write` are ignored. How should we fix those though? The easy solution is to cast explicitly to `void`, should we do that or should we try to handle the possible failures?

[2017-04-01 14:47] agriggio commented on #3790
rtgui should be clean now (except for the GDK threads stuff)

[2017-04-01 16:30] luisfl commented on #3793
Saved as "Save as". But I realized something wrong was going on right when I saw the image in GIMP sent by the external editor button, before saving (I never save directly from RT anyway). So neither is working properly.

[2017-04-01 16:40] heckflosse commented on #3790
@agriggio @Desmis great :+1:

[2017-04-01 16:42] heckflosse commented on #3790
@agriggio @Floessie
Do you understand this warning?
[code]

[2017-04-01 16:57] TooWaBoo commented on #3793
Bug confirmed.
I didn't see it the first time. So I overdo Wavelet -> Contrast. (see screenshot). The Contrast setttings are ignored, not only in Tiff also in JPG.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24580711/f2c94790-170c-11e7-9ce2-151eb13b5ef1.png)

[2017-04-01 17:10] agriggio commented on #3790
my interpretation: since overflow for signed is undefined behaviour (this
is what the standard says), GCC will assume that overflow does not occur
and optimize a comparison (x - c) > x by rewriting to false. how it applies
in that context is still a bit of a mystery :-)

[2017-04-01 17:13] luisfl commented on #3793
Actually, it has nothing to do with the Saving process, since the problem is present even with the "edit in external editor" button.

[2017-04-01 17:24] TooWaBoo commented on #3793
"edit in external editor" saves the image in a temp folder and then opens the editor. Looks like "Contrast" is missing in the save processing pipeline.

[2017-04-01 17:29] agriggio commented on #3790
we have to look at the context for the above if to understand why GCC is optimizing it away

[2017-04-01 17:47] heckflosse commented on #3790
I begin to understand it. Here is one context:
[code]

[2017-04-01 18:22] heckflosse commented on #3790
I just pushed my changes and also a windows specific change (in `extprog.cc`) When this task is almost completed we should ask one of the Mac builders for a -Wall run to catch also Mac-specific warnings.

[2017-04-01 19:00] heckflosse commented on #3790
I fixed another one in rawimage.cc and one in dirbrowser.cc and also made a debug build.
Debug build also compiles fine :)

@agriggio I didn't get the warnings about unused return values you mentioned. What am I doing wrong?

[2017-04-01 19:11] agriggio commented on #3790
@heckflosse are you on Windows? the warnings are triggered by a particular
annotation on the function prototype. I suspect the annotation is specific
to glibc

[2017-04-01 19:23] heckflosse commented on #3790
@agriggio Yes, I'm on windows.

[2017-04-01 19:44] russellcottrell opened #3795 "TooWaLight-GTK3-_19"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.
[TooWaLight-GTK3-_19.zip](https://github.com/Beep6581/RawTherapee/files/887908/TooWaLight-GTK3-_19.zip)

[2017-04-01 19:53] luisfl commented on #3793
I see.
I am also trying the unstable branch

rawtherapee-unstable-5.0.r1~git.20170401.335.cd93dab9-1.2.x86_64

It has the very same bug, but also with Shadow-Highlights and Tone mapping tools.
Don't know if the stable version also omits these tools.

L.

[2017-04-01 20:02] heckflosse commented on #3793
@luisfl For tonemapping please take a look [here](http://rawpedia.rawtherapee.com/Tone_Mapping#Getting_the_preview_to_match_the_saved_image)

[2017-04-01 20:49] russellcottrell commented on #3795
I found two more items:
[TooWaLight-GTK3-_19.css.zip](https://github.com/Beep6581/RawTherapee/files/887948/TooWaLight-GTK3-_19.css.zip)

[2017-04-01 20:50] russellcottrell commented on #3795
I found two more items.
[TooWaLight-GTK3-_19.css.zip](https://github.com/Beep6581/RawTherapee/files/887951/TooWaLight-GTK3-_19.css.zip)

[2017-04-01 21:04] luisfl commented on #3793
The stable branch seems to process Tonemapping and Shadow-Highlights just fine, as opposed to the dev version. I'll stick with the stable branch then.

[2017-04-01 21:08] heckflosse commented on #3793
Can you please post more details about differences between dev and stable concerning Tonemapping and Shadow-Highlights?

Edit: I ask because latest changes to Tonemapping are made about half a year ago at least, which does not fit to differences between current dev and stable (though you didn't mention what the 'stable' version you used is)

[2017-04-01 21:38] luisfl commented on #3793
The dev version I tried, rawtherapee-unstable-5.0.r1~git.20170401.335.cd93dab9-1.2.x86_64, has the same problem that rawtherapee-5.0.r1-7.1.x86_64 has, but with Tonemapping and Shadow-Highlights instead of wavelets tab: these two tools are not applied before saving the file, so the saved version looks quite different than the one showed on RT window. It is not a problem on the algorithms or whatev

[2017-04-01 21:51] heckflosse commented on #3793
@luisfl I just tried with latest dev (cd93dab9). Both tools are applied before saving the file (in preview) here.

[2017-04-01 21:55] heckflosse commented on #3793
@luisfl Anyway. If there is an Issue with this tools (tonemapping or Shadows/Highlights) we (you) should open a new Issue instead of highjacking your own Wavelet issue ;-)

[2017-04-01 22:04] luisfl commented on #3793
It looks to me like the very same issue, but with different tools. I don't think it is necessary to open a ticket for each tool.

[2017-04-01 22:08] da-phil commented on #3767
@Floessie alright, from now on I'll work with the `idle_harder` branch and let you know.

[2017-04-01 22:13] heckflosse commented on #3793
Ok, here's a screenshot:
Left is neutral profile, right is neutral + Shadows/Highlights. Do you still claim that Shadows/Highlights is not applied in preview (before saving the file)?
![shhl](https://cloud.githubusercontent.com/assets/13733487/24582853/0e714d22-1739-11e7-8a98-5ba4e6cd3c64.png)

[2017-04-01 22:40] sguyader commented on #3793
Into, I think that what @luisfl is trying to say is that the effect is actually shown in the RT preview, but not in the saved image.

[2017-04-01 22:43] luisfl commented on #3793
Correct. This is exactly the same problem as with wavelets for the stable release.

[2017-04-01 22:44] heckflosse commented on #3793
@sguyader Ok, I will check that. But at least for Shadows/Highlights @luisfl said the opposite...

`these two tools are not applied before saving the file`

[2017-04-01 22:47] luisfl commented on #3793
No. It's always the same problem: file not saved as the RT preview window. Look (identical PP3, only SH and Tonemapping applied:

![lua_jn-170309-a_32082-stable](https://cloud.githubusercontent.com/assets/15525268/24583013/eeb8f6bc-1713-11e7-8b19-951853d88f23.jpg)
![lua_jn-170309-a_32082-unstable](https://cloud.githubusercontent.com/assets/15525268/24583014/eebb18f2-1713-11e7-817d-98b2c40afbf6.jpg

[2017-04-01 22:53] heckflosse commented on #3793
@sguyader Sébastien, can you confirm the issue?

[2017-04-01 22:53] TooWaBoo commented on #3793
@luisfl
Confirmed.
Here's an extrem example with Shadow / Highlight
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24583045/b78ed5a0-173e-11e7-9798-0cbab804ed6a.PNG)

[2017-04-01 23:05] heckflosse commented on #3793
@TooWaBoo Ok, that shows a difference. But does it show that Shadows/Highlights is not applied in preview? And does it show that we should handle it in this issue? I don't think so. That was my point.
I'm absolutely not complaining about this 'wavelet' issue and also not about the 'ShHl' issue, but we should handle each in its own issue to avoid confusion (the confusion which already happened by n

[2017-04-01 23:08] TooWaBoo commented on #3793
@heckflosse
The preview (right) is OK but the saved image (left) is wrong.
It's the same issue like the Wavelet.

[2017-04-01 23:14] heckflosse opened #3796 "Shadows/Highlights preview does not match output"
Folllow up from a [hijacked issue](https://github.com/Beep6581/RawTherapee/issues/3793).....

[2017-04-01 23:15] heckflosse commented on #3793
Please continue discussion on Shadows/Highlights [here](https://github.com/Beep6581/RawTherapee/issues/3796)

[2017-04-01 23:16] heckflosse commented on #3793
@Desmis Jacques, can you also have a look at the Issue with wavelet preview and output?

Ingo

[2017-04-01 23:34] heckflosse commented on #3793
@luisfl @TooWaBoo @sguyader I think I found it.
Can you please try with 'Fast export' set to 'Standard' ?

Seems to be a fallout of the changes of @agriggio made to 'fast export'

I apologize for that!

Ingo

[2017-04-01 23:39] heckflosse commented on #3793
Scratch my last comment. There seems to be something else... still searching...

[2017-04-01 23:47] heckflosse commented on #3793
I'm bisecting

[2017-04-02 00:03] #3796 closed, assigned to nobody

[2017-04-02 00:05] heckflosse commented on #3793
I bisected. Not to the final commit but close enough. https://github.com/Beep6581/RawTherapee/commit/209ea3533b3176444848314b1ce468dd30db938a works fine but https://github.com/Beep6581/RawTherapee/commit/518d51e8395948622a1dcaf7c991989a3e8992f4 does not.

@agriggio Please take a look!

[2017-04-02 00:12] heckflosse commented on #3794
@agriggio Currently I'm not sure about a good solution.

[2017-04-02 06:21] agriggio commented on #3793
i am looking already. wavelets are applied also when saving, but the result
is different from the preview. I am trying to understand why

[2017-04-02 06:25] agriggio commented on #3793
btw, @luisfl said he saw this already in an official release, correct? that
should exclude the fast export stuff... anyway, working on it

[2017-04-02 07:39] heckflosse commented on #3793
@agriggio try wit Shadows/Highlights. It's not applied when you save with https://github.com/Beep6581/RawTherapee/commit/518d51e8395948622a1dcaf7c991989a3e8992f4

[2017-04-02 07:43] agriggio commented on #3793
I just tried with `209ea35`, but I still see the wavelet issue. Here's a screenshot. I used the pp3 of @luisfl but I maxed out the wavelet contrast to make it clearer.
![comparison](https://cloud.githubusercontent.com/assets/11982086/24585363/b1d0a96e-1788-11e7-8c7e-3f49b9f222f4.png)

**NOTE**: I haven't looked at shadows/highlights. I thought this was a separate issue?

[2017-04-02 07:49] agriggio commented on #3793
I confirm the issue with shadows/highlights. I will look into that then, since it seems related to my stuff

[2017-04-02 07:57] Desmis commented on #3793
I try with "moon.orf"...and pp3 joined
I don't see difference between preview and Output TIFF (export in Photoshop)... :)

[2017-04-02 08:36] agriggio commented on #3793
I found the problem with shadows/highlights. I am building `dev` to test it there, and then I'll push

[2017-04-02 08:49] agriggio commented on #3793
shadows/highlights should work now. But the problem with wavelets seems to be a bit deeper. I checked and in both cases (preview and export) the wavelet parameters are the same. Could it be that the two pipelines are slightly different and we just hit a corner case in which the difference is very visible?

[2017-04-02 11:54] da-phil commented on #3777
Had another crash today:
[code]
[code]

[2017-04-02 12:14] heckflosse commented on #3793
@agriggio Fix for Shadows/Highlights confirmed. Thank you :+1:

For wavelets the pipelines are not different but there is a part which evaluates the image which in full processing is the whole image but in preview is only a part of the image.
It's [this part](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipwavelet.cc#L1390).
This can only be solved if we use the values from improccoord

[2017-04-02 12:24] agriggio commented on #3793
@heckflosse I was suspecting something like that, but wasn't sure
since I don't know the wavelets code. if you want to go no problem for me.
alternatively, if you feel like mentoring, I can try to do it with your
advice -- but it might take longer...

[2017-04-02 12:33] heckflosse commented on #3793
@agriggio The principle should be easy: Pass the evaluated values back from ip_wavelet to improccoordinator.cc and save them in some new instance variables to have them available in dcrop.cc for the ip_wavelet call. Use them there instead of evaluating again.
Do all this only if `params->wavelet.Tilesmethod == "full"`
This 'bug' is so old that it doesn't matter if it takes a bit longer to fix it.

[2017-04-02 12:59] agriggio commented on #3793
:+1:, I'll give it a try then!

[2017-04-02 13:16] luisfl commented on #3793
This is correct. I observed that the tool is applied, but only partially, in a "weak" way.

[2017-04-02 13:20] heckflosse commented on #3793
@agriggio I did something similar for denoise_info some time ago. Search for `denoiseInfoStore`

[2017-04-02 13:27] luisfl commented on #3793
The S/H tool problem was in the stable release. The wavelets, in the unstable. However, I just downloaded the unstable 5.0-r1-gtk3-335-gcd93dab9, and it has problems in the S/H too. So cd93dab9 has problems in both tools: they are applied partially.

Just to be sure, I checked the Tonemapping tool, that I suspected it has problems too, but it works as it should in both the stable and unstable rele

[2017-04-02 13:36] heckflosse commented on #3793
@luisfl

I expected it to be vice versa...

[2017-04-02 13:39] luisfl commented on #3793
Yes, sorry, you are right. But now the unstable has problems in both tools.

[2017-04-02 13:55] heckflosse commented on #3793
@luisfl
@agriggio fixed the shadows/highlights problem in 3a90374d599c56a19155488d0ff312b776f77e7e

[2017-04-02 15:56] heckflosse opened #3797 "Crash when switching between raw and tif"
To reproduce

1. copy both images from [here](https://filebin.net/qf4hfomif5husmze) into a new folder
2. open folder in rt
3. open IMGP0569.dng
4. open imgp0569.tiff
5. repeat step 3. and 4. until it crashes

I already tried using idle_harder branch. There it also crashes.
I tried to get a backtrace in Debug mode but get only
[code]
I also got this in console sometimes:
[code]

[2017-04-02 15:57] TooWaBoo commented on #3794
A "Bounding Box" like in the "Resize" tool would be the best solution.

[2017-04-02 17:37] heckflosse commented on #3790
I pushed fixes for myfile.h and fujicompressed.cc

[2017-04-02 21:01] agriggio commented on #3793
@heckflosse I tried to implement your proposed solution, but I'm probably doing something wrong because I see no difference. I'm attaching the current patch (warning: very crude :-)
If you have any feedback, it's more than welcome!
[improccoordinator-save-wavelet-params.patch.txt](https://github.com/Beep6581/RawTherapee/files/888670/improccoordinator-save-wavelet-params.patch.txt)

[2017-04-02 21:03] heckflosse commented on #3793
@agriggio I will try your patch tomorrow

[2017-04-02 21:25] Hombre57 commented on #3794
Yes, a customable bounding box large enough to display panoramas without going into extreme width.

[2017-04-03 06:37] Desmis commented on #3793
@agriggio <https://github.com/agriggio>
I just tested your patch :)

As you I see no differences.
Pipelines for RT and wavelets are complex !

Perhaps (I have not verified in detail your patch) others ways :
1) for denoise, we have implanted in dcrop.cc an other complex solution,
but not perfect
2) in this case (the moon and crop), how realy works wavelets : at level 7
it's a square 128 * 128, and

[2017-04-03 08:06] Floessie commented on #3790
Here's my minor contribution:
[rtthumbnail.patch.txt](https://github.com/Beep6581/RawTherapee/files/889321/rtthumbnail.patch.txt)

Sorry, but my weekend was unexpectedly busy, and so will be the next two weeks. But you all did a fantastic job! :+1:

[2017-04-03 08:23] agriggio commented on #3793
@Desmis thanks for the feedback! I admit I still don't understand the flow completely, but I'm starting to believe that it will be necessary to work on the whole full-resolution image in order to have an accurate preview for the wavelet tool. Am I wrong?

[2017-04-03 08:37] Desmis commented on #3793
@agriggio
Full image ? probably... it's that we done for Retinex !
But is it necessary, and it's complex to do, and w'll slow process.
jacques

[2017-04-03 08:46] agriggio commented on #3793
@Desmis yes, I understand your concerns. But I'd say that slow is better than inaccurate, since the whole point of the 1:1 preview is to see accurately what is going on :-) Of course, we should try to minimize the need of this full-processing, and only do it when absolutely necessary. This seems to be the case for the contrast tool in wavelets. Is it true also for other wavelet steps? Also, am I r

[2017-04-03 09:29] Beep6581 commented on #3777
@da-phil always state which version you're using. The dev branch changes every day and reporting a bug without stating the version, leaving the devs guessing whether you're still on the same version as you were 8 days ago or whether it's today's version, leads to wasted time.

[2017-04-03 09:31] Beep6581 commented on #3797
Reproduced using (neutral) for both and using F3/F4 to switch.

[2017-04-03 09:37] Beep6581 commented on #3793
I use wavelets a lot and have never had an issue with the preview (zoomed to fit) not matching the saved image. I use only the Edge Sharpness, Residual Image and Final Processing sub-tools, so these at least seem to not require full-resolution processing.

[2017-04-03 09:37] Floessie commented on #3777
@Beep6581 He's on `idle_harder`.

@da-phil Thanks for the report. So there's another problem than the one fixed by `idle_harder`.

[2017-04-03 09:39] Beep6581 commented on #3794
There is already a discussion about File Browser thumbnail improvements with ideas and mockups over at issue #1239.

[2017-04-03 09:51] Beep6581 commented on #3797
[log1.txt](https://github.com/Beep6581/RawTherapee/files/889615/log1.txt)
[log2.txt](https://github.com/Beep6581/RawTherapee/files/889614/log2.txt)
[log3.txt](https://github.com/Beep6581/RawTherapee/files/889616/log3.txt)

[2017-04-03 09:59] Floessie commented on #3797
[code]

[2017-04-03 10:01] agriggio commented on #3793
I also have never had an issue with wavelet denoising. Sometimes I also use contrast, but never noticed anything strange there as well. That's why I was also suspecting that the picture of @luisfl hits some sort of corner case...

[2017-04-03 10:19] heckflosse commented on #3797
@Floessie Fix confirmed. Thank you :+1:
I shouldn't make changes to gui code ...
Will you commit it?

[2017-04-03 10:42] Floessie commented on #3797
:smile:

No, I'm behind a firewall atm. Feel free to push.

[2017-04-03 10:44] heckflosse commented on #3793
@agriggio I think I found a bug in your patch.
Shouldn't you skip also the evaluation of madL when evalparams->evaluate == false ?
I mean the loop which starts in line 875 of ipwavelet.cc

Edit: No, you don't have to skip it, but you can skip it.

I think I found another thing we should evaluate only once for the whole image, checking...

[2017-04-03 10:44] Beep6581 commented on #3797
Fix confirmed.

[2017-04-03 10:55] Desmis commented on #3793
Excuse my very bad english, I am an "old french man" :)

I never had problem with that, only in some cases (grey images), the
feeling that there are differences between preview and output . But if I
used "mesure" either with Photoshop (pipette), either with RT on preview
(pipette or Hombre tools), the differences are very tiny or no differences.

In this cas (moon), Is not it just a difference in

[2017-04-03 11:04] heckflosse commented on #3793
@agriggio line 1710 to 1759 and 1773 to 1775 of ipwavelet.cc should also be evaluated only for whole image. Place a printf("%f\n",ave); in line 1776 and compare the values of 1:1 preview and full processing to see the large differences.

[2017-04-03 11:06] heckflosse commented on #3793
@Desmis
Jacques, I also don't think this is a big problem, but if we can solve it we will also save a bit of processing time in preview as a bonus ;-)

[2017-04-03 11:21] Desmis commented on #3793
Ingo

You are true :)

[2017-04-03 11:23] heckflosse commented on #3793
@agriggio @Desmis Here's a screen shot (made with current patch) which clearly shows the different output. The area you see is obviously the same in both cases but the detail window output is completely different because it calculates a different average and so on.
![moon00](https://cloud.githubusercontent.com/assets/13733487/24607078/683a57bc-1870-11e7-9688-ac6e7d2d5c9f.png)

To reproduce just us

[2017-04-03 11:23] agriggio commented on #3793
@heckflosse thanks for the review, I'll revise my patch and upload a new version. Or better, I'll create a branch :-)
@Desmis I haven't seen such big differences in my images, but the screenshot above shows that in extreme cases there can be some significant ones. I don't know what is the exact technical reason for the difference, but the saved moon image seems way less "contrasty" than the previe

[2017-04-03 11:30] heckflosse commented on #3793
@agriggio The screenshot above does not show the saved moon. It shows the 1:1 preview of the raw and the same 1:1 preview area in a detail window. This way you can also test without saving the image ;-)

[2017-04-03 11:36] Desmis commented on #3793
Ingo

Your screen shot is a good example, very small differences in normal use,
but significantly differences in extreme case :)
Thank you for this highlighting!

jacques

[2017-04-03 11:40] IainMF commented on #3792
I am happy to answer questions about the moire reduction. I thought here would be better than in the forum at pixls.us.

[2017-04-03 11:58] #3797 closed, assigned to nobody

[2017-04-03 14:52] luisfl commented on #3793
Well... not really for extreme cases only. Of course I didn't have to bump the local contrast so much to realize that the saved version was different from the RT window version. It was just a bit. I was satisfied with the RT version but not with the GIMP version, I wondered why, compared the images, and bingo. Small difference, but enough to not be satisfied.

[2017-04-03 15:19] heckflosse commented on #3790
@Floessie I included your patch.

I also fixed some warnings in dcraw.cc and disabled the remaining ones in dcraw.cc and main.cc
There's one windows specific warning left
[code]
but I can ignore that ;-)

Finally I added `-Wall` to `CMAKE_CXX_FLAGS`

@agriggio @Desmis @Floessie Thanks a lot for the fantastic teamwork :+1:

[2017-04-03 15:51] Beep6581 commented on #3790
I merged `dev` into `thewall` and compiled using GCC 4.9.3. Results here: https://filebin.net/jzhbtxpi2d8xab93/rt_log.html

[2017-04-03 16:00] heckflosse commented on #3790
@Beep6581 Ah, yes. This are the warnings @agriggio mentioned above which I don't get on windows.

[2017-04-03 16:05] heckflosse commented on #3790
@Beep6581 I don't get this one:
[code]
Maybe because I'm on gtk 3.18? I'll build on Sabayon now

Edit: It's because I use 3.18
[code]

[2017-04-03 16:14] heckflosse commented on #3790
@Beep6581
[code]
Is not reported by gcc 5.3.0. I checked the code and it is indeed a false positive. I can fix it nevertheless.

[2017-04-03 16:27] agriggio commented on #3793
I just pushed a new branch `wavelet-contrast-accurate-preview` (commit 079c4f2) with an experimental fix for the "bug".
The code now uses a full-res preview in `ImProcCoordinator` if the wavelet contrast tool is enabled. The slowdown is quite visible (but you only pay for it if you use wavelet contrast and ask for a 1:1 preview), but at least what you see should be accurate.
Testing, comments and

[2017-04-03 16:35] Beep6581 commented on #3790
4.9 seems to be still supported: https://gcc.gnu.org/develop.html

[2017-04-03 17:01] gaaned92 commented on #3790
I compiled wallfix branch with following parameters
[code]
gtk3.22.10

I get following warnings

[https://filebin.net/cawwtufd2pdt5foz/logfile.html](https://filebin.net/cawwtufd2pdt5foz/logfile.html)

[2017-04-03 17:26] heckflosse commented on #3790
@gaaned92 Thanks for reporting :+1: I will fix them now.

[2017-04-03 17:57] Desmis commented on #3793
@agriggio

I just tested  this new barnch, the result is quasi perfect :)
There are others features that involve "contrast" in another way : Denoise and refine, Edge sharpness, Final touchup

What to do ?

jacques

[2017-04-03 19:03] heckflosse commented on #3790
@Beep6581 @gaaned92
I just pushed some fixes for the warnings you reported.
As I didn't get these warnings using gcc 5.3 I need your tests again :)

[2017-04-03 20:17] Hombre57 commented on #3687
`rt-cli` removed from the roadmap as discussed on IRC with @heckflosse and @Beep6581 . It'll be part of 5.2.

[2017-04-03 20:22] Beep6581 opened #3799 "Roadmap for 5.2"
This is a roadmap for RT5.2.

ETA 2017-07-23

- [x] Speedup for Microcontrast tool #3867
- [x] GIMP plugin #3880
- [x] macOS issues #3882
- [x] Windows crashes #3901
- [x] Large memory leak #3908
- [x] KLT choice between system and shipped #3912
- [x] RT crashes in METM when a lot of Editors are opened #3937
- [x] Monitor and printer ICC color profiles missing #3941
- [x] new feature: open images

[2017-04-03 20:34] agriggio commented on #3793
@Desmis thanks for testing! in principle we can adapt the same solution to
other wavelet steps if needed. however I would make this an option (under
the performance tab) to let users decide their tradeoff accuracy/cost. for
example for the moon picture already using a 50% zoom produces a close
enough preview for me. what do others think?

[2017-04-03 20:38] heckflosse commented on #3793
@agriggio Let me try to optimize it. Then we will have a better base for a decision.

[2017-04-03 20:44] agriggio commented on #3793
@heckflosse sure, go ahead! and thanks :+1:
as usual, my performance metric was the number of lines of the patch ;-)

[2017-04-03 20:49] heckflosse commented on #3793
;-)

[2017-04-03 21:01] heckflosse commented on #3793
@agriggio I will try to do that tomorrow but can't promise that

[2017-04-03 21:07] agriggio commented on #3793
no problem, no hurry for me

[2017-04-03 21:22] Beep6581 commented on #3790
It builds without warnings using GCC 4.9.3, and the build works well. Identical output to dev branch if S/H is turned off.

[2017-04-03 22:30] heckflosse commented on #3790
Also builds without warnings on my Sabayon system now :)

[2017-04-04 05:06] Desmis commented on #3793
@agriggio

I think, since we decided to work in "full image" that we must go to the end of the reasoning.
I think that many users do not use other headings than "contrast", because: 1) the others softwares have only this heading; 2) the documentation - which I have produced - is in French.
But when you master wavelet completely, the rubric that one will probably use least is "contrast".
I would li

[2017-04-04 06:50] gaaned92 commented on #3790
two warnings here see [https://filebin.net/n7phivbsq6fn3mau/logfile1.html](https://filebin.net/n7phivbsq6fn3mau/logfile1.html)

[2017-04-04 07:49] agriggio commented on #3793
@Desmis if you can help me identifying the parameters that affect the other wavelet steps, I can try generalizing the solution used for contrast.
In the meantime, I pushed another changeset to `wavelet-contrast-accurate-preview` that lets the user select the tradeoff accuracy/performance. There's a new option in the performance tab of the preferences dialog, see the screenshot attached.
![wavelet-

[2017-04-04 07:51] agriggio commented on #3790
A couple of further warnings that I'm seeing here (gcc 6.2.0):

[code]

[2017-04-04 08:09] agriggio commented on #3687
Hello @Hombre57 (and others), will the command-line flags be restored in the normal `rawtherapee` executable until `rt-cli` is ready? I think not having that would be a significant regression...

[2017-04-04 10:51] Hombre57 commented on #3687
Well spotted! I'll finally have to have a look this evening.

[2017-04-04 11:19] Desmis commented on #3793
@agriggio
These are the same parameters: mean, sigma, etc.
But, with the various possible links: chroma link, denoise and refine link, all modules where decomposition intervenes, are concerned ..
jacques

[2017-04-04 12:05] agriggio commented on #3793
@Desmis do you have some examples (RAW+pp3) that show a difference in preview vs exported image for the other wavelet steps? That would help me understand what we are looking after... I tried with some extreme settings for edge sharpness but the preview looks accurate to me already (in my branch `wavelet-contrast-accurate-preview`)
![edge-sharpness](https://cloud.githubusercontent.com/assets/11982

[2017-04-04 12:14] Beep6581 commented on #3793
Off-topic, but... Could such a solution also be implemented for Tone-mapping? That's one tool which users like to turn up high, and then are disappointed when the saved image looks nothing like the preview.

[2017-04-04 12:17] agriggio commented on #3793
@Beep6581 I thought that tone mapping was already accurate when the preview is 1:1, am I wrong? Perhaps I never noticed anything strange because although I use tone mapping a lot, I always try to be conservative in my settings... do you have examples of mismatch?

[2017-04-04 12:43] heckflosse commented on #3790
I pushed a fix for another two warnings.
@agriggio I don't know how to fix the warning in `gaussVertical`
@gaaned92 I think I can not fix this note:
[code]

[2017-04-04 13:02] agriggio commented on #3790
@heckflosse this "fixes" it here:

[code]

[2017-04-04 13:06] agriggio commented on #3790
Actually, this is probably better (if it can happen that `W+1 < numcols`):

[code]

[2017-04-04 13:08] heckflosse commented on #3790
@agriggio
Let's hope that always W >= numcols -1 ;-)

[2017-04-04 13:08] heckflosse commented on #3790
@agriggio you've been faster :+1:

[2017-04-04 13:26] Beep6581 commented on #3793
@agriggio I can confirm that in dev the 100% preview (and 100% detail windows) are accurate, but the preview is not accurate when zoomed-to-fit. It is the zoomed-to-fit preview which is often necessary when using tone mapping.

[2017-04-04 13:53] heckflosse commented on #3793
@agriggio I found a bug

1) open image and enable wavelets and wavelet contrast => preview is in slow but accurate mode, good!
2) disable wavelet or contrast in wavelet => preview stays in slow but accurate mode.

Another downside of the slow but accurate mode is, that now also per-pixel functions are executed for the whole image which slows them down a lot. Activate the `#define BENCHMARK` in lin

[2017-04-04 14:01] agriggio commented on #3793
@heckflosse, thanks for testing!

what do the console messages say? You should see something like this:

[code]

Where the last line was printed immediately after switching off wavelets... it seems to be working here.

Yes, that's expected. I don't know how to easily work around that... slow really means slow :-)

My current workaround is to use a 50% image instead of a 100% one by setting the new

[2017-04-04 14:05] agriggio commented on #3793
@Beep6581

then unfortunately this approach is not applicable in that context I'm afraid. Using the full image when the preview is not 1:1 would slow things down too much IMHO

[2017-04-04 14:25] heckflosse commented on #3793
@agriggio The last line is indeed `CHANGE FULL RES: 0` but if You change for example exposure after disabling wavelet you will see that it takes longer than in non accurate mode. As I wrote, activate the `#define BENCHMARK` for the timings. You can also see it when panning around because the pan background stays full resolution when the new option in preferences is set to 100%

[2017-04-04 14:36] agriggio commented on #3793
@heckflosse yes, you are right. Sorry, I didn't check carefully enough :-/
Should be fixed now if you update

[2017-04-04 14:48] heckflosse commented on #3793
@agriggio Fix confirmed :+1:

[2017-04-04 14:53] agriggio commented on #3793
@Beep6581 for tone-mapping, can the workaround described in rawpedia (manually adjust the scale IIRC) be incorporated into the code and applied automatically?

[2017-04-04 15:32] Desmis commented on #3793
@agriggio

No I do not have any, but, reminder, before I saw no differences for the general case.

For the other cases, it is necessary to know that for "edge sharpness", and "denoise refine",
one uses only the 4 first levels but with a differentiation and important values for each level of contrast.

There are many possible combinations in "edge sharpness", from micro-contrast to sharpening with

[2017-04-04 18:37] Beep6581 commented on #3793
@agriggio

The consensus among people who ask about this is that this would be acceptable if it was a preference option. Personally I would prefer a button which renders a high quality preview when pressed - can't find the issue for that, I'm not sure there is one.

Unfortunately the workaround was not true, and I removed it from RawPedia a week ago or so.

[2017-04-04 19:24] heckflosse commented on #3790
@agriggio I pushed your fix for gauss.cc

[2017-04-04 22:06] iliasg commented on #3792
@IainMF Iain congratulations for the moire mitigation filter. Very usefull as cameras with aa filter tend to eclipse ..

As I've only seen a sample on grey (constant hue) pattern .. may I ask how your algorithm behaves on color patterns like https://www.dpreview.com/reviews/image-comparison?attr18=lowlight&attr13_0=canon_eos5dsr&attr13_1=fujifilm_gfx50s&attr13_2=nikon_d810&attr13_3=hasselblad_x1d&

[2017-04-04 22:37] mandree opened #3800 "[PATCH] rtexif: add Lens ID2 for new Sony FE 85/1.8"
RawTherapee (up-to-date Git dev branch) misdetects the Sony FE 85/1.8 lens (shipping since mid March 2017 only) on the Alpha 7 series cameras as though it were the Zeiss Batis 85/1.8 OSS lens instead.

Minimal patch to correct that at https://gist.github.com/mandree/f175a1411c8d0d7a747e0a55298c77e9

[2017-04-04 23:10] mandree commented on #3800
A general comment, do we really need to list all that stuff with the bogus 6553 and 65535 LensIds? Especially so that ID2 becomes effective at all?

And while we're at it, we don't we just use the LensModel or LensSpec tags?
Some cameras apparently write plain text into a tag - this is from `exiftool -s -G -H` which looks pretty reasonable to me:

[code]

[2017-04-05 01:51] IainMF commented on #3792
There is not much improvement with my algorithm.

![colour target examples](https://cloud.githubusercontent.com/assets/20469908/24685985/22ffdeec-1a05-11e7-8bc4-a069b744a8e2.png)

However, the algorithm depends on the quality of the initial horizontal and vertical demosaicing steps and using a better colour interpolation for those steps gives better results.

Edit: I should add that it does not re

[2017-04-05 06:30] Desmis commented on #3793
@agriggio

The choice between all these propositions is difficult, and reminder, we lived without for a long time.
I think a **button in "wavelet" that would activate "full image" for all wavelet processes** would be an acceptable solution, even if the slowdown would be significant (2 to 5 seconds or more depending on the machine, image, number of levels, ...)

[2017-04-05 10:11] Beep6581 opened #3801 "Adopt libexiv2 or ExifTool for metadata handling"
Metadata handling in RawTherapee is far from optimal. I rip out and process chunks of metadata from ExifTool and manually merge them into the rtexif/* files. This is tedious and error prone, and in all the years that RT has been open-source I'm the only person to have done that. This issue is to adopt libexiv2 or ExifTool to outsource our metadata handling needs. Although this will initially take

[2017-04-05 10:18] Beep6581 opened #3802 "Update rtexif with ExifTool 10.49"
I will update `rtexif/*` with ExifTool 10.48.

The proper long-term solution is #3801 - outsource to libexiv2 or ExifTool.

[2017-04-05 10:19] Beep6581 commented on #3800
Thank you for the patch. I will merge your patch once `wallfix` is merged into `dev`. I hope to find time to include #3802 in RT5.1.

[2017-04-05 10:26] #3790 closed, assigned to nobody

[2017-04-05 11:58] #3800 closed, assigned to Beep6581

[2017-04-05 12:25] ertyz opened #3803 "Olympus TG-4 wrong distortion in raw"
I've got problems with distortion in raw on my Olympus TG-4 camera. Only Adobe (Photoshop/Lightroom) and brand Olympus Viewer software can show me correct result.

There is the samples:
That is Olympus jpeg (correct): http://pasteboard.co/Cn6bL8XF.jpg
That is Adobe version (correct): http://pasteboard.co/CoLK1K1t.jpg
That is RawTherapee 5.0 (incorrect): http://pasteboard.co/CE4J3IEe.jpg

Also, dcr

[2017-04-05 12:47] Beep6581 commented on #3803
@ertyz http://rawpedia.rawtherapee.com/Lens/Geometry#Lens_Correction_Profile

[2017-04-05 12:47] #3803 closed, assigned to nobody

[2017-04-05 16:18] agriggio opened #3804 "colour balance differences​ between thumbnail and main preview"
the code that computes the colour balance (white and black levels, awb,...) for thumbnails is slightly different from that used for the editor window. in some cases, this causes very visible output differences. example and a couple of proposed patches (that probably still need some work) at https://discuss.pixls.us/t/thumbnails-turn-pink/

[2017-04-05 16:38] heckflosse commented on #3804
@agriggio Alberto, thanks for opening an Issue about that :+1:
I think, before we open a file in editor we can't get correct Auto WB information without increasing initial processing time of thumb generation. When the thumbs are generated the first time, approximative Auto WB values are written to the cache file.
What we could do, is to update the cache file with correct values when the image is o

[2017-04-05 16:45] iliasg commented on #3804
Ingo, I think we first have to establish correct use of black level in thumbnails code .. the wrong black level (which also results in wrong white level) is a serious reason for innaccurate WB calculations

[2017-04-05 17:00] heckflosse commented on #3804
@iliasg I agree. But the wrong black level in thumbnail code deserves an own Issue as well.
btw: I think this is also a good image to test auto WB : http://www.rawtherapee.com/shared/test_images/nikon_d80_wb.nef

[2017-04-05 17:07] agriggio commented on #3804
@heckflosse @iliasg it's still unclear to me why rtthumbnail uses its own way of determining the colour levels instead of using the code in `rawimagesource`. is there some good reason or is it just a matter of refactoring the code?

[2017-04-05 17:20] heckflosse commented on #3804
@agriggio I think it's a matter of refactoring the code.

[2017-04-05 17:22] agriggio commented on #3804
@heckflosse great, then I can give it a try :-)

[2017-04-05 17:26] heckflosse commented on #3804
@agriggio absolutely :+1:
btw: I don't want to hijack this issue but there are cases in dcraw code where black is already subtracted from maximum and other cases where it's not subtracted ...

Edit: At least if I understand dcraw code correctly, which is not so easy...

[2017-04-05 17:44] agriggio commented on #3804
@heckflosse that's not hijacking, that's in fact the reason why I want to
make sure thumbnails and editor use the exact same code for this: we want
them to agree, and to fix bugs only once when they arise :-)

[2017-04-05 17:59] iliasg commented on #3804
For a start we have to add a camconst item because Dcraw's white Level is innaccurate

[code]
But even after correcting WL in camconst.json (BL is always correct at 0) the pink thumbnail remain !!.

@heckflosse
As about WB .. shouldn't we use the median calculation in all autoWB instances ?. This will save us from problems with Black or White clipped pixels which shift the result of average calcul

[2017-04-05 18:16] heckflosse commented on #3804
@iliasg

That's worth a try at least :+1:

[2017-04-05 20:54] iliasg commented on #3804
I experimented a bit with nikon_d80_wb.nef ..
As Agriggio wrote, looks like the thumbs code use it's own scale_colors and by this it's using the "As Shot WB" instead of RT's raw_autoWB.
But this specific sample happens to be a "UniWB" shot (all WB multipliers manually set to almost equal to 1.0), so RB values which would be over the White Level with  a normal camera WB or autoWB are now kept in_ra

[2017-04-05 20:55] agriggio commented on #3804
So, I gave it a shot... this patch tries to make the thumbnail code use the scaling coefficients and black levels that `RawImageSource` uses, more or less. Refactoring the code to share more seems to be tricky, so I went for the easy route :-)
If my understanding of the code is correct, `RawImage::get_colorsCoeff` should compute the correct coefficients, so that we can then apply the scaling "by h

[2017-04-06 07:09] Floessie commented on #3804
Here are two implementations for `scale_colors()` (should be `scaleColors()`) that don't need a `reinterpret_cast` (*shiver*):

[code]

The first one yields smaller code, the second one is more accurate.

Best,
Flössie

[2017-04-06 07:50] agriggio commented on #3804
Thanks @Floessie :+1: , I've integreated your second version.

Btw:

No, it shouldn't. In fact, `writingCamelCaseForFunctionNames` should be considered illegal, sinful, almost as bad as not wrapping lines to 80 characters :smile: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_winking_eye:

[2017-04-06 09:24] vadimcro opened #3806 "Fujifilm GFX 50S raw crop offset"
RAF files imported from GFX-50s get a "shift" left, resulting in cropped left-side of the image and added black frame that carries no information to the right of the file. same JPEG file imports fine. At first the previdw shows the full image, but in the editor the RAF gets shifted and cropped. It happends upon load,
before any editing is applied.

![rt](https://cloud.githubusercontent.com/assets/

[2017-04-06 09:28] Beep6581 commented on #3806
@vadimcro please upload a sample raw file using https://filebin.net/

[2017-04-06 09:33] vadimcro commented on #3806
Here you go...
https://filebin.net/tx8n4grxn99ri0xz/VGFX0131.RAF

[2017-04-06 09:33] heckflosse commented on #3806
https://github.com/Beep6581/RawTherapee/commit/3bf98847f25e3a7e3fcbf27487fcd5bfd006bfbb

[2017-04-06 09:49] agriggio commented on #3687
@Beep6581 is there a standard release process that you usually follow? E.g. freezing the `dev` branch, advertising release candidates on the forum and so on?

[2017-04-06 10:04] Beep6581 commented on #3806
I confirm with your file and with one from http://www.imaging-resource.com/PRODS/fuji-gfx/fuji-gfxA7.HTM that it works fine in the latest dev.

[2017-04-06 10:04] #3806 closed, assigned to nobody

[2017-04-06 10:09] agriggio commented on #3799
@Beep6581 how about the "high quality no matter what" button you mentioned in #3793 ?
Seems like a good idea to me.

[2017-04-06 10:24] Beep6581 commented on #3687
@agriggio does this sufficiently answer your question? https://github.com/Beep6581/RawTherapee/issues/3660#issue-204957934

[2017-04-06 10:35] agriggio commented on #3687
@Beep6581 thanks for the pointer! It answers most of my question :-)
I still have a doubt about what you consider to be "sufficiently tested" to go into `dev`. I understand that the general answer is "it depends", but specifically I'm wondering what to do with the open active branches we have now. More concretely:

- `denoise_uniform` (has been around for a long time)
- `thumbnail-black-white-leve

[2017-04-06 10:36] agriggio commented on #3687
BTW: perhaps that comment should also go to rawpedia, what do you think?

[2017-04-06 10:50] vadimcro commented on #3806
Thanks for pointing out the issue with JSON file.
It fixed the issue.
Json file that comes with downloadable stable Branch: 5.0-r1-gtk3 for 64bit win system did not contain
the lines of GFX-50s. Could you please check and tend that the JSON file would be updated in the stable compiled release?
Thanks a lot!

[2017-04-06 11:03] Beep6581 commented on #3678
@ion12 @Partha1b  new branch [osxbuild](https://github.com/Beep6581/RawTherapee/tree/osxbuild)

Fixed.

I see no patch, and I have no file called `cairo-scaled-font.c` on my system. If this is still required, please provide the patch and describe which package and version it applies to.

[2017-04-06 11:08] Beep6581 commented on #3806
@vadimcro 5.0-r1 has been released and will not be changed. The added support for the Fujifilm GFX 50S is available in dev builds and will be part of RawTherapee-5.1.

[2017-04-06 11:10] heckflosse commented on #3804
@agriggio May I push a 3x speedup for scale_colors for bayer files or shall I post a patch?

[2017-04-06 11:13] vadimcro commented on #3806
Thanks for the info!
Eager for future releases!
Great Software with enormous potential!

[2017-04-06 11:13] agriggio commented on #3804
Go ahead! no need to ask :-)

[2017-04-06 11:18] heckflosse commented on #3804
Ok, pushed. I placed a BENCHFUN in scale_colors so you can verify. In my test processing time for scale_colors went down from 180 ms to 55 ms. Something similar is also possible for xtrans files.
Edit: of course it blows up the code a bit...

[2017-04-06 12:57] heckflosse commented on #3804
@agriggio Do you have unpushed changes on hold or can I try to speedup the xtrans case as well?

[2017-04-06 12:58] agriggio commented on #3804
go ahead!

[2017-04-06 14:18] heckflosse commented on #3804
@agriggio I pushed the speedup for xtrans files

[2017-04-06 14:27] heckflosse commented on #3806
@vadimcro fyi: 5.1 will also open compressed files from GFX 50S

[2017-04-06 15:35] Desmis commented on #3793
Off topics - I just updated "newwaveletgtk3" with "dev" - no change in code since 9 months.
Recall : sharp-mask and clarity, Retinex in wavelet,  merge files (hdr, style,...)

Jacques

[2017-04-06 16:02] agriggio commented on #3788
Fix in 633af0b (branch `lcp-parser-fix-xml-handle-text`). As usual, I went for the smallest patch (the LCP code would benefit from a general cleanup, but that's a separate issue). Please test, thanks!

[2017-04-06 16:47] heckflosse commented on #3804
@agriggio As dcraw::scale_colors() is not used anymore, what do you think about this patch?
[code]

[2017-04-06 17:07] heckflosse commented on #3687
@agriggio :+1: for adding `thumbnail-black-white-levels` and `ipwavelet-heap-buffers`

[2017-04-06 17:54] heckflosse commented on #3687
I added #3804 to the roadmap

[2017-04-06 18:15] agriggio commented on #3804
:+1:

[2017-04-06 21:55] heckflosse commented on #3804
@agriggio I removed dcraw::scale_colors() and pushed

I think that's a good point to merge your branch because it solves a serious issue with thumbnail rendering and also the generation of the thumbs from raw is faster than in den branch now. Do you agree?

We can continue with improvements to AutoWB then.

Ingo

Edit: of course we have to disable the stopwatches before merge

[2017-04-06 22:06] Partha1b commented on #3678
@Beep6581 The file cairo-scaled-font.c is part of the cairo package. When I checked that, I commented out the assert statement which was throwing up unnecessary segfaults in some cases.

[2017-04-06 22:13] heckflosse commented on #3678
@ion12 @Partha1b There are some reports about latest MacOS builds being slow. Now I read about asserts which usually are only enabled for Debug builds. Can it be that latest MacOS builds have been debug builds?
If not, we should try to find the reason for slowness of the builds.

Ingo

[2017-04-06 22:41] Partha1b commented on #3678
@heckflosse & @Beep6581
I have not seen the reports. Probably because I was not copied on them. 😦

My builds are release builds, not debug. However, you have to note that we are required to build the MacOS version for a generic processor while I am not aware of any non-intel Mac hardware running 10.9 or higher. It should speed up if we build at least for 64-bit intel processors.

cc: @ion12

[2017-04-06 22:48] heckflosse commented on #3678
@Partha1b

I would appreciate that!!!

[2017-04-06 22:59] heckflosse commented on #3678
@Partha1b If someone, including me possibly, required you to make generic builds, there may be a misunderstanding.
Of course we don't want builds which are made for a certain CPU because these builds will crash when run on a different cpu. But a generic x86 and a generic x84/64 build are different worlds. A generic x86/64 build will enable SSE2 by default which performancewise is way better than a

[2017-04-06 22:59] da-phil commented on #3767
@Floessie so far so good, didn't see any of those crashes anymore! well done!

[2017-04-06 23:03] da-phil commented on #3777
@Beep6581 sorry that I didn't update my version statement, @Floessie was right, I'm on `idle_harder` branch currently to test a fix.
here is my current version:
[code]

[2017-04-06 23:05] Partha1b commented on #3678
@heckflosse I should continue to git pull from the dev branch, correct?

[2017-04-06 23:08] heckflosse commented on #3678
@Partha1b Yes, of course. Though the branch has no influence on the target of your builds.

[2017-04-06 23:09] Partha1b commented on #3678
@heckflosse Merely making sure that I don't pull "obsolete" branches. 😄

[2017-04-06 23:09] heckflosse commented on #3767
Maybe we should add this fix to the rt 5.1 roadmap :)

[2017-04-06 23:10] heckflosse commented on #3678
:)

[2017-04-06 23:24] heckflosse commented on #3678
@Partha1b If you want to verify that you are making builds with SSE2 support insert
[code]
after the
[code]
in line 246 of rtengine/amaze_demosaic_RT.cc

If the build fails it's a non SSE2 build

Ingo

[2017-04-07 02:11] Partha1b commented on #3678
@heckflosse No build failure. So I am building SSE2 build.

[2017-04-07 06:00] agriggio commented on #3804
:+1: for me, I'll merge in a few moments

[2017-04-07 07:01] agriggio commented on #3804
merged

[2017-04-07 07:11] Floessie commented on #3767
@da-phil Thanks for the feedback! :+1:

@heckflosse I'm on vacation (first since last summer, yeah!). Feel free to manage the `idle_harder` branch in my stead.

[2017-04-07 08:53] agriggio commented on #3788
@kznsq do you have an LCP profile that used to make the parser fail? I'd like to close this but I want to test your original scenario first. Thanks!

[2017-04-07 09:08] Beep6581 commented on #3678
@Partha1b

I don't have that file nor a patch for it. If you would like me to include it in tools/osx, which is probably a good idea if you're using such a patch, then please send it to me and describe which version of cairo it's for.

Branch osxbuild has not been merged to dev yet because it causes an issue on Linux. Looking into it later today.

[2017-04-07 09:10] Beep6581 commented on #3678
Reported via email, needs to be fixed:

Before:
/usr/share/icons/hicolor/XXxXX/apps/rawtherapee.png
After:
/usr/share/rawtherapee/share/icons/hicolor/XXxXX/apps/rawtherapee.png

Before:
/usr/share/appdata/rawtherapee.appdata.xml
After:
/usr/share/rawtherapee/share/appdata/rawtherapee.appdata.xml

Before:
/usr/share/applications/rawtherapee.desktop
After:
/usr/share/rawtherapee/share/applications/r

[2017-04-07 09:39] kznsq commented on #3788
Hi!
Here the file.

Thanks for your response!

Also the LCPMapper needs to support fisheye mapping like this

void LCPMapper::correctDistortion(float& x, float& y) const
{
    if(!isFisheye) // flag needs to be added
    {
        double xd = (x - mc.x0) / mc.fx, yd = (y - mc.y0) / mc.fy;

        const float* aDist = mc.param;
        double rsqr = xd * xd + yd * yd;
        double xfac = aDist[s

[2017-04-07 09:40] agriggio commented on #3788
thanks for the quick reply @kznsq , but I don't see a file attached, sorry

[2017-04-07 10:07] kznsq commented on #3788
Sorry, maybe email server cuts off the attached file?
This file is "NIKON D3X (Nikon FX 14-24mm f2.8 G ED) - RAW.lcp" from the
latest Adobe Camera Raw

[2017-04-07 10:16] agriggio commented on #3788
@kznsq thanks. Do you happen to have also a RAW file with which I can test?

[2017-04-07 10:25] agriggio commented on #3788
@kznsq nevermind, I was able to test without a RAW. The fix works, I'll merge asap. Thanks for the help!

[2017-04-07 10:27] kznsq commented on #3788
Thank you )

[2017-04-07 10:28] agriggio commented on #3788
the fisheye distortion problem is however a different issue. For that, I would definitely need a RAW shot with a fisheye lens for which there is a LCP profile. I don't have any, maybe you could help?

[2017-04-07 11:00] kznsq commented on #3788
You can try this one:
https://s3.amazonaws.com/Sample_NEFs/fisheye.nef.zip

[2017-04-07 11:33] Beep6581 commented on #3788
@kznsq GitHub does not allow LCP attachments, only PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, and ZIP. In the future, please upload using https://filebin.net/

[2017-04-07 11:37] Beep6581 commented on #3788
@agriggio I can't promise that this LCP is compatible with the lens I used when taking the photo, but by the name of it it sounds right, so maybe it helps you test: https://filebin.net/f4xmixo8wmzdsj9o

[2017-04-07 13:03] agriggio commented on #3788
@kznsq can you clarify in which sense the current distortion correction for fisheye is not working? I just tried with lensfun (via both gimp-lensfun and ufraw) and I get the exact same result as RT.

[2017-04-07 13:41] agriggio commented on #3788
parser fix merged into dev

[2017-04-07 14:09] Beep6581 commented on #3788
Does the patch in [this comment](https://github.com/Beep6581/RawTherapee/issues/3788#issuecomment-292490483) let the LCP reproject the image from fisheye to rectilinear?

[2017-04-07 14:16] kznsq commented on #3788
Maybe I didn't  mention something... but there are 2 models for distortion in the Adobe's document on LCP files: Rectilinear lens and Fisheye
http://download.macromedia.com/pub/labs/lensprofile_creator/lensprofile_creator_cameramodel.pdf

[2017-04-07 14:24] kznsq commented on #3788
Yes, I hope so :)

[2017-04-07 14:29] Beep6581 commented on #3788
Would be great if RT supported de-fishing!

[2017-04-07 14:36] agriggio commented on #3788
So, should RT select automatically the fisheye model for fisheye lenses? This doesn't seem to match what LensFun-powered tools do (e.g. the GIMP lensfun plugin or ufraw). If this is the desired behaviour, then I think the patch goes in the right direction. It seems to be still a bit inaccurate, at least when compared with ufraw when explicitly selecting a rectilinear target geometry. See the two a

[2017-04-07 14:39] Beep6581 commented on #3788
That's what I would expect as a user.

Does your UFRaw example use the same LCP, or does it use lensfun?
Could you show a comparison using my sample photo+LCP?

[2017-04-07 14:42] agriggio commented on #3788
Ok, great. I've never used a fisheye so I don't really know what these users expect :smile:
I'll try to see how to fix the correction then (we agree that it's still not precise, don't we?)

[2017-04-07 14:50] kznsq commented on #3788
Maybe LCP is not correct enough as lensfun in some cases?
These patches can detec the fisheye:

class LCPMapper
{
...
    bool isFisheye;
...
};

// if !vignette then geometric and CA
LCPMapper::LCPMapper(LCPProfile* pProf, float focalLength, float focalLength35mm, float focusDist, float aperture, bool vignette, bool useCADistP,
                     int fullWidth, int fullHeight, const CoarseTrans

[2017-04-07 14:52] agriggio commented on #3788
I don't know yet -- I have to investigate :-)

[2017-04-07 14:58] kznsq commented on #3788
<img width="1440" alt="screen shot 2017-04-07 at 5 54 55 pm" src="https://cloud.githubusercontent.com/assets/5992301/24805730/76299150-1bbb-11e7-8c55-2620960a3f63.png">
The result in the LR seems better than the result after my patch, maybe it needs to be improved...

[2017-04-07 15:25] Beep6581 commented on #3788
Not knowing how the LCP code works, I wanted to point out that there are various fisheye projections, and that reprojecting an image (from fisheye to rectilinear) is not the same as correcting distortions. It could be the case that RT should not only reproject, but also correct distortions (before or after reprojecting).

[2017-04-07 22:43] Beep6581 commented on #3678
@ion12 @Partha1b what was the reason for replacing `${CMAKE_INSTALL_PREFIX}` with `${DATADIR}` for Linux? e.g.
[code]

[2017-04-07 23:08] Partha1b commented on #3678
@Beep6581 The iconsdir for unix was probably an error. @ion12 do you know the reason for the change?
@Beep6581 I didn't understand the previous comment above about stuff that needs to be fixed. Is that for the Mac or general?

[2017-04-07 23:12] Beep6581 commented on #3678
@Partha1b I believe it was for a Linux non-bundle build. I'm waiting for confirmation of the CMake parameters used and whether the build dir was clean.

[2017-04-08 00:04] Beep6581 commented on #3678
My question is specifically about `DESKTOPDIR`, `ICONSDIR` and `APPDATADIR` which concern for Linux only - was the change a fix for something?
[code]

[2017-04-08 00:20] #3771 closed, assigned to nobody

[2017-04-08 00:43] Beep6581 commented on #3678
Commit https://github.com/Beep6581/RawTherapee/commit/5ff36958fa752e173e09cb60dc4e4ed9b96b2e67 reverts handling of some folders to the way it was previously for Linux, but changes remain for Apple (and Windows?). @ion12 @Partha1b and others, please test using
`-DBUILD_BUNDLE="OFF"` and ON.

[2017-04-08 02:49] Partha1b commented on #3678
@Beep6581

Do you mean these variables are not to be set for Apple/Windows or do you mean that you are concerned about the changes for Linux only?

Note that I do set these variables in my builds.

[2017-04-08 02:53] Partha1b commented on #3678
@Beep6581

The variable BUILD_BUNDLE has no affect on Mac/Windows. The bundle is forced on these platforms. Of course, one can modify the cmakelist.

[2017-04-08 06:38] Desmis commented on #3421
@heckflosse

Ingo

Are you working on "locallabdev" because otherwise I could merge with dev ?
Jacques

[2017-04-08 08:24] agriggio commented on #3788
Just pushed a `lcp-fisheye` branch that applies the correct "distortion correction" for fisheye. As @Beep6581 said already, this is really a distortion correction + change of projection, but the Adobe manual simple calls it "distortion correction", and this is how it appears in the RT gui as well.

The patch of @kznsq was applying the Adobe specs correctly, but the issue was that the order of tran

[2017-04-08 09:05] kznsq commented on #3788
Here is the my corrected image. Looks like the LR result.

<img width="1047" alt="screen shot 2017-04-08 at 12 01 27 pm" src="https://cloud.githubusercontent.com/assets/5992301/24827496/699991ea-1c53-11e7-9dc8-ba0bbe517b86.png">

[2017-04-08 09:06] kznsq commented on #3788
Scale was applied after the distortion, in reverse order.

[2017-04-08 10:49] heckflosse commented on #3421
Jacques, you can merge dev into locallabdev. I will continue with speedups later.

[2017-04-08 10:52] Desmis commented on #3421
Ok, I'll do that next days :)

[2017-04-08 13:17] Beep6581 commented on #3788
Before: https://i.imgur.com/ooezLJd.jpg
After: https://i.imgur.com/8nKE3eM.jpg
Woo! Thank you.

[2017-04-08 13:30] agriggio commented on #3788
@Beep6581 great :smile: BTW, make sure you have "auto-fill" turned on otherwise you get an insane amount of cropping... I still have to address that, but I think it's a separate issue

[2017-04-08 13:56] kznsq commented on #3788
Great! :)

[2017-04-08 14:57] TheGrumpster opened #3811 "Support DJI X5S Raw files from SSD"
This is an odd bug/feature-request. RT info here:
[code]
The issue is that RT seems unable to deal with the raw .dng files from the X5S (FC6520) camera when the images are stored to the SSD instead of the SD Card. I have no idea why there should be any difference, and it may very well be a DJI bug and not an RT bug, but I am not knowledgeable enough myself to figure this out.

I do know that RT wo

[2017-04-08 15:05] Beep6581 commented on #3811
Confirmed that dev does not open it. @TheGrumpster could you upload the same photo saved to SD?

[2017-04-08 15:11] Beep6581 commented on #3678
I pushed a functional change, please test. I hope it works. If it does, I will clean up the style of the CMake files before merging.

[2017-04-08 15:34] TheGrumpster commented on #3811
I sincerely wish I could because I know this would be tremendously helpful. Alas, the Inspire 2 (to the best of my knowledge) does NOT allow you to capture stills to both the SSD and micro-SD simultaneously. That said, if you want a "normal" raw .dng (40MB) from the X5S, you can have this one:
https://blog.grumpysworld.com/wp-content/uploads/2017/04/bnsf_7567_oilload_20170218_forestcity_mo.dng

I

[2017-04-08 16:37] Beep6581 commented on #3678
I pushed a style cleanup of `/CMakeLists.txt` in commit c754a69a. It makes no functional changes. The sub-folder CMake files are next.

[2017-04-08 17:43] sandymc commented on #3811
A brief look at the DNGs indicates a rather strange situation. Both DNGs claim to be JPEG compressed, but actually, the 40MB one isn't really compressed - the compression is effectively not there. That's technically legal by JPEG compression standards, but strange.  The 20MB file is actually genuinely JPEG compressed, which is why it's smaller. But both files are technically legal. Adobe software

[2017-04-08 18:14] TheGrumpster commented on #3811
Very interesting, but quite scary. Shouldn't a raw be raw? If I wanted jpeg, I'd shoot jpeg. One thing that did occur to me (keep in mind, I have no clue what I'm talking about here) is that the X5S shoots a variety of video formats and one of these is Prores422, which to my understanding is in YUV color space instead of RGB, and down-samples the 2 chroma channels to 2 bits each, while keeping the

[2017-04-08 18:27] heckflosse commented on #3811
@TheGrumpster

Even some canon camerase use `lossless` jpeg compression to save space for raw files.
Don't confuse that with lossy jpeg compression or jpeg files.

[2017-04-08 20:45] heckflosse opened #3812 "Cppcheck 1.78 run"
I ran current dev branch through cppcheck 1.78 and created [cppcheck3](https://github.com/Beep6581/RawTherapee/commits/cppcheck3) branch which fixes a lot (but not all) of the issues reported by cppcheck.

Ingo

[2017-04-08 21:21] TooWaBoo opened #3813 "Crash with equalizer and "Add Point Button""
How to reproduce.

1. Open an image and set profile "Neutral"
2. Acivate any equalizer curve and click on "Add Point Button"
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/24832473/8d2c2fce-1cb1-11e7-9aec-a25ab394289b.PNG)

3. Left click and right click in the preview a couple of times.
4. Click on the "Add Point Button" -> Crash

[code]

[2017-04-08 21:29] heckflosse commented on #3813
Confirmed. It crashes even without 4.

[2017-04-08 22:27] heckflosse commented on #3811
RT reports
[code]

I will investigate but can't promise anything...

[2017-04-08 23:37] heckflosse commented on #3788
:+1:

[2017-04-08 23:47] da-phil commented on #3767
thumbs up for merging into `dev`! :+1:

[2017-04-09 00:16] heckflosse commented on #3767
@da-phil @Floessie Ok, I will merge soon.

[2017-04-09 00:33] heckflosse commented on #3767
Merged into dev.

[2017-04-09 04:37] russellcottrell commented on #3795
[TooWaLight-GTK3-20_.css.zip](https://github.com/Beep6581/RawTherapee/files/907979/TooWaLight-GTK3-20_.css.zip)

[2017-04-09 06:37] ff2000 commented on #3787
Thx @heckflosse - the patch solved the startup crashes for me. It was nearly impossible for me to get into the folders from recent photo trips (which have way too many photos... new camera... xD). I now was able to open three such folders in a row without a crash.
BTW. I had two crashes while editing a photo, likely due to changing a parameter while RT was still busy working on the last change (it

[2017-04-09 07:40] agriggio commented on #3787
:+1: for merging this. even if it doesn't catch all the cases, it's still
better than `dev`

[2017-04-09 07:44] Floessie commented on #3812
@heckflosse :+1: Didn't see any real bugs in the diff, mostly too broad scopes. Nice use of `const`! :smile:

If you come across statements like `int var = (int)(...)`, ditch the cast. There was one such place in the diff, but I could not comment there.

[2017-04-09 09:35] #3787 closed, assigned to nobody

[2017-04-09 10:01] FM33 opened #3814 "SIGSEGV on Ubuntu 16.04, pthread"
Hello,
Since recent versions, I encounter frequent crash after 5-10 min of use. It never occurs doing the same thing, just moving sliders, changing values or curves.

[code]
[code]

[2017-04-09 10:16] ff2000 commented on #3814
Could you check https://github.com/Beep6581/RawTherapee/commit/028edd5bd9d08f5d0dde8af409db56b7a17f1707? It says "startup crashes" but I also saw crashes recently while editing. Not tested for too much but it is very stable - not a single crash so far.

[2017-04-09 10:35] Desmis commented on #3421
Done :)
I hope no error !
jacques

[2017-04-09 11:41] Beep6581 commented on #3811
@TheGrumpster the 21MB file (4062) is not a JPEG. It is a 12-bit raw file (possibly encoded using JPEG compression if you trust the metadata `-TIFF-IFD0:Compression=JPEG` - anyone know how to verify this?), while the 41MB file (7567) is a 16-bit uncompressed raw file.

[2017-04-09 11:50] Beep6581 commented on #3795
@russellcottrell
1. Describe what the issue is about in both the subject and the first comment.
2. Showing a screenshot wouldn't hurt.
3. If you're making a color variation of a theme, import that theme and change only what needs to be changed. See `TooWaBlue-Dark-GTK3-20_.css` for reference.

[2017-04-09 12:01] Beep6581 commented on #3811
Converting the 12-bit raw (4062) to DNG using Adobe DNG Converter results in a DNG which RT reads fine.

[2017-04-09 12:36] Beep6581 commented on #3811
Copying metadata from 7567 or from the Adobe DNG Converted DNG file to 4062 didn't help either, though the corrupt address changed.

[2017-04-09 12:42] Beep6581 commented on #3814
Actually please pull the latest dev and test there again (commit 56e4114c or newer).

[2017-04-09 13:09] Beep6581 commented on #3678
A rebase seems to have messed things up, introduced commits which shouldn't be in the osxbuild branch and #3807 PR. I deleted the osxbuild branch and PR.

Use the new [osxbuild2](https://github.com/Beep6581/RawTherapee/tree/osxbuild2) branch.

[2017-04-09 13:46] Beep6581 commented on #3678
Incorrect man page location in Linux should be fixed.

[2017-04-09 14:15] Beep6581 commented on #3678
Linux:
`cmake -DBUILD_BUNDLE="OFF" -DCMAKE_INSTALL_PREFIX="/home/beep6581/programs/rawtherapee"`

![imgur-2017_04_09-16 17 06](https://cloud.githubusercontent.com/assets/5844619/24837982/02ca15d2-1d40-11e7-9047-fff64ee37c58.png)

[2017-04-09 14:44] Beep6581 commented on #3812
I merged `cppcheck3` into `osxbuild2` and get this warning:
[code]

[2017-04-09 16:21] russellcottrell commented on #3795
Since incorporating the GIMP Toolkit, RawTherapee has not had a light theme.  I have modified the TooWaBlue theme by TooWaBoo for use with RT 5.0-r1-gtk3, 64-bit.

![toowalight](https://cloud.githubusercontent.com/assets/26843507/24838895/c8f85ec0-1d05-11e7-8d71-84fc5dd3dee9.png)

http://www.russellcottrell.com/photo/BTDZS/RTLight.htm

[2017-04-09 16:40] FM33 commented on #3814
2 hrs without a crash. It seems to be solved for me with 56e4114.

[2017-04-09 16:40] #3814 closed, assigned to nobody

[2017-04-09 16:45] agriggio commented on #3813
I see this too, on Linux. I'll investigate

[2017-04-09 17:20] heckflosse commented on #3812
@Beep6581 Fixed.

[2017-04-09 17:47] heckflosse commented on #3813
I got a popup with this:

[code]

[2017-04-09 18:13] Beep6581 commented on #3795
* TooWaLight:
![imgur-2017_04_09-19 53 50](https://cloud.githubusercontent.com/assets/5844619/24839636/be6cbed4-1d5e-11e7-99f4-6c11dd279ae6.png)
* TooWaBlue:
![imgur-2017_04_09-19 54 22](https://cloud.githubusercontent.com/assets/5844619/24839639/d18711ae-1d5e-11e7-840a-ab763e78a1d3.png)
* TooWaLight with replaced icons:
![imgur-2017_04_09-19 56 05](https://cloud.githubusercontent.com/assets/58446

[2017-04-09 18:40] Beep6581 commented on #3678
`osxbuild2` merged into `dev`.

@ion12 @Partha1b please open a new issue with the cairo patch for inclusion in /tools/osx/ including the cairo version the patch is for, and anything else that's needed.

A new macOS dev build would be great.

[2017-04-09 18:40] #3678 closed, assigned to nobody