[2020-05-06 05:47] Thanatomanic commented on #5741
I cannot reproduce what you claim about the D850 example:
![image](https://user-images.githubusercontent.com/6567747/81141515-2b5ddb80-8f6d-11ea-82a6-d8af9b00c372.png)

As long as the profile contains CA correction parameters, I can enable it. I also can see a visible difference at 1:1 zoom when I toggle the checkbox. So CA is definitely applied as well.

Can you share this LCP file?
Also, just to

[2020-05-06 07:36] cm7695 commented on #5741
Hello Thanatomanic,

that's what i mean. Lensfun can apply CA correction. That shows your Screenshot.
But if you use a LCP file (choose your Favorite from the Adobe Camera Raw vor Adobe DNG Converter) CA is disabled.

For LCP files use the link
https://rawpedia.rawtherapee.com/How_to_get_LCP_and_DCP_profiles

[2020-05-06 10:29] Thanatomanic commented on #5741
All right, thank you for persisting. I am getting convinced something is going wrong. For example `Canon EOS 50D (Canon EF-S 10-18mm f4.5-5.6 IS STM) - RAW.lcp` has XML properties `ChromaticRedGreenModel` and similar. So I assume CA correction is possible, but RT doesn't seem to recognize this.

@heckflosse or @agriggio Do you have any clue? You seem to have contributed to the LCP-handling code in

[2020-05-06 17:43] Benitoite commented on #5736
Ok let's see what we can do to fix.  The ar/ranlib part of CMakeLists.txt for mac was a workaround due to a change for other OS' LTO functionality that broke the mac config a few months ago. The default behavior is intended to make a homebrew build (although one hasn't been completely possible in a while), and options available to allow either MacPorts or libraries-built-from-scratch (the method I

[2020-05-09 10:39] ror6ax opened #5745 "Is there a way to donate to this project?"
I'd like to donate to the project, ideally by Patreon or PayPal. Is it an option?

[2020-05-09 13:04] casta opened #5746 "Stack smashing when compiled with gcc 10"
Hello,

Here is what I get when I compile current master with gcc 10. I had not the issue with 5.8 release.
Reproduction done with a -O0 -ggdb build, with and without openmp (wow it’s damn slow like this !)

Data folder for reproduction: https://cloud.xwing.info/s/zKQD82KTyQC8ANZ

1. Open the raf file
2. Load the pp3 available in the folder

* If the build has no openmp support, I get corruptions

[2020-05-09 13:46] casta commented on #5746
I finished bisecting this to this commit: 2d52fbdcefdb886b60515962d26f013ef9adbe71

[2020-05-09 13:48] Thanatomanic commented on #5746
Ping @Desmis

[2020-05-09 14:38] Desmis commented on #5746
I am with gcc 9.3.0 on windows, all seems to work fine

I don't have linux, so I cannot test !

Perhaps @heckflosse who is doing a "wavtm" review does he have an idea

jacques

Perhaps among the modifications that I carried out there is somewhere an error....
If I look the change it  turns out that what has changed is the manner to reconstruct wavelet L

[2020-05-09 15:25] Desmis commented on #5746
@casta
To see,if it is a problem with "reconstruct L", try
**with your settings**
* enable Denoise and refine
* move "chrominance fine" or "chrominance coarse" ==> different from zero

And see ? If no differences, it is not this problem :)

[2020-05-09 15:32] Thanatomanic commented on #5720
I believe this is due to performances issues. Recalculating the histogram when you don't need it, can slow down the application.

[2020-05-09 16:29] ghost opened #5747 "Is it possible to apply a film simulation using the CLI?"
Hi everyone,

Thanks for the great work on RawTherapee, and special kudos for making it cross-platform! I know from experience that platform compatibility is not easy.
This might be a dumb question, but I don't know a lot about color profiles and things of that nature.

I have downloaded the HaldCLUT archive and I'm able to use it in RawTherapee.

Is it possible to use the CLI to run a command tha

[2020-05-09 17:02] casta commented on #5746
In Fact with the above raf file
1. start neutral
2. enable wavelets
3. set wavelet level to 9
4. move 9 or extra slider (even with the contrast module disabled). moving 1-8 sliders does not trigger the crash
=> crash, same backtrace as above

I do not see where the "chrominance fine" or "chrominance coarse" are located. (by the way, I’m using the gui in french, but nothing that remind me those nam

[2020-05-09 17:44] Desmis commented on #5746
I am french, and my english is bad

I will look...

[2020-05-09 17:56] Desmis commented on #5746
I think I have found the bug

I push a commit soon

[2020-05-09 17:59] Desmis commented on #5746
Push done :)

[2020-05-09 18:45] casta commented on #5746
Indeed, this is fixed.
Seems that gcc 10 is a bit more strict regarding buffer overflow ;)

Merci Jacques pour le correctif super rapide !

Now time to narrow an other bug with gcc10 and -O3, but… that’s an other story that will come later ;)

[2020-05-09 18:45] #5746 closed, assigned to Desmis

[2020-05-09 20:33] heckflosse opened #5748 "Fast bayer demosaicer for flat regions"
When using dual-demosaic, currently the very slow VNG4 demosaic is used for flat regions of the image.

I just coded a very fast (vectorized and multithreaded by compiler), bilinear bayer demosaicer, which can be used instead of VNG4 for flat regions.
Here's the code, PR will follow later:

[code]
On a single core of my 8-core machine, this is ~ 20 times faster than VNG4. When running it on all co

[2020-05-10 06:30] Thanatomanic commented on #5748
Hmm, I like the idea, if the differences are hardly noticeable.
However, wouldn't this further expand the already _long_ list of demosaicers to choose from? Or are you going all the way and making a 'pick whichever two demosaicers you want' option 😉

[2020-05-10 08:04] heckflosse commented on #5748
@Thanatomanic In first step I will add RCD+bilinear to allow tests. Then we can decide how to proceed.

[2020-05-10 08:37] casta opened #5749 "pink color cast when using input profile when rawtherapee is compiled with gcc-10 and -O3"
Hello,

Here are 3 screenshots: https://cloud.xwing.info/s/zBMSRnrL2dXnAkx
I think it will speak by itself:
* _rawtherapee-O2-input-profile.png_: using an input profile with rawtherapee build with gcc-10 and -O2 -> it’s fine
* _rawtherapee-O3-input-profile.png_: **using an input profile with rawtherapee build with gcc-10 and -O3 -> bogus pink color cast**
* _rawtherapee-O3-no-input-profile.png_: u

[2020-05-10 10:17] heckflosse commented on #5748
bayer_bilinear branch ready to test

[2020-05-10 10:42] Thanatomanic commented on #5748
I gave it a quick spin and I am surprised by how little difference I see between VNG4 and Bilinear. If there is some noise, and you enable capture sharpening, some differences are visible (VNG is somewhat smoother), but they're minimal and certainly not easy to spot at 100% zoom.

The only problem I could find was around straight lines that may get a little 'zippery', but even so, at 100% zoom it

[2020-05-10 19:49] heckflosse commented on #5748
@Thanatomanic I can confirm your observations. On low-ISO images there is almost no difference between RCD+VNG4 and RCD+bilinear. On high-ISO images (I tested some ISO 6400 .orf files) I can see a difference even at 100% (where VNG4 gives better results than bilinear for flat regions).

Nevertheless I think, the speed gain of RCD+Bilinear compared to RCD+VNG4 is worth to keep at least this combina

[2020-05-11 08:51] SchoolGuy commented on #5319
I am getting started on photography with my new EOS RP. Is there anything I can do to help to get the metadata support in RawTherapee? I looked at the list of pictures which are required and I didn't find my camera so I suspect that all files needed are already provided? I would love to help as I really would prefer using an open-source-tool against the propitiatory tool from Canon... (Also this r

[2020-05-11 11:21] Beep6581 commented on #5632
Hey

Let me know what is the status of the codebase in terms of stability, feature-completeness and stabilization of PP3 data, so that we can plan for the 5.9 release.

[2020-05-11 11:22] Beep6581 commented on #5745
https://www.paypal.me/rawtherapee

[2020-05-11 11:22] #5745 closed, assigned to nobody

[2020-05-11 11:34] Beep6581 commented on #5720
Duplicate of #3018

[2020-05-11 11:34] #5720 closed, assigned to nobody

[2020-05-11 12:03] raceviper13a commented on #5732
Is it possible that in 5.8, RT is not waiting for the PP3 file to exist before opening and caching all of the parameters?  I only know that 5.7 does not have this problem, and all other things are equal.

[2020-05-11 12:24] Thanatomanic commented on #5632
Hi @Beep6581  welcome back online. No trouble with COVID-19 I hope?

There are quite some issues tagged v.5.9 for which nothing noteworthy has happened. What is your suggested timeframe?

[2020-05-11 13:26] ff2000 commented on #5748
Probably rewrite the GUI. Add a checkbox to the demosaicker combobox "demosaic flat regions with" and add another combobox to let the user select "VNG4 (for better results)" and "bilinear (for faster demosaicking)". If you come up with a new super duper Algo that is both fast and has high IQ, or has other benefits, you can easily add that.

[2020-05-11 13:37] heckflosse commented on #5748
That would mean I had to offer amaze+bilinear and rcd+bilinear as options, because you could select that...

[2020-05-11 16:43] ff2000 commented on #5748
Or you filter (delete or gray out demosaickers that are not supported to be dual demosaicked) the list of "detail" demosaic algos when the user clicks the dual checkbox. If the currently selected main demosaicker doesn't want to be used in dual demosaicking highlight the checkbox and show a tooltip "the currently selected demosaicker isn't supported as Dual Demosaic option." Then either fallback t

[2020-05-11 17:16] heckflosse commented on #5748
That's what I meant.

Though maybe the easiest solution is to support them too and follow your approach ;-)

[2020-05-11 18:07] Thanatomanic commented on #5748
I like your idea @ff2000, but I don't like the idea of a checkbox _and_ another dropdown. Couldn't we simply have two dropdowns named Demosaicer 1 and 2? The second one has the options None, and some others depending on the selected algorithm in the first. The tooltip can explain what the second demosaicer is for.

We would need to maintain a list for all allowed possibilities. That list could of

[2020-05-11 18:36] heckflosse commented on #5748
@Thanatomanic

I guess the first dropdown is for the detailed demosaicer and the second dropdown is for the flat demosaicer. Assume you have chosen RCD as first and bilinear as second, Now you change your mind and use Amaze as first demosaicer (Amaze+bilinear currently does not exist). What shall be used as second demosaicer? None or VNG4?

[2020-05-12 07:25] Floessie commented on #5632
@Beep6581 @heckflosse @Hombre57 @Desmis @Thanatomanic I noticed that Ingo tagged some issue "6.0". Shouldn't the next version after 5.9 be "5.10"? Wouldn't "6.0" warrant incompatible changes (like PP4 or something)?

[2020-05-12 08:41] gaaned92 commented on #5749
Windows 10 : same problem with GCC 10. I discovered the problem yesterday. You made more investigation than me.
Going back to 9.3 solves the problem.
So either it is a bug inside GCC or some GCC utilities, or a latent bug inside RT revealed by GCC10 optimisationas you wrote.
I am going to build 5.8 with GCC10 on windows.

Same problem building ART https://bitbucket.org/agriggio/art/issues/82/red-c

[2020-05-12 13:47] heckflosse commented on #5749
I will update to gcc 10 now and have a look...

[2020-05-12 14:02] Floessie commented on #5749
@heckflosse My findings are, that when you dump `camMatrix` [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L2988) the middle line is off with GCC 10.

[2020-05-12 14:15] heckflosse commented on #5749
@Floessie I will try to bisect the switches set by -O3. Maybe that helps to find the culprit:
[code]

[2020-05-12 14:19] Floessie commented on #5749
If you `printf` `Thumbnail::cam2xyz` in `Thumbnail::init()` it is correct again. Typical heisenbug.

[2020-05-12 14:31] heckflosse commented on #5749
@Floessie Do your thumbnails look correct? Here they do not, at least not all...

[2020-05-12 17:58] Thanatomanic commented on #5749
I built on MSYS2 using GCC 10 on my x64 machine with additional warnings enabled. These warnings stand out, but I have no idea if they may be relevant.

[code]

There are also some deprecated GTK function calls in `main.cc`, `thumbbrowserbase.cc` and `rtwindow.cc` but I think these should still be harmless.

Edit: my thumbnails are also broken. It only seems to be an issue for raw files. Tiffs and

[2020-05-12 20:30] heckflosse commented on #5749
@Thanatomanic

not all of my raw thumbs are broken. Will check, if there is a pattern...

[2020-05-13 05:08] Thanatomanic commented on #5749
@heckflosse I saw a few good ones too, except, after clearing the cache, they all went pink as well. So there must be a general problem for raws.

[2020-05-13 05:12] Thanatomanic commented on #5749
I can confirm @casta's initial report:

So this seems to be related to either dcraw, camconst.json handling or dcp processing in general?

[2020-05-13 05:21] Thanatomanic commented on #5749
This is supported by the fact that the White Balance module seems to be well-behaved. Picking a grey value from a shot of a ColorChecker card doesn't cause any wrong temperature or tint values.

[2020-05-13 05:34] Floessie commented on #5749
@heckflosse

They all look wrong.

[2020-05-13 06:55] Thanatomanic opened #5751 "MSYS2 build seems to ignore flags set in win.cmake"
I am very confused, so I hope someone can clarify something for me.

My impression was that when you edit `CMakeLists.txt` in the main folder and then run the `cmake` command, the options from this file are propagated to the actual build instructions. This seems to work, for example when I try this:

[code]

If I then open `build/rtengine/CMakeFiles/rtengine.dir/flags.make` I read the following li

[2020-05-13 07:42] Floessie commented on #5749
I've been playing around with my i386 Qemu VM:

- `-cpu pentium3`: :heavy_check_mark:
- `-cpu Nehalem`: :heavy_check_mark:
- `-cpu SandyBridge`: :x:
- `-cpu SandyBridge,-avx`: :heavy_check_mark:

Further tests with AVX CPU:

- `-mno-avx`:  :x:
- `-mprefer-avx128`: :x:
- `-mprefer-vector-width=128`: :x:

I checked the `-mno-avx` disassembly: no AVX instructions, indeed. But the build was done with

[2020-05-13 10:34] heckflosse commented on #5751
@Thanatomanic Grep your msys64 folder for `-O3 -DNDEBUG`

[2020-05-13 11:38] Thanatomanic commented on #5751
I used grepWin, which gives exactly the same results as Notepad++: there are no hits (except of course in the build folder itself, but that's all generated).

[2020-05-13 11:41] Thanatomanic commented on #5751
I just found this: https://stackoverflow.com/questions/34302265/does-cmake-build-type-release-imply-dndebug and https://cmake.org/pipermail/cmake/2018-September/068231.html
So apparently it is set early on by CMake itself and is not easy to override. It just means I shouldn't try to do this with Release build.

It does makes you wonder how useful the flags in `win.cmake` are...

[2020-05-13 12:44] heckflosse commented on #5751
@Thanatomanic In my MSYS2 installation it's set in this file
[code]

It's easy to override, because usually last one wins, so `-O3 -O2` is the same as `-O2`

[2020-05-13 13:14] heckflosse commented on #5751
Looks like win.cmake is not used at all...

[2020-05-13 15:10] TheSquirrelMafia commented on #5749
Thanks for working on this. I'm also getting a pink/red color cast when I compile it on Windows 10. It doesn't matter if it's dev or releases.

Version: 5.8-430-g5db57952e
Branch: dev
Commit: 5db57952e
Commit date: 2020-05-13
Compiler: gcc 10.1.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werr

[2020-05-13 17:56] TechXavAL commented on #5632
There is a discussion about [some changes in the future v6.0](https://github.com/Beep6581/RawTherapee/issues/5555) that maybe would warrant a change in major version.

[2020-05-13 19:00] heckflosse commented on #5632
I tagged some issues 6.0 because that was the only tag available after 5.9

[2020-05-13 19:01] #5616 closed, assigned to heckflosse

[2020-05-13 19:34] heckflosse commented on #5749
Bisecting showed that it's caused by `-ftree-loop-vectorize`. Imho it's a bug in gcc 10. I reverted to gcc 9.3...

[2020-05-13 22:47] Waveluke commented on #5748
I am certainly in favor of having Amaze+Bilinear, as the speedup could certainly manifest itself noticeably when doing raw video processing for low iso footage.

[2020-05-14 01:07] Waveluke opened #5752 "Locallab bug: Scale on lightness slider is off"
When I use the color and light tool in the local adjustments module, the rate of darkening from negative lightness settings tends to be not that significant, and then when I set it from -99 to -100, the effect jumps drastically, to an extreme and unuseable amount.  It would be much better served by a greater scale than what I observed with a resolution of the discontinuity in response, in terms of

[2020-05-14 01:38] samueljohnchia opened #5753 "Bugs with Working Profile Tone Response Curve"
By default, the Tone Response Curve is set to "None". When changed to "Custom", the default Gamma and Slope settings are 2.4 and 12.96. I am not changing these.

1. This causes the histogram and navigator panel readouts to change when it shouldn't.
2. When changed to "Custom" and Gamma set to 1.0, Slope 0, the histogram and Nav panel readouts do not match what is expected of Gamma 1.0 when the but

[2020-05-14 05:56] PhilBaz opened #5754 "Request - Allow colorpickers to persist between files."
Request - Please allow colorpickers to persist between files. Currently, they have to be reset every time you change images. But often you want to compare between a few images. Its easier to reset/disable them once when you don't want them anymore, than to have to replace them every time you change images.

If you are filing a bug report, please first read the guide How to Write Useful Bug Reports

[2020-05-14 06:00] PhilBaz commented on #5704
Is there anyone I can buy a couple of beers to get this one bumped up ;)

[2020-05-14 06:17] Desmis commented on #5752
@Waveluke
Effectively this bug is due to have a special behavior in "inverse"...make the external part black.
I have suppress this behavior in direct.

Jacques

[2020-05-14 08:01] Thanatomanic commented on #5749
Heisenbug all right. If you make the following change and select 'Camera standard' as profile, the colors are normal (on my Windows machine at least).

[code]

[2020-05-14 08:12] Floessie commented on #5749
Interestingly enough, again `xyz_sRGB` is involved, which is a `constexpr double[][]`. I already converted it to a classic `static const double[][]` but that didn't do the trick.

Edit: It's basically the same computation as in `Thumbnail::init()`, isn't it?

[2020-05-14 08:45] TechXavAL commented on #5632
Even if there is a 5.10 version, you may wish to discuss when those tools should be removed (on which version), so you can warn users within the application that they will be removed in the next release version: every time they use a deprecated tool, some sort of warn should be shown telling that tool will disappear in the next version.

If they should be removed in v.5.10 (or 6.0), then you shoul

[2020-05-14 19:44] heckflosse commented on #5748
@Waveluke

That's a reasonable argument for me to add Amaze+Bilinear as well :+1:

For your usecase it might be worth to measure and adjust some parameters

Just start RT from console to get the measures there and make some tries changing the `Tiles per Thread` settings. May give you a speedup...

![grafik](https://user-images.githubusercontent.com/13733487/81978587-0a138400-962c-11ea-9294-ce0b32d

[2020-05-14 22:25] Waveluke commented on #5752
@Desmis
"I have suppress this behavior in direct."

Based on the wording it is a little unclear. Did you fix the issue?

[2020-05-15 06:56] Desmis commented on #5752
@Waveluke
**Yes it's fixed**
With the comment I said above...only in "direct" mode
When you work in "inverse", 2 yeras ago, peoples ask me to add this feature

jacques

[2020-05-15 08:41] Floessie commented on #5749
@heckflosse Confirmed with `-fno-tree-loop-vectorize`.

[2020-05-15 08:47] Thanatomanic commented on #5749
There seem to have been only a few commits to the GCC code directly related to the tree vectorization since GCC9.3 was released in the beginning of March:
https://github.com/gcc-mirror/gcc/commits/master/gcc/tree-vectorizer.c
https://github.com/gcc-mirror/gcc/commits/master/gcc/tree-vectorizer.h

No idea if this helps us finding a possible bug in our own code, or a place where we do not conform th

[2020-05-15 16:17] #5752 closed, assigned to nobody

[2020-05-15 17:25] dafrasaga opened #5756 "wavelet blur levels segmentation fault"
Hi,with newlocallab2 when I'm at 400% when I rise the left point of blur levels I get segmentation fault.
With the right point it seems not occur.
It occur with all my NEF files..if you want I can send RAW+PP3

Thanks

[2020-05-16 06:21] Desmis commented on #5756
what wavelet blur are you talking about?

the one in "wavelet levels" or the one in "Local adjustments" - Wavelet pyramid blur"

I cannot reconstituted, could you provided RAW and pp3

Thank you

Jacques

[2020-05-16 06:56] IainMF commented on #5748
I am not a programmer, so I may have misread your code, but have you considered splitting the greens and interpolating them like the red and blue channels, then averaging them?

The advantage of this is a smoother result, less noise and no zipper artifacts. It may help in detecting smooth areas in noisy images as well.

[2020-05-16 07:41] Desmis commented on #5756
I have reconstituted, but it is in "wavelet level" (main)
It is the same problem as for residual image blur.
If the windows of the preview is too small, blur cannot works...

I will push a fixe, but not in newlocallab2, but in dev
Probably above 300% blur will be disabled

Jacques

[2020-05-16 11:19] Pandagrapher commented on #5590
@Benitoite
Hello,
I tried to follow the MacOS compile process in RawPedia with MacPorts (MacOS v10.15.4) but I coped with several issues:
- To install dependencies: `clang++-mp-9.0` package doesn't exist but `clang-9.0` does. `cmake` should have also been added to work.
- To compile: cMake option `-DCMAKE_OSX_DEPLOYMENT_TARGET=10.15` is missing otherwise compilation instantly failed.

Otherwise, I

[2020-05-16 14:15] xiota opened #5757 "Request: Film Simulation - control strength of color and luminance separately"
For the film simulations, there is currently a single strength slider. It would be nice if it could be divided into two sliders to control color and luminance independently.

[2020-05-16 14:56] dafrasaga commented on #5756
Hi Desmis,
sorry for the late..

yes it's in the main wavelet

Thanks for the fix

[2020-05-16 20:56] heckflosse opened #5758 "memory leak in Canon CR3 decoder"
https://bitbucket.org/agriggio/art/issues/88

[2020-05-16 21:40] teplit opened #5759 "Abnormal image processing involving tone curve"
I encountered an abnormal image processing involving a curve in Perceptual mode. The behavior contradicts [RawPedia](http://rawpedia.rawtherapee.com/Exposure#Perceptual):

In ACESp0 working color space there are strange green spots surrounded by noise:
![Blue light (ACESp0)](https://user-images.githubusercontent.com/5978882/82130298-cdce5800-97d2-11ea-89c9-510b48b37f7f.jpg)

In WideGamut working c

[2020-05-17 07:57] #5758 closed, assigned to nobody

[2020-05-17 11:04] Pandagrapher commented on #5590
@Benitoite
Finally found the culprit, with MacPorts, `fftw-3-single` package shall be installed with variant `openmp` to contain the missing function.

Pierre

[2020-05-17 13:54] gaaned92 commented on #5759
![20200515_0052](https://user-images.githubusercontent.com/13785581/82148440-7244ae80-9854-11ea-814e-d63e16a5bd36.jpg)

[20200515_0052.jpg.out.pp3.txt](https://github.com/Beep6581/RawTherapee/files/4640331/20200515_0052.jpg.out.pp3.txt)
neutral processing profile,WS prophoto, auto matched camera profile, a tone curve to match CR.
Could CR use prohoto as working space?

You are right, in perceptual

[2020-05-17 17:01] teplit commented on #5759
The goal here is to spot the problem, not to produce good looking results with different processing settings. Can you use **my** PP3 file with your development version of RawTherapee in order to see better the differences?

In my three cases I left the undocumented setting _Clip out-of-gamut colors_ activated. I guess that it plays a role here - maybe RawTherapee is trying to clip the out of gamut

[2020-05-17 21:06] gaaned92 commented on #5759
In  your pp3 you use camera standard which uses a  matrix in  camconst.json file for D610. It seems way off on that image. That's a bad beginning for the raw processing. After that all colors become more  borked by following processing.  Sure the clipping will be different for different WS, but I think nothing can be concluded except that use of a DCP will lead to better result.
In all cases, the

[2020-05-18 08:07] teplit commented on #5759
RawTherapee 5.8 uses by default _Camera standard_, because there is no explicit DCP profile for Nikon D610. There are bundled profiles for D600 and D700, which indeed produce much better results for this RAW file.

With the White Balance tool disabled and _Camera standard_ as an input profile there are (practically) no visible differences between the three mentioned color spaces with the given Per

[2020-05-18 08:45] teplit commented on #5759
You may say: _But wait, aren't these imaginary colors?_
Well, RawTherapee doesn't offer an indicator for imaginary colors, however a similar problem (strong color shift in areas within gamut) occurs also for WideGamut working color space. You can check that easily with my PP3 file.

[2020-05-18 12:03] mariboudev commented on #3510
Hi folks, First can I say a big thanks to the whole team. I love using RawTherapee and when I first began getting into photography a little more seriously it was a God send to be able to work with Raw files without having to spend big money on licenses.

I really enjoy using this software, and  with the improvements you guys have been making in the last year or so it's getting better and better.

[2020-05-18 12:42] teplit opened #5760 "Add an indicator for imaginary colors"
It makes sense to see visually which colors are within the gamut of human vision and which are not especially for working color spaces with large proportion of imaginary colors like ACESp0. Such technical view can be used to assess more objectively the conversion of camera colors via the input profile into the working color space as well as the color handling of RawTherapee tools. It can be employ

[2020-05-18 14:13] Benitoite commented on #5590
Many thanks @Pandagrapher for that.
Added `+openmp` to the variants.conf section in the wiki.

[2020-05-18 14:59] Thanatomanic commented on #5760
Is it not enough to have gamut indicators? I know that gamuts can contain imaginary colors, but those big color spaces are rarely used as output profiles, and certainly not for web or print.

[2020-05-18 15:26] Thanatomanic commented on #5757
@xiota Do you have a specific use case for this?

[2020-05-18 17:28] teplit commented on #5760
Well, 500px.com [welcomes](https://iso.500px.com/500px-color-profiles-file-formats-and-you/) wide gamut photos. I use almost exclusively ProPhoto as output profile for my photographs destined for web or print. I see rarely problems with 8 bit ProPhoto JPEGs on Flickr or 500px. For professional print I use 16 bit ProPhoto PNGs.

[2020-05-18 17:46] Thanatomanic commented on #5760
That's a nice move from 500px.com, and luckily the color management of most browsers has come a long way since the dark ages!

Still, even the widest practically used color spaces (Rec.2020, DCI-P3) stay within the realm of real colors. And only the highest end monitors support these color spaces to a significant extent: 99% of DCI-P3 and still only roughly 80% of Rec.2020.  Exporting in ProPhoto

[2020-05-18 18:41] Pandagrapher commented on #5552
Hello All,

I have observed the same UI latency on my new MacBook Pro 16" with official 5.8 release. Making some researches, I discovered that other program that uses GTK3 have the same issue (Inkscapes for its freshly new 1.0 version, for instance) :
https://news.ycombinator.com/item?id=22855357
https://chat.inkscape.org/channel/team_devel_mac
https://gitlab.gnome.org/GNOME/gtk/-/merge_requests/1

[2020-05-18 19:15] Benitoite commented on #5552
@Pandagrapher That would be a good update to `gtk-3-24` branch.  I think it's worth a test, with the sleep caveat meaning it is not ready for prime-time.

[2020-05-18 19:42] Thanatomanic opened #5761 "Local Adjustments: two possible "Transition gradient" bugs"
**1.**
The behavior of the "Transition differentation XY" slider is not working as expected.
Consider the following edit (One spot, Color & Light, Scope=100, Lightness=275).

![image](https://user-images.githubusercontent.com/6567747/82252742-dac48600-994f-11ea-98cb-6db083ec8600.png)

If I change "Transition differentation XY" to -1 I get this, where the effect is correctly applied only along one

[2020-05-18 20:20] Hombre57 commented on #5676
@iliasg @Desmis @heckflosse

I still have [this greenlook](https://github.com/Beep6581/RawTherapee/issues/5676#issuecomment-595881303) in current dev with my RAW files (e.g. [this Pentax and Sony sample file - they're under copyright](https://filebin.net/tml6spdrn657ym2s)).

Both files were working fine few weeks ago, so I guess it can't be camconst.

[2020-05-18 20:29] Hombre57 commented on #2239
@eathtespagheti The Spot tool is somewhat ready, the only big remaining problem is _coarse transformation invariance_. I mean that if you rotate or flip the image after the placement of the spots, they won't follow the transformation.

That's something I wished to avoid, but `ImageSource::getImage` include the coarse transformation, and that's where I'm actually stuck.

So if you, @Beep6581, @heck

[2020-05-18 20:32] Hombre57 commented on #5291
As you've understood, this patch is on hold. Main reason : no HiDPI screen to test on. If someone want to take it over, go ahead.

[2020-05-18 21:06] teplit commented on #5760
I’m proposing this feature mainly for diagnostic purposes, not because I’m hoping that in near future the computer displays will be able to show colors outside human vision…

If the starting point for RAW development is an image with a lot of imaginary colors then probably it is better to change that starting point. Also if a RawTherapee tool misbehave, then you can check the input of that tool: i

[2020-05-19 01:39] oisanjaya opened #5762 "Quickly inspect file in file browser i.e. quickly enlarge single thumbnail"
I'm aware of inspect tab that display file (or it's embedded jpeg) at 100% at mouse hover but are there any way to quickly display this image in whole and back to regular browser grid view? Like pressing space in lightroom while browsing files.
sometimes I need to inspect image as whole and to open the image into editor took too much processing (demosaicing and all)

[2020-05-19 03:59] fl33bag opened #5763 "RawTherapee 5.8 for Mac will not run from an /Applications subfolder"
- RawTherapee.app (v. 5.8–see below) for Mac won't launch from */Applications/Photography/RAW Therapee* (note space in last folder's name). Nothing whatsoever happens when attempting to open it by double-clicking its icon in the Finder.
- Similarly it won't launch from */Applications/Photography/RawTherapee* (no spaces in path name).
- It **does**, however, open when launched from */Applications*.

[2020-05-19 07:41] teplit commented on #5759
In order to show more clearly a problem with the Perceptual curve I created a test PNG image in Wide Gamut RGB space:
![Perceptual curve test](https://user-images.githubusercontent.com/5978882/82292986-77207400-99b4-11ea-84cc-4126b4dac071.png)

You may need to enable parsing of PNG files via Preferences ► File Browser ► Parsed Extensions in order to open the file in RawTherapee. The PP3 file is at

[2020-05-19 08:41] Beep6581 commented on #5632
Hey, no COVID-related issues here.

Yes, 5.10 follows 5.9, though non-computer people find 5.10 confusing so it would be nice to break compatibility to warrant 6.0 :)

No support for that idea from me, I consider that pointless and bloat. There are more urgent things that users should be notified about: RawTherapee/RawTherapee#4261 RawTherapee/RawTherapee#2899

[2020-05-19 10:45] heckflosse commented on #5676
@Hombre57 Confirmed with your files. Looking. Though not a bug related to this issue imho

[2020-05-19 11:27] heckflosse commented on #5676
Bisecting now...

[2020-05-19 12:52] gaaned92 commented on #5751
If you want to use the win.cmake parameters, you need to add -C<path/to/win.cmake> in the cmake command line.
It will prepopulate the variables in the cmake cache. These values take precedence.
Perhaps it should have been named wincmake.cache, or something like that to avoid confusion.
Not documented in rawpedia, my fault :worried:
edit: paragraph added

[2020-05-19 14:07] age1988 opened #5764 "Move the HSV equalizer early in the pipeline"
The HSV equalizer could helps fighting neon clipped colors, it's possible to obtain the best results when it's placed before tone manipulation like brightness,contrast or curves( in rawtherapee's toolchain pipeline I would move it before the dynamic rage compression tool)

For example using the raw from pixls.us [https://discuss.pixls.us/t/play-raw-tree-leaves-under-a-very-nasty-blue-led-lighting/

[2020-05-19 14:31] teplit commented on #5760
Bruce Lindbloom gives [here](http://www.brucelindbloom.com/WorkingSpaceInfo.html) coding efficiency (percentage of real colors) for several RGB working spaces some of them included in RawTherapee:
- sRGB, Adobe RGB and BruceRGB – no imaginary colors
- Beta RGB – 1% imaginary colors
- BestRGB – 3.5% imaginary colors
- WideGamut – 8.1% imaginary colors
- ProPhoto – 12.7% imaginary colors

[2020-05-19 16:16] heckflosse commented on #5676
It's caused by d4fc4dc083b59165f5ae731099472406dc734105

@rom9 any idea? I will have a llok as well

[2020-05-19 17:37] rom9 commented on #5676
It's very weird, i can only get it to balance properly if i restore the call to `get_colorsCoeff` in `RawImageSource::load` _and_ comment out the new one in `::preprocess` ... but i get the same numbers out in both calls...

edit: i got it, `c_black[3]` is zero! I've lost it somehow while moving the code block. Sorry guys, fixing it ASAP

[2020-05-19 18:25] rom9 commented on #5676
Have no idea how this is possible, i've added a printf [here](https://github.com/Beep6581/RawTherapee/blob/90180a7d1f794397d03935fa5ab33447829ebaf0/rtengine/rawimage.cc#L106) and i see the first call from ::load sets the 4th elem to 1024, while the later call from ::preprocess sets it to 0.
I guess the underlying `DCraw::cblack` array gets mutated at some point in time between the two calls. I'll

[2020-05-19 18:27] Thanatomanic commented on #5676
This might even be linked to the weird Heisenbug for GCC10 compilation...

[2020-05-19 18:34] rom9 commented on #5676
(sorry, i'm super-ignorant about C++ ...)  currently i have:
`gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2)`

[2020-05-19 18:42] Thanatomanic commented on #5676
@rom9 Please take a look here if you want to know more https://github.com/Beep6581/RawTherapee/issues/5749
It's just a wild guess that these are related. The bug in the link only shows up when compiling with GCC10, this bug shows up when compiling with GCC9.3 which is otherwise fine.

[2020-05-19 19:17] Hombre57 commented on #5676
@heckflosse Sorry, I though it was.

[2020-05-19 19:28] rom9 commented on #5676
Not too elegant, but it seems to do the job... :-D

[2020-05-19 20:30] Hombre57 commented on #5676
@rom9 Works fine here. :+1:

[2020-05-20 06:30] Thanatomanic commented on #5676
Fix committed, but @heckflosse there is still a separate bug report here, right?

[2020-05-20 10:52] chenjie199234 opened #5766 "[feature request]you guys just don't known what a photographyer really need"
1.image stack:
with this feature,we can
1.1:mock long time exposure
1.2:remove people to get a clean image
1.3:reduce noise
1.4:depth of field merge
...

2.panorama:
with this feature,we can
take a large scene

3.timelapse:
smooth exposure,color,white balance and deflicker
with this feature,we can
make a timelapse

[2020-05-20 10:55] Thanatomanic commented on #5766
Your title is extremely impolite and not at all how a feature request works.
RawTherapee is a raw processor, not a general purpose image editing software.

[2020-05-20 10:55] #5766 closed, assigned to nobody

[2020-05-20 14:23] Thanatomanic opened #5767 "Lockable color picker circle does not reflect actual sampling region when zoomed"
As discussed here https://discuss.pixls.us/t/number-of-pixels-read-by-lockable-color-picker/18299 the lockable color picker has sizes 5-30 pixels in diameter. This is not reflected in the dimensions of the indicator circle when zoomed in:

1600% zoom. Left circle is max. size, so should sample 30 pixels in width, right circle is min. size, so should sample 5 pixels in width.
![image](https://user-

[2020-05-20 15:13] TechXavAL opened #5768 "Change background in Color Correction Regions"
In the Color Toning tool, when you select the Color Correction Regions appears a graph theoretically showing a plot of all the colors in Lab space, located according to their a* (horizontal axis) and b* (vertical axis) coordinates.

That graph is what _helps_ you choose the appropriate color, but honestly, it is far from useful when all the colors are pastel tones, and there's even no yellow there

[2020-05-20 16:06] Thanatomanic commented on #5768
Since the grid is generated on the fly, it is more difficult to produce exactly what you are proposing. That requires some function to describes how the luminance changes when moving along the axes (now it is simply constant).

It is much easier to intensify the colors. How about this?
![image](https://user-images.githubusercontent.com/6567747/82469612-8db5f080-9ac4-11ea-932e-d8779e442c87.png)
(le

[2020-05-20 16:56] TechXavAL commented on #5768
It looks better, but I started with the custom graph because there's no yellow color in the generated plot. And from a user point of view, that's confusing. The fact is that I can select the yellow color by picking a point around the 4th column, near the top, but I've found that by playing with it (trying to locate the yellow patch with a test image), not straight away.

I know nothing about the u

[2020-05-20 17:16] Thanatomanic commented on #5768
A matrix of values would certainly be possible, but it would also be less true to the 'real deal' of showing correctly calculated a* b* values in the grid.
Maybe you've already tried, but if you use the grid on a monochrome or mostly grey area, you actually get a quite good color match with the selected area in the grid. There is some benefit there as well. Here's a video: https://filebin.net/cpdo

[2020-05-20 18:17] TechXavAL commented on #5768
Thanks for your video. I didn't even thought about checking it that way! :sweat:

I don't want to be stubborn, but in your video and to my eyes there's no correlation between the color shown in preview with default values (Saturation=0, Slope=1.000) and the color chosen in the plot. Sorry.

There's one big difference, though: in my version the lower right square is bluish, while in the tool the re

[2020-05-20 21:55] heckflosse opened #5769 "Poor man dehaze (and remove uniform lens flare)"
I made some tries with a very simple method to remove haze (and uniform lens flare) from raw files. Well, at least partly. It's a good starting point to add the already existing dehaze tool in RT.

The method is super simple. It just calculates the mininum value from each raw channel and subtracts that value from the corresponding channel.

The idea behind this approach is:

If there is a region i

[2020-05-20 22:51] amaschas commented on #5552
Hey, I just wanted to add that I am also experiencing slow Rawtherapee performance on both my 2019 13" Macbook pro and 2019 27" iMac. I thought running it on the latter would help with performance, since it has a 6-core i7 and 32GB of RAM, but it still runs almost unusably slowly. I'd love to be able to use Rawtherapee as an alternative to Lightroom, so if there's any additional information I can

[2020-05-20 22:55] heckflosse commented on #5552
related issue of another app which uses gtk3

https://gitlab.com/free-astro/siril/-/issues/442

[2020-05-21 00:57] xiota commented on #5757
@Thanatomanic Many film simulations have nice color but excessive contrast, or other luminance issues. Separate sliders would allow use of the colors without having to tweak exposure and other settings. Locking the sliders should have the same behavior as the current strength slider.

[2020-05-21 11:41] Floessie commented on #5769
I already had the pleasure to play with Ingo's patch and it really makes a difference for the type of shots he mentioned. When it comes to me, yes, I'm interested! :smile:

[2020-05-21 12:05] Thanatomanic commented on #5769
@heckflosse Will you integrate this with the current dehaze tool as a variant (like unsharp mask and deconv for sharpening)? Or will it become a separate module?

In any case, a branch would be nice to test.

[2020-05-21 12:06] heckflosse commented on #5769
@Thanatomanic

Don't know at the moment where to put it. Maybe it will just become an automatic checkbox in raw black levels tool (because it does exactly that).

[2020-05-21 12:10] heckflosse commented on #5769
Branch follows soon. Have to code three variants (Bayer, Panasonic Bayer where raw value 0 means a bad pixel, and xtrans...)

[2020-05-21 13:11] heckflosse commented on #5769
I just created the `poor_man_dehaze` branch.

To test, you just have to look at the console output and fill in the values in ui by hand.
Example:

Console output:
[code]

ui:
![grafik](https://user-images.githubusercontent.com/13733487/82562364-5f441e00-9b75-11ea-8815-9ffe8bf2c7cb.png)

[2020-05-21 13:25] heckflosse commented on #5769
Here's a before/after (left neutral profile, right neutral + raw black levels). Shooting distance was roughly 7 km.
![grafik](https://user-images.githubusercontent.com/13733487/82562740-26587900-9b76-11ea-897d-d362ff7c4e02.png)

And here's the raw I used for the screenshot. It's a bit overexposed, because it is part of a bracketing...

[D200_20070802_2087.zip](https://github.com/Beep6581/RawTherap

[2020-05-21 14:10] heckflosse commented on #5769
Just for the record. When testing this, please also test in combination with the current dehaze tool in RT, as in my opinion the current dehaze tool in RT works better after this black level adjustments.

[2020-05-21 14:31] heckflosse opened #5770 "Link video tutorials in rawpedia"
A while ago I stumbled about some youtube RT tutorials and (surprise) found some really good ones made by `Andy Astbury`. In his videos he focuses on using RT as a raw processor to replace Lightroom in a traditional Lightroom+Photoshop workflow. Well, that's not completely FOSS, but his tutorials are very good in my opinion for several reasons:

1) he focuses on one or two themes per tutorial and

[2020-05-21 15:52] Desmis commented on #5769
@heckflosse
Ingo
I tested with your image but also with "madeira.dng"
this very clearly improves the results....And result is better with "dehaze RT tools" after black levels

Impressive
jacques

[2020-05-21 16:55] heckflosse commented on #5769
@Desmis Thanks for testing. Sometimes [kiss](https://en.wikipedia.org/wiki/KISS_principle) just works fine ;-)

[2020-05-21 17:51] heckflosse commented on #5769
A nice side effect of subtracting black levels for this kind of images is, that the auto radius calculation of Capture Sharpening is better after the subtraction. With my example raw linked above I get 0.93 without bl subtraction and (much more accurate) 0.80 with bl subtraction.

[2020-05-21 19:19] heckflosse commented on #5769
Another comparison using the raw I linked above. Left with current dehaze, right with current dehaze + bl subtraction. As a gimmic, isn't there a nice face in the image?  ;-)
![grafik](https://user-images.githubusercontent.com/13733487/82597036-a4ce0e80-9ba8-11ea-92e5-56ff56b3dc6e.png)

[2020-05-22 06:22] Desmis commented on #5769
@heckflosse
Perhaps you should change the name of this issue, and call "Smart Dehaze"

A question, for the same file D200_200070802_2087.NEF", the values displays in console are different from you

You
red 57 , green 155, blue 112

Me
red 225, green 508, blue 462
But it works :)

Do you think we can "auto" this behavior (by passing values to GUI ??)

Jacques

[2020-05-22 06:24] Desmis commented on #5768
@Thanatomanic @TechXavAL
It seems to me, it will be a nice improvment.
This "graph" is used in many tools (wavelet, Local adjustments, color toning...)

jacques

[2020-05-22 12:48] Thanatomanic commented on #5770
Seems like a great plan. Since I've become a little more active lately on the forums trying to explain some concepts, I was actually thinking about updating rawpedia in some areas (since we also have quite some open 'docs' labeled issues...). I could also make a section "Video tutorials" or something? And then also link to Andy's videos from the relevant pages.

[2020-05-22 13:16] heckflosse commented on #5769
@Desmis Jacques, my values are from a different file

[2020-05-22 13:24] heckflosse commented on #5769
@Desmis

Yes, that should be possible

[2020-05-22 14:53] Thanatomanic commented on #5769
Some testing on my end on a real haze:

Neutral vs. black level modification:
![image](https://user-images.githubusercontent.com/6567747/82679518-54f45380-9c4b-11ea-98d0-f7df501f6517.png)

Black level modification vs. additional Haze removal
![image](https://user-images.githubusercontent.com/6567747/82679699-91c04a80-9c4b-11ea-81e5-eb251d34dbeb.png)

Neutral vs. Haze removal
![image](https://user-

[2020-05-22 14:59] Thanatomanic commented on #5769
I also tried to get an approximately similar image by simply using the 'Black' slider in the exposure module. Of course this doesn't touch the individual ratio's of the channels, so it can't be identical. But you can actually get pretty close.

![image](https://user-images.githubusercontent.com/6567747/82680957-56268000-9c4d-11ea-90cb-596c0675a161.png)

Does make you wonder about the usefulness of

[2020-05-22 15:03] Thanatomanic commented on #4215
Currently this works (although it takes a long time to generate the PDF).

[2020-05-22 15:03] #4215 closed, assigned to Beep6581

[2020-05-22 15:09] Thanatomanic commented on #3660
This doesn't seem relevant anymore

[2020-05-22 15:09] #3660 closed, assigned to nobody

[2020-05-22 15:51] heckflosse commented on #5769
@Thanatomanic Thanks for testing :+1:

Yes, that's one problem with the method. Technically it would be the right place for the current implementation. Though I think the final implementation has to be a bit more complex. For example we should not subtract this black levels from pixels >= whitelevel. Clipped is clipped and should stay clipped.

That can be a desired effect, because the haze is not

[2020-05-22 16:10] heckflosse commented on #5770
@Thanatomanic As I wrote, I am not good in rawpedia. Maybe @TechXavAL can chime in as he already contributed to rawpedia afaik

[2020-05-22 16:13] Thanatomanic commented on #5770
I have editing rights too and have contributed some minor things in the past :-)

[2020-05-22 16:34] heckflosse commented on #5770
@Thanatomanic Of course feel free to go ahead :+1: I just wanted to mention, that I am not good in rawpedia and in case you want a second opinion, another rawpedia contributor might be welcome ;-)

[2020-05-22 17:36] heckflosse commented on #5769
@Thanatomanic

There is another point which makes it useful, I already mentioned above: On hazy images, Capture Sharpening auto radius is more accurate when the haze is removed before Capture Sharpening,

[2020-05-22 17:51] heckflosse commented on #5769
@Thanatomanic

Well, that would be no problem for me if the results are good ;-)

More than two months ago I showed him this two screenshots:

left without haze removal, right with, both without subtracting
![grafik](https://user-images.githubusercontent.com/13733487/82695421-57fc3d80-9c65-11ea-9519-37fba48faee3.png)

Now the same, but right with subtracting and haze removal
![grafik](https://user

[2020-05-22 19:20] heckflosse commented on #5769
here's the raw file from my last post
[D200_20070803_2129.zip](https://github.com/Beep6581/RawTherapee/files/4669656/D200_20070803_2129.zip)

[2020-05-22 20:53] TechXavAL commented on #5770
I am «in charge» of the Spanish pages, but it's Morgan who is _the boss_ there.

There is a page I wrote to help people writing documentation to code the articles (as I edited the CSS stylesheet for the new website look):
[Coding Rawpedia pages](https://rawpedia.rawtherapee.com/Coding_Rawpedia_pages)

But above all you may wish to contact first Morgan and tell him your intentions, as he is sometim

[2020-05-22 21:15] heckflosse commented on #5770
@TechXavAL

Coding Rawpedia pages

:+1:

[2020-05-23 08:54] carloro opened #5772 "Restore lockable color pickers between sessions"
Goodmorning everyone. It would be very useful to be able to save the "lockable color selectors" when we close RT so that we can find them in the same place when we reopen the files. Could one hope that this very useful function could be implemented? Thanks

[2020-05-23 11:13] Pandagrapher commented on #5552
@Benitoite @heckflosse
Found on GIMP GitLab:
https://gitlab.gnome.org/GNOME/gimp/-/issues/4130

Pierre

Edit: Tested it but no improvements...

[2020-05-23 15:24] TechXavAL commented on #5768
I have finally found time to edit my custom graph, with «real» hues.

This is what I've done:
* I've set the saturation in Color Correction Regions at 45 (leaving it at 0, as default, lead to not good results, as they didn't help at all)
* I've left Slope at default (1.000)
* I've loaded a flat image with 66.7% on each channel (hex: #aaaaaa)
* then I have applied a color toning with each color pat

[2020-05-23 18:52] ItsMeOnly2 commented on #5650
Just to add to the weirdness: I started using AppImage you provided and while it doesn't crash when an edit is made and then saved... it does when an edit is made aftewards (i.e. on second save) with munmap_chunk(): invalid pointer.

Recently I completely overhauled my stuff and using most recent everything, so I'm completely at loss what is going on. I recompiled RT yesterday and converted severa

[2020-05-24 10:56] heckflosse commented on #5772
Related issue : #5754

[2020-05-24 12:08] heckflosse commented on #5748
@IainMF Sorry for late reply. My intention was to get a very fast replacemant for the slow VNG4 for flat regions of dual-demosaic. Bilinear output is very close the VNG4, while your proposed method is much smoother.
Left VNG, middle bilinear, right your method
![grafik](https://user-images.githubusercontent.com/13733487/82753688-da047780-9dc7-11ea-83af-ea75da186236.png)

[2020-05-25 14:42] TechXavAL opened #5773 "Wavelet Levels chrominance denoise bug"
When using the new Denoise Chrominance sliders, inside the Denoise and Refine module, it seems there is a bug.

After uploading an entry [in a recent Playraw](https://discuss.pixls.us/t/bucolic-peruvian-scene/18331), I realized that there is a problem with some areas, lacking any color.

This is a crop of my processing:
![Peruvian_original_edit](https://user-images.githubusercontent.com/52250392/8

[2020-05-25 17:49] heckflosse commented on #5748
I forgot the mention that the last commit reduced memory usage of bilinear dual-demosaicers by width * height * 8 bytes, and that I can make the same optimization for xtrans dual-demosaicers.

Shall I integrate the optimization for xtrans dual-demosaicers into this branch?

[2020-05-25 18:28] Floessie commented on #5748
@heckflosse

I think it's better off in `dev`...

[2020-05-25 18:42] heckflosse commented on #5748
I forgot the write up the latest measurements.

AMD FX8350 (8 cores at 4 Ghz) on a 45 MP raw from Nikon D850:

RCD+VNG4 : 2575 ms
RCD+Bilinear: 975 ms

[2020-05-25 18:58] Thanatomanic commented on #5748
This describes my intentions correctly regarding the dropdowns. I think it would make most sense to have the second dropdown switch to None when you select a primary demosaicer that does not support a secondary one. Maybe it's even better to not _switch_ the second option, but simply _disable_ it.

We can merge, but I think we should still discuss the GUI.

[2020-05-25 19:13] heckflosse commented on #5748
@Thanatomanic

In fact, we should discuss the GUI before we merge :smiley:

[2020-05-25 19:23] heckflosse commented on #5748
@Thanatomanic After my latest changes, now it will be easier, because every primary demosaicer (Amaze, DCB, RCD) supports every secondary demosaicer (VNG4, Bilinear)

[2020-05-26 02:32] wilchak opened #5774 "Crash during editing, and 100% reliable crash on export"
I am able to reliably crash RT by adjusting Offset in Color Toning, however the crash only occurs after applying my specific processing profile. Neutral does not trigger the crash. The crash occurs both when running RT from the package provided by my Linux distro (Arch), AND the dev 5.8-441 AppImage.

Version details from my distro-provided release-

Version: 5.8
Branch: releases
Commit: 9a9e0acbf

[2020-05-26 06:24] Floessie commented on #5774
Confirmed.

@heckflosse Another NaN:

[code]

HTH,
Flössie

[2020-05-26 11:25] heckflosse commented on #5774
Duplicate of #5171 ?

[2020-05-26 17:08] hholtm opened #5775 "lensfun not working properly in dev-appimage"
In latest dev appimage (RawTherapee_dev_5.8-441-gf0720ff_20200521.AppImage) lensfun doesn't work/is not included. OS is Linux Mint 19.3. On starting RT it's adding an entry in the options file under [Lensfun]: "DBDirectory=share/lensfun/version_1". This location doesn't exist in my data system. AFAIK lensfun should be included in appimage. So the options entry seems not to make sense or should be

[2020-05-26 19:34] Pandagrapher commented on #5552
Finally, waiting for GTK update, the only temporary fix is to use RT in "low resolution" (setting `NSHighResolutionCapable` to `false` in `Info.plist` file) but the interface is blurry...

Pierre

[2020-05-27 05:48] #3557 closed

[2020-05-27 05:49] #3507 closed

[2020-05-27 20:12] otula71 opened #5777 "Raw photos have got magenta overlay with RT compiled by GCC 10.1"
**RT version:** version independent problem (git versions as well as last stable version).
**GCC version:** 10.1 (there is no problem with GCC 9)
**Linux version:** updated Arch Linux (64bit).
**Exact steps to reproduce the problem:** build the RT using **GCC 10.1**
**Affected file:** any raw file from any camera (JPEGs or TIFFs are OK)
[Affected output](https://www.abclinuxu.cz/data/prilohy/5/0/2

[2020-05-28 06:08] Floessie commented on #5777
Duplicates #5749.

[2020-05-28 06:08] #5777 closed, assigned to nobody

[2020-05-28 09:50] Thanatomanic opened #5778 "openSUSE 15.1 no longer requires manual install of lensfun"
On a fresh install of openSUSE 15.1 it is no longer necessary to install `lensfun` manually (as is now written in the docs). Simply run `sudo apt install lensfun-data liblensfun1`.

[2020-05-28 09:58] Thanatomanic opened #5779 "Fedora build instructions: make needs to be installed too"
If `make` is not installed, the build script and `cmake` will not run and throw this error:

[code]

Solution: add `make` to the list of packages that need to be installed on Fedora. I tested on a clean install of Fedora 32, but this probably applies to earlier installations too.

[2020-05-28 10:26] #3209 closed

[2020-05-28 10:52] Thanatomanic commented on #5778
For openSUSE Tumbleweed the instruction is `sudo zypper install lensfun-devel`

[2020-05-28 17:25] maboleth commented on #5656
Any news on this? Have you figured out the root cause?

[2020-05-28 17:53] heckflosse commented on #5656
Well logarithmic does not work well in this case. Linear works better in this case, though often logarithmic works better than linear. Maybe I should try the cube root approach of ART...

[2020-05-28 18:10] maboleth commented on #5656
Excellent, thank you! If you manage to tweak something, please let me now here, so I could test it. I'm using the official/stable 5.8 ver and not bleeding edge/beta.

[2020-05-30 12:37] Benitoite commented on #5763
Due to hardened runtime/sandboxing the app must be installed in `/Applications`
To install the RawTherapee application, open the .dmg and drag the RawTherapee app onto the `/Applications` folder.

[2020-05-30 14:58] TheSquirrelMafia commented on #5749
Quick question. How does one downgrade to to GCC 9 on Windows 10 msys64? I also want to add it to the ignore packages list for now.

I can't seem to figure out how to do it. I've tried a lot of pacman commands that are similar to Archlinux commands, but can't seem to get it to work.

[2020-05-30 15:01] heckflosse commented on #5749
@TheSquirrelMafia Have a look here
https://discuss.pixls.us/t/changed-the-limit-for-color-temperature-now-white-balance-is-wrong-when-using-a-camera-profile/18437/24

[2020-05-30 15:03] TheSquirrelMafia commented on #5749
^ Thanks a lot!

[2020-05-30 16:28] teplit commented on #5769
@Thanatomanic

I don't agree here - the Black slider from the Exposure module can strongly discolor the image and the attempts to fix this problem probably will cause additional color distortions.

I made a comparison between four global haze removal methods (after applying Neutral profile):

**Raw Black Points**
![Raw Black Points](https://user-images.githubusercontent.com/5978882/83332950-c6b14a

[2020-05-30 18:32] ItsMeOnly2 commented on #5650
....and I isolated the problem to libsigc++ (stopped crashing only after upgrading to 2.10.3)

[2020-05-30 18:32] #5650 closed, assigned to nobody

[2020-05-30 22:05] heckflosse commented on #5769
@teplit Thanks for the comparison. I'm interested about your conclusion about the comparison of the four methods ;-)

[2020-05-31 10:03] heckflosse opened #5780 "Question about a condition in ipwavelet.cc"
@Desmis Jacques, the following condition is always false
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipwavelet.cc#L1347

because here
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipwavelet.cc#L1272
`!hhutili` is checked and the above case is in the `else` case if this check.

Can you please have a look. Maybe that's a bug. If it's not a bug, we could simply remove line 1

[2020-05-31 10:52] Desmis commented on #5780
@heckflosse
Yes or no a bug ? good metaphysical question :)

But you are true : lines between 1347 - 1351 seems to be always false

You can suppress, where should i do it ?

Thank you

Jacques

[2020-05-31 11:27] heckflosse commented on #5780
@Desmis
I will do that in dev

[2020-05-31 16:25] lummukka opened #5782 "EXIF data stripped with Nikon Z6"
Hi, I have found the following behaviour with relatively new development release:

Version details: Version: 5.8-391-g1c63d75    Branch: dev  Commit: 1c63d75  Commit date: 2020-04-08

Your operating system name and version: Linux xxxxxx 4.4.0-179-generic #209-Ubuntu SMP Fri Apr 24 17:48:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

With Nikon Z6 exif data is stripped even when "metadata copy mode" "

[2020-05-31 16:35] teplit commented on #5769
In my opinion the first of the four images is the most suitable for further processing – it looks the cleanest. It may look a bit greenish, but that is easy to change with the White balance. The latter is probably affected from the Raw channels subtraction.

The second one have a bluish bias, which is most easy to see in the shadows. Here a warmer white balance can neutralize the bluish tint, but

[2020-05-31 17:42] lummukka opened #5783 "Third party LCP file (Adobe), geometric distortion checked --> black image"
Version details: Version: 5.8-391-g1c63d75 Branch: dev Commit: 1c63d75 Commit date: 2020-04-08

Your operating system name and version: Linux xxxxxx 4.4.0-179-generic #209-Ubuntu SMP Fri Apr 24 17:48:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

When choosing a LCP file from Adobe, in my test example it's  .../LensProfiles/1.0/Leica/Leica Camera AG (LEICA SUMMICRON-R 50 mm f2) - RAW.lcp

After apply

[2020-05-31 18:12] Thanatomanic commented on #5783
I can confirm that when Exif information on the lens is unavailable, applying the LCP geometric distortion gives a black image. The software cannot infer the focal distance for the image and therefore cannot do a proper distortion calculation. Best case scenario: make sure RT recognizes your lens. Next best thing: prevent users from enabling geometric distortion correction when the lens is unknown

[2020-06-01 07:49] lummukka commented on #5782
Update: this seems to be reported earlier: https://github.com/Beep6581/RawTherapee/issues/5698

[2020-06-01 21:29] heckflosse commented on #5769
@teplit Thanks a lot for this comparison and your conclusion :+1:
I also think, that raw bl subtraction is a good starting point for a kind of automated processing of this (haze, lens flare) cases.

Now the point is, where to put this method in ui...

[2020-06-02 12:03] xiota opened #5784 "Allow inheriting native color scheme in custom theme"
It would be nice to have a couple themes to match default color schemes from GNOME and KDE. I've tried tweaking a CSS file, but there are a few issues I can't figure out. For example, toolbar icons assume a dark background.

[2020-06-02 12:17] xiota commented on #5784
I tried setting `-gtk-icon-style` and other icon-associated properties listed at [GTK CSS Properties](https://developer.gnome.org/gtk4/stable/chap-css-properties.html), but they don't seem to have any effect. This is what I have so far...

[code]

[2020-06-02 19:35] rom9 opened #5785 "Auto ITC WB is affected by CA correction setting"
Using Auto-ITC white balance method on [this example raw file](https://discuss.pixls.us/t/white-aronskelk-arum/18504), yields slightly different temperature and tint values depending on whether the CA auto-correction feature is enabled or disabled.
Steps to reproduce:
1. open the raw file from the link above
1. select the "Neutral" profile
1. in the "White Balance" tool, select the "Auto ITC" from

[2020-06-02 19:58] hholtm commented on #5775
solved

[2020-06-02 19:58] #5775 closed, assigned to nobody

[2020-06-02 20:15] Thanatomanic commented on #5785
If CA correction is always applied before white balance calculations, the only strange thing is that you don't see a difference with the RGB grey method, right?

[2020-06-02 20:48] rom9 commented on #5785
Well, if i set a fixed white balance and i place a lockable color picker in the picture, enabling or disabling the Auto CA Correction flag does not produce any color change (same color picker values), so this would lead me to believe that the CA Correction itself does not change the overall color in this image.

[2020-06-02 21:01] heckflosse commented on #5785
As Raw CA-Correction changes raw red and blue (but not green) values, it is very likely that it has an influence on everything applied after it....

[2020-06-02 21:05] rom9 commented on #5785
Yes, in fact i was wrong: i've processed the image with fixed WB, both with and without Auto CA correction, and computed the difference in GIMP:
![image](https://user-images.githubusercontent.com/4711834/83569655-1bfa8f80-a525-11ea-89c3-daf9b7b99392.png)
There is a very small difference (notice the levels notches), so maybe the ITC WB method somehow "amplifies" this difference, while the Auto RGB

[2020-06-03 09:28] Beep6581 commented on #5775
@hholtm explain how you solved it, for posterity.

[2020-06-03 14:09] Desmis commented on #5785
It's obvious that with Itc wb, there is differences, when color in process "before" changes.

The algorithm compares color (those of image, and 200 spectral colors) , while "autowb" works with grey :)

jacques

[2020-06-03 19:35] hholtm commented on #5775
@Beep6581 It has been solved by @aferrero2707 / CarmeloDrRaw, see https://discuss.pixls.us/t/profiled-lens-correction-is-missing-my-camera-lens/10121

[2020-06-03 22:37] rom9 commented on #5785
Ok, so i guess this actually is expected behavior...
If you all agree, i'm going to close this issue (and sorry for the false alarm :-D)

[2020-06-04 08:24] Thanatomanic commented on #4894
For reference: https://discuss.pixls.us/t/note-to-the-dev-guys-about-72-ppi-output/18570
There is still a wish for this to work.

[2020-06-04 08:38] Thanatomanic opened #5787 "Inconsistent 'default' TIFF-tags when exporting to JPEG, PNG and TIFF itself"
In response to this: https://discuss.pixls.us/t/note-to-the-dev-guys-about-72-ppi-output/18570/12
Whenever a JPEG or PNG is exported, a set of 'default' TIFF tags is appended:

See here:
https://github.com/Beep6581/RawTherapee/blob/1fe03b298eebb2911352a7753531bd3273166dd6/rtexif/rtexif.cc#L3211-L3231)

However, not all of these 'default' tags are written to TIFF files themselves, as you can see he

[2020-06-05 06:43] Thanatomanic commented on #5749
To prevent this issue from causing trouble for unfamiliar users, @agriggio put in some safeguards in `CMakeListst.txt` in ART, which I took the liberty of using for us as well

[2020-06-05 06:52] Thanatomanic commented on #5785
~~I still have a question. If you use Camera WB (5899, 1.018), then I see absolutely no visual difference on the image whether I turn on CA Auto-correction, or change the preprocess WB mode, or both at the same time.
So, if these settings don't matter with a _fixed_ WB, why do they matter with the _automatic_ WB?~~

Edit: okay, I should've read @rom9 's post better lol. Disregard my question. If t

[2020-06-05 06:57] #5785 closed, assigned to nobody

[2020-06-05 11:18] heckflosse commented on #5749
Just for information: Processing time of for example Capture Sharpening a 26 MP file on my machine increased from 670 to 1130 ms when using `-fno-tree-loop-vectorize`

[2020-06-05 11:35] Floessie commented on #5749
IMHO there's no other way than reducing the testcase and to open an issue on the GCC bugzilla. As I already had that pleasure (and I mean it: they were very friendly and helpful) maybe someone else volunteers this time. I'll be mostly AFK next week.

[2020-06-05 11:45] heckflosse commented on #5749
@Floessie I will try that

[2020-06-05 11:51] Floessie commented on #5749
@heckflosse Creating the bugzilla account takes some time as it's moderated. Let's hope this time it's really a compiler bug...

[2020-06-05 13:05] heckflosse commented on #5749
@Floessie

If I change
[code]

to
[code]

which should do exactly the same, it works fine.

Edit: I just detected that it works fine for some files, but not for all...

[2020-06-05 14:21] Thanatomanic commented on #5749
This may be relevant https://gcc.gnu.org/bugzilla/show_bug.cgi?id=93334
@heckflosse The code just before the triple loop has a `memset` to zero the array.

[2020-06-05 14:33] heckflosse commented on #5749
Just for curiosity I tried this variant (without memset, should do exactly the same as the current code) and get the same color cast
[code]

[2020-06-06 12:07] TechXavAL opened #5789 "Wavelet Levels curve shape not saved in pp3"
If you modify the default Finer-Coarser levels curve (inside the Contrast module) and save the processing profile, if afterwards you load from file that profile the curve has the default shape, not the custom one that it had when you saved it.

[2020-06-06 15:46] Desmis commented on #5789
@TechXavAL
I just push a change... just a typing error

Thank you :)

Jacques

[2020-06-06 23:52] dakhubgit commented on #5360
Here is additional info: exiftool used on the raw files for files shot with AdobeRGB mode states "Color space: uncalibrated" while files shot in Standard color mode have "Color space: sRGB" (either raw file shows Color mode: standard).  The AdobeRGB raw files are not consistent in what kind of color deviations they show in Rawtherapee.  The files in Standard mode are rendered pretty much spot-on b

[2020-06-07 13:49] dconrad5 commented on #4711
I'm having this issue still on MacOS, release 5.8 - see screenshots:

<img width="1392" alt="Screen Shot 2020-06-06 at 9 25 50 AM" src="https://user-images.githubusercontent.com/988677/83970329-d62e2600-a89a-11ea-8693-b9e798ad0b89.png">

<img width="1392" alt="Screen Shot 2020-06-06 at 9 26 09 AM" src="https://user-images.githubusercontent.com/988677/83970336-daf2da00-a89a-11ea-8c6e-417f67766cb3.p

[2020-06-07 14:14] dconrad5 opened #5790 "MacOS: Command-H (Hide Application), Command-Option-H (Hide all others) do not work"
I'm on macOS Catalina, Rawtherapee version 5.8. I believe this could be considered related to #3510 "Some keyboard shortcuts not working in macOS", which I haven't tested extensively but at least some of the issues mentioned there are still present.

This is a pretty simple bug, Command-H, which is supposed to hide the application, does nothing. Same with Command-Option-H, which is supposed to hid

[2020-06-07 14:43] ff2000 opened #5791 "wavelet contrast: Levels 4,5,6 non-functional"
I am on newlocallab2.

[code]

Changing wavelet contrast levels 4,5,6 has no effect. RT-5.8 (and also a recent commit some time ago) had no issues.
I tested with different RAWs from different cameras (SIGMA fp, Sony A7II, Olympus EM-1, Panasonic G85, Fuji XT-20) and all show the same behaviour.
Note that it doesn't matter how many levels you select. 4 Levels selected and 1,2,3 work, 4 doesn't. 9 l

[2020-06-07 15:11] heckflosse commented on #5791
@Desmis Jacques, shall I bisect this or do you already have an idea what causes that?

[2020-06-07 15:41] Desmis commented on #5791
Perhaps it is a bug, but I don't think so

First
Try : replace "selective luminance range" by "whole luminance range"...works

reselect : "selective luminance range"
and now move the double sliders "Finer luminance range" to the left....works (I think)
change "damper" and offset...works

go to the curve "Finer -Coarser levels"  - move the 2 grrens point to the right... works

@TechXavAL is writtin

[2020-06-07 15:54] ff2000 commented on #5791
All right, works.
I switched from Detail Level COntrast to Wavelet contrast recently and maybe I either didn't touch the 4,5,6 sliders or went back to Detail Level when I actually touched those sliders.
Still I find it somewhat weird that it is always 4,5,6.  I thought the whole range of possible (or implamented) detail levels was mapped on the selected number of layers. Selecting "4" should map a

[2020-06-07 16:22] dconrad5 opened #5792 "Processing Profiles dropdown box is annoying to use"
When using a trackpad on a dropdown box, I usually click once to open it, and then click again to select what I want rather than click-hold-release to select. This behavior will often result in annoying mis-selection of a profile on the Processing Profiles dropdown box.

If I'm on the (Last Saved) selection and click on approximately the top 1/3 of the dropdown, it will immediately load (Neutral).

[2020-06-07 16:25] ff2000 commented on #5791
No, it's not 100% bug-free (IMO) ;)
The upgrade doesn't work. Edit a file with RT-5.8 and reopen it with RT-dev - the effect of levels 4,5,6 is gone. I think RAWs edited with RT-5.8 should look the same when opened in RT-5.9.

RT-5.8
![P1200273](https://user-images.githubusercontent.com/1973708/83974179-0b1a9700-a8f4-11ea-8057-49784225169c.jpg)

Opened in RT-5.9-dev
![P1200273-1](https://user-imag

[2020-06-07 17:23] TechXavAL commented on #5791
@ff2000

Hi: I'm checking that behavior, and it seems that you're right.

On the other hand, most probably it's not a bug, but an unexpected behavior that must be fully explained in the documentation (or change it to what the user expects)

There is currently a curve in dev at the end of the Contrast module (the _Finer-Coarser levels_), which by default has this shape:

![Wavelet_contrast_finercoa

[2020-06-07 22:23] Benitoite commented on #5790
Duplicate of #3510

[2020-06-07 22:30] dconrad5 commented on #5790
I do think it's worth noting that Command-H and Command-Option-H do not seem to be mentioned in #3510 though. And that Command-Q works.

[2020-06-09 14:36] Pandagrapher commented on #5792
@dconrad5

That's how ComboBox works in GTK: click to show elements list, click again to select one.

I have tested on my side using trackpad: I have never reproduced this behavior (with RT 5.8 and RT dev on Catalina). Is there top/bottom arrows when showing the elements list? Perso, I prefer setting the mouse cursor on one of them to fully opening the elements list before selecting an element: th

[2020-06-09 16:36] dconrad5 commented on #5792
I'll try to get a video of the issue tonight, as I don't feel screenshots will do it justice. It's not that the list misbehaves once it's already open, but that it erroneously selects a profile immediately upon opening it, which causes a need to wait for the new (erroneous) profile to load and then open the list again to select the actual desired profile.

[2020-06-09 23:01] dconrad5 commented on #5792
Ok, so admittedly it doesn't happen every time and it's more like the outer 1/6 of the button or something, but this video should give a good idea of what it looks like. It seems to be more likely in the "downward" direction than the "upwards" one.

https://youtu.be/O8AnRx5P5Nk

EDIT: One thing is that it might be due to extremely small movements between click and release? It seems to happen more

[2020-06-10 00:05] teplit opened #5793 "Warn the user about missing files"
If the PP3 file points to a missing DCP profile, RawTherapee 5.8 will not notify the user about that and the latter may not notice the problem indicated simply as a **(None)** Input Profile. This is potentially unsafe situation.

[2020-06-10 09:50] Thanatomanic opened #5794 "LittleCMS update 2.10 now includes fast_float plugin"
While updating MSYS2 I saw that Little CMS has had an update: http://www.littlecms.com/ and https://sourceforge.net/projects/lcms/files/lcms/2.10/

Is this of any interest to us?

[2020-06-10 18:22] Pandagrapher commented on #5792
I reproduce the problem only if the click is long. It seems the difference (not huge) between the click-select-click and the click-drag-release behavior depends of the click length.

It never happens tho if you use the touch-for-click behavior of your trackpad.

Unfortunately, the GTK widget behavior cannot be changed easily...

[2020-06-10 18:35] Pandagrapher commented on #5784
@xiota
RawTherapee icons are .svg images which are generated to .png at application startup. The color image is hard-coded during conversion (`# CCCCCC`) and cannot be updated with CSS.

[2020-06-10 19:43] dconrad5 commented on #5792
What if the button were made smaller or the list items were made bigger, so the cursor would always be on the currently selected item when the list opens? You can see that at the edges of the button, the cursor is on an adjacent item when the list opens. Would this type of solution be possible?

Or possibly is the click length required for click-drag-release configurable in GTK?

It seems to happe

[2020-06-11 05:51] Desmis commented on #5791
@ff2000
Same answer as in PULL REQUEST

I think it will **be almost impossible to ensure compatibility** .... The operation is different...
To sum up, in 2014 I imagined an operation with the inverted "shadows threshold" slider...not intuitive at all

When @TechXavAL  begin to write documentation, he showed the difficulties of understanding.

After several stages **I had the wrong idea of the curv

[2020-06-11 13:09] dconrad5 commented on #5792
At the risk of spamming this with unnecessary information, I just want to add that I just realized it does happen sometimes where it selects the current profile again. I don't think this is _as_ big of a deal because it doesn't cause it to reload the profile or change any settings, but it does mean you need to open the combo box again and ultimately gives a slightly "janky" feel (imo).

Is the wid

[2020-06-11 16:25] mandree opened #5796 "SIGSEGV (null lumcalc[][] deref) in rtengine::ImProcFunctions::RGB_denoise [5.8 tarball] when tiled"
Hi,

I am the packager of RawTherapee for FreeBSD. I've recently received pkg-fallout@ mail meaning issues with our package, and chances are that due to GCC or library updates, circumstances have changed and I can crash rawtherapee with command line options `-q -s -Y -c` but not with `-q -f -c`.

- Preprocessing parameters: [https://people.freebsd.org/~mandree/_DSC3041.ARW.pp3](https://people.free

[2020-06-11 18:45] Pandagrapher commented on #5792
@dconrad5
It's Gtk ComboBoxText widget:
https://developer.gnome.org/gtkmm/stable/classGtk_1_1ComboBoxText.html
Which is used in `rtgui/profilepanel.h/.cc`.

[2020-06-11 21:23] mandree commented on #5796
Perhaps I should add that the code to set up the directories I am referencing lives in the post-install: target here: https://svnweb.freebsd.org/ports/head/graphics/rawtherapee/Makefile?revision=538522&view=markup#l168

[2020-06-11 21:33] Beep6581 commented on #5792
@dconrad5 @Pandagrapher can you reproduce this in other GTK3-using software? If so, we should close this and report upstream.

[2020-06-11 22:21] Beep6581 commented on #5784
Closing as the shipped themes, as well as RT code, are specially tailored to suite image editing and there is no motivation to work on inheriting system colors.

[2020-06-11 22:21] #5784 closed, assigned to nobody

[2020-06-11 22:54] Beep6581 commented on #5360
`ColorSpace` applies to the embedded JPEG. Nothing to do with the raw data. I don't know what `ColorMode` applies to in Sony files, probably also the JPEG.

[2020-06-11 23:28] dconrad5 commented on #5792
Per the above referenced GTK issue 1954, I followed it to the original submitter there's inkscape bug report. I downloaded inkscape and sure enough, it happens there too:

https://www.youtube.com/watch?v=25WObLr1vWg&feature=youtu.be

I also verified the GTK issue 1954 occurs in the gtk3-demo program as well:

https://www.youtube.com/watch?v=NXltDQMZoqU&feature=youtu.be

[2020-06-12 04:25] Pandagrapher commented on #5792
Problem already reported as GTK known issue:
https://gitlab.gnome.org/GNOME/gtk/-/issues/258

[2020-06-12 04:25] #5792 closed, assigned to nobody

[2020-06-12 04:31] dconrad5 commented on #5792
If I'm reading this right, this bug has been open and known for... 14 years? And nobody has bothered to fix it? Welp...

[2020-06-12 06:28] teplit commented on #5793
More generally RawTherapee can display a warning about missing user specified file(s) during reading of PP3 file. The user specified files (e.g. DCP profile, LCP file and others) affect the image processing and their silent substitution can change the intended look of the image and cause subsequent problems if the user don’t notice their absence. Some widely used industrial applications not only w

[2020-06-12 09:45] Beep6581 commented on #5793
Duplicate of #4261

[2020-06-12 09:45] #5793 closed, assigned to nobody

[2020-06-12 09:46] #5790 closed, assigned to nobody

[2020-06-12 09:47] Beep6581 commented on #5790
Please add missing/relevant shortcuts to #3510

[2020-06-12 10:57] heckflosse commented on #5796
Thanks for reporting. Bug confirmed.

[2020-06-12 10:57] #5796 closed, assigned to heckflosse

[2020-06-12 12:38] dconrad5 commented on #3510
As mentioned in #5790, in addition to others outlined in this issue, Command-H and Command-Option-H do not work - they simply don't do anything. There's no overlap with another function because those are the generally accepted shortcuts to hide an application/hide all other applications, but they still don't work.

[2020-06-12 16:36] TechXavAL commented on #5791
Correction:

- for "Finer levels" : Only levels below and including the chosen value will be affected by the Highlight luminance range

- for "Coarser levels": Only levels from the chosen value to the selected number of ‘wavelet levels’ will be affected by the Shadow luminance range

[2020-06-12 19:59] TechXavAL commented on #5171
Maybe the same problem?

I can consistently crash RT 5.8dev (commit 6c1055f98) on linux Mint 19.3.

The raw image comes from this Playraw: https://discuss.pixls.us/t/besoin-d-aide-image/18712/1

The pp3 with the problem ready to crash RT is this one:
[IMG_1270.CR2_TMbroken.pp3.zip](https://github.com/Beep6581/RawTherapee/files/4772893/IMG_1270.CR2_TMbroken.pp3.zip)

Just open the image and apply t

[2020-06-12 21:15] heckflosse commented on #5171
@TechXavAL Thanks for your report. I will give it another try to fix the issue at the weekend. Can not promise success though...

[2020-06-13 11:39] TechXavAL commented on #5171
@heckflosse No problem. I already know that I'm fine by not going past 3.6 in Edge stopping.

[2020-06-13 16:00] Desmis commented on #5171
@heckflosse
Ingo
I tried with of course the same file, and the same pp3
But I enable "Tone mapping" in Local adjustments with the same "settings" @TechXavAL

I try, try, try... no crash...in this case TM is call internal to "iplocallab.cc"
Of course, I choose a big RT-spot beyond the preview...hence we are for "epd" in the same case.

And if I try with "TM main"...crash : in this case TM is call f

[2020-06-13 16:43] Desmis commented on #5171
@heckflosse
Ingo
I disable "epd" in rttumbnail.cc ==> no crash ??

Jacques

[2020-06-13 16:55] Desmis commented on #5171
Yes it crash also  ...sorry :)

But in "local adjustments", the image becomes "dark"... with "local contrast"

[2020-06-13 17:17] heckflosse commented on #5171
@Desmis Jacques, for whatever reason Tone Mapping sometimes produced -inf values. I just clamped them to 0 to fix the crash

[2020-06-13 17:20] Desmis commented on #5171
@heckflosse
I don't know

But (I speak of main TM), if you put in  "Local contrast"  "darkness level" = 0 , no crash, darkness level =0.02 crash

[2020-06-14 12:57] sk7711 commented on #4752
Had the same problem, turned out I had Cyrillic names in the path which RT could not process. Solved by renaming everything to Latin.

[2020-06-14 13:59] mandree commented on #5796
FreeBSD's rawtherapee 5.8_4 port and package are shipping this patch as cherry-pick (both on head/ as well as on the 2020Q2 quarterly branch)

[2020-06-14 14:34] heckflosse commented on #5796
@mandree I also fixed another one. Sorry for not mentioning the fix in this issue.
https://github.com/Beep6581/RawTherapee/commit/6c1055f985a202e1b1a87f8d33b482748f41a167

[2020-06-14 15:10] mandree commented on #5796
@heckflosse thanks for the heads-up. Now preparing rawtherapee-5.8_5 for FreeBSD...

[2020-06-14 15:17] mandree commented on #5796
Oh, and patch wasn't really helpful in combining these two patches that were so similar in content... had to do it manually, sequential patching or combinediff both failed.

[2020-06-14 15:34] mandree commented on #5796
It's in FreeBSD 5.8_5, as of r538813 (head/) and r538814 (quarterly branches/2020Q2) ports, packages to follow with next rebuild turn.

[2020-06-14 16:40] Thanatomanic opened #5799 "Setting a crop, then disabling it, then using a color picker, resets the crop"
To reproduce:
1. Apply Neutral
2. Enable Crop and select an arbitrary crop
3. Disable Crop (the crop values are still shown and re-enabling the tool restores the crop)
4. Pick WB
5. Enable Crop, the crop values are now reset to the full image.

The other Crop options are not reset, just the dimensions. This happens in `dev`. I haven't tested in 5.8 release.

[2020-06-14 16:43] #5171 closed, assigned to heckflosse

[2020-06-14 16:55] Thanatomanic commented on #5799
This is also a bug in 5.8 release.

[2020-06-16 08:55] #5787 closed, assigned to nobody

[2020-06-16 09:31] Pandagrapher commented on #5410
@Desmis @Thanatomanic @heckflosse @Floessie @Beep6581
Hello All,

I have started working on a TreeView upgrade. My purpose is to make it more intuitive and reduce the number of buttons/sliders in "Settings" panel.

Here a proposal:
![image](https://user-images.githubusercontent.com/40305292/84757196-235d7680-afc4-11ea-8a24-a1abe4a70613.png)

Does this seem to you more intuitive? Do not hesitate if

[2020-06-17 04:32] paolodepetrillo opened #5800 "Automatic CA correction failure"
The automatic CA correction under "Sensor with Bayer Matrix" fails for one specific raw file. This file was taken with a sharp macro lens so doesn't really need any correction. I understand the algorithm isn't expected to work perfectly in all cases but I suspect this might be worth looking into.

These screenshots show the file opened and zoomed to 1:1 with Neutral profile and the auto CA correct

[2020-06-17 09:21] heckflosse commented on #5800
Using a 5.8 dev build you can use this
![grafik](https://user-images.githubusercontent.com/13733487/84880256-9a5e4200-b08c-11ea-8aca-1dd2c33a319e.png)

[2020-06-17 09:39] Thanatomanic commented on #5261
Closing for now, since there have been plenty of changes to the locallab code and it is now merged into dev.
@sguyader If you ever find a (presumed) leak again, please open a new issue.

[2020-06-17 09:39] #5261 closed, assigned to nobody

[2020-06-17 09:41] Thanatomanic commented on #4094
@Desmis @Pandagrapher  Congratulations on the merge into dev!
Can you comment on this issue: should we close and start a fresh new list?

[2020-06-17 09:42] Thanatomanic commented on #5268
@Pandagrapher Is this issue still relevant?

[2020-06-17 09:43] Thanatomanic commented on #5419
@ff2000 The locallab tool has now been merged into `dev`. Can you please test if you still have this issue?

[2020-06-17 17:10] Stuntflyer opened #5801 "Feature Request: Add "white" slider to the Exposure tab."
As one of many users coming from LR or ACR, I think that it would be useful to have in addition to the black slider, a white slider adjustment in the Exposure tab. This would allow for doing the basic exposure adjustments all in one place. I know that the white point can be set in curves, but not having to jump around to other modules would speed up the exposure workflow.

In addition, I think it

[2020-06-17 17:31] Pandagrapher commented on #5268
@Thanatomanic
Issue correction is included in the content which has been merged into `dev`

[2020-06-17 17:31] #5268 closed, assigned to heckflosse

[2020-06-17 17:36] Pandagrapher commented on #5255
.pp3 file size has been reduced by only saving added tools for each spot. This improvement is included in the content which has been merge into `dev`. So this issue can be now closed.

[2020-06-17 17:36] #5255 closed, assigned to heckflosse, Desmis

[2020-06-18 11:21] Beep6581 commented on #5801
How does LR/ACR's "white" work?

[2020-06-18 11:22] Beep6581 commented on #5643
Duplicate of #4386

[2020-06-18 11:22] #5643 closed, assigned to nobody

[2020-06-18 11:24] Beep6581 commented on #2899
Duplicate of #4261

[2020-06-18 11:24] #2899 closed

[2020-06-18 11:59] ZoomRmc opened #5802 "Add magnifier to crop tool cursor for precise positioning"
Crop tool pointer at this moment doesn't allow precise positioning.
Crosshair extensions and magnifier preview field, as seen in screen capture software, such as [ShareX](https://github.com/ShareX/ShareX) and [Greenshot](https://github.com/greenshot/greenshot), could provide very convenient way to fast cropping.

ShareX crosshair and magnifier:
![sharex-magnifier](https://user-images.githubusercon

[2020-06-18 12:52] Beep6581 commented on #5410
Sounds good. I can help with the icons if you like.

[2020-06-18 13:54] paolodepetrillo commented on #5800
Thanks! That does fix the problem for my image with the latest version in dev. It results in a much larger value of `numblox[1]` avoiding the code that caused the problem originally.

I suspect that there might still be something wrong in the case where `numblox[1] < 32`, although I might just be misunderstanding what it's doing.
It looks like the loop on lines 784-806 sets up `polymat[c][dir]` as

[2020-06-18 19:51] Pandagrapher commented on #5410
@Beep6581

Sure :) I am not really skilled with Inkscape

The list of icons for the TreeView:
- 1st column:
    - "Add" -> I used the "add-small" one
    - "Duplicate" -> I have created a "copy-small" from "copy" icon
- 3rd column (shape):
    - "Rectangle"
    - "Ellipse"
- 4th column (type): This column is definitely not the easy one to be intuitive with such a small icon. I was thinking like ma

[2020-06-18 21:20] Stuntflyer commented on #5801
The white slider in LR/ACR allows one to increase the luminance levels of the whites (highlights) via a slider. Holding down the "alt" key shows what color channels are being clipped as the slider is moved to the right.

[2020-06-19 02:10] teplit commented on #5801
For Lightroom Classic Adobe gives the following [explanation](https://helpx.adobe.com/lightroom-classic/help/image-tone-color.html#adjust_overall_image_tonal_scale):

For Lightroom CC Adobe gives the following [explanation](https://helpx.adobe.com/lightroom-cc/using/edit-photos.html#Light):

Note that the Blacks slider of Adobe Camera Raw behaves quite differently from the Exposure - Black slider

[2020-06-19 03:32] Stuntflyer commented on #5801
Thanks! I didn't know that.

[2020-06-19 06:47] Desmis commented on #5410
@Pandagrapher

After thinking about it, I think that when you are going to simplify the GUI of "settings" in a few days (expanders to decrease the size of settings), you should remove the checkbox "Mask laplacian solve PDE".
Indeed in 99% of cases, the use is "enabled"
You should not make this variable disappear, but make it inaccessible to the user, by ensuring through the GUI that it is "enabled

[2020-06-20 19:42] heckflosse opened #5805 "Better test methods for algorithms using OpenMp"
Hi all,

I would like to break a lance for better test methods of algorithms using OpenMp.

Using OpenMp we can get races, if the implementation of an algorithm is incorrect.

We can check for this with the following approach:

1) process an image in queue 3 times to 16 bit tiff using all cores and check for differences between output of 1,2 and 1,3

2) If there are differences, there is a race wh

[2020-06-20 22:52] Lawrence37 opened #5806 "Preview updates incorrectly when using perspective correction"
This is a follow-up to a bug @heckflosse found. https://github.com/Beep6581/RawTherapee/pull/5569#issuecomment-646619991

Example:
1. Open an image. Apply the neutral profile.
2. Set horizontal perspective to +100.
3. Change the value to -100 by typing it in. The value must change from +100 to -100 directly, so don't use the slider.
4. Observe how the preview is shifted to the right compared to th

[2020-06-21 06:22] ff2000 opened #5807 "issues with locallab "preview dE" colors"
I am red-green blind and have issues with visibility of the colors highlighting the areas of "preview deltaE".
I am aware of the "color preview selection deltaE - intensity" slider.

Issues I could identify so far:
1) The preview color changes brightness with the area it highlights.
I can't really see highlighting in bright areas, no matter where I place the intensity slider.
2) The preview color

[2020-06-21 10:49] ff2000 commented on #5419
Yes, just tested and those issues are still present.
1) pulling around a handle and you get an offset.
2) CPU usage still extreme when moving the outline, even when there are no tools added to the spot.
3) memory usage, while better as it seems, still grows faster with locallab enabled than without.

Using tcmalloc made memory consumption of RT way more managable. Unfortunately now RT segfaults wi

[2020-06-21 11:05] Desmis commented on #5805
@heckflosse

It seems good :)

jacques

[2020-06-21 14:29] purew commented on #5698
I'd be happy digging into this and submitting a patch. Any pointers as to where I should start digging?

[2020-06-21 14:59] heckflosse commented on #5698
@PureW Great that you want to help :+1:
Maybe start here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc#L1230

[2020-06-21 16:13] purew commented on #5698
That was simple, the size is 71924 which is more than 65530 and the write wont be triggered at https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc#L1233

I'm not sure though why the jpeg is not allowed to be larger and how this should be resolved?

[2020-06-21 16:43] heckflosse commented on #5698
Maybe there's a large block in exif data we can exclude for the jpeg?

[2020-06-21 16:52] Thanatomanic commented on #5698
Wikipedia has this to say about the size limit: https://en.wikipedia.org/wiki/Exif#Technical_2
(fifth point)

[2020-06-21 17:31] purew commented on #5698
I'm printing the exif tags as seen by rawtherapee during export and `ShotInfo: size 53670` and `ApplicationNotes: size 12288` stands out:

[code]

For reference, here's the exifdump from a camera jpeg:
[code]

[2020-06-21 17:55] heckflosse commented on #5698
According to https://exiftool.org/TagNames/EXIF.html

ApplicationNotes notes are XMP tags (not from RawTherapee for sure). Maybe we should just exclude them from the jpeg

[2020-06-21 18:31] purew commented on #5698
I opened a PR to drop just the ShotInfo. Would you like me to amend it to drop the entire `MakerNotes`?

[2020-06-21 18:45] heckflosse commented on #5698
@PureW

Definitely not. A lot of cameras have some infos in MakerNote sub tag which might by good to keep

[2020-06-21 18:46] heckflosse commented on #5698
@PureW I will have a look now what's inside the MakerNotes.ShotInfo of Nikon Z-Series...

[2020-06-21 18:49] heckflosse commented on #5698
@PureW `MakerNotes.ShotInfo` Looks like some data which is not interpreted by RawTherapee at all
![grafik](https://user-images.githubusercontent.com/13733487/85232620-928dfd00-b400-11ea-9637-118d80ddc7dd.png)

Should be ok to not include it into jpeg exif data.

[2020-06-22 17:32] heckflosse commented on #5800
To get a good result from raw ca-correction, you need a good preprocessing white balance. That's also the case for a good demosaic result. If you shoot for example uniwb (fixed white balance in camera), RT has to use preprocessing auto-wb before, because in this case the wb reported by the camera will be wrong.

If you set your Camera to Auto-Wb, the new feature will use this wb for prepocessing a

[2020-06-23 06:55] TechXavAL opened #5809 "Wavelet Levels crashes RT"
Using RT 5.8dev (commit 680792807), Linux Mint 19.3

The image I am developing comes from: https://discuss.pixls.us/t/playraw-narcissus/11974

The problematic pp3 is:
[20190401_Southpark_1706_Flower_weird.DNG.pp3.zip](https://github.com/Beep6581/RawTherapee/files/4817533/20190401_Southpark_1706_Flower_weird.DNG.pp3.zip)

I can't seem to find where the problem is, and I can't reproduce the problem

[2020-06-23 08:34] Floessie commented on #5809
Crash confirmed with latest `dev` on Debian Testing AMD64.

[2020-06-23 09:18] Floessie commented on #5809
Doesn't crash under GDB nor when built as `debug`. :angry:

[2020-06-23 10:08] heckflosse commented on #5809
I can not reproduce on Windows using gcc 9.3.
Which compiler do you use?

[2020-06-23 10:47] Floessie commented on #5809
@heckflosse

[code]

[2020-06-23 11:49] heckflosse commented on #5809
@Floessie @Thanatomanic Can you try to reduce the issue to less tools? I can not, as I can not reproduce :(

[2020-06-23 12:18] Thanatomanic commented on #5809
I haven't been able to crash RT yet, but something weird happens when you do this:
1. Load the PP3
2. Enable "Sharp-mask and Clarity", let it process
3. Disable "Sharp-mask and Clarity".

For a moment (noticeable) the image turns grey with minimal contrast. The histogram also updates to show that. Then it turns to show the correct image again. Maybe this is usual behavior for this tool, I don't kn

[2020-06-23 12:24] heckflosse commented on #5809
@Thanatomanic I confirm the odd behaviour with "Sharp-mask and Clarity".

As you are also on Windows and can not reproduce the crash, I guess the crash is caused by uninitialized memory.

[2020-06-23 12:33] Floessie commented on #5809
@heckflosse At least I got a core dump from the `release` build. Maybe a small hint:

[code]

[2020-06-23 13:08] Beep6581 commented on #5806
Hey @Lawrence37

The team appreciates your involvement and thought it would be good to give you commit access, so if you accept the invitation you will have it immediately. Great power, great responsibility, and all that.
See this, and shoot if you have questions:
https://github.com/Beep6581/RawTherapee/blob/dev/CONTRIBUTING.md

[2020-06-23 14:43] TechXavAL commented on #5809
The odd behavior with the Clarity module perhaps has to do with it automatically changing the Settings of the tool, and it might take a while to do it.

I have checked what happens with a Debug compilation and it doesn't crash here either. But with exactly the same source code and by compiling a Release version, the crash is there again.

[2020-06-23 14:46] TechXavAL commented on #5809
I have also tried only Wavelet Levels with White Balance on. Not crashing

But if I turn on Local Contrast, it crashes again

[2020-06-23 14:56] heckflosse commented on #5809
Sounds familiar ....

[2020-06-23 18:23] TechXavAL commented on #5809
Sorry, but I should have done more tests: it crashes even with Wavelet Levels alone (and White Balance).

And a lot of times after a crash the image doesn't even load in the Editor without crashing RT. I have to load a couple other images into the Editor first to be able to load the problematic image+pp3 into the Editor

[2020-06-23 18:24] Thanatomanic commented on #5809
How much memory do you have in your system?

[2020-06-23 19:45] TechXavAL commented on #5809
I have a Core i7-4790 with 32GB of memory, with 8GB of swap partition on an SSD hard drive.

And the same image with the same pp3 doesn't crash RT in version 5.8release or in dev-debug

[2020-06-24 00:25] Lawrence37 commented on #5806
Thanks! I've been a long time user of RawTherapee and this is my way of giving back. I'll try not to break things.

I do have a question. What are some guidelines for requesting reviews in pull requests? I don't want to spam people with unnecessary requests.

[2020-06-24 06:03] Floessie commented on #5809
I can confirm this. Additionally, I was working on an image last night (not on latest `dev` but post locallab merge), and with minimal deviations from the default profile (no wavelets, no locallab) the preview shortly turned reddish while saving (Ctrl+S). The produced JPG was okay, though. This only happened once.

[2020-06-24 06:55] Thanatomanic commented on #5809
I got a crash in `dev` on Windows! I added a Local adjustment spot and was only changing the size of the spot when I got a segfault. Now building a debug-build to see if I can get a stacktrace...

[2020-06-24 07:32] Thanatomanic commented on #5809
In debug there is no crash...

Maybe off topic: I do notice a crazy amount of page faults happening while editing. Just opening a file (even on Neutral profile) causes around 500.000. A simple edit like changing exposure adds another 40.000. In fact, just moving my mouse over the image adds page faults, pushes my CPU to 10% and causes fluctuations in allocated memory. RawTherapee is certainly not

[2020-06-24 07:34] Thanatomanic commented on #5807
Just wanted to say: thank you for raising this issue! There is a lot to learn in terms of accessibility.

[2020-06-24 07:45] Thanatomanic opened #5811 "Local adjustments: showing spots and high CPU even when disabled"
I have two related remarks on the Local adjustments tool:
1. You can generate and edit spots even when the tool is disabled. This is all right I suppose, as you can also manipulate other sliders in other tools when they are turned off. However, I don't think the spots should be _visible_ unless the tool is active. Currently the spots show up when you enter the 'Local' tab. That seems strange to me

[2020-06-24 10:31] heckflosse commented on #5809
@Thanatomanic

Perhaps we should review the code which calculates the values shown below navigator preview...

[2020-06-24 15:36] heckflosse commented on #5806
@Lawrence37 Welcome to the team :+1:

Just request a review from me. I will then look and perhaps request a review from someone else too

[2020-06-25 04:13] Yz2house opened #5812 "Update GUI in Japanese"
Update GUI in Japanese according to the latest default file and some modifications.
Regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/4829052/Japanese.txt)

[2020-06-25 11:53] heckflosse commented on #5809
@Thanatomanic

I want to come back to this. It looks like the reason for CPU usage being ~10% when moving the mouse, are the updates to histogram and navigator. When I hide both, mouse movements don't push cpu load. Can you confirm?

Perhaps we should use a delay as we do for adjusters...

[2020-06-25 12:55] Thanatomanic opened #5813 "Relatively high CPU usage for reading out navigator and histogram"
See here https://github.com/Beep6581/RawTherapee/issues/5809#issuecomment-649494251

Comment by @heckflosse

I confirm that when the histogram and navigator are hidden, there is virtually no CPU usage and no page faults happening. When they are shown and I hover over the image, my CPU is consistently at 10% and many thousands of page faults happen.

I don't know what a delay would do. I don't unde

[2020-06-25 13:23] heckflosse commented on #5813
Thanks for testing and confirming.
The fact that there is no CPU usage when histogram and navigator are hidden, means that the load when navigator and histogram are not hidden, is caused by updating the gui (the values for the gui are also readout if navigator and histogram are hidden, so this can not be the culprit).

A delay would mean that we update histogram and navigator not every time the mo

[2020-06-25 13:55] heckflosse commented on #5813
About the delay: Currently it's only used for adjusters. Curves for example don't have a delay unfortunately. Each change to a curve leads to an immediate reprocessing. By implementing the delay-functionality a bit more generic, we could use it for curves, mouse movements etc. as well.

Maybe @Floessie can help with that, as iirc he also made the nice `IdleRegister` in guiutils.*

[2020-06-25 15:26] TechXavAL commented on #5809
I don't know if it will be of any use, but I've thought that even the release version will not give much information, it wouldn't be a bad idea running it with a debugger (gdb). This is what I got:

[RTcrash_log.txt.zip](https://github.com/Beep6581/RawTherapee/files/4832285/RTcrash_log.txt.zip)

[2020-06-25 17:26] heckflosse commented on #5813
To clarify, what causes the cpu-load when moving the mouse are the ui updates to this two regions
![grafik](https://user-images.githubusercontent.com/13733487/85768887-c7a89100-b719-11ea-8fe5-16ea758981f0.png)

[2020-06-25 17:56] #5558 closed, assigned to nobody

[2020-06-27 11:19] #5812 closed, assigned to Beep6581

[2020-06-28 16:37] TechXavAL commented on #5809
I've been checking with another file, and although it still crashes, I think the problem is at or near the Edge Sharpness module:

* with a 216MB Hasselblad raw image, RT doesn't crash until I turn on the _Enhanced algorithm_ with a _Base amplification_ different than default (default:10, set to 20)
* with the original image in this issue (the daffodil), RT crashes the moment I turn on the _Enhanc

[2020-06-29 00:04] vivo75 opened #5817 "R++,G----,B+ wrong color in output files, not reproducible in appimage"
Hi,
   I've a problem with a recent build of rawtherapee in gentoo - something recent, was not present when 5.8 has been released.

There is a strong violet colorization of the image both as seen in monitor and as produced by rawtherapee

facts:
- We are comparing rawtherapee built with my ebuild in gentoo _and_ appimage 5.8 both are built from commit 9a9e0ac
- linked libraries are similar, gentoo

[2020-06-29 03:29] ff2000 commented on #5817
Known issue. https://github.com/Beep6581/RawTherapee/issues/5749
There also are solutions: revert to gcc9 or disable -ftree-loop-vectorize (which IMO should be done automatically since https://github.com/Beep6581/RawTherapee/commit/49c4d0a27c3de089a8f50695cddc73532d622f95 )

[2020-06-29 05:29] Thanatomanic commented on #5817
Please update your local repository and checkout the `dev` branch. This should resolve your issue.

[2020-06-29 05:29] #5817 closed, assigned to nobody

[2020-06-29 07:33] wbzqe opened #5818 "compile RawTherapee use other raw decoder like rawspeed"
hi
is there any plan add other raw decoder like[ rawspeed  ](https://github.com/darktable-org/rawspeed)

[2020-06-29 07:35] Thanatomanic commented on #5818
Please see https://github.com/Beep6581/RawTherapee/issues/4462.
If you want to add something to the discussion, please do it there.

[2020-06-29 07:35] #5818 closed, assigned to nobody

[2020-06-29 08:24] wbzqe commented on #4462
hi,
use rt5.8 process a CR2 image, got result below , dcraw in RT seems have some bug .

![RT-result](https://user-images.githubusercontent.com/7522761/85989133-b36ad980-ba22-11ea-96cf-e6bb6b978776.png)

use darktable decode , it seems right..
![darktable-result](https://user-images.githubusercontent.com/7522761/85988929-5b33d780-ba22-11ea-88bf-71d1de31fd32.png)

look forward to RT adding support

[2020-06-29 08:33] Thanatomanic commented on #4462
@wbzqe Unfortunately, this is completely irrelevant to the discussion. The fact that one raw file doesn't get processed correctly, is zero reason for us to switch to a totally different decoding engine.
If your file is not being processed correctly, file a _specific_ bug report for _that problem_. Include your RAW file + PP3 file so that we can take a look what is going on.

[2020-06-29 08:43] ff2000 opened #5819 "locallab - exposure: Tools won't work as long as "Exposure compensation" is set to something different than 0.00"
I often just want to locally pull up the shadows.
So I open the "Exposure" module, expand "Exposure tools" and pull up the "Shadows" slider.
And nothing changes. I need to first dial in some value !=0.00 in the exposure compensation slider.

IMO the "Exposure" tools should all work regardless of the position of the "Exposure compensation" slider.

[2020-06-29 08:47] wbzqe commented on #4462
@Thanatomanic  Think you for your patient reply .

[2020-06-29 14:25] Desmis commented on #5819
@ff2000
I push a commit 59998a25 which fixe this behavior

jacques

[2020-06-30 06:13] ff2000 commented on #5819
Now it only works for shadows. If somebody wants to apply just highlight compression she/he has to chenge exposure compensation or (now) shadows.

The "shadows" was an example to supply a use case and something to try out. For the desired behaviour I added the last sentence: "IMO the "Exposure" tools should all work regardless of the position of the "Exposure compensation" slider."
But perhaps tha

[2020-06-30 06:29] Desmis commented on #5819
Ok, I will open a new branch "localtest" where I hope you can find what you want ...
Let me some times..

jacques

[2020-06-30 06:49] Desmis commented on #5819
@ff2000
You can use the branch "localtest" with 2 features
* enable if "highlight compression" > 0
* some change to Guidedfilter softradius

I open a Pull Request....
But why do you closed this issue ?

Jacques

[2020-06-30 09:22] Desmis commented on #5819
I made anothers changes
* tooltip for "exposure compensation"
* weak first steps of sliders "exposure compensation"
* improve "exposure" in Inverse

[2020-06-30 13:56] zflat opened #5821 "TP_LENSPROFILE_LENS_WARNING overly cautious?"
Hi,

I got the TP_LENSPROFILE_LENS_WARNING warning "Warning: the crop factor used for lens profiling is larger than the crop factor of the camera, the results might be wrong." even though I am using data from lensfun for what I think is a very standard camera & lens combination since they are sold as a kit and are an older model.

I see that lensprofile.cc shows the warning here

https://github.co

[2020-06-30 20:15] gaaned92 commented on #5821
All values of lenscrop smaller than camcrop are ok as it means the  data were generated with a sensor larger than the one used in camera.
The 1.01 factor is just a security as the crop factors in lensfun are sometimes approximate.

-  With the lensfun data shown ( lenscrop=1.611 and cameracrop =1,613), there should not be a warning. Without providing a  photo, it is not really possible to reproduc

[2020-07-01 04:36] ff2000 commented on #5819
Thank you, changes in localtest look good.
Closing was unintentional, so I'll reopen.

[2020-07-01 18:09] #5806 closed, assigned to Lawrence37

[2020-07-01 21:57] #5594 closed, assigned to Lawrence37

[2020-07-02 15:30] dancat opened #5824 "Fuji X-T2 Support - White Frames"
Hi,

I took some sets of white frames for Fuji X-T2 as specified in http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats#White_Levels

They can be found in https://filebin.net/pd90j4akospyzca4

Let me know if more are needed.

All the best,
Daniel

[2020-07-02 15:32] Thanatomanic commented on #5824
Thanks!

[2020-07-02 17:41] Thanatomanic commented on #5824
Interestingly, the sensor seems to be slightly non-uniform. Take a look at this:
![image](https://user-images.githubusercontent.com/6567747/86392475-cfc57b00-bc9b-11ea-805e-33175d176e58.png)

This is for DSCF7302.RAF (no LNR). Values scaled to enhance the differences. The actual difference in 14-bit raw values is a mere ~500 away from 2^14.

[2020-07-02 19:28] maboleth opened #5825 "Redesign of a Crop tool?"
I find Crop tool not that much intuitive and clunky.

Key issues:
- Cropped parts remain at all times and seriously alter perception of how the image looks like, even with "fit crop to screen".
- Moving the remaining field around the image requires two hands - shift pressed.
- Thumbnail gets considerably smaller with large black rectangle around the image - harder to see, depending on the crop.

I

[2020-07-02 19:34] dancat commented on #5824
Interesting indeed ...

I read on dpreview some analysis regarding the use of the X-T2 for astrophotography and their finding was that the camera applies some sort of filtering over the raw data, what you see might be caused by this?!? I think the effect was very visible with longer exposures (over 5 seconds)

Another thing that might matter, for this type of cameras is the type of shutter used. I

[2020-07-02 20:07] heckflosse commented on #5825
![grafik](https://user-images.githubusercontent.com/13733487/86404627-43718300-bcb0-11ea-893f-0105ff8a4881.png)

[2020-07-02 21:02] maboleth commented on #5825
Thanks for that. If you didn't tell me this, I'd never figure this out. Seriously. I searched in the Preferences for this and since I didn't find it, with "Fit to crop" icon there, I was like 100% sure this was a feature of RT.
Of course it is said in the manual - but who reads the manual for the crop tool unless something big/advanced changed? :D

Also, what about the thumbnails? Thumbnails still

[2020-07-02 21:10] maboleth commented on #5825
Well, if you move the image on the screen, cropped areas still pop-in. I really am not sure I like this.

I still think it would be logical for cropped areas to be 100% invisible unless being _in_ the crop tool.
If I cropped the image, why would I still be reminded it's cropped when I move it or see it in the thumbnail all the time?

It's almost like RT is telling me:
'_but you cropped your image!

[2020-07-02 23:51] hholtm opened #5826 "Perhaps unintended cooperation between geometric distortion correction and Lens/Geometry in Transform-tab?"
If in Transform-tab in Profiled Lens Correction Geometric distortion is activated and in Lens/Geometry Auto-fill is activated too I get an unintended crop although everything else inside Lens/Geometry is untouched. If Auto-fill is deactivated, everything works fine and I get no unintended crop.
This behaviour seems to be relatively new, perhaps it came with new functions inside Lens/Geometry?
@Law

[2020-07-03 01:11] Lawrence37 commented on #5826
I might have found the problem. Let me see if I can fix it.

[2020-07-03 04:51] Lawrence37 commented on #5826
Thanks for reporting the bug. Are you able to test the change I made?

[2020-07-03 08:47] Thanatomanic commented on #5826
Hi @Lawrence37 quick note: for such a simple fix a new branch and a PR is a bit overkill imo. You could use `git diff` and provide a patch here for people to try out. For an example: #5564

[2020-07-03 09:05] Thanatomanic commented on #5825
There are a few related issues to this. #5076 #5678 #4083 #4263
I also remember an issue about having the automatic WB work only on the cropped selection, but I can't find it.

I agree with this. Though, the code that handles the preview and crop is ~~a hot mess~~ complicated and it will break _a ton_ of other stuff if we start modifying it. Bad code, maybe, a lot of work to right the wrongs, abso

[2020-07-03 09:48] maboleth commented on #4083
I agree with this. This should be default as OP said.
Come on, OP opened this in 2017... it can't be that hard to change this! ;)

[2020-07-03 10:02] maboleth commented on #5825
Thanks for letting me know that.
That's a bit unfortunate, considering how much work it requires. However, better sooner than never I guess?

Not sure of your priorities as of now, Crop is important tool nonetheless. But even those slight QoL changes, like middle-click pan would help. And I believe that's not hard to code?

I'm not a programmer, but I could test it to the extreme if you guys need

[2020-07-03 10:09] Thanatomanic commented on #5825
Thanks for wanting to test. This may be something to revisit when we start thinking about RT6.0. It's always good to discuss issues from a usability perspective.

That was my point: currently it takes the whole image, but I think it makes much more sense to only calculate it based on the selected crop. However, there are situations where this approach would fail. So the optimal solution would prob

[2020-07-03 10:42] hholtm commented on #5826
@Lawrence37  I'm using AppImages. So I can test only when the fix is integrated in an AppImage.

[2020-07-03 11:39] epa commented on #3206
I'd like to shoot with a real graduated filter on the camera, then undo the effect of that in RT.  So you now have an image with a uniform exposure level, but effectively higher dynamic range (the sky not blown out).  Having done that, I might then want to selectively add a graduated filter effect for artistic reasons, or before saving the image in a format that has limited dynamic range.

So I wo

[2020-07-03 19:01] Lawrence37 commented on #5826
The problem comes from a change I neglected to make in one of my pull requests. It's a very small change. Should I commit directly to dev then? Here's the diff for reference.

[code]

[2020-07-04 11:33] maboleth commented on #5825
@Thanatomanic
Is it realistic to expect middle mouse button press for panning the cropped selection in 5.9? Or resolving bugs #5076 & #4083?

The first guy requested it in 2017, three years ago. And it shouldn't be that difficult to change I guess? That would be some nice and easy QoL change.

[2020-07-04 11:49] snoukkis opened #5831 "Dark frame subtraction produces dark green image after conversion of CR3->dng"
I'm using a _Canon EOS M6 Mark II_ which produces CR3 format raw images. Because of the missing metadata support in RawTherapee for CR3, I'm first converting to dng.

Dark frame subtraction works correctly if I load the original CR3 image and subtract either CR3 or dng dark frame. See [this](https://mega.nz/file/xP4WQKQC#fwfd9XKXsvKat5rPppQWByyaniBZc1HGQw9cAwYQ664).

However if I load the converte

[2020-07-04 12:22] heckflosse commented on #5831
Looks fine here in 5.8 dev build
![grafik](https://user-images.githubusercontent.com/13733487/86512310-50ea5280-be01-11ea-9d23-49e1548bba42.png)

[2020-07-04 16:01] snoukkis commented on #5831
I tried to confirm that by building the macOS version (with Homebrew deps, without codesign/notarize) (since there seems to be no macOS nightly), but something went wrong:
[code]

Any tips getting it to compile in macOS? While I'm literate, clang/C++ is not my bread and butter. My Windows game oriented machine is not really suited for photo work so I wouldn't mind running dev version til 5.9 gets

[2020-07-04 20:54] fsenore commented on #4856
Here I am again. This issue is a big problem for me: I will try to explain why.

I use micro four thirds cameras where most lenses are heavily corrected in software for distortion. The jpegs created by the camera are also cropped very often, meaning that in RT I see a larger image. This is a problem because what I see in the viewfinder id not what I get in RT.

I fixed the problem by shooting imag

[2020-07-05 09:45] casta commented on #5826
Great thank’s ! I noticed the issue since some time on master. This change fixes the issue. Hope it will be soon pushed.

[2020-07-05 12:16] hholtm opened #5833 "Exposure compensation from Exif is not applied as Exposure correction automatically"
If exposure compensation is read from exif while loading a picture, a compensation of 0 i read as 0. But if the compensation value is less than 0, RT always shows -1.00, regardless to the actual value of exif-data. I think during loading a picture without .pp3 the exposure compensation should be the same as in exif-data.
Can someone please check and confirm when indicated.
I'm using Appimage RT-de

[2020-07-05 12:43] heckflosse commented on #5833
works fine here
![grafik](https://user-images.githubusercontent.com/13733487/86532933-cae80d80-becd-11ea-8a5d-74025d196932.png)

[2020-07-05 13:00] Thanatomanic commented on #5833
Can you share a raw file (+pp3) that you think is affected?

[2020-07-05 15:33] hholtm commented on #5833
Info as shown by @heckflosse is ok here too, but the EV-value is not transferred to Exposure compensation inside Exposure. And I thought this value should be transferred by first loading of a picture (without existing .pp3). Or is my presumption simply wrong?

[2020-07-05 15:43] hholtm commented on #5833
![Info](https://user-images.githubusercontent.com/39562391/86536378-4e622880-bee7-11ea-900a-f97bcecdf8e5.png)

Info (EV: 0.3)
![EC](https://user-images.githubusercontent.com/39562391/86536384-57eb9080-bee7-11ea-91e6-c2d78cd2a688.png)

Exposure compensation (-1.00)

[2020-07-05 15:45] heckflosse commented on #5833
Yes, your presumption is wrong. The EV-value is not used automatically, except you use `dynamic profiles` to do that
![grafik](https://user-images.githubusercontent.com/13733487/86536363-27a3f200-bee7-11ea-9341-ba85843813df.png)

[2020-07-05 15:45] heckflosse commented on #5833
Your copy/paste didn't work

[2020-07-05 15:47] hholtm commented on #5833
@heckflosse Thank you very much! I didn't know that.

[2020-07-05 15:59] heckflosse commented on #5833
@hholtm If you want to apply automatic correction for ev, just make a bunch of dynamic profiles. For example one which just sets the exposure compensation to + 0.3 like this
[apply_expcomp_p03.zip](https://github.com/Beep6581/RawTherapee/files/4875195/apply_expcomp_p03.zip)
and define some dynamic profiles like this one for files with -0.3 EV
![grafik](https://user-images.githubusercontent.com/137

[2020-07-05 18:00] blj86 opened #5835 "Canon 90D Support White Frames and Illuminant Frames"
I understand CR3 is still not fully supported yet however, I felt it beneficial to submit White and Illuminant frames for camera support in RT since it is a newer camera and I happen to own one as well as a color target.  Used google drive as filebin was not working.  Link is active files should be available approximately 10 mins or so from the posting of issue upload is still in progress.  **Cons

[2020-07-05 18:18] Thanatomanic commented on #5833
What do you think about a button near the Exposure slider that can be used to set the Exposure slider to a value that compensates for the value in the Exif? Or maybe a toggle button?

[2020-07-05 18:39] heckflosse commented on #5833
I would appreciate this :+1:

[2020-07-05 19:08] Lawrence37 commented on #5826
@hholtm The fix is in dev and will be available in version 5.8-2309 or higher.

[2020-07-07 03:19] Thanatomanic commented on #5825
@maboleth The fact that these issues (not bugs per se, they are marked as enhancements) are out for such a long time means either one of three things:
1. It _is_ difficult to change
2. No active developer thinks it is a particularly enjoyable thing to investigate (which is unfortunately often true for QoL stuff)
3. No active developer thinks it is actually worthwhile to change the current behavior

[2020-07-07 03:38] Thanatomanic commented on #5835
@blj86 Thank you for this set! It seems nice and complete :-)
Could you try out how well this profile works on several different photo's taken with your 90D? (remove the .txt file extension)

[RT_Test_Canon EOS 90D.dcp.txt](https://github.com/Beep6581/RawTherapee/files/4882330/RT_Test_Canon.EOS.90D.dcp.txt)

[2020-07-07 04:11] Thanatomanic commented on #5835
The above profile was made using the X-Rite software.

Can you also test this profile made with DCamProf? [RT_Test_Canon EOS 90D-DCamProf.dcp.txt](https://github.com/Beep6581/RawTherapee/files/4882415/RT_Test_Canon.EOS.90D-DCamProf.dcp.txt)

@Beep6581 Has been the expert on making these profiles, but I think I did all right, following the instructions here http://rawpedia.rawtherapee.com/How_to_cr

[2020-07-07 05:24] Thanatomanic opened #5837 "Modifications to camconst.json for Canon 90D suddenly makes the image load as black"
Related to #5835

I have tried making settings for `camconst.json` for the Canon 90D. Before my modifications the 90D sample on raw.pixls.us loaded fine. After my modifications, it loads a completely black. I don't understand why, so I hope somebody can help to explain if I made an error, or something is suddenly going wrong in interpreting the file. It might be related to the fact that the CR3 fo

[2020-07-07 05:37] Thanatomanic commented on #5824
Possibly related and similar to what you say about what you read on dpreview: https://discuss.pixls.us/t/handling-fujifilm-x-trans-auto-focus-pixels/19047

I'm not sure how to approach this properly...

[2020-07-07 08:17] dimk1 opened #5838 "Lensfun camera/lens drop-downs empty disabled in dev AppImage"
Hello,

I'm running RawTherapee_dev_5.8-2313-g9be94d1_20200707 AppImage dev version as it fixes another bug I had reported. OS is Ubuntu Budgie 18.04. When going to Transform -> Lens / Geometry -> Profiled Lens Correction the Camera and Lens drop-down fields are disabled. When using the stable 5.8 AppImage version they get populated correctly. Any idea why it doesn't work on the dev version?

[2020-07-07 09:07] dancat commented on #5824
I have also took the same frames for the X-T3 and will upload them soon. However, I might have the LENR On files for X-T2 wrong, as the LENR was not applied to all of them. Should I redo them, making sure it does apply?

[2020-07-07 09:40] heckflosse commented on #5837
verbose=true in options gives this
before
[code]

after
[code]

strange...

[2020-07-07 09:50] heckflosse commented on #5837
Seems tiff_bps is wrong (8) and then this white level scaling happens
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimage.cc#L653

[2020-07-07 10:10] Thanatomanic commented on #5824
@dancat If you think that you need to redo some shots, please provide a full new set.

If you're going to redo things, please also pay attention that some low ISO shots were not fully overexposed in all channels (particularly DSCF7290.RAF). You can easily set the shutter speed to 1/10s to compensate. Also, according to the Exif metadata DSCF7309.RAF is ISO12800, DSCF7310.RAF is ISO 200, and DSCF73

[2020-07-07 10:45] dancat commented on #5824
I'll try to be more careful :)

I am using the camera overexposure highlights and take the photos when all the screen blinks. But not being a raw histogram it can be that it is not overexposed completely. Is there a better way to do it?

[2020-07-07 10:47] Thanatomanic commented on #5824
Not really, just be _very_ overexposed. If you do what you did initially, but set shutter speed to 1/10s or even 1/2s you're nearly 100% sure you've overexposed your image.

[2020-07-07 10:54] dancat commented on #5824
OK, In this case I will redo the sets and check also what happens with the extended ISO values.

[2020-07-07 10:55] blj86 commented on #5835
@Thanatomanic Yes the color checker is the new passport 2 model and purchased just this year.
Manually loading these DCP profiles they seem to work really well.

Some observations.  Loaded with Neutral profile.  Added the DCP under custom in version 5.8 of RT.  Did not change any options so it was at interpolated and only base table selected.  Then used auto matched curve.

The DCamProf dcp is way

[2020-07-07 11:00] blj86 commented on #5837
I don't know really anything about this stuff I just took the shots.  I did include one shot at f/2.8 iso 100 0.5 second exposure per the instructions so it can be checked for whatever scaling is done for wide apertures before taking all the extra shots.

Could he have used this shot in the mix causing an issue with the white levels measurements triggering this problem?

[2020-07-07 11:07] heckflosse commented on #5837
@blj86 There's simply a bug in RT code we have to fix

[2020-07-07 11:10] blj86 commented on #5837
Oh ok no problem glad I can help find a bug even if unintentionally. 👍

[2020-07-07 11:31] Thanatomanic commented on #5835
Then I think we can happily include the DCamProf profile in the next release of RawTherapee!

Let's keep this issue open until the white-levels problem is solved.

[2020-07-07 13:27] heckflosse commented on #5824
@Thanatomanic

Just a dumb thought: Could that been caused by reflecting light from sensor back to rear element of lens and then back to sensor ?

[2020-07-08 09:16] dancat commented on #5824
I've put the new files here: https://filebin.net/h4441zat3nyf5maa
I took care that:
* for Set1 the exposure was 1/2s from the beginning
* for Set2 the exposure was long enough so I could see that the camera actually made the second exposure to apply LENR

Should I redo also the Set3 for aperture values?

[2020-07-08 09:28] dancat commented on #5824
BTW, I checked also the extend ISO range and the camera is writing it wrong in the EXIF. In Set1 and Set2 the first and last picture are the extended LOW (100 but camera writes 200) and extended High (25600 but the camera writes 12800).

The Fuji X-T3 writes the correct values. I will upload soon also the files for this camera.

[2020-07-08 09:51] Thanatomanic commented on #5824
@dancat Thanks for reuploading and clarifying the ISO values. I've downloaded the images and will inspect them soon.
Please upload the X-T3 files in a separate issue, just to keep it ordered :-)

[2020-07-08 09:51] maboleth commented on #5825
Fair enough. But if the key bind/change needs 3+ years (and at least three separate reports), what are the chances for something bigger? :-/

I understand you guys are doing this in your free time. And I'm grateful on what you already did for the open source photography world. Make no mistake on that. It's just that comment like that leave a little room for us to 'discuss issues from a usability p

[2020-07-08 10:07] Thanatomanic commented on #5825
I know, I wish it were different. Just as a general commentary on the state of things: if you look at our colleagues over at darktable, they have managed to gain enormous momentum in their development because they have a few people that practically (or literally) have made it their job. If you look at the commit list for RawTherapee in the last year, you see that all changes are done by only a han

[2020-07-08 10:29] Beep6581 commented on #5835
For some years now I've been creating RawTherapee's DCP profiles using LumaRiver Profile Designer. There must be accompanying raw files (StdA + D50/D65) uploaded to our server so that a DCP can be checked and re-generated should the need arise (different approach, bug in the DCP software, etc). The profiles use the "neutral" tone reproduction operator of the "skin & sky" variant:

Sometimes manual

[2020-07-08 10:45] blj86 commented on #5835
@Beep6581 Not a problem.

https://drive.google.com/drive/folders/1Y7XbRTt1QtPQR6Zby_aUsy4i3awixr9x?usp=sharing

Same link as before reposting it for ease.  There are 3 shots in each folder due to bracketing.  The base file with no number at the end is the Base exposure the -1 is -1 ev and the -2 is +1 ev.  Just for reference. I believe the daylight will need to use the -1 EV that was a hard shot t

[2020-07-08 11:16] dancat opened #5839 "Fuji X-T3 support - White Frames"
I took some sets of white frames for Fuji X-T3 as specified in http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats#White_Levels

They can be found here:
https://filebin.net/voo04y6andiobdk3

Let me know if more are needed.

All the best,
Daniel

[2020-07-09 07:47] dimk1 commented on #5838
any update on this?

[2020-07-09 09:36] Beep6581 commented on #5838
Maybe @aferrero2707 can help.

@dimk1 in the meanwhile, please post the full log you get when running the AppImage from a console.

[2020-07-09 09:41] Beep6581 commented on #5838
@dimk1 https://discuss.pixls.us/search?q=rawtherapee%20appimage%20lensfun

Seems you need to install lensfun and update your database manually:
https://discuss.pixls.us/t/no-lensfun-in-appimage/9055/9?u=morgan_hardwood

[2020-07-09 11:00] dimk1 commented on #5838
So I run a `sudo apt install liblensfun*` and installed everything related to lensfun. Then I run a `lensfun-update-data` to get the latest data. Still the lens and camera fields are disabled:

[code]

[2020-07-09 11:52] heckflosse commented on #5749
Here's a simple example code to reproduce the bug.
[code]
works fine using gcc 9.3 -O3, gcc10.1 -O2, but not using gcc10.1 -O3

[2020-07-09 12:04] heckflosse commented on #5749
For reference
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=96133

[2020-07-09 12:26] dimk1 commented on #5838
Note also that I have updated the options file to:
[code]
to point to the updated database folder but to no avail.

[2020-07-09 12:42] Thanatomanic commented on #5839
Hi @dancat I analyzed the files and I think I have some decent estimates for white levels. Can you test these on some regular (overexposed) photos, if you modify your `camconst.json` file with the changes below? I have split the entry for the X-T3 from the others, because I cannot be sure they behave the same.

[code]

Edit: fixed a typo with a comma

[2020-07-09 13:20] Thanatomanic commented on #5824
@dancat Similar to your X-T3 samples I determined some useful white levels. Can you test them by finding and replacing the X-T2 data in your `camconst.json` and looking at a few regular and overexposed photos?

[code]

[2020-07-09 14:06] aferrero2707 commented on #5838
@dimk1 you cannot use a version_2 database with the AppImage, because the bundled lensfun version does not support it... could you post a sample raw image for which the lens detection does not work? I will try to have a look as soon as I manage.

[2020-07-09 19:27] heckflosse commented on #5749
I removed the RT bug label, because it's not a bug in RT code and we already have a fix (though slowing down processing) for gcc 10.1 builds.

[2020-07-09 20:11] dancat commented on #5824
Sure, I will give it a go the next days and provide feedback.

[2020-07-09 20:12] dancat commented on #5839
Sure, I will give it a go the next days and provide feedback.

[2020-07-10 06:47] #5763 closed, assigned to nobody

[2020-07-10 06:55] Thanatomanic commented on #5706
I don't think there is anything more to be done for this issue. Working with nearly or fully clipped data (as is the case in the provided example) is always going to present some problem in the pipeline. There is no concrete (theoretical) argument on how to improve the current toolset. Therefore, closing for now.

[2020-07-10 06:56] #5652 closed, assigned to nobody

[2020-07-10 07:02] #5623 closed, assigned to nobody

[2020-07-10 07:03] #5601 closed, assigned to nobody

[2020-07-10 07:04] dimk1 commented on #5838
Ok, steps for reproduction:

1. I deleted the RT folder in the home/me/.config folder and downloaded the latest dev AppImage.
2. Lensfun is installed and updated in my system. It is installed in 2 folders, under `/home/me/.local/share/lensfun/updates` and under `/usr/share/lensfun`
3. Run the AppImage (RawTherapee_dev_5.8-2327-g434274b_20200710.AppImage). Open any file (also a sample one in the li

[2020-07-10 07:10] Thanatomanic commented on #5838
I can confirm that your combination of camera + lens _should_ be found by lensfun (it works on my Windows build).
But as @aferrero2707 mentioned, if you have lensfun v0.3.95 installed instead of v.0.3.2, things will not work. The 95 version introduced the version_2 type of the database. This is not (yet) compatible with RawTherapee. Please downgrade the package and try again.

I'm not completely u

[2020-07-10 08:05] dimk1 commented on #5838
From what I can understand the AppImage is not bundled with lensfun, because I had installed the official stable RT 5.8 without installing lensfun and the dropdown menus in the lens correction were populated correctly. Only with the dev packages I see this problem.

Note that in Synaptic Package Manager the lensfun version is 0.3.2-4.

I noticed that when running the appImage the folder containing

[2020-07-10 08:32] dimk1 commented on #5838
Not sure what happened, but I changed the path to version_1 and the menus now work. Changing to version_2 does not, but I guess this is normal as explained before.

[2020-07-10 10:58] Floessie commented on #5749
Richard fixed it, but godbolt hasn't yet caught up.

[2020-07-10 19:13] dancat commented on #5839
out of curiosity, does the X-T3 sensor shows the same non-uniformity as the one from X-T2 (in https://github.com/Beep6581/RawTherapee/issues/5824#issuecomment-653139151)?

[2020-07-10 19:43] Thanatomanic commented on #5839
Yes, there is a similar pattern, though slightly different and with a more pronounced center.
![image](https://user-images.githubusercontent.com/6567747/87192233-5d394880-c2f6-11ea-9508-620e8250f17e.png)

I also found very curious patterns actually, where the 6x6 blocks of the X-Trans matrix had very similar intensities all throughout the image:

Close-up
![image](https://user-images.githubusercon

[2020-07-11 06:24] Thanatomanic commented on #5749
I don't completely understand their commit message.

array initalizer and happen to cross the boundary of
multiple CTORs which isn't really supported.  For the
interesting cases like the testcase we actually handle
the folding by encoding the whole initializer.

Where do the multiple CTORs come from? Are we doing something that "isn't really supported"?

[2020-07-11 06:25] teplit commented on #5706
RawTherapee can work gracefully with RAW files containing partially or completely blown highlights provided some broken/unsafe tools are not used. There are a lot of cases where the highlight clipping is either technically unavoidable and/or artistically desirable like for example including the sun as an element in a photographed scene.

The problem is triggered by a Perceptual curve and can happe

[2020-07-11 06:32] Thanatomanic commented on #5706
I see your point and we should probably add something to the documentation to explain what is going on.

There seem to be some errors or misconceptions in the documentation anyway, because from a very simple experiment, this

is just not true.

[2020-07-11 06:42] Thanatomanic commented on #5706
Also, Luminosity mode in RGB Curves definitely doesn't do unbounded processing properly. Try a simple edit and then turn 'Clip out-of-gamut colors' off. That's probably very logical, but it should be documented.

[2020-07-11 06:44] Thanatomanic commented on #5502
@edsvoboda Could you please reupload your files? I can investigate.

[2020-07-11 06:55] dancat commented on #5824
I've tested it with some older photos and I did not see anything wrong. I also used the various highlight recovery options and they were fine.

[2020-07-11 07:04] Thanatomanic commented on #5137
@CorentinDeBoisset This issue has not been taken up since you first posted it, but I am willing to do so if you can reupload your pictures.

[2020-07-11 07:06] Thanatomanic commented on #5140
Hi @wamslers could you reupload your files if possible? I can analyse them.

[2020-07-11 07:09] Thanatomanic commented on #5495
@falket Would it be possible for you to reupload these shots? It would be even better if you could try pointing your camera at a bright sky outside. That should make it easy to overexpose.

[2020-07-11 07:16] Thanatomanic commented on #5824
Thank you, updated `camconst.json`, closing.

[2020-07-11 07:16] #5824 closed, assigned to nobody

[2020-07-11 07:17] teplit commented on #5706
Yes, I see a similar effect as using a Perceptual curve. This raises the question whether or not the Perceptual curve as color space independent tool can produce values outside the working color space.

[2020-07-11 07:24] dancat commented on #5839
I tested it with only a few files, as the camera is new for me, and all seems fine.

[2020-07-11 07:35] heckflosse commented on #5749
Now it has

[2020-07-11 07:51] heckflosse commented on #5749
My guess is that they were doing something which isn't supported by the vectorizer, and also that they wouldn't have fixed the bug so quickly if we did something unsupported.

[2020-07-11 07:52] #5698 closed, assigned to nobody

[2020-07-11 08:52] Floessie commented on #5749
@Thanatomanic

Seems to be something along the line like filling 9 values into three buckets of four values (in our example) or six values into two buckets (in Richard's example).

[2020-07-11 09:22] aferrero2707 commented on #5838
@dimk1 @Beep6581 @Thanatomanic it seems that something has changed in the way RT internally builds the path to the bundled lensfun DB. Currently the path is set to `usr/bin/../../share/lensfun/version_1`, while it should be `usr/bin/../share/lensfun/version_1`.

I am investigating the issue to find the most appropriate fix...

[2020-07-11 10:41] arturoisilvia opened #5841 "RT windows 5.8-2330: Libssp-0.dll library is missing"
In:
RawTherapee_dev_5.8-2330-g53aec5e13_20200710.exe
RawTherapee_dev_5.8-2330-g53aec5e13_20200710_win64.zip

In both cases, running rawtherapee.exe gives the error.
![Error libssp-0 dll](https://user-images.githubusercontent.com/55624244/87222411-b3000600-c373-11ea-8281-cec901bbb18e.JPG)

[2020-07-11 19:27] TechXavAL commented on #5809
I've had another try with a relwithdebinfo compilation. This time RT do crash (with debug it doesn't crash).

The log, just in case it's useful:
[0a020190401_Southpark_1706_Flower_log.txt.zip](https://github.com/Beep6581/RawTherapee/files/4907507/0a020190401_Southpark_1706_Flower_log.txt.zip)

[2020-07-12 00:15] dimonoid commented on #5734
I don't know if I should create a separate issue, so writing in here.
It looks like the black point is off too. There are some pixels with values 190, even a little bit lower. Because of that my dark frames didn't work as intended by introducing, not removing noise.
Also white point looks really too high. I measured it 3903 at iso 100 to 3905 at iso 6400. I don't know where the previous number 408

[2020-07-12 00:26] dimonoid opened #5842 "Dark level (and white?) are off for NIKON P1000"
It looks like the black point is off too. There are some pixels with values 190, even a little bit lower. Because of that my dark frames didn't work as intended by introducing, not removing noise.
Also white point looks really too high. I measured it 3903 at iso 100 to 3905 at iso 6400. I don't know where the previous number 4087 is coming from, it looks impossible.
Here is what I got:
[code]

_Or

[2020-07-12 02:46] Thanatomanic commented on #5842
Thanks for reporting. I like to check things myself. So, to solve this once and for all, please provide a full set of fully overexposed shots for all possible ISO values (see http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) and possibly a set of overexposed shots at different apertures as well.
Make sure you overexpose fully, e.g. shooting at a clear bright sky with f/5.6 and 1/

[2020-07-12 03:11] dimonoid commented on #5842
Is there a reason to shoot at f/5.6 ? I used f/2.8.

[2020-07-12 03:17] Thanatomanic commented on #5842
If your camera does scaling of the raw values with aperture setting, the f/5.6 pretty much guarantees that you're not running into that effect. Like explained on RawPedia, that is the preferred setting for these shots.

[2020-07-12 03:18] dimonoid commented on #5842
Please note, level of glowing noise(bias?) can be divided into 3 groups, for photos with
[code]

The largest for >= 2s.

[2020-07-12 03:46] Thanatomanic commented on #5841
Reported also [here](https://discuss.pixls.us/t/im-unable-to-run-rawtherapee-developer-versions-in-windows-any-more/19128) and [here](https://discuss.pixls.us/t/problems-installing-rawtherapee-dev-5-8-2334/19129).

[2020-07-12 03:51] Thanatomanic commented on #5841
Ping @aferrero2707, any clues for what could be going on in the automated build process? I have no trouble compiling and running `dev` manually...

[2020-07-12 04:03] dimonoid commented on #5842
LENR is available only at ISO 800 or lower while exposure 2 seconds or longer. It looks like white level doesn't depend on aperture as I expected.
Should I take black photos with different apertures also?

[2020-07-12 04:05] Thanatomanic commented on #5842
Good, then please provide shots with LENR ON for these ISO values and 2 s exposure

That won't be necessary I believe

[2020-07-12 04:40] dimonoid commented on #5842
Here is the archive. There is some variability (about 1 in 10 photos with higher noise) when shooting several photos with the same settings in the row. I don't know why this happens, so please disregard any obvious outliers.

https://drive.google.com/file/d/1xcc2c4gBnlviMZGU2yOQ3tsVGUSIY8ic/view?usp=sharing

[2020-07-12 04:46] Thanatomanic commented on #5842
@dimonoid Thank you, I'm downloading and will take a look!

[2020-07-12 05:09] Thanatomanic opened #5843 "Minor cosmetic changes to histogram"
I just pushed [this change](https://github.com/Beep6581/RawTherapee/commit/dced61b619793512c1aa63e75d5c2b86fd9ba812), although my intention was to create a branch and then make a PR. That failed... 🙄  (the branch was made, I committed from local, but there were no changes when I tried to make the PR?)

So, just to inform you and still ask if there are any objections and necessary reversal: I made

[2020-07-12 05:12] Thanatomanic commented on #5843
I have now invalidated the positions of the RGB bar, but I actually think they were not okay anyhow (0 and 255 were not showing up). I'll make a fix.

[2020-07-12 05:22] dimonoid commented on #5842
@Thanatomanic please let me know if you need any other photos to create "quality A" settings

[2020-07-12 05:28] Thanatomanic commented on #5843
Should be fixed with c364e206359b2f22ebd24adf2855a35a173ad9ec

[2020-07-12 05:47] dimonoid opened #5844 "Soft light is broken"
I am using dev build. If I enable soft light, small preview and histogram change as expected, but the main preview remains the same without changes. If I drug a photo, changes appear for a moment until I unpress the button, when changes disappear again.

[2020-07-12 06:10] dimonoid commented on #5555
I apply edges to almost all my photos. Please don't remove it.

[2020-07-12 07:32] Thanatomanic commented on #5842
While lot of your shots are not overexposed on the entire sensor I think I managed to get some more realistic values. This is my statistical analysis of all usable images, including the LENR ones. The orange bars are the new white level estimates. Note that this is a small zoomed-in section of the histogram near the clipping point. The variation between ISO values is negligible.

![image](https://

[2020-07-12 07:38] Thanatomanic commented on #5842
@dimonoid Please test the new `camconst.json` values. I hope your highlights behave better now.

I believe that dark frame subtraction helps to reduce noise due to the shown sigmoid curve. It should not introduce more noise. If so, please make a separate issue for this and provide a RAW + corresponding dark frame.

[2020-07-12 07:40] Thanatomanic commented on #5844
Confirmed, looking

[2020-07-12 08:22] heckflosse commented on #5734
4095 - 190 = what ? ;-)

[2020-07-12 08:39] heckflosse commented on #5844
@Thanatomanic Here's a fix:

[code]

[2020-07-12 09:00] #5844 closed, assigned to nobody

[2020-07-12 09:00] Thanatomanic commented on #5844
Agreed, this was caused by the massive merge here https://github.com/Beep6581/RawTherapee/commit/e573de78b47863bc1dd178057c89ac07fffa492b

[2020-07-12 09:11] nicholascw opened #5845 "Fujifilm X-T4 compressed RAW not decoded properly (black screen)"
<details>
  <summary>RawTherapee version</summary>

[code]
</details>

<details>
  <summary>System Version</summary>

[code]

</details>

### Symptoms

Throughout test around different settings I found:
 - [ ] The Compressed RAW totally blacked out. (should be simply not supported)
 - [x] (fixed, confirmed with 8af287aa8c9659ae2e0f2fff31f8de8c854f63d7) Only a center portion of the image are shown

[2020-07-12 09:22] Thanatomanic commented on #5845
@nicholascw Thank you for this extensive and well-written report. We had a similar issue [here](https://github.com/Beep6581/RawTherapee/issues/5709) regarding the strange crop, so I guess a fix should be relatively easy.

[2020-07-12 09:29] heckflosse commented on #5845
Iirc that's already fixed in 5.8 dev

[2020-07-12 09:29] Thanatomanic commented on #5845
@heckflosse @nicholascw Indeed, the crop was already fixed: https://github.com/Beep6581/RawTherapee/commit/ca605eece6cb799c0e349dd6303c55300ce7e69c

The compressed format doesn't work though.

[2020-07-12 09:33] heckflosse commented on #5845
Confirmed. I will have a look if the compressed format works in ART. If it does, we may borrow some code.

[2020-07-12 10:13] nicholascw commented on #5845
@Thanatomanic Thanks for the quick update. I've confirmed that those two are fixed with the latest master branch and updated the issue to align with the title. Thanks again for nice work done by all of you!

[2020-07-12 10:25] aferrero2707 commented on #5841
@arturoisilvia @Thanatomanic the `libssp-0.dll` library was part of the libraries that were explicitly removed from the bundle because considered as not needed. Something most have changed somewhere recently, which requires the bundling of this library. I have modified the build scripts and I am currently generating a new package. I will write a post here a s soon as there will be a fixed package

[2020-07-12 10:37] nicholascw commented on #5845
@heckflosse Oops, just tried on Archlinux with AUR pkgbuild script **art-rawconverter-git**, which pulls their master branch as build source, it seems not working properly as well.

RawTherapee:
![图片](https://user-images.githubusercontent.com/7414442/87244236-7aa70900-c401-11ea-9f2a-0f676ea2afd6.png)

ART:
![图片](https://user-images.githubusercontent.com/7414442/87244278-ad510180-c401-11ea-9550-279

[2020-07-12 11:12] arturoisilvia commented on #5841
@aferrero2707 : Tested the 2 new builds of windows:

RawTherapee_dev_5.8-2339-g8af287aa8_20200712.exe
RawTherapee_dev_5.8-2339-g8af287aa8_20200712_win64.zip

Now they work fine.

Thanks. Problem solved.

Regards.

[2020-07-12 11:12] #5841 closed, assigned to nobody

[2020-07-12 14:55] dimonoid commented on #5734
Indeed my bad

[2020-07-12 15:02] aferrero2707 commented on #5838
@dimk1 @Beep6581 @Thanatomanic the latest AppImage `dev` package should fix the issue. Please make sure that you delete the `[Lensfun]` section in the options file before you test the package, to make sure the bundled DB is taken.

The AppImage bundles LensFun 0.3.2, as well as an updated version of the DB.

Please let me know if you confirm the fix... thanks!

[2020-07-12 23:11] Lawrence37 commented on #5843
With your changes, is there an easy way to tell where the histogram stops and the padding begins?

[2020-07-13 05:12] Thanatomanic commented on #5843
I think so, because there are still two vertical gridlines at 0 and 255.

[2020-07-13 06:52] gaaned92 commented on #5838
@aferrero2707 0.3.2 is quite old. Is there a reason you don't build the Lensfun master branch?

[2020-07-13 13:30] dancat commented on #5839
For a more 'in depth' test, maybe we can ask nice people from the pixls.us forum to help?
I will have some more images to play with in about a week, as I will go a little bit in vacation.

[2020-07-13 18:55] strogonoff commented on #4598
Persistent snapshots could also work, as far as I’m concerned…

([Judging by the docs](https://rawpedia.rawtherapee.com/Editor#Snapshots), I suppose the eventual idea might be to have persistent history as well—IMO snapshots could be more than enough, but that’s just me.)

[2020-07-14 03:18] dimonoid commented on #5842
Thanks, white level works! It looks like the dark level is approximately 198.3(closer to 198) . If you subtract dark frame from another dark frame, the mean value of noise should stay the same. If you use 200, the amount of noise is increasing when applying dark frame subtraction. If use anything below 198, mean is it is decreasing. Look at the histogram in RT while enabling/disabling dark frame s

[2020-07-14 04:20] dimonoid opened #5848 "Possible error in the flat field algorithm"
Unfortunately I couldn't find that part of the code with this particular algorithm, so writing in here.
I am suspecting that dark frame might be not subtracted from the the flat field, so flat field might remain "dirty".

Also as I understood correctly, this should be the algorithm, assuming each variable is vector, as in matlab:

1) Take raw image img before doing anything
2) cleanImage=img.-dark

[2020-07-14 04:33] dimonoid commented on #5833
I think the string is not converted to float or something...
Same thing with focal length

[2020-07-14 05:05] dimonoid commented on #5848
I believe this part of code is approximately in here:

https://github.com/Beep6581/RawTherapee/blob/60034aa253794d71663331e793772225d36e4a87/rtengine/rawimagesource.cc#L2398

[2020-07-14 08:20] heckflosse commented on #5848
From RawPedia:

Applying a flat-field image can cause nearly-overexposed areas in the image to become overexposed due to the correction. Activating the Clip Control option will keep the flat-field image from clipping the actual image. Areas in the actual image which were already clipped before the application of the flat-field image may acquire a color cast, therefore as a rule of thumb, if your p

[2020-07-14 08:34] heckflosse commented on #5848
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawflatfield.cc#L266

[2020-07-14 11:00] Thanatomanic commented on #5842
I made plots of the inflection point (which should give the most versatile estimate for the black level) and make three vertical lines: 198, 199 and 200. Indeed, the 200 seems a slight overestimation of the black level, though the 198 seems to underestimate it. The horizontal line is at y = 0.5. Ideally all curves should intersect there, but the red channel in particular is a little low here.

Red

[2020-07-14 11:15] Thanatomanic opened #5849 "Canon PowerShot G1 not decoded properly"
Original report: https://discuss.pixls.us/t/old-canon-g1-crw-problem/19168
Related issue: https://github.com/Beep6581/RawTherapee/issues/882
Problematic image: [102-0269_CRW.zip](https://github.com/Beep6581/RawTherapee/files/4918389/102-0269_CRW.zip)
Reference image from raw.pixls.us: https://raw.pixls.us/getfile.php/2073/nice/Canon%20-%20PowerShot%20G1%20-%20RAW%20(4:3).crw

The earliest version

[2020-07-14 11:35] Floessie commented on #5849
I've built it down to `5.0-gtk3` and it's wrongly decoded in every version. The "CA correction supports only RGB Colour filter arrays" warnings start with `5.1`.

[2020-07-14 11:48] heckflosse commented on #5849
It's an GMCY camera, not an RGB camera.
We should fix the crashes with some demosaicers (VNG4, LMMSE) though...

[2020-07-14 17:38] TJFOE commented on #5849
https://discuss.pixls.us/t/for-bored-developers-canon-powershot-g1/1239

[2020-07-14 18:41] heckflosse commented on #5849
@Thanatomanic Do you plan to support this files in RT 6.0 or do you mean, the crashes with this files using LMMSE and IGV demosaicers should be fixed for RT 6.0?

[2020-07-14 18:48] Thanatomanic commented on #5849
Now that I think of it, this issue is actually not very helpful and only part of a bigger problem.

1. We should discuss and decide to support other CFA's or not (a new issue could list all currently unsupported types and corresponding camera's for future reference). This requires serious work, hence the milestone 6.0. Side note: darktable has been able to do it for a long time.
2. In the meanwhil

[2020-07-14 18:48] heckflosse commented on #5848
Wouldn't that be an inverse flatfield correction (brightening the already bright regions even more and vice versa for the darker regions) ?

[2020-07-14 18:52] heckflosse commented on #5849
At least, I will try to fix the crashes with this files and some demoaicers for 5.9

[2020-07-14 22:41] dimonoid commented on #5848
I wonder why would it cause color cast? Maybe use another color space and adjust only brightness? In addition, this algorithm I provided should only decrease brightness, not increase, so clipping will be impossible (I think). I am assuming that flat field is always grey and has no color(r=g=b).

[2020-07-14 23:37] Lawrence37 commented on #5848
This is the correct behavior. Dark frames work best when they are shot under similar conditions as the image. Usually, the image and the flat-field are shot under different conditions, so it doesn't make sense to apply the same dark frame to both. Maybe what you want is a new feature which allows you to apply a different dark frame to the flat-field.

I believe this is because clip control darkens

[2020-07-17 09:36] heckflosse opened #5852 "Bug in MSRLocal()"
I found a bug in MSRLocal() here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipretinex.cc#L1367

Have a look:
[code]
First bug is the parallelization races, so let's remove it:
[code]
What does this loop now?
It sets `kval` to the value of the last pixel which is less then `threslow` to the value of the pixel divided by `threslow`
If this is the intended behaviour (which I doubt), w

[2020-07-17 09:55] Floessie commented on #5852
BTW, what does "MSR" stand for here? [This](https://en.wikipedia.org/wiki/Model-specific_register) or [this](https://en.wikipedia.org/wiki/Machine_state_register)? :wink:

[2020-07-17 10:05] heckflosse commented on #5852
Multi Scale Retinex ?

[2020-07-17 10:13] Floessie commented on #5852
We can't know for sure. And that's the problem with [TLA](https://en.wikipedia.org/wiki/Three-letter_acronym)s (and too short abbreviations basically). :wink:

[2020-07-17 10:24] Desmis commented on #5852
MSR is Multi Scale Retinex...use since 5 or 6 years... or more ??
This name  is not from me, but an "usual name" for "retinex"...to differentiate from "Original retinex" which is for "dodge and burn" (this is not the term used by Ipol)
"retinex"==>retine==>eye perception

@heckflosse
Ingo

You are true, I made another bullshit :)
"kval" must be an array  y, x

Thank you for your job :)

jacques

[2020-07-17 11:14] heckflosse commented on #5852
Here's a fix:

[code]
@Desmis Jacques, is this the intended behaviour now?

[2020-07-17 11:25] Desmis commented on #5852
@heckflosse
Ingo

Yes it is :)

jacques

[2020-07-17 11:30] heckflosse commented on #5852
I will push the fix to the `cppcheck_cleanups` branch I'm on atm.

[2020-07-17 12:18] sguyader opened #5853 "Bug in Gimp with images saved with RTv4 output profiles"
I get crashes when working with images exported from RT (5.8) or ART (1.4) with RTv4 output profiles, when doing some operations on layers.
To reproduce:
- save an image in RT/ART with RTv4 profile (I tried sRGB and Rec2020, same behaviour) ; it doesn't matter whether you export to TIFF or JPG, same behaviour
- open the image in Gimp (tried Gimp 2.10.18 and Gimp compiled form git, same behaviour)

[2020-07-17 12:24] heckflosse commented on #5853
So, GIMP crashes, not RT?

[2020-07-17 12:24] Thanatomanic commented on #5853
Have you reported this to the GIMP developers? I mean, it could be that our v4 profiles have some sort of error, but clearly it's GIMP that crashes and not RT (or some other applications that I use to check my exported files)  :wink:

[2020-07-17 12:26] sguyader commented on #5853
Right, it's only Gimp, not RT which crashes. Since the RTv4 profile was developed by the RT team I think, I thought I'd report the problem here first in case the bug is inherent to the profiles and not Gimp.

[2020-07-17 12:54] #5852 closed, assigned to heckflosse

[2020-07-18 05:26] Desmis commented on #5809
I am on windows...no crash

But when I see some comments, I think perhaps it is a logarithm(x) value when x=0
This log() or xlogf() appears in "edge sharpness" (curve) and finaltouchup...contrast

I create a branch "wavecrash" with a change (I add epsil = 0.0001f, or epsil2=1.1f  when log() is used)
I add another "eps" in calculation of koeli[]

jacques

[2020-07-18 11:16] Desmis commented on #5809
I create a Pull Request to fixe this crash

I avoid negative values "L" after reconstruct

jacques

[2020-07-18 12:07] Beep6581 opened #5855 "Regression in Sony lens identification"
There is a regression in Sony lens identification.

I bisected the bad commit to 24684e5cb which shows "Unknown (70-200mm f/4.0)" and also lensfun identification fails.

The previous commit 227c2fbba is good and shows "Sony FE 70-200mm f/4 G OSS".

Test image:
http://rawtherapee.com/shared/test_images/chicken.arw

[2020-07-18 13:22] Beep6581 commented on #5855
Upstream issue opened:
https://github.com/exiftool/exiftool/issues/54

[2020-07-18 13:44] Beep6581 commented on #5853
@sguyader please open an issue at GIMP's bug tracker:
https://gitlab.gnome.org/GNOME/gimp/-/issues

[2020-07-19 04:20] Desmis commented on #5809
@TechXavAL

Can you confirm that this modification fixes the crash...
So I could merge the pull request, or must I wait ?

jacques

[2020-07-19 08:17] teplit commented on #5706
I made an experiment to see whether or not my hypothesis for the Perceptual curve has some ground. I reproduced a similar harsh transition without the Luminosity mode – instead of it I simply inverted the RGB channels via the RGB Curves tool. Here is the effect:
![RGB inversion](https://user-images.githubusercontent.com/5978882/87870209-7b660f00-c9ae-11ea-9014-a98d0d019545.png)
[20180901_Moseltour

[2020-07-19 09:53] teplit opened #5856 "Do not clip the color measurements"
RawTherapee can work internally with colors outside the working color space. This is documented in RawPedia - http://rawpedia.rawtherapee.com/Unclipped.

The color sampling tools (Color Picker and Navigator panel) however can’t measure such colors properly, because the measured values are clipped. Measurements of unbounded colors can be useful for diagnostic purposes regardless of the option _Clip

[2020-07-19 15:37] TechXavAL commented on #5809
I have tested the «wavecrash» branch against a few images and I haven't been able to crash RT anymore, so I guess that I could say this modification fixes the crash.

Thanks! :smile:

[2020-07-19 15:47] Desmis commented on #5809
@TechXavAL

Thank you

If no other remarks, I will merge tomorrow :)

jacques

[2020-07-19 16:57] Floflo81 commented on #5855
Nice to see this is being worked on.
I think it is a duplicate of issue #5670
Check this other issue for other examples

[2020-07-20 10:05] noirsabb commented on #5319
Hi

I am trying to upload a bunch of white frame files for a 1DX Mark III (which I have access to for a while), however uploading the zipped file to filebin (about 460MB) continually fails. There was a note about uploading the file to another site, but the name of that site currently escapes me. If someone can let me know of that site, please let me know.

[2020-07-20 10:15] albfe commented on #5317
Hello, any update on completing Canon EOS R support? Anything that we can do to help with this?

[2020-07-20 10:41] Thanatomanic commented on #5319
@noirsabb would it help to divide the files in a couple of separate zip files and upload those to filebin?
Also, if you're looking for specific support for your camera in terms of white levels, please open a new issue.

[2020-07-20 10:52] Beep6581 commented on #5670
@aferrero2707 hey, yes I confirm that this is unrelated to the AppImage or to packaging and derives from what seems to be a cleanup in ExifTool's DB which is where RT still derives its lens data from.

[2020-07-20 10:53] Beep6581 commented on #5855
Hi @Floflo81
Yes, it is a duplicate, thanks.

[2020-07-20 10:53] #5855 closed, assigned to nobody

[2020-07-20 10:53] Beep6581 commented on #5670
Keep an eye on upstream issue https://github.com/exiftool/exiftool/issues/54

[2020-07-20 10:58] Beep6581 commented on #5670
The proper solution is and has been to adopt Exiv2 or ExifTool to handle metadata in RT #3801.

[2020-07-20 12:19] noirsabb commented on #5319
@Thanatomanic unfortunately upload fails after a few seconds.

As to support for CR3 files, unfortunately as yet RT (dev, version: 5.8-2375-g6b749bcbf) displays CR3 files produced by the camera as white or washed out, although the thumbnails look OK. I can work with the raw white points to get some detail, but the results cannot be used. I followed a hack in another thread setting bpp (?) in dcraw

[2020-07-20 12:43] Thanatomanic commented on #5319
CR3 decoding is working in general. I think it is better to open separate threads for specific camera's to make sure the `camconst.json` values are populated so that the colours become correct.

[2020-07-20 13:07] sguyader commented on #5853
I reported the issue to Gimp: https://gitlab.gnome.org/GNOME/gimp/-/issues/5432

[2020-07-20 13:53] #5853 closed, assigned to nobody

[2020-07-20 15:40] #5809 closed, assigned to nobody

[2020-07-20 17:29] Beep6581 commented on #5706
That's quite an assumption. Such assumptions need to be verified by looking at the code.

Some parts of RawPedia are new and correct, while others are very old and probably no longer true - either because the behavior was changed or because the behavior of the code was never that as was documented (could be due to bugs, could be due to the documentation not being written by the person who implemen

[2020-07-20 19:04] Lawrence37 commented on #4763
I'm working on an implementation of a waveform viewer. A vectorscope is a possibility, but I need more information such as the color representation (Hue-Saturation, Chroma-hue, ???) and what information is relevant to photographers.

[2020-07-20 21:00] teplit commented on #5706
In Adobe Photoshop the RGB channel inversion performed via Curves adjustment is an involution as expected. If in RawTherapee this is not the case then there is another problem…

[2020-07-21 07:36] aradzie commented on #5670
I am experiencing the same problem.

- RawTherapee version: **5.8**
- Camera Name: **Sony Alpha 6400** (**ILCE-6400**)
- Lenses: **Sony E 35mm F1.8 OSS** and **Sony E PZ 16-50mm F3.5-5.6 OSS**

ExifTool reports lens info correctly:

[code]

I have re-built RawTherapee from the dev branch (commit `6b749bcbff`) but the problem still persists.

How can I help with fixing this bug?

[2020-07-21 13:27] eprovst commented on #4763
@Lawrence37 great news!

**About vectorscopes:**
I think both Chroma-Hue and Saturation-Hue have their uses, though chroma might be fairly computationally expensive, I'm not sure.

The 'skin-tone line' is a lifesaver in portraits (skin-tones are 'memory colours' so if you get them wrong they 'feel' wrong) so I feel like that one has to be included. Different skin-tones are mainly dependent on satu

[2020-07-21 13:43] heckflosse commented on #5749
As gcc 10.2 is announced for this week, I enabled `-ftree-loop-vectorize` for gcc versions != 10.1

[2020-07-21 16:42] age1988 opened #5857 "Clamp negative L values after unsharp mask"
Avoid negative L values generated from unsharp mask

[2020-07-21 21:25] arturoisilvia opened #5859 "Error in any parametric curve"
Error in any parametric curve.
Points appear instead of curves:
I think this behavior is not correct. I don't know what to call it.
It occurs with any parametric curve: Tone, Lab, local adjustments ... etc.
Process:
**1)**
![CParametrica01](https://user-images.githubusercontent.com/55624244/88107577-9d76b180-cba7-11ea-9b1b-c7e168ecce6a.JPG)
.
**2)**
![CParametrica02](https://user-images.githubuser

[2020-07-22 09:59] pi99y opened #5860 "Fujifilm X-Pro3 - White Frames"
Hi,
I shot a series of white frames as per http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats#White_Levels to add/improve the Fujifilm X-Pro3 white levels support.

Files are available here: https://filebin.net/rjuatk2vdl246ect/x-pro3whiteframes.7z?t=f39zpmcq (for a week)

Thank you!

[2020-07-22 10:00] pi99y commented on #5839
Hi, I see you're grouping this also with the X-Pro3 model. I shot a series on that model for reference / comparison. Thanks! https://github.com/Beep6581/RawTherapee/issues/5860

[2020-07-23 14:58] lummukka commented on #5782
Update 2: I just compiled Version: 5.8-2376-g0fcca62 and the issue seems to be gone. Thanks for whomever corrected this.

[2020-07-23 15:57] heckflosse opened #5861 "msys2 clang openmp"
For information: I just detected, that RT can be build using clang on msys2 with openmp 4.5 support after installing one additional package:

[code]

[2020-07-24 06:13] dancat commented on #5839
@Thanatomanic  I am now back from vacation and tested with more of photos and everything is fine.

[2020-07-24 06:48] Floessie commented on #5861
JFYI: Under Linux it's `libomp*` (e.g. `libomp5-10` for clang 10 on Debian).

[2020-07-24 10:21] noirsabb opened #5862 "Canon EOS 1DX Mark III CR3 Raw Support"
Hi

As of dev, version: 5.8-2375-g6b749bcbf, CR3 files produced by a Canon EOS 1DX Mark III display as white or washed out, although the thumbnails look OK. I can work with the raw white points to get some detail, but the results cannot be used. I followed a hack in another thread setting bpp (?) in dcraw.cpp (?) to 14, and was able to get something to work with. I am aware CR3 decoding and metada

[2020-07-24 10:33] strogonoff opened #5863 "Will given PP3 profile produce identical results if applied to DNGs from different cameras, if appropriately calibrated DCP is substituted for each?"
(This is just a question so I would understand if this is not the right place to ask it.)

Say I have a PP3 profile A that specifies:

1) Well-calibrated DCP profile for camera X
2) Various additional settings on top of that (curves, Lab, CIE CAM, exposure adjustments, a Hald CLUT)

When I apply that profile to DNGs from camera X under specific lighting, I get certain results consistently.

Now, l

[2020-07-24 10:48] Thanatomanic commented on #5863
I think you can get virtually identical results, within the error margins of the calibration.

[2020-07-24 10:49] #5782 closed, assigned to nobody

[2020-07-24 10:50] Thanatomanic commented on #5857
Can you provide an example where negative values occur?

[2020-07-24 10:56] strogonoff commented on #5863
@Thanatomanic Thanks for responding! So this works in theory and I suppose the case is closed…

Also just found a page in RawPedia [about reusable processing profiles](https://rawpedia.rawtherapee.com/Creating_processing_profiles_for_general_use) with some relevant points.

[2020-07-24 10:58] Thanatomanic commented on #5863
Don't take my word as gospel :-)
I would love to see a real world test of your scenario.

[2020-07-24 11:26] age1988 commented on #5857
It occurs with nearly all images when I test it in gimp (32 bit float precision) and gmic with the command `-fill if(i#0<0,255,0)` , the white pixels are negative values after unsharp mask
![um-negative_values](https://user-images.githubusercontent.com/24456323/88385914-9cb06c00-cdaf-11ea-911e-90f4733945af.jpg)

I guess this happen with rawtherapee too.
I can say that opening a jpeg (starting with

[2020-07-24 11:33] strogonoff commented on #5863
I’ll try and post results, will be matching shots from APS-C vs. a full-frame camera and with different lenses to boot so it’d be interesting to see.

I don’t yet have the proper setup for taking a flat field so that’d be another confounding variable.

Going to use a simple single-illuminant profile and specific lighting though

[2020-07-24 12:16] gaaned92 commented on #5861
Is there a benefit to build with CLANG over GCC?
If yes, what must be done to build with clang in MSYS2:
- what packages are needed in addition to llvm and clang
- what parameters in the cmake steps ar to be added or modified?
Thanks

[2020-07-24 13:53] heckflosse commented on #5861
I will make some tests as soon as gcc 10.2 is available on msys2. Testing with gcc 10.1 makes no sense imho.

afaik only the one I mentioned above

[code]

[2020-07-24 21:04] heckflosse commented on #5749
I built with gcc 10.2 on msys2. Works fine. Closing as fixed \o/

[2020-07-24 21:04] #5749 closed, assigned to heckflosse

[2020-07-25 08:03] gaaned92 commented on #5861
Thanks @heckflosse
- I can build with Clang after some small tweaking of the compile flags.
I get a lot of warnings regarding the included lcms2.h that I build myself:

D:/programmes/lcms2/skylake/include\lcms2.h:158:23: note: expanded from macro 'CMSREGISTER'
 \#  define CMSREGISTER register
                      ^
D:/programmes/lcms2/skylake/include\lcms2.h:1262:44: warning: 'register' storage c

[2020-07-25 08:44] heckflosse commented on #5861
If you add `-DWITH_BENCHMARK="ON"` to your cmake command you will get some console output

Edit: also
![grafik](https://user-images.githubusercontent.com/13733487/88453303-fa9f8b00-ce65-11ea-9da9-781dceab0eb6.png)

[2020-07-25 12:48] heckflosse commented on #5861
First comparison using a Nikon D850 NEF on an AMD FX8350 measured in queue processing

All times are in ms median of 3 measures rounded to 5 ms

[code]

[2020-07-25 17:43] heckflosse opened #5864 "RT build on non-Apple systems using clang shows wrong compiler info in AboutThisBuild.txt"
Proposed fix:

[code]

[2020-07-26 13:17] gaaned92 commented on #5861
CR2 photo, 6246x4180,  on intel 6700K measured in queue processing
All times are in ms median of 3 measures rounded to 5 ms
same flags for gcc and clang

processing| gcc 10.2 | clang 10.0
 -----------|----------| ----------
CA correction |270 |300
AMAZE|300|315
capture deconv sharpening|330|440
capture sharpening|500|620
RGB denoise|1535|1780
RGB processing|305|340
lab color correction regions|320

[2020-07-27 07:59] pi99y commented on #5839
@Thanatomanic would you be so kind to check my post https://github.com/Beep6581/RawTherapee/issues/5860 where I provided the white frames for X-Pro3, one of the cameras that is/was grouped with the X-T3, please? Thank you!

PS: I'm also ready to do any testing regarding this if you want me to...

[2020-07-27 09:22] Alan01 opened #5865 "Pentax KP DCP"
These shots were done with the Spydercheckr 24. The daylight shots were done in Copenhagen, Denmark around noon on a slightly overcast day (full light during the shots). The light bulb shots were done in a dark room with the light bulb as the only source of light.
https://filebin.net/blm3f7enlrs8ct4m

[2020-07-27 18:35] Lawrence37 commented on #4763
Thanks @elecprog. According to my research, most vectorscopes use the U and V in the YUV color space. I guess I will try several color representations and see if they are useful or redundant.

[2020-07-27 19:57] Thanatomanic commented on #5860
I can confirm that these result in the exactly the same values as for the X-T3. Thank you for providing them, and I will update the white levels for the X-Pro3 when closing #5839.

[2020-07-27 19:57] #5860 closed, assigned to nobody

[2020-07-27 22:29] pi99y commented on #5860
Thank you!

[2020-07-29 18:07] #5839 closed, assigned to nobody

[2020-07-29 20:13] Thanatomanic opened #5867 "Full-screen inspector: several issues"
@rfranke Thank you for the work on the full-screen inspector in RawTherapee/RawTherapee#5593. I like the idea very much, and the execution gets a thumbs up as well!

I have (only) just tested it, and I do have a few points of criticism, that I hope you can address:
1. ~~Serious performance issue: you seem to update the preview as soon as you hover over an image in the file browser (preloading?). T

[2020-07-29 20:20] Thanatomanic commented on #5867
w.r.t. my side-note in (1) and also (7), RawPedia mentions this "The "Inspect" tab shows a preview at a fixed scale of 100% of the image your mouse cursor is hovering over, which is either the largest JPEG image embedded in the raw file, or the image itself when hovering over non-raw images."

[2020-07-29 23:29] Octoroboto opened #5868 "RawTherapee-cli: zsh Killed - MacOS 10.15.6, RawTherapee 5.8"
I am trying to use RawTherapee-cli on my mac, version details in title. I have copied rawtherapee-cli to usr/local/bin and tried to run rawtherapee-cli from terminal. zsh kills it immediately. When I dmesg to find out why I found this:

mac_vnode_check_signature: /usr/local/bin/rawtherapee-cli: code signature validation failed fatally: When validating /usr/local/bin/rawtherapee-cli:
  Code has res

[2020-07-30 00:56] Octoroboto commented on #5868
This seems to have solved the problem in the interim:

sudo codesign -f -s - /usr/local/bin/rawtherapee-cli

[2020-07-30 11:58] Octoroboto commented on #5868
I stand corrected, the codesign command doesn't kill the app immediately but it can't find any settings and is unusable

[2020-07-30 20:07] Lawrence37 commented on #4763
Here's how the standard vectorscope (U-V) compares to Hue-Saturation and Hue-Chroma vectorscopes. Each have their strengths and weaknesses, although U-V and H-C are somewhat similar.

Image | H-S | U-V | H-C
-|-|-|-
![image](https://user-images.githubusercontent.com/45837045/88963174-54d08f80-d25c-11ea-808e-dcf4c38df9f7.png) | ![image](https://user-images.githubusercontent.com/45837045/88965345-7d

[2020-07-31 06:39] Waveluke commented on #5857
I honestly see this as a feature, not a bug.  If you are exporting to normal 8 bit or 16 bit files, it clamps to black automatically, but the point of 32 bit is to preserve details and structures that go above or below the standard 0-1 intensity range, as high precision floating point.  If I am doing a 32 bit workflow, I do not want to lose detail structures that would otherwise be blown when usin

[2020-07-31 11:04] age1988 commented on #5857
The point is to clamp in Lab before the conversion to RGB for a more accurate conversion

Ok for the values above 1.0 but the negative values shouldn't always preserved, most of the times they just introduce errors during some operations like matrix conversions

Do you really recovers negative values every time that you apply sharpen to an image?
Those values aren't out of gamut colors so how to r

[2020-07-31 13:47] Kildor commented on #5867
I'm sorry, but where is Inspect panel? It was very usefull feature to literally inspect images, fast and without any additional actions (like pressing any of keys).
Especially if there are several serial images of one object and I need select the best one. I need exact 100% part of image under the cursor, not "an image in unknown scaling but fullscreen". How can I switch back?

I don't have second

[2020-07-31 15:36] Thanatomanic commented on #5867
@Kildor Check this screenshot on RawPedia. The Inspect tab was one of the vertical options on the right.
http://rawpedia.rawtherapee.com/File:Rt_setm_fb.png

[2020-07-31 15:37] Thanatomanic commented on #5868
@Benitoite can you chime in?

[2020-07-31 16:18] Kildor commented on #5867
@Thanatomanic, I know what is inspector panel. The problem is there is no more inspector panel in 5.8-2389-g57303d52b and I have to use F, or Shift-F hotkeys just to inspect the image. It used to be much simple action before the update and I hope the bug with missed panel will be fixed.

[2020-08-01 11:50] heckflosse opened #5870 "Zoom in/out using the buttons at the bottom of the screen is much slower than using +/- keys"
Can someone confirm this?

[2020-08-01 23:59] Lawrence37 commented on #4763
I will go ahead with the H-S and H-C vectorscopes. The H-S vectorscope is useful for preventing over saturation and the H-C vectorscope is good for general purposes. They also complement the HSV and L* a* b* display below the navigator.

The "skin tone line" is problematic. I have not found any good resources on "typical" HSV or L* a* b* skin tone values.

[2020-08-02 03:42] Thanatomanic commented on #4763
Does this help?
https://munsell.com/color-blog/color-of-flesh/#:~:text=The%20fact%20is%20that%20most,everyone%20averages%205YR%2C%20chroma%203.

https://www.sciencedirect.com/science/article/pii/S0022202X92903477

[2020-08-02 06:10] Thanatomanic commented on #5865
@Alan01 Can you test this DCP file on a few regular photo's? I would also like to know how this profile performs in more artificial lighting (colored LED for example).

[RICOH PENTAX KP.zip](https://github.com/Beep6581/RawTherapee/files/5011709/RICOH.PENTAX.KP.zip)

[2020-08-02 06:17] ff2000 commented on #5870
I tried it and can't reproduce.
Switched styles (to rule out expensive animations that might take place before the click is signalled).
Ran it on konsole (in case some GUI-related text is printed).

Could it be a problem with your mouse?
Or do you use a different input device?
clicked() signals usually get emitted with the mouse_button_release and not mouse_button_press, so it could be your slow f

[2020-08-02 10:52] heckflosse commented on #5870
@ff2000

When I'm using mouse wheel or the keyboard shortcuts to zoom in/out, it is fast.
Only when pressing the buttons at the bottom of the editor, it's slow. I'm also getting the blocky preview (the one you can see when panning around) for a short while before it renders correctly when using the buttons. Really strange...

[2020-08-02 14:48] ff2000 commented on #5870
That part was clear.
I have no issues when clicking with the left mouse button on the "+" and "-" GtkButtons below the image. However I get a delay when I use the touchpad with "tap to click" on the GtkButtons.

And that wasn't clear. It's different for me when using the touchpad. I have "Tap - delay - blocky - final rendering" where [blocky - final] takes the same amount of time as when using e.g

[2020-08-02 19:28] rfranke commented on #5867
I agree that this is a rather big change. The assumption is that one wants to quickly preview the whole image  without having to open it in the Editor -- I liked this particular feature e.g. in Darktable.

The panel only showed a fraction of the image, good for inspecting details, but not sufficient to decide which images to remove and which to keep.

There was another issue with MacOS: the panel

[2020-08-02 20:01] Benitoite commented on #5868
We need to know which version and where from in regards to the software you are testing.

[2020-08-03 02:08] Lawrence37 commented on #4763
Thanks @Thanatomanic. The first link helped with the the L* a* b* value. For HSV, I transformed the U-V skin tone line.

[2020-08-03 06:24] ff2000 commented on #5867
I am on a single monitor system. panning doesn't work. Zoomin via scrollwheel works only when pressing "Alt" key simultaniously. Scrollwheel alone scrolls vertically. There is no way to scroll horizontally. Panning via click+drag also doesn't work.

But then what is going on in the background? RT-5.8: moving the mouse over the thumbnails produces no real CPU spikes (max 3-4%), with inspect panel o

[2020-08-03 06:32] Thanatomanic commented on #5867
The panel only showed a fraction of the image, good for inspecting details, but not sufficient to decide which images to remove and which to keep.

Fully agree here.

I recorded two video's of the same situation before https://github.com/Beep6581/RawTherapee/commit/c4e21438a1da2e880f6e041669b993225a3f7e2f (found after bisecting this issue) and of the current `dev` situation. See this filebin: http

[2020-08-03 10:23] Octoroboto commented on #5868
I'm using RawTherapee 5.8 released on February 4, 2020. I Downloaded it from the RawTherapee homepage. I've tried rawtherapee-cli by copying it to my usr/local/bin (per the instructions on the rawpedia) and by navigating to it inside the app from terminal with the same zsh: killed result because the code signature validation failed fatally.

[2020-08-03 17:35] rfranke commented on #5867
OK, I see. At the moment the inspector window is always treated as active, in order to always have the most up to date information when opened. This draws a lot of CPU power indeed. I will fix this.

[2020-08-03 17:58] rfranke commented on #5867
Regarding zooming and panning: my primary input device was a touchpad found on Mac and newer Windows laptops.

Additionally I tested a mouse with scroll wheel under desktop Linux. My mouse supports left and right click on the scroll wheel that generates horizontal events. Details of event assignment can be changed. The only limitation is that, whenever mouse events and trackpad events overlap, the

[2020-08-03 18:52] heckflosse commented on #5867
@rfranke , just for information, not only related to your change (which I personally appreciate, despite of the increas in CPU usage ;-):

I will make some tries on a HP convertible (touch screen) to see how we can use gestures to zoom in/out and so on

[2020-08-03 20:13] SilvioGrosso commented on #5867
Hello everyone,

Just tested yesterday's build (RawTherapee_dev_5.8-2397-ge0d3353d7_20200802) on Windows 10
IMHO, this feature is really useful.
Thanks a lot for working on it.

I confirm, on Windows 10, single monitor, the "bug" about the lack of panning when you press F or shift+F.
As already pointed out, to zoom into the image, you need to also press ALT while you rotate your mouse's wheel. It

[2020-08-04 05:08] Benitoite commented on #5868
Ok this was fixed in dev a couple months ago.  You may test my last successful macos build: https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8-397-g276ae214f.zip
An unsigned `-cli` is in the zip along with the `.dmg`.  You must install the app from the `.dmg` into `/Applications` and copy the `-cli` to your `/usr/local/bin`.   The `-cli` will load its libraries from the app in `/Applications`.

[2020-08-04 05:41] ff2000 commented on #5870
I looked at the source code.
Clicking the "+" button below the image area is handled here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/zoompanel.cc#L80
Hitting "+" key on the keybord is handled here:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/editorpanel.cc#L1565
Both call ZoomPanel::zoomInClicked() without parameters.

So both land here:
https://github.com/Beep6581/RawThera

[2020-08-04 10:38] rfranke commented on #5867
PR RawTherapee/RawTherapee#5872 should solve the performance issue.

I also checked the panning issue. Under OSX, a two finger swipe on the touchpad creates GDK_SCROLL_SMOOTH events. This currently results in panning as with any other program.

My mouse with scroll wheel creates GDK_SCROLL_UP/DOWN/LEFT/RIGHT events. The resulting behaviour could be changed to zoom in this case (no need for ALT key

[2020-08-04 11:38] heckflosse commented on #5867
It will take a while though, as it's my wife's ;-)

[2020-08-04 11:40] Beep6581 commented on #5670
The missing lenses result from an ExifTool cleanup and RT not keeping up with the changes:

https://github.com/exiftool/exiftool/issues/54#issuecomment-661060428

Though I don't understand why RT doesn't identify
`32810 | = Sony FE 70-200mm F4 G OSS`
for instance, since RT seems to support `LensType2` via `SALensID2Interpreter` where that lens can be found as
`choices.insert (p_t (32810, "Sony FE

[2020-08-04 11:58] Floflo81 commented on #5670
Yeah I think that's the root of the problem. My 2 lenses that are not recognized since RT 5.8 are also listed in SALensID2Interpreter.
Please check how this class is used by RawTherapee

[2020-08-04 13:34] Floessie commented on #5670
@Beep6581 @Floflo81 There's no tag 0x0114 in the file provided, thus the `SALensID2Interpreter` path isn't taken.

[2020-08-04 13:49] Floessie commented on #5670
@Beep6581

It seems, RT is missing that special sauce. :wink:

[2020-08-04 13:58] Beep6581 commented on #5670
Yes:
https://github.com/exiftool/exiftool/blob/master/lib/Image/ExifTool/Exif.pm#L5314

[2020-08-04 15:51] falket commented on #5495
Sorry but camera wasn't mine.

Here they are, for 6 days: https://we.tl/t-0TbBWRvt8o

Thank you!!

[2020-08-04 16:26] Thanatomanic commented on #5495
RT tells me all pictures were taken in f/11.0 which explains why it was harder for you to get a fully overexposed image I guess.
I've downloaded them and analyse them soon.

[2020-08-04 16:41] rfranke commented on #5867
Two further commits implement panning with mouse drag and zooming with scroll wheel.

Tested under OSX. Please check the latter in particular, i.e. if your scroll wheel emits GDK_SCROLL_UP/DOWN/LEFT/RIGHT events on your system.

[2020-08-04 18:30] rfranke commented on #5590
Encountering the problem with missing `-DCMAKE_OSX_DEPLOYMENT_TARGET=10.15` as well. Somehow the automatic detection does not work anymore.

[2020-08-04 20:02] Lawrence37 commented on #5867
The zooming behavior isn't quite right. I'm assuming the desired behavior is that the center of expansion is where the cursor is, but currently the center is a little bit off. I tested using the most recent commit, using the `ALT` key for zooming.

[2020-08-04 22:40] rfranke commented on #5867
Zooming should be around the pointer position. However, if you reduce the size of an image below the size of the monitor, it will be gradually shifted to fill the monitor, in order to avoid unnecessary black areas. Zooming down will end when the monitor shows the full image centered. Is this what you observed?

[2020-08-04 22:47] Lawrence37 commented on #5867
The zooming is a bit off even when the visible region is far away from the image edges.

[2020-08-05 07:04] ff2000 commented on #5867
Tested the PR. Performance is great (back to normal), panning with mouse-drag works.
:+1:

[2020-08-05 07:55] Kildor commented on #5867
But how can I preview the images without additional keys? I often need to quick inspect several photos (for example a serie of insect or bird) and I need exactly "a fraction of the image, good for inspecting details". I used to view this fraction selected with mouse and do not need image overwiev.

The best idea would be showing this screen by key and having a panel as it was before, without remov

[2020-08-05 12:38] rfranke commented on #5867
@Kildor: your requirement reminds me to point 3 by @Thanatomanic above: "There seems to be no indication in the GUI ... I think it is bad to have hidden functionality. Could we have a button (per thumbnail I guess?) to open the inspector?".
We might place a button somewhere to open the inspector window.

I'm typically using a second monitor for detailed inspections. With one monitor you can do the

[2020-08-05 12:52] ff2000 commented on #5867
I am on linux and unfortunately fullscreen means borderless, the content covers the whole screen, no titlebar, no window control buttons.
I personally also would prefer to be able to fully control the applications via mouse. I need to be able to hide my keyboard. I usually refer to this as "cat-mode". I have several cats and they like to visit my desk from time to time. I then only have my right h

[2020-08-05 16:59] rfranke commented on #5867
Didn't know that. Under OSX the border appears when moving the mouse to the upper edge of the fullscreen view. Under Linux the F11 key seems to be used to toggle fullscreen view (just tested with RT and with Chrome under Ubuntu 20.04). Could possibly implement this key binding -- but it wouldn't help in "cat-mode" :(

[2020-08-05 18:41] SilvioGrosso commented on #5867
Hello @rfranke

I have tried to test your latest changes (in essence, panning) on Windows 10 (with yesterday's build) but il looks like they are not available (panning stuff not implemented yet).

In ART (RawTherapee fork) the Inspector is also useful for judging side by side two similar images. It is useful for focus stacking purposes with images where the sharpness differs from one image to anot

[2020-08-06 02:16] wilchak opened #5874 "Black boxes in exported image (combining Local contrast and Tone mapping)"
Hello again,

I am seeing black boxes in my exported images, seemingly at random. The number and location of these black boxes seem to be affected by the overall exposure/brightness of the image. (I saw a couple of old bug reports indicating there was a past black boxes bug affecting RL Deconvolution sharpening, but I tested it and changing just RL Deconvolution vs Unsharp Mask has no effect on th

[2020-08-06 07:06] Thanatomanic commented on #5867
@SilvioGrosso the changes are made here RawTherapee/RawTherapee#5872. To test this PR, do `git fetch origin pull/5872/head:issue5867` (or any other name you want after the colon).

@rfranke Thank you for taking the time to fix and discuss 👍  I will update my initial post to reflect the outcome of the discussion and changes.

Some comments after testing your commits in RawTherapee/RawTherapee#5872:

[2020-08-06 07:09] Thanatomanic commented on #5867
Also, because the preview is tied to the cursor position, you can do this https://file.io/1r5VPYB2zryX
It's a bit counter intuitive because the hover text already tells you you are at a different file, though the preview only updates after you actually hover over the image part of the 'thumbnail card'.

[2020-08-06 07:18] Thanatomanic commented on #5874
Tone mapping is notorious for its high CPU and RAM consumption. It takes my fairly hefty machine ~almost~ more than three minutes to process this image in queue! ~~My exported JPEG does not show black boxes,~~ Yes it does, I need my eyes checked ~~so my first guess is that this is an artifact due to memory limitations on your end. How much RAM do you have?~~ but Floessie says no :wink:

Here is my

[2020-08-06 07:33] Thanatomanic commented on #5762
This is implemented https://github.com/Beep6581/RawTherapee/pull/5593

[2020-08-06 07:33] #5762 closed, assigned to nobody

[2020-08-06 08:38] Floessie commented on #5874
@Thanatomanic Um, no.

First of all, it there isn't enough physical memory, the OS will provide virtual one by swapping out pages. When even that is exhausted, the allocations will return `nullptr` and RT isn't prepared for that, so it will segfault.

The fact that you aren't seeing the blocks is more likely because you're running on Windows, if I'm not mistaken. Windows zeros  allocations, wherea

[2020-08-06 11:46] heckflosse commented on #5874
How about disabling `Local contrast` while keeping `Tone Mapping` enabled? Does this work?

[2020-08-06 11:50] Thanatomanic commented on #5874
@Floessie I just tried exporting on my VM Linux Mint and it _did_ crash during export. Maybe not the best benchmark, but still...

[2020-08-06 13:32] wilchak commented on #5874
@Thanatomanic Actually, your export DOES have one black box, in the lower middle of the frame. Yeah, Tone Mapping is crazy heavy on the CPU, especially with Reweighting Iterates set to 4 (even more expensive than the default of 1). But..... a value of 4 results in slightly better image quality than 1. (I used to use 10. I am a little insane.)

@heckflosse Yes, that works. No black boxes with Local

[2020-08-06 13:35] Thanatomanic commented on #5874
@wilchak You're absolutely right. So, marking this as a legitimate bug.

[2020-08-06 14:35] heckflosse commented on #5874
This is a duplicate of another issue (have to dig it out...)

[2020-08-07 02:14] Barugon opened #5875 "Ability to open externally compressed RAW files"
Some cameras (like Sony's) don't offer a losslessly compressed RAW format. It would be nice to be able to compress my raw files (`xz *.ARW`) and then be able to directly open them in RawTherapee.

[2020-08-07 07:31] ff2000 commented on #5875
Using xz to compress an entire RAW file won't change file size that much. The big chunk - actual RAW data - is some binary mess and that is hard to compress (if at all). I tested it on a SONY ARW file:
[code]
Not a whole lot file size saved. Probably some of the metadata got compressed...

"Compressed RAW file" means AFAIK that the camera reduces the size of the actual RAW data. I know nothing abo

[2020-08-07 07:33] Thanatomanic commented on #5875
I'm not sure how well xz compression works, but someone recently send me a 7z file of 1 MB that unpacked into more than 2 GB of raw images (white frames - so compression can be good)

[2020-08-07 08:49] Barugon commented on #5875
Both xz and 7z  cut the size of my uncompressed Sony RAW files by 50%.

[2020-08-07 08:54] heckflosse commented on #5875
What's your use case? If it's saving storage space, you could also try file system compression.

[2020-08-07 08:57] Barugon commented on #5875
[code]

[2020-08-07 09:00] Thanatomanic commented on #5875
It's not unheard of that applications do on-the-fly decompression. Imo this only makes sense if it is possible to read the compressed file and do the decompression entirely in memory. Otherwise you lose time in file IO.

[2020-08-07 23:00] t-o-d-d opened #5876 "RT crashing and can't debug"
For the past few weeks (after fresh format reinstalling Windows) I’ve been getting bad RT crashes with the dev builds where the only thing I can do is sign out of Windows to get RT to close out. It locks in File Browser view most often when opening and trying to scroll an image folder. RT often stops painting thumbnails about half way down if large enough folder, and begins to lock up and stops re

[2020-08-08 06:03] Thanatomanic commented on #5876
I am on the same version of Windows 10, and I haven't experienced any sudden increase of crashes (= zero), so I think we can rule that out as a cause quickly.

What do you consider a 'large folder'?

For thumbnails that won't even load: please try to clear your cache. Go to Windows Explorer, type in %LOCALAPPDATA%, look for any RawTherapee folder there, enter the folder and remove the cache folder

[2020-08-08 08:30] strogonoff opened #5877 "16-bit Hald CLUTs"
From my understanding, Hald CLUTs (made by Patrick David et al.) distributed [from RawPedia](https://rawpedia.rawtherapee.com/Film_Simulation) are 8-bit, is that correct?

Is huge file size (and the associated hosting/traffic expenses) the main reason for not distributing 16-bit Hald CLUTs? Or will they objectively not produce a difference?

[2020-08-08 08:33] heckflosse commented on #5876
Are this crashes or freezes?

[2020-08-08 09:56] Floessie commented on #5867
Current `dev` on Debian Testing (any architecture I have at hand):

When starting RT, a little "RawTherapee ..." window frame without content appears at the center of the screen nearly immediately for several seconds until the main GUI opens. Perhaps the inspector window is shown too early?

[2020-08-08 15:09] marbub opened #5879 "Wacom tablet works not with curve widgets"
I am using Ubuntu 20.04 with Wayland. I got the binary from flathub(it's very nice that you provide a flatpak binary :). The tablet is a Wacom Intuos pen & touch medium(CTH-680).

The UI is now working quite well with the Wacom tablet under Wayland except the custom curve widgets. It looks like it gets confused by the mouse pointer. To my understanding you have two pointers. Normally the mouse poi

[2020-08-08 19:25] t-o-d-d commented on #5876
I currently have my cache folder on a ram drive but have tried moving it back to default and it still crashes even from empty cache folder.

I have 32GB ram, a 250GB m.2 OS drive and a 1GB SSD data drive. This same config before I reloaded Windows and never had a crash of RT on that load. One thing is different on this reload is that I switched from Avast free AV to Bitdefender free AV. I made an

[2020-08-08 19:27] Thanatomanic commented on #5876
A crash is a sudden closure of the application (GUI disappears), a freeze is an application that becomes unresponsive to user input (GUI stays visible / greyed out).

[2020-08-08 19:28] t-o-d-d commented on #5876
Aha so these are freezes. It greys out eventually but still on screen and unresponsive. Stuff (entries or whatever they're called) continues to happen in GDB...

[2020-08-08 19:28] Thanatomanic commented on #5876
This is the really odd part for me. Can you try to monitor the CPU, RAM and disk usage when using RT until it freezes? Is there another application really active in the meanwhile, for example your virus scanner, or some Windows process?

[2020-08-08 19:34] t-o-d-d commented on #5876
Tried this just now. RT was top on CPU list. I saw Bitdefender jump when RT loaded. RT was fine as I browsed into a folder with at least a couple hundred images. When I tried to load an image RT immediately disappeared from the list. It froze but then I was able to close it from the Windows error prompt... I saw Bitdefender jump a little bit then it settled down. Going to try uninstalling it now..

[2020-08-08 19:41] t-o-d-d commented on #5876
So far so good.. No freeze with Bitdefender uninstalled after loading up a few different large folders and opening a file... I am pretty certain it was the culprit...

[2020-08-08 19:45] t-o-d-d commented on #5876
Anybody recommend a lightweight AV for Windows? :)

[2020-08-08 19:47] Thanatomanic commented on #5876
Personally I don't use any AV in Windows and never had trouble, but maybe you'd better ask this question in your topic on pixls.us 😃

Can we close? - it is a known problem that sometimes AV can interfere, without a clear solution

[2020-08-08 19:50] t-o-d-d commented on #5876
Yes please do. Pretty confident problem solved.

[2020-08-08 19:50] #5876 closed, assigned to nobody

[2020-08-08 20:06] heckflosse commented on #5876
I want to come back to this, though not related to this issue:

If your RT cache is on a ram drive, which is not backed up and restored to/from a physical drive on restart of your OS, RT needs to build the cached thumbnails of a folder again when opening this folder (which means it will need to read all raw files of this folder, makes thumbs of them and write them to the cache folder), whichs cont

[2020-08-09 02:34] t-o-d-d commented on #5876
That makes sense. I will change it back to SSD. Thanks

[2020-08-09 07:39] ff2000 commented on #5875
In theory gvfs supports browsing archive files. So perhaps there isn't much to do but enable the gvfsd-archive mount backend.
To make use of gvfs you can simply start RT with `GIO_USE_VFS="gvfs" rawtherapee`
However I can't see a way to select archives in the file browser.