[2020-01-13 18:43] TechXavAL commented on #5600
@Lawrence37
True, true. My fault: it seems that I didn't update to the latest commit, but you're right.

@Desmis
This is my personal opinion, but if the behaviour is correctly documented, the user should be well aware of that, so unless making crazy processings, there shouldn't be many problems. Well, at least not undoable problems.

[2020-01-13 19:26] blitzgneisserin commented on #5608
I have seen that too, though it seemed to me that the report was not clear enough. And it was reported some time ago...

[2020-01-14 01:06] Entropy512 commented on #5575
Good idea.

I'll post some examples tomorrow, but I THINK that starting from your idea I found a combination of settings that results in the same output data, but with the TIF being properly tagged as being linear.

If you don't want to try waiting:
Start with neutral profile.  Disable WB module, set input profile to No Profile, working profile to sRGB, and output profile to an ICC profile with sR

[2020-01-14 01:10] Entropy512 commented on #5580
https://filebin.net/dgjbravvlxmeh350 @Beep6581 here you are.

I'd be curious how the DCP I generated compares to yours.

Side note, you probably didn't see me ask this on pixls since you were on vacation, but I'm curious - what's the reasoning for passing -C for the D50 profile but not stdA in the instructions at https://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Creating_DCP_profil

[2020-01-14 01:11] Entropy512 commented on #5581
@Beep6581 in case @heckflosse didn't forward you the files, let me know if you need me to reupload these too or you already got them from him.

[2020-01-14 01:20] Entropy512 commented on #5599
BTW, sorry I haven't gotten around to reviewing this stuff in more detail...  Adjusting to being back at work after nearly 3 weeks off has been kinda brutal.  :)

[2020-01-14 08:11] gaaned92 commented on #5568
I second the position of @Beep6581 . A strong reason why I use ART is that the automatic perspective is very easy to use and brings good results and correction is much better than in RT.
Sometimes it needs manual adjustement to get a realistic perspective. I don't mind if it breaks my old pp3.
If you want to keep compatibility , the best way should be:
- use the old processing for old PP3 ( there

[2020-01-14 14:22] MeaningfulName-69 commented on #5572
@Beep6581 here they are: https://filebin.net/gd8ibw3p41e5fqzf
The StdA shots were taken on a tripod
Cheers

[2020-01-14 17:15] Lawrence37 commented on #5568
Currently, I have implemented option 4 (choice between old and new tools). It maintains backwards compatibility and defaults to the old tool. A good thing about this design is it hides the 12 (!) adjusters in the new version until the correction method is changed. I can do what @gaaned92 suggests if no one feels strongly about keeping the old method in the GUI. 6 adjusters do not deal with perspec

[2020-01-15 06:58] arturoisilvia opened #5609 "LocalLab: cannot choose the type of mask in Vibrance section"
You cannot choose the type of mask in Vibrance section in windows Version: 5.7-1778-gaeafd4426:

![Error vibrance](https://user-images.githubusercontent.com/55624244/72411868-3bf30780-376c-11ea-9179-67904224fb0c.JPG)

----
Version: 5.7-1778-gaeafd4426
Branch: newlocallab
Commit: aeafd4426
Commit date: 2020-01-14
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit dep

[2020-01-15 11:46] Desmis commented on #5609
@arturoisilvia
Thank you for testing :)

Fixed in commit 4578d98

jacques

[2020-01-15 14:36] #5609 closed, assigned to nobody

[2020-01-15 16:01] Beep6581 commented on #5597
That is not the default behavior. Probably you had some left-over settings from your old version of RawTherapee, or Windows did some remembering of its own.

[2020-01-15 16:17] Vordalf commented on #5597
I had RawTherapee 4 installed before the v5. As far as I remember, I uninstalled the v4, before installing the v5. I doubt I had hidden the parameters in the v4. But it is probably related to that v4 version indeed.

[2020-01-16 01:41] Benitoite commented on #5552
I am now reproducing the gdk pixbuf png loader error reported here and elsewhere.  This is with dev branch.  Is this fixed in another of your guys’ branches?

[2020-01-17 13:04] Beep6581 commented on #5581
I have them.

[2020-01-17 13:16] Beep6581 commented on #5580
@Entropy512 there is no need for `-C` when using D50:
https://www.ludd.ltu.se/~torger/dcamprof.html#camera_cat

[2020-01-17 15:58] Entropy512 commented on #5580
OK, so then should that be removed from the command line shown on rawpedia?

If I'm reading that correctly, relighting in general should not be necessary for targets that have complete spectral data (which I believe we do have for the CC24/CCPassport?  I can't recheck that until tomorrow.)

[2020-01-17 19:32] rfranke commented on #5552
Didn't see this, neither with the released 5.7 binaries nor when building from the dev branch. But encountering lot of "dll hell" under macOS. This is why I think it is related to the build/run environment, not to RT itself.

[2020-01-18 10:52] Beep6581 commented on #5580
@Entropy512 it's unnecessary in that example as far as I know, so it could be removed, but at the risk of forgetting to put it back in if you use a calibration illuminant different from D50.

[2020-01-18 12:30] Beep6581 commented on #5572
The shots look good.

Adobe DNG Converter 12.1 does not support the Canon EOS RP CR3 yet, so instead of Lumariver Profile Designer I will create a dual-illuminant profile using RawTherapee and dcamprof.

[2020-01-19 10:25] yjawhar opened #5612 "X-T10 DCP Profile Missing"
The X-T10 DCP profile is missing from RawTherapee/rtdata/dcpprofiles/ even though it was available in previous versions.

The profile was deleted in one of below commits.

![image](https://user-images.githubusercontent.com/10340586/72679256-28220b00-3ab6-11ea-8b49-e62c0419b6a1.png)

[2020-01-19 23:33] rfranke commented on #5426
Coming back to the original issue, I implemented the zoom gesture (move two fingers away or closer to each other) for a fullscreen inspector window (PR #5593). Gtk supports this nicely. Additionally using alt scroll for zooming, whereas scroll (move two fingers in parallel) is used to move a large image.

Wondering if the editor shouldn't support zoom gestures as well. Maybe a gesture preference s

[2020-01-21 18:47] arturoisilvia opened #5614 "Shortcut to toggle histogram between the left and right panels"
Would it be interesting to be able to pass the histogram from left panel to right panel and vice versa with a shortcut?

[2020-01-21 23:20] Metarkice opened #5615 "Add support for horizontal scroll wheel"
Right now, on RawTherapee, you can edit a slider value with *shift+scroll* .

Some mouses, like the R.A.T.7, the MX Master from Logitech, most touchpad and probably the Apple Magic Mouse supports horizontal scrolling.

**It would be neat if you could "scroll the slider" with the dedicated horizontal scroll control,** without holding shift.

I haven't found docs about this, but I think this is a st

[2020-01-22 08:12] arturoisilvia commented on #5614
This is my idea:
![VentanaConHistograma](https://user-images.githubusercontent.com/55624244/72876068-f4352880-3cf5-11ea-817c-f096e8e225d4.JPG)

![VentanaSinHistograma](https://user-images.githubusercontent.com/55624244/72876085-fc8d6380-3cf5-11ea-9627-bafb52f2ae82.JPG)

Instead of:
Preferences-> Click check "left panel histogram"-> Accept
(3 clicks every time you want to change)

Just a shortcut:

[2020-01-22 15:32] Entropy512 commented on #5580
If I'm reading it correctly, then it looks like you don't need it even if the calibration illuminant is different, IF the calibration target you are using has spectral data instead of just XYZ data for each patch - which is the case at least for the .cie files in dcamprof's data-examples directory?

[2020-01-22 18:28] heckflosse opened #5616 "Allow usage of camera (or even user defined) white balance in raw preprocessing and demosaic"
With the raw from [here](https://discuss.pixls.us/t/strange-green-artifacts-after-raw-conversion/15971)
automatic raw ca correction leads to green artifacts caused by auto white balance failing on this file.
Using camera white balance instead of auto white balance works fine.
Left without raw ca correction, middle with auto whitebalanced data and raw ca correction, right with camera whitebalanced

[2020-01-22 20:23] Entropy512 commented on #5616
Hmm, wouldn't this approach also solve some of the recent issues @rom9 encountered when working on filmneg?

[2020-01-22 21:21] rom9 commented on #5616
Yep, something like [this](https://github.com/rom9/RawTherapee/commit/b9d41371ee52df17a649dee97ba09e40fb773428) ?  ;-)
Still a draft, no PR yet. This implementation has the disadvantage that when forceAutoWB is true, the image average is re-computed on every preprocess, instead of just once on load.
Maybe we should compute and store both awb and camera multipliers in separate instance variables du

[2020-01-22 22:09] heckflosse commented on #5616
@rom9

I would not call this a disadvantage, just a consequence ;-)

[2020-01-23 12:48] Beep6581 commented on #5580
Yes, that seems to be the case for data from dcamprof, though the data from ArgyllCMS does not contain spectral data as far as I can tell.

[2020-01-23 19:57] chaimav commented on #5555
Another user here. Is it not possible to remove a tool from the GUI, but not from the underlying code? That way, if the user wants to re-render an image that used an old tool it wont break the compatibility.
-User reopens PP3
-Popup appears that XYZ tool is no longer available.
-Options are
--A) Keep tool but not to change any parameters.
--B) Disable tool
--C) Enable recommended replacement (if a

[2020-01-23 21:00] rfranke commented on #5615
👍
Good idea. Apple Magic Mouse supports horizontal scrolling under Linux as well. It appears natural to adjust sliders that way.
Shift Scroll is unusable under macOS though -- maybe same problem as #5607 :-(

[2020-01-23 21:42] rom9 commented on #5616
@heckflosse : by "add an option", you mean adding a user-accessible processing parameter in the  Raw toolpanel?
Or rather, you mean adding an internal flag in the code, that will be switched on or off based on some hard-coded conditions? (for example: when filmneg is enabled, or camera model is XYZ, or this weird metadata is present, etc.)

[2020-01-23 21:52] heckflosse commented on #5616
@rom9

Yes

[2020-01-23 21:59] #5612 closed, assigned to Beep6581

[2020-01-23 22:35] #5581 closed, assigned to nobody

[2020-01-23 23:10] #5580 closed, assigned to nobody

[2020-01-23 23:26] Beep6581 commented on #5572
[code]
![screenshot_20200124_002347](https://user-images.githubusercontent.com/5844619/73032719-25217480-3e40-11ea-9ca0-3b6976703613.png)
![screenshot_20200124_002510](https://user-images.githubusercontent.com/5844619/73032720-25ba0b00-3e40-11ea-94ed-0d1cde086fac.png)

[2020-01-23 23:27] Beep6581 commented on #5572
Further improvements possible once Adobe DNG Converter supports this camera.

[2020-01-23 23:27] #5572 closed, assigned to Beep6581

[2020-01-23 23:29] Beep6581 commented on #5572
@MeaningfulName-69 since RawTherapee does not currently support CR3 metadata, it will not auto-detect this DCP, so you must apply it manually. Create a new PP3 which automatically uses this DCP.
http://rawpedia.rawtherapee.com/Creating_processing_profiles_for_general_use

[2020-01-23 23:34] Beep6581 commented on #5572
![screenshot_20200124_003419](https://user-images.githubusercontent.com/5844619/73033106-4d5da300-3e41-11ea-8a03-0ea8bb3f8d39.png)

[2020-01-24 00:10] Beep6581 commented on #5387
![screenshot_20200124_010958](https://user-images.githubusercontent.com/5844619/73034788-42f1d800-3e46-11ea-9f01-d5a9f233f630.png)

[2020-01-24 00:15] #5387 closed, assigned to Beep6581

[2020-01-24 10:42] Beep6581 opened #5618 "Update rtexif using ExifTool"

[2020-01-24 11:28] Beep6581 commented on #5590
Hey, what is the status?

[2020-01-24 12:33] Beep6581 commented on #3558
`5.7-412-g`171668cbd

[2020-01-24 17:31] #3198 closed

[2020-01-25 06:40] rfranke commented on #5590
The build process works nicely with MacPorts -- much simpler imho. Everything works, including also omp. RT runs from the build directory. Unfortunately `make macosx_bundle` generates a bundle with .dylib conficts. #5598 does not help either for me.

[2020-01-25 06:57] rfranke commented on #5446
Mac version:
I find a solution to #5596 crucial for the 5.8 release to get rid of frequent crashes of RT under macOS.
Moreover, #5607 would be nice to have to make scrolling usable in the thumbs browser.

[2020-01-25 15:10] rfranke commented on #5596
PR #5619 should fix this (tested under MacOS and Linux).

[2020-01-25 15:55] Beep6581 commented on #5590
Does our documentation in RawPedia reflect the most recent approach? i.e. can we close this issue?

[2020-01-25 16:13] Benitoite commented on #5590
I noticed the script uses 'cp' in places instead of 'ditto' causing version errors.  PR will be forthcoming.

[2020-01-25 16:40] rfranke commented on #5590
@Benitoite: sounds promising!
@Beep6581: the documentation should still be updated.
- better separate the descriptions of Homebrew and MacPorts build from each other -- I think one should not mix both as I did first, but decide for one
- `sudo port install`: update `clang-3.9` to `clang-9.0` and add `libomp`
-  libiconv patch does not appear needed anymore (maybe shift to an appendix)
- outdated v

[2020-01-25 17:14] MeaningfulName-69 commented on #5572
Great, it works for me, it makes a lot better looking starting point than Adobe Standard, cheers.

[2020-01-25 18:02] rfranke commented on #5615
👎  I tried it out. The editor experience is becoming quite fiddly this way. When scrolling  through adjustments of a tool, such as Exposure, sliders easily start turning due to mislead scroll events. It appears better to keep asking for an additional confirmation, such as the existing implementation with Shift key.
Try it yourself by modifying `MyHScale` in `rtgui/guiutils.cc`.

[2020-01-26 00:34] abrock opened #5620 "a7 r2"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2020-01-26 00:35] abrock commented on #5620
Sorry, I wanted to search for bugs related to my camera and I'm too tired for that.

[2020-01-26 00:35] #5620 closed, assigned to nobody

[2020-01-26 07:07] Lawrence37 opened #5621 "Capture Sharpening Auto Radius Segfault"
Steps to reproduce:
1. Open the image file.

OR

1. Apply Neutral profile to the image.
2. Open the image in the editor.
3. Enable Capture Sharpening.

Problematic raw file [here](https://filebin.net/yl11pana62ol4tj5).
Capture Sharpening takes a long time to process, then RawTherapee crashes before Capture Sharpening can finish.

Backtrace:
[code]
Build information:
[code]

[2020-01-26 08:47] Thanatomanic commented on #5621
I was not able to replicate the crash, but CS is definitely taking a long time to process.

[2020-01-26 10:24] #5618 closed, assigned to Beep6581

[2020-01-26 10:37] Beep6581 commented on #5446
Unless anyone objects, I will be merging these tonight:
#5607 Fix scrolling in thumb browser under macOS
#5596 Frequent crashes of file browser under macOS

Then, after 5 days of testing, v5.8 will be tagged on February 1.

[2020-01-26 10:47] Beep6581 commented on #5621
Segfault reproduced here in Sabayon using second set of steps (apply neutral,  open,  enable CS):
[code]

Ping @heckflosse

[2020-01-26 16:30] heckflosse commented on #5621
looking...

[2020-01-26 16:32] heckflosse commented on #5621
I can reproduce the segfault. Looking for the culprit now...

[2020-01-26 16:36] longos08 opened #5622 "Profiled Lens Correction (Lensfun) DB missing"
Hi,

On MAC OS Catalina 10.15.2 and RT 5.7 I don't see any values in lens correction camera/lenses dropdown boxes. I checked the lensfun folder within RT application and it's populated with different xml files for various cameras including Canon. I updated lensfun DB and restarted RT - no help.
#This is where I checked the lens profiles
/Applications/RawTherapee.app/Contents/Resources/share/lensfu

[2020-01-26 17:39] heckflosse commented on #5621
Fixed with https://github.com/Beep6581/RawTherapee/commit/397099c543b47de748d9a12dacc31cb2ff7f535c

[2020-01-26 19:01] Lawrence37 commented on #5621
Fix confirmed.

[2020-01-26 19:01] #5621 closed, assigned to nobody

[2020-01-26 20:09] heckflosse commented on #5621
@Lawrence37

\o/

[2020-01-26 20:12] rfranke opened #5623 "Uninitialized variable in ipsharpen.cc"
@heckflosse, please have a look:
[code]

[2020-01-26 22:48] rfranke commented on #5622
Same issue here. It's related to the directory of the lens database. For my own build this is:
[code]
i.e. one `../../Resources` too much. You might apply the following quick fix to your installation of the released 5.7 binaries:
[code]

[2020-01-27 00:06] longos08 commented on #5622
Thanks for the quick revert! Fix helped.

[2020-01-27 00:26] longos08 opened #5624 "Removing cropped areas in batch mode RT 5.7 on MAC OS Catalina 10.15.2"
Hi,

I found a way how to export image without the cropped area by resizing the image to the dimensions of the cropped image - see picture attached.  Before this "trick" I was exporting using batch export which can only allow me to assign one dimension for all images. Now my workflow is split into 2 parts. First I export cropped images 1-by-1. Non-cropped images I do export using the batch file ex

[2020-01-27 04:33] Thanatomanic commented on #5622
@longos08 I reopen this issue, because the underlying problem of a wrong directory being set is not fixed

[2020-01-27 08:51] heckflosse commented on #5623
That warning is clearly nonsense and the code is changed in https://github.com/Beep6581/RawTherapee/tree/mlsharpen_review anyway

[2020-01-27 11:13] pierre-guillot commented on #5606
Hi @rom9
Tested some demo negatives "scanned" with a X-trans sensor and "Film Negative" module worked so great!
Now As many other people, I want this module for Vuescan files too :)
So I follow the pixls.us discussion to compile RawThatRapee (successfully) to test my own scans.
Unfortunately, I have the same problem than @rhaamo : can find the the "Film Negative" module. Even I save my scan as "RA

[2020-01-27 11:28] #5596 closed, assigned to nobody

[2020-01-27 13:00] Beep6581 commented on #5446
@Benitoite @rfranke if there are any more changes needed for macOS, please try to make them before Saturday.

Is there any chance that v5.8 will work in macOS 10.15 Catalina?

[2020-01-27 14:30] Benitoite commented on #5446
@Beep6581 that is definitely the goal... ATM I am chasing (packaging-related) errors, as *Catalina* enforces more application integrity by default than previous macOSes.

[2020-01-27 23:40] rom9 commented on #5606
Hi, the support for scanner TIFFs is not yet in the main dev branch.
Did you compile the official dev branch of RawTherapee from the main repo, or did you follow the link in the comment above? In the second case, you should have pulled the `filmneg_nonraw` branch from my repo, and the "Film Negative" tool should now be in the "Color" tab (not the "Raw" tab).
TIFF is the right format, so it should

[2020-01-28 19:31] pierre-guillot commented on #5606
Thank you for your amazing work! It work great with version 5.7-453-g2c26b853e and branch rom9-filmneg_nonraw.
Quality and color are very good, you just need to "tune" a little the Reference Exponent for the highlight.
I scan three old negatives from three different brands. Where can'I share it for people who wants to try?

[2020-01-28 21:23] rfranke commented on #5446
PR #5625 shall fix issue #5622 for macOS (missing lens data). It doesn't seem to make a difference under Linux as the cmake option LENSFUNDBDIR is not used. Didn't investigate Windows though.

The removed lines in CMakeLists.txt had been added as part of  008f280e2918cce406c270161f825c96b7421eba "lensfun: added possibility to use a private copy of the LF database".
The second prepend of DATADIR wa

[2020-01-29 00:49] rom9 commented on #5606
Great, i'm glad you like it ;-)
You can share the negatives on pixls.us, in the same [discussion](https://discuss.pixls.us/t/rawtherapee-how-do-i-enable-the-film-negative-tool-please/14815) of the link above.
Since these files are very big, please post a link via filebin.net , google drive or other file sharing service.
Thank you for testing and sharing!  :-)

[2020-01-29 06:58] Waveluke opened #5626 "Crash clicking "load a profile from file" on macOS High Sierra 10.13.6"
Regardless of the processing profile currently loaded or use of neutral processing profile, raw file used, or raw file location, I was consistently able to make Rawtherapee crash by clicking the load a profile from file icon in the editor tab.  Below is the specs of the version of Rawtherapee being run and the OS specs.

Attatched is the auto-generated crash report log generated by Apple, and a vi

[2020-01-29 18:08] Waveluke commented on #5626
Hello, this is my first bug report.  Feel free to give me any feedback on future bug reports, so I can be more helpful of the developers.  Note that while I recognize that running the debug version of RT would be ideal, I am betatesting on Imac computers that I do not have the administrative privilege to install the debug version of RT, if it even exists for Mac.

[2020-01-29 18:14] Beep6581 commented on #5626
Hi @Waveluke , all good with your bug report :) @rfranke and @Benitoite might have some questions or new builds for you to test.

[2020-01-29 18:29] Waveluke commented on #5626
Ok, note that I do not have admin privileges on these macs, so new builds I cannot readily test**, though I will be cranking out a few more bug reports on various issues I have discovered on macOS High Sierra Version 10.13.6, so I just wanted to make sure that my reports were done with the best technique possible.   I did notice the revision of the title and will follow that form.

**Update, this

[2020-01-29 19:18] rfranke commented on #5626
Can't reproduce the error on my MacBook running Catalina 10.15.2. According to your error message, the GTK library `libgio-2.0.0.dylib` packaged with RT has been built for 10.15 and doesn't find an expected symbol in the system library `libobjc.A.dylib` under 10.13:
[code]
I wonder if we can do much aside from building a specific version of RT for 10.13 High Sierra. Why don't you upgrade your syst

[2020-01-29 23:10] ronanM commented on #5622
Same problem (no camera list, no lens list) with `Linux Kubuntu 19.10` (`snap` installation).

[code]

[2020-01-30 04:13] Waveluke commented on #5626
This seems highly plausible, as this is just one of many performance and stability issues I have had on this mac computer lab install, which has been puzzlingly counter to my experience running Rawtherapee on Windows (Nothing but sunshine and roses).  I'll pass this advise on to the tech administrator of this lab, trying both of your suggestions, and report back if neither work.

[2020-01-30 05:23] rfranke commented on #5622
Thank you for the info. I had not tried the snap installation under Linux, but it sounds reasonable that a Linux AppImage has the same issue as a Mac App.

[2020-01-30 11:05] mantusma commented on #1805
Hello, I have the same problem. Rawtherapee 5.7 don´t load the included color profile. Gimp loads the image correctly with the Adobe RGB profile.

As a workaround I exported the gimp profile "Compatible with Adobe RGB (1998).icc" and can load it manually in Rawtherapee.

![Uploading SAM4173.JPG…]()

[2020-01-30 11:08] mantusma commented on #1805
attached file

![SAM4173](https://user-images.githubusercontent.com/60468603/73444556-bf7b3e00-4393-11ea-8038-fc1c261d61be.JPG)

[2020-01-30 13:04] Beep6581 commented on #1805
@mantusma your image does not include an ICC profile, but it does include relevant metadata:
[code]

[2020-01-30 13:10] Beep6581 commented on #1805
You don't need to do that. Just open the JPEG in RT, set the input profile to "Custom" and select "RTv4_Medium.icc" which is equivalent to AdobeRGB, or select some other AdobeRGB.icc from disk.

[2020-01-30 21:55] #5599 closed, assigned to nobody

[2020-01-31 05:11] mantusma commented on #1805
Thank you for your quick response! I tested the "RTv4_Medium.icc" in comparison to the Gimp profile. It is very similar but not identical but a much better "fallback" solution than the sRGB profile.

If I open the JPG with the "RTv4_Medium.icc" or "Compatible with Adobe RGB (1998).icc" file, should I save it with the "RTv4_Medium.icc" or "RTv4_srgb.icc"profile? The File size of the resulting JPG f

[2020-01-31 11:04] Beep6581 commented on #1805
@mantusma save as you normally would - typically sRGB (RTv4_sRGB.icc).

[2020-01-31 16:37] Harry456-foto commented on #5522
I have uploaded following files from the camera Canon EOS M6 MKII:

RAW/CRAW | Aspect   ratio | Name
-- | -- | --
RAW | 3:2 | IMG_RAW_3_2.CR3
CRAW | 3:2 | IMG_CRAW_3_2.CR3
RAW | 4:3 | IMG_RAW_4_3.CR3
CRAW | 4:3 | IMG_CRAW_4_3.CR3
RAW | 16:9 | IMG_RAW_16_9.CR3
CRAW | 16:9 | IMG_CRAW_16_9.CR3
RAW | 1:1 | IMG_RAW_1_1.CR3
CRAW | 1:1 | IMG_CRAW_1_1.CR3

Can you update Rawtherapee so that the CR3 files

[2020-01-31 16:41] Harry456-foto opened #5627 "Canon EOS M6 Mark II raw decoding support"
I have uploaded following files from the camera Canon EOS M6 MKII:

RAW/CRAW | Aspect   ratio | Name
-- | -- | --
RAW | 3:2 | IMG_RAW_3_2.CR3
CRAW | 3:2 | IMG_CRAW_3_2.CR3
RAW | 4:3 | IMG_RAW_4_3.CR3
CRAW | 4:3 | IMG_CRAW_4_3.CR3
RAW | 16:9 | IMG_RAW_16_9.CR3
CRAW | 16:9 | IMG_CRAW_16_9.CR3
RAW | 1:1 | IMG_RAW_1_1.CR3
CRAW | 1:1 | IMG_CRAW_1_1.CR3

Can update Rawtherapee so that it will recognise

[2020-01-31 17:58] Beep6581 commented on #5522
@Harry456-foto it does already. Color target shots still needed.

[2020-01-31 18:00] Beep6581 commented on #5627
It does already. Color target shots in incandescent tungsten + daylight still needed, as written here: https://github.com/Beep6581/RawTherapee/issues/5522#issuecomment-555644025

[2020-01-31 18:00] #5627 closed, assigned to nobody

[2020-01-31 21:27] Harry456-foto commented on #5627
Hi Roman,

Do you need 8 images of each ( tungsten and daylight) 16 in total ore are 2 images sufficient?

Kind regards,

Harry Cornelis

Van: Beep6581 [mailto:notifications@github.com]
Verzonden: vrijdag 31 januari 2020 19:01
Aan: Beep6581/RawTherapee
CC: Harry456-foto; Author
Onderwerp: Re: [Beep6581/RawTherapee] Canon EOS M6 Mark II raw decoding support (#5627)

It does already. Color target sh

[2020-01-31 21:28] Beep6581 commented on #5551
Fixed for AppImage, now for Windows.

[2020-01-31 21:34] Beep6581 commented on #5627
Making an input profile requires two photos of a color target, one in daylight and the other incandescent.
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2020-02-01 09:09] aferrero2707 commented on #5551
Thanks! Could you take care of the windows script as well, or should I do that?

[2020-02-01 10:55] Beep6581 commented on #5551
@aferrero2707 as we're releasing this weekend and time's running short, if you could do the Windows script that would be great :+1:

Development:
[code]

Tagged release:
[code]

So basically:
[code]
and then append `win64` for the zip file only.

[2020-02-01 11:11] Harry456-foto opened #5628 "Canon EOS M6 Mark II color targets"
Yesterday, have uploaded following files from the Canon Camera M6 MKII:

RAW/CRAW | Aspect   ratio | Name
-- | -- | --
RAW | 3:2 | IMG_RAW_3_2.CR3
CRAW | 3:2 | IMG_CRAW_3_2.CR3
RAW | 4:3 | IMG_RAW_4_3.CR3
CRAW | 4:3 | IMG_CRAW_4_3.CR3
RAW | 16:9 | IMG_RAW_16_9.CR3
CRAW | 16:9 | IMG_CRAW_16_9.CR3
RAW | 1:1 | IMG_RAW_1_1.CR3
CRAW | 1:1 | IMG_CRAW_1_1.CR3

Today I have uplodaded:

IMG_Tungsten.CR3
IM

[2020-02-01 11:15] Harry456-foto commented on #5627
Hi Roman,

I have uploadad these files:

IMG_Tungsten.CR3

IMG_daylight_inside.CR3

IMG_daylight_outside.CR3

IMG_Tungsten.CR3 : tungsten light inside the house

IMG_daylight_inside.CR3: daylight inside the house

IMG_daylight_outside.CR3: daylight outside the house, in the garden.

These are all images of colorfull toys.

Kind regards.

Harry Cornelis

Van: Beep6581 [mailto:notifications@github.c

[2020-02-01 11:24] Thanatomanic commented on #5628
Harry, could you please upload the files to https://filebin.net and post the link here? The DCP-related shots should not be uploaded to raw.pixls.us, that's not the purpose of the repository.

[2020-02-01 11:32] aferrero2707 commented on #5551
@Beep6581 I am taking care of the windows package naming right now...

[2020-02-01 12:43] Harry456-foto commented on #5628
I could only upload 1 file https://filebin.net/kxlq01tweiphdf66

The other files gave network problems. Should I sent them to you via wetransfer?

Met vriendelijke groeten,
Harry Cornelis

[2020-02-01 12:45] Thanatomanic commented on #5628
A WeTransfer link would be equally useful. Thank you for the effort.

(btw, I've cleaned up your post a little bit, replying directly from email is kinda messy)

[2020-02-01 13:11] Harry456-foto commented on #5628
Img_tungsten.zip and others: https://filebin.net/jpky96yeve7nhz9m

Kind regards,
Harry Cornelis

[2020-02-01 13:28] Thanatomanic commented on #5628
Now that you've uploaded them I see that you actually didn't shoot a color chart (e.g.  X-Rite ColorChecker Passport Photo or similar). @Beep6581 can correct me if I'm wrong, but without a color chart there is no possibility to calibrate.

[2020-02-01 13:37] Harry456-foto commented on #5628
I don’t have a color chart. Do I have to buy it?

Met vriendelijke groeten,

Harry Cornelis

Van: Thanatomanic [mailto:notifications@github.com]
Verzonden: zaterdag 1 februari 2020 14:28
Aan: Beep6581/RawTherapee
CC: Harry456-foto; Author
Onderwerp: Re: [Beep6581/RawTherapee] Canon EOS M6 Mark II color targets (#5628)

Now that you've uploaded them I see that you actually didn't shoot a color char

[2020-02-01 15:54] aferrero2707 commented on #5551
@Beep6581 @heckflosse windows names should be fine now. Could you check that the release packages also install in the appropriate folder?
https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee_5.7.exe
https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee_5.7_win64.zip

[2020-02-01 18:33] Benitoite commented on #5552
Ok I think I've sorted that pixbuf error out to a directory typo.   #5629

Now obtaining
[code]
with the report
[code]

[2020-02-01 19:39] rfranke commented on #5552
The dll hell goes on :-(   I'm encountering a new problem with #5629 for my MacPorts based build:
[code]
Any idea which change could cause this?

[2020-02-01 21:06] Benitoite commented on #5552
Think expat needs to be told what version to be during the cmake phase via the environment variables for versioning.

https://github.com/Benitoite/RTdeps/blob/master/macbuildRT.sh#L123

[2020-02-01 21:39] rfranke commented on #5552
It's related to PR #5629, because this error is new.

[2020-02-01 22:13] Beep6581 commented on #5551
Thank you @aferrero2707

[2020-02-01 22:21] Beep6581 commented on #5628
The Canon EOS M6 Mark II is already supported, but lacks an input profile. Creating an input profile requires photographs of a color target under daylight and under incandescent tungsten light.

More info:
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

Color target shots not provided, closing.

[2020-02-01 22:21] #5628 closed, assigned to nobody

[2020-02-01 23:55] Benitoite commented on #5552
@rfranke interesting, how does `otool -L /opt/local/lib/libexpat.1.dylib` report the version?

edit: more commits added to #5629 results in working build on latest macOS *Catalina* 10.15.3

[2020-02-02 12:47] bwisn opened #5630 "Polish translation - updated"
I've updated the Polish translation file, but still there are missing translations.
[Polish.txt](https://github.com/Beep6581/RawTherapee/files/4144179/Polish.txt)

[2020-02-02 13:06] Beep6581 commented on #5630
Thank you @bwisn , and just in time for 5.8!

[2020-02-02 13:10] #5630 closed, assigned to nobody

[2020-02-02 13:40] #5551 closed, assigned to Beep6581

[2020-02-02 13:47] Beep6581 commented on #5446
Branch [`release-5.8`](https://github.com/Beep6581/RawTherapee/tree/release-5.8) ready.

The RawTherapee 5.8 release is now pending only on the macOS build issues. Once macOS builds work, we can merge and release.

[2020-02-02 14:54] bwisn opened #5631 "Polish translation - new update"
Added more translated strings.
[Polish.txt](https://github.com/Beep6581/RawTherapee/files/4144364/Polish.txt)

[2020-02-02 19:50] pierre-guillot commented on #5606
done ;)

[2020-02-02 22:23] #5631 closed, assigned to nobody

[2020-02-04 07:37] Beep6581 commented on #5446
RawTherapee 5.8 is released.

[2020-02-04 07:37] #5446 closed, assigned to Beep6581

[2020-02-04 07:39] Beep6581 opened #5632 "Roadmap for v5.9"
https://github.com/Beep6581/RawTherapee/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3Av5.9

[2020-02-04 14:52] Benitoite commented on #5446
My work on a macos 10.9 build is just pending a rebuild of meson Glib. (and the gtk stuff that follows glib)

[2020-02-04 21:25] Beep6581 commented on #5446
@Benitoite @rfranke @Krijger you can let me know here when a tested build for macOS is ready.

[2020-02-05 10:01] Benitoite commented on #5622
Here is a new build with lensfun installed to test:
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8.zip

[2020-02-05 10:04] Benitoite commented on #5579
Hello, here is a new build to test for issues...
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8.zip

[2020-02-05 10:36] maboleth commented on #5603
Dang, I hoped this change would go live in 5.8, when I read that many shortcuts were changed. :-)

Keep up the good work guys, capture sharpening is incredible! Thanks.

[2020-02-05 11:04] Dave-McAllister opened #5633 "Profiled Lens Correction inoperative in 5.8 (Windows)"
In v5.8 Windows 10 x64:

Automatic selection does not retrieve Camera/lens
Manual selection is unresponsive (no dropdown)

These function as expected in v5.7
Operating on the same image: Left 5.7, Right 5.8
![5758](https://user-images.githubusercontent.com/46267152/73836326-e6f45f80-4806-11ea-932d-5611155bf456.png)

Regards, David McAllister

[2020-02-05 13:11] cyrus-and commented on #5579
Hi @Benitoite, what commit should fix this issue? It is fixed in that build?

[2020-02-05 13:56] Benitoite commented on #5579
Not sure, was never able to reproduce this bug.  The new build contains all up to date third party dependent libraries, representing thousands of bug fixes along the way since last summer.

[2020-02-05 14:01] Benitoite commented on #5633
Are the profiles present in the bundle?

[2020-02-05 14:38] Benitoite commented on #5624
So what you are saying is that batch crop is broken?   Does this occur for you in https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8.zip ?

[2020-02-05 14:41] cyrus-and commented on #5579
This build presents the same issue.

So if you open a menu in fullscreen mode everything is OK? I forget to explicitly mention that you need to enter in fullscreen mode, I updated the steps.

[2020-02-05 14:58] Benitoite commented on #5319
`share/` should be in a folder called `Resources/` under `Contents/`

![Screen Shot 2020-02-05 at 6 59 41 AM](https://user-images.githubusercontent.com/17919239/73853117-2f9b2100-47e5-11ea-9275-4ae7026d3371.png)

[2020-02-05 15:08] Benitoite commented on #5626
@Waveluke Here is a new build if you would like to test this issue further.
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8.zip

[2020-02-05 15:53] Dave-McAllister commented on #5633
I don't know about the bundle as I just humbly run the installer but I've compared the installed folders/files and find that unlike 5.7, the Rawtherapee/5.8/share/lensfun folder is empty.

[2020-02-05 16:01] Dave-McAllister commented on #5633
I just tried copying the contents of 5.7...lensfun to 5.8...lensfun and Profiled Lens Correction now works. This workaround will do me for now but the underlying problem needs attention.
Thanks for the pointer.

[2020-02-05 16:23] Benitoite commented on #5633
@Dave-McAllister  Thanks for looking into it.  Seems like a basic packaging error.

[2020-02-05 16:28] Benitoite commented on #5579
Ok thx.  Does this only occur on macOS?   Windows and Linux builds behave as expected?

[2020-02-05 16:30] cyrus-and commented on #5579
AFAICT it only happens with macOS (Linux seems fine; cannot try on Windows).

[2020-02-05 20:10] Benitoite commented on #5446
Some nominal reports have come in:
* macos 10.13
    * [zurdo](https://discuss.pixls.us/t/rawtherapee-macos-build-needs-urgent-testing/16176/12?u=hiram)
* macos 10.__
     * [120photo](https://discuss.pixls.us/t/rawtherapee-macos-build-needs-urgent-testing/16176/14?u=hiram)
* macOS 10.11
    * [carlos1960](https://discuss.pixls.us/t/rawtherapee-macos-build-needs-urgent-testing/16176/20?u=hiram)

h

[2020-02-05 21:36] Beep6581 commented on #5614
Seems you're more interested in hiding it than in placing it in the left panel.

[2020-02-05 21:38] Beep6581 commented on #5624
@longos08 can you explain the problem more clearly?

[2020-02-05 21:56] Alexey-Danilchenko opened #5634 "canon_cr3_decoder.cc references"
Please fix the copyright references for the CR3 decoder. It is in all entirety lifted from LibRaw https://github.com/LibRaw/LibRaw/blob/master/src/decoders/crx.cpp yet bears no copyright from LibRaw. References to ART as well are a bit misleading since no such project can easily be found.

[2020-02-05 22:02] Beep6581 commented on #5633
The RawTherapee 5.8 installer for Windows is missing the lensfun DB. On it.

[2020-02-05 22:06] Beep6581 commented on #5634
@Alexey-Danilchenko

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/canon_cr3_decoder.cc#L41

Is anything missing?

[2020-02-05 22:08] Alexey-Danilchenko commented on #5634
Check the link I have in my post to LibRaw version - notice their copyright?

[2020-02-05 22:09] Alexey-Danilchenko commented on #5634
What is ART btw? You have "Code adapted from ART" but I could not find any references to their source/origin.

[2020-02-05 22:18] heckflosse commented on #5634
https://bitbucket.org/agriggio/art/src/master/

[2020-02-05 22:23] aferrero2707 commented on #5633
I am having a look now.

[2020-02-05 22:25] Beep6581 commented on #5634
@Alexey-Danilchenko thanks for pointing that out, I'm committing a fix.

ART is a fork of RawTherapee.

[2020-02-05 22:28] #5634 closed, assigned to nobody

[2020-02-05 22:33] Beep6581 commented on #5633
@aferrero2707  I committed a fix (hopefully), waiting for it to recompile...
https://github.com/aferrero2707/rt-win64/issues/2

[2020-02-05 22:38] agriggio commented on #5634
@Alexey-Danilchenko apologies, this is my fault. I took an old copyright header for LibRaw instead of the proper one. I'll fix this in ART as well asap.

[2020-02-05 22:42] aferrero2707 commented on #5633
Looks like the ARCH repositories now have LensFun v0.3.95, which ships a new version of the database:
[code]
The mingw version that is used to compile RT is v0.3.2, which I suspect still requires a version_1 DB.

I am modifying the scripts to use `lensfun-update-data` from 0.3.2 instead of 0.3.95.

[2020-02-05 22:47] Beep6581 commented on #5633
@aferrero2707 ok, I will leave this to you.

[2020-02-05 22:48] aferrero2707 commented on #5633
The builds are in progress. Sorry for overlooking this detail...

[2020-02-05 23:41] arturoisilvia commented on #5614
The histogram will always be in a panel: either on the left, or on the right.
For most of the edition, the left panel is usually hidden.
Therefore, to be faster in showing the histogram in the right panel, my idea is that a shortcut swap the histogram from the left panel (hidden) to the right panel when needed and vice versa when the histogram is not needed with the left panel hidden.

But it is j

[2020-02-06 00:48] Benitoite opened #5635 "macOS 10.15 Catalina Full Disk Access/Security - transition away from /bin/sh"
**`5.8` macOS 10.15 *Catalina***
Some security permissions may need to be set for some users to access directories other than `~` and `~/Pictures`
* You *must* physically add `/bin/sh` to Full Disk Access under Privacy in the Security & Privacy Control Panel.

* You may need to navigate to the `/bin` folder using Go > Go to Folder... (Command-Shift-G)
You can drag `sh` onto the panel.
![Screen Sho

[2020-02-06 01:52] Benitoite commented on #5579
Ok I'm now reproducing that in 10.15.3...

![Screen Shot 2020-02-05 at 5 46 39 PM](https://user-images.githubusercontent.com/17919239/73898915-cbf21180-483f-11ea-896a-9ddff1048044.png)

The question is this an RT thing or a GTK or GTKMACOSINTEGRATION thing?

[2020-02-06 04:40] NAwlinsContrarian opened #5637 "Canon PowerShot S120 DCP profiles"
I'm submitting Canon PowerShot S120 raw files of my X-Rite ColorChecker Passport for your use in creating DCP profiles for RawTherapee users. I _also_ have the DCP files--both a dual-illuminant and separate sunlight and tungsten--but I understand that you want to make the DCPs yourselves. This GitHub box won't let me submit the CR2 files. I will try the suggested https://filebin.net/, but if that

[2020-02-06 04:42] NAwlinsContrarian commented on #5637
The filebin URL to get the CR2 files is:

https://filebin.net/bgqu4w5qmb72esro

[2020-02-06 08:20] aferrero2707 commented on #5633
@Beep6581 @heckflosse @Dave-McAllister the bundled LensFun DB should be OK again in the windows packages. Could somebody please confirm?

I did a quick test under wine (no, I'm not getting drunk, don't worry....) and the camera/lens combo is now automatically detected in my case:

![Screen Shot 2020-02-06 at 9 18 08 AM](https://user-images.githubusercontent.com/6229237/73918405-dead2a80-48c1-11ea-

[2020-02-06 08:33] Beep6581 commented on #5633
Get the latest build here:
https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee_5.8.exe
sha256sum:
`2d6f127598ef9a3d36a86657ac53c81b1957b6d9ae97fef1fadd8757f82aa915  RawTherapee_5.8.exe`

I confirm that the latest build includes the Lensfun DB, tested through wine.

@aferrero2707 I get some missing icons and a corrupt main status bar label - is this a wine-only problem? Te

[2020-02-06 08:35] Thanatomanic commented on #5633
On it!

[2020-02-06 08:36] Beep6581 commented on #3845
@Entropy512 I think it should expand, at least on mouse-click.

[2020-02-06 08:39] Thanatomanic commented on #5633
I can confirm: lensfun works as intended, no icons are missing.

May I suggest to release this as 5.8.1, to make clear it contains an important fix?

[2020-02-06 08:39] Beep6581 commented on #498
Double-clicking a node does expand it.

[2020-02-06 08:39] #498 closed

[2020-02-06 08:43] Beep6581 commented on #4924
This has been bugging me for a few years...

[2020-02-06 08:44] Beep6581 commented on #3845
Related: #3845 #4193 #4924

[2020-02-06 08:44] Beep6581 commented on #4924
Related: #3845 #4193 #4924

[2020-02-06 08:44] Beep6581 commented on #4193
Related: #3845 #4193 #4924

[2020-02-06 08:47] Beep6581 commented on #5633
@Thanatomanic RT's code hasn't changed at all, so I'll just do a switcheroo and write a news post.

[2020-02-06 08:53] #5525 closed, assigned to nobody

[2020-02-06 09:01] Beep6581 commented on #5633
Will wait for [the macOS build](https://discuss.pixls.us/t/rawtherapee-macos-build-needs-urgent-testing/16176/26?u=morgan_hardwood) from @Benitoite before uploading the new Windows build, and announce this in one news post.

[2020-02-06 10:24] Benitoite commented on #5635
Actually you can tag this one for v5.9 as the intent is to investigate transitioning away from `/bin/sh`

[2020-02-06 11:06] Beep6581 commented on #5446
@Benitoite great, busy uploading it with instructions from here:
https://discuss.pixls.us/t/rawtherapee-macos-build-needs-urgent-testing/16176/31?u=morgan_hardwood

Note:
1. There is no more need to package `AboutThisBuild.txt` alongside the build - it should still be _within_ the build, so inside the DMG in this case, but you no longer need to zip it with the DMG.
2. There is a new filename schem

[2020-02-06 11:16] arturoisilvia commented on #5633
Tried:
https://github.com/Beep6581/RawTherapee/releases/tag/nightly/RawTherapee_5.8.exe
Lensfun now works correctly on my windows 10 & RT-5.8
I only confirm that I have installed it and it works fine.
(although I am more of the LocalLab branch....)
Greetings.

[2020-02-06 19:41] ronanM commented on #5622
On `Linux Kubuntu 19.10` with the version `5.8` (https://rawtherapee.com/shared/builds/linux/RawTherapee_5.8.AppImage) the lenses drop-down boxes (for **manually selected**) are still empty.

[2020-02-06 20:18] Benitoite commented on #5622
@ronanM Thanks
@Beep6581 and @aferrero2707 are the AppImage gurus.

[2020-02-06 21:07] rfranke commented on #5622
@Benitoite Congrats that you finally made it!
Can access memory cards now, thank's to the hint at rawtherapee.com to grant full disk access to `/bin/sh`. The small triangles are visible.
For some reason I still need the above link for the lensfun database:
[code]
How did you configure `LENSFUNDBDIR`?
Where does RT store the options file now -- don't find a `~/.config/RawTherapee*` ?

[2020-02-06 22:35] longos08 commented on #5624
ok, will try to explain more clearly...
1. Firstly what I want to achieve / problem statement?
"How do I export the cropped image without the black areas? ideally in a batch mode and not one by one" This is how it works in LR. LR when exporting into JPEG removes areas that are cropped however in RT when using batch export cropped areas are blackened and not removed...
2. In order to remove the cro

[2020-02-06 22:36] longos08 commented on #5624
I didn't test the version you mention.

[2020-02-06 22:46] Benitoite commented on #5622
5.8 was built thusly:

https://github.com/Benitoite/RTdeps/blob/209288ea5093478864a70bb32b008b1142928e50/macbuildRT.sh#L232

`cd ~ && git clone https://github.com/Beep6581/RawTherapee.git repo-rt && cd ~/repo-rt && sudo rm -f -r build && git checkout 5.8 mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE="release"       -DPROC_TARGET_NUMBER="1" -DPROC_LABEL="generic processor" -DCACHE_NAME_SUFFIX

[2020-02-07 00:05] Waveluke commented on #5626
OK, I will test it out once I find a friend who has admin priviledges on a Imac running High Sierra.  I found the bug on a computer I don't have admin priviledges, so there will be some delay.

[2020-02-07 00:35] Benitoite commented on #5626
@Waveluke the build is also released on RawTherapee.com

[2020-02-07 00:50] adriangonsalves opened #5638 "Rawtherapee v5.8 not opening canon m-Raw images correctly"
I can reproduce this issue on windows and Linux. It seems to be specificaly related to opening canon M-raw images (raw images but scaled down).
[https://cpn.canon-europe.com/content/education/infobank/image_compression/file_types_raw_sraw_and_jpeg.do](https://cpn.canon-europe.com/content/education/infobank/image_compression/file_types_raw_sraw_and_jpeg.do)

In v5.6 (i have also tested V5.7 on wind

[2020-02-07 05:40] rfranke commented on #5622
OK, even though you configure `-DLENSFUNDBDIR="./share/lensfun"`, `~/Library/Application\ Support/RawTherapee/config/options` says (last lines):
[code]
This results in twice `../../Resources/../../Resources/./share/lensfun`, i.e. `RawTherapee.app/Resources/share/lensfun`.

Did you apply [this commit](https://github.com/Beep6581/RawTherapee/commit/2cc89183df862c1744a6578032803737b64fe467#diff-af3b6

[2020-02-07 08:58] Benitoite commented on #5622
2cc8918  did make it into the 5.8 tag.
My options file has
[code]
This bit now gone:
https://github.com/Beep6581/RawTherapee/blob/364fe35023874276b9572f58a62b9e62787bc981/CMakeLists.txt#L255-L257
used to apply to all three platforms, but we probably only didn't need the lines on macOS.

See #5639

Also, the prepending `./` looks superfluous, which I might have copied from somewhere at some point b

[2020-02-07 09:26] Benitoite commented on #5633
@Beep6581 @aferrero2707 Just before the 5.8 tag we had 2cc8918 which removed
https://github.com/Beep6581/RawTherapee/blob/364fe35023874276b9572f58a62b9e62787bc981/CMakeLists.txt#L255-L257
#5639 reverts and adds `if (NOT APPLE)`

[2020-02-07 09:40] Benitoite commented on #5638
Same on macOS.

[2020-02-07 10:43] heckflosse commented on #5638
They are not raw. They are already demosaiced.

I will have a look...

[2020-02-07 11:01] heckflosse commented on #5624
@longos08

If you crop, you do not need to resize to the same dimensions.
Just disable the resize tool
Except you want to use post-resize-sharpening
Then you have to enable the resize tool. But that's no problem because you can use this settings then which also work for batch:
![grafik](https://user-images.githubusercontent.com/13733487/74024149-7cc3f200-49a1-11ea-82df-1ee167fc083b.png)

[2020-02-07 12:13] heckflosse commented on #5638
It's caused by https://github.com/Beep6581/RawTherapee/commit/0cf3f16dfa58b4fcefd6d49965f8337333f076a4

Looking how to fix it...

[2020-02-07 12:46] longos08 commented on #5624
Ahaaaa :). Thanks. Let's close this one.

[2020-02-07 12:46] #5624 closed, assigned to nobody

[2020-02-07 12:47] longos08 commented on #5624
Thanks for how-to!

[2020-02-07 12:52] #5638 closed, assigned to heckflosse

[2020-02-07 16:06] Beep6581 commented on #5633
PR #5639 merged in commit 113f096 (ping @rfranke)

Ok to close?

[2020-02-07 17:27] Benitoite commented on #5626
@Waveluke BTW, if you need a working 5.7 https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.7.zip

@Beep6581 it can probably replace the non-working https://rawtherapee.com/shared/builds/mac/RawTherapee_OSX_10.9_64_5.7.zip

[2020-02-07 17:37] rich-james opened #5640 "RT 5.8 File Browser Not Showing CR3 Thumbnails"
In RT 5.8 Windows 8.1 x64:

File Browser not displaying thumbnails for any CR3 files in a directory.  However, individual CR3 files can be opened and modified without issue in the Editor using a right click, "Open with RawTherapee" command.

In Preferences > File Browser > Parsed Extensions, CR3 is not listed as an option for selection.  You have do an Add for CR3 to get the thumbnails to display.

[2020-02-07 19:32] rfranke commented on #5622
Yes, it works after removal of an old `~/Library/Application\ Support/RawTherapee`. Meaning that this issue can be considered solved for macOS :-)

[2020-02-07 19:36] rfranke commented on #5633
Sure if other systems require this.

[2020-02-07 19:40] Benitoite commented on #5640
No problem with .CR3 thumbnails on MacOS `5.8` and `dev`.
Perhaps try deleting your options file and re run your `5.8`?
![Screen Shot 2020-02-07 at 11 34 25 AM](https://user-images.githubusercontent.com/17919239/74060292-826c0880-499e-11ea-8e9e-655d8d4ea2bd.png)

[2020-02-07 20:01] rich-james commented on #5640
Thanks! Deleting the options file worked.  Now CR3 shows up as a checked option in the list of parsed extensions. 

BTW, the new Capture Sharpening is a great addition.

    On Friday, February 7, 2020, 11:40:18 AM PST, Benitoite <notifications@github.com> wrote:

No problem with .CR3 thumbnails on MacOS 5.8 and dev.
Perhaps try deleting your options file and re run your 5.8?

—
You are receiving

[2020-02-07 20:11] #5633 closed, assigned to Beep6581, aferrero2707

[2020-02-07 20:12] #5640 closed, assigned to nobody

[2020-02-07 20:25] Entropy512 opened #5642 "Versioning for bugfix releases"
This doesn't really affect me since I'm just running git master, but it does affect the project as a whole:

It seems like every time RT does a release, there are a few minor build issues identified and resolved.  Some of them need minor code changes, some just a rebuild/fix to the "release" build process like the lensfun data bundle situation on Windows.

After this, the builds are re-uploaded, b

[2020-02-07 20:42] user2155 opened #5643 "Verbose feedback when cannot save processing profile"
I'm not sure is it a bug or a feature.

How to reproduce it:

Open any raw file, edit it, quit the RT.
Change PP3 file attributes to "Read Only".
Open the raw file, edit it, quit the RT.
Open the raw file again, you'll see that changes are not saved.

RawTherapee:
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86

[2020-02-07 20:44] Thanatomanic commented on #5642
I concur with the idea of bumping a minor version when the functionality of a downloadable installer is changed. @Beep6581 I know you said that there were no code changes and a version increase is not necessary. But to me this is simply an indication that _something_ was not completely right with the previous package and I am encouraged to update.

RC versions are also possible.

[2020-02-07 20:46] Thanatomanic commented on #5642
See also https://semver.org/ (which we kinda follow) and point 3 of the specs there.

[2020-02-07 20:55] Benitoite commented on #5643
It seems logical that you will not be able to save changes into a read-only file...

[2020-02-07 20:57] user2155 commented on #5643
But there is no warning, that's the problem.

[2020-02-07 20:59] Entropy512 commented on #5642
I think the challenge here might be that in cases where it's JUST a build change for one OS - what to do with the OSes that didn't change?  Just rerelease the same package with a version bump to the minor rev, or just say in release notes that the point release is OS-specific or build-specific and thus other OSes will not get rebuild/re-released?

semver isn't very clear on exactly what the strate

[2020-02-07 21:22] Benitoite commented on #5643
I think what you are looking to do is file a Feature Request for a warning dialog then? You might want to edit the title as such.

[2020-02-08 01:00] Harry456-foto commented on #5627
Hi,

I have installed Rawtherape 5.8 but I still can’t see the CR3 files of my Canon M6 MKII.

Do I have to change something in the configuration?

Met vriendelijke groeten,

Harry Cornelis

Van: Beep6581 [mailto:notifications@github.com]
Verzonden: vrijdag 31 januari 2020 22:35
Aan: Beep6581/RawTherapee
CC: Harry456-foto; Author
Onderwerp: Re: [Beep6581/RawTherapee] Canon EOS M6 Mark II raw decod

[2020-02-08 08:12] user2155 commented on #5643
OK, done

[2020-02-08 10:03] #5622 closed, assigned to nobody

[2020-02-08 10:11] ronanM commented on #5622
For Linux, replace the value (set by a previous version ?) in `~/.config/RawTherapee/options`:

from
[code]

to
[code]

[2020-02-08 10:53] teplit opened #5645 "Capture Sharpening causes black halos"
A screenshot without any sharpening:
![RawTherapee - without sharpening](https://user-images.githubusercontent.com/5978882/74083531-ce39b300-4a6d-11ea-856a-c36e105f0d4f.png)

A screenshot with RL Deconvolution sharpening only:
![RawTherapee - with RL Deconvolution sharpening](https://user-images.githubusercontent.com/5978882/74083705-e3174600-4a6f-11ea-8f55-2051f8552d1a.png)

A screenshot with aut

[2020-02-08 13:16] Harry456-foto commented on #5627
Hi,

I can edit CR3-files directly, by right click and open with Rawtherapee 5.8 but I can’t see the CR3 files in the file explorer in Rawtherapee 5.8.

Do I have to change a configuration for this?

Met vriendelijke groeten,

Harry Cornelis

Van: harry [mailto:harry_cornelis@skynet.be]
Verzonden: zaterdag 8 februari 2020 2:00
Aan: 'Beep6581/RawTherapee'; 'Beep6581/RawTherapee'
CC: 'Author'
Onderw

[2020-02-08 13:23] Harry456-foto commented on #5627
Hi,

I have found it: I had to add an extention to the list but because my screen is too small I didn’t see the buttons at the bottom of the window.

It works now.

Sorry for annoying.

Met vriendelijke groeten,

Harry Cornelis

Van: harry [mailto:harry_cornelis@skynet.be]
Verzonden: zaterdag 8 februari 2020 2:00
Aan: 'Beep6581/RawTherapee'; 'Beep6581/RawTherapee'
CC: 'Author'
Onderwerp: RE: [Beep

[2020-02-08 13:33] heckflosse commented on #5645
Well, for a better comparison you should set the amount in RL to 100. Your setting of 50 simply blends the unsharpened with the sharpened one at 50% which obviously gives a less sharp image while suppressing the halos in RL.

Left is Capture sharpening, right your RL settings but amount at 100 to show the plain RL
![grafik](https://user-images.githubusercontent.com/13733487/74086029-55dbed80-4a7f-

[2020-02-08 14:16] Harry456-foto commented on #5627
Hi,

I can edit CR3 files but as far as I can see is the meta-data (exif-data) not imported into RAWtherapee.

Can you have a look at it?

Met vriendelijke groeten,

Harry Cornelis

Van: harry [mailto:harry_cornelis@skynet.be]
Verzonden: zaterdag 8 februari 2020 14:24
Aan: 'harry'; 'Beep6581/RawTherapee'; 'Beep6581/RawTherapee'
CC: 'Author'
Onderwerp: RE: [Beep6581/RawTherapee] Canon EOS M6 Mark I

[2020-02-08 14:19] aferrero2707 commented on #5622
@ronanM does it mean that there is nothing to be fixed in the AppImage, and it is only a configuration problem?

[2020-02-08 14:19] Thanatomanic commented on #5627
@Harry456-foto Please do not reply to GitHub issues directly from e-mail again. This seriously messes up the layout.

And there is already an issue for things related to CR3 support. #5319 Both of your points are known.

[2020-02-08 14:32] ronanM commented on #5622
I think the case `DBDirectory=` should be manage to be automatically replaced by the good value.

[2020-02-08 15:07] Beep6581 commented on #5622
@aferrero2707 the appimage works fine on my system.

[2020-02-08 15:32] Beep6581 commented on #5642
Not so. In the past I made release candidates to catch issues before a final release, issues which required code changes, and each new candidate had a new tag.

Due to real life circumstances, I had no time for release candidates for 5.8. I hoped for the best, and it worked out, except for the Windows build which needed rebuilding. The rebuild required no changes to the source code, so the 5.8 tag

[2020-02-08 17:16] teplit commented on #5645
For even better technical comparison between Sharpening – RL Deconvolution and Capture Sharpening all relevant settings of both tools need to be equal. In addition to that for fair comparison the style for RAW development needs to be the same – a darker image emphasizes white halos.

So here is an image with Sharpening – RL Deconvolution only:
![RawTherapee 2 - RL deconvolution](https://user-image

[2020-02-08 17:46] heckflosse commented on #5645
There is a reason, auto limit iterations is enabled by default in Capture Sharpening.
I would never use 100 iterations and I always use the auto limit iterations enabled except for this kind of technical comparisons.

Btw: in my example screenshots above I did not use 100 (I used 30) iterations for RL in details tab and the bright halos were still present

[2020-02-08 18:35] heckflosse commented on #5645
Here's another comparison. Middle is unsharpened. Which one has more halos, right or left?
![grafik](https://user-images.githubusercontent.com/13733487/74090305-f34c1700-4aa9-11ea-89b3-3223b9040bf8.png)

[2020-02-08 18:53] #5000 closed, assigned to nobody

[2020-02-08 19:03] teplit commented on #5645
I noticed the bright halos in the right image, but the problem is that Capture Sharpening causes more dark halos with the same settings as Sharpening – RL Deconvolution. That is evident from the previous comparison where the "brake" of Capture Sharpening is switched off.

There are cases where even 100 iterations of RL Deconvolution are not enough to obtain sharp looking image with acceptable amou

[2020-02-08 20:19] heckflosse commented on #5645
Trust the auto limit iterations to reduce the dark halos. The result will not be perfect (it can not be perfect as we do not know the exact psf), but imho it is much better than the other RL deconvolution in RT.
It works on different data (CS works on linear data, while Sharpening RL deconvolution works on Lab L channel (non-linear))

Unfortunately the documentation of CS is not in rawpedia. But g

[2020-02-08 20:35] heckflosse commented on #5645
They are not problematic for you? I find them much more problematic than dark halos as bright halos are more eye-catching than dark halos.

[2020-02-08 21:59] NAwlinsContrarian opened #5647 "Samsung Galaxy S7 DCP profiles"
I'm submitting Samsung Galaxy S7 raw files of my X-Rite ColorChecker Passport for your use in creating DCP profiles for RawTherapee users. I also have the DCP files--both a dual-illuminant and separate sunlight and tungsten--but I understand that you want to make the DCPs yourselves. The two DNGs are posted at:

https://filebin.net/2byvzwevvkydi0pg

[2020-02-09 10:08] teplit commented on #5645
Of course the bright halos are problematic - that's why I used initially 50 for the amount of deconvolution.

I decided to share conditionally a problematic RAW file in order to exemplify the difference between Capture Sharpening and Camera Raw sharpening.

First is the RawTherapee's automatic Capture Sharpening (with RCD demosaicing):
![RawTherapee 3 - with automatic Capture Sharpening](https://u

[2020-02-09 10:42] Jaxan commented on #5626
I had the same issue with RT 5.7 on MacOS High Sierra. RT 5.8 doesn't crash anymore :-).

[2020-02-09 12:19] Beep6581 commented on #5647
@NAwlinsContrarian you'd need to state that you're releasing the raw files into the public domain.

[2020-02-09 13:25] heckflosse commented on #5645
Thanks for the providing the raw :+1:

I agree that for this image the default of 20 iterations is too low

Capture sharpening default (20 iterations)
![grafik](https://user-images.githubusercontent.com/13733487/74101982-8be0a680-4b3f-11ea-8803-924554b32a88.png)

100 iterations
![grafik](https://user-images.githubusercontent.com/13733487/74101994-a87cde80-4b3f-11ea-808e-0bafe93b2180.png)

[2020-02-09 19:38] teplit commented on #5645
This photo was taken several years ago with higher aperture then necessary (f/16) and that most likely caused considerable softness. Much later I found that the maximal sharpness for these lens is around f/8. Nowadays I take into consideration this, but sometimes I still get surprisingly soft photos – the problem is that I don’t see clearly the sharpness of the image on the display of my mirrorles

[2020-02-09 20:51] heckflosse commented on #5645
In my opinion the RL Deconvolution in Details tab of RawTherapee (btw: Capture Sharpening also is RL-Deconvolution) can look sharper (though it is not) than Capture Sharpening because it has more halos than Capture Sharpening. Capture Sharpening tries to avoid this halos.

Another advantages of Capture Sharpening are the Corner radius boost (which increases the radius of the gaussian deconvolution

[2020-02-09 21:17] seswho opened #5649 "Please add camera support for the Panasonic DMC-fz70"
Hello,

I have a Panasonic DMC-FZ70 and looking to have the support added for this camera.

Thank you.

[2020-02-10 03:20] NAwlinsContrarian commented on #5647
Yes, I am releasing these two DNG raw files (Samsung Galaxy S7 photos of my X-Rite ColorChecker Passport) into the public domain.

[2020-02-10 03:21] NAwlinsContrarian commented on #5637
To be clear, I am releasing these two raw files (Canon PowerShot S120 photos of my X-Rite ColorChecker Passport) into the public domain.

[2020-02-10 10:17] #5642 closed, assigned to nobody

[2020-02-10 16:10] #5626 closed, assigned to nobody

[2020-02-10 16:12] Beep6581 commented on #5649
It already is supported.

Could be improved if we had color target shots:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2020-02-10 16:12] #5649 closed, assigned to nobody

[2020-02-11 09:48] Benitoite commented on #5635
Siril is setting variables in `main()`

https://discuss.pixls.us/t/when-will-rt-run-on-mac-os-10-15-2-catalina/15795/32?u=hiram

@Beep6581 you may reopen this one.

[2020-02-11 15:56] Beep6581 commented on #3558
`5.8-40-g`40018b1e9

@heckflosse I got these benign warnings during compilation:
[code]

[2020-02-11 20:37] ItsMeOnly2 opened #5650 "Help with diagnosing abort on save"
I'm fairly sure the problem lies with my setup, but I truly hope you can help me out with rooting out the issue:

I'm running a basically do-it-yourself linux system (uname -a: Linux beethoven 3.18.46 #4 SMP PREEMPT Wed Dec 28 19:36:22 CET 2016 x86_64 GNU/Linux) based on Debian base and Debian-maintained glibc, gcc and binutils. Basically, I can save or export image to gimp as long as I don't chan

[2020-02-11 21:47] Beep6581 commented on #5650
Apparently a result of a memory leak. Since no one else reported this, and since you're using a self-rolled distro, I'd assume it's related to using too-old/too-new components in your toolchain. A complete build log would give more clues - including all cmake arguments, dependency versions, and anything else related.

[2020-02-11 22:32] ItsMeOnly2 commented on #5650
Attaching:
[CMakeOutput.log](https://github.com/Beep6581/RawTherapee/files/4188807/CMakeOutput.log)
[CMakeError.log](https://github.com/Beep6581/RawTherapee/files/4188808/CMakeError.log)
[CMakeCache.txt](https://github.com/Beep6581/RawTherapee/files/4188809/CMakeCache.txt)
Anything else I can give you that would give you a clue?

[2020-02-12 08:13] #4776 closed, assigned to nobody

[2020-02-12 20:56] abertens opened #5651 "Git clone Feb 12, 2020 fails to build on Debian 9"
Hi there,

Today I downloaded RawTherapee from dev (562b19bb5cf1d0d2cc99341bccf8f5fdad38ca3b) and build failed with the following errors on Linux Debian 9:
[code]

Release 5.8 builds without problem:
[code]
Regards,
Andres Bertens

[2020-02-12 21:45] heckflosse commented on #5651
I will fix that tomorrow.

[2020-02-12 22:38] #5651 closed, assigned to heckflosse

[2020-02-12 23:12] abertens commented on #5651
@heckflosse ,
Yes, fixed now! Builds again without problem :-)

Thanks,
Andres

[2020-02-14 08:45] mzuther opened #5652 ""I love Free Software" Day"
Hi!

Today is [:heart: I love Free Software Day :heart:](https://fsfe.org/campaigns/ilovefs/) and I want to thank for your continued efforts in contributing to RawTherapee! Anyone involved has helped RawTherapee in becoming the showcase for Open Source projects it is now.

These days, I simply love to edit my photos – something that I didn't really enjoy before I stumbled upon your application.

S

[2020-02-15 13:17] bwisn opened #5653 "Polish translation"
Updated with new translations
[Polish.txt](https://github.com/Beep6581/RawTherapee/files/4208498/Polish.txt)

[2020-02-15 13:48] #5653 closed, assigned to nobody

[2020-02-15 14:17] drvanger opened #5654 "Regression: NIKON D5100 14-bit uncompressed raw files open black - Corrupt data near ..."
Nikon NEF file made with Nikon D5100 open as if they were completely black. In the file browser they are displayed correctly, but after opening a file in the editor by enter, the image becomes black. After that, they display as black rectangles also in the file browser. This happens only after the update to version 5.8. Version 5.7 and before worked correctly with the same raw files. As far as I c

[2020-02-15 14:41] Beep6581 commented on #5654
Tested using other NIKON D5100 raw files (from [RPU](https://raw.pixls.us/)). Confirmed that compressed (lossless and lossy type 2) open correctly in `5.8-47-g`12b1d8f76, while 14-bit uncompressed open black.

[2020-02-15 14:43] Beep6581 commented on #5654
Confirmed that 5.7 opened all three types correctly.

[2020-02-15 17:12] heckflosse commented on #5654
Caused by https://github.com/Beep6581/RawTherapee/commit/bd6088837c99b95f9a9c53fdd5ff4990f1c550c0

[2020-02-15 17:45] heckflosse commented on #5654
Last row of this files contains garbage
![grafik](https://user-images.githubusercontent.com/13733487/74592607-3286e480-5023-11ea-9f3e-c25b0adc3a8a.png)

I can fix that by reducing height by one or by two for this files. I prefer reducing height by two to get an even height.

[2020-02-16 14:19] Benitoite commented on #5635
Instead of touching `main()`, I have translated the executable loader's environment variables into an `LSEnvironment` dictionary in `Info.plist`.  The bundle structure is simplified and folder security is automatic. `/bin/sh` is no longer used to interpret any executable loader and is no longer needed to add to the Security & Privacy control panel.

https://github.com/Beep6581/RawTherapee/pull/564

[2020-02-17 09:07] Benitoite commented on #5635
$RT_SETTINGS and $RT_CACHE must be set during runtime in `options.cc` because we must poll for $HOME, which is not visible to Launch Services.  Getting $HOME actually gives us the container located within `~/Library`, so we can strip the end of the path to get the absolute locus of `~/Library` and append the App. Support dir.

[2020-02-17 15:48] bwisn opened #5655 "Polish translation - updated"
Translated more strings to Polish
[Polish.txt](https://github.com/Beep6581/RawTherapee/files/4214649/Polish.txt)

[2020-02-17 18:22] pinteborin commented on #5128
Hi! I have exactly the same problem, in Windows 10, with v5.8. Did you solve it?

[2020-02-17 20:45] maboleth opened #5656 "Green noise when using auto geometric distor. correction on high ISO"
Happens on high ISO RAW images, tested on Canon 5D Mark IV.

Having automatic geometric distortion correction for lens introduces some high-pitched green noise.

These are 100% crops of before and after turning this feature on/off. Please zoom in to see it for yourself.

![greendots-2](https://user-images.githubusercontent.com/2467520/74685375-aa454280-51ce-11ea-889b-6dd8b52ad90b.jpg)
![greendots-

[2020-02-18 10:30] heckflosse commented on #5656
Which version of RT?

[2020-02-18 10:55] maboleth commented on #5656
![test](https://user-images.githubusercontent.com/2467520/74730146-e9fb4100-5245-11ea-90d3-7f762bd3a944.jpg)
Latest 5.8.
It affects Geometric distortion only. Vignetting & Chromatic abr. are fine.

Affects ISOs from 12800 onwards, even though ISO 10000 still have them here and there, it's not as visible as on higher values. At ISO 25600 darker areas are so littered with it, the only way to make th

[2020-02-18 11:38] Beep6581 commented on #5656
@maboleth upload sample raw files.

[2020-02-18 12:30] #5637 closed, assigned to Beep6581

[2020-02-18 12:33] KrzysztofWardynszkiewicz opened #5657 "Sigma C 18-200 mm f/3.5-6.3 DC Macro OS HSM detection"
RawTherapee 5.8 detects my 'Sigma C 18-200 mm f/3.5-6.3 DC Macro OS HSM' as Tamron.

Here is one of problematic NEF's:
https://www.dropbox.com/s/7nxnx8uu3hczohh/DSC_0001.NEF?dl=0

[2020-02-18 13:09] maboleth commented on #5656
Okay, here it is.
http://cvrkutanje.net/_V3A9361.CR2

[2020-02-18 14:57] Beep6581 commented on #5656
@maboleth pp3 too please.

[2020-02-18 14:59] Thanatomanic commented on #5656
@Beep6581 It is quite trivial to reproduce: apply Neutral, set Profiled lens correction to Automatic. Make sure ~~Distortion correction~~ Geometric distortion is ticked. The scaling of the pixels somehow amplifies the existing noise.

[2020-02-18 15:08] maboleth commented on #5656
Exactly. It's almost automatic. The thing I have noticed, the image (darker areas, shadows) seems 'peppered' with high pitched green noise in some kind of waves, lines, rarely it follows the existing noise.

Also when chroma noise is removed, this green noise remains. Nothing removes it except turning GD off.

[2020-02-18 15:11] heckflosse commented on #5656
Setting method to Linear it works fine. Seems Logarithmic does not work well on noisy images...

Left using Logarithmic, right using Linear
![grafik](https://user-images.githubusercontent.com/13733487/74748673-32782600-5269-11ea-992e-8fab91897666.png)

[2020-02-18 15:17] Beep6581 commented on #5657
ExifTool-11.83 which RT5.8 uses detected it as:
[code]
ExifTool-11.87 detects it as:
[code]

Closing as handled by #3801

[2020-02-18 15:17] #5657 closed, assigned to nobody

[2020-02-18 15:18] maboleth commented on #5656
^^ Correct. Logarithmic seems to cause the problem here.

Cranking the image contrast also makes this greatly visible. Also shows this pattern I mentioned before quite clearly.

![_V3A9343](https://user-images.githubusercontent.com/2467520/74749301-3c4e5900-526a-11ea-9928-10fc13524d71.jpg)

[2020-02-18 15:20] #5655 closed, assigned to nobody

[2020-02-19 18:36] madarexxx opened #5658 "Canon EOS 100D dual ISO DNG regression"
Hi :)
I am using Rawtherapee for a while and it is the great example of free software -- developing, bringing new ideas and possibilities to users.

Today I have met with the great regression --- Rawtherapee refused to open Dual ISO DNG file, created by Canon SL1 and converted to DNG by:

[code]
I am running:
- Linux Mint 19.3, amd64
- Intel Core i7 8750H
- 16 GB of DDR4 RAM

I have tested both 5.

[2020-02-20 11:45] Beep6581 commented on #5658
@madarexxx which version of RawTherapee opened it correctly?

[2020-02-20 11:48] Beep6581 commented on #5658
The file you uploaded is not the same as the file in your screenshots, but the problem looks the same.

[2020-02-20 11:49] Beep6581 commented on #5658
Confirmed that it looks correct in 5.7.

[2020-02-20 13:20] Thanatomanic commented on #5658
Bisected it to this seemingly unrelated commit https://github.com/Beep6581/RawTherapee/commit/81f9ab73152c8896fd59c37e3adb1b8e3d563563

[2020-02-20 13:52] heckflosse commented on #5658
It also fails in ART, where I stole this from ;-)

[2020-02-20 19:30] Pandagrapher commented on #5410
Hello All,

Some preview of the improved copy/paste (or save/load) for Locallab spots :
![image](https://user-images.githubusercontent.com/40305292/74970873-7319a000-541f-11ea-98f2-62b95f078bee.png)
When using partial dialog, spot to be kept can now be chosen in a list!!

@Desmis
I gonna start a (huge) merge. Please do not impact GUI (or noticed me the diff from now).

Pierre

[2020-02-20 22:04] heckflosse commented on #5658
@Thanatomanic

It turned out that the bisecting did not show the culprit. I thought about the reason why the bisecting did not show the culprit and I know the reason: If bisecting shows a commit which fixes a former uninitialized variable, the human input to bisecting is not reliable.

I talked with @agriggio about this issue and the fix for RT could be
[code]

[2020-02-21 10:33] Desmis commented on #5410
No problem, i have no computer :)
But thank you for your job.
Jacques

[2020-02-21 15:26] Benitoite commented on #5590
Did some updates of https://rawpedia.rawtherapee.com/MacOS

Added `-Wno-pass-failed -Wno-deprecated-register`
Outdated library version section removed outright.
Updated libiconv patch to 1.16. (note: I still build the lib with it but haven't gone back and looked into the original issue for a test):
[code]
Added warning box at beginning of MacPorts section.

[2020-02-22 03:39] AnthraxCat opened #5659 "RawTherapee 5.8 Issue Processing Canon EOS 60D Files"
RawTherapee Info:
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0

Windows 10 64bit

Issue:

When loading RAW photos, they are completely messed up. They show up correctly in the preview bar at the top of the editor, but when loaded into the editor become irreversibly green and extremely black. No default profile is being applied, cle

[2020-02-22 06:47] Thanatomanic commented on #5659
Can you please upload your raw file for investigation? I tested all available 60D samples on https://raw.pixls.us and they seem to work fine (RAW, mRAW, sRAW, 14-bit DNG).

[2020-02-22 07:19] AnthraxCat commented on #5659
The RAW file I have in the screenshots is here: https://filebin.net/t8ngzuw5c0pa99de

[2020-02-22 07:55] Thanatomanic commented on #5659
This was actually addressed in #5638 and fixed in https://github.com/Beep6581/RawTherapee/commit/4221fdf31e43658cef98ad660ad398b8ae81b8d7

If you want to update your version of RT, please try a nightly build from here: https://github.com/Beep6581/RawTherapee/releases/tag/nightly
(scroll all the way down and get the RawTherapee_dev_5.8-53-g17767ce0a_20200218.exe or win_64.zip version)

[2020-02-22 07:55] #5659 closed, assigned to nobody

[2020-02-23 15:46] rfranke commented on #5590
Just tested the updated documentation. Following things might be changed:
- section MacPorts: add `libomp` to sudo port install
- section MacPorts: `sudo port install ld64 +ld64_xcode` with two `l`
- section libiconv patch: don't need this anymore
- section Compile RawTherapee: `clang-mp-9.0` and `clang++-mp-9.0` to get the compiler installed with MacPorts, as opposed to `/usr/bin/clang`
- section

[2020-02-23 16:37] Benitoite commented on #5590
Great, @rfranke thanks for testing.  The issue is not really with any missing image.  It is with the particular gdkpixbuf2 loader module.  Perhaps due to compilation options, link options, or install_name timing during the bundling.  However I noticed that compiling gdkpixbuf2 with the loaders built-in did make the problem disappear for me.

[2020-02-23 16:38] Benitoite commented on #5590
LTO = off was placed into the instructions to let people know they can turn it on if they wish.

[2020-02-24 05:25] Benitoite commented on #5590
Also, port `clang++-mp-9.0` includes `clang-mp-9.0`
Updates made.

[2020-02-24 20:35] rom9 commented on #5616
Sorry for the delay! Here's the PR :-)
I've also added two sliders to be able to customize the R/G and B/G factors, but frankly, they might be a bit overkill.
Let me know your opinions, if you think the sliders are not useful or confusing, i'll blow them away real quick ;-)

[2020-02-25 08:43] Thanatomanic opened #5663 "Please help me understand these big merges"
@Desmis you merged your two branches for autowb and wavelet improvement. Interestingly there were two commits https://github.com/Beep6581/RawTherapee/commit/81c6e4635d33b966d2182877f6c546630ae16246 and https://github.com/Beep6581/RawTherapee/commit/92fc0e307fbb89c13347307633378884ebcf1d32 that make changes to a huge number of files that don't seem to have anything to do with your PRs.
Can you expl

[2020-02-25 08:56] Desmis commented on #5663
@Thanatomanic
I honestly don't know why!
These 2 branches have existed for several years (wavelenh and autowb) and have never posed problems in the sense "merge with dev"

jacques

[2020-02-25 08:59] Desmis commented on #5663
@Thanatomanic
I just look to 81c6e46 (wavelet), all this files are concerned by the change :)

I will look to the other merge
jacques

[2020-02-25 09:04] Desmis commented on #5663
@Thanatomanic
I look to the other commit for auto white balance, all files are useful :)

I know this 2 changes are big, but for example "autowb" very complex, and completely new.

Colortemp.cc is a huge chnage, with many spectral datas from 350 to 830nm for 200 references color, for example one of the 200 for yellow keltano

const double ColorTemp::ColorYellowkeltano_spect[97] = {
    0.0, 0.0, 0

[2020-02-25 09:07] Thanatomanic commented on #5663
So maybe things are simply due to how Github handles complex merges? But by simply looking at this commit (https://github.com/Beep6581/RawTherapee/commit/81c6e4635d33b966d2182877f6c546630ae16246) I see for example modifications to `CMakeLists.txt`, one specific Polish translation file and even an additional dcp file.

For that dcp file it seems to originally belong to this commit https://github.co

[2020-02-25 09:12] Beep6581 commented on #5663
@Thanatomanic those are just merges of `dev` into that feature branch.

[2020-02-25 09:13] Desmis commented on #5663
These modifications are not mine, but as you say due to the github process

[2020-02-25 09:15] Beep6581 opened #5664 "Localization - Do not update translations until default is reviewed"
Following today's large merges, some changes need to be made to `rtdata/languages/default` and possibly relevant keys in source files. Please do not make translations until this issue is closed.

[2020-02-25 09:17] Desmis commented on #5663
Which questions me, but which is not specific to this merge, this is why the tests with MacOS are sometimes bad, in particular with cmake. Did i miss something ?

[2020-02-25 09:35] Thanatomanic commented on #5663
@Beep6581 All right, interesting. I would expect that a merge back to the main branch wouldn't show changes that were already present.
In any case, let's close this, thanks for explaining.

[2020-02-25 09:35] #5663 closed, assigned to nobody

[2020-02-25 09:36] Beep6581 commented on #5663
@Desmis I don't know, I think the failing macOS builds are part of what @Benitoite is working on, so could be unrelated to this merge.

[2020-02-25 09:41] Desmis commented on #5663
@Beep6581
OK, thank you :)

[2020-02-25 09:43] #5635 closed, assigned to nobody

[2020-02-25 10:16] Thanatomanic opened #5665 "Automatic white balance tool shows console output"
The new automatic white balancing options by @Desmis still outputs information to the console. I guess this should be captured only in verbose mode.

[2020-02-25 10:42] Thanatomanic opened #5666 "White balance ltcwb value remains after using wb color picker"
To reproduce: select the 'Auto iterate temperature correlation' option, that shows the 'Student ltcwb' value. When you use the wb color picker, the wb method changes to 'Custom' but the parameter value remains visible. However if you select a new method manually, the parameter value disappears.
I would expect that the value disappears in both cases.

[2020-02-25 11:02] Beep6581 commented on #3558
`5.8-230-g`326153859

[2020-02-25 11:02] Benitoite commented on #5663
@Thanatomanic @Beep6581 @Desmis Sorry I added a line in the middle of a command with out ` \` at the end of the line, causing the configure phase of macos to fail.  The info in this line is used by macOS Launch Services via the `Info.plist` file.

[2020-02-25 11:23] Benitoite commented on #5663
Investigating further macos autobuild errors.

[2020-02-25 11:40] Benitoite opened #5667 "clang errors: variable-sized object initialization"
Hi @Desmis (I believe the code author) and @heckflosse (who knows how to fix these also):

Going thru a `dev` build with AppleClang 11:

[code]

[2020-02-25 12:21] Desmis commented on #5666
@Thanatomanic
I think now this "message" is fixed

jacques

[2020-02-25 14:23] Benitoite commented on #5663
Somehow the cmake command that calls `UpdateInfo.cmake` is getting mangled.  I believe the invocation is made in the main `CMakeLists.txt` but the error is not obvious to me so far.

[2020-02-25 15:03] heckflosse opened #5668 "White balance shows wrong method when opening a file which was set to Auto in 5.8"
To reproduce
1) Start RT 5.8 release
2) open a file
3) set wb to auto
4) close RT
5) Start RT dev build
6) open the file
now the method shows 'Camera' but uses the values from before

[2020-02-25 16:02] #5667 closed, assigned to heckflosse

[2020-02-25 16:05] Benitoite commented on #5667
👍

[2020-02-25 16:57] Desmis commented on #5667
@heckflosse
Ingo

Thank you very much :)

[2020-02-25 16:58] Desmis commented on #5667
@heckflosse
Ingo

Thank you very much :)

[2020-02-25 18:37] Thanatomanic commented on #5665
This is now fixed by https://github.com/Beep6581/RawTherapee/commit/eeb24af8f0d9c76b107d4758412aec6a7427cae7

[2020-02-25 18:37] #5665 closed, assigned to Desmis

[2020-02-25 18:42] Thanatomanic commented on #5666
@Desmis This is now half-fixed in two different ways:
1) If you click 'Pick' from the WB module, the message disappears, even when I don't actually use the color picker. I think it should only disappear when a new wb is targeted.
2) If you select the tool here (by clicking, or shortcut, or if it was already active), the message remains:
![image](https://user-images.githubusercontent.com/6567747/75

[2020-02-25 18:44] #5014 closed, assigned to nobody

[2020-02-25 20:31] Beep6581 commented on #5663
@Benitoite I disabled the GitHub action - currently for all branches, but hopefully we can exclude some specific branch which should allow us to test it in that branch without spamming the other devs with failed test notifications.

[2020-02-26 08:21] Desmis commented on #5666
@Thanatomanic
I must admit my inability to find out how the link is made between "Spot in the toolbar" and "white balance"
Can i have help, thanks in advance

jacques

[2020-02-26 11:20] Beep6581 commented on #5568
I haven't had time to test yet, but hope to find some this week. @Lawrence37 is PR #5569 ready for merging?

[2020-02-26 14:39] Desmis commented on #5668
@heckflosse

Ingo
I tried to solved this problem.

First I tested with ppversion by increasing ppversion and change code, not good (for me)  :)

Then I tested in procparams if "white balance" "settings" is "Auto" and change to "autold"

Seems to work, but I am doubtfully

I create a branch "wrong_oldwbauto"

Can you test

Thank you

jacques

[2020-02-26 16:17] Lawrence37 commented on #5568
There are a few small modifications I'd like to make. I will change the adjuster limits to more sensible values and likely remove the scale adjuster. The scale is equivalent to applying scaling at the end of all lens/geometric transformations. I believe it is more appropriate to have a scale adjuster outside of the perspective tool. If anyone has objections to removing scaling, let me know.
I also

[2020-02-26 16:24] afr-e commented on #5568
I agree that the current perspective correction isn't intuitive. FYI, recently, I noticed the choice of demosaicing method trips up the auto algorithm in dt (https://github.com/darktable-org/darktable/issues/4364).

[2020-02-26 17:09] heckflosse commented on #5668
@Desmis Jacques, I will test now

[2020-02-26 17:22] heckflosse commented on #5668
@Desmis Jacques, may I push to your branch?

[2020-02-26 17:27] Desmis commented on #5668
@heckflosse
Ingo
No problem at all :)

[2020-02-26 17:33] heckflosse commented on #5668
@Desmis I pushed a simplified fix based on your fix.

[2020-02-26 17:36] Desmis commented on #5668
OK I will test

Thank you

Jacques

[2020-02-26 17:43] Desmis commented on #5668
@heckflosse

Ok, It works well, and you simplify my code

Do you think we can merge ?

If so, you can, thank you (or if you want me to do it, I can)
jacques

[2020-02-26 19:33] heckflosse commented on #5668
@Desmis Jacques, please merge :+1:

[2020-02-27 02:30] Barugon opened #5670 "Regression in lens identification"
Version: 5.8 AppImage for Linux.
OS: Fedora 31, x86_64.

The lens EXIF shows as "Unknown".

![lens_exif](https://user-images.githubusercontent.com/16503728/75406319-07bf4a80-58c5-11ea-97ca-85c5ef8b976d.png)

This seems to cause Profiled Lens Selection to not be able to automatically find the correct lens (even thought it's in the list).

![lens_select](https://user-images.githubusercontent.com/165

[2020-02-27 07:40] Desmis commented on #5668
@heckflosse

Ingo

merge :)

[2020-02-27 09:56] Beep6581 commented on #5670
[code]

The lens metadata is in RT:
[code]

[2020-02-27 10:57] #5668 closed, assigned to nobody

[2020-02-27 16:34] simohno opened #5673 "Blurring of RAW preview at "Fit to screen" zoom level"
Hello to all,

I am new to RawTherapee, that I find an amazing software, but having opened it for the first time on an external 24" screen (version 5.8), I've found an issue which, probably, was present also on the 14" laptop screen I used till some ago. The RAW preview in Editor mode is somewhat blurred at "Fit to screen" zoom level (that for me is 24%, all the tabs open), compared to the exporte

[2020-02-27 16:38] Thanatomanic commented on #5673
Hi!

That would be my bet. Also, some tools only work when viewed at 100% zoom. Their effects cannot be seen otherwise. Obviously the rescaled output looks different then.

[2020-02-27 17:32] Lawrence37 commented on #5568
I have pushed the changes mentioned above.

@afr-e Here's what I think is going on. The demosaicing algorithm affects the detection of lines slightly. The small changes in the lines can cause the lines to be classified differently (converging verticals vs. converging horizontals vs. neither). A small number of misclassifications can throw off the fitting algorithm. It's an edge case in which each

[2020-02-27 19:35] Benitoite commented on #5663
@Beep6581 Thank you.
I have a working macOS autobuild with #5674

![macOS build](https://github.com/Beep6581/RawTherapee/workflows/macOS%20build/badge.svg?branch=patch-6)

Exerpts from [log](https://pipelines.actions.githubusercontent.com/j8qkyyLsf9v1nQ5eztxqwVTOcxITjCInIpjBuZQIe7SiXNqmmk/_apis/pipelines/1/runs/307/signedlogcontent/3?urlExpires=2020-02-28T01%3A57%3A02.9027550Z&urlSigningMethod=HMA

[2020-02-28 00:35] Benitoite commented on #5663
@Beep6581  Linux build now checks ok.  Had to fix up an #include statement.

[2020-02-28 05:48] afr-e commented on #5568
I thought as much. Merely sharing info for reference.

[2020-02-28 09:13] heckflosse opened #5676 "Auto wb bug"
To reproduce use the file from [here](https://discuss.pixls.us/t/playraw-8-mittened-kitten/2600)

1) start RT 5.8 release build
2) in batch edit apply auto wb to the file
looks so
![grafik](https://user-images.githubusercontent.com/13733487/75526664-7b22a280-5a12-11ea-9183-ccd80a9412e4.png)
3) close RT 5.8
4) start RT dev build
looks so
![grafik](https://user-images.githubusercontent.com/13733487/

[2020-02-28 09:42] Desmis commented on #5676
@heckflosse

Ok, but I am not at all a user of batch
Even I don't know at all, as I see WB settings in batch is different from Preview in File Browser.
For me, and I don't think, it's an algorithm problem with Itcwb, it is a mystery...a "black box"

Perhaps you have an idea ?

I will be absent all until this late afternoon

jacques

jacques

[2020-02-28 09:49] heckflosse commented on #5676
I will have a look

[2020-02-28 09:56] Desmis commented on #5676
@heckflosse
Thank you
I don't understand how work "batch"...and where is this "specific" code ?
I tried with an "old" RT (whithout Itcwb), the behavior is erratic - especially with WB auto

jacques

[2020-02-28 10:39] heckflosse commented on #5676
@Desmis Jacques, I will use `autold` here
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rtthumbnail.cc#L1133
and here
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/thumbnail.cc#L219
and here
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improccoordinator.cc#L1587

[2020-02-28 10:49] simohno commented on #5673
Actually there are no "1:1" tools applied. See the PP3.

I agree that probably it relies on RT's downscaling algorithm, also because honestly every software seems to produce a slightly different result:
- Tried with Gimp, which strangely requires a 24.4% zoon level to achieve the exact same dimension on screen, and the "blurring" of the results is more close to RT than to XNV.
- Tried with Windows

[2020-02-28 11:07] heckflosse commented on #5676
Now the old behaviour should be restored, but in batchedit setting autoitc still does not work correctly, looking...

[2020-02-28 11:27] heckflosse commented on #5676
Another bug
1) open the image from above and apply auto RGB grey
2) open a different image
3) open image from above
4) apply auto itc
bug, nothing changes
5) apply camera wb
6) apply auto itc
now it works

[2020-02-28 15:54] heckflosse commented on #5676
@Desmis Jacques, I think I found another bug. It's in this line
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L4727
shouldn't that be 86 instead of 68 and all other nh after that incremented by 1?
As I am currently working on rawimagesource.cc I can change that if you agree

[2020-02-28 15:58] Beep6581 commented on #4650
Merged into `dev`, will be part of 5.9.

[2020-02-28 15:58] #4650 closed, assigned to Desmis

[2020-02-28 16:01] heckflosse commented on #5676
@Desmis Jacques, probably some more bugs. Let me make an example for this line
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L3910

If yc[y][x] has value 0.09 then it will be counted in nh = 1.
I guess that's wrong and it shouldn't be counted at all. Am I right?

[2020-02-28 16:05] Beep6581 commented on #3355
Closing as the link to the raw file has expired and the new Auto-ITC white balance algo probably handles this better.

[2020-02-28 16:05] #3355 closed

[2020-02-28 16:12] Desmis commented on #5676
@heckflosse

Ingo

I just come back and I read your post
You are true in the 2 cases.
Like it's good that someone else rereads the code to avoid recklessness

Thank you again

Jacques

[2020-02-28 16:15] heckflosse commented on #5676
@Desmis Jacques, I will fix the issues in branch rawimagesource_cleanup

[2020-02-28 16:16] Desmis commented on #5676
@heckflosse
Ok, thank you very much

[2020-02-28 19:34] Beep6581 commented on #5673
See "Advanced", point 9:
http://rawpedia.rawtherapee.com/Getting_Started#Advanced

[2020-02-28 19:34] #5673 closed, assigned to nobody

[2020-02-29 08:04] Desmis commented on #5676
@heckflosse
Ingo

I compile branch "rawimagesource_cleanup", no problem

I read the code,...big improvment and optimization. Thank you :)

When I run Itcwb, the system crash

When I use "Batch edit" and white balance, neither "Auto rgb grey" or "Itcwb" does not work

Jacques

[2020-02-29 08:30] heckflosse commented on #5676
@Desmis I will merge dev into rawimagesource_cleanup. That should fix some bugs.

[2020-02-29 09:38] heckflosse commented on #5676
@Desmis I fixed the crash

[2020-02-29 10:09] Desmis commented on #5676
@heckflosse
I just compile, no problem
I run , no crash :)

Thank you again
jacques

[2020-02-29 12:17] heckflosse commented on #5676
@Desmis Jacques, I made some changes to colortemp.cc which gave a good speedup for itcwb.

[2020-02-29 12:55] aferrero2707 commented on #5670
@Beep6581 Is this a problem that needs to be investigated? Could this be due to the packaging process for the AppImage?

[2020-02-29 13:07] Desmis commented on #5676
@heckflosse
Yes there is a good speedup, but the results are wrong :)

Always T=5002 and tint=1

Jacques

[2020-02-29 13:19] heckflosse commented on #5676
looking

[2020-02-29 13:59] heckflosse commented on #5676
@Desmis Bug fixed

[2020-02-29 14:20] Desmis commented on #5676
@heckflosse
Ingo

Itcwb works well :)
Speedup about 70%
Example before 130ms now 40ms

Very good job
Thank you

[2020-02-29 18:57] Barugon commented on #5670
I switched to Fedora's package and it's still a problem.

[2020-02-29 19:01] heckflosse commented on #5676
Example before 130ms now 40ms

I just detected that the real culprit is getrgbloc()

Takes 3 seconds for a 50 MP file. Looking...

[2020-02-29 20:05] heckflosse commented on #5676
@Desmis Should be much more responsive now........

[2020-03-01 07:40] Desmis commented on #5676
@heckflosse
An explanation to my 70% !!
In fact I compare the "real" wb final process. With the old branch "automatic wb" (before suppression of others WB auto), there was for example "autorobust" who used much time...up to 3 seconds)

Of course there are 3 parts  in WB auto
1) upstream with getrgbloc  (you just improve)
2) general calculation of multiplier and orientation
3) Itcwb algorithm

I ju

[2020-03-01 10:16] heckflosse commented on #5676
@Desmis Jacques, I'm just working on another speedup...

[2020-03-01 10:19] heckflosse commented on #5676
@Desmis Jacques, about the 3 seconds I measured:
This was caused by my AMD CPU having only 4-way L1 cache. On Intel CPU with 8-way L1 cache this was no issue.

[2020-03-01 10:53] heckflosse commented on #5676
@Desmis Jacques, I just pushed a new speedup. Now it's fast :smiley:

[2020-03-01 11:34] Desmis commented on #5676
@heckflosse
I just tested

Real speedup
Works fine :)

jacques

[2020-03-01 12:50] heckflosse commented on #5676
@Desmis Jacques, I just merged into dev. Will have a look now how to use autoitc in batch edit...

[2020-03-01 14:03] Desmis commented on #5676
@heckflosse
Ok  thank you :)

[2020-03-01 17:23] #5075 closed, assigned to heckflosse

[2020-03-02 06:29] afr-e opened #5678 "Hand tool: zooming in makes it harder to navigate"
The navigation mapping seems to be calibrated to _fit to screen_. As I zoom in, it becomes increasing harder to navigate; i.e., the preview moves more than the hand cursor does.

![image](https://user-images.githubusercontent.com/42004791/75650784-ff4c7400-5c24-11ea-8ada-69ee6adb2108.png)

[2020-03-02 10:34] simohno commented on #5678
Hi,
I think this is intended, indeed to ease the navigation of the image when zoomed in. See
http://rawpedia.pixls.us/Preferences#Pan_Rate_Amplification

To achieve a "normal" navigation you would set a Pan amplification factor of one.
I personally find the default of 5 too "strong", making it difficult to navigate as you said, and reduced it to 3.

Simone

[2020-03-02 18:44] Kakupakat commented on #5678
Also see this:
https://github.com/Beep6581/RawTherapee/issues/4083

[2020-03-02 20:37] afr-e commented on #5678
I was unaware or forgot about the setting. I set it to 1 now.

[2020-03-03 22:15] fiepfiep commented on #5513
Hi,
I am using rawtherapee 5.8 and my fuji XT2 using 18-55 or 27mm.
I feel this DCP profile gives a slightly red color cast to the image, especially on skin tones.
Using the XPRO2 color profile which has the same sensor, gives better color accuracy.

[2020-03-04 04:22] oisanjaya opened #5680 "Thumb Browser scrolling proposal"
Hello, sorry it's first time i'm posting on github.

The Thumb Browser scrolling i feel a little bit weird with mouse scrolling. It feels like static grid with thumbnail jumping around inside them. I suggest it scrolls not by whole height of grid height but slightly more or slightly less.

I found modifiying rtgui/thumbrowserbase.cc a little bit will do the trick, like :
`bool ThumbBrowserBase::In

[2020-03-04 05:43] Thanatomanic commented on #5513
Is this a bug report, or an issue of taste? If our DCP was created properly using color calibration targets and the correct illuminants, then there is nothing to be done. You're always welcome to make your own profile and share it for comparison.

[2020-03-04 05:47] Thanatomanic commented on #5680
Hi! And thanks for your submission. This issue has been discussed in the past, and it seems to boil down to a matter of taste. See https://github.com/Beep6581/RawTherapee/pull/4652 and old https://github.com/Beep6581/RawTherapee/issues/1901. There may still be real UI/UX problems like this https://github.com/Beep6581/RawTherapee/issues/4663, but otherwise, in particular for large folders or scroll

[2020-03-04 06:08] oisanjaya commented on #5680
ah, i see then.
before posting this i try to search similar topic about scrolling but failed to read about #4652

i always thinking scrolling at exactly image height feels weird, like the grid, which i expect to be scrolling up/down, looks static while the images iside look like just changes quickly. but if it is the preffered behaviour then, i will be fine with that.

[2020-03-04 17:59] heckflosse commented on #5676
@Desmis Jacques, are you interested in a raw where autoitc fails, though it was shot at daylight?
[D700_20100125_2696.zip](https://github.com/Beep6581/RawTherapee/files/4288961/D700_20100125_2696.zip)

[2020-03-04 18:28] Desmis commented on #5676
Of course
Thank you

Le mer. 4 mars 2020 18:59, Ingo Weyrich <notifications@github.com> a écrit :

[2020-03-04 19:04] heckflosse commented on #5676
@Desmis Jacques, don't get me wrong.
I really like itcwb as it gives very good results !!!
But sometimes it fails. Improving it could make it perfect ;-)

[2020-03-04 19:11] Desmis commented on #5676
No problem at all :)

Le mer. 4 mars 2020 20:04, Ingo Weyrich <notifications@github.com> a écrit :

[2020-03-05 07:49] Desmis commented on #5676
@heckflosse
Ingo
it's a very good example  :)
The good question is "what is the good result in this case ?"

First, this case is typical for using Cat02 adaptation in Ciecam02.
Indeed Camera and "auto" give temp near 5600K.
If illuminant = D50 (majority of cases), our eyes , our brain will "adapt" this temp.
This is what "Preset cat02 automatic" does....
Try it.

However, this image has the charac

[2020-03-05 12:50] Desmis commented on #5676
@heckflosse

Hello Ingo
 Branch "wbimprov"

I brings some changes (not very important, but refine the result)
* to histoxyY now there is 192 values instead of 158. All values added are near "neutral"
* to spectral datas : now there is 203 instead of 200. Values added are neutral with small red and small blue (In Lab 0..100 : a = +1 or +4  b= -3 or -10

The results are quite the same, in some cases

[2020-03-05 13:13] heckflosse commented on #5676
@Desmis Jacques

I remember the scene was close to what camera wb gives

[2020-03-05 13:20] heckflosse commented on #5676
@Desmis Jacques, I can provide more raw files from this loaction shot at the same day during some hours of walking around, if you like.

[2020-03-05 14:00] Desmis commented on #5676
@heckflosse
No problem to provide files, but if the illuminant is not "Daylight" (what I think) the results will always be not good....
The only exception is to have the real spectral datas of this illuminant this day.  :)  :)

It is the limit of each algorithm. as I said there is no "miracles", and itcwb by principle can only work with known illuminant

jacques

[2020-03-05 15:39] heckflosse commented on #5676
@Desmis Jacques, I just detected that itcwb is not recalculated when demosaicer is changed. May I include a fix into your new branch?

[2020-03-05 15:41] Desmis commented on #5676
@heckflosse

No problem you can  do whatever you want, of course if it's usefull :)

[2020-03-05 16:05] Desmis commented on #5676
@heckflosse

Somebody has reported that sometimes WBauto is not recalculated with upstream operations
Some of these opeartions influence Itcwb, I think at
* demoisaicing
* retinex
* white point

Could you in the "same" fix, make all this possible changes

Thank you :)

jacques

[2020-03-05 16:07] heckflosse commented on #5676
@Desmis

Maybe we should search the culprit somewhere else. Here's a screenshot showing the different output from different demosaicers when using itcwb. DCB and VNG4 look much better than AMaZE and RCD
![grafik](https://user-images.githubusercontent.com/13733487/76000165-98b8a600-5f03-11ea-92e5-190ac6232f6e.png)

I will fix that

[2020-03-05 16:20] Desmis commented on #5676
@heckflosse

Thank you very much :)

jacques

[2020-03-05 17:14] sukovec opened #5682 "Rawtherapee making my computer totally unresponsive"
Hello.

I'm using RawTherapee and I am pretty happy with RT. But right now, it's making my computer to almost freeze when exporting queue or loading photos. I have older computer with i7-3612QM (2GHz, 4 cores with HT) and 16 GiB RAM. Practically everything reacts sufficiently fast. Even when running kernel compilation (make -j8), I can use browser and listen music, look on videos etc.

But when I

[2020-03-05 17:22] Desmis commented on #5676
@heckflosse
confirmed : The difference between VNG4 and Amaze is important... why ? Of course demoisaicing change colors but on micro-models...

[2020-03-05 17:47] Desmis commented on #5676
it is particularly on the greens that there is a difference (tint)

With Amaze and your snow file : T=5602 tint=0.971
With VNG4  T=5502 tint=1.040

[2020-03-05 18:01] heckflosse commented on #5676
VNG4 handles two greens, while AMaZE does handle only one...

[2020-03-05 18:10] Benitoite commented on #5682
Was there any error?  Do you have a 4K monitor?
You may wish to use https://discuss.pixls.us/c/software/rawtherapee to debug your system and report any bugs found here.

[2020-03-05 18:13] Desmis commented on #5676
Perhaps this is visible here because very very low chroma...on this image
Do you think there is a "solution"... (I think no :) )

I tested on others image...about 0.06 in tint between Amaze and VNG4, not or less visible because important chroma.

jacques

[2020-03-05 18:20] heckflosse commented on #5676
@Desmis I think I found the culprit. By using an offset of 10 on my D700 files we only pick demosaiced RGB values from pixels at R locations. Using an offset of 9 I get this
Left offset 9, right offset 10
![grafik](https://user-images.githubusercontent.com/13733487/76011227-85620680-5f14-11ea-88d2-d730a6b57bed.png)

Can you try this patch, please?
[code]

[2020-03-05 18:26] heckflosse commented on #5676
hmmm, now AMaZE is better but the others are worse
![grafik](https://user-images.githubusercontent.com/13733487/76012719-0fab6a00-5f17-11ea-87e8-7b19b9a652d8.png)

[2020-03-05 18:29] Desmis commented on #5676
There is perhaps a solution...to verify with many files

When I calculate "green" in Itcwb, if demoisaicing is not VNG4  (and ??) I add 0.06 (to verify) to green

[2020-03-05 18:40] heckflosse commented on #5676
@Desmis Jacques, there is some random behaviour which should be fixed before we continue as it does not allow conclusions. Searching...

[2020-03-05 18:50] Desmis commented on #5676
I tested your modification... I add also, I think necessary
        "bool twotimes = false;
        const int bfw = W / 9 + ((W % 9) > 0 ? 1 : 0);// 10 arbitrary value  ; perhaps 4 or 5 or 20
        const int bfh = H / 9 + ((H % 9) > 0 ? 1 : 0);
        WBauto(tempref, greenref, redloc, greenloc, blueloc, bfw, bfh, avg_rm, avg_gm, avg_bm, tempitc, greenitc, studgood, twotimes, wbpar, begx, begy,

[2020-03-05 18:54] Desmis commented on #5676
I re re tested... with no-patch 10->9
No versatile or random behavior (to verify)

jacques

[2020-03-05 18:56] heckflosse commented on #5676
Yes, I forgot one. Searching...

[2020-03-05 19:38] heckflosse commented on #5676
This fixes the random behaviour

[code]

[2020-03-05 19:54] Desmis commented on #5676
OK, I will try tomorrow morning :)

Thank you

jacques

[2020-03-06 08:08] Desmis commented on #5676
@heckflosse
I compile branch "wbimprov" with your changes.
Compile fine, no problem :)

Now with 9 instead of 10, no random behavior

But there is always differences betwwen demoisaicer
I tested "tint" with your snow file

fast, VNG4, EAHD, DCB tint=1.0
DCB+VNG4 tint = 1.02
IGV tint = 0.952
LMMSE tint = 0.943
Amaze, Amaze+VNG4, RCD+VNG4 tint =0.971

I made another change
I keep the change to histx

[2020-03-06 09:00] Desmis commented on #5676
I'm trying to add spectral data to try to better balance the neutrals
I think 2 to 4 new datas

jacques

[2020-03-06 09:49] Desmis commented on #5676
@heckflosse
Hello Ingo

I made 2 changes
1) add one data spectral neutral
2) suppress a work around I have put 2 years ago when chroma is low (that's what brought the color drift), and replace by another at the end....(small correction)
I think now it's work well, with small differences between demoisaicing method.... but that shows a) there is differences in color between Amaze, VNG4, etc; ; b) I

[2020-03-06 11:03] heckflosse commented on #5676
@Desmis Jacques, I tested your changes. Now it looks godd :+1:
I just pushed a fix to your branch

Ingo

[2020-03-06 11:26] heckflosse commented on #5676
@Desmis Jacques
maybe we should change the offset from 9 to 7
9 does not work really well for xtrans (never picks from G locations)
![grafik](https://user-images.githubusercontent.com/13733487/76079753-a7579980-5fa5-11ea-9c0f-a8ef34e95889.png)

[2020-03-06 11:30] Desmis commented on #5676
@heckflosse

I will test :)

No problem.
The more we are near of 1, the more it's best

9 is better than 10
7 is better than 9
Jacques

[2020-03-06 11:35] Desmis commented on #5676
@heckflosse
I just tested your change for demosaic, works well :)

[2020-03-06 12:18] heckflosse commented on #5676
@Desmis Jacques, Here an xtrans example
left camera wb, middle itcwb offset 9, right itcwb offset 7
![grafik](https://user-images.githubusercontent.com/13733487/76083000-e0473c80-5fac-11ea-8b44-60a0ba3d2c00.png)

[2020-03-06 12:41] Desmis commented on #5676
Ok, clearly , Offset 7

[2020-03-06 12:47] heckflosse commented on #5676
@Desmis Jacques, for RAF from Fuji XT-3 itcwb always failes (does not matter whether I use 7 or 9). Can you confirm?

[2020-03-06 13:03] heckflosse commented on #5676
I get a green cast for all X-T3 files. Files from other xtrans cameras work well. Strange...
![grafik](https://user-images.githubusercontent.com/13733487/76085877-328b5c00-5fb3-11ea-8f1a-2ab8b5c563be.png)

[2020-03-06 13:17] heckflosse commented on #5676
Could be caused by 2.16M phase detection pixels on X-T3?

[2020-03-06 13:30] Desmis commented on #5676
@heckflosse
I don't have file X-T3, only X-T1 and X-T2
Can you provide one ?
jacques

[2020-03-06 13:35] heckflosse commented on #5676
@Desmis Unfortunately raw.pixls.us is down at the moment :frowning_face:

[2020-03-06 13:36] heckflosse commented on #5676
@Desmis At the bottom of this page there are a lot
https://www.photographyblog.com/reviews/fujifilm_x_t3_review/sample_images

[2020-03-06 14:14] Desmis commented on #5676
@heckflosse
I think I have found why !

There is 2 reasons
First in Rawimagesource "Wbauto", I have arbitrary set a limit to green, now I have set this limite to 0.5
Second, for green there is a variable in options "Itcwb_greenrange" by default it's 0, I have put 2

With this 2 changes 2 images I have downlod works well

I will commit the first change, for the second what we do ?

[2020-03-06 14:18] Desmis commented on #5676
Perhaps to avoid always big calculation ! we can add in Rawimagesource;cc
    RangeGreen Rangegreenused;

    if (settings->itcwb_greenrange == 0) {
        Rangegreenused = Rangestandard;
    } else if (settings->itcwb_greenrange == 1) {
        Rangegreenused = Rangeextended;
    } else {
        Rangegreenused = Rangemax;
    }
a condition If raw file RAF Xt-3 etc...
Jacques

[2020-03-06 14:29] Desmis commented on #5676
But the good question is why Fuji, set its camera with this settings

All raw files NEF, CR2, RAF (1 2), etc. have green about 1 (generally in daylight about 0.9 to 1.1)

Here we are near of 0.6... curious

We can also improve "green" : now there is 118 values with  large intervals below 0.8... we can if need chnage that....As it is quasi only used by this RAF Files no importance for the others...

[2020-03-06 15:03] Desmis commented on #5676
I will soon push a chnage for green, but excuse my bad knowledge in camera, how can we tell to rawimagesource a file is RAF x-T3 ?
Or could you make this change ?

Jacques

[2020-03-06 15:08] Desmis commented on #5676
Push the change for green :)

jacques

[2020-03-06 15:35] heckflosse commented on #5676
@Desmis Jacques, sorry, was out with the dogs.

Before we hardcode this stuff, let's think about a better way. Maybe we can add it to camconst.json?

[2020-03-06 15:38] Desmis commented on #5676
@heckflosse
how is Felix ?

For X-T3 fileand this code, you are decision maker :)

jacques

[2020-03-06 15:54] heckflosse commented on #5676
@Desmis Felix and Héloise are fine :smiley:

It's the same for X-T30. I have to think about that...

[2020-03-06 16:05] heckflosse commented on #5676
@Desmis With your latest changes I don't get differences between offset 7 and 9 :tada:
So we can keep offset 9

[2020-03-06 16:11] Desmis commented on #5676
@heckflosse
OK, but for me the choice by Fuji to set green about 0.6 is curious....

[2020-03-06 16:23] heckflosse commented on #5676
@Desmis

isn't green calculated by RT in line 114 of colortemp.cc ?

[2020-03-06 16:43] Desmis commented on #5676
@heckflosse
Yes, but it's the result (I think) of choice made by Fuji....

finally it doesn't matter what is important is that it works :)

[2020-03-06 16:50] heckflosse commented on #5676
:+1:

[2020-03-06 17:10] heckflosse commented on #5676
@Desmis Jacques, no objections from me to merge your branch. Though X-T3(0) users need to change the options file, maybe a better solution is possible...

[2020-03-06 17:16] Desmis commented on #5676
OK, I merge now

[2020-03-06 17:42] heckflosse commented on #5676
@Desmis Jacques, this one still does not work well
![grafik](https://user-images.githubusercontent.com/13733487/76108057-29fa4c00-5fda-11ea-846a-9447686f849e.png)

I'm looking for the link...

[2020-03-06 17:56] heckflosse commented on #5676
@Desmis Jacques
https://www.dpreview.com/reviews/image-comparison
Then select the X-T3 and switch to raw and download

![grafik](https://user-images.githubusercontent.com/13733487/76109126-236cd400-5fdc-11ea-939e-72f04fb8335f.png)

It's not the same file, but also shows the issue

[2020-03-06 18:23] Desmis commented on #5676
@heckflosse
Ingo
I dowload the file

It has a green very high. But why ? I don't know? Green is in the "range" but very low, Temp is very high about 9000K (camera and autowb)

I will look tomorrow

But what's the illuminant ? Solux ? other ? What CRI ?

jacques

[2020-03-06 18:26] heckflosse commented on #5676
Daylight simulation, whatever that means...
![grafik](https://user-images.githubusercontent.com/13733487/76111335-65981480-5fe0-11ea-879b-3e615627ef42.png)

[2020-03-06 18:33] Desmis commented on #5676
@heckflosse
Strange daylight simulation !

When I read PhotoME (exif)
* light source : unknown
* white balance : manual
I think, curiously with these values it's not "Solux" (about 4700K - with green near of 1 and CRI about 95)....

I will see the code tomorrow, but here I think "Illuminant"

jacques

[2020-03-06 20:15] heckflosse commented on #5676
to clarify. 13 years old Felix is still alive :+1:
But P and I decided to bring some more live to his age. So we also have Héloise now:
https://discuss.pixls.us/t/16-weeks-old-heloise/15926

[2020-03-06 22:52] sukovec commented on #5682
Hi,

right now, I have only one FHD display (laptop, LVDS). I'm not aware of any error, but I didn't run it in console - will do next time. But, output images are OK as they should be.

Should I use issues here on github or move to pixlus?

Thanks for reply!

[2020-03-06 23:03] iliasg commented on #5676
@heckflosse @Desmis
I think the problem with X-T3 is the missing color matrix in camconst.cc
BTW there are two different adobestandard dcp profiles .. one gives stronger tint on neutral shots .. so I prefer V2

`        "dcraw_matrix": [ 13426,-6334,-1177,-4244,12136,2371,-580,1303,5980 ], // DNG_v11, standard_v2 d65`

[2020-03-07 07:13] Desmis commented on #5676
@iliasg
Good analyze.

This explain why "Temperature" and "Tint" were curious
I tested with the matrix you give and the results are now standard . Now Tint is about 1

But the advantage now, it is that Algorithm is refine in cas of very low green :)

For the file "test" in dpreview, the result is less bad. I don't think Itcwb works well in this cases.
That's why I added a few years ago in WB choic

[2020-03-07 07:49] Desmis commented on #5676
@heckflosse
Héloise is very nice :)

[2020-03-07 09:22] Thanatomanic commented on #5682
@sukovec I think this is a valid issue report to be discussed here. Can you be more specific on your export settings? JPEG, TIFF, etc?
And can you test what happens if you export photos that are located on an internal drive?

[2020-03-07 16:30] iliasg commented on #5676
@Desmis Jacques, make it .. I have no commit rights.

[2020-03-07 16:32] teplit opened #5683 "Wrong view region after zooming"
The view region after zooming is shifted wrongly in the center of the image.

Steps to reproduce the problem:
1. Open a RAW file and click on the 1:1 icon or press **z**
2. When RawTherapee is ready, drag the image with the hand tool to center the view region away from the center
3. While RawTherapee is processing the new region click two times on the + icon or press two times **+**
4. The view re

[2020-03-07 16:54] Desmis commented on #5676
@iliasg

Push change camsconst.json now :)

[2020-03-08 09:54] heckflosse commented on #5682
Maybe related: https://github.com/Beep6581/RawTherapee/issues/5459

[2020-03-09 05:46] Thanatomanic commented on #5683
Confirmed, also on my rather fast computer

[2020-03-10 14:46] heckflosse commented on #5126
I am working on this issue now

[2020-03-10 15:46] heckflosse commented on #5126
@CharlesRT2

This kind of fixes the issue with Leica Q files.
https://github.com/Beep6581/RawTherapee/commit/5732500e2fd0b4c7c8b8744c511435ad1eacbba3

Leica Q dng files have
[code]
Old dcraw code did not find D65 and used the first one which is Standard Light A.
New code uses D50

[2020-03-10 20:44] erjiang commented on #5682
I had something similar happen when exporting full-sized images and it turned out to be high RAM usage by RT. What happens if you turn off swap across your entire system? Does RT then get killed by the oom_killer when processing queue (like mine did)?

I ended up fixing the issue by upgrading to 24GB of RAM. Is there another way to monitor your RAM usage (maybe you are not seeing the actual usage)

[2020-03-10 21:24] erjiang commented on #3801
Just wanted to add that this branch seems to also fix RT losing timezone metadata when exporting images. I.e. input RAW has date+time+timezone, and output JPG has date+time, no timezone.

[2020-03-10 22:54] sukovec commented on #5682
Everything goes to 100% (or 90%? sure right now) JPEGs.

I will try it, maybe tomorrow.

If I'm right, I have swap turned off. However, I think that 16 GiB is enough for processing 24 mpix photos (6000x4000) :) Maybe can be something wrong with my system, specifically with buffers. (as this starts happening after some time, I need to view/edit more photos.

My next laptop will definitely have at l

[2020-03-11 06:55] Floessie commented on #5682
@sukovec

Ah, we're talking about a **laptop**. Are you sure that there's no thermal throttling after some time of processing? RT makes use of all cores, which will heat the system up quite quickly.

16GB should be enough, IMHO.

[2020-03-11 07:11] ff2000 commented on #5682
commented out your fstab line?
It might be that systemd automatically creates a swap file if it thinks you are running out of memory.

[2020-03-11 07:12] Thanatomanic commented on #5682
It would be interesting to see what a single threaded version of RT (no openmp) does in this case.

[2020-03-11 07:45] Floessie commented on #5682
Sure, but that'll reduce memory pressure as well... But if you want to try: `$ OMP_NUM_THREADS=1 ./rawtherapee`

[2020-03-11 13:10] sukovec commented on #5682
Pretty much sure - 8-threaded, full build of kernel (much more time, much more heat) is without problem.

I will try it today with some memory, cpu-usage and temperature monitoring today.

[2020-03-11 14:26] Benitoite commented on #5682
Is it a quad-core, and do you have 8 threads due to hyperthreading?  If so the thermal performance might be better on 4 non vitrual cores and might not be slower.  If you have thermal throttling, also blow any dust bunnies out of the heatsink.

[2020-03-11 18:43] clanmills commented on #3801
That sounds correct.  The Exif specification doesn't support TZ.  The DateTime format is a 20 byte string: YYYY:MM:DD HH:MM:SS\0.  Manufacturers often store TZ in the MakerNotes.
[code]

[2020-03-13 16:10] Beep6581 commented on #5126
@heckflosse what happens now if a raw file has this?
[code]

If D65 does not exist (are both illuminants checked for that string?), what is used?

[2020-03-13 18:30] heckflosse commented on #5126
@Beep6581 In your example D55 will be used

[2020-03-14 08:33] bnzf opened #5686 "RawTherapee 5.8 crahes on MacOS 10.9 imediately at startup"
I dowloaded the current RawTherapee build and deleated all old rawtherapee caches and data in the "application support" folder.
RawTherapee 5.8 crahes on MacOS 10.9 imediately at startup with the following report:
[code]

[2020-03-14 20:17] teplit opened #5687 "The diagonal line in the curve tools is difficult to see"
I use calibrated and profiled 24” 4K monitor with measured static contrast below 700. On it the dashed diagonal line of the curve tools is thin and difficult to distinguish from the background (especially for curve tools without histogram). For me it is not a problem to see thin lines provided they are not difficult to differentiate from the background.

I use RawTherapee 5.8 on Windows 10 (1909)

[2020-03-14 23:24] simohno commented on #5687
Oh God I notice _now_ there is one, after 2 months of using RT! 😁 It's really thin and dark. It would be one more comfort, and could be drawn in a medium-light gray indeed

[2020-03-18 14:46] paolostivanin opened #5688 "Tokina 11-20 lens correction does't seem to be applied"
I can see from [here](https://github.com/Beep6581/RawTherapee/blob/40018b1e9ad9e0db306ffac6e6c7ceaac97927f6/rtexif/nikonattribs.cc#L897) that the Tokina 11-20 f/2.8 for Nikon is supported.
I opened a NEF shot with this lens and I don't understand whether Rawtherapee is automatically applying lens correction or not. (`Automatically selected`  in `Lens/Geometry - Profiled Lens Correction` is selecte

[2020-03-18 18:19] dafrasaga opened #5689 "Segmentation fault"
Hi with the new dev version if I move the soft radius slider of Shap-mask and Clarity on Wavelets I get Segmentation fault

[2020-03-18 20:23] gaaned92 commented on #5688
@paolostivanin
To get an automatic correction you need the 2 following ;
- Rawtherapee must correctly decode the lens maker and the lens name. That is not an easy task. to verify click on the information button in the editor and note the lens name. I think it is decoded ok on your version.
![rawtherapee_fuccYpBoAM](https://user-images.githubusercontent.com/13785581/77001484-527b3200-695a-11ea-9955

[2020-03-18 21:26] paolostivanin commented on #5688
Thanks a lot! I wasn't aware of the lensfun part :)
I was able to update it easily on openSUSE by installing `lensfun-tools` and then executing `sudo /usr/bin/lensfun-update-data` . I discovered that the packages are quite outdated there, so I'm also gonna update them on openSUSE :+1:

[2020-03-18 21:26] #5688 closed, assigned to nobody

[2020-03-19 07:48] Desmis commented on #5689
@dafrasaga
I cannot reconstitued....
Could you give an example (raw, pp3)

Thank you :)

jacques

[2020-03-19 08:09] dafrasaga commented on #5689
Hi Desmis, these are the files
I open the file with neutral profile, after I enable wavelet+sharp and mask and when I touch Soft Radius RT crashes into segmentation fault

[Pictures.zip](https://github.com/Beep6581/RawTherapee/files/4353299/Pictures.zip)

[2020-03-19 08:25] Thanatomanic commented on #5689
~~I also cannot reproduce. Your provided PP3 is simply a neutral profile?
@dafrasaga Which version of RT are you using? If possible, use a development debug build and provide a backtrace of the crash (http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports)~~

I spoke too soon. I have a crash! Investigating...

[2020-03-19 08:42] Thanatomanic commented on #5689
To reproduce, do what @dafrasaga said: open image, apply Neutral, turn on "Wavelet levels", turn on "Sharp-mask and Clarity" and adjust the slider for "Soft Radius".
The crash only happens when you're not at 100%.

Here's a backtrace
[debuglog.txt](https://github.com/Beep6581/RawTherapee/files/4353462/debuglog.txt)

[2020-03-19 08:45] Thanatomanic commented on #5689
In addition: I tried several other images, and there I could not reproduce the crash. So it has something to do with this particular RAW file as well...

[2020-03-19 08:57] Desmis commented on #5689
@dafrasaga  @Thanatomanic

I have found the bug.... carelessness on my part

I commi with a fix soon :)

Thank you very much
jacques

[2020-03-19 09:04] Desmis commented on #5689
@dafrasaga  @Thanatomanic

Push commit d63fb77

I hope it fix the crash :)

[2020-03-19 09:30] teplit opened #5690 "RawTherapee fails to save PNG file with ProPhoto profile"
RawTherapee 5.8 creates zero bytes PNG file with an error message when the Output Profile is ProPhoto.

Steps to reproduce the problem:
1. Open a RAW file
2. Switch to Neutral Processing Profile
3. Set ProPhoto as Output Profile
4. Try to save 8 or 16 bit PNG file (**Ctrl+s**)

Tested on two computers - one with Windows 10 (1909) and the other with Windows 8.1.

[2020-03-19 09:33] dafrasaga commented on #5689
Thanks..it seems fixed .

[2020-03-19 09:34] #5689 closed, assigned to nobody

[2020-03-19 16:35] strump opened #5691 "Lens autodetect can't find Canon EF-M 18-55mm lens"
OS: Windows 10 x64 (1909)
RawTherapee:

[code]

When Transform > Lens/Geomerty > Lens Profile  is set to "Automatically selected" then my lens "Canon EF-M 18-55mm f/3.5-5.6 IS STM" is not selected.

![rawtherapee-lens-auto-detect-2](https://user-images.githubusercontent.com/720808/77089978-35546b00-6a0f-11ea-9e65-63e3ea0cde5b.png)

According to logs: [rawtherapee_2020-19-03.log](https://github.com

[2020-03-19 16:38] strump commented on #5691
I've found a workaround. [Exiftool](https://exiftool.org/) gives lens name: `Canon EF-M 18-55mm f/3.5-5.6 IS STM or Tamron Lens`

but [mil-canon.xml](https://github.com/lensfun/lensfun/blob/master/data/db/mil-canon.xml) file has lens name: `Canon EF-M 18-55mm f/3.5-5.6 IS STM`

To fix autodetection I've added ` or Tamron Lens` to my "mil-cannon.xml".

[2020-03-19 22:59] wilchak commented on #5312
Hi, I've been experiencing some new recurring crashes when editing. Attached are two crash logs, which appear to be the same bug. I am running the latest release build of 5.8 on macOS 10.15.3.

[rawtherapee-bin_2020-03-19-184226_Lil-Trashy.txt](https://github.com/Beep6581/RawTherapee/files/4357238/rawtherapee-bin_2020-03-19-184226_Lil-Trashy.txt)
[rawtherapee-bin_2020-03-19-185345_Lil-Trashy.txt](

[2020-03-20 00:51] Benitoite commented on #5312
That is a RawTherapee exit so will need to test against a recent dev build and report any errors.
My most recent build:
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8-317-g6563989f5.zip

[2020-03-20 01:28] wilchak commented on #5312
Will try that, thanks.
On Mar 19, 2020, 8:51 PM -0400, Benitoite <notifications@github.com>, wrote:

[2020-03-20 01:28] Benitoite commented on #5686
can you test this recent dev build? https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8-317-g6563989f5.zip

[2020-03-20 07:58] bnzf commented on #5686
The test build also crashes with the attached report. It crashes even faster as the crash report comes up before the message "you downloaded the app from internet, do you realy want to use it".
[code]
`

[2020-03-20 09:01] Benitoite commented on #5686
Your 2013 MBP should be compatible with macOS 10.15.

[2020-03-20 09:07] bnzf commented on #5686
Yes, but the real workhorse is a very well equiped MacPro 5.1 (not connectedt to the net, thus I do the preliminery testing with the Macbook), which has to stay with 10.9 for driver/software reasons.
And as long you claim RawTherappee to be running on 10.9 ... ;)

[2020-03-20 12:16] Benitoite commented on #5686
Well no one has actually tested on 10.9 until now...
This is now a codesign crash. I will have a look-see.

[2020-03-20 13:41] gaaned92 commented on #5690
Do you have a precise use case to do that?
PNG format is just  good to screen capture or web app. For photos, if you need losseless format, just prefer Tiff format.
Furthermore, even would it work, ICC profile would not be included, making the file useless. Some app have a workaround putting exif data in a PNG chunk, but it's just a kack as it is not standardized.

[2020-03-20 20:46] teplit commented on #5690
RawTherapee 5.8 saves successfully PNG files with the following color profiles (the list is not exhaustive):
- AppleRGB
- AdobeRGB1998
- WideGamutRGB
- DCP-P3 D65
- RTv4_ACES-AP0

Apparently PNG is a first class format in RawTherapee.

[2020-03-21 03:01] IainMF commented on #4798
I have discovered something that might improve the sharpness after CA correction.

I have been experimenting with my own auto CA correction in GMIC.  The process for adjusting the red channel  on a tile by tile basis is:

1) detect red channel offset
2) demosaic green channel only. It is important this is as accurate as possible using just the green channel information.
3) shift green channel to m

[2020-03-21 11:25] oisanjaya commented on #4083
any news about this feature?
sometimes it's confusing after switching from inkscape, for example, to pan using left click.

[2020-03-22 10:09] oisanjaya opened #5692 "is edited tick mark have to be obstructing thumbnail?"
Just a thought, don't you feel tick mark on images that has been edited looks a little bit distracting? It's **on** the thumbnail and stay there forever obstructing thumbnail corner. I propose diffferent way to represent image has been edited using (maybe) less obstruction. Rather than icon, why don't we put border around thumbnail? here's my mockup
![github_rt_original](https://user-images.github

[2020-03-22 10:21] #5680 closed, assigned to nobody

[2020-03-23 20:43] teplit commented on #5690
I’m not a PNG format expert. However I did a simple experiment in order to see where exactly RawTherapee stores the ICC profile in a PNG file. With the aid of TweakPNG I did the following:

1. From RawTherapee I exported 16 bit PNG file with RTv4_ACES_AP0 profile.
2. I opened the file in TweakPNG and deleted the tEXt chunk, which apparently is used to store the EXIF data. The PNG specification doe

[2020-03-24 07:51] teplit commented on #5690
Something more – the EXIF does not record what filter (or combination of filters) you used in front of your lens and what extension tube (or combination of extension tubes) you put on the back of the lens. Also it does not record the RAW processing corrections and manipulations. Some people are quite happy to look at fake autumnal photo without realizing that the photo was taken in the summer...

[2020-03-24 14:05] mart-w commented on #5319
I just realised that [exiftool](https://github.com/exiftool/exiftool) supports reading and writing metadata to and from CR3 files. Is this something that could be utilised for RawTherapee, as well?

[2020-03-26 07:47] artofit opened #5693 "manage custom crops profiles"
Hi,
It is possible to define custom crops ratio, for instance 16:7
However, I do not see the possibility (https://rawpedia.rawtherapee.com/Crop) to
1/ add/store a bunch of custom crop profiles, so that it select and applied even when closing and reopened Rawtherapee.
2/ delete prefined crop profiles, for example 6:17

Aka, user should be allowed to add or delete crop profiles

thanks

[2020-03-27 07:27] oisanjaya commented on #5692
i've write some code while waiting someone replies,

[code]
[code]
[code]

[code]

[code]

[code]

[2020-03-27 07:38] Thanatomanic commented on #5692
@oisanjaya Thanks for the suggestion and code. Since the action of simply opening a file already generates a pp3 file, the tick mark shows up on basically every image. I agree that this seems a bit overzealous and maybe disruptive of the thumbnail browser. So thinking about alternatives is all right.

Personally I am not in favor of the black border though, because it is not immediately intuitive

[2020-03-27 08:11] oisanjaya commented on #5692
I think the fact that the photo has valid pp3 intrinsically already presented using color label, rank, etc. So it doesn't make sense to show tick mark on image.
That's why I think maybe photo with no color label but has valid pp3 metaphorically bears black color label.
Alternatively instead using border to show color label/valid pp3, maybe we can use thumbentry's background.
OH, by the way, lightr

[2020-03-27 19:23] wilchak commented on #5312
Looks like that 5.8-317 build is now crashing on startup with the 10.15.4 update.

Unclear what exactly they changed in the most recent release.... confusing because running codesign --verify --verbose on the RawTherapee.app bundle says everything is fine.

On Thu, Mar 19, 2020, at 9:27 PM, Andrew Wilchak wrote:

[2020-03-29 17:09] Floflo81 commented on #5670
I have exactly the same issue with another Sony camera and another lens.

Camera: Sony ILCE-6000
Lens: Sony E PZ 18-105 f/4 G OSS

In previous versions of RawTherapee (5.6 or 5.7, not sure), the lens was detected automatically.

OS: Windows 10 Pro 64-bit version 1909
RawTherapee version: 5.8 official (downloaded 2020 13th Feb)

Here is a RAW sample that exhibits the problem:
[RawTherapee bug sampl

[2020-03-29 21:07] Barugon commented on #5670
Do you mean previous versions 5.6, 5.7 and the current version 5.8?

[2020-03-29 21:17] Floflo81 commented on #5670
Yes that was a typo. I'll fix it. Thanks for the proofreading :)

[2020-03-31 01:51] In914 opened #5696 "RT crashes due to jpg processed with modified metadata"
Hi -- very impressed with RT, thanks for the good work. Here's a bug though, for future fixes:

RT (version info below) crashes when, in the RT file browser, I attempt to open a folder containing a jpg created with the below attached processing profile D600_standard_v2.pp3. There is no crash when the jpg file in question is removed, and there is no crash when the folder instead contains a jpg crea

[2020-04-02 19:19] age1988 opened #5697 "Limit filmlike_clip to film-like tone curves"
This rawtherapee only behaviour is not documented at all in rawpedia, and there isn't a way to disable it for the end user.

Compared to other foss raw editors it not helps at all with hard to develop raw, nor with normal raw.

I guess this is because nowdays rawtherapee has a high quality color management system as well as advanced tools to fight unwanted color shifts, it was a good idea but now

[2020-04-02 22:56] purew opened #5698 "Nikon Z-series: The exif-tags from the raw file does not carry over to the exported jpeg file"
# Version details
[code]
# Operating system
[code]

# Problem

The exif-tags from the raw file does not carry over to the exported jpeg file

![tmp_007](https://user-images.githubusercontent.com/85910/78307114-33140580-7513-11ea-91eb-c7ff6bf07893.png)

Exported jpeg:
![2020-04-02_18-22-42_nikon z 6_dsc_0941](https://user-images.githubusercontent.com/85910/78307319-9ef66e00-7513-11ea-8778-1ca924a59

[2020-04-03 04:29] PhilBaz opened #5699 "Profiles menu doesn't fully expand when near the top of the screen"
Please fix the  'processing profile' popup menu.....

It deploys very oddly when clicked on. First, a menu showing only the word custom shows with an arrow above and below it presented. Then, after scrolling up with the arrow the base menu is presented with flyout arrows for the next level. The button should take you directly here. Also, on clicking the menu should open downward from the button, n

[2020-04-03 06:20] Floessie commented on #5699
OS? Environment (X11/Wayland)? RT version?

Thanks!

[2020-04-03 06:22] PhilBaz commented on #5699
ahhh, sorry!!!

Windows 10.... 5.8 stable release.

[2020-04-03 07:31] Thanatomanic commented on #5699
I agree that this is not ideal, but I'm not sure we can fix this (could be GTK related). It is less annoying when your screen is not maximized, but yeah, who doesn't do that...

[2020-04-03 23:04] PhilBaz commented on #5699
Ahhh, that's a shame. Thanks for looking at it,

[2020-04-04 16:55] mattiaverga opened #5701 "Crash in browser while selecting and de-selecting multiple images"
Rawtherapee 5.8
RPMs from Fedora 31 repository

Download test files from https://eu.storagemadeeasy.com/folders/53cb0b4760077e3191e65f008dcf649c (password "rawtherapee")
From Rawtherapee browser open the folder where you put those files.
Select all three files with shift-left click.
Left click again on one of those files to de-select the others.
Rawtherapee crashes, from console output:
[code]
The

[2020-04-04 16:57] mattiaverga commented on #5701
A more detailed backtrace can be found at https://bugzilla.redhat.com/show_bug.cgi?id=1820907

[2020-04-05 09:30] Floessie commented on #5701
@mattiaverga Cannot reproduce with the files you provided, but I'm not using the same hardening flags as you on Fedora. Nevertheless I tried to work around the crash in `crop.cc`, maybe you could give current `dev` a try...

[2020-04-05 16:40] mattiaverga commented on #5701
For a quicker test I have applied your patch on top of 5.8 stable and I confirm the crash is fixed.
I will ask the original reporter on RH Bugzilla to try the patched release to have a second confirmation.
Thank you!

[2020-04-07 06:40] mattiaverga commented on #5701
The OP has confirmed the patch has fixed the issue.

[2020-04-07 08:09] Floessie commented on #5701
Okay. Closing as fixed with 15db8cdb57161d57af8307bf85aeda02ea69ddde.

[2020-04-07 08:09] #5701 closed, assigned to nobody

[2020-04-08 04:31] Benitoite commented on #5686
I have made some changes to codesigning, see if this works for you:
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.8-376-g15db8cdb5.zip

[2020-04-08 05:26] PhilBaz opened #5704 "please add .cube LUT support."
Please add .cube LUT support. Darktable offers .cube in addition to HaldCLUT.

It is a common LUT format and would be a great addition to the program.

[2020-04-08 07:01] bnzf commented on #5686
It crashes, while starting, due to some missing library:
[code]

[2020-04-08 17:09] Benitoite commented on #5686
The app must be installed in `/Applications`

[2020-04-08 18:03] bnzf commented on #5686
There it works. Thanks.

In /Applications I usually only have the progams that come with the OS.

As rawtherapee is dependend on the instalation location, perhaps an alert should be produced by the application if it is launced from elsewhere.

[2020-04-08 21:33] Nippius commented on #5698
Hi, I'm having the same issue.

Here's a couple of RAW files to show the problem (includes .pp3 and exported jpgs with missing tags:

https://filebin.net/kbdc0k317g9np2t9

## Version info:

### Equipment
Nikon Z50

### RawTherapee
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits

[2020-04-09 08:51] teplit commented on #5690
The problematic ProPhoto profile is attached [here](https://github.com/Beep6581/RawTherapee/files/4454789/ProPhoto.zip). I got it from %SystemRoot%\System32\spool\drivers\color . I don't know which application put it there (most likely Adobe Photoshop).

In order to reproduce the problem you need to place this profile in the color profiles directory specified in RawTherapee Preferences ► Color Man

[2020-04-09 18:10] Benitoite commented on #5686
Unfortunately without being able to find its resources by an absolute path, which is hardened to `/Applications`, there would be no way for the app to issue its own warning.   edit: that i know of.

[2020-04-10 07:09] teplit commented on #5687
The problem concerns the default RawTherapee theme called RawTherapee. It is substantially less pronounced in other themes.

[2020-04-10 13:58] teplit opened #5706 "Washed areas in "narrow" color spaces"
I encountered a situation which looks abnormal. The extremely yellow areas in the image become completely white in some working color spaces.

In the wide ACESp0 color space the flowers look fine:
![Yellow flowers (ACESp0)](https://user-images.githubusercontent.com/5978882/78994897-d7b4c980-7b49-11ea-9efc-e15488ebe493.png)

In the narrower ACESp1 color space washed areas appear:
![Yellow flowers (

[2020-04-10 18:32] Thanatomanic commented on #5706
I'm pretty sure this is not directly related to the choice of color space. You have enabled Luminosity mode in RGB Curves, so things get pushed out of gamut pretty easily, especially when the original image is overexposed as it is.
Solution: turn of Luminosity mode, or set Exposure compensation to -0,50.

[2020-04-10 19:32] teplit commented on #5706
Why out of gamut colors should end as severe clipping in the three channels?
It doesn't make sense to get overexposure when you lower the luminosity of the image. With the RGB Curves disabled there is no washed areas (for ACESp1 working space).

If the behavior is not abnormal then it is not safe to use the following color spaces as a Working Profile:

- ACESp1
- Adobe RGB
- BestRGB
- Beta RGB
- B

[2020-04-10 21:06] teplit commented on #5706
I decided to see what will happen with the image with even more extreme colors. So I did the following:
1. Set the Working Profile to ACESp1
2. I disabled the RGB Curves.
3. Activated L\*a\*b Adjustments and set Chromaticity to 100.

As you can see there is no washed areas in the image:
![Yellow flowers (Chromaticity)](https://user-images.githubusercontent.com/5978882/79022303-4c0d5e00-7b86-11ea-9

[2020-04-11 05:58] teplit commented on #5706
Something else - if you take a closer look of the image with washed areas you will see hard transitions between a washed area and its neighborhood. The red curve in the RGB Curves tool is however completely smooth. **This is abnormal situation.** You can disable the RGB curve tool, then copy the red curve and paste it as L\* curve in the L\*a\*b Adjustments tool to see what will happen.

Do you se

[2020-04-11 07:09] Thanatomanic commented on #5706
Thanks @teplit for the investigation. The relevant code for the Luminosity mode starts here: https://github.com/Beep6581/RawTherapee/blob/1c63d75399f7a372c6f621e03cd25141e55ed5df/rtengine/improcfun.cc#L2614 Maybe @heckflosse or @Desmis can shine their light on the correctness of the code here?

However, if I apply Neutral profile and only adjust the L* curve in the Lab module, and I pull it down f

[2020-04-11 08:11] teplit commented on #5706
When you apply the Neutral profile this resets the Highlight compression and Highlight reconstruction. Note that Highlight recovery is activated in the attached PP3 file and it happens **before** the RGB Curves tool according to the [Toolchain Pipeline article](http://rawpedia.rawtherapee.com/Toolchain_Pipeline). Also note that you don't get blank white areas in the yellow parts of the image as il

[2020-04-11 09:24] Desmis commented on #5706
Very difficult for me to express myself in English on a complex subject, but I will try.

To explain **this behavior, which seems normal to me**.

I mesure with lockable color picker, Lab values in a yellow flower, with RGB Curves disabled
AcesP0 L=96 a=3.3 b=125.4
AcesP1 L=95.8 a=3.4 b=126
Prophoto L=96 a=3.3 b=126.5
AdobeRGB L=95.1 a=3.8 b=97.1
sRGB L=93.6 a=4.5 b=87.3

If you look at R (RGB) fo

[2020-04-11 10:40] teplit commented on #5706
From my point of view as non-developer the behavior is **severely unsafe**, because (1) it can result in loss of visual information which manifests in this case as unwanted clipping in key parts of the image and because (2) it is not evident that it will happen.

A substantial color boost in Lab via the Chromaticity slider does not cause washed areas irrespective of the Avoid color shift option ev

[2020-04-11 10:46] Desmis commented on #5706
@teplit

I know my english is bad, but have you read my post ?

Lab mode does not create wash, because of use of Color Management
RGB mode create wash, because thers is nt color management

[2020-04-11 10:55] teplit commented on #5706
Yes, I read it, however I'm not familiar what exactly RawTherapee do with the colors in the background.

[2020-04-11 12:31] Thanatomanic commented on #5706
High reconstruction tries to bring back some color information if only one or two color channels are clipped. It can only do this by making assumptions about the missing channels. In other words, as soon as you have at least one channel overexposed (saturated pixel on your sensor), your original light intensities are no longer truly recoverable, and therefore also your color is no longer truly rec

[2020-04-11 12:34] Thanatomanic commented on #5706
@Desmis Are you sure? In the code for `RGB Levels` in `Luminosity mode` I linked before I see a conversion to the working profile, then to Lab and then there is even some gamut control going on.

[2020-04-11 12:54] Desmis commented on #5706
yes sure, because Lab is after...

If you want to do a control management with RGB, you must convert step by step in Lab mode, then call module "avoid color shift", then reconvert RGB.
When you control shift after RGB, the damage is done and almost irretrievable

I was the one who built the Lab module, with avoid color shift, and Munsell correction.

making a control on an RGB module is not imposs

[2020-04-11 12:55] Desmis commented on #5706
it is also me who built the luminance mode in RGB

[2020-04-11 12:57] Desmis commented on #5706
but, I can look "again" and see if we can  improve... with no promises

[2020-04-11 12:59] Desmis commented on #5706
There is perhaps something wrong ?? in my "old" work ? (about 8 years ago)

[2020-04-11 13:30] Desmis commented on #5706
To be more complete, the current gamut control only works under certain conditions.
If variation of gamut are low, and if the three chanels L, a, b are not completely out.

In this case, when you increase Red, and when you convert Lab, datas are with L > 100 and a and b are quasi unknown. Gamut control in this case control nothing...

In gamut control Lab, the algorithm play principaly with C (chr

[2020-04-11 17:22] dafrasaga opened #5707 "wavelet residual blur chroma segmentation fault"
Hi with newlocalab version 5.8-1826-g1df6bfcab when I preview beyond 500 zoom and I grow the residual blur chrominance to 100  I have segmentation fault.

Thanks

[2020-04-12 07:40] Desmis commented on #5707
@dafrasaga
I cannot reconstituted
Please give raw and pp3

But...I could not update, because works is in progress on GUI by @Pandagrapher
 jacques

[2020-04-12 08:49] dafrasaga commented on #5707
Hi Desmis,
I attached a zip with NEF and PP3.. OK.. you will upgrade when the GUI will be OK..

Thanks for all you make in wavelet tab ( I use it a lot)

[01.zip](https://github.com/Beep6581/RawTherapee/files/4466075/01.zip)

[2020-04-12 08:59] Desmis commented on #5707
@dafrasaga
To be sure, there is 2 wavelet blur chroma
1) in "Spot locallab" with Pyramid1...
2) in Wavelet levels

What is the good one ?

[2020-04-12 10:18] teplit commented on #5706
@Desmis Thanks for clarifying the matter.

While trying to gain better understanding of the problem I read the [Unclipped article](http://rawpedia.rawtherapee.com/Unclipped) in RawPedia. Apparently the RawTherapee engine can work with unclipped data (out of gamut colors) from input to output, provided some tools are not used (RGB Curves in Luminosity mode is explicitly mentioned).

So I did the fo

[2020-04-12 11:00] epa opened #5708 "Menus display with ClearType RGB antialiasing, even when disabled in Windows"
I'm using RT 5.8 64-bit on Windows 10.  In my Windows font settings I have text set to anti-aliased, but not ClearType.  (So if displaying black text on a white background, for example, the edges of the glyphs may have grey pixels but there are no red or blue fringes.)  However, in RawTherapee the popup menus in the file browser screen still use the ClearType coloured anti-aliasing.  (This makes t

[2020-04-12 11:09] epa commented on #5708
![image](https://user-images.githubusercontent.com/92549/79067325-70685800-7cb6-11ea-9ab5-0d03c9ae3d32.png)

[2020-04-12 11:10] epa commented on #5708
You'll see that the text underneath each image is correctly displayed.  It is anti-aliased but not ClearType.  However the popup menu is putting colour fringes around glyphs, despite ClearType being turned off in Windows.

[2020-04-12 11:11] epa commented on #5708
![image](https://user-images.githubusercontent.com/92549/79067391-bae9d480-7cb6-11ea-93d6-ee4a14d5aca1.png)

[2020-04-12 12:11] Desmis commented on #5707
@dafrasaga
Ok it is in wavelet levels

I fixed this bug, due to, too low size windows in the preview
Now I have disabled tool if zoom > 400 or 500%...

But all these changes are in branch "wavtm", before mergng with dev, before merging with newlocallab

jacques

[2020-04-12 13:28] Desmis commented on #5706
@teplit
Thank you for your analyse.

I think when RGB are too high.. (and it's function of working space), all soltions are work around...

Change the algorihm RGB curves, is a big challenge, if we want it works in all cases... gamut control in RGB mode, while action on R or G or B channel is very difficult...

[2020-04-12 13:48] dafrasaga commented on #5707
@Desmis

OK. Thanks for now

Bye

[2020-04-12 14:38] Thanatomanic commented on #5690
So, just to comment: I think that when an output file of 0 bytes is produced, this is a bug and should be considered a failed export. As mentioned by @teplit embedded profiles in exported png's are possible and _should_ be possible according to the spec. Now the only thing is how to find the bug :-)

@teplit The ProPhoto profile you mention is a default profile that comes with Windows (afaik).

[2020-04-12 20:14] purew commented on #5698
I'm using the Nikon Z6. Seeing that you are using Z 50 made me wonder if this is due to some change in the Z-series. So I tried exporting a raw from my older Nikon d7500 and that worked fine.

TLDR: Seems like this may be due to a change in the Z-series...

[2020-04-13 01:33] stuart12 commented on #5691
I have a similar problem with my Canon EF 28mm f/2.8 and rawtherapee  5.8. The lens type is not detected in the "Profiled Lens Correction" panel so I have to choose the correct lens by hand for every one of my photos :-(. There seems to have been some discussion of this problem in #5157 ([Lens name from lens tag if lens not in Lensfun database](https://github.com/Beep6581/RawTherapee/issues/5157))

[2020-04-13 09:01] Thanatomanic commented on #3229
@Queatz The GFX100 in 16 bit mode gives problems, as you see in #5574

Otherwise I have just tested all Fujifilm compressed files on raw.pixls.us and haven't found any problems anymore. Closing this issue.

[2020-04-13 09:01] #3229 closed

[2020-04-13 09:04] Thanatomanic opened #5709 "Partial decoding or wrong dimensions of X-T30 files"
See https://discuss.pixls.us/t/raf-files-from-xt-30-are-cropped-to-a-small-tile/17511

For some reason these specific files are only partially decoded or obtain wrong dimensions on loading. I can reproduce in v5.8, but not with the other X-T30 files in raw.pixls.us.

[2020-04-13 09:40] #5138 closed, assigned to Thanatomanic

[2020-04-13 09:41] #5045 closed, assigned to Thanatomanic

[2020-04-13 11:31] #5709 closed, assigned to heckflosse

[2020-04-13 13:47] to-sensei opened #5710 "remote mode (-R) seems to be broken on 5.8"
after upgrading from 5.4 to 5.8, executing rawtherapee on windows 8 with the "-R" flag _always_ opens a new instance instead using an existing one.

[2020-04-14 15:36] epadepa opened #5711 "Enable pixelshift metadata filter in File Browser Filter"
Wishlist: It would be great if the File Browser Filter could filter by pixel shift. The Dynamic profiles can match pixelshift so perhaps it would be possible to extend that to the metadata filters in the File Browser.

[2020-04-14 16:55] heckflosse commented on #5691
If lens detection does not work correctly for Lensfun and your lenses, you can try to use Dynamic Profiles...

[2020-04-14 17:08] oisanjaya commented on #5692
Sorry to bring this up again, i feel the tick mark is close to iritating to my eyes so i made my own repo and try to do something about it, maybe anyone interested to look up.

[https://github.com/oisanjaya/RawTherapee/tree/color-border](url)

my idea is the tick mark should gone altogether; merge the "has pp3 file" state into color label concept, that is, any file that have valid pp3, but doesn't

[2020-04-14 18:21] Thanatomanic commented on #5692
@oisanjaya It's good that you're experimenting. However, your solution is very far off from any other design element that's present in RT. I don't think this would be something we would like to include.

[2020-04-14 19:14] oisanjaya commented on #5692
i know, just providing ideas, hoping to have better file browser...without tick mark

[2020-04-14 19:51] Nippius commented on #5698
That's a good find! Let me try with my D3500 to see if it works.

[2020-04-15 13:30] bertoo87 opened #5712 "5.8 is applying irreversable crop to the image"
Hey guys.

i got a little issue with SOME of my files - not all of them are affected.
My issue is triggered very simple: open the Image. it applies a heavy crop which i cant really reset. I can reset the Profile Changes made after i switched the image, but as soon as i open these images again, the crop is back. Ive made a little video and attached the example RAW File here: https://filebin.net/e33

[2020-04-15 13:47] Thanatomanic commented on #5712
This was fixed in the development version two days ago: https://github.com/Beep6581/RawTherapee/issues/5709
You can download a [nightly build](https://github.com/Beep6581/RawTherapee/releases/tag/nightly) if you want the correct functionality now, or otherwise you'll have to wait until version 5.9 comes out.

[2020-04-15 13:47] #5712 closed, assigned to nobody

[2020-04-15 20:17] Nippius commented on #5698
Yup raw files from my d3500 are exported correctly

[2020-04-16 13:57] schuay commented on #3176
I ran into a bad case of this yesterday. Demosaicing using a neutral profile. The image source is a X-T20.

3-pass Markesteijn has very strong false color artifacts. They are reduced but still very present with 5 false color suppression steps. On the OOC JPG I don't see any false color artifacts at all.

100% zooms are OOC, 3-pass Markesteijn, 3-pass Markesteijn with 5 false color suppression step

[2020-04-16 15:47] Thanatomanic commented on #2160
Going through some old issues. I believe this is no longer useful since the new Shadows / Highlight tool in 5.4 (?) or some version since then.

[2020-04-16 15:47] #2160 closed

[2020-04-16 17:17] dafrasaga opened #5713 "wavelet blur leves segmentation fault with zoom beyond 300"
Hi I discovered another segmentation fault with wavelet.
If I'm at >300% zoom when I move the curve I got the fault.

[Desktop.zip](https://github.com/Beep6581/RawTherapee/files/4488727/Desktop.zip)

[2020-04-16 18:01] schuay opened #5714 "X-Trans demosaicing artefacts (still present)"
Filing this duplicate since I'm not sure how much visibility comments in older issues get. If old issues are not effectively in an issue graveyard, it's safe to close this.

In any case, these X-trans demosaicing artefacts are still very much present. See the latest comment in https://github.com/Beep6581/RawTherapee/issues/3176 for examples.

[2020-04-16 20:40] bertoo87 commented on #5712
Thanks for the response. works like a charm :)

[2020-04-16 20:40] eathtespagheti commented on #2239
can't wait to see this in 5.9!!

[2020-04-17 07:38] Floflo81 commented on #5670
I don't really know the RawTherapee codebase, but I think this bug is probably related to this change made between version 5.7 and version 5.8 by developer @Beep6581 :
https://github.com/Beep6581/RawTherapee/commit/24684e5cb35a2d487cc74407941b795788566a9f#diff-c48d3b4090810e8ab4709ac8f8a2a5e5

In file "sonyminoltaattribs.cc", several lenses were removed from the **SALensIDInterpreter** class, incl

[2020-04-17 11:39] d-e-e-p opened #5715 "rawtherapee-cli: batch mode conversion of raw image to jpg skips auto level"
When rawtherapee-cli processes raw file inputs, there seems to be no way to get it to activate some operations like auto-level.  Only workaround to order operations seems to be having temporary non-raw files...Eg,

[code]
 level.pp3 and raw.pp3 profiles looks like

[code]

[code]

[2020-04-17 12:58] heckflosse commented on #5715
Works fine here.

test.pp3
[code]
test2.pp3
[code]

[code]

Resulting jpg has auto levels applied.
Can you provide a raw file to reproduce?

[2020-04-17 21:38] d-e-e-p commented on #5715
testcase attached. i'm trying to clip off the left-hand-side of histogram using the auto levels command...
<img width="311" alt="Screen Shot 2020-04-17 at 1 39 34 PM" src="https://user-images.githubusercontent.com/13894153/79615836-7300ee00-80b8-11ea-9cde-eff8051de70e.png">
<img width="293" alt="Screen Shot 2020-04-17 at 1 39 59 PM" src="https://user-images.githubusercontent.com/13894153/79615869-

[2020-04-18 13:37] blj86 commented on #5555
As a very new user to this tool the idea of simplifying things by removing tools that are not really uses sounds good.  I do think total removal (as in pulling the code) tends to not be the most ideal way.  Typically I have noticed most software avoids doing this but the cost is crazy complexity years down the line.

chaimav has a rather good suggestion here but maybe a bit more refined.  Assuming

[2020-04-19 09:34] Streep commented on #2838
Just to reiterate what assaft said, as I believe it is important to understand why we really need to be able to use the opcodes: it is my understanding that these opcodes are included in the RAW file from within the camera itself. That is, it is not added by Adobe based on some algorithm which compares the JPEG to the RAW data. Adobe translates the (possibly proprietary) 'opcodes' into the DNG opc

[2020-04-19 09:43] Streep commented on #2838
Since the opcodes can perfectly correct distortions and vignetting etc., what is the advantage of lens profiles offered by e.g. Lensfun over employing the DNG opcodes?

Although Lensfun is now supported, I am not sure what other information is in a lens profile (LCP file) that warrants making one, using software like Lensfun and Adobe Lens Profile Creator. That is, I would like to know how is a le

[2020-04-19 09:43] TechXavAL commented on #5555
Well, as I see it, that's not the only drawback: if you keep unmaintained code just to allow a user to open the tool used years back, then it will lead to problems, for sure. One possibility is that simply by turning on the old tool, RT crashes because the old code of that tool is no longer compatible with the current engine code.

We are in v.5.8, so there's yet one extra version to be released b

[2020-04-19 10:22] Streep commented on #2838
I think that we really need the opcode support to support new cameras immediately. Actually, we might want to even support the proprietary lens correction parameters from the raw files. This would be somewhat difficult as it would require some reverse engineering--as you say the files from the manufacturers are proprietary and only shared with parties like Adobe--but shouldn't it be possible?

Her

[2020-04-19 10:40] maboleth commented on #5555
Well if it's of any use here, LR still supports old engines, just because many files were developed using old systems so having backward compatibility is necessary.

On the other hand, I don't know how RT handles those tools or modules. Maybe there should be an intelligent transitions here, so if RT 6.x detects old tools in a pp3 file, it automatically translates those values to new tools. Also pr

[2020-04-19 10:41] Thanatomanic commented on #2838
@Streep How is this an argument for the (difficult) implementation of opcode handling? A lensfun profile should handle your challenge quite easily, and the database is still updated regularly for new lenses as far as I know.

For what it's worth in your example, the DNG is cropped quite strongly with respect to the original CR3. That makes getting rid of the vignetting much easier. I can already g

[2020-04-19 10:54] th-rt commented on #5670
I've got the same problem here in RT 5.8 (AppImage on Ubuntu 19.10) with a Sony ILCE-7M3 and a Sony FE 24-70 F2.8 GM lens. The lens model is shown correctly in the Exif pane, but it is not recognized by RT and the related dynamic profile is not selected.

![grafik](https://user-images.githubusercontent.com/63954862/79685839-f9920880-823b-11ea-8f56-91206124d0c0.png)
![grafik](https://user-images.gi

[2020-04-19 11:02] aferrero2707 commented on #5670
If I understand correctly the issue, this is not related to the AppImage package itself, but to a change in `sonyminoltaattribs.cc`. @Beep6581 could you confirm?

[2020-04-19 11:11] Streep commented on #2838
Also, in Adobe products, e.g. Lightroom, of course the built-in lens corrections are applied, but can not be deactivated either. I'm not sure of the reason for this, but in any case, as you say:

On the other hand, you are able to select a lens profile from another camera. However, the "Built-in lens profile applied" is still showing and the effects on the image is rather minimal.

To be clear wha

[2020-04-19 11:22] Streep commented on #2838
I get your meaning. It's just that if you are quite new to all this stuff then it's nice to have something working out of the box, something which Adobe products offer, even for new cameras. In addition to that, it's nice when you know that the original manufacturer's lens data has been applied.

I already surmised there is an explicit crop done here. So I guess there are also opcodes for crop? Ag

[2020-04-19 15:03] blj86 commented on #5555
This is a good idea most of the user base I would think is on disscuss.pixls.us so maybe a poll there assuming one could be made.

This is a little easier for lightroom to do because most people don't use sidecars so all of the adjustments are in the database so it is handled in the migration upgrade.  Even if sidecars are used the adjustments for those sidecars are just taken from the database an

[2020-04-19 16:08] maboleth commented on #5555
Soft light tool?
I use it in almost every image I process! It's a great and fast option to
bump your contrast and colours similar as the SL layer in gimp/ps.

Like, please don't touch it, I'm so happy we have it there, applying it in
a breeze to a bulk of images.

On Sun, Apr 19, 2020, 5:03 PM blj86 <notifications@github.com> wrote:

[2020-04-19 19:51] chaimav commented on #5555
I use the soft light tool frequently as well. Please keep it.

[2020-04-19 22:34] Thanatomanic opened #5716 "Commit a801d76 causes some thumbnails to turn green"
I've done a `git bisect` to confirm that some thumbnails turn green due to commit a801d76 (after clearing the cache and reloading a folder). I cannot specifically pinpoint which type of raw files are affected, it doesn't seem to be a specific file type. See below for a small selection of files I found to be affected.

Edit: it seems to happen for these files when you modify the white balance, even

[2020-04-20 07:33] teplit opened #5717 "Make the White Balance sampling tool more flexible"
### Summary
Make it possible to sample a bigger contiguous area (or multiple disconnected areas) for determination of White Balance.

### Rationale
The human perception of _white_, _gray_ and _black_ isn’t precise and depends on the visual context. What may look as _gray_ to human with normal color vison in particular spot of the image may turn out as quite tinted shade of gray. The tint of a gray

[2020-04-20 07:59] Thanatomanic commented on #5717
If you believe the spot picker is too small, a relatively simple change would be to modify the module to allow a larger range of sizes (replace the dropdown with an adjuster or spinbutton).

Drawing areas for white balancing, or having multiple areas for white balancing, is a lot more involved. It would probably require significant changes to how the image canvas is drawn and handled (and personal

[2020-04-20 10:25] teplit commented on #5717
I believe that the flexibility, convenience and innovation will make RawTherapee more attractive to more people.

Programming is of course involving activity – it requires technical expertise, experience and knowledge. If you don’t like it – don’t do it.

Photography is also involving activity – some people risk their equipment, health and life for capturing difficult to reach scenes in difficult

[2020-04-20 11:43] #5716 closed, assigned to heckflosse

[2020-04-20 11:44] Thanatomanic commented on #5717
I understand your response, but it seems you missed my intended point. You know we're an open source project, right? If you ask for a feature, and you're told it is a big thing, please accept any 'quick fix' at face value. Don't expect me or any other dev to say "sure, we'll have this done in two weeks" - which is kind of what your response implies.

Let's see what others think about this (perfect

[2020-04-21 09:04] teplit commented on #5717
My native language is not English and my style of wording my look odd. So to clarify the matters – the proposal is not about performing local white balancing on photos with multiple light sources. Some researchers tried to do that and achieved interesting results at least in their paper (_Light Mixture Estimation for Spatially Varying White Balance_). The proposal is about performing global white

[2020-04-21 21:25] gaaned92 commented on #2838
@Streep
I think that lensfun can do a satisfying job at correcting distortion and vignetting.
What is missing in compact-canon.xml  file is the reference to your camera.
So adding in this file
[code]
solves the problem.
If you want a definitive correction, file a ticket in the lensfun site.

![a-IMG_3022](https://user-images.githubusercontent.com/13785581/79915027-83052e80-8426-11ea-8763-3170de594

[2020-04-22 05:36] afontenot opened #5719 "Raw CA correction sometimes fails, lens profiled CA correction is even worse"
**Description**

Not-so-infrequently I will have images with CA (chromatic aberration) bad enough that RawTherapee can't handle them, and I have to fall back to using e.g. Lightroom. Here is an example of such an image:

Rawtherapee (cropped):

![IMG_8648_rt_small](https://user-images.githubusercontent.com/3870410/79943546-fe161700-841d-11ea-8af8-6d0d52db3722.png)

Lightroom (cropped):

![IMG_8648

[2020-04-22 05:58] afontenot opened #5720 "Histogram missing from second tone curve"
**Description**

The second tone curve doesn't show a histogram, even though the first one does:

![second_tone_curve_no_histogram](https://user-images.githubusercontent.com/3870410/79946242-67008d80-8424-11ea-9e59-664b72e272f0.png)

Also, I find it strange that the L\*a*\b* adjustments don't show a histogram unless they're enabled. Edit: actually, a\*, b\*, LC, and CL all appear not to have histo

[2020-04-22 06:00] Eneen commented on #2838
I've noticed that perspective corrections are done before distortion. Should I create another ticket for this?

[2020-04-22 06:19] afontenot opened #5721 "Need option for Log-Log on L*a*b* adjustments"
**Description**

I find these curve adjustments to be among the most helpful and powerful tools available in RawTherapee. However, I *very* frequently find them difficult to use because 90% of the information is in the bottom 10% of the curve. On the contrary, the tone curve appears to be using some kind of compression on the curve (presumably a log scale) so that most of it is used most of the ti

[2020-04-22 06:44] mattiaverga opened #5722 "Couple of CVEs reported against dcraw code"
A couple of CVE bugs have been reported on Fedora Bugzilla related to dcraw's `kodak_ycbcr_load_raw`.
Can you please check if code bundled in RT is affected as well?
https://bugzilla.redhat.com/show_bug.cgi?id=1826578
https://bugzilla.redhat.com/show_bug.cgi?id=1826584

[2020-04-22 07:26] Thanatomanic commented on #5719
It's hard to compare with Lightroom because any number of hidden things could be happening. If you enable the Defringe module in RT you get rid of pretty much any hint of CA. And to be honest, I think the default result with auto-correction CA applied is already quite good considering the lens and contrasty lighting conditions make this a prime example of strong CA.

Neutral (+1 EV exposure)
![IMG

[2020-04-22 07:33] Thanatomanic commented on #5719
If I try a little harder to match the tone of the image with your LR export, I even think RT does a _better_ job at removing CA and false colors. Note for example the thicker branch in the middle of the 'open' sky. In your LR export I see a hint of blue / red color cast across the branch. There is none in this RT edit.

![IMG_8648-3](https://user-images.githubusercontent.com/6567747/79953371-09982

[2020-04-22 11:34] afontenot commented on #5719
I'll take another look at it. Granted, it might be possible to match or even improve on Lightroom with enough work (although it's quite possible that Lightroom would be further improved by bumping up the anti-CA slider a little more).

My point with this bug report, at least in part, is that I didn't have to do anything to get this to work in Lightroom. I just imported the image, decided the defau

[2020-04-22 11:44] Thanatomanic commented on #5719
Try this in RT for a less-than-10-second-approach: apply the 'Auto-Matched Curve - ISO Low' profile to your image and enable Defringe, then tell me how well you like that starting point for further development 😉

RawTherapee and Lightroom simply have different philosophies regarding photo processing. Lightroom is more top-down, RawTherapee is more bottom-up, if you get my meaning.

[2020-04-22 11:58] Thanatomanic commented on #5719
@afontenot

Yes, there are a number of CA-like tools in RT. Their function is different in each case, but feel free to make a separate issue to discuss simplifiying this.

[2020-04-22 12:14] afontenot opened #5723 "The CA correction options are confusing for new RawTherapee users"
This issue is forked off from https://github.com/Beep6581/RawTherapee/issues/5719#issuecomment-617733843

I recently filed this issue because I couldn't get CA correction to work. It turns out the biggest cause of this was that I had accidentally left a CA setting enabled that I didn't even know existed, and it was making the problem much worse. The following describes how that happened.

The foll

[2020-04-22 12:18] afontenot commented on #5719
I've done that, thanks.

[2020-04-22 13:14] heckflosse commented on #5723
Maybe this screenshot is less confusing. These are different tools.

![grafik](https://user-images.githubusercontent.com/13733487/79985153-79bda580-84aa-11ea-86dc-aac22cfbfbe6.png)

Why do we need different tools for CA-Correction?

There is auto-ca-correction in the raw-tab which works quite well on bayer files (it's my preferred method) but it also works only on bayer files

As the auto-ca-corre

[2020-04-22 13:19] Thanatomanic commented on #5723
@heckflosse Regardless of your clear explanation: I can really understand the confusion that there three different tools that kind-of do the same thing depending on the situation. I'm thinking what we could do in the GUI to improve this without having to resort to RTFM...

[2020-04-22 13:35] TechXavAL commented on #5723
If I have understood it well, it's only a matter of how to tell what each tool does, or most precisely in which kind of situations they have to be used. Perhaps it's just a matter of changing the labels:

- raw files: Raw Chromatic Aberration Correction
- lcp used and has ca-correction: Lens Profile Chromatic Aberration (instead of just Chromatic Aberration)
- when everything else is false (not a

[2020-04-22 13:45] Thanatomanic commented on #5723
As far as I know all three methods are applied in very different ways. The raw CA correction works on non-demosaiced data, the LCP correction may apply a higher order correction (see [here](https://lensfun.github.io/manual/latest/group__Lens.html#ga0b8deda1887fb5543a2038669ed344b4)), and the 'custom' CA correction is a simple radial modifier that shifts the color channels (afaik).

[2020-04-22 13:53] TechXavAL commented on #5723
Ok, a new user most probably won't know that, but at least he/she will see that those are different options, not everything the same and with the same name.

What I was trying to tell is that maybe longer labels would be enough to prevent this kind of misunderstandings.

[2020-04-23 00:00] afontenot commented on #5723
Actually, I think your screenshot makes the problem even more clear than mine did! They are indeed separate tools, but it's very easy to think that they aren't because they both belong to the same module. Here's the whole thing:

![screenshot_separate_modules](https://user-images.githubusercontent.com/3870410/80042288-6f53d980-84b3-11ea-9447-5bc3432de609.png)

This is how it actually looked just b

[2020-04-23 00:04] afontenot commented on #5719
I'm closing this for now in favor of https://github.com/Beep6581/RawTherapee/issues/5723. I think the following two things have resolved this issue, as far as I can immediately tell:

1. Make sure you don't have multiple, incompatible CA corrections enabled (see the above bug).
2. Try the fringe removal tool. I hadn't attempted to fix anything with that recently, but it got rid of a lot of the rem

[2020-04-23 00:04] #5719 closed, assigned to nobody

[2020-04-23 00:36] afontenot opened #5724 "Show all panes by default, not just the editor, when opening an image directly"
Why yes, I *have* spent 30 minutes looking for the settings button in RawTherapee before. :-)

This is likely to affect only inexperienced users, but I actually find it unintuitive enough that I managed to forget about it, and so I have actually encountered this bug twice (though not recently).

![Rt_setm_fb](https://user-images.githubusercontent.com/3870410/80046086-66b4d080-84be-11ea-9bbb-5ce788

[2020-04-23 01:08] afontenot opened #5725 "Profiles menu doesn't fully expand when near the top of the screen"
For clarity, I'm talking about this menu:

![rt_profiles_menu](https://user-images.githubusercontent.com/3870410/80047827-4d625300-84c3-11ea-80db-d040d45d3517.png)

Even though there is plenty of room to expand downward on my screen, this tiny menu opens open with scrollbars and is difficult to use and click on as a result.

Here is a screenshot of the problem:

![0273](https://user-images.githubu

[2020-04-23 06:44] Benitoite commented on #5721
Is it possible to post your sample and a maybe a brief visual guide to what you need for the tool?

[2020-04-23 07:04] PhilBaz opened #5726 "Request: refresh button to scan for images added to active folder, film simulation files (haldclut), etc..."
Request: refresh button to scan for images added to the active folder, film simulation files (haldclut), etc...

A simple request, above says it all. It would be nice to not have to close the program to get these to recognize.

[2020-04-23 07:16] Thanatomanic commented on #5725
Thanks for the video and screenshots, but this issue was already raised very recently in #5699.

[2020-04-23 07:16] #5725 closed, assigned to nobody

[2020-04-23 08:13] #5687 closed, assigned to nobody

[2020-04-23 08:14] Thanatomanic commented on #5687
@TooWaBoo I've pushed a fix for this, but if you don't like how it works with your themes, please let me know and we'll revert.

[2020-04-23 10:13] afontenot commented on #5725
Sorry, my search didn't pull it up for some reason.

[2020-04-23 10:47] afontenot commented on #5721
Sure. I don't recall the exact image I used but just about all of them show this problem unless the curves are heavily adjusted by something further up the chain. Try this one for example, set profile to neutral. https://drive.google.com/open?id=1t4rj5XQWd26xXyH0H_j0GZXM4SGnZfRg

You'll notice that the image is rather faded by default. Obviously that's something we want to fix, but RawTherapee's c

[2020-04-24 10:41] MJacal opened #5729 "Automated Windows builds have broken Lensfun integration"
Builds, provided by [aferrero2707](https://github.com/Beep6581/RawTherapee/releases/tag/nightly)

RawTherapee_dev_5.8-394-g22eee9787_20200414
RawTherapee_dev_5.8-395-gd165a08e3_20200420
RawTherapee_dev_5.8-397-g276ae214f_20200423

RT doesn't "see" the Lensfun data in
RawTherapee\share\lensfun\version_1

Moving them one level up fixes the main problem.
But the data are also outdated. Timestamp 1447

[2020-04-24 11:20] redfox19 opened #5730 "Fast Export output does not match preview"
Color in the output from Fast Export does not match preview when using Standard Processing pipeline (it works fine when using Dedicated). After several tests, trying with different settings, I think RawTherapee is using Camera standard as the Input Profile (in Color Management section), although Auto-matched camera profile is selected.

This is more or less difficult to detect depending on the ima

[2020-04-24 21:22] teplit commented on #5721
I think that it is better to use the _Exposure compensation_ for exposure adjustment. Unlike the _Tone curves_, the former works in linear space (this avoids color shifts) and does not clip internally the data (it is safe). For the first reason here is what RawPedia says about the Tone curves:

For the second reason – after exposure adjustment with _Exposure compensation_ you can employ the _Highl

[2020-04-25 01:52] raceviper13a opened #5732 "RT 5.8 ignoring PP3 generated by Profile Builder. (RT 5.7 is using PP3 generated by Profile Builder)"
When I open an image my PP3 Generator creates the PP3.  Then RawTherapee is supposed to read in the PP3 file it generates, and use those values.  It is not happening correctly.

I further analyzed the problem with the 1st parameters I was noticing were not being correctly read in.  My PP3 Generator adds the following section to any empty PP3 or any PP3 without this information:

[HLRecovery]
Enabl

[2020-04-25 02:07] raceviper13a commented on #5732
I just installed 5.7, and this problem does not exist.  I'm sad I won't get Capture Sharpening for a while.

Version: 5.7
Branch: releases
Commit: f335efe6a
Commit date: 2019-09-10
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.1
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=ge

[2020-04-25 09:14] teplit commented on #5721
Here is an example of RAW development approach with mild involvement of a tone curve:
![IMG_8622](https://user-images.githubusercontent.com/5978882/80274762-6ea28980-86e5-11ea-88ba-cfbe1fb1d6d6.jpg)
The PP3 file is attached [here](https://github.com/Beep6581/RawTherapee/files/4532612/IMG_8622.DNG.zip).
How correct this approach is in avoiding color distortions I don't know.

Different people have

[2020-04-25 09:33] ff2000 opened #5733 "Lensfun selects wrong lens for Olympus Zuiko Digital ED 14-42 f3.5-5.6"
It selects "Olympus M.Zuiko Digital 14-42" (mFT lens) but this is an adapted FT lens (Olympus Zuiko Digital without the "M"). This results in completely warped distortion "corrections".
Unfortunately github refuses to upload a screenshot currently. ("we can't process that file currently")

Sample RAW file:
https://www.dropbox.com/s/86gm4fxyjq7tybj/P5061524.ORF?dl=0

Edit: This happens with both RT

[2020-04-25 09:35] ff2000 commented on #5733
Screenshot is here:
https://www.dropbox.com/s/w4nkpmauxrbgudf/FTlensfun.jpeg?dl=0

[2020-04-25 12:48] gaaned92 commented on #5733
- RT decodes the lens name as `Olympus Zuiko Digital 14-42 f/3.5-5.6`

- In lensfun DB  there are two lenses`Olympus Zuiko Digital 14-42 f/3.5-5.6`  and also a `Olympus M.Zuiko Digital 14-42 f/3.5-5.6`

- In Lensfun correction, RT chooses `Olympus M.Zuiko Digital 14-42 f/3.5-5.6`

So the lens search method  in lensfun DB by RT is wrong. Perhaps `M.Zuiko` is considered as two words and not as one w

[2020-04-26 07:11] gaaned92 commented on #5729
When describing a bug, don't forget to provide all information. What is your system?

For the first issue, here should be an other way to cure the problem:
- find your options file and edit it
- at the end of file, you will find a lensfun section
- modify the relative file adding  ` /version-1`
- save  and start RT

Should be definitive until @aferrero2707 moves DB one levelup.

For the second pro

[2020-04-26 10:04] vlnik-belyaev commented on #3317
It definitely hurts me because I shoot with two cameras. Also I often reprocess new jpeg versions of the shot inside the body. Those versions share nothing but the time of capture, so  there is no convenient way to compare and to keep best one

[2020-04-26 10:10] aferrero2707 commented on #5729
@gaaned92 @MJacal in fact, there was a problem in the update of the lensfun DB. From a recent build log:
[code]

This is now fixed for all branches. Could you please check?
Thanks!

[2020-04-26 11:57] MJacal commented on #5729
Fixed, functional and updated, thank you! I have checked `dev` and `newlocallab`, installers and zipped "portable" packages.

I believe i can close this now, be well!

[2020-04-26 11:57] #5729 closed, assigned to nobody

[2020-04-26 16:56] simohno commented on #5723
Thanks for the clarifications, @heckflosse  :) I think the notes on incompatibility between the various CA-corr tools should be written in the RawPedia (or have I missed that?). I did not suspect they could conflict and in fact used both before- and after-demosaic CA tools, till now...

So if I have got it right, also from #5719,

- Only the Defringe tool works well with the others
- Lens-specific

[2020-04-27 07:07] Thanatomanic opened #5734 "Nikon COOLPIX P1000 white point (sometimes?) off"
In #1755 @dimonoid provided camera samples with strong overexposure. All are shot at ISO100. Interestingly, in one case the sky is simply white (as expected), but in the other cases the sky is magenta. This indicates something is not correct with the white point setting of the camera in `camconst.json`.

See #5480 for relevant recent commits for camera support.

[2020-04-27 07:13] Thanatomanic commented on #5734
I'm no expert on `camconst.json`, but this should do the trick I guess? 4093 -> 4087

[code]

[2020-04-27 08:51] AleksiKl commented on #5314
Could the [Poeditor](https://poeditor.com) be used in this project?

[2020-04-27 16:11] heckflosse commented on #5734
@Thanatomanic Sounds reasonable. Please commit your change :+1:

[2020-04-27 16:13] #5734 closed, assigned to nobody

[2020-04-27 16:15] Thanatomanic commented on #5734
@dimonoid If you get a nightly build tomorrow, or build from source, at least part of your artifact problems will be gone!

[2020-04-29 09:48] mkyral commented on #5314
Not directly. I'm using custom scripts to convert RT language file to .po and back.
https://github.com/mkyral/rawtherapee_l10n

[2020-04-29 10:41] mkyral commented on #5314
I don't use that page, but maybe you can use simple conversion to csv.

[2020-04-29 19:00] KarlMagnusLarsson opened #5736 "OSX, No such file or directory make[2]: *** [rtexif/librtexif.a]"
The build instructions in http://rawpedia.rawtherapee.com at http://rawpedia.rawtherapee.com/Linux and http://rawpedia.rawtherapee.com/MacOS are very detailed and clear, but my build still fails.

Problems:
a) usage:  ar -d [-TLsv] archive file ... in CMAKE output
b) `clang: error: invalid version number in '-mmacosx-version-min='`
and
c) `No such file or directory make[2]: *** [rtexif/librtexif.a

[2020-04-29 19:16] Benitoite commented on #5736
The `ar` warning is normal-- macos ar does not have the same flags as in other OS, so depending on the `ar` you have it may or may not fail, causing cmake to pick a suitable version based on .

For the min os version, use a versioned SDK that you actually have installed in your Xcode, which should be 10.13.  Tell cmake the version, too: `-DCMAKE_OSX_DEPLOYMENT_TARGET:STRING=10.13` If you need back

[2020-04-29 19:20] Benitoite commented on #5736
Also, I have done some work to some things mac related, #5703 and #5679 .  You should patch them in before a build since it is not yet merged:
`curl https://patch-diff.githubusercontent.com/raw/Beep6581/RawTherapee/pull/5703.patch | git apply`
`curl https://patch-diff.githubusercontent.com/raw/Beep6581/RawTherapee/pull/5679.patch | git apply`

[2020-04-29 20:11] KarlMagnusLarsson commented on #5736
Thank you @Benitoite for checking and for the patches. I will apply them.

I have added -DCMAKE_OSX_DEPLOYMENT_TARGET:STRING=10.13 to cmake.

However I think the link command is fine, I think., since 'which ld' shows /usr/bin/ld (I have no other linker) and -DCMAKE_LINKER=/usr/bin/ld does not help.

I get en error due to missing file:
Error running link command: No such file or directory
since rte

[2020-04-29 20:20] KarlMagnusLarsson commented on #5736
The complete error, for reference:
[  3%] Linking CXX static library librtexif.a
cd /Users/magnuslarsson/Desktop/test/RawTherapee/build/rtexif && /usr/local/Cellar/cmake/3.17.1/bin/cmake -P CMakeFiles/rtexif.dir/cmake_clean_target.cmake
cd /Users/magnuslarsson/Desktop/test/RawTherapee/build/rtexif && /usr/local/Cellar/cmake/3.17.1/bin/cmake -E cmake_link_script CMakeFiles/rtexif.dir/link.txt --ver

[2020-04-29 20:46] KarlMagnusLarsson commented on #5736
I solved lbrtexif.a problem

The build instruction in http://rawpedia.rawtherapee.com/MacOS has llvm version 8.0.0 hard coded:
          -DCMAKE_AR="/usr/local/Cellar/llvm/8.0.0/bin/llvm-ar" \
          -DCMAKE_RANLIB="/usr/local/Cellar/llvm/8.0.0/bin/llvm-ranlib" \

I have version 10.0.0_3 from Brew. I updated the cmake command as per below and now it is building past Linking CXX static library l

[2020-04-29 21:13] KarlMagnusLarsson commented on #5736
The compilation completed. That is good. I got a runtime error at startup instead.

I could trim the 'llvm-ar' explicit references and CMAKE picked everything up anyway. I do not think that
-DCMAKE_AR="/usr/local/Cellar/llvm/10.0.0_3/bin/llvm-ar"
-DCMAKE_RANLIB="/usr/local/Cellar/llvm/10.0.0_3/bin/llvm-ranlib"
are needed in CMAKE configuration.

This is what I used:
export PKG_CONFIG_PATH=/usr/loc

[2020-04-29 23:59] Benitoite commented on #5736
Another thing is that RawTherapee app must be installed in /Applications.

On Wed, Apr 29, 2020 at 2:14 PM KarlMagnusLarsson <notifications@github.com>
wrote:

[2020-04-30 00:46] assaft commented on #2838
I think that this is incorrect, or at least depends on the mount specifications. Two points:
1. In the case of micro-four-thirds, the embedded profile corrects distortion only and does not deal with vignetting. At least with the few cameras that I have, Panasonic and Olympus,implemented the menu option of vignetting correction by applying the correction to the RAW data directly - a very strange de

[2020-04-30 07:59] KarlMagnusLarsson commented on #5736
@Benitoite, Thank you for the feedback!

I am aware of this instruction from http://rawpedia.rawtherapee.com/MacOS
[code]

However I am on OSX 10.13.6 on old Imac hw from 2010! This is a much more relaxed environment compared to OSX 10.15, :-), so I do not think this is the root cause of my startup error message:
[code]
I get a standard library incompatibility warning, so I think I have not bumped

[2020-04-30 11:06] Benitoite commented on #5736
Due to App Sandbox, it must be installed into `/Applications` to pick up any libraries inside the app, as the paths to the libraries are hard-coded to reside in `/Applications`.  Once it picks up the libexpat inside the app bundle, it will not search elsewhere for a different libexpat in /usr/lib.
This does affect all macOS, so I did update the rawpedia instructions there.

PS I rolled the single

[2020-04-30 12:11] KarlMagnusLarsson commented on #5736
I get the same error if I take the dmg from 'sudo make macosx_bundle', mount dmg and drag app to /Applications.

[code]

[2020-04-30 17:42] Benitoite commented on #5736
It's a little confusing because there was a rename...  The RawTherapee you launch must have the base name in /Applications.. any others should be stowed away in a folder.  Then, with the build you are trying to test, the results of `otool -l /Applications/RawTherapee.app/Contents/MacOS/rawtherapee` in particular the entry for the second load command which should be libexpat.
If that indicates a Co

[2020-04-30 18:24] Lawrence37 commented on #2838
@Eneen #5558?

[2020-04-30 21:48] Benitoite commented on #5736
You might also check that your CMakeCache.txt are consistent with your desired outcome... This is what I get with self-installed libraries in `/opt/local/`.   The default config should work with homebrew.
[code]

[2020-04-30 21:54] Benitoite commented on #5736
Also, your `otool -l /usr/local/opt/expat/lib/libexpat.1.dylib` shoud read out something like:
[code]
(ignoring any default time stamp)

[2020-05-01 10:18] afontenot commented on #5721
Thanks for your input! Indeed, this image is not so bad that you can't work with the tone curve at all, though I do think it could be easier.. The real issue here is the missing chromaticity in the default rendering, as you've noticed (you have +80 to chromaticity in the PP3).

To my eye, this approach has resulted in a rather flat image, with some of the light and color crushed, in part as a resu

[2020-05-01 11:08] KarlMagnusLarsson commented on #5736
@Benitoite thank you for the input.

@Benitoite Does my `brew install expat` install a different version compared to what you have? How to get the version of libexpat I need? It seems that neither `brew expat` or `osx expat` can provide a working version.

I think you have found a deviation, comparing our systems.
`otool -l /usr/local/opt/expat/lib/libexpat.1.dylib` gives me:

[code]
Which looks d

[2020-05-01 13:56] RaimoL opened #5737 "Local adjustments are applied after Film Simulation, ignoring B&W effects"
Local controls used e.g. to put blue to eyes. BW jpg is ok with Black-and-White tool under Color tab but in jpg from BW-FilmSimulation there is colors.

Attachments at WeTransfer https://we.tl/t-dgCZ0AyuAA

Camera Fujifilm XF10, RAF

My HP Laptop: Win 10 Enterprise vers 1809 OS build 17763.1039

installed: RawTherapee_newlocallab_5.8-1888-gdd070dbd3_20200429.exe

![screen](https://user-images.gith

[2020-05-01 17:02] KarlMagnusLarsson commented on #5736
I need to do more testing.

It seems I can not have 'RawTherapee' and 'RawTherape 2' in /Applications, for test (the distributed binary, which works for me, and my own build, which does not work). If I install my newly built package cleanly in /Applications as /Applications/RawTherapee, then I get another runtime error (pointer).

I will start all over with latest dev and patch #5703 and install a

[2020-05-01 17:19] Desmis commented on #5737
@RaimoL
Very difficult to do that...
Local adjustments is not made for that

But, we can work around the problem.
Put you in **"Expert"** mode (preferences)
Load this pp3 (rename "txt" in pp3

To simplify, I only apply "Film simulation"

Then I use in "expert"

Color and light, **Merge file, Background, Difference**, with settings in pp3

Then **excluding spot** for the center of the eye

Rename t

[2020-05-01 17:59] KarlMagnusLarsson commented on #5736
The library problem is solved. A clean install to /Applications/RawTherapee.app works. The libexpat error is gone.

I am sorry I automatically got a 'RawTherapee 2' app, since I kept old RawTherapee in /Applications. That did not work and I should have understood from feedback.

Without any additional patches I get another run-time error. The complete error output is logged in the attached file.
[

[2020-05-01 18:56] RaimoL commented on #5737
Dear Jacques
You say "Local adjustments is not made for that"  ??
I have been using Nik U-point tech a lot.
I'll explain my problem (sorry but perhaps this is not the correct forum):

If I had a photo like this after white balance correction.
![no local yet](https://user-images.githubusercontent.com/4071120/80832608-a2a21100-8bf5-11ea-8f1e-6c22517de4cf.jpg)

And I'll want to add some red to the li

[2020-05-01 19:21] Thanatomanic commented on #5737
Edit 2: Scratch my entire comment, I was wrong about what was going on. Sorry.

[2020-05-01 19:27] Desmis commented on #5737
@RaimoL

Excuse my bad english

of course for the example you show, it's work.... and it's obvious..., because I am the designer of the algorithms (not the GUI)

But in the case of eyes, it's very difficult.... and tools are not exactly disagned for that. Hence what I propose in "expert" mode  with "merge file", etc.

What you explain is due to te pipeline in Rawtherapee, "Local adjustments" is af

[2020-05-01 19:33] Thanatomanic commented on #5737
@RaimoL @Desmis After thinking more than my original two seconds on this, I think the real issue is: where should "Film simulation" be placed in the pipeline?

Since it is a (final) look that you choose for your image, my feeling is it should come as late as possible. Probably after color toning and local adjustments. Currently, that is not the case.

[2020-05-01 19:44] Desmis commented on #5737
@Thanatomanic
Probably, in this case, but  there may be other cases where we will do the opposite

If i take an example of "denoise"....
ten years ago, "we" says... at the end of the process
4 years ago, "we" says ... at the begining of the process

For this case, you have a tool in "wavelet levels" allowing to denoise after
and also denoise after in"local" with local adjustements

But, t is compl

[2020-05-01 20:05] RaimoL commented on #5737
I found https://rawpedia.rawtherapee.com/Toolchain_Pipeline  My quick opinion is that Film Simulation should be before RGB processing because it is like the first job for a real film user: select the film.

[2020-05-02 06:02] Desmis commented on #5737
@RaimoL  @Thanatomanic
Probably, but that does not solved the problem
**All the processes that change hue after "film simulation" will cause persistent colors** and not only "local adjustments". This is why the title of the issue should be changed again

On the other hand, and excuse my bad English - if everyone spoke French it would be fine :), I thought **what you wanted was to color part of an

[2020-05-02 07:28] Desmis commented on #5737
I can easily add a checkbox in "settings" (Local adjustments) .
if you check this chekbox all "colors" will be en BW

But that solve only "Local adjustments"

Easy to do ...

OK or no ?

jacques

[2020-05-02 07:38] Thanatomanic commented on #5737
The real solution to this problem (imo) would be, either:
1) To work with masks: you can select where to apply the Film simulation (entire image, except selected parts). This would mean a big change for RT.
2) Allow a more flexible pipeline where you can add and reorder modules wherever you want. This would mean a _huge_ change for RT.

So in both cases, I don't think there is anything we can do o

[2020-05-02 07:48] Desmis commented on #5737
@Thanatomanic
With "Local adjustments" you can use mask on all tools...

Color and Light, exposure, vibrance, local contrast, wavelet, retinex, denoise, CBDL, etc.... but not for film simulation, Ciecam,...

I will add this checbox, this allows some improvments in other cases. No problem of compatibility

Will come soon :)

jacques

[2020-05-02 09:18] Desmis commented on #5737
@Thanatomanic @RaimoL

Change done, you have a checkbutton in settings "All chnages forced in black and white"
Of course, it is only change, and not the image itself :)

Mask can concern quasi all process - in Local adjustments - an can be applied to the entire image

Jacques

[2020-05-03 09:21] gaaned92 opened #5738 "Windows: gdbus.exe required to get -R option working"
see https://discuss.pixls.us/t/how-do-i-switch-from-edit-window-to-browser-window/1723/33 for reference.

The -R option never worked satifactorily on windows. As I don't use this feature, I never worried until the thread above.

Can a dev explain what is the use of this exe and where it is called in RT and validate this addition?

@aferrero2707 when validated, can you add gdbus.exe to your windows

[2020-05-03 14:22] gaaned92 commented on #2838
Regretfully, there seems one thing is missing:  the dev willing and having time to integrate this function in RT :disappointed:
Perhaps you could volunteer?:smiley:

[2020-05-03 17:42] KarlMagnusLarsson commented on #5736
Since the original errors I reported and in particular "No such file or directory make[2]: *** [rtexif/librtexif.a]" is solved we could work on closing this open issue report.

I propose two possible ways to patch build instruction:
1: Make `-DCMAKE_AR` and `-DCMAKE_RANLIB=` respect installed llvm version and 5-May-2020 that is 10.0.0_3. The path /usr/local/opt/llvm/bin points to installed version

[2020-05-03 18:35] JurajMa commented on #3895
This problem is still there, in RawTherapee 5.8, Windows, as downloaded from the main website.

[2020-05-03 20:21] LordPhoenixfr opened #5740 "Keyboard shortcut conflict in the file browser."
I'm Using a dvorak style french keyboard layout and got some conflict on keyboard shortcut. the 7 and + are on the same key and when I want to use + or Alt+ keyboard shortcut, it is 7 or Alt+7 which it is executed.

[2020-05-05 07:52] Thanatomanic commented on #5733
Could it be that RT chooses the first match it finds? This seems to be the relevant code:
 https://github.com/Beep6581/RawTherapee/blob/1beb3c91b43209d7f0430707164a25ad4c78d28d/rtengine/rtlensfun.cc#L455-L489

[2020-05-05 08:59] gaaned92 commented on #5733
But how to match" zuiko" and "M.zuyko"? that's odd.
The tow lenses are identified in 2 files mil-olympus.xmp for M.zuyko lenses and slr-olympus.xml for zuyko lenses.
The camera model could also help to know in what file to search the lens.
Finding lens is really a tricky job!

[2020-05-05 09:32] ff2000 commented on #5733
In general yes, but in this case I have mounted an SLR-Olympus lens on a MIL-Olympus body.
With Nikon, Canon, and others you can have the same issue when adapting SLR lenses on their own MILK bodies.

[2020-05-05 12:25] mzuther commented on #4765
I'd also like to have a few more options for exporting. :smile:

My workflow is to change something and watch the differences between exported images using an image viewer. This works much better for me than using snapshots because the rendered images have a higher resolution, the switch is faster (tap of a key, no re-calculation necessary) and there is less bias (I made a change, so it *has* to b

[2020-05-05 16:54] cm7695 opened #5741 "LCP - CA Correction disabled for CR2 Canon Raw"
Hello together,

if I select an lcp file, the CA setting is disabled, even if no lcp file is selected. For example take this file:
https://filebin.net/dygwjuuvnqjekxlf/3O9A3628.CR2?t=u0uqyy8q

If I select automatic lensfun, the option is available. (for example select canon 85 mm, which has the CA correction in the profile)

Greetings

Version: 5.8-398-g1beb3c91b
Branch: dev
Commit: 1beb3c91b
Comm

[2020-05-05 18:24] rebio commented on #5691
I have the same issue with my EF-S 17-85mm F4-5.6 IS USM lens and RT 5.8 (Commit: 9a9e0acbf, Commit date: 2020-02-04) on Win7+SP1
The infobox in the topleft corner tells me

_Canon EOS 40D_  and _Canon EF-S 17-85mm f/4-5.6 IS USM_ is correct. I never had a Tokina Lens or ever used any other lens with my system.
The strange thing is that I have three other Canon lenses and they work without any pro

[2020-05-05 18:29] Thanatomanic commented on #5741
Can you please provide a screenshot? On my system RT cannot recognize the lens from your provided raw automatically, so obviously ticking the Chromatic aberration box doesn't do anything.

![image](https://user-images.githubusercontent.com/6567747/81101951-28340280-8f0f-11ea-847b-85301e046281.png)

[2020-05-05 18:45] cm7695 commented on #5741
Hello,

it doesn't matter which lens you choose. Choose simply a lensfun profile with CA correction. Then it is enabled.
If you choose an LCP file (with CA correction), CA correction is still disabled.
I think iit's a problem with the CR2 generated by 5d IV. With the Raw files from 5d II everything works fine.

![error_description_1](https://user-images.githubusercontent.com/22102973/81103472-9cb3

[2020-05-05 20:18] Thanatomanic commented on #5741
@cm7695 In your first case, you load a separate LCP file. How sure are you that this file contains information for CA correction?

It is definitely not an issue of of the file created by your camera. These are _lens_ profiles.

[2020-05-06 04:15] cm7695 commented on #5741
Hello Thanatomanic,

the lcp profile for the 85 mm lens is one with CA correction. By the way you can choose another lcp profile, for which you are sure, that it contains CA.

I think it is an issue how RawTherapee decides, that CA is applicable. Focus Distance (upper and lower) is available.

Another example: For the file https://www.dpreview.com/sample-galleries/5682971467/nikon-d850-sample-gall