[2017-09-25 08:19] agriggio commented on #4074
@Beep6581 your info is good, thanks! I'll have a look asap

[2017-09-25 08:23] agriggio commented on #4074
@Beep6581 can you try this patch?

[code]

[2017-09-25 09:47] Beep6581 commented on #4074
@agriggio tested without setting `-DLENSFUNDBDIR` during compilation, it works! Now lensfun in RT works out of the box on a "clean" system.

If you confirm, I will update RawPedia with the following:
- Lensfun is required as of 5.3.
- To use the system lensfun DB, do not set `-DLENSFUNDBDIR`
- To use a custom lensfun DB, set `-DLENSFUNDBDIR=/absolute/path/to/lensfun` @agriggio is a relative path a

[2017-09-25 10:09] agriggio commented on #4074
@Beep6581 great, I've just pushed the patch. Regarding your last question, `LENSFUNDBDIR` can be relative; in that case:

- if ` BUILD_BUNDLE` is set, it is relative to the bundle top directory
- otherwise, it is relative to `DATADIR`, i.e. `"${CMAKE_INSTALL_PREFIX}/share/rawtherapee"`

However, I suggest to use a relative `LENSFUNDBDIR` only when building bundles

[2017-09-25 11:04] heckflosse commented on #4102
@olhof

This happens if you clear the profile of a file in filebrowser while the file is opened in editor.

[2017-09-25 12:47] gaaned92 commented on #4074
@agriggio
With 5.3-RC1 patched, using a relative path for DB, I notice that when the lensfun paragraph in option file is absent, the lensfun path is filled with an absolute path.
So when you install a new version it cannot work.(e.g. 5.3 after 5.3-RC1)
 a relative path or empty field seems mandatory with bundle builds.

@Beep6581 I think you should differentiate bundle builds and unbundle builds (

[2017-09-25 14:59] sguyader commented on #4074
I just compiled lenfun from source on Windows (in MSYS2). Interestingly, it installed the database in C:/ProgramData/lensfun/version_1. Which means that it becomes a somewhat system-wide install of the database, even if the dll's are installed in /mingw64/bin.
I'm building an RT bundle right now, trying to get this up-to-date lensfun binary/database included in the installer.

[2017-09-25 15:27] agriggio commented on #4074
Oh, ok, now I think I understand. I'll work on a fix.

I'll go for a relative path in `options` when building a bundle.

[2017-09-25 15:28] Partha1b commented on #4074
@agriggio I agree with @gaaned92 . I don't see how this can work if you are creating a build for deployment. My suggestion is to either create an environment variable for the lensfun database, or default it to expath/share/lensfun/version_1

[2017-09-25 15:30] agriggio commented on #4074
@Partha1b isn't that what I just wrote above? :wink:

[2017-09-25 15:41] gaaned92 commented on #4074
@sguyader what did you built? How you know DB is up to date?Is it version1 or version 2 data?
At build time you can change DB location with -DDATAROOTDIR =what/you/want.

[2017-09-25 15:49] olhof commented on #4102
Hi' Ingo

Thank you for your response. Very interesting.....

How can you tell in the File Browser which photo is open in the Editor?

And what do you think about my observation about the fixed default profile
versus the dynamic default profile?

[2017-09-25 15:52] gaaned92 commented on #4074
@Partha1b  @agriggio
On windows, one of lensfun path search is %localappdata%lensfun.
If I put DB in %appdata%lensfun/version_1 it is not found.
It is why I think it's better to put DB directly in expath/share/lensfun.

@agriggio relative path : yes thank you

[2017-09-25 15:53] Partha1b commented on #4074
@agriggio Ahh, OK if by relative path you mean absolute path relative to expath. 😄

[2017-09-25 15:55] heckflosse opened #4103 "Improve start time of rawtherapee when Dark-frames and Flat-fileds directories are set at default (windows)"
In a fresh installed rt on windows the darkframe and flatfield folders are set to the folder of the rawtherapee.exe. This folder also contains a lot of dll files and so on.

At start of rt, the flatfieldmanager and the darkframe manager scan this folder to look for valid raw files.
This needs some time (185 ms when the folder is on SSD on my machine).

A lot of users will not change this folders i

[2017-09-25 15:57] agriggio commented on #4074
@Partha1b yes that's what I meant :smile:

@gaaned92 yes, `version_1` is **not** added automatically. The database is searched in exactly the directory you specify.

Anyway, can you please try this patch? (remember to delete the `options` file first). If everything works as expected, the entry in `options` should be a relative dir, and if `BUILD_BUNDLE` is true, this will be interpreted relative t

[2017-09-25 16:06] agriggio commented on #4102
@olhof the problem is exactly what @heckflosse described. If you clear the profile of an image that is open in the editor, when closing RT (or when switching to another image in the editor) then a neutral profile is saved for that picture. This is why you see that no dynamic profile is applied. I agree that this is a weird behaviour and it should be fixed (thaks for reporting, indeed!). Not sure t

[2017-09-25 16:12] sguyader commented on #4074
@gaaned92 un order to build lensfun from got source, I pretty much followed the instructions at http://lensfun.sourceforge.net/development/

From the binary install in MSYS2, I get an old database from 2015, which doesn't support my camera (Fuji X-T2) and only partially supports my lenses. The database provided after source compilation actually supports my camera and provides full support of my le

[2017-09-25 16:18] Beep6581 commented on #4102
The part not involving dynamic profiles sounds like a duplicate of #2857

[2017-09-25 16:20] Beep6581 commented on #4102
@olhof when you reply via email, your full name and phone number are exposed. I edited your post and removed them, but consider that for the future.

[2017-09-25 16:26] Beep6581 commented on #4074
@agriggio the latest patch still works fine here when I test using the cmake parameters I pasted above - `-DBUILD_BUNDLE="ON"` and no `-DLENSFUNDBDIR`.

[2017-09-25 16:38] sguyader commented on #4074
@gaaned92 one more note, despite the database folder being named "version_1", when I look at the xml files within they have a `<lensdatabase version="2">` header which is not there in the older version installed from pacman in MSYS.
Edit: the timestamp.txt file says "1506164944".

[2017-09-25 17:22] sguyader commented on #4074
So here's how I managed to compile lensfun in MSYS2:

1. Uninstalling the previously installed version lensfun from pacman:
[code]
(I had to use the `-Rdd` switch because the I have `mingw-w64-x86_64-gimp `installed in this environment, which requires `mingw-w64-x86_64-gegl`, which in turn requires `mingw-w64-x86_64-lensfun`.)
2. Cloning the lensfun code repo:
[code]
3. Setup and compilation:
[cod

[2017-09-25 17:42] Partha1b commented on #4074
@sguyader The way lensfun creates the location of the database folder is as follows:
main_dirname = g_build_filename (CONF_DATADIR, DATABASE_SUBDIR, NULL);

The CONF_DATADIR is set to share/lensfun and DATABASE_SUBDIR is set to "version_${LENSFUN_DB_VERSION}" and finally in the CMakeLists.txt, LENSFUN_DB_VERSION is set to 1.

So, it's not relevant what's in the xml file itself but how lenfuns loca

[2017-09-25 18:18] Kakupakat opened #4104 "Visibility of Profile Names"
The "Dynamic Profiles Rules" tool introduced by @agriggio is great and works fine. Unfortunately it gives no feedback that it did actually work. In the processing profiles dropdown you won't see the name of the profile it loaded. Instead it says "(Last saved)." Which I don't think is correct anyway. Last saved? I just opened RT and have never touched this raw image before...
So, to make sure the c

[2017-09-25 18:34] gaaned92 commented on #4074
@sguyader Thank you. I did the same (it was documented in the lensfun PR). I thought you got a stable release. Instead of you I installed lensfun in a specific installdir and not in MSYS2.
-DCMAKE_INSTALL_PREFIX=/my/own/installdir/
Then in RT build, before calling CMAKE I append the path
PKG_CONFIG_PATH="/my/own/path/lib/pkgconfig:"$PKG_CONFIG_PATH

Those version-2 are not compatible with the old

[2017-09-25 20:22] Oliquae opened #4105 "Allow user to choose Filmstrip placement"
**RT Version :** RawTherapee 5.2
**arch** : any
**steps** : Opening picture via the editor mode
**raw file** : no need since it's about UI
**screenshot : **

![image](https://user-images.githubusercontent.com/6728594/30828824-2b864e58-a23f-11e7-9781-fb157d091921.png)

The pellicule cannot be on the bottom of the screen. I find this aspect actually oppressive because they are many elements on the t

[2017-09-25 20:56] gaaned92 commented on #4074
@agriggio  patch is ok. permits to execute different builds with own lensfun DB

[2017-09-25 21:36] iliasg commented on #3988
camconst.json update attached
Includes support for
Fujifilm X-A10 (modification of dcraw.cc is still needed)
Nikon D850,
Olympus E-M10 Mark III,
Panasonic FZ80-81-82-83, TZ90-91-92-93-ZS70
Sony RX10IV,
Color matrix for Olympus E-M1II changed to final instead of beta
some small corrections here and there ..
[camconst26092017.zip](https://github.com/Beep6581/RawTherapee/files/1331017/camconst2609201

[2017-09-25 21:40] iliasg commented on #4004
TZ91 camconst.json item is ready https://github.com/Beep6581/RawTherapee/issues/3988#issuecomment-332020846

[2017-09-25 21:46] Hombre57 commented on #4008
@Beep6581 @heckflosse @Floessie I'm in the testing phase. My branch doesn't save correctly the special chars for IPTC data (i.e. "éàêç" etc), but I guess it's there in `dev` too. There's a function named `iptc_data_set_encoding_utf8` that could help for UTF-8 support I guess. Is there any reason why we don't use it yet ?

[2017-09-25 21:58] heckflosse commented on #4008
@Hombre57 I might be able to speedup the function you mentioned, but I've no idea what it does at all ;-)

[2017-09-26 00:05] TooWaBoo commented on #3949
New update of msys2 has fixed this issue.

[2017-09-26 00:05] #3949 closed, assigned to nobody

[2017-09-26 04:54] Benitoite commented on #4074
@agriggio In trying to get a bundled lensfun database on a macOS build... no success in the release candidate as is...so I'm testing the dev branch at this point, since testing my 5.3-rc1 bundle didn't show any cameras or lenses on my clean machine.
Works fine on my build machine, with the data in `/opt/local/share/lensfun`, but on a clean machine I haven't gotten the data in the right place to be

[2017-09-26 05:59] agriggio commented on #4074
Yes, exactly. Sorry if that was unclear. to be more precise:

[code]

[2017-09-26 06:02] Benitoite commented on #4074
Ok. I still had the `version_1` folder in there. Let me try again.

[2017-09-26 06:03] Benitoite commented on #4074
@agriggio Another thing I'm thinking is for mac the executable binary is in a subfolder of the bundle package, so should I set `-DLENSFUNDBDIR="../share/lensfun"` instead of `-DLENSFUNDBDIR="./share/lensfun"`

[2017-09-26 06:09] agriggio commented on #4074
@Benitoite I don't know for sure, but if you run with verbosity on you should see the (absolute) directory searched printed on stdout. hopefully with that you should be able to set the right default (and maybe document the process on rawpedia...)

[2017-09-26 06:34] Floessie commented on #4008
@Hombre57 If I read the [documentation](http://libiptcdata.sourceforge.net/docs/iptc-i18n.html) correctly, [`iptc-data-set-encoding-utf8`](http://libiptcdata.sourceforge.net/docs/libiptcdata-data.html#iptc-data-set-encoding-utf8) kind of tags the data you provided as being encoded in UTF-8. Have you checked (with a hex editor) that this really is the case? Only then it would indeed make sense to g

[2017-09-26 06:39] Benitoite commented on #4074
@agriggio Thanks, I was successful with the double-dot.  Here's what I had to do to the macosx_bundle.sh: https://github.com/Beep6581/RawTherapee/pull/4107

[2017-09-26 06:49] Floessie commented on #4103
@heckflosse Good idea! 👍 We have a `getFileExtension()` in `rtengine/util.h`. Could be handy here. An `insert(std::pair< std::string, ffInfo>(key, n) )` should nowadays be written as `emplace(key, n)` (if the types fit).

HTH,
Flössie

[2017-09-26 07:12] Floessie commented on #4008
@Beep6581 Sorry for this dumb question, but how is saving IPTC data supposed to work? I edited a JPG and set some IPTC fields. Then i invoked "Save immediately" to a new JPG. Tested with `exiv2 -p i`: No IPTC. Read [RawPedia](http://rawpedia.rawtherapee.com/IPTC_Tab), tried the "Reset" button, saved again to a new JPG, no IPTC, no clue. 😕

What am I missing?

[2017-09-26 08:11] Beep6581 commented on #4008
There are bigger problems than just special chars. For one, we use libiptcdata which has been dead since 2009 which prevents us from updating RT's IPTC implementation to IPTC Core 1.2. See #3581.
For another, IPTC itself while still being used is made obsolete by XMP. I may be wrong, but I see it as being maintained on life-support.
https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMe

[2017-09-26 08:18] Beep6581 commented on #3988
I would like to merge this ASAP to increase the chance of it getting tested before the release, but "Fujifilm X-A10 (modification of dcraw.cc is still needed)" - @heckflosse dcraw is not my territory, could you take it?

[2017-09-26 08:20] Beep6581 commented on #4004
@Hombre57 apologies, I didn't see your question. It would only make sense uploading a sample of a different crop size so that we can confirm that it's otherwise identical.
Have you had an opportunity to take the color target shots in daylight and tungsten?

[2017-09-26 08:46] Floessie commented on #4008
@Beep6581 That's it. 👍 We talked about `libexiv2` integration, I know it's high on your agenda, but that's going to be a big endeavor which I cannot accomplish with my "drive-by" coding ATM. 😞

@Hombre57 I can confirm, that all fields are written in UTF-8. Only the "Category" is odd in just accepting 3 codepoints but writing out exactly 3 bytes, thus truncating UTF-8 encoded codepoints.

[2017-09-26 11:05] Desmis commented on #3866
I just update branch "autowblocal" :)

I simplified the use that now could be useable.

The new features in terms of automatic white balance are grouped in the menu "White Balance"
I added experimentally a function "CAT02" chromatic adaptation.

The "Iterate temperature correlation" method required a lot of work, but the results are not satisfactory. The code is present, but not usable.

Local whi

[2017-09-26 11:37] heckflosse commented on #3988
@Beep6581 I will push the dcraw.cc changes to dev asap

[2017-09-26 11:57] #3988 closed, assigned to nobody

[2017-09-26 11:58] Beep6581 commented on #3988
Thank you,
dcraw changes committed in ab07f62d, camconst changes committed in 172cbc1c.

Please open a new issue when there are new updates.

[2017-09-26 12:06] heckflosse commented on #4103
@Floessie Thanks for the review. I updated the patch in first post

[2017-09-26 12:17] Beep6581 commented on #3989
Latest updates and fixes from `dev` merged into `release-5.3-rc1`
There will be at least one more update with some DCPs tomorrow.

[2017-09-26 14:58] olhof commented on #4102
Thank you for comments and explanations

You are all absolutely correct. The apparently random behaviour of clear profile was caused by the photo being open in the Editor in some cases and not in other cases while clearing the profile.

I was not aware that a photo could be open in the Editor after having switched to the File Browser. My normal editing process is to open the File Browser, select a

[2017-09-26 15:04] Benitoite commented on #4074
@agriggio Zounds! My repackage was not successful on my clean machine... I believe the single dot is correct because its relative to the mac packages Resources directory.
So for mac too we would need to add `-DLENSFUNDBDIR="./share/lensfun"` to our cmake command to bundle.

[2017-09-26 15:37] olhof commented on #4104
This is a very good idea. I made a special very "dark" profile while setting up the rules for selection of the dynamic profile so it was apparent if it worked as intended or not. When I was satisfied that it worked as intended I changed the profile in the rules. But this is not as elegant as your solution.....

[2017-09-26 16:41] agriggio commented on #4104
the problem is that in general dynamic rules apply multiple partial profiles in sequence. that was the typical use case I had in mind when I implemented this, and in fact I typically have 5-6 partial profiles that get applied for each shot. in this case, there's no single name to display.
but I agree that having some form of feedback would be nice...

[2017-09-26 17:15] Kakupakat commented on #4104
Ok, I think it is a rather complicated way of doing things, especially for your average user, but it is certainly valid and it gives you a lot of control.
Since "there's no single name to display," why not display all of them? This could be done in a separate information widget or maybe in the history. Now it only says "Photo loaded - (Last saved)" in the history. Could you possibly list all the a

[2017-09-26 17:34] sguyader commented on #3989
I made a Windows 64 build from the `release-5.3-rc1` branch (the bundle includes the lensfun database).
Download link and discussion here: https://discuss.pixls.us/t/win64-rawtherapee-5-3-release-candidate-1-for-testing/5194

[2017-09-26 18:01] heckflosse opened #4108 "Applying Auto white balance to large files in file browser leads to wrong results"
To reproduce:

1) download the iiq file from [here](http://www.imaging-resource.com/PRODS/phase-one-xf-100mp/XF100FAR200050.IIQ.HTM)
2) Don't open it in rt editor
3) Apply auto white balance in file browser (batch edit) to the file

result:
![wb_wrong](https://user-images.githubusercontent.com/13733487/30875743-c8c53c6e-a2f4-11e7-8972-c0dc7eb15ee8.png)

4) Apply the attached patch
5) start rt
6) c

[2017-09-26 18:57] Beep6581 commented on #4108
Works fine here on my normal test files.

[2017-09-26 18:59] #4108 closed, assigned to heckflosse

[2017-09-26 20:35] Hombre57 commented on #4004
@iliasg Thanks a lot !

@Beep6581 Yes, it's here : https://filebin.net/p7djduzb77eo8zi5, there are 1 for daylight and 2 for tungsten can't choose.

[2017-09-26 20:53] Hombre57 commented on #4102
@olhof Beware : "Fast Export (low quality and bypasses some tools but fast saving - don't use this for typical saving!)" / from [Rawpedia](http://rawpedia.rawtherapee.com/Getting_Started) (however a little bit hidden below the image on the right...)

You should put you image to queue the classical way instead of using fast export for final images.

[2017-09-26 20:57] agriggio commented on #4104
@Kakupakat thanks for the suggestion, I'll have to think about how feasible that is. The "information widget" might be a reasonable way to go.

[2017-09-26 22:47] heckflosse commented on #4108
Short explanation about the reason for this bug:

Try this code:

[code]

Which output do you expect?

[2017-09-27 05:55] Floessie commented on #4108
@heckflosse Okay, I take the challenge: To store `100000000` one needs at least 27 bits, but a `float` only has a mantissa of 23 bits, thus `100000000` cannot be exactly represented. 😃

[2017-09-27 06:29] agriggio commented on #4108
I think it's rather the intermediate computations that lose precision, 100000000 should still fit in a float precisely. but I could be wrong, I'm going by hand and floats are tricky :-)

[2017-09-27 09:27] gaaned92 commented on #3866
@Desmis
1- you created a few branches, some related to local adjustment. Could you list what branches are alive and what branches are dead (and perhaps delete them)
2- building autowblocal, I get some compilation warnings:
GCC 7.2.0, debug

[code]

[code]

[code]

[code]
[code]

[code]

[2017-09-27 09:51] Desmis commented on #3866
@gaaned92
I just delete all "old branches" :)

This branch is enormously under development, white balance is something complex, in fact a mathematical problem theoretically insoluble.

Moreover, the "local" part is awaiting validated solutions on the branch "newlocallab"

It is "normal" to see appear "compilations warning" due to several things

jacques

[2017-09-27 13:44] heckflosse commented on #4108
The result is `16777216` because `16777216.f == 16777216.f + 1.f` is true

[2017-09-27 14:04] Floessie commented on #4108
So one should not count higher than 2^mantissa_bits with floating point numbers. Good to know. 👍

[2017-09-27 21:08] heckflosse opened #4109 "Speedup for initial thumb creation from raw files"
When you open a raw file the first time in editor, or when you apply a processing profile to a thumb in file browser to a file which has no pp3, or when you cleared the cache for a file.....

... then rt calculates the auto white balance factors and the auto exposure factors fort the tumb from the raw file.

Currently it runs through the whole raw twice (once to calculate auto white balance factor

[2017-09-28 13:19] heckflosse opened #4110 "O(n²) when using clear from cache in file browser"
This patch fixes it:

[code]

[2017-09-28 14:34] #4110 closed, assigned to heckflosse

[2017-09-28 21:17] Hombre57 commented on #4069
This is a duplicate of #2857.

[2017-09-28 21:18] Beep6581 opened #4111 "Some lenses in the Lensfun combo cause markup warnings"
Select the very first lens profile: `AEE SD19 & Compatibles`
The console shows:
[code]

[2017-09-28 21:26] agriggio commented on #4111
hmmm, we should probably escape the strings. sorry, I had no idea that markup was active by default...

[2017-09-28 21:30] Beep6581 commented on #4111
@agriggio we're on IRC right now

[2017-09-28 21:33] heckflosse commented on #4111
hmm, the text is set correctly nevertheless

[2017-09-28 21:38] Beep6581 opened #4112 "Canon EOS 1300D dual-illuminant DCP"
[code]

[2017-09-28 21:38] Hombre57 commented on #4015
I guess you hit "Close and comment", which closed the issue ?

What kind of workflow would require such enormous thumbnails ? 800px is already a comfortable size for thumbnails, even on a 4k monitor. If you want big thumbnails for reviewing images, you should use the Inspector tool instead (though it would show the embedded full size image only), and raise the cache number in "Preferences / Perfor

[2017-09-28 21:42] agriggio commented on #4111
sorry, I'm away from home (with only a phone) until sunday evening...

[2017-09-28 21:48] Beep6581 opened #4113 "Canon EOS 60D dual-illuminant DCP"
[code]

[2017-09-28 21:54] Beep6581 opened #4114 "Canon EOS 6D Mark II dual-illuminant DCP"
[code]

[2017-09-28 21:55] heckflosse commented on #4111
I don't see that as an urgent issue, because the text is set correctly and it's just a warning in console.
So from my side, no need to hurry

[2017-09-28 21:58] Beep6581 opened #4115 "Panasonic DC-TZ91 dual-illuminant DCP"
[code]

[2017-09-28 22:00] Beep6581 commented on #4111
Yeah, enjoy your weekend :]

[2017-09-28 22:03] #4112 closed, assigned to Beep6581

[2017-09-28 22:04] #4113 closed, assigned to Beep6581

[2017-09-28 22:05] #4114 closed, assigned to Beep6581

[2017-09-28 22:05] #4115 closed, assigned to Beep6581

[2017-09-29 07:40] Beep6581 commented on #3989
I will tag 5.3 in a few hours, if anyone has any requests now is the time.

[2017-09-29 09:15] Floessie commented on #4111
@Beep6581 @agriggio Markup isn't active in `lensfunCameras`, but in the history panel. Here's a patch:

[code]

Don't know if it's too late for 5.3, but maybe you should consider including it.

HTH,
Flössie

[2017-09-29 10:03] Floessie commented on #3545
JFYI: The `Gtk-CRITICAL **: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar` warning is not present when using @TooWaBoo's themes.

[2017-09-29 10:11] agriggio commented on #4111
@Floessie great, thanks! :+1:

[2017-09-29 10:11] agriggio commented on #4111
go ahead and push for me, I'm away from my laptop...

[2017-09-29 10:14] Floessie commented on #4111
I'm not at my main machine, either.

@Beep6581 Please test and eventually push. Thanks!

[2017-09-29 10:36] Beep6581 commented on #4111
I'll handle it. Compiling.

[2017-09-29 10:47] Beep6581 commented on #4111
Fix confirmed. Committed into `release-5.3-rc1`, will be merged into dev after the release.

Are you aware that the warning icon is a bit large? I kinda like it though :)
https://i.imgur.com/uIzIpKP.jpg

[2017-09-29 10:47] #4111 closed, assigned to nobody

[2017-09-29 10:54] agriggio commented on #4111
whoa that's huge :-) definitely not what I see here... I didn't actually specify the precise size, but just the usage intent. I guess it's up to the theme to decide what to use...

[2017-09-29 12:05] falket opened #4116 "Raw CA correction created an artifact"
Version: 5.2-158-gc465655
Branch: dev
Commit: c465655
Commit date: 2017-09-13
Compiler: cc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -DNDEBUG
Link flags:  -march=native
OpenMP suppo

[2017-09-29 12:13] TooWaBoo commented on #3545
@Floessie
I'm setting min-width and min-height of the scrollbar and I guess the underlaying Adwaita theme does not.

[2017-09-29 13:02] iliasg opened #4117 "5.3-rc1 release build crashes when `verbose=true`"
With my Win10-64 (Greek Language)
`RawTherapee release-5.3-rc1 5.3-rc1-12-gea093454` crashes when I try to activate console (setting "verbose=true" in options file.
Same happens with `RawTherapee dev 5.2-187-ga1f86bff`
Earlier versions i.e `RawTherapee dev 5.2-110-g099e6e9f` or 5.2-113 do not crash  .. but refuse to activate console (nothing happens with verbose=true)

[2017-09-29 13:19] iliasg commented on #3989
Sorry for not opening a new issue .. Just a small request (I hope ..) .. because the code for X-A10 in dcraw.cc https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L9063 failed to do the job
[code]
I think we have to add
[code]

[2017-09-29 13:22] sguyader opened #4118 "Thumbnails not correctly rendered from 32 bits FP TIFF images"
I saved an HDR image from bracketed shots in LuminanceHDR (output as 32 bits per sample, floating point), to further process it in RT.
In RT's film strip or file Browser, the thumbnail of the HDR file is always much darker than the file opened in the Editor.
See screenshot below: TIFF opened in Editor, corresponding thumbnail in the strip above, 5th starting from the left.
![screenshot_2017-09-29_

[2017-09-29 13:25] Benitoite commented on #4117
Seems to crash my macintosh as well, perhaps a problem in the "lens profile panel".
[code]

[2017-09-29 13:44] Beep6581 commented on #4117
@iliasg @Benitoite  Please try
[code]

Make sure you're on commit 930394ff , then test again.

[2017-09-29 13:47] Beep6581 commented on #4118
IIRC the files from LHDR lack ICC profiles.Try assigning RT_sRGB as the input profile and see if that helps.

[2017-09-29 13:58] Beep6581 commented on #4116
Confirmed, but it's not related to AutoCA, it happens with manual raw CA correction as well.

[2017-09-29 13:59] Beep6581 commented on #3989
Sorry, I'm not touching dcraw code just before a release, and Ingo is on the road.

[2017-09-29 14:36] sguyader commented on #4118
Indeed it's a matter of input profile. By default RT opens the file with "Use embedded, if possible" as input profile. If I set the input profile to either "No profile" or "Custom", then the thumbnail reflects what is seen in the Editor view.

[2017-09-29 15:26] Benitoite commented on #4117
@Beep6581 5.3-rc1-21-g930394ff debug build does not crash, release build does.

[2017-09-29 15:34] gaaned92 commented on #4117
Windows10: 5.3-rc1-21-g930394ff release build with greek langage doesn't crash here.
Available at [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-09-29 15:52] Beep6581 commented on #4117
@Benitoite could you post the stack backtrace of the crashing release 930394ff build? Please make sure it's commit 930394ff (the stack backtrace above had no commit version).

[2017-09-29 16:26] Benitoite commented on #4117
@Beep6581    This is the macOS report from the crashed release build @ https://github.com/Beep6581/RawTherapee/commit/930394ffe84eb828afbe90b6f8a19dbf0d43da9b, up to just the first crashed thread.  I know how to get a stack backtrace from lldb using the debug build, but I couldn't get debug to crash using the Verbose=true option.  Running release thru lldb didn't crash either.

[code]

[2017-09-29 16:28] Floessie commented on #4117
@Benitoite Could you test this patch?

[code]

[2017-09-29 16:44] iliasg commented on #4117
I am not able to build RT for the last 3-4 months (not that I tried hardly ..)
With gaaned92's build that I tried,
- the same immediate crash occurs with release build "this application requested the Runtime to  terminate in an unusual way"
- the debug build opens console and reports the camconst.json and lensfun database items .. then crashes without any message

I mentioned the language of my PC

[2017-09-29 16:57] Benitoite commented on #4117
@Floessie Patch works for me, RT release build does not crash with Verbose=true.

@iliasg Eλληνικά δεν είναι ξένos, ναι;

[2017-09-29 17:20] Beep6581 commented on #4117
If @gaaned92 could make a patched build for @iliasg  to try and if that build works fine, then I could release 5.3 tomorrow. Otherwise we leave it until mid October.

[2017-09-29 17:21] Floessie commented on #4117
@Benitoite Glad to hear that!

@Beep6581 Feel free to commit, I'm AFK now.

@iliasg That was my thought on it, too. There's something with those lensfun strings, that Windows (and Mac, obviously) locale conversion chokes on.

@agriggio We should consider keeping those lists (maps/sets) as `std::string`s instead of `Glib::ustring`s for 5.4. That would prevent unwanted locale conversions by design.

[2017-09-29 19:04] gaaned92 commented on #4117
@iliasg new patched version available in about 15 mn
sorry, patch doen't apply on releases-5.3-RC1
Going to apply manually!
RawTherapee_release-5.3-rc1_5.3-rc1-21-g930394ff_WinVista_64.zip patched and uploaded

Question to dev : why it doesn't crash on my machine, even if I use greek in RT? Is it a system wide issue due to the used langage?

@Benitoite created a PR. How I can apply it locally?

[2017-09-29 20:39] Hombre57 commented on #3545
@TooWaBoo Feel free to fix the bug in RawTherapee's theme, you're the one who knows.

[2017-09-29 21:29] agriggio commented on #4117
@Floessie I agree. I just keep forgetting about unicode --- a huge headache for me :-)
@gaaned92 I think the crash might depend on the specific locale and encoding used -- maybe also on some library version. I was assuming that in case of conversion failure you would get at most "garbage" chars, but apparently in some cases you get crashes. unfortunately, I don't have a Windows machine to test

[2017-09-29 21:59] iliasg commented on #4117
@Benitoite

!! Χμμ .. ναι .. μάλλον .. τι ακριβώς εννοείτε ? ;)

@gaaned92 Thanks for the build

@Beep6581
This last build does not crash, but still the console window is not active/visible :( just like with RawTherapee dev 5.2-110-g099e6e9f .

[2017-09-29 21:59] Benitoite commented on #4117
@gaaned92 `git pull origin pull/4119/head` or you can just checkout the commit number (hash).

@iliasg As Νόαμ Τσόμσκι once said, «Άχρωμο πράσινο ιδέες κοιμούνται με τρόπο εξοργιστικά.»

[2017-09-29 22:22] heckflosse commented on #4116
The blueish region is also visible without raw ca-correction.
Take a look at the following screenshot where I disabled raw ca-correction and set demosaic to `none`

<a href="http://i.imgur.com/rvq3B8y.png">
  <img src="http://imgur.com/rvq3B8yl.png" />
</a>

Ingo

Edit: I edited the my post

[2017-09-29 22:39] heckflosse commented on #4116
Edit: scratch my post. I should not write after driving several hours...

[2017-09-29 23:13] heckflosse commented on #4116
Ok, next try: The artifacts clearly not depend on the dead pixels.
How can I know that? I tested this patch on your file. This perfectly corrects all bad pixel in the chdk file. Even then the raw ca-correction, which is processed after the dead-pixel correction, fails in that region.

[code]

This means:

1 ) as my patch can not be applied as is, but perfectly corrects the bad pixels on chdk files

[2017-09-30 06:36] gaaned92 commented on #4117
@iliasg
version 5.3-rc1-25-g2b736625 including @Benitoite  PR  will be available in a few minutes at
[https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

Perhaps we can try to help. With MSYS2 it should work

[2017-09-30 07:40] TooWaBoo commented on #3545
@Hombre57
fixed :-)

[2017-09-30 08:13] falket commented on #4116
Thank you for investigation and for the patch.

To correct bad pixel i used Hot/dead and worked. Anyway CHDK has also a way to create an older version of DNGs (iirc 1.1) but this only after creating a badpixel.bin (within the camera) file that contains the positions of wrong pixels. For the camera, this badpixel mapping as far as i remember makes saving files a bit slower. Link: http://chdk.wikia.

[2017-09-30 08:54] Floessie commented on #3545
@TooWaBoo Thanks a lot! This bugged me since the RT5 release.

I get the impression 5.3 will be the best RT so far. 👍

[2017-09-30 09:09] Floessie commented on #4117
@agriggio

For me, too, I must admit... Some things are clear to me, but the bug vector is surprisingly broad.

@iliasg I thought about the problem again: It's not so much related to the `std::regex` problem in #4056, but more to the `Glib::ustring::compose()` problem in [#4047](https://github.com/Beep6581/RawTherapee/issues/4074#issuecomment-329381789).

@Benitoite Thanks for the patch integratio

[2017-09-30 09:13] TooWaBoo commented on #3545
@Floessie, my pleasure. :-)

[2017-09-30 10:44] #3545 closed

[2017-09-30 13:41] #4117 closed, assigned to nobody

[2017-09-30 13:46] Beep6581 commented on #4117
Please test branch `release-5.3-rc1` commit 2dbd3074 @iliasg @gaaned92 @Benitoite

[2017-09-30 15:07] iliasg commented on #4117
@gaaned92 Thanks for the new build
@Beep6581 Tested `RawTherapee release-5.3-rc1 5.3-rc1-27-g2dbd3074` .. same behavior as before .. RT does not crash but the console is not activated :(
Is there any chance that antivirus programs block the console window ? I have ESET and winDefender active sometimes .. already tested with deactivating ESET with no change .

[2017-09-30 15:32] heckflosse commented on #4117
@iliasg wasn't there a change (by @Hombre57) to activate console only in debug builds? I may be wrong

[2017-09-30 15:34] Beep6581 commented on #4117
Not that I know of.

[2017-09-30 15:36] Beep6581 commented on #3989
As far as I know all issues are resolved, so I will tag 5.3 in an hour or two.

[2017-09-30 16:46] iliasg commented on #4117
@heckflosse  https://github.com/Beep6581/RawTherapee/issues/3982
Ingo, you are right .. just found https://github.com/Beep6581/RawTherapee/issues/3982 .. it's still open ;)
So for now, if we want console .. we have to start from console :) .. it's a small trouble .. but nothing to worry about .. no reason to delay 5.3 release ;)

[2017-09-30 17:00] Benitoite commented on #4117
@Beep6581 RawTherapee_OSX_10.9_64_5.3-rc1-27-g2dbd3074 working normally.

[2017-09-30 17:49] Beep6581 commented on #4117
:+1:

[2017-09-30 19:49] Beep6581 opened #4121 "Need Windows and macOS builds of RT5.3"
Urgently need Windows and macOS builds!
@Benitoite @sguyader @gaaned92

[2017-09-30 19:51] Beep6581 commented on #3989
RawTherapee 5.3 is released!

[2017-09-30 19:51] #3989 closed, assigned to Beep6581

[2017-09-30 21:57] gaaned92 commented on #4121
Windows64 installer for 5.3 uploaded at [https://filebin.net/wvqymsj23h7kflvw](https://filebin.net/wvqymsj23h7kflvw)

Do you want a Windows32 Installer?(Vista and above)

[2017-09-30 22:07] gaaned92 commented on #3933
@heckflosse  I believed it was commited. It will be commited in 5.4. Nevertheless, I included thatin my 5.3 build.

[2017-09-30 22:32] Beep6581 commented on #4121
Thank you @gaaned92 ! IIRC we dropped 32-bit support with 5.0, so just the 64-bit build is fine.

[2017-09-30 23:31] Beep6581 commented on #4074
I added two sections to the Linux article: `BUILD_BUNDLE` and `LENSFUNDBDIR`. Feel free to correct any mistakes.
http://rawpedia.rawtherapee.com/Linux#Compile_RawTherapee

[2017-09-30 23:31] #4074 closed, assigned to Beep6581

[2017-09-30 23:39] Beep6581 commented on #4042
Done.

Removed text:
[code]

[2017-09-30 23:39] #4042 closed, assigned to Beep6581

[2017-10-01 00:06] sguyader commented on #4121
I started to make a Windows build, but I left home before it was completed. If @gaaned92's build is fine, then you won't need mine.

[2017-10-01 00:13] Beep6581 commented on #4121
By the way, I announced the release 4 hours ago, and already 517 people have read the announcement, and it's 2AM!

[2017-10-01 02:34] Benitoite commented on #4121
@Beep6581 Here is a build for MacOS 10.9 and up.
https://filebin.net/jgppw63dgag4p92s/RawTherapee_OSX_10.9_64_5.3.zip

[2017-10-01 08:39] Beep6581 commented on #4121
Thank you!

[2017-10-01 08:39] #4121 closed, assigned to Beep6581

[2017-10-01 10:11] kertase opened #4122 "Colors are off in exported jpeg"
So I have noticed that colors in jpgs are totally off from what they should be. Exports to tiff and png are totally fine.
Pictures are a lot less saturated when exported to jpg
Here is a screenshot of the issue:
https://imgur.com/a/QtbaY

Rawtherapee verison info:
[code]

[2017-10-01 11:10] Beep6581 commented on #4122
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
Try to reproduce in the latest version (5.3) and if you think there is a problem then supply the raw + PP3 + JPG + TIFF + PNG. Double-check your color management settings.

[2017-10-01 11:13] mzuther opened #4123 "Sort HALD CLUT directories in film simulation list"
Hi!

In the film simulation drop down list, the subdirectories of my HALD CLUT directory seem to be listed in arbitrary order. As I have moved and renamed them to create a logic order, it would be nice if they were sorted alphabetically, instead.

Current contents of drop down list:

* BW - Polaroid
* BW - Agfa
* Color - Polaroid
* Color - Fuji
* BW - Ilford

After the change:

* BW - Agfa
* BW -

[2017-10-01 11:15] Beep6581 commented on #4123
Confirmed.

[2017-10-01 11:55] kertase commented on #4122
Didn’t notice the new version sorry,

Still have the issue:
[code]
Here are the test files:
https://filebin.net/0ibgp5qql5shkkyp

[2017-10-01 12:04] Beep6581 commented on #4122
The JPG and PNG are identical, no problem there. The images in your imgur screenshot from the first post show that you're comparing RawTherapee's preview to a JPEG file. It's not clear whether that JPEG file was saved by RawTherapee or was an out-of-camera JPEG. Neither of the images on that screenshot are anything like the JPG, TIFF, PNG or PP3 you just sent, which is already a red flag that the

[2017-10-01 12:16] #4122 closed, assigned to nobody

[2017-10-01 12:18] kertase commented on #4122
Sorry for wasting your time seems like the jpgs are displayed wrongly in most apps when the pngs are displayed correctly… Must be something with the color management as you said.

It seems to be because of the output profile being prophoto and that does not get displayed correctly in most programs for jpgs but it does get displayed correctly for tiff and png.

Thank you for your help.

[2017-10-01 13:41] StefanGyuzelev commented on #4116
RawTherapee-5.3
Version:
Branch:
Commit:
Commit date:
Compiler: cc 7.2.0
Processor: AMD\ FX(tm)-8300\ Eight-Core\ Processor
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.1
Lensfun: V0.3.2.0
Build type: Release
Build flags: -O3 -fPIC -march=bdver1 -pipe -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -DNDEBUG
L

[2017-10-01 16:34] heckflosse commented on #4116
@StefanGyuzelev
Can you please post a screenshot which shows where in you image the artifacts are? I can't find them.

[2017-10-01 16:55] SaturnusDJ opened #4124 "[5.3] Blurry image"
A few hours ago I upgraded from 5.0 R something to 5.3 stable on Win 10 64-bit (Commit: ec0f7936).
I don't using scaling on my computer.

When having an image open to work on, it's blurry now. When I open the same image in any other application it's clearly visible RawTherapee is blurry. Saving the image also proves that the RT preview is blurry, not the source or due to the process.

In 5.0 R1 th

[2017-10-01 17:12] SaturnusDJ opened #4125 "[5.3] Turn off window snapping + remember window position"
5.3 stable on Win 10 64-bit (Commit: ec0f793).

What I do is let RawTherapee fill my center monitor and then have the right panel with processing tools 'stick out onto my second monitor' so that the preview image takes as much space as it needs on the center monitor.
This window position is not being saved during sessions. When I restart there is space on the left and top of the RT window.

And wh

[2017-10-01 17:33] SaturnusDJ commented on #4124
Problem disappeared after reinstall (plus installing 5.2, 5.1 and 5.0 in different folders, just saying).

[2017-10-01 18:29] SaturnusDJ commented on #4124
It's back.

![5 0_5 3](https://user-images.githubusercontent.com/14320018/31057671-1add2a8e-a6e7-11e7-9d43-2520dfaf82de.png)

Top 5.0 R1. Bottom 5.3.

Edit:
Might have found it. The whole photo becomes blurry after enabling Auto-matched correction parameters in Profiled Lens Correction. (Remember, output/export is not blurry. 1:1 not blurry either.)

[2017-10-01 20:00] heckflosse commented on #4124
@SaturnusDJ Please don't crop screenshots. They lack information which might be useful for us. For example, we can't see which zoom level was used.

[2017-10-01 20:12] TooWaBoo commented on #4125
RT5.0 Gtk3.18 has used a nativ window. RT5.3 Gtk3.22 uses a none native window. This can't be changed 'cause it's Gtk related. Similar issues happens with other application which uses a none native window too.
RT doesn't have a window snapping feature, this is system related.

[2017-10-01 20:21] SaturnusDJ commented on #4125
It's outside the RT scope?

The snapping for sure isn't normal behaviour. Must be gtk then. Vertical snapping should not overlap the Windows taskbar.

[2017-10-01 20:23] SaturnusDJ commented on #4124
Both are on 25%.

[2017-10-01 20:25] TooWaBoo commented on #4125
The window has a shadow around the border which is also the resize handle part. The window is bigger as it looks like.

[2017-10-01 20:35] SaturnusDJ commented on #4125
Before:
![before](https://user-images.githubusercontent.com/14320018/31058721-a0654c5c-a6f8-11e7-8c32-538bc00cc77a.png)

After maximizing vertically:
![after](https://user-images.githubusercontent.com/14320018/31058725-a2f9ac42-a6f8-11e7-8eba-83ed1e1140da.png)

This time it drops below the task bar. Horizontal position even changes. Really not how it should be.

[2017-10-01 20:41] TooWaBoo commented on #4125
I know this behaviour when another application (e.g. Potplayer) with a non native window is running at the same time. It's a Gtk and/or Windows 10 issue.

[2017-10-02 01:38] definitelyhuman opened #4126 "Exported JPEG does not match editor version"
Saw the version release on HN (https://news.ycombinator.com/item?id=15380299), downloaded from that link.
Raw Therapee: Version: 5.3 Branch: 5.3 Commit: ec0f7936
Host: 2016 MBP 2.6ghz i7 16gb Radeon Pro 450 2gb/Intel 530 1.5gb OS X 10.12.6

I am a newb to RT, and my strategy was to open a file and smash settings all over the place, then save then save the result. While the settings were not delibe

[2017-10-02 05:00] StefanGyuzelev commented on #4116
At the bottom of the photo blue-purple artifacts.
https://drive.google.com/file/d/0Bwd1yqYI35MoX1FEdkNJTWI2dEE/view?usp=sharing

[2017-10-02 05:17] anilgulecha commented on #4021
@devs, Any thoughts on this?

[2017-10-02 05:50] #4123 closed, assigned to nobody

[2017-10-02 13:09] gaaned92 commented on #4126
@definitelyhuman What you are looking at is the undemosaiced image (raw pattern). I really dont know what happens when you output a jpg inthat situation.
You have to choose a demosaicer. here it is Amaze
![screen-2017-10-02_14-52-10](https://user-images.githubusercontent.com/13785581/31078394-3f94b374-a782-11e7-929d-8ed604905830.jpg)

Once here, you can adjust the image to your taste. Then generat

[2017-10-02 19:40] StefanGyuzelev opened #4127 "Free memory problem"
RawTherapee-5.3
Version:
Branch:
Commit:
Commit date:
Compiler: cc 7.2.0
Processor: AMD\ FX(tm)-8300\ Eight-Core\ Processor
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.1
Lensfun: V0.3.2.0
Build type: Release
Build flags: -O3 -fPIC -march=bdver1 -pipe -std=c++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -DNDEBUG
L

[2017-10-02 20:24] gaaned92 commented on #4116
The artefact appears also when using demosaicing none. It is less strong when using manual correction

[2017-10-03 01:34] paulinster opened #4128 "5.3 crash in macOS when switching to Queue"
Hi, I have upgrade to RT5.3 but look like I can't put file to queue and then process them. When I click the queue tab, the application close and the crash report from mac os open.

Operating system: MacOS Sierra 10.12.6
Rawtherapee version: 5.3

Step to reproduce:
1. Open RT
2. From File Browser tab, put a 1-2 files to the queue
3. Click the queue tab

The application should then close and a popup

[2017-10-03 04:22] Benitoite commented on #4128
Thanks for the crash report.
RT 5.3 doesn't crash for me in this way.
I can try rebuilding cairomm 1.12.2 though.

[2017-10-03 04:48] Benitoite commented on #4128
@paulinster See if this build makes any difference.  Also try deleting your options file if you haven't already.
...

[2017-10-03 07:38] iliasg commented on #4116
@heckflosse See row 4813
The problem is visible mostly (only ??) on blue pixels and is also there with manual corrections (more visible if we put the slider at -4.0)

BTW inspecting this I have crashes with RT when I pan (having the display at 600-800% and demosaic_none ) !!

[2017-10-03 10:50] mzuther commented on #4123
Thanks! You're fast as ever... :)

[2017-10-03 13:11] paulinster commented on #4128
The new build didn't change anything ..  However I think that I found the
issues...  Look like the issues is due to the directory naming...  After
doing some test I found that I was able to add picture from other folders.
It turn out that the folder from which I was trying to add content to the
queue had french character. Once I rename the folder it work great...

Folder name I had issue with: "09

[2017-10-03 15:46] Benitoite commented on #4128
@paulinster Thanks.  Reproduced crash as reported by renaming my folder to `09-23 - Québec`.
@Floessie could this be another `Glib::ustring` locale convert error?  I could not reproduce the crash in debug, so I have no backtrace.

[2017-10-03 16:27] Benitoite commented on #4128
@Floessie very similar crash as in  https://github.com/Beep6581/RawTherapee/issues/3951#issuecomment-312648719

[2017-10-03 16:39] daicehawk opened #4129 "RAW files and DNGs obtained from them give different results at identical settings."
RawTherapee 5.3 ec0f7936 (older 4.2.1148 shows the same behaviour) downloaded from http://rawtherapee.com/downloads.
Win 7 professional x64, CPU intel pentium n 3700 1.6 GHz, 8 Gb RAM.
ORF file from Olympus E-500 and DNG file converted in Adobe DNG Converter 9.9.0.718:
https://drive.google.com/open?id=0B_gJzl0-HJ6RaFozbHFTRGNtaDQ
https://drive.google.com/open?id=0B_gJzl0-HJ6RZ1RXdldaR0haSzg
Even t

[2017-10-03 17:11] Floessie commented on #4128
@Benitoite

We could tell for sure, if we had a backtrace. You can try to obtain one from a release build, though some symbols will be missing. What strikes me most is that it crashes with a release but not with a debug build. If we have a problem with the locales, I'd expect it to crash in both builds. And then still the question remains, why there are those locale problems at all, given the fact

[2017-10-03 17:45] Benitoite commented on #4128
@Floessie Cannot reproduce any error with release running in lldb.
Release by itself, I can't get the same crash consistently. Sometimes it won't crash... then I get this error when trying to process the queue:
![screen shot 2017-10-03 at 10 34 14 am](https://user-images.githubusercontent.com/17919239/31139639-0be6f6ea-a827-11e7-823f-31f25a04e561.jpg)

[2017-10-03 19:36] daicehawk commented on #4129
Under the same conditions as above, profile parameters cannot be copy-pasted between two instances of RT 5.3.

[2017-10-03 19:59] Benitoite commented on #4129
Are there .pp3 files associated with the processing parameters?

[2017-10-03 20:08] daicehawk commented on #4129
Should I share a one source Auto obtained either from RAW or DNG and copy-pasted to the other format to compare or two PP3 after Auto mode enabled for each format?
Basically, as I posted, even the Neutral profile (default As Shot WB, camera profile and zeroed in sliders, i.e. no PP3 needed AFAIU) gives different results in both RT view and in render.

[2017-10-03 20:19] Benitoite commented on #4129
@daicehawk Any generated .pp3's with matching associated input (RAW/DNG) and output (RT-generated jpg) would be good.

Could this be any relation? https://github.com/Beep6581/RawTherapee/issues/2809

[2017-10-03 20:23] Benitoite commented on #4128
@Floessie Maybe I should try this: https://discuss.pixls.us/t/error-processing-queue-invalid-byte-sequence-in-conversion-input/1188/18?u=hiram

[2017-10-03 20:24] daicehawk commented on #4129
@Benitoite Excuse me, we need to decide whether we just explore the difference between the Auto mode or just how different the outputs are from the start i.e. Neutral? Or should we take one format as a reference, then from the Neutral profile enable Auto as a good-enough chain to illustrate the difference, copy-and paste to the other format and present the Jpegs along with pp3s?
It might be relate

[2017-10-03 21:08] agriggio commented on #4129
They look exactly the same here, when applying the same pp3. I tried both with neutral and with auto-adjustment. (Compared with GIMP, not just by eye).
Can you share your pp3? maybe there's something in there...

[2017-10-03 21:21] Benitoite commented on #4128
@paulinster https://filebin.net/t7fe4j4j0eq1ct2q/RawTherapee_OSX_10.9_64_5.3-2-gc6c9ad5e.zip
Here is another build with those changes https://github.com/Beep6581/RawTherapee/issues/4128#issuecomment-333966735 in the executable loader.  I'm not getting a crash or error processing a folder named `é` as I was previously.

[2017-10-03 21:31] daicehawk commented on #4129
there are the PP3 files:
https://drive.google.com/open?id=0B_gJzl0-HJ6RX0VaeWpUZ1ZpcHM
https://drive.google.com/open?id=0B_gJzl0-HJ6RWWFNLU8xTGNFNDQ
https://drive.google.com/open?id=0B_gJzl0-HJ6RUjZoMWlxWjRud28

[2017-10-03 21:34] daicehawk commented on #4129
BTW the path to the PP3 could be displayed in a more human way (as a slashed copiable path on click in the Path field, not just the stupid uncopiable level buttons). Consider this as a bug report.

[2017-10-03 22:13] Benitoite commented on #4129
@daicehawk I see you have ORFNeutral.pp3 and ORFAutoRTMatix.pp3 as well as DNGAuto.pp3
The [Color Management] `InputProfile`s are different between the two ORF pp3's.  ORFNeutral is set to (cameraICC), whereas ORFAutoRTMatrix.pp3 is set to (camera). DNGAuto.pp3 has (camera) as well.
Other differences. The ORFNeutral.pp3 has no Compensation, Contrast, etc. in [Exposure], whereas ORFAutoRTMatrix.pp3

[2017-10-03 22:27] daicehawk commented on #4129
It's obviously RT's fault since the Default camera profile radio button on the ICM tab stays on both with the Neutral profile and when you click the Auto button. No external DCP\ICM\ICC profile was used for those PP3. Please check the behaviour yourself with the RAWs \DNGs provided since you can do it before just stating the difference and throwing it to be on my side.

[2017-10-03 22:35] agriggio commented on #4129
Thanks for the pp3. `DNGAuto` has auto exposure on, whereas `ORFAutoMatrix` has it off. Despite that, here's what I did:

[code]

Then I loaded `orf.jpg` and `dng.jpg` as layers in GIMP, set the layer mode to "Difference", and I still get an essentially uniformly black result. You can find the GIMP file here:

https://filebin.net/fmx5ryq7cwwuq1k1

Maybe I'm just misunderstanding what you are seein

[2017-10-03 22:42] daicehawk commented on #4129
Guys, you  seem to not see the forest beyond the trees. You should not compare AutoORF with NeutralORF since they of course will be different. You might compare ORFAuto with DNGAuto to see the difference. These two PP3 were obtained each from the Neutral profile by only clicking the Auto butoon on the Exposure tab. The ORF Neutral is just the reference for what it is when you open the ORF and choo

[2017-10-03 22:44] agriggio commented on #4129
Please reread more carefully what I wrote, thanks!

[2017-10-03 22:45] daicehawk commented on #4129
I mean, no sense in comparing ORF to ORF. Just take DNG and ORF yourself, open it, tweak however whatever format (DNG or ORF, or even convert ORF to DNG yourself) you like, then copy-paste the settings to the other untweaked, and see the difference. That is my issue.

[2017-10-03 22:49] daicehawk commented on #4129
I clicked the Auto button for both, any way, you can just load the files yourself and reproduce it - select the Neutral profile for both, and then click the Auto button.

[2017-10-03 22:49] agriggio commented on #4129
The thing is, I see (essentially) *no* difference. I tried to document what I did and what I meant with that in my post above. This is as precise as I can go, and I did my best to make sure that my experiment above could be reproduced on your side. I'd be very grateful if you tried and posted the resulting xcf file, so that we can take a look. Otherwise, I just don't understand what you mean, sorr

[2017-10-03 22:55] Benitoite commented on #4129
@daicehawk I compare the ORF with the DNG with auto levels and get a 0.07 stop difference in exposure compensation values. They are fairly close, but is that the issue you are seeing?

[2017-10-03 23:11] daicehawk commented on #4129
OK, maybe my exact conditions will bring us closer to the root of the problem I am experiencing.
Provided:
1. an original ORF and DNG obtained from the ORF as said above (you can take the ORF and convert in the adobe DNG converter yourself).
2. a valid monitor profile installed and specified in the RT
3. Load the ORF, choose the Neutral profile.
4. load the DNG, choose the Neutral profile.
Do they

[2017-10-03 23:31] Benitoite commented on #4129
@daicehawk For me they look very identical in RT.

[2017-10-03 23:36] daicehawk commented on #4129
@Benitoite sorry to ask, do you have your monitor calibrated\profiled? Will my render with the Neutral profile for DNG and ORF for checking in LS, PS or RT be enough?

[2017-10-03 23:42] Benitoite commented on #4129
@daicehawk I'm on MacOS using the system profile generated by the standard MacOS cal routine.  I don't understand the second question: which render was that, what do you mean by "checking in", be enough for what?

[2017-10-04 07:37] iliasg commented on #4129
A small difference exists between e-500 ORF and DNG in WhiteLevel used.
Dcraw.cc uses 4095 as WhiteLevel for the ORF version while for DNGs reads the exif tag and applies WL=3967. This explains the smal exposure difference we see. To normalize this we can insert the E-500 item in camconst.json
[code]
But still a strong difference exist in the calculated AutoWB temp/tint values !! (ORF:7217/0.89 -

[2017-10-04 08:04] iliasg commented on #4129
After digging .. no RAW values' difference between ORF and DNG ..
After inserting the camconst.json item, no difference should exist for BlackLevel (both read exif tags and set it at 63) nor WhiteLevel which is set at the same value WL=3967 either from exif tag (DNG) or camconst.json (ORF)
So we need a guy who can read code and examine if ORF and DNG are handled the same way .. a good start is the

[2017-10-04 08:12] agriggio commented on #4129
@iliasg thanks for your analysis. Now I see the problem as well -- indeed the white balance gives very different results. I'll try to investigate to see if I can spot something obvious, although I'm probably not the best person for doing this...

[2017-10-04 09:43] agriggio commented on #4129
@iliasg using your `camconst.json` entry the differences disappear completely in the output. ORF and DNG are handled differently in dcraw, and it is true that you get a different combination of temperature/tint for the white balance, but the outputs seem to match perfectly. Regarding why you get those differences in WB, I suspect it's because the matrices computed for ORF and DNG are (slightly) di

[2017-10-04 10:12] agriggio commented on #4129
Here's a slightly different (better?) patch to let RT use `camconst.json` also for DNG files. As before, I'm still not 100% sure about what I'm doing (to put it mildly :stuck_out_tongue: ) so better wait for @heckflosse to take a look...

[code]

[2017-10-04 10:46] iliasg commented on #4129
@agriggio Alberto, the color matrices are exactly the same in DNG colormatrix2 (which is the one used by dcraw/RT) and camconst.json (I just copied it from there).
Have you checked at AutoWB algorithm is the averages calculated are the same ?.
For substituting the DNG exif tags with camconst.json I would prefer
[code]

[2017-10-04 11:52] agriggio commented on #4129
Ok, I dug a bit deeper. With the "plain" RT, using your `camconst.json`, the difference between the two seems to be due to different `pre_mul` matrices (in `rawimagesource.cc`, computed by dcraw):

- For ORF, I get `pre_mul = {1.83844733, 0.946108758, 1.11184323, 0}`

- For DNG, I get `pre_mul = {2.04544663, 0.946108758, 1.13130164, 0}`

This is why the WB code computes different values. As to why

[2017-10-04 12:17] agriggio commented on #4129
Ok, I think I might have found the culprit. The DNG file has a non-trivial camera calibration matrix, here's what ExifTool says about it:

[code]

So, **if I understand correctly**, we should calibrate our matrix in `camconst.json`. Which would mean to use the following:

[code]

With the above, now I get this:

- For DNG:

[code]

- For ORF:

[code]

So, essentially the same. What do you think @i

[2017-10-04 12:32] paulinster commented on #4128
@Benitoite Yeah the new build seem to have solve the issue I have successfully been able to put files in queue without a crash, even if the filename or path had french character...

Thanx for your help everyone...

[2017-10-04 12:43] Floessie commented on #4128
@paulinster Luc, thanks for reporting and testing!

@Benitoite Great investigation and quick solution! Thanks a lot! 👍

Merged.

[2017-10-04 12:44] daicehawk commented on #4129
If you do the correction, please release a patch or a file that can be used in 4.2. The new 5.3 is very slow, I am quite satisfied with 4.2.
One minute just to open two instances of 5.3 compared to 30 secs for 4.2.

[2017-10-04 13:31] agriggio commented on #4129
@daicehawk please understand that we do not have the resources to maintain old versions. In this specific case, you might try adding the above entry to your local `camconst.json` file and see whether that is enough (more info here:
https://raw.githubusercontent.com/Beep6581/RawTherapee/dev/rtengine/camconst.json)
But in any case, I'm afraid you are on your own if you want/need/prefer to use an old

[2017-10-04 14:25] Benitoite commented on #4129
Regarding 4.2 and camconst.json: ` create a "camconst.json" file next to your personal "options" file. Its values will then override and/or complete the ones of this file.` (from camconst.json)  That should work for the 4.2 installation as well.

[2017-10-04 17:01] daicehawk commented on #4129
The same happens I suspect to many other cameras. At least with Sony ILCA-68 too.

[2017-10-05 07:51] iliasg commented on #4129
@agriggio

Nice catch !!. So for DNGs, RT makes use of the calibration_matrix2 for WB temp/tint calculations !!
A nice side effect is that after matching the WB calculations for ORF/DNG all auto actions in RT (WB, Levels) also match !!

As I understand it,  this matrix is in fact a WB multiplier calibration used by Adobe to better match it's calculation of WB temp/tint with manufacturer temp/tint

[2017-10-05 08:27] tmmidm opened #4132 "Flat field correction error"
Hello.
There was the following problem in Rawtherapee 5.3 at application of correction of the flat field.
The initial picture is taken on DualIso technology by means of Magic Lantern.
After the standard (drag and drop to cr2hdr.exe) transformation of the cr2 file to the dng file by  cr2hdr utility, I open dng the file in Rawtherapee and I apply correction of the flat field.
Absolutely black field

[2017-10-05 08:58] Floessie commented on #4132
If I understand the [Flat-Field feature](http://rawpedia.rawtherapee.com/Flat_Field) right, input image and flat-field image must match aperture, focal length, and camera/lens combo, of course. I could imagine, the input format also matters, so the first question coming to my mind is: Have you tried to use a flat-field image taken with dual ISO and converted through `cr2hdr` in the same way you di

[2017-10-05 10:30] tmmidm commented on #4132
Floessie, уеs, I tried to use a flat-field image taken with dual ISO (same settings as input picture) and converted through cr2hdr in the same way.
Result also strange (excessively clarified edges of a shot). = The same as in situation: Input image converted cr2hdr with --compress and original cr2 file to flat field correction.

[2017-10-05 11:11] tmmidm commented on #4132
But if I use ce2hdr without --compress and dual Iso flat field dng image without --compress, Rawtherapee works good.
I will close issue.
How can I know what is wrong when dual iso input dng image use original cr2 file to flat field correction? Resolution of two image is the same. If I convert original cr2 flat field image to dng by Adobe converter and use it to flat field correction of dual iso in

[2017-10-05 11:35] Floessie commented on #4132
I think the culprit with your input DNG is, that `black[4] = {8195, 8195, 8195, 8195}` [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc#L2829), so that `refcolor[m][n] = {0, 0, ...}`.

[2017-10-05 13:04] daicehawk commented on #4129
https://drive.google.com/open?id=0B_gJzl0-HJ6RbGNJd0NFeVVWTUU
https://drive.google.com/open?id=0B_gJzl0-HJ6RTHJMVEN2MGp5MVE
It's not a CC24, it's SpyderChekr24, quite close color and spectrum, but different patch arrangement. If required, I might try to find the XYZ or LAB reference file, or measure anew. Don't have the flatfield, but the illumination on that one is quite even.

[2017-10-05 14:42] agriggio commented on #4129
If there's consensus about this, I might give it a go.

I just checked, and it happens also with my Sony A6000. I never noticed before because I normally don't use DNGs. But indeed, I just tried converting one ARW file to DNG to check the WB behaviour. The picture was taken in daylight, on a partially cloudy day: RT gives a temp of 5062K with tint of 0.875 for the ARW, and of 5022K with tint 1 for

[2017-10-05 16:06] agriggio commented on #4129
Hi again @iliasg,

I re-read the above, and double checked the code again. As I understand it, the calibration matrix is not used just for WB calculations, or at least not explicitly. It is in fact used to compute the actual `cam_xyz` matrix. So in fact this would actually be the same as modifying the `dcraw_matrix` in `camconst.json`...

[2017-10-05 17:01] heckflosse commented on #4116
I'm already searching the culprit. It's clearly a bug in my latest optimization. But don't expect too much before the weekend, because I'm still on holidays.

[2017-10-05 19:13] iliasg commented on #4129
@agriggio  .. strange !! Because a bit different matrices (calibrated vs non calibrated) should give a bit different color reproduction  ..

As we can easily find colorchart shots from a6000 I will try some measures tomorrow.

[2017-10-05 19:29] tmmidm commented on #4132
Floessie, thanks for help. I will try to understand your ansver.

[2017-10-05 19:29] #4132 closed, assigned to nobody

[2017-10-05 19:30] agriggio commented on #4129
great, thanks! and remember that I  know very little about camera colour reproduction and all that, so I might be totally off... I was just reading the code and trying to make sense of it :-)

[2017-10-05 19:35] agriggio commented on #4129
also, I was interpreting the description here: http://www.exiv2.org/tags.html
as meaning that the two matrices should actually be combined (ie multiplied) to get the desired color space transformation. but again, I might be plain wrong

[2017-10-05 19:54] heckflosse commented on #4127
I tried to reproduce the leak, but could not. I applied the pp3 to the raw and made a lot of tests using SaveAs and Queue. No detectable leak. But, there's one thing worth to mention: I don't have the lcp file used in the pp3 file, means lcp correction was skipped.

@agriggio Alberto, could you test whether there's a possible side effect caused by your changes to lens correction code?

[2017-10-05 20:37] agriggio commented on #4127
I'll take a look

[2017-10-05 22:26] iliasg commented on #4129
@agriggio Thanks for investigating, and sharing info. This exiv2 link looks usefull.

My understanding about the use of calibration matrix is low level .. I just guessed so because there would be no reason for Dcraw to not use it for all models in native raw format.

BTW the a6000 samples at Dpreview https://www.dpreview.com/reviews/image-comparison?attr18=lowlight&attr13_0=sony_a6000&attr13_1=can

[2017-10-05 23:22] daicehawk commented on #4129
Wait till @atorger chimes in. And I would not trust any daylight simulation shots-derived data. There are yet no light with the quality of the natural daylight.

[2017-10-06 06:10] Desmis commented on #4129
I do not know why Adobe changes the constructor settings when converting to DNG. Probably to standardize its treatments inside its software (Lightroom, Photoshop).

I had not noticed this difference until today, but I tried on 1 photo made with my SonyNEX6
* on the first version (arw), I get the following main settings : temp=5561 Tint(green) = 0.948 exposure compensation=1.48
* on the second vers

[2017-10-06 07:04] Floessie commented on #4127
Cannot reproduce even with the same LCP file. There is a leak when saving the JPEG, but my RSS grows only by some kB per save. 😟

[2017-10-06 07:42] Floessie commented on #4116
It's (as expected) commit 779f4dd.

[2017-10-06 08:20] Floessie commented on #4116
It's also present with `__SSE2__` undefined.

[2017-10-06 09:07] agriggio commented on #4129
@iliasg:

Thanks for the remark. Indeed I checked other pictures of mine and I get different calibration matrices... I suspect Adobe tries to match the WB in-camera settings (the a6000 lets you tweak the AWB algorithm in-camera). So now I agree that we should not "bake in" any of those.

@Desmis, thanks for your analysis! You say:

If we want to avoid the use of the `CameraCalibration` matrix that

[2017-10-06 11:02] Desmis commented on #4129
@agriggio

Hello Alberto
I just tried your patch.

It solves the problem, now for my SonyNEX6 no differences between "ARW" and "DNG"

Very good job :)

Jacques

[2017-10-06 11:18] atorger commented on #4129
Lots of comments, haven't read them all, but a quick comment on the main issue that RAWs and DNGs lead up to different results. I have not been actively involved in RT development for a few years now meaning that getting up to speed means a few days of just reading code, so I'm not so much an "expert" in terms of RT code on a daily basis. That is I can't really comment on the specific issue that w

[2017-10-06 12:02] agriggio commented on #4129
Dear @atorger, thanks a lot for your comment. I think it clarifies the situation, at least for me.

Based on my understanding, one important point is the following:

*If* I understand the code correctly (and that's a non-trivial if), the above is not a 100% accurate representation of how RT works now. In particular, it seems to me that the white balance code in RT doesn't use the specified color p

[2017-10-06 12:54] atorger commented on #4129
Ok. Yes it's true that white balance code in RT is its own, I think it was made before we integrated DNG/DCP at all. Again, it's something many raw converters have issues with, many are older than the DNG format itself and thus have their own white balance models. What those other converters seem to do is to always let their own WB model override the DNG way. I'm not really a fan of that Adobe did

[2017-10-06 13:35] agriggio commented on #4129
Ok, good! :-)

I'm not sure what is the best way either, but here are two possible ways. The first is to simply discard the camera calibration matrix when reading DNGs coming from the Adobe DNG Converter:

[code]

This however assumes that the color matrix in the DNG matches precisely the color matrix that RT will use for the orginal raw file. I suppose that is typically the case, but it is not gu

[2017-10-06 13:57] atorger commented on #4129
Hmmmm.... CameraCalibration should be pretty exotic stuff, as far as I understand that's used not for making a profile for a camera model, but for a specific camera. As cameras don't really vary that much instance to instance for the same model I didn't think anyone was using those tags? And if you actually want a specific profile for your camera the way everyone(?) does it is to render a whole cu

[2017-10-06 14:03] atorger commented on #4129
It would be interesting to know why the original test file contains a camera calibration matrix, obviously someone is using this, would be interesting to know the reason. I haven't come across them before and I've looked at quite many DNG files... maybe there is some technical special reason that particular camera or camera model gets a camera calibration matrix assigned?

In any case, if we don't

[2017-10-06 14:25] agriggio commented on #4129
@atorger thanks for the info. Then I'll update the patch and use identity matrices for all cases. Just FYI, the latest version of Adobe DNG Converter (9.12) seems to always generate CameraCalibration tags, at least for my camera (a Sony a6000). As for why they are always applied, I don't know, but it's already in the original dcraw code.

[2017-10-06 14:41] atorger commented on #4129
The AnalogBalance is supposed to be always applied according to the spec (and Adobe's reference code), but I don't mind if you exclude that too like in the example patch, as it's probably only leading to unwanted side effects in RT.

Interesting that the DNG converter adds calibration tags to a6000... anyway doesn't make sense for RT to use them for now.

[2017-10-06 14:41] agriggio commented on #4129
Also, the Adobe DNG Converter generates the following tags:

[code]

which would suggest that the camera calibration matrix is meant to be applied... however, I still have no idea how it is computed :-/

[2017-10-06 14:57] daicehawk commented on #4129
Ok, guys, what should I do with 5.3 or 4.2 to test the new behaviour? Please consider that correction would be great to work with custom DNG\ICC input profile.
In genera, a built-in matrix tweaker like the DNG Profile Editor with or without opportunity to save the matrix as a DNG\ICC would be great. I do  not think a LUT nodes tweaking is needed - it is to unpredictable IMO.

[2017-10-06 14:58] daicehawk commented on #4129
Ok, guys, what should I do with 5.3 or 4.2 to test the new behaviour? Please consider that correction would be great to work with custom DNG\ICC input profile.
In genera, a built-in matrix tweaker like the DNG Profile Editor with or without opportunity to save the matrix as a DNG\ICC would be great. I do not think a LUT nodes tweaking is needed - it is to unpredictable IMO.

[2017-10-06 14:58] atorger commented on #4129
Camera Calibration Sig belongs to the DNG, Profile Calibration Sig belongs to the DCP, which is embedded I suppose. When embedded the "DNG Profile" is just a bunch of tags along with all the other DNG tags so it's not so easy to see which belongs to which.

So what that says is that if you use a DNG profile with the profile calib sig "com.adobe", that is the profile is made by adobe, the camera ca

[2017-10-06 15:07] agriggio commented on #4129
Ok @atorger, I'll do as you suggest and just not use the camera calibration matrix. I agree that it is best to be consistent in this case. Unless there are any objections, I'll just push the above patch modified to not check for Adobe DNG Converter. For convenience, here's the modified patch:

[code]

Thanks again for your help!

@daicehawk if you are comfortable with compiling RT yourself, you ca

[2017-10-06 15:37] Desmis commented on #4129
@agriggio

I test the last patch

It works fine :)

Now for SonyNEX6 and my old Nikon D200, no differences in "White balance" settings.

Obviously there are some differences in output, but image seems identicals :)

[2017-10-06 17:37] agriggio commented on #4129
@Desmis thanks for testing! I'll wait a bit more to see if there any any objections and if not I'll merge

[2017-10-06 18:13] iliasg commented on #4129
No objections from me, thanks @agriggio .. this issue is about matching Native vd DNG RAWs and is OK ..

I am just not happy with the sometimes abnormal results of RT's temp/tint calculations which have undesirable side effects on auto levels and especially with ciecam2000 .. **but thats's for another issue** .. there we can search for a solution .. maybe try to reverse engineer the way the calibr

[2017-10-06 18:38] daicehawk commented on #4129
Another one bug: the file browser preview stopped opening image files:
![image](https://user-images.githubusercontent.com/25417532/31293110-ae986694-aade-11e7-916b-6c125f6f4cd1.png)

[2017-10-06 19:11] Floessie commented on #4129
@daicehawk One bug per issue, please!

[2017-10-06 19:18] daicehawk opened #4133 "The file browser preview stopped working / no image files are displayed"
RawTherapee 5.3 ec0f793 (older 4.2.1148 shows the same behaviour) downloaded from http://rawtherapee.com/downloads.
Win 7 professional x64, CPU intel pentium n 3700 1.6 GHz, 8 Gb RAM.
the file browser preview stopped opening image files:
![image](https://user-images.githubusercontent.com/25417532/31293110-ae986694-aade-11e7-916b-6c125f6f4cd1.png)

[2017-10-06 20:18] StefanGyuzelev commented on #4127
Hello!
The problem does not depend on  LCP lens corection. I did a test again:
https://drive.google.com/file/d/0Bwd1yqYI35MoWkdhR3hONG9xZzQ/view?usp=sharing

The following settings were made after I bought an additional 8GB of memory:
https://drive.google.com/file/d/0Bwd1yqYI35MoMWlrWGZvMjFPS1E/view?usp=sharing

[2017-10-06 22:47] Hombre57 commented on #4008
I think I'm done with this branch. Waiting for a merge approval.

[2017-10-07 13:11] bnzf opened #4134 "5.3 crashes in macOS when changing input profile"
RT 5.3 on a Mac  with OS 10.9.5 crashes  when I change in "Color Mangemane/Inputprofile" from the default "Auto Matched Camera Profile" to "Custom" and click on the popup-menu.
The crash is reproduceable. On an other Mac I had the crash already when clicking on "Custom".

Below a screenshot for more easiely identifing the "button" and  the Apple crash report:

![rtcrash](https://user-images.github

[2017-10-07 13:15] Kildor opened #4135 "Incorrect lense name with Nikon D7200 and Sigma AF 18-250mm f/3.5-6.3 DC OS HSM Macro"
I've gotten a used lense Sigma AF 18-250mm f/3.5-6.3 DC OS HSM Macro, but RT is not able to recognise correct and full lense name at some images showing it as generic "AF 18-250mm f/3.5-6.3"
Raw files examples:
https://filebin.net/w5deodayzg7hsmap
DSC_5073.NEF -- Sigma AF 18-250mm f/3.5-6.3 DC OS HSM Macro
DSC_5077.NEF -- AF 18-250mm f/3.5-6.3

The only difference I see is focal range, the RT show

[2017-10-07 16:45] Benitoite commented on #4134
I'll have to give upgrading/rebuilding gtk+ 3.22 a try.

[2017-10-07 19:21] Benitoite commented on #4134
@bnzf Here is a new build with gtk+ 3.22.24 and gdk-pixbuf 2.36.11
https://filebin.net/t2y50bzq9as5y7gd/RawTherapee_OSX_10.9_64_5.3-6-g55172ee7.zip

Let us know how it goes, I don't know of anyone else using os 10.9.

[2017-10-07 20:34] heckflosse commented on #4116
@Floessie Thanks for analyzing. Do you think I should revert the commit until I found the culprit?
It seems to occur only at the upper border of the bottom tile row btw...

[2017-10-07 21:19] bnzf commented on #4134
@Benitoite
The above version does not crash anymore.
Thanks.

[2017-10-07 21:29] heckflosse opened #4136 "Nikon D700 dual-illuminant DCP"
Fortunately DrSlony brought his color checker to our meeting in Provence.
We also have been lucky to find a tungsten bulb :smiley:
So DrSlony made same color checker shots with my rusty Nikon D700 which hopefully will result in a dual-illuminant DCP for Nikon D700 in a few days :+1:

https://filebin.net/4dtyidn2ka8hnlgj/d700cc.7z

[2017-10-08 11:09] Floessie commented on #4116
@heckflosse

Yes, that's significant. I reviewed the whole diff, but as both storage and computation changed, I couldn't see something obvious. I bet on storage, probably an off-by-one taking in some previous data.

If @Beep6581 want's to release a 5.3-r1 to fix it, that would be opportune. But I believe, you'll find the problem faster than Morgan can release a -r1. 👍

[2017-10-08 13:36] #4116 closed, assigned to heckflosse

[2017-10-08 14:10] Floessie commented on #4116
I knew it. 😁 👍

[2017-10-08 14:34] heckflosse commented on #4127
I tried again but can not reproduce the issue. Does it also leak when you save as tiff instead of jpeg?

[2017-10-08 15:27] #4103 closed, assigned to heckflosse

[2017-10-08 15:30] StefanGyuzelev commented on #4127
The problem does not depend on the type of output file.
https://drive.google.com/file/d/0Bwd1yqYI35MobjJiLU5FYUJNbDA/view?usp=sharing
https://drive.google.com/file/d/0Bwd1yqYI35MoV0ZGZ3Y1czlweGc/view?usp=sharing
RawTherapee-5.3 has been compiled with the following dependencies:

[slack-required.txt](https://github.com/Beep6581/RawTherapee/files/1366993/slack-required.txt)

[2017-10-08 15:42] heckflosse commented on #4127
Can you please post your [options](http://rawpedia.rawtherapee.com/File_Paths) file?

[2017-10-08 15:49] StefanGyuzelev commented on #4127
I added .txt to upload it
[options.txt](https://github.com/Beep6581/RawTherapee/files/1367002/options.txt)

I tried different Input profile but they do not affect.

[2017-10-08 16:06] heckflosse commented on #4135
Your file DSC_5071.NEF has lens id `92 40 2D 88 2C 40 4B 0E` which is not present in our database.
For this reason, rt can not detect the correct lens name and tries to find a matching lens based on focal length and aperture.

Your file DSC_5076.NEF has lens id `F1 47 5C 8E 30 3C DF 0E` which matches the entry
`{"F1 47 5C 8E 30 3C DF 0E", "Tamron SP 70-300mm f/4-5.6 Di VC USD (A005)"},`

[2017-10-08 16:51] Kildor commented on #4135
Sorry. I mixed files and uploaded wrong one. Now I've uploaded correct (which I referred in report) files. 5076 was made with Tamron SP 70-300.
5071 is also incorrect Sigma 18-250.

[2017-10-08 18:18] heckflosse commented on #4127
I checked your options file. Nothing suspicious there. I must miss something.
Can you make a screencast or make a step-by-step instruction to reproduce the leak?

[2017-10-08 18:48] heckflosse commented on #4135
That's interesting.
The different focal length settings result in different lens ids.

[code]

The [entry in our database](https://github.com/Beep6581/RawTherapee/blob/dev/rtexif/nikonattribs.cc#L952) corresponds to the id for fl 250mm.
Can you provide some more shots from that lens with different focal length settings?

[2017-10-08 19:45] StefanGyuzelev commented on #4127
https://drive.google.com/file/d/0Bwd1yqYI35MobFRNVzdVSXZRcTA/view?usp=sharing

[2017-10-08 20:25] heckflosse commented on #4127
Hmm, there's something wrong with the file you linked. Can't open it in Manjaro or Windows

[2017-10-08 20:40] olhof commented on #4102
@Hombre57
Thank you for your good advice. All my photos became much more brilliant and nicer after being converted to jpg using the full process and not only the Fast Export (using the standard processing option for Fast Export in RT 5.2). It turns out that the dedicated option results in better pictures but not as good as the result of the full process.

I started using RT in January this year an

[2017-10-09 05:09] StefanGyuzelev commented on #4127
Рerhaps the lack of file extension. Rename file RawTherapee_Memory_Leak.mkv

When working normally with different pictures, the same is done.

[2017-10-09 05:11] Kildor commented on #4135
Sure.
Uploaded more raws.
185 and 210 mm are recognised as Sigma, 18, 75, 130 aren't.

[2017-10-09 11:26] heckflosse commented on #4133
Did you try to remove the `.` in front of the extension?

[2017-10-09 12:04] heckflosse commented on #4127
Thanks for the screencast. I tried to reproduce the leak on Windows, Sabayon and Manjaro but it's still not reproducible. :-(

[2017-10-09 12:05] heckflosse commented on #4127
Does it also leak when you apply neutral profile and save?

[2017-10-09 17:37] StefanGyuzelev commented on #4127
With a neutral profile running incredibly fast, it slowly accumulates no free memory.
https://drive.google.com/file/d/0Bwd1yqYI35MoLWozWElfQ3JSWVU/view?usp=sharing
Perhaps postprocessing of unpacked RAW data under certain conditions does not release the memory occupied, and has data in a new one on the next picture.

The problem is strongly bound to the size of the frame. At 12 megapixels, the use

[2017-10-09 19:11] heckflosse commented on #4127
@Floessie @agriggio

I need your help to find the leak ;-)

[2017-10-10 07:05] Floessie commented on #4127
@heckflosse I'm utilising ASAN at the moment. After three times "Save as", I got a "use after free":

[code]

Continuing...

[2017-10-10 07:09] agriggio commented on #4127
Just FYI, I'm trying to see if I get any luck with `mtrace`...

[2017-10-10 07:14] Floessie commented on #4127
@heckflosse @agriggio No obvious leak on our side after five successful "Save as" with neutral profile. Not enough memory here to try the default profile or more. Could give it a try later today.

[code]

[2017-10-10 07:15] agriggio commented on #4127
@Floessie I saw a leak on my machine yesterday, but I haven't been able to nail it down yet...

[2017-10-10 07:25] Floessie commented on #4127
Provided my VM with swap. Now here's one for @heckflosse to chew on (I'm on 1fdc2d7b49327c9e08ca037d04a51a7c22e159cd btw.):

[code]

[2017-10-10 07:29] Floessie commented on #4127
Disabled CA correction. Here's the next one, sorry:

[code]

Always tested twice.

[2017-10-10 08:45] aferrero2707 commented on #4116
In case this could help, I have checked the railway image with PhotoFlow, which in its current version uses almost the same code as RT for CA corrections.

The main differences with respect to RT are that:
1. I do not use SSE2 for copying the corrected pixels back to the main buffer (but it was checked that in RT also the non-SSE code gives the same artifact)
2. I am completely skipping the fillin

[2017-10-10 08:55] heckflosse commented on #4116
It was. See 2f32afa

[2017-10-10 08:58] Floessie commented on #4127
Recompiled RT without OMP: No leak with default profile.

Now, with the profile provided (but without the right LCP in place), I get this:

[code]

I won't go any further, as I can't see the leak here. Nevertheless, I think there are some things to look into now.

HTH,
Flössie

[2017-10-10 09:03] aferrero2707 commented on #4116
Ooopsss... I arrived too late!!!

[2017-10-10 11:07] kznsq opened #4137 "LCP parsing issue"
Hi! The LCP parser cannot parse some LCP files, because they contain a 'PerspectiveModel' section in the XML attributes.
For example, profile "Adobe (Apple iPhone 7 back camera 3.99mm f/1.8)":

      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="0.832288"
       stCamera:FocalLengthY="0.832288"
       stCamera:ImageXCenter="0.495976"
       stCamera:ImageYCen

[2017-10-10 12:55] heckflosse commented on #4127
@Floessie

I take this one `rtengine::ImProcFunctions::Eval2(`

[2017-10-10 15:08] StefanGyuzelev commented on #4127
Hello!
I compiled with the provided patch, visually convinced that the file was properly changed, but it did not work.
https://drive.google.com/file/d/0Bwd1yqYI35MoOHVrbUNWYzJBaUk/view?usp=sharing
I will try to compile without -march = bdver1, but I do not believe it matters.
The size of the RAW file is of the greatest importance.

[2017-10-10 16:07] StefanGyuzelev commented on #4127
I only open images from Filmstrip (Most are already processed) .
https://drive.google.com/file/d/0Bwd1yqYI35MobnRRTjF6dUYzZDg/view?usp=sharing

Need something like a "close" before opening the next one.

[2017-10-10 16:19] heckflosse commented on #4127
The patch addressed a buffer overflow we found while searching for the leak, not the leak itself.
But, as you compile rt yourself, you can help us to find the leak :-)
Please build rt with the commands below. Then start rt, reproduce the leak, quit rt and post the console output.

[code]

[2017-10-10 16:23] TooWaBoo commented on #4137
Modify the LCP like below. I don't know, why Adobe uses so many different structures for their LCPs.

[code]

[2017-10-10 16:34] kznsq commented on #4137
I made some changes and it is seems to be ok:

    if (!strcmp("PerspectiveModel", src)) {
        pProf->firstLIDone = true;
        pProf->inPerspect = true;
        parseAttr = true;
        //return;
    } else if (!strcmp("FisheyeModel", src)) {
        pProf->firstLIDone = true;
        pProf->inPerspect = true;
        pProf->_profile->isFisheye = true; // just misses third param, and diffe

[2017-10-10 18:22] jtappin opened #4138 "Resize - Scale slider wrong in batch edit"
In the batch edit tab (from the file browser) when setting resize by scale, there are what seem to be two (probably related) issues.
Firstly: the range of the slider goes from -3.99 to 3.99, when logically it should start from 0.
Secondly: to halve the size of an image I had to set it to -0.5 (+0.5 scaled the image up by a factor of 1.5).

While I doubt that the image type is relevant here, I was

[2017-10-10 18:29] heckflosse commented on #4138
@jtappin Please read [this](http://rawpedia.rawtherapee.com/Preferences#Batch_Processing_Tab), especially the sections about `Add` and `Set` Mode

[2017-10-10 18:41] ecuapac opened #4139 "RawTherapee does not show rank (stars) information coded in EXIF-data"
I have JPG images with the rank property (0 to 5 stars). The property shows up, e.g., in Windows Explorer and other Image software like those from Adobe.
![01_explorer](https://user-images.githubusercontent.com/6481070/31403572-ba4fd6de-adf9-11e7-963e-8f8e8b063947.png)

But it does not so in RawTherapee's file browser:
![02_rawtherapee](https://user-images.githubusercontent.com/6481070/31403573-ba

[2017-10-10 19:06] StefanGyuzelev commented on #4127
I I wanted to make a package for Slackware  with this options but I could not. After compile with
[code]
(otherwise difficult to uninstall)
Everything installs in `/tmp/raw/tmp/pkg/RawTherapee-5.3/build/debug/`
RawTherapee  start normal. He worked pretty slowly, but without fault. No memory leak.
After closing, wrote the following:
[code]

[2017-10-10 19:07] jtappin commented on #4138
Is this a new feature as of about 5.3? As the last time I was bulk-reducing medium format scans there was no problem, and I certainly didn't **knowingly** change any batch processing settings.

[2017-10-10 19:17] heckflosse commented on #4138
No, afaik that's on old feature. Ping @Beep6581

[2017-10-10 19:32] heckflosse opened #4140 "Improve time to start rt"
This issue is about to improve the time to start rt.
First patch will follow soon.

[2017-10-10 19:51] Beep6581 commented on #4139
Duplicate of #3728

[2017-10-10 19:51] #4139 closed, assigned to nobody

[2017-10-10 19:52] Beep6581 commented on #3728
RawTherapee stores color labels and ranks in the `.pp3` files. It would be nice if it could read this info from Exif and XMP tags if an entry in the PP3 does not exist.

[2017-10-10 19:52] Beep6581 commented on #3728
See https://discuss.pixls.us/t/get-the-ranking-file-property-into-rawtherapee/5253

[2017-10-10 22:39] heckflosse commented on #4140
Ok, here's a first patch which reduces the init time of rt by ~150 ms at my system by using multiple threads for the init phase.

[code]

[2017-10-10 22:50] Hombre57 commented on #2857
@Beep6581 @heckflosse @neilpho save-strategy2 branch created (I've deleted the previous one, too old and didn't managed to merge to current dev).

As explained in the commit, it crash when opening an image, I'll try to fix that asap.

[2017-10-11 07:34] Floessie commented on #2857
@Hombre57 I'd like to help you with the crash. Unfortunately, an icon is missing from your branch:

[code]

Nevertheless, here's already a patch fixing some reorders:

[code]

HTH,
Flössie

[2017-10-11 07:40] Floessie commented on #4140
@heckflosse

Normally there are dependencies between the various instances during the init phase (not speaking of RT but more generally). I trust your experience that you ruled that out. 😄

[2017-10-11 09:13] Floessie commented on #2857
@Hombre57 In the meantime, I copied another icon to that missing location. All works great, I get no crash at all when loading a DNG using the debug built in GDB. Am I missing something?

[2017-10-11 11:36] heckflosse commented on #4140
I checked that. Hope, I didn't miss some thing.

[2017-10-11 11:51] Hombre57 commented on #2857
@Floessie

No, you just solved the bug (will check that when back home). It's possible that the icon were lost in the battle of manual merging. Unfortunately the crash was so severe here (Win7/MSYS2) that there was no bt available. Thanks for having fixed it, I'll try to find that icon or recreate it.

In SaveStrategy branch (first try), I even spread the `set`, `combine` and `initFrom` methods in

[2017-10-11 11:54] heckflosse commented on #4140
Currently the HaldCLUT folder is parsed per editor instance. Means when starting rt in SETM mode it's parsed twice (for the batch editor and for the setm editor).

This could be improved the way it's done in [lensprofile.cc for the lensfun comboboxes](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/lensprofile.cc#L580)

[2017-10-11 13:00] heckflosse commented on #4140
This small patch reduces the start time of rt by another ~60 ms at my system.

[code]

[2017-10-11 13:31] Floessie commented on #4140
@heckflosse I get 32 other matches, where a `Glib::ustring` is used as a `std::map<>` index. Now that we know how expensive comparing `Glib::ustring`s is, we should consider reviewing this...

[2017-10-11 13:42] Hombre57 commented on #4140
Isn't `Glib::ustring` used on purpose ?

[2017-10-11 14:21] Floessie commented on #4140
@Hombre57 It seems so in some places. In others it's debatable, and there are places, where it's compared to or inserted as `std::string`. Those might be no-brainers IMHO, but I'm not an expert.

[2017-10-11 14:45] heckflosse commented on #4140
@Hombre57 Imho for `new RTImage({filename})` we can safely replace `Glib::ustring ` with `std::string`, as we have full control over the used filenames.

[2017-10-11 15:13] Hombre57 commented on #4140
@heckflosse

I agree that the filename is plain ascii chars, but it will be concatenated to `Glib::ustring` for the full path. No problem with that ?

[2017-10-11 15:13] falket commented on #4035
Sorry for asking but i'm using 5.3 on Linux and i don't understand... is the 2 rows bottom toolbar already available? Thank you.

[2017-10-11 15:22] heckflosse commented on #4140
@Hombre57 No problem, because the key for the map does not contain the path

[2017-10-11 15:33] heckflosse commented on #4140
Another one:

Currently at start of rt the batchtoolpanel creates the exifpanel and the iptcpanel just to remove it later.
This patch doesn't create the exifpanel and iptcpanel for batch mode.

[code]

[2017-10-11 16:50] heckflosse commented on #4127
@StefanGyuzelev Can you please try whether a build made using the following commands, leaks?

[code]

[2017-10-11 17:59] StefanGyuzelev commented on #4127
https://drive.google.com/file/d/0Bwd1yqYI35MoMWM2WXpZS2NRazg/view?usp=sharing

This is a result of these compile settings.

[2017-10-11 18:11] heckflosse commented on #4127
Thank you. Hmm, a release build leaks at your system, but a debug build does not. Neither of both leak here or on systems of other devs. Currently I'm stumped. Have to think about that...
@Floessie @agriggio any ideas?

[2017-10-11 18:18] heckflosse commented on #4135
The following patch solves the issue, but as @Beep6581 regularly updates the exif database, I want his ok to apply the patch.

[code]

[2017-10-11 18:41] StefanGyuzelev commented on #4127
My Slackware package was made with this script.

https://slackbuilds.org/slackbuilds/14.2/graphics/rawtherapee/rawtherapee.SlackBuild

[2017-10-11 20:45] Hombre57 commented on #4035
@falket No, it was still a proposal as of now.

@Beep6581 Looking on the automatic toolbar wrapping now.

Here's my suggestion for the bottom toolbar : since we rarely use the color management widgets and the browsing icons, could we add a [+] icon (or [...] ) that would show a second tool bar where you'll find those widgets. That would free up quite some space.

[2017-10-11 21:56] heckflosse commented on #4140
@Floessie

I tried using std::string instead of Glib::ustring for camconst map. That gives a 3x speedup for the camconst init phase. But the speedup is hidden by the multithreaded init phase now.....

[2017-10-12 05:46] Floessie commented on #4127
@StefanGyuzelev Now the question arises, what happens if you use
[code]
? Or did you try that already and I missed it?

[2017-10-12 07:43] TooWaBoo commented on #4125
New update GTK3.22.24 now supports native window in WIN10.

[2017-10-12 07:45] TooWaBoo opened #4141 "Info: GTK+ 3.22.24 now supports native windows in Win10"
New update GTK3.22.24 now supports native windows in WIN10.

![unbenannt](https://user-images.githubusercontent.com/13800920/31490463-4b0b3c86-af44-11e7-8214-713896851b5b.PNG)

[2017-10-12 10:44] tuvalkin opened #4142 "In the program Rawtherapee is not displayed when connecting to a computer via RDP"
In the program Rawtherapee is not open lists (check boxes) when connected to the computer via RDP. When you use a computer directly through the console, everything works as it should. Interestingly, before this problem was not, and now she appeared in version 5.2 Rawtherapee and Rawtherapee version 5.3. Tested on computers with operating system Windows 7/64 and Windows server 2008 R2. The account

[2017-10-12 15:32] Benitoite commented on #4142
Did you have the screenshot?

[2017-10-12 16:26] StefanGyuzelev commented on #4127
[code]
There is no problem.
https://drive.google.com/file/d/0Bwd1yqYI35MoX2JoT2lhcFJSVEU/view?usp=sharing
[code]

  ** Strangely `-DWITH_SAN=leak`  or  `-DCMAKE_BUILD_TYPE="debug"`     give a good result ?**

[2017-10-12 20:02] Beep6581 commented on #4124
See point 10 of the Advanced section:
http://rawpedia.rawtherapee.com/Getting_Started#Advanced

[2017-10-12 20:02] #4124 closed, assigned to nobody

[2017-10-12 20:06] SaturnusDJ commented on #4124
Okay tnx. How about enabling instant render on high performance systems? (Thus an option.)

[2017-10-12 20:07] Beep6581 commented on #4021
Are you willing to write the code @anilgulecha ?
Who needs this?

[2017-10-12 20:24] Beep6581 commented on #4126
Thank you for the good report. However, the preview does match the saved image, no bug here.

When it comes to not using demosaicing at all, which is what your PP3 does, you are no longer dealing with "ordinary" colors, but with a bayer pattern. What happens when you view that at any zoom level less than 100% is up to the scaling algorithm. Some will make the result lighter than others.

Another t

[2017-10-12 20:24] #4126 closed, assigned to nobody

[2017-10-12 21:20] agriggio commented on #4127
@StefanGyuzelev can you paste the output of `ldd rawtherapee`?

[2017-10-12 22:13] Krzysiu commented on #3348
I was writting a new bug report, but it seems to be the same problem. Original links don't work, so I'm not sure if there's some way to get rid of it and if the problem is the same as mine. Here's my report:

Hey! Maybe it's supposed to be like that, i.e. natural effect or wrong combination, but sometimes Retinex causes white, overexposed part of the picture, to be pink. I'm using one camera, i.e.

[2017-10-13 03:57] StefanGyuzelev commented on #4127
Last compiled:
[code]

From firs post:
[code]

[2017-10-13 11:06] Hombre57 commented on #4141
@TooWaBoo Do you suggest that we should require this version for Windows ?

[2017-10-13 11:48] TooWaBoo commented on #4141
@Hombre57
Yes, I think this solves some issues witch we have with non native windows on WIN10. Everything works fine so far.

[2017-10-13 12:11] gaaned92 commented on #4141
If needed I can rebuild 5.3

[2017-10-13 13:16] heckflosse commented on #4140
Here's a patch provided by @agriggio which reduces the time to build the clut combobox for batch editor from 130 ms to 60 ms and for every subsequent editor from 130 ms to 15 ms. There's a minor issue with this patch: The clut combobox in non batch editor now also has an `unchanged` entry which fortunately does nothing.

[code]

[2017-10-13 14:33] heckflosse commented on #4140
This small patch reduces the time to populate the lensfun treestores from 140 ms to 90 ms

[code]

[2017-10-13 14:35] agriggio commented on #4140
@heckflosse Ingo, how about this trick instead? It works for single window modes. For multi windows (i.e. editors in their own window), then it keeps the behaviour above. what do you think?

[code]

**EDIT** I forgot half of the patch :-)

[2017-10-13 15:25] heckflosse opened #4143 "When no lcp is selected, rt does not show (none)"
To reproduce:

1) apply neutral profile to a file
2) open the file
3) go to lens correction

Result:
![lcpnonone](https://user-images.githubusercontent.com/13733487/31553492-f0e4a182-b03a-11e7-93d6-da1c00d30793.png)

The following patch fixes it. Result:

![lcpnone](https://user-images.githubusercontent.com/13733487/31553643-6a3d22ac-b03b-11e7-89d7-702a03c74103.png)

[code]

[2017-10-13 16:55] mzuther commented on #4123
I can now confirm the fix. Thanks again!!!

[2017-10-13 17:43] Beep6581 commented on #4134
@Benitoite could you please update http://rawpedia.rawtherapee.com/macOS to reflect the minimum required package versions, and then close this issue?

[2017-10-13 19:23] #4143 closed, assigned to heckflosse

[2017-10-13 19:37] heckflosse commented on #4140
@agriggio Alberto, I pushed all my patches. Feel free to push your patch as soon it's cleaned ;-)

[2017-10-13 20:01] Beep6581 commented on #4116
We can of course do a 5.3.1 if this is serious enough, but is it?

[2017-10-13 20:12] ghost commented on #4141
It works!!!
![screenshot 42](https://user-images.githubusercontent.com/29912986/31564277-e646cdc4-b06a-11e7-8b55-517251d86f06.png)
![screenshot 41](https://user-images.githubusercontent.com/29912986/31564273-e6115d42-b06a-11e7-9a42-d4a709a69541.png)

(It is css for gtk. I like black letters on white background.)

[2017-10-13 20:13] heckflosse commented on #4116
I think it's serious :(

[2017-10-13 20:19] Beep6581 commented on #4137
@kznsq can you post that in the form of a `git diff`?

[2017-10-13 20:36] TooWaBoo commented on #4141
@chaotic-sys
Looks nice. 👍

[2017-10-13 20:39] ghost commented on #3954
With new native windows (https://github.com/Beep6581/RawTherapee/issues/4141) everything works perfectly!
(Except for the second point - when dragging,  other thumbnails still does not appear. But this is a trifle.)

I think that the issue can be closed.

[2017-10-13 20:55] Beep6581 commented on #4135
Even if the patch is correct, the fix must be made upstream using our metadata source - ExifTool - otherwise the fix will be lost on the next update. I assigned myself so that I remember to report this to them tomorrow.

[2017-10-14 07:59] mzuther commented on #2836
Hey Beep6581,

I was about to open a feature request, but I think my idea fits here. How about adding a checkbox (or button) "Limit range" to the white balance dialog? When activated (possibly by default), the range of the following sliders would be limited:

* Temperature: 5000 to 8000 (or the like)
* Tint: 0.8 to 1.2
* Blue/Red equalizer: 0.8 to 1.2 (I don't use this too often, so the best range

[2017-10-14 08:36] Beep6581 commented on #3558
`5.3-46-g`dfe40677

[2017-10-14 12:31] Beep6581 commented on #4138
@jtappin
- When in "Add" mode, the slider goes from -3.99 to +3.99.
- When in "Set" mode, the slider goes from 0.01 to 4.

No bug there.

In all versions of RawTherapee prior to 5.3 there was a bug which sometimes caused the Add/Set values to be "Add" by default when they should have all been "Set" by default. This is fixed in 5.3, though some of the values may still be "Add" if you're using an [o

[2017-10-14 12:31] #4138 closed, assigned to nobody

[2017-10-15 12:26] Hombre57 commented on #4141
@heckflosse @Beep6581 Do you agree with this patch ? It sets minimum requirement for Gtk 3 to 3.22.24 for windows only :

[code]

[2017-10-15 12:51] Hombre57 commented on #4141
@TooWaBoo Could you please test the Fullscreen button ? It doesn't restore to maximized properly when clicking on it again here.

[2017-10-15 13:29] Hombre57 commented on #4141
Hmm... seems to work fine now, with your themes and RawTherapee theme. Don't know what happened.

[2017-10-15 14:34] heckflosse opened #4145 "Don't cache history strings in eventDescrArray in history.cc"
When a history panel is created an array is filled with all the event descriptions for the history messages.
That makes no sense because looking up these strings on the fly is really fast (~ 0.001 ms per string).

The following patch removes the array `eventDescrArray` and also the `realText` attribute which seems useless.
@Hombre57 please have a look

[code]

[2017-10-15 15:46] TooWaBoo commented on #4141
@Hombre57
I don't have any issues with the fullscreen button.

[2017-10-15 16:27] #4102 closed, assigned to nobody

[2017-10-15 17:24] Beep6581 commented on #3348
Magenta highlights when using Retinex: https://github.com/Beep6581/RawTherapee/issues/2833#issuecomment-145528569

[2017-10-15 17:24] #3348 closed

[2017-10-15 17:27] Beep6581 commented on #4142
@tuvalkin show screenshots of the problem.

[2017-10-15 17:44] Beep6581 commented on #4125
I added a note about this to the second paragraph http://rawpedia.rawtherapee.com/Windows

@gaaned92 @sguyader we should use this for new releases.

@TooWaBoo do you have a link with the source of that info?

[2017-10-15 17:44] #4125 closed, assigned to nobody

[2017-10-15 17:48] TooWaBoo commented on #4125
No, I don't. I've updated MSYS and it updates GTK. After compiling I got the native window.

[2017-10-15 18:01] Beep6581 commented on #4035
@Hombre57 let's try to get the minimum usable window width to 1024px when the left panel is hidden.

I use the CM widgets often, but I wouldn't mind if the CM widgets would pop-out when pressing a CM button (not "+" or "..." but a button which is clearly related to CM).

I don't personally use the browsing buttons (previous image, sync, next image) at all because I use the keyboard shortcuts, but

[2017-10-15 18:21] Beep6581 commented on #4141
@Hombre57 agreed. I already updated RawPedia based on #4125
http://rawpedia.rawtherapee.com/Windows

[2017-10-15 18:22] Beep6581 commented on #3954
Duplicate of #4141

[2017-10-15 18:22] #3954 closed, assigned to nobody

[2017-10-15 18:23] Beep6581 commented on #4125
Duplicate of #4141

[2017-10-15 19:44] Beep6581 commented on #4136
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D700%20daylight.nef
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D700%20daylight.nef.pp3
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D700%20tungsten.nef
http://rawtherapee.com/shared/test_images/colortarget/NIKON%20D700%20tungsten.nef.pp3

[code]

[2017-10-15 19:44] #4136 closed, assigned to Beep6581

[2017-10-15 19:47] KerimRagimov opened #4147 "RT crushes at Win 7 when I use >Tonal compression menu"
Version: 5.0-r1-gtk2
Branch: 5.0-r1-gtk2
Commit: 1077c4ba
Commit date: 2017-02-01
Compiler: gcc 6.3.0
Processor: pentium4
System: Windows
Bit depth: 32 bits
Gtkmm: V2.24.4

When I use '**Tonal complerssion**' settings in Exposition table, -- RT crushes down on the stage of saving the file. Debug version the same. What it could be? Tank you for help

[2017-10-15 20:17] Hombre57 commented on #4141
Patch committed. This Gtk version doesn't solve the curve issue from Retinex (beside others)... Closing.

[2017-10-15 20:17] #4141 closed, assigned to nobody

[2017-10-15 20:22] Beep6581 commented on #4147
@KerimRagimov http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
Update to 5.3, then post the missing info if you can still reproduce.

--edit
Just noticed that you're using the 32-bit build. We dropped support for 32-bit Windows with version 5.0-r1.

[2017-10-15 20:22] #4147 closed, assigned to nobody

[2017-10-15 20:26] Beep6581 commented on #4135
Issue opened:
http://u88.n24.queensu.ca/exiftool/forum/index.php/topic,8628.0.html

[2017-10-15 20:55] heckflosse opened #4148 "This issue is to keep windows builders of rt to be informed about msys2 updates"
Sometimes, I execute `pacman -Syu` in msys2 to check for updates. I don't check regularly but other windows builders also don't seem to check regularly.

I suggest that each rt windows builder writes a short notice here if he detects some updates by executing `pacman -Syu`

What do you think? @TooWaBoo @Hombre57 @Desmis @sguyader @gaaned92

[2017-10-15 21:00] Hombre57 commented on #4148
Fine. Could we add a specific label to this issue ?

[2017-10-15 21:28] KerimRagimov commented on #4147
okay... thank you

[2017-10-15 22:28] Hombre57 commented on #4035
Here is a draft of my patch. There's no Gtk container that will make icons flow correctly, I'll have to create one myself (already copied the code from the Gtk code) but it's not guaranteed.

[editor-toolbar2_diff.txt](https://github.com/Beep6581/RawTherapee/files/1385882/editor-toolbar2_diff.txt)

This patch make the top and bottom toolbar of the editor panel flow. Nothing done in FileBrowser yet

[2017-10-15 23:27] heckflosse opened #4149 "Tiff files are not shown anymore after clearing cache"
Today on irc @Hombre57 reported that tiff files are not shown anymore after clearing cache.
I confirm the bug. I bisected. The Issue was introduced with bb874bc

[2017-10-16 01:34] TooWaBoo commented on #4148
OK
Todays update: :-)
[code]

[2017-10-16 06:03] Desmis commented on #4148
I am not at home actualy.
But I take intout account
Jacques

[2017-10-16 06:43] Beep6581 commented on #4035
It works! Though it needs some tuning ;]
1024x768, gtk+-3.22.16, gtkmm-3.22.1
![screenshot_20171016_084259](https://user-images.githubusercontent.com/5844619/31598452-0ee137d0-b24e-11e7-904d-1762b3579f67.png)

[2017-10-16 12:45] heckflosse commented on #4149
@Hombre57 I think I found the bug...

[2017-10-16 13:00] #4149 closed, assigned to heckflosse

[2017-10-16 19:00] Hombre57 commented on #4149
@heckflosse Nice catch, thanks for the fix :+1:

[2017-10-16 20:11] heckflosse commented on #4149
@Hombre57 De rien.

[2017-10-16 20:18] #4145 closed, assigned to heckflosse

[2017-10-16 20:24] Beep6581 opened #4150 "A fine way of spending a Monday night - DCP profile, color matrix, illuminant"
As a result of an IRC chat with @agriggio , here is a comparison of dual-illuminant DCPs made in four ways using [dcamprof](https://www.ludd.ltu.se/~torger/dcamprof.html#make-profile):
- the daylight shot was taken in summer
  - `make-profile` used `-i D50`
  - `make-profile -i D65`
- the daylight shot was taken in winter
  - `make-profile -i D50`
  - `make-profile -i D65`

http://rawtherapee.com/

[2017-10-16 20:35] Beep6581 commented on #4150
I'm surprised to find no differences...

@atorger should we use `-i D50` or `-i D65` when the other parameters are as in https://github.com/pixlsus/Scripts/blob/master/generateDCP
and should we update the matrices in [camconst.json](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/camconst.json) and if so, with what?

[2017-10-16 21:07] agriggio commented on #4150
necessary premise: consider that my knowledge about colour is pretty basic, so forgive me in advance and take what I write with a couple of grains of salt :-)

But, my understanding (from reading the RT code and the excellent docs of dcamprof at https://www.ludd.ltu.se/~torger/dcamprof.html#white_balance) is that it would be desirable to make sure that the DCP profiles shipped by RT use the same (

[2017-10-17 19:37] heckflosse opened #4151 "Create PartialProfileDlg (Partial Profile Dialog) on demand instead of in advance when starting rt (saves another few ms when starting rt)"
Patch:

[code]

[2017-10-17 19:43] heckflosse commented on #4148
Today's update:

[code]

[2017-10-17 20:11] Hombre57 commented on #2857
@Floessie Your patch is committed.

[2017-10-17 20:21] Hombre57 commented on #4008
I guess we can close now.

[2017-10-17 20:21] #4008 closed, assigned to Hombre57

[2017-10-17 20:29] Hombre57 commented on #3526
@Beep6581 You assigned yourself to this issue. Are you coding it or should I do ?

[2017-10-17 21:26] Hombre57 commented on #3526
@Beep6581 @heckflosse @TooWaBoo

Sorry but since this issue is stalled from dec '16, I did it and committed it to dev in commit 3d4ff41. I hope you don't mind.

Close if ok for you.

[2017-10-18 05:43] Beep6581 commented on #3526
What's there to mind ;)

[2017-10-18 05:43] #3526 closed

[2017-10-18 22:00] heckflosse opened #4153 "Wrong translations calls in code"
Here's a patch which shows translation keys without corresponding translation value:

[code]

When starting rt with the patch applied I get a lot of this ones (double tranlsation calls):

[code]

and

[code]

The following patch fixes these:

[code]

[2017-10-18 22:01] heckflosse commented on #4153
To be continued...

[2017-10-18 22:42] gaaned92 commented on #4148
Ok for me

[2017-10-19 07:52] Desmis commented on #4148
Huge update. I have not updated since the beginning of the year :)

Thank you
Jacques

[2017-10-19 16:36] Benitoite commented on #3963
This is the patch I'm currently using with glibmm:

[code]

[2017-10-19 16:44] heckflosse opened #4154 "get rid of fallbackMgr in MultiLangMgr"
Currently the language support in rt uses one map for the selected language and one map for the `default` language (from which the values which are not translated are picked).

Means, for almost completely translated files like `deutsch` it holds the `deutsch` and the `default` file in memory.

The following patch changes this behaviour. It still uses the same language files as before but holds on

[2017-10-19 18:37] #4151 closed, assigned to heckflosse

[2017-10-19 19:45] Beep6581 commented on #3963
This should probably go into RawPedia if it's necessary.

[2017-10-19 21:41] Benitoite commented on #3963
Yes there is also a need to add info about a Cairo patch and libiomp5_20160808_oss usage. So far there is this data added with some links http://rawpedia.rawtherapee.com/MacOS#Distribution_Bundle_Framework_Library_Versions_in_5.3-dev

[2017-10-19 22:46] Benitoite commented on #4142
Today's session on deb902 over Gnome Vinagre/RDP running RT 5.3 on win 10, no probs.
![capture](https://user-images.githubusercontent.com/17919239/31797536-908bd140-b4e3-11e7-82d8-fd4e581bdb88.PNG)
![img_2884-1](https://user-images.githubusercontent.com/17919239/31797569-b950b000-b4e3-11e7-9710-9f3fe6e0a3c0.jpg)

[2017-10-20 07:10] Floessie commented on #4154
@heckflosse Good idea, Ingo! Some remarks:

1. `for(size_t i = 0; i < fnames.size(); ++i) {`: I don't see `i` being needed for anything but indexing (thus `i`, I suppose 😄), so you should consider converting it to `for (const auto& fname : fnames)`.
2. You should consider using a [`std::unordered_map<>`](http://supercomputingblog.com/windows/ordered-map-vs-unordered-map-a-performance-study/) inste

[2017-10-20 07:38] #4142 closed, assigned to nobody

[2017-10-20 13:51] heckflosse commented on #4154
@Floessie
Thanks for the review.

I did 1. and 3.
I also tested 2. : `std::unordered_map` was faster at insertion but slower at lookup.
I kept the `std::map` and used `emplace_hint` instead of `emplace` to speed up the insertion because the language file entries are roughly sorted by the key.
I updated the patch in first post.

[2017-10-20 19:05] #4154 closed, assigned to heckflosse

[2017-10-21 15:47] heckflosse opened #4155 "-Wextra"
I created a new branch [extraclean](https://github.com/Beep6581/RawTherapee/compare/extraclean) with the intention to get rt clean when built using `-Wextra`.
First commit 9e812bb cleans FTblockDN.cc for `-Wextra`

To check a compilation unit you can simply add
`#pragma GCC diagnostic warning "-Wextra"`
after the last `#include` line.

[2017-10-23 16:08] agriggio commented on #4140
It seems that `Gtk::FileChooserButton` has some serious performance issues, especially on windows (but not only there).

Consider the following test program:

[code]

Here are a couple of tests. Linux:

[code]

Windows 7 (on a VM):

[code]

Maybe we should consider implementing our own file chooser button (doesn't seem to be too difficult).

[2017-10-23 17:47] Hombre57 commented on #4140
@agriggio said :

It is, at least for me. If I'm not mistaken, you have to handle a whole bunch of functions.

[2017-10-23 19:40] agriggio commented on #4140
@Hombre57 maybe you are right, I didn't study the problem in detail yet. But I'll try :-)

[2017-10-23 21:07] bbiesele opened #4157 "Crash on change profile dropdown after opening file"
Opening an .orf file: if the first button you push is to change the profile the program immediately crashes. Pushing any other button before the changing the profile works fine.
[rawTherapeeCrash.pdf](https://github.com/Beep6581/RawTherapee/files/1408799/rawTherapeeCrash.pdf)

[2017-10-23 23:52] Benitoite commented on #4157
Hi @bbiesele, please try the latest dev build: https://filebin.net/8wnm5470s9bi9jo8/RawTherapee_OSX_10.9_64_5.3-68-g41cd29d2.zip
Could not reproduce here; tried changing input color profile, main processing profile, lens fun profile, but no crash on the .orf I gleaned from https://github.com/Beep6581/RawTherapee/issues/4129
If it's still crashing, please upload a sample crashing orf to filebin.net

[2017-10-24 00:31] bbiesele commented on #4157
The development image didn't have the same problem. I usually use a 'open
in' option in Lyn to call RawTherapee. Maybe the issue arises from the way
RT is called. Regardless, I'll live with it till the next release.

Thanks for the prompt response.

Bill B

[2017-10-24 00:49] Benitoite commented on #4157
Ok, the dev build has some updated third-party libraries which may be solving the issue for you.

[2017-10-24 12:52] agriggio commented on #4140
I've pushed a new branch `custom-file-chooser-button` that uses our own button. Note that I haven't implemented the full `Gtk::FileChooser` API, but only the functions that are currently used by RT.
It would be great if you could help testing that everything works as expected :-)
Regarding performance, I don't see much difference here (actually, almost no difference at all), but it is also true th

[2017-10-24 13:33] Beep6581 commented on #4140
Compiled and briefly tested, no issues found!

Opening Preferences in `dev` takes about a second, opening Preferences in `custom-file-chooser-button` takes about 30% less. I could give exact measurements if you tell me where to insert the timer.
Sabayon Linux
gtk+-3.22.19
gtkmm-3.22.1

![imgur-2017_10_24-15 32 47](https://user-images.githubusercontent.com/5844619/31945880-b2a2d954-b8d0-11e7-8363-5

[2017-10-24 15:11] gaaned92 commented on #4140
W10
Though I never really suffered from slow start, I tested:
- start on empty dir seems faster from about 2 sec to about 1 sec.
- issue found : cannot reach the lensfun DB

[2017-10-24 15:13] agriggio commented on #4140
@gaaned92

I can't see how this can be related to my changes... are you sure it doesn't occur with the latest `dev`?

[2017-10-24 15:39] gaaned92 commented on #4140
Of course I tested dev-5.3-69-g8c328caf and it's ok .
I retested and nothing shows up in GUI

[2017-10-24 15:44] agriggio commented on #4140
@gaaned92 can you test this binary? https://filebin.net/yszpw83sr43s76ra/rawtherapee-test.exe
Just put it alongside your "normal" `rawtherapee.exe` from `dev` and let me know if lensfun works in there (it does for me here)

[2017-10-24 15:46] heckflosse commented on #4140
@Beep6581
Here's a patch to measure the start time (not the whole start time, but it includes the FileChooserButtons)

[code]

[2017-10-24 16:17] Beep6581 commented on #4140
Sabayon Linux
gtk+-3.22.19
gtkmm-3.22.1

[code]

[code]

[2017-10-24 16:18] heckflosse commented on #4140
I measured on Win7 with the patch from last post:
before : ~1400 ms
after: ~900 ms

Lensfun still works fine here

Edit: the above timings have been with HaldClut folder non empty.
With HaldClut folder set to an empty folder it's ~60 ms less in both cases.

[2017-10-24 16:24] gaaned92 commented on #4140
@agriggio  when put in the dev build the rawtherapee-test and rawtherapee-74 find the DB. so it's an other problem.
liblensfun.dll was missing.

[2017-10-24 16:46] gaaned92 commented on #4140
Windows10

[code]

[code]
And lensfun works fine

[2017-10-24 16:56] Beep6581 commented on #4140
Lensfun works fine in `custom-file-chooser-button` in Sabayon as well.

[2017-10-25 07:55] Beep6581 commented on #4140
@agriggio the only issue I saw was the minor one of the new widgets lacking the outside padding which the old widgets had - see my screenshots above.

[2017-10-25 07:57] gaaned92 commented on #4155
Using the -Wextra flag generates huge amount of warnings. Thus you will have a hard work to clean all the code.
If I can help don't hesitate to ask.

[2017-10-25 08:31] agriggio commented on #4140
thanks, see if it's better now

[2017-10-25 10:47] heckflosse commented on #4155
@gaaned92

That's the reason I use

`#pragma GCC diagnostic warning "-Wextra"`

after the last `#include` line per compilation unit.

Here's the list of rtengine compilation units:

- [x] CA_correct_RT.cc
- [x] EdgePreservingDecomposition.cc
- [x] FTblockDN.cc
- [x] PF_correct_RT.cc 54a07be
- [x] amaze_demosaic_RT.cc
- [x] cJSON.c 87c109a 7b3c36c
- [x] calc_distort.cc
- [x] camconst.cc
- [x] cfa_l

[2017-10-25 10:53] tuvalkin commented on #4142
If you open the list "Method: Blend", you have it open? The list Method takes place? On the screenshot the list is closed.  In the screenshot I do not see that there is no problem.

Если вы открываете список "Метод", он у вас открывается? Список Метод разворачивается? На скриншоте список закрыт. На скриншоте я не вижу что проблемы нет.

[2017-10-25 12:27] Beep6581 commented on #4135
The changing element in the lens ID is handled programmatically by ExifTool:
[code]
https://sourceforge.net/p/exiftool/code/ci/master/tree/lib/Image/ExifTool/Nikon.pm#l7866

[2017-10-25 12:30] gaaned92 commented on #4155
GCC7.2.0

for shmap.cc, utils.cc, stdimagesource.cc, slicer.cc, simpleprocess.cc, shmap.cc

[code]

[code]

[2017-10-25 12:39] gaaned92 commented on #4155
for  refreshmap.cc, rawimage.cc, profilestore.cc, processingjob.cc, previewimage.cc, pixelshift.cc
no warning

[2017-10-25 12:49] gaaned92 commented on #4155
for pipettebuffer.cc, myfile.cc, loadinitial.cc, lcp.cc, klt/writefeatures.cc, klt/trckfeatures.cc, klt/storefeatures.cc
[code]

[2017-10-25 12:56] gaaned92 commented on #4155
for all other /klt .cc files no warning

[2017-10-25 13:01] Floessie commented on #4155
With GCC 7.2.0 I got an extra warning and (worse) an error. Here's the fix for both:

[code]

Best,
Flössie

[2017-10-25 13:13] gaaned92 commented on #4155
for jpegmemsrc.cc, jdatsrc.cc, ipvibrance.cc, iptransform.ccipsharpen.cc, ipretinex.cc, ipresize.cc, iplab2rgb.cc

[code]

[code]
[code]
[code]

[2017-10-25 13:36] Benitoite commented on #4142
I didn’t have a problem with the drop down list checkboxes I used, but I can try that particular one later.

[2017-10-25 14:15] raceviper13 opened #4159 "LCP distortion correction not auto cropping black areas?"
I don't have the information with me now on the specific RT version I am using (5.3-???).  I will add that tonight when I have a chance.

With the change to the lens correction (lensfun I think), it seems that the LCP no longer auto crops out the black areas due to correcting the distortion to the image.  I am getting a lot of occurrences of this depending on lens focal length, and focus distance.

[2017-10-25 14:20] heckflosse commented on #4155
@Floessie

Strange. I'm also on gcc 7.2.0 and got no error

@gaaned92 Thanks a lot for checking!

[2017-10-25 15:58] Beep6581 commented on #4159
@raceviper13  please upload sample raw files + LCP files along with your version info. Unzipped, using https://filebin.net/

[2017-10-25 19:38] gaaned92 commented on #4155
Do you intend to do that also for rtexif and rtgui?

[2017-10-25 20:40] heckflosse commented on #4155
@gaaned92 yes!

Edit: I know we won't get it completely clean. My intention to get it cleaner than before is not for performance reasons but for the reason not to waste thoughts about unused parameters or other stuff reported by -Wextra in future, so we hopefully can detect newly introduced warnings, which is not the case at the moment as there are too many warnings.

[2017-10-25 21:09] raceviper13 commented on #4159
OK, it looks like the problem is occurring when rendering the JPG because it looks like it is being cropped in the preview window properly.

Here is a single image that exhibits the problem.  If you need additional ones, please let me know.

https://filebin.net/q1iofpm73xjp8sc3

Version: 5.3
Branch: 5.3
Commit: ec0f7936
Commit date: 2017-09-30
Compiler: gcc 7.2.0
Processor: generic x86
System: Win

[2017-10-25 21:52] agriggio commented on #4159
@raceviper13 thanks, confirmed. It's a bad interaction between Distortion and Chromatic Aberrations correction. I'll fix it ASAP, but in the meantime you can work around it by de-selecting "Chromatic Aberration Correction" in "Profiled Lens Correction". Since you are already using RAW CA auto-correction, the setting would be useless anyway... (of course, this is just a workaround and we should fix

[2017-10-26 07:42] tuvalkin commented on #4142
ОК

[2017-10-26 16:49] Benitoite commented on #4142
Seems to work ok here using Microsoft Remote Desktop on mac as well as Remmina on Debian 9.2.1 to Win 10.

[2017-10-26 17:11] tuvalkin commented on #4142
You are using Windows 10 and I am running Windows 7 and Windows server 2008 R2. So that's the reason

[2017-10-26 17:33] Benitoite commented on #4142
Have you tried other protocols?

[2017-10-26 21:07] mandree opened #4161 "RT 5.3-70-g1c86c3c + lensfun v0.3.2 unable to pick lens of Sony RX10 and RX100 II automatically"
I am using RawTherapee 5.3-70-g1c86c3c (dev branch) along with
lensfun v0.3.2 from Git, commit ef537313ff5a2c977f60f10bd09fd155a85535a7, on Ubuntu 16.04LTS on a 64-bit installation.

RX100-II: Trying to auto-correct the lens with lensfun does not work, it is greyed out. The module does pick the right camera, and displays "SONY DSC-RX100M2", and leaves the lens combo gadget empty.
I can pick "Sony

[2017-10-27 10:38] gaaned92 commented on #4161
- as the two cameras are fixed lens camera, there is no need to identify the lens. Rawtherapee will display "Unknown": that is normal.

- lensfun has a mecanism to find the corresponding lens. With your two cameras, it fails.
Changing the lens name to "DSC-RX10 & compatibles" and "DSC-RX100M2 & compatibles" permits to have an automatic matching. I open a ticket on lensfun site [http://lensfun.sour

[2017-10-27 19:55] supertobi commented on #3569
GoPro Open Sources the CineForm Codec:
https://gopro.com/news/gopro-open-sources-the-cineform-codec

https://github.com/gopro/cineform-sdk

[2017-10-27 23:09] DeziderMesko commented on #3510
For me, (RT 5.3) any shortcut related to filtering (rank, color labels) is not working.

And btw even I understand that new releases are useful for all platforms users, only partially functional keyboard shortcuts effectively repel all MacOS users.

[2017-10-28 14:52] Beep6581 commented on #4035
@Hombre57 how is this progressing, any changes to be tested?

[2017-10-28 15:38] Hombre57 commented on #4035
@Beep6581 This issue is second on my TODO list. I'm actually trying to finish the `save-strategy2` branch.

For this UI enhancement, I have to code a container which is a first time for me, but I've copy/pasted the code from the Gtk source and hope to come with something functional for this precise use case.

[2017-10-28 16:30] Beep6581 commented on #3271
Ctrl+Shift+c to "Copy to"
Ctrl+Shift+m to "Move to"

Please test:
[code]

[2017-10-28 23:50] waxhead opened #4162 "Something in this directory causes RT to crash"
Latest git update today, aboutThisBuild:

RT opens fine, however for this specific directory RT is hanging or crashing. Thought it worth reporting.  This isn't the debug build, however happy to provide one if you need it.

[log.txt](https://github.com/Beep6581/RawTherapee/files/1424698/log.txt)

Version: 5.3-70-g1c86c3c
Branch: dev
Commit: 1c86c3c
Commit date: 2017-10-26
Compiler: cc 5.4.0
Process

[2017-10-29 13:57] mattiaverga commented on #3885
I didn't see similar crashes reported on Fedora anymore, so I think this report can be closed.

[2017-10-29 13:57] #3885 closed, assigned to nobody

[2017-10-29 16:02] Beep6581 commented on #4162
Please provide a stack backtrace from a debug build.

[2017-10-29 17:31] #3271 closed

[2017-10-29 19:12] kfiresmith opened #4163 "TIFF files sent directly to Gimp by RawTherapee are without EXIF"
The only way to preserve EXIF data is to save a TIFF file, then open with Gimp.  When the hand-off is done using the convenience button, the TIFF created and handed to Gimp does not contain any EXIF data.

Test host is running latest version of both programs on 64 bit Fedora 26.

[2017-10-29 19:39] heckflosse commented on #4163
Please tell us which the latest versions of both programs on 64 bit Fedora are!

[2017-10-29 19:41] kfiresmith commented on #4163
Sorry @heckflosse  - I should have been more clear, they are the same as the latest stable upstream, thus, Rawtherapee 5.3, Gimp 2.8.22.  Distro-specifically:
rawtherapee-5.3-2.1.x86_64
gimp-2.8.22-2.fc26.x86_64

[2017-10-29 20:21] Beep6581 commented on #4163
Please upload the requested files:
https://discuss.pixls.us/t/preserving-exif-through-the-rawtherapee-gimp-pipeline/5475/7?u=morgan_hardwood

[2017-10-29 20:25] kfiresmith commented on #4163
Sorry @Beep6581  - I have a really slow connection and the .tif is large - it's been processing for a while now.  Will link when it finishes.

[2017-10-29 20:27] Beep6581 commented on #4163
@kfiresmith you could enable resizing in RT, set the scale to 0.01. Then the TIFF file will be tiny.

[2017-10-29 20:27] kfiresmith commented on #4163
...and they are done.  Apologies again.
https://filebin.net/oly30i9oyynahqr8

[2017-10-29 20:30] kfiresmith commented on #4163
Looks like the .tif file in /tmp *does* contain proper EXIF data.  So now I'm stumped about why the JPEG coming out of GIMP doesn't include EXIF data.

[2017-10-29 20:46] Beep6581 commented on #4163
Thank you. Both the TIFF and the JPEG contain metadata, including Exif and makernotes.

As I quoted in the forum, even GIMP's own developer Mitch wrote that metadata is broken in 2.8. Update to GIMP 2.9.6 if you can.

[2017-10-29 20:46] #4163 closed, assigned to nobody

[2017-10-29 20:58] rav-rav opened #4164 "YI M1 RAW images - white becomes pink"
When I import DNG files from my YI M1 camera, the auto-matched camera profile is applied.
This profile however seems to turn bright white colors into pink. Adjusting highlight compression makes it even worse.

The only fix seems to be to use "no profile" for color management, or is there another way?

Here's an example raw file: https://drive.google.com/open?id=0B6dJjdJMeyFAS0U5TmN0R1hnQkU
And the

[2017-10-29 21:03] Beep6581 commented on #4164
@rav-rav probably the white point is incorrect, but I can't tell because the link contains no file. Go to the Raw tab > Raw white points and increase the value above 1.0 until the clipped magenta regions turn white.

[2017-10-29 21:31] rav-rav commented on #4164
Oh, the link didn't work as expected, I fixed the initial post.

Thanks, increasing the value by 0.01 to 1.01 suddenly completely fixes the issue. The whole histogram makes a huge jump between 1.0 and 1.01 and everything looks fine.

Somehow however I'd expect the image to look like this from the beginning at 1.0.

[2017-10-30 08:21] gaaned92 commented on #4161
@agriggio
The same problem happens for Panasonic fixed lens cameras.
See at [https://sourceforge.net/p/lensfun/bugs/91/](https://sourceforge.net/p/lensfun/bugs/91/) the answer of  Torsten Bronger.
Is the same logic is applied for fixed lenses cameras in Rawtherapee?
Title should be: Rawtherapee unable to pick lens of fixed lens cameras.

[2017-10-30 08:23] iliasg commented on #4164
@Beep6581 @rav-rav @heckflosse

It would be so if the maker name was same as in the first samples (was beta samples ..) we checked  i.e. "XIAOYI" instead of the current "YI TECHNOLOGY"

The problem is that the DNG tag reports wrong WhiteLevel .We have set a more conservative white level in camconst.json but it's inactive for the new maker name ;)

We have to update the dcraw.cc and camconst.json c

[2017-10-30 09:08] agriggio commented on #4161
@gaaned92 thanks for the heads-up. I was unaware of this "trick" -- either it is not documented, or I simply could not find it in the docs (may very well be the latter).
I'll fix it.
The logic I was using was taken from UFraw, btw.

well, in many cases the current logic works...

[2017-10-30 09:18] gaaned92 commented on #4161
...
It works when lens name is the same as camera name  I think.

I am unable as well to find it.

[2017-10-30 10:00] Beep6581 commented on #4164
Fix confirmed:
[code]

@heckflosse IIRC we agreed to only update the dcraw patch when a new version comes out, not after every change, is that correct? If so, is the above ok to commit?

[2017-10-30 11:05] agriggio commented on #4161
Here's a patch -- can someone test it please? I tried on the two raws above and it works, but I'd like to get some more coverage for other fixed-lens cameras...

[code]

[2017-10-30 11:34] heckflosse commented on #4164
@Beep6581 That's correct. Ok to commit

[2017-10-30 12:12] #4164 closed, assigned to Beep6581

[2017-10-30 15:53] Benitoite commented on #4161
@agriggio Your patch works perfect for the RX100M2, but for me the RX10 was not recognized in the lensfun section. I'm on mac using the lensfun 3.2.0 sourceforge database.  If I had a more up-to-date database, I suppose it would work as well? RX10 doesn't seem to be in my list under Sony.

[2017-10-30 15:56] agriggio commented on #4161
@Benitoite it's probably a lensfun thing, I agree. It works here:
**EDIT**: sorry, I had attached the wrong screenshot :-)

![screenshot from 2017-10-30 16 56 55](https://user-images.githubusercontent.com/11982086/32180873-6999e302-bd93-11e7-931f-116b19e4f605.png)

[2017-10-30 16:34] gaaned92 commented on #4161
Works for Sony RX10 and RX100 II and also for panasonic FZ1000.
For W10 test `RawTherapee_dev_5.3-86-ga2a70bff_WinVista_64.zip` uploaded at
[https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2017-10-30 17:18] gaaned92 commented on #4161
@Benitoite
Sadly all Lensfun versions ( 3.2.0 tagged or last master) appear with 3.2.0 version number. So it is of no use.
To know what DB version you use, the only way is to get the timestamp.
The last timestamp  is 1509280372.
As you build yourself, the best is to clone lensfun from sourceforge, build it (it's straihtforward on Windows, should be easy on Mac) and build RT against it.

[2017-10-30 17:49] Benitoite commented on #4161
1447322002 is my current timestamp.  I believe I have it as cloned from source forge and checked out tag `v0.3.2`.  I will have to try `master`, if that is working ok for windows...
`master` seemed to work ok but I had to take out -std=c++11

[2017-10-30 18:09] gaaned92 commented on #4161
v0.3.2 tag is quite old. Definitely you should try master.
I don't provide any compile flag, but I get a lot of warnings. Nevertheless it works.
It seems lensfun guys are working hard as there are frequent updates. new timestamp 1509356205

[2017-10-31 06:00] Beep6581 commented on #3558
`5.3-85-g`8aa3b75c

[2017-10-31 07:59] waxhead commented on #4162
OK, I'm going to have to admit that I can't recall the directory, I had a look at the log file and that directory works fine.

Can we leave this one open for a little longer I may be able to find it again and I have the debug version built now.

[2017-10-31 08:04] #4161 closed, assigned to nobody

[2017-10-31 09:45] mandree commented on #4161
Note that newer lensfun versions broke the API deliberately, so may not work with other consumers...

FTR, update "lensfun-update-data" to get an up-to-date camera-and-lens corrections database, and if you do that as root (on your own computer) you'll get it for all users.

My original problem appears solved, thanks to Torsten Bronger and @agriggio.

[2017-11-01 21:29] Hombre57 commented on #4057
@mattiaverga Is it possible that the bug's OP comes here to provide more information and answer some questions ?
   1. Could you try with current version 5.3, the RTExif module has been modified since then
   2. Does it occur every time for some images, or occasionally even with a given image ?
   3. If always reproducible with an image, could you upload it to filebin (or other file sharing servic

[2017-11-01 23:41] Hombre57 commented on #2857
Dev merged into `save-strategy2`, which got a new commit prior to this. It's on the right track, but still has minor things to solve.

@neilpho @Beep6581 @midluk @heckflosse @Floessie : I'm planning to update the thumbnail only when the user manually save its work thanks to the new Save button (or the existing shortcut). Anyone against that ? I don't think it makes sense to let the thumbnail repre

[2017-11-01 23:45] Hombre57 commented on #3970
@heckflosse Is this issue still valid with the latest Gtk package ?

[2017-11-02 09:18] mattiaverga commented on #4057
I'll try to contact the OP and get some more clarifications.
In Fedora 26 we're still using 5.2, so it may be possible to reproduce the bug.

[2017-11-02 11:10] gaaned92 commented on #2857
@Hombre57
W10 : on starting it changes some parameters of the option file: theme, disposition, default profile...

[2017-11-02 12:41] gaaned92 commented on #3970
W10 +gtk3.22.24
F11 ok
win+m : ok
win+down arrow key: ok
win+up arrow key: transfom windowed to maximized ok

[2017-11-02 15:13] Hombre57 commented on #2857
@gaaned92 Commit 822a2c9 should fix the problem.

[2017-11-02 18:14] gaaned92 commented on #2857
@Hombre57  yes, fixed.

[2017-11-03 11:30] Hombre57 opened #4165 "HDR Tonemap Fattal crash"
If you open [this file](https://pixls-discuss.s3.amazonaws.com/original/2X/8/870226bc6b73d83438602cfa7f7ca0eab7ed4d23.DNG) , set the neutral profile and activate the Fattal tool, RT will crash.

[2017-11-03 12:29] Beep6581 commented on #4165
RT has a Fattal tool?

[2017-11-03 12:35] Hombre57 commented on #4165
Check IRC logs, and see `hdr_tonemap_fattal` branch

[2017-11-03 12:54] agriggio commented on #4165
warning: it might put your computer on fire... it's not ready for prime time yet

[2017-11-03 13:45] Beep6581 commented on #4165
!!! :+1: :smile: :beers:

[2017-11-03 16:37] agriggio commented on #4165
@Hombre57 can you try now? I made a few fixes...

[2017-11-03 16:51] Hombre57 commented on #4165
@agriggio Yes, it works now :+1: .

@Beep6581 Should I close this issue or leave it open for other bugs/suggestion for this new tool ?

[2017-11-03 22:53] Beep6581 commented on #4165
@Hombre57 I'd close it, as it's about some specific crash.

[2017-11-04 01:38] Hombre57 commented on #2857
The save-strategy2 branch is almost finished in a feature point of view. I'll remove the debug outputs before merging.

How does it works now (use this for documentation) :

-----------------------------------

There is two new options in Preferences now (one was already ther in the options file, w/o GUI) :
   1. "**Save profile when closing the Editor or when switching to another image**" : if ch

[2017-11-04 01:40] #4165 closed, assigned to agriggio

[2017-11-04 10:41] TooWaBoo opened #4166 "Branch: hdr_tonemap_fattal, Crash when Alpha = 0 and Beta <> 1"
How to reproduce:
1. Open an image and apply profile "Neutral"
2. Set HDR Tone Mapping Alpha = 0
3. Change Beta to something else --> Crash

[code]

[2017-11-04 15:27] Beep6581 opened #4168 "Fattal"
# Parameters

Regarding the slider names, I will quote from http://osp.wikidot.com/parameters-for-photographers

If we were to rename the sliders, I would suggest "Threshold" and "Amount".

Good defaults for us seem to be alpha = 1 and beta = 0.8.

The code would need to be double-checked first to make sure that alpha and beta still do what the docs say they do. I presume the above was written bas

[2017-11-04 16:53] Beep6581 commented on #4155
GCC 4.9.3

CA_correct_RT.cc

[code]

[code]
[code]

[2017-11-04 16:57] falket opened #4169 "Lensfun vignetting correction and clipped highlight"
[code]
I have tried to develop a raw image shot with my phone, for which i've just profiled vignetting (huge).

Without vignetting correction i'm able to recover almost all the details in the sky, but when i turn vignetting correction on, the sky becomes really clipped and unrecoverable.

I attach screenshot.

And here the dng, the pp3s (prova is without vignetting correction, the other one with v

[2017-11-04 17:02] Beep6581 commented on #4155
`dcp.cc`

[code]

[2017-11-04 17:11] Beep6581 commented on #4155
`image8.cc`
[code]

[2017-11-04 17:11] Beep6581 commented on #4155
`image16.cc`
[code]

[2017-11-04 17:13] Beep6581 commented on #4155
`imagedata.cc`
[code]

[2017-11-04 17:14] Beep6581 commented on #4155
`imagefloat.cc`
[code]

[2017-11-04 17:15] Beep6581 commented on #4155
`improccoordinator.cc`
[code]

[2017-11-04 17:18] Beep6581 commented on #4155
`ipsharpen.cc`
[code]

[2017-11-04 17:19] Beep6581 commented on #4155
`iptransform.cc`
[code]

[2017-11-04 17:24] agriggio commented on #4168
@Beep6581 thanks for the docs! I've just pushed a changeset that moves Fattal earlier in the pipeline, before RGB processing and right after distortion/perspective/ca correction. Now the sliders and curves should behave as expected (if not, please let me know).

I agree about changing the names, but if we go for "Beta => Amount" I also suggest that in the GUI we expose `1/beta`, so that increasing

[2017-11-04 17:28] agriggio commented on #4168
P.S: Fattal is by far the best tone-mapping operator that I have seen. Kudos to the LuminanceHDR guys!

[2017-11-04 17:30] Beep6581 commented on #4155
`stdimagesource.cc`
[code]

[2017-11-04 17:46] Beep6581 commented on #4155
I also tested these files which weren't in the list above, with no issues found:
- ex1simple.cc
- fujicompressed.cc
- rtetest.cc

[2017-11-04 18:33] Floessie commented on #4155
@Beep6581

[code]

Those are false positives. AFAIK brace initializers in C++11 are guaranteed to zero-initialize.

[2017-11-04 18:40] Beep6581 opened #4170 "Fattal - segfault in LUT.h"
Segfault when sliding Alpha=0
[code]
[code]

[2017-11-04 18:44] heckflosse commented on #4169
@agriggio Alberto, do we need an equivalent of the flat field clip control also for lensfun vignetting correction?

[2017-11-04 18:55] TooWaBoo commented on #4166
Closing this, 'cause @Beep6581 did a more detailed bug report.
https://github.com/Beep6581/RawTherapee/issues/4170

[2017-11-04 18:55] #4166 closed, assigned to nobody

[2017-11-04 19:36] Hombre57 commented on #4168
@Beep6581 @agriggio Since we already use Strength here and there in other tools, could we use it instead of Amount ?

Since Amount (strength) and 1/beta does not refere to anything (other than what is clearly visible as being fill light, in photographic term), I don't think we need to annoy users with `1/beta` in the label.

Btw, I'm ready to commit a patch for the GUI, I'm just waiting for the an

[2017-11-04 19:56] agriggio commented on #4168
@Hombre57 I was suggesting to *implement* amount/strength as `1/beta`, not to show this label to users :-)
otherwise, I would find it very counterintuitive that to increase the amount you need to move the slider to the right...

[2017-11-04 19:57] agriggio commented on #4168
sorry, meant "to the left". I have a problem distinguishing between left and right (seriously, I think this syndrome has even a name...)

[2017-11-04 19:59] agriggio commented on #4170
thanks, seems a dupe of #4166. I'll add guards in the code

[2017-11-04 20:00] heckflosse commented on #3960
@iliasg I will push a branch this weekend which allows to define a raw crop in pp3 file as a variation of the standard raw crop (from dcraw or camconst.json). Still no gui for that. But the raw engine will use the settings from pp3 file then in case the raw crop in pp3 file is enabled.
FF and DF will also be adopted to the raw crop in pp3 in the new branch.

[2017-11-04 20:00] agriggio commented on #4169
@heckflosse might be a good idea :+1:

[2017-11-04 20:27] fcomida commented on #4168
I recently implemented global post-saturation and post-gamma. I'm open for
renaming parameters in GUI and changing their behavior (if a parameter is
named contrast, users intuitively expect increasing 'contrast' yields an
image with a stronger contrast, obviously).
Since LHDR is out there for many years there are users accustomed to the
old behavior though, probably with many pre-sets...

[2017-11-04 20:38] Hombre57 commented on #4168
@Beep6581 @fcomida I used `Amount (Beta)` finally. No need to change anything in LHDR, however RT's documentation can explain that the most visible effect of pulling down Beta is to relighten dark areas, hence the _fill light_ terminology. We are accused to produce a software for scientists and engineers, not for photographers because of terminology, we have to explain things for several audience.

[2017-11-04 20:44] heckflosse commented on #4169
@agriggio @falket I will take the issue

I just tested using neutral profile and the lensfun entry provided by @falket

With current source the lensfun vignetting correction clearly clips. Left is without lensfun vignetting correction, right is with lensfun vignetting correction (black areas are clipped):

![lfvignclip](https://user-images.githubusercontent.com/13733487/32409267-d9415294-c1a8-11e7

[2017-11-04 20:51] agriggio commented on #4170
fixed in 9db14cc52101e899dff1c76115b9fa5314e3efa6

[2017-11-04 22:09] TooWaBoo commented on #4169
This happens for lcp profiles too.

[2017-11-04 22:13] symbolsim opened #4171 "Automatic Chromatic Aberration not present, FUJI XT20 XC 16-50mm"
Hi!

Just started using RawTherapee, amazing open-source program! I was reading about the automatic chromatic aberration correction tool in the wiki, however this tick box is unavailable for my photos (Gujufilm XT20,  XC 16-50mm lens)

DOes anybody know how I can get the automatic chromatic abberation to work for my setup?

Regards

Marcus

If you are filing a bug report, please first read the gui

[2017-11-04 22:30] heckflosse commented on #4171
@symbolsim The current implementation of automatic raw ca correction only works for bayer sensors, not for xtrans sensors.

[2017-11-04 22:31] heckflosse commented on #4169
@TooWaBoo If you can provide a raw and lcp to reproduce I will try to solve the issue also for lcp.

Ingo

[2017-11-04 22:44] TooWaBoo commented on #4169
@heckflosse It's an overexposed picture of my pocket cam.
https://filebin.net/u7hb0mjfrbpq9p3t

[2017-11-04 22:56] Hombre57 commented on #4168
One more test image (not meant to be nice, but to test sunset) : https://filebin.net/4jflbkhd4yuybxf8

Do not put in test_images.

[2017-11-04 23:07] heckflosse commented on #4169
@TooWaBoo The current clip control (as implemented for flat fields) only works correctly for raw files which before vignetting correction are not clipped in highlights but are clipped in highlights after vignetting correction. Do you have such an example for lcp vignetting correction?

[2017-11-04 23:14] TooWaBoo commented on #4169
I've noticed this only for clipped highlights. Checked some other pictures but couldn't find one.

[2017-11-04 23:17] sguyader commented on #4168
Cool to see the addition of this TMO to RT!

[2017-11-04 23:48] heckflosse commented on #4168
@agriggio Short notice about the crash caused by using fftw in more than one thread and the lock: Maybe we need to use the same lock we use in denoise also in fattal to avoid fftw being called in denoise while it is called in fattal or vice versa. Otherwise we may get crash situations which are very hard to detect...

[2017-11-05 01:14] heckflosse commented on #4168
Because of fftw usage in fattal I would like to suggest this tests before merging fattal into dev:

1) Apply fattal to all files of a folder. Close rt and start rt. Should not crash.

2) Put all the fattal files to queue, start the queue, while queue is processing, open fattal files. Should not crash

3) Put all the fattal files in queue. Enable Denoise and also Luminance Denoise inside of Denoise

[2017-11-05 11:33] Beep6581 commented on #4155
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55805

[2017-11-05 15:45] sguyader commented on #4168
@heckflosse
I did the tests above, and all 3 passed fine.
I just had one segfault in 2., while I was zooming in/out on a file and turning fattal on/off while the queue was processing. Unfortunately I had verbose=false so I didn't see any additional information. I tried to trigger the crash again but couldn't so far.

[2017-11-05 18:08] Beep6581 commented on #4170
I'm still getting a segfault in LUT.h

I batch-enabled Fattal in all images in the test_images folder, put them to the queue, and when I start the queue, crash. The first two images are the little PNGs.

https://paste.pound-python.org/show/KzQ7iPppeTLhh8h9FEYv/
[code]

[2017-11-05 18:10] agriggio commented on #4170
there's a div by zero somewhere I guess. can you also upload the pp3s?

[2017-11-05 18:30] heckflosse commented on #4170
@agriggio Alberto, maybe the div by zero is in the last loop of `ToneMapFattal02` when `Y` is zero

[2017-11-05 18:33] agriggio commented on #4170
but Y should not be zero there -- see how it is computed above

[2017-11-05 18:40] heckflosse commented on #4170
@agriggio Do I confuse `Y`and `l` or you?

Edit: I already wondered why `l` is clamped by a small espilon...

[2017-11-05 19:21] agriggio commented on #4170
I don't have the code in front of me, but `Y` should contact straight from `Yr` iirc, which should not be zero by construction -- see how it is computed. unless I made some mistake of course...

clamping of `l` instead comes from the original code

[2017-11-05 19:25] Beep6581 commented on #4170
PP3 from `.config/RawTherapee/batch/`: https://filebin.net/jkf5o0pfqys7lppn

[2017-11-05 19:26] heckflosse commented on #4170
@agriggio ok,

Another thing (though unrelated to the crash): with the latest optimizations and the multithreaded fftw stuff the bottleneck now is `findMaxMinPercentile` which needs about one second for a 10 MP file on my machine

[2017-11-05 20:24] heckflosse commented on #4170
@agriggio
[code]
In case Yr_med is zero, you will get a yr value of zero, which can lead to a division by zero later...

[2017-11-05 22:08] heckflosse commented on #4168
@sguyader Thanks for testing!!!

@agriggio Please don't waste time on speeding up findMaxMinPercentile. I've an about 100x speedup for this function on hold.

[2017-11-05 23:23] Hombre57 commented on #4109
@heckflosse Why not creating a new sensor type "MONO" to keep things consistent ?

Other than that, this is a nice speedup. :+1:

[2017-11-06 00:13] heckflosse commented on #4168
@agriggio I pushed the findMaxMinPercentile speedup

[2017-11-06 07:06] Desmis commented on #4168
@agriggio
I am absent 4 days, and when I come back there is a new interesting feature in RT. Alberto is shooting faster than his shadow. :)

I tested on several files:
* overall this version of TM is less aggressive than that already present in RT and gives more natural results.
* what surprises a little is that: alpha = 0 and beta = 0 there is an action, it is not very intuitive
* more after many

[2017-11-06 07:57] agriggio commented on #4168
@heckflosse awesome! :+1:
@Desmis thanks for testing! three main motivation for the new tool is that it works much better (for me) with images with lots of dynamic range. regarding the 0,0 setting, I don't know why it has an effect, did you try on luminance HDR to see if it happens also there? (neutral would be 1.0,1.0 there). anyway I think it's not a big deal, and if you prefer we could just set

[2017-11-06 08:10] Desmis commented on #4168
@agriggio
I don't test with luminance HDR
If I set 1, 1, it's the same thing. For me no problem, we can easily enabled / disabled "HDR tone mapping". I think write in Rawpedia is enough :)

jacques

[2017-11-06 08:13] Beep6581 commented on #4168
I don't experience a slow-down, but if you do, you can use GBD to attach to the already-running process `gdb -p 123`, stop it `ctrl+c`, and see what it's doing `bt full`.

[2017-11-06 08:13] agriggio commented on #4168
@Desmis yes it is the same thing, bit since the sliders are not at 0 it should be less unintuitive that they still have an effect ;-) and I agree with you: if you want no effect at all, you can just disable the tool

[2017-11-06 09:03] Floessie commented on #4168
I was totally unaware of this new branch and gave it a short try. First of all: 👍 I also like Fattal best in LHDR. Thanks, Alberto, for porting this over.

* Although I have the latest commit with Ingo's optimization, it takes 6 to 7 seconds in 1:1 from moving one of the sliders to see a result here (albeit just a two-core VM). The processing bar shows 100% all the time.
* Are you planning for fur

[2017-11-06 09:38] Beep6581 commented on #2476
Fattal has been added to RT in #4168, closing.

[2017-11-06 09:38] #2476 closed

[2017-11-06 09:47] Beep6581 commented on #4168
I reviewed the other LHDR TMOs again yesterday, you can find sample HDR images, intermediate LHDR output TIFFs and final JPEGs after tweaking in RT here: https://filebin.net/t8wlo4kvkglulf30

[2017-11-06 09:55] agriggio commented on #4168
@Floessie, thanks for testing! Regarding your questions:

- 1:1 preview is slow because Fattal is a global operator, so to have meaningful results you need to apply it to the full image. This means that even if you open a crop detail window, RT will work on the full 1:1 image if Fattal is enabled. There are some things that can be done to speed this up, but I'm a bit reluctant to invest time on th

[2017-11-06 11:54] Hombre57 commented on #4168
@agriggio

I don't know what you have in mind here, but we could at least cache some data to reuse between Preview and Crop (if not already done, didn't checked that yet). If you think it's too much data to store, we could make it optional in "Preferences / Performance".

PS : and if you don't have time to do it, I should be able to do it, though memory management guru here might have better techn

[2017-11-06 11:59] Hombre57 commented on #4168
@Floessie About internal names of TMO, in don't think it will be a problem to assign a different _root_ name to each TMO which will be independent tool anyway (if one ever want to add more, however this one is so effective that I personally don't need other). In such case, having a dedicated ToneMap tab could make sense in a GUI p.o.v. (not necessary actually)

[2017-11-06 12:36] Floessie commented on #4168
@Hombre57

Okay, I thought the way to go would be to stick with the "HDR Tone Mapping" box and have a drop-down for the different TMOs. A dedicated tab feels a bit like an overkill to me. Just my 2¢.

As I read "cache" here: If you're looking for a generic LRU cache, there is one in [cache.h](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/cache.h) (shameless self-promotion 😁).

[2017-11-06 12:43] wierd480 opened #4172 "Large number of red, green and blue pixels in dark areas when using Nikon ICM-files"
- Versions: all versions later than 4.0.11.1

- Latest version tested:
   Version: 5.3
   Branch: releases
   Commit: ec0f7936
   Commit date: 2017-09-30
   Compiler: x86_64-linux-gnu-gcc 5.4.0
   Processor: x86_64
   System: Linux
   Bit depth: 64 bits
   Gtkmm: V3.18.0
   Lensfun: V0.2.8.0
   Build type: Release
   Build flags: -O3 -std=c++11  -Werror=unused-label -fopenmp -Werror=unknown-pragma

[2017-11-06 12:55] agriggio commented on #4168
That would also be my expectation... except that I agree that we don't need more :-)

we could do also that, but I didn't think about it. What I have in mind is a general restructuring of the pipeline, but this is a longer-term solution. For the specific issue here, what I had in mind is to use the full image only until Fattal is applied (which is relatively early in the pipeline), and then crop a

[2017-11-06 13:06] heckflosse commented on #4168
@Floessie

can you try to build with this #ifdefs removed:

`RT_FFTW3F_OMP`

The fftw3 lib on Windows works fine with multithreaded fftw even when the `fftw3f_omp` is not installed.
Maybe we can remove this condition also on Linux.

[2017-11-06 13:08] agriggio commented on #4168
and then it will fail at link time on my machine :-)

I'll post a patch here in a moment, so you can test a more general solution.

[2017-11-06 13:29] agriggio commented on #4168
@heckflosse Ingo can you try this?

[code]

[2017-11-06 13:58] sguyader commented on #4172
Reproduced here. The color artifacts appear when false color suppression is activated, for all demosaicing algorithms, they disappear when false color suppression is turned off.
This happens only with the provided ICM profile, but not whith the bundled DCP profile.

[2017-11-06 14:33] heckflosse commented on #4168
@agriggio Works fine with the patch.

[2017-11-06 14:43] agriggio commented on #4168
@heckflosse great, feel free to commit. Also, could you please add a comment explaining the general idea behind your opitmized `findMinMaxPercentile` implementation? It's not completely obvious to me... (and that's an understatement ;-)

[2017-11-06 14:51] heckflosse commented on #4168
@agriggio I will commit your patch and some small speedups. I also will add a comment for findMinMaxPercentile. The general idea is derived from a histogram based median search. But I will explain it a bit more detailed in code.

[2017-11-06 15:11] heckflosse commented on #4168
@agriggio I will explain it also here a bit more detailed.

`findMaxMinPercentile` picks 2 values out of a large amount of values
`minLum` is the `minPrct * size` smallest value and
`maxLum` is the `maxPrct * size` smallest value

To do that, the original version sorted the input values and just picked at position `minPrct * size` and `maxPrct * size`.

If `minPrct` would be `0.5` that would be a

[2017-11-06 15:14] agriggio commented on #4168
@heckflosse thanks!

[2017-11-06 16:49] Hombre57 commented on #4168
@Floessie

This is still possible if necessary. Lens geometry has such main folder but each sub-tool are defined in root namespace.

[2017-11-06 18:12] heckflosse commented on #4168
@agriggio I pushed your patch and a speedup for `rescale_bilinear`.
More small speedups will follow.

[2017-11-07 01:29] Hombre57 commented on #4168
There's a problem in dcrop I guess, try this :
   1. open an image and enable Fattal tool
   2. set Amount to 20
   3. set zoom rate to "Fit to screen" (the whole image must be seen)
   4. disable the tool -> it doesn't refresh properly
   5. enable the tool again -> the effect is cumulated, while Navigator and thumbnail are ok

[2017-11-07 01:33] Hombre57 commented on #4168
@heckflosse By reverting your last patch, it works fine.

[2017-11-07 07:44] wierd480 commented on #4172
This issue seems the same as issue #2936. The strange thing is that v5.3 is doing a better job with ICM-files than v4.2 and v5.2. In these versions false color suppression made the issue far more worse, but it was not completely gone when it was turned off. In v5.3 the issue seems gone when false color suppression is set to 0.

[2017-11-07 09:26] agriggio commented on #4168
@Hombre57 I think this is my fault. It seems that using an intermediate image was actually necessary after all, at least in some cases. I'll fix it ASAP.

[2017-11-07 09:31] agriggio commented on #4168
@Hombre57 can you try now?

[2017-11-07 10:00] agriggio opened #4173 "suspicious code in Median_Denoise"
Consider this:

[code]

Isn't there an `#else` missing? Otherwise aren't we doing the work twice on SSE-enabled hardware? Or am I missing something?
(Ping @heckflosse)

[2017-11-07 10:14] Beep6581 commented on #2857
Right-clicking on a thumb, none of the Processing Profile Operations > Clear * work.
Also, RT quits with a `Segmentation fault (core dumped)` if I open a file and then close RT.

[2017-11-07 12:50] heckflosse commented on #4173
@agriggio You miss the fact that `j` is initialized outside. This way on SSE-enabled hardware the part inside `ifdef __SSE2__` processes as many pixels as possible `j < width - border - 3` and the second part processes the remaining pixels `j < width - border` (if any).
On non SSE-enabled hardware the second part processes all pixels.

[2017-11-07 13:03] agriggio commented on #4173
a-ha! There you go. Thanks for pointing out :+1:
Now I can submit my patch for doing median filtering with a threshold without doing it on all the pixels (should speed up Fattal a little bit)

[2017-11-07 13:06] #4173 closed, assigned to nobody

[2017-11-07 13:13] agriggio commented on #4168
@heckflosse here's a patch to do median filtering only on the darkest pixels. Can you give it a look when you have time? Thanks!

[code]

[2017-11-07 14:20] heckflosse commented on #4168
@agriggio

[code]

[2017-11-07 14:21] agriggio commented on #4168
I fixed it already (was a typo in the patch). Can you try again please?

[2017-11-07 14:44] heckflosse commented on #4168
Builds fine now. Zoom from fit to 100% for a 100 MP file now takes 14.5 seconds (15.6 seconds before patch).

[2017-11-07 14:51] agriggio commented on #4168
Thanks for testing. Is median filtering in fattal still a bottleneck, or is the time spent elsewhere?

[2017-11-07 16:01] heckflosse commented on #4168
@agriggio Median is no bottleneck after your changes. I have a speedup on hold which reduces the processing time to ~12.7 seconds for my test file.

I detected something strange. To reproduce:
Put the same file 5 times into the queue
Start the queue

I get this:
[code]

The first file in queue is processed a lot faster than the next files.
It's clearly reproducible here on my windows system.
Can y

[2017-11-07 16:16] agriggio commented on #4168
Well, modern CPUs are crazy and as soon as you add in multithreading, various levels of caches, NUMA, OS scheduling, and whatnot... all bets are off :-)
Here on my laptop, if I run on battery I get anything from ~24 seconds to ~10 seconds for a 50 mpix file (the largest raw I could find on the web) depending on the cpu frequency scaling governor and other interesting stuff (including thermal manag

[2017-11-07 16:34] heckflosse commented on #4168
@agriggio I just tested. The variance in processing time is clearly caused by fftw_plan and fftw_execute...

[2017-11-07 16:42] agriggio commented on #4168
@heckflosse but is it something under the control of fftw, or just something that manifests itself in there but comes from the lower levels? FWIW, I don't observer the same pattern here, although I do see some variance as I wrote above.

[2017-11-07 17:04] heckflosse commented on #4168
@agriggio I can only reproduce the pattern with multithreaded fftwf usage. With single threaded fftwf usage the processing times are almost equal (though very slow then)

[2017-11-07 18:28] TooWaBoo commented on #4170
Found another crash bug.
1. Open an image and apply profile "Neutral"
2. Switch on noise reduction
3. Check median filter
4. Zoom to 100% --> Crash

[2017-11-07 18:54] agriggio commented on #4170
@TooWaBoo does this have to do with fattal? which RT version?

[2017-11-07 18:56] heckflosse commented on #4170
Confirmed using latest fattal version with median patch. Didn't try before patch

[2017-11-07 19:08] Beep6581 commented on #2857
So, the segfault. Open `amsterdam.pef`, close RT, crash. It uses the neutral PP3. Single Editor Tab Mode - Vertical Tabs.
[code]

[2017-11-07 19:18] Beep6581 commented on #4170
Could not reproduce @TooWaBoo 's crash using a debug build run without GDB of branch `save-strategy2`, 821080de.

[2017-11-07 19:30] sguyader commented on #4170
Confimed using latest fattal (commit b1938e272).
Didn't crash with a build from yesterday (commit 356d49525 I think).

[2017-11-07 19:52] agriggio commented on #4170
ok that's clearly my fault then :-) I'll take this

[2017-11-07 20:08] agriggio commented on #4170
should be fixed now (see b8ff601efa00c1d2adcf9e57f0d00bcb15904150)

[2017-11-07 20:11] heckflosse commented on #4168
@agriggio In fattal code there are some of these patterns:

[code]

meaning, a buffer of size width*height is allocated immediately after a buffer of same size is deleted.
On Windows (don't know about Linux) deleting large buffers is quite expensive (I read that they are filled with zero at deletion).

Would you mind to reuse existing buffers instead of deleting old ones and creating new ones with

[2017-11-07 20:28] Beep6581 commented on #4170
Crash confirmed, fix confirmed.

[2017-11-07 23:04] TooWaBoo commented on #4170
Fix confirmed.

[2017-11-07 23:07] heckflosse commented on #4170
@TooWaBoo I didn't test yet, but your avatar lets me smile each time I see it :)

[2017-11-07 23:23] TooWaBoo commented on #4170
@heckflosse , Always start the day with a smile. 🙂

[2017-11-08 12:52] agriggio commented on #4168
@heckflosse can you try this on your 100Mp file? **WARNING**: it will increase the memory usage, but it's suppose to give a nice performance boost... If it does, then we can think about reducing the peak memory needed

**EDIT**: try the one below instead

[2017-11-08 13:03] agriggio commented on #4168
Actually, try this one:

[code]

[2017-11-08 13:36] fcomida commented on #4168
Beside in our implementation the actual array is allocated dynamically in
the constructor and deallocated in the destructor, so no need of something
like Array2Df *somearray = new Array2Df ....

On 8 November 2017 at 14:03, Alberto Griggio <notifications@github.com>
wrote:

[2017-11-08 13:38] heckflosse commented on #4168
@agriggio Processing time with my latest optimizations without your patch is 11.7 seconds. With my latest opts and your patch is 4.2 seconds.

But it destroys some fine detail (left is without, right is with patch)
![fattal](https://user-images.githubusercontent.com/13733487/32551904-5e24dfc6-c492-11e7-96a3-7a450b8313c4.png)

Edit: < 100% preview looks really soft with the patch, especially the th

[2017-11-08 14:02] agriggio commented on #4168
@heckflosse yes, I was afraid about that. Can you try with this and see if the details are restored? The drawback is that memory usage will grow... but again, I think we can handle it later on.

[code]

[2017-11-08 14:12] heckflosse commented on #4168
@agriggio
14.2 seconds now, which is slower than before patch. Details are a bit better than last patch but thumb is still very soft.

[2017-11-08 14:18] agriggio commented on #4168
ok, but that's a bit vague... is the loss of detail still there?

don't care about that, we can fix it later easily

[2017-11-08 14:23] heckflosse commented on #4168
There is still a tiny loss of detail, but it's acceptable now imho

[2017-11-08 14:46] agriggio commented on #4168
Ok. Then here's a new version to try:

[code]

[2017-11-08 15:16] heckflosse commented on #4168
@agriggio That's great. 7 seconds and good details 👍 :

Left is before todays changes, right with your latest patch:
![fattal01](https://user-images.githubusercontent.com/13733487/32556550-09213228-c4a0-11e7-922e-db329ae29745.png)

[2017-11-08 15:55] agriggio commented on #4168
@heckflosse excellent. I just tried on a 50 Mpix GFX 50S file (found on the web) and I still see a tiny bit of detail loss however. So, I was wondering whether it makes sense to expose another parameter "High quality" to the user. What do you think? (100% crop, left is old, right is new)

![detail](https://user-images.githubusercontent.com/11982086/32558654-9811c0c4-c4a5-11e7-9dcf-07ee74048458.png

[2017-11-08 16:17] heckflosse commented on #4168
@agriggio I've to clean my glasses first...

[2017-11-08 16:30] heckflosse commented on #4168
@agriggio Alberto, [here's the 100 Mpix file I use for my tests](http://www.imaging-resource.com/PRODS/phase-one-xf-100mp/XF100INBI00050.IIQ.HTM)

I can see a very tiny bit of detail loss in your example, bit that's pixel peeping par excellence

[2017-11-08 16:37] agriggio commented on #4168
LOL, maybe you are right... OTOH, I'm not the one who developed pixelshift :stuck_out_tongue_winking_eye:

Anyway, here's a slightly improved version (I've changed only the vector of good dimensions in `find_fast_dim` -- actually, we might want to tablulate this more extensively...):

[code]

[2017-11-08 16:53] heckflosse commented on #4168
@agriggio I will test in a few minutes.

btw: changing this

[code]

to this

[code]

and of course removing
`Array2Df L(w, h);`

some lines above should reduce peak memory usage a bit

[2017-11-08 16:59] heckflosse commented on #4168
@agriggio your latest modification gave a 10% speedup compared to the one before, mesaured whole fattal

[2017-11-08 17:02] agriggio commented on #4168
@heckflosse great! If we are happy about speed and quality, then we can start getting rid of all those intermediate buffers now :smile:

[2017-11-08 17:04] agriggio commented on #4168
BTW I'll push so that we do not have the patch floating around

[2017-11-08 17:04] heckflosse commented on #4168
ok

[2017-11-08 17:06] heckflosse commented on #4168
@agriggio I've a lot of small speedups on hold, which I would like to push after you pushed

[2017-11-08 17:08] agriggio commented on #4168
done

[2017-11-08 17:12] heckflosse commented on #4168
@agriggio I will need about an hour

[2017-11-08 18:02] heckflosse commented on #4168
@agriggio pushed
Edit: processing time with your latest changes was 8.1 seconds. Now it's 5.2 seconds

[2017-11-08 22:03] gaaned92 commented on #4168
I tested last version. Very impressive indeed.
There is one thing I don't understand.
 I use the 100Mpix image. I observe that processing time (and memory usage) increase with zoom factor.
At 100% zoom processing is very long though we observe a very small part of image.
With a detail window,  it is the same, and the display is very delayed.

[2017-11-08 22:08] heckflosse commented on #4168
@agriggio Alberto, with your latest optimizations for fftw usage the strange pattern in queue processing has gone 👍

[2017-11-08 22:36] Hombre57 commented on #4168
@gaaned92 This is because the whole image is computed for preview, even though you only see a crop of that full image. Since its size depend on the scale, the closest you are from 1:1, the longer it will take.

[2017-11-09 08:01] Floessie commented on #4168
@agriggio @heckflosse What an impressive council of wizards. :it: :fire: :de:

Here's my humble suggestion, don't know if it's of worth: In `find_fast_dim()` it could be faster to use a (`const`) `std::array<>` instead of a `std::vector<>`. The latter needs heap allocation, the former probably not.

Best,
Flössie

[2017-11-09 11:36] aferrero2707 opened #4174 "Proposal for an automated build system for RT windows packages"
I am currently setting up and automated cross-compilation of the Windows version of RT code via Travis CI. The final goal is to have a .zip package automatically deployed to a specific github release page each time a new commit is made into certain branches.

The mechanism is based on a custom-crafted Docker container which provides a pre-installed Windows cross-compilation environment for GTK app

[2017-11-09 13:30] fishcu opened #4175 "Expected Behavior? Fast export ignores resize size"
I'm running RT ~~5.1~~ 5.3 on Ubuntu 16.04. Info from "about"->"version":
Version: 5.3
Branch: releases
Commit: ec0f7936
Commit date: 2017-09-30
Compiler: x86_64-linux-gnu-gcc 5.4.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.18.0
Lensfun: V0.2.8.0
Build type: Release
Build flags: -O3 -std=c++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-d

[2017-11-09 14:05] gaaned92 commented on #4168
@Hombre57  you wrote:
`Since its size depend on the scale, the closest you are from 1:1, the longer it will take.`
Surely there is still something I miss.
Until now I thought that the size of the whole image (the raw image) was independant of the scale of the preview. So whatever the scale, the processing time  of the whole image should be the same.
Thanks for clarifying.

[2017-11-09 15:35] heckflosse commented on #4175
![fastexport](https://user-images.githubusercontent.com/13733487/32613692-e35569b6-c56b-11e7-9bb8-a057b85a8cd2.png)

[2017-11-09 17:34] agriggio commented on #4168
thanks @Floessie, it's a good idea :+1:

[2017-11-09 18:56] heckflosse commented on #4168
Concerning the processing time in preview mode:

If we would move fattal directly after demosaic, the processing time in preview mode would be reduced by a large amount because only fattal would be processed in full size but not the subsequent tools.

[2017-11-09 21:01] agriggio commented on #4168
I'm not sure it's a good idea to have it before CA and noise removal, but maybe it's worth trying. I think a better solution though would be to spend our energy in restructuring the pipeline (sorry if I insist on this...)

[2017-11-09 21:34] heckflosse commented on #4168
It would be after raw-CA but before noise removal. I agree that we should restructure the pipeline as well.
Hombre suggested in irc to cache the result of fattal so we don't need to recalculate it every time (we could keep it at the current place in pipeline then).
Though the real culprit is not fattal anymore but the fact that every tool after fattal works on the image size required by fattal (in

[2017-11-09 21:40] heckflosse commented on #4168
@agriggio Another thing: Do you have a link to an example file which showed the artifacts in dark regions (the ones you use the median to avoid them)?

[2017-11-10 07:31] agriggio commented on #4168
the recent playraw on the pier at dusk

[2017-11-10 07:36] agriggio commented on #4168
I think that caching may be a good idea, combined with cropping right after fattal. I'll give this a try.
regarding CA: after raw CA yes, but what about CA in the lens tab? (either manual or profiled)

[2017-11-10 13:30] agriggio commented on #4168
Here's a tentative patch to make `dcrop.cc` faster when using fattal. Still not optimal, but better solutions might require nontrivial refactorings...

[code]

[2017-11-10 13:43] heckflosse commented on #4168
@agriggio OK for having CA in lens tab before fattal, but yesterday Hombre detected that `Graduated Filter` before fattal leads to unpredictable results. We should consider moving fattal after CA but before `Graduated Filter`.

[2017-11-10 13:45] agriggio commented on #4168
@heckflosse I think you (and @Hombre57) are right. In fact, I suspect that also vignetting will behave in a weird manner if performed before fattal. So, how about separating CA from the rest of transformations, and put fattal in the middle?

[2017-11-10 13:47] agriggio commented on #4168
Or maybe for the time being just move Fattal before `ImProcFunctions::transform` and see how it goes...

[2017-11-10 13:54] heckflosse commented on #4168
@agriggio Yes, vignetting from exposure tab should also be after fattal

[2017-11-10 13:54] heckflosse commented on #4168
@agriggio Let's try moving fattal before transform at least...

[2017-11-10 13:55] agriggio commented on #4168
@heckflosse trying...

[2017-11-10 14:12] agriggio commented on #4168
@heckflosse here's a candidate patch for moving fattal before transform. can you please test it when you have time?

[code]

[2017-11-10 14:17] heckflosse commented on #4168
@agriggio I just tried your dcrop patch. That already improves the preview time (at 100%) a lot. I will try to improve it further for using detail windows.
I will try your latest patch now.

[2017-11-10 14:19] agriggio commented on #4168
@heckflosse ok, thanks! Note that my latest patch subsumes my earlier one (i.e. just drop the previous one...)

[2017-11-10 14:20] heckflosse commented on #4168
@agriggio How about moving `std::unique_ptr<Imagefloat> fattalCrop;` to improccordinator.h and access it from dcrop using `parent->fattalCrop;` ? That should make opening detail windows faster (at least for the 2nd to nth detail window)

[2017-11-10 14:21] agriggio commented on #4168
@heckflosse feel free to go ahead, my confidence with that part of the code is not the highest

[2017-11-10 14:33] heckflosse commented on #4168
@agriggio Ok, I will try

[2017-11-10 14:34] agriggio commented on #4168
hold on, I found a bug. A refined patch will follow shortly

[2017-11-10 14:36] agriggio commented on #4168
Here's a better patch

[code]

[2017-11-10 14:40] heckflosse commented on #4168
@agriggio Graduated filter works fine now as does the navigator preview ;-)

[2017-11-10 14:42] heckflosse commented on #4168
@agriggio I found a bug. To reproduce. Open image, apply fattal, press z to zoom to centre of image.
Result: Upper left corner of the image is shown instead of centre

[2017-11-10 14:47] heckflosse commented on #4168
@agriggio I forgot to mention that to reproduce the bug, graduated Filter has to be enabled

[2017-11-10 15:06] agriggio commented on #4168
@heckflosse I'll take a look

[2017-11-10 15:52] agriggio commented on #4168
Updated patch that should fix the issue above. Please note though that:

1. in principle we could do better wrt. caching/buffering, *but*

2. the `dcrop.cc` code is getting messier every day, and this is not helping

So, I suggest that we call it a day at some point without aiming for perfection at the moment. If we are reasonably happy, let's try to allocate some time for the more general pipelin

[2017-11-10 15:57] heckflosse commented on #4168
@agriggio Great! I agree about dcrop and refactoring. I will test your new patch in about two hours.

[2017-11-10 16:41] ClaesGitHub commented on #4174
Hi! Problem when trying to unzip <see enclosed dump>.
![cgl_171110a](https://user-images.githubusercontent.com/19223977/32668454-e9e1db52-c63d-11e7-848a-820002330b84.png)
I am on Win10 Pro, 64-bit, 10.0.16299 Build 16299.
Have fun!
Claes in Lund, Sweden

[2017-11-10 17:29] aferrero2707 commented on #4174
The full path of the offending file in the .zip package is the following:

`./share/gdb/auto-load/usr/x86_64-w64-mingw32/sys-root/mingw/lib/libglib-2.0.so.0.5200.2-gdb.py`

I am surprised that this path is too long, but I have no big experience in this kind of win-related problems.

Anyhow, a new package in which the ```./share/gdb``` folder is completely removed is currently being built, and shou

[2017-11-10 17:45] aferrero2707 commented on #4174
The new package is [here](https://github.com/aferrero2707/RawTherapee/releases/download/continuous/rawtherapee-w64-20171110_1742-git-dev-7fb6be6cddca75f3d11b2e3a9cfd89b794204a35.zip).

[2017-11-10 18:32] ClaesGitHub commented on #4174
Ha! You most certainly know that the length **is** of importance!
Here is perhaps an explanation:
https://community.spiceworks.com/topic/174820-cannot-unzip-file-file-path-too-long
OK - I will download the new pkg in a few minutes'...

[2017-11-10 18:52] ClaesGitHub commented on #4174
a) Unzipped OK.
b) Rapid testing ... no problems found :-)
c) Perhaps a _little_ slow, as compared to under linux?

Have fun!
Claes in Lund, Sweden

[2017-11-10 19:06] aferrero2707 commented on #4174
Thanks! Is it also slower than the official windows builds?

Il 10/nov/2017 19:52, "Claes" <notifications@github.com> ha scritto:

[2017-11-10 19:16] ClaesGitHub commented on #4174
You're welcome :-)
Slower than the official Win builds? Sorry, cannot say, since I am rarely visiting my Win partitions these days. My feeling was based on a comparison with the Linux/Ubuntu build.

Hm... Il 10/nov/2017 19:52, "Claes" ha scritto???
Scusi, Dottore, io stupido, mi Italiano e solo poco, poco!
I once took a Linguaphone course in the Italian language,
so now I can say that the market s

[2017-11-10 21:24] Hombre57 commented on #4168
@agriggio I'll have a look at your proposed patch and modify it if you don't mind.

[2017-11-10 21:32] agriggio commented on #4168
@Hombre57 sure, go ahead :+1:

[2017-11-11 00:52] Hombre57 commented on #4168
I started the patch, but I need to dig into the mechanism again, so I'll finish this tomorrow (Saturday).

[2017-11-11 09:26] TooWaBoo commented on #4148
New update:
[code]

[2017-11-11 09:46] Desmis commented on #4148
@TooWaBoo

Ok, thank you. I just update Msys2
:)

[2017-11-11 16:38] Beep6581 commented on #4109
Tested, no issues found.

[2017-11-11 16:40] Beep6581 commented on #4109
With `#pragma GCC diagnostic warning "-Wextra"`, I get:
[code]

[2017-11-11 17:31] #4109 closed, assigned to heckflosse

[2017-11-11 17:50] #4050 closed, assigned to heckflosse

[2017-11-11 20:50] daicehawk commented on #4129
Will it be corrected for all cameras?

[2017-11-11 22:05] Hombre57 commented on #4168
Just a few words to say that I'm working on this (since few hours now), but the way that image size and scale are handled is just a mess and should be unified.

[2017-11-12 10:52] gaaned92 commented on #4174
@aferrero2707
I have some remarks on this work. Please take them in a positive manner.

On windows with MSYS2, you can completely automate the process with bash scripts, included uploading the builds. So it is not a concern.
My only problem is that I am not a bash wizzard, my scripts are rather clumsy

Presently, the windows builds are reproducible are they are all done with the same Msys2 environ

[2017-11-12 12:15] Beep6581 commented on #4174
Well it is a concern as the only way to actually get the build is to depend on someone who has Windows to have that whole environment set up and to be available to create it. With this automated method, the build is created the moment a commit to a designated branch is made, without having to rely on people being available and not missing some step, having virus-free machines, timezones, etc.

Som

[2017-11-12 12:25] Beep6581 commented on #3558
`5.3-143-g`efcdb561

@heckflosse I got this while compiling the coverity build using GCC-5.4.0:
[code]

[code]

[2017-11-12 12:47] heckflosse commented on #3558
@Beep6581 Fixed

[2017-11-12 13:16] gaaned92 commented on #4174
@Beep6581

You miss the point.  I never said I was against that. As@aferrero2707  asked for remarks,  I made remarks hoping it will help.
So I will not make any other remark on this topic.
The decision is of course, up to the developpers.
The problem seems worst on the different Linux systems with people complaining with obsolete versions available in their distributions.

[2017-11-12 13:38] Beep6581 commented on #4174
@gaaned92 I did not mean to upset you, apologies if I did.

I agree/confirm that many of the latest distributions lack recent versions of key packages (the easiest way to check is through https://distrowatch.com/ ), however that is not a problem here, as the Docker image can be made to use whatever we need. Hopefully.

[2017-11-12 15:16] gaaned92 commented on #4174
@Beep6581
It's ok. I was only a little disoriented by your answer as I think it is a way to go if it can fulfill all dev's needs.
What you quoted is only an answer to the  burden to build on windows which is really not.

[2017-11-12 15:52] sguyader commented on #4174
@gaaned92 it's not a burden, but it still requires human action at this point, if I'm not mistaken.

[2017-11-12 16:08] aferrero2707 commented on #4174
All remarks by @gaaned92  are perfectly legitimate, but most of them are technical aspects that are not particularly difficult to fix as part of the finalization process.

It is probably worth giving some technical details about the custom docker container I am using...
The container is based on Ubuntu 17.04 and the mingw-w64 compiler that comes with the distribution. The compilation is performed

[2017-11-12 16:17] aferrero2707 commented on #4174
@gaaned92

The Lensfun version I am using is [0.3.1](http://download.opensuse.org/repositories/windows:/mingw:/win64/openSUSE_Leap_42.3/noarch/mingw64-liblensfun-0.3.1-3.26.noarch.rpm). I shall probably build the git master branch instead...

[2017-11-12 16:19] aferrero2707 commented on #4174
@Beep6581

That's the mess I'd like to help you solve with a properly working AppImage ;-)

[2017-11-12 21:28] agriggio commented on #4129
@iliasg I think the proper fix for this would be to always trust our `camconst.json` over the matrices embedded in the DNGs. In this way, we would be sure that the results are consistent for all the cameras we support "officially". What do you think? (cc also @heckflosse with which I discussed this on IRC)

[2017-11-13 07:54] Beep6581 opened #4179 "TIFF compression predictor"
I noticed that RawTherapee does not use a TIFF compression predictor:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc#L1365
https://www.awaresystems.be/imaging/tiff/tifftags/predictor.html

Since RawTherapee deals with photographs, it might be a good idea to use a predictor. This issue is to test them out.

[2017-11-13 08:47] Beep6581 commented on #3963
@Benitoite has the relevant info been added to RawPedia and can we close this issue?

[2017-11-13 11:55] Benitoite commented on #3963
Yes, this is closable.

[2017-11-13 11:55] #3963 closed, assigned to nobody

[2017-11-13 14:22] lwann opened #4180 "Before/after syncing both views on filter on/off"
Version: 5.3 Sept. 30 2017
Steps:
- load any file from any camera
- Enable the Before/After view
- make sure unlock is set (and not lock naturally)
- make some changes somewhere to see a clear difference with the original file
- turn on or off any processing filter
- both views are now identical

This can be repeated any number of time. Tweak again, enable or disable a filter > both views sync'ed.

[2017-11-13 14:55] heckflosse commented on #4180
That's correct behaviour.

Example 1:

load any file
Enable Before/After view
don't lock
make some changes to see a clear difference...
turn on Shadows/Highlights
both views are identical now because the default settings of the sliders in Shadows/Highlights don't change the output

Example 2:

load any file
Enable Before/After view
don't lock
make some changes to see a clear difference...
turn on

[2017-11-13 14:59] agriggio commented on #4129
Here's an example:
https://raw.pixls.us/getfile.php/272/nice/Panasonic%20-%20DMC-FZ150%20-%204:3.RW2
This is a raw file for a Panasonic DMC-FZ150, for which RT uses a custom matrix in `camconst.json`.
Convert it to DNG and try setting a custom WB on one of the files.
If you set the WB to look good on the dng, you get a green colour cast for the RW2 (see screenshots).

![dng](https://user-images.gi

[2017-11-13 19:38] Beep6581 commented on #4180
The "Before" view is replaced with the "After" view every time a new history item appears. It is not replaced when the latest history item is changed.
Tested in latest dev, works correctly.

[2017-11-13 20:18] iliasg commented on #4129
@agriggio Alberto, these custom matrices came from a long ago when for a short time (1-2 months) the known profile builder Huelight was cooperating with RT team. He then built a banch of icc profiles and also changed the matrix to match better with those icc profiles. The problem is that these matrices are valid for D50 illumination (instead of the usually used D65 matrix copied from DNG.
I think

[2017-11-13 20:42] agriggio commented on #4129
@iliasg I think there are two different issues here, if my understanding is correct:

1. a dng and its originating raw are treated differently by RT regarding WB

2. some matrices in camconst might be suboptimal.

I think both are valid issues, but they are independent. no matter the method RT uses for figuring out the matrix, it seems strange (wrong?) that a raw and the corresponding dng use diff

[2017-11-13 20:57] daicehawk commented on #4129
I want to say that I would like to have the same behaviour with RAWs and DNGs not only with RT matrices, but also with my own DNG matrix profile.

[2017-11-13 21:21] iliasg commented on #4129
@agriggio

Alberto, I think
1. .. has already stopped occuring for the normal cases (camconst.json matrix is same with DNG D65) with your https://github.com/Beep6581/RawTherapee/commit/1fdc2d7b49327c9e08ca037d04a51a7c22e159cd  commit ;)

2. For cases where RT uses a D50 matrix let's wait for Jacques' input.

3.  There is another case with cameras exporting DNG raws ..(Pentax, Leica, all smartphone

[2017-11-13 21:47] Beep6581 commented on #4045
- PNG spec W3C/ISO/IEC version:
http://www.libpng.org/pub/png/spec/iso/
- libpng-1.4.0 manual:
http://www.libpng.org/pub/png/libpng-1.4.0-manual.pdf
- Book, "PNG, the Definitive Guide":
http://www.libpng.org/pub/png/book/chapter09.html

Notes taken while reading the docs:
1. There are many docs.
2. http://www.libpng.org/pub/png/book/chapter01.html#png.ch01.div.2.4

    The paragraph ends with the

[2017-11-13 22:19] Beep6581 commented on #4045
Tested using only `amsterdam.pef` + neutral.

Test 1:
[code]

SUB, level 6, Z_FILTERED
savePNG took 4382 ms
49.0MB

AVG, level 6, Z_FILTERED
savePNG took 4467 ms
48.6MB

PAETH, level 6, Z_FILTERED
savePNG took 5156 ms
48.0MB

SUB, level 9, Z_FILTERED
savePNG took 5948 ms
48.9MB

AVG, level 9, Z_FILTERED
savePNG took 5463 ms
48.6MB

PAETH, level 9, Z_FILTERED
savePNG took 6213 ms
48.0MB

Conclusion

[2017-11-13 22:31] Beep6581 commented on #4045
Test 2:
[code]

SUB, level 6, Z_FILTERED
savePNG took 4687 ms
49.0MB

SUB, level 6, Z_HUFFMAN_ONLY
savePNG took 1411 ms
49.4MB

SUB, level 6, Z_RLE
savePNG took 1443 ms
48.9MB

SUB, level 6, Z_FIXED
savePNG took 4284 ms
57.8MB

Conclusion: I expected Z_FILTERED to perform best, but Z_RLE lead to both smaller files and over 3x faster compression.

Addendum: I tested Z_RLE with compresion level 9 -

[2017-11-13 22:48] Beep6581 commented on #4045
Test 3:
[code]

AVG, level 6, Z_FILTERED
savePNG took 4688 ms
48.6MB

AVG, level 6, Z_HUFFMAN_ONLY
savePNG took 1421 ms
49.0MB

AVG, level 6, Z_RLE
savePNG took 1517 ms
48.6MB

AVG, level 6, Z_FIXED
savePNG took 4441 ms
57.7MB

AVG, level 9, Z_RLE
savePNG took 1494 ms
48.6MB

[2017-11-13 22:53] Beep6581 commented on #4045
Test 3:
[code]

PAETH, level 6, Z_FILTERED
savePNG took 5243 ms
48.0MB

PAETH, level 6, Z_HUFFMAN_ONLY
savePNG took 1986 ms
48.4MB

PAETH, level 6, Z_RLE
savePNG took 2049 ms
48.0MB

PAETH, level 6, Z_FIXED
savePNG took 4984 ms
57.6MB

PAETH, level 9, Z_RLE
savePNG took 2064 ms
48.0MB

[2017-11-13 23:00] Beep6581 commented on #4045
Test 4:
[code]

ALLFILTERS, level 6, Z_FILTERED
savePNG took 7052 ms
48.0MB

ALLFILTERS, level 6, Z_HUFFMAN_ONLY
savePNG took 3684 ms
48.5MB

ALLFILTERS, level 6, Z_RLE
savePNG took 3764 ms
48.0MB

ALLFILTERS, level 6, Z_FIXED
savePNG took 6651 ms
57.5MB

ALLFILTERS, level 9, Z_RLE
savePNG took 3806 ms
48.0MB

[2017-11-13 23:10] Beep6581 commented on #4045
Conclusion so far: `PNG_FILTER_PAETH` with `Z_RLE` have the best size:time ratio.

[2017-11-13 23:27] Beep6581 commented on #4045
PAETH Z_RLE test, all levels:
[code]

PAETH, level 0, Z_RLE
savePNG took 930 ms
58.1MB

PAETH, level 1, Z_RLE
savePNG took 2108 ms
48.0MB

PAETH, level 2, Z_RLE
savePNG took 2105 ms
48.0MB

PAETH, level 3, Z_RLE
savePNG took 2084 ms
48.0MB

PAETH, level 4, Z_RLE
savePNG took 2112 ms
48.0MB

PAETH, level 5, Z_RLE
savePNG took 2143 ms
48.0MB

PAETH, level 6, Z_RLE
savePNG took 2077 ms
48.0MB

[2017-11-13 23:34] Beep6581 commented on #4045
Vanilla test (i.e. the way it currently is in `dev`), all levels:
[code]

vanilla, level 0
savePNG took 2595 ms
58.1MB

vanilla, level 1
savePNG took 5763 ms
49.1MB

vanilla, level 2
savePNG took 5664 ms
49.0MB

vanilla, level 3
savePNG took 5729 ms
49.0MB

vanilla, level 4
savePNG took 6982 ms
48.1MB

vanilla, level 5
savePNG took 7072 ms
48.1MB

vanilla, level 6
savePNG took 7021 ms
48.0MB

[2017-11-13 23:36] Beep6581 commented on #4045
Conclusion: PAETH with Z_RLE, at any level (why?) leads to the same file size as vanilla level 6, but is over 3x faster. Tested only on `amsterdam.pef` using neutral.

[2017-11-13 23:57] Beep6581 commented on #4045
I tested on a few other images of various sizes and detail levels (e.g. one with heavy noise reduction, one with heavy sharpening of the finest details), and the differences seem consistent.

e.g. 16-bit PNG, high detail high sharpening:
vanilla, level 6
savePNG took 17838 ms
126.6MB

PAETH, level 6, Z_FILTERED
savePNG took 13280 ms
127MB

PAETH, level 6, Z_RLE
savePNG took 5978 ms
127MB

or 8-bit

[2017-11-14 00:14] heckflosse commented on #4045
@Beep6581 Thanks a lot for testing this 👍 I agree with your proposal to hard-code PAETH + Z_RLE and removing the compression level slider. I will do that tomorrow.

[2017-11-14 06:52] Desmis commented on #4129
I will be away all day and part of tomorrow. I will give my opinion then :)

[2017-11-14 08:51] lwann commented on #4180
Alright, I found that odd because most of the time that I use a before/after view is to make sure the noise reduction and sharpening is not beyond acceptable compared to the original file. Usually that 'the' point where you want to make sure the result is going to be acceptable and has not degraded into a painting effect. I guess I still have some old camera raw habits :)
Then instead of an issue

[2017-11-14 09:51] Beep6581 commented on #4180
What is "original"?

[2017-11-14 09:53] lwann commented on #4180
The unedited file, prior to any change (this gives you a good idea if you indeed cranked sharpness and denoise too much or if it's just your brain)

[2017-11-14 10:55] Beep6581 commented on #4180
A **raw** file is always edited when viewed (even if you go to the Raw tab and select Demosaicing > None, it's still had an input profile applied, transformations, etc). Something must be done in order to see the raw file. The best translation for your thought would be to show the image as it looked like at the beginning of the history stack, but that is easily doable now - just click the beginnin

[2017-11-14 10:55] #4180 closed, assigned to nobody

[2017-11-14 15:07] agriggio commented on #4129
@iliasg @Desmis ok, I'll wait for further comments then! In the meantime, here's a slightly revised patch:

[code]

BTW @daicehawk don't worry, if the above is accepted it will also work for custom profiles (there's nothing special that needs to be added for your use-case).

[2017-11-14 18:13] heckflosse commented on #4045
Here's a patch:

[code]

[2017-11-15 05:06] TooWaBoo commented on #4148
New Update:
[code]

[2017-11-15 07:09] #4175 closed, assigned to nobody

[2017-11-15 07:47] Desmis commented on #4129
First, I am not a specialist, but someone who has an opinion on these topics through various experiences, readings and development.

I know very little about the particularities of the DNG format, so I will speak only about white balance and colorimetry.
First of all it must be said that these are not exact sciences, everything is full of empiricism, and I suppose that history plays a big role, as

[2017-11-15 08:41] agriggio commented on #4129
@Desmis Jacques, thanks a lot for your opinion. Your observations are very interesting, but it seems to me (correct me if I'm wrong) that they are addressing point 2 in my comment above (https://github.com/Beep6581/RawTherapee/issues/4129#issuecomment-344051224), i.e. the fact that we might be using some "sub-optimal" matrices (for some definition of sub-optimal, which, I agree, is subjective and

[2017-11-15 14:37] TooWaBoo commented on #4148
New update:
[code]

[2017-11-15 15:33] agriggio opened #4182 "No denoise preview when fattal is enabled"
With the latest modifications to cache the fattal results and share them among different crops, it is now impossible to preview the effects of noise reduction. It is simply not performed.

A possible solution would be to re-enable noise reduction in `improccoordinator.cc` (currently it is commente-out and I suspect outdated), but that would mean that also denoising is performed on the full image w

[2017-11-15 15:46] heckflosse commented on #4182
@agriggio I agree that performing denoise on the full image is no good idea.
But how did that work before the caching? Denoise is before fattal iirc. How could fattal work correctly on full image (for 1:1 view or detail window) when denoise was not applied to the full image?

[2017-11-15 15:49] agriggio commented on #4182
@heckflosse before the caching both denoise and fattal were working on the full image, *but only if you opened detail windows* (or if you zoomed to 1:1). That's why it was slow. The problem now is that this becomes slow even for normal windows, where you are not using 1:1 zoom anywhere...

[2017-11-15 15:53] heckflosse commented on #4182
@agriggio Shouldn't it be possible to cache it only if one of the crops (detail windows or preview image) is at 1:1?

[2017-11-15 15:55] heckflosse commented on #4182
@agriggio But I'm also fine with not caching it, as you already suggested. Always denoising on full image is not an option.

[2017-11-15 15:57] agriggio commented on #4182
@heckflosse anything (well, almost :-) is possible, given enough time and resources... I'm just concerned that it might take a while to come up with a satisfactory solution that does on-demand caching

[2017-11-15 15:59] agriggio commented on #4182
to be precise, though, this is not a regression wrt. 5.3, because if you don't enable fattal, everything still works as before. That's why I'm not sure which behaviour is better/more desirable...

[2017-11-15 17:19] agriggio commented on #4182
another option, conceptually quite simple, could be to move fattal before denoising. I'll try tonight and see how it goes (regarding output quality). opinions?

[2017-11-15 18:05] Floessie commented on #4182
Isn't tonemapping prone to noise? That's at least my observation when playing with LHDR...

[2017-11-15 18:08] heckflosse commented on #4182
@agriggio +1 for trying

[2017-11-15 18:25] Beep6581 commented on #4182
Tone mapping before denoising will make the uniform noise characteristics non-uniform.

[2017-11-15 20:08] agriggio commented on #4182
@Beep6581 I agree it is suboptimal. but the current situation is not acceptable imho. so, there are 3 options:

1. move fattal before denoising (or at least give it a try)
2. add denoising to `improccooedinator.cc`. this will be one more duplication of things, and will also mean that whenever you have fattal enabled, denoising will be done on the full size image, regardless of the preview zoom lev

[2017-11-15 20:19] heckflosse commented on #4182
I'm for 3.

[2017-11-15 20:24] Hombre57 commented on #4182
Fattal shine for HDR images, where you have next to no noise. I think I'd try the fourth possibility : cache the full size 1:1 scale Fattal image if noise reduction is off, and disable caching when it's on. At least give me few hours to see if it's doable. If you think it's just more bloat to the pipeline and would prefer no to do it, then nevermind, we'll stick to solution 3.

[2017-11-15 20:37] agriggio commented on #4182
@Hombre57 if you want to try 4, I have no objections

[2017-11-15 20:38] heckflosse commented on #4182
@Hombre57 good point. +1

[2017-11-15 21:06] agriggio commented on #4182
In the meantime, I pushed the patch I posted a couple of days ago (with a bugfix) -- essentially implementing option 3 -- as a new branch `hdr_tonemap_fattal_nocache`. Just to clarify: I did this simply because I had it ready -- if option 4 turns out to be feasible, I'm all for that :-)

[2017-11-15 21:47] Beep6581 commented on #4182
+1 for testing of course.

Would this be any easier after the pipeline unification?

[2017-11-15 22:19] agriggio commented on #4182
definitely maybe ;-)

[2017-11-15 23:18] gaaned92 commented on #4182
@agriggio got a crash with hdr_tonemap_fattal_nocache while zooming

[code]

[2017-11-16 07:05] agriggio commented on #4182
thanks, I'll take a look

[2017-11-16 10:38] #3917 closed, assigned to nobody

[2017-11-16 10:39] #4170 closed, assigned to agriggio, heckflosse

[2017-11-16 10:42] Beep6581 commented on #4169
Status: we need a raw file with highlights near the clipping point so that when **LCP** vignetting correction is enabled, those highlights clip. We also need the LCP file.

[2017-11-16 10:47] Beep6581 commented on #4137
@agriggio what do we do with this?

[2017-11-16 10:49] Beep6581 commented on #4118
Maybe this will be handled during the unification of the pipelines.

[2017-11-16 10:50] Beep6581 commented on #4091
@Benitoite are our scripts and/or the instructions on RawPedia up to date and can we close this issue?

[2017-11-16 10:51] Beep6581 commented on #4089
Should be fixed when #3801 is done.

[2017-11-16 10:51] #4089 closed, assigned to nobody

[2017-11-16 10:51] Beep6581 commented on #4080
@waxhead is this still reproducible?

[2017-11-16 10:54] Beep6581 commented on #4078
@midluk please test using the latest `dev` and provide sample files and steps to reproduce, then we can re-open this issue.

[2017-11-16 10:54] #4078 closed, assigned to nobody

[2017-11-16 10:54] #4077 closed, assigned to nobody

[2017-11-16 10:55] waxhead commented on #4080
I'm afraid not. Please feel free to close the report.

[2017-11-16 11:01] Beep6581 commented on #4072
@heckflosse

IIRC we discussed this in IRC before I wrote that info in RawPedia. It seems that the info in RawPedia is completely wrong. I just confirmed that moving CM > Free Gamma or CIECAM02 > Lightness J will not update the preview until I let go of the slider.

My settings:
[code]

If this is the intended behavior and not a bug, i.e. if RawPedia is wrong, could you please explain what `Adjust