[2016-05-11 06:48] Desmis commented on #3146
@heckflosse

Ingo

You are true... as always...
We must replace
 int nei = (int) 2.8f * deh.neigh;
by
 int nei = (int) (2.8f * deh.neigh);

Thank you for this work :)

[2016-05-11 09:44] Desmis commented on #3264
I just push a new changed for HDR++
Now you can aligned or desalined pixels : first and second image.
I also reviewed tooltip :)

[2016-05-11 11:51] Floessie commented on #3154
@heckflosse Don't know how old and still relevant [this](http://www.peterstock.co.uk/games/mingw_sse/) is, but there are some hints you could try.

[2016-05-11 12:57] heckflosse commented on #3154
@Floessie Yes, that's a known problem. For this reason RT win32 builds are made with -mstackrealign. For win64 builds this was not necessary in past and should still not be necessary.
Also, the sse4 code works fine here. It's just the non sse4 code which crashes win64 release builds.

[2016-05-11 14:40] NextTherapist opened #3280 "When an image contains no exif, RT writes no exif."
My version is 4.2.797 master branch at the moment.

Disable Preferences - Image Processing - Metadata: "Copy Exif/IPTC/XMP unchanged to output file"
(but also happens when enabled)
Open a jpg file that contains no exif information at all.
Open the Metadata tab. Some exif data are italic and greyed out (ImageWidth, ImageHeight, ...).
My first misconception: the greyed out data will be part of the o

[2016-05-11 15:01] heckflosse commented on #3154
@Floessie I found a solution for SSE2 (non SSE4) code which does not need MMX registers and does not crash. Here's some test code which can easily adopted to getClutValues():
[code]

[2016-05-11 15:38] heckflosse commented on #3154
@Floessie [Here](https://gist.github.com/heckflosse/270449aca8a7634339ce5386e476ebd7) is a patch for your dedusting branch.

[2016-05-11 18:15] Floessie commented on #3154
@heckflosse YEAH!!! Breakthrough! :+1:  Not only this shall work (still cannot test, as I'm not on Windows), but it's nearly as fast as the SSE4 version (I was a bit skeptical at first due to the sheer number of instructions):
- 233ms for SSE4
- 243ms for SSE2
- 275ms with `_mm_set_ps()` implemented for comparison

It's committed on my dedusting branch for you to retest.

Great work! Thanks a lot!

[2016-05-11 18:32] heckflosse commented on #3154
@Floessie Retested! Works fine. Feel free to change the var names and so on to your coding style and make a PR. Maybe astyle it too. Don't remember if I did that.

[2016-05-11 18:36] heckflosse commented on #3154
@Floessie _mm_set1_epi32(0x0000ffff) could be called once instead of twice in my code. But maybe compiler optimizes it away...

[2016-05-11 19:10] heckflosse commented on #3146
@Desmis
Jacques, I pushed some minor speedups and some cleanups to your branch. I also made some annotations (search for TODO in the diff) in code for further improvements. But these (small) improvements require your branch and my 'rgbcurvespeedup' branch to be be merged into master. So :+1: to make a pull request for your branch to get it into master branch. As soon as my 'rgbcurvespeedup' branch

[2016-05-11 20:57] heckflosse commented on #3154
@Floessie

The number of instructions are:
1. SSE4 version : 6 per getClutValues() call
2. SSE2 version: 12 per getClutValues() call
3. MMX  version: 16 per getClutValues() call

if I counted correctly

[2016-05-12 05:56] Floessie commented on #3154
@heckflosse Yes, it's clear to me that a line count doesn't translate to the number of instructions, that's why I wrote "at first". :) I'll make the mask a constant and file the PR this evening. Again, thanks for solving that crash. Still, there is no explanation as to why the MMX instructions miscompile in this case, or have you found an answer?

[2016-05-12 06:01] Desmis commented on #3146
@heckflosse

Ingo, no problem at all :)

I do not understand when and who will merge "retinexgain" with master...Is it you in some days...or me now after testing ?

I also will try your changes in "rgbcurvesspeedup"

Jacques

[2016-05-12 10:31] heckflosse commented on #3146
@Desmis Jacques, I can merge retinexgain into master if you like

Ingo

[2016-05-12 10:57] Desmis commented on #3146
@heckflosse

Ingo
OK, you can :)
Thank you again

[2016-05-12 11:40] heckflosse commented on #3146
@Desmis Jacques, I just merged it into master

[2016-05-12 11:49] Desmis commented on #3146
@heckflosse

Thank you :)

[2016-05-12 16:17] heckflosse commented on #3154
@Floessie I searched a bit for information on Windows 64 bit and MMX but found nothing reliable. Anyway, it's solved now. That's the important thing.

[2016-05-12 18:40] Floessie commented on #3154
@heckflosse Definitely! I'm very glad, you found such a perfect solution. And [here](https://github.com/Beep6581/RawTherapee/pull/3282) is my PR.

[2016-05-12 19:12] heckflosse commented on #3154
@Floessie My I suggest a tiny change?
In the current implementation the +8 at buffer allocation can be reduced to +4 and the comment in that line is also not true anymore as we use the unaligned 16 bytes load now for non SSE4 code too ;-)

[2016-05-13 08:37] LibRaw commented on #3110
We just opensourced X-Pro2 compressed decoder in LibRaw:
branch: https://github.com/LibRaw/LibRaw/tree/xtrans-compressed
single commit: https://github.com/LibRaw/LibRaw/commit/aeab4d8ea58f85050d1253bdc41f51baa79ffe65

Feel free to use in RT.

[2016-05-13 10:03] mmmtok opened #3283 "Histogram of working space does not show "gray" for gray regions"
I think histograms for whole gray points should show almost the same values of R, G and B.
When it comes to the one for output color space, it's OK but working space histogram is not.

[Versions]
I see this with
	RT 4.2.753
	OSX 10.11.4
but I believe it is platform independent.

[Reproduction procedure]
1. Open Preferences and check "Use working profile for main histogram and navigator"
2. Open th

[2016-05-13 10:07] mmmtok commented on #3213
Hi,

I have just created #3283.  I think it can be the fix for this also.

[2016-05-13 10:31] iliasg commented on #3229
Alex's response ..
https://github.com/Beep6581/RawTherapee/issues/3110#issuecomment-218984022

"We just opensourced X-Pro2 compressed decoder in LibRaw:

http://www.libraw.org/news/libraw-compressed-fujifilm-raf-support

Feel free to use in RT."

2016-05-10 17:40 GMT+03:00 Sébastien Guyader <notifications@github.com>:

[2016-05-13 11:09] sguyader commented on #3229
@iliasg you beat me on this, Alex sent an email with the message.

[2016-05-13 12:20] heckflosse commented on #3283
@mmmtok Thanks a lot for providing this patch! Works fine here. @Desmis Jacques, can you also take a look please?

[2016-05-13 13:30] geoderix commented on #3266
The same effect when converting to B/W (color - black-and-white). The blue slider do nothing if working space is ProPhoto and quite a bit if working space is sRGB.
For what RawTherapee uses television model of luminocity? It seems to me that this is not a video editor yet.

[2016-05-13 13:38] heckflosse commented on #3110
@LibRaw Thank you very much :+1:

[2016-05-13 13:39] geoderix opened #3284 ""No profile" in Color Management - Input Profile distort non-raw files (both tiff and jpg)"
If I choose "No profile" in Color Management - Input Profile than the original image is distorted - histogram shifted to the right and compressed.The image will become bright and nasty white. This is observed for both TIFF and JPG.

Rawtherapee 4.2.830 (win, 32-bit).

Thank you!

[2016-05-13 13:48] sguyader commented on #3264
@Desmis Jacques, here's your merge HDR++ algorithm in action (not great, because I started from a single TIFF image to get one dark, one light): https://discuss.pixls.us/t/hdr-postprocessing/1403/15

[2016-05-13 14:18] Desmis commented on #3264
@sguyader

Salut Sébastien
Je m'exprime en français, car c'est plus simple...Si tu peux traduire pour les autres ce serait bien. Merci par avance..je te devrais un Ti Punch!

Effectivement, on peut mélanger le même fichier, une fois avec un réglage image sombre (qui met en valeur les hautes lumières) , et une autre avec image claire (qui met en valeur les basses lumières). Bien sûr cela fonctionne

[2016-05-13 14:43] sguyader commented on #3264
@Desmis Jacques, unfortunately I don't have exposure-bracketted raw files of my own. Yesterday I downloaded 2 jpegs developed from separate raw files, and indeed the result was already very good. What I did today (link I posted above) was just to show off what RT can already do in your experimental branch, only from a single image. I know it's not optimal at all, but I found it interesting.

I'll

[2016-05-14 10:30] Jau-Al opened #3285 "Ubuntu 16.04 libgtkmm-2.4.so.1: cannot open shared object file"
Hello,

I installed rawtherapee under Ubuntu 16.04. It won't open.

`rawtherapee: error while loading shared libraries: libgtkmm-2.4.so.1: cannot open shared object file: No such file or directory`

I checked :
[code]

Compatibility problem ?

[2016-05-14 11:29] gaudry-daniel opened #3286 "failed compile in lastest upgrade"
Hi
I tried the update and got the following output:
Can you help??
best regards

Building CXX object rtengine/CMakeFiles/rtengine.dir/clutstore.cc.o
/home/daniel/RawTherapee/rtengine/imageio.cc: In static member function ‘static int rtengine::ImageIO::getPNGSampleFormat(Glib::ustring, rtengine::IIOSampleFormat&, rtengine::IIOSampleArrangement&)’:
/home/daniel/RawTherapee/rtengine/imageio.cc:218:31

[2016-05-14 12:28] heckflosse commented on #3286
@gaudry-daniel Thanks for reporting. Fixed in e8d90698cfe2bfb5c5a05ffe4d7b4cf113829c8f

[2016-05-14 12:28] #3286 closed

[2016-05-14 14:36] ClaesGitHub commented on #3285
Hi! Do you compile RT, pulling the source code from GitHub?
If so, check your dependencies for Ubuntu 16.04 (use the gtk3 branch):

[2016-05-14 14:50] Jau-Al commented on #3285
No, It's from the repository. I tried the PPA two (unstable version). It was exactly the same.

[2016-05-14 14:57] Desmis commented on #3283
@mmmtok  @heckflosse
Yes, I confirm, we must use "workingSpaceInverseMatrix", instead of  "workingSpaceMatrix"...
:)

[2016-05-14 15:00] ClaesGitHub commented on #3285
I can check a little later today.
If you feel like compiling RT all by yourself, follow these instructions:
http://50.87.144.65/~rt/w/index.php?title=Linux

[2016-05-14 15:49] aserebryakov commented on #3285
Just tried on my Ubuntu 16.04 x64. No issue with running.

Version: 4.2.0
Changeset: c81d9026d25c
Compiler: x86_64-linux-gnu-gcc 5.2.1
Processor: undefined
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: Release
Build flags: -g -O2 -fPIE -fstack-protector-strong -Wformat -Werror=format-security -std=c++11 -D_FORTIFY_SOURCE=2   -fopenmp -Werror=unknown-pragmas -O3 -DNDEBUG
Link flags:

[2016-05-14 17:30] #3213 closed

[2016-05-14 17:30] #3283 closed

[2016-05-14 17:55] ClaesGitHub commented on #3285
@aserebryakov Please do not use RT 4.2.0. It is very, very old.
@Jau-Al I have just checked of a naked Ubuntu 16.04 x64 machine
[code]
works just fine.
If you need more assistance, I believe it is better to user the RT forum at
https://discuss.pixls.us/

[2016-05-14 20:07] Jau-Al commented on #3285
srysrysry ! In fact, rawtherapee wasn't the culprit lol.
I used synaptic to reinstall all gtk libs and unity. Now everything is fine !
Thank you everyone ;-)
And again sorry, I should have begun with this !

P.S : Maybe a snap version could be a good idea  ? Looks like it's nice for dependencies ^^. (just an idea)

[2016-05-15 00:18] heckflosse commented on #3285
Ok, the Issue seems to be solved => Close!

[2016-05-15 00:18] #3285 closed

[2016-05-15 08:06] NextTherapist opened #3287 "General speedup with first scaling down and then processing"
RT needs about the same time to process the whole resolution of an image compared to a very small downscaled version.

Would it be possible to accelerate most of daily use (small web images) with the sequence
1. scaling down the raw image,
2. process the result of 1.?

[2016-05-15 10:04] da-phil opened #3288 "Olympus OMD E-M1 images look too dark and colours are off with standard profile"
Hi!

After pulling the latest commits from the repo I noticed that my Olympus OMD E-M1 images look completely different with my standard processing profile.
I'm using an Adobe *.dcp colour profile which made me able to reproduce the in-camera JPGs perfectly.
Now I notice that the images look way too dark (I changed the black point to correct this) and the colours are also a little bit off.
It must

[2016-05-15 11:50] ClaesGitHub commented on #3288
Just a long shot...
- See Tab 3 Color | Color Management, Input Profile.
Which option button is highlighted: No profile, Camera standard, or Auto-matched camera profile?
- Under Tab 3 Color | Color Management, Input Profile | DCP: is Base table ticked?
- Anything else ticked under DCP?
- Is Tone curve tickable? If so, tick it.

[2016-05-16 15:14] da-phil commented on #3288
I checked "auto-matched camera profile" and RT successfully detetcs my default Adobe DCP profile (vivid) which the camera also uses for JPG conversion.
I used to check all four boxes:
- tone curve
- look table
- baseline exposure
- base table (greyed out and checked by default)

Now I only get close to the out-of-camera (OOC) JPG picture when I uncheck "baseline exposure".
Here is an example, in R

[2016-05-16 18:03] da-phil opened #3289 "RT hangs when files in the file browser tab change or get deleted, or when batch processing"
I'm using the latest commit on master

[code]

Recently I noticed that RT hangs while files in the directory which is shown in the file browser tab change (when image is saved after editing) or get deleted. sometimes RT hangs for several seconds until the file browser keeps up with the changes.

RT also becomes completely unresponsive when batch processing pictures, I always have to wait until all

[2016-05-16 18:10] ClaesGitHub commented on #3288
I believe we have different opinions about what _Auto-matched camera profile_ means and does, you and I.
Ref
https://discuss.pixls.us/t/can-i-match-rt-to-out-of-camera-jpeg/767

http://50.87.144.65/~rt/w/index.php?title=The_Image_Editor_Tab%23Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG

http://50.87.144.65/~rt/w/index.php?title=

[2016-05-16 20:26] da-phil commented on #3288
I don't think we have different opinions on the option "Auto-matched camera profile". I simply copied the Adobe DCP colour profiles from the DNG converter into the install folder of RT, so that RT is always able to select the right colour profile for each camera I use. and this is also covered by the links you posted.

[2016-05-17 14:35] eduperez opened #3290 "Unable to compile under Linux"
I tried to compile the GTK3 branch under Fedora 23, following the instructions at RawPedia, but there seems to be something wrong with the `cmake` file:

`git clone https://github.com/Beep6581/RawTherapee ~/repo-rt`
`cd ~/repo-rt`
`git checkout remotes/origin/gtk3`
`rm -rf build`
`make clean`
`./clean`
`mkdir build`
`cd build`
[code]
`make -j6 install`
[code]

I changed all instances of `${GIT_VER

[2016-05-17 14:54] ClaesGitHub commented on #3290
Hi!
I use another checkout terminology. Try

It works for me.

[2016-05-17 15:46] eduperez commented on #3290
@ClaesGitHub : Tried that, but got the same result; thanks anyway.

[2016-05-18 06:43] Floessie commented on #3289
Cannot reproduce with debug and release builds of the latest master on Debian Stretch AMD64 (multi-core machine).

Could you please provide more information and have a look at ["How to write useful bug reports"](http://50.87.144.65/~rt/w/index.php?title=How_to_write_useful_bug_reports)? For example you completely omitted your OS or features (found in your PP3s) you have activated for your RAWs. Do

[2016-05-18 07:18] aserebryakov commented on #3290
@eduperez, what CMake version do you use?

[2016-05-18 11:09] ClaesGitHub commented on #3290
@eduperez I had to build a new Virtualbox today for some experiments, and I fed it with a very minimal Fedora 23. Then I compiled the gtk3 branch of RT - and **it worked just fine**. I followed the standard instructions for Fedora on Rawpedia.  (My cmake version is 3.4.1.)

[2016-05-18 12:15] heckflosse opened #3292 "Speedup, code cleaning and bugfixes for 'locallab' branch"
@Desmis
Hello Jacques,
I took a look at the 'noise' generator in 'locallab' branch and I really like it.
But there has been at least one bug in your implementation (u2 was never initialized...) and it was a bit slow too ;-)
[Here](https://gist.github.com/heckflosse/5f294afb14429cbbe1fe88397ea67d3b) is a patch which uses a combination of your method and [this example code](https://en.wikipedia.org/

[2016-05-18 15:36] Desmis commented on #3292
Hello Ingo

I just test your patch...I think it is better and faster. For me no problem to suppress "chroma noise"

I think you can commit this patch
Thank you again :)

Jacques

[2016-05-18 16:33] heckflosse commented on #3292
Hello Jacques,

I made further corrections and committed to [locallab](https://github.com/Beep6581/RawTherapee/tree/locallab)

Ingo

[2016-05-18 16:33] HJarausch commented on #3254
On 04/20/2016 07:29:23 PM, Beep6581 wrote:

Unfortunately, this doesn't work. Adobe doesn't have an LCP for the
FZ1000. I've tried to get one myself and I have asked others.
So, Adobe must extract any information for processing the RAW file from
the RAW file itself.

Thanks,
Helmut

[2016-05-18 17:27] Desmis commented on #3292
Hello Ingo

I look at your modifications. No problem :)
Thank you.

[2016-05-18 17:44] heckflosse commented on #3292
@Desmis
Hello Jacques,
can I also make some changes to 'Contrast_Local' or are you working at this currently?
There is a case of 'false sharing' I would like to solve to get another reasonable speedup.

Ingo

[2016-05-18 18:21] Desmis commented on #3292
@heckflosse
Ingo

No problem  you can :)

[2016-05-18 21:00] heckflosse commented on #3292
@Desmis
Jacques, [here](https://gist.github.com/heckflosse/301d1aa51a1020679fe734ba885f6186) is a first patch with a brute force solution to fix the false sharing in `ImProcFunctions::Contrast_Local`. At my 8-core machine this results in a 8x speedup for that function. A cleaner solution follows later

[2016-05-19 04:57] Desmis commented on #3292
@heckflosse

Hello Ingo
1) How do you used a patch with GIt...I know how to do when the patch is on my computer  "git apply toto.patch", but how to do when this patch is on GitHub ??  Here it is easy I change manually the code

2) I will be little available until Monday

Jacques

[2016-05-19 05:34] Desmis commented on #3292
Ingo
Ijust test "manualy"...all woks fine :)

[2016-05-19 05:59] Floessie commented on #3292
@Desmis

Hi Jacques,

there is a button saying "Raw" in the upper right corner of the patch. You can apply "Save link as..." in your browser on it, then you have the patch on your computer.

HTH,
Flössie

PS: In C++ your don't need to prepend `struct` variables or parameters with the `struct` keyword. They are equal to classes. So you can save some space by instead of writing this
[code]
you can w

[2016-05-19 06:19] Desmis commented on #3292
@Floessie

Ok thank you :)

[2016-05-19 10:39] Desmis commented on #3292
Hello all
After these recent developments and improvements, what do we do with this branch ?
1) nothing, we abandon any changes and is stopped permanently
2) is maintained as now, between two waters, so not really integrated in RT
3) we commit this branch to "master'...causing, perhaps, later to incompatibilities

if 3) I plan to use the principle for functions such wavelet (very difficult) or RGB

[2016-05-19 12:31] heckflosse commented on #3292
@Desmis
Jacques, in my opinion there are some things which need to be solved before thinking about merging locallab into master.

1) Clean the code and make all the locallab stuff a bit faster (I'm working on both currently)
2) Find a good solution to provide more than one local area. For this I have to solve 1) first because each local area adds processing time.
3) We should think about a way to

[2016-05-19 12:36] eduperez commented on #3290
I'm using cmake 3.4.1, too; this is weird, I do not remember doing anything special about cmake in this machine, everything should be stock around here.

[2016-05-19 13:02] eduperez commented on #3290
More info: this are the contents of the `AboutThisBuild.txt` file:
[code]

Notice how all git-related info is missing.

[2016-05-19 13:13] eduperez commented on #3290
I found it! Launching with the original `AboutThisBuild.cmake` file, the `make` command produces the message "`-- git command found: /home/eperez/git`"  (sorry, I did not notice that before).

There is effectively a `git` _folder_ in my home, but it is not the _executable_ that `cmake` is looking for. Culprit is at "`find_file(GIT_CMD git)`" inside `AboutThisBuild.cmake`, because hat is not a prop

[2016-05-19 13:20] Desmis commented on #3292
@heckflosse

Ingo
I am fully aware of 1) is what I mentioned in prior

But for 2) Hombre was working on that since 3 years...with 2 basics principles:
a) works with layers...which today is impossible without substantial modification of code and pipelines
b) suppress sliders and allow for each "control point" a GUI intuitive to build (very very big job)

I agree for 3) but how to do ?

I think we c

[2016-05-19 13:45] ClaesGitHub commented on #3290
Good that you solved it :-)

[2016-05-19 15:42] heckflosse commented on #3292
@Desmis
Jacques
Currently I have no idea how to solve 2) and 3). I hope to get ideas while cleaning and speeding up the code ;-)

[2016-05-19 20:46] heckflosse commented on #3290
Fixed with f5abb4644937620fa0db524507abf27858ba820a

[2016-05-19 20:46] #3290 closed

[2016-05-19 23:27] heckflosse commented on #3292
@Desmis
Hello Jacques
I just made another serious speedup for locallab. Shall I submit it as a patch file or push it to locallab branch. Latter would be easier for me :)

Ingo

[2016-05-20 04:57] Desmis commented on #3292
@heckflosse

Hello Ingo

do as you wish, no problem for me :)
jacques

[2016-05-20 09:49] Beep6581 commented on #3084
@NextTherapist the fix is present in branch `master` from version 4.2-836, or from `gtk3` about 4.2-977 (I haven't merged `master` into `gtk3` yet, will probably do that later today).

[2016-05-20 10:01] Beep6581 commented on #3266
Closing, not a bug.

[2016-05-20 10:01] #3266 closed

[2016-05-20 10:54] Beep6581 commented on #3287
RT processes the resolution of the image you see in the preview for most tools (example exception: Retinex).
See:
http://rawpedia.rawtherapee.com/Tone_Mapping#Getting_the_preview_to_match_the_saved_image
Point 10: http://rawpedia.rawtherapee.com/Getting_Started#Advanced

Closing.

[2016-05-20 10:54] #3287 closed

[2016-05-20 10:55] Beep6581 commented on #3289
@da-phil ping.

[2016-05-20 11:02] Beep6581 commented on #3288
Which version did they look "correct" in?
Which version are you using now?
Where are the sample raw files and DCPs?
Have you used the same DCP 2 months ago as now? This is to exclude the possibility that Adobe changed their E-M1 DCP file(s).
Why is there a sharp exposure change in the middle image just below the rock in the middle of the stream? 2/3rds from the top.

[2016-05-20 11:23] Beep6581 commented on #3254
The posts above include information on how to create your own LCPs and how to extract the a, b and c distortion coefficients from DMC-FZ1000 raws using exiftool for which the source code is readily available.
RT's distortion correction is handled for example here:
https://github.com/Beep6581/RawTherapee/blob/master/rtengine/iptransform.cc#L718

I'll close this issue, feel free to open a new one if

[2016-05-20 11:23] #3254 closed

[2016-05-20 20:04] FlorianPerennes opened #3295 "Sony ILCA-68 raw support"
Hi,( I'm sorry for the English, I'm french)
I've got a problem, when I open my RAW , they are colored, some are pink, the other blue or purple, and I don't know how to fix this bug, and it's very embarrassing...
I hope you could help me, I put photos with that ;)

 http://www.cjoint.com/c/FEuudY6mHSM

[2016-05-20 20:09] sguyader commented on #3295
Hi Florian,

Please upload problematic RAW files and their PP3 files to http://filebin.net
Without RAW files and we so few details, we cannot tell you what's happening.

Sébastien

[2016-05-20 20:28] FlorianPerennes commented on #3295
Hi Sebastien :
http://filebin.net/62pplaohvk,
I've tried some things so I think it will be in the PP3

[2016-05-20 20:47] asktoby opened #3296 "Premature end of JPEG file. Segmentation fault (core dumped)"
I am able to repeatedly crash RawTherapee 4.2.0 on Fedora.

Steps to reproduce:
Open Rawtherapee from Command Line
Use File browser left panel to navigate to and double click on photo folder
Double click on photo from the thumbnail browser
Click "Put current image to processing que" in bottom left
Go to processing queue
Click "Start processing"
Rawtherapee crashes so:

Premature end of JPEG file
S

[2016-05-21 10:08] aserebryakov opened #3297 "Incorrect histogram is shown if image was manipulated after histogram was hidden"
**Scenario:**

1. Open image in editor
1. Hide left panel
1. Change contrast to 100
1. Show left panel

**Expected:**
Histogram corresponds the image

**Actual:**
Histogram is not updated

**Build:** 4.2.854
**OS:** Ubuntu 16.04

[2016-05-21 13:12] ClaesGitHub commented on #3295
@FlorianPerennes It is the RAW file that we need, not a .png.

[2016-05-21 14:18] NextTherapist commented on #3287
@Beep6581
Don't understand your citation of point 10: I can accelerate processing of most tools by using a smaller preview. Ok, but I cannot accelerate the end processing if I only want a small sized output image?
When I only need a 400x300 px output jpg, I have to wait the same time as if I want a full-sized output...

[2016-05-21 14:21] NextTherapist commented on #3084
@Beep6581 Thank you!

[2016-05-21 16:33] Beep6581 commented on #3287
@NextTherapist resizing is always done at the end of the processing pipeline. Some tools are size-dependent. If resizing happened first, you would need to re-adjust the size-dependent tools if you changes the output size, e.g. if you targetted skin wrinkles using Wavelets and if resizing changed the input image, you would need to re-adjust the Wavelet tool after resizing the image so that it would

[2016-05-21 16:34] Beep6581 commented on #3296
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-05-21 16:34] #3296 closed

[2016-05-21 16:38] Beep6581 commented on #3297
Confirmed in `gtk3`, haven't tried `master`.

[2016-05-21 17:45] FlorianPerennes commented on #3295
@sguyader  @ClaesGitHub
Here are the RAW file and the PP3 : http://filebin.net/kmiftmqsuo

[2016-05-21 18:20] ClaesGitHub commented on #3295
Salut, Florian!
I have looked at the photo & your pp3. As I see it, it is not what you did in the pp3, instead it is what you did _not_ do :-) Try the following:

- Open the photo in RT.
- Select Processing Profile | Neutral (just to null everything out).
- Select Processing Profile | Bundled Profiles | Default ISO High.
- Tab Exposure | Tone curve 1 | Custom: drag the upper right dot to the left

[2016-05-21 19:28] FlorianPerennes commented on #3295
@ClaesGitHub, I've tried what you've said but it's still the same result : I've already the same horrible pink "filter" even if there is some ameliorations... while I've a "normal" RAW when I open it in trial version of Adobe Lightroom (takes end tomorow :( )...
Thanks anyway :)

[2016-05-21 19:32] ClaesGitHub commented on #3295
Test to set white balance in RT to
Temperatue 6368
Tint 0.656
Blue/Red equalizer 1.000

[2016-05-21 22:53] heckflosse commented on #3297
Confirmed in master

[2016-05-22 07:51] NextTherapist commented on #3287
Oh. Ok, a pity.

[2016-05-22 08:10] FlorianPerennes commented on #3295
@ClaesGitHub It's better with that ! And I've tried with DCP of sony ILCA-68 and there is a little amelioration... It's almost good :)

[2016-05-22 08:11] iliasg commented on #3295
@FlorianPerennes Hi Florin, Sony ILCA-68 is not yet supported by RT, that's why it uses wrong "Black Level" for these files.
You can either set the Raw Black levels at +512

or better insert the following lines in your camconst.json file (yoy will find it in the installation folder of your RT) .. just after ILCA 77M2 lines ..

[code]

[2016-05-22 08:22] ClaesGitHub commented on #3295
Good morning! I have not yet made the changes that iliasg sugegsted a few minutes ago. Instead, I tested another method: I converted your arw to dng (using Adobe's free DNG converter), and then processed both using the Default Medium ISO processing profile. Here is the result:
![sony_arw](https://cloud.githubusercontent.com/assets/19223977/15453059/7b8bbd64-2006-11e6-8354-83453372bc9f.png)

[2016-05-22 08:39] ClaesGitHub commented on #3295
@iliasg Your camconst.json modification works just fine :-)
@FlorianPerennes What do you think about this result?
![json](https://cloud.githubusercontent.com/assets/19223977/15453136/5a374ee6-2009-11e6-8fb6-e3e45674c683.png)

[2016-05-22 08:48] FlorianPerennes commented on #3295
Hi !,
@ClaesGitHub When I convert the RAW file into a .dng , it work too for me ! :)
@iliasg  I've put the lines into the camcost but it doesn't work, I have to do a manip after copy the lines or no ?

[2016-05-22 08:48] iliasg commented on #3295
@ClaesGitHub hi .. which is the exact size RT displays for the DNG converted file ?. Can you upload it ?
I see some garbage columns at the right with my suggested camconst raw crop ..
By eye detecting we have to crop at least 6 columns so change raw crop to [ 0, 0, -30, 0 ]

Negative values in camconst raw crop are subtracted from the full size raw frame i.e 6048x4016 become 6018x4016 and this for

[2016-05-22 09:05] Beep6581 commented on #3295
@ClaesGitHub the problem is lacking support for Sony ILCA-68 which the code @iliasg provided fixes, so let's focus on the proper solution and not give workarounds and subjective PP3s here in GitHub, as this is an issue tracker which notifies all devs every time an issue is updated. Workarounds and user support happens in our forum over at http://discuss.pixls.us/

[2016-05-22 09:27] iliasg commented on #3295
@FlorianPerennes yoy have to restart RT to see the effect of the changes ;)

[2016-05-22 09:55] FlorianPerennes commented on #3295
@iliasg Well, I think I will wait  a new version of raw therapee x) I've copied the lines in the camconst.json , save it, restart RT but still nothing...
Thanks anyway :)

[2016-05-22 09:58] ClaesGitHub commented on #3295
@iliasg Of course:

- Original ARW: 6016 x 4008
- DNG: 6016 x 4008
- json: 6016 x 4008
- http://filebin.net/4mmb9hv2mt

[2016-05-22 10:02] ClaesGitHub commented on #3295
@FlorianPerennes
I think I know what is your problem. Please join the friendly forum over at http://discuss.pixls.us/ and put your camconst.json question there...

[2016-05-22 11:43] iliasg opened #3298 "Camconst.json, 2016 updates"
Here https://drive.google.com/file/d/0B0NqktTgc54sZTRsbE9IUlhzeUE/view?usp=sharing
is an updated camconst.json supporting many new models (not all recent models ..) and correcting some data for older models.
Please test for any issues ..

As a new Dcraw with almost all recent models supported is available (Dcraw 9.27 - Rev. 1.477 Date: 2016/05/10 21:30:43) http://www.cybercom.net/~dcoffin/dcraw/dc

[2016-05-22 11:44] Beep6581 opened #3299 "TP_RETINEX_GAINTRANSMISSION_TOOLTIP"
@Desmis hello, I'm revising some labels and this one is unclear to me:

`TP_RETINEX_GAINTRANSMISSION_TOOLTIP;Amplify or reduce transmission map to achieve luminance.\nAbscissa: transmission -min from 0, mean, and values (max).\nOrdinate: gain.`

Could you please explain the "Abscissa: transmission -min from 0, mean, and values (max)." part?

[2016-05-22 11:56] Beep6581 commented on #3298
@iliasg ok with you if I commit this camcont.json update so @sguyader and @gaaned92 can include it in their builds for more testing?

[2016-05-22 12:09] heckflosse commented on #3298
@iliasg Ilias, I'll start the dcraw part now

[2016-05-22 12:13] Beep6581 commented on #3298
As I have to leave for a few hours and I suppose sguyader and gaaned will want to build in the meanwhile, I committed it to both branches, with some minor comment changes.

[2016-05-22 13:04] Beep6581 commented on #745
Cannot reproduce.

[2016-05-22 13:04] #745 closed

[2016-05-22 13:05] Beep6581 commented on #841
Stale, long and hard to follow, closing.

[2016-05-22 13:05] #841 closed

[2016-05-22 13:08] #1176 closed

[2016-05-22 13:08] Beep6581 commented on #1176
Obsolete.

[2016-05-22 13:09] Beep6581 commented on #1166
Obsolete.

[2016-05-22 13:09] #1166 closed

[2016-05-22 13:09] Beep6581 commented on #1036
Already implemented.

[2016-05-22 13:09] #1036 closed

[2016-05-22 13:10] #1008 closed

[2016-05-22 13:13] Beep6581 commented on #882
Already fixed.

[2016-05-22 13:13] #882 closed

[2016-05-22 13:14] Beep6581 commented on #879
Cannot reproduce, link dead.

[2016-05-22 13:14] #879 closed

[2016-05-22 13:17] Beep6581 commented on #1433
Already implemented.

[2016-05-22 13:17] #1433 closed

[2016-05-22 13:18] #1364 closed

[2016-05-22 13:22] Beep6581 commented on #1301
Haven't encountered this issue in ages, closing.

[2016-05-22 13:22] #1301 closed

[2016-05-22 13:23] Beep6581 commented on #1221
Post-resize sharpening is done, the other things are handled by other issues. Closing.

[2016-05-22 13:23] #1221 closed

[2016-05-22 13:23] #1217 closed

[2016-05-22 13:26] #1203 closed

[2016-05-22 13:29] #1594 closed

[2016-05-22 13:31] #1587 closed

[2016-05-22 13:33] Beep6581 commented on #1573
Merged into #3018

[2016-05-22 13:33] #1573 closed

[2016-05-22 13:33] #1541 closed

[2016-05-22 13:34] #1538 closed

[2016-05-22 13:34] #1527 closed

[2016-05-22 13:35] Beep6581 commented on #1520
Duplicate.

[2016-05-22 13:35] #1520 closed

[2016-05-22 13:37] Beep6581 commented on #1509
Cannot reproduce.

[2016-05-22 13:37] #1509 closed

[2016-05-22 13:39] #1499 closed

[2016-05-22 13:43] Beep6581 commented on #1484
Ctrl+Enter triggers save.

[2016-05-22 13:43] #1484 closed

[2016-05-22 13:44] #1724 closed

[2016-05-22 13:48] Beep6581 commented on #1712
Closing because RT is much faster now and this is a generic eye-candy request.

[2016-05-22 13:48] #1712 closed

[2016-05-22 13:49] #1711 closed

[2016-05-22 13:49] #1708 closed

[2016-05-22 13:51] #1699 closed

[2016-05-22 13:51] #1693 closed

[2016-05-22 13:51] #1689 closed

[2016-05-22 13:52] iliasg commented on #3298
@Beep6581 thanks for commiting to gain some testers, although I think it's faster and more efficient if we just make the new camconst.json public at RT forum .. should I post a message there ?.

@heckflosse Ingo thanks, after merging the new Dcraw please give a little thought if it's efficient to have one more Black Level constant  in camconst.json i.e "abs_black" (absolute BL i.e.one that ovewrit

[2016-05-22 13:58] Beep6581 commented on #1682
No progress or clear "todo" here, closing.

[2016-05-22 13:58] #1682 closed

[2016-05-22 13:58] Beep6581 commented on #1665
Closing, please move this to RawPedia if still required.

[2016-05-22 13:58] #1665 closed

[2016-05-22 14:00] Beep6581 commented on #1635
History panel columns in the gtk3 branch are set to 50%.

[2016-05-22 14:00] #1635 closed

[2016-05-22 14:00] Beep6581 commented on #1632
Cannot reproduce.

[2016-05-22 14:00] #1632 closed

[2016-05-22 14:02] Beep6581 commented on #1627
Seems to have been committed already.

[2016-05-22 14:02] #1627 closed

[2016-05-22 14:04] #1619 closed

[2016-05-22 14:07] Beep6581 commented on #1848
If Auto-WB gets a facelift, please use a new, clean issue.

[2016-05-22 14:07] #1848 closed

[2016-05-22 14:08] Beep6581 commented on #1843
Handled by Hugin, closing.

[2016-05-22 14:08] #1843 closed

[2016-05-22 14:08] #1839 closed

[2016-05-22 14:09] #1827 closed

[2016-05-22 14:11] Beep6581 commented on #1826
Already fixed.

[2016-05-22 14:11] #1826 closed

[2016-05-22 14:11] Beep6581 commented on #1820
Obsolete.

[2016-05-22 14:11] #1820 closed

[2016-05-22 14:11] #1816 closed

[2016-05-22 14:12] #1809 closed

[2016-05-22 14:14] #1794 closed

[2016-05-22 14:17] #1778 closed

[2016-05-22 14:20] #1756 closed

[2016-05-22 14:20] Beep6581 commented on #1752
Obsolete.

[2016-05-22 14:20] #1752 closed

[2016-05-22 14:21] #1750 closed

[2016-05-22 14:21] #1749 closed

[2016-05-22 14:22] #1748 closed

[2016-05-22 14:23] #1761 closed

[2016-05-22 14:24] #1957 closed

[2016-05-22 14:28] Beep6581 commented on #1933
The Flat-Field Correction tool works on raw files only, which is why it's in the "Raw" tab. Canon EOS 60D "S-RAW" files are not raw files.

[2016-05-22 14:28] #1933 closed

[2016-05-22 14:30] Beep6581 commented on #1923
Cannot reproduce.

[2016-05-22 14:30] #1923 closed

[2016-05-22 14:32] #1911 closed

[2016-05-22 14:32] Beep6581 commented on #1906
@iliasg can we close?

[2016-05-22 14:33] #1890 closed

[2016-05-22 14:33] Beep6581 commented on #1887
Cannot reproduce.

[2016-05-22 14:33] #1887 closed

[2016-05-22 14:35] #1880 closed

[2016-05-22 14:35] #1873 closed

[2016-05-22 14:35] #1867 closed

[2016-05-22 14:36] #1855 closed

[2016-05-22 14:36] Beep6581 opened #3300 "New major release - RT5"
This is an umbrella issue for tracking issues which need to be solved so that we can release a new major version. A new release is so overdue that we should strive to get RawTherapee in shape as soon as possible, therefore these issues should not be things we would like solved but things we need solved.
- [x] #1791 Automatically disable Auto-fill when enabling LCP
- [x] #1812 Persistent color pick

[2016-05-22 14:44] #2077 closed

[2016-05-22 14:52] NextTherapist opened #3301 "Queue tab "Save to folder" shortcuts don't update PathFolder in options file"
RT Master 4.2.797, Windows 7 64bit

I targetted the queue output to a subfolder of Desktop. After processing the queue and finally removing the subfolder, I started the next queue processing: to Desktop without a subfolder.

RT _produces_ the same subfolder again and saves the new output to the subfolder

[2016-05-22 14:57] #2058 closed

[2016-05-22 14:57] #2066 closed

[2016-05-22 14:58] #2049 closed

[2016-05-22 14:59] #2044 closed

[2016-05-22 15:02] #2004 closed

[2016-05-22 15:03] #1989 closed

[2016-05-22 15:04] #1983 closed

[2016-05-22 15:04] Beep6581 commented on #1976
Handled by "Inspect".

[2016-05-22 15:04] #1976 closed

[2016-05-22 15:05] #1975 closed

[2016-05-22 15:07] #1970 closed

[2016-05-22 15:07] #2006 closed

[2016-05-22 15:09] #2189 closed

[2016-05-22 15:09] #2166 closed

[2016-05-22 15:14] iliasg commented on #1906
For 550D yes, as it's covered by camconst.json, just wait a bit to check if we are OK with the alternate names 550D appears (T2i, Kiss X4) ...

[2016-05-22 15:29] iliasg commented on #1906
No "Canon EOS Rebel T2i" is not recognized to be in camconst.json so for the moment we have to change
`"make_model": "Canon EOS 550D", `
with
`"make_model": [ "Canon EOS 550D", "Canon EOS Rebel T2i", "Canon EOS Kiss X4" ],`

This brings up another desired feature for camconst.json i.e. to recognize by "CanonModelID" tag (if it exists) instead of "Model" tag .. I think Dcraw works this way ;).

@he

[2016-05-22 16:13] iliasg commented on #1906
@heckflosse I was wrong .. RT uses the camconst.json data even if it reports (on console) that it doesn't ("no constants exist in camconst.json for Canon EOS T2i") .. so we only need to correct the report ;)
.. but now I think that it's good for the users if we include the alternate names anyway. Additionally this is needed when a new model is not supported by the merged Dcraw version.
.. so I wil

[2016-05-22 17:27] heckflosse commented on #1906
@iliasg Ilias, the solution to include alternate names is the most readable for users of rt. So I'm completely with you to add alternate names to camconst.json and not using cryptic codes (as in dcraw).

[2016-05-22 18:30] #2151 closed

[2016-05-22 18:30] #2150 closed

[2016-05-22 18:35] Beep6581 commented on #2133
White still is not 100% R=G=B.
Currently the output profile histogram shows R=G=B 99.6% for the white patch, and the working profile histogram shows R=99.6%, G=100%, B=99.6%.

[2016-05-22 18:36] #2132 closed

[2016-05-22 18:53] Beep6581 commented on #1906
Including alternate names is good, at least for me :) Because it means I can more easily grep the file for whichever model I'm looking for.

I will close this issue as the 550D support is done, and we handle the alternate names in #3298.

[2016-05-22 18:53] #1906 closed

[2016-05-22 19:02] Beep6581 commented on #3301
Cannot reproduce.

How exactly did you do that? Did you click the "Save to folder" button again and point RT to the Desktop folder?

[2016-05-22 19:05] #2104 closed

[2016-05-22 19:05] #2003 closed

[2016-05-22 19:15] #2098 closed

[2016-05-22 19:15] Beep6581 commented on #2092
Cannot reproduce.

[2016-05-22 19:15] #2092 closed

[2016-05-22 19:16] #2090 closed

[2016-05-22 19:16] #2087 closed

[2016-05-22 19:19] Beep6581 commented on #2086
@Desmis has this been solved and committed, can we close?

[2016-05-22 19:23] #2170 closed

[2016-05-22 19:29] Beep6581 commented on #2266
Closing as stale. Get back to us in a new issue if this is still a problem for Adobe Photoshop Elements 14.0 - with the executable's filename from that version.

[2016-05-22 19:29] #2266 closed

[2016-05-22 19:41] Beep6581 commented on #2242
@atorger has this been handled by one of your other issues?

[2016-05-22 19:50] Beep6581 commented on #2218
Cannot reproduce.

[2016-05-22 19:50] #2218 closed

[2016-05-22 19:57] #2207 closed

[2016-05-22 19:58] #2204 closed

[2016-05-22 19:59] Beep6581 commented on #2202
Stale, possibly already fixed.

[2016-05-22 19:59] #2202 closed

[2016-05-22 20:01] Beep6581 commented on #2201
#1678

[2016-05-22 20:01] #2201 closed

[2016-05-22 20:02] #2200 closed

[2016-05-22 20:02] heckflosse opened #3302 "dcraw 9.27"
I just created [a branch with an update to dcraw 9.27](https://github.com/Beep6581/RawTherapee/tree/dcrawupdate). Happy testing :)

[2016-05-22 20:04] Beep6581 commented on #2199
In gtk3, the columns are fixed at 50%, the user cannot resize them. Any objections against removing the column headers?

[2016-05-22 20:06] #2370 closed

[2016-05-22 20:10] #2362 closed

[2016-05-22 20:13] Beep6581 commented on #2355
Already fixed.

[2016-05-22 20:13] #2355 closed

[2016-05-22 20:17] #2320 closed

[2016-05-22 20:19] heckflosse commented on #3300
https://github.com/Beep6581/RawTherapee/issues/3302 dcraw 9.27

[2016-05-22 20:19] #2292 closed

[2016-05-22 20:22] #2275 closed

[2016-05-22 20:25] Beep6581 commented on #2372
#1901

[2016-05-22 20:25] #2372 closed

[2016-05-22 20:30] #2441 closed

[2016-05-22 20:30] #2440 closed

[2016-05-22 20:33] Beep6581 commented on #2432
Already fixed.

[2016-05-22 20:33] #2432 closed

[2016-05-22 20:36] #2427 closed

[2016-05-22 20:38] #2419 closed

[2016-05-22 20:40] #2415 closed

[2016-05-22 20:42] Beep6581 commented on #2413
The [Neutral] button has been renamed to [Reset]. Anyone in favor of putting all widgets down to Contrast into a frame?

[2016-05-22 20:43] Beep6581 commented on #2405
Already fixed.

[2016-05-22 20:43] #2405 closed

[2016-05-22 20:44] #2402 closed

[2016-05-22 20:45] #2399 closed

[2016-05-22 20:46] #2397 closed

[2016-05-22 20:53] Beep6581 commented on #2379
Closing because the link is dead and there were some fixes committed relating to corrupt file handling.

[2016-05-22 20:53] #2379 closed

[2016-05-22 20:53] #2389 closed

[2016-05-22 20:57] #2456 closed

[2016-05-22 20:59] #2459 closed

[2016-05-22 21:00] Beep6581 opened #3303 "Remember last-used LCP and DCP folders"
The last-used LCP and DCP folder should be remembered, separately.

[2016-05-22 21:03] Beep6581 commented on #2448
http://rawpedia.rawtherapee.com/Noise_Reduction#Chrominance_-_Red-Green

[2016-05-22 21:03] #2448 closed

[2016-05-22 21:04] #2445 closed

[2016-05-22 21:08] Beep6581 commented on #2444
The patch hasn't been committed yet.

[2016-05-22 21:10] #2443 closed

[2016-05-22 21:13] Beep6581 commented on #2462
Closing only because can't reproduce - dead links.

[2016-05-22 21:13] #2462 closed

[2016-05-22 21:18] heckflosse commented on #2444
@michaelezra Could you test this patch? I don't have PS. Or should we close it?

[2016-05-22 22:26] heckflosse commented on #2402
For reference: Should by solved with 721de44

[2016-05-23 06:57] NextTherapist commented on #3301
@Beep6581
The "Save to folder" button was preselected and proposed "None". I chose "Desktop" and started processing. Then RT created the subfolder again and saved the file in it.

[2016-05-23 07:21] Desmis commented on #3299
@Beep6581

Hello
It is the same 'explanation" than for "Transmission" and "Transmission map curve".
For this last the label is : "transmission from negative values (min), mean, and positives values (max)"

To say in another word. The abscissa represents a Gaussian function of "transmission"...Transmission varies from negatives (often about -10 to -50 values to positives values about +10 to +50. Th

[2016-05-23 07:35] pi99y opened #3304 "Race when using same dcp profile with different settings"
With the latest build I started seeing that thumbnails sometimes look undeveloped (settings not fully aplied) and/or have a clearly visible "box" inside them that looks like it uses different settings or is unprocessed.

![partial_thumbnails](https://cloud.githubusercontent.com/assets/10639257/15463297/afb72fde-20c8-11e6-907a-4bad0926ae47.jpg)

Opening up (in edit mode) the image with problematic

[2016-05-23 07:47] Beep6581 commented on #3301
How did you choose "Desktop", in the main area or in the side panel? Did you enter the Desktop folder? Did you single-click it or double-click it? Did you use the "OK" button? Details.

[2016-05-23 07:47] Desmis commented on #2086
@Beep6581

I think we can close :)

[2016-05-23 08:13] #2086 closed

[2016-05-23 08:15] Beep6581 commented on #3304
I've seen these artifacts for months. They only affect the thumbs, I've never seen that in the main preview nor in the processed output.

[code]

[2016-05-23 09:19] NextTherapist commented on #3301
![rt-queue-desktop](https://cloud.githubusercontent.com/assets/16581692/15465935/573384d4-20d7-11e6-8e0f-def83f6cad41.png)

This is what I see when I restart RT after saving the queue output to a subfolder and then deleting the subfolder.
I put an image into the queue, change to the queue tab and see the attached dialogue.
(I do not need to select "Save to folder" here, it's preselected)
I click o

[2016-05-23 11:23] ClaesGitHub commented on #3299
@Beep6581
Would it be easier to understand for ordinary users if you wrote _x-axis_ and _y-axis_ instead? Or perhaps _horizontal axis_ and _vertical axis_?

[2016-05-23 14:14] Beep6581 commented on #3301
Thank you, reproduced in Linux.

To reproduce, one must use the shortcut destinations in the first two sections of the drop-down. In Linux/Gtk3, the drop-down has three sections. The first two contain mount points, "favorite" destinations, "Desktop" and "File System", and the last section contains just "Other...".
"Other..." works well, but the shortcuts before it don't.

[2016-05-23 14:19] Beep6581 commented on #3301
I tried several of the choices in the drop-down, none of them updated the `PathFolder=` key in the options file, only "Other..." did.

[2016-05-23 17:18] heckflosse commented on #3298
@iliasg It would need a lot of changes to camconst code to add an "abs_black" property because of the way it's designed. "white" has index 0 and "black" has index 1 and a lot of code depends on that mapping currently.
An easy solution would be to treat all black levels > 65535 as absolute black level (after subtracting 65535 of course). That would be a one line change. What do you think?

[2016-05-23 17:18] sguyader commented on #3302
I've just made Windows 64 builds for more testers: http://filebin.net/6zvihkawa2

[2016-05-23 17:20] heckflosse commented on #3302
@sguyader Sébastien, great, thank you!

[2016-05-23 19:40] Beep6581 commented on #2083
"OpenColorIO (OCIO) is a complete color management solution geared towards motion
picture production with an emphasis on visual effects and computer animation.
OCIO provides a straightforward and consistent user experience across all
supporting applications while allowing for sophisticated back-end configuration
options suitable for high-end production usage. OCIO is compatible with the
Academy Co

[2016-05-23 19:49] Beep6581 commented on #3298
@heckflosse if the many changes required to implement abs_black are similar or follow a pattern, maybe I could help by scripting?

[2016-05-23 20:01] iliasg commented on #3298
@heckflosse Ingo, I do not have a clear mind at the moment .. :(
I could deal with this >65535 norm but what about normal users ?. Will just updating the manual be enough ?.
I don't understand why it is so complex !! the only difference between the current camconst "black" and the "abs_black" will be the elimination of any input coming from Dcraw. I mean that now Dcraw feeds camconst with a "detec

[2016-05-23 20:09] mbajor opened #3305 "Build failure on Arch"
Hi,
I have a problem with building of RT packages for Arch 32bit (gcc-6.1.1).
There is no problem for builds with -msse2 flag.
[Full log](https://build.opensuse.org/package/live_build_log/home:rawtherapee/rawtherapee-nosse/Arch_Extra/i586)

[2016-05-23 20:10] heckflosse commented on #3298
@iliasg @Beep6581 It's not complex. It's just that implementing "abs_black" is not a one liner, which also means it needs more tests than the one liner ;-)

[2016-05-23 20:15] heckflosse commented on #3305
@mbajor Your link seems to be wrong :(

[2016-05-23 20:28] iliasg commented on #3302
@pi99y the main difference is support for new models .. although most of them are covered by the updated camconst.json
Issues waiting the new Dcraw ..
https://github.com/Beep6581/RawTherapee/issues/2814
https://github.com/Beep6581/RawTherapee/issues/3229 do we still need libraw's code ?
https://github.com/Beep6581/RawTherapee/issues/3000

We also have to check the behavior on Sony ARW files (compr

[2016-05-23 20:28] Beep6581 commented on #3305
https://build.opensuse.org/package/live_build_log/home:rawtherapee/rawtherapee-nosse/Arch_Extra/i586

[2016-05-23 20:33] iliasg commented on #2083
.. Dcraw 9.27 supports exporting at ACES color space !!

[2016-05-23 20:33] heckflosse commented on #3305
That looks like a gcc-6.1.1 bug...

[2016-05-23 20:43] Beep6581 commented on #3186
I'm setting this issue as a blocker for a new major stable release. If anyone knows how to implement PANGO_ELLIPSIZE_MIDDLE where @Hombre57 described, help would be much appreciated.

[2016-05-23 20:51] da-phil commented on #3289
Sorry for the late reply ;)
My OS: Ubuntu 14.04.4 LTS amd64
My computing hardware:
[code]
And this is my RT config (~/config/RawTherapee/options)
[options.txt](https://github.com/Beep6581/RawTherapee/files/278157/options.txt)

This behavior is completely independent of RAW developing features, it also happens when I don't use any features, not even colour profiles, as I said it also happens when t

[2016-05-23 20:52] da-phil commented on #3303
yes, that would be a good idea ;)

[2016-05-23 21:16] Beep6581 commented on #3289
Wild shot: what if you delete (or rename) your options file, then run RT, this will create a new options file, then create an empty folder `/home/phil/emptyfolder` , then edit this new options file and set
[code]
Did that make any difference?

[2016-05-23 21:52] da-phil commented on #3289
Unfortunately it didn't, thanks for the idea though!

[2016-05-23 22:21] #2502 closed

[2016-05-23 22:22] #2496 closed

[2016-05-23 22:31] Beep6581 commented on #2487
http://rawtherapee.com/shared/test_images/pentax_k10d_accordion.dng
[code]
RT shows "Orientation: Horizontal (normal)"

[2016-05-23 22:33] #2484 closed

[2016-05-24 00:52] romandocent opened #3306 "Noise reduction crash"
RawTherapee crashes without error messages during the Luminance or Luminance - Detail changing (Noise reduction switched on). Crash happens randomly, not every time when I use this function.
Firstly noticed in 4.2.976. In 4.2.1005 this bug still exists.

System: Ubuntu 16.04 LTS 64bit. Asus Zenbook UX303L, Intel Core i5 5200U, Intel HD Graphics 5500 + Nvidia 940M, 12 Gb ram, SSD OCZ Trion 150 240G

[2016-05-24 06:11] Floessie commented on #3305
@heckflosse This is actually a C++11 bug, see [here](http://stackoverflow.com/questions/29750946/is-stdabs0u-ill-formed) and the note [here](http://en.cppreference.com/w/cpp/numeric/math/fabs). I ran into exactly the same problem with my projects at work, where `abs()` was silently degrading `double`s to integers when I switched from C++03 to C++11. The solution was to change `abs()` to `std::fabs

[2016-05-24 06:27] Floessie commented on #3289
And this only happens in RT, or also in other GTK based programs? I only ask, because in the past I had some problems (hangs) with `gvfs-backends` installed in other GTK applications.

Silly question: Your RT was compiled with OpenMP enabled?

[2016-05-24 08:17] Floessie commented on #3305
@heckflosse Actually, this here could be more profane: As `<cmath>` is included, `abs()` is now in the `std` namespace, and Marcin's GCC version seems serious about it. I guess, this should fix it:

[code]

Nevertheless, one should have an eye on `abs()` due to the problems mentioned above.

[2016-05-24 08:31] markanini commented on #3005
Inconsistent crash behavior on DCP load is back in this build:
Branch: gtk3
Version: 4.2.976
Changeset: 0074a5d429bafde3ade2734bb0260ee22039768c
Compiler: gcc 5.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.18.0
Build type: release
Build flags: -m64 -mwin32 -mthreads -std=gnu++11 -mtune=generic -Werror=unused-label -fopenmp -Werror=unknown-pragmas -msse -msse2 -mwindows -

[2016-05-24 08:42] Beep6581 commented on #3306
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
We need a stack backtrace and PP3.

[2016-05-24 08:54] Beep6581 commented on #3005
Please use the latest version when testing.

[2016-05-24 13:27] sguyader commented on #3305
I had no problem compiling RT today in my up-to-date Manjaro (Arch-based) distro:

Version: 4.2.864
Changeset: 918179f621cbd5c863825bd6f720ef5a79c89baa
Compiler: cc 6.1.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: release
Build flags:  -std=gnu++11 -march=native -Werror=unused-label -fopenmp -Werror=unknown-pragmas -O3 -DNDEBUG
Link flags:  -march=native
OpenMP s

[2016-05-24 13:58] heckflosse commented on #3305
@mbajor Marcin, can you try the patch Floessie provided? I can't test that as I'm on Win64 gcc 5.3.1

[2016-05-24 15:05] tommay opened #3307 "Chaging rank breaks prev/next in the editor when filtered on rank"
It seems like a reasonable thing to do to browse through my unranked images in the editor tab (where images are large enough to evaluate) and give them ranks.  But when I try the obvious way, it doesn't work:
- In the File Browser, click "Show unranked images".  As expected, only unranked images are shown.
- Double-click an image.  The editor tab is switched to.
- Note that F3/F4 and Shift-F3/Shif

[2016-05-24 16:17] heckflosse commented on #3302
@iliasg I added the [absolute black levels](https://github.com/Beep6581/RawTherapee/commit/f86a0811aae311739615530976b3180b02c82ffd) to dcrawupdate branch

[2016-05-24 16:20] Beep6581 commented on #3307
Additional note:
Rating the image removes it from view because the "Show unranked images" filter is active. If you hit "x" to select the current image, this resets the filter.

[2016-05-24 16:51] Michael-GH opened #3308 "Samsung NX1 SRW fails to open properly"
Build: 4.2.862 & 4.2.1005 W10 x64

Opening a Samsung NX1 SRW raw file results in only a partial strip of image shown. Build 808 does not have this issue. Happens with all SRW files I have, used to be fine.
According to [pixls comment](https://discuss.pixls.us/t/samsung-nx1-raw/1467/9?u=michael), this appears to be due to a [new line introduced to NX1 section of camconst.json](https://github.com/Be

[2016-05-24 17:08] heckflosse commented on #3308
@Michael-GH Thanks for reporting. Fixed with d0cef55aada8e51321d44982a2a8ca258eaa6139

Ingo

[2016-05-24 17:08] #3308 closed

[2016-05-24 17:43] tommay commented on #3307
I tried the "x" and "y" shortcuts before opening this issue, and I've tried them again just now, but pressing either "x" or "y" after ranking the image doesn't change anything for me -- the F3/F4 Shift-F3/F4 keys still continue to do nothing after ranking the image.

Quite honestly I'm not sure how this is all intended to work, but the behavior I'm seeing is confusing and non-intuitive to me.

[2016-05-24 19:12] heckflosse commented on #3233
Auto distortion correction works only with raw files. We should gray out the button for tiff, jpeg and png

[2016-05-24 19:13] TooWaBoo opened #3309 "Deutsch locale update based on RT4.2.1005"
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/280296/Deutsch.txt)

[2016-05-24 19:26] da-phil commented on #3289
I killed all gvfs services and tried again, but unfortunately it also wasn't a gvfs backend :(
Yes my build is with OpenMP enabled!
My current version:
[code]

[2016-05-24 19:28] iliasg commented on #2814
Fixed with Dcraw V9.27 merge .. https://github.com/Beep6581/RawTherapee/commit/18243db5bafb63595fd561c89a7b7676483ef843

[2016-05-24 19:32] iliasg commented on #3229
@srjacob999 @sguyader The sample files' link expired .. please make some compressed RAFs available to test with Dcrawupdate branch

[2016-05-24 19:42] iliasg commented on #2972
Magenta highlights fixed with updated camconst.json. https://raw.githubusercontent.com/Beep6581/RawTherapee/d0cef55aada8e51321d44982a2a8ca258eaa6139/rtengine/camconst.json

link with sample at old RT forum http://rawtherapee.com/oldforum/viewtopic.php?f=3&t=6309#p44131

@atorger Anders should we expect any changes at highlight clipping before tagging as fixed ?
http://rawtherapee.com/oldforum/view

[2016-05-24 19:44] iliasg commented on #3235
Pentax K-x item is included in updated camconst.json https://raw.githubusercontent.com/Beep6581/RawTherapee/d0cef55aada8e51321d44982a2a8ca258eaa6139/rtengine/camconst.json
K-x highlight issue is fixed.

[2016-05-24 19:45] Beep6581 commented on #3309
6603577f5cac52e12c2cae0ae7db960459ed9c05

[2016-05-24 19:45] #3309 closed

[2016-05-24 19:57] heckflosse commented on #3289
@da-phil When batch processing, is the source folder the same as destination folder or is it a different folder?

[2016-05-24 19:57] iliasg commented on #3302
@heckflosse OK thanks, nice to have this option
Tomorrow I will update camconst.json manual with the related info together with some more changes ..

BTW merging Dcraw 9.27 fixed the issue of wrongly detected BL for some NEFs ..

[2016-05-24 20:38] srjacob999 commented on #3229
Your wish is my command.  Download them here:

www.jjworld.com/images/FujifilmX-Pro2_Raw.zip

There are 2 images, each 6000x4000

Steve

From: iliasg [mailto:notifications@github.com]
Sent: Tuesday, May 24, 2016 4:05 PM
To: Beep6581/RawTherapee
Cc: srjacob999; Mention
Subject: Re: [Beep6581/RawTherapee] Fujifilm X-Pro2 compressed raw support (#3229)

@srjacob999 <https://github.com/srjacob999>  @s

[2016-05-24 20:48] Floessie commented on #3289
@da-phil Maybe you could use `strace` (with `-fr`) to look where it hangs when files are added or removed?

[2016-05-24 20:50] Floessie commented on #3305
@mbajor If it still fails, you could change `std::abs()` to `std::fabs()` and try again.

[2016-05-24 20:59] mbajor commented on #3305
@heckflosse @Floessie The patch fixed compile error in rtexif.h file, but test build is still in progress
https://build.opensuse.org/public/build/home:marcinbajor:branches:home:rawtherapee/Arch_Extra/i586/rawtherapee-nosse/_log

I didn't test it how it affects on other compilers.

[2016-05-24 21:08] mbajor commented on #3305
@heckflosse @Floessie Fix confirmed

[2016-05-24 21:15] heckflosse commented on #3292
@Desmis @Floessie I'm still working on cleanup and speedup of locallab branch. Got interrupted by dcraw update and some minor fixes. I hope I can complete the task before the weekend.

[2016-05-24 21:47] #3305 closed

[2016-05-24 21:47] heckflosse commented on #3305
@mbajor Thanks for reporting the Issue! @Floessie Thanks for providing the fix!
Fixed with 5cd202ddb563b52044a27a9c46adaafacd6e872f

[2016-05-24 22:14] heckflosse commented on #3229
@srjacob999 @iliasg As expected, updated dcraw still does not open the compressed xtrans files correctly  :(

[2016-05-24 22:26] srjacob999 commented on #3229
Yes, but LibRaw does.

https://github.com/LibRaw/LibRaw

From: Ingo Weyrich [mailto:notifications@github.com]
Sent: Tuesday, May 24, 2016 6:15 PM
To: Beep6581/RawTherapee
Cc: srjacob999; Mention
Subject: Re: [Beep6581/RawTherapee] Fujifilm X-Pro2 compressed raw support (#3229)

@srjacob999 <https://github.com/srjacob999>  @iliasg <https://github.com/iliasg>  As expected, updated dcraw still does n

[2016-05-24 22:37] heckflosse commented on #3229
@srjacob999 Yes, I know. Integrating libraw xtrans compressed decoding is on my todo list!

[2016-05-24 22:42] srjacob999 commented on #3229
I just sent Dave Coffin two compressed X-Pro2 raw files so he can get dcraw working.

From: Ingo Weyrich [mailto:notifications@github.com]
Sent: Tuesday, May 24, 2016 6:38 PM
To: Beep6581/RawTherapee
Cc: srjacob999; Mention
Subject: Re: [Beep6581/RawTherapee] Fujifilm X-Pro2 compressed raw support (#3229)

@srjacob999 <https://github.com/srjacob999>  Yes, I know. Integrating libraw xtrans compress

[2016-05-25 05:05] Desmis commented on #3292
@heckflosse
Ingo
Is that what you're going to propose, will improve the existing situation (more speed, stability, ...), or is it going to change the system (more than one control point, layers, etc.)

Jacques

[2016-05-25 06:02] Floessie commented on #3292
@heckflosse No problem, I'll be on a journey until Sunday, and my cleanups won't be crucial either. :)

[2016-05-25 06:56] Beep6581 commented on #2814
Hey @iliasg, I fixed the quoted text and link in your post, hope you don't mind.

If fixed, can we close?

[2016-05-25 06:57] #3235 closed

[2016-05-25 07:33] iliasg commented on #3229
http://www.libraw.org/news/libraw-compressed-fujifilm-raf-support
Is RT compatible with LGPL 2.1 and CDDL 1.0 licenses ?.

[2016-05-25 07:42] iliasg commented on #2814
@Beep6581 I just tested on the D5300 sample which is the only available at the moment .. when I will go back home I will be able to test on the D810 sample ..
I think we can close this after Dcrawupdate find it's way into master branch ..

[2016-05-25 08:45] Desmis commented on #3292
Regardless of possible improvements (more U points, layers ...), there are at least two ways to treat the points of controls.
1) That found in some software like Gimp with a lasso to delimit the zone,
2) or the one we found in Nikon CNX2 with the famous U-points with only a circle.

This second "intelligent" system can only influence certain colors, or brightness, etc.

For me this system (U- poin

[2016-05-25 09:17] Floessie commented on #3304
In #3154 I wrote:

I had a look at it, and there is a race between `Thumbnail::_generateThumbnailImage()` and `Thumbnail::getThumbnailSize()`. The first sets `tw` to -1 while loading, the latter takes this into account in `w = tw_ * h / th_` which results in `w` returning as `0` (usually).

This little patch fixes it and adds a debug message for reproduction:
[code]

This might or might not be rel

[2016-05-25 09:35] Floessie commented on #3304
@Beep6581 While the `rtgui::Thumbnail` interface is mostly modeled after the [Monitor](https://en.wikipedia.org/wiki/Monitor_%28synchronization%29) pattern, a handfull of methods isn't. Some may have been considered to be too trivial for synchronization, some may have been forgotten in the header file. Fact is, there are concurrent accesses that need to be synchronized, even if they only return a

[2016-05-25 10:39] mks9900 commented on #3292
Jacques, as a former user of Capture NX, I really have to say that their U-point technology was the killer feature that made me use it although the program itself was a pain to use otherwise. If a similar function could be implemented in RT, well to say the least it would be awesome! :-)
BR,
Johan

[2016-05-25 13:03] srjacob999 commented on #3229
Yes.  It appears so.

From: iliasg [mailto:notifications@github.com]
Sent: Wednesday, May 25, 2016 3:34 AM
To: Beep6581/RawTherapee
Cc: srjacob999; Mention
Subject: Re: [Beep6581/RawTherapee] Fujifilm X-Pro2 compressed raw support (#3229)

http://www.libraw.org/news/libraw-compressed-fujifilm-raf-support
Is RT compatible with LGPL 2.1 and CDDL 1.0 licenses ?.

—
You are receiving this because you

[2016-05-25 17:18] ex-ee opened #3310 "Rawtherapee Crash on Start up"
This problem has been persistent at least since upgrading to OSX 10.11.

Rawtherapee crashes immediately on opening every time whether am opening a raw file or simply the program itself. I have tried all recent OSX versions from the site.  Any ideas?? I really love the program and the integration with GIMP is a lifesaver, but this issue seems persistent on my machine for the last few versions of 4

[2016-05-25 18:06] heckflosse commented on #3292
Jacques, currently I make speedups and clean the code. I also think I found one bug which I want to correct.
Locallab is already similar to U- points (though currently with the restriction to one point and with a gui, which has to be improved IMHO). It also lacks some features from U - points like displaying the mask...) but that should be doable too.
You will get my full support to enhance the lo

[2016-05-25 19:44] heckflosse commented on #3292
Jacques, I got closer to the 'bug' I mentioned above. We have to change the current implementation of picking 'hue' and 'chroma' on the fly (while processing the image) to a 'pick that values immediately in gui'.
Example: Place a locallab control point in gui and reduce Chrominance to -100. Then zoom 100 % to this control point. Works fine! Now pan the preview to move the control point far out of

[2016-05-25 21:42] heckflosse commented on #3304
@Floessie @Beep6581 I never ran into this issue but the patch from Floessie and his explanation looks good. @Beep6581 Can you include it in your test of rgbcurvespeedup branch, please?

Ingo

[2016-05-26 04:41] Desmis commented on #3292
@heckflosse

Ingo
OK and thank you for your first remark ("I make speeds up...You will get my full support to enhance the locallab tool!")

For the second, it is a curious bug (and real).
Yes there is this bug, for chroma, but also for lightness and contrast, but only in direct mode. If you select "inverse" or Blur and noise" all seems to works!!
I hope you work on this bug.
Thank you :)

[2016-05-26 06:39] pi99y opened #3311 "Highlight recovery with color propagation enhancing purple fringing"
Hi,
firstly, let me say that RT is pretty awsome as it is, especially in recovering different kinds of detail.

However, mostly on pictures with sun reflecting off water I see the color propagation grabing the wrong detail (purple fringing) and so filling it with wrong - purple color.

![color_recovery](https://cloud.githubusercontent.com/assets/10639257/15565577/ed1e32a0-231b-11e6-824b-597efc44f4

[2016-05-26 08:00] Beep6581 commented on #3304
I will.

[2016-05-26 08:55] Beep6581 commented on #3311
There are several issues here:

Always use the Neutral profile when assessing a problem. Here when you apply Neutral you see straight away that areas which should be clipped white are purple. Setting "Raw White Points > White-point correction" to 1.01 fixes that. @iliasg specializes in finding correct white and black levels, maybe he could help find the right values for camconst.json.

Second, aft

[2016-05-26 10:00] Beep6581 opened #3312 "Segfault adjusting false color suppression steps"
I can reproduce a segfault if I open the image from https://github.com/Beep6581/RawTherapee/issues/3311 , apply neutral and adjust the X-Trans False color suppression steps (3-pass demosaicing selected), but only if I run a release build normally. If I run it from GDB, or if I run a debug build from GDB, no crash.

I just grab the False color suppression steps knob and drag it left and right witho

[2016-05-26 10:13] heckflosse commented on #3292
@Desmis
Jacques, I found another bug in calculating `chromaref`

Assume you have 2 pixels with the (a,b) values
(-1,1)
(1,-1)
The current method calculates (I skip the division by 327.68f for simplicity)
avA = (-1 + 1) / 2 = 0
avB = (1 + -1) / 2 = 0
chromaref = sqrt(SQR(avB) + SQR(avA)) = 0

the correct value for chromaref in this case would be
(sqrt(1 + 1) + sqrt(1 + 1)) / 2 = sqrt(2)

or do I ma

[2016-05-26 10:46] heckflosse commented on #3312
I take that

[2016-05-26 10:52] heckflosse commented on #3312
Hmmm, false colour correction is [skipped](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimagesource.cc#L881) at 25% zoom
Must be something else...

[2016-05-26 11:07] iliasg commented on #3311
It's the same problem coming up after RT changed behavior at highlights, here the white clips at 4094 instead of 4095 and it shows .. (it was not  with the old behavior ).
I'll include X-pro-1 at the next camconst.json update setting white level at 4080 for safety. Anyone who wants to test please insert in camconst.json

[code]
BTW I think that if we could make RAW autoCA to work with X-trans (or

[2016-05-26 11:30] Desmis commented on #3292
@heckflosse

Hello Ingo
You are true!!

Thank you very much :)

[2016-05-26 11:50] pi99y commented on #3311
Thanks for the tips on how to aproach such images, I'll testi it right away. And thanks for tweaking the x-pro1 profile. Great!

[2016-05-26 15:44] Beep6581 commented on #3312
Yes, the preview did not change at all, but playing with that slider caused a reproducible segfault.
How is that slider handled differently to the Exposure slider?
I will report back if I reproduce it with other sliders, hopefully that will give a clue.

[2016-05-26 15:55] ClaesGitHub commented on #3306
Stack backtrace of noise reduction crash  enclosed.

Host:  Windows 7 64-bit 12 gig RAM Intel i7
Guest Xubuntu Xfce 16.04 in Oracle M VirtualBox, 8192 gig RAM
RT 4.2.1013 (debug), own compilation
Backtrace, pp3 and RAF here: http://filebin.net/q4hchooolw

[2016-05-26 15:59] heckflosse commented on #3292
@Desmis
Hello Jacques,
[here](http://filebin.net/yjrf1ioetf) is a preliminary patch you can test. It's a lot faster and the chromaref bug is fixed too. The other bug is still not fixed. I'm working on it and will also make further cleanups.

Ingo

[2016-05-26 16:03] heckflosse commented on #3306
With that massive amount of RAM at least we can exclude 'out of memory' as a reason for the crash ;-)

[2016-05-26 18:02] Beep6581 commented on #3312
I tried with most other sliders in the Raw tab. I could not reproduce the crash with any of them except for the FCSS sliders - both of them! amsterdam.pef was crashed by twiddling with the X-Trans FCSS slider.

[2016-05-26 20:32] heckflosse commented on #3312
@Beep6581 I cannot reproduce here. Can you test with [lines 882 to 891 of rawimagesource.cc](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimagesource.cc#L882) commented out?

[2016-05-27 05:50] Desmis commented on #3292
@heckflosse

Hello Ingo
you did a lot of work to optimize and simplify :)

I found a bug
* for the quarter right/top   (with lp.lyT and lp.lx) the ellipse is not good and there is interaction with "mouse decay" in lp.ly
I have look quickly but do not find...

Jacques

[2016-05-27 06:41] Desmis commented on #3292
@heckflosse

Ingo
I think I have probably found the bug...
It is in "fillMaskArrays"...
If you replace by
    for(int i = 0; i <= 2; i++) {
        lx[i] = lp.lx;
    }

    for(int i = 4; i <= 8; i++) {
        lx[i] = lp.lxL;
    }

    for(int i = 0; i < 2; i++) {
        ly[i] = lp.ly;
    }

    for(int i = 2; i <= 4; i++) {
        ly[i] = lp.lyT;
    }

    for(int i = 6; i <= 8; i++) {

[2016-05-27 10:50] heckflosse commented on #3292
@Desmis
Jacques, I tried your modification but could not detect differences in output before/after. Do you have a RAW file and a pp3 file to reproduce?

Ingo

[2016-05-27 11:20] Desmis commented on #3292
@heckflosse

Hello Ingo

Here one NEF and pp3 with original patch :)
http://jacques.desmis.perso.neuf.fr/RT/_ASC4209.NEF
http://jacques.desmis.perso.neuf.fr/RT/_ASC4209.NEF.pp3
You can see  a "scale" in top/right
:)

[2016-05-27 11:53] heckflosse commented on #3292
@Desmis
Hello Jacques.

I must be blind. I processed your file before and after your modification and they are absolutely identical!

[2016-05-27 12:06] Desmis commented on #3292
@heckflosse

For me the difference is hugh :)
I join the new patch
http://jacques.desmis.perso.neuf.fr/RT/local2.patch
:)

[2016-05-27 12:16] heckflosse commented on #3292
@Desmis
Thanks, now I can reproduce it. Though curious why I couldn't before.

[2016-05-27 23:35] heckflosse commented on #3292
@Desmis
Jacques, I will supply a patch with on optimized correction to the bug you detected (thanks for finding the bug!!!) at the weekend.

[2016-05-28 06:40] Desmis commented on #3292
@heckflosse

Ingo
OK :)

[2016-05-28 17:41] Beep6581 commented on #2578
Seems fixed.

[2016-05-28 17:41] #2578 closed

[2016-05-28 17:45] Beep6581 commented on #2574
@Desmis is this something you could look into? If we agree to remove this behavior, it would be good to do that now before releasing RT5 so that RT5 PP3s stay consistent.

[2016-05-28 17:46] Beep6581 commented on #2568
Updated link from first post:
http://rawtherapee.com/oldforum/viewtopic.php?f=1&t=5764#p39781

[2016-05-28 17:47] Beep6581 commented on #3300
#2568 tunnelMetaData IPTC, XMP and/or Exif?

[2016-05-28 17:48] #2566 closed

[2016-05-28 17:49] #2559 closed

[2016-05-28 17:52] Beep6581 commented on #2555
Closing because old, please open a new issue if still valid.

[2016-05-28 17:52] #2555 closed

[2016-05-28 17:52] #2546 closed

[2016-05-28 17:56] Beep6581 commented on #2621
Stale, links dead, many changes since then, closing.

[2016-05-28 17:56] #2621 closed

[2016-05-28 19:18] Beep6581 commented on #2612
Fixed by the "Gamma" slider.

[2016-05-28 19:18] #2612 closed

[2016-05-28 19:25] #2589 closed

[2016-05-28 19:44] vivo75 opened #3314 "random segfault when switching to next image"
Since a pair of months RT sometimes segfault when opening a new image, usually reopening RT in the same folder and selecting the same image again just work, other times it crash again.
It's not easy to reproduce, sometimes it takes 2 images, sometimes 10, but it happen often enough.
This was happening also when building from master branch.

RawTherapee, version 4.2.1013
commit 7040b6e5b1fdd596c58f

[2016-05-28 20:02] Beep6581 commented on #3146
@Desmis @heckflosse I didn't get much opportunity to use RawTherapee in the last few months, but I had a good go today, and wow! Retinex was stable, fast and lead to very good results!

![scrot_2016-05-28 215842](https://cloud.githubusercontent.com/assets/5844619/15629668/62c70946-251f-11e6-9a67-3b686ec372c2.png)

[2016-05-28 21:24] chpower opened #3315 "Panasonic DMC-ZS100"
Hello I just started using RawTherapee and I can't get my raw photos to look right but my jpg files look fine. Could you check the files I have sent to Github for my Panasonic DMC-ZS100. I followed the instructions for "Adding Support for New Raw Formats.
http://filebin.net/l6hrnr0l4p

Thank You so much for the great software!
Chris Power

[2016-05-28 23:17] heckflosse commented on #3292
@Desmis

Jacques, [here](http://filebin.net/ytizk9qi63) is a new preliminary patch.
It's again faster and more readable than last one, but the important thing is that we now have to call just one function to get information about the zone and the transition factor (calcTransition).
This should make it easier to implement different selections in future.
I hope I didn't introduce any new bugs ;-)

I

[2016-05-29 05:51] Desmis commented on #3292
@heckflosse

Hello Ingo
All seems to work well.
Good job :)
Jacques

[2016-05-29 15:01] heckflosse commented on #3292
@Desmis
Hello Jacques,
I want to change some things:

1. Currently the accuracy of positioning is only 1/200 of image dimensions. If you work with large images (D800) this leads to big steps when changing position. I would like to set accuracy to 1/2000 instead.
2. Currently the size of the center region is quite large and depends on image dimensions. It also does not correspond to the size of the

[2016-05-29 15:19] Desmis commented on #3292
@heckflosse

Hello Ingo
I think your 2 propositions are good....And you can :)

jacques

[2016-05-29 16:14] heckflosse commented on #3292
@Desmis
Jacques, [here](http://filebin.net/9uaoz3er33) is the patch which includes the changes. It's not backwards compatible to coordinates of former version but I think we don't need backwards compatibility currently.

[2016-05-29 16:24] Desmis commented on #3292
@heckflosse

Ingo
I tested quickly...it is more "fine"  :)

All seems to work well.
Good job :)

[2016-05-29 16:30] heckflosse commented on #3292
@Desmis Ok to push the current version to locallab branch?

[2016-05-29 16:37] Desmis commented on #3292
@heckflosse

No problem , you can :)

[2016-05-29 16:41] heckflosse commented on #3292
Pushed

[2016-05-29 16:59] iliasg commented on #3315
@chpower Chris, Thanks for the samples. RT already has support for ZS100 .. what do you exactly mean by "don't look right" ?.
I only see a problem at your last sample with vignette at an extended area at the right corners !!.

[2016-05-29 18:58] heckflosse commented on #3302
@iliasg and everyone else: Please tell me when you think I can merge dcrawupdate branch into master.

[2016-05-29 19:10] iliasg commented on #3302
@heckflosse I think you can merge without waiting for updated camconst.json (it's almost ready and I will upload it tomorrow)

[2016-05-29 19:25] Beep6581 commented on #3315
Chris by not looking right do you mean they just look different?
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG

[2016-05-29 19:56] heckflosse commented on #3302
@iliasg ok, I'll make the new dcraw.patch file and merge soon

[2016-05-29 20:57] heckflosse commented on #3302
I just merged 'dcrawupdate' into 'master'

[2016-05-29 20:57] #3302 closed

[2016-05-30 07:15] Desmis commented on #2574
@Beep6581
I pushed a chaage in branch "bwtoningold"

If ppversion < 314  and if user select chroma= -100, then the system enable "black and white"
if ppversion > 314 old bwtoning is desabled

:)

[2016-05-30 07:32] iliasg commented on #3298
camconst.json update https://drive.google.com/file/d/0B0NqktTgc54sVXhiS180SFRqbm8/view?usp=sharing to keep in track with latest Dcraw 9.27 merge

- Updated manual/comments .. absolute black (WL>65535) from recent Dcrawupdate branch included.
- Reorder of items, trying to achieve Brand-category(high/mid/low)-model structure
- Fuji x-pro1 added,
- added alternate names of Canon models

[2016-05-30 11:21] chpower commented on #3315
Hello, My raw  images look purple, it seems no mater what adjustments I make I can't stop my images from looking purple. Is it just that I am not familiar with the software? Is this the way they should look with no processing?
I will take a look at the instructions you have sent.

Thank you

[2016-05-30 11:47] heckflosse commented on #3298
@iliasg Thank you! Pushed to master branch d57eec1

[2016-05-30 15:05] Beep6581 commented on #3315
Chris,

[2016-05-30 17:29] heckflosse commented on #3292
@Desmis
Hello Jacques,
I found a solution for [this bug](https://github.com/Beep6581/RawTherapee/issues/3292#issuecomment-221685152).
Do you prefer a patch or a push?

Ingo

[2016-05-30 17:29] ClaesGitHub commented on #3306
@Beep6581 You got it :-)
First I tried under Win 7, but did not manage to get it to crash.
20 minutes of crash attempts under Xubuntu, however, were more fruitful.
For backtrace &c, see two posts above.

[2016-05-30 17:33] Desmis commented on #3292
@heckflosse
No problem, but a push is simpler  :)
jacques

[2016-05-30 18:49] heckflosse commented on #3292
@Desmis I pushed

[2016-05-30 18:59] derlu opened #3317 "Add sorting to file browser"
I'm very happy with rawtherapee, but when I browse images in a directory with many images sometimes it is difficul to find the right one, specially because my RAW files came from different sources and don't have consistent numbering.
If RT had an option to sort the thumbnails by Date, it would make it far more easier to find the images one is looking for. Most users may only want to process the ne

[2016-05-30 20:54] chpower commented on #3315
Hi, I converted my raw files to DNG and everything worked. My version is 4.0.12.0 (Ubuntu Linux) would you still suggest installing the latest development version?
What would be the latest version for Linux?

Thank you

[2016-05-30 20:59] heckflosse commented on #3315
@chpower Can you please post the content of the AboutThisBuild.txt in your rt folder?

[2016-05-30 21:54] Beep6581 commented on #1791
The commit above, in branch lcpautofill, disables Auto-Fill when loading an LCP file in non-batch mode and when enabling LCP Distortion Correction in non-batch mode. In both cases you get notified about this via the History panel.

It does not disable Auto-Fill when you load a PP3 which has both enabled, because the idea is that by the time you create such a PP3 you are well aware of the issue and

[2016-05-30 21:55] Beep6581 commented on #1791
Pull request opened:
https://github.com/Beep6581/RawTherapee/pull/3318

[2016-05-30 21:59] Beep6581 opened #3319 "Potentially redundant processing - batchMode"
In `rtgui/lensgeom.cc`, insert this printf:
[code]

When you trigger that code from a normal editor, not from the File Browser, you will see:
[code]

The first one looks like some redundant/wrong pass.

[2016-05-30 22:09] Beep6581 opened #3320 "Potentially redundant processing - dcrop"
In `dcrop.cc`, insert this printf:
[code]

For the first image you open in SETM you get three "dcrop update" lines in the console, while for all subsequent images you get two lines.

[2016-05-30 22:15] Beep6581 commented on #3315
Chris, 4.0.12 is severely, gravely, painfully old. We are about to release RT5.

http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

Ubuntu ships latest development versions, they are (misleadingly) called "rawtherapee-unstable", see our Download page. Get the latest one. If you get that and help test, you help make RT5 more stable.

There's no bug here, other than possible improvemen

[2016-05-31 00:27] chpower commented on #3315
Hi, I installed the latest rawtherapee-unstable from the website and my raw files now look fine. I will send a bug report if I encounter any.
Thank you for all the help.
Chris

[2016-05-31 00:27] #3315 closed

[2016-05-31 05:29] Desmis commented on #3292
@heckflosse

Hello Ingo
Now, in this case, it's working fine :)
Very good job !

Now, if no objections, I will try to implement "Local Retinex"...whith how many controls ? (1 , 2, ...more)
Jacques

[2016-05-31 08:42] AlexMatiash opened #3322 "Setting WB as the R\B coefficients, not as temp\tint"
Hello world.
I'm wondering is it possible to implement white balance as the red\blue coefficients? I used one raw convertor that has such WB setting method, and I must say - it is great both in terms of usability and the possible range of operation.

1. usability: it is much more obvious (and native to digital photo processing) to find correct WB changing blue and red coef. than to do it trying to

[2016-05-31 21:59] heckflosse commented on #3275
I pushed some further improvements to [rgbcurvesspeedup branch](https://github.com/Beep6581/RawTherapee/tree/rgbcurvesspeedup)

[2016-06-01 03:31] buddhaauthor opened #3323 "Repeated Crash with One Photo (out of 29)"
Hi All,

RT is repeatedly crashing with one photo in my queue. I have no idea why except that it is the only photo in the queue that I cropped. I wonder if sending this bug report is useful, since I have the crash report from my Mac. In the hope that it is, I attach it.

Cheers!

[RT Crash.txt](https://github.com/Beep6581/RawTherapee/files/292614/RT.Crash.txt)

[2016-06-01 03:45] buddhaauthor commented on #3323
Oh, don't know why the version of RT is not appearing. In any case, it was many months old so I just upgraded to version 4.2.753 and had the same crash.

[2016-06-01 15:11] NextTherapist commented on #3323
Try to use the newest builds which you can find here (but for Windows): https://discuss.pixls.us/t/new-windows-builds/615
Older builds had among other things this bug: https://github.com/Beep6581/RawTherapee/issues/3084
They crashed with only one image file without exif metadata in the folder.
I do not know if this is the reason for your crash, but they really do a lot of bug correction every week

[2016-06-01 15:13] NextTherapist commented on #3310
Try to use the newest builds which you can find here (but for Windows): https://discuss.pixls.us/t/new-windows-builds/615
Older builds had among other things this bug: https://github.com/Beep6581/RawTherapee/issues/3084
They crashed with only one image file without exif metadata in the folder - and ciecam settings enabled.
I do not know if this is the reason for your crash, but they really do a lo

[2016-06-01 15:22] ex-ee commented on #3310
Are there any links to new OSX builds? Windows is no help to me.

Thanks,

-E

[2016-06-01 16:23] Beep6581 commented on #3310
Thank you for the report. Unfortunately our OS X builds are now outdated. I will try asking the people who made those to make new ones. As for this issue, I will close it, because much has changed since the version you ran and the problem may have been fixed. When new OS X builds appear, please try those, and provide a [stack backtrace with raw+PP3](rawpedia.rawtherapee.com/How_to_write_useful_bug

[2016-06-01 16:23] #3310 closed

[2016-06-02 12:24] ion12 opened #3324 "OS X Compilation issue"
Noticed in another topic that some new builds might be required.
Ran my build script, on 10.11, Macports updated, and getting error as described bellow.
Nothing changed in my script that worked last time, although worth mentioning that Apple has since issued an update to xcode and the command line tools which I've installed

[code]

[2016-06-02 12:37] heckflosse commented on #3324
@ion12  `clang: note: diagnostic msg: PLEASE submit a bug report to http://llvm.org/bugs/ and include the crash backtrace, preprocessed source, and associated run script.`
Did you?

[2016-06-02 12:41] ion12 commented on #3324
No, just tried compiling now. Wanted to see if anything pops up that might be related to changes in RT first. Can do the llvm bug report as well.

[2016-06-02 13:02] heckflosse commented on #3324
@ion12 I had a look at the code and could not detect anything wrong at first sight. In any case it's useful to report the llvm bug.
Maybe clang gets confused by [this line](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/LUT.h#L266). Can you delete the line and try again?

[2016-06-02 13:31] ion12 commented on #3324
Building is successful with the line you suggested commented out.
However, program crashes on launch, getting an iconv error, even though the iconv hack that used to work in the past is applied.
I can recompile the hack and double check it's not some user error on my part later tonight (have to leave the computer now) but maybe Apple might have broken something again with a system update?
I'll als

[2016-06-02 13:56] ion12 commented on #3324
I've quickly just copied libiconv.2.dylib from the .app bundle of the previous build I made over the one in the new build. It works!
For some reason I guess the wrong library version was used in my new build so perhaps _it is_ some user error after all.
In any case I have a working 4.2.875 running on my system now, I'll look into it again later.

[2016-06-02 14:37] Beep6581 commented on #3324
@ion12 great! Looking forward to uploading a new build. You do builds for OS X 10.11, right?

@helmi03 used to make builds for 10.10. Could you also try making an update for your OS X version?

[2016-06-02 16:16] #3324 closed

[2016-06-02 17:24] Beep6581 opened #3325 "Lab Adjustments PP3 section has wrong title"
The L*a*b* Adjustments section in PP3 is called `[Luminance Curve]`, could we change that to `[Lab Adjustments]`?

[2016-06-02 17:26] Beep6581 opened #3326 "Saving partial PP3 with nothing selected saves more than nothing"
Save a partial PP3, de-select everything. The saved PP3 looks like this:

[code]

[2016-06-02 17:30] Beep6581 commented on #2574
@Desmis I tested and found no problems, :+1: for merging https://github.com/Beep6581/RawTherapee/tree/bwtoningold

[2016-06-02 17:33] Beep6581 commented on #3324
@ion12 could you confirm the committed fix?
Another question, I guess you build the `master` branch in OS X. Have you tried the `gtk3` branch?

[2016-06-02 18:52] Beep6581 commented on #3323
@buddhaauthor hey, unfortunately all our current OS X builds are old, but luckily ion12 is working on a new one. Once a new one becomes available, test it and open a new issue with a stack backtrace + raw file + PP3, if you can reproduce the crash there. I will close this issue so it doesn't hang open when it refers to an old build.

The new build will be on our website, hopefully soon, but you ca

[2016-06-02 18:52] #3323 closed

[2016-06-02 19:25] buddhaauthor commented on #3323
Okay, thanks for the course of action. I’ll followup when the new build is out.

Cheers,

Franz

[2016-06-02 20:13] ion12 commented on #3324
confirmed. Release and Debug builds on filebin
https://filebin.net/n33280hi45j7z38g
I haven't had any success with the gtk3 branch so far, I'll try to create a separate issue soon.

[2016-06-02 21:17] heckflosse commented on #3275
I made further improvements to [rgbcurvesspedup branch](https://github.com/Beep6581/RawTherapee/commits/rgbcurvesspeedup) and merged into master branch to get more tests. Issue stays open

Ingo

[2016-06-03 07:18] Kildor opened #3327 "Crash after undo some actions."
I have a repeteable crash in RT 4.2.1005

I open a photo (Default profile).
Next I change some sliders and curve in Exposition tab.
Switch to the Noise reduction tool (Switched off) and change Chrominance curve.

And now, if I press CtrlZ, the RT crashes with this error:
(rawtherapee.exe:5844): glibmm-ERROR **:
unhandled exception (type std::exception) in signal handler:
what: vector::_M_range_che

[2016-06-03 09:16] Floessie commented on #3327
@Kildor Good catch, not easy to reproduce.

@Beep6581 Also affects master on Linux.

Backtrace:
[code]

Fix:
[code]

@heckflosse @Beep6581 Could one of you countercheck?

[2016-06-03 10:45] Kildor commented on #3327
I just clicked on wrong widget, unintentionaly change it and tried to undo the changing.
Thanks for fixing $)

[2016-06-03 11:01] Beep6581 commented on #3327
I cannot reproduce the crash in master nor in gtk3.

You didn't mention turning NR on at any point. I tried reproducing by following the steps verbatim, and also by trying to turn it on before ctrl+z. Neither caused a crash. Tried changing the curve and undoing many times.

Tried the patch despite being unable to reproduce, it didn't cause any issues.

[2016-06-03 11:28] Floessie commented on #3327
@Beep6581 I found an easy reproduction:

1. Enable NR (the steps on Exposure aren't neccessary)
2. Add points to the chrominance curve
3. Keep mouse over last point (so that you see the vertical line)
4. Ctrl-Z

HTH,
Flössie

[2016-06-03 11:50] Kildor commented on #3327
I didn't turn it on. That was the problem of reproducing.
Yes, keeping mouse on the control point and undo changing this point leads to crash. If you do not switch the tool, you can't undo it, so no crash. But if you've done some other actions, add some points and press CtrlZ, the RT tries to undo this change and crashes.

[2016-06-03 12:13] Beep6581 commented on #3327
@Floessie reproduced with your steps, and fix confirmed.

[2016-06-03 12:17] Floessie commented on #3327
@Beep6581 Det låtar bra. I saw you added the fix to 21b9b15.

[2016-06-03 17:32] Floessie commented on #1791
Fixed by @Beep6581 and me in  8b5cf38.

[2016-06-03 17:34] Floessie commented on #3327
Fixed with in master with 8b5cf38.

[2016-06-03 17:34] #3327 closed

[2016-06-03 18:39] #3268 closed

[2016-06-03 18:41] Beep6581 commented on #2982
Can we add the branch newwavelet to the RT5 blockers, i.e. is it possible that we merge this in the near future?

[2016-06-03 18:51] Beep6581 commented on #3264
Regarding the newwavelet branch, is there a need to keep this issue open, or do we use #2982, or do we close #2982 and use this?

[2016-06-03 21:08] Beep6581 commented on #2574
@Desmis looks like you already merged the branch "bwtoningold", so you can delete it from https://github.com/Beep6581/RawTherapee/branches

[2016-06-04 06:51] Desmis commented on #2982
@Beep6581 @heckflosse
For me no problem, I think we can merge after some control and verifications.
Ingo , could you have a look :)
Thank you

Jacques

[2016-06-04 07:02] Desmis commented on #3264
@Beep6581

I think we can use now only one issue :)

In sommary newwavelet - it is a very big "branch":
1) sharp mask and clarity
2) retinex in wavelet
3) merge files and watermark for :
 a) merge for HDR++  - use 2 wavelet decomposition to merge 2 images over/under exposed
 b) merge for style : use 2 wavelet decomposition to merge 2 images  (one with style)
 c) merge HDR - simple processus
 d) wa

[2016-06-04 12:23] heckflosse commented on #3304
@Floessie @Beep6581
I just found the real reason for this behaviour. [Here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/dcp.cc#L1763) we return a pointer to a dcpProfile.
And [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rtthumbnail.cc#L1049) we apply a state to this profile. That leads to conflicts in multithreaded processing when one thumb has for example d

[2016-06-04 12:49] Beep6581 commented on #3304
@Floessie I discovered yesterday that DCP tone curves are no longer shown in the main preview, though they are shown in the thumbnails. Ingo and I spent some hours looking for the bug, but no luck yet.
Bisect lead me to this commit: https://github.com/Beep6581/RawTherapee/commit/5c14573be7cba3d191f759ed7042328ec0bf1273

I am guilty of not having tested the patch you provided above yet - I can do t

[2016-06-04 12:52] Beep6581 commented on #2982
Lets continue discussions here #2982, closing this one.

[2016-06-04 12:52] #2982 closed

[2016-06-04 13:04] heckflosse commented on #2982
@Beep6581 This is #2982

[2016-06-04 13:17] Floessie commented on #3304
Great, Ingo. Looking forward to your solution. Perhaps the Monitor pattern isn't needed anymore afterwards...

[2016-06-04 13:30] heckflosse commented on #3304
[this patch](https://gist.github.com/heckflosse/7f28b73c50dd4c58a613a795e08a3a36) should fix the races.

[2016-06-04 13:33] heckflosse commented on #3304
@Floessie Feel free to improve my fix. I made a quick and dirty one because this bug not only affects thumbs. It can also 'destroy' output of queue when queue is running in background while editing pictures or changing folder in file browser in foreground.

[2016-06-04 15:06] mbajor opened #3328 "SUSE packaging failed"
I can't build packages for some SUSE distros. Validator returns error:
`[  894s] I: Program returns random data in a function
[  894s] E: rawtherapee no-return-in-nonvoid-function /home/abuild/rpmbuild/BUILD/rawtherapee-4.2.900/rtgui/lensgeom.cc:143`

[2016-06-04 15:39] Floessie commented on #3328
I'll take this one now.

[2016-06-04 15:50] #3328 closed

[2016-06-04 15:53] Floessie commented on #3328
@mbajor Should work now. Already merged to master. Please report back here, if this fix wasn't sufficient for the SUSE build to succeed.

[2016-06-04 16:30] Floessie commented on #3304
@heckflosse Oh my! Now I know, what to do this evening. ;) Your patch is fine, but `DCPStore` isn't. I'll style your patch a bit and introduce new bugs to `DCPStore` while I'm at it. :)

[2016-06-04 17:00] Beep6581 commented on #2982
Wrong paste, meant #3264

[2016-06-04 17:21] heckflosse commented on #3304
@Floessie :+1:

[2016-06-04 18:33] heckflosse commented on #3304
@Floessie There's also a speedup in the 35% to 40% range possible (without using SSE) for the dcp stuff. I'll open a new Issue for the speedup when the fix (which is more important) is pushed. Maybe we can make another optimizing fun session as with clut :)

Ingo

[2016-06-04 19:27] Beep6581 commented on #3304
I confirm that the bug is fixed in branch [fix-dcp-race-and-store](https://github.com/Beep6581/RawTherapee/compare/fix-dcp-race-and-store)

[2016-06-04 19:57] da-phil commented on #3289
@heckflosse jup, it's the same folder.
@Floessie good idea, will try that!

[2016-06-04 20:45] heckflosse commented on #3304
@Beep6581 @Floessie I would prefer to merge [fix-dcp-race-and-store](https://github.com/Beep6581/RawTherapee/compare/fix-dcp-race-and-store) and then continue work because imho the bug (though undetected in code for long time) is critical. What do you think?

Ingo

[2016-06-04 20:50] da-phil opened #3330 "Latest RT (4.2.902) really slow"
I'm running Ubuntu 14.04 and pulled the latest RT revision and found it very very slow.
Reverted back to commit da86b8154ace0d21b746008ff0ae8b402a964c0c where RT works as I was used to.
[code]

[2016-06-04 20:54] da-phil commented on #3330
Doh, it seems it's slow because of accidentally doing a debug build, sorry for bothering!

[2016-06-04 20:54] #3330 closed

[2016-06-04 21:10] heckflosse commented on #3304
@Floessie Sorry, I didn't want to hurry. I just wanted to fix the bug during one week or so.
About the speedup: I'm really curious about the changes you detected vs. my detections. I guess together we can get more than 40% speedup for dcp, which is especially useful because dcp seems to get more important for good processing of raw files in rt.

Ingo

[2016-06-04 21:56] heckflosse opened #3331 "Speedup for dcp processing"
I created this Issue to make some speedups for processing of raw files when dcp is used.
I already made an (unpublished) about 35% to 40% speedup (without using SSE) but as discussed in another Issue @Floessie and I think, more can be done. So this will get another speedup fun session for @Floessie and me :) I'm really curious about the final result!
First patch follows when fix for #3304 is commi

[2016-06-04 22:12] heckflosse commented on #3289
@da-phil If you batch process, is the destination folder same as source folder or different?

[2016-06-04 23:15] da-phil commented on #3289
@heckflosse when I save to another folder RT doesn't hang.
I guess the strace output looks really interesting and might lead to the problem, but I'm afraid to post it here because it contains all paths of my image folder which I wouldn't like to put in the public domain :/

[2016-06-04 23:24] heckflosse commented on #3289
@da-phil Saving to source folder is a known issue for rt. rt periodically checks the source folder for new files afaik. This can cause the behaviour you detected (hangs or freezes). It's an Issue we (rt) have to solve. Meanwhile you can work around it saving to a different folder.

[2016-06-05 00:27] da-phil commented on #3289
ah, I see, I didn't know it was a known problem, I was pretty sure some months ago I didn't have that problem, RT was responsive at all times.

the amount of syscalls happening on my machine is incredible, I checked other software too, even in idle mode there are so many syscalls appearing.
when I start strace with the options -f  and -r RT wouldn't even come up, it seems to block the whole x-serv

[2016-06-05 12:07] derastronaut opened #3332 "Rawtherapee forgets checked Autofill-option"
When I reopen a raw file in which I had set the checkbox for Autofill (transform > lens corrections), that checkbox isn't marked anymore.

I'm using the Rawtherapee-PPA by Dariusz Duma (https://launchpad.net/~dhor/+archive/ubuntu/myway/). Last Update was this morning.

This is what the about-button in Rawtherapee under version displays:
Branch: master
Version:
Changeset: daily
Compiler: x86_64-lin

[2016-06-05 13:16] da-phil commented on #3332
I can confirm, I was wondering about that too just an hour ago.
"Autofill" is neither a default option for unprocessed files nor is it checked for already edited files where it was turned on before.

[2016-06-05 14:06] heckflosse commented on #3332
Confirmed.

[2016-06-05 14:11] derastronaut commented on #3332
Sorry for my bad English. I know that this is no default option and of course I meant that I already had set this checkbox during my first edit. Then I closed the raw-file and when I open that file again, the checkbox isn't marked anymore.

[2016-06-05 14:14] da-phil commented on #3332
It's fine, I just confirmed what you already said ;)
"Autofill" was supposed to be a default option before, you didn't say anything wrong.

[2016-06-05 14:16] derastronaut commented on #3332
Ok, thanks :)

[2016-06-05 17:56] Floessie commented on #3332
Isn't that, what #3318 (#1791) was about?

[2016-06-05 18:08] anchev opened #3333 "Please add LogC export"
Feature request:

Please make RawTherapee capable of exporting LogC format.
This is very useful for high quality color grading and retouching.

[2016-06-05 18:22] heckflosse commented on #3332
@Floessie Not for files with already existing profiles with autofill enabled. Just for the case when user newly selects a lcp when autofill was enabled. At least as far as I understood ;-)

[2016-06-05 18:39] Floessie commented on #3332
@heckflosse So seemingly @Beep6581 overdid a bit. ;)

[2016-06-05 18:42] heckflosse commented on #3332
;)

[2016-06-05 19:37] Floessie commented on #3304
I'm approximately halfway through. Stay tuned (and please test, if something broke on the way)...

[2016-06-05 20:59] heckflosse commented on #3304
@Floessie About the speedup: I almost reached double speed for DCPProfile::Apply
Now I'll start testing you branch

[2016-06-05 23:02] heckflosse commented on #3304
@Floessie I tested: Seems to work fine :)

[2016-06-06 05:36] Floessie commented on #3304
@heckflosse Thanks for testing, Ingo. It'll be a busy week for me, but I hope to be able to spend some time on the evenings cleaning `DCPProfile` up. Glad, you already made progress on the speedups. Those local functions (like `multiply3x3()` etc.) caught my eyes, but as long as I'm cleaning up, I won't waste a second on optimizations. :)

[2016-06-06 13:42] iliasg commented on #3333
Do you mean Cineon 10-bit log format ? Something else ?

[2016-06-06 13:49] anchev commented on #3333
I mean this:

http://strattoncamera.com/pdf/11-06-30_Alexa_LogC_Curve.pdf

[2016-06-06 17:04] Beep6581 commented on #3332
This explains how the logic is supposed to work:

[2016-06-06 17:48] Beep6581 commented on #3333
@anchev
1. Log-C is not a format.
2. As I understand it, the point of Log-C is to optimize data distribution with regard to the exposure in the encoded file so that more can be done afterwards in post-processing. It is used in intermediate files. As RawTherapee *is* where the post-processing is done, why does this belong in RT?
4. Why Log-C, why not S-Log, S-Log2, S-Log3, C-Log or any other log en

[2016-06-06 18:18] Beep6581 commented on #1791
There is a bug where if you close a photo with Auto-Fill enabled, regardless whether an LCP is used or not, and you restart RawTherapee (crucial, cannot reproduce this without restarting RT), then the photo will load with Auto-Fill disabled if you re-open it in the Editor tab.

[2016-06-06 18:19] Beep6581 commented on #1791
Ah there already is an issue for the bug.

[2016-06-06 18:19] #1791 closed

[2016-06-06 18:19] Beep6581 commented on #3332
Bug: If you close a photo with Auto-Fill enabled, regardless whether an LCP is used or not, and you restart RawTherapee, then the photo will load with Auto-Fill disabled if you re-open it in the Editor tab. Cannot reproduce this from the File Browser and cannot reproduce this without restarting RT.

[2016-06-06 18:33] derastronaut commented on #3332
I've noticed that when I open a new raw-file, RawTherapee automatic adds the entry "(Objektivkorrekturen) Auto-Füllen" (German for Auto-Fill) to the history.

The same happens to edited files.

In the settings I have set that all raw-files will be load in natural-style.

[2016-06-06 18:42] Beep6581 commented on #3332
onUseDistChanged() is fired when opening a file, even when it does not use LCP.

[2016-06-06 18:51] anchev commented on #3333
1. Sorry. Perhaps I didn't use the right words. Yes - it is not a file format.

2. RT is not necessarily where post processing is done. RT is a raw converter an one may want to do color grading in a different application while still using the good raw conversion capabilities of RT. The point of using LogC is to utilize and save the full dynamic range in the exported TIFF for further color grading.

[2016-06-07 08:43] mightymax commented on #3078
@heckflosse we rely heavily on the speed of RawTherapee's raw conversion, especially for Canon CR2 files. I am not a developer who can help you on this, but maybe my company can contribute by sponsoring payed hours for development?

[2016-06-07 16:36] Beep6581 opened #3334 "Update rtexif with latest exiftool data"
Update rtexif with latest exiftool data for RT5 #3300

[2016-06-07 19:09] Floessie commented on #3304
@heckflosse Now that I have my Eclipse Mars.2 up and running (that consumed yestereve, solution is [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=492071)), my refactoring gains speed. I'm not finished yet, but if you have the time, please check the lastest commit for regressions.

[2016-06-08 10:07] geoderix opened #3335 "Gray-out perceptual and saturation color conversion for matrix color profiles"
As I understand matrix color profiles can't use the perceptual and saturation color conversion intents. But I can choose perceptual and saturation color conversion in RawTherapee and, of course, nothing happens. It misleads those who do not know the subtleties of color space conversion.
Is there any way restrict selection and gray-out perceptual and saturation color conversion for matrix color pro

[2016-06-08 10:40] #3204 closed

[2016-06-08 10:41] #3103 closed

[2016-06-08 10:47] #2846 closed

[2016-06-08 10:47] Beep6581 commented on #3335
This is handled by issue #3054

[2016-06-08 10:47] #3335 closed

[2016-06-08 13:57] anchev commented on #3333
@iliasg

Thanks for sharing this! It's a nice start.

However the exported tiff doesn't quite look like a logc image although it has the log-look. A logc encoded image doesn't fill the histogram and this one even has clipped channels which is quite the opposite of the main idea - encoding the full DR into a tiff. Actually a logc file made from a 14-bit raw has its histogram centered with big gaps

[2016-06-08 14:00] anchev commented on #3333
P.S. From a technical viewpoint, it might actually be a good idea to utilize the full histogram (and use the full 16-bits), without channel clipping of course. However this has to be addressed somehow in processing of the resulting image, i.e. by using a LUT/ICC which compresses the histogram and then another LUT layer on top to color grade it. I am not quite sure how this would work, just thinkin

[2016-06-08 16:08] morosakubek commented on #3317
Yes, it would be very useful.

[2016-06-08 17:43] Jossie2 opened #3336 "Using RaTherapee also for scanner raw data?"
Good evening,

RawTherapee (RT) offers a wide variety of tools to process raw images from digital cameras. However, there is a complete branch of raw data not accessible to RT, i.e. the raw data coming from (slide) scanners. The reason is twofold:
•	RT cannot handle the IR-channel for dust- and scratch removal.
•	RT does not provide – as far as I know – an easy way to convert scans from colour neg

[2016-06-08 18:59] dKatara opened #3337 "Monitor ICC profile filename text overflows its dropdown box (GTK3, Win7) - UI issue"
#### Version info
Running it on Win7 SP1 64bit
Downloaded the release from this exact link: http://www.rawtherapee.com/shared/builds/windows/RawTherapee_WinVista_64_Gtk3_Release_4.2.1005.zip
Version info from the About window:
[code]

#### Screenshots
![](http://i.imgur.com/8p7emPO.png)
![](http://i.imgur.com/oY2itSM.png)

#### How to reproduce
Go to Preferences, Color Management tab and load a mo

[2016-06-08 20:08] iliasg commented on #3333
@anchev I am not sure if I understand what you are after .. please provide samples with log (c or other ..) encoding .. it would be nice if you could show us a raw sample and a process which is better if exported in log encoding
What I tried to achieve was a visually better distribution of codes (this is the main reason log encoding is proposed) to overcome posterization problems with low bit dept

[2016-06-08 20:20] TooWaBoo commented on #3337
This is an already known Gtk3 bug.
https://github.com/Beep6581/RawTherapee/issues/3186

cu TooWaBoo

[2016-06-08 21:02] heckflosse commented on #3304
@Floessie Didn't find the time today. I will check it tomorrow

[2016-06-08 21:14] Beep6581 commented on #3337
Thank you for reporting, known issue.

[2016-06-08 21:14] #3337 closed

[2016-06-08 21:36] anchev commented on #3333
Here is a LogC tiff-16 generated from your raw file:

https://goo.gl/zEbCIF

Please open it in Photoshop and look at the histogram. There are also 2 additional layers in it - a LUT which applies proper WB, exposure and converts logc to normal and a master curve.

As you will see - the background layer is quite noisy. What I am after is a clean logc background layer - free from noise and chromatic

[2016-06-09 03:01] romandocent commented on #3306
The same random crash happens when move the White Balance sliders.

[2016-06-09 10:04] iliasg commented on #3333
Thanks,
although I have no PS these days :(

[2016-06-09 10:58] anchev commented on #3333
I don't know which other application can open 16-bit tiff files with layers in Prophoto RGB.

[2016-06-09 11:01] Beep6581 commented on #3333
@anchev I don't have Photoshop either, could you install GIMP-2.9.2 and export that in a format which works well in GIMP? Even PSD might work - install GIMP and try it before uploading such a big file.

"As you will see - the background layer is quite noisy."
I only see one layer in GIMP: https://i.imgur.com/75hcHV8.png
If this is the noise you are referring to, I think it has nothing to do with L

[2016-06-09 11:12] anchev commented on #3333
@Beep6581

I have gimp but it neither supports 16 bit channels, nor Prophoto, nor LUT layers (or any adjustment layers whatsoever). So I really don't know how you are going to open and evaluate this properly without Photoshop. As I said (and as you asked) - my aim is to receive a clean 16-bit tiff in Prophoto logc-encoded. I can export 8-bit tiffs for you in sRGB (so you can open them in gimp) but

[2016-06-09 12:34] Beep6581 commented on #3333
GIMP-2.9 which I linked you to supports 16-bit channels, even 64-bit channels.

Not sure what you mean by "nor Prophoto". If you mean the working space, the situation with this in GIMP is a little funny, but without going into detail it supports a GIMP does have a gamut which encompasses ProPhoto.

As for 3D LUT, it doesn't directly support that yet, but it can probably be done using HaldCLUT. To

[2016-06-09 13:00] anchev commented on #3333
I didn't know that. Thanks for the info. In openSUSE Leap 42.1 I have all software up to date and it is gimp 2.8.14. I guess 2.9 will make it to their repositories some day soon.

I have uploaded 2 more files - 16-bit flat tiff's - one with clean logc data, one with the lut applied on that and flattened. Please use the same link from above.

Proper histogram I guess. Looking at the logc tiff I am

[2016-06-09 13:57] geoderix commented on #3336
It would be nice to add OCR, instant messenger and a couple of games.

[2016-06-09 15:05] iliasg commented on #3333
I cannot dig deep these days .. but it looks like it's not the WB (uniWB) which is at fault for the green tint but a kind of Black Level/White Level we know from RAWs .. I remember from the first quick read that Arri's LogC has offsets at darks and highlights. The 3DLUT corrects this ..

[2016-06-09 15:35] anchev commented on #3333
Please have a look a this:

https://vk.com/wall-59691344_9567

The author of 3DLC shares some DCP files he has made which generate logc output from ACR conversions, i.e. all other functions of ACR can still be used.

If you can make something like that for RT it would be great.

[2016-06-09 17:18] Floessie commented on #3304
@heckflosse Okay, that's as far as I'd go for the cleanup and moment. Let's merge (if all is okay on Windows and there are no regressions) and do the speedup in #3331.

[2016-06-09 17:31] heckflosse commented on #3304
@Floessie Ok, I will build and test now

[2016-06-09 17:45] heckflosse commented on #3304
@Floessie Builds fine and seems to work fine too. Also had a look at the code changes. Couldn't detect anything wrong (though it's a big diff, I could have missed some thing). Let's merge.
Should we keep the branch open to use it for the speedups too?

Ingo

[2016-06-09 17:52] Beep6581 commented on #3333
@anchev "I have uploaded 2 more files - 16-bit flat tiff's" where do I find the link to those files?

[2016-06-09 17:56] Beep6581 commented on #3304
It would be cleaner to use one branch for bug fixes and then close it after merging, and have another branch for optimizations.

[2016-06-09 18:04] heckflosse commented on #3304
@Beep6581 Ok

[2016-06-09 18:14] anchev commented on #3333
Sorry, my bad! I thought I had shared the link to the whole folder.

Here is the right one: https://goo.gl/UZ5hNc

[2016-06-09 18:19] Beep6581 commented on #3304
I tested `fix-dcp-race-and-store`, the preview and saved images look fine. @Floessie could you merge into `master`? Then I'll merge `master` into `gtk3` and ask for new builds.

[2016-06-09 18:36] heckflosse commented on #3331
I'll create a new branch with the first speedups this evening

[2016-06-09 18:37] Floessie commented on #3304
@Beep6581 It's done. Let's wait for the fallout. :)

@heckflosse Yeah, was a lot to change and even more could have been done if this wasn't tagged "Priority-Critical". I think, there will be more cleanups when we proceed with #3331.

[2016-06-09 18:39] #3332 closed

[2016-06-09 18:40] Floessie commented on #3331
Great, looking forward to it. :+1:

I won't have time on the weekend, but will join you occasionally next week.

[2016-06-09 19:02] #3304 closed

[2016-06-09 19:05] heckflosse commented on #3331
@Floessie, ok, I'll make a bunch of commits to keep the overview.

[2016-06-09 19:50] heckflosse commented on #3331
Ok, let's begin.
Testfile is amsterdam.pef with [this pp3](https://filebin.net/0kthdpnfsyqbrd0c)

I created [this new branch](https://github.com/Beep6581/RawTherapee/tree/dcp_speedup)
I inserted two StopWatches into code.
First change is a first step to speedup the part of dcp which is executed in rgbproc function.
Processing time for rgbproc before second commit was 805 ms, after commit it is 263

[2016-06-09 20:57] Beep6581 opened #3339 "New builds for Windows and macOS"
@sguyader @gaaned92 @ion12 @helmi03 we just merged master into gtk3. The code now includes important fixes to DCP which was partially broken and went unnoticed for the past month. It would be great if you could make new builds.

[2016-06-09 21:08] hajakely opened #3340 "Compiling rawtherapee master branch on Debian jessie"
Hi everyone!
First I want to thank you all for Rawtherapee. I have been using it since the first time I heard about it in 2012. Until recentely I was using the stable version, unfortunately, the debian jessie repository is quite out dated, so couple of weeks ago I was testing the spot-removal-tool branch. It was working nicely except that the spot removal tool was not working yet (at least for me

[2016-06-09 21:13] Beep6581 commented on #3340
Hi @hajakely

Delete the `build` folder, check out `master`, and try again. If it fails again, paste the full log, you can use a pastebin like http://paste2.org/
You should manually delete the `build` folder when switching branches, CMake doens't always pick this up automatically and sometimes that causes build failures.

Which GCC are you using?

[2016-06-09 21:21] da-phil commented on #3289
I just realized that this problem was not noticeable when I worked in a fairly small folder with maybe 30 RAW and JPG files, however when I work in a folder with hundreds of RAW and JPG files I notice the lag while RT scans for new files and creates new thumbnails.

looks like this implementation might need a tweak or a different method. from working with events and fileIO blocking calls (select()

[2016-06-09 21:32] hajakely commented on #3340
Thanks for the quick reply,

I deleted the build folder before I compiled.
I have gcc 4.9.2-2 and 4.9.2-10 installed
The full log when I compiled the master branch is on http://paste2.org/Vw4bWUFA
I just compiled the 'newwavelet' branch and it worked without problem.

[2016-06-09 21:47] heckflosse commented on #3289
@da-phil 'I probably should have a look at the code first myself ;)' That is a great idea!!!!!

[2016-06-09 21:52] heckflosse commented on #3331
I pushed the next speedup. This time for function DCPProfile::apply()
Processing time before commit was 143 ms. Now it's 74 ms.

Next small speedup follows soon.

Ingo

[2016-06-09 21:53] Beep6581 commented on #3340
Compiles fine here in GCC-5.3.0, @Floessie do you know how to get this to compile in 4.9?

[2016-06-09 21:55] da-phil commented on #3289
@heckflosse I saw that there is stuff like inotify or dnotify for Linux, however there even seems to be an OS agnostic way in GTK with the [GFileMonitor functions](https://developer.gnome.org/gio/stable/GFileMonitor.html). I assume it has an OS specific implementation for each supported OS.

[2016-06-09 22:28] heckflosse commented on #3331
I pushed another small speedup. Processing time for rgbproc was 263 ms before, is 243 ms now.

Enough for today,

Ingo

[2016-06-09 22:49] heckflosse commented on #3340
I confirm the issue when build on my Sabayon notebook using gcc 4.9.3

[2016-06-09 23:38] #3340 closed

[2016-06-09 23:57] heckflosse commented on #3289
@da-phil I would really appreciate if you can take a look at this issue. I'm a specialist for speedups but not for the other stuff!!! I can at least help to test a solution on Win64 and Linux64

Ingo

[2016-06-10 06:01] Floessie commented on #3340
@Beep6581 Ah, the fallout. ;)

@heckflosse Either this way, or change `constexpr Matrix xyz_srgb` to `const Matrix xyz_srgb`, though I would also prefer your solution. But now `iccmatrices.h` looks a bit odd. Maybe we should convert them all to `constexpr`? Shall I? Funny enough, GCC 5 doesn't complain...

@Beep6581 How can I merge a branch here without creating a PR first? Didn't find a correspon

[2016-06-10 07:30] Beep6581 commented on #3340
@Floessie I don't think you can do that via GitHub, you'd have to use command-line.

[2016-06-10 16:32] heckflosse commented on #3331
I pushed some changes. Only cleanup, no additional speedup this time.

[2016-06-10 17:44] hajakely commented on #3340
Thanks everybody for your help!

Cheers;

[2016-06-10 20:14] da-phil commented on #3289
I'm so busy recently I might not be able to do it, I should rather process a lot of pictures with RT instead of hacking it :D
but I'll keep it in mind!

[2016-06-11 14:50] chris-gurgiolo opened #3341 "Compile error in dcp.cc RT version 4.2.1060"
Hi

The latest rawtherapee version 4.2.1060 fails when trying to compile dcp.cc. There are multiple errors reported concerning the variable xyz_sRGB.  One major clue seems to be an error stating that the variable cannot be declared constexpr.  I am not familiar with c++ but I did go and change the variable declaration from constexpr to const and the routine compile and rawtherapee did successfully

[2016-06-11 14:57] Beep6581 commented on #3341
Hey @chris-gurgiolo

Please try again now, pull first.

[2016-06-11 15:52] chris-gurgiolo commented on #3341
Thanks!  That did the trick.  Funny the failed compile was don
immediately followng pull this morning.
       chris
On Sat, 2016-06-11 at 07:57 -0700, Beep6581 wrote:

--
Chris Gurgiolo
Bitterroot Basic Research Inc.
837 Westside Road
Hamilton, MT 59840-9369

Phone: (406)363-6163
E-Mail: chris@gurgiolo.com

[2016-06-11 16:48] Beep6581 commented on #3341
@chris-gurgiolo FYI, when you post here via email, all your personal information is publicly visible. I deleted it, but keep this in mind. You can post here without using email by going to https://github.com/Beep6581/RawTherapee/issues

Closing.

[2016-06-11 16:48] #3341 closed

[2016-06-11 20:22] heckflosse commented on #3253
I created [a new branch](https://github.com/Beep6581/RawTherapee/commits/flatfield_speedup) with the optimizations mentioned above and some more too....

[2016-06-11 20:24] heckflosse commented on #3253
Speedup is about 35% for ff type area without auto-clip-control, 25% for ff type area with auto-clip-control and double speed for ff type hor+vert.

Ingo

[2016-06-11 22:04] heckflosse commented on #3253
I want to add some words to what I changed:

1. there was a loop in ff processing which was executed each time a ff was applied to a raw file even if the result of this loop was the same each time. I moved that processing into the ff store causing it to be applied only once per session and ff
2. I optimized code using SSE and some other techniques
3. I optimized L1 cache usage

[2016-06-12 12:15] heckflosse commented on #3331
Fixed with ea9dfc9

[2016-06-12 12:15] #3331 closed

[2016-06-12 14:26] michaelezra commented on #3253
Ingo, thank you!

[2016-06-12 16:28] DavidX81 opened #3344 "Trying to use Badpixel filter text file with x-trans sensor"
Hi my name is David.
I love RawTherapee and I thank you very very very much for working on this great free software - it is gorgeous! :-)

I use RawTherapee version 4.3.1005 currently (latest "non-stable"?).
I use Fujifilm X-T1, latest firmware.
I have a (actually more but let's concentrate on one) deadpixel, visible in my pictures/RAW more or less pronounced (depending on surrounding pixels).

I

[2016-06-12 16:37] DavidX81 commented on #3344
Added info about .badpixels file, which I forgot.

[2016-06-12 17:17] heckflosse commented on #3344
`7`
`3771 2880`

works fine with your file.

[2016-06-12 17:57] DavidX81 commented on #3344
Indeed - thank you very much for your help - I must have missed that particular kind of possible combinations during my tests!

You made me happy, even more than I am with RawTherapee already! :-)

P.S.: So the offset=7 for x-trans ... I think it's not documented so well in rawpedia (http://50.87.144.65/~rt/w/index.php?title=Dark_Frame#Bad_Pixels) and should be reworked?

[2016-06-12 17:57] #3344 closed

[2016-06-12 18:02] heckflosse commented on #3078
I created a [branch](https://github.com/Beep6581/RawTherapee/tree/cr2_decode_speedup) with optimizations for decode of cr2 files.

[2016-06-12 18:08] heckflosse commented on #3344
I updated [the documentation](http://50.87.144.65/~rt/w/index.php?title=Dark_Frame#Bad_Pixels)

[2016-06-12 19:09] DavidX81 commented on #3344
Great, thanks! ;-)

[2016-06-12 19:36] heckflosse commented on #3344
You're welcome!

[2016-06-12 19:57] heckflosse commented on #3253
@michaelezra Hi Micheal, may I ask which ff blur type you use and why? Just for curiosity.

Ingo

[2016-06-12 20:51] michaelezra commented on #3253
Hi Ingo, I am only using the blur type 'Average' . The other types were created for correction of sensor nonuniformities for either vertical or horizontal readouts or both. As I recall, this was inspired by some of the earlier Canon sensor issues.

[2016-06-13 08:45] geoderix commented on #3284
If I understand correctly, the option "No Profile" always means that the input image has a gamma value of 1.0. That is, the input image is applied to a gamma value, which is contained in the selected workspace profile.
It is easy to check - if the input image (tiff or jpeg) will have a gamma value of 1.0 (for example, obtained by Rawtherapee function "Save Reference Image for Profiling"), that aft

[2016-06-13 13:27] Floessie opened #3346 "Rework median defines"
In #3342 I proposed a cleaner solution for the median define in `rtengine/ffmanager.cc`. @heckflosse was quick to point to the other occurrences scattered across RT. An `rgrep '#define.*med[0-9]'` on current master reveals this:
[code]

The naming should be changed to correspond to the number of inputs, so `med2` becomes `med4` and `med5` becomes `med25` for example.

Furthermore, at least `med25`

[2016-06-13 13:40] heckflosse commented on #3346
@Floessie There is also at least one highly optimized med9 implementation for vfloat (vectorized). It is in [demosaic_algos.cc](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/demosaic_algos.cc#L1767). Maybe there is another one somewhere else.
Also keep in mind that there is a med3 in rt_math.h although it's not named med3. It's
```inline const _Tp ULIM(const _Tp& a, const _Tp& b, co

[2016-06-13 13:44] Beep6581 commented on #2711
exiftool shows the SD1's make and model as:

[code]

RawTherapee shows "Exif data not available" in the (i)nfo panel, and "Unknown" for make and model in the File Browser > Filter

[2016-06-13 13:50] Beep6581 commented on #2711
We still need to add entries to `camconst.json` for Foven models using safe white (and black?) levels, and to rename the shipped profiles from e.g. `sd1_merrill_cloudy8140-CROP-WP10.icm` to something more consistent with the other names which RawTherapee should be able to load automatically (once reading Exif of Foveon models is implemented).

[2016-06-13 13:58] Beep6581 commented on #3284
@geoderix hey. Could you explain why you need this?

[2016-06-14 09:27] geoderix commented on #3284
Personally for me
- for raw file - often I see the result that if the image has a saturated color (yellow especially but not only), the transformation into the working color space and then to the color space of the output occurs clipping colors in one or two channels (often in the blue channel, a few less in the red). I do not know it's a bad job LCMS or the problem in something else (an image der

[2016-06-14 11:30] Beep6581 commented on #3284
1. Completely bypassing the input color profile because otherwise some colors clip is a very bad idea! Use an input color profile to get correct colors, then use RT's tools to bring colors which are out of gamut back into gamut.
Is your monitor color-managed? Is RT and your image viewing program set up to use the monitor color profile? Does your monitor color profile use gamut compression so that

[2016-06-14 12:08] geoderix commented on #3284
I'm starting to think that your mission is to close as many bugs for any reason. However, problems remain. I imagine ostrich head in the sand. Sorry.
1. There is a problem in the color conversion. Therefore, a large number of images present clipping colors. This problem no one wants to solve. But a lot of talk about the color profile, bit depth conversions, wide working space and blah blah blah. A

[2016-06-14 13:18] Beep6581 commented on #3284
Indeed. There are currently still 433 opened issues, and it took many hours to go through the first half. There can be countless opened quasi-valid issues, but keeping them open doesn't help anyone, it makes a mess. I want to close issues which, like this one, have not been demonstrated to be useful. You haven't supplied a single file to demonstrate the problem, and you act annoyed at me for askin

[2016-06-14 13:49] geoderix commented on #3284
I'm not annoyed. I just do not understand why open bug-tracker, if you do not pay attention to the reactions of users. I'm not going to prove anything to you. I do not need your favors. You are not Godfather. You do not look like a Godfather. If you do not want to do, do not do.
And I still believe that my proposal necessary and useful. They significantly extend the capabilities of RawTherapee. Bu

[2016-06-14 14:04] #3284 closed

[2016-06-14 17:00] zaltysz opened #3347 "Long display profile name overflows selection box bounds in editor tab"
I have a few display profiles with long file names. If I choose one of them to be active in Rawtherapee, its name overflows the bounds of selection box with text "spilling" on other UI elements in editor tab.
![display_profile_overflow](https://cloud.githubusercontent.com/assets/19934545/16051904/5edfb7e4-326a-11e6-8081-e6dbb99afbb2.png)

Rawtherapee 4.2.1005 x64 on Windows 10.

[2016-06-14 17:01] Beep6581 commented on #3347
Thanks for reporting, this is handled by #3186

[2016-06-14 17:01] #3347 closed

[2016-06-14 20:19] Floessie commented on #3346
@heckflosse I've begun the revision of the median implementations by extending `rtengine/median.h`. It's far from being finished. I'm thinking about forwarding `median<...>()` to those special implementations like `median5()`, then one could always use `median()` and get the best implementation. What do you think?

[This function](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/FTbloc

[2016-06-14 20:53] heckflosse commented on #3346
@Floessie Because median often is performed in the innermost loop, we have to use the best implementation everywhere to not get slowdowns somewhere. But don't worry: I'll test all the places where we use median, for speed (before/after your modifications) ;-)

Thanks for this work!

Ingo

[2016-06-14 21:33] heckflosse commented on #3284
@geoderix I doesn't matter whether you are annoyed or not. Also it doesn't matter if someone (not only Beep6581, also me) had the impression whether you are annoyed or not. But your "blah..." "Godfather..." "bad mood" comments are really not acceptable.
We work hard to improve RawTherapee and are open for constructive criticism. If you're not willing to 'prove' your Issue with an example, then tha

[2016-06-14 21:41] geoderix opened #3348 "Posterization, clipping and phantom circuits as result of Retinex function"
[This one](http://img.photographyblog.com/reviews/pentax_ks2/sample_images/pentax_ks2_01.pef) is Pentax KS-2 raw file from [here](http://www.photographyblog.com/reviews/pentax_ks2_review/sample_images/). And [this one](http://img.photographyblog.com/reviews/pentax_k1/sample_images/pentax_k1_30.dng) is Pentax K-1 raw file from [here](http://www.photographyblog.com/reviews/pentax_k1_review/sample_im

[2016-06-14 21:52] heckflosse commented on #3348
@geoderix For first and third link I get a 403 (forbidden). Can you please tell us the names of the files in the 'from here' links to allow us reproducing the problem!

[2016-06-14 22:01] geoderix commented on #3348
pentax_ks2_01.pef
pentax_k1_30.dng

[2016-06-14 22:04] heckflosse commented on #3348
@geoderix Ok, thank you! For pentax_ks2_02.pef you can get rid off the 'phantom circuits' by using 'Retinex Transmission map'. Just lower the peak point of the curve.
Now looking at pentax_k1_30.dng...

[2016-06-14 22:09] heckflosse commented on #3348
@geoderix For pentax_k1_30.dng raise the right point of retinex 'gain transmission' curve'

[2016-06-14 22:29] geoderix commented on #3348
For pentax_ks2_01.pef yes, it works.
For pentax_k1_30.dng - no result. I can not understand how it works. And pink roof remains.
Are you planning to write documentation for the Retinex?

[2016-06-14 22:44] heckflosse commented on #3348
@geoderix Here's a [screenshot](https://filebin.net/r5gaut32hpz1za90/retinex_case2.png) for pentax_k1_30.dng
About the documentation: There already is a french documentation iirc. But we still have to translate it...

[2016-06-15 05:54] Floessie commented on #3346
@heckflosse Thank you, Ingo. That's very kind of you. I see the places in code, but it takes a lot of time for me, to identify the right knobs to trigger the code paths. So I'm very glad, that you'll take care of that and can provide me with the right test instructions in case of regressions. I hope, most places will benefit from the new implementation. `fq_sort2()` (mentioned above) for example d

[2016-06-15 06:47] geoderix commented on #3284
@heckflosse Maybe I got a little excited. Sorry.
However, I described in detail the problem. I proposed a solution. I explained where the error. In response Beep6581 demanded some files and closed the bug only because of hostility towards me. And because he believes that it is unnecessary to me. And what files can be useful for what I have described?
And this is not the first time Beep6581 closes

[2016-06-15 07:55] Floessie commented on #3346
@heckflosse Discussing this with a coworker gave me some new ideas, and I've also found a bug in yesterday's commit. So please hold on with your tests, it's still too early. I'll give you the green light within a few days.

[2016-06-15 08:14] geoderix commented on #3348
@heckflosse Thank for screenshot. It is work. Retinex - powerful stuff. I am impressed.
It is hard to understand without documentation - a lot of options, but their meaning is not clear.
Thank you!

[2016-06-15 09:00] Beep6581 commented on #3348
http://rawpedia.rawtherapee.com/Retinex/fr

[2016-06-15 10:02] heckflosse commented on #3346
@Floessie About the median5: The shortest I got is this (used the old ugly macro coding for simplicity):

[code]

[2016-06-15 19:35] Floessie commented on #3346
@heckflosse The median5 is okay. `median(std::array<>)` was wrong, because I had a bug in my testbed. Should be fixed now. I renamed all variants to `median` because the compiler will pick the best fitting implementation automatically. :)

Now I have a headache due to median7... Enough for today.

[2016-06-15 19:38] heckflosse commented on #3346
'headache due to median7' :)

[2016-06-16 13:33] fliker09 commented on #2961
https://filebin.net/wnm27io0x01z9w3c/5DS.zip
http://i.imgur.com/dTvHeTm.png

Branch: default
Version: 4.2.0
Changeset: c81d9026d25c
Compiler: x86_64-linux-gnu-gcc 5.2.1
Processor: undefined
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: Release
Build flags: -g -O2 -fPIE -fstack-protector-strong -Wformat -Werror=format-security -std=c++11 -D_FORTIFY_SOURCE=2   -fopenmp -Werror=unknown-

[2016-06-16 13:48] Beep6581 commented on #2961
Works fine in the [latest development version](http://rawtherapee.com/downloads).
https://i.imgur.com/tXjSV7y.png

[2016-06-16 13:48] #2961 closed

[2016-06-16 13:55] fliker09 commented on #2961
Great! Is it possible to get latest version (which it is by the number, btw?) without compiling? May be some PPA?

[2016-06-16 14:23] Beep6581 commented on #2961
Yes, see our downloads page.
I don't know which version by number that is, around 1000.

[2016-06-16 14:24] Floessie commented on #3346
@heckflosse How much are we addicted to optimization? I ask, because median9 seems important, and I could make a version using only [14](http://www.cs.hut.fi/~cessu/selection/) comparisons at most, current implementation takes 19 fixed. median7 had 41 functions to inline, median9 will have 64. So much for my headache. ;)

Making that version will take some time, and it will be lengthy. Do you thin

[2016-06-16 14:27] fliker09 commented on #2961
I don't see anything for Linux here :\
http://i.imgur.com/p2s2JeG.png

[2016-06-16 14:32] Beep6581 commented on #2961
Click Platforms > Ubuntu.

[2016-06-16 15:52] heckflosse commented on #3346
@Floessie I have to check the current speed first before I can answer your question. Btw: It is possible to make scalar versions without comparisons using SSE min and max functions and n + 1 sse registers with only first element of each register filled ;-) But that probably would be overkill.
If you want to test the speed of median9 before/after for example you can place a StopWatch in rtengine\FT

[2016-06-16 18:14] Floessie commented on #3346
@heckflosse ... much like your [MEDIAN7](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/median.h#L62), I guess? Interesting, indeed. Thanks for the benchmark pointer. I'll definitely try that. As for the median9: I'll try to uncrust my AWK knowledge to automate the inlining a bit.

[2016-06-16 18:28] heckflosse commented on #3346
@Floessie yes, like the MEDIAN7. You can optimize each of the networksort kind medians this way. Start at last 'compare and swap', eliminate them, go up to next one and so on.

[2016-06-16 19:21] heckflosse commented on #3346
@Floessie Here's an untested example for median5 which describes the optimization process in meta language:

[code]

[2016-06-17 09:33] alpharhino opened #3349 "OnePlus One (smartphone) DNG file support"
For some reason that I can't seem to find, RawTherapee crashes when I load [this image](https://drive.google.com/open?id=0B5COm6bm6U8WQTd4amxkNkE0eFE) taken on my OnePlus One. Other software seems to have no problem, but RawTherapee shows the photo as black, and then crashes when I double click to open it.  Other DNG's of shorter time open fine, so I am unsure of the problem.
PC Specs: Intel 6700H

[2016-06-17 12:14] NextTherapist commented on #3349
Your file seems to be non-standard in some way. I squeezed it through the Adobe DNG Converter and got this file, which opens without a problem: [DNG7.1](https://filebin.net/5rbqscm6guusahk9)

[2016-06-17 14:19] Floessie commented on #3346
@heckflosse I've created a little [benchmark](https://gist.github.com/Floessie/a7d57203883569c69f1963b2a41922d7) for the various benchmark implementations I have now. As you've probably expected (and I should have), the branchless SSE version is always the fastest. The 14-compares-version is only faster for integers at `-O0`. Here are the results (in µs on my Skylake with GCC 5.4.0):

Impl | `-O0`

[2016-06-17 14:28] #3253 closed

[2016-06-17 17:13] heckflosse commented on #3346
@Floessie I guess the sorting networks are from [this paper](http://ndevilla.free.fr/median/median.pdf)

[2016-06-17 18:12] heckflosse commented on #3078
Closed because of da9e760

[2016-06-17 18:12] #3078 closed

[2016-06-17 18:44] alpharhino commented on #3349
That's very odd. It works now with the file you posted, but the shutter speed shows up as way off (1/13s). This seems to happen with one specific app and I have no idea why.  The image renders perfectly fine in google drive and snapseed, so I'm not sure what the problem is.

[2016-06-18 09:12] Desmis commented on #3264
I have add, some improvments to newwavelet
1) change defaults values for "style"
2) add a "shape and texture method" to improve texture detection.
it seems to be "Neural networks", but it is not. Automatic threatment with "feed back learning" leeds to huge time threatment (more than 30 secondes or more 1 or 2 mn...). Then you can choose with a slider, a manual neural composition of 3 or 4 levels f

[2016-06-18 09:33] iliasg commented on #3349
@alpharhino google drive and snapseed do not decode DNGs they just extract and display the embedded in DNG jpeg preview.
Darktable uses libraw as a decoding engine which looks like has better support for DNGs.
Can you report about what WB temp/tint Darktable reports .. and the quality of color ?

Latest Dcraw 9.27 (RT's decoding engine) also fails on this file, renders it as Black. If anyone can p

[2016-06-18 11:30] Desmis opened #3351 "What do we do with the branch "locallab""
All is in the title...
- Is there locallab evolve as proposed by DrSlony ? (in forum)
  or :
- hope do we can create more (than one) local controls
  or :
- the two ?
  :)

[2016-06-18 11:52] Floessie commented on #3346
@heckflosse Yes, I already found them [here](http://ndevilla.free.fr/median/median/src/optmed.c) (btw. from 1998 - when we were young...). Yesterday I took `opt_med7`, expanded the macro with a regex and pruned it. My version now has 21 min/max, whereas yours has only 20. I must have missed one opportunity, but I fail to figure out where. Can you help me?

[code]

Thanks,
Flössie

[2016-06-18 12:33] heckflosse commented on #3351
@Desmis Jacques, sorry, I had not much time to look at how to implement more than one locallab last weeks. Maybe I have a bit more free time next week.

Ingo

[2016-06-18 12:39] heckflosse commented on #3346
@Floessie Sure:
[code]
can be removed

[2016-06-18 12:49] Floessie commented on #3346
@heckflosse Oh, I must have been blind! In my only defense: It was Friday night. :) Thanks a lot!

[2016-06-18 14:52] heckflosse commented on #3264
@Desmis Jacques, may I make some changes to newwavelet or are you currently working on it?

Ingo

[2016-06-18 14:58] Desmis commented on #3264
@heckflosse
Ingo : No problem, you can make some changes :)

jacques

[2016-06-18 17:10] Beep6581 commented on #2568
Exif, XMP and IPTC are tunneled.

[2016-06-18 17:10] #2568 closed

[2016-06-18 17:27] Beep6581 opened #3352 "Add support for metadata in PNG"
PNG files currently written by RawTherapee lose all metadata.

From Wikipedia:

https://en.wikipedia.org/wiki/Portable_Network_Graphics

How darktable does it, and this is compatible with GIMP:
https://github.com/darktable-org/darktable/blob/master/src/imageio/format/png.c

[2016-06-18 17:29] Beep6581 commented on #2017
I tested by setting two XMP, two IPTC and two Exif tags in a raw file:

[code]

Then I saved all possible combinations:
JPEG, PNG 8-bit and 16-bit, TIFF 8-bit and 16-bit compressed and uncompressed.
One round with `TunnelMetaData=true`, once more with `TunnelMetaData=false`.
14 saved files and one source raw.

Then I check each file for the tags:
[code]

Only uncompressed TIFF retained the metadat

[2016-06-18 19:05] heckflosse commented on #3264
@Desmis Jaques, where is that "feed back learning" option in gui? I didn't find it.

Ingo

[2016-06-18 19:06] heckflosse commented on #3346
@Floessie :)

[2016-06-19 00:16] TooWaBoo opened #3353 "RT eats all memory (Gtk3)"
**RT 4.2.1074 x64 Gtk3, WIN 10 x64, 8GB Ram**
I've developed 53 RAW images in batch processing. After processing of 49 images I've got a Windows message that I run out of memory and I have to quit RT. Virtual memory was set to automatic and the size was set to 1,8 GB. I've increased the virtual memory to 8GB, started the bach processing of the 53 images again and checked the memory usage in the ta

[2016-06-19 00:46] heckflosse commented on #3346
@Floessie : `from 1998 - when we were young`. Maybe you :) I already had a 3 in first place at that date :)

[2016-06-19 00:49] heckflosse commented on #3353
@TooWaBoo is that gtk3 specific or also on gtk2 (master branch)?

[2016-06-19 00:57] TooWaBoo commented on #3353
@heckflosse
I've tried it only in Gtk3. I don't have Gtk2 version on my PC

[2016-06-19 01:02] heckflosse commented on #3353
@TooWaBoo To verify your issue I just started queue processing of more than 200 raw files (default profile) using master (gtk2), Works fine (no increase of used memory)

[2016-06-19 02:25] naisanza opened #3354 "ORF Images Distorted"
I don't know what's causing this with a default, vanilla config of RawTherapee

Opened with RawTherapee:

![distorted](https://cloud.githubusercontent.com/assets/1614425/16174815/0f15d63a-35a3-11e6-9d84-a6a6e3a15ac4.jpg)

Opened with Olympus Viewer 3:

![olympus_viewer3](https://cloud.githubusercontent.com/assets/1614425/16174816/1554ecfc-35a3-11e6-8ebe-fdfdaf3cb34c.jpg)

[2016-06-19 05:01] Desmis commented on #3264
@heckflosse
Ingo, there is not "feed back learning" option in gui?
When I began "neural", I thought represent "textur" by the function "void Textur" where "textur > mean -sigma" and "textur > mean + 2*sigma"...
Then found the maximum of textur, by varying coefficient of neural network, for each level.

With "crop" (dcrop.cc) and only with "neurthree"...already much time...(more than 5 or 10 second

[2016-06-19 08:52] Floessie commented on #3346
@heckflosse Well, wouldn't call that old from today's point of view. :)

[2016-06-19 09:06] TooWaBoo commented on #3354
You have to assign a lens correction profile.
Read this:
http://50.87.144.65/~rt/w/index.php?title=Lens/Geometry
...and this:
http://50.87.144.65/~rt/w/index.php?title=How_to_get_LCP_and_DCP_profiles

[2016-06-19 13:45] Beep6581 commented on #3354
@naisanza http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG

[2016-06-19 13:45] #3354 closed

[2016-06-19 15:10] Beep6581 commented on #3334
I opened branch https://github.com/Beep6581/RawTherapee/tree/exiftool1020 to update our Exif database. Compare the changes here: https://github.com/Beep6581/RawTherapee/compare/exiftool1020

All lens interpreters in that branch have been updated, but I want to also check the smaller things and update those, for example `sonyminoltraattribs.cc` has a section `MATeleconverterInterpreter`.

If you wa

[2016-06-19 18:01] naisanza commented on #3354
@TooWaBoo @Beep6581 Thanks guys!

For how important this step is, I'm surprised the program even let me edit the pictures without having a message that says my lens/camera profile isn't found

@TooWaBoo Google Translate to the rescue

@Beep6581 That's a great article! Somehow I didn't find it when I was looking for "image distortion problems." I just started shooting in RAW yesterday

[2016-06-20 05:46] alpharhino commented on #3349
Is there an easy way to make the DCP into a custom profile? I'm somewhat new to how color profiles work so I want to make sure I'm not missing anything.

[2016-06-20 07:20] iliasg commented on #3349
In order to have a normal WB behavior, you have to change the colormatrix2 value to the one suggested .. use exiftool for this.

If you already have the extracted dcp
- name it same as the camera model RT recognizes and then it will be auto selected ..
- or select it by hand as custom

[2016-06-20 07:44] atorger commented on #2972
I have not much time to contribute. I know about one clipping to purple issue though, not necessarily the one reported here though;

some of the curves we have, like the perceptual and luminance, will not naturally roll off to the whitepoint (1,1,1), but instead very bright saturated colors will have some but not all channels way above 1.0 and then when clipped the color will shift. I've dealt wit

[2016-06-20 08:36] alpharhino commented on #3349
Got it fixed! [Here](https://drive.google.com/open?id=0B5COm6bm6U8WdkVmWllrYTVKOTA) is a comparison of the photo with and without the color profile (and a few other tweaks). Thanks for all your help

[2016-06-20 13:49] Beep6581 commented on #3349
@alpharhino now that you've been helped, for the benefit of everyone else, you could document step by step what needs to be done to correctly read that raw file. See [here](https://guides.github.com/features/mastering-markdown/) to learn how to write numbered lists.

[2016-06-20 18:34] asp commented on #2307
We are considering a workaround for this RT bug in exiv2. Comments and/or patches are most welcome!

[exiv2 Feature #1154: Read XMP and IPTC data from Exif Data in JPEGs](http://dev.exiv2.org/issues/1154)

[2016-06-21 11:55] fliker09 opened #3355 "Weird behavior of Auto white balance (Canon 7D Mark II)"
Branch: master
Version: 4.3+git20160612-324~ubuntu16.04.1
Changeset: daily
Compiler: x86_64-linux-gnu-gcc 5.3.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: Release
Build flags: -std=c++11 -O3 -std=gnu++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas
Link flags:
OpenMP support: ON
MMAP support: ON

Source file: https://filebin.net/dywoqsmtxp72pmp9/C34A391

[2016-06-21 16:42] TooWaBoo commented on #3355
You don't do anything wrong. This happens when the image has clipped highlights.

[2016-06-21 16:50] heckflosse commented on #3355
Maybe we should lower [this constant](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimagesource.cc#L4644)?
@iliasg what do you think?

[2016-06-21 16:55] TooWaBoo commented on #3355
Auto-WB with clipped highlights sets the wrong tint. I always set tint back to its initial value with a little bit of fine tuning..

[2016-06-21 19:07] Floessie commented on #3346
@heckflosse Now, I think, it's time to test, Ingo. I pruned `median25` to the best I could come up with and tested the result by hammering it 12+h on four cores with randomly shuffled sequences. That's not a full coverage, but I didn't want you to get much older while waiting for my 25! permutations to finish. ;) With my random tests I'm quite confident, as they failed during the process when I ma

[2016-06-21 19:30] heckflosse commented on #3346
@Floessie I'll try to find some free time before weekend to test and benchmark. Too many things on hold currently :(

[2016-06-21 20:38] heckflosse commented on #3346
@Floessie iirc I already optimized MIDDLE4OF6 to the max... But it's a while ago, maybe I'm wrong...

[2016-06-22 06:25] Floessie commented on #3346
@heckflosse No problem, so I can convert the other places in the meantime. And take `MIDDLE4OF6` as is. :)

Do I have to protect the `vfloat` variants with `#ifdef __SSE2__` or something?

[2016-06-22 09:23] fliker09 commented on #3355
Very strange... This image is one from a HDR stack. I am using RawTherapee from terminal, in an automated way. Till now this problem appeared only once... Many other stacks worked fine. Now it got out of hands, after switching to Git version instead of repo one (Ubuntu 16.04). Did you change something in White Balance processing?

[2016-06-22 09:25] #2776 closed

[2016-06-22 09:28] #2106 closed

[2016-06-22 09:35] Beep6581 opened #3356 "Auto Levels - Choice of modes of operation"
This is a feature request for adding a choice of modes of operation to the Auto Levels button:
* Current method, which uses most of the sliders in the Exposure panel.
* "Fit histogram" method, which only gets the white and black points to touch both ends of the histogram using only the Exposure and Black sliders, with respect to the clip % set by the user.
* Choice of working space.

A choice of w

[2016-06-22 09:36] Beep6581 commented on #2106
Merged: #3356 - Auto Levels - Choice of modes of operation

[2016-06-22 09:37] Beep6581 commented on #2776
Merged: #3356 - Auto Levels - Choice of modes of operation
Please keep #3356 clean and focused only on Auto Levels, not on clipping detection or other suggestions.

[2016-06-22 09:40] Beep6581 commented on #3355
You should not be using auto white balance on a HDR stack.

Which version did you use before?
Did you try to reproduce the problem in photos you processed in that older version?

[2016-06-22 10:08] heckflosse commented on #3346
@Floessie 'yes' to both questions

[2016-06-22 13:34] iliasg commented on #3355
May be .. and also exclude very dark areas and if possible corners which usually distort average level and especially when the image circle is smaller than the frame's diagonal.
I have only an hour available now and no time for the next days .. but a raw sample of this HDR stack mode would help .. maybe the black/white Levels are different for this mode than our camconst.json constants :(

[2016-06-22 13:43] fliker09 commented on #3355
Here you go (rest of the files, one I already gave you):
https://filebin.net/ylte3thrqk52wirk/C34A3912.CR2
https://filebin.net/ylte3thrqk52wirk/C34A3913.CR2
https://filebin.net/ylte3thrqk52wirk/C34A3914.CR2
https://filebin.net/ylte3thrqk52wirk/C34A3916.CR2
https://filebin.net/ylte3thrqk52wirk/C34A3917.CR2
https://filebin.net/ylte3thrqk52wirk/C34A3918.CR2

[2016-06-22 15:08] TooWaBoo commented on #3356
I like this new feature. Right now, Auto-Level is useless for me.

[2016-06-22 16:16] Kakupakat opened #3357 "Inspect tab does not apply color management"
To test this, add the this image to the RT file browser: [Test image](http://fotovideotec.de/browser_farbmanagement/bilder/farbmanagement_test.jpg), then look at it in the inspect tab.

[2016-06-22 22:05] Beep6581 commented on #2307
I wanted to write something so that you know that we have seen this and that we're not ignoring you. Thing is, the people currently active specialize in things other than metadata, so it's unfortunately quite likely that nothing will happen here. We really could use some help.

[2016-06-22 22:20] clanmills commented on #2307
I’ll involve myself with this later in the year.  I hope to get exiv2 v0.26 finished in June and have a break and vacation in July.  So mid-August I’ll get involved.  The easy way to deal with this is for Exiv2 to accept your metadata.  The harder way is for me to fix RT and at the moment, I’ve no idea how much effort that will take.

Robin
http://clanmills.com

[2016-06-23 07:35] stefan-i commented on #3356
I'd love this feature too, right now Auto Levels is useless for me as well because it's not compatible with working in tandem with DCP profiles which already use a tone curve.
Let me propose something a bit more radical as well: Get rid of the current Auto Levels completely and instead use only the new "fit histogram" version with a tone curve that is enabled by default in the camera profile secti

[2016-06-23 21:48] marco46 opened #3358 "Sony Raw from RX1r II cannot be opened anymore"
Actually it can be opened but it shows garbage. And in the shell you get the error message:  Unexpected end of file.
It is happening with all files which can be opened by an quite recent version. I will try to bisect the change set if I can find time.

[2016-06-23 22:15] heckflosse commented on #3358
@marco46 Please upload a problematic file to filebin.net and post the link

[2016-06-23 22:29] heckflosse commented on #3358
@marco46 I just tried with an RX1r II arw from [here](http://www.photographyblog.com/reviews/sony_cybershot_dsc_rx1r_ii_review/sample_images/) using rt master branch. Worked fine.

[2016-06-23 22:29] marco46 commented on #3358
[example](https://filebin.net/u60avgebblatjvyt)

[2016-06-23 22:34] marco46 commented on #3358
I uploaded a screen shot too.

[2016-06-23 22:55] heckflosse commented on #3358
@marco46 Issue confirmed. I'll take this

[2016-06-23 23:44] heckflosse commented on #3358
I bisected. Culprit is 18243db5bafb63595fd561c89a7b7676483ef843
I'll investigate tomorrow...

[2016-06-23 23:54] marco46 commented on #3358
`+  } else if (!strcmp(make,"Sony") && raw_width == 8000) {
+    width -= 32;
+    if (!strncmp(model,"DSC",3)) {
+      tiff_bps = 14;
+      load_raw = &CLASS unpacked_load_raw;
+      black = 512;
+    }`

Does it mean it is always using the uncompressed algorithm for loading?

[2016-06-24 00:23] heckflosse commented on #3358
@marco46 without looking into details I would say: yes.
But I have to check whether the bug is in dcraw code or in the patch I made for the dcraw update

[2016-06-24 00:29] heckflosse commented on #3358
It seems the bug is in dcraw code.
Though that doesn't mean I can't fix it. Maybe tomorrow evening...

[2016-06-24 00:35] heckflosse commented on #3358
@marco46 Thanks for reporting the bug and for the pointer :+1:

[2016-06-24 10:54] marco46 commented on #3358
@heckflosse Thank you for the fast response!

[2016-06-24 11:51] heckflosse commented on #3358
@marco46 I don't know why this was changed in dcraw code. But I tested the old version and it opens compressed and uncompressed Sony Raw from RX1r II fine whereas the current version does only open uncompressed Sony Raw from RX1r II. I will push a fix soon.

[2016-06-24 12:26] sguyader commented on #3229
Is anyone working on this at the moment? I'm pretty sure the upcoming Fujifilm XT2 will use the same compressed raw files, it would be really good to have RT to support it.

[2016-06-24 12:48] #3358 closed

[2016-06-24 12:49] heckflosse commented on #3229
@sguyader Not at the moment. But it's on my todo list

[2016-06-24 14:42] mglorencin commented on #3339
it would really be great if someone could 👍

[2016-06-25 19:26] mbajor opened #3359 "Build failure on Fedora 24"
I have a problem with building packages for Fedora 24 - **x86 with -msse2 flag**.

x86_64 and x86 without -msse2 flag build with success

logs:
https://build.opensuse.org/public/build/home:rawtherapee/Fedora_24/i586/rawtherapee/_log
https://build.opensuse.org/public/build/home:rawtherapee/Fedora_24/i586/rawtherapee-gtk3/_log

[2016-06-25 19:51] heckflosse commented on #3359
@mbajor
[code]

looks like a bug in Gnu 6.1.1

[2016-06-25 23:45] mbajor commented on #3359
@heckflosse Interesting...
Arch and openSUSE Tumbleweed have gcc in the same version and there is no problem with build packages for them.

[2016-06-26 00:13] heckflosse commented on #3359
@mbajor Marcin, I don't know how to solve an `internal compiler error: Segmentation fault`.
Can you please report this upstream as you have the full logs?

[2016-06-26 09:30] ion12 commented on #3339
Unfortunately my mac is dead. Second machine in less than two years :(
This time though I discovered that Apple has admitted to a known hardware fault with the gpu on some models and mine is on the list, I hope they will fix it.
Will try and upload a new build as soon as I can.

[2016-06-26 14:34] gaaned92 commented on #3339
If you are a windows user, you can go [here](https://discuss.pixls.us/t/new-windows-builds/615) starting by the end. You will find 32 and 64 bit builds.

[2016-06-26 15:44] Beep6581 commented on #3339
The latest Windows builds are now on the main site.

[2016-06-26 19:43] heckflosse commented on #3346
@Floessie I measured performance using your latest commits.
I used a D800 file and measured the following:

- Amaze Demosaic : no difference in speed :+1:
- lmmse Demosaic : no difference in speed: :+1:
- Denoise median 25 part: more than 3x speed :+1: :+1: :+1:
- Denoise median 49 part : processing time increased by 7% :-1:
- Denoise median 81 part: processing time increased by 4% :-1:

It seems

[2016-06-27 06:20] Floessie commented on #3346
@heckflosse Ingo, thanks a lot for testing. The 49 and 81 part version now relies on `std::nth_element()` which per se should be as fast as `fq_sort2()`. I suspect the [array initialization](https://github.com/Beep6581/RawTherapee/commit/d82956bbe5df9cba8366f00660c8ac356e1e9a89?diff=unified#diff-230d9b623490c3e055ae81276bf45dd2R237) (which I deliberately added) must have pessimized the result. Can

[2016-06-27 10:55] heckflosse commented on #3346
@Floessie [this line](https://github.com/Beep6581/RawTherapee/blob/median-rework/rtengine/PF_correct_RT.cc#L1437)
[code]
looks buggy.

[2016-06-27 10:58] Floessie commented on #3346
@heckflosse Yes, obviously I forgot to remove the destination element from the parameter list. Will be fixed...

[2016-06-27 17:09] heckflosse commented on #3346
@Floessie [here](https://gist.github.com/heckflosse/223895b12722a6a6b637b00c91eb726b) is a fast median13. Code needs to be cleaned. It's about 5x speed of current implementation. The base for it I found [here](http://pages.ripco.net/~jgamble/nw.html). I don't know whether it's optimal but 5x speed should be worth using it :)

[2016-06-27 17:33] heckflosse commented on #3346
@Floessie I added `BENCHFUN` [here](https://github.com/Beep6581/RawTherapee/blob/median-rework/rtengine/FTblockDN.cc#L100)

[2016-06-27 18:46] Beep6581 opened #3360 "Fix Denoise - Median tooltip"
Fix Denoise - Median tooltip for #3300

[2016-06-27 19:09] Floessie commented on #3346
@heckflosse Ingo, thanks for the `BENCHFUN` pointer and median13. I'm curious as to where the median13 is needed.

While I'm unfamiliar with Perl, I managed to install [this](https://github.com/hoytech/Algorithm-Networksort-Chooser) program in a VM and was able to obtain a 49 and 81 version. They are lengthy but branchless and might be faster than `std::nth_element()`. I'll give them a try. :)

Ab

[2016-06-27 19:15] heckflosse commented on #3346
@Floessie median13 is MED_5X5SOFT in rtengine\FTblockDN.cc
I'll try to make a patch. Have to clean the code first after making test code....

[2016-06-27 19:21] heckflosse commented on #3346
@Floessie [here](https://gist.github.com/heckflosse/3b7c06d09c07337ca4d1f6b97c5c07f7) is a patch

[2016-06-27 21:48] AlexMatiash opened #3361 "Flatfield feature is broken: pink cast or does not work at all"
Setup:
- image files Sony a7r II converted to DNG using latest Adobe DNG Converter
- the same for flatfield files OR non-compressed ARWs from a7r II too (obviously)
- RT 4.2.1074 x64 Release @ Win10 x64

In case of DNG flatfield files FF feature works, but adds pink cast in areas where it has effect. In case of ARW flatfield files FF feature does not work at all.

[2016-06-27 21:56] heckflosse commented on #3361
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-06-27 22:11] AlexMatiash commented on #3361
@heckflosse Well, and what have I missed from that list? I looked through the bugtracker and found nothing like this.

[2016-06-28 05:49] Floessie commented on #3346
@heckflosse Great, Ingo! And not that hard to comprehend. I'll take care of the cleanup and integrate it. Also `MIDDLE4OF6` is still on my agenda.

How about AVX? Shouldn't that be 8x faster?

[2016-06-28 05:55] Floessie commented on #3361
@AlexMatiash Quoting from that site:

By providing us with your problematic files, we might be able to reproduce and even fix your problem. ;)

[2016-06-28 07:54] heckflosse commented on #3346
@Floessie Yes, AVX should be faster. But on my AMD FX8350 it's slower when all cores are used because AMD FX8350 has only 1 AVX unit per 2 cores. That does not mean that we should not use it. I simply can not test it reasonably.

[2016-06-28 08:02] heckflosse commented on #3361
@Floessie @AlexMatiash Maybe I should remove
`if your bug involves a crash on a particular raw file, a particular setting, or lack of support for your raw file.`

[2016-06-28 09:19] AlexMatiash commented on #3361
Sorry, my fault.

https://filebin.net/sa28ea5am53gnhw7  (LZMA2)

photo raw - DSC03959.dng, flatfield files - DSC06364.dng\arw.
Flatfield file is not perfect, but currently I have only it.

[2016-06-28 10:17] Beep6581 commented on #3361
I updated http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Requirements_of_a_good_bug_report

[2016-06-28 10:36] Beep6581 commented on #3361
The flat-field applied unto itself works perfectly.
When applied to the image there is discoloration around the periphery. I'd say the flat-field was shot incorrectly.
https://i.imgur.com/FyjA04i.jpg

[2016-06-28 12:01] heckflosse commented on #3361
@AlexMatiash cb05456 fixes the bug that your arw flat-field does not not work on your dng file

[2016-06-28 12:50] iliasg commented on #3361
@heckflosse Ingo, indeed the https://github.com/Beep6581/RawTherapee/commit/cb05456746066b05fd9504ac3a3cb545a5b0debe removes the special treatment A7RII & RX1 II get from Dcraw9.27 (remove right columns which contain garbage) and then Camconst.json takes care for a correct raw frame for both DNG and ARW.
But this is a workaround, .. a correct solution would be to be able to define the correct fram

[2016-06-28 14:16] iliasg commented on #3361
Closed by accident

[2016-06-28 20:09] Floessie commented on #3346
@heckflosse Ingo, I just pushed 5cbff43. This gives some nice speedup on my machine for 7x7 and 9x9. Now if you vectorize it, it's going to fly. :)

At first I had a nice solution for the `PIX_SORT` macro for compaction:

[code]

But it turned out to be unstable: Sometimes the compiler would inline it, sometimes not. Now it's fully unrolled again, yielding stable results.

About my AVX question: I

[2016-06-28 20:12] AlexMatiash commented on #3361
But the same flatfield dng worked correctly either on arw photo (I can not test it now, because RT refuses to use dng ff to arw), or on the previous RT release. Also arw + arw pair works perfectly (as far as it is possible on such ff file) on the latest (4.2.1074 x64 Release) build.

https://filebin.net/41s8ozo6yg9r67qs here is that photo file in arw.

[2016-06-28 20:37] heckflosse commented on #3361
@AlexMatiash I applied your arw flat-field to your arw file from above filebin link => no colour cast using latest version. As you are using gtk3 version of rt you possibly have to wait some days to get a gtk3 version where it works correctly

[2016-06-28 20:42] AlexMatiash commented on #3361
Yes. The same is on my pc & RT. The problem is with the combination dng flatfield + dng photo.

[2016-06-28 20:42] heckflosse commented on #3361
@AlexMatiash Here's a screenshot: https://filebin.net/s458mx85smwfclnq/arwflatfield.png

[2016-06-28 20:47] heckflosse commented on #3361
@AlexMatiash `Yes. The same is on my pc & RT. The problem is with the combination dng flatfield + dng photo.`

Ok, maybe I was a bit confused :) I'll take a look again at this combination

[2016-06-28 21:01] heckflosse commented on #3361
@AlexMatiash I confirm that arw flat-field on arw file and dng flat-field on arw file work fine, but neither arw nor dng flat-field work fine on dng file.

[2016-06-28 21:24] AlexMatiash commented on #3361
@heckflosse Thank you! The reason to use dng instead of arw is in another (probably) bug of RT - HDD becomes crazy if I try to apply settings copied from one file to 2 or more other **uncompressed raw** files, in case when these files do not have .pp3 files. In case of compressed raw (it does not matter if it is compressed arw, cr2 or dng) everything is fine.

[2016-06-28 21:30] heckflosse commented on #3361
@AlexMatiash What's the amount of RAM in your pc?

[2016-06-29 09:41] AlexMatiash commented on #3361
@heckflosse 16 GB, no swap, and at least 8-10 GB free when I work with RT.

[2016-06-29 11:58] fliker09 commented on #3355
Any progress so far? Will there be any improvements for fish-eye photos as you mentioned?

[2016-06-30 16:23] Floessie commented on #3346
@heckflosse Vectorized it myself. Now it flies! :) Please countercheck.

Thanks
Flössie

[2016-06-30 18:41] heckflosse commented on #3346
@Floessie Some first results:

Vectorized median gave an improvement for >= median25. For < median25 the processing time was almost the same when I compared vectorized to scalar version. Perhaps compiler is able to create good vectorized code up to a number of registers which is below the max. number of sse registers (16 in case of compiling for x86/64). Maybe it's the limited memory bandwidth of

[2016-06-30 21:24] heckflosse opened #3362 "Speedup for raw preprocessing"
I created a [new branch](https://github.com/Beep6581/RawTherapee/commits/preprocess_speedup) with some speedups for raw preprocessing. I measured in queue using the usual D800 file and neutral profile.

Before: 148 ms
After:     83 ms

Edit: Additionally to the speedup the memory consumption of BadPixels bitmap is reduced by factor 8 if bad pixels have to be processed and to zero if bad pixels don

[2016-06-30 22:58] heckflosse commented on #3346
@Floessie After looking at the amount of work you did (especially for median49 and median81) I really have to take my hat off to you :+1:

[2016-07-01 06:13] Floessie commented on #3346
@heckflosse Ingo, thanks for testing!

Same here: At most 1ms faster for the smaller medians. Linking this observation to the register count sounds quite plausible. Now the question: Shall I keep it that way, or remove the SSE code for the smaller medians?

Thanks! :) You pushed me on the right track with sorting/selection networks.

For SSE builds we could now remove the "slow" label from the sel

[2016-07-01 11:32] heckflosse opened #3363 "Quick adding same image to queue several times and then deleting the middle entry from queue leads to wrong queue content"
To reproduce:

Add the same image 8 times to queue by pressing add to queue button 8 times as fast as you can.
Go to queue tab and remove 4th entry.
Close rt
Start rt
Queue should have 7 entries now, but has less than 7

[2016-07-01 12:39] Beep6581 commented on #3363
Bug confirmed.

[2016-07-01 12:44] Beep6581 commented on #3362
Compiles and runs fine.
Haven't timed unpatched. With patch, enabling hot pixel filter takes ("preprocess took") ~70ms, disabling ~20ms.
No difference in output between patched and unpatched.

[2016-07-01 12:46] Floessie commented on #3363
@heckflosse What about Windows (not that I care much about it)? Shouldn't you better use `mytime.h`?

[2016-07-01 12:47] heckflosse commented on #3363
@Floessie I tested on Windows. Works fine because we use msys2

[2016-07-01 12:48] Floessie commented on #3363
@heckflosse Ah, okay. Sorry for the noise.

[2016-07-01 12:53] Beep6581 commented on #3363
Fix confirmed.

[2016-07-01 12:54] #3363 closed

[2016-07-01 13:10] heckflosse commented on #3362
8cbdd31

[2016-07-01 13:10] #3362 closed

[2016-07-01 13:21] heckflosse commented on #3346
@Floessie I would remove the SSE code for the smaller medians to give the compiler a chance to generate even faster code on cpus with AVX512 for example.

About the 'slow' label: We should remove it for all builds because if a build does not use SSE everything is slow anyway and (more important) we can not #ifdef __SSE2__ in language files.

[2016-07-01 21:22] Beep6581 commented on #3360
Median 9x9 - remove "slow".

[2016-07-01 21:42] Beep6581 commented on #3334
Branch ready for merging, please test.

[2016-07-02 11:18] heckflosse opened #3367 "Segfault when keeping MakerNote and save to tiff16 uncompressed"
To reproduce:
Get [this file](https://filebin.net/95ez0yfbek0yd3wd)
Open it in RT
In Metadata tab select MakerNote and click on 'Keep' button
Save to tiff16 uncompressed
=> segfault

When saving to jpeg there is no segfault but also no Metadata

[2016-07-02 12:16] loopset opened #3368 "Issue with compilation under Solus (GCC 5.3.0)"
Hi!
I'm getting this issue every time that i try to compile RawTherapee 4.2 (NOT git versions, the tarball from 2014):
[code]

The error is that ../rtgui/version.h doesn't exist. All the dependencies are correct, and I ran cmake with this options:
[code]

Thanks! :)

[2016-07-02 12:30] ikeydoherty commented on #3368
[code]

Is the real issue.

[code]

Ideally this should have been raised with the Solus team before trying to elevate it upstream

[2016-07-02 17:36] Beep6581 opened #3369 "Man page needs updating"
Man page needs updating to comply with --help. --help could use some clarification too.

[2016-07-02 17:46] heckflosse commented on #3369
please add a rawpedia link to man page

[2016-07-02 18:00] Beep6581 commented on #2374
Invalidated by RT5 issue #3300, closing.

[2016-07-02 18:00] #2374 closed

[2016-07-02 21:07] heckflosse commented on #3367
I fixed the crash with 2710bcdcecf7bd00bea8082b2df3ae9dc28adfef. Issue stays open because my fix is not a clean solution but a hotfix for the crash.
@Floessie Do you have an idea how to detect the reason for this buffer overrun. I already valgrinded it but with no success :(

[2016-07-03 10:31] Floessie commented on #3367
@heckflosse Cannot reproduce with your instructions, neither release nor debug build (with `-DPROC_TARGET_NUMBER=2`), but when saving it says:

[code]

The number of bytes read varies.

**BUT** I do get a SEGV with release build when watching an empty folder and then adding the DNG to it:
[code]

[2016-07-03 10:38] Beep6581 commented on #3367
I have seen those TIFFFillStrip errors too, but haven't been able to reproduce them intentionally.

[2016-07-03 10:50] Floessie commented on #3367
With "General/Verbose":
[code]

Something is wrong with the file?!

Full BT with debug info:
[code]

[2016-07-03 10:59] Floessie commented on #3367
@heckflosse @Beep6581 [Here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rtthumbnail.cc#L180) we take an offset without checking if it's in range.

[2016-07-03 11:06] Floessie commented on #3367
Here is a patch:
[code]

[2016-07-03 11:14] Floessie commented on #3367
@heckflosse Sometimes `-D_FORTIFY_SOURCE=1` helps. I tried it, but as I cannot reproduce your exact problem, there was nothing to debug.

[2016-07-03 12:03] heckflosse commented on #3367
@Floessie I can reproduce it on my windows machine but not on Linux. Here's a bt full
[code]

[2016-07-03 12:29] heckflosse commented on #3367
Correct patch follows soon

[2016-07-03 14:08] heckflosse commented on #3367
87e1914 fixes the overrun in a better way

[2016-07-03 14:28] Floessie commented on #3367
@heckflosse Still the best way would be to do without a raw buffer at all. Should be on the list for RT6. ;)

[2016-07-03 14:46] Beep6581 commented on #3367
To check if the DNG file is intact, run it again through Adobe DNG Converter (I can't currently run it because I can't currently compile wine in Linux) and watch the logs for errors.

[2016-07-03 23:03] heckflosse commented on #2017
I'm currently working on exif support for compressed TIFF. Though not so easy with libtiff.....

[2016-07-04 19:01] heckflosse opened #3370 "Exif lost when saving compressed tiff from raw on windows builds"
To reproduce:

open a raw file
save to compressed tiff
open the tiff

there's only the exif header line but no content

works fine on Linux

Uncompressed tiff works fine too (because we don't use libtiff to save uncompressed tiff)

Can a windows user please confirm this?

[2016-07-04 19:20] gaaned92 commented on #3370
For compressed tiff, exiftool complains "bad format(63379)for ExifIFD entry 0".
OK for uncompressed tiff

[2016-07-04 19:31] heckflosse commented on #3370
@gaaned92 Thanks for confirming the bug

[2016-07-05 13:07] heckflosse commented on #3370
@Beep6581 @Floessie Can you test this on Linux please?

[2016-07-05 14:10] heckflosse commented on #3370
@Floessie Thanks for testing :+1:

[2016-07-05 14:10] #3370 closed

[2016-07-05 14:46] heckflosse commented on #3367
@Floessie I'll push your patch for rttumbnail.cc. Thank you!

[2016-07-05 16:39] Beep6581 commented on #3370
Compiles and works fine, except for one thing. I saved amsterdam.pef as a 16-bit TIFF compressed and uncompressed.

Uncompressed:
[code]

Compressed:
[code]

[2016-07-05 16:46] Beep6581 commented on #3370
I deleted the cache folder and saved two uncompressed files and two compressed ones. Both compressed ones match, both uncompressed ones match, and both types differ between each other as above.

[2016-07-05 16:53] Beep6581 commented on #3367
Reproduced the bug in 2710bcd so its not caused by this patch.

[2016-07-05 16:54] Beep6581 commented on #3370
Reproduced the bug in 2710bcd so its not caused by this patch.

[2016-07-05 18:34] loopset commented on #3368
Thanks Ikey for your answer. Finally, I could compile it with the help of a few patches. So i will close this issue.

[2016-07-05 18:34] #3368 closed

[2016-07-05 18:48] heckflosse commented on #3370
@Beep6581 Maybe you found the reason for [this comment](https://github.com/heckflosse/RawTherapee/blob/master/rtengine/imageio.cc#L1296)

[2016-07-05 21:06] da-phil commented on #3289
After I had this issue again while processing wedding pictures with a big folder, I spend a few minutes looking into the code and I spotted a possible suspect, this callback function:
`void FileCatalog::on_dir_changed (const Glib::RefPtr<Gio::File>& file, const Glib::RefPtr<Gio::File>& other_file, Gio::FileMonitorEvent event_type, bool internal)`
from here:
https://github.com/Beep6581/RawTherapee/

[2016-07-05 21:07] Beep6581 commented on #3369
Done in branch helpman

[2016-07-06 09:13] Desmis commented on #3351
@heckflosse
I think, to verify..., I found a fairly simple way to have, for an image, multiple instances of "Locallab" (3..5.. or more)

It needs (it's holidays...) some weeks to do that work. But I'm pretty confident (I hope) :)

[2016-07-06 10:33] henrym11106 opened #3373 "Canon EOS-1D mkII raw files are rendered as flat black"
I'm using the dhor/myway/ubuntu xenial repo and the issue appeared around two weeks ago in the development release. I also just compiled from Git with the same results.
the stable 4.2-4 ubuntu release is fine.

I've tried every image processing setting without luck. raw white and black points do nothing, color profiles, exposure adjustments, new and old processing profiles, etc.

the working previ

[2016-07-06 10:49] Floessie commented on #3373
@henrym11106 Thanks for reporting this issue. Could you please provide us with a sample CR2 file, optimally through [filebin.net](http://filebin.net/)?

[2016-07-06 11:02] zaltysz opened #3374 "Enhancement request: Manual input of focus distance for LCP"
As I understand, CA correction using LCP works only when image contains focus distance in EXIF. Lots of cameras do not add required tag, so images taken with them can't be CA corrected (using information in LCP) despite having full LCPs (made by using either other cameras, which add focus distance information, or made from images to which focus distance was added manually).

I propose an input box

[2016-07-06 12:46] #3373 closed

[2016-07-06 22:19] Beep6581 commented on #3374
While this is a feature I could implement, its one almost nobody else would use which makes me not keen on spending time doing it. More importantly, RawTherapee is getting lensfun support. Lensfun is a library for correcting lens-related issues. Once that's in place, this won't be a problem for you. As such, I'm closing this.

[2016-07-06 22:19] #3374 closed

[2016-07-07 10:49] heckflosse commented on #3351
@Desmis Hello Jacques,
I'm sorry that I didn't find much time to look at the locallab last weeks. I'm curious about the solution you found.
I'm also off to holidays soon for 3 weeks (first week without internet access).

Ingo

[2016-07-07 14:56] Desmis commented on #3351
@heckflosse
Ingo
The solution is apparently simple and essentially concerns Rtengine

First I add a slider or a combobox or other control to choose the control point you want to activated (1..2 ..3....6..or more)

In dcrop.cc and Improccoordinator.cc and also simpleprocess.cc; I create a "small database"  (this term is excessive but reflects the principle) type "pp", (ed "mpp" for multiple pp3)  w

[2016-07-09 22:53] da-phil opened #3378 "Enable whole area of magnification windows for moving"
I guess that applies to all RT versions so far, I'm currently using the latest version (4.2.969) from master branch.

When you add a magnification window to a picture, only the rectangular border region can be used for dragging it around, sometimes this is quite cumbersome to precisely click on the border of the window.
Wouldn't it make sense to enable the whole area of the rectangle for dragging

[2016-07-09 23:38] da-phil opened #3379 "Crash when moving magnify window while "Preview multi-zones" chrominance denosing method is active"
[code]

Recently I worked on some noisy images and played around with different chrominance denoising methods settings. I noticed a fairly reproducible crash when I just selected  "Preview multi-zones" in the chrominance denosing method selection and moved a magnify window around while RT was still occupied calculating the update.

I compiled a debug build and made RT crash several times during gd

[2016-07-10 11:43] heckflosse commented on #3379
@da-phil Thanks for the good bug report.

[2016-07-10 12:06] heckflosse commented on #3379
@da-phil I had to revert my commit for a short time to allow an automatic merge of a large pr. I'll let you know when it's in code again.

Ingo

[2016-07-10 16:35] #3379 closed

[2016-07-10 16:38] Beep6581 opened #3380 "CIECAM02 - initial preview darker than subsequent preview or saved image"
-- update 2016-08-18
See  [this later comment](https://github.com/Beep6581/RawTherapee/issues/3380#issuecomment-240696767) for easier steps to reproduce

--

Found a bug that was baffling me. Traced it down to the crop affecting the CIECAM02 tool.

1. Apply neutral to a photo, open it.
2. Drag a crop area which does not cover the full frame (or which does not cover the brightest areas), enable CIE

[2016-07-10 16:54] heckflosse commented on #3380
Could this be related to https://github.com/Beep6581/RawTherapee/issues/2708 ?

[2016-07-10 17:09] Beep6581 commented on #2708
I can still reproduce this in master, 4.2.971 5e11f6bb833681a305c2a00946923f547a914ca9.

[2016-07-10 17:10] Beep6581 commented on #3380
As far as I can see nothing points to that, as that issue (despite still being valid) does not use the crop tool, while reproducing this bug seems to rely on it.

[2016-07-10 17:14] heckflosse commented on #2708
Yes, same here

[2016-07-10 17:22] heckflosse commented on #3380
My guess is, that 2. shows the wrong result...

[2016-07-10 17:29] Beep6581 commented on #3380
I don't know which is correct, but the second one matches the saved image, and that's all that matters to me, since I use CIECAM02 for aesthetic reasons.

Another two examples:
http://i.imgur.com/qGlM9B3.jpg
http://i.imgur.com/S5oeHd2.jpg

As the zoom-in-zoom-out thing needs to be redone after every tool change (I tried changing only CIECAM02 Tone Curve 1), this makes using CIECAM02 almost guarant

[2016-07-10 17:33] heckflosse commented on #3380
I agree this being a serious issue but it also is an old issue (noone did change this code since a long time)...

[2016-07-10 21:37] da-phil commented on #3379
@heckflosse
great, thanks for the quick bugfix!

[2016-07-11 01:11] Beep6581 opened #3381 "Segfault on F4 - delete PipetteBuffer::imgFloatBuffer"
Non-reproducible segfault going to next image:
[code]
The current image and the next image had the same pp3: https://filebin.net/gnsstctd7d5z3j2q

[2016-07-11 06:51] Floessie commented on #3381
Every path in `Crop` seems to be properly protected by `cropMutex`. If I'm not mistaken, there is a small race possibility for debug builds, when one thread was waiting [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/dcrop.cc#L90) and another thread has just left `~Crop()` and is now [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/pipettebuffer.cc#L34). Don'

[2016-07-11 09:58] Floessie commented on #3346
Completed with PR #3377.

[2016-07-11 09:58] #3346 closed

[2016-07-12 05:43] Floessie commented on #3367
@heckflosse Isn't this fixed now and can be closed? @Beep6581 has already marked it completed in #3300...

[2016-07-12 09:50] Beep6581 commented on #3334
Merged a few days ago.

[2016-07-12 09:50] #3334 closed

[2016-07-12 09:59] heckflosse commented on #3367
@Floessie You're right, thanks!

[2016-07-12 09:59] #3367 closed

[2016-07-12 15:19] mbajor opened #3382 "Build failed for other than x86_64 and i586 + msse2"
I'm not able to build RT packages for i586 without msse2 flag and all other architectures e.g. ARM
Branches: master and gtk3
[Example log](https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_ARM/armv7l/rawtherapee/_log)

[2016-07-12 15:29] #3382 closed

[2016-07-12 15:34] heckflosse commented on #3382
@mbajor I fixed it only in master branch.
@Beep6581 Can you merge it into gtk3 please?

[2016-07-12 17:21] Krzysiu commented on #3272
Sorry for such long time. Any file system related open and save, e.g. export to jpeg/tiff.

[2016-07-12 17:22] Krzysiu commented on #3271
For me it sounds great!

[2016-07-12 18:10] Beep6581 commented on #3382
Done.

[2016-07-13 08:04] Floessie commented on #3382
@heckflosse Ingo, thanks for fixing my bug (again). :)

Marcin's log is interesting on it's own:

[code]

`rtexif` definitely needs a massage. I had it already started, but it collided with #3334. I'll start over after my holydays.

[code]

Those are spread around in the code. `clang-tidy` also found these. Another point for cleaning up.

[code]

The new `-Wmisleading-indentation` really rocks, an

[2016-07-13 10:34] heckflosse commented on #3382
@Floessie `DCraw::xtrans_interpolate(int)` is not used in rt. I let it in code because it's the 'reference' implementation. rt uses `void RawImageSource::xtrans_interpolate (..)`

[2016-07-13 11:34] Beep6581 commented on #3382
Please consider whether working on rtexif will not end up taking as much time as replacing it with exiv2 or exiftool would.
http://owl.phy.queensu.ca/~phil/cpp_exiftool/

[2016-07-13 12:14] Floessie commented on #3382
@Beep6581 Valid point. My intention was to streamline the existing code. I've not yet looked at its inner workings.

[2016-07-13 17:29] maxiking01 commented on #3297
Hi, Dawid Król from RawTherapee's forum,
I can confirm that problem still persist on gtk3 branch. I will take this issue and see what I can do about it.

[2016-07-13 17:35] Beep6581 opened #3383 "Luma coefficients"
I noticed that rtengine does not use the same luma coefficients:

[code]
but
[code]

Wikipedia says https://en.wikipedia.org/wiki/Luma_(video) :

@Desmis @heckflosse @atorger I just wanted to point this out, and ask whether it's handled correctly.

[2016-07-13 17:38] Beep6581 commented on #3297
Yay!

[2016-07-13 17:47] maxiking01 commented on #3297
![wrong histogram](https://cloud.githubusercontent.com/assets/17032029/16813483/f39069be-4931-11e6-96ae-4543744f1d30.jpg)
I noticed that histogram is incorrectly drawn because there are multiple curves for one color. I don't think that is correct. It also happens on the other raw files too.

[2016-07-13 18:03] Beep6581 commented on #3297
@maxiking01 there is a single histogram curve per color. The reason your curves and whole UI look wrong is because your RawTherapee is not using the theme file. Get the latest build from our website (I just uploaded a new build), go to Preferences and set the theme to "RawTherapee". Also note that RawTherapee does not support Gtk+ 3.20 yet, only 3.18.* and below.

RawTherapee should look like this

[2016-07-13 18:12] leeoniya commented on #3297
@Beep6581 is 4.2.1148 built from master (so can be considered RT5-pre?)

[2016-07-13 18:17] Beep6581 commented on #3297
No, it's built from the `gtk3` branch. The idea is to stop committing to `master` and switch to `gtk3` soon.
Apart from the user interface, `master`==`gtk3`. Both can be considered RT5-alpha.

[2016-07-13 18:29] leeoniya commented on #3297
k thx, i'm mostly interested in the recent large perf boosts. my laptop's thermal management will be happy :)

[2016-07-13 22:23] heckflosse commented on #3378
@da-phil I you mean [this](https://filebin.net/nd3zno7tlnubp7zs/detailwindow.png) then it's easy to [fix](https://filebin.net/nd3zno7tlnubp7zs/detailwindowmove.patch)

Ingo

[2016-07-13 23:00] Beep6581 commented on #3378
+1 for making it possible to move the red area by clicking inside it. Not +1 if you mean the detail window in the top-right corner of the canvas.

[2016-07-14 12:10] sstent commented on #3356
This would be great - The current functionality is not very useful to me. either

[2016-07-15 09:51] pi99y opened #3384 "Wrong thumbnail orientation and unintended "crop" (in the top panel of the editor)"
Hi,
I've noticed this for some time now (maybe for like a year) that **sometimes** (I'm not quite sure how to recreate, but it **might have something to do with applying or copy/pasting profiles**) the thumbnails of the top panel in the editor view are displayed in the wrong orientation, while the image remains in a opposite orientation - resulting in a cut/cropped image that does not represent th

[2016-07-16 11:11] Floessie commented on #3384
@heckflosse I remember having provided a patch for this in another issue. The problem was a missing lock in a trivial function. I can't find the issue right now, but I talked about the "Monitor" pattern there. Perhaps you can find the issue and the patch. Thanks.

[2016-07-16 11:34] ezombie opened #3385 "Add in "About" information about OpenCL enable/disable"
Branch: master
Version: 4.2.995
Changeset: 57e95a35c23fb748f9fd8bf9ecdecf7fa1b4fec6
Compiler: cc 6.1.1
Processor: phenomX4
System: Linux
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: release
Build flags:  -Wno-unused-result -Wno-aggressive-loop-optimizations -std=gnu++11 -march=amdfam10 -Werror=unused-label -fopenmp -Werror=unknown-pragmas -O3 -DNDEBUG
Link flags:  -march=amdfam10
OpenMP support:

[2016-07-16 13:11] Beep6581 commented on #3385
RawTherapee does not support OpenCL, so "OpenCL support: OFF".

[2016-07-16 13:11] #3385 closed

[2016-07-17 09:49] FM33 commented on #3353
I have the same issue with GTK3 version in Ubuntu 16.04 amd64, 8GB RAM.
While I'm working on photos and then adding them to queue, memory usage of RT process keeps growing. I have to restart RT regularly to clear memory and avoid swapping that is *extremely* slow and performance breaking. Once restarted, the queue is restored, but there is no excessive memory usage.
I usually quit RT when it takes

[2016-07-17 16:19] FM33 commented on #3353
4.2.1152

[2016-07-17 20:10] Beep6581 commented on #3353
@FM33 can you find which processing profile this happens with (i.e. apply the same PP3 to all photos and process them to see whether it happens), and then upload it? If you cannot attach it directly, upload it using http://filebin.net/

[2016-07-17 23:10] Beep6581 opened #3386 "Wavelet subtools should be disabled by default"
Currently all Wavelet sub-tools are enabled by default. They should be disabled by default.

[2016-07-18 10:18] FM33 commented on #3353
For me, the growing is not while processing but while editing.

[2016-07-19 12:56] Floessie commented on #3384
@Beep6581 It's in #3304. Don't know, if it ever got included in master.

[2016-07-19 13:09] fliker09 commented on #3355
Same problem detected with Nikon D7100. Yes, again fish-eye. Is there any hope for improvement?

[2016-07-19 17:50] romandocent commented on #3306
Version 4.2.1152. Still crashes randomly at noise reduction and white balance. ((

[2016-07-24 16:09] ravak opened #3387 "Add to queue does not work / crash RT on modern Windows when files are in a folder which's name contains special characters (e.g. Zdjęcia)"
1. Run RT
2. Add a file to queue (doesn't matter what profile)
3. View queue - fine, run manually, fine
4. Add another file to queue
5. View queue - crash

Also queue doesn't work with auto-run. I can save a file manually though. Running Windows 10 Home.

Attached log.txt: [log.txt](https://github.com/Beep6581/RawTherapee/files/380351/log.txt)

About build:

[code]

Also shows up:

[code]

[2016-07-25 04:12] sergiomb2 opened #3388 "did you forget make tags or releases ?"
tag 4.2

@Beep6581 Beep6581 tagged this on 24 Oct 2014 · **995 commits** to master since this tag

[2016-07-25 08:46] midluk opened #3389 "Memory leak in preview rendering of "Contrast by Detail Levels""
I recently tried to edit some photos with the "Contrast by Detail Levels" tool enabled.
After some (50-100) photos, I noticed some significant memory usage (>12GiB).
When zooming in and out in any photo repeatedly, I can quickly produce a significant rise in memory usage.
When I disable the "Contrast by Detail Levels" tool, I don't see a significant rise in memory usage.
So there seems to be a mem

[2016-07-25 17:13] wtermeer opened #3390 "Update Nederlands language"
Update of the Nederlands language file for the upcomming relaease.

[Nederlands.zip](https://github.com/Beep6581/RawTherapee/files/382063/Nederlands.zip)

[2016-07-26 14:47] TooWaBoo commented on #3389
I still have reported a memory leak here: https://github.com/Beep6581/RawTherapee/issues/3353

I can confirm, that disabling "Contrast by Detail" will solve it. So ther is a bug in the "Contrast by Detail" tool.

[2016-07-26 15:18] midluk commented on #3389
Might indeed be a duplicate of #3353, even though I'm using the gtk2 version (assuming that this is still the default).
I exported about 200 images yesterday with Contrast by Detail Levels activated and RES memory usage stayed below 2GiB. Might still be some memory leak somewhere, but the total leaked memory seems to be less than the usual fluctuations that can be seen during image processing.
In

[2016-07-28 20:13] Beep6581 commented on #3384
Hey, I was away on holiday and am back now.
#3304 and its bugfix branch fix-dcp-race-and-store were merged, but you spoke of some additional speedups which appear not to have been done yet. @Floessie your `lock(mutex);` fix is not in master. Should it be added? If so, I can test if you prepare a patch or branch.

[2016-07-28 20:16] Beep6581 commented on #3306
@romandocent still no stack backtrace from you.

[2016-07-28 20:23] Beep6581 commented on #3387
@Floessie @heckflosse do you see anything usable in that stack backtrace?

@ravak "Add a file to queue (doesn't matter what profile)" Have you tried using the "(Neutral)" profile?

[2016-07-28 20:29] #3390 closed

[2016-07-28 20:38] ravak commented on #3387
@Beep6581 Yes, just tried it: opened a file, selected Neutral profile, added to queue from editor -> could view the queue, closed the editor -> could still view the queue tab, added to queue from file browser -> viewing queue crashed RT.

Another test: opened file 1 in editor, added to queue (can view queue), opened file 2 in editor, added to queue -> view queue crashed RT.

[2016-07-28 21:14] romandocent commented on #3306
I'm newbie, I don't know how to do it. @Beep6581

[2016-07-28 21:42] #3389 closed

[2016-07-29 02:54] romandocent commented on #3306
[log.txt](https://github.com/Beep6581/RawTherapee/files/389794/log.txt)

Back trace about noise reduction crush done

[2016-07-29 09:33] Floessie commented on #3384
@Beep6581 Hej! I'm still on holiday, so I can't currently provide you with a patch other than the one in #3304. And yes, the `MyMutex::MyLock lock(mutex);` line should suffice. You can of course try it, it did fix the problem for me.

A few days ago I introduced RT to a friend who uses Windows. This bug here appeared immediately as well as #3387 (or something similar). :(

Hej så länge!
Flössie

[2016-07-29 09:42] Floessie commented on #3387
@Beep6581 Although it says to be a debug build, there are only very few symbols present, and I couldn't determine the problematic location. Maybe you are able to reproduce the problem and provide a better backtrace. Is it only on gtk3 or also on master?

[2016-07-29 09:45] Floessie commented on #3306
Backtrace is fine. Thanks.

[2016-07-29 09:46] ravak commented on #3387
It looks like libcairomm is missing debugging info. Where can I find non-gtk3 debug build for Win64?

[2016-07-29 14:06] Beep6581 commented on #3387
@ravak https://filebin.net/xebizj40bdqongsf/RawTherapee_WinVista_64_Master_Debug_4.2.992.zip
@Floessie haven't been able to reproduce it.

[2016-07-29 14:07] Beep6581 commented on #3384
Ah, if it's that simple then I'll try it and commit it with @heckflosse's blessings!
Enjoy your holiday :)

[2016-07-29 17:57] ravak commented on #3387
@Beep6581 This build works fine. Although cannot make Auto-start processing to work. After manually kickstarting the process, next added to queue stops the queue:

[code]

[2016-07-30 09:38] NextTherapist commented on #1642
I cannot confirm that this issue is fixed. It still occurs in the Master branch. After clicking "Spot WB" the cursor looks like a pipette. When I "Open (new) detail window" after that, the cursor stays in this look and in this function. I can move the new detail window if I exactly hit the frame with the pipette, but if not, I get a new white balance.

[2016-07-30 15:38] Beep6581 commented on #3387
I guess the queue stops because some error is encountered, and that error could be "Invalid byte sequence in conversion input". Can you reproduce the problem with these?
http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_1.pef
http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_2.pef
http://rawtherapee.com/shared/test_images/amsterdam_moving_boat_3.pef
Are you editing the

[2016-07-30 17:35] ravak commented on #3387
Yes, those files work. I'm using Nikon D750's RAWs, no processing, fresh from SD card. Attaching a file: https://filebin.net/21kb9i9zbbef5xed

[2016-07-31 21:54] meownoid opened #3391 "Segfault after using haldclut"
After using haldclut (Color -> Kodak -> Porta 160 2) on the one of the images I've keep getting segfaults on every action (double-clicking on image, clicking on File browser tab, right-clicking on image). After restart I can do what I want, but only once. Then I get segfault again.
Core dump: https://yadi.sk/d/ffbzL5amtntvy

[2016-07-31 23:06] Beep6581 commented on #3391
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2016-07-31 23:07] #3391 closed

[2016-08-01 09:00] meownoid commented on #3391
https://github.com/blog/2111-issue-and-pull-request-templates

[2016-08-01 11:30] Beep6581 commented on #3391
Thanks! :)

[2016-08-01 23:24] Beep6581 commented on #3384
@Floessie hey, sorry for the off-topic: I sent you a message on [discuss](http://discuss.pixls.us/) some weeks ago regarding coverity, could you check your discuss inbox? Click on your profile picture icon in the top-right corner, and then click on the mail icon.

[2016-08-02 19:18] Floessie commented on #3384
@Beep6581 Sorry, must have missed your message. I'm currently unable to receive from my Gmail account with my elderly Claws Mail. I've got to upgrade my server (long due) first, there will be al lot of messages waiting... The Gmail web frontend is unavailable to me from this WiFi access, cause it's VPNed to another country and Google won't let me in from there without SMS confirmation. That's more

[2016-08-04 21:51] ben-richardson commented on #2989
@Beep6581 You mentioned a "(publicly available) collection of color target shots" above. Is that still available?

[2016-08-05 08:26] lvreclp commented on #3386
Hello. I would like to help developing RawTherapee. Could I take this enhancement request to handle?

[2016-08-05 11:14] Beep6581 commented on #3386
Hey @lvreclp , sure!

[2016-08-05 11:15] Beep6581 commented on #2989
@ben-richardson Yes, http://rawtherapee.com/shared/test_images/colortarget/

[2016-08-05 18:48] ravak commented on #3387
Anything else I can provide to help triage this bug?

[2016-08-06 11:40] Beep6581 commented on #3387
I cannot reproduce the crash nor the queue stopping in Linux, but I get these in the console when saving:
[code]

With `verbose=true` I also get these:
[code]

Maybe related to #3367?

[2016-08-06 19:24] #3384 closed

[2016-08-10 11:50] madsector commented on #3229
Hi, I was wondering when you will find the time to implement the compressed raw support for X-Pro2 to RT. Just to prepare myself for a longer wait ;-)

[2016-08-10 13:12] Floessie commented on #3306
Okay, I had a first look: Both backtraces crash near the end of `rtengine::Crop::update()`, which is a lengthy function doing a lot of things. Most members are properly protected by `cropMutex`. Here is a patch to protect them all:
[code]

The interaction between `tryUpdate()` and `fullUpdate()` with a pair of non-atomic bools looks somewhat waggly but has been there for a long time.

I still can'

[2016-08-10 15:12] romandocent commented on #3306
How to use it? @Floessie

[2016-08-10 16:14] heckflosse commented on #3306
@Floessie No idea. I also can't reproduce the crash here :(

[2016-08-10 19:06] Beep6581 commented on #3306
@romandocent do you compile RawTherapee yourself?
Guide: http://rawpedia.rawtherapee.com/Linux
To apply the patch, after you do the "Compile RawTherapee" step as described in the link above, assuming you are in the cloned repo as you should be at that point of the guide, run this:
[code]
Then proceed with compilation.