[2018-01-11 16:26] Desmis commented on #4290
@agriggio

Alberto could you give me a link, with images "extreme temperature", as the one you used here :)
Thank you

[2018-01-11 16:26] agriggio commented on #4290
@Desmis
Hi Jacques,

first, sorry if I sounded too negative -- that was not my intention! I was just expressing my opinion, probably without paying enough attention to the tone...

I think we should aim for a proper, generic solution that will allow to integrate local editing in a clean, efficient and maintainable manner. (Ideally, once we have that, also the graduated filter should become part of

[2018-01-11 16:27] Hombre57 commented on #3567
@Beep6581 Done in commit 91e494a7098e760d2422003011e8311d7032bba5, in Tunneling mode. Could we close ?

[2018-01-11 16:28] agriggio commented on #4290
@Desmis Jacques I will search for something that I can share later tonight. If I don't find anything, I will send you the above picture privately (but in that case please keep it for yourself :-)

[2018-01-11 16:32] agriggio commented on #4290
@Desmis Jacques, you can try with these colour targets: https://filebin.net/5lbtz6cqnayo0e6w
Here, CAT02 adaptation gives a yellow cast similar to what is shown above (although less extreme)

[2018-01-11 16:36] TooWaBoo commented on #4148
New update

[code]

[2018-01-11 16:37] agriggio commented on #3567
:+1: for closing, thanks!

[2018-01-11 17:00] Desmis commented on #4290
@agriggio

Alberto, don't worry :)
I'll test Cat02 with your images and try to find "limits"

Thank you

Jacques

[2018-01-11 17:46] Desmis commented on #4290
@agriggio

All these images are with a very low values of "La" about 3....
Normal values are about 400, 2000 or more !
If you try  "Ciecam", you have the same problem, I will look how to do, to "bypass" this problematic , which can be very usefull in some cases (see the work of Elle Stone)

[2018-01-11 18:38] Beep6581 commented on #3567
Fix confirmed, thanks @Hombre57

[2018-01-11 18:38] #3567 closed

[2018-01-11 22:19] LebedevRI opened #4296 "Release notes: RPU"
As discussed in `#pixls.us`:
It would be super great if RawTherapee could include some text about [RPU](https://raw.pixls.us/) into it's release notes.
We do that for dt already, but i would imagine that the audience overlap is not 100% :)

For dt we do:
[code]
I guess you will want to reword that :) But it is **really** important to link to the post and not the RPU itself, because it contains som

[2018-01-11 22:43] #4295 closed, assigned to nobody

[2018-01-11 23:40] Hombre57 commented on #4294
Here you go :

DCP apply|1|2|3|4|5|6|7|median|median %|min|max
----------|-|-|-|-|-|-|-|-|-|--|--
K1 unpatched|411|396|396|395|393|395|391|395|    |393|411
K-1 patched|347|332|330|331|330|339|329|331|84%|329|347
Sony ILCE-7RM2 unpatched|489|462|473|461|461|462|473|462|   |461|489
Sony ILCE-7RM2 patched|412|401|392|397|399|397|398|398|86%|392|412
D850 unpatched|523|479|480|479|475|486|490|480|   |4

[2018-01-11 23:56] heckflosse commented on #4294
@Hombre57 Thanks for testing :)

[2018-01-12 00:17] heckflosse commented on #4294
@Hombre57 Your result clearly shows, that my simple patch (compiler hint) als works in your Windows/Intel machine! Thanks!

[2018-01-12 07:10] Floessie commented on #4294
Fascinating, indeed. I had the impression, those efforts were fruitless with modern branch predictors (and given the fact, that the `if` part is normally laid out without a jump). So, can you give us an insight on the effect on the assembly level? How are those hints given to the processor? Or is it just clever reordering by the compiler?

Much appreciated,
Flössie

[2018-01-12 15:06] heckflosse commented on #4294
@Floessie I didn't look at the assembly. I guess it is clever reordering by the compiler, especially in this case where `Color::rgb2hsvdcp` is inlined and can be reordered too.

[2018-01-12 16:43] Desmis commented on #4290
I push a change.
I think it solves the problem, for very very low values 'La' and temperature very low.
For intermediates values, I put empiricals values...to verify, but it is easy to chnage values.

I add an "autochecbutton", and I calculate "La", then with an algo different from the one used in CIecam, I adjusted Cat02.

Jacques

[2018-01-12 16:58] Floessie commented on #4294
@heckflosse Yep, it's better reordering:

[code]

Best,
Flössie

[2018-01-12 17:07] Desmis commented on #4290
Is someone have a "submarine" photo (underwater).
I have lost the one I had on my computer.
For testing, at the other extermity of temperature >> 20000K

Thank you

[2018-01-12 17:08] agriggio commented on #4290
Hi Jacques (@Desmis)

Thanks for the change, but it still gives me weird results:

![screenshot from 2018-01-12 18 07 05](https://user-images.githubusercontent.com/11982086/34886508-7ee3482e-f7c3-11e7-8e46-b8877a9bd4d3.jpeg)

I will take another picture in the same room later tonight (without the problematic subject :-) and send it to you.

[2018-01-12 17:09] Desmis commented on #4290
have you enabled / disabled "White balance", because at 1, CAT02 is desabled :)

[2018-01-12 17:32] agriggio commented on #4290
if I set it to 0, I get reasonable results. but at 1 it is still weird...

[2018-01-12 17:39] Desmis commented on #4290
At 1, Cat02 is desabled, I am sure :)
Do you have CIecam enabled ?

But there is a bad functionnement of WB, not due to my changes
In refreshmap.cc events for WBenabled" is ALLNORAW, all events WB are with DEMOSAIC

[2018-01-12 17:47] Desmis commented on #4290
I will make some changes, WBenable events, another in Whitebalnce (WBchanged())
And I also chnage cat02 1 to 0, but this has no effect...

But a question (if you know the response) , Why there is now a "button" to enabled / disabled WB, for what usage ?

[2018-01-12 17:47] heckflosse commented on #4290
@Desmis

I think I have one. Looking...

[2018-01-12 17:55] heckflosse commented on #4290
@Desmis https://filebin.net/0obifcclj4vszoaf

[2018-01-12 19:03] Desmis commented on #4290
@heckflosse

Thank you :)

I made a change to have good temp for cat02. I will look tomorrow

I think, there is a problem  with management of events but where ?

[2018-01-12 19:09] Hombre57 commented on #4263
@heckflosse I thought again at what we discussed on IRC about desired image orientation while using the On Preview widgets. I think it's best to use the shot's orientation, not the sensor one (landscape). I think that users will find it awkward to adjust the crop on a shot taken in portrait mode (e.g.). The pp3 should then refer to the GUI values, which will be in shot's orientation.

Could you up

[2018-01-12 19:42] agriggio commented on #4290
@Desmis here's another image that you can use for your tests:
https://filebin.net/fzd9wdh5o7nn895h/DSC09464.ARW

[2018-01-12 20:01] LebedevRI commented on #4296
Just to clarify, if you think linking to the post is bad and linking to the RPU itself is better/less of a problem, then feel free to link to the RPU :) Spreading the word/link of RPU is the important bit here.

[2018-01-12 20:38] agriggio opened #4298 "A new "advanced tools" tab?"
Many people who try RT for the first time often say that it seems powerful but also too complex to use / intimidating. I think there is some truth to that, but on the other hand, it is good to have powerful tools if you know how to use them.
So, I was thinking, what about having a dedicated tab for "advanced" tools? For example we could rename the wavelets tab to "advanced" or "expert" tools, and

[2018-01-12 22:13] Hombre57 opened #4299 "Better source tree"
RT's source tree for the code part is quite flat actually : only 3 folders (rtengine, rtexif - that might be dropped, and rtgui).

Would it be useful for newcomers to have a more self-explanatory source tree ? I don't think we can put each tool's GUI and engine in their own directory, because the engine part is mostly made os shared code (between tools)

I'm thinking about :
[code]
...though I don

[2018-01-12 22:39] heckflosse commented on #4294
Are there any objections to push the change?

[2018-01-13 06:23] TooWaBoo commented on #4148
New update

[code]

[2018-01-13 07:29] Desmis commented on #4290
@agriggio

Thank you :)

I look at the code, and now I am sure, the problem is not due to Cat02 (except the problem of very low values, which are now solved), but to the pipeline and / or whitebablance.cc and/ or events with WB.

I had incorporated cat02 in WB for the sake of ease and ergonomics. Even if he has nothing to do with the WB settings, he's just using it  (getimage)

I will create a sep

[2018-01-13 08:16] Floessie commented on #4294
`UNLIKELY()`. 😁

[2018-01-13 08:19] Floessie commented on #4298
What about collapsing the "advanced" tools (what's advanced and what's basic might vary with each of us) by default (after installation)?

[2018-01-13 08:23] Floessie commented on #4299
That sounds like a very good idea. I have a recursive `ImportSourcesFromSubdir` CMake function lying around somewhere...

[2018-01-13 10:13] Desmis commented on #4298
Some time ago, Hombre had proposed something similar, with a choice "current", "expert", "math". (or something similar)
**For my part I am in favor.**

But, both in the "issues" and on the forum, some opposed to saying for example that a tool is complex only if it was not understood or used enough

[2018-01-13 10:46] Hombre57 commented on #4294
None from me.

[2018-01-13 11:23] #4294 closed, assigned to nobody

[2018-01-13 14:27] Beep6581 commented on #4299
I like the idea.

What makes you think you'd lose history?

[2018-01-13 14:31] Beep6581 commented on #3542
Reopened as it needs to be documented.

[2018-01-13 14:33] Beep6581 commented on #4290
That was issue #3542
You can use this to set the white balance multipliers to 1 1 1 for raw image analysis. It could be of use to users of UniWB and cameras modified to capture IR/UV light.

[2018-01-13 14:38] Beep6581 commented on #4298
@agriggio have you seen #2631?

[2018-01-13 15:23] Beep6581 commented on #4298
By the way, as Retinex only works on raw files, it should be set to insensitive when opening a non-raw file, consistently with the Raw tab.

[2018-01-13 15:29] Desmis commented on #4290
I push a change 46ad618
Now I think (to verify) that all runs normaly.  I don't change algo Cat02, only GUI...
Perhaps, it needs to refine some values for limits...

Jacques

[2018-01-13 16:31] Desmis commented on #4290
I commit a small change to take into account "enabled" for "Cat02" :)

[2018-01-13 17:22] agriggio commented on #4298
@Beep6581 I hadn't seen that, no. Thanks for the pointer. But I think it went nowhere, right?
What I'm proposing here is much simpler than a full support for UI customization. That would be great, but who is going to do that? (hint: not me :-)

[2018-01-13 17:31] agriggio commented on #4298
Anyway, reading some more comments on #2631, and also to answer other questions asked above: I believe that certain tools are clearly more complex to use than others. Either because they have more parameters, or because it's easier to "shoot oneself in the feet", or because they are useful mostly in special situations. This doesn't make them bad or useless (on the contrary, they can be *extremely*

[2018-01-13 17:56] Beep6581 commented on #2055
Currently some DCPs have a curve and some don't, and so opening a photo results in:
* a flat image if your default raw PP3 has auto-levels disabled and the DCP lacks a curve,
* a nice image if your default raw PP3 has auto-levels disabled and the DCP has a curve,
* an nice image if your default raw PP3 has auto-levels enabled and the DCP lacks a curve,
* an over-exposed image if your default raw P

[2018-01-13 18:03] Beep6581 commented on #4298
Personally I have no interest in a customizable UI, I just wanted to point the issue out.

My position has always been that all tools are advanced until one learns how to use them - curves make a good example. However I agree that some tools like CIECAM02, Retinex, Wavelets and the seemingly-simple-but-not-quite Channel Mixer would belong well in an Advanced tab. What motivates my support for the

[2018-01-13 19:04] gatoatigrado commented on #4256
Sorry I was away for a while. As far as the examples you list,

 1. The first one seems to copy the entire gtest source tree
 2. The second one seems to use `https://github.com/google/googletest/archive/master.zip`, which doesn't require Git but does download stuff.
 3. The third one seems to use the Git procedure.

Copying source seems ugly. I'd go with the 2nd or 3rd option. Maybe it could be fl

[2018-01-13 19:26] Beep6581 opened #4300 "RawTherapee theme bug when editing node in/out values"
The RawTherapee theme has a bug: when you edit a node's in/out values, the out part's label turns blue and stays blue until you close RT.
![screenshot_20180113_202629](https://user-images.githubusercontent.com/5844619/34909385-0cb60d80-f8a0-11e7-8aae-63210a541a30.png)

[2018-01-13 19:41] Beep6581 commented on #4300
Clicking on the GtkFlowBoxChild selects it, so I can make the left box blue by clicking on the "I:" label or the area around the spinbutton as the blue color shows. The problem is that this highlighting is distracting and unhelpful.

Something stupid like this works around the problem:
[code]

But the real problem is that the GtkFlowBoxChild shouldn't be able to receive focus.

[2018-01-13 20:01] Hombre57 commented on #4299
@Beep6581

I may not know git enough, but moving a file means deleting it in its old location and creating it in its new location. But I may be wrong.

[2018-01-13 20:02] Hombre57 commented on #4299
@Beep6581 I'm also worried about active branch and how to merge them.

[2018-01-13 20:08] Beep6581 commented on #4300
I tried this but it didn't work:
[code]
@Hombre57 could you maybe take a look?

[2018-01-13 20:15] Beep6581 commented on #4299
@Hombre57 git will not lose history when moving files. Use [`git mv`](https://git-scm.com/docs/git-mv) to be safe.
https://git-scm.com/book/en/v2/Git-Internals-Moving-Files

[2018-01-13 20:25] Beep6581 commented on #4299
And here's what Gordon Ramsay has to say about it:
https://web.archive.org/web/20150209075907/http://permalink.gmane.org:80/gmane.comp.version-control.git/217

[2018-01-13 21:17] Hombre57 commented on #4298
Powetools like Retinex and Wavelet are way easier to understand with a proper GUI that makes things self explanatory. We're not there yet, we have to spend some time to master these tools and then work on the GUI to make things more evident. Probably a new issue to open.

On the short term, I agree with @Beep6581 that CIECAM, Retinex and Wavelet are kind of _all purpose_ tools that can't be part o

[2018-01-13 21:41] gatoatigrado opened #4302 "Little CMS (LCMS) optimization"
Hi all, I'm opening this "issue" / thread to discuss LCMS optimization. As per #4250, we know that LCMS, called by `ExecCMSTransform`, is a hefty percent of the CPU used (the largest "single component", if you will, for the default profile). Unless you prefer not, I was thinking of inviting the maintainer of LCMS to this thread. We can discuss whether the best place for optimization would be LCMS,

[2018-01-13 22:02] Beep6581 commented on #4298
My opinion is that a change is worth it if it's clearly superior to the way things are now, making the benefit of the new arrangement outweigh the problems caused by forcing users to re-learn where to find which tool.

As I wrote [here](http://rawpedia.rawtherapee.com/Getting_Started#Advanced), while we could agree that one typically starts off by using the White Balance + Exposure tools, the orde

[2018-01-13 22:39] agriggio commented on #4298
@Beep6581 :+1:, I very much agree

[2018-01-13 22:41] Benitoite opened #4303 "ipresize.cc initialize variable-sized object fatal error mac/clang"
https://github.com/Beep6581/RawTherapee/commit/3b6cc19ae9a43a66acde5240a01dcd4aaf77b20a#diff-2b1cc6fc2de78f2a888859f092c10334
[code]
  Clang 391 on mac did not take to this change, @Floessie
[code]
[code]

[2018-01-13 23:12] heckflosse commented on #4302
@gatoatigrado

Convincing the LCMS maintainer would be perfect 👍

But I'm also fine with the other solutions. The important point is to get a speedup for this bottleneck.

[2018-01-14 00:46] heckflosse commented on #4302
@gatoatigrado I didn't have a look at the code yet. What's the speedup when not using AVX?

[2018-01-14 00:56] Hombre57 commented on #4300
@Beep6581 Could you test this ?

[code]

[2018-01-14 08:11] Desmis commented on #4298
In this type of debate, the cognitive logics clash.

if we group together what is the underlying logic:
* process (once we understand all the features)
* ease of understanding - what is it for?
* ease of use - how to use it ?
* grouping by photographic functions (luminance, color, noise, etc.)
* etc.

These points are deeply modified by learning and training (tutorials, Rawpedia, videos, forum sha

[2018-01-14 09:25] Floessie commented on #4303
@Benitoite Thanks for reporting! Looking...

[2018-01-14 09:34] #4303 closed, assigned to nobody

[2018-01-14 09:35] Floessie commented on #4303
Checked with clang 3.9.1 on Linux.

[2018-01-14 12:42] Hombre57 commented on #4300
@Beep6581 Committed to dev.

[2018-01-14 17:26] nmalykh opened #4305 "GPS tags not piped to TIFF"
The program does not save GPS tags when exporting to the TIF format. In the files of JPG and PNG, the tags are normally stored. There was this problem at the end of 2017 (between 300 and 400 commits, approximately). You can see Exiftool (-Composite:all) outputs made in version 5.3-469-gcbcb09633.
[JPG.tags.txt](https://github.com/Beep6581/RawTherapee/files/1629584/JPG.tags.txt)
[TIF16.tags.txt](ht

[2018-01-14 19:12] Benitoite commented on #4303
Much appreciated @Floessie brilliant fix

[2018-01-14 19:35] Beep6581 commented on #4305
@nmalykh please upload a sample raw file using https://filebin.net/

[2018-01-14 19:41] Beep6581 commented on #4300
I can still focus the GtkFlowBoxChild by clicking on it, but it no longer auto-focuses when I use the Tab key.

[2018-01-14 20:03] nmalykh commented on #4305
https://filebin.net/v5t0eufcg63nnp14/_DSI1586.NEF

[2018-01-14 20:45] agriggio commented on #4298
I just pushed a branch `advanced-tools`, which renames the wavelet tab to "advanced" and moves there also retinex, ciecam02 and channel mixer.
Let me know how it feels -- we easily throw it away if you think it doesn't improve the situation.

[2018-01-14 20:48] Hombre57 opened #4306 "HDR tool (Fattal) produce zoom dependant luminosity"
[This image](https://filebin.net/ftonl97b5n4f2w2b) is using the Fattal tool (pp3 provided as well), but the overall luminosity depend on the zoom rate. Put a ColorPicker at X:4300 Y:1500 (coordinates from the Navigator) and make it as big as possible (Ctrl + Scroll up over the circle while still in ColorPicker mode).

You'll see that the luminosity is very different from e.g. 25% zoom rate over 20

[2018-01-14 21:25] agriggio commented on #4306
@Hombre57 confirmed. Unfortunately, it's not very easy to fix with the current pipeline. It is related to my recent changes, but also to nondeterminism due by parallel processing (with openmp).
This patch mitigates the problem, but it doesn't make it go away completely. Can you still give it a try and see if it is a bit better at least?

[code]

[2018-01-14 21:26] Beep6581 commented on #4305
Confirmed, none of the possible TIFF modes (8/16/32 compressed/uncompressed) contain the GPS tags. I tested using "Copy unchanged" mode.

[2018-01-14 21:48] heckflosse commented on #4306
@agriggio

Can you point me to the non deterministic part?

[2018-01-14 21:53] agriggio commented on #4306
@heckflosse there might be many pixels with the same luminance (`Y`) level, at different coordinates `(x, y)`. So `max_x`  and `max_y` get assigned nondeterministically, depending on whatever thread runs first. At least, that's my interpretation of what's happening... makes sense?

[2018-01-14 21:56] heckflosse commented on #4306
@agriggio

not for me

[2018-01-14 21:58] heckflosse commented on #4306
@agriggio ah, the calaculations based on max_x and max_y inside and outside the parallel region don't match...

[2018-01-14 21:58] agriggio commented on #4306
[code]

Suppose thread 1 has `max_YThr = 100`, `max_xThr = 1`, `max_yThr = 2`, and thread 2 has `max_YThr = 100`, `max_xThr = 50`, `max_yThr = 20`.
Without knowing which of the two threads runs first, can you tell me the values of `max_x` and `max_y`?

[2018-01-14 21:59] mm2 commented on #4302
It is a great idea.
I would encourage you to use lcms2 plug-in architecture to pack all your optimisations in a full-transform plug-in, as described in the  "LCMS plugin api" guide.  In this way you can mix c++ and c,  use processor specific optimisations or whatever you wish. The plug-in can even live in the raw therapee space and it is granted to be backwards compatible for incoming lcms version

[2018-01-14 22:03] heckflosse commented on #4306
No, I can't, but it shouldn't matter when the calculation of const float scale uses the same Luminance calculation as in the loop, which is not the case.

[2018-01-14 22:22] agriggio commented on #4306
@Hombre57 @heckflosse here's a better patch:

[code]

@Hombre57 just to clarify: there will still be fluctuations, this is unavoidable to some extent I'm afraid (too many things change slightly when processing the image at different scales), but they should be much less visible now (I hope :-).

[2018-01-14 22:34] Hombre57 commented on #4300
@Beep6581 `Selected` and `Focused` are different thing. You can ask Gtk to disable focusing, but can't ask to disable the selection of the `FlowBoxChild`, so your first fix was the good one. Patch committed. Works fine here. I didn't tried to click on the label for my previous patch...

[2018-01-15 00:04] Hombre57 commented on #4306
Hi @agriggio & @heckflosse , thanks for the quite reply.

It's better with your patch, but it can still fluctuate from L=88 to L=80 with the same example. We'll keep this enhancement but I'd like to leave this issue opened for some time.

[2018-01-15 00:18] Hombre57 commented on #4306
@agriggio I think the problem is that after rescaling, the location of `(max_y, max_y)` is polluted by the neighbor data of the unscaled image that could be dark.

Could you recompute max_Y before scaling, but on a wider area around the detected coordinate, and take care of the pixels around. E.g., if scale is 1/10, recompute max_Y based on a square of 10x10 px. That shouldn't increase processing

[2018-01-15 05:53] agriggio commented on #4306
@Hombre57 I'm not sure I understand what you have in mind. can you post some code please?

[2018-01-15 06:12] Beep6581 commented on #4298
Feels good.

What do you think about setting the initial (fresh install) state of all tools to collapsed?

[2018-01-15 06:55] Beep6581 commented on #4300
Thanks @Hombre57, looks good now.

[2018-01-15 06:55] #4300 closed, assigned to nobody

[2018-01-15 07:22] agriggio commented on #4306
@Hombre57 just to clarify, fluctuations are expected to happen even if you apply no scaling at all. Fixing this would be much harder. If you try the original fattal in luminance HDR, the output is *very* sensitive to the input image size. I tried to mitigate this as much as possible in RT, but eliminating this completely is beyond my skills (unless we go the brute-force way, of course -- but I don

[2018-01-15 07:24] Hombre57 commented on #4306
@agriggio My solution doesn't work. I'll try something else tonight.

[2018-01-15 09:35] agriggio commented on #4298
Not sure about that. What about collapsing most of the tools, but leave the really basic ones open? E.g. exposure, wb, crop, resize.

[2018-01-15 09:55] Beep6581 commented on #4298
My intention is to:
* Prevent slider-shock,
* Make all tools in the tab visible,
* Not cater to any particular skill level, certainly not the lowest common denominator.

[2018-01-15 10:06] agriggio commented on #4298
Why not? That's what new users are, by definition (regarding their skills in RT, of course). If you're not a new user, the default won't matter anyway, as you already have your `options` file in place with the state of all the tools...

[2018-01-15 10:16] Beep6581 commented on #4298
Ok, good point. Then it makes sense to have the four tools you listed expanded.

[2018-01-15 10:47] mbajor opened #4307 "Build fails for openSUSE Factory PPC and openSUSE Leap 42.1"
RT version : git.20180114.474.g3c50e8ff.
Latest success build: git.20180113.462.g0498048c
Sample logs:
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Factory_PowerPC/ppc/rawtherapee-unstable/_log
https://build.opensuse.org/public/build/home:rawtherapee/openSUSE_Leap_42.1/x86_64/rawtherapee-unstable/_log

[2018-01-15 12:10] Desmis commented on #4290
The last change, with the last merge(s)

I add a slider  with an "auto button" in "Cat02 adaptation", for adjust "green". It has the same functionnality than the one in "Ciecam viewing conditions". I name it "Y tint  (vewing conditions)"

This functionnality does not exist in Ciecam, but with "symetric" mode, proposed by Ele Stone, it is quasi indispensable in some cases, where "rgb green chanel W

[2018-01-15 12:15] agriggio commented on #4298
Ok, I'll do that. Do we also need a new icon for the advanced tab? (I can't help here though)

[2018-01-15 12:29] Beep6581 opened #4308 "Interactive Local Adjustment of Tonal Values"
Interactive Local Adjustment of Tonal Values
by D. Lischinski, Z. Farbman, M. Uyttendaele and R. Szeliski.

Looks very suitable for RT:
https://www.cs.huji.ac.il/~danix/itm/

[2018-01-15 14:10] Beep6581 commented on #4298
I can help with that. Any ideas?

[2018-01-15 14:15] agriggio commented on #4298
how about a comlpex multiband equalizer?

[2018-01-15 14:46] Floessie commented on #4307
@mbajor Marcin, here's a patch:

[code]

HTH,
Flössie

[2018-01-15 14:48] Beep6581 commented on #4298
I was thinking of a little Albert Einstein head, but with only 22 pixels to work with we can have pacman or a simplex monoband equalizer at best ;)

[2018-01-15 14:55] Beep6581 commented on #4298
An abstraction of this could be nice:
https://i.imgur.com/pNbKlli.jpg

[2018-01-15 14:56] agriggio commented on #4298
How about something like this?  https://goo.gl/images/TzMNoe
should fit in 22pix maybe?

[2018-01-15 16:03] mbajor commented on #4307
@Floessie Patch tested. Fix confirmed. Thank you!

[2018-01-15 16:10] Beep6581 commented on #4298
There's also this one:
http://fontawesome.io/icon/sliders/
Those icons tend to be used for "Settings", as in "Preferences".

[2018-01-15 16:55] #4307 closed, assigned to Floessie

[2018-01-15 16:56] Floessie commented on #4307
You're welcome. Thanks for reporting and testing! 👍

[2018-01-15 17:52] heckflosse commented on #4306
With this patch the exposure with and without hdr tonemapping is in the same ballpark. Also thumb, navigator and preview match much better now. Also almost no dependency on zoom level in my tests.
It does not automatically brighten the result as it did before:

two screenshots:

left is just neutral profile, right is neutral profile + 3 EV
![grafik](https://user-images.githubusercontent.com/137334

[2018-01-15 18:49] agriggio commented on #4306
nice!

[2018-01-15 20:11] heckflosse commented on #4306
I would like to discuss removing the following code too (at least if my patch is ok). https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/tmo_fattal02.cc#L652

line 652 to 666 could be removed now imho

[2018-01-15 20:17] agriggio commented on #4306
@heckflosse no objections from me (I take it that you tested it already) :+1:

[2018-01-15 20:23] agriggio commented on #4298
@Beep6581 you're right, I forgot about preferences. Then I'm out of ideas...

[2018-01-15 20:25] heckflosse commented on #4306
@agriggio I did :)

[2018-01-15 20:30] Hombre57 commented on #4306
@heckflosse I guess that you won't believe if I tell that you did what I wanted to do, but I'd have used the [maxval reduction clause from openmp](https://github.com/Beep6581/RawTherapee/blob/656a92cb8e9d65073a6dce0ca9fa67bb03bc4fd1/rtengine/rt_algo.cc#L67).

[2018-01-15 20:32] Hombre57 commented on #4306
Forget my comment...

[2018-01-15 20:32] heckflosse commented on #4306
@Hombre57 ?

[2018-01-15 20:35] Hombre57 commented on #4306
I don't understand why you use `findMinMaxPercentile` if you only need to find the max value of the image, but you wrote that function who uses the maxval reduction clause, so you know better.

[2018-01-15 20:39] Beep6581 commented on #4298
@agriggio odd, now when I open your link I get a completely different image than I got before...
I'll take care of this. Don't wait for the icon if you want to commit, go ahead and I'll commit directly to dev.

[2018-01-15 20:47] heckflosse commented on #4306
@Hombre57 Just for explanation: I used findMinMaxPercentile to find the median of the image

[2018-01-15 20:49] Hombre57 commented on #4306
I can't apply the patch, but your screenshots clearly show that it's much better now. 👍

[2018-01-15 20:53] agriggio commented on #4306
@Hombre57 @heckflosse I confirm that the patch doesn't apply cleanly on `dev`, but this one should do (I also killed the lines mentioned above by @heckflosse):

[code]

[2018-01-15 21:07] agriggio commented on #4298
@Beep6581 I'd like to get further testing from other people before committing -- perhaps I forgot something...

[2018-01-15 21:16] Hombre57 commented on #4306
Works nice @heckflosse 👏
Closing.

[2018-01-15 21:16] #4306 closed, assigned to nobody

[2018-01-15 21:17] heckflosse commented on #4298
@agriggio I will test after the fattal stuff...

[2018-01-15 21:46] heckflosse commented on #4306
Though the issue is already closed, nevertheless let me add some thoughts:

1. Hombre was right with his issue
2. Alberto and I in first step have not been sure that the issue can be solved easily.
3. Sometimes the solution is really easy, once found :)

Conclusion: Always report issues and be persistant that they can be solved. Cheers :)

[2018-01-15 21:53] agriggio commented on #2055
@Beep6581 I can try working on integrating histogram matching, but realistically I'm not sure I can do it before 5.4 (unless you want to delay 5.4 even further...).
Among the options above, I'd go for 2. If you want something more sophisticated, we could bundle profiles with "typical" tone curves for various camera brands (these could be generated by an enhanced version of my histogram matching sc

[2018-01-15 21:59] heckflosse commented on #2055
@agriggio +1 for the histogram matching, but also for doing that for 5.5!

[2018-01-15 23:35] Hombre57 commented on #4298
@agriggio I'll test tomorrow.

[2018-01-16 07:02] Desmis commented on #4298
@agriggio
I'll test today

[2018-01-16 07:35] Desmis commented on #4298
@agriggio

All seems to work well :)
I should prefered, to have the four in "expert", collapsed, to have a better visibility...But if not, no problem

Jacques

[2018-01-16 07:37] agriggio commented on #4298
Thanks all for testing!
Indeed the tools should be collapsed by default. One more thing: what about moving also color toning there? Opinions?

[2018-01-16 07:42] Beep6581 commented on #4298
I have opinions :)
I think CT sits very snugly in the Color tab.

[2018-01-16 07:44] agriggio commented on #4298
good, less work to do :wink:

[2018-01-16 07:47] Beep6581 commented on #2055
@agriggio as @heckflosse wrote - would be cool at some point to have this, but not necessarily for 5.4.
If RT will have this feature in the future (even if it won't but especially if it will), then no point spending time on making median-average curves - we can't realistically do that for more than a few camera models anyway, I assume models from the same maker are not consistent so we would need

[2018-01-16 07:50] Desmis commented on #4298
Same questions for Black and White, in "expert" or not ?

[2018-01-16 07:52] agriggio commented on #2055
I was thinking about generic camera *brands*, not individual models. And it wouldn't even need to be accurate, just in the ballpark. We could even use fake names to make this clear (say, "Nikonian", "Canonical", "Sonyc"... :stuck_out_tongue_winking_eye: ) I'm partially kidding, but I thought it could be feasible. Anyway, not a big deal, as I wrote option 2 would still be better than the current de

[2018-01-16 07:58] Beep6581 commented on #4298
I... have to take the dog for a walk ;)

[2018-01-16 08:07] Floessie commented on #4298
Okay, I gave it a quick look, and yes, I like it. Not so much scrolling and searching anymore. Some remarks, though:

- Having a simple tool like the channel mixer in "Advanced" doesn't make much sense to me. Why not color toning or edges, too?
- While we are at reordering tools, why not move the very important color management up right below WB?
- I always look for defringe in the "Color" tab, th

[2018-01-16 08:12] Desmis commented on #4298
I agree, for "Color management" near White Balance :)

[2018-01-16 08:15] Beep6581 commented on #2055
I'm guessing here, but I don't think it's likely that my 12 year old Pentax K10D's curve would look like a Pentax K-1's curve, ditto for other brands. I looked at all of your histogram-matched PP3s from the forum and they weren't that different from each other, so I think given that we're already accepting variation between the OOC-JPEG and the suggested brand-median result, we can cut a lot of wo

[2018-01-16 10:40] agriggio commented on #4298
I don't see how channel mixer is simple, sorry... maybe I'm too simple :-)

[2018-01-16 11:02] casta commented on #4306
Nice !!
With last changes, it makes wonders. :clap:
Big thank’s !!

[2018-01-16 11:16] Floessie commented on #4298
And I don't see how it's advanced. As @Hombre57 proposed above, it's more an "effect", a tweaking tool, and often gives a nice result when used with small numbers. I use it for fun to give an image a final color touch (more sunset-like, less greenish, colder...). There are surely more sophisticated tools to that, but tweaking with the channel mixer feels easier for me.

[2018-01-16 11:40] Desmis commented on #4298
The problem is always the same. it is easy if we don'used it, or summary.
It's difficult if we don't understand the goal. Deap lurning of "channel mixer" is complex, more if you research special effects.

For having designed it, the Channel Mixer module of Black and White is much more complex

[2018-01-16 14:07] agriggio commented on #2055
let's go with the simple solution

[2018-01-16 15:11] heckflosse opened #4309 "HDR Tone Mapping sometimes not applied in preview"
To reproduce:

Open amsterdam.pef
Apply neutral profile + HDR Tone Mapping. Works fine
Close amsterdam.pef
Open amsterdam.pef. Still fine
press the auto levels button =>Now the HDR Tone Mapping is not applied as you can verify by
disabling HDR Tone Mapping => Preview does not change
enabling HDR Tone Mapping => Now HDR Tone Mapping is applied

@agriggio Any idea?

[2018-01-16 15:17] agriggio commented on #4309
no idea sorry. I'd take a look at dcrop.cc though, there are checks to see if fattal needs to be recomputed, maybe some corner cases are not handled properly...

[2018-01-16 15:47] heckflosse commented on #4309
@agriggio Thanks for the hint. This should fix it:

[code]

[2018-01-16 16:29] #4309 closed, assigned to nobody

[2018-01-16 17:59] Hombre57 commented on #4298
I think we should rather think of "advanced" by reference to the tool's GUI, i.e. monolithic tools with folders and subfolders. So I wouldn't put Channel Mixer in advanced tab, it's [not more/as] complex to get a predictable result from it than from e.g. RGB curves.

I have no opinion about WB's tool, it could be part of both tab.

And for ICM, I'd even put it on first place in Color tab.

[2018-01-16 18:24] heckflosse commented on #4293
Any objections to push this?

[2018-01-16 18:28] heckflosse commented on #4269
For information: with https://github.com/Beep6581/RawTherapee/commit/24a762c2c23541f581f05e20e0f16b7220d3cddd the processing time is < 3000 ms

[2018-01-16 18:28] #4259 closed, assigned to heckflosse

[2018-01-16 19:07] Floessie commented on #4293
No. Especially as I'm a Canon owner. 😉

[2018-01-16 19:38] #4293 closed, assigned to heckflosse

[2018-01-16 19:43] heckflosse commented on #4249
@Floessie This patch removes the shitty stuff

[code]

[2018-01-16 19:50] Floessie commented on #4249
@heckflosse What a relief! 😂 👍

[2018-01-16 20:13] pi99y opened #4310 "Color artifacts using wide-gamut profiles"
Version: rawtherapee-unstable/xenial,now 1:5.3-git20180115-732~ubuntu16.04.1 amd64

When converting TIFF image to JPG the (blown) highlights get colored in an unpleasant way.
Highlights look normal while editing in RT.
(see screenshot below)

I just noticed this with the latest update and not before (but I might have missed it)...

![highlights](https://user-images.githubusercontent.com/10639257/3

[2018-01-16 21:34] #4249 closed, assigned to Floessie, heckflosse

[2018-01-16 21:58] johndelarcalas opened #4311 "Canon CR2 raw file gets cut and disarranged"
Hi! First post. So I just started using RawTherapee on the GUI and not sure if posting it here is proper.

So this is the image before I open it.
![initial image](https://user-images.githubusercontent.com/25147512/35014292-788b17fe-fb29-11e7-84c5-9014fee0cff0.jpg)

Once I open it, it shows me this without me editing the picture.
![distorted image](https://user-images.githubusercontent.com/25147512

[2018-01-16 22:13] heckflosse commented on #4311
Looks similar to this one:

![grafik](https://user-images.githubusercontent.com/13733487/35014940-c1bb054a-fb12-11e7-8f9e-adeb034afbd8.png)

Related: https://github.com/Beep6581/RawTherapee/issues/3533

[2018-01-16 22:47] Beep6581 commented on #4311
Closing as duplicate of #3533

@johndelarcalas RawTherapee will most likely not support this raw file format until our raw reading dependency "dcraw" does. Your short-term solution is to shoot raw, not mRaw, or to convert to DNG.

[2018-01-17 13:57] heckflosse commented on #4224
This fixes the issue when zooming in:

[code]

[2018-01-17 15:49] heckflosse commented on #4224
@Hombre57

The first detail window opens always blocky here while the following ones open always fine.
Maybe a hint to find the culprit: With the following patch all detail windows open blocky.

[code]

[2018-01-17 20:03] johndelarcalas commented on #4311
@heckflosse Yeah, exactly the same concern. I was trying to figure out by touching some settings and swimming the net for a solution. Man, I must not be good at researching.

@Beep6581 Okay. I will try to find mRaw settings on my Canon 80D and hopefully it doesn't reduce the quality of the images I take. Thank you!

[2018-01-17 20:07] heckflosse commented on #4311
@johndelarcalas

@Beep6581 meant, you are currently using mRaw. Better not to use it

[2018-01-17 20:29] johndelarcalas commented on #4311
@heckflosse @Beep6581 So I checked my images and was shocked why my images were captured as mRAW when my capture setting was on RAW. I checked the image size and resolution and it was captured at 4500x3000. I guess I'll research on that. Thank you. Closing this issue now.

[2018-01-17 20:29] #4311 closed, assigned to nobody

[2018-01-17 21:29] agriggio commented on #4310
hi @pi99y,
I cannot reproduce here. Can you post the details of your RT version (in preferences -> about -> version) please?

[2018-01-18 07:50] Beep6581 commented on #4310
Cannot reproduce.
Have you made sure your color management settings are identical in both programs, including monitor profile and rendering intent? Any reason in particular you're using the AdobeRGB colorspace on an 8-bit image?

[2018-01-18 07:53] Beep6581 commented on #2899
Another example, when you open the TIFF+PP3 supplied in #4310, the output profile is set to "No ICM; sRGB Output". RawTherapee gives me no hint that the PP3 actually is supposed to use `OutputProfile=AdobeRGB1998`, and that the `AdobeRGB1998.icc` file cannot be found.

[2018-01-18 08:17] Desmis commented on #4290
I push a change. Now default values for "local WB" are those of General WB : temperature, tint (green) and equalizer
The values for "Cat02 adaptation level and Ytint" for "local WB", which are calculated with "local" value, are obviously the same (by default) are "Cat02 adaptation level and Ytint" for "general WB"

If you want to change an local area, you can unchecked, in fisrt;
a) temperature
b)

[2018-01-18 16:03] heckflosse opened #4313 "Crash opening dng file from hdrmerge"
Opening [this file](https://filebin.net/jmyleu75pz1m3zal/D700_20111013_8870-8872.dng) crashes RT.

Fixed with this patch:

[code]

[2018-01-18 16:05] okoncevoy commented on #4198
Can I create merge request on this?

[2018-01-18 17:17] pi99y commented on #4310
Hi, thanks for the response guys...

@agriggio I'd love to report more details about the version but as reported in issue #3513 I (still) cannot. (Info not present)
Since I've updated to "rawtherapee-unstable/xenial,now 1:5.3-git20180117-737~ubuntu16.04.1 amd64 [installed]" (info from apt) and the problem persists.

@Beep6581
Both programs are set to use system's monitor profile and rendering is s

[2018-01-18 17:29] pi99y commented on #4310
To confirm nothing is wrong with my "setup" I processed the TIFF/pp3 combo in an old version I compiled myself awhile ago, and there is no problem there (cant reproduce).
.
The old, working version is (just in case):
[code]
So I think it's really the new version's problem.
As noted I get new versions from "ppa:dhor/myway".

What else can I do to make finding the bug easier?
Thanks!

[2018-01-18 18:34] agriggio commented on #4198
@lvreclp yes, and thanks!

[2018-01-18 18:53] #4313 closed, assigned to heckflosse

[2018-01-18 23:18] agriggio commented on #4290
Hi @Desmis,
I tried CAT02 adaptation a couple of days ago (before your latest changes) and it worked well. It gives a subtle but visible effect. Just to clarify though:
- this is supposed to produce more "accurate" colors, right?
- how does it relate to the CAT02 adaptation slider in CIECAM02? Is this supposed to replace the other one? Or are they working together? If so, how?

Thanks!

[2018-01-19 07:15] Desmis commented on #4290
@agriggio

Thank you for testing :)

To your questions:
1)this is supposed to produce more "accurate" colors, right?
Yes of course,  but not only. I think RT (and perhaps others software which I don't know the code), forgot after the WB  to do this quasi indispensable "adaptation" (as are done naturely by ours eyes and brain).

2) Yes and no:
See the works and modifications to Ciecam02 some mounth

[2018-01-19 07:49] Desmis commented on #4290
3 complements
1) in symetric mode, with settings above, "CAT02 adaptation scene" and "Cat02 adaptation viewing" are at 100. If you change one , you must change the 2 with same values

2) the algo used in "CAT 02 WB" is quasi the same as in Locallab "Warm cool", with a difference, It is the user in locallab which choice (whithout knowing he is doing that) the temperature  "viewing conditions"

3) t

[2018-01-19 08:10] Desmis commented on #4290
An other complement
1) if you enabled "Ciecam02", "Cat02 WB" and "Cat02 Local WB" are disabled. It supposed that user know what it does :)

[2018-01-19 09:22] Beep6581 commented on #4290
Just a thought in light of recent changes, maybe these CAT02 sliders would better belong in the CIECAM02 tool in the Expert tab, in a new "White balance" sub-frame at the top of the CIECAM02 tool?
![ciecam02_wb](https://user-images.githubusercontent.com/5844619/35143717-a83f499a-fd02-11e7-9ad6-db7844a9d186.png)

[2018-01-19 09:46] Desmis commented on #4290
@agriggio

I don't think so :)

For me, CAT02 WB must be always enabled...at least in 95% cases. It is not an expert mode...
Perhaps I must refine some algo in RW mode, but it is not crucial!

However, working with Ciecam in "normal" or "symetric" mode is expert mode.
Perhaps is it necessary to modify "Ciecam expert module" to include a choice "normal" or "symetric"

Jacques

[2018-01-19 09:47] agriggio commented on #4290
@Desmis Jacques, fair enough, but this was DrSlony's (AKA @Beep6581) proposal, not mine :-)

[2018-01-19 09:54] Desmis commented on #4290
@Beep6581 @agriggio
Oh sorry :)

[2018-01-19 10:03] agriggio commented on #4290
No problem. Anyway, I'm :+1: for the CAT02 integration (I didn't read the code though), but I would prefer to wait for the pipeline refactoring for integrating the other changes (for the reasons I exlpained in my first comment).
What do the others think? Ping @heckflosse @Hombre57 @Floessie

[2018-01-19 11:43] Beep6581 commented on #4290
I have two arguments for suggesting the above:

1. > if you enabled "Ciecam02", "Cat02 WB" and "Cat02 Local WB" are disabled. It supposed that user know what it does :)

    This is one of those funny tool conflicts RT has. Another example is how parts of the EPD Tone Mapping tool become disabled when using a completely different tool (this might be in the `newwavelet` branch). Such interaction is

[2018-01-19 11:59] Desmis commented on #4290
@Beep6581

All is in all :)   eg Lab is in Lab, but also Lab is in Raw, in Retinex, Denoise...

If you put "Cat02 wb" in Ciecam, by default Cat02 will be desabled....for me this means that almost no one will use this feature

And if you enabled "Cat02 Wb", it will be necessary to disable all others Ciecam fonctionnality

Sure we can, by defaut have Ciecam enabled with "Cat02 WB enabled", and disab

[2018-01-19 12:09] Beep6581 commented on #4290
Yes, but that is not what I meant. Enabling Noise Reduction does not disable L\*a\*b\* Adjustments, but enabling White Balance CAT02 will disable CIECAM02... if I understood the explanation correctly. And CIECAM02 includes CAT02, which is 'same same but different'... confusing?

Please correct me if I'm wrong, but this is already the situation in the `autowblocal` branch, is it not? So if that is

[2018-01-19 12:14] Desmis commented on #4290
For me, I think realy it s not a good solution to put "Cat02 Wb" in Ciecam...

More, when you want to adjust, after changing WB, you must go to Ciecam

More, in RT "conflicts", when you enable Ciecam, you change EPD and some others tools. Are users knowing that ? Sure they will see the result...

[2018-01-19 12:39] agriggio commented on #4290
Hi,

my two cents. First, I find these two statements a bit contradictory:

If we assume that users should know what they are using -- *and I agree that this is ok* --  then why do we need to disable the tools explicitly? The users will see that having both "CAT02 in WB" and "CAT02 in CIECAM02" leads to weird results, and since they know what they are doing, they will react accordingly (that is, t

[2018-01-19 13:07] agriggio commented on #4298
So, what is the consensus here? Put the channel mixer back to the color tab, and move the color management tool right after WB?

For the icon, how about something like these?
![atom](https://user-images.githubusercontent.com/11982086/35152282-16918470-fd22-11e7-9ee2-b1516751b49e.png)
![flasks-couple-of-different-shapes-with-liquids-inside](https://user-images.githubusercontent.com/11982086/3515228

[2018-01-19 13:31] heckflosse commented on #4290
I tested the new wb methods a bit.

1) in my tests the auto edge method gives better results than the old auto method 👍

2) even auto edge can still go crazy, for example on http://www.rawtherapee.com/shared/test_images/tracteur.dng

[2018-01-19 13:45] agriggio commented on #4290
Unfortunately, in the majority of my tests auto edge produces a *very visible* green cast, like in the example you linked :-(

[2018-01-19 13:51] Desmis commented on #4290
@agriggio
All is possible, for "automatic Cat", "yes", but also "no"...
In actual White Balance you have "auto-wb" and after multi correction possible :)

I can also, I think easy to do, when Ciecam is enabled, the 2 sliders "Cat02 adaptation level = 0" and Ytint =1.

@heckflosse
Thanks for testing :)
Actually the result with "tracteur.dng" is curious. I recall that an automatic WB  is an indeterm

[2018-01-19 13:54] Desmis commented on #4290
@agriggio
See also, the first reaction of DrSlony 9 days ago

[2018-01-19 14:15] agriggio commented on #4290
Ah, ok. "Ubi maior, minor cessat". Understood...

[2018-01-19 14:20] Desmis commented on #4290
All this to say that "Cat02 WB" is only one of all possible combinations in RT: emplacement, auto / manual

It is the same discussion than the other issue #4298 , and it is not easy to found the "good" compromize :)

[2018-01-19 14:22] Desmis commented on #4290
it would be nice if we spoke in an old language (Latin), instead of English (I don't speak Latin) :)

[2018-01-19 14:59] Desmis commented on #4290
I push a little change
When Ciecam is enabled :
a) cat02 = 0, Ytint=1
b) a label is display : Ciecam enabled

When Ciecam disabled
a) cat02  and Ytint = calculated values
b) a label is display : Ciecam disabled

:)

[2018-01-19 15:03] heckflosse commented on #4290
I still remember the first latin sentence I learned: `Lucius est rusticus.`

[2018-01-19 16:54] Desmis commented on #4298
For me !
* only Retinex, Wavelet, Cieacm in expert
* move color management near WB
* first or third icon
Jacques

[2018-01-19 19:04] Beep6581 commented on #4298
@agriggio I like the atom icon best _at that resolution_, but it does not look like an atom at 24px wide (the icon is 24px wide, the image inside it is ~20px wide).
The licence could be a problem. I saw no mention of CC on that site, I did find this:
https://file000.flaticon.com/downloads/license/license.pdf

Here's a WIP of https://github.com/Beep6581/RawTherapee/issues/4298#issuecomment-35770502

[2018-01-19 19:11] agriggio commented on #4298
I also like the atom. I think there are many around the Web, some of which CC0. those are cc-by, as the text below them says (I cut & pasted following the instructions when I downloaded them)

[2018-01-19 20:30] TooWaBoo commented on #4148
New update
[code]

[2018-01-20 07:53] Desmis commented on #4290
I make a change in "preparation" Raw files for "Cat02 WB". I take into account "gain"

[2018-01-20 16:43] Beep6581 commented on #4298
I finished making three possible icons, please choose:
![equalizer-wide](https://user-images.githubusercontent.com/5844619/35185743-438191c2-fe09-11e7-9d77-a43db2579c55.png)
![equalizer-narrow](https://user-images.githubusercontent.com/5844619/35185744-43a4aee6-fe09-11e7-969a-bce2843be891.png)
![atom](https://user-images.githubusercontent.com/5844619/35185745-43c4bd94-fe09-11e7-8994-00d084ba2516.p

[2018-01-20 16:45] Desmis commented on #4298
for me the N°3 "atom"

[2018-01-20 17:11] heckflosse commented on #4298
👍 for atom

[2018-01-20 17:36] agriggio commented on #4298
both the 2nd equaliser and the atom look great to me!

[2018-01-20 17:56] Beep6581 commented on #4298
I'll commit all since they can be used in the future, and leave it to you to choose which one to use for the Expert (or Advanced?) tab.
I'm most fond of the atom as well.

[2018-01-20 18:07] agriggio commented on #4298
@Beep6581 great, as soon as you put the icons in I'll merge then.

[2018-01-20 21:43] Beep6581 commented on #4298
@agriggio ok, I'll upload them in the proper places tomorrow!

[2018-01-20 23:25] #4198 closed, assigned to nobody

[2018-01-21 10:41] Floessie commented on #4058
The switch isn't localized and looks alien in the UI, IMHO. Functionality is fine, though.

[2018-01-21 11:17] Beep6581 commented on #4058
@Floessie the switch is localized. #4278 was supposed to make the switch use the same language as RT is set to use.

[2018-01-21 11:25] Kildor commented on #4058
The current behavior and UI is much worse than the previous one. I'm looking to the RawTherapee_dev_5.3-485-g8622efce_WinVista_64
At least it has currently mixed icons play and pause. Now there is red pause icon when queue is active and green play when there are some images in queue but it is stop. RT 5.3-228 has correct icons. Was the changing intended?

PS: I agree with Floessie about alien look

[2018-01-21 13:48] Benitoite commented on #4310
Do you have this file?
/usr/share/doc/rawtherapee/AboutThisBuild.txt

fyi @salvadhor I'm looking at the [buildlog](https://launchpadlibrarian.net/353844914/buildlog_ubuntu-artful-amd64.rawtherapee-unstable_1%3A5.3-git20180117-737~ubuntu17.10.1_BUILDING.txt.gz), notice the useful info is stripped by the recipe.
[code]

With the info it might be possible to notice a bug by rolling back to a previous

[2018-01-21 15:51] Beep6581 commented on #4058
Can you show a screenshot? There are no red or green icons. This is what it looks like, and it's very clear whether queue processing is on or off: https://filebin.net/s1m05js425qrrp12/rt_queue_switch.mp4

[2018-01-21 15:57] Beep6581 commented on #4310
@pi99y can you reproduce this on any other images?
Please upload your `options` file.

[2018-01-21 16:30] Kildor commented on #4058
Sure.

I've added an image to queue. Look to the green overlay over gears icon at queue tab.
![rt-pause](https://user-images.githubusercontent.com/1320579/35196214-c3b7357e-ff01-11e7-9034-74100979ad56.png)

When I start a queue the overlay is changed to red one.
![rt-play](https://user-images.githubusercontent.com/1320579/35196213-c38ff928-ff01-11e7-9141-703f4f9d3fec.png)

In previous version over

[2018-01-21 17:26] FM33 opened #4315 "[5.3-713-g6cdbba2, newlocallab, Linux64] Crashes"
Hello,

I encounter crashes, specially when clicking on add to queue. It seems random.

Version: 5.3-713-g6cdbba2
Branch: newlocallab
Commit: 6cdbba2
Commit date: 2018-01-21
Compiler: cc 5.3.1
Processor: x86_64
System: Linux (Ubuntu 16.04), 8GB RAM, video intel
Bit depth: 64 bits
Gtkmm: V3.18.0
Lensfun: V0.2.8.0
Build type: debug
Build flags: -std=c++11 -Wno-deprecated-declarations -Wno-unused-res

[2018-01-21 17:33] heckflosse commented on #4315
I take this one

[2018-01-21 17:38] heckflosse commented on #4315
@FM33 Can you upload a file and the correspondig pp3 file to filebin.net and post the link here?

[2018-01-21 18:07] pi99y commented on #4310
@Benitoite Sure, but like I said, the version and branch is absent...

AboutThisBuild.txt (from "/usr/share/rawtherapee/", another dir exists "/usr/share/doc/rawtherapee-unstable/" but does not include this file)

[code]

@Beep6581 Yes, I can reproduce other images with this. Will upload shortly.
Which is the "options" file?

[2018-01-21 18:15] Beep6581 commented on #4298
Done.

[2018-01-21 18:16] Beep6581 commented on #4310
@pi99y http://rawpedia.rawtherapee.com/File_Paths#Config
Most likely in `~/.config/RawTherapee5-dev/options`

[2018-01-21 18:20] pi99y commented on #4310
Thanks @Beep6581

Two **more files exhibiting same problem** (see JPG, original TIFF+pp3 included) (37MB)
https://filebin.net/o2zf1ra4qax54991/highlights_problem.zip

**Options file:**
https://filebin.net/a9rzqvajvj0eznwu/options

Thank you guys for looking into this!

[2018-01-21 18:46] FM33 commented on #4315
https://filebin.net/ixckb7t6ee8ac8ee

[2018-01-21 20:25] agriggio commented on #4298
merged

[2018-01-21 21:28] pi99y commented on #4310
P.S. I tried, same happens if the input TIFF is 16bit. (Above examples are on 8bit TIFF).

[2018-01-21 21:46] goblin commented on #3626
OK, it's been a while, but I still have those types of problems ;-)

On RawTherapee 5.3, the default "Camera standard" color now looks even worse. The "No proflie" setting on Input Profile is still the best in terms of smoothness (but of course not so good when it comes to color reproduction)

Unfortunately I don't know exactly what you mean in your last comment, Benitoite. Are you saying I should

[2018-01-22 00:22] Beep6581 opened #4316 "Queue On/Off switch incorrectly colors in TooWa* themes"
The On/Off switch in the Queue is incorrectly colored when using the TooWa* themes. It should look like this (though not necessarily blue):
https://filebin.net/s1m05js425qrrp12/rt_queue_switch.mp4

Using TooWaGray for example, it currently looks like this:
![screenshot_20180122_011921](https://user-images.githubusercontent.com/5844619/35200661-9e5bb10e-ff12-11e7-891b-6fba57742eb9.png)

@TooWaBoo c

[2018-01-22 00:22] Beep6581 commented on #4058
@Kildor opened issue #4316

[2018-01-22 00:31] Beep6581 commented on #3198
Still valid.

[2018-01-22 00:40] Beep6581 commented on #3794
Still valid.

[2018-01-22 00:41] Beep6581 commented on #3552
@Partha1b @Benitoite can we close this?

[2018-01-22 00:41] Beep6581 commented on #3552
Issue was resolved, closing.

[2018-01-22 00:41] #3552 closed

[2018-01-22 00:43] Beep6581 commented on #3289
@da-phil can you still reproduce this?

[2018-01-22 00:45] Beep6581 commented on #3174
Still valid.

[2018-01-22 00:52] #1430 closed

[2018-01-22 01:31] Beep6581 opened #4317 "Histogram matching - last curve node not at 1;1"
Using this image, the last curve is placed at `0.9882352941176471;0.99215686274509807;`
Should it not have been at `1;1`?
https://filebin.net/tspe3u2khk6tc5v3/DSC05316.ARW

[2018-01-22 01:33] heckflosse commented on #4317
@Beep6581 Maybe my patch didn't cover this case. Looking....

[2018-01-22 01:37] heckflosse commented on #4317
@Beep6581 You're right. I will take a look tomorrow.

[2018-01-22 02:18] Beep6581 commented on #595
Works fine now.

[2018-01-22 02:18] #595 closed

[2018-01-22 02:19] Beep6581 commented on #4224
The patch fixes the zoom levels, but the first detail window starts out blocky and stays that way unless the user triggers a redraw event.

[2018-01-22 02:36] Beep6581 opened #4318 "Unused wavelet parameters in options file"
The `options` file contains several keys specific to the Wavelet tool in the "General" section:
[code]
The last two are not used at all.

Looks like something used for testing which went unnoticed in the previous release. @Desmis could you take a look? Any need to keep them in the General section, or at all, for 5.4?

[2018-01-22 02:53] Beep6581 commented on #4310
@pi99y please try the following in this order using `201712XX-201801XX agfa-vista400 10_cleaned.tif`:
1. Open that TIFF in the Editor tab, ctrl+s, save to JPG and tick "Save processing parameters with image", then upload that PP3.
2. Turn off CIECAM02 and save to JPG (no need to upload the PP3 nor the image). Does the problem persist?
3. Disable the RGB curves, save, does the problem persist?
4. E

[2018-01-22 07:13] pi99y commented on #4310
1.)
https://filebin.net/kpd4aqpibir76y3a/201712XX-201801XX_agfa-vista400_10_cleaned.jpg
https://filebin.net/kpd4aqpibir76y3a/201712XX-201801XX_agfa-vista400_10_cleaned.jpg.out.pp3

2.) Aha!
Turning off CIE color appearance Model 2002 **removes the problem!**

3.) CIECAM2 & RGB curves disabled = **also no problem**

4.) Yes, the problem is back.

5.) I will do this step at later time today or tomor

[2018-01-22 08:14] agriggio commented on #4317
@Beep6581 here's a patch. Please test also on other images though...

**EDIT:** here's a better patch, that fixes also another corner case that I found (on an image I can't share, unfortunately)

[code]

I've tested this on several pictures, unless there are objections I'll commit later today

[2018-01-22 09:07] Desmis commented on #4318
@Beep6581

Done, just commit and push :)

[2018-01-22 09:19] Desmis commented on #4290
I just merge with dev, now whe have also "auto-matched Tone Curve" and "advanced tool"

Just to show the "quality" of Cat02 adaptation at this place

* Open an image with a "target" as "Colorchecker", you have used for D50.

* Move white balance for example to 7000K

* if Cat02 is desabled the image become red-yellow, and the white and neutral grey are orange

* if cat02 is enabled, the image look

[2018-01-22 09:48] Beep6581 commented on #4310
Just co be clear, at step 4 you **closed RT, deleted the options file**, ran RT, opened the TIFF with the same PP3 (**CIECAM02 enabled**), saved to JPG and there were yellow patches? I ask because I noticed that your CIECAM02 settings were different in the options file, still despite using your settings I could not reproduce the problem.

[2018-01-22 10:11] Beep6581 commented on #4317
Quick test on 6 shots, works well.

[2018-01-22 10:11] Beep6581 commented on #4318
Thank you @Desmis
Do we want to keep the remaining 3 keys in the General section, or at all?

[2018-01-22 10:15] Desmis commented on #4318
I think they are well placed here :)

[2018-01-22 10:16] agriggio commented on #2055
Now that we have histogram matching, how about this for a default pp3?

[code]

[2018-01-22 10:18] Floessie commented on #4224
I've been trying to nail this down, but haven't found the culprit yet. There seems to be a race somewhere in `CropHandler::setDetailedCrop()` where in the inner async `func` `ch->cropimg` is NULL, so that `ch->cropPixbuf` isn't created, leading to a rough image in `CropWindow::expose()`. I don't really grok what's depending on the `cimg` mutex, but the problem lies somewhere there...

HTH,
Flössie

[2018-01-22 10:22] agriggio commented on #4290
@Desmis Jacques, do you think you could isolate the CAT02 part from the rest? I think this could go in 5.4, but for the rest we should wait... what do the others think? Ping @heckflosse @Beep6581 @Floessie @Hombre57

[2018-01-22 10:27] Beep6581 commented on #2055
@agriggio I was thinking of something very similar. I'm not sure what to do with the DCP look table - I think it should be enabled by default since we're using a tone curve in FIlm-Like mode by default. @atorger what do you think?

[2018-01-22 10:39] Desmis commented on #4290
@agriggio

All is always faisable...even much work :)

For the record, this branch has been open for more than a year. It's easy to say today that such a tool works well and others do not work as well

At first (more than one year ago) I thought it was possible to:
1) use "localrgb" as locallab, by 2 requests that were made to me - local WB and local Exposure. It turned out that shape detection wo

[2018-01-22 10:45] agriggio commented on #4290
Jacques:

Absolutely! That's why I hope the others will express their opinions too. My opinion is that CAT02 seems nice and useful, and I'd like to have this for 5.4, *if feasible*. But the rest should wait until we have a clearer picture of how we will refactor the new pipeline and how locallab is going to be integrated.

*I'm not asking you to do anything now*, sorry if this was unclear :-)

[2018-01-22 14:13] agriggio commented on #3794
If we want a hotfix, we can simply reject images that have too unbalanced aspect ratios. It's not a proper solution but it's better than crashing I'd say. In that case, something like this should do:

[code]

[2018-01-22 14:20] Floessie commented on #2055
Apart from the DCP look table, what about re-enabling HLR via default profile? While it was almost always active in the past due to #4249, nowadays it's always disabled.

[2018-01-22 14:44] Beep6581 commented on #3794
Yes please.

[2018-01-22 14:58] Floessie commented on #4224
@Hombre57 I'm stuck, but `CropHandler::setDetailedCrop()` is the problem:

[code]

Here's the corresponding patch:

[code]

It can be easily provoked by switching between a RAW and a JPG via F3/F4: The JPG is faster and results in a coarse image in the main window.

HTH,
Flössie

[2018-01-22 15:24] pi99y commented on #4310
@Beep6581
On previous attempt I, with the RT running:

- first deleted the options file,
- disabled both options (CIECAM & RGB Curves)
- then closed & relaunched the app and
- re-enabled both options (CIECAM & RGB Curves)
- saved to JPG.
**= had the problem**

---

Now, I with the RT closed I redid the test like this:
- deleted the options file
- ran RT
- disabled both options (CIE & RGBc)
- close

[2018-01-22 16:39] TooWaBoo commented on #4316
@Beep6581
Your link doesn't work.
I did this on purpose. The slider is blue as long as you can switch it on or off. It becomes gray when you can't switch it. The red background stays red (active) as long as the queue is running and it's switched on.

[2018-01-22 16:46] agriggio commented on #4316
@TooWaBoo I agree with @Beep6581 that red is a bad choice here: it reminds me of a red semaphore, the opposite of something running...

[2018-01-22 16:46] heckflosse commented on #4315
@FM33 I could not reproduce using latest `dev` and latest `newlocallab` in release and debug build

[2018-01-22 16:46] TooWaBoo commented on #4316
Link works.
The behaviour on Windows is different to Linux. If the queue is empty the switch is totally grayed out and you can't switch it on like in your video.

Example how GTK acts on Windows with the RT theme
Empty queue
![grafik](https://user-images.githubusercontent.com/13800920/35232753-922dc7ca-ff9c-11e7-8359-a4bd74ec144c.png)
2 images in queue / OFF
![grafik](https://user-images.githubuse

[2018-01-22 16:55] TooWaBoo commented on #4316
@agriggio
Which color do you prefere?

[2018-01-22 16:59] Desmis commented on #4290
I will realize from "dev" and not from "autowblocal", a new branch with only "Cat02".
A lot of work in perspective :)

[2018-01-22 17:00] gaaned92 commented on #4316
perhaps green=ON and red =OFF should be better but I don't mind. and grey =disabled when nothing in queue.

If you click like a fool on the button, it makes RT crash.

[2018-01-22 17:00] agriggio commented on #4316
@TooWaBoo why do you need to change the background? I'd say leave it to blue

[2018-01-22 17:01] Kildor commented on #4316
Red as on is very bad idea. I tried to understood for about 20 minutes why RT doesn't finish processing files in queue. It was just switched off.

Red as off is also not a good idea. May be gray if off and blue if on?

[2018-01-22 17:01] agriggio commented on #4290
@Desmis please don't do anything just because I asked! Let's wait for the others first. And then, I am willing to help with this.

[2018-01-22 17:03] Kildor commented on #4058
@Beep6581 but what's about wrong overlay? Should I open a new issue?
They are correct on your screencast, but not on my screenshots.

[2018-01-22 17:05] TooWaBoo commented on #4316
@Kildor
I don't get it. Why did you wait 20 minutes? Doesn't the switch indicate the right state?

[2018-01-22 17:09] pi99y commented on #4310
@Beep6581

5.) **= no problem**
I did the automatic build, everything went fine.
Started the RT (the recently built one) and disabled & re-enabled both options (CIECAM is now in  different place). Saved to JPG. All is good.

So to me it looks like this is the problem with how the version in the official repository was built (that one also does not include the version details).

AboutThisBuild.txt

[2018-01-22 17:17] pi99y commented on #4310
SEE NEXT COMMENT
---
After I compiled my own version, which meant updating dependencies (I had them installed from the past but they were outdated), even the **repository** version **does not produce the problem any more** even with CIECAM on.

So are those "build" dependencies somehow still used when one installs from the repository? It looks so.

[2018-01-22 17:18] Kildor commented on #4316
@TooWaBoo Red button with 'I' doesn't seems to be the "right state" for me. Especially when status overlay at tab icon is also wrong.
To be honest, I do not understand the logic of this widget at all. Why must I move the button left to run? why does it change color? What the hell, why it is animated??77SEVENSEVEN
I could understand that this is something came from mobile, but my WP-phone has no su

[2018-01-22 17:25] Desmis commented on #4290
I have begin, not because you asked :)

[2018-01-22 17:28] pi99y commented on #4310
**UPDATE**

I now re-configured (since I guess deleting options file reset that) the "repository version" of RT to **output the JPG in AdobeRGB and the problem is back!**
And... the same problem happens with the self-compiled RT (when the output set accordingly).

**So the problem is in combination (of CIECAM) with AdobeRGB output.**

[2018-01-22 17:34] agriggio commented on #4290
ok great! just a word of warning:

you know this can be all wasted work right? nobody except me has expressed an opinion, and my opinion is the least important one (given I was the last to join...). I just wanted to make this clear, and sorry if it was obvious :-)

[2018-01-22 17:39] Floessie commented on #4058
@Beep6581

Yes, I saw it and thought: "Maybe it's not yet part of `histogram-matching`." Now I've updated `dev` and still it shows up in my system language and not "English (US)", that I've set. Strange...

[2018-01-22 17:41] Desmis commented on #4290
It is clear for me :)

jacques

[2018-01-22 17:46] TooWaBoo commented on #4316
@All
Please test this:
[TooWaBlue-Test-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/1652980/TooWaBlue-Test-GTK3-20_.css.txt)
... and this
[TooWaBlue-Test2-GTK3-20_.css.txt](https://github.com/Beep6581/RawTherapee/files/1653128/TooWaBlue-Test2-GTK3-20_.css.txt)

[2018-01-22 18:02] Benitoite commented on #4310
By repository version do you mean the Ubuntu unstable repository, or your build from the official Github repository?

[2018-01-22 18:05] pi99y commented on #4310
@Benitoite  Yeah sorry, I meant the Ubuntu repository ppa:dhor/myway

And just in case ... I use this AdobeRGB profile file: https://filebin.net/jj3u2sfrzokrdq09/AdobeRGB1998.icc

[2018-01-22 18:21] Beep6581 commented on #4058
@Kildor that's why I opened that other issue.

@Floessie best to open a new issue for that, and to see how other widgets which include labels behave.

[2018-01-22 18:25] Beep6581 commented on #4290
We have about 1 week left until a feature-freeze. We should be wary about adding features which are enabled by default and which it is very difficult to even establish whether they give correct results.

[2018-01-22 18:35] TooWaBoo commented on #4316
Another idea is to use one Start / Stop toggle button. Similar to the "Auto" exposure button.

[2018-01-22 18:35] Beep6581 commented on #4316
@TooWaBoo

The behavior is the same - the video was recorded before the final version of the switch.

Looks good.

I agree, red is danger - there is no danger here. It's not a "delete" button.

As for the labels, according to https://mail.gnome.org/archives/gtkmm-list/2013-July/msg00035.html :

@Kildor

Calm down and realize that all RT buttons change color or icon when activated (some worse than

[2018-01-22 18:53] Beep6581 commented on #4310
@pi99y very good! Now we know that the problem involves CIECAM02 code and is probably related to either the version of a dependency or to the build flags used when compiling that dependency or RT.

@Desmis @heckflosse @agriggio @Floessie maybe you can deduce what the problem was? Random guess, maybe related to FFTW3 or LCMS2?

@pi99y I fixed the formatting in your post - you can click the edit but

[2018-01-22 19:00] Floessie opened #4319 "`setenv("LANG", ...)` too late"
Alberto extended the `MultiLangMgr` to set the "LANG" environment variable in #4278. This is definitely the way to go, but doesn't fix the problem for me:

[code]

If I place the `setenv()` in front of [`gtk_init()`](https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/main.cc#L492) it's effective, but not after it.

Best,
Flössie

[2018-01-22 19:01] Floessie commented on #4058
@Beep6581 Done: #4319

[2018-01-22 19:05] Beep6581 commented on #4310
"Great" news, I can reproduce it using your ICC file.

4 days ago I did extract `AdobeRGB.icc` from your sample JPG files but could not reproduce the problem back then. Odd...

... maybe it's only reproducible on Mondays.

[2018-01-22 19:36] Beep6581 commented on #4310
Findings:
1. The problem can be reliably reproduced using default options + neutral + CIECAM02 + the supplied `AdobeRGB1998.icc` or the one from ADOBE.
2. Preferences > Color Management > CIECAM02 > "Use float precision instead of double" has no influence.
3. Your `AdobeRGB1998.icc` does not have the same hash as the one from Adobe http://supportdownloads.adobe.com/thankyou.jsp?ftpID=4075&fileID=3

[2018-01-22 19:38] TooWaBoo commented on #4316
Created a pull request.
Issue can be closed

[2018-01-22 20:36] heckflosse opened #4321 "Drop support for 32bit x86 builds"
On irc, @Hombre57, @agriggio, @Beep6581 and I agreed to drop support for non SSE2 builds and for 32bit builds.

I would like to hear the opinion of other contributors and builders

[2018-01-22 20:49] #4317 closed, assigned to nobody

[2018-01-22 21:00] pi99y commented on #4310
Great, I'm glad we're making progress and seem to be on the right track now.
Thanks again everyone for your work!

I'll keep an eye on the thread and provide testing/files upon your request...

And also thanks for the formatting tip!

[2018-01-22 21:28] Floessie commented on #4321
I'm against it. While 32b is debatable, non-SSE2 builds are essential IMHO. The world will shift away from Intel sooner or later. There are ARM, OpenPOWER and RISC-V on the rise, why should we cut them uncalled-for? Isn't that one of the reasons to prefer RT over DT?

Best,
Flössie

[2018-01-22 21:38] agriggio commented on #4224
@Floessie, thanks for the analysis. I've never been able to trigger this bug here (I'm still on gtk+ 3.18), but your log above made me consider this:

[code]

which seems to fix the problem (at least for @heckflosse, as discussed on IRC). Can someone else please confirm?

[2018-01-22 21:38] FM33 commented on #4315
I had 2 more today (with release), including 1 after barely a few minutes. I update and will see if it's still there.

[2018-01-22 21:40] heckflosse commented on #4321
@Floessie Sorry, I meant non SSE2-builds for Intel/amd x86. I don't want to cut other architectures

[2018-01-22 21:50] heckflosse commented on #4321
@Floessie Let me rephrase: I would like to drop support for non-SSE2 builds on x86-architecture, as those builds are really slow. For x86/64 that's no problem because afaik all x86/64 cpus support SSE2.

Edit: Basically that would mean dropping support for x86_32

[2018-01-22 22:11] Beep6581 commented on #4224
Fix confirmed!

[2018-01-22 22:14] Beep6581 commented on #4310
Neutral + CIECAM02 + DCI-P3 output profile:
![amsterdam](https://user-images.githubusercontent.com/5844619/35247260-0a2c9030-ffca-11e7-997e-7f6cfe0dd7d5.jpg)

https://filebin.net/dogpfudtt6jirxm3/amsterdam.jpg.out.pp3

[2018-01-22 22:51] agriggio commented on #4318
@Desmis Jacques, could you clarify what are these settings for? Are they supposed to be editable by the user? If so, how? I couldn't find them in the gui...

[2018-01-22 22:58] Hombre57 commented on #4299
@Beep6581 I'll make test with `git mv` later this week or by the w.e., thanks for the hint.

[2018-01-22 23:11] heckflosse commented on #4290
@Desmis Jacques, I tested the new Cat02 white balance method and it works good in my tests. But the auto wb is (you know I always take care of performance) quite slow. I think we (or I) have to solve this before merging. As 5.4 is very close to release I think this should be done for after 5.4 release.

What do you think?

[2018-01-22 23:19] Beep6581 commented on #4299
@Hombre57 shoot if you need help with this.

[2018-01-22 23:38] heckflosse commented on #4319
@Floessie Great you found a solution. Why don't you just push it?

[2018-01-22 23:41] Beep6581 opened #4322 "Update tab shortcut from Wavelet to Advanced"
The shortcut for the Wavelet tab was Alt+w. The new tab is called Advanced, so it would be consistent to use Alt+a as the new shortcut. While changing shortcuts can lead to a bad user experience, in this case I think we have nothing to lose:
- The Alt+w shortcut was [not documented](http://rawpedia.rawtherapee.com/Keyboard_Shortcuts),
- The shortcut is not commonly used,
- The change is not danger

[2018-01-22 23:46] heckflosse commented on #4322
No objection

[2018-01-22 23:54] Beep6581 commented on #4321
Concerning (our cessation of) shipping automated builds based on a stable i586/no-SSE toolchain:
https://www.reddit.com/r/openSUSE/comments/3d711c/will_leap_42_support_32bit_machines_given_that/ct2p2h9/
https://lists.opensuse.org/opensuse-buildservice/2018-01/msg00036.html

A growing number of distros are lacking the dependencies required to continue building 32-bit no-SSE RT, so this month I/we w

[2018-01-23 02:01] Kildor commented on #4316
@Beep6581

Beg my pardon. I'm calm, I've just tried to show my emotions when I tried to use new button first time.

@TooWaBoo
Yes, now it is much better.

Anyway, overlays are still messed up, so I'll create a new issue.

[2018-01-23 04:24] TooWaBoo commented on #4316
@Kildor
What is messed up? Can you provide a screenshot, please?

[2018-01-23 05:34] Kildor opened #4323 "Icons of queue tab are messed up"
Previous versions of RT showed an icon with red pause overlay for queue tab in tabbar if there were some images in stopped queue (icon processing-pause.png) and icon processing-play.png if batch processing was active. It was logical and understandable.

processing is stopped
![rt-pause-old](https://user-images.githubusercontent.com/1320579/35259560-2b44cd5e-0039-11e8-82d9-8b890a6fe066.PNG)

Proces

[2018-01-23 05:36] Kildor commented on #4316
@TooWaBoo
Icons in tabbar. I don't think if it is connected with your themes, so I've filled new issue #4323 with all screenshotes.

[2018-01-23 06:52] agriggio commented on #4322
well I would err on the compatibility side on this, but it's not a strong opposition

[2018-01-23 06:54] agriggio commented on #4323
definitely not intended, and I cannot reproduce here. can you post more details about your RT build?

[2018-01-23 07:21] Kildor commented on #4323
@agriggio I'd compiled RT by myself (as explained in rawpedia) and downloaded RawTherapee_dev_5.3-517-g8e48df11_WinVista_64.zip from keybase.pub/gaaned92/RTW64NightlyBuilds/ and got the same behaviour on two different computers.

Version: 5.3-517-g8e48df11
Branch: dev
Commit: 8e48df11
Commit date: 2018-01-22
Compiler: gcc 7.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22

[2018-01-23 07:44] Floessie commented on #4321
@heckflosse

😌 Phew, glad to hear that constraint!

Yes, SSE2 is a mandatory part of the x86-64 ISA. Whether "a build is really slow" qualifies as an argument for disabling it is questionable, though. Where's the benefit for us? To support other architectures, the `#ifdef __SSE2__` must stay in place. If we raise some dependecies and those are no longer supported on a certain architecture or distr

[2018-01-23 07:44] agriggio commented on #4323
Ah! Now I see it. It only happens in "Multiple editor tabs mode". I'll take a look

[2018-01-23 07:45] Desmis commented on #4318
@agriggio

All these values are for "edge detection" in ipwavelet to act on "local contrast" and "edge sensitivity"

As nobody ask me about these values since many years. I will "comment" (in case of...) them in options.cc, and put the values by default in ipwavelet.cc

[2018-01-23 07:53] Floessie commented on #4319
@heckflosse No, that's no real solution, thus I didn't push it. The problem is, that `MultiLangMgr` depends on the options being ready, while the options depend on things that happen after `gtk_init()`. Just taking the options loading from `init_rt()` to the line before `gtk_init()` made it crash and I didn't have the time to dig deeper yesternight. I'll give it another try this week...

[2018-01-23 07:53] agriggio commented on #4321
@Floessie it's also a matter of how easy it is to test. If none of us ever tries to build for a i32/non-SSE target, parts of the code might just rot... this is an important reason IMHO.

[2018-01-23 07:55] agriggio commented on #4318
@Desmis we can't you simply remove them from options and have them as constants in the code (With proper comments)?
More in general, why are we having parameters that affect the behaviour of tools in `options` instead of in `ProcParams`?

[2018-01-23 07:58] #4323 closed, assigned to nobody

[2018-01-23 08:01] agriggio commented on #4318
@Desmis Jacques:

If by that you mean "comment out", then please just delete the lines. We are using git for a reason (well, many, but this is definitely one :-)

Thanks!

[2018-01-23 08:14] Floessie commented on #4321
@agriggio That's exactly why it's important to support architectures other than x86-64: Better coverage. Indeed, I'm thankful for @mbajor to make us see beyond our own noses... 😃

[2018-01-23 08:18] agriggio commented on #4321
@Floessie I'd understand that if we had a clean code base. Unfortunately, we are very, *very* far from that. Widening our context is not going to make the situation better, I'm afraid.

[2018-01-23 08:30] Floessie commented on #4224
[Not](https://filebin.net/c1ls46telq7svl01) fixed here, I'm sorry.

From my experience, races can be hardly fixed by shifting thread priorities. We should cogitate on the meaning of `IdleHelper`, IMHO...

Best,
Flössie

[2018-01-23 08:40] Floessie commented on #4321
You're right with your criticism on the code quality (and I wish @adamreichold was still with us), but how can you make the code cleaner and thus more portable, if you don't have more platforms (compilers, architectures, ...) to confront it with? Monoculture won't help us to identify the soft spots.

[2018-01-23 08:48] agriggio commented on #4321
@Floessie, things like (for example -- but this is for real!)

[code]

do not require any multiplatform support. I'm not talking about the fine details of writing the cleanest, most standards-compliant code out there. We are missing some basic stuff...

[2018-01-23 09:04] Beep6581 commented on #4323
My bad, sorry! Thanks for fixing it @agriggio

[2018-01-23 09:16] agriggio commented on #4224
@Floessie how about this? (remember I'm still sort of shooting in the dark because I can't reproduce):

[code]

[2018-01-23 09:30] Floessie commented on #4224
Thanks for your time, Alberto!

Unfortunately, it still occurs with your latest patch (though less often).

There's this dependency between `CropHandler::cropPixbuf` and `CropHandler::cropimg`, and they are both protected via `CropHandler::cimg` (bad name for a mutex BTW). My guess is, that one of them is either updated unlocked or changed without considering the other, so that there's an unlock i

[2018-01-23 09:31] agriggio commented on #4224
Ok, at least we are on the right track. Let's keep digging...

[2018-01-23 10:01] Desmis commented on #4310
I don't say that there is no problem with Cieacm02. It is well known that there are.

But in this case : Use of "DCI P3" as output profile, with "ciecam enabled" or whith "ciecam disabled", and amsterdam.pef ==> output TIF, there is many many artifacts :)

[2018-01-23 10:12] Beep6581 commented on #4310
Confirmed, the artifacts are there with CIECAM02 disabled using DCI-P3, ACES and AdobeRGB1998, in both JPG and 16-bit TIFF. The RT_* profiles are immune.

[2018-01-23 10:13] Beep6581 commented on #4310
Could not reproduce using 5.3, so this is a regression.

[2018-01-23 10:15] agriggio commented on #4310
@Beep6581 thanks for the info, I'll take a look

[2018-01-23 10:27] Desmis commented on #4290
@agriggio
I just push a commit in "cat02wb" branch.
It is the same Cat02WB as in "autowblocal"

@heckflosse
The problem for me, is not 5.4 or any other tag...4.2, 5.0, 6.0 etc., but what we do ?

For slow WB , there is one which obviously is slow or very slow : Robust WB. It's iterative, and If you try 100 settings different, it will take time :)

jacques

[2018-01-23 11:23] Desmis commented on #4290
The general problem with this type of "algorithm" : Ciecam, White Balance - Cat02 - local WB  is that they are not strictly logical, to speak in the language of the human sciences, we can say that it is not easy to make cognitive inferences.

One of the most disturbing is chromatic adaptation, which scientists have tried to model. Indeed how to explain that our eye is able to do what a machine can

[2018-01-23 12:26] Desmis commented on #4290
Other thing, I am open to any proposal, provided that it is in a positive vision : activate or not by default the tool, add a slider to limit the gamut, etc. (for cat02)

Other propositions for "WB auto" (always false), but with Cat02 correction,  WB local, etc.

[2018-01-23 12:55] #4310 closed, assigned to nobody

[2018-01-23 12:56] agriggio commented on #4310
should be fixed now, please test

[2018-01-23 13:02] heckflosse commented on #4321
@Floessie

I would like to get rid of all the `__x86_64__` dependencies in code and I also don't want to make new ones just in case. We needed them in past to avoid crashes on 32bit SSE builds. Maybe we don't need them anymore because of fixes in gcc, maybe we still need them. I don't know and I can not test that.
Removing this dependencies could mean an automatic drop of 32 bit SSE support (becau

[2018-01-23 13:22] Floessie commented on #4321
@heckflosse So the title should really be "Drop support for 32bit x86 SSE builds". Then I'm with you. 👍 32b x86 builds should still be possible like every other 32b build.

[2018-01-23 13:37] heckflosse commented on #4321
@Floessie Yes, even 32b x86 SSE builds would be possible after removing the `__x86_64__` dependencies (at least they should compile without problem) but may crash at runtime.

[2018-01-23 13:48] Beep6581 commented on #4310
Fix confirmed.

[2018-01-23 13:52] Beep6581 commented on #4310
By the way, twice I experienced a complete system slowdown when testing saving this TIFF image to all other formats. Haven't been able to connect with GDB to find out what was going on. The threads were using 100% CPU and I guess I ran out of RAM due to some major leak.

For example I just saved [the TIFF](https://filebin.net/yl2akjmzw8j2sq7j) to JPG, TIFF-8/16 and PNG-8/16, then had to switch to

[2018-01-23 14:29] gaaned92 commented on #4321
@all dev

What is your position regarding windows 32 bits builds?
 I don't mind to build 32bit builds as I do for 64 bit, only if some dev are able to maintain them and so be able to run the build on windows 32 bits system and test.

When building for 32 bits I run the build on my 64bit windows, but I think it is not representative of the problems encountered on a 32bit system.

example: one of my

[2018-01-23 14:32] agriggio commented on #4310
@Beep6581 I can't reproduce...

[2018-01-23 14:56] agriggio commented on #4290
@Desmis Jacques, I added some comments to your `cat02wb` branch, I hope it's ok...

[2018-01-23 15:00] Desmis commented on #4290
Hello Alberto

 I come back from a walk with my wife in the Esterel mountains

It is difficult to read, and to find where are your remarks :)
It is the first time, I see that !

The best solution, If I I dare this proposal, is that you make the proposed
changes

What do you think ?
Jacques

[2018-01-23 15:03] Desmis commented on #4318
Chane done, and push :)

[2018-01-23 15:07] agriggio commented on #4290
Jacques,
sorry, I thought it was better to use the github service for this kind of comments :-)
Anyway, if you look at the remarks through the github webpage instead of via email, things should be clearer (I hope). On any case:

Ok, I'll see what I can do. But I still need your help at least for a good name for `gree` and `autogree` in `Cat02adapParams`... what do they mean exactly? Can you sugges

[2018-01-23 15:09] heckflosse commented on #4321
Imho it does not make sense to make 32bit windows builds which run fine on Win64, but crash/don't start on Win32. Afaik none of the devs has access to a win32 system >= vista. Means, we can not test the builds in case crashes are reported.

[2018-01-23 15:12] Beep6581 commented on #4290
@Desmis you can find the comments here (at the bottom):
https://github.com/Beep6581/RawTherapee/compare/cat02wb
You can see the comments inline by clicking on the commit hash in each of the comments:
![screenshot](https://user-images.githubusercontent.com/5844619/35283304-31cd2954-0058-11e8-8882-5f4d8b6fef3c.png)

If anyone knows of a better way of viewing these comments, please let me know.

[2018-01-23 15:15] Beep6581 commented on #4290
Please make the same change in the language file, PP3 keys names, and `procevents.h`.

Furthermore, `procevents.h` already has CAT02 entries using the `EvCAT*` style, so the new entries should be consistent:
https://github.com/Beep6581/RawTherapee/blob/ae2231efb8b0529e74d6f1ccd6aad992273b11e9/rtengine/procevents.h#L203

I can help you with the renaming, but @Desmis please use full and consistent n

[2018-01-23 15:17] Desmis commented on #4290
Alberto
I have tried the 2 ways, it is curious, but no  problem
But now it rains comments :)

gree : it is the name perhaps not good for the green channel in XYZ. Why "gree" and not "Y" or "tint", because "Y" has I think no sens for the user, and it is not tint

autogree : to calaculate the value of the slider "gree"

Rq: when i read the code from others, I have many diificulties to understand the

[2018-01-23 15:17] agriggio commented on #4290
@Beep6581 `procevents.h` is [dead](https://github.com/Beep6581/RawTherapee/commit/d67351eb761510fe11f5ecc11f6d4131a9993bfc#r27045229) (well, deprecated at least :-), but your point remains

[2018-01-23 15:21] Beep6581 commented on #4290
@agriggio thanks, I will look at the new mechanism.

@Desmis as you know my C++ understanding is minimal, but I do often look into code when merging, documenting, checking for bugs or going through language keys, and, as a real example, sorting out the differences between "deh", "deha", "dehaz" etc, and possible capitalization variations of those, is very difficult.

[2018-01-23 15:22] agriggio commented on #4290
Well, I'd argue that `greenChannelXYZ` is better then...

why does the GUI show this then?

![screenshot from 2018-01-23 16 20 55](https://user-images.githubusercontent.com/11982086/35283783-6f45a788-0059-11e8-8e6f-4662b83acfae.jpeg)

Then please make sure that other people know, so we can all have a better understanding of the code :-)

[2018-01-23 15:28] Desmis commented on #4290
It is why, I name it "Y tint", but in the same sens, in Ciecam for the same usage, I write "Tint"
And good question : what is color ? what is tint ?

But all that is to optimize the "informatic" part of Cat02. I don't contested at all, It is always better.
Recall : I am not at all an "informatic man", never I learned, otherwise in 1970, with a little Fortan lV and an IBM1130

But my question is al

[2018-01-23 15:34] Desmis commented on #4290
For many people, there is confusion between terms, even in french
More the name in RGB (G = green), xYz (Y green) HSV, Lab, LCh, Munsell are different...

Hue <=> color <=> tint
Luminance <=> lightness <=> brightness
Saturation <=> chroma <=> chrominance <=> colorfullness

[2018-01-23 15:34] heckflosse commented on #4319
@Floessie Did you test whether it works using `putenv()` instead of `setenv()`?
I had to use `putenv()` for windows builds, because `setenv()` is not available on msys2.

[2018-01-23 16:01] agriggio commented on #4290
I'm not sure what you mean here, sorry. I am not asking you to optimize the algorithm, I'm just telling you that I don't think "gree" is a good name, because:

1. it's not even a word. Even if you used "green", though,

2. the GUI calls this "Y Tint", instead of "gree". So there's a mismatch already. And then you write:

3. > "Y" has I think no sens for the user, and it is not tint

   So then I w

[2018-01-23 16:09] Desmis commented on #4290
Alberto

No problem at all. I appreciated your intervention and your remarks :)

The term optimization is probably not good (for you), but for me, the code is more readable...
The terms you proposed are good, but (recall) my remarks on color are not only "semantic"...there are really non sens. In RT as in others software "Tint" is often synonym with the channel "magenta green"...This leads to misu

[2018-01-23 16:40] agriggio commented on #4290
Jacques, great then! I'll see what I can do with the code...

[2018-01-23 17:40] heckflosse commented on #4290
@Desmis Jacques

I will see what I can do.

[2018-01-23 17:53] Kildor commented on #4323
Thank for fixing! Now it works as intended.

[2018-01-23 17:58] Floessie commented on #4321
Has anyone ever tried ReactOS in `qemu-system-i386`?

[2018-01-23 18:01] Floessie commented on #4319
@heckflosse I'll give it a try! 👍

[2018-01-23 18:06] Desmis commented on #4290
@heckflosse

Ingo
Thank you :)

[2018-01-23 18:09] heckflosse commented on #4290
@Desmis Jacques

This patch reduces processsing time for robustwb measured on my usual D800 file from ~3000 ms to ~500 ms

[code]

[2018-01-23 18:25] Desmis commented on #4290
@heckflosse

Ingo
I just test...now it is a "Formula 1" :)  (even a Forula1 is not very ecologique, but less than an heckflosse)
Thank you very much

Do you push this change, or you want I do it ?

Tomorrow, I will dismount "autowblocal" to remove "cat02" and make a new module

[2018-01-23 18:27] heckflosse commented on #4290
@Desmis Jacques, I will change a bit more and post a new patch (maybe already this evening). Then you can test again and after your new test I will push.

[2018-01-23 18:31] Desmis commented on #4290
OK , it will be tomorrow :)

Good night
Jacques

[2018-01-23 19:18] mzuther opened #4325 "Improve HALD CLUT user interface"
Hi!

After you have so nicely responded to my last requests, here's a new one. Just so you do not get bored... :)

I often use the HALD CLUT film simulation. However, as I'm not yet acquainted with the way different films behave, I often change the film type to find one that I like. Sometimes, I reduce down to two or three films and then switch back and force to see which one I like best. This inv

[2018-01-23 19:54] Beep6581 commented on #4325
You can try out all HaldCLUTs with no mouse clicks:
1. Click on the combobox (ok, 1 click).
2. Press the up or down arrow on your keyboard to try out all the various HaldCLUTs even if they're in different subfolders.

Easiest way to switch back and forth between two or three HaldCLUTs is to use [snapshots](http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Snapshots).

[2018-01-23 20:38] Floessie commented on #4325
I had the same problem Martin has: There are two or more film simulations and I can't decide which is best. To find the best, I used to save multiple versions and compared them in Geeqie. Now I tried snapshots for the first time: Yet another trick learned! Works as desired. 👍

[2018-01-23 20:54] Floessie commented on #4290
@agriggio

And I'd even go further and argue that `green_channel_xyz` would be even better. 😉

No, seriously: We use `smallCamelCase()` for functions and methods (at least 90%), `CapitalCamelCase` for types and classes (~99% for classes, enums, structs, and typedefs vary), and `underlined_variable_names`. There are problems with shadowing as yet, I'm sure, but having small camel-case variable name

[2018-01-23 20:56] Beep6581 commented on #4325
So:

[2018-01-23 20:58] heckflosse commented on #4290
@Desmis Jacques, here's a new patch (to replace the last one), which adds a speedup for `SobelWB` and cleans the code of `RobustWb` a bit more:

[code]

[2018-01-23 21:05] Beep6581 commented on #4290
@Floessie please add that style info to the [CONTRIBUTING.md](https://github.com/Beep6581/RawTherapee/edit/dev/CONTRIBUTING.md) file.

[2018-01-23 21:38] agriggio commented on #4290
@floessie good to hear! I hate camel case (except for class names), so the less the better :-)

[2018-01-23 22:08] Hombre57 commented on #4290
@Floessie @agriggio Small camel-case is used for variable name for at least 80% of the code. I find this "encoding" compact and readable, but it's a matter of habits and taste here. Switch to `underlined_variable_names` if you want (as long as we can avoid trailing `_`), and you can even make it official, though I'll perhaps keep using `smallCamelCase` because it won't hurt in a code that mainly u

[2018-01-23 22:08] mzuther commented on #4325
Thanks, I didn't know about the arrow keys. That's great! I definitely think that's something RawPedia should mention. :)

As a side note, I often check the effect of a film type using batch edit mode, so snapshots are not a solution for me. Thanks for the idea, anyway!

[2018-01-23 22:15] heckflosse commented on #4290
@Hombre57

That's the reason I always use `i` and `j` for loop indexes 😄

[2018-01-23 22:46] Beep6581 commented on #4325
Documentation updated:
http://rawpedia.rawtherapee.com/Film_Simulation

[2018-01-23 22:46] #4325 closed, assigned to Beep6581

[2018-01-23 23:07] Beep6581 commented on #4028
Feature freeze in ~7 days.

[2018-01-24 06:42] Floessie commented on #4290
@Beep6581 @Hombre57 I'll try to word it cautiously...

[2018-01-24 07:33] Desmis commented on #4290
@heckflosse
Ingo
I test your patch, it works fine, and improved algoritm. Thank you very much.
I will wait you push this change before "clean" branch autowblocal by suppressing "cat02", and others improvment cleaning

@Beep6581
I proposed - but for me 5.4 is not the goal - when @agriggio Alberto terminated these modifications
1) I will change some features : a) for underwater; b) I will tested a "

[2018-01-24 07:40] agriggio commented on #4290
@Desmis Jacques, I hope I will be able to commit something later today

[2018-01-24 07:43] Desmis commented on #4290
@agriggio
Alberto, no problem.
But as I have said above, for me it's a good way for leraning and capitalize new skills. Thank you again :)

[2018-01-24 10:59] agriggio opened #4326 "darktable's haze removal tool?"
Darktable has a new haze removal tool. It seems to be very simple to use and effective. The code doesn't look too complicated.
I'd like to "borrow" this for RT as well. Thoughts? (not for 5.4, too late)

[2018-01-24 12:22] heckflosse commented on #4290
@Desmis Jacques, I pushed my speedups.

[2018-01-24 12:24] Desmis commented on #4290
@heckflosse

Ingo
Thank you very much. Now, I will work on "autowblocal" to suppress Cat02

Jacques

[2018-01-24 12:34] Beep6581 opened #4327 "Remove Noise Reduction settings from Preferences"
Settings which influence the output of a tool do not belong in Preferences but in the PP3.

The settings in "Preferences > Performance & Quality > Noise Reduction" should either be removed, or moved to the Noise Reduction tool. As I recall, they were put there for experimental reasons years ago. I think we can now agree that the experimental phase is over, and this should be cleaned up.

"Max numb

[2018-01-24 12:40] Beep6581 opened #4328 "Chroma Noise Reduction - either change "Preview" method into a pushbutton, or remove it"
While creating new PP3s I tried to figure out what the cryptic key names used for the NR tool do. I found that the chrominance method "preview" is not stored in the PP3 file at all.

You're looking at the cryptically-named `C2Method` key.

To reproduce:
1. Apply neutral,
2. Enable NR, method = manual, save PP3.
3. Enable NR, method = automatic global, save PP3.
4. Enable NR, method = preview, save

[2018-01-24 12:48] Beep6581 opened #4329 "Chroma Noise Reduction PP3 key depends on tool mode"
Depends on #4327, related to #4328

When in "standard" mode, the `C2Method` PP3 key is used.
When in "expert" mode, the `CMethod` PP3 key is used.

Chrominance noise reduction has the following methods, depending on "Preferences > Performance & Quality > Noise Reduction":
* Standard
  * Manual `C2Method=MANU`
  * Automatic Global `C2Method=AUTO`
  * Preview `C2Method=MANU`
* Expert
  * Manual `CMe

[2018-01-24 12:54] agriggio commented on #4327
:+1:

[2018-01-24 13:12] Beep6581 opened #4330 "Empty partial PP3 not empty"
Save a partial PP3 with everything disabled:
[code]

[2018-01-24 13:21] Beep6581 opened #4331 "Metadata mode PP3 key"
A vague and confusing issue title because I'm vaguely confused :)

The partial profile settings have Exif and IPTC in the Metadata section. However, if I apply neutral and save a partial PP3 with both boxes selected, the PP3 contains this and nothing else related to metadata:
[code]

However, if I fill in one or more IPTC values, then this appears:
[code]

Shouldn't that be written to the partial

[2018-01-24 13:25] agriggio commented on #4331
@Beep6581 I don't know. I didn't change that -- at least not intentionally. Can you test the behaviour with say 5.3?

[2018-01-24 13:43] heckflosse commented on #4290
@Desmis Jacques,

here's a speedup for `SdwWB()`. Feel free to test and push :)

[code]

[2018-01-24 13:55] Beep6581 opened #4332 "Partial PP3 Advanced Settings section has missing children"
In the Partial Processing Profile window, the Advanced Settings group checkbox does not react correctly in relation to its children checkboxes.

* Advanced Settings
  * Retinex
  * CIECAM02
  * Wavelets

Only the Wavelets checkbox reacts when you toggle the Advanced Settings group box.

[2018-01-24 13:55] heckflosse commented on #4330
This patch fixes the issue with `pixelShiftOneGreen`

[code]

[2018-01-24 13:58] #4332 closed, assigned to Beep6581

[2018-01-24 14:06] Beep6581 commented on #4331
@agriggio it's the same in 5.3.

In fact, if I set e.g. "Headline" to "asd", save PP3, then delete "asd" and save PP3 again, now it saved the whole IPTC section with empty values, so it looks more like buggy behavior then by design.

[2018-01-24 14:12] Desmis commented on #4290
@heckflosse
Ingo
I just tested. works fine and quick. very good job :)
I push this change now
Thank you

[2018-01-24 14:15] Beep6581 commented on #4290
@Desmis I merged `dev` into `autowblocal`, may I push?

[2018-01-24 14:19] Desmis commented on #4290
I am going to do it :)

[2018-01-24 14:22] Desmis commented on #4290
@Beep6581
I compile to test and verify, then I push.
Thank you.
I will continu to improve "code" (readable...clarity...) :)

[2018-01-24 14:25] Desmis commented on #4290
@Beep6581

Now I use Kdiif3 to merge, very good tool. thank you for advice :)

[2018-01-24 14:27] agriggio commented on #4290
@Desmis Jacques, I just pushed my cleanups to the `cat02wb` branch. In the end, I decided to use the following parameter names, according to my understanding of the code:

- `cat02` becomes `amount`
- `autocat02` becomes `autoAmount`
- `gree` becomes `luminanceScaling`
- `autogree` becomes `autoLuminanceScaling`

I've also moved the CAT02-related functions to their own compilation unit, in `rtengi

[2018-01-24 14:28] heckflosse commented on #4328
In `preview` mode, while previewing the image, the denoise parameters are calculated based on the preview. When the image is closed, the mode changes to 'Manual' and the parameters calculated before are kept. Imho that's by design to avoid automatically changed parameters when previewing the image again.

[2018-01-24 14:31] heckflosse commented on #4327
I agree, but I'm not sure we should do this for 5.4...

[2018-01-24 14:33] Beep6581 commented on #4290
@Desmis I'm very happy to hear that you use KDiff3!
Thanks to this program, fixing the 305 unresolved conflicts took less than a minute.

[2018-01-24 14:36] Beep6581 commented on #4328
Then "Preview*" should not be in the combobox, but in a pushbutton which updates the slider values and changes the combobox method to "manual" when clicked, no?

[2018-01-24 14:37] agriggio commented on #4328
In my humble opinion, preview should just go away. It's very confusing and can't be automated. I see no advantange over opening a preview window and adjusting manually the sliders.

[2018-01-24 14:49] heckflosse commented on #4326
@agriggio Where is that tool in darktable? Didn't find it

[2018-01-24 14:52] agriggio commented on #4326
https://github.com/darktable-org/darktable/blob/master/src/iop/hazeremoval.c

[2018-01-24 14:53] heckflosse commented on #4326
I meant in gui

[2018-01-24 14:55] agriggio commented on #4326
well you have to search in the big list of modules, I don't think it's in any of the tabs by default

[2018-01-24 15:00] heckflosse commented on #4326
Found it. Thank you.

[2018-01-24 15:03] Beep6581 commented on #4326
Can it do something which curves and local contrast cannot? All examples I found when googling showed people using it to increase contrast in a way which curves would have done just as well, nothing to do with haze.

[2018-01-24 15:03] Desmis commented on #4290
@agriggio

Alberto
Thank you very, very much...all seems to work fine ...:)
I will look at your work, in next time.

You have rename :
* "Cat 02 level" in "Amount", good
* "Y tint" in "Luminance scaling" - curious (for me), perhaps for others it is a good name..to test with users

For usage of Cat02, if you read french, I have update Rawpedia
[http://rawpedia.rawtherapee.com/CIECAM02/fr#CAT02_adap

[2018-01-24 15:06] Beep6581 commented on #4328
I could see it in the form of an on-canvas rectangle or line widget, [ImageJ](https://imagej.nih.gov/ij/)-style.

[2018-01-24 15:12] agriggio commented on #4326
I'm not claiming it is the only way, but it seems to be a simple way...

[2018-01-24 15:13] Desmis commented on #4290
But recall, what I say yesterday, Cat02 and Ciecam, is not for Ingeniors ;)
This way of approaching the problems,seems no logic...but our eyes, our brain is illogic.

When you enter in a shop, to buy a dress for your whife (??) lighting is often artificial, but people does not look blue, white are not pure white, it is metamerism. Camaera are completely deceived, but your eyes no...But it is bette

[2018-01-24 15:21] agriggio commented on #4290
Hi Jacques:

Well, I did that according to my understanding of the code. As far as I understood, that parameter is used only [here](https://github.com/Beep6581/RawTherapee/blob/9f0f984eb12ea3e7b65ec3a3566f6bc5a049f391/rtengine/cat02adaptation.cc#L71), and exactly for scaling the luminance (Y) channel...

What I find confusing is that the further away the wb is from D50, the less amount of CAT02 ad

[2018-01-24 15:24] Desmis commented on #4290
@agriggio

I look at the code...
Now, all seems clear, specially the file "catO2adaptation.cc" which clarify all things and more readable, and more reusable.

For me, now  it's an example to follow

Thank you again :)

Jacques

[2018-01-24 15:26] Desmis commented on #4290
@agriggio
I guess you're reassured

[2018-01-24 15:29] agriggio commented on #4290
@Desmis I'm not sure I understand what you mean... but if you ask me, I'll say 42 :wink:

[2018-01-24 15:36] Desmis commented on #4290
@agriggio

It is me which change, the value of "amount".
Normally, Ciecam is build for "D illuminant", normally betwwen 4100K and 12000K. But very good in "norma usage" 4100K - 8000K  (Sun and Shadow)
It works also well with T=2856K (tungsten)

The adaptation normaly depends of 2 factors
"La" (cd/m2) which varie from 0.001 to 20000. Currently and image with sun in summer "La" is about 2000..... 20

[2018-01-24 15:40] Desmis commented on #4290
@agriggio
for me, this diagnosis (engineer) is a disaster...I am an (old) engineer...
But also, sociologist and consultant in human factors and change management
An now retired :)

[2018-01-24 15:44] agriggio commented on #4290
Jacques, I was joking about engineers, if that wasn't clear :-)

Thanks for the explanation about CAT02 under "strange" conditions. I'm not sure I understand everything, but I will try to study!

[2018-01-24 16:00] Desmis commented on #4290
@agriggio
Me also, I was joking... in my company, I was called the 5-legged sheep :)

[2018-01-24 16:01] Desmis commented on #4290
I will do some changes for underwater ...then push :)

[2018-01-24 16:29] heckflosse commented on #4290
@Desmis Jacques, I cleaned the code of `SdwWB()` a bit more. Shall I post a patch or push after your next push?

[2018-01-24 16:33] Desmis commented on #4290
@heckflosse
Ingo
You can push
Thank you :)

[2018-01-24 16:35] Desmis commented on #4290
I just make a change in "cat02wb" branch

a) by default cat02 is disabled
b) I suppress some warnings
c) I merge with dev

[2018-01-24 16:54] heckflosse commented on #4290
@Desmis Jacques, I pushed to `autowblocal`

[2018-01-24 16:56] Desmis commented on #4290
@heckflosse  Ingo, thank you again

[2018-01-24 17:10] Desmis commented on #4290
A comparison cat02 with and whithout
https://i.imgur.com/Le4yWni.jpg

I make this image with "WB local", with only actication of cat02
london_bridege_moving_1.pef
process : default
T = 7922K t=1.159

WB local - same settings as WB general
I just "cut" the image in 2 with the spot: right activated, Left disactivated

Jacques

[2018-01-24 17:49] Desmis commented on #4290
Other manner to understand cat02

1) if you are sure your photo is in D50, but the WB is not properly adjusted (ex 7000K)  then it will be better to set the WB at 5000K, Cat02 is useless, but cat02 will give an acceptable result if you don't modify WB

2) if you are sure that your photo is in D65 (or Tungsten), and that the WB is well adjusted then it is essential not to touch WB and let cat02 act

[2018-01-24 18:56] mzuther commented on #4325
I say it yet again: thanks! :)

[2018-01-24 20:08] morosakubek commented on #4326
Something that specially removes blue cast from a distant plan (like mountains) or fog would be good.

[2018-01-24 20:48] Beep6581 commented on #4325
Thanks for pointing the shortcoming out!

[2018-01-24 20:56] TooWaBoo commented on #4148
New update

[code]

[2018-01-24 21:14] #4330 closed, assigned to agriggio, heckflosse

[2018-01-24 22:01] agriggio commented on #4224
@Floessie one more blind attempt:

[code]

[2018-01-24 22:19] Hombre57 commented on #4224
@Floessie @agriggio I'm not sure that I'll have time to look at it tonight, but here is a proposed patch. Like @agriggio , I can't reproduce the bug so it's a bit shooting in the dark too.

[code]

If you look at `idle_helper`, it is protected by the `cimg` mutex, excepted in the lambda function, where the counter is decreased outside the `cimg` protection. This patch correct that, but I don't kno

[2018-01-25 00:08] Hombre57 commented on #4224
My patch above doesn't solve `idle_helper` protection completely. Maybe @Floessie can get ride of this helper class ? I'll try to find a solution too in the mean time.

[2018-01-25 06:57] Floessie commented on #4224
As for reproduction: I don't look at the detailed windows but at the main window (same problem). Either take a fast machine and open a RAW from the file browser. Sometimes it comes up coarse. Or take a slow machine or VM (both holds true for my current tests) and switch between a RAW and the JPG generated from it via F3/F4. The JPG is almost always displayed coarsely.

HTH,
Flössie

[2018-01-25 07:24] Floessie commented on #4224
@agriggio @Hombre57 Thanks for your patches. Unfortunately, neither of them solves the problem. I'll try to ditch `IdleHelper` to get rid of at least one part of the equation.

[2018-01-25 08:31] Floessie commented on #4224
Okay now. Here's a patch that fixes the problem for me. It kills `IdleHelper` in favor of a single `std::atomic<bool> redraw_needed`. Maybe `IdleHelper::pending` wasn't the sole problem: I also changed `initial` to a `std::atomic<bool>`, didn't check it before, but this could have been a problem, too.

Please give it a test for regressions.

Best,
Flössie

[code]

PS: I also converted `cropimg` an

[2018-01-25 08:34] Desmis commented on #4290
I just update Rawpedia (in french)

http://rawpedia.rawtherapee.com/CIECAM02/fr#CAT02_adaptation_-_White_Balance
I notably added a link to the different illuminants and the notion of CRI (Color Rendering Index)

[2018-01-25 08:43] agriggio commented on #4224
@Floessie thanks for the patch. I will test asap. But can you please consider separating the cosmetic parts (indentation, line breaks) from the actual contents? It would make it much easier to review/understand what is going on. I wouldn't stress you normally, but this is a delicate part it seems, so I think the more eyes are on this the better... thanks!

[2018-01-25 08:52] Floessie commented on #4224
@agriggio

Well, most of the indentation problems are part of the content (I had to `if (...) {` the core part). I'll try to do better next time. 👍

[2018-01-25 09:03] agriggio commented on #4224
ok, apologies then. I read your description and then I saw the formatting changes in the constructor, and I jumped to conclusions... :-(

[2018-01-25 09:06] Floessie commented on #4224
Here's a better readable patch. I renamed `self` back to `ch`, "fixed" indentation, and applied `git diff -w`.

[code]

HTH,
Flössie

[2018-01-25 09:12] agriggio commented on #4224
Thanks @Floessie! One question (haven't tested yet):

[code]

any specific reason for this? According to the [docs](https://developer.gnome.org/glib/stable/glib-The-Main-Event-Loop.html#G-PRIORITY-HIGH-IDLE:CAPS):

So I'd say we should keep it. What do you think?

[2018-01-25 09:23] Floessie commented on #4224
To make it easier for you all to test. Sure we can keep it, it only hurts your tests, as @Beep6581 marked it fixed by this, although it just hid the problem.

I just tested to be sure: Fix works with and without `G_PRIORITY_HIGH_IDLE` here.

[2018-01-25 09:27] agriggio commented on #4224
I think I was unclear, sorry. I didn't mean it was needed for correctness, but just to avoid unnecessary redraws. So I'd propose we keep the patch as is now, and once we are positive that it work we can bump the priority once again. What do you think?

[2018-01-25 09:31] agriggio commented on #4224
@Floessie the patch doesn't apply cleanly on `dev`. Do you confirm, or is this a problem on my side?

[2018-01-25 09:41] Beep6581 commented on #4224
Good morning

Though this was a misunderstanding, I wanted to point out that you can use `diff --ignore-all-space`, and kdiff3 uses different coloring for whitespace changes vs real changes making it easy to skip to the beef.

Speaking of which, I often see long patches posted here in GitHub, and I don't know about your experience but here half the time I have issues when applying them, usually re

[2018-01-25 09:42] Floessie commented on #4224
@agriggio

No, that was perfectly clear. I just wanted to make sure, that my fix is independent of `G_PRIORITY_HIGH_IDLE`.

I guess, thats due to `git diff -w`. Have you tried [`--whitespace`](https://git-scm.com/docs/git-apply#git-apply---whitespaceltactiongt)? The second patch is only for better reading, the first one is the proper one to test. Only their formattings differ.

HTH,
Flössie

[2018-01-25 09:43] Beep6581 commented on #4224
One more benefit of using a branch: you can commit your proper patch including all necessary whitespace changes, and it's up to the person viewing the patch whether they want to `--ignore-all-space` or not.

[2018-01-25 09:45] Floessie commented on #4224
@Beep6581 Can't push from here, I'm firewalled. Uploading files to GitHub doesn't work either. But I can prepare a branch tonight.

[2018-01-25 09:46] Beep6581 commented on #4224
@Floessie well that answers the "why" ;)

[2018-01-25 09:48] Beep6581 commented on #4224
@Floessie if you use HTTPS instead of SSH, you should be able to push from behind the firewall.

[2018-01-25 10:00] Beep6581 commented on #4319
Could be related:
https://discuss.pixls.us/t/rawtherapee-5-3-524-and-gimp-2-9-9-on-ubuntu-studio-17-10/6546

[2018-01-25 10:02] agriggio commented on #4224
@Floessie I tested, and it seems it introduces no regressions for me. However, now that I tried stressing the behaviour more, I can easily cause deadlocks by quickly switching images (e.g. by pressing F3 and F4 repeatedly and fast). This I suspect is a symptom that the problem is deeper and not solved yet, unfortunately. Note that this happens already with `dev`, even without your patch...

[2018-01-25 10:17] Desmis opened #4333 "Virus found in Msys2 update - in Gcc.exe"
Hello
@TooWaBoo
I have update Msys2 after message yesterday  TooWaBoo

Just after that, when I lauch Mingw64,  "Avast" find a virus in GCC.exe and automaticly put this file in "quarantaine"

Now, when I lauch Mingw64, I have "unknow compiler"

Virus is "IDP.ARES.generic"

What must I do ?

[2018-01-25 10:30] Desmis commented on #4333
I found in web how to load gcc

pacman -S mingw-w64-x86_64-gcc
OK it update package, and when I run Mingw64; Avast said virus ==> quarantaine

[2018-01-25 10:32] Beep6581 commented on #4333
@Desmis upload the file to https://www.virustotal.com/
That will give you a better idea of whether it's infected or a false-positive.

[2018-01-25 10:34] Floessie commented on #4224
Thanks, Alberto. Yes, we already had issues with F3/F4 in the past and I fixed at least one of them. Now, a deadlock can be nicely debugged with GDB. If I encounter it, too, I'll have a look.

[2018-01-25 10:45] Floessie commented on #4319
@heckflosse I've tried it without success (as I already expected). I hope the msys2 supplied `putenv()` is implemented better than what [POSIX](https://stackoverflow.com/questions/5873029/questions-about-putenv-and-setenv) mandates.

Neither `setenv()` nor `putenv()` are thread-safe, so they have to be called as early as possible.

[2018-01-25 10:47] Desmis commented on #4333
I have made a new update of gcc.exe and used https://www.virustotal.com /
No virus found, but now,
when I launch
make -j8 install $I have an error message
make: /C/msys64/mingw64/bin/cmake.exe: Command not found
make: *** [Makefile:252: cmake_check_build_system] Error 127

Probbaly needs to all reinstall ? How to force system ?

[2018-01-25 10:48] Desmis commented on #4333
When I
pacma -Syu
Systeme says it is good nothing to do

[2018-01-25 10:54] Desmis commented on #4333
I am trying to reinstall a part of msys2

[2018-01-25 10:58] Desmis commented on #4333
After reinstallation, and create an exception in Avast, Gcc start.
I hope, It will run fine :)
I hope no virus on my computer

[2018-01-25 11:02] Floessie commented on #4224
Obviously, my VM is very prone to subtle races: I could provoke the deadlock instantly. 😄

Here are the relevant threads:
[code]

Now we need some guru meditation. 💭

[2018-01-25 11:15] heckflosse commented on #4319
@Floessie it's `putenv(const char *_EnvString)`

[2018-01-25 11:49] Desmis commented on #4333
All seems to work fine

Thank you

[2018-01-25 11:52] Floessie commented on #4319
@heckflosse And the ownership? Always copied?

[2018-01-25 11:54] Floessie commented on #4224
Okay, only two mutexes involved: `ImProcCoordinator::updaterThreadStart` and the global lock via `GThreadLock`...

[2018-01-25 12:17] Beep6581 commented on #4333
Great

[2018-01-25 12:17] #4333 closed, assigned to nobody

[2018-01-25 12:49] Beep6581 opened #4334 "Segfault in in rtengine::ImProcFunctions::Mad"
1. Open the RAF
2. Apply the PP3
3. Zoom in to 100% and pan over to the people at the bottom of the frame (no problem if viewing the center of the frame, but crash when viewing the people)
4. Set Sharpening > RL Deconvolution damping to 0 - crash.

https://filebin.net/751dykuo34y5yils

![imgur-2018_01_25-13 48 04](https://user-images.githubusercontent.com/5844619/35389069-86d473d8-01d6-11e8-8719-5

[2018-01-25 13:58] heckflosse commented on #4334
Confirmed.

[2018-01-25 14:00] heckflosse commented on #4334
Without Local Contrast tool it works fine.

[2018-01-25 14:06] heckflosse commented on #4319
@Floessie don't know. Can't find the source. Just the header file :(

[2018-01-25 14:13] Floessie commented on #4224
Okay, after digging into the gtk+ sources, I think I understand the deadlock:

[code]

`gdk_threads_dispatch()` does what it is supposed to do under **global lock** (that's the same that we lock by `GThreadLock`). Way up in the hierarchy it tries to lock `ImProcCoordinator::updaterThreadStart`.

[code]

This lock is held by thread 70. Thread 70 waits for thread 66 to finish its work.

[code]

Thre

[2018-01-25 14:46] Floessie commented on #4224
How about killing `ImProcCoordinator::updaterThreadStart` and making `ImProcCoordinator::updaterRunning` atomic? Then, instead of joining the thread, we spin (with sleep) until `process()` has finished. After all, it's just coordinating whether a thread must be started or not.

Take a look at `ImProcCoordinator::thread`, `destroying`, or `updateRunning`: They are not handled savely. Especially `th

[2018-01-25 14:53] heckflosse commented on #4334
I reduced the test case a bit:

1) apply neutral profile
2) enable local contrast
3) 100% zoom to the people at the bottom
4) Set Sharpening > RL Deconvolution damping to 0 - crash.

[code]

[2018-01-25 15:13] heckflosse commented on #4334
I found the cuplrit. I will push a fix in about an hour or two

[2018-01-25 17:38] Beep6581 opened #4335 "Auto-detect monitor profile from colord"
One of the effects of Wayland slowly becoming more common on desktop installations is that our monitor profile auto-detection code will stop working, as it relies on checking the X11 `_ICC_PROFILE` atom. It would be good if RawTherapee could communicate with [colord](https://www.freedesktop.org/software/colord/) for this and other reasons.

One possible source of code which already does that is Kr

[2018-01-25 17:45] agriggio commented on #4335
as far as I know, we rely on gtk, not on X directly for this. I was hoping that this would give us a bit more robustness, although I've never tested on Wayland myself...

[2018-01-25 18:08] FM33 commented on #4315
I can confirm that when it's there, it's really random. Yesterday I had 1 in the first 5 minutes, then another one after more than 1 hour. Today, after update to g62d9825 I got none even after several hours, but I can't say yet if it was either luck or it's fixed.

[2018-01-25 18:25] Beep6581 commented on #4335
Looks like it relies on X atoms:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/editorpanel.cc#L115
https://developer.gnome.org/gdk3/stable/gdk3-Properties-and-Atoms.html#gdk3-Properties-and-Atoms.description

[2018-01-25 18:39] agriggio commented on #4335
right, sorry. my memory is getting worse :-)

[2018-01-25 18:42] Hombre57 commented on #4224
@Floessie

No. I never did the effort to understand what is still sorcery to me, so I won't be able to help here, sorry.

[2018-01-25 19:24] heckflosse commented on #4334
Ok, here's a patch to test. I didn't push it because I want to understand why `std::max(0.f, lab->L[y][x] + bufval);` doesn't fix the bug, but `std::max(0.0001f, lab->L[y][x] + bufval);` fixes it.

[code]

[2018-01-25 19:39] heckflosse commented on #4334
@agriggio please review the patch, as iplocalcontrast.cc is mainly your code

[2018-01-25 20:22] heckflosse commented on #4334
Now I understand it \o/

[2018-01-25 20:27] #4334 closed, assigned to heckflosse

[2018-01-25 21:07] Floessie commented on #4334
Would you mind to share your flash of genius, or is this issue is too narrow to contain it? 😉

[2018-01-25 21:09] Floessie commented on #4224
@Hombre57 But maybe you understand the intended goal of this code better than I/we do...

[2018-01-25 21:19] heckflosse commented on #4334
@Floessie DrSlony asked me the same some minutes ago on irc. I gave him this answer which is still valid ;-)

[code]

[2018-01-25 23:38] Hombre57 commented on #4224
@Floessie I have to investigate again to refresh my NAND cells. I spent the whole evening to do merges, so I'll look tomorrow after work.

[2018-01-26 00:37] TooWaBoo commented on #4148
New update
[code]

[2018-01-26 07:41] Floessie commented on #4224
As a proof of concept I implemented spinlocking (which is sh*t in userspace, I know), and guess what: It doesn't work, as suspected.

[2018-01-26 08:53] Floessie commented on #4224
This fixes the deadlock for me:

[code]

[2018-01-26 09:09] agriggio commented on #4224
@Floessie seems to work fine here! Excellent! :+1:

[2018-01-26 09:09] agriggio commented on #4224
:+1: from me to push both patches

[2018-01-26 09:13] Floessie commented on #4224
With the above patch it proceeds much further than before but either segfaults or deadlocks later:

[code]

[code]

[2018-01-26 09:15] agriggio commented on #4224
hmmm... :angry: :sob:
and yet I did my best to make it deadlock, but failed... I'll try on my old laptop tonight

[2018-01-26 09:34] Floessie commented on #4224
@agriggio Thanks for your tests! It could as well be that I ran out of memory. At least it's better than before now, so I'll push that patch, too. The crop update is completely screwed, IMHO (I guess you agree), so I hope on group intelligence for a comprehensive solution.

@Beep6581 I'll push the patch to `fix-coarse-display` tonight. IMO, this is relevant for 5.4. The bug itself is older than ou

[2018-01-26 09:43] agriggio commented on #4224
@Floessie I agree to both. The logic is very convoluted and impossible to follow for me... we should definitely revise when time permits

[2018-01-26 09:59] Floessie commented on #4224
Speaking of multithreading: I'm having great fun with AVR microcontrollers and Arduino since last year. Initially meant as a utility to teach (my) kids programming, it turned out to address me more than them. It even made me buy a new soldering station after decades of absence from electronics. 😄

I've been working on my first Arduino library lately and could need someone to check my wording and d

[2018-01-26 14:43] heckflosse commented on #4334
I think we should review our conversion functions between Lab and XYZ

Try this:

[code]

which results in

[code]

[2018-01-26 15:30] Benitoite commented on #4224
@Floessie https://github.com/Floessie/frt/pull/1 created.  This is excellent, I’m learning more code using Arduinos.  Muchisimas Gracias.

[2018-01-26 15:59] TooWaBoo commented on #4148
New update
[code]

[2018-01-26 16:19] Beep6581 commented on #4148
Maybe I missed the point of this issue, but why not just add this to the task scheduler and never think about updates again?
[code]
(called twice because of https://github.com/Alexpux/MSYS2-pacman/issues/38#issuecomment-237222657 )
or
https://github.com/msys2/msys2/wiki/MSYS2-installation#user-content-iii-updating-packages

Point being this could be automated and forgotten.

[2018-01-26 16:34] TooWaBoo commented on #4148
I'm not friend of auto updates. It's sometimes difficult to find the culprit of an issue if to many things have changed at the same time.

[2018-01-26 16:42] Beep6581 commented on #4148
Agreed that finding an error in a massive upgrade is difficult, but that problem is related to upgrades in general and not limited to _auto_ updates, and is in fact an argument for automating the process and calling it daily, so that updates come in small batches.
But I don't use Arch, and as I wrote, maybe I miss the point.

[2018-01-26 19:57] heckflosse commented on #4148
@Beep6581

[code]

[2018-01-26 23:26] Beep6581 commented on #4148
Typo, `--upgrade` without the "s"
https://www.archlinux.org/pacman/pacman.8.html

[2018-01-26 23:53] heckflosse commented on #4148
[code]

[2018-01-27 08:08] Desmis commented on #4290
I just terminated clean and "readabled" all code of autowblocal
* suppress all code from "old localrgb"
* replace "procevents" and "refreshmap" by mapevents (thanks to alberto), for all events "WB" and "WB local"
* rewrite functions, variables, listener to be more readabled
* etc.
Of course we can always make it better  :)

Jacques

[2018-01-27 11:40] Beep6581 commented on #4148
I can't install MSYS2 as it doesn't run in XP, so I installed Manjaro.
The command is:
[code]
or `sudo pacman -Syu --noconfirm` for short, but long versions are easier to decypher and maintain.

[2018-01-27 14:41] Beep6581 commented on #3558
`5.3-537-g`24151b31

[2018-01-27 15:29] heckflosse opened #4338 "Improve accuracy of Y to L conversion"
For low Y values the conversion from Y to L is inaccurate.

Here's a patch with test code. It converts L to Y and back again 100 times and shows before after values.
To get the output, just open a raw file in editor.

[code]

And here's the output:

[code]

[2018-01-27 15:33] heckflosse commented on #4338
This patch improves accuracy:

[code]

Output:

[code]

[2018-01-27 16:15] heckflosse commented on #4338
Here's an improved patch which also increases accuracy in the upper range:

[code]

Output:

[code]

[2018-01-27 16:53] Floessie commented on #4338
Ingo 🔆 Weyrich. Yay! 👍

[2018-01-27 21:41] heckflosse commented on #4338
@Floessie Unfortunately it doesn't fix #4334 when clamping low L values to 0.f :( Still investigating...
Nevertheless I will prepare a patch which uses the new method with improved accuracy at all places in code I can find

[2018-01-28 00:05] Beep6581 commented on #4256
@gatoatigrado please see branch [gtest](https://github.com/Beep6581/RawTherapee/compare/gtest) and let us know what to do with it. I'm not a C++ coder so I won't be using this - the branch needs someone to take it over.

[2018-01-28 12:44] Floessie commented on #2017
@Hombre57 Your commit introduced new warnings to the Clang build:

[code]

Best,
Flössie

[2018-01-28 13:49] Hombre57 commented on #2017
@Floessie Could you try branch rtexif-clang-warnings ? I don't have any warning before and after this patch, so can't say if it fix the problem.

[2018-01-28 15:27] Beep6581 opened #4339 "Pruning obsolete branches"
Yesterday we deleted some dead branches, but a few branches whose status I'm unfamiliar with remain:

https://github.com/Beep6581/RawTherapee/branches/all

@Desmis
* ciecamtest2

@Floessie
* lcp-vignetting-issue4062
* irretrievable-files

@Hombre57
* tiff32float

Feel free to delete them if they're unneeded.

All:
We still have branches `master`, `gtk2` and `gtk3`. I would like to delete them as t

[2018-01-28 16:02] Desmis commented on #4339
@Beep6581
I just delete ciecamtest2

[2018-01-28 16:06] Hombre57 commented on #4339
`tiff32float` deleted, and no objection to delete `master`, `gtk2` and `gtk3`.

[2018-01-28 16:32] max-ra-gh commented on #4272
Hi @Beep6581! Thank you for looking into this.

I was wondering if there is anything I can do in order to help resolve this issue?

Thank you,
Max

[2018-01-28 16:47] Beep6581 commented on #2055
I propose to delete our current `Default*` PP3s, to bundle all 6 of the following profiles, and to set either "`Auto-Matched Curve - ISO Low`" or "`Standard Film Curve - ISO Low`" as the default for raw files:
https://filebin.net/is4tqh4qcqrrmf3v

Thoughts, and stuff:
1. I think naming a profile "Default" discourages users from changing it. Users should adapt the default profile to their taste. As

[2018-01-28 16:50] Beep6581 commented on #4272
@muhsim thanks for the reminder.
@heckflosse what is the status on Foveon support?
@iliasg do you need help with wl/bl measurement?

[2018-01-28 16:59] agriggio commented on #2055
I agree with everything. Just one note: I saw that the `Standard Film Curve` profiles have highlight compression set to `90`, is that intentional?

[2018-01-28 17:08] Beep6581 commented on #2055
Yes, it prevents ugly highlight-clipping transition zone discoloration. Have you found it to be a problem?

[2018-01-28 17:11] agriggio commented on #2055
I haven't tested this profile specifically, but in my normal use of RT I have never found a "one size fits all" value for highlight compression -- it seems to me that this is very image-specific. But maybe I'm wrong.

[2018-01-28 17:19] Floessie commented on #4339
@agriggio `lcp-vignetting-issue4062` is actually yours. I'm just the last who committed on it.

Deleted `irretrievable-files`: It was just a proof of concept and would have required *much* more work.

I'm fine with deleting `master`, `gtk2`, and `gtk3`.

[2018-01-28 17:24] Floessie commented on #2017
@Hombre57 Perfect. 👍 for merge.

[2018-01-28 17:37] Hombre57 commented on #2017
@Floessie Merge to dev done.

[2018-01-28 20:30] Beep6581 commented on #2055
Agreed. With the changes in the last year, HLC is less aggressive and seems to do no harm at values <100. The default profile is nothing more than a way for a new RT user to get a decent-looking starting point. If you don't mind, I would keep HLC=90 for now - we can always remove it before the release. If it does more harm than good - please report!

[2018-01-28 20:32] Beep6581 commented on #4339
I will delete those branches tomorrow if no one objects.

[2018-01-28 21:17] RawConvert commented on #3527
Better than a hungry spinner, how about simply extending the literals which can appear where "HL Reconstruction" shows, so the user has a feel for what processing is taking place.  E.g. add Noise Reduction, Sharpening, Wavelets and any other big hitters.  I think this is more useful than a spinner.

[2018-01-28 22:50] Beep6581 commented on #2055
P.S. in c2e7d924a171a36da68ac5ca482c0d52e5a60641 the commit message says,

I made a mistake - the `CcSteps` I changed affects only the X-Trans section, but the Bayer section already had that key set to `2`, so both are `2`.

[2018-01-29 20:12] Beep6581 commented on #2055
I processed concert photos using the new PP3s. I'm generally very happy with them.

--edit
I split off what I wrote here into a new issue #4341

[2018-01-29 20:15] Beep6581 commented on #2055
Points 3, 4 and 5 all have O=63.529. Perhaps it would solve the issue if there was a condition which would prevent adding a new point if that point would have an output value equal to the previous point.

[2018-01-29 20:19] Beep6581 opened #4341 "Improvement of histogram matching"
I ran into an issue - I wanted to point it out and see what you think.

When going through photos using the new default profile, where most of these photos were low key concert photos, the auto-matched curve would often have a wonky end - see this real example:
(Embedded JPEG viewed in Geeqie on the left, RT with an auto-matched curve on the right)
![imgur-2018_01_29-21 07 50](https://user-images.

[2018-01-29 20:53] agriggio commented on #4341
the problem is anchoring at 1,1... don't say I didn't tell you ;-)

p.s. if you look at the code there are heuristics for deciding whether to skip points that are in a plateau. but they are just heuristics, so by definition there will always pics in which this fails.

this said, I'll try to tweak them. if you can share a problematic raw, I'll see what I can do...

[2018-01-29 22:20] agriggio commented on #4341
Here's a patch that tries to mitigate the problem. Please test.

[code]

[2018-01-29 22:49] Beep6581 commented on #4341
Points from IRC regarding issues with histogram matching:
1. It's not good that the curve shape depends on parameters from the raw tab,
2. It's worse that the shape of the curve depends on the options file (Preferences > Performance & Quality > Preview demosaicing method)
3. Its also not good that once I open an image and a curve shape is generated, if I then toggle raw CA correction for example,

[2018-01-29 23:12] heckflosse commented on #4341
@Beep6581

To change that, we have to define, at which step in processing the curve matching should happen.

To change that, we have to define, at which step in processing the curve matching should happen.

To change that, we have to define, at which step in processing the curve matching should happen.

Suggestions which don't slow down the process are welcome.

[2018-01-29 23:41] agriggio commented on #4341
I just pushed a branch `histmatching-internal-demosaic` to fix the points raised by @Beep6581. This is done by demosaicing the image again when doing histogram matching. I am still not sure this is the "right" way though. If we decide to use this, I would propose to have an option (under "performance and quality") to reuse the demosaiced image instead of re-remosaicing. I know I will use this, bec

[2018-01-30 00:54] heckflosse commented on #4338
@Floessie @agriggio Code reviews are welcome :)

[2018-01-30 07:50] agriggio commented on #4341
I thought about this a bit more, and I convinced myself that re-demosaicing is the most robust thing to do in general. so I'm now +0.5 to have this for 5.4. there's still the performance issue to be addressed though, that's why I'm not +1 yet. I'll think about ways to avoid the re-demosaicing whenever possible. for example, when there was no CA correction, the demosaicing used was the fast one, an

[2018-01-30 08:34] agriggio commented on #4341
@Beep6581 @Hombre57 @Floessie @heckflosse
I just noticed that for some reason the commit of the `histmatching-internal-demosaic` branch appears also on `dev`. I don't know why it is so, it was definitely not intentional. Sorry.

[2018-01-30 08:39] gaaned92 opened #4342 "Segfault on my new W64 builds."
Since yesterday 01/29 my new W64 builds crash on start. The build chain was not modified and I think no MSYS2 updating was made.

[code]

Installer   `RawTherapee_buggy_5.3-544-g4ce9b0f01_WinVista_64.zip`
available at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-01-30 08:54] gaaned92 commented on #4342
Correction: following packages were updated on 01/29 morning
[code]
I am going to roll back those packages.

[2018-01-30 09:09] Beep6581 commented on #4342
Probably this:
https://github.com/Alexpux/MINGW-packages/issues/3330

[2018-01-30 09:24] gaaned92 commented on #4342
@Beep6581  that's it
Runs ok with previous binutils version
I let it open for other Windows builders until it is corrected.

[2018-01-30 10:23] agriggio commented on #4341
I pushed a few changes to `histmatching-internal-demosaic` (and only there this time, hopefully! :stuck_out_tongue_winking_eye: ). Now I am happy with both the results (in general) and the performance. I am still redoing the demosaicing internally, but now using `Thumbnail::processImage` instead of the "normal" pipeline. Way faster, and the matches are still good, at least from my experiments.
Ple

[2018-01-30 12:31] agriggio opened #4343 "better spline interpolation"
premise: I didn't look into this in detail (yet), these are just user-level observations so far.

The spline interpolation routines that RT uses are sometimes a bit too "unforgiving". What I mean is that often when editing curves in "custom" mode, moving a single point has a big impact on the whole curve. This makes them hard to use, to the point that I almost always prefer a "control cage" curve

[2018-01-30 12:58] raceviper13 commented on #4343
I'd like this fixed too.  I actually don't like GIMP's either as the radius changes are fairly sudden at the points, but it is more manageable.

These splines could definitely look a whole lot more natural with a curve that has smooth and natural radius changes from end-to-end.

I wish i was a mathematician and could help you out, but i did not do well in my calculus classes.

[2018-01-30 13:29] tacman opened #4344 "PDF Documentation Link broken"
http://rawpedia.rawtherapee.com/index.php?title=Special:Book&bookcmd=render_article&arttitle=Main+Page&returnto=Main+Page&oldid=3523&writer=rl

There's links to obsolete documentation, could there also be a link to some recent documentation in PDF form?

[2018-01-30 16:29] Beep6581 commented on #4344
Thanks for reporting, though we're already aware of it and it's not fixable.

[2018-01-30 16:29] #4344 closed, assigned to nobody

[2018-01-30 17:28] tacman commented on #4344
Any chance of a command line script that could be run as a cron job,
instead of on-the-fly generation?

It's the https://www.mediawiki.org/wiki/Extension:PdfBook extension,
right?  Alas, I'm not seeing a CLI option, and while there's lots of
discussion about PDF generation, nothing jumps out as a good solution.

Maybe de-activate that extension, to hide the page and error message?

Tac

On Tue, Ja

[2018-01-30 17:35] gaaned92 commented on #4342
MSYS2/binutils downgraded now.

[2018-01-30 17:35] #4342 closed, assigned to nobody

[2018-01-30 17:36] gaaned92 commented on #4342
Issue closed

[2018-01-30 17:56] Beep6581 commented on #4344
@tacman online PDF generation is not currently possible due to limited server access and the required deps not working. Offline generation is not possible in any sane way as far as I know - working solutions are welcome.
As for the menu items, we will hide them after one more attempt to get this working, one more "huff and puff".

[2018-01-30 18:03] patdavid commented on #4344
It's likely that this is not going to be easily implementable at the moment.

I am in the process of removing the link for now.  I intend to generate a PDF of any book definitions automatically and then point the link to the appropriate place from there.  Please hold. :)

[2018-01-30 21:48] #2055 closed

[2018-01-30 22:30] Beep6581 commented on #4339
`master`, `gtk2` and `gtk3` deleted, seems like that caused no problems. I can still access commit 35da4bbfb70807035e89a9cdd0ee180bd53b1e70 - tag `Dev-3.0` by ghorvath, "initial import".

Reminder that if you do `git branch` you will probably still see all deleted branches. To clean that up, run:
[code]

[2018-01-30 22:30] #4339 closed, assigned to nobody

[2018-01-30 23:02] Benitoite commented on #4343
It appears that gimp is using a higher-order interpolation..  for example sine^3 vs sine.  I’m not with my graphing calculator at the moment. 🤓

[2018-01-30 23:35] Beep6581 commented on #4341
I tested on raw files of various formats in various styles (high key, low key, bracketed, cc24, etc). The changes are good, and ever so slightly match the embedded JPEG better.

[2018-01-31 00:08] Beep6581 commented on #4028
The feature-freeze starts with the closure of #4341.

I will create a new branch `release-5.4`, and we can commit bug fixes, DCPs, release notes and other simple/necessary stuff either into `dev` or into this branch, and cherry-pick as necessary.

I will tag release `5.4-rc1` (release candidate 1) this week and advertise the builds for testing. If no serious issues arise, by mid February we should

[2018-01-31 00:13] Beep6581 commented on #3933
Any Windows user willing to test (+ finish?) + merge this, or are we not including it for 5.4?
It would be a pity if it wasn't included since the patch is already there, it just needs to be tested again.
Ping @gaaned92 @sguyader @Hombre57

[2018-01-31 00:15] #3715 closed, assigned to nobody

[2018-01-31 00:21] Beep6581 commented on #4222
RawTherapee now supports ARQ files and @agriggio even wrote the python program to generate them - this is a 5.4 blocker, can we close?

Could you summarize the status of RT's ARQ support - is anything missing?

[2018-01-31 00:23] #4155 closed, assigned to heckflosse

[2018-01-31 00:24] #4140 closed, assigned to heckflosse

[2018-01-31 00:26] Beep6581 commented on #4072
Confirmed what @heckflosse wrote - the preview is updated if I pause moving the slider, without having to let go.

RawPedia needs to be updated:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Preview_refresh_delay

[2018-01-31 00:43] Beep6581 commented on #4072
Documentation fixed:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Preview_refresh_delay

[2018-01-31 00:43] #4072 closed, assigned to Beep6581

[2018-01-31 00:45] Beep6581 commented on #4316
@TooWaBoo can we close?

[2018-01-31 07:04] agriggio commented on #3933
I'll try on my vm

[2018-01-31 07:07] agriggio commented on #4222
we can close for me. we have full support for arq (at least based on the samples I could try). what is missing is a GUI for combining 4 arw into one arq (or for letting RT work on 4 arw directly), but as you said I wrote a script to do that. not ideal, but seems to do the job

[2018-01-31 07:11] agriggio commented on #4343
@Benitoite yes I agree, I think they are simply using higher degree splines -- I didn't check though

[2018-01-31 08:02] gaaned92 commented on #3933
- The patch  is included in all my W64 builds since 5.3 and I use it from time to time. It works ok .
So  I agree to commit it.

- Shouldn't there be also an "Open with RawTherapee" entry available for picture files?
For me it's less interesting because when I use Rawtherapee in GUI mode, I always want to process a set of images in a directory.

[2018-01-31 08:36] agriggio commented on #3933
Yes, definitely.

I use it quite often (from geeqie on linux) together with the "remote" mode of RT, which will open the selected image in the editor of an already-running instance of RT. I think this is what "open with RawTherapee" should do on windows too.
@gaaned92 would you be able to produce a patch for this as well?

[2018-01-31 10:03] Benitoite commented on #4343
It’s a spline called Catmull Rom:
https://github.com/GNOME/gimp/search?utf8=✓&q=+Catmull&type=

[2018-01-31 10:06] agriggio commented on #4343
Great, thanks for the link! Let's keep this in mind for after 5.4

[2018-01-31 11:10] Beep6581 commented on #4222
Great, thanks.

[2018-01-31 11:10] #4222 closed, assigned to agriggio, heckflosse

[2018-01-31 12:18] raceviper13 commented on #4343
I see there is some work in the equation to make sure the curve doesn't double back (the slope should always be from lower left to upper right, and never reverse).  The only part of the GIMP curve that is really weird is the center point.  There seems to be a slope constraint that flattens the curve but there is an equal slope on each side.  it's almost like it's two spline curves joined together.

[2018-01-31 13:49] gaaned92 commented on #3933
Two ways to add "open with RawTherapee":
- only to files with parsed extension; feasible but complex. Don't know exactly yet how to do.

- brutal force to all files

[code]

Now it remains to transform that in Innosetup command

[2018-01-31 14:19] Beep6581 commented on #3933
If needed, you can find a list of supported mime-types here:
https://github.com/Beep6581/RawTherapee/blob/34bd19f4bfb25ec52df785e55feabca9dd817124/rtdata/icons/mime-types

[2018-01-31 17:55] gaaned92 commented on #3933
@Beep6581 To add the menu to only the processed types is not so simple and I don't know yet how to do manually.
 The hereunder diff permits to add the "open with rawtherapee" context menu to all files.
If a file is not of a type processed by RT, only the editor is open.

[code]

[2018-01-31 18:04] Beep6581 commented on #3933
@gaaned92 why `*\`? I don't see mention of that anywhere in the docs.

[2018-01-31 18:36] Beep6581 commented on #3933
Made consistency changes and created PR https://github.com/Beep6581/RawTherapee/pull/4346
Please test branch `win-contextmenu`

[2018-01-31 19:08] TooWaBoo commented on #4316
@Beep6581
Yes

[2018-01-31 19:14] TooWaBoo commented on #4148
Is it still needed to report updates?
New update
[code]

[2018-01-31 19:18] #4316 closed, assigned to nobody

[2018-01-31 21:10] Beep6581 commented on #4062
Can we close this issue and delete branch [lcp-vignetting-issue4062](https://github.com/Beep6581/RawTherapee/tree/lcp-vignetting-issue4062)?

[2018-01-31 22:23] #4338 closed, assigned to heckflosse

[2018-02-01 06:08] agriggio opened #4348 "local contrast misplaced?"
it just occurred to me: shouldn't the local contrast tool be in detail and not exposure? what do you think?

[2018-02-01 08:43] agriggio commented on #4062
@Beep6581 sure, go ahead

[2018-02-01 08:47] gaaned92 commented on #3933
Please test

uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-02-01 09:10] #4062 closed, assigned to nobody

[2018-02-01 09:11] Beep6581 commented on #4348
I guess it's not that different in principle to unsharp-masking, so yes, agreed.

[2018-02-01 09:28] agriggio commented on #4348
ok, I'll move it then. can I push to dev directly or would you prefer a branch?

[2018-02-01 09:33] Beep6581 commented on #4348
Let's branch so that I can check first.

[2018-02-01 10:24] agriggio commented on #4348
pushed branch `local-contrast-in-detail`

[2018-02-01 11:28] Beep6581 commented on #3887
Link expired, closing.

[2018-02-01 11:28] #3887 closed, assigned to nobody

[2018-02-01 12:03] heckflosse opened #4350 "HDR Tonemapping triggers histogram matching each time an adjuster is changed"
If histogram matching is enabled, each time I change an adjuster in HDR tonemapping, the histogram matching is called. Is that intentional?

Edit: histogram matching is also triggered when I enable/disable vignetting correction, shadows/highlights and so on.

[2018-02-01 12:20] Beep6581 commented on #4350
I thought "Auto-matched Tone Curve" was a one-off button, not an enable/disabled thing. If it can remain enabled after being clicked then it should be a checkbox.

[2018-02-01 12:22] Beep6581 commented on #4350
I tested using branch `local-contrast-in-detail` and haven't observed the curve changing shape using the tools mentioned above. Haven't tested couting the code to see whether the function is called.

[2018-02-01 12:27] heckflosse commented on #4350
@Beep6581
It's easy to test using a D800 file, where histogram matching takes some time...

This patch fixes it:

[code]

[2018-02-01 12:31] agriggio commented on #4350
@heckflosse that was the old behaviour, which I changed intentionally. rationale: if you copy settings from one pic to another, you want to cppy "use histogram matching", and not "use the curve"

Besides, the curve is cached so recomputing should take essentially no time as long as the picture is in the editor.

that would be easy to do, if you like this better.

[2018-02-01 12:39] heckflosse commented on #4350
@agriggio Then the cache seems not to work.

Open a D800 file
apply neutral profile
enable auto-matching
enable fattal
change anchor, takes 2 seconds
change anchor again, takes 2 seconds

and it's clearly auto matching
[code]

[2018-02-01 12:43] agriggio commented on #4350
@heckflosse more details please -- it works here (tried with a D850 file, but I don't think that's the culprit...)

[code]

[2018-02-01 12:46] heckflosse commented on #4350
@agriggio Now it works here too, though I didn't change anything. Strange... Searching

[2018-02-01 12:46] agriggio commented on #4350
@heckflosse can you share the file?

[2018-02-01 12:47] heckflosse commented on #4350
@agriggio Found it. Maybe better to pick the curve from cache even when not in verbose mode.....

[2018-02-01 12:48] agriggio commented on #4350
@heckflosse oh man :sob:
what a stupid mistake...

[2018-02-01 12:48] agriggio commented on #4350
I'll push immediately

[2018-02-01 12:48] heckflosse commented on #4350
ok

[2018-02-01 12:49] agriggio commented on #4350
@Beep6581 @heckflosse should I also use a checkbox instead of a toggle button? (in a separate commit, in case)

[2018-02-01 12:50] heckflosse commented on #4350
👍 for checkbox

[2018-02-01 12:52] agriggio commented on #4350
shouldn't "auto-levels" be a checkbox too then? I used a toggle for consistency...

[2018-02-01 12:56] Beep6581 commented on #4350
Playing around with CSS I see that Auto Levels is also a persistent-state (toggle) button. So let's keep it as a button (else we'd have to change all toggle-buttons) and instead improve the CSS theme.

I updated both RawTherapee GTK themes, but I can only test `rtdata/themes/RawTherapee-GTK3-20_.css` and guessed at `rtdata/themes/RawTherapee-GTK3-_19.css`.
IIRC @agriggio you still use GTK+ <=3.18

[2018-02-01 12:57] heckflosse commented on #4350
@Beep6581 👍

[2018-02-01 12:59] agriggio commented on #4350
@Beep6581 works fine also on 3.18 :+1:

[2018-02-01 13:01] Beep6581 commented on #4350
It should look like this:
![screenshot_20180201_135923](https://user-images.githubusercontent.com/5844619/35679684-4828195a-0758-11e8-83c0-5cb292f308f1.png)
![screenshot_20180201_135933](https://user-images.githubusercontent.com/5844619/35679685-484b4f74-0758-11e8-836e-de967eeba1af.png)

Note that only the auto-levels and histogram-matching buttons are affected, and the flip-horizontal/vertical, c

[2018-02-01 13:02] agriggio commented on #4350
I confirm that it looks like that for auto-matching. I didn't test the others though

[2018-02-01 13:02] Beep6581 commented on #4350
Thanks, merging.

[2018-02-01 14:25] agriggio commented on #4350
@Beep6581 sorry, I just noticed a regression in the GTK theme right now:
![screenshot from 2018-02-01 15 24 14](https://user-images.githubusercontent.com/11982086/35683407-107cfb9a-0764-11e8-8bf5-db9c252287e7.jpeg)

[2018-02-01 14:46] agriggio commented on #4350
Here's a patch:

[code]

[2018-02-01 15:14] Beep6581 commented on #4350
@agriggio could you show a screenshot without this?
[code]

[2018-02-01 15:31] Beep6581 commented on #4350
It's better to avoid the problem in the first place than to deal with the side-effects. I think this patch should prevent the problem:
https://github.com/Beep6581/RawTherapee/compare/togglebtncss

We were also missing `:hover` animation - added in this branch.

[2018-02-01 15:41] agriggio commented on #4350
@Beep6581 here are a few screenshots:

- old look
![old](https://user-images.githubusercontent.com/11982086/35687263-86c56026-076e-11e8-9c85-ac5b9ceb052a.jpeg)

- current (broken) look
![new](https://user-images.githubusercontent.com/11982086/35687268-8d906da6-076e-11e8-9bb1-f7523538938e.jpeg)

- my patch/pr
![patched](https://user-images.githubusercontent.com/11982086/35687281-93f8e9d4-076e-11e8-

[2018-02-01 16:25] Beep6581 commented on #4350
@agriggio yes it seems like my patch isn't matching the widgets anymore. Could you please try this and send me a screenshot? Show the Exposure tool and set Auto Levels = off and histmatch=on.
https://filebin.net/1wsl1s8aur5bq2eo/RawTherapee-GTK3-_19.css

P.S. bee52d74 works fine in gtk+ 3.22.19, and the buttons animate when hovering in both on and off states:
![screenshot_20180201_172737](https://

[2018-02-01 16:30] agriggio commented on #4350
@Beep6581 here you go. Auto Levels off, histmatch on
![theme](https://user-images.githubusercontent.com/11982086/35690179-862c9be6-0775-11e8-9e14-2e98bfe682d3.jpeg)

[2018-02-01 16:47] Beep6581 commented on #4350
@agriggio ok, that implies that those toggle buttons don't have the `.toggle` class assigned in 3.18, but I can't find docs on the subject.

Could you try two things?

1. swap:
[code]
Does that change anything?

2. After trying 1, try replacing `GtkButton` with `button` in all 5 selectors. Does that change anything?

3. If still nothing, could you try running GtkInspector, clicking on the "Select

[2018-02-01 16:49] agriggio commented on #4350
@Beep6581 thanks for the instructions, I have done this before so I should be able to do it... But just out of curiosity, what's wrong with my patch?

[2018-02-01 16:55] Beep6581 commented on #4350
@agriggio this style we're introducing is specific to toggle buttons, we want other buttons to remain as they are. Instead of applying the style to all buttons and then undoing it for some, better to only apply it to the ones we want to apply it to.

I don't know why a style assigned to `GtkButton` also applies to `GtkCheckButton`. Unless there is something that I missed, that behavior would be a

[2018-02-01 16:57] agriggio commented on #4350
@Beep6581 I understand the argument, and I agree with it *for GTK 3.22+*. My understanding (@TooWaBoo  might comment as well) however is that CSS support in older versions is buggy and half-done, so doing this "properly" might require a lot of effort. That's why I was suggesting a hack for this...

[2018-02-01 17:00] Beep6581 commented on #4350
@agriggio yes that is a fair point as well. IMHO both CSS files need to be re-written from scratch, and as such it doesn't really matter how clean the CSS is. On the other hand, I don't see myself rewriting them any time soon, and when I do I will only rewrite the 3.20 one, so worth doing it properly if possible.
And I'm curious.

It's fine if you want to commit your version, but it would be nice

[2018-02-01 17:02] agriggio commented on #4350
@Beep6581 I'll try to do your tests later tonight. If they lead nowhere though, I'd suggest that we move on... ok?

[2018-02-01 17:06] Beep6581 commented on #4350
Absolutely!

[2018-02-01 17:44] TooWaBoo commented on #4350
@agriggio
Instead of "GtkButton:checked" use ".button:checked" this should prevent to set the background of the checkbox.

[2018-02-01 18:31] Beep6581 commented on #4350
I'm installing a distro with GTK+ 3.18 and will sort this out.

[2018-02-01 18:32] agriggio commented on #4350
:+1:

[2018-02-02 01:31] Beep6581 commented on #4350
PR #4354 does the same for GTK+ <=3.18 as it does for 3.20 - only modifies the targeted widgets without affecting others, and includes `:hover` for on/off states.

[2018-02-02 01:34] #4348 closed, assigned to nobody

[2018-02-02 09:51] agriggio opened #4355 "Changing the LH equalizer in L*a*b* hangs RT"
How to reproduce:

- take any raw file (tested with ARW  and CR2)
- apply neutral
- enable L\*a\*b\* Adjustments
- Click on LH, select Equalizer
- Adjust one of the points

RT hangs, with all cores at 100%.

Seems pretty severe...

I won't be able to look at this before tonight -- and also I'm not sure about tonight, so another pair of eyes is welcome!

[2018-02-02 10:08] agriggio commented on #4355
I am bisecting -- it worked fine in 2f1ab34ef1231688e6f0a6e247ccb68510fd16e2

[2018-02-02 10:14] Floessie commented on #4355
Bug confirmed.

[2018-02-02 10:22] Floessie commented on #4355
The GUI thread is doing heavy resize operations, four threads are in `ImProcFunctions::chromiLuminanceCurve()` (OMP).

[2018-02-02 10:47] Floessie commented on #4355
The OMP threads hang in the loop starting at [`rtengine/improcfun.cc:5772`](https://github.com/Beep6581/RawTherapee/blob/fcd7a0ab377ebd07f2b46865c17b7123b987b133/rtengine/improcfun.cc#L5772).

[2018-02-02 10:48] agriggio commented on #4355
bisected. Apparently it comes from this: 478410fa39e4ca81c8e96a7e2604eb30b97d3838

[2018-02-02 10:54] Floessie commented on #4355
@heckflosse Found a typo in that commit: It's line [5777](https://github.com/Beep6581/RawTherapee/blob/fcd7a0ab377ebd07f2b46865c17b7123b987b133/rtengine/improcfun.cc#L5777).

[2018-02-02 10:58] Floessie commented on #4355
Fix:
[code]

[2018-02-02 10:59] agriggio commented on #4355
@Floessie thanks! Testing...

[2018-02-02 11:09] agriggio commented on #4355
@Floessie fix confirmed! :+1: :tada:
Can you please push?

[2018-02-02 11:10] Floessie commented on #4355
💦 🤘

I can only push tonight, so please go ahead and push.

Best,
Flössie

[2018-02-02 11:14] #4355 closed, assigned to heckflosse

[2018-02-02 12:25] heckflosse commented on #4355
@Floessie @agriggio Thanks for bisecting and fixing 👍

[2018-02-02 13:34] heckflosse opened #4357 "in SETM switching from an image with a crop to another image with different dimensions does not fit to screen"
To reproduce

1) use SETM
2) open an image and apply a crop
![grafik](https://user-images.githubusercontent.com/13733487/35735645-cef1be5a-0825-11e8-8d1e-05a132344e89.png)

3) Open an image with different dimensions. Expected result: full preview of next image (zoomed to fit).
Instead I get this:
![grafik](https://user-images.githubusercontent.com/13733487/35735686-e8fe7c52-0825-11e8-854b-d3942328

[2018-02-02 13:39] agriggio commented on #4357
@heckflosse is this checkbox ticked?

![screenshot from 2018-02-02 14 38 16](https://user-images.githubusercontent.com/11982086/35736006-e12a44e2-0826-11e8-81b1-69722f35e355.jpeg)

[2018-02-02 13:43] heckflosse commented on #4357
@agriggio yes, but I thought that would be only for images with equal dimensions

[2018-02-02 13:46] agriggio commented on #4357
@heckflosse sorry I don't understand your comment :-)
Can you please elaborate on what you expect in relation with the crop and the value of the checkbox? Thanks!

[2018-02-02 13:52] heckflosse commented on #4357
@agriggio In past, when switching between an image of size 3000 x 2000 and an image of size 6000 x 4000 zoom and pan was not remembered.

Edit: and when first image has no crop, it is still not remembered, which is good. Only when first image has a crop, I get a wrong zoom factor when the second image has different dimensions.

[2018-02-02 14:06] agriggio commented on #4357
@heckflosse sorry I still don't understand. When you say "zoom and pan was not remembered", was this regardless of the value of the checkbox? Was this the "right" behaviour, or was it just a limitation?
Regardless, what is the expected behaviour now, considering the following parameters:

- crop vs no crop
- value of the checkbox
- same size vs diferent size of pictures

? The specs are not clear

[2018-02-02 14:14] heckflosse commented on #4357
@agriggio got it. When Auto zoom to fit the crop area is enabled and I switch from amsterdam.pef (which has a crop defined) to an A7RIII raw, the A7RIII raw is shown with the crop fit zoom factor of amsterdam.pef.

[2018-02-02 14:16] heckflosse commented on #4357
opened amsterdam.pef
![grafik](https://user-images.githubusercontent.com/13733487/35737451-d048e390-082b-11e8-9255-9bd5a6b621e7.png)

then opened a 24 MP arw (though not an A7RIII)
![grafik](https://user-images.githubusercontent.com/13733487/35737475-e5815cec-082b-11e8-92e7-af4bcd3b401b.png)

[2018-02-02 14:19] agriggio commented on #4357
ok, but I still don't understand:

- whether you have "remember % zoom" enabled or not :-)
- whether you still think this is a bug (I'm not sure either way, tbh)

[2018-02-02 14:23] heckflosse commented on #4357
remember % zoom is enabled

I still think this is a bug, because it it shouldn't matter whether first image has a crop defined or not.
As you can see in my above example I zoomed to fit whole image before I opened the arw and still the arw opened at 52%, which is the zoom to crop fit % of the amsterdam.pef with the crop I defined.
Does this make sense?

[2018-02-02 14:34] agriggio commented on #4357
Ok, I played with the settings a little bit. *None* of them make any sense to me :disappointed:
The whole thing feels random: I'm sure there is a logic, but I just cannot see it...
Also, why does this depend on what demosaic method is used in "preferences -> performance and quality"?

[2018-02-02 14:45] heckflosse commented on #4357
The remember zoom % and pan thing was made to easily compare two images of same subject e.g. for sharpness. Iirc it was restricted to images of same size and orientation. When no crop is defined in first image or `autom. zoom to fit the crop` is disabled it still seems to work this way.

Iirc the dependency on `demosaic as in pp3` was to avoid demosaicing twice (first `fast`, then `as in pp3`) whe

[2018-02-02 14:47] heckflosse commented on #4357
for reference: #2418

[2018-02-02 15:02] Beep6581 commented on #4357
Yes, keeping the zoom % and pan offset when opening an image of the same size is to make it easy to compare successive shots.
https://github.com/Beep6581/RawTherapee/issues/2418

Demosaic fast/as in PP3 was to prevent fast demosaicing artifacts while still letting users of slower machines revert to a faster demosaicing algo.
https://github.com/Beep6581/RawTherapee/issues/2647

[2018-02-02 15:09] agriggio commented on #4357
@Beep6581 Ok thanks. To clarify: I understand the need for having demosaic fast (in fact, I always use that), but I don't understand why the behaviour of "remember zoom" has to be influenced by this...

[2018-02-02 15:19] heckflosse commented on #4357
@agriggio I found the cuplrit. Though I don't know how to fix it.

when the second image is opened the crophandler
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/cropwindow.cc#L2106
still has the values from first image.
Edit: When opening an image in SETM the crophandler always uses the values from previous opened image, not only for second image, which means, at least it is not random ..

[2018-02-02 18:04] TooWaBoo commented on #4148
New update
[code]

[2018-02-02 18:55] heckflosse commented on #4357
This patch fixes the issue:

[code]

Edit: I just updated the patch.

[2018-02-02 19:49] patdavid commented on #4344
This is addressed now.
We are now manually printing the page http://rawpedia.rawtherapee.com/RawPedia_Book
and making it available at http://rawpedia.rawtherapee.com/RawPedia.pdf

For details on the wiki, check this talk page: http://rawpedia.rawtherapee.com/Talk:RawPedia_Book

[2018-02-02 20:02] heckflosse commented on #4344
@patdavid Great and thanks for that 👍

I found an issue. Have a look at the screen shot on page 14/205. The left part is cut off in pdf. Clicking on the screen shot shows the left part.

[2018-02-02 20:39] heckflosse commented on #4357
@agriggio @Beep6581 please test. I really would like to see this issue fixed for 5.4

[2018-02-02 20:54] Beep6581 commented on #4344
A cunning solution @patdavid !

[2018-02-02 21:47] agriggio commented on #4357
tested quickly, no issues found

[2018-02-02 21:57] heckflosse commented on #4357
@agriggio Does that mean it fixes the random behaviour in your test or that it doesn't introduce new issues?

[2018-02-02 22:35] agriggio commented on #4357
it fixes the issue you reported. the behaviour *feels* random to me, but that's just because I don't get the logic :-)
I don't use remember zoom because I find it confusing

[2018-02-02 22:59] heckflosse commented on #4357
@agriggio the logic, when remember zoom is enabled was:

1) switching between images of same dimension (width/height) => keep pan position and zoom factor
2) switching between images of different dimensions (width/height) => zoom to fit

Now when autom. zoom to crop fit is disabled it should still be as I wrote above

But when autom. zoom to crop fit is enabled it should be:

1) switching between

[2018-02-02 23:40] agriggio commented on #4357
sounds good to me then!

[2018-02-03 01:53] Beep6581 commented on #4344
After a few hours of tweaking, I think the RawPedia PDF now looks better than it did before!
Thanks again @patdavid

[2018-02-03 12:00] heckflosse commented on #4357
@agriggio I simpilfied the code and created a pr

[2018-02-03 17:22] Beep6581 opened #4359 "Navigator width and height of image not updated when changing images"
Steps to reproduce:
1. Open 1.raw, x: --, y: --
  Feature request: could these be set when an image is opened without having to mouse-over the preview?
2. Mouse-over the preview to set them.
3. Switch to 2.raw.
  Bug: width and height have not been updated - they still show the old size.

[2018-02-03 17:28] Beep6581 commented on #4357
PR works great.

[2018-02-03 17:35] heckflosse commented on #4357
@Beep6581 Thanks for testing

[2018-02-03 17:36] #4357 closed, assigned to nobody

[2018-02-03 18:08] heckflosse commented on #4359
@Beep6581

Feature request: could these be set when an image is opened without having to mouse-over the preview?

To which values?

I would like to add a feature request: `Always show width and height of image below navigator`. Currently they are not visible when hovering over the preview.

[2018-02-03 18:13] Beep6581 commented on #4359
@heckflosse to the image's dimensions as available to the user: the full image if cropping is disabled, and maybe the cropped dimensions if cropping is enabled, though that's just an idea.
+1 for your "always show" request. Not necessarily in the Navigator, but somewhere, and the Navigator is a pretty good place.

[2018-02-03 18:32] Beep6581 opened #4360 "Soft-proofing button icon too dull"
The soft-proofing icon is too dull, it looks disabled when it's not.

[2018-02-03 18:45] agriggio opened #4361 "soft proofing for the output profile?"
currently soft proofing is possible only of you have selected a target printer profile.
I'd like to be able to soft-proof for the output profile instead. this seems easy to do, if I understand the LCMS docs correctly.
what do people think? in terms of UI, the simplest solution would be to have the soft-proof button always sensitive, and just do soft-proofing for the output if no target printer pro

[2018-02-03 18:57] Beep6581 commented on #4361
Good idea, and the [`out-of-gamut-check`](https://github.com/Beep6581/RawTherapee/compare/out-of-gamut-check) branch works, though I haven't tested yet whether the marked areas are correct and accurate.

[2018-02-03 19:08] agriggio commented on #4361
ok, I'll submit a pr.
for the oog branch I'm cross checking with darktable and the results seem reasonable: slightly different (to be expected since the pipelines are different) but in the same ballpark

[2018-02-03 20:53] agriggio commented on #4361
I've just pushed a branch `softproofing-output-profile` that implements what described above (and supersedes `out-of-gamut-check`). Please let me know how it feels.
I know that soft-proofing an output profile might seem strange, but I see two use-cases for this:

- for people who have a wide-gamut screen and want to export to sRGB
- for checking out-of-gamut colours

I'd be happy to hear from more

[2018-02-03 21:14] mbajor opened #4362 "Build fails on Fedora Testing"
Lastest success build: 5.3~git.20180130.544.g4ce9b0f01
Log:
https://build.opensuse.org/public/build/home:rawtherapee/Fedora_Rawhide/x86_64/rawtherapee-unstable/_log

[2018-02-03 21:21] heckflosse commented on #4359
@Beep6581 Here you go for full image size:

[code]

[2018-02-03 21:33] heckflosse commented on #4224
Can we close?

[2018-02-03 23:15] MBG1242 opened #4363 "Cropping issue"
This is happening with version 5 to 5.3:
RawTherapy resizes every DNG image from my Pentax Q10 from 4000x3000 down to 3992 x 2992

[2018-02-03 23:15] #4363 closed, assigned to nobody

[2018-02-04 00:24] heckflosse commented on #4296
We should not forget this issue when we release 5.4

[2018-02-04 09:43] Floessie commented on #4362
@mbajor Marcin, could you point me to the line where it fails, for I don't see a problem in the log...

[2018-02-04 09:49] Floessie commented on #4224
The real problem persists and the deadlock [I encountered](https://github.com/Beep6581/RawTherapee/issues/4224#issuecomment-360725587) isn't solved yet. Still, the original problem is solved AFAIK.

[2018-02-04 10:07] Desmis commented on #4361
@agriggio
Alberto

First, thanks for this new feature, RT is becoming more and more professional :)

I must admit to being a little lost between the various places and soft-proofing settings. And reading Rawpedia does not clear at all...
Especially that it is necessary to go click on the icon with a "!" in "image editor" to have the result of "output profile" in the tab "color management".
But thi

[2018-02-04 10:12] mbajor commented on #4362
@Floessie Hmmmm. This is latest build log. It is build again without errors, so that means it was distribution error.

[2018-02-04 10:12] #4362 closed, assigned to nobody

[2018-02-04 11:00] agriggio commented on #4361
Jacques,
thanks for your comments, this is exactly the kind of feedback I was looking for.
what I tried to do was to generalise the support for soft-proofing to work not only for the printer profile. however, I am not really sure what the results should be :-)
my use case was to be able to check for out of gamut colors, and for that it seems to work. I don't really know about gamma, my understandi

[2018-02-04 11:53] Desmis commented on #4361
@agriggio
Everybody has not or don't want to used "color management", for example for Web.
In this case, if your image has a good rending with RT, by the effetct of color management, when you "export" to wb, this image may be very very bad.
In Phtoshop for output, you can have an output "RVB internet standard srgb" without color management. In this case, gamma is take into account.
If I use, the b

[2018-02-04 12:08] agriggio commented on #4361
thanks Jacques, I'll see what can be done for gamma, indeed what you say makes a lot of sense.
for munsell, I'll leave that to me knowledgeable people :-)

also ping @Hombre57  (sorry that I forgot before!) who I think implemented the current soft-proofing

[2018-02-04 12:17] agriggio commented on #4361
related: #3781
as I suspected, this is a rabbit hole :-)
I'm interested in working on this, but it should be after 5.4 is out

[2018-02-04 12:25] Beep6581 commented on #4361
The OOG warning does not seem to take the rendering intent into account. I would expect to see no OOG warnings when using the perceptual intent, but it looks identical to that when using relative.

Sample files:
https://filebin.net/86yv0uqrad021lbr

"Old laptop" is the monitor profile of my previous laptop, the profile includes perceptual mapping tables.

[2018-02-04 12:51] heckflosse commented on #4361
@agriggio Can you choose a different colour? Bright green is already used for the motion mask of pixel shift files. That may confuse users.

[2018-02-04 13:40] bughunter2 opened #4364 "wrong colors with 'Base table' option, 32-bit platform"
If I open the "PA271580.ORF" RAW file with
RawTherapee 5.2 on a 32-bit platform,
then the colors are wrong.

(Perhaps it's a simple arithmetic bug that only
shows up on 32-bit platforms?)

Steps to recreate the problem:
    1. Install RawTherapee's 32-bit version.
    2. Open the .ORF RAW file with RawTherapee.
    3. Notice the colors are very wrong.
    4. Disable the 'Base table' option.
    5.

[2018-02-04 13:57] agriggio commented on #4361
@Beep6581 maybe I misunderstood, but to me oog warning means "show me the pixels on which the rendering intent has an impact". therefore, this is by definition independent from the specific intent selected. this seems sound to me, otherwise all intents will bring all the pixels in gamut... what am I missing?

@heckflosse sure, will do

[2018-02-04 15:07] Floessie commented on #4364
Possibly related to #4324.

@bughunter2 Please post your `AboutThisBuild.txt` here. Thanks.

[2018-02-04 15:08] Beep6581 commented on #4361
You're right.

[2018-02-04 15:11] #4360 closed, assigned to Beep6581

[2018-02-04 15:45] heckflosse commented on #4359
With this patch width and height are always shown below navigator:

[code]
![grafik](https://user-images.githubusercontent.com/13733487/35779279-b33055c2-09ca-11e8-8d34-b9f74a0d8df2.png)

[2018-02-04 16:14] gaaned92 commented on #4364
Not reproducible here on W10 with 5.3-533-gfe1ac7f60 32 bits which is the last version I can build in 32 bits.
Neither with 5.2 32 bits.
I can approximate with change of temperature to about 2600K.
Perhaps something weird in the pp3?

[2018-02-04 17:14] agriggio commented on #4361
@heckflosse I changed the oog color to cyan (same as darktable). By default LCMS uses mid gray I think, and that's also what GIMP, Photoflow and the current `dev` of RT use. But to me, cyan is better for this as it's much more visible.

@Desmis I tested other tools to see how they behave wrt. gamma, and they all seem to do the same as what is done here. No matter what gamma the proofing profile ha

[2018-02-04 17:17] Beep6581 commented on #4359
+1 for 5.4.
It would be nice if there was an hbox with two sections, and the width/height was centered in one section, and the x/y centered in the other, and they could occupy 1 row if there is enough horizontal space, or two rows if the panel is too narrow.

[2018-02-04 17:24] Floessie commented on #4364
@gaaned92

Why is that?

[2018-02-04 17:27] gaaned92 commented on #4364
I really id'nt mind as we are dropping windows 32 bit builds.

The builds made after simply don,'t start.
If you want more detail, I can rebuild last dev and report.

[2018-02-04 17:33] Desmis commented on #4361
@agriggio
For me and personal usage no problem :), and it is obvious - it is the goal of color management - that there are very small differences or not visible.  (if you use layers differences, you will see that between gammasRGb and gammaBT709, there ares small differences in shadows)

But I think there is number of users using web, with navigators whithout color management,  or searching a spec

[2018-02-04 17:44] Floessie commented on #4364
I was just wondering, because 32 bit builds under Linux still work and should still be possible. Of course I'm curious... 😉

[2018-02-04 17:55] #4359 closed, assigned to heckflosse

[2018-02-04 18:29] StefanGyuzelev opened #4365 "LH curve loads at 100% and does not end"
Version date 01.feb.2018

Version:
Branch: master
Commit:
Commit date:
Compiler: cc 7.3.0
Processor: AMD\ FX(tm)-8300\ Eight-Core\ Processor
System: Linux
Bit depth: 64 bits
Gtkmm: V3.22.2
Lensfun: V0.3.2.0
Build type: Release
Build flags:  -std=c++11  -Werror=unused-label -fopenmp -Werror=unknown-pragmas -Wall -Wno-unused-result -Wno-deprecated-declarations -O3 -march=bdver1 -pipe -std=c++11 -Wer

[2018-02-04 19:01] Floessie commented on #4365
Duplicate of #4355.

[2018-02-04 19:01] #4365 closed, assigned to nobody

[2018-02-04 19:38] bughunter2 commented on #4364
@Floessie

I don't have it. If you're looking for information about compilation flags and the environment (and so on) of the system the package was built on, you could ask the Fedora maintainer.

Link to the rawtherapee-5.2-2.fc26 package page:
https://koji.fedoraproject.org/koji/buildinfo?buildID=968495

[2018-02-04 21:03] heckflosse commented on #4364
Why do some package maintainers eliminate important informations at all?

[2018-02-04 22:25] Beep6581 commented on #4364
One of the reasons is that some services download the source without the .git folder, making generation of that info not possible using out current build process.

[2018-02-05 08:11] pkolaczk opened #4367 "Image preview not sharp enough on 4K screen"
In the editor window, the main image preview (not the thumbnails) is a bit blurry, even though it is scaled down from the original size (14 mpx) a lot. At first I thought the problem was with all my pictures, but then I zoomed in, and the details were fine. The same image viewed by the Ubuntu builtin viewer is much sharper when displayed at the exactly same size on the screen. I did not apply post

[2018-02-05 08:23] Beep6581 commented on #4367
Duplicate of #3547

[2018-02-05 08:23] #4367 closed, assigned to nobody

[2018-02-05 08:25] Beep6581 commented on #4367
Also, Advanced point 10:
http://rawpedia.rawtherapee.com/Getting_Started#Advanced

[2018-02-05 08:50] pkolaczk commented on #4367
The point 10 makes sense, thanks. However, it would be nice to have a background thread that updates the preview with a better one a second or two later and replaces the image to a less-blurry, similar to how many image viewers deal with high-res pictures. Or if not in background, then an on-demand button "generate high quality preview". Currently I don't know how the picture would really look lik

[2018-02-05 09:07] Beep6581 commented on #4367
That would be nice, but keep in mind that RawTherapee is not an image viewer, it processed raw data, and processing a raw photo takes significantly longer than one second. Ubuntu's image viewer, and most other image viewers, don't show you the real raw data, they only show you the embedded JPEG which is why they appear to be fast.

We will see what new possibilities arise after the pipeline unific

[2018-02-05 09:49] agriggio commented on #4361
@Desmis it's not that I don't want to do what you suggest, but I just don't know how to... how is it possible to know how an image will look like on a display with no colour management at all? To me, it seems that your safest bet is to stick with sRGB and standard gamma, but even that doesn't guarantee much (see e.g. the various too bright or too dark entries in play raw threads on pixls.us). But

[2018-02-05 10:47] Desmis commented on #4361
@agriggio

Dont't worry, there is not fire :)
I just want to point out some things that seem important to me
1) how an image is seen on web with some navigators whithout  CM. You can see how it behaves by putting a profile with a different gamma in the combobox (which has no name) at the bottom of the "image editor", by replacing "monitor profile" by "output profile" (I think it is not a good solu

[2018-02-05 14:45] heckflosse opened #4368 "Avoid unnecessary update to main preview when opening first detail window"
When opening the first detail window, the main preview is updated though that's not necessary if the preview window is already in hiqh quality mode (raw preprocessing and demosaicer of pp3 are done) because of

1) use demosaicer from pp3 is set in preferences

or

2) use fast demosaicer is set in preferences but the preview already is (or was) in >= 100% mode

I will create a pr.

[2018-02-05 19:30] Beep6581 commented on #3174
Commit e4f24fff fixed the problem if you leave a filename intact and hit the escape key or the cancel button, but if you delete the filename and then click the cancel button, the filename is lost and the "." dot appears the next time you ctrl+s.

[2018-02-05 20:10] Beep6581 opened #4370 "Regarding commit and merge messages"
Hello

Some commit and merge messages are of the type "Fixes #123", "Handles request from Bob in the forum" or "Merge pull request #123 from remote". I would like to remind you to please take a few seconds to make sure that your commit and merge messages convey useful info without having to read through references issues or forum topics. There are almost 600 commits between tag `5.3` and current `

[2018-02-05 20:20] Beep6581 opened #4371 "Update rtexif with ExifTool-10.78"
Update `/rtexif` with ExifTool-10.78.

[2018-02-05 21:27] Beep6581 opened #4372 "Document our unicode support"
This commit should be documented in RawPedia, here http://rawpedia.rawtherapee.com/Exif_Tab and/or here http://rawpedia.rawtherapee.com/IPTC_Tab
However, I'm not clear enough on the changes in order to do that. @Hombre57 could you help?

[2018-02-05 21:40] heckflosse commented on #4372
what's `BOM` ?

[2018-02-05 21:42] Beep6581 commented on #4372
[Byte order mark](https://en.wikipedia.org/wiki/Byte_order_mark).

[2018-02-05 22:24] Beep6581 commented on #4028
Branch [release5.4](https://github.com/Beep6581/RawTherapee/compare/release5.4) created.
Please check the release notes etc.

I will tag `5.4-rc1` within the next day or two.

You are free to do anything to the `dev` branch, that includes starting the pipeline unification.

Bug fixes which should be part of release 5.4 can either go into the `release5.4` branch, or go into `dev` and then be cherry

[2018-02-05 22:45] Hombre57 commented on #4372
@Beep6581 Here we go :

Reading Exif.UserComment :

- ASCII values are, of course, read without problem
- For UNICODE values, RT detects if a the string has an odd length. If so, it's an UTF-8 string.
   - If not, it tries to detect if an UCS-2 Byte Order Mark is set.
   - If no BOM is provided, it look out if it's a valid UTF8 string and tries to auto-detect the Byte Order (based on "zeros" count

[2018-02-05 22:56] Beep6581 commented on #4372
Thank you, I'll add that to RawPedia in the days to come.

[2018-02-05 23:10] #4368 closed, assigned to heckflosse

[2018-02-06 00:11] #4371 closed, assigned to Beep6581

[2018-02-06 01:24] TooWaBoo commented on #4148
New update
[code]

[2018-02-06 08:43] Floessie commented on #3174
Like so?

[code]

[2018-02-06 09:10] Beep6581 commented on #3174
@Floessie we found yesterday in IRC that removing this one line fixed it:
https://github.com/Beep6581/RawTherapee/blob/e4f24fff9c0bb48c260d23c4fa435a7f1970d817/rtgui/saveasdlg.cc#L284
Which fix would you recommend?

[2018-02-06 09:18] Floessie commented on #3174
😁

[2018-02-06 10:56] agriggio commented on #4028
any chance of sneaking in the oog check for the monitor profile? (see #4361)

[2018-02-06 11:29] Beep6581 commented on #4028
Yes, please commit ASAP so that it can be included in RC1 tonight, to get testing.

[2018-02-06 11:31] Beep6581 commented on #4028
You can merge it into `dev`, then merge `dev` into `release5.4`.

[2018-02-06 11:52] agriggio commented on #4028
ok will do, thanks!

[2018-02-06 11:54] Floessie commented on #3174
I was grinning, because those solutions are the same. You can choose either, but mine also fixes a heavy call-by-value in the interface.

[2018-02-06 11:57] Floessie commented on #4028
@Beep6581

Will you trigger Coverity once again before release?

[2018-02-06 12:26] agriggio commented on #4028
merged

[2018-02-06 12:38] Beep6581 commented on #4028
@Floessie yes, I can do it tonight, the results should be ready by tomorrow morning.

[2018-02-06 12:39] Beep6581 commented on #3174
Missed that - I only half payed attention while replying from work... that's my excuse ;]

[2018-02-06 15:40] gaaned92 commented on #4028
W10 OK. Perhaps I missed the text about RPU.

[2018-02-06 15:50] agriggio commented on #4350
we can close this, right?

[2018-02-06 15:50] #4341 closed, assigned to nobody

[2018-02-06 16:35] Hombre57 commented on #4343
Can't  you imagine the control cage in the Gimp example? :wink: I'll try to find a solution on my side too, based on a hidden, computed control cage.

[2018-02-06 18:07] #4296 closed, assigned to Beep6581

[2018-02-06 18:08] Beep6581 commented on #4028
RPU text added.

[2018-02-06 18:08] #4350 closed, assigned to agriggio

[2018-02-06 18:12] #3933 closed, assigned to nobody

[2018-02-06 19:22] Hombre57 commented on #4343
@agriggio I guess that you're very tempted to copy/pasta the code from Gimp, no problem, but then we should vote which of your solution or mine gives the best result. I'll call mine _Computed Cage_ and will be a new curve type (it won't replace _Custom_).

[2018-02-06 19:36] agriggio commented on #4343
@Hombre57 I am not tempted to do anything, I just wanted to point out an aspect of the otherwise-excellent curves tool of RT that could be improved imho. do as you please :-)

[2018-02-06 21:43] Beep6581 opened #4374 "Update LCP and DCP docs"
Update DNG and DCP docs

[2018-02-06 23:01] Beep6581 commented on #4374
Done:
http://rawpedia.rawtherapee.com/How_to_create_LCP_profiles
http://rawpedia.rawtherapee.com/How_to_get_LCP_and_DCP_profiles

[2018-02-06 23:01] #4374 closed, assigned to Beep6581

[2018-02-06 23:58] #3174 closed

[2018-02-07 10:14] Beep6581 opened #4375 "Memory leak when saving 32-bit TIFF"
Several times my whole computer froze (I managed to unfreeze it once by switching to TTY1 and killing RT) when testing patches and saving to various formats including 32-bit TIFF. I didn't encounter these freezes when saving only to 16-bit TIFF so the problem probably involves 32-bit TIFF files.

Steps to reliably reproduce:
* Open `amsterdam.pef` with Filmstrip visible, neutral profile.
* Open th

[2018-02-07 10:14] Beep6581 commented on #4375
https://discuss.pixls.us/t/feature-request-save-as-floating-point/5696/37?u=morgan_hardwood

[2018-02-07 10:17] Beep6581 opened #4376 "Segfault reading folder with own 32-bit compressed TIFF"
While testing #4375 I saved these three files from `amsterdam.pef` (neutral) using RT to /tmp
When I open /tmp in the File Browser, RT segfaults when reading the 32-bit compressed TIFF.
https://filebin.net/m1zclkjtmx1e7i2o

[2018-02-07 10:18] Beep6581 commented on #4376
Release:
[code]

[2018-02-07 10:29] Floessie commented on #4375
Yes. It's the reading that triggers the bug.

Don't know, I used "uncompressed".

I didn't do anything to metadata myself.

Maybe you need a slow or otherwise busy machine to trigger it.

HTH,
Flössie

[2018-02-07 10:42] Beep6581 commented on #4375
Reproduced, first post updated.

[2018-02-07 10:44] Beep6581 commented on #4375
Could not reproduce using @Floessie 's patch:
[code]

[2018-02-07 10:47] Beep6581 commented on #4375
@Floessie if you're ok to commit, I could make a new coverity build right away.

[2018-02-07 10:58] Floessie commented on #4375
@Beep6581 Please go ahead and push the fix. But why the new Coverity trigger: This is an old bug and I bet it was in the Coverity log, so this won't reveal anything new. Wouldn't it make more sense to tackle #4376 first?

[2018-02-07 10:59] Floessie commented on #4376
Cannot reproduce. Could you try to create a debug BT?

[2018-02-07 11:05] Beep6581 commented on #4375
@Floessie only because you (or someone else?) asked me to make a new one two or three days ago.

[2018-02-07 11:38] Beep6581 commented on #4376
[code]

[code]

[2018-02-07 11:59] Floessie commented on #4376
That's something for @heckflosse, regarding the `NaN`...

[2018-02-07 12:03] Floessie commented on #4375
@Beep6581 In fact, it was me. That was because of the newly added code, but we don't have to trigger a scan for single line changes...

[2018-02-07 12:29] Hombre57 commented on #4375
@Floessie I'd be interested to understand your patch : what's the difference between the suppressed line and the new one ?

I declared `ifdOffset` as int, while `IFDOffset` is unsigned int (as told in the specification). I'm coping one into the other [here](https://github.com/Beep6581/RawTherapee/blob/536ebb9974caf1c2189fdbc3ac858b9c43fee0be/rtexif/rtexif.cc#L2737). It might be a problem, but then

[2018-02-07 12:52] heckflosse commented on #4376
Looking...

[2018-02-07 12:54] Floessie commented on #4375
@Hombre57 The new one breaks the loop, if `ifdOffset` is negative, obviously. 😄

Why can't `ifdOffset` be negative? It's signed. And it will be `-1`, if the `fread()` in [`get4()`](https://github.com/Beep6581/RawTherapee/blob/c1397446470e2cad95fb1754eca0face28ef5df5/rtengine/dcraw.cc#L301) fails, because the [`fseek()`](https://github.com/Beep6581/RawTherapee/blob/536ebb9974caf1c2189fdbc3ac858b9c4

[2018-02-07 13:03] heckflosse commented on #4376
This patch fixes the crash, but also clearly shows, that something with the compressed tif file or reader is wrong...

[code]

Screenshot of patched rt:
![grafik](https://user-images.githubusercontent.com/13733487/35918417-0fbddc4e-0c12-11e8-9c7f-f0e884be6a70.png)

[2018-02-07 13:04] Beep6581 commented on #4375
We don't. The last scan was 10 days and 68 commits ago, and I will make a new one for RC1.

[2018-02-07 13:09] Floessie commented on #4375
Ah, okay, I thought that was already [done](https://github.com/Beep6581/RawTherapee/issues/4028#issuecomment-363409814).

[2018-02-07 13:37] Beep6581 opened #4377 "Corrupt compressed 32-bit TIFF"
Continuation from #4376

Test files:
https://filebin.net/0b4gl6a2alvvndlf

Both RT and GIMP show garbage:
![screenshot_20180207_143515](https://user-images.githubusercontent.com/5844619/35919069-2e401c52-0c14-11e8-9295-fe29bf04807a.png)

https://discuss.pixls.us/t/tiff-tag-predictor-predictor-floatingpoint-on-32-bit-images/5952/4?u=morgan_hardwood

@Hombre57 wrote:

There are some odd things in th

[2018-02-07 13:38] Beep6581 commented on #4376
Confirmed that the patch fixes the crash, now both RT and GIMP correctly show garbage:
![screenshot_20180207_143515](https://user-images.githubusercontent.com/5844619/35919069-2e401c52-0c14-11e8-9295-fe29bf04807a.png)

@heckflosse could you commit this so that we can close the issue, and continue discussion about the corrupt image in #4377?

[2018-02-07 13:40] heckflosse commented on #4376
@Beep6581 commit to dev and then merge dev into release5.4?

[2018-02-07 13:42] Beep6581 commented on #4377
@LebedevRI pointed this out:
https://github.com/darktable-org/darktable/blob/master/src/imageio/format/tiff.c#L99-L153

[2018-02-07 13:46] #4376 closed, assigned to nobody

[2018-02-07 13:46] Beep6581 commented on #4377
RT uses:
[code]

`/usr/include/tiff.h`
[code]

[2018-02-07 13:48] Beep6581 commented on #4377
Isn't the first line is unnecessary?
[code]
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc#L1474

[2018-02-07 13:53] #4375 closed, assigned to nobody

[2018-02-07 14:00] Beep6581 commented on #4377
Does not fix the issue, but
[code]

[2018-02-07 14:02] Beep6581 commented on #4377
About endianness:

https://www.awaresystems.be/imaging/tiff/tifftags/fillorder.html

We don't seem to set a `TIFFTAG_FILLORDER` tag at all...?

[2018-02-07 14:22] heckflosse commented on #4377
@Beep6581

[code]

leads to this when I save uncompressed float tif
[code]

[2018-02-07 14:30] Beep6581 commented on #4377
Setting `TIFFTAG_FILLORDER` to either `FILLORDER_MSB2LSB` or `FILLORDER_LSB2MSB` didn't help, but swapping `wl` with `wb` in the "little hack" fixed the problem:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc#L1340

[2018-02-07 14:40] LebedevRI commented on #4377
I would still recommend checking how completely disabling exif writing affects it (while keeping `wl`)

[2018-02-07 15:03] Beep6581 commented on #4377
@LebedevRI I just tried that, and the saved images open fine if `exifRoot` is deleted.

[2018-02-07 15:04] jannefoo opened #4378 "Corrupted pixels near image's edge when using Amaze demosaicing and specific flat field image"
Corrupted rows of pixels appear in the edge portion of an image when using flat field image that has been processed with Pixelfixer (eg. averaged from several raw files). However, the corruption is not present when viewing the flat field image alone, only when applying the flat field image to regular, untouched DNG file. Amaze is the only demosaicing method that shows the corrupted pixels.

Screen

[2018-02-07 15:20] heckflosse commented on #4377
This patch fixes the issue in my tests:

[code]

[2018-02-07 15:24] LebedevRI commented on #4377
So just to summarize, i think the conclusion is: `s/wl/wb/` is not the fix, it just happens to work for because
1. you are on little-endian machine
2. the EXIF you embed is big-endian
=> so they don't disagree now

if anything changes it will break again.
The likely root cause is how you embed exif.

[2018-02-07 15:43] heckflosse commented on #4378
@jannefoo Are you sure this is caused by the flat field file and not by the dark frame file `masterdark-dsc_5718.dng` which unfortunately is not in the zip?

[2018-02-07 15:45] heckflosse commented on #4378
@jannefoo Scratch my comment. The pp3 in the zip was set to igv. Now using amaze I can reproduce

[2018-02-07 15:49] heckflosse commented on #4378
That's somehow caused by the black stripe at upper border of flat field image

[2018-02-07 15:59] Beep6581 commented on #4377
Confirmed, the patch fixes the issue. Tested on 16-bit and 32-bit un/compressed TIFFs.

[2018-02-07 16:17] #4377 closed, assigned to nobody

[2018-02-07 16:55] TooWaBoo commented on #4148
New update

` mingw-w64-x86_64-binutils`

[2018-02-07 17:41] heckflosse commented on #4378
This patch fixes the issue. It skips correction for areas where the pixel values in flat field image are <= 1.0
Currently it does it only for bayer sensor files. When the patch is reviewed, I'll add the functionality also for xtrans.

[code]

[2018-02-07 18:05] Floessie commented on #4378
The code looks reasonable, though I didn't check the semantics of `vmaskf_le()` (`le` is "less or equal", `f` is `float`, but `mask`?).

👍 from me.

[2018-02-07 18:22] heckflosse commented on #4378
@Floessie [vmaskf_le(a, b)](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/helpersse2.h#L317) creates a 128bit mask which then is used in [vself](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/sleefsseavx.c#L909) to select the correct values.

in newer gcc versions you can even write `a = a <= b ? 1.f : a;` where `a` and `b` are vectors of 4 floats, but clang does not like th

[2018-02-07 18:31] Floessie commented on #4378
Now I see. For reference:

https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_cmple_ps&expand=988

https://software.intel.com/sites/landingpage/IntrinsicsGuide/#expand=436&text=_mm_blendv_ps

Thanks!

[2018-02-07 18:37] heckflosse commented on #4378
@Floessie the documentation for _mm_blendv_ps is obviously wrong
[code]

[2018-02-07 18:49] Floessie commented on #4378
@heckflosse Not the only thing that is wrong at Intel... 😉

[2018-02-07 18:52] heckflosse commented on #4378
@Floessie seems I was wrong:
`The register assignment of the implicit mask operand for BLENDVPS is defined to be the architectural register XMM0`

[2018-02-07 21:27] heckflosse commented on #4378
Just to clarify. This patch will be for after release of 5.4

[2018-02-07 21:48] heckflosse opened #4379 "Float tiff files saved from rt should look the same as int tiff files saved from rt when opened in rt"
To reproduce:

1) download [this underexposed NEF](https://filebin.net/kowy715lr027rul1/D700_20140718_4161.NEF) (Jacques, Hombre and DrSlony know the dog)
2) Open the NEF in rt and apply neutral profile
3) save to 16 bit tiff
4) save to 32 bit tiff
5) compare the tiffs, they should look equal, but they don't, because the missing highlights lead to brightening the 32 bit tiff while opening in rt (c

[2018-02-07 22:56] heckflosse commented on #4224
@Floessie I tried to reproduce but failed. As the deadlock is an old bug, your recent patches reduced the deadlocks, and the original problem is solved, shouldn't we create a new issue for the deadlock and mark this as solved?

[2018-02-07 23:15] heckflosse commented on #4379
Here's a possible patch:

[code]

with this patch, 32 bit tiffs which are in [0;1] range will stay in [0;1] range instead of being normalized from [0;max value of tiff] to [0;1] range.
32 bit tiffs which exceed the [0;1] range will be normalized to [0;1] range but not clipped.

[2018-02-07 23:17] Hombre57 commented on #4379
@heckflosse

No, because it's only an initialization, they will be computed later. I'm preparing a patch.

[2018-02-07 23:18] heckflosse commented on #4379
@Hombre57 I tested and it works for what I suggested

Edit: and the initial value of max and min of course has an influence on the resulting value ;-)

[2018-02-07 23:26] Hombre57 commented on #4379
@heckflosse We don't want to normalize at all, as said by Elle.

[2018-02-07 23:31] heckflosse commented on #4379
@Hombre57 👍 for not normalizing at all. I just wanted to make a minimal invasive patch :)

[2018-02-07 23:32] Hombre57 commented on #4379
Ok, but I'd recommend you to tell what you have in mind.

[2018-02-07 23:35] heckflosse commented on #4379
I had in mind to keep images which are in [0;1] range in that range instead of normalizing from [min >=0;max<=1] to [0;1] range and to normalize images which exceed the [0;1] range to [0;1] range.

But as I already wrote: 👍 for not normalizing at all

[2018-02-08 06:36] Floessie commented on #4224
@heckflosse I'm going to start a new issue, refer to it here, and close this issue then.

[2018-02-08 07:28] Floessie opened #4380 "F3/F4: SEGV, deadlock, out of sync"
When hitting F3/F4 like a berserk to switch between a RAW and a JPEG (in the middle of other RAWs and JPEGs), strange things happen. I'm on 0c1befb82d9a9d125bf12de21f558d90e13c1cc5.

### SEGV

[code]

[code]

[code]

[code]

### Deadlock

See [*Detail windows seem broken*](https://github.com/Beep6581/RawTherapee/issues/4224#issuecomment-360725587) for a backtrace with an older version. I can't cur

[2018-02-08 07:29] Floessie commented on #4224
Created #4380. Closing here.

[2018-02-08 07:29] #4224 closed, assigned to nobody

[2018-02-08 09:09] Floessie commented on #4319
I found a solution. 🎉

[code]

Still, the [suffix problem](https://discuss.pixls.us/t/rt-crashes-when-trying-to-open-processing-queue/6656/20) should be fixed in `multilangmgr.cc`.

HTH,
Flössie

[2018-02-08 09:29] Beep6581 commented on #4319
This sounds like something we should have in 5.4, no?

[2018-02-08 09:38] Floessie commented on #4319
Uhm, the tought of having something so big (GTK init shifted) so late troubles me. But it's your decision.

We also need another patch for `multilangmgr.cc` that first reads `LANG`, remembers the suffix, and adds it back when setting `LANG`.

[2018-02-08 11:28] Desmis commented on #4379
@heckflosse

Ingo
Felix, how is he?
jacques

[2018-02-08 12:20] heckflosse commented on #4319
@Floessie

[code]

[2018-02-08 12:33] Floessie commented on #4319
Exactly! 👍 I had no idea, if there are oddities with msys2, like the ones for `putenv()`.

[2018-02-08 12:54] heckflosse commented on #4319
@Floessie I tested your patch on Win7. Works fine. 👍 to commit

[2018-02-08 13:05] Floessie commented on #4319
@heckflosse Ingo, I'll do so tonight. May I also include your patch, or will you push it?

[2018-02-08 13:19] heckflosse commented on #4319
@Floessie please include my patch

[2018-02-08 18:39] heckflosse commented on #4379
@Desmis

Jacques
Felix and cri-cri are doing well :)

Ingo

[2018-02-08 19:05] heckflosse commented on #4319
@Floessie [damn](https://discuss.pixls.us/t/rt-crashes-when-trying-to-open-processing-queue/6656/23)

[2018-02-08 20:04] Floessie commented on #4319
@heckflosse Anyway, I think that's the right way to go. I'll push both patches to `dev`, so @Beep6581 can decide, if he cherry-picks them to `release5.4` (no dash this time?). It could well be that MacOS doesn't like different locales in different threads...