[2021-06-21 15:03] atomicflag commented on #3317
@maderios Same. Honestly after I started using Digikam in my workflow I'm not so sure I need sorting in RT. I mean, it'd still be nice to have as a feature but Digikam is so much better at managing photo albums than RT or even Darktable, IMO. Digikam for managing photos, Rawtherapee for developing raw files works quite well for me.

[2021-06-21 15:09] Thanatomanic commented on #3317
While I'm sympathetic to everybody's cause and would like sorting in the file browser myself as well, there's no point bumping this issue. Also, I hope you understand that when you say you've already found a good workflow with Digikam, the incentive for somebody to invest time and effort to recreate the same functionality in RawTherepee is not very large?

[2021-06-21 16:11] maderios commented on #3317
@Thanatomanic Thanks for your answer. I know developing new function in file browser takes time but what is the purpose of a file manager without a sorting function? When i want to edit raws, I have to launch two softwares Digikam (or other file manager) and RawTherapee but I just need one: RawTherapee.

[2021-06-21 16:21] cogitech2 commented on #3317
Indeed.

Not to mention that the digikam solution does not work for everybody. I have a massive library of raw files and digikam chokes and locks up every time I try to build an initial db, therefore it is useless to me.

My solution thus far has been to use a another full-featured RAW application and forget about RT. It is too bad, though, because I like every other aspect of RT.

Sent with [Prot

[2021-06-21 17:46] KarlMagnusLarsson opened #6288 "RAT"
**Short description**

**Steps to reproduce**

**Expected behavior**

**Additional information**

[2021-06-21 18:03] #6288 closed, assigned to nobody

[2021-06-21 18:10] maderios commented on #3317
@cogitech2 This doesn't concern RawTherapee but you may report your issue here: digikam-users@kde.org. Devs give you answer.

[2021-06-21 18:12] KarlMagnusLarsson opened #6289 "RT-dev: Canon CR3 files rendered white in edit window"
**Short description**
Canon CR3 files rendered white in edit window when opened.

**Steps to reproduce**
1: git clone https://github.com/Beep6581/RawTherapee.git
2: build RT from source
3: run RT and open attached CR3 file in edit window: [example-file](https://drive.google.com/file/d/1ReDKOUqXcjWK5Ev9qxlIwMfkh5VSQKdX/view?usp=sharing) (Canon R5)
4: RT Edit window renders a white frame.

**Expecte

[2021-06-21 18:32] atomicflag commented on #3317
@Thanatomanic

Well, I do, that was my intention.

Since this issue is for discussing a new feature, I think it's reasonable to discuss whether this new feature belongs in RT or should be delegated to some other software. Please don't take this the wrong way, I don't mean to be rude or sound entitled, I'm simply providing additional (and hopefully meaningful) input.

RT is certainly lacking in fea

[2021-06-21 19:15] cogitech2 commented on #3317
As discussed, sorting by date/time stamp (from exif) is a fundamentally essential feature for anyone who shoots events with multiple cameras. Using separate software is not a practical solution in this scenario.

To be specific, here is an example. 2 people shoot a wedding with 2 cameras each. A wedding (like most events) is an event that only makes sense in chronological order. Therefore, before

[2021-06-21 19:22] #6233 closed, assigned to nobody

[2021-06-21 19:31] Thanatomanic commented on #3317
@cogitech2 @coffee-lord @maderios I'll be frank here: there's really no need to explain why this feature is useful, nor that you fail to understand why it's not part of the software. It's all clear, there's just somebody who needs to pick up the coding...
If you can volunteer or know somebody who can, you're most welcome to contribute.

[2021-06-21 20:35] gaaned92 commented on #6289
@Thanatomanic
Confirmed. Could it be a syntax error?

[2021-06-21 20:39] atomicflag commented on #3317
@cogitech2

Is DigiKam completely inappropriate? My workflow is very similar to what you described. I do steps 1 thu 3 in DK, then I open the folder in RT, do processing (copy/paste processing profiles as needed), export high-res JPEGs, switch back to DK, do some final touch-ups and upload to flickr/downsize for web from within DK. I do have 2 cameras. I don't see any issues with using 2 programs,

[2021-06-21 21:27] KarlMagnusLarsson commented on #6288
Thank you for closing. This issue report was a mistake. The intended issue became #6289.
I apologize for the confusion.

[2021-06-22 03:35] #6289 closed, assigned to nobody

[2021-06-22 03:36] Thanatomanic commented on #6289
Thanks for reporting @KarlMagnusLarsson. @gaaned92 has the right idea, it was a single comma...

[2021-06-22 04:00] Thanatomanic commented on #6286
rawtherapee(1606,0x10123bd40) malloc: Double free of object 0x10fff1f40
rawtherapee(1606,0x10123bd40) malloc: *** set a breakpoint in malloc_error_break to debug
zsh: abort      build/Release/MacOS/rawtherapee

I have no clue where this might come from and it seems to be an issue thrown by some GTK internal function...

[2021-06-22 11:27] Thanatomanic commented on #6150
Thanks to a friendly message on Pixls, this is actually a bug. @Desmis Can you take a look why all Local adjustment spots are removed when a simple partial profile is applied even when the partial copy mode is active?

You can test with this pp3 if you like:
[testprofile-RGBCurves.pp3.txt](https://github.com/Beep6581/RawTherapee/files/6693832/testprofile-RGBCurves.pp3.txt)

[2021-06-22 11:33] Desmis commented on #6150
@Thanatomanic
I don't master everything in Local Adjustments, especially this part with "partial profile".

I prefer, if he agrees, to let the designer of this part take care of it  @Pandagrapher

Jacques

[2021-06-22 18:46] Thanatomanic commented on #5632
@Beep6581 Anything I can help with? Don't hesitate to ask, I'm happy to learn at thing or two about the release process.

[2021-06-22 18:48] Thanatomanic commented on #6041
Hi @Manfred-Knick I completely missed this issue, sorry. The only way to create your requested DCP file, is if you provide good quality raw images of a color target as described here: http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2021-06-22 19:16] Thanatomanic commented on #5952
In view of the delay, I have generated a DCP instead. @maxmoritz Would you be willing to test if this improves the color rendition of your X-T4 files?
[FUJIFILM X-T4.zip](https://github.com/Beep6581/RawTherapee/files/6696854/FUJIFILM.X-T4.zip)
Unpack, and load the DCP file from the Color Management tool
![image](https://user-images.githubusercontent.com/6567747/122985946-0dd11880-d39f-11eb-8631-87

[2021-06-22 19:22] Thanatomanic commented on #5951
I tested some shots from the DC-S5 from various places and of various scenes (different lighting). I did not find any weird color behavior. @Beep6581 Not sure what you found, but the DCP now shipping with RT seems good.

[2021-06-22 19:23] Thanatomanic commented on #5951
Closing until further notice

[2021-06-22 19:23] #5951 closed, assigned to Beep6581

[2021-06-22 19:52] Thanatomanic commented on #5865
After revisiting these shots and testing some more images with different lighting, I can only conclude that the generated profile is not very good. I believe the shot taken with tungsten lightbulb was either _not_ with a true tungsten lightbulb, or there was too much glare on the color chart. It does look a little flat.

![image](https://user-images.githubusercontent.com/6567747/122990170-edf02380

[2021-06-22 20:06] Thanatomanic commented on #5862
Hi @noirsabb, could you maybe check this DCP file? Please test it on a few of your sample photo's by loading it manually through the Color Management tool.
[Canon EOS-1D X Mark III.zip](https://github.com/Beep6581/RawTherapee/files/6697117/Canon.EOS-1D.X.Mark.III.zip)

I'm particularly interested in the color rendition of shots taken in artificial lighting.

[2021-06-22 20:09] Thanatomanic commented on #5835
Closing for now, the available profile should be of sufficient quality.

[2021-06-22 20:09] #5835 closed, assigned to nobody

[2021-06-22 20:10] Thanatomanic commented on #5647
@NAwlinsContrarian If you still have these DNGs available, would you be willing to reupload them?

[2021-06-24 08:27] ff2000 opened #6290 "Crash when moving crop window using SHIFT+Mouse"
RT Version:
[code]
RT-5.8 is not affected.

* Open RawTherapee by passing a raw file via CMDArgs (or open it from within your file browser) So no file browser/editor/queue tab bar is visible
* Activate Crop and select a format different from your cameras default.
* Press SHIFT + Left Mouse Button Click and move the selection
* When you release the SHIFT key RT crashes.

[code]

I can't get a bette

[2021-06-24 08:57] heckflosse commented on #6290
Confirmed. Making debug build now for a BT

[2021-06-24 09:49] heckflosse commented on #6290
BT

[code]

[2021-06-24 09:58] heckflosse commented on #6290
Fix follows

[2021-06-24 10:01] #6290 closed, assigned to nobody

[2021-06-24 10:07] heckflosse commented on #6290
There might be some more possible crashes. I will investigate...

[2021-06-24 10:10] heckflosse commented on #6290
In keyPressed event we have this

[code]

so all should be fine

[2021-06-26 08:37] ghost opened #6291 "Lenses not being picked up correctly when used with Nikon Z series bodies."
First of all: I'm not sure how much of this is a lensfun issue and as such cannot be dealt with by the RawTherapee team. Just putting this out here just in case there is a RT part that can/needs to be fixed.

**Short description**
RawTherapee reports/uses the wrong lens info when using F-mount lenses on a Nikon Z6 II body.

**Expected behaviour**
Lenses to be picked up correctly by the _Profiled L

[2021-06-26 09:24] ff2000 commented on #6291
Related issue:
https://github.com/Beep6581/RawTherapee/issues/5733

[2021-06-26 09:43] Thanatomanic commented on #6139
The builds have stopped again at June 4th. @Beep6581 @aferrero2707
Is there something I could do to help fixing these kind of issues sooner, if time permits?

[2021-06-26 14:49] aferrero2707 commented on #6139
There is currently an issue in the updating of the rocker image used for
the builds. I am investigating, but I will probably have to generate a new
image from scratch.

Le sam. 26 juin 2021 à 11:43, Thanatomanic ***@***.***> a
écrit :

[2021-06-27 07:04] ghost commented on #6291
Some additional info:

If I look at the lens related information that exiv2 spits out I notice that there's more info for the Z6 when compared to the D750. Example:

D750 lens info info:

[code]

And this is from the Z6 with the same lens:

[code]
This is true for all 4 lenses I can test this with.

I know that RT does not use exiv2 at the moment, but the way info is gathered might be influenced b

[2021-06-27 15:01] Thanatomanic commented on #6291
@jade-nl FWIW, I've downloaded the files. atm I don't have time to look into a fix...

[2021-06-27 15:11] Thanatomanic opened #6292 "Uncertain: SSE2 and regular codepaths doubling in LMMSE"
@heckflosse or @Floessie

Because folks at darktable have ported our LMMSE code, I took a look at our implementation and noticed that there seem to be a few `#ifdef __SSE2__` statements without an `#else` clause. After the `#endif` the non-SSE code simply follows without guard. For example here:

https://github.com/Beep6581/RawTherapee/blob/4ab54c9fda8ec9e18603ec768e2b039d1f2c9217/rtengine/lmmse_d

[2021-06-27 15:21] Thanatomanic opened #6293 "Phase One iXM-100 support"
This file https://raw.pixls.us/data/Phase%20One/iXM-100/_849.IIQ produces pink garbage when opened in `5.8-3002-g4d1711412`. This specific file format or compression mode is not supported.

Potentially related: #3072, #6012

[2021-06-27 15:48] ghost commented on #6291
@Thanatomanic : That's no problem for me; I've created dynamic rules to fix it for my Z6II+lenses. A general solution in due time would be nice.

[2021-06-27 16:08] heckflosse commented on #6292
No, have a look at the declaration place (scope) of `cc` ;-)

[2021-06-27 17:19] heckflosse commented on #6292
@Thanatomanic

the pattern is:

[code]

[2021-06-27 17:51] Thanatomanic commented on #6292
I see, nothing wrong at least. Perhaps the compiler even optimizes it away. Though stylistically I don't like that I must interpret what the first loop does (if it runs) in order to know that the second one is skipped.

[2021-06-27 17:51] #6292 closed, assigned to nobody

[2021-06-27 18:07] Floessie commented on #6292
@Thanatomanic There's nothing to optimize away or to be skipped: not every width is divisible by four.

[2021-06-27 18:51] feuerrot commented on #6248
@Thanatomanic I can confirm that the `metadata-exiv2` branch can use CR3 metadata with the new release of libexiv2:
![screenshot of a rawtherapee window](https://pbs.twimg.com/media/E46LVB1XwAQND0a.png)

I currently do not have a patch, as I couldn't find the right place to `Exiv2::enableBMFF(true);`, instead I patched my libexiv2 so BMFF is always enabled.

[2021-06-27 20:06] Lawrence37 commented on #6291
The problem is the full lens name is not being read from the metadata.
![image](https://user-images.githubusercontent.com/45837045/123557922-6fe7a000-d748-11eb-8485-9808686f96aa.png)

[2021-06-27 22:56] wilchak opened #6294 "Ampersand in lens type leads to blank "quick info" box in editor"
RawTherapee always displays an empty info box when editing RAWs generated by the Pansonic GF6. I have only noticed this behavior with this one camera. You can see in the attached screenshot that the info box shows up, just with no text. However, in the file browser, you can see that RT is correctly reading the EXIF information, and I can confirm that Dynamic-based profile selection does match corr

[2021-06-28 11:27] Thanatomanic commented on #6294
When opening this file, the command line tells me:
[code]

This is because the lens used has the following name: `LAOWA C&D-Dreamer MFT 10mm F2.0`. The ampersand should be escaped when loading.

[2021-06-28 12:18] Floessie commented on #6294
@Thanatomanic Something like this?

[code]

If that's sufficient, I'll push directly to `dev`.

HTH,
Flössie

[2021-06-29 12:25] chaimav commented on #6267
It seems as those nightlies have also stopped updating :-(

[2021-06-29 14:08] Thanatomanic commented on #6267
Duplicate of the pinned issue https://github.com/Beep6581/RawTherapee/issues/6139

[2021-06-29 14:08] #6267 closed, assigned to nobody

[2021-06-29 16:10] PeriscopeInGit opened #6295 "With output profile as ADOBE RGB 1998 I get colors that are not correct even while the working profile is set to ADOBE RGB."
I am having difficulty match colors for ADOBE RGB 1998 set as output profile. I copied icc file from Adobe website to RawTherapee /usr/share/RawTherapee icc profile output folder. Is this supported? The color does not match even with the editor view in RawTherapee and the green below the tree looks very unnatural.

I can summarize below what does not cause any effects
- output image bit precision

[2021-06-29 16:25] Thanatomanic commented on #6295
I'm on mobile, so not able to verify thoroughly, but

This is both not correct procedure. Don't set input profile to none if you want accurate color representation. And don't set AdobeRGB as monitor profile (it's not a monitor profile).

[2021-06-29 16:44] PeriscopeInGit commented on #6295
Thanks for the quick turn around!

I have set input profile to the recommended one. It is that option at the bottom of editor where you can chose whether RT uses what profile(e.g. use system profile) which is None.

Agree on monitor profile comment. That was a desperation.

Will wait for your comments once you are able to check files.

Thanks,

[2021-06-30 04:57] Thanatomanic commented on #6294
@Floessie This does the trick! Thanks :+1:

[2021-06-30 05:27] Thanatomanic commented on #6295
@PeriscopeInGit I can see no differences when I view your supplied JPEGs in RawTherapee or in GIMP (keep profile on import). Processing your raw with the provided pp3 files also gives identical output, whether I set the output profile to my system's Adobe RGB profile or RTv4_sRGB.

You say "matches perfectly" - but against what? What are you comparing that makes you think something is wrong?

[2021-06-30 07:20] #6294 closed, assigned to nobody

[2021-06-30 16:56] PeriscopeInGit commented on #6295
Thanks. I have attached screenshots of the difference in AdobeRGB jpg and AdobeRGB Rawtherapee Editor View. I am unable to find the 'matches perfectly' (processed image Vs what I see on RawTherapee Editor View) image as I tried so many image and profile combinations (RT V2 V4 _sRGB and plain sRGB). I will get back on the exact match as well but I think its fair to say the following.

I think my is

[2021-06-30 17:09] PeriscopeInGit commented on #6295
I may have identified the cause. I don't remember having received an option of whether to keep /convert profile when I opened first time in GIMP. I will redo this test and confirm back tomorrow. Thanks!

[2021-06-30 19:59] PeriscopeInGit commented on #6295
All right, needed to keep GIMP color management on to be able to get the match( GIMP and RT editor) colors for ADOBE RGB. A Not sure why they  worked fine with Color Management off for sRGB. I did not try other color profiles. But in any case this is not a RT issue.

Also it does not prompt to convert profile for ADOBE RGB as I guess this is built in profile available with GIMP.

Putting compariso

[2021-07-01 02:37] hongjia opened #6296 "Background histogram in CC curve"
Running RT 5.8 in Linux.

I read in RawPedia http://rawpedia.rawtherapee.com/Lab_Adjustments#CC_Curve

Screenshots in rawpedia shows that the background histogram keeps constant when CC curve changes. But when I change the CC curve, the background histogram changes accordingly. It seems that the histogram reflects chromaticity **AFTER** the adjustment?

[2021-07-01 09:12] Beep6581 commented on #5647
@Thanatomanic no need, I have already handled them, just haven't committed the DCP yet.

[2021-07-01 09:16] Beep6581 commented on #5647
All accepted color target raw files can be found here: http://rawtherapee.com/shared/colortarget/

[2021-07-01 09:25] Beep6581 commented on #6139
@aferrero2707 as https://www.travis-ci.org/ is now dead, could you grant me and @Thanatomanic access to `rt-appimage` and `rt-win64` on https://www.travis-ci.com/ ?

[2021-07-01 09:31] Beep6581 commented on #5632
Apologies for the delay. I had to fix my house's gable before the rains come, and the "3 day job" turned into a two week thing...

[2021-07-01 12:15] chaimav commented on #5632
How dare you put your personal needs before providing a volunteer service for the rest of us ;-)

I hope you managed to get everything done before any water damage happened.

[2021-07-02 09:55] peti opened #6297 "RAW support for Panasonic GH5M2"
I have uploaded RAW reference images taken with the Panasonic GH5 Mark II to <https://raw.pixls.us/>. I hope those are helpful in the process of adding support for that (brand-new) camera.

[2021-07-03 18:23] #6295 closed, assigned to nobody

[2021-07-03 18:33] Lawrence37 commented on #6295
Probably because many programs interpret colors as sRGB in the absence of proper color management.

[2021-07-03 22:57] Lawrence37 commented on #6296
The documentation is outdated. A similar issue was brought up about the L* histogram in #5180.

[2021-07-04 14:10] marter001 opened #6298 "Local adjustments - renamed spot isnt shown in History"
[Version]
AppVersion=5.8-2983-g3f58095b6
Version=349

when renaming a spot for local adjustments, this will be shown in the history as expected. If there is any further change on this spot, the history again will not show the new name, but (new spot) as before.

Edit: after reopen the pic in editor, the new name is shown correctly in history.

[2021-07-05 17:36] PeriscopeInGit commented on #6295
True. Checked on gimp docs. When color management is turned off it uses sRGB.

[2021-07-05 17:55] rebio commented on #6163
Since all other issues with fixed issues were closed I guess this one can be closed as well

[2021-07-05 17:55] #6163 closed, assigned to nobody

[2021-07-05 21:56] Lawrence37 commented on #6298
This patch fixes it. I will commit it to dev if there are no problems.
[code]

[2021-07-06 04:32] Desmis commented on #6298
@Lawrence37

I just tested your patch...It's OK, now works fine :)

jacques

[2021-07-06 07:37] Floessie commented on #6298
@Lawrence37

[code]

Is the `&&` a typo, or what's the benefit here?

Best,
Flössie

[2021-07-06 08:33] Floessie commented on #6298
@Lawrence37 [Enlightening answer by Howard Hinnant.](https://stackoverflow.com/a/13130795) So I seem to be the one who didn't catch up with the `auto&&` idiom, still prefering `auto` for values, `const auto&` for const access, and `auto&` for non-const references in range based for loops. :wink: Thus I'll change the latter (`auto&`) to `auto&&` in my coding, but will still use `auto` and `const au

[2021-07-06 09:31] heckflosse commented on #6298
Hmm, why do all tools of a spot have the same name? Wouldn't it be better to store it only once?

[2021-07-06 14:30] Studiedlist commented on #6273
Hi! Jpeg-xl is great, I would like to see it in RawTherapee
I could do some experiments in implementing import/export features. Can you navigate me through code so I would know where to start?

[2021-07-06 15:16] Thanatomanic commented on #6273
@Studiedlist The main functions for loading can be found here https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imageio.cc

Maybe that can be a good starting point? We haven't added new file formats in years, so I cannot point you to a PR or issue that you could use as reference. Don't hesitate to ask.

[2021-07-07 05:13] Lawrence37 commented on #6298
The tools initially get the name from reading the `ProcParams` individually, which is why each tool has a copy of the spot name. It might be feasible to store the name in `Locallab` because it is the one supplying the `ProcParams` and guarantees all the tools operate on the same spot. I will try this approach.

[2021-07-07 08:07] ascherer opened #6300 "[Rawpedia] Typo in chapter "The Queue""
**Additional information**
On page [The Queue](http://rawpedia.rawtherapee.com/Queue) in section "Adding Images to the Queue" the second item should read **Put to the head/tail of the processing queue** instead of **…the the…**.

The _same_ typo occurs in the next section "Queue Settings", too.

[2021-07-07 08:21] ascherer opened #6301 "[Rawpedia] Markup visible in chapter "The Editor""
**Additional information**
On the page [The Editor](http://rawpedia.rawtherapee.com/Editor) in section "Eek! My Raw Photo Looks Different than the Camera JPEG" there's a visible pair of `[b]` and `[/b]` instead of the expected **bold** effect on the text **RawTherapee does not "add noise"!**

[2021-07-07 08:35] Studiedlist commented on #6273
Thanks, I will try to understand this part of code and implement jxl features

[2021-07-08 19:10] Thanatomanic commented on #6300
Thanks @ascherer for reporting. It is fixed now.

[2021-07-08 19:10] #6300 closed, assigned to nobody

[2021-07-08 19:12] Thanatomanic commented on #6301
Fixed

[2021-07-08 19:12] #6301 closed, assigned to nobody

[2021-07-11 17:20] Bezierr opened #6303 "Partial Profile not saved correctly"
RT 5.8 release version (commit a9e0acbf) on Windows 10 20H2

There seems to be an interference between copying/pasting and saving a partial profile.

To reproduce:
1. Open a picture in Editor.
2. Do Ctrl-"Copy current processing profile to clipboard"
3. Select "Color Toning"
4. "Paste Profile from clipboard"
5. Do Ctrl-"Save current profile"
6. Select "White Balance" and "Exposure"
7. Save
8. Open

[2021-07-13 14:25] ghost commented on #6303
I'm not able to reproduce this.

Following your steps I end up with a filled and usable sidecar file. I tried this multiple times with both edited and neutral (via neutral profile) versions of some RAW files.

Some info:

* RawTherapee version : 5.8-3051-g71e8eeaf8
* OS                : Linux (kernel 5.9.15-1 x86_64 amd64)
* Distro            : Debian Buster (rel. 10.10)
* Graphics driver   : nvid

[2021-07-13 20:39] mutusmurum opened #6304 "Oklab Implementation?"
I really love that RT implemented CAM02 a long time ago. I use it a lot. Since CAM02 development though, there has been improvements on the color adaptation area (both in perceptual quality and simplicity of implementation). One of those is Oklab, explained in this blog post by the author:
https://bottosson.github.io/posts/oklab/

Differently from the CAM02, Oklab implementation seems quite straig

[2021-07-14 10:18] 10110111 commented on #5141
I've found that it's because `TIFFTAG_EXIFIFD` has type `IFD8` in libtiff 4.0.0 and higher (see [this discussion](https://feedback.photoshop.com/conversations/default_topic/tifftag_exififd34665-tag-data-type-in-latest-photoshop-software-and-the-version-of-libtiff-library/5f5f459a4b561a3d4255f4e2)), and this type is 64-bit, unlike previous versions where it was `long`, which is 32-bit.

The result

[2021-07-14 14:52] Bezierr commented on #6303
Hmm... Interesting. Tried it again, with RAW from a different camera, same result. Both for "Dynamic Profile" (which I normally use) and "Neutral".

is all I have in the file.

You did do the "Paste" step, didn't you? Because without it, it works.

My RT version is 5.8 release, downloaded from the RT website on 2020-02-26.

Interestingly, when I tried the same with a self-compiled dev version (not

[2021-07-14 15:41] ghost commented on #6303
Ah, yes I made an assumption yesterday which I should have asked about. Sorry about that!

First of all: If I follow your steps by the numbers I _can_ reproduce. But...

The assumption I made yesterday concerned the *Do Ctrl-"Copy current processing profile to clipboard"* step. You do not select anything that needs to be copied to the clipboard. So I assumed that you meant copy and not ctrl-copy.

[2021-07-14 15:50] Bezierr commented on #6303
The idea is that you do Ctrl-"Copy current processing profile to clipboard" (Step 2) and in the window that opens select "Color Toning" (Step 3). So the profile on the clipboard is _not_ empty but contains the settings for, well, color toning. (Probably selecting something else would do, too, but I haven't tried it.)

In the same way, Step 6 is meant to do the selection in the window that opens af

[2021-07-14 15:53] Bezierr commented on #6303
![image](https://user-images.githubusercontent.com/38507161/125652893-a3d922a8-7263-4cd1-b112-c600b579b29d.png)

[2021-07-14 16:20] Thanatomanic commented on #6303
I can confirm as well, good catch. I have no intimate knowledge of the code that handles profile copying/pasting/saving, so I cannot really help out without a much more careful look. Perhaps @heckflosse @Lawrence37 or @rom9 has some time and idea?

[2021-07-14 16:28] Thanatomanic commented on #6304
@mutusmurum I knew about Oklab (and similarly the Jzazbz color space) but so far I have not yet found a usecase where it provides a real improvement over the currently available tools. These are the L\*a\*b\* Adjustments module ('simple' Lab), Color Appearance & Lighting and submodules in Local Adjustments (both CIECAM02/16).
If I understand correctly, Oklab is not a fully fledged Color Appearance

[2021-07-14 20:13] rom9 commented on #6303
By looking at this line:
https://github.com/Beep6581/RawTherapee/blob/d7f9e1f51c740e625485155e9ecb17b1ffa15acf/rtgui/profilepanel.cc#L362

it seems that parameters are saved only if they were edited (see `toSave->pedited`), but when "Custom" is selected, none of the ParamsEdited flags are set ... so, the Exposure and WB sections are not saved, even though they were selected in the partial save dia

[2021-07-15 05:17] Lawrence37 commented on #6303
Give me some time to look into this. I want to understand what's happening to `pedited` here.

[2021-07-15 07:31] Floessie commented on #5141
@10110111 Ruslan, thanks a lot for your investigations. Would you mind filing a PR with either `static_cast<std::uint64_t>(8)` or `8ULL`?

Good job! :+1:

Best,
Flössie

[2021-07-15 08:04] 10110111 commented on #5141
I guess there should be a middle-ground option, `UINT64_C(8)` :) . Static-casting a literal looks quite strange, and this one will be equivalent to the suffixed version, still being explicit about fixed 64-bit size. If you don't mind, I'll submit this one in a PR.

[2021-07-15 19:47] chaimav opened #6306 "Overwriting a saved profile with an ampersand (&) does not show text in warning"
Tested on RawTherapee versions 5.8-2983 (from nightlies) and 5.8-3009 (compiled locally) for Windows 10.
I was working on a black and white profile and noticed a bug.

To reproduce:
1. Save a profile with an ampersand character in the name (e.g. B&W.pp3)
2. Attempt to save the profile by overwriting the existing one.

Expected behavior: a descriptive warning (shown here with a hyphen)
![B-W](https

[2021-07-15 19:50] mburns9 opened #6307 "Canon EOS-1Ds Mark II support"
The Canon EOS-1Ds Mark II is one of the best cameras for realistic color, and it deserves more than a matrix color profile in RawTherapee.

(I did my own icc profile using linearly interpolated data from the linked GretagMacbeth CC24 capture, by feeding the interpolated data to the argyll colprof tool. Compared to the dcamprof icc profile that I also made, the colprof icc file yields more accuracy

[2021-07-15 20:59] Thanatomanic commented on #6307
@mburns9 Your Google Drive link requires me to ask for access. Could you please provide an alternative (public) download link?

[2021-07-15 23:35] mburns9 commented on #6307
https://drive.google.com/file/d/1UzF2_eqvqnREn1tVoL5YUsPLNaEP93Qo/view?usp=sharing

It is my mistake. The sharing option is now set.

[2021-07-16 19:34] pTheologos opened #6308 "Clickable 1:1 (& other Section decorations)"
We have on a Section heading (Section = Exposure, Shadows/Highlights, Tone Mapping aso.) the „On/Off” button on the left part which we must click in order to turn on/off the said section.

On the latest ART we have also on the right part the „Revert” button which reverts the Section to its default values (by clicking on it) or to its last saved values (by ctrl+click on it).

Besides of ART’s featu

[2021-07-17 05:33] Lawrence37 commented on #6303
It seems like the use of `pedited` is a mistake. @rom9 OK from me to make the change.

[2021-07-17 17:48] Lawrence37 opened #6309 "Outdated Documentation for Saving/Opening Partial Profiles"
In http://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles#Partial_Processing_Profiles_and_Fill_Modes, it reads

This is only true for *loading* a profile. The order when *saving* a partial profile changed with #5501.

[2021-07-20 10:08] vcrash opened #6310 "Exact preview render feature"
It is known that some tools in RT require 1:1 zoom to be properly rendered in preview. And when some complex effects are in use such as a dynamic range compression, noise reduction or wavelets levels it is hard to control the overal image appearance.
It is always take a time to save the image, look at that and then return to RT to apply some changes. And then repeat all that again.
So what if to a

[2021-07-21 08:40] Thanatomanic commented on #6310
Duplicate of an old request: https://github.com/Beep6581/RawTherapee/issues/2900

[2021-07-21 08:40] #6310 closed, assigned to nobody

[2021-07-22 05:04] #5141 closed, assigned to nobody

[2021-07-22 21:54] marcapelini opened #6311 "Local Adustments: 'Film Grain' tool generating innacurate 1:1 preview"
The "Film Grain" tool in the "Local Adjustments" tab does not show a correct rendering of the output image at 1:1 magnification.  The noise in the preview looks much smoother and finely-grained than the one in the actual output file, making the preview image useless for evaluating the effect of the adjustments available in the tool ('Distribution (ISO)', 'Gamma', 'Strength').

Example of the image

[2021-07-22 22:17] Benitoite commented on #5590
Added `-DCMAKE_OSX_DEPLOYMENT_TARGET=10.15` to the instructions.

[2021-07-22 22:41] Benitoite commented on #6286
Can you provide information as to the libomp version, try building with the llvmorg-11.1.0, and/or try building with `-DOPTION_OMP=OFF`

[2021-07-23 14:31] virxkane commented on #6279
I guess same problem with CR3 raw files from Canon EOS R and 1.6 crop mode.
[log.txt](https://github.com/Beep6581/RawTherapee/files/6869400/log.txt)
current git 'dev' branch

[2021-07-24 13:19] Thanatomanic opened #6312 "Segfault when opening cropped Fujifilm X-Pro3 raw"
Reported here with a file to test: https://discuss.pixls.us/t/crash-when-opening-fuji-crop-raf-files/26055
Seems very similar to https://github.com/Beep6581/RawTherapee/issues/6279 (open issue) and https://github.com/Beep6581/RawTherapee/issues/6255 (closed issue).

I'm on holidays the coming week so cannot investigate immediately.

[2021-07-24 13:22] Thanatomanic commented on #6312
This is most likely where things break down for us: https://github.com/Beep6581/RawTherapee/blob/d52e032af8cb202573b557e1f2d2ba764d3f86c6/rtengine/dcraw.cc#L9993-L9996

Potential fix from how LibRaw handles things: https://github.com/LibRaw/LibRaw/blob/637b935bef384f6a96056c950696468d34335495/src/metadata/identify.cpp#L2268-L2287

[2021-07-24 14:51] Arumes commented on #3317
@Thanatomanic I read your comment that there's no need to explain, but because most requesters say they want sorting options because they use multiple cameras, I still think my explanation has some value:

It doesn't even require usage of multiple cameras to be useful. Olympus cameras have a strange file naming convention, which means alphabetical sorting is different from sorting by date. Olympus

[2021-07-24 16:46] Desmis commented on #6311
I push a commit to fixe this bad behavior (I hope)
I open a pull-request
https://github.com/Beep6581/RawTherapee/pull/6313

jacques

[2021-07-24 21:35] marcapelini commented on #6311
Perfect Jacques! That was really quick! ;-)

Comparing the result side by side, the preview looks faithful to the generated TIFF.  I checked the histogram in Gimp for a selection on both the preview and the TIFF file, and the statistics (mean/std dev/median) matched perfectly.

![rt_vs_gimp_film_grain_pr_6313](https://user-images.githubusercontent.com/1328887/126881421-9c8b7e4d-693f-4bbc-88d0-67f6

[2021-07-24 22:35] Lawrence37 commented on #6311
@marcapelini I linked this issue to the pull request so it will automatically close when the PR is merged.

[2021-07-24 23:23] chgruver opened #6314 "Flatpack version won't allow use of secondary drives"
**Short description**

I have a dual boot system Windows and some form of Linux (currently Mint 20.2) I also have a partition that I share between both OSes. The problem is when loading RawTherapee from a flatpak it shows the shared partition but I am unable to access it. If I install the non flatpak version from the repositories (these apps are not always the most recent version especially on Min

[2021-07-25 12:39] #6311 closed, assigned to nobody

[2021-07-25 21:16] Lawrence37 commented on #6314
Have you configured Flatpak to give RawTherapee permission to access the partiton?

[2021-07-26 11:38] Floessie commented on #5141
@10110111 @Thanatomanic I can confirm the fix on Debian 11 i386.

@stratocaster7 Could you report back on the Mageia Bugzilla?

Best,
Flössie

[2021-07-27 01:26] Stuntflyer opened #6315 "Add "Edit In" to the context menu in both the File Btrowser and Filmstrip."
Using the pallet feature in the editor (edit the current image in external editor) is good for opening one file at a time. But, having to open similarly edited photos one at a time, like what's often seen in a portrait photo shoot, can be time consuming.

My feature request would be to make available the "Edit in" command within a right click context menu. I suggest placing it in both the Film Str

[2021-07-27 18:52] mburns9 opened #6318 "Canon EOS 5D Mark II profiling"
The Canon EOS 5D Mark II is a historically popular camera. So here is a raw shot of the classic ColorChecker 24 for profiling this camera.

https://drive.google.com/file/d/1DeMqV3a_2myUTq9Oeevi6oMyTfb8sIok/view?usp=sharing

[2021-07-27 18:57] mburns9 commented on #6318
This is taken in local prenoon time at Grand Rapids, MI. The sky is mostly blue.

[2021-07-27 19:29] #6303 closed, assigned to rom9

[2021-07-27 19:31] rom9 commented on #6303
Sorry for the delay! Both problems should be fixed now :-)

[2021-07-28 08:44] Thanatomanic commented on #6315
I do not yet fully grasp the benefit of this. RawTherapee's main goal is to edit raw files. This request is seems to be intended primarily for non-raw files and a workflow with multiple round trips back and forth to an external editor. Am I correct?

[2021-07-28 11:58] Stuntflyer commented on #6315
Roel, that is not why I made this request. I'm looking for a way to send multiple RAW files at one time to the external editor, for the purpose of saving time. Think of it as a one way trip to the external editor, no back and forth.

When I do product photos  I might have 6 shots taken at different angles. Send one to PS, go back to RT, send another to PS and so on until all are in PS. Just lookin

[2021-07-28 17:57] Barugon opened #6319 "Chromatic aberration auto correction turns images green"
**Short description**
~~Auto-Matched Curve and Standard Film Curve profiles~~ chromatic aberration auto correction makes images green.

When I first load an image, I have it use the neutral profile, which works fine:
![Screenshot from 2021-07-28 10-50-21](https://user-images.githubusercontent.com/16503728/127371776-0e589fc2-33da-4671-9c00-bce3904aa78e.png)

If I ~~switch the profile to Auto-Matche

[2021-07-29 06:51] Thanatomanic commented on #6315
@Stuntflyer then I partly misunderstood, sorry about that. So you edited a bunch of similar images in the same way, and you want all of them in Photoshop at once. I can see how RT can be more accommodating for that.
A question still remains, what would you do with that series in Photoshop? Edit them all, or culling? Or...

[2021-07-29 10:45] Benitoite commented on #6314
How did you install the flatpak?   Flatpaks are typically sandboxed by default.  If we know the source, we might be able to request a config change.

[2021-07-29 11:49] ghost commented on #6319
I'm not able to reproduce this.

I've tried it using the three cameras you mentioned, using 2 RAWs each and also some other cameras (Nikons).

Are you sure you start with a neutral profile?

---

* RawTherapee version : 5.8-3052-g4bf5fd78
* OS                : Linux (kernel 5.9.15-1 x86_64 amd64)
* Distro            : Debian Buster (rel. 10.10)
* Graphics driver   : nvidia (460.39)
* Compiler

[2021-07-29 12:34] Stuntflyer commented on #6315
I think of RT as a first step in my photo editing workflow. Obviously RT can't do everything, though sometimes the results are good enough so that there is no need for additional edits in an external editor.

For those times that I do need additional edits, I would go to a program like PS. Here is where having the export multiple images feature would come in handy. Once the photos are In PS, I wou

[2021-07-29 13:12] Floessie commented on #6319
Cannot reproduce on Debian Experimental AMD64 with GCC 11.1, 11.2 with and without LTO. :disappointed:

[2021-07-29 13:31] chgruver commented on #6314
I installed the flatpak via the command line method shown on flathub.org for RawTherapee

[2021-07-29 15:06] Barugon commented on #6319
![Screenshot from 2021-07-29 07-56-41](https://user-images.githubusercontent.com/16503728/127515264-bc617e30-16df-4546-b169-ce16c5b365e4.png)

Attempting to switch to either of the low-ISO versions of those profiles now results in a crash. I'll make a debug build later and get a stack trace.

[edit] Specifically, capture sharpening is causing a segfault.

[2021-07-29 15:23] Barugon commented on #6319
Chromatic aberration from the Raw tab is causing the color cast and it can also cause a segfault.

[2021-07-29 16:32] asalois opened #6320 "Needs expat>=2.1 on Fedora 34"
**Short description**
The problem was in the fedora section of the wiki about dependencies

"expat-devel" was left out.

**Steps to reproduce**
After installing dependencies like below from the wiki

sudo dnf install git make cmake curl gcc gcc-c++ gtk3-devel gtkmm30-devel lensfun-devel librsvg2-devel lcms2-devel fftw-devel libiptcdata-devel libtiff-devel libjpeg-turbo-devel libcanberra-devel liba

[2021-07-29 19:28] Benitoite commented on #6314
https://github.com/flathub/flathub/pull/789/commits/511032cbf0dcda9765a74766e97d0f58e8b245a6
~ Filesystem Access should be set to `host` to access `/mnt`
~ Needs updating to `5.8`
~ The flatpak was pulled from @scx
~ @paperdigits has some RT flatpak experience to bear.

[2021-07-29 22:04] paperdigits commented on #6314
I can make a PR for 5.8, as that is relatively straight forward.

You can use flatpak's cli interface or an app called FlatSeal, available from flathub, to adjust the permissions of your flatpak. Apps from flathub try to ship with a minimum of permissions and are supposed to be tweaked by the end user.

Also note that you can open issues against the flatpak itself.

[2021-07-29 22:06] paperdigits commented on #6314
@Benitoite the flatpak is at version 5.8

[2021-07-29 22:58] Benitoite commented on #6314
@paperdigits I recall this issue being raised a few years back also.  Thanks for looking into that, I have zero experience with flatpak besides these issues.  Looking at flathub/flathub, I am having trouble seeing the actual repository, or don't understand the flathub structure well enough to locate the com.rawtherapee.RawTherapee... file, to reference.

[2021-07-30 04:42] paperdigits commented on #6314
No problem. The repo is here: https://github.com/flathub/com.rawtherapee.RawTherapee

Let me know if you have more questions.

On July 29, 2021 3:59:00 PM PDT, Benitoite ***@***.***> wrote:
***@***.*** I recall this issue being raised a few years back also.

[2021-07-30 18:47] Raagcity opened #6321 "Hey Guy!"

[2021-07-30 18:48] #6321 closed, assigned to nobody

[2021-07-30 18:52] Raagcity opened #6322 "Transferring the ratings/rankings from xmp sidecar files to pp3 sidecar files"
Hey Guys! I would love to know if there's a way to get the ratings/ranking from an existing xmp sidecar file into the pp3 sidecar file? I mainly want this because the culling process in RawTherapee is a lot slower than something like Darktable.  I absolutely love the features of RawTherapee but the slow culling is huge bottle-neck when trying to go through 500+ images. Is there a solution to this

[2021-07-30 19:06] Thanatomanic commented on #6322
I guess this is very similar/identical to https://github.com/Beep6581/RawTherapee/issues/6084
In the meanwhile I do not know of a workaround. Perhaps you can ask around on our support forum: https://discuss.pixls.us

[2021-07-30 19:06] #6322 closed, assigned to nobody

[2021-07-30 19:27] Thanatomanic commented on #6320
Thanks, it was missing indeed. I added it http://rawpedia.rawtherapee.com/Linux#Fedora

[2021-07-30 19:27] #6320 closed, assigned to nobody

[2021-07-30 22:44] Randalix opened #6323 "File Browser: Write Selection File"
There should be an option to write out a plain text file containing full paths of selected images.
This would enable advances scripting possibilities e.g. passing the selection to file browsers like nnn, uploading the selected files or compressing them, etc..
The file could be written each time a selection event occurs or it could be an entry in the right click menu and/or a shortcut.

[2021-07-31 08:56] Randalix commented on #6323
Would you accept a pull request adding this feature?

[2021-07-31 09:01] Thanatomanic commented on #6323
@Randalix Could you first give an example of a common use case?

[2021-07-31 09:02] Thanatomanic commented on #6319
@Barugon Could you share an affected raw file?

[2021-07-31 09:36] mattiaverga opened #6324 "Fedora 35 build fails on custom glibc overrides"
Rawtherapee builds are failing in Fedora, it seems the error is:
[code]

Full build log at https://kojipkgs.fedoraproject.org//work/tasks/8055/72488055/build.log

[2021-07-31 12:52] Floessie commented on #6324
@mattiaverga Mattia, I'm afraid, but this looks more like a toolchain error at first sight.

[2021-07-31 16:18] Thanatomanic commented on #6324
@mattiaverga Why should we support an OS that has not even been released? Until such time, I'll close this.

[2021-08-01 06:34] mattiaverga commented on #6324
I've asked for help on Fedora mailing list by someone which has more knowledge than me, this is the reply:
[code]

If you're not interested in fixing this I'll have to drop packaging RT in Fedora.

[2021-08-01 07:27] Thanatomanic commented on #6324
@mattiaverga As you see, I was woefully ignorant of your role in the RawTherapee project. My apologies. Please keep packaging RT for Fedora.

What remains curious, is why this problem arises now. This particular bit of code has been in our source tree for >6 years and, presumably, has never led to compilation errors or raised flags in static code analysis. I think @Floessie is much better suited t

[2021-08-01 09:46] mattiaverga commented on #6324
@Thanatomanic no problem at all. I simply haven't got any C skills, so I need your help for fixing things like this to maintain RT in Fedora repositories.

If it can help, Fedora 35 is already using glibc 2.34, that is scheduled to be released just around today. This is one reason that required a mass rebuild of all packages in Fedora repositories and many had failures related to these glibc upgra

[2021-08-01 16:02] scx commented on #6314
@chgruver @Benitoite @Beep6581

Well, according to the Flathub members, _it's not a bug, it's a feature_.
I always try to give the `--filesystem=host` permissions, because users expect it. Unfortunately, [Flathub members](http://web.archive.org/web/20210729231214/https://github.com/orgs/flathub/people) have a different opinion on this matter. They always want to limit application permissions as mu

[2021-08-01 16:03] scx commented on #6314
@Benitoite

According to Flathub members, it should be limited even more (to `--filesystem=xdg-pictures`). Technically, I could add the `--filesystem=host` permissions, but I won't do it, because it would be [revoked](http://web.archive.org/web/20210731231658/https://github.com/flathub/flathub/issues/1337) very soon. You can try it on your own responsibility, but I don't know if you will experienc

[2021-08-01 16:04] scx commented on #6314
@Benitoite

I don't want to be rude, but last time he wasn't even able to build `gtkmm`, so he asked for help [here](http://web.archive.org/web/20190926082350/https://github.com/Beep6581/RawTherapee/issues/5222).
You should know that when my app submission to Flathub was accepted, I didn't get repo access right away, allegedly by an "_oversight_" (previously my submission was blocked for many mont

[2021-08-01 16:05] scx commented on #6314
TL;DR

According to Flathub members, everything is fine. _It's not a bug, it's a feature._ You should even limit the filesystem access (to `--filesystem=xdg-pictures`) instead of increasing it (to `--filesystem=host`). If you do the second one, you may be banned on Flathub.
As a solution, you should use `flatpak override` instead, because it is "_easy for users_".
I don't agree with this, but ther

[2021-08-01 16:16] Thanatomanic commented on #6314
@scx What is going on here? Why is there a 7500+ word post (and then some) in response to a seemingly reasonable request? From a quick scan you seem deeply frustrated with the Flathub community. I am not sure if you're taking it out on the RawTherapee project as well, or are just generally venting.

In any case, is there something we can do to help?

[2021-08-01 17:08] scx commented on #6314
@Thanatomanic

As I said before, I have always tried to give the highest possible permissions to satisfy all users (and since the flatpak sandbox is mostly a lie, I see no reason to apply strong restrictions). Unfortunately, on Flathub it is impossible, not because of some real guidelines, but because they discriminate one software and favor another, as I just proved above.
I would like to grant t

[2021-08-01 18:09] safield commented on #5579
I am observing this on the latest version offered on the website.

Version: 5.8
Branch: 5.8
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: clang 11.0.0.11000033
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.95.0
Build type: release
Build flags: -Wno-deprecated-register -Wno-unused-command-line-argument -std=c++11 -std=c++11 -mtune=generic -Werror=unused-

[2021-08-01 18:24] paperdigits commented on #6314
@scx

But you do want to be rude, as you've done this multiple times, and it is indeed extremely rude to try and shame people for asking questions to try and improve their knowledge.

It is pretty sad that even *years* later you haven't figured out that the reason you get such flimsy answers from the flatpak community at large is because your interpersonal skills are so bad that nobody even wants

[2021-08-01 18:49] Lawrence37 commented on #6315
Have you considered using the "Put to queue" option in the file browser then opening the processed images from the external program? If I'm correct, the Windows version also has an "Open with" option that will open the queue-processed images in one of several pre-defined programs.

[2021-08-01 18:52] Thanatomanic commented on #6314
@paperdigits @scx This is not the right place to discuss such a personal matter. I do not oversee the scope of this matter yet, but if needs be we can discuss this in PMs on Pixls.us. I am willing to medaite and work towards understanding the problem and solution if it benefits RawTherapee's distribution.

[2021-08-01 18:54] Lawrence37 commented on #6323
Writing the file names to a file seems like a specific and rare use case. However, I would be in favor of an option to copy the selected images' paths to the system clipboard. It is easier to implement and more flexible.

[2021-08-01 19:14] Randalix commented on #6323
The main idea is to add  advances scripting possibilities and to follow the unix philosophy: Do one thing and do it well. Store data in flat text files etc.
RawTherapee should not need to implement filebrowser specific features or features to upload images to the cloud, send them in a email, compress them, encrypt them, pass them to any other application... Anything you could think of. A plain tex

[2021-08-01 20:38] Stuntflyer commented on #6315
The "Open with" option does not offer several pre-defined programs, unfortunately.

Here are the steps I did which did not work.
1. Right click on the selected processed files in the "File Browser"
2. Select "Put in queue"
3. Process the selected images in the "Queue" as 16bit TIF.
3. Right click on the processed TIF files that are now in the "File Browser"
4. Click "Open with" where the only opti

[2021-08-01 21:00] Lawrence37 commented on #6315
After the images are in the queue, you need to [start the processing](http://rawpedia.rawtherapee.com/Queue#Running_the_Queue). The idea is to use the queue to process and save multiple images at once, then open the new files in your external editor.

Since the "Open with" option only supports specific programs (I can't find the list on RawPedia), you will not be able to use this to send the proce

[2021-08-01 21:07] Stuntflyer commented on #6315
I corrected my steps. . .see above. With this not being an option I guess I will have to fall back on my original request for this feature to be added to RT.

If we  could get that "Edit in" option to either "AUTO" show or be able to manually input third party editors it would potentially solve the problem I am having.

Thanks for trying!

[2021-08-01 21:21] Stuntflyer commented on #6315
In windows the default viewer under the "Open with" command is "Windows Photo Viewer". Seems like there would need to be an "Edit in" or "Open with"option on that context menu with an available list of third party editors.

I trying to find a way to avoid having to go to my DAM to open those tif files after they have been processed by the "Queue".

I see the possible options as. . .
1. Send proces

[2021-08-02 14:53] Barugon commented on #6319
It won't let me attach a raw file but [this raw file from dpreview](https://www.dpreview.com/reviews/image-comparison/download-image?s3Key=e52951ab1daa430b9bc7dbeb0bfc2c2e.arw) shows the issue.

Using a default profile of neutral, open the file, switch to the Raw tab, expand Chromatic Aberration Correction, check Auto-correction. the image either turns green or I get a segfault (turning on capture

[2021-08-02 15:26] Barugon commented on #6319
This older build works fine:

Version: 5.8-2980-g2e6e52f33
Branch: dev
Commit: 2e6e52f33
Commit date: 2021-05-31
Compiler: cc 11.1.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.5
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -Werror=delete-incomplete -fno-math-errno -Wno-attributes -Wall -Wuninitialized -Wcast-qual -Wno-deprec

[2021-08-02 21:21] mwiest commented on #4856
Yes, that would be great, I have the same issue, and in other threads discussing this, it was suggested to use the raw_crop in camconst.json, which kind-of works, but removes the option to later change the crop in RT. Ideally I would want to make this a dynamic profile to apply to all files, which would give me the option to move the crop in certain files, while having the default (center) applied

[2021-08-03 07:10] Floessie commented on #6324
Hmm, after sleeping on it, I still think that we're not overriding but overloading those C library functions. After all, `func(X*)` is something different than `func(Y*)` even in the global namespace. Furthermore, I have no clue what the "correct" signature should be when supporting multiple `libc`s or even `glibc` versions. The only signature we can rely on is the POSIX one `int fclose(FILE *stre

[2021-08-03 07:57] Randalix commented on #6323
@Thanatomanic it seems like the examples I mentioned are not valid to you. If you mean by common use case something that every user will use. The answer is: There is none.
It's for people who want to have some kind of pipeline/workflow.
I select some images; trigger my script; those images get renamed by some naming convention; placed in a freshly generated folder with proper naming (maybe involvi

[2021-08-03 08:32] wuziq commented on #3613
# `silence-output` branch with stdout symlink?
I tried the `silence-output` branch along with OP's suggestion of symlinking to stdout.  I could be doing something wrong but it doesn't appear to be working:

[code]

# Update RT to stream output?
I wanted to see whether I could update RT to stream its output, namely TIFFs, directly to stdout.  But, unless I'm missing something, it doesn't seem strai

[2021-08-03 11:52] fweimer-rh commented on #6324
The issue is that the new (in GCC 11) two-argument version of the `malloc` attribute does not support function overloading. It simply bails out:

[code]

Results in:

[code]

I filed a GCC PR: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=101747 I don't know if this enhancement will be implemented.

I'm not sure if it is worthwhile to add the cast to the glibc sources. Every use of this version of

[2021-08-03 12:06] Floessie commented on #6324
@fweimer-rh Florian, thanks for the insights! :+1:

Yep, don't know, why this was ever done the way it is. Maybe for quick dcraw adaption. I guess the best solution is moving the libc functions into our `rtengine` namespace...

[2021-08-03 13:18] Floessie commented on #6324
In the meantime, I've installed Fedora Rawhide in a VM and am able to reproduce the problem.

This preliminary patch fixes it:

[fix-6324.patch.txt](https://github.com/Beep6581/RawTherapee/files/6924307/fix-6324.patch.txt)

HTH,
Flössie

[2021-08-03 17:52] Jupi007 opened #6325 "Add decoration border filter"
Hi,
first at all, big thanks for this professional app I use almost every day.

But there is an annoying thing in my workflow:
usually, when I want to develop an image in B&W, I add a thin white border.
And this require each time to run Gimp, add the border, and then export. When I need to render a lot of photos, it becomes quickly annoying.

Honestly, I don't know if it's a good idea to integrate

[2021-08-04 06:53] Floessie commented on #6325
Hi @Jupi007,

An ad hoc solution for bulk modifications like boders is ImageMagick's `convert`. On Linux you can use `xargs` or shell scripting for the "bulk" part.

HTH,
Flössie

[2021-08-04 09:31] Jupi007 commented on #6325
Hi @Floessie,
thanks for the quick response.

I guess it's a polite way to say no ;)
Don't worry I understand, but I still would love seen a new border filter against the very useful vignetting one.

Thanks anyway for the "bulk" solution :)

[2021-08-04 10:02] ghost opened #6326 "CIE Illuminant reset to D50 when activating modules."
**Short description**
In certain cases loading a wavelet levels profile after activating CIE CAM and setting different Illuminant resets this illuminant back to the default D50 (5003K).

**EDIT** -> *See my second comment. This turns out to be not wavelet levels specific but most likely a more global CIE CAM issue*

**Steps to reproduce**
1. Load an image (any RAW or TIFF will do),
2. Set/load *Ne

[2021-08-04 10:22] blitzgneisserin opened #6327 "constrast by detail levels reduces saturation / fit-to-screen preview wrong"
**Short description**
If contrast by detail levels is active, saturation of the image is reduced. The fit to screen preview shows an image that is too saturated (apparently it shows a preview without applying contrast by detail levels, even if it is active, or color management is off). The exported image has the same saturation that the image has when it is viewed at 100%-view. However, it is diff

[2021-08-04 12:32] Thanatomanic commented on #6325
No reason to close the issue. @Floessie just provided a workaround for the time being. Yours is a valid request.

[2021-08-04 13:37] arturoisilvia commented on #6325
@Jupi007
Provisionally, until there is a border module, with local adjustments in advanced mode you can make a black or white border (color is not possible) with the tone curve of the "color & light" module.
Arturo.

[2021-08-04 15:57] mattiaverga commented on #6324
Thanks @Floessie , I'll try to make a build with the provided patch ASAP.

[2021-08-04 18:14] lukasloetkolben commented on #6323
This is exactly the feature i was looking for! I would love to see a PR

[2021-08-04 18:34] marter001 opened #6328 "exporting an editet file shows strange colored lokal adjusted area"
Hi there,

I am on windows and using dev RT-5.8-3040-g94b5f7232, expanded from 7z.
After editing a PlayRAW on pixls.us , it happened, that exported files show a blue circle on local spots with second tool activated.

I am not able to reproduce this on any file, but two computers of different hardware came up with the same result on this file.

![blue_eye_sharpening_off](https://user-images.githubu

[2021-08-04 18:38] arturoisilvia commented on #6325
I just did a white frame or border demo on:
[https://discuss.pixls.us/t/play-with-color/26267/5](https://discuss.pixls.us/t/play-with-color/26267/5)
Arturo.

[2021-08-04 18:46] Jupi007 commented on #6325
I'm really sorry to have closed the issue abruptly @Thanatomanic.
So that mean we could get a border module, that's awesome :)

Thanks a lot @arturoisilvia , but I can't find the `local adjustments` tab, does this require the dev version (I'm using RT 5.8)?

That's exactly that I want to do!

[2021-08-04 21:58] Beep6581 commented on #6309
Fixed.

[2021-08-04 21:58] #6309 closed, assigned to Beep6581

[2021-08-05 08:41] arturoisilvia commented on #6325
@ Jupi007  :
Yes, local adjustments are in the development builds.

These development builds are here:
http://rawpedia.rawtherapee.com/Download

Of them, if you use windows, the most updated is the unofficial build.

Then you have the local adjustments manual here:
http://rawpedia.rawtherapee.com/Local_Adjustments

And finally I advise you to watch Andy Astbury's videos:
https://www.youtube.com/c/

[2021-08-05 09:06] Jupi007 commented on #6325
Okay, will take a look at the dev build and also the videos!
I can't believe that there is ("will" as it's still in dev branch) local adjustments in RT 😊

Big thanks for your help @arturoisilvia  👍

[2021-08-06 09:10] Desmis commented on #6328
@marter001

Hello
I look to your image and pp3...
The problem is with denoise....the spot is too small in high...(100 pixels)
I change the code and add a tooltip to prevent action if the spot is too small (now the minimum RT-spot size for denoise is 128x128)

I will push a change soon

Push commit  35e6a0e

Jacques

[2021-08-06 13:14] marter001 commented on #6328
@Desmis

Hello Jacques,

that was quick, thank you very much. I feared that my brief description would be too incomprehensible.

[2021-08-07 05:38] #6328 closed, assigned to nobody

[2021-08-07 05:44] Thanatomanic commented on #6327
@blitzgneisserin Can you confirm that the exported image looks the same as the 100% zoomed preview in RawTherapee? That should be the case at least.
Please be aware that due to the nature of the CBDL algorithm, the zoomed-out preview cannot be fully accurate with respect to the exported image. That's why there is a 1:1 icon on the tool.

[2021-08-07 06:00] Thanatomanic commented on #6324
I can confirm that the patch solves the building issues, @Floessie feel free to commit. RT also still compiles successfully on some of the other OSes I tested.

[2021-08-07 08:10] ghost commented on #6326
It turns out that this is not caused by the _wavelet levels_  module. I can reproduce this in another way as well:

1. Load an image (any RAW or TIFF will do),
2. Set/load *Neutral* profile,
3. Activate _CIE CAM_ ,
4. Set Cat02/16 mode to *Automatic Symmetric*,
5. Select *Incandescent StdA 2856K* as Illuminant (any one will do, except the default D50. This one to make it more obvious),
7. Activate

[2021-08-07 10:54] mattiaverga commented on #6324
@Floessie sorry to have kept you waiting, I've been extremely busy last days.
I had to adapt the patch to make it work with RT 5.8 (there were a couple of fopen calls that have been removed in devel branch), but then the build completely successfully and from a quick test everything seems to work in RT.
I'll wait until you officialize the commit, then I'll backport it into Fedora's RT 5.8.

Thank

[2021-08-07 11:08] #6324 closed, assigned to nobody

[2021-08-07 11:27] Floessie commented on #6324
@Thanatomanic Roel, thanks for cross-checking!

@mattiaverga Mattia, didn't know you had to backport the stuff to 5.8. If I had known, I would have committed to `dev` earlier. Now that it's done I hope you can reuse your 5.8 patch. 2e0137d is the patch applied verbatim.

@mattiaverga @mattdm All the best and good luck with Fedora 35! I'm personally really sorry that 5.9 didn't yet happen so it won

[2021-08-07 17:39] Thanatomanic commented on #5632
@Beep6581 Can you give an update on a reasonable timeframe? I can try to compile a provisional release note document if that helps. Since I have 1 week holiday left at home, I have plenty of time to help out if you can give me some pointers. I have found this http://rawpedia.rawtherapee.com/How_to_release_RawTherapee which I could also try to follow.

[2021-08-07 18:50] blitzgneisserin commented on #6327
@Thanatomanic I can confirm that the 100%-view is correct and identical with the exported image. I am aware that the zoomed out preview is not entirely correct when CBDL is active, but it should not affect saturation, hue or brightness when the whole image is vieible. I think this is a bit annoying. Please try to think about something.

[2021-08-08 15:37] marter001 opened #6329 "Saving profile to directory without permission results in blocked UI"
System:
Windows 10 Home, Version 20H2, Build 19042.1110

RawTherapee:
Version: 5.8-3014-g94b5f7232
Branch: dev
Commit: 94b5f7232
Commit date: 2021-07-27

**Steps to reproduce**
- open a photo (raw)
- move any slider or just
- press save profile
- **NOW:** choose a folder in which you dont have the rights to save a file
(here preset i found: c:\Program Files\RawTherapee\RawTherapee_dev_5.8-3014-g94

[2021-08-08 15:40] Thanatomanic commented on #6329
I can confirm this on my Windows build as well.

[2021-08-08 16:40] ghost commented on #6329
This is not reproducible on my Linux machine (Debian 10.10/Buster).

Tried using _5.8-2995_ and _5.8-3050_

[2021-08-09 06:13] marter001 commented on #6329
tried on a different machine, but also on windows with RT 5.8 release (no dev):
same result as described above, need to use taskmanager to shut down RT

[2021-08-10 10:51] Beep6581 commented on #6139
Ping @aferrero2707

[2021-08-10 11:05] EGD opened #6330 "SIGSEGV in DCraw::crop_masked_pixels()"
**Short description**
Segmentation fault in DCraw::crop_masked_pixels() [clone ._omp_fn.0] [clone .lto_priv.0] () at /usr/src/debug/rawtherapee-git-5.8~git.20210809-0.x86_64/rtengine/dcraw.cc:4405

**Steps to reproduce**
1. Open RT (by default opened folder with `CR3` files)
2. See error

**Additional information**
- Version: last commit on 20210809 (`b1e7860a2`)
- openSUSE Tumbleweed
- AboutThisB

[2021-08-10 15:15] Thanatomanic commented on #6330
Thanks for the info!
If would help if you could narrow the problem down to a specific CR2 file, or a general CR2 file from a specific camera brand.
My guess is that there is a problem in `camconst.json` that is the cause. Regardless, the software should not segfault.

[2021-08-10 16:54] Thanatomanic commented on #5632
I scanned all closed PR's and camconst.json since the 5.8 release and put my notes this Discussion item: https://github.com/Beep6581/RawTherapee/discussions/6331 That's a work in progress for sure... and there's a lot to chew on 😄

[2021-08-10 17:10] heckflosse commented on #5632
Dear RT contributors,

I just want to let you know that, after a difficult half year, I'm back to help on releasing RT 5.9. I'm still not up to date, so please flood me with things I could help to release 5.9.

Ingo

[2021-08-10 18:30] EGD commented on #6330
Sorry, the problem was reproduced with the `CR3` file. I attach it into this post.
[6I2A2021.zip](https://github.com/Beep6581/RawTherapee/files/6963681/6I2A2021.zip)

[2021-08-10 18:58] ghost commented on #6330
Confirmed.

Placing the content of the above uploaded zip file into a directory and loading that directory immediately crashes RawTherapee.

Extracted a backtrace: [rt.crash.backtrace.txt](https://github.com/Beep6581/RawTherapee/files/6963885/rt.crash.backtrace.txt)

---

Some extra info just in case:

* RawTherapee version : 5.8-3068-gc0e119320

**Platform**

* OS                : Linux (kernel 5

[2021-08-11 09:02] Thanatomanic commented on #6330
I don't get an immediate crash when I open a folder containing this file. Regardless, it crashes hard when I try to open the file.

There is something very strange going on with your image. Exiftool reports an exposure time of 303,9 seconds (!) and a resolution of 3408x2272 pixels. In particular those last values are strange, because the EOS R6 has a 20 MP sensor (5472x3648 pixels). Your values do

[2021-08-11 09:14] heckflosse commented on #6330
Isn't that normal for the Canon APS format?

[2021-08-11 09:18] Thanatomanic commented on #6330
You're right. The photo was shot with a Sigma 18-35mm f/1.8 DC HSM | A, which is an APS-C lens. That would explain the smaller image size.

[2021-08-11 09:22] Thanatomanic commented on #6330
Very much related: #6279

[2021-08-11 09:26] Thanatomanic commented on #5632
Good to have you back Ingo!

As always, there are still a large number of open issues. Depends what you like to tackle, but to increase camera support you can look at any number of these (https://github.com/Beep6581/RawTherapee/issues?q=is%3Aissue+is%3Aopen+label%3A%22scope%3A+file+format%22), or the more general bugs of course (https://github.com/Beep6581/RawTherapee/issues?q=is%3Aissue+is%3Aopen

[2021-08-11 09:41] EGD commented on #6330
it is shooted in bulb mode

yes, with a Sigma 18-35mm lens, the camera automatically switches to crop mode (1,6)

sadly :(

[2021-08-11 09:42] #6330 closed, assigned to nobody

[2021-08-11 09:45] EGD commented on #6279
Same problem with Canon EOS R6 (#6330).

[2021-08-11 13:16] vivo75 opened #6333 "FWD: gentoo bug 807658 - media-gfx/rawtherapee-5.8 - /.../wchar.h: error: malloc attribute argument 1 is ambiguous"
For your interest forwarding a bug found by Toralf Förster automated builds against glibc-2.34
Full report is here: https://bugs.gentoo.org/807658

[code]

[2021-08-11 13:38] Floessie commented on #6333
Already reported and fixed in #6324.

[2021-08-11 13:38] #6333 closed, assigned to nobody

[2021-08-11 15:34] heckflosse commented on #6279
I did some hacking. Here's a first result. Still needs some work.

![grafik](https://user-images.githubusercontent.com/13733487/129058973-c0e182a5-e3fd-4a26-bbe3-8910f0896673.png)

[2021-08-12 07:47] Thanatomanic commented on #6319
@Barugon I cannot reproduce on Fedora 34 in VM

[code]

The only immediate difference between our builds seems to be the compiler version. You should be able to get cc 11.2.1 on Fedora 34. Can you update your system and check whether this solves the problem?

[2021-08-12 10:13] derMart opened #6334 "Demosaic Method: None (Shows sensor pattern) renders incorrectly in all images at high zoom levels"
Depending on the actual zoom and viewport, the image in preview will render some pixels incorrectly with demosaicing method none.

Here is an example:

![Peek 2021-08-12 11-57](https://user-images.githubusercontent.com/1069456/129178832-c3184606-be2e-4d22-b260-51cb710f19e8.gif)

When the viewport portion changes, some blue pixels appear and disappear. When all color channels are visible, the blue

[2021-08-12 14:19] Barugon commented on #6319
I tried building the dev branch yesterday and still got the same results. Here's the output from `cc --version`:
[code]

[2021-08-12 15:11] Barugon commented on #6319
I just built the dev branch. Now it simply crashes when I turn on CA auto correction. As I said before, I'm not able to see the problem with a debug build but here's what is output from `gdb` using a release build:
[code]
And the output of `backtrace`:
[code]

[2021-08-12 16:13] heckflosse commented on #6319
Does it work with gcc <11.x ?

We had such issues some time ago, where new gcc compilers were buggy...

[2021-08-12 16:28] Barugon commented on #6319
I added debug info to the release build. Here's a backtrace:
[code]
After some investigation, the float value being passed into the LUT index operator is, in fact, NaN.

[2021-08-12 16:45] Barugon commented on #6319
Built it with clang and everything works fine.
[code]

[2021-08-12 20:28] chaimav commented on #6306
Minor update: the same bug is present when overwriting an exported image.

[2021-08-13 11:45] stratocaster7 commented on #5141
QA has approved the patched package so it appears the fix is good for us too. Thanks.

https://bugs.mageia.org/show_bug.cgi?id=29295

[2021-08-13 12:48] Beep6581 opened #6335 "Adjusting spot size and control points independently/symmetrically"
RawPedia states,

It states that symmetric/independent adjustments are possible, but it does not explain _how_ to do it. I tried the obvious - ctrl, alt, shift, and combinations of the three - while dragging control points, but nothing worked. It also doesn't explain how to adjust spot size.

I am aware of the hidden "Shape method" setting in the puzzling "Specific cases" menu, but would expect sy

[2021-08-13 16:20] Stuntflyer commented on #6335
This will be a welcome addition. Looking forward to it being implemented.

[2021-08-14 08:39] waynesutton50 commented on #6335
The "Spot size" slider label is slightly ambiguous because it refers to the variable-diameter circle inside the RT-spot and not to the area delimited by the control points. Perhaps it would be better to change the label to something like "Spot circle size"?
EDIT: or alternatively "Spot center size"

[2021-08-14 19:17] bdkramer opened #6336 "Nikon Z7ii"
Nikon Z7ii raw samples have been uploaded to the raw.pixls.us repository.

[2021-08-14 22:59] Lawrence37 commented on #6323
I'm not yet convinced that the use cases of this feature justify the potential complexity it adds. It would help to explain the specifics of how it will look like for users. For example, how do you specify the name and location of the text file, if it can be set at all? Is the file automatically updated or is there a button for saving the names? How is the file formatted?

Also, there is a hack yo

[2021-08-15 02:14] Lawrence37 commented on #6327
Starting from the neutral profile and applying only CBDL, the chroma does not change. Exporting the image with the supplied pp3 without CBDL then applying CBDL on the exported image also produces the expected result. Disabling Exposure > Contrast in the pp3 results in no chroma change.

My conclusion is that CBDL does not affect chroma. Contrast *does* change chroma. If CBDL comes before contrast,

[2021-08-15 05:05] blitzgneisserin commented on #6327
Thanks for having a closer look!
I am not quite sure about this: it seems that avoiding all rgb contrast and saturation silders (i.e. except contrast in lab and the color and light module in local adjustments) prduces a more acceptable result. But I think a slight reduction of saturation is still there.

[2021-08-15 05:24] Lawrence37 commented on #6327
Can you share a pp3? I have found no differences in chroma (aside from rounding errors) after disabling contrast in the original pp3. I verified by exporting 16 bit tiffs and extracting the chroma component in GIMP. Comparing by eye is no good because the visual system perceives less saturation when there is an increase in contrast (e.g. using CBDL or Lab L curve).

[2021-08-15 05:50] blitzgneisserin commented on #6327
Well, I can definitely confirm that there is no difference in chroma when contrast and/or saturation are disabled. I will share a pp3 later today. I need to go to the swimming pool now before all the other people arrive.
But I want to add this: what matters to me and I think most other users is not how much saturation/chroma is really there but how much is visible.

[2021-08-15 16:36] Thanatomanic commented on #6327
I did not do any visual testing myself, but

and

don't seem reconcilable? Adding a saturation change to counter the apparent change due to the algorithm seems a little contrived.

[2021-08-15 17:38] Lawrence37 commented on #6327
For this, you may want to try wavelet levels contrast and chroma (Advanced tab > Wavelet levels > Contrast; Advanced tab > Wavelet levels > Chroma). Set "Apply to" to "Whole luminance range" and increase "Chroma-contrast link strength".

[2021-08-15 19:26] #6306 closed, assigned to Lawrence37

[2021-08-15 20:04] Lawrence37 commented on #6334
You can attach a pp3 as a .txt file or use filebin.net. Are any geometric transformations (lens correction, rotation, perspective, etc.) being applied?

[2021-08-16 13:20] blitzgneisserin opened #6337 "Make spot removal bigger"
Hi,

I would like to suggest to make the spot removal tool bigger so it can be used on really large photos too, for removing larger "spots".
Now I have already done this. I created an own fork of RT with a bigger spot removal tool. It seems to be functional.
So really I would like to create a pull request (that's the correct term, isn't it?).
What I have not yet figured out: I would also like to i

[2021-08-16 17:49] arturoisilvia opened #6338 "Color of the guide type"
Hi,
I am talking about the module: Crop -> Guide Type.
When the image is clear sometimes the grid is not visible (or is very little visible), because it is confused with the color of the image.
I would suggest the possibility that the user can change the grid color in the same module (for example to dark, or green or red...).
I am using the Rawtherapee-Legacy theme.
Examples:
![Captura1](https://u

[2021-08-16 17:55] Thanatomanic commented on #6338
Seems like a good idea. Goes well with other Guide-related issues (like separating them from the crop module).

[2021-08-17 12:36] derMart commented on #6334
ok, here is the pp3 file: [IMG_9182.CR2.pp3.txt](https://github.com/Beep6581/RawTherapee/files/6999941/IMG_9182.CR2.pp3.txt)
No, there are no geometric transformations applied as far as I can tell.

[2021-08-17 13:00] heckflosse commented on #6334
Applying noise reduction on a not demosaiced file causes this. Because it does not make sense to apply noise reduction on a not demosaiced file, I think no further action will be taken on this.

[2021-08-17 16:25] derMart commented on #6334
It seems, the defringe option has the most influence on the problem, not sure if noise reduction contributes too (that is hard to tell).
Still, it seems very buggy that the visual output of the defringe in the preview window does not match the navigator's rgb values, independent of the possibility that defringe may not make any sense here. Though  I do not know in detail what defringe does, but th

[2021-08-17 18:41] Thanatomanic commented on #6336
What do you expect we do here? Nikon Z7 II NEF files open just fine in RT 5.8 `dev`. So, decoding these images is no problem. For color support [we need additional information](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) and [this](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles).

[2021-08-17 18:49] Thanatomanic commented on #6336
Actually, even the camera color matrix is already supported.
https://github.com/Beep6581/RawTherapee/blob/7a88a0c6c00afd1ab32cff78d4fb5aad86098901/rtengine/camconst.json#L1907-L1910

[2021-08-17 19:06] Thanatomanic commented on #6334
@derMart I see you point about the differences between the navigator and the preview. However, the 'None' demosaicer only exists for analytical purposes, and therefore bypasses active modules when it reads out the raw pixel values. So the fact that the readout does not reflect the effects on the image is expected behavior.

As for the changing effects you see when you enable tools and move the ima

[2021-08-17 19:06] #6334 closed, assigned to nobody

[2021-08-17 19:52] derMart commented on #6334
@Thanatomanic thank you for your explanation. Although, I find that behaviour of mismatching preview output and navigator window very unintuitive.

As for the the changing effect while moving the image, however, I am not able to relate your explanation. I figured that the defringe tool only processes the preview area. Again, this seems like a local filter whose output only depends on neighboring p

[2021-08-17 22:27] bdkramer commented on #6336
My apologies, it's been a while since I'd tried working with them in RT, and I hadn't checked it with the recent updates. Please disregard if the files are no longer useful.

[2021-08-18 15:44] arturoisilvia opened #6340 "LA: Wrong "Color Correction Grid" black dot color"
Hi,
Tab Local Adjustments -> Module: Color & Light -> Color Correction Grid

In the grid, the white point is supposed to be the lights and the black point the shadows.
But I notice that the black point is coloring the inverse color: Is this behavior correct?

![Captura3](https://user-images.githubusercontent.com/55624244/129928709-3b2b95fc-b984-4b9f-82f3-208252f24563.JPG)
![Captura4](https://user-

[2021-08-18 20:18] blitzgneisserin commented on #6327
ok, well I am glad there are any reactions at all.

I think just adding saturation would not be optimal. I think the reduction of chroma is stronger in regions where there is more contrast/details, such as... trees and bushes e.g..
I think the module was "ported" from darktable's contrast equalizer. There the fit to screen preview is correct and it is visible that chroma is reduced. So the user ca

[2021-08-19 07:20] Desmis commented on #6340
@arturoisilvia

This is the "normal" behavior of "Color correction grid" (inspired by in "Color tab", "Color toning" / "L* a* b* color correction grid").

The 2 points (black and white) allow a shift of the initial color. The "black" shifts the component a* (red/magenta - green), the "white" shifts the component b* (blue - yellow)

Depending on the choice in the combobox: "Direct" simply applies t

[2021-08-19 09:23] arturoisilvia commented on #6340
Ok, so the behavior is correct.
I consider it solved.
Thank you Jacques.

[2021-08-19 10:09] Beep6581 commented on #6340
Color tab > Color Toning
![screenshot_20210819_120122](https://user-images.githubusercontent.com/5844619/130050021-82d8eae9-e7e0-4242-954a-8ad9ac21dc9a.png)
Seems to work exactly as expected - intuitively and in accordance with the GUI.

Local Adjustments > Color & Light > Color Toning, strength: 0
![screenshot_20210819_120302](https://user-images.githubusercontent.com/5844619/130050036-56d53c28-4

[2021-08-19 10:53] Desmis commented on #6340
I push a commit which must fix this anomaly  a2c8f329a

jacques

[2021-08-19 12:46] Beep6581 commented on #6340
@Desmis 5.8-3027-ga2c8f329a it now seems to work correctly (i.e. strength=0 means no change, and making shadows red at strength=100 with the spot center over a shadow does indeed make them red). Closing as fixed.

[2021-08-19 12:46] #6340 closed, assigned to nobody

[2021-08-20 08:03] marter001 opened #6341 "history_msg_844 is missing"
Hi there,

i am using Version: 5.8-3015-g35e6a0e40
Branch: dev
Commit: 35e6a0e40
Commit date: 2021-08-06

Short description
when using the tool "color and light" in "Local Adjustments" in advanced mode, you will find a checkbox "FFTW" belonging to mask and modifications - blur mask .
By clicking this checkbox (activate / deactivate) the history will show HISTORY_MSG_844 instead of "using Fourier t

[2021-08-20 08:24] Thanatomanic commented on #6341
@Desmis It seems to have got lost here: https://github.com/Beep6581/RawTherapee/commit/5b97e0cde3717268c1974e839099c73dfaeaa48f

[2021-08-20 08:55] Desmis commented on #6341
I just add history msg 844 and improve the 2 others msg "blur mask"

Commit 855fe9b8e

jacques

[2021-08-20 21:11] aspyct opened #6342 "New crop guide: square center"
Most of my pictures get posted on social media, and I optimise most of them to be able to fit well in a square format (instagram made me do it).

My current workflow is to:
1. lock crop ratio to 1:1
2. do the "ideal" crop for square format
3. select another crop format for the full image. Often 3:2 or 4:5

While this works, I would very much love to have a crop guide for this, so I can directly se

[2021-08-21 13:10] vladshut commented on #3756
+1

[2021-08-21 13:33] heckflosse commented on #6342
This implements the feature

[code]

[2021-08-21 17:04] ghost opened #6343 "Empty input file message and a white jpg/tif when using CIECAM"
**Short description**

I gave this image on pixls a go: [DJI Air 2S Raw image processing](https://discuss.pixls.us/t/dji-air-2s-raw-image-processing/26520/4)

When telling RT to export this edit as JPEG it is busy for a bit, an **Empty input file** gets written in the terminal and a very small white jpg with the dimensions of the original is created. Also tried using TIF as export format; Same res

[2021-08-21 17:30] aspyct commented on #6342
Holy cow, that was fast! Thanks, I'll try and compile it locally :)

[2021-08-21 18:12] Lawrence37 commented on #6326
This fixes the problem. @Desmis Please make sure I'm not doing anything wrong.
[code]

[2021-08-21 18:14] ghost commented on #6343
Did some more testing:

I reduced the amount of modules. These are the ones that are needed to reproduce the white image on export:

* Defringe
* Colour Management
* CIEcam
* Wavelet levels
* Local Adjustments

Turning any single one of the above off and you end up with a non-white jpeg. The *Empty input file* message remains though.

* White balance
* Demosaic

This seems to be one of those reall

[2021-08-21 18:33] ghost commented on #6326
@Lawrence37

Just to let you know: I edited colorappearance.cc, applied your changes and rebuild: This solves the problem.

But I don't come even close to being able to determine if this change has any other side effects.

Anyway: Much appreciated!

[2021-08-21 18:54] Lawrence37 commented on #6334
RawPedia explains that the navigator shows the actual raw data when there is no demosaicing (http://rawpedia.rawtherapee.com/Editor#Navigator). It would be helpful if the navigator had a message to indicate this.

I can observe the changing values when everything except noise reduction is disabled. Noise reduction works across many pixels, so that may explain changes in the middle of the preview.

[2021-08-21 19:00] #6337 closed, assigned to nobody

[2021-08-21 19:11] #6341 closed, assigned to nobody

[2021-08-21 19:19] Thanatomanic commented on #6343
I can confirm the behavior. Looking...

[2021-08-21 19:56] derMart commented on #6334
As trying to state already above, the behaviour shown in the gif is also present if only Defringe is applied, without any noise reduction! According to RawPedia (http://rawpedia.rawtherapee.com/Defringe) Defringe is a local filter, depending on neighboring pixels (with radius 2.0 in my case, I suppose the radius is in pixel units (... hmm, fractional pixel dimensions ... ?), but the unit actually

[2021-08-21 19:59] Thanatomanic commented on #6343
@jade-nl For your supplied DNG, this is the minimal partial-profile pp3 I could produce that exports a blank image. Test by applying Neutral first. Disabling any module will export the image normally.
[DJI_0033.DNG-minimal.pp3.txt](https://github.com/Beep6581/RawTherapee/files/7026132/DJI_0033.DNG-minimal.pp3.txt)
Enabled modules: Defringe, Color Toning (Color Correction Regions), CIECAM, Wavelets

[2021-08-21 20:21] Thanatomanic commented on #6343
I can even reproduce the bug in the 5.8 release version.

I will need to inspect the pp3 more closely to see if there is any malformed entries, otherwise, this is possibly quite an old bug.

[2021-08-21 20:40] ghost commented on #6343
Using the DJI_0033.DNG-minimal.pp3.txt sidecar as described by you:

* as is -> white jpeg
* turning of either of the ones mentioned results in a normal, non-white image.

I did test this earlier on on other images (othe DNGs and other RAW formats) but I get inconsistent results. Using [this cat on pixls](https://discuss.pixls.us/t/play-raw-a-cats-portrait/11122):

* both your supplied sidecars pr

[2021-08-22 06:04] Desmis commented on #6326
@Lawrence37 @jade-nl

This patch is good :)

You can push to dev.

Thank you very much

Jacques

[2021-08-22 06:42] #6209 closed, assigned to nobody

[2021-08-22 07:30] Thanatomanic commented on #6318
@mburns9 Sorry it took so long to get back to you about this. I have generated a DCP profile based on your image, but it is not a high quality one. This is due to two factors:
1. Foremost, the shot has raw clipping in the green channel. This likely makes interpolation in the highlights wrong.
![image](https://user-images.githubusercontent.com/6567747/130345121-3a263e4b-1f88-4724-aa05-9a2a3373831b.

[2021-08-22 14:34] ghost opened #6344 "CIECAM: Brightness via tone curve is buggy."
**Short description**

A very minute in/decrease when using the Brightness Tone Curve in CIEcam introduces a very large initial brightness difference.

It depends on the RAW used if the difference is too bright or too dark. The effect is seen in both directions: So increasing it or decreasing it will brighten too much, both ways in one RAW and darken, both ways in other RAWS.

_BTW:_ This might be

[2021-08-22 16:29] Desmis commented on #6344
@jade-nl

I know this "bad behavior"...very very old....since 2012. The problem is that brightness unlike lightness is an open scale. Probably a problem in conversion J ==> Q
I will have (another time) a look....but I do not guarantee anything  :)

But it is (partially) why I did not put curves in the LA version (with Log encoding advanced) , or in the branch "lagamcie" .This branch (waiting for 5

[2021-08-22 17:05] ghost commented on #6344
No worries. If I look at the issues list I see problems that are more important then this one.

Having this specific tone curve in good working order would be a nice-to-have, but using the slider instead is enough in probably 95+% of the cases. I also haven't heard/read about this one, here at GitHub or elsewhere, so I can only presume that it isn't used all that much....

Anyway: Thanks for takin

[2021-08-23 00:12] #6326 closed, assigned to nobody

[2021-08-23 09:03] Desmis commented on #6344
@jade-nl

After many unsuccessful attempts (why ??) , I disabled the 2 brightness curves in advanced mode. I also updated the tooltips.
I leave the code unchanged to allow a possible reactivation

And as you say, perhaps nobody used this feature...I think sliders are enough in most cases...

commit in dev - b528d6791

More information on the "lagamcie" branch,
* I introduced the sigmoid concept (b

[2021-08-23 09:41] ghost commented on #6344
@Desmis

I can certainly live with this. Better then having a tone curve option that does not work.

The **J(J)** naming instead of *Lightness* needs a bit of getting used to, but the tooltip makes clear what it is all about.

One point that needs to be changed/fixed, though. The tooltip of the second tone curve says:

**Second** should be **First**, right?

Thanks for your time and effort.

[2021-08-23 09:45] Desmis commented on #6344
In fact J is not exactly Lightness...More with Jz it's brightness....
Oh yes for the second tooltip  (old bug...)

thank you for testing :)

Jacques

[2021-08-23 09:52] Desmis commented on #6344
Done :)

Thank you

Jacques

[2021-08-23 10:01] ghost commented on #6344
And also _J(J) tone curve_ instead of _exposure tone curve_, that's even better :-)

Your quick response is, as always, appreciated.

Closing this one.

[2021-08-23 10:01] #6344 closed, assigned to nobody

[2021-08-24 20:19] Randalix commented on #6323
@Lawrence37 <rt_config_directory>/batch/queue.csv is exactly what I was looking! Creating a queue and removing it is a little cumbersome, but it works.
I think the issue can be closed then.

[2021-08-25 05:32] Benitoite commented on #6188
I've generated an Apple M1 `arm64` test build.  Everything works the same as on Intel, with the slider buttons not grabbable on macOS 12 *Monterey*-beta due to a possible change in mouse reportage.

https://kd6kxr.keybase.pub/RawTherapee_macOS_11.3_arm64_5.8-3033-g55ceb5b24.zip

PR for bundle fix:
https://github.com/Beep6581/RawTherapee/pull/6346

[2021-08-25 06:33] Benitoite commented on #6286
Can not reproduce on my M1 build. https://kd6kxr.keybase.pub/RawTherapee_macOS_11.3_arm64_5.8-3033-g55ceb5b24.zip

[2021-08-25 06:41] Benitoite commented on #6230
I can not reproduce this error on my build.  https://kd6kxr.keybase.pub/RawTherapee_macOS_11.3_arm64_5.8-3033-g55ceb5b24.zip

[2021-08-25 08:38] ghost commented on #6343
Just ran into another one: Different RAW, different edit but same result: JPEG turns up white after exporting.

RAW: [rockies.on.cloudy.sky.cr2.zip](https://github.com/Beep6581/RawTherapee/files/7045307/rockies.on.cloudy.sky.cr2.zip)
Sidecar: [rockies.on.cloudy.sky.cr2.pp3.zip](https://github.com/Beep6581/RawTherapee/files/7045312/rockies.on.cloudy.sky.cr2.pp3.zip)

More weirdness is going on here

[2021-08-25 08:42] Benitoite commented on #6220
Updated http://rawpedia.rawtherapee.com/MacOS to include libomp 11.1 installation commands.

[2021-08-25 09:47] ghost commented on #6343
Did some testing with this new case. I'm all but 100% sure that the _100%(+) Zoom + Wavelet Level -> Edge sharpness_ issue I encounter is related to the original *white jpeg export* issue.

I reduced the amount of modules used to those that influence this faulty zoom behaviour ([rockies.minimal.pp3.txt](https://github.com/Beep6581/RawTherapee/files/7045830/rockies.minimal.pp3.txt)). The modules le

[2021-08-25 13:26] #6342 closed, assigned to heckflosse

[2021-08-25 19:54] nomar500 commented on #6286
Hi @Benitoite,
apologies for the delay... :-/

I have remained on libomp-11.1.0 for a while, now. Otherwise, RT won't even launch properly. I haven't tried libomp-12 in ages.

[code]

[2021-08-25 21:23] wilchak commented on #5459
Hi,

I'm trying REALLY hard to figure out how to build RT with tcmalloc enabled, but it simply will not work. I am running Ubuntu 21.04. No matter what I do, cmake always says "tcmalloc not found". I have tried installing the package available in the distro repo (libtcmalloc-minimal4), and even gone so far as to create a symlink from libtcmalloc.minimal.so.4 to libtcmalloc.so.4 just in case. (I ha

[2021-08-26 06:35] Floessie commented on #5459
Hi @wilchak,

You're right. Our `CMakeLists.txt` can't find the `libtcmalloc-minimal4` from Debian/Ubuntu for two reasons:

1. The library name is `libtcmalloc_minimal`.
2. There is no symlink named `libtcmalloc_minimal.so` but only the versioned one `libtcmalloc_minimal.so.4`.

Here's a patch adapted to it:

[code]

HTH,
Flössie

Tip: Add `--debug-find` to the CMake command line to get the scanne

[2021-08-26 11:08] Desmis commented on #6343
@jade-nl  @Thanatomanic

First of all, I apologize for this late intervention.

I am an old man (about 74) and I have serious health problems. Also it's exasperating to wait for I don't know what to publish 5.9; we are walking on our heads.

This problem is very old, about 10 years, and it is largely due to the shortcomings of Ciecam02 which often lead to artifacts when combining ciecam and other

[2021-08-26 14:16] ghost commented on #6343
@Desmis

First of all: No need to apologize. At all! I did know you're elderly, did not know about your health issues.... So with that in mind: Take your time.

Besides that, you are always fast to reply and fast to solve problems. That is much appreciated, but now knowing about your health: Please do take good care of yourself first and foremost.

---

OK, back to the issue at hand.

I just clone

[2021-08-26 16:27] Desmis commented on #6343
I cannot reconstitued....
Are you sure, after "preferences" /"color management", "Ciecam" /"avoid artifacts"
* the check box "Avoid artifacts" is disabled
* **you restart RT**

In others cases, sure you have the same behavior....

But with the curve, the raw file provide (rockies...), the "test profile" and the process you gave.... not white screen... but perhaps there is somewhere a bad code....

[2021-08-26 16:50] ghost commented on #6343
My apologies! Your implemented solution does work.

I misinterpreted/misunderstood the *Avoid artefacts* option by thinking that if it is turned on the problem would go away, but in reality it needs to be turned off. My bad for not trying out both possibilities.

This does come with the possible side effect that artefacts can now be  introduced. For me, not having that safety net isn't a problem.

[2021-08-26 17:10] Desmis commented on #6343
Thank you very much

I will merge tomorrow...or later

Jacques

[2021-08-26 17:14] wilchak commented on #5459
Thanks @Floessie. Unfortunately I'm still getting "tcmalloc not found" when running cmake, even after applying that patch. Here is the output when run with "--debug-find":

[code]

Seems like it's not even looking for tcmalloc.... other libraries yes, but not that one!

Looks like the library is indeed there...

[code]

Also, just to confirm, the build does work 100% fine when -DENABLE_TCMALLOC="O

[2021-08-26 19:22] Floessie commented on #5459
@wilchak And you are building in a clean directory? I.e. `cd ..; rm -rf build; mkdir build; cd build` and then `cmake ...`?

[2021-08-26 19:25] Floessie commented on #6343
Same sentiment here... :worried:

[2021-08-26 20:26] Benitoite commented on #6286
I'm guessing the asterisk `*` means the active version is 11.1.0; to be sure you can issue `otool -L /opt/homebrew/lib/libomp.dylib`

For me that results:
[code]

[2021-08-26 22:43] wilchak commented on #5459
@Floessie Doing a clean build fixed it. Thank you!

[2021-08-27 06:26] Floessie commented on #5459
I'll push directly to `dev`.

[2021-08-29 05:39] Desmis commented on #6343
merge with dev :)

jacques

[2021-08-29 06:28] ghost commented on #6343
Thanks!

Closing this one

[2021-08-29 06:28] #6343 closed, assigned to nobody

[2021-08-30 18:13] SimonSegerblomRex commented on #4511
This issue can be closed. (It's just the wrong CFA pattern specified in the file. [Apparently](https://sourceforge.net/p/opencamera/tickets/431/#918a) it's been fixed by the phone manufacturer.)

[2021-08-31 08:08] #4511 closed, assigned to nobody

[2021-08-31 11:06] Desmis opened #6348 "Ciecam Curve Brightness"
@jade-nl

I re-enable curve Brightness in Ciecam.

I changed the place in the process (and others changes), and it seems to work now.

Now you can use either Lightness or Brightness for the 2 Tone curves

Branch  "ciecam_curve_brightness"

I hope all works fine ??? otherwise it is enough to delete :)

Jacques

[2021-08-31 11:43] ghost commented on #6348
That's good news!

I'll merge/build that branch and give that a test run. Might take a few hours before I report back though. I'm not able to drop what I'm doing atm :-)

[2021-08-31 14:31] ghost commented on #6348
@Desmis

Did some tests and the changes you implemented are working for as far as I can tell/test.

Tests I performed:

* The situation as mentioned in my original bug report (#6344),
* Stand alone - just the brightness curve and nothing else,
* Brightness curve and Brightness slider (nothing else),
* Full CIEcam: Brightness curve and a mix of many different other CIEcam settings,
* A normal full

[2021-08-31 15:52] Desmis commented on #6348
Thank you for these complete tests. for my part I did not find any malfunctions.

I just change defaut tone curve2 to brightness

Commit 4e0c9d9a4

Tommorow, I will create a Pull Request

Jacques

[2021-09-01 04:40] Lawrence37 opened #6349 "Occasional crash when using RGB parade or waveform"
**Short description**
Making adjustments while the RGB parade or waveform is active may trigger a crash. Sometimes it segfaults and other times it gives the message
[code]

**Steps to reproduce**
1. Enable the RGB parade or waveform.
2. Make adjustments to the image.

It crashes most frequently when the preview updates quickly, so using a fast tool at high zoom level helps with reproducing the iss

[2021-09-01 18:27] abrock opened #6351 "Crash / segmentation faul when zooming in into one specific raw file"
**Short description**

I have one Sony ARW file from a Alpha 7R II (I used APSC-crop) which triggers a segmentation fault.
It is reproducible every time in "Release" and "RelWithDebInfo" build mode but not "Debug" mode.
I tried to run RT with a debugger using QtCreator but it always stops with "SIGSTOP", not idea why.
Therefore I installed the RelWithDebInfo build, started RT and attached gdb.

**

[2021-09-02 09:46] heckflosse commented on #6351
Can not reproduce

[code]

Please provide the .pp3 file and post the content of `AboutThisBuild.txt`

[2021-09-02 13:37] chaimav opened #6352 "Crash when browsing to folder with this file"
I tried loading the HDR image from this Play Raw [thread ](https://discuss.pixls.us/t/improve-window-look/26563) and whenever I try to open it by browsing to its folder, RawTherapee instantly crashes.
Windows 10 i3 8100.
Tried with versions: 5.8 official release, the latest nightly 5.8-2893, and [gaaned92](https://keybase.pub/gaaned92/RTW64NightlyBuilds/)'s 5.8-3037 Skylake and all crash.

[2021-09-02 14:47] syyrmb commented on #6352
It also crashes on my computer (Win 10 21H1, both on RT 5.8 and latest dev). I think that raw file has some issues, Affinity Photo can't read it properly and just gives a black image with color particals.
![Photo_IrJC1jkO86](https://user-images.githubusercontent.com/73344201/131865072-476642aa-97dc-44b3-9353-26049f54c91c.png)

[2021-09-02 15:15] chaimav commented on #6352
Thanks for confirming. Even if the file is corrupt, at worst it should throw an error message and not just close without warning.

[2021-09-02 15:46] ghost commented on #6352
This also isn't a Windows issue, crashes here as well. Using the latest self build development version:

* 5.8-3077-g047485b8b
* OS                : Linux (kernel 5.9.15-1 x86_64 amd64)
* Distro            : Debian Buster (rel. 10.10)

Yeah, this file has issues. XnView also doesn't like it (it doesn't crash though....).

[2021-09-02 15:51] ghost commented on #6351
I'm, like OP, on Linux and Debian (10/Buster) and I'm not able to reproduce this either. Tried Official stable 5.8 appimage, the 5.8-2995 appimage and the latest development, self build,  5.8-3077.

[2021-09-03 04:54] #6349 closed, assigned to Lawrence37

[2021-09-03 05:52] Desmis commented on #6348
Merge

[2021-09-03 05:52] #6348 closed, assigned to nobody

[2021-09-03 07:21] ghost commented on #6348
@Desmis

Just a heads up: I just pulled and build this one and noticed that the request I had about _lightness + brightness_ instead of _lightness + lightness_ as a default  (see *I do have a question/request:* above) did not get integrated. I'm sure I saw it correctly changed in a previous build from your personal branch.

[2021-09-03 08:33] Desmis commented on #6348
@jade-nl

By default the system is for TC2 to brightness....
It needs to set neutral, or a new file

But I found a bug in some cases, when you change standard/advanced or press Reset

I just fixed this bad behavior

Thank you

Jacques

[2021-09-03 09:00] ghost commented on #6348
Understood and it seems to be all fixed now.

Thanks!

[2021-09-03 09:01] Desmis commented on #6348
OK :)

[2021-09-03 10:53] heckflosse commented on #6352
The dng has wrong info for top and left margin. Hacking the code to set both to zero I get this:

![grafik](https://user-images.githubusercontent.com/13733487/131994287-2011de73-3e29-4d0b-b95f-c00a75a70de8.png)

trying to find a solution...

[2021-09-03 13:15] abrock commented on #6351
I'm able to reproduce the bug, but only on this one machine, not on the other Debian testing machine.
The bug is reproducible without any pp3 file but I attached the one which is created.

[rawtherapee-backtrace2.txt](https://github.com/Beep6581/RawTherapee/files/7106107/rawtherapee-backtrace2.txt)
[AboutThisBuild.txt](https://github.com/Beep6581/RawTherapee/files/7106113/AboutThisBuild.txt)
[A7_0

[2021-09-03 14:05] KSB21ST opened #6354 "Potential Integer Overflow in rtengine/klt/klt.cc"
It seems that there exists a potential integer overflow. Please find the following description:

1. _readHeader(...) is called
https://github.com/Beep6581/RawTherapee/blob/2d3e45721159c66ed37e24175a562f6d85d350b6/rtengine/klt/writeFeatures.cc#L763

2. Inside  _readHeader(...), nFeatures can be an arbitrary large number
https://github.com/Beep6581/RawTherapee/blob/2d3e45721159c66ed37e24175a562f6d85

[2021-09-03 14:26] heckflosse commented on #6354
afiak 'writeFeatures.cc` is not used in RT. I vote for closing this issue.

[2021-09-03 14:26] heckflosse commented on #6354
closed by accident

[2021-09-03 14:55] #6279 closed, assigned to heckflosse

[2021-09-03 14:55] #6352 closed, assigned to heckflosse

[2021-09-03 22:41] melroy89 commented on #6105
Hi there 👋🏽 . I think a better way might be to include_directories with the [`SYSTEM` option](https://cmake.org/cmake/help/latest/command/include_directories.html). Saying to the compilers that those libraries are not in your control and may contain warnings that should be ignored. I assume you can apply the same with CMAKE_PREFIX_PATH maybe via: `include_directories(SYSTEM ${CMAKE_PREFIX_PATH}/in

[2021-09-04 11:06] marter001 opened #6355 "RT shuts down when opening a specific dng-file"
I was trying to join a Play Raw in pixls.us, pls see here:

https://discuss.pixls.us/t/improve-window-look/26563

and downloaded the 3 mentioned dng-files:
https://a42578-drive.mycozy.cloud/public?sharecode=tOGchMZlqrAL

With RT i am not able, to edit these files, because RT shuts down without any error-message when trying to open.

**Steps to reproduce**
1. open RT
2. Explore the folder containin

[2021-09-04 11:11] syyrmb commented on #6355
AFAIK it was just fixed yesterday, see https://github.com/Beep6581/RawTherapee/issues/6352.

[2021-09-04 11:16] marter001 commented on #6355
oh thanks, sorry for confusing.

[2021-09-04 11:16] #6355 closed, assigned to nobody

[2021-09-04 19:00] #6298 closed, assigned to Lawrence37

[2021-09-05 15:31] jdw1953 commented on #6003
It might be easier than what has been suggested here so far. Since RawTherapee utilizes DCRAW and a forked version of DCRAW supporting all the Raspberry Pi cameras (including the new HQ version) exists here:
https://github.com/6by9/dcraw
Then perhaps simply recompiling RawTherappee with this 6by9 modified dcraw.c is all that is needed.

[2021-09-05 15:45] jdw1953 commented on #6003
Also a patch for LibRaw was provided here for another approach for supporting the Raspberry Pi cameras. Unfortunately a lot of image editors that utilize LibRaw will not have this patch yet since official LibRaw updates occur about once a year (in January I think). Anyway the code utilized in the 6by9's dcraw or libraw patches are the best and quickest way to add support for this camera type I thi

[2021-09-09 08:20] Desmis commented on #6335
@Beep6581
Yes, this is the only way making a control point adjustment symmetric/independent via the combobox, and the only way of adjusting the spot size via the slider.
And for the rest (labels, GUI, Rawpedia,..) do what you want I'm not at all  a GUI specialist, nor RT owner.

jacques

[2021-09-11 08:26] mandree opened #6357 "Crash in rtengine::Color::rgb2lab01, "wprof" nullptr deref of rtengine::ICCStore::getInstance()->workingSpaceMatrix(profileCalc);"
A SIGSEGV crash (nullptr) dereference has been reported against FreeBSD's port of RawTherapee 5.8 as [FreeBSD's Bugzilla #257255](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=257255).
Looking at color.cc and iccstore.cc git logs, I don't see obvious related code changes since release 5.8.   (I am the maintainer of FreeBSD's port and package of Rawtherapee.)

I have not fully established how t

[2021-09-11 08:32] mandree commented on #6357
related rtengine/iccstore.cc code excerpts:

[code]

[2021-09-11 13:17] freebrowser1 commented on #5901
Still not supported. Loading an EOS R6 (FW 1.40) .cr3 file results in a plain white image. Version is 5.8. It happens on both macOS Big Sur 10.16 and Linux Ubuntu 20.04 (both Intel 64).

[2021-09-11 13:21] ellenhp commented on #5901
There's a fork of RawTherapee called ART that does support CR3 files I think. It seemed to work fine last time I tried it, but I can't vouch for things like color accuracy. Only that it wasn't a plain white image :)

[2021-09-11 13:26] Thanatomanic commented on #5901
@freebrowser1 The R6 files can be opened perfectly fine in the nightly builds. I would advise to download the dev AppImage and use it from here https://github.com/Beep6581/RawTherapee/releases/tag/nightly or use an unofficial build http://rawpedia.rawtherapee.com/Download

[2021-09-11 14:08] freebrowser1 commented on #5901
Thanks.
That worked. I can edit the .cr3, but I still see a message 'cannot read EXIF data'.

[2021-09-12 06:06] Thanatomanic commented on #6357
@mandree Thanks for the report. Are you able to test the situation in a build of the current `dev` branch? Otherwise, please share the affected raw + pp3.

[2021-09-12 06:10] Thanatomanic commented on #6354
Indeed, thanks for the report, but as @heckflosse mentions, we do not make use of this particular functionality of the library. If anything, this should be reported upstream: http://cecas.clemson.edu/~stb/klt/ (but that project has not had an update in nearly 15 years).

[2021-09-12 06:10] #6354 closed, assigned to nobody

[2021-09-12 08:25] ghost opened #6359 "FR: Local Adjustments -> Ability to move/change spot order."
**The request:**

I would like to see a possibility implemented to move created spots up or down in the list (assuming there are 2 or more spots).

Had a look on RawPedia and on GitHb and this one hasn't come up yet.

**The reason why:**

The created spots are handled in the order from first (top) to last and all the following spots do influence, or use, the previous spot(s). This can, and in gene

[2021-09-12 10:36] ff2000 commented on #6359
I think I mentioned this once in a report here. I also proposed to be able to actively assign excluding spots to normal spot so it isn't automatically determined (overlap). No idea where this was, unfortunately.

[2021-09-12 17:44] smesgr9000 opened #6360 "Crash with many cores loading/saving image "libgomp: Thread creation failed:""
**Short description**
Open a image with attached pp3 with RawTherapee on a high core count system

**Steps to reproduce**
Open a image with attached pp3 with RawTherapee. E.g.  https://www.rawtherapee.com/images/carousel/100_rt58_amanita_muscaria_capture_sharpening.jpg
Save image with on disk with RawTherapee

Depending on image size(?) rawtherapee starts to crash either on load or on save of any

[2021-09-13 00:12] Lawrence37 commented on #5256
I'm interested in taking this up, but I'd like to collect some ideas on how the GUI should look like.

There's one idea from a fork [here](https://github.com/Beep6581/RawTherapee/issues/2631#issuecomment-252006108) that adds buttons to the tools themselves. Since we are only dealing with the Favorites tab, the end result will look something like [this](https://github.com/Beep6581/RawTherapee/issue

[2021-09-15 15:53] ChrisMoller opened #6361 "Feature Request: Centre of rotation"
It would be very useful if rawtherapee offered two additional features: the ability to place orthogonal guides on the screen and the ability to specify a centre of rotation when using either the straight-line or free rotation tools.  The latter in particular would be great.  As it is now, often, bits of the image near an edge I want to save are clipped.  If I could specify a centre of rotation I c

[2021-09-16 15:39] rebio opened #6362 "Feature request: Improve precision for the color toning UI"
### Short description
The color toning UI currently is no 'precise mode' for selecting the colour (unlike the HSV Equalizer where you can hold down Ctrl to be more precise and Shift to snap it to eg. the minimum)

### Ideas in detail
The UI currently looks like this:
![default](https://user-images.githubusercontent.com/10911084/133638422-cde141da-2c1c-414b-944a-2e94fac82a96.png)

The suggestion is

[2021-09-16 16:05] rebio opened #6363 "Feature request: Activate inactive tool on change"
The idea is very simple and straightforward: If you change any slider, any drop down menu or any number in the tool, the tool should be activated,

The usage would be to make the editing process smoother. This would be especially good to have for the Local adjustments.
Many new users will forget to turn the tab on or maybe have no idea why it would not work.

Since I can image that some people/pro

[2021-09-16 18:16] ghost commented on #6363
The tools not automatically being activated when making changes is part of my workflow.  This is true for certain modules, but especially so for the local adjustments section.

I would not like to see this implemented without the above mentioned option in the preferences to disable it. I would even go as far as to say that this option should not be enabled by default.

I don't think that *(new) pe

[2021-09-16 21:51] rebio commented on #6363
Yes, RawPedia is a good guide for RT - but to be fair: It's simply too much for new users who don't know what they are actually looking for.
Just telling them _Go look it up in RawPedia_ should also not be the single way to go. Kinda like telling a new users to go for Arch when they are interested in Linux. For sure that will teach them a lesson, but the lesson would more than likely be to stay aw

[2021-09-17 06:33] ghost commented on #6363
I'm not trying to be the bad guy here :sweat_smile:

I'm not *entry level hostile*, I have, however, come across too many new users that did not even glance at RawPedia when they run into something that doesn't work the way they expect it to. So, I do expect new users to, at least, read the _General Information/Comments_ section(s). And, yes, I do have a problem with turning RawTherapee into a *fo

[2021-09-17 11:12] arturoisilvia commented on #6363
Hi,
I also don't want the module to activate when you move a slider, because I have a slow pc and with every change in a slider I have to wait, then I go to the next slider, change it and have to wait, then the next one... and so on until the end and desperately it's a long time.
As it is now, I change all the sliders in the module, activate it and only have to wait once.

[2021-09-17 16:10] rebio commented on #6363
I don't want my comment to be understood as finger pointing or blaming anyone doing anything that encourages a hostile environment. I don't think that such accusations help anyone anywhere with anything.

The truth is that people are more easily discouraged than encouraged. Something that is a trivial thing for an advanced user to do may is a challenge for a new user. I can understand that the adv

[2021-09-17 17:59] ghost commented on #6363
I don't know how hard it would be to implement this *Activate inactive tool on change* request. My developer skills are limited to (bash/ksh) shell scripting and some perl and I'm not familiar with RT's C++ based code.

I do know it's more then just an on/off setting in the preferences menu, though. This request would touch just about every single slider, curve, button and free field in the RT edi

[2021-09-18 19:48] arturoisilvia opened #6364 "Crash with White Balance and Haze Removal in particular image"
With the image:
[https://discuss.pixls.us/t/difficult-orange-flower/27001](https://discuss.pixls.us/t/difficult-orange-flower/27001)

(In principle only with this image, I haven't found the error in other images)

Set neutral mode
Activate the Haze Removal module
Deactivate White Balance
Crash.

---------------
Version: 5.8-3046-g5268b94cf
Branch: dev
Commit: 5268b94cf
Commit date: 2021-09-04
Comp

[2021-09-18 19:54] arturoisilvia opened #6365 "White Balance auto on with temperature correlation mode"
Set White Balance to Automatic-> Temperature Correlation mode.
If you now turn off the same White Balance module, it automatically turns on again.

Expected behavior: The White Balance module should be turned off.

----------------
Version: 5.8-3046-g5268b94cf
Branch: dev
Commit: 5268b94cf
Commit date: 2021-09-04
Compiler: cc 10.3.0
Processor: generic
System: Windows

[2021-09-19 01:03] syyrmb commented on #6364
I can replicate this in RT 5.8 and 5.8 dev. My two discoveries:
1. The order of enable Dehaze and disable WB doesn't matter. Deactive WB first will still result in a crash.
2. The problem seems to occur because in the ICM panel, neutral profile set the "input profile" to Auto-Matched Camera Profile, switch it to "Camera Standard" will result in no crash.

[2021-09-19 08:01] heckflosse commented on #6364
Crash confirmed. Looking...

[2021-09-19 08:26] #6364 closed, assigned to heckflosse

[2021-09-19 08:38] arturoisilvia commented on #6364
Thanks Ingo.
I have changed the title to make it more descriptive when searching.

[2021-09-19 08:41] arturoisilvia commented on #6365
I have changed the title to make it more descriptive when searching.

[2021-09-19 09:19] heckflosse commented on #6365
Bug confirmed. looking...

[2021-09-19 10:29] #6365 closed, assigned to heckflosse

[2021-09-20 13:51] heckflosse opened #6366 "Windows msy2 builders, please don't upgrade using pacman"
Today I upgraded my msys2 environment using `pacman -Syuu` and now I can't build RT anymore.

I will keep you informed....

[2021-09-20 14:16] Thanatomanic commented on #6366
[code]

I get the above when running `-Syu`
Must be something with these libraries then?

[2021-09-20 14:25] Thanatomanic commented on #6366
I don't have issues building RawTherapee after updating. Are you sure you built in an empty folder?

[2021-09-20 16:22] heckflosse commented on #6366
Yes, I did.

[2021-09-20 19:35] gaaned92 commented on #6366
What is happening? nothing noticeable here.

[2021-09-21 08:14] heckflosse commented on #6366
@gaaned92 this happens:

[code]

[2021-09-21 10:43] heckflosse commented on #6366
I installed msys2 from scratch. Didn't help :-(

looks like cmake is broken somehow as this gives no output

[code]

[2021-09-21 18:53] Thanatomanic commented on #6366
That's very odd and very unfortunate Ingo, especially after a full reinstall of MSYS2.
But, I since André and I don't have the same issue, would it be okay to close? Perhaps people on Pixls can help with suggestions?

[2021-09-22 05:31] xiota commented on #6273
@Thanatomanic  I have [JXL import working](https://github.com/xiota/RawTherapee/tree/jxl-import) when the file name is entered on the command line, but the JXL images don't show up in the file browser.  Any pointer on where to look to change that?  Thanks.

[2021-09-22 06:49] Thanatomanic commented on #6273
@xiota Perhaps here? https://github.com/Beep6581/RawTherapee/blob/d053f02450f87e964aa9feb0efd80241203f43bd/rtgui/thumbnail.cc#L116

Here is series of `if`s that determine how the thumbnails are generated.
There is also a list in your personal `options` file called `ParseExtensions` that is loaded by RT to determine which files to show. This list shows up in the Preferences.

[2021-09-22 08:00] #6366 closed, assigned to nobody

[2021-09-22 08:01] xiota commented on #6273
@Thanatomanic Thanks.  That was what I needed. Will open PR now.

[2021-09-22 13:13] heckflosse commented on #6366
Just for the record: I could fix the problem with a fresh win10 installation

[2021-09-23 17:04] VorpalBlade opened #6368 "Incorrect locale environment variable handling on Linux"
**Short description**
On Linux the LANG, LC_MESSAGES etc environment variables determine locale settings to be used. It appears rawtherapee only uses LANG. The correct behaviour is that:
* LC_ALL overrides everything if set
* LC_* (i.e. LC_MESSAGES, LC_CTYPE, etc) is used for the respective context if set
* LANG is used as a fallback.

However, rawtherapee completely ignores LC_MESSAGES and just u

[2021-09-26 01:22] mburns9 commented on #6318
https://drive.google.com/file/d/1af0HF7UPUlUYgWNSFGn2L4z5aWsltMXT/view?usp=sharing
Here is one taken with tungsten light from a clear bulb externally metered and exposed at EV3.

[2021-09-26 01:28] mburns9 commented on #6307
https://drive.google.com/file/d/1LZlfSyC-XZrDoStnEv78aImrHO7LpNte/view?usp=sharing
Here is a cc24 raw taken with a clear bulb tungsten light and metered and exposed at EV3.

[2021-09-26 01:30] mburns9 commented on #6307
The older cc24 raw is no doubt overexposed. I will have to try again.

[2021-09-26 02:22] mburns9 commented on #6318
The DCP profile works well. The red patch becomes red.

[2021-09-26 02:44] mburns9 commented on #6318
https://drive.google.com/file/d/1Z6LY7xI_lEcYKRdeEGk8g5eFmDDqUtbU/view?usp=sharing
I found a hazy sun shot with a better histogram.

[2021-09-26 13:27] syyrmb opened #6369 "New Chinese (Simplified) translation for RT 5.8"
Since RT 5.9 isn't coming any time soon, and I've learnt more about RT, I decided to review the previous translation. So here's new one:
[Chinese (Simplified).txt](https://github.com/Beep6581/RawTherapee/files/7231445/Chinese.Simplified.txt)

_CIECAM02_ tools were translated, many major mistakes corrected, and wording consistency was improved.

[2021-09-26 14:37] Heddesdorfer opened #6370 "Error in GUI after loading a private profile"
**Short description**
After loading a private profile which is not the standard profile contains a pre-setting for wavelets and then move to another picture and load this profile again, some comboboxes are disabled.

**Steps to reproduce**
1. Create a profile with settings within wavelets
2. Close Rawtherapee und start it again
3. Open a picture and load this profile
4. Open another picture and lo

[2021-09-26 20:32] mburns9 commented on #6307
https://drive.google.com/file/d/1LZlfSyC-XZrDoStnEv78aImrHO7LpNte/view?usp=sharing
This is better now: a cc24 raw taken with a clear bulb tungsten light, metered at EV2 and exposed at EV1.

[2021-09-26 22:29] mburns9 commented on #6318
https://drive.google.com/file/d/1Z6LY7xI_lEcYKRdeEGk8g5eFmDDqUtbU/view?usp=sharing
I found a hazy sun shot with a better histogram.

[2021-09-26 22:31] mburns9 commented on #6318
The tungsten light raw at the link above is now improved - metered at EV2 and exposed at EV1.

[2021-09-26 23:00] mburns9 commented on #6307
https://drive.google.com/file/d/1uUDdA8-FXpJoemCvXxm9o51N37sIZZ1P/view?usp=sharing

The link for the daylight cc24 raw is now changed to this.

[2021-09-27 09:23] ghost commented on #6370
I'm not able to reproduce this issue.

I tried creating a few wavelet profiles with different initial settings. None show this. Not with and not without restarting RawTherapee in between using it with different RAWs.

I also tried your _RPMakroVor.pp3_ and that doesn't show this issue either. However: Your sidecar and the above screenshot are not at all the same.

The Wavelets module is turned off

[2021-09-27 15:00] Heddesdorfer commented on #6370
Well, I tried to reproduce it (it happened three times yesterday) - but now it works ! Although nothing has changed. Seems to be an one-off error. Not the first time in my life as SW-QA (I'm used to reproduce errors before reporting them).

[2021-09-27 15:00] #6370 closed, assigned to nobody

[2021-09-30 19:07] Entropy512 commented on #6318
Just as advice here - it sounds like you're using autoexposure?  I'd suggest manual exposure and, since most cameras don't have the ability to show a RAW histogram at capture, some bracketing - choose the most brightly exposed shot from the bracket that is not clipped.

[2021-10-01 19:57] r47177 opened #6372 "Rawtherapee flatpak to access all user folders (incl /mnt/)"
Hi,

I've used command "sudo flatpak override com.rawtherapee.RawTherapee --filesystem=host" however inside the app I still can't access /mnt or /media folders which are acessible to me using file browser and other programs.

I am using Elementary OS 6 and RawTherapee 5.8

May you please help?

Thanks.

[2021-10-02 23:22] Lawrence37 commented on #6372
I found a similar question on UNIX Stack Exchange: https://unix.stackexchange.com/questions/605285/how-to-always-run-a-flatpak-application-with-a-filesystem-permission

The command you used is for system-wide installations. For per-user installations, add the `--user` option without sudo:
[code]

Could this be the problem you are facing?

[2021-10-02 23:28] Lawrence37 commented on #6361
@ChrisMoller These are two distinct features, so I'm splitting this issue into two. I hope you don't mind.

[2021-10-02 23:32] Lawrence37 opened #6373 "Feature Request: Orthogonal guides"
(Split from #6361)

[2021-10-03 08:07] r47177 commented on #6372
That's exactly what happened, working great now! Thanks ;)

[2021-10-03 08:07] #6372 closed, assigned to nobody

[2021-10-03 19:32] boehs commented on #6139
At this point I think it is wise to start over

[2021-10-03 19:50] simohno commented on #6139
I run Windows, and personally rely on "The unofficial builds by André Gauthier" Mentioned in the [donwloads page of RawPedia](https://rawpedia.rawtherapee.com/Download) (a really appreciated contribution!). There are also for MAC (by Richard Barber). Not for Linux.
One has just to unzip the .7z file.

[2021-10-04 06:45] Thanatomanic commented on #6139
I am neither the owner of this repo, nor all too familiar with the process of doing CI, either externally or through GitHub Actions (which may incur charges iirc). So, while I would love to change something about this situation, we need help on how to approach this and the cooperation of @Beep6581.

[2021-10-04 18:22] jonathanBieler commented on #6139
As I understand the current [workflow](https://github.com/Beep6581/RawTherapee/blob/dev/.github/workflows/main.yml) is already compiling RT and producing downloadable artifacts (do these work?), the only issue being that it's only for macos.

If the build instruction are the same across platforms adding windows and linux should be quite easy, e.g. :

https://www.edwardthomson.com/blog/github_actio

[2021-10-05 21:25] mandree commented on #6357
I personally cannot reproduce the crash at all, and haven't heard back from the reporter. I've closed the FreeBSD bug report with "Unable to reproduce". Let's see if that wakes the bug reporter.

[2021-10-10 00:55] Lawrence37 commented on #6139
It's completely free for public repositories. https://github.com/features/actions#pricing-details

[2021-10-16 21:13] LukeFernandes commented on #6361
@Lawrence37  would you be happy if I tried to do the rotation element of this request? I've tried (and continue to try) to implement competitive fast GPU deconvolution sharpening, but I'd like the opportunity to learn more about the rest of RawTherapee. This might be a good small-ish task to get started on...

[2021-10-16 21:21] Lawrence37 commented on #6361
@LukeFernandes That sounds great! As far as I know, no one is working on this request yet. Contributions are always welcomed.

[2021-10-17 05:58] Lawrence37 commented on #6139
I'm experimenting with building AppImages in GitHub. https://github.com/Lawrence37/RawTherapee/actions/workflows/appimage.yml

[2021-10-21 03:00] mattdm commented on #5722
So FWIW it looks like the patch to fix the issues in question in LibRaw is https://github.com/LibRaw/LibRaw/commit/8682ad204392b914ab1cc6ebcca9c27c19c1a4b4, and that basically introduces some sanity checks at the beginning of various `kodak_..._load_raw` functions; for example:

    if(width>768 || raw_width>768 || height > 512 || raw_height>512 )

I don't see those in the RawTherapee bundled code

[2021-10-22 22:27] abnormally-distributed opened #6375 "Feature request: JPEG XL"
I think it would be nice to have JPEG XL support added for both importing and exporting in RT 5.9

- Supports up to 32 bit float encoding
- Has both lossy and lossless compression modes
- Supports alpha (transparency) channel
- Is explicitly intended to replace the legacy JPEG format

For more information: https://jpeg.org/jpegxl/

[2021-10-23 19:12] Lawrence37 commented on #6375
Duplicate of #6273.

[2021-10-23 19:12] #6375 closed, assigned to nobody

[2021-10-25 19:30] jbruchon commented on #4272
I just got a sd Quattro and was really hoping support for X3F would already be present. I see that this is still open 3 years later. Is there anything I can do to help? Do you need more submissions?

[2021-10-25 20:07] huahuasousou opened #6376 "Add a average filter for pixel shift to process the moving parts"
In the current version5.8, we can use median for moving parts to remove some objects. but some photography don't want to remove the moving object, and they want to have a Motion blur. So maybe we can add an average filter for moving parts. and it can achieve the slow shutter effect that simulates long exposure.

[2021-10-26 12:28] #6287 closed, assigned to nobody

[2021-10-26 12:29] syyrmb commented on #6287
Closed, since a better version is provided in #6369.

[2021-10-29 10:27] heckflosse commented on #6376
@huahuasousou

I created psaverage branch with the requested feature

[2021-11-02 10:31] supertobi commented on #3569
@cristian-milea Go to darktable, they have GoPro support and even working on GainMap support for GoPros:
https://github.com/darktable-org/darktable/pull/10289

[2021-11-07 00:42] jedypod opened #6378 "Posterization / Precision Loss with Working Profile Custom Tone Response Curve"
I have searched through the open issues and don't see this mentioned so I am making a new issue to report this.

I am working on [a python wrapper](https://github.com/jedypod/debayer) for converting camera raw images to scene-referred exr. One of the debayer engines supported is RawTherapee.

In order to use RawTherapee for demoisaic, I need to output linear gamma. The only way I have found to do

[2021-11-07 06:43] Thanatomanic commented on #6378
Thanks for reporting, but this tool was completely revamped last year. Can you test the development branch to see if you can reproduce it there?

[2021-11-07 19:15] Lawrence37 commented on #6378
I can reproduce this in 5.8 but not with a recent `dev` version.

[2021-11-07 22:40] TechXavAL commented on #6378
AFAIK you don't need to tweak the Working Profile TRC at all:

* input profiles usually have a linear TRC, so you only have to choose a good profile for your camera
* as explained in [RawPedia](https://rawpedia.rawtherapee.com/Color_Management#Working_Profile), the Working Profile has by definition a linear TRC, so choose the one you like the most, or leave ProPhoto set (as it is by default)
* cho

[2021-11-08 03:03] jedypod commented on #6378
@Thanatomanic I did attempt to test this compiling directly from the code in the latest commit of the github repo, but trying to open that compilation here on Linux Centos 8 segfaults on start... Do you have any pointers on if there is a specific branch or tag that would be a more stable place to compile from, but with the improvements you speak of?

Thanks very much for the info and links @TechXa

[2021-11-08 04:09] Lawrence37 commented on #6378
The last commit is supposed to be stable. You can try the AppImage from the [automated builds](https://github.com/Beep6581/RawTherapee/releases/tag/nightly). It's a bit old, but I think it has the new version (called "Abstract Profile"). There's a newer experimental AppImage [here](https://github.com/Beep6581/RawTherapee/actions/runs/1403264545).

The crash on startup is concerning. If you have th

[2021-11-08 07:07] Floessie commented on #6378
We also have a detailed RawPedia page called ["How to Fix Crashes on Startup"](http://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup)...

[2021-11-08 13:13] heckflosse commented on #6376
@huahuasousou Any interest to test this?

[2021-11-08 13:51] huahuasousou commented on #6376
Hi, I can test this feature

[2021-11-08 14:17] jedypod commented on #6378
@Floessie

Thanks! I learned some things about how the config and cache directories are set up reading through this page. Unfortunately none of the things mentioned there fixed the crash on start.

@Lawrence37 Thank you for the info! I tried the appimage from the automated builds and it works fine here and the segfault on startup issue is not present.

I did some more digging, compiled with debug,

[2021-11-08 19:18] Thanatomanic commented on #6378
Yes, this could certainly explain it.

[2021-11-09 10:56] maricn commented on #6216
I'm having the same issue with almost all menus. If I use them (click on an item), that parent menu becomes unexpendable.

![image](https://user-images.githubusercontent.com/3995223/140910456-e2a87067-00f6-45fd-8948-5ab55e7ac855.png)

[code]

I've tried and the same bug is happening both on multi-monitor and on laptop single-screen setups. I'm using `swaywm` (`wayland`), but that doesn't seem to b

[2021-11-09 11:14] heckflosse opened #6379 "dng OpcodeList2 gainmap support"
I started work on dng gainmap support.

Here's a first result, left without gainmap, right with:
![grafik](https://user-images.githubusercontent.com/13733487/140913892-a91296a0-5e12-4cf4-9ead-bfae16d0e221.png)

The implementation is different to the ART implementation (well, at least for now) and runs only once over the rawdata array, while the ART implementation needs to run twice (cache-wise). T

[2021-11-09 23:00] huahuasousou commented on #6376
Hi, I just finished the test, result it's good. you can check it in attachement.
![_DSC8766](https://user-images.githubusercontent.com/35621281/141019085-53e1ea9f-83e4-4bc9-9135-e07f23733c48.jpg)

![_DSC8766_PSMS](https://user-images.githubusercontent.com/35621281/141019070-2e55d07a-65bc-422b-9fca-1450d895f88a.jpg)

[2021-11-10 12:03] heckflosse commented on #6376
@huahuasousou Thanks for testing 👍

[2021-11-10 16:54] #6376 closed, assigned to heckflosse

[2021-11-11 13:52] jedypod commented on #6378
Hey experts, I'm back again.

I realized after more testing that my custom icc profile workaround above has a fatal flaw: it does not work on the commandline.

If I use a pp3 file pointing to a custom ICC profile name, rawtherapee-cli does not use it. I have tried multiple icc profile locations including
- `/usr/share/rawtherapee/iccprofiles/`
- `/usr/share/color/icc/`
- custom directory specified

[2021-11-12 13:58] marter001 opened #6381 "Entries missing in Default"
I am working with:

Version: 5.8-3049-gd053f0245
Branch: dev
Commit: d053f0245
Commit date: 2021-09-19
Compiler: cc 10.3.0
Processor: Skylake
System: Windows

Seems there are some entries missing in the default file: Using the wavelet-tools, these msgs will be shown in History:

HISTORY_MSG_chrwav
HISTORY_MSG_WAVLEVELSIGM
HISTORY_MSG_WAVLABGRID_VALUE

instead of:

wavelets - blur levels - blur chr

[2021-11-12 16:27] Desmis commented on #6381
@marter001

Thank you for testing....and find these missing history msg.

Fixed with commit a1bbede06

jacques

[2021-11-13 08:25] mandree commented on #6357
So I've received a report update on FreeBSD's end and the problem's submitter surmises that the drm-kmod (FreeBSD's DRM direct rendering kernel module) amdgpu driver might be the culprit. Reporter observes that replacing his AMD graphics card for an nvidia card and swapping out drivers correspondingly, fixes the crash. Also, if use uses the AMD VGA with the vesa driver, the crash does not happen.

[2021-11-13 08:28] mandree commented on #6357
If it helps any, the "competition" (darktable) ships with a CMS test program, and that shows something that I get on NVidia too, so may be unrelated, but still I am reporting the submitter's output of darktable-cmstest (but it may well be a red herring):

[code]

[2021-11-14 10:11] heckflosse commented on #6379
I created dnggainmap branch. Code is ready to test, but not ready to merge (too verbose, gui needs some changes etc.)

![grafik](https://user-images.githubusercontent.com/13733487/141676826-fc6da508-8429-4ee6-b538-926344c8600b.png)

[2021-11-14 11:19] simohno commented on #6362
I agree and congratulate with this idea, it is currently somewhat difficult to finely regulate the point position so to correct the color exactly as you would like.

[2021-11-14 16:55] paolodepetrillo commented on #6379
Just found an unusual usage of GainMap that wouldn't work with this implementation, or with ART's. Not sure how common this is, I had never seen it in any other files. This one is in OpcodeList3 and is intended to be applied to each color channel after demosaic.

https://discuss.pixls.us/t/looking-for-samples-smartphone-dngs-with-embedded-gainmap/27296/12

[2021-11-15 22:53] LukeFernandes commented on #6361
Thanks @Lawrence37. I’ve been working at it for a few weeks. I should have something soon.

[2021-11-16 06:36] Lawrence37 commented on #5256
I've started working on the two list design and will have a basic working version soon.

[2021-11-19 16:10] innir commented on #6368
Yes, true, RawTherapee only checks for LANG, see https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/multilangmgr.cc#L142-L153 and https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/multilangmgr.cc#L252-L258

Correct behavior would be to check for LC_ALL first, then for LC_MESSAGES and fallback to LANG if neither LC_ALL nor LC_MESSAGES exist.

NB: The decimal separator is forced to dot rega

[2021-11-20 04:11] abnormally-distributed commented on #5704
Is there any chance of this happening? It would be nice to be able to use the more space-efficient cube file format, and also to not have to have second copies of all my luts as pngs just to use in RT (everything else I have that can utilize luts allows cube files)

[2021-11-20 19:52] TheSquirrelMafia commented on #6319
I have this same issue with the recent build of RawTherapee (5.8-3055-ga1bbede06). It happens when I use CA correction & I check on the Avoid color shift. The image turns green or RawTherapee crashes.

Version: 5.8-3055-ga1bbede06
Branch: dev
Commit: a1bbede06
Commit date: 2021-11-12
Compiler: cc 11.2.0
Processor: undefined
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.5
Lensfun: V0.3.2.0
Build

[2021-11-20 23:15] heckflosse commented on #6319
gcc 11.2 builds of RT are not stable unfortunately :-(

[2021-11-20 23:25] Barugon commented on #6319
@TheSquirrelMafia
I found that the solution was to build using clang.

[2021-11-21 10:27] ghost commented on #6319
@Barugon (and slightly off-topic):

Are you able to build using clang with WITH_LTO set to ON? I'm not and I have no problems when I set it to OFF.

The speed increase by setting it to ON is probably negligible, but I'm just curious.

[2021-11-21 11:19] heckflosse commented on #6319
@TheSquirrelMafia

On msys2 I downgraded to gcc 10.3.0.
That works fine

[code]

[2021-11-22 02:59] TheSquirrelMafia commented on #6319
^ Thanks a lot! I didn't have gcc & gcc-libs 10.3.0-8, but had gcc & gcc-libs10.3.0-7. That did the trick! Also ignored in pacman.conf.

[2021-11-22 03:50] #5821 closed, assigned to nobody

[2021-11-22 21:18] Thanatomanic opened #6384 "Return of the loop vectorization compiler issue using gcc 11.2.0 on Windows MSYS2"
I updated my MSYS2 installation today and lo and behold, the [`-fno-tree-loop-vectorize` compiler bug is back](https://github.com/Beep6581/RawTherapee/issues/5749). This time with a green color cast instead of magenta.

**To reproduce**
Fully update MSYS2, compile RT `dev` branch, open any Bayer file, apply Neutral, toggle 'Auto-correction' for RAW Chromatic Aberration Correction. Voilá, green pix

[2021-11-23 09:39] heckflosse commented on #6384
I can not confirm the green cast, because my msys2 gcc 11.2 RT builds crash as soon as I open a raw :-(

[2021-11-23 20:18] #6381 closed, assigned to nobody

[2021-11-26 03:57] Lawrence37 opened #6385 "Photoshop directory does nothing on MacOS"
Following a discussion at https://discuss.pixls.us/t/external-editor-adobe-photoshop-installation-directory/27994:

Setting the Photoshop directory in the external editor preferences does nothing because `open -a Photoshop` will always be used instead. This issue will go away once #6299 gets merged, but that may not happen until after the 5.9 release. In the meantime, we can
1. Open Photoshop usin

[2021-11-27 19:24] Lawrence37 commented on #6385
This patch removes the directory chooser. As I don't have macOS, I cannot test this completely.
[code]

[2021-11-27 19:41] Lawrence37 commented on #5474
The documentation also need to explain the output directory section added in #6232. It should be clear that images saved to the temporary directory may be automatically removed by the operating system, typically on reboot for Linux and macOS (see https://discuss.pixls.us/t/external-editor-adobe-photoshop-installation-directory/27994/13). The page on [saving images](http://rawpedia.rawtherapee.com/

[2021-11-29 07:11] noirsabb commented on #5862
Hi
Apologies for the late reply. I do not have any complaints processing images with the above mentioned camera using RT.
Let me know if you would like me to try the DCP file with some images.
I could try LED lighting as well as flash, as well as some poor bedroom lighting.

NS

    On Tuesday, 22 June 2021, 08:06:34 pm UTC, Thanatomanic ***@***.***> wrote:

Hi @noirsabb, could you maybe check thi

[2021-11-30 12:11] heckflosse opened #6386 "Faster dual-demosaic/capture sharpening blend mask"
Dual demosaic and Capture sharpening build a mask to blend between demosaic algorithms and before/after sharpening.

The mask is built using a sigmoid function which uses the expensive e^x function.
I made a try to use a less expensive sigmoid function, which uses 1/sqrt(x), for which at least in SSE code I could use the fast reciprocal of sqrt. Eyeballing the results they are equal. Only when loo

[2021-12-01 14:01] #6386 closed, assigned to heckflosse

[2021-12-03 08:49] Reiner1959 opened #6390 "96MP Multishot is broken in RT dev (RawTherapee 5.8-3055-ga1bbede06)"
Hi all,

a 96 MP multishot raw with Leica SL2-S is not working anymore in the RT dev version: 5.8-3055-ga1bbede06
In the release version 5.8 it is still working ok.

problem description:
Only the upper left quarter of the file is shown with 6016 * 4034 pixels.

best regards
Reiner

[2021-12-03 08:50] Thanatomanic commented on #6390
Would you be able to share a file (e.g. via https://filebin.net) or do you know a place where I can download such a file?

[2021-12-03 08:56] Reiner1959 commented on #6390
On 03.12.21 09:50, Thanatomanic wrote:

Here is the link:

https://filebin.net/3a4qpjp9f53q8kvp

regards

[2021-12-03 09:20] heckflosse commented on #6390
Bug confirmed. Thanks for reporting. I will bisect now.

[2021-12-03 09:39] heckflosse commented on #6390
Most likely I am the culprit

https://github.com/Beep6581/RawTherapee/commit/2366cb4935165a86e86be3c608548a48bd48fa39

Trying to fix it...

[2021-12-03 10:18] #6390 closed, assigned to heckflosse

[2021-12-03 12:55] Reiner1959 commented on #6390
Wow, that was fast :-)

Multishot-file now displays correctly.

The only difference between RT5.8 and the dev version regarding
multishot is the preview
in the filmstripe and in the file overview (Dateiverwaltung). Dev
version still shows upper left quarter there.

See attached screenshot

Thank you and
best regards

Reiner

On 03.12.21 11:19, Ingo Weyrich wrote:

[2021-12-03 13:48] heckflosse commented on #6390
multishot is the preview
in the filmstripe and in the file overview

You need to clear the cache for the 96 MP files

[2021-12-04 10:52] fredericlarue opened #6391 "Amaze demosaic: bug in computation of color difference variance"
Variance of "cd" is computed from neighborhing pixels, but "cd" values are modified at the same time instead of using a temporary array.
(The related SSE code should be checked too)

https://github.com/Beep6581/RawTherapee/blob/9a9e0acbf27d589dbf6e964fd20a25893eedf749/rtengine/amaze_demosaic_RT.cc#L599-L613

[2021-12-05 10:34] Thanatomanic commented on #6384
I cannot reproduce any longer... not sure what was going on. Closing for now.

[2021-12-05 15:16] heckflosse commented on #6391
I tried to fix the `bug` using the temporary arrays you suggested.
Unfortunately this leads to strong artifacts at vertical lines.
Example: left new code with temporary arrays, right old code

![grafik](https://user-images.githubusercontent.com/13733487/144752434-e3241bcf-05ba-47f1-aea7-6ce360b99824.png)

I can provide a patch with the temporary array if someone is willing to test/review...

[2021-12-05 15:51] fredericlarue commented on #6391
May I have a look your patch?
I did some test too to fix this, and did not end up to such an issue.
Actually, I dig a lot in the code for a few days now, and I found several other code issues like this one.

[2021-12-05 16:51] heckflosse commented on #6391
Sure:

[code]

[2021-12-05 16:58] fredericlarue commented on #6391
An error:
`float *vcdalt           = (float (*))         ((char*)hcd + ... `
should be:
`float *vcdalt           = (float (*))         ((char*)hcdtmp + ...`

[2021-12-05 17:18] heckflosse commented on #6391
Thanks for spotting 👍
For eyes are better than two...

[2021-12-05 17:29] fredericlarue commented on #6391
Sure! 😉

By the way, below are two locations in the file where I noticed the same problem:
https://github.com/Beep6581/RawTherapee/blob/9a9e0acbf27d589dbf6e964fd20a25893eedf749/rtengine/amaze_demosaic_RT.cc#L972-L978

https://github.com/Beep6581/RawTherapee/blob/9a9e0acbf27d589dbf6e964fd20a25893eedf749/rtengine/amaze_demosaic_RT.cc#L1241-L1247

[2021-12-05 17:31] fredericlarue commented on #6391
And probably there too...
https://github.com/Beep6581/RawTherapee/blob/9a9e0acbf27d589dbf6e964fd20a25893eedf749/rtengine/amaze_demosaic_RT.cc#L1426-L1436

[2021-12-05 18:03] heckflosse commented on #6391
@fredericlarue Let's make a better amaze together. I have to stop for today, but will continue tomorrow.

[2021-12-05 18:10] fredericlarue commented on #6391
Would be... amazing! 😛

[2021-12-06 13:01] shapirus commented on #5520
As far as I can see, RT processes queued images one by one, while each of them is processed in multiple threads (and multiple CPU cores, consequently). This explains the near-idle CPU load periods between the peaks: when a particular sub-task for a given image, such as compression, cannot be parallelized, only one CPU core is active, until moving on to next image or other sub-task that can be para

[2021-12-06 13:14] heckflosse commented on #6384
@Thanatomanic

But I can now reproduce it when built with gcc 11.2.0 ...
![grafik](https://user-images.githubusercontent.com/13733487/144852304-8becad46-1ec6-43f1-aa0f-a18c93c099f6.png)

Reopening...

[2021-12-06 14:03] heckflosse commented on #6384
@Thanatomanic I already work on narrowing it...

Edit: It indeed looks like the old gcc issue, but this time with doubles instead of floats. Maybe they fixed it only for single precision floats... or they reinvented the bug because their regression test did only cover single precision float, who knows.

Anyway, I'm on it...

[2021-12-06 15:07] heckflosse commented on #6384
@Thanatomanic Applying this silly patch solves the issue (not that we want to apply it) and clearly shows, that there's an issue in gcc 11.2

[code]

[2021-12-06 15:12] heckflosse commented on #6384
@Thanatomanic You need to enable raw ca correction with avoid color shift to trigger the bug

[2021-12-07 13:53] heckflosse commented on #6384
It's this loop, which causes the issue. It's (wrong) vectorized in gcc 11.2, but (correctly) not vectorized in gcc 10.3

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/gauss.cc#L667

Here's a code snippet to check with godbolt.org...

[code]

[2021-12-09 14:45] chaimav commented on #6139
Are there any nightly builds currently being updated? Even ganeed92's builds seem to be frozen https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2021-12-10 10:45] gaaned92 commented on #6139
I had problems with MSYS2 and I reinstalled it.
New builds should be again available.

[2021-12-10 10:50] gaaned92 commented on #6139
There is a guy building appimages https://apprepo.de/appimage/rawtherapee

[2021-12-10 11:51] fredericlarue commented on #6391
Well, after having looked at the code more thoroughly, it appears that this last one is not an issue: the array is split between red and blue just before, and this loop only updates undefined values without erasing any valid one.

[2021-12-10 11:52] fredericlarue commented on #6391
But for these two, there is still a problem! :)
The results of these operations are indeed different with and without the use of a temporary array.

[2021-12-10 11:54] heckflosse commented on #6391
Sorry for the delay. I was on gcc 11 to test another issue. Now I downgraded to gcc 10.3 and continue work. Working on amaze using a buggy gcc 11 didn't make sense...

[2021-12-10 11:55] fredericlarue commented on #6391
No hurry ;)

[2021-12-10 11:57] fredericlarue commented on #6391
I could have done the modifications by myself, but I must admit that I'm too lazy to get and compile the whole thing 🤣

[2021-12-10 15:20] chaimav commented on #6139
Thanks for your efforts!

[2021-12-10 15:45] chaimav commented on #6139
@gaaned92 I just tried your -3058 Skylake build and crashes on open. Deleting my options file allows it to open, but it crashed shortly thereafter when I was navigating to a folder. Do you want me to file a bug report or is the issue with your build process?

[2021-12-10 22:17] gaaned92 commented on #6139
@chaimav I cannot reproduce here. It keeps working after processing files, changing dir...
 I will make more tests tomorrow.
Don't you have somewhere a corrupted file?
Edit: I observe that it is prone to crash on directories with jpg files. TBC

[2021-12-12 19:16] samueldc opened #6392 "RawTherapee not loading sidecar pp3 files"
Hi, my RawTherapee stopped loading pp3 files. The folder images are loaded, but the saved changes are not. All the pp3 files are there, but no change is showed during processing. If I make a new change, the pp3 is rewritten. But the old pp3 files are not loaded.

[2021-12-12 22:58] age1988 opened #6393 "Feature Request: Gamma corrected demosaicing"
Demosaicing in gamma corrected space instead of linear gamma.

Smoother gradients and it fixes some issues at pixel levels, mostly black dots and white dots.

[https://discuss.pixls.us/t/port-the-lmmse-gamma-step-to-the-other-demosaicers/28233]()

[2021-12-13 11:30] heckflosse commented on #6392
Please provide a raw and pp3 file. Also please post the content of your `AboutThisBuild.txt`.

[2021-12-13 13:54] #6392 closed, assigned to nobody

[2021-12-13 22:52] aspyct opened #6394 "rawtherapee-cli -f not resizing the images as expected"
**Short description**
Hi,

Not sure if this is a bug, or a misconfiguration on my part. Probably the latter, to be honest, but I don't know where to look. Help is appreciated :)

I'm trying to automate my raw pipeline with `rawtherapee-cli`, on a raspberry pi, of all things. Because I don't need the full resolution, I wanted to use the fast export option. I expected the image to be resized before

[2021-12-14 05:14] Barugon commented on #6319
Just tried this and it seems to work fine. Just a couple of warnings about not being able to vectorize a couple loops.

[2021-12-14 08:44] ghost commented on #6319
@Barugon : Thanks for checking.

I'll have to do some more testing and checking to figure out why it doesn't  build using clang when I set WITH_LTO  to ON.

[2021-12-14 11:46] heckflosse commented on #6394
Confirmed.

[2021-12-15 16:13] aspyct commented on #6394
I did some homework and noticed that the fast pipeline seems to require that the Resize tool is enabled:

https://github.com/Beep6581/RawTherapee/blob/4a4a3d59050d70332ddc89a4db72c3f16e8c38a1/rtengine/simpleprocess.cc#L131-L135

And, indeed, when I enable the Resize option in my pp3 file, the export is much faster.

[code]

So there seems to be a workaround for this: simply enable Resize to the ex

[2021-12-15 17:05] aspyct commented on #6342
Finally had the chance to try this (it's much easier to compile on linux than windows!). It's brilliant, thanks a lot @heckflosse

[2021-12-15 20:11] heckflosse commented on #6394
@aspyct I also saw this. But it's just a workaround. Nevertheless, if you you want even more speed, try RCD instead of amaze demosaic. In my tests using cli RT does not use the fast demosaic from the fast export pipeline.

Also maybe worth to enable this and check the processing times in console:

![grafik](https://user-images.githubusercontent.com/13733487/146257956-7afdb35d-9aac-4ae1-84b5-6c062a

[2021-12-15 20:17] heckflosse commented on #6342
Holy cow, that was slow ;-) Just kidding...

[2021-12-15 21:30] aspyct commented on #6394
Oh, good call! Using RCD instead of Amaze makes it 10% faster (I have a bunch of filters activated).

I also played around with the performance settings. Here are what looks like the best:
- 1 tile per thread for CA
- 2 tiles per thread for RCD and RGB

Thanks for the hint

[2021-12-16 06:51] Thanatomanic commented on #6384
@heckflosse I've temporarily patched `CMakeLists` to force the vectorization to be off. Would you be interested to take this upstream again?

[2021-12-16 09:42] heckflosse commented on #6384
@Thanatomanic please push

[2021-12-19 23:15] Beep6581 commented on #5632
Hey

I am now able to work on RawTherapee again.

Would be great to make a release before the year ends.

Before I left off, most significantly the automated builds were broken and the local editing tools were undergoing continuous changes. Could someone (@Desmis or anyone) clue me in as to their status?

Are there any other committed-but-WIP or ongoing blocker issues?

[2021-12-19 23:35] Lawrence37 commented on #5632
Great to have you back @Beep6581!

I have not heard any news about the automated builds, so I assume they are still broken. I set up an alternative AppImage build in this repository (#6374), though it is not intended as a replacement.

Local adjustments has been stable in `dev`. I think @Desmis has mostly been working on a new tool on a separate branch (#6377).

I am using the 6.0 milestone for th

[2021-12-20 07:24] Thanatomanic commented on #5632
@Beep6581 Welcome back again!
It should be pretty clear from the commit log that things have been rather quiet since June/July, so most of the latest comments in this thread are still relevant today. The [merged PRs](https://github.com/Beep6581/RawTherapee/pulls?q=is%3Apr+is%3Aclosed+sort%3Aupdated-desc) we've had were usually minor code fixes or improvements, but there have also been a few new (m

[2021-12-20 08:01] Desmis commented on #5632
@Beep6581
Welcome back again!  :)

Indeed, I don't think I'm the best person for the job.
* I am old (soon 75 years old) and my health is poor
* I don't speak (and write) English well (that's an understatement)
* my mastery of Github is poor

On the other hand, I think that @Thanatomanic  if he agrees, would be a good choice, he already plays an efficient role of regulator. Of course we can help h

[2021-12-20 10:17] ghost commented on #5632
@Beep6581 : Good to see you're active again!

About PR RawTherapee/RawTherapee#6377: It would be nice if this one could be included in 5.9. @Desmis, @waynesutton50 and I have extensively tested and retested this one and as far as we can tell there isn't anything that would block this one.

[2021-12-21 06:47] Desmis commented on #5632
@Beep6581 , and others

I just merge PR RawTherapee/RawTherapee#6377 in Dev

jacques

[2021-12-21 11:13] Desmis commented on #5632
I will be away (in Paris)  until the 29th

Only with my smartphone :)

Jacques

[2021-12-23 17:09] vladipus commented on #6297
Upvoting this.
Thank you for your work.

[2021-12-24 09:55] Thanatomanic commented on #6393
Since there seems to be debate on whether we should aim for pleasing results or theoretically correct results, this needs to be settled first imo. I'm completely ambivalent on the issue atm.

[2021-12-24 10:38] Mattie59 opened #6395 "Raw Therapee 5.9 Dev Dynamic Range Compression Crash"
Hi
Thanks for helping
Matt

Background Information
MacOs Catalina 10.15.7
RT Dev 5.8-3046 G5268b94cf GNU GPLv3
PP3 status Neutral
Crash of Dynamic Range Compression (applies without exception) to all photographs i.e.NEFS and TIFFS
MacOs Crash Report as follows:

rawtherapee_2021-12-24-102909_Matthews-imac-50.crash

Process:               rawtherapee [3834]
Path:                  /Applications/RawT

[2021-12-25 00:52] Lawrence37 commented on #6395
Looks similar to this one: https://discuss.pixls.us/t/rawtherapee-dev-apple-m1-test/26596/3. Also see #6356.

Does it work if you try [this](https://discuss.pixls.us/t/rawtherapee-dev-apple-m1-test/26596/41)?

[2021-12-25 01:07] Lawrence37 commented on #6384
@Thanatomanic I see you've disabled the vectorization for gcc 11. Did you observe the same problem with earlier versions of gcc 11, not just 11.2?

[2021-12-25 01:30] Lawrence37 commented on #6393
I'm interested in knowing why this works. If we know why, then we don't have to worry about this being purely anecdotal.

[2021-12-25 08:54] Mattie59 commented on #6395
Process:               rawtherapee [3834]
Path:                  /Applications/RawTherapee.app/Contents/MacOS/rawtherapee
Identifier:            com.rawtherapee.RawTherapee
Version:               5.8.2965 (5.8.2965)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           rawtherapee [3834]
User ID:               501

Date/Time:             2021-12-24 10:29:08.7

[2021-12-25 08:59] Mattie59 commented on #6395
From :Rawpedia/Preferences/Threads/0

To     :Rawpedia/Preferences/Threads/2

Crash is consistent with the alternate thread numbers....ie ...no change with 2 threads

Thanks

[2021-12-25 09:01] Mattie59 commented on #6395
I am using Intel as well!

<img width="583" alt="Screenshot 2021-12-25 at 09 00 44" src="https://user-images.githubusercontent.com/95077608/147381631-21446fab-3c1d-49ee-999a-e4d943115cae.png">

[2021-12-25 09:01] #6395 closed, assigned to nobody

[2021-12-25 09:22] Mattie59 commented on #6395
moved to Rawpedia/Performance/max threads for denoise wavelets /4
same crash!

[2021-12-27 08:48] TomaszMyszak opened #6396 "don't start"
**Short description**

**Steps to reproduce**

**Expected behavior**

**Additional information**

[2021-12-27 08:48] TomaszMyszak commented on #6396
==========

LD_LIBRARY_PATH: /tmp/tmp.Yq21ZEKZov:/usr/lib::/tmp/.mount_RawThecsBKoo/usr/lib/gdk-pixbuf-2.0/loaders
DIRNAME: /tmp/.mount_RawThecsBKoo/usr/bin
DESKTOPFILE_NAME: rawtherapee.desktop
APP_FULL: RawTherapee
APP: RawTherapee
APP_FULL: RawTherapee
APP: RawTherapee
BIN: /tmp/.mount_RawThecsBKoo/usr/bin/rawtherapee
DESKTOPINTEGRATION:
HERE!!!
GLib-GIO-Message: 09:45:59.570: Using the 'memory

[2021-12-27 09:37] Thanatomanic commented on #6396
Please provide accurate information on what you've done to obtain your copy of RT and then how you try to run

[2021-12-27 12:28] Thanatomanic commented on #6384
@Lawrence37 I suspect earlier versions of the 11 branch have never been publicly available for MSYS2. At least, they're not in the public repo: http://repo.msys2.org/mingw/x86_64/
And judging from the output of Godbolt with the code Ingo provided above, I see no difference between 11.1 and 11.2.

[2021-12-28 08:14] aniqueta commented on #5868
Thanks @Benitoite. This works. Noticed `rawthreapee-cli` incorrectly uses and/or creates a profile directory at `~/Application Support` instead of `~/Library/Application Support`. The GUI works correctly for me. When this macOS build is released officially could this also be fixed please? Perhaps related to https://github.com/Beep6581/RawTherapee/issues/6112. Thanks

[2021-12-29 16:12] Bezierr commented on #5670
Given that this issue is now almost 2 years old and apparently still persists in the dev branch (I might not use the very latest, though): Any idea on how to proceed with this? I'm perfectly happy with my solutions on my local build, but wouldn't it be good to have a solution for everyone?

[2021-12-30 14:45] ThorNielsen commented on #6089
I've also experienced the same issue with a strong colour cast from most R6 RAW files. It turned out to be very simple to read the white balance -- I've pasted a patch below which fixes the problem.

[code]

[2021-12-31 14:41] itsmark166 commented on #6089
Thank you very much. Unfortunately I do not have the knowledge or skill to
know what to do with what you have sent me! I would love to be able to use
Raw Therapee with my R6 files but I think I will have to wait a while
longer unless someone can release a version with your adaptation already in
the programme.

Best wishes

Mark

On Thu, Dec 30, 2021 at 2:45 PM Thor Nielsen ***@***.***>
wrote:

[2021-12-31 18:06] ThorNielsen commented on #6089
Hi Mark,
Unfortunately I'm unable to make a Windows build for you as I'm on Linux. However next year (i.e. tomorrow ☺), I will try to make a pull request (just have to figure those out), so this fix can be included in the official release.

By the way, I see in your first screenshots that you are also missing the EXIF data. That has already been fixed in the branch metadata-exiv2, and works fine f

[2022-01-02 19:29] itsmark166 commented on #6089
Thanks again. I hope a new version will be out soon! However, I understand
it all relies on the efforts of a very few people (who don't earn any money
from this) so I know I have to be patient. I wish I had the skills to
contribute and also wish canon were not such a pain in the **** when it
comes to their raw files!
I mainly use my A7iii and those files are perfect in Raw Therapee. The R6
has muc

[2022-01-02 20:24] ThorNielsen commented on #6089
Hi again, @itsmark166, I just wanted to let you know that I've made a pull request (#6397) with the appropriate changes, so hopefully it will be merged and soon available in a development version.

[2022-01-03 16:49] Desmis commented on #5632
@Beep6581

First of all, happy new year, and best wishes for this new year.

What is the progress? The end of the year has passed, we are in 2022. What are you planning to do for 5.9?

:)

Jacques

[2022-01-03 20:33] Eemilp commented on #3991
I played around a bit with different methods for implementing this or similar. Personally I think that adding this to the tooltip on the raw tab doesn't really fit it well:
![Screenshot_20220103_215907](https://user-images.githubusercontent.com/37408185/147974552-aeb9bcc8-b862-4003-94bd-720d37b53a8a.png)

I think a better option would be to have this at the top of the Raw tab:
![Screenshot_2022010

[2022-01-04 02:54] BSLprints opened #6398 "Decoration thingy getting stuck"
**Short description**
When using the LAB adjustments, the decoration thingy at the bottom of the panel sometimes gets stuck over or under (z-order wise)  the controls.

**Steps to reproduce**
Open an image using a profile that doesn't have LAB adjustments by default
Turn on a channel adjustment as parametric
Issue sometimes happens, sometimes not, sometimes jumps around.

**Expected behavior**
Dec

[2022-01-04 04:09] Lawrence37 commented on #6398
Duplicate of #3525. Other curve editors are affected too, but we don't know what's going on.

[2022-01-04 04:09] #6398 closed, assigned to nobody

[2022-01-04 19:09] rebio opened #6399 "Allow editing Exif DateTime"
Currently the options to edit EXIF metadata is pretty limited. My suggestion is to have some more options that can be used more intuitively.

**Example/Usecase:** My camera was off by 52 minutes. There is no easy way I found to tell RT to change the time/date on export. Such a feature would be pretty handy because you can avoid having to use an additional tool to change the EXIF data.

I searched

[2022-01-05 00:10] epadepa opened #6402 "Perspective module (camera based) filled with false focal lengt and crop factor data if set after file browser rotate"
**Steps to reproduce**
1. Select and image suitable for perspective correction in the file browser and right click select _Processing profile operations > Clear_
2. Rotate the image clockwise using the _90 degree icons_ in the file browser view. Rotate the image counterclockwise to get the image back as shot. (the problem was discovered when editing old files from a camera that doesn't have a sens

[2022-01-05 05:58] Lawrence37 commented on #6402
Thanks for reporting.

The focal length and crop factor are populated when the image is opened in the editor and the existing processing profile (if there is one) does not have them. I'm guessing the two parameters are getting set when rotating from the file browser. The default values are 24 and 1. I will fix this when I get the chance.

[2022-01-05 21:20] Beep6581 commented on #5632
Hey

I'm revising `default` (must be done before the release, else 16 translators would be potentially wasting their time translating obsolete strings) and still need to write a release article which explains the new features and includes screenshots which show these features in action. Things are going slow as house renovations take priority, and we're finally going away for a few days - back on

[2022-01-08 06:14] jasonliu-- commented on #5590
Greetings, RawTherapee developers. In November 2021, I packaged RawTherapee for MacPorts, and all of the issues that were discussed in this thread had to be resolved in order to get my package approved. RawTherapee is now an [official package available through MacPorts](https://ports.macports.org/port/rawtherapee/), so your [macOS documentation page](https://rawpedia.rawtherapee.com/MacOS) is now

[2022-01-08 16:44] Benitoite commented on #5590
@jasonliu  5.8 is very very very outdated.  The discussion at hand is *compilation* of the `dev` branch using macports, homebrew, or from scratch.

[2022-01-08 18:56] jasonliu-- commented on #5590
If it's very outdated, then the devs should consider publishing a new tagged release. MacPorts (and most other package management systems) only allow packages to be based on stable, archived tagged releases. I suppose I could put together a `rawtherapee-devel` package that is based off the current `master`, but that certainly wouldn't be a replacement for the `rawtherapee` package, in my opinion.

[2022-01-08 19:57] Lawrence37 commented on #5590
@jasonliu--

We've been wanting to publish a new release for many months now. Hopefully there will be no more delays and 5.9 will be released soon.

The macOS page is not just intended for developers. Users may wish to compile RawTherapee themselves for one of many reasons. For example, to make a fast native build. We cannot easily control what Google puts in their search results. What I propose i

[2022-01-08 20:08] #6402 closed, assigned to Lawrence37

[2022-01-08 20:17] Thanatomanic commented on #5590
@jasonliu-- I'm torn between being happy you put RT on MacPorts (:+1:) and being slightly annoyed that you feel misguided by RawPedia and Google, while you seem to have completely misinterpreted the very first sentence of the macOS article _and_ deliberately chose to ignore the higher-up [Downloads ](https://rawtherapee.com/downloads/) link the Google search result provided.

![image](https://user

[2022-01-09 06:00] Benitoite commented on #5590
ATM, macports is not providing pangomm-2.42.1_0+quartz.darwin_21.arm64.tbz2 and fails to build it on Monterey 12.2ß21D5025f (arm64).

As far as the @jasonliu portfile: the default install condition should be changed to Quartz with OpenMP, thereby avoiding the X11 system and allowing more than one core to run threads. The rawtherapee.com builds are built for Quartz and use OpenMP threading to maxim

[2022-01-09 19:38] eltomek opened #6403 "Incremental image loading in File Browser"
When opening the directory with large amount of photos the program stays unresponsive while being busy in the main thread (or the GUI one) loading up the pictures. It would be desired to see that the loading actually takes place (by thumbnails being added dynamically or at least by the progress bar), otherwise one may think nothing is really happening while any interactions with the main window is

[2022-01-10 01:02] Barugon opened #6404 "Color balance for Sony ILCE-7M4 is way off"
**Short description**
If I use the camera's color balance then the colors look correct but the values are way off.
![Screenshot from 2022-01-09 16-47-22](https://user-images.githubusercontent.com/16503728/148708189-ba826a28-1451-4dc2-b9e2-649c1b004d37.jpg)

If I switch to daylight color balance then the colors are very wrong.
![Screenshot from 2022-01-09 16-47-34](https://user-images.githubusercon

[2022-01-10 01:03] Barugon commented on #5987
This has long since been resolved. Closing.

[2022-01-10 01:03] #5987 closed, assigned to nobody

[2022-01-10 01:19] Barugon commented on #6404
If I use the color matrix values from the ILCE-7M3 (which are apparently the same as the ILCE-9) then everything looks pretty correct.

[2022-01-11 08:59] Benitoite opened #6405 "macOS: CMakeLists.txt not delivering linker flags for fftw3f_omp"
Missing the OpenMP flavor of FFTW3f causes a crash in certain tools on macOS.  Previously had tried to fix this with https://github.com/Beep6581/RawTherapee/pull/6356, but in actuality the builds are missing the linker flags:
x86_64: `-L/usr/local/lib -lfftw3f_omp -lfftw3f -lfftw3 -lm`.
arm64: `-L/opt/homebrew/lib -lfftw3f_omp -lfftw3f -lfftw3 -lm`

#### Tasks:
- [x] Update CMakeLists.txt to provi

[2022-01-11 13:19] Benitoite commented on #6405
I have generated https://github.com/Beep6581/RawTherapee/pull/6406 for this fix.

[2022-01-11 13:21] Thanatomanic commented on #6403
In which version of RT did you test this?

[2022-01-11 13:27] eltomek commented on #6403
It's RT 5.8 official on Windows 11

[2022-01-11 13:34] Thanatomanic commented on #6403
So, Windows 11 is not officially supported yet afaik. It should work, but you may be the first one to actually test its performance.
Regardless, there have been many changes since the 5.8 release. Would you be willing to test a nightly build?
Just download the correct `dev` version from here (https://keybase.pub/gaaned92/RTW64NightlyBuilds/) and if you don't know, pick the `-generic` one. Just ext

[2022-01-12 14:30] eltomek commented on #6403
Ok, so it is not a matter of Windows 10 or 11, it's related to where you open your folder from: having the photos stored on a local drive, they in fact load incrementally (i.e you can see the thumbnails added on the screen as they load one by one) vs reading the network storage (SMB/Samba) whereas the window is frozen until the last photo is loaded. Not sure if that's Windows specific thing or RT

[2022-01-12 14:48] Beep6581 opened #6407 "http://rawtherapee.com/ website is down"
I noticed that our website is down. Has it been down for long?

I cannot access it via FTP either, but the domain and the server show no issues.

[2022-01-12 14:49] Thanatomanic commented on #6407
It is not down: https://downforeveryoneorjustme.com/rawtherapee.com

Not sure what is going on on your end...

![image](https://user-images.githubusercontent.com/6567747/149163189-7c21bddd-608c-4716-9fd6-932572006958.png)

Edit: it doesn't matter for me whether I try `rawtherapee.com`, `www.rawtherapee.com` and with either `http` or `https`. Things are looking good.

[2022-01-12 15:17] Beep6581 commented on #6407
Both the website and FTP are down for me not only via the domain but also via IP. Guess it will solve itself...

[2022-01-12 15:45] chaimav commented on #6407
Works fine for me as well

[2022-01-12 15:45] Beep6581 commented on #3991
The solution should be consistent - not only across disabled tabs, but also disabled tools, sub-tools, specific sliders, config options, etc. Tooltips are simplest (assuming GTK+ allows a tooltip event for disabled widgets).

[2022-01-12 15:46] #6407 closed, assigned to nobody

[2022-01-12 16:55] #3665 closed, assigned to Beep6581

[2022-01-12 16:58] Beep6581 commented on #6139
Following Travis-CI's acquisition in 2019, it no longer offers free build infrastructure for open-source projects. GitHub Actions seems like the way forward.

[2022-01-12 21:31] Entropy512 commented on #6404
Amazon keeps on moving up my shipping estimate, to the point where the camera MIGHT arrive for this weekend if the trend continues (it did for my A7M3 order).  If so, AND if it's clear sky out (um...  low probability on this one...) I'll shoot the necessary ColorChecker shots to generate a DCP profile.

Otherwise the camera will be arriving early next week and I won't be able to shoot daylight col

[2022-01-13 05:40] Lawrence37 commented on #6139
They are advertising free build minutes for open source projects. https://app.travis-ci.com/plans
https://blog.travis-ci.com/oss-announcement

[2022-01-13 17:46] jasonliu-- commented on #5590
The reason why the dependencies are failing to install is because MacPorts' buildbot builders aren't able to install dependencies with variants other than the default variants. IIRC, that topic been brought up a couple of times on our dev mailing list, but none of the core MacPorts devs have taken any action so far. It's kind of a pity, because it makes packages like RT look like they're horribly

[2022-01-13 18:11] jasonliu-- commented on #5590
@Benitoite, I have submitted a MacPorts ticket regarding `pangomm` failing to build with `+quartz` on Monterey/arm64:

* https://trac.macports.org/ticket/64430

as well as tickets for making `+quartz` and `+openmp` the default variants for RT's dependencies:

* https://trac.macports.org/ticket/64431
* https://trac.macports.org/ticket/64432

[2022-01-14 11:36] peti opened #6408 "Nikon Z 9 Camera Support"
I have uploaded three sample NEF files created by the Nikon Z 9 camera to https://raw.pixls.us/:

- `nikon-z9-raw-lossless.nef`
- `nikon-z9-raw-compressed-high-quality.nef`
- `nikon-z9-raw-compressed-low-quality.nef`

The Z 9 does not support uncompressed RAW. The camera knows only "RAW L" with different levels of compression. The compression modes are:

- "loss-less",
- "high efficiency*", and
-

[2022-01-14 16:45] Bezierr commented on #5670
Ok. Having had some time available, I tried my hand on this lenstype2 issue, but having never worked with the tag structure before, I'm somewhat out of my depths here. Unless someone can give me a useful hint, I'll have to give up.

What I found:

First, I haven't found a place in the code where the special situation "lenstype==65535", or rather, "lensmount==2", indicating an E-Mount lens, is hand

[2022-01-14 22:06] rebio commented on #6399
@Beep6581 I used the time offset as an example. But it can be any other EXIF info as well. Eg. the GPS data. It would be nice if you could edit the EXIF info in general. I was taking an image with my phone that was set to include the GPS tag in the image. It did, but it was about as accurate as the time of my camera.

There probably is no need to change _hardwired_ things like eg. the camera model

[2022-01-16 17:52] ghost commented on #6359
If I understand @Desmis correctly this needs to be picked up by someone that has experience in GUI programming.

Yesterday I ran into this again, not the first time since filing this FR, and reached a point where I decided to spend an afternoon to create a solution for this: A (Linux) script that can take care of this.

So just in case people stumble upon this FR hoping for a solution, here's, a h

[2022-01-16 22:51] Lawrence37 commented on #6359
It might actually be pretty easy to implement this, except it may interfere with [some work](https://github.com/Beep6581/RawTherapee/issues/5410#issuecomment-644651339) being done by @Pandagrapher.

[2022-01-17 08:10] ghost commented on #6359
@Lawrence37 : Thanks for pointing out #5410, missed that one while initially searching for duplicates.

I do hope work is picked up on this one again, been kinda quiet for a long time, especially if it possibly stops others implementing GUI related changes.

[2022-01-17 22:57] chaimav commented on #6139
@gaaned92 I just tried your latest build (3065 Skylake) and it once again crashed on open. If there is any troubleshooting you want me to do, let me know.

[2022-01-17 23:10] Benitoite commented on #6139
@chaimav  is this crash involving a symbol in liblerc?  https://discuss.pixls.us/t/problem-with-rt-5-8-3065/28872/21

[2022-01-18 13:12] chaimav commented on #6139
I get no error message. It just opens for a about a second or two then disappears. I have been having similar issues with the past couple of @gaaned92's builds

[2022-01-18 17:01] Pandagrapher commented on #6359
I have paused my work on the #5410 issue. The problem is that the implementation of `EditWidget` class does not help to manage widget overlay built from several elements (circles, lines, ...). According to me, before spending hours to improve the Locallab GUI, times need to be spent on improving the `EditWidget` class first (and honestly, as there is a risk of regression, I am not motivated to wor

[2022-01-18 18:25] Entropy512 commented on #6404
Camera is arriving today, but weather and timing mean that if I can get a sunlight ColorChecker shot it'll be a marginal one - better than nothing I guess until I get a good sunny weekend.

[2022-01-20 03:43] Barugon commented on #6404
I really should invest in a proper test target....

[2022-01-21 10:23] ghost opened #6411 "Loading partial profile using Local Adjustments spot(s) = Double/Unwanted result."
**Short description**
Loading a partial, LA related, profile results in double/merged spots instead of the current spot(s) being replaced by those in the partial profile.

**Steps to reproduce**
1. Load any RAW,
2. Activate Local Adjustments,
3. Add 2 spots,
4. Save these 2 spots using *ctrl-click* on *Save current profile*,
5. Reset RAW. Result should be a clean LA module with no spots,
6. Create

[2022-01-21 17:34] Acasmol opened #6412 "Running commnad "cmake --build . --target install" fails in the next job: [2/35] Linking CXX executable rtgui\rawtherapee-cli.exe"
**RawTherapee version:** "dev" branch as the date of 2022-01-21
**OS Version**: Windows 10 - 19043.1466

**Issue happen when:** Running the follow command:
 "cmake --build . --target install"

**Output of the command:**

[262/300] Linking CXX executable rtgui\rawtherapee-cli.exe
FAILED: rtgui/rawtherapee-cli.exe
cmd.exe /C "cd . && C:\TDM-GCC-64\bin\c++.exe -std=c++11 -march=native -Werror=unused-

[2022-01-21 18:37] Thanatomanic commented on #6412
Not sure what is going on, I have no problems building and linking RT myself. Two things of note:
1. Why are you not using the gcc/g++ provided by MSYS2/Mingw64? Could this be the root of the linking issues?
2. After configuring for Ninja, it is easier to just run `ninja install` instead of your `cmake` line.

Edit: in fact, I see you're also using a separate Git installation, instead of directly

[2022-01-21 19:55] Acasmol commented on #6412
Sorry...

All issues were resolved when I start using  MSYS2 MinGW x64

Thanks!

Colising this issue!

[2022-01-21 19:55] #6412 closed, assigned to nobody

[2022-01-22 06:30] Lawrence37 commented on #6139
I'm adding a workflow for Windows. It is successfully compiling and uploading the builds. I just need to verify they run correctly and add the installer.

[2022-01-23 06:18] Lawrence37 commented on #6411
This comment is relevant: https://github.com/Beep6581/RawTherapee/issues/6136#issuecomment-787483194. To summarize, this is currently the intended behavior but in the future, applying partial profiles should either add or replace spots. I think there should be at least an option to add spots since it would be difficult to achieve the same result otherwise.

[2022-01-23 07:21] ghost commented on #6411
@Lawrence37 : Thanks for pointing this out.

I have to agree to there being the ability to choose, but: I really think that the way it is implemented now is the wrong way around. Everywhere in RT what is there is fully replaced by the loaded profile and this should be the default for the Local Adjustments too.

Fixing this seems to be a lot of work and, if I understand correctly, will not be start

[2022-01-23 14:11] ghost commented on #6125
FYI clang-format is natively available on Windows as either part of the LLVM / Clang download package, or as part of the Visual Studio free edition install in \VC\Tools\Llvm\x64\bin\clang-format.exe under the MSVC install directory if the LLVM tools are installed as part of C++ dev tools.

[2022-01-23 14:20] ghost commented on #6028
x265 is something like 70% assembly and detects all available extensions at runtime, then allows disabling whichever ones you want via command line options for edge cases like the horridly reduced speed of Skylake Xeons running AVX512 code.   Encoding H.265 is far more processor intensive than processing raw files though, so I'd question its use here.

[2022-01-26 12:35] greenoid commented on #3254
An existing Adobe Lens Profile (LCP), or a hand crafted LCP, or the integrated distortion parameter from the panasonic raw file would not help in RawTherapee at the moment because:
- when LCP is converted in Lensfun format, it would have to use the model "acm". This is only understood by Lensfun version 2 xml format. RawTherapee does include Lensfun in version 3.2.0 which does not support version

[2022-01-26 17:26] heckflosse commented on #3254
That's wrong

[2022-01-28 08:55] iurienistor opened #6415 "Help tooltip overshadows the image"
How can I turn off this help tooltip which overshadows the image?
If there is no options, I think it would be useful the user to be able to turn off in the application in  UI settings.
![helptooltip](https://user-images.githubusercontent.com/56111777/151516125-c2b5ecbf-4f18-49f8-bd96-47fd45449b1f.png)

[2022-01-28 08:57] Thanatomanic commented on #6415
Duplicate of #6007

[2022-01-28 08:57] #6415 closed, assigned to nobody

[2022-01-28 13:49] Bezierr opened #6416 "Identity HaldCLUT changes colors"
This might be related to what is discussed in #5071 (last two comments).

I'm not sure if this is a bug, if I have wrong expectations, or if the information in RawPedia is misleading.

To reproduce, you need a wide gamut monitor.

1. Open the attached picture in RT, profile "(neutral)", Working Profile "ProPhoto".
2. Go to Color / Film Simulation and apply the Identity HaldClut provided by RT, or,

[2022-01-30 19:01] Bezierr opened #6417 "Film Simulation ComboBox does not cope well with long HaldCLUT names"
This is a minor GUI issue that I encountered while fighting with the Film Simulation tool.

If the name of at least one of the HaldCLUTs found is too long to fit into the right panel, all names are truncated on the left side, which somewhat messes up the GUI and may leave the names illegible. See "Before" attachment.
![Film Simulation Before](https://user-images.githubusercontent.com/38507161/1517

[2022-01-31 08:27] gaaned92 commented on #6416
Take my answer with some caution, as I am not a dev.
- the identity Haldclut is generated in a sRGB color space. Thus, It  represents a color transformation in the sRGB space, and the output profile used to generate a Haldclut must be sRGB.
- The Haldclut transformation is placed somewhere in the RT pipeline, surely in the RGB section using the working space and before the LAB section. In this cas

[2022-01-31 10:55] Bezierr commented on #6416
Thank you.

Assuming you are correct, does that imply that, in general, Film Simulation / HaldCLUT will not work correctly on pictures with colors outside the sRGB range? That might indeed explain my observations here [https://discuss.pixls.us/t/haldclut-vs-color-toning-colors-not-identical/25954](url), as it seems that the divergent colors usually are out of sRGB, or at least close to the edge.

[2022-01-31 19:58] sobukus opened #6419 "Add scratch and fibre removal as merging from both sides of a line (polygon/spline)"
I am exploring negative scanning via DSLR and RawTherapee and am getting quite nice results already.
I really like being able to program any processing in the non-destructive sidecar files, avoiding costly
intermediate bitmaps. Ideally, that would extend to some operations on masked areas, or actual drawing
operations. Well, the vignette filter is already such an operation … anyhow. Back to my sug

[2022-02-01 11:40] heckflosse commented on #6416
If the profile embedded in the clut is the same as the working profile, there will be no conversion, else the image will be temporary converted to the profile of the clut.

For reference:

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/improcfun.cc#L2979

[2022-02-02 09:16] gaaned92 commented on #6416
Thanks Ingo.
So what is the way to  generate and use a haldclut in a Wide Gamut context.
- first I suppose that my working space is prophoto (linear) and my output space  adobe RGB (with the Adobe TRC of course).
- thus, to avoid conversion, I have to generate a haldclut in prophoto linear.

To generate the Halclut:
- first I set up the color transformation  on a photo.
- once happy with it, I inp

[2022-02-02 19:04] TechXavAL commented on #6416
AFAIK, the **Hald_CLUT_Identity_12.tif** file is encoded with sRGB primaries, so if I have understood correctly @heckflosse's post, whenever you apply that clut to a default working profile image (that is, encoded in ProPhoto):

- it will be encoded in sRGB (with all the necessary Rendering Intent work and perhaps some clipping)
- the color changes will be applied (but in this case there will be n

[2022-02-02 19:37] #6396 closed, assigned to nobody

[2022-02-03 02:50] gmaxwell opened #6420 "Canon R3 CR3 support"
I've been using 9c5ce0d9bb1df0e546041b1d8a8f2c63e94e5287 + #6397 + (exiv2 v0.27.5) w/ the Canon R5 successfully but I just got an R3 and the images open as all white.  I don't see any PR's for it already.  Dnglab (https://github.com/dnglab/dnglab/ ) is able to read the files and produce a dng that rawtherapee will accept. (looks like [they only had to add some constants](https://github.com/cytrino

[2022-02-03 18:46] ror6ax opened #6421 "Add setting to default save dialogue to source image location"
The documentation details the following process:

I'd like to request a toggleable setting that makes the process automatic for those users whose process, like mine, is folder-per-project. Extra click on every save is getting on my nerves ;)

[2022-02-03 18:51] ror6ax opened #6422 "Vertical alignment tool"
I'd like to propose a new tool, same as existing horizontal alignment, only for vertical lines.

As someone shooting a lot of architecture imagery, I often find myself wanting to align the window or a column or a house wall - obviously align them vertically.

Should be a relatively easy thing to implement for a newb like me - if @Beep6581 approves such an undertaking,

[2022-02-03 19:04] Thanatomanic commented on #6422
Nobody holds you back or needs to approve for you to come up with a pull request for the change. Go for it!

[2022-02-03 19:20] ror6ax commented on #5632
* cough * sure would like to try those new shiny features...

[2022-02-03 21:30] Lawrence37 commented on #6422
Are you referring to the [rotate / straight line tool](http://rawpedia.rawtherapee.com/Lens/Geometry#Rotate), because it works vertically too.

[2022-02-04 09:11] gaaned92 commented on #6416
The present Hald_CLUT_Identity_12.tif I have  has no ICC profile embedded, so I suppose RT consider it is encoded in sRGB.

a halclut is just a way to pack a 3D LUT. for the identity HaldClut, when you input a value (3 coordinates), you output the same value whatever the color space.

 Now I can assign whatever color space I want to the identity HaldClut. Here, I will assign Prophoto linear from E

[2022-02-04 16:19] marter001 opened #6424 "RT-dev3065 crashes"
I am working on windows 10 and download the RT dev-versions from https://keybase.pub/gaaned92/RTW64NightlyBuilds/
Version 3049 is working stable and only crashes very seldom when clicking the export button.
Version 3065 i cannot use at all, because it always crashes when clicking on the favorites folders in the explorer-tab. Have a look at this short video:

https://user-images.githubusercontent.c

[2022-02-05 15:01] gaaned92 commented on #6424
@marter001

 I am unable to reproduce the crashes on my machine (W10, i7-6700K).

So the only way I see is to try to identify, if any, the offending commit.
For that, I consider a slow and laborious process which requires our collaboration: I am going to use  git-bisect method to find the offending commit by bisection.

1- I will produce a skylake build one at a time, that I will upload in https:/

[2022-02-05 15:43] marter001 commented on #6424
@gaaned92 thanks a lot for your answer and wantig to take this effort. Of course I agree to your proposed process.

My machine:
Windows 10 21H1, I7-7700, 3.6 GHz
40 GB RAM
NVIDIA Geforce GTX 1060 3GB
and (maybe important) 4K monitor BenQ, resolution 3840x2169

Thanks a lot in advance

[2022-02-05 22:49] gaaned92 commented on #6424
After some verifications, I will try to start on Sunday.

[2022-02-06 01:19] Lawrence37 commented on #6416
The color profile in the HaldCLUT does not matter. RawTherapee will only look at the raw pixel values. The RawPedia page explains this. What isn't documented is that the CLUT is applied in a color space pulled from the name of the HaldCLUT file. The color space name must exactly match one of the working color spaces and appear at the end of the file name before the extension. For example, `Identit

[2022-02-06 08:56] marter001 commented on #6424
great, but s long as default isn't revised we are not in a hurry :-)
Should i proceed the debug under GDB as before?
Please let me know if you need more information or some other assitance.

[2022-02-06 11:44] heckflosse commented on #6416
@Lawrence37 That's true for applying a HaldCLUT. But when you open a HaldCLUT file in editor, the color space is not taken from the name of the file. Means, when you open a HaldCLUT in editor to create a new HaldCLUT, you need to tell RT which input color profile it is. Or am I wrong?

[2022-02-06 13:21] rebio commented on #6424
I tried to test this bug on both of my Windows machines.
**TLDR:** I was not able to reproduce it.

I tested the same build (Version: 5.8-3065-g9c5ce0d9b) from the same website.

**Machines:**
1) Windows 7 system: An old legacy system with a super old AMD CPU. I opened the Downloads folder in the favourites section. There was no crash no matter what I did (but I had to add the section first though

[2022-02-06 14:22] marter001 commented on #6424
@rebio thanks for testing. I tried to verify with your ideas, but not successfull.

The crash is not related to the download-folder it can be any folder:

- In my video you also can see the folder "urlaub", RT crashed when clicking this one after removing the download-folder.
- trying to remove all favorites already crashes in 3065, after restart they appear again
- The favorites are set up and ov

[2022-02-06 20:21] Lawrence37 commented on #6416
Right. I'm not 100% sure, but I think for creating a HaldCLUT from an identity file, both the input and output profile should be the color space that the transformation is intended to be applied in.

[2022-02-07 02:20] Lawrence37 commented on #6419
The spot removal tool is simple in principle. Each spot is a circle (easy to compute) and pixels are simply cloned from the source to destination. The source location is determined by user input.

Using paths or polygons makes things a bit more complicated because you need to determine which pixels are near the path or inside the polygon. It would be wise to develop such a feature for general use

[2022-02-07 04:42] Thanatomanic commented on #6139
Now that https://github.com/Beep6581/RawTherapee/pull/6413 is merged, @Lawrence37 has made an important step to finally close this issue. 🥳

I have one little request though: could you rename the artifacts something else than `WinVista_64`? I think this may confuse  users, doubting whether they can use the build if they do not use Windows Vista. Perhaps just `win64`?

@Benitoite, could you look in

[2022-02-07 05:16] Lawrence37 commented on #6139
@Thanatomanic I followed the naming convention from RawPedia (http://rawpedia.rawtherapee.com/Windows#Creating_a_distributable_package), but I will change it if there is agreement.

[2022-02-07 05:51] Thanatomanic commented on #6139
Seeing as that portion of RawPedia is probably a few years old, I don't think there is anything against a different name. We'll just update RawPedia accordingly.

[2022-02-07 06:02] #6405 closed, assigned to nobody

[2022-02-07 06:05] Benitoite commented on #6139
@Thanatomanic Yes this can be done but are you sure you want those mixed in there?  They build as a check but the artefacts don't really work because they don't get notarized.   It would be confusing, I think, to present them as useable.

[2022-02-07 06:20] Thanatomanic commented on #6139
Forgive my ignorance of how macOS operates. If I understand you correctly, the dmg inside the zip that is produced e.g. [here](https://github.com/Beep6581/RawTherapee/actions/runs/1804238479), cannot simply be used as updated version of RT?
If so, then we can definitely close this issue.

I will probably remove the older automated build to avoid confusion. Fwiw, the new one can become the official

[2022-02-07 06:32] Lawrence37 commented on #6139
Seeing that there is only one Windows download option on the website, I guess `win64` or even just `win` suffices, as there is no need to distinguish between multiple Windows builds. I will make the name change.

[2022-02-07 06:40] Benitoite commented on #6139
@Thanatomanic Right, to work on macOS the app and dmg must go thru a proprietary Apple malware check.  The automation skips that post compilation codesigning and notary transmission.

[2022-02-07 11:40] sobukus commented on #6419
Yes. Indeed I also have a suggestion to make the spot tool itself less simple;-) There are cases where it would really help to be able to define a rotation. I worked on a negative scan with a tree in winter. Lots of branches in differing angles. When I need to cover a certain spot touching (a) branch(es), I need to search for similar features elsewhere, also in the correct angle. I see how that co

[2022-02-07 14:47] Bezierr commented on #6416
I can confirm that renaming the RT-provided Identity HaldCLUT to "RT_Identity_12_ProPhoto.tif", and applying it to my sample photo, does not change the picture anymore :-)

So... I think that in RawPedia should be mentioned that if the name of a HaldCLUT does not end in the name of the Working Profile, a conversion of the picture to a color space whose name can be found at the end of the HAldCLUT

[2022-02-07 16:50] gaaned92 commented on #6416
1- @Lawrence37 Thanks for the explanation. I thought that the film simulation would transform the photo in the color space of the Haldclut if an, ICC was embedded in this Haldclut. This way woud be much much better and more intuitive than append a colorspace name at the end of the Haldclut.

2- if I want to create a prophoto Haldclut

  - I input the Hald_CLUT_Identity_12.tif using "**no profile**

[2022-02-07 17:03] gaaned92 commented on #6424
@marter001
Procedure
- Download the build in https://keybase.pub/gaaned92/RTW64NightlyBuilds/marter/ when I notify an upload
- test the build
- if it crashes, just post BAD here. if it doesn't crash just post GOOD here.

[2022-02-07 17:04] gaaned92 commented on #6424
@marter001
3065 uploaded

next time it will be 3049 (I will notify)

[2022-02-07 17:26] Thanatomanic commented on #6424
Before you proceed in this laborious effort, has @marter001 already tried to clear his cache? Just remove the entire cache folder from `%LOCALAPPDATA%/RawTherapee-5dev/` (exact path may differ, I'm on mobile, can't check).
Then restart RT and try to open folders.

[2022-02-07 17:45] marter001 commented on #6424
@gaaned92 wow, you did it!

In a first test, there is no crash in this Version. I will continue and report.

@Thanatomanic yes i did this for former tests. With the today upload it was not necessary to delete any cache or folder.

BTW: I could find another unexpected behaviour on this favorite structure, but thats more like cosmetics:
Click a folder in favorite, then click another folder in struct

[2022-02-07 22:36] gaaned92 commented on #6424
Thaks @marter001
If there is no crash with 3065, there is no more to do for the moment on my side.
I am waiting for confirmation.

[2022-02-07 22:47] gaaned92 opened #6425 "Crash with mingw-w64-x86_64-cmake 3.22.2-1"
Windows10 MSYS2

If I build dev_5.8-3065-g9c5ce0d9b with mingw-w64-x86_64-cmake 3.15.6-1 the build is OK

When using mingw-w64-x86_64-cmake 3.22.2-1, I get those fatal errors while executing cmake

[code]

[2022-02-08 07:36] marter001 commented on #6424
@gaaned92 ,thanks a lot to you.
I will give it a intensive test next weekend and in case of no crash, i will give you information and close this issue.

[2022-02-08 11:33] Beep6581 commented on #6139
They're zig-zagging and doing 180° turns in their policy.

https://news.ycombinator.com/item?id=25338983

The info on their website is inconsistent.

https://docs.travis-ci.com/user/billing-overview/#credits-vs-oss-only-credits

It's unclear what the situation currently is - either open-source projects can't be built for free at all (not talking about a trial), or best case scenario is that open-s

[2022-02-08 11:34] Beep6581 commented on #6139
I closed this by accident - feel free to re-open if needed.

[2022-02-08 11:51] Beep6581 commented on #6139
Haven't we discussed and agreed to this years ago? Anyhow I certainly agree. The only actively supported versions of Windows are 10 and 11. If someone is still making builds for versions of Windows older than that, I don't think that should come at a cost of confusing users of contemporary versions.

:+1:

[2022-02-08 11:55] Beep6581 commented on #6139
Any objection to deleting the [`nightly`](https://github.com/Beep6581/RawTherapee/releases/tag/nightly) tag and the `Automated Builds` release? Then updating `nightly-github-actions`, RawPedia and the website accordingly.

[2022-02-08 17:30] Beep6581 commented on #6416
Could you point me to the code?

[2022-02-08 17:38] Beep6581 commented on #6424
@marter001 can you give this build a try?
`RawTherapee_dev_WinVista_64_release.exe`
https://github.com/Beep6581/RawTherapee/releases/tag/nightly-github-actions

[2022-02-08 17:41] heckflosse commented on #6416
If you map a prophoto pixel to a srgb pixel, it may get a value larger than 255 (or 65535), If you apply a clut on this pixel, it will be clipped beause the clut does not support more than the 255/65535 range.

[2022-02-08 18:36] marter001 commented on #6424
@Beep6581 thank for the link, i downloaded the file and will test it on weekend too.

[2022-02-08 21:27] gaaned92 commented on #6416
Thanks @heckflosse understood

[2022-02-09 01:56] Lawrence37 commented on #6416
@Beep6581
The profile name is read here.
https://github.com/Beep6581/RawTherapee/blob/a20fe8b191184be51eb28f8cfdffee3eb9d80ca3/rtengine/clutstore.cc#L293-L306

[2022-02-09 14:56] Entropy512 commented on #6404
I have my sunlight shots, need to stop being lazy and find my tungsten bulb for StdA shots.  Later this week maybe?

[2022-02-09 18:42] Beep6581 commented on #6404
My experiments revealed no practical difference between profiles made on sunny summer days vs overcast winter days.

[2022-02-09 20:23] Entropy512 commented on #6404
I think I remember you mentioning that, but I'm picky enough that I wanted to at least get clear winter - which I do have now.  Just need to find my tungsten bulb and stop being lazy to get StdA.

I haven't seen you in a while, welcome back!

[2022-02-10 07:55] marter001 commented on #6424
@gaaned92, @Beep6581 thanks for your special builds.
I tested both of your builds and both are stable in explorer according to this issue.

But:
- In dev 3068 (@Beep6581) the lensfun doesn't work at all, its not possible to choose or define a camera or a lens.
- In both, and also in former dev (3049), i still get a seldom crash when clicking the export-button.
I will more investigate in this and t

[2022-02-10 07:57] Thanatomanic commented on #6424
The lensfun issue is known (but not officially reported). See here https://discuss.pixls.us/t/automated-windows-builds-commit-6413/29334/7

Please set the `DBDirectory` to what apostel338 mentions and see if that solves the issue.

[2022-02-10 08:05] marter001 commented on #6424
@Thanatomanic thanks for the hint, in dev3068 this will work fine, but then in dev3065 the lensfun is gone...

[2022-02-10 19:20] rebio commented on #5632
@Beep6581 Since the "we want to get 5.9 out of the door" topic is now about 2 years old I would like to request a quick update on the state.

Lately I'm finding more translation bugs. I remember somebody on here said something about _finish the tool, then finish the translation = avoid constant updating the translation with the changes_. I'm not sure how far the tools are ready that translation is