[2020-08-09 07:51] zstomp opened #5880 "Lensfun, multiple profiles for a lens"
Lensfun has multiple profiles for some lenses (e. g. "Sigma 10-20mm f/4-5.6 EX DC HSM"). The profiles differ in crop factor, but RT seems to ignore it and always select the first one in the list in auto mode. Additionally, only the first profile is available in the drop box in manual mode.

Version: 5.8, Commit: 9a9e0acbf

[2020-08-09 12:14] madarexxx commented on #5867
Hi everyone, here is a word from a humble hobby user of RT:

1) Inspect tab and largest available thumbnails (wish we had even larger ones) combined provide great workflow:
        a) See main composition in thumbnail (just like it will be seen in social network feeds)
        b) Select sharpest image from sequence (as I am a quite poor hobbyist, I do not have professional equipment set and have t

[2020-08-09 12:36] ff2000 commented on #5867
I don't see that. Probably it has to do with startup-notifications? Which DE/WM are you using? Does it support disabling startup-notifications?
What I see is for a split second a second entry in the window list labeled "RawTherapee Inspector", just before the mainwindow shows up.

[2020-08-09 14:20] ff2000 commented on #5867
I never found that small stripe the inspector offers to allow for a QUICK way to go through several photos. This is caused by 1) the thumbnails don't offer enough area and detail to select the area of interest, especially when dealing with highres photos and 2) moving the mouse on a small thumbnail while NOT having an eye on it (but the inspector stripe) and 3) the context switch when having to mo

[2020-08-09 15:45] rfranke commented on #5867
Two new commits of PR RawTherapee/RawTherapee#5872 do:
- add F11 key binding to toggle fullscreen status on systems where the windows manager does not already support this (ironically the F11 key is reserved for something else under OSX per default, but there it's not needed)
- add entry to context menu to open inspector window without fullscreen mode, showing the image at the current mouse positi

[2020-08-09 16:39] Floessie commented on #5867
@ff2000

I'm using XFCE 4.14 on X. I haven't changed any notification settings and I honestly don't think it's related to startup-notifications.

Well said, Franz!

[2020-08-09 17:19] heckflosse commented on #5867
I also see a frame for a fraction of a second when starting RT in Windows

[2020-08-09 17:32] rfranke commented on #5867
Is this possibly related to your improvement:
https://github.com/Beep6581/RawTherapee/pull/5593#issuecomment-570550601
?

[2020-08-09 18:01] heckflosse commented on #5867
@rfranke

This patch moves the flickering (frame showing for a short while) from the start of RT to the first time I press the f-key on a thumb to open Inspector.
Maybe that helps...

[code]

Ingo

[2020-08-10 01:22] Kildor commented on #5867
I really do not understand one thing. Here, in RT, there are many things to reach the same aim different ways. And you can select the best fitted for you. Why this feature comlpetele destroy previous? The inspector tab was more than usable and it had several advantages over this window.

I do not understand you. It was easy, just move the mouse over images and look to the panel. It was very usable

[2020-08-10 01:27] Lawrence37 commented on #5867
@rfranke Here's a video showing the zoom on my computer. https://filebin.net/ez569qaivx7mvvmc

The video also shows a black rectangle behind the picture. Its size changes while zooming and when resizing the inspector window.

[2020-08-10 04:30] ff2000 commented on #5867
rfranke already said that it is easy to restore the tab + add an option. But before doing so he really would like people to give it a shot, so that he can improve it.

Tell my dad how easy it is... You can try to adapt to it but that doesn't mean the way it works is userfriendly. Shifting your view away from the mouse pointer and start moving it without watching the pointer can be hard for certain

[2020-08-10 05:58] Thanatomanic commented on #5867
I just quickly want to add to try and keep to the topic (those specifically addressed in my first post). Requesting new enhancements and indicating further issues is best done in a new thread. The current one contains a few separate things as well and the discussion to find a resolution is already a bit muddled.

@rfranke I think it is safe to assume the original inspector window should return bef

[2020-08-10 06:18] Floessie commented on #5867
@heckflosse

Thanks. Now RT starts like it used to. :+1:

[2020-08-10 06:58] ff2000 opened #5881 "Preserve filter settings in Metadata filter when switching to a different folder"
It can take some time to setup a filter. Switching folders should not touch the filters, as the new folder might contain photos from the same session and the same range of Metadata values.
I see the reason why this currently is done: The min and max values of Metadata types (e.g. ISO) could have changed, images be taken with a different camera (producing different RAW files). But the user already

[2020-08-10 10:40] kdm9 opened #5882 "Canon EOS R5 CR3 pegs cpu at 100% with no GUI"
Hello,

I know full CR3 support is still in progress, but out of curiosity I tried loading a CR3 from Canon's new R5 into RT. However the image never loads, and no sign of the GUI appears after several hours at 100% cpu (RSS stable at ~150MB). This happens with both the debian sid packaged version of 5.8 (debian pkg version 5.8-2), and with RT compiled from `dev` just now (https://github.com/Beep6

[2020-08-10 11:40] heckflosse commented on #5882
I confirm 100% usage of one core. Seems to be an endless loop.
@Floessie Can you give it a try in gdb, please? On Windows, CTRL-C in gdb does not work :(

[2020-08-10 11:56] kdm9 commented on #5882
@heckflosse does this help?

[code]

[2020-08-10 13:18] heckflosse commented on #5882
That helped. Thanks a lot :+1:

This patch avoids the endless loop. Though I did not check for side effects with other cr3 files:

[code]

[2020-08-10 19:54] KarlMagnusLarsson opened #5883 "Canon EOS 5D mk IV not detected (Linux, from source)"
My camera Canon EOS 5D mk IV is not detected in the transform menu, when I use a build created from source using Linux Debian Testing (Bullseye).

How shall I patch the source or the configuration to have Canon EOS 5D mk IV automatically detected?

Version: github source commit 130fbb8eb2efa70f89b36f7bf8c9722e804b73eb (Aug-10 2020)
OS: Debian Testing (Bullseye)
Build follows https://rawpedia.rawth

[2020-08-10 20:24] KarlMagnusLarsson commented on #5883
The cmake result from step 4 is here
-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX c

[2020-08-10 23:02] kdm9 commented on #5882
Beautiful, that fixed the initial issue. However it now loads as a pure white image. Should I make a separate issue for that, or is weird decoding of R5 CR3s a know issue? I assume we would need to update the camera constants, though I have no idea where to start on that.

[2020-08-10 23:42] Lawrence37 commented on #5883
~You have lensfun version 0.3.2.0 which doesn't have the 5D mk IV. Try a newer version or~ add [this](https://github.com/lensfun/lensfun/blob/79ff00ad8c5524a0264f554e116edd79e2b241d7/data/db/slr-canon.xml#L61) entry to your lensfun database.

Edit: More information here: http://rawpedia.rawtherapee.com/Lens/Geometry#Lensfun

[2020-08-11 13:58] Thanatomanic commented on #5883
I have zero problems recognizing the camera and lens with lensfun on my (just updated) Windows build. Please run `lensfun-update-data` and make sure your RawTherapee options file points to the right path for lensfun.
[code]

[2020-08-11 13:58] #5883 closed, assigned to nobody

[2020-08-11 14:00] Thanatomanic commented on #5883
@Lawrence37

A newer version of lensfun (the library) is not the right way to solve this issue. Running `lensfun-update-data` and updating the database is. The 5D Mk IV is supported in lensfun 0.3.2.

[2020-08-11 16:25] rfranke commented on #5867
PR RawTherapee/RawTherapee#5872 now re-adds the inspector tab, configurable through Preferences and `options.inspectorWindow` (default: false).

The second new preference `options.zoomOnScroll` (default: true) configures the use of a scroll wheel for zooming. This option can be set to false when using a trackpad where scrolling (two finger swipe) should translate to panning. This works along with

[2020-08-11 19:57] KarlMagnusLarsson commented on #5883
@Lawrence37 @Thanatomanic
Thank you for checking the issue and for the help.

@Thanatomanic
Your hint worked for me.
I ran lensfun-update-data as normal user and pointed [Lensfun] DBDirectory= in options file to the database that lensfun-update-data stated it had created.

[2020-08-12 09:56] Thanatomanic commented on #5877
The answer is given on the RawPedia page you linked:

(emphasis added by me)

[2020-08-12 09:56] #5877 closed, assigned to nobody

[2020-08-12 10:04] Beep6581 commented on #5877
@dtschump wrote code which shrinks a HaldCLUT's size down to a few kilobytes. Would be nice if this was adopted in RT. That's issue #5228

[2020-08-12 10:07] Beep6581 commented on #5880
@zstomp please provide a sample raw file.

[2020-08-12 12:04] strogonoff commented on #5877
I see. I'd be happy to contribute a hosting facility for 16-bit CLUTs, if files remain large in foreseeable future.

I think I'm not the only one who'd rather cut down on interpolation (even if it's not entirely warranted)

[2020-08-12 17:05] zstomp commented on #5880
@Beep6581 Sorry, I thought RAW wouldn't be necessary. Here you go: [https://gofile.io/d/rUAiJD](https://gofile.io/d/rUAiJD).

[2020-08-13 14:39] #5843 closed, assigned to nobody

[2020-08-13 14:40] #5842 closed, assigned to nobody

[2020-08-14 08:09] Beep6581 commented on #5880
@zstomp I get an error following the link:

[2020-08-14 08:35] Thanatomanic commented on #5867
@rfranke I can also confirm that the blinking frame on startup is gone.
Thank you for making the preview a preference. That solves my initial remark (2). However, why make it a choice? Is it impossible to have both the inspector pane _and_ the full screen preview enabled?

![image](https://user-images.githubusercontent.com/6567747/90230228-8a0edd00-de19-11ea-8ed0-77dd953584a7.png)
Can this be chan

[2020-08-14 10:22] #5864 closed, assigned to heckflosse

[2020-08-14 11:40] falket commented on #5495
Were they ok? Else i'll ask again to the owner. Tya.

[2020-08-14 12:12] heckflosse commented on #5748
I will create a pr now. Maybe we come to a good gui solution this way ;-)

[2020-08-14 13:03] heckflosse opened #5886 "possible dcp bug ?"
This one might be interesting

https://bitbucket.org/agriggio/art/commits/9e22ed0ebce624d8e3c1d302da49bd3d9c33fbe5

@Thanatomanic @Beep6581 opinions?

[2020-08-14 13:25] Thanatomanic commented on #5886
Hmm, this is interesting indeed. Seems like the wbtemp wasn't propagating correctly to all functions, therefore making the interpolation inaccurate?

[2020-08-14 13:37] heckflosse commented on #5886
I didn't analyze it yet. I will ask Alberto.

Edit: I just wrote him a pm

[2020-08-14 14:26] Beep6581 commented on #5886
The fix looks valid, however the mixing code will still be broken for some camera models (especially smartphones) as long as it is assumed that `ColorMatrix1` = StdA, as these models have swapped illuminants, so the code first needs to pick the right illuminant by checking the `CalibrationIlluminant1` tag.

[2020-08-14 14:39] heckflosse commented on #5886
@Beep6581 Are you sure about that for RT? Afaik for this case (dcp) the illuminants in the raw file do not matter. Though I may b wrong with this assumption.

[2020-08-14 19:23] rfranke commented on #5867
Hmm. Currently there is only one DrawingArea that can either be placed into the tab or in a separate window. This is why restart required. A second DrawingArea would be needed to support both at the same time. Note that the separate inspector window can also be opened as pop-up window with the context menu on a thumb (or by pressing F11 on the fullscreen view). This further reduces the need for th

[2020-08-14 23:27] cristian-milea commented on #3569
almost 4 years and no support yet. still waiting :)

[2020-08-15 08:31] zstomp commented on #5880
@Beep6581 The link still works for me, hopefully that was a temporary problem. Please try [direct link](https://srv-file20.gofile.io/download/rUAiJD/IMG_2108.CR2).

[2020-08-16 12:52] raceviper13a commented on #5732
I am closing this issue because when setting up another computer, this is no longer a problem and this function is working now on the latest development version.

Version: 5.8-2426-g1aa3b5c52
Branch: dev
Commit: 1aa3b5c52
Commit date: 2020-08-14
Compiler: x86_64-w64-mingw32-gcc\ 9.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Bui

[2020-08-16 12:52] #5732 closed, assigned to nobody

[2020-08-17 05:52] ff2000 commented on #5867
One reason for this seems to be caused by how the separate window is managed: by the drawingarea itself - so essentially the child manages its parent. This approach also makes it harder to extend the whole inspector. Refactoring out the window in its own class IMO would be helpful in any case, if we now decide to go with both windowed+paneled inspector or not.
If you want I can do that (would give

[2020-08-17 08:14] Thanatomanic commented on #5495
@falket I have done the analysis, but I found some curious things that I need to understand and deal with first before I can get a proper estimate. There are clear lines appearing at random positions along the sensor where the readout values seem to differ a bit. I'm no expert on sensor tech, so I'm not sure if this is expected or not.

![image](https://user-images.githubusercontent.com/6567747/90

[2020-08-17 11:34] falket commented on #5495
If you think they could be useful, i'll ask for more overexposed picture (e.g. 2 seconds exposure or F5.6 instead of F11, or F8 1 second, just ask how much).

Thank you.

[2020-08-17 11:53] Thanatomanic commented on #5495
Comparing with different apertures can be tricky because of a possible aperture scaling effect.
So, if possible, it would be helpful to have another shot at ISO 100 and ISO 200, with and without LENR at f/11 _but_ properly over exposed while pointing at a very bright surface (a clear sky at midday should do the trick).

Additionally, to characterize a possible aperture scaling effect, it would hel

[2020-08-17 12:03] falket commented on #5495
asked, i'll post here if and when i'll receive the shots, thank you! iirc no fast lens.

[2020-08-18 18:10] Alan01 commented on #5865
I compared the camera standard profile with this one on real-life photos. I can see a difference, sometimes small, sometimes larger. Is one better than the other? Hard to tell.
I also shot the Spydercheckr24 under diffuse LED (T = 2840 K). The provided profile gave very desaturated colors, and some of the colors were far off, especially the red had to much blue in it. Not that the Camera Standard

[2020-08-20 21:22] Beep6581 commented on #5865
Hi @Alan01

What sort of light bulb? Must be as described here:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target

Please upload the shots again.

[2020-08-20 21:36] Beep6581 commented on #5886
@heckflosse I am sure that the reversed order of illuminants caused issues in RT last year when I worked with several affected raw files, though I am not sure of the scope of the issues as I was not trying to document them, and breaking down and isolating individual problems requires dedicated work. There were white balance and dual-illuminant mixing issues for sure, as reported in #5126

[2020-08-20 23:28] Beep6581 commented on #5880
The sample raw file uses a `Sigma 10-20mm f/4-5.6 EX DC HSM`. Lensfun (DB version 1, just updated) has two profiles for that, crop factors 1.53 and 1.62. The Canon EOS 1000D has a crop factor of 1.6.

How have you established that?

[2020-08-21 05:15] Thanatomanic commented on #5865
@Beep6581 I had the files stored: https://filebin.net/zvgrdij138e4mgox

[2020-08-21 09:37] zstomp commented on #5880
That's right.

The 1.6 profile has no distortion correction, but the one that is automatically or manually selected has it.

[2020-08-21 10:11] XLRT opened #5890 "Film Simulation box resets"
After batch editing any parameter, Film Simulation box goes blank in all selected pictures. After entering the editor and reselecting film simulation preset it is still not applied to the image, need to toggle it or change strength. This only happens if two or more files are selected in the browser.

Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw

[2020-08-21 13:32] Beep6581 commented on #5890
Cannot reproduce in ea485e45d

@XLRT provide the exact steps to reproduce. A screen video recording would be ideal.

[2020-08-21 13:58] Alan01 commented on #5865
What sort of light bulb? Must be as described here:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_Color_Target

The light was with clear glass, no reflector was used. The distance to the target was around two meters trying to avoid specular reflections.

[2020-08-23 11:50] saknopper commented on #5882
Just FYI: I've uploaded some R5 RAW samples at https://raw.pixls.us/#repo

Let me know if I can help with a specific sample, though I don't have a color chart :)

[2020-08-23 12:07] heckflosse opened #5891 "Possible bug when using `working profile` for histogram"
When using `working profile` for histogram, and the working profile also exists in one of the icc folders with the same name as the working profile, for example if there is ProPhoto.icc in one of the icc folders and working space is set also to `ProPhoto`, the ProPhoto.icc will be used instead of the built in ProPhoto.
This leads to a slowdown because in this case lcms2 kicks in. On a large raw fi

[2020-08-23 12:26] heckflosse commented on #5891
This fixes the issue

[code]

[2020-08-23 20:26] cogitech2 commented on #3317
4 years later... I can't find any sort options in the the file browser. Really, really need to be able to sort by date/time!

[2020-08-25 07:07] Beep6581 commented on #5891
Hey @heckflosse

There could be a few extra things to fix here, but let's go one by one.

Are you referring to this?
https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/images/svg/gamut-hist.svg

Are you referring to Preferences > Color Management > "Directory containing color profiles"?

Profiles from that folder are shown in the Output Profile combo and in the unlabeled monitor profile combo

[2020-08-25 09:03] heckflosse commented on #5891
Hi @Beep6581

apply this patch to measure:
[code]

When using working space for histogram
![grafik](https://user-images.githubusercontent.com/13733487/91154191-80ab2d80-e6c1-11ea-9998-926dd340934c.png)
and working space is `ProPhoto` and there is no `ProPhoto.icc` in the "Directory containing color profiles", I get this values in console when adjusting for example exposure on one of your arw files

[2020-08-25 18:43] XLRT commented on #5890
I'm using nightly builds now and the problem is gone.

[2020-08-25 21:47] XLRT commented on #5890
Spoke too soon... :( I will try to reproduce it and pin point the circumstance.

[2020-08-25 23:14] Lawrence37 commented on #5880
RT chooses the first lens from a list created by lensfun. The list is ordered such that the "best" match appears first. https://github.com/Beep6581/RawTherapee/blob/86471c88e0727c0e85766b6da8c088c836cc3105/rtengine/rtlensfun.cc#L481

[2020-08-26 12:48] XLRT commented on #5890
Selecting multiple files with different film simulation presets, film simulation selection box is blank by default instead of (Unchanged), after changing output color profile the blank box gets applied to all photos.

[2020-08-26 16:27] Waveluke opened #5892 "std::bad_alloc when batch processing many images using rawtherapee-cli"
Batch processing 10,000 raw frames of raw video, using the command line interface executable, with the command:

"C:\Program Files\RawTherapee\dev_5.8-2178-g6cc9537ab_20200619\rawtherapee-cli.exe" -o "D:\Tiff dump" -t -p "E:\Driving and stuff\Samples\18.pp3" -c "E:\Driving and stuff\BMPCC_1_2020-11-10_0736_C0018\*.dng"

I got the first 7,008 frames successfully processed, and then got this message

[2020-08-26 17:02] heckflosse commented on #5892
that usually means RT ran out of memory. Never processed such a large batch. Processing such a large number of files in sequence even small memory leaks may sum up to the point where RT runs out of memory. I will have a look, though it will take a while

[2020-08-26 18:57] Waveluke commented on #5892
Wow, I am surprised that there are possible memory leaks in batch command line processing.  I assumed that by not having to ram cache previews like in the GUI, I was getting around that, and could process practically indefinitely, given a directory of raw files, a sidechain processing profile, adequate output hard drive space.

Would doing another huge batch processing test with task manager runni

[2020-08-26 21:09] RichardRegal opened #5893 "Floating Point Exports have the wrong gamma"
RawTherapee 5.8-2426-g1aa3b5c52
Windows 10 Pro 1919 OS Build 18363.1016
PhotoShop CS4 (Version 11.0)

Either the floating point outputs are automatically assigned a gamma of 1.0 whatever is set in the output space or the gamma is not set correctly.

When I output the file as an integer tiff and import it into Photoshop then no problem. When I output the file as a floating point tiff and import it

[2020-08-27 05:18] Lawrence37 commented on #5893
The RTv4 tiffs look identical when opened in RawTherapee, darktable, GIMP, and Krita. Maybe it's a problem with Photoshop?

[2020-08-27 05:51] Thanatomanic commented on #5893
If I enable the profile warnings in Photoshop 2020, I get this dialog:

![image](https://user-images.githubusercontent.com/6567747/91389896-875cb080-e839-11ea-9efa-b18d2f1adc94.png)

If I choose the first option, the image becomes washed out (i.e. assumes a gamma of 1, I guess). If I choose the second option, it looks identical to what was seen in RawTherapee.

If I open the same file in GIMP, I g

[2020-08-27 15:20] gaaned92 commented on #5893
I don't know if it can help.
RTv4-Large is NOT ProPhoto as RTv4-Large has a gamma=2.4 instead of 1.8 for ProPhoto. Except that, illuminant and primaries should be the same.
it's a derivation from ProPhoto.

[2020-08-27 15:26] Thanatomanic commented on #5893
Whatever TRC is present in the profile, I would assume that when you open the file in PhotoShop, it should read and use it. Clearly that is not what happens. But it does happen in GIMP. So, that immediately makes it a problem of PhotoShop. Right?

Besides, the name in the embedded profile is not ProPhoto, so the only way for PhotoShop to magically assume 1.8 instead of 2.4 is if it reads the prima

[2020-08-27 15:57] gaaned92 commented on #5893
Other tip, working profile in PS is a default  input profile.

[2020-08-27 16:09] RichardRegal commented on #5893
So possibly a Photoshop problem with not being able to handle floating point TIF files. In a sense I am glad it is still a problem with current Photoshop and not just my old copy.

Some more interesting points. The 16bit TIF always opens in 32 bit mode in Photoshop. If I set my working profile in Photoshop to RTv4Large and import the TIF converting to the working profile it is still in 32 bit mode

[2020-08-27 16:11] RichardRegal commented on #5893
Would v4 gamma 1.0 profiles be useful anyway even if this was not an issue?

[2020-08-28 06:19] Thanatomanic commented on #5575
This does not give identical output to the Reference Image button though (note: you have to set sRGB linear TRC for the working profile as well). I tried looking through the code, but couldn't come up with a good reason why it doesn't match. It does look very similar, but not identical, which would defy the point of a 'reference' image of course.

[2020-08-28 13:52] albfe opened #5895 "Inspect tab disappeared?"
I have been using RawTherapee built from sources (git) on Fedora 31. I have noticed that the "Inspect" tab disappeared from the browser mode. I am not sure on when, as I am not using the browser mode often, but probably some weeks ago (when I noticed the first time it was certainly at least 1 month ago, but then I haven't had time to check more carefully until today.
I have searched here and on th

[2020-08-28 13:57] gaaned92 commented on #5575
- Isn't it the problem with clip out of gamut? As sRGB is a small gamut space, clip could happen.

- I thought that working profile was allways linear. edit: sorry, in RT you can apply a TRC. and a linear TRC gives a different display from no TRC!

- With your workflow there should be no processing at all!No profile is a passthrough and if working profile is the same as output profile, there shoul

[2020-08-28 13:59] Thanatomanic commented on #5895
Please do a search of the GitHub issue list before posting. The preview windows is being modified and there is some ongoing discussion: https://github.com/Beep6581/RawTherapee/issues/5867

Edit: not to be too snarky, but this should have come up in your search https://github.com/Beep6581/RawTherapee/search?q=inspect&type=Issues

[2020-08-28 13:59] #5895 closed, assigned to nobody

[2020-08-28 14:03] albfe commented on #5895
I did search, but for some reasons I could not find anything, sorry for that and thanks for pointing me to the issue

[2020-08-28 20:42] heckflosse commented on #5882
I will have a look at this fixes in ART at the weekend. Maybe we can port this to RT to at least partially solve this issue:

https://bitbucket.org/agriggio/art/commits/24bfa4cf538f34ba9263bd143b30c2268505ba8d
https://bitbucket.org/agriggio/art/commits/a0841ba334f195e74517cdab9dcb7cc5f6544473

[2020-08-29 09:37] kdm9 commented on #5882
I was curious so I tried loading the CR3s from the start of this thread (the DPreview photo of a bear) in ART compiled on debian sid from the latest master commit of ART. This is the (terrible) result:

## Downsized:

![023A9863_art_downsize](https://user-images.githubusercontent.com/1560490/91633792-804ac380-ea2e-11ea-844c-07afb78a56c4.jpg)

## 100% crop

![023A9863_art_crop](https://user-images.

[2020-08-30 14:27] dimonoid opened #5897 "Can't recognize the bayer pattern and/or the correct order of pixels"
Please check .DNG of this photo:
https://www.dpreview.com/sample-galleries/0635778599/sony-a7r-iv-sample-gallery/8754459393

Photo looks highly pixelated(left-right pixels in each 2x2 pixels in wrong order?), and almost all the settings in the tab "Raw" do not get loaded at all including chromatic aberration removal setting.

Yes, I know that this photo is 539 MB and loading takes some time, but r

[2020-08-30 16:59] Jacalz opened #5898 "Strange green/black images from canon SRAW1/2 files"
## Description
Due to my CF-cards being rather slow, I wanted to turn down the resolution of my raw files to save some space on my Canon 5D Mark 2 that I recently got. However, in doing so, I noticed that the SRAW1 and SRAW2 options lead to images being are pretty much unusable and unrecognizable inside rawtherapee. They show up with some sort of green and black colour.

I have tested the files an

[2020-08-30 17:01] Thanatomanic commented on #5898
Is it safe to assume you are using the RT 5.8 release version? This bug was fixed in the development builds some time ago: https://github.com/Beep6581/RawTherapee/commit/4221fdf31e43658cef98ad660ad398b8ae81b8d7

[2020-08-30 17:05] Thanatomanic commented on #5897
This is not a RAW file, but a processed pixel shift file. This is also what the image description says:

I don't think it is very reasonable to say that support for files like these is going to be very good soon - maybe ever. But @heckflosse might have another idea 🙂

[2020-08-30 17:07] Jacalz commented on #5898
Yeah that absolutely correct. Thanks for the blazing fast response. I put down way too much time to get everything sorted for the bug report which meant that I forgot to mention the application version. Silly me, sorry about that 😅

Is a new release imminent or should I make sure to back port the commit to my Linux distribution? 🙂

[2020-08-30 17:09] Jacalz commented on #5898
Will give develop a try to see if that fixes my issues before I close this though 🙂

[2020-08-30 17:10] Thanatomanic commented on #5898
If it's critical for your work, you should probably try to build yourself or grab the AppImage from the nightly builds here: https://github.com/Beep6581/RawTherapee/releases/tag/nightly

I'm not sure on a date for a next release.

[2020-08-30 17:16] Jacalz commented on #5898
Alright, thank you 🙂

[2020-08-30 17:23] heckflosse commented on #5897
This is simply a processed (demosaiced) raw file, as @Thanatomanic already wrote. Nothing we can improve here. If it would be a pixelshift file with 16 frames, we could implement motion detection as we did for 4 frame pixelshift files. But even for the ARQ files which are build from 16 frames consisting of 4 x 4 frames, where each pack is already combined from 4 frames without motion detection, it

[2020-08-30 19:34] Jacalz commented on #5898
I compiled with the patch and it works again now. I will make sure to get the patch backported into the rawtherapee package in my Linux disturbution as soon as builds complete :)

[2020-08-30 19:34] #5898 closed, assigned to nobody

[2020-08-30 20:43] #5897 closed, assigned to nobody

[2020-08-31 06:27] Thanatomanic opened #5899 "Raw histogram very different and less insightful than e.g. RawDigger"
Related thread: https://discuss.pixls.us/t/puzzling-rawtherapee-raw-histogram/20006

As Alberto mentions, there is some scaling going on which may not be necessary at all. This is issue is here to revisit the (raw) histogram plotting.

[2020-08-31 13:02] dokkie8844 commented on #3043
Would love to see this implemented! In addition, even better if it's possible to preview a processing profile (applied to the current photo) while hovering over it.

[2020-09-01 01:07] kdm9 commented on #5882
Ok so this is odd. @saknopper's images on raw.pixls.us seems to work perfectly in the master branch of ART.

Perhaps the DPReview samples are from a pre-production or otherwise weird R5 body and therefore encoded differently? I've tested several others CR3s from DPReview and I can't get any of them to produce reasonable results. Although, the CRAW @saknopper uploaded is also very whacky in ART, so

[2020-09-01 01:47] kdm9 commented on #5882
can also confirm that some seemingly newer images from DPReview at high ISO work in master branch of ART:

E.g. this astro shot at 3200 ISO  https://www.dpreview.com/sample-galleries/7757595702/canon-eos-r5-sample-gallery/4210422640

[2020-09-01 06:46] Thanatomanic commented on #5882
https://www.usa.canon.com/internet/portal/us/home/support/details/cameras/eos-dslr-and-mirrorless-cameras/mirrorless/eos-r5?subtab=downloads-firmware

This shows there has been at least one firmware update. However, the description doesn't show anything that could be immediately related to why some pictures wouldn't load.

[code]

[2020-09-01 14:41] dconrad5 commented on #3043
In addition to probably being a more streamlined interface if it's well designed, implementing this would also negate issue https://github.com/Beep6581/RawTherapee/issues/5792 - marked as closed because the issue is upstream in GTK, not because it's fixed. Win/win/win, in my opinion.

[2020-09-02 01:05] Kaens opened #5900 "Add Nikon Z5 color matrix to camconst.json"
Uploaded a bunch of raws to the raw.pixls.us repo; can't find them again but hopefully that's not a failure.

[2020-09-02 06:32] Thanatomanic commented on #5900
@Kaens What is your issue?

[2020-09-02 06:51] Thanatomanic commented on #5899
The log-transformation of the histogram happens after the binning of the pixels. It should be the other way around for a properly detailed histogram on the left-hand side.

There is a difficulty with implementing that, because click-drag currently changes the compression factor for the histogram (i.e. the actual transformation that needs to be applied). This means that every change would require a

[2020-09-02 09:41] Beep6581 commented on #5632
Hey everyone

How are sentiments regarding feature-completeness and stability with regards to releasing 5.9? I see many commits involving wavelet-related stuff, @Desmis let us know when you feel it's feature-complete so we can feature-freeze and go into bugfixing and eventially get 5.9 out the door this year.

[2020-09-02 09:51] Kaens commented on #5900
It's a new camera profile set request, I suppose. I came here via the raw.pixls.us page where I was for that exact purpose but for darktable.

Now that you mention it though, I did have an issue that doesn't have to do with any camera. I can't even check if rt works with z5. (The `-cli` won't produce any file output, either (not even an error message), and for the `-s` option, the sidecar on it sh

[2020-09-02 09:56] heckflosse commented on #5899
Isn't the real problem that currently the raw histogram has only 256 bins?

[2020-09-02 10:26] Thanatomanic commented on #5899
@heckflosse I don't think so. Here's a comparison of `amsterdam.pef` with three histograms, all with 256 bins. First linear-linear, then log2-linear (first transformed, then binned), then log2-linear (first binned, then transformed - current RT situation).

![image](https://user-images.githubusercontent.com/6567747/91970175-8b943c80-ed17-11ea-81b0-54098eaf1949.png)

Clearly the second option is be

[2020-09-02 10:43] Thanatomanic commented on #5900
Please don't use the same thread for different issues. The repository on raw.pixls.us does not contain any Z5 samples, so something went wrong.

The color profile for the Nikon Z5 was added in the latest update of Adobe Camera Raw (12.4), so could be added to `camconst.json`.

[2020-09-02 11:03] Kaens commented on #5900
https://raw.pixls.us/data/Nikon/NIKON%20Z%205/ Here are the samples (somehow only 4 of them at the time of writing), they are there. Somebody must've gotten around to adding them.

[2020-09-02 11:24] heckflosse commented on #5899
@Thanatomanic I meant the following:

Why do we squeeze the data into 256 bins a priori (in getRAWHistogram()) at all? Wouldn't it be simpler and clearer to use 65536 bins and pass these to the presentation layer, which then could do with this values what it needs to do?

[2020-09-02 11:51] Thanatomanic commented on #5899
Ah, that would probably work. Should be plenty of bins for floating point images as well.

[2020-09-02 12:01] heckflosse commented on #5899
@Thanatomanic Here's a float raw in [0;1] range for testing
[D700_20111013_8870-8872.zip](https://github.com/Beep6581/RawTherapee/files/5162091/D700_20111013_8870-8872.zip)

[2020-09-02 12:23] Thanatomanic commented on #5899
@heckflosse Thanks, but I'm afraid my toolbox doesn't support floating point dng's, so I cannot analyse it 🙃

[2020-09-02 12:30] heckflosse commented on #5899
@Thanatomanic It was meant for testing your upcoming improvements to RT histogram ;-)

[2020-09-02 12:33] heckflosse commented on #5899
Having more than 256 bins also would allow to draw _nice_ histograms wider than 256 pixels...

[2020-09-03 06:31] Waveluke commented on #5892
Update: bug is not consistently repeatable.  I processed a 25,500 image batch with nothing else running (not sure if that was the case with the time I had the isue.) and did not run into any issues.  I will do more tests with a ram usage tracker.

[2020-09-03 14:48] saknopper commented on #5882
Sorry for the late response. Are you still in need of high iso images?

Also, I did update the firmware on my R5 to 1.1.0 in the mean time.

[2020-09-03 18:19] TechXavAL commented on #5453
I'm not sure about this, but I think this issue can be closed, as the documentation is already online at RawPedia

[2020-09-03 18:56] heckflosse commented on #5453
@TechXavAL Agreed. Thanks for your work on this :+1:  :+1:  :+1:

[2020-09-03 18:56] #5453 closed, assigned to Beep6581, heckflosse

[2020-09-03 22:14] kdm9 commented on #5882
@saknopper if you have some, and have the time to upload them, I'm still interested in seeing how images w/ high ISO & firmware 1.1.0 look in ART.

Thanks,
Kevin

[2020-09-04 01:25] ellenhp opened #5901 "Canon R6 CR3 support"
My new Canon R6's CR3 raw files seem to be parsed just fine in the RawTherapee file browser, but when I attempt to edit them I see an entirely white image. I noticed [here](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats) that the program seems to just have a place where it stores information about how to decode raw files, and I'm assuming that's just missing.

I can shoot the n

[2020-09-04 08:56] saknopper commented on #5882
Alright, here you go: https://we.tl/t-s61v70HlUL

There is a RAW and C-RAW, both with dualpixel turned off.

[2020-09-04 18:14] ellenhp commented on #5901
I think I answered my own question by going through the `camconst.json` comments. I'll probably shoot those frames today and look into analyzing them. It's more complicated than I thought it would be but I'll do my best :)

[2020-09-04 18:22] Thanatomanic commented on #5901
The only other thing, apart from the comments in `camconst.json` is this wiki page: http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats
The process to determine what to put in `camconst.json` is not entirely trivial and there is room for some margin of error in some cases. Personally, I analyse the files completely outside of RawTherapee to determine appropriate black and white leve

[2020-09-05 03:07] kdm9 commented on #5882
Thanks a bunch @saknopper.

Good news: your standard RAW CR3 works brilliantly in ART. The C-RAW is still significantly broken and comes out as a matrix of strange pink squares with no recognisable pattern. The metadata is intact for both Craw and Raw.

@heckflosse should I make a PR that brings in the changes from ART relevant to the R5/R6?

Cheers,
Kevin

[2020-09-05 11:52] heckflosse commented on #5882
@kdmurray91

That would be great :+1:

[2020-09-05 17:08] Thanatomanic commented on #5901
It seems someone else has already made the necessary shots as well. https://discuss.pixls.us/t/canon-eos-r6-photo-sets/20094
I'll try to analyse them and see what I can come up with.

[2020-09-05 17:31] ellenhp commented on #5901
Cool! I appreciate it. I looked into it a bit more and it seems like I'd have to pay for RawDigger and run it in wine, which kind of tamped down my enthusiasm for figuring this out.

[2020-09-05 19:17] Thanatomanic commented on #5901
After analysis, I get the following - quite unsurprising - results:

**Regular distribution**
![image](https://user-images.githubusercontent.com/6567747/92311832-f31de680-efba-11ea-88a4-e1262eccd185.png)

**Cumulative distribution**
![image](https://user-images.githubusercontent.com/6567747/92311839-0af56a80-efbb-11ea-95f6-ba26a0cf9271.png)

**Some explanation**
Without LENR, almost the full 14-bi

[2020-09-08 04:36] Thanatomanic commented on #5632
I think we're pretty much feature complete. There are only two things I feel should definitely be included:
- the changes to the Inspect window contain a regression and fix here https://github.com/Beep6581/RawTherapee/pull/5872
- Lawrence seems almost done with his enhanced perspective correction tool. RawTherapee/RawTherapee#5814 Should be included.

Other than that, the current two PRs on change

[2020-09-10 05:44] kdm9 commented on #5900
These seem to be in ART, should I add the Z5 to my EOS R5/R6 PR? (#5905)

[2020-09-10 09:14] Thanatomanic commented on #5901
@ellenhp The PR #5905 includes a setting for the R6. Tomorrow's nightly build will include it in RawTherapee.

[2020-09-10 09:15] Thanatomanic commented on #5900
The changes from ART in PR #5905 look good, closing for now.

[2020-09-10 09:15] #5900 closed, assigned to Beep6581

[2020-09-10 09:19] Thanatomanic commented on #5882
The original issue seems fixed by @heckflosse 's patch, but the image linked to in the OP is still broken.
@kdmurray91 Could you maybe update the title to something more accurate of the issue if so, or open a new issue?

[2020-09-10 09:22] kdm9 commented on #5882
@Thanatomanic I think the main issues are fixed by #5905, so I'm happy to close it. there are still issues with CRAW, but I'm not sure if the upstream CR3 decoder code supports CRAW yet, so I'm not sure what to do there.

[2020-09-11 15:44] Entropy512 commented on #5875
It depends on the properties of the file itself.  xz/7z for RAW files are probably not quite as good as some algorithms (such as that used for lossless DNG compression) that are designed specifically for the task, but 50% file size reduction seems to be decent.

Note that for Sony uncompressed ARW from most cameras, a 14/16 ratio is guaranteed child's play, and a 12/16 ratios is likely easy for ma

[2020-09-11 19:43] Waveluke opened #5906 "Float export via cli documentation in Rawpedia"
Hello, I just noticed that since the new unclipped option, and subsequent floating point 16 and 32 bit export for supporting the feature, the -h command of rawtherapee-cli has been updated but the rawpedia page hasn’t. Link to the page here: https://rawpedia.rawtherapee.com/Command-Line_Options 1

[2020-09-14 15:23] Entropy512 commented on #5575
I wonder if in my test case, there were no out-of-gamut components, or at least not one in any one relevant to the reference image (the patches on the colorchecker).  @Thanatomanic - where did you see differences between the reference image and this approach?

[2020-09-14 15:27] Entropy512 commented on #5893
I think there are a number of use cases for having bundled linear output profiles as opposed to having to go through the Profile Creator to create one.  The workflow for generating linear output images in RT is a bit nonintuitive, and I actually wonder if the issues I had with using "unclipped profile" and Hugin were due to similar issues to yours.  I need to retry using a linear output profile.

[2020-09-14 15:28] Entropy512 commented on #5575
Also, sorry for not following up on this...  I've been busy with a lot of non-photography projects lately, and COVID has kinda made life a bit strange too.

[2020-09-14 15:38] Thanatomanic commented on #5575
@Entropy512 This is how I did my comparison: https://drive.google.com/drive/folders/1BdHy87L5-fEIJhRNqdtVo9IO66PRsLQA?usp=sharing
The icc profile should be copied to RawTherapee/iccprofiles/output
The pp3 file applied to `amsterdam.pef` should give identical output `amsterdam-linear-export.tif` if exported to a 16-bit TIFF uncompressed.
The `amsterdam-reference.tif` file is the output from using t

[2020-09-14 17:12] Entropy512 commented on #5575
I'll try and take a look later this week.  What should I be looking for as far as differences?

If memory serves me - RT defaults to cropping by 4 pixels on each side, and I don't think the reference tiff does.  This can of course be disabled.  I can't remember if I did it since for a profiling use case, if this difference affects you, you made a pretty big mistake in framing your reference shot.

[2020-09-14 21:24] jtappin opened #5907 "Crash on attempting to open JPEGs from Bushnell trail camera"
On attempting to open this image (or any other from this camera, a Bushnell trail camera c.a. 2010 -- I don't have the exact model to hand):

![PICT1091](https://user-images.githubusercontent.com/658624/93138667-41c43280-f6d7-11ea-967c-b28d47025166.JPG)

RawTherapee crashes with the following error:
[code]
while it's quite possible that the files are in some way non-conformant (though gwenview and

[2020-09-15 08:26] Floessie commented on #5907
Here's a patch:

[code]

[2020-09-15 12:16] Floessie commented on #5907
@heckflosse Does this compile on your Windows setup?

[code]

[2020-09-15 12:26] heckflosse commented on #5907
@Floessie
It does not:
[code]

[2020-09-15 13:01] Floessie commented on #5907
@heckflosse If your time permits, would you please check the `snprintf` branch?

[2020-09-15 13:08] heckflosse commented on #5907
@Floessie Compiling :+1:

[2020-09-15 13:27] heckflosse commented on #5907
@Floessie Compiles fine, but has some random effects when opening images which I will try to reproduce now...

[2020-09-15 13:40] Floessie commented on #5907
@heckflosse Thanks for testing! :+1: I'm AFK now...

[2020-09-15 13:55] heckflosse commented on #5907
@Floessie
When you'r BTK, please have a look at this:
https://github.com/Beep6581/RawTherapee/commit/79278875da80bc918b113ac2bdf98aa1a4e2c359#diff-455632078b82ee0070410388030aaf6cR1050

[2020-09-15 15:13] Floessie commented on #5907
Pushed some fixes.

[2020-09-15 18:21] Noexpert commented on #3043
Related: https://github.com/Beep6581/RawTherapee/issues/2903

[2020-09-16 13:11] heckflosse opened #5908 "Suggestion to use RCD as default demosaic method for bayer files"
RCD is faster than Amaze and also plays better with Capture Sharpening.
Opinions?

[2020-09-17 05:17] Thanatomanic commented on #5908
Are there specific advantages or disadvantages for either algorithm in terms of image quality or handling of interpolation of difficult (high detail) areas? I know AMaZE is specifically tuned to prevent zippering and aliasing artifacts (what's in a name...), but what about RCD? I found this: https://github.com/LuisSR/RCD-Demosaicing as a source.

It would all come down to extreme pixel peeping I g

[2020-09-17 21:26] Barugon opened #5909 "Add support for Panasonic DC-S5"
Raw files can be found [here](https://www.imaging-resource.com/PRODS/panasonic-s5/panasonic-s5A7.HTM).

The raw files currently can be loaded and worked but the colors are muted and the exposure is way off (I have to reduce it by at least 2 stops).

[2020-09-17 22:16] ghost opened #5910 "Dng's DefaultScale tag seems to be ignored"
I took pictures using an anamorphic lens and a Canon 7d which changes the aspect ratio of the image [(squeezing it)](https://medium.com/@gripup/anamorphic-lenses-explained-a78e76ca7f94).

On my workflow I convert the images from the camera to dng usign Adobe Dng Converter. I was able to make this anamorphic dngs display propperly (desqueezed) in lightroom and photoshop by changing the DefaultScale

[2020-09-18 22:04] Waveluke commented on #5908
From my experience, AMaZE tends to be better with looking more natural with fine texture detail when RCD has a bit of stripy or blockiness, whilst RCD tends to produce less artifacts along diagonals and curvy vector line like hard edges.  It does seem like the more a detail is likely to be eliminated by a median filter, the more suitable AMaZE is and the less likely a detail is to be eliminated by

[2020-09-19 22:14] LordPhoenixfr opened #5912 "scrolling with the mouse wheel in the file browser is disabled when using filters on colour labels and change folder."
When I activate the colour filters on the file browser and change folders while keeping the same filters, it is no longer possible to scroll through the photos with the mouse wheel. If I delete all the colours filters, the scrolling returns and remains if I reactivate the filters. If I change the folder again and go back to the previous one, the problem repeats itself until I deactivate them again

[2020-09-20 08:39] ff2000 commented on #5912
I tried to reproduce. Both v5.8 and very recent git dev allowed me to scroll after enabling color filters.

But I generally have issues from time to time with scrolling in RT. Happens very sporadically but then I can't use my scroll wheel at all - file browser, side panels, image editor - nothing works. Probably that's what you were seeing?
This AFAIK is a known issue.
A workaround is to switch to

[2020-09-20 15:00] LordPhoenixfr commented on #5912
It’s not only after enabling color filter, it’s after enabling color filter and changing folder…

I don’t think so, I don’t remember such problems

Not for me.

[2020-09-20 15:52] ff2000 commented on #5912
https://youtu.be/J94xTWs-Waw

[2020-09-20 16:00] Beep6581 commented on #5632
"Waveform and vectorscopes" RawTherapee/RawTherapee#5887 would be nice to have.

I still need a response from @Desmis regarding "Various improvment to Local adjustments" RawTherapee/RawTherapee#5903

[2020-09-20 16:13] Desmis commented on #5632
@Beep6581

For "Various improvment to Local adjustments" RawTherapee/RawTherapee#5903, the response is with Ingo...   @heckflosse

Jacques

[2020-09-20 17:00] heckflosse commented on #5632
I think, we should delay RawTherapee/RawTherapee#5903 for 6.0. Currently it needs too much memory, which will stress Jacques and me if we merge it now.
Better to take some time to improve it before we merge.
Jacques, I hope, you don't mind.

[2020-09-20 17:11] Desmis commented on #5632
@Beep6581  @heckflosse

No problem for 6.0

Jacques

[2020-09-20 17:12] heckflosse commented on #5912
@LordPhoenixfr Immediately after your last post I tried and could reproduce it. Now I can not reproduce it anymore. Looks like some random behaviour (maybe caused by an uninitialized variable). As I could reproduce it once, I think the issue is valid and needs further investigation.

[2020-09-20 21:39] Barugon opened #5913 "Anti-alias filter suggestion"
It's very popular these days for camera makers to forgo the anti-alias filter on the sensor in pursuit of "ultimate sharpness". This doesn't always work out so well when photographing certain subjects and you can end up with moire. I suggest implementing a pre-demosaic blur filter to simulate an in-camera anti-aliasing filter. It would probably only need to perform a slight vertical and horizontal

[2020-09-21 09:17] simohno commented on #5913
Interesting idea

But I'd also add that it would be comfortable to have a classic **"blur" filter** inside the Details tab, aside from the various sharpening tools. Many users would use it for example for portraits taken with too "crisp" lenses, without the need to open the output JPEG in GIMP or similar.

Whether the blur is better to happen before or after the demosaic, I have not the knowledge

[2020-09-21 09:36] heckflosse commented on #5913
@simohno
Try this settings

![grafik](https://user-images.githubusercontent.com/13733487/93752184-91868a80-fbfe-11ea-9cc8-87f138db0402.png)

[2020-09-21 10:16] simohno opened #5915 "Better integration with OS Explorer"
Hello to all
I quite notice the absence, from the use I've made so far of RawTherapee 5.8, of some simple commands which allow to make operations on files from the software, also by calling the OS Explorer directly from the pop-up menu. These are the classic "Open with", "Open folder in explorer", etc. which we commonly find in other photographic software.
I'll be more clear: I suggest to add to t

[2020-09-21 10:37] Thanatomanic commented on #5909
@Barugon Can you indicate which sample you tried that gave a too high exposure? My randomly chosen sample looks fine.

As for the color support either one of two things need to happen: [Adobe needs to profile the camera](https://helpx.adobe.com/camera-raw/kb/camera-raw-plug-supported-cameras.html) so that we can copy the color matrix, or somebody needs to provide the [appropriate calibration shots

[2020-09-21 10:46] simohno commented on #5913
Ok, so there is a "negative" behaviour of the Sharpening possible

I tried to read the RawPedia http://rawpedia.rawtherapee.com/Sharpening
but found no mention of the first two sliders, maybe they are recent additions...
So I suppose that the "Blur radius" slider performs a blur with the specified radius, and the Contrast threshold defines the level of detail under which the blur happens... ?

Tha

[2020-09-21 11:18] heckflosse commented on #5913
Yes. You can also have a look at the mask (at >= 100% preview)
![grafik](https://user-images.githubusercontent.com/13733487/93760660-c0a3f880-fc0c-11ea-8b84-67cef84684e8.png)
Dark areas will be blurred (blur radius < 0.25 means no blur), while bright areas will be sharpened.

[2020-09-21 12:53] simohno commented on #5913
Thank you, useful!
Consider documenting the Contrast threshold / Blur radius in the RawPedia ;) regards

[2020-09-21 17:31] Barugon commented on #5909
@Thanatomanic
All of the RW2 files do it. Here's a screenshot of `S5hSLI000100NR1.RW2` using the neutral profile.

![Screenshot from 2020-09-21 10-28-06](https://user-images.githubusercontent.com/16503728/93800512-8aa74a00-fbf5-11ea-825e-ee16a1b3f9a7.png)

[2020-09-21 17:33] Barugon commented on #5909
This is with Standard Film Curve - ISO Low applied.

![Screenshot from 2020-09-21 10-32-11](https://user-images.githubusercontent.com/16503728/93800740-e376e280-fbf5-11ea-93f3-ac39634a5297.png)

[2020-09-21 17:49] Thanatomanic commented on #5909
@Barugon I suppose this is a bug in 5.8 and has been fixed in the current development builds: https://github.com/Beep6581/RawTherapee/commit/b1901997a794799bda406fea385fd3d9442b16ae

The rest of my remarks stand.

[2020-09-21 18:18] Barugon commented on #5909
Cool, I'll take a look.

[2020-09-22 12:21] Floessie commented on #5907
Shall I merge?

[2020-09-22 13:53] heckflosse commented on #5907
I could not reproduce the random effects I mentioned above. So :+1: from me for merge

[2020-09-23 06:35] Floessie commented on #5907
Done with 604823fc4b6fe81de2e89b0ffed4e0db00c63b63.

[2020-09-23 06:35] #5907 closed, assigned to nobody

[2020-09-24 04:24] nquantum opened #5917 "Feature request: option to choose, show history after close RT."
I've learn it nature by design to clear history after close RT. How ever use case is one day later I choose come back adjust here and there I can review what I've done so far or not have done yet. I tweak some thing say explosure still good but I have new experience that new way is better so I come adjust some. I think it have value. And it deserve word "history" is to history and can re_adjust an

[2020-09-24 14:25] Entropy512 commented on #5909
Small warning:  If you live in North America, your ability to get daylight calibration shots is currently compromised.  The California wildfire smoke has reached the stratosphere and is blowing eastwards (on the jet stream?) and is going to throw off any daylight results.  :(

[2020-09-26 01:13] nquantum commented on #5917
And please, please have snapshot in sidecar file. Say I have color version, black and white, etc version to choose from each time open raw file that already "cooked" also review what have done.

[2020-09-26 10:28] simohno commented on #5917
Hi
If you didn't know, the last feature you mention is integrated in the ART software, a derivative of RawTherapee
https://bitbucket.org/agriggio/art/wiki/Home

[2020-09-26 10:44] Thanatomanic commented on #5917
@nquantum This idea is not going to get implemented any time soon. Please see https://github.com/Beep6581/RawTherapee/issues/2624

@simohno Please don't use our issue tracker to advertise other software, even if we're friends with the developers

[2020-09-26 10:44] #5917 closed, assigned to nobody

[2020-09-28 11:25] Beep6581 opened #5919 "Debug output in dev"
5.8-2485-ga495c3f01

There is debugging output in `dev` when verbose=false:
[code]

[2020-09-28 16:12] Desmis commented on #5919
@Beep6581
Fixed - commit 075011c

:)

jacques

[2020-09-28 19:11] fatso83 commented on #4744
I am a fresh user that stirred up quite a racket on pixls.us when encountering this and commenting on this. I had tried searching and reading the RT docs for why my changes to the sliders did not take effect for what seemed like way too long, when encountering the linked post in the issue, but I failed to see paragraph four in [Getting Started](https://rawpedia.pixls.us/Getting_Started), which is

[2020-09-30 22:53] KeyWeeUsr commented on #5838
Using `rawtherapee/focal,now 5.8-1 amd64 [installed]` I was searching for this and for me the problem was with:

[code]

which was incorrectly set. No clue what's supposed to be the base for the path, but I switched it to the absolute path (`/usr/share/lensfun/version_1`) and the profiles loaded correctly.

[2020-10-01 11:42] jonathanBieler opened #5922 "Camconst.json support for Canon EOS R + bug opening files"
I'm opening this after reading the last comment on #5319. Cr3 support in 5.8 is great but I'm having some colors issue with my EOS R, the image comes as desaturated and the colors are a bit off (specially the greens, they are brownish).

Here's an example (top is jpg out of the camera, bottom is cr3 in 5.8) : https://imgur.com/a/0aVVecL

If I understand correctly, you guys need some calibration da

[2020-10-01 11:52] bordac opened #5923 "RawTherapee crashes when opening specific JPEG"
Hello.
RawTgerapee version: 5.8
Windows 10 Pro 10.0.18362 build 18362.
When I opening jpg file (in attachment) in Editor, rawtherapee application crashes.
In Windows Events I see:

Name of the failed app: rawtherapee.exe, version: 0.0.0.0, timestamp: 0x5e3b4a80
Name of the failed module: msvcrt.dll, version: 7.0.18362.1, timestamp: 0xf5bdefd7
Exception code: 0xc0000005
Error offset: 0x000000000005

[2020-10-01 11:54] Thanatomanic commented on #5922
There is also #5317 which was closed without a fix. The color matrix should be available in Adobe DNG (EOS R is listed here https://helpx.adobe.com/camera-raw/kb/camera-raw-plug-supported-cameras.html), and that would already help a lot with the colors. I'll see if I can extract it.

As for a better profile, please see this http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats or for

[2020-10-01 11:57] Thanatomanic commented on #5923
I can confirm your crash

[2020-10-01 12:16] Thanatomanic commented on #5923
@heckflosse Could you take a look?

Here's a debug log
[code]

[2020-10-01 12:35] heckflosse commented on #5923
I will have a look

[2020-10-01 13:17] heckflosse commented on #5923
I confirm the crash. Searching for a fix...

[2020-10-01 14:15] jonathanBieler commented on #5922
Cool thanks. Do you need the white frames ? I can probably do those.

[2020-10-01 14:34] Thanatomanic commented on #5922
@jonathanBieler  Yes please!

[2020-10-01 15:52] Beep6581 commented on #5632
Great, then I will gear up for releasing a 5.9-beta1 soon.

[2020-10-01 16:16] Desmis commented on #5632
@Beep6581
I think we need a few more days to work out with Wayne Sutton, the review (in good English) of all the labels and tooltips in Local adjustments...
But perhaps, it is not a problem, if some labels or tooltips wil be update after ?

Jacques

[2020-10-01 18:33] Beep6581 commented on #5919
Confirmed.

[2020-10-01 18:33] #5919 closed, assigned to nobody

[2020-10-01 18:37] Beep6581 commented on #5632
@Desmis there is no hurry. We need to review and complete the strings first, because if they get translated into e.g. 15 languages and then if changes are required then that's 15 times more work later on.

Could you point me to the branch/issue where you are reviewing the strings?

[2020-10-01 20:14] Desmis commented on #5632
@Beep6581

We work on this feature since beginning september 2020.

Similarly, rawpedia has been translated and improved by Wayne Sutton
https://rawpedia.rawtherapee.com/Local_controls

Now we are working on tooltips for "softlight & original retinex", "common mask" and "Dynamic range & exposure" in branch **"local_tool"**. I think tomorrow (or perhaps latter)  I will merge this branch

I think th

[2020-10-02 05:35] rom9 commented on #5632
Hi all, sorry for the late comment.
Regarding the film negative tool, there's still a lot of brainstorming on Pixls, but if you think it's worth it, i could quickly finalize a version with a minimal set of features, which would bring:
- non-raw file support (aka scanner TIFFs)
- huge speedup for raw files (not having to re-demosaic each time)
- backwards compatibility with PP3 created with previou

[2020-10-02 08:32] Floessie commented on #5923
It doesn't crash on Debian AMD64, but I get some nasty warnings about invalid UTF-8. Here's a patch to fix that:

[code]

HTH,
Flössie

[2020-10-02 08:43] heckflosse commented on #5923
It's the camera name, which is corrupted

![grafik](https://user-images.githubusercontent.com/13733487/94904742-1180e000-049c-11eb-8030-977206bb37b0.png)

[2020-10-02 09:25] heckflosse commented on #5923
Fix confirmed.

[2020-10-02 09:30] bordac commented on #5923
Hi everybody. To use RawTherapee with a fixed problem, I need to download the latest sources, apply the patch, and compile? Or is there a compiled version somewhere?

[2020-10-02 09:44] heckflosse commented on #5923
Yes, or wait until there is a [nightly build](https://github.com/Beep6581/RawTherapee/releases/tag/nightly) with this patch, which usually is the case one or two days after the issue is closed.

[2020-10-02 10:59] Floessie commented on #5923
I'll push to `dev` tonight...

[2020-10-02 11:29] jonathanBieler commented on #5922
Here, I think I did them correctly : https://filebin.net/cnwvkzw18ww48upo

Interestingly trying to open them makes RawTherapee crash.

[2020-10-02 11:52] heckflosse commented on #5922
Crash confirmed.

[2020-10-03 08:19] #5923 closed, assigned to nobody

[2020-10-03 12:22] SoupyGit opened #5928 "Channel Mixer Enhancements"
Hi all, I don't know code and am new to github, so forgive me if this is in the wrong place. In that instance, please point me to the right place.

A few little additions that would help user experience of channel mixer:

1) For each of the R, G and B channels, sum the three values. The importance of this, is that when sum = 100, neutrals stay grey. When < or > 100, they have a colour cast. Curren

[2020-10-03 15:36] Thanatomanic commented on #5922
@jonathanBieler I've added as much information as I could based on a conversion to DNG's.
The bug for opening these CR3 files remains...

[2020-10-03 20:59] jonathanBieler commented on #5922
I've tried to replace my Camconst.json with the new one but that didn't worked well :

https://i.imgur.com/Ecsj7XF.png

Is it supposed to work or do I need to wait for a new release ?

[2020-10-04 06:23] Thanatomanic commented on #5922
I think there have also been some bug fixes since v.5.8, so you'd have to use a [nightly build](https://github.com/Beep6581/RawTherapee/releases/tag/nightly) to test it out.

[2020-10-04 12:13] jonathanBieler commented on #5922
Yep that works, it's almost perfect, very close to the image out of the camera. I also haven't had any crashes with "normal" pictures, I haven't tried long exposures though.

Thanks for your work on RT, it's awesome.

[2020-10-04 15:52] prof7bit opened #5931 "Feature request: export in FITS format"
FITS is a file format that can hold bitmap data, it is the de-facto standard in astronomical imaging and image processing: https://en.wikipedia.org/wiki/FITS

Most image processing programs for astrophotography and astrometry are natively working with FITS. Some of them can import raw files (with limited influence on the debayering settings) or other file formats and then internally convert them t

[2020-10-04 20:09] andreskrey opened #5933 "DJI Mavic Air 2 (FC3170) White Frames"
Hi!,

I've noticed the lack of support for the new **DJI Mavic Air 2** and wanted to collaborate with sample white frames.

I've included **two sets**:

Set 1: 7 pics, **0.5/sec**, ISO 100/200/400/800/1600/3200/6400
Set 2: 7 pics, **2/sec**, ISO 100/200/400/800/1600/3200/6400

Can't tell you if the camera has built-in LENR but both sets should look different if it does. Pictures were gathered by p

[2020-10-05 14:28] Thanatomanic commented on #5933
@andreskrey I have downloaded the files and will inspect them soon.

The lens profile support is handled outside of RawTherapee at the Lensfun project https://lensfun.github.io

I will take a look at the coloration shifts you mention.

[2020-10-05 14:30] andreskrey commented on #5933
Do let me know if you need more samples. Not sure if you'll be able to see the color shifts on the samples. Happy to help you here :)

I'll check the lensfun project regarding the lens profile, thanks for the heads up.

[2020-10-05 18:28] Thanatomanic commented on #5933
@andreskrey I don't see the color shifts in the samples you provided. If you can shoot a uniform target (preferably a white wall illuminated by daylight) to show this effect I would be interested to see it.
The samples for the camera that I found on DPReview did not seem to show anything special.

As for the basic white-level support, it is now added to `camconst.json` with https://github.com/Beep

[2020-10-05 21:45] andreskrey commented on #5933
Forgive my ignorance, but given that the lens profile correction is built-in the DNG file, shouldn't RT be able to extract and apply it? I've searched across all issues in the repo [and found one](https://github.com/Beep6581/RawTherapee/issues/4049) that more or less mention what I'm questioning here.

I'm guessing that RT doesn't support built-in profiles and needs manual correction via lensfun?

[2020-10-06 02:06] emeraldsanto commented on #5552
I've just installed RT for the first time on macOS Big Sur (still in beta) and I can confirm that the same performance issues are present. I'm using a 4k display scaled at 2k (native 4k is way too small) and I have tried scaling further to 1080p and the performance keeps dropping.

[2020-10-06 05:33] SoupyGit opened #5935 "Saved Image"
Title should read: Saved Image Artifacts (accidentally hit enter on keyboard, which posted issue before I'd typed it). But I need to upload an image to demonstrate the issue and can't see how to do it - so I will close this, and post it at pixls forum.

[2020-10-06 05:40] #5935 closed, assigned to nobody

[2020-10-06 09:59] simohno opened #5936 "Color label not effective anymore for filtering, after resetting to default processing profile"
To reproduce this bug:

- Assign a color label (e.g. Red) to a file
- Open it in Editor mode and do whichever edit (or even none)
- Reset to default the processing profile (right click on thumbnail > Operations on processing profile > Reset to default)
- Switch back to Navigator mode
- Filter the files by Red label

Now the main window does not show the file, although without activating the filter

[2020-10-06 10:05] Thanatomanic commented on #5936
Bug confirmed. It seems it specifically has to do with the 'Processing profile > Reset to default' option.

[2020-10-06 10:17] Thanatomanic commented on #5936
This bug has probably been present for a long time. I tested with RT5.7 and could reproduce as well.

[2020-10-06 20:56] RichardRegal opened #5938 "Wavelets---Selecting Denoise disables contrast levels above level 6"
Version: 5.8-2482-gea156df1a
Branch: dev
Windows 10 version 2004

It is possible to have up to 10 levels (9+Extra) in the contrast part of wavelets. However, if denoise and refine in wavelets is selected then levels 7 and above are disabled even though the program allows one to make adjustments to those levels. This is to save memory as denoise uses a lot of memory. This causes 2 problems.

(_a_)

[2020-10-07 06:57] Desmis commented on #5938
@RichardRegal

I just open a new branch "waveltimp" where I chnage the GUI

If level > 7 - denoise cannot be selected, and is disable
if level = 7 and denoise enable - chroma fine is enable

I think It is a simple solution, that solve many cases

jacques

[2020-10-07 08:10] shapirus commented on #5693
I will chime in on this.

When preparing pictures for printing, especially if there are many of them to be printed on a specific type of paper, it is important to crop the picture exactly so that it matches the actual dimensions of the paper, and doing that using the current approach for setting up a custom crop aspect ratio is tedious.

My vision of it is as follows. It may be implemented in two

[2020-10-07 15:54] RichardRegal commented on #5938
I shall have to wait until it appears in the automated build list. In the meantime I have a couple of questions.

(_a_) Suppose I start with levels at 6 then I enable denoise and make some adjustments. If I then go back and select 9 levels I assume my denoise adjustments are ignored. Does the GUI now show denoise as being disabled? I think there should be text in the tool tip that mentions selecti

[2020-10-07 16:31] Desmis commented on #5938
@RichardRegal
Yes your denoise works are ignored

Now all works with level 7

But you have 2 alternatives for denoise
* use denoise in "detail tab"
* use denoise in "Local adjustments" -
** this module is more efficient than that of wavelet. But actually it is not completely  usefull, because in full image it uses a big lot of memory @heckflosse , Ingo is working on. But in most cases "full image"

[2020-10-07 20:07] RichardRegal commented on #5938
@Desmis
Thanks. With contrast going up to level 7 I can probably do most of the shaping* I want. I don’t often use level 8 and have never used level 9.

I must admit it had not occurred to me to use the local adjustments (and having looked at it I probably still wouldn’t). I do use the denoise in the detail tab but sometimes wavelets denoise does the job so much better (see Andy Astbury’s video at

[2020-10-08 14:10] andreskrey commented on #5933
Here are the pics with the color shifts: https://filebin.net/3wze0v6xicktkjcp

Both pictures were taken pointing the camera to a white-ish wall, illuminated indirectly by daylight.

By loading the images on RT you'll see immediately what I mean, the thumbnails will have blue edges and a red center. Cranking up and down the exposure will exaggerate the effect as well.

![image](https://user-images.

[2020-10-08 20:26] mrkowalski opened #5940 "pp3 files are not loaded if folder name contains polish characters"
If folder name contains non-ascii polish characters, my copy of RawTherapee won't load *.pp3 files containing edits. Edits are being saved to *.pp3, but after restarting the program, they are not loaded. Steps:

* Create a folder with polish chars in name, see example below
* Put a file there (i work with *.RAF Fuji raw files from X-E3)
* Open file in raw therapee, make some edits, like exposure c

[2020-10-09 05:37] Desmis commented on #5938
@RichardRegal

Can I merge these changes ?

jacques

[2020-10-09 06:49] Floessie commented on #5940
Hi Marcin,

I'm sorry, but I can't reproduce your problem under Debian Buster AMD64 with the folder name and the locale settings you provided. Neither with `dev` nor with 5.8.

Maybe you can build a current RT [yourself](https://rawpedia.rawtherapee.com/Linux) and try to narrow it down.

Best,
Flössie

[2020-10-09 14:43] RichardRegal commented on #5938
@Desmis
Yes, please merge the changes. They certainly give me more than I have now and make the program easier to use.

Of course, I always reserve the right to ask for more :-)

[2020-10-09 14:53] Desmis commented on #5938
@RichardRegal

I just merge

Jacques

[2020-10-09 16:27] lummukka opened #5943 "Compiling error on ubuntu 16.04: /home/xxx/programs/rt_git/RawTherapee/rtgui/delayed.h:161:24: error: ‘Glib::SignalProxy’ has not been declared"
Hi, compiling on ubuntu 16.04 stopped working newly. I have been pulling latest dev branch with git pull. What could be wrong?

[code]

Br
Vesa

[2020-10-09 17:01] heckflosse commented on #5943
@lummukka

please post the whole content of `AboutThisBuild.txt`

@Floessie that sounds a bit like your `delayed` changes...

[2020-10-09 17:29] lummukka commented on #5943
Here comes:

[code]

[2020-10-09 18:26] heckflosse commented on #5943
That's really old.

[2020-10-10 05:53] ff2000 commented on #5940
I also can't reproduce on arch linux (so I'm using the same build as yours).
I tried both without and with polish locale generated (just in case that matters).
Of course there is a way to force your issue: Make the pp3 (or the directory) read-only (chmod -w).
Could it be that you somehow can't write to that directory?

[2020-10-10 09:47] Floessie commented on #5943
@heckflosse I rather think it's a GTK issue:

[code]

The oldest VM I've currently at hand is Debian Stretch with GTK 3.22 and GCC 6.3. I'll be on vacation starting tomorrow and am packing today, so this has to wait at least a week.

[2020-10-10 10:07] Floessie commented on #5943
I had a look at the [glibmm-2.46 sources](https://ftp.gnome.org/pub/GNOME/sources/glibmm/2.46/): It's still a non-variadic template implementation (pre-C++11), so there's nothing we can do but to revert the `delayed` changes.

[2020-10-10 10:12] Thanatomanic commented on #5943
Or we raise our minimal requirements? Ubuntu 16.04 was released 4 years ago and reaches end of support on April 30, 2021.

[2020-10-10 20:23] RichardRegal opened #5945 "Enable edge detection on wavelets will cause crash if contrast settings change"
Open a raw file and select neutral profile.
Navigate to Advanced tab.
Enable Wavelet Lettings.
Enable Contrast (within Wavelet Levels).
Enable Edge Sharpness (within Wavelet Levels)
Enable Edge detection (within Edge Sharpness)
Make any change to the Contrast Levels and watch the program crash.

I tried debug and instead of crashing when I adjusted the contrast levels in wavelets the program crash

[2020-10-10 20:44] RichardRegal commented on #5945
Probably a more useful log file now as I was able to generate the error on pressing wavelet contrast in RT-debug.exe.
[logA.txt](https://github.com/Beep6581/RawTherapee/files/5360068/logA.txt)

Also it is not something caused by the removing of the clash with wavelet denoise as this problem also happened on Version: 5.8-2482-gea156df1a

[2020-10-10 22:20] mrkowalski commented on #5940
The only other factor I can think of is the drive in question is mounted under /run/media (not mounted automatically on boot). Exact path causing this issue is '/run/media/marcin/DATA/lightroom/lightroom_catalog_and_pictures/2020/inowlodz_rycerze/DSCF4035.RAF'. All files are writeable. The only thing that I change to reproduce it is folder name.

Another detail: I use film simulations. I mean mayb

[2020-10-11 09:32] heckflosse opened #5946 "Full-screen inspector: wrong background when embedded jpeg is too small"
When inspecting a file with a small embedded jpeg using the f-key, the background is wrong.
![grafik](https://user-images.githubusercontent.com/13733487/95675103-ec375480-0bb4-11eb-81d1-9b19a1a17463.png)

To reproduce, use https://raw.pixls.us/getfile.php/2764/nice/Phase%20One%20-%20P65+%20-%20IIQ%20L%20(4:3).IIQ

[2020-10-11 10:46] Desmis commented on #5945
@RichardRegal

Fixed with commit "8e92c13"
Thank you for testing :+1:

jacques

[2020-10-11 12:22] rhlinden opened #5947 "Version 5.8 could not start after fresh install in windows 10"
**OUTPUT**

    c:\BIN\RawTherapee\5.8>rawtherapee-debug.exe

    (rawtherapee-debug.exe:13940): Gtk-WARNING **: 12:22:00.586: Could not load a pixbuf from /org/gtk/libgtk/theme/Adwaita/assets/check-symbolic.svg.
    This may indicate that pixbuf loaders or the mime database could not be found.

    (rawtherapee-debug.exe:13940): Gtk-WARNING **: 12:22:01.195: Could not find the icon 'list-remove-s

[2020-10-11 14:10] #5945 closed, assigned to nobody

[2020-10-11 14:32] Thanatomanic commented on #5933
@andreskrey I don't know what to think after seeing these images. I don't see this effect in other samples I can find online, for example https://www.dpreview.com/sample-galleries/4451978106/dji-mavic-air-2-sample-gallery/2014742306 or here https://www.tomsguide.com/reviews/dji-mavic-air-2

Could it be your camera or lens has a malfunction somehow? In any case, I don't think we can improve the sup

[2020-10-11 14:32] #5933 closed, assigned to nobody

[2020-10-11 14:51] RichardRegal commented on #5945
@Desmis
Thanks.

[2020-10-12 07:04] ff2000 commented on #5946
This fixes the issue for me:

[code]
But I don't understand:
the comment above states that "the new method doesn't work".
I played a little and what makes the "new method" work was to create a CSS rule with #Inspector as selector.
I have no idea why get_background_color returns a different color (black) than what render_background does (without css rulse, with css rule, both do the same).

What is

[2020-10-12 09:43] Beep6581 commented on #5947
@rhlinden close RawTherapee, uninstall it, delete the file called ```options``` located in the config folder (see link below), and then re-install it.

http://rawpedia.rawtherapee.com/File_Paths#Config

[2020-10-12 10:02] Beep6581 commented on #5946
![screenshot_20201012_114720](https://user-images.githubusercontent.com/5844619/95733278-30445b00-0c82-11eb-92a9-f610e7dea99c.png)

The TIFF thumbnail embedded in the IIQ image has a height is 220px. The area of wrong color is 220px high, so it's size is probably derived from the thumbnail (when it should be derived from... the parent canvas size?). Why is that rectangle drawn at all? Probably to

[2020-10-12 11:24] heckflosse commented on #5946
Here's an alternative solution which simply does not upsize small embedded jpegs
[code]
![grafik](https://user-images.githubusercontent.com/13733487/95741236-36403900-0c8e-11eb-8de8-0020eeef1b75.png)

[2020-10-12 11:48] ff2000 commented on #5946
@heckflosse Yes, if it works it's OK. But I don't completely understand the logic behind filling the widget's  background using a rectangle that depends on the scale factor. The window has a specific size, why can't we just use that?
Also I don't understand where the black color comes from. It's not the standard bg and none of the existing css rules with rgb="0,0,0" match. (This is the first time

[2020-10-12 12:05] heckflosse commented on #5946
@ff2000

Imho one of the questions we should discuss is, whether we want an upscaled ugly blurred preview for this case of very small embedded jpeg thumbs or just a small, but sharp, preview. I prefer the latter.

About the black background: I'm a gui and css noob :-(

[2020-10-12 12:14] Thanatomanic commented on #5946
Since I dived into the CSS/GUI part recently, I will take a look at this (not today though).

[2020-10-12 12:15] ff2000 commented on #5946
I think showing an unscaled version in that case is better.
But I offer a third option: Load unscaled embedded preview and show an info message to the user with a button "Render the RAW file using default profile". Makes the file actually previewable and won't hurt general performance as preview RAW rendering is done only on request.

[2020-10-12 12:18] heckflosse commented on #5946
But given that there are only a few cameras with small embedded jpegs, is it worth the effort? Users of this cameras can already set this behaviour (though only global) in preferences.

[2020-10-12 12:20] heckflosse commented on #5946
Especially for the very small embedded jpegs of iiq files, it is very likely that the filebrowser thumb in RT is at least as large.

[2020-10-12 12:39] ff2000 commented on #5946
Small in this context is relative to monitor resolution, so the preview doesn't need to be extremely small if monitor resolution is high. Review halfsize previews of 10MP RAWs (e.g. GH5S) on a 4K monitor (that you own because you use the GH5S for 4K recording ;)) and you constantly bump into too small previews.

But of course this still isn't the common case.
I just wanted to paste this idea here,

[2020-10-13 11:23] heckflosse opened #5950 "Wrong camera and lens set for lensfun when opening CR3 files"
When opening a CR3 file, the wrong camera and lens are set for lensfun because lensfun search gets called with empty strings and returns the alphabetically first camera and lens.
![grafik](https://user-images.githubusercontent.com/13733487/95853997-93072680-0d56-11eb-891c-ef66ccb0676f.png)

This fixes it:
[code]

[2020-10-13 11:24] Thanatomanic commented on #5950
Looks good to push immediately 👍

[2020-10-13 11:28] heckflosse commented on #5950
Fixed with a30dca0b0e0e66cc9fa4363cdc22b07961340ee4

[2020-10-13 11:28] #5950 closed, assigned to nobody

[2020-10-13 11:54] rhlinden commented on #5947
Hello @Beep6581

Thank you for your help.

I did what you suggest.
Uninstall,verify that directory c:\bin\RawTherapee is empty, delete the file %LOCALAPPDATA%\AppData\Local\RawTherapee\options, reinstall.
Got exactly the same result.
Would it be of any help if I send you a
    dir /s
or the content or the file ?
    %LOCALAPPDATA%\AppData\Local\RawTherapee\options
or any other information that cou

[2020-10-13 15:04] aferrero2707 commented on #4713
@gaaned92 I am resurrecting this discussion, because version 1.5.3-1 seems to have disappeared from the MSYS2 repositories:
<img width="1342" alt="Screen Shot 2020-10-13 at 5 02 26 PM" src="https://user-images.githubusercontent.com/6229237/95878875-feacbc00-0d75-11eb-9ab9-9be7319dd3b2.png">

This means the automated builds, which install the MSYS2 packages at each execution, are currently stuck...

[2020-10-13 15:21] Thanatomanic commented on #4713
From the people currently available, maybe @Floessie can take a renewed look at this issue?

[2020-10-13 15:33] Thanatomanic commented on #4713
At the least I can confirm that the problem still exists with `libjpeg-turbo-2.0.5`:

[code]

[2020-10-13 15:40] heckflosse commented on #4713
How about this hack?
[code]

[2020-10-13 15:41] heckflosse commented on #4713
I tested above hack with a CR2 file which I renamed to .jpg
Seems to work. I get this in console:
[code]
which proves the hack works correctly.
Maybe we should commit it to dev to allow nighthly windows builds until we have a better solution.

[2020-10-13 20:01] Beep6581 commented on #5947
Hi @rhlinden
Ok, we're off to a clean start. Since the problem persists, please invoke gdb and get a stack backtrace:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

[2020-10-13 20:09] maxmoritz opened #5951 "DCP dual-illuminant / Panasonic DC-S5"
Hi,

I've taken some time to shoot raw using my brand ne Panasonic DC-S5 to be used to create DCP in Rawtherapee.
According to https://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles I've shot two sets of raw, one during sunshine and another set StdA using a regular old light bulb.

Each set includes three exposure bracketed raw files.

Sunlight:
https://filebin.net/rpw5pblzw6902pjj

Std

[2020-10-13 20:31] maxmoritz opened #5952 "DCP dual-illuminant / Fujifilm X-T4"
Hi,

I've taken some time to shoot raw using my X-T4 to be used to create DCP in Rawtherapee.
According to https://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles I've shot two sets of raw, one during sunshine and another set StdA using a regular old light bulb.

Each set includes three exposure bracketed raw files.

Sunlight:
https://www.swisstransfer.com/d/56bb4c9f-d6c4-4c33-b082-22ef3

[2020-10-13 21:13] gaaned92 commented on #4713
W10/MSYS2
@heckflosse
The build is ok and I can open jpegs.
It is only a hack as you say, do you think it can break some function.
Do you know why it was modified from the original jdatasrc.c of the libjpeg-turbo package?

Anyway, I think you should commit.

[2020-10-13 21:25] heckflosse commented on #4713
@gaaned92

I think it is save to commit it.

Well, I tried the patch from https://github.com/Beep6581/RawTherapee/issues/4713#issuecomment-415740900
and it segfaulted (crashed) when opening corrupted jpegs. Though clearly I don't know why this was modified.

Now it works and we should commit the patch imho. @Thanatomanic  @Beep6581  ?

[2020-10-13 21:39] Beep6581 commented on #4713
No issues linking in Linux.

+1 for imminent commit as it solves a problem and gets more testing.

P.S. are the first three defines (JVERSION, JCOPYRIGHT_SHORT and JMESSAGE) needed? Where do their values come from?

[2020-10-13 23:21] rhlinden opened #5953 "Log report (Associated with bug (#5947))"
Folow procedure in page
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

Output log file
[log.txt](https://github.com/Beep6581/RawTherapee/files/5374621/log.txt)

\AppData\Local\RawTherapee\options (with txt extention due to limitation of github)
[options.txt](https://github.com/Beep6581/RawTherapee/files/5374658/options.txt)

List of files in C:\BIN\RawTherapee\5.8 pa

[2020-10-13 23:24] rhlinden commented on #5947
Hello Beep6581

Open a new ticket following instructions of the page
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step
NEW BUG: #5953

Best regards
Ricardo

[2020-10-14 04:40] Thanatomanic commented on #4713
:+1: for a merge

It seems to me as an historic (possibly kinda misguided) attempt to reduce dependencies, but I'm not sure. Further investigation would be warranted imo.

[2020-10-14 05:09] Thanatomanic commented on #4713
After looking at the differences between the `libjpeg-turbo` code and our code, it seems to me the only reason for the existence of our code is to override this: https://github.com/libjpeg-turbo/libjpeg-turbo/blob/6d8caa9f88184ad1698e91c94b37acb9506dacf0/jerror.c#L55-L78 and have a more graceful error handling.

[2020-10-14 05:14] Thanatomanic commented on #5953
This should have been posted directly to #5947

[2020-10-14 05:14] #5953 closed, assigned to nobody

[2020-10-14 05:15] Thanatomanic commented on #5947
@rhlinden This is the content of your other post for reference here

[2020-10-14 05:18] Thanatomanic commented on #5947
After looking at your gdb log file it seems there is no crash, the file is really short. Can you elaborate on what you did, what you saw and in particular what made you decide that the application was not going to start or that it has crashed?

[2020-10-14 05:20] Thanatomanic commented on #5952
Confirmation that I have downloaded the files for further processing, thank you

[2020-10-14 06:28] Thanatomanic commented on #5952
@Beep6581 It's up to you if you want to do the processing. I have your script now and could also do it.

[2020-10-14 07:09] heckflosse commented on #4713
@Beep6581 Without the defines it doesn't compile.
I got them from here
https://github.com/avxsynth/avxsynth/commit/80dcb7ec8d314bc158130c92803308aa8e5e9242

[2020-10-14 11:53] Beep6581 commented on #5952
@Thanatomanic I'll do it.

[2020-10-14 12:04] Beep6581 commented on #5947
@rhlinden could you try the latest dev build? If ```rawtherapee.exe``` crashes, then run ```rawtherapee-debug.exe``` through GDB and provide the stack backtrace. Attach it to this issue.

[2020-10-14 12:05] Beep6581 commented on #5947
Latest dev build:
https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee_dev_5.8-2497-gd6f8de428_20201007_win64.zip

[2020-10-14 12:35] heckflosse commented on #4713
Maybe we can port this back to RT for a cleaner solution:
https://bitbucket.org/agriggio/art/commits/c05cb3142c4a466b0c3ad17053e7dec315594c1b

[2020-10-14 14:41] rhlinden commented on #5947
Hello @Thanatomanic
I open a new ticket as suggest at point number 8 in the instruction of the page

    http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

It instructs to _**Open a new issue**_ to upload the files. I took it literally. I'm sorry about that.
Thank you for being so kind to close the unneeded issue and transferring the files for reference of this one issue

[2020-10-14 14:47] Thanatomanic commented on #5947
@rhlinden Hi Ricardo, thanks for testing further. I don't think the localization will be an issue here. Are you 100% sure the log file you added is the result from following steps 2 through 7 from the http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step page?
It is very suspicious that the log is so short and doesn't even mention the actual error.

[2020-10-14 15:45] rhlinden commented on #5947
Hi Thanatomanic

I rechecked that the log is the right log file and it contains only the list of threads and nothing similar to a crash.

I'm including the console output of the execution of **gdb rawtherapee-DEBUG.exe** .
In this file the message shows up before the list of threads.
I don't know if you can find any value out of that info, but in doubt I'm including it.

[gdb_output.txt](https://g

[2020-10-14 16:06] chk1 commented on #5691
Also RawTherapee 2.8, Win10 1909

Similar issue with two of my Sony lenses, RawTherapee displays the camera model, but "unknown" lens, does not select the setup automatically.

![image](https://user-images.githubusercontent.com/828496/96015046-65e67100-0e47-11eb-8d35-9cb42e68958d.png)

![image](https://user-images.githubusercontent.com/828496/96015439-dd1c0500-0e47-11eb-8014-2453975b2a25.png)

I n

[2020-10-14 22:10] Beep6581 commented on #5947
It looks like the problem occurs outside of RT, possibly in that GTK+ module, and it corrupts the stack, making troubleshooting difficult. Temporarily disabling the antivirus program and re-testing would be an easy and good thing to try. We know that RT 5.8 does run on a fresh Windows 10 installation, so whatever's happening seems specific to your machine.

[2020-10-14 23:31] rhlinden commented on #5947
Hello @Beep6581

You are right.
The problem disappears if I install in **c:\program files\rawtherapee** instead of **c:\bin\rawtherapee**
Even without disabling anti-virus. (that would't be an option anyway).

I suggest some action is adopted to avoid repetition of this situation.
For instance remove the option of installing in a different place than **c:\program files\rawtherapee** if this proves

[2020-10-15 11:10] Thanatomanic opened #5954 "Displayed image width and height inconsistent, and incorrectly updated when setting RAW border"
There are few related issues with how the actual image width and height are displayed. The key affected areas to compare: Navigator, information overlay on preview and values in Crop tool.

Start out by opening any RAW file and applying the Neutral profile. As an example I use an image from a Nikon D750 which has a maximum sensor size of 6032×4032 pixels. There is no raw crop present in `camconst.

[2020-10-17 06:40] gaaned92 commented on #4713
On the user side, I don't see evidence that the ART solution brings a different behaviour.
So it is up to the dev to make a decision.
If you agree I think we can close this thread

[2020-10-17 08:13] heckflosse commented on #4713
Ok to close from me.

[2020-10-17 08:16] Thanatomanic commented on #4713
For me as well. I think this counts as one of the longest outstanding issues with critical priority that has finally been 'fixed' (more than two years!). We can finally lay it to rest. Thanks everyone involved!

[2020-10-17 08:16] #4713 closed, assigned to nobody

[2020-10-18 17:00] simohno opened #5955 "Some tooltips are not visible in fullscreen mode"
Just a small problem. Tooltips for buttons in bottom part of the Editor mode window (Save, Add to queue, monitor profile, etc.) are not visibile in fullscreen mode (or sometimes only the edge is visible in the very bottom of the LCD). This behaviour is found on my 14" FHD laptop on Windows 10.

_Version: 5.8-2470-g35519dfd3
Branch: dev
Commit: 35519df
Commit date: 2020-09-17
Compiler: x86_64-w64-m

[2020-10-18 17:00] simohno opened #5956 "Some tooltips are not visible in fullscreen mode"
Just a small problem. Tooltips for buttons in bottom part of the Editor mode window (Save, Add to queue, monitor profile, etc.) are not visibile in fullscreen mode (or sometimes only the edge is visible in the very bottom of the LCD). This behaviour is found on my 14" FHD laptop on Windows 10.

_Version: 5.8-2470-g35519dfd3
Branch: dev
Commit: 35519df
Commit date: 2020-09-17
Compiler: x86_64-w64-m

[2020-10-18 17:01] #5955 closed, assigned to nobody

[2020-10-18 20:14] Thanatomanic commented on #5956
I'm afraid I cannot reproduce on Windows 10. Both when the screen is maximized or when in full screen mode (F11), my tooltips show up above the buttons, not below.

![image](https://user-images.githubusercontent.com/6567747/96378847-2a251180-118f-11eb-8f27-4f92975886a9.png)

Do you have your laptop connected to an external monitor by any chance?

[2020-10-19 13:42] Floessie commented on #5943
`delayed.h` is no big deal. We can drop it or we can raise our requirements. Opinions?

[2020-10-19 14:06] heckflosse commented on #5943
I'm for raising our requirements. But imho it's up to you, @Floessie, to decide that, as you're building also for ppc and whatever.

[2020-10-19 16:32] simohno commented on #5956
Actually not, the laptop is alone. The situation is the following:
In normal mode
<img width="960" alt="1" src="https://user-images.githubusercontent.com/61553300/96478363-e2a69000-1237-11eb-94ea-ad5aab385912.png">

In fullscreen mode (screenshot is the bottom edge of the screen as yours, hovering on same icon as above with pointer)
<img width="960" alt="2" src="https://user-images.githubuserconte

[2020-10-19 19:17] Barugon commented on #5909
It looks like Camera Raw now supports the Panasonic S5:
https://helpx.adobe.com/camera-raw/kb/camera-raw-plug-supported-cameras.html

[2020-10-19 19:25] Floessie commented on #5943
Me too. Though I'm building for different architectures, it's always the latest sh** :wink:, and I seldom have a very old VM at hand. The problem is, that it's hard to emulate an old (pre C++11) glibmm. But we can do without `delay.h` as we always did. It was just meant as an optimization.

[2020-10-19 20:03] Thanatomanic commented on #5909
I've update Adobe Camera Raw to version 13.0, which should support the DC-S5, however, the camera does not show up in my `ProgramData\Adobe\CameraRaw\CameraProfiles\Camera\` directory. The newly supported Sony ILCE-7SM3 does should up as a separate folder.
I am not sure what is going on. @Beep6581 do you have any idea? Could Adobe be reusing profiles from other camera's? Is there a way to find out

[2020-10-19 23:46] Barugon commented on #5909
If I edit the exif, change the model name to DC-S1 and edit the file with RawTherapee then the colors look correct.
[code]

[2020-10-20 16:36] Floessie opened #5957 "Local adjustments tab vs. hand icon"
Salut,

When selecting the local adjustments tab, the hand tool icon above the image turns into a crosshairs icon. Is that expected?

![screenshot1](https://user-images.githubusercontent.com/10133457/96616403-cf142b80-1302-11eb-93c5-9a20c50d055b.jpg)

![screenshot2](https://user-images.githubusercontent.com/10133457/96616420-d804fd00-1302-11eb-854d-f7dda9053457.jpg)

Best,
Flössie

[2020-10-20 17:41] Pandagrapher commented on #5957
@Floessie
Locallab GUI is based on `EditWidgets` mechanism (so as `Gradient` tool I believe) which activates this icon when overlay widgets are shown. So, when spot widgets appear (i.e. when Locallab tool is selected), the crosshairs icon is displayed.

Normally, the activated button is used to hide overlay widget clicking on it. But, as with Locallab it is automatically managed according to tab s

[2020-10-20 21:45] RichardRegal commented on #5908
It is certainly what I use as my default. I am rarely accurate enough with my focussing to get the level of very fine sharp detail that would make AMaZE the automatic choice. When I take a photo that good it is easy enough to change.

I am always going to change to dual demosaicing anyway (but always start with just plain RCD or AMaZE) so it is not really an issue for me.

[2020-10-20 21:59] RichardRegal opened #5958 "Improve UI for setting wavelets sliders and curves"
and for the wavelet settings in local adjustments.

Most of the curve and slider settings use the existing level of local contrast to determine where the adjustments show in the image. The sliders sill have a black to white wedge and the graphs/curves now have nothing underneath the curve to indicate this. Can I suggest that in both case we use a double wedge like https://pixls-discuss.s3.dualstac

[2020-10-20 22:18] gaveitatry02 opened #5959 "How can I color calibrate the gamma of my laptop screen using the ICC Profile Creator?"
I was using Windows 10 - Color Management to change the gamma of my laptop screen.  It worked.  The problem is that the Color Management tool uses a slider instead of exact numbers.  So, if I want to finetune it and make a small adjustment, I can't.  I was using the up and down buttons on my keyboard to move the slider, but I don't think this yields dependable results.  So that's why I started sea

[2020-10-21 06:22] Desmis commented on #5958
@RichardRegal

It is GUI problem, I don't know how to do

jacques

[2020-10-21 09:26] Floessie commented on #5957
@Pandagrapher Pierre, merci beaucoup. So this is known and expected. Closing.

[2020-10-21 09:26] #5957 closed, assigned to Desmis, Pandagrapher

[2020-10-21 12:04] Thanatomanic commented on #5959
I'm sorry, but you don't seem to understand the purpose of the ICC profile creator or what color managing your desktop means. If you want to know more, please see the https://pixls.us forum and ask around to help get yourself educated.

[2020-10-21 12:04] #5959 closed

[2020-10-21 13:41] gaveitatry02 commented on #5959
Geez, what an effin retard.  Why are you even on this Github?

[2020-10-21 14:08] gaveitatry02 commented on #5959
Oh yeah, I wanted to say that you are a stinkin n66r that doesn't know how to talk to people.  Go k yourself man.  If you ever fcking talked to someone like that in real life, they would smash your face in.  All your "sorry" and "pleases" can't disguise your f'd up attitude.  Hope you get AIDS and die.

[2020-10-21 22:38] vs-ai opened #5960 "AppImage hangs when starting on Ubuntu"
### Versions:
Ubuntu 18.04.3 LTS (on a server, no UI)
RawTherapee 5.8 (AppImage) or RawTherapee-releases-5.7-20190910.AppImage

### Details:
[code]
and hangs at this point, without error message. Same if I add arguments to the command.

The package version 5.7 works fine (but there is no documentation anymore on how to add the package, so I guess it is deprecated and the preferred way is to use th

[2020-10-22 07:27] Dorothy-2016 opened #5961 "how can I test it with my own raw data?"
I have raw datas which come from my own camera, which is developing at present, can it be processed by rawtherapee? I mean can the new raw format can be added to rawtherapee? the new raw format just include raw image data, but not metedata.

[2020-10-22 12:00] Thanatomanic commented on #5961
Hi @Dorothy-2016, I am not sure what you mean. Which camera are you talking about? A custom built camera?
If you can provide a raw file, maybe we can take a look.

[2020-10-22 12:17] Thanatomanic opened #5962 "RTv2_Medium.icc and RTv4_Medium.icc TRC's do not match"
The ICC v2 'Medium' profile that we ship has a simple gamma encoding with an exponent of 2.2, whereas the ICC v4 profile has an sRGB function (like all the other profiles). @Desmis Any thoughts about why this is different?

Screenshot of the v2 profile in ICC Profile Inspector
![image](https://user-images.githubusercontent.com/6567747/96870393-22a48780-1471-11eb-82be-381bf6105d2b.png)

Screenshot

[2020-10-22 12:37] heckflosse commented on #5961
Without metadata RT knows nothing about the CFA of your camera and also nothing about the raw data (is it compressed or uncompressed...). Maybe you can try to write a DNG-file with metadata. That would allow RT to open the file.

[2020-10-22 12:47] Desmis commented on #5962
@Thanatomanic

Probably a mistake when I made the profile package. Very easy to change.
I suggest that you make this change with "ICC profile creator", but if you want me to change it, no problem.

jacques

[2020-10-22 13:45] gaaned92 commented on #5947
I never noticed that! I cannot start RT or ART from C:\bin.
I get the same message as above.
No problem if RT is installed elswhere.

Does anybody know what is special with that directory that it makes GTK bug?

[2020-10-22 13:51] TechXavAL commented on #5962
And when this problem is dealt with, wouldn't it be a good idea changing all the profiles not being sRGB and set in each of them the appropriate gamma, according to standards?

[2020-10-22 14:18] Thanatomanic commented on #5962
@TechXavAL That is another discussion we can have.

For now, closing with https://github.com/Beep6581/RawTherapee/commit/19ecd8e81dec3606e858f065541b9372af3ae227

[2020-10-22 14:18] #5962 closed, assigned to nobody

[2020-10-23 00:22] vs-ai commented on #5960
The problem is it needed the gtk3 package, even when just using the cli.

[2020-10-23 00:22] #5960 closed, assigned to nobody

[2020-10-23 10:26] Dorothy-2016 commented on #5961
Thanks for your guys'   reply!   @Thanatomanic @heckflosse
I upload a raw data and its corresponding jpg data here[https://drive.google.com/drive/folders/19roS2EwnhhIN1FTtbwNkVBkpQXJHXzu2?usp=sharing
](url)
the raw data just include image data, which I can read by the following function:

`bool readRawData(std::string filePath, int iw, int ih, cv::Mat &dst)
{

    unsigned short *buf = (unsigned s

[2020-10-23 15:05] rom9 commented on #5961
Cool, that's hard-core DIY  :-)

I agree with @heckflosse , definitely create a DNG file, using a standard format has many advantages.
You can easily convert the raw file to a (mosaiced) tiff using the `raw2tiff` command (you can find it in the `libtiff-tools` package if you're using Fedora Linux) :

[code]
![image](https://user-images.githubusercontent.com/4711834/97020208-8ef6b800-1551-11eb-86b7

[2020-10-24 03:35] syyrmb opened #5963 "new Chinese(Simplified) translation for RT 5.8"
[Chinese (Simplified).zip](https://github.com/Beep6581/RawTherapee/files/5432356/Chinese.Simplified.zip)

    I made a Chinese(Simplified) translation based on the old one included in RT 5.8.
    Most tools' name in the processing panel are translated (except those in the Advanced tab), however I haven't translate many tool-tips.
    Wording consistency is improved, many mistranslations are also c

[2020-10-24 06:33] Thanatomanic commented on #4763
I think this issue can be closed due to https://github.com/Beep6581/RawTherapee/commit/f9e8fb41242460add0ef1c97a979e4bd48d61106 and the great work by @Lawrence37

[2020-10-24 06:33] #4763 closed, assigned to nobody

[2020-10-24 14:35] heckflosse opened #5964 "Speedup for preview"
The preview mode in RT has (at one of the last steps) a conversion from Lab to RGB.
There are two cases:

Case one: no monitor profile is used
Case two: a monitor profile is used.

My following patch will adress case one.
Before patch the processing time for the conversion on my 8-core took ~17ms, after the patch it takes ~5ms

Patch follows soon. Have to go out with the dogs first...

For case tw

[2020-10-24 16:28] heckflosse commented on #5964
Here's the patch

[code]

[2020-10-24 17:35] TechXavAL opened #5965 "Warnings on compilation of dev build"
I've had a bunch of warnings when compiling the latest dev build:

Linux Mint 20
RT5.8dev commit: f9e8fb412
Clean compilation (that is, source-code and older compilation folders deleted)
Using the auto-script, set to compile the dev branch

This is the configuration part:

-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler:

[2020-10-24 17:55] heckflosse commented on #5965
Did you make a debug build?

[2020-10-24 18:50] TechXavAL commented on #5965
No, standard compilation. Same as many times before, but this time with warnings.

It seems that when those warnings appear, the process keeps trying something on my machine until it does it, or until it takes it as not possible. But no message about what happens, though.

[2020-10-25 10:41] heckflosse commented on #5965
@TechXavAL Do you use LTO in your latest build?

[2020-10-25 10:50] TechXavAL commented on #5965
Yes, I do:

[2020-10-25 10:55] heckflosse commented on #5965
That explaines the long link time

[2020-10-25 11:28] TechXavAL commented on #5965
You're right.

I've turned off that option, recompiled and everything goes smoothly, without warnings.

I think it has been a mistake on my part, so you may close this issue if you think it's _«fixed»_

Thanks

[2020-10-25 11:59] heckflosse commented on #5965
I will let the issue open for a while. Perhaps someone can fix the warnings. I can not, because LTO is not supported on Windows.

[2020-10-25 17:24] #3794 closed, assigned to heckflosse

[2020-10-26 01:03] Lawrence37 opened #5967 "Extreme values in Log Encoding causes crash"
After enabling Log Encoding in local adjustments and setting the White Ev to 0.1, RawTherapee crashes. The release build terminates with a segmentation fault and the debug build produces this message:
[code]

`f` is `inf` due to math with very large numbers.

[2020-10-26 02:01] Dorothy-2016 commented on #5961
Wow! Thank you  so  much! @rom9
I tried as you said, and it woks so well,  we can enjoy RT now.
Thank you guys again!!

[2020-10-26 05:49] Desmis commented on #5967
I cannot reproduce, could you furnish raw and pp3

Thank you

jacques

[2020-10-26 05:49] Thanatomanic opened #5968 "Apply natural sorting to file tree browser"
Coming from this discussion on pixls: https://discuss.pixls.us/t/rt-doesnt-see-folders-jumbles-others/ the request is to enable natural sorting in the file tree.
I saw this patch by @Floessie that sorts the images in the file browser, https://github.com/Beep6581/RawTherapee/issues/2467
It would be useful to make it also work for the file tree.

[2020-10-26 07:03] Floessie commented on #5965
I'll have a look.

[2020-10-26 07:27] Desmis commented on #5967
I think I have found one case where probably must be a crash, when
dynamic_range = lp.whiteev - lp.blackev is too low and leads to divide near zero

I push a change :)

jacques

[2020-10-26 09:28] aferrero2707 opened #5969 "Gtk::Grid::attach_to_next gives compilation error with gtkmm 3.22"
The new code that ahs been recently introduced in the histogram panel gives a compilation error with gtkmm 3.22, which is the version I am using on CentOS7 for packaging the AppImages.

The compilation error is the following:
[code]
It is due to the fact that in gtkmm 3.22 the additional `width` and `height` parameters of the `attach_to_next` function do not have default values (see documentation

[2020-10-26 09:34] Thanatomanic commented on #5969
I guess that would be a very easy fix to keep compatibility. Go ahead 👍

[2020-10-26 09:37] aferrero2707 commented on #5969
Ping @Beep6581 and @heckflosse to see if they would agree to commit the fix...

[2020-10-26 10:18] Floessie commented on #5969
@aferrero2707 I can reproduce the issue on Debian Stretch. I'll fix it on `dev`.

[2020-10-26 10:30] #5965 closed, assigned to nobody

[2020-10-26 10:33] #5969 closed, assigned to nobody

[2020-10-26 13:55] TechXavAL opened #5970 "Wavelet levels Denoise module modifies image upon turning it on"
This is a surprising effect, most probably due to a bug.

Linux Mint 20
RT5.8dev commit: b4f68adb6

If you turn on the Wavelet Levels tool and also turn on the Clarity module with default settings, then the Denoise and Refine module changes the contrast of the image by just turning it on. It happens with «Wavelet Levels» setting set on levels 5, 6 and 7, but although in level 7 there's a slight ch

[2020-10-26 14:02] TechXavAL opened #5971 "Wavelet levels tool Residual image odd behavior"
Linux Mint 20
RT5.8dev commit: b4f68adb6

The Highlights slider inside the Residual Image module has an odd, or perhaps a very particular behavior: if you slide to the right the image gets darker, and if you slide to the left, the image gets darker... The difference may be on which parts the image gets darker, but it seems to me it's an odd or unexpected behavior.

With settings of +90 and -90, in

[2020-10-26 14:05] heckflosse commented on #5970
Well, most tools in RT have default settings which change the output when the tool is enabled. One exception is the vibrance tool.

[2020-10-26 14:27] TechXavAL commented on #5970
This module in this tool didn't do that. It's a denoise feature, and it had never changed the contrast of the image when turning it on and with all sliders set to 0. At least not from version 5.6 onwards, to my knowledge.

And up to now, with the tests I've done, it only happens when used with the Clarity module turned on. So no Clarity, no problem.

But if it has this new behavior and it's not a

[2020-10-26 14:34] heckflosse commented on #5970
I didn't say it's not a bug ;-) Maybe @Desmis can chime in.

[2020-10-26 15:37] Thanatomanic commented on #5970
For reference, the Sharp-mask and Clarity seems to have been introduced only recently: https://github.com/Beep6581/RawTherapee/pull/5660 judging by the tool label appearing in the `default` translation file.

[2020-10-26 15:58] Lawrence37 commented on #5967
Amsterdam.pef starting with the neutral profile causes a crash. Every image I tried caused a crash too. I will try the latest change to see if the problem is still there.

[2020-10-26 17:41] Lawrence37 commented on #5967
I can still crash RT with White Ev = 0.5, Black Ev = -16, and Target gray point = 10.
[amsterdam.pef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/5440426/amsterdam.pef.pp3.txt)

[2020-10-26 18:57] rom9 commented on #5961
You're welcome, i'm glad it helped :-)

[2020-10-26 18:57] #5961 closed, assigned to nobody

[2020-10-27 05:36] Desmis commented on #5967
@Lawrence37

With the last commit, I hope the crash is always fixed

commit 445505a

jacques

[2020-10-27 05:38] Desmis commented on #5971
I suppress the possibility to negative values for Residual highlights slider - commit 445505a

jacques

[2020-10-27 05:48] Desmis commented on #5970
@TechXavAL
It's too complex to solve, it will stay that way.

@Thanatomanic
for your information, Clarity has been added to a wavelet branch at the end of 2015.
This branch also contained
* Retinex in wavelet
* watermark
* merge files (as HDR)
* merge files for artistic effects
*...

This branch has been extensively tested and has never been merged and has become impossible to compile (important d

[2020-10-27 07:35] Thanatomanic commented on #5970
@Desmis Can you verify that the following steps are expected behavior?

**Case 1**
1. Apply Neutral
2. Enable Wavelet levels (zoom in at 1:1)
3. Set Wavelet levels to 5 or 6 (for better demonstration in case 2)
4. Enable Denoise and Refine
5. Nothing changes

**Case 2**
1. Apply Neutral
2. Enable Wavelet levels (zoom in at 1:1)
3. Set Wavelet levels to 5 or 6 (for better demonstration)
4. Enable S

[2020-10-27 09:07] Desmis commented on #5970
@Thanatomanic
I just push a commit 85bd64...

I hope if solve this behavior....it is complex because we use 2 different functions (ipwavelet and Ftblockdn...) and of course with the conception of wavelet level (it is different en Local adjustments - which is not to say that there are no problems with LA...there is currently a very large consumption of resources that Ingo is going to deal with...;)

[2020-10-27 18:10] TechXavAL commented on #5971
So be it, if there's no better option.

Then this issue is not an issue anymore

[2020-10-27 18:31] Lawrence37 commented on #5967
Hi @Desmis. Sorry to bother you again. I can crash RT with the following:
Black Ev = -16
White EV = 1
Value = 1
Target gray point = 5
Logarithm base = 1.3
[amsterdam.pef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/5447311/amsterdam.pef.pp3.txt)

I admit no one is likely to use such an extreme combination, but it can happen accidentally. Is it reasonable to clamp the values instead of us

[2020-10-27 18:32] Lawrence37 commented on #5967
Hi @Desmis. Sorry to bother you again. I can crash RT with the following:
Black Ev = -16
White EV = 1
Value = 1
Target gray point = 5
Logarithm base = 1.3
[amsterdam.pef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/5447311/amsterdam.pef.pp3.txt)

I admit no one is likely to use such an extreme combination, but it can happen accidentally. Is it reasonable to clamp the values instead of us

[2020-10-27 18:48] Desmis commented on #5967
I took the code from ART...from Darktable

The only point which change is the size of the spot... and in some cases crash because the range light is bad....(its the case by default with Amsterdam...)
I think in some cases, that can append in ART or Darktable

I change a little some parameters to avoid that... In fact no importance all images have more than 1 Ev....

I push this small changes

Than

[2020-10-28 13:55] heckflosse opened #5972 "Possible enhancement for haze removal"
I really like the haze removal tool not only to remove haze, but also for its effect on non hazy images.
But the normal mode often adds too much saturation while the luminance-mode often does the opposite (at least perceptual)

I propose to add a blend between both modes with a simple adjuster (0 to 100), where 0 means luminance-mode, 100 means normal mode and any value between 0 and 100 just does

[2020-10-28 15:52] Desmis commented on #5967
As you prposed, I clamp various values...
In addition to avoiding crashes, the results are better (in some cases)  :)

Jacques

[2020-10-28 15:52] mbaz commented on #5972
I think this is a great idea; I often avoid this tool because it adds so much saturation.

[2020-10-28 17:20] Thanatomanic commented on #5972
I seldomly use dehazing, but a blend seems like a good solution.

But what about your "poor man's dehaze"? Since that seems an either/or solution, could it be added as a checkbox? Like 'Offset dehaze'?

[2020-10-28 17:34] heckflosse commented on #5972
I still really like the "poor man's dehaze", but i'm still not sure how to put it in GUI...

[2020-10-28 18:10] Lawrence37 commented on #5967
Interestingly, ART release build doesn't segfault.

With the most recent change, Log Encoding no longer crashes RT no matter how hard I try. Closing this issue.

[2020-10-28 18:10] #5967 closed, assigned to nobody

[2020-10-28 19:33] heckflosse commented on #5972
I will try to make a `blend` PR tomorrow. Should be quite easy...

[2020-10-29 11:22] heckflosse commented on #5972
I create the `dehaze_blend` branch to allow testing.
It's not complete atm.

Todos:
backwards compatibility
Local adjustments
...

Processing time did not increase at my machine.
Memory usage is the same as before.
I replaced the `luminance` checkbox by a `Saturation` adjuster (feel free to suggest a better name).
At value 0 it behaves like the `luminance` mode, at value 100 it behave like the `no

[2020-10-29 17:21] heckflosse commented on #5972
I tried the dehaze-blend with a lot of files (not only hazy ones).
In my opinion it makes the dehaze tool much more easier to use.
Before, it was a kind of binary choice between luminance and standard mode.
Now it's much more flexible.

Just my 2 cents...

[2020-10-30 15:12] heckflosse commented on #5972
I just found a bug in my branch which causes strange output on full export. Searching...

[2020-10-31 20:53] heckflosse commented on #5972
That was a false alarm.

[2020-10-31 22:15] Lawrence37 opened #5974 "Local Adjustments Blur in inverse mode produces bad output"
There is some undesired interaction between the Gaussian blur and guided filter settings. It happens when Gaussian radius is set but the mode is guided filter, and vice versa.
![image](https://user-images.githubusercontent.com/45837045/97790743-6ccfec00-1b88-11eb-8d0e-654e2e48fb38.png)

To reproduce:
1. Start with neutral profile.
2. Enable Local Adjustments and add a spot with the Blur/Grain & De

[2020-10-31 23:12] Lawrence37 opened #5975 "Local Adjustments Exposure tool sometimes ignores settings"
This bug sometimes affects the preview and also the exported image. When Exposure compensation is not 0 and Laplacian threshold (in Contrast Attenuator) is 0 or 0.1, the adjustment region is darkened regardless of the settings. Here, I've set Exposure compensation to +1.5:

| Good output | Buggy output |
| - | - |
| ![image](https://user-images.githubusercontent.com/45837045/97791811-abb76f00-1b93

[2020-11-01 01:23] reffort commented on #5908
I think RCD allows a subtle, but noticeable, improvement in color quality.  It isn't apparent in the RT on-screen preview, but it is visible in the output files.

Perhaps an easy way to demonstrate this numerically is with the Correlation Factor value of the new Temperature Correlation method of Auto White Balance.  Open a raw image and, for each demosaic algorithm of interest, adjust the raw Chro

[2020-11-01 07:00] Desmis commented on #5975
@Lawrence37

I cannot reconstituded...
I applied your settings....zoom in and out pan around....nothing

But because you have this behavior I have changed the way "exposure" and "Laplacian" work together for Laplacian's very low values.

Branch : laeexpos

jacques

[2020-11-01 07:32] Thanatomanic commented on #5975
@Lawrence37 FWIW I could also not reproduce on my machine.

[2020-11-01 07:36] Thanatomanic commented on #5974
I can confirm that the lightness changes unexpectedly. Though, I don't see the strange patterns.

[2020-11-01 10:06] philmoz commented on #5552
A workaround that fixes the slow UI on my iMac Pro is the change the display color profile to sRGB (Display Preferences, Colour tab, Display profile).

Interestingly the recent Lightroom 10.0 update has the same issue, and this is a fix posted on the Adobe forums.

[2020-11-01 22:51] woutgg opened #5976 "Dimensions for some Fuji raw files incorrect"
Every once in a while I encounter a raw file (from a Fuji X-T30) which RawTherapee treats as if it is very wide or tall. The embedded preview looks fine, but as soon as I open the image for editing and a preview is computed, the dimensions 'change' along one axis (never both so far); this only happens occasionally, at most around 1% of the images.

The screenshot below shows what has happened to t

[2020-11-02 03:04] Barugon opened #5977 "Making adjustments borks Pop profile"
If I select one of the Pop profiles and then make adjustments, it looks like it messes up the settings in CIECAM02.

Here is the photo loaded (default profile is Neutral).
![Screenshot from 2020-11-01 19-00-07](https://user-images.githubusercontent.com/16503728/97825855-b4cc3d00-1c74-11eb-8d19-94138e7dc64c.png)

Here I select the Pop 3 Skin profile.
![Screenshot from 2020-11-01 19-00-29](https://u

[2020-11-02 03:08] Barugon commented on #5977
This was built a couple days ago using the build-rawtherapee script.

[2020-11-02 06:12] Thanatomanic commented on #5976
@woutgg Thank you for reporting, but this issue has already been fixed in the current development build. See https://github.com/Beep6581/RawTherapee/issues/5709
You might want to try a recent nightly build if decoding is essential for your workflow at the moment: https://github.com/Beep6581/RawTherapee/releases/tag/nightly

[2020-11-02 06:12] #5976 closed, assigned to nobody

[2020-11-02 09:48] heckflosse commented on #5977
@Barugon

You bumbed by +1.05

[2020-11-02 10:35] woutgg commented on #5976
Thanky you, that is good news! And apologies for my duplicate report then, somehow I must have missed that issue while I was searching.

[2020-11-02 11:30] heckflosse commented on #5977
I confirm a bug

neutral + pop1
![grafik](https://user-images.githubusercontent.com/13733487/97863224-edb4f200-1d06-11eb-933a-b8685fec25c5.png)

disabled ciecam02
![grafik](https://user-images.githubusercontent.com/13733487/97863249-f73e5a00-1d06-11eb-9091-87f23cba86a5.png)

enabled ciecam02 again. Should look the same as the first screenshot
![grafik](https://user-images.githubusercontent.com/137

[2020-11-02 13:23] Desmis commented on #5974
I have push a fix - branch localguiblur

I did this (only for inverse)  by updating the variables through the GUI, resetting other instances than the current one to their default values

jacques

[2020-11-02 20:10] reffort opened #5978 "Preprocess White Balance tool sometimes disappears"
Using dev-5.8-2629 10/30 AppImage:  After working with a JPEG file in the editor, and then switching to a raw file, the Preprocess White Balance tool no longer appears in the Raw tab (see attached screen capture).  If RT is shut down and restarted, Preprocess White Balance reappears.

![nowbpp-1](https://user-images.githubusercontent.com/13387711/97914045-dda40f00-1d14-11eb-8b33-4367503ee664.png)

[2020-11-02 23:54] #5978 closed, assigned to rom9

[2020-11-02 23:58] rom9 commented on #5978
Ooops... :-D
Thanks! Nice catch, this was pretty bad. It should be fixed now in `dev`.

[2020-11-04 06:07] Lawrence37 commented on #5975
I narrowed down the problem to this part. `data_tmp` gets filled with `nan`s in some cases. Any ideas why this can happen?
https://github.com/Beep6581/RawTherapee/blob/444027fcf969f840d331af96215c622420951fa9/rtengine/iplocallab.cc#L3990-L3993

[2020-11-04 10:13] Floessie commented on #5943
Okay. If noone objects, I'll raise the [glibmm requirements](https://github.com/Beep6581/RawTherapee/blob/dev/CMakeLists.txt#L459) to [2.48](https://github.com/GNOME/glibmm/commit/f6e46c68fd2b7289964e6e0d446b11658187b68d).

[2020-11-04 11:27] Desmis commented on #5975
@Thanatomanic  Thank you :)
@Lawrence37

I never found 'nan', but I expect it can ...
The I add a process to change data_tmp with datain (of couse if isnan)

Commit e3123b

data_tmp are datas generates by Laplacian
Very difficult to find...when all works fine :)

Jacques

[2020-11-05 02:29] reffort commented on #5978
Works great! Thanks!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, November 2, 2020 5:58 PM, rom9 <notifications@github.com> wrote:

[2020-11-05 17:38] arturoisilvia opened #5980 "Local Adjustments: Disable Spot does not work with the Excluding Spot method"
Hello!,
I have a black background:
![Captura1_cr](https://user-images.githubusercontent.com/55624244/98275960-91b3cd00-1f95-11eb-83d8-88ed13f2a1cf.JPG)

I want to exclude the flower:
![Captura2_cr](https://user-images.githubusercontent.com/55624244/98275984-9bd5cb80-1f95-11eb-9809-1e69c27f5e85.jpg)

But if I disable Spot, the background does not turn black. Should not?:
![Captura3_cr](https://user

[2020-11-06 09:41] Thanatomanic commented on #4094
@Desmis Since the number of PR's and new additions to the functionalities of Local Adjustments keep coming at a steady pace, could you please give an update on your plans? What new things would you still like to implement or improve?
Or, put differently, what is the status of all the things mentioned in the original post of this issue? Can we close and start a new list?

[2020-11-06 09:48] Desmis commented on #4094
@Thanatomanic
After this Pull-Request on "log encoding",  for me, except for bugs or bad behavior (PR #5981), it's over.
There is still the work started by Ingo on denoise, but it has been postponed to 6.0

:)

jacques

[2020-11-06 09:50] Thanatomanic commented on #4094
Thank you for the update! It's good to hear that the end is near, that brings the 5.9 release a good deal closer 😄

[2020-11-06 10:14] Desmis commented on #5980
@arturoisilvia

Fixed in PR https://github.com/Beep6581/RawTherapee/pull/5981

jacques

[2020-11-06 13:13] arturoisilvia commented on #5980
Ok, thanks.

[2020-11-06 13:13] #5980 closed, assigned to nobody

[2020-11-06 14:10] heckflosse commented on #4094
@Desmis @Thanatomanic

As soon as Jacques' work is completed I will continue work on dehaze_blend branch to add dehaze blend also to the local adjustments. I just waited with that to avoid merge conflicts with Jacques' open pull requests.

[2020-11-06 15:28] Desmis commented on #4094
@heckflosse @Thanatomanic

I will merge the 2 PR "Local adjustments" tomorrow...
1) the second is only GUI problems
2) the first is an improvment of Log_encoding...with main GUI, a little of Ciecam, and mask... but no revolution...just more easy to use...

Jacques

[2020-11-06 18:06] lrq3000 commented on #4094
@Desmis Thank you very much for your amazing work and inspiring dedication, that's an incredible achievement! Do you have a donation page? I would like to modestly retribute you for your work :-)

[2020-11-07 01:07] Lawrence37 commented on #5975
Removing the nans certainly makes the results look better, but the preview may not match the output in some cases.

Maybe something is different with my build?
PP3: [amsterdam.pef.pp3.txt](https://github.com/Beep6581/RawTherapee/files/5504092/amsterdam.pef.pp3.txt)
FFTW version: 3.3.8
AboutThisBuild:
[code]

[2020-11-07 07:32] Desmis commented on #5975
@Lawrence37

The good news...is that we are in the good way :)  Thanks to @Thanatomanic

The bad news, I don't know why !!!

But, I see I put probably a bad data in case of "nan"...I change to zero... to test :)

commit bceed0d1b  - branch 'laeexpos'

Jacques

[2020-11-07 07:57] Desmis commented on #4094
@lrq3000

Thank you very much for these compliments :)

I do this to distract myself (I'm retired...and no longer very young...) and in no way to gain anything, except the pleasure of a product that works and satisfies the users.

if you wish to make a donation to Rawtherapee, I don't know how to do it !

Thank you again

Jacques

[2020-11-07 07:58] Desmis commented on #4094
@heckflosse  @Thanatomanic

The 2 PR are now merge :)

Thank you

Jacques

[2020-11-07 08:50] Thanatomanic commented on #4094
I guess that means that this roadmap is currently ended and we can close this issue. Thank you @Desmis !

[2020-11-07 08:50] #4094 closed, assigned to nobody

[2020-11-07 13:35] sdonath opened #5982 "Lens correction applied twice?"
When I open the attached orf file in RawTherapee, the image looks slightly distorted. When I manually disable Lensfun, the distortion goes away and the image looks very much like the in-camera jpg.
So, is the lens correction applied twice? Maybe once from the information of the raw image and once from Lensfun?

Attached are the raw image, in-camera jpg, RawTherapee jpgs with Lensfun on and off:
ht

[2020-11-07 14:20] ff2000 commented on #5982
When I align the drawn bottom line to the corner of the window I see distortion in the OOC jpeg.
Doing so with the lensfun corrected image that distortion goes away.

Note that you are using a Panasonic lens on  an olympus camera. I don't know the exact date but up to some point panasonic was shipping the lens correction data with the camera firmware. Which meant that with every new lens every cam

[2020-11-07 14:24] ff2000 opened #5983 "Add tooltips to lensfun combo boxes"
The name of lenses (and some camera) can be quite long, they are often truncated in the combobox.
One has to make the side panel larger in order to reveal the full name.

I suggest to add a tooltip that shows the full name.

[2020-11-07 21:45] Beep6581 commented on #5909
Closing as duplicate of #5951

[2020-11-07 21:45] #5909 closed, assigned to nobody

[2020-11-07 22:36] Beep6581 commented on #5909
@Thanatomanic I diff'd Adobe DNG Converter 13.0 against 12.2 and confirm that 13.0 ships no DCP. Seems they just use the matrix. I also found no known aliases for the DC-S5.

[2020-11-07 23:49] Beep6581 opened #5984 "Review rtdata/languages/default"
All translations must wait for a review of [`rtdata/languages/default`](https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/languages/default).

[2020-11-07 23:50] Beep6581 commented on #5963
Thank you @syyrmb

I fixed some trailing whitespace and a broken line (MEDIAN_TYPE_TOOLTIP).

I also deleted the untranslated strings pending a review of `default`. Wait with further translation until `default` has been reviewed, else some translations might be wrong or lost. You will know when the review is complete by keeping an eye on issue #5984.

[2020-11-07 23:50] #5963 closed, assigned to Beep6581

[2020-11-08 00:03] Lawrence37 commented on #5975
I think I found the problem. `dE` can become negative due to rounding error. This patch fixes the issue for me.
[code]

[2020-11-08 00:26] Beep6581 commented on #5982
Highly unlikely, as this would show in other cases.

Furthermore, comparing an image I saved with Profiled Lens Correction disabled compared to one with that enabled, the one with it enabled looks slightly better, not worse. I applied neutral, then auto levels, then perspective correction, and finally PLC. Compared using a grid in Inkscape.

![screenshot_20201108_012230](https://user-images.github

[2020-11-08 00:26] #5982 closed, assigned to nobody

[2020-11-08 00:33] Beep6581 commented on #5977
Confirmed in e94b981ec, regression.

[2020-11-08 07:42] Desmis commented on #5975
@Lawrence37

Thank you very much to have found this curious behavior  :)

I tested this change on several images, no differences... But if it solves the bug, it's fine :)

I push this change to dev

Thank you again

Jacques

[2020-11-08 09:33] Barugon commented on #5909
@Beep6581
Please see my comments [here](https://github.com/Beep6581/RawTherapee/commit/63001c41a338f5e78adee0e8a21b3af52be2626c).

[2020-11-08 12:12] #5972 closed, assigned to nobody

[2020-11-08 14:34] Beep6581 commented on #5951
Reopened due to wrong temp/tint when testing 63001c4. Check illuminant order and matrices.

[2020-11-08 18:08] Barugon opened #5986 "Lumix"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2020-11-08 18:08] #5986 closed, assigned to nobody

[2020-11-08 18:14] Barugon opened #5987 "Panasonic Lumix DC-S5: color temperature and tint are incorrect"
The color temperature and tint are way off. This is the raw file as initially loading with Neutral as the default profile.

![Screenshot from 2020-11-08 01-18-58](https://user-images.githubusercontent.com/16503728/98461405-ae503080-2160-11eb-8a6c-9592ad7ec113.jpg)

Here's what happens if I set the white balance to daylight:

![Screenshot from 2020-11-08 01-29-28](https://user-images.githubusercont

[2020-11-08 19:34] Barugon commented on #5987
Version: 5.8-2645-g9963d1f52
Branch: dev
Commit: 9963d1f52
Commit date: 2020-11-08
Compiler: cc 10.2.1
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: release
Build flags:  -std=c++11 -march=native -Werror=unused-label -Werror=delete-incomplete -fno-math-errno -Wall -Wuninitialized -Wcast-qual -Wno-deprecated-declarations -Wno-unused-result -Wunused-

[2020-11-08 19:53] Lawrence37 commented on #5975
I'm glad the issue is fixed without differences in output on your end. Thanks!

[2020-11-08 19:53] #5975 closed, assigned to nobody

[2020-11-08 20:08] Lawrence37 commented on #5974
I can confirm that the GUI changes work, but I found another way to reproduce the issue. Gaussian blur, radius set, inverse mode, chrominance only:
![image](https://user-images.githubusercontent.com/45837045/98483133-d1a7c980-21ba-11eb-8240-6e5ca09da37b.png)

Sometimes, the image gets darker, sometimes I see the pattern, and sometimes it looks like the screenshot above.

[2020-11-09 06:42] okwes opened #5988 "Denoise does not work properly on Fuji x-trans raw files"
Denoise does not work properly on Fuji x-trans files at least from the x-t3 and causes colors to be oddly desaturated and mixed often yielding in unusable results. This does not occur if denoise is applied to the exported image only when working with the raw.

### Step to produce
1. Enable noise reduction on xtrans file, this issue occurs regardless of any prior edits to the photo and will occur i

[2020-11-09 08:33] Desmis commented on #5974
@Lawrence37

Thank you for testing :)

In fact 2 bugs...very old
1) the one you mentionned
2) another where blur (and all functions Blur, Guided Filter..) chroma was desabled ....

The pull-request solve (I hope)
https://github.com/Beep6581/RawTherapee/pull/5989

Thank you again

Jacques

[2020-11-09 12:44] Krijger commented on #5922
@Thanatomanic I already provided files for Canon EOS R to @Beep6581 in #5317 (although this information may be too late to be useful now)

[2020-11-09 18:53] Lawrence37 commented on #5974
@Desmis
The fix works, but there is a side-effect when FFT is used.
![image](https://user-images.githubusercontent.com/45837045/98583663-94564100-2279-11eb-9a76-33d2aa49f7fb.png)

[2020-11-09 19:14] rebio opened #5990 "Windows 10: RT can not be pinned to the start menu and is not found in search results"
Version: 5.8; Branch: releases; System: Windows, Windows 10; Bit depth: 64 bits

----
**1)**
I can not pin RT to the start menu in Windows 10 with _right click_ + _pin to startmenu_ . I also can not drag&drop the application from the install folder into the start menu.

**2)**
When I search for RT in the start menu search RT is not displayed unless you tipe "rawtherapee". So eg. just "raw" will no

[2020-11-09 19:26] rebio opened #5991 "Enhancement: Add 'copy information' button to version screen"
Right now I have to manually copy this information:

Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\

[2020-11-09 19:34] Desmis commented on #5974
@Lawrence37

Thank you for testing :)

I just merge the pull-request

I cannot reproduce.....

I use your histry message...to ty to reproduce :)

On your image , you don't use FFT...(standard mode)

Good night

Thank you again :)

Jacques

[2020-11-09 19:38] rebio opened #5992 "Hide/Show panel shortcuts don't work"
`I` should toggle the left panel
`Shift + I` should toggle the top panel
`Alt + I` should toggle the right panel

The only thing that happens when either of the shortcuts is pressed is that the image information is toggled.

Happens on Win7 and Win10.

Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Wind

[2020-11-09 20:10] Lawrence37 commented on #5974
The tooltip for the radius says FFT is used when radius > 30. The problem occurs when radius > 30 or when FFT is forced on in advanced mode. In some (random?) cases, everything works perfectly.

[2020-11-10 00:32] Lawrence37 commented on #5992
The shortcuts are shown in lowercase, so the letter is `l`, not `I`.

[2020-11-10 07:12] ChasingShadows commented on #5990
I'm on Windows 10 as well. When I search for RT I just search for "ra" and it is found. And I have it pinned as well.

[2020-11-10 07:49] Desmis commented on #5974
@Lawrence37

Yes I know :+1:
But I  thought you might have left the advanced mode, and it might be a problem resetting variables.

I think, It is not due to FFT, because, now I can reproduce, even when I disabled FFT code...
This happens only in inverse mode... Curious...the code is the same...And It's random...

Thnak you again for testing

Jacques

[2020-11-10 08:17] Thanatomanic commented on #5992
The RawPedia page showed uppercase L's as shortcuts, but they are lowercase l's. I've just updated that.

[2020-11-10 08:17] #5992 closed, assigned to nobody

[2020-11-10 08:25] Thanatomanic commented on #5990
![image](https://user-images.githubusercontent.com/6567747/98648038-08eeb580-2336-11eb-93ce-f824b06f74d5.png)
I can also not reproduce.

There is an option during installation to create a Start Menu entry. If ticked, this creates a shortcut. It also shows up as a 'Recently added'. There is nothing else to do, sorry.

![image](https://user-images.githubusercontent.com/6567747/98648482-a4802600-2336

[2020-11-10 08:25] #5990 closed, assigned to nobody

[2020-11-10 08:26] Thanatomanic commented on #5984
Duplicate of https://github.com/Beep6581/RawTherapee/issues/5664. Closing that issue because it is much older.

[2020-11-10 08:33] Thanatomanic commented on #5947
I don't know what is special about the `bin` folder, but this is such an edge case that I don't think it's worthwhile to fix.
(Aside: this is the first time I have seen someone on Windows wanting to use Unix folder names to install applications... )

[2020-11-10 08:33] #5947 closed, assigned to nobody

[2020-11-10 08:44] Desmis commented on #5974
@Lawrence37

I think, I have found the bug...
It's not, FFTW
It's not Blur
It's not Guided Filter...

It's only (old) bad code in "InverseBlurNoise_Local", the function call to use deltaE and transition...

I push the change

Jacques

[2020-11-10 10:25] heckflosse commented on #5977
I will bisect...

[2020-11-10 14:33] heckflosse commented on #5977
It's this commit 27c4c546ef31a455539a72cc1dd5dcd91fce25b6 which causes the issue.
@Desmis Jacques, any idea?

[2020-11-10 14:48] heckflosse commented on #5977
I guess I know how to fix it...

[2020-11-10 15:05] Desmis commented on #5977
@heckflosse
The commit only work on GUI and does not change, algorithm or code....
If you want all the tools (as before) select "advanced"

In "standard " all settings "advanced" are set to default values....It's the same approach with wavelet levels, and with Local adjustments

jacques

[2020-11-10 15:15] heckflosse commented on #5977
@Desmis Jacques, the problem is, that in old .pp3 files there is no `complex` key. In this case we have to set `expert`.
I'm just trying that for `colorappearance`. Perhaps we have to do that as well for wavelets. Local adjustments need no change as there we do not need to be backwards compatible

[2020-11-10 15:26] #5977 closed, assigned to heckflosse

[2020-11-10 16:08] Desmis commented on #5977
@heckflosse

Yes we must do for wavelet...
I push a change now :)

Jacques

[2020-11-10 16:35] heckflosse commented on #5977
@Desmis Jacques, thank you for fixing it in wavelet :+1:

[2020-11-10 17:58] Lawrence37 commented on #5974
Works perfectly now. Thanks Jacques!

[2020-11-10 17:58] #5974 closed, assigned to nobody

[2020-11-10 18:04] Desmis commented on #5974
@Lawrence37

A good news :+1:

Thank you

Jacques

[2020-11-10 18:45] Barugon commented on #5977
This is working for me now. Thanks.

[2020-11-11 04:14] ff2000 commented on #5992
But that's how everywhere shortcuts are listed.
If Shift is involved it is printed explicitly, like "Alt + Shift + L".
I think that imight be because the labels printed on the keyboard are all uppercase and it might confuse users if shortcuts are listed lowercase.

Edit:
Just for reference:
https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly
https://www.gimpusers.

[2020-11-11 05:20] Thanatomanic commented on #5992
~~I must admit that I didn't check, but at least I saw a mix of upper and lowercase mentions. So that means things may be inconsistent. I'll run through them asap and homogenize where necessary. Thanks for the notification!~~

Edit: it's early morning, sorry my post didn't make sense.

[2020-11-11 05:26] Thanatomanic commented on #5992
@ff2000 Actually, if you look at the list on RawPedia you see that all shortcuts are listed with lowercase indicators not uppercase. So whatever other software does, we apparently chose for lowercase. And the capital L for the panels was the exception that I fixed.

[2020-11-12 07:16] ghost opened #5993 "(RT development) Haze removal: Luminance only option is gone?"
**QUESTION**

I just noticed that the _Luminance only_ option is no longer available in the *Haze removal* module.

Is there a specific reason for this? I looked, but am not able to find anything.

I'm still a relatively new rawtherapee user, but I have used it already in my edits.

Maybe this is relevant:

* RawTherapee : version 5.8-2658-gaa0a7e473
* OS               : Linux (kernel 5.8.10-1)
*

[2020-11-12 07:17] #5943 closed, assigned to nobody

[2020-11-12 07:25] Floessie commented on #5993
@jade-nl See #5972.

HTH,
Flössie

[2020-11-12 07:36] ghost commented on #5993
Ah, that explains it! Thanks.

And it also establishes that I'm not getting senile: I thought I noticed a bit less saturation when I used it.... Good job for as far as I can tell.

My search-foo does need some work I guess.....

Anyway, closing this one.

[2020-11-12 07:36] #5993 closed, assigned to nobody

[2020-11-13 05:55] ff2000 commented on #5988
NR desaturating the image is not limited to xtrans files.
Here an example from my Panasonic G81:
![Screenshot_20201113_075152](https://user-images.githubusercontent.com/1973708/99034245-688ed000-2585-11eb-835a-1f0f38bf8c63.jpg)
AFAIR this was discussed already in the past, but I can't find it ATM.
There was a solution proposed with a GMIC filter.

[2020-11-13 14:43] okwes commented on #5988
Thanks, hmmm that's interesting that it desaturates so much for all the raw files. The way I tested it to make sure it was my camera was to export a the image and then apply the noise reduction after and compare it to when applied to the raw. I guess this was wrong as I assumed applying it to the jpeg or whatever would be the same the other raw formats instead instead the inverse is true.

![out](

[2020-11-14 09:41] ChasingShadows commented on #5987
I think the Panasonic DC-S5 is not yet supported. In other words you need to follow the description for getting support for new cameras at http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles

[2020-11-14 11:05] Barugon commented on #5987
@ChasingShadows
https://github.com/Beep6581/RawTherapee/commit/63001c41a338f5e78adee0e8a21b3af52be2626c

[2020-11-14 13:13] ChasingShadows commented on #5987
The ticket #5951 mentioned by the above commit has been reopened because of errors in tint and color temperature...

[2020-11-14 13:19] ghost opened #5994 "Development version: Problems using queue -> segmentation fault."
After editing [this image](https://discuss.pixls.us/t/playraw-foggy-woods/21297) posted on pixls.us I put it in the queue and activated it. This results in a segmentation fault. Restarting doesn't help, it keeps seg-faulting.

No other messages in the terminal besides: Segmentation fault

pp3 for the above: [foggy.woods.cr2.pp3.zip](https://github.com/Beep6581/RawTherapee/files/5540739/foggy.woods

[2020-11-14 14:02] heckflosse commented on #5994
Can not reproduce the crash with
[code]

RT searches for a flat non overexposed area to calculate the contrast threshold. If it finds none, it will set the contrast threshold to zero.

[2020-11-14 14:47] ghost commented on #5994
I just rebuild RT with build type  *debug* instead of *relwithdebinfo* and running the process queue while replying to you.

This takes very, very long....

* Starting time RawTherapee is decent but noticeably slower.
* Loading the image in question takes very long. About 30-45 seconds per individual edit action. Total load time for this image: about 5 1/2 minutes
* The process queue has been runn

[2020-11-14 15:00] heckflosse commented on #5994
Do you export your jpeg to the same folder as your raw resides?

[2020-11-14 15:06] Thanatomanic commented on #5994
FWIF I cannot reproduce on Windows and the resulting JPEG looks fine, also when exported to the same folder.

[2020-11-14 15:13] ghost commented on #5994
@heckflosse : Yes, in the same directory, as I almost always do. I did remove the previous generated jpegs when I retested this with the different build types.

@Thanatomanic : You're on a *relwithdebinfo* build? That's the only build type that triggers the seg-fault, the other 2 work fine (not counting the terminal messages).

[2020-11-14 15:16] heckflosse commented on #5994
@jade-nl Then the premature end messages occur because RT has opened this folder and periodically scans it for new files. If a file is not written completly, you will get this message in terminal

[2020-11-14 15:19] ghost commented on #5994
OK, thanks for clearing that up and that makes it a non-issue in relation to the relwithdebinfo thingy.

[2020-11-14 17:34] Floessie commented on #5994
@jade-nl Since you're on Debian and self-compiling, would you mind to run RT in GDB? [RawPedia](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_backtraces) has a nice HOWTO to get you started. This will give you debugging super-powers and will eventually help us to trace down the bug.

HTH,
Flössie

[2020-11-14 18:44] Thanatomanic commented on #5994
@jade-nl Yes, I also tried with a relwithdebinfo build and it runs and exports normally and without any suspicious delays or console messages. Similarly, running through gdb gives no seg fault.
Edit: so I'm inclined to say this is either a Linux specific thing, or related to using LTO.

[2020-11-14 18:45] ghost commented on #5994
@Floessie - Find the log file from gdb at the bottom. But first this piece of info that might also help:

I rebuild RawTherapee with *relwithdebinfo* and could initially not reproduce the seg-fault. I remembered also setting WITH_PROF back to the default (OFF). If I turn that one back ON, it generates a seg-fault.

So: relwithdebinfo + WITH_PROF=ON -> seg-fault. Haven't found another combo that se

[2020-11-15 11:21] SoupyGit commented on #5123
Channel mixer applying only to luminosity - I would LOVE to see this also.
My explanation of it is this: In Black and White module you can select method: 'channel mixer', with an R,G and B slider to adjust. It would be great if you could blend this so it effects only luminosity (I am not totally sure on the difference between luma, luminance and luminosity - so take this to mean - so it effects br

[2020-11-16 08:42] Floessie commented on #5994
@jade-nl Of all things, the backtrace of thread 288 is missing in your log. :slightly_frowning_face:

[2020-11-16 10:09] ghost commented on #5994
Mmmm....

OK. Just to make sure that it isn't something on my end of things.

- Forced a clean clone (we're still on 5.8-2660-gf7f527d95),
- Rebuild with -DCMAKE_BUILD_TYPE="relwithdebinfo" and *-DWITH_PROF="ON"*,
- Ran RT using gdb as described on RawPedia,
- Lot of stuff in the gbd environment, last message being *Segmentation fault*

Here's the resulting log file: [rt.segfault.log.txt](https://

[2020-11-16 10:12] Thanatomanic commented on #5994
Hmm `gdb` shouldn't just die on you... Not sure what is going on.

[2020-11-16 10:51] Floessie commented on #5994
@jade-nl That's strange indeed. My first thought was the OOM killer, but with 32GB that's unlikely unless GDB is tricked into a recursion.

[2020-11-16 11:22] ghost commented on #5994
I moved the *set xyz* parts before running rawtherapee, did a little digging and it seems that the default *max-value-size* is too small (65535) for this debug session, set it to unlimited with *set max-value-size unlimited*. Still no cigar, though. gdb still quits/dies.

Serious question: How important is this seg-fault issue?

You do need a specific combo to trigger it and I'm not even sure if *

[2020-11-16 13:01] Floessie commented on #5994
Tested on Debian Testing AMD64: Takes some time but no crash.

[2020-11-16 13:44] Floessie commented on #5994
Tested on Debian Buster AMD64: No crash.

[2020-11-16 14:12] ghost commented on #5994
@Floessie / @Thanatomanic :

I suggest to let this be for the moment seen from your side of things. This looks more and more to be a fringe case that might even be a local problem on my side of things. However strange though that it only happens with this one specific image combined with one specific combo of build options.

I'll do some more tests on my side, including setting up my laptop and gi

[2020-11-16 16:38] Thanatomanic commented on #5994
Hi @jade-nl, this one will certainly be hard to pin down. I just compiled RT with LTO in a virtual machine with Linux Mint 20 and had no trouble exporting the image.

[2020-11-16 16:39] Thanatomanic commented on #5994
fwiw

Branch: dev
Commit: f7f527d95
Commit date: 2020-11-12
Compiler: cc 9.3.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags:  -std=c++11 -march=native -Werror=unused-label -Werror=delete-incomplete -fno-math-errno -flto -Wall -Wun>
Link flags:  -march=native -flto
OpenMP support: ON
MMAP support: ON
Build OS: Linux 5.4.0-53-gen

[2020-11-16 17:02] ghost commented on #5994
@Thanatomanic :

I see you build with *Release*, which won't trigger the seg-fault, and not *relwithdebinfo*.

I'm going to assume that the other info about the platform is what you want to show.

Your compiler is newer (9.3 vs 8.3), my kernel is newer (5.8 vs 5.4). There is the gtk issue: I'm on 3.24.5 which is known to cause problems in certain cases (drop down menu related only if I'm not mista

[2020-11-16 17:56] Thanatomanic commented on #5994
@jade-nl You're right, I forgot about the relwithdebinfo thing again 😄
In any case, also that build does not crash for me:

Branch: dev
Commit: f7f527d95
Commit date: 2020-11-12
Compiler: cc 9.3.0
Processor: x86_64
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: relwithdebinfo
Build flags:  -std=c++11 -march=native -Werror=unused-label -Werror=delete-incomplete -fno-m

[2020-11-16 19:41] ghost commented on #5994
Had to know more, so spend time on this now instead of later....

Just spend the last hour or so building RT on my laptop (4 cores, 4Gb LOL) and I am not able to reproduce it on that machine.

The hardware is different, it's an old MacBook Pro. But the software is roughly the same: a fully up-to-date Debian (10.6 / Buster). Only big difference is I'm not running any backported stuff on the laptop.

[2020-11-16 19:41] #5994 closed, assigned to nobody

[2020-11-19 09:42] Chadt54 opened #5998 "Output Resolution Problem"
Is it possible for you to guarantee the image output resolution is exactly equal to the input resolution?

I find it odd that when I process a 6000x4000 pixel image, the output becomes 6016x4014, but I would like it to stay exactly 6000x4000.

Thank you!

[2020-11-19 09:54] Thanatomanic commented on #5998
This is most likely not a bug.

If the output is 6016×4014 pixels, the input is also 6016×4014 pixels, unless you've enabled Resize and allow Upscaling. RawTherapee usually uses more of the available raw data to process your image, whereas other software or your camera itself may crop a little off from the full sensor resolution to alleviate edge artifacts.

See here: http://rawpedia.rawtherapee.c

[2020-11-19 09:54] #5998 closed, assigned to nobody

[2020-11-19 10:02] radumitrescu opened #5999 "RT-git loses sidecars and all edits"
This has already happened several times.

I would process and image today, shut down my computer, return to RT tomorrow and all edits are gone. No sidecar file to be found. Photo is restored to original/neutral state.

I haven’t found a way to reproduce it, but it has happened about four times in the last couple of days.

`Linux manjaro 5.9.8-2-MANJARO #1 SMP PREEMPT Wed Nov 18 06:38:03 UTC 2020 x

[2020-11-19 10:04] Thanatomanic commented on #5999
Thank you for posting it here 🙂

How do you store your images? Local disk, NAS, ..?
Are you certain you have write permissions to the folder where your images are located?

[2020-11-19 10:23] Chadt54 commented on #5998
Here's my image details, I see 6000x4000 shown in multiple places, that's why I was confused. Although, looking closer, I do see something resembling borders, but the values are a little confusing. The Demosaicing Border does affect the output resolution as you say, but wouldn't it be more intuitive for users if you used the 6000x4000 values instead of what's currently being used? Or, have a setti

[2020-11-19 10:33] Thanatomanic commented on #5998
The philosophy is that we want to squeeze as much as possible out of a raw file, so if there are pixels we don't _need_ to crop, we don't. If you look in your file, you'll see the sensor is bigger than 6000×4000 pixels: SensorWidth 6096, SensorHeight 4056. There are probably some rows or columns that are unused (black or bogus data) and need to be discarded. This happens a lot, see our [`camconst.

[2020-11-19 10:37] Chadt54 commented on #5998
Ok, I see. Thank you for explaining everything

[2020-11-19 13:24] radumitrescu commented on #5999
I store my images on the internal HDD of my laptop. And yes I am sure I have write permissions. This only happens to some images, while most others dont exhibit this behaviour.

[2020-11-20 07:07] ff2000 commented on #5999
Another strange issue with pp3 not being saved, maybe related:
https://github.com/Beep6581/RawTherapee/issues/5940
It's about Polish characters in the path.
I assume your system is localized with Romanian. So maybe you see this issue come up when storing to paths containing special Romanian characters?

[2020-11-20 07:10] radumitrescu commented on #5999
My system display language is English, and only my keyboard layout is Romanian.

However, all my paths and filenames are English, containing no special characters.

[2020-11-20 07:17] ff2000 commented on #5940
Could you try explicitly using different backends for the gio file access?
 https://www.commandlinux.com/man-page/man7/gvfs.7.html
-> ENVIRONMENT
e.g. run in a terminal
[code]
same with "local", perhaps it makes a difference...

[2020-11-20 07:22] ff2000 commented on #5999
Hm,, OK.
Could you try out if using a different GIO_VFS backend helps?
https://github.com/Beep6581/RawTherapee/issues/5940#issuecomment-730956190

[2020-11-20 16:13] RichardRegal opened #6000 "Nightly Dev Builds for Windows not being updated."
https://github.com/Beep6581/RawTherapee/releases/tag/nightly is not updating the Windows builds again.

[2020-11-20 16:25] Thanatomanic commented on #6000
Ping @aferrero2707

[2020-11-21 04:38] Stuntflyer opened #6001 "Difficulties using the "L" equalizer curve in the Color Toning module"
Running RawTherapee_dev_5.8-2652-g1bd22668f_20201109 on Windows 10 Pro build 20H2

Example when using the Color toning module-Color correction regions-Mask-Lightness equalizer-creating the mask with equalizer curve.

The double sided arrow (for extending the curve sideways) seen when hovering over the curve spot is often seen, but difficult to activate using a wired mouse. The arrow is difficult t

[2020-11-21 13:09] rom9 opened #6002 "Automated macOS build failure"
It seems that the automated macOS build action is consistently failing (on any branch) since Nov 16, with this error in the _Configure build system_ phase:
[code]
By looking at the _Install dependencies_ phase logs, i suspect this might be related to a version conflict between `sigc++` versions:

[code]
... then, a few lines below ...
[code]

so, it looks like libsigc++-2 gets removed and replaced

[2020-11-21 14:20] dustinkerstein opened #6003 "Raspberry Pi HQ Camera RAW Support"
It'd be great to see RawTherapee support the new Raspberry Pi HQ camera's hybrid JPEG/RAW format. For the first time Raspberry included an interchangeable C/CS mount, and the Sony IMX477 is a significant step-up compared to their previous cameras. RawTherapee already does a great job with the converted DNG from [PyDNG](https://github.com/schoolpost/PyDNG) - which converts the RAW embedded in the s

[2020-11-21 17:52] aferrero2707 commented on #6000
@Thanatomanic @RichardRegal there is an issue with package signatures that I need to investigate. I will let you know when I manage to solve it.

[2020-11-21 20:37] RichardRegal commented on #6000
@aferrero2707 Thanks.

[2020-11-22 06:22] #6002 closed, assigned to nobody

[2020-11-22 16:17] zflat commented on #5943
@Floessie any advice on how to compile on 16.04 now? Here is the package that I have available:

[code]

The docs (https://rawpedia.rawtherapee.com/Linux#Ubuntu_16.04_LTS) do not have any information about getting the correct  version. Does 16.04 support need to be dropped? Should that be updated in the docs?

[2020-11-22 19:38] Thanatomanic commented on #5943
The changes made by this PR https://github.com/Beep6581/RawTherapee/pull/5878 means that the newest version of RawTherapee you can compile and run on Ubuntu 16.04 LTS is now 5.8.
There is no safe development build in between that you can compile, so there will be a few issues that you will only be able to fix when you update your distro.

[2020-11-22 20:04] Floessie commented on #5943
@zflat Yes, sorry, this means you have to update your distro. With at least one of my installations I'm in the same boat, as Debian Jessie is no longer maintained. So I'll upgrade or reinstall during the winter holidays, that's life. :neutral_face:

[2020-11-22 20:34] Thanatomanic commented on #5943
@zflat The documentation has been updated to reflect the new situation.

[2020-11-23 01:18] ExpeditionsInSound opened #6005 "Mac Big Sur Crash on Export"
--- Raw Therapy Version Info:
Version: 5.8
Branch: 5.8
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: clang 11.0.0.11000033
Processor: generic x86
System: Apple

--- 13inch Intel MacBook Pro Version Info:
macOS Big Sur VERSION 11.0.1
2.3 GHZ QUAD-CORE INTEL CORE I7
Memory 32 GB 3772 MHz LPDDR4X

Description of issue:
Upon out processing in either the queue or immediate with save button the pr

[2020-11-23 18:28] #5779 closed, assigned to nobody

[2020-11-24 15:10] KLHN opened #6006 "Exported image does not have edits"
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\ -Wall\ -Wuninitialized\ -Wcast-qual\ -Wno-deprecated-

[2020-11-24 15:13] Thanatomanic commented on #6006
@KLHN Thanks for also reporting here. I already mentioned this on Pixls, but you should be comparing at 100% zoom level. The Wavelet tool only gives accurate previews in that situation (as indicated by the '1:1' icon in the module title).

[2020-11-24 15:18] KLHN commented on #3633
did this never get solved? I just posted a new bug report. now i am reading this from 3 years ago...

[2020-11-24 16:34] KLHN commented on #6006
Ok well the issue appears to resolve when i run the development version of RT. 5.5-2652-g1bd22668f

Happy to upload a 1:1 using the standard "stable release" if the issue needs to be further investigated with better examples.

Will repost if it happens again on DV

[2020-11-24 16:34] #6006 closed, assigned to nobody

[2020-11-24 18:18] ghost opened #6007 "Feature Request: Ability to turn the tooltips ON/OFF"
A way to turn on/off the tooltips would be rather nice to have.

First of all: I do really like the tooltips, but... At the moment it is too much of a good thing, to be honest, and gets in the way of the more important stuff (sliders, info, etc).

Although I'm not a developer and don't know the technical implications I see 2 ways this could be implemented:

1. Using the preferences menu
2. Via a k

[2020-11-24 20:12] ghost opened #6008 "Local Adjustments: Inconsistency in Preview ΔE"
The majority of the tools do not need any special action to make sure that the preview is shown when activating it. Clicking on the *Preview ΔE* will immediately show the preview. This is not the case for the following tools:

* Softlight & Original Retinex
* Dehaze & Retinex

You need to increase these tools' *strength* setting by one step to get the preview to actually show up.

I'm not sure if

[2020-11-25 14:02] Desmis commented on #6008
@jade-nl

Thank you for testing :)

Retinex is strongly complex...and when I associated with Dehaze, this poses problems, not with algorithms, but precisely when you want to associate visualization functions. For example,  what seems simple, but is not, is previewdE.

PreviewdE was at origine, in each function "mask and modifications"..We ask me, to put outside, in "settings".. I understand perfec

[2020-11-25 15:26] ghost commented on #6008
@Desmis

Just pulled and rebuild RT.

-Fixed-
* The *Dehaze & Retinex* is satisfactory fixed for my taste. I already had a stab at the *Mask and modifications* option with the other tools. Just rechecked and that works nicely when one wants to use Retinex and see the Preview ΔE masking.

-Still Open-
* This leaves the similar *Softlight & Original Retinex* issue, which I assume is in the same real

[2020-11-25 15:49] Desmis commented on #6008
@jade-nl
I had forgotten "Soft Light and Original Retinex" ... probably the age ... Here no problem to solve this problem

I just push a commit

Just a remark, "Retinex Original"  here is completely different from "Retinex with Dehaze"...even if the goal is sometimes the same...adapt the image to the perception of our eyes and our brain

Thank you
Jacques

[2020-11-25 16:37] ghost commented on #6008
Pulled, rebuild and checked: All fixed.

Thanks for the speedy fix!

[2020-11-25 16:37] #6008 closed, assigned to nobody

[2020-11-27 17:38] RichardRegal commented on #6000
@aferrero2707 Any News?

[2020-11-28 12:05] irthomasthomas opened #6010 "Where is code for detail window?"
Hi,

I wanted to play with the code and create an option to have the detail window always open. As this is my first time dealing with the rt source code, I was hoping someone could point me in the right direction and tell me where to find the code for the detail window and gui elements?

Cheers

[2020-11-28 12:53] heckflosse commented on #6010
@irthomasthomas
it's inside this file. Search for `decorated`. That's the detail window part
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/cropwindow.cc

[2020-11-28 15:44] TechXavAL commented on #5970
I've just tried again with latest commit, and the odd behaviour is still there.

As it is now, the changes in the _look_ of an image are dramatic enough that it almost renders this module useless to me, or I'm forced to start from this module straight away, and then try to get what I wish from the picture with other tools (even trying to undo what this module has done, much like I was used to do i

[2020-11-28 17:40] xade93 opened #6011 "ui components way too big to be normally used, and is not alterable"
Version: 1:5.8-1
OS: Arch Linux Rolling Release
Reproduce: Just open the application.
![Screenshot from 2020-11-29 01-35-52](https://user-images.githubusercontent.com/24752033/100522092-40d57400-31e3-11eb-8388-5bcb5e88eaa6.png)
The problem, as you may see in the photo, is that the size of icons and ui components become way too big to be used normally. I searched the preference, I have "Pseudo Hi-D

[2020-11-28 17:44] Thanatomanic commented on #6011
I noticed this recently too for a fresh installation. If you go to Preferences and reduce the font size to 9 it should look much better.

[2020-11-28 17:57] xade93 commented on #6011
thanks, that worked like a charm. I shall try it before posting an issue.

However, just by the way, it would be so much better if the user can scale the thumbnail browser in File Browser, like by Ctrl+Wheel or some slidebar xD

thanks for the help!

[2020-11-28 17:57] #6011 closed, assigned to nobody

[2020-11-29 23:27] #5984 closed, assigned to Beep6581

[2020-11-30 07:58] Desmis commented on #5970
I did a review of the "ipwavelet" code, especially the denoise part. When expander "denoise" is enabled and no denoise slider (luminance or chrominance) is different from zero, then never denoise functions are called

[2020-11-30 08:53] TechXavAL commented on #5970
I can't say what's happening, only what I see.

You can check with this Playraw image: https://discuss.pixls.us/t/playraw-foggy-woods/21297 (the raw image is there to download)

Here is my pp3 before wavelet denoise & refine module is enabled:
[IMG_2621.CR2_no_wavdenoise.pp3.zip](https://github.com/Beep6581/RawTherapee/files/5614706/IMG_2621.CR2_no_wavdenoise.pp3.zip)

And this is my pp3, this tim

[2020-11-30 09:24] Desmis commented on #5970
The answer may seem trivial, but it is the consequence of what I was asked....

==> If "denoise" is enabled to use 7 levels of decomposition (I was even asked for 8...)

In your case, the difference is due when you "enable" denoise to change from 6 to 7 levels of decomposition

[2020-11-30 15:38] TechXavAL commented on #5970
Ok, so after your answer I've made some new (different) tests and I think I know now what is happening: there is indeed a change (pretty dramatic sometimes) upon turning on denoise&refine with default values (just by turning on the module) and it's caused by the module forcing the setting *Wavelet levels* to be set at 7, no matter your initial choice. Of course the denoise&refine module is not ava

[2020-11-30 15:55] Desmis commented on #5970
I'm not saying it's impossible to solve, but it's very difficult, because you're acting on 2 different processes simultaneously (wavelet levels  and denoise in FTblockdn use also by "denoise main" and "Local adjustments".

 I was asked, and it took a lot of work, to be able to use denoise with levels 7 (and 8)....But now you ask me something else that is not easily compatible. I think, at least fo

[2020-11-30 16:13] Jollr opened #6012 ".IIQ Phase One photo is opened as purple garbled lines"
Rawtherapee version information:
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\ -Wall\ -Wuninitializ

[2020-11-30 16:57] heckflosse commented on #6012
Confirmed. Seems to be a new encoding.
Windows photo viewer btw. most likely shows you the small embedded jpeg (which the inspect tab of RT also is able to do)

[2020-12-01 14:35] dustinkerstein commented on #6003
I managed to get ahold of Pi v1.3 and v2.1 cameras and have created the white framesets with the Pi's hybrid JPEG/RAW files - [V1andV2.zip](https://github.com/Beep6581/RawTherapee/files/5623214/V1andV2.zip)

 Let me know if you need anything else. Thanks!

[2020-12-01 16:52] gaaned92 commented on #6000
@RichardRegal In the meantime until @aferrero2707 can solve the issue, you can find W10 Rawtherapee nightly builds here https://keybase.pub/gaaned92/RTW64NightlyBuilds/

Be aware to choose an architecture compatible with your processor
generic for all processors (the less optimized), skylake for skylake intel processors and above, znvver2 for ryzen2 processors and icelake for recent intel microarc

[2020-12-01 19:17] #5838 closed, assigned to nobody

[2020-12-01 19:17] dimk1 commented on #5838
Latest AppImage solves the issue.

[2020-12-01 19:55] RichardRegal commented on #6000
@gaaned92 Thanks. Given that I have a Xeon E3 1245 v3 the generic is the one I went for.

[2020-12-01 19:59] aferrero2707 commented on #6000
I'm on it, but look harder than I initially thought...

[2020-12-01 20:31] dimk1 opened #6013 "RAF images from X-S10 appear massively cropped"
Hello,

some info on my setup:

**Camera**
The new X-S10 by Fujifilm. I think it is not included yet in Lensfun.

**RawTherapee**
[code]

**System/OS**
[code]

**Reproduction**
1. Open the sample file [here](https://drive.google.com/file/d/1-ZvFh6qt4w3OCzBEIu2qWm-89NYBmrBV/view?usp=drivesdk) with the RT version shown above
2. Check that the image appears massively cropped (in fact only a small til

[2020-12-01 20:33] Thanatomanic commented on #6013
@dimk1 Can you post a corresponding in-camera JPEG for reference?
This probably has nothing to do with lensfun, but more likely with the actual raw decoding.

[2020-12-01 20:50] dimk1 commented on #6013
Sure, see [here](https://gofile.io/d/qu6829). Thanks

[2020-12-02 01:50] Yz2house opened #6014 "Update Japanese for GUI"
Update Japanese (new and modified strings).  Rgds
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/5626465/Japanese.txt)

[2020-12-02 17:02] dimk1 commented on #6013
Hi there, any updates on that?

[2020-12-02 17:12] Thanatomanic commented on #6013
Within 24 hours? Not likely. This is something @heckflosse needs to take a look at if he has the time.

[2020-12-03 14:14] gaaned92 commented on #6000
Given that I have a Xeon E3 1245 v3 has a Haswell architecture. Did you try the skylake build?
Going to build a haswell build. Done
you can download RawTherapee_dev_5.8-2669-g548f2103e_W64_haswell_201203.7z

[2020-12-03 15:10] RichardRegal commented on #6000
@gaaned92 I didn’t bother trying the Skylake as the generic works well enough. I was not asking for a special build, but I do appreciate your having made one.

[2020-12-03 15:59] heckflosse commented on #6013
@Thanatomanic Not much time atm. Maybe you can help out by porting this from ART
https://bitbucket.org/agriggio/art/commits/1a4cdaffe72bbc8b02351198102728c54809f625

[2020-12-03 16:25] gaaned92 commented on #6000
It's just a matter of optimization. The specific builds can optimize further with the use of additional instruction sets.
Though there is provision for that in RT I never made benchmark.

[2020-12-03 16:42] heckflosse commented on #6000
native builds for my CPU (AMD FX8350) are roughly 10% faster than generic builds

[2020-12-03 18:57] michaelezra commented on #6000
Which build would be most suitable for Sandy Bridge E i7 3930K CPU?

[2020-12-03 20:33] dimk1 commented on #6013
ART has the same problem as RT. I changed the compression algorithm in the camera and tried uncompressed RAW and compressed RAW (the example I submitted firstly was with Lossless RAW). The uncompressed RAW is processed as expected by RT, the compressed shows up like a completely black image.

[2020-12-03 21:14] gaaned92 commented on #6000
Sandy bridge is still older than haswell.  The best is to try the skylake build, if it fails the haswell build then the generic build.
It's not a pain to build for specific architecture, but I fear to multiply the builds as it will become difficult to manage.
generic build is based on a X86-64 architecture which includes no instruction extension. Perhaps I should replace generic build by a Sandy b

[2020-12-03 21:19] michaelezra commented on #6000
that would be great:)!!!

[2020-12-03 21:22] heckflosse commented on #6000
@michaelezra Hi Michael, great to see you posting here :+1: Hope you're well.

As in past (when you compiled RT yourself), it's still no miracle to build RT on windows ;-) Making a native build will give you the best performance.

Ingo

[2020-12-04 02:20] michaelezra commented on #6000
Hi Ingo!:) thank you, hope you are well as well.

What a great team we have here, miss you guys. Sorry I could not contribute for the past few years.
I should try to make the native build, that's a great idea:)

Michael

[2020-12-04 15:44] constg64 opened #6015 "RawTherapee crash after uncecking "Black-and-White" - occasionally"
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: cc 9.2.1
Processor: generic
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -fPIC -Wdate-time -D_FORTIFY_SOURCE=2 -std=c++11  -Werror=unused-label -Werror=delete-incomplete -Wall -Wuninitialized -Wcast-

[2020-12-05 11:09] heckflosse opened #6016 "Little-CMS fast-float plugin"
Little-CMS has a new fast-float plugin which speeds up transforms.

To use it, you have to build Little-CMS from scratch, which is easy:

[code]

I will create a branch for using it.

A first test saving a 45.6 Mp file full size to jpeg using RTv4_sRGB as output profile gave this:
[code]

[2020-12-05 11:15] Thanatomanic commented on #6016
I'll close https://github.com/Beep6581/RawTherapee/issues/5794 since this is already more descriptive. I assume there is no loss in fidelity when using fast-float?

[2020-12-05 11:15] #5794 closed, assigned to nobody

[2020-12-05 11:47] heckflosse commented on #6016
See this comment.

https://github.com/mm2/Little-CMS/commit/e2b6e7e06520123a9821f0381877dfe94cefb2e5#commitcomment-44770007

[2020-12-05 12:27] heckflosse commented on #6016
I created the `lcms2-fast-float-plugin` branch and added a commit which allows testing on saving files.

To compare before/after, just comment out line 379 in main.cc

[2020-12-05 15:27] jparsert commented on #3206
Any new info on this?

[2020-12-05 17:28] michaelezra commented on #5879
Just for reference, on Windows 10x64 I have issue with wacom intuos 3 tablet, that the left-click event is not detected as finished, unless I either right-click or move wacom pen away from the surface. This is occurring only in RT (in Photoshop i get a normal operation of the wacom pen).

[2020-12-06 12:05] TechXavAL commented on #6016
I've tried to test it, with no luck.

I'm working on a Linux Mint 20. And following @heckflosse directions:
* I have compiled lcms2 with:

  I added _sudo_ at the configure part just in case... Everything seemed to go well (no errors)
* I have compiled after that the _rawtherapee-lcms2-fast-float-plugin_ branch (no errors)
* when launching RT from the command line I get:

What am I doing wrong?

[2020-12-06 12:20] heckflosse commented on #6016
@TechXavAL Thanks for reporting :+1:

On windows it builds and runs just fine. Maybe @Floessie can help for the linux builds.

[2020-12-06 12:57] heckflosse commented on #6016
I just made a test processing 20 files of size 12Mp in queue. Settings were neutral + raw ca-correction 2 iterations + rcd demosaic + capture sharpening. Output profile RTv4_sRGB. Output format jpeg.

Without fast-float plugin: 76 seconds
With fast-float plugin: 53 seconds

[2020-12-06 13:40] aferrero2707 commented on #6000
@gaaned92 @heckflosse @Beep6581 I have managed to fix the issues with the automated windows builds, but I am now forced to compile RT with lensfun 3.95 and upgrade the database version from 1 to 2.

Could you remind me what is the appropriate install location for the lensfun DB in the windows case?

[2020-12-06 17:40] Thanatomanic commented on #6000
Doesn't the change to lensfun 3.95 completely break profiled lens detection?

After installation my lensfun directory resides in `C:\Program Files\RawTherapee\5.8\share\lensfun\` which contains up to date xml files. That has a `version_1` folder as well, but that seem to contain very old files (2015).

[2020-12-06 17:48] aferrero2707 commented on #6000
I can still use 0.3.2, but in that case I need to compile it from sources in order to run the `lensfun-update-data` script. Not a big issue if needed...

[2020-12-06 18:55] gaaned92 commented on #6000
I use -DLENSFUNDBDIR=./share/lensfun to put the DB in that location.
I build myself  lensfun. I am now at master_v0.3.95-633-g3baedcb7
I have a version 2 and I don't think something is broken but perhaps some testing should be done.

v0.3.2 is so old that I think it's time to upgrade.

[2020-12-06 19:56] Beep6581 commented on #6000
Hi @aferrero2707 , I don't know, the distro I'm currently using (Sabayon) only ships 0.3.2 from November 2015, which uses DB version 1.
https://github.com/lensfun/lensfun/tags

[2020-12-06 20:00] aferrero2707 commented on #6000
Ok, so I think that the takeaway message is that it is still wiser to stick to 0.3.2, and run some tests to see if DB version 2 works fine.

I might try to provide an appimage with lensfun 0.3.95, if that could help...

[2020-12-06 20:05] Beep6581 commented on #6016
For reference: this plugin is not available in any release yet, it will probably be included in LCMS-2.12.

[2020-12-06 20:28] heckflosse commented on #6016
Do we need it to be in a release to try it? I dont think so...

[2020-12-07 08:39] Floessie commented on #6016
@TechXavAL You're right, it doesn't work out of the box on Linux because library paths are cached. Although CMake includes `/usr/local` before `/usr` and builds and links just fine, `ldd` confirms that `liblcms2.so` is still taken from `/usr/lib`. So after installing LCMS with `sudo make install`, run `sudo ldconfig` to refresh the loader cache.

I wouldn't do that.

Best,
Flössie

[2020-12-07 14:55] TechXavAL opened #6018 "New option to access both system wide and custom ICC profiles"
Here I start a discussion about the convenience of adding a new option in Preferences, to have access to both system wide ICC profiles and custom ICC profiles (in a custom folder), at the same time.

Following out of topic posts in [this _discuss_ thread (from point 4 of that post onwards)](https://discuss.pixls.us/t/adding-custom-working-profiles/18022/126) where it is stated:

Well, I will start

[2020-12-07 15:32] heckflosse commented on #6016
I next step we need a cache for the transformations to avoid the ~100 ms penalty when executing `cmsCreateTransform` using the fast-float plugin. In full-size processing the penalty does not really matter, but when using fast-float plugin for monitor profile, we would get this penalty for every thumb...

[2020-12-07 16:14] ChasingShadows commented on #6018
I think that is a good idea. However, in the folder option you should have the opportunity to have a comma separated list of several folders. That way you can add folders from other applications which also do not pollute the system folder.

[2020-12-07 17:46] TechXavAL commented on #6016
@Floessie , @heckflosse

I haven't recompiled and installed lcms2, as I understand it was done correctly.

No I have executed `sudo ldconfig` and after that I have performed a clean compilation of the branch (I deleted both the source-code and compilation folders). Now RT runs without a hiccup.

These are my times for 100 raw files (14,5 MB each), with several tools applied, exported as TIFF 16bit

[2020-12-07 17:59] heckflosse commented on #6016
@TechXavAL

exec transform took around 120-135ms

What are this times without the fast-float plugin?

[2020-12-07 18:01] heckflosse commented on #6016
@TechXavAL In my first commit, the improvement was only for queue/saveas processing, not for rawtherapee-cli...

[2020-12-07 18:11] heckflosse commented on #6016
@TechXavAL What was your output size?

[2020-12-07 19:51] HansRos51 opened #6019 "Canon EOS 90D"
Canon EOS 90D firmware v1.1.1
raw file (cr3) not recognised by rawtherapee 5.8

workaround: convert to DNG

[2020-12-07 19:54] Thanatomanic commented on #6019
Hello @HansRos51, can you provide a sample file so we can test this in the current development builds? The 90D pictures usually load fine.

[2020-12-07 19:55] Thanatomanic commented on #6019
Also, is this a recent firmware update? Did the images prior to this firmware version load correctly?

[2020-12-07 19:57] HansRos51 commented on #6019
Purchased the camera last week. 3Dec2020

[2020-12-07 20:04] HansRos51 commented on #6019
The file is about 30mb
https://drive.google.com/file/d/1-1R1Dqhe90icm5EDaOSFEuLl3O2eXVUC/view?usp=sharing

[2020-12-07 20:10] HansRos51 commented on #6019
Firmware v1,1.1 released 31Oct2019

[2020-12-07 20:13] Thanatomanic commented on #6019
There is really no problem opening your file, so your initial report was either unnecessary or imprecise, sorry. The lack of metadata support (Exif) is well-known and will hopefully be fixed in the near future https://github.com/Beep6581/RawTherapee/issues/5319, however it depends on support in a third-party library. See here for more details: https://github.com/Exiv2/exiv2/issues/1229

Edit: In t

[2020-12-07 20:13] #6019 closed, assigned to nobody

[2020-12-07 20:24] HansRos51 commented on #6019
Thx

Imprecise.
CR3 dont show up in the file browser, only but dng, jpg do

![eos90d](https://user-images.githubusercontent.com/75640221/101401713-634e4800-38db-11eb-9be7-c64b3cace2ea.PNG)

[2020-12-07 20:24] TechXavAL commented on #6016
Sorry. I can't figure out how to get those values launching my dev compilation from shell. I get demosaicing, rgb and ca values, but nothing else.

My tests have been always from GUI.

You mean the size of the tiffs? 97,0 MB. And 1,6 MB for the jpegs

Edit: ooops! I have just remebered that I have to comment one line and recompile...
I'm going to do that ASAP

[2020-12-07 20:29] Thanatomanic commented on #6019
@HansRos51 I see, please check your preferences and add CR3 to the extension list to have them show up. Happy editing!

![image](https://user-images.githubusercontent.com/6567747/101401863-3a29b980-38d3-11eb-8d1e-0bb12c2a56d8.png)

[2020-12-07 20:35] HansRos51 commented on #6019
t1e6

[2020-12-07 20:45] heckflosse commented on #6016
I'm going to do that ASAP

:+1:

[2020-12-07 22:47] TechXavAL commented on #6016
@heckflosse

Line 379 in main.cc is an empty line...

Could you copy/paste the text present in the line that has to be commented, please?

[2020-12-08 07:23] Thanatomanic opened #6020 "Ciecam02 vectorized / non-vectorized code mixup?"
@Desmis  After looking into your Ciecam02 code, I noticed this:
https://github.com/Beep6581/RawTherapee/blob/548f2103e2c84352b21fabb69e2f8e2ecfff0e55/rtengine/improcfun.cc#L1034-L1084
Are you sure this is doing the correct thing? First I see vectorized SSE code, but within the same `ifdef` block I also see non-vectorized code.

[2020-12-08 07:31] Desmis commented on #6020
@Thanatomanic

This part of code (with SSE) is not mine, but from @heckflosse
And I think, it's very old...
jacques

[2020-12-08 08:46] heckflosse commented on #6016
It's line 1038 in iccstore.cc now

[code]

[2020-12-08 08:47] heckflosse commented on #6020
That's for the remaining pixels (k < width - 3) of the sse code

[2020-12-08 08:56] Thanatomanic commented on #6020
@heckflosse Thanks, my worry was unfounded 😄

[2020-12-08 08:56] #6020 closed, assigned to nobody

[2020-12-08 11:32] TechXavAL commented on #6016
Checked.

Overal time 9:38 (a bit slower)
_create transform_ 0ms
_exec transform_ 585-645ms

So as I see it: the change of _create_ and _exec_ timings give and improvement of around 45secs for 100 images. And the most interesting thing is that with current dev the process is faster than with this branch without the plugin...

I keep thinking that my compilations and lcms2 install are faulty someho

[2020-12-08 11:40] heckflosse commented on #6016
@TechXavAL
Can you check again by commenting out line 33 of iccstore.h instead of line 1038 of iccstore.cc ?
That should give the same times as dev.

For final version also the create transform will be cached, which will give a further speedup.

[2020-12-08 11:46] TechXavAL commented on #6016
:+1:

Ok. But I can't understand why the improvement I see here are not as good as yours. I know your machine is better than mine, but still: your times are around 7x faster, but mine are just 1.08x faster. The CPU difference doesn't explain this.

Let's wait until I perform the last check

[2020-12-08 11:52] heckflosse commented on #6016
They are not 7 times faster when measuring a full processing:

With fast-float plugin: 53 seconds

When comparing full processing we need to use the same pp3 file.

That's the reason I want to know the times for create transform and especially exec transform.

[2020-12-08 15:42] aferrero2707 commented on #6000
@RichardRegal @gaaned92 a new Win64 automated build is finally available again! Could you please give it a try and let me know if there are issues?

Thanks!

[2020-12-08 18:51] TechXavAL commented on #6016
Test done.

Same timings and overall time is 9:34.

I have rechecked the same batch with RTdev and it has taken 9:13 to finish. But I don't have the timings of the transforms.

[2020-12-08 19:10] RichardRegal commented on #6000
@aferrero2707 Downloaded and working for me. Thanks.

[2020-12-08 20:40] ff2000 opened #6021 "Editor area produces gamma errors when scaling"
This issue dates back a while. I have an image that I spent quite some time editing until I was finally happy. Most of the editing took place in GIMP, Raws however were exported with RawTherapee.
The issue is that whenever I watched it in gwenview I thought it looks bad, way too dark. Went back to gimp, lightened it up, exported, little better, but not happy when viewing it next time.
Today I was

[2020-12-09 00:24] #5988 closed, assigned to nobody

[2020-12-09 10:37] ff2000 commented on #6021
I took the "gamma_2_2.jpg" from http://www.ericbrasseur.org/gamma.html?i=1 and opened it in RT and darktable, then scaled the view to 50%, also exported 50% scaled down versions.
Gimp is the only software that got the scaling correctly.
![scaling_50](https://user-images.githubusercontent.com/1973708/101618669-f641cc00-3a1a-11eb-949a-26a270f35c55.jpg)
I think this demonstrates the issue better than

[2020-12-09 13:18] heckflosse commented on #6021
I confirm the issue. I will try resizing (in first step only for export) on linear data.

[2020-12-09 14:00] heckflosse commented on #6016
@TechXavAL
On my machine dev and this branch without the fast float plugin have identical processing times. I just measured dev on 20 files as above and it took 76 seconds (as above measured on this branch without fast-float plugin)

[2020-12-09 17:05] TechXavAL commented on #6016
Well, it must be something in my OS.

The only thing I can think of to solve this is perform a clean OS install and then recheck everything, but I don't have an empty drive at hand, and the one I'm waiting for will arrive in about 2 weeks...

I could create a new, clean virtual system, but I don't think the timings would be useful in such case.

And just for information, this is the make part of m

[2020-12-09 18:57] heckflosse commented on #6016
I don't think so, but atm I have no idea what causes it...

[2020-12-09 23:35] #2343 closed

[2020-12-09 23:38] Beep6581 commented on #6021
We dealt with resizing gamma issues before, see issues #981 #2270

[2020-12-10 06:56] gaaned92 commented on #6000
@aferrero2707  It's working ok. Thanks

[2020-12-11 16:07] RichardRegal commented on #6000
@aferrero2707 Last night’s update didn’t I’m afraid.

[2020-12-12 08:28] gaaned92 commented on #6000
Here, last update RawTherapee_dev_5.8-2672-g37f406627_20201212 works.
@RichardRegal could you be more specific about the issue?

[2020-12-12 10:03] arturoisilvia commented on #6000
win64.zip works fine for me:
RawTherapee_dev_5.8-2672-g37f406627_20201212_win64.zip

[2020-12-12 18:18] dimk1 commented on #6013
May I suggest to look at the same solution as with my previous bug on X-T30 [here](https://discuss.pixls.us/t/raf-files-from-xt-30-are-cropped-to-a-small-tile/17511)? It should be the same issue. The change should be in
`
 rtengine/dcraw.cc`

shown in bold below

[code]

[2020-12-12 23:38] dimk1 commented on #6013
I did 2 things:

1. I downloaded the source code, did the change in the file I mentioned (rtengine/dcraw.cc) above and re-compiled.
2. I downloaded the source code for the lensfun, added the X-S10 in the file [here](https://github.com/lensfun/lensfun/blob/master/data/db/mil-fujifilm.xml) and re-compiled, namely:
[code]

Now the photos are not cropped and RT finds the new X-S10 entry from the lensf

[2020-12-13 02:00] afr-e commented on #6000
Latest works for me too

[2020-12-13 02:06] afr-e opened #6022 "Color Appearance & Lighting: auto check boxes"
![image](https://user-images.githubusercontent.com/42004791/102001201-45a72700-3cbd-11eb-8b80-3c45d2a96a56.png) on Windows 10. When ![image](https://user-images.githubusercontent.com/42004791/102001225-79824c80-3cbd-11eb-9230-7a1901bbc33a.png) is selected in ![image](https://user-images.githubusercontent.com/42004791/102001242-b0586280-3cbd-11eb-90f0-98d6158c592f.png), not all of the auto check bo

[2020-12-13 07:08] Desmis commented on #6022
@afr-e

Effectively, the "auto check box" - "Temperature viewing conditions" was forgoten .

I just push a change

Thank you very much

Jacques

[2020-12-13 10:58] afr-e commented on #6022
Another bug: changing values using number boxes don't commit unless I choose another object. Pressing enter doesn't change the preview either.

[2020-12-13 15:42] RichardRegal commented on #6000
@aferrero2707 There was a period when 2672 for Linux was on the site but the latest Windows version was still 2671. However that has since been corrected.

[2020-12-13 16:24] #6013 closed, assigned to heckflosse

[2020-12-13 21:01] strogonoff opened #6023 "Running on M1 with Rosetta 2?"
This is just a question—did anyone try running RawTherapee on Apple hardware with M1 CPU?

I’m currently only planning on getting one and want to check which software I’ll be able to continue using.

I understand that a dedicated Apple silicon build is unlikely to happen so soon, so all I’m wondering is if it works under Rosetta 2.

[2020-12-14 10:04] gaaned92 commented on #6000
Perhaps @RichardRegal if it is OK, you can close the issue

[2020-12-14 13:36] RichardRegal commented on #6000
Closing the issue now.

[2020-12-14 13:36] #6000 closed, assigned to aferrero2707

[2020-12-15 18:50] alexkiri opened #6026 "DNG from Huawei P20 Pro CLT-L29 shows f/0.0 0.0s iso0 0.00mm"
- Version details
Version: 5.8
Branch: releases
Commit: 9a9e0acbf
Commit date: 2020-02-04
Compiler: x86_64-w64-mingw32-gcc\ 8.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.24.2
Lensfun: V0.3.2.0
Build type: Release
Build flags: -mwin32\ -m64\ -mthreads\ -msse2\ -std=c++11\ -mtune=generic\ -Werror=unused-label\ -Werror=delete-incomplete\ -Wall\ -Wuninitialized\ -Wcast-qual

[2020-12-16 08:11] Desmis commented on #6022
@afr-e
This second bug is an internal GUI problem, which I don't know how to deal with at all   :)

jacques

[2020-12-16 08:24] Thanatomanic commented on #6022
@afr-e The first part of your remark is something that is not unique to the CIECAM tool: manually typed values only commit after pressing enter or changing focus. I think that's expected behavior (but you might disagree on the usefulness).

The second part is strange and seems specific to CIECAM. @Desmis Jacques, I think you might not trigger the preview update properly somehow... Maybe @Floessie

[2020-12-16 10:02] Desmis commented on #6022
All is possible...but this behavior must not have changed since 2012...because all this part of the code is unchanged...
But if someone shows me what to do, then why not

[2020-12-16 22:35] mokko commented on #4462
Does libraw provide alternative these days?

[2020-12-17 21:25] afr-e commented on #6022
I am unable to open RT ATM but something is different with the behaviour compared to other places. Maybe it is that in some other places manually typing does change the preview without committing...

[2020-12-17 21:51] heckflosse commented on #6022
afaik there is no adjuster in RT where manually typing values does trigger a preview update without hitting enter or switching to another adjuster (using the tab-key)

[2020-12-18 13:31] innir opened #6028 "Detect CPU features at runtime instead of at compile time"
Hi,

I was stumbling over https://github.com/google/cpu_features and thought it might be a good idea to replace (all) the `#ifdef __CPUFEATURE__`s with runtime checks. This could give a speed boost for users who run pre-compiled versions of rawtherapee on modern CPUs.

I haven't checked out if it's actually feasible but I would if people think it's worth a try.

Best
Philip

[2020-12-18 13:45] heckflosse commented on #6028
That would require a rewrite of all manually vectorized code because currently all the cpu feature detections (some sse4 and some fma features) are done at compile time at instruction level and on x86_64 `__SSE2__` is always defined.
For auto vectorized code this approach would not give a speed boost.
Users who want maximum speed should use a native build (compile it).

[2020-12-18 14:30] innir commented on #6028
Well, from what I understand

[code]

would become something like

[code]

or do I just misunderstand the concept?

And sure, this `sleef` stuff might be a little tricky - so not sure if it's worth it ...

[2020-12-18 15:14] heckflosse commented on #6028
The point is, that for x86_64 builds `__SSE2__` always is defined. Why wasting time for changing code for cpu detection?

[2020-12-18 15:56] innir commented on #6028
True, SSE2 was just an example -  for SSE4, AVX, ... it could actually make a difference. But if you don't like the idea, fine - feel free to close the ticket.

[2020-12-18 16:09] Thanatomanic commented on #6028
It could be useful if we ever need to squeeze out more speed in a more general way, but who would really benefit from that? Apart from the required code to rewrite it would make us depend on another library too, which may not be ideal as well?

[2020-12-18 19:57] heckflosse commented on #6028
@innir

About SSE4: afaik most modern cpus support SSE4. So making pre-compiled SSE4 versions additional to the generic versions would be an option.

About AVX: there it gets complicated. For example on my AMD FX8350 using all cores with AVX code is slower than using all cores with SSE code because the 8-core FX8350 has 8 SSE units (one per core), but only 4 AVX units (one per 2 cores)

[2020-12-20 15:01] TechXavAL opened #6029 "Local Adjustments doesn't update thumbnail"
After successfully applying some Local Adjustments, it appears that the tool doesn't update the miniature in the File Browser, nor in the Filmstrip.

Is that the intended behavior?

This is an example of some Local Adjustments applied to an image (crazy settings so it is clear the difference when no LA tool is applied):

![laon](https://user-images.githubusercontent.com/52250392/102716433-35ee9a80

[2020-12-20 19:57] frgazor commented on #6023
I only did a quick test with some adjustments and export and it works. And despite rosetta it's quite fast.

[2020-12-20 21:55] heckflosse commented on #6023
There are a some algorithms in RT, which make use of SSE code. For these I would expect to perform worse on M1 CPU. But in past, we coded more for compiler auto vectorization. If the compiler does a good job on this, I would expect good performance for M1 CPU. Unfortunately, atm, in my tests clang is much worse than gcc (at least on x86_64). Maybe clang is better on M1... Can't test

[2020-12-22 13:40] niedrogo opened #6030 "Tamron 28-75 2.8 lens is not selected (appears to be the same lens, but with a different name variant)"
I have a Tamron 28-75 F/2.8 Canon lens. RT does not automatically select the lens.

The lens is in the database (I can manually select it), but with slight different name variant.

My lens:
![obraz](https://user-images.githubusercontent.com/50038767/102894165-f900e000-4462-11eb-98c4-4e4270ff39ba.png)

Lens in the database:
![obraz](https://user-images.githubusercontent.com/50038767/102894232-159d1

[2020-12-22 14:11] niedrogo commented on #6030
uploaded the raw file here:
https://filebin.net/4e7nawtsi30ovkf8

[2020-12-23 04:57] syyrmb opened #6031 "New Chinese (Simplified) translation for RT 5.8"
I've made a updated version of Chinese (Simplified) translation based on the file I submitted in #5963.

New translation fixed mistakes, added new translations. Some entries weren't fully translated (line 654 and 990 in Notepad++), but I still decided to remove the "!" in the front. Also, line 511-514, 536-537, 546, 569-570 weren't translated but their exclamation marks were removed (by previous c

[2020-12-23 10:24] reggybe commented on #6030
This happens with several lenses (also from other manufacturers) as there is a difference in naming for some regions. For Europe the exact name for this lens is : "Tamron SP AF 28-75mm f/2.8 XR Di LD Aspherical (IF) Macro (A09NII)". Look at the entry of this lens in the browser of RT for the exaxt naming.

Edit the file slr-tamron.xml in the lensfun database with Notepad++ for this entry  (and mak

[2020-12-23 10:30] niedrogo commented on #6030
thank you for your answer, please tell me where to find that browser of RT -> exif ? I already looked there for specific naming, but did'nt find the lens name, maybe looked not enough

[2020-12-24 13:16] #6031 closed, assigned to nobody

[2020-12-25 02:27] nquantum commented on #5516
I still get yellow artifact from igv although noise is notice less than lmmse. Unfortunately artifact let me no choice to choose immse instead. Uncheck auto-correction, avoid color shift in Chromatic Aberration Correction won't help also.
This is link of raw file:
[https://drive.google.com/file/d/1u00yg2-2ljOzFcCrdfBt3R_b58MdyOSc/view?usp=sharing](url)

![1](https://user-images.githubusercontent.c

[2020-12-25 10:35] heckflosse commented on #5516
With auto-ca-correction unchecked it works fine here
![grafik](https://user-images.githubusercontent.com/13733487/103132516-33f25600-46a5-11eb-82a5-7ddd7885a29d.png)

[2020-12-25 16:43] RichardRegal opened #6033 "Windows Dev Builds not Updating again"
https://github.com/Beep6581/RawTherapee/releases/tag/nightly  has stopped updating the Windows builds again. It is 2 builds behind.
@aferrero2707

[2020-12-25 20:52] reggybe commented on #6030
Sorry for the late answer.
You already mentioned the lens identification in RT. You only have to replace the entry for your lens in the lensfun database in slr-tamron.xml (in Windows in "C:\Program Files\RawTherapee\5.8\share\lensfun\"). Search for 28-75 in that file and replace this entry with "Tamron SP AF 28-75mm f/2.8 XR Di LD Aspherical [IF] Macro". Save it and make a copy somewhere else of t

[2020-12-25 20:54] wilchak opened #6034 "Consistent crash during DCB demosaicing, only affecting one camera"
I have a profile that immediately crashes RT when applied to any raw files from the Nikon D3X. Can't reproduce with raws from any other camera. And it only happens when DCB is used as the demosaicing method.

My debug build crashes at the terminal with this message:

rawtherapee: /home/andrew/code/RawTherapee/rtengine/demosaic_algos.cc:1070: void rtengine::RawImageSource::dcb_hid(float (*)[3], int

[2020-12-26 04:07] AnotherKiwiEater commented on #4464
The issue remains open in v5.8 as IPTC data is not being copied with the "Copy Unchanged" setting.  I have thousands of files that I want to process to address rotation issues, and I can't afford to lose the original IPTC data in updated files.  Since this problem is now over two years old, has anyone investigated or made progress on this in the last year.

[2020-12-26 12:37] niedrogo commented on #6030
Thank you - It worked for me. How to generalize this outcome to all the other users of the lens ? Does lensfun have a multiple name-variants feature to include a list of variants ?

[2020-12-27 04:37] nquantum commented on #5516
Thank you for reply. However mine is not work like that. My system is windows10 64bit. Rawtherapee 5.8 download from rawtherapee web. This is picture before :
![1](https://user-images.githubusercontent.com/18653121/103163986-ef4af400-4837-11eb-8754-d90cb50def2e.jpg)

[2020-12-27 04:38] nquantum commented on #5516
And this is after :
![2](https://user-images.githubusercontent.com/18653121/103163989-fa9e1f80-4837-11eb-946c-f42cf4654b24.jpg)

[2020-12-28 17:54] strogonoff commented on #6023
(If it’ll help, I could help running tests on macOS/M1 a bit later in January)

[2020-12-28 18:28] heckflosse commented on #6023
@strogonoff

that would be great, especially native builds would be interesting :+1:

[2020-12-29 03:36] dimonoid opened #6036 "Apple Pro RAW support"
Hello, I just found samples of new raw format.
https://www.reddit.com/r/iphone/comments/jyjtt8/proraw_example_files/
Surprisingly, they are in .DNG format(though might have some extra metadata / AI stuff).
As a comparison with normal DNG, Pro RAW appears 2 times larger per photo.
When I open using rawtherapee, the files look pinkish and with broken debayering.

What are the chances that support of