[2021-03-20 20:45] nomar500 opened #6178 "film negative: add features to spot picker"
Hi everyone,

I suggest two evolutions to the spot picker in the Film Negative tool. Let me know if I should file two separate "Feature Request" cases.

A. Spot size:
- current behaviour: size is fixed (32*32 pixels square?)
- suggested behaviour:
  - size can be set from a drop-down list, just as in the current White Balance pipette tool.
  - spot can be made into an arbitrary rectangle, just as

[2021-03-21 04:43] Lawrence37 commented on #6087
@Desmis Why is the minimum spot size 150x150?

[2021-03-21 05:39] Lawrence37 opened #6179 "Local Adjustments Noise Reduction with narrow preview causes discoloration"
The noise reduction in local adjustments generates colorful pixels when the preview is narrow, about 100 pixels or less. The height does not seem to matter.

**Steps to reproduce**
1. Add spot with Blur/Grain & Denoise.
2. Set Denoise mode to Conservative, Aggressive, or NL Means.
3. Make a narrow preview area e.g. by zooming in or using a detail window.

![image](https://user-images.githubusercon

[2021-03-21 09:02] Desmis commented on #6087
@Lawrence37
it's just an oversight...when focusing. By the way, on the output part "TIF/JPG", there is no such restriction.

I push a change
Thank you
Jacques

[2021-03-21 14:18] Desmis commented on #6179
@Lawrence37

Thank you for testing :)

This is due to the impossibility of decomposing the wavelets in a too small window.
Denoise uses 7 levels of decomposition. The 7th level requires at least 128x128 pixels.
There is no question of changing the denoising algo  (complex)  but to avoid artifacts in preview - if the window is too small, we leave the process. (return)...in

I push a commit branch "

[2021-03-21 18:59] Lawrence37 commented on #6087
FYI the 150x150 also appears here https://github.com/Beep6581/RawTherapee/blob/88a7a7ecc7e739ff8db53fa907b3a474ed7cfb57/rtengine/iplocallab.cc#L10897-L10899 and in the tooltip https://github.com/Beep6581/RawTherapee/blob/88a7a7ecc7e739ff8db53fa907b3a474ed7cfb57/rtdata/languages/default#L2943

[2021-03-21 19:59] Desmis commented on #6087
@Lawrence37

Thank you very much...
I forgot this 2 "things"....probably it's the age :)

jacques

[2021-03-22 00:50] Lawrence37 commented on #6179
I'm curious why it works correctly for small heights. I can see the de-noising action with very short detail windows as long as the width is sufficient.
Is it possible to apply partial noise reduction by skipping the wavelet levels that are too large? This would make the preview at least semi-accurate. I don't know how the algorithm works, so maybe this is an impossible request. If disabling the d

[2021-03-22 05:10] Thanatomanic commented on #5778
Done http://rawpedia.rawtherapee.com/Linux#openSUSE

[2021-03-22 05:10] #5778 closed, assigned to nobody

[2021-03-22 05:13] Thanatomanic commented on #5590
With regards to documentation, please review the contribution of @nomar500 in https://github.com/Beep6581/RawTherapee/discussions/6174

[2021-03-22 06:01] Thanatomanic commented on #5124
Fixed: http://rawpedia.rawtherapee.com/Editor#Processing_Profile_Selector
and http://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles#Partial_Processing_Profiles_and_Fill_Modes

[2021-03-22 06:01] #5124 closed, assigned to Beep6581

[2021-03-22 11:27] MJacal commented on #6176
I can not reproduce this with RawTherapee_dev_5.8-2822-g170df0393_20210320 on Windows 10, RT does not crash, no problems of any kind here.

[2021-03-22 11:50] syyrmb commented on #6176
Thanks for testing. That's pretty weird, then (Maybe it's my computer being weird again). I recorded a video demo, hopefully it can be useful (I blurred some parts due to privacy concerns).
[RT_crash_demo.zip](https://github.com/Beep6581/RawTherapee/files/6181862/RT_crash_demo.zip)

[2021-03-22 12:00] Desmis commented on #6179
Excuse my bad english...

A brief reminder of how wavelets work. here for "local denoise", but also for "local wavelet", "denoise (main)" and "wavelet levels.  Note that a similar problem appeared in the recent development of wavelet levels...where I made essentially the same answer

The decomposition method used is efficient (there is a little better to process levels 0, 1, 2, but the processing

[2021-03-22 13:14] Desmis commented on #6177
We find this behavior also in Wavelet levels  (and without denoise), but is this behavior recent ?

On the other hand it is not found in "LA wavelet".

I tried to find out what could be the cause, after excluding the obvious differences as for example the tiles.

One of the tracks that I think is possible that represents "The" real difference between these wavelets is:
* In Denoise (main), Wavelet

[2021-03-22 13:23] MJacal commented on #6176
Update: I can reproduce it, but only when the test folder, that gets deleted, is empty. In my first attempt I have put a couple of photos into it.

Same behaviour on my Windows 10 laptop with RT 5.8-2461.

[2021-03-22 13:30] heckflosse commented on #6176
I will try to reproduce this...

[2021-03-22 13:34] heckflosse commented on #6176
I created an empty folder at my C: drive `C:\empty`, opened the folder in RawTherapee, switched to Windows explorer, deleted the folder, switched to RawTherapee and got no crash. I must miss something...

[2021-03-22 13:37] heckflosse commented on #6176
@syyrmb Your video shows a freeze, not a crash. Though in my tests I even get no freeze...

[2021-03-22 13:41] syyrmb commented on #6176
Yeah this is not a crash, I'll fix that. If you don't double click on the "empty" folder in RT, then it'll be fine when you delete it.

[2021-03-22 13:47] heckflosse commented on #6176
I double clicked in RT on the non existing (after deletion) empty folder and still no freeze or crash

[2021-03-22 13:50] syyrmb commented on #6176
Sorry for not being clear, the first step is double clicking on the empty folder, then delete it, and finally going back to RT.

[2021-03-22 13:52] heckflosse commented on #6176
That was quite clear and exactly what I did without a crash or freeze. Really strange...

[2021-03-22 13:54] Thanatomanic commented on #6176
I can confirm the freeze...

Edit: for reference (the file is sent to the recycle bin, but the dialog is on my second screen)

https://user-images.githubusercontent.com/6567747/112000949-bfea1180-8b1e-11eb-888d-522e56d00d1e.mp4

[2021-03-22 13:56] syyrmb commented on #6176
Where did you deleted folder go, to the recycle bin or totally deleted? I found that using shift+delete is fine.

[2021-03-22 14:00] heckflosse commented on #6176
@Thanatomanic

Can you nail it with a debug build?

[2021-03-22 14:02] heckflosse commented on #6176
@syyrmb

Good point. I totally deleted in my test...

[2021-03-22 14:09] Thanatomanic commented on #6176
Okay, so far:
1. Confirmed that removing an empty folder that is also open in RT's file browser, freezes the program
2. Confirmed that shift-deleting the empty folder has no problem.
3. Confirmed that removing a non-empty folder does not freeze RT, however...
4. Dubious behavior: removing a non-empty folder removes the folder reference in the "Folders" list, but the actual file browser portion sta

[2021-03-22 14:45] heckflosse commented on #6176
@Thanatomanic

Keep in mind that debugging a frozen program is not straight forward using gdb on msys2. You can not use CTRL-C because then gdb will terminate. You will have to use another msys2 terminal and attach gdb to the process of the frozen RT session. There is an issue somewhere in RT Github, but I didn't find it on the rush...

[2021-03-22 14:48] Thanatomanic opened #6180 "Fujifilm X-E4 raw is cropped too much"
After this mention https://discuss.pixls.us/t/crop-settings-for-fujifilm-x-t4/18457/26 I downloaded a sample RAF for the X-E4 from imaging-resource.com and got these raw crop values: https://github.com/Beep6581/RawTherapee/commit/ca5a9a26de786fa6370000f5e708707d0c62b838
The maximum image size I can get out of the RAF is 6252x4140 pixels.

However, converting the RAF to DNG gives an image with a la

[2021-03-22 15:19] heckflosse commented on #6180
I will have a look

[2021-03-23 07:51] chy9003 opened #6181 "can is supports GPU mode to get faster"
I wonder the normal cpu mode to change the pic to jpeg is too slow to me, so i want to ask it can support gpu mode in the future

[2021-03-23 07:53] Thanatomanic commented on #6181
There is no magic GPU mode. Please see https://github.com/Beep6581/RawTherapee/issues/1678

[2021-03-23 07:53] #6181 closed, assigned to nobody

[2021-03-23 11:46] Desmis commented on #6179
@Lawrence37  @waynesutton50

I added a warning in "LA denoise" when the preview  or detail window are too small (a lot of code...11 files changed)

can you give me your opinion :
1) on this option
2) on the 2 labels

Thank you

Jacques

[2021-03-23 12:50] arturoisilvia opened #6182 "Favorites Tab: rawBayerExposure in X-Trans."
I talk about the Favorites tab.

I have in Favorites, among other things:
....bayerrawexposure;xtransrawexposure;....

When the photo is bayer this appears: CORRECT: (Only rawBayerExposure):
![Favorites-Bayer](https://user-images.githubusercontent.com/55624244/112148552-4ca7d480-8bde-11eb-8e47-d55042049855.JPG)

But when the photo is X-Trans, bayerrawexposure should not be displayed: INCORRECT: (i

[2021-03-23 13:22] waynesutton50 commented on #6179
@Desmis  Jacques, I can only find one label: "Wavelet - sufficient size of preview". I'm not sure what this means exactly so could you send me the French version please?

[2021-03-23 14:00] Desmis commented on #6179
@waynesutton50

To see the label change - 2 cases

* Either you have to reduce the preview window horizontally so that there is almost nothing left...
* or you have to use "Open (new) detail window" in the bar at the bottom of the screen and there, if you zoom in the small window at more than 200% you will see "Wavelet- insufficient size of the preview" appear

My last change concerns Nlmeans whic

[2021-03-23 17:05] Desmis commented on #6179
@Lawrence37  @waynesutton50

In fact, there are 2 solutions, because I don't see what else to add

1) Either I merge the minimum solution, i.e. prevent artifacts and crashes and enrich the documentation

2) Or I merge the current solution with the "label" in addition. This solution complicates a lot the code, from my point of view doesn't bring much, or even is a bit harmful in the sense that it m

[2021-03-23 19:12] Waveluke commented on #6106
I just uploaded samples exposed daylight landscape for the BMPCC 4k to the Raw PXLS sample database, so that there are better samples to work with.  All full resolution, one of each compression level supported.

[2021-03-24 00:52] Lawrence37 commented on #6179
@Desmis thanks for the explanation. I think the first solution is best for now. I imagine it's not common to have a preview smaller than 128. Displaying a warning message is ideal, but I prefer there be a dedicated area for all RawTherapee messages, which is a separate issue. I'm fine with merging the simple solution and closing this.

[2021-03-24 06:39] Desmis commented on #6179
@Lawrence37 @waynesutton50

OK, thank you, I merge the "simple" solution :)

jacques

[2021-03-24 10:05] #6182 closed, assigned to heckflosse

[2021-03-24 22:46] nomar500 commented on #5590
For attention and clarity, should I copy-paste my remarks here?

[2021-03-25 02:15] Queatz opened #6184 "Artifacts with Local Contrast + Resize"
**Short description**
Artifacts appear with Local Contrast + Resize

**Steps to reproduce**
1. Turn on Local Contrast
2. Use the Resize to make the photo smaller
3. Artifacts appear (in saves + flickering in viewport)

Note: I believe using Resize just exaggerates the artifacts.

**Expected behavior**
No artifacts

**Additional information**
- Version of RawTherapee = dev branch local build + the

[2021-03-25 13:46] chaimav commented on #6184
I am unable to duplicate in the Widows build. Can you share an image and a pp3 where it happens?

[2021-03-25 16:58] Queatz commented on #6184
Yes here is that image: [DSCF1703.JPG.zip](https://github.com/Beep6581/RawTherapee/files/6206489/DSCF1703.JPG.zip)

[2021-03-25 17:20] Thanatomanic commented on #6184
@Queatz I also cannot reproduce, not with your pp3, nor by applying it to either a raw file, or a jpeg.

Can you please say a bit more about your machine? And please post the contents of the `AboutThisBuild` file in the build directory.

[2021-03-25 17:35] Queatz commented on #6184
I don't seem to have that file? I only have AboutThisBuild.txt.in.  I built with `build-rawtherapee`.

I did see this in the build log, however:
[code]

I am using Ubuntu 21.04.

Another thing, I don't remember seeing these artifacts using this same AppImage before, it may be possible that updating nvidia drivers or other components aren't playing nicely?

[2021-03-25 17:37] Queatz commented on #6184
Here is the original image if it helps: https://drive.google.com/file/d/1Boghhw_Nc7YHtBHA5pyF46aPX7plAOsz/view?usp=sharing

[2021-03-25 18:54] ixicrom opened #6186 "XMP rating not being read for JPG or RAF"
When creating or updating the rating for images (both RAF and out-of-camera JPG), the exif rating appears in Rawtherapee but the xmp rating is ignored. If there is no exif rating, no rating is shown. The behaviour is the same for all of my own files I have tried, and is the same whether or not it is the first time I have opened the image with Rawtherapee. I also tried opening the example images: h

[2021-03-25 19:08] Thanatomanic commented on #6186
A quick reply: reference for the implementation https://github.com/Beep6581/RawTherapee/pull/5325

[2021-03-25 19:15] Thanatomanic commented on #6184
@Queatz

What I mean is not only your OS, but what kind of CPU you have and amount of RAM. I still cannot reproduce, but since the file comes from a GFX 100 and is 50 megapixels there may be a memory issue.

[2021-03-25 19:54] Queatz commented on #6184
@Thanatomanic I have 32GB RAM with AMD Ryzen 9 5950x 16-core CPU and NVIDIA GeForce RTX 3080.  I definitely have RAM available.

I am also seeing these artifacts in the viewport: https://youtu.be/Uc6lKGnBWaw

[2021-03-27 05:36] #6179 closed, assigned to nobody

[2021-03-28 04:34] kgfly opened #6188 "Please provide install package for Mac M1 (new ARM-based architecture) CPU."
On http://www.rawtherapee.com/downloads/, currently, for mac OS, there is only 64bit install package.

So please provide install package for Mac M1 (new ARM-based architecture) CPU. Thanks.

The new ARM-based architecture CPU is the default CPU on Mac air and macbook pro 13 inch.

Thanks.

[2021-03-29 06:34] Floessie commented on #6184
Tested with the JPG and PP3 provided on Debian Testing AMD64, Ryzen 5 3600, with current `dev` as well as with 871d35c22. Cannot reproduce. :frowning_face:

We are still missing the `AboutThisBuild.txt`. It must be there in the build directory:

[code]

What about `find -name 'AboutThisBuild.txt'`?

HTH,
Flössie

[2021-03-29 08:18] paulmatthijsse commented on #579
Hello, I noticed again a clipping problem with the parametric curve. Set the Shadows slider to +1, drag the right control point under the curve to the right to position +1.00, the middle control point to the left and the curve clips, so the image. Clipping starts with the right point at 0.93. See attachment.

![rt_param_curve_clips](https://user-images.githubusercontent.com/14089212/112807117-d391

[2021-03-29 08:58] dpecka opened #6189 "Store intermediate files in subfolder in /tmp"
Hello,

RT leaves behind in /tmp directory files with 755 permissions, they could eventually fill the drive

-rw-r--r-- 1 dpecka users   35M Mar 23 02:39 DSC_8026-2.tif
-rw-r--r-- 1 dpecka users   74M Dec 23 15:10 20200125_161844.tif
-rw-r--r-- 1 dpecka users   92M Mar 26 12:19 DSC_0566.tif
-rw-r--r-- 1 dpecka users  138M Mar 25 22:58 DSC_0569.tif
-rw-r--r-- 1 dpecka users  138M Mar 26 00:10 DSC_0

[2021-03-29 14:12] ghost commented on #6189
I don't think this is a RawTherapee issue but a Linux (distro specific) issue.

RawTherapee dumps its temporary files in the only sane place it can.

/tmp should be cleaned automatically by the system when (re)booting and most distro will do this either via rcS when using init or  tmp.conf.d when using systemd or some use plain old cron for this.

Then again, if one doesn't reboot every so often (

[2021-03-29 14:45] dpecka commented on #6189
Hello Jade ..

let me kindly disagree .. it's common issue and usually the various software smartly use 0077 umask for those files (like everything else aka firefox, thunderbird, ssh, etc ...) or it stores the files in user's home folder ... this is not the decision of operating system that RT saves temporarily files in /tmp with default user's umaks 0022 :D

regards, dan

ps. look on this, just l

[2021-03-29 15:11] heckflosse commented on #6189
the only file created by RT should be `DSCF3074.tif` Though perhaps we could set less permissions...

[2021-03-29 15:11] ghost commented on #6189
That is what you wrote/complained about and what I addressed.....

About the umaks: It all depends on the program which mask is used. Krita also creates files with a 022 mask. I would be worried if ssh(d), mail or a system related file would do it.

[2021-03-30 04:39] Lawrence37 commented on #6189
I agree the temporary files should have permissions set to 600. Even better to also place them in a sub-directory with 700 permissions.

[2021-03-30 08:59] dpecka commented on #6189
the ultimate resolution would be if RT uses some different directory like for exampe ~/.cache .. another problem is, that RT is leaving those files behind ... simply, if you send a file to external editor, RT creates that and doesn't care anymore .. I think that for this kind of transactions between the RT and external editor is the /tmp filesystem a bad choice ... let's make it somewhere in the u

[2021-03-30 09:08] Thanatomanic commented on #6189
Does anybody maybe have an example of how other software handles these kind of temporary files? I think it should be the job of the software to make sure it cleans up after itself tbh.

[2021-03-30 09:39] ghost commented on #6189
I still believe that /tmp is the correct place to put these files. That is assuming that those files are placed in their own (sub)directory and have limited permissions. This isn't the case at the moment as pointed out above.

Using /tmp will take care of the cleaning automatically and thus it is not to the user to have to search their own home (sub)directory structures for possible leftover files

[2021-03-30 09:41] dpecka commented on #6189
See please my copy-paste from terminal above .. they are often using /tmp with secure permissions (enforced umask 0077) because they expect (as jade-nl noted), that /tmp filesystem is periodically cleaned ...

issue with files left behind is only while opening files in external editor .. it is a good question if RT should forcefully delete a files that it sent to external editor no matter if they

[2021-03-30 09:45] dpecka commented on #6189
I agree ..

sounds good ... other programs who use a /tmp enforce 0077, let's do it same

[2021-03-30 14:16] ghost opened #6191 "Latest development version -> Wavelet levels: Toning section only works if Chroma section is enabled."
**Short description**
It is not possible to use the _Toning_ section (in the _Wavelet levels_ tab) if the Chroma section is disabled.

The docs don't (yet?) mention any links between the Chroma and the Toning section, let alone that one needs to be active in order to use the other.

**Steps to reproduce**
1. Load RAW file (this one makes it rather obvious: [RAW on pixls.us](https://discuss.pixls.u

[2021-03-30 14:33] TechXavAL commented on #6191
Confirmed in RAF files. Not happening in NEF files (everything normal with Nikon files).

Haven't checked with other formats.

[2021-03-30 14:45] ghost commented on #6191
I also tested stable appimage 5.8 and that one is also OK.

This is something that has been introduced between commits 2735 (g8bb06c2) and 2906 (ga6478854e)

@TechXavAL: I can reproduce this with NEFs, ARWs and ORFs as well. I'm assuming that it is global.

[2021-03-30 14:56] Desmis commented on #6191
@jade-nl @TechXavAL

On my dev version (windows) , all works well  :)

Nothing has been done in the code for this part recently... curious ?

But I look at the code, and in some cases Wavelet decomposition "a and b" (color Lab) was not done. I made the correction just now
Commit e98288ab3

Thank you for testing

Jacques

[2021-03-30 15:07] ghost commented on #6191
@Desmis : Fixed!

Thanks for the fast service :smile:

Closing this one.

[2021-03-30 15:07] #6191 closed, assigned to nobody

[2021-03-30 15:09] Desmis commented on #6191
@jade-nl

Do you know "Lucky luck"... faster than his shadow   :)

jacques

[2021-03-30 15:11] ghost commented on #6191
Oh man that brings back memories! I think I read all of them back when.

[2021-03-30 15:26] heckflosse commented on #6191
I'm a fan of Calvin & Hobbes :smile:

https://www.gocomics.com/calvinandhobbes/1987/06/11

[2021-03-31 08:38] jcjgraf opened #6192 "Overwrite Symlink Fails"
**Short description**
When I try to store an image to a symlink (i.e. try to overwrite the symlink) the save operation fails.

**Steps to reproduce**
- Assume the following setup
[code]

- Open `b.jpg` in Rawtherapee (and do some arbitrary edits)
- Save it to `a_sym.jpg`.
- A prompt says that the image already exists and asks if it should be overwritten
- Confirm the overwriting

**Expected behavi

[2021-03-31 14:17] ghost commented on #6192
I'm not able to reproduce what you describe.

No questions are asked to confirm overwriting, instead a new file with a unique numeric identifier added is created. It doesn't matter if the already existing file is a symlink or not.

I started with:

[code]

After dummy edit and saving as /path/to/a_sym I end up with:
[code]

Tried this with stable 5.8 and latest development version (5.8-2907-g1aea9

[2021-03-31 18:52] jcjgraf commented on #6192
You are right, the simlink itself is not the problem. I have discovered that there is a permission problem with my particular setup. I.e. only the symlink is writeable while the file appointed to is not. So everything is fine with RawTherapee. Though, it would be favourable if RawTherapee was replacing the symlink with the new file instead of keeping the symlink and changing the original file. But

[2021-03-31 18:52] #6192 closed, assigned to nobody

[2021-03-31 19:11] ghost commented on #6192
I wasn't aware of ctrl-s, might come in handy.

Thanks.

[2021-03-31 19:26] jcjgraf commented on #6192
Grate that both have gained something from this issue. Thanks again

[2021-04-01 15:29] paulmatthijsse opened #6193 "Parametric curve clips at some positions"
Hello, I noticed again (had been reported in 2015!) a clipping problem with the parametric curve in the exposure section. Set the Shadows slider to +1, drag the right control point under the curve to the right to position +1.00, the middle control point somewhere to the left and the curve clips, so the image. Clipping starts with the right point at 0.93. See attachment.

![rt_param_curve_clips](ht

[2021-04-01 17:41] arturoisilvia commented on #6193
@paulmatthijsse
In 2015 and also here: https://github.com/Beep6581/RawTherapee/issues/5859
Greetings.

[2021-04-01 20:08] TechXavAL opened #6194 "Wavelets Residual image Sh/Hi odd behavior"
Using [this raw file from discuss](https://discuss.pixls.us/t/hydro-electric-dam-at-pitlochry/24361), I've managed to get some odd behavior I'm not really sure how to describe.

With just color management options, a bit of lowering exposure and luminance highlights recovery, at the beginning the image looks like this:

![original](https://user-images.githubusercontent.com/52250392/113346942-c81f29

[2021-04-02 01:31] Stuntflyer opened #6195 "Add ability to export to an external editor within the same folder as the original file"
Within the current build of RT 5.8, the program does not know the location of the original raw file when it exports to an external editor. Instead, it auto exports to a TEMP folder. It would be convenient if there where a user option to automatically save exports to the location of the original RAW file. This option is already available within the Processing Queue with the %p1/%f command.

For use

[2021-04-02 06:29] ScarletJoker opened #6196 ".dcp file input by CLI"
Hi,
Is it possible to input .dcp file and deal with all images by command line?
thank you

[2021-04-02 09:08] paulmatthijsse commented on #6193
Hello @arturoisilvia, I have been searching for "parametric curve" but your ticket didn't show up for some reason. We are indeed talking about the same thing.
Regards, Paul.

[2021-04-02 11:09] TechXavAL commented on #6196
Hi:

Can you explain a bit further what you are referring to, please?

You can't _input_ dcp files, as those are not raw files. You can use them in cli with a proper pp3 profile.

Please, read [this RawPedia page](https://rawpedia.rawtherapee.com/Command-Line_Options), but be aware that is a bit outdated. You have to  use `rawtherapee-cli -h` to look at the current list of options.

[2021-04-02 11:36] Beep6581 commented on #6142
Hey @TechXavAL

Where have you documented it? Seems there have been no edits to Keyboard Shortcuts http://rawpedia.rawtherapee.com/index.php?title=Keyboard_Shortcuts/es&action=history

[2021-04-02 12:01] Beep6581 opened #6197 "Ctrl+f keyboard shortcut"
While updating documentation regarding #6142 I found that Ctrl+f while focused in Editor > Meta > Exif only works on fields with a checkmark. Other fields cannot be searched.
![screenshot_20210402_135720](https://user-images.githubusercontent.com/5844619/113413769-b2a11280-93bb-11eb-8d1b-d0a3a6d687b5.png)
![screenshot_20210402_135819](https://user-images.githubusercontent.com/5844619/113413770-b3d

[2021-04-02 12:04] Beep6581 commented on #6142
@TechXavAL I updated Ctrl+f in Keyboard Shortcuts. Stay tuned for more changes - #6197

[2021-04-02 12:04] #6142 closed, assigned to nobody

[2021-04-02 12:05] heckflosse commented on #6197
There is no code for this in RT. We completely rely on the treeview search features of gtk. The only difference between old and new behaviour is, that now the user has to initiate the search using ctrl-f, while before the search was initiated by hitting any key

[2021-04-02 12:08] Beep6581 commented on #3525
Brave :)

[2021-04-02 12:38] TechXavAL commented on #6142
@Beep6581

👍🏻  The Spanish Keyboard Shortcuts page is still pending to be reviewed/finished. The current version was uploaded a long time ago, as you may see by the page title style...

Will do ASAP

[2021-04-02 13:59] Desmis commented on #6194
@TechXavAL

I don't think we can change this behavior ( maybe I'm wrong, maybe there is a solution, but I don't think so).  Because in a jpg (I have not seen immediatly the raw - see below), there is no process like in Raw - "highlight reconstruction" (especially Color propagation)

in this case for positive values the SH algorithm used is exactly the same for residual as the SH algorithm of main

[2021-04-02 17:26] TechXavAL commented on #6197
@Beep6581

If you write the list of values separated with a comma WITHOUT extra spaces (that is «value,value,value»), then the filtering gives what you want. At least it works here.

[2021-04-03 08:33] Beep6581 commented on #6193
Closing as duplicate of #5859

[2021-04-03 08:33] #6193 closed, assigned to nobody

[2021-04-03 08:41] Beep6581 commented on #6197
I'm using gtk+-3.24.22 in Sabayon.

@TechXavAL in which widget can you see that CSV works? On my end, CSV does not work in "Folders" nor in "Exif".

@heckflosse could you confirm whether searching in the Exif tab only works on items with a checkmark on your end?

Please provide your GTK+ versions.

[2021-04-03 09:07] heckflosse commented on #6197
No:

![grafik](https://user-images.githubusercontent.com/13733487/113473786-0bc87f00-946c-11eb-8d90-5f7e599c3e23.png)

[code]

[2021-04-03 09:12] AndyAstbury commented on #6195
Saving the RT output image to the parent folder of the original raw file makes perfect sense - it's the way virtually every other bit of photo software works!
When using the 'open in external editor' command, the RT output would be better served by being dropped alongside the original source raw, rather than being placed in a TEMP folder which disappears, along with its content, when the machine i

[2021-04-03 09:20] heckflosse commented on #6197
![grafik](https://user-images.githubusercontent.com/13733487/113474177-9dd18700-946e-11eb-99ce-47dcdccb99af.png)

[2021-04-03 09:42] TechXavAL commented on #6197
@Beep6581 , @heckflosse

This is a sample folder:

![filter1](https://user-images.githubusercontent.com/52250392/113474458-5a781800-9470-11eb-884d-bd565c87a42a.jpg)

And the filter applied:

![filter2](https://user-images.githubusercontent.com/52250392/113474468-64018000-9470-11eb-8818-2573b07665c5.jpg)

@Beep6581 : just in case, do you hit _Enter_ after typing the filter keywords?

And interestin

[2021-04-03 10:24] TechXavAL commented on #6194
Yes, the Shadows/Highlights tools gives the same results, aside that I can't check with negative Shadows values.

About:

I'm not really sure what «even worse» means. If the algorithm works exactly as in RT5.8 (the «old algo»), let's see what it can do in the current stable release (v.5.8):

This is the starting point:
![RT58_1](https://user-images.githubusercontent.com/52250392/113475433-007a5100

[2021-04-03 10:29] Desmis commented on #6194
@TechXavAL

I think there is no solution...Except new algorithm... ??...Or try "LA" with "Tone equalizer"

You can't have your cake and eat it too, but if someone has the solution, then let them do

Jacques

[2021-04-03 11:24] TechXavAL commented on #6194
@Desmis

What about reimplementing the old algorithm for both Shadows and Highlights? It works well, with its own limits. And if this part of the code is used somewhere else, you would just have to point the RI module to another part of the code.

Well, when I buy a cake, I like to eat it too... 😄

[2021-04-03 11:28] Desmis commented on #6194
For me, it will stay like that :)

[2021-04-03 16:49] ror6ax commented on #5537
I can reproduce this on 5.8 running on Fedora.

[2021-04-03 17:15] ror6ax commented on #3967
Hey @Beep6581, is there a specific Wayland/GTK bug this is linked to?

[2021-04-03 17:40] Lawrence37 opened #6198 "Shape detection adjusters range mismatch"
In the shape detection settings for local adjustments, the ΔE scope threshold and ΔE decay adjuster's maximum values do not match the values in rtengine. In the GUI, the max threshold is 10 and the max decay is 10.
https://github.com/Beep6581/RawTherapee/blob/128de03aed60d85252e77df71f060daf28fcec49/rtgui/controlspotpanel.cc#L73-L74
In rtengine, they are 8 and 4.
https://github.com/Beep6581/RawThe

[2021-04-04 06:40] Desmis commented on #6198
@Lawrence37

Thank you for testing :)
Good catch...

For the range it is an oversight on my part. Moreover LIM treats better the problem in case

I just push a change in dev

Thank you again

Jacques

[2021-04-04 19:47] Lawrence37 commented on #6198
Works well. Thanks.

[2021-04-04 19:47] #6198 closed, assigned to Desmis

[2021-04-04 22:37] kdm9 commented on #5901
@Beep6581 & @Thanatomanic  It would appear that exiv2 now support the ISO BMFF, the base format for CR3s after PR  https://github.com/Exiv2/exiv2/issues/1229. AFAICT the main impediment to supporting R5/R6 metadata in RT (including funky whitebalance issues, #6089) is getting the rtexif -> exiv2 PR (#5889) merged. Is there anything external devs like myself (with some CV, exiv2, and C++ experience

[2021-04-05 07:31] strogonoff commented on #3361
I have to concur, I’m having no luck with flat fields in RawTherapee whatsoever.

I’m working with DNGs out of Sigma FP, and trying to solve cyan-green vignetting from Voigtländer Color-Skopar 21mm f/3.5, possibly exacerbated by a CPL filter. I have tried many methods of taking flats (blank wall, into blue sky through various plastic diffusers, a sheet on top of white iPad screen, etc.) and made s

[2021-04-05 09:05] heckflosse commented on #3361
Can not reproduce in current dev version

![grafik](https://user-images.githubusercontent.com/13733487/113557676-b1135c80-95fe-11eb-8bd9-d77d668bd667.png)

[2021-04-05 11:54] strogonoff commented on #3361
Excellent, definitely a bug in 5.8 then.

[2021-04-08 12:34] chaimav opened #6200 "LA: Duplicate full image spot while zoomed creates preview sized spot"
RT 5.8-2826, Windows 10, i3 8100

Steps to recreate:
-Create a full image spot
-Zoom in on the image
-Click the duplicate button

The duplicate spot is the size of the preview window and not the whole image.
![Full image duplicate bug](https://user-images.githubusercontent.com/47765782/114027302-38eaa800-9845-11eb-8107-7dab4007e553.JPG)

[2021-04-08 13:32] lummukka opened #6201 "Film negative tool for color film only?"
Hi, I have been trying to understand the film negative tool but can't find in the documentation if it's meant for color negatives only (with the orange mask) or does it also work for B&W negatives?

So the request from me would be to clarify this in the tool itself / documentation and eventually provide support for B&W negatives if not already there.

Or should I invert the B&W negatives with curv

[2021-04-08 14:59] arturoisilvia commented on #6200
NO!----> I prefer as it is: preview sized spot,-----
Sorry. You're talking about the full size, OK.

[2021-04-08 15:55] chaimav commented on #6200
Yes, its an issue with full image only, which should extend beyond the edges of the image. A new spot works fine, its the 'duplicate' function that is problematic.

[2021-04-08 16:42] musicinmybrain opened #6202 "Missing copyright statements and Boost license text for files forked from SLEEF"
**Short description**

The following files are taken (and modified) from [SLEEF](https://sleef.org/), but they are missing the required copyright and license statements. Additionally, the Boost license requires its text to be distributed with the source.

- `rtengine/sleef.h`
- `rtengine/sleefsseavx.h`
- `rtengine/helpersse2.h`
- `rtengine/helperavx.h`

**Steps to reproduce**

Examine the mentione

[2021-04-08 17:05] ghost opened #6203 "Development version: Unable to save HSV Equalizer settings (via selective parameters)"
**Short description**
In the latest/later development version it is not possible to save the *[HSV Equalizer]* settings, using ctrl-click + selective parameters. The *[Film Negative]* section is saved instead.

**Steps to reproduce**
1. Load an image
2. Activate the HSV Equalizer module
3. Apply some settings
4. Save profile: ctrl-click on *Save current profile* button
5. Select HSV Equalizer (+ok

[2021-04-08 17:38] #6202 closed, assigned to heckflosse

[2021-04-08 17:51] ghost commented on #6203
While creating a clean slate to start bisecting this one I ran into some conflicting results and I'm now not able to reproduce this any longer.

Lets call it spring cleaning and be done with this.

There is still some weirdness going on though. If I look in the created pp3 I see this:

Where does the Film Negative thingy come from (I'm sure it did not select that one, I checked.

Anyway, closing t

[2021-04-08 17:51] #6203 closed, assigned to nobody

[2021-04-08 18:19] rom9 commented on #6201
Hi!
Indeed, the film negative tool was created specifically to deal with _color_ negatives (i agree that it is not stated clearly in the docs and labels). This is simply because with B&W, the same result can already be achieved with existing tools (the tone curves as you mentioned), and i really don't see what the film negative tool could do to improve that.
It's possible to use the tool to invert

[2021-04-09 09:54] lummukka commented on #6201
Hi Alberto, thanks for replying back. As long-term Rawtherapee fan I see two alternative approaches. A) would be like you say label it as "Color Film Negative" + new paragraph or B) Add a small switch in the tool to toggle between "Color Negative" for handling the color stuff+orange mask or "B&W Negative" for just the inversion.

Br Vesa

[2021-04-12 09:52] simohno commented on #6139
Hello, I now notice that also Windows nightly builds are not being updated (last is n. 2826 of 22/03/2021).

[2021-04-12 18:03] rlemaigre commented on #5901
As a workaround, converting the CR3 files to DNG using Adobe's converter worked for me, and it seems to be advisable to do it anyway since DNG is more future-proof than proprietary file formats, among other reasons. Take a look here for documentation : https://rawpedia.rawtherapee.com/How_to_convert_raw_formats_to_DNG

[2021-04-13 16:22] kgfly commented on #6188
One quick question: does RawTherapee use lots of Intel SSE (I guess so).

If yes, then it means all these code need be rewritten, which seem a nightmare. However, the workaround is to use

https://github.com/DLTcollab/sse2neon

[2021-04-13 16:30] Thanatomanic commented on #6188
@9527KGG This PR https://github.com/Beep6581/RawTherapee/pull/6152 seems to have resulted in a running version of RT on Mac M1, but not in all cases. If possible we will try to provide a package for ARM with the next release. I think it would be very helpful if you could test compilation on your own machine.

(but to be honest, I have zero experience with macOS, so we will definitely need help...

[2021-04-13 21:25] kgfly commented on #6188
I wish I could help. But I don't have a Mac M1 CPU machine yet..... (I am still using my old Intel Mac machine, because my favorite apps, such as RawTherapee .... have not supported Mac M1 CPU yet....)

Mac OS originated from BSD Unix, while Linux is a Unix-like OS. They have lots of similarities. My concern is that if RawTherapee uses instructions which binds with Intel Arch, such as Intel SSE/SS

[2021-04-14 11:12] Floessie commented on #6188
@9527KGG

RT is properly `#ifdef`ed for SSE, just take a look at the code. I more or less regularly build it on PPC.

HTH,
Flössie

[2021-04-15 01:13] h0jeZvgoxFepBQ2C commented on #4959
How can I start this creator? I'm a newbie, couldnt find it?

[2021-04-15 06:16] rogerxxxx commented on #4959
What is your purpose for creating a color profile?

Are you creating a profile to match the color within your studio or
other specific location/scenario?

Or, are you creating a color profile for your (new) digital camera
that does not have a color profile within RawTherapee -- for getting
acceptable colors for raw images taken with your (new) camera when
importing the raw images into RawTherapee?

[2021-04-15 06:18] wbzqe opened #6204 "Add thumbnail to the result image , speed up preview"
hi

At present, the pictures exported by rt do not contain thumbnails, which causes the pictures to load very slowly when opening a dir containing a large number of pictures. I used the pictures exported by lightroom to test the loading speed and the results were very fast.

I use exiftool to find that the JPG exported by lightroom contains thumbnails

[code]

So I tried to use exiftool to write a

[2021-04-15 08:29] h0jeZvgoxFepBQ2C commented on #4959
It may be embarrassing to hear, but I only want to create a new ICC profile for my laptop for OSX, since for sleeping I would like to have a really dark profile and the minimum light setting from my macbook is still to high, even with the lowest setting. So I would like to make the screen as dark as possible :) So I tried to create a new ICC profile, but couldnt find where I can find this creator

[2021-04-15 12:21] Thanatomanic commented on #4959
@h0jeZvgoxFepBQ2C This definitely not what you should use the ICC profile creator in RawTherapee for, but if you want to experiment, you can find the profile creator here:
![image](https://user-images.githubusercontent.com/6567747/114868064-d0c43500-9df5-11eb-99d7-fd8d504ac293.png)

However, this issue is not the right place to continue this discussion. Please consult the internet on how to calibr

[2021-04-15 12:30] h0jeZvgoxFepBQ2C commented on #4959
Thank you!

I also didnt ask for help with the calibration, the issue says "Document ICC Profile Creator" and in the documentation it's not shown where to find this profile creator, so I just wanted to point out it would be great do improve the documentation here :)

Thanks for the help!

[2021-04-15 13:44] TechXavAL commented on #4959
@h0jeZvgoxFepBQ2C

Even though it is briefly named in the [File Browser Spanish documentation page](https://rawpedia.rawtherapee.com/File_Browser/es#La_ventana_del_Navegador_de_Archivos) (first image, photo caption), you're right it's mostly not documented, even not entirely in the [ICC Profile Creator Spanish documentation](https://rawpedia.rawtherapee.com/ICC_Profile_Creator/es) I pointed to in

[2021-04-16 01:37] angeloamaral opened #6205 "When I try to save a work, Raw Therapee crashes no matter if it is via editor or queue tab."
Thank you and sorry in advance because I'm using Linux a few months and I know nothing about programming.
I have read what I was told to read and what I get is bellow. If it is insufficient for some help, I will understand completely.

Shall we?

When I try to save a work, Raw Therapee crashes no matter if it is via editor or queue tab.

Version details:
Version: 5.8
Branch: releases
Commit: 9a9e0

[2021-04-16 01:56] wbzqe commented on #6204
I modified `saveJPEG` in RT,   set `cinfo.write_JFIF_header = FALSE` , Then use exiftool to write the thumbnail (also no JFIF header) and it is successfully displayed ！

Maybe can  set `cinfo.JFIF_minor_version=2 ` also work ?

[2021-04-16 01:57] angeloamaral commented on #6205
![Rolo 001 120mm 009](https://user-images.githubusercontent.com/81112925/114960658-dfced580-9e3d-11eb-8512-e5bf0070c0d2.png)

[Rolo 001 120mm 009.txt](https://github.com/Beep6581/RawTherapee/files/6321993/Rolo.001.120mm.009.txt)

[2021-04-16 03:50] kgfly commented on #6188
Thanks, @Floessie , I took a quick look. Currently, eg the code is

#ifdef __SSE2__
   call sse instruction (**fast mode**)
#else
   call none sse instruction (**slow mode**)
#endif

If current code is compiled on ARM CPU, ARM CPU will call none sse instructions, which is slow mode. The perf will drop a lot. So it's not good.

ARM has SSE corresponding instructions, called Neon. So the most expect

[2021-04-16 07:11] Floessie commented on #6188
@9527KGG

IMHO it's not "fast mode" vs. "slow mode" but "hand-optimized" vs. "generic". While the hand-optimized code often cannot be further optimized by the compiler, the generic code will. If I enable AltiVec on PPC (`-maltivec`), the compiler's auto-vectorizer kicks in and produces SIMD code. Same is true for NEON. "The perf will drop a lot." on the other hand isn't true. There will be pieces

[2021-04-16 07:16] Thanatomanic commented on #6188
@Floessie Agreed.

However, the original issue was to provide a M1 compatible installer for our next release. As far as I understand #6152 this does not require any further modifications to the codebase, and the macOS build will automatically work on M1? Or do we need separate builds?

[2021-04-16 07:21] Thanatomanic commented on #6205
@angeloamaral Thanks for reporting, but I'm afraid that testing without the original image makes it impossible to reproduce your issue. Could you perhaps upload your problematic files to https://filebin.net or a Google Drive folder or any other file sharing tool online?

When does it crash exactly? I assume after you press the button to process the queue? And after you complete the file save dialo

[2021-04-16 07:22] Floessie commented on #6205
@angeloamaral This sounds like you're running out of memory. How much memory (RAM) do you have installed on your machine and available to the OS? Typing `free` in a shell should give you a hint.

[2021-04-16 07:26] Floessie commented on #6188
@Thanatomanic The code as-is is perfectly portable (even to big endian architectures).

[2021-04-17 08:01] wbzqe opened #6206 "Nikon - D810 - 12bit compressed small raw , It looks like rt5.8 got the wrong white point"
**Short description**

Nikon - D810 - 12bit compressed  small raw  ,  It looks like rt5.8 got the wrong white point ,  In `neutral` mode, the image is too bright and some are overexposed. If  set the `white-point correction` to `0.25`,  the result looks correct

**Additional information**

log output by rt5.8 ubuntu when load  Nikon - D810 - 12bit compressed ((8)), small raw (3:2).NEF

From the lo

[2021-04-17 08:38] Thanatomanic commented on #6206
There doesn't seem to be an issue in the nightly builds
![image](https://user-images.githubusercontent.com/6567747/115107090-09d0e680-9f69-11eb-96f5-fd058863151f.png)

Please use that if you want to have correct behavior: https://github.com/Beep6581/RawTherapee/releases/tag/nightly

[2021-04-17 08:38] #6206 closed, assigned to nobody

[2021-04-17 08:40] Thanatomanic commented on #6206
btw, the 'small raw' you link to is not a Bayer file, but is already demosaiced. That is the likely reason both files still act differently.

[2021-04-17 09:29] wbzqe commented on #6206
Thank you for your reply ！@Thanatomanic

I also noticed that this type is not Bayer data, It's just that the 'small raw' image is more normal exposure when I open it in Darktable and CameraRaw and  a lot brighter in RT,  so I'm wondering if it's a bug, or if it can be optimized.

[2021-04-18 00:06] Lawrence37 commented on #6139
There's a Python version problem when building AppImages.
https://travis-ci.org/github/aferrero2707/rt-appimage/jobs/767355890#L4877
[code]
For the Windows builds, CMake >= 3.20.0 is not happy with UpdateInfo.cmake
https://travis-ci.org/github/aferrero2707/rt-win64/jobs/764302920#L2643
[code]

[2021-04-18 12:45] Bezierr commented on #5182
Since I need this "short edge" resizing feature myself, I tried my hand on it and implemented this functionality.

![Capture](https://user-images.githubusercontent.com/38507161/115145595-e62d9f00-a041-11eb-81e5-460618abcdf4.JPG)

When testing, I haven't found any problems anymore so I'd say it seems to work. However, since this is my first attempt with programming RawTherapee, I cannot claim that

[2021-04-18 12:52] Bezierr commented on #5182
Since we are at it, I don't believe that the option "Applies to / Full Image" makes sense for anything but "Scale" because if you use it on a cropped image with any other "Specify" option, what you will get is *not* an image resized to the values entered and shown. I haven't made any changes to that, though, since there may be a reason for this behavior that I am not aware of.

[2021-04-18 13:11] Thanatomanic commented on #5182
Thanks @Bezierr for looking into it. I am not familiar with GitHub Desktop, but if you have created a branch for your changes, you should probably also be able to make a pull request. Hopefully you can get that to work, so that others can test.

[2021-04-18 13:35] Bezierr commented on #5182
Ok, I'm trying...

Github Desktop says:

![image](https://user-images.githubusercontent.com/38507161/115147396-488a9d80-a04a-11eb-949b-d18652a97239.png)

Sounds reasonable. After "publish branch", I get

![image](https://user-images.githubusercontent.com/38507161/115147417-648e3f00-a04a-11eb-84f4-1a28edd25b1f.png)

"Fork" doesn't sound right. Or does it? Any suggestions?

[2021-04-18 13:39] Thanatomanic commented on #5182
I believe that after making your own fork and push your own changes you can then make a pull request from your fork into our main development branch.

[2021-04-18 17:07] GPSLeo opened #6209 "Crash with terminate called after throwing an instance of 'Gio::Error'"
Rawtherapee crashes when tying to start with the error message:
`terminate called after throwing an instance of 'Gio::Error'`

System: Kubuntu 20.04 with 5.4.0-72-generic kernel
with all dependencies from the [Wiki](https://rawpedia.rawtherapee.com/Linux#Debian.2FUbuntu.2FMint.2Felementary_OS) installed and updated.

The error occurs with all versions the apt package, the AppImage and self compile

[2021-04-18 17:10] Thanatomanic commented on #6209
Interesting that this also happens for the self-compiled version. Sounds like a system library issue. Can you post the contents of the `AboutThisBuild.txt` file for your self-compiled version?

[2021-04-18 17:17] GPSLeo commented on #6209
AboutThisBuild.txt:
[code]

[2021-04-18 17:22] Thanatomanic commented on #6209
Okay, I should've known this wasn't going to be particularly helpful, sorry.
More interesting would be to know which version of the gio library you have installed. Could you copy/paste (or pipe) the output of the cmake command in an empty directory?

[2021-04-18 17:45] GPSLeo commented on #6209
[code]

make log:
[code]

[2021-04-18 22:41] angeloamaral commented on #6205
I can upload my problematic files. I will share the link here later.

It crashes exactly after these steps:
1. I type ctrl+s
2. I complete the file save dialog
3. Press Ok button
4. The status bar (of saving process) reaches 50% and stays there for a while.

Or after press the button to process the queue and the status bar (of saving process) reaches 50% and stays there for a while.

[2021-04-18 22:45] angeloamaral commented on #6205
![image](https://user-images.githubusercontent.com/81112925/115163262-915c4980-a07e-11eb-8887-ed6b1773a40d.png)

[2021-04-18 22:52] angeloamaral commented on #6205
Here is the folder link to original files of the crash: https://drive.google.com/drive/folders/1Wu0aYuF-4sQ_mBGzjzX8YK-oh-_UW6fz?usp=sharing

[2021-04-19 00:15] angeloamaral commented on #6205
I've tried to compile RawTherapee myself through the automatic way as said on RawPedia (http://rawpedia.rawtherapee.com/Linux#The_Automatic_Way). I am trying to get a stacktrace from a debug build but it seems to difficult for me. Right now I am stuck in an error as below - I am just trying to help you guys to help me.

![image](https://user-images.githubusercontent.com/81112925/115166750-1baaaa80

[2021-04-19 01:16] Lawrence37 commented on #6205
RawTherapee used 9+ GB of memory when I saved the image. Your system only has 10 GB, so it's very likely RT crashed because your computer ran out of memory. By the way, the error you got while trying to compile means CMake is not installed.

Edit: It seems like noise reduction is causing the high memory usage.

[2021-04-19 02:11] angeloamaral commented on #6205
Thanks for the answers. I'll try again without noise reduction.

[2021-04-19 02:42] angeloamaral commented on #6205
It worked! It worked! (Without noise reduction)
So, it's a memory problem, right? By exclusion.
Before I close this issue, to learn to get a stacktrace from a debug build, could someone tell me what I have to do to fix this (below)?

![image](https://user-images.githubusercontent.com/81112925/115174465-aa292700-a09f-11eb-8ab2-81f5e944b2f3.png)

[CMakeError.log](https://github.com/Beep6581/RawThera

[2021-04-19 03:14] Lawrence37 commented on #6205
You are missing Lensfun. Make sure you have installed all the dependencies. http://rawpedia.rawtherapee.com/Linux#Dependencies

[2021-04-19 03:41] angeloamaral commented on #6205
Ok. Thank you very much.

[2021-04-19 03:41] #6205 closed, assigned to nobody

[2021-04-19 10:16] heckflosse commented on #6205
@angeloamaral About noise reduction:
http://rawpedia.rawtherapee.com/Preferences#Threads

[2021-04-19 10:55] Desmis commented on #5632
@Beep6581 @Thanatomanic  @heckflosse  @rom9  @Floessie  @Pandagrapher  @Lawrence37  @TechXavAL  @waynesutton50

And others....

Excuse my bad english

What are we waiting ?

I see the comments on the French forums "Rawtherapee  is dead"...or the remarks on Pixls.us more and more insistent..."what happens"...The answers given are ambiguous and not very credible....There is a perception (at least fo

[2021-04-19 12:31] Thanatomanic commented on #5632
@Desmis

First of all, I'm going to make a blunt statement, then a more nuanced one. Please bear with me.

Jacques, you have currently withdrawn from the project because you don't like how things are going, because the team seems undecisive, or unresponsive or simply because there is criticism on your proposed feature(s). The way I see it, this leaves you with three options: 1) take charge of the

[2021-04-19 13:57] Desmis commented on #5632
@Thanatomanic
Why target a personalized response when my point is general?
For points 1) and 2) there is no question of it, given my age (74) and my poor health.

You are forgetting a 4th possibility...that I leave this project permanently.

That leaves 3) which seems to me a way forward.

As for "zoom" or any other live exchange, I will find myself totally isolated given my very poor performance

[2021-04-19 14:33] heckflosse commented on #5632
@Desmis

In my experience with meeting you in person, you really underrate your english!

[2021-04-19 14:40] Desmis commented on #5632
@heckflosse
Ingo

I don't think so...Of course, if everybody speak slowly, whithout specific technical language, and with sometimes outside help (in our case your wife  Petra... who speaks impeccable French) then that's fine, but for example I am totally unable to understand a video of Andy.... I look at the images :)

[2021-04-19 15:45] TechXavAL commented on #5632
@Thanatomanic : I'm sorry but I feel I'm out of anything like Zoom or the likes. I have to constantly look into online translators and English dictionaries to write something understandable, and my spoken English is even worse...

About «RawTherapee is dead», in my opinion anybody saying that is simply an ignorant. Or perhaps too lazy to make a brief search about a development version.

One extra

[2021-04-19 22:41] rom9 commented on #6201
Actually, on second thought, you convinced me :-)
I've scavenged an old BW negative and tried to fiddle with it, and i have to admit (although you _can_  invert it just using the tone curves, and it's much easier than dealing with color negs), that it's not very intuitive, and adjusting the tone curve is a bit tricky.
Also, i'm currently doing some experiments with color negatives regarding the co

[2021-04-20 00:51] angeloamaral commented on #6205
Thanks a lot!

[2021-04-20 10:22] Bezierr commented on #5182
Ok, tried that; thanks. As far as I can see it seems to have worked.

[2021-04-20 10:36] Bezierr commented on #5670
![Capture](https://user-images.githubusercontent.com/38507161/115381867-89f28880-a1c3-11eb-9a17-3ac071b16957.JPG)

Having experienced the same problem with Sony lenses, I looked into the RT code and found the following:

The "Unknown (55m f1.8)" value (in my case) is returned by the line

lens = mnote->getTag ("LensID")->valueToString ();

in file rtengine\imagedata.cc for Sony. So assuming the "g

[2021-04-20 14:58] chaimav opened #6212 "Preview DeltaE shows as out-of-gamut"
RT Dev 5.8-2826
When using 'Preview DeltaE' and 'Highlight pixels with out-of-gamut colors' the DeltaE shows as out of gamut.
![DeltaE](https://user-images.githubusercontent.com/47765782/115418253-59145280-a1c7-11eb-8e97-789a02ae28ae.JPG)
![Out of Gamut](https://user-images.githubusercontent.com/47765782/115418275-5e719d00-a1c7-11eb-8359-73b8f1aa4591.JPG)

[2021-04-20 15:33] Thanatomanic commented on #6212
@chaimav What would you expect to see when using the combination of these tools?

[2021-04-20 15:46] chaimav commented on #6212
DeltaE is see-through and out-of-gamut is solid so they can co-exist. I would expect to see a merger of these two screen-shots.
![DeltaE](https://user-images.githubusercontent.com/47765782/115425440-a1367380-a1cd-11eb-9384-737b0233ba2f.JPG)
![Out of Gamut only](https://user-images.githubusercontent.com/47765782/115425444-a1367380-a1cd-11eb-868c-2a13ddd458b2.JPG)
Alternatively, the GUI could preven

[2021-04-20 17:26] TechXavAL commented on #5867
I've seen some unintended behaviors (call them bugs if you wish):

* open RT and don't select any image: upon pressing «f» the first time, a small window with its own titlebar and the image inspector is shown. When you release «f», that window closes. Press «f» again and a full screen inspector is shown
* open RT and select an image (open it in the Editor if you want): upon pressing «f», a small w

[2021-04-20 17:38] Thanatomanic commented on #6209
@GPSLeo I tried to reproduce, so I installed Kubuntu 20.04 LTS in VirtualBox on my Windows host. Did all the updates, then compiled RawTherapee. It did not crash on a few of my test files.
The only difference on my end seems to be the kernel I'm running, which is `Linux 5.8.0-50-generic x86_64`. I'm not sure if that could be part of the issue. Otherwise, I wonder if you may have a corrupted file i

[2021-04-21 06:31] Desmis commented on #6212
@chaimav

Difficult to solve for many reasons
1) code to manage "out of gamut color" was carried out by people who are no longer in the RT team
2) this "code" is after "Local Adjustments" as a result it overwrites the results of Local Adjustments

I made a workaround by disabling "gamutcheck" when LA is activated and depending on when you activate "gamutcheck" you get "less bad" results. In partic

[2021-04-21 06:46] ChristopheBernard opened #6213 "Colour balance issues for negatives"
This a report on RawTherapee_dev_5.8-2735-g8bb06c2_20210121

The colour balance on inverted negatives seems to be badly off. I loaded a negative image NEF (Nikon D7000), then starting from a Neutral profile, I

1. Toggled "Film negative" on
2. Cropped to inside the picture
3. Clicked Auto levels in Exposure
4. Clicked method -> Automatic -> RGB Grey in White balance

I get a picture with a massive

[2021-04-21 06:50] Thanatomanic commented on #6213
Have you read the documentation on how to use the Film Negative tool? http://rawpedia.rawtherapee.com/Film_Negative
This is not the right way to do it.

[2021-04-21 07:51] rom9 commented on #6213
Hi @ChristopheBernard,
 the wiki is not yet updated for the dev version, since it's not released yet.
Auto-WB doesn't work with the new version of the film negative tool. Try instead to set WB to daylight, or (better) the actual color temperature of the backlight you used to digitize the negative.
Then, use the color balance sliders inside the film negative tool itself to adjust the output image.

[2021-04-21 08:35] Desmis commented on #6200
@chaimav
I just push a change in "dev"...
Now, when you duplicate a RT-spot "Full image", the new one is also "full image" (with delimiters very outside the preview)

Jacques

[2021-04-21 09:17] ChristopheBernard commented on #6213
Thank you for your answers.

Daylight and other preset colour balances work. As does temperature correlation. I just hoped I could use the colour picker or the automatic white balance.

Also note that the dynamic range compression is not compatible with that new colour pipeline I think.

[2021-04-21 12:19] rom9 commented on #6213
you mean, this tool?

![image](https://user-images.githubusercontent.com/4711834/115551728-c5688200-a2ab-11eb-98f5-2992eba0b14b.png)

This one should work, actually... it is applied right after filmneg.
What's the problem, exactly ?

[2021-04-21 13:15] ChristopheBernard commented on #6213
Yes I was writing about this tool. Actually I made a mistake.

Trying to find more familiar behaviour in colour balance, I had been building more ancient dev commits up to June 2020 and this was not working with one of them.

With the latest one, it works fine.

i am very sorry for my mistake.

Best regards,

[2021-04-21 13:19] jonathanBieler commented on #5859
I've had a look at this and I think the issue arise around here :

https://github.com/Beep6581/RawTherapee/blob/f47f23a4dc04750ee8baee83724cf094a771ecb9/rtengine/diagonalcurves.cc#L451

The issue is that when the highlight point is dragged to the right `hbase` becomes smaller than 1e-14 and the curve value becomes just `mfc`, which is a constant.

Strange thing is that I translated this piece of c

[2021-04-21 13:24] ChristopheBernard commented on #6213
OK. I did some more experimenting, and here is what I see (nightbuild version 5.8-2735-g8bb06c2).

1. The preset colour balances seem to apply in reverse. I would expect a sunny colour balance to give a colder image and a shade or cloudy colour balance to return a warmer image. It is the opposite for negatives. So the colour balance setting is for the negative image, not for the positive inverted

[2021-04-21 13:34] Thanatomanic commented on #6213
Of course, because the temperature/tint settings work with respect to normal photographs. For correct use of the Film Negative tool you should not use the White Balance module (keep it on Camera). There is separate white balance tooling in the Film Negative tool itself. But @rom9 knows better.

Confirmed!

[2021-04-21 13:37] rom9 commented on #6213
Ouch! This doesn't sound right... I'll take a look this evening, thanks for testing :-)

[2021-04-21 18:02] lummukka commented on #6201
That sounds fantastic!

[2021-04-21 19:52] chaimav commented on #6212
@Desmis, thanks for working on this.  I tried the laandgamut build and I find the new behavior inconsistent and confusing.

1. If I have LA enabled, the GUI still allows me to press the gamut check button, but nothing happens. This is the behavior I would expect _only_ if all my pixels were in gamut.
2. If I disable LA while gamut check is enabled it remains inactive. I need to toggle it off and o

[2021-04-21 20:09] #6213 closed, assigned to rom9

[2021-04-21 20:31] rom9 commented on #6213
Should work now, nice catch, thanks ;-)
I never noticed that the image buffer was overwritten by the fattal/dehaze code.

Yep, that's the easiest way to do it: set the in-camera WB for the _backlight_ , then shoot the negative, and then you can leave the default (WB = Camera) in RawTherapee. Then, do all your color balancing from the FilmNegative tool :-)

alberto

[2021-04-21 21:10] rom9 commented on #6201
Just pushed to dev ;-)
![image](https://user-images.githubusercontent.com/4711834/115620419-6fb8c780-a2f5-11eb-8cb6-434d18810ecc.png)

I would leave this issue open as a reminder for myself to implement something more specific in the tool itself (like, disabling the color sliders, avoid unnecessary computations, etc.). Unfortunately, this won't happen soon, as i don't have much time...
Hope this b

[2021-04-22 06:09] Lawrence37 commented on #5632
Adding the dev builds on the website is a great idea. However, I would not use a rolling release. We need time for features to stabilize so that users don't experience frequent UI changes, incompatible pp3s, etc. I suppose we can keep features in separate branches for longer, but this can make merging a nightmare.

That said, increasing the frequency of releases is important. It allows us to push

[2021-04-22 06:44] Desmis commented on #6200
@chaimav
There was another bad behavior...
When RT-spot is outside preview (one or more delimiters), the duplicate spot is not good...

I solved this bad behavior in dev

Jacques

[2021-04-22 07:54] pseudopanax commented on #5632
From purely a user point of view, I agree for the reasons outlined. Given the extent of new features in the current dev build (Local adjustments with a number of new algorithms, significant changes to Ciecam and wavelets, changes to dehaze, additional demosaicing etc),  would it make sense to release it as a v5.9 beta? This would allow a much a wider section of the community to test it thoroughly.

[2021-04-22 07:58] waynesutton50 commented on #5632
From purely a user point of view, I agree for the reasons outlined. Given the extent of new features in the current dev build (Local adjustments with a number of new algorithms, significant changes to Ciecam and wavelets, changes to dehaze, additional demosaicing etc), would it make sense to release it as a v5.9 beta? This would allow a much a wider section of the community to test it thoroughly.

[2021-04-22 15:50] chaimav commented on #6200
I can confirm it works correctly now in 5.8-2847

[2021-04-22 15:51] chaimav commented on #6200
I am not sure what behavior you were seeing so I cannot confirm if it is fixed or not.

[2021-04-22 15:55] Desmis commented on #6200
@chaimav
Of course, not in the last dev..
Put a RT-spot with one delimiters outside preview...Zoom untill preview is full....
Duplicate...and you will see that the duplicate spot is different from original.

Now, it works in all cases

Jacques

[2021-04-23 17:01] AndyAstbury commented on #5632
The minor point release 'model' has been used by Adobe and others for a very long time.  Not so long ago we had 3 updates in 7 days for Photoshop - 1 real point update followed by 2 corrective updates because screw-ups were overlooked.

And people who are silly and buy Topaz software seem to have a new update every time they fire up the software!

So it's nothing new, folk are used to it in the wo

[2021-04-24 12:13] Desmis commented on #6212
@chaimav
I've done a lot of tests  and spent a lot of time,  having significantly modified the code (adding a control button, etc.) and I can't get the improvement you want.
This seems to me a complex problem (at least to me), especially in the joint modification of the GUI and the RTengine process.
In short, no improvement to be expected on my side.

So, either you leave this issue open in the ho

[2021-04-25 00:56] chaimav commented on #6212
Thank for the effort in trying to solve it. My personal preference would be to leave the code as it was originally and (at least it is clear that it is not functioning properly) and to leave the bug open as I believe that the behavior is not correct.

[2021-04-25 12:58] z0r0 opened #6216 "Bundled profiles dropdown fails to load after one is used on an image."
RawTherapee Version:
[code]

OS Version:
[code]

Explain the exact steps to reproduce the problem:

1. Apply a bundled profile (or even the neutral profile)
2. Attempt to add another profile, and the bundled profile list will fail to populate.

![Screenshot](https://user-images.githubusercontent.com/1414000/115994194-f5619f00-a5a3-11eb-984f-6c9b61e6d4d5.png)

This occurs for all of my raw images t

[2021-04-25 14:03] Affonso-Gui opened #6217 "Equalizer input from 0 to 360?"
Hello,

First of all I would like to thank all for the amazing program, I have been using RawTherapee for years and am very satisfied with it!

What brings me here today is that I've always thought that it would be much more intuitive if we could make the equalizer input range from 0 to 360 rather than 0 to 1, specially because we can get the color picker to display the hue in this angle notation.

[2021-04-25 20:35] chaimav commented on #6216
I cannot confirm on RT 5.8 nor RT dev build 5.8-2847 for Windows 10. (But I did find different bug when testing that I will report)

[2021-04-25 20:57] chaimav opened #6218 "Switching bundled profiles does not reset all tools"
RT 5.8 and RT 5.8-2847 for Windows

1. Enable Color > Black and white tool
2. Select and bundled profile (besides neutral)

The profile will apply but the Black and white tool will remain enabled. Expected behavior is that it would reset.  The same thing happens if you select  Raw > film negative.

My presumption is that these profiles predate these tools and therefore the pp3 don't account for th

[2021-04-26 11:40] ghost commented on #6218
Doesn't this work as designed?

There's the *Processing profile fill mode* selector which determines what is being processed when loading a profile: You can choose the *Fill* or the *Preserve* modes.

If I give that a try I get either of your scenarios, depending on the setting of that mode.

Read about it here: [Sidecar Files / Processing Profiles](https://rawpedia.rawtherapee.com/Sidecar_Files_-

[2021-04-26 11:47] chaimav commented on #6218
@jade-nl Thanks. I was not aware of the fill vs preserve button.

[2021-04-26 11:47] #6218 closed, assigned to nobody

[2021-04-26 11:52] ghost commented on #6216
I'm also not able to replicate this on any of the RTs I have installed.

* RawTherapee versions : **5.8-2926**-g456074004 (self build) or  **5.8-2735-g8bb06c2** (appimage)  or  **5.8**
* Debian Buster (rel. 10.9)

[2021-04-26 20:31] Beep6581 commented on #6216
I cannot replicate in 5.8 nor in `dev` head `5.8-2847-g`53bb6e41b either.

[2021-04-27 16:27] shrx commented on #5431
Similarly, the 1500 K minimum color temperature is not enough for some IR spectrum photos, 1000 K or even less is needed.

[2021-04-27 21:40] rsau commented on #6216
I am facing exactly same issue.
It is not only in RawTherapee but also in ART 1.8.4.

No issues when I compile RawTherapee and ART but only in AppImage or prebuilt binary

OS: Ubuntu 20.04.2 LTS

[2021-04-28 05:26] Thanatomanic commented on #6216
I have just tested this on Kubuntu 20.04.2 LTS and cannot replicate, neither with `5.8` (installed by `apt install rawtherapee`) nor the self-compiled `dev`.

If two people report the same issue, there must be another factor at play. @z0r0 and @rsau do you have a single or multiple monitor setup? And do you use RT on the primary monitor or another?

[2021-04-28 09:27] rsau commented on #6216
Hi @Thanatomanic
I have dual monitor setup. Same behaviour on either monitor.
I'll record screencast in a day or two.

Please try with AppImage as well.
In the meantime I'll test Rawtherapee install with `apt`

[2021-04-28 09:35] Beep6581 commented on #6216
@z0r0  @rsau which version of GTK+ (not gtkmm) are you using in the affected build? I'm using GTK+ 3.24.22 and cannot reproduce.

[2021-04-28 09:51] GPSLeo commented on #6209
I tried running as root and it worked.(Do not know why I did not tried this earlier.) So it really seams to be a permission or user config problem. But thanks for checking this.

[2021-04-28 09:58] ghost commented on #6216
I have a dual monitor setup and my system (Debian 10.9) comes with the buggy *Gtk+ 3.24.5-1*. I do see the buggy behaviour (not able to scroll through menus taller then then my screen).

I'm _not_ able to reproduce on either monitor. Tried the latest appimage (5.8-2921-ge6fad4cb3) and the stable appimage (5.8)

I also noticed that @z0r0 used a rather old (Commit date: 2020-02-04) image. I reverted

[2021-04-28 10:06] Beep6581 commented on #6209
GPSLeo sounds like failure accessing your startup folder. Check `StartupPath` in your [options](http://rawpedia.rawtherapee.com/File_Paths) file, and paste here the output of `ls -ld` (e.g. assuming `StartupPath=/home/morgan/photos/2021-04-26`):
[code]

Since you self-compile, would help if you compiled a debug build and provided the [stack backtrace](http://rawpedia.rawtherapee.com/How_to_write_u

[2021-04-28 21:05] rsau commented on #6216
I have `libgtk-3-0:amd64  3.24.20-0ubuntu1`

I tested by creating custom some profiles and they work without any issues but Bundled profiles not.

Same behaviour even if I install with `apt`

[2021-04-28 21:32] nomar500 opened #6220 "RT-5.8 dev compilation for mac os big sur 11.2.3 on m1 (arm64): immediate crash"
2021-04-28
I've just tried to recompile RT (dev branch) for my M1 macbook running big sur 11.2.3, after pulling from the repo.

- This is where I am:

[code]

- how I compile:

[code]
[make_RT.log](https://github.com/Beep6581/RawTherapee/files/6394890/make_RT.log)

- compilation instructions: `make_RT.sh` contents (still open for debate):

[code]

- Note: I have a few changes that are not staged f

[2021-04-28 22:09] z0r0 commented on #6216
Hello all, thanks for the awesome feedback with this being my first bug with this project.

Looking back there's two questions:

1. Monitor setup: regarding the monitor setup, this is when I'm using my laptop, and only the laptop's screen. If it's beneficial, i'll be able to attach this to a multi-monitor setup on the same screen and re-test. I'll do that tomorrow.
2. GTK version. Right now, it lo

[2021-04-30 08:43] Beep6581 commented on #3613
Hey @Thanatomanic , is it correct that branch `silence-output` has not been merged into `dev` yet?

Is there now a way to pipe an image from `rawtherapee-cli` either in `dev` or in `silence-output`?

[2021-04-30 21:13] nomar500 commented on #6220
note: same with Big Sur 11.3, but different problem report.

<details>
<summary>
unfold me (problem report)
</summary>

[code]

</details>

[2021-05-01 12:52] Pandagrapher commented on #6220
@nomar500
Personally, `dev` branch runs fine on my Intel based MacBook with Big Sur 11.2.1.
When looking at your log, crash seems to be caused by `libomp` library. What version are you using? A 12.0 version just has been released passed week. Maybe you should try to revert it to the previous one (I am on `libomp 11.1.0`).

Regards,
Pierre

[2021-05-01 21:09] nomar500 commented on #6220
hi Pierre @Pandagrapher,

thanks for pointing this out.

- Indeed, I was running `libomp-12.0.0` after a usual `brew upgrade`.
- I've reverted to `11.1.0`, built and launched RT successfully.

It took me some time to figure out how to downgrade, as [this page](https://itnext.io/how-to-install-an-older-brew-package-add141e58d32) mentions that you must find the appropriate commit, pick the raw URL a

[2021-05-01 21:14] AndyAstbury opened #6221 "Strength Control on Local Adjustment Spots RTDev"
The main Wavelets panel has a strength control at the top of it, so you can 'turn down' the 'volume' of your carefully crafted adjustments and slider ratios etc. It gives you that final tweak of finesse.
So I was wondering if that would be possible on Local Adjustment Spots as it would just add the same finesse without  having to go back down the panel and adjust multiple controls.

[2021-05-01 23:48] Lawrence37 commented on #5867
@TechXavAL
- I can confirm the inspector window does not open in fullscreen the first time, but I can't find the cause.
- When the inspector is pinned, the `f` key is repurposed to show the full image, so the fact that it does not close the inspector is expected.
- I cannot reproduce the second point, but the third one I can. The window opens slowly, so if you release quick enough, it cannot captu

[2021-05-02 00:27] Lawrence37 commented on #5901
@kdm9 There are some recent comments in #5889 regarding the current status, if you want to take a look.

[2021-05-02 00:36] #6200 closed, assigned to nobody

[2021-05-02 05:56] waynesutton50 commented on #6221
Having seen how useful it is in Wavelets, I think this would be a big plus for Local Adjustments

[2021-05-02 09:13] TechXavAL commented on #6221
If this is ever implemented, could it be added to each spot, instead of to the whole tool?

That way you will have complete control over each spot.

[2021-05-02 10:23] Desmis commented on #6221
A "strength" slider only makes sense if it is specific to each Spot and each tool

I have chosen a number of tools that I believe are more than sufficient to meet Andy's needs
* local contrast & wavelet (new)
* log encoding (already operational)
* denoise (new)
* color and light (new)
* Dynamic Range and exposure (new)
* SH and Tone equalizer (new)
* retinex (already operational)
* tone mapping (n

[2021-05-02 17:58] Jacalz opened #6224 "Canon EF 70-300mm f/4-5.6 IS II USM reported as "Unknown 70-300""
**Short description**

I am having an issue with my Canon CR2 raw files from my "Canon EF 70-300mm f/4-5.6 IS II USM" being reported as "Unknown 70-300" from my Canon 5d Mark 2. All my other lenses work fine, so I decided to open this issue to try and get it fixed. It is quite annoying.

I thought that this was because exiv2 did not support it, but it looks like it actually does:
[code]

I found h

[2021-05-03 06:32] #6036 closed, assigned to nobody

[2021-05-03 09:57] Baltmin opened #6226 "Sony A1 lossless compressed files not supported"
New lossless compressed format of sony A1 is not supported. I can only open the dng files converted from ACR but this results in a black layout on the bottom and right of the image which requires cropping for every single photo.

[2021-05-03 10:03] Thanatomanic commented on #6226
Please provide a sample file

[2021-05-03 10:12] Baltmin commented on #6226
This is .dng from Adobe camera raw after doing enhance detail. It is the only way to open these files in RT. The original lossless compressed .ARW file does not open at all in RT 5.8.

![DSC09039-Enhanced_resize](https://user-images.githubusercontent.com/83581222/116864716-35f29580-ac00-11eb-8025-c66e26a08e74.jpg)

[2021-05-03 10:18] Baltmin commented on #6226
I can't provide a lossless compressed raw file here, as there is a 10MB limit. I can do it through onedrive or dropbox if this is helpful.

[2021-05-03 10:34] Thanatomanic commented on #6226
Yes, please provide an original raw file, for example using https://filebin.net. Especially if it does not open in RT now, this will be helpful to support it in the future.

[2021-05-03 10:48] Baltmin commented on #6226
Here is the raw file. Thank you!

https://filebin.net/34xnh58w7fkyn5dm/DSC07383.ARW?t=wgniofxu

[2021-05-03 11:30] AndyAstbury commented on #6221
Yes, please merge into current dev build, and many thanks to Jacques for implementing this in such a short time - brilliant!

[2021-05-03 13:38] waynesutton50 commented on #6221
I've just tried the latest commit and haven't found any obvious problems. Thanks to Andy for the idea and to Jacques for the implementation.

[2021-05-03 16:21] Thanatomanic commented on #6226
@Baltmin I've downloaded your file. Making this work, will require some time and is not a high priority issue atm, so please be patient :-)

[2021-05-04 05:29] Desmis commented on #6221
@AndyAstbury  @waynesutton50 @TechXavAL

Merge

Jacques

[2021-05-04 06:40] #6221 closed, assigned to nobody

[2021-05-04 20:13] TechXavAL commented on #6195
Even though I like the idea (I wouldn't use it), I think there are some aspects to consider, like in which format the raw file will be exported to (automatically).

Let me explain a situation that I would face when using this feature: after processing my raw file I would like to open it in my preferred editor, but I would always sent the exported image as TIFF, to preserve quality as much as I can

[2021-05-05 12:34] Stuntflyer commented on #6195
@TechXavAL , all we are suggesting is an option for saving the tif and jpg files created in RT to the original folder location. The exported file formats would remain the same as they are now. No change at all. So, there is no reason to be concerned about "how to tell RT which formats to use on each case, and make it logical and understandable to the user".

Saving an image to a destination that w

[2021-05-05 13:23] TechXavAL commented on #6195
We mostly agree.

But then I have a doubt: when you send to the external editor which format should be used? Tiff, jpeg, or both? Or the user chooses which one?

[2021-05-05 15:08] Stuntflyer commented on #6195
Think of it as being no different than the way it is now other than where the Tiff is being stored while it is being edited in an external editor. Instead of being stored in a temp folder where the file is subject to being lost due to computer failure e.g., brown outs, the Tiff file is stored in the original folder where the RAW was launched from in the RT File Browser.

Jpg options remain the sam

[2021-05-05 16:48] heckflosse commented on #6195
There is one special thing when saving to the current folder. The current folder is scanned in background periodically for new files. If there is a new file in the current folder which is not completely written at the moment the current folder is scanned, that may lead to errors. If we export to current folder, we have to change some things in code to stop the scanning of the current folder for th

[2021-05-05 16:50] heckflosse commented on #6195
imho it should be uncompressed 16 bit tiff

[2021-05-05 17:17] Stuntflyer commented on #6195
I agree, 16 bit tiff.

[2021-05-05 17:46] TechXavAL commented on #6195
I think there's enough information now to clearly understand what is asked for and what is not.

And now that there has been more activity in this thread, there's a higher chance that a developer becomes interested in it and maybe it gets implemented. :wink:

FWIW, even though I believe it's a useful feature to have in RT, I said I wouldn't use it because whenever I use GIMP from RT, it's not unco

[2021-05-05 18:29] marter001 opened #6229 "german translation for LA"
Hello,

looking forward to the next dev or release 5.9, for my own better understanding, i started to translate the Local Adjustments into german.

I learned, I am far away to bring this to end, because LA contains some really tricky algorythm, tools and expressions i dont understand yet. I would like to share the work i did until now and continue any support will be greatly welcome.

marter

[Deu

[2021-05-06 18:47] Stuntflyer commented on #6195
Ingo, would this be the only real issue that would need to be resolved?

[2021-05-07 04:55] Beep6581 commented on #6229
Hey

That's great, but as you noticed things could probably be improved. Please wait with translations until a review of the `default` file is completed - keep an eye on issue #5664.

[2021-05-07 05:41] Beep6581 commented on #5632
Hey

I am waiting for things to stabilize. I managed to pump out frequent releases in the past, but with the merge of Local Adjustments and related work (CIECAM etc), branches which were not stable at the time of merge, things went into turmoil for a long period. On the one hand I don't blame @Desmis for his choice to merge - maintaining such branches for years is immense and stressful work. On th

[2021-05-07 06:16] Thanatomanic commented on #5632
That's good to hear, welcome back! And thanks for taking charge of the release management.
I think most new features have fleshed-out well enough over time, including documentation, but there is of course always room for refinement. There has been a call for a quick beta release, which I think is valid at this point in time. Would you agree?

[2021-05-07 07:01] Beep6581 commented on #5632
I just fixed AppImage nightly builds.

[2021-05-07 11:36] heckflosse commented on #6195
@Stuntflyer

I think so.

[2021-05-07 14:35] AndyAstbury commented on #6195
Just so we are clear I made this quick video [https://youtu.be/2jxS-Ml_7Ns](https://youtu.be/2jxS-Ml_7Ns)
If I've left anything out Mike just say!

[2021-05-07 15:28] Stuntflyer commented on #6195
Excellent, Andy.

Now I know that some RT users say that they have no need for this feature and that's all well and good. However, as an option, no changes would take place for those users unless they choose it. Additionally, if the option is available in the Processing Queue %p1/%f, then it makes sense to have the option in the Export to External Editor as it maintains continuity in the workflow.

[2021-05-07 15:33] marter001 commented on #6229
yes, youre right, i saw that issue after setting up this one. I will wait, until #5664 is closed.

[2021-05-07 16:53] waynesutton50 commented on #6195
This feature seems to be in the latest ART build
![Screenshot from 2021-05-07 18-48-39](https://user-images.githubusercontent.com/73446985/117482973-6ec69d80-af65-11eb-9d1a-771ed4a863d7.png)

[2021-05-07 18:14] Stuntflyer commented on #6195
Aha! Seems like a perfect solution that would keep everyone happy. Could this be ported over to RT?

[2021-05-07 18:30] rebio commented on #6224
Just a guess on my side, but I think it's related to #5691 ("Lens autodetect can't find Canon EF-M 18-55mm lens").
It's not RT but lensfun as far as I know.
See also https://github.com/lensfun/lensfun and maybe drop the issue there

EDIT: After taking a look at #5363 ("Canon EOS RP should be supported, even without .CR3 format suport") I'm pretty sure it's lensfun

[2021-05-07 18:38] Jacalz commented on #6224
Lensfun does not contain corrections for this lens as far as I know. Can it really be causing this issue then?

[2021-05-07 21:15] nomar500 opened #6230 "M1 mac segmentation fault crash"
Sorry for the unspecific title - I don't have a clear view on the scenario that led to this, yet.

- environment:
  - mac os big sur 11.3
  - arm64 M1 Mac
  - RT-5.8 dev

- happened only once (haven't reproduced so far),
- scenario:
  - inspect at 100% an inverted image (with `filmneg` film negative module),
  - exact action is not identified: I was probably using the `filmneg` white balance tool,

[2021-05-08 09:54] rebio commented on #6224
Not sure on this, but I think RT uses lensfun for extracting the lens name as well (would make some sense since it would need to pass on the data to lensfun to select the correct profile anyway. So why not use their naming directly?)

[2021-05-08 10:09] Jacalz commented on #6224
Good point. Will see if I can make some corrections for the lens and put it into lensfun.

[2021-05-08 18:07] Thanatomanic commented on #6139
@Beep6581 While you may have fixed the AppImage build, the Windows builds seem to have completely disappeared. Any clue as to why?

[2021-05-08 22:37] Beep6581 commented on #6139
@Thanatomanic both the AppImage and Win64 were broken for months. I deleted both obsolete nightly builds, and the AppImage was recreated once I fixed the AppImage build process. I spent several hours trying to get the Windows build working again, but it's not fixed yet. The process is very messy, and I fear it might be failing in a third-party dependency from a repo to which I don't have write acc

[2021-05-09 05:37] Desmis commented on #6195
@Stuntflyer @AndyAstbury @waynesutton50 @Thanatomanic @TechXavAL

I also find for my personal use that having the file elsewhere than "temp", is better, especially "same as input image" .

I did a quick test to port some of the ART code, it seems to work, but I need to check.

If no one objects, and if no one has started work, especially Ingo @heckflosse , then I could propose a new branch to test

[2021-05-09 05:52] Lawrence37 commented on #6224
As far as I know, RT does not get the lens name from Lensfun.

[2021-05-09 05:52] Thanatomanic commented on #6195
@Desmis Thanks for looking at the ART implementation! If you can make a PR we can test to see if it works.

Side-note: I don't object at all to implement this, even include this is in 5.9 as long as it works. Though, if only some of the [274 older other proposed enhancements](https://github.com/Beep6581/RawTherapee/issues?q=is%3Aopen+is%3Aissue++label%3A%22type%3A+enhancement%22+) would get such a

[2021-05-09 05:55] Thanatomanic commented on #6224
@Lawrence37 Correct. The issue @rebio filed with the lensfun team is moot. This has to do with the metadata extraction that RT does. Our `rtexif` module needs manual updates by cross-checking the lens and camera identifiers that `exiv2` and `ExifTool` support. This is something we should definitely do before releasing 5.9 (or #5889 needs to be merged).

[2021-05-09 05:57] Desmis commented on #6195
@Thanatomanic
I check the code and the changes, and if everything works as I want, I will open a PR this morning  :)

Jacques

[2021-05-09 06:15] Thanatomanic opened #6231 "Using Ninja build system (on Windows)"
Edit: I've edited my post after @ff2000 pointed out I was overlooking something important...
~~Compiling or recompiling RT on Windows in MSYS2 using the currently suggested approach takes _a lot_ of time. The main issue is that we use "MSYS Makefiles" and `make`. However, building for Ninja works without fail as well and is _much_ faster.~~

There is the option to use the Ninja build system out of

[2021-05-09 06:24] ff2000 commented on #6231
Could it be that ninja automatically builds multiple objectfiles at once (number determined by CPU cores/threads) while MSYS Makefiles just runs 1?
Does MSYS Makefiles support "-j" switch? And does it speed up the build?

[2021-05-09 06:33] Thanatomanic commented on #6231
Oh boy, I feel silly. Yes, Ninja is multithreaded out of the box which explains the speed-up perfectly.
When running `make -j6 install` with the MSYS Makefiles approach the build process takes 7m32s which is comparable.

Still, there may be two arguments to go for Ninja:
1. It runs the maximum number of parallel jobs automatically 🙃
2. From what I read online, it is supposedly faster when recompil

[2021-05-09 07:14] Desmis commented on #6195
I push a change in a new branch "output_folder"
https://github.com/Beep6581/RawTherapee/tree/output_folder

jacques

[2021-05-09 07:40] Thanatomanic commented on #6231
I've done some more testing. Ninja does seem consistently faster.

3 runs with MSYS Makefiles + `make -j6 install`: 7m32s, 7m8s, 7m39s
3 runs with Ninja + `cmake`: 6m37, 6m28, 6m25

Just to be sure, I also did a MSYS Makefiles + `cmake` run, which also ended up taking >7m, so it seems that Ninja is the real cause of the speedup.

[2021-05-09 08:37] heckflosse commented on #6195
If we could move this
![grafik](https://user-images.githubusercontent.com/13733487/117565631-8495a900-b0b2-11eb-83fe-782cc8c08242.png)

a little but upwards...

[2021-05-09 08:57] Desmis commented on #6195
@heckflosse
The text of "Output directory" is aligned with that of "Gimp instalation directory".
But the fact that Alberto added a "frame" - and I don't see how we can do otherwise, - gives this impression of being lower

Modifying this seems to me (who is not a GUI specialist at all) difficult

[2021-05-09 11:29] AndyAstbury commented on #6195
For goodness sake leave it alone - it works just fine where it is.  If I can work it out then anyone can, so there is - imo - no need for any changes.

[2021-05-09 11:38] Thanatomanic commented on #6195
Please keep things civil. Everyone has the right to comment on whatever they see fit.

[2021-05-09 11:48] AndyAstbury commented on #6195
As Jacques said "Modifying this seems to me (who is not a GUI specialist at all) **difficult**

The fact that the facility is in there is of EPIC importance, its positioning isn't, so WHY make work when you don't have to???
As for me being UNCIVIL - well....................

[2021-05-09 13:12] heckflosse commented on #6195
As the misalignment is only in preferences dialog (which is opened not so often), the misalignment is not a reason to not merge this.

But this is something which needs to be fixed:

![grafik](https://user-images.githubusercontent.com/13733487/117573536-bf123c80-b0d8-11eb-9e25-c677caab6064.png)

I saved to the folder `Z:\Eigene Bilder`. Obviously the path (which includes a space) is not passed cor

[2021-05-09 13:22] heckflosse commented on #6195
I just checked. It's not related to the change. But exporting a file which has a space in filename or foldername (in case of saving to current folder) fails to open in GIMP.
@AndyAstbury Can you test this case with photoshop please? Just rename a file so it has a space in its filename and try to export this file from RT to photoshop?

[2021-05-09 13:43] Desmis commented on #6195
@heckflosse

Ingo
I just tested with a file - as "play raw.nef"...
No problem to open in preview, and export in current folder to Photoshop (my very old version) works

Jacques

[2021-05-09 13:46] heckflosse commented on #6195
@Desmis Ok, maybe this happens only when exporting to GIMP.

Nevertheless I will try to fix this and also let's wait for a test from @AndyAstbury

[2021-05-09 13:59] Desmis commented on #6195
I  tried  - always with Photoshop - and "play raw.nef"
* in current folder
* in "os temp dir"
All works fine
But of course  let's wait for a test from Andy

I am on Windows8, and my images are in F:Cou
Jacques

[2021-05-09 14:20] Stuntflyer commented on #6195
Only because I'm not totally familiar with the process do I ask this. Can the feature be merged into an upcoming release or does this have to wait until 5.9?

Mike

[2021-05-09 14:32] heckflosse commented on #6195
5.9 is the upcoming release

[2021-05-09 16:21] AndyAstbury commented on #6195
I'm on MAC am I not?
No MAC build with this feature.
So I run virtual LINUX - and Adobe do not service Linux so I can't test it with Photoshop.

However, it works perfectly sending to GIMP. The image opens correctly and the file resides in the parent raw folder (this folder is shared between MacOS and Linux).
Loading the image into MacOS Photoshop 2021 reveals the image is my desire colour space a

[2021-05-09 17:10] Stuntflyer commented on #6195
I should have asked if the feature could be implemented in an upcoming dev build?

[2021-05-09 19:56] Queatz commented on #6184
@Floessie

Finally I found the AboutThisBuild.txt file:

[code]

[2021-05-09 20:35] Queatz commented on #6184
I built just using `cmake` w/o `./build-rawtherepee` and I no longer have the issue.

Edit: Scratch that.  It appears that the issue goes away with `Debug`, but is there with `release`

[2021-05-09 20:51] gaaned92 commented on #6231
Thanks for improvement. I tested building RT and ART.
It requires minimum modifications of procedures and the builds are OK.
I didn't make benchmarks but if it improves the rebuilding speed, it's all benefit.

You have a typo. It works with a blank before install
`cmake --build . -- install`

You can also speed up CMAKE by defining in `.bash_profile`
`export CMAKE_BUILD_PARALLEL_LEVEL="n"
`
Once a

[2021-05-09 21:11] gaaned92 opened #6233 "Windows 10: Raw therapee window located out of screen"
System: windows 10

RawTherapee versions: all recent versions for all builds, stable, official nightly, my own nightly builds

reference: https://discuss.pixls.us/t/cant-start-the-latest-dev-version-of-rawtherapee-for-win64/24746/27

Description : from time to time, it can happen that in the option file/ GUI section, the two variables WindowX and WindowY are overwritten with garbage (-32768).
The

[2021-05-10 06:05] Thanatomanic commented on #6231
@gaaned92 Thanks for testing that it works on your end!
I made a different typo actually, the proper command should be `cmake --build . --target install`.

[2021-05-10 08:52] Floessie commented on #6195
@heckflosse

Could it be #5463?

[2021-05-10 10:34] Desmis commented on #6195
@Floessie  @heckflosse

If the "problem" is  " " (white space) in folder, the simple code here solved that (in Editorpanel.cc - idle_sendToGimp)

        while (Glib::file_test (fileName, Glib::FILE_TEST_EXISTS) && tries < 1000) {
            fileName = Glib::ustring::compose ("%1-%2.%3", fname, tries, sf.format);
            tries++;
        }

        //printf("Filename=%s \n", fileName.c_str())

[2021-05-10 11:44] Beep6581 commented on #6224
I'll do it One Last Time© for 5.9, then its exiv2 mergy mergy time.

[2021-05-10 11:44] Beep6581 commented on #6224
No need to have this issue open.

[2021-05-10 11:44] #6224 closed, assigned to nobody

[2021-05-10 11:49] Thanatomanic commented on #6233
I guess we need some logic here to make sure the windows will render in actually available, visible screen space:
https://github.com/Beep6581/RawTherapee/blob/3ad786745cf11fade334ff41aad0573dfcd7c04e/rtgui/rtwindow.cc#L522-L533

For reference: https://developer.gnome.org/gdk3/stable/GdkMonitor.html#gdk-monitor-get-geometry

[2021-05-10 12:54] Jacalz commented on #6224
Is there any plan on when 5.9 will release then?

[2021-05-10 13:26] Thanatomanic commented on #6224
If you look at the main Issue page, it is one of the two pinned issues: https://github.com/Beep6581/RawTherapee/issues/5632

[2021-05-10 13:59] Jacalz commented on #6224
Thanks 👍

[2021-05-10 14:01] Jacalz commented on #5632
Is there anything that I could help out in terms of this release? I have quite basic understanding of C++, but I'd be willing to possibly help out in some way when I have the time to do so.

[2021-05-10 15:53] chaimav opened #6234 "Local Adjustments should have consistent GUI"
I appreciate all of the hard work on the new LA module, but I have a request/comment to implement prior to release. Right now the GUI is not very consistent, particularly with 'scope' and 'strength'. I believe these should show up in the same place for every tool, e.g. the top or bottom.
![scope   strength](https://user-images.githubusercontent.com/47765782/117687726-0e627680-b186-11eb-8d73-a7e4a4

[2021-05-10 15:57] Thanatomanic commented on #6234
When working on the changed CSS theme, I've expressed my intention before to make sure to give the GUI a thorough review after the next release. For now, I think we should not put too much attention to this, but your comments are duly noted.

[2021-05-10 17:56] Beep6581 commented on #5901
@kdm9 branch `metadata-exiv2` needs to be tested and issues ironed out.

[2021-05-10 19:16] ghost commented on #6048
For information, I borrowed a third machine running Ubuntu 18.04 (a Lenovo Thinkpad T420 laptop) and ran the Appimage RawTherapee_dev_5.8-2854-g1c9d1f5_20210510.AppImage
The behaviour was the same as previously reported using two different Dell desktops running Ubuntu 18.04 and 20.04 respectively.
The problem is slightly less distracting on the laptop because the screen contrast is lower than on t

[2021-05-11 04:34] Lawrence37 opened #6235 "Noise Reduction Detail Recovery Different from 5.8"
From here https://discuss.pixls.us/t/noise-reduction-in-dev/24621
Detail recovery is more aggressive in the current dev compared to the 5.8 release.

I have bisected the commits and found it is caused by 806c086fbcc92c6a11bb714d1bce37b13d41c34b. Patch coming soon.

[2021-05-11 05:06] #6235 closed, assigned to Lawrence37

[2021-05-11 05:28] Thanatomanic commented on #6235
@Lawrence37 great find! Such a subtle thing..

[2021-05-11 07:48] Desmis commented on #6195
I pushed a possible fix, if "white space" are in folder;
It's not related to the change, but it prevents Gimp from working.
Now it works, I replace " " by "_"

Jacques

[2021-05-11 08:56] Pandagrapher commented on #6233
Application position is also retrieve before being saved in `option` file when RT is closed:
https://github.com/Beep6581/RawTherapee/blob/3ad786745cf11fade334ff41aad0573dfcd7c04e/rtgui/rtwindow.cc#L856-L872

However here, we don't check if application is visible before getting (and saving) position. I am wondering if weird position cannot be retrieved if application was minimized before being clos

[2021-05-11 09:02] Thanatomanic commented on #6233
Even on a dual monitor setup negative values mean that you have the top left corner of the window outside of the visible screen area. I was curious to see whether maybe my secondary monitor to the left of my main monitor would result in negative values _relative to the main screen_, but that is not the case.

No clue about how other OSes do things, but for Windows it would make sense to simply dis

[2021-05-11 11:40] Desmis commented on #6234
@chaimav  @Thanatomanic @AndyAstbury

This harmonization is not self-evident...

I tried, following Andy's request, to add "strength" sliders to harmonize. But the "strength" slider hides very very different things beyond its name...and in some cases, the slider "scope" is common to several tools...you can't have everything and its opposite :)

For example in the case of "denoise" or "Color and li

[2021-05-11 12:14] AndyAstbury commented on #6234
When I first raised the 'strength' subject I was envisaging a SPOT strength control.
Under normal circumstances LA spots are "100%" strength.
When doing LA denoise it can be difficult to get the exact amount of denoise required using scope etc.
But getting it in the ball park with conventional adjustments and then tweaking the strength of the LA spot down a little makes for perfect levels of denoi

[2021-05-11 12:33] chaimav commented on #6234
Another option for the spot strength slider name could be 'efficacy'.
Per [dictionary.com ](https://www.dictionary.com/browse/efficacy) "capacity for producing a desired result or effect; effectiveness:"

Some other options (in approximate descending order of how I would choose them) could be:
[intensity](https://www.dictionary.com/browse/intensity)
[potency](https://www.dictionary.com/browse/pote

[2021-05-11 13:06] Desmis commented on #6234
First of all I have to thank Andy, for this request, which may at first seem redundant, but in the end is very useful. Among other things, it allows you to apply a combination of tools with different percentages depending on the images and/or the location.

For me, as it is implemented in various places in LA that satisfies me.
Should the user know that it is a percentage or direct action on the a

[2021-05-11 13:09] chaimav commented on #6234
I recommend choosing the best name _before_ 5.9. A stable release should not be subject to having tools renamed. It would be very confusing for users.

[2021-05-11 13:27] Desmis commented on #6234
OK no problem for me :)

if we list all the tools that you suggest for each of them....You will see that the exercise is difficult - in fact we do semantics (with different languages... what has a dominant meaning in French, is not the same in English...).
Make your proposals

In fact the current labels (and tooltips) have been worked on for over a year now with the precious collaboration of Wayne

[2021-05-11 13:31] Thanatomanic commented on #6234
I want to reiterate my first remark, because reviewing labels and weighing words is a long process, as Jacques describes

The default language file needs to frozen at some point so that people can really start providing translations for the upcoming release (see #5664).

[2021-05-11 14:17] chaimav commented on #6234
I think regardless of the algorithm, if the slider is capable of modulating the overall affect the the spot has, a single term can be used for the slider. As @AndyAstbury said, he just wants add some finesse to the tools
#6221
I also think it should always be either on the top or bottom of every applicable tool next to scope.

[2021-05-11 15:39] waynesutton50 commented on #6234
The point raised is a good one because in some cases the presence of multiple Strength sliders in the same tool could cause confusion (e.g. in Color & Light). Intensity would be an acceptable alternative but RT already uses both Strength and Amount in the various tools so adding a third term is probably not a good idea. If everybody thinks that we should clarify the function in V5.9, my recommenda

[2021-05-11 15:59] chaimav commented on #6234
I am ok with 'overall strength' but maybe 'tool strength' is better. The word tool is already used in 'add _tool_ to current spot' and 'scope (color _tools_)'

[2021-05-11 16:13] waynesutton50 commented on #6234
The problem as Jacques pointed out is that the slider doesn't necessarily apply to all the functions in the tool so we need to be careful.

[2021-05-11 16:20] simohno commented on #6233
I found just here that I was experiencing the same very annoying issue: from time to time, apparently the RT main window stopped loading at all, and the sole solution for me was to delete the _options_ file and have it regenerated to all the defaults by RT (annoying because I lost all the customizations!). A non-experienced user (not knowing even the AppData\Local\RawTherapee... folder) would have

[2021-05-11 17:37] Desmis commented on #6234
I agree with Roel @Thanatomanic ... it is now too late to make label changes...except to delay 5.9 again.

On the other hand, we can take advantage of this "issue" to start a process on the revision of labels / tooltips and documentation (Rawpedia, video, etc.):
Who ? Where ? When ? Why ? How ?, etc.  and it is already not without difficulties.

When I look at the time spent with Wayne @waynesutto

[2021-05-12 10:54] Pandagrapher commented on #6233
Just made some test on a Windows 10 PC:
- When RT is fullscreen, `WindowX/Y` can be negative (-8, -8). I guess it's because there is no application border in fullscreen mode (8px border?)
- When RT is minimized and closed while being minimized, `WindowX/Y` is systematically saved at (-32000, -32000)!

I gonna try to see if I can improve the code to be more robust.

[2021-05-12 13:05] Beep6581 commented on #6234
In fact, I will make changes to labels and move or delete tooltips for 5.9 - issue #5664. That issue will cover all tools except for Local Adjustments.

The issue here is that it is not clear which widgets relate to which sub-tool and why widgets are not ordered in a consistent way.

@Desmis why is "Scope" in "Dynamic Range & Exposure" (and in most sub-tools) at the top, but in "Dehaze & Retinex"

[2021-05-12 14:26] Desmis commented on #6234
I am not at home, but at my children's home with a somewhat problematic installation of my computer.

I’m not sure that I have understood all your comments, however, I have created a branch “lachange” that:
* Changes the tooltip option in RT Preferences to “Off” by default.
* Moves the Inverse checkbox to the top as suggested.
* Changes the global Strength slider (added at Andy Astbury’s request)

[2021-05-12 17:07] Pandagrapher commented on #6233
I worked on a fix in the following branch:
https://github.com/Pandagrapher/RawTherapee/tree/window_position_fix

I have made the following changes:
- When, in code, RT window is moved to a specific position, is toggled fullscreen or not, is maximized or not, window position is not anymore updated in `options`. This will reduce the risk of having incoherent position value because of asynchronous GU

[2021-05-13 04:33] Desmis commented on #6195
I added "verbose" in the console when "white-space" are found in folder ("white spaces" are replaced by "_")

Under "windows 8", everything works correctly (on my system) when there are "white-spaces", both with Gimp and Photoshop (or the replacement is not mandatory)
Has anyone tried under other systems (Linux,...)

Jacques

[2021-05-13 04:49] Lawrence37 commented on #6195
If I export to a folder with a space in it, this will cause the image to be saved in a different folder, which is not what a user expects. We should figure out why spaces do not work and fix that instead of overwriting spaces.

[2021-05-13 04:54] Desmis commented on #6195
OK, only if White space are in the "folder"...,  but this behavior is not reported to this issue and its old...! what we do

jacques

[2021-05-13 05:14] Lawrence37 commented on #6195
Just for information, it works fine on Linux. Exporting to GIMP using a folder with spaces works correctly even without converting spaces to underscores.

[2021-05-13 05:31] Desmis commented on #6195
That confirm what says Andy, It seems only a windows problem..with Gimp

Jacques

[2021-05-13 06:16] Desmis commented on #6195
Even if it's not the "good" solution, I change replace "WS" by "_" only if "windows" and if user choose "Gimp" as external editor...

[2021-05-13 06:42] Thanatomanic commented on #6195
I think the fix for Windows is as easy as this:
[code]

Edit: this should do it, the white space solution is no longer needed

[2021-05-13 06:59] Desmis commented on #6195
@Lawrence37
I test your patch, works fine.
No more problem with Windows and gimp
And for other cases, Linux, Photoshop...all works fine

I think we can say  the bug is fixed :)

I just push the commit 09ae3f6a1

Thank you

Jacques

[2021-05-13 09:38] Thanatomanic commented on #6048
@pseudopanax I just tested again with the `RawTherapee_dev_5.8-2856-g3cb6e88_20210512.AppImage` on a fresh Ubuntu 18.04 installation in my VM. When running the AppImage you have the choice to integrate it with the system. I tested both options, but I cannot reproduce any glitches in the GUI.

I don't know anything else to try to help you out. It's weird you can reproduce it on two other machines,

[2021-05-13 10:44] Desmis commented on #6195
@Thanatoma @heckflosse @Lawrence37  @AndyAstbury  @waynesutton50  @TechXavAL @Stuntflyer @Floessie

Thank you all for your contribution :)

merge :)

jacques

[2021-05-13 10:54] #6195 closed, assigned to nobody

[2021-05-13 14:52] Lawrence37 commented on #6195
@Desmis The patch was made by @Thanatomanic 😉

[2021-05-13 15:11] Desmis commented on #6195
@Thanatomanic  @Lawrence37

OK, thank you, excuse me for the confusion

jacques

[2021-05-13 17:41] Thanatomanic commented on #4531
Recent Adobe Camera Raw has a color matrix available, but adding it to `camconst.json` is not useful yet because the metadata is not read. For future reference: `{8532, -701, -1167, -4095, 11879, 2508, -797, 2424, 7010}`

[2021-05-13 17:53] Thanatomanic opened #6236 "Olympus E-M10 Mark IV has pink highlights despite `camconst.json` entry"
After https://github.com/Beep6581/RawTherapee/commit/6c96bf7507d631284c4c71134f12e09e3dbe9090 I added this entry to `camconst.json`,
https://github.com/Beep6581/RawTherapee/blob/6c96bf7507d631284c4c71134f12e09e3dbe9090/rtengine/camconst.json#L1986-L1990

However, this sample file https://raw.pixls.us/getfile.php/4132/nice/Olympus%20-%20E-M10%20Mark%20IV%20-%2016bit%20(4:3).ORF still shows strong p

[2021-05-13 18:00] Thanatomanic opened #6237 "Leica M8 sample interpreted with wrong bit depth"
When preparing https://github.com/Beep6581/RawTherapee/commit/6c96bf7507d631284c4c71134f12e09e3dbe9090 I checked this https://raw.pixls.us/getfile.php/2988/nice/Leica%20-%20M8%20-%208bit%20uncompressed%20(3:2).DNG sample and it seems like the file is being interpreted with a wrong bit-depth.

![image](https://user-images.githubusercontent.com/6567747/118166344-a762ed00-b425-11eb-8d83-45dd4d312dcc.

[2021-05-13 18:54] Thanatomanic commented on #5632
Today I've made a good round on updating `camconst.json` to support more camera's with minimal color matrix support: https://github.com/Beep6581/RawTherapee/commit/fc4814420be0fa508e14be0bf0472d2d697132ae https://github.com/Beep6581/RawTherapee/commit/6c96bf7507d631284c4c71134f12e09e3dbe9090 and https://github.com/Beep6581/RawTherapee/commit/8fafaa7aba92b2f607f0a055bb35af26825eabe4. In total about

[2021-05-13 19:29] Jacalz commented on #5632
Thanks for the information @Thanatomanic. I will start with giving the development version a go to see if I can find any issues in my general  editor workflow and file any bugs that I might find. Then we can see where we get from there 🙂

[2021-05-14 05:19] #6071 closed, assigned to nobody

[2021-05-14 05:25] #5813 closed, assigned to nobody

[2021-05-14 08:32] ghost commented on #6048
I'm not sure that this problem is specific to me given that it has been reproduced on several machines. To recap:
-It has been reproduced on 3 different PCs:
	2* Dell Optiplex 3020 (one running Ubuntu fully updated 18.04, one with 20.04)
(tests on a 3rd Dell Optiplex running Win10 to see if it was somehow hardware/firmware related did not show any anomalies).
	1 * Lenovo Thinkpad T420 running Ubun

[2021-05-14 08:36] Thanatomanic commented on #6048
Just to be clear, I wasn't dismissing your bug. It's just that when I cannot reproduce, I cannot find a fix either, except to roll back all css changes.

@Beep6581 What do you reckon?

[2021-05-15 02:06] Stuntflyer commented on #6195
Thank you all for your contribution in making this an RT feature.

@Stuntflyer Mike

[2021-05-16 13:20] waynesutton50 opened #6240 "Suggested tweak to RT website description"
ART is positioned as:

The tradeoffs in terms of

mean that the two applications will inevitably appeal to different types of user. The following changes (in bold type) to the RT website "About" description are suggested in an attempt to better define the target audience for RT and help manage user expectations,

[2021-05-16 14:33] AndyAstbury commented on #6240
Not as blunt as I would have put it - but that's most probably a GOOD THING!

[2021-05-16 15:42] Jacalz commented on #3543
I am seeing this now again when building the upcoming 5.9 release (from https://github.com/Beep6581/RawTherapee/commit/c075f84fce6884b5993f94b6d2ca33ca4805a303).

[code]

[2021-05-16 15:48] Thanatomanic commented on #6240
For reference the current text:

RawTherapee provides a powerful suite of tools for you to produce amazing photos and showcase your creativity.

I fully agree with the changes to the second sentence.

As for the first sentence, I agree that managing expectations for new users is important. In that sense, Wayne's proposal is good. However, I have two doubts. First, the phrasing now excludes a speci

[2021-05-16 16:21] Jacalz commented on #5632
I built the latest development commit (https://github.com/Beep6581/RawTherapee/commit/c075f84fce6884b5993f94b6d2ca33ca4805a303) for Linux to try it out. There was some warning is in the console, see https://github.com/Beep6581/RawTherapee/issues/3543#issuecomment-841834546, but the compile worked perfectly otherwise. In general, things appear to be working quite well.

[2021-05-16 17:05] Thanatomanic commented on #6231
I've rewritten http://rawpedia.rawtherapee.com/Windows extensively and simultaneously included Ninja. Closing for now.

[2021-05-16 18:22] Lawrence37 commented on #6115
Some minor behavior changes in #6222:
- Window is initially full-screen. You can resize the window and your window manager will remember the size until you close RT.
- Right-click thumbnail -> Inspect shows full image instead of a 1:1 view.

[2021-05-16 18:38] Lawrence37 commented on #6184
I tried a dev release build in an Ubuntu 21.04 environment and could not reproduce the issue. The fact that only your release build shows the problem is a clue... I'm assuming your debug and release builds are based on the same commit?

[2021-05-16 18:41] Queatz commented on #6184
Yup exact same commit.  I actually may have previously upgraded various system components to 20.10.  I've been fully on Ubuntu 20.10 since it launched.

[2021-05-16 18:58] Queatz commented on #6184
One other thing, I did notice small artefacts on one photo I saved with the debug build (out of about 40.)  So it may be that the debug build is slower which causes the artefacts to not form as much.

[2021-05-16 19:35] Lawrence37 commented on #6184
Tried with 20.10 and still couldn't reproduce :open_mouth:

[2021-05-16 20:36] #2239 closed

[2021-05-17 00:29] Lawrence37 opened #6241 "Update Documentation for Perspective Tool"
Because I am the author of the camera-based perspective correction, I am providing some key information about this tool so that someone who is qualified can write easy-to-understand documentation and update the lens and geometry section of RawPedia.

## Simple vs. camera-based
Simple is the perspective tool prior to 5.9. It is there to provide compatibility with older processing profiles and provi

[2021-05-17 05:17] Thanatomanic commented on #6139
Hi all, there is a steady stream of users getting lost finding a nightly build (for Windows in particular). I've just updated RawPedia to reflect the download information: http://rawpedia.rawtherapee.com/Download and I have included the automated builds by @gaaned92 and @Benitoite
I cannot update the website, but will make a post on Pixls to address some common questions.

Edit: here's the topic o

[2021-05-17 06:36] waynesutton50 commented on #6240
Of course the decision is not mine, but it is worth bearing in mind that a broad definition of who the software is aimed at benefits both users and developers.
It can help users find the software that best suits their needs, which doesn't mean that any particular group is 'excluded'  - your own experience being a case in point.
It can also help provide developers with a degree of focus and allow t

[2021-05-17 08:41] aferrero2707 commented on #6139
Hi all, this message is just to let you know that I am hopefully back to business on this, and that I plan to finally put my hands on those issues starting from today. I really apologize for the long silence, but life had been quite tough lately and my spare time was reduced to zero. Hopefully things will get better from now on...

[2021-05-17 12:37] Jacalz commented on #5632
The only thing that I'm not a huge fan of is the new look for the inspector panels. I think the styling in 5.8 looked better and more modern.
![image](https://user-images.githubusercontent.com/25466657/118489548-3f5e2080-b71d-11eb-8d3c-872ee701ff5a.png)

[2021-05-17 13:12] waynesutton50 opened #6242 "Spot removal tool: Spot button toggles profiled lens correction on/off when tool is disabled"
The spot-removal button toggles the profiled lens correction on/off, even if the spot-removal tool itself is turned off.

Steps to reproduce:

-Load an image that has visible lens-distortion correction when the profiled lens correction is turned on
-Go to the Spot removal tool in the Detail tab and toggle the spot button. The tool itself does not have to be enabled.

Tested with AppImage RawTherap

[2021-05-17 13:32] heckflosse commented on #6242
Confirmed

[2021-05-17 13:42] ghost commented on #6242
Is this a bug?

I've noticed this behaviour before and I always believed that disabling lens correction was needed because spot removal comes before lens correction in the pipeline and to  be able to do its job correctly lens correction needs to be disabled for the moment. This is an assumption of mine, though, spot removal isn't yet mentioned on the RawPedia Toolchain Pipeline page.

The spot rem

[2021-05-17 13:59] heckflosse commented on #6242
I've noticed this behaviour before and I always believed that disabling lens correction was needed because spot removal comes before lens correction in the pipeline and to be able to do its job correctly lens correction needs to be disabled for the moment.

The bug is, that lens correction is disabled even if spot removal is disabled while you toggle the spot button

[2021-05-17 14:00] Thanatomanic commented on #5632
@Jacalz Please see https://github.com/Beep6581/RawTherapee/pull/5929 for earlier (long) discussion. There is a Legacy theme available for those who don't like the changes. And further changes may happen for later versions.

[2021-05-17 14:04] ghost commented on #6242
So my assumption is correct but I'm way of the mark here nonetheless... I'll shut up now :zipper_mouth_face:

[2021-05-17 14:35] waynesutton50 commented on #6242
I've just checked ART 1.8.4 again. The spot button doesn't disable the lens correction no matter what state the tool is in (enabled or disabled)

[2021-05-17 14:38] Jacalz commented on #5632
Thanks, though I don't think it all applies to why I prefer the old one. I think the correct look could be tweaked to look perfect with rounded corners and perhaps a bit more contrast.

[2021-05-17 15:30] Thanatomanic commented on #5632
@Jacalz Please open a separate issue if you want to discuss this further. Let's try to keep this thread focused on what is needed to release v.5.9.

[2021-05-17 16:32] AndyAstbury commented on #6242
Whether my problem with the spot tool is connected here or not I don't know but I did a small [vid showing my problem ](https://youtu.be/aZ-HTog-2UA)

Or is just me displaying operator error?

[2021-05-17 17:05] ghost commented on #6242
@AndyAstbury : This is not related to the lens correction issue it seems.

I'm not able to replicate your issue of placing the source spot on Linux (Buster/Debian 10.9) with the very latest RawTherapee (version 5.8-2959-g7840cdea8).

As far as I can tell it isn't user error: Set destination circle, grab circle holding left mouse button and move it. Let go of left mouse button. Done. Then you could

[2021-05-17 18:24] heckflosse commented on #5632
There are some old open documentation issues (blocking RT 5.9) for which I'm not able to provide documentation at the moment (for example pixelshift). Do we really need to treat them as 5.9 blockers? I don't think so...

[2021-05-18 05:23] Lawrence37 commented on #6242
This behavior is intentional as far as I know. Like every other tool, it is possible to make adjustments even if the tool is disabled. You can edit the spots with the spot removal disabled. Since the spot removal is applied before lens and geometry, they are disabled to give an accurate way to position the spots. Whether the behavior with the tool disabled is user-friendly or not, I do not know.

[2021-05-18 05:25] Lawrence37 commented on #6242
@AndyAstbury I fixed a visual bug for the linking line. I will look at the other problems later.

Edit: I did not notice the other issues on my build, so this might take some time to fix. Could you please try adding spots with Ctrl + click-and-drag instead of a simple ctrl + click and see if that also causes issues?

[2021-05-18 06:47] Desmis commented on #6231
@Thanatomanic
I just update msys2 with
Pacman -SYuu
then
Pacman -Syu

Then I open a new clone

When I want to compile
I get

jacques@pc-bureau MINGW64 ~
$ cd /g/code/repo-rt2/build

jacques@pc-bureau MINGW64 /g/code/repo-rt2/build
$ cmake -G "Ninja" -DLENSFUNDBDIR=share/lensfun -DCMAKE_BUILD_TYPE="release" -DPROC_TARGET_NUMBER="2" -DCACHE_NAME_SUFFIX="5-dev" ..CMake Error: CMake was unable to find

[2021-05-18 06:50] Thanatomanic commented on #6231
Thanks @Desmis, I thought I had read that Ninja was part of the default installation of MSYS2. I guess I was wrong.
Could you try `pacman -S mingw-w64-x86_64-ninja` and then try to build again?

[2021-05-18 06:52] Desmis commented on #6231
I will try this morning :)

jacques

[2021-05-18 07:07] Desmis commented on #6231
@Thanatomanic

Ok, works fine
Thank you
Jacques

[2021-05-18 07:51] Thanatomanic commented on #6231
I've updated RawPedia to reflect this.

[2021-05-18 07:51] #6231 closed, assigned to Thanatomanic

[2021-05-18 08:06] Desmis commented on #6231
ok thank you :)

[2021-05-18 09:27] AndyAstbury commented on #6242
@Lawrence37 Just updated to latest build, tried it with my usual Bluetooth Kensington Trackball and have exactly the same problem.
However, if I use my wired Wacom it works perfectly and I can move both spots and they remain joined by the linking line.
Just tried using my Mac Bluetooth mouse and have the same problems, so it appears to be a un-wired mouse problem with either RT, Linux or my Parall

[2021-05-18 14:32] aferrero2707 commented on #6139
@Beep6581 @Thanatomanic the Win64 automated build should be fixed now, or at least I have been able to generate a fresh package. The main problem that remained on top of what Morgan already fixed was a mismatch in the GPG signatures of the MSYS2 packages. The solution to properly update the keyring (see [here](https://github.com/aferrero2707/rt-win64/blob/master/ci/build-msys2.sh#L24)) looks a bit

[2021-05-18 15:04] Thanatomanic commented on #6139
Hi @aferrero2707, thanks for this and good to see you're back! I had the keyring issue on my machine as well and it was indeed very hacky to get MSYS2 working again... but the instructions were helpful and it worked.

I would really like to learn about how the automated builds actually work - where do they come from - how can we fix things in the future when you're not be available - etc. Would yo

[2021-05-19 00:46] j1mr10rd4n commented on #6230
The crashed thread was #17, in `libomp.dylib`. Did you compile against the newest llvm/libomp 12.0.0 by any chance?
I've had this happen on my intel mac and fixed it by installing the previous versions of llvm/libomp 11.1.0 (using homebrew)

[2021-05-19 05:19] Lawrence37 opened #6244 "On-Preview Editing Widgets: Crashes and Other Issues"
@AndyAstbury Let's continue the discussion from #6242 here. I managed to trigger a crash while dragging a spot and pressing the enter/return key. It also happens with the graduated filter and perspective control lines. Can you confirm if your bluetooth mice have issues with these tools as well?

**Bug Description**
1. On some hardware, releasing the mouse button while dragging a spot removal spot

[2021-05-19 05:45] Thanatomanic commented on #6242
I agree that this is not a bug, but intentional behavior. The same thing happens with e.g. the Graduated Filter and Local adjustments: even if those tools are off, you can still modify their on-preview widgets. The only difference with the spot removal tool is that it _has_ to work before lens corrections and will automatically disable them.
Changing this behavior for one tool only makes little se

[2021-05-19 06:06] Thanatomanic commented on #6242
Also,

I've just tested `ART 1.8.4-25-g1db84c6f4` and toggling the spot editor also toggles the automatic lens correction. The only difference ART has, is that when you disable the tool, the spot editor is closed as well and the lens corrections are enabled again. In RawTherapee the spot editor remains active.
I am not in favor of copying the behavior from ART, unless we also make it so that when

[2021-05-19 06:48] waynesutton50 commented on #6242
I tested an earlier 1.8.4 commit (b0bdd1fda675) so maybe there have been changes since then. However, the real concern is that switching 'off' the Spot Removal power button doesn't restore the profiled lens correction if the spot button has been toggled on and no further action taken. This isn't a problem if the lens distortion is obvious (eg significant barrel distortion) but this isn't always th

[2021-05-19 09:10] #4786 closed, assigned to nobody

[2021-05-19 09:14] #2674 closed

[2021-05-19 11:20] heckflosse commented on #6244
This should fix the crash:

[code]

[2021-05-19 11:51] AndyAstbury commented on #6244
@Lawrence37 Applying and editing (stretch/contract/rotate) a graduated filter is faultless with Bluetooth devices. Hitting return/enter simple turns the grad viz off and does not cause cursor to vanish, and I can simply add more adjustments - so I'd say that the grad filter function works fine.
As for perspective control, well, I have no clue how to apply editable control lines - some documentatio

[2021-05-19 13:40] waynesutton50 commented on #6242
I have recompiled the latest version and can confirm this.

Sorry I probably didn't explain the problem very well. I am referring to the situation where you press the spot removal button but you don't actually create a widget. If you do this and forget to press the button again you disable the lens correction no matter what state the power button is in and if the distortion isn't that obvious, you

[2021-05-19 19:26] arturoisilvia opened #6245 "Abstract Profile: With option sRGB "Destination Primaries" is not activated"
When for the first time "sRGB g=2.4 s=12.92" is selected directly, "Destination primaries" and "Black-and-White" check are not activated.

The first time with the other combobox options works fine.

You can repeat the error after pressing "Reset" button

-------------------
Version: 5.8-2929-gbe3579e93 windows 10.exe

[2021-05-20 05:01] Lawrence37 commented on #6244
That's odd. Both tools use the same underlying code to receive input device events. If the graduated filter is fine, there must be something wrong with the bit of code specific to spot removal. I can't find anything though. Just to confirm, were you adjusting the graduated filter using the sliders, or with the on-preview widget?

[2021-05-20 05:31] Desmis commented on #6245
@arturoisilvia

Thank you for testing :)

I just push a commit  8c49b240f in dev, that solve this bad behavior

jacques

[2021-05-20 09:18] AndyAstbury commented on #6244
Grad filter widget rotate and stretch/compress - and I can use the perspective tool now I know what to do!

[2021-05-20 10:17] AndyAstbury opened #6246 "Missing Camera Profiles under Profiled Lens Correction"
Just playing around with the new Camera-based Perspective Control lines etc and noticed some missing cameras under PLC.

Nikon D850
Canon 1DX Mk2
Canon 1DX MK3
Canon 5D Mk4

This needs to be remedied FAST to maintain public credibility of RT on next release, as two of those listed have gone out of production so can not be considered new, and Libraw supports all 4.

[2021-05-20 11:04] Floessie commented on #6246
@AndyAstbury Hi Andy, this is a matter of `lensfun`, AFAIK. Under Linux you can update the database with `lensfun-update-data`. Glenn (@butcherg) has hacked a multi-platform tool for this, too, see [lensfun_dbupdate](https://github.com/butcherg/lensfun_dbupdate). The D850 in already in the [DB](https://github.com/lensfun/lensfun/blob/master/data/db/slr-nikon.xml#L235).

HTH,
Flössie

[2021-05-20 11:33] AndyAstbury commented on #6246
@Floessie "Under Linux you can update the database with lensfun-update-data"

As a total non-coder I am clueless how to do this!

[2021-05-20 11:37] Thanatomanic commented on #6246
We will also package the latest version of the database when releasing the new version.

It might be good for us to update RawPedia with instructions.

[2021-05-20 11:39] AndyAstbury commented on #6246
Brilliant, and a really good idea!

[2021-05-20 13:52] AndyAstbury commented on #6246
And with Wayne Suttons help I've even managed to update the lensfun database - Woo-Hoo!
That's given me Nikon D850, Canon 1DX Mk2 & Canon 5D Mk4.

Anyone know what's happening with the 1DX Mk3 by any chance?

[2021-05-20 14:24] Beep6581 commented on #6246
https://lensfun.github.io/faq/

[2021-05-20 14:45] Beep6581 commented on #6246
How does one update the Lensfun database in Windows?

[2021-05-20 15:01] Beep6581 commented on #6246
I updated the whole Lensfun section of RawPedia:
http://rawpedia.rawtherapee.com/Lens/Geometry#Lensfun

Please check that I did not write bullshit.

Does RawTherapee still only use lensfun DB version1?

[2021-05-20 15:01] #6246 closed, assigned to Beep6581

[2021-05-20 15:08] Beep6581 opened #6247 "Document Spot Removal"

[2021-05-20 15:09] Beep6581 commented on #2239
Merged for 5.9. Needs to be documented - #6247

[2021-05-20 15:13] Beep6581 opened #6248 "CR3 metadata decoding support"
Continuation from #5319

[2021-05-20 15:14] Beep6581 commented on #5319
This issue added CR3 data decoding support for v5.9. Metadata support will be handled in issue #6248

[2021-05-20 15:14] #5319 closed, assigned to nobody

[2021-05-20 15:17] Beep6581 commented on #4290
What is the status here?

[2021-05-20 16:14] Desmis commented on #4290
@Beep6581
I think we can close :)

jacques

[2021-05-20 17:07] Thanatomanic commented on #6248
This seems to only require a few minor changes to the `metadata-exiv2` branch in #5889.
See e.g. for ART https://bitbucket.org/agriggio/art/commits/1469a0a8225cb44fe7f130f375879aef23496a8b and darktable https://github.com/darktable-org/darktable/search?q=ISOBMFF

[2021-05-20 17:08] #6245 closed, assigned to nobody

[2021-05-20 17:12] #4290 closed, assigned to Desmis

[2021-05-20 17:33] Thanatomanic commented on #6246
@Beep6581 The write-up on RawPedia looks good, thanks! One thing only for Windows, the path containing `darktable` is odd. Since we ship the Lensfun database with a release version, I guess you should update the files there. So on my machine: `C:\Program Files\RawTherapee\5.8\share\lensfun`.
There is something fishy going on, though, because I have xml files in the main `lensfun` folder (dated 202

[2021-05-21 06:21] arturoisilvia commented on #6245
I have already checked it.
It works fine now. Problem solved.
Thanks Jacques.

[2021-05-21 08:32] Nicknroll opened #6249 "Random crashes switching keyboard language."
Hi!
From the very beginning of my use RT i had this problem, when i switching my keyboard ru->eng, to make hotkeys work, i often get random crash, also when i switch back to RT from other tabs(browser, messenger etc.) where i used other language it leads to crash too. Sometimes it happens, sometimes not, so i have no idea what information to provide to check this issue.
It gets annoying because ea

[2021-05-22 07:08] #5054 closed, assigned to Thanatomanic

[2021-05-22 07:09] Thanatomanic commented on #5054
@ff2000 This might have been one of the smallest most unobtrusive GUI changes ever ;-)
![image](https://user-images.githubusercontent.com/6567747/119217813-01764900-badd-11eb-8669-e2b5bb6a1977.png)

[2021-05-22 07:22] virxkane commented on #5555
+1

[2021-05-22 07:48] marter001 opened #6250 "Clarify usage of perspective tool through tooltips / disabling"
i just played around with the today nighly build Version: 5.8-2934-gc32623882 and tried to understand the perspective correction tool.
There are two aspects i stumbled: (method camera based)
-  drawing only one control-line isnt enough (of course), may be this could be mentioned in GUI or Tooltip. With this, the button "apply" should be activated earliest after two existing control-lines.
- the to

[2021-05-22 08:03] Thanatomanic commented on #4813
So, I've tried to understand the mechanics of the listener and where to trigger the change. This seemed a reasonable place to start:
[code]
When you open a raw file, set the histogram to raw and then open a jpeg/tiff/png it does trigger the change in `ScopeType`. Because if you close RT and reopen, the regular histogram is selected.

Where I fail to properly understand how to handle this situation

[2021-05-22 17:46] rebio commented on #6250
I tested this and I have to agree with both

1.  Add tooltip: There should be a tooltip when on the button. We have quite detailed tooltips on some buttons (which I think is good) and this one here just says "Edit"
2. Add single lines: Well, with just one line the image could be rotated... If it is intended to not do anything if there is only one line, the _Apply_ button could maybe only be active

[2021-05-22 18:07] Lawrence37 commented on #4813
@Thanatomanic
You'll want to update the buttons' states as well. I think the best way to handle this is to introduce a signal that the histogram panel listens to. When a new image is loaded, trigger this signal. In the histogram panel, call the `set_active()` function for the regular histogram button. This should trigger the GUI update as well.
https://github.com/Beep6581/RawTherapee/blob/a749a1ab

[2021-05-22 18:17] rebio opened #6251 "Perspective tool: Freeze on undo of added control lines"
**Short description**
RawTherapee freezes when you undo perspective corrections with control lines. It seems that RT does not like the _Edit_ pencil icon to be selected when the changes are undone (Note: I'm writing this while testing, so the information might be all over the place)

**Steps to reproduce**
1. Load any image
2. Go to the "Transform" tab
3. Change "Perspective" from _Single_ to _Cam

[2021-05-22 18:27] Lawrence37 commented on #6250
Disabling the Apply button makes sense. I will make this change. The tooltip appears when you hover over the label. The reason why the buttons have short tooltips is because of the many complaints we've had about tooltips being intrusive. See #2221 and #6007.

[2021-05-22 19:12] rebio commented on #6250
Disable if it is not supposed to be also a tool to turn the image. If it's disabled it should also tell you what you would need to do (eg. "There have to be at least to lines to apply the perspective correction")

What if there was an 'expert mode' like there is for many other programs that hides the tooltips or makes them shorter. It could also be an option the the configs to hide long tooltips.

[2021-05-22 19:34] Lawrence37 commented on #6250
I think it is reasonable to add the longer tooltip to the disabled button.

AFAIK there is no consensus on tooltip usage. Please add your ideas to the appropriate issue to help move the tooltip discussion forward.

[2021-05-22 20:45] rebio opened #6252 "Perspective tool: Strange amplification interaction with Local Adjustments"
**Short description**
The perspective tool has some strange interactions if Local Adjustment are active (see video file).

**Steps to reproduce**
1. Add some type of Local Adjustment area with a clearly visible effect (I used a larger circle with a maxed out "Lightness" slider in "Color & Light")
2. Go to _Perspective_ in the _Transformation_ tab
3. Switch between the Methods a few times (_Single_

[2021-05-22 22:59] #6251 closed, assigned to Lawrence37

[2021-05-22 23:01] Lawrence37 commented on #6251
I pushed a fix. Let me know if it does not completely solve the issue, and thanks for reporting this bug.

[2021-05-23 04:48] ff2000 commented on #6007
A better way might be to add a "?" icon in the tool's title bar that opens either a help panel or a help window that shows a detailed description of the tool (intention, way to use, ...) and all its sliders and how they interact.

// edit:
Especially in Local Adjustments the titles unfortunately are quite long/descriptive, so an option to disable the "?" should be considered. Perhaps add [icon-siz

[2021-05-23 06:30] ghost commented on #6007
A clickable "?" icon would make sense to me.

No need to disable that, you need to actually click on it make the tooltip/help text appear, in which case it doesn't matter if there is elaborate/long info.

This is assuming that this can be implemented system wide in a relatively easy way.

I do believe that Morgan (@Beep6581) is toying with the idea to disable tooltips altogether: I'm not against t

[2021-05-23 08:11] Thanatomanic commented on #6252
Thanks for reporting. I've seen a similar thing before recently, but I can't find the relevant issue or commit. It is indeed only a visual bug. @Desmis could you take a look?

[2021-05-23 08:36] Desmis commented on #6252
I think, I am not sure, it is an interaction between "events"...in the pipeline - only with "improccoordinator.cc" and "dcrop.cc"...

See "refresmap.h" and "dcop  / improcoordinator"

LA is "guided" by  "M_AUTOEXP" and  "AUTOEXP"
Perspective is guided by "M_TRANSFORM " and "TRANSFORM"  / "VOID"

But, I have not "the" solution :)

Jacques

[2021-05-23 09:16] Thanatomanic commented on #6252
I have found the similar issue: https://github.com/Beep6581/RawTherapee/issues/6132

[2021-05-23 09:27] Desmis commented on #6252
@Thanatomanic
It may sound like the same thing, but here it's a little different. In the case of "local contrast" it was mainly the location in the pipeline that was at stake (with of course also an event).

Here, as long as you don't activate the new features (which are really very good), the system works correctly...(Method - simple : horizontal : vertical) enable before "LA".

Clearly I think (

[2021-05-23 09:50] heckflosse commented on #6252
I will have a look

[2021-05-23 09:58] heckflosse commented on #6252
this should fix it:

[code]

[2021-05-23 10:30] Desmis commented on #6252
@heckflosse

Ingo
I think (I am sure), this patch fix the bad behavior :)

jacques

[2021-05-23 12:41] #6252 closed, assigned to nobody

[2021-05-23 16:17] Pandagrapher commented on #6233
@Thanatomanic @gaaned92
I finalized the Pull Request fixing the last item. It is now ready for the last review before merging it.

Pierre

[2021-05-23 19:54] nomar500 commented on #6230
@j1mr10rd4n, thanks for responding.
- no, I haven't been using libomp 12.0.0 (I actually rolled it back, due to immediate crash, see #6220),
- so I'm running libomp 11.1.0.

[2021-05-23 20:32] nomar500 commented on #6230
OK, just had another one.

I think I have a scenario I can reproduce at will:
- open RT,
- play with the film negative module white balance tool (cc. @rom9) : keep on sampling until RT crashes.

➡️ does it look like a memory leak?
  ❓ what system logs should I provide?

- note, it's not systematic, but frequent. I've tried on two different images (similarly acquired, same camera, same file format)

[2021-05-23 23:25] feuerrot opened #6255 "RT segfaults on certain Canon CR3 files"
# Infos
* RT Version: current git head (2f2720b763eb15118d4150d97c4e21ebcb497de7)
  * Used flags: `cmake -DCMAKE_BUILD_TYPE="debug" -DBUNDLE_BASE_INSTALL_DIR="$HOME/bin/_rawtherapee" -DBUILD_BUNDLE="ON" -DPROC_TARGET_NUMBER="2" -DWITH_LTO="ON" ..`
* OS: Debian testing, Kernel 5.12.0, x86_64
* Steps to reproduce:
  1. Open RT
  2. Open `IMG_6588.CR3` from the filemanager
  3. RT segfaults
* I used

[2021-05-24 04:58] Thanatomanic commented on #6255
Confirmed

[2021-05-24 05:10] Thanatomanic commented on #6255
You're correct that this has to do with the crop mode detection, which is not well-supported in RT. However, obviously, it has a different origin than the fixed bug in #5571

[2021-05-24 06:00] #6255 closed, assigned to nobody

[2021-05-24 06:03] Thanatomanic commented on #6255
@feuerrot This should now be fixed. The next nightly build should be able to open your file without problems.

Side note: our `camconst.json` format cannot handle this kind of situation properly! One camera with multiple modes with different crops cannot be distinguished, so I had to rely on _not_ supplying crop factors and let `dcraw` handle things. Less than elegant, but it works...

[2021-05-24 06:40] rebio commented on #6241
I would volunteer for that.
First I got an account on https://discuss.pixls.us/ and went through the annoying bot training, Then I sent a PM to @Thanatomanic with a reuest for a RawPedia Account.

When I came back like 15 minutes later the account was blocked? Deleted? And "New registrations are not allowed from your IP address."
Well then... -_-

[2021-05-24 06:42] Thanatomanic commented on #6241
Hi @rebio I saw your pm, but it's up to @Beep6581 to give you RawPedia access. I do not have those rights. Not sure why your ip would be blocked...

[2021-05-24 07:44] Nicknroll commented on #6249
no hints what could be a problem?

[2021-05-24 09:05] #6249 closed, assigned to nobody

[2021-05-24 09:09] Thanatomanic commented on #6249
@Nicknroll is there a reason why you closed the issue? If the crash is reproducible on your computer, we could investigate.

[2021-05-24 16:53] feuerrot commented on #6255
@Thanatomanic thank you for this really fast fix!

[2021-05-24 19:34] rom9 commented on #6230
Hi @nomar500 , i've tried several times with a version which is about 1 month old, but i can't reproduce it on linux.
Now i'm going to try again with the current dev (build in progress...)
Can you share an image file that triggers the problem ?

[2021-05-24 20:05] nomar500 commented on #6230
@rom9,
- here's a link to the [image](https://drive.google.com/file/d/1PK9-sg7tvIfCk29WbT7t5FCjY3v60n7x/view?usp=sharing)
- [pp3](https://drive.google.com/file/d/1iOQmjlVRq1CNKHzXD75saT_GH-rw0q0A/view?usp=sharing)

Let me know if you need more specific instructions. Or if I should build a debug version.

I find the scenario happens "more quickly" when viewed at 100%.

[2021-05-24 20:20] ericschdt opened #6256 "RawTherapee crashes (silently) during closing when file opened via Dolphin"
**Short description**
Rawtherapee crashed:
[code]

**Steps to reproduce**
RawTherapee always crashes silently and a core dump is geneated, when I close the program.

**Additional information**
- Version of RawTherapee: 5.8-3.7 (Commit: 9a9e0acbf from OpenSuse Repo; see https://github.com/Beep6581/RawTherapee/issues/6256#issuecomment-848138107)
- Operating System: openSUSE Tumbleweed 20210522 (KDE

[2021-05-24 20:34] nomar500 opened #6257 "film negative: unexpected "white balance" tool behaviour: output level keeps rising"
RT-5.8, run on M1 mac.

- `AboutThisBuild.txt`

[code]

cc. @rom9

When attempting to reproduce #6230, I have noticed the *`film negative`* _white balance_ tool behaves in an unexpected fashion:
- choosing "obviously" wrong middle gray values throws some kind of offset into the mix and makes it seemingly impossible to go back to normal values (by selecting a more suitable middle gray target, that

[2021-05-25 12:19] chaimav commented on #6233
I am not sure if it was this fix or not, but I am now having the same issue with the nightlies. The main window is nowhere to be found. Opening the Options file, I see no reference to window position?

Edit: I found the user specific options file and I can confirm deleting it solves the problem 👍

[2021-05-25 13:54] Pandagrapher commented on #6233
@chaimav The fix of this issue is still in review and still not has been merged to `dev` branch. So this issue can still happen in the nightly builds.

Waiting for it, as a workaround, it's not mandatory to delete the options file: you just have to edit the `WindowX/Y` fields in it and set them to `0`.

[2021-05-25 14:50] rebio commented on #6256
@ericschdt

- Did you try if the crash can be reproduced? (eg. reopening it and trying to do somewhat the same things)
- Did this crash happen before?
- Did RawTherapee crash with other files before?
- Can you share the image?
- Can you share the pp3 file?

[2021-05-25 17:22] ericschdt commented on #6256
I can reproduce it now easily:

1) Open any image file via Dolphin (KDE's file explorer)
2) Close RawTherapee

--> core dumped.

[2021-05-25 17:29] Thanatomanic commented on #6256
@ericschdt What does this mean `Version of RawTherapee 5.8-3.7`? The suffix is not very typical. What does `AboutThisBuild.txt` say? Did you compile yourself?

[2021-05-25 17:48] rom9 commented on #6230
Still can't reproduce the problem. At 100% zoom and with the RT window at full screen, the processing is very slow on my PC.
If i pick many samples very rapidly, i see that the processing jobs are enqueued and the program freezes until the queue is finished, but it never crashes.
I've noticed a similar behaviour with the normal spot White Balance tool.
Could you repeat the same test, but with the

[2021-05-25 18:15] rebio commented on #6252
@heckflosse
I checked if this is fixed now:
- Windows 7: Yes (But I did not test if it even existed before updating)
- Windows 10: It's still there

[2021-05-25 18:17] Thanatomanic commented on #6252
Windows 10: It's still there

That should not be possible.

[2021-05-25 18:23] chaimav opened #6258 "Preview DeltaE for Contrast by Detail Levels doesn't work as expected"
RT 5.8-2945, Windows 10.

Using Preview DeltaE for the Contrast by Detail Levels does not show green highlights
![Contrast levels](https://user-images.githubusercontent.com/47765782/119548647-6abbbd80-bd64-11eb-904d-7033ae96257e.JPG)

This is what I expected it to look like (using a different tool)
![Local contast](https://user-images.githubusercontent.com/47765782/119548735-82934180-bd64-11eb-94b

[2021-05-25 18:42] ericschdt commented on #6256
[code]

I see there hasn't been any official release for more than a year now.

No, it's from the offical OpenSuse repo.

[2021-05-25 19:01] ericschdt commented on #6256
Shouldn't this issue has been fixed by https://github.com/Beep6581/RawTherapee/commit/e7a4ae3c9fa987d625b537573fd811a9cb5d2fb8 ?

[2021-05-25 19:02] rebio opened #6259 "Perspective tool: Strange visual interaction with Local Adjustments (part 2)"
**Short description**
The effect of a local adjustment spot is sometimes visually removed from the preview.

**Steps to reproduce**
1. Open a file
2. Add an LA spot with good visibility (I have chosen "Color & Light" with a maxed out Lightness slider and colour correction with a maxed out strength slider)
3. Go to the perspective tool and move some sliders
This did not work with "Focal length" and

[2021-05-25 19:02] Thanatomanic commented on #6256
Potentially yes, I'm compiling the current `dev` branch on a fresh Tumbleweed installation in my VM to try to reproduce.

[2021-05-25 19:09] ericschdt commented on #6256
I looked into YaST and the changelog of the package lists
![Screenshot_20210525_210842](https://user-images.githubusercontent.com/43318127/119554797-65c73000-bd9d-11eb-90e3-3662399d76ff.png)
So I guess this bug fix was not packaged.

[2021-05-25 19:10] rebio opened #6260 "Perspective tool: Control sliders exist two times"
**Short description**
The same control sliders exist two times

**Steps to reproduce**
1. Open the perspective tools and scroll down

**Expected behavior**
Only have two handles or tell me in a tooltip the use of the second one.

**Notes**
Is it a bug? I'm not sure.
I'm maybe not professional enough to see the use in this, but I can negate the change of the one slider by reversing it's value in th

[2021-05-25 19:16] Thanatomanic commented on #6260
I'm sorry, but I know you have seen this. I wonder if you have understood it? https://github.com/Beep6581/RawTherapee/issues/6241
The sliders are part of different boxes, so they have different purposes. I think @Lawrence37 explains them well.

[2021-05-25 19:16] #6260 closed, assigned to nobody

[2021-05-25 19:24] Thanatomanic commented on #6256
@ericschdt A new release will come in the near future, but in the meantime feel free to use a nightly build AppImage: https://github.com/Beep6581/RawTherapee/releases/tag/nightly

I have not been able to reproduce your bug in the latest `dev` version on my Tumbleweed VM just now, so that is good news I guess :-)

[2021-05-25 19:24] Thanatomanic commented on #6256
Is it okay to close the issue?

[2021-05-25 19:26] ericschdt commented on #6256
Sounds good! Let's close it!

[2021-05-25 19:26] #6256 closed, assigned to nobody

[2021-05-25 19:30] rebio opened #6261 "Perspective tool: Local Adjustment spots are not changed with the rest of the image"
**Short description**
Local Adjustments spots stay in their place when the perspective tool is used

**Steps to reproduce**
1. Add a Local Adjustment spot with good visibility (I have chosen "Color & Light" with a maxed out Lightness slider and colour correction with a maxed out strength slider)
2. Go to the perspective tool
3. Change some sliders
4. The LA spot stays in the same position while th

[2021-05-25 19:50] Thanatomanic commented on #6259
@rebio You're testing on a wrong commit (36f1300) instead of where @heckflosse actually made the fix (https://github.com/Beep6581/RawTherapee/commit/2f2720b763eb15118d4150d97c4e21ebcb497de7)

I cannot reproduce this issue on the latest `dev` (https://github.com/Beep6581/RawTherapee/commit/6e68cab5d970191b92e03aa7da7e6b0be7d9a3e4).

[2021-05-25 19:55] Thanatomanic commented on #6261
This is intended behavior and I daresay impossible to change. The perspective corrections happen earlier in the pipeline than the local adjustments. That means you will not see the spot move along with the perspective correction. It stays in the same relative location to the image frame.
Also, because of the way the spots work, it is impossible to transform them along with the changes to the persp

[2021-05-25 20:02] Thanatomanic commented on #6257
I can confirm the behavior by just repeatedly sampling different areas of different hues and lightness.

[2021-05-25 21:58] rebio commented on #6259
The automated builds seem to be stuck again. Latest for Windows is 5.8-2945-g36f1300a6_20210523.

[2021-05-26 09:26] age1988 commented on #6061
I think that camera raw uses a weighted 75% film-like and 25 % standard curve.
for example this is the camera raw results from this image
[https://discuss.pixls.us/t/playraw-golden-blackberries-at-sunset/4780](url)

![DSC09009cameraraw](https://user-images.githubusercontent.com/24456323/119636287-c776b100-be14-11eb-9b7e-018c08be8645.jpg)

Rawtherapee 75% film-like and 25% standard
![DSC09009rt75](

[2021-05-27 06:11] Desmis commented on #6258
@chaimav
With Contrast by detail Level, you MUST use  - Mask and modifications (standard or advanced) / Preview dE

As already mentioned, the "preview dE" button in settings - which I was asked to add -  can only work well with "Color" Spots (Color and Light, SH, Vibrance..) and a tool only activated.

You have the same behavior with Retinex...In this case (and also Denoise....) others algorithms

[2021-05-27 11:38] #6258 closed, assigned to nobody

[2021-05-28 10:34] ghost opened #6264 "Wavelet levels -> wavelet levels < 7 + contrast + denoise = segfault or weird behaviour"
**Short description**
I ran into some unwanted behaviour when using the *Wavelet Level* section using 2 different development versions of RawTherapee. The result is slightly different, the steps to reproduce are the same.

Using *RawTherapee_dev_5.8-2948-g6189a0e_20210524.AppImage*

Activating both Contrast and Denoise and Refine results in a black/white pattern when the Wavelet levels setting is

[2021-05-28 11:13] heckflosse commented on #6264
I tried to reproduce, but could not.

[2021-05-28 13:31] ghost commented on #6264
I did some more testing:

* I installed RawTherapee_dev_5.8-2948-g6189a0e_20210524.AppImage on my older **Intel box** and I **cannot** reproduce this issue.
* I tried reproducing this using the old, stable RawTherapee_5.8.AppImage on both my older Intel and current AMD machine: I **cannot** reproduce.
* On my AMD box and using dev_5.8-2948 (appimage) and 5.8-2983 (self build) I removed everything

[2021-05-28 14:01] Beep6581 commented on #6241
Great, @Lawrence37 ! I'll add this to RawPedia.

[2021-05-28 15:55] Beep6581 commented on #6241
I restructured the Lens/Geometry page and added the new information from @Lawrence37
http://rawpedia.rawtherapee.com/Lens/Geometry

Screenshots and icons can be added later.

Before I close the issue, @Lawrence37 what is the purpose/function of the "Method" combo?
http://rawpedia.rawtherapee.com/Lens/Geometry#Method

[2021-05-28 16:11] Desmis commented on #6264
I cannot reproduce

[2021-05-28 16:21] Beep6581 commented on #5632
@heckflosse as you're the best suited to explain how features created by you work (Pixel Shift), and as you can't do that at this point in time, I'm happy to not treat those issues as 5.9 blockers.

As for the other documentation issues, they are 5.9 blockers. They don't need to be fancy, screenshots can be added at a later date, but they must explain how a given thing works.

Many of the non-docu

[2021-05-28 17:01] ghost commented on #6264
Mmmm.....

The following is all done with _5.8-2981-gfba97f62b_

--18:25--

I just rebuild rawtherapee with _relwithdebinfo_ (and turned  LTO OFF, which is the default). I still get the exact same behaviour (a segfault when using the bird pic).

What makes this ff-ing frustrating is that when I run rawtherapee via gdb to catch some info it does not segfault but the result are not consistent: It ei

[2021-05-28 17:39] Desmis commented on #6264
@jade-nl
Have you tried with the wavelet and denoise version of Local adjutments...(identical or similar functions...)
Depending on the result, this could orientate the research (OMP ?, ??)

Thank you

[2021-05-28 18:30] ghost commented on #6264
Just to reiterate what I'm working with and to be on the same page;

* [This bird](https://discuss.pixls.us/t/sharpening-and-denoising-with-dt-and-others/25210)
* [This pp3](https://github.com/Beep6581/RawTherapee/files/6562671/bird.costa.rica.cr2.pp3.txt) (had to add _dot txt_ due to github's upload rules)

Loading these and turning on *Denoise and Refine* crashes version _5.8-2981-gfba97f62b_

W

[2021-05-29 04:49] #6261 closed, assigned to nobody

[2021-05-29 05:59] ff2000 commented on #6264
Debian AFAIK uses systemd as init. Likely it already has enabled saving of coredumps. You can list and load these with "coredumpctl". This doesn't require running the process in gdb.

I unfortunately also wasn't able to reproduce the crash.

[2021-05-29 06:39] Desmis commented on #6264
@jade-nl
Very difficult to find...beacuse with my Windows8 and Intel (old), all works fine...
So, blindly, I make a try for you to try, inverting 2 treatments that determine the level of decomposition

Branch "wavecrash"
https://github.com/Beep6581/RawTherapee/tree/wavecrash

[2021-05-29 07:03] ghost commented on #6264
@ff2000 : Thanks for that info. _coredumpctl_ isn't installed by default, but that was remedied easily. And a little early morning reading got me to use it (hopefully correctly...). Here's some output that was generated after segfaulting (backtrace file is at the end):
[code]

And some more in-depth info:

[code]

And this is the backtrace that was created by that last command: [mybacktrace.txt](h

[2021-05-29 07:04] ghost commented on #6264
@Desmis : I'll give that a go, but I do have to do some other stuff first. Stay tuned......

[2021-05-29 07:28] ghost commented on #6264
@Desmis

Decided to postpone my other "duties" and test the _wavecrash_ branch: It still crashes.

**EDIT**: Build with _release_ instead of *relwithdebinfo*. Rebuilding as I type, info in new post follows shortly

Sorry.

[2021-05-29 08:21] Desmis commented on #6264
@jade-nl
I don't think "soflight" is the cause....only due to bad datas ?

Could you look at "console messages"

Here with your raw (bird) and pp3
Without denoise wavelet

minQ=1.994351 maxQ=175.824295  Qpro=230.020416
Ip Wavelet uses 1 main thread(s) and up to 8 nested thread(s) for each main thread
cp4=30.000000 cpmul5=0.000000 cp6=0.000000 cp7=0.000000 cp8=0.000000
levwbef=5
levwafter=5
Level d

[2021-05-29 08:22] ghost commented on #6264
Man this get weirder by the minute:

If I build using *release* + the *wavecrash* branch: It crashes. Same behaviour as before.
If I build using *relwithdebinfo* + the *wavecrash* branch: No crash and no weirdness. This is different then before (then it crashed, but did not crash when running via rawtherapee from within gdb).

Just rebuild again with *release* + *wavecrash*: Yep, that one crashes.

[2021-05-29 08:27] ghost commented on #6264
Just tried: The softlight module does have an influence and is the cause why it crashes.

If I turn the softlight module off and the denoise section in wavelets on, rt doesn't crash but this happens instead:

![softlight off denoise on](https://user-images.githubusercontent.com/56407344/120063628-ab168680-c057-11eb-9711-a416b530d3e6.png)

EDIT: Switching from *wavelet levels* 5 to 6 or 7 solves it

[2021-05-29 08:40] Desmis commented on #6264
@jade-nl
I see that multipliers contrast are bad in your case...I set to zero when not used.

Can you try the new commit 13b2adb70

Thank you

[2021-05-29 08:49] Desmis commented on #6264
Sorry  I have forgotten one commit...

New now fbeb3d195

[2021-05-29 08:51] Desmis commented on #6264
Yes Softlight shows the bad behavior with a crash, it is the first after wavelet...Hence if wavelet is corrupted, softlight crash

[2021-05-29 09:06] ghost commented on #6264
You are the man! This seems to be fixed.

I do need to do some more extensive testing but I just tried 2 completely different RAWs, turned on, then off, just about all the options available in many combinations and all seems to work as expected now.

Thank you, I'm very happy this is fixed.

BTW, terminal output looks like this now:

[code]

All lines are the same except: _levwbef=_ shows up as ei

[2021-05-29 09:06] #6264 closed, assigned to nobody

[2021-05-29 09:10] Desmis commented on #6264
@jade-nl

Happy to have found the bug...

I clean code, then if ok,
* new test  by you
 * then I merge

[2021-05-29 09:12] ghost commented on #6264
No problem, I'll test anything you throw my way!

[2021-05-29 09:16] Desmis commented on #6264
@jade-nl

Last commit to test (only clean code)
f188e3cd2

Thank you to have found this bug :)

jacques

[2021-05-29 09:30] ghost commented on #6264
@Desmis

Just rebuild and did some more testing, also including other modules, with this latest f188e3c build:

* All seems OK,
* No more _cp4=_ messages in the terminal.

No, thank you for fixing them! :)

[2021-05-29 09:34] Desmis commented on #6264
OK I will push the PR soon :)

jacques

[2021-05-29 09:39] Desmis commented on #6264
merge in dev

[2021-05-29 12:23] arturoisilvia opened #6266 "LA: Soft Light & Original Retinex: bad behavior."
Hi,
Add a new spot
Add tool: "Color & Light".
Move the Lightness slider to maximum so that there is some change.

Add tool: "Soft Light & Original Retinex"
Turn off the "Soft Light & Original Retinex" module <--- IMPORTANT!!!!
Set "Advanced"
Choose Original Retinex
Change in combobox "Show Fourier (f) process" to another item different from the first one.
All other modules are overridden (Color &

[2021-05-29 17:41] Desmis commented on #6266
@arturoisilvia

Yes there is a bad behavior...
Difficult to solve in all cases...because it uses the same algo as Masks...
I will push a change tomorrow...that will solve the main problem

Jacques

[2021-05-29 17:56] Lawrence37 commented on #6241
@Beep6581 "Method" was introduced by @heckflosse and is explained in #5588.

[2021-05-29 19:39] rebio opened #6267 "Automated nightly builds have stopped working (part 2)"
Last nightly build was on:
- Windows: 2021-05-23 (5.8-2945-g36f1300a6)
- Linux: 2021-05-24 (5.8-2948-g6189a0e)

Related:
- #6139

[2021-05-29 20:11] heckflosse commented on #6267
I think we're quite accurate with nightly builds atm. Have a look at the commit history.

[2021-05-29 20:14] heckflosse commented on #6267
Closed by wrong click, sorry...

[2021-05-29 23:38] AndyAstbury commented on #6266
In all my RT videos in the future I will always advise users to add just 1 tool to a spot, irrespective of tool mix and any bad behaviors, because it makes editing easier.
If you have 1 spot with 3 tools attached it is a lot harder to decide on what tool property you may want to change later, and a lot easier to identify the changes needed if you use 3 spots with 1 tool each.

[2021-05-30 05:39] rebio commented on #6267
Not sure what you mean with 'quite accurate'

I wanted to test if explained behaviour from #6259 does still exist. As explained in the report: The issue is only a problem on my Windows 10 machine and not my Windows 7 machine, but still seems to exist in the latest nightly build nonetheless.
And since apparently you fixed this with 2f2720b and I currently have neither the time nor the infrastructur

[2021-05-30 05:58] Desmis commented on #6266
The modifications I just made try to avoid bad behaviors, for all masks (including Original retinex)

Commit ef49d9eef

jacques

[2021-05-30 07:50] heckflosse commented on #6267
2f2720b was commited a few hours after 36f1300. That's what I meant by 'quite accurate'.

Meanwhile you can use a nightly windows build from [here](https://keybase.pub/gaaned92/RTW64NightlyBuilds/)

[2021-05-30 08:57] arturoisilvia commented on #6266
@AndyAstbury
I do not advise you to do so. It can be a bad habit. Just because it happened in one module does not mean that you have lost confidence in a spot with several modules.

Besides it is much more comfortable and practical than if each module has its mask. In fact if you look here:

http://rawpedia.rawtherapee.com/Local_Adjustments#An_example_using_Andy_Astbury.27s_harvest_mouse_image

It

[2021-05-30 08:59] arturoisilvia commented on #6266
@Desmis
Thank you Jacques. I will try it as soon as I get it.

Arturo.

[2021-05-31 06:21] Desmis commented on #4959
@Beep6581

 I've just finished a change in Rawpedia for "ICC profile creator".
https://rawpedia.rawtherapee.com/ICC_Profile_Creator

I was inspired by Xavier's presentation @TechXavAL and added links to "Abstract profile" which uses similar code and many similar conceptual aspects https://rawpedia.rawtherapee.com/Color_Management#Abstract_Profiles

The documentation is in French and English thanks

[2021-05-31 06:36] Desmis commented on #5351
@Beep6581

- the Color Management article has been revised to include the TRC (which was released in V5.8 and not documented) and has been expanded to take into account the additional "Abstract Profile" functions, and now "ICC profile creator"
https://rawpedia.rawtherapee.com/ICC_Profile_Creator
https://rawpedia.rawtherapee.com/Color_Management#Abstract_Profiles

- In addition, a general article h

[2021-05-31 09:09] Desmis commented on #5351
@Beep6581

I rewrite (with Wayne help) the french and english "Output profile"
https://rawpedia.rawtherapee.com/Color_Management#Output_Profile

jacques

[2021-05-31 09:15] Desmis commented on #5632
I have update Rawpedia for
RawTherapee/RawTherapee#5351
RawTherapee/RawTherapee#4959
I think (I hope) that these 2 modifications of Rawpedia do not block 5.9 anymore

jacques

[2021-05-31 18:14] #6266 closed, assigned to nobody

[2021-05-31 18:35] Lawrence37 commented on #6244
@AndyAstbury
Although I don't know what is causing the spot dragging issue, I just merged some changes into `dev` that could affect the behavior. Could you please check if the issue persists or has changed in any way?

[2021-06-01 09:19] AndyAstbury commented on #6244
@Lawrence37 - just updated to g2e6e52f33 - still the same disconnect between the spots after move/resize when using bluetooth pointer.  With wired everything seems fine.
But as I said before it might be a OSX/Parallels problem on my system so I would poll other wireless/bluetooth pointer users who are not using a VM.

[2021-06-01 21:05] nomar500 commented on #6230
@rom9,
- with film negative tool disabled, I reproduce the behaviour using the regular spot WB tool (16 pixels)
- with Noise Reduction deactivated, I don't reproduce the behaviour 😀

--> let's forget about `film negative` for a while?

[2021-06-02 15:46] nedunga0 opened #6269 "Survey about Open Source Image editors for Master's thesis"
Hello,

My name is Anupama Nedungadi and I am a Master’s student at the University of Geneva. For my thesis, I am looking at internationalization and localization practices in open source image editors, meaning how and why (or why not) the software has been translated into another language.
I have curated a list of image editors, graphic editors and the likes hosted on SourceForge, GitHub and GitL

[2021-06-03 07:28] nomar500 opened #6270 "m1 compilation fails following brew upgrade"
I can't manage to build RT, and I figure it's related to a recently package upgraded through `brew`.

- compilation instructions:

[code]

- about this build

[code]

<details>
<summary> Unfold console output here </summary>

[code]

</details>

Note: #6220 was related to a `libomp` problem. Workaround: downgrade `libomp` to version 11. And pin it in homebrew so it does not get upgraded.

Am I mis

[2021-06-03 07:43] rebio commented on #6259
This issue can no longer be reproduced with version 5.8-2980-g2e6e52f33

[2021-06-03 07:43] #6259 closed, assigned to nobody

[2021-06-03 08:50] Beep6581 commented on #6259
Fixed, for now.

[2021-06-03 08:51] #6269 closed, assigned to nobody

[2021-06-03 08:52] Desmis commented on #4962
I made the English (with help of Wayne @waynesutton50) and French version of "egges and microcontrast".

I was inspired by the work of Xavier @TechXavAL
https://rawpedia.rawtherapee.com/Edges_and_Microcontrast

jacques

[2021-06-03 08:53] Desmis commented on #5632
I have update Rawpedia for
RawTherapee/RawTherapee#4962
English and French

Jacques

[2021-06-03 09:06] Beep6581 commented on #6269
I filled it out, hope it helps.

[2021-06-03 19:33] #6257 closed, assigned to rom9

[2021-06-03 19:59] rom9 commented on #6257
Sorry @Thanatomanic , i'm afraid i did a big mess with my last push attempting to fix this issue... i don't know how that "Merge remote tracking..." commit ended up there.
I'm trying to find a way to undo that, google seems to suggest `git revert` or `git reset` ... any idea on how to fix it?
Sorry again :-(

[2021-06-03 20:06] Thanatomanic commented on #6257
I think everything is fine and nothing needs to be done. Take for example a look at https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/controllines.cc. While your 'Merge remote tracking' commit says it altered that file, the latest _actual_ commit to the file was by Lawrence a few days ago.

[2021-06-03 20:15] rom9 commented on #6257
Yes, maybe you're right, i also saw a similar pattern with commit e63c9336a6dfd64c13b37434805ffa51b5f0e729 some days ago.
Also, i tried cloning a fresh copy of the repo, and the content seems as expected.
OMG, thanks, i was literally panicking  :-)
I must have done something wrong though, i need to improve my git knowledge... sorry again.

Anyway, the spot sampling should be fixed now.

@nomar500

[2021-06-03 20:37] nomar500 commented on #6257
@rom9, thanks :)

meh, unfortunately, #6270 is on my plate, I can't seem to build, for the moment. I'll keep you posted.

[2021-06-03 20:43] Thanatomanic commented on #6270
Well I'm not familiar with Homebrew, but all errors point to missing essential components for GTK3. Are you sure all dependencies are installed/present?

[2021-06-03 20:49] nomar500 commented on #6270
[code]

[code]

[code]

Does that help?

[2021-06-03 21:14] nomar500 commented on #6270
- I've just tried to do some "clean-up": I've played with the `glibmm-2.6x` versions (I've removed one and then, the other). In vain.
  - Note: `2.66` is expected by:
[code]

shrug shrug shrug, head is scratched, too

[2021-06-03 21:37] rom9 commented on #6270
I remember seeing a similar error on Linux after an upgrade. In my case, the problem was that a header file was moved to a different path.
Did you try deleting the `build` directory altogether before running the cmake script ?
Turns out that (at least on linux) cmake uses some tools to inspect what libraries are installed on the system, in which paths, and at which versions. All this information i

[2021-06-03 21:42] Beep6581 commented on #4962
Gents, RawPedia is written in markup. Only use HTML when it is absolutely crucial to make things work, i.e. to unbreak things. Don't use custom HTML/CSS just to show an image. I don't want to have to untangle a spaghetti of markup and HTML when migrating the documentation to its next incarnation, as happens every few years.

This is a no-go:
[code]

[Use:](https://www.mediawiki.org/wiki/Help:Image

[2021-06-03 22:02] Beep6581 commented on #4962
@TechXavAL are `Edges.jpg` and `Seagull-microcontrast.jpg` photos you shot and own and release under CC-BY-SA?

[2021-06-03 22:26] Beep6581 commented on #5351
@Desmis

The original paragraph,

was changed to

1. Why was the reference to "Navigator" removed? If not by accident, then what does the Navigator now use?
2. In the original paragraph, the part "depending on your setting in Preference > General" is obsolete, since this was replaced by the <img src="http://rawpedia.rawtherapee.com/images/0/06/Gamut-hist.png"> button in the Editor tab. However, th

[2021-06-03 23:34] Beep6581 commented on #4959
Looks good. I made some changes and will close.

@TechXavAL when uploading icons please use PNG files from the "dark" folder (those made for a light background, as they use dark colors), keeping the original filename. Generate them using:
[code]

[2021-06-03 23:34] #4959 closed, assigned to Beep6581

[2021-06-04 00:59] Beep6581 commented on #5632
Documentation writers and translators, please see:
http://rawpedia.rawtherapee.com/Contributing

[2021-06-04 04:37] #6250 closed, assigned to nobody

[2021-06-04 05:43] Desmis commented on #5351
@Beep6581

It was an error due to my old French version.
I am in the process of correcting it

jacques

[2021-06-04 05:57] Desmis commented on #4962
@Beep6581

OK, I am not at all a Rawpedia specialist....and OK for your version....I change also french version in the same way.

For your information in 2010, Manuel and I worked together...on this subject. On the noise also with Emil Martinec.  (Perfectraw and Dcraw)

Jacques

[2021-06-04 10:38] heckflosse commented on #4962
@Beep6581

`Seagull-microcontrast.jpg` is a photo I shot. No problem to use it.

[2021-06-04 11:39] Beep6581 commented on #5351
@Desmis thank you, looks good :+1:

[2021-06-04 11:39] #5351 closed, assigned to Beep6581

[2021-06-04 12:07] nomar500 commented on #6270
@rom9,
thanks ! indeed, that worked. I had to reinstall `glibmm@2.66` though.

[2021-06-04 12:07] #6270 closed, assigned to nobody

[2021-06-04 12:08] nomar500 commented on #6257
@rom9,
as promised, since #6270 is not a problem anymore, I was able to carry out a few tests on your fix.
It appears to work just fine! Thanks. 😃

[2021-06-04 12:33] TechXavAL commented on #4959
@Beep6581

Didn't know how to generate icons that way. Will do from now on.

And sorry, but I can't seem to find where that "dark" folder is. The svg icons I have in my sourcecode folder are all dark versions (dark background, light grey icon).

[2021-06-04 12:38] TechXavAL commented on #4962
@Beep6581

Not mine:

Edges.jpg: https://discuss.pixls.us/t/play-raw-toronto-on-mobile-from-bus/10490

Seagull-microcontrast.jpg: https://discuss.pixls.us/t/play-raw-seagull/15294

[2021-06-04 13:15] Beep6581 commented on #4962
Thanks @Desmis

So both images require attribution but the creator hasn't been attributed anywhere. I added attribution to each image's description, e.g. http://rawpedia.rawtherapee.com/File:Seagull-microcontrast.jpg

When uploading images you can now select the licence:
![screenshot_20210604_150729](https://user-images.githubusercontent.com/5844619/120806473-3061d580-c547-11eb-9e97-a3e800f8b35e.p

[2021-06-04 13:15] #4962 closed, assigned to nobody

[2021-06-04 13:15] waynesutton50 commented on #5632
This is a welcome addition to Rawpedia. It would be helpful though if there was a more comprehensive style guide for anyone writing or translating documentation into English. Spelling aside, there are significant differences between British and American English notably with respect to the use of capital letters (e.g. after the use of a colon) and punctuation (single quotes vs double quotes). There

[2021-06-04 13:25] Beep6581 commented on #4959
@TechXavAL when you use `generatePngIcons`, you will find two folders, "dark" and "light", in /tmp.

On a side note, Inkscape kept changing their CLI options for a while, which means the script may fail depending on which version of Inkscape is installed. If the script fails to work, shoot and I'll help you get it working. Let me know which version of Inkscape you're using.

[2021-06-04 14:04] TechXavAL commented on #4959
@Beep6581

I'm using Inkscape 1.1

It seems to work fine, more or less...

I get this:

And these are the icons generated from _aperture.svg_:

_Light_ folder:
![aperture](https://user-images.githubusercontent.com/52250392/120813472-314a3580-c54e-11eb-83dd-786dfcc29d7e.png)

_Dark_ folder:
![aperture](https://user-images.githubusercontent.com/52250392/120813511-3c04ca80-c54e-11eb-87b3-0c665ff6d295

[2021-06-04 14:09] Beep6581 opened #6271 "RawPedia style"
**Capitalization and Quotation**

There are essentially 3 things to consider when referring to interface elements, their use in:
1. A normal sentence.
2. A breadcrumb-style reference.
3. Titles.

In RawTherapee, all tool names and frame titles use title case (first word capitalized), everything else uses sentence case. Note: not all tools adhere to this style - that is to be handled by #5664

Exam

[2021-06-04 14:19] Beep6581 commented on #6271
I wrote this in RawPedia:

[2021-06-04 14:20] Beep6581 commented on #5632
I agree. "Contribution" article updated.

American English is used in both RawTherapee and RawPedia.

Let's discuss that in RawTherapee/RawPedia#16

Exactly. I think this should carry over into RawPedia.

[2021-06-04 15:02] waynesutton50 commented on #6271
The use of double quotes for interface elements in either of these cases can become distracting I find because there is also a tendency to make excessive use of double quotes for emphasis. Without thinking I started reverting to the British English convention of single quotes for setting off a word as word to try and make the text more readable but this was a mistake as it only introduces yet anot

[2021-06-04 15:32] Thanatomanic commented on #6271
I agree with what @Beep6581 wrote on RawPedia so far (see two posts above). It makes sense that whenever a description to a certain GUI element contains mixed case, it should be quoted to encapsulate the phrase. Double quotes is good, aiming for American English as a default writing style is a reasonable choice.

As for breadcrumbs, first of all, I think they need to be used sparingly because they

[2021-06-04 15:37] Thanatomanic commented on #6271
Links in a PDF could still work, although I'm not sure if they will be generated automatically by whatever pdf-generator is running on the site. I think a paper print of an online, constantly changing documentation is a silly idea and we should not bother trying to optimize for it. As we know from photography itself, different media require very different approaches... Let's focus on improving the

[2021-06-04 16:42] Desmis commented on #4962
@Beep6581
I am very worried about all the work done on LA...there are many, many images that are either screenshots or raw files.
The work is likely to be very important.

All raw, or screenshots are from me, or Pixls.us

**How do you "modify" an existing image** without starting over. Excuse my incompetence but I don't understand anything

Fo raw files, I can add a "licence" in the text in the ra

[2021-06-04 18:33] TechXavAL commented on #6271
@Beep6581  @Thanatomanic

Take a look at the italics now. They render the real italic font, not a slanted version (there's the need to download an extra font, though).

And PDFs link rendering is not that hard to tweak, if somebody says how it has to look.

[2021-06-05 05:39] #5182 closed, assigned to nobody

[2021-06-05 06:31] Thanatomanic commented on #6271
@TechXavAL That's much better! Thanks 😃

[2021-06-05 06:45] Thanatomanic opened #6272 "RawPedia: Update MediaWiki to new LTS version"
The version of MediaWiki we use for RawPedia (1.31.x) has reached its EOL: https://www.mediawiki.org/wiki/Version_lifecycle
Can we upgrade to the new 1.35.x LTS version?

I'm not 100% sure if it's worth it, but one thing I don't find particularly 'modern' for our current wiki is the editor. If there is a something we can do about that I would find that most welcome. There are now very limited opti

[2021-06-05 09:18] TechXavAL commented on #6272
As you say, maybe it's not worth it.

The fact that the version RawPedia runs has reached its EOL shouldn't have any impact on this server. And there's the old mantra: if it works...

Mediawiki it's not famous for its content creation support. Nor is it for being "responsive friendly". And above all, it is not famous for its support to modern HTML features.

What that means is:
* the code editor i

[2021-06-05 12:04] Thanatomanic commented on #6272
I understand what you're saying Xavier. If you look at https://www.mediawiki.org/wiki/Editor and reading about VisualEditor (https://www.mediawiki.org/wiki/Extension:VisualEditor) it seems that upgrading to 1.35 makes live easier to get this VisualEditor working as well. This seems to me like a big upgrade over our current small button bar.
This will still not make more advanced markup possible li

[2021-06-05 12:32] TechXavAL commented on #6272
Yes. For occasional and simple edits most probably you're right.

I must admit that I almost never use the button bar and instead type the code straight away (it's easy when you learn which characters you have to type).

Anyway, I think it's a decision for @Beep6581 to make.

[2021-06-05 19:26] BR1py opened #6273 "JPEG XL (*.jxl) file format support"
Hello,
I'm a fanboy of your program!

For me the new JXL format ([see JXL](https://gitlab.com/wg1/jpeg-xl)) looks very promising and I like to see a full integration in rawtherapee (which means an import and export option).

Do you have any plans for the integration of the new format?

[2021-06-05 22:22] Lawrence37 opened #6274 "Local Adjustments Exposure compensation acts differently on clipped highlights"
**Short description**
Local Adjustments > Dynamic Range & Exposure > Exposure compensation changes the lightness of clipped highlights at a different rate compared to the rest of the photo.

**Steps to reproduce**
1. Open an image with some clipped highlights. Start with the Neutral profile.
2. Enable Local Adjustments and add a full image spot with the Dynamic Range & Exposure tool.
3. Set Scope

[2021-06-06 01:05] Lawrence37 commented on #5112
Unbounded processing used to be not so important because only a handful of tools actually let you manipulate out-of-bounds values. Take curves for example. The UI only shows input values between 0 and "100%". On top of that, it discourages output values beyond that same range. Now we have an increasing number of tools that can theoretically take and/or produce meaningful out-of-bounds values.

It

[2021-06-06 05:42] Desmis commented on #6274
@Lawrence37

Yes, I know...and I think there is no solution...with "exposure"...

By the way, as I mention in the Rawpedia documentation, I ranked this algorithm last...and there is a reason....
https://rawpedia.rawtherapee.com/Local_Adjustments#Five_ways_to_change_the_exposure_and_lift_the_shadows
In this case - as in a majority of cases - algorithm "Tone equalizer' is much better

jacques

[2021-06-06 05:59] Lawrence37 commented on #6274
Good to know.
Is it an inherent limitation of the algorithm? What is the cause/explaination of the behavior?

[2021-06-06 06:15] Desmis commented on #6274
It's inherent at this algorithm...
The main explanation is in "LA" exposure works only on L (Lab), in main it works in rgb.

On the other hand, I had thought of removing this algorithm from "LA", because if we compare it to the others (Tone equalizer, TRC, Log encoding...), it is always lower
To a lesser degree, Shadows/Highlights  is also in a majority of cases inferior to others.
If you read the

[2021-06-06 06:32] Lawrence37 commented on #6274
I would not have guessed that Lab would work so poorly in this case. With the steps I mentioned, all values are clipped prior to local adjustments, so Lab should be able to handle it without issues. Am I missing something?

[2021-06-06 06:37] Desmis commented on #6274
Yes but in this case, look at the Lab values in the cloud...L=100 a=0 b=0, the algorithm is unable to deal with this

But I recall for me, the worst algorithm to handle exposure in LA is "exposure".

jacques

[2021-06-06 07:56] mattiaverga opened #6275 "Vulnerability in foveon_load_camf() dcraw code"
The bundled dcraw code can be subject of integer overflow through a maliciously crafted X3F input image.

See https://bugzilla.redhat.com/show_bug.cgi?id=1968040

[2021-06-06 08:28] Thanatomanic commented on #6275
Preliminary analysis shows that opening X3F files does not trigger `foveon_load_camf()` at all, which seems odd. The provided corrupt X3F file (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984761) does not crash RawTherapee.

To be continued...

[2021-06-06 09:04] Thanatomanic commented on #6275
This gets called correctly: https://github.com/Beep6581/RawTherapee/blob/d86888e93f3c3999261cc5b32143449fc325a606/rtengine/dcraw.cc#L7757-L7761

Which in turn ensures either `foveon_sd_load_raw()` or `foveon_dp_load_raw()` are called. The former calls `foveon_decoder()`. But that seems to be all the foveon-related functions that RT calls to. The `foveon_load_camf()` is only called from the `foveon

[2021-06-06 21:22] nomar500 opened #6276 "histogram: enhance RGB indicator bar"
- current behaviour (RT-5.8 dev): RGB indicator bar sits at the bottom of the histogram
- suggested enhancement: RGB indicator bar also superimposes a (dotted, dashed, continuous) vertical line on the histogram, for each colour and makes it easier to read the indicator target. See mock-up example with continuous line below:

![image](https://user-images.githubusercontent.com/80070738/120940466-bc2

[2021-06-06 23:32] Lawrence37 commented on #6274
I agree the other tools are more useful than Exposure compensation. Nevertheless, I attempted to find the cause.
https://github.com/Beep6581/RawTherapee/blob/d86888e93f3c3999261cc5b32143449fc325a606/rtengine/iplocallab.cc#L3090-L3104
`hlfactor` is wrong for clipped values. It turns out this is because `exp_scale` is wrong too. Why is `pow_F` returning bad values? Keep in mind the second argument:

[2021-06-07 06:08] Desmis commented on #6274
@Lawrence37

Could you send me the code for "surrounding" (After removing that one and surrounding b in parentheses)

The last part for expcomp < 0.6 was a precedent issue....because some users found that the system varied too quickly for low values. I think now we can disabled at least for negative values...

Thank you

Jacques

[2021-06-07 06:15] Lawrence37 commented on #6274
I changed `(xexpf(b*xlogf(a)))` to `(xexpf((b)*xlogf(a)))`.

[2021-06-07 06:19] Desmis commented on #6274
OK for this case, but this change will affect all pow_F calls in RT...?

But, excuse my bad english...and my bad knowledge in C++.I now know what an added parenthesis () does

:)

[2021-06-07 06:40] Lawrence37 commented on #6274
I briefly checked all the usages and none of them should be affected by the extra parentheses. The extra parentheses is the correct version, so if the change breaks something, it's because it wasn't using pow_F correctly in the first place. If you don't want to change pow_F, you can just change `const float exp_scale = pow_F(2.f, lp.expcomp + addcomp);` to `const float exp_scale = pow_F(2.f, (lp.e

[2021-06-07 06:41] Thanatomanic commented on #6274
Please wait before committing this change directly to `dev`, this feels like a major change that needs some testing.

[2021-06-07 06:51] Thanatomanic commented on #6274
~~@Lawrence37 Please see https://godbolt.org/z/jYfrc65nn
I implemented both variants of `pow_F` and they result in exactly the same values. I'm not sure why you see differences... Changing compiler or optimization level in Godbolt also doesn't matter.~~

Edit: nevermind, my example was flawed. When you enter an arithmetic expression into the `pow_F` it indeed expands wrongly.

[2021-06-07 07:02] Lawrence37 commented on #6274
There is no difference in that example because you used simple arguments. When dealing with macros, the tricky parts come from order of operations and using code with side-effects.
Edit:  I see your edit now. :)

[2021-06-07 07:07] Thanatomanic commented on #6274
@Desmis @Lawrence37 I went through all cases of `pow_F` and was only able to find the single case Lawrence found for this bug report where there is an unguarded arithmetic expression in the second argument. All other instances of `pow_F` are good and bug-free.

@Lawrence37 Feel free to update `pow_F` function, that should fix this bug and not affect anything else as far as I can see. FWIW you can

[2021-06-07 07:08] Desmis commented on #6274
I just create a new branch "laexposure" with 3 changes
1) remove pow_F from sleep.h
2) added a new pow_Fr in opthelper.h
#define pow_F(a,b) (xexpf(b*xlogf(a)))
#define pow_Fr(a,b) (xexpf((b)*xlogf(a)))
3) in iplocallab.cc I change in "exlabLocal" pow_F by pow_Fr and I remove the lines to increase sensitivity for low values

Now the behavior is better...Thanks to @Lawrence37

Jacques

[2021-06-07 09:05] Thanatomanic commented on #6273
@BR1py There are no plans currently, but help is always welcome if you're able.

See also: https://github.com/Beep6581/RawTherapee/issues/1895 (EXR), https://github.com/Beep6581/RawTherapee/issues/5931 (FITS), https://github.com/Beep6581/RawTherapee/issues/5313 (JPEG2000)

[2021-06-07 09:18] Desmis commented on #6274
I just create a PR
* I remove pow_Fr
* change pow_F
* change iplocallab.cc
* clean code

[2021-06-08 05:38] #6274 closed, assigned to nobody

[2021-06-09 20:02] nomar500 commented on #6230
quick note:
- with a debug build (just replacing Release by Debug),
- and through `lldb` (instead of `gdb`),
I cannot reproduce the problem, it's that much slower.

[2021-06-09 20:05] ericschdt commented on #6256
It's now fixed in opensuse leap and tw: https://build.opensuse.org/request/show/895582 :+1:

[2021-06-12 19:07] #5859 closed, assigned to nobody

[2021-06-12 19:09] Thanatomanic commented on #579
After 6 years, finally closed by https://github.com/Beep6581/RawTherapee/pull/6219

[2021-06-12 19:09] #579 closed

[2021-06-13 18:56] Lawrence37 commented on #6111
@marter001 Is this issue still present in the latest version?

[2021-06-13 23:08] #5946 closed, assigned to Lawrence37

[2021-06-13 23:39] Lawrence37 commented on #4522
Can this be committed for 5.9?

[2021-06-13 23:40] Lawrence37 commented on #4630
Can the patch be applied for 5.9?

[2021-06-14 00:15] Lawrence37 commented on #4856
This looks like two issues.

The first is the crop not updating to match the image aspect ratio. When you change the width or height while editing a crop, the other value is updated to maintain the correct aspect ratio. However, when you apply a profile, the width and height are changed simultaneously while the aspect ratio is ignored. There are multiple ways of fixing this. We can keep either the

[2021-06-14 16:45] marter001 commented on #6111
@Lawrence37 thanks for your effort. The issue as described seems to be solved. I didnt realize, that the name of "Inspector" was changed to "prüfen" in the german version, so i thought, the inspector was taken out......
Now by checking this issue, i wonder, there is no window or frames at all, just a grey screen with the pic laid over. No explanation to the user, how to close this or how tho handl

[2021-06-15 01:15] Lawrence37 commented on #6111
Thanks for testing. I am closing this issue now.

The inspector window was meant to be full-screen. I see how it can be confusing because there are no buttons, text, or any other visual cues to indicate what's going on (and documentation is [not complete](https://github.com/Beep6581/RawTherapee/issues/6115)). If you have any suggestions on how to improve the intuitiveness or show helpful informati

[2021-06-15 01:15] #6111 closed, assigned to Lawrence37

[2021-06-15 05:58] Thanatomanic opened #6279 "Segfault when opening compressed CR3 and cropped raw from Canon R5"
See here for the original report: https://discuss.pixls.us/t/canon-r5-cropped-raws/25441

This file does not decode, but instead segfaults [R5__0596.ZIP](https://github.com/Beep6581/RawTherapee/files/6653121/R5__0596.ZIP). It is shot as a lossy compressed cRAW in APS-C mode with a crop factor applied. ExifTool tells me:
[code]

There are two issues at play.
- [ ] The support for cRAW may be fixed

[2021-06-15 10:52] heckflosse commented on #6279
Here's a quick and very dirty patch to avoid the segfault. It's not meant to be committed, but as a starting point for a better patch.

[code]

Maybe another dev ( @Thanatomanic ) can make a more correct patch.

Ingo

[2021-06-15 11:44] Thanatomanic commented on #6279
The main issue is that our `camconst.json` format can only handle one particular raw crop per camera, whereas this camera (and others like it) can have multiple depending on a shooting mode. The smaller raw image sizes are read correctly by `dcraw`, but the crop values in `camconst` indicate a bigger file, so too much memory is being read leading to the segfault. The actual segfault happens in thi

[2021-06-15 12:36] fsenore commented on #4856
I agree that using long and short side instead of width and height looks like a smart move.

[2021-06-16 16:58] Thanatomanic opened #6280 "libiptcdata no longer needs manual compilation on Windows MSYS2 builds"
I accidentally stumbled on https://github.com/msys2/MINGW-packages/pull/7406. Thanks to @Biswa96 for their work the `libiptcdata` library is now provided with MSYS2!

Would have been nicer if either them or @Beep6581 would have mentioned it here as well...
But anyway, I'll update the docs in a moment.

[2021-06-16 17:00] Thanatomanic commented on #6280
The updated docs will have to wait, I can't seem to login to RawPedia. "There seems to be a problem with your login session; this action has been canceled as a precaution against session hijacking. Please resubmit the form. "

[2021-06-16 17:02] Biswa96 commented on #6280
1. I would suggest to test that package with this project in all possible way.
2. Instead of removing the libiptcdata compilation steps from the docs, I would suggest to make it optional. After all I followed those steps to make libiptcdata package.

[2021-06-16 17:39] Thanatomanic commented on #6279
For reference, @agriggio has implemented raw size-dependent crops: https://bitbucket.org/agriggio/art/commits/c8df72cfd2b0c15fda1f5d5c3c5364161daff1bc

[2021-06-17 06:27] Thanatomanic commented on #6280
@Biswa96 Thanks for the suggestion. I have successfully compiled RawTherapee using the MSYS provided package. If it was dysfunctional, I would have expected compilation or linking errors, so all is good :+1:

I have updated the documentation.

[2021-06-17 06:27] #6280 closed, assigned to Thanatomanic

[2021-06-17 07:19] Thanatomanic commented on #6247
Preliminary text written http://rawpedia.rawtherapee.com/Spot_Removal

[2021-06-17 07:19] #6247 closed, assigned to nobody

[2021-06-17 08:49] Thanatomanic commented on #4952
I've made some changes to the text and included a composition of comparison images. As far as I am concerned, this is now good for the next release.

[2021-06-17 08:49] #4952 closed, assigned to nobody

[2021-06-17 09:13] Floessie commented on #6279
I like how Alberto adopted my style for writing lambdas. :sunglasses:

[2021-06-18 09:31] nicolas-t opened #6281 "Dynamic processing rules based on path and filename"
I would like to apply a dynamic processing profile to an image based on where the image stored.

One could add a `filename` and/or `path` option to this screen (similar to camera/lens) :
![image](https://user-images.githubusercontent.com/1765930/122539221-a5dda380-d027-11eb-996f-b5a5e8d43856.png)

We could use the `re:` prefix to use a regex.

**My usecase :**
I use my Canon 5D MKIII to scan my an

[2021-06-18 09:43] Beep6581 commented on #6271
I agree with everything said.

I don't want to use color for text as that will only cause problems down the road. This leaves us with bold or italics for breadcrumb-style references.

As for the question of whether to double-quote interface element names which use sentence-case (e.g. "Avoid color shift") vs those which use title-case (e.g. "Dynamic Range Compression"), the only issue I have with t

[2021-06-18 09:48] Beep6581 commented on #5632
I hope we can release a beta in the next few days. I will put reviewing `default` (#5664) on the top of my priorities so that translations can finally be updated.

[2021-06-18 10:50] Thanatomanic opened #6282 "Nightly builds on Windows create 5-dev-dev cache folder"
As reported here https://discuss.pixls.us/t/cant-start-the-latest-dev-version-of-rawtherapee-for-win64/24746/30, using our nightly builds creates a `RawTherapee5-dev-dev` folder in `%LOCALAPPDATA%`. The expected suffix is `5-dev` as per http://rawpedia.rawtherapee.com/File_Paths.

Ping @aferrero2707 and @Beep6581, can you investigate/comment?
@gaaned92 I haven't tested your builds, how do they beh

[2021-06-18 10:57] waynesutton50 commented on #6271
The RawPedia chapters listed below been revised and updated and should now be consistent with the 4 June RawPedia guidelines for contributing i.e.

https://rawpedia.rawtherapee.com/About_Noise_Reduction
https://rawpedia.rawtherapee.com/Toolchain_Pipeline#Colorimetry
https://rawpedia.rawtherapee.com/Color_Management#Abstract_Profiles
https://rawpedia.rawtherapee.com/CIECAM02#Color_Appearance_.26_Li

[2021-06-18 12:19] DraperyofConsciousness opened #6283 "GPS and XMP EXIF data stripped saving in TIFF"
**Short description**

I'm using RT 5.8 on Windows 10 and I'm processing TIFF files from GIMP. I've noticed that saving in TIFF makes me lose most EXIF data (in particular GPS and XMP data) both in compressed and uncompressed mode, even if the Metadata copy mode is set to "copy unchanged".

Other useful information:

This is the original TIFF image with all EXIF data
![image](https://user-images.g

[2021-06-18 12:25] Thanatomanic commented on #6283
Maybe related: https://github.com/Beep6581/RawTherapee/issues/6170

[2021-06-19 07:21] Thanatomanic commented on #4243
http://rawpedia.rawtherapee.com/Local_Contrast

I've made a preliminary text and provided an example.

[2021-06-19 07:21] #4243 closed, assigned to Beep6581, agriggio

[2021-06-19 07:46] Thanatomanic commented on #5469
Done http://rawpedia.rawtherapee.com/Linux#CMake

[2021-06-19 07:46] #5469 closed, assigned to nobody

[2021-06-19 10:18] Thanatomanic commented on #2198
I've revised a small portion of the Color Management article (Input Profile section up to DCP). I did not encounter many more vague things, so I don't think further changes are necessary for 5.9.

[2021-06-19 10:18] #2198 closed

[2021-06-19 10:27] #5676 closed, assigned to heckflosse

[2021-06-19 15:57] Thanatomanic opened #6285 "ipwavelet.cc possible array out of bounds"
@Desmis When doing some cppcheck analysis, I got the following warning:

[code]

The relevant lines of code:
https://github.com/Beep6581/RawTherapee/blob/a6a8ee0e4074205cceab2df3c76fb79e2dee3d93/rtengine/ipwavelet.cc#L451-L453

The definition of `mulC`:
https://github.com/Beep6581/RawTherapee/blob/a6a8ee0e4074205cceab2df3c76fb79e2dee3d93/rtengine/ipwavelet.cc#L91

So the highest index for `mulC` s

[2021-06-19 16:34] Desmis commented on #6285
@Thanatomanic

You are true...There is something wrong :)

For contrast value, I allow 10 levels (which should be very rare and difficult to observe on screen).
But for chroma, only 9 levels....which is more than enough

so I will keep the mulC[9] declaration and change the loop limit.

I will change soon

But it is a very very old bug....since 2012..or 2013

Thank you very much

Jacques

[2021-06-19 17:20] oliver124810 commented on #5845
I confirm that the "Continuous High" bug is fixed on master but not in 5.8.

[2021-06-19 17:45] #6285 closed, assigned to Desmis

[2021-06-19 23:28] Lawrence37 commented on #6244
@AndyAstbury I managed to borrow a Bluetooth mouse but could not replicate the issue. Let's see if anyone runs into the same problem once the beta version is out.

[2021-06-20 00:34] AndyAstbury commented on #6244
@Lawrence37 - like I said, it's more likely to be my OS/Parallels/Linux interface that's causing the problem.  Will check the MacBeta when it's released.
Cheers!

[2021-06-20 08:36] nomar500 opened #6286 "macOS big sur apple M1 RT-5.8 dev crash when browsing"
Just had a crash while simply browsing directories in the left panel.

- build information:

[code]

- terminal output: (libomp output seems unrelated, I witness it quite often)

[code]

<details>

<summary>Unfold problem report
</summary>

[code]

</details>

[2021-06-20 10:42] syyrmb opened #6287 "New Chinese (Simplified) traslation for RT 5.8"
[Chinese (Simplified).zip](https://github.com/Beep6581/RawTherapee/files/6686647/Chinese.Simplified.zip) (updated on 6.21, forgot to delete one translated key)

I heard that all the translation files for RT will be reviewed soon, so this is my last translation update for RT 5.8.

I'll make a basic translation for RT 5.9 Beta real quick, soon after the generatetransdiff script is ran by the devs.

[2021-06-20 17:13] Pandagrapher commented on #6244
I use a Bluetooth mouse with MacOS : I never reproduced this issue with `dev`.

[2021-06-20 18:58] SimonSegerblomRex commented on #6237
I'm probably missing something, but why did you introduce this regression in 6c96bf7 @Thanatomanic? Removing the Leica M8 entry (which looks like settings for a 14 bit mode) from `camconst.json` fixes this issue.

[2021-06-21 05:56] Thanatomanic commented on #6237
Well, verbose mode tells me that `dcraw` provides a white level of 16383, when I load the raw data in my own analysis script, the values lie between 2 and 16256. So I wouldn't assume that setting a white level of 16383 in `camconst.json` would hurt, but apparently it does.
Judging from the regular gaps in the histogram, there seems to be 8-bit data in the file that gets expanded to 14-bit. Weird b

[2021-06-21 06:04] Thanatomanic commented on #6237
@SimonSegerblomRex I've pushed a fix https://github.com/Beep6581/RawTherapee/commit/7e36240f3af05bdb17e33db135c0e0ea0bef0bb3
But there is something fishy going on with what `dcraw` does, what it reports and how the `camconst.json` override that seems okay actually screws things up. Something to figure out at some point...

[2021-06-21 06:04] #6237 closed, assigned to nobody

[2021-06-21 14:55] maderios commented on #3317
I can't use file browser because there is no option to sort files. It's really bad. So, I have to use Digikam to sort, search images and open them in Rawtherapee.