[2016-10-14 07:08] #3459 closed

[2016-10-14 07:19] Beep6581 commented on #3458
No, it has not been brought up before.

[2016-10-15 19:54] romandocent commented on #3306
@Beep6581 can you reupload patch? just have timeframe to test it, but "ERROR 410: Gone" when try wget.

[2016-10-15 20:03] romandocent commented on #3306
@Beep6581 ..and if I try just copy code above, paste it to created rt3306.patch file and then run git apply rt3306.patch, I get `/home/roman/repo-rt/rtengine/dcrop.cc: In constructor ‘rtengine::Crop::Crop(rtengine::ImProcCoordinator*, EditDataProvider*, bool)’:
/home/roman/repo-rt/rtengine/dcrop.cc:36:59: error: class ‘rtengine::Crop’ does not have any field named ‘padding’
       updating(false),

[2016-10-15 22:43] romandocent opened #3460 "Add the "Scale" function"
I would like to see the "scale" function for the crop and/or perspective correction.
It's very helpful when you have a deal with architecture. But as RT cuts pictures, the third-party software is necessary for such corrections ((.
See the examples on screenshots. Is it possible to add this simple but very useful tool?

![screenshot from 2016-10-15 00-35-34](https://cloud.githubusercontent.com/asse

[2016-10-15 23:55] Hombre57 commented on #3406
After some days or weeks of stall in the approval of the soft-proofing branch, I conclude that it's in an acceptable state of feature set and did merged it to master, so we can go on with the Gtk3 branch (see commit 50165da).

I only hope that I haven't forget to report all the cppcheck fix when merging master in to the soft-proofing branch first.

Now you can start flaming me for this merge, or p

[2016-10-16 00:14] TooWaBoo commented on #3408
Yes, it's still valid.

[2016-10-16 00:38] romandocent commented on #3408
The solution, that I found at this moment. Use Nikon D600 dcp that I've got from Adobe DNG Converter or Adobe Camera RAW installation. With this dcp profile colors and tones get close to native Nikon profile. But one more thing: in "Color management" tab, where you use custom dcp profile, the "tone curve", "baseline exposure" and "Look table" options must be checked ("base table" switched on by de

[2016-10-16 12:41] perspectival commented on #2543
I'm also very interested in this feature. It really is a hassle to track down Adobe lcp lens profiles. One of the major use cases for using RawTherapee is to provide users with a standalone alternative to Lightroom ;-) Thanks for all your hard work on RawTherapee, and I hope lensfun can be integrated.

[2016-10-16 15:45] FabryFire opened #3462 "Fujifilm X-T2 X-Trans CMOS III raw support"
I tried to open Fujitsu XT2 Compressed Lossless RAW files, while the preview is good, once opened, the image displayed is just of a split rectangle, half white, half black.
The same files are perfect on Adobe Camera RAW

[2016-10-16 16:58] heckflosse commented on #3406
@Hombre57 `Now you can start flaming me for this merge` : Why should we complain? According to `New major release - RT5` #3300 it should be merged.

[2016-10-16 17:01] Beep6581 commented on #3460
Duplicate of #198

[2016-10-16 17:01] #3460 closed

[2016-10-16 17:05] Beep6581 commented on #3406
I'm happy you merged it, thank you @Hombre57!

[2016-10-16 17:10] Beep6581 commented on #3408
@romandocent please upload the raw file(s), not the JPEG(s).

Yes.

[2016-10-16 17:29] Beep6581 commented on #3462
@FabryFire please upload a sample raw file using http://filebin.net/

[2016-10-16 17:30] Beep6581 commented on #3462
Duplicate of #3229

[2016-10-16 17:30] #3462 closed

[2016-10-16 17:35] FabryFire commented on #3462
Done !

[2016-10-16 17:47] heckflosse commented on #3462
@FabryFire `Done !` : where?

Question: `Can you please tell me what time it is?`
Answer: `Yes`

;-)

[2016-10-16 18:05] FabryFire commented on #3462
Sorry, forgot a “paste”

https://filebin.net/vce5wdfqbqod0z7x

[2016-10-16 18:56] heckflosse commented on #3462
@FabryFire Thanks for uploading the file. As I mentioned in a few other Issues, I already started porting support for compressed xtrans files from libraw code to rawtherapee. But I won't manage this before rt 5.1 (hopefully end of the year) as we want to release rt 5.0 soon (end of October) and there's still s lot of other work to do.

[2016-10-16 18:57] FabryFire commented on #3462
Thank you very much for your work!

Fab

[2016-10-16 20:09] Hombre57 commented on #3406
Thanks :wink:

I'm closing this issue which is quite long now. If you want a better softproofing or correct some bugs, I'd suggest everyone to open a new issue.

[2016-10-16 20:09] #3406 closed

[2016-10-16 20:35] heckflosse commented on #3456
I merged cppcheck into master branch...

[2016-10-16 21:26] Beep6581 commented on #3406
`master` merged into `gtk3`

[2016-10-16 21:39] Beep6581 commented on #3456
And I merged `master` into `gtk3`.

[2016-10-16 21:44] Beep6581 commented on #3406
A heads-up: commit 50165dab20aa4442cdb66fac960e40c062c15e13 is called "Merge branch 'master' into softproofing" when it should actually be called "Merge branch 'softproofing' into master".

[2016-10-16 21:50] #3458 closed

[2016-10-16 21:56] Hombre57 commented on #3406
That's the Git magic :wink: : I first merged master into the soft-proofing branch to solve the conflicts, and then the title is correct, then merged back the result in master. Being a fast-forward, there was no title to set for this merge.

I'm not very comfortable with Git, so I did it my way. Would you have recommended me to merge the softproofing branch into master directly, solving the conflic

[2016-10-16 22:20] Beep6581 commented on #3406
That is perfectly fine, or at least I don't know of anything being wrong with doing that.

You are right about the fast-forward re-using the old commit message. It is strange (to me) that the network graph just switches branches like that... master was black, then suddenly its blue while the black line continues straight. Maybe it will make sense after some sleep...

[2016-10-16 23:34] Hombre57 commented on #3297
Histogram wrong refresh should be solved in the gtk3-bugfix branch.

[2016-10-16 23:37] Hombre57 commented on #3447
gtk3.20 still not supported, but this particular issue has been fixed in the gtk3-bugfix branch. Please test if still compatible with previous version of Gtk3 please.

[2016-10-17 08:03] Floessie commented on #3456
@heckflosse Sorry for not participating, the weekend was busy with real life things. And so will be the week coming...

[2016-10-17 14:31] heckflosse commented on #3456
@Floessie No worries! I try to fix some more now in a new cppcheck3 branch

[2016-10-17 14:43] Beep6581 commented on #3300
Hello
How are we with the `clang-tidy` and >=gtk+-3.20 branches/patches?

[2016-10-17 15:40] Floessie commented on #3456
@heckflosse Thanks! Can't branch names be reused in git?

[2016-10-17 15:44] Floessie commented on #3300
@Beep6581 I have to clean some things up on the `clang-tidy` branch (for instance `dcraw.cc` has to be reverted prior to merge) and have very little time this week. I can't promise to finish or recreate it this week, but I'll try to somehow make it.

[2016-10-17 16:08] heckflosse commented on #3456
@Floessie Should be possible to reuse branch names. Will do that next time

[2016-10-17 16:54] heckflosse commented on #3456
I pushed some new fixes to cppcheck3 branch. gist is updated too

[2016-10-17 17:10] vivo75 commented on #3447
@Hombre57 yes the "gtk3-bugfix" branch does work, there are still visual differences as it's visible in the two screenshot below, but RT is useable.

OT I've a personal opinion on libraries that require this kind of changes after a "minor" upgrade but I'll keep that for myself.

![gtk-3-18_20161017_182153](https://cloud.githubusercontent.com/assets/60593/19447103/4999d434-949c-11e6-85c0-3b8a9f5c4d

[2016-10-17 19:58] Hombre57 commented on #3447
I think we have the same opinion.

On the second screenshot, the theme is not loaded at all.

[2016-10-17 20:03] Hombre57 commented on #3300
I tried to get RT works with gtk>=3.20, but I'm about to give up. Still on this issue at the moment.

[2016-10-17 20:13] Beep6581 commented on #3300
What is the problem?

[2016-10-17 20:13] Beep6581 commented on #3446
@Hombre57 what is the problem?

[2016-10-17 20:25] Hombre57 commented on #3446
The RT's theme just doesn't load. I have this warning message :
`(rawtherapee.exe:3440): Gtk-←[1;33mWARNING←[0m **: Could not load a pixbuf from /org/gtk/libgtk/theme/Adwaita/assets/check-symbolic.svg.
This may indicate that pixbuf loaders or the mime database could not be found.`

Maybe it is related, or not. I hope so, otherwise I don't know why they doesn't load.

[2016-10-17 20:35] Beep6581 commented on #3446
Is there a branch with your progress?

[2016-10-17 20:36] Hombre57 commented on #3446
I'll put them in gtk2-bugfix.

[2016-10-17 21:43] vivo75 commented on #3447
maybe it's not loaded because of these warning/errors shown at startup?
[code]

[2016-10-17 21:51] Hombre57 commented on #3300
That's official : I give up on making RT work with Gtk3.22. I'd recommend to enforce the use of Gtk3.18, since it's the last stable version that RT can use. If you're okay, you should replace `>=3.16` by `=3.18` on line 229 & 232 of the main cmakefile.

Removing issue #3446 from the blocking issue.

[2016-10-17 21:55] Hombre57 commented on #3447
@vivo75 Gtk3.20 and beyond are now officially not suitable for RT (since 5mn ago). We'll see at next iteration of the Gtk version, and pray that it's still a usable SDK.

[2016-10-17 22:21] vivo75 commented on #3447
yes, yes I know, I'll take a look too if you are ok with that, let's start with the easy stuff.
RawTherapee.css would benefit from this simple patch, not tested, since the theme is not loaded but css warnings at startup disappear.
[code]

[2016-10-17 22:28] Hombre57 commented on #3447
See here for my own patch that you can take your hand over if you want :
https://gist.github.com/Hombre57/fd3879890662744fd38e7b11cc87faef

[2016-10-17 22:30] vivo75 commented on #3447
thank you

[2016-10-17 22:35] Hombre57 commented on #3447
Forgot to say : the font is forced to 8pt in this patch. The thing is that you can't use what the FontSelector send you as is anymore, i.e. something like `sans 8`. We create a custom CSS code on the fly to update the font, and with Gtk3.20 and above, you have to set this in a syntaxically correct CSS string, i.e. using `font-family`, `font-size` (with a supported unit), `font-style`. The problem

[2016-10-18 09:46] innir commented on #3300
@Hombre57 Please don't or at least not for Linux- this will make RT non-installable for almost all Linux users using recent distros. It works here on Debian with GTK+ 3.22 (and a version using GTK+ 3.22 is already in the official Debian repository).

[2016-10-18 16:40] Floessie commented on #3300
@Beep6581 @heckflosse I've updated the `clang-tidy` branch. Please have a look if my merge from master was okay.

[2016-10-18 16:51] Beep6581 commented on #3300
Hey @innir I was looking for the Debian RawTherapee package maintainer yesterday, and was surprised to find it was someone I know - you :)
"it works" means it loads, but it looks very bad and unusable, right?

@Floessie compiling...

[2016-10-18 17:26] innir commented on #3300
@Beep6581 Yes, always try to make rawtherapee easy to use :) and no, it looks good, I don't see any obvious problems.

[2016-10-18 18:34] maxiking01 commented on #3297
It still does not refresh histogram after showing the left panel. However your patch solved another problem which occurred also with this bug. When you reproduced steps described in scenario and then changed contrast of the histogram the one with previous value of contrast and with new one were drawn on the same area. @Hombre57 are you going to solve this bug? If you do I'll change to other task b

[2016-10-18 18:54] maxiking01 commented on #3131
Sorry if I'm resurrecting the issue, but the problem still persists on the gtk3 branch on commit bb9c184af7a3e86aa1f1a15457fa59aab4a802e7. I check it with and without polish letters in the file path. On the first one the queue is restored and the second not.

[2016-10-18 18:55] Beep6581 commented on #3300
@innir that's... not possible! Could you show a screenshot of a RT build which uses Gtk+ >=3.20 and looks good?

[2016-10-18 18:55] Hombre57 commented on #3300
@innir That's interesting. Could you answer the following points :
   1. Which precise version of Gtk are you using ? Could you post your AboutThisBuild file please ? And the log of the cmake process too, it'll give use some details on all the versions of the libraries.
   2. Don't you have warning message when starting RT ?
   3. Do you have the system them selected or one of the custom themes ?

[2016-10-18 19:09] Beep6581 commented on #3297
@maxiking01 you wrote on July 13, three months ago, "I will take this issue and see what I can do about it".

[2016-10-18 19:38] innir commented on #3300
Here is a build log for i386: https://buildd.debian.org/status/fetch.php?pkg=rawtherapee&arch=i386&ver=4.2.1241-2&stamp=1475275785

Screenshot: http://imgur.com/a/Mzt6i

Here is my AboutThisBuild (sorry this is for amd64):
[code]

[2016-10-18 19:45] Hombre57 commented on #3297
Yes, I'm investigating.

[2016-10-18 19:47] innir commented on #3300
@Hombre57:

1. See my last post ;)
2. I get some warning but not many: http://pastebin.com/nWhFuHdC
3. I use the system theme, never tried a cusom om

[2016-10-18 19:54] Beep6581 commented on #3300
@innir what you're seeing is the problem - hideously large widgets, RT css theme not used.

[2016-10-18 19:55] Hombre57 commented on #3300
...and we shouldn't have any warnings. RT doesn't work with Gtk 3.22 yet (nor 3.20).

[2016-10-18 20:29] Hombre57 commented on #3297
Can I solve this in gtk3 only ? I think it's a minor issue and it's way simpler to solve in Gtk3 than master (i.e. Gtk2).

[2016-10-18 20:30] innir commented on #3300
@Beep6581 @Hombre57 Well, it works - It might not look as pretty as it could. But if you think it should not be shipped, I'm OK with it - should I package the gtk2 version instead?

Debian/Ubuntu/..., Fedora, Arch and all other major Linux distributions have GTK+ >= 3.20 now so there must be some plan for Linux I fear...

[2016-10-18 20:53] heckflosse commented on #3297
@Hombre57 `Can I solve this in gtk3 only ?` Yes.

[2016-10-18 21:20] Hombre57 commented on #3297
Solved in gtk3 branch, what will soon be the new master.

[2016-10-18 21:20] #3297 closed

[2016-10-18 21:53] Beep6581 commented on #3300
@innir we're working on it, with no promises...
If we don't manage to fix it, then distros with Gtk+ 3.16-3.18 should have the `gtk3` branch, while distros with any other Gtk3 version should have the `master` branch.

[2016-10-19 05:50] Floessie commented on #3300
@Beep6581

Normally, you are the one asking for proof of such statements. :flushed:

IMHO, this is much more the truth. But fortunately, there is still the `master` branch.

[2016-10-19 07:58] Beep6581 commented on #3300
@Floessie I expected that ;) http://distrowatch.com/table.php?distribution=xxx
But good news - Hombre and I have been working on this and we already have a good-looking RT on >=3.20

[2016-10-19 08:23] Beep6581 commented on #3446
@vivo75 we are working on the same thing, please coordinate your work with us here. More to follow...

[2016-10-19 11:14] #3451 closed

[2016-10-19 13:26] heckflosse opened #3469 "Noise reduction fails when image contains a large uniform (i.e. overexposed) area"
From here: https://discuss.pixls.us/t/noise-reduction-for-highlight-jpg/2301/11

The image contains a very large overexposed area which leads to noise reduction failing in preview and in all modes except `Auto multi-zones`.

I pushed a fix to [a new branch](https://github.com/Beep6581/RawTherapee/tree/denoise_uniform). I also checked before/after fix with a lot of files which don't contain a large

[2016-10-19 16:25] maxiking01 commented on #3297
@Beep6581 I tried to solved it with the help of gtk documentation but I stuck on the unknown territory of ui framework . I should've asked somebody for help in this time. I asked because I didn't to double the effort.

[2016-10-19 17:53] frspp opened #3471 "Olympus OMD E10 MK2 pink raw"
If overexposed, RT shows & exports in pink.
Raw: https://filebin.net/5db68swymrvkitjk
RT: latest downloaded from http://rawtherapee.com on OSX 10.11.

Branch: master
Version: 4.2.876
Changeset: ba534817502c7f02930efb567c6dd6f74cfe995a
Compiler: clang-mp-3 3.7.1
Processor: generic x86
System: Apple
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: Release
Build flags: -w -std=gnu++11 -mtune=generic -We

[2016-10-19 18:49] heckflosse commented on #3471
@frspp Works fine here using latest rt version. Please download [this file](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/camconst.json), copy it over the existing one on your system and try again. Don't know where that is on OSX though.

[2016-10-19 19:36] heckflosse commented on #3471
Reopened this issue because there's still an issue with that file...

[2016-10-19 19:38] heckflosse commented on #3471
@iliasg Can you have a look? I have to dial in 1.01 raw white point to avoid pink highlights

[2016-10-19 21:05] frspp commented on #3471
Ye, I also tried with camconst.json you linked to, didn't help.

[2016-10-19 21:43] heckflosse commented on #3471
@frspp Can you change line 1413 of camconst.json to
`        "make_model": [ "OLYMPUS E-M10", "OLYMPUS E-M10 Mark II", "OLYMPUS E-M10MarkII" ],`
and try again?

I tried and that works fine here

[2016-10-19 21:55] frspp commented on #3471
Yes, works here too. Thanks!

[2016-10-19 21:56] Beep6581 commented on #3471
Now it's my turn to re-open ;)

[2016-10-19 21:59] frspp commented on #3471
haha ok :D I made fork for myself and made a pull request, this is proper way to do it?

[2016-10-19 22:09] heckflosse commented on #3471
:+1:

[2016-10-19 22:12] heckflosse commented on #3471
Merged into master branch

[2016-10-19 22:25] heckflosse commented on #3471
@frspp Thanks for your help :+1:

[2016-10-19 22:25] #3471 closed

[2016-10-19 22:38] vivo75 commented on #3446
@Beep6581 I've looked at the thing and I'm not feeling able to go further the css thing, this would be the first gtk project for me, at the moment the following things destroy my hopes:
- when searching the internet for changes 3.18 >> 3.20 only new features are mentioned not incompatibilities (or as I call it regressions) especially not how to fix them.
- the widgets creation spawn hundreds of th

[2016-10-19 22:51] heckflosse commented on #3300
I added #3469

[2016-10-19 23:56] Hombre57 commented on #3446
Thank you for your work @vivo75, I'll take your PR as a resource in order to complete the revamp/update of the CSS file, and I'll certainly delete it when finished.

I've made some progress today, but nothing to commit yet.

What puzzle me the most is that free space of ~25px around the application itself ! I don't know where to change that, if possible at all !

[2016-10-20 00:38] vivo75 commented on #3446
@Hombre57 , I don't experience that, at least using the with both our changes (the one in the pull request)
![screenshot_20161020_023535](https://cloud.githubusercontent.com/assets/60593/19542404/3257cfbe-966e-11e6-816c-4f20db182784.png)

[2016-10-20 10:13] Beep6581 opened #3473 "CbDL badly interacts with Graduated and Vignetting Filter if CbDL is set to 'before Black-and-White'"
https://filebin.net/0k6p7aduvsvb3iu0/imgur-2016_10_20-12_12_05.png
https://filebin.net/0k6p7aduvsvb3iu0/cbdl_vignetting.pp3

It seems that having CbDL enabled while dragging the Graduated Filter widget makes the preview go crazy. The more I drag the widget, the worse the preview becomes.
Using gtk3-testing branch, haven't tried master yet.

[2016-10-20 10:17] Beep6581 commented on #3473
Update: Every time I turn on the Vignetting Filter or the Graduated Filter the preview gets worse. So if I turn it on and off and on and off and repeat, it gets very bad.

[2016-10-20 10:26] heckflosse commented on #3473
I'll have a look

[2016-10-20 10:31] heckflosse commented on #3473
Confirmed, when CbDL is set to 'before Black-and-White'.
Works fine when CbDL is set to 'after Black-and-White'.

[2016-10-20 12:01] Beep6581 commented on #3446
@Hombre57
[code]

[2016-10-20 13:42] Beep6581 opened #3474 "Segfault on EAHD"
Reproduced in RelWithDebInfo build of commit 712468197d8de9d67255622a255b93422479f315 `gtk3-bugfix` branch.

Steps:

1. Apply Neutral from File Browser.
2. Open image.
3. "z" to zoom to 100%.
4. Cycle through demosaicing methods, segfaults on EAHD.

Raw file:
https://dl.dropboxusercontent.com/u/10782279/Med%20School%20Ball%202013-07-27_21-32-48.NEF

[code]
(copy: https://bpaste.net/raw/b51513d6adb

[2016-10-20 19:47] heckflosse commented on #3300
I added #3473 and #3474

[2016-10-20 20:31] Hombre57 commented on #3446
@vivo75 Sorry, I forgot to say it was on Windows.

This is what I get when clicking on the _Maximize_ icon : http://imgur.com/a/SM0hR

[2016-10-20 22:43] #3473 closed

[2016-10-21 07:06] Desmis commented on #3421
I just push a change "merge with master"

1) I am working to another improvment for shape algorithm detection
2) actually we can only work with 5 spots, but there is no problem to have 10 or more. I'll just configured code to allow more spot.
3) I think I found the bug, it is "only" a pipeline problem, with refreshmap, and instructions "todo & someting". But I do not know exactly how to do
:)

[2016-10-21 07:27] Desmis commented on #3421
1) above, is done. I hope no error :)

[2016-10-21 08:03] Floessie commented on #3474
@heckflosse Your cppcheck cleanup 172ab63b859acb13b19b8474dc94e061cb5d75cc was perhaps a bit too heavy, basically turning `RawImageSource::interpolate_row_rb()` into a NOP, when `pg` or `ng` was `nullptr`, making room for even more undefined values.

Here is a not-so-heavy patch for `gtk3-bugfix` (should be applied on master, too):
[code]

HTH
Flössie

[2016-10-21 10:10] #3474 closed

[2016-10-21 10:10] heckflosse commented on #3474
@Floessie Thank you :+1:

[2016-10-21 10:55] Floessie commented on #3474
@heckflosse You're welcome. Fixing a bug is the least I can do.

[2016-10-21 11:19] Floessie commented on #3300
@Beep6581 @heckflosse Is it wise to keep adding "feature bugs" (like #3469) to the list? How can we reach a milestone, if that stone is rocking? :wink:

Having RT5 finished by the end of month would be really nice. Well, that's a bit self-serving, as I'm on Debian, and although @innir mentioned there was time until the end of year, I'm sure RT5 integration to Stretch will be easier when done befor

[2016-10-21 11:46] heckflosse commented on #3300
@Floessie No problem to remove #3469. I just put it there because #3446 is still open and maybe we can solve it too meanwhile.

[2016-10-21 22:29] heckflosse opened #3475 "Speedup for Vignette and Graduated Filter"
I created a [new branch](https://github.com/Beep6581/RawTherapee/tree/speedup_gradient_vignette) with a speedup for Vignette and Graduated filter.
I tested with the usual D800 file and the 3 .pp3 files I attached in the pp3.zip file.

Before/after comparison:

1.pp3 : before 342 ms / after 239 ms
2.pp3 : before 535 ms / after 418 ms
3.pp3 : before 1771 ms / after 596 ms

[pp3.zip](https://github.c

[2016-10-21 22:48] heckflosse commented on #3475
I want to add some additional information:

At the time Anders wrote the code for Graduated and Vignette filter we used C++98 which has a fast pow function with an integral exponent. As we switched to C++ 11 we lost this function and the compiler used the slower pow function with floating point exponent instead.
The patch defines (locally) some of the pow functions with integral exponent and also

[2016-10-22 12:38] Floessie commented on #3475
@heckflosse Ingo, nice speedup. Had a look at your code: Looks reasonable to me.

One thing, that could be written more elegantly is the `pow()`, either with a recursive `constexpr` or a recursive template. Have a look [here](http://stackoverflow.com/questions/18334164/constexpr-versus-template-pow-function) and [here](http://stackoverflow.com/questions/17719674/c11-fast-constexpr-integer-powers/1

[2016-10-22 12:46] Floessie commented on #3475
@heckflosse Maybe [this](http://stackoverflow.com/questions/8992853/terminating-function-template-recursion/8993311#8993311) is interesting, too, if you go for the recursive template as a template function. The `constexpr` function is easier, though. I hope it is as fast, as well.

[2016-10-22 15:14] heckflosse commented on #3475
@Floessie Thanks for the review and the suggestions. I tried the `constexpr` function and the recursive template. Both are a bit slower than the current code. For this reason I'll leave it as is at the moment.
Perhaps we can fly a new round to optimize vignette and graduated filter after rt5 is released.
There should be an SSE version possible for both, though a bit tricky to code with that lot of

[2016-10-22 15:54] nmalykh opened #3476 "Incorrect exposure correction"
RawTherapee 4.2.1171
Exposure correction reset previous rotation.

[2016-10-22 16:14] heckflosse commented on #3476
@nmalykh [How to write useful bug reports](http://50.87.144.65/~rt/w/index.php?title=How_to_write_useful_bug_reports)

[2016-10-22 16:15] heckflosse commented on #3476
@nmalykh Now I understood what you mean. Bug confirmed.

[2016-10-22 16:29] #3476 closed

[2016-10-22 16:30] heckflosse commented on #3476
@nmalykh Thanks for reporting the bug :+1:

[2016-10-23 18:39] Beep6581 opened #3478 "Gtk+ >=3.20 RGB Indicator Bar in Navigator not updated"
The RGB Indicator Bar in the Navigator panel does not refresh. It needs the same fix as from issue #3447, commit 0c78885d25457c80adaaf47489743edf27c3594a.

This fixes it for me:
[code]

@Hombre57 could you check?

[2016-10-23 19:12] Beep6581 opened #3479 "Gtk+ >=3.20 Slider knob bottom half does not register click"
If I hover the mouse cursor over the bottom half of the slider's knob, it does not register a click event, so I can't drag the slider.  In fact the active area doesn't go all the way up to the top either, it seems to catch the event in the area from the middle of the knob half way to the top. Nothing for the bottom.
![knob](https://cloud.githubusercontent.com/assets/5844619/19628767/47f061b6-9965-

[2016-10-23 19:13] Hombre57 commented on #3478
Yes, checking now

[2016-10-23 19:15] Hombre57 commented on #3479
Solved in commit c1a6abb. Could you confirm ?

[2016-10-23 19:27] heckflosse commented on #3300
I removed #3469 from blocking

[2016-10-23 19:32] Beep6581 commented on #3479
Confirmed, thank you!

[2016-10-23 19:32] #3479 closed

[2016-10-23 20:30] heckflosse opened #3480 "Crop-guide is wrong when panning image out of preview in Fit-To-Screen mode"
Apply a crop. Select 'Rule of thirds'. Switch to 'Fit to Screen' using 'f'-key.
Then pan the preview to move 50% of the crop out of the preview.
=> Crop-guide is wrong

[2016-10-23 20:49] Beep6581 opened #3481 "Add curve pipettes for tools missing them"
The following tools lack a pipette feature, this feature request is to add them where possible:

- Noise Reduction
- Vibrance
- Color Toning
- Wavelets

[2016-10-23 20:52] Beep6581 commented on #2643
Stale, messy, @pinhuer disappeared, closing.

[2016-10-23 20:52] #2643 closed

[2016-10-23 21:43] Beep6581 opened #3482 "Gtk+ >=3.20 Whole window goes black"
Using Gtk+ 3.20.9
Reproducible: Not reliably.

Sometimes when I start RT and open a photo, the whole RT window turns black. The contents are there, because if I hover the mouse over the right place I get a visible tooltip over the blackness. Un-maximizing the window draws everything. If I maximize it, things stay good. When that happens, if I toggle the filmstrip, the window always (?) goes black

[2016-10-23 21:49] heckflosse commented on #3482
Sounds like an uninitialized variable

[2016-10-23 23:15] Hombre57 commented on #3480
Works fine now in master.

[2016-10-23 23:24] heckflosse commented on #3480
@Hombre57 Fix confirmed. Thank you :+1:

[2016-10-23 23:27] #3480 closed

[2016-10-24 07:38] Floessie commented on #3482
Seen it, too. My debug build spits out the following:
[code]

[2016-10-24 10:07] Floessie commented on #3482
Maybe the hints in #2925 help with debugging.

[2016-10-24 12:27] Floessie commented on #3482
Here is the tail of all those messages:
[code]

Tested with 7124681, not yet seen on current `gtk3-bugfix`.

HTH
Flössie

[2016-10-24 12:57] Beep6581 opened #3483 "Gtk+ >=3.20 Comboboxes must not let content overflow"
Comboboxes in Gtk+ >=3.20 have different defaults than they had previously. All comboboxes in RT must be made to not allow text overflow.
The Processing Profiles selector is one such combobox which must be fixed, as it currently expands to the left to accommodate for the longest item it contains, which means if one of the PP3s has a long name it looks like this:
![imgur-2016_10_24-14 57 04](https:

[2016-10-24 13:25] Beep6581 commented on #3482
Tried with `GTK_DEBUG=geometry G_DEBUG=fatal-warnings`, could not reproduce the `attempt to allocate widget with width -verylongnumber and height smallnumber` problem on `gtk3-bugfix` either.

[2016-10-24 13:59] Beep6581 commented on #3469
Related: https://discuss.pixls.us/t/image-in-viewer-different-from-rawtherapee/2521

[2016-10-24 14:05] Floessie commented on #3482
Me neither. I can't see the bug nor the message on `gtk3-bugfix`, only on 7124681.

[2016-10-24 16:32] heckflosse commented on #3469
@Beep6581

No, it's a different issue. The example from pixls.us is related to Denoise Luminance-Detail (Detail recovery)

[2016-10-24 17:09] frspp opened #3484 "Additions to preferences: default grid, default aspect ratio, lock ratio on/off"
My wishlist
1. Add to preferences/somewhere: option to choose default grid when cropping (for me it's no grid)
2. Add to preferences/somewhere: option to choose default aspect ratio and lock ratio on/off state when cropping

And this one may even be a bug?
3. Cropping works very nicely in Adobe Camera Raw. Once you choose cropping tool, you see also areas outside of crop. When tool is changed/crop

[2016-10-24 17:24] Beep6581 commented on #2638
Closing, nonsense issue, body does not match description, and the two "slightly annoying" things mentioned are long gone.

[2016-10-24 17:24] #2638 closed

[2016-10-24 17:26] Beep6581 commented on #3484
One item per issue please.

- 1 and 2 are handled by making your own default processing profile. http://rawpedia.rawtherapee.com/
Related:

  * #2255 Crop guide: migrate to toolbar
  * #1192 Crop panel redesign

- 3 is handled by Preferences > Default Theme > Crop mask color/transparency.

Closing.

[2016-10-24 17:26] #3484 closed

[2016-10-24 21:23] frspp commented on #3484
ah yes, thanks for info

[2016-10-25 01:48] romandocent commented on #3306
@Beep6581 ??

[2016-10-25 06:00] Floessie commented on #3306
@romandocent Had not expected to see you back so soon. :wink:

Here is an updated patch. Don't wait for RT6 to test it on.

[code]

[2016-10-25 07:19] Desmis commented on #3421
I just posted a change with:
1) improving the shape detection algorithm for part Retinex. I used the same principle as in lightness/contrast/chroma

2) clean up the code

3) allow the user to choose the number of spots. I am not come to establish a dynamic system, not the dynamic mode is impossible, but the monitoring / selection that I have set up (slider) is very difficult to operate.
You can ch

[2016-10-25 09:44] Beep6581 commented on #3421
Compiles and runs fine here. I tried to reproduce the crash someone in the forum experienced when using 5 spots, but it didn't crash.

I did find that each spot has an affect on the other spots even when they don't touch. PP3 file with 5 spots https://filebin.net/0ie7hi3np0vbf7bl - remember to set the options file to 5 spots too. Scroll through all 5 spots, and you will see how all of them change

[2016-10-25 12:47] Desmis commented on #3421
I am the only one to crash??

I know this problem ... but I think Perhaps it is due to the same problem as crash (bad events, bad refresh) ??
I think it should be possible to achieve local control modules for many but not for all, or at least without a rewrite RT (pipeline, raw process ...) : eg white balance
More, local algorithms are often different overall because they do not take into account

[2016-10-25 14:03] fliker09 commented on #3409
I found out that **dcraw** is able to output multipliers:

Loading Canon EOS 7D Mark II image from DW1A1821.CR2 ...
Scaling with darkness 2047, saturation 13584, and
multipliers 2.334676 1.000000 1.343017 1.000000
AHD interpolation...
Converting to sRGB colorspace...
Writing data to DW1A1821.ppm ...

Something similar would like to see from **RawTherapee**, but instead I need _Temperature_, _Tint_

[2016-10-26 13:23] Beep6581 commented on #3446
@Hombre57 I'd like to merge master into gtk3, but I don't want to cause merge issues for gtk3-bugfix. What do you suggest?

[2016-10-26 21:23] Hombre57 commented on #3446
You can do it, I'll forward the merge to the gtk3-bugfix branch.

[2016-10-27 11:33] heckflosse opened #3485 "hphd demosaic : left quarter is not demosaiced correctly"
Though I think hphd demosaic is not used very often, it is available in rt and therefore should work correctly.
Currently the left quarter of the image is not demosaiced correctly. Screenshot shows the bug.
Left is current version, right is fixed...

![hphd](https://cloud.githubusercontent.com/assets/13733487/19765664/d80237ac-9c49-11e6-921e-8f9bd2e77d4c.png)

[2016-10-27 11:40] #3485 closed

[2016-10-28 13:24] Beep6581 commented on #3446
Monday is the last chance to make an October release. @Hombre57 what are you feelings on merging gtk3-bugfix into gtk3 by then? There must still be time to test that the merge does not break things for Gtk+ 3.16-3.18.

I will merge master into gtk3 tonight.

[2016-10-28 13:28] heckflosse commented on #3446
@Beep6581 @Hombre57 I'll test using 3.18 on Win7

[2016-10-28 16:03] heckflosse commented on #3446
@Beep6581 I pushed a [new branch](https://github.com/Beep6581/RawTherapee/tree/integration). It is master merged into a copy of gtk3 branch. I didn't want to push directly to gtk3 branch, but you can use it to solve the merge conflicts when you merge master into gtk3 branch

[2016-10-28 19:57] Beep6581 commented on #3446
Thank you @heckflosse , merged and deleted.

[2016-10-28 19:57] Beep6581 commented on #3446
Wrong button.

[2016-10-28 20:05] esby commented on #2631
Basic features:

* allow tools to be favorited or trashed (which hides them by moving them into the trash tab.)
* allow tools to be moved horizontally between tabs.
* allow tools to be moved or vertically inside a given tab.

Basic tweaks / fix:
* allow to test (play) the sounds defined in sound preferences inside the preference tab..
* the title is now divided into two areas: one for the title an

[2016-10-28 20:39] Beep6581 commented on #3261
The `gtk3-bugfix` branch still shows this gap problem:
https://i.imgur.com/DLyr8ev.jpg
But!
I think there is a new behavior, as it's unlikely I haven't noticed it before. Maybe it helps track down the problem. Here's what happens:

1. Right-click on any tool.
2. Right-click on L*a*b* Adjustments. Sometimes the gap problem triggers, but usually not. https://i.imgur.com/qcoAtkQ.jpg
3. Click on the L

[2016-10-28 21:52] Hombre57 commented on #3446
Gtk3 branch merged into gtk3-bugfix done. Working on the remaining flaws, however I don't think I'll be able to solve the gap around the application when in full screen mode on Windows (Win7).

[2016-10-28 22:26] heckflosse commented on #3446
I found a bug :
![another_bug](https://cloud.githubusercontent.com/assets/13733487/19824275/568eaf72-9d6e-11e6-9fa3-9e88af25d73a.png)

[2016-10-28 22:37] Beep6581 commented on #3446
@Hombre57 regarding font removal, please see:
[code]

[2016-10-29 11:27] Desmis commented on #3421
I think I have found a way to solve many bugs...
it remains no more than one, but important :)

[2016-10-29 15:32] Desmis commented on #3421
I just push a change.

I have fixed some important bugs.

Now everything seems to work correctly (of course to verify) except for using slider "chrominance" (Color and light) which in some cases leads to crash. I will try to fixed it !

After many trials, I modified the code by using LUT to store the values of the spots, then calling in Dcrop.cc by parent->xxx. Currently you can used till 500 spot

[2016-10-29 19:34] heckflosse opened #3486 "gtk3: progress bar remaining blue after processing is annoying"
In gtk3 branch the progress bar remains blue after processing a file (which means after changing a setting or panning etc.)
Imho this is annoying because the blue bar at the bottom attracts the eye.
I suggest the following change. It sounds strange, but works great.

[code]

[2016-10-30 11:23] Hombre57 commented on #3486
Looks good ; I can't test right now but it's conform to the rest of the code.

[2016-10-30 11:53] heckflosse commented on #3486
Fixed in branch `gtk3-bugfix`

[2016-10-30 12:51] Beep6581 commented on #3486
Fix confirmed. I like the new behavior.

[2016-10-30 12:53] Beep6581 commented on #3483
@Hombre57 could we include this one for RT5 release?

[2016-10-30 12:54] Beep6581 commented on #3478
It works fine now in gtk3-bugfix, closing.

[2016-10-30 12:54] #3478 closed

[2016-10-30 13:06] Beep6581 commented on #3446
The ThresholdSelector has a white frame, it does not look good:
![malselm](https://cloud.githubusercontent.com/assets/5844619/19836698/d758c7e2-9ea8-11e6-8ea7-0c0b976c9a82.png)

Fix:
`#ThresholdSelector { border-color: #252525; }`

[2016-10-30 13:28] Beep6581 commented on #3446
Disabled elements are not handled.
[before fix](https://cloud.githubusercontent.com/assets/5844619/19836849/f8921734-9eac-11e6-92b8-9aaa340a0394.png)
[after fix](https://cloud.githubusercontent.com/assets/5844619/19836857/1ba9c05a-9ead-11e6-8c2c-e5f934efef07.png)

Fix:
`*:disabled { color: #666666; }`
or
`label:disabled, check:disabled, radiobutton:disabled, checkbutton:disabled { color: #666666;

[2016-10-30 13:30] Beep6581 commented on #3446
Meta tab, I cannot resize the columns:
[problem](https://cloud.githubusercontent.com/assets/5844619/19836871/6e814596-9ead-11e6-8382-5d439134722a.png)

[2016-10-30 15:02] heckflosse commented on #3446
On my old Sabayon Laptop with 1366x768 screen using gtk3 3.20.1 on gtk3-bugfix branch I can not resize left or right panel. Works fine on master branch using gtk2.
Screenshot follows in a few minutes

[2016-10-30 15:24] heckflosse commented on #3446
Threshold selector points are not visible in 3.20.1
![malselm](https://cloud.githubusercontent.com/assets/5844619/19836698/d758c7e2-9ea8-11e6-8ea7-0c0b976c9a82.png)

Works fine in 3.18

[2016-10-30 16:05] Jossie2 opened #3487 "Path to ICC profiles"
Hi,
the path to the ICC profiles as set in preferences is only used for the first image. Once I open the next image and want to set the ICC profile, the path has changed to ...\program files\rawtherapee\. One has then to click through the windows folder to get to the folder C:\Windows\System32\spool\drivers\color, which is quite annoying.

In preferences - Color management - path to ICC profiles -

[2016-10-30 16:16] heckflosse commented on #3487
@Jossie2 Thanks for reporting the bug. Confirmed also using master branch. I have a look now

[2016-10-30 18:05] Beep6581 commented on #3446
Resizing the panels works fine for me using Gtk+ 3.20.9, though the "catchment" area is only 1 pixel wide making it hard to hit it.

[2016-10-30 18:23] heckflosse commented on #3446
No catch here

[2016-10-30 18:25] Beep6581 commented on #3487
SETM, Gtk+ 3.20.9 in Linux, cannot reproduce. Furthermore, AFAIK, that option is there only for the monitor ICC profile. That has nothing to do with input color profiles. I would consider renaming the label to be more clear about this the correct solution to this issue.

[2016-10-30 18:51] Beep6581 commented on #3487
I reproduced the bug. Steps:

1. Open a photo, click "Custom", select an ICC profile in `~/somefolder/foo.icc`
2. Open a photo either with no PP3 associated, or with a PP3 which does not use "Custom".
3. Click "Custom". Opens in home instead of the last-used folder.

If I now open the previous photo and click Custom, it will correctly open `~/somefolder/` because it was saved in the PP3 under the

[2016-10-30 19:46] Beep6581 opened #3488 "Preferences > Color Management overflow"
Master branch, Gtk+ 2.24
![ce1q8ek](https://cloud.githubusercontent.com/assets/5844619/19839432/d285d898-9ee1-11e6-9b7e-a62ac8c5a080.png)

[2016-10-30 19:52] Beep6581 commented on #3488
Fixed in branch colt-fix
https://github.com/Beep6581/RawTherapee/tree/colt-fix

[2016-10-30 20:16] Beep6581 commented on #3300
I'd like to squeeze #3488 in, as it's small and benign.

[2016-10-30 20:41] heckflosse commented on #3300
:+1: for #3488

[2016-10-30 21:04] Beep6581 commented on #3446
Which one do you prefer?

`#ThresholdSelector { border-color: #252525; }`
![imgur-2016_10_30-22 04 24](https://cloud.githubusercontent.com/assets/5844619/19839991/c469188c-9eec-11e6-8c33-995994a1fdd3.png)

`#ThresholdSelector { border: 1px solid #252525; }`
![imgur-2016_10_30-22 01 24](https://cloud.githubusercontent.com/assets/5844619/19839968/5c69805a-9eec-11e6-8a84-716491a4e52b.png)

`#Threshol

[2016-10-30 21:05] Beep6581 commented on #3446
My vote: 1, 4, 2, 3.

[2016-10-30 21:29] heckflosse commented on #3446
4

[2016-10-31 00:18] Hombre57 commented on #3446
@Beep6581 @heckflosse I'm working in this too, I'd like to display the sliders the same way than the standard sliders (been working on this the whole w.e., due to a silly bug).

[2016-10-31 06:57] Desmis commented on #3421
I pushed a change
I found an error in detection algorithm for chroma....
I corrected somme errors in code and some bugs
:)

[2016-10-31 07:41] iliasg commented on #3298
camconst.json update includes
Pentax K-70 (reported in https://discuss.pixls.us/t/support-for-pef-dng-from-pentax-k-70-and-pixel-shift-resolution/2560).
adobe_coeff setting needed in Dcraw.cc for activating camconst.json WLs for Pentax's DNGs

Preliminary support for
Panasonic LX10/15
XiaoYI M1 (this one exports DNG files and needs to set "adobe_coeff" in Dcraw.cc to activate the correct WL)
https

[2016-10-31 07:43] Beep6581 commented on #3446
@Hombre57 yes, just CSS as shown. Please update me on your status as I intended to release RT5 today and so merge gtk3-bugfix into gtk3.

[2016-10-31 10:37] Beep6581 commented on #3298
I re-formatted the whole file and rewrote some parts.
Notable changes:

- The file had a mix of tab and space characters. Now tab characters are no longer used.
- Indentation is always 4 space characters wide.
- Closing braces appear on the same column as the first non-indenation character of the line with opening braces.

Please check that your text editor respects the formatting already in the f

[2016-10-31 12:34] heckflosse commented on #3298
@iliasg

That's an easy modification. But I would like to test it. Do you have a link to a DNG from that camera?

[2016-10-31 12:50] iliasg commented on #3298
Ingo, sure .. choose from Dpreview gallery
https://www.dpreview.com/samples/0522898516/yi-m1-sample-gallery
We need the same for Pentax k-70's DNGs (because the WL reported is not absolute as used by RT but decreased by BL ..
http://www.imaging-resource.com/PRODS/pentax-k70/pentax-k70A7.HTM

[2016-10-31 12:50] heckflosse opened #3489 "Support for Pentax pixel shift files"
Pentax K70 supports pixel shift mode. In this mode 4 shifted frames are recorded and available in the raw file.
[How it works](http://www.pentaxforums.com/articles/photo-articles/how-pentax-k-3-ii-pixel-shifting-works.html)
In first step we could allow access to each of the frames in rt. That's easy, as dcraw already supports that. We would need a frame selector somewhere in gui of the raw demosai

[2016-10-31 13:06] iliasg commented on #3489
May be this will help .. https://github.com/tomtor/dcrawps

[2016-10-31 13:16] heckflosse commented on #3489
@iliasg :+1:

[2016-10-31 13:32] heckflosse commented on #3298
@iliasg In first step I will simply call adobe_coeff especially because we want to release rt5 soon.
Then we should open a new issue to collect all the useful camconst enhancements which are now spread over several issues and make a concept.
pr with changes for k-70 and XiaoYI M1 follows soon.

[2016-10-31 13:46] heckflosse commented on #3298
@iliasg [new pr](https://github.com/Beep6581/RawTherapee/pull/3490)

[2016-10-31 20:57] Desmis commented on #3421
I pushed a new change.

I think (I hope) I fixed the bug that brought a crash in some cases with the slider "chrominance".
In fact it is a gamut problem, which then brought some corruption in  "Lab adjustements".
I solved this problem by enabling "avoid color shift"

I solved also an other bug...

Now I think this patch works properly, of course to check.

The system works without Mutex, without l

[2016-10-31 21:30] Hombre57 commented on #3446
Well, Gtk3.20 smells like :shit: with RT, so no, it's not ready yet. I try to solve a nasty bug of the Retinex > Transmission curve, which doesn't resize the Frame they belong to correctly when folding/unfolding the curve.  :rage:

I spent the last few days on Linux to hope for better debug options (and so was away from my emails), but without success.

I mean put the Adjuster's slider in the Thre

[2016-10-31 21:31] Hombre57 commented on #3483
Yes.

[2016-10-31 21:49] Beep6581 commented on #3488
Merged into master.

[2016-10-31 21:49] #3488 closed

[2016-10-31 21:58] Beep6581 commented on #3446
Looks like this could drag on for some time, and stress won't help anyone. We could release RT5 with "experimental support for Gtk+ 3.20-3.22", saying that 3.16-3.18 are recommended. The patch snippets from this issue should be committed first into gtk3-bugfix, and that merged into gtk3. The remaining problems can be solved for 5.1. Would you prefer this, or would you prefer I wait for a few days?

[2016-10-31 22:55] Hombre57 commented on #3446
I'll let the package maintainer decide on how to rename the CSS files, but yes, we should provide both for some time.

There is a deadline that is already crossed regarding distributions, sorry for that, but I think the 3.22 version is really near the corner if we accept unresizable windows on Windows and the little graphical glitch in the Retinex tool (all OS).

[2016-10-31 22:56] vivo75 commented on #3446
it's possible to load a different css based on the gtk version actually installed on the system?
timing example, user install the packages in this order:
gtk-3.18
Rawtherapee
gtk-3.20
At the moment the css for 3.18 will be loaded by RT breaking things.
This is also a very plausible scenario, it's difficult to think that packagers will update at the same time RT _and_ gtk,  maybe on newly installed

[2016-10-31 23:05] Hombre57 commented on #3446
First, I'd be for removing the "Use system theme" option, because it'll be very ugly, as RT make use of CSS selectors to have a correct look. Do anyone agree on this ?

Then **is there a way are run time to check the Gtk version** ? In this case, we could load the correct CSS theme automatically. The Toowablue has not been updated for 3.22 (or even 3.18 ?), so we shouldn't bundle it at first if th

[2016-10-31 23:10] Hombre57 commented on #3446
Found it : `gtk_get_major_version ()` and `gtk_get_minor_version` will do the job :)

[2016-10-31 23:10] vivo75 commented on #3446
https://developer.gnome.org/gtk3/stable/gtk3-Feature-Test-Macros.html

[2016-10-31 23:10] gaaned92 commented on #3446
@Beep6581 : not being able to build on Windows10 with GTK+ 3.18 (32 and 64 bit), and stuck on 3.22, I   vote for the second proposal. But no problem if the first proposal is adopted. (should not be difficult to rename during the build process)
Windows 32bits builds users will not be surprised if Rawtherapee 5.0 is delivered only with GTK2 flavor.
For 64 bit users,   @sguyader  is able to provide G

[2016-10-31 23:47] heckflosse commented on #3446
@Hombre57

Toowablue works fine on Win7 using gtk 3.18

[2016-10-31 23:53] heckflosse commented on #3446
@Hombre57 :+1: to remove `Use system theme`

[2016-11-01 00:04] heckflosse commented on #3446
@Hombre57 @gaaned92 @sguyader
Imho for Windows builds we should use what's best for rt windows builders and also works fine. On Windows we have the quite comfortable situation (compared to Linux) that we have to maintain only 2 release builds (one for win32 and one for win64). For that reason I would rely on André and Sébastian to decide and I won't care about Linux gtk3 deadlines in that case (at

[2016-11-01 00:07] Hombre57 commented on #3446
@heckflosse

Is it still the case ?

[2016-11-01 00:16] heckflosse commented on #3446
@Hombre57

I did not try today, but yesterday it was the case with latest gtk3-bugfix version. Shall I try again?

Ingo

[2016-11-01 00:29] heckflosse commented on #3489
@Hombre57 Can you help me with the gui part (a combobox somewhere in raw processing tab to select the number of the frame) when I pushed my changes to allow extraction of individual frames to a new branch (already coded and tested)?

Ingo

[2016-11-01 01:23] heckflosse commented on #3489
[Prepared engine to handle individual frames](https://github.com/Beep6581/RawTherapee/commit/3f13a98135d7bfe8d03c6603b435cc99e2051355)

[2016-11-01 08:48] mattiaverga opened #3492 "Compile support for system libraries"
I'm packaging Rawtherapee for Fedora and distribution guidelines requires to use libraries already present in the system, if possible.
It is possible to compile Rawtherapee using the klt library already present as standalone package in Fedora, instead of using the bundled version?
Thanks.

[2016-11-01 11:03] Beep6581 commented on #3446
@vivo95

gtk-3.18
Rawtherapee
gtk-3.20
At the moment the css for 3.18 will be loaded by RT breaking things.

RawTherapee built against 3.18 will require and use 3.18 even if you additionally install 3.20 in a slot (which in Gentoo is not possible - you can have Gtk+ 1.* alongside 2.* alongside 3.*, but only one of each). The loaded CSS has to match the Gtk+ version RawTherapee was _built against_.

[2016-11-01 12:32] Hombre57 commented on #3446
Yes please, I don't have problem to resize the L/R panels with Gtk3.22.

[2016-11-01 12:37] Hombre57 commented on #3489
@heckflosse

Sure ! Should I add the pp3 parameter as well, or will you do it ?

[2016-11-01 12:38] Hombre57 commented on #3489
Btw, could you look at the files from Fuji S4/S5 bodies, where 2 images are embedded with different sensor sensibility, it should work the same way.

[2016-11-01 13:11] heckflosse commented on #3489
@Hombre57 Great, yes, please add pp3 parameter as well. I'll have a look at S4/S5 too

[2016-11-01 14:11] heckflosse commented on #3489
@Hombre57 I pushed two bug fixes. Now it's possible to extract 2nd frame for Fuji S5Pro (did not test yet with S4 RAF)

[2016-11-01 14:28] Beep6581 commented on #3446
I can resize the panels using 3.20.9, though the "catchment area" is only 1 pixel wide making grabbing the resize handle quite difficult.

[2016-11-01 14:48] heckflosse commented on #3489
@Hombre57 please don't pull pixelshift atm. I have to make a few corrections to get it working correctly for Fuji cams

[2016-11-01 15:47] heckflosse commented on #3489
@Hombre57 Now it should work correctly. I had to fix a bug in dcraw.

[2016-11-01 18:56] gaaned92 commented on #3446
Branch: gtk3-bugfix
    Version: [4.2.1358]
    Changeset: 3ae608d5caea5de3106a705dca495bbfe9b7db25
    Compiler: gcc 6.2.0
    Processor: generic x86
    System: Windows
    Bit depth: 64 bits
    Gtkmm: V3.22.0
My first observations:
1- in full screen, the margin around the top window is deactivated (you cannot click on another window)
2-the middle button on the title bar should show two squares

[2016-11-01 19:05] heckflosse commented on #3446
@gaaned92

I think the navigator is correct here but the preview in editor is partly hidden by the right panel

[2016-11-01 19:39] mks9900 commented on #2631
Hi @esby, I love this feature! However on RT exit all favourites are lost. Also, right clicking on a tool's header doesn't collapse all other tools as it does neatly in master.

[2016-11-01 20:58] Hombre57 commented on #3446
I did mentioned issue 3446 in the commit, without hash tag tough, but there's no entry in there. So you can see commit 965cadb for the last improvement.

Last thing to do and we'll be ready :
   - [ ] creating the mechanism to load the correct css file
   - [ ] address the Profile Selector button size (if possible)

[2016-11-01 21:32] dnw3039 opened #3493 "gtk3: Compatibility problems with Ubuntu 16.10"
I have just done a fresh install of Ubuntu 16.10, and used git to download download of the gtk3 repository branch. it compiles without error.

However when I one an image open the tool options have very wide spaces between them and using the curve tools leave artifices of the moved cure on the screen.

 The console messages are many but of this type:

The same errors occur with the default rawther

[2016-11-01 22:16] gaaned92 commented on #3446
@Hombre57
version 4.2.1359
1- suppresion of gap ok.
2- ok No problem for me with limited possibility to reduce size of window
3- ok possible to drag the reduced window without problem
4- not possible to reduce size of right and left panel. Not enough space left for displaying image
5- and 6- with the right panel minimum size, some informations of the exposure panel are hidden (right part of widget

[2016-11-01 22:48] Hombre57 commented on #3446
@gaaned92 Just for my information, what is you screen size in pixels ? Seems to be small.

There's a way to configure the Gtk apps globally, but I have to find that again.

[2016-11-02 01:17] Hombre57 commented on #3493
@dnw3039 I hope you'll be able to update Gtk3 to v.3.22.x, since we've spent a lot of time to make RT compatible with this version and fix a lot of bugs. At least you should update to v3.18.

[2016-11-02 01:19] #3486 closed

[2016-11-02 01:22] Hombre57 commented on #3482
Is the black screen still occurring with actual gtk3-bugfix branch ? If not (for both problems), I think this issue should be closed.

[2016-11-02 01:51] heckflosse commented on #3489
@Hombre57 Thanks for the gui mockup. I just fixed the segfault we talked about in irc. There's still one issue remaining: We have not only to demosaic from scratch after changing the frame number, but also to load the file again (iirc, there's no Ev... for this case atm)

[2016-11-02 02:11] heckflosse commented on #3489
@Hombre57 Also frame number is not passed to load function resulting in always loading frame 0

[2016-11-02 07:52] Beep6581 commented on #3493
Duplicate of #3446

[2016-11-02 07:52] #3493 closed

[2016-11-02 07:54] Beep6581 commented on #3493
By the way, your AboutThisBuild shows "Gtkmm: V3.16.0" but Ubuntu 16.10 uses Gtk+ 3.20.9. How is that possible?

[2016-11-02 08:06] Beep6581 opened #3494 "Gtk+ >=3.20 Filmstrip vertical scrollbar"
https://i.imgur.com/WRzlpTq.png
Commit 965cadb52ead7fcedf90585cab2fd7f470c85f36

Steps to reproduce:

1. Open RT (SETM)
2. Open photo
3. Press "t"
4. Press "t"

If I drag the slider down, it pops into place:
https://i.imgur.com/twREffP.png
Instead of dragging it down, I can also fix it by hiding the left or right panel (but not "m")

[2016-11-02 08:13] Beep6581 opened #3495 "Gtk+ >=3.20 Separators in Filmstrip toolbar"
Commit 965cadb52ead7fcedf90585cab2fd7f470c85f36
There are two separators on the left side of the Filmstrip's toolbar
![separators](https://cloud.githubusercontent.com/assets/5844619/19921051/6edfb8ac-a0dc-11e6-8902-da665244784b.jpg)

[2016-11-02 08:14] Beep6581 commented on #3482
Hasn't occurred yet using commit 965cadb52ead7fcedf90585cab2fd7f470c85f36

[2016-11-02 08:32] Beep6581 opened #3496 "Gtk+ >=3.20 #ThresholdSelector"
Commit 965cadb52ead7fcedf90585cab2fd7f470c85f36 affected the ThresholdSelector
Now the CbDL Skin Hue ThresholdSelector does not show the gradient background in the right place:
https://i.imgur.com/tgn0M4k.png

Further, if I apply styling using CSS, it appears that the ThresholdSelector in Sharpening is constructed differently to the one in CbDL - the background behaves differently, please see:
![i

[2016-11-02 08:43] Floessie commented on #3482
I switched my repo from `master` to 965cadb, deleted my `build` directory, ran `cmake` and `make install` again. The *all black* issue is gone.

But there are other issues popping up. Have I done something wrong when switching branches? There is no CSS warning when starting.

- When maximizing (not full screen) the window title bar is gone. When restoring (via WM, XFCE in my case) it only appears

[2016-11-02 08:59] esby commented on #2631
@mks9900 fir the first problem, it is because you are supposed to use the save button on the first tool on the utility tab, after saving you can configure an autoload.

For the second issue, I'll need to check it.

[2016-11-02 09:36] esby commented on #2631
Can't reproduce the second issue: right clicking seems to collapse properly the panels here.

[2016-11-02 09:39] Beep6581 commented on #3482
@Floessie let's close this issue and take up your points in #3446 or in separate issues.

[2016-11-02 09:39] Beep6581 commented on #3446
@Floessie wrote in https://github.com/Beep6581/RawTherapee/issues/3482#issuecomment-257804324

To increase tab separation (tested only in SETM - Vertical)
`#MainNotebook > header tabs tab { margin: 1em 0 1em 0; }`

[2016-11-02 09:47] #3482 closed

[2016-11-02 10:12] dnw3039 commented on #3493
The Gtkmm: V3.16.0 must have been some left over from some previous version. I did a completely new checkout from git (I should have done this first)  now I have:

**Gtkmm: V3.20.1**

I have tried  the gtk3-bugfix branch and all is working properly again

 The lesson for me is to do a full new repository checkout with new versions of the software and read more about the various branches.

[2016-11-02 10:20] Beep6581 commented on #3493
I'm not sure what you mean by "full new repository checkout". If you mean "clone", then you don't have to. The key here was probably just to delete the "build" folder, or cmake and compile into a different build folder - "build-master", "build-gtk3", "build-gtk3-bugfix", etc.. I always do that when switching significantly-differing branches, otherwise trouble arises.

[2016-11-02 10:31] Desmis commented on #3421
I made some changes to improve performance and stability.

I suppress "delay" for changing spot (nbspot, anbspot), but you can restore the delay as before by changing the variable "Locdelay = true" in the file options

More in rare cases, for images with colors close to the gamut of Prophoto, and if one acts strongly on the "chrominance" sliders, it is possible to get a crash.
I have changed the v

[2016-11-02 10:32] Hombre57 commented on #3496
Adding a gradient background in ThresholdSelector have to be done in the code, not the CSS.

[2016-11-02 10:35] Hombre57 commented on #3446
That's how things are done in Gtk3, see the Notebook class to see the sub elements. We can't name them ourselves in this case. Search for "*CSS Nodes*" here : https://developer.gnome.org/gtk3/stable/GtkNotebook.htm

[2016-11-02 10:39] Hombre57 commented on #3489
@heckflosse  Will check that tonight.

Isn't this what it's supposed to do ?

I guess that the file is closed once the (sub-)image has been loaded, why keeping it open ? and in your case, when to close it ?

[2016-11-02 10:44] Beep6581 commented on #3496
What sort of element are the four "knobs" in a ThresholdSelector?

[2016-11-02 11:23] dhor commented on #3446
Hi can you please remove me (dhor@mac.com) from your mailing list, this is
nothing to do with me.
Thanks

2016-11-02 11:35 GMT+01:00 Jean-Christophe <notifications@github.com>:

[2016-11-02 11:55] Beep6581 commented on #3446
Hi @dhor I removed your nick mention from a previous comment, though I doubt that will change anything. I don't think it's possible for anyone other than yourself to remove yourself from getting notifications about updates to this issue. Try "unwatch" or "unstar" in the top-right corner, or "unsubscribe" in the menu on the right. Are you not Dariusz Duma?

[2016-11-02 11:59] dhor commented on #3446
Hi, I dont know where I was subscribed to this... and I am not Dariusz

2016-11-02 12:55 GMT+01:00 Beep6581 <notifications@github.com>:

[2016-11-02 12:14] Beep6581 commented on #3446
I see you're using email. The buttons I referred to should be visible if you go to https://github.com/Beep6581/RawTherapee/issues/3446
I would assume if you're getting emailed then the email should also describe how to unsubscribe, usually in the footer.

[2016-11-02 12:28] heckflosse commented on #3489
@Hombre57
The problem is, that the event `EvRawImageNum` which is triggered when you select an Image number, does not load the raw file again, but it has to.

[2016-11-02 13:45] Floessie opened #3497 "Lockable color picker interacts with info text on image area"
When changing the lockable color picker's size (CTRL + mouse wheel), the info text changes from bold to normal weight and vice versa when the smallest/biggest circle size is reached.

Here is a quick'n'dirty patch for `master`:
[code]

HTH
Flössie

[2016-11-02 17:11] heckflosse commented on #3489
@Hombre57 Please wait with your modifications. I make some modifications first ...

[2016-11-02 21:16] Hombre57 commented on #3496
They are all handled hand rendered by the ThresholdSelector object, which inherits the `drawingarea` and `trough` class (see line 145 of thresholdselector.cc).

I've looked for hours to see how to set style to subparts of a custom widget, but didn't found anything. I guess that I have to create a `Knob` widget to have a dedicated style. If you find something on this, I'm interested. Actually, the

[2016-11-02 21:57] heckflosse commented on #3489
@iliasg Ilias, do you have some insight into pixelshift files? I tried with a pixelshift file from K-70. Dcraw reports 4 frames and I can extract 4 frames too. The first 3 frames are different (as it should be) but the 4th frame is identical to the 1st one. This also fits to the size of the file which is about 3 times the size of one normal uncompressed file.

[2016-11-02 22:53] heckflosse commented on #3489
@iliasg Please ignore my last comment :)

[2016-11-02 23:54] Hombre57 commented on #3261
Is the bug still there with latest commits ?

[2016-11-03 00:44] heckflosse commented on #3489
I updated the pixelshift branch.
Now it's possible to view in editor and to process individual frames of raw files which contain more than one frame (i.e. Pentax pixelshift and Pentax hdr).
For Fuji S5 files I kind of disabled it atm because 1st and 2nd shot have different dimensions which is not solved yet and would crash. That does not mean that Fuji S5 is not supported. It's supported the same

[2016-11-03 08:34] Beep6581 commented on #3261
Yes, it is still there in commit 6438645b2142488347dc82b2f1bd46123aa5ff9a
https://i.imgur.com/caLXhp3.jpg

[2016-11-03 08:36] Beep6581 opened #3498 "Gtk+ >=3.20 SETM - Vertical tabs inconsistent icons"
The main notebook tabs are inconsistent in SETM - Vertical: Queue and File Browser have their icons on the top, while Editor has its on the bottom:
https://i.imgur.com/ar9zO33.png

Non-vertical is fine.

This was a regression introduced in commit 6438645b2142488347dc82b2f1bd46123aa5ff9a, the previous commit didn't have it.

[2016-11-03 12:45] Hombre57 commented on #3498
I'll update the vertical tabs to have icons below the labels.

[2016-11-03 13:23] Hombre57 commented on #3497
@Floessie Even though your patch looks fine, I may solve that differently tonight if you don't mind.

[2016-11-03 13:34] Floessie commented on #3497
@Hombre57 Absolutely! I'm no GUI expert at all. My patch was only meant as a hint as to where things go wrong. Feel free to implement it much more elegantly. :smiley:

[2016-11-03 17:33] mks9900 commented on #2631
Ah, completely missed the save-part in all excitement ;-) Would it be possible to do without any saving? I'm thinking from a user stand point here; once rearranged, it should stay that way. You'll loose the option to have many different favourites and so, but imho it's better to keep it simple and straight forward. :-)

When I start RT, the saved file doesn't autoload, even though that option is t

[2016-11-04 14:57] heckflosse commented on #3489
I made a hack to test pixelshift implementation. I'll push later today.
[Here's a screenshot](https://filebin.net/fh4whv0gyg9a9otv/pixelshift_00.png). Left is amaze, right is pixelshift.

[2016-11-04 17:31] heckflosse commented on #3489
I pushed to pixelshift branch.
Now there is a new demosaic method `pixelshift simple` available for bayer sensors.
If you select it on a non pixelshift file it falls back to amaze demosaic automatically.
At the moment it completely bypasses raw preprocessing and simply combines the four sub frames without checking for motion. It's only for testing, code is also not clean.

[2016-11-05 01:43] heckflosse commented on #3489
I tested with a few other images. While the result I got with the image I used for the screen shots above is good, there are images where the result is bad. Seems like the shift is not always the same. I'll investigate

[2016-11-05 06:37] torridgristle opened #3499 "4.2.1234 Film Simulation Crash"
This was working fine with an older version of RawTherapee from a few months ago and became an issue the moment I updated today. I didn't modify the HaldCLUT directory at all between the last time I used Film Simulation in the old RawTherapee and the first time I tried to use Film Simulation in RawTherapee 4.2.1234

RawTherapee would crash and Windows would show me the "rawtherapee.exe has stopped

[2016-11-05 07:59] ff2000 commented on #3475
@heckflosse Just a random guess: If you pass by (const) ref you get copy address + dereference. Passing numbers (no matter ints or floats) by value IMHO is faster. Maybe that's why the template/constexpr code was slower for you?

[2016-11-05 13:01] iliasg commented on #3489
Ingo, could we have a user controlable way of defining the shift order ?

[2016-11-05 14:11] heckflosse commented on #3489
Ilias, yes, that can be done if really necessary. Isn't that order fixed? Currently I'm not sure. Maybe my test images were shot without tripod....

[2016-11-05 14:17] heckflosse commented on #3489
@iliasg Can you make a camconst.json section for Pentax K-1 files? Currently the PEF files from that cam have wrong crop.

[2016-11-05 14:25] Beep6581 commented on #3406
I documented soft-proofing, feel free to expand it:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Monitor_Profile_and_Soft-Proofing

[2016-11-05 14:39] Beep6581 commented on #3499
Could you count separately how many files total and folders total you have in your Hald CLUT folder? I don't know how to get those two separate numbers in Windows, in Linux I would:
`find HaldCLUT_root_folder -type d | wc -l` for a total folder count, and
`find HaldCLUT_root_folder -type f | wc -l` for a total file count.

[2016-11-05 14:59] torridgristle commented on #3499
There's 330 files including the attached file from earlier, 21 folders, and one of the files is the README.txt Currently RawTherapee works fine.

Added Mine, moved attached from root HaldCLUT to Mine, RawTherapee crashes.

Moved a random file out of a different subdirectory and put it into the root HaldCLUT, attached still inside Mine, RawTherapee crashes.

Moved the previous random file out of th

[2016-11-05 15:38] Beep6581 opened #3500 "Gtk+ >=3.20 Meta tab Exif unusable"
The Meta tab's Exif sub-tab is unusable because the left column is very narrow and cannot be resized:
https://i.imgur.com/nw5i2Sm.png
We cannot release RT5 if this is not visible.

[2016-11-05 15:43] Beep6581 commented on #3300
I added:

* #3483 Gtk+ >=3.20 Comboboxes must not let content overflow
* #3500 "Gtk+ >=3.20 Meta tab Exif unusable"

Those are the last things needed for RT5 to be usable with GTK+ >=3.20, after that I'm happy to release.

[2016-11-05 15:53] Beep6581 commented on #3499
Related: cc585058abdb003a338865a8807dc3275fc1b110

[2016-11-05 17:44] Beep6581 commented on #3300
RawTherapee 5 release announcement draft:
https://gist.github.com/Beep6581/731709bf78885b2afea92388ee6ede2a

You can make changes the usual git way - commit and PR. You can also commit on individual lines.

Note: some lines and words will contain links, e.g. "Complete revision history on GitHub" will link to https://github.com/Beep6581/RawTherapee/commits/master

[2016-11-05 18:05] Hombre57 commented on #3497
Part of the problem was that the text (layout) was drawn to the pixbuf at each draw event, which is useless. I'll post a patch where the pixbuf will be replaced by a BackBuffer updated once, then copied at each redraw.

[2016-11-05 18:12] Hombre57 commented on #3497
PS: I've added more padding space to make it look better (at least to my eyes). I don't think the size increase is a problem, as no one works with the info displayed anyway.

[2016-11-05 18:54] Floessie commented on #3499
@Beep6581 If you point me to an easy reproduction (a bash line to create the needed files and folders or something), I'll have a look at it. A backtrace would also probably do.

[2016-11-05 19:04] Beep6581 commented on #3499
@Floessie if I understood your request correctly, this script will copy a chosen file into 10 folders 100 times in each:
`for d in {1..10}; do mkdir $d; for f in {1..100}; do cp ~/profiles/HaldCLUT/Hald_CLUT_Identity_12.tif $d/${f}.tif; done; done`

[2016-11-05 19:14] Floessie commented on #3499
If it's not reproducible under Linux, I cannot help. :( And this is no OOM problem?

[2016-11-05 19:19] iliasg commented on #3489
@heckflosse Ingo, OK .. it will ready in a few minutes if you are in a hurry (only color matrix and raw crop) or a few hours to also fill proper White Levels ..

[2016-11-05 19:25] Beep6581 commented on #3499
@torridgristle can you summarize, what are the minimum required steps to reproduce?
Can you run the debug build to get a stack backtrace? Sounds complicated but its quite simple: http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
http://rawtherapee.com/releases_head/windows/RawTherapee_WinVista_64_Gtk3_Debug_4.2.1234.zip

[2016-11-05 19:27] heckflosse commented on #3489
@iliasg no Hurry, Thank you :+1:

[2016-11-05 19:27] torridgristle commented on #3499
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Windows\System32>cd C:\Program Files\RawTherapee

C:\Program Files\RawTherapee>gdb.exe rawtherapee.exe
GNU gdb (GDB) 7.9
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change

[2016-11-05 19:28] Beep6581 commented on #3499
The important part is missing: "bt full". You can leave everything before "Program received signal SIGSEGV, Segmentation fault" out.

[2016-11-05 19:33] torridgristle commented on #3499
[rawtherapeelog.txt](https://github.com/Beep6581/RawTherapee/files/573454/rawtherapeelog.txt)

gdb.exe crashed and stopped logging, got the "gdb.exe has stopped working" message, but there's what it was able to log.

[2016-11-05 19:48] Beep6581 commented on #3497
@Hombre57 could you please help merge this into gtk3? I'm stuck on
`Pango::FontDescription fontd(get_default_style()->get_font());`

[2016-11-05 20:10] Floessie commented on #3499
Hm, not really in the HaldCLUT code, nor in the commit @Beep6581 mentioned, or do I miss something? I wish there was a way to reproduce it here. And you are surely not running out of memory? Does changing the CLUT cache size in the preferences help?

[2016-11-05 21:04] torridgristle commented on #3499
Changing HaldCLUT cache size from 4 to 8 doesn't prevent it from crashing, and regarding memory Task Manager says Physical Memory 51%: Total 6134, cached 2884, available 2872, free 60, and when I close RawTherapee it changes to Physical Memory 42%: Total 6134, Cached 2937, available 3499, free 624.

[2016-11-05 22:01] Hombre57 commented on #3497
How can I help you ?

[2016-11-05 22:19] Beep6581 commented on #3497
I don't know what to do about that line :)
I merged master into gtk3 up to the commit before this one, so you could try more easily.

[2016-11-06 01:05] Hombre57 commented on #2199
No objections it seems, closing.

[2016-11-06 01:05] #2199 closed

[2016-11-06 13:25] Floessie commented on #3499
Cannot reproduce it here under Linux.

@heckflosse There is an interesting comment [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/imagefloat.cc#L479). Is it still valid and could it have something to do with @torridgristle's problem?

[2016-11-06 13:58] heckflosse commented on #3499
@Floessie If I'm not totally wrong, the per thread memory allocation is already done there and we should correct the comment to avoid confusion ;-)

[2016-11-06 15:45] heckflosse commented on #3489
I pushed some changes to pixelshift branch. I fixed a bug, implemented parallel decode of frames and cleaned the code a bit. No change to algorithm this time.

[2016-11-06 16:29] Floessie commented on #3499
@heckflosse I see, didn't know which allocation was meant. So we're still in the dark...

[2016-11-06 16:39] torridgristle commented on #3499
I was able to add some more HaldCLUTs to RawTherapee by adding a new directory "Faded and Moody" to a pre-existing directory "VSCO Cam" which is located in "C:\Program Files\RawTherapee\HaldCLUT\VSCO Cam\Faded and Moody".

I thought that this might mean that I can add the previous "Mine" directory with the 1 HaldCLUT back in if it's inside another directory so I tried placing "Mine" into the pre-e

[2016-11-07 08:13] Desmis commented on #3421
I just made a change with :
*The possibility to make the sharpening locally as many times as necessary.
*I used "RL deconvolution"
*You can select, "normal" or "inverse", and  detecting shape / color is operational. For example you can sharpen foliage without touching the sky, or skin without others colors,...

I found and corrected many (big or little) bugs. Now with my images tests, I no longer

[2016-11-07 10:59] Desmis commented on #3421
Obviously, you must clean the cache and delete all *.mip files

[2016-11-07 22:17] esby commented on #2631
Would it be possible to do without any saving?
I could be possible to  have an auto save on exit, but I personnaly hate when the software remembers a state I don't necessary want. (eg: I have done something wrong and I am now stuck with a setting I can't get rid of by exiting...)

When I start RT, the saved file doesn't autoload, even though that option is ticked

Could you tell me which os you ar

[2016-11-08 14:44] heckflosse opened #3503 "segfault when clearing cache in preferences while thumbs are build"
Steps to reproduce.
1. Preferences/File browser/clear all
2. close rt
3. start rt
4. switch to a folder with a lot of raw files
5. while thumbs are building go to Preferences/File browser and clear all
=> segfault

Yes, no one would do that normally...

bt full
[code]

[2016-11-08 15:07] Floessie commented on #3503
... because another thread is killing `ThumbBrowserEntryBase::preview`, I guess. A mutex or `std::shared_ptr<>` would help. But is it worthwhile?

[2016-11-08 15:16] heckflosse commented on #3503
At least not for rt 5.0 imho

[2016-11-08 15:19] Floessie commented on #3503
There is still plenty of time until October ... :grin:

[2016-11-08 23:11] Hombre57 commented on #3483
The content does not overflow anymore, but the content of the combobox doesn't "ellipsize".

[2016-11-08 23:12] #3497 closed

[2016-11-08 23:12] #3500 closed

[2016-11-08 23:12] #3498 closed

[2016-11-09 12:11] wariag opened #3505 "Thoughts and findings about limits of 32 bit RawTherapee running on Windows XP32 with 4 GB with Tone mapping and Retinex"
Hi;

the same settings on regular Bayer RAW files are OK, but there is a crash wit X-trans one.
As a greenhorn I have no idea is it just overkill for my machine or bug.
[log.txt](https://github.com/Beep6581/RawTherapee/files/580652/log.txt)

I have tried the same files on  RT 4.2.1074 from RaweTherapee.com and it is crashing as well.

[code]

[2016-11-09 12:17] Beep6581 commented on #3505
@wariag please upload the raw file using https://filebin.net/ and in the future surround your console output in code tags (I edited your post and did that, you can edit your post to see how, or look here https://guides.github.com/features/mastering-markdown/ ).

[2016-11-09 12:33] wariag commented on #3505
RAW and pp3
https://filebin.net/uhxn1nwusm8tnva6

[2016-11-09 13:04] heckflosse commented on #3505
@wariag Are the Bayer raw files same size (MP) as X-Trans file or smaller? How much RAM is in the XP machine?

[2016-11-09 21:40] Beep6581 commented on #3500
Fix confirmed.

[2016-11-09 21:41] Beep6581 commented on #3498
Fix confirmed.

[2016-11-09 21:42] Beep6581 commented on #3496
The Skin Hue threshold selector in CbDL still has no background gradient:
https://i.imgur.com/cuOnztL.png

[2016-11-09 21:47] Beep6581 commented on #3483
@Hombre57 unfortunately the committed code does not work well. In gtk3-bugfix 2fcc5b75c83c6f7ebe9f3347046fc2e5e4b46a36 the right panel's minimum width is now huge, as it depends on the length of the longest entry in the Processing Profile combo.
I cannot shrink the right panel anymore: https://i.imgur.com/dB6xkyK.jpg
On a lower resolution screen there would be no room left for the preview.

[2016-11-10 00:34] Hombre57 commented on #3483
That's what I meant by "the combobox doesn't ellipsize". I'm working on that, but we may need to get in touch with the Gtk dev team on their IRC. What is the best hours to do that (UTC) ?

[2016-11-10 00:36] #3496 closed

[2016-11-10 06:00] mmmtok opened #3506 "Navigator/LockableColorPicker does not show correct RGB/HSV for output profile"
Problem found in version 4.2.1184.

Reproduction procedure:
1. Set preference to see histogram as output profile.
2. Set some output profile
3. See RGB/HSV values in navigator or lockable color picker
4. Set another output profile
5. See RGB/HSV values
6. Compare values from step 3 and step 5.  All seem to be sRGB values.

Candidate fix:
[code]

[2016-11-10 07:47] wariag commented on #3505
OK,

so today I have decided to be less narrow-minded and started from scratch.
I have downloaded several RAW files from cameras with lower/higher pixel count
than mine and tested some with ToneMapping an Retinex.

SO:

my machine has got maximum allowed 4GB of RAM.

With X-Trans sensor:
Tone Mapping works OK on 14 MPx crashes with 16MPx
Retinex does well with 14 and 16 MPx.
RT crashes with "neutr

[2016-11-10 08:50] gaaned92 commented on #3505
@wariag Do you use the /3GB boot time switch? see [floating point engine](http://50.87.144.65/~rt/w/index.php?title=The_Floating_Point_Engine)
I think it is mandatory on Windows 32 bits if you want to obtain the maximum from rawtherapee.

[2016-11-10 09:15] Beep6581 commented on #3483
I saw most activity around afternoon-evenings Euro-time, though some are from outside of Europe so you might get lucky at any time. Best if you leave your IRC client up 24 hours and repeat the question every few hours.

[2016-11-10 09:27] Beep6581 commented on #3496
Fix confirmed.

[2016-11-10 09:41] Beep6581 commented on #3506
With "Use working profile for ..." enabled, the LCP matches the values in the Navigator.
They both change when I change the working profile, and don't change when I change the output profile.

With "Use working profile for ..." disabled, the LCP matches the values in the Navigator.
They change slightly when I change the working profile:
- https://i.imgur.com/p7AMPwW.jpg
- https://i.imgur.com/Vfjzs

[2016-11-10 17:50] iliasg commented on #3298
Updated camconst.json includes
Pentax K-1 https://github.com/Beep6581/RawTherapee/issues/3489
Olympus E-M1MarkII (preliminary support .. color data guessed )
Canon G7 X moved to the correct model_group to comply with 14bit files ..

[2016-11-10 17:51] iliasg commented on #3489
No hurry meaned 5 days :(
https://github.com/Beep6581/RawTherapee/issues/3298#issuecomment-259758936

[2016-11-10 18:37] heckflosse commented on #3298
@iliasg It seems you used a version of camconst.json which was made before [the changes, @Beep6581  made](https://github.com/Beep6581/RawTherapee/commit/d2526e0f942848ac8f91b3d0f2e8d3d31ab3f78d)

I'll just pick the changes you made for the 3 cams you mentioned above if you don't mind.
Please pull again after my push to be sure your next changes are made on current master branch ;)

Ingo

[2016-11-10 19:14] heckflosse commented on #3298
@iliasg I pushed to master branch

[2016-11-10 20:15] iliasg commented on #3298
Thanks, sorry for the mess :(

[2016-11-10 20:43] heckflosse commented on #3298
@iliasg no problem. Did you see [low light pixelshift](https://discuss.pixls.us/t/support-for-pef-dng-from-pentax-k-70-and-pixel-shift-resolution/2560/62) ?

[2016-11-11 11:29] wariag commented on #3505
OK, to be sure I made a clean install.
It seems that before my system did not use /3GB switch correctly.
The findings above are still correct for 4 GB RAM XP not utilizing /3GB switch.
With correctly used /3GB switch thing gone better:
X-trans
16 MPx + Tone Mapping =OK
Bayer
20 MPx+ Tone Mapping = OK
24 MPx+ Tone Mapping = crash

I will check these new limits with Retinex and "neutral" profiles on

[2016-11-12 17:27] Partha1b opened #3507 "gtk3 branch - gtkmm warnings"
I thought these warnings were fixed. At least fixed in the main branch, but still in the gtk3 branch...
[code]

[2016-11-12 19:22] Beep6581 commented on #3446
Things are looking good.

A few final tweaks in https://github.com/Beep6581/RawTherapee/pull/3508

1. The background color of the About and Preferences window was not set.
2. Some of the About window's tabs have a font size hard-coded in pt, resulting in text in some tabs looking significantly bigger than in other tabs and in other programs. Removing the font selector means that font sizes should

[2016-11-14 07:28] Floessie commented on #3446
Indeed, things almost look familiar. One thing left is the vertical overall progress bar, which is relatively thin and fills top-down instead of bottom-up. That's one strange general experience with GTK3: The (scroll/progress) bars became thin to save space, while almost every other element got more padding, so effectively reducing the number of items on screen. I still have to get used to that...

[2016-11-14 13:01] Hombre57 commented on #3507
Is it fixed in the gtk3-bugfix branch ?

[2016-11-14 14:19] Partha1b commented on #3507
No, it's not.

[2016-11-14 15:13] Floessie commented on #3446
The preferences and fullscreen buttons (bottom left) changed places. Is that intentional?

When directly comparing `master` against `gtk3-bugfix`, some things stand out:

1. Fonts are bigger in GTK3.
2. There is a broader horizontal padding around the vertical tab texts in GTK3.
3. The "double padding" on the sides of the image area looks a bit asymmetric in both GTK2 and GTK3. E.g. the history pa

[2016-11-14 15:18] Floessie commented on #3507
Whenever I open a drop down button (e.g. the HLR "Method" button) for the first time, I get:

[code]

[2016-11-14 16:41] Beep6581 commented on #3446
@Floessie Font size in `gtk3-bugfix` is inherited from the system theme so that all programs look consistent. We will need to find how Windows users should change that and include this info in the release notes.
https://i.imgur.com/sL5bJoQ.jpg

[2016-11-14 17:31] Desmis commented on #3421
I push a new change
You must clean cache and delete all *.mip files

I have improved the shape detection algorithm, which in some cases (hue detection for very local variations)  brought artifacts - I had previously disabled this function.

You can select "Standard" or "Enhanced"

In standard mode, it is as before.
In Enhanced mode, the selected area, is scanned to find for each point, the hue var

[2016-11-14 22:09] ror6ax opened #3509 "Remote processing?"
Hi, I'm wondering if there is any interest in doing something of a render-farm style remote processing capability. Currently, most of my laptops(admittedly old ones) are crashing once processing queue gets more than one image.

This functionality is something I like very much about RT, and I believe many would agree that spinning an amazon instance worker for couple of hours is cheaper than buying

[2016-11-15 07:28] wariag commented on #3505
Update:
With correctly used /3GB switch
X-trans
16 MPx + Tone Mapping =OK
16 MPx + Tone Mapping = crash
24 MPx + Retinex = OK
Bayer
20 MPx+ Tone Mapping = OK
24 MPx+ Tone Mapping = crash
24 MPx + Retinex = OK
30 MPx  + neutral profile = crash (no crash on load to editor)
36 MPx = crash (even on load to editor)

[2016-11-15 18:07] mks9900 commented on #2631
Sorry, for the late response...
1. I understand your point! I was more on the user convenient (lazy?) path.. :-)
2. I run Gentoo Linux. As for the collapsing part, the Favourite-tab behaves differently than the other, e.g. the Exposure-tab (at least here): when I right-click on the Exposure-tab, each clicked tool is collapsed and expanded so that only one is visible at a time, while as in the Favo

[2016-11-15 19:39] esby commented on #2631
@mks9900 : I think I know where this comes from, I'll fix that when I'll have some time, probably tomorrow.

[2016-11-16 15:34] frspp commented on #3484
3: I tried this few times, but doesn't work. It always defaults to "Guide type: Rule of thirds" even when other settings (exposure, sharpening) are read from my default profile.

[2016-11-16 15:46] frspp opened #3510 "OSX: some keyboard shortcuts not working"
- "Fit crop to screen" keyboard shortcut ALT+f isn't working. (FYI: CMD+f does nothing).
-- I would change the behaviour anyways: less keys needed for "fit crop to window" ie. only F, more for "fit image to window" ie. alt+F; if no crop then use less keys (only "F") to fit whole image to window.
- "Show/hide the right panel": alt+i shows info overlay on editor window, not show/hide the right panel

[2016-11-16 17:33] innir opened #3511 "Change license of rtdata/rt_splash_5.svg to CC BY-SA 3.0 please"
Hi,

currently rtdata/rt_splash_5.svg is licensed under [CC BY-NC-SA 3.0](http://creativecommons.org/licenses/by-nc-sa/3.0/) which is a problem for many Linux distributions as only modifications for non commercial uses are allowed.This makes it non-free in the Debian sense. Could the license be change to [CC BY-SA 3.0](http://creativecommons.org/licenses/by-sa/3.0/)?

Best,
Philip

[2016-11-16 18:17] Beep6581 commented on #3511
Good catch!

[2016-11-16 18:19] #3511 closed

[2016-11-16 18:35] Beep6581 commented on #3300
Hello @Hombre57
Issue #3483 (combobox can make toolpanel min width far too wide because text is not ellipsized) and #3446 (pre-select correct CSS file, and find out how to change font size) are the only things blocking RT5. I don't want to stress anyone, but myself feel stressed about this, and I'm leaving for Zambia this Sunday for a week. Could you give an indication on how things are looking?

[2016-11-16 19:40] Hombre57 commented on #3300
No particular problem for #3446, can be done rapidly. However #3483 is really complicated, at least for someone that is not used to `CellLayout` or `CellRenderer`... I'm okay to revert to the previous state, but will still try to solve it upon time, given the deadline of this Saturday.

[2016-11-16 22:01] esby commented on #2631
@mks9900 this should be fixed.

[2016-11-17 09:16] innir commented on #3507
I don't see the warnings from the original post in a build from commit 0ab931c287e9a725fe989b3f687f8cdca18655f4 but I also see the warning @Floessie posted.

[2016-11-17 09:17] innir commented on #3446
Wow, I did a build of 0ab931c287e9a725fe989b3f687f8cdca18655f4 last night and I must say it looks really good now. Great work, thanks!

[2016-11-17 19:04] Hombre57 commented on #3507
@Floessie @innir The problem with this kind of error message is that they are not helpful at all. I'd love to see more debug instrumentation inside Gtk for problems like that. E.g. I don't have this error on Windows / Gtk3.22, so it'll be hard for me to debug. It may be related to Linux, but I'm not sure.

Could you use the `--g_fatal_warnings` switch when starting RT and and report back the `bt f

[2016-11-17 19:06] Hombre57 commented on #3300
@Beep6581

Thinking of it again, I remember that RT's GUI is fine for the Gtk3.22 CSS file, but not for 3.18 as @heckflosse said. I don't have that version installed, how can we do ? I can update the 3.18 CSS file, but it's shooting in the dark.

[2016-11-17 20:36] Floessie commented on #3507
@Hombre57 Here it is, but won't help you much, I suppose:

[code]

Best
Flössie

[2016-11-17 23:08] Beep6581 commented on #3300
@Hombre57 as I undertood it, we agreed to have the `RawTherapee.css` from `gtk3` renamed to `RawTherapee_GTK3_316-318.css` (using whatever separator you like) and the one from `gtk3-bugfix` renamed to `RawTherapee_GTK3_3.20-3.22.css`, and having RawTherapee load the right one dynamically. The original idea was to have package maintainers pick the right one for their build.

What do you mean by upd

[2016-11-17 23:37] Hombre57 commented on #3300
@Beep6581 As you know, the look of the GUI can be controlled by the CSS file and from within the code itself, through functions like `set_col_spacing`, `set_row_spacing`, etc... I've removed some of them from the code as they are now set in the CSS file as recommended. Furthermore I had to change the object hierarchy in some rare places, and update the way that backgrounds are draw. All of this ne

[2016-11-18 06:10] mks9900 commented on #2631
@esby Great Yves, it works as you planned now! Thanks a lot! :+1:

[2016-11-18 06:19] Desmis commented on #3421
I am working on "Local Denoise"  and it work :)
But by doing this I could see the same crash as before with the noisy images. I have located where the error comes from, and finally find a solution.

I will propose a change in the days that will follow my return from holidays on December 6 or 8.
I'm leaving today;
jacques

[2016-11-18 06:43] wariag commented on #3505
So no issues, just limitations.
Thank You for support.

[2016-11-18 06:43] #3505 closed

[2016-11-18 09:17] kazah7 commented on #3421
Desmis! :) It's going forward, so cool. I now it's a long way until we get it 'fully' functional, but your work is crucial here :) Thanks!

[2016-11-18 09:36] Beep6581 commented on #3421
Enjoy your holidays Jacques!

[2016-11-18 18:36] pi99y commented on #3384
Hi, while I haven't seen the bug lately and have considered it fixed I saw it again today. (Maybe it appears only for certain cases now?  Like here for the last photo? = guessing)

![again](https://cloud.githubusercontent.com/assets/10639257/20441764/29453e56-adc6-11e6-861b-bc75bebf1967.jpg)

This was on a latest Ubuntu "daily/dev" build from http://ppa.launchpad.net/dhor/myway/ubuntu
I don't know

[2016-11-20 11:45] Hombre57 commented on #3446
I converted the filenames for the new version handling mechanism, but don't know what to do of TooWaBlue.css. Actually, this theme is not supported, so it's not listed in the Preferences' combobox.

@Beep6581 As said by @heckflosse on IRC, does any distribution still use Gtk3.18 version ? i.e. should we support it ? Since you're in the air right now and can't answer, I'll still update the 3.18 ver

[2016-11-20 11:45] noetzelj commented on #3446
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  jnuts.pilot@gmail.com
    Domain noetzel.net has exceeded the max emails per hour (265/250 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inc

[2016-11-23 00:41] Hombre57 commented on #3403
@TheQuo

I don't see the error message (I'm using the latest exiftool) but the Makernotes are not there anyway. So it's a +1 for solving this bug ASAP. I'm not assigning myself as I don't master this kind of stuff (jpeg, metadata) but will look into this sometime soon because I'm directly concerned ;)

[2016-11-23 06:33] pi99y opened #3512 "Tone curve histogram ignores DCP tone curve"
Hi,
the (background) histogram of the "Exposure > Tone curve" ignores the tone curve of the "Color management > DCP > tone curve" while the "main histogram" reflects the DCP's tone curve correctly.

I don't see how this could be a feature so I'm filing it as a bug.

![hitogramdcponoff](https://cloud.githubusercontent.com/assets/10639257/20552766/65cfff10-b14e-11e6-88db-8ff6fe9d4a67.jpg)

Current U

[2016-11-23 06:39] pi99y opened #3513 "Ubuntu daily builds (master) do not show the version/changeset"
The version is absent from the "about" window.
It makes bug reporting a bit more inconvenient...

![no_version_shown](https://cloud.githubusercontent.com/assets/10639257/20552918/e3f5a8a8-b14f-11e6-9ad4-5cf672d5bad9.png)

[2016-11-23 09:48] gaaned92 commented on #3513
Version and changeset are absent.
Surely he has some good reason to do that, but as you said, these omissions prevent users to fill in usable bug reports.
it should be something like that:

Whatever the reason, it seems to me a build bug.
Ask your package maintainer to add those two informations. If he cannot (for instance he doesn't have git installed on his machine!) then you could build by your

[2016-11-23 10:37] da-phil commented on #3512
I already opened an [issue](https://github.com/Beep6581/RawTherapee/issues/3016) some time ago because of the very same reason, but the developers seem to desire this behavior although I agree with you, it's not intuitive because you need to see the "real" histogram as a "optical feedback" for tuning the tonecurve. I also want this histogram to reflect on all changes, otherwise tuning the tonecurv

[2016-11-23 13:56] heckflosse commented on #3512
It's not possible to reflect all changes in tonecurve histogram. There are steps behind tonecurve which of course can not be reflected in the histogram before tonecurve. Nevertheless it should be possible to build the tonecurve histogram exactly before the tonecurve is applied. That would reflect dcp lookup table and some other stuff as well (Shadows/Highlights and Saturation for example which cur

[2016-11-23 16:00] heckflosse commented on #3512
I was wrong about Saturation. But for dcp lookup table and Shadows/Highlights I will create a new branch soon

[2016-11-23 16:30] heckflosse commented on #3512
@pi99y @da-phil Please test the histtonecurve branch

[2016-11-23 22:12] heckflosse commented on #3512
@da-phil Thanks for testing. Though I don't know if my changes will go into rt 5.0. At least they should go into rt 5.1

[2016-11-23 22:46] #3512 closed

[2016-11-23 22:48] heckflosse commented on #3512
@Hombre57 and I agreed to merge this into master, which I just did :)

[2016-11-23 22:53] Hombre57 commented on #3512
:+1:

[2016-11-24 04:40] pi99y commented on #3512
@da-phil @heckflosse That was fast! Great news guys, thank you!

[2016-11-24 05:28] pi99y commented on #3513
Hi @gaaned92
I just built RT following rawpedia instructions: http://50.87.144.65/~rt/w/index.php?title=Linux
(I did the "gtk3" branch this time - as suggested by the document)

But the problem remains - No version number is visible.

**ALSO the "about" page reports it being a "master" branch although I used 'git checkout "gtk3"'**

[2016-11-24 07:06] Floessie commented on #3513
Hi @pi99y,

first of all you should check out `gtk3-bugfix` instead of `gtk3` at the moment, as this is branch where progress happens until it is merged back to `gtk3`.

I'm building on Debian testing and don't have the problem you report. Could you have a look at `AboutThisBuild.cmake` in RT's root directory? Maybe your Git version prints out something unexpected for the regular expressions. You

[2016-11-24 07:10] Floessie commented on #3446
@Hombre57 The vertical overall progress bar still fills top to bottom, which looks a bit odd. Is that intended?

[2016-11-24 09:42] pi99y commented on #3513
Hi @Floessie, @gaaned92, thanks for your suggestions. I tried everything and kind of figured it out.

* building on my own DOES fix the problem (Previously I accidentally ran the downloaded version = I typed "rawtherapee" within my build directory, which ran the already installed one, I should have typed "./rawtherapee" to run my own)

* so the problem is probably just on the package maintainer's

[2016-11-24 16:52] da-phil commented on #3512
@heckflosse that's nice, thanks!

[2016-11-24 23:41] Hombre57 commented on #3446
@Floessie
No, it wasn't intended. `set_orientation` has new `enums` in Gtk3. I just found the `set_inverted` method to invert the default fill direction. Committing a patch now.

[2016-11-25 13:34] jtappin opened #3515 "Idea for the handling of monochrome non-raw files"
While the handling of raw files from monochrome cameras has been discussed and looks (as far as I can tell) to be handled (#2001 and #2409), handling of single-channel non-raw files is unavailable.

This is something of an issue for those of us using RT for processing scans from B&W film, as making 3-channel 16-bit tiff files uses serious amounts of disk space (a quality scan of a 35mm negative is

[2016-11-26 01:01] reagle commented on #3510
Yes, I've long used RT on linux, but many of the shortcuts don't work on El Capitan: homebrew rawtherapee: 4.2.1025 .

[2016-11-26 03:22] romandocent commented on #3306
@Floessie @Beep6581 Looks like this patch solves the noise reduction crush bug. But WB Equalizers are still crushing randomly.

[2016-11-27 17:26] nmalykh opened #3516 "Perspective correction."
When adjusting the perspective distortion, the picture moves in one direction and part of the picture is lost (it's easy to see when Auto-fill option is off). In my opinion this is not quite correct. Maybe there are possible adjustments on completion to perform a reverse shift for the restoration of the lost part of the picture?

[2016-11-28 08:46] Floessie commented on #3515
This scheme is already used for [grayscale PNGs](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/imageio.cc#L350), so as a workaround you could use PNGs. IMHO JPEGs and TIFFs should be handled consistently. I'll take a look when I find some spare time after Christmas.

[2016-11-28 09:57] Floessie commented on #3515
Okay, here is a preliminary patch. JPEG was super simple, TIFF a bit more work. Please have a look:

[code]

HTH
Flössie

[2016-11-28 12:23] Beep6581 commented on #3446
@Hombre57 most distributions still only provide GTK+ 3.18 or older, and only a few have the option of providing >=3.20. Those that do offer >=3.20 usually are of the rolling-release or snapshot style (e.g. OpenSUSE "Tumbleweed" or Debian unstable "Sid"), not the stable versioned style. RawTherapee supported <=3.18 well before we started with `gtk3-bugfix`, and after merging `gtk3-bugfix` into `gtk

[2016-11-28 12:29] Beep6581 commented on #3510
@frspp @reagle are you capable of making your own builds to test if we make a patch?

[2016-11-28 12:33] Beep6581 commented on #3516
Duplicate of #198

[2016-11-28 12:33] #3516 closed

[2016-11-28 13:30] jtappin commented on #3515
Impressive turnaround :-)

[2016-11-28 14:14] reagle commented on #3510
Unfortunately, I am not. I'm new to Mac and use homebrew; the [build instructions](http://50.87.144.65/~rt/w/index.php?title=OS_X) seem to require MacPorts.

[2016-11-28 14:44] Beep6581 commented on #3339
Could you compile a new build?
If using GTK+ >=3.20 then use the `gtk3-bugfix` branch,

[2016-11-28 15:31] heckflosse opened #3517 "build fails when using libcairo 1.15"
Reported by @mbajor on irc

[  241s] /home/abuild/rpmbuild/BUILD/rawtherapee-4.2.1197/rtengine/../rtgui/guiutils.h:440:16: error: cannot convert 'Cairo::RefPtr<Cairo::ImageSurface>' to 'bool' in return
[  241s]          return surface;

using libcairo 1.14 it builds

[2016-11-28 15:52] heckflosse commented on #3517
Related:
https://bugzilla.gnome.org/show_bug.cgi?id=626858#c4
https://git.gnome.org/browse/glibmm/commit/?id=aee3a6fa6a37e1178b43437966b4225a34f9c6e2

[2016-11-28 16:10] heckflosse commented on #3517
@mbajor Can you test this patch please?

[code]

[2016-11-28 18:09] jtappin commented on #3515
Unfortunately it doesn't seem to quite work. I tried with a couple of 16-bit 1-channel tiffs. One (the larger) was opened, but with corrupted colours:
![rt_gs_tiff](https://cloud.githubusercontent.com/assets/658624/20679850/79679372-b594-11e6-8186-ce7ef42f43d9.jpeg)
A smaller version of the same image crashed RT with an double free error:
[code]
And a long traceback (I have saved it but I doubt it

[2016-11-28 18:46] heckflosse commented on #3515
`for (int i = width; i >= 0; --i) {`
shouldn't that be
`for (int i = width - 1; i >= 0; --i) {`

[2016-11-28 18:53] Floessie commented on #3515
@heckflosse Of course, you are right. :+1:

@jtappin

:slightly_smiling_face: But only expect it to land in RT 5.1, not 5.0.

Could you provide me with one of your failing files via [filebin.net](https://filebin.net/)?

[2016-11-28 19:54] Floessie commented on #3515
Got it! I'll push a branch soon...

[2016-11-28 19:59] Hombre57 commented on #3446
Hi @Beep6581 , nice to see you back !

The status is that I've made good progress in Gtk3.18 support, but it's not finished, and TBH more difficult than expected. I thanks @heckflosse for giving me hand over his PC through RPC, and I'll certainly have to accept his offer of getting his laptop that is installed with 3.18. I've tried to revert to Gtk3.18 but MSYS and Manjaro are rolling release and

[2016-11-28 20:01] Floessie commented on #3515
I created a branch [`grey-imageio`](https://github.com/Beep6581/RawTherapee/compare/grey-imageio).

Best
Flössie

[2016-11-28 20:03] jtappin commented on #3515
They are at:
filebin.net/2ioxiuup9vkv8y4x
The small one IMG_0004a.tif caused the crash, the bad colours were from IMG_0002a.tif.
FWIW both files were converted from RGB files with gimp 2.9.4 as I couldn't find any original greyscale scans.

[2016-11-28 20:51] mbajor commented on #3517
@heckflosse Fix confirmed. Thanks ! :)

[2016-11-28 21:01] heckflosse commented on #3517
@Beep6581 @Floessie @Hombre57
Any objections to commit this in master branch?

[2016-11-28 21:10] Hombre57 commented on #3517
No objection on committing.

Just for my personal information: isn't `bool(surface)` the same than `static_cast<bool>(surface);` ?

[2016-11-29 00:11] #3483 closed

[2016-11-29 00:21] #3495 closed

[2016-11-29 06:52] Floessie commented on #3517
@heckflosse Absolutely no objections. I would have solved it exactly the same way.

@Hombre57

No. A C-style cast is equivalent to `reinterpret_cast<>`, which has no restrictions at all. For a `static_cast<>` the types have to be convertible. But you are right: In this place a c'tor-like C-style cast would have also done, although a C++-style cast should be prefered as it's more meaningful.

Best

[2016-11-29 07:24] Floessie commented on #3515
@jtappin Tested your images with the `grey-imageio` branch: They look okay to me now.

[2016-11-29 07:47] jtappin commented on #3515
@Floessie I can confirm that it works for me now -- I guess the indexing offset was the killer.

[2016-11-29 08:00] jtappin commented on #3515
I do however still see the corrupted colours in the file browser for IMG_0002a.tif (exaclty the same pattern as in the screenshot I provided earlier), though it is opened correctly when I select it.

[2016-11-29 08:20] Floessie commented on #3515
@jtappin

Exactly! I was missing the fact, that I was in byte realm and only had an 8b TIFF tested. :tired_face:

That's because the old version of the thumbnail got cached. If you clear your cache or copy/move the file to have a new name, you'll see it corrected.

HTH
Flössie

[2016-11-29 08:40] jtappin commented on #3515
Thanks, clearing the cache did the trick.

Being able to use greyscale TIFFs should save a bit over 3Gb per film!

[2016-11-29 10:45] Beep6581 commented on #3446
If they don't provide that package then reverting manually will probably break your system, because the other binary packages will have been built against the newer version. Easiest option is to install VirtualBox and any Linux distro which uses 3.18:
https://www.virtualbox.org/
http://releases.ubuntu.com/16.04/ubuntu-16.04.1-desktop-amd64.iso

Do I understand correctly that you aim to get a singl

[2016-11-29 11:31] Beep6581 commented on #3515
This is good! Is this safe to go into 5.0, or 5.1? I ask because I'm wondering how to update the docs.

[2016-11-29 11:34] Hombre57 commented on #3446
Yes, aftet merge, the actual css theme will not work anymore as @heckflosse has experienced. However @heckflosse, could you confirm that you're using 3.18 and not a previous version (I don't remember what you told me on IRC, sorry).

The automatic theme selection mechanism depending on Gtk version is already done in bugfix branch.

[2016-11-29 11:41] Beep6581 commented on #3483
Fix confirmed.

[2016-11-29 12:07] Floessie commented on #3515
@Beep6581

Pros:
- Straightforward, reviewable change
- Consistency with PNGs
- Feature request pops up regularly

Cons:
- Not reviewed by @heckflosse :wink:
- Only `PHOTOMETRIC_MINISBLACK`-TIFFs supported (but this is the norm) and no evaluation of `minValue` and `maxValue` (as with color TIFFs)
- A bit late in the game

I abstain from voting and leave it up to you to decide.

[2016-11-29 12:11] #3517 closed

[2016-11-29 12:14] heckflosse commented on #3446
@Hombre57  V3.18.0

[2016-11-29 12:15] heckflosse commented on #3515
@Floessie I will review it now

[2016-11-29 12:24] heckflosse commented on #3515
@Floessie @Beep6581 Builds and works fine. No objections from me.
@Floessie Is there a reason you memcpy from width-1 to 0 instead of 0 to width-1?

[2016-11-29 12:49] Floessie commented on #3515
@heckflosse

`linebuffer` is source and destination, and I don't want to destroy the data in the first third of the buffer when progressing forward.

[2016-11-29 12:52] heckflosse commented on #3515
@Floessie I see now. Thanks for explanation :+1:

[2016-11-29 13:05] Floessie commented on #3515
Likewise, thanks for reviewing! :+1:

PS: I know that iterating backward isn't that cache friendly, but doing so was simpler.

[2016-11-29 13:17] Beep6581 commented on #3515
Tested with PNG and TIFF, 8-bit and 16-bit integer (floating-point TIFFs don't show up in the file browser), works fine! +1 for merge now.

[2016-11-29 13:51] Floessie commented on #3515
@Beep6581

[Some](https://www.cheshireeng.com/HDReye/files/HDReyeSampleWhiteBalanced.tif) did and still do. There's a variety of subformats, and RT only supports the plain ones.

Shall I merge, or will you?

[2016-11-29 15:44] Beep6581 commented on #3515
I tried the floating-point ones from GIMP-git only.

You're welcome to merge into master.

[2016-11-29 19:35] #3515 closed

[2016-11-29 20:25] heckflosse commented on #3515
@Floessie Thanks a lot :+1:

[2016-11-29 22:09] jtappin commented on #3515
Thank you all.

[2016-11-30 01:23] heckflosse commented on #3489
In case you want to follow [the current pixelshift development](https://discuss.pixls.us/t/support-for-pef-dng-from-pentax-k-70-and-pixel-shift-resolution/2560)

[2016-11-30 07:06] Floessie commented on #3515
Not for that trifle... :blush:

[2016-12-01 11:55] Beep6581 commented on #3513
Status update: I am in contact with Dhor, the package maintainer, and he's working on getting the version number to appear.

[2016-12-01 16:32] TooWaBoo opened #3518 "TooWaBlue-GTK3-20_ / Gtk+3.20 ready / & Deutsch locale"
TooWaBlue for Gtk+3.20 is ready. I've add the font "Arial" to the theme. This font is available on every Windows OS. The default font is so ugly. If the font doesn't exists, this entry is ignored and the default font is used.
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/625190/TooWaBlue-GTK3-20_.txt)

Deutsch locale based on RT 4.2.1408
[Deutsch.txt](https://github.com/Be

[2016-12-01 17:46] gaaned92 commented on #3518
For those who use gtk3-bugfix build and want to test before inclusion in the git source:
- copy in <RTinstallDir>/themes
- change the file type .txt to .css
- choose default theme Toowablue in preferences

[2016-12-02 02:06] Hombre57 commented on #3489
Updated GUI done. Sorry, I've forgot to reference the issue number. See commit b1e7dcb.

 * the new Motion Correction combobox needs a better tooltip
 * the History messages needs to be set correctly in 'default' language files
 * the Fast Export and Partial Paste feature are not updated yet, will be done before the finale merge
 * the show/hide enable/disable logic seem quite broken, I'll look at

[2016-12-02 06:29] pi99y commented on #3513
Great, thanks!

[2016-12-02 14:23] heckflosse commented on #3489
@Hombre57 Thanks a lot :+1: I pushed the enum related changes

[2016-12-02 22:45] heckflosse opened #3519 "Pentax K1 file in APS-C mode has wrong raw crop"
Pentax K1 files in APS-C mode have wrong raw crop. There's a coloured vertical line at right border.
[Pentax K1 APS-C file](https://filebin.net/9ckzonefrjvxi2cl)
The file is a pixelshift file. I don't know if that matters. The issue is reproducible in master branch which reads only the first frame of that file and also in pixelshift branch (tried with all 4 frames).

@iliasg Do you have an idea?

[2016-12-03 16:45] Hombre57 opened #3520 "Creating a separate profile selector for soft-proofing"
The output profile selector from the ICM panel actually list all installed profiles, including those that can't be used as output profile. Each profile has a color space which can be RGB, CMYK, Lab, HSL, etc... but only RGB color space are valid to embed in RGB file, which make RT crash if that's not the case (e.g. try to export the image with a CMYK printer profile and RT will crash).

Until RT i

[2016-12-03 17:06] Hombre57 commented on #3520
PS: It should also be based on the `Profile class` is a better option, see table 9 page 54 of the same document.

[2016-12-03 21:23] iliasg commented on #3519
A few things go wrong with this

- Dcraw.cc reads the size of the (full uncropped) raw_frame then applies raw_crop.
In camconst.json we have defined only the FF raw crop so here we have
raw_size = 4832x3238
raw_crop in camconst.json is "raw_crop": [ 6, 18, 7376, 4932 ],
DNG raw_crop tag gives 18 0 3238 4832 (vertical first ) which is translated in camconst.json
"raw_crop": [ 0, 18, 4832, 3220 ], i

[2016-12-03 22:04] Hombre57 commented on #3519
@iliasg When you say "multiple frame support", all frames from a single file have the same size, of course. This file has been shot in APS-C mode, hence the difference in size for all its sub-images.

[2016-12-03 22:26] iliasg commented on #3519
@Hombre57 it should be "multiple frame_size support" for each model (no relation with multiframe raw files like pixelshift)
i.e support defining the raw_crop for both FF and APS-C in Pentax FFs or Nikon FFs which have up to 3 different crop modes (D810), Sony FF, Olympus normal and Hires modes (E-M5II has 16Mp and 64Mp raw sizes,).
Up to now we either leave this on Dcraw if it supports the model (

[2016-12-03 23:57] Hombre57 commented on #3519
@iliasg Ok, I understand. Pentax K-1 has 3 crop mode in fact. If you don't mind, could you also have a look at the 1:1 crop ratio ?

https://filebin.net/mdlhop60w346dgs2/PENTAX_K-1_1-1Crop.PEF

[2016-12-04 00:15] Hombre57 commented on #3519
As Ingo told me on IRC, that 1:1 raw file has a cropped jpeg embedded image but a Full Frame raw image, so there's no 3 real raw crop size. I should have opened that file in RT first instead of guessing... (I've never shot in this crop ratio)

[2016-12-04 23:07] Whissi opened #3521 "Requesting new release to fix CVE-2015-3885"
Hi,

RawTherapee was vulnerable to CVE-2015-3885 due to embedded *dcraw*. You updated dcraw via commit 18243db5bafb63595fd561c89a7b7676483ef843 so you are no longer affected.

However since 2014 you didn't tagged a new release. Maybe it's time to release a new version to push this fix to your users?

[2016-12-05 07:52] Hombre57 commented on #3446
It appears that we can't make anything good out for the CSS file alone for Gtk3.18, which was unexpected for me. I'll revert my change done in the code but enclosed in `#ifdef` statements, so that they are restored for Gtk3.18 only (does Gtk3.19 exist btw?). That way, when we'll be ready to drop support of Gtk3.18, we'll only have to make some code cleanup. I'll do that tonight and hope to commit

[2016-12-05 08:02] Hombre57 commented on #3446
@TooWaBoo I see that you're very experienced with Gtk's CSS files (way more than me). Would you mind helping me with the Gtk3.18 theme ? e.g. this rule doesn't work :
[code]

And I don't manage to set a `background-image` to the `GtkCheckButton` :
[code]

Ideally, you should try with the CSS them from the gtk3 branch copied - and renamed - into the gtk3-bugfix branch.

[2016-12-05 08:04] Hombre57 commented on #3521
A new release is planned "very soon and around the corner", i.e. this month for sure.

Closing ?

[2016-12-05 08:43] Beep6581 commented on #3521
Yup

[2016-12-05 08:43] #3521 closed

[2016-12-05 08:45] TooWaBoo commented on #3446
The background is covered from the checkbox **icon**. You have to remove or replace the icon with an transparent one.
Try this:
[code]

[2016-12-05 15:59] Partha1b opened #3522 "Suggestion: Change how external Editor is called on Windows"
I suggest that we use a Windows specific API to access external editor in that OS. This has the flexibility of being supported by Microsoft and moreover, does not require any additional steps to compile on Windows.

The API I am thinking of is ShellExecute (https://msdn.microsoft.com/en-us/library/bb762153(VS.85).aspx). I am happy to provide the code and test it.

This will not change the end User

[2016-12-05 18:52] heckflosse commented on #3522
@Partha1b

I will be happy if you provide the code and can test it too. :+1:

[2016-12-05 22:49] meokbodizi opened #3523 "Processing stops after process of each image in a certain type of dng files"
It produces message like

[https://goo.gl/photos/y4iosK4EhHhFqh4eA](https://goo.gl/photos/y4iosK4EhHhFqh4eA)

These dng files from Microsoft Lumia 950 XL

It does not happen when i handle CR2 raw images from EOS M

Here are sample dng files of Lumia 950 XL
[https://drive.google.com/file/d/0B6Q9Z2vj0OxUbUdBRDJGMmpqTUU/view?usp=sharing](https://drive.google.com/file/d/0B6Q9Z2vj0OxUbUdBRDJGMmpqTUU/vi

[2016-12-06 00:10] TooWaBoo opened #3524 "Gtk+ >=3.20 PartialPaste -> stretching separator"
Looks like the middle column has a fixed width and that's why the separator is stretching.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/20907718/30c8bdaa-bb50-11e6-9919-1bdba58c9f33.png)

[2016-12-06 00:40] TooWaBoo opened #3525 "Curve container partially covered until user hovers mouse over curve button"
The "Transmission" tool and "Gain and Offset" shows a distorted layout when showing a curve.
This happens with theme TooWaBlue, RawTherapee and without any theme.
How to reproduce this bug:
1. Choose a curve type to show and don't move the mouse away from the button.
2. The layout is distorted (see screenshot pic. 1)
3. Move the mouse to any button in the same frame.
4. The layout will refresh (se

[2016-12-06 01:48] TooWaBoo opened #3526 "Improvement Preferences"
The "Image Processing" tab waste a lot of space. Here is my suggestion.

![unbenannt3](https://cloud.githubusercontent.com/assets/13800920/20909808/24c810e2-bb5e-11e6-9c80-3d6a83335d44.png)

[2016-12-06 02:00] heckflosse commented on #3526
@TooWaBoo :+1:
May I suggest an improvement?

![rt_pref_image_processing](https://cloud.githubusercontent.com/assets/13733487/20910160/178f4f92-bb60-11e6-889d-c7b012b3e111.png)

[2016-12-06 07:09] Floessie commented on #3526
A :+1: to @TooWaBoo from me, too.

@heckflosse Though I like the idea of saving space, moving checkboxes to the right might steal awareness from them. IMHO it's better to have them in just one column.

Just my 2¢
Flössie

[2016-12-06 08:43] Beep6581 commented on #3523
@meokbodizi all of the links are broken.

Where are the DCP files from? If you made them, please upload photos of the color target instead.

[2016-12-06 11:21] TooWaBoo opened #3527 "Improvement: Spinner instead of Progressbar"
The progressbar tells me only that RT is working. Most of the time it jumps to the middle, stays awhile and it's finished, but it takes a lot of space.
On the internet, I've found a css-Spinner and adaptet it to RT. Here's a screenshot. I've hijacked some buttons. :-)

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/20921651/6ed13b40-bba5-11e6-9e90-7941f1999c56.png)

It's easy to

[2016-12-06 11:58] Beep6581 commented on #3527
There is a dedicated GTK3 spinner: https://developer.gnome.org/gtk3/unstable/GtkSpinner.html

The decision here is whether the progress bar should get fixed. I would prefer if it did, but issues have been open for years with no progress, so if it won't get fixed, then +1 for spinner, though I think it would be better to use the GTK3 spinner instead of a massive CSS blob.

See #808

[2016-12-06 12:51] meokbodizi commented on #3523
@Beep6581
You can find those dcp files from original post.

[original post](https://drive.google.com/file/d/0B6Q9Z2vj0OxUbUdBRDJGMmpqTUU/view?usp=sharing)
[one drive 1](https://onedrive.live.com/?authkey=%21AGDUe0wNAxN2zvY&id=D115526C14F8B24B%21148&cid=D115526C14F8B24B)
[one drive 2](https://onedrive.live.com/?authkey=%21AHrD40AkNc2Z2Uo&id=72316AA2942F0A8A%21119749&cid=72316AA2942F0A8A)

I fixed l

[2016-12-06 13:41] heckflosse commented on #3523
![invalid_byte_sequence](https://cloud.githubusercontent.com/assets/13733487/20927461/0376802c-bbc2-11e6-8c30-69ff86965ffc.png)

[2016-12-06 13:51] heckflosse commented on #3523
Steps to reproduce:
Create a folder named `资料`
Save a raw file into that folder.
Add file to queue.
Start queue

[2016-12-06 14:04] Beep6581 commented on #3523
@meokbodizi
1. Where are the DCP files from, did you make them yourself?
2. If you made them yourself, please upload the raw photos of the color target.

[2016-12-06 14:06] Beep6581 commented on #3523
Crash reproduced in Gentoo, same segfault message.

[2016-12-06 14:11] heckflosse commented on #3523
It's always reproducible when I add 2 images to queue and then start queue

[2016-12-06 14:21] Desmis commented on #3421
Thank you kazah7 and Beep6581 :)

I have just returned from a winter break in "la Réunion".
As expected I post a modification concerned "Local denoise". As for "Local sharp" I realized an optimization which considerably reduces the processing times when exiting in TIF / JPEG.

I also found other bugs and thought to have treated them ??

I think we can also optimized others local threatment as Colo

[2016-12-06 15:37] heckflosse commented on #3523
The exception is from [here](https://github.com/Beep6581/RawTherapee/blob/master/rtgui/batchqueue.cc#L242). But I don't know how to fix it.
@Floessie Do you have an idea?

[2016-12-06 17:26] Floessie commented on #3523
@heckflosse I only had a quick look, as I've no time ATM. One thing I'd try, was turning the `<<` cascade into distinct calls like `file << x; file << y;` and try again. Could be, there are `std::string`s involved, and they don't mix well with `Glib::ustring`s on `operator <<()`.

[2016-12-06 18:14] TooWaBoo commented on #3527
Ohps, I forgot the Gtk spinner. If it does the job and looks nice, why not. :-)
Both spinners are save to use. As far as I can see, the css-Spinner has more flexibility.
The one which has the least processor load should be the first choice.

[2016-12-06 20:58] heckflosse commented on #3523
This is a strange issue...
On my Win7/64 I can reproduce the issue and [this patch](https://filebin.net/fjrv9j8db0ls1s7w) fixes it.
On @Beep6581 Linux it segfaults with and without patch.
On my Linux I can not reproduce it at all. Works fine there with and without patch.

[2016-12-06 23:00] meokbodizi commented on #3523
@Beep6581 Sorry, the link was wrong address. Here is the [original post](http://forums.windowscentral.com/microsoft-lumia-950-xl/425279-950xl-dual-sim-dng-camera-profile-fix-skintone-sky-issue.html) where these dcp profiles come.
@heckflosse I am using Win7/64bit. Just moved sample files to another path that is full of english and i do not get the same error message. For clearance, I get error mes

[2016-12-06 23:12] heckflosse opened #3528 "Issue with noise reduction in editor"
Steps to reproduce:

Open a noisy image in editor and apply 'Default ISO Medium' profile.
Zoom to 100 %. Most of chroma noise is removed, good!
Now go to exposure tab and press reset button, most of chroma noise is removed, good!
Now press auto levels button, chroma noise is visible again, bad!
Now zoom out to 50% and again zoom in to 100%, chroma noise is removed.

There's something wrong in edit

[2016-12-06 23:21] meokbodizi commented on #3528
@heckflosse
In my case, good till reset button.
But same issue occur after applying auto level again.
And noise disappears by dragging image with mouse left click on image even without re-zooming.

[2016-12-06 23:25] heckflosse commented on #3523
@meokbodizi Thanks for testing and confirming that it works fine without 'korean' words. So you have at least a workaround until we fixed this 'korean/chinese/japanese/whatever else' bug :) My patch already fixes that on my windows system, but we have to check other OS too.

[2016-12-06 23:42] heckflosse commented on #3528
@meokbodizi
I updated my post because you're right that it's good until pressing auto level button.
As it's also good not only be re-zooming but also by dragging it's not a critical issue but still one we should solve.

[2016-12-06 23:43] TooWaBoo commented on #3527
Made some performace tests. The css-Spinner increases pocessing time by around 20% and the CPU load is also 20% higher. That's a lot.
I hope, the Gtk-Spinner is better.

[2016-12-06 23:56] heckflosse commented on #3527
Yes, that's too much. I didn't spend weeks and months to speed up rt to get it eaten up by a gui element...
Hopefully the Gtk-Spinner is better.

[2016-12-07 01:40] TooWaBoo commented on #3527
@heckflosse
What are 20%, when you can get such a nice spinner. hahahaha

[2016-12-07 07:20] Floessie commented on #3523
@heckflosse Nice patch, but isn't `entry->outFileName` affected as well (though I didn't have a closer look). In @Beep6581's case, is it really a SEGV or an exception like on Windows?

[2016-12-07 13:39] heckflosse commented on #3523
@Floessie You're right about `entry->outFileName`. In my tests it was always empty but now I found the case when it is not empty.

[2016-12-08 00:57] joachimjohansson opened #3529 "Crash when opening folder containing BW DNG-files"
I've scanned a lot of black and white negatives to 16-bit gray DNG-files. The problem is that RawTherapee crashes instantly when I try to open any folder with a 16-bit gray DNG.

As I couldn't find a debug-version for Mac OS, I attach the crash dump from the system.

[log.txt](https://github.com/Beep6581/RawTherapee/files/638140/log.txt)

[2016-12-08 07:02] Floessie commented on #3529
@joachimjohansson Could you please provide us with such a file, best via [filebn.net](https://filebin.net/)?

[2016-12-08 08:02] Floessie commented on #3523
@heckflosse I was thinking a bit about your patch: Could it be, that you fixed the crash by catching the exception, and wouldn't the following code be sufficient then for `fname_to_utf8()`?

[code]

[2016-12-08 10:44] Floessie commented on #3529
Okay, even without a file I was able to prepare a patch:

[code]

@heckflosse This is a follow-up on a991d53bf3d90703842a34fe4e064a87e1707826, don't know which issue it was.

[2016-12-08 12:57] joachimjohansson commented on #3529
Here's a file for you to test your patch with.
https://filebin.net/uara6ni02as3e7xb/Scan-060318-1009.dng

[2016-12-08 16:17] Desmis commented on #3421
I have just done 2 optimizations that reduce processing times by at least 50%.

Of course it should be possible to further improve the speed, but it is more complicated for me (SSE, OMP, optimization of the code ...).

Depending on the size of the zones, their number, and the processes involved (the longest is denoise), processing times range from a few tenths of a second to a few seconds.
I think

[2016-12-08 17:20] heckflosse commented on #3421
@Desmis Jacques, welcome back :)

I will take a look later. Currently I'm working on pixelshift together with Ilias.
Jacques, did you get the invitation from Ilias on pixls.us?

Ingo

[2016-12-08 17:26] Desmis commented on #3421
@heckflosse
Hello Ingo

Yes I have seen...but I was busy with locallab.
Now I'll have a look to pixelshift :)
jacques

[2016-12-08 19:12] heckflosse commented on #3421
@Desmis

That will be a long ride reading the complete thread and downloading all the large pixelshift raw files ;-)

[2016-12-08 23:11] Hombre57 commented on #3509
@ror6ax What do you mean by _interface to the core functionality_ ? I guess that you want RT to be started as a service ? That's not planed and I don't think any devs knows how to do that. I'd however like to provide a rawtherapee-cli.exe version where the GUI wouldn't be included in the binary. I don't know how much time it could require though.

[2016-12-08 23:13] ror6ax commented on #3509
I meant some api I can talk to from the webserver. CLI would do, but ideally I'd prefer a socket for this.

[2016-12-08 23:22] Hombre57 commented on #3446
I think I have found the problem of the wrong display of some GUI elements. With a bit of luck, it should solve issue #3261 and #3494 as well. Lesson 2 : RTFM ; Lesson 1 : FTFM (Find That Fu**ing Manual)

[2016-12-09 08:34] Floessie commented on #3529
@joachimjohansson Thanks for the file, which is also special because it has to be rotated. That revealed a glitch in `Thumbnail::loadFromRaw()`, where rotation wasn't taken into account for the scaling. Additionally I found my `checkRawImageThumb()` oversimplified, as it didn't take the smaller JPEG thumbnail data into account.

So, here is v2:

[code]

@heckflosse This is unknown territory for me

[2016-12-09 08:39] Beep6581 commented on #3446
@Hombre57 could you PUTTFM (Point Us To That Friendly Manual)? ;)

[2016-12-09 12:49] heckflosse commented on #3529
@Floessie Looks good and works fine.
`git apply` had some warnings
[code]

[2016-12-09 12:52] heckflosse commented on #3523
@Floessie I will check that and also post a new patch which also handles `entry->outFileName`

[2016-12-09 13:32] Floessie commented on #3529
@heckflosse Hallo Ingo, thanks for testing. Yes, I'm aware of the tabs in the patch. Right after its posting I learned that my editor messed it up but was too lazy to edit my post, sorry. I'll turn it into a real commit on master and take care of the whitespace.

Best
Flössie

[2016-12-10 05:45] Desmis commented on #3489
I read the 2 texts  (in Pixls.us and issue 3489)...and download some images.... I am not sure to all well understand.

1) I cannot download first files in Pixls.us - they are expired : IMPG0003.dng, etc.
2) one of the problems is to detect motion...and noise
* The noise does not correspond to a true Gaussian distribution - one of the best noise evaluation is MAD (with wavelet, see Ftblockdn.cc).
I

[2016-12-10 08:13] Desmis commented on #3489
Oh I forgot, congratulations for this great work :)

[2016-12-10 12:46] iliasg commented on #3489
Jacques, thanks for the review ..

Mathematically this results in high KHI2 values.

Why "especially on the reds" ?. We work on raw data without WB applied

This bell curve deformation only happens for very low levels and I think it is not significant ..
It comes from ..
- the nature of the photon noise ( Poisson distribution)
- raw-denoise operations (like removing outliers)
- clipping of raw val

[2016-12-10 15:39] Desmis commented on #3489
We will not fight like ragpickers, about the problem of noise. :)
I know the different types of noise for having worked deeply the algorithm of Denoise

Although the photon distribution is Gaussian, but when examining an entire image with over exposed areas, under exposed areas (with large amplitudes of dynamics - up to 13IL) and color differences, there are significant variations in total noise.

[2016-12-10 21:44] Hombre57 commented on #3446
https://developer.gnome.org/gtkmm-tutorial/stable/sec-custom-widgets.html.en

Google brought me to that page.

[2016-12-11 00:03] Hombre57 commented on #3524
Should be fixed in gtk3-bugfix branch. Closing ?

[2016-12-11 15:10] dngimage opened #3530 "Control point values change when switching between CPs in locallab"
version 4.2.1249 Win64
If you add several control points and set blur radius to a value of let's say 20 for each, then switch between control points, the blur radius will change to 100 on its own.

[2016-12-11 17:16] Beep6581 commented on #3530
@dngimage it would be more helpful if you included the changeset hash instead of the version.

[2016-12-11 19:00] Desmis commented on #3530
I think now the bug is fixed.

You must clean cache and delete *.mip files

:)

[2016-12-11 20:26] Beep6581 commented on #3524
Looks fine here using GTK+ 3.22.3 https://i.imgur.com/Gm1Kn0i.png

[2016-12-11 21:58] Beep6581 commented on #3446
@Hombre57 I looked again into the catchment area of the separators which you grab with the mouse to resize the panels, emphasized here https://i.imgur.com/Q2Uygc3.jpg
The problem currently is that there is a lot of dead space around this catchment area, you can clearly see it here https://i.imgur.com/0jjQjAN.png Look how much non-green space there is around the green lines, especially on the right

[2016-12-11 22:34] Hombre57 commented on #3446
@heckflosse Could you tell us if the Gtk3.18 theme is _acceptable_ ? I don't think we should spend too much time to fine tune it (we're not able to do it because 3.18 doesn't goes as far as 3.22 regarding CSS).

@Beep6581 2px on the left of the History, Navigator and Snapshots frame is really not enough, we can't clearly distinguish the elements IMHO. And if you remove the left margin from `#MyExp

[2016-12-11 23:00] heckflosse commented on #3446
I will test now...

[2016-12-11 23:35] dngimage commented on #3530
Thanks for the reply guys.

Deleted the cache, profile and *.mip and still have the bug.

Using:

Branch: locallab
Version: 4.2.1249
Changeset: a6c62076098b68e9a98650b894d11dafa232deb7
Compiler: gcc 6.2.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V2.24.4
Build type: release
Build flags:  -m64 -mwin32 -mthreads -std=gnu++11 -Werror=unused-label -Werror=unknown-pragmas -Wno-ag

[2016-12-11 23:57] TooWaBoo commented on #3446
@Beep6581, @Hombre57
This is what I'm doing to get a 6px resize area arround the main window:
[code]

To get a **5px** separator, with a **9px** resize area, you can do this:
[code]
I hope this helps

[2016-12-12 00:20] Hombre57 commented on #3446
@TooWaBoo I've seen your comment too late, I'll try that tomorrow.

@Beep6581 I've pushed some changes that goes toward what you want I hope. I hope you don't mind that I pushed directly.

[2016-12-12 00:42] TooWaBoo commented on #3446
@Hombre57
Another trick

A separator with a thin double line
[code]
The border left is the windows padding. The border right is the horizontal separator. And the double line separator is like described above
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21084951/32a57b3a-c00b-11e6-896a-94b98aeebd65.png)

I've attached the latest beta theme, so can examine the whole code.

[TooWa

[2016-12-12 01:09] heckflosse commented on #3530
@dngimage As @Desmis has pushed a fix you should also pull 'locallab' again from git ;)

[2016-12-12 01:24] dngimage commented on #3530
Thanks for the fix guys :)

[2016-12-12 02:29] TooWaBoo commented on #3446
btw.
Because we are not using a native window, I think we have to do the whole window control.

These are the steps for the gui file
1. Replace the Maximize button with a Restore button when maximezed
2. Assign a class .maximized to the window when the window is maximized
3. Remove the class .maximized when the window is not maximized
4. Assign a class .fullcreen to the window when we are in fulls

[2016-12-12 05:47] Desmis commented on #3530
@heckflosse

Ingo
Thank you, for this information :)

[2016-12-12 08:01] #3530 closed

[2016-12-12 09:11] Beep6581 commented on #3446
@TooWaBoo unfortunately even after removing the comments and replacing the color definitions the code you pasted does not work here in GTK+ 3.22.3 in KDE. The double line separator looks nice. Ideally I'd like a single, thick dashed line to show the separators, but I didn't manage to make one.

@Hombre57 your latest commit looks and behaves well! I consider the separator problem solved.

[2016-12-12 09:18] Beep6581 commented on #3446
Ha, I got dashed lines:
https://i.imgur.com/S6psXtc.png
[code]
But we don't need them - the way it is in commit e6aff9c looks nice.

[2016-12-12 11:09] TooWaBoo commented on #3446
What does this mean? When you try the TooWaBlue theme in RT, doesn't it look like the screenshot?

I guess, another style is overwriting it. GTK won't have the same rules like in regular css.

[2016-12-12 11:55] Beep6581 commented on #3446
I tried using your code snippets on top of `RawTherapee-GTK3-20_.css` via GTK Inspector, replacing the definitions as required. I didn't try TooWaBlue.

I know, I read the docs. The rest is no longer relevant as the latest commit looks and works well.

[2016-12-12 12:34] heckflosse commented on #3446
I just tested gtk3-bugfix on Win7/64 using gtk 3.18.6. Works and looks good

[2016-12-12 14:52] heckflosse commented on #3421
@Desmis Jacques, I wanted to try locallab branch. But as soon as I enable Locallab, it crashes.
To reproduce, open amsterdam.pef, enable locallab => crash

[2016-12-12 16:03] Desmis commented on #3421
@heckflosse
Currently, it is essential with each new version of:
1) delete * .mip
2) clean the cache
I think, but that goes beyond my capabilities (related to deep knowledge of pp3 files) that it would be nice to incorporate * .mip files to pp3 ... How? This would in theory make updates less austere.

During the tests I had a lot, a lot, a lot,... of crash ... due to the presence of noise (even ve

[2016-12-12 16:25] TooWaBoo commented on #3524
Can be closed. Looks fine here too.

[2016-12-12 17:26] #3524 closed

[2016-12-12 17:35] TooWaBoo commented on #3446
@Hombre57
Is it possible to get an ID for Snapshots and Processing profiles?

![1](https://cloud.githubusercontent.com/assets/13800920/21109402/3ab2972a-c099-11e6-8765-2b98c8969b5b.png)

[2016-12-12 18:25] Beep6581 commented on #3446
@TooWaBoo Processing Profiles already have an ID, #ProfilePanel

To add a #Snapshots ID:
[code]

[2016-12-12 18:42] TooWaBoo commented on #3446
@Beep6581
Thanks 👍

[2016-12-12 20:51] Hombre57 commented on #3446
Patch committed, name added to the History panel as well.

[2016-12-12 23:10] TooWaBoo opened #3531 "Gtk+3.20 GUI Glitch"
Combobox Method: min-width to high
Combobox Size: not right aligned
Label Size: To close to pipette button, to far from combobox

![1](https://cloud.githubusercontent.com/assets/13800920/21120573/4aaa7e3e-c0c8-11e6-874f-479c07e98f2d.png)

Wrong button is stretching

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21125637/7366f0ea-c0e7-11e6-87f3-dbfd3608a7ba.png)

[2016-12-12 23:25] TooWaBoo opened #3532 ""Save as" grows up on every open"
When you open and close the "Sava as" dialog several times , it will grow up a bit on every open. I figured out, that the different of the size is exactly the amount of the window decoration (see screenshots).
The screenshot with the blue border is the area with box-shadow on, orange is box-shadow off. This is the part, which is used as resize area when box-shadow is on.
The size saved in the opti

[2016-12-12 23:46] heckflosse commented on #3532
@TooWaBoo Thanks for reporting the bug. Confirmed in master branch on Win7/64

[2016-12-13 02:48] itzsomnath opened #3533 "mRaw files from Canon EOS 80D not supported - pending on dcraw update"
HI, Im using windows 10. I have installed 4.2.1 stable version. but whenever opening any RAW file its showing distorted image only. please check the screenshot attached.  how can I resolve it?

![raw_issue](https://cloud.githubusercontent.com/assets/8308302/21125558/a5365922-c0b4-11e6-8666-26bf883e0ec9.PNG)

[2016-12-13 06:55] Floessie commented on #3529
@Beep6581 Shall this be part of 5.0? If so, I'll commit it on master tonight, otherwise I'll delay it...

[2016-12-13 08:07] Beep6581 commented on #3446
Great! I'll polish up the release notes then.

[2016-12-13 08:12] Beep6581 commented on #3533
@itzsomnath update to the latest "fast" build.
http://rawtherapee.com/downloads

[2016-12-13 08:13] Beep6581 commented on #3529
@Floessie it would be good to have all outstanding fixes committed ASAP. Then we could test for a few days and release this weekend... Sounds almost to good to be true ;)

[2016-12-13 08:15] Beep6581 commented on #3532
I could not reproduce using gtk3-bugfix in KDE Plasma.

[2016-12-13 08:25] Beep6581 commented on #3531
The Processing Profiles combo had a problem where its collapsed size would assume the size of its largest containing item, but I confirm that this issue is fixed (just confirmed in gtk3-bugfix 3b3a14b). It seems like the White Balance Method combo has the same problem, its assuming the width of its widest element - `TP_WBALANCE_FLASH60;Standard, Canon, Pentax, Olympus`.

I also confirm that the cu

[2016-12-13 12:34] Beep6581 commented on #3507
I wanted to mention somewhere that I get six of these in the console when starting up RT, just as the main window appears, using `gtk3-bugfix` commit 3b3a14bb93056716fce8c1b9571e4eba7cc35c8d  gtkmm V3.20.1 GTK+ 3.22.3.
`(rawtherapee:23042): Gtk-CRITICAL **: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar`

[2016-12-13 12:54] heckflosse commented on #3446
I just detected that the size and position of rt window is not remembered when closing rt.
It reads the values from options file on start, but it seems it doesn't save them on close.
Win7/64 gtk3.18.6

[2016-12-13 12:57] heckflosse commented on #3507
Can't confirm on Win7/64 gtk3.18.6 using latest gtk3-bugfix

[2016-12-13 13:51] Floessie commented on #3507
Confirmed on up-to-date Debian 9 with GTK+ 3.22.4 and gtkmm 3.22.0.

[2016-12-13 13:56] Floessie commented on #3507
With `--g-fatal-warnings` I get a fairly long backtrace, so I only post the tail:
[code]

HTH
Flössie

[2016-12-13 14:46] Floessie commented on #3446
@heckflosse There are some new `GdkWindowState`s which mess things up, especially `GDK_WINDOW_STATE_FOCUSED`: [GTK 2](https://developer.gnome.org/gdk2/stable/gdk2-Event-Structures.html#GdkWindowState), [GTK 3](https://developer.gnome.org/gdk3/stable/gdk3-Event-Structures.html#GdkWindowState).

Here is a patch serving as a base for @Hombre57:

[code]

HTH
Flössie

[2016-12-13 15:10] heckflosse commented on #3446
@Floessie Thank you. Your patch fixes it. :+1:

[2016-12-13 16:41] Partha1b commented on #3522
Thanks for your support. :)

Anyway seriously, I have a issue. I tested my code and it works fine for my
GIMP builds on Windows. So, that's good. However, before GIMP starts for
me, I get the dialogbox claiming "Cannot start editor\n Please set the
correct path in Preference". Any suggestions on why I am triggering this?

Also, any volunteers for testing the build? :)

Thanks,
Partha

On Mon, Dec

[2016-12-13 16:45] heckflosse commented on #3522
Sure, tell me where I can find the source. Then I will build and test it.

[2016-12-13 16:55] Partha1b commented on #3522
Thanks for the offer. As you know I'm only modifying 1 file at the moment.

Should I upload that file somewhere or do you prefer that I create a
tarball with the code?

Note that my git pull is current as of today.

On Tue, Dec 13, 2016 at 11:45 AM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-13 17:08] heckflosse commented on #3522
@Partha1b Just that file should be enough to test. Upload it to filebin.net please.

[2016-12-13 17:19] Partha1b commented on #3522
I've never used filebin.net before. Hope this works. I think I need to give
you this URL? https://filebin.net/d65mu2yc3xsqz1mf

On Tue, Dec 13, 2016 at 12:08 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-13 17:27] heckflosse commented on #3522
Thanks for the file. Already downloaded. Building now...

[2016-12-13 17:38] heckflosse opened #3534 "Segfault when selecting GIMP installation directory in Preferences (Windows)"
On Win7/64 using master build, when I try to select the GIMP installation directory in Preferences, I get a segfault.

[code]

[2016-12-13 18:08] heckflosse commented on #3534
Here's the bt full:

[code]

[2016-12-13 18:17] heckflosse commented on #3534
I checked gtk3-bugfix branch too. There it works fine.

[2016-12-13 18:30] heckflosse commented on #3522
I tested. Currently it does not work because I don't have `gimp-win-remote` installed

[2016-12-13 19:00] heckflosse commented on #3522
@Partha1b
[code]

[2016-12-13 19:48] Floessie commented on #3529
@joachimjohansson Fixed on master, will be part of 5.0. :smile:

[2016-12-13 19:48] #3529 closed

[2016-12-13 20:03] heckflosse commented on #3522
@Partha1b [This one](https://filebin.net/hqifb7htz55jfzub) works fine here

[2016-12-13 20:49] Partha1b commented on #3522
I don't know what this gimp-win-remote is. Do we need this part of the code?

On Tue, Dec 13, 2016 at 1:30 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-13 20:51] Partha1b commented on #3522
Well, I am still getting can't start editor and then it starts it.
Remember, I am using my own build and so have to pass a command line to RT.
I'll keep looking.

On Tue, Dec 13, 2016 at 3:03 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-13 21:49] heckflosse commented on #3522
@Partha1b

Remember, I am using my own build and so have to pass a command line to RT.

You forgot to return a value (true/false) in the Win32 part of openInCustomEditor

[2016-12-13 22:02] heckflosse commented on #3522
@Partha1b [This](https://filebin.net/osjbzasqvc8ld2a2) should work

[2016-12-13 22:56] Hombre57 commented on #3173
Fixed in gtk3-bugfix branch. Closing.

[2016-12-13 22:56] #3173 closed

[2016-12-13 22:57] heckflosse commented on #3522
@Floessie Could you have a look at the solution one post above? I bet there's a better solution than casting to (uintptr_t)

[2016-12-13 23:27] heckflosse commented on #3173
@Hombre57 @Floessie Thanks for fixing that :+1:

[2016-12-13 23:29] Hombre57 commented on #3507
@Floessie Having the firsts stacks would help too (1 to 15...)

I don't have this issue since some time now. I don't know what made them disappear.

[2016-12-14 00:04] itzsomnath commented on #3533
I installed the latest update "RawTherapee_WinVista_64_Gtk3_Release_4.2.1375". It is even more pathetic. Every time I try to open a RAW file it just crashes and closes the application.

[2016-12-14 00:16] heckflosse commented on #3533
Please read [this](http://50.87.144.65/~rt/w/index.php?title=How_to_write_useful_bug_reports) and upload a raw file (preferably to filebin.net) and post the link here.

[2016-12-14 00:18] Partha1b commented on #3522
Thanks. I'll check it out. Perhaps there is a better solution.

I've never seen gimp-win-remote mentioned before I saw this in RT. So, I
doubt that anyone is using it.

On Tue, Dec 13, 2016 at 5:57 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-14 00:33] heckflosse commented on #3522
@Partha1b

That question was for @Floessie :)

My point is about checking return code of ShellExecute for being > 32. Anything <= 32 is an error.
The `gimp-win-remote` not found bug is just a side-effect of not checking the return code of ShellExecute correctly.

[2016-12-14 01:22] itzsomnath commented on #3533
HI, My system configuration is as follow.
Windows 10 Pro 64 bit.
Intel Core i7- 6650 U CPU @2.20 GHz, 16GB RAM, Intel Iris graphics 540

I tried with following fast versions.
1. **RawTherapee_WinVista_64_4.2.1**
**Issue**: RAW file opening as completed distorted formal. please check attached screenshot raw_issue.PNG

2. **RawTherapee_WinVista_64_Gtk3_Release_4.2.1375**
**Issue**: when ever tried t

[2016-12-14 01:32] heckflosse commented on #3533
I confirm the crash with the file from https://drive.google.com/open?id=0B3oKYtuzoNVWeFQ1eEpTcXRNaEk
Thanks for reporting the bug!!!

[2016-12-14 01:45] heckflosse commented on #3533
Seems to be an issue with Canon EOS 80D raw images. I'll investigate...

[2016-12-14 01:47] itzsomnath commented on #3533
Appreciate your response. I'll wait for your further update on this.

[2016-12-14 06:53] Floessie commented on #3507
@Hombre57 Okay, then take this. :wink:

[code]

Best
Flössie

[2016-12-14 07:17] Floessie commented on #3522
@heckflosse Well, the doc says it "can be cast only to an int", and I think it is cleanest to follow that rule. As `HINSTANCE` is basically a `void*`, we need the most brutal cast:

    if (reinterpret_cast<int>(success) > 32) {

I hope, that answers your question.

@Partha1b It looks like the indentation got messed up. We use four spaces everywhere.

Best
Flössie

[2016-12-14 08:01] Floessie commented on #3533
@heckflosse While you're at it, could you have a look at [this](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimage.cc#L468), as it is very misleading. Thanks. :slightly_smiling_face:

[2016-12-14 08:31] Beep6581 opened #3535 "Reduce default thumbnail size"
I suggest quickly changing the default thumbnail size for the RT5 release from `ThumbnailSize=240` to `ThumbnailSize=150`.

This is what users will see when they install RT5 and open a photo on a common "full HD" (1920x1080) screen:
https://i.imgur.com/UPvUBff.jpg
It would be even worse on lower resolutions. They will not immediately know that they can press "t" to show the filmstrip toolbar from

[2016-12-14 08:46] PkmX commented on #2900
I second this feature. This would be very useful when evaluating the effect of noise reduction or sharpening on the whole image, without exporting the image and viewing it with an external viewer/editor.

[2016-12-14 08:48] Floessie commented on #3533
Okay, `RawImage::image` is allocated with a size of `3402 * 4032 * 8 + 0 == 109734912` [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimage.cc#L468). It is accessed at `((3401 + 34) * 4032 + 4031 + 264) * 8 + 2 * 2 == 110833724` [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rawimage.cc#L732).

How is that supposed to work at all? :confused:

[2016-12-14 08:50] Beep6581 commented on #3535
On a related note, at some point in the past I opened a feature request that the thumbnail size of the thumbs in the Filmstrip be decoupled from the size of those in the File Browser, the idea being that you can have large thumbs in the File Browser but usually want small thumbs in the Filmstrip. There is such a feature, but it is disabled by default (Preferences > File Browser > Thumbnail Options

[2016-12-14 08:54] Floessie commented on #3535
@Beep6581 Maybe I don't get it, but what's the difference to `SameThumbSize=1` here?

[code]

[2016-12-14 09:07] Beep6581 commented on #3535
@Floessie it's only a usability thing. New users won't know about that option in Preferences. If I were new to RT I would not assume that the size of thumbs in the File Browser is locked to be the same as those in the Filmstrip because the two play a different role. Personally I would find 150 a good size for both the Filmstrip and the File Browser, but I know from the forum that some people like

[2016-12-14 09:08] Floessie commented on #3535
@Beep6581 Okay, now I see. Thanks.

[2016-12-14 09:10] Beep6581 commented on #3535
@Floessie but do you [agree]/[disagree]/[don't care]? I need to know to make a decision.

[2016-12-14 09:14] Beep6581 commented on #3535
I went on a limb and assumed 160 might be marginally faster as it's divisible by 8.

Pull request:
https://github.com/Beep6581/RawTherapee/pull/3536/files

[2016-12-14 09:35] Floessie commented on #3535
@Beep6581 I agree that your proposal makes sense. But I don't care, as I'm used to select the image in the file browser and work on it with the thumbs panel above the editor panel hidden. For me the file browser thumbs are all about indentification, so their sizes don't matter to me as long as I can discern them. :smile:

[2016-12-14 09:39] Beep6581 commented on #2900
@TooWaBoo I've been doing the same! See http://rawpedia.rawtherapee.com/Preferences#External_Editor
Thinking of adding a dedicated option for external viewer for 5.1... What do you think?

[2016-12-14 09:51] Beep6581 opened #3537 "Remove annoying tooltips"
Tooltips are good when they tell us things we don't know or may need to be reminded about without having to read a whole document on RawPedia. But they're not good when they get in the way and when they say something of no real value.

There is issue #2221 for a general cleanup, but that turned out to be a lot of work and I never finished the patch. This issue is to quickly clean up the most intru

[2016-12-14 10:12] Beep6581 opened #3539 "CbDL no preview when changing exposure"
Enable CbDL and set high values https://i.imgur.com/T28bI4C.jpg , then change the Exposure slider https://i.imgur.com/GnM1Z8Y.jpg . The CbDL effect is gone from the preview. If you now hop in history back before you enabled CbDL https://i.imgur.com/NA4Ltfj.jpg and forward to the end again, the CbDL effect pops back https://i.imgur.com/1bjjKfS.jpg

[2016-12-14 10:15] Beep6581 commented on #3158
Can we close?

[2016-12-14 10:36] TooWaBoo commented on #3537
For my own setup, I've add this in the stylesheet of a duplicated theme:

This is setting the whole tooltip to transparent and when I need them, I can switch between the two themes.

If you can inject this by the application itself, mybe it's an easy way to do it.

[2016-12-14 10:59] Beep6581 commented on #3537
The `.off` class or an option in Preferences to disable tooltips is a good idea, but remember that some tooltips play more than a didactic role, e.g. the tooltip for Sharpening's threshold adjuster widget shows control point values which cannot be found elsewhere. I think removing unnecessary tooltips in this issue and moving the useful ones off the active widgets in issue 2221 will make finding w

[2016-12-14 11:21] TooWaBoo opened #3540 "Update: TooWaBlue-GTK3-20_.css v2.12"
Rename the file extension from .txt to .css
The theme requires RT 4.2.1412 or higher.
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/655120/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/655121/TooWaBlue-Dark-GTK3-20_.txt)

[2016-12-14 12:40] heckflosse commented on #3533
@itzsomnath
The `raw` file is an m-raw file.
That means

1. the m-raw from EOS 80D currently is not supported
2. it is already demosaiced and you can not use the `Preprocessing` tools even if it would be supported
3. it also conflicts with the settings in camconst.json for EOS 80D

Solution: Don't use m-raw format, use raw

@Floessie
The crash occurs because of the conflict between camconst.json s

[2016-12-14 13:08] heckflosse commented on #3539
It also pops back if you change zoom ratio or pan.

[2016-12-14 13:10] heckflosse commented on #3539
Works fine if it CbDL is set to `after Black-and-White'.

I take a look

[2016-12-14 13:17] Floessie commented on #3533
@heckflosse Didn't even know, something like m-raw existed. Fix confirmed. :+1:

[2016-12-14 13:39] #3539 closed

[2016-12-14 13:46] #3158 closed

[2016-12-14 14:56] heckflosse commented on #3537
:+1: to remove annoying tooltips

[2016-12-14 14:58] heckflosse commented on #3535
:+1: for the changes.

[2016-12-14 15:02] heckflosse commented on #3533
@Floessie Thanks for testing.

I guess we have to wait for a dcraw update to solve the issue that the m-raw files are 'distorted'.
It seems to be a special case with [m-raw files from EOS 80D](https://github.com/klauspost/rawspeed/pull/161/files)

[2016-12-14 15:05] Desmis commented on #3158
No problem for me :)

[2016-12-14 15:12] heckflosse commented on #3534
Addition: It crashes only when the current directory is 'none'

[2016-12-14 16:59] kulga opened #3541 "Lingering artifacts in equalizer graphs"
I was unable to quickly locate a identical issue.

About:
[code]

System Info (also included graphics since this may be related for this bug)
[code]
Download location: github latest development build
CLI info:
[code]
Steps to reproduce:

* Go to any "Equalizer" graph and move the mouse around, artifacts will linger until RT is completely closed

![](https://i.imgur.com/v6lyDun.gif)

[2016-12-14 17:16] Floessie commented on #3541
@kulga Current GTK3 development happens on [`gtk3-bugfix`](https://github.com/Beep6581/RawTherapee/tree/gtk3-bugfix). Please try that branch and see, if your problem is already gone.

Best
Flössie

[2016-12-14 17:39] kulga commented on #3541
@Floessie Apologies, I was not aware of `gtk3-bugfix`
This issue does not occur in that branch.

Thank you!

[2016-12-14 17:39] #3541 closed

[2016-12-14 18:42] Beep6581 commented on #3541
@kulga thanks for a great bug report, I wish all were like this ;)

[2016-12-14 18:52] Floessie commented on #3541
@kulga Thanks for reporting back, and for the impressive report as well! :smiley:

[2016-12-15 03:11] TooWaBoo commented on #3531
I've add a \n to the menu and than it looks like this: :-)
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21210477/adb7925a-c27b-11e6-8bb8-a0c3794f218b.png)

Maybe the problem affects only menus with submenus.

[2016-12-15 07:00] Beep6581 commented on #3540
Will push a new version when the update mentioned in the forum is ready.
Hard-coding a font in the theme is not a good idea, the point was to let RT inherit the system-wide GTK+ theme (though no one yet explained how one should set a system-wide GTK+ theme in Windows and macOS).

[2016-12-15 09:20] Beep6581 opened #3542 "Add on/off for White Balance"
Feature request to add support for turning the White Balance tool on/off, for after RT5.0.

- Off would mean that the white balance multipliers are set to 1 1 1.
- WB picker should be disabled when turning WB off.
- Bump PP3 version.
- If PP3 version lower than x, assume WB is on.

Let me know if you have any thoughts or suggestions.

[2016-12-15 10:25] gaaned92 commented on #3540
Excuse me but I don't really understand your position and I have some remarks:
1- font definition in a css theme is not really hardcoded. You can change it after installation.
2- What is the benefit of a system wide theme for application dev teams that generally want a specific presentation adapted to their app and  use cases?
3- I don't see the utility to have the same font for all gtk3 apps .  W

[2016-12-15 12:01] heckflosse commented on #3542
WB picker should enable WB when WB is picked and WB is off.
That would be consistent with the behaviour of the crop tool

[2016-12-15 12:20] Desmis commented on #3421
I am working  on local CBDL :)

[2016-12-15 12:46] TooWaBoo commented on #3540
@Beep6581

I made a comparison between Arial and the default font (see screenshot). Both have font size 12px and the toolbox is set to its min. width. The screenhot explains erverything, there is nothing more to say.
On my computer isn't any application installed, which uses uses a font like this.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21223974/472def62-c2ca-11e6-99d9-c0

[2016-12-15 13:52] Beep6581 commented on #3540
Let me start off my saying that I am absolutely not against having a font selector as we did before.
The font selector was removed because the GTK2 one doesn't work for GTK3.

1- font definition in a css theme is not really hardcoded. You can change it after installation.
I see not being able to change the font in a user-friendly way as the next best thing to hard-coding.

It's not up to some deve

[2016-12-15 14:12] Hombre57 commented on #3540
I've found a link on where to put the gtk `.settings` file (or `.gtksettings` I don't remember), but it didn't worked here. One simple and elegant solution would be to let the user override the provided theme by creating a `user.css` file next to the options file (i.e. not in the app installation dir but in user's settings dir). We can provide a `sample_user.css` file as a template with a proposed

[2016-12-15 14:15] Hombre57 commented on #3540
@Beep6581 @TooWaBoo

The problem is that the font selector send you back a string that is directly usable with Pango and the Gtk2 `.gtkrc` file, but not for the CSS syntax. The font selector should provide a method to get the CSS formatted font description, but it's not there actually.

[2016-12-15 14:21] Hombre57 commented on #3540
Second side note : the `Zurücksetzen` button in the Exposure tool could be transformed to an icon, which would save some horizontal space and let us narrow the Tool Panel further. Or should we use the standard reset icon ?

[2016-12-15 14:24] Hombre57 commented on #3540
Third side note : the curve's buttons does actually expand, making the optional accompanying widget shrink. Should we change the expand/shrink policy and on which basis (automatic or programmed) ?

[2016-12-15 14:25] Beep6581 commented on #3540
@Hombre57 I assume you refereed to `Gtk::FontSelection`. Is what you wrote true for the new `Gtk::FontChooser` too?

[2016-12-15 14:27] Hombre57 commented on #3532
When discussing about GUI problem, please provide your gtkmm lib version as reported in AboutThisBuild.txt.

[2016-12-15 14:30] Hombre57 commented on #3535
`SameThumbSize=1` is an optimization feature as well, since RT won't have to reprocess the thumbnails when switching back and forth between the Editor panel and the File panel.

[2016-12-15 14:33] Hombre57 commented on #3540
I have to check that.

[2016-12-15 14:34] Hombre57 commented on #3540
Sorry, already reported in issue #3531.

[2016-12-15 14:37] Beep6581 commented on #3531
The collapsed curve type combo shows only an icon, no label, so it does not need to expand, while the combo to the right with the label does.

[2016-12-15 14:41] Beep6581 commented on #3535
I mentioned that, but do you have any numbers? I don't feel any difference in speed and I'm not on a fast machine.

[2016-12-15 14:55] TooWaBoo commented on #3540
@Beep6581

I've tried "%" and "em" and got different font sizes everywhere.
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21228082/c3477dfe-c2dc-11e6-992b-160801e1ab29.png)

Please, can you post a screenshot how my theme looks like on Linus?
_____________________________________________________________________________________
@Hombre57

I'll upload an update today and than you c

[2016-12-15 15:02] Beep6581 commented on #3540
That sentence was about websites, GTK3 only conforms with CSS to some degree.

Sure, I'll post a screenshot when done compiling `gtk3-bugfix` on one core...

[2016-12-15 15:03] heckflosse commented on #3532
In master branch: Gtkmm: V2.24.4
Hmm, tested again. Now size is constant, but the window moves a bit bottom right with each save until some point where it opens again top left and so on

[2016-12-15 15:05] Beep6581 opened #3543 "variable tracking size limit exceeded"
While compiling a `RelWithDebInfo` build of 1901f3a44031be79a026cba0fe6cf31ec67f8bc2 using GCC-4.9.3 I got this warning:
[code]

[code]

[code]

Explanation here:
https://github.com/v8mips/v8mips/issues/213#issuecomment-158964300

I haven't seen it before (I haven't compiled RT on this laptop before), so I'm just raising awareness in case its new to you too.

Should we have some policy on what the

[2016-12-15 15:21] Beep6581 commented on #3540
@Hombre57 as I understand it, the `Gtk::FontChooser` should save the selected font info into `user.css` in `rtdir` for example, and then read that on startup.

[2016-12-15 15:21] Floessie commented on #3543
@Beep6581 That's a massive sequence of assignments. Maybe it would help the compiler, if we turned `lenses` into a `static const std::map<>` with a uniform initialization. Then there's no need to track assignments anymore, as they are impossible.

[2016-12-15 15:27] Hombre57 commented on #3540
No, if we reintroduce the FontChooser then we'll save it in options as usual. Otherwise the user could edit a `user.css` file to set the font family and size, as well as other things if he wants to. If we reintroduce the FontChooser, no need to create the `user.css` as of now.

[2016-12-15 15:31] Floessie commented on #3542
@Beep6581 Maybe a bit off-topic: Is there any plan for having an "Invert" button early in the pipeline, so that one could deal a bit better with negatives?

[2016-12-15 15:34] TooWaBoo commented on #3540
@Hombre57

Changed version 2.1 to 2.11 in the first post. Add a dark theme too.
Ready to add it to RT

[2016-12-15 15:37] Beep6581 commented on #3542
@Floessie there was some talk and WIP, nothing came of it.
I documented the options here:
http://rawpedia.rawtherapee.com/Negative

[2016-12-15 15:49] Beep6581 commented on #3540
@TooWaBoo
- RawTherapee https://i.imgur.com/7SFdpL1.jpg https://i.imgur.com/hYforAi.png
- TooWaBlue v2.11 https://i.imgur.com/RKvm7fj.jpg https://i.imgur.com/Nf369CE.png
- TooWaBlue Dark v2.11 https://i.imgur.com/PFpcDOQ.jpg https://i.imgur.com/tKKV1Bs.png

Now I set DPI on my system to 120:
- RawTherapee https://i.imgur.com/8ziG0PR.jpg
- TooWaBlue v2.11 https://i.imgur.com/dhKI8Mz.jpg
- TooWaBlue

[2016-12-15 15:55] Beep6581 commented on #3540
@TooWaBoo both v2.11 themes are missing `px` on line 659.

[2016-12-15 16:03] TooWaBoo commented on #3540
fixed and uploaded

Did you quit RT when you switched the themes? On the TooWaBoo themes screenshots, the window decoration is missing. If you switch on the fly, not all styles will be applied.

[2016-12-15 16:07] Partha1b commented on #3522
OK, this one works now.  https://filebin.net/6t14uwk4uxtv1l5i

Should we also have a case for success <= 32?

@heckflossie, I don't know why the indentation is messed up. My np++ is set
to insert 4 spaces for tables.

Thanks,
Partha

On Wed, Dec 14, 2016 at 2:17 AM, Floessie <notifications@github.com> wrote:

[2016-12-15 16:08] Beep6581 commented on #3540
@TooWaBoo yes I restarted RT before taking each screenshot.

[2016-12-15 16:35] TooWaBoo commented on #3540
@Beep6581
The DPI problem isn't really a problem for me. It only won't change the font size and when a fontchooser is implemented, I can remove the style from the .css.

A bigger problem is this:
It seems like KDE Plasma doesn't use a window decoration and is ignoring the styles in the TooWaBlue theme. That's why you can not reproduce this bug https://github.com/Beep6581/RawTherapee/issues/3532
Bu

[2016-12-15 16:47] TooWaBoo commented on #3540
@Beep6581
Where is the titlebar on your screenshots? It's part of the window decoration? Didn't you grab the whole window?

[2016-12-15 16:50] Beep6581 commented on #3540
@TooWaBoo

What do you mean by important?

Here is a screenshot including the window decorations https://i.imgur.com/I09SJML.jpg

[2016-12-15 17:21] TooWaBoo commented on #3540
I'm using the decoration to get a e.g. 5px border around the content and for a resize area, but it looks like on Linux, you are using a native window. On Window there is no resize area, no restore funktion. Most of the window control is missing. This has nothing to do with the themes, but when I add the resize area it will affect the theme, but only on non Linux OS.

Now I understand, why nobody a

[2016-12-15 17:56] Beep6581 commented on #3446
I am curious what the reason for that is.

[2016-12-15 18:17] TooWaBoo commented on #3540
On windows, the RawTherapee theme has no resize area. Either we use native windows on all OS or none.

[2016-12-15 18:33] TooWaBoo commented on #3446
The window decoration is outside of the window. If you don't switch it off it looks like this in maximize mode.
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21236813/c58c0c86-c2fc-11e6-89e2-80849457b416.PNG)

The border around the window is the window decoration. If you remove it, than you don't have a resize area.
The maximize button works, but there is no restore button. With

[2016-12-15 18:47] Floessie commented on #3543
@Beep6581 Except for the wavelet problem, I've converted the first two places to single initializations. Could you try it with your compiler?

[2016-12-15 19:03] heckflosse commented on #3543
@Floessie I didn't try it, but it looks like a preferable solution :+1:

[2016-12-15 19:28] Beep6581 commented on #3540
What does that mean?

[2016-12-15 19:29] Beep6581 commented on #3446
By "resize area" do you mean a window border handle which you can grab to resize a not-maximized window?

[2016-12-15 19:33] TooWaBoo commented on #3540
I can't resize the window with the mouse. Switching of the decoration removes the whole resizing area.

[2016-12-15 20:26] TooWaBoo commented on #3540
Let me explain in details:
This is what the RT theme is doing. I've shortend it to the relevant styles:
[code]
It removes the box shadow and margin = 0px; removes the resize area which is **outside** of the window. This is necessary for maximized and fullscreen state. This has no effect on Linux, 'cause of the native window.
The problem -> no resizing area

Im doing this in the TooWaBlue theme:
[c

[2016-12-15 20:55] Beep6581 commented on #3540
Thank you for the clear explanation. I'm busy investigating whether the way it currently is in RT is the expected GTK3 way, or whether we do something wrong. Regardless, the RT window must be resizable using all bundled themes.

[2016-12-15 21:12] TooWaBoo commented on #3446
Yes, but this doesn't mean the border is visible, that's why I'm calling it area. :-)

[2016-12-15 21:27] barretina commented on #3355
Hello,

On Nikon D7200:
- histogram appears very "compressed" at the center, leaving wide flat areas at both sides. When adjusted automatically this changes to a histogram covering (nearly) all the width.
- White balance adjustment is awful, either if the "Camera" option is selected, or the "Auto", or the "Pick
white area" option.

I used to have a Nikon D80 camera which worked very well with RawT

[2016-12-15 21:37] TooWaBoo commented on #3355
@barretina

My guess, wrong camara input profile selectet or wrong settings.

[2016-12-15 21:41] barretina commented on #3355
TooWaBoo you're probably right. Similar thing happens with UFRaw and it displays a warning: "White balance configuration not available for your camera model"...

[2016-12-15 21:44] heckflosse commented on #3355
@barretina I guess rt 4.2.0 simply is too old to support Nikon D7200 correctly...

[2016-12-15 23:46] Hombre57 commented on #3535
I don't have numbers, but it obviously depend on the number of image in your directory. With 200 file, you should notice the difference I guess.

[2016-12-15 23:55] Hombre57 commented on #3535
Btw, performance and cache size on disk for thumbnails depend on `MaxPreviewHeight` as well. The smaller the faster, but of course the user will have to change this value in Preference if he want to get bigger thumbnail size. Mine is set to 200px.

[2016-12-15 23:59] heckflosse commented on #3535
Mine is set to 120px which is already larger than my thumbnail ;)

[2016-12-16 00:43] Hombre57 commented on #3446
Gtk uses Client Side Decoration (CSD) i.e. rendering entirely done by Gtk, while Gtk2 was using Server Side Decoration (SSD), i.e. rendering done by the OS' window manager.

At first I thought that it was a regression, but after reading what it enables, it's a nice move IMHO. I still have to get the final point on this, but at the moment it seem that Gtk can now handle both possibilities. Whereas

[2016-12-16 05:02] t-o-d-d opened #3544 "There is no disk in drive error messages with Windows gtk3 builds"
Currently: Windows RawTherapee-64-release-gtk3-bugfix-4.2.1425
[AboutThisBuild-RawTherapee-64-release-gtk3-bugfix-4.2.1425.txt](https://github.com/Beep6581/RawTherapee/files/656374/AboutThisBuild-RawTherapee-64-release-gtk3-bugfix-4.2.1425.txt)

I've attached a screenshot of my Windows 10 info:
![sshot-86](https://cloud.githubusercontent.com/assets/11284917/21251498/029a094c-c303-11e6-9873-df4b773

[2016-12-16 05:50] TooWaBoo commented on #3540
I've made a test theme that should work on Linux. Can you check if it looks like the screenshots below with the exception of  the titlebar? It has only a 1 pixel resizing border. Thats not enough.
[TooWaBlue_no_decoration-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/656460/TooWaBlue_no_decoration-GTK3-20_.txt)
btw: Why isn't it possible to get a native window on all OS, like in Gtk

[2016-12-16 07:26] Floessie commented on #3543
@Beep6581 @heckflosse Tested the branch with 4.9.2: Those notes are indeed gone for `nikonattribs.cc` and `sonyminoltaattribs.cc`. I'll see, if I can fix them for `wavelet.cc`, too.

[2016-12-16 07:42] Floessie commented on #3522
@Partha1b Not really an issue, my editors sometimes mess it up, too. Sometimes something happens with the whitespace when pasting. I just wanted to mention, that there is something wrong with the indentation.

:+1: for merging Ingo and me into \@heckflossie at first.:laughing:

[2016-12-16 09:19] Beep6581 commented on #3355
@barretina Support for the Nikon D7200 was added on 2015-04-28 in commit 34a419a6caca30d219a90fcfcbe8b85956f6b4b1. RawTherapee 4.2.0 is from 2014-10-24.

[2016-12-16 10:13] Beep6581 commented on #3535
@Hombre57 we already decreased `MaxPreviewHeight` (`maxThumbnailHeight`) from 400 to 250 in May 2015, in commit b192a7f012a036f3c84e8c59450272c872bd57a1.

I set all sizes to 160 as in the PR.
With SameThumbSize=1 it took 66 seconds to generate 200 thumbs in the File Browser (3 runs, cache deleted every time). Clicking on the Editor was instant. Back in the File Browser, clicking "+" twice to enlar

[2016-12-16 10:34] Hombre57 commented on #3535
Given your numbers, I have no objection on enhancing the user experience with this patch.

[2016-12-16 10:38] Beep6581 commented on #3537
Merged.

[2016-12-16 10:38] #3537 closed

[2016-12-16 10:44] Beep6581 commented on #3446
My `/etc/gtk-3.0/settings.ini`:
[code]

Agreed. The window could be resized on Linux (KDE Plasma) before and after the patch - I could see no difference.
https://i.imgur.com/AaxGM5f.png
The window above is 1901f3a, underneath 11dfc71.

[2016-12-16 10:51] Beep6581 commented on #3540
SETM-VT https://i.imgur.com/uC9UdYp.jpg
METM https://i.imgur.com/jG1E2uS.jpg

Exactly, no problem for the theme author, but a problem for people using the theme who have a different DPI, different font preference, etc. ;)

[2016-12-16 12:04] Partha1b commented on #3522
Yeah, Sorry about that. 😋 I hit send before I could correct it and then
went to github to do that.

On Fri, Dec 16, 2016 at 2:42 AM, Floessie <notifications@github.com> wrote:

[2016-12-16 12:25] TooWaBoo commented on #3540
This is bullshit

The only thing what happens, when you set a different DPI, it changes the font size, but everything is defined in px and changing the DPI has no effect to them. I didn't spend so many hours to keep everthing in line, fighting with different image sizes and then any DPI setting can distroy this work.

To compare the result from your screenshot above, I've cut out a small part. Loo

[2016-12-16 14:24] Beep6581 commented on #3540
That's supposed to happen when one changes the font DPI, but it does not in TooWaBlue. On my home laptop where the font is set to 128DPI (correct for that screen size and resolution), text size in TooWaBlue is wrong, while the rest of the system is consistent.

Same font size, changing only font DPI:
50DPI https://i.imgur.com/qSJu1zE.png
96DPI https://i.imgur.com/obpcYYm.png
150DPI https://i.imgur

[2016-12-16 14:25] TooWaBoo commented on #3446
@Hombre57
 For a dialog , there is no need to switch the decoration off. It never becomes maximized.
Add a 1px border with the color of the headerbar looks better and adds another 1pixel.
[code]

[2016-12-16 14:32] Partha1b commented on #3544
This is an old gtk bug whereby when you build on disk that is not available on the user's system but the disk drive is available (in this case the N-drive), it will do this.

Typically, the C-drive is available on everyone's system and so you don't see this. Best to build on an drive not likely to be available on the user's system (like I do on my Z-drive) or on the C-drive.

It's harmless but ann

[2016-12-16 14:40] Beep6581 opened #3545 "Scrollbars stuck"
-- Update/summary 2017-01-05
This is not a RawTherapee problem but a bug in GTK+ 3.20-3.22. https://bugzilla.gnome.org/show_bug.cgi?id=765410

---

11dfc71775054ff92399dfb5705367c4016b2a3d
gtk+ 3.22.3
gtkmm 3.20.1

Regardless of theme, the scrollbars for the File Browser and Filmstrip are stuck. I can click and drag them and the thumbs move, but the scrollbar does not refresh.
https://i.imgur.com/

[2016-12-16 14:42] Beep6581 commented on #3544
Ping @gaaned92 @sguyader

[2016-12-16 15:07] Beep6581 commented on #3545
I tried going back 10 commits (`git checkout HEAD~10`) in `gtk3-bugfix`, still broken.

Worth pointing out that in head I got this in the console:
`(rawtherapee:1520): Gtk-CRITICAL **: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar`
I did not get that in the console from the `HEAD~10` build, so it's likely not the cause of the problem.

[2016-12-16 15:16] Beep6581 commented on #3545
Resizing the panels makes the scrollbar work again in the File Browser, but not in the Editor. There is just refreshes the scrollbar once and then they remain stuck again until you resize the panels again.

[2016-12-16 15:17] Hombre57 commented on #3545
I've worked on this bug that I'm experiencing too for some time now, still haven't found the cause.

If a gtk and gdb expert is walking around, I'd love to know if there's a way to connect `(rawtherapee:1520)` to a line in the code (or is it the process ID ???).

Alternatively, do you know how to get a debug version of the gtk/gtkmm libraries, i.e. including symbols and line numbers ? I may have t

[2016-12-16 15:41] heckflosse commented on #3545
As @Beep6581 wrote, I confirm the bug on Linux:
gtkmm 3.20.1
gtk+ 3.22.3

Resizing the filmstrip height makes the scrollbar in filmstrip usable again until next start of rt

[2016-12-16 15:56] Partha1b commented on #3545
Same issue obviously on the Mac:

Here is the log:
[code]

[2016-12-16 15:58] Hombre57 commented on #3545
This is totally related to issue #3261 and #3525 . I'll try to find a way to trace the code inside Gtk ASAP, but don't expect a solution before 2017. We'll have to get RT5 out with this oddities or ask for a Gtk dev/specialist to chim in, and not only by answering on IRC... Maybe we're not following the API, but how can we debug that ? My test by following this tutorial ( https://developer.gnome.o

[2016-12-16 16:03] heckflosse commented on #3545
btw: On win7/64 using gtk 3.18 the scrollbars work fine with latest gtk3-bugfix

[2016-12-16 16:04] Desmis opened #3546 "Locallab branch - add local CBDL and others improvments"
I just push a change to locallab branch

I add, "Contrast By Details Levels" to Locallab.
I also modified some default values

You must delete *.mip files

Jacques
:)

[2016-12-16 16:10] Hombre57 commented on #3545
@heckflosse  Could you test issue #3525 as well please ?

[2016-12-16 16:36] Floessie commented on #3545
@Hombre57 I provided a BT in #3507 for it -- unfortunately without GTK debug symbols.

[2016-12-16 16:55] heckflosse commented on #3545
#3525 works fine on win7

[2016-12-16 17:17] Floessie commented on #3543
@Beep6581 @heckflosse So, I've revised `rtgui/wavelet.*`, which was a lot of work. Hope it solves your problem and doesn't break anything. Feedback appreciated.

[2016-12-16 17:43] gaaned92 commented on #3544
@Partha1b : sorry but I don't really understand your first sentence. Could you elaborate.

I build on D-drive. And as I don't want to build in the C-drive, my only solution would be to create a partition somewhere and give it the letter Z: in order to safely build RT!

[2016-12-16 18:48] t-o-d-d commented on #3544
@gaaned92 @Partha1b I certainly have a D: drive and the drives that get the No Disk message are only certain drives, the USB drives in my screenshot here...
![sshot-88](https://cloud.githubusercontent.com/assets/11284917/21274446/181367da-c37d-11e6-82c6-f6c4cf165e13.jpg)

***Also, I shutdown my PC at night and I just ran 'RawTherapee-64-release-gtk3-bugfix-4.2.1425' to verify which exact drives ge

[2016-12-16 18:57] t-o-d-d commented on #3544
@Partha1b @gaaned92 Ok found it... I remembered that I had my SD Card in the drive last night (L: above)

I inserted the card and then the No Disk errors started.. It cycled through the N: M: and K: drives with the error a bunch of times, but not the L: drive.... Then I closed out RT and took the SD card out and then the No Disk errors started going through all four USB drives (N: M: L: K:).

One

[2016-12-16 20:06] Beep6581 commented on #3545
I will look into installing a VirtualBox system with debug libraries for GTK+, hopefully that helps.

[2016-12-16 21:48] Partha1b commented on #3544
@gaaned92 What I mean is the following: I have found that if you are using (say) Drive D to build RT and the user does not have a disk in drive D, it will give that error. I didn't think this error existed anymore and you can find references to it from 2006-2007.

I do my builds on drive Z which is unlikely to be on a user's system though of course it's possible. I think there are some registry cu

[2016-12-16 21:59] t-o-d-d commented on #3544
And to be clear, in my case I have to click cancel about 20 or more times, so it definitely is annoying. And there are times when the error messages come up when clicking on various tools in RT while editing, so there can be additional rounds of 20+ cancel clicks at random times...

[2016-12-16 22:12] Partha1b commented on #3544
@t-o-d-d Are you sure you haven't processed images from those drives with RT?

[2016-12-16 22:13] t-o-d-d commented on #3544
@Partha1b 100% positive that I haven't.

[2016-12-16 22:50] Hombre57 commented on #3540
Theme added to gtk3-bugfix branch, thank you @TooWaBoo !

For the font problem, neither version respect the standard unfortunately : when changing system DPI, **everything** have to scale, not just font, so RT's theme doesn't conform to the standard and produce an awkward looking interface. TooWaBlue's theme doesn't scale anything, which doesn't conform to the standard neither, but it stay coheren

[2016-12-16 22:55] Hombre57 commented on #3545
@Beep6581

If you succeed, I'd be glad to hear from you on how to do that.

@Floessie yes, and you were right, the first stacks wasn't useful... I'd like to know if our problem lies in our code or in Gtk's code. I'd be surprising that Gtk is the culprit, it would be solved by now.

[2016-12-16 22:55] heckflosse commented on #3540
I also have no objections to add a theme which does not scale anything. I like the TooWaBlue theme, but no one is forced to use it as long as it's not the only theme.

[2016-12-16 23:12] Partha1b commented on #3545
@Hombre57 Googling on the exact warning
[code]
gives a lot of solution based the css file or cxx file?

[2016-12-16 23:54] Hombre57 commented on #3446
@TooWaBoo The headerbar bg color is `#262626` so we'll see no difference here, excepted that there will be one more pixel around the window.

[2016-12-17 00:42] Hombre57 commented on #3545
@Partha1b Googling that and other reported errors gives a lot of comment saying that Gtk3.21 and above is breaks things regularly.

[2016-12-17 01:09] Partha1b commented on #3545
@Hombre57 Yes, and we are already at gtk+ 4.0 and breaking things. :)

[2016-12-17 01:35] heckflosse commented on #3545
I suggest to wait with gtk+ 4 support for rt7 ;-)

[2016-12-17 03:09] Partha1b commented on #3545
@Hombre57 @heckflosse Yes, lets! :)

As an aside, I decided to put the RT config folder in the standard place on OSX, ie $HOME/Library/Application Support/RawTherapee. Initially I am doing this by simply setting RT_SETTINGS in the startup script within the App.

Anyway, probably a symptom of the same issue here; I cannot drill down into subfolders anymore. If I have Folder/subfolder1/subfolder2, I

[2016-12-17 08:16] Floessie commented on #3540
@Hombre57 That's a Solomonic judgement! :+1: I'd also prefer an aesthetically pleasing theme over a readable one. :smile:

[2016-12-17 08:20] Floessie commented on #3545
@Hombre57

Absolutely!

@innir I was looking for GTK3 debug symbols in my Debian 9 but could not find a `-dbg` package. Do you have a tip for me?

[2016-12-17 10:46] gaaned92 commented on #3544
@Partha1b Thank you. I will set up a Z: partition to overcome the problem.
What is mysterious is how and where in the build, the build drive is encoded? perhaps in the innosetup install files and written in the registry RT uninstall key?

[2016-12-17 11:11] Hombre57 commented on #3545
@Floessie @Partha1b Yet it would be very helpful if you or someone could point me on a page describing the size allocation process (including the relation with `set_size_request`), it seem to be spread over the API functions or incomplete into that page https://developer.gnome.org/gtkmm-tutorial/stable/sec-custom-widgets.html.en

[2016-12-17 11:33] innir commented on #3545
@Floessie Debian switched to automatically generated debug symbols which are located in a separate archive. You have to add a line like

`deb http://debug.mirrors.debian.org/debian-debug/ testing-debug main contrib`

to your `/etc/apt/sources.list`. After reloading the package cache you should see the -dbgsym packages.

[2016-12-17 12:22] Floessie commented on #3545
@innir Thanks! I've somehow missed that change...

@Hombre57 Here is the BT with debug info:
[code]

HTH
Flössie

[2016-12-17 14:49] TooWaBoo commented on #3446
@Hombre57
I've found this on the i-net. Maybe it helps.

http://stackoverflow.com/questions/37035936/how-to-get-native-windows-decorations-on-gtk3-on-windows-7-and-msys2

[2016-12-17 14:58] Hombre57 commented on #3446
Thanks @TooWaBoo , I came across this too, but it look like this is a theme that mimics the native theme but doesn't use the host window manager theme. They even say the it create Win7 windows on Win10 OS. Anyway, I'm fine with actual RT's theme now that you gave me the solution on how to make the window resizable. Our theme is based on Adwaita so it's better to keep `gtk-theme-name = Adwaita`

[2016-12-17 18:03] TooWaBoo commented on #3446
@Hombre57
I've found a better and nicer way for the window issue. I've only add a solid 5px border around the window. This should be cut off in Linux and would be a nice **workaround** (see screenshots below). Can you provide some screenshots in Linux if everything looks like I'm expecting, please?
[TooWaBlue-no-dd-win-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/658966/TooWaBlue-no

[2016-12-17 18:41] Hombre57 commented on #3446
@TooWaBoo Sorry, I don't understand what you mean by _assign these states to the window as a class_ If you mean assigning and removing a class when switching state, then yes it's easy.

[2016-12-17 18:47] Hombre57 commented on #3540
I understand how use the FonButton now, and will be able to reintroduce the font button.

@TooWaBoo You're using `Arial` font in your theme, but are you sure that it exist on Linux and MacOS too ?

If a user want to change it's display DPI settings, there might be an obvious reason of readability and sight capability, so what should be the preferred way of changing font size :
- through a `user.cs

[2016-12-17 18:47] TooWaBoo commented on #3446
Yes, that's what I mean. Sorry about my bad English.
To get a perfect window control, these states would be necessary:
maximized, fullscreen, active and maybe minimized (but what can you see, when the window is minimized?, hmmm)

[2016-12-17 19:00] TooWaBoo commented on #3540
Arial is a standard font only on windows, If the font is not aviable, the default font is used. But if you add a font chooser, I will remove the the font and style from the theme and the user can set whatever he wants.
I've add it **only** to the theme, because the default font looks terrbile, the size is to big and the lack of a fontchooser.

[2016-12-17 20:17] Hombre57 commented on #3446
What I don't understand from the documentation is that e.g. `window.maximized` already exist but doesn't seem to be attached automatically, they don't say that we have to assign it ourselves neither... Anyway I'm adding that feature now.

[2016-12-17 20:20] TooWaBoo commented on #3446
That's what I thought too and it didn't work.

[2016-12-17 21:18] barretina commented on #3355
Thanks all and sorry for the delay. Just updated the rawtherapee version.
It's much better (even if not perfect yet, maybe the profile needs further fine tuning).
Thank you anyway!
Cheers

![sky should be bright blue](https://cloud.githubusercontent.com/assets/24595499/21289819/b51feed4-c4a6-11e6-87b3-9f526b56773b.png)

[2016-12-17 21:29] heckflosse commented on #3355
@barretina That's a screen shot from rt 4.2.0, not from current rt...

[2016-12-18 08:48] Desmis commented on #3546
I push another change, concerning Blur and Noise.
I have add "scope" in order to better delimited action, I add also "luminance only".

I realized some optimizations to reduce processing time and memory.

You must delete *.mip files

I have not planned any further changes (except bug).
I realized a help in Rawpedia (in [French)](http://50.87.144.65/~rt/w/index.php?title=Local_Lab_controls/fr)

:)

[2016-12-18 15:53] barretina commented on #3355
@heckflosse You are right... I updated to the latest stable version according to
http://rawtherapee.com/downloads:
"To install RawTherapee follow these simple steps:

    Open the terminal
    Paste this code into it:

    sudo add-apt-repository ppa:dhor/myway
    sudo apt-get update
    sudo apt-get install rawtherapee"
I'm using Ubuntu linux.
I did it again and it said "rawtherapee is already t

[2016-12-18 17:17] #3535 closed

[2016-12-18 18:50] Beep6581 opened #3547 "Scalable graphics - HiDPI"
The aim of this issue is to get RawTherapee to look well when scaled up, something which is becoming increasingly common. The change should not cause a performance penalty.

Reading SVG icons is slow, but once they are read they will be drawn just as fast as PNG icons. As startup time does matter to us, we will use PNG icons. The icons will be stored as SVG in the repository, but will be converted

[2016-12-18 18:55] Hombre57 commented on #3547
How long do you expect to support Gtk2 ?

[2016-12-18 18:58] Hombre57 commented on #3547
I definitely vote for create a single iconset file (one for Dark, one for Light... do we still want to support the Light theme btw ?)

[2016-12-18 19:01] Beep6581 commented on #3547
I discussed this with Ingo the other day. RT5 should have a GTK2 version, but after that I'll only invest time in merging as long as the time required is short - there are better things in life than supporting GTK2.

Basically we will decide at some point in the near future to commit all changes to the `gtk3` branch first (we can rename `master` to `gtk2` for clarity, we could also rename `gtk3` t

[2016-12-18 19:05] Beep6581 commented on #3547
Considering all RT themes are dark and for good reason, I don't see a need to complicate things by shipping a light theme.

[2016-12-18 19:18] Beep6581 opened #3548 "Add space between toolpanel and vertical scrollbar"
For #3300 RT5

There is no gap between the toolpanel and the vertical scrollbar which appears when needed. That means when I try to click on the reset icon the vertical scrollbar suddenly appears over it and I can't. We need to add a gap in the default theme.

[2016-12-18 19:49] Beep6581 commented on #3548
One solution is to add a gap between the MyExpander and the right edge https://i.imgur.com/aMwlMa3.jpg
[code]

Another solution is to add a gap inside the tool frame https://i.imgur.com/HDTkFHN.jpg
[code]

[2016-12-18 19:51] Floessie commented on #3529
@Beep6581

Alec Baldwin in Woody Allen's "To Rome with Love":

[2016-12-18 19:53] Beep6581 commented on #3529
Precisely ;]

[2016-12-18 21:14] Hombre57 commented on #3548
This should be added when the vertical scrollbar is shown only, so we have to set that in another class.

[2016-12-18 22:46] Beep6581 commented on #3543
@Floessie sorry I missed this, I will try the patch tomorrow!

[2016-12-19 00:32] Hombre57 commented on #3540
@TooWaBoo
Patch committed, I've added the FonButton in Preferences and removed the font setting in your CSS files

[2016-12-19 00:35] TooWaBoo commented on #3540
@Hombre57

Perfect, thanks

[2016-12-19 13:27] Beep6581 commented on #3543
No warnings during compilation, wavelets seem to work fine, and it seems to display metadata from Sony and Nikon cameras fine. +1 for merge.

[2016-12-19 13:37] virosh commented on #3229
Hi all!
Is this going to be implemented soon or it will be leaved for next year?

[2016-12-19 13:40] madsector commented on #3229
Since even RT5 isn't out yet I wouldn't expect compressed RAW support anytime soon, was planned to be fixed in RT5.1 or so.

[2016-12-19 13:52] heckflosse commented on #3229
Somewhere (maybe in forum) I wrote that I will solve this issue after RT5 is out....

[2016-12-19 16:11] Beep6581 commented on #3339
@helmi03 do you have a forum account? http://discuss.pixls.us/
If so, what is your username?

[2016-12-19 19:04] Floessie commented on #3543
@Beep6581 Thanks for testing! Merged.

[2016-12-19 19:04] #3543 closed

[2016-12-19 22:53] Hombre57 commented on #2735
Made some test again with a different colorimeter driver (Argyl CMS instead of DataColor one), set all settings to identical values (97% quality for jpeg) and then get identical result. I don't know what was involved in my initial experience, but I'm closing the issue, non relevant.

[2016-12-19 22:53] #2735 closed

[2016-12-19 23:47] iliasg commented on #2735
@Hombre57 @Beep6581

Whith recent RT there is a significant improvement regarding posterization for 8-bit exports .. I bet it comes from better rounding in place of an ungly truncation before .. https://github.com/Beep6581/RawTherapee/pull/3432/files

[2016-12-19 23:55] Hombre57 commented on #2735
So there really was an issue ? Glad that it is solved, thanks !

[2016-12-20 00:49] iliasg commented on #2735
@Hombre57 @Beep6581

There is still a difference between tiff-8bit vs jpeg-8bit exports .. tiffs are less posterized ;)

If a developer could take a look in Libjpeg or call libjpeg guys .. to investigate if low precision maths are involved there .. maybe jpeg posterization can become even less with some easy tweeks ..

From RT's part we can use non standard gamma curves which give more codes at th

[2016-12-20 01:00] Hombre57 commented on #3531
Glitch fixed, can you confirm and close ?

[2016-12-20 01:06] Hombre57 commented on #3531
I'm not using master anymore, but I should have fixed those bugs in master... Is there an easy way to port back ? Do we care ?

[2016-12-20 12:12] Beep6581 commented on #3531
Great @Hombre57 I will test when I'm at my laptop later. You could cherry-pick it into master. A master's life is nearing an end, I only care in the sense that having similar code in both branches simplifies merging.

[2016-12-20 15:58] Beep6581 opened #3549 "JPEG IJG update"
Branch [jpegfix](https://github.com/Beep6581/RawTherapee/tree/jpegfix) moves `rtengine/jpeg_memsrc.cc` into `rtengine/jpeg_ijg/jpeg_memsrc.cc` and includes the missing `README` file. The readme has interesting things to say:

public reports which is not true because they don't respond to actual
requirements for the maintenance of the original JPEG specification.
Furthermore, the ISO committee pret

[2016-12-20 19:20] TooWaBoo commented on #3446
@Hombre57
I think I've found the cause of the window problem. In Windows, when you move a window to a screen border it becomes maximized. I did that with a dialog window. The dialog became maximized, the decoration was automatically removed without doing anything special and the class .maximized was assigned to the dialog.

There must be a misconfiguration for the main window.

[2016-12-20 19:59] Vittel commented on #2543
Is anyone working on RawTherapy at all? (Also lensfun would be fun!)

[2016-12-20 20:01] heckflosse commented on #3446
I can not confirm that on my Win7/64

[2016-12-20 20:08] Hombre57 commented on #3446
I confirm that with my Win7/64 ; try with the Preferences window.

[2016-12-20 20:09] TooWaBoo commented on #3446
@heckflosse

You have to move the window, until the mouse pointer touches the screen border.

[2016-12-20 20:23] Beep6581 commented on #2543
@Vittel https://github.com/Beep6581/RawTherapee/pulse

[2016-12-20 20:28] Vittel opened #3550 "RawPedia (HostGator) is down"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

I WOULD LOVE TO DO SO, BUT: http://rawpedia.rawtherapee.com/ -> 404 -> *sad*

=)

[2016-12-20 20:34] Vittel commented on #2543
Hey, yea, i realized that now :) The website appeared to be somwhow out of date, but indeed there is alot of activity.
Would love to see the documentation for some more recent information about how to create lens profiles from ... anything. The adobe lcp-s are making everything worse... (your documentation is down; see latest issue:))

[2016-12-20 20:45] Hombre57 commented on #3446
Thanks for the hint, it then took me 20mn to find the problem. The great thing is that now we can _unmaximize_ the window ! This should solve the issue on all OS that has Client Side Decoration.

[2016-12-20 21:15] heckflosse commented on #3446
I confirm that it works with most windows. I tried with current master branch main and preferences window. There it does not work. I didn't try with rt gtk3-bugfix branch because the statement was:
[code]
which implied that it does so for all windows...

[2016-12-20 21:21] Hombre57 commented on #3446
@heckflosse

...which is the case, that's a Windows7 mechanism.

[2016-12-20 21:46] Beep6581 commented on #3550
Oh boy!

[2016-12-20 22:40] Beep6581 commented on #3550
Status update: the files are intact, I presume the database is intact as well. HostGator blocked connecting via IP. Looking into solutions.

[2016-12-21 01:07] patdavid commented on #3550
Is there something I can do?

[2016-12-21 04:38] TooWaBoo opened #3551 "Update: TooWaBlue v2.22 / Gtk+ 3.20"
Requires RT version 4.2.1445 or higher
Change .txt to .css
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/667936/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/667937/TooWaBlue-Dark-GTK3-20_.txt)

[2016-12-21 11:00] Beep6581 commented on #3550
Status update: HostGator requires that we use a domain to connect to the server. Our Hungarian server expires in July 2017, I intended to make a new website by then and move it to HostGator and point our rawtherapee.com domain to it. Now our arm is twisted and that migration needs to be speeded up.

Options:
1. Keep using HostGator. I have not had issues with them ever until this surprise.
    - P

[2016-12-21 11:49] Beep6581 commented on #3545
@Partha1b could you please open a new issue for that and do a git bisect to see where that changed?

[code]

[2016-12-21 12:21] Desmis commented on #3546
I add local Tone-Mapping, in a new change!

Now there is no need to delete * .mip files

    If the update is made from files generated by the version c65ba61, all settings are maintained.

    If the update is made from files generated before the version c65ba61, settings are not maintained, but no crash.

I will be absent from tomorrow evening, until early January

Happy holidays to everyone :sl

[2016-12-21 12:36] TooWaBoo commented on #3551
Replaced version 2.20 with 2.21
Realized, that hidding titlebar in fullscreen is already done by the window itselfs.

[2016-12-21 12:36] Beep6581 commented on #3546
Happy holidays @Desmis !

[2016-12-21 14:35] Desmis commented on #3546
@Beep6581

Thank you :)

[2016-12-21 16:03] patdavid commented on #3550
@Beep6581

At the moment there are a couple of options if you'd like to pursue them...

The infrastructure for pixls is on two separate servers:
* Stablehost for a shared webhosting plan (unlimited).
This has an option for installing mediawiki, but I have no idea  how much I can tune a cache for performance - probably worth checking out in greater detail.  I'll poke around later if possible.
* Dig

[2016-12-21 16:09] Beep6581 commented on #3551
Both themes look good and no errors.

Line 1607 has:
[code]

As discussed before, you can prevent breaking things for users by using `%` or `em` instead of `px`.

[2016-12-21 16:20] Partha1b opened #3552 "gtk3-bugfix - double-click does not reveal subfolders"
@Hombre57, @Beep6581
I cannot drill down into subfolders anymore. If I have Folder/subfolder1/subfolder2, I can only see Folder and then have to restart the App to see subfolder1 and restart to see subfolder2 etc.

I noticed that in gtk2 version, a down arrow needed to be clicked to reveal subfolders. I clicked just to the left of a folder and it did reveal the subfolders.  So, need a ">" or simil

[2016-12-21 16:22] Partha1b commented on #3545
Done. I think I also found the solution as mentioned in the new issue.

On Wed, Dec 21, 2016 at 6:49 AM, Beep6581 <notifications@github.com> wrote:

[2016-12-21 16:41] English-Wolf commented on #3550
I am not a programmer, I am a casual of rawtherapee.

I have an inordinate amount of space and traffic on my ISP (Dreamhost) that I use since over a decade ago.  I host a few low traffic domains on a shared IP.

If you are interested let me know and let me know the requirement you have.  Cost is $0.00

[2016-12-21 16:47] Beep6581 commented on #3545
You may need to delete the build folder.

So which commit was it that introduced the problem?

[2016-12-21 16:51] Beep6581 commented on #3552
@Partha1b this is what the file browser should look like in `gtk3-bugfix`:
![imgur-2016_12_21-17 49 57](https://cloud.githubusercontent.com/assets/5844619/21397954/f5225128-c7a5-11e6-9bcd-affe452bf8be.png)

If you don't see those arrows, maybe you're missing the icon? What did the bisect reveal?

Please paste your AboutThisBuild.txt

[2016-12-21 16:54] gaaned92 commented on #3552
Windows10 comparison of master branch 4.2.1203 and gtk-bugfix 4.2.1445
I get exactly the same behavior .
 The "left arrow" is apparent on the two builds and permits to unfold the subfolders(it becomes then a down arrow). So you are surely missing the icon.
 in GTK2  Aspect changes when you pass over it (from empty to full).

In GTK2 and GTK3, double clicking on subfolder permits to display the pho