[2016-12-21 17:22] Beep6581 commented on #3552
Related: https://github.com/Beep6581/RawTherapee/issues/2661

[2016-12-21 17:39] Partha1b commented on #3552
@Beep6581 Yes, the icons are missing. I also get this at startup:

[code]
which does not make sense to me.

Here is my AboutThisBuild.txt:
[code]

[2016-12-21 17:45] Partha1b commented on #3552
@gaaned92 On the Mac, I don't get a good file-browser or thumbnail window with the gtk3 build as I do using the gtk2 build.

[2016-12-21 18:54] gaaned92 commented on #3552
@Partha1b  I think you did not copy the /share subdir. The share.zip is uploaded  in [my W64 RT drive](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)
Copy the /share subfolder in the installed build. hope this solve the issue.
I am now generally pleased with the gtk3 GUI which is very close to gtk2 GUI. An inconvenience remains as you cannot reduce width of left and right panel in

[2016-12-21 19:45] TooWaBoo commented on #3551
Checked the file I've uploaded and local and and did'nt found a font style.

[2016-12-21 19:47] Partha1b commented on #3552
@gaaned92 No, that's not it. Of course I have the share folder.

[2016-12-21 20:49] TooWaBoo commented on #3551
You've checked the old theme file in the Gtk3 bugfix branche. The update is free of any font styles.

[2016-12-21 20:55] Beep6581 commented on #3551
Confirmed, nothing in 2.21.

I'm using GTK+ 3.22.3:
[code]

[2016-12-21 20:57] Beep6581 commented on #3552
@Partha1b a screenshot would be helpful.

[2016-12-21 20:59] TooWaBoo commented on #3551
Looks like **icon-shadow** is not compatible with Gtk. Changing this next time into **-gtk-icon-shadow**.

[2016-12-21 21:20] gaaned92 commented on #3552
@Partha1b :
If I suppress adwaita and hicolor iconsets I get the same messages as above and the arrow left to dir name disappears.
So, I really think you miss adwaita and hicolor. You should also have other anomalies due to missing icones (as -/+ at the right of sliders..) inside GUI.

Structure of /share inside gtk3 builds

[code]
Only a few icon sizes are usefull.

[2016-12-21 22:39] Hombre57 opened #3553 "Unable to extract thumb from Pentax K-5 DNG file"
With RT4.2.1445 on win7/64, I clicked on a folder full of Pentax K-5 dng files, already edited with a previous RT version. While trying to rebuild the cache image data, RT prints an error message for each file : `Could not extract thumb from xxx` where `xxx` is the filename. However it display a thumbnail of the embedded jpeg file but can't switch to the edited version.

Step to reproduce with gtk

[2016-12-21 22:51] #3548 closed

[2016-12-21 23:11] Partha1b commented on #3552
@Beep6581 , Here is the screenshot that I think you are asking for?
![image](https://cloud.githubusercontent.com/assets/16463793/21409461/60dea70c-c7a8-11e6-9c7b-10d6294ee698.png)

@gaaned92
Mac Apps work a little differently from Windows.

Is rawtherapee looking for adwaita and hicolor icon sets from gnome-themes-standard-3.22.2?

[2016-12-21 23:25] Hombre57 commented on #3553
Hmmm, the thumbnail images seem to be ok, so why do I get this error message ?

[2016-12-21 23:26] heckflosse commented on #3553
@Hombre57 Works fine here with your file on Win7/64 master branch

[2016-12-22 00:55] heckflosse commented on #3489
Status report:

We are currently working hard on some new methods to reduce the number of false motion detections while increasing the number of true motion detections. As soon as the the stuff is worth to be pushed to `pixelshift` branch I will do that...

[2016-12-22 03:32] TooWaBoo commented on #3551
All changes are done, Should be load without warnings.
Replaced  files with version 2.22

[2016-12-22 04:56] t-o-d-d commented on #3544
Don't know if you've switched to Z: yet but just tried your 'RawTherapee_WinVista_64_release_gtk3-bugfix_4.2.1445' and the problem remains... Also, I've found that I get the same No Disk behavior if any USB flash drives are plugged in to my computer...

[2016-12-22 07:53] Floessie commented on #3553
@Hombre57 I recently (#3529) put some new code in to check for bad thumbnails to [prevent OOB accesses](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/rtthumbnail.cc#L47). If the check fails, you'll see that warning. Maybe the check is a bit too strict. Feel free to relax it. :smiley:

Best
Flössie

[2016-12-22 08:06] Desmis commented on #3546
2 new changes
1) add Button reset for current control point
2) Fixed crash for "inverse" - Blur and Sharpening
:)

[2016-12-22 08:08] Desmis commented on #3489
Happy holidays to everyone :)

[2016-12-22 08:51] gaaned92 commented on #3544
@t-o-d-d not yet switched to Z: . First I have to build a new partition in existing disk or install a new disk.

[2016-12-22 09:04] Beep6581 commented on #3552
This is 99% a packaging issue, not a RawTherapee issue. The screenshot shows that you are missing non-RT icons:
- `list-add-symbolic.symbolic.png`
- `list-remove-symbolic.symbolic.png`
- `pan-down-symbolic.symbolic.png`
- `pan-end-symbolic.symbolic.png` or `pan-start-symbolic-rtl.symbolic.png`
- Possibly others

My folder structure, to give you a hint:
[code]
But of course you must set somewhere t

[2016-12-22 09:16] Beep6581 commented on #3551
Confirmed, and pushed.

I included some whitespace and line ending fixes for consistency, please download the files from the repo before working further on them:
https://github.com/Beep6581/RawTherapee/blob/gtk3-bugfix/rtdata/themes/TooWaBlue-GTK3-20_.css
https://github.com/Beep6581/RawTherapee/blob/gtk3-bugfix/rtdata/themes/TooWaBlue-Dark-GTK3-20_.css
Click on "raw".

Speaking of line endings, bo

[2016-12-22 09:16] #3551 closed

[2016-12-22 10:50] heckflosse commented on #3553
@Hombre57 I confirm the bug in master. In the post above I was misled by the fact that the tumbnail image is ok

[2016-12-22 10:54] heckflosse commented on #3553
@Floessie
[code]

[2016-12-22 11:03] heckflosse commented on #3544
@gaaned92 @t-o-d-d I always have a USB flash drive plugged into my computer but never had this issue (Win7/64)

@gaaned92
you don't need to build a new partition.
`subst z: C:\rt_folder`

[2016-12-22 11:07] heckflosse commented on #3489
@Desmis Thank you. Happy holidays to you as well.

[2016-12-22 12:10] Partha1b commented on #3544
@heckflosse Correct. The point is if you have a drive plugged in then you won't have the issue. :)

[2016-12-22 12:11] heckflosse commented on #3544
I thought the point is to not waste time by creating a new partition to build rt when this can be done by a subst

[2016-12-22 12:16] Partha1b commented on #3552
@Beep6581 Yes, I know it's a packaging issue. :)

Since Mac apps are userland apps, the schemas and icons etc. are packaged with the app. I am now studying the code to see how "Adwaita" is called within RT.

[2016-12-22 12:19] Partha1b commented on #3544
Sorry. I thought you said you didn't have any issues and was responding to
that.

I was not commenting on the "subst" command

On Thu, Dec 22, 2016 at 7:12 AM, Ingo Weyrich <notifications@github.com>
wrote:

[2016-12-22 12:39] gaaned92 commented on #3544
@heckflosse  thanks, much simpler

[2016-12-22 12:54] heckflosse commented on #3544
@Partha1b I don't have any issues, but @t-o-d-d wrote
[code]

[2016-12-22 13:12] gaaned92 commented on #3552
@Beep6581 yes hicolor seems not to be needed as there is no icon inside it (for my builds) .
 I don't remember to have mentioned the name of file where adwaita is set. Surely @Hombre57 knows that.

[2016-12-22 14:29] Beep6581 commented on #3552
Found it: /etc/gtk-3.0/settings.ini
[code]

[2016-12-22 14:31] ion12 commented on #3339
latest gtk2 master built on 10.11 - if it's still useful:

https://filebin.net/krl24lbhii5576xr

I tried the gtk3-bugfix branch again, and again it compiles fine but then app fails to start with same errors I had in the past.
Am I correct that the partha build for gtk3 is not done using macports?
You asked for gdb backtrace and I don't really know how to do that and rawpedia is down, but I'll be h

[2016-12-22 17:21] Floessie commented on #3553
@heckflosse Right! :+1: I'll commit directly on master.

[2016-12-22 17:29] Floessie commented on #3553
@Hombre57 Please report back and close this issue when you've tested.

@heckflosse Thanks for the fix. Better one byte too few than too much. :wink:

[2016-12-22 18:00] gaaned92 commented on #3552
On my system in C:\Users\Andre\AppData\Local\settings.ini
[code]
But... how and when this file is installed? When I suppress it, it doesn't seem to change anything in RT. gtk3-bugfix

[2016-12-22 18:03] Partha1b commented on #3552
It's not needed in general. If you wish to change your iconset from the
default "Adwaita" (which is the gtk default) you can use the settings.ini
file to specify your theme/iconset/fonts.

On Thu, Dec 22, 2016 at 1:00 PM, gaaned92 <notifications@github.com> wrote:

[2016-12-22 18:10] Partha1b commented on #3552
OK, I think I have figured this out. I have set XDG_DATA_HOME and all is well. Well mostly.
![image](https://cloud.githubusercontent.com/assets/16463793/21435421/d2b39faa-c847-11e6-8dba-cf58e1b1d00a.png)
Couple of issues with what you see on the screen but not a deal breaker. Also, one icon I am missing is called missing-image.

[2016-12-22 18:26] Partha1b commented on #3545
@Hombre57, the issue I was having with gtk_box_gadget_distribute no longer happens. I solved this issue by specifying XDG_DATA_HOME in my startup script on the Mac.

Incidentally, it also solved my missing icons issue.

[2016-12-22 19:19] heckflosse commented on #3553
@Floessie I also tested. Works fine with the patch :+1:

[2016-12-22 21:10] kulga commented on #3550
If the requirements are simply a mediawiki and static site, I'd grab a tiny VPS, run nginx + php-fpm.
Then do zend-opcache for php, use nginx builtin caching for anonymous traffic for the mediawiki site.
VPS is about 256MB and $2.6 month ($8/qtr) with ramnode

I'm also happy to help host as well. Been [using](https://i.imgur.com/ghM1qRk.jpg) rawtherapee for several years. Be nice to contribute bac

[2016-12-22 22:35] Hombre57 commented on #3553
Yep, works fine in master here too, thanks! I guess it will be the same when merged in gtk3-bugfix. Closing.

[2016-12-22 22:35] #3553 closed

[2016-12-23 01:32] michaelezra commented on #3550
1. I vote to drop HostGator!!!!:)

2. rawpedia must be made accessible with correct domain name - not via IP.

3. I've been using **1and1.com** for numerous websites for about 10 years and am satisfied with service and phone support.

1and1.com Linux plans: https://www.1and1.com/web-hosting

I currently have Unlimited Pro account with 2GB RAM, unlimited storage, unlimited bandwidth, unlimited emai

[2016-12-23 02:33] TooWaBoo opened #3554 "Suggestion for IPTC panel"
Solves the min. width issue of the entry field and no need to resize the panel.

![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21445927/3e3dbd3c-c8c0-11e6-8fd9-2f1503216a9a.png)

[2016-12-23 10:01] helmi03 commented on #3339
gtk3-bugfix for osx 10.12 (4.2.1447, clang-mp-3 3.9.0)

https://filebin.net/kdlrguptt56syza0

Minor changes to rtengine/dcraw.cc (since I got error.txt, maybe clang-3.9 osx specific).
Changes to /tools/osx/macosx_bundle.sh for gtk3 build (see build-gtk3.diff)

[2016-12-23 11:08] Vittel commented on #3550
In the meantime: how about generating a classic pdf help file and put it where the others are?
It would be very helpful.

[2016-12-23 11:20] Floessie commented on #3339
@Beep6581 The ambiguity of `std::abs()` is a C++ problem, so I don't think this fix should go upstream. Strictly speaking, the `std::fabs()` solution by @helmi03 isn't equivalent to Dave Coffin's implementation: The problem stems from feeding `std::abs()` with an `unsigned`, IMHO.

@helmi03 Could you try this patch?

[code]

Changing it to `std::fabs()` as @helmi03 did won't hurt (@heckflosse corr

[2016-12-23 11:34] helmi03 commented on #3339
I successfully compile with patch from @Floessie .

Added new file RawTherapee_OSX_10.12_64_4.2-1447_gtk3-bugfix-patch2.zip at

https://filebin.net/kdlrguptt56syza0

[2016-12-23 11:50] Partha1b commented on #3339
@Beep6581 Yes, I will look into the macosx bundle and provide patches. I don't use it at the moment.

[2016-12-23 12:00] Partha1b commented on #3339
@Beep6581 Also, would you please post my build to your system? I might have erroneously send it to you by PM as opposed to post to pixel.us.

Note that my builds will work with all version Mac from 10.9 on to the latest beta.

[2016-12-23 12:52] Beep6581 commented on #3550
Thank you everyone for the generous help! I am discussing details with Gabor. The situation is that HostGator changed their terms of use without our consent, as a result of which we can no longer continue using their service in its current form. If we cancel the account, the priority is to get him a refund, as he paid a lot of money (several hundred dollars) just two weeks ago or so for a 3 year r

[2016-12-23 13:28] Beep6581 commented on #3339
@Partha1b done https://discuss.pixls.us/t/new-nightly-rawtherapee-builds-windows-macos-linux-appimage-other/2924/1
You should be able to edit that with new links.

[2016-12-23 14:50] ion12 commented on #3339
I can confirm that the patch for macosx_bundle in the diff helmi03 put up fixes my issues with the app not starting and I can now build/bundle gtk3 branch correctly as well.

btw is there any further need for gtk2 builds moving forward?

[2016-12-23 15:17] Beep6581 commented on #3339
@ion12 no need for GTK2 builds. For now please use the `gtk3-bugfix` branch until further notice (until Hombre57 merges it into `gtk3`).

[2016-12-23 15:48] gaaned92 commented on #3544
@t-o-d-d  could you try the last gtk3-bugfix 4.2.1447 built in Y: [in same place](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)

[2016-12-23 17:31] TooWaBoo commented on #3446
@Hombre57
In the RT theme, you set this style:
[code]
This can be deleted. RT handels the decoration automatic.

[2016-12-23 20:58] patdavid commented on #3550
@Beep6581 - I've setup MediaWiki 1.28 on pixls and I've run through a few things on the optimization links (opcache, memcached, varnish all up and running).  Hit me up on PM at discuss and we can work out getting your backups and restoring them here.  If things work out we can fire it all back up soon. :)

[2016-12-23 21:44] Beep6581 commented on #3550
@patdavid great!

[2016-12-23 23:56] English-Wolf commented on #3550
Hello,

I hope this works...

The process is simple, I create a profile with whatever name you give
me, set the server side as an 'inpendant'

You get the exclusive access after setting your own password and you are
on your own, FTP sFTP, blog, website, e-mail whatever.

Cost as announced is $0.00.

Jacques

On 12/23/2016 2:58 PM, Pat David wrote:

[2016-12-24 00:29] kulga commented on #3550
You mention some high bandwidth usage. Yep. You appear to have minimal security there. I am able to fairly reliable download at about 3MB/s from your server. I'm also able to get about 1MB/s from discuss.pixls.us. This is with a single file about 30kb in size.  *You should not be allowing me to do this*! Also, iou about 300MB in bandwidth - sorry :8ball:
Three things:
1)

If using nginx, I suggest

[2016-12-24 03:42] t-o-d-d commented on #3544
@gaaned92 Problem remains. Opened gtk3-bugfix 4.2.1447 a couple times without No Disk errors, but as soon as I put an SD card in my card reader and rain it again, the errors came back upon launch. Took SD card out and No Disk errors remained on next launch. I actually counted this time too and I have to cancel the No Disk errors 49 times before RT appears...

[2016-12-24 09:08] gaaned92 commented on #3544
So the subst trick seems not sufficient to solve the issue.
Main differences with Sguyader's builds are:

- I am on W10 and I think Sguyader use W8 or perhaps Winvista
- Sguyader builds use GTK+3.18 and mine use GTK+3.22
- build parameters. I will check that

I rather suspect GTK+3.22 but I am not able to test as I don't get the problem even with usb flash drive

@heckflosse @Floessie could it be

[2016-12-24 12:14] iliasg commented on #3544
Andre, I had this problem with sguyader's builds .... I have no such drive in my machine but I could see it in "My computer" .. as soon as I dissactivated drive A: the problem dissappeared ..
I have not tryied if this happens with my builds (I build in drive C: ) or your latest builds if I reactivate the obsolete drive A: ..

[2016-12-24 15:33] heckflosse commented on #3544
@t-o-d-d Can you please upload your rt options file and post the link here?

[2016-12-24 18:35] t-o-d-d commented on #3544
@heckflosse Here 'tis
[https://filebin.net/w6iopttmoo4j6j92/options](url)

[2016-12-24 23:23] paperdigits commented on #3550
Is mediawiki a requirement? Or could it be a static site that gets auto built and published?

[2016-12-24 23:27] patdavid commented on #3550
@paperdigits - the main site is static, but I think rawpedia is intended to be a wiki.

[2016-12-24 23:33] paperdigits commented on #3550
@kulga is your advice intended for pixls.us or for rawtherapee?

[2016-12-25 17:17] Beep6581 commented on #3544
@t-o-d-d
1. what must you do to stop the errors from appearing - does rebooting with no SD card inserted temporarily fix it until the next time you put the card in?
2. Are drives D: and F: removable or otherwise not always accessible?

[2016-12-25 17:38] Beep6581 commented on #3550
@kulga thank you for the advice.

@paperdigits MediaWiki is a requirement.

[2016-12-25 19:33] Beep6581 commented on #3549
Merged. Will leave this issue open for a while in case someone wants to update the code.

[2016-12-25 21:20] Beep6581 commented on #3269
@CharlesRT2 thank you, but please provide the raw photos themselves, not DCPs made from them. By providing them, you agree to release them into the public domain, so there will be no problems with licencing.

[2016-12-25 21:27] t-o-d-d commented on #3544
@Beep6581 1. Yes, rebooting with no SD card or flash drive media connected stops the errors.
2. Drives D: and F: are both internal hard drives, as are E: and G:.
![sshot-88](https://cloud.githubusercontent.com/assets/11284917/21274446/181367da-c37d-11e6-82c6-f6c4cf165e13.jpg)
Drives K: through N: are an internally connected USB card reader in a drive bay slot on front of the pc tower.

[2016-12-25 22:16] heckflosse commented on #3544
@t-o-d-d Can you try [this](https://discuss.pixls.us/t/pb-with-rt-version-1447/2935/4) please?

[2016-12-25 22:50] CharlesRT2 commented on #3269
@Beep6581 I uploaded the two raw files again. They are now at https://filebin.net/k8qll45qxpwgcz82  , and yes, they are in the public domain.

[2016-12-26 17:59] Partha1b commented on #3544
@t-o-d-d , Without meaning to muddy the waters so to speak, Would you be willing to try a new build from me?

It is portable and will not interfere with your current setup. Can you let me know if you get the above behaviour with this build: http://www.partha.com/temp/RT-4.2-1447-portable.exe? I didn't see the above behavior in this build.

If yes, please download the 7z archive exe above and unzip

[2016-12-26 19:22] t-o-d-d commented on #3544
@heckflosse I was 99% sure that I don't even have the option to enable legacy floppy in my BIOS and this morning confirmed this to be the case.

I did check every bios screen and came across this one below, however my SD card is 32GB and my flash drives are 16GB... Just thought it was curious because these are the (four) drives that come up in the No Disk errors...
![bios](https://cloud.githubuser

[2016-12-26 20:03] Partha1b commented on #3544
@t-o-d-d , OK thanks for trying. Now, please do me another favor?

In your $TEMP location will be a logfile called runrawtherapee-4.2.1447.log. Your $TEMP folder is typically C:\Users\YourUserName\Appdata\Local.

Please provide that to me so that we can identify the issue.

Thanks,
Partha

[2016-12-26 20:11] t-o-d-d commented on #3544
My $TEMP is on my I: ram drive...

[here's the log](https://filebin.net/2fmzrqlaajkdcgie/runrawtherapee-4.2.1447.log)

[2016-12-26 20:36] Partha1b commented on #3544
@t-o-d-d , Thanks! Any reason you relocated your $TEMP folder? I also see that your RT_CACHE folder is also your I: Drive.

Does your RAMDRIVE change location depending on whether you have disks in your SD drives?

Finally, could you also open some image file etc. so I can see what is happening after RT starts?

[2016-12-26 21:20] Partha1b commented on #3544
@t-o-d-d I moved the RT_CACHE to the portable folder as well. Would you test one more time with this new build?

Same link as above.

[2016-12-26 21:30] t-o-d-d commented on #3544
@Partha1b
The reason I have it on the ram drive is to have less writing to the SSD C: OS drive. This was something I read about many years ago when I got my first SSD, and it made sense, but maybe it's a problem?

The ram drive is static at I:.

As with Edmond's gtk3 builds, I can load an image and make edits, but when I try to load or save a profile, or try to save the current image, I get a roun

[2016-12-26 21:46] t-o-d-d commented on #3544
@Partha1b Extracted straight from my downloads folder to D:\Downloads\RT-4.2-1447-portable\RTportable and ran it and got the full round  of no disk errors. Going to reboot right now and test it again...

[2016-12-26 22:14] Partha1b commented on #3544
@t-o-d-d, can you post the log again?

[2016-12-26 22:34] iliasg commented on #3298
- Updates for
Canon 80D .. filled most WL and aperture scaling missing data
Olympus E-M1MarkII .. correct color matrix
Panasonic LX100 .. more detailed WL data
Pentax K70 .. color matrix from DNG_v9.8, frame correction

- New models
Canon EOS M5
Fujifilm X-A3
Nikon D5600
Olympus E-PL8
Panasonic FZ2000/FZ2500/FZH1
Panasonic LX9/LX10/LX15
Sony A99II
Sony a6500
[camconst-dng9.8.zip](https://github.co

[2016-12-26 22:40] t-o-d-d commented on #3544
@Partha1b [Here it is](https://filebin.net/rifs1x339dtmma5b/runrawtherapee-4.2.1447.log)

[2016-12-26 22:47] dnw3039 commented on #3446
I am using the latest gtk3-bugfix Version: 4.2.1443. on Ubuntu 16:10. Rawtherapee theme and font size 10.

When I try to use the tool "reset to default" arrow the right side bar for dragging down the tool panel expands to cover about half the arrow button and makes it hard to accurately hit.  (see the screen pic). I understand the side bar expands to make it more visible. I think it needs to expan

[2016-12-26 22:58] Hombre57 commented on #3446
@dnw3039 This has been solved in a recent commit (i.e. this month) - duplicate of issue #3548.

[2016-12-26 23:23] Partha1b commented on #3544
@t-o-d-d , All I can say is that RT is not causing the issue, but a support library. Of course from your perspective it's an RT issue. For what's it worth, I cannot replicate it. However, I only tested with an external USB drive.

[2016-12-26 23:38] t-o-d-d commented on #3544
@Partha1b Thanks for the efforts! It's interesting there were no other reports of the problem until Edmond's latest 1447 build where he switch the build drive, and since then there are two others with the same/similar problem. So maybe more.better clues will come about in time... [no disk](https://discuss.pixls.us/t/there-is-no-disk-in-the-drive-warnings/2935/3)

[2016-12-26 23:56] Partha1b commented on #3544
@t-o-d-d One last question (bordering on voodoo :) ). Do you have an I: Drive?

Can you rename that drive to something other than I: and then start RTportable? Thanks.

[2016-12-27 00:03] TooWaBoo commented on #3446
Need a bit help. Can someone give me three sceenshots like below from Linux, please? Because menus are windows too and I don't know what is rendered by a native window.
Use this theme, please:
[TooWaBlueTest-2.25-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/673376/TooWaBlueTest-2.25-GTK3-20_.txt)
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21487682/e8256478-cbcf

[2016-12-27 08:21] TooWaBoo commented on #3532
Maybe this helps:
http://www.manpagez.com/html/gtk3/gtk3-3.22.0/ch32s10.php

[2016-12-27 13:34] Hombre57 commented on #3532
Nice catch @TooWaBoo . Patch committed in master. Closing.

[2016-12-27 13:34] #3532 closed

[2016-12-27 15:28] Beep6581 commented on #3532
@Hombre57 could you come to IRC if you're around?

[2016-12-27 16:01] Partha1b commented on #3544
@t-o-d-d  @Beep6581 ,

Here are my disk drives. I inserted an SD card from one of my cameras.
![image](https://cloud.githubusercontent.com/assets/16463793/21503192/8402d44a-cc23-11e6-950e-2f665a337d42.png)

Then I started my RTportable version from my D: drive. No issues. So, I am unable to replicate this error. ☹️

[2016-12-27 16:08] Beep6581 commented on #3544
@Partha1b @t-o-d-d's screenshot had CD and DVD drives, and four of them were grayed-out. Maybe relevant?

[2016-12-27 16:27] Partha1b commented on #3544
@Beep6581 No, not grayed out. Just how it looks. My color combination is very subdued.

Anyway, replaced my SD Drive (F:) with another card and restarted my portable version. Started without errors.

[2016-12-27 19:04] Partha1b commented on #3544
@t-o-d-d , Googling, I see these 2 articles that might be useful to you:
1. https://answers.microsoft.com/en-us/windows/forum/all/there-is-no-disk-in-the-drive-please-insert-a-disk/c8e0c1bd-18f6-4799-a9fb-67bedff9bc9f?page=2

2. http://www.techspot.com/community/topics/usb-drive-or-flash-problems-how-to-cleanup-and-remove-old-usb-storage-drivers.145884/#post-875300

[2016-12-27 20:36] t-o-d-d commented on #3544
@Partha1b @Beep6581 @gaaned92 @heckflosse @iliasg
I didn't try anything from those links but **thanks!** because it got me thinking about the problem from a different angle so tried something that resolved the problem for me... Went into the Windows Device Manager and disabled the other three card reader slots (CF, MS and SM), which is fine for me since I only use the SD card slot.
![sshot-91](htt

[2016-12-27 21:17] Beep6581 commented on #3298
camconst.json from camconst-dng9.8.zip committed with minor changes. @iliasg please [get camconst.json from git](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/camconst.json) before making future changes.

[2016-12-27 22:46] Beep6581 commented on #3446
As of now, please do not use the `gtk3-bugfix` branch anymore. It has been merged into `gtk3` and will soon be deleted.

[code]

Please use `master` for GTK2 builds and `gtk3` for GTK3 builds.

[2016-12-27 22:51] iliasg commented on #3298
OK, thanks

[2016-12-28 05:14] t-o-d-d commented on #3544
@Partha1b @Beep6581 @gaaned92 @heckflosse @iliasg
Just FYI if I have the SD card inserted and run 4.2.1447, no problem. If I close RT, then later take the SD card out then run RT again, I get the No Disk errors, about 40 of them, but of course just for the L: that is now the empty SD card drive. I verified that I can at least disable the SD card drive in the device manager to avoid this as per the

[2016-12-28 14:51] gaaned92 commented on #3544
@t-o-d-d , just back from home from travel. Happy that you finally found the problem. But the solution to manually disable the SD card is not very handy.
I verified on my PC. I have two usb HDD backup drives, one SSD, usb SD card reader. when I connect any of them it appears in the device manager and automatically disapears when I disconnect them. So I never have the nodisk error. Why it is not th

[2016-12-28 18:56] t-o-d-d commented on #3544
@gaaned92

Sounds like your USB SD card reader is not an internal reader and that you're plugging it into a USB port then unplugging it. My USB card reader is always connected directly to the motherboard and sits in one of the drive bays accessible at the front of my tower/case like a CD/DVD-Rom drive...

[2016-12-28 20:22] gaaned92 commented on #3544
@t-o-d-d yes, each time I want to read a SD card I have to plug my SD card reader into a USB port. Thus when I have finished with the SD cards, I unplug the card reader and it disappears from the disk drive list
Now, If I take out the SD card, the empty card reader stays in the list and if I start RT 1447,  I sometimes (not always) get  the no disk error.

[2016-12-28 21:15] dnw3039 opened #3557 "Ubuntu 16:10 internal compiler error compiling rawtherapee gtk branch Version: 4.2.1443"
I am using Ubuntu 16:10. I got a internal compiler error compiling the gtk branch.  Version: 4.2.1443

/usr/lib/gcc/x86_64-linux-gnu/6/include/smmintrin.h:102:3: internal compiler error: Segmentation fault
   return (__m128d) __builtin_ia32_roundpd ((__v2df)__V, __M);
   ^~~~~~

I resolved the problem by upgrading GCC using this advice: **application2000/how-to-install-latest-gcc-on-ubuntu-lts.txt

[2016-12-29 13:11] Beep6581 commented on #3557
@dnw3039 which version of GCC did this happen with, which branch did you try to compile (there is no "gtk" branch) and which commit?

[2016-12-29 13:16] Beep6581 opened #3558 "Coverity scan 2016-12-29"
https://scan.coverity.com/projects/rawtherapee
https://scan.coverity.com/projects/rawtherapee/view_defects

We may need a model file to cut down on false positives: https://scan.coverity.com/tune

[2016-12-29 13:17] Beep6581 commented on #3127
New scan #3558

[2016-12-29 13:17] #3127 closed

[2016-12-29 18:28] heckflosse commented on #3558
Yes, especially all the false positives caused by my SSE code are really annoying....

[2016-12-29 18:30] diethardsteiner opened #3559 "RawTherapee crashed after opening linear DNG from Sigma SD H Quattro camera in editor"
version: 4.2.1234-2.20161105gitb766110.fc25
The particular linear DNG I tried to open in RawTherapee was taken by the Sigma SD H Quattro camera and can be downloaded from [here](https://www.dropbox.com/s/ho8ddpsacavxa93/SDQH1383.DNG?dl=0).
In RawTherapee I can see the thumbnail pic in the browser, but once double clicking on it, RawTherapee crashes. Please fix. The same picture can be opened with

[2016-12-29 18:56] Beep6581 commented on #2803
No crash in head, closing.

[2016-12-29 18:56] #2803 closed

[2016-12-29 19:02] heckflosse commented on #3559
Crash confirmed.

[2016-12-29 19:12] Beep6581 commented on #2797
The sample Canon PowerShot G12 file provided shows no borders. Can we close? If anything remains to be done it would be better to put it into a new, clean issue.

[2016-12-29 19:16] #2797 closed

[2016-12-29 19:36] Benitoite opened #3560 "Problem starting up rawtherapee.exe 4.2.1464 on windows 8.1 pro..."
Rawtherapee gtk3 builds have been refusing to run on my windows 8.1 machine:
i5 3570K 3.4GHz 16GB RAM 64-bit Windows 8.1 Pro.

    Re: Backtrace Report:

I could not find the log.txt file that is supposed to be generated when going thru the bug report wiki page instructions, but here is a copy of the session...

[code]

About this build file:
[code]

_I have not eaten lunch yet, etc._

[2016-12-29 19:42] #2793 closed

[2016-12-29 19:44] #2792 closed

[2016-12-29 19:45] #2785 closed

[2016-12-29 19:48] #2780 closed

[2016-12-29 19:50] #2768 closed

[2016-12-29 20:09] Beep6581 commented on #2814
@iliasg status?

[2016-12-29 20:10] #2831 closed

[2016-12-29 20:13] TooWaBoo opened #3561 "Deutsch locale update"
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/678419/Deutsch.txt)

[2016-12-29 20:14] TooWaBoo opened #3562 "TooWaBlue 2.26 update Gtk+3"
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/677810/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/677812/TooWaBlue-Dark-GTK3-20_.txt)

[2016-12-29 20:40] #3540 closed

[2016-12-29 21:33] Beep6581 commented on #3562
@TooWaBoo I'd like to convert CRLF to LF to conform with the rest of the code, OK with you?

[2016-12-29 21:35] TooWaBoo commented on #3562
Shure, thanks

[2016-12-29 22:37] #3562 closed

[2016-12-29 22:37] Beep6581 commented on #3562
Done, please download those file from git before making new edits.

[2016-12-29 22:51] Beep6581 commented on #3550
http://rawtherapee.com/blog/rawpedia-back-up-and-running

[2016-12-29 22:51] #3550 closed

[2016-12-30 12:44] iliasg commented on #2814
Fixed ..

[2016-12-30 12:44] #2814 closed

[2016-12-30 12:48] mks9900 opened #3564 "Swedish locale update"
A small update to the Swedish translation of RawTherapee.

BR,

[Swedish.txt](https://github.com/Beep6581/RawTherapee/files/678640/Swedish.txt)
Johan

[2016-12-30 14:22] iliasg opened #3565 "Histogram/RGB, Hsv, Lab values do not respond to output profile changes"
When the histogram/navigator is set to display the output values (which is the default setting) the output values/histogram should change with every change in output profile.
This was working correctly until recent changes in output color management (tested with 4.2.1000)
With the recent builds histogram/RGB,Hsv,Lab values stay same as with RT_sRGB.icc even if we change output profile .. except if

[2016-12-30 14:37] iliasg commented on #3519
@heckflosse @Beep6581
I think the code at
https://github.com/Beep6581/RawTherapee/issues/3519#issuecomment-264666406
should be commited or else I have to try with a bit different "raw_crop" in camconst.json to (not optimally) cover both FF and APS-C cases .. ;)

[2016-12-30 15:11] #3559 closed

[2016-12-30 15:22] iliasg commented on #2079
I am inclined to close this issue .. sample files' links are dead, the dicontinuity was probaly solved with pre demosaic autoWB,  ..

[2016-12-30 15:24] heckflosse commented on #3559
@diethardsteiner Though ufraw opened the file without crash, it did not open it correctly. Here's what I get using ufraw:
![sigmadng_ufraw](https://cloud.githubusercontent.com/assets/13733487/21567302/8a4b9ca8-ceab-11e6-8c18-c8d88b0752f1.png)

using dcraw.exe to convert to tiff:
![sigmadng_dcraw](https://cloud.githubusercontent.com/assets/13733487/21567318/a4740ed0-ceab-11e6-815a-b0d227835472.png)

[2016-12-30 15:54] #3261 closed

[2016-12-30 15:56] #3531 closed

[2016-12-30 15:58] #3564 closed

[2016-12-30 16:06] iliasg commented on #3565
labels ..

[2016-12-30 16:23] iliasg commented on #3559
@heckflosse Ingo, fine !!

BTW dcraw by default auto scales raws .. if we want to disable Dcraw's auto scaling to take comparable with RT's  neutral we have to use the -W (capital W) switch.

[2016-12-30 16:34] heckflosse commented on #3559
@iliasg Yes, I know. I was referring to the wrong crop by showing the screen shots. But I still think there is something wrong with this sigma dng file...
@Floessie Could you have a look at the rtthumbnail.cc part of my patch please? Though I managed to avoid the crash when building the thumb, I didn't manage to show the correct crop in thumb and gave up after some tries. Maybe you have an idea.

[2016-12-30 17:42] mandree opened #3566 "gtk3 almost-tip compilation failure on FreeBSD"
rawtherapee's gtk3 branch as of 4fadc499d05246513f8228b518b06066e23e1c98 cannot be compiled on FreeBSD and fails as shown below. (RT4.2 compiles without such trouble).

I've tried GCC 4.9 and 5.4 without success. Is that an issue in the code, or in FreeBSD's libc++?

[code]

[2016-12-30 18:01] Beep6581 commented on #3566
No issues here in Sabayon with GCC 4.9.3

[2016-12-30 18:04] mandree commented on #3566
Appears to be something with FreeBSD 10.3's libc++ or its headers in the base system.

[2016-12-30 19:07] diethardsteiner commented on #3559
Excellent, thanks a lot! I'll test over the weekend.

[2016-12-30 20:00] Beep6581 commented on #3269
That Macbeth chart is in bad shape, the ColorChecker Classic is of unknown age, the shadow indicates the chart may have been photographed at an angle likely to cause glare (luckily it's matte), and I don't know whether `ColorChecker.cht` from ArgyllCMS and `cc24_ref.cie` from DCamProf are compatible with either.

DCPs and log files:
https://filebin.net/azjk8akj6vjo289e

@iliasg do you have a prefe

[2016-12-30 20:58] Floessie commented on #3566
@mandree Could you please test this patch?

[code]

Maybe it's that simple...

Best
Flössie

[2016-12-30 21:26] Beep6581 opened #3567 "Copy metadata to saved reference image for profiling"
Would be nice downstream if RT copied metadata to the saved image when using "Save reference image for profiling". Currently metadata is stripped.

[2016-12-30 21:28] CharlesRT2 commented on #3269
If you want me to photograph one or both charts again, let me know.

[2016-12-30 22:07] iliasg commented on #3269
@Beep6581 By Dcamprof DE results classic is better
I would like to crossmeasure against Dpreview/Imaging_resource cc24 shots .. but I lost my infrastructure for de2000 measures in a mid_summer crash :(
But these are single illuminant dcps ..no ? .. I think there is no reason to use as RT defaults these profiles at least until we have again  solved the single illuminant issue.

[2016-12-30 22:15] Beep6581 commented on #3269
@iliasg correct, single.

[2016-12-31 03:40] t-o-d-d commented on #3544
@gaaned92 yes, tried it and no problem.. I've never had this problem with any of your non-gtk3 versions...

FYI tonight I inserted my SD card, copied my files off it, pulled the SD card out, then started your 4.2.1447 and still got the No Disk errors. I used this version a few different times earlier today before inserting my SD card and did not get any No Disk errors, so there is something about

[2016-12-31 08:56] TooWaBoo commented on #3561
Is there something wrong with the translation?
The last update from 01. Dec. https://github.com/Beep6581/RawTherapee/issues/3518 is missing too.

[2016-12-31 11:27] #3518 closed

[2016-12-31 11:32] #3561 closed

[2016-12-31 12:57] itzsomnath opened #3568 "RAW image is distorting with negative colors"
Hi, Once opening a RAW file (taken in Canon 80D) in RawTherapee_WinVista_64_4.2.1 version. the image is distorting with negative colors.  Please check the screenshot and check the google drive link for the original image.

https://drive.google.com/file/d/0B3oKYtuzoNVWTzJDX3NkNWs0Yms/view?usp=sharing

My system configuration is as follow.
Windows 10 Pro 64 bit.
Intel Core i7- 6650 U CPU @2.20 GHz,

[2016-12-31 14:16] iliasg commented on #3568
4.2.1 is ancient ..
Try the latest .. https://discuss.pixls.us/t/download-rawtherapee-builds-windows-macos-linux-appimage-other/2924

[2016-12-31 14:23] itzsomnath commented on #3568
It has multiple zip files to download. few are debug versions. Which one is usable and stable copy?

[2016-12-31 14:44] iliasg commented on #3565
Dublicate ..
https://github.com/Beep6581/RawTherapee/issues/3506

[2016-12-31 14:55] diethardsteiner commented on #3559
For the very first time I tried to compile RawTherapee on the latest Fedora version. I did follow the instructions on the wiki:

[Docu](http://rawpedia.rawtherapee.com/Linux#Fedora)

Install dependencies:

[code]

How many threads does your CPU support:

[code]

Then replace the number in "-j8" below with this number.

[code]

Here I get following error:

[code]

The` gtkmm30-devel.x86_64` package

[2016-12-31 15:08] heckflosse commented on #3559
@diethardsteiner You tried to build master branch using the dependencies for gtk3 branch. master branch needs gtk2. Unfortunately I can not tell you the dependencies for master branch on Fedora :(

[2016-12-31 15:11] heckflosse commented on #3568
@itzsomnath I would go for release_gtk3 or release_master

[2016-12-31 15:38] diethardsteiner commented on #3559
Excellent, thanks a lot, this worked! But RawTherapee is still crashing ... is this because the bug fix is only available in the master but not the gtk3 branch?

[2016-12-31 15:53] djibux opened #3569 "GoPro HERO5 GPR raw file support"
Hello,
It would be great if Rawtherapee could open .GPR files, a native RAW format provided by the latest GoPro (Hero5).
According to the user manual it is based on the .DNG file format.
I can provides files and help debugging.

[2016-12-31 16:05] heckflosse commented on #3559
@diethardsteiner

exactly. I guess it will be available in gtk3 branch soon but I don't know when.

[2016-12-31 16:06] diethardsteiner commented on #3559
@heckflosse Thanks a lot for letting me know! I'll recompile once the gtk3 branch has the bug fixes in.

[2016-12-31 16:45] Beep6581 commented on #3569
@djibux please upload a sample raw file using http://filebin.net/ and also let Dave Coffin, the author of dcraw, know. His contact details are here: http://www.cybercom.net/~dcoffin/dcraw/

[2016-12-31 16:54] Beep6581 commented on #3565
Closing as duplicate of #3506.

[2016-12-31 16:54] #3565 closed

[2016-12-31 17:00] Beep6581 commented on #3269
@CharlesRT2 could you re-shoot the ColorChecker Classic (or Passport if you have a Passport) following these requirements http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_chart and specifically:
- Shoot in both daylight and tungsten light (real tungsten lightbulb, not easy to find anymore :P ),
- Have the chart fill about 1/3rd of the frame. Your previous ColorCh

[2016-12-31 17:01] Beep6581 commented on #3559
@diethardsteiner the `gtk3` branch now has the fix!

[2016-12-31 17:04] Beep6581 commented on #3568
Canon EOS 80D works fine in the latest RT https://i.imgur.com/T3Cowcu.jpg

[2016-12-31 17:04] #3568 closed

[2016-12-31 17:12] diethardsteiner commented on #3559
@Beep6581 Awesome, thanks a lot!

[2016-12-31 17:42] diethardsteiner commented on #3559
Works excellently! I had to set the processing profile to neutral, otherwise the pics looked overexposed. Since I haven't used RawTherapee before, I will familiarise myself with the program a bit more over the coming weeks and then provide more feedback if required. So far my impressions are very good! Thanks a lot for all your hard work.

[2016-12-31 17:45] diethardsteiner commented on #3559
I did a comparison between what I see in UFRaw and RawTherapee: The picture in RawTherapee looks less sharp when viewed at 100%. Is this related to the auto-scaling problem you mentioned further up?

[2016-12-31 18:09] Beep6581 commented on #3559
@diethardsteiner these are a good starting point:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Eek.21_My_Raw_Photo_Looks_Different_than_the_Camera_JPEG
http://rawpedia.rawtherapee.com/Getting_Started

[2016-12-31 18:10] diethardsteiner commented on #3559
Ok, thanks, I'll read through it.

[2016-12-31 18:30] heckflosse commented on #3559
@diethardsteiner

No, the scaling referred to exposure, not to sharpening

[2016-12-31 18:35] CharlesRT2 commented on #3269
It is overcast today. Is that acceptable, or do I wait for a sunny day?

(Sorry about Macbeth/MacGregor. We English lords could never keep those Scottish clans straight.)

[2016-12-31 21:00] dnw3039 commented on #3557
I used the gtk3 branch. I do not have a record but I think it was the commit was 88c2520380c5e58ef713c76d342c266f7565a5fc . The compiler was the standard for Ubuntu 16:10, which I believe is gcc-4:6.1.1. It is now gcc-6 6.2.0.

[2016-12-31 23:07] CharlesRT2 commented on #3269
Okay, second try. Took a sunlight shot early-midafternoon and a shot under a General Electric Soft White 60W tungsten(?) bulb. The files are at
https://filebin.net/2khssq4uh9ov8owk

[2017-01-01 10:37] itzsomnath commented on #3568
@Beep6581  which version are you referring ? can you please provide the download link?
I need for windows 10.

[2017-01-01 10:42] diethardsteiner commented on #3559
So I read through the article. I guess the main message you wanted to highlight is that raw converters do apply some settings automatically. I've only started using using UFRaw as well as RawTherapee, so I can only share my simple observations here. I am not trying to say that the way UFRaw displays the linear DNG is correct. It seems to be in line with what I can see in Capture One from a sharpne

[2017-01-01 12:55] heckflosse commented on #3559
@diethardsteiner

UFRaw has the borders top and left

[2017-01-01 13:04] diethardsteiner commented on #3559
@heckflosse: Ok, I see what you mean, I didn't imagine that they would include this in the image size.
Regarding the first point I mentioned: What about the difference in zoom level? Can you please explain this?

[2017-01-01 13:23] djibux commented on #3569
@Beep6581, done, thanks.
The Raw file and corresponding Jpeg are here: https://filebin.net/4mx8xhe02mjw465f
I contacted Dave as well.

[2017-01-01 13:30] heckflosse commented on #3559
@diethardsteiner No, I can not explain that because it looks same in ufraw and rt at 100% zoom here:

![ufraw100](https://cloud.githubusercontent.com/assets/13733487/21581331/7496cc3c-d02e-11e6-9cdc-e05ce1517f97.png)
![rt100](https://cloud.githubusercontent.com/assets/13733487/21581333/8bf5f1d2-d02e-11e6-8c27-cccf04067fb2.png)

[2017-01-01 13:36] diethardsteiner commented on #3559
@heckflosse: Thanks! Here is a screenshot from my laptop: I have a Dell XPS with a 13.3” QHD+ (3200 x 1800) display.
![screenshot from 2017-01-01 13-33-35](https://cloud.githubusercontent.com/assets/1726057/21581357/48252fb0-d027-11e6-8968-1edc6f4ea263.png)

[2017-01-01 13:55] heckflosse commented on #3559
@diethardsteiner Can you please show a screen shot from rt at 100% view using [this file](http://www.rawtherapee.com/shared/test_images/amsterdam.pef)?

[2017-01-01 14:08] diethardsteiner commented on #3559
@heckflosse Here you go:
![screenshot from 2017-01-01 14-05-45](https://cloud.githubusercontent.com/assets/1726057/21581494/a1656e7e-d02b-11e6-9ca8-0d94a9a7db42.png)
![screenshot from 2017-01-01 14-06-12](https://cloud.githubusercontent.com/assets/1726057/21581495/a16b6766-d02b-11e6-937e-5b48f51cfe06.png)
![screenshot from 2017-01-01 14-06-42](https://cloud.githubusercontent.com/assets/1726057/215

[2017-01-01 14:10] heckflosse commented on #3568
@itzsomnath [here you go](https://discuss.pixls.us/t/download-rawtherapee-builds-windows-macos-linux-appimage-other/2924). Download the release_gtk3 or release_master build

[2017-01-01 14:23] heckflosse commented on #3559
@diethardsteiner Thanks, looks like rt is upscaled on your display while ufraw is not. That's the reason it looks less sharp in rt. But I have no clue why rt is upscaled or why ufraw is not upscaled.

[2017-01-01 14:25] itzsomnath commented on #3568
Appreciate your help. I installed 'RawTherapee_WinVista_64_release_gtk3_4.2.1464'. Now color issue is fine. But for RAW images  'auto level' is making the image fade/dull. Earlier 'auto level' used to improve the image quickly at a shot. currently Its making the image fade/dull.

I found 'auto level' is working fine for JPG image but not for RAW

[2017-01-01 14:27] heckflosse commented on #3568
@itzsomnath Please upload an example raw file to filebin.net and post the link here.

[2017-01-01 14:31] Hombre57 commented on #3554
@TooWaBoo @Beep6581 I'd like to merge asap (as well as printer-profile branch which is complete) to merge into gtk3.

[2017-01-01 14:32] itzsomnath commented on #3568
filebin.net is restricted in my network.
I have uploaded in google drive. please check the following link

https://drive.google.com/file/d/0B3oKYtuzoNVWTzJDX3NkNWs0Yms/view?usp=sharing

[2017-01-01 14:34] heckflosse commented on #3568
@itzsomnath I need a raw file, not a screen shot

[2017-01-01 14:37] diethardsteiner commented on #3559
@heckflosse ok, thanks for letting me know. I'll try to find out.

[2017-01-01 14:45] itzsomnath commented on #3568
Please check below link.

https://drive.google.com/file/d/0B3oKYtuzoNVWOWRCRlNVTWlLLXc/view?usp=sharing

[2017-01-01 14:55] heckflosse commented on #3568
@itzsomnath Here's what I get using auto levels. Do you get the same?
![rt_al](https://cloud.githubusercontent.com/assets/13733487/21581633/908cc32c-d03a-11e6-983b-53c2464e425b.png)

[2017-01-01 15:22] Beep6581 opened #3570 "Failed to set text from markup"
`(rawtherapee:3678): Gtk-WARNING **: Failed to set text from markup due to error parsing markup: Error on line 1: Entity did not end with a semicolon; most likely you used an ampersand character without intending to start an entity - escape ampersand as &amp;`
Somewhere in commit e9db962a5f05e49953b800531733af2aee334610

[2017-01-01 16:00] Beep6581 commented on #3569
@djibux do you agree to release that image into the public domain under the CC0 licence? Then we can keep it in our archive and share it with other projects.

[2017-01-01 16:03] heckflosse commented on #3570
@Beep6581 which language file did you use as that happened?

[2017-01-01 16:12] Beep6581 commented on #3559
What I think is happening is that RawTherapee does not support HiDPI mode yet, it does not declare itself as HiDPI-capable, so the operating system scales everything - icons, text and preview. Perhaps UFRaw does, and so only the icons and text are scaled, while the preview is rendered 1:1. #3547

[2017-01-01 16:19] Beep6581 opened #3571 "Some buttons need labels"
Some buttons need labels (the icon can be completely discarded if needed):

- Save reference image for profiling
- Distortion auto-correction (the label could be shortened to "Auto-correct" if needed)
- Probably Auto-crop and the draw rotation line buttons too.

Why - because users can't find them, and we can't clearly refer to them without having to circle them in screenshots, as I did [here](htt

[2017-01-01 16:21] Beep6581 commented on #3570
@heckflosse default. I got many of those in the console, probably over 50, but once I noticed them I couldn't get any more to show...

[2017-01-01 16:22] diethardsteiner commented on #3187
Has this been resolved yet? I compiled the current gtk3 branch, on a Dell XPS 13 with a QHD+ display, using latest Fedora with Gnome Desktop (Wayland), the thumbnails are half the size (as shown by @hyphone). @heckflosse @Beep6581

[2017-01-01 16:25] Beep6581 commented on #3554
Tested, looks good! Fine with me to merge.

[2017-01-01 16:25] djibux commented on #3569
Yes :)

Le 1 janvier 2017 17:00:05 GMT+01:00, Beep6581 <notifications@github.com> a écrit :

--
djib

[2017-01-01 16:25] diethardsteiner commented on #3559
@Beep6581: Thanks for letting me know. After some searching my conclusion was that this is app dependent. Then I also found the issue you mentioned. I do really hope support for HiDPI displays is coming soon as I am seriously considering using RawTherapee as my main raw converter. But this issue is a major blocker.

[2017-01-01 16:30] Beep6581 commented on #3559
@diethardsteiner then start RawTherapee like this:
`GDK_SCALE=1 GDK_DPI_SCALE=2 ./rawtherapee`
or to disable scaling entirely:
`GDK_SCALE=1 GDK_DPI_SCALE=1 ./rawtherapee`

[2017-01-01 16:54] Beep6581 commented on #3569
The file is now available here: http://rawtherapee.com/shared/test_images/GoPro%20HERO5%20Black.gpr

[2017-01-01 16:59] Beep6581 commented on #3187
Closing as duplicate of #3547

[2017-01-01 16:59] #3187 closed

[2017-01-01 17:06] diethardsteiner commented on #3559
@Beep6581 Thanks for pointing this out. This influences everything apart from the picture scaling. Icons, menu, etc are all actually fine (ok, thumbnails are half of the size, but I can live with that). However, the picture at 100% is still scaled. This is the most problematic issue.

[2017-01-01 17:09] Beep6581 commented on #3559
Please show three full-screen screenshots, running RawTherapee using each of the modes above.

[2017-01-01 17:15] diethardsteiner commented on #3559
default:
![screenshot from 2017-01-01 17-11-46 - default](https://cloud.githubusercontent.com/assets/1726057/21582181/b7f20eb2-d045-11e6-80c8-b9c642f887e1.png)

`GDK_SCALE=1 GDK_DPI_SCALE=2 ./rawtherapee`

![screenshot from 2017-01-01 17-12-34 - gdk_scale-1-gdk_dpi_scale-2](https://cloud.githubusercontent.com/assets/1726057/21582182/c2d62c0a-d045-11e6-9b98-eb120ab52587.png)

`GDK_SCALE=1 GDK_DPI_S

[2017-01-01 17:27] heckflosse opened #3572 "Duplicate entries in 'Recent Folders' gtk3"
To reproduce:
Start rt
Open recent folders, first two entries are the same.
Select the second entry.
Each time you do that you get a duplicate entry.

![recentfolders](https://cloud.githubusercontent.com/assets/13733487/21582232/c7a56200-d04f-11e6-9b5e-020d434a3ee8.png)

Works fine in master branch. I will post a fix soon.

[2017-01-01 18:07] heckflosse commented on #3572
This should fix it.

[code]

[2017-01-01 20:03] sharkcz commented on #3492
see pull request #3573

[2017-01-01 23:27] t-o-d-d commented on #3544
Yeah, so observed the Device Manager and the Disk Management windows before and after SD card today, and have no idea what the issue is because the device manager doesn't change its state observably at any point. The Disk Management record for the SD card drive shows the presence of the SD card when plugged in then returns to the same state of 'no media' after the SD card is removed..

[2017-01-02 04:58] itzsomnath commented on #3568
@heckflosse yes.

[2017-01-02 08:17] Floessie commented on #3572
@heckflosse Shouldn't line 69 (with your patch) read `if (found)`?

[2017-01-02 12:10] heckflosse commented on #3572
@Floessie No, why remove and insert again the first element?

[2017-01-02 12:49] abrodkin commented on #3220
@Beep6581 Thanks for pinging me. Let me try to get hold of a bright tungsten bulb and do a couple of shots shortly. Are there any deadlines for this to be done? Like release is pending etc?

[2017-01-02 12:56] Floessie commented on #3572
@heckflosse Of course, you are right. But shouldn't it then handled symmetrically like this?

[code]

Best
Flössie

[2017-01-02 13:00] Floessie commented on #3572
@heckflosse BTW: I cannot reproduce the problem with the current `gtk3` branch under Linux with GTK 3.22.5. If I select the topmost entry, it won't generate a duplicate.

[2017-01-02 13:04] heckflosse commented on #3572
@Floessie I'm on gtk 3.18. Maybe that's the problem.

[2017-01-02 13:08] heckflosse commented on #3572
@Floessie My description was wrong. When I start rt without patch, the first two entries in recent folders are the same. When I then select the second entry (not the topmost) i get another duplicate.

[2017-01-02 13:13] heckflosse commented on #3572
@Floessie I can also trigger it by doubleclicking on the current folder in folder tree.

[2017-01-02 13:16] heckflosse commented on #3572
@Floessie your solution won't add any new folder to `Recent Folders`

[2017-01-02 13:20] Floessie commented on #3572
@heckflosse Yes, scrap that patch, I'm still jetlagged. Happy new year, btw. :smile:

Okay, same here.

[2017-01-02 13:23] heckflosse commented on #3572
Ok, Happy new year

[2017-01-02 13:32] Floessie commented on #3572
@heckflosse So, here is my last try:

[code]

Maybe it helps and is a bit shorter.

[2017-01-02 13:46] heckflosse commented on #3572
@Floessie Thanks, that's indeed shorter. Here's a combination of your patch and my last patch:

[code]

[2017-01-02 14:56] heckflosse commented on #3572
@Hombre57 Shall I push to gtk3 or will you include this patch with your next commit?

[2017-01-02 15:21] iliasg commented on #3220
@abrodkin
I don't have the last sample (01408.arw) as the link expired .. can you make it available ?

To get less veiling flare (glare) on your shot, you have to
- take care of any light facing the lens even if it's out of the frame.
- set a scene where the surrounding background of color checker is as dark and neutral as it gets. The first shot you provided (00481) had a bright bacground which g

[2017-01-02 16:59] iliasg commented on #3220
@Beep6581

Sony.ILCE-6000 2016-04-29.dcp.txt"

This does not look like glare but uneven lighting .. if we compare the dark grey D6 with the mid greys D3,D4,D5 the ratios are close to perfect .. D2 starts to deviate (a bit lower) and D1 even lower .. as if the light source was closer to the dark patches ..

[2017-01-02 17:12] Krzysiu opened #3574 "Keep rotate mode after use (like white balance)"
This is proposal of enchantment. I'm talking about that toolbar which is just above the photo - crop, rotate, white balance, before/after view. I'll use following abbreviations: WB - white balance; RM - rotate [mode]; WBP - white balance probing; HT - hand tool mode.

Crop, rotate, white balance and color probing - after cropping and rotating RT is going back to hand tool mode. White balance and c

[2017-01-02 18:08] Beep6581 opened #3575 "Button to generate a version of image using each Hald CLUT and send to queue"
Feature request from IRC:
Add a button to Film Simulation which would loop through all Hald CLUTs and send a version of the image using that Hald CLUT to the queue.

[2017-01-02 18:41] Beep6581 commented on #3220
If you say so, I don't remember :)

[2017-01-02 18:54] Beep6581 commented on #3574
My opinion is that I've never had issues with the way these tools work, and I don't see a need for making "straighten" stick - you press "s", draw the line along an edge, and that's it, it's fixed, so why keep it sticky?

Cropping is different: you don't crop along an edge, you make the crop and then adjust and re-adjust until you find the perfect fit.

[2017-01-02 21:58] Hombre57 commented on #3572
@heckflosse So in the end is this a real bug in RT or is this a workaround for Gtk3.18 ?

[2017-01-02 22:09] heckflosse commented on #3572
@Hombre57 it's a real bug in gtk3 branch!

[2017-01-02 22:10] Hombre57 commented on #3572
Then please commit.

[2017-01-02 22:11] heckflosse commented on #3572
@Hombre57 Double click many times on the same folder in `folder tree`, not in `Recent folders` to see what happens with `Recent folders` then.

[2017-01-02 22:13] heckflosse commented on #3572
Ok, Have to pull latest gtk3 and build again before I commit and push.

[2017-01-02 23:07] Hombre57 commented on #3571
Could you test the `buttons-without-label` branch ? I've removed the associated icons, this is the Gtk3 standard. Ok to commit ?

[2017-01-02 23:24] Hombre57 commented on #3575
Seem very specific and not that easy to integrate into the UI. I'd vote to do that feature with a shell script ;)

[2017-01-02 23:36] stilicrafter opened #3576 "FEATURE REQUEST : GPS Set feature"
Hello.
I would realy love it , if it would be possible to place pictures at a virtual map , and then , when exported , the gps information are copied .
Or eaven better , GPX Files from GPS System could be added automaticaly.

(Sorry 4 bad English , German :) )
Thanks

[2017-01-03 00:06] #3572 closed

[2017-01-03 09:23] Krzysiu commented on #3574
OK, but why then white balance is sticky?

[2017-01-03 10:10] tsbgr79 opened #3577 "RT crashes when saving directly in all formats and through queue -can't save my work on 32bit Windows with 3 GB RAM"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2017-01-03 10:15] tsbgr79 commented on #3577
Hi and happy New Year!

RT crashes every time I hit the save button or saving multiple or individual files through the queue function.

I can't save my work in any format and when the program crashes after a direct save attempt I lose all the changes after restarting it. The changes stay saved after saving and crashing through queue.

Thanks in advance for your help!

[2017-01-03 12:21] TooWaBoo commented on #3577
Did you read your first post and followed the instruction? :-)
RT version? OS? Where do you save the files?

[2017-01-03 12:41] Beep6581 commented on #3571
@Hombre57 looks much better now! But big warning, something happened to all the translation files in this branch, they have corrupt encoding! I will fix it.

[2017-01-03 12:50] Beep6581 commented on #3571
Actually since the problem is already committed, fixing it would mean reverting those changes which would make an unnecessarily messy log, plenty of this kind of stuff:
![0ivtbc8](https://cloud.githubusercontent.com/assets/5844619/21608235/9002924c-d1bb-11e6-9734-6df112d83c06.png)

If you don't mind, I will apply your changes from `rtgui/distortion.cc` and `rtgui/icmpanel.cc` to `gtk3` and update

[2017-01-03 14:10] mandree commented on #3339
changing abs() -> std::fabs() on FreeBSD seems to have done the trick, however I haven't run-time tested the conversion for lack of raw material.

[2017-01-03 15:42] tsbgr79 commented on #3577
Ok, I just wanted to _emphasize_ the fact that I can't save the brilliant images I work on ;)

Version 4.2.1074, Windows 7 and I am saving the files in a file sub-directory located on my Desktop.

I tried to save in different locations including an external USB mass storage device with no success.

[2017-01-03 17:33] TooWaBoo commented on #3577
Are you on a 32 or 64bit system?

[2017-01-03 17:34] Beep6581 commented on #3577
@tsbgr79 scroll up, click on the "How_to_write_useful_bug_reports" link and read it please.

[2017-01-03 17:51] Beep6581 commented on #3571
@Floessie this is why I didn't want unnecessary non-ASCII stuff in the code files, because of corruption which may go unnoticed.

@Hombre57 which editor did you edit those language files in? Please check that it is UTF8-compliant.

[2017-01-03 18:17] tsbgr79 commented on #3577
TooWaBoo yes, 32-bit version confirmed.

Beep6581:

Version 4.2.1074, Windows 7, Quad Core 2.40GHz Intel, 3Gigs of RAM, debug version downloaded from here: http://rawtherapee.com/downloads

Steps: I work with NEF - Nikon files and after applying the changes RT crashes 4 seconds after clicking the Save button or the Start processing button in the Queue menu

No particular file or process, it happen

[2017-01-03 18:26] TooWaBoo commented on #3577
@tsbgr79
This should help:
http://rawtherapee.com/blog/maximizing-memory-efficiency

[2017-01-03 18:53] tsbgr79 commented on #3577
Thanks TooWaBoo, I will try these recommendations and I will let you know of the results asap.

[2017-01-03 19:03] gaaned92 commented on #3577
@tsbgr79  some more info : what is the camera model and pixel size of photos?
If you want some help, the best is to go on [PIXLS.Rawtherapee](https://discuss.pixls.us/c/software/rawtherapee)

As already said you surely run out of memory. This is not a bug but a limitation of 32bits systems that is identified in rawtherapee documentation.
1- As indicated in the link provided by toowaboo, you **must

[2017-01-03 19:09] Hombre57 commented on #3571
I'm using Notepad++ to edit language files and it works fine. In the present case, I've saved the changes in patch and apllied it back too with Eclipse. Thoug the integrated editor handle UTF-8 correctly, it doesn't seem to be the case of the 'apply patch' tool.

I'd prefer that you open another branch based on master and apply the change correctly and delete my branch.

[2017-01-03 19:20] Hombre57 commented on #3571
Btw, backporting patch does work fine if the surrounding code is the same, but in our case the code base has diverged strongly, so we should avoid call for trouble by doing this ;)

[2017-01-03 19:53] Floessie commented on #3571
@Beep6581

Ah yes, and those corrupted comments will erode to real code each time you save it and start eating our RAWs by secretly killing the eighth bit in every byte to make it ALL ASCII so that in the end we won't even have a photo of an accent or umlaut anymore which will be the end of the world except for the US... :scream:

All I can say: Shit happens. :grin: But hey, you are free to conver

[2017-01-03 19:55] Floessie commented on #3571
@Beep6581 All joking aside: Isn't that something, travis could take care of? Isn't `recode` able to check for pure UTF-8?

[2017-01-03 22:22] heckflosse commented on #3577
@tsbgr79 If your machine is low on RAM:

1.) Don't use `Save as` to save you files.
2.) Add them to the queue but don't start the queue with an image open in editor.
3.) Close rt and start rt, then start the queue. This way no image is opened in editor when you start the queue.
4.) If that's still not enough, select an empty folder in file browser before you start the queue. That will free some me

[2017-01-03 23:45] Hombre57 commented on #3545
This time I think it is clearly a problem from Gtk3 : https://bugzilla.gnome.org/show_bug.cgi?id=765410

... and I think that issue #3525 is related to the workaround set in Gtk3 to circumvent the bug that we see in issue #3525. I'll open an issue on Gnome's bugzilla tomorrow.

See also my comment in issue #3300.

[2017-01-03 23:45] Hombre57 commented on #3300
As explained in issue #3545, the very last bug(s) that prevent making an RT5 Release version is due to Gtk3.22 itself. This time I don't think we'll be able to create a workaround, so what's do we do about RT5 now ? Should we wait till it is solved in Gtk or will we release it and force usage of Gtk3.18 ? The problem is that MSYS2, AFAIK, doesn't provide Gtk3.18 anymore, only the broken 3.22 :(, s

[2017-01-04 00:09] heckflosse commented on #3300
I'm still using MSYS2 with gtk 3.18

[2017-01-04 00:13] Hombre57 commented on #3300
Because you didn't updated MSYS2 ? Then it's great, we could provide a Gtk3 build, for Windows at least.

[2017-01-04 00:19] heckflosse commented on #3300
Yes, but I would need some help, because in past I only build for my system, no setup etc...

[2017-01-04 00:47] jtompkins66 opened #3578 "Crash when saving " Preferences -> Color Management -> Printer (soft-proofing) -> Color Profile""
First time entering a bug report, hope I did everything right. :-)

[code]

XUbuntu 16.04 (fully patched), 4 CPU cores, Intel(R) Core(TM) i5-2320 CPU @ 3.00GHz, 8 GB RAM

Downloaded via git and compiled locally, as I've been doing for years

Steps to reproduce crash:
1. Open RawTherapee
2. Open "Preferences", go to "Color Management" tab, under "Printer (soft-proofing)" select an ICC profile, clic

[2017-01-04 01:07] jtompkins66 commented on #3578
I was thinking, you may want the an actual profile. Attached is an Epson profile I got from Epson that's for a printer my local Photo store uses (where I have prints made). I had to put it in a ZIP file for the upload to work. Also if I hit "Cancel" to skip saving anything rather than "OK" it does not crash.

[printer.zip](https://github.com/Beep6581/RawTherapee/files/683652/printer.zip)

[2017-01-04 09:19] TooWaBoo opened #3579 "Wrong tooltip in IPTC panel"
Field "Author" and "Credit" share the same tooltip. The tooltip is wrong for field "Author".
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/21637440/2c1f5f92-d267-11e6-989c-f802b23590f8.png)

[2017-01-04 09:23] gaaned92 commented on #3300
builds of @sguyader are done with gtk3.18. So perhaps he could make the RT5 builds with gtk3.18 waiting for a repaired gtk3.22.

[2017-01-04 09:48] tsbgr79 commented on #3577
So I tried all the practical tips you've suggested with no result, RT still crashes while saving.

The link to newer versions that gaaned92 posted contains only XP versions and I run Win7.

Also, the 3GB flag procedure link doesn't cover Win7 (there is no Edit button, the menus are different) and I couldn't do that.

I am also not able to do the 4-Gig tuning, sorry but I am not confident enough to

[2017-01-04 10:24] gaaned92 commented on #3577
@tsbgr79
1- the name of Windows 32 bits builds contains XP(the same as you already downloaded). It doesn't matter. install and use it on Vista.
2- 3GB flag : go to the [link](http://avatechsupport.blogspot.fr/2008/03/how-to-set-3gb-startup-switch-in.html) already given in  my point 1 of my above post. Follow the procedure for vista. Without the flag, you will have little if no chance to be able to

[2017-01-04 11:00] tsbgr79 commented on #3577
1- I installed the latest version but every time I open RT a black dialog window pops up first, then command prompts scrolling down in it for about 3 seconds and then the program appears but with coarse graphics and in low res.

2- I followed the procedure, after writing the prompt I got a non acceptance message, restarted anyway, problem still unsolved.

3- I have a Nikon D3300 and yes, it has a

[2017-01-04 11:12] iliasg commented on #3300
I would like some easy issues fixed in RT5.0
- https://github.com/Beep6581/RawTherapee/issues/3519 fix is ready for commit https://github.com/Beep6581/RawTherapee/issues/3519#issuecomment-264666406
- https://github.com/Beep6581/RawTherapee/issues/3506
- https://github.com/Beep6581/RawTherapee/issues/2729

[2017-01-04 12:42] iliasg commented on #3577
Solution:
Windows Vista, Windows 7, or Windows 8
- To enable the 3GB switch:
    Right-click on the Command Prompt icon in the Accessories program group of the Start menu. Click **Run as Administrator**.
    At the command prompt, enter:
    bcdedit /set IncreaseUserVa 3072
    Restart the computer.
- To disable the 3GB switch:
    Right-click on the Command Prompt icon in the Accessories program

[2017-01-04 13:23] heckflosse commented on #3577
@tsbgr79

The size of your input file (10MB...) does not matter.
When you save your 24mp file rt needs a lot of memory on top of the already used memory.

[2017-01-04 15:22] Beep6581 commented on #3300
As discussed previously, this is not a good option. If it is a GTK3 bug then it could take a year before it is fixed, a new version of GTK+ is released and some distros pick that version up. Even then, it would only cover some distros. And preventing many people (myself included) from using RawTherapee entirely just because of some UI bug is not something I'd be happy with :) RawTherapee is comple

[2017-01-04 15:26] Beep6581 commented on #3571
@Floessie I heard it was non-ASCII characters which allowed Donald Trump to become president...

TravisCI currently only runs on master. It could be made to run on other branches once GTK3 deps are taken care of, but there are other problems. Don't know about `recode` being used for checking, but `file` can check character encodings, though it can't do that reliably - if a file has been corrupted

[2017-01-04 15:35] Beep6581 opened #3581 "Update IPTC labels and tooltips to IPTC Core 1.2"
Update the IPTC labels and tooltips to IPTC Core 1.2 from 2014-06-18.
https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMetadata

Blocked on PR #3580

[2017-01-04 17:32] Floessie commented on #3571
@Beep6581

... and only 140 of them. ;)

Right, that's impossible to cope with. I found a tool named `isutf8` in the `moreutils` package. But it won't help in that case either.

Well, technically that's a subset of UTF-8, so that shouldn't be a problem.

[2017-01-04 19:35] Hombre57 commented on #3300
@Beep6581

Well, that's a point of view. Yes it's functional, but lots of curves have this problem (RGB, HSV and probably others).

The gtk3 team knows that it's a very well hidden bug, because they had to create a workaround in scrollbars to circumvent it. I'm adding an issue in their tracker.

[2017-01-04 20:43] abrodkin commented on #3220
@Beep6581 So finally I took another CC24 shot with incandescent bulb. I uploaded it to: https://filebin.net/7c5p8o58hq7bv6sz (see 2017-01-04-A2856-incandescent.arw).

Please take a look at it and let me know if that one is good enough. I tried to make sure LAB values of gray patches are as close as possible to those from http://xritephoto.com/ph_product_overview.aspx?ID=824&Action=Support&SupportI

[2017-01-04 21:01] Beep6581 commented on #3579
Fixed in commit d654a7a21bd503d4333d821c9bb85d6f0833abcd
The currently missing string will be added in #3581

[2017-01-04 21:01] #3579 closed

[2017-01-04 22:24] Beep6581 commented on #3581
Handled in branch [iptc12](https://github.com/Beep6581/RawTherapee/tree/iptc12)

[2017-01-04 22:24] Beep6581 commented on #3581
Updated string in commit 14361da5.

[2017-01-04 22:47] Beep6581 commented on #3581
Grrreat... I started adding missing tags, but found that libiptcdata is stuck at version 1.0.4 from 2009.

[2017-01-04 22:54] Beep6581 commented on #3581
As libiptcdata is dead from 2009 and I can't add new properties, I want to merge this as-is. Created PR #3582

[2017-01-04 23:05] Beep6581 commented on #3523
Is this for inclusion in 5.0?

[2017-01-04 23:07] Beep6581 commented on #3408
Any reason to keep this open?

[2017-01-04 23:08] #3349 closed

[2017-01-04 23:10] Beep6581 commented on #3295
SONY ILCA-68 is supported in camconst.json.
Links are expired.
DCP missing - open a new issue if you can shoot a colortarget.
Closing.

[2017-01-04 23:10] #3295 closed

[2017-01-04 23:16] Beep6581 commented on #3581
libexiv2 can read/write IPTC, if RawTherapee used it we could finally drop the rtexif stuff. But that's post-5.0.

[2017-01-04 23:24] FelixJongleur42 opened #3583 "Getting feedback why files are filtered out in the browser or not opened from command line"
Tried
- RawTherapee_WinVista_64_4.2.1.exe.zip and
- RawTherapee_WinVista_64_Gtk3_Release_4.2.1375.zip

and I have a folder where the file browser does not show my images files.
Here is my proposal: at least with verbose=true in the options file RT should tell the user WHY
- why any files in the browser are being filtered out and
- why a file is not opened if RT is invoked on the command line

It i

[2017-01-04 23:25] Beep6581 commented on #3220
Much better DE. The tungsten photo was shot at f/3.5, if you feel like it you could re-shoot at f/8, but I don't expect to see much difference - I'm happy to commit this.

DCP + log:
https://filebin.net/c6zc3eijjba46uyv

Ping @iliasg

[2017-01-04 23:39] Beep6581 commented on #3583
@FelixJongleur42 you haven't uploaded any of those files which are ignored. You can do that using https://filebin.net/

[2017-01-04 23:41] TooWaBoo commented on #3408
I think this can be closed.

[2017-01-04 23:44] #3408 closed

[2017-01-04 23:52] Beep6581 commented on #3269
@CharlesRT2 the tungsten shot is underexposed by almost 2 steps, its at ISO1600, out of focus and has motion blur. The daylight shot is at ISO200 at f/5.6.
Please read http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_chart and the comments in this issue again. The shots need to be at the lowest real ISO (typically ISO100), well exposed without clipping, sharp, f/

[2017-01-04 23:55] heckflosse commented on #3583
@FelixJongleur42

filtered by ending (e.g. .png not selected)

At least this (the .png case) is a case where I would find it really annoying to be told about.
If an extension is disabled, it's disabled.

There are some changes in current source which probably make this obsolete (monochrome tiff now supported for example)

As @Beep6581 wrote, please upload an example to filebin.net and post the lin

[2017-01-05 00:26] TooWaBoo opened #3584 "Deutsch locale update"
Update Soft-Proofing and IPTC
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/686160/Deutsch.txt)

btw: The language files are not synchroniced and don't contain the "Soft-Proofing" keys in the "Untranslated Keys" section.

[2017-01-05 00:28] TooWaBoo opened #3585 "Update TooWaBlue v2.27 Gtk+3.22"
IPTC-Update
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/686167/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/686168/TooWaBlue-Dark-GTK3-20_.txt)

[2017-01-05 01:01] Beep6581 commented on #3584
The IPTC section is not ready for translation, there are pull requests pending.
I will merge your translation, but the IPTC section may get nuked in the process and will need to be updated once the PRs are merged.

[2017-01-05 01:06] #3584 closed

[2017-01-05 01:51] jtompkins66 commented on #3578
Hummm, isn't that odd. I've tried wiping out my git download and git cloning everything from scratch then building (a completely fresh "clean" build). Still crashes. I do notice that any of the three setting under "Printer soft proofing", "Color profile", "Rendering intent" or "Black point compensation", if I change any of them and hit OK to save it crashes. But I can change anything else under Pr

[2017-01-05 02:49] #3585 closed

[2017-01-05 02:50] Beep6581 commented on #3578
@Hombre57

[2017-01-05 07:12] Floessie commented on #3578
@jtompkins66 You're absolutely right! Although I cannot reproduce the problem here (debug and release build), I took a look, et voilà: `processor` can be `nullptr` and is guarded in every other place. So here is a preliminary patch:

[code]

@Hombre57 Maybe there is an even better way (like an early `return`). I didn't investigate further.

HTH
Flössie

[2017-01-05 07:49] Hombre57 commented on #3578
@Floessie Thanks for the patch, I'll look at it this evening, and sorry for this amateur's bug.

[2017-01-05 11:10] tsbgr79 commented on #3577
@iliasg So I tried it again this morning and I was successful. I immediately tried to open the latest RT version 4.2.1477 that I downloaded yesterday and I got the same black dialog window but with no prompts and the program never opened BUT...
...then I clicked on RT version 4.2.1074, it opened normally, I heavily edited a random 25mp pic and BOOM, successful direct save button saving! It took ab

[2017-01-05 12:25] Floessie commented on #3578
@Hombre57 Call me an amateur then, because sometimes I let slip an unguarded deref through, too. :cry:

[2017-01-05 12:58] Beep6581 opened #3586 "Why install options file in /usr/share/ ?"
When users install RawTherapee in Linux, at least in Ubuntu using the highlyexplosive PPA, [rtdata/options/options.lin](https://github.com/Beep6581/RawTherapee/blob/master/rtdata/options/options.lin) gets installed as /usr/share/rawtherapee/options
Why? There is no need for that file. Only ~/.config/RawTherapee*/options is needed. Seems like a cmake or packaging error to me.

[2017-01-05 13:44] #3024 closed

[2017-01-05 14:09] Beep6581 commented on #3586
I don't know about Windows and macOS @sguyader @Partha1b but I don't believe Linux needs this:
https://github.com/Beep6581/RawTherapee/blob/master/rtdata/CMakeLists.txt#L88

[2017-01-05 14:10] Beep6581 commented on #3578
@jtompkins66 can you confirm the patch?

[2017-01-05 14:17] gaaned92 commented on #3577
@tsbgr79
If you carefully read [this topic](https://discuss.pixls.us/t/download-rawtherapee-builds-windows-macos-linux-appimage-other/2924), you will observe that under the windows 32 bit builds you find those lines:
[code]
in each line you find the branch name (e.g. gtk3) and a version number (e.g. 4.2.1.1477)
If you want to specify a version you have to give the two parts (e.g. master 4.2.1232).

[2017-01-05 15:47] jtompkins66 commented on #3578
I can when I get home after work, I am 6 hours west of GMT in the USA. I'm confident the patch will work. You guys are good! I've coded more than my share of NULL pointers in my life, it happens :-)

[2017-01-05 15:58] innir commented on #3586
@Beep6581 I didn't look into the code, where is~/.config/RawTherapee*/options sourced from? ~/.config/RawTherapee*/options is not created at install time but at first launch of RT for each user.
I wouldn't touch this code now it works as it is. I'd suggest to work on this after RT 5 - keep in mind, the last chance to get RT 5 into Debian Stretch is within the next ten days and if anything goes wro

[2017-01-05 16:31] tsbgr79 commented on #3577
@gaaned92 Don't get this wrong but you should start thinking that when you are interacting with obviously less computer literate persons, like me for instance, you should withhold useless information like "when you "save" it is there that processing tasks occurs. So it is not a "saving problem" but a "processing problem" and "the size of your input file (10MB...) does not matter. When you save you

[2017-01-05 18:05] gaaned92 commented on #3586
In windows, the  options.win (renamed options) is installed near by the RT exe.  it is said that it is the global option file.
If I suppress it and also the "local"  user/.../rawtherapee/options, then, when I start rawtherapee, the "parsed extension" pane is empty in the GUI and also in newly created local options file.

[2017-01-05 18:11] heckflosse commented on #3577
@tsbgr79

I wrote that part, not @gaaned92

[2017-01-05 18:29] Beep6581 commented on #3586
Confirmed! Defaults are indeed taken from it when I self-compile in Linux too. Closing as invalid.

[2017-01-05 18:29] #3586 closed

[2017-01-05 18:57] tsbgr79 commented on #3577
@heckflosse Yeah, my bad, I still believe that it's a quite useless piece of information.

I really hope that you will consider my comments without getting the wrong idea, I am not saying that you did any of the above intentionally :)

[2017-01-05 19:02] abrodkin commented on #3220
@Beep6581 Well I may indeed try to do another shot even though it is not that simple - I need to go visit that location that (a) has bright tungsten bulb and (b) empty room with almost grey walls... and do it in the evening so no other light source is involved. Also note the lens I used is 50 F1.8 that means 3.5 is already 2 full F-stops away and there's barely any kind of distortion, CA or vignet

[2017-01-05 19:27] heckflosse commented on #3577
@tsbgr79 My bad, as you mentioned the file size my initial thought was 'file size does not matter'. For that reason (and only for that reason!) I wrote that comment. I really thought to give useful information. Maybe I should have given more information (for example the amount of memory rt needs to process 24 Mp files using neutral profile). I just calculated and I'm sure I forgot something: To sa

[2017-01-05 20:07] gaaned92 commented on #3577
Ok, I did not wanted to be rude but only tried to help giving detailed explanation.  My bad to try to provide so much useless information.
Enjoy Rawtherapee

[2017-01-05 20:53] meokbodizi opened #3587 "Different look between Previews in Editor mode for files from camera with foveon sensor. Windows 10"
[Screenshot](https://goo.gl/photos/m23saVdDwaz4xQB46)

Also there is problem to read X3F format image created by Sigma SD14.

Histogram covers too wide range than real one. And Exif data not available.

[Here](https://drive.google.com/open?id=0B6Q9Z2vj0OxUSjhVd2hZa3dqZzg) is the X3F raw file.

[2017-01-05 21:07] heckflosse commented on #3577
@tsbgr79 Maybe you can imagine that neither @gaaned92, nor @iliasg, nor @Beep6581n nor I indented to be rude? We just wanted to support your issue by giving more useful information!

Ingo

[2017-01-05 21:14] heckflosse commented on #3587
@meokbodizi rt has only very basic support for foveon files unfortunately :(

[2017-01-05 21:53] 4democracy opened #3588 "made some RAW images with a Canon EOS M5"
under this link there are RAW images of a Canon EOS M5 stored:
https://filebin.net/2th2468mjbxzj3qw

1 without NR
2 with long exposure NR
   with high ISO NR, set to standard value
3 one pic at f 1.8, ISO 100

BRs,
4democracy

[2017-01-05 23:12] tsbgr79 commented on #3577
It's cool, just think of yourselves as guitar teachers from time to time, playing songs is super easy if you can hit every freaking not every freaking time but some people can hardly pluck a string ;)

[2017-01-05 23:28] heckflosse commented on #3577
People building guitars rarely are good guitar teachers I guess ;)

[2017-01-06 01:04] Partha1b opened #3589 "Undeclared identifier profileBox"
@heckflosse, @Beep6581 I am getting an error while compiling gtk3 branch.
[code]
Do you have any insight on this?
Latest git pull

[2017-01-06 01:43] heckflosse commented on #3589
@Partha1b I'm not working on gtk3. @Hombre57 ?

[2017-01-06 02:37] Partha1b commented on #3589
Sorry about that @heckflosse . I knew that @Hombre57 is working on gtk3 but added your name in error. 🙁

[2017-01-06 05:07] meokbodizi commented on #3587
@heckflosse Thats sad :(

[2017-01-06 07:29] Floessie commented on #3589
@Partha1b Here is a quick patch:

[code]

HTH
Flössie

[2017-01-06 07:43] Floessie commented on #3586
:no_mouth:

[2017-01-06 09:28] tsbgr79 commented on #3577
Computer people certainly can't see the forest for the trees most of the times.

[2017-01-06 12:14] Partha1b commented on #3589
@Floessie & @Hombre57 Yes, it does help. Thanks.

I have another error:
[code]
Also, FYI here are some warnings that we might want to keep in mind:
[code]

Thanks,
Partha

[2017-01-06 12:47] Floessie commented on #3589
@Partha1b Another patch:

[code]

I get those deprecation warnings, too.

[2017-01-06 13:02] Hombre57 commented on #3589
Thanks for the patchs. Could you commit them ?

For the deprecation, it's not a simple patch (at least for me), so I've left that as is for now. But anyone is free to look at it of course.

[2017-01-06 13:37] Beep6581 opened #3590 "DCP batch settings broken"
Color Management > DCP settings are broken in batch mode.

1. Go to Preferences > Batch Processing and make sure it's all on Set mode.
2. Open a photo in the Editor tab and deselect all DCP checkboxes.
3. Click on it in the File Browser. Enable all DCP checkboxes. Click on some other raw and back on this one. DCP checkboxes are still unselected.

I noticed this when I tried to deselect "tone curve

[2017-01-06 13:39] Beep6581 commented on #3446
@Hombre57 as the scrollbar issue is a GTK+ bug, do we consider this to be solved and close it, or are you working on a workaround?

[2017-01-06 14:15] Partha1b commented on #3589
@Floessie Yes, I agree with @Hombre57 . Can you commit them so that we have a consistent source?

Please let me know when it's done.
Thanks!

[2017-01-06 14:19] Floessie commented on #3589
@Hombre57 I'm AFK tonight. Feel free to commit them, otherwise I will do so tomorrow.

[2017-01-06 14:30] Beep6581 commented on #3220
No problems popped out at me while creating the DCP. As for "looks much better", yes it could be as you wrote, including the effects of your monitor profile, and besides, these are supposed to make colors accurate, not nice.

If you manage to take new shots then we'll take a look at them. I'll commit this one in the meanwhile as it seems good enough and there were no objections..

[2017-01-06 14:36] #3220 closed

[2017-01-06 14:38] FelixJongleur42 commented on #3583
Wow, thanks for the quick replies!
If you would like to analyze the specific files, here it goes: https://filebin.net/tqb000qgtcz8skc4

[2017-01-06 14:43] Beep6581 opened #3591 "Preview area overflows over UI"
View the screenshot at 1:1 and look at the toolbox or the left panel https://i.imgur.com/92APmyR.png

[code]

[2017-01-06 14:57] #3571 closed

[2017-01-06 15:45] Beep6581 commented on #3589
I'll handle it.

[2017-01-06 15:52] heckflosse commented on #3583
@FelixJongleur42 Latest version of rt shows and opens your files fine.

[2017-01-06 16:29] #3581 closed

[2017-01-06 16:41] Beep6581 commented on #3591
Seems to be a bizarre monitor thing. I'm using an IPS display.

The dotted grid appears in the area I marked in gold here: https://i.imgur.com/kxYNS0Q.png
I see it in RT and in both the screenshots. I see it when I open the screenshots in GIMP, and the grid stays static when I pan the screenshots. I only see it at 1:1. If I zoom in or enlarge the image 400% using nearest neighbor, the dotted grid

[2017-01-06 16:56] #3587 closed

[2017-01-06 16:57] Beep6581 commented on #3576
RawTherapee does't handle that. Try digiKam.

[2017-01-06 16:57] #3576 closed

[2017-01-06 16:57] #3575 closed

[2017-01-06 18:34] heckflosse opened #3592 "When opening a folder with a lot of files (about 1000) progress bar in rt and tab label of filebrowser (percentage) are not updated frequently"
Suggested fix:

[code]

[2017-01-06 18:53] jtappin opened #3593 "Crash opening tiff - after save of earlier file."
There is a problem where opening a large(ish) greyscale or RGB 16-bit tiff can cause a crash (sometimes with a double free error).
[code]
This is with a git checkout of the master branch from yesterday.
It appears that the problem is only triggered when, a previous file has been opened, and then exported with a scaling change.
The double free message only seems to appear for greyscale images.
The

[2017-01-06 18:58] Beep6581 commented on #3592
Improvement confirmed.

[2017-01-06 19:19] Beep6581 commented on #3593
Steps to reproduce?
http://rawpedia.pixls.us/index.php/How_to_write_useful_bug_reports

[2017-01-06 19:26] #3589 closed

[2017-01-06 19:37] jtappin commented on #3593
1) Launch Rawtherapee
2) Open a 16-bit tiff file, and process to taste,
3) Save to jpeg with a reduced size
4) Open another 16-bit tiff from the browser or the top bar -- there is a good chance of a crash.

It is at least to some extent a heisenbug -- greyscales seem to be more consistently problematic than RGB.

[2017-01-06 19:38] Beep6581 opened #3594 "Labels for wide GTK3 buttons"
Buttons in the master branch have both icons and labels (if the system-wide GTK2 settings are set to show them), while in the GTK3 branch some wide buttons still don't have labels.
GTK2 https://i.imgur.com/OfIlfIQ.jpg
GTK3 https://i.imgur.com/D2w0OOy.png https://i.imgur.com/Fu13VVc.jpg

- White balance pipette
- Select Crop
- Auto-Crop
- Select Straight Line

[2017-01-06 19:59] jtappin commented on #3593
I should have added I'm running on Linux (up-to-date Manjaro).

[2017-01-06 20:07] dnw3039 commented on #3446
The scrollbar has been reduced in size since that I made my first comment
about it. As can be seen by the screen shot below it now obscures the  "
 :1  "  but leaves most of the reset arrow and the "  + " free to use. I
now have much less of a problem with it. So I would be happy to close the
issue.

(I am now on todays: Branch: gtk3 Version: 4.2.1492 Changeset:
4c20b1f4af1928d80467833b9f93cbb0ea2

[2017-01-06 20:47] Beep6581 commented on #3594
I left the white balance picker as-is, as the icon is well known even in other programs and looks better than a text label.

https://i.imgur.com/YMuqUIc.jpg

[2017-01-06 20:57] Beep6581 commented on #3593
I've been getting crashes related to perhaps this since forever. The key seems to be to save the image to the same folder as the one you're currently in (your steps don't mention where to save, did you mean to the current folder?). I saved the TIFF to /tmp. When I open one of these and save a new JPG also to /tmp. The filmstrip doesn't update with the new image. I go to the file browser and click

[2017-01-06 21:17] Beep6581 commented on #3446
@TooWaBoo https://filebin.net/is8btes6zjuq7odp

[2017-01-06 21:37] heckflosse commented on #3594
:+1:

[2017-01-06 22:03] TooWaBoo commented on #3446
@Beep6581
Thanks, looks identical, except the profile menu. There's no shadow.

[2017-01-06 22:05] jtappin commented on #3593
I usually save to the directory containing the original file, [actually I'd like to be able to set that as the default behaviour -- rather than the directory in which I last saved something -- but that's a separate issue].

I have never seen the problem with camera raw files, and I don't make a habit of editing jpegs with RT.

I'd say it has all the feel of a buffer overrun.

If it's any use, here

[2017-01-06 22:19] Hombre57 commented on #3446
@Beep6581 I'm not working on the Scrollbar bug nor the Curves' one and don't plane to do so. I didn't had time to post in Bugzilla yet, I'm very busy this week and will also be off for this w.e., my boss asked me to work at home for the whole w.e.

There is a Gtk3.24 out or around the corner. I don't think that it is fixed in that release though, bugzilla doesn't say so. You should probably create

[2017-01-06 22:25] Hombre57 commented on #3589
@Beep6581 I meant both fix, including this one : https://github.com/Beep6581/RawTherapee/issues/3589#issuecomment-270847890

[2017-01-06 22:37] Beep6581 commented on #3589
@Hombre57 I committed both but separately. The one you just linked is for master too, while the other one was only for GTK3.

[2017-01-06 22:39] Beep6581 commented on #3446
@Hombre57 then I will close this issue and refer people from the release notes or somewhere to the scrollbar issue #3545 and the curves issue #3525.

Thank you so much for all the time and effort you put into this!

[2017-01-06 22:39] #3446 closed

[2017-01-06 22:50] Beep6581 commented on #3300
TODO: Mention #3545 and #3525 in release notes or somewhere.

[2017-01-07 10:53] Floessie commented on #3578
Fixed on `master`.

[2017-01-07 10:53] #3578 closed

[2017-01-07 10:55] Floessie commented on #3589
@Beep6581 Thanks for taking it.

[2017-01-07 11:39] TooWaBoo opened #3596 "Deutsch loacale update"
IPTC Core 1.2 update
[Deutsch.txt](https://github.com/Beep6581/RawTherapee/files/691455/Deutsch.txt)

[2017-01-07 11:44] TooWaBoo opened #3597 "TooWaBlue Gtk+3.22 update v2.28"
Fixed an issue on OS X where tab labels were not aligned.
Removed menu shadow on Server-Side-Decoration to make all popups look identical.
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/691456/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/691457/TooWaBlue-Dark-GTK3-20_.txt)

[2017-01-07 11:48] stilicrafter commented on #3576
But DigiKam can only be used after the developement ( Raw --> Jpeg )
But some pictures i dont convert to Jpg , because only the best are converted , and i want to tag any picture .

[2017-01-07 12:15] FelixJongleur42 commented on #3583
Thanks for trying this out, as stated above I tried 4.2.1375 and 4.2.1 - are you using a different version? If not I wonder why the do not show up on my installation.
And this is what motivated me to suggest this improvement: let the user now why an image file is filtered out or not opened.

I did some more testing:

1. I copied all the files from the folder to a different folder - et voilà - ther

[2017-01-07 12:27] FelixJongleur42 opened #3598 "Non-raw images not shown in File Browser if folder name contains ß"
Tried 4.2.1 x64 on Windows
I have the following Folders:
1. D:\Pictures\Astronomie\Objekte\Milchstraße\2015-08-13\Serie1\1-input\ containing .CR2 - **works**
2. D:\Pictures\Astronomie\Objekte\Milchstraße\2015-08-13\Serie1\2-work\ containing RT readable TIFF and PNG but the files are all filtered out

Renaming the parent folder "Milchstraße" to "Milchstrasse" makes the folder "2-work" work again.
A

[2017-01-07 12:36] Beep6581 commented on #3583
I tried with `~/photos/teßt_images/amßterdam.pef` and all photos in that folder show up in master and gtk3. Cannot reproduce.

[2017-01-07 12:37] Beep6581 commented on #3598
I tried with ~/photos/teßt_images/amßterdam.pef and all photos in that folder show up in master and gtk3. Cannot reproduce.

[2017-01-07 12:42] Beep6581 commented on #3598
I tried again with your folder structure and with non-raw files, now I can reproduce.

With verbose mode, the console shows:
[code]

[2017-01-07 13:03] Beep6581 commented on #3576
digiKam can be used on raw and non-raw images, and it already includes a globe map feature. Point being RawTherapee's job is raw conversion, and this request is about digital asset management and would require much work which nobody has expressed any intention of doing. Of course anyone is free to take it up - this issue is closed, not deleted.

[2017-01-07 13:05] FelixJongleur42 commented on #3583
Wow - thanks for the quick responses ;)

[2017-01-07 13:06] FelixJongleur42 commented on #3598
If you want I can look into the source in order to pin down the problem.

[2017-01-07 13:11] #3596 closed

[2017-01-07 13:14] Beep6581 commented on #3598
You're most welcome to :)

[2017-01-07 13:51] #3597 closed

[2017-01-07 13:55] FelixJongleur42 commented on #3598
Ok, compiling for Windows just now (gtk3 branch).

[2017-01-07 16:13] Beep6581 commented on #3594
Merged.

[2017-01-07 16:13] #3594 closed

[2017-01-07 16:47] heckflosse opened #3599 "Segfault when opening a folder which contains a 13229 x 57812 jpeg"
Reproducible with [this file](https://filebin.net/ggb2rqvf2nsj9yf1/NIR_2016_0819_100536_042_stitch.jpg)

Fix follows soon.

[2017-01-07 18:21] heckflosse commented on #3599
Suggested fix:

[code]

[2017-01-07 19:09] Beep6581 commented on #3599
Fix confirmed.

[2017-01-07 19:22] jaspervdg opened #3600 "Crash on reading floating point demosaiced DNG files"
The DNG that can be downloaded [here](https://www.dropbox.com/s/0ixamhnvcmvc4lr/DSC05032-HDR.dng?dl=0) causes RawTherapee to crash (4.2.1375, 4.2.1492, as well as what's in git; on Windows). When running a (debug) build on the commandline it spews errors complaining that "DNG Deflate: Failed uncompressing tile [so and so], with error -5.". It looks like this error corresponds to Z_BUF_ERROR, indic

[2017-01-07 20:35] heckflosse commented on #3600
Crash confirmed. I will have a look to avoid the crash but float dng files with subtiles are currently not supported in rt. Though rt should not crash for these files but ignore them. That's what I will try to do now.

Ingo

[2017-01-07 21:26] KonradIT commented on #3569
What's the status on this? I also have raw GPR files from my H5 if needed and can test beta releases.

[2017-01-07 21:41] Beep6581 commented on #3569
No progress. The most likely path this will take is that we will wait for dcraw to add support for it first.

[2017-01-07 22:07] #3592 closed

[2017-01-07 22:07] #3599 closed

[2017-01-07 22:20] Partha1b commented on #3522
Hate to bring this one up again, @Floessie . Any idea what we need to do to get this incorporated into the code? Thanks!

[2017-01-07 23:58] Beep6581 opened #3601 "SONY ILCE-7M2 white levels update"
White levels measured by ISO and LENR and raw mode compressed/uncompressed (firmware version 3.30 allows uncompressed mode).

`camconst.json` entry follows tomorrow.
https://filebin.net/5l90c60ziqyzhdmm/SONY_ILCE-7M2_Raw_Levels.ods

[2017-01-08 00:37] FelixJongleur42 commented on #3598
Isolated the problem that Glib::ustring::casefold() is used a couple of times in order to do case insensitive comparison of file extensions. The method casefold() may change length of the original string (with ß) such that the "dot" position is no longer correct on the result of casefold().
Starts off that StdImageSource::getSampleFormat() cannot determine the file type.
I grepped the code for cas

[2017-01-08 01:24] heckflosse commented on #3598
@FelixJongleur42

Of course. Any improvement is welcome :+1:
Thanks for looking at this part of the code. I already opened [an issue about that](https://github.com/Beep6581/RawTherapee/issues/2289) more than 2 years ago.

[2017-01-08 01:51] FelixJongleur42 commented on #3598
Ok, how do I supply you with my changes?
Should I produce a patch file and if - how? I am not to familiar with git.
Anyway I am attaching the output of "git diff".

Please review the changes, especially the last one in rtgui/profilestore.cc - I was not sure how to run in that case (should be finding the pp3 next to the image?).

[issue-3598.patch.txt](https://github.com/Beep6581/RawTherapee/files/

[2017-01-08 02:17] FelixJongleur42 commented on #3583
I pinpointed the location to the following:
[code]
null entry was the case with #3598

I tried to put some printfs there but noting was logged to the console (running from gdb). Maybe the problem was the multi-threading and I should have flushed the output?

To get more details about the reason of the failure CacheManager::getEntry() would have to return an non-null Thumbnail indicating the error

[2017-01-08 03:19] iliasg commented on #3601
@Beep6581 can you share the sample files ? .. if not all, the compressed LENR category is enough
(compressed in 7z)

[2017-01-08 11:01] jaspervdg commented on #3600
Thanks for explaining the issue. It would certainly be a welcome improvement if RT did not crash upon encountering these files.

[2017-01-08 12:58] Desmis commented on #3546
I add "curves" to locallab.
Currently this only applies to the Retinex curve, which was previously global.

The system is a bit complex, but it works and moreover I think (except may be for the new module "curve" ... to check) that the set is more robust.

I'll explain in Rawpedia (when I could access the login again. Because now I can no longer access (except in read mode : I write to Pat David !

[2017-01-08 14:03] Floessie commented on #3522
@Partha1b I'm on Linux and cannot test.

@heckflosse How do we proceed with it?

[2017-01-08 14:35] Beep6581 commented on #3598
@FelixJongleur42 you could either create your own fork and patch that and somehow link us to that (I'm not sure exactly how as I've never done that, but git is well documented with plenty of examples online) or you could just make your changes and output a patch "git diff > patch_3598.txt", then upload that file here. The fork way is probably better as it will have a more direct link to you, while

[2017-01-08 14:41] Floessie commented on #3598
You can fork, commit on your fork, and create a Pull Request for us. See [here](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).

[2017-01-08 14:56] Floessie commented on #3598
@FelixJongleur42 I really like your patch. These are just some minor things, I'd change:
- Rename `isPNG()` and friends to `hasPngExtension()`. Then you can omit the describing comments.
- Don't refer to #3598 everywhere. This can be recovered from git history.
- The type of `lastdot` should really be `Glib::ustring::size_type`. I know, this was also wrong before... You could also make it `const`,

[2017-01-08 15:06] heckflosse commented on #3600
@jaspervdg I was wrong about the reason for the crash. The file does not have sub tiles. But it's a demosaiced floating point dng file. This is currently not supported in rt. I'm already testing a fix to skip such files.

[2017-01-08 15:09] heckflosse commented on #3522
@Partha1b @Floessie I'll test the patch in the evening

[2017-01-08 15:48] Beep6581 commented on #3601
@iliasg sure, here they all are: https://filebin.net/3pk460dqp53ekgx6

[2017-01-08 16:00] heckflosse commented on #3600
Suggested fix:

[code]

[2017-01-08 16:24] Desmis commented on #3546
I have update Rawpedia (in french)
http://rawpedia.rawtherapee.com/Local_Lab_controls/fr

[2017-01-08 17:15] Beep6581 commented on #3600
Fix confirmed, and HDRMerge DNGs are still shown and read correctly.

[2017-01-08 17:44] Beep6581 commented on #3601
As `camconst.json` doesn't handle separate values for LENR=on vs LENR=off, these are the safe levels:
[code]

@iliasg what do you think?

[2017-01-08 17:59] Beep6581 commented on #3601
To be honest there's just about no visible difference between these safe values and 16372.

[2017-01-08 18:03] iliasg commented on #3601
I just finished downloading .. I will take a look ASAP .. The LENR WLs  are affected more than I could imagine for this model .. and this with only 2sec  exposures !! .. what will happen with 30sec ??.

[2017-01-08 20:03] heckflosse commented on #3600
Reopened because the patch had side effects. Looking again now.

[2017-01-08 22:11] iliasg commented on #3601
@Beep6581
At the start, after inspecting histograms, I thoughr the above values are overconservative ..
We can tolerate a small percentage of outliers so I usually use a value which leaves out 1/5000 of pixels.
For example with this criterion I would put the ISO25600 WL at 15500.
But  If we see the frame we can detect that there is an area at top centre which is affected by the Black frame subtrac

[2017-01-08 22:38] Beep6581 commented on #3601
@iliasg I used the histogram to find safe white levels where I only allowed brightness levels with <~10 pixels in the frame. It seems like it cut off a lot of values but when I tested extreme highlight recovery in these clipped images as well as in real-life photos with clipping using my safe vs original values in camconst.json there was almost no noticeable difference.

I'll take whatever you sug

[2017-01-08 22:45] Beep6581 commented on #3601
The ISO25600 value I got was from this https://i.imgur.com/w803N8a.png (uncompressed) and this https://i.imgur.com/GbaAC7q.png (compressed).

[2017-01-08 22:56] Beep6581 commented on #2710
BTW this is still valid and I reproduced it on various machines using Windows and Linux.

[2017-01-08 23:05] heckflosse commented on #3600
I had to revert the last patch because it broke some stuff.
This one should be much better. It only changes code in the function which is calles for deflate compressed dng file, which also can only handle deflate compressed float dng undemosaiced files.
Means it can't break other stuff!
I added some console output too.

[code]

[2017-01-08 23:54] iliasg commented on #3601
The problem is that things will get worse with longer exposures ..

If these samples was at longer exposure (say > 10sec) I would go for WL_25600 = 15200, WL_12800 =15700 etc because I think that even with extreme processing nothing is visible when the probability of magenta pixels is very small percentage of the total .. so I use 100 instead of 10 as limiting population.
The curve I used in RT at

[2017-01-09 12:19] iliasg commented on #3600
@heckflosse @jaspervdg
I think this should be reported to dcoffin .. https://www.cybercom.net/~dcoffin/dcraw/

[2017-01-09 12:46] heckflosse commented on #3600
@iliasg that's not in official dcraw. It's in the code Javier wrote for hdrmerged files

[2017-01-09 13:01] jaspervdg commented on #3600
@heckflosse Ah, that makes (some sort of) sense, I guess Lightroom demosaics the files while doing the HDR merge. Note that (in case anyone else runs into this issue) a workaround seems to be to use "Export to DNG" on the merged file in Lightroom. (Not sure why this works, but it does.) I look forward to trying your (new) patch.

[2017-01-09 13:06] dimmaq opened #3602 "Crash on open JPEG file with corrupted metadata (include) +gdb log"
Hello/
Crash open image [DSC_1004.zip](https://github.com/Beep6581/RawTherapee/files/693415/DSC_1004.zip)

Test on win10x64 RawTherapee_WinVista_64_Gtk3_Release_4.2.1375 download from http://rawtherapee.com/downloads
 ubuntu 16.10x64  ver4.2.0 and unstable ver  from rep ppa:dhor/myway

GDB log
[log.txt](https://github.com/Beep6581/RawTherapee/files/693474/log.txt)
Branch: gtk3
Version: 4.2.1492
Ch

[2017-01-09 13:32] #3600 closed

[2017-01-09 13:34] Beep6581 commented on #3600
New patch works as advertised, ARWs and HDRMerge'd HDRs work fine.

[2017-01-09 13:34] heckflosse commented on #3602
Crash confirmed.

[2017-01-09 13:46] Beep6581 commented on #3602
Confirmed in Linux, the JPEG has corrupt metadata.

[2017-01-09 13:56] iliasg commented on #3601
Another data point .. Sony reports in exif WL = 15360 for all ISOs
I don't know if this is before BlackLevel subtraction or after .. but I suspect it's after
15360 + 512 = 15872 is the WL in RT's (Dcraw's) terminology.

15872 + 512 =16384 (the 14bit limit) !!
This 15872 would accuratelly be the worst case scenario if the black level subtraction (when LENR is on) happens on 14bit data with Black Le

[2017-01-09 14:26] Floessie commented on #3602
@heckflosse Didn't have a closer look, yet, but if `t->getCount()` is smaller than 8, fancy things will happen...

[2017-01-09 14:34] #3602 closed

[2017-01-09 14:35] heckflosse commented on #3602
@Floessie :+1: t-getCount was 6...

[2017-01-09 14:40] Floessie commented on #3602
@heckflosse My debug build has just finished. I came to the same conclusion, but you were faster:

[code]

Best
Flössie

[2017-01-09 19:22] heckflosse commented on #3519
@Hombre57 Can you please supply an APS-C size PEF file? We need to solve the issue for DNG and PEF before pushing.

[2017-01-09 19:47] Partha1b commented on #3522
@heckflosse Was your testing successful?

[2017-01-09 20:07] heckflosse commented on #3522
@Partha1b Sorry for late answer :( Yes, it was successful. But it should be cleaned a bit (removing commented lines and so on). Shall I do that?

[2017-01-09 21:08] Hombre57 commented on #3519
@heckflosse RT is crashing here so I can't check the shot size, however considering the file size it should be APS-C. Do not publish or share.

https://filebin.net/3m926h3eqidis75m

[2017-01-09 22:01] Partha1b commented on #3522
@heckflosse Thanks! Yes, please clean it as my formatting got messed up last time around.

[2017-01-09 23:18] heckflosse commented on #3522
@Partha1b Ok, will do that

[2017-01-10 09:33] TooWaBoo commented on #3554
This can be closed

[2017-01-10 09:33] #3554 closed

[2017-01-10 09:36] #3116 closed

[2017-01-10 09:42] TooWaBoo commented on #3087
<--- REMINDER --->
This function still drive me nuts

[2017-01-10 12:15] Hombre57 commented on #3087
@TooWaBoo @michaelezra I don't modify the crop from thumbnails neither but can understand that some people find this useful, like @michaelezra. So we could use the middle mouse button to move the crop and avoid mistake ? How would that fit when using a pen device ? Please vote on using middle mouse button OR removing that feature completely.

[2017-01-10 12:16] #2413 closed

[2017-01-10 12:23] TooWaBoo commented on #3087
I vote for removing, but I can live with the middle mouse button.

[2017-01-10 12:24] Beep6581 commented on #3087
One must press Shift to pan the crop. Making Shift required to resize a crop would be a good safeguard too. Removing, middle or shift all have my equal vote.

[2017-01-10 12:29] TooWaBoo commented on #3087
@Beep6581
Shift and Ctrl are used to select a bunch of thumbnails and then it could happen that you apply the crop to all selected images.

[2017-01-10 12:37] Beep6581 commented on #3087
@TooWaBoo good point.
Then I vote in order of preference:
1. Remove it.
2. Checkbox to enable/disable thumb crop manipulation.
3. Middle-click.

[2017-01-10 13:40] heckflosse commented on #3519
@Hombre57 Can you test [this patch](https://filebin.net/wsqk7i85uksgs0g5) with full and aps-c format pef and dng from k-1?

[2017-01-10 15:49] Kildor commented on #3087
This one. It is usefull feature for fast changing of crop. If someone doesn't need it, he can just not to switch it on.

[2017-01-10 19:41] Hombre57 commented on #3519
Sure.

[2017-01-10 20:26] heckflosse commented on #3519
@Hombre57 Great! If it works fine in your tests (here it works fine) I can push it for rt5 if there are no objections.

[2017-01-10 20:46] Hombre57 commented on #3519
Yes, works fine with FF & APS-C PEF image, and for FF DNG image. I don't have APS-C DNG image but I guess it works fine too ;). +1 for committing.

[2017-01-10 20:59] heckflosse commented on #3519
I tested with APS-C DNG image I got from you. Also works fine. Will commit now. Thanks for testing :+1:

[2017-01-10 21:21] #3519 closed

[2017-01-10 22:04] heckflosse commented on #3519
@Hombre57 Can you upload a raw file from K-1 shot in square mode? I want to test how auto distortion correction behaves for that case (comparing full size crop to square jpeg preview)

[2017-01-10 22:54] Hombre57 commented on #3519
Here is a PEF file in 1:1 crop format https://filebin.net/wsqk7i85uksgs0g5 , but I don't know if lens correction was enabled. If not, I won't be able to take a new one until my K-1 come back from the repair service.

[2017-01-10 23:22] heckflosse commented on #3519
@Hombre57 Does not matter whether lens correction is enabled. I just want to try whether the autl lens correction algo does not crash in that case.

[2017-01-10 23:24] heckflosse commented on #3519
@Hombre57 Just tested. No crash, no correction, fine :)

[2017-01-11 14:41] virosh opened #3603 "Build on Linux broken due DCP profile filename typo"
Hello!

I tried to build RT few minutes ago and surprisingly it failed.
The issue was with one of the DCP profiles - Sony ILCE-6000.dcp. When the make script tries to copy the profile to the build directory it fails due to the fact that the filename is **SONY** ILCE-6000.dcp.
The workaround is to rename the file and run the BuildRT without forcing an update.
Below you will find information regardi

[2017-01-11 15:48] #3603 closed

[2017-01-11 15:49] heckflosse commented on #3603
@virosh Thanks for reporting :+1:

[2017-01-11 16:22] TooWaBoo opened #3604 "Update TooWaBlue Gtk+3.22 Version 2.31"
Minor fixes,
External images of radio- and checkbuttons are no longer needed.
[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/699382/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/699383/TooWaBlue-Dark-GTK3-20_.txt)

[2017-01-11 20:52] Beep6581 commented on #3604
Can you submit a patch/PR which removes the buttons and updates the files?

[2017-01-11 21:11] Beep6581 commented on #3603
Colortarget photos and the DCP profiles generated from them are to be named exactly the same way RawTherapee identifies them. This is the case here; other profiles will be updated before RT5 release.

[2017-01-12 02:22] TooWaBoo commented on #3604
@Beep6581
I don't understand what you mean. The theme uses now the Adwaida checkbox and radiobutton with a modified frame. All is done by css.

[2017-01-12 07:31] #3604 closed

[2017-01-12 15:08] Desmis commented on #3546
I push a change.
I update GUI with expanders !

[2017-01-12 15:50] TooWaBoo opened #3605 "Looking for Theme Testers"
I've created a test TooWaBlue theme to address the issue of different DPI settings.
The layout grows with the font size. I don't know if it solves the issue, so I need some testers who can test different DPI settings and post some screenshots.

[TooWaBlue-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/718899/TooWaBlue-GTK3-20_.txt)
[TooWaBlue-Dark-GTK3-20_.txt](https://github.com/Beep

[2017-01-12 22:56] Hombre57 commented on #3590
This bug will be fixed on Saturday.

[2017-01-12 23:09] heckflosse commented on #3590
@Hombre57 :+1:

[2017-01-13 12:08] Hombre57 commented on #3605
@TooWaBoo Keep in mind that we (i.e. @Beep6581) will generate several icon size in a near future to each high-DPI support, I don't want you to make useless fine tuning (but it's up to you of course).

Also there are lots of in source functions to control spacing. You can look for `set_column_spacing`, `set_row_spacing` (gtk3 functions) and `set_border_width`, `set_spacing`. I don't have enough tim

[2017-01-13 15:02] TooWaBoo commented on #3605
@Hombre57
Thanks for the info, but 99% are finished now. :-) I've updated the test file to **version 2**.
The sized images are no problem, as long as they are smaller or equal as the button itself.
Right now I can live with the hardcoded sizing. We can talk about this when you are working on it.

At the moment I'm intersted how the theme looks like on high DPI settings and on a Macintosh (differen

[2017-01-13 23:29] heckflosse commented on #3489
I pushed a lot of new stuff to pixelshift branch and André already made a [win64 build](https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8) (the last in the list).

[2017-01-14 11:30] gaaned92 opened #3607 "GTK3 warnings on Windows"
system windows10
[code]
gtk3 3.22.4

@Hombre57 Perhaps you are already aware of those warnings. When I start in verbose mode, I get GTK3 warnings:
[code]

For the first warning I tried to copy the Adwaita/cursors subdirectory with no effect.
It does'nt seem to be harmful as nobody complained.
André

[2017-01-14 18:03] Hombre57 commented on #3489
I don't know what the gazillions of options does and how to use them but still, I managed to have very detailed images with this new feature, so thanks a lot @heckflosse and @iliasg for have done such a great tool.

Can I ask what the "Median" option does ?

[2017-01-14 18:49] heckflosse commented on #3489
@Hombre57

I will write a tutorial soon. Some of the options surely will not be in the final release.

Isn't the tooltip understandable?

[code]
One use case for 'Median' are shots with water (e.g. the waterfall example from dpreview)

[2017-01-14 19:06] heckflosse commented on #3489
@Hombre57

Left is without `Median` using 4th frame for regions with motion and right is using `Median`:
![ps_waterfall_median](https://cloud.githubusercontent.com/assets/13733487/21957364/cae8221e-da94-11e6-9ed4-8e141cd0c697.png)

[2017-01-14 21:17] Hombre57 commented on #3489
First, I didn't even looked for a tooltip, sorry for that. But even with the tooltip, I couldn't imaging the use case (in fact I don't fully understand the tooltip, but once translated it should be ;) ).

That median feature is in itself a very cool feature ! I guess that someone will ask to add that feature even for non PS images within a week after the Release :)

[2017-01-14 21:40] Hombre57 commented on #3607
@gaaned92

I don't have those warnings but other ones :
[code]

I won't care too much on the above warning until things gets solved in Gtk3. I've spend enough time on this personally. But yours seems intriguing. I don't think I'll be able to help you, but probably @Beep6581 will be more helpful.

[2017-01-14 23:17] TooWaBoo commented on #3607
That's what I get.
[code]

[code]

[2017-01-15 00:56] Hombre57 commented on #3590
Fixed in PR #3608

[2017-01-15 10:49] Partha1b commented on #3607
@TooWaBoo if that's the only warning you get, then you are good to go as I have seen the same warning on other applications based on my search.

The scrollbar warning reported by @Hombre57 and me and others comes and goes and as @Hombre57 said, we probably have to wait for gtkmm to stabilize.

[2017-01-15 14:49] Beep6581 commented on #3605
@TooWaBoo you can test for yourself using the environment variables `GDK_DPI_SCALE` and `GDK_SCALE`.

[2017-01-15 16:59] Beep6581 commented on #3590
Thank you for the fix! Confirmed to work well.

[2017-01-15 17:50] Hombre57 commented on #3581
could you deleted branch iptc12 ?

[2017-01-15 17:54] Hombre57 commented on #3300
Last blocking bugfix committed. ( @Beep6581 @heckflosse ) Please be careful with astyle : if it's very invasive, it may be hard/complex to merge into other branch.

[2017-01-15 20:54] Beep6581 commented on #3581
Done.

[2017-01-15 22:40] Beep6581 commented on #3590
Closing the issue as the PR has been merged and the branch deleted.

[2017-01-15 22:40] #3590 closed

[2017-01-16 01:32] TooWaBoo commented on #3605
@Beep6581

Testing on my systemis is easy. I'm setting different DPI values, or changeing the font size.
What I want to know is, how it looks like on other systems and/or OS. eg. the font size value on OS X is not the same like in Windows.

btw. Where can I find those environment variables in Windows?

[2017-01-16 01:52] TooWaBoo commented on #3605
Test theme update to version 6 in the first post.

[2017-01-16 12:31] Desmis opened #3610 "Cannot compile GTK3"
Hello

After many days, for Localllab, I try again GTK3, the last time it was a few weeks ago.

And I cannot compile, with error message "Align' is not an enumerator-name", etc.

I saw,there is a new version of MSYS2. I am with "msys2-x86_64_20150916" and the current is "msys2-x86_64_20161025"...

What must I do ? What precautions ?

Thank you :)

[2017-01-16 12:46] Beep6581 commented on #3610
Hey @Desmis
These instructions are up to date: http://rawpedia.rawtherapee.com/Windows
Make sure you either delete or rename the "build" folder when switching branches.
If you still have a problem, please paste the full log.

[2017-01-16 13:03] Beep6581 commented on #3605
https://www.nextofwindows.com/how-to-addedit-environment-variables-in-windows-7

In Linux they can be used from the same command which launches the executable, so it's quite likely the same thing will work in Windows:
`GDK_SCALE=2 GDK_DPI_SCALE=1 C:\rt\rawtherapee.exe`

[2017-01-16 16:25] Desmis commented on #3610
@Beep6581
https://filebin.net/jxxgqroj85819zt8

I completely reinstalled MSYS2, because no choice to update Msy2 ??

Previously, but I did not delete it I had a folder "msys64". I called the new "msys64new".
The installation was quite long, but no problem.

I created a Clone in:
C: / msys64new / home / jacques / R_T1

Then I chose the branch gtk3

The compilation went smoothly:
But at the executio

[2017-01-16 16:41] Beep6581 commented on #3610
@Desmis maybe @heckflosse can help you as he helped someone with the same problem here: https://discuss.pixls.us/t/help-in-developing-rawtherapee-as-developer/1610/6?u=morgan_hardwood

[2017-01-16 17:07] Desmis commented on #3610
@Beep6581
@heckflosse

I used the other "Old" Installation "Msys2", and all works well : compilation - execution

Perhaps a conflict between the 2, but if I delete the first...I will have nothing !!

I look at "environment variables", but I don't see anything no normal ??

I wait from Ingo

Thank you
Jacques

[2017-01-16 17:39] TooWaBoo commented on #3605
@Beep6581

This has nothing to do with the theme itselfs. If your DPI setting is set to 200% the system is scaling up all images except the tumbnails. This happens with the RT theme too.

[2017-01-16 17:57] heckflosse commented on #3610
@Desmis
Hello Jacques, I never had that `_ZN4Glib17signalProxyNormal13connect_impl_EbON4sigc9slot_baseEB ==> not found` bug.
For building gtk2 and gtk3 branches I use two build folders `build2` and `build3`.

why not keep the first as it seems to work now?

Ingo

[2017-01-16 18:17] Desmis commented on #3610
@heckflosse
OK, its what I do...I have 4 or 5 clone, and I choose between...

But with the first I cannot compile gtk3 !

Jacques

[2017-01-16 18:36] Beep6581 commented on #3605
I know, that's why I wrote "regardless of theme".

[2017-01-16 18:55] TooWaBoo commented on #3605
You can also set a DPI in the theme by doing this:
[code]

[2017-01-16 19:35] heckflosse commented on #3610
@Desmis I meant 1 clone, but 2 build folders inside the clone folder. One for gtk2 and one for gtk3 based branches

[2017-01-16 20:14] Beep6581 commented on #3605
That's the equivalent of using `GDK_SCALE=1 GDK_DPI_SCALE=2` (replace "2" with whatever), i.e. only text is scaled, but real HiDPI requires `GDK_SCALE=2` which scales all elements, not just text.

[2017-01-16 20:34] Blizzara opened #3611 "ISO steps 2/3 and 1 have same brightness (Canon 60D raw)"
Hi,

After applying the "Neutral" profile and equal white balance, two CR2 files taken with different ISO settings (otherwise same settings) seem to have same brightness, both in preview and after exporting, when the ISO's are steps 2/3 and 1, e.g., 160 and 200.

The change from 125 to 160 is about twice the change from 100 to 125, suggesting that the values are like 100 -> 125 -> 200 -> 200 -> ..

[2017-01-16 20:49] heckflosse commented on #3611
It's roughly the same change (1.28 to 1.25)

I think your issue is related to being Canon intermediate ISO settings not being real ISO settings. Have a look [here](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/camconst.json#L646). Why are white levels different for intermediate ISO settings? Maybe @iliasg knows more...

Ingo

[2017-01-16 21:13] TooWaBoo commented on #3605
TWB test update to version 7 in the first post.
Checkbox, radio button and scrollbar resizing added.

@Hombre57
I can't resize the filmstrip scrollbar. I guess there are some things hardcoded. Could this be the reason of the scrollbar stuck issue? Maybe a floating scrollbar will fix it.

[2017-01-16 21:24] Blizzara commented on #3611
I was suspecting the intermediate ISO's, and I was ready to call it a "feature" of CR2, but when dcraw procuded different output I decided to ask. The white levels specified in camconst.json seem to be the reason - after setting the white level to same number for all ISO's for the 60D, the "Neutral" profile works as expected. Then setting the ISO160 photo's exposure compensation to 0.0 and ISO200'

[2017-01-16 21:54] dnw3039 opened #3612 "D65 Color Target Shots for Nikon D7000"
Colour target shots for Nikon D7000

https://filebin.net/i1dhccis98x2un7g/_DSC8221.NEF

https://filebin.net/i1dhccis98x2un7g/_DSC8227.dng

regards

David

[2017-01-16 22:04] Beep6581 commented on #3611
@Blizzara are you J.B.?

[2017-01-16 22:12] Beep6581 commented on #3612
@dnw3039 thank you, but please shoot the target smaller so that it fills less of the frame (1/3rd), like this https://i.imgur.com/7ptIcsP.jpg
shoot it in direct sunlight, use a faster shutter speed so that there is no motion blur, and shoot about 2EV brighter because your shot it 2EV underexposed. We also need a tungsten shot.

Instruction updated, see http://rawpedia.rawtherapee.com/How_to_create

[2017-01-17 00:13] Hombre57 commented on #3605
@TooWaBoo No, there isn't any hardcoded styling for those scrollbars. It's part of "the mysteries of the Gtk scrollbar" for me.

[2017-01-17 06:22] Blizzara commented on #3611
@Beep6581 No, I'm not. But LapseStudio was something I've been looking for for ages, so I've been trying to fix / finalize it so that it would work (at least for me) :)

-Arttu

[2017-01-17 08:26] iliasg commented on #3611
@Blizzara
Dcraw uses a single WL = 12279 for all ISOs which is only correct for ISOs 160-320-640 etc while it clips some highlights from ISOs 100 and 125 and a lot of highlights from ISOs200-250-400-...

RT with camconst.json uses the correct WL for each ISO so that we take no clipped highlights nor magenta highlight (which happens when we use a WL higher than the correct)
So a change to a single

[2017-01-17 08:37] Desmis commented on #3610
@Beep6581 @heckflosse
I repeat new installations, twice...
To have maximum chances, I create a new Msys2 : mingw64n in an other drive D:
I look at all messages, the only I saw is in:
"pacman -S tar gzip nano make diffutils intltool git " where "avertissements "are done for impossibility to recupare info files SVN in usr/share/ma/man3/git::SVN for 7 files : Ra.3pm.gz, etc.

Otherwise, alla seems to

[2017-01-17 08:39] Blizzara commented on #3611
@iliasg, makes sense. Would it be possible for RT to somehow compensate for the different white levels with for example some internal correction term to exposure compensation, using the ratios you mentioned?

[2017-01-17 09:02] iliasg commented on #3611
I don't think we can do something simple in the code .. any such try would either destroy linearity or clipp highlights :( .. and it's getting complex because we have to deal with different behaviour of each model ..

BTW I don't fully understand what you really need to calculate so that you cannot overcome the fact that ISO160 is same as ISO200 ..

[2017-01-17 09:03] Desmis commented on #3610
I try to update my old Msys2 with the process in MSYS2 doc : pacman -Syuu

But I have very very numerous errors....
Now, new MSYS2 and old MSYS2 does not woks !!!

I think, all desinstall...with which tools ? and reinstall after.... or change my computer ?
In any case, I can not do anything for RT

:)

[2017-01-17 09:25] Blizzara commented on #3611
@iliasg, ok :(

I want to calculate EC values that make all images in a timelapse series have similar brightness. There are a couple of different ways of calculating the brightness, the ones I've tried so far are:
1) calculate from the embedded preview using some formula
2) convert the CR2 to TIFF with dcraw and calculate from the TIFF using some formula
3) assume the scene has equal brightness th

[2017-01-17 11:03] reggybe commented on #3611
Hello,

The ISO settings of a camera are not always exact: ISO 200 can be 200 in reality, but can also be eg. 180. ISO 400 on the same camera can be 360 in reality. Look for your camera on www.dxomark.com. There is also a video on intermediate settings: google for 'RawDigger Case Studies - The Riddle of the Intermediate ISO Settings'.

Reggybe

[2017-01-17 12:10] Desmis commented on #3610
@Beep6581 @heckflosse
It seems to work :)
I am careful, because there was still at the start a crash with the message:

(rawtherapee.exe:35412): GLib-GObject-←[1;33mWARNING←[0m **: instance of invalid non-instantiatable type '<invalid>'

(rawtherapee.exe:35412): GLib-GObject-←[1;35mCRITICAL←[0m **: g_signal_handlers_destroy: assertion 'G_TYPE_CHECK_INSTANCE (instance)' failed

If I restart RT ever

[2017-01-17 12:35] iliasg commented on #3611
I thing it's better to stop using intermediate ISOs for this job .. you gain nothing because
- ISO 125/250/500 etc are ISO100/200/400 multiplied by 1.25 after digitization .. there is no gain .. only loss of 1/3stop highlights
- ISO 160/320/640 etc are ISO 200/400/800 multiplied by 0.80 after digitization .. it's same as if you used ISO200/400/800 with +1/3 EV setting ..

For already existing shot

[2017-01-17 12:48] Desmis commented on #3610
I install 2 clones
1) for gtk2
2) for gtk3
All seems to work :)

I think Rawpedia must be updated.... At least in my case, we cannot install another MSYS2...That leads to crash, and big difficulties ! The best for me, is to uninstall old version, and then reinstall. Its take about 1h30, but it's sure !

[2017-01-17 13:01] Beep6581 commented on #3610
@Desmis happy to hear you sorted the problem out!

I'm happy to help with that, but I don't see what to update...
http://rawpedia.rawtherapee.com/Windows
The article doesn't mention having two MSYS2 installations, it only says:

[2017-01-17 23:20] Partha1b commented on #3522
@heckflosse  don't mean to be annoying, 🙂 can we close this issue soon? Thanks!

[2017-01-17 23:46] heckflosse commented on #3522
@Partha1b Sorry, you're right by doing that. Had too much on hold :(
Just cleaned your patch a bit and tested on Win64 (works fine there). Need at least a test on Linux and OSX before I can push it to master.
[Here's the cleaned patch](https://gist.github.com/heckflosse/f4d3fe2bfa384192260c126f106b0c39) (mainly cosmetic changes)

[2017-01-18 10:35] #3611 closed

[2017-01-18 10:36] Beep6581 commented on #3601
Sorry, I have not had time to get back with the new shots. I will probably do that after RT5.

[2017-01-18 10:37] Beep6581 commented on #3598
Can we get this into RT5? @FelixJongleur42 @Floessie @heckflosse

[2017-01-18 10:55] Beep6581 commented on #3522
GCC-4.9.3
[code]

[2017-01-18 11:50] Partha1b commented on #3522
Thanks Ingo for pushing this through. I don't expect this will have any
impact on Linux/OSX.

On Tue, Jan 17, 2017 at 6:46 PM, Ingo Weyrich <notifications@github.com>
wrote:

[2017-01-18 12:07] Partha1b commented on #3522
Sorry Beep6581, which platform is this? It compiled fine for me on Windows
10 with gcc-6.2.0.

On Wed, Jan 18, 2017 at 5:55 AM, Beep6581 <notifications@github.com> wrote:

[2017-01-18 12:10] Beep6581 commented on #3522
@Partha1b Sabayon.

[2017-01-18 12:12] heckflosse commented on #3522
@Partha1b Looks like a typo `sucess` vs. `success`

[2017-01-18 12:37] Beep6581 commented on #3522
Compiled fine when I correct the typo, and "Other command line" and "GIMP" work fine.

[2017-01-18 13:11] heckflosse commented on #3522
@Beep6581 :+1: for push with the corrected typo

[2017-01-18 13:18] #3522 closed

[2017-01-18 14:25] Partha1b commented on #3522
As Tony the tiger says, "Grrrrrreat!!" :)

On Wed, Jan 18, 2017 at 8:18 AM, Beep6581 <notifications@github.com> wrote:

[2017-01-18 17:36] Floessie commented on #3598
@Beep6581 As said, I like the patch. If @FelixJongleur42 comes up with a cleaned up version, it should be merged for RT5.

[2017-01-18 18:48] FelixJongleur42 commented on #3598
Thanks for your feedback. I'll see to make the changes this week.

[2017-01-18 20:14] TooWaBoo commented on #3605
TWB test update to version 10 in the first post.

Resizing of the filmstrip scrollbar works now. Minor fixes.
This is the final test. Everything which could be done by the theme file has been done.

[2017-01-18 20:22] Beep6581 commented on #3269
@CharlesRT2 the daylight shot is not clipped at all.

In a moment I will commit a DCP for RT5 because it's not bad, and better than without one, but it would be good if you could still provide us with a better tungsten shot, as described above.

[2017-01-18 20:50] Beep6581 commented on #3605
@TooWaBoo advertise this in the forum for more feedback. Let me know when it's ready for commit.

[2017-01-18 21:10] Beep6581 commented on #3612
@dnw3039 Friday is the last day for inclusion in RT5, though if you can't make it by then we will just include it in 5.1.

[2017-01-19 03:14] adolski opened #3613 "Ability to write images to stdout in command-line mode"
It would be great if RawTherapee were able to write images to stdout in command-line mode. This would be super useful for invoking from other tools and capturing the output in memory.

I have tried doing something like:

`rawtherapee -o /dev/stdout -t -Y -c image.dng`

In this case, RT tries to create a file called `/dev/stdout.tif`.

If I try to get clever and do:

`ln -s /dev/stdout stdout.tif`

[2017-01-19 04:40] dnw3039 commented on #3612
I have tried to get the best exposure, but I don't think they are are right as I can not produce a good DCP from them. Anyhow here are my attempts.

It is very hard to find a tungsten globe now in Australia, imports have been banned for the last 15 years. I found an old 150w spotlight in the attic.

https://filebin.net/x6soot8erd7u52cr/tungsten.NEF
https://filebin.net/x6soot8erd7u52cr/daylight.NEF

[2017-01-19 08:17] TooWaBoo commented on #3605
TWB test update to version 11 in the first post.

Resizing of the scrollbar rewritten.
Add a workaround for the scrollbar stuck bug. The filmstrip height is now calculated correct. There is a small issue with the workaround. The correct length of the filmstrip/file browser scrollbar is wrong and will be corrected after hovering the scrollbar the first time.

@Hombre57
Let me know when you need hel

[2017-01-19 14:35] ezombie opened #3614 "failed install Fujifilm X-E2.dcp"
-- Up-to-date: /home/test/rawtherapee/build/release/./dcpprofiles/Fujifilm X-E2.dcp
CMake Error at rtdata/cmake_install.cmake:220 (file):
  file INSTALL cannot find
  "/home/test/rawtherapee/rtdata/dcpprofiles/Fujifilm X-T1.dcp".
Call Stack (most recent call first):
  cmake_install.cmake:80 (include)

Makefile:61: recipe for target 'install' failed
make: *** [install] Error 1

real	0m4.155s
user	0

[2017-01-19 14:38] heckflosse commented on #3614
@ezombie Some dcp files have been renamed. Please run cmake again before running make. That should solve the issue.

[2017-01-19 14:39] #3614 closed

[2017-01-19 15:59] heckflosse opened #3615 "Cannot switch branches on Windows"
I made a fresh clone to push some changes to pixelshift branch but cannot switch the branches anymore.
Here's the log:
[code]
I did not change anything after cloning, but git tells me that this dcp is modified...
@Beep6581 Help please...

[2017-01-19 16:08] heckflosse commented on #3615
I made [a commit](https://github.com/Beep6581/RawTherapee/commit/a33d574bc72dd74ead2f9c12f2f2041ecb926f79) to be able to continue work...
@Beep6581 please check

[2017-01-19 16:45] gaaned92 commented on #3615
Effectively NIKON D750.dcp appears as not committed. As I stash all uncommitted modification before switching branch, it doesn't annoy me.

[2017-01-19 20:11] gaaned92 commented on #3615
But now after switching to GTK3, it is impossible to switch automatically without a manual clean

[2017-01-19 20:17] FelixJongleur42 commented on #3615
I just made a fork and a branch - and I have the exact same problem is Ingo has.
Though I have to admit I am a total GIT noob and I am trying to work myself into this

Maybe it's some text=auto problem?
Something along the lines of http://stackoverflow.com/questions/6335521/git-how-to-revert-2-files-that-are-stubbornly-stuck-at-changed-but-not-committ but I could not get it to work.

[code]

[2017-01-19 21:24] Beep6581 commented on #3615
1. The DCPs committed in the last two days are the results of hours of work, please do not ruin that.
2. NONE of the DCPs have been renamed. I repeat: NONE have been renamed. All the newly committed DCPs have all been regenerated from scratch, the old ones were deleted, then new ones with new names (capitalized) were moved into rtdata/dcpprofiles.
3. Git sucks at binary file history. Git does not

[2017-01-19 21:43] FelixJongleur42 commented on #3598
Added pull request #3616

[2017-01-19 21:45] FelixJongleur42 commented on #2289
Added pull request #3616
Issue #3598 is basically a duplicate of this bug.

[2017-01-19 22:01] Beep6581 commented on #2289
Closing as duplicate of #3598
Thank you @FelixJongleur42

[2017-01-19 22:01] #2289 closed

[2017-01-19 22:17] Beep6581 commented on #3615
This explains what caused the problem: http://stackoverflow.com/a/2529872

[2017-01-19 22:26] Beep6581 commented on #3615
Commit 7a884ba4 added 'NIKON D750.dcp' without deleting the old 'Nikon D750.dcp', which caused the problem on Windows which stackoverflow explained. I apologize for my mistake.

[2017-01-19 22:28] heckflosse commented on #3615
@Beep6581 Shit happens. Thanks for fixing it :+1:

[2017-01-19 23:24] Hombre57 commented on #3300
@Beep6581 I'm on the verge of finishing the French translation strings, due tomorrow evening. Could you wait my commit before tagging RT5 please ? It would be better to include the finished translation in the initial release IMHO.

[2017-01-20 07:24] Floessie commented on #3615
Wow, @Beep6581, thanks for the explanation. Another lesson learned ... :+1:

[2017-01-20 09:18] TooWaBoo commented on #3605
@Beep6581
Final update TooWaBlue version 2.40 in the first post. Ready for commit

[2017-01-20 09:41] Beep6581 commented on #3300
@Hombre57 sure.

RawTherapee 5 release date is set for Sunday.

[2017-01-20 09:49] Beep6581 commented on #3605
@TooWaBoo so you would like this to overwrite the existing TWB theme files, correct?

[2017-01-20 10:06] TooWaBoo commented on #3605
@Beep6581
Yes, or is there any reason to keep the non DPI version?

[2017-01-20 10:13] Beep6581 commented on #3605
@TooWaBoo not that I know of. As long as someone with a real HiDPI screen confirmed no issues. And the non-`em` version will always be in git history, if we need it.

[2017-01-20 10:16] TooWaBoo commented on #3605
Then we should replace the px-version.

[2017-01-20 11:19] Beep6581 commented on #3605
TODO #3300

[2017-01-20 11:32] gaaned92 commented on #3615
@Beep6581 Thanks for fixing it and for hard work.
Please merge master  for next modification of GTK3.

[2017-01-20 11:57] iliasg commented on #3300
@Hombre57 what about https://github.com/Beep6581/RawTherapee/issues/3506 ?

[2017-01-20 12:39] Hombre57 commented on #3300
Yes, I'll have a look tonight.

[2017-01-20 16:23] heckflosse commented on #3534
Suggested fix:

[code]

[2017-01-20 16:36] heckflosse commented on #3534
This one is enough to fix the crash:

[code]

[2017-01-20 19:26] Hombre57 commented on #3605
@TooWaBoo What do you want me to do exactly ? How does your workaround works and what should be done in the code ?

[2017-01-20 19:33] TooWaBoo commented on #3605
@Hombre57
Add this to your css.
[code]
Every time, when you hovering the scrollbar it triggers a refresh, which makes the scrollbar usable.

[2017-01-20 19:53] #3534 closed

[2017-01-20 19:55] #3615 closed

[2017-01-20 21:11] heckflosse commented on #3598
@Floessie @FelixJongleur42 Thanks :+1:

[2017-01-21 03:45] dnw3039 commented on #3612
Hi,

When you have finished the work for RT v5. Could you advise me on how to get a good profile image.
I don't think I have ever had a better result than -  "  25.00% of the patches was removed due to being nearby the whitepoint.  Largest chromaticity group contains 2 patches. Patch count reduced from
  24 to 17.'

This was taken in my garden about midday in full sunlight, - there are large tress

[2017-01-21 11:40] TooWaBoo commented on #3605
@Hombre57
I thought too complicated for the _Scrollbar stuck workaround_. :-)
This will do the same simpler:

[code]

[2017-01-21 17:36] Beep6581 commented on #3506
@Hombre57 can this be closed?

[2017-01-21 18:19] paperdigits opened #3617 "Tungsten Color Target Shots for YI M1"
Here are Tungsten Color Target Shots for the YI M1. I've uploaded many, hopefully one of them is suitable. Some are directly lit by the bare bulb, while others are bounced off a white wall.

https://filebin.net/phxuc52gzj5ddiym

[2017-01-21 18:35] paperdigits opened #3618 "Tungsten Color Target Shots for Nikon D750"
Here are color target shots for the Nikon D750. I've uploaded many, since I'm not sure which one is good and which one isn't. Some are directly lit by the bulb, while others are bounced off a white wall.

https://filebin.net/cdm83p07f02jck0s

I release these files under the Creative Commons Zero license.

[2017-01-21 20:20] #3506 closed

[2017-01-21 22:13] Beep6581 commented on #3598
Committed, closing.

[2017-01-21 22:13] #3598 closed

[2017-01-22 01:19] CharlesRT2 commented on #3269
@Beep6581 Here is a shot under a 60-watt GE soft light. [https://filebin.net/vpncnfl2qttmt5hc]

Shot at the base ISO of the Fuji X-Pro 2, ISO 200.

[2017-01-22 01:53] CharlesRT2 commented on #3269
@Beep6581 Here is another light bulb shot with, I believe, less camera shake.
https://filebin.net/zji0tcwu8y3oc93v

[2017-01-22 10:18] Beep6581 opened #3619 "Crash when saving crop size 0x0 TIFF"
1. Open a photo,
2. Apply Neutral,
3. Set crop width and height to 0x0,
4. Save
4.1. JPEG - "Maximum supported image dimension is 65500 pixels" in console, no file created, popup warning.
4.2. TIFF any bit-depth with any compression - crash 1.
4.3. PNG any bit-depth - 0-byte file created, popup warning, error in console.

Saving to JPEG or PNG: https://i.imgur.com/OmOJe1V.png

Crash 1:
[code]

PNG

[2017-01-22 10:34] Beep6581 opened #3620 "Buggy logic in prevention of 0x0 crop"
Related to #3619

The crop tool appears to have some logic which turns the tool off when the width and height are 0x0, but this logic is buggy.

1. Apply neutral from File Browser
2. Open image
3. Enable crop
4. Set width and height to 0 - crop tool gets disabled.
5. Re-enable crop.
6. Bug 1: Click the spinner + button to increase crop width or height. Width and height change to 1, but crop tool g

[2017-01-22 11:29] Floessie commented on #3619
@Beep6581 `getW()` and `getH()` should be `> 0` in `ImageIO::save*()`. `ImageIO::saveTIFF()` crashes on
[code]
as `getW()` is `-1`.

I can make a PR, but only tonight as I have to leave now. Feel free to fix the three places yourself.

Best
Flössie

[2017-01-22 12:05] Beep6581 commented on #3619
@Floessie seems simple enough, but I'll leave it for you or someone else who speaks the C++ language. It doesn't need to go into 5.0.

[2017-01-22 13:08] Beep6581 commented on #3269
@CharlesRT2 thank you, new raw file (D2CF3626.RAF) added, DCP updated.

[2017-01-22 13:08] #3269 closed

[2017-01-22 14:37] Beep6581 commented on #3618
As discussed on IRC, due to underexposure and glare and uneven lighting these shots are not usable.
https://i.imgur.com/uEGxJLS.png

[2017-01-22 15:42] #3620 closed

[2017-01-22 15:44] Beep6581 commented on #3619
Commit ddc05d8 from Ingo avoids the problem. @Floessie feel free to commit your fix as well if you feel one is still necessary.

[2017-01-22 15:45] heckflosse commented on #3619
Reopened to make a more complete fix once rt5 is released

[2017-01-22 16:49] Hombre57 commented on #3605
@TooWaBoo I tried hard to fix the scrollbar bug in the code, but I give up. However your change in CSS just above doesn't work either when pasted in rawtherapee's main theme.

[2017-01-22 16:57] TooWaBoo commented on #3605
Did you test the TooWaBlue theme too?
I've modified the RT theme and it works with RT 4.2.1527 on Win 10 x64.
[RawTherapee-GTK3-20_.txt](https://github.com/Beep6581/RawTherapee/files/722087/RawTherapee-GTK3-20_.txt)

[2017-01-22 17:04] Beep6581 commented on #3612
@dnw3039 the daylight shot is underexposed by 1.3EV. Could be improved but not a big problem. The tungsten shot is unevenly lit - that leads to massive delta-E and is a showstopper. The shots must be re-taken.

[2017-01-22 18:54] #3619 closed

[2017-01-22 20:25] Hombre57 commented on #3605
@TooWaBoo Your patch work as you described, I forgot the "hover" step. Not a full fix but better than nothing. @Beep6581 have committed this patch, and should commit your theme before tagging too.

[2017-01-22 20:25] Beep6581 commented on #3605
@TooWaBoo are you around?
I will change this:
  `Version 2.40 - requires RT 4.2.1445 or higher`
to a more user-friendly this:
    `Version 2.40 - requires RT 5.0`
Let me know ASAP if you don't want that. Sorry for the short notice.

[2017-01-22 20:28] Beep6581 commented on #3300
Are your whiskies ready?

[2017-01-22 20:30] Hombre57 commented on #3300
Sorry, Champagne for me ;)

[2017-01-22 20:30] heckflosse commented on #3300
Of course :+1:

[2017-01-22 20:38] #3605 closed

[2017-01-22 20:40] Desmis commented on #3300
No problem for me. 
But with Rhum :)

Envoyé depuis un mobile Samsung

-------- Message d'origine --------
De : Beep6581 <notifications@github.com>
Date : 22/01/2017  21:28  (GMT+01:00)
A : Beep6581/RawTherapee <RawTherapee@noreply.github.com>
Cc : Desmis <jdesmis@gmail.com>,Mention <mention@noreply.github.com>
Objet : Re: [Beep6581/RawTherapee] New major release - RT5 (#3300)

Are your whiskies r

[2017-01-22 22:12] Hombre57 commented on #3300
RT5 is out, thanks to everyone involved !

[2017-01-22 22:46] Beep6581 commented on #3300
Thank you everyone! A great pleasure and honor :)

[2017-01-23 07:01] Floessie commented on #3300
:tada: :fireworks: I really had lost my faith in the "this sunday" announcements, but this time you really made it! Thanks @Beep6581 for managing this awesome release and all of you who put time and heart into this wonderful piece of software. :+1:

[2017-01-23 09:58] innir opened #3622 "RT5 tarball: ReleaseInfo.cmake in wrong directory"
Hi,

in the RT5-gtk3 tarball the ReleaseInfo.cmake is located in rawtherapee-5.0-gtk3/ReleaseInfo.cmake but it should be in the root directory of the tarball. It's a bug in the script tools/generateSourceTarball (I can fix it later this week)

Could you please fix the tarball?

Thanks,
Philip

[2017-01-23 10:05] innir commented on #3622
BTW: Thanks for all your hard work- this is really a wonderful release you created!
And thanks for (hopefully) making it possible to enter Debian stretch!

[2017-01-23 10:32] TooWaBoo commented on #3605
@Beep6581

That's OK.

[2017-01-23 10:46] Beep6581 commented on #3622
Thank you for the report, we will fix the tarball and the script today.

[2017-01-23 11:15] gaaned92 commented on #3300
Thanks @Beep6581  and all developpers for this awesome software

 W64 Master and gtk3 5.0 stable builds are uploaded here [https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8](https://drive.google.com/open?id=0B2q9OrgyDEfPS2FpdDAtMVI1RG8)
default installation in "program files/rawtherapee"
beware that only one stable version can be installed.
W32 builds to follow
André

[2017-01-23 11:53] Hombre57 commented on #3300
Is the Gtk3 version using gtk3.18 ?

[2017-01-23 12:47] Desmis commented on #3546
I push a change with a new curve C=f(C) in branch locallabgtk3
No problem ! I have merge  locallab to gtk3 on january 21 jan.

@Beep6581
Now I want to merge with branch gtk3 and Git said me
Nikon 750.dcp is suppressed in gtk3 and modified in HEAD (traduction from french)
(I had not this message 2 days ago)

What must I do ? which command ?
Thank you !

[2017-01-23 13:04] sguyader commented on #3300
I think I'm one of the few still having GTK+ 3.18 in my MSYS2 installation,
so I'm building a Windows 64 binary with that GTK version right now. It
should be uploaded in an hour or so.

Le 23 janv. 2017 07:53, "Jean-Christophe" <notifications@github.com> a
écrit :

Is the Gtk3 version using gtk3.18 ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2017-01-23 13:06] Beep6581 commented on #3546
@Desmis I'm in a meeting right now, I will get back to you in an hour!

[2017-01-23 13:38] sguyader commented on #3300
Here's a Gtk3 build for Win64, made with Gtk+ 3.18: [](https://filebin.net/cwbf4z2yh5phnivm)

[2017-01-23 13:51] Beep6581 commented on #3546
See https://github.com/Beep6581/RawTherapee/issues/3615#issuecomment-273916382

The file `rtdata/dcpprofiles/Nikon D750.dcp` was deleted, there is a new file `rtdata/dcpprofiles/NIKON D750.dcp` (notice the capitalized name). If you are merging `gtk3` into `locallabgtk3` you can safely delete the not-capitalized one, so to fix the problem:
`git rm "rtdata/dcpprofiles/Nikon D750.dcp"`
Then finish th

[2017-01-23 14:00] Desmis commented on #3546
@Beep6581
1 - git rm "rtdata/dcpprofiles/Nikon D750.dcp"
2 - commit
And system is bizarre he ask me with a geeen script "veuillez saisir le massage de validation pour vos modifications..."
What must I do

3. I think, but excuse my very bad comprehension of english that gtk3 wil be the futur master branch
And now i will go backward !

[2017-01-23 14:04] Desmis commented on #3546
Now my system is hang !

[2017-01-23 14:12] Desmis commented on #3546
Here the message, what must I do, for me  It's all but clear :)

jacques@pc-bureau MINGW64 ~
$ cd /g/code/rt3gtk3

jacques@pc-bureau MINGW64 /g/code/rt3gtk3
$ git status
Sur la branche locallabgtk3
Votre branche est à jour avec 'origin/locallabgtk3'.
Modifications qui seront validées :
  (utilisez "git reset HEAD <fichier>..." pour désindexer)

        supprimé :        rtdata/dcpprofiles/Nikon D7

[2017-01-23 14:20] Desmis commented on #3546
@Beep6581
After manipulations a little random, I managed to commit and push !
Now how can I go backwarg without errors ?

[2017-01-23 14:36] Beep6581 commented on #3622
The source tarballs are fixed.

[2017-01-23 15:12] innir commented on #3622
Thanks for the quick fix.

[2017-01-23 15:27] Beep6581 commented on #3622
@Desmis @Floessie @heckflosse @Hombre57 @innir et al.

According to the manual, git tags shouldn't be checked out. I adapted the explanation to our case:

[code]

Assumptions:
- People will be making and using two types of builds: releases and nightly builds.
- Releases will always be tagged.
- Nightly builds will always have the latest tag and a hash.
- Builds could come from various branches - m

[2017-01-23 15:40] Beep6581 commented on #3622
Update: the wording in the manual is incorrect according to the git guys, so we can checkout a tag, nothing wrong with that, it will just be detached. There is still, however, no clean way to get the branch from a tag.

I'm thinking that it would be best if we stopped using unreliable numeric versions, but that would also be a big change which I bet nobody is eager to do, so we keep using branches

[2017-01-23 15:57] gaaned92 commented on #3300
@Hombre57  I use GTK+ 3.22.7 and it does'nt seem possible to revert to 3.18.

[2017-01-23 18:23] Desmis commented on #3546
All in manual !

[2017-01-23 19:18] Hombre57 commented on #3300
Yes, I've tried to revert too without success. Hopefully Sébastien still use Gtk3.18.

[2017-01-23 19:31] Hombre57 commented on #3300
I find the Gtk3.22 nicer and use it myself, but it has broken GUI elements, or undocumented way of handling things, so I'd recommend to provide a stable version using Gtk3.18.

[2017-01-23 19:46] Beep6581 commented on #3546
@Desmis hey,

What do you mean by backwards?

Does that mean everything is now ok?

[2017-01-23 20:03] Desmis commented on #3546
All is ok.
But rt objectives are now dark for me.
I thought since many mounths that the objectif was gtk3 ?? !!
Jacques

Envoyé depuis un mobile Samsung

-------- Message d'origine --------
De : Beep6581 <notifications@github.com>
Date : 23/01/2017  20:46  (GMT+01:00)
A : Beep6581/RawTherapee <RawTherapee@noreply.github.com>
Cc : Desmis <jdesmis@gmail.com>,Mention <mention@noreply.github.com>
Obje

[2017-01-23 20:59] Beep6581 commented on #3184
Making "gtk3" the new main branch would simplify things and let me go for walks in the forest again instead of merging. If we do that, I would rename "master" to "gtk2". But I just merge, I don't code, so please vote whether you feel the time is right to start committing directly to "gtk3".

[2017-01-23 21:14] Beep6581 opened #3623 "Notify the user when a tool's behavior changes"
When I open a photo with a previously created sidecar file, I would like RawTherapee to list the tools whose behavior has changed since that version. This spares me from unexpected problems in exported images and wasted time.

This suggestion comes from our discussion in IRC.

It would require that RT stores per-tool versions, and that it communicates with the user about tools which are for whatev

[2017-01-23 21:15] Beep6581 commented on #3546
@Desmis I bumped https://github.com/Beep6581/RawTherapee/issues/3184#issuecomment-274614943

[2017-01-23 21:16] heckflosse commented on #3623
What do you want RawTherapee to do if you don't open it but only add and process it in queue?

[2017-01-23 22:33] goblin opened #3624 "Add support for RGB Indicator Bar for raw histogram mode"
As per title, the RGB Indicator bar doesn't work when I select the RAW histogram. I'm on RT 4.2.448.

Also, it would be nice to be able to have both the RAW histogram and the output histogram on at the same time (with indicator bar jumping appropriately for each pixel under the cursor)

[2017-01-23 22:35] Hombre57 commented on #3623
@heckflosse We could set a warning sign over the thumbnail to explain that its pp3 has compatibility issues.

The fatsest way of doing per parameter versioning is using dedicated KeyFile method to get and set parameters, with a version parameter, something like :
[code]
The parameters could then be stored in the pp4 file like this :
[code]
or
[code]
where `5` is the version number.

This would let

[2017-01-23 23:08] Hombre57 commented on #3184
As of now, I'm ok to let gtk3 be the new master, but I'll wait @heckflosse 's position to give a final vote.

[2017-01-23 23:18] goblin commented on #3624
Also happens on 5.0

[2017-01-23 23:23] heckflosse commented on #3184
I'm not against being gtk3 the new master. But we should merge all the open branches before and also ask @Desmis, @Floessie and @iliasg

[2017-01-24 00:48] sguyader commented on #3300
@Hombre57 Jean-Christophe, I made a Gtk+ 3.18 build, look the post above André's.

[2017-01-24 06:05] Desmis commented on #3184
No problem for me :)

[2017-01-24 08:57] Floessie commented on #3184
If the plan still is to branch `master` off into `gtk2` and then `gtk3` into `master`, I'd say: Go for it!

[2017-01-24 09:17] Beep6581 opened #3625 "Blackmagic URSA 4K raw support"
Request from the [forum](https://discuss.pixls.us/t/cinemadng-raw-compatibility/3135) to add support for the Blackmagic URSA 4K DNG.
DNG: https://pixls-discuss.s3.amazonaws.com/original/2X/1/1b94dc4c32ca73036ea8f34dec97e7a04ce0fc8d.dng

[2017-01-24 09:25] Beep6581 commented on #3184
@Floessie `master` will be branched off into `gtk2`, but I would just leave `gtk3` as-is. git has no need for having a branch called "master", there's only a human factor. Renaming branches could cause confusion down the road, when trying to do things like `git show commit:rtgui/foo.cc` or `git diff branchA..branchB` I think it's not something that would make life easier.

[2017-01-24 09:28] Beep6581 commented on #3300
I will upload @sguyader 's WinVista builds because they use GTK+ 3.18.
We still have no Windows XP builds from the master branch - could someone make those? 5.0 will most likely be the last version for Windows XP.

[2017-01-24 10:32] Beep6581 commented on #3623
Would this not be a good opportunity change to XMP? At first for basic things like the above, and for being able to store multiple snapshots in a single file #2624

[2017-01-24 10:35] Floessie commented on #3184
@Beep6581 I didn't mean to rename `gtk3` to `master`, but to merge it into `master` once `master` is branched off into `gtk2`. The human factor is not to be sneezed at. :wink:

[2017-01-24 10:53] Beep6581 commented on #3623
Considering we (or I) often say "RawTherapee is for raw development" implying it's not the best tool for digital asset management, metadata interoperability (color labels and ranks, IPTC, other tags or keywords) is quite important.

[2017-01-24 11:53] goblin opened #3626 "Problems with colour profiles when using LEDs, out-of-gamut scenarios"
Hi,

I'm on a self-compiled RT 5.0.

When shooting pics of my LED-lit juggling balls, and overexposing them a lot, or pushing the RAWs to extend the tonal range, I'm experiencing very weird things going on with colours. Abrupt, sharp changes happen and random, non-existent colours pop-up.

An example can be seen with the ARW at http://yatima.uukgoblin.net/rt_debug/DSC01111.ARW. The colour profile

[2017-01-24 13:16] Benitoite commented on #3626
Could this be because the profile was generated for reflectance and not emissive spectrum?

[2017-01-24 14:30] Beep6581 opened #3627 "Add scrollbars to Preferences window"
Add scrollbars to Preferences window.
https://discuss.pixls.us/t/rawtherapee-hint-for-next-development-preferences-window-should-have-scroll-bars/3102

[2017-01-24 14:55] goblin commented on #3626
Yup, that's a very likely cause. However I've no idea where to find a profile that'd work in my case. Even the in-camera processing has problems with those LEDs.

All the articles I could find about creating your own profiles mention shooting a calibrated colour chart under a D65 illuminant and stuff like that. This clearly won't work in cases such as this. There would need to be a way to ensure t

[2017-01-24 15:20] goblin commented on #3626
http://yatima.uukgoblin.net/rt_debug/DSC01106.ARW is another, earlier example. Beep6581 suggested using the profile from Adobe DNG and came up with this result: https://i.imgur.com/dHmDbAf.jpg. It did help to fix some blues from the "Camera standard" profile as seen here: https://i.imgur.com/XEXgpJQ.jpg. But those blues are still a little off, they have a rather sharp jump from the well-lit area (

[2017-01-24 17:12] Benitoite commented on #3626
Interesting results. Did you try changing the highlight recovery method? I have experienced weird LED highlights without touching color profiles.

[2017-01-24 21:23] goblin commented on #3626
Nope, not sure where that is? For the reference image, it must have been set as per default, as I started with the Neutral processing profile.

[2017-01-24 23:18] iliasg commented on #3625
I think it's better to use
`if (!strncmp(make,"Blackmagic", 10) tiff_bps = 16`

[2017-01-24 23:25] Beep6581 opened #3628 "Change our version habits"
This issue is very important - git builds won't work well until it's fixed. I need everyone's help and input.

I'm writing this as a summary of hours of effort today to find a reliable solution to a problem I didn't know we had; to help you understand the problem, and to help myself see it clearly given the opportunity to lay it out here.

The way we form version numbers in CMake+other has become

[2017-01-24 23:31] Beep6581 commented on #3628
The `versionfix` branch currently uses the commit hash. We need to figure out where and when to use the tag. Take into account feature branches such as `locallab` and `pixelshift`.
The script `tools/generateReleaseInfo` will need to be updated once we decide that.

[2017-01-24 23:35] #3622 closed

[2017-01-24 23:38] heckflosse commented on #3628
:+1:  for not using meaningless suffixes. The commit hash is all we need.

[2017-01-24 23:45] heckflosse commented on #3625
@iliasg I will try that :+1:

[2017-01-25 00:01] Benitoite commented on #3626
It towards the top of the exposure section.

[2017-01-25 00:02] Beep6581 commented on #3628
This also needs a solution: https://github.com/Beep6581/RawTherapee/blob/versionfix/rtgui/rtwindow.cc#L347
Do we pop it up on every commit change? Or only every tag change?
I'd go for on tag change only.

[2017-01-25 01:36] Benitoite commented on #3626
I had a dream last night about shooting the color chart on a calibrated LED type monitor to get the emissive spectrum. Wonder if those types of profiles are out there?

[2017-01-25 01:48] goblin commented on #3626
The highlight recovery does produce slightly better results sometimes, especially with the "luminance recovery" option. Thanks, I'll keep trying it!

The result is still not quite perfect.

Interesting dream! I wonder about that too, now ;-)

[2017-01-25 05:37] Bobthearch opened #3629 "5.0 install overwrote old version"
Version 5.0 - gtk3
Windows 7 64-bit.
Downloaded from here:  http://rawtherapee.com/releases_head/windows/RawTherapee_WinVista_64_5.0-gtk3_3.18_release.zip

Problem:  RawTherapee 5 installed into the folder "RawTherapee-4.2.880", which overwrote my previous install.  I just wanted to check out 5.0; I wasn't ready to replace the old version quite yet.

[2017-01-25 10:05] Beep6581 commented on #3629
@sguyader does the installer not ask the user where to install to?

[2017-01-25 10:46] gaaned92 commented on #3628
I noticed that there was a problem with the new tagging method but was not sure how to file a bug report.

What I can say about windows building and innosetup

1-

for me the gtk2 or gtk3 appended to the version number is not useful as I can get this information in the AboutThisBuild.txt/field GTKMM, once make installation is finished.
Nevertheless, if you want to tag RC1,RC2,alpha.. the problem r

[2017-01-25 12:13] Floessie commented on #3628
@gaaned92

What about a bugfix for the stable release then?

[2017-01-25 12:14] Desmis commented on #3184
@Beep6581 @Floessie @heckflosse @Hombre57
I just push a branch "newwaveletgtk3"
The conversion work was huge, I spent over 15 hours (or more). And I do not see how we could go faster.
Indeed, many changes have been made - which I do not question. For example :
* FTblockdn.cc
* Wavelet.cc and .h
* ...
In this cases, sspecially for wavelet, git merge was of no help, it was necessary to rewrite every

[2017-01-25 12:15] sguyader commented on #3628
Hi, should I wait for a definitive version scheme before making a gtk+ 3.18 build, or should I go ahead and release one from the `versionfix` branch already?

[2017-01-25 12:50] sguyader commented on #3229
Hi, the 2 upcoming new Fujifilm cameras based on the 24Mpx Xtrans sensor, the X-T20 and the X100F, will also have lossless compression of raw files enabled.
It looks like DPreview will soon publish a "comparison of several leading Raw converters for X-Trans cameras", I hope Rawtherapee will be included in the shootout and if compressed RAFs could be supported in the version they will test, that wo

[2017-01-25 12:55] harshula opened #3630 "Colour-target shots from Olympus e-m1 mark2"
I've followed the instructions on:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_target

and uploaded to:
https://filebin.net/nsvj1soupg77aono

the following files:
olympus-em1m2-daylight-P1250014.ORF
olympus-em1m2-tungsten-P1250026.ORF

They are licensed under CC0 license (https://creativecommons.org/about/cc0)

Please let me know if there are any problems wi

[2017-01-25 13:19] harshula opened #3631 "Colour-target shots from Panasonic GX85"
I've followed the instructions on:
http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles#Shooting_the_color_target

and uploaded to:
https://filebin.net/gfzt2dwrcibzw6qv

the following files:
panasonic-gx85-daylight-P1100383.RW2
panasonic-gx85-tungsten-P1100393.RW2

They are licensed under CC0 license (https://creativecommons.org/about/cc0)

I noticed that the white colour swatch under

[2017-01-25 13:20] sandymc commented on #3229
As an FYI, be aware that the Fuji GFX 50s also has lossless raw compression, but in a slightly different form, as it's not XTrans. The Libraw guys tell me they will be publishing an update to their code that will handle the non-XTrans version, you might want to wait for that.

[2017-01-25 15:14] Desmis commented on #3184
I have found the bug (ss)...Some sliders were missing in declaration...In fact there are
* 66 sliders
* 12 thresholdadjuster
* 15 curves
* 23 methods
*  16 expanders

Of course, probably to do some others improvments (history msg...)
And also, test to see if all works well :)
 jacques

[2017-01-25 15:20] Desmis commented on #3184
@Beep6581
Another question, which as nothing to do with "newwavelet" !
To find the bug, I tried :
* Debug version
* with gdb
gdb is installed in mingw64/bin
It start, and after stop. wihout action, but he says to me  "ImportError : No module named libstdcxx.v6.printers"
"Error while executing Python code"
???
Thank you
Jacques

[2017-01-25 15:28] Bobthearch commented on #3629
It does not allow for a custom install location.
But even so I would have chosen the default installation anyway, never guessing the default location for RaawTherapee 5 would be **/Program Files/RawTherapee-4.2.880**

[2017-01-25 15:32] gaaned92 commented on #3628
Versionfix :

1.

as it is, the only indication of tag in RT window header will puzzle users.
 I think that at least the tag (e.g. 5.1.RC2) should appear in aboutthisbuild.txt and in the RT Window (e.g. 5.1.GTK2.96bf912) .
5.1.96bf912 would be even better

2.

And with this approach we loose the benefit of sequential numbering.

3.

Is  Innosetup.iss.in compatible with this modification? No as In

[2017-01-25 17:25] gaaned92 commented on #3629
@Bobthearch You are right. As it is programmed now, the inno installer doesn't allow multiple installations.
When installing a new version, the installer search for an already installed SW with the same Appid.
As this happens, it installs in the same directory without warning.
I think we have to modify the installer as some users want to install a few versions simultaneously.

For the development

[2017-01-25 17:34] gaaned92 commented on #3184
@Desmis You should use the 64 or 32 gdb.exe available [here](http://www.equation.com/servlet/equation.cmd?fa=gdb) as noted in [compiling/windows](http://rawpedia.rawtherapee.com/Windows).
it is much easier to use.

[2017-01-25 17:44] gaaned92 commented on #3184
@Beep6581 Perhaps you will take the decision not to update and maintain GTK2 branch further.
In this case it will be necessary to advise XP users (if there are still some) that XP is no longer supported.
We will have  to change WinXP_32 in WinVista_32 in the build names.

[2017-01-25 17:45] Beep6581 commented on #3184
@Desmis I'm happy you rescued the work - I enjoyed that branch the last time I tried it, though even then it needed some bugfixing and cleanups.
I can't help with Windows problems unfortunately.

[2017-01-25 17:45] Beep6581 commented on #3184
@gaaned92 that's not a problem.

[2017-01-25 18:01] Bobthearch commented on #3629
I don't think it would be necessary for regular small updates, but a major release like RT5 should be treated as an entirely new program.
It also could be problematic for some users that the folder and software names don't match, ie having RT 5 installed in a folder labeled RT 4.
I don't see any major issues with RT5 that would make me want to roll back or use an older version, but no one can know

[2017-01-25 18:01] Beep6581 commented on #3184
Branches with GTK3 support:
- newwavelet/newwaveletgtk3
- locallab/locallabgtk3
- pixelshift/pixelshift_gtk3

Branches for master:
- spot-removal-tool
- var-tracking
- denoise_uniform
- colourtoning
- SaveStrategy
- gammadif
- xmp

Of the branches for master, only denoise_uniform and possibly colourtoning are ones we will want to merge before switching. I don't know what var-tracking is about - @F

[2017-01-25 18:03] Beep6581 commented on #3631
@harshula thank you for the shots, I eyeballed them and they look fine. I'll add some in some days, I need a break.

[2017-01-25 18:09] Beep6581 commented on #3630
Tungsten was taken at f/2.8, that could be improved - don't go below f/5.6 (f/2.8 could be fine, of course it depends on the lens, but f/5.6 should be a safe minimum). If you happen to have time to re-shoot the tungsten shot before I add them in a few days, you could also push the exposure +0.8EV https://i.imgur.com/KoFYiBN.png

[2017-01-25 19:10] Floessie commented on #3184
@Beep6581 `var-tracking` was merged with 56dbfe1e5f6a066c6d09da36479c5e75832df694. I'll delete it. Meanwhile I created `imdim_cleanup` for `master`.

[2017-01-25 22:45] McMajan opened #3633 "RT screen preview doesn't match to jpg output"
Hi guy, this is my first bug report and my english is no so good, so please don't kill me.
Similar problem I'm telling you was just descripted here (https://github.com/Beep6581/RawTherapee/issues/1118) but it's closed without a solution. I've a annoying issue that is frustrating when I've very hight contrast pictures. The problem is that the screen preview image (100% or not is the same) is not co

[2017-01-25 23:39] heckflosse commented on #3633
@McMajan We take every issue serious, so please don't tell us `bla bla bla`...

[2017-01-25 23:48] heckflosse commented on #3633
@McMajan I tried the first two links of your post. Both result in an error (tried with Opera an Firefox)...

I guess the same happens for the other links because you used a `\` instead of a `/`.

[2017-01-26 00:46] iliasg commented on #3630
Well Olympus is the quilty for this underexposure .. because of the overrated manufacturer ISO ..
A correction of 2/3 stops is fine ( log2(1.60) = 2/3)
![e-m1ii-tung](https://cloud.githubusercontent.com/assets/15012599/22315470/7e3a43c8-e36f-11e6-9ac0-34897c79ba46.png)
Although something strange happens here .. while the neutral grey patch is fine (51.8 vs the reference 50.9) the dark and white pa

[2017-01-26 01:00] iliasg commented on #3631
Same as with E-M1M2 we have a light fall off
The exposure would be better at +1/3 stops
![gx85-tung](https://cloud.githubusercontent.com/assets/15012599/22316107/83e75366-e373-11e6-92f7-ec00424704ed.png)

[2017-01-26 01:07] harshula commented on #3630
@iliasg I was holding the light source about one meter away. Perhaps I need to use a tripod with a longer exposure and move the light source further away?

[2017-01-26 01:07] harshula commented on #3631
@iliasg I was holding the light source about one meter away. Perhaps I need to use a tripod with a longer exposure and move the light source further away?

[2017-01-26 01:09] heckflosse commented on #3633
@McMajan I downloaded your cr2 and the pp3 after replacing `\` with `/`. I can confirm your issue using for example saving with `JPEG Quality` set to 93, but at `JPEG Quality` set to 100 there is no difference to the tiff. Though there is a difference between the tiff and the preview which should not be the case.

Issue accepted despite `bla bla bla`.

Ingo

[2017-01-26 01:20] heckflosse commented on #3633
@McMajan Scratch my last comment please. That was nonsense (the part about the difference between output settings). Still investigating...

[2017-01-26 01:45] heckflosse commented on #3633
Seems to be some strange gui interaction between tonemapping and wavelet tool...

[2017-01-26 02:47] iliasg commented on #3630
1m is not that close and I suppose your lamp is not exactly a point source so less than 1% light falloff is expected (supposing the cc24 is 20cm long). But as I see your lens also has negligible vignette at f2.8 !! so it's something else .. mabe glare .. try with the target at an angle  ?.
In anyway a bigger distance from the lamp will help a bit, aperture at f4.0-f5.6 will also help .. so we need

[2017-01-26 02:53] iliasg commented on #3633
Ingo, with the softproof buttons the one besides the zoom-out shows the out of gamut areas in grey .. and looks like the examined areas are indeed out of sRGB gamut (and not only).

[2017-01-26 07:28] Desmis commented on #3184
@gaaned92

Thank you, it work :)

[2017-01-26 08:04] McMajan commented on #3633
please don't be angry about "bla,bla bla", for me is not simple expain in english and describe all I've done. Ifixed the links, I wanted to simple expain in simple mode "I've readed what I found and done all possibility".

[2017-01-26 09:22] Beep6581 commented on #3633
You are using several tools which are marked as "1:1", meaning "The effects of this tool are visible at any zoom level. However, due to the nature of the algorithm, only the 1:1 (or more) preview zoom will match the saved image perfectly."
http://rawpedia.rawtherapee.com/Tone_Mapping
http://rawpedia.rawtherapee.com/Wavelets

Even at 100% there are small differences between the saved image and the

[2017-01-26 09:37] Beep6581 commented on #3630
@iliasg good catch!

[2017-01-26 11:41] heckflosse commented on #3633
I was confused by the fact that, when Wavelet is enabled and Wavelet Residual Image Compression Strength <> 0, then Tonemapping is [skipped](https://github.com/Beep6581/RawTherapee/blob/master/rtengine/improcfun.cc#L6509). But that's a different issue.

For this one I detected that moving the preview has massive impact to the burned regions in preview when wavelet is enabled:

Example
![wavelet1](

[2017-01-26 11:53] Beep6581 commented on #3628
@sguyader you can use the fixed source tarballs http://rawtherapee.com/shared/source/

[2017-01-26 12:14] heckflosse opened #3634 "Inconsistent gui when Wavelet Residual Image Compression strength is not zero"
To reproduce:
apply this pp3 to amsterdam.pef
[tmvav.pp3.zip](https://github.com/Beep6581/RawTherapee/files/732193/tmvav.pp3.zip)

Now two adjusters in Tonemapping tool are disabled
![wavtm00](https://cloud.githubusercontent.com/assets/13733487/22330543/0a23ab3e-e3c7-11e6-8c0c-ed3aa555700e.png)

because Wavelet is enabled and `Wavelet Residual Image Compression strength` is not zero though `Residu

[2017-01-26 12:59] Beep6581 commented on #3628
Development versions are not releases, they are created only to help developers test things.

One option is to parse
`git describe --tags --always --long`
which gives us the tag + commits + hash.

Another option is to use tag+date for development builds:
`git show -s --format=%cd --date=format:%Y-%m-%d`

[2017-01-26 13:03] sguyader commented on #3628
Hi, I just made a new "version-fixed" Gtk+ 3.18 build for Windows 64: https://filebin.net/m2cb0imbf03jnd9i
I tested very quickly, and it looks like the TooWaBlue theme cannot be selected in the settings menu.

[2017-01-26 13:34] harshula commented on #3630
Take 2 ... changed the light bulb to a weaker one and used a tripod:
https://filebin.net/6je0zglh13zpck3g

[2017-01-26 13:38] harshula commented on #3631
Take 2 ... changed the light bulb to a weaker one and used a tripod:
https://filebin.net/1ck5u0af2tclfp28

[2017-01-26 13:44] Beep6581 commented on #3634
Reproduced.

[2017-01-26 14:03] heckflosse commented on #3633
It's clearly related to the Local contrast curve in Wavelet Edge Sharpness

[2017-01-26 14:50] Beep6581 commented on #3628
- When checking out a branch or commit which has no tag in its history, `git describe --tags --always --long` shows only the commit hash.
- When checking out a branch or commit which does have a tag in its history, `git describe --tags --always --long` shows `<tag>-<numcommits>-g<commithash>`
  Same when checking out a tag, or a branch on which there are no commits after the most recent tag.

When

[2017-01-26 15:55] Desmis commented on #3633
I'll have a look :)

[2017-01-26 16:22] Beep6581 commented on #3628
Proposed solution follows later today or tomorrow.

[2017-01-26 17:00] Desmis commented on #3633
First excuse my bad english...It is already difficult to explain in French!

In fact it's not a bug...:)  or not a  programming bug (?)
The malfunction found  (I think) are due to several possibilities:
* Use or not of the residual image
* Actual preview size
* **Number of levels**

If you select 9 levels, it needs a " huge screen size preview"....and RT does what it can, Or rather what the develo

[2017-01-26 17:14] heckflosse commented on #3633
@Desmis Hello Jacques,

I had a look at the code. The problem is not (or not without having massive impact on performance and memory requirement) solvable because the mean and the sigma which are used for the curve depend on the preview area.

[2017-01-26 17:35] Desmis commented on #3633
@heckflosse
Hello Ingo
In fact we can see this "malfunction" when activing "Lockable color picker" on the concern area.
Edge sharpeness as an effect, but also and more in Residual image ==> "highlight".

I think it is not solvable... Otherwise use the numbers of high levels sparingly - if we want preview = jpg
For memory the other software "wavelet" market use 6 levels (preview 128 pixels)
:)

[2017-01-26 18:55] sguyader commented on #3629
In the Innosetup script, if we add the line `DisableDirPage=no` in the setup part, then the installer always asks the user where they want to install Rawtherapee.

[2017-01-26 19:19] sguyader commented on #3629
In fact there are 4 setup options to check out:

`DisableDirPage=no`
`DisableProgramGroupPage=no`

So that both the installation folder and the program group name can be changed by the user.

`UsePreviousAppDir=no`
`UsePreviousGroup=no`

So that, if there is a previous version installed, the installer will use the correct names from the new version. If set to yes (or omitted) the installer will pi

[2017-01-26 21:37] Hombre57 commented on #3629
Users need more guidance when installing a new Release build, as well as any Innosetup packed version, on :
1. what to do of the previous version
2. select new installation directory
3. warn about possible conflict with cache folder name and sidecar file when using 2 different versions !

Before taking action on this, I'd suggest to find a version naming first (issue #3628).

[2017-01-26 22:29] mandree commented on #3566
Adding the #include line does not help.

[2017-01-26 22:43] mandree commented on #3566
So, the situation is that during FreeBSD compilation, we'll be using LLVM's libc++ and headers, and I suppose we're running into a corner case that GCC 5.4 can't handle this, or LLVM's templates for constexpr list initialization doesn't work.

A workaround is to drop the constexpr, write a "const" and let GCC handle it internally. This part of the code isn't time critical, not sure if we really ne

[2017-01-26 23:33] mandree opened #3636 "SIGABRT in FreeBSD when closing"
When quitting normally from RawTherapee 5.0 release GTK3 on FreeBSD 10.3 (amd64), I get this and a core dump:
[code]

[2017-01-26 23:35] Hombre57 commented on #3184
I'll port spot-removal-tool to the Gtk3 branch on my side, and perhaps SaveStrategy in the future.

I'll test again the 2 branch you want to commit this w.e. and will answer your poll by Sunday.

[2017-01-26 23:48] Hombre57 commented on #3633
Where is the wavelet in the pipeline ? Is it possible to solve the issue by making an approximation of your mean and sigma values by internally processing a reduced size of the full image (e.g. 1/4th of each side, which mean 1/16th of the pixel count) ? It would then be cached in ImProcCoordinator as long as some parameters remain untouched.

[2017-01-27 00:00] Benitoite commented on #3626
I've been doing some reading up... perhaps shoot a transparency color target like IT8.7/1 on an LED light table and generate an emissive profile from that would allow for the proper gamut compression needed?

[2017-01-27 00:03] heckflosse commented on #3633
@Hombre57 That would be possible by using the data used for navigator preview but that that would also mean that we have to wavelet this data before calculating the mean. That's not impossible. Just wanted to mention it :)

[2017-01-27 00:04] heckflosse commented on #3636
@Floessie Do you have an idea?

[2017-01-27 00:11] Hombre57 commented on #3633
We could do that only if needed. We should really solve this problem because there's no point having color pickers for fine adjustment if the preview can be that much off :)

[2017-01-27 00:34] harshula commented on #3630
@iliasg & @Beep6581: Is the second tungsten image above suitable?

[2017-01-27 00:35] harshula commented on #3631
@iliasg & @Beep6581: Is the second tungsten image above suitable?

[2017-01-27 07:06] Floessie commented on #3636
@heckflosse The mutex could be already destroyed or locked while being destroyed. But there is no RT code on the path, so this looks more like a GTK3 problem (or a problem in how we use it somewhere). Don't we have debug facilities for [`MyMutex`](https://github.com/Beep6581/RawTherapee/blob/master/rtgui/threadutils.cc) that might shed some light on this?

[2017-01-27 07:35] Desmis commented on #3633
@Hombre57
I do not call into question the "Lockable color pickers" which are an important contribution to the development of the algorithms. In this case they allow to see the evolution of luminance when moving the preview, while our eyes "forget" the previous image. It is possible that the "color pickers" are they to improve, but it is another problem. I use them very much because they make it po

[2017-01-27 07:50] Floessie commented on #3566
@mandree

Yep, you're right. I'd guess the same.

:rofl: Absolutely. Though I like `constexpr`, I don't like `std::initializer_list<>` for something other than pure initialization. So let me propose a classic solution:

[code]

HTH
Flössie

[2017-01-27 09:51] mc6312 opened #3637 "Large fonts in RT 5 after second start with GTK 3.20"
Running on Ubuntu 16.10, GTK 3.20.
First run (~/.config/RawTherapee/options file is missing) - GUI fonts has normal size.
Second run - GUI fonts are large.
Running on Fedora 25, GTK 3.22 - font size always normal.

I found this code in rtgui/preferences.cc, line 2236:

#if GTK_MAJOR_VERSION == 3 && GTK_MINOR_VERSION < 20

May be instead of "<" should be "<="?

[2017-01-27 11:47] iliasg commented on #3631
It is better and worse .. you made the perfect exposure but the fall off for the bright patch is more than tungsten-1
![gx85-tungsten2](https://cloud.githubusercontent.com/assets/15012599/22368963/e50d86d2-e491-11e6-834a-48a1c36fc410.png)

[2017-01-27 11:50] iliasg commented on #3630
It is better .. a bit better exposure and a bit better homogenuity ..
![em1m2-tungsten2](https://cloud.githubusercontent.com/assets/15012599/22369939/8087e10c-e497-11e6-9c76-49d18fb8ef27.png)

[2017-01-27 12:17] Floessie commented on #3566
@mandree After thinking a bit about it, there is even no need to abstain from `constexpr`. `auto` is the culprit here, turning that innocent `const char*` array into a `std::initializer_list<>`. Here is an update patch for you to try:

[code]

Best
Flössie

[2017-01-27 13:58] harshula commented on #3631
@iliasg The first light bulb I used was much stronger but, excluding the centre, it has a dimpled pattern on the glass. Is it plausible that tungsten-1 contains hot spots due to the dimples and not that tungsten-2 has worse fall-off? Can the daylight image be used as a cross-reference?

[2017-01-27 14:54] Beep6581 commented on #3628
Branch [`versionfix2`](https://github.com/Beep6581/RawTherapee/tree/versionfix2) pushed and ready for testing and merge.

The new versioning scheme revolves around `git describe --tags --always`.
There are generally two kinds of builds:
- Releases
- Development builds

Releases are only compiled from tags. Any compilation not made from a tag is not a release.

When you checkout a tag, RawTherapee

[2017-01-27 14:55] iliasg commented on #3631
Hmm .. maybe .. ideally we need a flat field to be able to compensate ..
For the moment measures on the background area show different lighting between the GX85 vs E-M1M2 shots !!
![gx85-tungsten2-ff](https://cloud.githubusercontent.com/assets/15012599/22375075/4d08dac4-e4b1-11e6-9520-5b7d03c84b3a.png)
![em1m2-tungsten2-ff](https://cloud.githubusercontent.com/assets/15012599/22375076/4d146678-e4b1

[2017-01-27 15:04] Beep6581 commented on #3300
I will most likely create new tags `5.0-r1-gtk2` and `5.0-r1-gtk3` (r = revision) once #3628 is committed, please don't commit to `master` or `gtk3` until then.

[2017-01-27 15:32] TooWaBoo opened #3638 "DEBUG message "... installation is broken" RT5 Gtk3.22"
Getting these errors when I run RT5 debug Gtk3.22 but RT is running without any problems.
[code]

[code]

[2017-01-27 16:05] Beep6581 commented on #3638
Self-compiled?

[2017-01-27 16:08] TooWaBoo commented on #3638
No, downloaded from @Gaaned92: https://drive.google.com/drive/folders/0B2q9OrgyDEfPS2FpdDAtMVI1RG8

[2017-01-27 16:09] Beep6581 commented on #3628
AboutThisBuild from master branch:
[code]

AboutThisBuild from this branch:
[code]

[2017-01-27 16:13] heckflosse commented on #3628
@Beep6581 Compiles and works fine

[2017-01-27 16:53] Floessie commented on #3628
@Beep6581

tag-commitcount-hash for example 5.0-gtk2-123-g87654321 or 5.1-rc1-3-g12ab34cd.

That is simply brilliant! :+1:

[2017-01-27 16:58] Floessie commented on #3300
@Beep6581 Don't you think `5.0-r1-gtk2` is too similar to `5.0-rc1-gtk2` and could be easily mistaken for something older than `5.0-gtk2`? I'd expect it to be `5.0.1-gtk2` (but only because I'm used to semver)...

[2017-01-27 17:48] gaaned92 commented on #3628
@Beep6581  I think the principle is quite good.
It should work for innosetup except that
[code]
are blank
Should'nt the GIT variables redefined in RTDATA/cmakelist.txt?

[2017-01-27 17:56] agriggio opened #3639 "Allow the use of relative paths for film simulation CLUTs"
Currently RawTherapee stores the full path to film simulation CLUTs in the generated pp3 sidecars.
This patch adds support for using paths relative to the user's HaldCLUT directory, making sharing pp3 files easier.
[relative-clut.patch.txt](https://github.com/Beep6581/RawTherapee/files/735930/relative-clut.patch.txt)

[2017-01-27 19:20] Beep6581 commented on #3300
Release candidates "rc" and revisions "r" are standard nomenclature. Package maintainers should know this. The problem with "5.0.1" is that the "1" could mean anything, there are plenty of schemes, while "revision 1" means only one thing - same program, something broken in the release was fixed. I favor using the more explicit "revision 1".
Our downloads page will only have the fixed "revision" bu

[2017-01-27 19:29] Beep6581 commented on #3628
@gaaned92 I'll have a look at why it's blank.
If you checkout a tag (not flag) then it's a release - always will be. If you checkout anything which is not a tag, then you're by definition not checking out a release, and automatically get more info.

[2017-01-27 20:12] Hombre57 commented on #3628
Just to avoid confusion : wouldn't it be better to use the name `release-candidate` instead of `release` ?

[2017-01-27 22:11] Beep6581 commented on #3628
@Hombre57 what are you referring to?

[2017-01-27 23:22] mandree commented on #3566
The constexpr const char *cacheDirs[] ... patch works, too.

[2017-01-28 00:26] harshula commented on #3631
@iliasg The colour chart was at different distances from the light source for the E-M1M2 (~1.9m) and GX85 (~1.7m).

[2017-01-28 02:06] Beep6581 commented on #3628
@sguyader @gaaned92 could you please check whether the `versionfix2` produces a WindowsInnoSetup.iss file which Inno Setup doesn't choke on?

[2017-01-28 08:42] gaaned92 commented on #3628
@Beep6581
[code]

MyBuildBasePath must be defined to be able to pack all the files in the installer

MyBitDepth, MySystemName (e.g. WinXP), MyInstallMode : I would like them filled to avoid collisions when I generate installers. (To do that I modify innosetup.iss.in on the fly)

If not possible, for development release, I could only pack all the files in a 7zip .exe file and avoid use of innosetup

[2017-01-28 09:56] rpittaro opened #3640 "NIKON COOLPIX B700 raw file support"
Bug Report

RawTherapee  Version 5.0-GTK3
Intel XEON CPU E3-1230 3.3GHz
Windows 10 64 bit
Downloaded from http://rawtherapee.com/downloads
RT 5.0 for Windows Vista/7/8/10 64-bit – fast
RawTherapee won’t demosaic an NRW file from a Nikon  B700   properly regardless of the type of demosaicing  selected. The image looks as expected when demosaicing is set to “none”. I’m fairly sure the software is in

[2017-01-28 12:47] Hombre57 commented on #3628
I'll take this.

[2017-01-28 13:03] Desmis commented on #3628
I compile versionfix2, all is fine :)
I am not sure to all understand, I am even on the contrary, but my English is insufficient to take part in the debate, which exceeds me a little ... for me, it is Chinese;

What I understand, is to wait... :)

[2017-01-28 13:37] Hombre57 commented on #3628
Comme nous sommes 4 français ici, pourquoi ne pas parler un peu français ? Il y a eu un changement mineur dans la manière dont sont créé les informations envoyées à InnoSetup. J'ai vérifié que les versions étaient bien présentes dans le fichier WindowsInnoSetup.iss, mais j'avoue n'avoir pas fait attention aux paramètres devenu vide. Je corrigerais cela ce soir car je suis pris toute la journée.

@

[2017-01-28 13:38] Hombre57 commented on #3300
Just to avoid confusion : wouldn't it be better to use the branch name `release-candidate` instead of `release` ?

[2017-01-28 14:13] gaaned92 commented on #3628
@Hombre57    CMAKE_SIZEOF_VOID_P seems not defined inside UpdateInfo.cmake
As I don't have nepali.islu inside my innosetup installation, could you suppress the line? or indicate m where I can find it.

[2017-01-28 15:09] Beep6581 commented on #3640
@rpittaro please upload that raw file for us using http://filebin.net/

[2017-01-28 15:10] Desmis commented on #3628
@Hombre57
Salut Hombre...Je pense avoir vaguement compris, mais ce qui m'étonne le plus, c'est que _a priori_, nous sommes hérétiques depuis plus d'un an... Peut être qu'il va falloir aller faire un tour à Rome (ou ailleurs...)
Mais si tu peux faire une traduction ce serait bien.

Merci d'avance

[2017-01-28 15:19] Beep6581 opened #3641 "Swap clipping indicator buttons"
[Someone in the forum](https://discuss.pixls.us/t/feature-request-clipping-indicators-order/3166) requested that the clipping indicators be swapped - shadows on the left, highlights on the right. Same as the histogram. Makes sense. Anyone against?

[code]

[2017-01-28 15:37] Beep6581 commented on #3300
@Hombre57 I see your point, we could do that. Or we could call it `baking`, and tag in `baked`...
Just me and Ingo baking bread here? Yes? Oh... :stuck_out_tongue_winking_eye:

[2017-01-28 17:30] neilpho opened #3642 "Improve Cropping Workflow"
I would like to request that the cropping workflow be changed to work something like this:

- Press "C" to enter cropping mode
- Cropping guide appears only in crop mode. Crop the image by dragging crop marks.
- Press Enter to commit the crop, Cropping guide (eg Rule of Thirds) disappears. The new view of the image then becomes the default view of the image.
- The "F" key zooms the cropped part of

[2017-01-28 19:47] rpittaro commented on #3640
Here is a sample file from a Nikon B700 that does't Demosaic properly
filebin.net/64ja3ohfy2ivwrar

[2017-01-28 21:48] Beep6581 commented on #3640
The NIKON COOLPIX B700 is not supported by dcraw yet. RawTherapee will support it once dcraw supports it.

[2017-01-28 21:48] #3640 closed

[2017-01-28 21:55] Beep6581 commented on #3628
@gaaned92 @Hombre57 just committed a fix, could you confirm that:
- [ ] The variables in WindowsInnoSetup.iss are filled in,
- [ ] Installation and uninstallation work,
- [ ] One can install to a custom folder.

I will then merge if there are no objections.

[2017-01-28 22:21] Hombre57 commented on #3300
French translation for those who need it :

[2017-01-28 22:21] Hombre57 commented on #3628
@Desmis voir ici https://github.com/Beep6581/RawTherapee/issues/3300#issuecomment-275878809

[2017-01-28 22:26] Hombre57 commented on #3300
@Beep6581 When you say

Do you mean that it's possible to redo the fix in `release` from scratch or only do the fix in `release` ?

[2017-01-28 22:49] rpittaro commented on #3640
Thanks for your prompt response
Rick

[2017-01-29 04:05] harshula commented on #3631
Take 3 (tungsten)
* 75 watt light bulb ~2.4m distance from the colour chart
* https://filebin.net/c1kq8w77qg15xcj0

* panasonic-gx85-tungsten-2-P1100401.RW2 & panasonic-gx85-tungsten-3-P1100411.RW2 are licensed under CC0 license (https://creativecommons.org/about/cc0)

@iliasg & @Beep6581: Will this one suffice?

[2017-01-29 04:08] harshula commented on #3630
Take 3 (tungsten)
* 75 watt light bulb ~2.4m distance from the colour chart
* https://filebin.net/c6n5tp1g0d3hyaom

* olympus-em1m2-tungsten-2-P1260046.ORF & olympus-em1m2-tungsten-3-P1280054.ORF are licensed under CC0 license (https://creativecommons.org/about/cc0)

@iliasg & @Beep6581: Will this one suffice?

[2017-01-29 08:41] Desmis commented on #3628
@Hombre57
Merci :)

[2017-01-29 13:44] Beep6581 opened #3643 "Lockable Color Picker needs documentation"
The Lockable Color Picker needs to be documented. I don't know how to change the displayed values to L\*a\*b\* or how to make the patches larger - this info should go into both RawPedia and the tooltip.

[2017-01-29 14:26] Beep6581 commented on #3300
@Hombre57 I think bugs should be generally fixed in `development` and cherry-picked into `release` if applicable.

[2017-01-29 15:31] gaaned92 commented on #3628
-  Variables are filled in
-  Installation with RawTherapee_5.0-gtk2-5-g52dca967_WinVista_64.exe installer ok
-  installation in custom folder ok
-  uninstallation ok

Two remarks I already made:
- The installer name should include the build type and also the branch name as users who want to test a feature branch for instance will be unable to choose the good installer.
- If you already made a pre

[2017-01-29 17:11] Beep6581 commented on #3628
The branch name is not always available, for example if you checkout a commit, so if you want it to be part of the installer's name, it should most likely be done manually.

The installer must let the user install to a custom folder even if a previous installation of a different version exists. As I can't test, can you make the required changes and submit a patch?

[2017-01-29 17:16] Floessie commented on #3300
@Beep6581 If we fix a bug in `development`, are we allowed to cherry-pick it to `release` or are you the (only) one responsible for the `release` branch?

[2017-01-29 18:57] Beep6581 commented on #3300
@Floessie as we tend to discuss everything here before committing I don't think it will be a problem if everyone can commit. I don't want to be solely responsible. I'm only taking this on because I think I can manage, and because by doing so I hope I can free up everyone else to spend time coding not 'gitting', but all help is most welcome.

[2017-01-29 20:25] Hombre57 commented on #3628
It means that each new Release version and revision will be installer next to each other, even for Release version with minor version update (5.0, 5.1, ...). I guess that we should keep the same AppId for new minor version but change it for any new major version and non Release builds. @gaaned92 @Beep6581, are you okay with that ?

[2017-01-29 20:34] Beep6581 commented on #3628
Users want to keep several versions of RT concurrently, for example 5.0 and some dev version. The installer should make that possible.

How should that work, and who will do it?

[2017-01-29 21:31] gaaned92 commented on #3628
@Hombre57 I think there is no inconvenient to have a different appid for each version revision and much simpler to implement.
@Beep6581 If I want to go back on a branch, I think I prefer to do a git reset of the branch. But I have no objection to keep the naming as it is.

Yes for dev builds, I should be able to pack GDB and rawtherapee_debug in same installer. And thus no need to append the BUILD

[2017-01-29 22:07] Hombre57 commented on #3628
@gaaned92

Ok with that.

I don't know... In a general way, if this is supposed to be available through the download page, then an installer is necessary. If provided in forums or everywhere else, zip files are acceptable. (unstable) Dev builds should be clearly identified in Windows' Program and Functionalities. Do we have to set a special #MyAppName to do that or does it display #MyAppVersion to

[2017-01-29 23:42] gaaned92 commented on #3628
As I understood, #MyAppversion should be sufficient to distinguish between dev and stable release. So If I name the 7zip exe file the same name as innosetup exe file (using #MyAppName), it could be sufficient to distinguish betwen dev and stable release.
drawback: 7zip exe doesn't propose an extraction location.

Could you clarify?

[2017-01-30 00:29] Hombre57 commented on #3628
@gaaned92 I meant that Innosetup installer create an entry in Windows "Program and Functionalities" IIRC. It should have a different label there if we set different AppID for same version but different revision or for Dev installer.

[2017-01-30 10:03] TooWaBoo opened #3644 "Mistyped labels in preferences (English)"
![unbenannt](https://cloud.githubusercontent.com/assets/13800920/22418880/32aa4a4c-e6db-11e6-87ca-03d06783bf24.png)

[2017-01-30 10:36] geoderix opened #3645 "IPTC metadata is not written to the output files of any format"
IPTC metadata is not written to the output files of any format (jpeg, tiff or png, 8-bit or 16 bit). All fields of IPTC are empty in the output file.

RT 5.0 for Windows Vista/7/8/10 64-bit - fast, gtk3, from http://rawtherapee.com/downloads.

Any input files (raw, jpeg, tiff or png, 8-bit or 16 bit).

[2017-01-30 10:56] geoderix opened #3646 "IPTC (and EXIF) metadata encoded in UTF-8 with non-latin characters read like gibberish"
If input file have IPTC (and EXIF) metadata encoded in UTF-8 with non-latin characters, then Rawtherapee read this data like gibberish.
For example, If the image have IPTC description "Метаданные фотографии", than Rawtherapee read them as "РњРµС‚Р°РґР°РЅРЅС‹Рµ С„РѕС‚РѕРіСЂР°С„РёРё".
It looks that Rawtherapee does not support the UTF-8 encoding for IPTC and EXIF metadata.
RT 5.0 for Windows Vista/7

[2017-01-30 11:01] iliasg commented on #3643
https://github.com/Beep6581/RawTherapee/issues/1812#issuecomment-251541179

[2017-01-30 11:14] iliasg commented on #3643
Tip, .. the circle keeps constant size when changing preview size .. so the area it covers is related to the preview size.
When the size of the circle is smaller/larger than desired even after increasing/decreasing it at the largest/smallest size supported, to cover a larger/smaller area we have to decrease/increase preview size.

[2017-01-30 13:05] Floessie commented on #3644
@TooWaBoo For what reason ever, there is a [strict refusal](https://github.com/Beep6581/RawTherapee/pull/3430) to change "copypasta" to something sensible. Maybe because some veterans feel sentimental about that old pun. :grin:

[2017-01-30 13:19] Beep6581 commented on #3300
3 days and no objections, but no explicit support either. Do we go ahead and try this new branching scheme?

[2017-01-30 15:52] TooWaBoo commented on #3644
@Floessie

I've found this yesterday when I made pasta. A friend was visiting me and ask me if he can have some pasta too. I said: "Sure, I've an application which can copy pasta." So I run RT, clicked on the copypasta button, but no pasta came out of the printer. I've moved the buttons from left to right, but still no luck. This should be fixed and I suggest to add a copybeer button to the curves

[2017-01-30 16:35] Desmis commented on #3300
For me no problem, that tries nothing has nothing
Also if I understand we can not stay like now :)

[2017-01-30 18:36] Hombre57 commented on #3300
+1 for me to.

[2017-01-30 19:07] Floessie commented on #3644
@TooWaBoo

**That** would be really helpful! Perhaps you could turn it into a dropdown, so that we can also select "copywhiskey", "copychampagne", and "copywine". I know, *you* can do it with some crazy CSS. :+1:

[2017-01-30 19:51] heckflosse commented on #3300
:+1:

[2017-01-30 20:11] heckflosse commented on #3644
:+1: for "copywhiskey" and so on if they work.

[2017-01-30 20:29] TooWaBoo commented on #3644
@heckflosse

That's your job.  ![3eaef0526bbb8f4d4bc01429a9548521](https://cloud.githubusercontent.com/assets/13800920/22440311/30fc5336-e733-11e6-953f-30b671c74846.png)

[2017-01-30 20:51] Beep6581 commented on #3644
Neither of those are typos. Proper nouns such as the name of a frame are capitalized, and copypasta is delicious.

[2017-01-30 20:53] Beep6581 commented on #3300
Then it's decided.

As for 5.0, happily closing.

[2017-01-30 20:53] #3300 closed

[2017-01-30 21:03] Beep6581 commented on #3646
Duplicate with no working solution over the years:
https://github.com/Beep6581/RawTherapee/issues/1314#issuecomment-129958160
https://github.com/Beep6581/RawTherapee/issues/922#issuecomment-129929125

Closing as a duplicate. Feel free to re-open if there's a working patch.