[2018-11-19 20:28] Thanatomanic commented on #4994
@heckflosse The last line reads:
[code]
This is formatted differently from all other folders (\\ instead of /), but manually changing the slashes that does not make RT recognise the database. This is the actual location of the `version_1` folder in my file system:
![image](https://user-images.githubusercontent.com/6567747/48733137-f7400f00-ec41-11e8-9d8e-a451458da2a0.png)

[2018-11-19 20:29] Thanatomanic commented on #4994
@gaaned92 I am using the properly downgraded version of lensfun.
Edit: `mingw-w64-x86_64-lensfun-0.3.2-4-any.pkg.tar` as far as I know.

[2018-11-19 20:39] heckflosse commented on #4994
@Thanatomanic Can you try

[code]

That works fine on my Win7

[2018-11-19 20:50] gaaned92 commented on #4994
In order to work it should be
[Lensfun]
DBDirectory=C:/msys64/mingw64/share/lensfun/version_1

With DBDirectory= , the Lensfun Database has to be copied.

[2018-11-19 21:14] #4998 closed, assigned to nobody

[2018-11-19 22:05] Beep6581 commented on #3558
`5.4-1194-g`62271cbf5

[2018-11-20 00:25] TooWaBoo commented on #3547
@Hombre57
It looks like you don't force GTK_SCALE to 1. At 192dpi I get a blurry image.

@Beep6581
I agree but waiting for 5.6 means another year without HiDPI support.
Adding a checkbox to the preferences "HiDPI support On/Off (Beta)" could be a solution.
![grafik](https://user-images.githubusercontent.com/13800920/48744013-de495500-ec65-11e8-96ab-f0f0cfecefbd.png)

[2018-11-20 07:05] Thanatomanic commented on #3547
Including a hardly tested feature in a release is tricky business. The beta option could be something to consider. That also makes it implicitly clear we like to have user feedback on the feature.

[2018-11-20 09:13] Beep6581 commented on #3547
1. This is not HiDPI support per GTK+'s definition of HiDPI but an in-house solution at trying to get sharp icons.
1. The branch makes invasive changes and requires extensive testing.
1. We are 4 days away from a release candidate. Hombre is away for 5 days.
1. 5.6 is not a year from now.

[2018-11-20 10:30] Beep6581 opened #5001 "Profiled Lens Correction cannot be set to Manual from Batch Edit"
`dev` `5.4-1196-g`61d8a4f25

When I select a single photo and set the Profiled Lens Correction to "manual" mode and set the camera and lens, then click on another photo and click back on this one, the mode is now "None" instead of "Manual", though the comboboxes still show the manually-selected camera and lens.

[2018-11-20 10:33] Beep6581 opened #5002 "Profiled Lens Correction does not seem to use (Unchanged) mode in Batch Edit"
`dev` `5.4-1196-g`61d8a4f25

When selecting multiple photos with different Profiled Lens Correction settings, the "(Unchanged)" radiobutton in the Batch Edit tab never becomes selected. Unless I misunderstood its purpose, this is a bug.

[2018-11-20 12:35] agriggio commented on #4900
@heckflosse here's a patch to apply `BaselineExposure` only for float DNGs, as discussed on IRC

[code]

Ok to commit?

[2018-11-20 13:20] heckflosse commented on #4900
@agriggio :+1:

[2018-11-20 13:53] agriggio commented on #4900
Done. Should we merge this before 5.5? Any more testing that needs to be done?

[2018-11-20 14:39] heckflosse commented on #4900
@agriggio iirc there were still black thumbnails. Have to check again.

[2018-11-20 15:23] Desmis commented on #4959
@Beep6581
I have put in Rawpedia https://rawpedia.rawtherapee.com/ICC_Profile_Creator/fr
You can add/substract what you want, especially links - if you find it useful for example for primaries, profiles, etc.

Jacques

[2018-11-20 15:31] agriggio commented on #4900
Oh, do you have an example?

[2018-11-20 16:04] heckflosse commented on #4900
@agriggio I will check when I fixed the bug I introduced with my last commit to dev...

[2018-11-20 17:13] Desmis commented on #4959
I have done a small update

[2018-11-20 17:31] Beep6581 commented on #4959
@Desmis excellent! I will keep this issue open until I translate it.

[2018-11-20 18:16] heckflosse commented on #4900
@agriggio Found it. The file `0181_5211_16_bit_float_monochrome.dng` in the zip linked in [this post](https://discuss.pixls.us/t/help-with-a-floating-point-dng-file-and-processing-it-in-rt/9522/14) opens fine in Editor, but has a black thumbnail.

[2018-11-20 18:22] Thanatomanic commented on #4994
This works, but how does this even get set? The build instructions ask for `-DLENSFUNDBDIR=share/lensfun` which 1) is not the right folder for the database and 2) in no way modifies my options file. Not even the default options file in the `build` folder.

Is this a bug? I am confused now.

[2018-11-20 18:54] agriggio commented on #4900
thanks, I'll take a look!

[2018-11-20 18:55] heckflosse commented on #4900
@agriggio I forgot to mention, that the thumb of the file is fine in dev

[2018-11-20 20:42] #4995 closed, assigned to Beep6581

[2018-11-20 20:42] #4997 closed, assigned to Beep6581

[2018-11-20 21:50] agriggio commented on #4900
@heckflosse here's a patch, can you please take a look that I did it properly?

[code]

[2018-11-20 21:51] gaaned92 commented on #4994
@Thanatomanic
The LENSFUNDBDIR specifies the  path where the Lensfun DB is to be searched.
This path is not hard coded but is included in a new generated default option file. Existing option file is not modified.

- DLENSFUNDBDIR=share/lensfun specifies that the LF database (the xml files )are to be searched in
the relative path ./share/lensfun
 In this case, you have  to **copy the database in th

[2018-11-20 22:52] heckflosse commented on #4900
Compiling...

[2018-11-20 23:04] heckflosse commented on #4900
@agriggio Works fine now :+1:

[2018-11-21 02:20] Beep6581 commented on #4094
I merged `dev` into `newlocallab`, it compiled and ran fine.

[2018-11-21 07:08] Desmis commented on #4094
@Beep6581

Thank you

[2018-11-21 09:52] TooWaBoo opened #5003 "Some translations are lost in latest dev"
@Beep6581
Latest dev lost some translation through the whole GUI. I think there went something wrong.

Example
![unbenannt](https://user-images.githubusercontent.com/13800920/48833236-36be4680-ed7b-11e8-9efd-0436c85518d2.png)

btw. It would look better when you swap `crop mask color` and `color picker font`.

[2018-11-21 11:51] Beep6581 commented on #5003
@TooWaBoo several strings in `default` were changed, so they were removed from the translations by key else the translations would be wrong and out of sync.

I noticed that you made some of the same changes changes in `Deutsch` in the past that I made in `default` yesterday, for example you dropped the word "Mask" when you translated `TP_RETINEX_MAP;Mask method`. I tried to preserve your changes w

[2018-11-21 12:12] #5003 closed, assigned to nobody

[2018-11-21 12:50] Beep6581 commented on #4822
Done in ead059ee8 and cb0b96f70

[2018-11-21 12:50] #4822 closed, assigned to Beep6581

[2018-11-21 12:54] Beep6581 opened #5004 "Improve Preferences > General layout"
`5.4`:
![screenshot_20181121_133938](https://user-images.githubusercontent.com/5844619/48841931-2f0a9c00-ed93-11e8-87ca-d22c0c7c64cf.png)

`5.4-1216-g`cb0b96f70:
![screenshot_20181121_134009](https://user-images.githubusercontent.com/5844619/48841941-36ca4080-ed93-11e8-8dc9-457b9b293379.png)

The layout has improved, but further improvement is possible. I'm thinking of:
1. Moving Language to the r

[2018-11-21 13:54] Beep6581 commented on #3558
`5.4-1216-g`cb0b96f70

[2018-11-21 17:06] Benitoite commented on #4784
No flickering with latest branch `gtk-3-24` @ gnome/gtk@91129be95c05726ea1bee23b9425f63d390905dd build on macOS.  It looks like other quartz issues were fixed since 3.24.1.

[2018-11-21 20:14] Hombre57 commented on #3547
@TooWaBoo Forcing `GTK_SCALE` to 1 will require testing on X.org/Wayland/putYourFlavorHere, MacOS and Windows. I'll add that on Saturday probably.

[2018-11-21 20:57] Beep6581 commented on #3558
`5.4-1219-g`71b5cc6d6

[2018-11-21 21:27] TooWaBoo commented on #4148
New update
[code]

[2018-11-22 00:35] gryffinwings opened #5007 "All text characters display as squares"
Font issue. When Rawtherapee 5.4 is loaded, all font is displayed as squares.

VersionRawTherapee 5.4
Info from build file:
Version: 5.4
Branch: 5.4
Commit: a5e8eb9c8
Commit date: 2018-03-20
Compiler: gcc 7.3.0
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.0
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -mthreads -Wno-aggressive-loop-optimizations -std=c

[2018-11-22 01:17] gryffinwings commented on #5007
Went into debugging mode and got this, no idea how to fix this:
![debugging](https://user-images.githubusercontent.com/45247122/48876098-4bb5cc80-edb1-11e8-8f99-75cb848a3b06.jpg)

[2018-11-22 01:43] seadra commented on #4830
I have Fuji F770EXR and came across with this issue in pictures taken with SP > Party mode for low light situations.
The JPG generated by the camera looks fine, but the (first sub-) image I see in RawTherapee is *very* noisy (Somewhat similar to the examples on [this page](http://www.robotplanet.dk/photo/fuji-raw-format/) but the reason might be different) and even with denoise on the raw file, th

[2018-11-22 05:32] TooWaBoo commented on #5007
Does it mean it worked in the past?
Change the font in Preferences to e.g. Arial and see if this helps.
I don't think it's an RT issue. Looks like there is something wrong in your system

[2018-11-22 05:54] TooWaBoo commented on #5004
1 👍
2 👍
3 👍
Frame label "Appearance" should be changed to "Appearance ( restard required)".

[2018-11-22 07:34] LebedevRI commented on #4830
(+ other EXR cameras)

Please contribute a normal raw, PLUS such a two-image raw (of the same scene) to https://raw.pixls.us/

[2018-11-22 07:34] Thanatomanic commented on #4994
Thanks @gaaned92 for explaining, it works now. Though, I think there's a few issues with this approach (and not in the least why there is no option in Preference to set the directory from there... I'll start a new issue about that at some point)

[2018-11-22 08:16] Thanatomanic opened #5009 "normalizeFloat override warning when building with clang"
Building with clang gives a warning of the following kind:

[code]

Since `imagefloat.h` is included in many files, this completely spams the build log. Easy fix I assume @heckflosse ?

[2018-11-22 08:21] Thanatomanic opened #5010 "Some more clang warnings (overridden members)"
Similar to #5009, clang warns me of missing `override` keywords in the following functions:

[code]

[code]

[code]

[2018-11-22 09:02] Floessie commented on #5009
@Thanatomanic Why not just fix it?

[2018-11-22 09:02] Floessie commented on #5010
@Thanatomanic Which Clang version is that?

[2018-11-22 09:20] Thanatomanic commented on #5009
@Floessie Because I lack the knowledge to judge if this was programmed intentionally for some reason, or if it would somehow break something else. I seriously need to start understanding some C++ keywords better 🙄

I'll try fixing it!

[2018-11-22 09:21] Thanatomanic commented on #5010
@Floessie 7.0.0 on Windows 10 MSYS2

[2018-11-22 09:33] agriggio commented on #4900
merged, closing

[2018-11-22 09:33] #4900 closed, assigned to nobody

[2018-11-22 09:42] #5009 closed, assigned to nobody

[2018-11-22 09:52] #5010 closed, assigned to nobody

[2018-11-22 15:36] heckflosse opened #5012 "Using `fast` as method for preview < 100% gives wrong result when demosaic is set to 'Mono'"
![grafik](https://user-images.githubusercontent.com/13733487/48911946-951b2000-ee74-11e8-9346-7321d2090511.png)

[2018-11-22 15:39] #5012 closed, assigned to heckflosse

[2018-11-22 20:44] Thanatomanic opened #5014 "Warning something clobbered in `savePNG`"
No clue what that means, but I'm just relaying my build warning using `-Wextra`

[code]

[2018-11-22 21:52] Beep6581 commented on #3854
Docs done http://rawpedia.rawtherapee.com/Noise_Reduction
Please open a new issue if something needs to be changed.

[2018-11-22 21:52] #3854 closed, assigned to Beep6581

[2018-11-22 21:53] Beep6581 commented on #3558
`5.4-1242-g`863649a4c

[2018-11-22 21:53] Beep6581 commented on #3558
`5.4-1245-g`944b901a6

[2018-11-23 11:50] heckflosse opened #5016 "Favorites panel"
Technically it's easy to make a panel with the most used tools. Here's an example. Currently it's hardcoded. It's just to show how easy it is:

[code]

![grafik](https://user-images.githubusercontent.com/13733487/48942013-fcd97580-ef1d-11e8-8670-6f9b17515889.png)

[2018-11-23 12:40] wnoakes commented on #3257
this feature would be really helpful, no tagging is holding me back from switching full time to rawtherapee

[2018-11-23 13:23] heckflosse commented on #5016
Here's a first quick and dirty patch (replaces first patch) which allows definition of user defined tools in options file:

[code]

Example:

Add this to `[GUI]` section of options file:
[code]

Result:
![grafik](https://user-images.githubusercontent.com/13733487/48945591-2e0c7280-ef2b-11e8-9aef-1a29cc64e27e.png)

[2018-11-23 13:26] heckflosse commented on #5016
I will create a branch...

Edit: Branch [custom-tool-panel](https://github.com/Beep6581/RawTherapee/tree/custom-tool-panel) created

[2018-11-23 13:38] Thanatomanic commented on #5016
Great idea and indeed a simple execution. Can you start calling these Favourites? "User-defined panels" sounds technically true but less close than the actual thing it will implement. Or did you have something else in mind?

[2018-11-23 13:45] heckflosse commented on #5016
@Thanatomanic I'm open for any suggestion. `Favourites` sounds good :+1:

There still are some todos:

1) hide empty panels (for example in case someone moves all tools of a panel to Favourites)
2) it should be possible to define the favourites in preferences instead of manually editing the options file
3) we need an icon. I used the sun just because the sun is shining here atm

[2018-11-23 14:04] Floessie commented on #5016
@heckflosse That's just marvelous. I'm having intense RT sessions currently for our next calendar and realized, I only need a few tools regularly. Your proposal would be a great speedup.

One other minor thing missing is a hotkey for the sharpening contrast mask.

[2018-11-23 14:06] heckflosse opened #5018 "Contrast mask needs a hotkey"

[2018-11-23 14:07] heckflosse commented on #5016
@Floessie #5018

[2018-11-23 14:32] Thanatomanic commented on #5016
@heckflosse to choose your favorites from preferences may be a bit cumbersome to code and maintain, because you would have to list them all manually, right?
A way to mark a tool as favorite from the tool itself might clutter the interface a bit there, but may be easier to code.

[2018-11-23 14:34] heckflosse commented on #5016
@Thanatomanic :+1: for your suggestion. But that's nothing I am able to code...

[2018-11-23 14:39] heckflosse commented on #5016
Any suggestions for a hotkey? Unfortunately Alt-f is already used...

[2018-11-23 14:47] ff2000 commented on #5016
What about drag'n'drop? Grab the tool on the title label and drop it on the favorites' icon. Downside is that this isn't a directly user visible action. But you can still show a tooltip for the icon and a label with help when the favorites are empty.
Another option would be a lock mechanism. Add a toggle icon in a tool box. Unlocking the favorites will show a favorite icon in each tool's header wh

[2018-11-23 14:59] Thanatomanic commented on #5016
@ff2000 while I like the idea of drag and drop, and movable GUI in general, it is also much harder to code.
The lock idea could be worthwhile, with a "Select favorites" button.

[2018-11-23 15:00] agriggio commented on #5016
@heckflosse great idea!

[2018-11-23 15:05] heckflosse commented on #5016
with 0ae602b I use 'Favourites' as suggested by @Thanatomanic
Means, you have to change the key in options file to
`Favourites` manually
I also allowed moving of subtools to favourites (for example you can move profiled lens correction without moving the whole Lens/Geometry stuff).
Also added alt-u as hotkey (the alt-h in commit message is a typo)

![grafik](https://user-images.githubusercontent.c

[2018-11-23 15:08] Beep6581 commented on #5016
@heckflosse *Favorites

[2018-11-23 15:16] heckflosse commented on #5016
@Beep6581 damn american english

[2018-11-23 18:11] Thanatomanic commented on #4668
Done with https://github.com/Beep6581/RawTherapee/commit/c8300b137cb8aba10ec5b418bfe0110ff8ab3a3e

[2018-11-23 18:11] #4668 closed, assigned to nobody

[2018-11-23 18:12] Thanatomanic commented on #5007
Closing this, since it is (most likely) not a bug on RT's side

[2018-11-23 18:12] #5007 closed, assigned to nobody

[2018-11-23 18:29] Thanatomanic commented on #5004
@Beep6581 No suggestions at the moment. We can always tweak further in a future version.

[2018-11-23 18:35] Desmis opened #5019 "Gamutcheck for monitor"
Actually "Gamut check" to see Out of gamut colors only works well with RTv2 and gamma simple.

If you use ICC v2  and TRC as sRGB or BT709, the image is full of  green dots
if you use ICCv4 nothing works

At first I think a problem with LUT, I tried many solutions and always same problem

I tried RTv2 and Rtv4 with TRC sRGB or BT709 with Photoshop and all works well==>it is not a LUT problem

I th

[2018-11-23 18:45] Thanatomanic commented on #5019
@Desmis You're infinitely more an expert on color management than I am, but with all the heated talk about color management and workflows happening [on the forums](https://discuss.pixls.us/t/hdr-aces-and-the-digital-photographer-2-0/9918/120), and quite some outstanding issues here (#4150 #4361 #4583 #4737 to name a few), would it be a good idea for v5.6 to:

1. Carefully revisit the our color man

[2018-11-23 18:51] #5018 closed, assigned to nobody

[2018-11-23 18:51] #4661 closed, assigned to nobody

[2018-11-23 18:58] #4573 closed, assigned to nobody

[2018-11-23 18:59] #4547 closed, assigned to nobody

[2018-11-23 19:02] Thanatomanic commented on #4520
Your test image works fine now, closing this issue.

[2018-11-23 19:02] #4520 closed, assigned to nobody

[2018-11-23 19:09] Thanatomanic commented on #4490
The raw can be decoded properly and the distortion can be corrected by using the `Automatic` button in the `Distortion Correction` module. See [here](https://discuss.pixls.us/t/canon-g7x-mk-ii-built-in-lens-profile-rawtherapee/2956).

[2018-11-23 19:09] #4490 closed, assigned to iliasg

[2018-11-23 19:25] Thanatomanic commented on #4410
I cannot reproduce this in the latest 5.4 dev. A HDR 32 bits floating-point uncompressed TIFF from Hugin 2018.0.0 loads fine in RT.

[2018-11-23 19:25] #4410 closed, assigned to nobody

[2018-11-23 19:36] #4370 closed, assigned to nobody

[2018-11-23 19:39] #4246 closed, assigned to nobody

[2018-11-23 20:08] Thanatomanic opened #5020 "Setting of C_FLAGS and CXX_FLAGS is persistent"
Try the following:

[code]

If you look for example in the `build\rtengine\CMakeFiles\rtengine.dir\flags.make` file, you will see that after the second cmake command the CXX_FLAGS from the first are still set. I believe this should not happen - or at least is _very_ counter intuitive.
Maybe related to #4976.

[2018-11-23 20:10] Beep6581 commented on #4930
@Pandagrapher @Desmis has this been fixed?

[2018-11-23 20:12] Beep6581 commented on #3421
@Desmis seems that issue #4094 is now used for `newlocallab` discussions, can we close this one?

[2018-11-23 20:20] Thanatomanic commented on #3942
While the research is surely interesting, without a proper request or need for implementation in RT there is no need to keep this issue open.

[2018-11-23 20:20] #3942 closed, assigned to nobody

[2018-11-23 20:27] #3907 closed, assigned to nobody

[2018-11-23 20:29] #4028 closed, assigned to Beep6581

[2018-11-23 20:40] Beep6581 commented on #3558
`5.4-1253-g`f5d56ffd1

[2018-11-23 20:45] Thanatomanic commented on #4184
Can still reproduce in `dev` https://github.com/Beep6581/RawTherapee/commit/f5d56ffd1717e7c8468942651741902153d9a1e5 on openSUSE 14.0

[code]

[2018-11-23 20:54] Floessie commented on #5018
@heckflosse Thanks! :+1:

Easy to remember mnemonic: `p` to turn the preview into yellow smudges. :grin:

[2018-11-23 21:01] Thanatomanic commented on #3858
An update just before the 5.5 release:
- The Quattro H DNG-files render perfectly in RT, except that the black border remains visible in the thumbnail
- I cannot check how the regular Quattro DNG behaves because the original upload is gone and I cannot find another sample online

Still a little work left @heckflosse and @iliasg

[2018-11-23 21:04] Floessie commented on #5020
As far as I can tell, CMake is meant to be run once. If I change the toolchain for an already configured project when crosscompiling, it's not enough to run CMake a second time. Does `autoconf` permit a second run with fundamental parameters changed? Even if so, is that crucial?

As for your problem: You can have as many build dirs as you like. I have one for release, one for debug, and one for Cl

[2018-11-23 21:05] Thanatomanic commented on #3838
@ff2000 Old issue, but are you still able to reproduce this?

[2018-11-23 21:13] Thanatomanic commented on #3837
This would be a major change in the way RT behaves.
- It would be impossible to do in the file browser, because it would pretty much prevent using the Inspector, Batch edit and Fast Export tools
- It would be possible from the filmstrip, but you can already use the F3/F4 keys to switch between images quickly.

Closing due to lack of interest and benefit.

[2018-11-23 21:13] #3837 closed, assigned to nobody

[2018-11-23 21:14] Beep6581 commented on #3858
@diethardsteiner please upload (a) raw file(s) to https://raw.pixls.us/

[2018-11-23 21:18] Thanatomanic commented on #4185
Cannot reproduce this one specifically, but in general we should probably build RT more often with the sanitizer on to check for such errors. Building without `-DWITH_SAN` should not give major issues.

I'm going to refer this one to #3913 for more general checking and close it for now.

[2018-11-23 21:18] #4185 closed, assigned to nobody

[2018-11-23 21:21] Thanatomanic commented on #3913
There are probably more issues the sanitizer can detect. See e.g. #4185 and #4184.
Is it already a common practice to check a release candidate build for such things?

[2018-11-23 21:24] Thanatomanic commented on #4127
I'm going to refer this one to #3913 for more general checking and close it for now.

[2018-11-23 21:24] #4127 closed, assigned to nobody

[2018-11-23 21:24] Thanatomanic commented on #4184
I'm going to refer this one to #3913 for more general checking and close it for now.

[2018-11-23 21:24] #4184 closed, assigned to nobody

[2018-11-23 21:30] #3694 closed, assigned to nobody

[2018-11-23 21:35] #3675 closed, assigned to nobody

[2018-11-23 21:37] Thanatomanic commented on #3625
Decodes fine, white levels may still be off, but that's a different issue. Closing.

[2018-11-23 21:37] #3625 closed

[2018-11-23 21:38] #3607 closed

[2018-11-23 21:41] #3588 closed

[2018-11-23 21:45] #3416 closed

[2018-11-23 21:45] #3394 closed

[2018-11-23 21:47] #3237 closed

[2018-11-23 21:49] #3224 closed

[2018-11-23 21:50] #3101 closed

[2018-11-23 21:51] #3058 closed

[2018-11-23 21:53] heckflosse commented on #5020
@Floessie

Same here, `rebuild`, `debuild` and `clbuild` for release, debug and clang

[2018-11-23 21:54] Thanatomanic commented on #5020
Thanks, I'll adjust my workflow if what I was doing is not the intended use of CMake :-)

[2018-11-23 21:54] #5020 closed, assigned to nobody

[2018-11-23 21:54] Beep6581 commented on #5020
Same here, as per the `build-rawtherapee` script.

[2018-11-23 21:56] Thanatomanic commented on #2977
@cipriancraciun This issue has very limited usability and has not gained any traction since you posted it. It might become relevant at some distant point in the future, but closing for now.

[2018-11-23 21:56] #2977 closed

[2018-11-23 21:58] #2972 closed

[2018-11-23 22:01] Thanatomanic commented on #2943
Cannot reproduce with the test image provided. Closing.

[2018-11-23 22:01] #2943 closed

[2018-11-23 22:01] #2940 closed

[2018-11-23 22:05] Thanatomanic commented on #2836
Closing, can be taken up by #4617.

[2018-11-23 22:05] #2836 closed

[2018-11-23 22:07] Thanatomanic commented on #2833
@heckflosse Can we close this? Seems to have been included in the Retinex tool (and we have a possibly much nicer dehaze tool now).

[2018-11-23 22:10] Thanatomanic commented on #2733
Seems to be present for a while now. Closing.

[2018-11-23 22:10] #2733 closed

[2018-11-23 22:20] #2833 closed

[2018-11-23 23:37] Pandagrapher commented on #4930
@Beep6581
Not yet (finishing other works before working on it)

This issue happens when `treeview` is updated in `read()` function because `treeview` widget acts like a critical resource. So, waiting for a solution, if user waits a little (depending of CPU resources) before creating or deleting spots, or selecting other images in batch mode, this problem won’t happen.

[2018-11-24 02:09] sguyader commented on #5016
Glad to see favo(u)rites coming around the corner. I often use tools across different tabs repeatedly, the favourites will be a great relief!

[2018-11-24 06:19] ff2000 commented on #3838
@Thanatomanic thx for digging this out. I migrated to kde in the meantime. Fired up awesome and I had no issues. Awesome wasn't updated. Don't know what caused this all in the first place. I'm on gtk+-3.24.1 now.

[2018-11-24 06:19] #3838 closed, assigned to nobody

[2018-11-24 06:30] ff2000 commented on #5014
Man gcc: "Warn for variables that might be changed by "longjmp" or "vfork"."
bps was declared volatile until recently, changed here: https://github.com/Beep6581/RawTherapee/commit/bfe84655630db4a5816003dab3782b9b79261e8d#diff-9cc64a95ee3135fa9f9d133820af996d

[2018-11-24 07:38] Desmis commented on #5019
@Thanatomanic
I will open an issue for "review"
Jacques

[2018-11-24 07:51] Desmis opened #5022 "Review of color management and colorimetry"
First, what are we talking about ? (not exhaustive)
1) are these problems that seem more due to bugs or inadequacies, as issues evoqued in  #5019 ?
2) are these problems of colorimetry for example when the action on a cursor brings an uncontrolled drift of the colors? (of course except cases where these actions are wanted : Channel Mixer, Color Toning,...)
3) are these problems related to whole mo

[2018-11-24 08:11] Floessie commented on #5014
Now, before reverting that change think about having a `volatile` copy of the by-value input parameter that won't affect the function signature for purely internal reasons.

[2018-11-24 08:14] Desmis commented on #3421
@Beep6581

Yes:)

[2018-11-24 09:08] Thanatomanic opened #5023 "If a custom TRC is set, it is applied after every edit"
I am not quite sure how to give this one a proper title, but it's easy to reproduce:

1. Apply neutral
2. In Working Profile, set a custom TRC and change the Gamma or Slope
3. Repeatedly enable/disable a module [1]
4. The image gets darker or lighter after every operation.

It is only a visual thing while editing, because if you reload or zoom the image the effect is gone

Note 1: It only works fo

[2018-11-24 09:22] Desmis commented on #5022
I will be away since Thuesday november 27, for 2 weeks

Jacques

[2018-11-24 09:40] Thanatomanic opened #5024 "Inconsistency in showing LCP options"
With #4999 the lensfun dropdowns get hidden when None or LCP is selected. However, this is not the case when you initially start RT and either None or LCP is retrieved from the profile. This patch fixes that:

[code]

[2018-11-24 10:14] Thanatomanic commented on #5002
As it stands now, the "(Unchanged)" radiobutton is always checked, and does not get unchecked when you actually change the lens profile settings. Still a bug.

[2018-11-24 10:29] TooWaBoo commented on #5016
GUI example:
Click on the star adds or removes a tool. Arrow up / down moves tool up or down.
![unbenannt](https://user-images.githubusercontent.com/13800920/48967297-910b1180-efde-11e8-8d04-23d0f0f5915c.png) ![unbenannt2](https://user-images.githubusercontent.com/13800920/48967298-94060200-efde-11e8-8d95-5af897fdfa35.png)

[2018-11-24 11:53] heckflosse commented on #5023
@Thanatomanic @Beep6581 @Desmis @agriggio Currently the effect of custom TRC is not visible on the thumbnail. Shall I add that for 5.5?

[2018-11-24 12:01] #5023 closed, assigned to heckflosse

[2018-11-24 12:05] Beep6581 commented on #5022
The last time I tested the auto white balance branch (I think it's called `autowblocal`) it gave very good results and I'm looking forward to a merge (for 5.6).

[2018-11-24 12:10] Beep6581 commented on #4290
What is the difference between the `autowblocal` and `cat02wb` branches?

[2018-11-24 12:11] #3421 closed

[2018-11-24 12:23] Desmis commented on #4290
@Beep6581
One year ago, these 2 branch where in the dame barnch !
Alberto ask me to separate...

Now, In autowblocal there is
* white balance auto (with new algo). I think it's necessary to keep "auto" actual because in some cases "Auto itc" fails (for example for Underwater)
* Local white balance with cat02 for local : I think if necessart we can drop this feature, because locallab has a similar

[2018-11-24 12:24] Desmis commented on #5023
@heckflosse

Ingo
Thanks for solving this situation
jacques

[2018-11-24 12:28] Beep6581 commented on #4290
Does `autowblocal` use CAT02 for anything?

[2018-11-24 12:29] Beep6581 commented on #5024
Bug confirmed.

[2018-11-24 12:30] Desmis commented on #4290
As I say above, yes.... for "local white balance", but the algo is slightly different  to take into account "local"

jacques

[2018-11-24 12:35] Beep6581 commented on #5024
Fix confirmed, +1 for commit.

[2018-11-24 12:37] #5024 closed, assigned to nobody

[2018-11-24 13:07] #4245 closed, assigned to Beep6581, agriggio

[2018-11-24 13:07] Thanatomanic commented on #4952
Done http://rawpedia.rawtherapee.com/Dynamic_Range_Compression

[2018-11-24 13:30] Thanatomanic commented on #4955
Done. http://rawpedia.rawtherapee.com/Soft_Light

[2018-11-24 13:30] #4955 closed, assigned to nobody

[2018-11-24 14:00] Floessie commented on #4955
Well done, Roel! :+1:

[2018-11-24 14:20] Beep6581 commented on #4094
I merged `dev` into `newlocallab` and solved multiple conflicts. Compiled and ran fine, hope all is good.

[2018-11-24 14:58] Beep6581 commented on #4094
Scratch that, I see @Desmis just did the same :smile: and my changes went into a new branch which I now deleted.

[2018-11-24 15:05] Desmis commented on #4094
@Beep6581
In french we say "les grands esprits se rencontrent"

Thank you :)

jacques

[2018-11-24 16:01] Thanatomanic commented on #1192
Done with https://github.com/Beep6581/RawTherapee/commit/c8300b137cb8aba10ec5b418bfe0110ff8ab3a3e

[2018-11-24 16:01] #1192 closed

[2018-11-24 16:04] Thanatomanic commented on #974
No longer an issue.

[2018-11-24 16:04] #974 closed

[2018-11-24 18:29] heckflosse opened #5025 "review custom trc code"
The current custom trc code does the following:

1) allocates a buffer of width * height * 12 bytes
2) processes the input to that buffer
3) copies the content of the buffer to the input
4) deletes the buffer
5) allocates a new buffer of width * height * 12 bytes
6) processes the input to that buffer
7) copies the content of the buffer to the input
8) deletes the buffer

The following patch does r

[2018-11-24 19:29] TooWaBoo commented on #4148
New update
[code]

[2018-11-24 19:39] heckflosse commented on #5023
@Desmis Jacques, de rien :)

[2018-11-24 20:15] Thanatomanic commented on #5025
@heckflosse Seems very reasonable. +1 for me

[2018-11-24 21:19] Hombre57 commented on #4803
Looks like I mixed up issue #4803 and #3547 here...

@TooWaBoo I don't know what you mean by having blurry images @ 196dpi. If you set `GTK_SCALE` to 1, it will restore the initial font size and icon size, which will then be scaled up by your formula and you'll end up with blurry icons anyway, even for Adwaita ones.

Here is a patch that force `GTK_SCALE` and compensate the font size. You may need

[2018-11-24 21:56] agriggio opened #5026 "Special case in ImProcFunctions::lab2rgbOut"
There's seems to be a special case in `ImProcFunctions::lab2rgbOut`, the `if` condition starting [here](https://github.com/Beep6581/RawTherapee/blob/d1571658f89e31f644cf7c79d366bfe6bf41a631/rtengine/iplab2rgb.cc#L313). Can someone please clarify what it is supposed to do, and why? In particular:

- what is exactly the LCMS bug mentioned?
- is this a known bug in LCMS?
- which LCMS versions are aff

[2018-11-24 23:03] agriggio commented on #4952
Thanks for taking care of this! :+1:
A couple of comments:
1. Amount is proportional to beta, not anchor
2. Anchor is essentially just an exposure compensation
3. The default value for Detail is now 30

[2018-11-24 23:16] TooWaBoo commented on #4803
@Hombre57
Thanks, the only command I've needed is this: `g_setenv("GDK_SCALE", "1", true);` 😁
The icons are scaled up, OK, they look a bit blurry, but on a HiDPI monitor you can live with that. The important thing is, that the image and thumbnails are sharp also at 200dpi!!!

I would like to know if this will work on Linux too. You will find it in my fork `branch: twb-autoscaled-icons`

Screenshot

[2018-11-24 23:27] Hombre57 commented on #5026
@agriggio This is related to [this problem](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-387345465). See also [this comment](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-387397475), and [this one](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-387420975). don't ask me more though.

[2018-11-25 07:04] SilvioGrosso opened #5028 "crop"
If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2018-11-25 07:05] #5028 closed, assigned to nobody

[2018-11-25 07:53] agriggio commented on #5026
@Hombre57 thanks a lot, I had completely forgotten about this. now I know where to start investigating... as a first comment: wouldn't be better to move this "TRC patching" code inside iccstore, applied when the profile is loaded from disk? that would seem more appropriate to me -- or am I missing something?

[2018-11-25 08:48] Thanatomanic opened #5030 "Dynamic Range Compression anchor 99->100 gets darker"
@agriggio In testing the Dynamic Range Compression tool for the documentation, I found cases where setting the anchor to 99 and then go to 100 actually makes the image darker. This is not how I expect it to work, so maybe there is something fishy going on in these edge cases?

Here are two files + pp3 for testing. https://filebin.net/t5cyuuc0gauvb1zm

[2018-11-25 10:12] Desmis commented on #5026
@Hombre57

Thank you for this response
jacques

[2018-11-25 10:13] Desmis commented on #5025
@heckflosse

Ingo
Thank you for this improvment
Jacques

[2018-11-25 10:26] gaaned92 commented on #4994
@Beep6581
If you agree, I will copy back the windows page where further corrections will be possible.

[2018-11-25 10:59] gaaned92 commented on #5000
@TooWaBoo @Hombre57
I tested the `RawTherapee_dev-5.4-1133-g5e0cbd4c_WinVista_64.exe` from @aferrero2707

I notice that the window decoration is not the same as my builds.
You will find on pixls mail a screenshot. https://pixls-discuss.s3.dualstack.us-east-1.amazonaws.com/original/3X/4/4/449b20e2236f3d7af9b1688d4163d52a0618f638.jpeg
Could you identify and fix the issue? GTK3 3.22.26 is used in aut

[2018-11-25 11:02] agriggio commented on #5030
thanks, I'll take a look

[2018-11-25 11:21] TooWaBoo commented on #5000
@gaaned92
The native window has changed with GTK+ 3.22.24 ( https://github.com/Beep6581/RawTherapee/issues/4141 ) and there is no way to change it 'cause it's automatic.

Are you shure it's 3.22.26?

[2018-11-25 11:25] aferrero2707 commented on #5000
@TooWaBoo
I am using 3.22.26 for my builds... what could be wrong then? Native windows OK with 3.22.24 and not with 3.22.26?

[2018-11-25 11:27] TooWaBoo commented on #5000
What's your Gtkmm-version?

[2018-11-25 11:32] aferrero2707 commented on #5000
I am currently using this version: https://ftp.gnome.org/pub/gnome/sources/gtkmm/3.22/gtkmm-3.22.2.tar.xz

I see there is 3.22.3 now, should I update?

[2018-11-25 11:36] TooWaBoo commented on #5000
I would say YES.

[2018-11-25 11:37] TooWaBoo commented on #5000
You can update GTK+ to 3.22.30 too. That's what we are using for Windows.

[2018-11-25 11:56] agriggio commented on #5026
@Desmis
hi Jacques,
do you think we can move the code to the iccstore and apply it when loading an "RTv2" profile from disk?

[2018-11-25 12:32] Desmis commented on #5026
@agriggio

No problem, and it will better for an other usage in #5019
jacques

[2018-11-25 12:43] agriggio commented on #5026
@Desmis great, thanks! I'm working on a patch, I'll post here for your review when I'm done.

[2018-11-25 12:56] heckflosse commented on #5025
I created [review_custom_trc](https://github.com/Beep6581/RawTherapee/tree/review_custom_trc)
Now it's ~16% faster

[2018-11-25 13:25] agriggio commented on #5026
@Desmis here's the patch. Let me know if it looks ok to you, then I'll commit.

[code]

[2018-11-25 13:33] agriggio opened #5032 "The new layout of the crop tool is very "busy" on GTK+ 3.18"
Maybe I'm the only one still on 3.18, but the new grid-based layout is very packed with that version of GTK+, as there is no spacing around the elements:

![crop-cur](https://user-images.githubusercontent.com/11982086/48979695-09490400-f0bf-11e8-9de4-d87006c992f3.jpeg)

Maybe it's possible to solve it with a CSS? If not, any objections to apply the following patch?

[code]

Here's how it looks lik

[2018-11-25 13:38] Thanatomanic commented on #5032
It's not too bad for me on Windows (GTK 3.22.30)

![image](https://user-images.githubusercontent.com/6567747/48979737-6a70d780-f0bf-11e8-893c-aa7c6a258673.png)

[2018-11-25 13:50] gaaned92 commented on #5032
@agriggio just curious. for what reason do you stay on an old development version?

@Thanatomanic some icones are missing
due to lack of ./share/gtk3/settings.ini  with content:

GTK 3.22.30 without the patch:
![image](https://user-images.githubusercontent.com/13785581/48979847-e91a4480-f0c0-11e8-829a-b4b0fdc3ce03.png)

[2018-11-25 14:04] agriggio commented on #5032
Well, the title says 3.18 for a reason... :stuck_out_tongue_winking_eye:

Because I tend to never upgrade a system that works unless I'm forced to. I'm using a (derivative of) Ubuntu 16.04, which ships with GTK+ 3.18

[2018-11-25 14:07] heckflosse commented on #5032
@agriggio no objection

[2018-11-25 14:08] Thanatomanic commented on #5032
@agriggio No objection from me too
@gaaned92 Thanks for the hint about missing settings

[2018-11-25 14:12] Desmis commented on #5026
@agriggio

I just test your patch
Result is evaluated with my old "Histogrammar"

**Very good result with files RTv2**

Very good job, I am impressed by the quality of the work "data processind code" that exceeds me, congratulations

Jacques

[2018-11-25 14:20] agriggio commented on #5026
@Desmis great, I'll push and close then. Thanks for the (fast) review!

[2018-11-25 14:21] Desmis commented on #5026
Ok :)

[2018-11-25 14:23] agriggio commented on #5026
Fixed in cfc947a865cbfe554a28ca9c80f4bf9c1eceda85

[2018-11-25 14:23] #5026 closed, assigned to nobody

[2018-11-25 14:23] agriggio commented on #5032
Fixed in 23aa0562aabc2c028202a3291dd03c91dd78ea88

[2018-11-25 15:24] heckflosse commented on #5025
With last commit it's ~18% faster

[2018-11-25 16:33] agriggio commented on #4981
any objections to pushing the first patch? that behaviour makes more sense to me, fwiw

[2018-11-25 16:54] heckflosse commented on #5025
~19% faster now.

[2018-11-25 17:10] TooWaBoo commented on #5002
Fixed it.

[2018-11-25 18:04] Beep6581 commented on #4188
@heckflosse would your patch to make the blue RGB curve responsive in ProPhoto space be applicable here?

[2018-11-25 18:14] nvki commented on #4285
@heckflosse How are you linearizing the BMDFilm log? I tried getting a description of their log space from BMD directly (for use in nuke) but they wouldnt give me anything.

[2018-11-25 18:28] heckflosse commented on #4285
@nvki I just use the linearization table in the DNG file

[2018-11-25 19:37] bw35 commented on #4752
I'm using RT5.4 from the openSUSE leap 42.3 repo https://download.opensuse.org/repositories/home:/rawtherapee/openSUSE_Leap_42.3/ and noticed the same bug. I know this is closed now but I have some detail which might help finding the root cause and verify that it has been fixed.

RT crashes on fast export, depending on the export options. The crash occurs when using the "Dedicated (full processing

[2018-11-25 19:42] Thanatomanic commented on #4752
@bw35 I have tried to build the current development version of RT on Leap 42.3 but ran into so much trouble that I suggested to drop support for this OS version. See here https://github.com/Beep6581/RawTherapee/issues/4947

If you manage to build the latest dev version of RT on your system and still get the same bug, please report back. Otherwise, I am afraid we cannot be of more use to you.

[2018-11-25 20:17] gaaned92 commented on #5025
W10: builds and runs ok. But not able to test.

[2018-11-25 21:01] heckflosse commented on #5025
Merged

[2018-11-25 21:01] #5025 closed, assigned to heckflosse

[2018-11-26 01:31] nvki commented on #4285
@heckflosse Did you use exiftool to extract it? I wanted to use it for videos shot with the camera, which dont have it embedded and I am unsure how to view that information in the dng.

[2018-11-26 08:52] Desmis commented on #5019
I have modified the patch with enhancement from Alberto @agriggio

All seems to work well, now you can check the gamut with monitor, for RTv2 and RTv4

As I will be away since tomorrow, If somebody can merge this barnch, if of course he agree with this change

Jacques

[2018-11-26 09:23] Beep6581 commented on #4952
We also need to mention when to use this, and when not to use it, i.e. the effect depends on each image and so is unsuitable for panoramic photos pre-stitching.

[2018-11-26 09:57] ff2000 opened #5033 "RT changes color palette of GIMP-2.10.8 window"
Gimp as launched through the system:
![org_gimp](https://user-images.githubusercontent.com/1973708/49006315-803ed500-f171-11e8-8508-6f7ba62ae93c.jpg)
Gimp when run from RT:
![rt_gimp](https://user-images.githubusercontent.com/1973708/49006345-8f258780-f171-11e8-9aa9-be9a49fb759b.jpg)
I changed GTK theme as well as RT theme and it always is reproducible.
Text- and bg-colors seem to change which unf

[2018-11-26 12:00] heckflosse commented on #4285
@nvki Fortunately dcraw code already read the linearization table. I just had to use it. The DNG files have the linearization table embedded:

https://raw.pixls.us/getfile.php/970/exif/Blackmagic%20URSA_1_1999-12-31_2153_C0003_000001.dng.exif.txt

https://raw.pixls.us/getfile.php/2433/exif/Blackmagic_Pocket_Cinema_Camera_1_2016-09-17_0053_C0022_000007.dng.exif.txt

[2018-11-26 12:37] Desmis commented on #4188
@Beep6581  @heckflosse
In fact I repeat it is not a bug, but the bad response is due to Prophoto Matrix
[code]
The third coefficient in the second line is `0.0000857`, that means no response for gamma in blue channel

If you replace `0.0000857` by `0.05` all works fine below

Now a little modification in `improcfun.cc`
[code]
and comment the 2 lines
[code]
I don't know how to post a patch in this

[2018-11-26 12:44] Desmis commented on #4188
Here the patch...with drag and drop the file
[gammaprophoto.txt](https://github.com/Beep6581/RawTherapee/files/2615535/gammaprophoto.txt)

[2018-11-26 13:37] Beep6581 commented on #5032
Hi @agriggio

I'm trying to drop GTK2-era hard-coded styling elements from the code and use GTK3-era CSS for that.

You will find other grids which rely on CSS for padding, probably (from memory) the grids in:
* Preferences > Appearance.
* Preferences > File Browser > Cache Options.
* The work-in-progress "resize to physical dimensions" patch for the Resize tool.
* Profiled Lens Correction.

The C

[2018-11-26 14:23] Beep6581 commented on #5032
Update, there is no CSS solution for GTK+ 3.18.

There is a new `border-spacing` property specifically intended for this, but it is not in any release yet:
https://mail.gnome.org/archives/commits-list/2016-December/msg02402.html

Since we need a viable long-term solution which keeps code clean and consistent, considering the above, I think we should revert to using `set_row_spacing` and `set_colum

[2018-11-26 15:26] Beep6581 commented on #3558
`5.4-1269-g`1bfe03418

[2018-11-26 16:21] Beep6581 commented on #5030
I experienced that many times. I rationalized it as being the result of having e.g. a clipped sun in the otherwise-unclipped image which causes the jump in the last 1% of the slider.

[2018-11-26 16:26] Desmis commented on #5022
I come back to the interest of chromatic adaptation (cat02)

1) What is this for ?
2) why add this thing, so we can do the equivalent with the module Ciecam02 ?
3) But then why not change the white balance and not used Cat02?

for 1)
This action takes into account our eyes and our brain. When you look a scene with an illuminant different from D50 (the one around which is defined all the colorimetr

[2018-11-26 16:37] Beep6581 commented on #5030
I uploaded two files to the filebin - one has a clipped point light source (3 small lights) and exhibits the problem, and the other has no clipping and does not exhibit the problem.

[2018-11-26 16:43] Beep6581 commented on #5000
I'm on 3.22.30 and experience no (new) problems.

[2018-11-26 16:53] agriggio commented on #5030
I haven't tried on the attached pics yet, but I think we should simply limit the anchor range to avoid the extremes, which are inherently unstable, and might cause mismatches between the preview and output. I'd propose to limit anchor to 10-90, opinions?

[2018-11-26 17:00] Thanatomanic commented on #5030
I would need to understand what the anchor does exactly to judge if it's inherently unstable. Is the value of the anchor translated into the code directly, or through some transformation?

Fwiw: 1) I didn't do output testing, so it might be a preview issue. 2) I saw only gradual changes throughout the range, except by going from 99-100. That alone would be a bad argument to just limit things to 90

[2018-11-26 17:42] Beep6581 commented on #4952
detail=threshold=alpha
amount=beta
@agriggio is there an equivalent of "anchor" in the original Fattal paper and terminology?

[2018-11-26 17:45] Beep6581 commented on #4952
Scratch that, the Fattal paper doesn't mention alpha nor beta so the question is irrelevant.

[2018-11-26 17:46] Thanatomanic commented on #4952
They do... Don't have it here on mobile, but it's somewhere top left of a page

[2018-11-26 17:59] Beep6581 commented on #5030
1. It's not a preview issue, the saved images match the preview quite well.
2. The point at which the effect of a small change in the slider results in a large change of the image varies. I even have an image (uploaded, `20 1-3.dng`) where the strongest jump happens between 98-99, and 99 in this image is overall brighter than 100.

[2018-11-26 18:13] Beep6581 commented on #5030
I have nothing against limiting the anchor a bit, as it does prevent jumps in most of my photos.

[2018-11-26 18:16] Thanatomanic commented on #4952
See here: http://www.cs.huji.ac.il/~danix/hdr/hdrc.pdf Page 5 on the top left.

I'll update the docs with the new information.

[2018-11-26 18:19] Beep6581 commented on #4952
@Thanatomanic thank you I :man_facepalming: ctrl+f'd for "alpha" and "beta" instead of α and β
I'm already updating the docs, but I would appreciate if you could proof-read it once I commit.

[2018-11-26 18:39] heckflosse opened #5036 "Using mouse wheel to zoom in sometimes zooms out."
This is caused by getting a `GDK_SCROLL_SMOOTH` with deltaX == deltaY == 0.0.
In this case we don't know the direction the mousewheel was turned and in past assumed 'Downwards'.

Suggested fix: Do nothing in this case:

[code]

[2018-11-26 19:09] agriggio commented on #5030
the anchor is the percentile at which to pick the luminance for exposure scaling. the further you move away from the median, the less "stable" the value becomes. for the extreme points, a single outlier pixel might cause sudden jumps. that's why in practice limiting to 10-90 might be reasonable, but in fact there is no guarantee. also I think there might be an issue with the implementation for the

[2018-11-26 19:19] heckflosse commented on #5030
@agriggio The percentile algorithm clamps using min and max value of the image, not hardcoded values

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rt_algo.cc#L91

[2018-11-26 19:37] Beep6581 commented on #4952
Done:
http://rawpedia.rawtherapee.com/Dynamic_Range_Compression

@agriggio @Thanatomanic if you agree with what I wrote, then I will proceed to add screenshots.

[2018-11-26 19:44] Thanatomanic commented on #4952
@Beep6581 Wonderful. Three things:

1. The first line of the second paragraph is essentially repeating the first line of the first paragraph. Better remove or rewrite.
2. As @agriggio mentioned, my original write-up was wrong. The beta parameter is linked to the amount, not the anchor.
3. Would be nicer to adopt the way Wikipedia uses references, so that we can give proper reference to Mr. Fattal.

[2018-11-26 19:53] Beep6581 commented on #5036
To reproduce:
1. Open image in Editor.
2. Once everything has loaded, move the scroll-wheel one notch to zoom in. RT zooms out.

Fix confirmed.

[2018-11-26 19:55] agriggio commented on #5030
@heckflosse thanks for the correction! As I wrote I didn't test, I was just speculating... wrongly :-)

[2018-11-26 20:19] Beep6581 commented on #4952
@Thanatomanic I made some small edits probably while you were reading.

1. The first paragraph is about the concept of dynamic range in general. The second paragraph is specifically about the dynamic range of a scene. The closing sentence of the first paragraph makes the transition. Do you still think we should remove the opening sentence of the second paragraph?
2. Fixed.
3. Could you make the re

[2018-11-26 21:58] aferrero2707 commented on #5000
I have prepared new packages compiled with GTKMM 3.22.3 (GTK+ is still at 3.22.26).
I will only be able to test them on Windows 10 in a couple of days, but maybe some of you could already have a look and see if the native windows decorations issue still persists?
Here are the links:
- installer: https://github.com/aferrero2707/rt-win64/releases/download/continuous/RawTherapee_dev-5.4-1269-g1bfe034

[2018-11-26 22:02] agriggio commented on #4952
@Beep6581 @Thanatomanic thanks a lot! The docs are great imho :+1:

[2018-11-26 22:37] TooWaBoo commented on #4148
New update
[code]
[code]

[2018-11-26 23:45] Yz2house opened #5037 "Update translations in Japanese"
translated the new strings and some modifications
rgds
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2617735/Japanese.txt)

[2018-11-27 06:55] ff2000 commented on #4981
Seems everybody is happy with the patch, so push please! THX!

[2018-11-27 10:24] Beep6581 commented on #4188
Confirmed that positive gamma correction values of the blue channel now have an effect in ProPhoto space. Negative values however still have almost no effect.

Unsure what we should do.

[2018-11-27 11:03] agriggio commented on #4188
This is already documented in RawPedia, and it's the expected behaviour. I'd say we should do nothing.

[2018-11-27 12:55] fasssc2 opened #5038 "can't open any image"
RT 5.4 for Windows Vista/7/8/10 64-bit - fast

when i try to open an image from my computer the program doesn't open it idk why

![image](https://user-images.githubusercontent.com/45392484/49083114-f9125f80-f24b-11e8-8d23-3964c29c03e7.png)

i downloaded raw therapee from https://rawtherapee.com/downloads

[2018-11-27 12:59] Thanatomanic commented on #5038
The only reason for that to happen is if there are no images in that folder. Did you double click the folder?

Could you also please check in your preferences (I don't know the exact name of the tab, I think the third) if there are ticks for all file formats?

[2018-11-27 13:08] fasssc2 commented on #5038
I didn't touch anything.
Yesterday used to works but today don't.

There are imagine in the folder.
I also tried to open other folder but it's the same things.
(Sorry for the english, i'm italian and i don't speak very well english)

---------- Forwarded message ---------
From: Roel Baars <notifications@github.com>
Date: Mar 27 Nov 2018, 13:59
Subject: Re: [Beep6581/RawTherapee] can't open any ima

[2018-11-27 13:09] fasssc2 commented on #5038
I didn't touch anything.
Yesterday used to works but today don't.

There are imagine in the folder.
I also tried to open other folder but it's the same things.
(Sorry for the english, i'm italian and i don't speak very well english)

Il giorno Mar 27 Nov 2018, 13:59 Roel Baars <notifications@github.com> ha
scritto:

[2018-11-27 13:09] ff2000 commented on #5038
I had something similar happen when I had a huge panorama lying in the same folder. You have a scrollbar in the bottom that indicates a huge amount of horizontal space in use.
You can play with the filter and only activate one filytype at a time. Perhaps that helps to find out the "bad" images.

I think the thumb view could do a better job with layout in such cases.

[2018-11-27 13:18] fasssc2 commented on #5038
in fact the horizontal bar does not indicate anything, because when I open
the application it is so, even if I do not touch anything. it's always like
that, so I do not think it has anything to do with it

Il giorno Mar 27 Nov 2018, 14:09 ff2000 <notifications@github.com> ha
scritto:

[2018-11-27 13:20] Thanatomanic commented on #5038
Can you copy/paste a screenshot of the contents of the folder in Windows Explorer? Please enable thumbnails, if possible.

[2018-11-27 13:29] fasssc2 commented on #5038
![image](https://user-images.githubusercontent.com/45392484/49084814-d2a2f300-f250-11e8-82c3-9079dfcf64e9.png)

[2018-11-27 13:31] fasssc2 commented on #5038
![image](https://user-images.githubusercontent.com/45392484/49084885-ff570a80-f250-11e8-8e9c-4ccd4855d7e9.png)

[2018-11-27 13:46] fasssc2 commented on #5038
i always used raw therapee without changing any settings. the other day it came out an updating i think and I can't open image anymore.
i haven't change camera or phone i always take the same picture with the same settings so idk.
I'm not that good with computer but i don't think i touched something wrong ahahah

[2018-11-27 13:49] heckflosse commented on #5038
Please have a look at the file extensions in preferences:
![grafik](https://user-images.githubusercontent.com/13733487/49085963-9ae97a80-f253-11e8-8dbd-a984ff15a87e.png)

[2018-11-27 14:46] #4981 closed, assigned to nobody

[2018-11-27 14:47] #5019 closed, assigned to nobody

[2018-11-27 14:48] agriggio commented on #5019
I just pushed a fix for this (see my comment in #5035 as well)

[2018-11-27 15:43] fasssc2 commented on #5038
![image](https://user-images.githubusercontent.com/45392484/49092954-739aa980-f263-11e8-968f-6da926233e3f.png)

[2018-11-27 15:57] Thanatomanic commented on #5038
Now that's interesting...
Could you please type the following in Windows Explorer: `%LOCALAPPDATA%` and then look up the RawTherapee folder there and remove the options file. Then restart RT.

[2018-11-27 16:04] fasssc2 opened #5039 "can't use the hsv"
RT 5.4 for Windows Vista/7/8/10 64-bit - fast
 the color doesn't change i don't know what to do
![image](https://user-images.githubusercontent.com/45392484/49094398-7519a100-f266-11e8-94f0-ca5742f16a57.png)

[2018-11-27 16:07] heckflosse commented on #5039
![grafik](https://user-images.githubusercontent.com/13733487/49094535-cb86df80-f266-11e8-97ee-1b831923dff6.png)

and read http://rawpedia.rawtherapee.com/Main_Page

[2018-11-27 16:09] #5039 closed, assigned to nobody

[2018-11-27 16:14] fasssc2 commented on #5038
I added "cr2" (the format of te image) at parsed extension, now it works!

[2018-11-27 18:25] ff2000 commented on #5036
I have the same issue in the file browser: Scrolling down sometimes scrolls up. Can the same patch be applied there?
I regularly get an unworkable state where not just the first scroll event goes in the wrong direction but also subsequent ones, so the file browser always scrolls up and the editor zooms out forever.
I think this is caused by gtk+ (3.24.1 here on Gentoo Linux). Do you know if there

[2018-11-27 18:37] heckflosse commented on #5036
@ff2000

Can you try this patch please?

[code]

At least it should avoid scrolling the wrong direction...

[2018-11-27 18:40] heckflosse commented on #5036
@ff2000 I can reproduce this issue only on my laptop running Sabayon. Are you on a laptop as well?

[2018-11-27 18:49] ff2000 commented on #5036
Thx, the patch fixes the issue.
I can reproduce this on both a Laptop (with a normal desktop-mouse plugged in) and a desktop machine. As Sabayon is Gentoo-based this might be a Gentoo-issue...

[2018-11-27 18:51] heckflosse commented on #5036
@Beep6581 As you could reproduce the issue, was that also on a Sabayon/Gentoo system?

[2018-11-27 18:52] heckflosse commented on #5036
Imho the patch is save to push. I will do that now, but keep the issue open.

[2018-11-27 20:35] nvki commented on #4285
@heckflosse Thank you!

[2018-11-27 20:52] heckflosse commented on #4285
@nvki @Waveluke @jedypod Ok to close this issue now?

[2018-11-27 21:06] thirtythreeforty commented on #4966
I have investigated this with an exquisitely painful massif run with low-level page allocation turned on.  For those interested, I am providing a sample [ms_print_output.txt](https://github.com/Beep6581/RawTherapee/files/2621834/ms_print_output.txt) dump.

Functions that underwent special scrutiny include `AlignedBuffer::resize()` and `wavelet_level::create()`; they are slinging a lot of raw point

[2018-11-27 21:16] thirtythreeforty commented on #4416
Preloading jemalloc also solves the glibc arena issue for me as well as tuning the env variable:
[code]

further suggesting that it is glibc's arenas causing the issue.

[2018-11-27 21:23] Konyicsiva commented on #5032
Sorry for being off, but it's related to cropping. Could someone correct the tiny bug in image diagonal calculation?

[code]

[2018-11-27 21:28] heckflosse commented on #5032
@agriggio @Thanatomanic Ok to commit? For me it's a no brainer

[2018-11-27 21:51] heckflosse commented on #5032
@agriggio @Thanatomanic Feel free to commit. I'm on a different branch atm

[2018-11-27 22:04] heckflosse commented on #5032
@Konyicsiva Very well spotted this bug. Compliment :+1:

[2018-11-28 03:51] TooWaBoo commented on #5032
@Beep6581
Replace in the RT-theme
[code]
with
[code]
... and you'll get the spaces everywhere.

[2018-11-28 06:32] Beep6581 commented on #5038
@fasssc2 delete your `options` file as described here:
http://rawpedia.rawtherapee.com/Preferences#Parsed_Extensions

[2018-11-28 06:32] #5038 closed, assigned to nobody

[2018-11-28 06:34] Beep6581 commented on #5038
@fasssc2 which version did you update from?

[2018-11-28 06:36] Beep6581 opened #5040 "Reset parsed extensions when empty"
Multiple users have reported that their Parsed Extensions list becomes empty after an update. Aside from finding the cause of the problem, it would be good if there was a safeguard which resets the parsed extensions list if its empty. I can't imagine of what use RawTherapee could be without any parsed extensions.

[2018-11-28 06:38] Beep6581 commented on #5038
@ff2000 it fooled me too, but now I reproduced (gtk+-3.22.30, Sabayon) that RT shows the same "huge-space" scrollbars when opening a completely empty folder:
![screenshot_20181128_073321](https://user-images.githubusercontent.com/5844619/49133482-96b76e80-f2e0-11e8-8882-f282072213f7.png)

[2018-11-28 06:43] Beep6581 commented on #5036
@heckflosse I never experienced what was described here https://github.com/Beep6581/RawTherapee/issues/5036#issuecomment-442165022

@ff2000 could you explain to me exactly how to reproduce?

[2018-11-28 08:17] ff2000 commented on #5036
@Beep6581 The general case is the same as in the editor: Scroll the wheel one tack down and it won't scroll down but up. Turning the wheel down several steps in one go will still scroll up for the very first event but all the others will scroll down. This was always reproducible.

The other thing I mentioned wasn't reproducible in a specific way and it didn't happen every day. It just happened in

[2018-11-28 08:50] ff2000 commented on #5033
This is the kind of issue I love! Erm...

The window looks good when gimp
* is opened through Krunner
* is opened from a standalone terminal window (urxvt, konsole)

It looks bad when gimp
* is started from RT
* is started from dolphin when clicking on a file
* is opened from an embedded Konsole in dolphin (with and without a file).

So this has nothing to do with RawTherapee -> Issue closed!

[2018-11-28 08:50] #5033 closed, assigned to nobody

[2018-11-28 11:32] aferrero2707 commented on #5000
I've been researching a bit more about CSD on Windows. It seems that MSYS2 has a custom patch that disables CSD by default on Windows, while the official GTK3 sources have CSD enabled by default, see discussion [here](https://gitlab.gnome.org/GNOME/gtk/issues/760#note_110809).

This might explain the difference between the packages from @gaaned92 and myself (I am not using MSYS2, but the OpenSUSE

[2018-11-28 13:38] agriggio commented on #5040
Here's a patch:

[code]

[2018-11-28 14:58] gaaned92 commented on #5000
@aferrero2707
sadly, the problem persists.
The discussion you linked identifies the reason. I wonder if  there is a way to patch the mingw package?

[2018-11-28 15:09] aferrero2707 commented on #5000
@gaaned92
In fact I mentioned something wrong... for GTK3 I am compiling the sources, not using the OpenSUSE package (the provided version is too old).

Anyhow, I think that the best solution would be to force `GTK_CSD=0` in the RT initialisation, if the environment variable is not set by the user. This would provide a default behaviour that is independent of the GTK3 package being used.

What do

[2018-11-28 15:36] heckflosse commented on #5040
Fix confirmed.

[2018-11-28 15:58] agriggio commented on #5040
Can someone push please? Thanks!

[2018-11-28 16:05] #5040 closed, assigned to nobody

[2018-11-28 16:32] Beep6581 commented on #3558
`5.4-1275-g`79d561469

[2018-11-28 20:26] gaaned92 commented on #5000
@aferrero2707
perhaps a stupid question : isn't it possible to use the compiled MSYS2 package?
I am in favor of applying the same patch as MSYS2. Before they applied this patch there were complaints of windows users as GTK3 was breaking the snap feature.

[2018-11-28 22:53] heckflosse commented on #5030
@agriggio Just to exclude a possible wrong calculation, I want to push this:

[code]

Any objections?

[2018-11-29 03:45] snappyapple632 opened #5041 "When exiting fullscreen, buttons become misaligned"
I am using the 64-bit version of RawTherapee 5.4 on Windows 10 build 1809. In the screenshot, RawTherapee selects Preferences, but the mouse cursor is blow the button. This occurs after entering and exiting fullscreen mode.
![bug](https://user-images.githubusercontent.com/40573129/49196134-96e65700-f33e-11e8-8a89-9b3ec0df5b82.png)

[2018-11-29 09:50] gaaned92 commented on #5041
@snappyapple632
I cannot reproduce here with Rawtherapee5.4 and W10.
Could you please provide the simplest step by step procedure to reproduce.
Meanwhile, I found some glitches in the operating of this function. I will document in other thread.

[2018-11-29 09:57] Beep6581 commented on #5041
@snappyapple632 can you reproduce this using the latest development build?
Try `RawTherapee_dev_*` from:
https://keybase.pub/gaaned92/RTW64NightlyBuilds/
If you can reproduce, show an uncropped screenshot of the whole screen.

[2018-11-29 17:29] #4285 closed, assigned to heckflosse

[2018-11-29 17:32] heckflosse commented on #5036
Ok to close?

[2018-11-29 17:47] heckflosse opened #5042 "Document Microcontrast"

[2018-11-29 17:57] Thanatomanic commented on #5042
Duplicate of #4962, closing 😉

[2018-11-29 17:57] #5042 closed, assigned to heckflosse

[2018-11-29 18:27] heckflosse commented on #5042
Oh, missed that. Thanks for closing :+1:

[2018-11-29 18:55] ff2000 commented on #5036
I think it can be closed. I don't know GTK+ enough but I think it shouldn't post such events in the first place. I also didn't experience an issue since the patches.

[2018-11-29 19:37] Thanatomanic commented on #4968
I just managed to have this issue too:
![image](https://user-images.githubusercontent.com/6567747/49247017-899c9b80-f416-11e8-8b36-1cbbcc462c77.png)

I think it happened after I switched themes, but I'll check.

[2018-11-29 19:58] TooWaBoo commented on #4968
You always need to restart RT when you switch the themes.

[2018-11-29 20:03] Thanatomanic commented on #4968
Getting slightly off-topic here, but that's not mentioned in the Preferences and there's only a very small mention in [RawPedia](http://rawpedia.rawtherapee.com/Preferences#Theme). If switching theme's is such an iffy thing, why not make a restart compulsory?

[2018-11-29 20:05] Beep6581 commented on #4968
@Thanatomanic http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
;)

[2018-11-29 20:15] Thanatomanic commented on #4968
@Beep6581 I now have a way to properly reproduce:

1. Enable RawTherapee theme, close RT
2. Start RT
3. Right click an image in the File Browser and navigate through several levels of menu's (e.g. Processing profile operations).
4. Switch to the TooWaBlue - Dark theme
5. Repeat step 3, but now there is extra spacing.

AboutThisBuild.txt
[code]

[2018-11-29 20:24] Beep6581 commented on #4968
@Thanatomanic you didn't restart in your steps, the GUI clearly says "restart required" :laughing:

[2018-11-29 20:25] Thanatomanic commented on #4968
Where exactly?
![image](https://user-images.githubusercontent.com/6567747/49249721-4c87d780-f41d-11e8-81ab-b60a07de4c2b.png)

[2018-11-29 20:28] Beep6581 commented on #4968
@Thanatomanic my commit should be mentioned just above there:

![imgur-2018_11_29-21 26 13](https://user-images.githubusercontent.com/5844619/49249801-7c36df80-f41d-11e8-811f-34a7135f0170.png)

[2018-11-29 20:29] Thanatomanic commented on #4968
Sorry, completely missed that! That means we can actually close this issue, right?

[2018-11-29 20:33] casta commented on #4968
No ;)
I have the issue since some time with toowa themes, even after restart. The issue does not occur with default theme. I get this on 3 different computers but with exactly the same libraries versions (same distro)

[2018-11-29 20:53] Beep6581 opened #5043 "Old clear-crop method does not work when zoom-to-fit-crop active"
When Preferences > Image Processing > Crop Editing > "Automatically zoom to the fit the crop" is active, the old method of clearing the crop does not work:

When you do the above, a 1x1px crop is drawn, and then it seems RT centers this 1x1 area in the canvas which messes up the reset-crop logic.

[2018-11-29 21:30] aferrero2707 commented on #5000
@gaaned92
before investigating the use of the MSYS2 package (it's an option I am seriously considering), I have applied a simple patch to the RT sources that mimic the same behaviour: it defaults to `GTK_CSD=0` if the variable is not set.

The patch is [here](https://github.com/aferrero2707/rt-win64/blob/master/ci/rtgui-GTK_CSD-env.patch), and the new package [here](https://github.com/aferrero2707

[2018-11-29 22:13] gaaned92 commented on #5000
@aferrero2707
Yes that's ok now :thumbsup:
The remaining problems ( unnecessary files, missing icones) don't prevent to use the build.

[2018-11-29 23:03] snappyapple632 commented on #5041
I am not able to reproduce it now. I will be closing this thread until it pops up again in my use and until I can gather more accurate instructions.

[2018-11-29 23:03] #5041 closed, assigned to nobody

[2018-11-29 23:10] Yz2house opened #5044 "Update GUI in Japanese"
I thought that I sent the updated Japanese GUI for 27e6d5e but it seems I did not (after I checked the related issues).  Once again, I send it.
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2631224/Japanese.txt)
 regards

[2018-11-30 04:22] TooWaBoo commented on #4968
@casta
I don't know what's wrong. The theme has no control over the positions of menus. They are calculated by Gtk and/or the OS.

[2018-11-30 05:20] TooWaBoo commented on #4148
New update
`mingw-w64-x86_64-jansson-2.12-1`

[2018-11-30 07:53] aferrero2707 commented on #5000
@gaaned92
Great! At this point I will set up the mechanism for daily builds. For the moment the output packages will be stored in my github repository, waiting for green light from the RT developers to eventually move them together with the AppImages.
Ping @Beep6581 @heckflosse @Hombre57 @agriggio about this...

[2018-11-30 10:25] #5044 closed, assigned to nobody

[2018-11-30 10:25] Beep6581 commented on #5037
Handled by #5044

[2018-11-30 10:25] #5037 closed, assigned to nobody

[2018-11-30 14:39] ff2000 opened #5045 "Crop Reset-Button sets X=Y=0"
The crop reset button (#5015) should use the method implemented in https://github.com/Beep6581/RawTherapee/commit/4a6449b310f57b27c07017e4fa96f1eec7c5284f - properly center-align the selection.

[2018-11-30 14:55] Thanatomanic commented on #5045
Can you explain why something else should happen? My impression of a reset is that you get the values back as if you applied the Neutral profile, i.e. the full uncropped image.

[2018-11-30 15:00] TooWaBoo commented on #5045
@Thanatomanic
You forgot the ratio setting. ;-)

[2018-11-30 15:07] TooWaBoo commented on #4148
New update

[code]

[2018-11-30 16:54] Thanatomanic commented on #5045
Two things can happen:

1. The crop is reset taking into account the ratio that has been set,
2. The crop is reset _and_ the ratio is reset to 'As Image'.

My intention has always been the second option, and then - indeed - I forgot to reset the ratio. But @ff2000 seems to want the first options.

So, opinions? @Beep6581 @heckflosse

[2018-11-30 17:05] Beep6581 commented on #5045
I don't have a _strong_ preference, but the second option sounds better to me.

[2018-11-30 17:55] ff2000 commented on #5045
I thought it was intentional that the ratio was kept.
I don't really care if it's reset to cameras native ratio  or keep the one set in the UI.

[2018-11-30 19:58] heckflosse opened #5046 "Crop dimensions are not set correctly if crop tool is disabled in pp3"
I found a bug in the crop tool. It's already in 5.4, means it's not caused by latest changes to crop tool.

To reproduce:

1) Open amsterdam.pef
2) apply neutral profile
3) enable the crop tool
4) set ratio to 16:9

This results in the following:
[code]
Good!

5) Disable the crop tool
6) open a different file so that the pp3 gets written

pp3 content is:
[code]

Good!

7) Open amsterdam.pef
8) Go

[2018-12-01 12:15] heckflosse opened #5047 "Wrong border interpolation when using DCB with raw border = 0"
To reproduce:

1) open amsterdam.pef
2) set demosaic to DCB
3) set border to 0
4) zoom top left
![grafik](https://user-images.githubusercontent.com/13733487/49328116-1b1d2200-f56b-11e8-8766-9c24b1bac544.png)

[2018-12-01 12:21] #5047 closed, assigned to heckflosse

[2018-12-01 12:30] heckflosse opened #5048 "Wrong border interpolation when using IGV"
To reproduce:

1) open amsterdam.pef
2) set demosaic to IGV
3) zoom top left
![grafik](https://user-images.githubusercontent.com/13733487/49328232-39841d00-f56d-11e8-92b3-f747cc17b818.png)

[2018-12-01 12:33] #5048 closed, assigned to heckflosse

[2018-12-01 12:52] #5036 closed, assigned to heckflosse

[2018-12-01 15:29] age1988 opened #5049 "Panasonic DC-LX100M2 raw support"
Is it possible to add support for Panasonic lx100 mark2 .
link to the sample .RW2 raw
https://filebin.net/eeqfofmhc894u6r2

[2018-12-01 17:54] Benitoite opened #5051 "mac/gui: The tiny plus/minus buttons have disappeared. Where do they come from?"
![screenshot 2018-12-01 at 9 46 33 am](https://user-images.githubusercontent.com/17919239/49331198-3d547700-f54e-11e8-91c1-83e21c5d6755.png)

I've built RT for macOS on a fresh system and seem to have lost these two icons.  Does anyone know where they come from?   It happens on all themes, and on every system with this bundle.

[code]
(ignore the dual -std definitions for now that has been fixed)

[2018-12-01 19:54] fasssc2 opened #5052 "color change"
when I edit the photo on raw therapee it's a good photo with good color etc...
but when i look at the photo from the computer the color of the image just change, i don't know why, I think it's for some setting, but I can't understand what setting, can someone help me?

here is an exemple:
![image](https://user-images.githubusercontent.com/45392484/49332299-255f1080-f5ab-11e8-8293-d6ee66089bda.png)

[2018-12-01 19:57] Thanatomanic commented on #5052
Most likely is that the Windows photo viewer is not properly color managed.
Can you please upload the RAW + PP3 + exported JPEG? Just to verify.

[2018-12-01 21:15] fasssc2 commented on #5052
How can i do that? Ahahah

Il giorno Sab 1 Dic 2018, 20:57 Roel Baars <notifications@github.com> ha
scritto:

[2018-12-01 21:17] Thanatomanic commented on #5052
https://filebin.net is the easiest. Just upload there and copy the link here.

[2018-12-01 21:27] heckflosse commented on #5052
@Thanatomanic Roel, I really appreciate your patience :+1:

[2018-12-01 22:32] Beep6581 commented on #5052
@fasssc2 in addition to possibly incorrect color management, it looks like you're using one or more of the tools marked as "1:1", specifically it looks like you're using Tone Mapping or Wavelets.
See https://discuss.pixls.us/t/problem-with-rendering-photos/10090/7?u=morgan_hardwood

[2018-12-01 22:49] Beep6581 commented on #5051
Those two icons are called `list-add-symbolic` and `list-remove-symbolic`, and they come from `adwaita-icon-theme` or whatever icon theme your system is configured to use for GTK3 apps.

[2018-12-01 23:08] RawConvert commented on #4980
@Desmis ,  hi,  I've built Dev tonight and from the above it should have your changes in I think.
One point - though V4 profiles have been removed from Preferences, you can still select them via the preview screen.
If you do this, then go into Prefs, then click CANCEL, the monitor profile in the preview window is updated!!  Yes, Cancel!
Good news though is that even with V4, the anomaly of showing

[2018-12-02 00:29] Beep6581 commented on #5049
Preliminary support added for RawTherapee 5.5.

@age1988 could you get us sets 1 and 2 with intermediate ISO values as described here?
http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats

[2018-12-02 01:11] Beep6581 commented on #4550
@coreoas we were busy with other things and meanwhile the filebin expired... could you re-upload the photos please?

[2018-12-02 01:13] Beep6581 commented on #4966
As this issue is likely resolved, @heckflosse would you be ok with closing it for 5.5 and eventually opening a new one for 5.6?

[2018-12-02 01:16] Beep6581 commented on #4035
Toolbars have been made scrollable for RawTherapee 5.5.
If anyone has further requests, e.g. allowing splitting of the toolbar as shown here https://github.com/Beep6581/RawTherapee/issues/4035#issuecomment-324809917 then please open a new issue.

[2018-12-02 01:16] #4035 closed, assigned to Beep6581, Hombre57

[2018-12-02 01:17] Beep6581 opened #5053 "Document scrollable toolbars"
Toolbars were made scrollable in issue #4035

[2018-12-02 01:20] Beep6581 commented on #4472
@agriggio "dev is up to date with all commits from floatdng", so shall we close this, and/or open a new issue for 5.6 if anything is outstanding?

[2018-12-02 07:01] Benitoite commented on #5051
Thanks for the help @Beep6581  I had to install the adwaita icons from its repo. Once I did and reran the bundling script the icons magically appeared in the program.  Didn't even have to restart the app.
I have the list-add and list-remove icons, but still don't have the drop-down thingies:
![screenshot 2018-12-01 at 10 57 53 pm](https://user-images.githubusercontent.com/17919239/49336756-e5a1248

[2018-12-02 09:16] ff2000 opened #5054 "Simplify resetting white balance to "camera""
When manually adjusting white balance the WB-selector jumps to "Custom". If I later want to reset it to camera I have to scroll through the whole list of available WB presets, as "Custom" is at the bottom and "Camera" is on the top. Unfortunately the WB selector is some sort of self-scrolling widget that takes some time to navigate through.
It would be easier if the "Custom" entry was either on to

[2018-12-02 09:20] Thanatomanic commented on #5054
This makes sense to me :+1:
Similar to the introduction of a reset button for the crop, we could introduce a general reset button for the white balance. The reset being "Camera".

[2018-12-02 10:57] #4966 closed, assigned to heckflosse

[2018-12-02 11:53] fasssc2 commented on #5052
sorry but i don't understand.
i had to upload RAW + PP3 + exported JPEG of what? plus i don't know how to export in jpeg

[2018-12-02 11:57] Thanatomanic commented on #5052
@fasssc2 Your sceenshots show that you have a CR2 file in RawTherapee, but a JPEG file in Windows Photo viewer. Is this JPEG straight from the camera, or did you export it from RawTherapee (by putting it in the 'coda di sviluppo' or through 'fast export')?

[2018-12-02 11:57] fasssc2 commented on #5052
also @Beep6581 i'm not using tone mapping or wavelets, i tried to read the link that you send but i can't understand what option I need to change

[2018-12-02 11:58] fasssc2 commented on #5052
@Thanatomanic  i just saved the image from raw therapee
i look like a dumb but i'm not really good with computers ahahah

[2018-12-02 12:00] Thanatomanic commented on #5052
No problem, but if you saved it from RawTherapee, then please upload that JPEG file together with the original raw (CR2) file and the PP3 file with the same name. You should find the PP3 file next to your raw file.

[2018-12-02 12:05] fasssc2 commented on #5052
upload here ?

[2018-12-02 12:13] fasssc2 commented on #5052
ok maybe i understand. i should upload the photo on the link and then publish it here?

[2018-12-02 12:18] Thanatomanic opened #5055 "Startup difficulties: strange keyboard behavior + rather slow"
I want to show you how RawTherapee starts on my machine: https://filebin.net/axui1a75ljpif7ub
Here I simply start RT and then press 'a' repeatedly on my keyboard in Google Translate (but other programs work too, e.g. Notepad++). Two observations here:

1. **Where do the accented letters come from?** This is my main point. I have my keyboard settings on Dutch, which allows me to type accented lette

[2018-12-02 12:20] Thanatomanic commented on #5052
@fasssc2 As I said before:

[2018-12-02 12:52] heckflosse commented on #5055
@Thanatomanic

RT uses more than one core at startup when started in non verbose mode. For example [here](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/init.cc#L44).

Can you try with verbose=true in options?

[2018-12-02 13:03] Thanatomanic commented on #5055
@heckflosse Unfortunately, that does not change much for the lag. I guess that because RT is reading stuff from different locations on disk (i.e. profile information, lensfun, darkframe, flat-field, etc.) this bottlenecks the startup a bit.
If I remove lensfun, darkframe and flat-field folders, the startup still lags, but is faster in general.

The accented letters still happen, no matter what.

[2018-12-02 13:33] Beep6581 commented on #5051
@Benitoite that's `pan-down-symbolic`.

[2018-12-02 13:36] Beep6581 commented on #5051
For reference, File Browser treeview:
![imgur-2018_12_02-14 34 50](https://user-images.githubusercontent.com/5844619/49340401-86382880-f63f-11e8-956c-7a1bc84dfccf.png)

Metadata panel:
![imgur-2018_12_02-14 35 40](https://user-images.githubusercontent.com/5844619/49340405-951edb00-f63f-11e8-823a-746d449d5894.png)

[2018-12-02 13:40] Beep6581 commented on #5051
And comboboxes should also have the `pan-down-symbolic` icon:
![imgur-2018_12_02-14 36 51](https://user-images.githubusercontent.com/5844619/49340422-d7481c80-f63f-11e8-9c8a-edef227c6811.png)

Queue:
![imgur-2018_12_02-14 37 23](https://user-images.githubusercontent.com/5844619/49340453-4e7db080-f640-11e8-85da-e837995cffaa.png)

Film Simulation:
![screenshot_20181202_143923](https://user-images.gi

[2018-12-02 14:08] agriggio commented on #4472
I think you can close, yes. If anything pops up, we will reopen

[2018-12-02 14:14] #4472 closed, assigned to agriggio

[2018-12-02 15:16] Beep6581 commented on #4550
Closing for 5.5. If you can upload the raw files, please open a new issue.

[2018-12-02 15:16] #4550 closed, assigned to nobody

[2018-12-02 16:07] Hombre57 commented on #3547
@Thanatomanic @Floessie @agriggio and anyone who know Glib : do you know how to use a pointer in a `Gtk::TreeModelColumn`, e.g. `Gtk::TreeModelColumn<MyClass*> icon1` ? This seem sooooooooo complex to use, that it makes me sooooooooo ANGRY :rage: :rage: :rage: :rage: .

[2018-12-02 18:02] Benitoite commented on #5051
An old `/opt/local/share/icons/Adwaita` copied over from my previous install includes all the correct icons.
![screenshot 2018-12-02 at 9 52 46 am](https://user-images.githubusercontent.com/17919239/49343136-fa130a80-f618-11e8-8835-a6092ca57c64.png)
Case closed, thanks again.

[2018-12-02 18:02] #5051 closed, assigned to nobody

[2018-12-02 18:43] Beep6581 opened #5057 "Rename color toning methods"
Our current color toning method names (0):
[code]

I want to rename them in a consistent and meaningful scheme.

If we go by the documentation, the old methods are split into "blending" and "addition". Assuming this distinction benefits the user, the proposed style would be (1):
[code]

Assuming the user doesn't benefit from that distinction, we could name them by what they expose (2):
[code]
whic

[2018-12-02 18:53] fasssc2 commented on #5052
https://filebin.net/6jtw53wrjx93f3rv

[2018-12-02 19:28] Beep6581 commented on #5052
@fasssc2 there is a difference between the preview and the saved images because you're using extreme Dynamic Range Compression settings - a tool which is marked "1:1".

No bug, closing.

[2018-12-02 19:28] #5052 closed, assigned to nobody

[2018-12-02 19:33] Thanatomanic commented on #5052
@fasssc2 Thank you for uploading. Here's what I get:

![image](https://user-images.githubusercontent.com/6567747/49343685-8ef42300-f66e-11e8-8a94-034157dcd0a5.png)

A few observations:
- Your JPEG looks the same in Windows Photo viewer (maybe colour managed) and IrfanView (definitely colour managed). So there's nothing wrong with the output.
- As @Beep6581 already suspected, you are using a tool w

[2018-12-02 19:34] heckflosse opened #5058 "Get rid of special windows code"
I created a [branch](https://github.com/Beep6581/RawTherapee/tree/get-rid-of-special-windows-code) to get rid of special windows code.

The first commit gets rid of rtgui/windirmonitor.cc and .h

@Thanatomanic @Hombre57 @Desmis @TooWaBoo
Please test whether RT still detects new files/folders in the currently active folder.

[2018-12-02 19:35] Thanatomanic commented on #5058
Interesting, I will check somewhere during the week!

[2018-12-02 19:36] heckflosse commented on #5058
No hurry please. That's for 5.6

[2018-12-02 20:15] heckflosse commented on #5058
I added a commit which gets rid of special windows code in `MultiLangMgr::getOSUserLanguage()`

[2018-12-02 20:15] Beep6581 commented on #5052
@Thanatomanic another reason for the difference in colors when "HDR Tone Mapping" AKA "Dynamic Range Compression" is turned off is that 5.4 had a different input profile for the Canon EOS 1300D than dev - I created a new DCP for that camera in April 2018.

[2018-12-02 20:25] TooWaBoo commented on #5058
@heckflosse
So far no issues found.

[2018-12-02 21:26] Beep6581 commented on #4429
You can review the `release-5.5` branch here:
https://github.com/Beep6581/RawTherapee/compare/release-5.5

Release notes:
https://github.com/Beep6581/RawTherapee/blob/release-5.5/RELEASE_NOTES.txt

I will tag 5.5-rc1 tomorrow.

[2018-12-03 00:47] fasssc2 commented on #5052
i selected 'none' for the monitor colour profile and didn't use the hdr tone mapping tool and it works
so it won't happen again now?

[2018-12-03 00:57] Hombre57 commented on #4429
@Beep6581 Please add commit e2490e5381ce97cc1d77034b65ea15cd1c73dc1c to RT5.5.

[2018-12-03 01:00] Hombre57 commented on #3547
I finally removed all the custom `CellRenderer` BS. Now I have something that compile and is usable finally! I'll try to finish this next w.e.

[2018-12-03 08:54] agriggio commented on #4429
Also 7cfd9dc8f4269a2bf774385275161839e708fd77 should go in

[2018-12-03 11:18] agriggio commented on #4980
Hi @Desmis and others:

wouldn't be better to have linear gamma for the ACES profiles? That's what I would have expected... if not, why not?

[2018-12-03 11:19] agriggio commented on #4980
Reopening so that it gets noticed -- I think this should be answered for 5.5

[2018-12-03 12:31] heckflosse commented on #5058
Test case for last commit: zooming thumbnails in file browser should still work.

[2018-12-03 13:48] Kildor opened #5061 "Missed UI entries in languages files."
There are two missed keys in languages files:
TP_COLORAPP_ADAPTSCENE
TP_COLORAPP_ADAPTVIEWING
![image](https://user-images.githubusercontent.com/1320579/49377239-3723ed80-f73c-11e8-977e-6e18717fd4de.png)

Version: 5.4-1315-g7cfd9dc8f

PS: There is [an issue](https://github.com/Beep6581/RawTherapee/issues/1636#issuecomment-129979736) which could be related to these entries

[2018-12-03 14:13] Kildor commented on #4429
What is last day for translations? Do I have a week?
I have an update for Russian translation, but I want to improve it a little before 5.5

[2018-12-03 14:46] Beep6581 commented on #4429
@Kildor RC1 is today, final is a week before Christmas (~17th).

[2018-12-03 15:22] #5061 closed, assigned to Beep6581

[2018-12-03 15:27] age1988 opened #5062 "Choose when to use filmlike_clip in the 8/16 bit conversion"
Please could you assign the filmlike_clip behaviour for the 8 or 16 bith depth conversion to the “clip out-of-gamut” button or add a toogle option in the general preference?

Sometimes I'd like to entirely disable the filmlike_clip "style"  while for other images it's great (eg. with blue sky).
Thanks :-)

[2018-12-03 15:31] age1988 commented on #5049
It works very well in the dev version, thank you.
Should the raw files  be totally overexposed?

[2018-12-03 15:42] Beep6581 commented on #5049
As stated in the documentation.

[2018-12-03 21:10] agriggio commented on #5062
you can export to a float TIFF and convert to JPG from there (e.g. with Imagemagick). Then no filmlike_clip will take place

[2018-12-03 22:18] Beep6581 commented on #4784
Is the first comment up to date?

[2018-12-03 22:20] Beep6581 commented on #4429
@aferrero2707 @gaaned92 @benitoite [5.5-rc1](https://github.com/Beep6581/RawTherapee/releases/tag/5.5-rc1) is tagged, please link me to binaries when available (manual, CI, etc).

[2018-12-03 23:22] TooWaBoo commented on #4784
Updated the first comment. Point 3. works now.

[2018-12-03 23:51] Benitoite commented on #4429
Here is a build for MacOS 10.9+

https://filebin.net/toy5x0dwtx4p764p/RawTherapee_OSX_10.9_64_5.5-rc1.zip?t=anwhtlgi

[code]

Lensfun Timestamp= `1536512901`

Build by Richard Barber
:barber:

[2018-12-04 00:30] Beep6581 commented on #4784
And this affects only 3.24.0, not 3.24.1?

[2018-12-04 04:26] TooWaBoo commented on #4784
Sorry, my fault. Tested with 3.24.1. Changed title.

[2018-12-04 08:07] aferrero2707 commented on #4429
AppImage package: [RawTherapee-releases-5.5-rc1-20181203.AppImage](https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-releases-5.5-rc1-20181203.AppImage)

The automated Win64 build will come in a short while...

[2018-12-04 09:53] aferrero2707 commented on #4429
Win64 continuous integration:
- portable: [RawTherapee_releases-5.5-rc1.zip](https://github.com/aferrero2707/rt-win64/releases/download/continuous/RawTherapee_releases-5.5-rc1.zip)
- installer: [RawTherapee_releases-5.5-rc1_WinVista_64.exe](https://github.com/aferrero2707/rt-win64/releases/download/continuous/RawTherapee_releases-5.5-rc1_WinVista_64.exe)

[2018-12-04 11:03] gaaned92 commented on #4429
uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

Lensfun Timestamp= 1536512901

[2018-12-04 11:10] gaaned92 commented on #4429
uploaded at
https://keybase.pub/gaaned92/RTW32NightlyBuilds/

[2018-12-04 11:15] gaaned92 commented on #4994
The windows page is updated

[2018-12-04 12:36] sguyader commented on #4429
So far no issues for me with 5.5-rc1.
"Color Regions" should be added to the Color Toning tool tip.

[2018-12-04 12:36] casta commented on #4968
After digging into the toowablue css, I achieved to fix the issue by adjusting this box-shadow property.
I still do not know why I’m the only who is affected.

[2018-12-04 14:34] age1988 commented on #5062
Yes I think that  could work

[2018-12-04 15:05] Beep6581 commented on #4429
@gaaned92 Is there currently any benefit to using your build as compared to @aferrero2707 's automated installer? To keep things simple I will only upload one build, and would prefer to use automated ones for obvious reasons, assuming they're as good as your self-made ones.

[2018-12-04 15:06] Beep6581 commented on #4429
@Benitoite I always wondered what that little Christmas stick was below your posts, found out now that it's a `:barber:` hehe :)

[2018-12-04 15:45] TooWaBoo commented on #4968
@casta
Hmmm, looks like your system doesn't support client-side-decoration and doesn't handle this well.
The box-shadow adds a shadow to the menus and it shouldn't be shown if the system doesn't support it.

![grafik](https://user-images.githubusercontent.com/13800920/49453206-f59a4d80-f7e2-11e8-8826-7b0a10809a7a.png)

Instead of removing the shadow add `.csd` in front of `.popup`. Tell me if that

[2018-12-04 16:26] TooWaBoo commented on #4148
New update
[code]

[2018-12-04 16:44] casta commented on #4968
Yes indeed, I have CSD disabled (using archlinux patches: https://github.com/TomaszGasior/gtk3-mushrooms/blob/master/csd__disabled-by-default.patch). So that is the difference. But what is the point to use CSD css classes on an application that do not handle CSD? (just a question, no offense)

Anyway, your proposal is working correctly!

[2018-12-04 16:50] TooWaBoo commented on #4968
Ok, I'll fix it.
CSD is handled well on Windwos. :-)
Some Linux system doesn't support native windows, they only support CSD. Thats why the theme contains styles for client-side-decoration.

PS: Can you close your PR, please.

[2018-12-04 17:06] Beep6581 commented on #4968
"Some Linux system" > Wayland/Weston.

[2018-12-04 18:07] gaaned92 commented on #4429
@Beep6581
As I already wrote, except some minor issues, the automatic build is quite usable. So 5.5RC1 seems an occasion  to use this build and be sure it is ok for final release.
I had no time to update the list of minor issues I sent by PM to @aferrero2707 . I will do that before we.

[2018-12-04 18:26] gaaned92 commented on #4968
@TooWaBoo
`CSD is handled well on Windwos. :-)
`

If you use CSD on Windows, you break the snap feature.  So CSD is by default disabled in MSYS2 from 3.22.24 and @aferrero2707 disabled it for the windows automatic build.
see [Continuous integration of Win64 builds ](https://github.com/Beep6581/RawTherapee/issues/5000)

[](url)

[2018-12-04 19:04] TooWaBoo commented on #4968
@gaaned92
Misunderstanding :-)
Windows is using the native window but objects can have a decoration e.g. menus or the inspector has a csd window.
![grafik](https://user-images.githubusercontent.com/13800920/49466249-d9f17000-f7ff-11e8-82ac-8b7abfad91ff.png)

[2018-12-05 00:35] Benitoite commented on #4429
There are some interesting differences between the builds.

| Build | @aferrero2707  |@gaaned92  |  |  |
|---:|---|---|---|---|
|   |none  |`-Wno-aggressive-loop-optimizations`  |  |  |  |
|   |none  |`-mfpmath=sse `   |  |  |  |
| Opt. level  | `-O2` |  `-O3` |   |  |  |
|  compiler | `gcc` 7.3.0 | `gcc` 8.2.1 |  | | |
| type | `RelWithDebInfo`  | `release` | | | |
| libbz2| | ✔️  | | |
| libdatr

[2018-12-05 00:47] Beep6581 commented on #4429
Builds are now live.
https://rawtherapee.com/blog/rawtherapee-5.5-release-candidate-1

[2018-12-05 13:12] iliasg commented on #5052
.. selecting "none" for the monitor profile could give very wrong rendering .. especially with wide gamut monitors

As I see it (viewing at 1:1) there is a small difference between RT preview and output jpeg using my monitor profile (preview is a bit darker at the dark tones).

This could come from
- tools acting differently on preview vs output .. (I also checked with DynamicRangeCompression OFF

[2018-12-05 13:34] Beep6581 commented on #5052
@iliasg the preview matches the saved image perfectly here (Geeqie), check your black-point compensation both in RT and outside.

[2018-12-05 13:41] heckflosse opened #5066 "Some changes to CMakeLists.txt"
1) I added `-Wuninitialized`  and removed `-Wno-unused-result` because we are currently clean regarding `-Wuninitialized` and `-Wunused-result`.

2) Warnings were not set when OPENMP was not found (which is the case when building on msys2 using clang). Fixed.

[code]

[2018-12-05 14:02] agriggio commented on #5062
great! @age1988, can I close then?

[2018-12-05 14:15] iliasg commented on #5052
@Beep6581
- BlackPointCompensation is ON at both preferences.color_management.monitor and RT output profile
- I only use RT these days ;)

Maybe RT misbehaves with my monitor profile ??
https://drive.google.com/file/d/1s_VNGW9Hd1eVRPXJ9hCTlJEZT1tVSr3Y/view?usp=sharing

But .. It's not only the rendering slightly different, histogram and the RGB/Lab/HSV values are also different (which I think are

[2018-12-05 14:40] #5066 closed, assigned to nobody

[2018-12-05 14:54] age1988 commented on #5062
In some cases the filmlike_clip looks less smoother than a simple clipping imo.
Please don't close this request, it would be great to have such an option to disable it (or enable it when the user wants)

[2018-12-05 15:58] agriggio commented on #5062
Ok. BTW, do you have examples that you can share in which a "brutal" clipping is better?

[2018-12-05 23:30] todd-prior opened #5069 "Release Candidate is flagged by TrendMicro as ransomware....."
Tried to install the current release candidate for windows and it is flagged by Trend Micro as ransomware...has anyone else encountered this??

[2018-12-05 23:32] age1988 commented on #5062
At pixel level is hard to find when is really better, but globally an image clipped with the filmlike_clip behaviour looks to my eyes like it has further hsl manipulation  compared to the simple clipping

[2018-12-06 00:23] Benitoite commented on #5069
Yes this is common with various anti-malware solutions.  I assume you are trying
https://rawtherapee.com/releases_head/windows/RawTherapee_releases-5.5-rc1_WinVista_64.exe
?

[2018-12-06 01:26] todd-prior commented on #5069
I was….thanks for the comments
 

[2018-12-06 08:15] Thanatomanic commented on #5057
My thoughts are really scattered on this. In my view this tool has way too many modes. I dare to admit that only after @agriggio implemented his masked regions tool, I discovered that the Color toning module was useful for me _at all_. Since the default mode and setting were a wacky two-tone blue-orange, I had previously always thought this was this module was just an 'artistic' filter, and I had

[2018-12-06 09:37] Beep6581 commented on #5069
https://www.virustotal.com/#/file/6833e2710dfeb89652841c83a18875e64f8de04fa0a68b693c3f96a662035fea/detection

[2018-12-06 09:37] #5069 closed, assigned to nobody

[2018-12-06 17:22] TooWaBoo commented on #4148
New update
[code]

[2018-12-07 07:56] Beep6581 opened #5071 "HaldCLUT filenames incomplete in combobox"
RawTherapee (5.5-rc1) sometimes discards the last word or a part of a word after a hyphen from the HaldCLUT filename.

Add these HaldCLUTs to your HaldCLUT folder, restart RT and see the Film Simulation combobox:
https://filebin.net/zpfi08iagwfkwiwe

Filenames:
[code]

RT shows:
![screenshot_20181207_085416](https://user-images.githubusercontent.com/5844619/49634706-d0355b80-f9fd-11e8-9929-b9058bd

[2018-12-07 08:15] agriggio commented on #5071
This is sort of expected. If the CLUT name ends with a working profile name, that is stripped off, and used as the colour space for applying the CLUT. The logic is more or less as follows.
If you have a CLUT called `MyClut_ProPhoto`, it will show up as `MyClut_`, and the image will be converted to `ProPhoto` when applying the clut. Something like this:

- convert image from working space to `ProPh

[2018-12-07 08:36] Beep6581 commented on #5071
I had no idea.

Ref: https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/clutstore.cc#L268

Hmm, ok, but it would be better if it still showed the name of the profile - why wouldn't anyone want to see that?

The identity HaldCLUT supplied by us, and the one generated using imagemagick according to our recipe, will end up using sRGB chromaticity primaries. I hadn't examined the gamma, but may

[2018-12-07 10:58] agriggio opened #5072 "Bug in evaluating Catmull-Rom curves with straight segments at 0 or 1"
See here for examples of the weird behaviour:

https://discuss.pixls.us/t/5-5-rc1-curve-behaviour/10165

Here's a patch (to be applied after #5068 gets merged)

[code]

[2018-12-07 11:54] heckflosse commented on #5072
@agriggio I edited your post (the link was wrong)

[2018-12-07 12:03] heckflosse commented on #5072
Fix confirmed.

[2018-12-07 13:03] TooWaBoo commented on #4148
New update
`mintty-1~2.9.5-1`
[code]

[2018-12-07 16:05] raceviper13 opened #5073 "Keybase.pub Windows Builds"
@gaaned92 The keybase.pub repository for your Windows builds is great.  I appreciate the work you do to get them in there on a regular timeframe.  Is there anyway we can tag the files with a date?  I cannot see any date anywhere for the files to help me see what was compiled, and when.  Thanks!

[2018-12-08 04:34] Yz2house opened #5074 "Update Japanese translation"
translated a new string and some modifications
rgds
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2659407/Japanese.txt)

[2018-12-08 11:18] heckflosse opened #5075 "Allow blur of flat regions"
As we have the sharpening contrast mask now, it's very easy to implement a blur of flat regions.
Branch follows at the weekend.

[2018-12-08 13:57] ff2000 commented on #5075
:+1: :+1: :+1:
Basically what I asked for in the dual mosaic issue (AFAIR). Though I asked for coupling the low-contrast-demoasicker with noise reduction and called the median filter a blur filter - LOL!
[You mentioned there that a contrast threshold for the median filter might be possible. Do you still plan to implement that? Might help better with noisy images where dual demosaic auto-TH=0]

Tha

[2018-12-08 14:41] maltmoose opened #5076 "Remove the need to hold "shift" key to move a crop."
Windows 10
Rawtherapee 5.5 rc1

After you have created a selection in the crop tool, if you want to then move the selected crop, you have to hold the "shift key" to move the crop.
This is an unnecessary step and requires 2 hands to move a crop. (one hand for shift and one had on mouse.)
Removing the need to hold the shift key will improve cropping work flow a lot.

**How it should work:-
It should

[2018-12-08 15:36] gaaned92 commented on #5073
@raceviper13
I will see if it is possible in keybase.pub. Otherwise I will add the date in the zip name.

 uploaded at
https://keybase.pub/gaaned92/RTW64NightlyBuilds/

[2018-12-08 15:38] gaaned92 commented on #5073
@raceviper13
If not possible with keybas.pub, I will add the date to the zip name.

[2018-12-08 16:45] Thanatomanic commented on #5076
Thank you for your input. There are several 'issues' and opinions regarding the crop tool. Just to indicate: none will be addressed for 5.5, but we may discuss changes for 5.6.

[2018-12-08 17:27] RawConvert opened #5077 "Tint slider re-calibrates to the left"
Occasionally, infrequently, but just now, the Tint slider changes and instead of unity being in the middle, it goes to the left.  That is, "1" position is significantly to the left.
![tint-gone-left](https://user-images.githubusercontent.com/16868433/49688673-660bdc00-fb0d-11e8-8f05-ca1d90687a03.png)
I had the same thing happen about a month ago, before RT5.5 therefore.
I've no idea how to reprodu

[2018-12-08 17:55] heckflosse commented on #5075
@ff2000 First example using one of your files

left without flat region blur, right with
![grafik](https://user-images.githubusercontent.com/13733487/49688989-99089c80-fb1a-11e8-9a32-f11361d98f8e.png)

Still working on the branch...

[2018-12-08 18:24] TooWaBoo commented on #5076
@maltmoose

... and how would you drag the image around? The left click + drag is already used.

[2018-12-08 19:00] ff2000 commented on #5076
e.g. create a "permanent" crop tool that doesn't fall back to "hand tool" as soon as you release the mouse button after you pulled your crop rect.
Or make the crop itself permanent as it seems lightroom implements it. Currently it is just a selection that darkens (or overpaints) the regions outside the crop rectangle. I saw this requested earlier.

[2018-12-08 19:13] TooWaBoo commented on #5076
Everyone has a differrent workflow.
I draw the crop rectangle, finetune it with the crop border and the shift drag feature helps me to prevent to move the crop by accident. For me it's perfect how it works now.

[2018-12-08 19:19] ff2000 commented on #5076
@TooWaBoo you obviously don't have cats. They usually want to sit in your arm when you are working on your images. In such cases I am happy if I can navigate my desktop, applications, ... with just the mouse ;) (Currently I fall back to dragging the borders in such cases, but I can see that dragging the whole selection is easier for others.)

[2018-12-08 19:24] agriggio commented on #5077
that's by design

[2018-12-08 19:26] TooWaBoo commented on #5076
@ff2000
Teach your cat to hold the shift key. 😸

[2018-12-08 19:27] Thanatomanic commented on #5077
@agriggio Out of curiosity, if it's by design, is there way to reproduce this behavior? I haven't managed so far..

[2018-12-08 19:47] agriggio commented on #5077
the slider sets the mid point to the tint of the camera wb. for some cameras (notably mine :-) this is almost never 1.0, and often it's significantly far from 1 even in normal lighting conditions

[2018-12-08 19:49] agriggio commented on #5077
in other words, 1 is not in general a neutral position. that depends on the camera matrix (dcraw_matrix in camconst). since there is no way of knowing what the neutral position is for the current camera, I decided to set as neutral the tint value of the camera wb. I know it's not optimal, but I couldn't find any other sensible choice. ideas are welcome

[2018-12-08 19:56] ff2000 commented on #5075
Thank you! Looks promising!
If you need some noisy images to play with:
https://www.dropbox.com/s/166jl22z71act58/_1120659.RW2?dl=0
https://www.dropbox.com/s/166jl22z71act58/_1120659.RW2?dl=0
And one with some blotches in flat areas:
https://www.dropbox.com/s/8otut0j4q34ecki/_1090195.RW2?dl=0

[2018-12-08 20:00] maltmoose commented on #5076
Just needs to be implemented like most other software like affinity, dxo, capture one, faststone.

When a crop selection is made you just left click to drag the crop just made, simples.

[2018-12-08 20:01] heckflosse commented on #5076
Mission impossible. Cat will take care of the mouse, not the shift key ;-)

[2018-12-08 20:26] TooWaBoo commented on #5076
@maltmoose

And what do I have to do when I want to move the image and not the crop after I've set the crop?

[2018-12-08 20:38] Thanatomanic commented on #5076
A 'Lock crop' or 'Commit crop' or 'Accept crop' or whatever could solve so many issues. If we would not allow to modify the crop if the crop tool is not active, I think we would have a good compromise for either workflow.

[2018-12-08 20:59] heckflosse commented on #5075
Branch is live. Happy testing :)

I forgot to mention that a blur value of 0.2 means no blur.

[2018-12-08 21:15] TooWaBoo commented on #5076
@Thanatomanic
This means we need another tool button - right?

[2018-12-08 21:31] Thanatomanic commented on #5076
@toowaboo not necessarily. The 'c' hotkey enables the 'Select crop' option. If the 'Select crop' in the Crop tool becomes a toggle button, it would be solved imo.

[2018-12-08 22:48] maltmoose commented on #5076
I would suggest implementing clicking on the hand tool as the comit crop action.

From a workflow perspective i cant see anyone wanting to try moving the entire image and also try to create a crop selection at the same time. your in the crop tool to crop and an important part of a crop is moving the selection with ease so even your cat can do it.

[2018-12-08 22:58] age1988 opened #5078 "Enabling standard tone curves makes artifact"
Enabling curves when "clip out of gamut colours" is unchecked and "highlights reconstruction" is checked makes artifacts

curve disabled
![p1000135](https://user-images.githubusercontent.com/24456323/49691438-5e1a5f00-fb42-11e8-86ba-b958d2158523.jpg)
curve enabled
![p1000135-1](https://user-images.githubusercontent.com/24456323/49691441-65da0380-fb42-11e8-8511-0921155e3837.jpg)
link to raw file an

[2018-12-08 23:10] heckflosse commented on #5076
@maltmoose

I really tried to understand what you wrote. But I can't . Please rephrase in clear words. I have a dog btw...

[2018-12-08 23:30] heckflosse commented on #5078
@age1988 I edited your post because the link didn't work

[2018-12-08 23:32] heckflosse commented on #5078
Issue confirmed.

[2018-12-08 23:36] agriggio commented on #5078
nothing unexpected -- clip oog is a "I know what I'm doing" setting

[2018-12-08 23:53] heckflosse commented on #5075
@ff2000 The first two links in your post point to the same destination

[2018-12-09 02:38] Faber777 opened #5079 "Spanish translation completed RawRherapee 5.4"
Spanish translation completed
Hi. I am a photographer and several years ago I used raw terapee, seeing that the lack of translation of a good part of the Spanish language slowed down my work and decided to translate what was missing. This helped me a lot, now I decide to share it. I hope that this will help other Hispanics to be encouraged to use the program and it is my way of enriching for years

[2018-12-09 06:53] TooWaBoo commented on #5076
@maltmoose

Me, I set the crop area and zoom in for fine tuning with the crop border. If "Moving Crop" is active, it could be that I move the crop area by accident instead of changing the crop border 'cause I don't see the whole image and in this workflow I need to move the image.
When you work in a zoomed image moving the image should be as easy as possible. If I always have to switch between mov

[2018-12-09 07:53] ff2000 commented on #5075
Sorry, I wanted to post this one:
https://www.dropbox.com/s/rpmf9ig9kjhrfi6/_1110099.RW2?dl=0

[2018-12-09 12:16] RawConvert commented on #5077
@agriggio , "thats by design" was a rather brief response, but at least @Thanatomanic  got some details from you.
I don't understand why "1" cannot always be in the middle of the slider.  The behaviour does not seem consistent.  Since mention of white balance, I have found how to reproduce this by switching between Neutral and "last Saved" profile and/or changing white balance method.  These two s

[2018-12-09 13:02] agriggio commented on #5077
the idea is to optimize the slider for the use-case in which you want to tweak the tint, by applying some compensation. the assumption is that whatever tint is set is "close enough" to be right, so that you want to apply very small modifications. for this, the slider works in log scale, with the "zero" point set to the tint in the initial pp3 (by default the camera tint). if you use uniwb, this wh

[2018-12-09 13:20] dschrempf opened #5081 "Thumbnails do not show up, Not a JPEG file: starts with 0xff 0x50"
Directory names including a comma `,` are not loading (thumbnails do not show and CPU usage jumps to 100 percent on all cores). I did not test if this was also the case with other special characters. I am using RawTherapee 5.4 on Arch Linux.

Edit: I noticed that some other directories including a comma do actually work, so this must be another problem...
Edit: On the console, I get the following

[2018-12-09 14:09] dschrempf opened #5082 "File browser keyboard shortcuts"
I am referring to the left buffer in the file browser where the folders are chosen. It is hard to navigate this buffer using the keyboard since folders cannot be opened (the tiny arrows left of the folder names have to be clicked with the mouse). The `Return` key opens the folder in the file browser. The `up` and `down` arrow keys already allow navigating between folders in the same directory.

Th

[2018-12-09 14:20] heckflosse opened #5083 "Closing RT is slow on Windows when cache folder contains a lot of files"
On my win7 I have the RT cache folder on a SSD.
At closing RT scans the folder and needs about 1 ms per 10 files, which sums up to 2 seconds if the max number of cache entries (set to 20000 at my system) is reached.

The following patch does the following (on Windows)

1) It counts the files in cachefolder without getting the file names and the timestamp.
This is about 10 times faster than getting

[2018-12-09 14:26] ff2000 commented on #5075
From playing around with some files:
* it is definitely useful and helps managing noise :+1:
* I like it more than Median Filter!
* I get better results if I dial back sharpening threshold so some noise gets visible and then dial in a slightly bigger blur radius. This helps to keep details and blur uniform areas more.
* Sharpening has to be done more carefully, especially RL-deconvolution can lead

[2018-12-09 14:27] dschrempf commented on #5081
It turned out, that I had pictures with a JPG ending that were actually PNG images and that RawTherapee does not work with PNG images. A meaningful error message would be nice in this case. Sorry for the noise! Feel free to close the issue in case you do not plan implement this. Thank you!

[2018-12-09 14:35] Thanatomanic commented on #5078
I'm not sure that I agree with this _not_ being a bug. If you have a tone curve that is perfectly linear, e.g. `Curve=1;0;0;0.5;0.5;1;1;` and you disable Clip OOG and enable HR, you have no artifacts. However, just the tiniest change in the curve, e.g. `Curve=1;0;0;0.5;0.5001;1;1;` gives the rather horrible artifacts described above.

So maybe this is not a bug per se, but it's certainly unexpecte

[2018-12-09 14:48] heckflosse commented on #5081
@dschrempf

PNG is not enabled by default.
![grafik](https://user-images.githubusercontent.com/13733487/49698848-e263f500-fbc9-11e8-8dea-cfd6ff4d441d.png)

[2018-12-09 16:01] heckflosse commented on #5075
@ff2000 Thanks for testing :+1:

Yes, that's because currently the blend of the blurred region is the last step. Means if the internal blend factor (the mask value) is 0.5, we get 0.5 * blurred + 0.25 * original + 0.25 * sharpened.
I will see how to improve that...

[2018-12-09 18:17] RawConvert commented on #5077
@agriggio , Alberto, I'd suggest reverting to the previous behaviour.  I don't think it's right that with seemingly identical situations as the pics above, "1" is in very different places.  I appreciate it's nice to have fine control, but I thought that was supposed to be provided by the press-and-hold facility which results in less movement per mouse unit.  I checked and this is working on the ti

[2018-12-09 19:00] timlt opened #5084 "RT does not start as a GIMP plugin in Windows 10"
New user here, found an issue on Win10/x64, and Gimp 2.10.8 where RT won't start when editing a RAW file in GIMP.  This repros in RT 5.4, 5.5 RC1, and 5.5 RC2.   I had done a clean install of GIMP, followed by clean install of RT (tried both versions, otherwise did nothing to mess with the installations or confi).

To repro issue:
1.  Try to edit a RAW .DNG file in GIMP.
2.  GIMP informs you that

[2018-12-09 19:49] ff2000 commented on #5075
OK, here some comparison shots. BottomRight="old" 5.4-amaze. BL+=sharpening threshold, TR+=Dual Demosaic (+auto TH), TL+=blur.
![screenshot_20181209_210738](https://user-images.githubusercontent.com/1973708/49701861-1d7e1c80-fbfa-11e8-9388-de704cfdc68f.jpg)
Besides some minor loss of feather detail on the head (I think due to Dual auto TH) it shows the progress really well.

![screenshot_20181209_

[2018-12-09 20:01] ff2000 commented on #5075
And three versions of the boreal owl (https://www.dropbox.com/s/rpmf9ig9kjhrfi6/_1110099.RW2?dl=0)
Without blur:
![_1110099-1](https://user-images.githubusercontent.com/1973708/49702139-d09c4500-fbfd-11e8-8ba9-d62e32f593aa.jpg)
With blur:
![_1110099](https://user-images.githubusercontent.com/1973708/49702143-d98d1680-fbfd-11e8-97a9-850f1df290aa.jpg)
And without blur but Median Filter:
![_1110099-2

[2018-12-09 20:04] agriggio commented on #5077
here's a patch to restore the old behaviour

[code]

[2018-12-09 20:40] #5079 closed, assigned to nobody

[2018-12-09 20:44] Beep6581 commented on #5079
@Faber777 thank you, I committed your changes for inclusion in RawTherapee 5.5.  There are a few new strings which need to be translated, see the file in `dev`:
https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/languages/Espanol

[2018-12-09 20:47] Beep6581 commented on #5081
The message `Not a JPEG file: starts with 0xff 0x50` does not come from RawTherapee but from one of the libraries it uses. As agreed to in IRC, we will try to add the filename to that message for 5.6.

[2018-12-09 20:54] Thanatomanic commented on #5081
Isn't the issue here that RT actually doesn't recognize a badly named extension? If I call my NEF a JPG, should it give an error, warning or silently interpret the file for what it is?

[2018-12-09 21:21] heckflosse commented on #5075
@ff2000 Very good examples :+1:
I also think two contrast threshold adjusters (one for sharpening and one for blur) or one which allows to set two values using a single adjuster, would be useful. Though visualizing the contrast mask would get more complicated then...

[2018-12-09 21:31] TooWaBoo commented on #4148
New update
[code]

[2018-12-10 09:05] dschrempf commented on #5081
Yes, this was the problem. I had PNG files with JPG extension (created by a bad program that adds some "effects", I had not done that myself). RawTherapee tried to open those and failed. After converting them to JPG, everything works.

Thank you for making me aware of the fact that PNG can actually be used in RawTherapee!

[2018-12-10 10:05] agriggio commented on #5072
can I merge (in `releases`)?

[2018-12-10 10:06] agriggio commented on #5077
any objection to restore the old behaviour?

[2018-12-10 10:11] ff2000 commented on #5075
Code-wise or just how to make them distinguishable?
For the latter: Slightly tint the blur mask e.g. with blue. The overlapping area could be striped.
For editing one mask it should be possible to just show the mask for the slider your mouse currently is hovering/pressing/moving (whatever is easiest in GTK).
AFAIR lightroom only shows the mask when you press ALT (or was it SHIFT?) while pulling th

[2018-12-10 10:40] Beep6581 commented on #5072
Please merge to `dev`

[2018-12-10 13:29] heckflosse commented on #5075
I changed the blend.

Let b be the blend factor in range [0;1] where 0 means take the blurred and 1 means take the sharpened.

Old version calculated
[code]
which was nonsense.

Example:
assume b is 0.8, means more on the sharp side
then
[code]
means blurred had more weight then original, though at value 0.8 it should not

new version calcalutes
[code]
which for b = 0.8 gives
[code]

[2018-12-10 16:26] #5072 closed, assigned to nobody

[2018-12-10 16:29] #5077 closed, assigned to nobody

[2018-12-10 17:39] timlt commented on #5084
Cross-ref to the same issue filed from a GIMP user.

https://gitlab.gnome.org/GNOME/gimp/issues/2083

[2018-12-10 17:43] Thanatomanic commented on #5084
Did you search and see this issue? #4534 seems very related.

[2018-12-10 17:52] timlt commented on #5084
I did, and still have "C:\Program Files\RawTherapee\releases-5.5-rc1;" in my system PATH.

[2018-12-10 19:47] gaaned92 commented on #5084
There are 3 ways GIMP could locate rawtherapee
1- when installing 5.5RC1, the installer set registry variables that can be read by the GIMP (automatic)
2- manually append Rawtherapee.exe path to PATH variable
3- set the variable RAWTHERAPEE_EXECUTABLE  (with what?); I supposed something like `/rawtherapee installdir/rawtherapee.exe`.

I tried with no avail the 3 possibilities with both versions fr

[2018-12-10 19:49] RawConvert commented on #5077
@agriggio , hi, what's the conclusion?  When you asked above about restoring, I assumed that was aimed at the wider community.  If it was at me, then no objection.  Are we going forward with old or new please?!

[2018-12-10 20:28] agriggio commented on #5077
I pushed the change to `dev`. Now it's up to @Beep6581 to cherry-pick the changeset and apply it to `release-5.5`

[2018-12-11 00:13] Faber777 opened #5085 "New Spanish language update"
Hi.
I re-send the file in Spanish, completed with the Spanish translation from line 2273 to line 2463. I think it's coming to an end.
It also contains some corrections regarding the previous file sent a few days ago.
[espanol.txt](https://github.com/Beep6581/RawTherapee/files/2665441/espanol.txt)

[2018-12-11 08:21] #5085 closed, assigned to Beep6581

[2018-12-11 08:21] Beep6581 commented on #5085
Thank you @Faber777

[2018-12-11 09:08] ff2000 opened #5086 "Corrupted preview of new dng files"
At the moment I am creating HDRs from yesterdays sunset. I leave RawTherapee open and create HDRs with hdrmerge one by one. Newly generated dng (no matter if 16 bit or 32 bit) have curruped preview:
![dng_preview_1](https://user-images.githubusercontent.com/1973708/49789160-f3307a00-fd33-11e8-8319-031c6c294da3.jpg)

Pressing the reload button will clean up unedited dngs, however edited ones will s

[2018-12-11 09:18] Beep6581 commented on #5086
Previously RT would crash if you (over)wrote HDR DNG files to a folder currently opened in the File Browser. If now it just shows a corrupt thumbnail, I'd call that a feature not a bug :)

[2018-12-11 09:20] Beep6581 commented on #4916
@Thanatomanic no longer reproducible?

[2018-12-11 09:21] Beep6581 commented on #4828
@mattiaverga can you reproduce this in 5.5(rc*)?

[2018-12-11 09:22] Beep6581 commented on #4381
@Kakupakat can you still reproduce this in 5.5(rc*)?

[2018-12-11 09:26] Beep6581 commented on #3523
@heckflosse @Floessie do we tag this 5.6?

[2018-12-11 09:28] Beep6581 commented on #3499
@torridgristle can you still reproduce this in 5.5(rc*)?

[2018-12-11 09:29] Beep6581 commented on #3314
Obsolete, closing.

[2018-12-11 09:32] Beep6581 commented on #3289
@da-phil can you reproduce the freeze in 5.5(rc*)?

[2018-12-11 09:33] Beep6581 commented on #3015
WinXP 32-bit is unsupported - closing.

[2018-12-11 09:33] #3015 closed

[2018-12-11 09:37] Beep6581 commented on #3231
@pi99y can you still reproduce this in 5.5(rc*)?

[2018-12-11 09:39] Beep6581 commented on #3000
Still valid in RT 5.5 using dcraw 9.28.

[2018-12-11 09:41] #2929 closed

[2018-12-11 09:41] Beep6581 commented on #5086
Probably related:
#2917
#3593

[2018-12-11 09:42] #4915 closed, assigned to nobody

[2018-12-11 10:13] ff2000 commented on #5086
Feature or bug, thx for digging out those other issues so quickly!
Any hint where the filebrowser picks up filesystem changes would be appreciated, didn't get any hint from a quick look at filebrowser and thumbbrowserbase. Thx!

[2018-12-11 10:41] Thanatomanic commented on #4916
Will check!

[2018-12-11 12:04] heckflosse commented on #3523
Isn't that already fixed? At least for Windows:
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/batchqueue.cc#L263

[2018-12-11 12:32] Floessie commented on #3523
@Beep6581 I also remember that this was fixed.

[2018-12-11 12:54] Beep6581 commented on #3523
Fantastic.

[2018-12-11 12:54] #3523 closed

[2018-12-11 14:08] heckflosse commented on #5083
I tested the patch also on my Sabayon machine (of course without the #ifdef WIN32).
Measured using 1000 files in cache
Before patch: 10 ms
After patch: 5 ms

Linux seems to be much faster than windows here...

Any objections to push the patch (with or without the #ifdef WIN32) ?

[2018-12-11 14:20] Floessie commented on #5083
If you ask me, push it without the `#ifdef WIN32`...

[2018-12-11 14:27] heckflosse commented on #5086
@ff2000

https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/dirbrowser.cc#L326
https://github.com/Beep6581/RawTherapee/blob/dev/rtgui/filecatalog.cc#L660

[2018-12-11 14:50] Beep6581 commented on #5083
Thinking of just merging `dev` into `release-5.5` and making an rc2 tonight...

[2018-12-11 14:57] #5083 closed, assigned to heckflosse

[2018-12-11 15:15] TooWaBoo commented on #4148
New update
` git-2.20.0-1`

[2018-12-11 18:17] mattiaverga commented on #4828
I'll give it a try as soon as possibile... which could be not before the next weekend.

[2018-12-11 18:53] Thanatomanic commented on #4916
@Beep6581 It still segfaults on `dev`...

[2018-12-11 19:51] Beep6581 commented on #4916
Ah, forgot to remove the `options` file, yes now I can still reproduce.

Steps to reproduce:
1. Delete/rename `options` file.
2. Run RT, go to Preferences, tick "Show Filmstrip toolbar" and "Compact toolbars in File Browser".
3. Click OK -> segfault.

[2018-12-11 20:43] Floessie commented on #4916
Looking...

[code]

[2018-12-11 20:45] Beep6581 commented on #4954
Duplicate of #4243
Ha! 1 issue down.

[2018-12-11 20:45] #4954 closed, assigned to nobody

[2018-12-11 20:47] Beep6581 opened #5088 "Document PDAF Filter"
The new PDAF filter needs to be documented.

https://github.com/Beep6581/RawTherapee/commit/71dcf2ca1aab3f359e70b00fcbd4ecd9092e60c5#commitcomment-31637229

[2018-12-11 20:49] #4916 closed, assigned to Thanatomanic

[2018-12-11 20:55] Beep6581 commented on #5074
Hey @Yz2house

Sorry, it seems I overlooked this issue when tagging rc2 just now.
Here is a diff of your changes from the file attached above against `5.5-rc2`:
[code]

There are two keys left to be translated. If you translate them and incorporate these three overlooked changes, we can include that for the final 5.5 release this weekend.
As always, the latest file is here:
https://github.com/Beep

[2018-12-11 21:26] Beep6581 commented on #5053
Documented in several places using a template:
http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Scrollable_Toolbars

[2018-12-11 21:26] #5053 closed, assigned to nobody

[2018-12-11 21:48] esby opened #5089 "Problem with auto matched tone curve button and old profiles - version 5.5 RC1"
Hello, just to report a potential bug:

It affects the 5.5 branch, probably 5.4 too, not sure actually.

Tested under Debian Linux 5.5.

It's linked to the auto matched tone curve "button".

From my understanding, apparently, if you previously loaded a profile in which the pp3 values linked to the histogram were present and set to true (or if you activated it previously), if the profile you are lo

[2018-12-11 21:55] Beep6581 commented on #5089
The issue seems to be that when the following values are missing from a PP3:
[code]
then the assumption is that `HistogramMatching=true`, and when that happens it destroys some of the exposure settings, and possibly it also destroys tone curve 1 (not tested).

Expected behabior:
When a PP3 does not have those keys, RT assumes `HistogramMatching=false` and leaves the values alone.

@agriggio do you

[2018-12-11 21:57] heckflosse commented on #5089
@agriggio alberto, please tell me if you don't have time to fix it. I will have a look then.

[2018-12-11 22:05] agriggio commented on #5089
Sorry, I have no idea what `FromHistogramMatching` is, nor what it does :-/ It's not something I remeber having done, actually...

[2018-12-11 22:14] Beep6581 commented on #5089
@agriggio as I just learned, it means that the curve in the PP3 file derives from a previous histogram matching run, in order to skip unnecessary future runs.

[2018-12-11 23:05] heckflosse commented on #5089
I will have a look tomorrow

[2018-12-11 23:07] Beep6581 commented on #5088
Documented:
http://rawpedia.rawtherapee.com/Preprocessing#PDAF_Lines_Filter

[2018-12-11 23:07] #5088 closed, assigned to Beep6581

[2018-12-11 23:09] Beep6581 commented on #5088
@agriggio could be helpful to point the photographers from dpreview to the link above.

[2018-12-11 23:32] Benitoite commented on #4429
@Beep6581 Here is a new RC2 build for mac...
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.5-rc2.zip

[code]

:barber:

[2018-12-12 00:40] RawConvert opened #5090 "Possible problem compiling RT5.5 rc2 just now"
The terminal output from the "make" command included this -
.....
[ 83%] Building CXX object rtgui/CMakeFiles/rth.dir/rawcacorrection.cc.o
[ 84%] Building CXX object rtgui/CMakeFiles/rth.dir/rawexposure.cc.o
[ 84%] Building CXX object rtgui/CMakeFiles/rth.dir/recentbrowser.cc.o
/home/paulssd2/RT55rc2/code-rawtherapee/rtengine/lj92.c: In function ‘lj92_decode’:
/home/paulssd2/RT55rc2/code-rawtherap

[2018-12-12 01:27] RawConvert opened #5091 "New histogram seems to tell a different story to old histogram"
As the screenshots show, the new raw histogram suggests (at least to me) that there is appreciable shadow clipping, even though the shadow clipping indicator reveals little of this.
Whereas the old histogram indicates little or no shadow clipping, and seems more consistent with the fact that the clip indicator also shows little clipping.
Also the shape of the 2 histograms is somewhat different (I

[2018-12-12 02:19] TooWaBoo commented on #5091
You've Log-scaling of the histogram active. There are 3 modes, linear, log-linear, log-log. If log is active, it's possible to control the log-scaling by click & hold the left mouse button and move the mouse around.
![grafik](https://user-images.githubusercontent.com/13800920/49842540-36363000-fdbc-11e8-8c1f-691b8dd47a26.png)

RawPedia: http://rawpedia.rawtherapee.com/The_Image_Editor_Tab#Main_His

[2018-12-12 06:43] Floessie commented on #5090
The compiler is too cautious, there is [no problem](https://github.com/Beep6581/RawTherapee/blob/920e9f7a16fe1f9e0d6d70d1a547f52781d97cc0/rtengine/lj92.c#L509). But to help the analysis we could initialize `Px` with `0`.

[2018-12-12 10:55] heckflosse commented on #5091
For reference: https://github.com/Beep6581/RawTherapee/issues/4667

[2018-12-12 10:55] RawConvert commented on #5090
It would be nice if the compile produced no "worrying" messages, so yes, let Px = 0 somewhere !

[2018-12-12 11:21] heckflosse commented on #5089
@esby I can not reproduce

If the processing profile fill mode button is pressed (means the missing values are replaced with default values) the image is darker (correct)

If the processing profile fill mode button is not pressed (means the missing values are not replaced with default values) the auto matched tone curve stays active (correct)

[2018-12-12 11:25] RawConvert commented on #5091
@TooWaBoo , I was aware of the modes and believe my screenshot is Linear.  Note the icon state.  Also I clicked the icon until the histogram was the most spread out of the 3, so that's why I say linear.  So I still say it's not very consistent with the previous histogram, assuming that was linear too.
2. I looked at rawpedia, it implies scaling can be turned off, but I can't see how to do this.  C

[2018-12-12 11:31] heckflosse opened #5092 "Processing profile selector is spammed with (Custom) entries after applying profiles using the load button"
While testing #5089 I applied pp3 files using the load button several times, which resulted in this nonsense:
![grafik](https://user-images.githubusercontent.com/13733487/49866927-5dffb500-fe09-11e8-8096-c0531490aaed.png)

[2018-12-12 11:32] RawConvert commented on #5091
Just had another look.  Ah.  So I guess linear is the 45 degree icon, not the most spaced out histogram.  That's the one that can't be dragged.  Well I still don't like this!  The linear one is all crushed up to the left, nothing like the old histogram. How do I get something like the old one? - this seems to make most sense to me.

[2018-12-12 11:33] heckflosse commented on #5091
@RawConvert have a look at #4667 . The old raw histogram simply was wrong

[2018-12-12 11:58] Beep6581 commented on #5091
The icon state shows it's not linear but log-log.

[2018-12-12 12:29] aferrero2707 commented on #4713
@gaaned92 @TooWaBoo @Hombre57 I'm hitting this very same problem while trying to set-up a new cross-compiling build environment based on MSYS2.

FYI, the goal is to have a continuous integration environment for automated Win64 builds that uses the same packages as @gaaned92, but working inside a linux Manjaro (therefore Arch-based) docker container instead of a native Windows system. This way, the

[2018-12-12 12:39] Beep6581 commented on #4644
Invalid.

[2018-12-12 12:39] #4644 closed, assigned to nobody

[2018-12-12 12:44] esby commented on #5089
@heckflosse

Well, the issue is that button will press itself after loading a profile, not that the button actually performs its job.

video illustrating the issue - https://www.youtube.com/watch?v=_hcjWASGYZQ&feature=youtu.be%3Fcc_load_policy%3D1

added the rw2 raw in the samples.zip

[samples.zip](https://github.com/Beep6581/RawTherapee/files/2671927/samples.zip)

[2018-12-12 13:01] heckflosse commented on #5089
@esby The processing profile fill mode button is not pressed in your video, means missing values from pp3 are not touched. For that reason histogram matching stays active.
![grafik](https://user-images.githubusercontent.com/13733487/49871400-6e6a5c80-fe16-11e8-89c2-a9db99da0983.png)

[2018-12-12 13:09] RawConvert commented on #5091
@heckflosse , thanks, so the old was wrong, but I am still confused.
Also @TooWaBoo & @Beep6581 -
1. Rawpedia says "Linear-linear mode. You find gridlines at halves, quarters, eighths and sixteenths, depending on the size of the histogram"  and the third pic there shows half and quarters.  But it's not that simple.  You only get evenly spaced vertical lines if you use the icon on my top picture -

[2018-12-12 13:18] heckflosse commented on #5091
@RawConvert

Please provide an example using filebin.net

[2018-12-12 13:32] heckflosse commented on #5091
@RawConvert

Example for a file with a white level of 16383
![grafik](https://user-images.githubusercontent.com/13733487/49872859-a1165400-fe1a-11e8-865d-804e8d2e6d2c.png)
looks linear to me

[2018-12-12 14:10] Beep6581 opened #5093 "Cleanup of bundled processing profiles"
Some of our bundled processing profiles:
* Do not work.
* Do things in an over-complicated and outdated way, instead of making use of newer, friendlier tools.
* Do things which they shouldn't be doing.
* Are not documented.
* Are not maintained by anyone.

For example the Faded profiles use the channel mixer for color toning instead of using one of our 7 dedicated color toning tools. If a user fee

[2018-12-12 14:15] Beep6581 commented on #5089
I was wrong yesterday, when the `*HistogramMatching` keys are missing from a PP3 then the assumption is **not** that `HistogramMatching=true`. I was thrown off by what @heckflosse correctly pointed out. I tested now using profiles from 5.5-rc2 where I removed the `*HistogramMatching` keys, and using profiles from 5.3 where those keys didn't exist, and confirm that RawTherapee 5.5-rc2 does the righ

[2018-12-12 14:16] Beep6581 commented on #2461
Duplicate #5092

[2018-12-12 14:16] #2461 closed

[2018-12-12 14:22] TooWaBoo commented on #4713
@aferrero2707
We downgrade to version `mingw-w64-x86_64-libjpeg-turbo-1.5.3-1`.
http://repo.msys2.org/mingw/x86_64/

[2018-12-12 14:40] RawConvert commented on #5091
@heckflosse , re. the above pic, yes with the numbers inserted it's linear with respect to stops.  But it's all to the left therefore, and so not very convenient.  When  you say a white level of 16383, I'm unsure, perhaps just terminology.  I'm thinking the sensor output bit width means the max possible is 2 to the 14 minus 1 = 13383.  Whereas the white point might typically be around 13,000 and t

[2018-12-12 14:44] agriggio commented on #5091
I think there's a rounding problem when compressing the histogram to 256 entries. Here's a patch to fix it:

[code]

- before:
![screenshot from 2018-12-12 15 41 34](https://user-images.githubusercontent.com/11982086/49877001-c740f180-fe24-11e8-9d4c-766e261e228d.jpeg)

- after:
![screenshot from 2018-12-12 15 42 02](https://user-images.githubusercontent.com/11982086/49877009-cc05a580-fe24-11e8-950

[2018-12-12 14:46] RawConvert commented on #4644
Invalid?

[2018-12-12 14:47] agriggio commented on #5091
Actually, it might be even better to use `std::ceil` in this case, to make sure that only "real" zeros go to zero...

[2018-12-12 14:47] Thanatomanic commented on #5091
Since this was my modification, I agree with the patch by @agriggio :-)

[2018-12-12 14:50] Beep6581 commented on #5091
For reference:
![screenshot_20181212_154649](https://user-images.githubusercontent.com/5844619/49877433-b04ecf00-fe25-11e8-9fe0-ae948ce0829d.png)
![screenshot_20181212_154735](https://user-images.githubusercontent.com/5844619/49877434-b04ecf00-fe25-11e8-85b9-e6a01ec8a63f.png)
![screenshot_20181212_154952](https://user-images.githubusercontent.com/5844619/49877435-b0e76580-fe25-11e8-89ef-30efe4bcbc

[2018-12-12 14:52] heckflosse commented on #5091
@RawConvert

???
https://www.google.com/search?q=2^14-1

[2018-12-12 14:52] Beep6581 commented on #4644
RT Lab setting is not ignored when PP3 loaded.

[2018-12-12 14:54] RawConvert commented on #5091
Yes sorry I did mean 16383, typo!

@Beep6581 , what do these mean in summary?! Red channel a little bit clipped?

[2018-12-12 14:58] RawConvert commented on #5091
@agriggio , that's good news, thanks.

[2018-12-12 15:00] agriggio commented on #5091
Here's a better patch:

[code]

![screenshot from 2018-12-12 16 00 03](https://user-images.githubusercontent.com/11982086/49878078-15ef8b00-fe27-11e8-8b94-51376d4583c3.jpeg)

[2018-12-12 15:02] Beep6581 commented on #5091
@RawConvert there is a little clipping in the raw red channel.

[2018-12-12 15:47] Beep6581 commented on #5091
According to this, the only channel to go below -9EV is the red one:
![screenshot_20181212_154735](https://user-images.githubusercontent.com/5844619/49880704-02472300-fe2d-11e8-80b7-dfb5dd5b6580.png)
![screenshot_20181212_161855](https://user-images.githubusercontent.com/5844619/49880448-7b924600-fe2c-11e8-87a6-02d753c456b2.png)

If I'm doing this right, -9EV to -11EV correspond to the leftmost co

[2018-12-12 15:50] agriggio commented on #5091
Yes

[2018-12-12 15:50] Thanatomanic commented on #5091
@Beep6581

I changed the calculation somewhere along to way to do that, yes.

[2018-12-12 16:30] Beep6581 commented on #5091
Ok, as did the reference histogram in the screenshots. So then I don't understand why RT's histogram shows R G and B all falling into column 1.

[2018-12-12 16:53] esby commented on #5089
Can someone clarify what the wiki is saying on the partial profil fill mode?

https://rawpedia.rawtherapee.com/Sidecar_Files_-_Processing_Profiles#Partial_Processing_Profiles_and_Fill_Modes

it only applies to settings inside a tool that would be missing, it is not supposed to reset tool that are not set in this partial profile, isn't it ? I am trying to understand the utility of this mode.

Let's

[2018-12-12 17:18] Beep6581 commented on #5089
@esby I think your confusion comes from this part:

That is correct, so here's why in some cases the Black, Lightness and Contrast sliders change:

- When Auto-Matched Tone Curve is disabled and then you apply a profile which does not have a `HistogramMatching` key but has custom Black, Lightness and Contrast slider settings, AMTC remains off, regardless of fill mode because its default, hard-code

[2018-12-12 17:48] agriggio commented on #5091
are the black levels the same?

[2018-12-12 18:09] raceviper13 commented on #5073
Thank you!  This helps me a lot.

[2018-12-12 18:16] gaaned92 commented on #4713
@aferrero2707
we downgrade now following packages:

http://rawpedia.rawtherapee.com/Windows

[2018-12-12 18:19] gaaned92 commented on #5073
You are welcome!
Can we close?

[2018-12-12 18:26] Beep6581 commented on #5091
@agriggio I _guess_, since they're measured from the crop mask aren't they? RD uses 2047, what does RT use and how to check?

[2018-12-12 18:35] raceviper13 commented on #5073
yes.

[2018-12-12 18:35] #5073 closed, assigned to nobody

[2018-12-12 19:12] heckflosse commented on #5091
@Beep6581

verbose=true

[2018-12-12 19:17] Beep6581 commented on #5091
Thanks @heckflosse

[code]

[2018-12-12 19:53] heckflosse commented on #5091
@Beep6581

Set RD EV0 to the white level.

[2018-12-12 20:36] Beep6581 commented on #5091
@heckflosse that only changes our point of reference, the difference persists. So with EV0 set to 14558 (from Exif), the only channel to go below -12EV is the red one. RT's log-log raw histogram has 2EV per column, so it seems to be telling me that all three channels cross the new -16EV gridline:
![screenshot_20181212_212608](https://user-images.githubusercontent.com/5844619/49897296-fde33000-fe55

[2018-12-12 20:38] Beep6581 commented on #5091
Of course there's plenty of opportunities for me to have made a mistake :)

[2018-12-12 21:06] Beep6581 commented on #5091
...and it seems I made the most of one such opportunity :)
My assumption that each column corresponds to 2EV was based on having tested the **non**-raw histogram: a 2EV exposure compensation corresponds to 1 column jump. Since I can't test the raw histogram the way you can test the non-raw one, I assumed the raw histogram behaved the same, as RawPedia doesn't say otherwise.

Discussing this with @

[2018-12-12 21:12] TooWaBoo commented on #4148
New update
[code]

[2018-12-12 21:59] maltmoose commented on #5076
I have no idea what you are doing but hopefully common sense will prevail.
Darktable whilst not perfect has a better crop method, hopefully can be lifted from that. Theres just no need for a shift key to move a crop ever if the tool is well implemented.

[2018-12-12 22:06] heckflosse commented on #5076
@maltmoose

please be more concrete instead of throwing vague sentences

[2018-12-12 23:08] Hombre57 commented on #4803
@TooWaBoo @Beep6581 This issue is a subtopic of issue #3547, so I'd close it and continue discussion in #3547.

[2018-12-12 23:28] Hombre57 commented on #3547
@TooWaBoo @Beep6581 @gaaned92 @Thanatomanic  I've added SVG support for icons in commit https://github.com/Beep6581/RawTherapee/commit/81407cd663b1ca459b5137dee620626c48a736a4 . It handle a cache with this path structure :

[code]

where `dpiValue` will be e.g. `96`, `144`, `192`, etc.. This dpi value is tweaked to include the selected font size vs 9 pt base font size, as requested by @TooWaBoo .

[2018-12-12 23:32] RawConvert commented on #5091
@Beep6581 , @heckflosse , re. all the remaining stops in the leftmost division -
256 bins is mentioned above, so that's 32 per division.  How are these 32 processed?  Is it the leftmost bin that is the "bucket", with the other 31 being "accurate".  Or are the remaining stops somehow spread over all the 32 bins?  The leftmost division above is unique in that it is the only one where each channel is

[2018-12-12 23:45] Hombre57 commented on #3547
PS : There's bunch of Pango error/warning, don't know what's the problem here. I'll have a look later this week.

[2018-12-12 23:49] Hombre57 commented on #3547
@regs01

96 -> 16, 120 -> 20, 144 -> 24, 168 -> 28, 192 -> 32, 240 -> 40, 288 -> 48, 384 -> 64 etc

I'll explore this for Adwaita's theme icons.

[2018-12-13 00:54] Hombre57 commented on #5093
I tried a faded profile just now, and the effect looked weird mostly because it doesn't enable the tools it modify. So :+1:

[2018-12-13 00:58] Hombre57 commented on #5092
@heckflosse @Beep6581 Fixed in commit 71a5521 . Please test branch `profile-panel-bugfix`

[2018-12-13 06:46] Lawrence37 opened #5094 "Blue Artifacts with Shadows/Highlights and Tone Curve"
I compiled and tested release candidate 2 of version 5.5. When using the Shadows/Highlights tool in L\*a\*b\* mode, there may be blue artifacts in shadow regions.

Steps to reproduce:
1. Open amsterdam.pef.
2. Activate the Shadows/Highlights tool.
3. Set the color space to L\*a\*b*.
4. Set the shadows to 100 (or any large number).
5. In the tone curve, drag the black point about 8% to the right.

[2018-12-13 08:30] gaaned92 commented on #5094
@Lawrence37
I don't really analyse your examples as showing bugs, only showing extreme adjustments that the sw permits you to apply.
-  first example : with the tone curve, with "black point" to 8%, you begin to clip the shadows , setting some R, G or B values to 0.  S/H shadows cannot recover what is lost.
- second example: if you pull down red and green values, furthermore setting some to zero,

[2018-12-13 09:24] Floessie commented on #5091
@heckflosse Though the assemby is longer, this seems to be a little bit faster:

[code]

I don't have the best environment to benchmark. Can you confirm?

Best,
Flössie

[2018-12-13 10:44] heckflosse commented on #5091
@Floessie Yes. It's 0.9 ms before and 0.7 ms after

[2018-12-13 10:46] Floessie commented on #5091
@heckflosse I had something like 40ms vs. 35ms...

[2018-12-13 10:54] heckflosse commented on #5091
@Floessie I measured just the loop, not the whole function

[2018-12-13 10:57] heckflosse commented on #5091
@RawConvert

no, it's 2, 2, 4, 8, 16, 32, 64, 128

[2018-12-13 11:00] heckflosse commented on #5091
@Floessie Here's how I measured:

[code]

[2018-12-13 11:02] Floessie commented on #5091
@heckflosse Thanks. Then it's not worth it and only decoration.

[2018-12-13 11:24] RawConvert commented on #5091
Ah, thanks

[2018-12-13 11:29] heckflosse commented on #5091
@RawConvert

Yes

[2018-12-13 12:08] heckflosse commented on #5094
This causes it:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipshadowshighlights.cc#L165

[2018-12-13 12:12] Beep6581 commented on #5094
I fully agree with @gaaned92 about the RGB curves case. As for the Exposure > Tone Curve 1 case, I don't know why some pixels suddenly decide to shine blue, but it's related to the working profile; sRGB doesn't exhibit it.

[2018-12-13 14:10] Kildor opened #5095 "Russian localization for 5.5 rc2"
Here is new Russian translation for 5.5.rc2. It is still unfinished, but has more translated strings and updates to existing ones.
[Russian.zip](https://github.com/Beep6581/RawTherapee/files/2676320/Russian.zip)

[2018-12-13 14:55] aferrero2707 commented on #5000
@gaaned92 @agriggio @Hombre57 @heckflosse
I have just prepared a first cross-compiled win64 build that uses the MSYS2 packages: https://filebin.net/lwj1smg0ad8cw3dh

The package still needs some cleaning for un-necessary stuff, but the main thing at the moment is to check its functionality.

As a reminder, the previous builds were based on mingw64 packages provided by OpenSUSE, but they showed som

[2018-12-13 15:17] Thanatomanic commented on #5076
@heckflosse He did try to explain it before.

For what it's worth, I would propose that we end the discussion now, but think hard on what we want to do with the current crop tool in RT's future. We can never please everyone, but how the crop tool is handled seems like a recurring theme, and the preview + crop is a core functionality of any image processing software. So if we have something to impr

[2018-12-13 15:21] Thanatomanic commented on #4148
Hey @TooWaBoo, I appreciate you continue to list the updated packages in MSYS2, but could you maybe restrict the update messages to packages that are actually relevant for compiling RT? I always thought the goal here was to inform everybody when for example `gtk` has yet another annoying update, not to find out there might be bugfixes in `libgpg` 😉
Could save you some work.

[2018-12-13 15:39] TooWaBoo commented on #4148
@Thanatomanic
If you tell me which lib is used and which not, I can do this. 😁

New update
[code]

[2018-12-13 16:27] #5095 closed, assigned to Beep6581

[2018-12-13 16:38] TooWaBoo commented on #3547
@Hombre57
I can do some parts to change to em. Scrollbars, sliders, progressbar and borders are easy to do. Most spacing is also possible.
All other stuff has to be done from scratch. If I would do the other stuff, it would end up in a TWB theme.😁 To make the RT-theme HiDPI aware there has to be sized everything which is not done yet. What I can offer is doing half of the work and give support if

[2018-12-13 17:01] Hombre57 commented on #3547
@TooWaBoo Hmm... I'll see if the other way round wouldn't be more interesting, i.e. forking your theme to go back to the Rawtherapee theme. No need to start now then.

Btw, the new mechanism allow us to customize the icon color if necessary.

[2018-12-13 17:15] TooWaBoo commented on #3547
What do you mean with "...the other way round"?

Why not cancel the RT-theme and make the TWB-themes the RT-theme. It's OK for me to remame it to RawTherapee.

[2018-12-13 17:27] TooWaBoo commented on #3547
Clear cache on start if version has changed in "About this build".

[2018-12-13 18:37] Lawrence37 commented on #5094
@gaaned92
Your explanation of the curves makes sense. I can only see the effect in areas that are mostly blue after the curve is applied. The intent of the RGB curves example was to artificially create pure, or close to pure, blue pixels. I know I was using extreme values for the shadow slider, but you can still see the problem for moderate values. The blue artifacts just fade away the closer you

[2018-12-13 19:24] Hombre57 commented on #5076
@Thanatomanic I don't see the need for a user poll ; as you suggested, the Crop tool could work like the Lockable Color Picker. When the LCP tool is enabled, you can pan the image as well as add/move the pickers without using the shift key, depending on the hover condition. Once done, you right click to go back to the Hand mode. The pickers are still there, but you can't act on them anymore. You h

[2018-12-13 19:56] Hombre57 commented on #3547
@TooWaBoo

I mean

i.e. trying to reproduce the RawTherapee theme by tweaking yours.

I'll explore this.

[2018-12-13 21:00] Hombre57 commented on #5000
@aferrero2707 Thanks for the packages !

I ran it on Win7/64-bits without install (only unzipping, which should work) and started `rawtherapee.exe` through the Windows Explorer and from an MSYS64 console : RT opens but w/o any language string, i.e. I only see the identifier everywhere.

It seem that the language file has not been loaded at all. When starting RT in verbose mode, I can read this, am

[2018-12-13 21:17] RawConvert commented on #5091
@Thanatomanic and all, as you've seen above, I think the histograms could be improved and perhaps simplified.  So I've been working on spreadsheet to experiment with this.  I am respectfully offering the output as food for thought in case you like it.
The objectives are a) to remove "dead" areas of x-axis if nothing is happening  b) make clearer what is happening by expanding horizontally areas of

[2018-12-13 21:18] Hombre57 commented on #5000
@aferrero2707 @Beep6581 @heckflosse @gaaned92 Wow ! In fact, the culprit is special chars in the base install directory ! If I move the folder to the drive's root (`D:\RawTherapee-dev-5.4-763-g1874259b`) then it works fine... and my builds react the same ! I never had this test case before, that's for sure something that should be told to the user, if bug unfixed till final release.

@gaaned92 Do

[2018-12-13 21:25] Hombre57 commented on #5000
@aferrero2707 So I confirm that your version work fine here, but is very slow, probably due to the debug version (rawtherapee.exe alone: 242Mb !). Could you provide release builds (+ eventually a debug exe) ?

[2018-12-13 21:37] Thanatomanic commented on #5091
@RawConvert Thanks Andrew for the mockup. I like the idea to show only the relevant x-portion of the histogram. Did you intend to use the (fixed) 256 bins only for the 'useful' range, or simply truncate at a certain point? Because the former will give a more detailed histogram. It also requires some clever rewriting of the positioning of the gridlines.

I have also my doubts on the insight you can

[2018-12-13 22:20] gaaned92 commented on #5000
@Hombre57 bug confirmed also for my builds.

@aferrero2707  version works fine on W10. @heckflosse  could you test on W7?

A few icone missing on buttons. could you create in` .\share\GTK3` a file `settings.ini` containing :

[Settings] gtk-button-images=1

[2018-12-13 22:37] Beep6581 commented on #5091
Please stay on-topic. This issue is a bug report about the histogram being wrong - whatever was wrong is now fixed. Enhancements can go into a new issue.

[2018-12-13 22:37] #5091 closed, assigned to nobody

[2018-12-13 22:42] Beep6581 commented on #5000
That's:
[code]

[2018-12-13 23:23] RawConvert commented on #5091
@Thanatomanic , the procedure doesn't lose any data and so doesn't truncate pixels at some point.  On reflection I think working out where the grid lines go is straightforward.  You mention doubts.  Whilst it's not truncated, nevertheless the gridlines will not be half way, a quarter way... etc so some might find that undesirable.  For example if a big portion of the middle of the histogram had ve

[2018-12-14 00:07] Hombre57 commented on #3547
Now tested on Linux Mint 18.1. For an unknown reason, some images doesn't scale, and they aren't even saved to HDD !?

**[EDIT]** Correction ; with a fresh install, everything works as expected :roll_eyes:

[2018-12-14 00:50] TooWaBoo commented on #5076
@Hombre57
...but thre is no `crop mode`, it's only a `crop draw mode`.

[2018-12-14 00:52] Hombre57 commented on #5076
@TooWaBoo as of now, yes, but it can be changed easily I think.

[2018-12-14 01:33] Kildor commented on #5076
I vote for current behaviour.
To really productive workflow user need two hands anyway, there are many hotkeys. Also there could be some predefinded profiles with enabled crop.

It is nice to have ability to switch between two different workflows, but users should be able to switch to old one.

[2018-12-14 04:37] regs01 commented on #3547
@TooWaBoo

Wouldn't rem be better, as based on the base font size. It's pretty sad that GTK doesn't have scalable pixel unit, so would scale depend on DPI rather than current font size.

[2018-12-14 06:48] TooWaBoo commented on #3547
`rem` is based on the root font size and this is always 10pt `(EDIT) in Windows`.

[2018-12-14 10:27] Beep6581 commented on #3547
`rem`, or "root em", is resolved using the initial font size value, which is not quite the same as the CSS definition of rem.

The `rem` size depends on the system-wide GTK3 font setting which users can adjust themselves.

[2018-12-14 10:57] esby commented on #5089
@Beep6581 thanks for the clarification.

If I understand well, in partial fill mode, we are talking of tools that have incomplete settings, probable due to the rt evolution over time I'd assume.
I am assuming this setting acts as a compatibility layer, which allows to reset incorrectly parametred tools to their default values.

Partial profiles (which can be generated by ctrl + save profile) are p

[2018-12-14 11:08] TooWaBoo commented on #4148
New update
[code]

[2018-12-14 12:00] Beep6581 commented on #5089
You're welcome.

The intention behind the fill mode is to allow having a profile which, for example, contains only color-related settings, so that when pasting the profile in partial fill mode it changes the images colors but does not touch exposure, noise reduction, etc. Think of it as applying to keys, not to tools, where tools are just groups of keys. So if you're pasting only the "Exposure" gr

[2018-12-14 12:00] #5089 closed, assigned to heckflosse

[2018-12-14 12:07] Beep6581 commented on #4148
Why is this issue needed? MSYS2 users could just run this to check for updates without updating:
[code]
Seems to me it would be better (i.e. less noise, more useful) if an issue existed where we only shout if an update breaks something in RT.

[2018-12-14 12:17] TooWaBoo commented on #4784
GTK+3.24-2 is out and it looks like all bugs are fixed now.

[2018-12-14 12:19] TooWaBoo commented on #4148
@Beep6581
You mean like this? 😁
Gtk+3.24-2 is out and it looks like all known bugs are fixed.

[2018-12-14 13:51] Hombre57 commented on #5076
All in all, it makes sense to set and edit the crop without holding the shift key if the crop button is set, that's something we can do while preserving the old behavior when the crop button is released.

[2018-12-14 16:26] agriggio commented on #4801
14-bit uncompressed should now be supported by libraw:
https://github.com/LibRaw/LibRaw/blob/9e0bf8e225695d68d89cbe605136ea66e0ce17bf/src/libraw_cxx.cpp#L1909

[2018-12-14 21:04] afr-e commented on #5084
A guess: the installers give you the choice of installing for a single user or all users. If you choose one for GIMP and the other for RT, there might be a registry, directory and / or temp mismatch.

[2018-12-14 21:36] timlt commented on #5084
Agree that could cause an issue.  In this case, both apps were installed for all users, both the installations show up in the system Program Files folder.

[2018-12-14 23:09] agriggio commented on #4464
Here is a patch that tries to address at least some of the problems. It should allow to properly pass the original IPTC data (or at least, the IPTC data that is parsed by RT) when "Copy unchanged" is selected also for TIFF output.

[code]

[2018-12-15 01:53] Yz2house opened #5097 "Update GUI in Japanese"
translated two new strings
regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2682314/Japanese.txt)

[2018-12-15 08:48] mattiaverga commented on #4828
@Beep6581 I've just tried and I still get the crash.
The problematic setting is still the `AdjusterBehavior` line. If I delete it and let RT recreate it at next startup, I don't get the problem anymore.

The difference between the line in the old options file and the new seems to be in the length of the line:
[code]

[2018-12-15 09:06] Floessie commented on #4828
@mattiaverga Does this help?

[code]

Best,
Flössie

[2018-12-15 10:13] StefanGyuzelev opened #5098 "Errors in jpeg,tiff(8bit),tiff(16bit) exif ; png(8bit) and png(16bit) there is no exif"
Hi!
Problem present in RawTherapee 5.5rc2 and all previous
Camera Pentax k-1; Pentax k-x
About/Version:
Version:
Branch:
Commit:
Commit date:
Compiler: cc 8.2.0
Processor: AMD\ FX(tm)-8300\ Eight-Core\ Processor
System: Linux
Bit depth: 64 bits
Gtkmm: V3.24.0
Lensfun: V0.3.95.0
Build type: Release
Build flags: -O3 -fPIC -std=c++11 -march=native -Werror=unused-label -Wall -Wuninitialized -Wno-depre

[2018-12-15 10:15] Thanatomanic commented on #5098
Please search the issue list before posting, this issue for Pentax and Exif is known: #4683.

[2018-12-15 10:15] #5098 closed, assigned to nobody

[2018-12-15 10:28] StefanGyuzelev commented on #5098
Only partially coincides

[2018-12-15 10:30] Thanatomanic commented on #5098
@StefanGyuzelev See #3403 as well, which coincides pretty much completely. The exif handling of RT is not optimal at all, and there is a urge to move to something more sustainable, see #3801.

[2018-12-15 12:12] Hombre57 commented on #5092
Branch `profile-panel-bugfix` merged into dev.

[2018-12-15 12:12] #5092 closed, assigned to Hombre57

[2018-12-15 12:13] Hombre57 commented on #5092
@Beep6581 This fix is pretty simple, could it be part of 5.5 ?

[2018-12-15 13:02] Beep6581 commented on #5092
Sure thing @Hombre57

[2018-12-15 13:30] #5097 closed, assigned to Beep6581

[2018-12-15 13:44] Floessie commented on #4828
@Beep6581 Do you prefer a full reset (like above) if the sizes mismatch or a resize with `0`?

[2018-12-15 13:49] #5090 closed, assigned to nobody

[2018-12-15 13:49] Beep6581 commented on #5098
Geeqie shows the Exif information just fine for all formats, bit-depths and compression types, except for PNG. Exiv2 fails to decode Exif from the PNG files, while ExifTool succeeds.

Output test files:
https://filebin.net/afxd8pjprkvd8w5l

[2018-12-15 13:55] Beep6581 commented on #4828
@Floessie a resize with `0` would probably be more user-friendly.

[2018-12-15 14:02] Floessie commented on #4828
I'll just push, it's a no brainer (even if it doesn't solve this very issue).

[2018-12-15 14:38] Thanatomanic commented on #4784
Indeed, I don't see any of the issues anymore! Hurray?

However, one thing I notice is that when you hover and produce a tooltip, and then quickly move to another image (either in browser or filmstrip), the tooltip info updates but the location stays the same.
Or was this already like this pre-3.24.1?

[2018-12-15 14:40] TooWaBoo commented on #4784
This happens in the past too.

[2018-12-15 14:56] mattiaverga commented on #4828
I can confirm that the patch in the proposed PR fixes the issue.

[2018-12-15 15:11] Hombre57 commented on #3643
@Beep6581 Here is the documentation for the Lockable Color Pickers, I'll let you rephrase them in correct english ;) :

Locakble Color Pickers are graphical element that you can add on the preview image to report back the mean color at its location, providing RGB, HSL or L\*a\*b values. To add, move or delete them, you have to enter the Lockable Color Picker mode by clicking on its icon on the top

[2018-12-15 15:30] Beep6581 commented on #3643
Thanks @Hombre57 ! Will add that soon.

[2018-12-15 16:51] Beep6581 commented on #3558
`5.4-1373-g`1ebbe0a09

[2018-12-15 16:53] #4784 closed, assigned to nobody

[2018-12-15 16:56] Beep6581 commented on #5074
Closed by 836c44bf93aa0f7c8e7123a8d599b7cc334e4eb4

[2018-12-15 16:56] #5074 closed, assigned to Beep6581

[2018-12-15 16:58] Beep6581 commented on #4980
I will tag 5.5 tomorrow. Maybe @Desmis is away on holiday. Please shout if you feel action needs to be taken before tagging.

[2018-12-15 17:15] #3913 closed, assigned to nobody

[2018-12-15 17:16] Thanatomanic commented on #5000
See here https://github.com/Beep6581/RawTherapee/issues/4784#event-2028538399
@aferrero2707 and @gaaned92: no more need to downgrade the gtk3 and gtkmm3 packages with an update MSYS2 environment!

[2018-12-15 17:20] Desmis commented on #4980
@Beep6581
I am back at home....
For alberto @agriggio , we can do what we want ...and the principle of this tool is that everybody can do what he want...
For RT_v2 and RTv4 of course we can change TRC, but why ?
If the answer is yes, in this case we must change
RTv2 RTv4 Large with TRC 1.8
RTv2 RTv4 Mdeium with TRC 2.2
and probably others profile (Bruce...???)

But everyone can easily make this ch

[2018-12-15 17:37] Desmis opened #5099 "Retinex with chroma and mixed algoritm with Dehaze"
I just create a new branch "retinex_chroma_dehaz"

1) I add a slider "chroma", now Retinex acts on luminance and chroma
I copy the work i have realized 2 years ago in waveletnew  for Retinex in Raw mode
It is not optimzed for SSE

2) I add a slider "Dehaze" which take into account alberto works, adapted  to retinex. just at the beginning of Retinex
The 2 algorithms works together, Dehaze take into

[2018-12-15 17:40] heckflosse commented on #5099
@Desmis

I will have a look

[2018-12-15 17:42] agriggio commented on #4980
@Desmis Jacques, I understand that everybody is free to do what they want, my question was more about what should be the proper default, and IMHO for ACES at least the TRC should be 1.0...

[2018-12-15 18:12] StefanGyuzelev commented on #5098
I understand.
Still, I did a test with a file from Darktable and RawTherapee with exiv2 started in konsole:
[code]

[2018-12-15 18:22] Desmis commented on #4980
@agriggio

OK as Prophoto (1.8) AdobeRGB (2.2)
But why ?
For me no problem to have other TRC....
The best choice for me for all profile (except perhaps for ACES_P0 which has a very big gamut and usages are specific....stock data... in this case TRC have no importance !) would be BT709 (g=2.2 s=4.5)  and not sRGB (g=2.4 s=12.92)
in summary, if you want to change, any problem for me :)

[2018-12-15 18:23] Desmis commented on #5099
@heckflosse

Ingo, thank you very much

jacques

[2018-12-15 18:32] ofcgk9 commented on #4464
Thank you.

How and when does this patch get incorporated into the Windows version of Raw Therapee?

[2018-12-15 19:43] Hombre57 commented on #3547
@regs01 Could you point me to your source about `-gtk-dpi` ? [This page](https://developer.gnome.org/gtk3/stable/chap-css-overview.html) doesn't mention it.

[2018-12-15 20:24] da-phil commented on #3289
@Beep6581 no, now I can't reproduce the error anymore, this is great, thanks to everybody who was involved in fixing it! However, now I have to hit the refresh button in the filebrowser for the newly exported file(s) to appear in the filebrowser.
I tested it by browsing a folder with ~1.3k pics while a pic was exported and saved in the background

I've been testing with the latest version from dev

[2018-12-15 22:18] TooWaBoo commented on #3547
@Hombre57
`-gtk-dpi` can be used to simulate a DPI value in `css`.

e.g.
[code]

[2018-12-15 22:27] aferrero2707 commented on #5000
New test package, with up-to-date GTK3 packages: https://filebin.net/1m0d8j78otky62nv

I had no time yet to test it in detail...

EDIT: @gaaned92 @TooWaBoo @Hombre57 @agriggio now that 5.5 is out, would you have some time to test this new package, and give me some feedback?

Thanks!

[2018-12-16 06:21] regs01 commented on #3547
@Hombre57
https://mail.gnome.org/archives/commits-list/2015-February/msg01357.html
They probably forgot to document it.

@TooWaBoo
Assuming the talk is about UI element, like widths, borders, paddings etc. I mean, rem is always static and depend on DPI. It changes if DPI changes. em would depend on parent element. If you would like to make some element font size size bigger, you would have to reca

[2018-12-16 11:35] #3289 closed

[2018-12-16 13:16] TooWaBoo commented on #3547
@regs01
I know, but the GUI has to follow the font size in RT which is defined by the user within RT and not based on a system wide font size.

If a user selects e.g. font size 12 and the buttons are designed in rem, the button will grow, but an image button will not grow. You'll get an inconsistent layout.

[2018-12-16 14:05] da-phil opened #5102 "Filebrowser doesn't update folder thumbnails after a file has been added"
When you view the contents of a folder within the filebrowser and export a new file to that folder, the filebrowser doesn't update the folder contents (thumbnails), if you want to see the file you have to hit the "refresh" button.
This sounds like a regression after fixing bug https://github.com/Beep6581/RawTherapee/issues/3289#event-2028818323

Steps to reproduce:
* Open any image file from fileb

[2018-12-16 14:56] TooWaBoo commented on #5102
I can't remember that the file browser ever had an auto refresh.

[2018-12-16 14:59] heckflosse commented on #5102
It has, unfortunately...

[2018-12-16 15:40] #4945 closed, assigned to heckflosse

[2018-12-16 15:48] ff2000 commented on #5075
I don't know if it is intended, but when I dial back sharpening amount while blur radius is >0.2 the image gets really blurry (stronger than with blur=0.2) with the strongest blur at amount=1. As soon as sharpening amount drops to 0 the image looks "sharp" as it wasn't sharpened at all.

[2018-12-16 15:53] heckflosse commented on #5075
@ff2000 I will have a look

[2018-12-16 23:58] VitorFrost commented on #3317
I wold really appreciate it, because I shoot with two cameras!

[2018-12-17 00:30] Beep6581 commented on #5093
Deleted unmaintained profiles in 1e45112d4 , updated other profiles in c8042271d.

[2018-12-17 00:32] Beep6581 commented on #4429
RawTherapee 5.5 is tagged \o/
Well done and thank you everyone!

[2018-12-17 00:32] Beep6581 commented on #4429
@aferrero2707 @Benitoite @gaaned92 please link me to the builds when ready, then I will make public the release announcement.

[2018-12-17 05:19] Benitoite commented on #4429
@Beep6581
Here is a macOS 10.9/10/11/12/13/14 build of `5.5`
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.5.zip

[code]

🌮 🎉

[2018-12-17 07:55] gaaned92 commented on #4429
@Beep6581

     RawTherapee_5.5_WinVista_64.zip

    uploaded at

https://keybase.pub/gaaned92/RTW64NightlyBuilds

[code]

[2018-12-17 08:20] gaaned92 commented on #4429
and for the uncompromising lovers of W32:

     RawTherapee_5.5_WinVista_32.zip

    uploaded at
https://keybase.pub/gaaned92/RTW32NightlyBuilds

[2018-12-17 08:53] aferrero2707 commented on #4429
@Beep6581 AppImage package: https://github.com/Beep6581/RawTherapee/releases/download/nightly/RawTherapee-releases-5.5-20181217.AppImage

[2018-12-17 10:07] Floessie commented on #4429
For the fun of it I built yesterday's `dev` on [Debian 10 ppc32](https://filebin.net/67o9xqyr6ow94z65/rt_ppc.png). PowerPC is demanding (and unique) for being both big endian and `char == unsigned char`.

No related complaints from the compiler, binary works just fine.

Don't get fooled by "generic x86" in the screenshot: There is no `-mtune=generic` for PowerPC, so I modified the ProcTarget. Mayb

[2018-12-17 12:14] gaaned92 commented on #5084
@agriggio  @heckflosse
Now that 5.5 is out, I hope you can take some time to solve this issue.

there were somme efforts already some efforts done by RT and GIMP people. For reference:

Add Single User/Multi User switch to Windows setup. #4790
Rawtherapee as a GIMP plugin #4534
GIMP RawTherapee plugin cannot find executable in Windows #4514
https://discuss.pixls.us/t/gimp-hip-hip-pas-rt-hurrah/102

[2018-12-17 12:26] heckflosse commented on #5075
@ff2000 Fixed with 988d598

[2018-12-17 12:46] ff2000 commented on #5075
Thx, fix confirmed. In the evening I hopefully have more time to test it with other photos.

[2018-12-17 13:15] heckflosse commented on #5084
I don't know how to test, but this could help:
[code]

[2018-12-17 13:59] gaaned92 commented on #5084
`I don't know how to test, but this could help:`
Yes that is one of the problems.
One other is to compile file-rawtherapee.c. It seems I need Gimp environment

[2018-12-17 14:29] heckflosse commented on #5084
I updated the patch 2 posts above

[2018-12-17 16:21] agriggio commented on #4910
if the consensus is to change the behaviour, probably the same should be applied to other places, e.g. wavelet levels, pixelshift motion masks, lab regions show mask, retinex.

[2018-12-17 17:10] heckflosse commented on #4910
I vote for the current behaviour.

[2018-12-17 17:12] Beep6581 commented on #4960
Duplicate of RawTherapee/RawPedia#21

[2018-12-17 17:12] #4960 closed, assigned to heckflosse

[2018-12-17 17:13] Beep6581 commented on #4959
http://rawpedia.rawtherapee.com/ICC_Profile_Creator

[2018-12-17 17:13] Beep6581 commented on #4957
http://rawpedia.rawtherapee.com/Color_Toning

[2018-12-17 17:14] Beep6581 commented on #4956
Done:
http://rawpedia.rawtherapee.com/Color_Toning

[2018-12-17 17:14] #4956 closed, assigned to Beep6581

[2018-12-17 17:16] Beep6581 commented on #4950
http://rawpedia.rawtherapee.com/Haze_Removal

[2018-12-17 17:16] #4950 closed, assigned to Beep6581

[2018-12-17 17:17] Beep6581 commented on #4905
Done in #4950

[2018-12-17 17:17] #4905 closed, assigned to agriggio

[2018-12-17 17:23] Beep6581 opened #5103 "Roadmap for 5.6"
Feature-freeze and release candidates mid March 2019.
Release date: 2019-04-01.

[2018-12-17 17:33] Faber777 commented on #5085
final corrections to Spanish:
I attach a few entries where I made corrections to Spanish

[espanol -correcciones_2.txt](https://github.com/Beep6581/RawTherapee/files/2687148/espanol.-correcciones_2.txt)

[2018-12-17 17:36] Faber777 commented on #5085
I attach a few entries where I made corrections to Spanish
[espanol_correcciones.txt](https://github.com/Beep6581/RawTherapee/files/2687188/espanol_correcciones.txt)

[2018-12-17 17:36] EmmanuelARB opened #5104 "Panasonic DC-G9 pixel shift raws require different black level and raw crop"
Hi, would it be possible to add support for High Resolution raws of Panasonic DMC-G9 (80 megapixels files) ?
It seems to open in RT but when demosaicing is done, it only shows pink scrambled lines.

You can find an example of such file in https://raw.pixls.us/getfile.php/2584/nice/Panasonic%20-%20DC-G9%20-%204:3.RW2

Thanks a lot in advance, regards,
Emmanuel

PS : I'm using RT 5.4-1 in ArchLinux

[2018-12-17 17:48] Beep6581 commented on #5085
@Faber777 replace the old entries in https://github.com/Beep6581/RawTherapee/blob/dev/rtdata/languages/Espanol with the new ones and submit the whole file in a new issue

[2018-12-17 18:10] StefanGyuzelev commented on #4683
New version exiv2-0.27.0.3 can read exif from png, but from file generated with darktable-2.6.0.rc2
On a file generated with RawTherapee-5.5 exif data is not readable.

[2018-12-17 18:19] dogo77 commented on #5093
Hi,
i just updated RT to 5.5 and the first thing i missed were the bundled profiles… :D
Although most profiles didn't fit my nedds/taste i have been a heavy user of the skintones/TM preset as they worked very well with my ILCE-6000 and geve the desired look.

So 2 Questions from my side:
1) Where can i find the old presets for downloading and reimporting  them? In an older branch?
2) will they rea

[2018-12-17 18:29] heckflosse commented on #5016
I merged custom-tool-panel (aka favorites) into dev and also dev into blur-flat-regions because I don't want to lose the favorites in options file each time I switch between this branches.

[2018-12-17 19:52] TooWaBoo commented on #5016
@heckflosse
I get these messages on compiling `dev`.
[code]

[2018-12-17 21:34] Beep6581 commented on #5093
Hey @dogo77

You can find them here:
https://github.com/Beep6581/RawTherapee/tree/5.4/rtdata/profiles

New tools bring new possibilities. There will be new profiles in 5.6.

[2018-12-17 21:56] brussell1 commented on #3794
Is there any motivation to fix this issue?

[2018-12-17 22:13] Hombre57 commented on #3794
@brussell1 I'll have a look next week.

[2018-12-18 07:24] Desmis commented on #4094
@Pandagrapher

Salut
J'envisage, si tu n'y vois pas d'inconvénients ou d'objections, d'apporter quelques modifications à "locallab", ou alors préfères-tu que j'attende tes travaux
Ces modifications concernent iplocallab.cc, mais aussi, d'où ma demande, locallab.cc,  en revanche controlspotpanel.cc n'est pas concerné.

Ces modifications portent sur :
* ajout du curseur "Contrast threshold" à "sharp

[2018-12-18 16:36] valpackett opened #5105 "OpenMP idle threads consume 100% CPU with LLVM libomp"
With RawTherapee built with clang / linked to `libomp`, I'm seeing the behavior discussed in this thread:

https://lists.llvm.org/pipermail/openmp-dev/2017-September/001835.html

There was a suggestion of changing the passive idle policy, but also:

[2018-12-18 16:36] valpackett commented on #4964
RT is already packaged in the official ports collection, so you can just `pkg install rawtherapee`. (The port will be updated from 5.4 to 5.5 soon, now that 5.5 is released.)

There is an `OPENMP` option in the port, by the way. It uses LLVM libomp (which has an idle CPU usage issue: #5105)

Use Ninja!

Arch Linux and Gentoo don't come with a default desktop shell either, I guess no one would ever

[2018-12-18 16:52] Benitoite commented on #4964
Have you tried (building+installing+using) libiomp5?  It seems to work on mac/darwin with a number of cmake flags: `-DOpenMP_C_FLAGS=-fopenmp=lomp -DOpenMP_CXX_FLAGS=-fopenmp=lomp -DOpenMP_C_LIB_NAMES="libiomp5" -DOpenMP_CXX_LIB_NAMES="libiomp5" -DOpenMP_libiomp5_LIBRARY="/opt/local/lib/libiomp5.dylib" -DOpenMP_CXX_FLAGS="-Xpreprocessor -fopenmp /opt/local/lib/libiomp5.dylib -I/opt/local/include"

[2018-12-18 17:01] valpackett commented on #4964
According to [their website](https://www.openmprtl.org), Intel OpenMP (`libiomp5`) is now LLVM OpenMP (`libomp`). Or it's deprecated in favor of `libomp`.

`libomp` is already the preferred implementation on FreeBSD, it's installed with `pkg install openmp`, and the RawTherapee package already uses it.

[2018-12-18 18:28] Thanatomanic commented on #4964
@myfreeweb @Benitoite If you can write working instructions to compile the latest `dev` on FreeBSD, with `libomp` and `ninja` we're of course happy to include them on RawPedia. However, my personal feeling is that the FreeBSD userbase of RT is very small and it might not be worth the hassle.

[2018-12-18 19:00] Thanatomanic commented on #5104
Probably related, at least shows the same effect: #4675

[2018-12-18 19:02] Thanatomanic commented on #5103
We currently have 40 open issues because I recently had been tagging some 'important' stuff to work on. However, this may be a little overzealous. Maybe we need a v6.0 milestone to push some longer-term projects into?

[2018-12-18 19:25] valpackett commented on #5105
Looks like commenting out the OpenMP pragmas in `rtengine/previewimage.cc` fixes the problem ­— RT idles at 0% CPU without them, while editing is still fast / uses all cores.

I'm not an OpenMP expert, but the `schedule(dynamic, 10)` one looks suspicious..

[2018-12-18 19:39] heckflosse commented on #5103
@Beep6581

Veto! either 2019-04-02 or 2019-03-31 ;-)

[2018-12-18 19:39] heckflosse commented on #5105
@myfreeweb I will have a look now. Thanks for pointing this out :+1:

[2018-12-18 20:17] Beep6581 commented on #5103
@Thanatomanic don't worry about that, we will kick issues to further milestones closer to the release date out of necessity, not much point doing that prophylactically.

@heckflosse 2019-03-31 is a Sunday, so :+1:

[2018-12-18 20:18] valpackett commented on #5105
And indeed just leaving that out also fixes it:

[code]

[2018-12-18 20:24] heckflosse commented on #5105
@myfreeweb I'm already searching for the issue. I also placed some couts in the code, but couldn't trigger them yet. Can you please tell me how to reproduce, so I can fix it?

[2018-12-18 20:28] valpackett commented on #5105
Compile with clang/libomp, launch, navigate to a folder with some photos, watch CPU usage in `top`/`htop`.

[2018-12-18 20:31] heckflosse commented on #5105
@myfreeweb I don't even get my std::cout which I placed just above the loop you mentioned. There must be someting else...

[2018-12-18 20:49] Floessie commented on #5105
@heckflosse `tpp` is valid, so it won't enter that part.

[2018-12-18 20:54] Floessie commented on #5105
SEGV with `PIM_ForceRaw`...

... due to JPEG :facepalm:. Now with CR2 it loads just fine.

No CPU load with Clang 3.9.1 and libomp5 on Debian 9.6 AMD64. Sorry.

AFK now,
Flössie

[2018-12-18 21:12] heckflosse commented on #5105
I still need to be able to trigger this....

[2018-12-18 22:08] shastah opened #5106 "MIDI controller support"
There are very interesting physical controllers appearing on the market (Loupedeck, Palette Gear) for LR & friends, and while I don't think they'll have any sort of Linux support anytime soon, people are reporting some success using MIDI controllers to achieve similar results with programs like Darktable.

I think it would be super useful to be able to use such controllers with RawTherapee.

I wou

[2018-12-19 10:46] RawConvert commented on #5016
@heckflosse , I tried Favorite again.  Couldn't remember what fattal was so put just that in Options.  (Noticed RT had moved this new line to be the first in the section)
I got this when I ran RT -
paulssd2@shovel2:~$ bash runrtdev16dec.sh
(rawtherapee:4513): GLib-GObject-WARNING **: instance of invalid non-instantiatable type '(null)'
(rawtherapee:4513): GLib-GObject-CRITICAL **: g_signal_handler

[2018-12-19 11:02] heckflosse commented on #5016
@RawConvert I tried, but could not reproduce

[2018-12-19 11:21] TooWaBoo commented on #5016
Neither do I.

[2018-12-19 11:34] Beep6581 commented on #5016
Neither can I.

@RawConvert sometimes (rarely) RT crashes. When something like that happens, make sure you try restarting it at least twice to rule out "random" crashes. And provide a [stack backtrace](http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports).

[2018-12-19 11:40] heckflosse opened #5107 "Better xtrans fast algorithm"
I changed the calculation of the green channel in xtrans fast implementation.
The current version calculates the average of the sorrounding 5 greens when at a red or blue location while using the original value when at a green location. That leads to a kind of dotty look.
The new version always calculates the average of the sourrounding 5 greens.
That leads to a smoother look.
Left is current vers

[2018-12-19 11:46] Beep6581 commented on #5107
@heckflosse I'd go with whichever gets denoised better.

[2018-12-19 12:02] heckflosse commented on #5107
The same with denoise. This time left is the new version and right the old version
![grafik](https://user-images.githubusercontent.com/13733487/50219022-286d4580-038e-11e9-9565-5dcd85cb80c1.png)

[2018-12-19 12:05] heckflosse commented on #5107
Here's an ISO 200 shot with a bit of sharpening applied
Left is new version, right is old version
![grafik](https://user-images.githubusercontent.com/13733487/50219181-a598ba80-038e-11e9-9f67-7cdc32f64b07.png)

[2018-12-19 12:27] sguyader commented on #5107
@heckflosse I'll try later. Where can I find it?

[2018-12-19 12:34] heckflosse commented on #5107
@sguyader I just created branch `xtrans_fast_smooth`

[2018-12-19 13:26] heckflosse commented on #5107
As an alternative also
[code]
could be used

Example: left current code, middle branch code, right using the alternative calculation:
![grafik](https://user-images.githubusercontent.com/13733487/50222878-dfbb8980-0399-11e9-9902-f6bdd5ae9a69.png)

[2018-12-19 14:42] RawConvert commented on #5016
Nor me!...  Just repeated the test and it's ok now.
So fattal = dynamic range compression.  ?Might be better to use the actual tool names as the keywords?
(epd = tone mapping)
Cheers!

[2018-12-19 14:50] RawConvert opened #5108 "Ctrl Shift Right Click not deleting colour picker points"
I'd put several colour pickers on the preview.  The tooltip says you can delete them all with ctrl shift rt.click but the result seems just the same as an ordinary right click i.e. picker tool turned off.
Version: 5.5-12-g39d37a6
Branch: dev
Commit: 39d37a6
Commit date: 2018-12-17

[2018-12-19 14:54] heckflosse commented on #5108
@RawConvert ctrl shift right click on a picker removes them all

[2018-12-19 14:54] TooWaBoo commented on #5108
You must click on one of the color picker.
EDIT: @heckflosse was faster. :-)

[2018-12-19 14:56] RawConvert commented on #5108
Ah ok, thanks.

[2018-12-19 14:56] #5108 closed, assigned to nobody

[2018-12-19 16:54] sguyader commented on #5107
@heckflosse I think I prefer the old algorithm to the `xtrans_fast_smooth` one. The new blurs too much detail, and even in combination with the 3-pass, the smooth areas tend to look blotchier to me.
Can I try the second alternative?

[2018-12-19 17:00] heckflosse commented on #5107
@sguyader To simplify testing, I just added an adjuster ;-)
At value zero it's old behaviour. At value 100 it's behaviour from first commit...

[2018-12-19 17:18] Pandagrapher commented on #4094
@Desmis
Salut Jacques,
Pas de problème à modifier locallab.cc
Pour ma part, j'ai pris du retard à développer ce sur quoi je travaillais avant mes vacances (des bugs et encore des bugs...). J'aurai plus de temps pendant les congés de fin d'année :)
Bonnes fêtes
Pierre

[2018-12-19 17:31] Desmis commented on #4094
@Pandagrapher

OK, merci
jacques

[2018-12-19 23:06] heckflosse commented on #5107
@sguyader I forgot to mention that the new adjuster is only visible in 3-pass+fast and 1-pass+fast, not in plain fast

[2018-12-20 09:26] hyannes opened #5109 "Image editor preview differs from processed image"
This issue is pretty much persistent on profiles that have a lot of changes made to the exposure tab, though I've never seen it occur on any image that's only been lightly edited. It's nothing particularly big nor is it noticeable at first, but you can notice contrast and highlight differences from the previewed and processed image after a second look. I've tried pin-pointing the particular culpri

[2018-12-20 09:35] Thanatomanic commented on #5109
For your edited pp3, you have some tools enabled that require you to view the image 1:1 to see the effect properly. That can explain the difference between output and zoomed-out preview.

As for both outputs: I get a perfect match between the (1:1) preview in RT and the corresponding output. Your external photo viewer might not be color managed properly, which can cause visual differences.

Probab

[2018-12-20 09:42] hyannes commented on #5109
I see! Thank you for the fast response and I'll keep this in mind next time. I'm rather new to RawTherapee so I don't exactly know how preview and output works except for the fact I have to edit to get what kind of effect I want

[2018-12-20 09:43] Thanatomanic commented on #5109
@hyannes Reading this might help too if you're new: http://rawpedia.rawtherapee.com/The_Image_Editor_Tab

[2018-12-20 09:43] #5109 closed, assigned to nobody

[2018-12-20 17:18] sguyader commented on #5107
@heckflosse I failed to find cases in my images where the new fast algo improves things, but as I said yesterday I found that it tends remove some microcontrast in foliage or rocks for example. and in noisy images, the noise looks coarser to me, which I don't find desirable.

[2018-12-20 17:49] heckflosse commented on #5107
@sguyader Thanks for testing :+1: Btw: I got the idea to test this as I saw this noise comparison on dpreview.
https://www.dpreview.com/forums/post/62062522?image=0

I will stop work on this branch now, but let the branch and the issue open for a while

[2018-12-20 22:30] sguyader commented on #5107
It was just my opinion, I'd like to hear others'.
Can you implement the second alternative algorithm you showed? It looked more balanced to me, smoothing a little bit but still keeping more detail than the "new fast".

[2018-12-20 23:03] heckflosse commented on #5107
@sguyader Oh, I thought you tried already my second alternative with the adjuster

[2018-12-20 23:07] heckflosse commented on #5107
@sguyader Just pull the branch and use the adjuster. Value zero is like dev, value 1 is like first commit, value 0.5 is like the alternative

Edit: and everything in between is also possible using different adjuster values

[2018-12-21 00:17] heckflosse commented on #5107
@sguyader Sébastien, I mean this adjuster:
![grafik](https://user-images.githubusercontent.com/13733487/50317828-f22ee380-04bd-11e9-8a06-31909b4a1794.png)

[2018-12-21 01:06] sguyader commented on #5107
Okay, I thought the adjuster was just 0/100, old/first commit, I didn't try at 50. I'll try tomorrow.

[2018-12-21 12:35] heckflosse opened #5110 "Default profiles should have either raw or lensfun ca correction enabled, but not both together"
Auto-Matched Curve - ISO Low.pp3 currently has

[code]

Having raw CA correction and lensfun CA correction enabled leads to bad CA correction in case the lensfun profile has CA correction.
Example: left lensfun + raw ca correction, right only raw ca correction
![grafik](https://user-images.githubusercontent.com/13733487/50342906-47eaa680-0525-11e9-9d81-88abb1418f65.png)

[2018-12-21 14:18] sguyader commented on #5107
@heckflosse I've tried to compare a few images with the slider at 0,50 or 100, but I failed to find instances when I prefer the result of green smoothing. In clean images there's not much difference, but when noise start to kick in, I prefer the original fine grain than the modified blotchier grain.

I have one question: is there a possibility that playing with the Haze Removal depth slider can af

[2018-12-21 16:03] teplit opened #5111 "Opening a locked RAW file in RawTherapee causes crash"
If a RAW file is firstly opened in Adobe Camera Raw, then it is not possible to open it in RawTherapee without closing Camera Raw.

Steps to reproduce the problem without Camera Raw on Windows system:
1. Via RawTherapee File Browser open a folder with a RAW file
2. From Windows command interpreter (cmd.exe) execute `notepad >> RAWfile`, where RAWfile is the path to chosen RAW file located in the s

[2018-12-21 18:19] gaaned92 commented on #5000
@aferrero2707
My remarks

- It runs ok on W10 and the issue on W7 is corrected.

- relwithdebinfo build vs release build: on my pc there is unnoticeable difference in loading the exe. perhaps it is different on slow pc.(see @Hombre57 post above)

- useless dlls.

 libjson-glib-1.0-0.dll

  liblzo2-2.dll

 libminizip-1.dll

 libmpdec-2.dll

 libp11-kit-0.dll

 libpcre16-0.dll

 libpcre32-0.dll

 li

[2018-12-21 18:25] gaaned92 commented on #5111
Crash confirmed

`If a RAW file is firstly opened in Adobe Camera Raw, then it is not possible to open it in RawTherapee without closing Camera Raw.`
That seems a sane behaviour. Nevertheless, Rawtherapee should not crash.

[2018-12-21 18:37] Thanatomanic commented on #5111
That actually does not seem like sane behavior to me. We only need to open the file in read-only mode. I am no expert in how Windows handles file i/o behind the scenes, but I would assume opening in read-only should always be possible.

[2018-12-21 19:07] heckflosse commented on #5111
This fixes the crash:

[code]

[2018-12-21 19:25] heckflosse commented on #5111
Now the crash is fixed, but I get a warning in console:
[code]

Fixed with this patch which includes the first patch:

[code]

[2018-12-21 19:35] heckflosse commented on #5111
@Thanatomanic

It seems we open in read-only mode already
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/myfile.cc#L136

Edit: I just saw that my pointer was for the case MMAP is disabled...

[2018-12-21 20:32] heckflosse commented on #5107
@sguyader

Looking at the code I would exclude that

I guess you already know the answer because it was you, who correctly showed the artifacts using fast xtrans for detailed regions by setting the contrast threshold adjuster to too large value ;-)

\o/

Anyway, I will close now. It was worth trying out at least :smiley:

[2018-12-21 20:36] #5111 closed, assigned to heckflosse

[2018-12-21 21:40] gaaned92 commented on #5111
But we don't know what is doing CR!

[2018-12-21 21:44] heckflosse commented on #5111
@gaaned92

?

Edit: Did you mean ACR?

[2018-12-21 21:57] heckflosse commented on #5016
@RawConvert

No, tool names are localized whereas keywords have to be constant.
Tough I agree about using better (more meaningful keywords) without a doubt

[2018-12-21 22:23] aferrero2707 commented on #5000
@gaaned92
Thanks for checking!

This, and the fact that the incompatibility with Win7 is solved, are the most important aspects for the moment.
At this point I will clean the contents of the package and compile in Release mode to reduce the size of the executable. There is also something wrong with the way I am generating the settings.ini, which should be present in the package.

More news after t

[2018-12-22 09:04] gaaned92 commented on #5084
I began to build GIMP on W10, following https://wiki.gimp.org/wiki/Hacking:Building/Windows.

I rebuilt BABL and GEGL.
Building GIMP 2.10.8,  I got a huge lot of compilation  warnings.

As usual on MSYS2, with the vintage build system used by GIMP (autogen,automake. auto* stuff) it messes with Unix/windows path format:
[code]
I suppose as the target is a windows system, it wrongly tries to convert

[2018-12-22 10:22] mandree commented on #3636
This issue persists in RawTherapee 5.5 on FreeBSD 12.0 amd64 (= x86_64).

[2018-12-22 11:26] gaaned92 commented on #5084
@heckflosse
Surprise! with my build it works!
If you want to test, I can upload the install dir. it is not a package and you need to run inside a Mingw64 shell to get the dlls.
I am puzzled

[2018-12-22 13:05] Floessie commented on #3636
@mandree I'd like to tackle that bug, but need assistance, as I'm completely unfamiliar with (Free)BSD. What I need is a Qemu 2.8 AMD64 VM on an at least 5GB virtual qcow2 image. Either you provide me with an image or I set it up with your help (I'd prefer to set it  up myself). For the latter I need kind of a TODO list on how to install the basic system and how to find and install the packages RT

[2018-12-22 18:51] timlt commented on #5084
Cross-check the related GIMP bug linked in the OP:  this same issue of building and then launching from Mingw64 is being discussed there.

[2018-12-22 21:41] Floessie commented on #3636
@mandree So, I've got the basic system up, installed xorg, the video-vmware driver, and XFCE, but when I run `startx` I get a psychedelic pattern and the VM is stuck. Any hints?

[2018-12-23 00:57] esby commented on #2631
Hello, I've updated my fork to the dev branch code. (I assumed this was the one used to make rc candidate at some point, I havn't looked at the branch system used in details. Assuming I havn't made any error in the checkout tag I used  to sync (b3ee765bf) )

For the background, I only have time to code only a few months a year, mainly in december and in july / august; the rest of the time I can't

[2018-12-23 09:36] abishai commented on #3636
Is vmware driver actually tries to load by Xorg ? Probably it needs a hint in /usr/local/etc/X11/xorg.conf.d/
Try to drop a conf file with

[code]

[2018-12-23 13:23] heckflosse commented on #2631
@esby Trying to open non RW2 raw files segfaults

[2018-12-23 15:15] heckflosse commented on #2631
@esby On Win7 when using METM I can open 6 images with your fork while in dev I can open 15 images.

[2018-12-23 16:29] EmmanuelARB commented on #5104
You are definitely right, thanks for noticing it ! I tried a couple of GH5S raws in https://raw.pixls.us/ (both 12 and 14 bits) and it gives the same error, so probably related.

If needed I can provide more G9 high res raws, as soon as I get back to better quality internet.

[2018-12-23 16:58] mandree commented on #3636
@Floessie I normally use VirtualBox to host my FreeBSD guests, not qemu, and in case video is difficult but you have a running Linux installation with X11 or Xorg proper (not Wayland), just `ssh -AX my_freebsd_machine` from the Linux computer and don't run X11 in the guest machine.

The one thing is that you'd probably also need to build all the requisites in debug versions (default is stripped re

[2018-12-23 18:03] esby commented on #2631
For the non RW2 raws, it should be fixed.

For the METM issue, I am assuming this is a memory issue ?

[2018-12-23 18:17] RawConvert opened #5112 "Integrate unbounded processing more fully / RT6?"
Alberto recently commented "Note though that some of the tools might still clip internally. So if you really want to make this work, you should probably not deviate much from neutral (i.e. demosaicing, exposure compensation, denoising and lens corrections should be fine, everything else should be better left alone)"

Would it be good to have an enhancement to make more of the tools work reliably /

[2018-12-23 18:26] RawConvert commented on #5016
I suppose theoretically the keywords could be defined for each language and since RT would know the locale, it could work out what was needed.  But appreciate that's a load more development to do.
Given the keywords are constant, and English basically, surely they could be made rather more intuitive for the ?majority of users?

[2018-12-23 18:40] heckflosse commented on #2631
@esby

No, it's a problem with GDI handles on Windows.

[code]

[2018-12-23 18:49] heckflosse commented on #2631
@esby I really like the idea to use the `roll angle exif value`. How reliable is that value?
I tested with some shots (no burst mode) and it was not very reliable. But maybe I did something wrong. I don't own a Panasonic Camera and just tested with a few RW2 files I have...

If it's reliable, you could extend it to the first shot of a burst ;-)

[2018-12-23 20:30] esby commented on #2631
@heckflosse about the roll angle:
For burst mode, the camera does not seem to update the value during a burst, so it's unreliable in burst mode. Yes, for the first shot of the burst it might be reliable.

For posed shots, I assume it is reliable if you don't move that much.
I did a few samples twice just to check and the horizon was corrected each time.

I tried with a CR2 file from a canon 6D, wh

[2018-12-23 20:43] aferrero2707 commented on #5000
@gaaned92
I have uploaded the new build scripts to GitHub, and created a new package that (hopefully) follows all your recommendations. The build scripts are [here](https://github.com/aferrero2707/rt-win64) (see those with `MSYS2` in their names) and the new package [here](https://github.com/aferrero2707/rt-win64/releases/download/continuous/RawTherapee_dev-5.5-15-g3461328a.zip).

[2018-12-23 20:45] heckflosse commented on #2631
@esby About the gdi handles: It's not a problem of not being deleted elements. It's just that the handles accumulate with the number of open editors in METM. Of course it's possible to open more than 6 images in METM, but not more than 6 at a time. Fortunately RT tells you that an image cant be opened and you have to close an Editor instance in case the GDI handle limit is reached.

[2018-12-23 20:55] Floessie commented on #3636
@abishai @mandree Thanks for the tips. I'll give it a try after Christmas. Thing is, the guest system completely freezes, and even sending a ctrl-alt-f2 won't give me a login to inspect. I found an [issue](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=202643) that might be related. But the ssh way is sure viable.

If that all takes too much time, I'll convert the `PixbufStore` into a proper si

[2018-12-23 21:14] esby commented on #2631
Oh, I see,

Can you try to comment the 202th line at rtgui/toolpanelcoord.cc
 addPanel (usefulPanel, Gtk::manage (new TTVarDisplayer()));
->
// addPanel (usefulPanel, Gtk::manage (new TTVarDisplayer()));

and recompile to see if this helps?

[2018-12-23 21:32] mandree commented on #3636
@Floessie try VirtualBox...

[2018-12-23 21:43] heckflosse commented on #2631
That reduces the number of GDI handles per open editor by 4. There must be something different which needs so many handles...

Edit: I confirm that the segfault for non RW2 files is fixed :+1:

[2018-12-24 09:59] Floessie commented on #3636
@abishai No luck with the xorg.conf: "Module 'vmware' not found" although I installed `xf86-video-vmware` through `pkg install`.

@mandree No, I don't want to taint my system.

I've created a [new branch](https://github.com/Beep6581/RawTherapee/tree/pixbuf-cache-revision) for you to test.

Best,
Flössie

[2018-12-24 10:29] gaaned92 commented on #5084
@heckflosse
I can get the plugin work with the two following modifications. Only tested with RT register keys.

In file-rawtherapee.c  from GIMP:

[code]

and in RT main.cc:

[code]

I added -vw option as using "-v -w" in file-rawtherapee.c doesn't prevent the opening of the DOS window.

My modification is surely clumsy as it is and need review.

The difficultie to test are:
- you have to generate

[2018-12-24 12:05] TooWaBoo commented on #5016
@RawConvert
Right now, we don't need to discuss the name of the tools because the final version will have a GUI to configure I guess.

[2018-12-24 14:25] heckflosse commented on #5084
@gaaned92

On dev, when I start rawtherpee.exe from cmd.exe like this
[code]
an additional console opens

When I start rawtherpee.exe from cmd.exe like this
[code]
no additional console opens.

Does this behave differently at your system?

[2018-12-24 15:12] gaaned92 commented on #5084
`Does this behave differently at your system?`

It behaves exactly the same here.
 But, when Rawtherapee is called by file-rawtherapee.exe with "-v  -w",  a console opens.
It is like main.cc sees only one argument and not the second -w.
So I created this option -vw to avoid opening console. Not very elegant I admit!

[2018-12-24 15:18] heckflosse commented on #5084
@gaaned92
please try
[code]

[2018-12-24 15:24] esby commented on #2631
@heckflosse I managed to install a windows 10 inside a vm, I'll try to hunt down the gdi handles. What do you use to measure the number of gdi handles ? I tried to use the task manager, but the number it outputs are looking different than yours.

[2018-12-24 15:42] heckflosse commented on #2631
@esby I used the task manager, but my numbers may be different because I'm on Win7.
This tool is also good
https://www.nirsoft.net/utils/gdi_handles.html

[2018-12-24 16:01] gaaned92 commented on #5084
@heckflosse it works :satisfied:

Now it will wait a few days.

Merry Christmas to all :christmas_tree:

[2018-12-24 23:28] heckflosse commented on #5084
@gaaned92 \o/ and merry christmas

[2018-12-25 01:20] esby commented on #2631
@heckflosse : can you retry to see if the situation is better now ?
I got a general question: should the "new Gtk::<object>" creation always "gtk managed"?
Because I searched for instances not managed in the dev code and I found 39 instances which were created directly without Gtk::Manage I am assuming this will either leak or create gdi handles leaks

[2018-12-25 08:21] scx opened #5113 "Flatpak package"
I created the flatpak package for RawTherapee.
https://github.com/scx/rawtherapee-flatpak

I am in the process of submitting it to the Flathub repo.
https://github.com/flathub/flathub/pull/789
https://github.com/scx/flathub/tree/com.rawtherapee.RawTherapee

It would be nice if the author decided to participate in the further development of this flatpak package.

[2018-12-25 08:25] scx commented on #4860
I created the flatpak package for RawTherapee.

See also:
https://github.com/Beep6581/RawTherapee/issues/5113
https://github.com/flathub/flathub/pull/789

[2018-12-25 08:35] scx opened #5115 "COPR repo for EL7"
Some time ago I created COPR repo for EL7:
https://copr.fedorainfracloud.org/coprs/scx/rawtherapee/
Today, I updated the rawtherapee package to the latest version.

This significantly simplifies the installation of RawTherapee on RHEL 7 / CentOS 7 / Scientific Linux 7 / Oracle Linux 7.

See also: Flatpak package - https://github.com/Beep6581/RawTherapee/issues/5113

[2018-12-25 08:38] scx commented on #3070
Some time ago I created COPR repo for EL7:
https://github.com/Beep6581/RawTherapee/issues/5115

[2018-12-25 08:38] scx commented on #4501
Some time ago I created COPR repo for EL7:
https://github.com/Beep6581/RawTherapee/issues/5115

[2018-12-25 08:39] scx commented on #4812
Some time ago I created COPR repo for EL7:
https://github.com/Beep6581/RawTherapee/issues/5115

[2018-12-25 08:39] scx commented on #4687
Some time ago I created COPR repo for EL7:
https://github.com/Beep6581/RawTherapee/issues/5115

[2018-12-25 08:51] scx commented on #5115
### RPM SPECs

`libtiff4-opt.spec`:
[libtiff4-opt.spec.txt](https://github.com/Beep6581/RawTherapee/files/2708465/libtiff4-opt.spec.txt)

`rawtherapee.spec`:
[rawtherapee.spec.txt](https://github.com/Beep6581/RawTherapee/files/2708466/rawtherapee.spec.txt)

[2018-12-25 09:11] scx commented on #4501
@coyotechido
@Thanatomanic
@Beep6581

On EL7, you should pay attention to set [RPATH](https://gitlab.kitware.com/cmake/community/wikis/doc/cmake/RPATH-handling) for `libtiff` >= *4.0.4*:
[code]

Using the system library can produce unexpected results, because EL7 provides `libtiff` *4.0.3* and the program requires `libtiff` >= *4.0.4*.
[code]

[code]

[code]