[2018-12-25 22:20] Hombre57 commented on #3547
@TooWaBoo @regs01 @Beep6581 So the `* {-gtk-dpi: 150;}` worked for fonts, but not for icons. I'll let you try that by yourself if you want, but I for one has spent too much time with the Gtk's DPI arcane. I'm finishing this issue with the custom widgets update, then will ask for merge.

[EDIT] Tried on Win7/64-bits/MSYS2

[2018-12-25 22:36] Beep6581 commented on #3547
@Hombre57 could you summarize what the branch accomplishes?

[2018-12-25 23:10] Hombre57 commented on #3547
@Beep6581 This branch look for the GDK_SCALE environment variable, store the value in a global variable and in the new `RTScalable` class, then force it to 1 so that RT handles scaling by itself, i.e. fonts and widgets. So far, only Adwaita's icons are not scaled, the `-gtk-dpi` doesn't help here.

It also detect the selected font size and compute a font-scale factor, vs a 9pt font size. Both scal

[2018-12-26 11:36] mandree commented on #3636
@Floessie if VirtualBox doesn't cut the mustard for you, I'll just say that I'm also debugging with a ssh -X :-)

If the intention of the pixbuf-cache-revision branch was to fix the SIGABRT-on-exit, then we're not quite there:

[code]

And compilation with mutex tracing, without OpenMP, and with a try/catch block in gtkmm added wrapping line 160 yields this (this is only showing after I click the

[2018-12-26 15:31] RawConvert opened #5116 "Preview sometimes goes magenta at >=100% preview when using Ciecam02 and defringe"
Not really a great xmas present...!
With the linked CR2 and PP3, I find that as I zoom in, all is ok to 100%, but from 200% on, the preview gets a heavy magenta / lilac cast.  Have re-booted and also re-invoked RT but problem persists.  Switching off CIECAM or Defringe returns the preview to normal.

https://filebin.net/i8hj0y6dm0bknwbz

[2018-12-26 15:33] RawConvert commented on #5116
system details - RT Version: 5.5-12-g39d37a6   Branch: dev    Commit: 39d37a6   Commit date: 2018-12-17
Ubuntu

[2018-12-26 15:56] Desmis commented on #5075
@heckflosse
Ingo
I have test this branch, and
1) I have implemented this function in "locallab" (RL Deconvolution)
2) I think perhaps there is a dysfunction with "RL Deconvolution" in branch "blur-flat-regions"
* With "Unsharp mask" all works fine
* With "RL Deconvolution", the blurr is huge, too huge with the same settings as "Unsharp mask"
For example set "Contrat threshold" to 150, and "Blur ra

[2018-12-26 19:11] heckflosse commented on #5116
@RawConvert

Seems related to Defringe in combination with Ciecam02

Edit: this was not meant to repeat your finding (which was already very good). But I detected that using a different white balance also fixed the issue but I could rule this out, means it was definitely related to ciecam + defringe

[2018-12-26 19:59] Beep6581 commented on #5115
Hey @scx

Why would someone use this COPR repo instead of the official repo which already handles RawTherapee builds?
https://rawtherapee.com/downloads

How so, what are the steps?

[2018-12-26 20:10] Beep6581 commented on #5113
I have no personal interest in flatpaks and we already have a well performing AppImage which requires far less fiddling to run.

Duplicate of #4860

[2018-12-26 20:10] #5113 closed, assigned to nobody

[2018-12-26 20:12] #5116 closed, assigned to heckflosse

[2018-12-26 20:26] heckflosse commented on #5116
@RawConvert Thanks for reporting this bug and providing raw and pp3 to reproduce :+1:

[2018-12-26 20:28] RawConvert commented on #5116
you're welcome

[2018-12-26 21:09] heckflosse commented on #5116
@RawConvert

Getting presents from at least one year ago usually is not great ;-)
Though in this case it's ok, because it's a bug which imho was also already in 5.4 and maybe even before 5.4

[2018-12-26 21:55] Beep6581 opened #5117 "Update AppData file"
As requested in #5114
- Update `id`
- Add `launchable-type`
- Add `releases`
- Add `provides`

[2018-12-27 01:35] Hombre57 commented on #4094
@Pandagrapher @Desmis

Comme l'a indiqué @lrq3000 :

et envisagé par @Pandagrapher :

Pros: Especially to manage normal and exclusive control points in coherence with one tool, we won't need to verify we have the same parameters on this tool for both curves. But maybe this will require to update locallab engine

... la finalité sera de n'avoir qu'une seule fonction dans rtengine pour chaque outil

[2018-12-27 05:03] scx commented on #5113
@Beep6581

I have to disagree with you.
AppImage is not as trouble-free as you think:
https://github.com/flathub/flathub/pull/566#issuecomment-414643604

Because of this, you may occasionally encounter some problems like this:
https://github.com/Beep6581/RawTherapee/issues/4687

This is not the case with Flatpak.
What's more, Flathub provides free infrastructure for building packages for various a

[2018-12-27 05:03] scx commented on #5117
It would be nice if you could provide **OARS** rating:
https://github.com/flathub/flathub/wiki/AppData-Guidelines#oars-information
https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-content_rating
https://hughsie.github.io/oars

See also: **kudos**
https://github.com/flathub/flathub/wiki/AppData-Guidelines#kudos
https://gitlab.gnome.org/GNOME/gnome-software/blob/master/doc/

[2018-12-27 05:06] scx commented on #5115
@Beep6581

From what I see, for Linux you only provide AppImage packages. However, a lot of people prefer native packages/repositories (RPM/Yum, RPM/Zypper, DEB/Apt) instead of universal ones (Flatpak/Flathub, Snap/Snapcraft, AppImage/AppImageHub).
There are already native packages for [many distributions](https://pkgs.org/download/rawtherapee), but this is not the case with EL7 due to the require

[2018-12-27 07:47] gaaned92 commented on #5084
@heckflosse
I tested with PATH, RAWTHERAPEE-EXECUTABLE and automatic waywith installation. It seems OK.

So could you commit your patch for main.cc
Regarding file-rawtherapee.c, as it belongs now to GIMP, I will submit the suggested patch 2 posts above.
I think, either file-rawtherapee.c should be deleted from RT rep or copied back from GIMP

For those who want to use the RT plugin, file-rawtherap

[2018-12-27 07:49] scx commented on #5115
TL;DR

Although there are [semi-official repositories](http://download.opensuse.org/repositories/home:/rawtherapee/) for Fedora, this is not the case with EL7 due to the requirement of `libtiff` >= _4.0.4_.
I'm trying to fill this gap with my [COPR repository](https://copr.fedorainfracloud.org/coprs/scx/rawtherapee).

[2018-12-27 09:55] heckflosse commented on #5075
@Desmis Jacques, I can not reproduce

Left is Unsharp mask, right is RL Deconvolution
![grafik](https://user-images.githubusercontent.com/13733487/50475693-dfd50e00-09c5-11e9-86ae-44875a6726b3.png)

[2018-12-27 10:38] Desmis commented on #5075
@heckflosse
Hello Ingo

Merry Christmas and happy new year

For blur, try with "blue horse" ==> 2010_MONTR_033.NEF
In locallab, I have sligtly modified code, and now "RT Deconvolution" and "Unsharp mask" have the "same" response

jacques

[2018-12-27 10:48] heckflosse commented on #5084
@gaaned92 Done

[2018-12-27 11:50] heckflosse commented on #5075
@Desmis Jacques
Merry Christmas and happy new year :smile:

I tested using blur-flat-regions branch on blue_horse.nef
Still can not reproduce
Again left usm and right rl
![grafik](https://user-images.githubusercontent.com/13733487/50479241-d5bb0b80-09d5-11e9-8dec-9a5e66e80662.png)

[2018-12-27 12:02] Beep6581 commented on #5115
Thank you for your contribution. I have a few questions.

We do provide native packages through native repositories using OBS.

You're comparing instructions for self-compiling RawTherapee to instructions for downloading a pre-compiled RPM binary. Those are quite different things.

1. What makes them semi-official?
1. What could we or the maintainer do to make them fully official?

Agreed. I will

[2018-12-27 12:12] Beep6581 commented on #4094
I am very fond of the "Color toning - Regions" mask feature.

This is just wishful thinking, but the Inkscape "freehand lines" tool ![screenshot_20181227_131146](https://user-images.githubusercontent.com/5844619/50479861-fd5fa300-09d8-11e9-9d28-2a22c1f37742.png) can draw complicated shapes which, thanks to "smoothing", result in the use of just a few control points:
![screenshot_20181227_131130](h

[2018-12-27 12:32] Hombre57 commented on #4094
@Beep6581 That's basically what I had in mind :slightly_smiling_face:

[2018-12-27 14:27] scx commented on #5115
@Beep6581

From what I understand, you personally provide only the AppImage package, while others are responsible for other packages/repositories (e.g. Marcin Bajor for Debian packages, Dariusz Duma for Ubuntu packages, etc.).

You're right, but at the moment there are no RPM packages for EL7 (maybe except for the very outdated ones that stuck on version 4.2), so you have to build them on your own

[2018-12-27 14:42] Beep6581 commented on #5115
Those "other people" work closely with us and have our full blessing and support :)

I hope the latest release is available in all official distro repositories. It is up to our users to ensure that they file a request in their distro's issue tracker if the latest release is missing from their package manager. My interest goes as far as ensuring that there are clear, simple to follow and unambiguou

[2018-12-27 15:01] scx commented on #5115
Currently 3.22.30, but it may be rebased to >= 3.24.1 in the future.
https://git.centos.org/summary/rpms!gtk3.git

[2018-12-27 16:18] Desmis commented on #5075
@heckflosse
Ingo
I create a new clone, compile, and now all works fine !
I don't understand why ?
So, in conclusion no problems, Sorry !
Jacques

[2018-12-27 16:44] iliasg commented on #5107
@heckflosse
Ingo,
- At least at the Dpreview sample in the linked post I see that many (if not most) "dotty" pixels come from clipping at the BlackLevel .. while none of these appear as clipped in ACR's demosaic .. it would be a better compromise if we just count the clipped pixels as unreliable and only use a weighted average on them.

- For the calculation of green value on Red and Blue places .

[2018-12-27 17:12] Desmis commented on #4094
@Hombre57
Peut être est-il possible de modifier le code général pour pouvoir servir en local.
Quelquefois les modifications seront faibles dans d'autres cas non, par exemple denoise est très différent, ou Retinex est en mode Lab au lieu de RGB proche de demosaicing, l'échelle joue aussi...
Mais ce n'est pas rédhibitoire, cela peut être fait n'importe quand au fur et à mesure et cela ne doit pas êt

[2018-12-27 18:53] sguyader commented on #5107
Thanks for taking a look @iliasg

[2018-12-27 19:43] Hombre57 commented on #4094
@Desmis Ok, merci pour ces réponses.

Parce que les utilisateurs vont le demander (moi y compris) ; on peut espérer que les RT-Points soient très efficace, mais si on prend un cas concret : les RT-Points permettent-ils de sélectionner le ciel d'une photo de paysage qu'on voudrait sous-exposer, et si possible avec un effet dégradé et une détection de forme à ne pas toucher (arbres, bâtiments...) ?

[2018-12-27 20:08] Desmis commented on #4094
@Hombre57
Le système ne fonctionne pas comme cela...(tu raisonnes à la Photoshop... ce qui n'est pas une critique.. :)) le périmètre externe ne sert pas à délimiter quelque chose (on peut certes lui attribuer cette fonction, mais c'est aller à contre sens), mais à limiter dans l'absolu l'action. Au delà de cette limite il ne se passe rien. Entre les deux, le spot central qui est la "ref" (référenc

[2018-12-27 20:25] Desmis commented on #4094
@Hombre57
bien sûr je pourrais continuer longtemps....
Juste un dernier point. Lorsque malgré l'algorithme, il y a débordement  ou bavures, cela se produit lorsque le deltaE (ou sur des parties de code pas optimisées la variation de hue) est trop faible, dans ce cas il faut utiliser "excludind spot" qui va reconstituer les couleurs d'origine...Mais là encore, pas de calques, pas de masques.... Cer

[2018-12-27 22:22] heckflosse commented on #5107
@iliasg I will try that next days

[2018-12-27 23:43] Hombre57 commented on #4094
@Desmis

J'ai donc compris que le rectangle ou l'ellipse était une zone de recherche, mais ton algo va plus loin en déterminant une sélection automatique basée sur ce qu'il y a sous le cercle, un peu comme la fonction "baguette de sélection magique" de Gimp ou Photoshop (avec un algo différent derrière, on est d'accord). Du coup, au final, est-ce qu'on ne se retrouve pas avec un masque interne (qu

[2018-12-28 06:28] Desmis commented on #4094
@Hombre57
D'abord un oubli, la courbe autre que rectangle et ellipse doit avoir les caractéristiques suivantes
Si j'appelle H=Haut, B=Bas, G=Gauche, D=Droite la position du délimiteur et C=Centre le centre de la zone
On peut tracer 4 courbes différentes
Par exemple pour le coin supérieur droit qui correspond à un rectangle dont 2 côtés sont CH et CD
la courbe doit
1) passer par H et D
2) s'inscrir

[2018-12-28 06:43] Desmis commented on #4094
@Hombre57
Je ne sais pas si c'est un masque interne (je ne pense pas), car il n'y en a pas. Je vais essayer de réduire au maximum l'explication du traitement.
Il y a un document dans Rawpedia, mais pas à jour, néanmoins beaucoup de choses sont vraies
https://rawpedia.rawtherapee.com/Local_Lab_controls/fr
1) les 4 zones délimitées par HGBG sont indépendantes et correspondent chacune à un traitement

[2018-12-28 06:52] Desmis commented on #4094
@Hombre57
Pour ton image, j'ai fait comme je le sens...pour faire les réglages j'ai utilisé tes remarquables "lockable color picker"
1) ne pas toucher l'image originale
2) ajouter un spot sur la mer très large (elliptique ici, mais cela n'a pas d'importance)
3) agir sur "exposure" et "highlight compression"
4) pour l'arbre qui devient un peu trop lumineux,==> excluding spot en augmentant "scope" à

[2018-12-28 13:19] Beep6581 commented on #4094
I don't recall it ever being listed what local editing is supposed to achieve. Here are my needs regarding local treatment:
1. Healing/cloning, mostly used to remove dust, skin imperfections, etc.
1. Dodge and burn with a brush, mostly used to add depth to a scene, e.g. a portrait, a mushroom or a landscape. This sort of thing (the light-colored strokes indicate dodging, the dark strokes burning):

[2018-12-28 14:48] sguyader commented on #4094
I mostly agree with Morgan, though I think that:
1. Local CBDL would help for skin smoothing. Currently, global CBDL restrained to a range of skin hues affects all the similar colors, which often happen in the background or in the model's clothes or props. Acting locally helps a lot.
2. Local denoise helps in some cases when for exemple noise is more obvious in some areas. I had such a case with m

[2018-12-28 21:39] drenghel opened #5120 "Leave the old pic showing while computing the next one"
Hi,

first, thanks y'all for this awesome piece of software !
second, I couldn't find my request anywhere, because it's hard to describe.

When I'm working a set of pics, more specifically pics taken at the same spot with varying settings, I try to switch between them quickly, to pick the best of them, but as loading a pic is resource intensive and there is a lag time with no picture shown ("amaze

[2018-12-28 21:59] Beep6581 commented on #5120
@Andre-Rb
1. Please don't write everything in bold, that's like shouting. I edited your post to remove the bold.
2. > "but as loading a pic is resource intensive and there is a lag time with no picture shown"

    That is not the case. The next image replaces the current image instantly once the next image is done loading, and this is on a 0.9GHz laptop.

Which operating system are you using?
Are

[2018-12-28 22:15] drenghel commented on #5120
My bad about the bold thingy, I was trying to separate me blabbering & actual intel.

I just downloaded the latest (5.5) and you're very much right, it does work now !
I was using an older one 5.4, from the community repo of my Manjaro distro.

The package is not on the stable branch yet :( ...

So I guess the case is close :)
Thanks for your time.

[2018-12-28 22:15] #5120 closed, assigned to nobody

[2018-12-29 17:54] heckflosse commented on #5107
@iliasg @sguyader Here's a first screenshot using the fast interpolation suggested by Ilias

Left is old fast xtrans, right is new
![grafik](https://user-images.githubusercontent.com/13733487/50540907-14e68980-0b9b-11e9-9bd6-9c75dade1b21.png)

[2018-12-29 17:59] heckflosse commented on #5107
And here's the patch:

[code]

[2018-12-29 20:08] falket commented on #5107
The new one seems better to me, with less artifacts.

I see "strange" pixels almost only where there are chromatic aberrations, but maybe after a lensfun correction situation will be even better? Unfortunatly i can't compile on my pc and afaik there isn't yet an appimage of this version.

[2018-12-29 20:54] RawConvert opened #5121 "Odd behaviour with Profiled Lens Correction and Vignetting Correction"
There seems to be an anomaly connected to opening a raw for the first time.
1. Open first time (never been opened before).  Set some Vig. amount if zero.  Select Automatic for P.L.C. See in the history it says Vignetting disabled (but it has left the Amount unchanged)

2. Now repeat with same Raw...  First set LCP to None and exit preview to RT browser.  Re-select raw and select Auto PLC.  This ti

[2018-12-29 22:15] gaaned92 commented on #5084
@heckflosse
 Thank you

Ticket opened on gitlab/gimp

https://gitlab.gnome.org/GNOME/gimp/issues/2716

[2018-12-29 22:47] Beep6581 commented on #5121
@RawConvert please provide the necessary raw file(s), PP3, screenshots, version info, and clearly described steps to reproduce (I am unable to follow your steps):
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2018-12-30 11:10] mandree commented on #3636
I made an experiment and inserted `std::quick_exit(ret);` at the very end of main.cc's `main()`, which seems to fix the crash because it waives the destruction of `MyExpander::closedPBuf` (among others).
How dangerous would it be to forgo the regular destruction, in order to ultimately let the kernel do more of the cleanups? Yes it's leaky, but this is Unix...
Is there anything important/precious

[2018-12-30 11:28] iliasg commented on #5107
@heckflosse

Ingo, by "old fast" do you mean the first of your patches (without weights) ?.

The new, looks better .. less blury and with better color definition (well this was a surprise ;) )
Some "dots" are better defined and although this makes them more intrusive, I think this also makes the denoise easier ..

Where can we find the raw samples you use ?
Usefull would be to use samples of resol

[2018-12-30 11:56] heckflosse commented on #5107
@iliasg No, old means the one in dev (without weights)
For the last screenshot I used the raf from [here](https://discuss.pixls.us/t/playraw-eating-cicchetti-with-ghosts-in-venezia/5805)

I don't intend to make the fast xtrans demosaic a good xtrans demosaic. It will stay lousy at high contrast.
Imho the main usecase for fast xtrans demosaic is for flat regions in dual demosaic...

[2018-12-30 14:06] heckflosse opened #5122 "Wrong Icon for Editor Window in MEOW mode"
![grafik](https://user-images.githubusercontent.com/13733487/50547945-7b73b200-0c44-11e9-9dc1-6dd35d362385.png)

[2018-12-30 14:26] sandros94 opened #5123 "Dehaze and Channel Mixer output only on Luma channel"
Hi, dehaze and channel mixer are great tools, both produce stunning resaults, but most of the times to me it would be perfect to use them only on the luma channel, to recover some details.

Ex n.1: I have a nice sunset with nice and balanced colours but a really small haze, sure I can just a contrast adjustment to fix that, but if the only tool I had the possibility to use was the dehaze tool all

[2018-12-30 15:32] iliasg commented on #5107
@heckflosse Ingo .. thanks for declaring the intended use for fast .. I thing I (and not only I) had misunderstood it ;)

Now that I understand better ..

You want the fast demosaic for rendering smooth flat areas .. but not only this .. you also use it for the detection of flat areas .. correct ?.

So .. an unconditional 3X3 blur (like in your first patch)
- is helpfull for smoothing
- is damagin

[2018-12-30 16:34] heckflosse commented on #5107
@iliasg

Correct.

All this is correct as well, but the original fast xtrans demosaic (in dev) also had no weights because at the time I wrote it the intention was to have a fast xtrans demosaic for preview zoom ratios <= 50%, where quality was not really important.
Now, as we use it in dual demosaic, quality became more important, but only for flat regions.

Imho the last patch (with the weights

[2018-12-30 16:55] heckflosse commented on #5123
@Sandros94

Can you elaborate on how to use the channel mixer only on the luma channel?

[2018-12-30 17:43] RawConvert commented on #5121
Ok well I thought it was not too bad to follow.  Anyway, trying again today I'm struggling to reproduce it.  After some experimenting, I've found another way to reproduce the same issues.
1. Open a raw where the camera and lens are known to RT i.e. "camera" and "lens" will both get populated when you select Auto for PLC.  (Not sure this is essential but that's what I've been working with)
2. Selec

[2018-12-30 18:13] RawConvert opened #5124 "Processing profile button - rawpedia documentation issue"
Re. this section -  "Partial Processing Profiles and Fill Modes

Processing profiles can be copied, pasted, loaded, saved and applied in full or partially. Clicking the buttons in the Processing Profile Selector handles them in full, while ctrl+clicking those buttons handles them partially - a windows pops up letting you choose which parameters to include."

A window doesn't pop up on a ctrl-click

[2018-12-30 18:19] RawConvert commented on #5121
Ok from rawpedia looks like the cache is not used if you select "save profile next to input" in Prefs.  Is that true as far as you know pls?

[2018-12-30 18:37] iliasg commented on #5107
@heckflosse OK fine .. I trust Seb's tests more than mine ;)

Ingo, as I was absent from recent RT developments I missed the work you've made with dual demosaics :( .. I'd like to understand what you did and discuss some ideas .. should I open a new issue, reopen the old .. something else ??

[2018-12-30 18:49] heckflosse commented on #5107
@iliasg Ilias, for new ideas about dual demsoaic please open a new issue

[2018-12-30 19:52] Beep6581 commented on #5123
And this part:

[2018-12-30 20:07] sguyader commented on #5107
@heckflosse Info I'll test your patch tomorrow

[2018-12-30 20:16] afr-e commented on #5123
I think he wants to use the tool to modify only the luma/luminosity/lightness[1] of the image with the idea that it would recover some of the detail but not affect the colours.

[1] He used all of these terms in _discuss_. We need to get the terms straight. 😅

[2018-12-30 21:17] PhilBaz opened #5125 "Select + bring into view image passed as argument to RT executable"
@Please make active image highlighted and focused in the film strip on right click open…

This is currently missing so you have to go searching through.

Also, is EXIF data overlay in film strip now gone? could have sworn it was there previously. Would be nice to have it.

[2018-12-30 21:24] Beep6581 commented on #5125
It is.

Though that has nothing to do with this issue, see http://rawpedia.rawtherapee.com/Keyboard_Shortcuts
"Toggle thumbnail information"

[2018-12-30 21:28] PhilBaz commented on #5125
Sorry, but when i right-click a raw file and choose open with RT the filmstrip at the top of the editor is not focused on the selected image.

It starts at the beginning of the set. Windows 10.

[2018-12-30 21:31] PhilBaz commented on #5125
It also is not focused in the file browser...

Sorry, I see how to show labels in the film strip now.

[2018-12-30 22:54] Beep6581 commented on #5125
@PhilBaz your initial post did not explain where you right-clicked from, which OS you use, etc. See http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

I confirm that when a file is passed as an argument to the RawTherapee executable and the Filmstrip is visible, then the loaded image is neither selected nor in view.

@PhilBaz as a workaround, you can hit the "x" keyboard shortcut to

[2018-12-30 22:57] sandros94 commented on #5123
Yes sorry, maybe I don't know terminology quite right, or at least only for as a video coloris.
@heckflosse @Beep6581 @afr-e

Atm the channel mixer takes in input the RGB channels separately and outputs them again in each one, this feature would output in the L channel of Lab instead of each one of RGB.

"adding some G to other channels" is just a cheap way to say increasing the Green slider of th

[2018-12-31 01:16] CharlesRT2 opened #5126 "Derive correct ColorMatrix by checking CalibrationIlluminant"
In reply to a query about why RT's camera white balance (and often the auto white balance, too) is wildly high for some cameras, ilias_giarimis diagnosed the problem:

Usually RT shows abnormal WB values for raws of non fully supported cameras (missing colormatrix data) or cameras with different than the expected colormatrix2 at D65 illumination in DNG exif. This last is what happens with this DNG

[2018-12-31 02:08] PhilBaz commented on #5125
Okay, thanks. Using x definitely works. Fantastic. From a user perspective, it would be great if this was the default behavior.

Sorry for this whole thing being a pain in the ass. Thank you very much for all your efforts with RT. It is truly a fantastic tool.

[2018-12-31 03:37] sguyader commented on #5107
@heckflosse I must be doing something wrong, I applied the patch with success, but I fail to see any difference between dev and patched on my images (I tried different kinds of images, low or high iso).

[2018-12-31 03:37] sguyader commented on #5107
@heckflosse I must be doing something wrong, I applied the patch with success, but I fail to see any difference between dev and patched on my images (I tried different kinds of images, low or high iso).

[2018-12-31 10:49] heckflosse commented on #5107
@sguyader I get the differences only when using plain fast demosaic. When using 3-pass + fast they are not visible by eyeball because their visibility is mainly in contrasty regions which are taken from 3-pass.
However, the weighting Ilias suggested is definitely more correct than the old fast xtrans in dev.

[2018-12-31 13:33] sguyader commented on #5107
Ok, indeed I was using 3-pass + fast, now with plain fast I see that the new weighting scheme is better. +1 for pushing it to dev.

[2018-12-31 13:36] Beep6581 commented on #5125
@PhilBaz not need to be sorry, your report was correct, and we are looking into it.

[2018-12-31 14:37] TooWaBoo commented on #5121
@RawConvert
What's "PLC"?

[2018-12-31 14:39] Thanatomanic commented on #5121
I think it's an uncommon abbreviation of Profiled Lens Correction

[2018-12-31 14:47] Thanatomanic commented on #5121
@RawConvert For me this step is confusing and not reproducible. What do you see in your history after you have selected Auto the first time? I see this:
![image](https://user-images.githubusercontent.com/6567747/50562314-471af700-0d13-11e9-956b-90f6323c1e82.png)

I see very little reason why setting PLC to Auto would reset your manual vignetting setting actually..

[2018-12-31 14:56] TooWaBoo commented on #5121
@RawConvert

![grafik](https://user-images.githubusercontent.com/13800920/50562420-0b346180-0d14-11e9-9e69-bece9712e826.png)
The history only shows (Neutral)+ if `Processing profile fill mode` button is pressed.

I do get the same result like @Thanatomanic.

[2018-12-31 15:29] Thanatomanic opened #5128 "Interface trouble when using pen input"
Right from the bat, this may be a problem upstream in GTK or something. I am not sure however.
I recently got a Wacom drawing tablet, that I use concurrently with my mouse. Both are plugged in at the same time and I have no issues for all programs I use regularly, except RT.

When I use my pen in mouse-mode, there is a discrepancy between where my cursor is shown and what is actually registered as

[2018-12-31 15:45] Beep6581 commented on #5126
@CharlesRT2 upload as many problematic files as you can find, use https://filebin.net/

[2018-12-31 15:46] #5125 closed, assigned to nobody

[2018-12-31 15:47] Beep6581 commented on #5125
Fix committed, tested without side-effects in all tab modes (SETM/METM/etc) with existing and non-existing photos.

[2018-12-31 16:50] RawConvert commented on #5121
Thanks re. neutral plus.
Here's a screen shot where I've set neutral, added some vig., then set auto P.L.C.  You can see the vig. disabled text.  The "disabled" and "automatically" both appear when auto PLC is clicked. I agree there should be very little reason for this, but it is happening!
![vig1](https://user-images.githubusercontent.com/16868433/50564205-0921d100-0d1b-11e9-95f4-317b31c8fbc1.pn

[2018-12-31 17:52] Thanatomanic commented on #5121
I see what you mean here and this does not disregard your bugreport, but I think you need to update your lensfun database. On my system your camera+lens combination has vignetting support in lensfun. In yours it does not (because the toggle gets disabled in auto mode).

[2018-12-31 17:53] heckflosse commented on #5121
Your lens correction profile does not support vignetting correction. That's why it's disabled. It also does not support CA correction, but as CA correction is not enabled, it does not have to be disabled.

All fine here

[2018-12-31 17:53] heckflosse commented on #5121
@Thanatomanic was faster :)

[2018-12-31 17:53] TooWaBoo commented on #5121
@RawConvert
I could reproduce it.
Your Lens Profile has no vignetting information. If you set profile `Neutral` Lensfun vignetting is active. When you click on `Auto`, Lensfun vignetting will be set to disabled 'cause of your profile and this triggers the history message. It has nothing to do with the `Vignetting Correction` tool.

EDIT: @heckflosse: Not only @Thanatomanic :-)

[2018-12-31 18:07] heckflosse commented on #5121
Well, ticket opened 2 days ago at a saturday between xmas and newyear. 3 contributors took care of the issue and it's solved (explained) now (I think). I would call this good support, not random strange things ;-)

Ok to close?

[2019-01-01 01:03] heckflosse commented on #5125
@Beep6581 Fix confirmed :+1:

[2019-01-01 01:26] heckflosse commented on #5107
Ok to close?

[2019-01-01 06:59] sguyader commented on #5107
Ok for me.

[2019-01-01 12:05] iliasg commented on #5107
OK for me too ..

@heckflosse Ingo,
I'd just like to know how this change affects the use of fast demosaic for the detection of flat areas .. is it any better now ?

[2019-01-01 13:31] RawConvert commented on #5121
It's very good support, like when you quickly fixed the magenta issue the other day!

Before closing, a few thoughts... I know little about lensfun and thought I didn't even have it.  I've never done anything myself to install it.  When I compile, I get a error/warning message usually, here's we are from when I built 5.5 rc1 (don't always log this stuff...) -

...
-- Performing Test _fftw3f_multit

[2019-01-01 13:35] heckflosse commented on #5124
I agree, that a screenshot in rawpedia showing the 4 buttons would be helpful
![grafik](https://user-images.githubusercontent.com/13733487/50573344-75134080-0dd2-11e9-9137-e84cef82cd0c.png)

[2019-01-01 16:14] heckflosse opened #5129 "Change microcontrast uniformity adjuster range"
Currently the range of microcontrast uniformity adjuster is [0;100].
In microcontrast code the adjuster value is then [divided by 10 and assigned to an int](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/ipsharpen.cc#L646), means there are only 11 distinct values [0;10] though in ui 101 distinct values can be set.
This does not make sense.
PR to change the adjuster range to [0;10] follo

[2019-01-01 17:52] RawConvert commented on #5124
Yes, making clear ctrl+click applies to the two rightmost.
I thought it was talking all about the leftmost button that is on its own.  Here rawpedia could include the words pressed and released like in the tool tip, together with updated icons (the bit below the part I quoted).

[2019-01-01 18:02] heckflosse commented on #5124
@RawConvert

To the 4 rightmost

[2019-01-01 18:22] RawConvert commented on #5124
Erm..!  well I'm finding ctrl has no effect on Load And Save (the left 2 of the 4) - ctrl+click and click both give the dialogue window to choose the file.  Whereas ctrl+click on the right 2 really does give a window for selecting the settings to copy or paste.

[2019-01-01 18:24] RawConvert commented on #5124
Ah, just went one step further and chose a file, now getting the selection window! ok!!

[2019-01-01 22:47] heckflosse commented on #5107
@iliasg The detection of flat regions for dual demosaic uses the more detailed demosaicer (3-pass/1-pass for xtrans amaze/dcb/rcd for bayer). So no changes here.

[2019-01-01 23:34] #5107 closed, assigned to heckflosse

[2019-01-02 12:11] Beep6581 opened #5132 "Review Lens/Geometry and Chromatic Aberration tool names and history entries"
The Lens/Geometry and Chromatic Aberration tool names and history entries need a review to ensure that things are clear and consistent.

[2019-01-02 12:11] Beep6581 commented on #5121
Those are two completely different tools, and even if they weren't, turning a tool off does not reset its values, so either way all is good.

It was disabled once because it's not available in that lensfun profile, as explained by others above. Since it was already disabled once, there is no history entry because nothing has changed.

You can help improve your camera+lens lensfun profile:
https://

[2019-01-02 12:11] #5121 closed, assigned to nobody

[2019-01-02 12:14] Beep6581 commented on #5121
http://rawpedia.rawtherapee.com/Lens/Geometry#Profiled_Lens_Correction

[2019-01-02 12:51] RawConvert commented on #5121
@Beep6581 , thanks for explaining optical correction vs. DCP/colour.

Re. your comment "turning a tool off does not reset its values", note that there is no on/off button for vig, surely the only way to turn it off is to put Amount back to zero.  Which is why I thought the history message was so misleading before lensfun came into the picture.

[2019-01-02 13:59] iliasg commented on #5123
The main (and difficult .. ;)) task of DeHaze tools is (should be) to also recover chromaticity .. because haze except from dumpening contrast dumpens color information. Recovering contrast is secondary because there are other tools  which are effective on simply recovering contrast..
I personally like Contrast by detail tool .. increasing the low sliders .. and tuning protection or overaction on

[2019-01-02 19:18] CharlesRT2 commented on #5126
I checked several Sony camera .arw files and no problem. I saw a very high Kelvin temperature on one of these several years ago. Maybe it was an earlier version of RT that showed me a problem.

I already posted a Leica SL example at
https://pixls-discuss.s3.dualstack.us-east-1.amazonaws.com/original/3X/d/e/deece1794e20091f4e8ec518be48267af6957e94.DNG

I found that not all Leica camera models have

[2019-01-03 09:20] Pandagrapher commented on #4094
@Desmis
Have you done working on locallab.cc ? If yes, I gonna start merging my work with branch newlocallab (my merge will also have impacts on improccoordinator.cc due to ProcParams locallab structure changes)

Ping @Hombre57

[2019-01-03 11:35] Desmis commented on #4094
@Pandagrapher
I am working on locallab.cc and iplocallab.cc, but no problem you can merge your work

And happy new year :)
Jacques

[2019-01-03 11:58] Hombre57 commented on #4094
@Pandagrapher Nothing started yet, so go ahead.

[2019-01-03 17:48] Hombre57 commented on #3547
@Beep6581 @regs01 @TooWaBoo @Jacob-Bishop @hyphone @pkolaczk

The `hidpi-icons` branch should be complete now. I'm waiting for testers that actually own a Hi-DPI monitor, or set a `GDK_SCALE=2` environment variable to simulate Hi-DPI monitors. Please use the TooWaBoo's theme, since RawTherapee's theme as to be updated (doing that now).

Tested on Low-DPI monitor / Win7. Looking for MacOS (ping @Be

[2019-01-03 20:03] Pandagrapher commented on #4094
@Desmis @Hombre57 Ok I start the merge

Happy new year :)
Pierre

[2019-01-03 21:24] Hombre57 commented on #3547
Ah, I just forgot the Histogram and some other widgets. Anyway, I'm still listening to you, if the curves and threshold selector works, the yet to update widgets will work too.

[2019-01-04 11:44] gaaned92 commented on #3547
Tested on W10, GTK 3.24.2, GTKMM 3.24.0, GDK_SCALE=2, ToWaBoo theme, Low-DPI monitor

Font size=12

![rt-browser-12](https://user-images.githubusercontent.com/13785581/50686213-a4b58900-101c-11e9-959b-e1a6dc024607.jpg)

![rt-edit-12](https://user-images.githubusercontent.com/13785581/50686147-733cbd80-101c-11e9-8084-1b96df2e25ef.jpg)

Font size=6
![rt-browser-6](https://user-images.githubuserconte

[2019-01-04 13:10] TooWaBoo commented on #3547
@gaaned92
Your GDK_SCALE=2 test didn't work. Add the var to the windows environment variables.
![grafik](https://user-images.githubusercontent.com/13800920/50689497-3ecffe00-102a-11e9-9e64-336dc8426ad2.png)

[2019-01-04 13:24] gaaned92 commented on #3547
@TooWaBoo
exactly what I did. What else I have to define?

![env](https://user-images.githubusercontent.com/13785581/50689958-f87b9e80-102b-11e9-9de0-1a3469974c4b.jpg)

[2019-01-04 13:41] TooWaBoo commented on #3547
@Hombre57
❌ Setting System DPI to 192dpi (200%) results in blurry thumbnails, image and icons.
--> GDK_SCALE has to be forced always to "1" to get sharp thumbnails and images on windows.

✔ Outdated cached icons are deleted on exit

[2019-01-04 14:15] TooWaBoo commented on #3547
@gaaned92
For GDK_SCALE = 2 and Font size = 12 the buttons are to small in your screenshoots.
![grafik](https://user-images.githubusercontent.com/13800920/50692162-3fb95d80-1033-11e9-9e27-9f93f5ff4297.png)

--------------------------------------------------------------------------------------------------------
@Hombre57
System DPI = 96, GDK_SCALE = 2, Font size = 9
![gdk](https://user-images.githu

[2019-01-04 14:19] Hombre57 commented on #3547
@TooWaBoo [That's what I do](https://github.com/Beep6581/RawTherapee/blob/92ed81a1fe16bb1496fbda984a42114c2eec59fd/rtgui/main.cc#L511) and it works fine here. What's your system / version ?

[2019-01-04 14:20] Hombre57 commented on #3547
@TooWaBoo Ok, didn't handled the case where GDK_SCALE is unset, I thought that Gtk would provide one. I'll commit a patch today.

[2019-01-04 14:50] TooWaBoo commented on #3547
@Hombre57
I would change it to this.
[code]
There is no need to check GDK_SCALE first.

[2019-01-04 15:17] gaaned92 commented on #3547
@TooWaBoo I am sorry but I think you are wrong. You see the complete window 1280x1024

[2019-01-04 15:22] TooWaBoo commented on #3547
@gaaned92
Your scaling of the buttons is only the higher font size but not the GDK_SCALE=2 setting.

[2019-01-04 15:27] Hombre57 commented on #3547
@gaaned92 @TooWaBoo seem to be right. On such a low resolution, Hi-DPI would be enormous even at 9pt. Either the **GDK**_SCALE didn't worked, or you have to add **GTK**_CSD=1, as he explained (didn't tried myself, on Win7, GDK_SCALE is sufficient).

[2019-01-04 15:31] Hombre57 commented on #3547
@TooWaBoo I need to check GDK_SCALE for coding this feature, I can't code with Windows @ 200% on a FullHD monitor :slightly_smiling_face: , or you have a better solution ?

[2019-01-04 15:32] TooWaBoo commented on #3547
GTK_CSD=1 isn't necessary.
@gaaned92
Did you run RT from CMD or by double click?

[2019-01-04 15:38] gaaned92 commented on #3547
@Hombre57  @TooWaBoo
double click. On Windows you seldom run a program from CMD.
GTK_CSD=1 does nothing

[2019-01-04 15:40] TooWaBoo commented on #3547
No, I don't. 😁

[2019-01-04 15:42] gaaned92 commented on #3547
With the dev branch,  icones become enormous with GDK_SCALE=2. I can see on my display only a part of RT window.

[2019-01-04 15:43] TooWaBoo commented on #3547
This is how it has to look like.

[2019-01-04 15:47] gaaned92 commented on #3547
But it is not that  on [`Hidpi-icons` ](https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_hidpi-icons_5.5-79-g92ed81a1f_WinVista_64_190103-2008.zip) branch!

[2019-01-04 16:01] TooWaBoo commented on #3547
I've no idea.

[2019-01-04 16:28] gaaned92 commented on #3547
With GDK_SCALE=2

- if I start double clicking, the window gets a windows decoration and you have what I posted above: RT window is entirely inside the display.
- if I start from a desktop short cut, it doesn't seem to get a windows decoration and RT window is larger than display (this is how it has to look like)

The two branches behaves the same.

[2019-01-04 16:51] Hombre57 commented on #3547
@gaaned92 I have a Win10 PC nearby, I'll test myself.

[2019-01-04 19:03] JIPG2 opened #5133 "Gridlines in histogram"
Hi, I am new to raw therapee (I have just installed version 5.5), and I am enjoying it a lot.
I have read in related issues that you have just changed the histogram view in 5.5, and new features seems nice. Nevertheless, for me (and maybe others that use other programs as Canon DPP or darktable), the previous view in 5.4 seems to be more "familiar", with the grid dividing in four equal parts the h

[2019-01-04 19:36] Benitoite commented on #3547
@Hombre57 I will test this on mac with non-hidpi screen and GDK_SCALE=2 on your branch.  Just have to take care of the dependency on Rust with librsvg first.

[2019-01-04 22:54] Hombre57 commented on #3547
@Benitoite @gaaned92 @TooWaBoo The latest commit ensure that it works fine when setting resolution to 200% in Windows7 without setting any GDK_SCALE. It has also been (roughly) tested successfully on Win10.

@gaaned92 When setting the GDK_SCALE environment variable, don't forget to close that window so it takes effect (just in case...)

[2019-01-05 03:03] Benitoite commented on #3547
@Hombre57
Test of GDK_SCALE=2 on the `hidpi-icons` branch (On macOS the variable is `export`'ed in the exec loader script)
![screen shot 2019-01-04 at 6 54 12 pm](https://user-images.githubusercontent.com/17919239/50719583-350ec080-1053-11e9-9172-1ed0fe951a0d.png)

![screen shot 2019-01-04 at 6 54 47 pm](https://user-images.githubusercontent.com/17919239/50719553-908c7e80-1052-11e9-8f93-e7b48d5a0a

[2019-01-05 08:41] TooWaBoo commented on #3547
@Benitoite
The scaling of the buttons is correct but the icons are too small. I guess this is an issue with the font size or the base DPI which is 72dpi as far as I know on MacOS.
Please, provide your System DPI and RT font size.
@Hombre57
It looks like the calculation of the icon size has to be handled different for MacOS.

[2019-01-05 10:55] Benitoite commented on #3547
@TooWaBoo TooWaBlue Dark theme on Native resolution (1080p) with font Monaco Regular 9.
DPI has no adjustment in macOS, so it is what it is (72p = 1” in GIMP @ 100%)

[2019-01-05 11:33] TooWaBoo commented on #3547
@Hombre57
What do think about this solution only for the stock icons? I'm doing a css scaling in rtwindow.cc.
Branch `hidpi-icons-plus` in my fork.
A compiled Windows version can be downloaded from here: https://filebin.net/ry0ghkbl3o42w0r9
Cache folder name: `RawTherapee-hidpi-icons-plus`

![1](https://user-images.githubusercontent.com/13800920/50723691-4bfbf400-10e1-11e9-9541-1b7eb28cf69f.png) !

[2019-01-05 11:36] TooWaBoo commented on #3547
@Benitoite
Thanks
@Hombre57
For MacOS the Base DPI has to be changed from 96dpi to 72dpi in the formular.
Scaling at 200% on Windows works fine now.

[2019-01-05 11:38] Beep6581 opened #5134 "Move localization instructions to RawPedia"
Move localization instructions to RawPedia from https://discuss.pixls.us/t/localization-how-to-translate-rawtherapee-and-rawpedia/2594

[2019-01-05 11:40] Desmis commented on #4094
@Pandagrapher
J'ai compilé la version courante de ton développement  (avant merge)
Tu dois avoir du boulot avec le merge !!! Si je peux t'apporter une aide ?

C'est remarquable, les bugs précédents (peut être à confirmer) sont supprimés, les fonctions "show/hide" et "duplicate" fonctionnent très bien, etc.

En cours : J'ai fait des modifications - pour l'essentiel sur iplocallab.cc - mais aussi év

[2019-01-05 13:54] Pandagrapher commented on #4094
@Desmis
Salut Jacques,

Effectivement mais, après 4h dessus hier, j'ai presque fini : il me reste locallab.cc à terminer et à traiter les conflits dans iplocallab.cc. Donc ça devrait aller pour terminer. J'aurai par contre besoin de ton aide pour tester le merge final :)

remplacé par
params->locallab.spots.at(sp).shardamping,

Oui, c'est cela

L'intérêt d'avoir travaillé en priorité sur le batch

[2019-01-05 14:35] Desmis commented on #4094
@Pandagrapher
Salut Pierre

Pas de problèmes pour tester :)
Je pense que je ferais les modifications dans ta "branche",  cela évitera les futures mises à jour de locallab.cc iplocallab.cc procparams.cc paramsedited.cc

Simplement à titre de rappel pour moi il suffit - si tu peux me confirmer - lorsque je suis dans
https://github.com/Pandagrapher/RawTherapee
de faire après :
git commit -m "blabla"

[2019-01-05 14:49] Desmis commented on #4094
@Pandagrapher

Merci,
Je viens d'accepter ton invitation, et cela me dit
_You now have push access to the Pandagrapher/RawTherapee repository._

Donc, si j'entre mon identifiant et mot de passe pour Beep6581 cela devrait marcher je pense ?

jacques

[2019-01-05 14:52] Pandagrapher commented on #4094
@Desmis

Je pense aussi (je n'ai jamais fait)

Pierre

[2019-01-05 15:01] Desmis commented on #4094
@Pandagrapher
On verra bien...mais il me faudra presque 1 journée pour faire mes modifications.
Jacques

[2019-01-05 15:12] Hombre57 commented on #3547
@TooWaBoo Does it mean that Hi-DPI on Mac start at 144dpi ?

I'll test your branch this evening, but it looks to be an acceptable workaround for me, by looking at the result.

@Benitoite At least it looks to work fine with the actual formula :slightly_smiling_face:

Still, I wouldn't mind some test from real Hi-DPI users.

[2019-01-05 16:41] Pandagrapher commented on #4094
@Desmis
J'ai terminé le merge. Quand je lance RT, j'obtiens deux erreurs du type `Gtk-CRITICAL **: 17:36:26.870: gtk_box_pack: assertion '_gtk_widget_get_parent (child) == NULL' failed` : les as-tu aussi dans la branche newlocallab ?

Pierre

[2019-01-05 16:47] Desmis commented on #4094
@Pandagrapher
j'ai exactement le même message dans Beep6581
jacques

[2019-01-05 16:51] Desmis commented on #4094
@Pandagrapher
Par contre je n'ai pas ce message avec d'autres branches que "newlocallab" (dev, cat02wb,...)
Donc il est lié probablement au GUI de newlocallab....

[2019-01-05 17:06] Pandagrapher commented on #4094
@Desmis
Ok : je ne les avais pas avant le merge donc ce n'est pas lié à mon merge. Je vais donc remonter le merge dans mon fork. Par ailleurs, j'ai trouvé un autre bug où des spots "fantômes" peuvent subsister sur le GUI. Je vais m'atteler à corriger ces deux bugs avant de faire ma pull request vers la branche

Pierre

[2019-01-05 17:28] Desmis commented on #4094
@Pandagrapher
Il y a aussi un autre bug qui était déjà présent avant. Lorsque tu cliques droit avec la souris, l'affichage de la zone disparaît...Il "suffit" de toucher une commande autre que dans locallab et réactiver "la main" et tout réapparaît

jacques

[2019-01-05 17:33] justdanyul commented on #3547
I'm on an LG-34WK95U running @ 5120x2160 under Linux + i3wm, so I suppose I fall into the real HiDPI user demographic.

launching with GDK_SCALE=2 set, gives me fairly decent results. However, it seems as it might be colliding a bit with other HiDPI settings, such as my DPI settings in xresources, as the fonts goes absolutely huge. Setting a font size of 4, from within RT, makes for a fairly decen

[2019-01-05 17:47] Benitoite commented on #3547
@justdanyul is that testing the `hidpi-icons` branch, and if so can you make a screenshot or two?

[2019-01-05 17:51] justdanyul opened #5135 "RT 5.5 loosing all history entries between application restarts"
RT Version 5.5
OS: Arch Linux
WM: i3wm

My issue is, when I open RT and make some edits to a photograph, each step shows up as expected in the History. However, after closing RT, and revisiting the same photograph, all the steps in the history is lost.

The pp3 sidecar file still exists, and the steps are certainly being applied to the image, however, I lose the stepwise history which doesn't allo

[2019-01-05 18:03] Thanatomanic commented on #5135
Simple answer: this is by design.

@Beep6581 I cannot find an issue that actually describes this feature request. I'm sure it is there...

[2019-01-05 18:23] Desmis commented on #4094
@Pandagrapher
Je viens de "pull" ta branche.
La compilation se déroule sans problèmes.
A l'exécution on a le message "critical", mais comme avant.
Cela a l'air de fonctionner correctement, - examen rapide.

Demain
1) je vérifie que tout fonctionne
2) je fais mes modifications que je pense assez importantes....j'espère avoir fini demain soir.. car c'est dimanche (bon pas de problèmes d'emploi du te

[2019-01-05 18:24] Desmis commented on #4094
@Pandagrapher
et bien sûr avant de commit et push, je t'avise :)

[2019-01-05 18:24] Hombre57 commented on #3547
@justdanyul Thanks for the report, but please try without using GDK_SCALE at all, this is used to simulate Hi-DPI on low dpi systems. Could you also start RT from a shell and report back the debug messages ?

[2019-01-05 20:01] justdanyul commented on #3547
@Benitoite I don't believe so, this is just using the standard build available in Arch Linux

@Hombre57 running RT from a terminal without using GDK_SCALE yields small icons, and no error messages in the terminal window.

![1546718169](https://user-images.githubusercontent.com/13814798/50728618-b2eecc80-1124-11e9-9784-caa9ebb000e3.png)

[2019-01-05 20:04] TooWaBoo commented on #3547
@justdanyul
You must use a TooWa... theme

[2019-01-05 20:04] Benitoite commented on #3547
Aha, if you are able @justdanyul, please compile the `hidpi-icons` branch to test.

[2019-01-05 20:13] Hombre57 commented on #3547
@justdanyul ... and set back a font size of 9-11pt.

[2019-01-05 20:41] Benitoite commented on #3547
Let's see if any _Retina_ folks can get a screenshot up...
https://discuss.pixls.us/t/help-test-rawtherapee-on-retina-4k-etc-hidpi-monitors/10705

[2019-01-05 20:43] justdanyul commented on #3547
I build out the hidpi-icons branch, switcthed to a TooWa theme and reset the font size, I've attached a screenshot of my results (note, this tile represents 50% of my screen)

![1546720855](https://user-images.githubusercontent.com/13814798/50728999-55f61500-112a-11e9-8bf3-19f7190c8198.png)

The output from the terminal when running RT was

[code]
looks fine now. I'm going to un-install now though

[2019-01-05 21:04] Hombre57 commented on #3547
@justdanyul It is helpful, thanks for your feedback.

[2019-01-05 23:29] Beep6581 commented on #5135
@Thanatomanic e.g. #2477 which was handled by #463

[2019-01-05 23:29] #5135 closed, assigned to nobody

[2019-01-06 01:28] Hombre57 commented on #4959
@Beep6581 (ping @Demis for control)

I'd add :

"Please refer to available literature about color-space and ICC profiles.

**Append gamma and slope values to the description**

Check this button to append a "gamma=xxx slope=yyy" to the Copyright (see below).

This is a hack, as a workaround, to have a proper color gradation when the profile is saved to ICC V2 format and then used in RawTherapee (i

[2019-01-06 13:02] Desmis commented on #4094
@Pandagrapher
Je vais essayer de "commit" et "push" dans moins de 1 heure :)

Si je n'y arrive pas je t'adresse un patch

jacques

[2019-01-06 13:28] Desmis commented on #4094
@Pandagrapher
Finalement j'ai poussé rapidement et cela a l'air de bien fonctionner

jacques

[2019-01-06 13:32] Beep6581 commented on #4959
@Hombre57 could you refresh my memory, why was the hack needed - what's wrong with using the curve instead of the matrix in ICC v2? Was that the sawtooth histogram issue? Was the problem in RT or LCMS or elsewhere or unknown?

[2019-01-06 13:52] Desmis commented on #4959
@Hombre57  @Beep6581

Of what we speak ? There is no text (or just a little) in "ICC Profile Creator" page ...
For "append gamma and slope values to description", it seems to me, it is for the user, so he knows the value of TRC without using tools. It's the tag "dmdd" which contain always (if v2) values for gamma and slope.These values are used in RT to work around an LCMS bug. In this case, the c

[2019-01-06 13:54] Hombre57 commented on #4959
@Beep6581

To complement @Desmis comment, see [around this post](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-387397475).

[2019-01-06 13:57] Hombre57 commented on #4959
@Desmis That's not only for the user, this addition is used by RT.

[2019-01-06 14:07] Benitoite commented on #3547
Here’s a few hidpi-icons / TooWa* themed screenshots Claes (from discuss.pixls.us) has sent along:

![95381cdd-356d-483c-84d1-19cdeda67e6b](https://user-images.githubusercontent.com/17919239/50736984-fbd07080-1178-11e9-874a-9f6ca895b7a7.jpeg)

![845a5da0-3572-4e50-b4bf-7ff680e81d47](https://user-images.githubusercontent.com/17919239/50736985-fc690700-1178-11e9-9c77-b123ea8af14b.jpeg)

[2019-01-06 14:09] Hombre57 commented on #3547
@Benitoite Could you post the original jpeg to filebin please ?

[2019-01-06 14:10] Hombre57 commented on #4770
Explained now in the doc proposal (issue #4959). The doc also explain that only en-US is supported, there's no GUI to select the language, but this have to be done.

[2019-01-06 14:11] Hombre57 commented on #5128
@Thanatomanic Happy new year !

That looks weird and coming from Gtk. Have you made more test, e.g. with mouse unplugged, and with the non emulated mode ?

[EDIT] What's your Gtk version ?

[2019-01-06 16:37] Benitoite commented on #3547
@Hombre57 here is the zip of the screenshots
https://filebin.net/6vr86rcs3wajlgr7/hiResTest_190106.zip?t=gtns2tzp

[2019-01-06 16:40] TooWaBoo commented on #3547
The screenshots from claes look all like 96dpi.

[2019-01-06 19:26] Hombre57 commented on #3547
@Benitoite Could you rebuild the `hidpi-icons` branch ? I've committed a patch for MacOS base DPI of 72.

[2019-01-06 23:34] Benitoite commented on #3547
@Hombre57
https://kd6kxr.keybase.pub/RawTherapee_OSX_10.9_64_5.5-82-g0407dc348.zip

[2019-01-07 17:17] Desmis commented on #4094
@Pandagrapher
Je prépare, pas sûr que cela fonctionne...et je ne sais pas encore comment je fais faire, la possibilité d'utiliser un masque (comme dans Colortoning) pour renforcer / atténuer l'effet des algorithmes de détection de forme dans locallab.
J'ai fait les changements nécessaires qui ont un impact sur ton travail (locallab, procparams, paramedited, procevents, refreshmap, curves,...) et a

[2019-01-07 21:23] Pandagrapher commented on #4094
@Desmis
Ok
Pour l’instant, je me focalise sur le crash que tu as remonté
Après n’hésite pas si tu as besoin que je travaille sur un point spécifique du GUI pour t’aider à mettre en place le masque :)

Par ailleurs, @Hombre57 souhaiterait apporter des améliorations sur la façon de manipuler les control spots sur l’image. Pour cela, il faudrait qu’à un moment on remonte nos modifications dans la bra

[2019-01-08 11:14] CorentinDeBoisset opened #5137 "Panasonic DC-GX9 white and black levels"
Update from #4540

I reuploaded the pictures. I put them on [your pastebin](https://filebin.net/owgvkcgwworevdi8)

ping @Beep6581

[2019-01-08 13:49] Desmis commented on #4094
@Pandagrapher
Je viens de push un changement où l’utilisateur peut générer un masque sur la partie d'image qui va ensuite être modifiée par l'algo de détection de forme. Donc ce masque agit avant.

L'action se réalise en mode Lab (Lch) pour L et C
Le code est quelque peu différent de celui utilisé dans "Colortoning"... en fait c'est très simple.
a) pour le masque
b) pour intégrer ce supplément dan

[2019-01-08 13:55] Desmis commented on #4094
@Pandagrapher

Puisque l'on parle de GUI, ce serait un plus si dans la courbe C=f(C) la valeur de chromaref pouvait apparaître, et dans L=f(L) faire apparaître lumaref.
Cela aiderait l'utilisateur pour connaître les zones à affaiblir.

[2019-01-09 14:07] Floessie commented on #3636
@mandree With Qemu 3.1 I was able to install FreeBSD and RT and to reproduce the problem. The problem (as you already noticed) is that something in GTK/GLIB is destroyed prior to the `__cxa_atexit()` dance. If anyone has a hint (maybe @Hombre57) that would be more than welcome. Fact is, `Glib::RefPtr`s destroyed through `__cxa_atexit` (these are the static or indirectly static ones) abort on FreeB

[2019-01-10 08:19] gaaned92 commented on #5084
Ticket on gitlab/GIMP commited and  closed.

@heckflosse @timlt can you close this thread?

[2019-01-10 12:10] Thanatomanic commented on #5133
I am on the fence on this one. I personally do not use the gridlines at all... So, opinions from others?

[2019-01-10 12:48] Beep6581 commented on #5133
I wouldn't mind if it was an option.

[2019-01-10 18:20] Thanatomanic opened #5138 "Reset crop button does not reset the crop properly when the crop orientation was changed"
Reported here originally https://discuss.pixls.us/t/rawtherapee-reset-crop-area-behavior-v5-5/10791 and related to #5045.
The title explains it all.

[2019-01-11 10:04] gaaned92 commented on #5133
I prefer in linear mode to have equidistant gridlines. I don't mind if there is an option in the preferences.

[2019-01-12 10:10] mandree commented on #3636
Progress! It now crashes, as you'd probably expect, here - see frame `#12` below, where it is trying to destroy the image from the file browser (which you have not attacked yet, per your comments).

[code]

[2019-01-12 10:12] mandree commented on #3636
(Still wondering whether it's something specific about mutexes on FreeBSD, about destruction order, or what else.)

[2019-01-12 13:36] Floessie commented on #3636
@mandree AFAIK it's about destruction order. Search the net for `freebsd atext dlopen`. I'll tackle the remaining problems next week. Not sure about the best solution yet, but it's good to identify the problematic places in advance.

Best,
Flössie

[2019-01-12 13:44] Hombre57 commented on #3636
@mandree (@Floessie) Does it crash the same with the `hidpi-icons` branch (unpatched) ?

[2019-01-12 13:56] Hombre57 commented on #3636
@Floessie I'll let you the final word on this, but my two cents is, considering the hidpi-branch that is in testing phase, to maybe use the RTImage where possible (which can handle a Gdk:Pixbuf and Cairo:ImageSurface), and update the RTImage dtor to delete the Pixbuf first.

For cases where using RTImage is not suitable, your solution is fine, or create a MyPixbuf utility class ?

[2019-01-12 19:05] Floessie commented on #3636
@Hombre57 Let's wait for @mandree's tests with the `hidpi-icons` branch. I am wondering if there really is a need for `static Glib::RefPtr`s given the fact that they live until the very end when the OS kicks in to clean up the rest. Why not turn them into plain static pointers? Or will this give us leak alerts with ASAN and friends (I guess so)?

[2019-01-14 11:47] bikubi opened #5139 "Custom Input Profile ignored in Fast Export Standard?"
When I assign a Custom input profile (AdobeRGB1998) and use Fast Export in Standard mode, the output image looks as if "Use embedded" was selected (tested with all/none bypasses).
This does not happen in Fast Export Dedicated, and, of course in, uh, "Normal" Export.
I'm not sure if this behavior is maybe intended? If not, I'm happy to provide example inputs, outputs and screenshots.
For now: I'm o

[2019-01-14 19:35] Pandagrapher commented on #4094
@Desmis
Hello Jacques,

To improve GUI for mask visibility, here what I have planned to change:
- Adding two toggle buttons (for Color & Light and Exposure) to enable mask use. With mask curves, these toggle buttons will be saved in .pp3
- The remaining combobox (for mask visibility options) won’t be saved in .pp3 and won’t disable Color & Light or exposure tool in GUI and in .pp3. The states of t

[2019-01-15 02:36] wamslers opened #5140 "Cannon PowerShot SX40HS"
Per http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats I am attaching a photo set for the Cannon PowerShot SX40HS. I do not believe this camera has LENR, so I am only including the first set. ISO settings only go up to 3200. FYI, am using CHDK to capture RAW.

https://filebin.net/2vxtx03g8j7j6dn4

Thank you!

[2019-01-15 07:14] Desmis commented on #4094
@Pandagrapher
This is a very good solution.
No problem you can go on

Jacques

[2019-01-15 13:32] stratocaster7 opened #5141 "Attempt to write value larger than 0xFFFFFFFF in 32 bit package (5.5)"
I'm a packager for mageia linux. We recently attempted to backport version 5.5 to our stable branch. QA has found that 32 bit 5.5 fails to process files that worked with 5.3. 64 bit is ok. The error text is

$ rawtherapee-cli -o p.tif -t -c P7212390.ORF
RawTherapee, version 5.5, command line.
Output is 16-bit integer.
Processing: P7212390.ORF
TIFFWriteDirectoryTagIfdIfd8Array: Attempt to write val

[2019-01-15 14:12] Floessie commented on #5141
Confirmed on Debian 9 i386 and Debian unstable PPC.

[2019-01-16 00:28] heckflosse opened #5142 "Wrong clipping when using the new v2 and v4 profiles"
From here:
https://discuss.pixls.us/t/colors-out-of-gamut/10878/39

Suggested fix:
[code]

[2019-01-16 09:31] blitzgneisserin opened #5143 "softproof not working when no printer profile is set (no sRGB preview on wide gamut screens)"
RT Version: 5.5; Branch: releases; Commit: d9ac23555; Commit date: 2018-12-17
system: Manjaro Linux Cinnamon 18.0; Acer V-3-372 laptop; BenQ SW240 (wide gamut) monitor
![bildschirmfoto vom 2019-01-16 11-08-30](https://user-images.githubusercontent.com/16564210/51238399-24294d80-1977-11e9-84e6-b19e5ef1f491.png)
To see/reproduce the issue, you need a wide gamut screen and a photo which contains colo

[2019-01-16 10:03] Floessie commented on #5141
Bisected:

[2019-01-16 10:11] agriggio commented on #5142
Ingo, I think `filmlike_clip` should be removed also from `copyAndClampLine` and `copyAndClamp` in `iplab2rgb.cc`

[2019-01-16 11:02] heckflosse commented on #5141
@Floessie Can you provide a raw file to reproduce? Then I can test disabling SSE2 in the code from the commits you mentioned

[2019-01-16 11:04] agriggio commented on #5143
Confirmed. The problem is again the use of profiles with parametric TRCs, that make LCMS work in "unbounded" mode. Something similar was happening also for the out of gamut check.

Here is a proposed "hack" to force LCMS to clip, which is needed for softproofing:

[code]

In order to test this on a normal screen with a gamut close to sRGB, I have created a couple of artificial "tiny" profiles, tha

[2019-01-16 11:06] agriggio opened #5144 "Segfault when v2 ICC profiles do not contain parsable "gamma/slope" info"
The v2 ICC profiles generated by RT contain special comments that describe the gamma and slope of the profile TRC. These comments are used to reconstruct the parametric curve when reading from disk (see the code in `iccstore.cc`). Unfortunately, if the comment is malformed, RT will crash. Here's a proposed fix:

[code]

[2019-01-16 11:29] jovan2009 opened #5145 "Difference in output brightness based on rotation"
Hi, I was editing a jpeg file and found out that when I tilt the image the output image has wrong colors (too dark). I attached in the zip file original jpeg, the output files and settings used. The "untilted" has correct colors, as soon as I tilt it to correct for slope the output is wrong. While editing image looks correct, only the output image is too dark.
[Rawtherapee bug report.zip](https://

[2019-01-16 11:40] Floessie commented on #5141
@heckflosse I checked the commits manually by undefing `__SSE2__` in `rtengine.h` plus some consecutive fixes. All commits were good. :unamused:

Now I'm bisecting on a non-SSE2 VM (I checked that `__SSE2__` isn't defined). Stay tuned...

[2019-01-16 11:48] heckflosse commented on #5141
@Floessie
Can you test this fix please?
[code]
I don't know whether it fixes this issue. But it was definitely wrong here for non SSE builds.

[2019-01-16 11:58] heckflosse commented on #5145
Can you try without tonemapping please?

[2019-01-16 12:17] Floessie commented on #5141
@heckflosse Your patch doesn't solve this issue. Good catch though. :+1:

[2019-01-16 12:23] jovan2009 commented on #5145
Yes, I tried without tonemapping and it seems tilted and not tilted outputs have the same colors.

[2019-01-16 14:00] #5129 closed, assigned to heckflosse

[2019-01-17 06:56] Floessie commented on #5141
With intermediate fixes (`git stash` to the rescue) I was able to nail it down to 96863bb95648575f8528dfa75bbf232c9c4deb40.

[2019-01-17 08:17] gaaned92 commented on #5144
Ok now , tested with
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dev_5.5-70-softproof_WinVista_64_190116.zip

[2019-01-17 08:20] gaaned92 commented on #5143
It work now
https://keybase.pub/gaaned92/RTW64NightlyBuilds/RawTherapee_dev_5.5-70-softproof_WinVista_64_190116.zip

[2019-01-17 09:29] falket opened #5147 "Canon Powershot A560 Adobe Dng strange colors"
I’m trying to develop a picture i took with a Canon Powershot A560 (not mine), Raw Therapee 5.5 release.

With the original chdk’s dng i get right colors, with a dng converted with Adobe Dng Converter (in order to get a lossless compression and a better preview) colors are completely off.

The original dng is on raw.pixls.us -> https://raw.pixls.us/getfile.php/2918/nice/Canon%20-%20Canon%20PowerSh

[2019-01-17 10:03] Floessie commented on #5141
Ping @Hombre57.

I tried several things to no avail and suspect the move of the EXIF writing code higher up has an influence here.

[2019-01-17 11:35] iliasg commented on #5147
For some reason RT translates wrongly the color matrix of Adobe's DNG although the matrix looks OK  ..

Console reports very strange coefficients
`rgb_cam:[ [ 3.155447 2.023462 -2.332113], [5.648332 -0.065382 -0.038343], [-7.803779 -0.958081 3.370456] ]`

Strange that RT translates correctly the CHDK matrix although it's not in a standard format but an integer one !!
`rgb_cam:[ [ 1.362567 -0.17583

[2019-01-17 12:58] agriggio commented on #5147
@iliasg we have a special case not for CHDK, but for the Adobe DNG converter: basically, in order to ensure that we get the "same colours" between an original raw and its DNG conversion, we ignore the color matrices for Adobe DNG. In this case, we don't have a camconst entry for the camera, which I suppose it's the reason why we get weird results. Here's a suitable one, derived from the one in the

[2019-01-17 13:04] Hombre57 commented on #5141
@stratocaster7 Could you provide the raw file please ( -> filebin.net ) ?

[2019-01-17 13:08] stratocaster7 commented on #5141
Yes, I will try to get it from our QA folks.

[2019-01-17 13:29] Floessie commented on #5141
@Hombre57 `amsterdam.pef` will do...

[2019-01-17 13:41] stratocaster7 commented on #5141
https://drive.google.com/drive/folders/1OlmTW3i4qbk_KB_-9d5Z-lwIdU1VDxFz

Please let us know when you have them so we can take it down.

[2019-01-17 18:18] iliasg commented on #5147
@agriggio Alberto, I had the impression that RT ignores the Adobe_DNG's colormatrices only if we have a camconst item for the specific model.

If no camconst entry exists then RT should use the available DNG colormatrix .. and I think it indeed makes use** of the colormatrix1 data .. but using a wrong interpetation. And it's not because it is tagged as a "Standard Light A" illuminant because even

[2019-01-17 18:25] agriggio commented on #5147
I might remember wrong, that's certainly possible...
but what do you mean by "editing the data?" you changed the matrix in the dng?

[2019-01-17 19:05] iliasg commented on #5147
Yes, changed the colormatrix and illuminant type with exiftool + exiftoolgui

[2019-01-17 19:37] agriggio commented on #5147
ok, I'll have a look

[2019-01-17 19:43] agriggio commented on #5147
@iliasg I think it works as I wrote previously, for the DNG converter we currently never use the embedded matrix. That's why editing it with exiftool has no effect.

[2019-01-17 19:59] iliasg commented on #5147
@agriggio But this (never using the colormatrix from AdobeDNG's conversions) is wrong .. destroys compatibility of many models for which we have no dcraw.cc nor camconst support ..

[2019-01-17 20:10] iliasg commented on #5147
@agriggio Alberto .. something is going wrong with DNGs
https://github.com/Beep6581/RawTherapee/issues/5126
There although we have camconst item for Leica SL RT uses the embedded matrix for the in_camera DNG .. colors are almost same but the WB calculations fail ..

[2019-01-17 20:26] Hombre57 commented on #5141
@stratocaster7 Done, thanks.

I'm trying to build a 32 bits version and see if it happen on windows system too.

[2019-01-17 22:37] agriggio commented on #5147
Ilias, last time I checked the code in RT gives priority to the embedded matrix over camconst, *for all dngs except those produced by Adobe dng converter*. this last part was a special case that I added, to fix the problem with colour mismatches between dng and original raw. so what you say is not surprising. I agree it would be nice to have more robust handling of the embedded matrix, and to add

[2019-01-17 23:43] iliasg commented on #5147
@agriggio Alberto, for Leica SL and other Leica DNGs and Pentax DNGs we use "adobe_coeff"  in Dcraw.cc for this exact reason (color matrix consistency) .. are these lines deactivated by a later code ?.

https://github.com/Beep6581/RawTherapee/blob/4fec856fbae6f4565c48b3ce8b7b7de5a8582ed5/rtengine/dcraw.cc#L10184

[2019-01-18 07:33] agriggio commented on #5147
@iliasg not that I'm aware of, but there might be a bug. I'll try to find some time to check

[2019-01-18 22:12] heckflosse opened #5148 "Improve impulse noise reduction"
This issue is about improving impulse noise reduction.

Let me first explain how the current algorithm works:

In first pass it detects impulse noise by comparing the Lab L channel of each pixel with the neighboring pixels.

In second pass it interpolates the detected pixels from 5x5 neighboring pixels weighted by the inverse Lab L difference.

This approach often causes ring artifacts. Here's a f

[2019-01-19 09:32] TooWaBoo commented on #4148
Gtk+3.24-3 is out. No issues so far.
`mingw-w64-x86_64-gtk3-3.24.3-1`

[2019-01-19 10:41] Hombre57 commented on #4148
@TooWaBoo You mean that we can update to the latest `lensfun` and `libjpeg-turbo` lib now ?

[2019-01-19 10:58] TooWaBoo commented on #4148
@Hombre57
No, I'm still on the previous version of `lensfun `and` libjpeg-turbo`.

[2019-01-19 11:27] mandree commented on #3636
The hidpi-icons branch crashes here, as of 0407dc3487
[code]

[2019-01-19 11:31] mandree commented on #3636
Full crash details, now with glib20 debugging, too:
[code]

[2019-01-19 18:10] #5142 closed, assigned to heckflosse

[2019-01-19 18:15] #5144 closed, assigned to nobody

[2019-01-19 18:22] #5143 closed, assigned to nobody

[2019-01-19 19:24] marcelloromani commented on #5076
Thanks to this bug report, I found out I need to hold SHIFT down to move the crop, where I thought RT didn't have the function! So thanks to the reporter

[2019-01-21 12:13] iliasg commented on #5148
@heckflosse Ingo, very good result .. do you use inverse (squared ??) distance weights for the interpolation ?? ;)

Another part of the problem to consider is the fact that when there is a single noisy pixel in the raw data (especially if it's is a red/blue one) the single pixel noise is spead to a 3X3 (??) area by the demosaic process.

Interesting samples ..
https://drive.google.com/drive/folder

[2019-01-21 23:32] heckflosse commented on #5148
@iliasg

I used this matrix for interpolation:
[code]

[2019-01-21 23:34] heckflosse commented on #5148
That's what raw hot pixels detection is for, not impulse denoise (at least in my opinion)

[2019-01-23 19:59] gaaned92 commented on #4148
`mingw-w64-x86_64-gtk3-3.24.4-1` is out.
Something completely broken on W10.
Downgrade to mingw-w64-x86_64-gtk3-3.24.3-1

![gtk3 broken](https://user-images.githubusercontent.com/13785581/51633321-b02c0e00-1f51-11e9-939a-0a68686562ef.jpg)

[2019-01-23 20:39] TooWaBoo commented on #4148
@gaaned92
Everything is fine on my System
![grafik](https://user-images.githubusercontent.com/13800920/51635657-9ee60000-1f57-11e9-98c8-9f520af012f1.png)

[2019-01-24 13:57] iliasg commented on #5148
@heckflosse
Aha .. 1/d^4 !! .. are the values at Lab Space with gamma= 1/3 ?. So in linear space it is  1/(x^1/3)^4 = 1/x^4/3 ?.

Agree ..

But I was thinking the case of jpegs when no raw hot pixel detection/correction took place  (or it was inneffective). Then a single hot pixel will result in a say 3*3 blob (usually with the center pixel extra bright) ..
With the current impulse correction only

[2019-01-24 14:11] heckflosse commented on #5148
@iliasg

The values are in Lab space. Don't know which gamma.

https://discuss.pixls.us/t/play-raw-daylight-haze/10491

Btw: there is no real impulse noise in this raw file. I just tried to reduce the bad effect of current interpolation on the water bottom right

Yes, for your example files, a combination of igv demosaic/hot pixel detection/impulse noise reduction gives the best result

[2019-01-24 16:45] iliasg commented on #5148
@heckflosse
Ingo,

Normally in all Lab values the t^1/3 is used https://en.wikipedia.org/wiki/CIELAB_color_space#Forward_transformation

Don't bother with this .. I am just trying to match the situation with my way of thinking ;)

Ingo, thanks for the sample .. with these and other samples I'll try to experiment .. put my thoughts in tact first then "report" ..

For the moment your improvement is

[2019-01-24 18:06] heckflosse commented on #5148
@iliasg

Ok, I will push it soon and keep this issue open as an umbrella for further improvements.

[2019-01-24 18:13] gaaned92 commented on #4148
@TooWaBoo
With mingw-w64-x86_64-gtk3-3.24.4-1, I get those messages from pango:

[code]

[2019-01-25 03:33] TooWaBoo commented on #4148
@gaaned92
I guess I've found the culprit.
Gtk3-3.24.4 won't accept all fonts for the GUI. If you select e.g. `Arial` RT crashes.
If you select` Segoe UI Normal` which is automatically set on first time start everything works fine.

[2019-01-25 14:19] Desmis opened #5151 "Difficulties for me to merge dev in newlocallab due to change in idle_register"
I tried to merge "dev" in "newlocallab"

All is OK except when I compile!
2 messages for "idle_register". I solved the first easily (in locallab.cc), I just copy as in another function

But for the second, @pandagrapher has done a modification in "toolpanelcoord.cc" ==> line 468

    // Locallab spot curves are set visible if at least one photo has been loaded (to avoid
    // segfault) and locall

[2019-01-25 18:29] Floessie commented on #5151
Salut Jacques,

untested:

[code]

HTH,
Flössie

[2019-01-25 18:54] Desmis commented on #5151
@Floessie

Thank you very much
I will try tomorrow

jacques

[2019-01-25 23:02] TooWaBoo commented on #4148
I could lower down the font issue to the switch in the batch queue panal. I've replaced the switch with a button and all fonts work fine. I suggest to replace the switch with a toggle button. This will also make it possible to use localized messages and object by Gtk which won't work well with the switch in all languages.

ping @Beep6581 @Hombre57 @gaaned92

[2019-01-26 10:58] gaaned92 commented on #4148
@TooWaBoo
I didn't notice that before, but even if it doesn't crash with mingw-w64-x86_64-gtk3-3.24.3-1, the batch panel switch is broken with every font I try. I remember "ON" was written, now I only see fake characters.

I have no preference about a toggle button or a switch.

[2019-01-26 11:39] TooWaBoo commented on #4148
@gaaned92
With `Gtk-3.24.3` you get only fake chars. No crash on font changing.

With `Gtk-3.24.4` you get a circle and a vertical line and RT crashes on most fonts.
![grafik](https://user-images.githubusercontent.com/13800920/51786636-38373100-2167-11e9-808b-a53cf603fe82.png) ![grafik](https://user-images.githubusercontent.com/13800920/51786646-4b4a0100-2167-11e9-90c1-84d59d23501d.png)

[2019-01-26 16:54] Desmis commented on #5151
@Floessie
Good code, thank you, merge done
jacques

[2019-01-27 14:15] gaaned92 opened #5153 "Wrong color toning on BW image"
Last dev build on W10.

To reproduce:
- use for instance Amsterdam.pef.
- apply `Black-and-White` use whatever method without using `Gamma correction`
- apply color toning (whatever method).
You get the desired tone.
- then use `Black-and-White/gamma correction`
You get a color cast directly linked to the aplied gamma correction.

![cast](https://user-images.githubusercontent.com/13785581/51802081

[2019-01-28 07:13] Floessie commented on #5151
@Desmis Super! Closing.

[2019-01-28 07:13] #5151 closed, assigned to nobody

[2019-01-28 14:13] micheal65536 opened #5154 "RawTherapee 5 significantly changes color balance for Canon EOS 1300D"
Having updated RawTherapee from 4.2 to 5.5 I found that my existing raw files and processing profiles gave significantly different results and that the default appearance of raw files loaded into RawTherapee for editing is significantly different to what it was previously. While minor changes to results can be expected between versions, this is a significant change that causes disruption to my wor

[2019-01-28 20:01] Beep6581 commented on #5154
That commit, and several others, do [this](http://rawpedia.rawtherapee.com/How_to_create_DCP_color_profiles) and [this](http://rawpedia.rawtherapee.com/Adding_Support_for_New_Raw_Formats). To go back to incorrect colors, delete the entry from `camconst.json` and delete the input profile. The end result might still differ as many things changed since 4.2 in 2014.

[2019-01-28 20:01] #5154 closed, assigned to nobody

[2019-01-28 20:50] Beep6581 commented on #5145
Tested on `5.5-91-g`f84a75de1

Using `amsterdam.pef` and `neutral`, I narrowed this down to the following tools with sample values:
* Exposure > Clip out-of-gamut colors: disabled.
* Exposure > Highlight compression: 500
* Exposure > Black: -16384
* Exposure > Shadow compression: 100
* Tone Mapping: enabled, defaults.
* Rotate: -7 (exact value doesn't really matter, the important thing is probably

[2019-01-29 12:19] age1988 opened #5155 "Sharpen mask enabled even with contrast threshold set to 0 - Bug"
It looks like there's always some masking when sharpening, there's should be a white mask when setting contrast threshold to 0
[https://i.imgur.com/X5HgG1n.jpg](https://i.imgur.com/X5HgG1n.jpg)

[2019-01-29 12:43] torben-fruechtenicht opened #5156 "Run custom commands, scripts after image has been saved"
A feature request:
- after RawTherapee has saved an image, run a pre-defined script or command to perform any custom actions
- the script should be passed the path to the created image file and the original image (both might be needed), possibly other parameters (whatever might be needed/make sense here)
- configuration (i.e. setting the script path/invocation code) could be done in Preferences di

[2019-01-29 13:00] Thanatomanic commented on #5156
I take it you have a particular use case for this? Please elaborate if you wish.
Also, if this functionality exists in other software, would you please refer to it?

[2019-01-29 13:09] torben-fruechtenicht commented on #5156
Ah, yes, I should have included the link to the post in the RT forum where this feature request came from: https://discuss.pixls.us/t/run-external-command-on-save-export/10963

So the possible usecases would be
- adding watermarks and the like
- adjusting metadata (EXIF, IPTC)

And I don't really know any good examples from other software. But I guess as far as the configuration is concerned, it s

[2019-01-29 13:25] heckflosse commented on #5155
@age1988

The visualization of the mask is not completely white by design. Even at threshold 0 the image shines through the mask a bit. That's intended.

[2019-01-29 16:02] Desmis commented on #4094
@Pandagrapher

Salut
Je pense avoir terminé le changement d'algorithme de détection de formes. Maintenant quand je compare à l'équivalent dans Dx0 ou Capture NX2 ou NXD (U point), c'est au moins égal sinon meilleur...mais plus de sliders...

De plus j'ai regroupé tout ce qui pouvait être regroupé en termes de code.

Je vais m'attaquer à la documentation 'Rawpedia)... gros boulot.

Je souhaite - co

[2019-01-29 17:22] gaaned92 commented on #4094
`De même on doit pouvoir si certains le souhaitent ajouter des masques à d'autres modules (pas difficile maintenant, il suffit de faire du "copier coller"), mais beaucoup de travail, qu'en penses-tu ?`
Perhaps a stupid idea!
Shouldn't be simpler ( for user also) to apply the mask to all modules. And if we want an other mask for some module, we generate an other control point.
And also could we use

[2019-01-29 17:55] Desmis commented on #4094
@gaaned92
Je suis d'accord avec toi, au niveau de la simplicité, mais le masque  tel qu'il est conçu, peut (doit) avoir des effets différents selon les modules...par exemple CBDL qui est un wavelet simplifié va réagir différemment de Color and Light.... on ne cherche pas la même chose, et si le masque est commun ce sera un effet "moyen"...Mais j'en prends note

[2019-01-29 20:08] micheal65536 commented on #5154
Yes I am aware that the commits are adding support for the camera and that what I am wanting is technically "incorrect" colors.

However manually editing/deleting the files installed with RawTherapee is inconvenient as this will break with package upgrades. What I would like to know is what "profile" RawTherapee will use by default when the camconst entry and camera-specific input profile are miss

[2019-01-29 20:10] Thanatomanic commented on #5154
Without entries in `camconst.json` RT usually relies on the matrices provided in this file https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc. Beware, it's not entirely trivial to distill all the right values from that file.

Edit: upon closer inspection, it only seems the white levels have changed. The color matrix ought to be the same before and after the addition of the 1300D to

[2019-01-30 12:29] micheal65536 commented on #5154
I had already looked at the `dcraw.cc` file and found the tables/matrices. However that file did not contain data for the 1300D either at the time that 4.2 was released. Therefore, some other "default" values must have been used.

I will see if I can find a sample that I am able to provide here, otherwise I will need to produce one which might take a while.

[2019-01-30 12:58] micheal65536 commented on #5154
Raw photo: https://drive.google.com/file/d/1NC5D4rnl0_23Dd8bLU_g79jcTbpiZfGV/view?usp=sharing

Processed photo: https://drive.google.com/file/d/1atCPEtfduX7W_QunTnvlJLwLBwS29nOu/view?usp=sharing

Processing profile: https://drive.google.com/file/d/1d8ssU5AUlLMi42v1FBqAWxPKvxGgNF4G/view?usp=sharing

[2019-01-30 14:58] Bezierr opened #5157 "Lens name from lens tag if lens not in Lensfun database"
This is an enhancement request, not a bug report.

Given that the time when I hope to switch to RawTherapee draws nearer, I'd like to make this https://discuss.pixls.us/t/lens-name-for-legacy-lenses/5462 an official enhancement request and hope that this is the right way to do it.

For me using RawTherapee it is a prerequisite that, if a lens is not found in the Lensfun database, the string provid

[2019-01-30 15:19] Bezierr opened #5158 "Flat-field correction: Option for color cast correction only"
This is an enhancement request, not a bug report.

In Lightroom, when using flat-field correction, you can specify whether to only correct color cast, or to correct both color cast and fall-off. It would be a great enhancement to RawTherapee's flat-field correction if you could make the same choice (e.g. using a simple check box) instead of always having both color cast and fall-off corrected.

Be

[2019-01-30 15:31] Thanatomanic commented on #5158
See #4196. I think this request is better formulated, but in essence is the same.

[2019-01-30 18:06] Bezierr commented on #5158
It is indeed, and my motivation is exactly the same. Sorry, #4196 did not show up in the "related issues" so I was not aware of its existence.

Best regards,
Bezier

[2019-01-30 20:31] Pandagrapher commented on #4094
@Desmis
Salut Jacques,

C'est pas instantané sur les `MyExpander` mais je vois comment faire : je l'ajoute à ma liste de modifications à faire

Oui, c'est bien cela : ça ne se résume plus qu'à des copier/coller maintenant que la philosophie est en place. Après je ne penses pas que ça demande beaucoup de travail (ce sera moins pire que de rajouter un paramètre en plus)

Oui je le consulte de temps

[2019-01-31 07:33] Desmis commented on #4094
@Pandagrapher
Je pense que tu as fait le tour des modifications à faire, et à ce jour je n'en vois pas d'autres.
Merci encore pour ce "beau" travail

J'ai rédigé la documentation avec un petit chapitre GUI, si tu souhaites ajouter quelque chose (sur le GUI ou autre chose, ou modifier...), dis le moi, sauf si tu as l'autorisation d'écrire sur Rawpedia, dans ce cas, tu peux modifier

https://rawpedi

[2019-01-31 07:34] Hombre57 commented on #4094
@Pandagrapher Attention avec les copier/coller, ça peut vite devenir galère s'il y a de la maintenance à faire. De quel code parles-tu ?

J'attends toujours un top départ de vous deux pour commencer, j'ai du mal à suivre votre ping pong dans les commit ni quelle branche modifier (je suppose que c'est localisé).

[2019-01-31 07:34] Thanatomanic commented on #5155
@heckflosse I'm not sure if it is necessary to have a slight opacity on the mask. What is the rationale behind it?
I would agree with @age1988 here that I would also expect a fully white mask when the threshold is zero.

[2019-01-31 09:06] Desmis commented on #4094
@Hombre57
Pas de problèmes, tu peux y aller dans la branche Beep6581::newlocallab
Celle-ci est à jour de toutes les modifications, celle de Pandagrapher sert de tests provisoire à son travail, du fait qu'il n'a pas les accès à Beep6581
Le ping pong est simple @Pandagrapher fait une modif sur sa branche, je la mets à jour dans Beep6581, les autres modifs tiennent à la mise à jour importante des alg

[2019-01-31 10:33] heckflosse commented on #5155
@Thanatomanic

It's not really an opacity. It's simply the result of not changing Lab ab values because I prefer this:
![grafik](https://user-images.githubusercontent.com/13733487/52048479-c89cb980-254b-11e9-87d1-18bb02e6636a.png)

over this:
![grafik](https://user-images.githubusercontent.com/13733487/52048530-e79b4b80-254b-11e9-8fcd-ba7547c6fcda.png)

[2019-01-31 14:53] Beep6581 commented on #5158
Closing as duplicate of #4196

[2019-01-31 14:53] #5158 closed, assigned to nobody

[2019-01-31 21:41] Hombre57 commented on #4094
@Desmis C'est noté, par contre mes modifs pourront fortement empiéter sur les tiennes @Pandagrapher . Mon but est de transférer un maximum de chose en interaction sur la prévisu, et donc potentiellement supprimer des choses que tu es en train de mettre en place (cela ne concerne pas la partie engine donc). Ne vaudrait-il pas mieux se coordonner en privé dans ce sens ?

[2019-02-01 06:22] Pandagrapher commented on #4094
@Hombre57

Le terme « copier/coller » est peut être maladroit. Il s’agit plus de reprendre la philosophie que j’ai introduite avec le commit `fc6e4ce` pour de nouveaux masques à introduire

Concernant les modifications que tu veux faire, je pense que les deux premiers points de mon « planning » peuvent être fait sans nous gêner. Mais en peu en rediscuter en priver pour se coordonner : quand serais

[2019-02-01 06:51] Desmis commented on #4094
@Hombre57  @Pandagrapher

Hombre, je ne comprends pas très bien, tu dis que cela pourrait toucher mes modifications (ou alors ce sont celles de Pandagrapher ? ) Je pense pour la deuxième, car tu dis que "engine" n'est pas concerné.

Bref, je pense dans ce cas - mais je ne suis que peu concerné directement que votre travail en commun sur le GUI pourrait se faire sur la branche de @Pandagrapher

De

[2019-02-02 09:25] TooWaBoo opened #5160 "Switch in GTK+ 3.24.4 crashes on most fonts (Windows)"
This issue is related to the On/Off switch in the queue which only accepts some fonts e.g. like `Segoe Normal` but crashes with e.g. `Arial Normal`.

To fix it I suggest to replace the switch with a toggle button. Works fine with all fonts.

For testing you can download the changed files from here: https://filebin.net/u1nkm9t03li8e6p5

![t1](https://user-images.githubusercontent.com/13800920/52162

[2019-02-02 10:45] TooWaBoo commented on #5160
I've found these interesting article on the web.
https://blog.gtk.org/2019/01/14/theme-changes-in-gtk-3/

https://www.linuxuprising.com/2019/01/gtk-developers-are-testing-updated.html

[2019-02-02 13:04] Beep6581 commented on #5160
I don't mind the change, looks nice, but I find it hard to believe such a bug would have gone unnoticed by GTK+ devs and testers, so I wonder, have you verified that the crash happens in stock GTK+ and isn't a result of hacks and workarounds in RT? You can use [Glade](https://glade.gnome.org/) to easily find out.

Can you provide a debug backtrace?

[2019-02-02 13:35] Hombre57 commented on #4094
Oui je parlais de @Pandagrapher

Je vais cloner le repos. de @Pandagrapher  dans ce cas et créer de PR. Ce sera plus simple à gérer lorsqu'il faudra fusionner avec newlocallab je pense.

Aucun

[2019-02-02 13:42] Hombre57 commented on #4094
@Pandagrapher

Je suis beaucoup en déplacement pour le boulot ces temps-ci. Le mieux serait de rester connecté sur IRC dans les moments de développement. Si j'y suis c'est le soir à partir de 21h ou  le w.e. Aujourd'hui je devrais être sur IRC vers 17h

[2019-02-02 13:46] Desmis commented on #4094
@Hombre57  @Pandagrapher

Ok je vais "commit" mon changement
Remarque: je suis à la maison au lieu de "dans la famille" car je suis plus que patraque, attaqué par la grippe (atténuée avec le vaccin)

Jacques

[2019-02-02 14:03] TooWaBoo commented on #5160
The bug is not theme related. I have run RT without any theme, Rt theme and TWB theme.
I've installed glade but I've no clue what I should do. 🤔
How do I do debug backtrace on windows?

[2019-02-02 17:28] Beep6581 commented on #5160
With Glade you can easily design a form and a switch and test whether it runs or crashes, though I don't recall how to set the font (I don't have it installed, I just formatted my laptop).

As for GDB on Windows, RawPedia should have that covered: http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#Step_by_step

[2019-02-02 18:33] heckflosse opened #5161 "Segfault in lmmse demosaic"
There's a really hard to reproduce segfault in lmmse demosaic.
Searching.....

[2019-02-02 19:21] Hombre57 commented on #5161
@heckflosse

http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

(sorry, couldn't resist :smile: )

[2019-02-02 19:39] heckflosse commented on #5161
@Hombre57 If I would be able to reproduce it always, I would have written a better bug report. :smile:

Currently I nailed it down to NaN values produced by lmmse. Still searching

[2019-02-02 19:52] Hombre57 commented on #4094
@Desmis

Petit résumé de ma discussion avec @Pandagrapher sur IRC :
1. une nouvelle branche `newlocallab-newGUI` a été créé dans le repos de @Pandagrapher
2. cette branche recevra toutes mes modifs en vu d'un transfert de toute l'interface actuellement dans le panneau latéral vers la zone de prévisu, en contextuel.
3. cela nécessitera une amélioration de la classe `Edit` et de ses sous-classes. Ce

[2019-02-02 20:13] doak commented on #2857
Just want to add my two cents regarding an (as far as I see yet not mentioned) use case for that feature. I am quite new to *RawTherapee* (and even processing raw images at all), thus please forgive me if I overlooked some obvious workflow.

To process a bunch of similar pictures (with similar lightning conditions), I prepare a `base.pp3` which I want to apply to these pictures. Before running thi

[2019-02-02 20:28] TooWaBoo commented on #5160
Here comes the backtrace: [backtrace.txt](https://github.com/Beep6581/RawTherapee/files/2824812/backtrace.txt)
Font: Arial
RT crashes immediately without showing any window.

[2019-02-02 20:47] Hombre57 commented on #2857
@doak

Which manual edjustment are you referring to ? Opening a new file is manually editing it. I may have missed something in your explanation.

[2019-02-03 08:08] Desmis commented on #4094
@Hombre57  @Pandagrapher

OK, merci pour l'info,
Nota : je viens de faire un additif pour le calcul des références (dans improccoordinator) - utile dans certains cas.

jacques

[2019-02-03 09:24] doak commented on #2857
@Hombre57, I mean the adjustment I did before like rotating the picture.

Let's assume I want to have the image rotated additionally to the "default" parameters I set in `base.pp3` for these bunch of pictures. My workflow is to configure this rotating and save (only this parameter) to the sidecar file. I use the ctrl+click feature of the 'save current profile' button to accomplish that. The result

[2019-02-03 10:39] Hombre57 commented on #2857
@doak Thanks, it's very clear now.

Unfortunately, the requested modifications are not so simple in RT, because once you tag the file with stars and/or color label, and even with iptc and exif changes, it create a full blown profile. So the new mechanism would have created a profile anyway for stars and color label, but still flagged the image as unedited. The proposed patch here was almost done,

[2019-02-03 11:35] doak commented on #2857
@Hombre57, thanks you very much for you answer.

I see. That means in fact major changes in data model would be needed.

That's absolutely fine.
I guess pull requests or rework of current patches are welcomed :)  (I am sorry, can't volunteer right now ...)

Thanks, too, for the details about the workaround.

[2019-02-03 20:41] Beep6581 commented on #5155
I like the mask the way it is, with the color shining through. I can pan around the image and still see features. Even with the colors shining through clearly everything's masked and it's really impossible to confuse the two states:

Threshold 0:
![screenshot_20190203_214018](https://user-images.githubusercontent.com/5844619/52182329-57376200-27fc-11e9-8b67-21b214e733a5.png)

Threshold 1:
![screen

[2019-02-03 22:09] heckflosse commented on #5155
@age1988 It's a bit about the expectation to have a monochrome mask, But I decided against this expectation because I think colours shining throuugh the mask gives additonal feedback when panning...

Edit: In conclusion: I would that call a feature, not a bug ;-)

[2019-02-03 22:45] RawConvert opened #5162 "Compiler warning, "slopetag" not initialized"
I built RT dev today,
Version: 5.5-97-gb0b0e13,   Branch: dev,   Commit: b0b0e13,   Commit date: 2019-01-31
and the "make" gives this output -
...
[ 83%] Building CXX object rtgui/CMakeFiles/rth.dir/rawcacorrection.cc.o
[ 84%] Building CXX object rtgui/CMakeFiles/rth.dir/rawexposure.cc.o
[ 84%] Building CXX object rtgui/CMakeFiles/rth.dir/recentbrowser.cc.o
/home/paulssd2/RTdev3feb/code-rawtherape

[2019-02-04 11:52] heckflosse commented on #5162
I dont get this warning using gcc 8.2.1

[2019-02-04 13:38] Beep6581 commented on #5162
No such warning with GCC 7.3.0.

[2019-02-04 15:50] RawConvert commented on #5162
Mine looks old,
$ gcc --version
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
though sudo apt update doesn't mention it.

What is "mmap" pls?

[2019-02-04 16:11] heckflosse commented on #5162
@RawConvert
Can you build and run rt with this patch applied please? It will spit out the filenames where the mmap failed.

[code]

[2019-02-04 18:29] mackydread opened #5163 "No "Start Process" button in raw to jpeg window."
RawTherapee 5.5. Trying to process raw file into jpeg. There is no "Start processing" button to press to begin action. Watched a video of same action, & there was a "Start process" button in the video. Running MacOS Mojave.
![image](https://user-images.githubusercontent.com/47331994/52228509-74c30500-28aa-11e9-91af-8c270319f33e.png)

[2019-02-04 18:30] Thanatomanic commented on #5163
@mackydread You should turn the Queue ON

[2019-02-04 18:42] mackydread commented on #5163
Thats just it. I pressed that button as it looked off, then everything disappears.Now it seems frozen and nothing happens
![image](https://user-images.githubusercontent.com/47331994/52229364-a3da7600-28ac-11e9-939c-50b5444526f8.png)

[2019-02-04 18:55] Thanatomanic commented on #5163
You seem to miss the obvious answer here: if you pressed the button and stuff disappears, your export was succesful. Please check your output directory and see the JPEG there.

[2019-02-04 18:56] Beep6581 commented on #5163
:man_facepalming:

[2019-02-04 18:56] #5163 closed, assigned to nobody

[2019-02-04 19:29] mackydread commented on #5163
It is not there. Used lightroom for years & only reason I tried this is because Lightroom does not currently have an update for my new nikon camera raw file.Window does not have a start button in raw-jpeg mac os, if on button is clicked whole thing goes off & file disappears, no saved file in destination folder. Just tried it inNikon Capture NX-D and it worked fine. But Nikon NX-D does not have a

[2019-02-04 19:34] Thanatomanic commented on #5163
Let's backtrack a little. In your post you say

What video was this? Maybe there was a "Start process" button in an ancient version of RT, but recently it is the Queue switch.

Could you do two things:

1. Try to export directly to your home folder or desktop, instead of the folder "Raw therappee test"
2. Use your OS search function to look for a file named DSC_1313.jpg

[2019-02-04 19:42] mackydread commented on #5163
Here is the link to the video & you'll see what I mean, although I've just noticed video is three years old. Look at it from 8.30secs into video
https://youtu.be/sOogn08CWeQ
I'll also try what you suggested.

[2019-02-04 20:20] heckflosse commented on #5163
@mackydread

Please try saving to templated folder
![grafik](https://user-images.githubusercontent.com/13733487/52234530-2faacd00-28c2-11e9-8c99-8bbea47ec418.png)

Also, was the folder you had opened in rt file browser the `Raw therappee test` folder?
I ask because this should not happen.:
![grafik](https://user-images.githubusercontent.com/13733487/52234717-992adb80-28c2-11e9-8aca-6098cb997908.pn

[2019-02-04 20:30] RawConvert commented on #5162
Lol!  I haven't been into code for many years!  Can you give me some more detailed instructions, like where to put this piece of code etc...

[2019-02-04 20:37] mackydread commented on #5163
Original RAW file is from external hard drive, I should be able to open, edit, and export and save as a jpg anywhere I like. To be honest Im giving up & deleting this program as its clear to me that its not going to do what I want. I'm not ignorant on how to use programs as an avid photoshop/lightroom/Indesign/iLLustrator user. I/m just going to download capture Pro which I know will work. Thanks

[2019-02-04 20:45] heckflosse commented on #5162
@RawConvert Oh, I thought you built RT from source as you used the latest version...

I will just push this change to dev because it makes sense to get the filename shown in console in case mmap failed. Then you'll have that in next appimage or whatever you use.

In case you build from source, just copy the patch to a file named 'xyz.patch' in your rawtherapee clone folder and `git apply xyz.patch

[2019-02-04 20:49] heckflosse commented on #5163
Yeah, that's exactly the kind of feedback we need in case of issues :frowning_face:

[2019-02-04 21:10] RawConvert commented on #5162
I do indeed build from source but just follow the recipe in rawpedia, so I don't need to understand much to do that!  Agree I guess, make the change.
I might have a go with the patch.  Would the sequence of the main commands then be -
git clone https://github.com/Beep6581/RawTherapee ~/folder/code-rawtherapee
git checkout dev
git apply xyz.patch
cmake \ etc....
make
...

By the way it's fails rath

[2019-02-04 21:18] heckflosse commented on #5162
@RawConvert

I just pushed to dev. Just build latest dev code ;-)

[2019-02-04 21:28] RawConvert commented on #5162
Ok, though out of interest, did I have the correct sequence?

[2019-02-04 21:31] heckflosse commented on #5162
@RawConvert

cd into your rawtherapee-code folder
git apply xyz.patch
cd into your build folder
make

[2019-02-04 21:40] heckflosse commented on #5161
Status report:

1) I can reproduce the segfault especially with large files but only in Release builds.
2) When lmmse demosaicing a large file (>= 36 MP) 70 times in a row I get at crash (sometimes on first processing, somtimes on last processing)
3) Changing lmmse working space from [0.f;1.f] range to [0.f;65535.f] range it's absolutely stable

[2019-02-04 21:51] Beep6581 commented on #5162
@RawConvert since you use Linux, I will add a little shortcut to what @heckflosse wrote to avoid having to save the patch to disk. You can just copy the patch (selecting all lines in the web browser will do, since X copies selected text to the [CLIPBOARD](https://en.wikipedia.org/wiki/Clipboard_(computing)#X_Window_System) clipboard), then:
[code]

[2019-02-04 22:33] mackydread commented on #5163
It doesn't work the way i want or expect it to.What do you want me to say? It freezes, takes a long time to do anything, even your colleague pointed out a couple of things that are not right from the jpg. I have enough ram, hard drive room, etc. Every program runs great on it including the program Ive just downloaded to replace this one. Sorry but that's just how it is.

[2019-02-04 22:50] heckflosse commented on #5163
@mackydread

That may be caused by a bug in RT. To solve this bug we need feedback.

For example I asked you to try to save to a different location, but you didn't try at all. If saving to a different location works, that would possibly give us some feedback to nail the  bug...

[2019-02-04 23:48] RawConvert commented on #5162
I've re-built dev, Version: 5.5-98-g9210a56,  Branch: dev,  Commit: 9210a56,  Commit date: 2019-02-04
and the two mmap messages are not being produced.  ?

I also tried the patch but that failed -
cd ~/RTdev4feb/code-rawtherapee
git apply xyz.patch
error: patch failed: rtengine/myfile.cc:107
error: rtengine/myfile.cc: patch does not apply

But then I thought because the patch has been coded in alr

[2019-02-04 23:54] heckflosse commented on #5162
@RawConvert

Exactly.

Too bad. I thought we could nail this issue with the patch (which does not more than showing the names of the files) :frowning:

[2019-02-05 00:02] heckflosse commented on #5162
@RawConvert Thanks for testing. Really appreciated :+1:

[2019-02-05 16:44] RawConvert opened #5164 "Preview goes black if you change tone mapping compression strength"
https://filebin.net/g6dg6qs2fnrvwbu8
With current Dev RT built yesterday, the preview window goes black if you make any change away from zero.  The control in question is Compression Strength using Tone Mapping method in the Residual Image section of Wavelet Levels.  I haven't tried it on other raws.  Please delete any copies of my raw once you've investigated.

[2019-02-05 17:38] heckflosse commented on #5164
The other control in question is `Local contrast`. Disabling Local contrast also gets rid of the issue

[2019-02-05 17:42] gaaned92 commented on #5164
W10, last dev

CIECAM2 enabled, 5 wavelet levels :  preview goes black using compression strength
CIECAM2 enabled, 6 wavelet levels : preview ok
CIECAM2 disabled, 5 wavelet levels: crash
CIECAM2 disabled, 6 wavelet levels : preview ok

I can reproduce black preview on other photo but not the crash.

[2019-02-05 17:55] gaaned92 commented on #5141
RT 32bits last dev on W10 , no crash, no message in verbose mode. OK

[2019-02-05 18:41] heckflosse commented on #5164
This should fix it:

[code]

[2019-02-06 07:27] Floessie commented on #5141
Problem still present on i386 Debian 10.

[2019-02-06 08:12] mattiaverga opened #5165 "Consider dropping libiptcdata"
The latest release of libIPTCdata is 10 years old and it seems there has been no development since. In Linux Fedora there is the willingness of retiring it from the distribution, but the only package which requires it is RT.
I want to ask if you would consider to drop the libIPTCdata requirement in favour of Exiv2 (I just don't know if there are big differences which could make this impossible, it

[2019-02-06 08:15] Thanatomanic commented on #5165
Please see #3801. It's on the list...

[2019-02-06 11:11] Beep6581 commented on #5165
Closing as duplicate.

[2019-02-06 11:11] #5165 closed, assigned to nobody

[2019-02-06 12:26] #5164 closed, assigned to heckflosse

[2019-02-06 18:10] DefteZ opened #5166 "Unknown lens LUMIX G VARIO 12-35mm F2.8II"
New lens LUMIX G VARIO 12-35mm mark is not recognized by RawTherapee
Can you please add support of this.

Old version of this lens described in rtexif/olympusattribs.cc:
`line 179:  lenses["02 15 10"] = "Lumix G X Vario 12-35mm f/2.8 Asph. Power OIS";`

New version id is "LUMIX G VARIO 12-35mm F2.8II"

Tested on version: 5.5-1 (Linux, Fedora)

[2019-02-06 20:47] Beep6581 commented on #5166
Thanks for reporting, but we don't add support for individual lenses - we use whatever the latest version of ExifTool supports before making a new release. I'll update the lens 'database' now, you can try compiling the `dev` branch tomorrow.

[2019-02-06 20:51] DefteZ commented on #5166
I have sent a patch to Lensfun project https://sourceforge.net/p/lensfun/code/merge-requests/4/
I guess that it should helps

[2019-02-06 21:06] Beep6581 commented on #5166
@DefteZ great.

I just updated `dev` using exiftool-11.26. I'll update again before we release 5.6 in March.

[2019-02-06 21:06] #5166 closed, assigned to nobody

[2019-02-07 18:47] Beep6581 opened #5167 "User feedback when using operating system's main monitor color profile"
Preferences> Color Management > Monitor > Use operating system's main monitor color profile

There should be some sort of feedback as to whether a profile was detected, and if so, which.

[2019-02-08 14:19] TooWaBoo commented on #4148
`mingw-w64-x86_64-gtk3-3.24.5-1` is out and font bug is solved.

[2019-02-08 14:20] TooWaBoo commented on #5160
`mingw-w64-x86_64-gtk3-3.24.5-1` is out and the font bug is solved.
Closing issue.

[2019-02-08 14:20] #5160 closed, assigned to nobody

[2019-02-08 17:29] #5155 closed, assigned to nobody

[2019-02-08 19:01] age1988 opened #5168 "Softer unsharp mask with radius >= 1"
After some tests with Rawtherapee and other raw editor I think that the unsharp mask in Rawtherapee is a little more aggressive compared to the one in darktable or g'mic.
It's pratically perfect when the radius is < 1 but a little harsh otherwise.
It would be great to "match" the darktable's UM when the radius is bigger or the same of 1.

[2019-02-08 20:15] heckflosse commented on #5168
Can you please post examples (screenshots...)? I have no experience with the USM in DT

[2019-02-08 23:53] age1988 commented on #5168
Same radius (1.6), amount and 0 threshold:
[https://filebin.net/ya5e4ghoxfb4dph9](https://filebin.net/ya5e4ghoxfb4dph9)
The dt versions (or the g'mic unsharp mask in the L channel)  look less sharpened but overall cleaner compared to Rawtherapee

[2019-02-09 10:21] gaaned92 commented on #5168
@age1988
Are you sure your images are different because I can see no difference ( grain extract in GIMP)?

[2019-02-09 11:41] age1988 commented on #5168
Yes I see it :-)
For small difference I use the custom mode blend layer in g'mic and this formula
`if(a==b,1,0)`
[https://filebin.net/dwg45xhy7rcc0zhp](https://filebin.net/dwg45xhy7rcc0zhp)

[2019-02-09 11:45] Erop1 opened #5169 "RT crashes after a few minutes of work"
Dear rawtherapee team,

I love RT, but it crashes every time I use it, after a few minutes of work.
I can’t tell when it’s going to happen. It seems to happen by random.
So I made a video recording of my screen and a stack backtrace, which you can download under the following link:

https://www.magentacloud.de/share/mk-wfp6zhz

gdb does not accept the “set logging on” command. But I inserted the s

[2019-02-09 13:11] heckflosse commented on #5168
@age1988
Of course the files are not identical. Please show us where the differences are `visible`.
It does not make sense to waste time searching for them if you already know where the visible differences are.
Here's a screenshot which shows the differences at left. But I can not see them in the original images
![grafik](https://user-images.githubusercontent.com/13733487/52521258-a6eeb100-2c74-11

[2019-02-09 13:23] heckflosse commented on #5169
@Erop1 Thanks for the good bug report :+1:
I will push a fix soon

[2019-02-09 13:35] #5169 closed, assigned to heckflosse

[2019-02-09 14:39] Desmis commented on #4148
@TooWaBoo

in summary, my file "pacman.conf" contain
IgnorePkg = mingw-w64-x86_64-libjpeg-turbo
IgnorePkg = mingw-w64-x86_64-lensfun
IgnorePkg = mingw-w64-x86_64-gtk3
IgnorePkg = mingw-w64-x86_64-gtkmm3

which lines can I delete ?
Thank you

jacques

[2019-02-09 15:43] gaaned92 commented on #4148
@Desmis
`which lines can I delete ?`
Those regarding gtk3 and gtkmm3

[2019-02-09 15:49] Desmis commented on #4148
@TooWaBoo

Ok, thank you

[2019-02-09 18:03] TooWaBoo commented on #4148
@Desmis
I'll forward it to @gaaned92 😉

[2019-02-09 18:26] Desmis commented on #4148
@TooWaBoo @gaaned92

Thank you
All works fine

Jacques

[2019-02-09 19:38] heckflosse commented on #5161
Good news:

After upgrading gcc I can't reproduce the issue anymore.
Works fine using
[code]

[2019-02-09 19:39] #5161 closed, assigned to heckflosse

[2019-02-10 08:29] mike40376 opened #5170 "Crash When Opening Large Image Files"
Windows 10 x64
i7-4790k
16GB ram

I have a very large screenshot file captured by nvidia ansel and when I try to open it rawtherapee closes, it either crashes so hard even the debug exe crashes or it just closes. I've tried opening 100mb files they work okay but when I get up to 500mb this starts happening. I know I have enough RAM to open it because it worked fine in GIMP just took about 5 minute

[2019-02-10 11:02] heckflosse commented on #5170
@mike40376
File size does not matter. What are width and height of the image?

[2019-02-10 14:09] Beep6581 commented on #5170
@mike40376 http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2019-02-10 14:14] agriggio commented on #4675
Here's a patch porting the code from libraw. Needs more testing!

[code]

[2019-02-10 14:18] agriggio commented on #4801
Here's a patch for porting libraw's code.

[code]

[2019-02-10 18:02] RawConvert opened #5171 "Division by zero in Tone Mapping"
I was experimenting with Tone Mapping to see how it affected the tree in the supplied filebin and noticed that as I moved the Scale slider the preview darkened at certain specific points then returned to normal as I continued to move it.  This effect was sensitive - just one unit of movement was enough to make the difference.  After a while RT crashed out completely.  There were errors messages in

[2019-02-10 18:02] mike40376 commented on #5170
@Beep6581
I'm on version 5.5, I'd provide a backtrace but I can't due to the batch window closing with no output. I can send in a recording if you want but I cant upload the big file to GitHub.

[2019-02-10 18:03] mike40376 commented on #5170
@heckflosse
File size is 64000x27000

[2019-02-10 18:21] RawConvert opened #5172 "Chromaticity histogram appears wrong?"
These two screen grabs show chrom. being reduced via the CL curve in Lab.  As the point is moved to the right, the chrom reduces in the dark tones as expected in the preview, but the yellow histogram trace increases on the left side, rather than decreasing.
![clcurve-before](https://user-images.githubusercontent.com/16868433/52537601-6ec49c80-2d60-11e9-9bcc-92a0e5c1ab7d.png)
![clcurves-after](http

[2019-02-10 18:26] heckflosse commented on #5171
@RawConvert Please try latest code. Because of https://github.com/Beep6581/RawTherapee/commit/5ddbefd8c49159535bf0f493557e141587a130fb

[2019-02-10 18:44] Beep6581 commented on #5172
As you move the curve's "black" point to the right, the amount of pixels having a minimal chromaticity increases, so a vertical spike appears in the histogram at the left end. The spike tells you that a lot of pixels have that chromaticity, and the position of the spike on the x axis tells you what chromaticity that is - in this case the minimal chromaticity (0%?). Looks good to me.

[2019-02-10 18:51] Beep6581 commented on #5170
@mike40376 from the link I sent you,

gdb rawtherapee-DEBUG.exe

Open the command prompt first, then run GDB. That way, whatever happens, the command prompt should remain open.

[2019-02-10 18:54] heckflosse commented on #5170
@mike40376 could be an unchecked memory allocation.
64000 * 27000 * 3 channels (I assume) * 4 bytes (RT uses float internally) per channel = ~19,25 GB memory to load the image

[2019-02-10 20:07] mike40376 commented on #5170
@heckflosse
When I opened it in GIMP it worked and on the bottom it said it took 12gb to load the image

[2019-02-10 20:08] mike40376 commented on #5170
@Beep6581
Last entry on the CMD was

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 13808.0xc24]
0x00007ffc52314510 in msvcrt!memmove () from C:\WINDOWS\System32\msvcrt.dll
(gdb)

[2019-02-10 20:39] Beep6581 opened #5173 "Sigma SD14"
Based on the Sigma SD14 sample raw file from RPU
https://raw.pixls.us/getfile.php/637/nice/Sigma%20-%20Sigma%20SD14.X3F
and on the white frames from
https://discuss.pixls.us/t/bright-spots-in-infrared-photos-gimp-processed/11289/18?u=morgan_hardwood

[code]

The real black level is all over the place, and at BL=0 there are visible spots in areas which should be black in the raw crop frame. A sampl

[2019-02-10 20:42] heckflosse commented on #5170
@mike40376

Well, RT : 64000 * 27000 * 3 channels * 4 are ~19,25 GB
while GIMP : 64000 * 27000 * 4? channels * 2 are ~12,8  GB

[2019-02-10 20:51] mike40376 commented on #5170
@heckflosse
Ahh I didn't realize they differed from the way they opened/displayed files, if that's accurate then RAM is definitely the issue.

[2019-02-10 21:23] heckflosse commented on #5170
@mike40376

not definitely. Could also be an overflow when calculating an address.
For that reason I would like to verify the issue with your file.
Could you upload it to filebin.net and post the link here?

[2019-02-10 21:52] heckflosse commented on #5171
@RawConvert Bug confirmed. Looking...

[2019-02-10 22:43] heckflosse commented on #5171
It is `Local Contrast` in combination with `Tone Mapping` which causes the crash in this case.
Still don't know why...

[2019-02-10 22:44] heckflosse commented on #5171
@agriggio any idea?

[2019-02-10 23:07] mike40376 commented on #5170
@heckflosse
https://filebin.net/wtw7arign6ezwma7

[2019-02-11 11:43] RawConvert commented on #5172
I see what you mean.
When I see multiple traces on a graph, I assume the x-axis is the same for them all, so I assumed that for chrom. (though I know a histogram isn't quite the same as a graph).  So I thought it would be showing a measure of chrom. for each of the 256? bins that make up the "brightness" histograms.

I'm not sure when or how I would use a chrom. histogram but another possibility,

[2019-02-11 14:19] heckflosse commented on #5170
@mike40376 Thank you :+1:

[2019-02-11 17:58] heckflosse commented on #5170
@mike40376 I was wrong. Just opening the image needs ~ width * height * 3 byte, because the input is 8bit. I already found and locally fixed some bugs. Opening the image in editor now works, as well as thumb generation. Full processing in queue/saveas still crashes.
Opening the image takes ~20 seconds on my machine
![grafik](https://user-images.githubusercontent.com/13733487/52583019-e660fd00-2e2e

[2019-02-11 19:32] Thanatomanic opened #5174 "Filmstrip moves active image to the far left"
I think #5125 actually had a side-effect, although @Beep6581 said it didn't. Or maybe there was another commit that changed the filmstrip behavior, but I'm not seeing it. In any case, the issue below is not present in 5.5 (release version) but it is in dev. For what it's worth, I'm using SETM.

What's the issue: whenever I select an image from the filmstrip, it moves the strip so that the selected

[2019-02-11 22:03] heckflosse commented on #5170
The two commits from above avoid the crashes when building a thumb from this file and when opening this file in editor.
Full processing of this file still crashes. I'll continue tomorrow

[2019-02-12 09:33] mike40376 commented on #5170
@heckflosse
That's good to know that there's a fix thanks for the extensive testing

[2019-02-12 18:04] heckflosse commented on #5170
I found and fixed another bug related to processing of large files.
After fixing this bug I could process the 64000x27000 image in queue using neutral profile on my machine with 32GB Ram and 16 GB swap space.

I will commit the fix soon.

[2019-02-12 19:54] age1988 commented on #5168
Yes definitely is a real small difference.

[2019-02-12 20:00] Beep6581 commented on #5168
There is no visible difference, and if you think you're seeing one, especially in a side-by-side comparison, then you're imagining things.

[2019-02-12 20:05] age1988 commented on #5168
I mean that the issue could be closed because the difference is really small, but yes it's there.

[2019-02-12 20:05] #5168 closed, assigned to nobody

[2019-02-13 00:32] heckflosse commented on #5170
With the fixes from above, I could process the 64000x27000 file using neutral profile without issues.
Also reduced the peak memory usage to process non raw files in queue

[2019-02-14 08:29] Floessie opened #5175 "Make RT build in C++17 mode"
*Don't be afraid: I'm not proposing to switch to C++17 (yet :grin:).*

Hi,

for the fun of it I tried to build RT in C++17 mode. As it turns out, we are quite ready for that, except for one little detail. And guess what: it has something to do with `const` :wink::

[code]

Best,
Flössie

[2019-02-14 09:57] gaaned92 commented on #4801
patch included in W64 nightly builds https://keybase.pub/gaaned92/RTW64NightlyBuilds/
Not tested by me.

[2019-02-14 09:58] gaaned92 commented on #4675
patch included in W64 nightly builds https://keybase.pub/gaaned92/RTW64NightlyBuilds/
Not tested by me.

[2019-02-14 12:16] #5117 closed, assigned to Beep6581

[2019-02-14 12:22] Beep6581 commented on #4675
@agriggio as the 5.6 feature-freeze is in 2-4 weeks, ok to commit the patch to get more testing?

[2019-02-14 12:23] Beep6581 commented on #4801
@agriggio as the 5.6 feature-freeze is in 2-4 weeks, ok to commit the patch to get more testing?

[2019-02-14 12:27] Beep6581 commented on #4828
@Floessie @mattiaverga can we close?

[2019-02-14 12:31] Beep6581 commented on #4972
@heckflosse @Floessie do you still want to go ahead with the change from `long` to `hex`, or does @Floessie 's patch make that unnecessary?

[2019-02-14 12:35] Beep6581 commented on #4522
@heckflosse as the 5.6 feature-freeze is in 2-4 weeks, ok to commit the patch to get more testing?

[2019-02-14 12:37] agriggio commented on #4675
@Beep6581 no objection. I can't do much more than providing the patch though, sorry...

[2019-02-14 12:38] heckflosse commented on #4522
@Beep6581 Ok

[2019-02-14 12:38] Floessie commented on #4828
@Beep6581 :+1: from me.

[2019-02-14 12:39] heckflosse commented on #4675
@agriggio I will test it today

[2019-02-14 12:48] Floessie commented on #4972
@heckflosse

But there are other `-1` indices right below. Don't they matter?

@Beep6581 I let Ingo decide which way to go. My proposal is less hackish, but if we go `unsigned` by default I hope we'll get the right feedback from the compiler if `signed` instead is due.

[2019-02-14 12:53] Beep6581 commented on #5170
Closing as fixed.

[2019-02-14 12:53] #5170 closed, assigned to heckflosse

[2019-02-14 12:55] #5173 closed, assigned to Beep6581

[2019-02-14 13:15] #4828 closed, assigned to nobody

[2019-02-14 13:21] Beep6581 commented on #3469
Still valid?

[2019-02-14 13:24] Beep6581 commented on #2444
Fixed long ago.

[2019-02-14 13:24] #2444 closed

[2019-02-14 14:47] #4675 closed, assigned to agriggio, heckflosse

[2019-02-14 15:11] Beep6581 commented on #5175
No problem with GCC-7.3.0 C++11.

[2019-02-14 15:16] Beep6581 commented on #2574
Fixed long time ago - closing.

P.S. Currently (`5.5-118-g`0f1f12d29) the `a*` and `b*` curves tone the image regardless of the chromaticity slider's value - the image is toned even if `chromaticity=-100`.

[2019-02-14 15:16] #2574 closed

[2019-02-14 19:27] mihapiha opened #5176 "Seg fault on start in Wayland Plasma 15.15"
Rawtherapee won't start on Wayland session of KDE Plasma (I am using KDE Neon with Plasma 5.15). It stops with a seg fault.

[raw-log.txt](https://github.com/Beep6581/RawTherapee/files/2866523/raw-log.txt)

[2019-02-14 19:34] heckflosse commented on #5176
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

[2019-02-14 19:42] #4801 closed, assigned to agriggio, heckflosse

[2019-02-14 19:52] heckflosse commented on #3469
Imho still valid

[2019-02-14 19:53] TooWaBoo commented on #5176
@mihapiha
Looks like the Adwaita cursor files are missing.

[2019-02-14 19:54] heckflosse commented on #4972
@Floessie

Please don't

[2019-02-14 20:23] heckflosse commented on #5058
I think we can close this. Objections?

[2019-02-14 20:29] #5175 closed, assigned to nobody

[2019-02-14 20:36] Floessie commented on #4972
@heckflosse

:joy:

Okay, I put this on my list for the weekend. I'll try and see what implications an `unsigned` default has...

[2019-02-14 21:04] Beep6581 commented on #4801
All Nikon Z 7 raw file types from [RPU](https://raw.pixls.us/) open fine.

[2019-02-14 21:05] Beep6581 commented on #4675
All Panasonic DC-GH5S raw file types from [RPU](https://raw.pixls.us/) open fine.

[2019-02-15 07:23] mattiaverga opened #5177 "Build failure with GCC 9.0.1"
Fedora official repository just switched to GCC 9.0.1 and now RT fails to build due to several `enclosing 'parallel'` errors. See the build log at:
https://kojipkgs.fedoraproject.org//work/tasks/1333/32821333/build.log

[2019-02-15 07:29] mattiaverga commented on #5177
I've found other packages in Fedora affected by this and in mailing lists I could found a link to a GCC related change: https://gcc.gnu.org/gcc-9/porting_to.html#ompdatasharing

[2019-02-15 08:18] Floessie commented on #5177
Hi Mattia,

Thanks for the bug report! I'll try to reproduce this in Debian Experimental.

Best,
Flössie

[2019-02-15 08:48] Floessie commented on #5177
Now it builds fine with GCC 9.0.1:

[code]

@heckflosse Okay? Or drop the `default(none)`?

[2019-02-15 10:05] heckflosse commented on #5177
@Floessie your patch fails on gcc < 9.0
[code]
Dropping `default(none)` works

[2019-02-15 10:11] Floessie commented on #5177
I should have double checked. :facepalm:

So do we drop `default(none)` only in this place or the two other places, too?

[2019-02-15 10:21] heckflosse commented on #5177
Drop the other two places too.

[2019-02-15 10:32] Floessie commented on #5177
Here's the new patch:

[code]

Tested this time with GCC 9.0.1, GCC 8.2, Clang 9.0.0, and Clang 7.0.1 on Debian Testing/Experimental amd64.

[2019-02-15 11:49] Beep6581 commented on #5177
No problem building using GCC-7.3.0 C++11.

[2019-02-15 12:44] mihapiha commented on #5176
@TooWaBoo that was it, thanks :) It worked in X11 session though

[2019-02-15 12:44] #5176 closed, assigned to nobody

[2019-02-16 03:58] seadra opened #5178 "Demosaic and Fuji Finepix F770EXR RAFs"
Demosaicing pattern look totally incorrect with RAF files, zooming in reveals pattern glitches.
I can provide RAFs along with JPGs if necessary.

In the RAW table, only "Sensor with Bayer Matrix" is accessible. Is there a way to force-switch to "Sensor with X-Trans Matrix" mode?

[2019-02-16 08:23] mattiaverga commented on #5177
Builds fine on Fedora also with both GCC 8.2.1 and GCC 9.0.1

Thanks

[2019-02-16 09:01] heckflosse commented on #5178
Works fine here. F770EXR has Bayer cfa.
![grafik](https://user-images.githubusercontent.com/13733487/52897174-c4220300-31d1-11e9-854b-26cee22533ee.png)

[2019-02-16 09:40] heckflosse commented on #5178
Well, it's not real bayer pattern, it's two combined bayer patterns.
You can select the individual frames here
![grafik](https://user-images.githubusercontent.com/13733487/52897656-46f98c80-31d7-11e9-836b-cc5bed94207b.png)

[2019-02-16 11:30] TooWaBoo commented on #5174
This will fix it. Check it out.
Change yellow to blue. 😀
### editorpanel.cc
![unbenannt](https://user-images.githubusercontent.com/13800920/52899103-6fd54e00-31e6-11e9-97d8-b5200cbb678a.png)

[2019-02-16 13:18] heckflosse commented on #5174
@TooWaBoo Your modification breaks this:
[code]

[2019-02-16 13:20] heckflosse commented on #5174
@TooWaBoo scratch my comment from above.

[2019-02-16 13:25] TooWaBoo commented on #5174
I will. 😁

[2019-02-16 13:26] heckflosse commented on #5174
@TooWaBoo But F3/F4 does not behave as before...

[2019-02-16 13:29] heckflosse commented on #5174
@TooWaBoo before modification after F4 the current thumb in filmstrip is always the leftmost (if there are enough thumbs on the right)
after modification sometimes after F4 the current thumb in filmstrip is the rightmost even if there are enough thumbs on the right.

[2019-02-16 13:45] TooWaBoo commented on #5174
This should fix the F3/F4 behaviour.
![grafik](https://user-images.githubusercontent.com/13800920/52900712-6dc8ba80-31f9-11e9-9a61-07016f8f5d28.png)

EDIT: Oh sh..., it doesn't. I've to play a bit more.

[2019-02-16 17:33] gaaned92 commented on #5177
builds fine on W64 MSYS2 gcc8.2.1

[2019-02-16 17:38] gaaned92 commented on #5177
builds fine on W64 MSYS2 gcc 8.2.1

[2019-02-16 17:48] TooWaBoo commented on #5174
Ok, now all changes together.
### editorpanel.cc
![52899103-6fd54e00-31e6-11e9-97d8-b5200cbb678a](https://user-images.githubusercontent.com/13800920/52903221-a462fd00-321a-11e9-99f4-5995c921c9e1.png)

### filebrowser.cc
If you use F3/F4, shift F3/F4 or Left-, Right-button the filmstrip is always alignd left.

![grafik](https://user-images.githubusercontent.com/13800920/52903189-27378800-321a-11e9-

[2019-02-16 17:55] heckflosse commented on #5174
@TooWaBoo Why don't you post a patch file (or the content of a patch file)? It's as easy as
[code]
Then open in editor and insert it here.

[2019-02-16 18:33] heckflosse commented on #5174
@TooWaBoo Honestly, I won't apply screenshot patches anymore. I did it once today (and I didn't it correct, because it was confusing). This led to even more confusion and waste of your and my time.

Please, post a patch or create a pr.

Ingo

[2019-02-16 21:16] seadra commented on #5178
Here's a comparison of the RAF and the JPG generated by the camera. I zoomed in 200%, but even at half zoom level, the demosaic artifacts are distinctly visible (photo of a signboard with white background).

![demosaic](https://user-images.githubusercontent.com/9574367/52905237-69a29a00-3205-11e9-9bdc-c3ee47ab83db.png)

So far F770EXR RAFs don't look look when opened with RawTherapee, unless I'm m

[2019-02-17 01:36] seadra commented on #4830
I don't think I can make a normal raw plus two-image raw of the exact same scene --this requires shooting two photos very quickly while holding the camera steady, all the while changing camera's settings in between two photos.

Would a camera-generated JPG along with the RAF file be sufficient?

[2019-02-17 07:11] LebedevRI commented on #4830
It doesn't have to be pixel-for-pixel-value-identical, just visually identical.
Practically all the other sets (from cameras that can produce more than one raw mode)
match this "requirement". Just put the camera on tripod and take a pictures of some
not too fastly changing scene - daylight nature landscape works well e.g.
(just no people)

No.

[2019-02-17 09:24] #5177 closed, assigned to Floessie, heckflosse

[2019-02-17 10:15] Floessie commented on #4830
@heckflosse I tried your patch on some RAFs that contain two subimages with the same exposure. I'm quite sure they were taken in DR mode with an auto dynamic range of 100%. Subimage 2 then contains more detail than subimage 1.

[2019-02-17 10:57] Floessie commented on #4972
https://github.com/Beep6581/RawTherapee/blob/dev/rtexif/canonattribs.cc#L1292

And this one isn't even a `ChoiceInterpreter`.

[2019-02-17 11:09] #4972 closed, assigned to Floessie

[2019-02-17 11:40] heckflosse commented on #5178
@seadra Currently the sub-image selector does what its label suggests: It allows you to open one of the two sub-images. With the patch from #4830 which was never committed I changed the behaviour: Selecting sub-image 1 then gives the average of both sub-images, selecting sub-image 2 gives just sub-image 2.

Averaging both sub-images reduces the noise as you can see here:
Left is sub-image 2, right

[2019-02-17 11:48] heckflosse commented on #5178
@seadra Here's a before/after:
It's from an ISO1600 EXR file
Left is just opened in RT using auto-matched curve ISO low
Right is averaged sub-images, demosaic changed to Amaze+VNG4 contrast threshold 20, Noise Reduction enabled, Impulse Noise reduction enabled

![grafik](https://user-images.githubusercontent.com/13733487/52912454-1175a180-32b2-11e9-9ac9-11f133e51631.png)

[2019-02-17 11:53] heckflosse commented on #4830
@Floessie The patch is not for DR mode. It's for the SN mode.

[2019-02-17 13:43] Floessie commented on #4830
@heckflosse I know. I just wanted to let you know about the effect on a DR, as I don't have an SN at hand. But an "Average" entry in the subimage selection would be cool...

[2019-02-17 14:42] RawConvert opened #5180 "Lab histogram and main histogram seem misaligned"
Using the "point" icon in the Lab L* histogram relates the mouse position on the preview to the value on the histogram.  And the main histogram shows this too.  The two are significantly different as shown by the screen grabs below (RT gives a short white bar at the base of the main histogram indicating position).
RT 5.5-98
![histo-anomaly-1](https://user-images.githubusercontent.com/16868433/5291

[2019-02-17 14:43] Thanatomanic commented on #5180
Regarding this, please see #4933

[2019-02-17 16:51] heckflosse commented on #4830
@Floessie
[code]

You can test with the bottom left raf from here
https://www.photographyblog.com/reviews/fujifilm_finepix_f800exr_review/sample_images

[2019-02-17 21:29] Beep6581 commented on #5174
Agreed, centered would be preferable over left-aligned.

[2019-02-17 22:18] Beep6581 commented on #5180
http://rawpedia.rawtherapee.com/Exposure#Tone_Curves

http://rawpedia.rawtherapee.com/Lab_Adjustments#L_Curve

I am in the process of rewriting RawPedia material related to curves so these links may change.

[2019-02-17 23:30] RawConvert commented on #5180
Ok thanks.  But then re. the 2nd quote, why does the L* histogram change when you move a point?

[2019-02-18 01:58] Beep6581 commented on #5180
I don't know. It could be a bug, or outdated docs. I hope @heckflosse 's investigation while looking into #4933 will reveal which it is.

[2019-02-18 02:16] Beep6581 commented on #5174
We haven't defined what the desired behavior is, so here goes. I like my selected thumbnail centered so that I can see what came before and what's next, but I don't necessarily always want it centered - I would prefer scrolling to not occur if the previous/next thumb is fully visible.

That is exactly what branch `centeredthumb` does:
https://github.com/Beep6581/RawTherapee/compare/centeredthumb

[2019-02-18 11:25] RawConvert commented on #5180
I think it's important to have the histogram behaving nicely.  If you want a steep (or flat) bit of curve in a given place, the histogram on which you're drawing the curve needs to be accurate.

[2019-02-18 12:46] heckflosse commented on #4933
This should fix the issue for Luma and Chroma histogram.
Also reduces memory usage by 0.5 MB
[code]

[2019-02-18 12:48] heckflosse commented on #5180
@Beep6581

exactly, should be
[code]

[2019-02-18 13:27] Beep6581 commented on #5180
Docs updated.

[2019-02-18 13:27] #5180 closed, assigned to Beep6581

[2019-02-18 20:12] Beep6581 commented on #4830
* https://raw.pixls.us/getfile.php/687/nice/Fujifilm%20-%20FinePix%20F600EXR%20-%2012bit%20uncompressed%20(4:3).RAF
In this image the exposure of each sub-frame differs from the other. The blended image shows purple in the dome which was overexposed in one sub-frame but not in the other.
* https://img.photographyblog.com/reviews/fujifilm_finepix_f800exr/sample_images/fujifilm_finepix_f800exr_19.ra

[2019-02-18 20:19] Beep6581 commented on #4933
Fix confirmed for both L* and CC.

[2019-02-18 20:21] heckflosse commented on #4830
@Beep6581 Thanks for testing :+1: It's expected that averaging frames with different exposure does not work correctly. This issue is about SN mode EXR files, which have equal exposure for both frames.

Same as before patch. I will try to solve that.

[2019-02-18 20:21] heckflosse commented on #4933
@Beep6581 Thanks for testing :+1:

[2019-02-18 21:07] #4933 closed, assigned to heckflosse

[2019-02-19 02:52] chaimav opened #5181 "Haze removal doesn't work with images with large overexposed regions"
When editing an image with a large overexposed area, the image preview of the Haze Removal tool  does not show changes, but changes do show up in the in the thumbnail.
Thread about issue with representative raw file here: https://discuss.pixls.us/t/haze-removal-bug/11423

RawTherapee info:
Version: 5.5
Branch: 5.5
Commit: d9ac23555
Commit date: 2018-12-17
Compiler: gcc 8.2.1
Processor: generic x86

[2019-02-19 08:55] Floessie commented on #4830
@heckflosse [`FramesData::hasExif()`](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imagedata.cc#L903) returns `false` for the second frame, because there is only one frame of `FramesData`. One could of course return the data for the first frame if the requested frame isn't available...

[2019-02-19 11:48] Floessie commented on #4830
Here's a patch for that:

[code]

[2019-02-19 17:28] ghost opened #5182 "Rescaling, option for short edge as a ruling measure..."
As RT’s batching is working well, I’d like to see an option for defining shorter edge as a ruling measure while rescaling.

Came up on me, while some on-line printing services tell you the exact pixel dimensions which they use and due to printer system I suppose, longer edge is flexible; shorter edge is constant; image orientation is ignored.
At the moment I run command lines (Linux) and use Gimp

[2019-02-19 18:32] Thanatomanic commented on #5182
You mean this?
![image](https://user-images.githubusercontent.com/6567747/53038409-fa36df80-347c-11e9-9ba1-384cfe20bf15.png)

Unless I understand your post wrong, this is already possible, closing.

[2019-02-19 18:48] Beep6581 commented on #5182
@Thanatomanic though I haven't tried, I don't think it's currently possible to batch-apply resizing to images of various orientations so that the shortest side is some specified length.

[2019-02-19 18:50] Thanatomanic commented on #5182
@Beep6581 You're right, I was a little hasty. The difference between RT now and the request is setting a value for the shortest side instead of the width. That's a reasonable request.

[2019-02-19 19:21] ghost commented on #5182
http://www.imagemagick.org/Usage/resize/
Fill Area Flag ('^' flag)
This also represents the requested option..

for example : https://www.ifolor.fi/en/photos/photo-prints
They deliver a pile of prints, each different lenghts if they are cropped differently…
(further info describes resolution as 1210 x (y), 301dpi)

[2019-02-19 19:36] ghost commented on #5182
And to be clear, for batching I ment the "Queue" processing... But the tool in "Batch Edit" list was same above.. you got the idea, just got little tangled there..

[2019-02-19 20:17] agriggio commented on #5181
This should do (it also incorporates a fix for a race condition, thanks @heckflosse)

[code]

[2019-02-19 20:26] heckflosse commented on #5181
@agriggio The patch does not apply to dev because I already pushed another fix for the race (you know) with e2154f9.
Nevertheless we should apply both changes to dev code. Shall I do or will you do?

[2019-02-19 20:29] agriggio commented on #5181
@heckflosse ah sorry, I didn't notice :-(
Please go ahead if you can, thanks!

[2019-02-19 20:37] #5181 closed, assigned to nobody

[2019-02-19 20:51] heckflosse commented on #4830
@Floessie I pushed my changes. Please push yours as well. They work fine

[2019-02-20 10:26] Beep6581 commented on #5174
PR #5183 created.

[2019-02-20 20:06] Floessie commented on #4830
Done and close?

[2019-02-20 21:04] Beep6581 commented on #4830
Confirmed, done and close.

[2019-02-21 01:06] Yz2house opened #5184 "Update GUI translation in Japanese"
Update GUI in Japanese:
1) translated 4 new strings (month ago)
2) changed to better wording for Sharpning and Contrast by Detail Levels (edited RawPedia as well)
3) some modifications

regards
[Japanese.txt](https://github.com/Beep6581/RawTherapee/files/2887209/Japanese.txt)

[2019-02-21 11:52] #5184 closed, assigned to Beep6581

[2019-02-21 12:02] #4830 closed, assigned to nobody

[2019-02-21 18:28] heckflosse commented on #5171
Update: It's clearly a bug in Tonemapping. Still searching...

[2019-02-21 21:22] heckflosse commented on #5178
Ok to close this? https://github.com/Beep6581/RawTherapee/commit/b37f5453911cac58b2f57889655315ea6885130d

[2019-02-21 21:39] Beep6581 commented on #5178
@heckflosse yes, but @seadra don't forget to submit sample raw files to [RPU](https://raw.pixls.us/) as per https://github.com/Beep6581/RawTherapee/issues/4830#issuecomment-440938344

[2019-02-21 21:49] clasatau opened #5185 "Windows 10: Can't access folder C:\Users\Public\Pictures"
Hi,

I am using a fresh installation of Rawtherapee:
Version: 5.5
Branch: 5.5
Commit: d9ac23555
Commit date: 2018-12-17
Compiler: gcc 8.2.1
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.3
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -msse2 -mfpmath=sse -mthreads -Wno-aggressive-loop-optimizations -Wno-parentheses -std=c++11 -mtune=generic -Werror=unused

[2019-02-21 23:46] heckflosse commented on #5185
I you can't use the Windows explorer to view this folder, it's very unlikley RT can solve this issue

[2019-02-22 04:51] ve3 opened #5186 "Crash in Windows opening folder with only Thai characters in name"
RawTherapee 5.5
Windows 10 64 bit

Open program and it just close. No window appear.

[2019-02-22 10:40] Beep6581 commented on #5186
https://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
https://rawpedia.rawtherapee.com/How_to_fix_crashes_on_startup

[2019-02-22 10:43] ve3 commented on #5186
It's clean, new and first install.

And that bug reports page I can't get anything more than this because it just run the process and end.

[2019-02-22 10:46] Thanatomanic commented on #5186
@ve3 I hope you understand that going from your description it is literally impossible to provide any form of support?

[2019-02-22 10:50] Thanatomanic commented on #5185
@clasatau Why are you saving stuff in the `\Public\` folder anyway?

![image](https://user-images.githubusercontent.com/6567747/53237777-db606500-3697-11e9-8667-423af4adc832.png)

Unless you have a very strange setup of Windows, clicking on Pictures there will lead you to `C:\Users\<YourUserNameHere>\Pictures` which should definitely exist. If it doesn't, it's most certainly an issue of your Windo

[2019-02-22 11:13] ve3 commented on #5186
[log.txt](https://github.com/Beep6581/RawTherapee/files/2893649/log.txt)

[2019-02-22 11:18] Thanatomanic commented on #5186
It seems to crash on `libthai-0.dll`. Is that the default language for your operating system?
Can you try the following:

1. Go to `C:\Users\<YourUserName>\AppData\Local\RawTherapee5` (or whatever the RT folder is called exactly)
2. Open the `options` file in notepad or similar and put
[code]
3. Save and restart RT. Does it work?

[2019-02-22 11:25] ve3 commented on #5186
No, my default OS language is English (US).

I tried to change options as you said and change `StartupPath=C:\\test`.
Program can now opened but when I browse to the folder that contain Thai language, the program crash again.

I had installed v 5.4 but it seems to be working fine.

[2019-02-22 11:32] Thanatomanic commented on #5186
Is it just one folder that gives problems, or many? Are there Thai characters in the filename or folder name or both? Could it be related to a specific file?

Using the latest dev build I do not have any trouble with Thai characters in either a folder name or file name.

![image](https://user-images.githubusercontent.com/6567747/53240022-d4d4ec00-369d-11e9-8005-a509c28db72a.png)

[2019-02-22 11:45] Beep6581 commented on #5186
@ve3 since RT runs fine in c:\temp but crashes when you browse to your photo folder most likely due to Thai characters somewhere in the filename or file metadata, isolate the crash to a single file (as described in the link I sent you) and upload this file using https://filebin.net/ , then paste the final link here.

[2019-02-22 12:00] Beep6581 opened #5187 "Document what the raw histogram shows"
What does the raw histogram show? Is it affected by the black and white levels from `dcraw.cc` or from `camconst.json`? Does the answer to the previous question depend on whether you're viewing a raw DNG file or a non-DNG raw file? The raw histogram seems affected by the "raw black points" setting in RawTherapee, but not by the "raw white points" setting, why?

How would one go about making the ra

[2019-02-22 12:53] ve3 commented on #5186
It is not just one folder but any folder that contain Thai characters.
If folder name is English but file names are Thai or English+Thai such as **Helloสวัสดี.jpg** then it is working fine.
This means it may not because of a file name.

Here is GIF screenshot. [https://gifyu.com/image/3MRN](https://gifyu.com/image/3MRN)

[2019-02-22 13:20] heckflosse commented on #5186
@ve3 Please try a build from [here](https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924). Iirc there was a bug in 5.5 related to Windows and languages, which is already fixed.

[2019-02-22 13:30] Floessie commented on #5186
de6ee45?

[2019-02-22 13:38] heckflosse commented on #5186
@Floessie Yes, that's the one I had in mind. Though it should not cause a crash...

[2019-02-22 13:40] ve3 commented on #5186
This one seems to be fixed. Thank you.

[2019-02-22 14:10] heckflosse commented on #5187
The raw histogram shows the data after black level subtraction.
The right of the histogram is the whitelevel.
D700 file with wl 15500 from camconst.json
![grafik](https://user-images.githubusercontent.com/13733487/53247430-a5c97500-36b3-11e9-96b6-08f70bf63fa5.png)

Same file, but wl in camconst.json changed to 5500
![grafik](https://user-images.githubusercontent.com/13733487/53247466-bf6abc80-36b3

[2019-02-22 16:06] DSOUTY opened #5188 ".RWL files RAW format from LEICA D-LUX 7"
Hi
Can RawTherapee work with .RWL files RAW format from LEICA D-LUX 7 ?
Thanks in advance !
Dominique

If you are filing a bug report, please first read the guide How to Write Useful Bug Reports:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports
You must provide the required information in order for your bug report to be valid.
Delete this text before posting.

[2019-02-22 16:24] Thanatomanic commented on #5187
The white level is fixed though, through camconst.json (or dcraw) and that is a little odd as @Beep6581 points out.

[2019-02-22 17:00] Beep6581 commented on #5188
https://github.com/Beep6581/RawTherapee/blob/releases/RELEASE_NOTES.txt#L13

[2019-02-22 17:00] #5188 closed, assigned to nobody

[2019-02-22 17:47] heckflosse commented on #5187
@Thanatomanic Yes, I will fix that.

Edit: I meant I will unfix the fixed white level

[2019-02-22 20:49] gaaned92 commented on #5185
@clasatau
W10 home 64bits, no peculiar tweaking
RT 5.5

* my C: drive is my system drive (a SSD). I avoid as far as possible to put data in this disk. My D: drive is a 1TB HDD where I put all my data ( in peculiar photos, mails, documents...).
Thus I never had the opportunity to test RT with C:\users\...
*  I made a test with `c:\users\Public\pictures`

   * In an administrator Windows account I c

[2019-02-22 23:08] heckflosse commented on #5187
Here's a patch. I will improve it tomorrow. Though it still works fine

[code]

[2019-02-23 13:29] clasatau commented on #5185
Thanks to all who took the time to investigate the issue.

I managed to solve the issue by unsetting the hidden attribute of the folder Pictures in C:\Users\Public. This was not possible via GUI because even in an explorer started with administrator privileges the "hidden" checkbox was greyed out. So I launched a Shell with administrator privileges, unset hidden and system attributes with `attrib

[2019-02-23 14:42] heckflosse commented on #5185
@clasatau There is already an option to show hidden folders/files. Unfortunately you can't set it in preferences dialog (don't know why).
But you can manually set in in the options file. Just change the entry
[code]
to
[code]

Don't use notepad.exe to modify the options file. It does not handle the line endings.
Notepad++ handles them fine.

[2019-02-23 17:08] heckflosse commented on #5185
One possible solution: Use the setting from windows file manager. Same behaviour as before for other OS

[code]

[2019-02-23 17:11] Beep6581 opened #5189 "Update RawPedia histogram gamut button"
https://discuss.pixls.us/t/how-to-select-color-profile-for-main-histogram-and-navigator/11511/3?u=morgan_hardwood

[2019-02-24 00:33] gkthau opened #5190 "5.6 macOS build crashes on launch"
Hi,

I had been having trouble installing the official version of RT 5.5. On running the application the program crashes immediately. The error log says:

exception Type:        EXC_BAD_INSTRUCTION (SIGILL)

Searching the forums, it seems to be the same issue as experienced by some Mac users, e.g.:
https://github.com/Beep6581/RawTherapee/issues/4091
https://github.com/Beep6581/RawTherapee/issues/4

[2019-02-24 01:25] shastah commented on #5174
Does that mean selecting next(prev) image would effectively not scroll filmstrip until image that gets selected is second most-right(left) displayed in the filmstrip, and _then_ every subsequent F4(F3) would scroll it by one?

If my understanding above is correct, is there a way to make it always(*) centered? A setting in preferences perhaps?

(*) Until there are not enough images to scroll filmst

[2019-02-24 03:32] Benitoite commented on #5190
Could you give the latest dev build a try?  https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924

This is interesting because I have never been able to reproduce on 10.11

There is much missing info. http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports

For instance, what CPU are installed in the macpro1,1?  I’m wondering if turning LTO off made the difference for you

[2019-02-24 11:09] Beep6581 commented on #5174
The first part is correct, the second is not. Once selection gets to the second-most thumb from the right, and you switch to the next image, that image's thumb will now be centered. In other words, it doesn't scroll unless necessary, and when it is necessary then it centers the thumb.

Yes, that's even simpler to code, but could be annoying when you want to keep everything as it is and just switch

[2019-02-24 13:36] MrHHatter opened #5191 "Max CPU load with any changes"
**Version: 5.5**
Branch: 5.5
Commit: d9ac23555
Commit date: 2018-12-17
Compiler: gcc 8.2.1
Processor: generic x86
System: Windows
Bit depth: 64 bits
Gtkmm: V3.22.3
Lensfun: V0.3.2.0
Build type: release
Build flags:  -m64 -mwin32 -msse2 -mfpmath=sse -mthreads -Wno-aggressive-loop-optimizations -Wno-parentheses -std=c++11 -mtune=generic -Werror=unused-label -Wall -Wuninitialized -Wno-deprecated-decl

[2019-02-24 14:05] heckflosse commented on #5191
@MrHHatter Please provide a .pp3 file

[2019-02-24 14:10] MrHHatter commented on #5191
@heckflosse Recent full edit .pp3:
https://filebin.net/eo5alhzwxkf2q8ii

[2019-02-24 14:19] heckflosse commented on #5191
@MrHHatter It's mainly caused by Noise reduction. To verify: zooming at less than 100% should be fast.

[2019-02-24 14:25] MrHHatter commented on #5191
@heckflosse Nope. The same happens without Noise reduction. On this one I did nothing but open the image and raise the exposure. When changing the exposure, RT slows down, CPU usage goes to max on all cores and the changes applies after a few seconds.
https://filebin.net/htv96ms3vqhd87xp

[2019-02-24 14:32] Thanatomanic commented on #5191
Just to check: have you stored the file on a HDD, SSD or on a network drive?

[2019-02-24 14:37] MrHHatter commented on #5191
@Thanatomanic It's stored on a Samsung M2 SSD 960 EVO. At first I stored the files on a high speed HDD but trying to fix the issue I moved the images I want to edit to the M2 drive. Made no difference at all.

[2019-02-24 14:43] heckflosse commented on #5191
@MrHHatter What's your screen resolution?

[2019-02-24 14:44] MrHHatter commented on #5191
@heckflosse 3840x2160

[2019-02-24 15:03] heckflosse commented on #5191
@MrHHatter Are you using rawtherapee-debug.exe by accident?

[2019-02-24 15:06] MrHHatter commented on #5191
@heckflosse Nope, dubble checked. I am not.

[2019-02-24 15:10] heckflosse commented on #5191
@MrHHatter Can you provide a raw file for the .pp3 from above?

[2019-02-24 15:11] heckflosse commented on #5191
@MrHHatter And a screenshot showing ratherapee with an image opened in editor, please.

[2019-02-24 15:17] MrHHatter commented on #5191
![printscreen](https://user-images.githubusercontent.com/47943904/53301147-6f286180-384f-11e9-8f3b-68611159f20a.jpg)

https://filebin.net/q1skbnvysby1o241 to the RAW file

[2019-02-24 15:23] Thanatomanic commented on #5191
@MrHHatter @heckflosse My edits to this file are nearly instantaneous... I can make a screencast if proof is needed.

[2019-02-24 15:32] MrHHatter commented on #5191
Never had this problem in either Lightroom or PhotoScape X, even on my old, much slower computer. The system or the files are not the cause of the problem.

[2019-02-24 15:37] heckflosse commented on #5191
@MrHHatter @Thanatomanic
In RT 5.5. release we set Lens-profile Chromatic abberation correction enabled in the Auto-matched profiles. That causes a slight slowdown and also does not work well together with the also enabled raw ca-correction.

@MrHHatter Can you please try to disable chromatic abberation correction in profiled lens correction.
Here it gets a bit faster by disabling it (though it's

[2019-02-24 15:38] heckflosse commented on #5191
@Thanatomanic Will your screencast use the official 5.5 or your own build?

[2019-02-24 15:41] heckflosse commented on #5191
@MrHHatter

Was that with same screen size? Processing time for RT editor increases with resolution alomst linearly.

[2019-02-24 15:52] MrHHatter commented on #5191
@heckflosse the Chromatic aberration possibly made a slight difference but I can't really tell. I did however try to lower my resolution to 1920x1080 and that made a difference. It's still far from fluid but the changes takes maybe half a second instead of several seconds.
I've not used Lightroom with the 4k resolution but I tried PhotoScape X just moments ago, at 4K, and it had no problem what so

[2019-02-24 15:53] heckflosse commented on #5191
There's definitely a difference in speed between official build and my own native build (optimized for my AMD FX 8350)

[2019-02-24 15:55] Thanatomanic commented on #5191
@heckflosse I've uploaded my screencast in this filebin: https://filebin.net/q1skbnvysby1o241
I use a fresh install of 5.5 on a 1920x1080 screen. And yes, I also notice a minor but apparent speed difference between my own build and the release version.

[2019-02-24 16:42] heckflosse commented on #5191
@Thanatomanic Your screencast shows about the same speed as using a fresh 5.5 install on my machine.

[2019-02-24 23:10] RawConvert commented on #5187
Some thoughts...  How will this change affect what the user sees please?
Is there an argument for showing a line in the histogram where the white point is?  And maybe the black point?  And not subtracting the black point first?  That is, show the raw data without any manipulation except to scale it to fit the histogram window nicely and apply the log variants already implemented; with a little mar

[2019-02-25 03:43] gkthau commented on #5190
The latest dev built 5.5-106-g8eba1c40a also doesn’t run on the Mac Pro 2006. The error report is attached as a file
[error.txt](https://github.com/Beep6581/RawTherapee/files/2898944/error.txt)
. Unfortunately I don’t know how to run gdb on OSX, so no stack backtrace.

Here are more details:

Version:
- v5.1 to 5.5 official builds don’t run on the Mac Pro 2006 but ok with Macbook Pro 2015.
- RT 5.

[2019-02-25 04:06] gkthau commented on #5190
One thing I forgot to add:

In order to run OS X 10.11.6 on the Mac Pro 2006, some hacking was involved:
https://forums.macrumors.com/threads/2006-2007-mac-pro-1-1-2-1-and-os-x-el-capitan.1890435/

One consequence is no "metal" API support with my graphics card.

[2019-02-25 06:44] Benitoite commented on #5190
Sorry I’m overseas for a month so I can’t analyze this very completely yet, but thanks for the data.  At first glance it looks like pango freaks out about something. Did your libraries come from macports, homebrew, or scratch build?  Also if you build with clang 3.9, are you sure gcc-ar is compatible?  Could you provide the error log for the linking error you got with LTO on. It says no such file,

[2019-02-25 06:54] Beep6581 opened #5193 "Remove timing code from DCB demosaic"
`5.5-131-g`04f8fc6cc prints timing results when using DCB demosaic.

[2019-02-25 13:28] heckflosse opened #5194 "Lensfun lens selection broken in latest windows builds."
In latest windows builds (nightly) and in my own windows build, the lensfun lens selection is broken.
If I want to select a Nikkor Ais lens I can't do that anymore, because the scroll-arrow at the bottom of the lens list is not available. Maybe a gtk issue?

Edit: works fine in official windows build of RT 5.5

Can other windows builders confirm? I'm on Windows7/64

![grafik](https://user-images.g

[2019-02-25 13:45] gaaned92 commented on #5194
Yes confirmed on W10 64.

[2019-02-25 14:44] Beep6581 commented on #5187
Branch `rawhistogram` seems to work fine, I tried a few things and the results made sense.

It would be nice if it was possible, i.e. if black levels were not subtracted then the left edge would represent 0, the right edge would represent whatever maximum the format's bit depth allows, and a black and white line would mark the black and white points, respectively.

[2019-02-25 15:06] TooWaBoo commented on #5194
Confirmed W10 x64 Home

[2019-02-25 15:11] heckflosse commented on #5194
@gaaned92 @TooWaBoo
Do you know what to downgrade to make it working again?

[2019-02-25 20:03] TooWaBoo commented on #5194
@heckflosse
I think you have to downgrade to:
`mingw-w64-x86_64-gtk3-3.22.30-1` and `mingw-w64-x86_64-gtkmm3-3.22.3-1`
All higher versions have some issues.

[2019-02-25 20:19] Hombre57 commented on #5185
@heckflosse The user have to restart RT if the Windows parameter change, but I think it's totally fine. :+1:  to commit.

[2019-02-25 20:22] Thanatomanic commented on #5185
@heckflosse I think your patch is fine to commit too. The alternative would be to make a toggle in the file dialog, but it's probably GTK that handles that...

[2019-02-25 22:48] #5193 closed, assigned to heckflosse

[2019-02-26 11:34] heckflosse commented on #5194
@TooWaBoo Thanks :+1:
Works fine after downgrading

[2019-02-26 12:21] #5185 closed, assigned to nobody

[2019-02-26 13:26] gaaned92 opened #5196 "Git checkout information discrepancy"
W10, building process

When building branches, it appears that the git checkout informations are not coherent:

It is the same with all branches I build.
There is no visible impact especially on AboutThisBuild.txt.

[2019-02-26 13:30] gaaned92 commented on #5194
@heckflosse @TooWaBoo
Do you think:
-  it is a bug in GTK3 that will be corrected by GTK3 people
-  or a modification of behaviour (a feature), requiring a modif in RT.
In the mean time, I am going to downgrade!
Thanks.

[2019-02-26 14:18] heckflosse commented on #5196
Confirmed

[2019-02-26 14:22] heckflosse commented on #5194
I think it is a bug in GTK3

[2019-02-27 11:57] heckflosse commented on #3018
CC has a background histogram

[2019-02-27 12:09] Beep6581 commented on #3018
Updated.

[2019-02-27 22:11] #4803 closed, assigned to nobody

[2019-02-27 22:27] Beep6581 commented on #3547
@Hombre57 let's re-think our source folder structure.

Our tree needs to facilitate:
* SVG files
  * Raw (containing text as text, and other things useful at design time)
  * Baked (containing just what's needed, text converted to paths, etc.)

In your HiDPI branch, do we still need to ship PNG files? If so, then the tree structure also needs to facilitate:
* PNG files made from these SVG files

[2019-02-28 00:06] Hombre57 commented on #3547
@Beep6581 The HiDPI branch works like this :
1. the dev ask for a png file (e.g. "foo.png")
2. RT look if it exist in the cache at the correct size, depending on the resolution
3. If not, it try to build it out of the bundled svg file
4. If no svg file exist, it tries to load a png file from the install dir
5. ...then fail

So as long as we provide all images as svg, no png need to be bundled anym

[2019-02-28 08:41] Floessie commented on #3547
@Hombre57 I see the 5.6 milestone here. I'd like to tackle #3636 for 5.6 and this branch seems to be in better shape for that than `dev`.

Is this branch currently bound for 5.6 or should I continue my work for #3636 on `dev`?

[2019-02-28 08:50] Hombre57 commented on #3547
@Floessie If it's not bound, it should be. I'll commit the RawTherapee theme tonight, @Beep6581 have to commit some svg files then we're done with it, so it's a matter of days.

[2019-02-28 08:51] Beep6581 commented on #3547
We have 2 weeks until a feature-freeze, so yes we will try to get this branch merged into `dev` within a few days.

[2019-02-28 09:48] Floessie commented on #3547
@Beep6581 As I'm away over the weekend, I'll start to dig into it next week at the earliest, but as the procedure for #3636 is known it shouldn't take too long to get it fixed. There might be some questions for @Hombre57 then, so I hope he is around.

[2019-02-28 10:14] Hombre57 commented on #3547
@Floessie I'm around.

[2019-02-28 21:28] heckflosse opened #5198 "xtrans border"
This issue is about improving xtrans border issues.

First part will fix a pattern which sometimes show up at the one pixel border of xtrans files as shown here using the example file from [here](https://discuss.pixls.us/t/flat-field-correction-pattern-noise/11578/3?u=heckflosse)

The screenshot clearly shows some artifacts at lower border
![grafik](https://user-images.githubusercontent.com/137334

[2019-02-28 21:42] heckflosse commented on #5198
Commit from above gives this border which is clearly better:
![grafik](https://user-images.githubusercontent.com/13733487/53600560-23a4e900-3baa-11e9-80f3-6f8ee0a93d83.png)

[2019-03-01 13:04] Beep6581 opened #5199 "Add new profile for saving unclipped images"
Needing unclipped images for subsequent adjustment after stitching, I went through RawTherapee and documented which tools and settings are incompatible with an unclipped pipeline, and explained how to create them. The result is a new bundled processing profile called "Unclipped". The documentation is written and available here:
http://rawpedia.rawtherapee.com/Unclipped
Screenshots pending.

[2019-03-01 13:37] heckflosse commented on #5198
Second part gives a tiny improvement for border inerpolation by using the same weights as in fast_xtrans_interpolate.

[2019-03-01 13:53] heckflosse commented on #5198
Third part adds an adjuster to allow user defined border for xtrans in the same range as it's already available for bayer
![grafik](https://user-images.githubusercontent.com/13733487/53642317-ce141f00-3c31-11e9-9f18-8f44ef2209b3.png)

[2019-03-01 14:25] heckflosse commented on #5198
@sguyader Sébastien, please test, if your time permits.

[2019-03-01 18:53] agriggio commented on #5199
@Beep6581 you also need a suitable output profile in order not to clip: either a v4 one, or V2 with a linear TRC

[2019-03-01 20:08] Beep6581 commented on #5199
@agriggio I assume you're not referring to the clipping of values outside of the [0;1] range, but to gamut clipping, correct? And we don't ship any v2 ICCs with a linear TRC, do we?

[2019-03-01 21:05] Beep6581 opened #5200 "Use v4 sRGB profile by default"
We once agreed ([1](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-389182186)) that RawTherapee should use the v4 ICC sRGB profile `RTv4_sRGB.icc` by default, and it did ([2](https://github.com/Beep6581/RawTherapee/issues/4478#issuecomment-403447200)), but today [I noticed](https://github.com/Beep6581/RawTherapee/issues/5199#issuecomment-468770894) that it no longer does. Commit

[2019-03-01 21:30] agriggio commented on #5199
@Beep6581 I'm not sure I understand what you mean... LCMS will clip to [0,1] if the profile has a LUT-based TRC (as opposed to a parametric one). This is what I meant. More info here:
https://ninedegreesbelow.com/photography/lcms2-unbounded-mode.html

[2019-03-01 21:32] agriggio commented on #5200
@Beep6581 I have no idea what the purpose of those options lines are, but I agree that they look strange at least.

[2019-03-01 23:00] TooWaBoo commented on #4148
FYI, Lensfun lens selection broken in latest windows builds.
https://github.com/Beep6581/RawTherapee/issues/5194

[2019-03-02 07:13] Desmis commented on #5200
@Beep6581
for rtSettings.srgb = "RTv4_sRGB";
to
rtSettings.srgb = "RTv2_sRGB";
Yes it is a mistake
For the other it is "normal"

I commit and push the change

[2019-03-02 13:07] sguyader commented on #5198
@heckflosse can you tell what to test exactly? What does the new slider do?
And you have a complete patch with all the new modifications?

[2019-03-02 14:15] Beep6581 commented on #5200
Thank you.

Could you please explain what the intention is behind changing for example `RTv4_Large` to `RTv2_Large` without the user knowing about this?

[2019-03-02 15:15] Beep6581 opened #5201 "Add button to close image even in SETM"
Would be nice if there was a button to close the image in the Editor, even in Single Editor Tab Mode.
Reasons:
* Free up RAM for the queue.
* Write the PP3 to disk now and close the image to avoid accidentally altering it later.

[2019-03-02 15:38] Thanatomanic commented on #5201
Do we really need this? I use SETM exclusively and have never felt the need for a close button.

[2019-03-02 16:24] Desmis commented on #5200
@Beep6581
LCMS does not allow to generate ICCv2 directly.
It is necessary to go through a "copy" of a similar version of a reference v2.
If you look to "Elle Stone" generator, you can look a similar process.

jacques

[2019-03-02 17:25] heckflosse commented on #5198
@sguyader
The slider just allows to use some pixels more than before at the borders. It's mainly for consistency (for bayer the slider was already available) but can give you some more space to e.g. distortion correct or straighten an image. The default value of 7 is the value used before changes. A value of 0 gives you 7 additional pixels at each border.

It's all in xtransborder branch.

[2019-03-02 17:57] Beep6581 commented on #5201
Yes, the only alternative is tediously restarting RawTherapee, and this is an improvement with no downsides.

[2019-03-02 18:03] Thanatomanic commented on #5201
If you are referring to accidentally altering an image, you can always go back in the history if you want to undo your edit before you open up another image.

Two more questions because I am skeptical:
1) What should you see when you close an image in SETM? Should the program send you back to the File Browser?
2) When using the filmstrip it makes very little sense in terms of workflow to be able t

[2019-03-02 18:14] sguyader commented on #5198
Ah ok, I didn't see that!

[2019-03-02 18:59] Beep6581 commented on #5201
Doing something accidentally sometimes implies not being aware of having done that thing. This feature takes that risk off the table.

It doesn't matter and I don't care.

It makes sense to me for the two reasons I listed in my first post.
Regarding RAM, see http://rawpedia.rawtherapee.com/The_Floating_Point_Engine#Memory_Requirements

They do what they need to given their circumstances. If having

[2019-03-02 23:03] sguyader commented on #5198
@heckflosse  Ingo it seems to work as expected.

[2019-03-03 06:15] Benitoite commented on #5201
I have to agree, being able to close out an image to finalize the .pp3 without having to reboot the software would be nice. 💈

[2019-03-03 14:28] heckflosse opened #5203 "Raw ca correction tiles per thread"
The raw ca correction is a tiled processing whith a chunk size of 1. That means a tile is assigned to a thread and when the thread finished the processing of the tile, a new tile is assigned to the thread until all tiles are processed.
Today I played a bit with the chunk size and detected tha a chunk size of 1 is not the best solution (on my system at least).

To simpilfy testing I created [a new

[2019-03-03 14:48] heckflosse commented on #5203
On my old dual-core laptop the best setting is 8 tiles per thread. But the speedup is only ~5%

[2019-03-03 15:07] ilya-varivchenko opened #5204 "Panasonic Lumix DC-S1 raw support"
These are raw files from Panasonic DC-S1

https://filebin.net/ugxofhllq0zh51ho/Panasonic-S1-NR-OFF.zip?t=xepqu64i
https://filebin.net/y7tzpq5r31yrxlen/Panasonic-S1-NR-ON.zip?t=10njyogo

Maybe RawTherapee will be the first converter to support this cool camera. :)

[2019-03-03 15:56] Thanatomanic commented on #5203
My results on my 8 ~core~ threaded i7 3770 for a Nikon D800 36.2 MP file. The effect is measurable, but rather minimal (n = 10 per bin).
![image](https://user-images.githubusercontent.com/6567747/53697775-17e93a80-3dd5-11e9-8b56-2a37f2fecfe9.png)

[2019-03-03 16:04] Thanatomanic commented on #5203
@heckflosse Disregard the data point at 32. I see now that it is impossible to go that far. I entered the value and clicked okay, but didn't see it got reverted to 16.

[2019-03-03 16:07] Thanatomanic commented on #5203
Second test run, this time with a smaller 18 MP file from a Canon EOS 4000D.
![image](https://user-images.githubusercontent.com/6567747/53697939-b629d000-3dd6-11e9-9f3c-6c1f35928a71.png)

[2019-03-03 16:32] heckflosse commented on #5203
@Thanatomanic Thanks for testing and feedback :+1:

I added the same for rcd demosaic.

My results for rcd demosaic using a D850 file on my FX8350 8-core

[code]

[2019-03-03 16:41] heckflosse commented on #5203
I accidently committed also a change to amaze demosaic (chunk size 8). That speeds up Amaze demosaic for a D800 file from 500 ms to 460 ms. No testing gui for that at the moment...

[2019-03-03 16:58] beatrubi opened #5205 "Custom Processing Profile Builder no longer called"
After the upgrade from 5.4 to 5.5 my [custom profile builder](https://rawpedia.rawtherapee.com/Preferences#Custom_Processing_Profile_Builder) is no longer called but the [default profile](http://rawpedia.rawtherapee.com/Preferences#Default_Processing_Profile) applied.

I use the custom profile builder to calculate distortion correction in my loved EF 70-210 from 1988 :-)

Affected is the latest st

[2019-03-03 17:43] heckflosse commented on #5203
Another examply for rcd demosaic. This time a 100 MP Phase-One file
[code]

[2019-03-03 17:49] Beep6581 commented on #5204
Ping @iliasg

[2019-03-03 18:49] heckflosse commented on #5203
@Thanatomanic Your and my results show that the current default of 1 for CA-correction is the worst case.
Even if it's a small improvement, all improvements sum up. Let's wait for tests from other contributors on different machines. Maybe we find a better default value than the current 1 which works fine on all machines we are testing on.

Same for rcd

[2019-03-03 19:58] heckflosse commented on #5205
ping @agriggio

[2019-03-03 22:09] Beep6581 commented on #5203
CPU: x86_64 Intel(R) Core(TM) m3-6Y30 https://ark.intel.com/content/www/us/en/ark/products/88198/intel-core-m3-6y30-processor-4m-cache-up-to-2-20-ghz.html
8GB RAM

Tested tiles per thread for raw CA: 1, 2, 4, 8, 16.
10 runs each time, with noting unnecessary running in the background.

The line represents the median:
![chart](https://user-images.githubusercontent.com/5844619/53702630-3bc67380-3e09

[2019-03-03 22:40] seadra commented on #5178
@Beep6581

He's asking for two raws of the same scene, and suggested using a tripod [in the comment](https://github.com/Beep6581/RawTherapee/issues/4830#issuecomment-464424277), which I don't have. I can upload single RAF file (along with the JPG generated by the camera) if that'd be useful.

[2019-03-03 22:53] seadra commented on #5178
I don't think b37f545 fixes this issue, because this happens with non-SN images as well (for example, the image in my [comment above](https://github.com/Beep6581/RawTherapee/issues/5178#issuecomment-464386349) doesn't have any additional sub-images)

[2019-03-03 23:18] Beep6581 commented on #5178
@seadra take photos of a scene for each mode your camera has (normal raw + SN + whatever other mode it may have) and upload to RPU. Don't worry about the tripod if you don't have one.

[2019-03-03 23:58] heckflosse commented on #5178
Closed

[2019-03-04 00:01] seadra commented on #5178
@Beep6581 OK, I will do that.

@heckflosse Why did you close this issue? It is not about SN.

[2019-03-04 19:54] heckflosse commented on #5178
@seadra

Can you provide such a RAF please?

[2019-03-05 00:44] heckflosse commented on #5203
Changing the scheduling also give a small performance boost for rgbproc(). I will add a commit (for tests) soon.

[2019-03-06 13:55] heckflosse opened #5206 "Inline DCPProfile::hsdApply() to speedup applying dcp profiles"
I measured using a FUJIFILM GFX 50R raw with this pp3
[inline_hsdapply_test.pp3.txt](https://github.com/Beep6581/RawTherapee/files/2936514/inline_hsdapply_test.pp3.txt)

processing times before
[code]
processing times after
[code]

[code]

Edit: I just updated the patch because it threw some warnings.

[2019-03-06 20:21] agriggio commented on #5205
I just tried locally and everything works fine here. I'm not on `dev`, but I don't remember having changed anything that could affect this. However, I'll double check on `dev` as soon as I have the chance.

[2019-03-06 21:53] direvius commented on #4128
Reproduces on RT 5.5 macOS 10.14.3 with cyrillic symbols in path.

[2019-03-06 22:16] Benitoite commented on #4128
@direvius can you post the system crash report?

[2019-03-06 22:35] Manuel-K commented on #5157
Similar problem for Pentax cameras – only it says “M-42 or No Lens” instead of “unknown”.

[2019-03-07 08:25] Floessie commented on #5157
@Bezierr Could you provide me with a tagged file of yours via filebin?

[2019-03-07 08:35] Manuel-K commented on #5157
Here is a crappy Pentax sample that has Exif.Photo.LensMake and Exif.Photo.LensModel tagged via exiv2: https://filebin.net/z9vxw68mz6p0bdkp

[2019-03-07 09:25] Floessie commented on #5157
@Manuel-K Thanks. In your case (Pentax) the `LensType` tag is used and this is set to "M-42 or No Lens" by your camera. I'd suggest to modify the `LensType` instead of or in addition to `LensMake` and `LensModel`.

I'm still interested in a file that yields "Unknown" when `LensMake` and `LensModel` are set.

[2019-03-07 09:52] Manuel-K commented on #5157
@Floessie: That's not possible because Exif.Pentax.LensType is not a string, but a four byte wide identifier.

[2019-03-07 09:55] Manuel-K commented on #5157
The value is hardcoded in https://github.com/Beep6581/RawTherapee/blob/c85dc2811b132198223607ad600df171d1ff543f/rtexif/pentaxattribs.cc#L704

[2019-03-07 09:55] Floessie commented on #5157
@Manuel-K Ah, sorry. I was looking at the code where it's already stringified. Preparing a patch...

[2019-03-07 10:10] Floessie commented on #5157
@Manuel-K
[code]

[2019-03-07 18:31] Manuel-K commented on #5157
Thank you. I've built and installed a patched Archlinux package. I've added more test images to pastebin.

The last block was never triggered. Are you sure that it's a good idea to change the order of the expressions? Now LensInfo is more important than LensModel and LensModel does not work at all if LensMake is not set.

For my K-70 samples, I needed to add an else branch to the second block that

[2019-03-07 18:33] Floessie commented on #5157
Pushed directly to `dev`.

@Bezierr @Manuel-K Please test.

[2019-03-07 18:34] Manuel-K commented on #5157
Have you read my previous message?

[2019-03-07 18:35] Floessie commented on #5157
No it clashed...

[2019-03-07 18:37] Manuel-K commented on #5157
I'm still tinkering with my version of the second block.

[2019-03-07 18:39] Manuel-K commented on #5157
Okay.
[code]
seems to work as I would expect it.

[2019-03-07 18:41] Manuel-K commented on #5157
Unmodified images from K-20d and K-70 both display “M-42 or No Lens” and if LensMake and LensModel are set it displays them for all my test files.

[2019-03-07 18:43] Manuel-K commented on #5157
The lens information in the file browser is still a mess. It's a mixture of LensMake and LensModel for the modified K-20d JPEG, “M-42 or No Lens” for the tagged K-70 DNG and Unknown for everything else.

[2019-03-07 18:47] Floessie commented on #5157
@Manuel-K Please provide a patch against current `dev` with your findings.

I'll revert this to the old behavior. Good catch. :+1:

[2019-03-07 18:55] Manuel-K commented on #5157
[code]

[2019-03-07 18:57] Floessie commented on #5157
You need to clear the cache...

Thanks for the patch. :+1:

[2019-03-07 19:01] Manuel-K commented on #5157
Great. I didn't realize that the metadata is cached as well.

[2019-03-08 00:45] #5206 closed, assigned to heckflosse

[2019-03-08 00:47] heckflosse commented on #5198
Fixed with 520a3709bf426ebdace39a12f5dd08fee6f75feb
Closing

[2019-03-08 00:47] #5198 closed, assigned to heckflosse

[2019-03-08 11:39] Beep6581 commented on #4135
I want to close this issue one way or another.

There is no way of having those lens IDs automatically generated on update, for the reason expressed by Phil Harvey of ExifTool:

We could append these IDs to the map manually, but separately from the automatically generated section. @heckflosse would this be ok?

[code]

@Kildor could you upload the sample files again please?

[2019-03-08 11:44] Beep6581 commented on #4843
Still valid in `5.5-164-g`540e35994.

[2019-03-08 11:44] Beep6581 commented on #4843
Patch does not apply.

[2019-03-08 12:03] Floessie commented on #4843
There's a reason for not leaving patches lying around for too long...

I can't even remember what I did and why, but I know that I'll take #3636 on this weekend, so I won't be of help here.

Best,
Flössie

[2019-03-08 12:14] Beep6581 commented on #5157
Tested and seems to be working correctly.

I could run my `samyang` Bash script on @Manuel-K 's [DNG files](https://github.com/Beep6581/RawTherapee/issues/5157#issuecomment-470434186) and RawTherapee would now show the lens name as "Samyang Samyang 8mm f/3.5 Fish-Eye CS" and that lens would be automatically selected in the Lensfun combo.

However, I could not do the same to my own
RawTherapee show

[2019-03-08 12:15] Beep6581 commented on #5157
Ah, here's the `samyang` Bash script:
[code]

[2019-03-08 12:21] Beep6581 commented on #4843
Indeed, as the Igbo chieftain Albert Chinụalụmọgụ Achebe wrote, "Things Fall Apart".

[2019-03-08 12:25] Beep6581 commented on #5200
Thank you @Desmis
Closing as fixed.

[2019-03-08 12:25] #5200 closed, assigned to Desmis

[2019-03-08 12:37] Floessie commented on #5157
@Beep6581
[code]

[2019-03-08 15:13] Bezierr commented on #5157
@Floessie Here: [https://filebin.net/dd6h6iiizkbkf7k1/DSC06838.ARW?t=tpcfjqx7](https://filebin.net/dd6h6iiizkbkf7k1/DSC06838.ARW?t=tpcfjqx7)

Lens Name should read "Vario-Sonnar 3.4-35_70 mit Speedbooster".

Sorry, can't test myself since I do not yet have a 64bit machine.

Best regards,
Bezierr

[2019-03-08 17:03] gaaned92 commented on #5157
@Bezierr @Floessie
Last dev W10
it reads "Unknown".
Perhaps lensMake is missing?

[2019-03-08 17:24] Bezierr commented on #5157
That is correct; I haven't used lensMake so far. If that were required, however, I could do so in the future.

The same image with lensMake set to "Zeiss":
https://filebin.net/etee88gnuq42rnew/dsc06838_with_lensmake.arw?t=k2jt8s4j

[2019-03-08 17:31] gaaned92 commented on #5157
@Bezierr @Floessie
branch dev 5.5-164-g540e35994
I still get Unknown

[2019-03-08 18:06] Beep6581 commented on #5157
First, off-topic, @Bezierr based on https://www.zeiss.com/content/dam/camera-lenses/files/service/download-center/datasheets/historical-lenses/contax-yashica/datasheet-zeiss-vario-sonnar-343570-en.pdf I would use:
[code]

As for "Unknown", this seems to improve that:
[code]
![screenshot_20190308_190515](https://user-images.githubusercontent.com/5844619/54046586-21a7df00-41d5-11e9-95ea-ca7cf6c39268

[2019-03-08 19:31] Beep6581 commented on #5157
@Floessie thank you. Expanding on that to other vague strings and covering other makes, maybe something like this?

[code]

[2019-03-08 19:34] Beep6581 commented on #5157
I added some more files to https://filebin.net/42wb7jdma8rygpqf

[2019-03-08 19:44] Manuel-K commented on #5157
There are some more Pentax potential Pentax strings:

https://github.com/Beep6581/RawTherapee/blob/c85dc2811b132198223607ad600df171d1ff543f/rtexif/pentaxattribs.cc#L985

https://github.com/Beep6581/RawTherapee/blob/c85dc2811b132198223607ad600df171d1ff543f/rtexif/pentaxattribs.cc#L991

https://github.com/Beep6581/RawTherapee/blob/c85dc2811b132198223607ad600df171d1ff543f/rtexif/pentaxattribs.cc#L963

[2019-03-08 19:46] Manuel-K commented on #5157
Also, it might be a good idea to make `lens_from_make_and_model()` fall back to LensModel if LensMake is not defined.

Remember: The fallback path used to use only LensModel before the first change.

[2019-03-09 09:05] Floessie commented on #5157
@Beep6581

Sure. Commit right ahead.

@Manuel-K

Either we duplicate magic numbers or we duplicate meaningful names. I'd go for the latter. (And yes, I'll change that in `lens_from_make_and_model()`, too.)

@Manuel-K

https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imagedata.cc#L310

[2019-03-09 09:37] Manuel-K commented on #5157
@Floessie I keep forgetting that you commited something else than what you posted here. Sorry about that.

[2019-03-09 09:54] Floessie commented on #5157
@Manuel-K All is in flux. :smile:

[2019-03-09 11:11] Floessie commented on #3636
@mandree Could you re-test `hidpi-icons` again?

[2019-03-09 11:13] Floessie commented on #4843
@Thanatomanic Roel, do you have some time left to port my patch to current `dev` for 5.6?

[2019-03-09 12:42] mandree commented on #3636
@Floessie it appears that 51f06dfa6 ```Explicitly destroy static Glib::RefPtr<>`s on exit (fixes #3636)``` shuts down properly now, without SIGABRT, with initial quick testing (i. e. open file browser, open image and process, and quit from there, or return to file browser, and quit from there).

We should certainly test some more, also on other platforms; I've only given FreeBSD 12.0-RELEASE on am

[2019-03-09 13:17] Floessie commented on #3636
@mandree

:tada: Thanks for testing!

We take care of that during the -rc1 cycle (I usually test on Debian for amd64, i386 and powerpc with GCC and Clang). Others test for different platforms. The scope of this issue is FreeBSD.

Would you like to take the role of the BSD tester for RT? This means you would occasionally compile `dev` from source and report problems back here (basically what you've

[2019-03-09 15:41] mandree commented on #3636
@Floessie: testing and patches on FreeBSD is one thing that I might occasionally do (feel free to ping me on IRC, I am usually around as m-a), however I do not care much about writing build instructions, because that means double effort: For FreeBSD, we have port and package described here https://freshports.org/graphics/rawtherapee/ and its Makefile contains everything I know, and about pkgsrc or

[2019-03-09 15:42] Beep6581 commented on #5157
Vague or questionable values,
* Canon
[code]
* Nikon
[code]
* Pentax
[code]
* Sony
[code]

Adding them by name is no good, because strings can and do change. And even by ID, this is still quite an un-maintainable list.

I'm thinking that a better solution would be to add a "Lens info priority" option to Preferences, where the user can select whether to prioritize MakerNotes or Exif (`LensMake` and

[2019-03-09 16:13] Floessie commented on #5157
@Beep6581

Yes.

What do you think?

Good idea. :+1:

So, shall we close this issue with the progress made so far for 5.6 and start a new issue for the preferences? If so, please commit your changes.

Best,
Flössie

[2019-03-09 16:17] Manuel-K commented on #5157
Another option relying on strings would be (at least for Pentax) to check if the LensInfo contains “Lens”

[2019-03-09 16:20] Beep6581 commented on #5157
@Floessie agreed. I have no outstanding changes after commit 2c9dc32.

[2019-03-09 16:28] seadra commented on #5178
Sure thing, I attached the RAF and the JPG from that comment:
[dscf.zip](https://github.com/Beep6581/RawTherapee/files/2948585/dscf.zip)

[2019-03-09 16:34] Beep6581 commented on #4843
Patch from above formatted for `5.5-165-g`2c9dc3202
[code]

It compiled and worked well, Exif was shown for both D30 and 300D.

@Floessie I just ported the patch to apply to latest git and nothing more, so I'll leave it to you and @Hombre57 to decide what to do with it.

[2019-03-09 17:51] heckflosse commented on #5203
To simplify testing I added tiles per thread for some other tiled algorithms:
![grafik](https://user-images.githubusercontent.com/13733487/54075163-4c109f80-429c-11e9-81ca-361a381ca1c2.png)

I also added a 'Measure' checkbox to log timings in console

Edit: also added a helper function to recuce duplicated code in rtgui/preferences.cc....

[2019-03-09 20:16] Hombre57 commented on #4843
@Beep6581 @Floessie Works fine, as you found out. I didn't made the `if (has_rml_exif_base)` test, and didn't tried to see what are the implication, so I'm not the one who knows here. Anyway, :+1: to commit for me.

[2019-03-09 21:55] heckflosse commented on #5203
Some infos to this branch:

1) I don't intend to get this into 5.6
2) For all tiled processings I tested, the current (dev) default of 1 has the worst processing time.
3) The optimal value highly depends on the machine RT is running on.
4) on my machine the optimal value is 6 except for Amaze where it's 7
5) the optimal value also depends on image size. For example demosaicing a 1920x1080 file usi

[2019-03-09 22:49] heckflosse commented on #5203
Some timings from my AMD FX8350 8-core measured on a Nikon D850 file (always median of 7 measures)

rgb processing using neutral profile

1 tile per thread : 403 ms
6 tiles per thread: 332 ms

amaze demosaic

1 tile per thread : 634 ms
6 tiles per thread: 585 ms

rcd demosaic

1 tile per thread : 573 ms
6 tiles per thread: 495 ms

raw ca correction 2 iterations with avoid color shift enabled

1 ti

[2019-03-10 10:37] Floessie commented on #5157
Okay. Thanks for all input and fixes. Closing.

[2019-03-10 10:37] #5157 closed, assigned to Floessie

[2019-03-10 10:42] #4843 closed, assigned to nobody

[2019-03-10 12:00] Thanatomanic opened #5207 "Crash on opening JPEG (glibmm-ERROR)"
![50276032-f7564900-0451-11e9-8489-baad88a8a04c](https://user-images.githubusercontent.com/6567747/54084698-4cf51000-4334-11e9-8276-6a014fbe927c.JPG)
Opening this image from #5109 in RT gives me the following crash info (current dev on fully updated MSYS2 Win10):

[code]

I'm pretty sure this crash didn't happen before because #5109 was solved.

[2019-03-10 12:02] Thanatomanic commented on #4843
@Floessie Thanks for the fix. I didn't have time to test, but things seem to work now.

[2019-03-10 12:10] Thanatomanic commented on #5207
What is even weirder is that now that I've cleared the cache, the image does not even show up anymore in the file browser.

I just checked with the 5.5 Release version. No problems there.

[2019-03-10 12:13] Thanatomanic commented on #5207
The plot thickens: if I resave the image but strip the EXIF data it shows up and loads without problem. So, there must be some fallout from recent changes...

[2019-03-10 12:16] Floessie commented on #5207
@Thanatomanic Should be easy to bisect... I can help with a fix.

[2019-03-10 12:20] Thanatomanic commented on #5207
Working on it (and learning to bisect...) 😄

[2019-03-10 12:54] Thanatomanic commented on #5207
@Floessie The result of the bissection is this:

Bisecting: 0 revisions left to test after this (roughly 0 steps)
[70475f781aaddf49b7392236a38fe0bb7258a0a2] Derive lens name from 0xA434 and 0xA433 if other means fail (#5157)

Can you take a look?

[2019-03-10 13:04] Floessie commented on #5207
@Thanatomanic Came to the same conclusion.

It's [this line](https://github.com/Beep6581/RawTherapee/commit/70475f781aaddf49b7392236a38fe0bb7258a0a2#diff-d4c7b8ac138bac4d4484e473c84a6307R447). But it doesn't crash on every run and is hard to nail down.

The buffer handling in `rtexif` has always been a mess. I think we have a buffer overflow in one of the `toString()`s...

[2019-03-10 13:19] beatrubi commented on #5205
Thanks for testing, @agriggio - I did some tracing with the prebuilt binary (Version: 5.5, Commit: d9ac23555) using trace in the hope to understand the stuff somewhat better.

The temporary file with parameters is written:
[code]

A few syscalls later a child is forked:
[code]
The child doesn't do many things and dies silently. It's reaped by the parent with wait().

The temporary file is then rem

[2019-03-10 14:06] Floessie commented on #5207
@Thanatomanic I've not found the real culprit. `Tag::toString()` behaved as expected. Nevertheless, there seems to be a side effect when skipping [this `if`](https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/imagedata.cc#L454).

Oh, wait: `lens.substr(lens.find(' ')).length() < 7` is buggy. `std::string::substr()`'s first parameter must be within range. Roel, could you fix that, as I'm AFK

[2019-03-10 14:11] Thanatomanic commented on #5207
@Floessie I'll check

[2019-03-10 14:31] Thanatomanic commented on #5207
@Floessie Your fix c240558 solved the crash allright. And is this something you were thinking of for the other fix?

[code]

[2019-03-10 18:03] mbaz commented on #3970
I'm also seeing this problem in Windows 10 (with all current updates) and RT 5.5. However, the problem is intermittent. I believe that it tends to happen when RT is not in Desktop 1 (I use windows with three desktops, and have RT on Destkop 2), after resuming from suspend. I'll add more information if I can reproduce this more consistently.

[2019-03-10 19:56] nikonshooter commented on #3317
I would also like the ability to sort thumbnails by date/time.

[2019-03-11 01:00] Beep6581 commented on #3547
@Hombre57 I committed the updated SVG images, which now contain on-canvas text-as-paths, and the original text off-canvas.

[2019-03-11 01:24] Beep6581 commented on #3547
I spent a lot of time redrawing all icons, and one of the goals was to have them sharp, which means that paths are aligned with pixel boundaries in the SVG. Here's a simple example - the green histogram "off" icon:
![screenshot_20190311_020326](https://user-images.githubusercontent.com/5844619/54094540-01794b00-43a2-11e9-903a-ce078baf96c5.png)
The black line is exactly 1 pixel wide, so without sca

[2019-03-11 07:30] Floessie commented on #5207
@Thanatomanic Exactly. :+1:

I've modified your patch a bit to keep the previous behavior. Feel free to commit it, otherwise I'll do it tonight.

[code]

Best,
Flössie

[2019-03-11 15:03] Hombre57 commented on #3547
@Beep6581 As requested by @TooWaBoo , the icon size is now scaled by the DPI factor (x1 or x2) AND the font size relative to 9pt base font size. E.g. : scale for HiDPI with 12pt font = size x 2 x 12/9 = 2.66666

I think there are spaces that can be optimized in the updated theme of your second screenshot (and I'll address that as much as I can before committing), but probably due to your font size

[2019-03-11 15:04] Hombre57 commented on #3547
@Beep6581 PS: We could probably find a mechanism to avoid the font size factor for some icons if you want.

[2019-03-11 16:19] Beep6581 commented on #3547
The font size in both screenshots was 10pt. Using a font size of 9pt the icons are sharp, so that's fine, let's just ensure that 9pt is the default on a new installation (it's currently 10pt: https://github.com/Beep6581/RawTherapee/blob/hidpi-icons/rtgui/options.cc#L343).

This solution already does things against the spec, so let's not complicate things more. The fewer tricks, the less chance a G

[2019-03-11 17:01] Beep6581 commented on #3547
I tested `5.5-178-g`7a84ae40f, here are some issues I noticed:

1. The font style (the style, not the font itself) RawTherapee uses is wrong. For example, Courier New Regular looks like this:
![screenshot_20190311_171450](https://user-images.githubusercontent.com/5844619/54139255-717ae600-4421-11e9-9a1a-08c53ace706e.png)
If I now change it to Courier New Bold Italic and hit OK, nothing changes. Th

[2019-03-11 18:02] xendez opened #5210 "New Portuguese (pt) translation"
Hi,
here it is the Portuguese translation: [Portugues.txt](https://github.com/Beep6581/RawTherapee/files/2953613/Portugues.txt)

Started working on Brazilian Portuguese translation, improved, translated the remaining untranslated strings, compared to the original in English and tested. Can be considered the version used in all Portuguese speaking countries (Portugal, Angola, Mozambique, East-Timor

[2019-03-11 18:06] Beep6581 commented on #3547
Ah, I see the initial font size seems to come from the system:
https://github.com/Beep6581/RawTherapee/blob/hidpi-icons/rtgui/preferences.cc#L56
so the default `fontSize` in `options` is no longer used.

[2019-03-11 18:29] xendez opened #5211 "Problems and suggestions in RawTherapee interface translation"
While I was translating to Portuguese (pt) I've found the following problems:

* The following strings are centered on interface, should be aligned to the left like the others:
  * PREFERENCES_PROFILESAVELOCATION;Processing profile saving location.
 Also the other strings in this "block"...
  * TP_RESIZE_METHOD;Method:
  TP_RESIZE_SPECIFY;Specify:
  TP_RESIZE_APPLIESTO;Applies to:
  I think these

[2019-03-11 18:55] Beep6581 commented on #5210
Hey @xendez

There is no "Portugues (Brasil)" in [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), so please help clarify:
- Is our file titled "Portugues (Brasil)" really in the [Brazilian dialect](https://en.wikipedia.org/wiki/Brazilian_Portuguese)?
- Is your file in "Brazilian Portuguese" or in the proper ISO 639-1 "pt" Portuguese?

[2019-03-11 18:58] Beep6581 commented on #3547
Relatively good news: the font style issue is also present in `dev`.

[2019-03-11 19:14] xendez commented on #5210
You are correct in both. The file I uploaded is in the proper ISO 639-1 "pt" Portuguese. And the existing file "Portugues (Brasil)" is really in the Brazilian dialect.
The situation is a bit like English USA / UK / and others, but the differences are a bit more that those.

There is no ISO 639-3 code for Brazilian dialect, since it is in fact Portuguese language. And although there are other Portu

[2019-03-11 19:51] Hombre57 commented on #3547
@Beep6581

The pros of my solution is that it totally override Gtk's handling of HiDPI and we're free to tailor it at will.

The cons is that Gtk still use a 1:1 scaled Adwaita icons (because I forced that scale). That's a trade-off you have to validate before the commit. I recall that I've no problem to drop the branch entirely.

I have to investigate a little bit to know how to handle font weigh

[2019-03-11 20:12] #5207 closed, assigned to Floessie

[2019-03-11 23:00] Beep6581 commented on #5210
@xendez thank you. I re-generated your file, maybe you'd like to translate the last few new strings before I commit (they're at the end of the file, and they're are not in English* yet, but they will be in a few days):
https://filebin.net/y1gnao2sx6vdzcyy

[2019-03-12 00:11] xendez commented on #5210
Here it is.
[Portugues.txt](https://github.com/Beep6581/RawTherapee/files/2954711/Portugues.txt)

[2019-03-12 00:52] xendez opened #5212 "Update Brazilian Portuguese (pt-br) translation"
[Portugues (Brasil).txt](https://github.com/Beep6581/RawTherapee/files/2954743/Portugues.Brasil.txt)

Here it is the Brazilian Portuguese (pt-br) translation. Note that I'm not a native Brazilian so this should be reviewed one day by a native. But probably my changes are 100% correct or near that. I don't feel comfortable translating long sentences in Brazilian dialect so I left some of them untra

[2019-03-12 04:34] hafilax opened #5213 "Crash when in save file dialog and searching the files by typing"
In the "save image" dialog, if one of the files in the folder is selected and I start typing the system crashes. It looks like it is attempting to search the folder. If I make sure to click on the text entry field it does not crash.

Late 2010 Macbook
Mac OSX 10.13.6
[code]

[2019-03-12 08:03] direvius commented on #4128
[raw_therapee_crash.txt.zip](https://github.com/Beep6581/RawTherapee/files/2955690/raw_therapee_crash.txt.zip)

[2019-03-12 08:06] Desmis opened #5214 "Diificulties to merge branch "newlocallab" with "dev" - procparams ?"
@Floessie
I tried to merge "newlocallab" with "dev".
I used for that
git mergetool

I am not able to merge due (I think) to the changes in procparams.
I read #5197
I include for testing
 #include "procparams.h" in "iplocallab.cc"

I change in "improcfun.h"
const LocallabParams &loc
by
const procparams::LocallabParams &loc

But LocallabParams is ignored

Can you help me.
Thank you

Jacques

[2019-03-12 10:37] Benitoite commented on #4128
Thanks.  In 2 weeks I’ll be at home from overseas vacation and able to try things out.  First thing to try is upgrading to the newest Cairo version, and add more quartz flags to its configuration.

[2019-03-12 11:47] Floessie commented on #5214
@Desmis Jacques, sure. Can you push a new branch with your current merge work, so that I can take a look?

[2019-03-12 12:15] Beep6581 commented on #5213
@hafilax please try the latest `dev` development build from https://discuss.pixls.us/t/download-rawtherapee-development-builds/2924
If you can still reproduce it, let us know which version of the development build you used, and ideally provide a stack backtrace as described here:
http://rawpedia.rawtherapee.com/How_to_write_useful_bug_reports#When_RawTherapee_crashes_-_An_introduction_to_stack_bac

[2019-03-12 12:24] Desmis commented on #5214
@Floessie
I just push a new branch "localparam" with my "try"

I changed "manually"
* iplocallab.cc
* improcfun.h
* locallab.cc
* controlspotpanel.cc
* improccoordoinator.cc
* paramsedited.cc

Others files have been merge either "auto", either with "mergetool"

Thank you for your help.

I will be away this afternoon
Jacques

[2019-03-12 12:28] Floessie commented on #5214
@Desmis Thanks, I'll have a look within the next few days.

[2019-03-12 13:03] heckflosse commented on #5214
@Desmis @Floessie I'll take a look now

[2019-03-12 13:58] heckflosse commented on #5214
@Desmis Jacques, I merged and pushed to newlocallab. I hope all works correctly. Please test.

Ingo

[2019-03-12 14:19] Floessie commented on #5214
@heckflosse Ingo, thanks! :+1: I'm a bit busy ATM...

[2019-03-12 14:47] heckflosse commented on #5214
@Desmis Jacques, please take a look at this lines:
https://github.com/Beep6581/RawTherapee/blob/newlocallab/rtgui/partialpastedlg.cc#L665

There I used a different solution to get the number of spots. I hope that's correct.

[2019-03-12 16:09] Desmis commented on #5214
@Floessie
thanks for taking my request into consideration

@heckflosse
Ingo, thank you very much, you are always as "Lucky Luke" faster than its shadow
All seems to works fine (to verify!)

I test your change above for "partialpaste"
1) it works fine when, I copy then paste
2) the system crash, when I copy then partial paste "locallab"
It's not my code, but that of @pandagrapher

jacques

[2019-03-12 16:35] heckflosse commented on #5214
Maybe @Pandagrapher can have a look...

[2019-03-12 16:44] okoncevoy commented on #5213
I have reproduced this issue building yesterday dev.
[code]
I also have backtrace, but I've got it using lldb.
[code]
I hope, that I will take a deeper look at it during this week.

[2019-03-13 06:09] Pandagrapher commented on #5214
@Desmis
I won’t be able to have a look at it before this WE. I have just quickly looked at the merge commit. Maybe the crash is due to updates of lines 665 and 667 in partialpastedlg.cc: try replacing `srcPE` by `srcPP`. These lines are for when srcPE doesn’t exist and so that’s why I use `srcPP` instead

[2019-03-13 07:53] Desmis commented on #5214
@Pandagrapher
I have tried to replace "srcPE" by "srcPP", but it does not work

jacques

[2019-03-13 13:06] heckflosse commented on #5214
@Desmis Jacques, I just pushed a fix

[2019-03-13 15:14] Desmis commented on #5214
@heckflosse
Ingo
I just tested. it works fine
Thank you very much

jacques
@Pandagrapher

[2019-03-13 15:33] heckflosse commented on #5214
@Desmis Ok to close?

[2019-03-13 15:53] Desmis commented on #5214
@heckflosse
OK

[2019-03-13 15:57] #5214 closed, assigned to nobody

[2019-03-13 18:58] kenogo opened #5217 "Weird grainy images when exporting (all file formats) or zooming in"
**Version:** 5.5
**OS:** Manjaro Linux (Kernel 4.19.28-1)
[**Link to files**](https://cloud.taxinachtegel.de/s/43RqcE8SEk24e4j)

When I zoom into the picture opened in RawTherapee (no matter if I edited it or not), it becomes very grainy and "colorful" after a certain zoom amount. I don't really know how to describe it. Check out `screenshot-zoomed-in.png` in the provided link to see for yoursellf

[2019-03-13 19:07] kenogo commented on #5217
I just found out my mom's RawTherapee version. I'll try to build that one and check if the problem persists on my machine.

[2019-03-13 19:25] heckflosse commented on #5217
@kenogo I don't know why it looks good in old RT 4.2, but it's definitely caused by sharpening settings.
Radius 1.34 in combination with amount 1000 is really strong.

Can you please check the amount value in RT 4.2? Perhaps it's an incompatibility with old .pp3 file.

![grafik](https://user-images.githubusercontent.com/13733487/54308308-0b7f9180-45ce-11e9-9fb6-72c0eef3bcb9.png)